[2017-03-12 13:51] LorenzMeier commented on #6651
@western-co-at Can you try to set up your throttle ranges correctly as described here?
https://dev.px4.io/land-detector.html

In addition: LPE is a developer setup and you might need to dive into the code to ensure it all works. We are maintaining EKF2 right now as the standard community / user version which gets tested. Land detection on master and with EKF2 is well tested and reliable.

[2017-03-12 14:02] zouboan opened #6791 "a error when make px4esc-v1_default"
when i build the firmware of px4esc-v1 using:
make px4esc-v1_default
there's a error:

make[3]: *** No rule to make target `src/firmware/nuttx/firmware_nuttx.bin', needed by `org.pixhawk.px4esc-v1-1.6-0.1.8c9f27bb.uavcan.bin'.  Stop.
make[2]: *** [CMakeFiles/build_uavcan_bl_px4esc-v1.dir/all] Error 2
make[2]: *** Waiting for unfinished jobs....
[  1%] Built target git_nuttx
[  1%] Built target git

[2017-03-12 14:30] LorenzMeier opened #6792 "PX4 SITL running busy"
@bkueng SITL runs busy on master. I don't have named threads yet, but one of them seems to just run in a tight loop.

<img width="236" alt="screen shot 2017-03-12 at 15 29 16" src="https://cloud.githubusercontent.com/assets/1208119/23832624/d3d9d9e6-0738-11e7-948a-e3beab53a0ba.png">

[2017-03-12 14:39] davids5 commented on #6613
@dcabecinhas

Yes we will have to scrutinise this on a case by case basis to see if there are any that are real issues.

I do not think there are because the up_assert.c is just displaying memory after a hard fault and establishing a word alignment for the %08 printing,

In a  hard fault situation, what is at the TOS is not what we care about and seeing extra words there is OK.  We do care about t

[2017-03-12 14:54] zouboan commented on #6791
When i remove following code：

px4_nuttx_make_uavcan_bootloadable(BOARD ${BOARD}
 BIN ${CMAKE_CURRENT_BINARY_DIR}/src/firmware/nuttx/firmware_nuttx.bin
 HWNAME ${uavcanblid_name}
 HW_MAJOR ${uavcanblid_hw_version_major}
 HW_MINOR ${uavcanblid_hw_version_minor}
 SW_MAJOR ${uavcanblid_sw_version_major}
 SW_MINOR ${uavcanblid_sw_version_minor})

the make can be passed,why?
and what does it affect aft

[2017-03-12 15:05] LorenzMeier commented on #6791
Run `make distclean` (and ensure to back up your work before).

[2017-03-12 15:05] #6791 closed

[2017-03-12 15:17] zouboan commented on #6791
Run make distclean and then make px4esc-v1_default
the error still appears after

[2017-03-12 15:24] LorenzMeier commented on #6792
Commit 01541bb10d98f17c44cb11a118bba3df49d5ddd6 is affected (March 3). Commit 51c8e905085cab9fe73f204b0fcdd0c43130c7a2 is affected as well.

[2017-03-12 15:26] LorenzMeier commented on #6792
Similar results in Gazebo (above is jMAVSim):

[code]

[2017-03-12 15:51] zouboan opened #6794 "Error when calling px4_nuttx_make_uavcan_bootloadable"
If run：
make esc35-v1_default
or
make px4esc-v1_default
or
make s2740vc-v1_default
or
make px4cannode-v1_default

there will coming a same error:
make[3]: *** [  1%] No rule to make target `src/firmware/nuttx/firmware_nuttx.bin', needed by...

and if remove the calling of px4_nuttx_make_uavcan_bootloadable in the ./cmake/configs/*.cmake,the bilud will be passed!

[2017-03-12 16:29] LorenzMeier commented on #6792
Getting the thread name is quite convoluted. Making the assumption that these are in-order (which is most likely true:

[code]
and

[code]

I'm not sure what to conclude yet.

[2017-03-12 20:31] AndreasAntener opened #6796 "UAVCAN ESC don't seem to respond the way they should"
http://logs.px4.io/plot_app?log=155832f2-b37e-44ae-a81e-fb9c8dd5de02

![screen shot 2017-03-12 at 21 11 54](https://cloud.githubusercontent.com/assets/5750020/23835588/55e519ec-076a-11e7-8c20-6f393051fda3.png)

Using: https://github.com/PX4/Firmware/pull/6795

This log shows a VTOL flight where the vehicle lost attitude and height control after the back transition. Observations:
- power consumptio

[2017-03-12 20:57] LorenzMeier commented on #6796
Were you flying with Sapog or PX4esc? Those are two different codebases. It seems like Sapog might have had spinup issues:

https://github.com/PX4/sapog/pull/22

[2017-03-12 20:59] LorenzMeier commented on #6796
@pavel-kirienko Can you chime in?

[2017-03-12 20:59] AndreasAntener commented on #6796
Hm, not sure, the quad setup from Michael/Mathieu?
This happened now twice in flight, but never on the bench (did 10 bench tests at least today)

[2017-03-12 21:01] LorenzMeier commented on #6796
The quad setup is Sapog. Can you upgrade them and re-test? I would not be surprised at all if this is related.

[2017-03-12 21:01] LorenzMeier commented on #6796
And do you have bandwidth to look into the logging issue?

[2017-03-12 21:01] AndreasAntener commented on #6796
Well that sounds very suspicious..

[2017-03-12 21:01] pavel-kirienko commented on #6796
@AndreasAntener Is it true that you were restarting the motors in flight (this is what I'm reading from the plots)? If so, then indeed, it could be caused by the spinup issues I've been fixing in the last few days. You might find the new beta to perform noticeably better.

[2017-03-12 21:01] AndreasAntener commented on #6796
Michael and I figured out the logging issue today, fix incoming.

[2017-03-12 21:02] AndreasAntener commented on #6796
Sorry my bad, I guess you mean the timing issue, no not that (but the multi instance problem which is not logging related)

[2017-03-12 21:03] AndreasAntener commented on #6796
@pavel-kirienko yes that is true. Which would explain why we cannot reproduce it on the bench. What's the easiest to upgrade (sorry I'm a UAVCAN newbie here)

[2017-03-12 21:08] pavel-kirienko commented on #6796
@AndreasAntener this should help: https://dev.px4.io/uavcan-node-firmware.html#firmware-installation-on-the-autopilot

[2017-03-12 21:43] AndreasAntener commented on #6796
Thanks. Stupid question: what hardware version do I have? :)

[2017-03-12 21:46] pavel-kirienko commented on #6796
You have v1.0 I guess.

On Mar 13, 2017 12:43 AM, "Andreas Daniel Antener" <notifications@github.com>
wrote:

[2017-03-13 03:28] priseborough opened #6797 "Preflight EKF error checking is linked to GPS"
If bad IMU data causes the EKF error checks here to fail here:

https://github.com/PX4/Firmware/blob/master/src/modules/commander/PreflightCheck.cpp#L690-L698 ,

then the failure to arm could be interpreted by the user as a GPS error. If the user then decides to fly without GPS, they will set COM_ARM_WO_GPS =1 to bypass the check and be unaware that there is a problem with the IMU. This can lead t

[2017-03-13 04:46] priseborough commented on #6797
Fixes will be pushed here: https://github.com/priseborough/Firmware/tree/pr-ekfPreFltCheck

[2017-03-13 05:47] bssung commented on #6769
@tops4u @tubeme  ,Thanks for your suggestion. I tried to power up from Battery only, there also an error "NOT ARMING: Connect power module." in the log of SD card. I roughly commented out this code below in arming_state_transition function in state_machine_helper.cpp, and upload the firmware, now I can arm my drone.
But I dont kown why this power check is failed. Does this mean I set wrong value i

[2017-03-13 06:03] AndreasAntener opened #6798 "Yaw estimate jumps"
http://logs.uaventure.com/view/UKyU98TtEzD9iM7aS6JErg
![screen shot 2017-03-13 at 06 59 03](https://cloud.githubusercontent.com/assets/5750020/23843228/a19ad192-07ba-11e7-90e6-5dff21eb7d2b.png)

At ~23.5 the estimated heading jumps by ~20 degrees. This happened multiple times over different hover flights, but only once per flight as far as I can see. Any thoughts?

Setup: Pixhawk Pro, Zubax GNSS 2

[2017-03-13 06:15] AndreasAntener commented on #6798
Post flight: https://gist.github.com/AndreasAntener/f45bb496c9e6d41a197360ed16d2f9f0
I see a lot of buffer overruns for the internal sensors, but I don't see any info about the external mag. Also it seems messages were not written to file.

[2017-03-13 07:08] AndreasAntener opened #6799 "Pixhawk Pro safety switch pressed state changes randomly"
When no safety switch is connected the pressed state changes randomly. As a workaround I've disabled the GPIO handling and forced the state to false.

[2017-03-13 07:10] AndreasAntener opened #6800 "Pixhawk Pro v1.2 IMU board rolled by 8 degrees"

[2017-03-13 07:16] ChristophTobler commented on #6772
@mhkabir Thanks, I'll have a look at it.

[2017-03-13 07:26] LorenzMeier commented on #6798
The buffer overruns are irrelevant. I probably should remove those because we're not using that interface.

[2017-03-13 07:30] bkueng commented on #6778
@jywilson the different parameters.xml can come from the [cmake scoping](https://github.com/PX4/Firmware/blob/master/cmake/common/px4_base.cmake#L1081) if the two builds use different modules.

[2017-03-13 07:31] LorenzMeier opened #6801 "Remove read() poll overrun performance counters (unused)"
We are not using the polling mode overrun performance counters and they are consuming quite a bit of RAM and confuse users since it seems we have buffer overruns, which are however only due to the interface being unused.

This should free at least a couple hundred bytes of RAM if not more, which can be worthwhile for resource-constrained systems.

We also should check the name lengths of performan

[2017-03-13 07:32] LorenzMeier opened #6802 "Dump perf() output to logger pre-flight and post-flight"
These are helpful to diagnose low-level problems.

[2017-03-13 07:35] LorenzMeier opened #6803 "Zubax GNSS 2 mag Z spikes"
@pavel-kirienko  There is a problem with the GNSS 2 causing spikes on the mag Z axis:
http://logs.uaventure.com/view/UKyU98TtEzD9iM7aS6JErg#IMU_Mag_PLOT

[2017-03-13 07:36] LorenzMeier commented on #6798
Closing this in favour of https://github.com/PX4/Firmware/issues/6803, which is the root cause.

[2017-03-13 07:36] #6798 closed

[2017-03-13 07:47] AndreasAntener commented on #6803
It should be the Zubax but also the Z spikes don't really correlate with the one jump I had?

[2017-03-13 08:41] bkueng commented on #6792
I cannot reproduce. My SITL uses ~11% of one core when flying with jMAVSim. What's the meaning of the numbers?

[2017-03-13 09:16] LorenzMeier commented on #6260
We don't see that as a common issue so far. Can you try to

  * Use a high-quality SD card
  * Format it if not already done

If you can reproduce this on the bench, run `top` with the serial console connected.

[2017-03-13 09:18] LorenzMeier commented on #6138
This is very much a power user feature. You can already download and re-upload the complete param set via QGC and you can hand-edit the stored parameters in the QGC param files to create "diffs" of settings you just want to change.

Does that suffice as a workaround?

[2017-03-13 09:19] LorenzMeier commented on #6033
I would recommend to do a temperature calibration run with the newly merged temp cal: https://dev.px4.io/sensor-thermal-calibration.html

[2017-03-13 09:19] #6033 closed

[2017-03-13 09:20] klopezal commented on #6799
@AndreasAntener

`GPIO_BTN_SAFETY` is defined twice, once in board_config.h (Pixracer style, because it has no IO processor) and once in IO driver. I would try commenting [this line](https://github.com/PX4/Firmware/blob/06c5cb506a6bcb623fde88f9b15df646f1dfd9ec/src/drivers/boards/px4fmu-v4pro/board_config.h#L301) and [this line](https://github.com/PX4/Firmware/blob/06c5cb506a6bcb623fde88f9b15df646f

[2017-03-13 09:24] tops4u commented on #6260
@LorenzMeier I use a geniune SanDisk Ultra 16GB Card... I do not think that this is a SD Card Speed related issue since also the MavLink Stream seems to be affected when the OSD does not get MavLink Messages for some time. This seems to have worsened. As written above I have never seen gaps in the Logs nor the MAVLink Stream Frozen Message on the OSD prior to 1.5.2.

I could try to refromat the Ca

[2017-03-13 09:27] tops4u commented on #6138
@LorenzMeier thanks for your answer. Yes it probably is. I was thinking if this would not be a requirement for professional (commercial) Drones as well as Payload and other Requirements change due to the nature of the Mission?
I.e. I would have to disable a LIDAR when flying over Water, but fix YAW Heading when searching for fawn in Fields, or have different PID for various Payloads. If this is no

[2017-03-13 09:53] tubeme commented on #6769
@bssung You get this message because you did not use the Power Module connected to Pixhawk which looks like this:

http://www.ebay.com/itm/New-Crius-Power-Module-28V-90A-for-Pixhawk-APM2-8-APM2-6-APM-Flight-Controller-/281220147710

There are some other power module options as well.

This module has 2 functions: 1. to give the right 5v to the Pixhawk board. 2. It is a sensor for the voltage of the

[2017-03-13 10:18] LorenzMeier commented on #6773
@jywilson Are you able to help?

In general we're not supporting the Qualcomm ESC board officially but PWM motor controllers. If Qualcomm wants to change that we would need a couple of test units, which we have not received to date.

[2017-03-13 12:47] pavel-kirienko commented on #6803
Can we see how Zubax GNSS 2 is positioned within the airframe?

[2017-03-13 12:49] ChristophTobler commented on #6772
@mhkabir I don't think it has anything to do with the flow repo. I tried both versions (PX4flow and OpenCV) and both have a small drift. Also if I try a version before the integration of the new flow submodule e.g.
[code]
I still get a small drift.

I have observed that even when the iris is slowly moving in one direction, the flow output is 0 (does't matter which flow calculation I use). Maybe it

[2017-03-13 12:59] pgorczak commented on #6722
I built and flashed the firmware from master. Starting FlightGear from the HIL widget in QGC triggers errors à la

Plus, as @goodman110110110 mentioned, QGC receives vehicle data but e.g. increasing throttle has no effect in FlightGear.

Is this an issue with the airframe? Like @goodman110110110 , I've picked the HILstar (xplane) one.

[2017-03-13 13:04] ChristophTobler commented on #6772
@mhkabir have you tested with different Gazebo versions, since you have observed a different behavior on different computers?

[2017-03-13 13:35] AndreasAntener commented on #6803
![img_5303](https://cloud.githubusercontent.com/assets/5750020/23856499/283e6472-07fa-11e7-9dd6-bc7cf2459c3c.JPG)

[2017-03-13 13:51] pavel-kirienko commented on #6803
Thanks, this looks legit. I would like to have a closer look at the spikes. Could you send me the log file?

[2017-03-13 14:31] mhkabir commented on #6772
git checkout `git rev-list -n 1 --before="2016-12-27 13:37" master`
I still get a small drift.

I agree, after having done more testing.

[2017-03-13 14:43] pavel-kirienko commented on #6803
The best explanation I can offer so far (I haven't seen the logs up close yet) is that there is an anomaly in the output of the sensor. We're using HMC5983 in Zubax GNSS v2.1.

Meanwhile I could propose to apply a 3 sample deep median filter to the sensor output; it will help with one-off disturbances, but it will also introduce a ~13 ms group delay, which is a lot.

[2017-03-13 15:43] ChristophTobler commented on #6765
I also have some issues with RC: https://github.com/mavlink/qgroundcontrol/issues/4738
I cannot calibrate the RC because of that. Or has someone a solution to this?

[2017-03-13 16:00] klopezal commented on #6799
@AndreasAntener @davids5

Changing [this line](https://github.com/PX4/Firmware/blob/master/src/drivers/boards/px4io-v2/board_config.h#L82) by
`#define GPIO_BTN_SAFETY (GPIO_INPUT|GPIO_CNF_INPULLDWN|GPIO_MODE_INPUT|GPIO_PORTB|GPIO_PIN5)`
solves the issue. David, is that a good way of dealing with it or should we implement a hardware pull-down resistor?

[2017-03-13 16:04] AndreasAntener opened #6807 "Pixhawk pro flashes IO on every boot, showing invalid CRC"
Flashing succeeds though

[2017-03-13 16:06] AndreasAntener commented on #6803
Link to the log: http://logs.uaventure.com/logmuncher/charts/UKyU98TtEzD9iM7aS6JErg/raw_flight_log.px4log

Meanwhile Roman suggested that the change in heading is normal for EKF after takeoff but it should not be so large. So it points to a mag issue (or ground interference, but we were starting from a grass field and different spots).

[2017-03-13 16:15] davids5 commented on #6799
@klopezal - I have a PR inbound.
We need to look for this same class of mistake in the board_config that are a byproduct of the copy from fmuV4.

I found one more it is in the incoming PR

[2017-03-13 16:18] davids5 commented on #6799
@AndreasAntener @davids5
See https://github.com/PX4/Firmware/pull/6808

[2017-03-13 17:18] klopezal commented on #6807
I think this is linked to #6799, safety switch state forces bootloader mode on IO.

[2017-03-13 17:24] davids5 commented on #6807
@AndreasAntener
There is a HW mod incoming from @klopezal that will fix this.

[2017-03-13 18:52] pavel-kirienko commented on #6803
A closer look at the spikes reveals that the problem affects all three axes. This is not directly visible in the log muncher GUI because of aliasing effects.

![1](https://cloud.githubusercontent.com/assets/3298404/23869871/ad20b89e-0835-11e7-9433-1c7133b0f375.png)
![2](https://cloud.githubusercontent.com/assets/3298404/23869872/ad218fc6-0835-11e7-83b0-5431dcc52b85.png)
![3](https://cloud.githubus

[2017-03-13 19:09] LorenzMeier commented on #6803
We're not seeing this on Pixhawk, at least not with the PX4 driver. Have you compared the schematic used on Pixhawk and the driver with what you're using?

[2017-03-13 19:17] pavel-kirienko commented on #6803
I didn't, but it is no longer relevant anyway, since the sensor has been phased out, and so was Zubax GNSS v2.1. We're now manufacturing Zubax GNSS v2.2 which is based on LIS3MDL.

What we need right now is a firmware-only solution; I'm open to any suggestions.

[2017-03-13 19:35] LorenzMeier commented on #6803
Since its unclear how long that state persists the best option is to check the scale register regularly and reset it.

[2017-03-13 22:36] mcharleb commented on #6765
@jywilson "It would be helpful if the parameter generation tool output a statement of parameters that are being discarded." Sounds like an issue waiting to be filed :)

[2017-03-14 00:23] AndreasAntener commented on #6799
@davids5 Thanks! I don't fully understand the fix though.

For my understanding: `GPIO_BTN_SAFETY` is still referenced in `px4io.h`. Wouldn't that also require changing? Also I'm a bit confused since `GPIO_BTN_SAFETY_FMU` now only exists for v4pro.

[2017-03-14 04:29] davids5 commented on #6799
There are two issues.
The first is that an unconnected signal had the same name as the button input. By changing its name that disables the fmu from treating that input as the safety switch.

The second issue is that the actual safety switch connection to the PX4 IO is missing a pull down. The proper fix is to add the pull-down on the Hardware. An alternate workaround is to use a modified bootload

[2017-03-14 08:24] bssung commented on #6769
Thank you very much!

[2017-03-14 09:10] goodman110110110 commented on #6534
what is the reason of the problem?
Pixhawk firmware will not support the flightgear Hil? The current master
has not the flightgear hil airframe but xplane. How could I do to do the
hil with flightgear?

2017年3月7日星期二，aivian <notifications@github.com> 写道：

[2017-03-14 09:16] goodman110110110 commented on #6722
yes, I have the same problem.
The pixhawk firmware will never support the flightgear HIL?

Why current master has not the flightgear hil airframe but xplane.

The net should give the retail operator of how to use pixhawk hil with qgc
and flightgear in windows.

what can I do to carray out the HIL with flightgear.
2017年3月13日星期一，Philipp Gorczak <notifications@github.com> 写道：

[2017-03-14 10:32] alexcherpi commented on #6724
Hi, I have the same issue than tonyvanhaim, I am running the simulator on Virtual Box.

[2017-03-14 10:34] yangang123 commented on #5650
yes

[2017-03-14 12:16] dcabecinhas commented on #6613
@davids5 There are still stack overflows in the NuttX code. You can check it out by breaking in `up_initialize()` and noticing that `stackbase` is outside the stack and will be colored in the first instruction.

I created [PR 269](https://bitbucket.org/nuttx/nuttx/pull-requests/269/arm-fix-off-by-one-interrupt-stack/diff) in the NuttX repo with a better solution. Once a solution is accepted in Nut

[2017-03-14 13:34] ChristophTobler commented on #6765
Update:
* We found the reason for the QGC crash (but not the actual source... see mavlink/qgroundcontrol#4738)
* There seems to be an issue with the parameter sending/update. If I calibrate the RC, I don't think these parameters make it to the DSP side.
* The is again the `shem` error
![shmem_error](https://cloud.githubusercontent.com/assets/14769636/23902982/3d3f77fc-08c3-11e7-886a-ddac37d4e3cc.p

[2017-03-14 17:21] anandbaskaran commented on #3958
I have the same question! Is there any alternative and clean way?

[2017-03-14 18:58] mhkabir commented on #3958
Yes : https://github.com/PX4/Devguide/pull/94.

[2017-03-14 18:58] #3958 closed

[2017-03-14 19:57] davids5 commented on #6613
@dcabecinhas - I posted to the outstanding PR on upstream the results of our discussion this AM. Once you get the additional change in I will back port it.

[2017-03-14 22:39] LorenzMeier opened #6817 "Fix dependencies on ROMFS build"
Removing a file does not rebuild the ROMFS, instead the build fails.

[2017-03-15 01:38] xn365 opened #6818 "LandDetector Bug"
Can't take off after the first flight in Altitude mode.
Because of this line:
https://github.com/PX4/Firmware/blob/master/src/modules/land_detector/LandDetector.cpp#L206
This line will never works until we leave landed state:
https://github.com/PX4/Firmware/blob/master/src/modules/land_detector/MulticopterLandDetector.cpp#L214
So,if we arm in altitude mode ,this line will be the only chance to tak

[2017-03-15 01:43] liang-tang opened #6819 "LPOS.Z didn't change along with LPOS.VZ"
something wrong with kf2 estimator, LPOS.Z didn't change along with LPOS.VZ?
can anybody analyze this log
![screenshot from 2017-03-13 17-00-14](https://cloud.githubusercontent.com/assets/16251761/23929850/ad5c58b6-0963-11e7-8cc1-c0350162013c.png)
![screenshot from 2017-03-13 16-57-06](https://cloud.githubusercontent.com/assets/16251761/23929873/c168968a-0963-11e7-905c-434c3b05021b.png)

http://lo

[2017-03-15 02:03] liang-tang commented on #6819
@julianoes

[2017-03-15 06:44] AndreasAntener opened #6820 "Building sometimes restarts from the beginning"
Couldn't reproduce that consistently yet but sometimes when I abort the upload script after building, the next build (directly following the abort with no changes in between) starts from the beginning again (Nuttx).

[2017-03-15 07:20] ChristophTobler commented on #4712
This seems fixed

[2017-03-15 07:20] #4712 closed

[2017-03-15 08:18] priseborough commented on #6819
The accel bias estimation is not converging. Vertical vibration levels are high. Please provide details of your test setup and a log containing EKF replay data.

You can turn off accel bias learning by setting EKF2_AID_MASK = 5 but will need to make sure the accelerometers have a recent calibration if you do and may have to increase the value of EKF2_ACC_NOISE to 0.5 m/s/s to allow for lack of bia

[2017-03-15 08:37] 0xd1ma commented on #6760
Please give a hint. where is in source files change TELE1 baudrate.

[2017-03-15 08:38] western-co-at commented on #6651
Tried now with current master, the default settings for the landing detector and without gps signal. The problem still exist.

There was a misinterpretion on my part: I meaned the vehicle_local_position uOrb message instead of the LPE.

I think the issue #6818 describes the same bug.

[2017-03-15 09:04] lovettchris opened #6823 "SITL local position not getting reset when I set home position"
If you change the LatLonAlt default in jMavSim Simulator.java to Seattle instead of Zurich, then run jMavSim, you will find that MAVLINK_MSG_ID_LOCAL_POSITION_NED reports x=7170790.000000, y=-4435566.500000, z=0.000490.  it is 8442 kilometers to Zurich, so this indicates that local position is still trying to compute distance back to Zurich, because that is the "global origin init"

even after I a

[2017-03-15 09:14] lovettchris commented on #6823
Interesting, I found the code I was expecting, in BlockLocalPositionEstimator, but all commented out:

	// reset pos, vel, and terrain on arming

	// XXX this will be re-enabled for indoor use cases using a
	// selection param, but is really not helping outdoors
	// right now.

	// if (!_lastArmedState && armedState) {

	// 	// we just armed, we are at origin on the ground
	// 	_x(X_x) = 0;
	// 	_

[2017-03-15 09:30] lovettchris commented on #6823
but that doesn't work either.  Honestly I was expecting something more like this:

	if (_sub_home.updated()) {
	 	// home was just changed, so reset local position to 0,0,0
	 	_x(X_x) = 0;
	 	_x(X_y) = 0;
		_x(X_z) = 0;

		mavlink_and_console_log_info(&mavlink_log_pub, "[lpe] home position changed, resetting local position.");

		home_position_s home = _sub_home.get();

		map_projection_init(&_map

[2017-03-15 09:47] potato77 opened #6824 "cant enter the nsh mode"
i follow the devguide and enter "screen /dev/ttyACM0 BAUDRATE 8N1"
and it shows a new console. but i cant enter any words.

![1](https://cloud.githubusercontent.com/assets/11450591/23942464/5c3509c6-09a7-11e7-92c7-f61f9023ebcc.PNG)

How to fix it? Thank you in advance!

any help would be appreciated!

[2017-03-15 12:49] liang-tang commented on #6819
thank you very much, i'll do more test tomorrow.

[2017-03-15 14:54] aivian commented on #6534
I'm not sure what you mean. The px4 firmware doesn't have specific configurations for different HiL simulations. This issue was around a flag that was not being set properly for HiL simulation of fixed-wing aircraft. This issue was present for all simulation environments, and has been fixed.

Separately, and likely the source of your issue is that the interface between qgc and flightgear is broken

[2017-03-15 16:02] d3z0rian commented on #6824
Did you replaced the "BAUDRATE" word for the board baudrate in number?
Serial: Pixhawk v1 / Pixracer use 57600 baud
Serial: Snapdragon Flight uses 115200 baud

[2017-03-15 18:16] bhairavmehta95 commented on #6646
@nahush8 did you ever find a solution to this?

[2017-03-15 18:59] mhkabir commented on #6823
The origin isn't supposed to be reset when setting home. The origin should always be fixed.

[2017-03-15 19:17] nahush8 commented on #6646
@bhairavmehta95  Check https://github.com/PX4/Firmware/issues/6555 .. my mocap and local estimates matched perfectly. I still couldn't get the Quadrotor to fly stably in either position control or offboard mode.

[2017-03-15 19:21] AlexMalo opened #6826 "SITL + gazebo"
I am trying to make a sitl simulation of a plane and I am using gazebo (since X-plane is huge), but it seems that the computer/simulation is too slow, I wonder if the gazebo simulation be done only with gzserver (withoug the graphics)

[2017-03-15 19:30] tubeme opened #6827 "FLAPS: Does not work in 1.6.0 RC1"
Hi guys,

I'm just setting up a v-tail airplane with Albatros mixer and the Flaps does not work. I preset RC channel for flaps and nothing happens when switched.

The flaps are working because I test it with servo tester but no functionality from Main Out 7,8.

[2017-03-15 19:41] L4ncelot commented on #6826
Hi,

I'm assuming you're using ROS in this setup. Therefore in the launch file where your Gazebo simulator starts, you can set argument named **gui** to **false**.

Example of such a file would be something like this:
[code]

[2017-03-15 19:50] jywilson commented on #6778
@LorenzMeier I agree.  This is probably responsible for the QGC crash reported here: https://github.com/mavlink/qgroundcontrol/issues/4738

More comments on this problem here: https://github.com/PX4/Firmware/issues/6765

[2017-03-15 19:54] jywilson commented on #6765
Thanks for the update Christoph.

The parameters sending/update is the result of the issue reported here: https://github.com/PX4/Firmware/issues/6778

I haven't seen the shmem error, but I think for now we should focus on the parameters.xml problem first.

[2017-03-15 20:00] jywilson opened #6828 "Parameter generation tool does not indicate when parameters are dropped"
If the "platform" tag in the comments above a parameter does not match the platform currently being built the parameter will not be included in the generated parameters.xml file.

The parameter generation tool run at build-time should indicate the name of the parameters being dropped for the reason above, and display them in the output of the build.

[2017-03-15 20:45] lovettchris commented on #6823
But it doesn't work, if jMavSim sets initial position to Seattle then QGroundControl can't take off.  First QGroundControl  is all jittery (I think it is jumping quickly between two very different locations), then when you tell it to take off the drone flies sideways into the ground.

Besides it is really inconvenient to have to program all local positions with really big numbers.  I want to have

[2017-03-15 21:50] priseborough commented on #6341
The EKF delta velocity bias estimates and IMU end of flight accel measurement indicates that this was primarily caused by accel bias errors that were greater than the ekf could handle. The  baro temperature is below 1.5 degC during flight and slowly warming, so a hypothesis is that the vehicle is being operated at a temperature that is significantly lower to the the one used to perform the accel c

[2017-03-15 21:51] #6341 closed

[2017-03-15 22:40] lovettchris commented on #6823
Doing more debugging I found the wrong GPS location is coming from a parameter named LPE_FAKE_ORIGIN.  When I clear that, then SITL never sets any home location at all, even when jMavSim is sending lots of HIL_GPS messages, which seems odd.  So looks like SITL mode requires the use of LPE_FAKE_ORIGIN...  When I set this to Seattle location, jMavSim behaves better...  and QGroundControl is happy to

[2017-03-15 23:23] anuppari opened #6830 "PX4 not updating attitude setpoints in SITL + Gazebo"
I'm getting an intermittent issue when running a sim with offboard mode and attitude/thrust setpoints.

Here's a plot showing the ground truth orientation in gazebo and the orientation setpoints sent to the corresponding mavros topic.

![lag1](https://cloud.githubusercontent.com/assets/3847301/23974692/2c94523a-09a2-11e7-8e78-a52dcbc00bd0.png)

See e.g., the y coordinate of the quaternion setpoint

[2017-03-16 02:19] gaochangyu commented on #6723
Hi, @Stifael , do you get any result?

[2017-03-16 04:03] mhkabir commented on #6823
You shouldn't need to have fake origin set at all, because it's used for optical-flow only navigation.

The reason it doesn't init after disabling FAKE_ORIGIN is because of vision being enabled.  Make sure vision position fusion flags are turned off (LPE_FUSION bitmask in QGC). It won't init home with GPS if vision is enabled.

@jgoppert I think we need better defaults for master, in terms of FAKE

[2017-03-16 04:24] jgoppert commented on #6823
Yeah, the fake origin change should have gone through more rigorous testing.  I think the default should be for outdoor with gps and no vision or flow. Can we confirm that works and then submit a PR?

[2017-03-16 04:41] mhkabir commented on #6823
I tested it in all configs (GPS, VIO). It works fine, however, we just need better defaults. I didn't change the behaviour in my PR - so this "issue" was present even before my FAKE_ORIGIN addition.

I'll send in a PR with the GPS-default parameter set.

[2017-03-16 05:03] jgoppert commented on #6823
Awesome, thanks.

[2017-03-16 06:18] potato77 opened #6831 "error of install homebrew on MAC os"
QideMacBook-Air:~ Qi$ brew tap osrf/simulaton
Updating Homebrew...
==> Tapping osrf/simulaton
Cloning into '/usr/local/Homebrew/Library/Taps/osrf/homebrew-simulaton'...
Username for 'https://github.com': fatmoonqyp@126.com
Password for 'https://fatmoonqyp@126.com@github.com':
remote: Repository not found.
fatal: repository 'https://github.com/osrf/homebrew-simulaton/' not found
Error: Failure whil

[2017-03-16 09:16] rudja commented on #6724
Hello @tonyvanhain. I am a french student and I am also working on this offb_node example using gazebo and ros. How did you succeed in using it in gazebo pls? For the moment, I have a ros and gazebo environment working but I don't know how to simulate this program in Gazebo...

[2017-03-16 09:30] potato77 commented on #6824
@d3z0rian

yes

[2017-03-16 11:37] L4ncelot opened #6834 "RC controller in HIL configuration"
Hi,

I'm working with px4 firmware on **navio2**. Right now I'm testing **HIL** configuration where **navio2** board is connected through ethernet to my PC with **Gazebo** simulator. The configuration works fine and I'm able to control quadcopter sending **MAVLINK** messages through **MAVROS** (yes, I'm also using **ROS**).

What I would like to do is connect my RC controller to navio2 board and c

[2017-03-16 12:36] bkueng commented on #6834
There's already a driver for the navio2 RC: https://github.com/PX4/Firmware/blob/master/src/drivers/navio_sysfs_rc_in/navio_sysfs_rc_in.cpp
If you start that px4 should automatically handle RC.
I recently added a HIL config for the Pi: https://github.com/PX4/Firmware/blob/master/posix-configs/rpi/px4_hil.config. It works with jMAVSim (I haven't tried RC though), but it should help you with gazebo

[2017-03-16 12:50] mhkabir commented on #6824
Since this is a VM, there may be issues with accessing the port on the host machine. Not sure how we can help with this directly.

[2017-03-16 13:22] benguru opened #6836 "EKF HIGH IMU GYRO BIAS"
I have been stuck for a while with the above mentioned preflight fail.
Re-calibrating the system doesn't seem to do the job, nor increasing the COM_ARM_EKF_GB value to its maximum.

I am running px4 on the pixracer platform. It has never boot up without showing the preflight error.
Is it my board that is faulty ?

[2017-03-16 13:24] LorenzMeier commented on #6836
Most likely since we're not seen it across the board population. Do you know how to run something in a shell? That would allow to diagnose it more.

[2017-03-16 13:27] L4ncelot commented on #6834
Thank you very much, I will have a look at it.

[2017-03-16 13:28] benguru commented on #6836
Unfortunately I forgot my JST cable at school...
But I would take any suggestion on the things that I might check ? In order to come back with a more detailed diagnosis.

[2017-03-16 13:29] benguru commented on #6836
I have checked the gyro output on the analyze widget of QGC and they "seem" fine though...

[2017-03-16 16:54] Stifael commented on #6723
I am sorry, I need to postpone it to the weekend

[2017-03-16 17:25] tubeme commented on #6827
I tried in Manual and Stabilized on the bench... Nothing happens. Before there was a problem with flaps not fully extending https://github.com/PX4/Firmware/issues/4438. But now they just don't move at all.

[2017-03-16 17:43] L4ncelot commented on #6834
Oke so after a while I figured it out. Adding drivers/`navio_sysfs_rc_in` target to **posix_sitl_default.cmake** file.

So I managed to run the firmware with `navio_sysfs_rc_in`. Now what should I do next to be able to control copter with RC controller?

[2017-03-16 17:46] bhairavmehta95 opened #6837 "att_pos_mocap gives no messges"
I am using the mavros mocap pose estimate plugin to feed Px4 VICON data as state estimation.

Yet when yet I use the listener att_pos_mocap command in the PX4 shell, nothing shows up.

I have made no modifications to the code, so I was wondering if someone could help me out.

[2017-03-16 20:21] bhairavmehta95 commented on #6646
@nahush8 are you using the 1.4.4 Release like was suggested here https://github.com/mavlink/mavros/issues/591 ?

Are were you still using the latest px4fmu_lpe?

[2017-03-16 21:48] nahush8 commented on #6646
@bhairavmehta95  I used the latest code and loaded px4fmu_lpe firmware.

[2017-03-16 23:18] karanchawla commented on #6837
I am having quite the opposite issue, though I'm receiving `att_pos_mocap` msg on the topic I am unable to switch to position control for inav. Any clues about this?
As for your problem how are you sending `att_mocap_pos` with PX4, indoor fake GPS?

[2017-03-16 23:21] karanchawla commented on #6612
@julianoes Are you saying that I can't do indoor navigation using inav anymore? The problem I'm facing is that though I have my `att_mocap_msg` (sent via a small udp script I wrote) I can't get the mode to switch to position control.

[2017-03-17 04:58] mhkabir commented on #6612
@ChristophTobler We need to either remove the Fake GPS Devguide page or update it on how to get it working with new estimators. It is very confusing for users, and also isn't clearly distinguished from the standard VICON code path.

[2017-03-17 04:59] mhkabir commented on #6837
@bhairavmehta95 Does the mavros instance connect with PX4 correctly? Is this on Snapdragon?

[2017-03-17 05:01] mhkabir commented on #6837
And everyone having issues please post logs @karanchawla @bhairavmehta95.

[2017-03-17 06:55] ChristophTobler commented on #6612
@mhkabir Yes you're right. I'll ask @vilhjalmur89. I think he used it recently.

[2017-03-17 07:06] bkueng commented on #6834
Where are you running the px4 binary? Just to clarify: you should be running it on the RPi, and build the specific target for that, as documented here: https://dev.px4.io/starting-building.html#raspberry-pi-23-boards

[2017-03-17 09:04] ChristophTobler commented on #6612
@rs1990 We haven't used it in a while and currently don't have the possibility to test it ourselves but here's how it should work:
There is no distortion and INAV anymore. So proceed as in https://dev.px4.io/advanced-fake-gps.html with the following changes
* in step 1, just do the first part. Ignore the `launch_fake_gps_distorted.sh`
* in step 3, ignore the distorted part
* skip steps 4 and 5
* s

[2017-03-17 10:22] L4ncelot commented on #6834
Well I've built the firmware on **RPi** using `make posix_sitl_default`. I didn't build the **posix_rpi** target because I wanted to be able to control quadcopter in Gazebo. And I don't know whether the px4 simulation also gets build or not.

So to clarify, I'm running px4 firmware on my **RPi** which is connected through ethernet to my PC where the **Gazebo** simulation runs.

[2017-03-17 12:08] #1675 closed

[2017-03-17 14:43] pavel-kirienko opened #6838 "Compiler is not emitting vsqrt.f32 on ARM Cortex M4F targets"
See this for background: https://github.com/PX4/Firmware/pull/6829#issuecomment-287359454

[2017-03-17 14:48] FPVflyer opened #6839 "Pixhawk does not emit any PWM for camera trigger"
Hi guys,
I recently built and set up an FX-79 Buffalo, it's equipped with 3DR Pixhawk hardware, the good old big one, and it fly very well.

I installed a Sony NEX-7 camera onboard for aerial mapping, and I just uploaded a mission generated using QGC. The drone follow precisely the grid without any problem, but for some reason the trigger is not activated.

In the QGC section for camera, it was by

[2017-03-17 14:54] pavel-kirienko opened #6840 "The NuttX poll system call is slow"
The `poll()` system call takes a very long time to execute. Since it is extensively used in many high frequency data processing loops, this issue has a significant impact on overall performance of the system.

![e5df1db6-0b36-11e7-8f52-fbe7a743197e](https://cloud.githubusercontent.com/assets/3298404/24048624/879fb392-0b3a-11e7-9415-7bdaca546f13.png)

See this for more context: https://github.com/P

[2017-03-17 14:58] LorenzMeier commented on #6838
@davids5 Can you have a look?

[2017-03-17 15:01] davids5 commented on #6838
@LorenzMeier yes on it now

[2017-03-17 15:02] pavel-kirienko commented on #6838
@davids5 my build log: [build_log.tar.gz](https://github.com/PX4/Firmware/files/850929/build_log.tar.gz)

[2017-03-17 15:03] davids5 commented on #6838
@pavel-kirienko - thank you!

[2017-03-17 15:07] pavel-kirienko commented on #6838
PX4ESC build log:
[log.tar.gz](https://github.com/PX4/Firmware/files/850949/log.tar.gz)

[2017-03-17 15:22] NaterGator commented on #6838
I think this is an upstream bug in glibc: https://sourceware.org/bugzilla/show_bug.cgi?id=20660

The compiler won't substitute with the FPU call unless we specify -fno-math-errno, correct? The typically non-intrusive float speed flags are -fno-math-errno, -ffinite-math-only, and -fno-signed-zeros.

[2017-03-17 15:51] pavel-kirienko commented on #6838
Even if the call can't be substituted with vsqrt, one would still expect the compiler to emit vsqrt inside `__ieee754_sqrtf()`.

[2017-03-17 15:56] NaterGator commented on #6838
Actually the ARM GCC toolchain uses newlib, so I stand corrected (though the newlib default implementations are even worse). Most likely we're linking the wrong libc/libm versions.

[2017-03-17 16:29] philippamlong commented on #6762
I have a frsky l9r connected to pixracer with sbus. In master, no rc input is detected. In latest stable, it works. Maybe this is the reason?

[2017-03-17 16:54] NaterGator commented on #6838
@pavel-kirienko that's not the case because vsqrt.f32 wouldn't allow the lib to adhere to the IEEE754 spec. Upstream discussion here: https://answers.launchpad.net/gcc-arm-embedded/+question/246145

I can confirm just passing -fno-math-errno substitutes a great deal of calls to the IEEE compliant sqrtf call. Objdump on the FPU-enabled libm confirms that vsqrt instruction is not used.

[2017-03-17 19:27] davids5 commented on #6838
@NaterGator
Thank you for the background.   I think we need to evaluate what we are linking to. I thought we have are own math.h and use libm. Normally nuttx provides it's libc but some other foreign header/lib may have snuck in.

Do I understand correctly that  the "IEEE compliant sqrtf" and use of " vsqrt instruction" are mutually exclusive?

[2017-03-17 19:43] pavel-kirienko commented on #6838
@davids5 @NaterGator CM4's FPU is IEEE754 compatible: http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.ddi0439b/Chdehebg.html. Some additional support code might be still needed for handling `errno`, but I still see no reason why the compiler would choose to avoid the `vsqrt` instruction, since it seems to be compliant.

[2017-03-17 19:46] NaterGator commented on #6838
@davids5 the TRM for Cortex M4 says the FPU implementation [is IEEE754 compliant](http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.100166_0001_00_en/ric1417175939134.html); the difference is effectively that errno will not be updated by the use of the FPU instruction. I frankly don't understand why the newlib implementation doesn't utilize VSQRT.F32, which is unfortunate because the lib

[2017-03-17 19:52] NaterGator commented on #6838
For what it is worth, here is a board sitting idle on the desk currently compiled from master:

![image](https://cloud.githubusercontent.com/assets/2575/24060460/aedd3a94-0b29-11e7-82d2-277f219343f6.png)

And here is the same board in the same state with -fno-math-errno supplied to the compiler flags:
![image](https://cloud.githubusercontent.com/assets/2575/24060474/bd689a40-0b29-11e7-8fb7-c9cb154

[2017-03-17 19:53] davids5 commented on #6838
On the Nuttx Build we should be only using the NuttX built libc or there can binary incompatibility disasters i.e the FILE in gcc ARM != the FILE NuttX.

[2017-03-17 19:54] davids5 commented on #6838
@NaterGator are you on skype? I am david_s5

[2017-03-17 20:10] LorenzMeier commented on #6762
No, that must have a different reason. @davids5 Did we change the inverter control pin config?

[2017-03-17 20:50] davids5 commented on #6762
@LorenzMeier

Any RC changes are still out on a [PR](https://github.com/PX4/Firmware/pull/6777)

It was vetted by @pkocmoud with FrSky X4R- SB using sBus.

How does the frsky l9r compare the the FrSky X4R- SB using sBus?

@philipoe can you try the above PR and see if it solves your issue?

[2017-03-17 21:29] NaterGator commented on #6840
@pavel-kirienko are we sure PMP™ is properly accounting for NuttX context switches? It seems logical some of the time spent in poll would be attributable to context switching and running another task.

[2017-03-17 21:36] davids5 commented on #6838
Looping in @priseborough

[2017-03-17 21:53] pavel-kirienko commented on #6840
@NaterGator Yes, we can be reasonably sure that PMP™ produces sufficiently reliable data. Context switch from/into `poll()` is still a runtime overhead which also should be considered during optimization.

[2017-03-17 21:55] philippamlong commented on #6762
I tried the PR, i did not work. Same behavior as in master. Also i tried self compiled master and travis master from qgroundcontrol.

What i did to reproduce:

Flash Master / PR 6777
Reset all params in qgroundcontrol
reboot
select airframe wing wing
reboot
radio -> calibrate
error "Detected 0 radio channels. To operate PX4, you need at least 5 channels"

When i do the same steps with stable or be

[2017-03-17 22:32] priseborough commented on #6838
The ekf2 should not be doing any double precision operations

[2017-03-17 22:35] pavel-kirienko commented on #6838
Hi Paul, the map reprojection routine, among others, does some double
precision computations. Is that not intentional?

On Mar 18, 2017 1:32 AM, "Paul Riseborough" <notifications@github.com>
wrote:

The ekf2 should not be doing any double precision operations

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/PX4/Firmware/issue

[2017-03-17 22:38] priseborough commented on #6838
Yes, that is not intentional

[2017-03-17 22:41] priseborough commented on #6838
The EKF operations should all be single precision, but yes, the conversion from GPS lat/long to local position used by the EKF and vice-versa will require doubles.

[2017-03-18 00:36] pkocmoud commented on #6762
I can confirm that the sBus support in master is very  intermittent.  I can use the RC input thru calibrating the Radio portion of the Flight Controller bring up. After a reboot or IMU calibration routines the sBus receiver input stops working. I am only able to recover by running "mtd erase" and "param reset" and starting over. Loading beta or stable in master does not have this intermittent-icy.

[2017-03-18 01:27] davids5 commented on #6838
@NaterGator

I have confirmed we are not using NuttX math routines just the math.h from nuttx-patches and the include files from nuttx.
libc is definitely linked with the NuttX one.

[2017-03-18 09:49] matanhavi opened #6843 "Bad position holding on some location on earth (simulator)"
I have tested the simulator on some random locations around the world, in order to find anomalies.
I found.
for example:
export PX4_HOME_LAT=-30.397742
export PX4_HOME_LON=-10.545594
export PX4_HOME_ALT=1000.0
make posix_sitl_ekf2 gazebo

at first I thought it related to WIP: mc_pos_control auto handling #6810.
but testing it on master also produce similar behavior

just do a takeoff, you will see

[2017-03-18 11:28] matanhavi opened #6844 "Changing gazebo SITL source files doesn't rebuild"
There is no dependency rule to invoke rebuild in case of internal files on the SITL has been changed

[2017-03-19 04:40] tomatac opened #6851 "LPE_GPS_ON parameter not found"
After I set SYS_MC_EST_GROUP = 1, I cannot set the LPE_GPS_ON parameter.
I get the error LPE_GPS_ON not found

I am trying to set the use PX4FLOW without the GPS and I understood that the recommended position estimator is LPE.

FW version: v1.5.5 (1.5.5 255), 17106431

[2017-03-19 05:10] mhkabir commented on #6851
The parameter no longer exists.

Use the LPE_FUSION bitmask for fusion control.

[2017-03-19 05:10] #6851 closed

[2017-03-19 05:16] anassinator commented on #6843
We've had a lot of similar problems in Montreal with fixed wing SITL that have made SITL almost unusable.

[code]

For convenience, generated logs:
Fixed wing as above with a simple mission: http://logs.px4.io/plot_app?log=1b7e618b-30db-4b88-8471-4e9a8f7693ec
Fixed wing as above with a more complicated mission: http://logs.px4.io/plot_app?log=d2f72b80-fba5-4095-9950-6debeed8f3db
MC at OPs coordina

[2017-03-19 06:23] matanhavi commented on #6843
@anassinator  I also see the EKF GPS fusion timeout - reset to GPS warning.
I think the issue might be related to the hard codded magnetic field:
[hardcodded mag](https://github.com/PX4/sitl_gazebo/blob/f6a116d7741e70af729f2513ffbf9cc036bd291f/src/gazebo_mavlink_interface.cpp#L447)
although even when I try to change it to the new home position magnetic field, it still not perfect

[2017-03-19 07:12] ecmnet opened #6852 "PX4Flow and LPE"
@jgoppert @mhkabir I am not sure whether this is an issue or just on my side, but currently I try to re-integrate PX4Flow to my position setup using LPS with vision to cover situations, where vision cannot provide any information. Unfortunately with 1.6 Rc1, Flow initializes only very rarely in my use cases and looses confidence very quickly. I guess this could be due to the noise model added late

[2017-03-19 09:49] pavel-kirienko commented on #6803
Updated firmware v3.2 with a three sample long median filter has been uploaded to https://files.zubax.com/products/com.zubax.gnss/. The default magnetometer update rate has been increased to 100 Hz in order to reduce the latency imposed by the filter.

These are the best glitches I could obtain in a lab environment over an 8 hours long interval before the fix was applied (rows are x, y, z):

![gli

[2017-03-19 16:03] benguru commented on #6836
It seems to be my custom airframe that is causing the issue...
Is it normal that the horizon and heading widgets don't work on qgroundcontrol when using a custom airframe ?

I am trying to create an airframe the proper way for a foiling boat, its control surfaces are very similar to a fw. But just copying the parameters (rc.fw_apps -> rc.boat_apps and rc.fw_defaults -> rc.boat_defaults) adding a m

[2017-03-19 16:23] benguru commented on #6836
Or is there a way to disable preflight checks so I can continue to learn how everything works without this issue always bugging me :)

[2017-03-19 17:27] Stifael opened #6855 "attitude tracking"
Tested in SITL:
it seems that the transformation from quaternion to roll,pitch and yaw are not done correctly and do not represent what actually happens. giving roll command, the tracking of the roll setpoint seems to be correct at the beginning, but over time the logged roll setpoint is opposite the estimated roll. It is to note that this does not mean that the vehicle does not fly correctly assu

[2017-03-19 18:47] dagar opened #6856 "VTOL Standard transition improvements"
**Transition to FW**
 - [x] FW actuators 100% immediately (integrators reset at start)
 - [x] MC actuators 100% and will ramp down automatically as vehicle produces lift and MC thrust is no longer needed to hold altitude.
 - [ ] Require MC thrust setpoint to drop below a parameterized threshold before considering forward transition successful.
 - [ ] use roll and yaw setpoints from FW position con

[2017-03-19 21:39] DaveSprague commented on #6596
Agreed, just spend an hour trying to figure out why the sdlog2_dump.py script wasn't working at all.

It's line 306 in the code where it specifies the separater between MSG name and the first FIELD name as "_"

I'm still not getting any actual data in the csv file output but at least now I get the header line.

Attached is the .BIN file I'm trying to convert to a csv

[2017-03-19 21:48] dagar commented on #6844
This is a limitation of cmake ExternalProject_Add. https://cmake.org/cmake/help/v3.5/module/ExternalProject.html

@jgoppert what was the benefit of pulling the gazebo_sitl build into PX4's build system? I'm wondering if we could structure this differently and avoid this issue and make it easier to build sitl_gazebo with or without PX4.

[2017-03-20 00:12] jgoppert commented on #6852
I've flown LPE + flow about 200 flights within the last month. I was using latest master at the time, about a week ago was my last flight. Can you provide some logs? I'd like to see your flow quality. I recently made a patch to my exposure branch to lower the exposure, so this might have thrown you off.

[2017-03-20 00:17] jgoppert commented on #6844
I'm in favor of moving the sitl_gazebo stuff for sim and CI outside of px4/Firmware. We are getting ready to sync with rotors and the current approach is more of this, so see my comments here: https://github.com/PX4/Firmware/pull/6380

[2017-03-20 02:49] dkircali commented on #6760
inside sd card I created etc/extras.txt with those lines:

#!nsh
mavlink stop-all
mavlink start -d /dev/ttyS1 -b 921600 -r 3000
mavlink start -d /dev/ttyACM0

I am able to communicate with 921600 baudrate. Also If you want higher imu publish rate later you can try adding this line:

mavlink stream -d /dev/ttyS5 -s HIGHRES_IMU -r 200

[2017-03-20 07:17] bkueng commented on #6834
That sounds correct then. You might want to check for some RPi specific ifdefs (`__PX4_POSIX_RPI`) if you use the `sitl` target (I don't see anything in particular, except for the preflight checks that are disabled on RPi).
The alternative would be that you build posix_rpi, and then instead of the simulator, you connect gazebo to the mavlink module. That's how jMAVSim does it.

[2017-03-20 07:32] bkueng commented on #6855
Same issue as https://github.com/PX4/pyulog/issues/13

[2017-03-20 07:35] #6596 closed

[2017-03-20 08:05] tomatac commented on #6851
I could not find LPE_FUSION as a parameter. In fact I could not find any parameters that includes LPE but a lot of parameters that includes EKF2. I used both QGroundControl and nsh. That is strange because the SYS_MC_EST_GROUP is set to 1, so the LPE should be the current state estimator. The only documentation I could find for PX4FLOW recommends to use LPE. Is LPE still supported for PX4FLOW?

[2017-03-20 08:11] #6801 closed

[2017-03-20 08:25] tomatac commented on #6852
I cannot use the PX4Flow with LPE. The SYS_MC_EST_GROUP is set to 1, so the LPE should be the current state estimator but I cannot find  LPE_FUSION or any LPE* as a parameter. I used both QGroundControl and nsh to check.
Is there a specific firmware we should use with PX4Flow and LPE?
Is EKF2 better now for PX4Flow?

FW version: v1.5.5 (1.5.5 255), 17106431

[2017-03-20 09:26] jgoppert commented on #6852
For px4fmu-v2 we couldn't fit both ekf2 and lpe so there is another image  (px4fmu-v2_lpe.px4) please upload that. You can find it in the 1.6 release zip file.

I haven't flown ekf2 with flow so I can't say.

[2017-03-20 14:40] Stifael opened #6861 "attitude setpoint discontinuity"
Today I tested a two new PR on top of the current master. After several mission test-flights I encountered a small, but still unexpected movement in hold.
The log file shows that the attitude setpoint is missing some setpoint (http://logs.px4.io/plot_app?log=36450c97-dd3b-4340-939d-03dfaaa9ea8c). In fact, looking at the log there are a bunch of inf and nan for the attitude setpoint.
Possible reaso

[2017-03-20 16:19] NaterGator commented on #6839
Please see #6092 and #6194

[2017-03-20 16:59] ecmnet commented on #6852
@jgoppert Currently I have no log. But flow quality was reported ok (I also changed min.quality). I am using px4fmu-v4. I also checked raw flow measurements with both QGC Analysis and with MAVGCL. I also used your recent change to PX4Flow-Firmware. Later I'll change to latest master and provide some logs.

[2017-03-20 17:18] jgoppert commented on #6852
Thanks. If the flow quality is good and the picture looks fine it is probably worth looking at your lpe fusion flags. I haven't tested on px4fmu-v4, but can't think of any issues there.

[2017-03-20 18:13] ecmnet commented on #6852
Of course I checked the fusion flags. I used to rely on vision position only the last few weeks, but my settings for flow tests were like this:

<img width="329" alt="ohne titel" src="https://cloud.githubusercontent.com/assets/7580193/24114607/290366e4-0da1-11e7-84b7-bbe5fc80d38d.png">

I disabled land detector fusion on purpose, btw.

[2017-03-20 18:28] ecmnet commented on #6852
@jgoppert As I have no complete setup available (to fly with and to record a full log), I just share the MAVGCL graphs for integrated flow x,y and quality. AGL was about 1 m above ground. Note, that flow quality is normalized here.

![chart_1](https://cloud.githubusercontent.com/assets/7580193/24114869/ef8df022-0da1-11e7-8759-f7da2d97d403.png)

![chart_2](https://cloud.githubusercontent.com/assets

[2017-03-20 18:59] jgoppert commented on #6852
Lpe has a terrain altitude estimate that is used with altitude to compute
agl, so not lidar/sonar dependent, will use either.  If you have land
disabled and pick it up 1 m you should get a solid green light. If not let
me know firmware version and I will test. Current flow setup is working
very well for me so likely something config related.

On Mar 20, 2017 2:28 PM, "Eike" <notifications@github.c

[2017-03-20 19:14] Stifael commented on #6861
I was able to reproduce the issue in sitl as well. Since the vehicle_attitude_setpoint.yaw is continuous throughout the entire flight, this issues seems to be indeed most likely caused by the transformation from thrust_sp to attitude.

yaw setpoint from local_position_setpoint:
![yaw_sp_lpos](https://cloud.githubusercontent.com/assets/13449161/24117140/4ca538ea-0da9-11e7-8f7d-cd96284960c9.png)

ya

[2017-03-20 19:59] davids5 commented on #6838
@LorenzMeier , @NaterGator @pavel-kirienko @dagar @jgoppert

I did some experiments with adding [-ffast-math](https://gcc.gnu.org/onlinedocs/gcc-3.4.4/gcc/Optimize-Options.html)
 FYI:```-funsafe-math-optimizations``` has always been in the build

[code]

Master:f2164b135d5c3327cbb2352ba86d2389016911e6

Here we note what @pavel-kirienko had commented on: the ```sqrtf``` functions is called and ther

[2017-03-20 20:12] davids5 commented on #6838
@NaterGator

I think my top comparisons are not as striking as yours because of the configuration settings.

Would you be able to replicate the test you did above with https://github.com/PX4/Firmware/pull/6863 ?

[2017-03-20 20:17] NaterGator commented on #6838
@davids5 see my edit at the bottom of that post; I was flashing to an autopilot that has been subjected to some ... _hard_ ... landings and the MEMS sensors are a bit out of spec, so the controller failed to start. I see ~2-3% improvement with -ffast-math.

I'm going to write a quick benchmark to test the VSQRT instruction vs. the  FPU-optimized libcall. We are likely splitting hairs over an unimp

[2017-03-20 20:18] Stifael commented on #6723
@gaochangyu, I finally was able to test it quickly.
I used ros kinetic and the newest master of px4 firmware. here is the log:
http://logs.px4.io/plot_app?log=acf5409a-5b7e-4a4c-805a-bb4cdb87333c

I did not encounter any difficulty with send the velocity setpoint over mavros. Can you also upload a log file?

[2017-03-20 21:02] NaterGator commented on #6838
Well, the proof is in the pudding. VSQRT.F32 is performing more slowly than the libcall.

![image](https://cloud.githubusercontent.com/assets/2575/24121496/d357c22e-0d8e-11e7-8c72-f10d87768f43.png)

Source for benchmarking:
![image](https://cloud.githubusercontent.com/assets/2575/24121520/ec0aa174-0d8e-11e7-8290-124492c49ec7.png)

Disassembly:
![image](https://cloud.githubusercontent.com/assets/25

[2017-03-20 21:06] davids5 commented on #6838
@NaterGator

Good work!

So it bigger and slower - Not Good. Do you think this explains why the lib is not using the instruction?

[2017-03-20 21:11] vinhk opened #6864 "PX4Flow to Pixhawk configurations to get stable LPE"
Dear all,

I am working on indoor small drone where GPS is not allowed. I have followed the tutorials on Px4 documentations in connecting the PX4Flow to Pixhawk. Here is what I have done:

1. From list of options for Firmware in QGC, I flashed Pixhawk using Master in QGC.
2. I downloaded github directory containing Px4Flow files: https://github.com/PX4/Flow
3. I flashed the downloaded files and fl

[2017-03-20 21:14] NaterGator commented on #6838
@davids5 it is a bit of a contrived benchmark with some side effects (adjacent FPU instructions introduce delays, the tight loop means OOO execution is not realized, etc) but there is a case to be made that the libm implementation is better.

The processor docs suggest the sqrt instruction should execute in ~14 cycles, so I find it quite surprising that the lib implementation can finish the jump +

[2017-03-20 21:27] LorenzMeier commented on #6838
Our matrices are sparse. A ton of instructions go against 0's and 1's. So we might need a wrapper that does skip simple cases and only solves the real computations. Interested to prototype? == 0 and == 1 checks might go a long way.

[2017-03-20 21:54] NaterGator commented on #6838
@davids5 I reimplemented with cycle-accurate accounting using DWT_CYCCNT, the results are more in line with what I would expect (which makes me a bit suspicious of hrt_absolute_time) :

![image](https://cloud.githubusercontent.com/assets/2575/24123475/0f7f96c6-0d96-11e7-94ca-df6e28214302.png)

This suggests that on-average the instruction is about 20x faster.

[2017-03-20 22:11] ecmnet commented on #6852
@jgoppert Picking it up to 1m and holding it still, the light is flashing green with disabled land fusion, although flow quality > 150.

[2017-03-20 22:23] pavel-kirienko commented on #6838
@NaterGator could you please upload your assembly from above as text? Thanks in advance.

[2017-03-20 22:24] davids5 commented on #6838
@NaterGator

The hrt expects to be called once per ms to detect the wrapping.

I would think you could add it in the loop and it would be a constant in both measurements.

If were are looking to recover CPU cycles then the % cpu delta is in question here in an A / B comparison of with and without -ffast-math.

[2017-03-20 22:39] pavel-kirienko commented on #6838
I agree that the first result above that shows `sqrt()` faster than VSQRT is really hard to believe. I would like to have a closer look, having the assembly as text rather than a picture would help. ;)

On the subject of special cases proposed by Lorenz, I haven't tried that but I foresee that the performance impact would be likely negative due to branch prediction issues. The flash prefetcher tak

[2017-03-21 01:06] davids5 commented on #6613
Merge to upstream NuttX and back ported via https://github.com/PX4/Firmware/commit/7d62aa6a6d9b64977319bbfe66aab23e67884072

[2017-03-21 01:06] #6613 closed

[2017-03-21 01:10] davids5 commented on #6741
@AndreasAntener - Closing this for now. Please reopen if the reworked HW exhibits the same behavior.

[2017-03-21 01:10] #6741 closed

[2017-03-21 01:15] NaterGator commented on #6838
@pavel-kirienko sorry, I took off before reading your comment. I'll post the assembly tomorrow morning.

The errant behavior is explained by hrt_absolute_time expecting to be called before the timer overflows. IMO that is really undesirable behavior and we should use timer chaining to work around it.

[2017-03-21 02:11] davids5 commented on #6762
@LorenzMeier

@pkocmoud did some regression testing and determined the root cause to be the reset not restarting the FMU.

1) With the system booted with the radio connected it fails.
2) With the system booted and then the radio connected it works.

We then tested reverting these commits and it worked.

63857c6afcc719a060c986a20410e8670c1aa971
a716b105f545188b79a3e552f23cad864d1c1821
b8e72789cd561

[2017-03-21 02:33] davids5 commented on #6838
@NaterGator - the HRT is used for real time scheduling. It has an ISR that uses the call hrt_absolute_time() regularly so this is not normally an issue; Because the interrupts were off the use case exceeded its abilities.

[2017-03-21 02:41] davids5 commented on #6102
Closed via https://github.com/PX4/Firmware/pull/6865

[2017-03-21 02:41] #6102 closed

[2017-03-21 02:59] jgoppert commented on #6838
Regarding sparse matrix math, I would like to add sparse matrix math to
matrix eventually.  Probably wouldn't be too hard.

On Mar 20, 2017 7:33 PM, "David Sidrane" <notifications@github.com> wrote:

[2017-03-21 04:46] lovettchris commented on #6823
paste a link to your PR so I can test it out?  can you also tell me what the "design" is for setting local position origin?  I thought origin was the point you armed the drone so it can always return to that launch poiunt (RTL and all that).  Am I wrong?

[2017-03-21 05:53] ecmnet commented on #6852
@jgoppert I created a small log file holding the vehicle in the air:

http://logs.px4.io/plot_app?log=ece824ff-20f7-47b7-be78-def875b36ade

[2017-03-21 06:35] ecmnet commented on #6852
@jgoppert Got it! I have set baro noise to 100 to rely purely on LIDAR distance. Although this worked for vision position, AGL was never determined, which caused flow not scaled at all. Reverting baro noise to 3m, flow initializes. Sorry for any circumstances.

[2017-03-21 06:35] #6852 closed

[2017-03-21 07:06] mhkabir commented on #6823
@lovettchris Sorry, haven't got around to doing it yet. Will have it by the end of this week.

The _origin_ is the point where the estimator initialises (0,0,0). What you're talking about is the _home position_, where it RTLs to, and is reset on arming.

[2017-03-21 07:21] mhkabir commented on #6852
I fully agree with this :)

[2017-03-21 07:50] ChristophTobler commented on #6864
https://pixhawk.org/dev/px4flow is outdated and I guess we need to remove that page or link it correctly. We are sorry for that.
Please make sure you have the following things working correctly
* As we have already told you on Gitter, `SENS_FLOW_ROT` needs to be `270 degrees` if you use master.
* Flow output: fwd +y, rev -y, right -x, left +x
* Is your quad tuned correctly?
* Does the distance sen

[2017-03-21 07:54] ChristophTobler commented on #6864
Have a look at [this guide](https://dev.px4.io/optical-flow-outdoors.html)

[2017-03-21 07:57] mhkabir commented on #6864
@ChristophTobler Lets move everything into Devguide and update the Optical Flow page to reflect latest LPE params.

https://dev.px4.io/optical-flow-outdoors.html is outdated in terms of LPE params.

[2017-03-21 08:20] ChristophTobler commented on #6864
@mhkabir I agree. I guess it is also a bit confusing that we have two pages in the dev guide: https://dev.px4.io/flow_lidar_setup.html, https://dev.px4.io/optical-flow-outdoors.html. I think we should just have one page for optical flow with all estimators on there.
I'll create one with EKF2 (and maybe INAV with the warning that it is outdated). Can you then add the LPE part?

[2017-03-21 08:46] Ahrovan commented on #6852
@ecmnet plz report your config for Optical Flow for future test
thx I want you to repeat the test

[2017-03-21 10:49] Stifael opened #6867 "yaw estimation lost"
tested in sitl:
rotating in yaw breaks the estimation
http://logs.px4.io/plot_app?log=132fcf5f-ab37-4d31-bbd6-d30cd9674b2b

[2017-03-21 11:43] priseborough commented on #6867
There is evidence of a significant scale factor error in the integrated gyro data because the yaw innovation rapidly builds with spin in the opposite direction to rotation. This is consistent with dropped gyro samples or errors in time stamping. The build up in yaw error is over 90 degrees and causes a flyaway.

This is a plot of the sensor_combined time stamp (blue) and the accumulated gyro delta

[2017-03-21 11:48] gckgck opened #6869 "Txt file not changing baud rate for Pixfalcon"
Hi all I know this related question have been posted in previous threads but I did not manage to find any solutions for it.
I am trying to change the baud rate for Pixfalcon from 57600 to 921600 since there are some delay when i am trying to send messages to it through multiple nodes at the same time. I tried adding a extra.txt file in the etc folder with various commands in it. (no telem2 in Pixf

[2017-03-21 14:49] NaterGator commented on #6838
@davids5 exactly; I'm just worried about the case where something in the system is misbehaving and the hrt_absolute_time reference no longer represents a stable clock. Obviously we're not falling out the sky because of any such potential issue... just trying to wrap my head around how it would actually manifest and if / how best to mitigate it.

Upstream has apparently noticed (or somebody filed a

[2017-03-21 15:10] matanhavi commented on #6844
I have found way to rebuild external. you can see at PR #6845
From my tests it works, can you check?

I seen today that also changes on nuttx doesn't re-compile the lib, but in different way. if you rebuild second time, it rebuild the whole project, not just the lib (or the changed file). I think its better to leave it to other issue, mybe check all the libs/files for good dependency build.

[2017-03-21 16:03] vinhk commented on #6864
Based on the suggestions, I have reset all params and recalibrate the Pixhawk in QGC:

- [ ]  `SENS_FLOW_ROT` needs to be 270
**Complete**

- [ ] Flow output: fwd +y, rev -y, right -x, left +x, Does the distance sensor work?
 `M1:OPTICAL_FLOW_RAD.integrated_y`, `M1:OPTICAL_FLOW_RAD.integrated_x`, and  `M1:OPTICAL_FLOW_RAD.distance`
**Complete**
https://www.youtube.com/watch?v=11pUv1R0G-M&feature=y

[2017-03-21 19:17] Seanmatthews commented on #6562
@rkintada https://developer.qualcomm.com/forum/qdn-forums/hardware/snapdragon-flight/34105

[2017-03-21 20:56] davids5 commented on #6516
@matanhavi

Thank you for reporting this.

[2017-03-21 21:08] ecmnet opened #6872 "LPE Alt.amsl and Alt.relative not initialized properly with Px4Flow estimation only"
With latest master, LPE using LIDAR and PX4Flow only does not initialize Alt.amsl at start-up (landed state). As Alt.amsl seems to be required for Alt.terrain, no relative altitude (Alt.agl) is determined. As a consequence, PX4Flow is not scaled properly due to missing Alt.agl figures. If position information e.g. vision is fused on ground, this problem does not occur. Additionally, global positio

[2017-03-21 21:38] ecmnet commented on #6852
@Ahrovan Nothing special about the config. Hardware is setup as described in the documentation, settings are mostly defaults.

[2017-03-21 21:45] anuppari opened #6873 "Offboard attitude control completely broken/unuseable"
I posted a similar issue in #6830 but got no response. I have now confirmed that it is not just in simulation, but also when the firmware is run on actual hardware.

There are large delays between when an attitude setpoint is set and when the px4 begins tracking the setpoint. See the images below. Note that I am comparing the setpoints the px4 itself is sending back over mavlink (via the setpoint

[2017-03-21 22:11] NaterGator commented on #6838
Ok, so I used some trickery to replace __ieee754_sqrtf with the upstream version, the results are more promising:

[code]

The disassembly of __ieee754_sqrtf is now:
[code]

Effectively I query gcc to resolve the libm that gcc will link and use objcopy to weaken the __ieee754_sqrtf symbol in the copy of libm, define our replacement __ieee754_sqrtf from upstream in a stm32 specific file (in this ca

[2017-03-21 22:33] jywilson commented on #6778
I am working top resolve this issue now.

@LorenzMeier Can you assign it to me?  I can't seem to find a way to assign this to myself on my own.

[2017-03-21 23:03] davids5 commented on #6838
@NaterGator

Is this the best of both worlds? No Size hit of +4K and a faster sqrtf. - Nice

Can you use ```-Wl,-wrap,__ieee754_sqrtf ``` and then just link the replacement?

[2017-03-21 23:08] davids5 commented on #6838
Can the replacement live in the src/drivers/stm32/math/hw_sqrtf.c or the like?

[2017-03-21 23:11] davids5 commented on #6838
I take that back - that is incorrect it is it is a arm-7m with FPU replacement. So this needs a new home that can be used by M4F and possible M7F.

[2017-03-22 03:05] lovettchris opened #6876 "Takeoff overshoot in real world but not in the simulator"
When I ask the drone to take off to 5 meters it shoots aggressively up to 10 meters then comes back down:
![image](https://cloud.githubusercontent.com/assets/18707114/24180121/4e9fbc48-0e70-11e7-8c1c-51aff459651c.png)

[14-25-29-input.zip](https://github.com/PX4/Firmware/files/860207/14-25-29-input.zip)

Looking at the code in mc_pos_control, around line 1561 under the comment "special thrust setp

[2017-03-22 04:39] mhkabir commented on #6872
What are your fusion flags set to during tests?

[2017-03-22 06:12] dagar commented on #6661
Implemented.

[2017-03-22 06:12] #6661 closed

[2017-03-22 06:59] ecmnet commented on #6872
OpticalFlow, Baro and AGL publication. I intentionally disabled the land detector and gyro compensation. No GPS.

[2017-03-22 08:13] tubeme commented on #6827
To add to the problem I tried to make a workaround for the Flaps and use Aux1 and Aux2 with RC pass-through to set it up with no luck.

There is no RC pass-through with this mixer lines:

Flaps mixer
------------
Flap servos are physically reversed.

M: 1
O:      10000  10000      0 -10000  10000
S: 3 5      0   5000 -10000 -10000  10000

M: 1
O:      10000  10000      0 -10000  10000
S: 3 6

[2017-03-22 08:40] tomatac commented on #6864
Is LPE still the recommended position estimator to be used with PX4FLOW?
Is there a list of the LPE parameters to be used with PX4FLOW?

[2017-03-22 10:38] priseborough commented on #6867
@Stifael , I have been unable to replicate the same loss of yaw with my SITL testing using either gazebo or jmavsim. I was able to generate up to 11 deg of heading error with sustained rapid yaw with reversals, but not the 90 deg in the log attached to this issue.

Are you able to repeat the test on a faster computer and also try using jmavsim to see if that solves the issue.

[2017-03-22 12:59] davids5 commented on #6838
@pavel-kirienko, @NaterGator @LorenzMeier @jgoppert

I am rounding up the conclusions here, because I think this thread has some bad conclusions on my part along with the some of the original benchmarks that were skewed.

1) As @pavel-kirienko noted and @NaterGator demonstrated with the  DWT_CYCCNT benchmark
the  FPU version is ~20X faster than the SW version.

2) The ```-ffast-math``` reduces the

[2017-03-22 13:16] vinhk commented on #6864
@jgoppert @mhkabir @ChristophTobler , what are your suggestions?

[2017-03-22 13:21] ChristophTobler commented on #6864
You have to tune your quad obviously. Otherwise it won't fly (well) at all. Have you ever flown it manually?

[2017-03-22 14:03] vinhk commented on #6864
@ChristophTobler, I have flown it many times. We had drift issues in manual flights.

[2017-03-22 14:08] ChristophTobler commented on #6864
Then please provide a log here: http://logs.uaventure.com/

[2017-03-22 14:52] tubeme commented on #6856
Very good ideas @dagar

Why not use the pitchSP from FW pos controller as well? In my opinion the moment the transition begins, we should think of the aircraft as airplane, but in underspeed condition so the MC keeps the frame from stalling. But otherwise we should accept the machine as airplane so the FW SetPoints but controlled by the MC until the airspeed is enough.

[2017-03-22 14:53] Stifael commented on #6867
@MaEtUgR can you please try as well on your machine?

[2017-03-22 14:56] tubeme commented on #6856
There is no point in ramping up to 100% because we have lift at that moment and speed. So it must be gradual ramp without disturbing the alt SP. If we ramp up, we will climb at that moment. Tha ramp should be more gradient, and once bellow the min airspeed should be considerable to hold the altitude.

[2017-03-22 15:03] tubeme commented on #6856
The actuators can ramp down after we've reached the min FW airpseed because up to that moment we have lift in the wing and can control the frame with the FW control surfaces. In strong weather it is even more important to have this control.

But there is another aspect of the back transition which is very important.

Our best back transitions are when the plane is without throttle and gliding a li

[2017-03-22 15:05] tubeme commented on #6856
Does this mean that if we are bellow max MC speed the vtol will be considered as MC, the MC Pos controller will kick in and the vtol will do stop at its position, given we fly in Position Mode and we don't touch the controls?

[2017-03-22 15:06] MaEtUgR commented on #6867
@Stifael I think both of our machines (T460s and T460p) are not adequate enough to run the performance hungry and wasteful programed gazebo simulation without any side effects.

That's really pitty because decent low performance gaming is possible at least on mine...

[2017-03-22 15:08] ChristophTobler commented on #6864
@tomatac Yes, LPE is still the recommended one. @mhkabir is updating the parameters here https://github.com/PX4/Devguide/pull/98

[2017-03-22 15:09] sanderux commented on #6856
@tubeme

Because in underspeed condition the FW would pitch down

100% weight is not the same as 100% throttle, giving it full weight will enable it to hold altitude with whatever throttle required.

You are disregarding VTOL's without airspeed sensor

yes

[2017-03-22 15:09] dagar commented on #6856
Below min airspeed TECS will want to pitch down, which we can't allow during forward transition.

The idea behind the having MC actuators at 100% sooner (or for longer) is that the multicopter position controller is better able to handle it. If the vehicle has airspeed and is holding altitude then multicopter thrust will be minimal and only increase (automatically ramp up) on its own as the vehicl

[2017-03-22 15:16] tubeme commented on #6856
We've had a lot of this cases in the past... I understand now.

Thanks @sanderux and @dagar

[2017-03-22 15:19] Stifael commented on #6855
I think we should really try to solve this issue, since I reached a point where I am not sure anymore what is tracking and what is transformation.
![tracking_transformation](https://cloud.githubusercontent.com/assets/13449161/24205263/2df8f33c-0f1b-11e7-9f52-a79998258ccd.png)
This tracking looks terrible, but during actual flight I did not have the impression that the tracking was that bad. It als

[2017-03-22 15:19] tubeme commented on #6856
@dagar @sanderux

We should consider also the PSP offset here during the transitions if we want to be consistent with the difference between the two vehicles if such. This concerns a lot the pitchSP. Now we balance it with other means but in reality more than 3 degrees of difference is a serious difference in the angle of attack if we don't account for it.

[2017-03-22 15:25] vinhk commented on #6864
@ChristophTobler Here is what I'll do:

1st flight: Manual flight and control the quad using only the RC Transmitter. Log it
2nd flight: Altitude hold mode flight and log it as well.

[2017-03-22 15:30] #6681 closed

[2017-03-22 15:31] Stifael commented on #6681
@matanhavi  it should now be fixed at least to the extend that it does not have a delay in position setpoint when setting a target position

[2017-03-22 16:01] mhkabir commented on #6864
Also send a log for position control please; I want to see what goes wrong.

[2017-03-22 16:07] vinhk commented on #6864
I'll do that. Thanks

[2017-03-22 19:16] sanderux commented on #6856
@tubeme already implemented

https://github.com/PX4/Firmware/pull/6728

[2017-03-22 22:02] Ahrovan opened #6877 "Set distance_sensor from PX4FLOW OR Lidar"
I can not set distance_sensor reference from PX4FLOW  or lidar on 1.6.0 Release RC1 (px4fmu-v2_default)
I khow distance_sensor is a topic and every publisher can publish on it. but how to select distance_sensor ref from PX4FLOW or lidar or so... for althold flight mode
**

**

[2017-03-23 00:22] lovettchris commented on #6873
Yeah, I'm seeing pretty poor alt hold in offboard mode too, love to know how to fix it...

[2017-03-23 03:37] tomatac commented on #6852
@ecmnet Could you share your LPE_FUSION settings?

[2017-03-23 06:11] ecmnet commented on #6877
LPE uses LIDAR automatically instead of sonar, if available. But you need to enable LIDAR in 'Sensor enable'

[2017-03-23 06:58] ecmnet commented on #6852
In my case, I set them to 162. (Refer to screenshot in this thread)

[2017-03-23 07:26] Ahrovan commented on #6877
@ecmnet I khow we have several reference for alt source like: 1)baro, 2)sonar/lidar, 3)px4flow sonar, 4)Mavlink distance-sensor
in this case i want to use (4). but how to select ? is only way edit and create customized code ?
I check source code and see Topic distance_sensor use with px4flow and Mavlink distance-sensor, so if we use both of them they can not publish same topic simultaneous

[2017-03-23 07:27] #6844 closed

[2017-03-23 07:29] #6641 closed

[2017-03-23 07:50] Stifael commented on #6867
@ChristophTobler can you please test this on your machine, since you have a more powerful computer. I position control, just rotate around yaw for about 1min+, if nothing happens then change direction in yaw and repeat for about 1min+.

[2017-03-23 08:10] ChristophTobler commented on #6867
I couldn't observe anything special. Here's the log http://logs.px4.io/plot_app?log=f4300632-7e4d-4de3-b469-0571735b6b82

[2017-03-23 08:12] mhkabir commented on #6867
@Stifael I did the test, couldn't repro either; I'm on a pretty fast computer.

[2017-03-23 08:17] Stifael commented on #6867
@ChristophTobler @mhkabir thanks for testing. Because it is not a firmware issue, I will close it.

[2017-03-23 08:34] tubeme commented on #6856
@sanderux

I suppose this fix is in the current master and not in the 1.6.0 RC1?

Sorry I did not follow on this... Because we mainly use the stable versions for the current phase of our tests, do you have any idea when is the RC2 or next release going to be available?

[2017-03-23 11:39] iozfiliz commented on #6851
You prolly use a firmware version built without LPE in it. So changing SYS_MC_EST_GROUP won't help. Checkout your cmake file if LPE is commented in or out.

[2017-03-23 12:35] ChristophTobler commented on #6864
@vinhk I just realized that your pixhawk is running ekf2 (default). That's also why you can't see `LPE_FUSION` but all `EKF2_*` parameters, right?
@mhkabir I guess we need to mention that in the dev guide (flow related, but also generally).

[2017-03-23 12:40] vinhk commented on #6864
@ChristophTobler, I do see all of EK2_* parameters.

[2017-03-23 12:57] vinhk commented on #6864
@mhkabir @ChristophTobler Even after I change it to LPE, there is no LPE_FUSION in QGC.

[2017-03-23 13:01] ChristophTobler commented on #6864
@vinhk yes. LPE is not supported on a Pixhawk

[2017-03-23 13:06] mhkabir commented on #6864
It is usable just fine. You need to use the px4fmu-v2_lpe target, because we do not have enough flash for both estimators on the Pixhawk with old STM32.

[2017-03-23 13:31] vinhk commented on #6864
@mhkbir does that mean that I need to flash the px4 firmware masters from GitHub or from QGC masters?

[2017-03-23 13:40] ChristophTobler commented on #6864
@vinhk you would need to flash it yourself using the source code from Github. Or you could just use EKF2

[2017-03-23 13:43] vinhk commented on #6864
@ChristophTobler I'll flashed it using Github this time. Please give me all the parameters to enable in QGC so I can test it properly for EKF2 to work with Pixhawk using Px4Flow.

[2017-03-23 13:53] deksprime opened #6879 "LPE GPS Fusion bitmask bug"
Although I am unable to reproduce the issue, there is a problem with the latest master LPE fusion bitmask. When I exclude the GPS from the LPE fusion bitmask , the GPS is completely gone. I see that the GPS receiver is present and QGC doesn't say 'Gps receiver missing'. I use the px4fmu-v2_lpe and build it from source. I have came across this problem throughout many GPS receivers and/or Pixhawk 1s

[2017-03-23 13:55] ChristophTobler commented on #6864
@vinhk You flashed it using `make px4fmu-v2_lpe` (LPE) or `make px4fmu-v2_default` (EKF2)? For EKF2 you need to set the two parameters I mentioned https://github.com/PX4/Firmware/issues/6864#issuecomment-288001037

[2017-03-23 13:58] vinhk commented on #6864
@ChristophTobler Previously, I used QGC. Instead of using the default firmware, I used Masters from the list of Px4 firmware.

[2017-03-23 14:05] vinhk commented on #6864
@mhkabir Please give me all parameters I need to set in QGC if I flashed the firmware using `make px4fmu-v2_lpe` as well.

[2017-03-23 15:17] mhkabir commented on #6867
@Stifael @ChristophTobler I found something interesting. After yawing significantly, I experienced a flyaway in SITL. Managed to repro this twice.

Logs : http://logs.px4.io/plot_app?log=e222d6c8-d245-428e-8d6d-ea80b3a97f34

I flew it around a bit before starting the yaw tests, and it was fine then. But after yawing a bit, and commanding position changes, it just flies off.

[2017-03-23 15:29] jgoppert commented on #6864
px4fmu-v2_lpe is in the zip file on the github release page.

[2017-03-23 15:49] vinhk commented on #6864
@jgoppert I just flashed Px4 firmware masters from Github and use `make px4fmu-v2_lpe upload`. I can see `LPE_FUSION 247` on QGC.  I also set `SYS_MC_EST_GROUP` to `local_position_estimator, attitude_estimator_q` on QGC. What is the next step?

[2017-03-23 16:18] vinhk commented on #6864
is `LPE_FUSION 247` correct to use PX4Flow without Lidar only sonar that came with Px4Flow indoors?

[2017-03-23 17:31] mhkabir commented on #6864
LPE_FUSION should be 162

On 23-Mar-2017 9:48 PM, "Vinh K" <notifications@github.com> wrote:

[2017-03-23 18:05] davids5 opened #6881 "Revisit Nuttx Build"
@dagar

Moving [this](https://github.com/PX4/Firmware/pull/6878#issuecomment-288600843) here.

Revisiting the build is fine.

We still need to maintain the make oldconfig and menuconfig in whatever we do.
We need to keep in mind that a defconfig changes need a clean build.
We need to keep in mind that a patch change needs a clean copy of the affected files in the patch.

Getting the incremental bu

[2017-03-23 18:11] dagar commented on #6881
What about applying the patches in place?
Does Nuttx have an out of source build?

[2017-03-23 18:24] davids5 commented on #6881
We did that before cmake.
The was an objection: why is "NuttX" dirty? - Finding a git based solution as opposed to patches would be the answer. But I need the same level of control I get with the patches. Multi branches tied to different Nuttx submodels,  support of multiple submodules and in multiple repos.

 No and since we iterate board configs as we build. in tre would be
``
distclean
cp confi

[2017-03-23 18:34] lucasdemarchi commented on #6881
@davids5 I think the way patches are applied done in #6878 is a great improvement so this can be in for now.

I'd still like to keep the patches on a branch in our fork of NuttX... this would ease how we apply newer patches, not needing the steps for "1. create patch with right prefix; 2) possibly edit the path; 3) copy do PX4/Firmware".

Since now the patches are sorted, we can easily create a br

[2017-03-23 18:50] Stifael commented on #6867
Ok, thats what I experienced as well. The question still remains why some of us can do it and others not. I can reproduce it quite easily

[2017-03-23 19:10] vinhk commented on #6864
@mhkabir I'll do that.

[2017-03-23 19:53] anuppari commented on #6873
So after looking through the mavros code, it looks like when setting attitude/thrust/attitude rates on their corresponding topics (~setpoint_attitude/attitude, ~setpoint_attitude/att_throttle, ~setpoint_attitude/cmd_vel), mavros sets the bitmask in the SET_ATTITUDE_TARGET mavlink message to ignore the others. So for example, publishing to ~setpoint_attitude/attitude, mavros masks out the throttle

[2017-03-23 19:57] anuppari commented on #6830
This seems to have to do with how px4 interprets the type_mask in mavlink SET_ATTITUDE_TARGET . See https://github.com/PX4/Firmware/issues/6873#issuecomment-288840787 for a solution

[2017-03-23 20:11] davids5 commented on #6881
@lucasdemarchi

I am really glad you are looking this. I have a workable solution that allows me to continue to develop, with now a minimal impact on non NuttX developers.

For a fork that the maintainer updates they can do as they like.
We can even add support to the build to turn off the patches.

But this will not work for my work flow and development needs.

1) My upstream tracking development

[2017-03-23 20:17] lovettchris commented on #6873
Ah, indeed, it would not.  Just be aware that PX4 only supports a subset of all possible bitmask combinations.  (~/src/modules/mavlink/mavlink_receiver.cpp, lines 1200 through 1236).  I've gotten good results with attitude control by sending only this:

[code]

[2017-03-23 22:17] priseborough commented on #6867
Not much time scale / gyro scale error is required to break the estimator in this scenario. Lets say for example we rotate at 200 deg/sec continuously in yaw and there is a 3% scale factor error. That is equivalent to a step change of 6 deg/sec in bias which will break the estimator.

The lack of lockstep scheduling with the PX4 SITL implementation makes it absolutely critical that both the vehicl

[2017-03-23 22:20] priseborough commented on #6867
I am unable to fix this because it is not an estimator error.

[2017-03-24 01:13] vinhk opened #6882 "make px4fmu_v2_lpe upload causes issues during radio calibration"
Hi Everyone,

I am working on testing LPE using Optical flow but after I flashed the masters using `make px4fmu-v2_lpe upload`, I can not get pass radio calibration step in QGC. It gives me `Detected 0 radio channels. To operate PX4, you need at least 5 channels`.

[2017-03-24 01:41] lucasdemarchi commented on #6881
Hi @davids5 .. I think what I'm suggesting is basically replacing the step 10 and 11. I prototyped it here to see if it would work and apparently it did.  I'm pushing for you to take a look.

Instead of generating the patch, copying it to nuttx-patches dir and making the build system to manually apply them, this would be replaced with:

10. Switch to branch px4 on the submodule that's being patche

[2017-03-24 01:54] lucasdemarchi commented on #6881
And for example, to add the changes from @zehortigoza would be basically to apply the branch
https://github.com/lucasdemarchi/nuttx/commits/pr-zeh-changes on the px4 branch that we would maintain and propagate the submodule updates.

That branch had one conflict when I was backporting it, which is easier to solve with the git tools. And the branch is built-tested only. @zehortigoza can you take a

[2017-03-24 02:00] davids5 commented on #6881
@lucasdemarchi Can we discuss this on a call?

[2017-03-24 02:37] jywilson commented on #6778
This issue is fixed in this PR:
https://github.com/PX4/Firmware/pull/6883

[2017-03-24 02:42] jywilson commented on #6765
Christoph,

This issue should be fixed with this PR:
https://github.com/PX4/Firmware/pull/6883

Jim W.

[2017-03-24 02:52] Antiheavy opened #6884 "PX4 fixed wing reporting unreasonable alt/distance errors in recent QGC daily builds"
With recent QGC daily builds I am seeing strange altitude/distance errors being reported back.  This happens with multiple PX4 builds that include the fixes to HIL sim PRs.  I'm running Xplane10 HILstar model on a pixracer.  Details further below.

Any ideas?

@DonLakeFlyer did you mention elsewhere some recent changes to MISSION_ITEM_INT support in QGC?

Fixed wing landings are always rejected wi

[2017-03-24 03:08] jywilson commented on #6773
Communication with the ESC board occurs over one UART link to all four ESC's.  You need to use the ESC driver that is included in the FCAddon which can be downloaded from the Intrinsyc website.  The ESC drivers available in PX4 will not work with this ESC.

Look at the px4.config file in the 210qc directory for an example of how to load to load this driver.

Jim W.

[2017-03-24 03:14] DonLakeFlyer commented on #6884
Ah, I finally gave myself the hint I needed. I was setting alt using the _INT format as well. But when round tripped I pulled alt back from _INT format so it looked like everything was working correctly through QGC. The bug is on the QGC side.

[2017-03-24 03:31] #6884 closed

[2017-03-24 04:21] davids5 commented on #6882
Please see https://github.com/PX4/Firmware/issues/6762#issuecomment-287955542

It may be the same issue. Please try and revert those commits and let me know if it resolves the issue for you.

[2017-03-24 05:07] vinhk commented on #6762
I have similar issue after flashed masters using 'make px4fmu_v2_lpe. I got this error  "Detected 0 radio channels. To operate PX4, you need at least 5 channels" when calibrate Radio in QGC.

[2017-03-24 05:24] vinhk commented on #6882
@davids5 The thing is I wanted to test position hold using LPE. By reverting it, do you mean just flash using the default master firmware from QGC?

[2017-03-24 06:57] #6861 closed

[2017-03-24 08:44] ChristophTobler opened #6887 "Snapdragon Spektrum RC not working"
Once I turn on the Spektrum RC I get the following:
[code]

and the mini-dm output is:
[code]

@julianoes @jywilson any ideas why that is?

[2017-03-24 09:05] #6836 closed

[2017-03-24 12:44] julianoes commented on #6887
Looks like the DSP crashes.

I would comment out everything in the Spektrum driver, try again. If that works, you add in about half of the code and you do a binary search until you have the line that causes the crash.

[2017-03-24 16:25] davids5 commented on #6881
Hi @lucasdemarchi

I was thinking about the discussion we had, and I am looking forward to seeing the workflow (with command) laid out.

Please set me straight if I am missing the point, or some git skills/tools that invalidate the following:

But this is what I see:

[code]
Assuming I have only:
(A) master PX4 tied to one currently a FIXED commit on PX4NuttX
and
(B) master_some_arch_tied_to_upste

[2017-03-24 16:51] davids5 commented on #6882
@vinhk

no.

The title "make px4fmu_v2_lpe" led me to believe you are building the code. Correct?

If so the suggestion I made is to to do:

[code]

Then run ```make px4fmu_v2_lpe upload" and see if the problem goes away.

Let me know

[2017-03-24 16:58] vinhk commented on #6882
Thanks. I am hoping to get rid of radio calibration. As now I am having that issue which is preventing me from using the pixhawk.

[2017-03-24 17:00] vinhk commented on #6882
I successfully build the code and upload but then the radio calibration in QGC prevents me from going further.

[2017-03-24 17:15] davids5 commented on #6882
"The code"

master ?
Or
master with the revert commands ?

[2017-03-24 17:18] vinhk commented on #6882
The master. Based on your suggestion I did the following:
`
mkdir -p ~/src
cd ~/src
git clone https://github.com/PX4/Firmware.git
cd Firmware
git revert --no-commit 63857c6
git revert --no-commit a716b10
git revert --no-commit b8e7278

make px4fmu-v2_lpe upload`

[2017-03-24 17:25] dagar commented on #5691
Fixed in #5614

[2017-03-24 17:25] #5691 closed

[2017-03-24 17:25] davids5 commented on #6882
Ok that test separates this from the from the V4  #6762 (comment) issue.

Please do a ```git reset --hard origin/master```

Then ```make px4fmu-v2_default upload```

Does that work?

If NOT this may be a HW issue.

[2017-03-24 17:26] dagar commented on #6390
I'll fix this, but for now try `make posix_sitl_ekf2 gazebo_tailsitter`.

[2017-03-24 17:37] vinhk commented on #6882
Is there a way to reset hw?

[2017-03-24 17:43] davids5 commented on #6882
I assume from your response the ```px4fmu-v2_default`` build on master did not fix the radio issue

Is that correct?

The FMU is reset on power cycle.

If you list the model number for your Transmitter and Receiver @kd0aij  may be able to help it.

Also  check your cabling with ohm meter or a scope.

[2017-03-24 17:50] vinhk commented on #6882
that's correct. I still have that issue with the QGC.

[2017-03-24 18:10] davids5 commented on #6882
If it is only the RC then it is a HW problem.

[2017-03-24 21:49] vinhk commented on #6882
@kd0aij I am using Spektrum DX6 and Spektrum AR7700 receiver.

[2017-03-24 21:50] vinhk commented on #6882
I was able to flash it a day before. Now Radio calibration never work.

[2017-03-25 04:22] lovettchris opened #6895 "sdlog bug?"
I'm reviewing this code because I want to add logging of actual barometric pressure, but can someone explain how this works?

[sdlog2.c, line 1529-1538](https://github.com/PX4/Firmware/blob/master/src/modules/sdlog2/sdlog2.c#L1529):
[code]

The "buf" variable is a "union" of structs. This code is copying sensor_combined, then also copying efk2_reply into the same buf, (which is a union), so surely

[2017-03-25 04:35] dagar commented on #6895
This doesn't answer your question, but I'd recommend you give the new logger a try. It directly logs selected uorb messages, so it's quite easy to extend. https://dev.px4.io/advanced-logging.html

[2017-03-25 04:39] lovettchris commented on #6895
Actually, that solves all my  problems.  Thanks!

[2017-03-25 04:39] #6895 closed

[2017-03-25 04:59] mhkabir commented on #6823
Fixed here : #6897.
@lovettchris Can you please cross-test.

[2017-03-25 04:59] dagar commented on #6843
We could expand the automated mission tests to randomize the start location.

[2017-03-25 06:35] mhkabir commented on #6772
@ChristophTobler Here are 2 logs which kind of make the issue visible. I was testing something else, but you can observe the drift here. LPE also seems to be less drifty (within bounds of what I would expect from OF) while EKF2 is more so.

EKF2 : http://logs.px4.io/plot_app?log=0ac0bb3a-239d-4039-bd65-40409d963a67
LPE : http://review.px4.io/plot_app?log=1ed81db6-8f9b-405b-bc66-9151757657b2

[2017-03-26 03:46] dennisss commented on #6792
Also had this issue. On macOS specifically. The Instruments: Time Profiler is pretty useful was pretty handy for finding this issue:
<img width="1005" alt="screen shot 2017-03-25 at 11 43 48 pm" src="https://cloud.githubusercontent.com/assets/1341104/24328340/117c7340-11b5-11e7-83ab-0402e5ffe988.png">

See PR above for fix.

[2017-03-26 03:59] dennisss commented on #6831
Misspelled `osrf/simulaton`, should be `osrf/simulation` (note the last `i`). If you are on a newer version of Mac, this may also be useful to you: https://github.com/osrf/homebrew-simulation/pull/198

[2017-03-26 05:09] dagar opened #6898 "pixhawk 2.1 mag calibration failure with external"
http://discuss.px4.io/t/pixhawk-2-mag-calibration-failure-with-here-gps-module/2869

Start the individual calibration steps by clicking one of the buttons to the left.

    [cal] calibration started: 2 mag
    [cal] Skipped scale calibration, sensor 1
    [cal] Skipped scale calibration, sensor 2
    [cal] Mag 3 no device id, abort
    [cal] calibration failed: mag

If I remove the module, then I

[2017-03-26 05:10] dagar commented on #6898
Either need to update PX4 to handle 4 mags, or realistically we probably don't need 3 internal mags.

[2017-03-26 06:34] matanhavi commented on #6843
I found the reason of the bug.
The declination calculation of the simulator should be reversed.
If I reveret the sing at [declination calc](https://github.com/PX4/sitl_gazebo/blob/f6a116d7741e70af729f2513ffbf9cc036bd291f/src/gazebo_mavlink_interface.cpp#L664) its seems that it behave better.
I am not sure why.
- More impotent, are all the calls to get_mag_declination() are on the right sign all ov

[2017-03-26 10:40] #6792 closed

[2017-03-26 10:45] LorenzMeier commented on #6792
@dennisss Thanks! Fix is on master.

[2017-03-26 10:46] LorenzMeier commented on #6887
@ChristophTobler @julianoes Can you look into that on Monday?

[2017-03-26 10:49] LorenzMeier commented on #6843
The whole statement is wrong. I think it got broken recently. There is declination and inclination. Declination should be a rotation around yaw. Inclination is something entirely different and is the Z component of the vector.

To fix this, change this to:

x, y, z
0.4, 0, 0.6

Rotate this fixed vector by negative declination.

[2017-03-26 12:05] #6823 closed

[2017-03-26 17:02] matanhavi commented on #6843
@LorenzMeier :

Do you mean by that that my observation about the sign is wrong?
I think that in that point the simulator create new magnetic reading, "simulate" the magnetic vector, and that why sign is wrong.

where can you see that?

I tested on Seattle (declination of +15) and on other random locations (-10,-40, declination -22, for example) the fix works.
On both, the heading is not east with

[2017-03-26 20:56] tubeme commented on #6898
Is this the X2.1??

[2017-03-26 21:12] dagar commented on #6898
Yes

[2017-03-27 00:49] yajingwang94 opened #6899 "Why do not use the mavlink module but add a simulator module in SITL loop?"
Hi,

I am doing some` SITL` and `HIL` experiments in `gazebo`. When I learn the inner operating mechanisms of the `SITL` loop, I find the `mavlink` module dose nothing related with the connection between gazebo and the px4 package, but the `simulator` module dose , which receives the vehicle status from gazebo and send back the control commands using socket with TCP/IP protocols.

I tried to figur

[2017-03-27 03:29] JohnSnowball opened #6900 "Bad LPSP.Z data leads to crash"
I suffered a crash with my 450 X8,  I use EKF2 and a range finder, with EKF2_HGT_SOURCE = rng_finder.
My copter works fine in MANUAL mode, but when I switch to ALTITUDE mode, it goes crash.
I checked the log and found that it has extremly bad LPSP.Z data during ATL mode, as shown in picture, the units is meter. The RC input is OK, everything else seems to be OK.

![default](https://cloud.githubuse

[2017-03-27 07:18] ChristophTobler commented on #6887
@julianoes The error occurs as soon as the topic gets advertised. https://github.com/PX4/Firmware/blob/d1372ddb6728c2f61fbd3f26be8dae477424a643/src/drivers/spektrum_rc/spektrum_rc.cpp#L130

[2017-03-27 08:13] tumbili commented on #6900
@MaEtUgR @Stifael @priseborough I think the problem is related to this function here
https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/mc_pos_control_main.cpp#L837

When the ekf is not able to initialize it's origin (in this case due to gps not being available) then it will always reset the reference timestamp here
https://github.com/PX4/Firmware/blob/master/src/modules/ekf2/e

[2017-03-27 08:27] julianoes commented on #6887
@ChristophTobler Interesting. Do you think the advertisement fails or it crashes because of the fact that rc_input is published and is used somewhere?

[2017-03-27 08:31] bkueng commented on #6899
Hi @yajingwang94

Your analysis is correct. The reason for the separation is that the `simulator` does some additional things like wait for gazebo on startup, time accounting, sensor simulation and in future maybe lock-stepping. But I agree it would be nicer if the 2 were combined. If you want to work on that you're welcome to do so.

[2017-03-27 08:33] yidengfeiwu commented on #6882
i got the same message "Detected 0 radio channels" after i upload the firmware.

[2017-03-27 08:44] LorenzMeier commented on #6882
@PX4TestFlights @davids5 Can you please look into this today?

[2017-03-27 08:54] ChristophTobler commented on #6887
@julianoes I think it's the advertisement, because it happens even if I don't publish (`orb_publish()`). And it just happens if `rc_lost` is false https://github.com/PX4/Firmware/blob/d1372ddb6728c2f61fbd3f26be8dae477424a643/src/drivers/spektrum_rc/spektrum_rc.cpp#L188

[2017-03-27 08:55] LorenzMeier commented on #6887
@ChristophTobler Advertising does also publish. If rc_lost is false then it sounds like some other code part crashes which reads the rc_lost flag.

Can you publish rc_lost = true and see if that works?

[2017-03-27 08:56] ChristophTobler commented on #6887
@LorenzMeier Ah, ok. yes, there is no error when I set it to `true`

[2017-03-27 09:40] ChristophTobler commented on #6887
So without this https://github.com/PX4/Firmware/blob/11484b0d51876d3d4404520440cd88995a23d57d/src/modules/sensors/rc_update.cpp#L445-L446, I don't get the error and warnings. If I replace `orb_subscribe_multi(ORB_ID(telemetry_status)...` and `orb_subscribe(ORB_ID(manual_control_setpoint))` with `0`, I don't get the warnings but still get the error (see first comment)

[2017-03-27 09:52] bkueng opened #6902 "Pixracer: MANUAL CONTROL LOST on param save"
When landing, the flight duration param is set, leading to a param save. On pixracer, this causes a manual control loss and failsafe mode switch. The following shows the order of events (timestamps in ms), on #6901 branch:
[code]

And this shows the sampling is thrown off during param save (timestamps do not match the above output):
![manual_control_loss_pixracer_sampling](https://cloud.githubuser

[2017-03-27 10:47] yidengfeiwu commented on #6882
this video help me,now i can calibrate my radio,although i still don't know why

https://www.youtube.com/watch?v=4lRFwVN1vFY

[2017-03-27 12:30] julianoes commented on #6887
I don't understand what you mean. It seems like something is triggered and crashes as soon as you have RC, right?

[2017-03-27 12:34] ChristophTobler commented on #6887
@julianoes by replacing them with 0, I make sure it's because of publishing the the data and not some other code using it.

[2017-03-27 16:02] santiago3dr commented on #6882
today's master (v3) does not recognize rc input
tried forcing i/o boot by holding down the safety switch to no avail

using pixhawk mini

[2017-03-27 18:20] Stifael commented on #6900
This update ref function is indeed something I like to change/move. Please see here for further discussion
https://github.com/PX4/Firmware/pull/6459

[2017-03-27 20:01] tomatac commented on #6864
@mhkabir
162: 1010 0010
OFF bit 0 fuse GPS, requires GPS for alt. init
ON  bit 1 fuse optical flow
OFF bit 2 fuse vision position
OFF bit 3 fuse vision yaw
OFF bit 4 fuse land detector
ON  bit 5 pub agl as lpos down
OFF bit 6 flow gyro compensation
ON  bit 7 fuse baro

Why is the flow gyro compensation OFF?
Do you know if there is any document or post that explains the best practices on setting th

[2017-03-27 20:05] vinhk commented on #6864
@tomatac You have that opposite. 1010 0010. It start from: GPS, Optical Flow, Vision Position, ... etc.

In this case flow gyro is on based on the 1010 00**1**0

[2017-03-27 20:20] dagar commented on #6864
Did you try using QGC?

![image](https://cloud.githubusercontent.com/assets/84712/24376172/f34c2dc0-1308-11e7-86f7-e3129df1947a.png)

[2017-03-27 23:12] jywilson commented on #6887
+@julianoes

@ChristophTobler,

@wangxdflight has been working on some fixes to the Spektrum RC driver, but has not had a chance to upstream them yet.  I don't know if this will help, but I have asked him to push his changes into a "WIP" PR. I would recommend that you look at these changes to see if it relates to your issues.

I will post the PR link to this thread once he creates it.

Jim W.

[2017-03-27 23:20] davids5 commented on #6882
@vinhk @yidengfeiwu

@santiago3dr - has done some great detective work and has found a correlation to the version of the compiler.

The build servers and dev team should all be using:
[code]

Please do a ```arm-none-eabi-gcc --version``` and post you finding here.

If you are not using 5.4.1 please see https://dev.px4.io/starting-installing-linux-boutique.html#toolchain-installation and install it

[2017-03-27 23:33] sanderux opened #6905 "Level horizon from QGC doesn't survive reboot"
When leveling horizon the new offsets get applied but return to previous state after a reboot.
(aka no param write)

@LorenzMeier do you know who to assign?

[2017-03-27 23:59] tomatac commented on #6864
Thank you @dagar! I will try using the QGC now that I know that we need a different firmware file (px4fmu-v2_lpe in the zip file on the github).
The question remains: what are best practices on setting these parameters for position estimation using only PX4FLOW and no GPS?

If the Default is: 247: 1111 0111
ON  bit 0 fuse GPS, requires GPS for alt. init
ON  bit 1 fuse optical flow
ON  bit 2 fuse v

[2017-03-28 01:10] jywilson commented on #6887
@ChristophTobler

This PR contains a fix removing the hard coded channel assignment in the Spektrum driver.  This may not be related to your problem, on second thought, but this could still be helpful.

https://github.com/PX4/Firmware/pull/6906

Jim W.

[2017-03-28 01:36] JohnSnowball commented on #6900
![default](https://cloud.githubusercontent.com/assets/18409502/24384580/70777c1c-1397-11e7-8af1-87849a38ba46.png)
true story! thanks! I will comment the update_ref function for the moment until you are sure you fixed this bug. Thanks!

[2017-03-28 03:26] davids5 commented on #6762
There are 2 problems with the same symptoms:

Please see

1) px4fmu-v4 build see https://github.com/PX4/Firmware/pull/6907

2) px4fmu-v2, px4fmu-v3 builds see https://github.com/PX4/Firmware/issues/6882#issuecomment-289615062

[2017-03-28 03:54] yajingwang94 commented on #6899
I see. Thanks for the reply.

[2017-03-28 03:56] yajingwang94 commented on #6899
@bkueng I see. Thanks so much for your reply.

[2017-03-28 05:11] mzahana commented on #6900
I am facing the same EXACT issue! I wull try to uoload some logs later!

[2017-03-28 06:08] ChristophTobler commented on #6887
@jywilson Thanks! I'll have a look at it.

[2017-03-28 06:48] bkueng commented on #6905
@sanderux I just tested level calibration with QGC several times with pixracer, and it stays persistent every time. Is it reproducible for you? Which HW? And do you have the same problem on the #6901 branch?

[2017-03-28 08:43] yajingwang94 opened #6909 "Confusions about topics in gazebo_mavlink_interface.cpp."
Hi,

I find in the `gazebo_mavlink_interface.cpp` that the `control information` has two sources:
-1.  from `udp_port 14560 `(which is bind with the `socket` of `simulator` module) ;
-2.  from topic `/HilControl` ;

When I searched for the information of `/HilControl` topic, I failed to find its publisher:
![screenshot from 2017-03-28 16-21-24](https://cloud.githubusercontent.com/assets/18362945/2

[2017-03-28 09:12] Ahrovan commented on #6877
@ecmnet have a way for configuration with Qgroundcontrol?

[2017-03-28 09:35] bkueng commented on #6899
You're welcome - I'm closing this then

[2017-03-28 09:35] #6899 closed

[2017-03-28 09:49] ChristophTobler commented on #6887
@jywilson https://github.com/PX4/Firmware/pull/6906 does not solve the issue, unfortunately.

[2017-03-28 11:29] sanderux opened #6911 "VTOL pusher motor doesnt start on current master"
The ESC beeps indicate no signal to the pusher motor.
I am currently bisecting

[2017-03-28 11:31] sanderux commented on #6905
Its on a dropix (fmuv2)
it's consistent over multiple FC's
I'm now working on a more critical issue https://github.com/PX4/Firmware/issues/6911
after that i'll try your suggestion

[2017-03-28 12:23] sanderux commented on #6911
@kd0aij i bisected this issue to your oneshot commits
https://github.com/PX4/Firmware/commit/aa9fbbedd54a7a0e346ea03f439dcdf4f90c6113
https://github.com/PX4/Firmware/commit/2d5588ae02560aae029844410212aab38785d671

vtol pusher motor is on aux ports, please fix this

[2017-03-28 12:24] LorenzMeier commented on #6911
@davids5 Can you chime in and have a look?

[2017-03-28 13:15] Clark-Youngdong-Son opened #6912 "Noise(?) in PWM signal"
Hello all.

I am sorry if this 'issue' board is not appropriate for question.

Device : PixhawkMini
Firmware : px4fmu-v2_lpe

I am changing the firmware to apply my own controller(model-based) which outputs (thrust(N), 3-axis moment(N.m)).

Before changing the controller, I am checking the PWM signal flow to find out where I can change PWM values directly.

I found that the file "fmu.cpp" calls fu

[2017-03-28 13:21] sanderux commented on #6905
@bkueng the issue seems already resolved on master, i could only reproduce it in the branch we were flying (somewhere jan)

[2017-03-28 13:35] bkueng commented on #6905
Ok, I'm closing it then.

[2017-03-28 13:35] #6905 closed

[2017-03-28 13:58] sanderux commented on #6911
@LorenzMeier any way to revert these? it is impeding our ability to go out and test fly

[2017-03-28 14:14] ChristophTobler commented on #6887
This issue has magically disappeared by changing https://github.com/PX4/Firmware/blob/master/src/modules/sensors/sensors.cpp#L716 to `10000`, build, and then change back...

[2017-03-28 14:14] #6887 closed

[2017-03-28 14:52] jywilson commented on #6778
A fix for this issue is now on master.

[2017-03-28 14:52] #6778 closed

[2017-03-28 14:53] jywilson commented on #6765
@ChristophTobler can you verify that this is mixed on the master branch, and close if so.  Thanks.

[2017-03-28 14:57] sanderux commented on #6911
@davids5
regular pixhawk, autostart 13006 (standard delta vtol)
pusher on aux3

[2017-03-28 15:00] davids5 commented on #6911
@sanderux

Also what HW is this running on and what make command (px4fmu-v4_default etc ) is used?

I just found a bug where if the fmu is stopped and started the publications were duplicated.

please list the results of ```ls /obj``` on the nsh console here if you would.

[2017-03-28 15:05] sanderux commented on #6911
hw is dropix
make is px4fmu-v2_default

[code]

[2017-03-28 15:09] davids5 commented on #6911
@sanderux - thank you

Let me see what I can find.

[2017-03-28 15:38] dagar opened #6913 "Parameter reference page not updating"
https://pixhawk.org/firmware/parameters

[2017-03-28 15:41] smnogar commented on #6724
Just to add to this thread, I encountered these errors when trying to run MAVROS and PX4 on a Snapdragon Flight. The issue is that I had set the mavlink rates too high for the ROS node to keep up.

[2017-03-28 16:04] sanderux opened #6914 "Auto takeoff misbehaving"
![image](https://cloud.githubusercontent.com/assets/14801663/24415158/d64c195a-13e0-11e7-8e57-3ab851dccc67.png)

@LorenzMeier doesnt seem to be related to hover thurst. Do you know who to ping on this?

[2017-03-28 16:10] jywilson commented on #6887
@ChristophTobler Not sure I understand.  You changed the value for the build, but did not retain the change?

That parameter controls the stack size, so its possible there is an intermittent issue.

Can you provide a branch that I can use to test with my vehicle?

[2017-03-28 16:15] sanderux commented on #6914
@Stifael it seems to be related to the land detector

![image](https://cloud.githubusercontent.com/assets/14801663/24415689/91067e60-13e2-11e7-92ba-04dea1039c5e.png)

[2017-03-28 16:22] ChristophTobler commented on #6887
@jywilson now it's the master branch. So I had the error when connected to the Spektrum RC. Then we changed https://github.com/PX4/Firmware/blob/master/src/modules/sensors/sensors.cpp#L716 to `10000`, uploaded it to the Snapdragon, ran PX4 and there was no error. Then I tried lowering the value again and checked if it still works. In the end, it was even working with a value of `1000`. So now it w

[2017-03-28 17:42] Stifael commented on #6914
Interesting, the thrust is quite large and it still detects landing...
Can u upload the log?

[2017-03-28 18:50] vinhk commented on #6882
@davids5
I did

arm-none-eabi-gcc --version

and I got

arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors) 5.4.1 20160609 (release) [ARM/embedded-5-branch revision 237715]
Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

I troubleshoot the

[2017-03-28 18:52] sanderux commented on #6914
Interestingly the second flight i gave a bit of thrust in manual mode before switching to mission, that didnt exhibit the behavior:

Hard takeoff: http://logs.uaventure.com/view/VWPgEbTsU5huWhaKkBSGjf
Soft takeoff: http://logs.uaventure.com/view/5risy3gWaMT8dzQtxa9Jh3

[2017-03-28 19:19] tops4u opened #6915 "Mag Timeout"
Since 1.6 RC I have observed twice the following Error:

![error](https://cloud.githubusercontent.com/assets/6877067/24422944/9be881fc-13fb-11e7-83ef-f5279c1ca61c.png)

HW: AUAV-X2 / SW: 9235c0fd (1.6 RC)

[2017-03-28 19:31] davids5 commented on #6882
@vinhk

You may have bad FW on the IO.

Let's force bootload mode on it*.

1) If using one Unplug the power module.
2) disconnect the USB
3) Hold down the safety switch and plug in USB.
4) Release safety.

(*This can also be done with using the reset switch)

Did the IO LED recover?

[2017-03-28 19:56] tubeme opened #6916 "IC Engine Throttle settings."
Hello guys,

I'm preparing a pretty large airplane with IC engine for Monday flights. I played with the FW_THR_MIN and FW_THR_IDLE but i really could not see the difference between the two parameters.

As far as I understand FW_THR_IDLE is the 0 throttle setting for the servo that pushes the throttle. By default it stays at 15%. No effect when I push it to 25%.

Does this concern only the auto mod

[2017-03-28 20:11] vinhk commented on #6882
@davids5 Thanks a lot. It is working now

[2017-03-28 20:17] LorenzMeier commented on #6916
Idle throttle is intended to be a good "standby" throttle value prior to takeoff. It should be higher than min and lower than trim. It will only be used in the launch detection section right now.

You will want to set pwm disarmed to IC cut and throttle min to a value where the IC engine is safely running.

This is also how most electric systems are set up.

[2017-03-28 20:25] tubeme commented on #6916
OK I understand.

Besides we are using a throttle cut electronics (the Gas engines cannot be cut with just the trottle) that is how we set it up. The disarm is the lowest possible value almost cutting the engine. The the Min should be such that it guarantees the auto modes not cutting the throttle in flight.

So I understand that the IDLE does not affect the plane while taking off from airstrip bu

[2017-03-28 20:42] LorenzMeier commented on #6916
It sets the throttle you would have once you activate launch detection on the catapult.

[2017-03-28 20:45] vinhk commented on #6882
@davids5 the IO LED is still orange instead of green. But at least the RC calibration is working.

[2017-03-28 20:45] #6882 closed

[2017-03-28 20:46] kd0aij commented on #6911
@sanderux Sorry this got broken

@davids5 Were the subsequent changes to my oneshot PR tested before merging? My last flight test was on fmu-v4 here: https://github.com/PX4/Firmware/pull/6616#issue-208740733 and both FMU and IO outputs were working.

[2017-03-28 20:54] davids5 commented on #6911
@kd0aij - not to that logic per say - I did question that change a few times for the IO but not for the FMU. I  wonder if a better fix would be to ensure there is a "once" then use the n_updates like you had. Would you please have a close look at it?

[2017-03-28 21:04] LorenzMeier commented on #6915
@bkueng I think you were investigating this. Worth talking to David and through the architecture.

[2017-03-28 21:06] tops4u commented on #6915
Just to clarify: I have not observed any Impact on Flight performance.

[2017-03-28 21:11] tubeme commented on #6916
Clear. Thanks. I will try to find the param info in the QGC tree and give some more detail on it.

[2017-03-28 21:11] LorenzMeier commented on #6915
It should not impact it significantly, but its still something we want to resolve.

[2017-03-28 21:31] sanderux commented on #6911
Has been fixed, closing this issue.
@kd0aij if you find anything worthy of change can you open a new issue?

[2017-03-28 21:31] #6911 closed

[2017-03-28 22:06] d3z0rian opened #6918 "Pixhawk Mini: RC Input is not detected if using GCC 4.9 in Mac OS"
RC Input is not detected if master for px4fmu-v3_default is compiled with Toolchain 4.9.3 in Mac OS.

Not working with 4.9.3:
![image](https://cloud.githubusercontent.com/assets/5013954/24428957/f759741a-13c4-11e7-9ef4-c87ae1394d4f.png)
![image](https://cloud.githubusercontent.com/assets/5013954/24428987/15c64338-13c5-11e7-876e-e5f73381b855.png)

Working with 5.4.1:
![image](https://cloud.githubus

[2017-03-28 23:11] vinhk opened #6919 "How to connect Pixhawk PWM to Lidar Lite V3"
I am trying to make Pixhawk work with Lidar Lite V3 using PWM. I enabled `SENS_EN_LL40LS` in QGC. However, I am unable to see it's data getting integrated into Pixhawk as distance sensor. Here is my wiring based on https://pixhawk.org/peripherals/rangefinder.
![screenshot from 2017-03-28 19 14 36](https://cloud.githubusercontent.com/assets/17210431/24431599/d3441eb0-13ea-11e7-85e5-a3eb087f902e.png

[2017-03-29 00:17] davids5 opened #6921 "Oneshot mode is not entered PWM_RATE=0"
@LorenzMeier

FYI @kd0aij

I do not see where PWM_RATE's value is propagated to the io_timer_set_rate(group, rate) ever. On the FMU is it always 50 regardless of the param being PWM_RATE=0. So I think we either need some start up changes or make the fmu/io code read the value and use it.

[2017-03-29 03:19] mhkabir commented on #6919
The driver is not compiled for FMUv2 due to limited flash and tiny user base (till v2). You'll need to uncomment the driver from the fmuv2 cmake file, or use the fmuv3 target if your Pixhawk has the Rev 3 chip with no flash limitations.

[2017-03-29 04:37] vinhk commented on #6919
@mhkabir would you be able to direct me to the driver that is needed to be uncomment from fmuv2 cmake file? I am using px4fmu-v2_lpe.

[2017-03-29 06:27] #6765 closed

[2017-03-29 07:56] julianoes commented on #6887
@jywilson I can confirm this.

We debugged that line where the `orb_subscribe_auto` (https://github.com/PX4/Firmware/blob/master/src/modules/sensors/rc_update.cpp#L445-L446) lead to a crash and what we found is that it mattered if `orb_subscribe_auto` was compiled but it didn't matter if it was actually called. E.g. we put a long sleep before `orb_subscribe_auto` and it would crash immediately bef

[2017-03-29 09:29] bkueng commented on #6915
I haven't seen it on mission update so far. It is strange, since both `lpwork` (on which the mag runs) and `sensors` run at a higher prio than `mavlink`, `dataman` and `navigator`.

[2017-03-29 09:40] yl5006 commented on #6918
I have same problem in linux

[2017-03-29 09:42] tops4u commented on #6915
I have also MAVLINK Stream dropouts (#6260) so OSD Data lags siginficantly behind real Fligh Data. I could observe that yesterday where Altitude Data was not realtime and it was hard to hit a Fligh Level of 35m above ground as the update on Alt was only very sporadic. Also the OSD Complained often about Frozen Stream Data...

[2017-03-29 10:37] sanderux commented on #6914
@Stifael did you find anything?

[2017-03-29 11:43] Stifael commented on #6914
is there any reason why thrust_min is set to 0.3?

[2017-03-29 11:46] Stifael commented on #6914
https://github.com/PX4/Firmware/blob/master/src/modules/land_detector/MulticopterLandDetector.cpp#L325

[2017-03-29 11:47] sanderux commented on #6914
The reason is that during landing a vtol sometimes catches wind under the wing. If the motors go lower then 30% it loses stability and it looks like it will fall out of the sky

[2017-03-29 11:56] sanderux commented on #6914
I still dont understand why it would interfere with the takeoff procedure in mission mode.
It seems that giving a little manual thrust before switching to mission makes it behave correctly

[2017-03-29 11:56] sanderux commented on #6914
Perhaps checking the setpoint type, in type=takeoff it should never consider being landed

[2017-03-29 11:58] Stifael commented on #6914
that could fix that part, but with min thrust of 0.3 I would not be surprised if landing would be detected during flight

[2017-03-29 12:00] Stifael commented on #6914
what you think about introducing a second min thrust specifically for vtol?

[2017-03-29 12:01] Stifael commented on #6914
I think the min thrust should not be a parameter for tuning, but actually a min that the props can produce. otherwise the landdetection does not make much sense

[2017-03-29 12:02] sanderux commented on #6914
A min thrust during landing might be an idea. but i dont see how this is related to the mission takeoff issue,

[2017-03-29 12:02] sanderux commented on #6914
i mean, the setpoint type takeoff should not care if it is landed

[2017-03-29 12:03] Stifael commented on #6914
well, I would say the other way around. the landed should not care if is a takeoff or not

[2017-03-29 12:04] Stifael commented on #6914
it you do takeoff, but doent leave the ground and the min thrust is satisfied, then I think it is valid to detect a landing

[2017-03-29 12:24] bkueng opened #6924 "Tracing malloc on NuttX"
Ever since #4742 I was wondering how it would look like on NuttX. Now I got down to it and printed the caller addresses and size of malloc, and combined the output into a table.

### Results
In the following, the first column shows the total size of all allocation calls in bytes, the second the number of calls, then the caller method and the allocated size (minimum and maximum if there are several

[2017-03-29 13:07] sanderux commented on #6914
I think we are talking in circles.

I don't want this behavior. I dont want something preventing the takeoff setpoint from being allowed to provide thrust. The current behavior of a takeoff is: stay at min thrust for 2 seconds and then bang it to max thrust. That is a bug and i am trying to figure out why this is happening as it is not the correct procedure. If you want to see what is SHOULD do ha

[2017-03-29 13:45] Stifael commented on #6914
Well, as I said, the thrust is below the minimum thrust for more than 2 seconds. The landing detection has obviously its limitation, and one criteria for landing detection is the thrust (maybe in the future we can change it to  velocity). Once landing detected, it will throttle down.
All I am saying is that the landing should stay independent of the rest of the logic. The takeoff is definitely not

[2017-03-29 13:48] Stifael commented on #6914
And given the data, of course it does since land detected. I need to look at the log again, but I assume takeoff was detected first and then land detected.

[2017-03-29 13:51] sanderux commented on #6914
@Stifael i am at a loss on how to phrase this so i can get my point across. I will try one more time.

When the mission commands a takeoff the vehicle currently stays on the ground for 2 seconds, this is incorrect behavior. you are saying that as a **result** of this behavior the land detector kicks in. my question is if the land detector could be the **cause** of this behavior because it **should

[2017-03-29 13:58] Stifael commented on #6914
Before landing gets detected there is ground contact, where thrust in the body x and y gets turned off, but not in the z. Unfortunately px4log does not show that message (you have to add it or use ulog). That said, ground contact depends on the min thrust as well, so it was true as well.
Why can you not decrease the thrust min and try to takeoff again

[2017-03-29 14:01] sanderux commented on #6914
I will if you think that will solve it, but the link to the code you sent i dont see how that would effect things. obviously the land detector will consider the vehicle landed because it IS landed. my question is: why is it preventing a takeoff?

[2017-03-29 14:04] Stifael commented on #6914
If ground contact was detected, then it shouldnt since only body x and y thrust is turned off. But it could be that it is a bug and for some reason limited the thrust in z as well. Do you mind to test it with ulog?

[2017-03-29 14:05] sanderux commented on #6914
ok, i'll do that tomorrow

[2017-03-29 15:50] sanderux commented on #6914
Could it be this?
https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/mc_pos_control_main.cpp#L1884

[2017-03-29 18:05] Stifael commented on #6914
Yep,  thats where ground contact is handled. I actually cant remember the purpose of limiting the z direction when in ground contact.
But when looking at your plot, the thrust setpoint was non zero, which should be since the desired thrust during takeoff is pointing upward which means this if statement is not true and therefore the thust in z will be set to zero.
I need to have a closer look at it

[2017-03-29 18:16] Abelteklu commented on #6919
@vinhk , I think you have to uncomment drivers/ll40ls  from Firmware/cmake/configs/nuttx_px4fmu-v2_default.cmake file. Then do,

make px4fmu-v2_lpe upload

[2017-03-29 18:54] Abelteklu commented on #6919
@vinhk to check if your pixhawk has rev 3 chip, you can,

1- using nsh type,

_free_

and see the used and free flash memory size. Add the two and if they add up to approximately 2MB, ur Pixhawk has the rev. 3 chip. (Im not sure about this procedure. I will check....but I think the code is on the flash memory)

or

2- Open pixhawk's cover and see if it has the STM32F427 Cortex chip in the back.
I

[2017-03-29 19:14] sanderux commented on #6914
But here it's actually copied to the thrust_sp: https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/mc_pos_control_main.cpp#L1887

[2017-03-29 19:46] mhkabir commented on #6919
You can just run "ver hw" from nsh to check the chip revision.

On 30-Mar-2017 12:24 AM, "AbelH" <notifications@github.com> wrote:

[2017-03-29 20:50] Seanmatthews opened #6929 "Qualcomm (Snapdragon) ESC control problem?"
**Some upfront info:**
* Using the Snapdragon Flight development kit with the Qualcomm ESC controller
* Using RC controller DX6e
* Installed toolchain according to https://github.com/ATLFlight/cross_toolchain
* Flashed board with: https://support.intrinsyc.com/projects/snapdragon-flight/files
* Hexagon version: https://developer.qualcomm.com/download/hexagon/hexagon-sdk-v3-linux.bin
* Installed In

[2017-03-29 21:14] dagar commented on #6709
Implemented

[2017-03-29 21:14] #6709 closed

[2017-03-29 21:26] LorenzMeier commented on #6929
@mcharleb could you chime in?

[2017-03-29 23:48] Stifael commented on #6914
Yes, but thrust_body should be zero and therefore also the thrust_sp. Anyway, I will test it tomorrow in sitl with increased min thrust. I think it should be possible to reproduce it in  sitl

[2017-03-30 03:47] nanthony21 commented on #6752
As you increase the throttle the voltage of the battery drops. Normally this would cause it to appear that % remaining battery was lower than it actually is. PX4 counters this by scaling the voltage based on the current throttle. If you look in the advanced battery settings in QGroundcontrol there will be a box where you can the voltage drop caused by 100% throttle. It sounds like the value of thi

[2017-03-30 04:53] mcharleb commented on #6929
@Seanmatthews The only drivers for the Qualcomm ESCs are the legacy (binary) drivers. We may have open versions in the future but not currently so eagle_legacy_default is what you want. All the drivers were initially binary thus the "legacy" name. You can compare cmake/configs for the qurt_sdflight_default.cmake and qurt_sdflight_legacy modules to see the differences. You can add any modules you l

[2017-03-30 06:31] FPVflyer commented on #6839
Hi, thanks for your help.
I tried as suggested to move the AUX to 3 and 4, I tested again but sadly it still doesn't take picture. Log here: http://logs.uaventure.com/view/LKPD4qmviHBbQzmYEp7Kz3

Please, can someone help me fix this? I really need this working as I'm using this frame for my professional employ, and I don't want to switch to APM.

Best Regards

Damiano

[2017-03-30 07:45] Stifael commented on #6914
actually now I know why this thrust_sp(2) is set to 0. however, once the landdetection criteria is not satisfied, ground contact and landing should immediately be false.

[2017-03-30 08:51] rolandash opened #6930 "Tri-color LED status wrong on MindPX MindRacer 1.6.0 master"
Tri-color LED should turn to solid from breathing on ARMed.

However current 1.6.0 master LED status did not change after successfully armed, still breathing.

[2017-03-30 10:41] sanderux commented on #6914
ok, but at takeoff the landing criteria should be satisfied correct?

[2017-03-30 10:42] sanderux commented on #6914
the time it stays on the ground looks a lot like the hysteresis time for the land detector

[2017-03-30 10:43] sanderux commented on #6914
my guess is the setpoint goes up and land detector hysteresis blocks the thrust_sp until the it's past it's hysteresis time for thrust

[2017-03-30 14:31] Stifael commented on #6914
The hysteresis just counts but does not block. Once one of the criteria is not satisfied, it just jumps out and the hysteresis gets reset. otherwise it would not make much sense to use a "two-state" land detector.
The detection goes as follow:
1.) check if ground contact is detected. the criteria has to be true for about 1.5 seconds to actually detect ground. if a criteria fails, it will start fro

[2017-03-30 14:38] vinhk commented on #6919
@mhkabir I have revision 2. What can we comment out from cmake file as `drivers/ll40ls` is already uncomment for px4fmu-v2_default.cmake ?

[2017-03-30 14:40] Stifael commented on #6914
however, I am still not entirely sure if this is the correct fix. it would still be appreciated if you could do a takeoff with ulog enabled

[2017-03-30 17:19] davids5 commented on #6924
@bkueng

My hazy (Q1 2015)  recollections was that we saw degraded throughput on "Log" downloads when the buffers were too small do to starvation and the effects of the system running with interrupts off from the HRT dispatch.

A lot of the system has changed with regard to logging, since then and this should be reevaluated.

I assume we have better tools now to evaluate download speeds. This shou

[2017-03-30 17:49] davids5 commented on #6915
@tops4u, @bkueng  - has this been observed since the https://github.com/PX4/Firmware/commit/a6dcbc3a222c22006b4c26e8d2280072b5c399d5 came into master.?

Until that commit priorities might not have been as designed.

[2017-03-30 20:02] tops4u commented on #6915
Ok. I'll retry with current master. Would you consider it more or lass reliable?

[2017-03-30 20:31] davids5 commented on #6915
You can see the commits that have been done since 1.6 in in the last 22 days.

I would bench test it with props off first.

You will have to make your own assessment of stability but I would expect it is more stable.

[2017-03-30 21:44] tops4u commented on #6915
I'll try... Can't promise fast answers as this only happened twice in the last 2 Month (MAG Timeout), I'll be more interested about OSD Updates - but maybe this is fixed too.

[2017-03-31 00:11] sanderux opened #6938 "Disable flightmode change on rc input for non-MC vehicles"
This is a very bad idea for fixed wings / vtols:
https://github.com/PX4/Firmware/blob/master/src/modules/commander/commander.cpp#L2525-L2546

I understand the logic for MC's but any accidental touch of a stick could send a plane flying a mission of into an unknown direction.

[2017-03-31 04:29] tonyvanhain opened #6939 "Using HITL with Gazebo"

[2017-03-31 04:46] #6939 closed

[2017-03-31 08:01] pavel-kirienko opened #6940 "UAVCAN UX improvements"
@eyeam3 this is a follow-up to our call. The most pressing issues with the UAVCAN UX are the following:

- [ ] GCS parameter transfer is unreliable. Reportedly it sometimes fails, but mostly works reliably. You said that you were able to observe the issues locally, which is good. Also see https://github.com/PX4/Firmware/pull/5724.

- [ ] Status information of UAVCAN nodes should be relayed to QGC

[2017-03-31 08:36] jgoppert opened #6941 "esc_calib freezes after high signal"
esc_calib freezes after plugging in the battery and won't transition to low signal to complete calibration

[2017-03-31 08:50] mhkabir commented on #6940
Weren't the parameter transfers already fixed in https://github.com/PX4/Firmware/pull/6585?

[2017-03-31 09:29] nitehack opened #6942 "Is the mavlink message "rc_channels_override" implemented well?"
Hi. First of all I would say that I know that developers doesn't recommend using the mavlink rc_channels_override message but I need to use it to make a mix between the RC Radio and the data of some sensors on a mini PC.

I have tried it but I have verified that when I send the message rc_channels_override to pixhawk, the value of the channels is maintained only one cycle of execution and in the n

[2017-03-31 09:44] jgoppert opened #6943 "commander calibrate esc doesn't work for DJI E800"
When either started via shell or mavlink, this doesn't correctly trigger the esc calibration for the DJI E800 propulsions sytem. The old esc_calib program would let it enter into esc programming mode, but it hangs on sending the low signal.

[2017-03-31 12:12] potato77 opened #6945 "upload error"
I can build the code. But when i try to upload the code with
`make px4fmu-v2_default upload`

The error is:
`QideMacBook-Air:Firmware Qi$ make px4fmu-v2_default upload
PX4 CONFIG: /Users/Qi/src2/Firmware/build_px4fmu-v2_default
ninja: Entering directory `/Users/Qi/src2/Firmware/build_px4fmu-v2_default'
[0/1] uploading /Users/Qi/src2/Firmware/build_px4fmu-v2_default/src/firmware/nuttx/nuttx-px4fmu-

[2017-03-31 12:30] pavel-kirienko commented on #6940
Reportedly they weren't, but I didn't test those changes myself yet.

On Mar 31, 2017 11:50 AM, "Kabir Mohammed" <notifications@github.com> wrote:

[2017-03-31 12:31] dogmaphobic commented on #6945
You don't have the `serial` package installed. Did you follow the *Getting Started* instructions?

https://dev.px4.io/starting-installing-mac.html

The serial package would be installed by:

[code]

Which is described in that page.

[2017-03-31 13:02] potato77 commented on #6945
@dogmaphobic

thank u. The problem is solved.
But I already install the package and I succeed upload the firmware several times.
I don't know why this issue happen.

[2017-03-31 13:03] #6945 closed

[2017-03-31 13:56] helenol opened #6946 "Mavlink messages getting published slower than requested"
On the stable branch, I'm getting a weird effect on the mavlink output of some high-rate messages such as raw IMU and attitude.
If requesting 20 Hz, get 20 Hz.
If requesting 50 Hz, get 50 Hz.
if requesting 100 Hz, get 83 Hz (was able to get up to 92 Hz by adjusting the loop rate within mavlink_main.cpp)
If requesting 250 Hz, get 160 Hz.
If requesting 500 Hz, get 220 Hz.

And so on... Is anyone els

[2017-03-31 14:04] rolandash opened #6947 "Main LED not reflecting battery status 1.6.0 master"
Main LED not reflecting battery status. Stay blue solid until battery drain and touch down. Should be red instead.

Vehicle get into wrong status of 'Lost of control' with LED blink purple after battery drained and touch down, remote controller became not responsible and not able to disarm the spinning propellers.

[2017-03-31 14:25] vinhk opened #6948 "How to log flight data from gazebo simulator?"
Is there a way to log flight data of gazebo iris with optical flow?

I am using the `make posix gazebo_iris_opt_flow` for flight simulation. I am hoping there is a way to log flight data similar to how pixhawk .px4 log files are created in the SD card.

Thank you

[2017-03-31 16:35] LorenzMeier commented on #6946
What is the output of the "mavlink status" command?

[2017-03-31 19:14] maciek01 commented on #6067
i am experiencing the same issues with 1.5.5 firmware release

[2017-03-31 20:02] Seanmatthews commented on #6562
@mhkabir Can you spare any info regarding your last comment? Is there a PX4 setting that can be changed to send IMU data at 500Hz?

[2017-03-31 20:32] Seanmatthews commented on #6946
I was just about to post the same issue...

@helenol @LorenzMeier From what I understand, PX4 is placing an artificial limit of 250Hz on certain (all?) sensors. In my case, I'm using the Snapdragon Flight board, which uses the Invensense MPU9250 IMU. It is 100% capable of higher sample rates, as listed in the data sheet, and demonstrated with Qualcomm's `imu_app`. If you `grep -rn 250HZ` at the re

[2017-03-31 22:34] Seanmatthews commented on #6946
@helenol Pixhawk v2 FMU spec sheet seems to suggest that it uses the MPU9250 (same as Snapdragon Flight). I changed the magic number [here](https://github.com/PX4/Firmware/blob/master/src/platforms/posix/drivers/df_mpu9250_wrapper/df_mpu9250_wrapper.cpp#L618), from 4 to 2, in order to get 500Hz. Though, in reality I'm getting ~440Hz going through mavlink and mavros.

@LorenzMeier Any idea why it's

[2017-04-01 04:00] suruonuo opened #6952 "I can't make the flow noise model ."
I have some troubles in correcting the optical flow parameters, According the  Flow+Noise+Modelling.pdf ,I  can't  collect the  normal data for model。 the param v and h is very difficult control。

[2017-04-01 07:05] aysh-shariff opened #6953 "Copter starts descending in Follow Me mode"
I have added a small function in follow me mode for the copter to orbit a target when the target has stopped. However, the copter flies to the target and on detecting that it isn't moving starts descending.
I am not sure if it was trying to land as I quickly changed to Position Control everytime this happened.
http://logs.px4.io/plot_app?log=a71d3f38-e9f1-412d-812b-9444b91aa5c5

Here is the log wh

[2017-04-01 09:39] #6930 closed

[2017-04-01 11:24] lakshaydang commented on #6752
ok i will try it and let you know about it.
Thanks

[2017-04-01 13:59] mhkabir commented on #6946
@LorenzMeier @helenol I already reported this here : https://github.com/PX4/Firmware/issues/6235

[2017-04-01 14:00] mhkabir commented on #6946
(Since 2015 : https://github.com/PX4/Firmware/issues/3291)

[2017-04-01 18:19] #6802 closed

[2017-04-01 18:29] LorenzMeier commented on #6938
I think we can discuss if this needs to be configurable, but the basic statement is not true. Fixed wing in position control will hold direction and altitude, so the override analogy works the very same way.

[2017-04-01 18:57] sanderux commented on #6938
Would an airplane not continue to fly straight when such an override occurs? I believe this might be a problem when it goes unnoticed during a mission. The plane could fly quite far possibly beyond reach. Or it could fly in to something like a tree or building if the pilot isnt concious of the fact that control was returned during a mission.

[2017-04-01 20:18] tops4u opened #6954 "S.Bus Channels > 8 have Spikes"
I'm using a Futaba T-FHSS System with 10 Channels (T10J) with a Futaba R3008SB Receiver. This Receiver has 8 PWM Outputs as well as two SBus plugs. The Receiver is set to Mode B Default (Ports 1-7 = PWM, Port 8 = SBus). The PX4 is attached to Port SBus.2.

While Channels 1-8 look normal I get spikes on Channels 9 and above (See picture). While the State of Channel 9 & 10 is recognized, I can see s

[2017-04-01 20:26] tops4u commented on #6915
I'm closing this. Installed Master from today and I'll reopen should the error reoccur.

[2017-04-01 20:26] #6915 closed

[2017-04-01 20:36] tops4u commented on #6954
Just noted, that in the same Time RSSI goes from 255 to 100 and the amount of channels from 18 to 8.

![channel count](https://cloud.githubusercontent.com/assets/6877067/24582250/a93c77cc-172b-11e7-971b-b3aea74ea523.png)

[2017-04-01 20:39] tops4u commented on #6954
And this is how it looks like when the receiver is completely disconnected.

![channel disconnected](https://cloud.githubusercontent.com/assets/6877067/24582275/20c84bea-172c-11e7-828f-bd28bd945b24.png)

[2017-04-01 20:45] tops4u commented on #6954
Just noticed that this most probably happened due to excess Power draw from USB (AUAV-X2, Receiver, GPS, OSD). Attached Flight Battery and this disappeared.

[2017-04-01 20:45] #6954 closed

[2017-04-02 01:58] tomatac opened #6957 "PX4FLOW LPE not working: Z is reversed"
I am trying to get a stable position estimation using only PX4FLOW but it looks like the Z axis is reversed.
"M1:OPTICAL_FLOW_RAD.distance" is very stable around 1 m (based on sonar)
"M1:LOCAL_POSITION_NED.z" variation is reversed relative to "M1:OPTICAL_FLOW_RAD.distance". See the graph below.
![image](https://cloud.githubusercontent.com/assets/15964070/24583839/f5816f44-170c-11e7-96a9-72ecb1f8f0

[2017-04-02 03:14] mhkabir commented on #6957
The graph is fine. Local Z in in NED, so it is reversed. You must have baro enabled, because there are some things hardcoded in the estimator.

[2017-04-02 03:50] tomatac commented on #6957
Thanks! I got it, because the z is represented in NED (north-east-down) coordinates system the z value is reversed. Is this NED coordinate system "frame NED" or "earth NED"?
Then the main issue is that the M1:LOCAL_POSITION_NED.x and M1:LOCAL_POSITION_NED.y are not consistent. They stay around zero when I walk and the quadcopter few meters forward/reverse and left/right. I do not know how to troub

[2017-04-02 04:31] jgoppert commented on #6957
The frame is north, east, down with the projection following the vehicle. The z origin is sea level.

The reason that x and y don't move while you are walking is that land_detector is enabled. You can disable it in (LPE_FUSION) within qgroundcontrol and test it by walking, but then set it back on before you fly. While landed (the logic is throttle below ~40%, or disarmed, and not rotating), it pre

[2017-04-02 05:22] tomatac commented on #6957
Thank you! I will try that.
So when flying higher the LOCAL_POSITION_NED.z should always be negative.
Is LPE_FUSION = 162 the recommended setting for flying LPE with PX4FLOW only?
Should "flow gyro compensation" be OFF for LPE_FUSION?

[2017-04-02 05:34] tomatac commented on #6957
What parameters should I monitor to make sure that the hand off from takeoff to the optical flow is going well? Is that happend at a fixed altitude?

[2017-04-02 09:54] tops4u commented on #6260
@LorenzMeier  / @bkueng  / @davids5

This got a lot worse now...

Using current Master I had OSD Stream Dropouts of several Seconds. This is anoying to fly to a certain altitude or distance. Today I could fly 100m (@PosCtl with 20kmh) without any Updates of OSD Data (this is about 18 Secs of Frozen OSD Data Stream).

This can also be seen as a huge Logging Dropout of the same amount. To be noted t

[2017-04-02 10:05] LorenzMeier commented on #6260
I think this is related to the trigger setup. We don't see this issue in general.

[2017-04-02 10:19] tops4u commented on #6260
@LorenzMeier the Camera Trigger? This should be inactive, or am I wrong?

I would like to be able to fire the Camera Trigger (GPIO) via RC or QGC.

What can I do to check?

[2017-04-02 16:04] dagar opened #6958 "FW engine failure move"
This is partially related to initial discussion of a commander rewrite, but FW engine failure detection is spread out across commander (detection), navigator, fw_pos_ctrl (limit pitch - dangerous), and fw_att_ctrl (cut throttle).

https://github.com/PX4/Firmware/blob/d1c3b771ee1fc3691eea9098b7af24404466aef9/src/modules/commander/commander.cpp#L2872

https://github.com/PX4/Firmware/blob/d1c3b771ee1

[2017-04-02 16:23] dagar commented on #6913
Should this be moved to the dev guide? Auto generated and pushed to the gitbook repo, or is sync still problematic?

[2017-04-02 19:48] tomatac commented on #6957
@jgoppert I tried setting the land detector OFF in LPE_FUSION but it did not make a difference. See the graphs below:
1. LOCAL_POSITION_NED.x and M1:LOCAL_POSITION_NED.y walking the quadcopter 2 meters south-north back to the origin and then east-west and back to the origin.
![quad_log](https://cloud.githubusercontent.com/assets/15964070/24590403/06c6de12-17a1-11e7-96d5-eecdb66984bd.PNG)

2. For r

[2017-04-02 19:59] mhkabir commented on #6957
I would suggest enabling land detector and gyro compensation and giving it a test-fly in position control. It should work fine.

[2017-04-02 20:39] jgoppert commented on #6957
I always use flow gyro compensation. Make sure the camera is in focus as well.

[2017-04-02 20:45] #3653 closed

[2017-04-02 20:45] #3626 closed

[2017-04-02 20:46] #3196 closed

[2017-04-02 20:46] mhkabir commented on #3451
Outdated.

[2017-04-02 20:46] #3451 closed

[2017-04-02 20:48] #3841 closed

[2017-04-02 20:48] mhkabir commented on #3835
Most likely this is already fixed. Please reopen if not.

[2017-04-02 20:48] #3835 closed

[2017-04-02 20:49] #3803 closed

[2017-04-02 20:49] #4582 closed

[2017-04-02 20:50] #3258 closed

[2017-04-02 20:50] #6837 closed

[2017-04-02 20:51] #5332 closed

[2017-04-02 20:51] mhkabir commented on #6646
Closing since no logs.

[2017-04-02 20:51] #6646 closed

[2017-04-02 20:55] mhkabir commented on #6953
Custom code snippets like this are impossible to support. Let us know if there are any issues in vanilla Follow-Me mode.

[2017-04-02 20:56] mhkabir commented on #6948
They are created in the filesystem (rootfs) created in the build folder. (build_posix_sitl_default) Use grep to search for them.

[2017-04-02 20:56] #6948 closed

[2017-04-02 21:00] mhkabir commented on #6566
Can you try the latest release please?

[2017-04-02 21:01] mhkabir commented on #6478
@ChristophTobler please open a new one in the QGC tracker if this is still an issue.

[2017-04-02 21:01] #6478 closed

[2017-04-02 21:05] #6187 closed

[2017-04-02 21:05] tomatac commented on #6957
Thanks! I will turn the flow gyro compensation on. It makes sense. I was just following other recommendations on github.
Is it a good test to align the vehicle facing north and move it forward/backward and observe positive/negative LOCAL_POSITION_NED.x changes, respectively and do the same moving it right/left for positive/negative LOCAL_POSITION_NED.y changes? Is this a good pre-flight test?
I wi

[2017-04-02 21:06] #6083 closed

[2017-04-02 21:07] mhkabir commented on #6957
Yes.

[2017-04-02 21:07] #6655 closed

[2017-04-02 21:08] mhkabir commented on #4676
This is already done

[2017-04-02 21:08] #4676 closed

[2017-04-02 21:25] jgoppert commented on #6957
Yes, you should be able to do that as long as loan detector is off. And
that is what I typically do when running new code or in a new environment
to make sure flow is working.

On Apr 2, 2017 5:07 PM, "Kabir Mohammed" <notifications@github.com> wrote:

[2017-04-02 21:31] tomatac commented on #6957
Thanks! Is there a way to confirm that the land detector is off other than turning the bit off in LPE_FUSION?

[2017-04-02 21:32] maciek01 commented on #6566
things are back to normal on a new board 1.5.5 (the old one fried). Also upgraded to 1.6rc - still good.
thanks

[2017-04-02 21:39] tomatac commented on #6957
@jgoppert are there other parameters that I should be watching during the pre-flight test?

[2017-04-02 21:54] jgoppert commented on #6957
Make sure you local z looks reasonable. Also, to test px4flow by itself you can just look at local_position topic on px4flow (when plugged into px4flow usb). This estimates position just using sonar on px4flow and the camera. It doesn't have a compass so this is only good for testing (doesn't know if you rotate around z), but I used it all the time to make sure flow is working well independent of

[2017-04-02 22:18] tomatac commented on #6957
@jgoppert, thank you! That makes sense. I tried that, but the question is, when you test the px4flow by itself are looking at x and y or only at z? Is there a x and y parameter that represents the distance moved from the origin? My OPTICAL.FLOW.flow_x and OPTICAL.FLOW.flow_y do not quite make sense (see the graph above).

[2017-04-02 22:25] #4549 closed

[2017-04-02 23:07] jgoppert commented on #6957
@tomatac OPTICAL_FLOW.flow_x is confusing for a human to look at. Try looking at LOCAL_POSITION.x, y, z. You can see this by enabling the parameter send_lpos on the px4flow.

[2017-04-02 23:43] sanderux commented on #4797
Following up here on the inversion issue of the roll on vtol's:
https://github.com/PX4/Firmware/blob/master/src/modules/vtol_att_control/standard.cpp#L456

@dagar commented:

As far as the DeltaQuads go i would actually prefer using only MAIN outputs
This will make the setup compatible with FC's that do not provide an AUX rail

[2017-04-02 23:55] dagar commented on #4797
Nevermind, I just realized I don't know what I'm talking about. The current VTOL FW mixers are control group 1.

[2017-04-03 03:26] tuofeichen commented on #6957
@jgoppert  A quick question here. Is there a way to debug px4flow with a tera ranger (or separate range finder than the native sonar? ).

[2017-04-03 03:31] jgoppert commented on #6957
@tuofeichen I typically use a lidar with flow and LPE. I still can debug the flow using its onboard sonar. If that works, the other sensor should give you similar results or better.

[2017-04-03 03:41] tuofeichen commented on #6957
@jgoppert yeah I'm just wondering if there's a quick way to directly look at the LOCAL_POSITION topic of the flow even with a different rangefinder. (I desoldered the sonar). the flow probably need to read the i2c bus  in that case, not super critical, no worries!

[2017-04-03 03:44] jgoppert commented on #6957
@tuofeichen Yeah, it is not possible out of the box if you have desoldered it.

[2017-04-03 03:46] jgoppert commented on #6957
@tomatac Are you good closing this now? If you have any other questions we can move it to http://discuss.px4.io/.

[2017-04-03 04:01] #6566 closed

[2017-04-03 04:35] tomatac commented on #6957
I got more data I just recorded per your instructions. I will post in few minutes. The PX4FLOW data looks good but I think that the information is not processed correctly by the PX4 firmware.

[2017-04-03 05:52] jgoppert commented on #6957
@tomatac Please use the new logger, SYS_LOGGER=1, and upload a .ulg file to http://review.px4.io/  The new log format contains a lot more info that is helpful for me to debug your issues.

[2017-04-03 05:56] mhkabir commented on #6879
I don't see how this can happen. Let us know if you can reproduce it again.

[2017-04-03 05:56] #6879 closed

[2017-04-03 05:57] mhkabir commented on #6869
It should be on your microsd, under `/etc/extras.txt`, not "extra.txt".

[2017-04-03 05:57] #6869 closed

[2017-04-03 05:58] mhkabir commented on #6824
If this still persists, try removing modemmanager, and making sure your user is in the dialout group.

[2017-04-03 05:58] #6824 closed

[2017-04-03 06:00] mhkabir commented on #6819
@liang-tang Please provide logs, or we will close this soon.

[2017-04-03 06:01] #6769 closed

[2017-04-03 06:02] mhkabir commented on #6760
Use `mavlink start -d /dev/ttyS1 -b 921600 -r 20000 -m onboard`

[2017-04-03 06:02] #6760 closed

[2017-04-03 06:03] mhkabir commented on #6755
The lidar model uses the Gazebo `GpuRay` class, which needs a GPU to execute. You can try switching it to the standard CPU one, which will work.

[2017-04-03 06:03] #6755 closed

[2017-04-03 06:04] mhkabir commented on #6690
Duplicate : https://github.com/PX4/Firmware/issues/6699

[2017-04-03 06:04] #6690 closed

[2017-04-03 06:08] tomatac commented on #6957
I connected to the PX4FLOW and set the SYS_SEND_LPOS to 1. That allows the PX4FLOW to temporarily publish LOCAL_POSITION_NED.x y and z values. Great debugging tool! When I walked the quadcopter back and forth couple of meters and the result looks good:
![04-02_px4flow_forward and back](https://cloud.githubusercontent.com/assets/15964070/24595675/a13feef6-17ed-11e7-9124-c22b4b626a1b.PNG)
Then I dis

[2017-04-03 06:11] mhkabir opened #6961 "Camera Trigger"
There are several outstanding issues with the camera trigger which might be causing very weird and hard-to-track problems due to direct hardware access.

1. https://github.com/PX4/Firmware/issues/6689 *[Could not reproduce]*

2. https://github.com/PX4/Firmware/issues/6839 **[Fixed]**

3. https://github.com/PX4/Firmware/issues/6839

4. https://github.com/PX4/Firmware/issues/6703 **[Fixed]**

5. htt

[2017-04-03 06:13] mhkabir commented on #6689
Closing in favour of https://github.com/PX4/Firmware/issues/6961. Thanks for reporting.

[2017-04-03 06:13] #6689 closed

[2017-04-03 06:13] mhkabir commented on #6839
Closing in favour of #6961. Thanks for reporting.

[2017-04-03 06:13] #6839 closed

[2017-04-03 06:14] mhkabir commented on #6961
Open Pull Requests :

1. https://github.com/PX4/Firmware/pull/6194

[2017-04-03 06:14] mhkabir commented on #6092
Closing in favour of https://github.com/PX4/Firmware/issues/6961.

[2017-04-03 06:14] #6092 closed

[2017-04-03 06:16] mhkabir commented on #5530
Clsoing in favour of https://github.com/PX4/Firmware/issues/6961.

[2017-04-03 06:16] #5530 closed

[2017-04-03 06:16] mhkabir commented on #5437
Closing in favour of #6961.

[2017-04-03 06:16] #5437 closed

[2017-04-03 06:17] mhkabir commented on #6703
Closing in favour of #6961.

[2017-04-03 06:17] #6703 closed

[2017-04-03 06:24] tomatac commented on #6957
I will record a log and post it. Thanks for your help!

[2017-04-03 06:25] mhkabir opened #6962 "Snapdragon Flight ESC support"
1. Qualcomm UART ESC support :

PX4 does not generally support these boards due to limited availability and initially high price. The only drivers for the Qualcomm ESCs are the legacy (binary) drivers. There may be open versions in the future but not currently, so the `eagle_legacy_default` target needs to be used to use those ESCs. All the drivers were initially binary thus the "legacy" name. You

[2017-04-03 06:27] mhkabir commented on #6929
Closing in favour of https://github.com/PX4/Firmware/issues/6962

[2017-04-03 06:27] #6929 closed

[2017-04-03 06:27] mhkabir commented on #6525
Closing in favour of #6962

[2017-04-03 06:32] mhkabir commented on #6519
This is fixed.

[2017-04-03 06:32] #6519 closed

[2017-04-03 06:32] mhkabir commented on #6516
Fixed! Thanks @matanhavi.

[2017-04-03 06:32] #6516 closed

[2017-04-03 06:33] mhkabir commented on #6514
https://dev.px4.io/sensor-thermal-calibration.html

[2017-04-03 06:33] #6514 closed

[2017-04-03 06:34] mhkabir commented on #6415
Closing in favour of https://github.com/PX4/Firmware/issues/6962

[2017-04-03 06:34] #6415 closed

[2017-04-03 06:35] mhkabir commented on #6404
Closing as devcall discussion indicated that this is not an issue.

[2017-04-03 06:35] #6404 closed

[2017-04-03 06:36] mhkabir commented on #6263
Is this still an issue?

[2017-04-03 06:37] mhkabir commented on #6249
Is this still and issue?

[2017-04-03 06:37] mhkabir commented on #6222
Please reopen if this is still an issue. It works fine for me locally.

[2017-04-03 06:37] #6222 closed

[2017-04-03 06:38] mhkabir commented on #6184
@LorenzMeier @priseborough Does this still affect us?

[2017-04-03 06:40] mhkabir commented on #6016
Closing as stale. This is most likely fixed as EKF2 has undergone significant testing since then. Please reopen if required.

[2017-04-03 06:40] #6016 closed

[2017-04-03 06:40] #5998 closed

[2017-04-03 06:41] #5773 closed

[2017-04-03 06:42] #5762 closed

[2017-04-03 06:43] #5807 closed

[2017-04-03 06:43] #5758 closed

[2017-04-03 06:43] tops4u commented on #6260
Just one more note: I did not trigger the camera, since I was using Stable QGC until yesterday which did not offer to trigger the Camera.

[2017-04-03 06:44] mhkabir commented on #5692
@bkueng @LorenzMeier What do you think about this? I think we can completely move over to the new logger?

[2017-04-03 06:44] tops4u commented on #6961
#6260 related to this too?

[2017-04-03 06:44] #5652 closed

[2017-04-03 06:45] mhkabir commented on #5609
Is this still an issue? Our land detection system and controllers have undergone significant changes in the recent past.

[2017-04-03 06:45] mhkabir commented on #5629
Still and issue?

[2017-04-03 06:47] mhkabir commented on #5514
Still an issue?

[2017-04-03 06:47] #5507 closed

[2017-04-03 06:47] mhkabir commented on #5481
This is most likely fixed with new logger.

[2017-04-03 06:47] #5481 closed

[2017-04-03 06:47] #5508 closed

[2017-04-03 06:48] #5512 closed

[2017-04-03 06:49] #5411 closed

[2017-04-03 06:49] #5416 closed

[2017-04-03 06:50] mhkabir commented on #5386
This is already implemented.

[2017-04-03 06:50] #5386 closed

[2017-04-03 06:51] mhkabir commented on #5186
Stale.

[2017-04-03 06:51] #5186 closed

[2017-04-03 06:51] #5064 closed

[2017-04-03 06:52] mhkabir commented on #5045
This has been fixed in the recent controller refactor.

[2017-04-03 06:52] #5045 closed

[2017-04-03 06:56] ChristophTobler commented on #6962
@mhkabir thanks! I'll do the documentation as soon as possible

[2017-04-03 06:59] mhkabir commented on #5028
Closing as stale. Potentially same issue : https://github.com/PX4/Firmware/issues/6235

[2017-04-03 06:59] #5028 closed

[2017-04-03 07:02] bkueng commented on #6263
No, we now use cmake directly to get the list of modules instead of parsing it with python.

[2017-04-03 07:02] #6263 closed

[2017-04-03 07:03] mhkabir commented on #4728
Please reopen if still valid.

[2017-04-03 07:03] #4728 closed

[2017-04-03 07:07] mhkabir commented on #4076
Done.

[2017-04-03 07:07] #4076 closed

[2017-04-03 07:08] mhkabir commented on #4056
Closing as stale.

[2017-04-03 07:08] #4056 closed

[2017-04-03 07:11] #1824 closed

[2017-04-03 09:16] ilia-sheremet commented on #5629
@mhkabir Haven't checked that with the latest firmware since it's not that easy to reproduce it. But I guess the behavior is the same if nobody worked on that

[2017-04-03 11:37] priseborough commented on #6184
I've checked the sensor_gyro and sensor_accel topics on a pixracer using the nsh listenerand they now contain consistent sensor ID's.

[2017-04-03 11:37] #6184 closed

[2017-04-03 11:50] CarlOlsson commented on #5514
I don't know if this is fixed. To reproduce one would need to set up a model, set IMU orientation, calibrate, rotate the IMU, and now try to set up the plane again. This was not possible before without manually resetting the cal in QGC. I will keep in mind to test it again when I have time

[2017-04-03 12:25] mhkabir commented on #5514
Cool. Let us know if it still happens.

[2017-04-03 13:06] L4ncelot commented on #6834
Ok, so finally after some time spent on reading the source code of px4 firmware, I've figured it out. The parameters for px4 are all stored in `parameters.xml` file. There are parameters such as **RC_MAP_ROLL** or **RC_MAP_PITCH** which are by default set to 0 and therefore not assigned.

I just created configuration file in `posix-configs/SITL/init/lpe` folder and set RC controller mappings like

[2017-04-03 13:07] #6834 closed

[2017-04-03 13:17] mhkabir commented on #6961
@jdzerve Can you give us more information to reproduce the issue? I just checked, and I can't get it to fail boot.

[2017-04-03 17:41] davids5 commented on #6794
I think this may be related to your build setup.

This builds fine https://semaphoreci.com/px4/firmware/branches/master/builds/1221 see ./Tools/docker_run.sh 'make alt_firmware'

Please run ```make clean``` and ensure you have all the submodules updated (make distclean) also check the version of the compiler it should be 5.4.1

[2017-04-03 21:41] vinhk opened #6966 "How to test out PX4 firmware modified code without Pixhawk board?"
Is there a way to test out PX4 firmware modified code using Gazebo? I would like to see the performance of the quadcopter. I know there is a mavros gazebo simulator. But how can I verified that the code that I modified on Px4 Firmware is working correctly?

Thank you

[2017-04-03 22:44] vjon commented on #4685
The developer documentation page for Gazebo simulation has been updated for Gazebo v7.

I also set up the PX4 development environment/toolchain from scratch using the current documentation, and Gazebo SITL works fine. So I guess this issue can be closed?

[2017-04-04 04:35] mhkabir commented on #4685
Yup.

[2017-04-04 04:35] #4685 closed

[2017-04-04 04:50] tomatac commented on #6957
@jgoppert see below the link to the log file. In this test I walked the quadcopter south-north and east-west 2 meters in each direction. That is not reflected by the X Y coordinates from the log.
http://review.px4.io/plot_app?log=f6f06538-2452-4e91-adfb-a6e507d4298f
I set the SYS_LOGGER to "new logger" in the QGroundControl but I get ".px4log" log files instead of ".ulg" files.
Is the new logger a

[2017-04-04 05:50] crashmatt opened #6967 "JMavSim not launching with fresh copy from master"
Fresh copy of repo:
https://github.com/PX4/Firmware.git

Do
make posix_sitl_default jmavsim

Results in
INFO  [simulator] Waiting for initial data on UDP port 14560. Please start the flight simulator to proceed..

Diff with old working copy shows that JMavSim has moved or has gone.  Many other libraries appear to be missing or not built.

[2017-04-04 06:30] bkueng commented on #6913
That would be preferable so everything is in one place. Either by automatic sync or by including (`iframe`) external content. I think @hamishwillee intended to look into that.

[2017-04-04 06:36] LorenzMeier commented on #6966
How about you start with http://dev.px4.io and look through the SITL / Simulation section?

[2017-04-04 06:36] #6966 closed

[2017-04-04 06:46] aysh-shariff commented on #6953
@mhkabir I'm pretty sure it is something to do with altitude setpoint.
Is it not the right way to set the altitude in the position setpoint for Auto modes?

[2017-04-04 06:49] bkueng commented on #6967
[code]
works fine for me. Did you clone the submodules?

[2017-04-04 07:23] hamishwillee commented on #6913
In my opinion yes it should be moved to the devguide. How is this built now? What are the existing sync issues?

[2017-04-04 09:11] bkueng commented on #6913
There's a script (`python ./Tools/px_process_params.py -s src --wiki`) that generates docuwiki output in the form:
[code]

In the recent past we had issues with syncing between the github dev-guide repo and the gitbook internal repo. We have completely reset the gitbook repo, and it seems to work now, we will have to see how stable it is.

[2017-04-04 09:35] ChristophTobler commented on #6962
@mhkabir here's the PR https://github.com/PX4/Devguide/pull/108

[2017-04-04 10:59] crashmatt commented on #6967
@bkueng I normally use git gui and recursive clone option.
I tried your cmd line version but it does the same

Now I found the error:
/home/matt/src/Firmware/Tools/jmavsim_run.sh: line 44: ant: command not found

Ant is not available on my machine might answer why it can't build jmavsim.  The older repo clone already has jmavsim built so it doesn't have this problem.
My linux machine has gone thro

[2017-04-04 11:03] crashmatt commented on #6967
@bkueng That was it.  Ant was missing. I don't know what ant belongs to or if it has been included in the toolchain dependencies.  Good enough for now :-)

[2017-04-04 11:03] #6967 closed

[2017-04-04 16:21] sanderux commented on #6938
@LorenzMeier we discussed this in the dev call, consensus there was to make it a parameter. I'll add a PR for this if you want.

[2017-04-04 16:23] sanderux commented on #6617
The behavior suggested: spiral down at 0 throttle for FW, or land as MC in case of VTOL

[2017-04-04 17:57] mhkabir commented on #6961
Everyone having issues with the camera trigger please check this PR. It should all be fixed : https://github.com/PX4/Firmware/pull/6973

[2017-04-04 19:38] rollysing opened #6974 "Throttle Percentage in FW Mode Doesn't Register in FW Mode via MinimOSD."
I use MInimOSD in Telem2 with both QuadRanger and DeltaQuad airframes with v1.5.x. The throttle percentage displays during MC mode but goes to 0% when transitioned to FW mode. It only starts registering again after switching back to MC mode. (see attached).

MC Mode
![mc mode](https://cloud.githubusercontent.com/assets/20650795/24675299/9e56f3b4-194c-11e7-9aae-f8b3fefd20b6.JPG)

FW Mode
![fw mode]

[2017-04-04 23:32] lovettchris commented on #5929
Yes.  If you build (AirSim)[https://github.com/Microsoft/AirSim], and this command:
    MavLinkTest -serial:/dev/ttyACM0,115200

then create a local empty file called "foo" and enter this command:
    put foo /fs/microsd/foo/bar

then px4 stops responding to all mavlink commands.

[2017-04-05 00:00] dagar commented on #6974
I believe this is Mavlink VFR_HUD only publishing throttle from the first actuator group. https://github.com/PX4/Firmware/blob/master/src/modules/mavlink/mavlink_messages.cpp#L1022
It either needs to be aware of VTOL and publish the correct throttle, or use attitude setpoint thrust.

[2017-04-05 03:36] hamishwillee commented on #6913
Thanks!
@dagar @bkueng I've created an output format for markdown #6975 , which you can preview [here](https://hamishwillee.gitbooks.io/px4-user-guide/content/en/orphans/parameters.html) (for a little while). The output format is actually HTML since markdown is quite limited in its table handling. I also moved comments inside the "name" row, because the [old format](https://pixhawk.org/firmware/pa

[2017-04-05 03:39] hamishwillee commented on #6913
p.s. @bkueng  - where would be the best place in devguide TOC for the parameters to live? Perhaps near https://dev.px4.io/advanced-configurations.html

[2017-04-05 03:50] dagar commented on #6913
Nice! The table of contents on the old page was helpful, but we can live without it if it's not easy.

The param metadata has expanded quite a bit since the old wiki. In particular the values are now quite important, and the reason why many params no longer have a min/max. https://github.com/PX4/Firmware/blob/master/src/modules/mavlink/mavlink_params.c#L108

On a somewhat related note I believe @L

[2017-04-05 04:15] hamishwillee commented on #6913
The TOC on the page is easy and desirable (IMO). I've added request for its addition: https://github.com/PX4/Devguide/pull/109

Great. Is that just for my information, or is there something I need to "do"?

Lets wait on Lorenz for information on how far he got/intentions/what needs to happen.

Have you any thoughts regarding the last part - automating the build process?

[2017-04-05 04:23] dagar commented on #6913
Values are another nice to have if it looks easy to incorporate, but we can live without.

Do you have any access to the automated build for the hosted gitbook? One option is we could generate the output in the PX4 Firmware build and upload it to S3. Every time the gitbook updates it could download a copy. Another option is using jenkins (http://sitl01.dronetest.io/) to generate a commit.

[2017-04-05 04:59] hamishwillee commented on #6913
Not "super" easy. The big problem here is that within a group there are parameters that have values, parameters that have min/max, and parameters that are boolean (others)? We need to work out how to best present that and collect it in a way that we can sensibly render (we could just have columns for values as well, but that would be pretty messy).

This is definitely worth doing though! What are

[2017-04-05 06:03] tomatac commented on #6957
If the graphs (http://review.px4.io/plot_app?log=f6f06538-2452-4e91-adfb-a6e507d4298f) do not gives us an indication on what might be wrong I would like to try a previous firmware that works with PX4FLOW/LPE? I tried 1.5.5 (nuttx-px4fmu-v2-default.px4) and it did not work. What is good stable version for PX4FLOW/LPE? My plan is, if I get the previous version working, then come back and see what is

[2017-04-05 06:08] jgoppert commented on #6957
I flew master a week ago, so I know that it is probably still  working.

[2017-04-05 06:11] jdzerve commented on #6961
@mhkabir Sorry, will be able to get to this no sooner than end of next week.

[2017-04-05 06:13] tomatac commented on #6957
Ok. Thanks! Do you have any troubleshooting suggestion? How do we know if the LPE is running based on PX4FLOW and it is not stuck in takeoff mode?

[2017-04-05 07:31] #6664 closed

[2017-04-05 08:57] bkueng commented on #6913
Thanks! One more thing we can do is display the unit of each parameter (if it has any). And if we find a good way, the parameter values & booleans (I don't think we have more types).

They are pretty much distributed within the source tree.

Yes, makes sense.

For the airframes, there's already an xml generated and pushed to S3 based on latest master: http://px4-travis.s3.amazonaws.com/Firmware/ma

[2017-04-05 09:32] hamishwillee commented on #6913
Hi Beat,

1.  So is it correct that the Gitbook is just build from our Devguide github repo (triggered via a webhook?)

I guess what I actually meant is "How can I find all the files that we need to process". Looking a bit deeper I think that we already scan for all the required information  in [srcparser.py)](https://github.com/PX4/Firmware/blob/master/Tools/px4params/srcparser.py) so it is just

[2017-04-05 10:02] alexcherpi opened #6976 "Enable disable selected mavlink messages"

[2017-04-05 11:41] Changliu52 opened #6978 "LPE fusion jump in flight 1.6RC1 (nuttx-px4fmu-v2-lpe.px4) with external vision pose and optical flow"
Hi,
I am using the 1.6RC1 (nuttx-px4fmu-v2-lpe.px4) firmware.
I was using SVO with visual-inertial fusion and px4flow together.
The LPE fusion was set to fuse optical flow, fuse vision position, fuse vision yaw, fuse land detector, pub agl as lpos down, fuse flow gyro compensation.
ATT_EXT_HDG_M was set to vision.

I think somehow the lpe was reseted during flight, almost crashed on the net.
![jum

[2017-04-05 11:46] mhkabir commented on #6978
Your vision measurements have something wrong with them - they keep resetting to zero.

This might also be a bug I introduced by mistake. Let me check.

[2017-04-05 12:33] bkueng commented on #6913
No, gitbook has a separate git repo copy, and the webooks cause a sync of the repos - which then causes a rebuild & publication.

Ah ok. Yes, exactly. You can look at the generated xml (http://px4-travis.s3.amazonaws.com/Firmware/master/parameters.xml), which contains all the extracted information.

[2017-04-05 15:19] Changliu52 commented on #6978
Thanks for your reply @mhkabir,
I hard limited the update rate of my package to send vision_pose at 7Hz to mavros. There is no way it could send 14 measurements per second (7 measurements and 7 zeros).
It was normal when live streaming from pixhawk to QGC, but the logging from SD card is always like this. I suspect these zeros were introduced in the logging to SD card.

Is there a way I can manual

[2017-04-05 15:44] mhkabir commented on #6978
Ah, okay gotcha. It's how the topics update in sdlog2 now. I changed it so now there are 2 topics, vision_attitude and vision_position, so when the attitude topic updates, position is zero'ed. I don't see a point in 'fixing' it now. If you move to the new logger, it will be fine. :)

And no, we don't have a way to reset LPE. You will need to write the code yourself in order to reset it when SVO re

[2017-04-05 15:47] jgoppert commented on #6957
If you can't get it to work with land_detector disabled and walking around, it is best not to try flying it. This is what I do to troubleshoot before I fly. If it is drifting a lot, check your flow quality, it should be around 250. If you can't get your quality that high, you might need lights or try the px4flow firmware branch exposure_for_indoor.

[2017-04-05 15:56] L4ncelot opened #6982 "Failsafe mode on while in OFFBOARD mode"
Hi,

I've recently encountered some problem while using **OFFBOARD** mode. I'm using **px4** firmware with **MAVROS**.

I've been developing some algorithms for autonomous flying. I'm using basically code from [this](https://dev.px4.io/ros-mavros-offboard.html) documentation. Some time ago there was no problem. But recently I've seen my copter loosing connection or something like that.

Here's exa

[2017-04-05 15:58] mhkabir commented on #6982
Your wiring is bad, most likely. Check connections. The parameter pull also keeps failing.

[2017-04-05 16:01] L4ncelot commented on #6982
How should I test the connection? (srry, I'm network noob) I have px4 on navio which is connected through UTP cabel to my PC where simulation in Gazebo runs.

[2017-04-05 16:33] mhkabir commented on #6982
Are you doing HIL ?

[2017-04-05 16:34] L4ncelot commented on #6982
Exactly. I'm running Gazebo simulation on my PC and px4 firmware and some controllers on navio2.

[2017-04-05 18:45] Changliu52 commented on #6978
OK, I see. Thanks @mhkabir
Or if the vision bias was computed after the time out as stated in [https://github.com/PX4/Firmware/issues/5478](https://github.com/PX4/Firmware/issues/5478)
That maybe a better way to deal with the vision odometry reset.

I guess this was what happend before 24s in the plot. However, in this case, I don't understand what can possiblly cause the lpe reset at 24s? @jgoppe

[2017-04-05 19:34] jgoppert commented on #6978
@Changliu52 It looks like it was considering vision faulted  and then when it got close enough to the estimate, it considered it OK and started correcting to the vision position. Look at the messages sent to QGC. It should tell you when you get faults. With visual odometry, you might want to consider sending the vision velocity measurement instead of the vision position estimate. This will avoid t

[2017-04-05 21:49] lovettchris opened #6984 "FTP read file timeouts"
I cannot reliably read a file from px4 log directory using mavlink ftp get command.  I get a few packets, then nothing, even with a retry.  Same from QGC.  So I was playing around and found that if I recompile mavlink_ftp.cpp with the conditional flag "MAVLINK_FTP_DEBUG" enabled, then it works perfectly.... so its a weird Heisenberg uncertainty bug... try to watch it and it goes away...

I'm using

[2017-04-06 00:49] davids5 commented on #2639
Closed via https://github.com/PX4/Firmware/pull/6985

set +e will ignore the error and not exit the script.

It can be set once at top of the init script or bracket a command
[code]

[2017-04-06 00:49] #2639 closed

[2017-04-06 03:42] tomatac commented on #6957
See below the link to a real flight: south and then east - west (2-3 meters)
http://review.px4.io/plot_app?log=a38644bb-865c-4b67-bdb8-e1bebd7aaca9
The position control was rejected.

[2017-04-06 04:19] jgoppert commented on #6957
I had a look at your log.

Flow quality is good:
![image](https://cloud.githubusercontent.com/assets/473772/24737690/7ff7b9a4-1a5e-11e7-8923-b793f0c5c409.png)

The sonar from the flow isn't publishing the distance to the px4. It must be the primary distance driver, see code here: https://github.com/PX4/Firmware/blob/master/src/drivers/px4flow/px4flow.cpp#L240

Also, the sonar readings themselves l

[2017-04-06 05:14] hamishwillee commented on #6913
@dagar @bkueng After reviewing all the parameters I've come up with this [new version](https://hamishwillee.gitbooks.io/px4-user-guide/content/en/orphans/parameters.html). This adds
* "type" information below the code
* 2 new columns for increment and units
* Enum/values, decimal, bitmasks, reboot required. are displayed in description with "mini heading" IFF they exist.
* Scope is displayed at th

[2017-04-06 06:03] tomatac commented on #6957
Thank you! Is the poor sonar readings the cause for sonar not publishing the distance to the px4? I followed the C++ code but I could not determine the possible cause.
Anyway I am going to purchase a lidar sensor. The quality on the sonar does not look good. Does LIDAR-Lite v3 integrate well with the PX4?
How did you get the flow quality graphs form the log file? I tried FlightPlot and it gave me

[2017-04-06 06:13] LorenzMeier commented on #6913
Hi - on airframe meta data: The goal is to generate a picture for every autopilot which marks the outputs you should be connecting - e.g. MAIN1 - left aileron, MAIN2 - right aileron, etc. We have that meta data already in for a number of airframes and it would allow to generate automatic wiring diagrams. These should also include airspeed and GPS, so that a user gets a complete picture.

[2017-04-06 06:16] hamishwillee commented on #6913
@LorenzMeier That sounds awesome! Is anyone tasked with this tooling (generating the diagrams) and if not, what sort of generation tools were they planning on using?

[2017-04-06 06:17] LorenzMeier commented on #6913
Beat was looking into it but no, we do not have a person on this right now full-time.

[2017-04-06 06:43] bkueng commented on #6984
This could be a concurrency issue: `MavlinkFTP::handle_message` and `MavlinkFTP::send` are both called from different threads and access class members. The mavlink mission class has the same issue and maybe others too. It needs a proper evaluation and maybe a re-design, because at the moment it is really not clear that they're accessed concurrently.
Making each class thread-safe is probably not so

[2017-04-06 07:43] #6976 closed

[2017-04-06 08:46] jgoppert commented on #6957
Yeah I use px4tools or pyulog in jupyter notebook. Here is an example just using pyulog.

[Untitled.pdf](https://github.com/PX4/Firmware/files/901998/Untitled.pdf)

[2017-04-06 08:57] Changliu52 commented on #6978
Interesting. Thanks @jgoppert.
Yes, the 'vision faulted' and 'vision OK' message was popping out from time to time, which must be the problem then. Looks like it is better to use vision velocity instead.

For this one, I want to clarify 3 things:
1. if the vision bias was computed after vision timeout in the 1.6RC1 LPE firmware? (there was a vision timeout at 7s-9s in the plot, so the bias should

[2017-04-06 09:16] jgoppert commented on #6978
1. There is no-longer any vision bias term. It is assumed the vision position measurement error is a zero mean gaussian.
2. Yes, if faulted, the vision correction doesn't happen.
3. The condition is based on a chi squared test with the innovation covariance (HPH^T +R ) and the error. The false alarm rate is set to 1 in 1000.

[2017-04-06 09:47] Stifael commented on #6914
whats the status here?

[2017-04-06 09:59] Stifael commented on #6651
@western-co-at  can you not just upload a log?

[2017-04-06 10:17] Changliu52 commented on #6978
OK, I see. @jgoppert Thanks for the clarification.

[2017-04-06 10:19] #6978 closed

[2017-04-06 11:25] hamishwillee commented on #6913
OK, I've submitted #6990  which includes fixes as discussed above and with Beat.

[2017-04-06 12:52] MaEtUgR commented on #4221
I once developed a much simpler mixer and flew with it for the entire tests of my master thesis so it works. But I never found the time to extensively test it for safety which was my main remaining concern.

The time to have a closer look if it can be taken over was always postponed.
Let me post the last implementation of it here in the hope that it helps the discussion:
[code]

[2017-04-06 13:19] TSC21 commented on #4167
So basically https://github.com/mavlink/mavros/pull/689 defines allowed areas, as a geofence. Probably we can consider that everything out of that area is a no-flight zone @liang-tang? Or maybe we can define a new Mavlink message to restricted flight areas - could be synced automatically to the online restricted UAV flight areas data.

[2017-04-06 15:37] LorenzMeier commented on #6938
Thanks, that would be much appreciated!

[2017-04-06 16:05] davids5 commented on #6881
@dagar - I think the parallel build is not respecting the patch ordering.  Per our chat I am noting that here.

[2017-04-06 16:15] MaEtUgR commented on #5427
https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/mc_pos_control_main.cpp#L2366 looks to me like it resets on arming. I think we would have noticed that before if it would not.

[2017-04-06 16:58] mhkabir commented on #5427
This is  _probably_ no longer an issue. Would be good if you could validate it.

[2017-04-06 18:16] mhkabir commented on #6919
Hmm, it seems that it is compiled.

Can you run `pwm_input test` and send the output here? If you don't see any output, then you have a wiring issue.

[2017-04-06 20:08] dagar commented on #6913
@hamishwillee it looks like you can include external markdown?
If we do it that way we can avoid creating a new jenkins users with appropriate permissions and the potential gitbook sync issues we've been hitting.

WIP parameters.md generate and upload - https://github.com/PX4/Firmware/pull/6992

[2017-04-06 22:13] hamishwillee commented on #6913
Hi @dagar

There is nothing to indicate gitbook can [import from arbitrary locations](https://toolchain.gitbook.com/templating/conrefs.html) (only locally or from github), though it might be able to. Another complication is that importing files from github (and presumably elsewhere is VERY slow). Doesn't matter much on the server, but it will slow a local build quite a lot ... which is painful for

[2017-04-06 22:15] vinhk commented on #6852
@ecmnet How is your hovering when set LPE_FUSION to 162?

[2017-04-06 22:18] dagar commented on #6913
Alright, let's give it a try.

@LorenzMeier can we use PX4BuiltBot for this purpose? If so we just need to get his credentials on jenkins and I can do the rest.

[2017-04-07 01:13] vinhk commented on #6919
@mhkabir Here is what I got. I have already enable ll40ls in QGC
`nsh> pwm_input test`
`Showing samples for 5 seconds`
`nsh> `

[2017-04-07 06:29] HockyYoung commented on #6882
I also encountered the same problem, RC can not identify, but I forced brush PX4IO BootLoader, with the previous firmware can work with the latest github code is not recognized, what measures can be resolved?

[2017-04-07 07:02] ChristophTobler opened #6994 "PWM lidar ll40ls not working anymore"
@kd0aij @julianoes ll40ls pwm does not work anymore after this https://github.com/PX4/Firmware/commit/aa9fbbedd54a7a0e346ea03f439dcdf4f90c6113

Any ideas why?

[2017-04-07 07:09] Stifael commented on #6651
I tried to reproduce in sitl, but not succesful yet.

[2017-04-07 07:10] mhkabir commented on #6994
I think I know why. It is potentially similar to why camera trigger got broken. @davids5

[2017-04-07 07:10] Stifael opened #6995 "sitl gps stop not working"
In simulation, even though I do "gps stop", I still have gps.

[2017-04-07 07:12] mhkabir commented on #6919
OK, we can confirm the issue on our side as well. Please continue checking https://github.com/PX4/Firmware/issues/6994 for fixes as and when they come.

[2017-04-07 07:12] #6919 closed

[2017-04-07 07:18] bkueng commented on #4742
Closing as we have instructions on the dev-guide for this.

[2017-04-07 07:18] #4742 closed

[2017-04-07 07:18] bkueng commented on #6924
Closing this for now, we can come back to it when needed.

[2017-04-07 07:18] #6924 closed

[2017-04-07 07:21] #6953 closed

[2017-04-07 07:21] western-co-at commented on #6651
I have already posted a Log File in my first comment: http://review.px4.io/plot_app?log=b29f4633-e7c9-49a9-ab92-18106d9f01f9
If you need more log files with different test cases - please let me know. With a real flight controller it was reproducible for me after the 2nd time & without gps signal.

[2017-04-07 07:21] LorenzMeier commented on #6994
@mhkabir Could you please add this to your list?

[2017-04-07 07:36] Stifael commented on #6651
@western-co-at: I am not sure why this comment is even there (https://github.com/PX4/Firmware/blob/e892a51afb59763255d48d5df2613c1e10b713bc/src/modules/land_detector/MulticopterLandDetector.cpp#L188), since the vertical velocity is anyway extracted from the imu.

[2017-04-07 07:39] Stifael commented on #6651
@western-co-at: did you do auto takeoff or manual takeoff? a log file would be appreciated (preferably ulog)

[2017-04-07 07:56] bkueng commented on #6995
SITL uses `gpssim`. --> use `gpssim stop`

[2017-04-07 07:56] #6995 closed

[2017-04-07 13:00] western-co-at commented on #6651
@Stifael: here another short log with current master firmware: http://review.px4.io/plot_app?log=8136102d-90e0-43f9-a6e7-b1e05161a30a
...tested again without props and without movement of the copter.
I have done these tests without auto takeoff. Please also have a look at the Raw Radio Control Inputs and the corresponding Actuator Outputs (Ouput 0 - Output 3).

[2017-04-07 15:23] NaterGator opened #6998 "Gyro calibration fails if gyro0 update rate is faster than others"
Mostly I just wanted to get this issue logged so I don't forget. Currently working on bringup of a new board that is using gyros that operate significantly faster than the rest of redundant MEMS sensors.

The gyro calibration data capture loop [paces timing](https://github.com/PX4/Firmware/blob/94ef3db4079e52e6d9d541d766c9a7d08acfb6d8/src/modules/commander/gyro_calibration.cpp#L105-L106) based on

[2017-04-07 15:23] nancy03610 opened #6999 "cannot find px4fmu-v2_lpe"
I want to use local position estimator with pure optical flow. And I read some people's common says that you should upload px4fmu-v2_lpe. But I cannot find this file in the firmware. After all, I can find the px4fmu-v2_default, so I uploaded it instead. Is it the latest version of px4fmu-v2_lpe? However, I cannot get optical flow to work with it in LPE, and cannot find any param about enable optic

[2017-04-07 15:45] dagar commented on #6999
Hi @nancy03610

Here's a link to the px4fmu-v2 build with LPE. https://s3.amazonaws.com/px4-travis/Firmware/master/px4fmu-v2_lpe.px4

We haven't updated QGC to handle this extra px4fmu-v2 build yet.

[2017-04-07 15:45] #6999 closed

[2017-04-07 16:58] davids5 commented on #6994
@ChristophTobler - did you test after https://github.com/PX4/Firmware/commit/8e217b028718fb6f0196e8a42ccff026a82c3215 came in?

@mhkabir here is more [STM32 code in the wrong place](https://github.com/PX4/Firmware/blob/master/src/drivers/pwm_input/pwm_input.cpp) perhaps you can remove all the timer code and refactor the PWMIn into the io_timer_driver - the stubs and resource allocation is there -

[2017-04-07 17:20] davids5 commented on #6882
@HockyYoung Please test with today's [master FW](https://github.com/PX4/Firmware/issues/6999#issuecomment-292573103)

See https://github.com/PX4/Firmware/pull/6993#issuecomment-292593202 to know if the PX4IO is running OK

[2017-04-07 20:32] vinhk opened #7002 "How can I tune Px4 with Px4Flow data to give better hovering?"
I am able to see Px4Flow data into the Pixhawk but there is still hovering issue as it tends to drift. I am hoping there is a documentation similar to one in Arducopter: http://ardupilot.org/copter/docs/common-px4flow-overview.html

[2017-04-08 02:42] nancy03610 commented on #6851
Do you have any progress with this? I met with the same problem. I checked the nuttx_px4fmu-v2_default.cmake, and the modules/local_position_estimator is not commented. But still I cannot find LPE_FUSION. How do you fix this?

[2017-04-08 05:27] julianoes commented on #6994
@davids5 this setup is on the Pixracer without PX4IO by the way.

[2017-04-08 05:52] tomatac commented on #6957
Thanks! I am new to jupiter notebooks but after I read about them and I was planning to start using them in a Docker container (https://hub.docker.com/r/jupyter/). Do you have one that you recommend? Do you know if there is a Docker image that contains the pyulog and px4tool already?
I got the lidar lite and if everything goes ok we should fly it tomorrow.

[2017-04-08 06:09] mhkabir commented on #6994
@julianoes io_timer is just a nice API which David wrote to allow shared
access to the timer hardware on the STM32. e.g camera trigger running on
AUX (FMU) pins uses it.

It is not specific to the px4io, or something like that :)

On 08-Apr-2017 7:27 AM, "Julian Oes" <notifications@github.com> wrote:

[2017-04-08 07:18] HockyYoung commented on #6882
I have used the previous firmware can be radio calibration, but the use of the latest firmware, will lead to IO BootLoader no response, this back with the previous firmware, remote calibration also problems, so I restart io BootLoader, radio calibration is ok.And I can judge the current lastest firmware will damage IO, I currently use the Pixhawk, arm-none-eabi-gcc version is 5.4.1.can you tell me

[2017-04-08 07:43] HockyYoung commented on #6864
I use EKF2 and I Set SENS_FLOW_ROT to 270 degrees ，EKF2_AID_MASK to use optical flow ，EKF2_HGT_MODE to use the range finder，and the Alttitude and Position mode is working well, but I use make px4fmu-v2_lpe upload,i can't make the alttitude mode hold ,what's the problem with LPE?

[2017-04-08 08:45] nancy03610 opened #7004 "EKF2 doesn't work with px4flow"
I want to test px4flow. I upload px4fmu-v2_default target and set the params EKF2_AID_MASK and EKF2_HGT_MODE as mentioned in #6864, and I also enabled SENS_EN_MB12XX sensor because I want to use the sonar sensor in the px4flow module.

 I didn't do a real flight test but just hold the flight walked around. It turned out that the light was always blue. I suppose that green light shows it work fine,

[2017-04-08 14:13] davids5 commented on #6994
@julianoes Good to know, for testing. The comment about testing on PX4IO is because the io_timer code is a shared stm32 driver. Changes to that code effect the highly RAM constrained PX4IO and can trigger the out of memory "police lights" which most people do not notice, and then the future bug report is RC calibration is not working.

[2017-04-08 18:47] vinhk opened #7005 "how to disable GPS in Gazebo simulator?"
Is there a way to disable gazebo GPS functionality?

[2017-04-08 19:33] mhkabir commented on #7005
`gpssim stop`

[2017-04-08 19:33] #7005 closed

[2017-04-08 20:45] wuwushrek commented on #6555
Hi !
I have the same problem as you. I'm doing offboard control using  mocap (VICON). I follow all the instructions there and get Mavros/local_position/pose and mocap pose match perfectly. But I can't manage to do position control since the quad just go to the ceil. Have you found any solution ?
Thanks

[2017-04-08 21:35] dagar commented on #6794
@zouboan is this resolved?

[2017-04-09 10:44] LorenzMeier commented on #6984
@bkueng Can you look into this? The mission upload fails that result are annoying.

[2017-04-09 16:28] pavel-kirienko commented on #6940
I propose to add an additional tab in the top panel, as mentioned in the first message of this thread, and place a table in it. The table should contain information about every UAVCAN node that is present on board. The following columns should be defined:

* Node ID.
* Node name, e.g. `io.px4.sapog`. The user will be able to infer the function of the node based on this parameter.
* Health of the n

[2017-04-09 16:34] mhkabir commented on #6940
I'm concerned about the Health field. If a node was critical for example, it does not help us to debug the issue, but just know that there's an error 'somewhere', which is worse. The node ID is also opaque, because it doesn't tell us anything about which node it 'really' is.

[2017-04-09 16:43] pavel-kirienko commented on #6940
Be not concerned. The vendor specific status code is used to convey the detailed, vendor specific information about the failure. This can be used to pinpoint and resolve the problem.

Worse than what? Worse than having no information about status of peripherals whatsoever? Surely not. There must be a way to obtain status information from the nodes. Right now there is no such thing. My proposition

[2017-04-09 17:29] dagar commented on #6984
FYI - existing mavlink ftp test that's currently broken. https://github.com/PX4/Firmware/tree/master/src/modules/mavlink/mavlink_tests

[2017-04-10 00:22] tomatac commented on #6957
@jgoppert I got the Lidar Lite 3 installed. The altitude control looks a lot better and the x y position graph looks better. Still the position control is rejected. Here it is one of the flight logs:
http://logs.px4.io/plot_app?log=95cb6bde-d118-4317-aa7b-ca82151c903e
I also got the pyulog on Jupiter notebook working and I can reproduce the graphs that you shared in the pdf file. It would be nice

[2017-04-10 01:21] dagar commented on #6913
@hamishwillee do you want to manually commit the parameters.md from s3 (https://s3.amazonaws.com/px4-travis/Firmware/param_markdown/parameters.md) initially? I can work on getting jenkins (or something else) push access to the repository as a separate task.

[2017-04-10 01:30] hamishwillee commented on #6913
@dagar How often do they change? ie If I submit manually do I need to put a note stating that these could be out of date? ETA on pushing from repo?

[2017-04-10 01:41] dagar commented on #6913
The version here on the old site (https://pixhawk.org/firmware/parameters) was late updated June 2016, and I still use it multiple times per week. Adding the date generated or based on PX4 version certainly wouldn't hurt.

The auto update needs a few things that are out of my control (github, gitbook, jenkins user with permissions, etc).

[2017-04-10 01:44] hamishwillee commented on #6913
OK, then I will submit an update later today. Thank you!

[2017-04-10 01:46] HockyYoung commented on #7004
Maybe You shoud see this https://github.com/PX4/Firmware/issues/6864

[2017-04-10 01:57] nancy03610 commented on #7004
Yes, I have read that. I followed their instruction, and tried px4fmu-v2_lpe, but still no luck.

[2017-04-10 04:11] nancy03610 commented on #7004
@HockyYoung I read your comment in #6864, found that I am basically doing the same thing with you. I got a problem when changed flight modes. It was ok with altitude, but when I tried to use position mode or hold mode there was a warning 'reject position control' or 'reject auto hold'. Did you meet the same problem?

[2017-04-10 05:22] nancy03610 opened #7010 "Why I couldn't change flight mode to 'position control' or 'auto hold' when using LPE?"
I am working on testing LPE with px4flow.
I uploaded px4fmu-v2_lpe target and followed the instruction in #6864 to set the params in QGC. I set SYS_MC_EST_GROUP to LPE and LPE_FUSION to 162.
I did a flight test, I took off with Stabilized mode and turned to Altitude mode. The flight can keep the same hight but slowly flew away. Is it normal to act like this?
Then I wanted to try position mode and

[2017-04-10 05:37] mhkabir commented on #7010
You do not have the LPE_FUSION flag set up correctly. Optical flow is not enabled.

[2017-04-10 05:37] mhkabir commented on #7010
Send logs.

[2017-04-10 05:53] nancy03610 commented on #7010
Sorry, I am just a beginner. How can I send my log?

[2017-04-10 06:20] ChristophTobler commented on #6994
@davids5 It doesn't work with latest master

[2017-04-10 06:36] LorenzMeier commented on #5870
Is this done since then?

[2017-04-10 06:36] LorenzMeier commented on #3599
We mostly did this already.

[2017-04-10 06:36] #3599 closed

[2017-04-10 06:36] LorenzMeier commented on #2553
Partially refactored.

[2017-04-10 06:36] #2553 closed

[2017-04-10 06:36] LorenzMeier commented on #3798
It's mostly working fine, so closing this for now.

[2017-04-10 06:36] #3798 closed

[2017-04-10 06:38] LorenzMeier commented on #2971
This is stable right now but since we anyway wanted to disable this when other inputs are active I'm keeping this for now.

[2017-04-10 06:38] LorenzMeier commented on #3157
We did this (PR is in) but will deploy on next release.

[2017-04-10 06:38] LorenzMeier commented on #3689
Not an issue right now.

[2017-04-10 06:38] #3689 closed

[2017-04-10 06:38] LorenzMeier commented on #3824
Geofence made it in but it still WIP, moving this.

[2017-04-10 06:44] LorenzMeier commented on #3977
This has been changed so you can break out of auto.

[2017-04-10 06:44] #3977 closed

[2017-04-10 06:45] LorenzMeier commented on #5264
I'm closing this as stale.

[2017-04-10 06:45] #5264 closed

[2017-04-10 06:45] LorenzMeier commented on #5161
Closing this as stale.

[2017-04-10 06:45] #5161 closed

[2017-04-10 06:46] LorenzMeier commented on #5947
Important, but not critical.

[2017-04-10 06:47] #5427 closed

[2017-04-10 06:48] LorenzMeier commented on #6174
The current state is stable, so I'm leaving this cleanup for v2

[2017-04-10 06:51] nancy03610 commented on #7010
@mhkabir Here is my log: http://logs.uaventure.com/view/cCt8EfG4f8XhhcPSbbtcK5

[2017-04-10 06:56] LorenzMeier commented on #6106
We need to work this one out.