[2020-03-20 18:47] LorenzMeier commented on #14445
As these streams can be configured individually I don't see the issue here. There is also a message for the fused estimate. I'm closing this accordingly. On a sidenote: Most commercially relevant systems are moving to higher-bandwidth links. While you should always be cautious of bandwidth, most operators do require video and MAVLink traffic becomes a rounding error.

[2020-03-20 18:47] #14445 closed

[2020-03-20 18:55] breathedigital opened #14446 "Error building px4_sitl on MacOS Catalina"
**What is the problem?**
Unable to successfully execute ```make px4_sitl gazebo``` on MacOS Catalina
[px4_sitl_make_error_on_mac.log](https://github.com/PX4/Firmware/files/4361399/px4_sitl_make_error_on_mac.log)

**Steps to reproduce the behavior:**
1. MacOS Catalina running Python 3.7.7 with all dev tools as per this link [1].
2. Check if indeed ```python -v ``` is pointing to the correct binary

[2020-03-20 19:11] dakejahl commented on #14445
So the original question is still unanswered. Let me rephrase it:

Which should we use?
- `ekf_gps_position`
- `vehicle_gps_position` (sends first instance)

to display the vehicle location in the GCS?

[2020-03-20 20:30] BazookaJoe1900 commented on #14385
@TSC21, its understood that this idea need to fit to all of the dependencies of uorb, including the ROS2 and RTPS mechanism. after (and if...) the concept set the enums will be decided, we can see how it can be tail to ROS2

[2020-03-20 20:31] dagar commented on #14445
I would propose `vehicle_gps_position`, which would become the system's notion of GPS position (either voted primary or blended). https://github.com/PX4/Firmware/pull/13584

At the moment that's effectively `ekf_gps_position` in most cases, but I really don't think sending raw sensor readings out over mavlink should be dependent on a specific estimator.

[2020-03-20 20:35] TSC21 commented on #14385
If the decision is taken over an implementation of the enumerations, it needs to respect the overall architecture where uORB is used and where it plugs to. It will never be one thing and then the other because the RTPS bridge is already part of the architecture.

[2020-03-20 20:42] LorenzMeier commented on #14445
I think there is some general confusion here:

1) The GPS position is a SENSOR!!!, not a state estimate. It is NOT being used in the GCS (except as fall-back)
2) The actual vehicle position is sent here: https://github.com/PX4/Firmware/blob/e5d30c441317399658d1d7eded9eb299b7cd5e9e/src/modules/mavlink/mavlink_messages.cpp#L2402

[2020-03-20 21:58] JacobCrabill commented on #14445
Except that it's also sent out here:
https://github.com/PX4/Firmware/blob/e5d30c441317399658d1d7eded9eb299b7cd5e9e/src/modules/mavlink/mavlink_messages.cpp#L1633

Which also gets picked up by QGC, last I knew.

[2020-03-20 22:18] #14440 closed

[2020-03-20 23:47] dagar opened #14449 "review HIL"
"when i run HITL simulations on latest master, i get sensor_baro:0 failed: TIMEOUT!, reconfiguring, messages. The attitude estimation (while landed) doesnt work, also the position and altitude.
I am usually runing HITL simulations on 1.10 release where it works fine."

Steps to reproduce
 - uploaded master to the fcu (hitl enabled, hil x airframe set)
 - compiled gazebo, changed iris model to use

[2020-03-20 23:47] dagar commented on #14449
@dusan19

[2020-03-21 00:13] sanderux commented on #14292
I dont see the benefit above using VT_FW_ALT_ERR.
That would normally  follow terrain too

[2020-03-21 01:36] dagar commented on #14445
@JacobCrabill both raw gps (vehicle_gps_position) and the global position estimate (vehicle_global_position) are sent. For position display QGC uses vehicle_global_position over vehicle_gps_position if available. Additionally QGC does use raw GPS to display the satellite count, etc, which users often pay close attention to (for better or for worse). With that it mind, I do think it's worth conside

[2020-03-21 06:23] jinchengde commented on #14368
yes, the stable version is OK(include v1.10.1), but the develop versin in master can't work.

[2020-03-21 10:21] tuloski commented on #13458
I tested the latest release and it's working there.

[2020-03-21 10:23] #13458 closed

[2020-03-21 12:29] julianoes commented on #14446
This is only a compile warning. You should be able to compile it by removing `-Werror` from:
https://github.com/PX4/Firmware/blob/v1.9.2/cmake/px4_add_common_flags.cmake#L66

[2020-03-21 13:06] LorenzMeier commented on #14446
We are focused at PX4 of always providing a latest stable release and we care about the developer experience of that and master and appreciate feedback.

Thank you for the really detailed issue report and the time you've put into accurately describing the issue. This is extremely helpful!

Unfortunately, in order to not spread the volunteer resources of our project too thin, we're not supporting t

[2020-03-21 13:06] #14446 closed

[2020-03-21 13:16] LorenzMeier commented on #14446
However, feel free to send a pull request with the compile fixes for it!

[2020-03-21 16:28] LorenzMeier commented on #14449
Can we get a "make abc" target for this?

[2020-03-22 13:44] dagar commented on #14449
Yes. We should also look for a way to set some of these things at runtime so we don't end up with more copied gazebo models for every single possible setup.

[2020-03-23 08:34] bresch opened #14456 "Position control failure when MPC_TILTMAX_AIR >= 90 degrees"
**Describe the bug**
A tilt parameter of 90 (or more) degrees creates invalid setpoints in the position controller

**To Reproduce**
Steps to reproduce the behavior:
1. Takeoff in stabilized/altitude
2. Set `MPC_TILTMAX_AIR` >=90
3. Switch to position control
[code]

**Log Files and Screenshots**
https://logs.px4.io/plot_app?log=c772812b-eba6-47f0-b2ed-965f2e1d9f4a

[2020-03-23 08:39] bkueng commented on #14368
This should be fixed in https://github.com/PX4/Firmware/pull/14423. @jinchengde can you test master again?

[2020-03-23 12:36] #14456 closed

[2020-03-23 15:27] parakhm95 opened #14459 "EKF altitude estimation diverges and jumps"
We have been noticing a bug with our drones where the EKF altitude estimate jumps by 2-3 metres and sometimes by hundreds of metres when it looks like both the GPS and Baro are reporting correctly. I am attaching three logs of such instances with description. Only thing I have noticed are EKF GPS hgt timeouts but they don't always happen at the time of this divergence and behavior. I don't know wh

[2020-03-23 16:30] CarlOlsson commented on #14459
Just curious, why do you use GPS as primary height source? Do you have the same problem if you use baro instead?

If you could reproduce the error while collecting a [ekf2 replay logfile](http://dev.px4.io/v1.9.0/en/debug/system_wide_replay.html#ekf2-replay) it would be much easier to debug

[2020-03-24 01:51] jinchengde commented on #14368
@bkueng it works

[2020-03-24 06:54] bkueng commented on #14368
Thanks for testing. Closing this.

[2020-03-24 06:54] #14368 closed

[2020-03-24 08:19] priseborough commented on #14422
@bkueng Sorry, I was off on another project and missed this. Yes it does fix the issue in my testing. Thanks for fixing it.

[2020-03-24 09:08] DavidBSaba opened #14464 "Fail to use external Magnetometer"
Hello

I am trying to use the external magnetometer as the primary source for heading calculation. I am doing this in order to reduce the magnetic field interference from power cables.

I am currently using Pixhawk 2 cube and the PX4 software (version 1.8.0 stable). I connected a Here+ module to the GPS1 port.

I tried all possible combinations of the values of the parameters
CAL_MAGx_EN, x=0,...,

[2020-03-24 10:32] parakhm95 commented on #14459
I checked the logs from when we used the barometer sometimes, and I have noticed jumps but not a very high divergence. Below attached logs are from when we flew using barometer :
https://review.px4.io/plot_app?log=aef40cc4-2175-4201-b6e6-e84b91b7ba91
https://review.px4.io/plot_app?log=ee7eea86-b78a-4a18-bb64-ef235c7c0774
https://review.px4.io/plot_app?log=1c4434ad-0214-4e0a-b320-62c4c0af3ed1

I al

[2020-03-24 10:47] CarlOlsson commented on #14459
I have not tested it myself but ecl has a feature to address exactly that
https://github.com/PX4/ecl/blob/870ec380f13707cde0e6adda5bf52838aa602ebd/EKF/ekf_helper.cpp#L628-L628

You need to set the SDLOG_PROFILE parameter to 2 and then collect a logfile where you reproduce the problem.

Note that to collect a usable replay logfile you need to use a good SD card, e.g [SanDisk Extreme U3 32GB](http:/

[2020-03-24 11:01] parakhm95 commented on #14459
We were trying the wind speed estimation parameters but we haven't tuned them. We don't want to operate using barometer though because we don't have wiggle room for failures with such a heavy aircraft.

We are currently logging everything except 7: Computer Vision and Avoidance so whatever you need should be in there. We are already using a U3 V30 card but we didn't set the logging buffer higher.

[2020-03-24 13:04] CarlOlsson commented on #14459
My experience with GPS altitude using standard M8N modules is that it is very unreliable so I would be careful with assuming that using GPS instead of baro will solve your problems

Yes but you have to many logging drops in the logfile, so it is more about removing thins you don't need

AFAIK only from the rc script

However, I did replay your logfile anyway. The logging drops makes the estimator

[2020-03-24 13:27] parakhm95 commented on #14459
Do you recommend any particular GPS modules that can prove more reliable? I will start thinking about wind estimation so as to improve the state estimation.

On this subject, is there a SDLOG_PROFILE that includes everything or is it advisable to continue doing 127(01111111)? I will plan a flight and get back to you with a log file without dropouts. I will increase the log buffer also. I guess I w

[2020-03-24 13:44] CarlOlsson commented on #14459
No, but it is also very hard without knowing your application etc. There are very good GPS modules, but they might set you back >5K CHF

Why did you exclude the default set? No, you might need to create your own one if you need something specific

Not really, very hard to say where the bug is without digging into the code

[2020-03-24 14:09] cimbar opened #14465 "Kill switch for companion computer"
Hi,
In 1.8.2 release and before, disarming with mavlink message was possible. I was using mavros and sending mavros/State message as armed=false and it was working as same as manual kill switch. While flying in offboard mode with companion computer and not using RC controller, this was an option for emergency stop. When i passed to 1.10 version, i realized that this option is not possible anymore

[2020-03-24 14:19] TSC21 commented on #14465
You need to send the arm command with the param 2 set to `21196`. https://mavlink.io/en/messages/common.html#MAV_CMD_COMPONENT_ARM_DISARM. You can use the [`mavcmd`](https://github.com/mavlink/mavros/blob/master/mavros/scripts/mavcmd) for that same purpose.

[2020-03-24 14:22] TSC21 commented on #14465
You can also extend [`mavsafety`](https://github.com/mavlink/mavros/blob/master/mavros/scripts/mavsafety) with that option, and its actually the best way of doing it. If you do it so, please issue a PR to MAVROS, so everyone can benefit from it.

[2020-03-24 14:46] vanurag commented on #14260
I noticed similar issue with several parameters not matching between the original log file and the log file generated after replay. I fixed this issue by adding 'replay tryapplyparams' in rc.replay before 'ekf2 start'.

[2020-03-24 14:46] TSC21 commented on #14387
What else do you have running in `/dev/ttyS1`? Do you have a Mavlink stream there?

Also, 1.9.0 is lacking a lot of features and bug fixes compared to master.

[2020-03-24 15:19] parakhm95 commented on #14459
We wanted to have all the data possible(we shifted to pixhawk recently) in case we crash our drone so that we can study it.

I used a small F450 frame just now with HGT mode set to GPS and SDLog configured properly and it happened again. This time, it lost altitude instead of gaining altitude. And when looking through plotjuggler it is clear that EKF estimate jumped somehow.

[2020-03-24 15:24] CarlOlsson commented on #14459
Yes, so why did you **exclude** the default set, now you are missing some topics.

The issue has to do with the mess around GPS checks, different but similar to the one fixed [here](https://github.com/PX4/ecl/pull/761).

The bug was introduced here
https://github.com/PX4/ecl/pull/614

Without commit/with commit
![image](https://user-images.githubusercontent.com/7795133/77437135-951e8d80-6de4-11ea-

[2020-03-24 15:37] svpcom commented on #12999
I still need it

[2020-03-24 16:00] CarlOlsson commented on #14459
opened an issue on ecl repo https://github.com/PX4/ecl/issues/786, thanks for reporting!

[2020-03-24 16:01] parakhm95 commented on #14459
Thank you so much! I had my doubts about this from the beginning. We were struggling to get the checks to pass a few days ago and I set the EKF2_REQ_SACC higher because it looked it was failing that exact check. I have further questions about this if you could answer please :

1. If I have to verify these parameters for GPS checks, where should I check? I have been checking the vehicle_gps_positio

[2020-03-24 16:07] parakhm95 commented on #14459
Never mind about the last question I got my answer.

[2020-03-24 16:20] JacobCrabill commented on #12692
It's possible that this has been fixed by #14345, if the issue was in regards to external UAVCAN compasses.

[2020-03-24 16:21] NicoNelli opened #14466 "Return To Home failure"
Hi everyone,

I wanted to test the RTL using my VTOL Quad Tailsitter and I was on branch master. When I called the RTL, the vehicle was in FW. So the vehicle started going back and then it did the transition back to MC just before landing (till now everything was fine). The vehicle started going down (2 m) and it started drifting horizontally. I called again the RTL and it reached again the return

[2020-03-24 17:21] MaEtUgR commented on #12999
@svpcom Thanks for the reminder, sorry for not updating this conversation!
I fixed the problem I described in https://github.com/PX4/Firmware/issues/12999#issuecomment-535426261 which I'm still assuming is the cause why you had these different flight characteristics in https://github.com/PX4/Firmware/pull/14017/. Could you please check if that solves your issue?

The axis prioritization is now exa

[2020-03-24 19:47] TSC21 commented on #12720
@dagar this is still to solve.

[2020-03-24 23:46] kashishdhal commented on #13567
<pre><font color="#8AE234"><b>gnclab@system76-pc</b></font>:<font color="#729FCF"><b>~</b></font>$ which python
/usr/bin/python
<font color="#8AE234"><b>gnclab@system76-pc</b></font>:<font color="#729FCF"><b>~</b></font>$ which python3
/usr/bin/python3
<font color="#8AE234"><b>gnclab@system76-pc</b></font>:<font color="#729FCF"><b>~</b></font>$ which pip
/usr/local/bin/pip
<font color="#8AE234"><b

[2020-03-25 08:03] CarlOlsson commented on #14459
I don't know, I must have been confusing things yesterday xD You are right, you have also selected the default set of topics..

The GPS checks are done [here](https://github.com/PX4/ecl/blob/master/EKF/gps_checks.cpp#L116). To know which check fail you can look in `estimator_status.gps_check_fail_flags`

The altitude measurements from GPS and baro will always have an offset between them. However,

[2020-03-25 08:57] bkueng commented on #14260
Thanks for looking into it.
Can you send a pull request?
The problem is that ekf does not take these params after it's started.

[2020-03-25 11:50] Spir4L commented on #11072
So how do I change the version in order to pick my new metadata?

[2020-03-25 12:27] julianoes commented on #13567
Sorry, I forgot `which pip3`.

But I would clean out all pip and python things from `/usr/local` and then do:
[code]

[2020-03-25 13:08] cimbar commented on #14465
Following your suggestion, i used mavros_msgs/CommandLong service on /mavros/cmd/command topic inside of the code instead of using mavcmd. Also, users can call service from bash with
[code]
Thanks for help

[2020-03-25 15:00] BazookaJoe1900 opened #14479 "Battery emergency RTL initiate climb command, even if drone already landing"
**Describe the bug**
I found on a flight that I have came to nearly empty battery that there is something that look to me like bug in the emergency and critical battery logic.
I started to land in nearly empty battery, but then the emergency battery logic intiated, and instead of continue landing, it started to RTL (climbing), I took control to RC and landed.
it seems that COM_LOW_BAT_ACT doesn't

[2020-03-25 16:21] mrpollo commented on #14402
add to notes please

https://github.com/PX4/Firmware/pull/14473

[2020-03-25 16:26] mrpollo commented on #14402
add to notes please

https://github.com/PX4/Firmware/pull/14405

[2020-03-25 18:14] RicardoM17 commented on #13410
@GigaFlopsis did you manage to get to the bottom of this? Was it fixed or did you find a solution?

[2020-03-25 19:45] Spir4L commented on #11072
The file that needs to be updated is src/lib/parameters/px4params/xmlout.py and the minor version has to be increased of 1 , in order to overrride the actual being used.

[2020-03-25 20:22] GigaFlopsis commented on #13410
Hello. I found a solution.
I added next line in Firmware/ROMFS/px4fmu_common/init.d/airframes/...

[2020-03-25 20:27] kashishdhal commented on #13567
Hello @julianoes

Here is the output:
<pre><font color="#8AE234"><b>gnclab@system76-pc</b></font>:<font color="#729FCF"><b>~</b></font>$ which pip3
/usr/bin/pip3
</pre>

Now should I manually delete all these files?

Regards,
Kashish Dhal

[2020-03-26 05:42] limhyon opened #14487 "dmesg on sdcard?"
**Describe problem solved by the proposed feature**
When PARAM_DEFAULTS_VER is increased by airframe maintainer, rcS is executing SYS_AUTOCONFIG to 2. However, there is no way to log this boot message, as dmesg will only show 2nd boot.

**Describe your preferred solution**
There should be some reserved text file that logs this?

[2020-03-26 05:47] limhyon opened #14488 "batt_smbus hotswap is not availble for now."
**Describe problem solved by the proposed feature**
It will not be super necessary, however, think about following situation.
 - developer connects fmu by usb. fmu is powered by USB and battery (with SMBUS interface) is not connected yet.
 - developer wants to test some feature with battery. developer connects battery.
    - but smbus app is only executed during boot time, currently it has to be r

[2020-03-26 05:58] julianoes commented on #13567
I would suggest to remove everything related to Python in `/usr/local` unless you have a good reason for it. Then I would run the `ubuntu.sh` script again which now should work fine.

[2020-03-26 07:15] julianoes commented on #14465
Alternatively there is also:
https://mavlink.io/en/messages/common.html#MAV_CMD_DO_FLIGHTTERMINATION
But for this the flight termination circuit breaker might need to be disabled.

[2020-03-26 07:17] julianoes commented on #14466
FYI @RomanBapst

[2020-03-26 07:18] julianoes commented on #14464
I don't think anyone can go back to 1.8.0 to help you with this issue. I suggest to try newer releases and check if it has been fixed in the meantime. Sorry about that.

[2020-03-26 07:22] julianoes commented on #14436
@Jaeyoung-Lim any idea?

[2020-03-26 07:23] #13410 closed

[2020-03-26 07:24] julianoes commented on #14430
This usually happens if you run out of RAM. Can you try to raise the RAM available for the VM and try again?

[2020-03-26 07:35] julianoes commented on #14376
Can you describe what exactly happens when "QGC freezes"? And can you document the steps how I could reproduce this? Thanks.

[2020-03-26 07:35] Jaeyoung-Lim commented on #14436
@bavokn It seems like you are using the same sdf file for all vehicles. This will make the vehicles share the same tcp port for the HIL mavlink messages.

You need to copy the sdf file and modify the `mavlink_tcp_port` as in https://github.com/PX4/sitl_gazebo/blob/master/models/rotors_description/urdf/component_snippets.xacro#L302 for each `iris.sdf`

[2020-03-26 07:37] julianoes commented on #14369
Is the data already in the ulog and just lacking in flight review or is it not logged?

[2020-03-26 07:48] julianoes commented on #13702
Closing because there was not follow up.

[2020-03-26 07:48] #13702 closed

[2020-03-26 07:49] julianoes commented on #14323
@Norton-z this is probably fixed by now. Can you check?

[2020-03-26 07:51] julianoes commented on #14361
@bys1123 any way you could get the console boot log? Or `dmesg` output?

[2020-03-26 07:51] moreba1 commented on #14369
the data already logged in ulog but is not in mavlink massages and tlog for online display.

[2020-03-26 07:52] julianoes commented on #14336
Is this still an issue?

[2020-03-26 07:54] julianoes commented on #14388
Can you paste the whole output please? And which hardware exactly are you using?

[2020-03-26 07:55] julianoes commented on #13743
@davids5 can you help me understand which file you mean and where it is included in the build? Then I can check it.

[2020-03-26 07:57] julianoes commented on #14369
Got it. For the mavlink messages you could suggest a change for `mavlink_messages.cpp` to add it. For flight review you could make a PR here: https://github.com/PX4/flight_review

[2020-03-26 10:46] TSC21 commented on #14336
@julianoes it probably still is. @ARob109 do you mind issuing a PR to PX4/libuavcan fixing that? Thanks!

[2020-03-26 10:57] TSC21 commented on #14465
@cimbar are you interested in extending the `mavsafety` with the feature as well? Like a `kill` command?

[2020-03-26 11:56] MuhammadBilal1 commented on #14430
@julianoes : Thanks for responding. I just tried the solution you told, but this didn't worked. I am still getting the issue. I tried to run 2 simulators (jmavsim & gazebo), but both are not running/connecting with my QGroundControl.

I increased the RAM of my VM to 9.9GB, and its already using the 16 Processor Cores.

Detailed log is given below for both.
[gazebo_log.txt](https://github.com/PX4/F

[2020-03-26 12:26] ARob109 commented on #14336
@TSC21, PR issued to PX4/libuavcan. New to contributing, this was my first PR, so hopefully I did it correctly. Still also very new to submodules, but the PX4/Firmware will also need to be updated to point to the new PX4/libuavcan commit, correct?

[2020-03-26 12:31] TSC21 commented on #14336
I left a comment. You need to rebase in master.

[2020-03-26 12:33] RomanBapst commented on #14466
@NicoNelli I think you have a problem with your remote control. The channel mapped to RTL glitches once in a while and would explain why the vehicle goes out of RTL.
![image](https://user-images.githubusercontent.com/7610489/77647219-1443cb00-6f77-11ea-8204-f6d399c74e28.png)

[2020-03-26 12:33] #14466 closed

[2020-03-26 13:20] davids5 commented on #13743
@julianoes - Thanks for looking into this. When working on a board and changing files in the nuttx-config directory: like https://github.com/PX4/Firmware/blob/master/boards/px4/fmu-v5/nuttx-config/include/board.h
OR
https://github.com/PX4/Firmware/blob/master/boards/px4/fmu-v5/nuttx-config/scripts/script.ld

When I filed this Nuttx was not rebuilt and PX4 was no re-linked.  - It may be fixed by no

[2020-03-26 13:48] dagar commented on #13743
Some of those cases we can fix effectively. Some of the ones that intersect with the generated path (copy nuttx, do some work, etc) are a bit more subtle with a long chain of dependencies.

In trying to fix it more generally in https://github.com/PX4/Firmware/pull/13747 I kept breaking it one way or the other (too strict always rebuilding everything OR too loose occasionally not rebuilding all the

[2020-03-26 14:10] kuiskas opened #14493 "Parameter Protection"
For general questions please use [PX4 Discuss](http://discuss.px4.io/) or [Slack](http://slack.px4.io/).

**Describe problem solved by the proposed feature**
Accessing to parameter tab without knowing what is being done.

**Describe your preferred solution**
I think, it would be usefull to password protect the parameter edition in order to avoid misuse.

[2020-03-26 14:24] cimbar commented on #14465
#https://github.com/mavlink/mavros/pull/1405

[2020-03-26 15:05] NicoNelli commented on #14466
Thanks @RomanBapst for the quick reply. I did that in purpose.
The very first time I called the RTL i saw the drone drifting.
Based on that I said: let's try to call again and again the RTL and see what happens.
Accordingly I did again the test and after calling three times the RTL the vehicle was able to land successfully.

[2020-03-26 15:54] julianoes commented on #14430
For Gazebo: There is an undefined symbol, so it's a linking problem.
Make sure the gazebo dependencies are installed correctly and up-to-date. Maybe run the `ubuntu.sh` script again to install all dependencies.

For jMAVsim: https://dev.px4.io/master/en/simulation/jmavsim.html#troubleshooting

[2020-03-27 09:44] bavokn commented on #14436
If you look at the generation of the launch file you can see i set the mavlink_tcp_port for each drone diffrently :

[code]

which results in the launch file :

UAV iris_0
[code]

UAV iris_1
[code]

UAV iris_2
[code]

[2020-03-27 09:59] dayjaby commented on #14436
This sets only the correct ports from the px4 side. Gazebo has to comply to those ports, but .sdf files cannot contain variables. So either you copy the .sdf file multiple times and change the port or you create a .xacro file which can contain variables.

@Jaeyoung-Lim did a PR recently for multi VTOL: https://github.com/PX4/sitl_gazebo/pull/398

[2020-03-27 11:03] bavokn commented on #14436
Using xarco files worked , thank you !

[2020-03-27 11:56] #14436 closed

[2020-03-27 13:10] PetervdPerk-NXP opened #14500 "RDDRONE-UAVCAN146 Link order issue"
When enabling NuttX buttons and leds I get the following linker error

[code]

I can solve this manually by re-ordering LINK_LIBRARIES in the build/build.ninja file, however this file is dynamically generated.

This problem is caused by libdrivers.a searching for symbols located in libdrivers_board.a. by re-arranging these libraries in the correct order this problem is solved. Unfortunately I'm no

[2020-03-27 13:32] dagar commented on #14500
On the PX4 side of the build the dependencies are (mostly) explicitly handled these days. Where the build touches NuttX it's a bit of a mess. To resolve all the circular dependencies the NuttX libraries are linked with start-group and end-group.

As an initial test try adding `drivers_board` to within the NuttX start-group/end-group here:
https://github.com/PX4/Firmware/blob/e5dd2e7a1929f1cdadc76f

[2020-03-27 13:44] PetervdPerk-NXP commented on #14500
By adding `drivers_board` within the NuttX start-group/end-group it will compile/link successfully
[code]

[2020-03-27 14:29] dagar commented on #14500
Great, if you want to make the change upstream we could also try adding it as an explicit `nuttx_drivers` linking dependency.

https://github.com/PX4/Firmware/blob/e5dd2e7a1929f1cdadc76f4f3de68a73296a72ad/platforms/nuttx/CMakeLists.txt#L93-L97

[2020-03-27 14:29] #14500 closed

[2020-03-27 17:06] dagar opened #14503 "px4_fmu-v3 (and probably others) bogus differential_pressure and airspeed publication"
Likely a bug in the analog airspeed handling.

[2020-03-27 17:26] mhkabir commented on #14503
I wonder if this is why we've seen "Airspeed check bit" errors from EKF2 on a multirotor recently...

[2020-03-27 17:28] dagar commented on #14503
Which board?

[2020-03-27 17:29] mhkabir commented on #14503
fmu-v5

[2020-03-27 17:38] bys1123 commented on #14361
![image](https://user-images.githubusercontent.com/4748411/77784022-cc1aca80-7094-11ea-9abc-c17df2a80184.png)
@julianoes

[2020-03-27 17:59] rolandash opened #14505 "lsm303d & l3gd20 can not calibrate level horizon"
**Describe the bug**
lsm303d & l3gd20 can not be calibrate leveled in single calibration process.
This issue should infect all FCUs have these 2 sensors onboard (>= v1.10).
This issue can only be visible/detected when FCU has only these 2 sensors on-board (or uses these 2 as primary motion sensors?)
This issue does not exist in earlier version of version (<=v1.9).
This issue is not observed with o

[2020-03-27 18:12] dagar commented on #14505
Would you be able to get a log from boot (SDLOG_MODE 2) with an attempted calibration?

Capturing this output from the console might also help.

`sensors status`

`listener sensor_accel`

`listener sensor_gyro`

`work_queue status`

[2020-03-27 18:17] booo commented on #10782
Can someone summarize the current state of implementation?

[2020-03-27 18:35] ashirsat opened #14506 "Error: No module named packaging when using catkin build"
Hi,

I am trying to build PX4 Firmware tags/v1.10.0 on ubuntu 18.04 running ros-melodic.

I am unable to build the package using catkin build.

I have checked that I have installed packaging module from python3.
Any clue on how to resolve this issue?

Thanks

[2020-03-27 18:36] TSC21 commented on #14506
If you are building with catkin then you need Python2.

[2020-03-27 19:20] ashirsat commented on #14506
Hey @TSC21 ,
That solved my issue.

Thanks!!

[2020-03-27 19:20] #14506 closed

[2020-03-27 22:29] eli-IF opened #14509 "u-Blox Neo-M9N GPS support"
**Describe problem solved by the proposed feature**
I ordered an mRo GPS that was listed as supported but it came with an u-Blox Neo-M9N chip and it is not plug and play. I used "gps status" in the mavlink console and it shows that gps status is not ok.

**Describe your preferred solution**
I would prefer to have a plug and play solution for this specific GPS. I assume this requires changing the d

[2020-03-27 22:33] dagar commented on #14509
@bkueng any ideas here?

[2020-03-27 22:33] dagar commented on #14509
@pkocmoud FYI

[2020-03-28 00:23] nicht762 commented on #14387
No, nothing else running in /dev/ttyS1. Mavlink is stopped anywhere.
I tried to compile later versions, but they did not work on my Pixhawk.
Maybe I'm doing something wrong.

[2020-03-28 00:29] pkocmoud commented on #14509
Form Jordi:
So M9N doesn't support the UBX->SOL message anymore.
The new message that has to be enabled is the UBX->PVT

[2020-03-28 01:18] dakejahl commented on #14493
This sounds likes a QGC feature request
https://github.com/mavlink/qgroundcontrol

[2020-03-28 01:27] dakejahl commented on #14488
You can start the app manually via the console, if it's just a developer convenience issue you're trying to solve.

Currently this driver doesn't support multiple instances, but if it did, then we would need to consider adding support for hotswap capability for BQ devices.

[2020-03-28 03:51] yefeng93 opened #14511 "Questions about the algorithm of ekf2 in Px4 firmware"
I have a question about the ekf2 algorithm in Px4 firmware, that is, what measurement is used to fuse pitch and roll attitude in ekf2. For example, the previous EKF can use accelerometer and gyroscope fusion to output pitch roll attitude, but there is no accelerometer involved in the fusion in ekf2.

[2020-03-28 06:51] rolandash commented on #14505
@dagar log below as you requested.

**Update**
I have tested that disabling other sensor's driver is equivalent to physically remove them from board. So if you got a Pixhawk, then you can reproduce it simply by disable other motion sensor's driver and only left lsm303d & l3gd20 there.

[code]

sensors status:
[code]

listener sensor_accel:
[code]

listener sensor_gyro:
[code]

work_queue status:
[

[2020-03-28 09:44] LorenzMeier commented on #14509
@dagar Could you please assign Beat to issues for anything GPS related? We need to get better at assigning and follow up. Thanks!

[2020-03-28 09:48] LorenzMeier commented on #7318
I'm closing this because this is just stale. We need to error on the side of having relevant issues open and actually following up and have not as much fear of loosing information.

Open source projects live and die around active contributors.

[2020-03-28 09:48] #7318 closed

[2020-03-28 10:36] sfuhrer commented on #14350
Hi @mlaiacker , I think this behavior is intended, yes. With a fixed-wing you usually want to fly as much as possible in level flight, and not be continuously climbing/descending. Because level flight should be the state that's optimized for most range/flight time.
Nevertheless, I see your point, that in hilly terrain where you want to perform some sort of terrain tracking, a straight line trackin

[2020-03-28 13:09] kuiskas commented on #14493
I tought to request it on QGC, but any user could access to the parameter with an older firmware version.

[2020-03-28 14:12] CarlOlsson commented on #14511
Hi!
The IMU data is considered inputs in EKF2 so you are right, accelerometer and gyroscope data is not fused as measurements, but it is still used to infer the attitude of the vehicle (in combination with all other sensors)
If you have any more questions don't hesitate to ask on the [forum](https://discuss.px4.io/)

[2020-03-28 14:12] #14511 closed

[2020-03-28 15:47] dagar opened #14513 "pause PreFlightCheck during sensor calibration"
[code]

[2020-03-28 15:53] TSC21 commented on #14336
Solved in #14510.

[2020-03-28 17:19] mlaiacker commented on #14350
I have implemented a solution where where it will do line tracking in mission mode when switching to mission mode or change the active waypoint. It will allays do it like that. Maybe it could be enabled by (yet another) parameter.

[2020-03-29 03:38] pradhannihar opened #14516 "Threads not found"
I am trying to include a TensorFlow compiled file of my model, into px4. The compiled fill uses google's absl library which further uses Threads lib. While everything works fine for SITL, I am getting "Thread not found" error during building the code for fmu-v3.

[2020-03-29 11:14] sfuhrer commented on #14350
Cool, feel free to make a PR if you'd like to upstream it!

[2020-03-29 20:02] dagar opened #14521 "ms5611 -T 5607 incorrect detection on fmu-v2 (intermittent?)"
Something I noticed during testing, more info coming.

[code]

[2020-03-29 20:18] dagar opened #14522 "fmu-v3 secondary baro missing"

[2020-03-29 21:59] hamishwillee commented on #10782
@booo I'm pretty sure this is complete - done in another PR: https://docs.px4.io/master/en/config/motors.html

@bkueng Can this be closed?

[2020-03-30 02:34] kashishdhal commented on #13567
Hello @julianoes ,

I did what was suggested and additionally removed python stuff from /usr/.local. However, make still fails with following error:

<pre>ccache: error: Failed to create temporary file for /home/gnclab/.ccache/tmp/tmp.cpp_stderr: Permission denied
</pre>

[2020-03-30 05:19] hamishwillee commented on #14277
@julianoes Who is the right person to help progress this one?

[2020-03-30 09:16] bkueng commented on #10782
Yes closing, but would be nice to have the AUX pins as well.

[2020-03-30 09:16] #10782 closed

[2020-03-30 11:31] bresch commented on #13788
There have been a ton of improvements since v1.7 and this issue isn't relevant anymore, please reopen if the issue is still present for you on the latest version.

[2020-03-30 11:31] #13788 closed

[2020-03-30 13:44] dagar opened #14526 "I2CSPIDriverBase allowing multiple instances to start"
It appears to be possible to start multiple instances of certain drivers (I2CSPIDriverBase).

For example on a pixhawk 4 that only has a single ist8310 (no gps/compass attached).

[code]

[2020-03-30 13:52] SalimTerryLi commented on #14526
I've run into that as well. The solution could be [here](https://github.com/PX4/Firmware/pull/14437/commits/d7f11ad43cf9a5d3332ee116a8ac55c1152d5e18)
Compared to [here](https://github.com/PX4/Firmware/blob/a38d4192ab6b9a3aae2d66fc2972ca7fa8c353a2/src/drivers/magnetometer/ist8310/ist8310.cpp#L339-L341)
Please let me know whether this is correct or not. It works.

[2020-03-30 14:00] MaEtUgR commented on #14158
It's enough to switch to the radio tab in QGC to send out such a command and trigger this warning.

[2020-03-30 14:26] julianoes commented on #13743
@dagar I was digging into this a bit because I'm convinced it should be fixable.
However, now I found that the two files below are both used and I'm wondering if that's on purpose?

https://github.com/PX4/Firmware/blob/master/platforms/nuttx/NuttX/CMakeLists.txt
https://github.com/PX4/Firmware/blob/master/platforms/nuttx/cmake/init.cmake

[2020-03-30 14:27] MaEtUgR opened #14527 "Arming State Machine unexpected cases "Transition denied:""
**Describe the bug**
The arming state machine
https://github.com/PX4/Firmware/blob/73f7243bc8350664864685d1a0adbeaaa2f2c5e5/src/modules/commander/state_machine_helper.cpp#L59-L73
is working and unit tested but in some use cases the state machine can get called with illegal transitions and the user is presented with an unexpected message saying "Transition denied:" from
https://github.com/PX4/Firmw

[2020-03-30 14:28] MaEtUgR commented on #14158
It's reproducable in SITL by opening the Radio tab see https://github.com/PX4/Firmware/issues/14527

[2020-03-30 14:30] bkueng commented on #14526
@SalimTerryLi indeed, you're correct. Did you find more of these?
https://github.com/PX4/Firmware/pull/14528

[2020-03-30 14:41] SalimTerryLi commented on #14526
Sorry but I haven't done such work. We should do a complete inspection.

[2020-03-30 14:43] julianoes commented on #14361
Seems like the IO fails to connect. Can you try to boot it up while keeping the safety button pressed to force an IO update?

[2020-03-30 14:58] julianoes commented on #14516
I would argue that's not really an "issue" as such with PX4 code. It's more that you are trying to add functionality and you ran into problems doing so.

I suggest to ask questions like this in the forum: discuss.px4.io. And when you do so, please add some more information, such as the console output, and also check where this "thread check" happens in the code that you added.

[2020-03-30 14:58] #14516 closed

[2020-03-30 15:09] dagar commented on #13743
Yes it's on purpose. At configure time we need to copy NuttX into the build directory and inflate the compressed defconfig so that the flags can be available to cmake.

Example: https://github.com/PX4/Firmware/blob/73f7243bc8350664864685d1a0adbeaaa2f2c5e5/platforms/nuttx/cmake/px4_impl_os.cmake#L79

At configure time these steps are done with execute_process(). Then we also want to catch any chang

[2020-03-30 15:20] julianoes commented on #14277
You? Or the question asker? Not me probably.

[2020-03-30 15:21] julianoes commented on #13567
Did you do a `make clean` And can you paste the whole build output?

[2020-03-30 15:34] vwueest commented on #14189
@shrit thanks for your answer. I tried checking out the old commit as you suggested. The problem is that we need px4>=v1.10.0, because we control the plane offboard and that was not working properly for fixed wings before v1.10.0.
When i checkout Gazebo_SITL it is not compatible with any of those px4 versions. @julianoes, @shrit do you know if this issue is still being looked at? We would highly a

[2020-03-30 17:09] dayjaby commented on #14369
There are already the correct mavlink streams available.

You can enable them, e.g. by adding this line to etc/extras.txt (see https://dev.px4.io/v1.10/en/concept/system_startup.html)

[code]
ACTUATOR_CONTROL_TARGET1 is not built by default. Make sure to duplicate the line https://github.com/PX4/Firmware/blob/536cd6cb1af68e3b48f310a0b42b77faf974e4e1/src/modules/mavlink/mavlink_messages.cpp#L5200 a

[2020-03-30 17:51] rolandash commented on #14505
@dagar I need to add an update from my testings, might be helpful:
Under v1.11.0 mpu6500 seems also have the same behavior as lsm303d & l3gd20. mpu6k works good.
Under v1.10.0 I use my previous PR of 9250 driver for mpu6500 and it works just fine.
So seems like a reasonable guess that there's something not right with the new driver.

[2020-03-30 18:46] RomanBapst commented on #14466
@NicoNelli So is there still an issue or can we keep this closed?

[2020-03-30 18:56] shrit commented on #14189
@vwueest You are welcome.
Actually, I do not have a clear idea of why this issue is happening in the first place. I am also concerned with this issue since it is affecting quadrotors. Let us see what @julianoes thinks about it.
The issue is more clear if you run long simulations for about 5 to 10 hours, or for several days.
I have also noticed the same thing in this video, it should be similar to

[2020-03-30 19:27] pkocmoud commented on #14354
@dagar @davids5 - is there anything I can do to help push this along? Almost daily users are asking to use this board with PX4.

[2020-03-30 19:55] #14526 closed

[2020-03-30 20:02] kashishdhal commented on #13567
Here is the whole build output:

<pre><font color="#8AE234"><b>gnclab@system76-pc</b></font>:<font color="#729FCF"><b>~/src/Firmware</b></font>$ make px4_fmu-v4_default
[15/1152] Generating nuttx/fs/libfs.a
FAILED: NuttX/nuttx/fs/libfs.a
cd /home/gnclab/src/Firmware/build/px4_fmu-v4_default/NuttX/nuttx &amp;&amp; find fs -type f -name *.o -delete &amp;&amp; make -C fs --quiet --no-print-directory

[2020-03-30 21:13] hamishwillee commented on #14277
@0xF0F0F0F0 Are you still interested in this? If so I can apply my brain to it shortly.

[2020-03-30 21:21] hamishwillee commented on #10782
@bkueng Create a separate issue to track that? Or is that just going to end up stale?

[2020-03-30 22:33] #14369 closed

[2020-03-31 00:22] kashishdhal commented on #13567
Hello @julianoes ,

It worked this time! Thanks for the help!

[2020-03-31 03:32] kashishdhal commented on #13567
Hello @julianoes,

Since I am able to build the firmware now, I would like to know that what is the easiest way to get started to play with firmware files to edit them for my desired missions. I would like to learn the whole architecture so that I can edit the firmware when needed.

Also, I am running into another issue since last one month. I am trying to push the VICON data through /mavros/visio

[2020-03-31 06:48] mjsky97 opened #14541 "ERROR when make px4_sitl_default gazebo"
Hello, i'm just installed ROS kinetic and cloned PX4 Frimware
I already checked 'make px4_sitl_default' command work well
but I try to this with gazebo option, the error causes.

I'm using Ubuntu 16.04 LTS 64 bits, and ROS kinetic and I'm really want to solve this problem
[code]

[2020-03-31 07:08] bkueng commented on #10782
Yes I think it would.

[2020-03-31 07:12] julianoes commented on #14541
[code]

https://github.com/PX4/Firmware/blob/d609639367eaecb59dcb322493235a8c552c4e03/Tools/setup/ubuntu.sh#L190-L196

[2020-03-31 07:12] #14541 closed

[2020-03-31 07:13] julianoes commented on #13567
Please don't add to an issue.
And for questions ask in discuss.px4.io.

[2020-03-31 07:17] mjsky97 commented on #14541
Thank you for your help :-)

[2020-03-31 07:19] julianoes commented on #14189
I'm currently not looking at that. I want to but it's not as urgent as everything else :confused:, at least for me.

And I haven't done that sort of debugging before. I would start with doing some profiling. First profile it for 1 minute and safe the callgrind data. Then profile it for 15 mins and save the callgrind data and then compare it and check what increased.

[2020-03-31 07:28] julianoes opened #14542 "MAVSDK test timeout error"
Sometimes in CI a timeout happens which then keeps the tester script busy for 3 hours until finally GitHub kills it.

[code]

[2020-03-31 07:28] julianoes commented on #13884
These have been fixed in the meantime.

[2020-03-31 07:28] #13884 closed

[2020-03-31 07:31] NicoNelli commented on #14466
@RomanBapst there is still the issue.
Maybe I did not explain it in a very good way but the spikes that can be seen in the RTL channel actually were triggered by me. During a flight test, I called the RTL and the drone started going back and when it reached the landing point, it descended for ~ two meters and it drifted. I retriggered again the RTL and same behaviour. The third time I triggered th

[2020-03-31 09:17] julianoes commented on #13743
I see. I would think the copying needs to happen when a file changes and not at configure time, and that's probably partly where this issue comes from.

[2020-03-31 09:30] jarivanewijk commented on #11282
Sorry that it took me so long to get back to this, @davids5 - No, it was an old bootloader. We were still using the bootloader from May 2019, because of https://github.com/PX4/Bootloader/issues/149 - It was fixed in November, but I forgot to test it and update the bootloader binary that we were distributing.

With the latest bootloader and firmware I have no issues. Sorry for the inconvenience!

[2020-03-31 09:34] jarivanewijk commented on #14325
@dagar @LorenzMeier Did I misunderstand that there was already a fix for this issue? #14351 was closed without merging.

[2020-03-31 09:38] jarivanewijk commented on #11993
@igalloway @KatrinMoritz - Is this still something we want to merge into PX4 eventually? Otherwise this issue can be closed.

[2020-03-31 09:46] jarivanewijk commented on #11282
I was too quick. It works fine with latest master firmware, but with latest stable (1.10.1) it still hangs after the bootloader (RGB LED remains white). @davids5

[2020-03-31 09:51] julianoes commented on #14541
@mjsky97 no worries!

[2020-03-31 10:21] #14465 closed

[2020-03-31 10:56] spyvel commented on #10677
Hello everyone.

I am also trying to get a dodecarotor running with px4. The bottom rotors won't spin. I am new to all this but during my tries I noticed a couple of things which seem weird and may help someone who is more experienced with the firmware code.

In QGC Mavlink console, I typed the command:

pwm info -d /dev/pwm_output1

the response was:

device: /dev/pwm_output1
WARN  [fmu] warning:

[2020-03-31 11:48] davids5 commented on #14325
@jarivanewijk - i believe this was a misunderstanding that the Nuttx driver for the K66 supported DMA on the lpuart. It does not.  I will need to look at what is involved in adding it.

[2020-03-31 11:51] davids5 commented on #11282
Thank you @jarivanewijk  for retesting. Given the 1.11 is to be released soon, I would say it is good this is documented and will be resolved in the new release.

[2020-03-31 11:57] davids5 commented on #13743
@julianoes - So the complete copy is in the configure?

think any change in nuttx-config to needs force the configure and do a copy of the changed files.

This covers defconfig cases that change the configure step and file changes that effect the NuttX build.

[2020-03-31 12:03] #14243 closed

[2020-03-31 12:37] #14542 closed

[2020-03-31 13:03] kaklik commented on #10425
FYI: https://github.com/PX4/Firmware/pull/14539

[2020-03-31 15:06] JacobCrabill opened #14547 "fmu-v4_cannode stuck in boot loop"
Sometime recently the cannode build target for the Pixracer (fmu-v4) was broken.  It will boot, but upon connecting a Zubax Babel board to the CAN port, the Babel will show that the cannode gets stuck in an infinite reboot loop.  It will briefly show up as initializing, then power off and disappear from the UAVCAN GUI, show up again as initializing, etc.

This commit still works: [pull/14444/d14fc

[2020-03-31 15:26] dagar commented on #13743
It has to be copied initial at configure time for NuttX to do its own configuration, then the dependencies have to be in place to recopy and reconfigure as needed for incremental changes.

It's this relatively long chain of dependencies where things are breaking down (https://samthursfield.wordpress.com/2015/11/21/cmake-dependencies-between-targets-and-files-and-custom-commands/). I need to refres

[2020-03-31 16:42] kashishdhal commented on #13567
Okay thanks @julianoes

[2020-03-31 18:27] dakejahl commented on #14547
Can you describe your test setup? I just tested this on a Pixracer with a GPS attached and everything works as expected.

[2020-03-31 18:34] JacobCrabill commented on #14547
Hmm.  Using commit [2b82b471](https://github.com/PX4/Firmware/commit/2b82b471c1ec4baf9fa4aeacb6788bf0109c1db4)? I'll give that another try.

[2020-03-31 18:35] dakejahl commented on #14547
Yup whatever the latest commit is

[2020-03-31 18:43] JacobCrabill commented on #14547
Still doesn't work for me; I just get this in the UAVCAN GUI when connected to a Babel:
![image](https://user-images.githubusercontent.com/5885545/78063063-7409ef80-7344-11ea-9fd4-9c57458a97e4.png)

It stays in the "INITIALIZATION" mode for a second or two then goes away.  And now after a few minutes, it's no longer rebooting itself at all is doesn't appear on the CAN bus at all.

Using an mRoboti

[2020-03-31 18:46] JacobCrabill commented on #14547
Oh, interesting.  I removed the micro-USB cable, replug the CAN cable, and now it works 🤔

[2020-03-31 18:48] JacobCrabill commented on #14547
Somewhere the handling of USB power on this must have changed.  All of my prior testing has been with just leaving the USB cord plugged in.

At any rate, it's looking good now!
![image](https://user-images.githubusercontent.com/5885545/78063749-8b95a800-7345-11ea-9798-871c6dafce8c.png)

[2020-03-31 18:48] dakejahl commented on #14547
Do you have a FTDI to hook into the console? The USB cable being plugged in should make no difference, I've got mine plugged in with a USB as well.

[2020-03-31 18:49] JacobCrabill commented on #14547
I do; which connector/pins expose the console on the Pixracer?

[2020-03-31 18:50] dakejahl commented on #14547
It's part of the pixhawk debug port
https://dev.px4.io/v1.9.0/en/debug/system_console.html

[2020-03-31 18:56] JacobCrabill commented on #14547
Ah, I see it.  I have a DroneCode Probe; I'll give that a try later when I have time.

[2020-03-31 20:48] dagar opened #14553 "Add WorkItem priority mechanism"
1. optional priority at callback registration time
     - example: 2 work items running in the same queue scheduled on publications from the same source. Which do you want to run first?
      - todo: add priority and sort uORB::Devicenode callback list by priority
 2. optional priority for ScheduleNow()
     - example: sensor's data ready interrupt triggers and you want to schedule the WorkItem im

[2020-03-31 21:45] Bionic-Sock opened #14554 "Problem when running 'make px4_sitl jmavsim' error when generating uORB topic headers FAILED:"
Hello! I'm really new to all this and I could use some help. Thank you very much in advance.

I'm using Ubuntu 18.04 and am having a huge problem when I try to run '_make px4_sitl jmavsim_'.

I followed these instructions:
 [https://dev.px4.io/v1.9.0/en/setup/building_px4.html]

I've also installed Qground control with no problem and followed the steps for the development toolchain here:
[https://

[2020-04-01 04:13] bys1123 commented on #14361
@julianoes It works, is this normal? or maybe need some change in code?

[2020-04-01 08:06] KatrinMoritz commented on #11993
Yes, we want this. And I will do this PR soon.

[2020-04-01 08:31] julianoes commented on #14361
@bys1123 so now it works? No it's not normal, it shouldn't happen :confused:.

[2020-04-01 08:33] julianoes commented on #14554
[code]

Try: `pip3 install --user packaging`.

[2020-04-01 08:41] bys1123 commented on #14361
@julianoes Yes, keep press safety button on bootup will work. if not , autopilot will not bootup after firmware flash.

[2020-04-01 09:42] #14554 closed

[2020-04-01 09:48] rligocki commented on #13538
First pull request for mavlink repository (https://github.com/mavlink/mavlink/pull/1333). I would like to add CERTIFICATE message into mavlink repository. These is my first pull request into public repository. Hurrey !!!

[2020-04-01 09:56] bys1123 commented on #13538
Pixhawk 2.1 now changed name to CubePilot Black

[2020-04-01 10:06] rligocki commented on #13538
Ok ... I will change it in my thesis.

[2020-04-01 10:34] liganggg opened #14558 "the breathe led did not work during uavcan enable　"
firmware version 1.10.2 ,hardware fmuv5-nano

when i set param UAVCAN_ENABLE = 1,then reboot vehicle ,the breathe led did not work.
and in other case,reset param to zero, led is normal. but after “uavcan start” in nsh,　the led off immediately.

thanks~

[2020-04-01 11:25] julianoes commented on #14558
FYI @pavel-kirienko

[2020-04-01 11:27] julianoes commented on #14361
Ok, so even after it has once flashed correctly. Odd. Is that only the case with this hardware or can you reproduce with other hardware as well?

I can try to reproduce with my old Pixhawk here, not sure if that would be the same.

[2020-04-01 11:33] julianoes commented on #13743
I was exactly looking for such dependency problems and I could not even see anything wrong, at least in https://github.com/PX4/Firmware/blob/master/platforms/nuttx/NuttX/CMakeLists.txt but somehow nothing really had an effect.

I'm planning to look more in-depth at all the pieces to understand it and then I'm hoping to be able to boil it down to where it fails, maybe something for the weekend...

[2020-04-01 11:37] bresch commented on #12204
![2020-04-01_13-35-20_01_plot](https://user-images.githubusercontent.com/14822839/78132808-a76c7d00-741d-11ea-9d48-6e11cc39a332.png)
All the required conditions were good: eph, epv, condition_global_position_valid, condition_local_position so the only one that could have failed is the home position publisher.

We didn't see the issue since then so I this this got fixed. I'm closing it now, we can

[2020-04-01 11:37] #12204 closed

[2020-04-01 11:41] bresch commented on #13510
I'm closing as there are no further activities in this issue and that it isn't directly related to PX4. @gyronikeleg please post an update if the issue is solved.

[2020-04-01 11:47] bresch opened #14559 "Magless operation improvements"
Magnetometer-less GPS fusion is now possible thanks to the INS/GNSS yaw estimation provided by the yaw EKF-GSF filter introduced in https://github.com/PX4/ecl/pull/770 (Firmware PR: https://github.com/PX4/Firmware/pull/14162).

The general functionality is there and works properly but a few points are still to be improved (https://github.com/PX4/Firmware/pull/14162#issuecomment-607149388):
- [x] S

[2020-04-01 11:52] bys1123 commented on #14361
reproduced on lots of fmuv3

[2020-04-01 12:35] bys1123 commented on #14361
Also get few report say 1.10.1 can running on their 3DR Pixhawk mini

[2020-04-01 12:45] pavel-kirienko commented on #14558
Let's give your boot logs a look, I suppose.

[2020-04-01 12:48] ChenXL765 commented on #13829
hi, I think I had the same problem as you, so i want to know how did you solve it. Thank you very much!

[2020-04-01 14:11] MaEtUgR commented on #14559
The second point would require to find a good solution for https://github.com/PX4/Firmware/pull/14224

[2020-04-01 15:35] MaEtUgR commented on #10677
@spyvel That analysis is very useful. From the dev call today I have the impression that this issue is related to #14116 . Unfortunately I don't have the debugger in my quarantine to check but there might be a way to get the necessary output to the FMU and print it.

[2020-04-01 18:16] rolandash opened #14566 "Get trapped into "dangerously low battery and SHUTDOWN" status"
**Describe the bug**
Get trapped in "dangerously low battery and SHUTDOWN" status, due to missing usb connected detection in commander battery status check (>= v1.10).

Some functions has been rewrite in Commander.cpp since last year. Battery status check lines has been gathered into a separate function battery_status_check(). And shutdown_if_allowed() is added to provide some kind of another safe

[2020-04-01 21:22] Bionic-Sock commented on #14554
You're the man. Thanks a bunch. I also found I had to run the ubuntu.sh script that helped everything.

[2020-04-02 01:51] liganggg commented on #14558
`nsh> reboot
WARN  [shutdown] Reboot NOW.
[boot] Rev 0x0 : Ver 0x6 V560
[boot] Fault Log info File No 4 Length 3177 flags:0x01 state:1
[boot] Fault Log is Armed
sercon: Registering CDC/ACM serial driver
sercon: Successfully registered the CDC/ACM serial driver
HW arch: PX4_FMU_V5
HW type: V560
HW version: 0x00000006
HW revision: 0x00000000
FW git-hash: 1d6c8a439dfebdf397e0acc5917979acc321b858
FW v

[2020-04-02 02:08] liganggg commented on #14558
[cmp1.txt](https://github.com/PX4/Firmware/files/4418523/cmp1.txt)

[2020-04-02 04:07] JacobCrabill commented on #14547
Well I rebased @dakejahl's airspeed branch on top of master (actually this branch here: https://github.com/volans-i/Firmware/tree/pr-uavcan-airspeed) and it all works now 🤷‍♂️
![image](https://user-images.githubusercontent.com/5885545/78208335-f8e62d80-7458-11ea-9981-edcab8f5e92d.png)

[2020-04-02 04:07] #14547 closed

[2020-04-02 05:26] rolandash commented on #14566
this may also fix #14527 @MaEtUgR

[2020-04-02 07:17] DavidBSaba commented on #14464
Thank you @julianoes. I passed to version 1.10.1.
The external magnetometer is working fine

[2020-04-02 07:57] julianoes commented on #14464
Nice thanks for the feedback @DavidBSaba

[2020-04-02 07:57] #14464 closed

[2020-04-02 08:15] DavidBSaba opened #14569 "yaw setpoint in Alticontrol for a tailsitter"
Hello

I am facing a problem with setting a desired yaw angle in Alticontrol for a tailsitter.
I am using PX4 version 1.10.1 and simulating the result in Gazebo9.The drone is a tailsitter type.

The yaw setpoint is needed to be set in the file tailsitter.cpp. The reason is that we need some VTOL status to trigger the yaw setpoint.
In order to clarify the problem, I will type a simplified code impl

[2020-04-02 08:28] FaboNo commented on #11955
@Jaeyoung-Lim Is it possible to know the progress of the R1 integration in gazebo? Indeed because of the "situation", all of us are remotely working and thus I will investigate the simulation in order to move forward.  So I will test the L1 controller in simulation.
One more question, I guess that if PX4 is correctly configured the "wiring" with R1 motors is done automatically?
Thank you

[2020-04-02 12:55] Jaeyoung-Lim commented on #11955
@FaboNo Currently there is not much progress, please feel free to move it forward. Currently the wiriing is already done with this PR. It's just with the current configuration of contact parameters the vehicle does not turn

[2020-04-02 13:59] FaboNo commented on #11955
@Jaeyoung-Lim oh I see but when I look at the video from @weiLiangHare looks like it can turn no? I will take the sdf file from @weiLiangHare  and do some tests.

[2020-04-02 14:01] MaEtUgR opened #14576 "Goto/reposition needs to be its own mode and not execute in Hold"
**Describe problem solved by the proposed feature**
As brought up many times before it's undesirable to have the vehicle fly away from it's current position in hold mode and goto/reposition commands https://mavlink.io/en/messages/common.html#MAV_CMD_DO_REPOSITION should get executed in a goto mode and not in Hold mode. This allows dedicating Hold/Loiter mode to pausing what was done before and wai

[2020-04-02 14:04] MaEtUgR commented on #12544
This was recently brought up in slack again and there was the idea to use `DO_REPOSITION` with coordinates set to NAN to command a stop. Using the existing pause command would probably be even more desired.

[2020-04-02 14:10] bresch commented on #14576
Yes, I totally agree. If we do that, hold can send zero velocities and NAN position in the triplet, and the drone will stop nicely, without overshoot.

[2020-04-02 14:21] MaEtUgR commented on #14576
To the trajectory generation not the position controller right? Because the trajectory generator takes care to not dirft, the position controller will not do more than integral control and still drift over time.

[2020-04-02 14:50] FaboNo opened #14577 "compile PX4 master on ubuntu 16.04: error: ‘Q_WS_MAC’ was not declared in this scope"
**Describe the bug**
I cloned the master branch, enter make px4_sitl gazebo and got the following error
excerpt from build/px4_sitl_default/build_gazebo/CMakeFiles/CMakeError.log :

[code]
Someone can tell me what is going wrong?
Thank you

[2020-04-02 14:54] dagar opened #14578 "board support i2c improvements"
The recent i2c/spi driver changes and corresponding board level support has been a solid step forward, but one small thing we've lost is the configuration of on board I2C devices. In many cases the I2C address is a board specific configuration that shouldn't be pushed out to the driver.

Similar to px4_spi_buses (hierarchical configuration of SPI devices per bus) should we add something similar fo

[2020-04-02 14:55] dagar commented on #14578
@davids5 any thing you'd like to see here?

[2020-04-02 15:09] dagar commented on #14576
I also agree, but keep in mind it might be a little tricky to get this changed cleanly everywhere. At the moment we're dependent on `px4_custom_mode.h` being manually deployed/copied everywhere and I don't believe there's any real capability check at the mavlink level for this.

 - PX4: https://github.com/PX4/Firmware/blob/master/src/modules/commander/px4_custom_mode.h
 - QGC: https://github.com/m

[2020-04-02 15:21] DonLakeFlyer commented on #14576
So I was wrong about how I implement actually pausing the vehicle in QGC with PX4 Firmware. It does this:
[code]
QGC doesn't not specifically put the vehicle in Hold flight mode for Pause, the firmware does. I wrote this code ages ago, I vaguely remember some issue that this allow Pause to work in more cases than changing flight mode to Hold. But my memory may be incorrect.

The current problem is

[2020-04-02 15:22] pkocmoud commented on #14354
An update - I2C is fixed, just waiting on the ICM20948 driver to be completed and tested.

[2020-04-02 15:39] davids5 commented on #14578
At first blush we would assume the bus carries the external/external but I think we need to add it to the device.
Yes bus, enternal/external;, address, max clock, and pehaps max message size

max clock - min of all the max clock is the bus freq used.
max message size could be used for bandwidth calkc at the actual bus freq used

[2020-04-02 15:39] davids5 commented on #14578
and maybe drdry?

[2020-04-02 15:52] Thijs---- opened #14579 "[uorb] sensor_mag advertise failed (5)"
**Describe the bug**
On the Pixhawk cube, the ULog file is full off these logged messages: "[uorb] sensor_mag advertise failed (5)"

**To Reproduce**
Steps to reproduce the behavior:
1. Upload the latest stable PX4 firmware (v1.10.1)
2. Boot UAV and start logging (via shell "logger on")
3. Stop logging after a short time ("logger stop")
4. Open ULog, see messages

**Expected behavior**
There shoul

[2020-04-02 16:13] pavel-kirienko commented on #14558
I don't see anything wrong in the log. Can you please ensure that there is no peripheral that is shared between UAVCAN and the LED in FMUv5-nano? If there doesn't seem to be any, consider stepping through UAVCAN initialization, perhaps, or maybe disable parts of the UAVCAN driver to see if it affects the LED.

[2020-04-02 16:36] dagar commented on #14354
New icm20948 driver support. https://github.com/PX4/Firmware/pull/14567

The IMU side was working, but broken at the moment as I work on enabling the AK09916 properly.

[2020-04-02 16:37] TSC21 opened #14580 "Validate builds over GNU ARM GCC Toolchain 9"
Following https://github.com/PX4/Firmware/pull/14159, we need to validate the generated binaries in some flights. We can rather provide the binaries or provide instructions on how to install the new toolchain so they can be generated locally,

@PX4/testflights what is the best way to proceed here?

Thank you!

@MaEtUgR @dagar @LorenzMeier FYI

[2020-04-02 16:38] dagar commented on #14578
I'm not sure what you mean, can you expand on this?

[2020-04-02 17:10] dagar commented on #14579
At the moment the system only supports 4 mags, although it could be increased if actually needed.

In your log I see 5.
 - mpu9250 x 2 (internal)
 - lsm303d (internal)
 - hmc5883 (external mag)
 - ak09916 (external mag)

In the future we're considering not even enabling the mpu9250 mags by default. They don't work that well internally and having the mag enabled messes with the sampling rate of the

[2020-04-02 17:12] dagar commented on #14578
Yes, at the moment we have `spi_drdy_gpio_t`, but there are a few cases where we might as well use them for an I2C device as well.

[2020-04-02 17:57] Jaeyoung-Lim commented on #11955
@FaboNo That would be a lot of help, thanks!

[2020-04-02 18:05] davids5 commented on #14578
Rephrased: At first blush we would assume the bus carries the internal/external attribute.

I have seen HW were a bus goes to device on board (Address A) and on to a connector connected to  same device (Address B) that is off board that forms the system.

So even if the connector exist for a bus it does not mean say a mag on that bus is external.

[2020-04-02 19:20] dagar commented on #14578
Ok, so a few come to mind like the nxphlite, omnibus, kakute, and probably others. I think we'd actually be in a good position to handle this as is with the external() check on the interface (I2C class). At the board level we could have internal/external/mixed bus. In the mixed case the internal sensors would be marked and I2C interface external() could check the board's special cases.

[2020-04-02 21:07] hamishwillee commented on #14576
Yes.

More generic that just a goto mode because we'd also do Orbit in this context. I believe QGC uses the (internal) concept of Guided mode, meaning guided by QGC.

[2020-04-02 22:16] hamishwillee commented on #12544
@MaEtUgR @DonLakeFlyer et al

Using the existing pause message would be **much more desired**. Why don't we do this?

Regarding [MAV_CMD_DO_REPOSITION](https://mavlink.io/en/messages/common.html#MAV_CMD_DO_REPOSITION) hacks, I'm not opposed to this as well as long as the documentation for the message in common.xml gets updated and everyone adopts the same approach. Is this what is expected to happ

[2020-04-03 06:40] Thijs---- commented on #14579
Hi Dagar,

Thanks for the fast and clear answer!

I use the Pixhawk Cube and the here+ gps.
Today I'll check if all these sensors are correctly detected, because did not expect this many mags from only those two devices. If they are correct, I'll disable the mpu9250 mags thanks to your advice.

I'll report my findings here, and will then close the issue.

[2020-04-03 06:46] bkueng commented on #14578
Yes it's something I considered adding as well. That way we we also know which devices have to be present.

Makes sense.

[2020-04-03 09:14] Thijs---- commented on #14579
Ok, indeed the cube has 2x MPU9250 and 1x LSM303D
I cannot really confirm that hmc5883 and ak09916 are in the here+, but it is possible.

Now I am a bit confused how I should disable both internal mpu9250 and use the three other mags. @dagar , can you point me in the correct direction?

I already thought of two possibilities:
1. Use the CAL_MAGX_EN, but how can I the MAGX_ID of each mag? + If I di

[2020-04-03 10:05] julianoes commented on #14577
Can you paste the full output of `make px4_sitl gazebo` after a `make clean`?

[2020-04-03 10:48] Thijs---- commented on #14579
I see two approaches:
1. disable the start of the two MPU9250 sensor, so in total the system only sees 3 mags = easiest way. Can maybe be achieved by modifying https://github.com/PX4/Firmware/blob/master/boards/px4/fmu-v3/init/rc.board_sensors
2. allow 5 mags, but I think a lot need to change: sensor_mag topic, calibration, ...

Can you help me with one of the approaches, or suggest a better solut

[2020-04-03 11:32] FaboNo commented on #14577
@julianoes
yes sure, here it is:
[code]

[2020-04-03 11:45] xdwgood opened #14588 "[Gazebo][Tailsitter] Drone angle is unstable when fw to mc"
**Describe the bug**
I used the latest mastre branch and performed the gazebo_tailsitter test. I found that when I choose fw to mc, the drone attitude is unstable!

I'm not sure if this is a simulation problem? Or is there a mistake in the recent changes?

**To Reproduce**

1. make px4_sitl gazebo_tailsitter
2. open QGC ,send takeoff
3. switch mc to fw
4. Wait a minute
5. switch fw to mc
6. see un

[2020-04-03 12:23] xdwgood commented on #14569
@DavidBSaba
In the rotor mode, the yaw control of v1.10.1 is actually completed by the fw attitude controller, so it is useless to change the Flighttask

If you want to continue to control the yaw through a parameter, please change it in the fw controller

[2020-04-03 14:29] dagar commented on #14578
Yes, that's exactly what I want to be able to do.

Did you consider carrying any additional board specific sensor configuration in px4_spi_buses like the rotation or max speed?

[2020-04-03 15:11] julianoes commented on #14577
The first error I see is:
[code]
So make sure to have the gstreamer dependencies:
https://github.com/PX4/Firmware/blob/master/Tools/setup/ubuntu.sh#L192-L198

[2020-04-03 15:48] DonLakeFlyer commented on #12544
Do you mean this: MAV_CMD_DO_PAUSE_CONTINUE. First I've seen that. Does it actually work?

[2020-04-04 09:49] FaboNo commented on #14577
@julianoes  ah yes gstreamer1.0-plugins-base was missing and now it compiles from the Firmware directory.
However, if I am doing catkin build from the catkin workspace, I am still facing the following issue:
Starting  >>> px4
[code]
Do you have any idea about how to do?

[2020-04-04 10:19] TSC21 commented on #14577
@FaboNo what version of the Firmware you are building and what do you have on your src dir of the catkin_ws? Just to warn you that if you don't have sitl_gazebo as well at the same level of the Firmware dir in the src folder, you won't be able to use the launch files as you normally do when you build ROS packages inside a catkin_ws and after sourcing devel/setup.bash, unless you manually set paths

[2020-04-04 11:13] FaboNo commented on #14577
@TSC21
I am building master because I would like to test the rover controller and from my undrstanding a running version is available in master.
Under src, I have mavros, Firmware, mavlink, mavcom and other packages.
sitl_gazebo is built in src/Firmware/Tools as "usual" I will say.

So if I understand correctly, sitl_gazebo should be located in src and not in src/Firmware/Tools?

[2020-04-04 11:17] TSC21 commented on #14577
You can leave it in Tools as well, and create a symlink to it from the catkin_ws. "Usual" doesn't mean anything if the build setup by itself is completely different. As I said, using catkin is supported but quite limited.

[2020-04-04 11:20] TSC21 commented on #14577
Also if you want to test the rover you don't need to build the Firmware in a catkin_ws. It's not even the recommended setup considering that we don't fully support catkin (example: the output dirs are not compatible with the ones expected from a ROS package standpoint)

[2020-04-04 12:04] davids5 commented on #13732
@PX4/testflights - @Tony3dr  - please retest with https://github.com/PX4/Firmware/pull/14592
USE USB only (No battery)

Do 20 (Plug in - upload - unplug) cycles on bench. Record results

[2020-04-04 13:39] #13732 closed

[2020-04-04 15:03] shrit commented on #12996
Keep open

[2020-04-04 15:29] shrit opened #14593 "Adding support for Crazyflie 2.1"
Hello

I have tried to flash PX4 on crazyflie 2.1 using Qgroundcontrol.
After installing the new firmware (stable, beta, and the master). Qground control showed a message `Parameters are missing from firmware` with a list of parameters
The vehicle does not seem to answer any command sent by Qground control such as (arm, disarm)
I was not able to calibrate sensors, or turning the motors.
Documentat

[2020-04-04 15:32] TSC21 commented on #14593
@shrit The community is free to provide support to these boards if they are willing to. So that is what I recommend you try to do.

[2020-04-05 12:01] ShubhS28 opened #14595 "Takeoff mode in indoor environment"
I am working to make my pixhawk based multicopters (hexacopter and coaxial octacopter) operate in indoor environment (devoid of GPS) using offboard with ROS. My plan is to automate the entire operation through offboard script, including arming, takeoff, waypoint navigation, and landing.

The arming and waypoint navigation through the offboard script is done, but I also wish to use the Takeoff and

[2020-04-05 12:25] FaboNo commented on #14577
@TSC21 in Firmware there are launch files such as mavros_posix_sitl.launch.  It means that i should be able to run catkin build so that the px4 packahe is recognized as well as the launch files.
but with master, I cannot make it! I still get the error I mentioned before:
[code]
However, if as you said, it is not necessary to build px4 under a catkin workspace to test the rover, what do you suggest

[2020-04-05 12:29] TSC21 commented on #14577
I know that but if you understand what I said before, you will see that these launch files are not installed in a way that they can be used.

Lots of projects build and run PX4 SITL together with ROS without having the project build under a catkin ws. Just build PX4 SITL the default way and then run MAVROS linked with the UDP port of PX4 SITL. If you take a look at the launch files in PX4, you can

[2020-04-05 12:33] TSC21 commented on #14577
@FaboNo a good example of a ROS project that uses PX4 SITL without building it inside a catkin ws is PX4 Avoidance - https://github.com/PX4/avoidance#run-the-avoidance-gazebo-simulation.

[2020-04-05 12:35] TSC21 commented on #14577
I am closing this issue since the initial problem was solved and it diverged to a different subject. Please bring your questions into a topic in discuss.px4.io.

[2020-04-05 12:35] #14577 closed

[2020-04-05 13:14] bys1123 commented on #14595
Here is a flying example: https://www.youtube.com/watch?v=wrqZFTiHyTU
It does not need gps, but need to enable VIO.
https://docs.px4.io/master/en/advanced_config/tuning_the_ecl_ekf.html#external-vision-system

[2020-04-05 17:03] dagar opened #14600 "logger watchdog triggered on FW fmu-v5"
https://logs.px4.io/plot_app?log=b815c6b1-707c-4a9b-bdf3-5bb7f41af758
CPU usage went to 100% shortly after arming due to the logger watchdog triggering.

![Screenshot from 2020-04-05 13-04-37](https://user-images.githubusercontent.com/84712/78504931-0859c500-773e-11ea-9bcb-095914384391.png)

[2020-04-05 17:03] dagar commented on #14600
Unfortunately no post flight top or perf counter output.

[2020-04-05 17:24] dagar commented on #14600
There's top output captured when watchdog triggered, but it's not displayed on flight review (we should add it).

[code]

Something went wrong in the first mavlink instance receive thread.

[2020-04-05 17:26] dagar commented on #14600
Based on the mavlink configuration (only MAV_0_CONFIG set) I believe that first mavlink instance is USB.

[code]

[2020-04-05 17:27] dagar commented on #14600
@MaEtUgR can you confirm if USB was connected or not?
![Screenshot from 2020-04-05 13-26-37](https://user-images.githubusercontent.com/84712/78505380-24129a80-7741-11ea-9f4a-bc5e9c2b29da.png)

[2020-04-05 17:36] dagar commented on #14600
Note for later, re-evaluate `commander` priority. We can structure it such that things like mavlink, logging, gimbal, etc is unable to interfere with the safety critical state machine operation.

![Screenshot from 2020-04-05 13-34-21](https://user-images.githubusercontent.com/84712/78505548-30e3be00-7742-11ea-83a0-1cf5e97a2d20.png)

[2020-04-05 17:40] MaEtUgR commented on #14600
So what I did is try to arm by RC after powering and waiting it didn't even after quite some tries. Then I opened the lid (containing GPS and external mag) and plugged the USB cable which is attached to the JST-GH with a female USB-A to male USB-C to my phone and see what happened in QGC. I tried to arm again and it armed. So I disarmed, unplugged USB, put the lid back and tried to arm without suc

[2020-04-05 17:55] MaEtUgR commented on #14600
When I try to arm it on the bench now it complains about inconsistent compasses and when I force arm it stays within normal CPU load levels <65%. The compass inconsistency is an old problem on this one, I recalibrated them over and over again (with the lid on of course) and they are inconsistent again. I'll probably just disable the internal one to get rid of the error.

[2020-04-05 18:07] dagar commented on #14600
This is a bit of a leap, but so far the removal of the mavlink receiver sleep comes to mind (https://github.com/PX4/Firmware/pull/13764). Something to be aware of when considering possible NuttX USB CDC ACM related issues.

[2020-04-05 18:30] MaEtUgR commented on #14600
I managed to reproduce indoors using the battery: https://logs.px4.io/plot_app?log=0e19ad39-ed6d-4680-95b1-e74184f7cf74

1. I plugged the battery and tried to arm but it didn't, red flashing LED
2. I opened the lid and plugged USB to my phone just like on the field, this time it immediately showed me the messages from the tries before and showed compass inconsistency
3. I tried to arm but it said

[2020-04-05 19:58] MaEtUgR commented on #14600
Doesn't it try to reboot when I unplug USB but when it's armed it's not allowed so 💥 ?

[2020-04-05 21:07] pablomarcel opened #14601 "FAILED: uORB"
**Describe the bug**
Tried to run a simulation using this: make px4_sitl_default jmavsim
and got the errors posted below

**To Reproduce**
Steps to reproduce the behavior:
Using macOS Catalina
1. in terminal: px4_sitl_default jmavsim
2. gets to this line: Build files have been written to: /Users/...
3. then breaks: FAILED: uORB/topics/uORBTopics.hpp...
4. Failed to import em: No module named 'em'.

[2020-04-05 21:10] TSC21 commented on #14601
What doesn't make no sense? It is quite clear what is missing and it even provides you a command to install it (`pip3 install --user empy`).

[2020-04-05 21:10] pablomarcel commented on #14601
it is already installed

[2020-04-05 21:15] TSC21 commented on #14601
There are two possibilities: 1. You have it installed under Python 3 but the build is finding Python 2; 2. You have it installed under Python 2 and the build requires Python 3.
So make sure to run that script again, that `which python` points to Python 3 and that if you grep `em` (or `empy`) you find it installed under the Python3 lib path

[2020-04-05 21:16] TSC21 commented on #14601
There's a big probability that you have a mix between Python libs installed by pip and the ones installed by homebrew.

[2020-04-06 01:05] hamishwillee commented on #12544
Probably not not on PX4, or this issue would be closed. Looks like we do respond to it in PX4 v1.11: https://github.com/PX4/Firmware/commit/509be8208110476e8d875c94af2c3c6c8c175793#

But implementing this is the "right thing to do" from a mavlink perspective (ie this is the command that meets the intention)

[2020-04-06 05:52] pablomarcel commented on #14601
noted

[2020-04-06 08:04] bkueng commented on #14578
Yes, but I went for what we already have via CLI. Either way works for me, just that CLI allows for easier testing and having a longer list of optional arguments does not work well in C++ if you only want to fill in some (C++20 improves this with designated initializers). Using objects with in the form `SPIDevice(DRV_xy).maxFrequency(1000).rotation(YAW90).DRDY(xy)` is an alternative that should wo

[2020-04-06 14:41] julianoes commented on #14361
I've tried stable on a Pixfalcon which is still fmu-v2 and `px4io status` worked for me once I had a airframe selected (quadcopter). `px4io` was not started without a aiframe selected. I'm not sure if that's supposed to be that way or if it's a bug.

[2020-04-06 16:21] mrpollo commented on #12692
@Tony3dr Can you please verify @JacobCrabill comment? it would be great to resolve/close this issue asap.

[2020-04-06 16:29] mrpollo commented on #14381
@hamishwillee agreed, this needs to be resolved, I will chase down the answers and post-back here

[2020-04-06 16:35] mrpollo commented on #14513
is this something we can ask contributors to help with? @dagar

can you provide guidance on how to fix?

[2020-04-06 16:40] mrpollo commented on #14566
@dagar @maetugr any info here? if this is something a contributor from the community can fix it would be useful to lead them to a potential fix

[2020-04-06 16:42] #14600 closed

[2020-04-06 17:56] dannyfpv commented on #14580
tested on pixhawk4 v5 f-450

**Modes Tested**

Position Mode: Good.
Altitude Mode: Good.
Stabilized Mode: Good.
Mission Plan Mode (Automated): Good.
RTL: Good.

**- Procedure**
Arm and Take off in position mode, after flying for approximately one minute, switched to altitude then stabilized mode proceed to switch to mission plan mode then make sure that vehicle follows all waypoints as shown in QG

[2020-04-07 04:24] hamishwillee commented on #14277
Closing. Assume poster has lost interest. Also it is a duplicate. Reopen one of them if you need to do more with this.

[2020-04-07 04:24] #14277 closed

[2020-04-07 10:07] MaEtUgR commented on #14580
I sent @Tony3dr GCC 9 built binaries for the other targets he requested.
I flew an fmu-v5 plane and an omnibus racer myself already and had no related issues so far.

[2020-04-07 15:08] NicolasM0 opened #14612 "imu rotation issue"
**Describe the bug**
The first IMU of my cube black have a bad rotation.

**To Reproduce**
- flash a cube black with master
- (reset all acc off to 0 and scale to 1 and reboot)
- see estimated orientation or sensors measures (my cube was leveled) :
![image](https://user-images.githubusercontent.com/59083163/78683411-890bf300-78ef-11ea-9aee-1b321347a1aa.png)

**Expected behavior**
Acc 0 should meas

[2020-04-07 15:27] dagar commented on #14612
I'm not seeing this on current master (https://github.com/PX4/Firmware/commit/4e0441ab0b9487d3bcd87cdc3373575c0fb1c9f1) or master just before we switched to the new Invensense IMU drivers (https://github.com/PX4/Firmware/commit/7b12a215650935c144c7b58ad731172a17c897d9).

![Screenshot from 2020-04-07 11-20-48](https://user-images.githubusercontent.com/84712/78687731-7cbd7100-78c2-11ea-950a-b7d23aa4

[2020-04-07 16:09] NicolasM0 commented on #14612
ok works now on 4e0441ab0b9487d3bcd87cdc3373575c0fb1c9f1
thank you !
I retried on 4cdc58ce8da43d2b193719982be091929267b4d0 were I was before and still have the issue.
The few commits between these should have fixed that

[2020-04-07 16:09] #14612 closed

[2020-04-07 16:10] NicolasM0 commented on #14612
no not a new cube

[2020-04-07 21:38] bys1123 opened #14615 "[Proposal] Create a new branch for AirSim compatibility"
**Describe problem solved by the proposed feature**

1. The PX4 + AirSim compatibility usually be broken, PX4 is updating so fast, and AirSim can catch it up. So users cannot run it properly. Maybe they running an ancient version with poor features, maybe they just abandon it.

2. Why users need PX4 + AirSim?
a. For an user community it's very useful, lots of beginners wants to run HITL first, to

[2020-04-07 21:48] TSC21 commented on #14615
I don't see where creating a branch specific to Airsim is a solution. The PX4 ecosystem and its tools that are under the maintaince of the core team and being supported by different developers are kept updated when possible. Airsim is not under our maintainance, so its the responsibility of who maintains the Airsim repo and code to keep it up to date to the different changes happening upstream and

[2020-04-07 22:21] bys1123 commented on #14615
Ok, thanks I'll create a fork then.

BTW, I didn't see AirSim maintainers as bad as you sad. Especially ArduPilot can run with AirSim properly now, this is a big thing, as PX4 is a nice vision drone flight stack in past years.
Which means you can't wait other nice AirSim replacement show up recently, but ArduPilot is replacing PX4 on this area.

cc' @LorenzMeier

[2020-04-08 06:42] NicolasM0 commented on #14612
@dagar I am not sure of what you mean by a "new cube"

[2020-04-08 07:09] sbahadirarslan opened #14617 "Exception occurs when trying to initialize BMI055 from rcS in case of no BMI055 on system."
Hello,
I am trying to initialize BMI055 in rcS but there is no BMI055 on mine system. Vector prefetch exception occurs in this case.

I am using nuttx as a OS and processor architecture is armv7-a.

In initialization code of BMI055, first BMI055 added to the hp_default work queue. In here, BMI055 is the first item on the hp_default work queue. Then BMI055 source code initialize the interface(SPI)

[2020-04-08 07:38] TSC21 commented on #14615
@bys1123 I didn't said the maintainers are bad. You misread what I said.
Instead of creating a fork, why don't you propose a PR to the Airsim repo that makes it compatible with the current state of PX4?

[2020-04-08 07:41] TSC21 commented on #14615
Also, I don't think this should be a topic to pick up and compare PX4 and Ardupilot. But I wouldn't also say that one is replacing the other just because Airsim is not being kept up to date with upstream PX4.

[2020-04-08 07:52] hamishwillee commented on #14615
Indeed, on that basis you could argue no one should improve their simulations (with lockstep etc) or core software product because that might break an external simulator.
But as discussed elsewhere, we do need to have CI support for this so that everyone knows when it happens, not long after the fact.

[2020-04-08 07:55] Jaeyoung-Lim commented on #14615
@hamishwillee @TSC21 Just a FYI, I have reported to the airsim repo that it is currently not compatible: https://github.com/microsoft/AirSim/issues/2477

[2020-04-08 08:00] bys1123 commented on #14615
@Jaeyoung-Lim Thanks, this is nice.

[2020-04-08 08:05] bys1123 commented on #14615
![image](https://user-images.githubusercontent.com/4748411/78759565-64c51a80-79b2-11ea-927e-bd2e1ec88230.png)
If don't notice them how they would know to they should change their code to keep up to date.

[2020-04-08 08:14] bys1123 commented on #14615
@hamishwillee CI is a great stuff, but for heavy project like AirSim, is that fit PX4 CI resources?

[2020-04-08 08:14] TSC21 commented on #14615
Not at all. Airsim should be made compatible with PX4. Not PX4 should be made compatible with Airsim. And if there aren't tests running under Airsim CI to keep the comparibility, it is not the responsibility of PX4. We keep maintained and synced the tools that are under our ecosystem. That's is almost as saying that we need to warn everyone that uses PX4 on their own made tools that we did changes

[2020-04-08 08:40] bys1123 commented on #14615
Not to warn everyone, as Microsoft is Gold member of Dronecode, is that the way you treat your partners?
Did anyone in PX4 core team suggest them they should test PX4 master under Airsim CI?
Did PX4 notice your users which is the latest version works with AirSim?

I'm not saying ardupilot is replacing PX4 in AirSim ecosystem, just very clear to see users is switching to ArduPilot, it's all about P

[2020-04-08 08:53] TSC21 commented on #14615
@bys1123 you are completely messing subjects here. Anyway this isn't a discussion to have here and I already spoke with @jinger26 about this subject and there will be a follow up.

It's not about mind reading skills or whatever you call it. It's about open-source projects and integration principles.

No because that's not our role. We don't maintain AirSim under our ecosystem, so we are not suppos

[2020-04-08 09:03] bys1123 commented on #14615
I‘m not talking about running CI and full stack maintaining job PX4 should do.
Just tell users and AirSim team which version is latest supported, and what will you do something break compatibility, that is the way to keep compatibility.

CI is powerful, but not magic.

[2020-04-08 09:05] TSC21 commented on #14615
CI is enough if well implemented. And it's an automatic process. If it fails, then something is wrong ;)

[2020-04-08 09:12] bys1123 commented on #14615
Principles is a dead thing, users is living. As AirSim team will continue doing things in their way, you should do something for your users in minimal support.

[2020-04-08 09:14] LorenzMeier commented on #14615
@bys1123 Hey, really sorry this discussion developed this way. This is not how PX4 is treating it's adopters and partners. I will circle back with @Jaeyoung-Lim to see how we can improve the airsim maintenance situation and will get this fixed. It would be awesome if you could help maintain it.

I will re-open this issue until the core issue you raised is addressed.

[2020-04-08 09:24] TSC21 commented on #14615
@bys1123 I am personally fixing the issue on AirSim. Sorry if anything I said lead you to understand we didn't want to help. I will ping you in the AirSim PR as soon as I raise it. Thanks for raising the issue and offer your help!

[2020-04-08 10:01] TSC21 commented on #14615
@bys1123 fix in https://github.com/microsoft/AirSim/pull/2549.

[2020-04-08 10:08] bys1123 commented on #14615
@LorenzMeier @TSC21 Thanks for explains and all your works, really glad we go to a better track with
AirSim compatibility. I'm glad to keep testing the compatibility and offer my help.

[2020-04-08 13:03] julianoes commented on #14601
Please paste the output of:
[code]

[2020-04-08 14:31] dagar commented on #14612
There's apparently a new version of the Cube black (Cube Black+ ?) that changed the sensors (mpu9250 is end of life), but I don't know the details.

[2020-04-08 14:56] NicolasM0 commented on #14612
I think this cube is about 1 year old

[2020-04-08 15:02] bresch commented on #13887
Yes, the sign of the acceleration is wrong, but the result is correct, because in the velocity controller, we do `output = vel_error * P + vel_error_int * I + acceleration * D` (normally, we should put the minus sign here)

[2020-04-08 15:15] julianoes commented on #14615
Is there a way to have AirSim running in CI? If so we should try to make that happen. We could potentially have a MAVSDK test with it.

[2020-04-08 16:26] mrpollo commented on #14402
update notes

https://github.com/PX4/Firmware/pull/14473

[2020-04-08 18:48] mrpollo commented on #14615
Great idea @julianoes perhaps Microsoft can help setup us setup AirSim in Azure

[2020-04-08 19:21] jorge789 commented on #14580
### Tested on PixRacer V4
**Indoor Flight Test**
Modes Tested
Stabilized Mode: Good.

**Procedure**
Arm and Take off in stabilized mode.

**Notes**
No issues noted, good flight in general.

**Log**
https://review.px4.io/plot_app?log=3959d2ea-60c4-42c2-8a73-117c40cb389b

https://review.px4.io/plot_app?log=11f463c1-d600-4117-bc77-7f639c67cef6

[2020-04-08 19:45] #12340 closed

[2020-04-08 19:46] dagar commented on #11334
This was done in the new Invensense IMU drivers with a simple backup hrt schedule.

[2020-04-08 19:46] #11334 closed

[2020-04-08 19:46] dagar commented on #8813
Done!

[2020-04-08 19:46] #8813 closed

[2020-04-08 19:47] dagar commented on #9279
Believe it or not nearly all of this has been done.

[2020-04-08 19:47] #9279 closed

[2020-04-08 19:48] dagar commented on #10607
Done.

[2020-04-08 19:48] #10607 closed

[2020-04-08 19:49] dagar commented on #8891
Almost there. Should be completely done by v1.12.0.
https://github.com/PX4/Firmware/pull/14237

[2020-04-08 19:55] Junkim3DR commented on #14580
### Tested on Pixhawk3 V4Pro

**Indoor test flight.**
Mode tested in Stabilized

**Procedure**
Takeoff and landing in Stabilized

**Note**
No issue noted.

**Log**
- https://review.px4.io/plot_app?log=94ad8fdd-b548-4ebf-8c57-36efc982d467
- https://review.px4.io/plot_app?log=1f3b9df5-58a6-4489-ab67-e0d59b0c5c2b

[2020-04-08 19:56] dagar commented on #14505
@rolandash I believe the problem here is the estimator not initializing with the data from the lsm303d + l3gd20 combo. Does it work if you do a clean accel + gyro calibration, reboot, then try level horizon?

[2020-04-08 21:19] dagar opened #14623 "logger profile for full raw IMU logging"
We should create a logger profile (or mode?) for logging all raw data from the new IMU drivers.

 - log a particular `sensor_accel_fifo` or `sensor_gyro_fifo` message at max rate
 - can logger keep up with a 1 or 2 kHz orb publication or do we need to queue?
 - do we need to optimize `sensor_accel_fifo` and `sensor_gyro_fifo`?
      - contains 32 element arrays of 16 bit data, but often only 4-16

[2020-04-08 21:31] TSC21 commented on #14580
@PX4/testflights excellent! Thank you very much!

[2020-04-08 22:07] dagar commented on #14623
Yet another possible alternative, we could log per axis with a new message of perhaps 128 entires (uint16).

[2020-04-08 22:20] dagar opened #14624 "logger preflight/postflight add perf latency and work_queue status"

[2020-04-09 02:40] hamishwillee commented on #14615
@julianoes @mrpollo It's not exactly a new idea - https://github.com/PX4/Firmware/issues/14615#issuecomment-610808498

How can we move past "perhaps someone should do something" to someone doing something? Ramon, you going to take this up with Microsoft?

[2020-04-09 06:59] bkueng commented on #14623
When I tested this, logger was easily able to keep up with 1khz, depending on overall CPU load you want to increase its priority though.
The current fifo messages are definitely too large, we can do it if we reduce them to 8 elements @ 1khz (or combine in some other manner).

BTW flight review already shows the messages.

[2020-04-09 07:53] MaEtUgR commented on #13887
@CarlOlsson Yes, you're completely right in the sense that the sign is wrong for the variable name and that's totally confusing and we should change that. It's only used in the position controller as `vel_dot` https://github.com/PX4/Firmware/blob/0a2c48c69aabbcb9a290098bc324ef1872d87125/src/modules/mc_pos_control/PositionControl/PositionControl.cpp#L148 and it's used for the derivative term of the

[2020-04-09 08:10] MaEtUgR commented on #13887
I changed it here: https://github.com/PX4/Firmware/pull/14629

[2020-04-09 12:32] xdwgood commented on #14588
@sfuhrer could you have a look？ thanks

[2020-04-09 12:32] julianoes opened #14632 "Pixracer without SD card does not communicate over MAVLink correctly"
When I flash latest master on a Pixracer without SD card and connect it to QGC it does not seem to answer to MAVLink. In this state QGC doesn't show the param tab and neither the HUD.

[2020-04-09 12:34] julianoes commented on #14632
Unless you restart QGC.

[2020-04-09 12:34] #14632 closed

[2020-04-09 15:15] #13887 closed

[2020-04-09 21:52] TSC21 commented on #14580
@dagar @MaEtUgR should we consider this validated?

[2020-04-10 14:41] rolandash commented on #14505
@dagar My testings confirms with your judgement.
If I do level horizon after sensor cal + reboot, then it works fine.

Expecting the fix from you soon.

[2020-04-10 15:10] dagar opened #14640 "bad altitude hold v1.11.0-beta1 vs v1.10.0"
User reported worse altitude hold after upgrading from PX4 stable v1.10.0 to the current v1.11 beta.

### v1.10.1
 - https://review.px4.io/plot_app?log=664c4e7a-9bb1-423f-935f-5abbf69f6170
 - (**new 2020-04-22**) https://review.px4.io/plot_app?log=d26da1f6-24a8-43e3-aadc-0bf5a634d86f

### master (slightly before v1.11.0-beta1 with old IMU drivers)
 - https://review.px4.io/plot_app?log=ba162746-c16

[2020-04-10 15:20] MaEtUgR commented on #14640
On the first glance it looks like position control in all axes has more error. I suspect the total gain to have changed. Maybe that's because I'm scaling the velocity control gains to be backwards compatible using the hover thrust which might change because of the hover thrust estimator. Just a wild guess for now.

[2020-04-10 16:03] AlexKlimaj commented on #14640
This is on my 650 quad. Very noticeable poor altitude performance from the last release to master. Been flying for the past few weeks always on master and it has pretty much been the same over that period of time.

[2020-04-10 16:03] MaEtUgR commented on #14640
@AlexKlimaj Thanks a lot for the feedback!

[2020-04-10 16:53] saengphet commented on #14640
Today I test firmware v1.11.0-beta1 with my tiltrotor + pixhawk 4, sometimes I cannot change flight mode to position hold, "REJECT POSITION CONTROL", and sometimes I can change to position hold, however in several second, the flight mode automatically bounces back to altitude hold again (by the system, not a pilot). I have checked the "gps status" and found something went wrong. the GPS info is un

[2020-04-10 16:54] dagar commented on #14640
@saengphet please open a new issue (https://github.com/PX4/Firmware/issues/new/choose) and share your logs like in this issue (working v1.10.2 vs v1.11.0-beta1).

[2020-04-10 18:53] tacdin commented on #14273
Do you have a solution for this topic ? I have the same problem.

[2020-04-10 19:01] tacdin commented on #14527
I'm having the same problem. I would be glad if you can direct the developers and users. It is very frustrating to get this error. No operations can be performed.

[2020-04-10 19:11] tacdin commented on #14566
I'm having the same problem. I would be glad if you can direct the developers and users. It is very frustrating to get this error. No operations can be performed.
![git](https://user-images.githubusercontent.com/46008026/79016630-2e38fc80-7b78-11ea-94bd-346088d6b21a.png)

[2020-04-11 13:30] NicoNelli commented on #14466
@RomanBapst do you have suggestions in that matter ? Thanks a lot

[2020-04-11 14:52] dayjaby commented on #14466
I observed the same fault (https://discuss.px4.io/t/drone-flies-away-during-rtl/15373). Firmware version: 1.9.2 with slight modifications (but nothing RTL related) on a hexacopter (no vtol!)

Which firmware version did you use?

![Screenshot from 2020-04-11 16-50-17](https://user-images.githubusercontent.com/164396/79047077-d43a4480-7c14-11ea-80f3-9a4db557ef67.png)

[2020-04-11 14:57] dagar commented on #14466
If there's still a problem here could you please validate against current PX4 and open a new issue with logs?

[2020-04-11 15:01] dayjaby commented on #14466
@dagar In our case it stopped occuring in a long time and we had now several months of good test flights on the same firmware version, the same location. On some days however (~october 2019), it happened frequently.

In my log, it didn't drift out of RTL, but the estimation drifted away (and also the drone in reality), even though the setpoint remained constant.

[2020-04-11 16:51] dagar opened #14644 "test rack CUAV v5 nano icm20689 persistent transfer errors"
The test rack's CUAV v5 nano icm20689 IMU appears to be getting stuck with near 100% transfer errors. While in this state the other sensors on the same bus (bmi055 and icm20602) are in good health.

http://ci.px4.io:8080/blue/organizations/jenkins/PX4_misc%2FFirmware-hardware/detail/master/1678/pipeline/586

<img width="804" alt="Screen Shot 2020-04-11 at 12 47 58 PM" src="https://user-images.gith

[2020-04-11 17:44] dagar commented on #14644
More examples.
http://ci.px4.io:8080/blue/organizations/jenkins/PX4_misc%2FFirmware-hardware/detail/pr-fmu_rename/1/pipeline/827

[2020-04-11 20:07] #14303 closed

[2020-04-12 00:03] chricloud9 commented on #13117
I get this same issue, but when I ran sudo apt-get install libgstreamer-plugins-base1.0-dev and build the target again, I get Module Not Found Errors

ModuleNotFoundError: No module named 'jinja2'

I think it may have something to do with the build trying to use python 3? I have python 3 on my machine, but 2.7 is the default. Here's why i think it may be python 3 related.

[6/723] Generating seria

[2020-04-12 07:10] JMB18000 opened #14648 "Simtoo Moment drone (Hoshi 007 Pro)"
I'm searching some tracks to reprogramming the Simtoo Moment drone (Hoshi 007 Pro) a foldable drone who is sell 65 Euros (!!!) with a Snapdragon 801 inside but his original firmware is full bugged..
Somebody can help me...?
![w](https://user-images.githubusercontent.com/63533131/79062730-098a7500-7c9d-11ea-9828-42d901eddf14.jpg)

[2020-04-12 07:15] JMB18000 commented on #14648
![w (1)](https://user-images.githubusercontent.com/63533131/79062866-09d74000-7c9e-11ea-8151-a06bd899ed59.jpg)

[2020-04-12 17:51] navioglider opened #14649 ""param_modify_on_import" breaks calibration on param load"
**Describe the bug**
i have an couple sensors that i can calibrate, but the calibration disappears after a reboot. i traced the problem back to the function "param_modify_on_import" which modifies the perfectly good parameters CAL_XXX_ID and causes the problem. my guess is that it's related to #14572?

**To Reproduce**
1. calibrate e.g. mpu9250 gyroscope
2. restart px4, or reload parameters
3. wat

[2020-04-13 00:58] xdwgood commented on #14588
I tried v1.10 and everything works fine in gazebo

[2020-04-13 08:44] iftahnaf commented on #6631
Do you remember which parameter you changed in the iris.sdf?

I'm trying to do the same, running the roslaunch mavros px4.launch on my RPi 3b+.
I typed export ROS_MASTER_URI=http://RPiAddress:11311 on both Rpi and my PC.
Then, no_sim=1 make px4_sitl gazebo and last roslaunch gazebo_ros.
I can see the mavros topics from the Pi and from the PC, but there is no connection between them: In the /mavros

[2020-04-13 10:20] L4ncelot commented on #6631
@iftahnaf is your ROS networking working properly? I don't have my work computer with me right now, but there are some variables for the **mavlink_interface** gazebo plugin you can play with found in the model.

[2020-04-13 11:13] iftahnaf commented on #6631
Thanks for the answer, Ill look for that.
The ROS networks seems to be fine, I can subscribe to mavros topics from both Pi and PC.
I launch mavros from the Pi, with roslaunch mavros px4.launch, with the fcu_url definition:
fcu_url:="udp://:14540@PCAddress:14557". is it ok?
Thanks again :-)

[2020-04-13 11:38] L4ncelot commented on #6631
It depends on your configuration... the `fcu_link `should be connected to the autopilot binary. So if you're running autopilot's binary on the PI, set the IP to the **PI_address**. Look at the px4 documentation explaining all the variables etc. It will help you a lot in understanding the configuration.

You need to check the configuration yourself. I'm using the system differently now, so I don't

[2020-04-13 12:07] Jaeyoung-Lim commented on #11955
@FaboNo Finally got this running:

[![Demo](https://img.youtube.com/vi/cL7ZhvNvV3o/0.jpg)](https://youtu.be/cL7ZhvNvV3o)

[2020-04-13 12:11] vanurag opened #14651 "EKF2 replay on SITL logs is not reproducible"
**Describe the bug**
I am using EKF2 replay to tune some of my parameters. As a starting point, I wanted to see if I can reproduce similar ekf2 output when I replay a log with unchanged parameters. I used jmavsim to perform a short flight session. I then performed ekf2 replay on this log. I am using Tools/ecl_ekf/process_logdata_ekf.py for generating analysis plots for the original log and the rep

[2020-04-13 13:02] FaboNo commented on #11955
@Jaeyoung-Lim Awesome!!!
On my side I have to make px4 and sitl gazebo working and then connect with ROS - I will follow the "px4/obstacle" instructions .
Just few questions:
When the PR will be approved the r1 rover will be added in stil_gazebo/models? This is a question I will ask about sitl_gazebo, is how to add a new model...
Looks like the L1 controller is fully working now (besides moving ba

[2020-04-13 14:26] Biffilion opened #14654 "one question from attitude controller"
I use the code with v1.9.2.
In the file mc_att_control_main.cpp.I know to use the cascade controller here.But why control_attitude_rates before control_attitude?
I think the angular acceleration controller uses the result of the last angular velocity controller.
Why not run the angular velocity controller first?

[2020-04-13 14:27] Jaeyoung-Lim commented on #11955
@FaboNo I have linked the PR of the sitl_gazebo in #14652

[2020-04-13 16:39] iftahnaf commented on #6631
The autopilot's binary is on the PC and I set the fcu_link to it.
 I will check the documentation and my configurations again.
Thank you.

[2020-04-13 17:17] dagar opened #14655 "NuttX mkfatfs doesn't seem to work"
I'm seeing this on all boards.

![Screenshot from 2020-04-13 12-33-17](https://user-images.githubusercontent.com/84712/79138707-f9e55c00-7d82-11ea-984a-45f75cb3adde.png)

In many cases `umount /fs/microsd` fails, but regardless of a successful umount mkfatfs still fails with the same error.

[2020-04-13 19:23] tiralonghipol commented on #14273
hi i had the same issue
rolling back to 1.9.x solved the problem @tacdin

[2020-04-14 00:37] hamishwillee commented on #13117
@chricloud9 Please don't necrobump dead issues. It is irritating. Your problem is that you haven't installed the PX4 development environment properly - see http://dev.px4.io/master/en/setup/dev_env.html

[2020-04-14 01:54] hamishwillee commented on #12761
This needs to be fixed :-(

[2020-04-14 04:28] saengphet opened #14659 "Unstable GPS data while using the 2nd telemetry on TELEM2 port - v1.11.0-beta1"
**Describe the bug**
Hi, I found very strange GPS behavior after uploaded "v1.11.0-beta1" to pixhawk 4. Firstly, I configured MAV_1_CONFIG = TELEM2 (My UAV has been flown using this config. before since firmware v1.8.2, v1.9.2 and v1.10.2 and I got no error). Then, I investigated using"mavlink inspector" in QGC and take a look at GPS_RAW_INT.

GPS signal seems unstable, the fluctuation ranges from

[2020-04-14 04:33] saengphet commented on #14640
Hi @dagar , I have already opened the new issue. I found (guess) that it is about serial/UART port issue. More info is available on my open issue.

[2020-04-14 06:13] julianoes commented on #14654
High level, for a good control performance the delay from the moment a sensor value is measured until the moment the motor control is sent out is crucial. The smaller this delay, the better (and easier) is the control problem. This is especially true and essential for the attitude rate loop while the other cascaded controllers are less critical.

I believe that's the reason why on a new sensor val

[2020-04-14 06:18] julianoes commented on #14648
I would say this is not a PX4 issue as such but could be an interesting discussion.

I suggest that you ask that question in discuss.px4.io.

[2020-04-14 06:18] #14648 closed

[2020-04-14 07:28] julianoes opened #14661 "Pixracer mag not working"
My (as far as I know original) Pixracer doesn't work anymore. There does not seem to be a mag driver running.

[code]

[code]

[2020-04-14 07:36] sfuhrer commented on #14588
@xdwgood good to know that the problem isn't there on the release. It could be that there was some underlying problem in gazebo that was fixed since.
Do you still want to keep this issue open? Have you also done real flight testing with the release?

[2020-04-14 07:45] xdwgood commented on #14588
I plan to make a flight to the master branch, but I found this in the simulation, I am worried about the safety of outdoor flight.
So am I trying to understand that this is just a simulation problem?....But I'm not sure yet. I tried v1.11.0-BETA1 and had the same problem ...
@sfuhrer  Could you see the same problem with the gazebo simulation on your computer?

[2020-04-14 08:16] NicoNelli commented on #14466
@dagar ok I will do it. Thanks a lot

[2020-04-14 08:29] julianoes opened #14662 "PreflightCheck spam"
I started getting quite a bit of spam of the PreflightCheck:

[code]

[2020-04-14 09:14] bkueng commented on #14649
Thanks for reporting. Can you give https://github.com/PX4/Firmware/pull/14664 a test?

[2020-04-14 11:00] navioglider commented on #14649
that fixed it, thanks!

[2020-04-14 11:00] #14649 closed

[2020-04-14 14:17] #14662 closed

[2020-04-14 15:24] #14579 closed

[2020-04-14 15:39] #14133 closed

[2020-04-14 16:55] shrit commented on #12206
Keep open

[2020-04-14 18:03] JacobCrabill commented on #14661
Maybe this is due to the new IMU drivers?  Has the compass now been split out from the accel/gyro in the MPU drivers?

[2020-04-14 18:14] dagar commented on #14661
We're not running the mpu9250 mag by default, it messes up the IMU sampling and becomes noticeable with all the raw data now available PX4 side.

This should be okay because the pixracer has another onboard mag (hmc5883 or lis3mdl). I recently fixed the internal hmc5883 start (https://github.com/PX4/Firmware/pull/14634).

@julianoes any idea what's physically on your particular board? You could tr

[2020-04-14 18:40] JacobCrabill opened #14666 "RFC: Improve sensor (device) type IDs"
The sensor device types #defined in `drv_sensor.h` are just a mess.  New sensors just get stuck in wherever there's a free number available, with no sorting at all, and it's only going to get worse as we approach the 256-device limit.

I don't have a specific proposal / PR, but here's some ideas to clean this up for a future release:

- I'm working on this part already, but I'll mention it here: A

[2020-04-14 19:03] johan606303 opened #14668 "PX4 issue"
Hi.

I want to use PX4 in SITL mode in my AirSim simulator.

I use windows 10 so I first install Cygwin Toolchain.

Then I found a tutorial and so I just run the following commands :
`mkdir -p PX4`
`cd PX4`
`git clone https://github.com/PX4/Firmware.git`
`cd Firmware`

After I run :  `git checkout v1.10.1 # recommended version ` I have :
![git1](https://user-images.githubusercontent.com/62846458/7

[2020-04-14 21:30] dagar commented on #14666
Thanks for raising @JacobCrabill. I agree it's quite a mess, however it might not actually be that hard to climb out of this particular hole for a few reasons.

 - the single list of defines can be split by sensor type
      - in all current usage the type of sensor is clear from context
 - anything not associated with the current calibration system can already be changed on a whim with no consequ

[2020-04-14 23:33] modaltb opened #14670 "BAT_V_DIV and BAT_A_PER_V params missing unless battery_status module is included in build"
**Describe the bug**
Our hardware doesn't use the `battery_status` module, rather a power module connected over I2C, so we aren't including `battery_status` in our cmake build file.  I believe that without including `battery_status` in the build, you fail to pick up the parameters in `analog_battery_params_deprecated.c`.

I see this PR from sometime ago, which is in the same area: https://github.c

[2020-04-15 00:36] ryanjAA commented on #14509
Took a little trickery for some tests but pretty incredible unit after some indoor and outdoor testing. 29 satellites outside with not a great shot to the sky and 24 inside nowhere near any windows.

![2FDAA3AB-84D4-41AA-80E3-4A7167902A33](https://user-images.githubusercontent.com/31726584/79286761-3601e500-7e87-11ea-9195-d25ab108ac0e.jpeg)

[2020-04-15 00:51] AlexKlimaj commented on #14640
Here is a flight from today with v1.11.0-beta1. Issue is still present, altitude hold is very poor.

https://review.px4.io/plot_app?log=047d7d42-f16f-4dfd-a9a2-33613455eeeb

[2020-04-15 04:11] saengphet opened #14671 "Arm tone alarms after pressed pre-arm button to disarm vehicle in fixed-wing mode-tiltrotor-v1.11.0-beta1"
**Describe the bug**
I found this issue during the tiltrotor flight test. After pre-arm button at GPS pixhawk 4 was pressed to disarm vehicle in fixed-wing mode, buzzer alarmed "long beep (arming tone)" that is the sound of "arm state" instead of only "double short beep (disarming tone)". This is so weird and makes me scared of motor spinup unintentionally (but motors did not spinup).

**To Reprod

[2020-04-15 09:37] ThomasRigi commented on #14402
Is dual battery support in v1.11? https://github.com/PX4/Firmware/pull/12551 and https://github.com/PX4/Firmware/pull/12034

They're not in the list (yet)

[2020-04-15 12:57] Mitchell-Lee-93 opened #14674 "HITL simulation with the latest PX4 firmware using Pixhawk4 mini does not work"
**Describe the bug**
I was trying to do HITL simulation with jMAVSim using the latest version of px4.
The setting seemed to be fine but if I arm the vehicle and increase the thrust,
The quadcopter swings with respect to x-axis and fall.

**To Reproduce**
I followed the procedure below with the latest version of px4. The board was pixhawk4 mini.
I used real RC with position control
https://dev.px4.

[2020-04-15 13:03] Thijs---- opened #14675 "Some AUX pwm outputs go lower on arm"
**Describe the bug**
When the UAV is armed (via RC), some AUX pwm outputs (actuator_outputs_1) shortly go to a lower value, although this is not commanded via an actuator_control message. It seems that this only happens with AUX outputs who's PWM_AUX_DIS is set.

**To Reproduce**
Steps to reproduce the behavior:
1. change PWM_AUX_DIS2 (or another) from -1 to 100
2. (set SDLOG_MODE 0 -> 1)
3. arm U

[2020-04-15 14:59] MaEtUgR commented on #14580
To not cause significant issues immediately yes. Since it's supported on master I'm doing all my development tests using GCC 9 and didn't find a problem yet.

[2020-04-15 15:18] julianoes commented on #14661
[code]
![IMG_20200415_171558(1)](https://user-images.githubusercontent.com/1419688/79354769-21802400-7f3d-11ea-8a0b-219468bff0b2.jpg)

[2020-04-15 15:24] MaEtUgR commented on #10677
It's definitely a RAM issue on the IO chip. There are some optimizations done in https://github.com/PX4/Firmware/pull/14129 and upcoming but I think it was mentioned the largest mixer still doesn't load 😬

[2020-04-15 17:12] dagar opened #14677 "Multicopter v1.11 beta testing - max throttle is suddenly asserted"
https://logs.px4.io/plot_app?log=23c4f03d-819d-4f6e-a9fa-f6a8fdc57e01

[2020-04-15 17:36] dagar commented on #14677
The cause of the "throttle jump" appears to have been caused by the altitude estimate jumping when switching back to baro aiding.

![Screenshot from 2020-04-15 13-22-43](https://user-images.githubusercontent.com/84712/79367665-3dbf9900-7f1c-11ea-824d-40e16fa141f6.png)

![Screenshot from 2020-04-15 13-31-51](https://user-images.githubusercontent.com/84712/79368500-8461c300-7f1d-11ea-99e8-9fb31b9721

[2020-04-15 17:39] dagar commented on #14677
I think there must be a bug within ecl/EKF where the height offset is being handled correctly as you switched between range aid, gps height, and baro height.

https://github.com/PX4/ecl/blob/6f383248cafa4542d1be6cd884e37783af270b54/EKF/control.cpp#L1027-L1059

[2020-04-15 18:44] dagar commented on #14677
I believe the problem is the ordering of `Ekf::resetHeight()` triggered by `Ekf::controlHeightSensorTimeout()` where the `_hgt_sensor_offset` is only updated later by `Ekf::controlHeightFusion()`.

[2020-04-15 19:20] #14381 closed

[2020-04-15 20:32] dagar commented on #13083
This appears to be a real issue with the icm20689 on the CUAV v5+ (and nano).

[2020-04-16 06:35] #14376 closed

[2020-04-16 06:41] KatrinMoritz commented on #11993
@jarivanewijk @igalloway @julianoes the issue can be closed. There will be no PR for the Pixycam driver.

[2020-04-16 08:39] limhyon commented on #14677
Right. We have GPS/range(aid)/baro. I think there are bugs in ECL/EKF regarding switching between main source of height.

[2020-04-16 11:15] MaEtUgR commented on #13956
Thanks to @Tony3dr for reporting this issue in this exemplary manner. I remembered it when debugging different issues today and found the cause:
![image](https://user-images.githubusercontent.com/4668506/79448374-9b69e900-7fe1-11ea-9600-5c6a52c5a5bf.png) From

- Since #11913 RTL usually skips the descend state and directly goes to the land state
- RTL is designed to first quickly and with full hor

[2020-04-16 12:44] dayjaby commented on #14466
https://github.com/PX4/Firmware/issues/13956 has the same kind of drift during RTL.

[2020-04-16 14:20] dagar commented on #14466
Thanks @dayjaby. I've added https://github.com/PX4/Firmware/issues/13956 as a v1.11 release blocker. Any additional data or testing you can add to the issue usually doesn't hurt.

[2020-04-16 14:44] dagar commented on #14677
Fixed in https://github.com/PX4/ecl/pull/799 thanks to @bresch

PX4/Firmware PR for testing https://github.com/PX4/Firmware/pull/14685

[2020-04-16 17:39] Mitchell-Lee-93 commented on #14674
It was due to imu malfunction

[2020-04-16 17:39] #14674 closed

[2020-04-16 18:09] dagar opened #14686 "I2CSPIDriverBase startup errors"
[code]

[2020-04-16 18:10] dagar commented on #14686
[code]

[2020-04-16 19:15] bresch commented on #14677
@dagar I'm able to reproduce the issue in SITL. The ECL fix solves most of the issue (the reset is now much smaller), but the real cause of the thrust step is because the reset isn't handled properly in the flight task: the reset handler is called, but the internal states aren't reset correctly.
I think I'll have to add a functional test to fix it and to make sure that it doesn't break again.

[2020-04-16 20:54] bys1123 opened #14688 "TiltRotor VTOL goes to 0 thrust during transition under v1.10.1"
**Describe the bug**
We are developing a VTOL from 2 years ago, it runs very well under 1.7.3.
Video is here: https://www.youtube.com/watch?v=am2847IQGLU
Recently we are updating the firmware follow upstream PX4.
But it will has 0 thrust during translation under 1.10.1.

**Expected behavior**
Smooth transition.

**Log Files and Screenshots**

![image](https://user-images.githubusercontent.com/4748

[2020-04-16 20:59] bys1123 commented on #14668
https://github.com/PX4/windows-toolchain/issues/18

[2020-04-17 01:25] zhaoxiaowei1013 commented on #13483
have a plan to solve it？I also encountered the same problem。

[2020-04-17 03:47] akkawimo opened #14689 "Unable to run VSC debugging using tailsitter sitl model"
**To Reproduce**
```make px4_sitl gazebo_tailsitter```
click on green play button
![image](https://user-images.githubusercontent.com/50725049/79529666-820e7e80-806d-11ea-8fca-a4ede5e6060f.png)

**Error**
![image](https://user-images.githubusercontent.com/50725049/79529546-3f4ca680-806d-11ea-97f2-3635c3a732bd.png)
![image](https://user-images.githubusercontent.com/50725049/79529605-5db2a200-806d-11

[2020-04-17 10:30] davids5 commented on #13483
@zhaoxiaowei1013 This was addressed in https://github.com/PX4/Firmware/pull/14592

Please test current master and reopen this issues if it did not solve it.

[2020-04-17 10:30] #13483 closed

[2020-04-17 15:20] dagar commented on #14688
@bys1123 if possible please test the current v1.11.0-beta1. It's still possible to get this fixed in time for the v1.11.0 stable release (if it's still broken in current master).

[2020-04-17 15:21] dagar commented on #14671
Thanks for reporting.

[2020-04-17 15:28] dagar commented on #14675
Could you please re-test this on the current v1.11.0-beta1 (or master)? If it's still an issue I'd like to make sure it's fixed for the upcoming v1.11.0 stable release.

[2020-04-17 15:35] dagar commented on #14654
Please update to newer PX4 (eg v1.11.0-beta0) and take a look at the controllers and message architecture. The multicopter rate controller is now a standalone module and the primary gyro is filtered and published as `vehicle_angular_velocity`. This runs as the highest priority thread in the system to minimize end-to-end latency and jitter.

[2020-04-17 15:35] #14654 closed

[2020-04-17 15:38] dagar opened #14695 "add EKF2 replay testing"
This is something we manage to break on a fairly regular basis. If it's important it needs to be maintained with some level of testing to prevent regressions.

 - run SITL test in CI and keep log
 - replay
 - compare

[2020-04-17 15:43] dagar commented on #14651
@bresch @jkflying @kamilritz FYI

[2020-04-17 15:43] dagar commented on #14689
Thanks for reporting, I'll take a look.

[2020-04-17 15:54] #14686 closed

[2020-04-17 16:23] NuclearManD commented on #11072
Where are the parameters actually cached?  I tried updating ~/.config/QGroundControl.org/ParameterFactMetaData.xml but QGroundControl did not show the new metadata (which I verified was present in the file)

![image](https://user-images.githubusercontent.com/9952911/79591148-f573b880-808c-11ea-9971-dadc58fc3a09.png)

I closed QGC before execution, and started QGC after executing this.

[2020-04-17 17:23] NuclearManD commented on #11072
Ok, I'm figuring out how the flashing works in QGC, and how the parameter metadata is extracted, saved, and cached.

It seems that the parameter metadata is pulled out of the JSON in a .px4 file, then it is cached.

[FirmwareImage.cc](https://github.com/mavlink/qgroundcontrol/blob/1c328b9ca0cf5e5f1233cbca72a97f3458c4bbbe/src/VehicleSetup/FirmwareImage.cc) line 278 onward
[code]

The file is always

[2020-04-17 17:54] bys1123 commented on #14688
@dagar Thanks! I'll test the current master in three days.

[2020-04-18 06:20] ryanjAA commented on #14559
Is there anything specific or special that should be considered if wanting to test this in fixedwing?

[2020-04-18 08:20] #13947 closed

[2020-04-18 09:00] SarthakGupta22 opened #14696 "Unable to connect gazebo simulator with px4_sitl when launched with ROS"
Ran the following commands in the terminal

no_sim=1 make px4_sitl gazebo
roslaunch gazebo_ros empty_world.launch world_name:=$(pwd)/Tools/sitl_gazebo/worlds/iris.world

The sitl could not connect to the simulator and the following is the description of the error

... logging to /home/robosteps/.ros/log/2c327300-8152-11ea-a0e1-dcf5056f1ce3/roslaunch-robosteps-29306.log
Checking log directory for d

[2020-04-18 09:07] Jaeyoung-Lim commented on #14696
@SarthakGupta22 Have you checked out the instructions in http://dev.px4.io/master/en/simulation/ros_interface.html#launching-gazebo-with-ros-wrappers ?

[2020-04-18 11:23] LorenzMeier commented on #11072
Could you send a pull request for that or do you feel it is too hard to add it yourself? I always encourage to get your hands dirty because you can help drive the process towards better UX also going forward. So the learning curve is worth it.

[2020-04-18 11:29] bilginmu opened #14697 "Linux Boards"
Is there any documantation about that how to run PX4 on linux boards ?

[2020-04-18 12:04] bilginmu commented on #14697
I have Arm microprocessors Cortex-A9 on which is running real time linux.

[2020-04-18 12:26] dusan19 opened #14698 "Irlock report in HITL"
In px4: Irlock driver publishes irlock report which is used by the landing target estimator to compute and publish landing target message.

Gazebo sends irlock report data hacked in a landing target mavlink message. Simulator mavlink handles the landing target message as if it was irlock message and publishes on irlock report uorb message.

On the other hand when running sitl, gazebo still sends t

[2020-04-18 15:53] DonLakeFlyer commented on #11072
There are multiple issues in on this which I can't seem to find right now. In the, there was discussion on whether this was safe or not. It wasn't fully understood if there were unknown gotchas by doing this. I don't think so, but not 100% sure. The problem relates to having a cached versions of crappy/incorrect dev build metadata getting stuck there causing problems when you try to go back to usi

[2020-04-18 16:00] LorenzMeier commented on #11072
I would propose to cache the "last flashed" variant and use that by default if its set. Copying it always from the .px4 file (wether that file was local or downloaded) and putting it in there. It will always be correct, because if you had a bad version then you most likely re-flashed something else to fix it.

[2020-04-18 16:03] DonLakeFlyer commented on #11072
Sort of. But not if you have multiple vehicles. Say you have a vehicle you test new stuff with and you also have a regular vehicle you do normal work with. You fart around with you test vehicle, put it to the side and then use you normal vehicle. The metadata can be out of whack. Not sure if that is just too obscure a case though. I guess firmware devs doing metadata changes will need to be carefu

[2020-04-18 16:06] LorenzMeier commented on #11072
All of these have a unique ID that can be used to store the cache with.

[2020-04-18 16:08] LorenzMeier commented on #11072
Here: https://github.com/mavlink/qgroundcontrol/blob/master/src/VehicleSetup/Bootloader.h#L138
and that's the same as `uid2` in this message: https://mavlink.io/en/messages/common.html#AUTOPILOT_VERSION

[2020-04-18 16:16] DonLakeFlyer commented on #11072
But that's not really "unique". It's just a board type. That's closer to this: https://github.com/mavlink/qgroundcontrol/issues/6906 but different from it. We can have that discussion as well.

But for right now a simpler solution would be nicer which is whether it's safe to overwrite the cache if the versions are the same. I think that is 90% an ok thing to do. Since we are at the start of a new

[2020-04-18 16:17] DonLakeFlyer commented on #11072
The other issue I was thinking about is here: https://github.com/mavlink/qgroundcontrol/issues/4485 to keep track of it.

[2020-04-18 16:21] LorenzMeier commented on #11072
Sorry, QGC is lacking the implementation, but the bootloader provides PROTO_GET_CHIP, which will give you the UID: https://github.com/PX4/Bootloader/blob/master/bl.c#L881

[2020-04-18 16:27] DonLakeFlyer commented on #11072
I'd also rather wait to implement vehicle specific metadata caching to use the new COMPONENT_INFORMATION vehicle download thing in discussion though. Which would supercede flash based metadata. Id' hope that will get worked out in this new stable cycle. I'll get back to that and provide more concrete details.

[2020-04-18 16:28] DonLakeFlyer commented on #11072
Until then I think overriting cache on equal version is safe which is what's in the pull referenced above.

[2020-04-18 16:35] tuloski commented on #11072
What about modifying PARAM_VALUE(#22) in Mavlink 2 to add metadata at mavlink protocol level?

[2020-04-19 08:01] BazookaJoe1900 commented on #14479
@julianoes Is there someone I can refer this issue?
I am not that familiar with this sections of code, and its critical code, so I don't want want to mess things there.

[2020-04-19 08:37] weekly-digest[bot] opened #14700 "Weekly Digest (12 April, 2020 - 19 April, 2020)"
Here's the **Weekly Digest** for [*PX4/Firmware*](https://github.com/PX4/Firmware):

 - - -
# ISSUES
Last week 52 issues were created.
Of these, 25 issues have been closed and 27 issues are still open.
## OPEN ISSUES
:green_heart: #14699 [[WIP]: CUAV X7Pro board support](https://github.com/PX4/Firmware/pull/14699), by [dagar](https://github.com/dagar)
:green_heart: #14698 [Irlock report in HITL](h

[2020-04-19 09:48] MaEtUgR opened #14701 "Automatic failsafe land in fixed wing RTL not possible"
**Expected behavior**
Goal: When losing RC the fixed-wing plane should fly back to home, loiter over it for a certain time and then slowly descend while loitering until it reaches the ground. This allows configuring a least possible damage failsafe for the worst case that the pilot loses control but didn't plan any landings.

By default a plane comes back in RTL and loiters indefinitely over the h

[2020-04-19 10:48] bresch commented on #14559
@ryanjAA Please try it first in SITL (I never tried it for a FW). If everything goes well, I'm quite confident that this would also work properly on a real vehicle. Just be ready to do the whole flight in stabilized/altitude mode if something goes wrong.

[2020-04-19 15:45] dagar opened #14704 "MC throttle drop STABILIZED -> ALTCTL (v1.11.0-beta1)"
"if take off in stable mode, then change to altitude hold mode; the altitude drops quickly"

https://logs.px4.io/plot_app?log=6b774a27-5f7a-403f-ade2-0c53df838ebc

![Screenshot from 2020-04-19 11-41-28](https://user-images.githubusercontent.com/84712/79692370-bb441b80-8232-11ea-9092-0f38d3348c16.png)

[2020-04-19 15:45] dagar commented on #14704
When altitude mode is activated the throttle initializes to MPC_THR_MIN (12%).

![Screenshot from 2020-04-19 11-44-42](https://user-images.githubusercontent.com/84712/79692453-46bdac80-8233-11ea-8261-9173a0c4b55e.png)

[2020-04-19 16:29] navioglider opened #14705 "prearm with linux"
**bug description**
setting COM_PREARM_MODE="Always" does not seem to do anything when running linux (same behaviour as if "Disabled"). From this comment in the code it seems like you already know about the issue:
https://github.com/PX4/Firmware/blob/7c533e5a535e48b460dda1a4f148b830155f3e06/src/drivers/linux_pwm_out/linux_pwm_out.cpp#L360-L362
(although it has been like that for a looong time)
rea

[2020-04-19 17:03] dagar commented on #14705
@navioglider this isn't a direct answer to your question, but `linux_pwm_out` was never on par with the "normal" output modules (eg `pwm_out`) we use on common boards like the pixhawk. My plan for the navio2 was to implement the same low level PWM functions we use on NuttX, then use the regular `pwm_out` module and purge linux_pwm_out.

Here's an old branch I had started (https://github.com/dagar/

[2020-04-19 17:06] dagar commented on #14705
Direct link to what needs to be implemented for Navio2.

https://github.com/dagar/PX4-Firmware/blob/4cd633fcb19e809835fca99e3768d6aa701aeac1/boards/emlid/navio2/pwm/pwm_servo.cpp#L10-L88

![Screenshot from 2020-04-19 13-05-31](https://user-images.githubusercontent.com/84712/79694484-7b833100-823e-11ea-9163-e31dff31234b.png)

[2020-04-19 17:16] SalimTerryLi commented on #14705
That is. Thanks for mentioning that. The first thing that come to my mind is whether can I deploy PCA9685 in this way or not. I will try to figure out that. But I cannot provide any useful info that would benefit this issue, as I have no Navio2 HAT to do any test.

Onboard PWM channels should be managed in this way, for sure.

[2020-04-19 18:57] dagar commented on #14705
Related: https://github.com/PX4/Firmware/pull/14707

[2020-04-19 22:39] bys1123 commented on #11932
#12575 is closed, waiting new PR.

[2020-04-19 22:51] hamishwillee commented on #14701
So just to be clear, what we're seeing here sounds like the documented behaviour: http://docs.px4.io/master/en/flight_modes/return.html#fixed-wing-fw

I think you're saying this is not optimal. Currently RTL_LAND_DELAY=-1 means  "do not land/loiter" forever" and you're saying it should mean "loiter while descending slowly"? Sounds good to me.

If you change this, can we keep the docs in sync - e.g

[2020-04-19 23:30] Antiheavy commented on #14701
@hamishwillee I don't think you are correct here.

@MaEtUgR It sounds like you are describing two things: 1) bugs with how RTL_LAND_DELAY works, and 2) new landing logic for the RTL around home scenario where the vehicle loiters slowly to the ground if RTL_LAND_DELAY is 0 or a positive value?

I'm curious: What happens if throttle is forced to 0 when in a fixed wing loiter?  Will the position cont

[2020-04-20 00:12] hamishwillee commented on #14701
@Antiheavy Thanks. I'm not at all sure, hence the question :-)

[2020-04-20 01:11] hamishwillee commented on #14697
Yes, see
- https://dev.px4.io/master/en/setup/building_px4.html#raspberry-pi-23-boards
- https://dev.px4.io/master/en/setup/dev_env_linux_ubuntu.html#raspberry-pi-hardware

I am closing this because this area is for issues/bugs, not support requests. If you wish to continue the discussion, please raise on https://discuss.px4.io/ (cross linking to here)

[2020-04-20 01:11] #14697 closed

[2020-04-20 06:51] julianoes commented on #14479
@RomanBapst might have a better idea.

[2020-04-20 06:55] #14700 closed

[2020-04-20 07:04] julianoes commented on #14670
I would argue that's what is needed for backwards compatibility.

Also, see how the deprecated params are synced with the new ones here:
https://github.com/PX4/Firmware/blob/6e18cb85b1911ac052838c73a6fbb9b8d6f72d2c/src/modules/battery_status/analog_battery.cpp#L92-L97

So if you can make use of the [battery lib](https://github.com/PX4/Firmware/blob/master/src/lib/battery/battery.h) and copy the `m

[2020-04-20 08:13] Thijs---- commented on #14675
I Tested with v1.11.0-beta1: [PX4 Flight Review](https://logs.px4.io/plot_app?log=6a80d3e8-fce1-4aba-beaf-6712631d0fb2) [AUX output chart](https://logs.px4.io/plot_app?log=6a80d3e8-fce1-4aba-beaf-6712631d0fb2#Nav-Actuator-Outputs-AUX)
Same effect: with PWM_AUX_DIS2 set too 100, on arm output 1 goes down to 100, then 1050 and ramp up to 1500 again.

[2020-04-20 09:30] Randallfeng opened #14714 "TFmini: Data fusion is wrong in PX4 V1.10.0"
**Describe the bug**
The data fusion is wrong when use TFmini in V1.10.0, "Alt" is right, but "Down" is wrong.
When changing firmware to V1.9.2, "Alt" and "Down" are keeping the same, the performance is normal.

**To Reproduce**
Parameter is shown as below:
SENS_TFMINI_CFG: 104（serial 4/5）
EKF2_HGT_MODE: Range sensor

**Expected behavior**
Fix the bug of wrong data fusion when use TFmini under V1.

[2020-04-20 10:12] MaEtUgR commented on #14701
@hamishwillee I think the default is ok or could be discussed separately based on user feedback. I just expect to have the option to spiral down slowly because RTL is the default failsafe for RC loss and if I'm unable to regain control e.g. remote broken or ran out of battery I'd expect it to do what I consider the least damage reaction given no further planning.

@Antiheavy Yes, big bug that it s

[2020-04-20 16:40] modaltb commented on #14670
OK great, thanks for the tips, I can move forward with this easy enough!

[2020-04-20 18:54] #14704 closed

[2020-04-21 07:35] #13956 closed

[2020-04-21 08:14] Thijs---- commented on #14675
Two updates:
1. I also tested with PWM_AUX_DIS2 set to 1900: on arm AUX output 1 goes shortly to 1900 and direct back to commanded value: [PX4 Flight review](https://logs.px4.io/plot_app?log=9a1fbc52-6b42-45c6-840e-d09c2b82f871). So same behavior, except there is no ramp up from 1050.

2. I also noticed during another test that if even no PWM_AUX_DIS is set, this behavior occurs. In this [PX4 Flig

[2020-04-21 08:31] bkueng commented on #14659
Thanks for the detailed report. I can reproduce this, also on master.

- Pixhawk 4 with GPS attached
- `param set MAV_1_CONFIG 102`
- `param set SER_TEL2_BAUD 57600`

The problem goes away when disabling TX DMA (`CONFIG_USART3_TXDMA`) on Telem2. @davids5 can you have a look?

[2020-04-21 09:20] ThomasRigi commented on #14426
Hi @RomanBapst,
we have come across this problem on a real drone which overshot a lot when doing a back transition in this way. Some more information here: https://discuss.px4.io/t/quadplane-back-transition-improvements/15054

What you experience here (not entirely sure if something might have changed with your new transition PR https://github.com/PX4/Firmware/pull/14405 - I haven't yet had time t

[2020-04-21 10:18] MartinStokelj opened #14717 "Thermal Calibration corrupts accelometers data to show wrong horizon roll"
**Describe the bug**
After enabling thermal calibration and calibrating the accelometers we can see horizon off for about 15 degrees roll angle.
Autopilot has 2 accelometers, LSM303D,MPU6000 and it looks like thermal calibration for both of them is somehow calculated wrong (horizon showing roll for about 15 degrees and after level horizon calibration we cant calibrate anything more, always getting

[2020-04-21 11:28] ThomasRigi opened #14718 "[VTOL] Front transition deviates"
**Describe the bug**
During the front transition, the drone rolls into the wrong direction and deviates from the expected path. Observed in SITL, probably linked to https://github.com/PX4/Firmware/pull/14405 @RomanBapst

**To Reproduce**
Steps to reproduce the behavior:
1. Run SITL: `make px4_sitl gazebo_standard_vtol`
2. Launch a mission with a vtol takeoff and transition waypoint
3. Observe

**E

[2020-04-21 13:22] dagar commented on #14717
Do you have the thermal calibration log and the generated pdf?

[2020-04-21 13:46] MartinStokelj commented on #14717
If you give me info how to create them I will.

[2020-04-21 13:56] dagar commented on #14717
I'm referring to the offboard calibration method described here. https://docs.px4.io/master/en/advanced_config/sensor_thermal_calibration.html#offboard_calibration

[2020-04-21 14:01] MartinStokelj commented on #14717
I will make offboard calibration tomorow and give the new feedback.

[2020-04-21 14:16] dagar opened #14719 "NuttX STM32H7 SPI6 DMA not working"
This came up when testing the ICM20649 driver on the new CUAV X7Pro board (~ 37% cpu on wq:SPI6).

On STM32H743 SPI6 is on DMAMUX2 BDMA (D3 domain).

[code]

[code]

[2020-04-21 14:17] dagar commented on #14719
FYI @bkueng

[2020-04-21 14:33] jareiko commented on #13483
I'm still sometimes getting what might be this problem on master, running off battery power.

At some point the SD card seems to fail, and then nothing works anymore (logging or sd_bench, for example).

![Screenshot from 2020-04-21 16-27-58](https://user-images.githubusercontent.com/764352/79878107-55e85a00-83ed-11ea-8e04-41034eee035d.png)

[2020-04-21 15:24] dagar commented on #13483
@jareiko could you open a new issue for that and start collecting any relevant data?

Is that console screenshot showing anything other than logger successfully starting?

Have you noticed any patterns? Does it fail after a certain period of time? Are you getting any potentially relevant error messages from logger or the system? You could check `dmesg` output.

[2020-04-21 15:53] MaEtUgR opened #14720 "Multicopter velocity control gains backwards compatibility depends on hover thrust"
**Describe the bug**
The rescaling of the velocity controller with the backwards compatibility term depending on the hover thrust combined with the hover thrust estimator adjusting the hover thrust: https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/PositionControl/PositionControl.cpp#L151

I still think it's at least part of what we've seen in https://github.com/PX4/Firmware/i

[2020-04-21 16:51] jareiko commented on #13483
That is just a dmesg log, as requested earlier in the thread. Yes, I'll start a new issue for this when I'm looking at it again. For now we're exploring log streaming instead.

[2020-04-21 18:32] davids5 commented on #13483
@jareiko - Also have you tried another card?

[2020-04-21 19:08] LordHelmchen324 opened #14721 "Takeoff denied in HITL Simulation with Gazebo"
**Describe the bug**
When running a HITL setup with Gazebo, I can arm (the rotors in Gazebo start spinning) but I cannot takeoff. QGC's error message is only "Takeoff command temporarily rejected". In the log it says "Critical: Takeoff denied! Please disarm and retry". Doing so leads to the same result.
A SITL setup with Gazebo works fine. Using JMavSim in a HITL setup works perfectly, too.
One di

[2020-04-21 19:23] limhyon opened #14722 "GPS # of satellites used dropped to 16 (u-blox M9N)"
**Describe the bug**
I was cherry-picking up
https://github.com/PX4/GpsDrivers/commit/cf87129bd341eb56222117bf5b75c18e01ddd500

to test M9N module. But as soon as PX4 firmware boots and send few commands to M9N, the number of satellites used on M9N dropped to 16 (fixed number) from around 30~32 satellites.

**To Reproduce**
1. Connect u-center to M9N with USB port.
2. Wait PX4 booted.
3. Check u-c

[2020-04-21 19:54] RomanBapst commented on #14640
@AlexisTM In order to isolate the problem I would suggest that you try using GPS altitude and see what effect it has on the altitude hold. I checked your log and the barometer innovations from the estimator correlate with ground speed which usually means that the barometer is exposed to direct airflow.

[2020-04-21 20:45] jareiko commented on #13483
Yes, three different cards, all of which work fine on a Pixhawk 4.

[2020-04-22 00:30] bys1123 commented on #13631
@dagar PR number is #14723 , I need your help when you have time, thanks!

[2020-04-22 03:54] RomanBapst commented on #14718
@ThomasRigi Please have a look at [my PR](https://github.com/PX4/Firmware/pull/14727), it should fix this issue.

[2020-04-22 06:29] tnkkk commented on #12975
I think this issue is caused by a part of code below.
[src/gazebo_magnetometer_plugin.cpp](https://github.com/PX4/sitl_gazebo/blob/c2d7d2609f3801ca9a0a03643942b10da50d090d/src/gazebo_magnetometer_plugin.cpp#L198-L208)
`mag_message_.add_magnetic_field_covariance()` would be called  when world update start event occurs (This event is called frequentry). So `mag_message_`'s contents keep growing.
Thi

[2020-04-22 06:31] julianoes commented on #12975
Interesting, thanks @tnkkk! Have you tried changing it to see if it makes a difference?

[2020-04-22 06:35] tnkkk commented on #12975
@julianoes After I tried above, it was fixed. Simulation keeps the same speed.

[2020-04-22 06:54] julianoes commented on #12975
Oh nice, can you make a pull request?

[2020-04-22 06:55] julianoes commented on #14722
FYI @bkueng

[2020-04-22 06:58] julianoes commented on #14721
![bokeh_plot](https://user-images.githubusercontent.com/1419688/79950388-50cfed00-8477-11ea-8ec8-927fb5c4c662.png)

Something is off with the baro data.

Which airframe did you select for the Gazebo HITL sim?

[2020-04-22 06:59] AlexisTM commented on #14640
@AlexKlimaj, Wrong Alexis ;)

[2020-04-22 07:44] MartinStokelj commented on #14717
I made offboard calibration, the result is the same, all logs and params are here
https://we.tl/t-3FQiUReeao

Is it normal that gyto and acc ids are not in the same order/numbered
	Line 26: 1	1	CAL_**ACC0**_ID	1246218	6
	Line 41: 1	1	CAL_ACC_PRIME	1246218	6
	Line 855: 1	1	TC_**A1**_ID	1246218	6

[2020-04-22 08:00] mortenfyhn opened #14730 "Cannot start ll40ls on I2C bus 4 when specifying `-b 4` (v1.11.0-beta1)"
When running `ll40ls start -X -b 4` a Garmin LidarLite on that bus won't start. When running `ll40ls start -X`, it does start.

Steps to reproduce the behavior:
1. Flash PixHawk 4 with v1.11.0-beta1 firmware
2. Connect a Garmin LidarLite on the I2C A port.
3. Use QGC's mavlink console, and run `ll40ls start -X -b 4`.
4. Nothing happens.

I expect the driver to start and to begin producing distance

[2020-04-22 09:07] tnkkk commented on #12975
It's first time for me to make a pull request. I'm not sure if I did it in correct way. Please tell me if there are any problems.

[2020-04-22 09:27] LordHelmchen324 commented on #14721
I am using the Iris model from the `sitl_gazebo` directory (the one you are supposed to modify in the [setup instructions](https://dev.px4.io/v1.9.0/en/simulation/hitl.html)).

[2020-04-22 09:35] sfuhrer commented on #14688
@bys1123 The altitude drop is a known issue. It only happens when you are flying in stabilized mode and are ascending fast. When you then switch into transition, the altitude controller that is running in then tries to immediately and aggressively hold the altitude and cuts throttle strongly. It's much smoother when you already before the transition were flying in altitude or position control mode

[2020-04-22 10:53] bkueng commented on #14730
Use `ll40ls start -X -b 1`. With external buses, the bus numbering should match the label, so you don't have to know about board internals.

[2020-04-22 11:00] mortenfyhn commented on #14730
Oh! I didn't realize. Should've tried that. Do you know is this is documented somewhere?

[2020-04-22 11:07] mortenfyhn commented on #14730
And for completeness' sake: I tried `-b 1` and it works perfectly.

[2020-04-22 11:18] #14677 closed

[2020-04-22 11:32] bkueng commented on #14730
`ll40ls -h`?

It should, but not sure if it's correct for all boards. Let me know if you find inconsistencies.

[2020-04-22 11:51] mortenfyhn commented on #14730
You're right, it does indeed say

![bushelp](https://user-images.githubusercontent.com/6639836/79977959-6ce78480-849f-11ea-946c-3cb0d1e9e016.png)

After having previously tested

[code]

and getting

![ll40lsstart](https://user-images.githubusercontent.com/6639836/79978065-91dbf780-849f-11ea-8952-056143fd9db0.png)

I was certain that the `-b` option would expect the same numbering as printed here

[2020-04-22 14:26] dagar commented on #14717
For convenience: [wetransfer-c9996d.zip](https://github.com/PX4/Firmware/files/4516729/wetransfer-c9996d.zip)

[2020-04-22 14:31] dagar commented on #14717
You have relatively huge offsets for the board rotation. Can you zero them and normal calibration (including board level horizon) again?

[code]

[2020-04-22 14:33] MartinStokelj commented on #14717
Yes huge board offset is set after level horizon, level horizon is bad after calibrating accelometers.

[2020-04-22 14:34] julianoes commented on #12975
Thanks @tnkkk!

[2020-04-22 14:45] dagar opened #14733 "verify all distance sensor default orientations"
EKF2 will only use downward facing.

All of this needs to be made user configurable per sensor instance.

[2020-04-22 14:52] dagar commented on #14730
It was a mixed bag prior to v1.11. Some drivers implemented this mechanism, some implemented it differently, some only worked on 1 "special" bus. As of v1.11 it should all be handled consistently now (+/- minor bugs per board).

[2020-04-22 15:18] mrpollo commented on #14659
Thanks for reporting @saengphet

[2020-04-22 16:56] shrit commented on #12975
Thanks @tnkkk

[2020-04-22 17:39] mhkabir opened #14735 "EKF2 velocity estimate wrong - v1.11-beta"
**Describe the bug**
We are flying in indoor environments with VIO, and while testing recently, discovered that the EKF's velocity estimate significantly differed from that provided by the vision system. We don't know if this is a new issue, or whether this already existed before, since we have not flown this setup so extensively before. We also only recently plumbed the vision system's velocity e

[2020-04-22 18:57] JacobCrabill opened #14736 "UAVCAN hardfault on "uavcan param list""
**Describe the bug**
After a few calls `uavcan param <list/get/set>`, I encounter a hardfault that leads to a reboot.

**To Reproduce**
Steps to reproduce the behavior:
1. Black Cube (`px4_fmu-v3_default`) running latest PX4 master branch
2. Power via USB
3. Attach a Here2 GPS to CAN1 (the "real" CAN1)
4. Connect to serial console via an FTDI adapter
5. Call `uavcan status` to ensure UAVCAN is run

[2020-04-22 21:08] marcelino-pensa commented on #14103
You can fix it manually by:
Open `~/src/Firmware/Tools/sitl_gazebo/include/gazebo_opticalflow_plugin.h` and replace `#define HAS_GYRO TRUE` with `#define HAS_GYRO true` (make TRUE) lowercase.

It seems like the submodule related to the tag `v1.10.1` does not have the update that fixes this.

[2020-04-22 23:56] dagar commented on #14640
Note: ecl/EKF baro dynamic pressure compensation seems broken

[2020-04-22 23:59] dagar commented on #14640
New test logs from @AlexKlimaj
 - v1.10 baseline (good flight) https://review.px4.io/plot_app?log=d26da1f6-24a8-43e3-aadc-0bf5a634d86f
 - v1.11 beta (bad): https://review.px4.io/plot_app?log=e625d55b-613c-43f8-bad7-ce666000b264
 - v1.11 beta (EKF2_HGT_MODE=GPS good flight): https://review.px4.io/plot_app?log=7f123d8b-0c5d-4188-88b8-df5752340d4d
 - v1.11 beta (EKF2_BARO_NOISE tuning good flight): h

[2020-04-23 02:50] zhaoxiaowei1013 commented on #13483
This problem still exists. I tested this problem in the latest master branch
![Screenshot from 2020-04-23 10-49-20](https://user-images.githubusercontent.com/9687758/80053708-230aa700-8550-11ea-8ac9-e3f8c5fd90fb.png)
And all in my  cuav v5+ is work good.

[2020-04-23 03:44] zhaoxiaowei1013 opened #14740 "Durandal: manual logger start fails"
Starting logger on Durandal (master  branch) manually from Mavlink console seems to fail:

![Screenshot from 2020-04-23 11-42-42](https://user-images.githubusercontent.com/9687758/80056780-9663e700-8557-11ea-9314-c95e3a530e68.png)

[2020-04-23 03:45] zhaoxiaowei1013 commented on #14740
same as #13483

[2020-04-23 04:20] ryanjAA commented on #14722
Cherrypicked and same result. 16 sats Max. Tried a different firmware in same location at the same time and more than 16 sats so not hardware.

[2020-04-23 05:07] AlexKlimaj commented on #14640
It was pretty obvious today that the pressurization coefficients weren't doing anything but turning up the EKF2_BARO_NOISE value greatly improved the altitude hold. You can see it in the third log "Local Z Position".

[2020-04-23 07:03] bkueng commented on #14730
What if we extend the output to say `on I2C bus 4 (1. external bus)`?

What do you suggest?

[2020-04-23 07:32] mortenfyhn commented on #14730
I see, that sounds much better. I have mostly used the ll40ls driver, so I didn't realize other drivers acted differently in v1.10.

---

We have
* internal as in used with `-I`, and
* external as "4" in `ll40ls #0 on I2C bus 4 (external)`, and
* external as "1" in `-X -b 1`

Do we have terminology to differentiate the last two?

One possible solution is to print an explanation if the user tries t

[2020-04-23 07:36] vanurag commented on #14651
Hey guys, any update on this issue? I saw that a new issue for [unit-testing EKF replay](https://github.com/PX4/Firmware/issues/14695) has been opened. Does that mean the EKF replay in it's current state is not functional?

[2020-04-23 07:46] RomanBapst commented on #14640
@AlexKlimaj In the logs that you shared the coefficients for baro compensation were all set to zero, so it's expected to do nothing. Am I missing something?

[2020-04-23 08:57] bkueng commented on #14730
Yes that is generally too verbose and would clutter the boot output unnecessarily.

[2020-04-23 09:08] mortenfyhn commented on #14730
Yeah, I guess so.

Then I suggest a slight modification to your suggestion: `on I2C bus 4 (corresponds to -b 1)`. I just think explicitly mentioning that this number is used with `-b` is useful.

[2020-04-23 11:11] bkueng commented on #14730
Ok, I'll do the change.

[2020-04-23 11:22] mortenfyhn commented on #14730
Great! Thank you.

[2020-04-23 12:35] haihai008 commented on #13408
I've had the same problem using APM firmware. Finally, it was found that flight control had installed ultrasonic height detection equipment, and it was normal to restore the default settings.

[2020-04-23 13:00] dagar commented on #14640
You can see a range of values tried in the last log. https://review.px4.io/plot_app?log=d178c0b5-b863-4038-bead-9026c0a0a598

[2020-04-23 13:44] dagar commented on #14735
The accel (icm20649) calibration changed quite a bit. Notably there's no longer a huge x offset. This was also seen in https://github.com/PX4/Firmware/pull/14676#issuecomment-617512387. I'd say there was something bogus in the old mpu6000 driver.

### Old
[code]

### New
[code]

[2020-04-23 13:45] LorenzMeier commented on #14735
@dagar I would add code to wipe the params on update. The factory calibration of the ICM20649 is so good that you're better off having none.

[2020-04-23 13:54] dagar commented on #14736
This is probably just the command line uavcan param helpers missing locking.

[2020-04-23 14:13] bys1123 commented on #14688
Thanks! We tested with this parameter, works better now! @sfuhrer
https://logs.px4.io/plot_app?log=a3e8367a-cd6b-4f7f-b5a1-b5c4cec74bb9

[2020-04-23 14:33] dagar commented on #14736
Working on a fix in https://github.com/PX4/Firmware/pull/14741.

[2020-04-23 15:47] ThomasRigi commented on #14689
@dagar

I'm experiencing the same / similar issue. For me it's the standard_vtol that I'd need but isn't working. Current master, Ubuntu 18.04.

I got 59 problems:
![image](https://user-images.githubusercontent.com/48206725/80118346-8f090180-8588-11ea-97d0-4497027fcc44.png)
...
![image](https://user-images.githubusercontent.com/48206725/80118377-9a5c2d00-8588-11ea-9774-c8f6b95ed1d2.png)
and this p

[2020-04-23 16:50] jstrebel opened #14743 "1.11.beta: Fixed Wing Flaps PWM output only on ch6, but not on ch7"
On my FW with 1.10.1 I have the flaps on channel 6 & 7, works fine.
**Not with 1.11.beta1.** Only flap on channel 6 is moving. Flap on Channel 7 is dead.
Reverted back to 1.10.1 on the same pixhawk, both Flaps working again.
QGC is on 4.0.6
HW: pixhawk4
Please let me know If you need futher info

Mixer file is on ./microsd/etc/mixers
[code]

[2020-04-23 17:18] mhkabir commented on #14735
@RomanBapst @bresch @kamilritz @jkflying Can you have a look?

[2020-04-23 18:15] gyronikeleg commented on #12463
@JenaEmz Hello Jena, I am having a very similar issue.  I saw that you were able to resolve it, but I dont understand your resolution.  Can you expand upon that a bit?

[2020-04-23 18:19] MartinStokelj commented on #14717
According to logs, the TC is probably added to wrong accelometer.
LSM303D showing wrong offsets when board is on the table.

![untitled1](https://user-images.githubusercontent.com/30079270/80134674-62141900-859f-11ea-9232-9e1d306fe1aa.png)
![untitled2](https://user-images.githubusercontent.com/30079270/80134678-63454600-859f-11ea-92bc-f188b67c294f.png)
![untitled3](https://user-images.githubuserco

[2020-04-23 19:51] rblilja opened #14744 "SHA256 broken for px4.py"
SHA256 broken for px4.py when installing tool chain using brew on Mac OS 10.14.6.

==> Installing px4-dev from px4/px4
==> Downloading https://raw.githubusercontent.com/PX4/Firmware/master/Tools/px4.
######################################################################## 100.0%
Error: An exception occurred within a child process:
  ChecksumMismatchError: SHA256 mismatch
Expected: 48199ee9ff392eff

[2020-04-23 19:57] dagar commented on #14744
@TSC21 do you know anything about this?

[2020-04-23 20:00] TSC21 commented on #14744
No. The only thing I did was updating the file output. One fix I saw regarding this is manually delete the file and run the brew update and brew install cmds again.

[2020-04-23 20:02] TSC21 commented on #14744
@rblilja did you have the toolchain before?

[2020-04-23 20:03] rblilja commented on #14744
@TSC21 No this is a clean install. Removing the file does not help. Tried update commands, doctor says everything is OK.

[2020-04-23 20:06] TSC21 commented on #14744
Ok I think I know the solution. Standbye

[2020-04-23 20:13] TSC21 commented on #14744
@rblilja @dagar fix in https://github.com/PX4/homebrew-px4/pull/54.

[2020-04-23 20:24] TSC21 commented on #14744
@rblilja https://github.com/PX4/homebrew-px4/pull/54 was merged. Would you mind try again?

[2020-04-23 20:25] rblilja commented on #14744
Success! Thank you!

[2020-04-23 20:25] #14744 closed

[2020-04-24 00:05] zhaoxiaowei1013 commented on #14274
in the master branch，this problem is fixed

[2020-04-24 00:05] #14274 closed

[2020-04-24 00:28] hamishwillee commented on #13723
@julianoes Who should be assigned owner to this - either to close or progress?

[2020-04-24 03:40] dagar opened #14745 "pixhawk mini IMU missing v1.11.0-beta1"
Two reports of the 3DR/Holybro pixhawk mini IMU not starting with v1.11.0-beta, however the single unit I have seems to be working.

 - possible confusion with px4_fmu-v2 vs px4_fmu-v3 builds was verified

[2020-04-24 03:41] dagar commented on #14745
@davids5 do you have a unit you could check quickly?

[2020-04-24 03:42] bys1123 commented on #14745
Here is some screenshots
![image](https://user-images.githubusercontent.com/4748411/80172815-94198f80-8620-11ea-9bcf-44c34cc0ba2f.png)
![image](https://user-images.githubusercontent.com/4748411/80172848-aabfe680-8620-11ea-9463-1eec2ac0a227.png)
![image](https://user-images.githubusercontent.com/4748411/80172858-b0b5c780-8620-11ea-8f30-971974f179d0.png)

[2020-04-24 03:44] dagar commented on #14745
Thanks @bys1123. Could you capture the output of `ver all` as well?

[2020-04-24 03:50] bys1123 commented on #14745
@dagar No problem. It's lunch time in china, will reply you half hour later.

[2020-04-24 04:11] bys1123 commented on #14745
![image](https://user-images.githubusercontent.com/4748411/80174275-c0370f80-8624-11ea-83be-556f38ee7ff9.png)
@dagar

[2020-04-24 04:15] bys1123 commented on #14745
![image](https://user-images.githubusercontent.com/4748411/80174430-350a4980-8625-11ea-976b-ae706cda7187.png)

[2020-04-24 04:15] dagar commented on #14745
Ok, I was able to get mine stuck in the same state after upgrading (automatic reboot). After a fresh power cycle (disconnect + reconnect usb) it works.

[code]

[code]

[2020-04-24 04:17] bys1123 commented on #14745
@dagar Tried a fresh power cycle, still not works.

[2020-04-24 04:23] bys1123 commented on #14745
![image](https://user-images.githubusercontent.com/4748411/80174803-5b7cb480-8626-11ea-9998-a242abfbb51f.png)

[2020-04-24 04:57] julianoes commented on #13723
@hamishwillee whoever has a setup and can make and test the required changes :man_shrugging:.

[2020-04-24 08:37] Prasheel24 opened #14747 "px4_sitl gazebo not working on ubuntu16.04 with gazebo9"
Please suggest a work around for the pc hangup when run the command
[code]
-- computer freezes when doing this -- I have to press the power button to restart.

I am trying to simulate a plane in gazebo and work with the mavsdk libraries.
If this issue is still new, then I do have a pixhawk with which I can start HITL directly. But would need the steps to run mavsdk c++ file to run a mission on QGC

[2020-04-24 09:14] bkueng commented on #14722
Apparently this is indeed a hardware restriction (in combination with how we configure it): with 10Hz update rate you only get up to 16 satellites. Reducing to 5Hz allows to go higher.

I reduced to 5Hz, so we can use more satellites: https://github.com/PX4/GpsDrivers/pull/57

[2020-04-24 09:23] bkueng commented on #14730
See https://github.com/PX4/Firmware/pull/14748

[2020-04-24 10:59] #14730 closed

[2020-04-24 11:56] Prasheel24 commented on #14747
Update:
So, I had been SMH for quite a few days on this, and finally got it to work!
I commented every dependency in the CMakeLists of sitl_gazebo. Somehow with all at once, the plugins do not work. I worked them out one by one.
But, there are some serious issues in usv_dynamics plugin as thats the last part in the commented part with which the issue still exists!. Also, had to first build on px4_

[2020-04-24 12:06] julianoes commented on #14747
I guess it's your computer running out of RAM during linking.

This is a warning, so you should be able to get around it by disabling `-Werror`.

[2020-04-24 12:09] Prasheel24 commented on #14747
I am using an 8GB RAM with >50GB free space on my hard drive. I have an NVIDIA GPU.
I would be happy to know the requirements to run the firmware?

[2020-04-24 12:31] bys1123 commented on #14747
RAM usage depends on your CPU thread (compiler jobs), usually need 2GB per job.

[2020-04-24 12:36] Prasheel24 commented on #14747
Well, I wonder how this same firmware works well on a Pixhawk2 (currently using for HITL).
Please mind my knowledge in the field, kind of a rookie in flying drones but I'm good with C++!

Anyway, great to know about this. Would definitely take a look at the source code.

Thank you for the insight.

[2020-04-24 14:05] dagar commented on #14735
The integrated data in the accel x axis looks questionable in sensor_combined.

![Screenshot from 2020-04-24 10-02-20](https://user-images.githubusercontent.com/84712/80221082-c8864f00-8612-11ea-897a-4fe45ffd7871.png)

![Screenshot from 2020-04-24 10-01-24](https://user-images.githubusercontent.com/84712/80221000-a68ccc80-8612-11ea-8314-c101c7eaf427.png)

This is where the estimated bias (~0.2 m/s

[2020-04-24 14:59] SarthakGupta22 commented on #14696
Thanks @Jaeyoung-Lim and @pravardhanreddy, got this issue resolved. Missed sourcing the bash file, hence the error was coming.

[2020-04-24 14:59] #14696 closed

[2020-04-25 17:40] kamilritz opened #14760 "[MAVSDK TEST] Groundtruth always zero for vision and flow model"
Inside the mavsdk test, when using the offboard mode, ground truth information from the gazebo simulation is used to perform checks.
Apparently for the two models iris_vision, iris_opt_flow_mockup the ground truth information is not received correctly and is always zero. Therefore all tests are passing.
![MAVSDK](https://user-images.githubusercontent.com/23532607/80286568-78031480-872c-11ea-8a17-1

[2020-04-25 21:31] sfuhrer commented on #14743
@jstrebel could you share a log from this? Even from some bench testing would be useful, so just arm the vehicle on the ground and apply the flaps. Thanks!

[2020-04-26 00:28] dakejahl commented on #14640
Here are another 2 logs comparing v1.10.1 and v1.11.0 with the exact same parameter set.

**v1.10.1**
https://review.px4.io/plot_app?log=e07547d3-ca65-4b20-b7e6-dc05109a6fe0

**v1.11.0**
https://review.px4.io/plot_app?log=abde49b7-8b99-4b95-b381-20f9959ff2be

My airframe setup has never been great for me due to vibration (Holybro S500 kit), but as you can see the local_z on 1.11 has much greater s

[2020-04-26 08:37] weekly-digest[bot] opened #14761 "Weekly Digest (19 April, 2020 - 26 April, 2020)"
Here's the **Weekly Digest** for [*PX4/Firmware*](https://github.com/PX4/Firmware):

 - - -
# ISSUES
Last week 60 issues were created.
Of these, 19 issues have been closed and 41 issues are still open.
## OPEN ISSUES
:green_heart: #14760 [[MAVSDK TEST] Groundtruth always zero for vision and flow model](https://github.com/PX4/Firmware/issues/14760), by [kamilritz](https://github.com/kamilritz)
:gre

[2020-04-26 11:14] pkyadav73199 opened #14762 "ERROR: cannot launch node of type [px4/px4]: can't locate node [px4] in package [px4]"
**Describe the bug**
ERROR: cannot launch node of type [px4/px4]: can't locate node [px4] in package [px4]

I am getting the above error while launching gazebo7 on ubuntu 16.04, drone has been launched in gazebo environment but i am not able to connect with FCU while runing with mavros node.

[2020-04-26 12:59] jstrebel commented on #14743
the first is the log 1.10.1
https://review.px4.io/plot_app?log=23e498af-9db1-4794-9464-35c3a2bd529e
this is the log with to 1.11.beta.
Hope this helps. ( I did downgrade to 1.10.1 und upgrade to 1.11.beta several times. NO change with the hardware nor parameter changes

[2020-04-26 14:27] #13116 closed

[2020-04-26 16:36] kamilritz commented on #14762
Did you build the gazebo simulation? By `DONT_RUN=1 make px4_sitl gazebo`

[2020-04-26 22:04] sfuhrer commented on #14743
Thanks for the logs. One thing I find weird is that there is also some output on the AUX, even though the aux mixer is set to pass. Not sure if that's related though.
![image](https://user-images.githubusercontent.com/26798987/80321078-a19a6980-881a-11ea-9e40-f258c49c9a5e.png)

[2020-04-26 22:24] sfuhrer commented on #14743
@jstrebel could you maybe run a test with all the other stuff beside the settings for the Flap channels removed in the mixer, so only:

servo 6 flaps links
M: 1
O: -10000 -10000 0 -10000 10000
S: 0 4 0 20000 -10000 -10000 10000

servo 7 Flaps rechts

M: 1
O: 10000 10000 0 -10000 10000
S: 0 4 0 20000 -10000 -10000 10000

?

[2020-04-27 02:12] hamishwillee commented on #13723
Well, it definitely needs to be fixed, so I have hit the pinned button.

[2020-04-27 03:03] pkyadav73199 commented on #14762
YES  I did.

I have launched the gazebo by running the following codes.

DONT_RUN=1 make px4_sitl_default gazebo
source ~/catkin_ws/devel/setup.bash    # (optional)
source Tools/setup_gazebo.bash $(pwd) $(pwd)/build/px4_sitl_default
export ROS_PACKAGE_PATH=$ROS_PACKAGE_PATH:$(pwd)
export ROS_PACKAGE_PATH=$ROS_PACKAGE_PATH:$(pwd)/Tools/sitl_gazebo
roslaunch px4 posix_sitl.launch

[2020-04-27 04:25] pkyadav73199 commented on #14762
YES I did.

I have launched the gazebo by running the following codes.

DONT_RUN=1 make px4_sitl_default gazebo
source ~/catkin_ws/devel/setup.bash # (optional)
source Tools/setup_gazebo.bash $(pwd) $(pwd)/build/px4_sitl_default
export ROS_PACKAGE_PATH=$ROS_PACKAGE_PATH:$(pwd)
export ROS_PACKAGE_PATH=$ROS_PACKAGE_PATH:$(pwd)/Tools/sitl_gazebo
roslaunch px4 posix_sitl.launch

On Sun, Apr 26, 2020 a

[2020-04-27 05:33] kamilritz commented on #14762
Then I don't know what could be the issue, sry. I am sure, someone else can.

[2020-04-27 07:07] RomanBapst commented on #14640
@dakejahl I had a look at your logs and assuming that it was a side by side comparison I'm convinced there is something really off. We will investigate.

[2020-04-27 07:11] LorenzMeier commented on #14743
@jstrebel I would test removing all comment lines. Multi-line comments and alike things are not officially supported in mixers.

[2020-04-27 08:07] bkueng commented on #14659
Another report: https://logs.px4.io/plot_app?log=1c41e67f-696b-4b76-a669-cf4cd42330b0
[code]

[2020-04-27 09:01] julianoes commented on #14760
Thanks @kamilritz. I was seeing these errors too but then gave up debugging it.

1. We should not send 0, right!?
2. Why is the ground truth 0 for these models? That's also wrong, right?

[2020-04-27 09:21] kamilritz commented on #14760
@julianoes
1) I was printing out the ground truth inside the gazebo_gps_plugin. I never observed that it was generating a 0 in the beginning and switching to another value in the beginning. A hacky way to solve this, would be to check for an non zero ground truth position during the `request_ground_truth()` call. But actually a ground truth position of 0 could happen. Especially if it is not recei

[2020-04-27 11:07] jstrebel commented on #14743
@LorenzMeier, I deleted the comment lines. No change in behavior.
@sfuhrer If I put only the Flap entries in the mixer file, then as expected the two ailerons (channel 1 and 2) move as flaps in the correct direction.
- If I put the two entries of the ailerons as the first two entries, then the ailerons work correct. The Flaps move now at channel 3 and 4 (yaw and elevon)
In case I go back to the co

[2020-04-27 14:11] ryanjAA commented on #14722
Tested at 25hz and still limited to 16 sats. Tested at 5hz and no limitation so unfortunately it is a hardware constraint. https://github.com/PX4/GpsDrivers/pull/57 Breaks functionality with the M9N (as a few other things are added in the PR) but testing this with the previous driver change works fine with the reduced hz changes.

[2020-04-27 14:25] dagar commented on #14722
I'm just curious, are you gathering and comparing any other metrics along with the satellite count and output data rate?

[2020-04-27 14:46] ryanjAA commented on #14722
What specifically? HDOP and VDOP? HDOP drops by half when going from 16 to 22-24 sats and when hitting 29+ starts to decrease further.

<img width="448" alt="Screen Shot 2020-04-25 at 10 15 19 PM" src="https://user-images.githubusercontent.com/31726584/80385663-f74b3200-886b-11ea-8930-d8b9ff659c2a.png">
<img width="485" alt="Screen Shot 2020-04-25 at 3 24 45 PM" src="https://user-images.githubuser

[2020-04-27 18:15] pkyadav73199 opened #14775 "ninja: build stopped: subcommand failed"
**Describe the bug**
I am trying to simulate UAV using px4 with mavros node but i am getting error while launching gazebo.

ninja: build stopped: subcommand failed.
Makefile:205: recipe for target 'px4_sitl' failed
make: *** [px4_sitl] Error 1

**To Reproduce**
mkdir -p ~/src
cd ~/src
git clone https://github.com/PX4/Firmware.git
cd Firmware
git submodule update --init --recursive
make px4_sitl ga

[2020-04-27 18:57] julianoes commented on #14775
There should be more error than that. Can you paste all the output? And also try a clean build?

[2020-04-27 19:12] pkyadav73199 commented on #14775
-- PX4 version: v1.11.0-beta1-93-g70329ce
-- PX4 config file: /home/edith/src/Firmware/boards/px4/sitl/default.cmake
-- PX4 config: px4_sitl_default
-- PX4 platform: posix
-- PX4 lockstep: enabled
-- cmake build type: RelWithDebInfo
-- The CXX compiler identification is GNU 5.4.0
-- The C compiler identification is GNU 5.4.0
-- The ASM compiler identification is GNU
-- Found assembler: /usr/bin/cc

[2020-04-27 20:17] mhkabir commented on #14775
The compile error output above tells you what to do, please read it.

[2020-04-27 20:17] #14775 closed

[2020-04-27 22:55] dakejahl commented on #14640
Thanks! Yeah it was side by side, minutes apart, flights separated by a firmware update.

[2020-04-28 01:28] dagar opened #14777 "v1.11 reset icm20689 accel calibration?"
With the new icm20689 the ~~scale factor~~ offset comes out close to 0. Existing setups calibrated with PX4 v1.10 (the mpu6000 driver) seem to have an offset on one axis that's nearly 2.

This is a bit hacky, but at param import time we can identify this in the parameters and reset the offset if it exists only on one axis and exceeds some arbitrary value.

FYI @MaEtUgR

[2020-04-28 04:28] mhkabir commented on #14735
Happened again on master: https://logs.px4.io/plot_app?log=6a006545-b3bf-446f-9baf-f89c5fcfb542

Same vehicle, with @dagar's new fix attempts, and a fixed companion computer fan (so lower vibrations on ground)

![image](https://user-images.githubusercontent.com/5557676/80447370-3cf91080-88e7-11ea-8e83-c2d5fb9a729a.png)

[2020-04-28 05:47] priseborough commented on #14651
I've run a check using a log generated using jmavsim built using master at commit https://github.com/PX4/Firmware/commit/326d8efc166331d5b9a0fc96836b68e82142a409 and it looks like there are two issues.

The first, which is easily fixed is that during replay, the logging of the uORB data does not start until after 20 seconds. This can be fixed by reducing the number of microseconds between subscrip

[2020-04-28 06:58] jstrebel commented on #14743
@sfuhrer, did you get the required info you requested from me?
Is there a reason that this issue is not marked as a bug?

[2020-04-28 07:40] priseborough commented on #14640
Could be related to https://github.com/PX4/Firmware/issues/14735

[2020-04-28 07:54] priseborough commented on #14651
The next step is to determine if this is a jmavsim issue of if it also affects logs generated using gazebo

[2020-04-28 08:51] bresch commented on #14735
@mhkabir Your VIO system seems to provide a velocity estimate with a variance of 5 m2/s2
![2020-04-28_10-49-39_01_plot](https://user-images.githubusercontent.com/14822839/80467289-e79c1e00-893d-11ea-8ef3-bc3ba2cd2075.png)

[2020-04-28 08:56] bresch commented on #14735
@mhkabir Your VIO system seems to provide a velocity estimate with a variance of 5 m2/s2 (std dev: 2.2m/s). A typical GPS gives velocity aiding with an accuracy of 0.5m/s. ![2020-04-28_10-49-39_01_plot](https://user-images.githubusercontent.com/14822839/80467289-e79c1e00-893d-11ea-8ef3-bc3ba2cd2075.png)

[2020-04-28 08:56] julianoes commented on #14775
[code]

[2020-04-28 09:32] sfuhrer commented on #14743
@dagar do you have any idea what could have changed on the mixer level lately?

[2020-04-28 09:49] kamilritz commented on #14735
@bresch @mhkabir  Oh that is for sure not optimal. This remembers me of a bug that I wanted to fix inside the velocity-in-body-frame PR (, which is not merged yet). I am sorry for not creating a single PR for the bug fix. Can you spot the [bug](https://github.com/PX4/Firmware/blob/master/src/modules/ekf2/ekf2_main.cpp#L1126-L1128)?

[2020-04-28 10:08] MaEtUgR commented on #14777
@dagar I didn't see a scale of 2 in my cases. Is that a different issue?

I was reporting the case where I had to recalibrate the accelerometer on both vehicles that had a Firmware older than 2 months ago and I updated to master. I recalibrated because both vehicles showed a steep pitch angle when completely level in the attitude estimate represented by QGC's virtual horizon after updating.

The q

[2020-04-28 10:45] MartinStokelj commented on #14717
Hi I am trying to test this new FW but I do not see TC_* params, I don't know how to enable TC now.

![Untitled](https://user-images.githubusercontent.com/30079270/80478649-18844f00-894e-11ea-907f-d7a4441ddd80.png)

[2020-04-28 11:28] MartinStokelj commented on #14717
After compiling px4_fmu-v2_default.px4 I saw that there is no TC_A_ENABLE param...
Reading the web I saw we need to build as px4_fmu-v3_default.px4 to get the TC params.
With new FW the calibration off acc,gyro was success, and after level horizon all was ok, so I think the problem is solved.

[2020-04-28 14:13] dagar commented on #14717
Thanks for testing @MartinStokelj, but it's not technically resolved until https://github.com/PX4/Firmware/pull/14776 is fully reviewed and merged.

[2020-04-28 14:16] mhkabir commented on #14735
@bresch Good catch with the variances. What you're looking at is actually the _position_ variance, thanks to the above bug. This is fishy regardless (such a large position variance is not right), and seems to be something on our side, looking into it.

[2020-04-28 14:32] dagar commented on #14777
The root cause appears to be this undocumented register applied to ICM devices in the old mpu6000 driver. This mpu6000 driver was used for the mpu6000, icm20602, icm20608g, icm20689 up until recently.

https://github.com/PX4/Firmware/blob/ccaa103164a09d66ff9faf4fcdfb39a09ba834a1/src/drivers/imu/mpu6000/MPU6000.cpp#L194

[2020-04-28 14:35] dagar commented on #14777
I think the only question then is if we force recalibration of everything if the offset is this bad or can we get away with only clearing the single offset under the right conditions.

[2020-04-28 14:55] pkyadav73199 commented on #14775
Thanks a lot .
It works.
I have done simulation successfully .

[2020-04-28 15:01] mhkabir commented on #14735
There seems to have been a bunch of separate issues in play here:

[2020-04-28 15:33] mhkabir commented on #14735
There seem to have been a bunch of issues in play simultaneously here:
- Accelerometer bias estimates were exploding, which seems to have been fixed thanks to @dagar (https://github.com/PX4/Firmware/pull/14752 and https://github.com/PX4/Firmware/pull/14765)
- Our vision position variances were wrong, found thanks to @bresch. We will fix this properly on our side longer term, for now using a fixed

[2020-04-28 15:33] #14735 closed

[2020-04-28 16:35] bys1123 commented on #13547
We created this general usage driver in C first: https://github.com/DimianZhan/spl06
@Kirishikesan

[2020-04-28 16:58] bys1123 commented on #14777
Maybe we should add a parameter storage what version firmware been used in previous bootup. Then with some mapping work the program could know what initialize progress it should do after firmware update.

[2020-04-28 17:00] bys1123 commented on #14777
If not, I guess we would reset recalibration everytime after firmware update in the future?

[2020-04-28 18:47] dagar opened #14782 "v1.11 verify GPS support for both ublox m9n & ZED-F9P"
Either update the entire GPSDrivers submodule or cherry pick.

[2020-04-28 20:23] jstrebel commented on #14743
I made some further experiments. If I put the following mixer file on the sd card then I get:
#### AAERTWF.main.mix
#### Skywalker 2000
##  10.4 16:30
#### servo 1 Quer rechts
M: 1
O:      10000  10000      0 -10000  10000
S: 0 0  10000  10000      0 -10000  10000
#### servo2 Quer links
M: 1
O:      10000 10000    0 -10000  10000
S: 0 0  10000  10000   0 -10000  10000
### servo 3 Hoehe
M: 1
O:

[2020-04-28 23:35] shubang93 opened #14783 "SITL Z-Drift in position estimate when drone is doing nothing"
I'm trying to use PX4 SITL using the Typhoon H480 model. All I do is instantiate the simulator using the following commands:
[code]
Then, I just let it sit there for about 200 seconds. A couple of things happen:

1. There is a sudden increase in noise along Z for IMU measurement
2. Eventually there is a shift in the average value of IMU - Z measurement
At the second point (circled in the plot), th

[2020-04-29 06:58] bkueng commented on #14782
I think it's better to branch off at this point: https://github.com/PX4/Firmware/pull/14785

[2020-04-29 07:05] jstrebel commented on #14743
Observation: If I remove the sd card, forcing px4 starts with the built in mixer (Bormatec Maya) channel 4 Yaw and channel 6 Flaps show the same value if I do pwm info.

[2020-04-29 07:22] jstrebel commented on #14743
Observation: If I remove the sd card, forcing px4 starts with the built in mixer (Bormatec Maya) channel 4 Yaw and channel 6  in this case wheel ( show the same value if I do pwm info). There is no pwm output value on channel 7
![pwm_info_maya](https://user-images.githubusercontent.com/2244311/80570321-d8c77100-89fa-11ea-8885-9308e17aa17c.JPG)

[2020-04-29 08:50] lovettchris opened #14786 "WARN [mc_pos_control] Offboard activation failed with error: Activation Failed"
Trying to get AirSim to work with latest PX4 master bits.  It works fine with 1.10.1, but not with master.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone [this version of AirSim](https://github.com/microsoft/AirSim/pull/2634).
2. make px4_sitl_default none
3. Launch this [AirSim Neighborhood binary (1.3gb)](https://drive.google.com/open?id=1cyGAF3xJWcnA0wtdflSOGPAPy-WQFFhe) or the [Ai

[2020-04-29 10:06] julianoes commented on #14783
Interesting, thanks for the issue.
FYI @Jaeyoung-Lim @bresch

[2020-04-29 10:39] julianoes commented on #14786
FYI @Jaeyoung-Lim @MaEtUgR

[2020-04-29 14:55] mhk4zemi opened #14787 "pixhawk is not allowing GPS to be fixed"
Hi guys

Recently I have an issue with my flight controller. I can see on the Qgroundcontrol that GPS recognizes many satellites for instance 10 or more, although Pixhawk seems cannot sense it so it is not reading the position of the drone. The value of the HDOP and VDOP of the GPS signal is low.  I have also uploaded a picture of the noise and jamming level of the GPS.

This is happening once we

[2020-04-29 15:04] rmtorre commented on #10778
Hello guys

I have the same issue. I have a Pixhawk 4 and a Here+ RTK. Does anyone knows if is just a pinout problem? Any updates, please?

Thanks

[2020-04-29 15:39] dagar commented on #14782
Done https://github.com/PX4/Firmware/pull/14785.

[2020-04-29 15:39] #14782 closed

[2020-04-29 15:56] julianoes commented on #13752
No response, closing.

[2020-04-29 15:56] #13752 closed

[2020-04-29 15:56] julianoes commented on #12309
Fixed in #13158.

[2020-04-29 15:56] #12309 closed

[2020-04-29 16:01] julianoes commented on #14787
Could you share the link to the log?

[2020-04-29 16:27] mrpollo commented on #12309
In your face @stale bot!

Thanks @julianoes 🎵🎶🎵🎶

[2020-04-29 22:08] dan-leo opened #14792 "Port new airship vehicle type from v1.10 to master"
As mentioned in [https://discuss.px4.io/t/new-vehicle-type-airship/16514](https://discuss.px4.io/t/new-vehicle-type-airship/16514), our team has created an airship vehicle type and the next step is to port it to master from v1.10 before it can be integrated.

It would be helpful if any caveats or challenges can be highlighted here. Once it is ported, the relevant documentation can also be updated!

[2020-04-29 22:37] dagar commented on #14792
I'm not sure about specific caveats or challenges in general, but depending on how far along you are I'd encourage you to open smaller incremental pull if you'd actually like detailed feedback.

As for maintaining support for a new vehicle type like this (that not many of us have access to) it will be quite helpful if you can add some basic automated testing (eg simple mission in gazebo).

[2020-04-30 01:04] #14588 closed

[2020-04-30 06:43] julianoes opened #14795 "Log file download from Pixhawk over MAVLink seems broken"
I'm trying to download the log files using either QGC or MAVSDK but nothing happens when I request the files. This is with a Pixhawk 4 and Pixracer.

[2020-04-30 06:58] julianoes commented on #14795
This seems to be a MAVLink specification problem. If there are no logs on the SD card then there is no response to [LOG_REQUEST_LIST](https://mavlink.io/en/messages/common.html#LOG_REQUEST_LIST) which looks the same as a timeout.

I'm closing this since it's not a PX4 problem as such.

[2020-04-30 06:58] #14795 closed

[2020-04-30 07:21] julianoes commented on #14795
I found that actually PX4 sends one [LOG_ENTRY](https://mavlink.io/en/messages/common.html#LOG_ENTRY) with `id` = 0 and `num_logs` = 0 to signal that there is no log available.
I will add that to the specification.

[2020-04-30 08:52] priseborough commented on #14651
Gazebo has a GPS delay rel to the time stamp of around 110msec

![Screen Shot 2020-04-30 at 6 50 39 pm](https://user-images.githubusercontent.com/3596952/80691473-a9f0ee00-8b13-11ea-85c0-6b0f2b2e6964.png)

Here is the same code and post  takeoff manoeuvre flown using jmavsim which shows a 200msec delay

/home/parallels/src/Firmware/build/px4_sitl_default/tmp/rootfs/log/2020-04-30/08_48_00.ulg

It

[2020-04-30 09:02] RomanBapst commented on #14743
@jstrebel Really weird. I assume that you are using IO for pwm, correct?

[2020-04-30 10:07] MaEtUgR commented on #14786
The issue I've seen last is https://github.com/microsoft/AirSim/issues/2477 There it's also mentioned that the sensor bitmask interface that allows publishing different sensors at different timings is likely the cause. I don't knwo the exact details but @TSC21 might know where it's standing.

[2020-04-30 10:19] jstrebel commented on #14743
Correct I/O PWM OUT on the pixhawk4. Its really weird. Going back to 1.10.1 everything works again.

[2020-04-30 10:45] RomanBapst commented on #14743
@jstrebel Can you try to use the pwm test command on that channel?

[2020-04-30 11:23] igalloway commented on #10336
For the record, this adjustment was done on the DCD-LZ DCD-LZ-ADAPT adapter board to prevent the FTDI USB-UART cable from providing power.

[2020-04-30 11:25] jstrebel commented on #14743
I did the following test with the standard Bormatec mixer no SD CARD inserted
pwm test -c 6 -p 1000 and 1800
pwm test -c 7 -p 1000 and 1800
Result: Both Flap Servo move

[2020-04-30 12:47] garfieldG opened #14798 "Flight Task - Additional tasks are not being switched to if no other task is currently running"
**Describe the bug**
Additional tasks (for now - only Orbit) are being switched to through the _updateCommand() method.
The _updateCommand()  method is being called only by update() method, but the update() method is called only if there is an active task.
The situation is that additional tasks can't be started if there is no active task running.

[2020-04-30 13:12] tstellanova opened #14799 "FMUv4 fails to build (with uavcan error)"
- Clone PX4/Firmware master branch (or stable, doesn't make a difference)
- Build for FMU v4 fails:

[code]

- I'm using a Mac OSX build machine that successfully builds eg Durandal.

[2020-04-30 13:29] MaEtUgR commented on #13961
That means if I'd switch to the `--user` python module installation when setting up the toolchain here: https://github.com/PX4/windows-toolchain/blob/ce3bac26991f7317fee74c33135e32855a2636cb/toolchain/cygwin64/install-cygwin-python-packages.bat#L12 it might solve your issue and the CI and `run-console.bat` requiring to wrap all build commands in a login shell with `bash --login` or `bash -l`. Let

[2020-04-30 13:39] MaEtUgR commented on #13961
No I checked it doesn't work because numpy and jinja2 need to be installed through the packet manager (see https://github.com/PX4/windows-toolchain/blob/ce3bac26991f7317fee74c33135e32855a2636cb/toolchain/cygwin64/install-cygwin-px4.bat#L16-L17) because they contain binaries that we don't want to build from source (out of the box pip install fails) and the packet manager installs them in a system w

[2020-04-30 13:39] #13961 closed

[2020-04-30 13:55] Jaeyoung-Lim commented on #14786
@lovettchris Out of curiosity, does this mean that mission mode is functional with the branch you mentioned?

[2020-04-30 14:31] dagar commented on #14799
Durandal doesn't have UAVCAN.

Python version is my first guess. We have simple Mac OS CI builds that are still working. http://ci.px4.io:8080/blue/organizations/jenkins/PX4_misc%2FFirmware-compile_mac/detail/master/1834/pipeline/13

Which python interpreter is found in the cmake configure?

[2020-04-30 15:01] kaklik commented on #10251
Hello, I noticed this issue, which seems to be unresolved. Although it is pointing to Atlantiksolar project.  This project is also mentioned in [user guide documentation](https://docs.px4.io/master/en/frames_plane/) without any description. Does it Atlantiksolar is somehow related to PX4 or it does ever contributed to PX4 code?

[2020-04-30 16:07] PimoGithub commented on #9283
I have the same issue on my thinkpad where I just installed Ubuntu 20.04
I can start the simulator by setting "MESA_LOADER_DRIVER_OVERRIDE=i965"
So my command line is:

I found this fix here: https://www.mathworks.com/matlabcentral/answers/342906-could-not-initialize-shared-resources-for-x11graphicsdevice

[2020-04-30 16:51] JacobCrabill commented on #14736
Forgot to update here - the possible fix #14741 does not seem to work.  Still unclear what the root cause might be.  The suggested solution makes sense (race condition on resource access), but the location of the error has not yet been found.

[2020-04-30 16:56] dagar commented on #14736
Thanks for the update, I'll try to reproduce locally with a debugger attached.

[2020-04-30 17:01] JacobCrabill commented on #14736
Cool, that would make things much easier for sure.  It doesn't always throw a hardfault though; whatever memory corruption is occurring seems to happen in a few possible locations.

[2020-04-30 19:52] benjinne opened #14802 "Frsky Telemetry not working on Holybro Kakute F7"
When trying to use any of the UARTs on the Kakute, and configuring TEL_FRSKY_CONFIG to the matching tx pin **no sensors** (other than rxbat and rssi) are discovered on my transmitter (a Jumper T16).

**To Reproduce**
Steps to reproduce the behavior:
1. Set TEL_FRSKY_CONFIG
2. Discover new Sensors on transmitter

**Expected behavior**
A list of sensors should be displayed on the transmitter

**Othe

[2020-05-01 01:38] tstellanova commented on #14799
Looks like it finds python 3.7.7 during the build:

[code]

I did not realize Durandal isn't using uavcan. I confirmed the same problem occurs when building FMUv5.

[2020-05-01 02:00] tstellanova commented on #14799
If I just clone the [libuavcan submodule](https://github.com/PX4/libuavcan) I'm able to build that library just fine.  There's something about this px4 build step that breaks:
[code]

[2020-05-01 03:07] airopti opened #14805 ""ekf2 stop" get stuck in SITL"
**Describe the bug**
I am running SITL, when trying to stop the EKF by `ekf2 stop`, the Gazebo simulation get stuck and there is no any feedback information.

**System**
- Ubuntu 16.04
- ROS Kinetic
- Gazebo 9

**To Reproduce**
Steps to reproduce the behavior:
1. `roslaunch px4 mavros_posix_sitl.launch`
2. After started the Gazebo simulation, run `ekf2 status`, can get some feedback
3. But, when r

[2020-05-01 04:57] ryanjAA commented on #14743
I’ll load up a fresh plane with 11 beta (and the Albatross standard mixer) and report back the results on the flaps. We have flaps on ch 7 and 8.

[2020-05-01 05:01] lovettchris commented on #14786
@MaEtUgR , [this checkin ](https://github.com/microsoft/AirSim/pull/2549) adds the bitmasks on HIL_SENSOR so the code in AirSim is now the same as the jMavSim code.

[2020-05-01 05:20] lovettchris commented on #14786
@Jaeyoung-Lim , yes AirSim now works well with PX4 v1.10.1 in SITL with QGroundControl missions, but this issue points out that things don't with in PX4 master branch.  You can test it with the binaries I provided:
- [AirSim Neighborhood binary (1.3gb)](https://drive.google.com/file/d/1DIleir72Jzfx3oU2i8fEHNBI-37UfXpA/view?usp=sharing)
- [AirSim Blocks binary (153mb)](https://drive.google.com/file

[2020-05-01 06:12] dagar commented on #14799
That's a relatively new edition where we now manually generate in tree DSDL (https://github.com/PX4/Firmware/tree/master/src/drivers/uavcan/dsdl/com/hex/equipment/flow).

https://github.com/PX4/Firmware/blob/c5341da8137f460c84f47f0e38293667ea69a6cb/src/drivers/uavcan/CMakeLists.txt#L99-L103

[2020-05-01 13:07] tstellanova commented on #14799
@avionicsanonymous I’m not sure what your build environment looks like, but do these slightly older px4 build targets work for you?

[2020-05-01 13:15] kamilritz commented on #14760
@julianoes I was able to solve both issues with one change. It is caused by filling the GROUND_TRUTH message with content from the vehicle_global_position message. This message is coming from the estimator and is only published when the ekf is accepting global information. This is not the case for the iris_flow and iris_vision model. On the other side the ekf is publishing the vehicle_global_posit

[2020-05-01 13:50] avionicsanonymous commented on #14799
I tried px4_fmu-v4_default and it builds fine for me. Running an Ubuntu 14.04 VM setup pretty much per the PX4 dev guide.

[2020-05-01 14:29] dagar commented on #14799
Are you able to see if it's defaulting to python (python 2)?

[2020-05-01 14:31] dagar commented on #14805
@airopti this is because by default PX4 SITL is running lockstep with the simulator, and one of the mechanisms for doing that is waiting for simulated sensor data to make a round trip through the system and go back out as actuator controls.

[2020-05-01 14:34] dagar commented on #14802
Any thoughts on this @bkueng?

[2020-05-01 14:47] dagar commented on #14509
This is included in v1.11.

[2020-05-01 15:00] ryanjAA commented on #14509
I don’t think this should be closed yet. It doesn’t work yet.

If someone else wants to test an M9N and confirm that it works that would be great but as of yesterday we tested it and in the current state is still just gives a timeout without functionality. See https://github.com/PX4/GpsDrivers/pull/57#issuecomment-621639910 more more details.

[2020-05-01 15:05] dagar commented on #14509
Thanks for the update. Let's try to keep conversation going outside of merged PRs so it isn't lost.

[2020-05-01 15:20] ryanjAA commented on #14787
What’s contained in the power tether? Just power or are communications on the same bundle of wires? Also, what is the power type? Ac or dc? And if ac is there and ac converter onboard the plane and if dc is it high voltage with an onboard step down, etc. we have a bit of experience with high voltage power tethers and switching frequency and quite a few things can cause havoc. Definitely a log but

[2020-05-01 15:26] bilginmu commented on #14697
Sorry for wrong area and thanks for reply but I have Petalinux and how to build for petalinux? Building px4 for petalinux and rasperry pi are the the same ?

[2020-05-01 15:51] mhk4zemi commented on #14787
@julianoes Can you please tell me what part you are interested to know about the log file?

[2020-05-01 15:53] mhk4zemi commented on #14787
@ryanjAA . Tether line is just carrying DC power and we have dc converter onboard as well. If you can tell me what part is interesting I can take it out from the log file and share it here.

[2020-05-01 16:08] ryanjAA commented on #14787
It’s a little more involved than that. Generally if you’re seeking help you should share as much detail as possible and definitely at a minimum the entire log if you’d like someone to look at it as there is often things you might not see as important that someone else might spot the problem.

You have an atypical setup which yields more to understanding what you have onboard and what you’re doing

[2020-05-01 16:33] mhk4zemi commented on #14787
@ryanjAA @julianoes

Here is the complete logfile. In this one, pixhawk locked the GPS but in the middle of the hovering phase.  You can see it in the log data as well. The tether voltage is 400 and we have converters on board to take it down to 36.  We did not use any special shielding for the autopilot or the GPS antenna.

https://review.px4.io/plot_app?log=5eb72abd-8794-4f31-b985-b695c1da4b16

[2020-05-01 17:12] dagar opened #14807 "airspeed_selector noisy startup"
[code]

@sfuhrer let's adjust this so there aren't unnecessary warnings in good setups.

[2020-05-01 17:15] Antiheavy commented on #14807
keep all that information as INFO for the logs though!

[2020-05-01 17:28] dagar commented on #14807
To clarify, I only want to get rid of that unnecessary output on startup. The airspeed selector should be able to cleanly initialize into airspeed mode at first unless the sensors are actually missing.

[2020-05-01 19:05] lovettchris commented on #14786
Oh, this is interesting, on v1.11.0-beta I am also getting these warnings, but the AirSim flight is working normally.
[code]
So perhaps these warnings are a red herring, and there may be some other problem with **master** branch that is not understood yet...

[2020-05-01 20:12] lovettchris commented on #14786
On master offboard control definitely doesn't work, but also master HITL also doesn't work, the drone connects but refuses to arm.  So I wonder if some breaking changes have happened in the mavlink protocol ?

[2020-05-01 20:43] lovettchris commented on #14786
Indeed I see lots of changes in mavlink_receiver.cpp to do with how it is processing HIL_SENSOR data.  It's interesting that mavlink_receiver.cpp, MavlinkReceiver::handle_message_hil_sensor doesn't seem to care about fields_updated...  AirSim is not generating termperature so I wonder if that is putting the _px4_baro into a bad state...

[2020-05-01 23:45] lovettchris commented on #14786
Hey, ok, I updated AirSim mavlink headers and fixed some other bugs in AirSim and now I can get it to fly with PX4 master bits.  But the flight was kinda wonky and I got lots of warnings like this which is new:
![image](https://user-images.githubusercontent.com/18707114/80849017-41187d00-8bca-11ea-9110-8bb0b9ed13f1.png)
The log is here:
https://logs.px4.io/plot_app?log=d27f2f38-415c-435e-a8ac-8d63

[2020-05-01 23:55] lovettchris commented on #14786
But then sometimes it does this in the middle of the offboard flight, and the drone crashes:
[code]

[2020-05-02 00:13] lovettchris commented on #14786
I'm also getting a lot of these:
[code]
Despite the fact that I'm setting these parameters:
[code]
Previous versions allow me to fly without RC so long as I set the above parameters (which AirSim does by default).

[2020-05-02 01:02] lovettchris commented on #14786
I updated my AirSim binaries for testing this:

- [AirSim Neighborhood binary (1.3gb)](https://drive.google.com/open?id=1cyGAF3xJWcnA0wtdflSOGPAPy-WQFFhe)
- [AirSim Blocks binary (153mb)](https://drive.google.com/open?id=1pB1n3y5tYzRlRb8qbe246UrlkTYYfgno)

(built with the above AirSim PR #2649 already).

[2020-05-02 01:12] airopti commented on #14805
But the waiting time seems to be infinite, it just get stuck there, is it normal?

[2020-05-02 01:12] lovettchris commented on #14786
Oh, wow, this one is interesting, the flight completed and the PX4 took over the landing process:
[code]
Then it went bonkers during landing, drone flipped and crashed.

See https://logs.px4.io/plot_app?log=7e05515c-7518-4a50-aabe-c3ab5c298886

[2020-05-02 01:38] priseborough commented on #14651
Replaying these generated gazebo and jmavsim files and comparing GPS velocity innovations with the original SITL log using master at commit 0c8dcf94bc256801a45475cdd7bc6490e9fb8af7 gave the following:

jmavim results generated using following velocity profile:
![Screen Shot 2020-05-02 at 11 20 59 am](https://user-images.githubusercontent.com/3596952/80851774-07e21a80-8c67-11ea-8a14-aa4bd0d31342.pn

[2020-05-02 01:54] priseborough commented on #14651
Replay of a flight log generated from an earlier commit with compatible uORB messages showed that the effect was still present.

[2020-05-02 06:35] Jaeyoung-Lim commented on #14786
@lovettchris It could be related to the message in your screenshot. I will try to reproduce it
[code]

[2020-05-02 07:15] #14760 closed

[2020-05-02 10:25] bys1123 commented on #14777
After upgrade to 1.11, pre-flight check will tell users accel inconsistent, so may not cause un-safety?

[2020-05-02 13:04] jstrebel commented on #14743
Just did another test putting my mixer file back to the SD Card.
pwm test -c 6 -p 1000 (and 1800)
pwm test -c 7 -p 1000 (and 1800)
Result: Both Flap Servos move
But stil no change via RC: only Flap on Ch 6 move

[2020-05-02 15:35] tstellanova commented on #14799
Upgrading cmake from 3.15 to 3.17 apparently fixes this problem.
Thanks for the help...closing.

[2020-05-02 15:35] #14799 closed

[2020-05-02 15:35] sfuhrer commented on #14807
Agree, that's annoying, not sure when it started. @dagar have you seen it also outside of SITL?
https://github.com/PX4/Firmware/pull/14811 would be a potential fix, though a bit hacky.

[2020-05-02 15:42] #13035 closed

[2020-05-02 15:50] sfuhrer commented on #14588
@xdwgood sorry for the late reply, this kind of slipped.
I just also tried in SITL, didn't have issues (beside a very jumpy airspeed reading). Maybe that was causing issues in your case.
Did you also fly with a real tailsitter lately?

[2020-05-02 16:38] dagar commented on #14777
Yes, so this is more about trying to make the upgrade experience less unpleasant.

[2020-05-02 16:41] Pedro-Roque commented on #12016
Came across this now, I will take a look too @bresch @MaEtUgR

[2020-05-02 16:44] Pedro-Roque commented on #12206
@MaEtUgR is this still ongoing?

[2020-05-02 16:52] Jaeyoung-Lim commented on #14783
@shubang93 I think this might be related to the oscillations in the vehicle. Can you maybe see if this is reproducable on the iris?

[2020-05-02 18:12] Pedro-Roque commented on #12016
So, this seems to be correct, however the multiplication order in the code, and subsequent Quatf seems misleading. On the matrix/Quaternion.hpp, line 255:
[code]
@jgoppert , can you take a look here? your format seems to be
![image](https://user-images.githubusercontent.com/5076811/80872129-65e72000-8cb0-11ea-8f3c-2859e9b3b0a8.png)
but there seems to exist a transposition on the vector part of Q,

[2020-05-02 19:04] Pedro-Roque commented on #12016
It seems to me that it is correct as is, as it depends on the frame wrt which the quaternions are defined. Changing to the suggested solution - exactly as the paper, `qd_red = q*qd_red;` - induces an oscillatory behavior (tested in SITL) that suggest that there is a transformation problem. @bresch @MaEtUgR can you double check this?

I'd leave as is and close the issue.

[2020-05-02 19:56] shrit commented on #12206
@Pedro-Roque Yes, it still open.

[2020-05-02 22:57] ryanjAA commented on #14743
I loaded up 11 beta 1 and tested as well. We have 2 channel flap output, main 7 and 8 but triggered by RC channel 9 when done manually. It also doesn't work in our case. Looking at it a little closer, we have no output on anything from output 6 and up (servo_output_raw) shows this as well.

Taking from above, running pwm test -c 7 -p 1000 and we have movement but otherwise output shows 0 us.

[2020-05-03 00:43] bys1123 commented on #14777
I flash back to 1.10, shows accel is uncalibrated.

[2020-05-03 06:56] sarlmolapple opened #14813 "Compile Error [make px4_fmu-v5_default failed]"
OS:centos,also happens on  v1.10.0 stable

[root@VM_0_15_centos Firmware]# make px4_fmu-v5_default
-- PX4 version: v1.11.0-beta1-140-g6dfe12d
-- PX4 config file: /root/Firmware/boards/px4/fmu-v5/default.cmake
-- PX4 config: px4_fmu-v5_default
-- PX4 platform: nuttx
-- cmake build type: MinSizeRel
-- The CXX compiler identification is GNU 7.2.1
-- The C compiler identification is GNU 7.2.1
-- The A

[2020-05-03 08:37] weekly-digest[bot] opened #14814 "Weekly Digest (26 April, 2020 - 3 May, 2020)"
Here's the **Weekly Digest** for [*PX4/Firmware*](https://github.com/PX4/Firmware):

 - - -
# ISSUES
Last week 51 issues were created.
Of these, 29 issues have been closed and 22 issues are still open.
## OPEN ISSUES
:green_heart: #14811 [Airspeed Selector: do not run it within the first 2s after system boot](https://github.com/PX4/Firmware/pull/14811), by [sfuhrer](https://github.com/sfuhrer)
:gr

[2020-05-03 10:01] dayjaby commented on #11441
are you sure about UNSUPPORTED? MAV_CMD_REQUEST_MESSAGE *is* (or rather will be) supported. I think DENIED makes more sense according to the current wording in the mavlink documentation.

[2020-05-03 10:13] bys1123 commented on #11514
Any Updates?

[2020-05-03 22:59] Pedro-Roque commented on #12980
Issue fixed and tests added. Closing