[2017-06-12 17:27] mhkabir commented on #7398
OK I think the rotation or something goes wrong because all the values are zero.

[2017-06-12 17:32] mhkabir commented on #7395
@nicolaerosia I'm guessing that one of the rotation calls fail because all the values are zero as reported by @tstellanova .

[2017-06-12 17:44] tstellanova commented on #7398
More info:

- Build for pixhawk 2.1 hardware (px4fmu-v3_default)
- Tried recalibrating mag.  Calibration succeeds, but `sensor status` still shows STALE and zeros for `val` and `lp`

[2017-06-12 17:56] Seanmatthews commented on #7313
@imrhch @sanderux Created the pull request to get this out of the way, and loosely deals with some issues on which I've been working.

[2017-06-12 18:03] mhkabir commented on #7398
Hmm, I tried on v4 hardware (Pixracer) with Zubax GNSS 2 and I couldn't reproduce :
[code]
Can you give me a param dump _or_ tell me the real rotations of the autopilot and GNSS unit + `CAL_MAG_ROT` params?

[2017-06-12 18:19] mhkabir commented on #7398
Reproduced on Pixhawk 2.1 :

[code]

[2017-06-12 20:40] tubeme opened #7402 "PX4 1.6.1: Land detector did not disarm after land in mission VTOL"
Hello,

We made a mission without RC control only with the QGC. We used version 3.1.3. Everithing went ok except the land detector did not disarm after the mission was complete and the VTOL was landed. The only way we could disarm with 3.1.3 was emergency stop.

VTOL left on the ground with spinning motors for some time.

Here is the log:
http://review.px4.io/plot_app?log=971f681b-2e49-4e67-816f-5

[2017-06-12 20:53] nicolaerosia commented on #7398
The actual related issue is https://github.com/PX4/Firmware/issues/7395

[2017-06-12 21:10] tstellanova commented on #7398
FWIW, this external mag has no rotation relative to the board (it has the same orientation as the Pixhawk 2.1)

[2017-06-13 05:47] nicolaerosia commented on #7395
I've rechecked, and this is the last working commit
[code]

[2017-06-13 06:10] mhkabir commented on #7395
OK I think I got why it broke. POSIX needs an alternative to the IOCTL to detect external mags.

[2017-06-13 06:25] LorenzMeier commented on #7395
Yes, it should be all uORB topic internal (including the internal / external flag). We probably should introduce the concept for POSIX devices first, make sure it works there and then flick the rest of the system.

[2017-06-13 07:19] bartslinger opened #7405 "1.6.2 VTOL RTL does not trigger back-transition"
I think that this commit breaks the back-transition when RTL is commanded to a VTOL drone:
https://github.com/PX4/Firmware/pull/7249

However I'm not 100% sure since my drone doesn't work with master or stable. @dagar suggested that this could easily be tested in SITL, although I don't have that setup at the moment. I would appreciate it if someone can verify this with SITL.

[2017-06-13 07:59] nicolaerosia opened #7406 "CPU Temperature reporting"
When playing with Navio2 on RPI3, I experienced a sudden reset which I believe is caused by high temperature.
Is there a message where we could inject the CPU Temperature so we can monitor it from GCS?

[2017-06-13 08:34] langxm1223 opened #7407 "support for 8096 snapdragon flight"
Hello all,
I wonder if there is any plan of the support for snapdragon flight with 820 chip, i.e. 8096 platform?
I see some code in the cmake files, but not sure if it is available.
Thank you very much.

[2017-06-13 11:30] bkueng commented on #7395
I can confirm this is currently broken on RPi. The problem is that all `_mag_device_id` in [here](https://github.com/PX4/Firmware/blob/5cbaaa633b19bc19ffa91660ca73c6b950e28492/src/modules/sensors/voted_sensors_update.cpp#L734) are 0. The failure comes from [here](https://github.com/PX4/Firmware/blob/5cbaaa633b19bc19ffa91660ca73c6b950e28492/src/modules/sensors/voted_sensors_update.cpp#L408), becaus

[2017-06-13 12:43] mhkabir commented on #7395
@bkueng thanks. Would you be able to propose a PR with the last suggestion? We want to move away from ioctls as far as possible and use the uORB API more. As @LorenzMeier says, we'd need to add an internal/external flag in the uORB topic and fix `voted_sensors_update` to use uORB as needed. I don't have a RPi setup, and am not available for development for some time.

[2017-06-13 13:20] zalessio opened #7408 "EKF2: GPS - vision fusion does not follow vision pose estimation"
From a couple of months I am using a drone with Pixhawk and an onboard computer. Till now I had very few problems.
I was using LPE  to fuse GPS and vision pose (this is working really fine), but I wanted to try the EKF2.

I flashed, from QGroundControl, the latest stable version 1.6.2 on my pixhawk.
* I set
   * EK2_EVP_NOISE to the minimum value (0.01m)
   * EKF2_GPS_P_NOISE to an high value (5.0

[2017-06-13 13:44] mhkabir opened #7409 "Out-of-tree module build is broken"
I was trying out the out-of-tree module build functionality (https://dev.px4.io/en/advanced/out_of_tree_modules.html), but it seems to be broken at the moment. I suspect that this is due to the recent param parser refactoring.

[code]

[2017-06-13 13:51] dagar commented on #7409
Sorry, should be quick to fix though.
Can you roughly list the layout of the out of tree portion?

[2017-06-13 13:56] mhkabir commented on #7409
Yeah, so the root directory is `/Users/kabir/Development/PX4/uasys-px4-modules`. It contains a directory `src`, which contains a `CMakeLists.txt` (see below) and a `drivers` directory.
I'm just trying to build the unmodified camera trigger driver from Firmware. It is located at `/Users/kabir/Development/PX4/uasys-px4-modules/src/drivers/camera_trigger`.

`CMakeLists.txt` :

[code]

[2017-06-13 13:56] dagar commented on #7394
This is one of those things that likely hasn't been tested.

I've wasted time flying without an sdcard when I needed the data. Maybe it could be an optional parameter for arming?

[2017-06-13 14:01] tubeme commented on #7394
This is one of those things that you find trying to find why there is no transition on a regular flight... changed an esc then again no transition until realizing somebody forgot to put in the sc-card :)

[2017-06-13 14:02] bkueng commented on #7395
I'd probably also go for the 3rd, but will need to look at it some more. I can do that.
Do you know how the `CAL_MAG0_ROT` is set? And how this is supposed to work? It's never set in the code, and I only see that if I set it manually, then QGC shows an  `external compass orientation` field on `Set Orientations`.

[2017-06-13 14:03] tubeme commented on #7394
I think there should be NO flight without a SD CARD period!! In the days where drones are able to do so much damage there should always be a way to see what caused the damage...

[2017-06-13 14:27] mhkabir commented on #7395
It's set from QGroundControl if it's an external mag (this detection is probably broken on POSIX for ages or never existed). `voted_sensors_update` uses the parameter value to get the appropriate rotation matrix and applies it to the unrotated raw measurements from the sensor (from the `sensor_mag` topic)

For internal mags, the parameter is always set to -1, and `voted_sensors_update` just uses t

[2017-06-13 14:31] dagar commented on #7394
1. Transition not working with an sdcard sounds like a bug
2. You also need to make it work for systems like the Intel Aero that don't have sdcards.

[2017-06-13 15:47] bkueng commented on #7395
How does QGC know it's external? I tested this with a pixracer & external mag attached, but the param was not set (I did a calibration).

[2017-06-13 15:50] nicolaerosia commented on #7395
note that df_mpu9250_wrapper already applies a rotation, should this be done elsewhere, I don't quite follow
https://github.com/PX4/Firmware/blob/master/posix-configs/rpi/px4.config#L13
https://github.com/PX4/Firmware/blob/master/src/platforms/posix/drivers/df_mpu9250_wrapper/df_mpu9250_wrapper.cpp#L869
https://github.com/PX4/Firmware/blob/master/src/platforms/posix/drivers/df_mpu9250_wrapper/df_m

[2017-06-13 15:56] tubeme commented on #7394
Hmmm didn't they have some kind of internal memory? Other than the boards that don't support memory of some kind all other should fly with the SD CARD.  And before we've had a very disturbing sound from PX4 on card missing. It was with a RED light and could not arm. That is the perfect way it should be. If we had this alarm (as we are used to) we couldn't have been able to arm in the first place s

[2017-06-13 16:19] bkueng commented on #7395
@nicolaerosia no, that is correct. The whole subject is quite complex & confusing. In addition to what we talked about above - the external rotation, which can be set by the user, there is also a rotation parameter supplied via CLI - the one you mention. This is used to make sure internal sensors are correctly rotated according to the labeling on the board. Which is why this is fixed, but can be d

[2017-06-13 16:32] nicolaerosia opened #7410 "UBX GPS SPI Driver causes huge latency spikes on POSIX"
Hello,

The SPI Linux Kernel driver has no way of knowing there's data to be read (this is a limitation of SPI), hence pool will always return true ( https://github.com/PX4/Firmware/blob/master/src/drivers/gps/gps.cpp#L399 ) , causing long lockups of the SPI bus ( https://github.com/PX4/GpsDrivers/blob/dd275f36cb22a82342bdeadf4f66b4f6af03ef92/src/gps_helper.h#L47 ) reading only 0xFF since the devi

[2017-06-13 16:37] nicolaerosia commented on #7395
@bkueng ok, so we're applying two rotations, right? Maybe we could just multiply those, and get away applying a single rotation

[2017-06-13 19:53] #7313 closed

[2017-06-13 20:01] mhkabir commented on #7408
@priseborough comment's on this would be appreciated. I've noticed the exact same behaviour which is why I stick with LPE for GPS/vision fusion use-cases. It would be great to get EKF2 ready to handle GPS denied and mixed scenarios properly.

[2017-06-13 21:43] rkintada commented on #6562
@TSC21 @Seanmatthews Also for algorithms like VISLAM the timestamp of when the event occurred is important( ie when the IMU sample was taken vs the timestamp of when the data is received in mavros).  So in this case using ROS::Time::now(), without passthrough, will include the latency of getting from dsp-->px4-->mavros which will not be good.

[2017-06-13 22:01] sanderux commented on #7402
@tubeme i seem to remember advising you to lower your params to avoid false positives on backtransitions. did you check if that is related?

[2017-06-13 22:33] Seanmatthews commented on #6562
@TSC21 I agree, but having the ROS timestamp for non-time-critical components, like VISLAM, would be a useful addition. Also, adding an additional message field for the IMU timestamp will make their distinction more clear to MAVROS users.

So maybe the second bullet on your list is not so critical @potaito. What do you think?

[2017-06-13 22:51] tubeme commented on #7402
@sanderux No it is not related. We don't have this false alarms on back transition since you gave us the advice. The problem is that it does not disarm once landed after mission or in Position/Altitude modes.

[2017-06-14 02:57] stlfatboy commented on #7393
So, no temporary solution until that time can be set by user? Is this possible if connected to batt before click the calibrate button?

[2017-06-14 03:01] mhkabir commented on #6562
This is not upstreamable.

Correct. Mavros never uses `ros::Time::now()` in the codebase, if you have a look. However all you need for the VISLAM usecase is adding a time offset (between aDSP and `ros::WallTime` i.e POSIX `CLOCK_REALTIME`) computation in VISLAM. For mavros, just use `timesync_mode::ONBOARD` which I recently added.

It would literally be 10 lines of code. If I'm not clear yet, I'll

[2017-06-14 03:04] mhkabir commented on #7393
Increase this as a temporary fix : https://github.com/PX4/Firmware/blob/master/src/modules/commander/esc_calibration.cpp#L114

[2017-06-14 05:53] LorenzMeier commented on #7402
The issue is most likely how idle throttle and other detection parameters are set up. It is very reliable if configured for the airframe.

[2017-06-14 05:54] mhkabir commented on #7402
@LorenzMeier The setup/tuning of land detector for a particular airframe needs documentation. There's nothing on that side.

[2017-06-14 05:57] LorenzMeier commented on #7402
https://dev.px4.io/en/tutorials/land_detector.html

[2017-06-14 06:01] mhkabir commented on #7402
Ah, thanks. My bad.

[2017-06-14 06:14] LorenzMeier commented on #7402
I've added a bit more detail and I hope that this is now enough for @tubeme to tune it. You can try increasing `LNDMC_THR_RANGE` slightly. Other than that we would need to test if RC is implicitly required to auto-disarm, since it is illegal in most jurisdictions to fly without one we haven't extensively tested this.

[2017-06-14 06:59] myeabhishek opened #7412 "Bottle_drop not generating any AUX output"
Hi Guys,
I am using bottle_drop module in PX4 to drop a payload from a moving Multicopter. I am using "bottle_drop drop" command from NSH shell to drop the payload. The problem is that I am not receiving any PWM output on any of the AUX pins required for my release mechanism on issuing this command.

I have enabled and started this module for multicopters as I understand it was intended for fixed

[2017-06-14 07:01] LorenzMeier commented on #7412
You need to create a mixer that connects the payload actuator control group with the PWM outputs.

[2017-06-14 07:51] LorenzMeier commented on #7405
@sanderux The comment you made on the PR is I think in the wrong location. What I removed there was clearly wrong and added only a few weeks before that. I think its much rather related to the other handling changes. If you still think its that code part please explain in more detail.

[2017-06-14 08:52] sanderux commented on #7393
@mhkabir that will break it for most users. Simonk is far more common on a mc

[2017-06-14 08:53] mhkabir commented on #7393
What I meant was that @stlfatboy could increase it for his setup just to get it working till we properly patch it master.

[2017-06-14 08:57] sanderux commented on #7393
Right, yes that would work.
Seems like an easy patch to add a param, i can do it when i get back from holiday or you could take it on if you want to

[2017-06-14 09:22] bkueng commented on #7395
Right. But they're applied in 2 different places, and I think it makes sense to keep the one in the driver and the other in the common sensors module.

[2017-06-14 09:45] tubeme commented on #7402
@LorenzMeier Thanks Lorenz, before I posted here I read very carefully the doc you sent me, but I did not find the answer there. Also we are aware of LNDMC_THR_RANGE parameter and it is OK with the current setting for us. We dont' expect to have the detector disarm when the thr is above this parameter.

Today we will make a test of landing in Position and follow the whole procedure so to see if th

[2017-06-14 11:38] ChristophTobler commented on #7368
True! I guess that would make sense.

[2017-06-14 11:40] ChristophTobler commented on #7128
What ever works best for you, I guess. Just make sure you have manual and a kill switch enabled.

[2017-06-14 14:49] CarlOlsson opened #7416 "How to log IMU at 1000 Hz?"
It is often useful to log IMU data at a high rate, say 1000 Hz.
I tried increase the publishing rate of the mpu9250 driver by changing
[code]
To
[code]
However, using "uorb top" I see that the topic is actually only publishing at 377 Hz.
Anyone know how to make the driver publish faster?
(I also switched off all unnecessary modules to save CPU)

[2017-06-14 15:12] davids5 commented on #4562
Done in https://github.com/PX4/Firmware/commit/3692a62c3580d257db317a4c697e0834f096d873

[2017-06-14 15:12] #4562 closed

[2017-06-14 16:58] marcelinomalmeidan commented on #6962
Hi,

Was the documentation made for using pwm ESCs? If so, where do I find it?

Thanks!

[2017-06-14 17:01] deksprime commented on #7276
This also happens to all of our copters from time to time, both in 1.5.5 and 1.6.0. I thought that it was somehow related to our ESC's or motors etc. Power cycle definitely solves the problem, but the reproduction of this issue is really difficult since it is completely randomized-or at least we couldn't figure out any causality with something.

[2017-06-14 17:13] blankered opened #7417 "make px4fmu-v2_lpe build fails on sdp3x_airspeed driver"
[8/232] Building CXX object src/drivers/sdp3x_airs...akeFiles/drivers__sdp3x_airspeed.dir/SDP3X.cpp.obj
FAILED: /home/sailingpc/gcc-arm-none-eabi-4_9-2015q3/bin/arm-none-eabi-g++   -DBUILD_URI=localhost -DCONFIG_ARCH_BOARD_PX4FMU_V2 -DMODULE_NAME=\"sdp3x_airspeed\" -DPX4_MAIN=sdp3x_airspeed_app_main -D__DF_NUTTX -D__PX4_NUTTX -D__STDC_FORMAT_MACROS -I. -Isrc -Isrc/modules -I../mavlink/include/mavl

[2017-06-14 17:21] mhkabir commented on #6562
What I mean is that the synchronised timestamp is used for all messages. The time of arrival (`ros::Time::now()`) is only used if synchronisation is unavailable or disabled.

[2017-06-14 17:26] mhkabir commented on #6962
https://dev.px4.io/en/flight_controller/snapdragon_flight.html

[2017-06-14 17:53] #7395 closed

[2017-06-14 18:13] marcelinomalmeidan commented on #6962
Thanks! I had seen that and I am aware of the wiring.
I just don't know how to setup the mainapp.config to use PWM ESCs instead of UART. Would you know that?

Thanks!

[2017-06-14 19:15] sanderux commented on #7405
I'll try and reproduce in sitl. It could also be that no landing was set for rtl. @bartslinger do you have a log?

[2017-06-14 19:41] rkintada commented on #6562
The question here is how often this offset need to be updated?  If the CLOCK_REALTIME gets changed due NTP or some other source, this offset will be incorrect.  Also In the current example the camera frames are not obtained as ROS topic and this poses an issue for the above solution as the time stamp is CLOCK_MONOTONIC.

[2017-06-14 19:45] mhkabir commented on #6562
@rkintada 10 Hz is what we use for offboard sync (when PX4 is running on an external board connected over a UART). This gives us excellent sync precision (well under 1ms) and very good visual-inertial odometry performance on our custom pipeline. I think that 10Hz will be more than enough to keep the clocks tightly synchronised - especially given that it's all onboard and no UART latency, unreliabi

[2017-06-14 21:01] LorenzMeier commented on #7416
You need to set the rate higher than the actual rate you want as you otherwise will skip samples if the rate is equal. Set it to 1200 and re-test.

[2017-06-14 21:02] LorenzMeier commented on #7412
I'm closing this. Please post if you don't find in http://dev.px4.io how to add that mixer.

[2017-06-14 21:02] #7412 closed

[2017-06-14 21:03] LorenzMeier opened #7419 "Inspect SITL on Mac OS"
I have this log which crashes the vehicle in SITL. I noticed that the motors are fairly unbalanced:
http://review.px4.io/plot_app?log=874dca50-6f34-454f-b8ad-c1daa0713028

[2017-06-14 21:10] rkintada commented on #6562
@mhkabir 10Hz would mean that the offset can potentially change every 100ms.  In your testing how often does this change?  My main concern is that the time stamp of the data changes( or can potentially change every 100ms), this will impact the VISLAM algorithm as they may cause potential gaps/overlaps in imu data. Hence I was thinking that passing the actual timestamp as is may be better.  If pass

[2017-06-14 21:51] Seanmatthews commented on #6562
@rkintada Passthrough mode does indeed work that way, and it works perfectly fine for VISLAM. This conversation branch was born out of @potaito's desire to use ROS timestamps for both IMU and camera, which isn't really necessary and might even be detrimental due to potential small conversion error. In my opinion, having both timestamps would be a nice-to-have, but definitely not necessary at this

[2017-06-14 23:36] tstellanova opened #7421 "UAVCAN GPS driver does not update system time yet"
Testing with PX4 firmware tagged v1.6.2 on Pixhawk 2.1 with working GPS hardware providing valid time, eg:

[code]

The system time is not being set correctly from the GPS time:

[code]
This results in eg `logger` log file timestamps being incorrect.

[2017-06-14 23:44] tstellanova commented on #7421
More info:  Tested with UAVCAN GPS (Zubax GNSS 2.0)

[2017-06-15 01:16] tstellanova commented on #7421
It appears that the gps driver calls `px4_clock_settime` but the uavcan driver does not.  It might be more appropriate for a listener to the `vehicle_gps_position` uORB topic to set the time? Not sure.

[2017-06-15 03:06] mhkabir commented on #6562
@rkintada We low-pass the offset, so there are no spikes. A hard-set is only done when there a > 10ms spike (usually means that NTP corrected the clock). This works quite well, and I have tested it with a VIO setup while manually skewing the realtime clock. And if I remember correctly, it's easy to configure NTP as a one-shot so that there are no runtime skews. I think it's best that I propose a P

[2017-06-15 03:08] mhkabir commented on #7421
Please just add the `clock_settime()` call to the UAVCAN GPS bridge. Awaiting the pull request :)

[2017-06-15 03:59] Seanmatthews commented on #6562
@mhkabir Will the PR remove passthrough mode?

[2017-06-15 04:00] mhkabir commented on #6562
@Seanmatthews Nope. It'll be a PR to the VISLAM example repo. :)

[2017-06-15 05:18] StephanSalas opened #7422 "Support for RVJet Airframe"
Any chance PX4 supports https://store.rangevideo.com/products/rvjet-flying-wing-platform-patent-pending ?

[2017-06-15 05:20] mhkabir commented on #7422
Yes, it's just a standard delta-wing. You will need to choose a generic delta-wing airframe and then tune from there to get optimal performance.

[2017-06-15 05:20] #7422 closed

[2017-06-15 06:11] LorenzMeier opened #7423 "UAVCAN GNSS reports mag failsafe on boot (because its slow)"
From @tstellanova: Tested on Pixhawk 2.1 with Zubax GNSS2.0.

[code]

[2017-06-15 06:20] LorenzMeier commented on #4694
I'm closing this in favor of replacing it with a sensirion unit.

[2017-06-15 06:20] #4694 closed

[2017-06-15 06:57] #6484 closed

[2017-06-15 13:25] tops4u commented on #7276
@deksprime  I think it is highly improbable, that all ESC/Motors would fail at the same time ;-)

Besides in the Log above it is clearly visible, that the PWM Out to the Motors stay on min PWM (1100) so the Motors don't start spinning.

[2017-06-15 13:59] LorenzMeier commented on #7276
I will look with priority into this. I don't have a good handle on it yet.

[2017-06-15 14:06] tops4u commented on #7276
@LorenzMeier This does not have High Prio for me as a simple Power Cycling does the trick.

[2017-06-15 14:07] LorenzMeier commented on #7276
At least the log you shared has the system in position control and the throttle never reaches the default takeoff throttle setting of 65%. So I wouldn't say there is an issue in the log. If you had pushed the throttle slightly more up it would have taken off.

[2017-06-15 14:08] LorenzMeier commented on #7276
Depending on how you landed before power cycling it might reset it to manual and that's why you don't see it then.

[2017-06-15 14:09] tops4u commented on #6260
I'll be checking this soon with a UAVPlay OSD to see if this also behaves like this, or if this is a sole Problem of the MinimOSD or its Firmware. Don't put any efforts on this for the time being.

[2017-06-15 14:11] tops4u commented on #7276
This was the first Flight on this day / Battery was disconnected before, I just planned and Uploaded the Mission in the trunk of my car and then placed the Vehicle on the ground.

[2017-06-15 16:33] Seanmatthews commented on #7128
@ChristophTobler Does the branch allow external position estimates to LPE? Through mavros, I send VIO position estimates to topic `/mavros/vision_pose/pose_cov` but I see no callback on `/mavros/local_position/pose` (position coming from FCU). Essentially, what I get is a diagonal takeoff where the quadcopter keeps moving forward, but it was commanded to go to (0, 0, 1). Here's [video](https://str

[2017-06-15 16:41] TSC21 commented on #7368
OK. I'm going to start the implementation and issue a PR as soon as I can. Thanks

[2017-06-15 16:55] #7417 closed

[2017-06-15 17:05] Antiheavy commented on #7136
For what it is worth, we found the telem2 serial buffer was overflowing with the default telemetry.  Dialing back the data rate and number of messages seems to have fixed this - at least in HIL sim.  We will fly it soon.

[2017-06-15 17:25] mhkabir commented on #7136
@Antiheavy We also added a display for camera trigger points in PX4 Flight Review (logs.px4.io) now, so you can actually see where the triggering system commands a shot if you upload the log.

[2017-06-15 18:04] Seanmatthews commented on #2606
This still seems to be an issue. I see the exact same problems. [Here's](https://streamable.com/zs7r8) a video of running the mavros offboard example with PX4 master. [Here's](https://streamable.com/u2tyr) a video of running the same using global_to_local branch. Using a Snapdragon Flight with VIO only.

[2017-06-15 19:11] Seanmatthews commented on #6562
Coming back to the original issue, I noticed two things about my setup:
1. Although VISLAM begins tracking and sends a position to mavros, I don't think PX4 has a position lock because nothing is being published back to `/mavros/local_position/pose`.
2. Mavros complains about a home position with `HP: requesting home position`.

Is not having GPS the culprit in these two issues? Is GPS required to

[2017-06-15 21:17] nkhoit opened #7426 "MC Autoland tries to go back home while descending"
Log: http://logs.px4.io/plot_app?log=53d0a6de-838a-4c26-b53f-87b6f19b23e5
I'm on master at bc406a1

Seems that autoland tries to control to an XY local position setpoint of (0,0).

[2017-06-15 22:10] LorenzMeier commented on #6562
@Seanmatthews There is also a local home position, however, we have not extensively used that so far. This is something @ChristophTobler and @Stifael have been looking into extensively. I will sync with them tomorrow.

[2017-06-15 22:11] LorenzMeier commented on #6562
@ChristophTobler Can you please help to try to get this in shape for v1.7 (which should happen some time soon as well)? @vilhjalmur89 might be able to contribute as well.

[2017-06-15 22:17] LorenzMeier commented on #7276
I'm closing this for now as resolved, but if it happens again and you are confident that you are in manual and you didn't raise throttle to 65% in position control please re-open.

[2017-06-15 22:17] #7276 closed

[2017-06-15 22:18] tstellanova commented on #7421
PR submitted. FYI, from what I can see, the existing GPS drivers are not one-shot: They set the system clock over and over, on every GPS packet-- see the calls to `mktime` in ubx.cpp, mtk.cpp, and ashtech.cpp

Going forward, it might be better to have a single module (Commander?) that subscribes to `vehicle_gps_position` and calls `px4_clock_settime`, rather than requiring duplicate code in every

[2017-06-16 02:04] Seanmatthews commented on #6562
I added `param set MAV_DATA_STREAM 6` to px4.config and `mavlink stream -u 14556 -s LOCAL_POSITION_NED -r 30` to mainapp.config. The additions do not cause local position to be published by mavros.

[2017-06-16 02:11] mhkabir commented on #6562
@LorenzMeier @ChristophTobler This would be a good opportunity to push for good vision support in EKF2 as well. We already have the core stuff for some time - it just needs some polishing.

[2017-06-16 02:16] #7421 closed

[2017-06-16 05:37] potaito commented on #6562
I keep seeing the same messages regarding the home position, so that is not the cause of your problem. If everything is working you should however definitely see the pose estimate published on `/mavros/local_position/pose`.

[2017-06-16 06:26] Seanmatthews commented on #6562
@potaito I wonder what's the difference between our setups, since I get nothing from `/mavros/local_position/pose`. From your instructions, it looks like we're using the same version of mavros (Kinetic). Which branch/tag/release of PX4 are you using? Do you make any alterations to the mavros offboard example? Do you have any additional sensors attached? Thanks!

[2017-06-16 06:46] TSC21 commented on #6562
@Seanmatthews,

No.

Yes.

No.

MAVROS sends a request and if the FCU as already an Home Position, it will respond to the request.

[2017-06-16 07:10] potaito commented on #6562
@Seanmatthews I can check the version of px4 on Monday.
1. Are you certain you modified `mainapp.conf` and `px4.config`? Specifically, is the parameter `SYS_MC_EST_GROUP == 1`?
2. Did you start `local_position_estimator` (LPE) **and** `attitude_estimator_q`?

[2017-06-16 08:24] bkueng commented on #7410
Since we always use 5Hz and this is a specific HW problem, I'd go for something simple, like a (dynamic) usleep(), but I guess there is no really good solution here. If you come up with something sophisticated that works, it's of course fine with me too.

[2017-06-16 09:17] Stifael commented on #7309
here is a branch where I moved the altitude limit to the navigator and removed the altitude limit from the position controller and land-detector.
https://github.com/PX4/Firmware/tree/pr-limit_altitude_navigator

the reason why I did that:
- a detector should just detect an event, but should not apply any action as it was done in the land-detector for altitude limitation
- the battery level is alre

[2017-06-16 09:31] bkueng opened #7431 "Issues found with Pixhawk 3 Pro"
While building a Quad (with @MaEtUgR & @ChristophTobler ) we encountered the following issues with Pixhawk 3 Pro on current master:

1) Oneshot does not work (by setting PWM_RATE to 0), using Hobbywing XRotor 35A Micro 3-6S BLHeli ESC's. Symptoms: when changing the rate to 0 and rebooting, there is no pwm output anymore. Needs further investigations. Is this supposed to work with an IO? @davids5 @

[2017-06-16 11:48] klopezal commented on #7431
Thanks for reporting! A few comments :

2. What pins are you using on the DEBUG port? It should be TX, RX and GND. GND must be common between all your devices : your USB-to-Serial converter needs the same reference in order to measure correct voltage differences.

4. The architecture on FMUv4pro has changed, powering from servo rail is not possible anymore (without an external wiring). Two power b

[2017-06-16 12:31] akshaykalkunte opened #7433 "px4flow issues with LPE on Pixhawk 2.1 cube"
We are unable to use px4flow with LPE on Pixhawk 2.1 cube and Pixhawk 1. We are running the Firmware 1.6.3, px4fmu_v3_default. Px4flow fails to initialize with the LPE parameters configured this way -  The optical flow, pub agl as lpos down, baro fused were selected for LPE_FUSION parameter gving a fusion mask of 162. Different values of Flow Quality were tested. Lidar Lite RangeFinder was used to

[2017-06-16 14:03] Seanmatthews commented on #6562
Thanks @potaito.

Yes, I am using [your mainapp.conf](https://github.com/potaito/snapdragon_mavros_vislam/blob/devel/mavros-integration/px4_configs/lpe/mainapp.conf).

[2017-06-16 14:18] davids5 commented on #7431
@bkueng,

 I need a few more details.

1. What version HW?
2. RE:The FMU DEBUG port outputs garbage
       What do you have connected to the debug port? Dronecode, or just FTDI cable?
3. RE:Motors turn when...
   What all was connected and on what pins.
4. What was the SYS_AUTOSTART value

I think the 2 (n) Brick management needs to be added to the code base.

[2017-06-16 14:59] bkueng commented on #7431
Yes I use these. The thing is that it works if I connect USB power. Is the GND from the DEBUG port not connected to GND of the battery source?

Power detection: I agree we need to support both (n) bricks, with correct failover behavior. But for now I'm just after a quick solution so that at least one of the ports can be used consistently.

@davids5
It's V4PRO, the setup is documented here: https:/

[2017-06-16 15:27] davids5 commented on #7431
@bkueng HW wize there is V1.0, V1.2, V1.2 with HW mods, V1.3. When was the board received?

[2017-06-16 15:31] LorenzMeier commented on #7431
V1.3

[2017-06-16 15:35] davids5 commented on #7431
@klopezal Was a unit and cables shipped to me?

[2017-06-16 15:46] klopezal commented on #7431
Yes!

[2017-06-16 17:15] Seanmatthews commented on #6562
Here's an oddity: Using `param set SYS_MC_EST_GROUP 1` and starting the ekf2 estimator instead of the the LPE estimator gives me a return on `/mavros/local_position/pose`. However, the height measurement it returns for Z is very inaccurate and jumps around by 10-30cm at a time, even though the height returned by VISLAM is accurate. Regardless, this leads me to believe that PX4 is receiving the VIS

[2017-06-16 17:41] mhkabir commented on #6562
Setting `SYS_MC_EST_GROUP` on Snapdragon (and other POSIX platforms) has no effect in the actual module startup.

You can check if LPE started by looking in the PX4 console where the startup script is actually run (i.e startup `mainapp` manually over a remote shell and see the output). You should see some info messages from LPE if it starts correctly.

[2017-06-16 18:09] Seanmatthews commented on #6562
@mhkabir Good to know about `SYS_MC_EST_GROUP`. Looks like it does start:
`[lpe] fuse gps: 0, flow: 0, vis_pos: 1, vis_yaw: 1, land: 0, pub_agl_z: 0, flow_gyro: 0`

[2017-06-16 18:10] mhkabir commented on #6562
Enable land and baro (if it already isn't)

[2017-06-17 09:26] potaito commented on #6562
Funny, I disabled baro and land precisely because of the jumpy Z-axis readings. With the settings posted by @Seanmatthews I managed to get the onboard height estimate to properly track VISLAM's estimate.

[2017-06-17 11:23] nicolaerosia commented on #7406
@mhkabir @bkueng @LorenzMeier I need this before my next trial, any suggestions?

[2017-06-17 11:33] LorenzMeier commented on #7406
Can you spec out a new packet for this? I'm happy to add it to the common spec. You could also take some inspiration from this:
https://github.com/pixhawk/mavconn/blob/master/src/core/mavconn-core.cc#L397-L449

[2017-06-17 13:33] mhkabir commented on #7406
Hi @nicolaerosia, I've been working on a thermal control module for IMUs (e.g on the Pixhawk 2). Maybe it makes sense to centralise that work together and yours?

[2017-06-18 13:36] tops4u opened #7436 "Listing many Logfiles causes Data Link Lost Message"
While listing 177 LogFiles I got a Data Link Lost Message on Mac QGC while being connected on USB. (PX4 FW 1.6.1 / QGC Beta about 3 Weeks old Master Build / MacBook Air mid 2012).

Additionally the first Mission Item was far away and the Flight Mode changed to "HOLD" - while there was no Control Link running.

![datalinklost](https://user-images.githubusercontent.com/6877067/27261069-f425479e-543b

[2017-06-18 13:54] tops4u opened #7437 "MC: YAW Mission WP Setting ignored / defaulting to 0°"
I tried to fly some missions with a preset YAW Heading - as I used to a few Weeks ago, when this worked perfectly. Tried again yesterday and failed. After Takeoff the Vehicle always turned YAW to North.

Using QGC HEAD:11b8aaf / 2017-05-29 with PX4 1.6.1

Log File: http://logs.px4.io/plot_app?log=650773ef-f5c9-432a-97cb-f7d61249a052

Mission File (Upload from Vehicle):
[YAW-Problem.plan.zip](https

[2017-06-18 15:29] see3peoh commented on #6231
https://www.bountysource.com/issues/40559111-oled-support-via-i2c

[2017-06-18 16:41] jgoppert opened #7438 "Impact of Low-pass Filtering for System-ID"
I'm currently working on automated system ID/ control tuning for Firmware version 1.6. On the new firmware, our logger sampling rate is around 250 Hz for gyros and accels and the low pass filtering on the sensors has been reduced in order to improve our estimation. The issue is that the real sampling rate is around 1 kHz and we are aliasing the logged output by sampling it at 1/10 the frequency wi

[2017-06-18 17:05] mhkabir commented on #7438
I think @CarlOlsson was also thinking along the lines of number 3. Personally, I prefer that way too : https://github.com/PX4/Firmware/issues/7416

[2017-06-18 17:06] jgoppert commented on #7438
So no major impact of just setting it to 1200 Hz in flight? How does cpu hold up?

[2017-06-18 17:12] jgoppert commented on #7416
@CarlOlsson have you made any progress here? I'm also running into the same issue and wanted to know what rate you were able to achieve, and if the cpu load was reasonable.

[2017-06-18 20:11] jgoppert commented on #7438
The filtering doesn't make much sense to me in the mpu9250.
@Stifael @bkueng can you help clarify.

If I'm reading it correctly, there would be no point in sampling higher that 60 Hz, 2 * low pass filter cut off.

We are sampling at 280 Hz,
https://github.com/PX4/Firmware/blob/master/src/drivers/mpu9250/mpu9250.h#L185

low pass filtering at 41 Hz on the device,
https://github.com/PX4/Firmware/blob

[2017-06-18 20:20] svpcom opened #7439 "RTL switch configuration"
I've have a two flights (one after one)
First flight was ok (mission and RTL): http://logs.px4.io/plot_app?log=f0d1fdb4-3c11-4f2a-8dc2-c0ba21947fd2
But in the second flight px4 ignore my RTL command:
http://logs.px4.io/plot_app?log=c85d052b-70e7-4a59-98ba-6100d0934abf

[2017-06-18 21:25] LorenzMeier commented on #7439
On a first pass on the log: in the first flight the RC switch went to 0.4 for RTL, but in the second it went to 0.6 and stayed in mission (where loitering is the default). If that is not consistent with your flight experience I can have another pass, but I suspect that either the operator didn't hit the same switch position or the RC switch thresholds sit right on the channel boundary. At any rate

[2017-06-18 21:53] svpcom commented on #7439
I have a single channel for flight mode (manual/stab/mission) and RTL.
[code]
My radio sum state of switches with different coefficients so actual value of RTL will depends from other switches but always > 0.5

Also selected region colored in plot as "RTL mode" and there are a log entries:
[code]

IMHO px4 recognize this RTL command but do nothing for unknown reason

[2017-06-18 23:05] priseborough commented on #7438
Ideally we should turn off the sensors internal DLPF, sample at 4kHz (or whatever the maximum is that the device can do), downsample to 250Hz for inertial navigation using trapezoidal integration in the driver to the delta angles and velocities. This will enable us to detect clipping which we are currently unable to do because it is masked by the devices internal filtering

For the control loop fe

[2017-06-18 23:31] priseborough commented on #7438
Are we using the FIFO buffer on the MPU9250?

[2017-06-18 23:57] priseborough commented on #7408
OK, I will have a look at it. I do not have the equipment here to do testing and gazebo time slips on my computer relative to the autopilot clock making the EKF results invalid, so simulation is not an option.

The lack of lockstep scheduling has been raised as an issue before and closed: https://github.com/PX4/Firmware/issues/3279

[2017-06-18 23:58] priseborough commented on #3279
This should be re-opened. It is a major source of estimator failures in simulation and is a blocker to the use of simulation to for integration of vision sensing data.

[2017-06-18 23:59] priseborough commented on #7408
https://github.com/PX4/Firmware/issues/7408

[2017-06-19 00:05] jgoppert commented on #7438
It looks like it is to me. So yeah,  that could work. We would just need to rip out the filtering and put in the integration.

[2017-06-19 00:18] jgoppert commented on #7438
The data sheet says the fifo is accessible via serial, not sure what that means for i2c.

[2017-06-19 00:54] priseborough commented on #7438
I think it is only available via SPI, not I2C. I2C is a bad interface to use for these sensors. How many boards would using I2C? hopefully not many.

[2017-06-19 01:46] #5790 closed

[2017-06-19 04:35] nicolaerosia commented on #7438
@jgoppert could you also take a look if the same issue applies to https://github.com/PX4/Firmware/blob/master/src/platforms/posix/drivers/df_mpu9250_wrapper/df_mpu9250_wrapper.cpp and https://github.com/PX4/DriverFramework/tree/master/drivers/mpu9250 ?

[2017-06-19 05:26] jgoppert commented on #7438
@nicolaerosia as far as I can tell it is using the same math

[2017-06-19 06:49] tumbili commented on #3279
+1 For reopening this. I've been trying to use SITL as a development tool for the estimator but I've given up due to inconsistency in the data. At this point I don't think that this issue is just related to computers with less computational resources, my laptop is pretty good but I still have these issues.

[2017-06-19 07:05] priseborough commented on #7408
I wanted to clarify what you were trying to achieve before digging further. When you say you want to use vision Pose  do you mean the quaternion  angle from the vision system (Pose refers to angular states) or the position?

Are you aware that the EKF2:

a) Will only use the yaw component of the vision Pose (quaternion) data and only when bit position 4 in the bitmask is true.
b) If bit position 3

[2017-06-19 07:08] priseborough commented on #3279
I agree. Here is a plot of the integrated sensor_combined inertial nav delta time and the system time from a gazebo simulation on a mac powerbook which has plenty of power:

<img width="487" alt="screen shot 2017-06-18 at 10 52 08 pm" src="https://user-images.githubusercontent.com/3596952/27273293-c7945662-5511-11e7-9a40-527ac6fced08.png">

I get the same result when running jmavsim.

[2017-06-19 07:09] LorenzMeier commented on #7408
@priseborough The right way to formulate it for most vision systems is to fuse the vision pose as a low-drift position (so it is not absolute, but more a kinematically correctly integrated velocity). Focusing on that would be a good first step.

[2017-06-19 07:13] Stifael commented on #6867
I will close this issue for now.
@hamishwillee I think it makes sense to add simulation limitation in the devguide

[2017-06-19 07:13] #6867 closed

[2017-06-19 07:16] Stifael commented on #6604
an improved mc-landdetector PR is here:
https://github.com/PX4/Firmware/pull/7314.

[2017-06-19 07:17] Stifael commented on #6604
I will close it. Because I opened this issue I will close it for now, but keep tracking the land-detector progress

[2017-06-19 07:17] #6604 closed

[2017-06-19 07:23] zalessio commented on #7408
When I am talking about pose I am referring to a 6dof position + quaternion. But in my case I am using just the position, I did not use the quaternion component of the pose.
What I am doing right now (both with LPE and EKF2) is: when I initialise my vision system I save the offset between it and the GPS coordinate system. Then the measurement that I send to the EKF is my vision pose transformed in

[2017-06-19 07:31] priseborough commented on #7408
@zalessio Is this an on-board  position measurement system that accumulates error or an off-board system with an absolute earth frame reference like a VICON?

If it is on-board, are there loop closure jumps (eg when a SLAM system observes an old feature) to deal with?

[2017-06-19 07:33] hamishwillee commented on #6867
So I was planning to add a "you can't run this successfully in virtual environment note" anyway, but it sounds like this problem could also affect simulation on relatively "ordinary" hardware.

1. Is this only going to be a problem due to estimator - or to put it otherwise, is it worth specifically mentioning this limitation or just commenting that real time performance is required, and in most ca

[2017-06-19 07:48] Stifael commented on #7438
@bkueng, can you comment? I haven't really looked into the accel/gyro filtering, and to me it makes sense to apply a critical damped DLPF as @priseborough suggested.

[2017-06-19 07:50] priseborough commented on #6867
See  https://github.com/PX4/Firmware/issues/3279 for further discussion.

This is looking more like a bug in the simulation SW.

[2017-06-19 07:58] zalessio commented on #7408
It is an on-board system ...
In this moment I'm trying to use two different vision pose estimators:
* One is a visual odometry system (SVO), but it is not performing loop closure, so it does not jump. If I return in an area where the quad flew before it initialises new features, so the system drifts but not jumps.
* The second one is based on the tags on the top of a static platform and I use them

[2017-06-19 08:02] Stifael commented on #7426
@nkhoit, I think there are two questions which I also would like to have answered.
1.) is it necessary to control xy during auto land
advantage:
- the vehicle will not drift
disadvantage:
- the vehicle can only land if it has at least local position estimate in xy.
2.) why does it fly to home_position for  land
- I don't understand why it ever should do that for auto land.
 a.) home_pos requires g

[2017-06-19 08:05] priseborough commented on #7438
My higher level objectives were to:

- Separate the signal processing chains for autopilot control feedback and inertial navigation so we can use the most appropriate filtering and downsampling technique for each. Inertial navigation is best served by doing high rate integration on the raw data data. For autopilot control feedback, we want to filter motor/prop vibration to acceptable levels with m

[2017-06-19 08:53] ChristophTobler commented on #7426
I am able to reproduce this in SITL by starting in manual/position and then `commander land` (or using QGC). However it doesn't happen when in auto mode (e.g. hold). Will look into it

[2017-06-19 08:58] tumbili commented on #3279
@priseborough If I'm not mistaken the delta time for the sensor combined topic is calculated by taking the difference of the timestamps which stems from system time. So I don't quite understand where this difference comes from. How were you measuring the system time?

[2017-06-19 09:10] AlexisTM opened #7440 "Actuator controls group 1,2,3 not available through MavLink"
Hi all,

Is there a reason that the ACTUATOR_CONTROLS is not fully implemented?
Indeed, we are only able to publish to the group 0, but might want to publish to group 1, 2 or 3 from MavLink (For offboard missions).

https://github.com/PX4/Firmware/blob/master/src/modules/mavlink/mavlink_receiver.cpp#L1066-L1081

Is there any recommandations or limitations or should I do the PR?

[2017-06-19 09:11] mhkabir commented on #7440
Yeah I think it's just that no one implemented it. Can you send a PR and test the setup?

[2017-06-19 09:17] TSC21 commented on #3279
Thumbs up fot reopening this. I have been facing strange issues which I believe may come from this.

[2017-06-19 09:40] mhkabir commented on #7408
@priseborough To give a general high-level overview of the vision support we want to support a large percentage of use cases. Please let me know if anything is unclear or where you need more information :

## General implementation ideas

1. The estimates come from onboard visual odometry systems, which drift and **are not absolute.**
2. VICON is a different use case which we would like to support

[2017-06-19 09:42] bkueng commented on #7438
@jgoppert How did you get the 130Hz? The current logging rate is 280Hz, logging `sensor_combined` at full rate. CPU-wise the new logger is more efficient than `sdlog2`, so we can go higher if needed.
I'd also go for 3. together with @priseborough 's suggestions, and the new system's architecture (https://github.com/PX4/Firmware/issues/7318), to run the low-level rate controller at 1kHz. I think th

[2017-06-19 09:46] priseborough commented on #3279
@tumbili the sensor module uses the integral_dt value from the imu sensor report, not the system time delta.

My plot of system time came from the log timetamp.

[2017-06-19 09:53] ChristophTobler commented on #7426
fix: https://github.com/PX4/Firmware/pull/7441

[2017-06-19 10:36] TSC21 commented on #7392
@dswk maybe you will want to consider `GPS_RTK` msg instead?

[2017-06-19 10:41] priseborough commented on #7438
It would be good to be able to make the low level rate controller rate a parameter controlled option. Some applications with only single sensors and minimal IO will be able to run at the faster rate. Also we will be seeing  boards with F7 CPU's in the near future. The downsampling of the integrated gyro and accel data into delta angles and delta velocities sent to the sensor module and only used b

[2017-06-19 11:20] tumbili commented on #3279
@priseborough True, but the integral dt value from the sensor topic stems for timestamps which are calculated using the system time. See e.g. the timestamp for the gyro topic in SITL
https://github.com/PX4/Firmware/blob/master/src/platforms/posix/drivers/gyrosim/gyrosim.cpp#L1025
So my question still is why do we see those differences in timing.

[2017-06-19 11:26] #7426 closed

[2017-06-19 11:28] LorenzMeier commented on #7402
@tubeme Do you have new logs or an update on this? I would like to help you getting this resolved quickly and fix the documentation where required. It should be easy to configure and if its not we need to fix it.

[2017-06-19 11:43] bkueng commented on #3279
@tumbili it could also be that the logger misses some topic updates due to inaccurate scheduling. The same can happen for the estimator.

[2017-06-19 12:31] bkueng commented on #7431
A solution for 4., until we have support for N bricks, is here: #7442

[2017-06-19 13:39] dswk commented on #7392
If this is what you’re referring to:

https://pixhawk.ethz.ch/mavlink/#GPS_RTK

It doesn’t appear to list the individual SNR, azimuth, and elevation for the individual satellites, which is what I need.

From: Nuno Marques [mailto:notifications@github.com]
Sent: Monday, June 19, 2017 6:37 AM
To: PX4/Firmware <Firmware@noreply.github.com>
Cc: Sharp, David (US) <david.sharp@lmco.com>; Mention <mentio

[2017-06-19 13:44] rollysing opened #7443 "Erratic Throttle in Altitude Mode"
Per @AndreasAntener he thinks it might be related to the new default TECS height feed-forward of 0.8 (FW_T_HRATE_FF).

I posted the original issue here:
 :point_up: [June 18, 2017 6:56 PM](https://gitter.im/PX4/VTOL?at=594705376549436c7d5e4e85)

Log plots available here and I've attached the log file:
[QuadRanger log.zip](https://github.com/PX4/Firmware/files/1085105/QuadRanger.log.zip)
http://log

[2017-06-19 17:32] mhkabir opened #7444 "Annoying user-facing messages during radio calibration"
We should get rid of these. The "disarmed" messages are misleading and annoying.

![image](https://user-images.githubusercontent.com/5557676/27295729-83bd8f06-553b-11e7-886f-f79b87d831c0.png)

[2017-06-19 17:58] svpcom commented on #7051
@MaEtUgR any updates?

[2017-06-19 23:09] crvogt commented on #6646
Hi @jay3ss
I was wondering, did you modify the vicon_bridge code to advertise vicon pose data on the mavros/mocap/pose topic? The pixhawk documentation says mavros provides the data by default (as suggested by the mocap use-pose parameter being set to "true" in the px4_config.yaml file) but can't figure out how mavros is supposed to be getting the pose data, ie, where is it listening to the vicon

[2017-06-19 23:11] dagar commented on #7438
WIP PR for icm20608 @ 4k - https://github.com/PX4/Firmware/pull/3360

[2017-06-20 00:12] jay3ss commented on #6646
@crvogt, I ended up remapping the `mavros/local_position/pose` topic to something else then republished the vicon data along that  topic and `mavros/mocap/pose`. Since I did that I haven't had any problems.

[2017-06-20 01:01] jgoppert commented on #7438
@bkueng Sorry, yes, I'm getting around 248 according to my log. Still, I think we have a lot to improve on here.

[2017-06-20 01:11] crvogt commented on #6646
Okay, it sounds like what you posted originally effectively. As you mentioned though, it doesn't seem ideal, like there's a built in way that mavros can simply listen to the vicon topics. But if it works, I'll probably try it after I get frustrated enough :) Thanks for the help!

[2017-06-20 01:34] jgoppert commented on #7438
Ideally we would want a non aliased signal for sysid in the log. And I don't think we can ever hope to log at  1-8 kHz or want to regularly due to file sizes. So maybe we can output the dlpf output and use that for sysid.

[2017-06-20 04:49] crvogt commented on #6646
Hi @mhkabir , I don't suppose you could clarify the best way to go about incorporating the vicon data into mavros? I assume mavros is looking for a mocap topic, but unsure of where that's happening.
Thanks!

[2017-06-20 05:44] CarlOlsson commented on #7416
Hi,
As soon as I increased the rate I could not connect at all in mavlink shell so could not test it properly. Now I am gone for a week so will have to pick it up when I'm back. But please tell me if you figure something out!

[2017-06-20 05:56] #7398 closed

[2017-06-20 05:58] #7197 closed

[2017-06-20 05:58] #7002 closed

[2017-06-20 06:08] jgoppert commented on #7438
So if you look at the voting code for sensors, this all makes a lot more sense.  The only value we are using for the logged data or estimation is the integrated value, which only uses the data from the raw sensors. So the only filter being applied is the sensor DLPF at 41 Hz. So that is isn't as horrible as it looked, but we should probably remove that and handle it with a filter on our side as @p

[2017-06-20 08:00] potaito commented on #6562
@Seanmatthews By the way, this is the offboard control node I used to hover at a specific waypoint:

[code]

[2017-06-20 08:34] jgoppert commented on #7438
I loaded some code onto a pixhawk and it looks promising, we can run the mpu6000 gyro at 8kHz without issue and the dlpf on chip isn't needed.

[2017-06-20 13:47] lhc610github opened #7448 "Create a new Custom MAVLink Messages , but can not receive it"
Hi all,

I try to create a custom mavlink message as the [tutorial](https://dev.px4.io/en/middleware/mavlink.html) told me.
 1. add the headers and create a new class in [mavlink_receiver.cpp](https://github.com/lhc610github/Firmware/blob/new_test1/src/modules/mavlink/mavlink_receiver.cpp)
 2. make sure it is called in `MavlinkReceiver::handle_message()`

the MAVLink to UART interface is [here](ht

[2017-06-20 19:39] AndreasAntener commented on #7443
@rollysing As we've already discussed, after your test with 0.2, please share your results here.

[2017-06-20 19:55] jgoppert opened #7449 "mc_attitude_control not using integrated gyro data"
Why is mc_att_control using the sensor_gyro data topic directly.  I believe the correct approach is to use the control_state topic. I thought I had tracked down the filtering pipeline for the imu data here, https://github.com/PX4/Firmware/issues/7438, only to find that the attitude controller is not using the published sensor_combined message.

Shows attitude control is using sensor_gyro directly:

[2017-06-20 20:26] LorenzMeier commented on #7449
@jgoppert It would be a step backwards to re-integrate into sensor combined. The idea is to have zero latency between gyro data and attitude rate loop. The way the system is currently built allows that.

[2017-06-20 20:44] jgoppert commented on #7449
@LorenzMeier I get the goal, but at minimum shouldn't we be using the sensor_gyro.x_integrated? And why are we filtering it at 41 Hz and 30 Hz currently. That introduces a lot of lag.

[2017-06-20 20:47] LorenzMeier commented on #7449
That is mostly historical based on performance tests we did. I think modern systems are much better matched and it is indeed timely to revisit it.

[2017-06-20 21:29] NickSadjoli opened #7450 "Multicopter: Anyway to directly control MAIN OUT 5 and 6 from modified mc_attitude_control code?"
Hello! I am relatively new to the PX4 scene, and thus I am still quite confused on what can and cannot work, so any help would be appreciated.

So I am currently trying to develop a '_flying car_' using the PX4 flight controller + firmware. Initially I thought that creating a new airframe and a custom mixer combo should do the trick. However, it seems that is not achieving what I want.

Specifical

[2017-06-20 22:44] priseborough commented on #7449
James, the chip samples before applying the internal DLPF, so the DLPF does not help with aliasing

We should not be using integrated quantities for motor feedback becasue that is using a sub-optimal FIR filtering strategy wrt the phase lag vs noise tradeoff and will do a poor job of filtering out noise below 125Hz which is close to the motor fundamental for many systems The most phase efficient w

[2017-06-20 22:46] dagar commented on #7450
Perhaps I'm not following what you're looking for, but do you want manual input (RC) mapped to these outputs? If so you should be copying from _manual_control_sp.

[2017-06-20 22:48] NickSadjoli commented on #7450
Yes, what I want is to have the input from RC Roll and Pitch to be **programmatically** mapped to the MAIN output pins, when RC Throttle stick value is below a certain point. Is _manual_control_sp still the way to go then?

Thanks for the reply!

[2017-06-20 22:55] NickSadjoli commented on #7450
Also, would my method of mapping the MAIN OUTPUT 5 and 6 to actuators 4 and 7 enable them to change pwm outputs when actuators 4 and 7's valuesare changed?

If so, is using _actuator_controls the correct way to set the flaps/gears actuator (actuator group 0, number 4 and 7) to a certain value?

I hope to hear from you again soon, and so so sorry for so many questions like this, since I am very new

[2017-06-21 03:16] jgoppert commented on #7449
My assumption about the sampling was that they were always sampling at 8 kHz internally and then applying a dlpf on those samples before outputting it at 1 kHz, in that case the dlpf would help correct? Is this not what happens? How do we check?

[2017-06-21 03:21] priseborough commented on #7449
See the table on page 13 of this document https://cdn.sparkfun.com/assets/learn_tutorials/5/5/0/MPU-9250-Register-Map.pdf

[2017-06-21 03:24] priseborough commented on #7449
It also gives useful information on group delay for the various filter options.

[2017-06-21 05:55] priseborough commented on #7408
@mhkabir, thank you for your detailed response. I will have a look at the https://github.com/PX4/Firmware/pull/6074 and see what ideas I come up with for integration. On the EKF3 used by ardupilot which shares the same derivation with our ecl EKF, I fused visual odometry from a ZED camera by using the delta position estimates from the camera system rotated into body frame. I think I can improve on

[2017-06-21 09:33] ksschwabe commented on #7416
@CarlOlsson Are you doing this using the DriverFramework (using a Snapdragon, RaspPi, or SITL)?

In the df_mpu9250_wrapper.cpp in the _publish function, there are the following lines of code:
[code]

This means that although the MPU might be giving you data at 1000Hz, it is only being published at a quarter of that rate. (@LorenzMeier: This hard-coding of publishing only every forth message isn't

[2017-06-21 13:19] SuWeipeng opened #7453 "Support DShot ESC."
How to support DShot protocol?

[2017-06-21 17:39] hawkeyeuas opened #7455 "Pixhawk with PX4 firmware - No way to configure retractible landing gear?"
I am running a standard X copter configuration, formerly running Ardupilot on the Pixhawk.

I was advised to change to PX4 so that offboard mode could easily be configured.  When I did, I discovered that there is no way, at least that I could find, to reconfigure my retractable landing gear.

The landing gear not working with PX4 is a huge issue.

I don't have any problems configuring the offboard

[2017-06-21 17:53] crvogt commented on #6646
For future reference, mavros will listen directly to Vicon and incorporate it almost out of the box. The only thing that needs to be changed is the topic in the callbacks in "mocap_pose_estimator.cpp".
Thanks again for the input.

[2017-06-21 19:44] LorenzMeier commented on #7444
Those were anyway too verbose. Removed in 13bf312263.

[2017-06-21 19:44] #7444 closed

[2017-06-22 07:28] potato77 opened #7456 "upload failed"
version:1.5.5
I change the file `nuttx_px4fmu-v2_default.cmake` in  `cmake\configs`.
origin

after

the error is

![default](https://user-images.githubusercontent.com/11450591/27422060-70b50940-575f-11e7-8e81-d70a38a46d7e.png)

[2017-06-22 07:30] LorenzMeier commented on #7456
You can't enable all modules. There is on your board only enough flash for either-or.

[2017-06-22 07:30] #7456 closed

[2017-06-22 07:35] LorenzMeier commented on #7455
Of course there is an option. You need to configure a few things:

  * Gear switch: `RC_MAP_GEAR_SW` - set it to the RC channel you want it to be on
  * You need a gear mixer to pass the gear channel to the AUX outputs:
[code]
  * The gear mixer needs to be loaded:
[code]

All this can of course be automated - you would need to extend your startup script to include the right config.
https://github

[2017-06-22 08:00] lericson opened #7457 "Motor spinning on USB power reset"
Despite the fixes in #7123, we still get motors spinning on unplugging the USB cable.

**Steps to reproduce**:
1. Plug in battery, USB cable
2. Start QGroundControl
3. Unplug USB cable

It only happens if QGroundControl has been talking to the PX4, as this triggers USB telemetry boolean that actually makes the PX4 reset after USB has been unplugged.

I have looked at the PWM signal with an oscillo

[2017-06-22 08:03] lericson commented on #7457
We have the PixRacer hardware version 4, by the way.

[2017-06-22 14:09] limpolito commented on #6573
Hi @scenkov I downloaded your repository and I tried to run your code but I get this error:

[08500/03]  02:37.121  HAP:62:HAP_debug_v2 weak ref not found, return _rtld_sym_zero@_rtld_objmain  0294  symbol.c
[08500/03]  02:37.121  HAP:62:HAP_debug_v2 weak ref not found, return _rtld_sym_zero@_rtld_objmain  0294  symbol.c
[08500/03]  02:37.121  HAP:62:HAP_debug_v2 weak ref not found, return _rtld_s

[2017-06-22 14:15] hawkeyeuas commented on #7455
Lorenz,

Thank you so much for your prompt reply and assistance.  I decided to re-install the Ardupilot firmware and reconfigure the landing gear functionality.

I think I mentioned that the reason for the change to PX4 was to set up offboard mode for a companion Odroid computer.  I was told that the terminology is different on Ardupilot and is called guided mode.  I have it setup, but am unsure i

[2017-06-22 14:53] LorenzMeier commented on #7455
This is for PX4 firmware issues - not for general user support.

[2017-06-22 14:53] #7455 closed

[2017-06-22 15:09] LorenzMeier opened #7458 "Add landing gear tutorial and default instructions"
* Gear switch: `RC_MAP_GEAR_SW` - set it to the RC channel you want it to be on
  * You need a gear mixer to pass the gear channel to the AUX outputs:
[code]
  * The gear mixer needs to be loaded:
[code]

[2017-06-22 15:25] davids5 commented on #7457
@lericson - Thank you for reporting this. Please test https://github.com/PX4/Firmware/pull/7459

For a faster test cycle time: A `reboot` command on the debug port will also trigger the spin.
It is tricky to catch. The asynchronous reset has to occur when the PWM pins are high. So more testing is better, testing with a logic analyzer with analog, is the best way to see the fix is solid.

On the HW

[2017-06-22 15:36] lericson commented on #7457
It happens very consistently for us. Will try the PR on Monday, thanks! I had tried usleep at the same location but it didn't work -- might've been to short an interval too.

[2017-06-22 15:43] dagar commented on #7458
Longer term could we find a way to do this without having to deal with a mixer?

I'm also wondering if it would make sense to move things like landing gear to a separate control group and handle it outside of the attitude controllers. That module could have landing gear config via param and would be accessible for both MC and FW.

[2017-06-22 16:25] davids5 commented on #7457
@lericson
Thank you! Please let me know how the testing goes. I may also need more details the proposed fix you have and the HW attached.

[2017-06-22 22:36] tubeme commented on #7402
We were not able to reproduce anymore. It appears only in strong weather when the wind gusts are creating some lift in the wings on the ground, combined with the rotation of the quad props.

[2017-06-23 05:17] LorenzMeier commented on #7402
Ok. There is nothing we can do in those conditions except using a Lidar for the detection. Is this something you would want to contribute to?

[2017-06-23 05:17] #7402 closed

[2017-06-23 16:10] dagar opened #7463 "pixhawk pro quadcopter flyaway"
http://logs.px4.io/plot_app?log=00b0b048-39bd-45cd-910b-c3d54b0f39ad

![image](https://user-images.githubusercontent.com/84712/27490566-c541ba8c-580c-11e7-9737-46f6a609d4b8.png)

EKF plots

[00b0b048-39bd-45cd-910b-c3d54b0f39ad.ulg.pdf](https://github.com/PX4/Firmware/files/1098398/00b0b048-39bd-45cd-910b-c3d54b0f39ad.ulg.pdf)

[code]

@santiago @priseborough @bkueng

[2017-06-23 16:15] dagar commented on #7463
As a precaution I reverted `-fno-math-errno`.

[2017-06-23 21:59] priseborough commented on #7449
Unless we use the FIFO, we cannot use modes that run the chips internal ADC at faster than 1kHz. Looking at the data it is is likely the chip does not have enough computing resources to run a higher data rate and perform filtering.

[2017-06-23 22:47] tubeme opened #7464 "PX4 1.6.3: PWM Camera trigger does not work"
Hello guys,

We've got a pure PWM controlled camera and we tried to connect it with the 1.6.3. We set up like this:

TRIG_MODE 4
TRIG_INTERFACE 4
TRIG_PINS: 56

We connected the camera to pin AUX 5 and then tried to manually trigger the camera from the info panel and from Camera Settings panel as well. Neither one worked. Tried the camera with a regular PWM RX. With a 3 position switch it works pe

[2017-06-23 23:36] tubeme commented on #7464
Another related issue was that in QGC in the Camera Trigger control panel the default for TRIG_INTERFACE was shown as "Unassigned: 4". Then if we switch to let say "Seagull MAP2" and restart, we could not see the Unassigned:4 option anymore. We have to forcefully change trig_interface = 4.

Also there is something with the color scheme recently. Everything in the settings drop down boxes is white

[2017-06-24 01:38] mhkabir commented on #7464
![image](https://user-images.githubusercontent.com/5557676/27504645-d294b24e-58ab-11e7-91ff-c038376499a0.png)

Works for me on v1.6.3 and a Pixhawk. This might be something specific to the X2.1, but I don't have that hardware to debug.

[2017-06-24 08:59] lyhsteven opened #7465 "Using sonar MB1242 in LPE"
Hello guys,
We want to use sonar MB1242 to measure the altitude in LPE. To make it happened, I've already done these:
1. I uncomment the drivers/mb12xx in cmake/configs/nuttx_px4fmu-v2_default.cmake
2. I turn the param SENS_EN_MB12XX from 0 to 1 in src/modules/sensors/sensor_params.c and also in QGC
3. I don't know how much to set LPE_FUSION for I set it 174
But it still doesn't work.
Could anyone

[2017-06-24 12:36] matanhavi commented on #7458
Is there way to control the landing gear by mavlink?
Does they controlled by logic? for example, during RTL, does it goes down automatically?

[2017-06-24 13:22] davids5 commented on #7018
@mhkabir https://github.com/PX4/Firmware/issues/7018#issuecomment-298184507 Did you ever instrument the downloader to see the cause?

[2017-06-24 13:24] mhkabir commented on #7018
@davids5 Unfortunately I didn't as this was low prio, and I'm not proficient in Python.

[2017-06-24 13:27] davids5 commented on #7018
Ahh - I know how you feel:) @julianoes can you lend a hand here?

[2017-06-24 20:18] nkhoit opened #7467 "Setting mode to PosCtl after RTL causes large velocity setpoint"
If you command an RTL then set mode to Manual PosCtl, the vehicle will take off very fast towards the home location with no stick input while in PosCtl.

SITL Log: http://logs.px4.io/plot_app?log=dd5b9854-3c7a-46ce-b97d-457dd3185a88
Replication steps:
- Take off in PosCtl
- Command RTL
- Set mode to PosCtl
The vehicle will quickly ramp up to 9 m/s with no stick input then slow down after a few sec

[2017-06-24 23:05] tubeme commented on #7464
@mhkabir Did you connect something to the AUX 5?

[2017-06-25 00:40] tubeme commented on #7464
@mhkabir It could not be related to X2.1. This is tested on Pixhawk FMUv2. 1.6.3

[2017-06-25 04:53] scenkov commented on #6573
To run LTC2946 you have to boot Snapdragon with battery 2-4s

On Thu, Jun 22, 2017 at 4:09 PM, limpolito <notifications@github.com> wrote:

[2017-06-25 07:18] LorenzMeier commented on #7463
Testing so far suggests that this fixed it. We need to HITL test the math changes.

[2017-06-25 12:47] garfieldG opened #7472 "Wrong SW version"
Looking at AUTOPILOT_VERSION message we can see that the software version is incorrect, the problem is with the version_tag_to_number function in version.c that doesn't take under consideration Major,Minor or Patch number bigger than 9.
For example - the nuttx minor version number.

Another thing - local modifications are ignored in terms of software versioning. Even if there were any local change

[2017-06-26 03:47] dagar commented on #7458
@matanhavi for a multicopter yes it will go down automatically.

[2017-06-26 03:54] hamishwillee opened #7473 "Group vehicles of a particular frame type together in the airframe reference"
@bkueng Would be good to rearrange the [airframe reference](https://docs.px4.io/en/airframe_reference.html) generation tool such that all vehicles of a particular type are grouped - e.g. all planes, all vtol, all rovers etc. At the moment they are mixed.

It would also be great to create an anchor we can use to link to each of these sections.

[2017-06-26 04:01] hamishwillee opened #7474 "Make airframe outputs consistent"
It would be good if the airframe outputs could use consistent outputs for the same function.

So for example, the [standard plane](https://docs.px4.io/en/airframes/airframe_reference.html#standard-plane) frames use MAIN3, 4, or 5 for throttle.

(FYI I have updated the user guide so that the airframe reference is now the canonical place to get the output information, but I still think consistency i

[2017-06-26 04:15] dagar commented on #7474
There will be exceptions of course, but we can definitely do a better job being consistent.

[2017-06-26 04:40] nicolaerosia commented on #7449
I will try it on Raspberry Pi 3 with Navio2.
Could you tell me what else I need to change besides the driver providing samples at 8KHz ?
There is a difference between NuttX and DF MPU9250, in NuttX the Integrator is set to reset and in DF is not.
Any idea why is this set this way?
https://github.com/PX4/Firmware/blob/master/src/drivers/mpu9250/mpu9250.cpp#L158-L159
https://github.com/PX4/Firmware/

[2017-06-26 04:52] nicolaerosia commented on #7449
LE2: Actually this seems worse than I thought, since the integrator is initialized without a reset period, the integral will only be set on reset ( https://github.com/PX4/Firmware/blob/master/src/drivers/device/integrator.h#L53-L63 ).
The DF MPU9250 uses this value to report the x/y/z_integral, which logically should be zero ( https://github.com/PX4/Firmware/blob/master/src/platforms/posix/drivers

[2017-06-26 06:31] julianoes commented on #7018
From what I found when I tried to debug it last, it just seems to time out waiting for an ack after having done a usual write of 252 bytes.

[2017-06-26 06:32] nicolaerosia commented on #7449
Related issue: https://github.com/PX4/DriverFramework/issues/209

[2017-06-26 07:10] priseborough commented on #7449
The requirement to publish the raw accel or gyro data as received from the FIFO would be driven by a specialised data logging mode for vibration analysis and should have it's own topic that is only published when the logging mode is active. Otherwise there is no point publishing faster than the rate loops require to be updated.

[2017-06-26 07:17] nicolaerosia commented on #7449
@priseborough wouldn't EKF benefit from publishing faster? Is there a table with the rate loops frequency?

[2017-06-26 07:27] priseborough commented on #7449
@nicolaerosia No, because it only runs the output predictor at the sensor_combined rate. Delta angles and velocities received in the sensor_combined topic are integrated across 12msec time steps using a full inertial nav calculation and stored in a FIFO buffer for use by the EKF prediction and correction cycle which runs ever 12msec on a delayed time horizon.

The main requirement is that the EKF

[2017-06-26 08:01] nicolaerosia commented on #7449
@priseborough I see, thank you. So the right way to approach this would be to do filtering for a BW ~100 Hz (1000/12 ~ 83.33 Hz), use Integrator to integrate data before it's time to publish data that's going to end up in sensor_combined ?
If the EKF runs at 84 Hz, then why the current driver publishes at a higher rate?

[2017-06-26 08:21] priseborough commented on #7449
No digital noise filtering is required for high rate data before integration in the driver. That integrated delta angle and velocity data is for inertial nav and should only be used by the EKF. We should have separate IIR filtered rate and accel data for the control loops.

The EKF uses an output observer that provides kinematic state outputs at the same rate as the sensor combined topic. The outp

[2017-06-26 08:29] bkueng commented on #7473
Sounds good. We already have a type to image name mapping [here](https://github.com/PX4/Firmware/blob/master/Tools/px4airframes/srcparser.py#L25), we can do the same to get the group. Do you want to do this?

[2017-06-26 08:50] deksprime commented on #7465
Which interface are you using for  the sonar to the FCU? Maybe you are trying to use an interface which is not supported in the driver.

[2017-06-26 10:09] jimchenhub commented on #7222
Hello, Have you solved this problem?

[2017-06-26 10:13] matanhavi commented on #7458
@dagar Thanks, I will try it.
Does it have option to be controlled by mavlink?
and/or how they goes up?
I tried to find the related code, to follow the logic, without success.

[2017-06-26 12:29] MaEtUgR commented on #7467
Interesting finding! This looks to me a like a slewrate being applied without having reset the previous setpoint on which the calculation is based.

But if I see it correctly you do not fly fast before switching to RTL which leaves the open question where this very high previous velocity setpoint comes from.

@Stifael any recent changes that might explain?

[2017-06-26 12:42] Stifael commented on #7467
@MaEtUgR I commented here:
mc_pos_control: Properly constrain xy velocity setpoints #7468

[2017-06-26 13:46] jlecoeur opened #7475 "New parameter requires make clean"
When adding a new parameter XXX (using `control::BlockParamFloat`), I get this error on startup:
[code]

This error disappeared after I did `make clean` and rebuilt everything.

I haven't looked at how parameters are dealt with by the build system, but it would be better if adding new parameters did not require a full re-compile.

[2017-06-26 14:07] limpolito commented on #6573
Hi thank you for reply, I'm actually using a 3S battery connected to the APM.

[2017-06-26 15:35] dagar commented on #7475
Where did you add the parameter?

Have you tried the latest master? There was a broken parameter dependency the was fixed recently.

[2017-06-26 15:39] dagar commented on #7458
Here for AUTO - https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/mc_pos_control_main.cpp#L1560

[2017-06-26 15:45] Kaiserollz89 opened #7476 "Pixhawk compass won't calibrate"
I am having a problem getting my compass to calibrate in qgroundcontrol. I am using a Pixhawk Mini flashed with the px4 firmware. I didnt have any issues calibrating the gyro, accelerometer, or level horizon. But when I attempt to calibrate the compass I get an error message " Mag 0(ID 26178) no matching uORB devid... calibration failed: mag".

I have tried reflashing the firmware, calibrating wit

[2017-06-26 17:43] limhyon opened #7478 "https://github.com/PX4/Firmware/blob/master/src/drivers/px4flow/px4flow.cpp#L514"
Hi,
Why this px4flow.cpp app accept only pixel_flow_x_integral?

[2017-06-26 19:10] jlecoeur commented on #7475
Oops my bad, I updated my branch and the problem is gone.
Thanks!

[2017-06-26 19:10] #7475 closed

[2017-06-26 19:54] hitimo opened #7479 "Px4 <==> Piksi Multi RTK communication"
Has somebody worked / is working on the SBP2 driver that
- reads navigation solution from and
- sends correction data to Piksi Multi?

This is implemented for ArduPilot:
https://github.com/ArduPilot/ardupilot/blob/3018728f50e5a8f5f73539da8c74f26393fbf286/libraries/AP_GPS/AP_GPS_SBP2.cpp
https://support.swiftnav.com/customer/en/portal/articles/2803651-piksi-multi-ardupilot-integration-guide

![](ht

[2017-06-26 20:40] LorenzMeier opened #7480 "Setting mag rotation requires a restart"
@bkueng @mhkabir  In the current code I only got correct heading after rebooting the autopilot. Can you confirm this?

[2017-06-26 20:42] tubeme commented on #7464
I dismissed the X2.1 from the name of the issue because all the tests we do are with plain Pixhawk. We still cannot make it work. The servo Aux5,6 are dead in our tests, nothing happens on the pins. We tried connecting plain servo, powering the servo bus with bec, we tried the PWM camera as well. We tried moving to AUX1,2 with the same results. Nothing happens. I must say we try triggering the cam

[2017-06-26 20:46] tubeme commented on #7480
I can confirm this.

[2017-06-26 20:48] LorenzMeier commented on #7464
I know its working as I just got a long survey log from 1.6.3. I'm currently trying to identify what your setup issue is. Can you please try TRIG_INTERFACE = 2 instead?

[2017-06-26 22:08] mago3421 opened #7481 "Where is Offboard Control in FixedWingPositionControl.cpp?"
I am running a multi-plane SITL simulation to test offboard mode. I command one plane by constantly sending it SET_POSITION_TARGET_LOCAL_NED MAVLink messages and then setting it to offboard mode. However, the plane does not seem to be responding to these MAVLink commands despite being in offboard mode. The behavior seems like the heading is locked despite having been commanded a goto point.

So, I

[2017-06-27 02:13] lyhsteven commented on #7465
I got it. It also needed to edit in rcs that turn **if param compare SENS_EN_MB12XX 1**, then it will work.

[2017-06-27 02:14] #7465 closed

[2017-06-27 02:21] mhkabir commented on #7480
@LorenzMeier Yes this is the intended behaviour. I think we will need to make QGC force a restart after setting the mag rotation to avoid users from not rebooting and flying.

[2017-06-27 05:47] hamishwillee commented on #7473
Yes. Let's continue discussion in #7482

[2017-06-27 06:00] hamishwillee opened #7483 "Simulation in Airframes reference - what do the MAIN mean"
https://docs.px4.io/en/airframe_reference.html#simulation

@bkueng Regarding:
![image](https://user-images.githubusercontent.com/5368500/27572828-9f64fcdc-5b51-11e7-8bc3-ffa3457b0f89.png)

1. Image is plane, but one of the simulations is quad
2. For quad the MAIN values above will be wrong.
3. What do the values for MAIN mean in a simulation?

[2017-06-27 06:02] dagar commented on #7480
Where's the issue?

[2017-06-27 06:21] bkueng commented on #7479
Not that I know of... but we happily accept PR's :)
We currently support the u-blox RTK:
https://docs.px4.io/en/advanced_features/rtk-gps.html
https://dev.px4.io/en/tutorials/rtk-gps.html

[2017-06-27 06:22] LorenzMeier commented on #7479
Let me chime in here:

  * We support the Ashtech RTK GPS which uses NMEA streams
  * We support forwarding RTCM correction streams from QGroundControl to PX4

So 90% of what you need is likely already there.

[2017-06-27 07:07] bkueng commented on #7483
I suggest we remove the image.

The outputs should be added here: https://github.com/PX4/Firmware/blob/master/ROMFS/px4fmu_common/init.d/1001_rc_quad_x.hil

It's the channel for the mavlink message: the index of `controls` in [HIL_ACTUATOR_CONTROLS](http://mavlink.org/messages/common#HIL_ACTUATOR_CONTROLS)

[2017-06-27 09:16] LorenzMeier commented on #7419
Currently I believe this is clock skew related.

[2017-06-27 09:16] #7463 closed

[2017-06-27 09:20] LorenzMeier commented on #7419
Yep, definitely is. It is ok for the first 15 seconds and then becomes unbearable. I need to trace down where that is originating.

@priseborough We also need to inspect the EKF.

[2017-06-27 09:34] leomatrix opened #7486 ""make px4cannode-v1_bootloader" can't generate .bin file"
"make px4cannode-v1_bootloader" can't generate .bin file, so what should we flash the cannode bootloader to stm32f103 ???

[2017-06-27 09:42] priseborough commented on #7419
The estimator innovations were within limits until after the high frequency oscillation started.

[2017-06-27 10:41] ndepal commented on #7457
Just happened to me as well with a PixRacer on master ca480ff.

[2017-06-27 11:56] tubeme opened #7488 "PX4 1.6.1: Brutal oscillation in Position mode."
Hello guys,

We are trying our VTOL only in quad mode with the 1.6.1. The machine is flying very well in Manual and Altitude modes. But switching to Position was accompanied by very very nasty osculations. I'm clueless of what might cause the problem. Having hard time to analyze the ULOG with Flight Plot (I'm used to the old LOG format).

I noticed that there is huge jump in the Vel.X SP but canno

[2017-06-27 11:58] tubeme opened #7489 "ULOG Flight Plot: Ground Speed"
Sorry for the silly question but I really cannot find a way to see the ground speed in Flight Plot with the new ULOG format.

We are doing MS5525 tests and I need the ground speed to compare it to the airspeed and I'm struggling in Flight Plot.

Can you point me to the parameter I should load in Flight Plot for Ground Speed?

Thanks

[2017-06-27 12:01] tubeme commented on #7488
Also I noticed a couple of messages in Flight plot around the time of the Position switching:

![image](https://user-images.githubusercontent.com/12617619/27586550-6c98e532-5b49-11e7-8546-87840d80a722.png)

[2017-06-27 12:52] JonReacher opened #7490 "FW setting invalid PWM rate"
After updating firmware through Qgroundcontrol I am experiencing severe strain/ vibrations in my elevon servos. After testing older firmwares and Ardupilot with no issues, it is only the PX4 firmware update causing this. Is there a known issue that I'm not aware of, or a change that needs to be made on my end to eliminate this?

[2017-06-27 13:47] davids5 commented on #7457
@ndepal Would you please test https://github.com/PX4/Firmware/pull/7459 and see if it stops the issue.

[2017-06-27 14:25] TobiMiller opened #7491 "[EKF2/Vision] huge local position drift after vision interrupt"
Hey,

i have switched from LPE to EKF2 for my vision input. No struggle with waiting for "Vision position init" anymore.

EKF2_AID_MASK = 24 // vision position fusion + vision yaw fusion
EKF2_HGT_MODE = Vision

I fuse the vision (working pretty well) and stop the transmission. after a little while my local position is x>>1000m and y>>1000m. if i start my fusion again, it doesnt return to the value

[2017-06-27 14:25] dagar commented on #7488
It's an EKF issue, although those ekf2 low on stack messages are an unrelated warning. The important ones are "EKF GPS fusion timeout".

At a glance it's something to do with your mag.

![screen shot 2017-06-27 at 10 22 58](https://user-images.githubusercontent.com/84712/27592536-b62d4796-5b22-11e7-8863-fc16c102c9c3.png)

[2017-06-27 14:43] dagar commented on #7490
Can you share a log? Under what circumstances is this happening?

[2017-06-27 14:58] ndepal commented on #7457
Just tested #7459, it does not fix the issue.

[2017-06-27 15:06] davids5 commented on #7486
I just built it from master.

If you can not build - Check your version of arm gcc with `arm-none-eabi-gcc --version`

It needs to be: 5.4.1 20160609

It generates an elf file:

build_px4cannode-v1_bootloader/src/firmware/nuttx/firmware_nuttx

That file can be converted to a bin file with this command.

`arm-none-eabi-objcopy -O binary firmware_nuttx firmware_nuttx.bin`

My build details
[code]

I

[2017-06-27 15:06] #7486 closed

[2017-06-27 15:10] JonReacher commented on #7490
I have a plane set up with the tbs caipirinha airframe preset. I've been using it for 6 months. It's been running 1.5.5. I updated yesterday to 1.6.3 through Qgroundcontrol firmware update and the servos immediately started grinding/vibrating/ random movements. They respond to manual input but with lag and they are still under strain the entire time, armed or not.

 I took the pixhawk out of the l

[2017-06-27 15:12] JonReacher commented on #7490
Can you use a .px4log?

[2017-06-27 15:22] dagar commented on #7490
Logs before and after would be helpful.

[2017-06-27 15:23] JonReacher commented on #7490
Here's an after: http://logs.px4.io/plot_app?log=0cce62f1-a27b-4350-afcd-293e33fd9e6b

I'll upload a before now.

[2017-06-27 15:24] JonReacher commented on #7490
I should mention that it was any position on the main outputs that it occurred.

[2017-06-27 15:26] davids5 commented on #7457
@ndepal would you be able to do a few more tests?

1) Comment out the usleep found [here](https://github.com/PX4/Firmware/blob/9c25f93d09fd57387c35ae02688d20575a8ef027/src/modules/commander/commander.cpp#L2052)

Does the motors still spin?

2) Add the sleep back in as `usleep(10000)`

Does the motors still spin?

These are just tests to try to understand where the PWM is getting stretched.

[2017-06-27 15:28] dagar commented on #7490
Is this reproducible with bench testing or are you only seeing it in flight?

[2017-06-27 15:29] hitimo commented on #7479
Thanks for the pointers. My corresponding PR will (hopefully) follow soon then.

[2017-06-27 15:30] dagar commented on #7490
I can compare your logs later, but as a quick thing can you first fully recalibrate all sensors with the new firmware?

![image](https://user-images.githubusercontent.com/84712/27595913-02a92f78-5b2c-11e7-8d35-0a1e3cda3cdb.png)

[2017-06-27 15:32] JonReacher commented on #7490
Here's a plot of a flight before: http://logs.uaventure.com/view/zQfdzTjo2BVdyDDDxUZeJW#top

This was only on the bench. I would not have been able to fly in this condition. The servos were getting hot under the strain.

[2017-06-27 15:34] JonReacher commented on #7490
Yeah, I did full recalibration 20 times yesterday. That log was I guess after a fresh reflash, before calibration. I'll reflash, recalibrate and create a more controlled log.

[2017-06-27 15:37] JonReacher commented on #7490
One thing I notice is that on the old log I see the expected actuator channels, 0,1,2, and 3. On the new log I only see outputs 2,3, and 7.

[2017-06-27 15:41] JonReacher commented on #7490
Here's a log from yesterday with calibration: http://logs.px4.io/plot_app?log=7d35482b-958d-4e45-9add-f589d62f61ea

[2017-06-27 15:41] dagar commented on #7490
We need to find the disconnect between what you're experiencing and what the log shows.
Here's the PWM outputs from your first log.

![image](https://user-images.githubusercontent.com/84712/27596449-9b5fb164-5b2d-11e7-836c-9a04c40a4d9a.png)

[2017-06-27 15:43] dagar commented on #7490
PWM outputs again in the 2nd log.

![image](https://user-images.githubusercontent.com/84712/27596518-c17b32ec-5b2d-11e7-934b-ab7384af1d6f.png)

[2017-06-27 15:46] dagar commented on #7490
Can you try the following to see if it makes a difference?

PWM_MIN 900 -> 1000
PWM_MAX 2100 -> 2000
PWM_RATE 400 -> 50

Have you ever connected a console? https://dev.px4.io/en/debug/system_console.html
If you can, run the command `pwm info`.

[2017-06-27 15:54] anudeepsekhar opened #7492 "MODE: Unsupported FCU while testing ros package"
im testing https://github.com/SujithSizon/ifor_o... on my drone with pixhawk connected via ftdi cable

on qgc sys_companion was set to 921600

here is my launch file

[code]

here is the error output

Also tried commenting out arming and setmode code and did rosrun mavros mavsis mode -c OFFBOARD

which again resulted in [Error] ......... MODE: Unsupported FCU

[2017-06-27 15:59] dagar commented on #7405
This is resolved.

[2017-06-27 15:59] #7405 closed

[2017-06-27 16:04] dagar commented on #7066
Hi @MikeWellC, sorry for the delayed response.

Have you had successful tailsitter flights?

Is this extreme vibration from your motor?

![image](https://user-images.githubusercontent.com/84712/27597536-a4d79ff6-5b30-11e7-8ea5-37f4599bf858.png)

[2017-06-27 16:18] dagar commented on #7063
It's getting stuck in transition waiting for the airspeed threshold.
 1. need a transition timeout for tailsitter
 2. figure out how to get tailsitter airspeed for gazebo. I'm guessing this is why it working before. https://github.com/PX4/sitl_gazebo/pull/69

[2017-06-27 16:18] JonReacher commented on #7490
Alright, I did a new flash to 1.6.3, full calibration, and created 2 logs, before and after your recommended changes. The changes did work.
 Here is the before: http://logs.px4.io/plot_app?log=b5f158f0-c9c4-4111-9182-48a86f0c810c
 Here is after the changes: http://logs.px4.io/plot_app?log=24cc86e0-0d6b-48c4-ae45-1a4d7ed579fd

[2017-06-27 16:25] JonReacher commented on #7490
I changed just the PWM_RATE back to the default of 400 and it has the issues again, so that must be it. That's probably the only relevant parameter that I didn't change yesterday.

[2017-06-27 16:52] mhkabir commented on #7490
Why were you running `PWM_RATE` of 400 Hz on a plane in the first place? Standard analog servos only 50 Hz.

[2017-06-27 16:59] JonReacher commented on #7490
I applied the tbs caipirinha settings to a similar airframe. I've been using this setup for a while now with no issues. I have no idea why the rate was 400HZ. I had never looked at that setting in the parameters before. Is there a reason why it would be set at that default?

[2017-06-27 17:01] JonReacher commented on #7490
To me the question remains why would a 400HZ setting act differently between versions?

[2017-06-27 17:05] mhkabir commented on #7490
There was a bug where the 400Hz rate wouldn't actually get applied before. It was fixed in v1.6 with the FMU app and PWM refactoring.

[2017-06-27 17:10] JonReacher commented on #7490
Alright, that answers it then. Is there a way to default the rate for different classes of vehicles?

[2017-06-27 17:12] dagar commented on #7490
@mhkabir the rate defaults are a bit of a mess and I think it slipped through in the past due to the rate group bug.
We need to do a pass and make sure everything is actually working as intended.
https://github.com/PX4/Firmware/issues/7261

[2017-06-27 17:21] #7490 closed

[2017-06-27 17:31] anuppari commented on #7327
[Here's a log](http://review.px4.io/plot_app?log=75786cc9-9ecd-42ae-bb1d-1fd686069510) showing the issue. Note the roll/pitch estimates do not show anything, and the raw mag output is zero.

What additional info do you need?

[2017-06-27 17:34] mhkabir commented on #7490
@dagar Yeah, agreed.

[2017-06-27 17:41] dagar commented on #7327
Can you try connecting the console via QGroundControl? Then you can try manually starting and stopping each driver. https://github.com/PX4/Firmware/blob/master/ROMFS/px4fmu_common/init.d/rc.sensors#L94

We need to figure out why these drivers are failing to start sometimes, but unfortunately I don't see a lot to go on from the existing logs.

[2017-06-27 18:19] dagar commented on #7489
In FlightPlot use the velocities from vehicle_global_position and Abs.

![image](https://user-images.githubusercontent.com/84712/27603256-91d183be-5b43-11e7-9c12-f2a52d90f868.png)

If you have suggestions for flight review you can open issues here. https://github.com/PX4/flight_review

[2017-06-27 18:19] #7489 closed

[2017-06-27 18:28] dagar commented on #7483
These might actually be better as a Simulation entry under the regular categories. The number of categories is kind of overwhelming.

![image](https://user-images.githubusercontent.com/84712/27603460-2e060976-5b44-11e7-8031-8c1864b1c9de.png)

Would we be better off with a much simpler set of groups?
Something like initially selecting the vehicle from maybe 8 generic groups, then on the side you se

[2017-06-27 18:51] dagar commented on #6730
Has this been resolved?

[2017-06-27 18:52] dagar commented on #5595
Closing this as I think we're close to moving on from the ms4525.

[2017-06-27 18:52] #5595 closed

[2017-06-27 18:55] dagar commented on #7291
Bad descent isn't implemented. What do you think the velocity rate limits should be for underspeed mode?

[2017-06-27 18:58] dagar commented on #7292
Why is that a bug?

If you're underspeed and throttle is max set underspeed.
OR
If your height is below the demand and you're already underspeed, continue setting it.

[2017-06-27 19:26] santiago3dr opened #7495 "Pixhawk Pro (V4Pro) Quad near flyaway"
Took off in position mode
Almost immediately after taking off, copter started to fly away and would not respond to user input
eventually regained control in altitude mode after several minutes and several hundred meters away
http://review.px4.io/plot_app?log=2b1d4ff4-e15e-48ac-870d-2ebbe8748afc
![bokeh_plot](https://user-images.githubusercontent.com/13203106/27606012-50a5876a-5b33-11e7-9c58-b839a7

[2017-06-27 20:23] dagar commented on #7293
I believe that's correct.

    K = 1/2 * v^2 (per unit mass)
    dK/dt = v * dv/dt

[2017-06-27 20:34] santiago3dr commented on #7327
ran bench test on a pixhawk mini with 1.6.3-stable
http://logs.px4.io/plot_app?log=3d0a07f5-14e9-4ae3-be42-c243f5df3744

no gps/external mag connected
accel,gyro and internal mag (MPU9250) looks to be working just fine

[2017-06-27 20:45] anuppari commented on #7327
We get the issue intermittently, so usually after a power cycle, it works fine. We are also using FMUv3 with the LPE estimator, in case that's relevant, though it seems to be a sensor issue.

Were there any relevant changes from 1.6.1 to 1.6.3? It doesn't seem like a one-off hardware issue as we have the exact same problem on 5 separate pixmini's

[2017-06-27 20:55] santiago3dr commented on #7327
re-tested with fmu-v3 and lpe estimator; same results... will keep testing
http://logs.px4.io/plot_app?log=0d4787c1-57b3-4e4a-9074-2142fd02594a

[2017-06-27 21:09] sanderux commented on #6730
No, these are still constants:
https://github.com/PX4/Firmware/blob/d50a0c43239488fa472b96618dfe582017ba1b50/src/modules/land_detector/LandDetector.h#L143-L149

[2017-06-27 21:11] gbrunso commented on #7327
anuppari and I tried resetting, starting, and stopping the sensor driver (mpu9250) from the mavlink console in QGC.
If the sensors start up correctly, the sensors and the console commands work appropriately.  If the sensors do not start up, trying to reset or turn the drivers off and on does not seem to have any effect.
I updated to 1.6.3 and we are still having the same problem.

[2017-06-27 22:00] dagar commented on #7327
@anuppari which binary do you flash? I just noticed you're using LPE, which isn't in the default fmu-v2 binary.

First try changing SYS_MC_EST_GROUP to 2.

Can you try the latest flashing with the latest QGC daily build that only recently added support for flashing fmu-v3s?

[2017-06-27 22:02] anuppari commented on #7327
We are flashing v3, which based on #7324, can be used on the pixhawk mini to enable the LPE.

[2017-06-27 22:03] anuppari commented on #7327
And yes we've been using a QGC daily build from a few weeks ago

[2017-06-27 22:07] dagar commented on #7327
Have you been manually flashing it?

In your log I see accel and gryo, but no mag. The attitude indicator should still be updating, unless the estimator isn't starting.
Are you using an external mag? Is it always connected?

[2017-06-27 22:14] anuppari commented on #7327
Yes we are using the custom firmware option in QGC to flash the firmware.

The attitude and heading indicator both don't update in QGC when this issue happens. We are not using an external mag, just the pixhawk mini, without GPS/compass.

Is there a way to check if the attitude estimator is starting up correctly? From the log it appears the mag sensor is not starting up, so I think the issue is up

[2017-06-27 22:19] anuppari commented on #7327
A similar issue seems to have [occurred previously](https://github.com/PX4/DriverFramework/commit/2eb3d9bdd11a01bf26f40a35c42c3f8104a4f4e4). Not sure if that fix is related.

[2017-06-27 22:38] dagar commented on #7327
Ok, so it sounds like the mpu9250 is periodically failing to start for you, but the attitude indicator is a mystery.

Can you use the mavlink console in QGC when it happens to see what's running? It's in the log download tab.
Run ps, and ls /dev. Try it with and without the attitude indicator updating.

With access to the system console this would be easier because we could just see what's happeni

[2017-06-27 22:48] anuppari commented on #7327
Working on that now.

Regarding the attitude indicator, isn't the IMU and mag all contained in one mavlink message? Does the attitude estimator wait until it receives at least one mag uOrb message before sending out an attitude estimate mavlink message?

Is there a way to access the system console during boot?

[2017-06-27 23:02] gbrunso commented on #7327
Here is the console output for ps and ls /dev when the issue is happening.
`
NuttShell (NSH)
nsh> ps
  PID PRI POLICY   TYPE    NPX STATE    EVENT     SIGMASK  COMMAND
    0   0 FIFO     Kthread --- Ready              00000000 Idle Task
    1 192 FIFO     Kthread --- Waiting  Signal    00000000 hpwork
    2  50 FIFO     Kthread --- Waiting  Signal    00000000 lpwork
    3 100 FIFO     Task    ---

[2017-06-27 23:03] gbrunso commented on #7327
This should be a little easier to read.

NuttShell (NSH)
nsh> ps
  PID PRI POLICY   TYPE    NPX STATE    EVENT     SIGMASK  COMMAND
    0   0 FIFO     Kthread --- Ready              00000000 Idle Task
    1 192 FIFO     Kthread --- Waiting  Signal    00000000 hpwork
    2  50 FIFO     Kthread --- Waiting  Signal    00000000 lpwork
    3 100 FIFO     Task    --- Waiting  Semaphore 00000000 init
  2

[2017-06-27 23:25] dagar commented on #7327
Interesting, I only see the mpu9250, but the pixhawk mini is supposed to also have an ICM20608.

Can you do the same thing for when it's not working?

[2017-06-27 23:26] dagar commented on #7327
@santiago3dr do you see both the mpu9250 and ICM20608 running on your pixhawk mini?

[2017-06-27 23:28] lamping7 commented on #7488
I'm not sure if this is helpful, but we saw the same issue in our logs today running v1.6.3 (px4fmu-v3) on a Pixhawk 2.1 w/ HERE GNSS. We were performing some tuning flights for our MC in Stabilized mode, so there was no effect on flight, but similar errors were present. Here are links to 2 logs that have the "EKF GPS fusion timeout" warning.
http://review.px4.io/plot_app?log=6007ff57-aa44-4631-9d

[2017-06-27 23:30] gbrunso commented on #7327
The output of ls /dev is the same when everything starts up correctly.

[2017-06-27 23:31] anuppari commented on #7327
Those outputs were for when the mag was not working. The outputs are the same when it is working.

Starting the ICM20608 seems to be just an [additional parameter sent to mpu9250](https://github.com/PX4/Firmware/blob/a6ef6c6e33edd63977b990cf8f973a255ebe8ac5/ROMFS/px4fmu_common/init.d/rc.sensors#L110). Should that launch a separate process?

[2017-06-27 23:34] anuppari commented on #7327
Nevermind, I guess the same process can make additional devices available.

In any case, the ICM20608 doesn't have a magnetometer.

Also, the dev folder lists accel0, gyro0, and mag0. What are those?

[2017-06-27 23:55] dagar commented on #7488
@lamping7 there are position and velocity innovation test failures in both of your logs, but it's not yet clear to me why. At a minimum set EKF2_GPS_DELAY to 110 if you're using a ublox m8.
![image](https://user-images.githubusercontent.com/84712/27614791-edeb9ee0-5b71-11e7-8d9b-f83989a0fb7b.png)

[2017-06-28 00:16] dagar commented on #7327
I'm at a bit of a loss here, and don't have one of these to debug with.

For sanity can you completely wipe all params (QGC reset all), flash latest PX4 master, and try again. Please try both LPE and EKF2.

To summarize what little we know so far.
1. mpu9250 consistently starting, but sometimes doesn't publish mag
2. lpe + attq seem to be always running, but occasionally aren't publishing anything

[2017-06-28 00:19] lamping7 commented on #7488
@dagar Thanks for the tip! I'll give that a shot as the HERE has a M8N chip. I'm not entirely sure how the EKF2_GPS_DELAY and EKF2_ASP_DELAY params became non-default, but I'll adjust and see if I can replicate the issues. Much appreciated.

[2017-06-28 00:34] tubeme commented on #7488
Can we apply the same delays as a test? Ours are 200.

[2017-06-28 00:49] tubeme commented on #7489
@dagar Thanks!

[2017-06-28 01:28] hamishwillee commented on #7483
@bkueng We've progressed a little in https://github.com/PX4/Firmware/pull/7482 by splitting the simulation into different "classes" . BUT still need to know how to get rid of the plane image for the quad section - your help appreciated. This item can now be closed.

@dagar In #7482 you will see that for the docs we now have a "class" (e.g. vehicle type like VTOL). This means that as you have sugge

[2017-06-28 01:28] #7483 closed

[2017-06-28 05:40] dagar commented on #7450
Again still not sure I completely follow you, but it sounds like _manual_control_sp is the way to go. Yes you can use flaps/gear on actuator_controls, but they need to be in your mixer.

Let's move this type of discussion to http://discuss.px4.io/ or gitter and save github for bug reports and feature requests.

[2017-06-28 05:40] #7450 closed

[2017-06-28 06:34] leomatrix commented on #7486
@davids5  another problem is "make px4cannode-v1_default" was lead to a error:

yang@yang-B85M-D2V:~/Firmware$ make px4cannode-v1_default
-- CMAKE_MODULE_PATH: /home/yang/Firmware/cmake
-- Nuttx build for px4cannode-v1 on m3 hardware, using nsh
-- Generating UAVCAN Bootable as org.pixhawk.px4cannode-v1-1.0-0.1.d5eab23f.uavcan.bin
-- Build Type: MinSizeRel
-- PX4 VERSION: v1.6.2-119-gd5eab23
-- CON

[2017-06-28 06:59] AlexisTM commented on #7478
What do you mean?

[2017-06-28 07:57] ndepal commented on #7457
Tested as requested.

  1. motors still spin
  2. motors still spin

[2017-06-28 07:59] bkueng commented on #7483
It comes from here: https://github.com/PX4/Firmware/blob/master/Tools/px4airframes/srcparser.py#L54 and uses this image: https://github.com/PX4/Devguide/blob/master/assets/airframes/types/AirframeSimulation.svg

+1

[2017-06-28 08:06] mmoiozo commented on #6562
@potaito I have VISLAM working well when holding the drone by hand and now I am also trying to run VISLAM in flight. However when using the recommended IMU settings, LPF 184HZ etc, the position diverges  quickly and VISLAM fails. I checked for the vibration level of the IMU sensors and found that the acc especially in z axis had 14m/s^2 noise variance. Way higher then used in the standard VISLAM s

[2017-06-28 09:03] potaito commented on #6562
@mmoiozo To be honest I did not have to bother with filter settings, but then again I never checked the noise. The longest time I was flying with the Snapdragon was probably a minute. But yes, it is probably well isolated as I attached it with thick double-sided tape to the frame :)

[2017-06-28 09:27] mmoiozo commented on #6562
I guess I will have to look into the damping of the board.
Thanks anyway.

[2017-06-28 10:46] leomatrix opened #7500 ""make px4cannode-v1_default" cann't success"
"make px4cannode-v1_default" was lead to a error: Just as #6794 decribe...
I can make sure my build toolchain is no problem, as if I use "make px4fmu-v2_default", the build is OK
===> if remove the calling of px4_nuttx_make_uavcan_bootloadable in the ./cmake/configs/nuttx_px4cannode-v1_default.cmake(comment L22~L28),the build will be passed! as below shown
![222222](https://user-images.githubuserc

[2017-06-28 11:13] LorenzMeier commented on #7063
We should just revert that change.

[2017-06-28 11:54] superware opened #7501 "Unexpected behavior on data-link-lost RTL"
Hello,

PX4 1.6.2, flight description:

1. Arm + takeoff
2. Reposition to some point ~1 km away.
3. After 110 m - data link lost.
4. Immediate acceleration at the same flight heading (opposite to home), while gaining RTL altitude.
5. Stopping after ~160 m, and flying backwards to the point of the link-lost.
6. Rotating to home position, returning and landing.

This immediate acceleration to high s

[2017-06-28 12:44] CarlOlsson commented on #7416
Thanks! @ksschwabe
I am using it on Pixracer and except for some dropouts in the logs it works fine :)

[2017-06-28 12:44] #7416 closed

[2017-06-28 14:42] dagar commented on #7387
In this case it really is just a wrapper and I'd rather strip away the additional complexity.

[2017-06-28 14:43] dagar commented on #7387
That being said, I did the quick fix recently. https://github.com/PX4/Firmware/blob/master/cmake/common/px4_base.cmake#L248

[2017-06-28 14:43] #7387 closed

[2017-06-28 14:55] santiago3dr commented on #7327
testing mpu on console, getting error
ERROR [mpu9250] immediate mag read failed

this error is appearing on some tests but not all; very inconsistent results

[2017-06-28 15:09] mhkabir commented on #7327
Have you considered that the hardware may be bad? Can you test with a second board if you have one?

[2017-06-28 17:12] davids5 commented on #7457
@ndepal Thank you for testing.

Would you mind one more test?

Do as @lericson suggested place the  `board_on_reset(0);` call prior to [this line](https://github.com/PX4/Firmware/blob/9c25f93d09fd57387c35ae02688d20575a8ef027/src/modules/commander/commander.cpp#L2052)

I will need to duplicate your setup. Please list what you have connected to the PixRacer and on what connector. Part number or link

[2017-06-28 17:15] anuppari commented on #7327
I've had this identical issue on 5 separate pixhawk mini's, so I don't think it's a hardware issue unless 3DR recently made some board revision and we got a bad batch. Where would board revisions be listed, I don't see it under [hardware](https://github.com/PX4/Hardware)

[2017-06-28 17:22] davids5 commented on #7486
@leomatrix please install nija AKA nija-build
Then use `make clean` and `make px4cannode-v1_default`
@dagar FYI

[2017-06-28 17:32] dagar commented on #7327
@anuppari have you tried resetting all your params and flashing the latest PX4 master? Have you tried using EKF2 instead of LPE or a different airframe?

There must be something specific about your setup if it's consistent across 5 pixhawk minis, but so far @santiago3dr hasn't been able to reproduce. We need to isolate that piece to drill down into the root cause. Right now there's just not enough

[2017-06-28 17:40] dagar commented on #7486
Well that's bizarre. Let's make sure both ninja and make fully work in https://github.com/PX4/Firmware/pull/7397

[2017-06-28 18:00] nkhoit commented on #7501
@Stifael @MaEtUgR This is related to #7467
![vel_x](https://user-images.githubusercontent.com/1168541/27652490-364c39e2-5bf9-11e7-8f69-cf216597fa70.png)
On the switch from "Hold" to "RTL" a huge velocity x gets through.

[2017-06-28 18:39] gbrunso commented on #7327
In the mavlink console, I tried running mpu9250 start and mpu9250 test when the pixhawk mini booted up correctly and incorrectly.

When the it started up correctly:

nsh> mpu9250 start
MPU9250 on SPI bus 1 at 4 (1000 KHz)
WARN  [mpu9250] probe failed! 255
WARN  [mpu9250] no device on bus 4

nsh> mpu9250 test
WARN  [mpu9250] single read
WARN  [mpu9250] time:     42441530
WARN  [mpu9250] acc  x:

[2017-06-28 19:12] santiago3dr commented on #7327
trying with a second board, I'm getting the same results
mpu9250 usually starting properly but on some tests, mag values not available
when mpu fails to start in console, getting: ERROR [mpu9250] immediate acc read failed

also tried latest ardupilot beta that supports the pixhawk mini and both primary accel/gyro's look to be responsive when plotting; mpu9250 mag also showing values

-both master

[2017-06-28 19:14] dagar commented on #7327
The mpu9250 immediate read failure might be unrelated. Cheap the output of listener.

    listener sensor_accel 0 0
    listener sensor_accel 0 1

    listener sensor_gyro 0 0
    listener sensor_gyro 0 1

[2017-06-29 08:32] ndepal commented on #7457
`board_on_reset(0);` fixes the problem for me, but only with a long enough sleep afterwards. I did not get spinning motors with `usleep(300000);` or above, but I did with `usleep(200000);` and below.

My setup:
Pixracer from auav.co
ESCs: [Favourite Little Bee 30A](https://hobbyking.com/en_us/favourite-little-bee-30a-2-6s-esc-no-bec.html?___store=en_us)
Motors: [Emax cooling MT2206 II 1900KV](http

[2017-06-29 09:01] jgoppert opened #7507 "Logging for System Identification"
We recently bumped the control data that goes to the mixer down to a 10 Hz log rate. This is a problem for  system identification since you lose all the data past the nyquist frequency of 5 Hz. We really need at least 100 Hz logging rate, ideally 250 Hz for vehicles with faster dynamics.

### desired topic logging rates
* log sensor_gyro/sensor_accel at full rate (250 Hz)
* log actuator_controls a

[2017-06-29 09:02] #7449 closed

[2017-06-29 09:04] #7438 closed

[2017-06-29 11:52] LorenzMeier commented on #7495
@bkueng @priseborough Can you have a look at this again?

[2017-06-29 12:25] priseborough commented on #7495
OK, the 2b1d4ff4 log is the one I looked at previously with the large 180ms timeslip at start of flight and bad quality magnetometer data.

![screen shot 2017-06-29 at 10 15 30 pm](https://user-images.githubusercontent.com/3596952/27687002-7d72d6ee-5d18-11e7-8d57-18a0f34f0034.png)

The 00b0b048 log also has a significant timeslip (not as large) and poor quality mag data

![screen shot 2017-06-29 a

[2017-06-29 13:00] bkueng commented on #5399
Adding an example: When trying to arm, QGC just showed me 'REJECT POSITION CONTROL'. I had valid GPS, but ekf2 had no valid position. After some debugging we found that the range sensor was too close to the ground and thus ekf2 did not initialize.
The user feedback should be improved here.

[2017-06-29 13:02] davids5 commented on #7457
@ndepal Thank you that is super helpful. I think I understand what is happening. See https://github.com/PX4/Firmware/pull/7459/commits/0484ee32239a9534db455b0cf3788440dfa3b92a for the details. I have updated https://github.com/PX4/Firmware/pull/7459. would you please fetch it again and test it with no other modification.

[2017-06-29 13:12] bresch opened #7510 "[Navigator] Fly away because of NaNs"
Last day I had a fly away with my VTOL doing a mission. Fortunately, I was able to take it over the RC and came back in manual.
Inspection of the log revealed that the L1 controller was outputting NaNs for roll and yaw setpoints.

Here is the log: http://logs.px4.io/plot_app?log=d72b30cd-d713-4c43-9f32-30510657f2e6

And here is a dump of the setpoints getting into a NaN state:
![l1_nan](https://us

[2017-06-29 13:24] LorenzMeier commented on #7510
@bresch that was not the L1 controller. I can almost guarantee that it was fed NaN setpoints. @Stifael can you pitch in?

[2017-06-29 13:26] dagar commented on #7510
Yes, so far I'm seeing a NaN in current.alt when it starts.

[2017-06-29 13:30] dagar commented on #7510
At ~479s - end the previous lat/lon are NaN, but valid is true.

[2017-06-29 13:46] dagar commented on #7510
So ~479s is when the setpoint type switched from position to loiter. Previous shouldn't be marked valid, but FW loiter isn't using it.

![image](https://user-images.githubusercontent.com/84712/27690444-5a019ca4-5caf-11e7-99c4-5a235d5da528.png)

The estimated position and current lat/lon all seem fine during the transition. The alt setpoint is NaN, but that isn't used to calculate the roll and yaw

[2017-06-29 13:54] bresch commented on #7510
Actually, the loiter worked. It went wrong just after that

[2017-06-29 13:54] ndepal commented on #7457
Pulled and re-tested #7459, the issue is fixed for me.

[2017-06-29 14:02] dagar commented on #7510
My bad, I flipped the colors. It's the end of the loiter back to position where it happens.

tl;dr the problem is the previous waypoint lat/lon are NaN, but it's marked valid. @Stifael

[2017-06-29 14:07] Stifael opened #7511 "rc calibration arming still possible"
During normal RC calibration, the vehicle still goes through all arming checks. This results in having the vehicle being armed and the motors running during calibration.

[2017-06-29 14:10] Stifael opened #7512 "RC calibration"
It seems that the RC calibration requires some improvement since the calibration results in a clear offset from hover.
I went trough the calibration with a Taranis.

[2017-06-29 14:12] Stifael opened #7513 "RC yaw calibration"
It seems as if the yaw calibration has a deadzone, but only applied to one side.
![yaw_deadzone](https://user-images.githubusercontent.com/13449161/27691948-c6c19b38-5ce5-11e7-998f-cc9953ef30c3.png)

[2017-06-29 14:51] dagar commented on #7511
I'm wondering why I've never seen this. Is it just about holding it long enough?
What board is this and do you have the safety button disabled? What's COM_RC_IN_MODE set to?

[2017-06-29 15:02] eric1221bday commented on #7491
I actually ran into this issue before as well, though what I think is the correct behavior is that the EKF is suppose to zero the position estimation if nothing is getting through. Most of the time I do in fact get zeros if I switch vision off, though sometimes I get the extreme drift as stated above

[2017-06-29 15:09] davids5 commented on #7457
@ndepal - thank you!

@lericson  I have updated #7459. would you please fetch it again and test it with no other modification.

[2017-06-29 15:29] dagar commented on #7510
The problem is the LOITER exit here - https://github.com/PX4/Firmware/blob/master/src/modules/navigator/mission_block.cpp#L374

The next position setpoint is the same as the current, which means the distance is 0 and the inner_angle becomes NaN.

Fix
1. Check the range here - https://github.com/PX4/Firmware/blob/master/src/modules/navigator/mission_block.cpp#L376
2. Populate position setpoint next

[2017-06-29 15:51] bkueng commented on #7511
This happened to us on a pixhawk 3 pro with safety button disabled, `COM_RC_IN_MODE` is default=0. It probably only happens if you already have a valid channel assignment, i.e. already did an RC calibration before.

[2017-06-29 16:00] dagar commented on #7511
Obviously we want to explicitly prevent arming during calibration, but should we also consider changing the arming via sticks procedure? Require both sticks moved to the same corner? Then we wouldn't need to treat it differently for FW & MC.

[2017-06-29 16:02] LorenzMeier commented on #7511
No, still not safe for fixed wing. The GCS also sends a command to disable sticks during calibration. It just needs to be fixed.

[2017-06-29 16:31] gbrunso commented on #7327
We just flashed the latest px4 v3 master and reset all our configurations and can still replicate the issue using both lpe and ekf.

[2017-06-29 16:31] limhyon commented on #7478
https://github.com/PX4/Firmware/blob/master/src/drivers/px4flow/px4flow.cpp#L514
Most of values from f_integral, not f.
Is ther any reason?

[2017-06-29 16:38] mhkabir commented on #7478
Taking the integral allows us to not miss any data between the transfer periods.

[2017-06-29 16:38] #7478 closed

[2017-06-29 16:47] dagar commented on #7327
Thanks for trying that @gbrunso
@davids5 would you mind taking a look at this with your pixhawk mini? It's difficult to debug remotely without one.

[2017-06-29 19:28] #7510 closed

[2017-06-30 01:46] priseborough commented on #7491
Please provide a log gathered with EKF2_REC_RPL=1 and SDLOG_MODE=1 so this can be reproduced and fixed on replay.

[2017-06-30 08:38] bkueng commented on #7495
I see this in some of the logs:
[code]
around the same time where time slips happen. But not in all of them. I was able to reproduce the errors once with ulog streaming, but it does not happen always. I'll need to investigate further.

@santiago3dr I suggest you disable ulog streaming in QGC (https://dev.px4.io/en/log/logging.html#log-streaming). In recent QGC versions this is the default.
Do you

[2017-06-30 08:58] bkueng commented on #7510
Interesting. I agree this can be helpful. I see some difficulties with an actual implementation though:
- reading from dataman (SD card) will block, which can lead to logging dropouts. It can be reduced by splitting the reads over multiple loop iterations, but might still be an issue, and can take a while for larger missions.
- a mission can be updated in-air, so there could be multiple missions i

[2017-06-30 15:37] ndepal commented on #7476
I am seeing the same with a PixRacer flashed with the current release. It happens with and without an external GPS/mag attached.

@mhkabir Your comment on the [discuss thread](http://discuss.px4.io/t/pixhawk-compass-wont-calibrate/3702/2) sounds like you have seen this before/know what the problem is?

[2017-06-30 15:40] santiago3dr commented on #7495
yes, we use telemetry and QGC on a mac when flying the pixhawk pro
will make sure to disable log streaming

[2017-06-30 15:41] mhkabir commented on #7476
@ndepal can you try this branch? https://github.com/PX4/Firmware/pull/7434

[2017-06-30 16:54] davids5 commented on #6947
@dagare FYI
Bench testing this with power supply.

Because of the narrow differences in Emergency 5%, and Critical 7% It makes it looks, there is a bug that the battery Voltage has to rise after dropping before the annunciation of sound and light occurs.  But there is also a **bug** or **2**.

I adjusted my setting to test with

Emergency 10%, and Critical 20%, Low 40%
On Warning 0->1 I get slow b

[2017-06-30 17:20] davids5 commented on #7431
N Bricks is now supported in #7219.

[2017-06-30 18:19] gbrunso commented on #7327
We just tried 1.6.3 v2 default and were also able to replicate the error.

[2017-06-30 18:42] davids5 commented on #7327
@dagar I will try to get this on my bench today. If not early next week

[2017-06-30 18:50] lukaszdworako opened #7515 "SITL bind failed"
Ubuntu 16.0.4, builds fine however the initial output is:
[code]
Followed instructions on px4.io for linux. Please advise.

[2017-06-30 18:58] lukaszdworako commented on #7515
UPDATE: Seems as though current build stays open on 14560 port.

[2017-06-30 19:09] #7515 closed

[2017-07-01 00:57] sytelus opened #7516 "HIL broken in 1.6 for multi rotors"
Something has happened after 1.5.5 Stable Release. In jMavSim with HIL using firmware releases after 1.5.5, I can arm/disarm quadrotor but it never takesoff from the ground. Sometime I see message "takeoff detected" even though quadrotor is still on the ground and not moving. I just tested out 1.6.3 stable release and can reproduce issue consistently on two Pixhawk v2 devices. The issue doesn't oc

[2017-07-01 01:20] airmind commented on #6947
@davids5 thanks for the detailed tests @iZhangHui , that explains the issue.

[2017-07-01 05:41] m1577 commented on #2606
Hello @Seanmatthews  maybe we are have similar issue, my laboratory have six optitrack cameras, I am not using companion computer, I have a ubuntu pc conect to pixhawk with usb. Today I did my first test sending mocap data to pixhawk and I got a similar reaction to your first video, I am using the offboard example and I want to my 3dr iris to get an altitude of 0.5m.

Did you find the solution to

[2017-07-01 12:31] MikeWellC commented on #7066
thank  @you，I found the reason that my pixhawk was loose and vibrated inside the tailsitter。

[2017-07-01 12:31] MikeWellC commented on #7066
Hi @dagar, thank you，I found the reason that my pixhawk was loose and vibrated inside the tailsitter。

[2017-07-01 13:35] dagar commented on #7066
Glad to hear you found the problem.

[2017-07-01 13:35] #7066 closed

[2017-07-02 05:19] TarekTaha commented on #7479
@hitimo we tried to use Swift RTK re-route via mavros in the past (you will have to enable hil_gps to do so), and it was not as reliable as we hoped.

https://github.com/kuri-kustar/mavros/blob/master/mavros_extras/scripts/swift_rtk_reroute.py
https://github.com/kuri-kustar/mavros/blob/master/mavros_extras/src/plugins/gps_reroute.cpp

This is not the best approach, as @LorenzMeier mentioned, the N

[2017-07-02 10:45] leomatrix commented on #7500
after install ninja build tools, this problem was killed

[2017-07-02 10:45] #7500 closed

[2017-07-03 08:06] MaEtUgR commented on #7051
No, I'm sorry I did not find the time 😞 I know it's important.

[2017-07-03 08:54] ndepal commented on #7476
@mhkabir tried that branch, but it doesn't fix the problem for me, at least not reliably. After first flashing I was able to start calibrating (through wifi telemetry) the compass. I canceled the calibration, power cycled, and tried again. Then I got the same error message again.

[2017-07-03 10:37] TobiMiller commented on #7492
are you using the PX4 Stack? what happens when you start
`roslaunch mavros px4.launch`
?

[2017-07-03 10:47] TobiMiller commented on #7491
@priseborough
Here is the flightlog: http://logs.px4.io/plot_app?log=d24243e7-abe1-4be5-9c30-addd12d7b63f

took some time to get this values. it begins at 13:20. i fuse only vision. you can see that something goes crazy. velocity above 500 m/s.

the actuactor is also doing something crazy. the UAV stood on ground from 6.40 until end,

[2017-07-03 10:48] TSC21 commented on #7492
@anudeepsekhar can you please paste the output of `rostopic echo -n1 /diagnostics` and `rosrun mavros checkid` after you run the node? From what usually happens, `[Error] ......... MODE: Unsupported FCU` may appear after a bad connection, so I'm asking to show the output of `diagnostics` to be sure. If that's the case, may be bad wiring or faulty FTDI module/cable.

[2017-07-03 14:14] gbrunso commented on #7327
We noticed that our sensor start-up failure tends to happen more frequently when we power the pixhawk with the battery, and then connect the usb.  Since it can be powered with both usb and the power distribution board, could it cause problems to have them both connected?

[2017-07-03 15:43] davids5 commented on #7327
@gbrunso Thank you for the additional information. I would think they can both be connected without a problem.  I will have a look at it today.

[2017-07-03 16:41] nicolaerosia opened #7519 "PX4, EKF Time Accuracy"
Hello,

- Is there a particular reason why `hrt_abstime` (it's `uint64_t`) is measured in us and not ns ? If the accuracy on STM32 is at us level, we could just multiply and still use ns.
- Integral_dt for gyro/accel are `float32` and expressed in seconds, can we use int32_t and nanoseconds to avoid rounding off ? EKF accumulates timeslip because of this. ( see https://github.com/PX4/Firmware/blob

[2017-07-04 02:39] hamishwillee opened #7522 "Build does not work on Windows"
I followed the [Windows build instructions](https://dev.px4.io/en/setup/dev_env_windows.html) and then tried to build jmavsim simulator as per [Building the code](https://dev.px4.io/en/setup/building_px4.html)

First issue was cmake not found warning in PX4 console. Fixed by installing the 64bit Cmake for windows from [here](https://cmake.org/download/)
- Note to self, add this as dependency to do

[2017-07-04 04:55] mhkabir commented on #7519
PX4 uses microseconds for everything because of the STM32 hardware it originated from, but do you really see an advantage of having nanosecond resolution for most flight control tasks? And in any case, transitioning the codebase from us to ns would be non-trivial because of the sheer size of the change.

This makes a lot of sense to me.

[2017-07-04 07:42] priseborough commented on #7519
The error this rounding error introduces is negligible for a 1kHz sampling as it equates to less than 0.1% error which compared to our gyros which can have tup to 3% scale factor error, is insignificant. However if we start pushing sampling up to 4 or 8kHz to reduce aliasing effects, then it will become an issue because the effect of rounding error scales with sampling frequency.

[2017-07-04 07:44] nicolaerosia commented on #7519
@mhkabir Indeed, timestamp is being used in a lot of modules which would need review. As a first step, we could migrate the deltas from messages to ns. In any case, I don't expect it to be too hard because the timestamp is usually used for comparisons and for some modules which don't need ns accuracy, we could just scale down to micros.

[2017-07-04 09:05] bkueng commented on #7519
The implications are much bigger: the us timestamp is embedded in uorb, and this data is written to the logs, and then used by Flight Review, FlightPlot, etc.

[2017-07-04 09:07] mhkabir commented on #7519
Agree with @bkueng. I do not think that it's a good idea to change the timestamps to `ns` at this point.

[2017-07-04 10:20] priseborough commented on #7491
I have reviewed the log and code and the external vision fusion does not have the timeout and reversion to non-aiding mode implemented like the other observation types (GPS, optical flow) do. I will work up a PR for that.

Fortunately the log does replay.

[2017-07-04 10:42] priseborough commented on #7491
@TobiMiller can you please test the patches in this PR https://github.com/PX4/ecl/pull/293 and let me know if it solves your problem.

[2017-07-04 12:57] lamping7 commented on #7488
Did some more flying and the error bit didn't set. Thanks again.

[2017-07-04 16:10] anuppari opened #7525 "ROS/Gazebo SITL doesn't work with launch file"
Launching the px4 SITL through ROS (e.g., `roslaunch px4 mavros_posix_sitl.launch` doesn't actually launch the px4 simulator. No error is thrown, just the following message
[code]

Also, no px4 process is running, the PX4 logo doesn't show in the terminal, and `rostopic echo -n1 /diagnostics` produces:
[code]
Running `make posix_sitl_default gazebo` seems to work fine, with the logo showing and th

[2017-07-04 17:02] TSC21 commented on #7525
What `sitl_gazebo` version are you using? Do you have all in the same catkin ws. What MAVROS version are you using?

[2017-07-04 18:39] lukegluke opened #7526 "How to read queued ORB topics?"
Hi all,

I'm trying to understand how to work with queued topics (that is advertised with orb_advertise_queue or orb_advertise_multi_queue) - how can I copy out several messages from queue?

For example, let say gps driver publishes to topic gps_dump data of NMEA messages from 10Hz gps receiver. gps_dump.msg data array is limited by 79 bytes, so in fact messages are published in topic with higher

[2017-07-04 18:49] anuppari commented on #7525
I pulled the latest px4 master, which presumably pulled the latest compatible `sitl_gazebo` master? The command `git rev-parse HEAD` results in `622efea2f29be7dc5da7494769237aacf5b625ba`

Everything is in the `$HOME/px4/Firmware` folder. I followed the build instructions on dev.px4.io.

I updated to the latest mavros through `apt-get`

[2017-07-04 19:26] TSC21 commented on #7525
Did you use `--recursive` flag when you cloned the repo?
I'm currently using SITL Gazebo and MAVROS without any issue so that's why that seems weird.

[2017-07-04 19:31] Changliu52 opened #7527 "How to get global yaw with vision heading estimation enabled"
Hi,

I am using 1.5.5 standard EKF2 firmware,
The related parameter setting is
EKF2_AID_MASK = 26 (vision estimation, vision heading, optical flow, gps enabled)

In this case, the local_pose was initialised based on the vision quaternion, which always starts facing north from the SLAM module. However, I still need the global yaw for GPS integration.

I had a brief read on [https://github.com/PX4/F

[2017-07-04 21:00] anuppari commented on #7525
I did not, but as I said, my `sitl_gazebo` is up to date with the latest commit, I'm not getting any build errors, and all the submodules are in place.

[2017-07-04 21:01] anuppari commented on #7525
I've also replicated this issue on 2 computers

[2017-07-04 23:18] sanderux commented on #7393
@mhkabir @dagar ESC calibration is performed here:
https://github.com/PX4/Firmware/blob/master/src/modules/commander/esc_calibration.cpp#L77

Thats normally (through GCS) called from here:
https://github.com/PX4/Firmware/blob/13bf3122635a93df2e0d7036c292c173aafe8ce1/src/modules/commander/commander.cpp#L4248

But can also be called through a startup command from here:
https://github.com/PX4/Firmwar

[2017-07-05 03:11] lcxjason opened #7528 "There may be a bug in hmc5883.cpp"
In the function set_range(unsigned range):
Current code:
if (range < 1) {
  _range_bits = 0x00;
  _range_scale = 1.0f / 1370.0f;
  _range_ga = 0.88f;

} else if (range <= 1) {
  _range_bits = 0x01;
  _range_scale = 1.0f / 1090.0f;
  _range_ga = 1.3f;
}
I think it should be
 else if(range<=1.5f) {range_bits = 0x01...}

[2017-07-05 05:57] bkueng commented on #7526
From what I see your understanding is correct and it should work the way you wrote it. Can you show the full code? Do you use `orb_set_interval`?

[2017-07-05 07:43] see3peoh commented on #7289
Is this affected by having a lidar on board? Terrain estimator is disabled by default now, is it simply best to not use it? If so, how does the lidar assist in terrain estimation landing?

[2017-07-05 09:14] MaEtUgR commented on #6730
@sanderux I read your detailed problem description here again: https://github.com/PX4/Firmware/pull/6735#issuecomment-285650891

**Assumptions:** I noticed that you are mentioning that the VTOL is in this moment an MC which is suposedly position controlled and in an auto landing state.

I verified using your log from the starting post of this thread that you were flying a position controlled missi

[2017-07-05 09:26] lukegluke commented on #7526
Yes, I do.

Here is extended code:

[code]
ammountR is always 79.
If I set orb interval to 5 ms it works (doesn't loose messages)

[2017-07-05 09:38] MaEtUgR commented on #7501
@nkhoit indeed
@superware Thanks for the report! We track this issue on https://github.com/PX4/Firmware/issues/7467 to not have duplicate threads.

[2017-07-05 09:38] #7501 closed

[2017-07-05 10:09] lukegluke commented on #7522
Are you sure that it had succeeded?
I had error `couldn't find python module jinja2`, I fix it by installing jinja2 from cmd like this:

[2017-07-05 10:20] hamishwillee commented on #7522
Thanks @lukegluke - that would work.

For the docs, I do wonder why this version of pip wouldn't be found/used by default (since the scripts dir is in the PATH). Also, was this library "supposed" to be automatically installed and that failed, or it is just a completely missing dependency.

[2017-07-05 14:46] bkueng commented on #7526
Just remove the `orb_set_interval` call completely, you don't need it for your use case. The rate limiting works on top of the queue, working against for what you're actually trying to achieve.

[2017-07-05 15:03] lukegluke commented on #7526
Ok, I see. I'm not doubt it will work similar to 5 ms interval.
Just in case, so if I want to limit my module activity to ~10Hz, it should just sleep for 100ms (or as alternative polling on another topics with 100ms timeout) and accumulate several gps_dump reports from orb queue with loop I wrote, right?

[2017-07-05 16:40] bkueng commented on #7526
Yes. Just make sure that the queue size is large enough then.

[2017-07-05 17:48] lukegluke commented on #7526
Thanks for help!

[2017-07-05 17:48] #7526 closed

[2017-07-05 18:53] anuppari commented on #7525
Is there any log file or way to introspect on what is happening when it thinks the px4 has been spawned correctly?

[2017-07-05 21:50] Tigerly opened #7533 "how can I generate IR or bytecode for each source code file?"
I'm trying to generate call graph (need to compile and generate IR or bytecode first) for the PX4 source code by using LLVM clang.
e.g.,
..PX4/Firmware/src/modules/navigator$ clang++ -S -emit-llvm land.cpp -o - | opt -analyze -dot-callgraph

However, it seems the source code files cannot be compiled normally.
It always says "land.cpp:47:10: fatal error: 'systemlib/err.h' file not found #include <s

[2017-07-05 22:34] dagar commented on #7533
Try it within the SITL posix build.

`make posix_sitl_default`

Then within the build directory you can see how land.cpp is actually built in `build_posix_sitl_default/compile_commands.json`.

[2017-07-06 07:02] #7507 closed

[2017-07-06 07:12] LorenzMeier commented on #7480
I'm closing this since QGC 3.2 has that already in.

[2017-07-06 07:12] #7480 closed

[2017-07-06 08:21] BazookaJoe1900 opened #7535 "Flyaway after loss of datalink (v1.6.2)"
Hello,
Few days ago I flown my multicopter for about 1.5 km. and almost got flyaway, only using RC saved it for safe landing.
I got 'ALL DAT LINK LOSS' and it seems that RTL has been engaged (I still had downlink). but, instead of flying toward home position for landing the multicopter started to fly very fast backward.
from the log I see that just after losing the datalink (at 10:28) it did got n

[2017-07-06 08:22] ChristophTobler commented on #6573
What's the current status here?

[2017-07-06 08:23] TobiMiller commented on #7491
@priseborough please look into https://github.com/PX4/ecl/pull/293 comment

[2017-07-06 08:59] julianoes commented on #6573
@ChristophTobler I think you would have to check what has been done in these branches and carry over the changes:

[2017-07-06 13:29] ChristophTobler opened #7537 "wrong cruise speed when continuing mission"
When setting up a mission with a non-default flight speed, the cruise speed will change to -1 when continuing the mission.
![cruise_speed_fail_mission_continue](https://user-images.githubusercontent.com/14769636/27913272-de71bde2-625f-11e7-87ad-004021a4f460.png)
Result is a different flight speed.

[2017-07-06 14:47] ndepal commented on #7476
I have been trying to reproduce this and I believe I have found the cause for the issues I am having. The PixRacer in question is in a prototype frame we have 3d printed for a proof of concept test. This frame has a cover element that we are holding in place with magnets to quickly and easily attach and detach it.

Of course, magnets near a magnetometer are not the best idea. I only wanted to fly

[2017-07-06 14:49] dagar commented on #7537
At what point did you set the cruise speed, and then when did it change?

[2017-07-06 14:50] dagar commented on #7533
Please reopen if this didn't answer your question.

[2017-07-06 14:50] #7533 closed

[2017-07-06 14:52] dagar commented on #7535
@Stifael is this a duplicate of https://github.com/PX4/Firmware/issues/7467?

[2017-07-06 14:53] ChristophTobler commented on #7537
At the beginning. It changed once I continued the mission after I interfered by switching to pos ctrl (~38s)

[2017-07-06 14:59] dagar commented on #7537
I think that's actually the intended behavior. The change speed command is executed once, but any interruption resets cruise to default. I wonder if some mechanism to save it per mission would make more sense.

[2017-07-06 15:15] tubeme commented on #7488
It is better with the new defaults. We changed the GPS as well, so it is working now.

[2017-07-06 15:20] BazookaJoe1900 commented on #7535
@dagar and @Stifael. it might be related to #7467, but not excally the same.
In this case there was no command to PosCtl (not by me, maybe automonosly), but yet the setpoints goes to very high value 430m/s and seems to go down
![image](https://user-images.githubusercontent.com/29940676/27918427-a05fa93e-6277-11e7-9586-95716f2a4c46.png)

[2017-07-06 15:34] nkhoit commented on #7535
This is a duplicate of #7501 which is related to #7467
The problem comes from the same place in mc_pos_control

[2017-07-06 15:37] sabbaghp commented on #7433
Are you using the I2C 2 port on the Pixhawk 2.1 module?
Are you using custom made wires?

[2017-07-06 16:25] Stifael commented on #7535
a quick fix here: the main change is that the magnitude for the velocity sepoint has to happen right before the velocity setpoint is constraint, and not somewhere else in the code. In addition, the constraint needs to happen at the end.

[2017-07-06 16:37] jlecoeur opened #7539 "Run CI with gcc 7"
Starting from version 7, gcc provides additional warnings, see here for the detail https://gcc.gnu.org/gcc-7/changes.html.
In PX4, these warnings were fixed for posix targets in #7332, and arm targets in #7502.
The benefits are:
- users of distros with recent versions of gcc and arm-none-eabi-gcc (such as archlinux) can happily compile PX4 using the default compilers
- more warnings means safer co

[2017-07-06 16:53] Stifael commented on #7537
Would be nice to save the previous setpoint in general when stopping and restarting the mission

[2017-07-06 17:10] dagar commented on #7539
Building GCC seems a little excessive. I'll try to find a package.

[2017-07-06 17:18] dagar commented on #7537
We could keep it for Mission and only reset if when a mission actually changes (uorb offboard_mission onboard_mission).
If we only want cruise speed (includes COMMAND_LONG) to apply in mission this becomes easier. Anyone feel strongly one way or the other?

[2017-07-06 20:01] LorenzMeier opened #7540 "Invalid pitch set point in fixed wing"
Our flight test crew found this corner case which has an invalid pitch set point in fixed wing:

<img width="274" alt="screen shot 2017-07-06 at 21 55 55" src="https://user-images.githubusercontent.com/1208119/27930374-97ff3056-6296-11e7-8cc3-6546e0e5cfcf.png">

[2017-07-06 20:21] bresch opened #7541 "[PixHawk3] Accel1 startup bias huge changes"
On my Drotek PixHawk Pro v1.3 I'm facing a strange behavior.
First I saw sometimes the warning "Accels inconsistent, check cal". After further investigations, I saw that usually, the Z-axis value is usually around 9.8m/s2, but sometimes, the value of the Acc1 is completely wrong (e.g.; 2 or 15). The value of the accelerometer 0 is always correct.

[code]

[code]
After a few consecutive reboots on

[2017-07-06 20:55] LorenzMeier opened #7543 "Starting a mission / taking off should not arm the vehicle if conditions are not met"
Related to: https://github.com/mavlink/qgroundcontrol/issues/5388

[2017-07-06 20:59] LorenzMeier opened #7544 "Unexpected back transition"
From flight test team, FYI @dagar http://logs.px4.io/plot_app?log=78d033a5-d3e8-4e18-a73f-3602f21e78ab

@bresch Can you please have a look as well?

[2017-07-06 22:25] tubeme opened #7545 "PX4 1.6.3: Strange problem with Airspeed-less transition."
We were flying 1.6.3 for some time. But recently decided to reset all the parameters with the new defaults. For this we use change of air-frame procedure. So we carefully introduced our PIDs on top of the new defaults. We removed the circuit breaker for the airspeed and thus it did not ask us to calibrate the airspeed so the diff press cal params were empty 0.00.

In this setup we were not able to

[2017-07-06 22:31] #7488 closed

[2017-07-06 23:19] #7339 closed

[2017-07-07 01:31] dagar commented on #7544
It was initiated by a brief loss of RC.

![image](https://user-images.githubusercontent.com/84712/27939293-cad6c61a-6291-11e7-935e-3d670a82b09e.png)

The vtol controller directly handles the transition switch. It should probably be centralized with the rest of the switch handling.

[2017-07-07 01:45] dagar commented on #7543
This is how/why I implemented MAV_CMD_MISSION_START and COM_ARM_MIS_REQ for a slightly different reason.
I'd be interested in implementing any other ideas for locking this down.

[2017-07-07 04:43] davids5 commented on #7541
@klopezal , @LorenzMeier  FYI.
@bresch Here is what I can tell you.

**IMPORTANT: Without having found the root cause yet, I am concerned that the chips may have been stressed and that the reset fix below is just getting it started, but in reality it is defective. Please use caution if you test the commit below.**

The incorrect values are coming out of the MPU9250 - ACELL Z register. Normal value

[2017-07-07 05:12] LorenzMeier commented on #7544
I think its architecturally ok. The manual control state should not update when RC is lost.

[2017-07-07 06:29] BazookaJoe1900 commented on #7535
Do you think that #7538 solves also the phenomena of flying backward?

[2017-07-07 11:32] tubeme commented on #6827
In PX4 1.6.3 flaps are working perfectly well. But I had to make my own mixer rot the AETR airplane. The same holds for the AERT mixer. Both mixer files lack the line:

Flaps  mixer for CH5,
using the payload control group
-----------------------------------------------------

M: 1
O:      10000  10000      0 -10000  10000
S: 0 4  10000  10000      0 -10000  10000

Once I added this line to the mi

[2017-07-07 11:55] tubeme commented on #7464
With HKPilot32 FMUv2 it is not working on the ground with manual trigger buttons.

We tried another HKPilot32 and Pixhawk Mini as well with the same results.

We tried all combinations:

Generic PWM. SeagulMap2 as well. We tried all the options for trigger mode as well.

Tried ch5 ch6 and ch1 and ch2 as well.

![always on](https://user-images.githubusercontent.com/12617619/27956826-2aac18e6-6324-1

[2017-07-07 12:48] tubeme opened #7547 "PX4 1.6.3: Position Takeoff and Land problems"
Hello guys,

After flying for some time with the 1.6.1 and 1.6.3 we noticed some corners that can be polished regarding taking off and landing in Position mode.

The feature of activating auto take off when in Position mode with the throttle lever passing 50 percent. There is nothing wrong with the 1.5 m/s take off speed, but it happens so sudden that it is scary sometimes.

Now the current take o

[2017-07-07 13:25] tubeme commented on #4438
Follow up

In 1.6.3 the FLAPS are operational but there are still some concerns about the flaps behavior.

In manual modes the flaps extends full way.

In guided modes ie. Altitude and Position the flaps extend half way.

Also there is very nice touch in Pos/Alt modes that the flaps does not extend full speed but rather we see slow movement from point to point. This is very nice because fully exte

[2017-07-07 13:26] tubeme opened #7548 "PX4 1.6.3: FLAPS performance follow up."
Follow up from #4438

In 1.6.3 the FLAPS are operational but there are still some concerns about the flaps behavior.

In manual modes the flaps extends full way.

In guided modes ie. Altitude and Position the flaps extend half way.

Also there is very nice touch in Pos/Alt modes that the flaps does not extend full speed but rather we see slow movement from point to point. This is very nice because

[2017-07-07 13:28] tubeme commented on #4438
Created Follow up in #7548

[2017-07-07 13:29] #4438 closed

[2017-07-07 13:32] dagar commented on #7544
We don't log manual_control_setpoint, but in this case the RC inputs changed before the signal_lost was set. Is this just the configuration of the RC receiver?
@santiago3dr

![image](https://user-images.githubusercontent.com/84712/27959728-95b2ec24-62f6-11e7-954f-65ea059f5622.png)

[2017-07-07 13:34] dagar commented on #7548
Can you summarize how you'd like it to work?

[2017-07-07 13:38] klopezal commented on #7541
I checked 3V3_SENSOR on a high number of power cycles and did not see any issue :

![3v3_sensors](https://user-images.githubusercontent.com/17044886/27958057-950e4810-6321-11e7-81d9-f5965c4dc4e5.jpg)

Rise time is about 60 µs.

The only difference between V1.2 and V1.3 IMUs is the ICM sensor :
- V1.2 has ICM-20608-G
- V1.3 has ICM-20602

We tried the following operations :
- desolder ICM-20602 fro

[2017-07-07 13:46] TSC21 commented on #7492
@anudeepsekhar updates?

[2017-07-07 13:55] tubeme commented on #7548
Two ways simple and deeper:

Simple way.

Make Flaps fully extend in Manual modes and Guided modes and Mission.
Make the Flaps extend slowly in all modes like it is in Position mode now.
Provide a parameter to control the timing of the flaps extension. IE 2 seconds for the movement from current position to the set point.

Deeper way.

Give us a scaling parameter for manual modes. We decide how muc

[2017-07-07 14:24] anudeepsekhar commented on #7492
@TSC21 sorry for the late reply i will paste the output of the diagnostics by tomorrow morning as i am currently away from my lab.

[2017-07-07 14:46] NaterGator commented on #7510
Sorry just catching up on this after getting back from Canada. Out of curiosity what was in the mission file? Was there intent to have a tangent crosstrack exit from the loiter or was that also a bug?

[2017-07-07 14:56] dagar opened #7550 "EKF2 FW defaults"
@priseborough should we set different EKF2 defaults for FW (or MC, VTOL)? We have a mechanism to set different initial values for each platform type if needed.

Should airspeed fusion be enabled by default for FW? What about synthetic side slip?

    EKF2_ARSP_THR 0
    EKF2_FUSE_BETA 0

Would it be safer to disable the default magnetometer fusion method switching for FW?

    EKF2_MAG_ACCLIM  0.5

[2017-07-07 14:59] dagar commented on #7510
It was just a regular timed loiter midmission. I believe the loiter was added in QGC without changing any defaults.

[2017-07-07 15:45] dagar commented on #7548
Thanks for the detailed response.

For manual mode do you need flaps to be binary (ON/OFF), have multiple positions, or be continuous (RC knob)?

Why is it important to control the timing? Would a longer default be sufficient? Maybe the deploy speed should actually be a function of airspeed?

Why do the flaps need to behave differently in alt/pos, mission, etc?

I'm trying to understand fundamenta

[2017-07-07 16:06] tubeme opened #7551 "PX4 1.6.3: Constant "High Airpseed" errors."
Hello guys,

Here is another issue we have since 1.6.0 RC1. We constantly have problems calibrating the airspeed sensor. It does not matter which airspeed sensor we use.

But depsite that once calibrated the airspeed stays at ~0 m/s The moment we restart the Pixhawk and connect again to the QGC we get High Airspeed error and a RED light and not able to arm. Then we check in the Fly view that the a

[2017-07-07 16:09] dagar commented on #7550
Default ublox 4g dynamic model?

[2017-07-07 16:13] dagar commented on #7551
It's poorly worded and has been improved recently. The problem is likely a large negative differential pressure, but the system won't show airspeed below 0.

Can you repeat this in log? Set SDLOG_MODE 1 to log from boot until disarm. Let's first verify we understand exactly what's happening, then discuss possible solutions.

[2017-07-07 18:55] mzahana opened #7552 "Support of GPS setpoints in OFFBOARD mode"
Hi.
I would like to know if I can send GPS setpoint to PX4 in offboard mode. One work around that I know is to to do some transofrmation to transform the difference between current gps point and target point to a local_ned position setpoint which px4 accepts. However, it would be more convenient to have this directly implemented in px4 firmware.

If not currently implemented, where should it be im

[2017-07-07 19:30] TSC21 commented on #7552
@mhzana PX4 is currently working torwards having navigation on the local frame only, meaning there is going to be always a correspondence/transformation between global and local frames on the Firmware side. If you are using MAVROS, maybe you will want to try `fake_gps` plugin, which transforms GPS into local coordinates already before sending the setpoint msg to the target FCU.

[2017-07-07 19:36] TSC21 commented on #7552
In any case the support you are talking about is also possible by adding an handler for [`SET_POSITION_TARGET_GLOBAL_INT`](http://mavlink.org/messages/common#SET_POSITION_TARGET_GLOBAL_INT) and then the respective usage on the the Firmware.

[2017-07-07 20:04] mzahana commented on #7552
Thanks for the response. The idea is to have the option to send GPS
setpoints in outdoor setup with available GPS sensor. The fake_gps plugin
in mavros,
https://github.com/mavlink/mavros/blob/master/mavros_extras/src/plugins/fake_gps.cpp
, does not send setpoints. It basically sends faked gps data out of mocap
or vision estimates, hence the name fake_gps.

However, what you suggested in the second

[2017-07-07 20:15] TSC21 commented on #7552
You don't need to create a new msg as the one I told you is enough. `fake_gps` fits another purpose, you are right, I just wasn't sure what was the source of the data. But a new plugin called `setpoint_global` would make sense, considering that it receives lla data (geographic_msgs can handle data perfectly) and then do the conversion as it is done on `fake_gps` (LLA->ECEF->ENU->NED). You are welc

[2017-07-07 21:32] priseborough commented on #7550
I believe we should be using the 4g dynamic model as the default to handle possible catapult launches rather than waiting for users to discover the need for themselves given that the downside for fixed wing is just a bit more GPS velocity noise which the EKF can easily cope with.

Setting  EKF2_MAG_ACCLIM  = 0 and  EKF2_MAG_YAWLIM =0 is also prudent.

Enabling airspeed fusion provides a wind estim

[2017-07-08 08:48] LorenzMeier commented on #7327
@gbrunso This should be fixed in the referenced PR: https://github.com/PX4/Firmware/pull/7554 - would you mind trying?

[2017-07-08 08:48] LorenzMeier commented on #7541
@bresch Can you please re-try as soon as possible on HW?

[2017-07-08 09:13] LorenzMeier commented on #7535
Yes. And yes, there will be a fix release shortly.

[2017-07-08 12:35] BazookaJoe1900 commented on #7535
@LorenzMeier  Thanks!
I can recommend, if it possible, to release the 1.6.4 with only fixes to issues (like this) in order to avoid inserting other "features" that might have side effects, bugs, breaking other features and protocols.

[2017-07-08 12:37] LorenzMeier commented on #7535
That's our standard mode of operation. We haven't done more than fixes since v1.6.3.

[2017-07-08 14:32] tubeme commented on #7548
No binary FLAPS. It is always a good idea to have control over the extension. If I use 3Pos switch then I have  two positions for the flaps in strong wind we use middle extension in good conditions we need full extension. If I use rotary knob then that is OK as well we have control all the way. Different people different styles.

The timing is needed because there are different types of aircraft a

[2017-07-08 14:32] LorenzMeier opened #7555 "MPU9250 driver boot ordering"
@davids5 This fixes the boot:
https://github.com/PX4/Firmware/commit/9cd93dcf03454cf5b2889290ef927b9e4074a6a6

I suspect its a timing issue.

[2017-07-08 14:38] #7555 closed

[2017-07-08 14:45] tubeme commented on #7551
I will do this later logging at night when my work day begins :). But in the mean time how is it possible to have just made a calibration, and then on a restart to have a large negative differential difference?

I understand that there might be different conditions, but we are talking about 1 minute restart... and it starts with "High Airpseed check calibration" I work with at least 4,5 different

[2017-07-08 15:37] dagar commented on #7548
It doesn't mean it has to be a dumb function of airspeed. Flaps increase the lift coefficient (and drag) and lower the minimum airspeed. For example this could be yet another tool the FW position controller (TECS) has at its disposal (with or without an airspeed sensor), but the utility decreases if you force it into an artificially simple model. You could then have a lower minimum airspeed config

[2017-07-08 15:45] dagar commented on #7551
Yes please try master. It's really helpful if you can open issues as soon as possible with logs so we can track down the problem. PX4 v1.6.0 RC1 has been around for 5 months, but I don't experience this problem across multiple different aircraft so I wasn't even aware of it. Often the hardest part of fixing something is getting enough information to understand the underlying problem.

[2017-07-08 18:34] LorenzMeier commented on #7544
RC loss.

[2017-07-08 18:34] #7544 closed

[2017-07-08 18:36] LorenzMeier commented on #7540
This was due to a loss of position.

[2017-07-08 18:36] #7540 closed

[2017-07-08 18:37] LorenzMeier commented on #7543
Should we deprecate the other interface?

[2017-07-08 19:08] dagar commented on #7543
What's the other interface?

[2017-07-08 19:16] LorenzMeier commented on #7543
Sequential execution. I'm hacking on Firmware and QGC trying to fix this right now.

[2017-07-08 19:48] LorenzMeier commented on #7543
Turns out its entirely a QGC issue and the fix is here: https://github.com/mavlink/qgroundcontrol/pull/5415

[2017-07-08 19:48] #7543 closed

[2017-07-08 22:24] #7550 closed

[2017-07-09 06:02] nkhoit commented on #7467
Fixed in #7538

[2017-07-09 06:02] #7467 closed

[2017-07-09 07:09] shivangag commented on #7525
I was facing the same issue on running the sitl using roslaunch. So I tried running each node in the launch file individually and surely enough the problem was with the px4 node.
On running `rosrun px4 px4`, I got this error:
[code]
The first [px4 node](https://github.com/PX4/Firmware/commit/6ea9c1877b6465f96fd2637c29ecb13b2e81ff70) is the node that is executed by the roslaunch file, instead of th

[2017-07-09 11:37] garfieldG commented on #7472
Fixed at refs #7531

[2017-07-09 11:37] #7472 closed

[2017-07-09 14:03] LorenzMeier opened #7565 "Implement Safe Landing Spots (SLS)"
We have almost all of the infrastructure in place already. There are only a few minor steps missing:

  * Land should choose the closest landing site if within a certain `NAV_AUTOLND_RAD` radius. The param should default to -1 to disable. It should read the dataman safe landing spots on activation: [code location](https://github.com/PX4/Firmware/blob/master/src/modules/navigator/land.cpp#L74)

Tha

[2017-07-09 14:19] anudeepsekhar commented on #7492
@TSC21 When we checked the connection and re soldered the connections the off-board was working and the issue is solved now. It was a wiring issue.

[2017-07-09 14:19] #7492 closed

[2017-07-09 14:34] jianyang1 opened #7566 "Severe horizontal overshots"
After seeing unusual behavior in air, i'd reproduce it at SITL using v1.6.3

When pausing the drone during re-position its creates severe overshots.
its seem that the severity of the overshot is effected by the distance its has already flown, but the pattern is always the same.

![overshots](https://user-images.githubusercontent.com/30023254/27994772-c879dd0c-64cc-11e7-8365-18826590b919.png)

http

[2017-07-09 14:36] LorenzMeier commented on #7566
Thanks for reporting this! A fix is on its way. It has to do with the slew rate limiting we introduced with v1.6. @dagar We probably want to pull this into v1.6.4 because its so annoying.

[2017-07-09 14:37] LorenzMeier commented on #7566
@Stifael Your last PR requires a bit of sanitisation (look at the diff, it should be obvious that you added unintended changes) but other than that it should enable us to fix this.

[2017-07-09 14:46] jianyang1 opened #7567 "Inconsistent RTL state"
When RTL is being activated, instead of changing the position setpoint to Home, its first changes the position setpoint to the place where is where commend from. Only after its reaching that location, the setpoint is changed to Home position.

In Case of de-activate RTL once and than re-activate it again at any point, the setpoint is changing directly to Home position as it should

Produced on SIT

[2017-07-09 14:47] Stifael commented on #7566
Which pr?

[2017-07-09 14:49] LorenzMeier commented on #7566
We can discuss on PX4 slack.

[2017-07-09 15:41] dagar commented on #7567
The first stage of RTL is to climb (if needed) to RTL_RETURN_ALT in place.

You can see what RTL is doing here - https://github.com/PX4/Firmware/blob/master/src/modules/navigator/rtl.cpp#L129

[2017-07-09 15:43] magicrub commented on #7565
How is this different than using multiple DO_LAND_STARTs?

[2017-07-09 18:21] 2ndalpha opened #7571 "PWM_DISARMED not being used?"
Hi,

I'm not sure if it belongs here to the issue tracker or to discussions but I'm having problems setting up my flying wing with pixracer.
Everything works expect the motor, when disarmed ESC beeps no signal when armed it beeps "throttle not the bottom".
ESC: HobbyWing Platinum 30A http://milehighrc.com/Manuals/HW-120-PL_Pro.pdf
I've also tried with HobbyKing Plush 40A, no luck.
If the FC would

[2017-07-09 18:35] dagar commented on #7571
Are you sure the ESC is plugged into the correct output? Did you plug it into output 3 or 4?

If you post your log we can see exactly what values are sent? http://logs.px4.io/
You'll probably need to set it to log from boot (SDLOG_MODE 1) and reproduce.

[2017-07-09 18:44] JonReacher opened #7572 "FW Minimum Airspeed scaling for banked stall avoidance"
I think it would be wise to enable scalable minimum airspeed that would increase FW_AIRSPD_MIN according to degrees of bank. I just had a pretty bad crash that, from what I can tell, would have been avoided by having this enabled. The problem gets exacerbated by airframes with higher minimum airspeeds and higher wing loading.

 I know it's possible to just increase FW_AIRSPD_MIN, but that has a ri

[2017-07-09 18:50] JonReacher commented on #7572
Here's a log from the flight. http://logs.px4.io/plot_app?log=691f09d3-80ae-406b-ac71-6dfca874ee6a

[2017-07-09 19:04] dagar commented on #7572
Hi Jon, I'm interested in this and I'll find some time to look at your log in detail later.

Last year I hacked the FW controller to scale the minimum airspeed based on roll, but never tested it outdoors or tried to merge. https://github.com/dagar/Firmware/commit/b9b7d63b2a8a66a93db412bd5fc469e1fa17e226

I'd to happy to resurrect this if you're able to help with testing. I was also considering lim

[2017-07-09 19:07] dagar commented on #7565
I believe this would be with something like rally points.

@magicrub how do you use multiple DO_LAND_STARTs? In PX4 I only allowed one because having multiple in the same mission didn't make sense to me.

[2017-07-09 19:20] JonReacher commented on #7572
Yeah, I would happy to test it. The math in your code looks like what's needed.
The problem with me is that I am not presently any good at coding, compiling, etc. I would need a literal step by step to use anything other than the QGC firmware installer. By not good, I mean completely ignorant.

[2017-07-09 19:22] LorenzMeier commented on #7572
@dagar Let's get a PR up with associated binary!

[2017-07-09 21:11] 2ndalpha commented on #7571
0 - left servo
1 - right servo
3 - motor
4 - BEC for the rail

Log: http://logs.px4.io/plot_app?log=369a9598-8796-42e0-a796-d2096891d390
Thank you :)

[2017-07-09 21:27] dagar commented on #7571
I wonder if PWM_MIN/PWM_MAX are causing a problem. Can you try restoring them to default?

[2017-07-09 22:14] LorenzMeier commented on #7457
Should be fixed.

[2017-07-09 22:14] #7457 closed

[2017-07-09 22:14] LorenzMeier commented on #7473
Done.

[2017-07-09 22:14] #7473 closed

[2017-07-09 22:14] LorenzMeier commented on #7474
Done.

[2017-07-09 22:35] hamishwillee commented on #7474
@LorenzMeier Please reopen this. The change I made better organises the content, but (despite my comment in #7482 does not "fix" the problem).

To fix this requires an update to the configuration files for the specific vehicles (mixers?) to make sure that they map the same output for throttle (and where possible other outputs). As I understand it, the change is technically easy to make, but would

[2017-07-09 23:03] Antiheavy commented on #7196
Thanks @dagar.
https://github.com/PX4/Firmware/pull/7558

[2017-07-09 23:03] #7196 closed

[2017-07-09 23:52] Antiheavy commented on #7572
I too would love to see an improvement like this. We've been bitten by inside wing stalls in tight turns and have had to increase min speed and decrease bank angle to prevent it. Happy to flight test.

[2017-07-10 02:29] dagar commented on #7572
Pull request - https://github.com/PX4/Firmware/pull/7575

[2017-07-10 06:01] LorenzMeier commented on #7535
Closing this, as it is contained on master.

[2017-07-10 06:01] #7535 closed

[2017-07-10 06:02] LorenzMeier commented on #7551
Fixes from @dagar are on master. Please re-open if not fixed.

[2017-07-10 06:02] #7551 closed

[2017-07-10 06:38] LorenzMeier commented on #7528
Thanks! Fixed in c89bd5c8fd878ccdf06c84da457543e1558e93d3.

[2017-07-10 06:38] #7528 closed

[2017-07-10 06:52] ChristophTobler commented on #6573
@scenkov I have rebased both of your branches (see https://github.com/ChristophTobler/DriverFramework/tree/LTC2946 and https://github.com/ChristophTobler/Firmware/tree/LTC2946_on_Snapdragon_Flight) and tried on my Snapdragon Flight with a 3S battery attached. I couldn't see the voltage.
The [mini-dm output](http://pasted.co/22d21bff) shows some errors which are not present when running master.

[2017-07-10 07:49] tubeme commented on #7551
@dagar @LorenzMeier Indeed no problems in master... This master is a very precious one...

[2017-07-10 08:04] tubeme commented on #7572
4 months ago we've had a tip stall in Position during sharp turn, because we forgot to lower the roll angle from the defaults. We were flying pretty slow around the min airspeed. Probably this scaling could have prevented the crash.

[2017-07-10 08:26] tubeme commented on #7548
@dagar I agree with your arguments. Will think about the use case scenarios and write them down. Then we could move  on.

I agree with the scaling and the Mixer. But last time when I tuned the throttle of an IC engine servo I spent 1 hour tuning it with the current mixer, and spent 20 minutes for the flaps.

And I don't know a person here that understands what is going on in the mixer and can edit

[2017-07-10 10:50] jianyang1 commented on #7567
i understand, yet i think reaching to RTL_RETURN_ALT should be enough for changing the set point to home.
its still keep flying towards this irrelevant x,y poition even after climbing to RTL_RETURN_ALT

[2017-07-10 11:11] jianyang1 commented on #7566
@LorenzMeier is v1.6.4 coming out anytime soon?

[2017-07-10 11:18] LorenzMeier commented on #7566
Early this week

[2017-07-10 12:10] mzahana commented on #6231
Any progress on this?

[2017-07-10 12:14] mzahana commented on #7552
I will start with the Mavros option as Ibhad that implemented and tested in flight some time ago. Then, probably later I will look into the FCU implementation.

[2017-07-10 13:17] BazookaJoe1900 commented on #7567
@dagar and @jianyang1  just by looking at the plot I see issue, the gap from the position to the target is not "closed" on some points as it should.

[2017-07-10 13:54] dagar commented on #6231
It looks fairly straightforward to implement. If someone wants to lend me one and lay out exactly what you want it to do I think we could get basic support together pretty quickly.

[2017-07-10 14:00] BazookaJoe1900 commented on #7312
@LorenzMeier, I can see that #7351 fixes this issue, but its not in this milestone, is it going to be?

[2017-07-10 16:18] anuppari commented on #7525
Yep I also ran `rosrun px4 px4` and got he same issue. [That file](https://github.com/PX4/Firmware/commit/6ea9c1877b6465f96fd2637c29ecb13b2e81ff70) is missing the `.py` extension, which is what ROS usually uses to distinguish between cpp and python nodes, hence causing the issue.

[2017-07-10 16:48] #7525 closed

[2017-07-10 17:02] LorenzMeier commented on #7407
Yes, we're working on it.

[2017-07-10 17:02] #7407 closed

[2017-07-10 17:43] kevinlyu1 opened #7580 "IR-Lock"
Does anyone know how to get the IR-Lock to work with GQC?

I've done all the set up for it using the PixyMon, but after that I can't find anything with integrating it on the px4 stack with the pixhawk. Was wondering what type of parameters I would have to set or does the IR-Lock start to work automatically.

[2017-07-10 17:49] TSC21 commented on #7580
@kevinlyu1 IRLock has a driver on firmware but the data of it is no being used still.

[2017-07-10 18:31] 2ndalpha commented on #7571
I restored all PWM settings to defaults, unfortunately still the same.
Log: http://logs.px4.io/plot_app?log=ad48a8f9-c33d-4b37-9c8a-ee047126f598

[2017-07-10 18:50] dagar commented on #7571
Is the jump from 0us (disarmed) to 1000us (armed) the problem? I thought it should be defaulting to send 900us disarmed, but it might be missing something in the config. Do you know how to access the console? Either physical or through QGC. If so, run `pwm info' and share the output.
![image](https://user-images.githubusercontent.com/84712/28034272-b2714484-657e-11e7-8b02-80fb65c59e4e.png)

[2017-07-10 19:17] TSC21 commented on #7552
Great. Have a look at `fake_gps` so to know what functions you can use to apply the transform LLA->ECEF->ENU.

[2017-07-10 19:35] kevinlyu1 commented on #7580
So basically the IR-Lock won't work on the px4 stack?

[2017-07-10 19:39] TSC21 commented on #7580
The driver is here: https://github.com/PX4/Firmware/blob/4453e4201b7a245cff52beeb38a293161aea4c48/src/drivers/irlock/irlock.cpp. From here to a implementation of usability there are some things that can be done (data logging, precision landing, data wrap to `LANDING_TARGET` msg). So the driver allows to get the data on the stack, but nothing is done besides the driver right now. You are welcomed t

[2017-07-10 19:57] kevinlyu1 commented on #7580
What do you mean by a PR?

[2017-07-10 20:05] TSC21 commented on #7580
Pull Request

[2017-07-10 20:15] kevinlyu1 commented on #7580
Okay thanks!

[2017-07-10 20:15] #7580 closed

[2017-07-10 20:24] 2ndalpha commented on #7571
My biggest issue is I can't get the motor working no matter what.
My thinking was if FC would send proper disarmed signal the ESC would initialize and then it would be good to go.

pwm info:
[code]

[2017-07-10 20:27] dagar commented on #7571
There's something missing in the airframe config. We can use the command line to figure it out and then update.

Try `pwm disarmed -c 4 -p 900` and then `pwm info` again.

[2017-07-10 20:35] 2ndalpha commented on #7571
[code]

Still does not work, though. Are ESC-s ok with 50Hz rate?

[2017-07-10 20:41] dagar commented on #7571
To sanity check you definitely have a gap between the servo and ESC? Have you tried this ESC with a regular receiver?

The ESCs I use are fine with 50-400Hz but you could try that as well. Note the channel groups at the bottom. You can only set the rate per channel group.

`pwm rate -c ${PWM_OUT} -r ${PWM_RATE}`

[2017-07-10 21:16] 2ndalpha commented on #7571
Those pwm settings should persist, right? After power cycle it is again default value.

[2017-07-10 21:20] dagar commented on #7571
No it's all done in the init partially coming from parameters -  https://github.com/PX4/Firmware/blob/master/ROMFS/px4fmu_common/init.d/rc.interface

Using the pwm command you could also try test to see if you can get anything.

[2017-07-10 21:27] 2ndalpha commented on #7571
I got the motor turning by following commands:
[code]

I've set it up as FX79: https://github.com/PX4/Firmware/blob/master/ROMFS/px4fmu_common/mixers/FX79.main.mix
Maybe there is something wrong with it?

[2017-07-10 21:54] 2ndalpha commented on #7571
I think I figured out how to make it work. My ESC is calibrated with too low lower value.
If I calibrate it with the lowest value above 1000 it should be fine?
I will try it out tomorrow

[2017-07-11 00:27] njoubert commented on #5595
@tubeme I know this issue is closed, but you linked to a MPX5500 sensor. I'm looking at that sensor, but I don't think that can make a useful airspeed sensor. with a pressure range from 0 to 500kPa, it's got two orders of magnitude higher maximum pressure range than any of the other sensors we use for airspeed on PX4. Did you link to the wrong sensor?

[2017-07-11 10:18] lvyanxuan opened #7590 "The buzzer keeps ringing after power on"
I have burn the latest firmware，but found that the buzzer kept ringing after power on. It won't stop until i press the safety switch. Is there anything wrong with the new firmware?

[2017-07-11 10:28] tubeme opened #7591 "Position Mode for VTOL in MC Tuning."
Hello guys,

We have the following problem we could not solve in Position Mode in MC. We tuned our Position XY PIDs such that we have a very tight and accurate Position hold in MC. But there are certain aspects of the Position Control that we cannot overcome.

Here is the Position Control Dynamics in MC when you use the Pitch Stick to move the Aircraft forward.

![position mode control](https://us

[2017-07-11 10:44] tubeme opened #7592 "1.6.4 Stable reported as 1.6.4dev"
With the latest QGC master. We flash Stable.

[2017-07-11 10:45] LorenzMeier opened #7593 "Baro bus connectivity"
Here are three examples. FMUv5 clearly has the best HW layout. Both FMUv4 variants are close.

FMUv4 PRO

<img width="933" alt="screen shot 2017-07-11 at 12 37 40" src="https://user-images.githubusercontent.com/1208119/28064922-b96ec0b4-6636-11e7-8db0-39f8324b5614.png">

FMUv4

<img width="935" alt="screen shot 2017-07-11 at 12 40 08" src="https://user-images.githubusercontent.com/1208119/28064926

[2017-07-11 10:50] LorenzMeier commented on #7592
Thanks. We need to fix this once and for all. @dagar We need to change our CI tooling to re-build all branches that a tag applies to.

[2017-07-11 10:53] jianyang1 opened #7594 "v1.6.4: Pause is not working"
tested v1.6.4 on SITL, Pause commend seem to be not responding at all

[2017-07-11 10:57] LorenzMeier commented on #7594
Checking.

[2017-07-11 11:07] tubeme commented on #7594
Works just checked.

[2017-07-11 11:21] tubeme commented on #7590
What you mean by the latest?? I just flashed 1.6.4 stable with the QGC and it works perfectly well. Probably the initial loading is a bit slow on power up but other than that works OK.

[2017-07-11 11:23] LorenzMeier commented on #7594
It does not work when you are in a mission. I fixed that in dbc7d805f2. If you flash the current developer version it should be fine again.

[2017-07-11 11:23] #7594 closed

[2017-07-11 11:24] LorenzMeier commented on #7590
Can you reset the parameters and configure again?

<img width="1198" alt="screen shot 2017-07-11 at 13 24 24" src="https://user-images.githubusercontent.com/1208119/28066194-4b929560-663c-11e7-8c33-6f45f3abc9dc.png">

[2017-07-11 12:02] lvyanxuan commented on #7590
The QGC version is V3.2.0. And the Firmware version is 1.6.4dev. it might also be an error, Because I choose the stable version when i burn it.
I have tried to reset the parameters, but it just keeps ringing.

[2017-07-11 12:06] LorenzMeier commented on #7590
Can you take a video of the setup?

[2017-07-11 12:08] tubeme commented on #7464
OK we have development. It was a cascading failure of servos and power that led us to believe we have no PWM output. In the configuration PWM and SeagulMAP2 it outputs PWM signal to the AUX 5 ch.

But we still cannot trigger our camera. Here is the problem.

By default the Aux bus is in 1500us when armed so the servo stays in the middle. When we trigger we see very little movement for the servo. L

[2017-07-11 12:14] lvyanxuan commented on #7590
Do you mean showing you all the parameters?

[2017-07-11 13:22] gyang1011 opened #7596 "Multi-Vehicle Simulation Error"
Hello,

I am following the guide on multi-vehicle simulation: https://dev.px4.io/en/simulation/multi-vehicle-simulation.html.

But I got an error when I run
       `roslaunch px4 multi_uav_mavros_sitl.launch`

The error is the following:

[code]
Note: when I run the single vehicle simulation everything works just fine. The mavros is also working and I can `rostopic echo` the sensor messages. I onl

[2017-07-11 13:24] lvyanxuan commented on #7590
Oh it was because that i did't insert the SD card...Thank you for your help.

[2017-07-11 13:24] #7590 closed

[2017-07-11 13:59] dagar commented on #7592
I'll take a look, but the shortterm fix is likely going to be following a particular workflow working within the constraints of travis-ci/semaphore. With jenkins we could re-build based on branches containing tags if needed.

What's your workflow now? When and where do you tag (and push), and then how are you updating beta and stable?

[2017-07-11 14:10] dagar commented on #7591
Try lowering the horizontal acceleration and deceleration.

MPC_ACC_HOR_MAX
MPC_DEC_HOR_MAX

[2017-07-11 14:44] dagar commented on #7591
The other thing you should consider is significantly lowering the max multicopter pitch and roll rates to what you think is reasonable for a wing.

MC_PITCHRATE_MAX
MC_ROLLRATE_MAX

[2017-07-11 15:12] jianyang1 commented on #7594
Thanks, works just fine now.
I think its should be included in the stable release as well, that’s a serious safety issue right now

[2017-07-11 17:11] Mtbarros opened #7597 "BUG: Code dependent on the compiler"
Hey there.

I've been trying to run the SITL version on a rpi3 and when compiling with the arm-linux-gnueabihf-raspbian toolchain the simulation was not running correctly.

After a few days of hunting the bug down, I found that, when not defining a CAL_MAGX_ROT, it's value is left at -1, and this value is then cast to the Rotation enum, which starts at 0. This causes undefined and problematic beha

[2017-07-11 17:36] dagar commented on #7597
Those mag rotation parameters are intended for external modules. A value of -1 is used to indicate the mag is internal and not apply an additional rotation.

Can you describe the full situation? Maybe something else is going on here. Was this an internal or external mag? Which driver and where are you seeing the cast?

[2017-07-11 19:06] tstellanova commented on #6443
Seeing something similar flying an S1000 octo:
http://logs.px4.io/plot_app?log=d6944989-20ef-4007-bf1e-ca0b3732347f

Multiple warnings:
`2:24:865 | WARNING | [lib__ecl] EKF GPS fusion timeout - reset to GPS`

Have tried two different GPS units (ublox M8N, M8T) with the same results.
Looking at the code it appears this warning shows up when EKF decides GPS data is now valid. I'll look at whether GP

[2017-07-11 19:42] LorenzMeier commented on #6443
It looks more like an inertial sensor issue / EKF2 tuning issue for your specific airframe. You have a relatively high angular rate noise: http://logs.px4.io/plot_app?log=d6944989-20ef-4007-bf1e-ca0b3732347f#Nav-Raw-Angular-Speed-Gyroscope

[2017-07-11 19:43] mhkabir commented on #7464
The default "Trigger On" pulse is hard-coded to 1700us. This can be made a parameter for flexibility and exposed via QGC's Camera Trigger UI.

This will require an interface specific to your camera, and not something generic. Have a look at the MAP2 interface to see how to implement the low-level camera-specific pulses, etc.

[2017-07-11 20:20] dagar commented on #6443
Output from `./Tools/ecl_ekf/process_logdata_ekf.py`

[Uploading d6944989-20ef-4007-bf1e-ca0b3732347f.ulg.pdf…]()
It looks like the compass is at least part of the problem.

![image](https://user-images.githubusercontent.com/84712/28088766-c716d6fc-6654-11e7-820d-263d0ab7fefc.png)

[2017-07-11 23:33] tstellanova opened #7599 "`EKF GPS fusion timeout` errors with good GPS data available lead to big position estimate jumps"
While flying an octo with ublox M8T GPS we see rapid extreme position estimate jumps, as logged here:

http://logs.px4.io/plot_app?log=d6944989-20ef-4007-bf1e-ca0b3732347f

- Multiple warnings are logged similar to: `2:24:865 | WARNING | [lib__ecl] EKF GPS fusion timeout - reset to GPS`
- Have tried two different GPS units (ublox M8N, M8T) on several different airframes with the same results.
- Lo

[2017-07-11 23:45] tstellanova commented on #7599
-  Another airframe with similar results:
http://logs.px4.io/plot_app?log=f72f8bdb-372d-4c83-a4a8-b929406ec059

[2017-07-12 00:05] priseborough commented on #7599
Here are some preliminary observations:

1) The measured magnetic field length is invariant through the orientation changes which makes a compass calibration an unlikely cause.
2) Vertical innovations are low
3) Z vibration is lower than X and Y.
3) GPS horizontal velocity innovations are large from the start of the log. This can be caused by aliasing of gyro data, clipping or aliasing of horizont

[2017-07-12 00:39] dagar commented on #7599
@tstellanova this is a bit of a long shot, but where is the external mag connected?

[2017-07-12 01:02] tstellanova commented on #7599
- Will attempt Paul's recommendations in a day or two on at least two separate airframes.
- @dagar I believe in all instances the external mag is connected via GPS2 on the Pixhawk2.1   .  Tested both Drotek M8T XL and Holybro M8N , which both include mag.

[2017-07-12 03:56] lvyanxuan opened #7600 "LPE: Can't get Local Position with PX4_Flow and Sonar"
I am using the new 1.6.4dev lpe firmware and want to achieve indoor navigation with PX4FLOW and Sonar. I am wondering which value the LPE_FUSHION should be set. If not fusing baro, the px4 seems does't know how to use the sonar data and can't get local position. btw, i can see the DISTANCE SENSOR(#132)and current distance seems work well.

[2017-07-12 11:40] TobiMiller commented on #7600
so you have compiled the LPE firmware by yourself?

[2017-07-12 12:14] lvyanxuan commented on #7600
@TobiMiller Yes, I compiled and uploaded it with "make px4fmu-v2_lpe upload".

[2017-07-12 13:37] dagar commented on #7599
Can you carefully check all axes of the mag? The pixhawk 2 used what the pixhawk 1 considered an internal i2c bus in the 2nd GPS port. It's supposed to be binary compatible with px4fmu-v2, but based on how these things are currently implemented it's really not. The common external gps + compass modules typically have the arrow aligned with -y so there's an assumed rotation if the module is externa

[2017-07-12 13:40] ccc159 opened #7601 "Strange behaviour in indoor offboard control with external positioning system"
We are trying to fly our customized quadcopter in gps-denied indoor environment with mocap system.

At **first step**, we followed [gazebo SITL dev guide](https://dev.px4.io/en/simulation/gazebo.html) to simulate the setup.

In simulation we used **px4-1.6.3 Firmware**, **latest mavros**,  in ROS kinetic, Ubuntu 16.04.
The steps are:
1. ```make posix_sitl_lpe gazebo```
2. disable gps by ```gpssim

[2017-07-12 14:06] tubeme commented on #7591
We limited the pitch rate which solved the problem in half but the acc and dec are parameter I've missed along the lines.

Thanks a lot @dagar We will try the parameters and see what is going on.

[2017-07-12 15:53] tstellanova commented on #7599
We tested two airframes outdoors and found that the heading was exactly backwards, nose-tail (pointing the aircraft West yields a heading of East in QGC).   This does appear to be a bug with the mag calibration since we used two different GPS + mag modules.

The cabling for GPS1 and GPS2 is slightly different so it'll take a little time to reconfigure for GPS1.

[2017-07-12 16:05] dagar commented on #7599
You can hack it here to verify. https://github.com/PX4/Firmware/blob/master/src/drivers/hmc5883/hmc5883_i2c.cpp#L115

Then if you recalibrate the corresponding mag cal rotation parameter shouldn't be set to internal. You can also check with the listener command and look for the is_external field.

`listener sensor_mag 0 1`

[2017-07-12 16:22] mhkabir commented on #7599
@tstellanova Are you on master?

[2017-07-12 16:30] tstellanova commented on #7599
@mhkabir Essentially master, yes

- Tried recalibrating on GPS2 and confirmed that heading is exactly backwards after calibration
- Connected the same GPS+mag unit (Drotek M8T XL) to GPS1 and recalibrated.  The heading shown after calibration is correct.

[2017-07-12 16:33] mhkabir commented on #7599
OK I see what's going on. In the first case, I2C2 is using `PX4_I2C_BUS_ONBOARD`, and therefore the mag driver thinks that it's an on-board mag, and applies the board rotation to it, instead of applying the external rotation.

[2017-07-12 16:41] dagar commented on #7599
@mhkabir I've discussed with @davids5 and it seems like we probably need to stop treating the cube like it's just another px4fmu-v2.

I proposed using px4fmu-v3 to refer to the cube (both solo and 2.1) and for px4fmu-v2 have a default config limited to 1MB (original pixhawk), and a larger config with the additional modules (mRo pixhawk, pixhawk mini). The only problem with this is we can't tell th

[2017-07-12 16:54] davids5 commented on #7599
Yes.

The problem is the px4fmu-v3_default is a px4fmu-v2_default build with only a linker map change to support the full flash because the assumption in that the CPU is >= rev 3 silicon and the bug is fixed

The bus internal/external changes have not been accounted for.

As @dagar says it is time to split them off. But we have the issue that the bootloader is reporting the same board id. So I thi

[2017-07-12 21:16] gbrunso commented on #7327
I just flashed the latest px4 v3 master and can still replicate this issue. Unlike before, when the sensors fail to start up, QGC shows the following messages:
[code]

[2017-07-12 21:35] gbrunso opened #7603 "Battery Monitor not working on PixHawk Mini"
There seems to be a problem with the battery monitor on the pixhawk mini.  I calibrated the battery monitor, and set batt_low_thr to 20%, batt_crit_thr to 10%, and batt_energen_thr to 7% in QGC.  I managed to run a 4s battery down below 12V  without hearing any sort of alarm in flight.  I am flying indoors using offboard control and motion capture position information.
This happened using px4 1.6.

[2017-07-12 22:20] davids5 commented on #7327
I think there is some confusion caused by several bugs/changes. So let me list what I know to expect.

1)  The pxfmu-v3_default build prior to  https://github.com/PX4/Firmware/commit/22d0ea15deb00d7ead6db54fe491571e3e6a4035 did not start the ICM20608 on the PixhawkMini. Current master does start it. N.B. pxfmu-v2_default will not start it.

2) Prior to PR: #7554 when the MPU9250 internal mag faile

[2017-07-13 01:04] davids5 opened #7604 "CQWG:Refactor ALL stm32_boardinitialize, board_app_initialize like V4Pro for GPIO_VDD_3V3_SENSORS_EN off at reset"
Insure a 0.0 voltage initial condition on VDD_3V3_SENSORS  By starting the GPIO_VDD_3V3_SENSORS_EN, low and deferring the GPIO init of the slave selects and drdy signals until   board_app_initialize. We get ~ 180 ms of power off time with 0.00 voltage applied to the sensors.

Once completed in rc.sensors  remove:
[code]
For the new driver arch design move this function from fmu.cpp  to a) Sensors

[2017-07-13 01:17] davids5 opened #7605 "CQWG:Remove fmu i2c command that set bus rate .rc.sensors as it is done in the driver."
[code]

It is done already in the driver.

[code]

Once removed, and for the new driver arch design move this function from fmu.cpp to a) Sensors of b) Driver manager as this could be useful in testing a device's capabilities without a re-compile, but if deemed "ehh Not so useful" remove it.

[2017-07-13 02:21] matt88 opened #7607 "Pixracer external compass not detected"
Pixracer v1.0 on a new build using a ublox m8n gps compass combo. The gps works flawlessly?? The compass won't show up in calibration or anywhere in the parameters. The only two compass cal ids are known pixracer ids and unplugging the gps during calibration does nothing?  I have reflashed the fw. Using the latest stable 3.4.6 copter/hexa. I also had another m8n lying around. Tried it. No differen

[2017-07-13 03:37] JonReacher opened #7609 "FW Land mode = crash"
I recently had a flight that put up a "[commander] failsafe: no global position warning", then switched to Land mode and proceeded to fly straight into the earth. My main concern is why the global position was lost in the first place (did the estimated position and gps position begin to differ too much? why?), but it would be nice to know that there is a reliable FW solution for this sort of condi

[2017-07-13 04:05] JonReacher commented on #7609
I know there are several ways that you could go about returning to the ground as safely as possible. In this particular case it seems that if the autopilot would have trusted the gps and disregarded position estimation everything would have been fine. If it truly is flying blind, or thinks it is, and no dead reckoning is available, would it be best to go into a descending loiter at a slow target s

[2017-07-13 04:39] dagar commented on #7609
There's an open loop loiter GPS failure mode, but I'd rather use the FW position controller to execute a heading hold landing while controlling airspeed. The main blocker to this at the moment is the FW position controller (TECS + L1) runs based on global position updates. I'm thinking of how to refactor it to continue running TECS.

[2017-07-13 06:11] LorenzMeier commented on #7607
Please flash PX4 through QGroundControl if you want to use this software.

[2017-07-13 06:11] #7607 closed

[2017-07-13 13:45] gyang1011 commented on #7596
It looks like I cannot load iris_1_sdf in the single_vehcile_spawn.launch. Any idea how to fix that?

[2017-07-13 14:47] gyang1011 commented on #7596
OK. I am trying to write my own launch file.
'''
<launch>

    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>

    <arg name="est" default="lpe"/>
    <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/empty.world"/>

    <arg name="headless" default="false"/>
    <arg name="gui" default="true"/>

    <arg name="plu

[2017-07-13 14:54] #7596 closed

[2017-07-13 18:03] anuppari commented on #7327
@gbrunso and I are working with the same 5 physical units, so yes we have tested the latest master and still get the issue. Also, we are testing indoors without the GPS module connected.

[2017-07-13 20:28] bsowlin opened #7612 "make: *** [px4fmu-v2_default] Error 2"
I tried to install px4 toolchains on Ubuntu 16.04 LTS. But when I used 'make px4fmu-v2_default' it shown like this
[  0%] Built target git_nuttx
[  1%] Generating git hash header
[  1%] Built target git_genmsg
[  1%] Built target git_gencpp
[  1%] Built target git_matrix
Traceback (most recent call last):
  File "/home/bsowlin/src/Firmware/Tools/px_update_git_header.py", line 27, in <module>
    c

[2017-07-13 20:31] dagar commented on #7612
Can you try `make distclean` and then `make px4fmu-v2_default`?

[2017-07-13 21:26] bsowlin commented on #7612
it's work. Thank you so much.
But can I ask for knowledge? what the purpose of make distclean?

[2017-07-13 21:43] dagar commented on #7612
My guess is you didn't have the required submodules checked out. The build should have fetched and initialized them, so I'll have to take a closer look to see if something is broken.

`make distclean` is a nice way to completely clean the source tree, but also make sure all the submodules are in the correct state.

[2017-07-13 21:44] dagar commented on #7612
I'll leave this open for now to see if I can recreate (and fix) and the failure.

[2017-07-13 23:46] davids5 commented on #7327
@anuppari

I am sorry I did not realise you were working with @gbrunso. Thank you both for helping troubleshoot this problem. I very much appreciate your help.

Do I understand you correctly that all 5 boards fail? Is this 100% of the time or randomly? Can you describe the details of the power sequencing and what is connected to board in what order that leads to the failure? Also can you include a

[2017-07-14 00:31] matt88 commented on #7607
Tried that. Didn't make any difference. Still only showed internal compasses

[2017-07-14 05:44] Nickvot opened #7614 "Hi i use pixhawk with traxxas stampede(rover,rc car). How do i get car reverse??"
hi i use pixhawk with traxxas stampede(rover,rc car).

but rover only forward

How do i get car reverse??

I use https://dev.px4.io/en/airframes_experimental/traxxas_stampede.html

[2017-07-14 08:25] damul opened #7615 "Snapdragon flight spektrum not receiving"
Hi,

I cloned PX4/Firmware master branch.
I installed Hexagon SDK 3.0 and other tools with ATLFlight/cross-toolchain.

Building and uploading PX4 is successful with "make eagle_default" and "make eagle_default upload".
I can connect to PX4 with QGC, but radio is not responding.

With deployed firmware from intrinsyc (3.1.3_PX4.zip from support.intrinsyc)
spektrum data was received.

What can I do

[2017-07-14 10:00] bkueng commented on #7604
Note that this is already cleaned up in https://github.com/PX4/Firmware/pull/7616/commits/5631b5ab86f7763d7150f68027b2307efe8db0c2, now on master

[2017-07-14 15:11] r0gelion commented on #7615
Hi @damul ,

When using eagle_default connect the receiver to J12 instead of J15.

[2017-07-14 16:32] gbrunso commented on #7327
They fail randomly, but there seems to be a greater tendency to fail if the board has been off for a length of time, and then powered with the battery.  We can usually get the sensors to start if we disconnect the battery to power off, power with USB, and then reconnect the battery.  We are using the PDB that comes with the pixhawk mini.  It looks like this:
![image](https://user-images.githubuser

[2017-07-15 00:15] davids5 commented on #7327
@gbrunso - THANK YOU!

Your observation helped me find the root cause and the reason the results of testing were so inconsistent.  Please test https://github.com/PX4/Firmware/pull/7618

[2017-07-15 02:28] davids5 commented on #7327
arrg, I am still getting failures. I am sorry please hold off on testing.

[2017-07-15 04:37] lachyd opened #7619 "ROS launch scripts refer to overdefined executables"
For example, in Firmware/launch/posix_sitl.launch we have:
[code]

For me, under the Firmware directory there is a px4 executable python script (Firmware/Tools) plus another executable named px4 under the build target for a Raspberry Pi cross (Firmware/build_posix_rpi_cross). This is in addition to the px4 executable we want ROS to find (under Firmware/build_posix_sitl_default).

If you run things

[2017-07-15 14:38] dagar commented on #7614
Rover support is quite new and started from the fixed wing controllers. We should look at adding support for this. Do you mainly want to use it in manual mode?

[2017-07-15 14:43] dagar commented on #7591
I'll close this for now. Reopen if you think it's worth changing some of the vtol defaults.

[2017-07-15 14:43] #7591 closed

[2017-07-15 21:23] ccc159 commented on #7601
Someone please react to this?

[2017-07-15 22:30] dagar commented on #7603
Can you check the Power setup in QGroundControl? Make sure the the battery cell count is correct and check the calibration.

![image](https://user-images.githubusercontent.com/84712/28243042-9044ae30-698b-11e7-8af8-72f3c9f97847.png)

[2017-07-15 23:15] jgoppert commented on #7601
Check that your mocap data makes sense and that the frame is correct. Mavros assumes you send it mocap data in enu frame typically and then rotates it to ned before sending it to lpe. Try doing a walk test with your mocap anf plotting local position to check that it is correct.

[2017-07-16 00:10] jliphard opened #7623 "Potential bug: Unreliable setting of home altitude leading to crash"
Expected/desired behavior: vehicle boots and sets high quality home position (Lat, Lon, Alt), which is then used as reference point for mission, which then sets all altitudes relative to that home point. Correct setting of home altitude also important for RTL, since if the home altitude is wrong, RTL will try to land at that altitude. E.g. if the airfield elevation is 122m, and the home altitude i

[2017-07-16 01:22] dagar commented on #7623
I think this is more of a planning issue with QGC, but we can verify exactly what's happening in detail.

In PX4 the HOME position is set initially when you first get a GPS fix and then updates anytime the vehicle goes from LANDED -> FLYING. This part we can verify in a PX4 log, or if you expand the mavlink inspector (under widgets) in QGC you'll see it under HOME_POSITION.

PX4 doesn't actually h

[2017-07-16 01:41] ageofish opened #7624 "Flash PX4 onto Crazyflie 2 problem"
I tried to flash PX4 onto my crazyflie 2, I tried master, stable and beta (via QGroundControl or manually), all of these finished flashing (erase, program, verify), but CF wasn’t able to connect with QGC. It seems the flie is still in boot loading mode (green M1 light blinks), QGC firmware tab detected the flie and suggest flashing:

Found device: PX4 FMU V2
connected to boot loader:
version: 5
Bo

[2017-07-16 11:19] TobiMiller commented on #7491
fixed! can be closed.

[2017-07-16 11:55] LorenzMeier opened #7625 "Document SITL camera"
@dogmaphobic @DonLakeFlyer @dagar We have for several months now a pretty fancy SITL camera which is able to do these things:

  * Provide a real-time FPV video stream
  * Geo-tag images and store them on disk

It needs overall polishing and cleanup, but I think it is now at a point where we should invest into that + documentation. @hamishwillee @mrpollo I count on you for that.

The sketch below

[2017-07-16 11:57] LorenzMeier commented on #7625
Images:
![dsc00031](https://user-images.githubusercontent.com/1208119/28247341-8062c9c2-6a2e-11e7-9754-bbc2c8f4bfba.jpg)

Geotagging:

<img width="731" alt="screen shot 2017-07-16 at 13 56 38" src="https://user-images.githubusercontent.com/1208119/28247348-ad0fb7e6-6a2e-11e7-8ad9-650dc2ba2848.png">

@Antiheavy this also works with the plane model and might give you ways to develop software and QA

[2017-07-16 13:57] LorenzMeier commented on #7625
Couple more notes: Gstreamer for Mac OS:

  * https://gstreamer.freedesktop.org/data/pkg/osx/1.12.2/gstreamer-1.0-devel-1.12.2-x86_64.pkg
  * https://gstreamer.freedesktop.org/data/pkg/osx/1.12.2/gstreamer-1.0-1.12.2-x86_64.pkg

Flying a survey works:
<img width="1120" alt="screen shot 2017-07-16 at 15 31 09" src="https://user-images.githubusercontent.com/1208119/28248125-5579e860-6a3f-11e7-9aac-f

[2017-07-16 15:19] dagar commented on #7623
Opened as a QGC issue - https://github.com/mavlink/qgroundcontrol/issues/5446

[2017-07-16 15:19] #7623 closed

[2017-07-16 15:37] mhkabir commented on #7491
Reopening. Let's keep this open till the ECL submodule is updated.

[2017-07-16 16:43] LorenzMeier commented on #7625
Ok, got this now under control properly:

<img width="1120" alt="screen shot 2017-07-16 at 18 42 40" src="https://user-images.githubusercontent.com/1208119/28249460-9f064d9a-6a56-11e7-90c5-3a04210d645b.png">

<img width="1120" alt="screen shot 2017-07-16 at 18 42 33" src="https://user-images.githubusercontent.com/1208119/28249461-a1b12b14-6a56-11e7-89c4-8197d460c538.png">

<img width="654" alt="sc

[2017-07-16 16:55] LorenzMeier commented on #7625
PR with the latest and greatest: https://github.com/PX4/Firmware/pull/7626

[2017-07-16 17:26] LorenzMeier commented on #7625
Video streaming is working too, but QGC has an issue in recent versions displaying it: https://github.com/mavlink/qgroundcontrol/issues/5447

[2017-07-16 18:01] jgoppert commented on #7600
Did you try LPE_FAKE_ORIGIN=1.

[2017-07-16 19:44] jliphard commented on #7623
I could not reproduce this problem. Subsequent [test flight](http://review.px4.io/plot_app?log=a598d080-779e-4b15-879b-82bcc6c56b23) with rebuilt airframe was error free.

[2017-07-17 01:17] damul commented on #7615
Hi, @r0gelion.
Thank you for your answer.
Is the pin map same as J15? (Is it Ok to just move connector to J12?)
Where can I find the information?

[2017-07-17 04:51] hamishwillee commented on #7625
Sure. I'll look for your PRs to tell me you think it is time. Some information I will need/questions to answer.
1. Is the audience just people who want to use the feature, or people who may need to understand your code and develop this further (I assume the former)
2. Whether this works with HITL and if so how.
3. How you enable it in gazebo, SITL, builds
4. Where the images are stored.
5. Whether

[2017-07-17 09:33] lahyeon opened #7629 "I want to know code means in ecl_l1_pos_controller.cpp"
line205 in ecl_l1_pos_controller.cpp

"_lateral_accel = _K_L1 * ground_speed * ground_speed / _L1_distance * sinf(eta);"

I want to know this code means.

[2017-07-17 10:49] bresch commented on #7629
http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.212.9789&rep=rep1&type=pdf
See eq. (1)

[2017-07-17 10:49] #7629 closed

[2017-07-17 13:07] lahyeon commented on #7629
I appreciate your help! 👍

[2017-07-17 14:03] russdelaneyuk opened #7630 "Laser Altimeter and terrain follow."
When using a laser altimeter and the "Terrain" option in mission planner, We have found that if the drone transits over water (pond) the drone will enter RTL.
This is due to the reduced range of the Laser Alt over water, it appears to see the loss of laser range as a terrain error (RTL)

Is there a way or addition that can be made to effectively continue mission in the event of? Using Baro only?
T

[2017-07-17 14:04] Auroratan commented on #6032
Hello, I was learning beginner for pixhawk frimware, but I was going to have to change the code of the unmanned aerial machine module this week, but I certainly do not know how to modify the PX4 / frimwark you can know to guide me Use is not a logical fly control.@dagar,@darioxz

[2017-07-17 14:10] mhkabir commented on #7630
This issue tracker is for PX4. Please use QGroundControl and flash the PX4 Firmware if you want support from us.

[2017-07-17 14:10] #7630 closed

[2017-07-17 14:37] gyang1011 opened #7631 "Multiple-Vehicles Gazebo Simulation Local Position Estimation (LPE) error"
Hello,

I am trying to write my own launch files that create 2 iris drones (iris_1, iris_2) in a single gazebo simulator. Here is my launch file:

[code]

Notice I created two copies of mavros.launch and iris.sdf accordingly (i.e. iris.sdf , iris_2.sdf and mavros.launch, mavros_2,launch)  to set the unique UDP link and everything seems to be working.
I can launch the the launch file and two drones

[2017-07-17 15:38] r0gelion commented on #7615
Hi,

You can find the information [here](https://dev.px4.io/en/flight_controller/snapdragon_flight.html) at RC Wiring section

[2017-07-17 15:45] #7631 closed

[2017-07-17 16:53] gbrunso commented on #7603
Yes, all of my power setup and calibration is correct, except I did not change the amps per volt parameter because I do not have a good way to measure battery current.

[2017-07-17 17:01] schmittlema opened #7632 "Programmatically reset lpe"
Is there a way I could programmatically reset lpe?

When running gazebo simulations the position information is off if I move the model dramatically because of the filter. I was hoping to reset so the position information is correct.

Thank you

[2017-07-17 17:06] jgoppert commented on #7632
We need to add an associated issue on mavlink.

[2017-07-17 17:08] dagar commented on #7603
@davids5 did you try the power brick with your pixhawk mini?

[2017-07-17 18:04] gbrunso commented on #7603
I am using the power distribution board that comes with the pixhawk mini.

![pdb](https://user-images.githubusercontent.com/29740007/28281480-7ac710de-6ae4-11e7-969c-33bd67208e05.png)

[2017-07-17 19:57] lericson commented on #7457
Can confirm it no longer happens. On a related note, we got the living crap scared out of us when our hexacopter started running its rotors full speed due to this. It even took off from the desk where it was seated, and not on USB reset either -- a simple reboot.