[2017-10-25 11:05] nicolaerosia commented on #7311
@CarlOlsson any updates?

[2017-10-25 12:39] yangang123 opened #8184 "NuttX possible serial port bug"
Good evening:

I wrote a very simple serial port driver, when I write data to the serial port, after more than 200 ms delay, NSH crash will occur!!!

[code]

[2017-10-25 15:20] dagar commented on #8177
PR https://github.com/PX4/Firmware/pull/8185

[2017-10-25 15:28] dagar commented on #8182
Could you recommend an ESC to use for development?

Faster gyro updates have been discussed in detail and planned, but there's no firm timeline for implementation.

It probably makes sense to add more generic quad airframe configurations (different frame sizes) even if the actual configuration is minimal.

@MaEtUgR @rolandash @nkhoit FYI

[2017-10-25 15:29] Stifael commented on #8161
@MaEtUgR @dagar how about to switch to matrix any time we encounter vectors/matrices that are of type mathlib, even if it just means to copy it directly over to matrix for just one calculations. This way we can do it incrementally and it is probably easier to switch everything in one shot even if it is just module based

[2017-10-25 15:41] santiago3dr opened #8186 "VTOL crash on V4Pro"
vtol crash 24/October

crash log:
https://review.px4.io/plot_app?log=da864870-aa30-4133-be64-c766e2e0e9e7

previous successful flights on same platform:
https://review.px4.io/plot_app?log=1fa2997a-b9d8-4039-af2e-dad379be803c
https://review.px4.io/plot_app?log=deacbcaa-61ed-41c2-80d2-9b636b66a983

Flight conditions:
aprox 27°C degrees
moderate winds, 4~5 m/s

Sequence of events:
auto take-off in MC

[2017-10-25 17:18] dagar commented on #8184
Which board and configuration? Can you shared the console output when it crashes?
I'm wondering if the mavlink module is still active and trying to use that serial port simultaneously.

[2017-10-25 17:21] dagar commented on #8174
This is more of a general gazebo question. I could show you how to fake it from the firmware side, but it's probably better to handle it in gazebo. Please let me know if you find a solution as it might be helpful for general PX4 testing.

[2017-10-25 17:21] dagar commented on #8163
Could you take a look at this @TSC21?

[2017-10-25 17:26] dagar commented on #8182
@LanceFung have you configured PX4 on racers in those sizes (210, 140, 100, etc).
If so let's look at safe default parameters for each size class and create airframes.

[2017-10-25 17:27] dagar commented on #8182
As for the OSD it would be helpful to create another issue to document exactly what's needed, but a developer is going to need that hardware.

[2017-10-25 17:43] TSC21 commented on #8163
@elikos-user nice catch. Have you tried to run it with and without the double correction?

[2017-10-25 17:44] TSC21 commented on #8163
In any case you are right and I'm going to add a fix. Thanks!

[2017-10-25 18:08] dagar commented on #8161
@Stifael that could work if we make sure everyone is actually working towards that goal. We've had matrix for 2 years and new mathlib matrix usage is still coming in, so I figured it might be time to try something new.

It's messier, but the other compelling part about getting to typdef compatibility is not breaking external code.

[2017-10-25 18:26] dagar commented on #8161
We should push for what @Stifael suggested regardless (replace mathlib matrix usage with Matrix as you come across it). Removing mathlib matrix entirely or replacing with typedefs can be decided separately.

[2017-10-25 18:39] #8163 closed

[2017-10-25 19:00] dagar commented on #8186
Multiple primary IMU timeouts.
![image](https://user-images.githubusercontent.com/84712/32017478-d914e982-b994-11e7-8a82-8ddac1de2a3d.png)

![image](https://user-images.githubusercontent.com/84712/32017506-f26ca550-b994-11e7-84ae-ab8f10794968.png)

Primary IMU (mpu6000 driver) reporting bad transfers.

![image](https://user-images.githubusercontent.com/84712/32017568-2119452a-b995-11e7-971d-0fe39c

[2017-10-25 19:06] dagar commented on #8186
The selected sensor changed as a result of the timeout, but then reverted, timed out again, etc.

![image](https://user-images.githubusercontent.com/84712/32017762-bed4a46c-b995-11e7-83ea-1b1ac1fbcb8d.png)

To start with we need to take a look at the sensor voting and switching logic.
@priseborough @LorenzMeier

[2017-10-25 19:43] priseborough commented on #8186
I'm not familiar with that part of the code, but the requirement for handling timeouts and other hard faults with duplex inputs should be to switch if the current active sensor instance faults to the next instance that is not faulted. The switch should be sticky so that the new active instance is kept until it faults, in which case the selector goes to the next instance that is passing.

[2017-10-25 19:45] priseborough commented on #8186
The estimator will need to be made aware of the switch so that it can reset the IMU bias states and associated covariances.

[2017-10-25 21:10] mje-nz commented on #8120
Implemented in #8149

[2017-10-25 21:10] #8120 closed

[2017-10-25 21:18] priseborough commented on #8186
I will submit a PR adding the method to the ecl enabling the bias states and variances to be reset. If the sensor combined message can provide a uint8  indicating the source sensor index, then I can use that in ekf2_main.cpp to call the reset function.

[2017-10-26 00:21] priseborough commented on #8186
Here's the supporting changes for ecl https://github.com/PX4/ecl/pull/348

When changes to the sensor module have been made, I'll put together the required ekf2_main changes.

[2017-10-26 02:31] virtualclone commented on #8173
I blacklist these unused plugins,but imu still echo very slow ,any other solutions?
[code]

[2017-10-26 02:51] LanceFung commented on #8182
Currently, most needed :
For ESC Blhelis Dshot 600 & multishot  protocol: **FlyColor Raptor BLS Pro BLHeli-S 30A ESC (2-4S DShot)**

In the Future there everyone will move to
For ESC Blheli32 Dshot 1200/Proshot 1000 :
https://www.undergroundfpv.com/collections/escs/products/32bit-6s-30a-esc

[2017-10-26 03:22] LanceFung commented on #8182
I have put one on the 210 not 140  yet. ( but it could be a good side project :) )  did not tune the PID perfect yet.

Current mounting pixracer 30.5mm X 30.5mm hole with only fit. size 210-140.
size 110 will need to redesign the board.

[2017-10-26 05:41] bkueng commented on #8186
@priseborough you can use the existing `sensor_selection` topic. And the failover logic is already in ecl: https://github.com/PX4/ecl/blob/master/validation/data_validator_group.cpp#L148

[2017-10-26 06:11] yangang123 commented on #8184
dagar： Thank you for your reply.

**when I write data to the serial port, after more than 200 ms delay, NSH crash will occur???**

**1.  The nsh console output**
[code]

**2.**
[code]

**3. ROMFS/px4fmu_common/init.d/rcS**
[code]

[2017-10-26 07:36] Stifael commented on #8161
for reference: https://github.com/PX4/Firmware/issues/7991

[2017-10-26 07:37] Stifael commented on #8161
@dagar, I would like to start with ecl l1 controller, which currently uses math::Vector.
As we have discussed, I would like to enable L1 for local coordinates as well, and by doing so, i will switch to matrix

[2017-10-26 07:41] siddhu45 commented on #8174
Hi, thanks for replying. Actually I don't have a perfect solution but as a work around, I modify the `gazebo_motor_model` plugin and set a failure flag to the motor I want to fail in the sdf file. This actually works and makes the motor I want to fail, fail. But what I am trying to do is implement a subscriber in the plugin and change the failure flag online on my command.
Let me know if this was

[2017-10-26 07:41] #8174 closed

[2017-10-26 07:43] TSC21 commented on #8174
That seems useful. If you find it useful for others also, please open a PR to `sitl_gazebo`. Thanks!

[2017-10-26 08:04] Stifael opened #8191 "ecl lib"
Why exactly does ecl not have a CMakeList.txt (https://github.com/PX4/ecl/blob/22a51c6afd93fa48926bd3ff690ceba7249840ad/CMakeLists.txt) for creating a static lib, but instead uses px4 specific cmake commands?
I would have expected to see a CMakeList.txt similar to Matrix https://github.com/PX4/Matrix/blob/e595ebb9a704c24aeae990dac768d26949fcaee0/CMakeLists.txt, otherwise how could possibly any oth

[2017-10-26 08:38] Stifael opened #8192 "ecl lib geo"
geo functionality is used in the firmware as well as in ecl. I am wondering if it is worth the effort to combine them and make a separated lib or at least just use the one from ecl after closing the diff between ecl -geo and firmware-geo. I prefer to create a separated lib such that it can be used by other projects as well.

[2017-10-26 11:04] Stifael commented on #8192
I think ecl requires a general clean up. L1 even uses mathlib::Vector which is not part of ecl and is also not a submodule either

[2017-10-26 11:26] siddhu45 commented on #8174
Sure will do.

[2017-10-26 12:24] garfieldG opened #8193 "FW parameters in different modules"
When trying to compile the code without the FW modules (there's no need for me in FW) I get an error regarding two parameters of the FW - FW_ARSP_MODE and FW_CLMBOUT_DIFF because of the fact that other modules do use those parameters, such as the ekf2 module. The modules that use those parameters only get an handle to the parameters and use it only if we use FW.

I think that there should be a sep

[2017-10-26 13:41] dagar commented on #8192
I was imagining geo as another top level ECL component. Each would be built as a static/shared/both lib. Firmware would include the directory and each PX4 module would link to the relevant component. EKF2 would link the ecl_ekf lib, FW position would link L1, etc. If a Firmware build didn't include that module (ekf2, fw_pos_ctrl_l1, fw_att_ctrl_l1) then the ecl lib would have no dependency and wou

[2017-10-26 13:42] #8177 closed

[2017-10-26 13:44] dagar commented on #8193
I agree we should try to prevent that.

FW_ARSP_MODE is used by EKF2 for situations where you might have an airspeed sensor for logging, but don't want it to be used. This can already be disabled by setting the EKF2 airspeed fusion threshold to zero.

FW_CLMBOUT_DIFF is used by navigator and could be replaced.

[2017-10-26 15:47] acfloria commented on #8140
Ok, I did some successful test flights yesterday. Now the compensation is clear for me and I will open a PR after more flights next week.

[2017-10-26 15:47] #8140 closed

[2017-10-26 15:47] mwingerson commented on #8105
Any update on this Don? It is clearly an issue with our branch of QGC, right? Let me know how I can help you find a fix to this problem.

[2017-10-26 16:12] nicolaerosia opened #8195 "Prearm check: check if roll/pitch/yaw are neutral"
Unfortunately my joystick was acting weird after a while since calibration, my roll was to maximum left and I crashed the copter immediately after takeoff.

[2017-10-26 16:43] DonLakeFlyer commented on #8105
I have no idea how QGC could affect the GPS. If you are running a mission the code to start the mission is exactly the same in both code bases.

@LorenzMeier I really need help here in flight log analysis.

[2017-10-26 17:12] mwingerson commented on #8105
@DonLakeFlyer I am also at a loss for how QGC could be generating this kind of behavior without a deliberate task that affects the operating parameters of the UAS. What have you tested so far?

@LorenzMeier I would also like to know more about log analysis. What programs do you use? I have been using the PX4 online log reader and it seems good but I think I am just interested in more than is just

[2017-10-26 17:14] DonLakeFlyer commented on #8105
Can you post a .pan file so I can try to create a mission to fly that is as close to yours as possible?

[2017-10-26 17:22] DonLakeFlyer commented on #8105
Also what version of firmware are you flying?

[2017-10-26 17:33] mwingerson commented on #8105
Here is a plan file:
https://drive.google.com/open?id=0ByR2uOoTK3khZUowTDh0ZkFxaG8

I'm on firmware commit: bed4714cfe3fe43c785236a9db625014c7781f31

Let me know if there is anything else and thanks!

[2017-10-26 19:11] imcnanie opened #8196 "Position Controller Mixing"
**Feature Request**

Is there a standard way to mix a tilt-quadcopter so attitude is controlled with rotor speed, and position is controlled by rotor tilt? If not, will implementing this required modifying mc_pos_control?

In other words, the copter body would remain flat using torque from rotor speed. It would translate using rotor tilt.

This feature would also be useful for a pusher quad.

[2017-10-26 19:44] r0gelion opened #8197 "Travis is not returning current master commit"
Travis is returning commit 69231ea but there are 2 new commits [merged to master](https://github.com/PX4/Firmware/commits/master).

To reproduce you can load master from QGC or you can see what Travis is returning here:
http://px4-travis.s3.amazonaws.com/Firmware/master/px4fmu-v4_default.px4

@dagar

[2017-10-26 20:06] DonLakeFlyer commented on #8105
Fly my Iris on firmware master using OKSI QGC. Tried manual flight, missions from Start Mission and so forth. All worked fine.

[2017-10-26 20:36] LorenzMeier commented on #8105
@mwingerson I'm looking at this.

@priseborough Could you please chime in?

[2017-10-26 20:39] LorenzMeier commented on #8105
@mwingerson Do you have MAVLink log streaming enabled on your QGC build? Please try disabling it.

@bkueng Could you have a look at this log? The log system behaviour doesn't look quite right.
https://logs.px4.io/plot_app?log=76e5b7f6-dc40-47dd-bcb0-a5698b13bf45

[2017-10-26 20:49] sanderux opened #8198 "Battery remaining inversed when compensating for load"
The battery remaining function is broken on today's master.
It increases drastically when under load (if anything it should decrease). Tested with and without setting internal resistance, both behave the same. The voltage reading does read as expected.

![image](https://user-images.githubusercontent.com/14801663/32076325-dbcfdca2-ba9f-11e7-9cff-0fab8f5b43d2.png)

Log from other flight same behavio

[2017-10-26 20:55] sanderux commented on #8198
ping @davids5

[2017-10-26 22:06] priseborough commented on #8105
I am not seeing estimator time slips, so the imu, sensor and ekf2 modules are running at the right rate , ekf innovations are low and the cpu load is stable.

There have been some reported instances in ArduPilot of the mag in the Here GPS units not starting correctly on some setups and going to an incorrect configuration due to a floating supply voltage when powered down for short periods between

[2017-10-26 22:25] dagar commented on #8195
Good idea!

[2017-10-26 23:17] r0gelion commented on #8197
Now is returning the latest commit (4416c4d)

I don't know what changed but it's working now.

[2017-10-27 00:29] dagar commented on #8198
For VTOL this would make sense if you're relying on the normalized throttle usage (https://github.com/PX4/Firmware/blob/master/src/modules/systemlib/battery.cpp#L179), but I see you have BAT_R_INTERNAL set.

[2017-10-27 15:27] #8151 closed

[2017-10-27 17:18] bkueng commented on #8105
@mwingerson you can use FlightPlot for further log analysis: https://dev.px4.io/en/log/flight_log_analysis.html

What I see is this: QGC tries to enable log streaming, but it fails: logger is waiting for an ack from QGC, but it never gets it and times out. During this time the logger waits by polling on the ack topic, which explains the logging drops in the beginning. The system continues to run n

[2017-10-27 19:39] DonLakeFlyer commented on #8105
@dogmaphobic You'll have to ask Gus about that. I don't know much about that code.

[2017-10-27 21:22] dogmaphobic commented on #8105
Log streaming is disabled by default, regardless the link type. You must manually enabled it:

<img width="1120" alt="screen shot 2017-10-27 at 5 17 20 pm" src="https://user-images.githubusercontent.com/749243/32125645-f7d3d0f2-bb3a-11e7-9335-5ee243e3359d.png">

If you manually enable it, currently there are no checks related to link bandwidth and/or suitability.

[2017-10-28 06:22] xdwgood commented on #7448
@LorenzMeier  I think this tutorial is hard to understand, at least I failed to create mavlink messages.
http://qgroundcontrol.org/mavlink/create_new_mavlink_message

[2017-10-28 07:20] alirezaka commented on #5659
Hi TobiMiller
have yo solved your problem?
I am encountering your problem too.
if you have solved it, please explain how.
you can.
thanks

[2017-10-28 08:12] alirezaka opened #8204 "position lock"
I tried to follow << Launching Gazebo with ROS wrappers >> in here https://dev.px4.io/en/simulation/ros_interface.html but when I use << commander takeoff>> the error << rejecting takeoff, no position lock yet. Please retry.. >> appears and I don't the reason.
could someone give me some hints about it ?

[2017-10-28 09:18] LorenzMeier commented on #8204
Wait until the system indicates position lock and try again.

[2017-10-28 09:18] #8204 closed

[2017-10-28 09:25] alirezaka commented on #8204
thanks for your attention but I wait for such a long time but nothing
appears

On Sat, Oct 28, 2017 at 12:48 PM, Lorenz Meier <notifications@github.com>
wrote:

[2017-10-28 09:27] alirezaka commented on #8204
just this ->
INFO  [simulator] Got initial simulation data, running sim..
INFO  [pwm_out_sim] MODE_8PWM
INFO  [tone_alarm] startup
ERROR [land_detector] Timed out while waiting for thread to start
INFO  [mavlink] mode: Normal, data rate: 4000000 B/s on udp port 14556 remote port 14550
INFO  [mavlink] mode: Onboard, data rate: 4000000 B/s on udp port 14557 remote port 14540
INFO  [mavlink] MAVLink

[2017-10-28 10:51] alirezaka opened #8205 "ROS"
I did catkin_make on Firmware folder in my computer and it finished cleanly and without any error but when I
did << roslaunch px4 posix_sitl.launch >> following error appeared but I don't know why ?
(
Invalid <arg> tag: mavlink_sitl_gazebo
ROS path [0]=/opt/ros/kinetic/share/ros
ROS path [1]=/home/alireza/catkin_ws/src
ROS path [2]=/opt/ros/kinetic/share.

Arg xml is <arg default="$(find mavlink_s

[2017-10-28 22:51] fernandourrets commented on #5651
Hi everyone once again!!!!!! I could use Qground Control on Hil simulator
mode with Xplane 10, i have setup on my RC three flight modes...1-manual
mode 2- mission mode and 3- stabilize mode, when i take off in manual mode
the plane fly almost good...but finally fly (the engine or propeller
sometimes turn off) then when i switch to mission mode by my rc the
qgroungcontrol display and the voice say.

[2017-10-29 15:21] LorenzMeier commented on #7971
Fixed in https://github.com/PX4/Firmware/pull/8206. Closing this in favour of the PR.

[2017-10-29 15:21] #7971 closed

[2017-10-29 20:39] CarlOlsson commented on #7311
Sorry didn't see your comment.
Due to time constraints we had to solve the issue by writing a simple outlier detector before we feed the data to the EKF. Will update here if/when we get the time to go for a cleaner fix

[2017-10-30 07:35] MaEtUgR commented on #8161
I want to start out with the mc attitude controller. I'm anyways looking at it for quaternion control and introduced new matrix library functionality for making that more efficient.

[2017-10-30 09:53] bkueng commented on #8105
Ok, I added the check on the vehicle side: #8209

[2017-10-30 13:52] jlecoeur commented on #7382
@vmishra9 Try to follow this documentation page and let me know if that answers your question:
https://dev.px4.io/en/airframes/adding_a_new_frame.html

For step 2, it says to add one config file in `ROMFS/px4fmu_common/init.d/` and one mixer file in `ROMFS/px4fmu_common/mixers/`
Step 3 is done when uploading the compiled .px4 firmware file with QGC.

[2017-10-30 17:40] DonLakeFlyer commented on #8105
@mwingerson Has turning off mavlink log streaming fixed the problem?

[2017-10-30 18:02] cs147 commented on #8147
@LorenzMeier This issue is not closed

@bkueng I did exactly what you said by creating the file directly on the system cosnole. It still does not get executed upon startup

[2017-10-30 18:22] mwingerson commented on #8105
I went to test quickly yesterday morning and ran 2 reps with logging off without any problem. Then I turned logging back on and cratered my test rig. I fixed up the test rig and successfully ran 15 reps without a problem. Since this first crash was so violent, I was worried about testing it again.

I am in LA now and I will be testing in an interleaved fashion as before on my most reliable S900 fr

[2017-10-30 19:06] Antiheavy commented on #8116
Thanks for inviting me to participate in the dev call the other week.  My understanding of the consensus reached by the group who discussed this topic is summarized as:

1) "Return" mode may have several sub-varients such as "smart return" and "return to land / return to mission landing", etc.  These fall under the generic category of Return.  sub-varients may have their own specific messages and

[2017-10-30 19:53] #8176 closed

[2017-10-30 19:55] #8070 closed

[2017-10-30 19:59] LorenzMeier commented on #8035
@dagar I've moved this to v1.8 - please move back to 1.7 and send a PR if you disagree.

[2017-10-30 20:01] LorenzMeier commented on #6827
Should be fine as we merged the definitive fix recently.

[2017-10-30 20:01] #6827 closed

[2017-10-30 20:02] LorenzMeier commented on #8198
@sanderux This is still persisting, right?

[2017-10-30 20:11] imcnanie opened #8213 "Tailsitter mixer is broken (in gazebo)"
**Bug Report**

Hello. The tailsitter model appears to be broken. Can anyone reproduce it for me? I'm running PX4 Master.

Take off works great, no issue there. Transition appears functional too. But in plane mode the vehicle quickly becomes unstable.

[2017-10-30 20:33] Antiheavy commented on #8035
@dagar  - FWIW this is not urgently needed for our project so we have no issues delaying.

[2017-10-30 20:33] DonLakeFlyer commented on #8105
Is there a reason you need to turn on/use mavlink streaming? You can download vehicle logs after the fact if you want.

[2017-10-30 20:35] vmishra9 commented on #7382
@jlecoeur The link was helpful. Thanks!
As you said for step 2, "add one mixer file in ROMFS/px4fmu_common/mixers/". Doesn't #8063 take care of this? or will I have to do it separately?

[2017-10-30 20:35] LorenzMeier commented on #8066
@sanderux Does this persist with master?

[2017-10-30 21:08] jlecoeur commented on #7382
Separately, #8063 covers only multicopters. It lets you add a multicopter geometry, which you use in the mixer file with the syntax `R: <geometry> <roll scale> <pitch scale> <yaw scale> <deadband>`
https://dev.px4.io/en/concept/mixing.html#syntax

[2017-10-30 21:19] LorenzMeier commented on #7942
Not critical for this release.

[2017-10-30 22:32] vmishra9 commented on #7382
@jlecoeur I am interested in the multicopter mixer. All the multicopter mixers I found in ROMFS/px4fmu_common/mixers/ have the same numbers except the geometry tab. ie                     R:<geometry> 10000 10000 10000 0
which confuses me because I though it should be different if the multicopter is not symmetric in all the 3 axes.

I read the following the description in the link https://dev.px4.

[2017-10-30 23:14] dagar commented on #8213
I'm aware of this, but haven't had time to fix it. Can you share a log? https://logs.px4.io/
After the v1.7.0 release there's going to be a big push for significantly more automated testing. It would be great to get this working again with testing so we can keep it working.

[2017-10-31 00:20] imcnanie commented on #8213
Here you go: https://logs.px4.io/plot_app?log=cf794d8f-59b5-476b-8143-00612c6d7ba4

![whack path](https://user-images.githubusercontent.com/4652417/32201713-b00fa09a-bd95-11e7-9d64-59058a7e5cc9.png)

What do you think the issue is. I messed around with the mixer for a while, it didn't seem like roll control was working, and the pitch "virtual elevator" was reversed.

Also, why do we have a virtual

[2017-10-31 01:53] hamishwillee commented on #8116
@Antiheavy Thanks for that information/clarification.

Just FYI, I've heard anecdotally that some people have assumed that dev calls are for the "core dev team". In fact they are for every interested/serious developer with something useful to contribute.  You can attend anytime and will be very welcome. If you have a specific topic to discuss, just make sure it gets added to the agenda.

[2017-10-31 02:08] sanderux commented on #8066
Yes,
However, my switch does pass through ALTCTL quickly before mission is activated.
@dagar throught it might be related.

[2017-10-31 02:09] sanderux commented on #8066
https://logs.px4.io/plot_app?log=5746a789-a331-4bd3-90c8-24d99c5a6520

[2017-10-31 02:11] sanderux commented on #8198
yes

[2017-10-31 02:12] sanderux commented on #8198
@dagar it happens with with and without r_internal

[2017-10-31 04:22] dogmaphobic commented on #8105
If the drone falls into the Mariana Trench, you may have some issues trying to get to the logs within the autopilot :P

[2017-10-31 04:32] DonLakeFlyer commented on #8105
Heehee. Guess it would be good to get it working.

[2017-10-31 05:58] jlecoeur commented on #7382
The multirotor mixer (R:) first applies these scaling factors on roll pitch yaw commands, then converts the scaled roll pitch yaw thrust commands to motor commands according to the geometry.
Most of the times it is ok to let the scales at 1000. Asymmetry  is handled at the geometry level, for example 4dc is asymmetric.
But if you lower one scale -say roll scale- then the drone will have less autho

[2017-10-31 07:22] LorenzMeier commented on #7696
I'm looking into this but I will only be able to spend significant time on this tonight.

[2017-10-31 10:33] MaEtUgR commented on #8198
@sanderux I'm currently revising the battery estimation. It's broken in several ways according to my opinion. Not sure if your case is covered in my fixes, let's investigeate.

On the first glance it looks to me as if your battery estimation is always corrected using the thrust and for the factor of how much this is done you can use the parameter `BAT_V_LOAD_DROP`. You even say it does not change

[2017-10-31 13:06] tumbili commented on #8213
Hi @imcnanie
I gave the tailsitter config a try in master and could not even do a takeoff, because it would complain of not having a position lock yet. If you have time can you try the following steps:

1) Use this mixer
[code]

2) Add this line to the elevator plugin here
https://github.com/PX4/sitl_gazebo/blob/b052c97f7c3a2c39ab8ec06ae79c66431f16c659/models/tailsitter/tailsitter.sdf#L532

[code]

[2017-10-31 13:20] bresch commented on #8196
Hi @imcnanie , at the moment the tilt-rotor mechanism is handled in the VTOL tiltrotor code (https://github.com/PX4/Firmware/blob/master/src/modules/vtol_att_control/tiltrotor.cpp) but the tilting mechanism is only used to make a VTOL transition.
For a pusher quad, this is also handled for standard VTOLs. However, the implementation is not nice and I would not recommend you to do the same with the

[2017-10-31 18:15] vmishra9 commented on #7382
@jlecoeur That helps. Thanks!

[2017-10-31 19:26] imcnanie commented on #8213
After that, it is still uncontrollable. For me I get the position lock issue with all the SITL models, I just have to wait a bit until it gets a home position.

Are you saying that the gazebo <cma>0.0</cma> tags don't work? That's disappointing. After working with the sim for a while, I can think of a few ways to make it better. Is there a set of devs working on it?

[2017-10-31 19:33] imcnanie commented on #8213
Haha check out the gazebo liftdrag plugin! https://github.com/arpg/Gazebo/blob/master/plugins/LiftDragPlugin.cc#L276

[2017-10-31 19:38] tumbili commented on #8213
@imcnanie That's what I told you ;-)

[2017-10-31 20:34] mwingerson commented on #8105
Good news! Turning off the mavlink 2.0 logger has eliminated the problem. At some point, I remember my boss asking me to turn on all logging that I can find. So I am sure I turned on the MAVlink 2.0 logging for my next flight test and didn't associate the kneejerk behavior with the change.

As for why our branch had this issue and the others didn't, that setting is saved in the user configs and ou

[2017-10-31 20:42] DonLakeFlyer commented on #8105
@dogmaphobic Isn't this a streaming push protocol which the vehicle side is in control of?

Also could you double check this?

[2017-10-31 20:49] dogmaphobic commented on #8105
The only message sent to the vehicle is to *start* streaming. From that point on, QGC only receives log messages.

[2017-10-31 21:06] mwingerson commented on #8105
another thought, I had to switch to MAVlink 1.0 because I was having issues with uploading missions in MAVlink 2.0.  Does this shed some light?

[2017-10-31 21:10] DonLakeFlyer commented on #8105
Huh? Can you make sure to enter a seperate issue on that?

[2017-10-31 21:32] mwingerson commented on #8105
I tend to not release details like that until I have tested more definitively. I will put that on my to do list to verify the result and open an issue on it.

[2017-10-31 21:34] DonLakeFlyer commented on #8105
For that one, the important thing to note is the QGC, firmware and Mavlink versions. Mission Protocol has changed in the newest versions of both in order to add support for GeoFence/Rally. There were a couple quirks but I think it's all fixed on master of everything.

[2017-10-31 23:27] imcnanie opened #8221 "SITL takes 10 seconds to get position lock"
**Bug Report**

This makes development very annoying. Is there a hard-coded delay somewhere causing this to happen? How can we speed it up?

[2017-10-31 23:28] TSC21 commented on #8221
What's your system setup and hw specifications? It may only mean you have low spec system.

[2017-11-01 00:23] imcnanie commented on #8221
Intel® Core™ i7-2630QM CPU @ 2.00GHz × 8 Nvidia graphics. But it's a laptop. What's intense about position lock? I can still arm and fly around in stabilize.

[2017-11-01 02:47] priseborough opened #8222 "Sensiron pitot pressure loss correction appears to be incorrect"
The calculation of differential pressure drop due to the pitot tube for a given flow rate asumes a fixed air density:

https://github.com/PX4/Firmware/blob/master/src/modules/systemlib/airspeed.c#L91

This appears to be inconsistent with the use of density when calculating the flow rate through the sensor and pressure drop in the tubing which  indicates that a volumetric, not mass flow rate is bei

[2017-11-01 07:23] siddhu45 commented on #8174
@TSC21 I am able to subscribe to a ROS topic in gazebo motor plugin to perform in flight motor failure simulation tests. If you think this is useful, I can create a PR after this weekend. Let me know.

[2017-11-01 07:28] acfloria commented on #8222
Sensirion already provided a new model, you can find it [here](https://github.com/PX4/Firmware/issues/8140).

I adopted the code and already did a flight test. I will do another one this friday and if it looks good I will merge the new model.

[2017-11-01 07:43] ningyuanz opened #8224 "Logging custom topics in SITL with gazebo"
Hello,

I have been trying to log a custom topic in simulation using gazebo. I have successfully logged the topic in real flights with the pixhawk hardware by changing the code of sdlog2. However, it looks like the SITL is using the new logger to generate ulog files and I failed to log the data I want. Below are the things I tried:

1. Setting SYS_LOGGER to 0 to use the old logger. However I could

[2017-11-01 08:02] bkueng commented on #8224
Hi @ningyuanz. With the new logger you can create a text file with your topics: https://dev.px4.io/en/log/logging.html#configuration. For SITL, it's under `build/posix_sitl_default/tmp/rootfs/fs/microsd/etc/logging/`.
The list of default topics is here: https://github.com/PX4/Firmware/blob/master/src/modules/logger/logger.cpp#L572

[2017-11-01 08:23] ndepal commented on #8221
EKF2 takes noticeably longer to initialize than LPE. If you don't care about the estimator, you can switch to LPE.

[2017-11-01 10:23] priseborough commented on #8140
If we are letting users adjust the tube length parameter, then the parameter documentation should specify  how the length is measured (total static+pitot vs length of tube from sensor to probe), what internal tube diameter is assumed and how to adjust the length to for variations in tubing diameter used.

[2017-11-01 11:05] TSC21 commented on #8174
Yes it is. Please, when you are able, launch a PR. I will review it then. Thanks!

[2017-11-01 12:28] devbharat commented on #7479
@TarekTaha can you add a little detail in what way you found Piksi to be unreliable? Was it just unreliable when used for RTK based position control (I could imagine rerouting causing delay, maybe robustness issues), or something more low level that you also effect it's PPK accuracy?

[2017-11-01 15:18] mrpollo opened #8225 "1.7 Release notes"
Let's start adding the release notes for 1.7 here

[2017-11-02 03:32] MaEtUgR commented on #8182
@LanceFung Good to hear from you again, interesting requests for racing with PX4!
I personally support making PX4 support racing because there is big potential. It could get the racing FC software which has all the extra features of a "smart drone".

Here is the test build with the Pixracer board I did for this: https://docs.px4.io/en/frames_multicopter/qav_r_5_kiss_esc_racer.html

My point of vie

[2017-11-02 10:00] potaito commented on #8182
@MaEtUgR I don't have much to add to what's already been said, except for:

Dshot Is definitely the way to go. Lower latency, digital communication, and as far as I know there are still some unused bits in the protocol that could be used for motor feedback in the future (RPM and whatnot).

In Betaflight you can open the OSD menu and navigate it with specific control stick combinations. Similar how

[2017-11-02 14:11] dagar commented on #8066
The mission didn't update until after the attempted switch to mission mode.

![image](https://user-images.githubusercontent.com/84712/32330290-07e7bc90-bfb6-11e7-822e-87179e96eff1.png)

[2017-11-02 15:32] r0gelion commented on #8197
Now is returning commit 29af234 but current master is 459a71a

[2017-11-02 15:48] dagar commented on #8197
Thanks, could you share exactly where you're seeing these?

[2017-11-02 15:55] r0gelion commented on #8197
Here:
http://px4-travis.s3.amazonaws.com/Firmware/master/px4fmu-v4pro_default.px4
http://px4-travis.s3.amazonaws.com/Firmware/master/px4fmu-v4_default.px4
http://px4-travis.s3.amazonaws.com/Firmware/master/px4fmu-v3_default.px4
http://px4-travis.s3.amazonaws.com/Firmware/master/px4fmu-v2_default.px4

[2017-11-02 16:13] dagar commented on #8197
I believe it's actually a build system issue. If the build fails on master (something people don't directly watch) it might not update.

![image](https://user-images.githubusercontent.com/84712/32336903-ef071340-bfc6-11e7-88e8-3a29a215f15b.png)

For now I'll keep an eye on it and make sure these master builds are properly getting deployed. Soon I'd like to migrate to our own CI system (http://ci.p

[2017-11-02 18:25] mikeklinker129 opened #8227 ""No Local Position" error on takeoff with plane (SITL Gazebo) (log attached)"
I am flying the master branch, however I have seen the same behaviour with release v1.6.5.
[Link to log file](https://logs.px4.io/plot_app?log=8d2c8589-1951-4764-bc8f-1e023d8e01ca)

I am seeing a variety of failures shortly after take off, starting with a failsafe due to 'no local position'.

Here is my process (running ubuntu 16.04):
1. Set environment variables to define the home position for th

[2017-11-02 20:01] anassinator commented on #8227
I believe this is a duplicate of #6843
This seems to fix it for me: PX4/sitl_gazebo#96

[2017-11-02 21:06] LorenzMeier opened #8228 "Add MAV_CMD_CONDITION_YAW"
We need this for QGC structure scan.

http://mavlink.org/messages/common#MAV_CMD_CONDITION_YAW

[2017-11-02 21:10] DonLakeFlyer commented on #8228
Also Mavlink spec is not specific enough. Should be updated for this:
Mission Param #2 - speed during yaw change:[deg per second], 0 - use default turn rate

[2017-11-02 21:11] mikeklinker129 commented on #8227
Thanks for the heads up, I will try that fix and report back.

[2017-11-02 21:55] hamishwillee opened #8229 "Sky Does not display in jMAVSim"
As per https://github.com/PX4/Firmware/pull/8194#issuecomment-340637366

On Ubuntu 16.04 LTS running in VM, current  Firmwaremaster, the sky does not display:

![](https://user-images.githubusercontent.com/5368500/32204107-72196752-be3b-11e7-8895-d33e013a1aa1.png)

[2017-11-02 21:57] DonLakeFlyer commented on #8228
Hmm, now that I have this coded on the QGC side I realize this isn't quite what I want. Normally the vehicle points forward along the flight path (param controlled). But what I want is instead for it to point 90 degrees clockwise to the flight path as it flies the mission. Not quite sure how to do that.

[2017-11-02 22:01] DonLakeFlyer commented on #8228
Example:
<img width="1060" alt="screen shot 2017-10-31 at 7 45 59 pm" src="https://user-images.githubusercontent.com/5876851/32352474-947f3638-bfde-11e7-9d27-077d006090ce.png">

 Flies this:
<img width="754" alt="screen shot 2017-10-31 at 7 18 56 pm" src="https://user-images.githubusercontent.com/5876851/32352480-9e26ebc2-bfde-11e7-9977-ceffa8f948b2.png">

With the non gimbaled vehicle always poin

[2017-11-02 22:06] dagar commented on #8228
What's the interpretation of these CONDITION commands?
Based on some of the others it sounds like MAV_CMD_CONDITION_YAW should block mission acceptance (advancement) until that yaw is achieved, but it sounds like you want to use it to command a yaw during mission?

[2017-11-02 22:09] DonLakeFlyer commented on #8228
They do both, change to the yaw but they don't move to the next command until the yaw requested is reached. It need something which is yaw 90 degrees to the mission flight path though which this doesn't do.

[2017-11-02 22:20] DonLakeFlyer commented on #8228
It's only sort of an ROI. Since the flight path really determines it, just with a 90 degreee offset. A paramater won't work since you don't want to futz a param just to get a misison to work.

[2017-11-02 22:27] dagar commented on #8228
Yes I agree we shouldn't do it with a parameter. I meant adding a new ROI type for a particular yaw. Telling the vehicle higher level what you want (look at yaw 90 degrees) rather than specific moves to do it. Then based on the particular vehicle and configuration the firmware can do it either with the gimbal or yawing during the mission.

[2017-11-02 22:27] DonLakeFlyer commented on #8228
So it would be something like:
MAV_RIO_WPNEXT_YAW_OFFSET - Point toward next waypoint with offset in yaw
And then you stick Yaw degress in param 4 or something.

[2017-11-02 22:28] DonLakeFlyer commented on #8228
So if I used 90 degress with MAV_ROI_WPNEXT_YAW_OFFSET and flew a clockwise pattern it would always point to the structure.

[2017-11-03 01:18] sanderux commented on #8198
I re-checked all the math and found that it was indeed related to internal resistance that was likely wrong for this lipo. Initially i thought it was not related as it exhibited the same behavior when bat_IR was disabled. but on the bench test it did not (perhaps param didnt save in field test).

Closing for now.

[2017-11-03 01:18] #8198 closed

[2017-11-03 01:26] sanderux commented on #8066
Must be a bug, there was no mission update at that time

[2017-11-03 06:33] hamishwillee commented on #8229
Reminder - when this is done, do https://github.com/PX4/Devguide/issues/330

[2017-11-03 06:58] hamishwillee commented on #8122
Closing as @dagar has automated parameter generation now.

[2017-11-03 06:58] #8122 closed

[2017-11-03 12:13] mikeklinker129 commented on #8227
Confirmed that that declination reverse fixed it.

[2017-11-03 12:13] #8227 closed

[2017-11-03 16:10] anandbaskaran opened #8231 "Hardware compatibility falied"
We are using PX4 for our drones with [this hardware](https://hobbyking.com/en_us/hkpilot32-autonomous-vehicle-32bit-control-set-w-power-module.html?___store=en_us).Everything works like a charm with version 1.6.5.  But the board stops working if I upload the firmware from the current master branch. I also obtain the following message in QGroundControl at about 5 minutes after I connect the board.

[2017-11-03 17:08] #7684 closed

[2017-11-03 17:36] dagar commented on #8228
That sounds good to me, but probably needs a bit more thought overall.

[2017-11-03 23:31] tops4u commented on #8225
Added Support for Lightware SF20/LW20 I2C connected Lidars.

[2017-11-04 01:25] ningyuanz commented on #8224
Thank you very much @bkueng. Problem solved.

[2017-11-04 01:25] #8224 closed

[2017-11-04 12:04] MaEtUgR commented on #8182
Here's a well known fpv guy doing a blind test dshot vs oneshot and he can't tell the difference: https://www.youtube.com/watch?v=0hDi-NRZq9Y I know it's not academic and people will look for the buzz word anyways but it's probably not the most important feature for end user performance. In fact according to him the ESCs you use or rather the Firmware version for him because he uses KISS ESCs make

[2017-11-04 14:01] tops4u commented on #8056
Will create a PR for Documentation Change regarding PWM Settings in order to prevent this situation.

[2017-11-04 14:01] #8056 closed

[2017-11-05 03:31] YuYangguang commented on #6646
As the latest version of firmware had removed the LPE module as well as the related parameters, did you try to use mocap as the external position with EKF2 module? I don't know how to use the mocap funtion in the firmware after v1.5.2? Can you help  me? @mhkabir @crvogt

[2017-11-05 06:19] r0gelion opened #8235 "F450 with Pixhawk mini flyaway (vehicle recovered)"
Testing master with a DJI F450 frame with the Pixhawk mini took off and it started to fly away and didn't respond to RC inputs.
https://logs.px4.io/plot_app?log=d150bc14-7532-4476-9318-186df60a10b7

The unit crashed but was recovered.

[2017-11-05 09:46] TSC21 commented on #6646
Removed LPE?

[2017-11-05 10:19] TSC21 commented on #6646
@YuYangguang https://github.com/PX4/Firmware/tree/master/src/modules/local_position_estimator. What setup are you using (MoCap system, OBC, flight controller=?

[2017-11-06 05:40] TarekTaha commented on #7479
@devbharat it wasn't only the re-routing.
Piksi is very sensitive to electronic noise, and shielding it was quite a challenge, even a camera cable 20 cm close to the unit was causing the signal to drop significantly.
We insisted on using PX4 flight stack, and not the APM, so we had to create this re-routing hack which did work, but it wasn't ideal.

[2017-11-06 09:10] bkueng commented on #8235
Looks like a problem with estimation, but I also see jumps in the position setpoint. RC is lost only later.
@priseborough could you have a look?

[2017-11-06 09:13] QingZe0101 opened #8239 "rsync error when building the px4/firmware"
**Bug Report**

when I input the order "make px4fmu-v2_default" in PX4 Consoles on Windows,  rsync error happens like:
"The source and destination cannot both be remote."
I tried the solution "cmake nuttx rsync copy only use relative paths', but I found that the code "px4_impl_nuttx.cmake " is different from the used one, so I am confused and don't know how to fix this problem.

[2017-11-06 10:07] leomatrix commented on #8093
I can make sure that I'm the lastest code base and run "make distclean" & "make clean"
Plus I can run "make posix_sitl_default jmavsim " successfully

[2017-11-06 13:36] dagar opened #8243 "review mc_att_control conversion to control lib"
There's interest in resurrecting @jgoppert's mc_att_control conversion to control lib.

https://github.com/PX4/Firmware/pull/4148

https://github.com/jgoppert/Firmware/blob/c51a63daec68fbfae9da6f1c90a46e9abc0b744f/src/modules/mc_att_control/mc_att_control_main.cpp

TODO
 - get it building again
 - mc_att_control updates
   - use gyros directly
   - review other changes
 - add Subscription poll met

[2017-11-06 13:42] dagar commented on #8239
Could you post the verbose build output?

[2017-11-06 20:25] lamping7 opened #8245 "MISSION_ITEM_REACHED not sent in SITL"
**Bug Report**

MISSION_ITEM_REACHED is not being sent for every WP reached. Verified using MAVLink Inspector in QGC, then set `mavlink verbose on`.

Console output:
[code]
I loaded a mission with 2 waypoints. Expected to receive a reached message for seq 0 and didn't. Instead, got multiple reached messages for seq 1 once it was reached.

Related to something around here? https://github.com/PX4/Fi

[2017-11-06 20:41] dagar commented on #8245
I can look at this, but when is MISSION_ITEM_REACHED (http://mavlink.org/messages/common#MISSION_ITEM_REACHED) actually needed? Isn't knowing the current waypoint you're on (MISISON_CURRENT) usually enough?

[2017-11-06 20:49] lamping7 commented on #8245
I suppose you can use `/mavros/mission/waypoints` and check the sequence number, but in the case that you one have one waypoint at a time, this strategy can break. Mavros recently added `/mavros/mission/reached` that I'd like to use.

See https://github.com/mavlink/mavros/issues/830 as well

[2017-11-06 20:59] r0gelion opened #8246 "F450 with Pixracer didn't follow the mission, started climbing."
Took off manually, good hover in position mode launched the mission and the unit started getting altitude but did not follow the mission.

https://logs.px4.io/plot_app?log=907d2032-92a3-43c8-9a71-1c18b0792194

[2017-11-06 21:06] dagar commented on #8245
What were the 2 mission items above?

[2017-11-06 21:25] lamping7 commented on #8245
CMD 16, NAV_WAPOINT. What I did: Take off, send mission, and put FCU in AUTO.MISSION.

[2017-11-07 00:57] priseborough commented on #8235
The IMU is clipping due to high vibration. See rapid simultaneous rise in both vertical GPS velocity and baro vertical position innovations coincides with increase in Z accel vibration and throttle setting.

![screen shot 2017-11-07 at 11 16 03 am](https://user-images.githubusercontent.com/3596952/32471687-c07e4314-c3b2-11e7-85ca-33ca69c02351.png)

There is no evidence of estimator time slips.

[2017-11-07 01:11] JonReacher opened #8247 "Camera hot shoe feedback logging"
It seems that all or most of the pieces are in place to implement logging of camera feedback in place of the initial trigger to allow for higher precision in image location geotagging. Opening issue to initiate a public discussion.

 In order to avoid conflict with QGC geotagging as it stands, it seems that either the initial trigger or the feedback would be logged, but not both. This would probab

[2017-11-07 04:03] ningyuanz opened #8248 "How yaw control in fixed-wing mode works"
Hello everyone,

I am investigating the yaw control in fixed-wing mode by using SITL with gazebo to simulate a standard VTOL vehicle:

`make posix_sitl_default gazebo_standard_vtol`

My question is, is the yaw control the same as roll and pitch in fixed-wing? I saw in the `fw_att_control_main.cpp` that yaw control has parameters Ki, Kp and Kff but when I printed `control_input.yaw_rate_setpoint`,

[2017-11-07 05:49] hujin9190 opened #8249 "[Feature Request] How to control servo with respect to motor speed"
Hello!

I am trying to control a servo rotating automatically by reading the angular velocity data from brushless motor. The default setting is using RC to control the servo. Do you have any ideas on how to realize that?

Thank you!

[2017-11-07 06:59] dharma-kc commented on #7455
Dear Lorenz,

Could you suggest me where do I put this command:
mixer load /dev/px4fmu /etc/mixers/gear.mix

If I put the gear.mix file on the microsd card in above format, it will automatically be loaded before corresponding default mix file, right? Do I need to load it again ? If we need to load, where do I place this load command?

Thank you,
Regards.

[2017-11-07 08:22] anandbaskaran commented on #8231
Here is a bit more insight (Thank you @jlecoeur for helping me)!

The master branch continues to work on this [specific hardware](https://hobbyking.com/en_us/hkpilot32-autonomous-vehicle-32bit-control-set-w-power-module.html?___store=en_us) just by reverting the commit 553c64925292d0fc99b46d9514eb6646472033e7.

After this being done, when I issue the command `fmu sensor_reset 500` the entire syste

[2017-11-07 19:19] dagar commented on #8249
Hi @hujin9190,
Where are you getting the angular velocity data? The easiest way to control a servo is to add it to a mixer (https://dev.px4.io/en/concept/mixing.html), and then publish the appropriate actuator_control message.

[2017-11-07 19:42] mhkabir commented on #8231
@davids5

[2017-11-07 19:52] davids5 commented on #8231
The hardware that you're using is not FMUV2 compatible ( it may be an assembly issue). The  sensor power supply reset is wired incorrectly. When the sensors are reset it's actually powering down the MCU.

The manufacturer has checked recent production versions and the problem is not present. I would suggest you contact them and raise the issue.

[2017-11-07 20:34] dagar commented on #8248
The yaw rate setpoint is calculated to maintain coordinated turns.

[2017-11-07 20:36] dagar commented on #8247
TODO
 - add this to the camera_feedback module - https://github.com/PX4/Firmware/tree/master/src/modules/camera_feedback
 - coordinate GPIO configuration with camera_trigger and px4fmu
 - review overall logging
  - should we log both the initial camera command AND the feedback?

[2017-11-07 21:27] tops4u commented on #6260
I suspect a Problem with the OSD or OSD Firmware. I'll close this.

[2017-11-07 21:27] #6260 closed

[2017-11-07 22:24] dagar opened #8252 "sensors voter not using SENS_BARO_QNH"
QNH is pushed into the barometer driver, but not used by the sensors voter.
https://github.com/PX4/Firmware/blob/master/src/modules/sensors/sensor_params.c#L91
https://github.com/PX4/Firmware/blob/master/src/modules/sensors/voted_sensors_update.cpp#L888

[2017-11-07 22:27] priseborough opened #8253 "Published pressure altitude is not corrected for QNH"
**Bug Report**

The pressure altitude calculated by the sensor module and published in sensor_combined uses a constant sea level pressure value of 101.325 kPa. It should use SENS_BARO_QNH / 10

https://github.com/PX4/Firmware/blob/master/src/modules/sensors/voted_sensors_update.cpp#L54
https://github.com/PX4/Firmware/blob/master/src/modules/sensors/voted_sensors_update.cpp#L888
https://github.com/

[2017-11-07 22:33] JonReacher commented on #8247
I would think that if it's possible to use the same message, but simply move it from trigger to feedback by selecting a parameter, that 1) QGC geotagging would be unaffected either way and 2) live on screen camera trigger indication wouldn't need any change to work, and in fact would work better by only showing successful triggers and indicating if a survey is not going well before downloading the

[2017-11-07 22:36] priseborough commented on #8253
Detected during code reviews for https://github.com/PX4/Firmware/pull/8251

[2017-11-07 22:37] dagar commented on #8252
Duplicate https://github.com/PX4/Firmware/issues/8253

[2017-11-07 22:37] #8252 closed

[2017-11-07 23:33] hujin9190 commented on #8249
Hello, @dagar

Thank you so much!

The angular velocity data is based on the main out PWM. Actually, I have no idea how to get the main out PWM. Is it possible to get it directly from the pwm.cpp sent_out_pwm() function?

Meanwhile, also stuck in the part that adds servo in the mixer. Can you give a detailed instruction on how to change the code in mixer part and publish the message?

Thank you ag

[2017-11-08 02:24] dronecrewkari commented on #7937
Same here. I have encounter the same problem

[2017-11-08 06:01] korigod commented on #8249
Are you sure your ESCs have linear pulsewidth vs RPM characteristic? As far as I know, all hobby grade ESCs don't.

[2017-11-08 08:59] korigod commented on #8246
Setpoint triplets were empty, it looks like there was no mission onboard. Did you noticed `[commander] REJECT AUTO MISSION` warning? Vehicle never launched the mission, it switched to AUTO.LOITER instead.

[2017-11-08 09:47] #8229 closed

[2017-11-08 11:32] tops4u commented on #8177
Checked in current Master and works. Thanks.

[2017-11-08 13:23] jlecoeur opened #8255 "Bug: Firmware does not build if submodule"
**Bug Report**

If PX4/Firmware is cloned as a submodule, it does not build.
I also had the problem when upgrading an existing Firmware submodule.

Steps to reproduce:
[code]
[code]

When cloned separately, it works as expected:
[code]

[2017-11-08 14:05] m91moreira opened #8256 "EKF2 Altitude estimation problem on Release 1.6.5 Stable"
Hi,

I'm experiencing a strange behaviour regarding the altitude estimation.

The flight log is from a mission with 4 waypoints at 20 m height.

During the flight, I noticed some oscillations on the drone altitude, which I was able to confirm using an RTK GPS as ground truth ([https://imgur.com/DR6G0jY](Z)) .

On the flight log it's possible to see that both the GPS and barometer notice the altitu

[2017-11-08 15:49] SayanR1 commented on #8246
The vehicle did have a Mission on board, after landing the unit I double checked in QGC and ti was there.

[2017-11-08 16:17] mrpollo commented on #8186
any update on this one? are we good to close this?

[2017-11-08 16:17] mrpollo commented on #8066
@dagar should we move this to 1.8?

[2017-11-08 16:54] santiago3dr opened #8257 "RTL issues with multiCopter"
Quadcopter running pixracer (v4)
two possibly related issues
- upon engaging RTL, copter does not climb to set RTL altitude
- if engaging RTL twice in the same flight, the second instance of RTL veers in the wrong direction; heading is corrected half way through the return path

both issues present:
https://logs.px4.io/plot_app?log=a229d06a-b4f6-4333-ae1c-246c3f90f8b1
https://logs.px4.io/plot_app?

[2017-11-08 19:43] priseborough commented on #8186
It's resolved

[2017-11-08 19:43] #8186 closed

[2017-11-09 02:36] mandu46 opened #8259 "[lpe] vision position fault problem"
Hi. all
I have similar problem with [https://github.com/PX4/Firmware/issues/5714](https://github.com/PX4/Firmware/issues/5714)
In firmware 1.6.3 and lpe_fusion paramter set to 12 which is just fuse vision position and vision yaw, but sometimes [lpe] vision position fault message occurs and z value of "mavros/local_position/pose" is way off. It looks like this is because the PX4 firmware is still t

[2017-11-09 03:49] Antiheavy opened #8260 "eph, epv, and evh thresholds should be larger for fixed wing"
**eph_threshold**, **epv_threshold**, and **evh_threshold** should be increased for fixed wing to avoid unnecessary in-flight loss of global position due to commander rejecting it.  The hard coded values are more appropriate for multi-copter hovering, but are overly restrictive for fixed wing.

@priseborough @dagar , I'd appreciate your thoughts if this is appropriate.

https://github.com/PX4/Firm

[2017-11-09 09:45] bresch commented on #8248
Some facts to add to @dagar ' comment:
- The rudder is manly used for yaw damping
- Heading control with the rudder is only used during landing approach (https://github.com/PX4/Firmware/blob/cf7140526a41ad7fd209189a0d9bd33cf4bd0319/src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp#L958)

[2017-11-09 09:54] #6607 closed

[2017-11-09 15:52] avinash-palleti opened #8262 "Protocol splitter is not sending any messages on UART"
Few changes are required to compile and enable protocol_splitter which are done in below branch,
https://github.com/avinash-palleti/Firmware/tree/rtps

With above changes it is expected that protocol_splitter has to send both mavlink and RTPS on UART. But it is not sending any messages, deamon running on host is receiving 0 bytes.

Not able to collect logs as mavlink-router is also not functional.

[2017-11-09 18:46] dagar commented on #8255
Thanks for reporting, we keep breaking this. Once we get it working again let's add something to CI.

[2017-11-09 18:57] tops4u opened #8263 "MC: Crash due to Motor Stop (Kill Switch) but I doubt this"
**Bug Report**

I file this as a bug report since I'm concerned that my crash today may have other reasons than accidentally flipping the Kill Switch.

I was performing some tests to eliminate a strong Oszillation when braking in PosCTL. This was improving, when I wanted to do another Test, shortly after Taking of the Rotors stopped in Mid-Air and the Vehicle crashed on the road where Motors where

[2017-11-09 19:23] dagar commented on #8263
Confirmed the log doesn't have the last couple seconds of data.

![image](https://user-images.githubusercontent.com/84712/32625134-6f457d52-c559-11e7-9c1a-d7593965f945.png)

@tops4u could you describe your full RC setup?

[2017-11-09 19:34] tops4u commented on #8263
I'm using a Futaba RC System. The connection is directly SBus (so no PWM Converter). There was no change in the RC Setup for almost a Year.

[2017-11-09 20:10] tops4u commented on #8263
Receiver is preconfigured to issue Flightmode RTL.

[2017-11-09 21:49] dagar commented on #8257
The veering in the wrong direction particularly concerns me.

[2017-11-09 21:53] dagar commented on #8257
The climb is broken because the default MC max return altitude (-1 to disable) is respected. https://github.com/PX4/Firmware/blob/master/src/modules/navigator/rtl.cpp#L78

![image](https://user-images.githubusercontent.com/84712/32631453-51e196c8-c56e-11e7-9ee9-9f21adc4a265.png)

[2017-11-09 21:54] dagar commented on #8257
@santiago3dr could you expand on the second point? Is it only the heading that's wrong, or does RTL actually fly in the wrong direction?

![image](https://user-images.githubusercontent.com/84712/32631576-a319a346-c56e-11e7-84b5-2a73b1a53869.png)

![image](https://user-images.githubusercontent.com/84712/32631594-ab4c3f60-c56e-11e7-9564-2c1f0712a2fb.png)

[2017-11-09 21:58] dagar commented on #8263
I'm wondering about an actual loss of RC. Do some of the channels drop to 0 before the autopilot registers RC lost?

It's not yet clear if this is at all related, but I'm also wondering if we should debounce the RC switches.

[2017-11-09 22:18] tops4u commented on #8263
I‘ll produce a log tomorrow about what happens on RC loss with this receiver. Distance between Transmitter ans the Aircraft was less than 10m.  So only reason could be an RC TX failure of some sort. I‘ll try tomorrow.

[2017-11-09 22:20] santiago3dr commented on #8257
just ran 2 flights on the same copter to replicate this issue
https://logs.px4.io/plot_app?log=ddbab0b2-d1e5-4f3b-8371-7d30915499ba
https://logs.px4.io/plot_app?log=6cced4c1-6a59-4a23-a67f-68c72032ccea

none of the rtl attempts rose to set rtl altitude
in the first flight, the second and third rtl engagements veered in the wrong direction, correcting half way and on the second flight, this happene

[2017-11-09 23:31] dagar opened #8265 "mag cal soft iron distortions"
Consider updating mag cal for both hard and soft iron distortions.

https://github.com/PX4/Firmware/compare/pr-compasscal-offdiag?expand=1

[2017-11-09 23:35] priseborough commented on #8265
Soft iron effects can be a major issue for some setups or if accurate yaw estimation under static conditions is required for camera pointing.

[2017-11-10 00:32] hamishwillee opened #8266 "FW_PSP_OFF and FW_RSP_OFF parameter description improvements"
FW_PSP_OFF description currently says:

The word "speed" might be replaced with:

A similar change could be made to the description of FW_RSP_OFF by replacing "speed" with "roll angle".

---
This was originally posted  by @jeffstreet in https://github.com/PX4/px4_user_guide/issues/54

[2017-11-10 08:10] tops4u opened #8268 "MC: Flight Mode Initialization at PowerUp"
**Bug Report**

When Powering Up while FlightMode Position Control was selected on the Transmitter, Flightmode will stay in Stabilized (instead of Position Control or Alt Control during missing GPS Fix). It is possible to arm and start. Operator may not be aware that Vehicle is not in the selected FlightMode of the Remote Controller, if this is not visualized via GroundStation or OSD.

How to chec

[2017-11-10 08:24] tops4u commented on #8263
Ok, I got a log for this. But this again is a bit weird, I have preconfigured the Receiver to go to FlightMode RTL and I can see that FlightMode changes to the desired Value in MAVLink Inspector, but the log does not reflect this (maybe due to the RC Link Failure detection?)

https://review.px4.io/plot_app?log=d056b0eb-00ca-4cd9-bea4-7c0124bda478

[2017-11-10 12:30] tops4u commented on #8268
Addition. I tried to reproduce this several times and failed miserably. To get this working the FC must be powered off for some time, if you get "MANUAL CONTROL Regained" it was to soon.
Also I tried arming and disarming (while only USB was connected) and all of a sudden it switched to PosCTL and would not let me disarm. Most probably because Takeoff was detected (while Vehicle was sitting on the

[2017-11-10 12:32] tops4u opened #8269 "MC: Possible to Arm without GPS Lock"
**Bug Report**

It is possible to Arm the Vehicle within about 20secs from Booting without having a valid GPS lock. This is most probably due to a check in the PrearmChecks that does not enforce GPS Check for EKF (when COM_ARM_WO_GPS is disabled) within 20secs after booting.

It is possible to arm an takeoff during this timewindow without GPS Lock even when having Valid EKF Thresholds for GPS Sign

[2017-11-10 12:51] tops4u commented on #8263
I did notice one strange thing this morning while doing some tests at the bench. During multiple test I suddenly noticed a fast flickering red Light in my FC Enclosure. The FC was booted up for some time but it was the same LED that flashes during boot time (I guess this is the IO Bootloader flashlight), just that it was flashing somewhat faster than at boot time. There was noting in the Logs nor

[2017-11-10 13:22] tops4u commented on #8263
Crosscheck with a newer Unit shows this when powering down TX multiple time - this is better:

![rclost2](https://user-images.githubusercontent.com/6877067/32659935-172ee7de-c621-11e7-9766-3b3f891d24a9.jpg)

It also immediately identifies the PostitionControl Mode. How come those two units behave so differently? FW Version is almost identical. The AUAV-X2 Unit is about 2.5 Years old the new one is

[2017-11-10 15:20] YuYangguang commented on #6646
I'm really sorry to reply you late, I'm really busy recent days.

It's my fault that I did't describe this issue clearly.   Now I want to use Mocap system to control the mini UAV in vicon environment.  In the last months, I use the version v1.5.1 dev of PX4 firmware as the controller. But now I want to update my firmware to the latest. But when I finished update, problems comes.

Firstly, I notice

[2017-11-10 17:02] TSC21 commented on #6646
https://dev.px4.io/en/advanced/switching_state_estimators.html

[2017-11-10 17:33] santiago3dr commented on #8257
was able to reproduce this on the snapdragon flight controller (EAGLE)
https://logs.px4.io/plot_app?log=5f0f6037-8fd8-416d-a0c4-f00b6494e677

it seems rtl finds a direct path to the first rtl trajectory
@dagar

[2017-11-10 21:11] realdealneil commented on #6873
I would love to have a simple way to implement coordinated flight on the px4 stack.  This was relatively simple to implement on APM (by changing firmware source code), but I'm finding it tricky in the least on px4.  The control I'd like to have is to be able to command roll angle, pitch angle, and yaw rate, but allow thrust to automatically be determined to hold altitude.  I have a path forward us

[2017-11-10 21:20] dagar commented on #6873
@realdealneil we can add and maintain proper support for that. Where are you getting stuck?

[2017-11-10 21:30] lovettchris commented on #6873
What you are asking for is related to [pull request #5816](https://github.com/PX4/Firmware/pull/5816/commits), where we added altitude hold control to the "moveByVelocity" case.  But this case was easy because mc_pos_control pretty much already supported this case, it was jut not exposed through to mavlink, so the entire change really just boiled down to this one line in that file:
[code]
Doing th

[2017-11-10 23:10] realdealneil commented on #6873
Is there a mavlink packet that directly supports the "moveByVelocity" case in the body frame?  I'm trying to do my development in mavros and don't want to change PX4 firmware unless I can't achieve my objective without doing so.

I've so far tried /mavros/setpoint_velocity/cmd_vel (which looks like it uses "set_position_target_local_ned", but the inputs are in ENU.  This doesn't support setting ro

[2017-11-11 00:27] stuee123 commented on #6515
Hi, is this so i can setup my rpi to control me beebop? i really dont want to spend $300+ on a skycontroller if i can just setup my rpi to do it instead :)

[2017-11-11 12:11] YuYangguang commented on #6646
Thank you for your kind reply @TSC21 .

But this guide document is only valid for version 1.5.2 or older version. Even when I followed the guide of the document, I still could not found the parameter ATT_EXT_HDG_M in the QGC.  Could you please explain it more accurately? Thank you for your kindness.

[2017-11-11 13:38] jinchengde commented on #8066
the same issue with log
https://logs.px4.io/plot_app?log=da1efbe4-9940-4b3e-a287-6b0aa8fb8af9

[2017-11-11 13:46] TSC21 commented on #6646
This guide works for any version above 1.5.2 also. If it did not worked we wouldn't have it available.

[2017-11-11 20:46] Seanmatthews opened #8270 "Global initialization of attitude Q-estimator heading"
This issue is not necessarily a bug, but elements of it, I have found, lead to decreased attitude estimation accuracy, as well as a pesky delay in the time it takes for the attitude estimator to "settle" upon supplying it with an external heading estimation (vision or mocap).

The core of the problem stems from the forced initialization of the attitude estimator in the world frame, as opposed to t

[2017-11-12 05:23] sparky002 commented on #8126
I got it working successfully by building a later version of cmake on Ubuntu 14.04. The below information I got from this link. I copied the portion that matters so there is no confusion. Credit goes to the poster.

https://askubuntu.com/questions/610291/how-to-install-cmake-3-2-on-ubuntu-14-04

"""""
Compile it yourself

Currently, the latest version is 3.5.2, the following instructions based on

[2017-11-12 08:28] zarathustr opened #8271 "A new mag calibration algorithm is needed for reducing data storage heap"
The magnetometer calibration is based on a least square fitting of raw data. Currently, the algorithm requires a heap load of raw data storage arrays. This point significantly increases the online memory usage of the algorithm also increases instability of managing the RAM. A better issue is raised here to integrate my recent contributions into the PX4 that it no longer stores the raw data and use

[2017-11-12 13:49] Ahrovan commented on #8225
Please provide changes and development details for version 1.7

[2017-11-12 14:56] dagar commented on #8271
Let's talk about doing this after v1.7.0 goes out shortly. Calibration code will be moving out of commander (https://github.com/PX4/Firmware/pull/8200) and needs other improvements (https://github.com/PX4/Firmware/issues/8265) and fixes (https://github.com/PX4/Firmware/pull/8190).

[2017-11-12 14:57] dagar commented on #8270
@jgoppert @TSC21 FYI

[2017-11-12 15:12] Mocart96 commented on #4876
Some time ago I moved to PX4 from ardupilot firmware due 2 functions: virtual joys and "data link lost". My copert comunicates with QGC using LTE and failsafe tigger base on data lost is critical. Is there any clear description how "data link lost" tigger works ? As I understand "RC lost" tigger works in manual modes and if the case eg QGC is disabled it can change mode to eg. land only. Will this

[2017-11-12 16:05] dagar commented on #4876
@Mocart96
 - RC lost is based on the last manual input. This could be real RC or a gamepad over mavlink
 - data link lost is based on the HEARTBEAT in a mavlink telemetry stream

These become flags used by the state machine in commander.

For MISSION loss of RC will only trigger a failsafe event if you don't have data link loss configured.

I'm looking for ways to generate documentation for the st

[2017-11-12 16:08] dagar commented on #8066
Thanks for the logs, please keep posting and include any context.

Side note - @jinchengde you have estimator issues https://logs.px4.io/plot_app?log=da1efbe4-9940-4b3e-a287-6b0aa8fb8af9#Nav-Estimator-Watchdog

[2017-11-12 16:09] dagar commented on #8126
Glad to hear you got it working. Going forward we'll try to maintain build environment instructions for the current Ubuntu LTS and previous.

[2017-11-12 16:28] MaEtUgR commented on #8257
Could very well be related to https://github.com/PX4/Firmware/pull/6679#issuecomment-282674945
FYI @Stifael

[2017-11-12 17:20] dagar commented on #8257
Fix for the altitude here - https://github.com/PX4/Firmware/pull/8272

[2017-11-12 18:34] Mocart96 commented on #4876
@dagar
Daniel, Lets me comment Virtual Joystick option first.  I`m using UDP link over LTE to communicate copter with QGC.

When I setup “COM_RC_IN_MODE” parameter as “Joystick/no RC check” then virtual joysticks are always available on screen and it works like regular RC controller when LTE link is alive.
Any action that disturbing/killing this connection (like: drop on LTE signal or crash/close

[2017-11-12 20:03] Stifael commented on #8257
Or we would bring this https://github.com/PX4/Firmware/pull/8101 in.
That get_rtl_altitude function is not needed anymore

[2017-11-12 20:16] korigod opened #8275 "CI: broken Jenkins SITL"
Jenkins SITL is now broken. Based on console output I see two problems:

1. Github ids are now exceeding uint32 max value. It's known and fixed problem (https://github.com/kohsuke/github-api/issues/387), it may require Jenkins plugin upgrade.
2. Pandas tries to install new numpy version but still uses existing 1.8.2, which leads to import error and test failure. Sent PR #8274 to address it.

[2017-11-13 03:14] hamishwillee opened #8277 "Replace astyle with clang-format"
Astyle version updates have historically caused problems with large diffs etc. Proposal from @bkueng was that this might best be replaced by clang-format.

Discussion here: https://github.com/PX4/Devguide/pull/331#issuecomment-343414776

[2017-11-13 06:21] tdnet12434 commented on #8260
I also encounter the same issue when launching my fixed-wing with high power launcher.
It seems ekf2 estimator back out and lost all control surface then crash. See my following log file
https://review.px4.io/plot_app?log=ccc86ede-a1fa-4b92-afec-34987e5455e2

This procedure can be reproduced by using the catapult launch method to takeoff in gazebo plane simulation.
Then try to apply some force lik

[2017-11-13 06:24] Stifael commented on #8257
The problem with the strange rtl direction behavior sounds familiar, and the issue was caused by having the previous setpoint not reset correctly. I will look into it today.

[2017-11-13 08:22] zjjyyang commented on #8239
I got the same problem, the message is like:
 make px4fmu-v2_default VERBOSE=1
"/C/Program Files/CMake/bin/cmake.exe" -H/D/px4/Fimrware20171112 -B/D/px4/Fimrware20171112/build/px4fmu-v2_default --check-build-system CMakeFiles/Makefile.cmake 0
"/C/Program Files/CMake/bin/cmake.exe" -E cmake_progress_start /D/px4/Fimrware20171112/build/px4fmu-v2_default/CMakeFiles /D/px4/Fimrware20171112/build/px4fm

[2017-11-13 08:24] jinchengde commented on #8066
@dagar
This is based on the firmware version of 1.6.5, and we always get this issue. then we rollback to 1.6.4, the problem is disappear, so I supposed it maybe caused by EKF ?

and could you tell me where you see the estimator issues in log.Thanks!

[2017-11-13 08:25] zjjyyang commented on #8239
It must be the same problem as issue #6332, https://github.com/PX4/Firmware/issues/6332
But the file ' /cmake/nuttx/px4_impl_nuttx.cmake' has been changed, the original answer is not applied.

[2017-11-13 08:31] acfloria commented on #8269
If GPS is required for arming is specified by the [COM_ARM_WO_GPS](https://docs.px4.io/en/advanced_config/parameter_reference.html) parameter.

[2017-11-13 08:43] tops4u commented on #8269
Yes, I agree. But check the last segment of PreflightCheck.cpp

Line 778 defines that if there is no Lock, _time_last_no_gps_lock = time since boot when there is no lock yet.

And 788 enforces GPS check within EKF Limits only when _time_last_no_gps_lock is > 20 secs.

So in case there was no Lock and less than 20 secs after boot Arming is attempted there will be no Check if there is a GPS Lock.

C

[2017-11-13 09:39] TobiMiller commented on #8259
for me everything works fine with EKF2 instead of LPE.

[2017-11-13 09:40] TobiMiller commented on #8205
you need to source the firmware folder

[2017-11-13 09:45] mandu46 commented on #8259
@TobiMiller Thank you for reply. Since I saw that this sentence "Indoor scenarios and general R&D applications continue to benefit greatly from the LPE estimator.", and my testbed is indoor environent, I wanna try with LPE. Or is accuracy of EKF2 enough for indoor enviroment at 1.6.3 firmware?

[2017-11-13 09:48] TobiMiller commented on #8259
didnt saw that much of difference ;)

[2017-11-13 09:51] mandu46 commented on #8259
@TobiMiller I really appreciate to your answer. I will try with EKF2

[2017-11-13 10:01] bkueng commented on #8277
In addition we could use [clang-tidy](https://sarcasm.github.io/notes/dev/clang-tidy.html) to check the coding style.
I ran some tests using an as similar style as we already use. This is the automatic transformation diff: https://github.com/bkueng/Firmware/commit/0efb7e0083e993b9bccaa1267798ac838326caf2. The result does not compile, but requires additional manual steps. There are 87 fatal build e

[2017-11-13 10:59] korigod commented on #8277
The question is do we want to switch to camel case? I believe underscores are totally acceptable in C++, e.g. they are used in STL.

[2017-11-13 11:06] bkueng commented on #8277
I think so too, and the actual style is of course up to discussion. I tried to match it, but it's already inconsistent. Consistency is generally more important to me, as it makes the code easier to read and understand.

[2017-11-13 12:44] Stifael opened #8278 "Offboard revision"
PX4 offboard is part of PX4 that is used by many people, but when looking through the code, it becomes evident that it grew over time quite a lot without having a very clear software architectural plan. Here are some points that I would like to discuss:

- Triplets
https://github.com/blog/1375-task-lists-in-gfm-issues-pulls-comments
At least we should use position setpoint msg [here](https://githu

[2017-11-13 12:45] Stifael commented on #8278
@korigod your opinion is very much appreciated.

[2017-11-13 13:03] LorenzMeier commented on #8277
No, we don’t want to switch to camel case. We are roughly following the Google style guide with a few deviations.

[2017-11-13 14:24] dagar commented on #8239
It looks like the issue is with the paths being used by rsync. They need to be cygwin paths, or updated to be relative to get around the problem.

[2017-11-13 15:28] ChristophTobler opened #8280 "krait update param failed"
I tried running PX4 on a Snapdragon Flight (`make eagle_legacy_default`). It builds using https://github.com/PX4/Firmware/pull/8279.

When I run `./px4 mainapp.config`, I get
http://pasted.co/4034af78
mini-dm
http://pasted.co/05edbbf5

[2017-11-13 15:29] ChristophTobler commented on #8280
similar to https://github.com/PX4/Firmware/issues/7364. There the aDSP crashed, right?

[2017-11-13 17:02] korigod commented on #8275
Another problem is related to the SITL itself: I sometimes get "ACCELS INCONSISTENT". It happens in Jenkins too, e.g. [this Jenkins build](http://sitl01.dronetest.io/job/PX4%20Firmware%20POSIX%20SITL/2104). That commit was built twice as PR and it passed all tests.
Here is the log: https://logs.px4.io/plot_app?log=0a5956f8-a1e4-4a15-8908-13bf63586373

[2017-11-13 17:25] dagar commented on #8275
I've been wanting to revamp this entire setup and get it moved to a new jenkins cluster. http://ci.px4.io:8080/blue/organizations/jenkins/

[2017-11-13 17:27] dagar commented on #8280
@darioxz I think we need to get one of these added to the CI system. It's way too easy to silently break.

[2017-11-13 17:56] alirezaka commented on #8205
Hi Tobias
you mean :

source Tools/setup_gazebo.bash $(pwd)
$(pwd)/build/posix_sitl_defaultexport
ROS_PACKAGE_PATH=$ROS_PACKAGE_PATH:$(pwd)export
ROS_PACKAGE_PATH=$ROS_PACKAGE_PATH:$(pwd)/Tools/sitl_gazebo
?
I have sourced it but still my ROS master doesn't find it !

On Mon, Nov 13, 2017 at 1:10 PM, Tobias M. <notifications@github.com> wrote:

[2017-11-13 21:12] AlexisTM commented on #8256
Hmmmm...

Looking at the log my guess is lack of power. I would propose to use a battery with more cells. Indeed; when moving along X and Y, the thrust axis is no more aligned with the gravity; thus you have to increase the thrust to keep the altitude. Here, the thrust is almost maximal all time.

The other solution would be to reduce the payload of your copter.

[2017-11-13 22:33] dagar commented on #8066
@jinchengde I'm not sure, but there have been many robustness improvements for FW in EKF2 over the last few months. Give master a try (nearly v1.7.0) and open an issue or ping me if you're still seeing anything in the estimator watchdog.

[2017-11-14 00:36] dagar commented on #8277
There are two separate issues -

 1. Astyle version problems. I would personally like switching to clang-format for other reasons, but I don't think it's going to remove all the versioning pain. This might be obnoxious, but one idea is to have the CI system push formatting fixes to your PR instead of just complaining.

2. Using clang-tidy for consistent naming. I'm all for this if we can do it inc

[2017-11-14 00:43] dagar commented on #8239
Could you try this PR https://github.com/PX4/Firmware/pull/8284?

[2017-11-14 01:08] dagar commented on #8257
Please give this PR a try. https://github.com/PX4/Firmware/pull/8272

[2017-11-14 06:04] yangang123 commented on #8184
closed #8184

[2017-11-14 07:53] MaEtUgR commented on #8278
What about the clean [local position setpoint](https://github.com/PX4/Firmware/blob/master/msg/vehicle_local_position_setpoint.msg) and also offer a global one for the offboard user (but convert it for the controller on reception)?

I think this is an important point you made. If you want to to exactly have what auto does, just give commands to auto features over mavlink. No need to support the sa

[2017-11-14 10:02] Stifael commented on #8257
I confirmed now that one issue (there might be more than that) is that the previous setpoint get reset to the wrong setpoint.
For instance:
- vehicle is in mission
- user/system demands rtl -> current setpoint is equal to home setpoint
- user demands again mission: previous setpoint gets set to current setpoint, which is set to home. Consequently, the vehilce will follow the line home-current setp

[2017-11-14 10:28] m91moreira commented on #8256
Hi AlexisTM,

Yes, the drone is a little bit heavy, but the fact that the motors are almost on the limit shouldn't be an input for the estimated altitude, right? If the barometer and the GPS notice the altitude change, the estimated altitude should also change.

[2017-11-14 12:27] zjjyyang commented on #8239
I have try the method proposed in #8284, and the problem is still here, the output path:
D;C:\px4\toolchain\msys\1.0\px4\Fimrware20171112\build\px4io-v2_default\NuttX

I think rsync cmd process the var ${CMAKE_CURRENT_SOURCE_DIR} and ${CMAKE_CURRENT_BINARY_DIR}, then make them changed.

I downloaded the source code of rsync, and have no idea currently.

[2017-11-14 14:04] AlexisTM commented on #8256
Your copter is dropping. Then what is the cause, estimation is wrong, RTK is wrong, barometer is wrong, the copter is unable to achieve the mission?

Reduce the weight/add a cell, fly again, take a video of the flight and post the log.

[2017-11-14 15:56] dagar commented on #8239
@zjjyyang thanks for testing.

The relatively easy fix will be in PX4 cmake and not rsync itself. We just need to figure out how to get relative paths correctly.

[2017-11-14 18:11] ChristophTobler commented on #8280
There is no error when using `eagle_default`.

FYI @mcharleb

[2017-11-14 19:57] #8257 closed

[2017-11-14 19:58] dagar commented on #8257
@santiago3dr various navigator fixes have made it into master. Please reopen if this isn't completely resolved.

[2017-11-14 21:54] jeniljain29392 opened #8289 "Issue with multiple mag calibration"
https://github.com/PX4/Firmware/blob/8d2792544378b01558179df21d67114205dd43df/src/modules/commander/mag_calibration.cpp#L600
[code]
For the case when `__PX4_NUTTX` is not defined `i` is always zero and hence `orb_subscribe_multi()` always return the same handle. Which is also the reason for the issue discussed in [this post](http://discuss.px4.io/t/estimated-position-ekf-errors/3534/5)

[2017-11-14 21:57] Antiheavy commented on #8266
+1 for these suggestions.

[2017-11-14 22:04] dagar commented on #8289
The ifdefs need to be removed and this entire thing cleaned up quite a bit.

[2017-11-14 22:25] santiago3dr commented on #8257
@dagar
tested with master, 3 attempts at RTL, all successful; all rose to set altitude and took a direct path to home location
https://logs.px4.io/plot_app?log=4f166b9d-fd36-452c-be7b-9d2b600f1561

[2017-11-15 01:34] zjjyyang commented on #8239
The steps is:
1. make clean
2. make distclean
3. update /platforms/nuttx/NuttX/CMakeLists.txt as:
...
# copy nuttx to build directory
file(RELATIVE_PATH CP_SRC ${CMAKE_CURRENT_BINARY_DIR} ${CMAKE_CURRENT_SOURCE_DIR}/nuttx)
add_custom_command(OUTPUT nuttx_copy.stamp
#  COMMAND ${cp_cmd} ${cp_opts} ${CMAKE_CURRENT_SOURCE_DIR}/nuttx ${CMAKE_CURRENT_BINARY_DIR}
  COMMAND ${cp_cmd} ${cp_opts} ${CP_SRC}

[2017-11-15 01:44] nskjoung commented on #8198
@sanderux i'm be in a same situation. how does it clear?

[2017-11-15 02:20] visrinivasan commented on #5407
@mhkabir @dagar  Do you mean to say that setpoint target only supports FRAME_LOCAL_NED as of now and there's no support for FRAME_LOCAL_OFFSET_NED, FRAME_BODY_NED, FRAME_BODY_OFFSET_NED ?

[2017-11-15 03:38] mhkabir commented on #5407
@visrinivasan Yes.

[2017-11-15 07:44] ChristophTobler commented on #8280
v1.6.5 is still working

[2017-11-15 07:47] MaEtUgR commented on #8198
@nskjoung I think his conclusion was that the internal resistance parameter was not set correctly and hence the measurement got overcompensated. If you want to try supposedly better battery estimation please try #8153 . It will likely just not be in 1.7 because it requires a lot of testing.

[2017-11-15 07:52] LorenzMeier commented on #8280
@ChristophTobler This is likely the result of parameters being present on the Linux side that are not present on DSP or vice-versa. @dagar this is one of the reasons why I'm not a big fan of "cleanups" as long as we've not solidified the underlying architecture to take care of "enabled parameters" in a fundamental fashion.

[2017-11-15 07:54] LorenzMeier commented on #8280
@ChristophTobler Please try a commit from 3 weeks ago and work your way in.

[2017-11-15 08:56] #7382 closed

[2017-11-15 09:31] AlexisTM commented on #8278
You should join the channel Architecture on the PX4 Slack
@jones

[2017-11-15 09:35] AlexisTM commented on #8225
Solved bugs for the ECL library (EKF2) which impacted the PX4Flow #8102

[2017-11-15 10:31] TobiMiller commented on #8205
but you were in your firmware folder while sourcing it?

[2017-11-15 14:08] ningyuanz commented on #8248
Thanks for both comments. Really helps me understand the controls in FW mode.

[2017-11-15 14:08] #8248 closed

[2017-11-15 14:23] dagar commented on #8239
@zjjyyang

Because NuttX doesn't have an out of source build we copy the entire thing to each build directory. Due to rsync on windows and path issues we need to be careful and only pass relative paths to the rsync command.

It should ultimately be something like...

    rsync ../../NuttX/nuttx .

Are you available on slack (http://slack.px4.io)? We might be able to debug and fix this quickly if w

[2017-11-15 15:29] dagar commented on #8225
@jlecoeur do you want to add something high level about the mixer updates? Migration for users that had custom mixers, etc.

[2017-11-15 16:05] jlecoeur commented on #8225
Auto-generate multirotor mixers from files that describe their geometry. See here <link to dev guide page to be done https://github.com/PX4/Devguide/issues/349 > how to migrate or add custom mixers.

[2017-11-15 16:08] dagar commented on #8171
https://github.com/PX4/Firmware/pull/8284

[2017-11-15 17:39] MaEtUgR commented on #8239
@QingZe0101 As you are working in some kind of Windws based environment I would be really interested in your experience with that and share with you what I tried in the past already. I have the same name on slack for more realtime communication.

[2017-11-15 17:41] scott-eddy commented on #8225
FMU can now be run as a task #7640

[2017-11-15 17:57] alirezaka commented on #8205
I created a catkin_ws and I included firmware in it , I did catkin_make and it finished cleanly without any error but when  lauched 《 roslaunch px4 posix_sitl.launch 》the error I mentioned aboved appeared.

[2017-11-15 17:59] alirezaka commented on #8205
Should I be in firmware folder ?

[2017-11-15 19:10] dagar opened #8294 "param save performance"
Investigate bson encoder write performance, and likely start buffering writes.

 - perf counters (https://github.com/PX4/Firmware/pull/8391)
    - save, find, get, commit, failures
 - throttle param changed publications (1Hz?)
 - look for param abusers
   - some modules are updating params multiple times
   - review all param_commit usage (remove notifications wherever possible)
   - modules don't

[2017-11-15 19:38] Ekci opened #8295 "LPE with External Vision Position crash into ceiling while in Altitude Control"
Logs here: [link](https://logs.px4.io/plot_app?log=d0e992b7-5855-45eb-87a4-2bd08147d201)

I am currently working on indoor navigating using External Vision Position (mavros). Normal flight looks like this: I arm, take off, hover at around 1 meter at which points my camera starts to report position, change to alt hold and then to offboard which engages navigation to point (0,0) at 1.8 meters.

We h

[2017-11-15 19:52] Seanmatthews opened #8296 "Sporadic state switch to AUTO.LAND"
Snapdragon Flight standard setup
PX4 v1.6.5
MAVROS 0.19.0

I'm running px4 with local_position_estimator, attitude_estimator_q, and land_detector (multicopter). An RC receiver is not connected, nor do I run the rc_receiver module. PX4 starts in MANUAL mode, and I do not try to change that. The piece of code I'm running simply arms and disarms the vehicle, at intervals, from a landing state. Somewh

[2017-11-15 20:45] r0gelion opened #8297 "Error compiling v1.7.0-rc1 for eagle_default target"
I'm using Ubuntu 14.04LTS

1. I tried to compile v1.7.0-rc1:
`make eagle_default`
2. Got the error: http://pasted.co/0a7d6f31
2.1. This error recommends running the next command:
`sudo apt-get install python-toml python-numpy`
2.2. I ran the previous command but I received the error that python-toml package wasn't located.

I follow the next steps to to solve the issue:
1. Downloaded the python-to

[2017-11-15 22:05] mrpollo commented on #8225
Preliminary changelog https://gist.github.com/mrpollo/0b4e8985e829de1961a47909376a2b85

[2017-11-16 00:29] dagar commented on #8296
MANUAL mode with no RC + armed + flying = switch to AUTO LAND as a failsafe.

I'd need to see the log to say more, but it's also likely due to the land detector tuning.

[2017-11-16 01:07] r0gelion opened #8299 "F450 frame with Pixhawk mini crash - v1.7.0-rc1"
Using F450 frame with Pixhawk mini autopilot, loaded v1.7.0-rc1

The vehicle was flying in mission mode and when going to the second waypoint it stopped to follow the mission, it didn't respond to RTL command (by RC) and it crashed.

https://logs.px4.io/plot_app?log=57cd3193-b22d-478a-8c10-c0ff0f9a5178

@dagar @LorenzMeier

[2017-11-16 01:44] dagar commented on #8299
What was the crash like? Did the battery get so low the ESCs finally shut off? Do these numbers look believable?

![image](https://user-images.githubusercontent.com/84712/32869541-860b0142-ca45-11e7-930b-c9155628ee82.png)

[2017-11-16 03:11] sparky002 commented on #8297
I ran into the same problem compiling v1.7.0-rc1 for px4fmu-v2_default and px4fmu-v3_default on ubuntu 14.04lts. Same solution worked on my end.

[2017-11-16 10:19] TobiMiller commented on #8205
`
cd %FIRMWARE PATH%
source Tools/setup_gazebo.bash $(pwd) $(pwd)/build/posix_sitl_defaultexport ROS_PACKAGE_PATH=$ROS_PACKAGE_PATH:$(pwd)export ROS_PACKAGE_PATH=$ROS_PACKAGE_PATH:$(pwd)/Tools/sitl_gazebo`

[2017-11-16 10:23] TobiMiller commented on #8295
Use EKF2. i know in docs it is recommend to use LPE but i think it is outdated. change the parameter for altitude fusion from baro to vision. if it dosnt help. try to send a setpoint and set the flightmode to offboard. i experienced a similar problem with pos. hold and thought that this flightmodes only works with gps

[2017-11-16 10:25] TSC21 commented on #8295
@TobiMiller why do you say it is outdated? What it really needs is proper tuning

[2017-11-16 10:30] TobiMiller commented on #8295
@TSC21 it is recommend to use LPE. out of the box EKF2 worked better for me. thats why i thought this recommendation is maybe from times before ekf2 ;)

[2017-11-16 10:38] TSC21 commented on #8295
Befor ekf2 had vision support

[2017-11-16 10:50] Ekci commented on #8295
I'm confused, what's better to use now? LPE or EKF2?
Anyway, I was able to stabilize indoors for around 30 minuts using LPE. My problem is last crash when changing to alt hold...

[2017-11-16 11:48] TSC21 commented on #8295
Set `LPE_FUSION` bitmask so it can also fuse baro. Then set `LPE_BAR_Z` to an high value.

[2017-11-16 11:48] TSC21 commented on #8295
The problem was the Z estimation.

[2017-11-16 12:06] Ekci commented on #8295
Yeah, that's wat I was thinking. What about Lidar? Is there a way to fuse it?

[2017-11-16 12:13] TSC21 commented on #8295
It should automatically fuse. You don't need to set a parameter.

[2017-11-16 12:21] Ekci commented on #8295
Ok, so why the Z estimate was that off if Lidar was on and even External Vision Position turned on before switching to alt hold? You can clearly see that Vision Position Z was around 1.5 meters when we change modes. I agree that we should have given it more time to fuse but I was sure that Z will be correct because of the Lidar.

[2017-11-16 13:27] TSC21 commented on #8295
Try setting `pub agl as lpos down` on `LPE_FUSION`.

[2017-11-16 13:29] TSC21 commented on #8295
Also try to decrease `LPE_VIS_Z` (Vision z standard deviation)

[2017-11-16 13:33] Ekci commented on #8295
Ok, I will try it next time. Thank you for helping here, I will close this issue for now.

[2017-11-16 13:38] #8295 closed

[2017-11-16 17:29] dagar opened #8302 "generalize serial port configuration"
We need to generalize serial port configuration (exposed as parameters) with appropriate defaults set per board.

For the most part these are hard coded, but with SYS_COMPANION (telem2) configurable. I'd like to extend that to all serial ports.

 - telem port x N
 - one or more GPS ports
 - generic (eg pixhawk serial 4/5)

Previous issue https://github.com/PX4/Firmware/pull/5184

TODO
 - each seri

[2017-11-16 17:45] Seanmatthews commented on #8296
@dagar Thanks. I'll work on getting a log. To make it clear, I am not flying. What typically triggers the failsafe? Is it a deduced sensory input such as a takeoff or land detection? I looked into the state machine code briefly, but it's not immediately clear if that's the case.

[2017-11-16 18:21] alirezaka commented on #8205
Thanks Tobias
On Nov 16, 2017 1:50 PM, "Tobias M." <notifications@github.com> wrote:

[2017-11-16 20:14] #7317 closed

[2017-11-16 21:01] lamping7 commented on #8245
@dagar From a quick look, I can tell that navigator is calling the function to set the item as reached here https://github.com/PX4/Firmware/blob/e9e663432b397e939db0a0e20a7f9fbf242dbf06/src/modules/navigator/mission.cpp#L209

which points here
https://github.com/PX4/Firmware/blob/4416c4ddb3ef84a958b023f50b066c0c3f1d87d7/src/modules/navigator/mission.cpp#L1407

But, when the mavlink module checks t

[2017-11-16 22:44] r0gelion commented on #8299
The ESC's didn't cut, the vehicle flew to a side and crashed. The battery got hit and a cell is dead but cannot assure if it died before or after the crash.

[2017-11-16 22:47] dagar commented on #8260
@tdnet12434 I believe the particular issue you hit (the EKF stops publishing) is resolved by this commit. https://github.com/PX4/ecl/commit/2e03084d349ce4ba404615f8c79b6d820d3335b6
Which version of PX4 was this?

[2017-11-16 23:15] dagar commented on #8299
Oh, I see the flight was upfront.

![image](https://user-images.githubusercontent.com/84712/32921059-03a3b8ba-cafa-11e7-8e7b-286a6e3c1cb0.png)

The red line is the mode. It starts in position control, the mission, and is already in RTL before you lost RC.

[2017-11-16 23:29] dagar commented on #8299
I still think it's a battery issue where it was so low it couldn't maintain altitude during the RTL and crashed. Until it's unable to maintain it was on a straight path back to home.

The RTL was triggered by low battery.
![image](https://user-images.githubusercontent.com/84712/32921236-cfecabac-cafa-11e7-9676-afa1c0dfb881.png)

![image](https://user-images.githubusercontent.com/84712/32921259-e9e

[2017-11-16 23:30] dagar commented on #8299
You should change the low battery action (COM_LOW_BAT_ACT) to 3 "Return to land at critically low level, land at current position if reaching dangerously low levels".

At the critical threshold (default 7%) the vehicle will do an emergency land instead of the RTL.

[2017-11-17 00:06] r0gelion commented on #8299
We will follow your recommendation.

I'm closing this issue.

Thanks!

[2017-11-17 00:06] #8299 closed

[2017-11-17 02:51] Antiheavy commented on #8035
@dagar we should review to ensure mission feasibility properly gates both Takeoff and Mission modes is auto-transition from Takeoff to Mission is active.

[2017-11-17 05:04] mhkabir opened #8303 "FMU Input Capture crashes board"
As a part of completing support for camera hardware feedback (https://github.com/PX4/Firmware/issues/8247), I've been resurrecting the FMU's input capture modes (`mode pwm2cap2` and `mode pwm3cap1`). Initial testing reveals that the baseline command `fmu test` to verify the functionality fails, and the board crashes.

To reproduce :
1. Connect a digital signal to AUX4
2. Set fmu to capture mode (`

[2017-11-17 05:49] dagar commented on #8296
By flying I just mean not landed (as reported by the land detector). The log will tell us for sure.

[2017-11-17 05:54] dagar commented on #8263
The IO should be updating at every boot. You can force it by holding down the safety at boot up.
If you connect a console you'll see what's going on. https://dev.px4.io/en/debug/system_console.html

[2017-11-17 05:58] dagar commented on #8246
I'm thinking this might be more of a usability issue? There are many cases where it's not clear if the mission shown in QGC is synced and accepted by the vehicle.

[2017-11-17 06:31] dagar commented on #8280
I don't think this is related to enabled parameters (and that big PR was never merged), but I see your point.

I'm wondering if it's something with the parameter culling combined with out of source modules (FC_ADDON)? @ChristophTobler can you diff the parameters.xml in each build (posix + qurt)?

[2017-11-17 06:56] dagar commented on #8245
You're definitely on the right track. I'm wondering if it's the takeoff logic (mission started from landed?).

https://github.com/PX4/Firmware/blob/e9e663432b397e939db0a0e20a7f9fbf242dbf06/src/modules/navigator/mission.cpp#L209

[2017-11-17 10:59] sanderux commented on #8066
Latest insights is that it has something to do with the fact that my switch (from manual to mission) travels over another flightmode (ALTCTL). If is switch slowly from manual - altctl - mission the problem is gone.

[2017-11-17 11:54] AlexisTM commented on #6873
@realdealneil https://github.com/mavlink/mavros/blob/master/mavros/src/plugins/setpoint_velocity.cpp

[2017-11-17 11:55] AlexisTM commented on #6873
If you want to change the frame, use raw_setpoint; same type_mask and change the coordinate_frame according to the message.

[2017-11-17 12:14] kandai-wata opened #8305 "Solo PREFLIGHT FAIL: MAG SENSORS INCONSISTENT"
Hello,
I'm not sure if this could be an issue report, but I will post the problem here as I could not find any info on PX4Disscuss, or on other github repositories.

I am now working on flying 3DR Solo indoor with VICON for research.
As I googled and came to a conclusion that PX4 is the solution to incorporate VICON data using MavRos, and not Ardupilot (I hope this is true).
So I flashed PX4 with

[2017-11-17 15:30] dagar commented on #8305
The mag inconsistency check was only recently added, and from the sounds of it in this case it's catching that one of the mags has the wrong rotation.

https://github.com/PX4/Firmware/issues/7696

[2017-11-17 15:46] kandai-wata commented on #8305
Thank you for your reply.
Does that mean I should use the master older than #7696 ?
The magnetometer is fully equipped with Solo, so this is not a hardware problem, but a software problem catching wrong rotation??

[2017-11-17 15:53] dagar commented on #8305
It's a software bug on this particular hardware. You can increase COM_ARM_MAG to get around it, but know that one of the backup mags is actually incorrect. If the primary failed, the backup is worse than nothing. It's still present in older firmware, but slips through unnoticed without the check.

To verify this is definitely the issue you could create a flight log pointing the vehicle north and r

[2017-11-17 15:57] dagar commented on #8066
Ok, I think it's just the timing of the mission_result publication. Need to think about it overall, but we need to handle that differently.

[2017-11-17 16:14] PujieXin opened #8306 "Feature request"
**Bug Report** or **Feature Request**

For general questions please use [PX4 Discuss](http://discuss.px4.io/) or [Slack](slack.px4.io). Issue reports need to contain the items below:

 - Download the flight log file from the vehicle ([tutorial](https://docs.px4.io/en/flight-reporting.html))
 - Share the link to a log showing the problem on [PX4 Flight Review](http://logs.px4.io/)
 - Expected behav

[2017-11-17 16:18] PujieXin commented on #8306
is it possible to simulate multiple drones and vehicles(ArduRovers) in Gazebo Simulation?Which part should I modify? The multi vehicle launch file?https://github.com/PX4/Firmware/blob/master/launch/multi_uav_mavros_sitl.launch
Thank you for help in advance.

[2017-11-17 16:20] PujieXin opened #8307 "Feature Request"
*Feature Request*
is it possible to simulate multiple drones and vehicles(ArduRovers) in Gazebo Simulation?Which part should I modify? The multi vehicle launch file?https://github.com/PX4/Firmware/blob/master/launch/multi_uav_mavros_sitl.launch
Thank you for help in advance.

[2017-11-17 16:20] #8306 closed

[2017-11-17 17:03] ndepal commented on #8307
Have you seen this?
https://dev.px4.io/en/simulation/multi-vehicle-simulation.html

[2017-11-17 17:24] lamping7 commented on #8245
@dagar Nope. It isn't related to takeoff.

The problem is that it's being reset to false by `Mission::set_current_offboard_mission_item()` before `mission_result` is published here
https://github.com/PX4/Firmware/blob/e9e663432b397e939db0a0e20a7f9fbf242dbf06/src/modules/navigator/navigator_main.cpp#L722
or that `MavlinkMissionManager::send(const hrt_abstime now)` isn't called in time here
https://

[2017-11-17 17:40] dagar commented on #8245
Yes, the handling with mission_result is a bit of a mess and needs to be sorted out. It's been the source of several other issues.

Continuously publishing the reached bool and sequence number doesn't really make sense to me. When should we switch over to "no longer reached" for the next waypoint? It seems like navigator should be broadcasting once for each waypoint reached (and the seq number), b

[2017-11-17 17:42] dagar commented on #8305
This pull request should have the proper fix. https://github.com/PX4/Firmware/pull/8300

[2017-11-17 18:15] PujieXin commented on #8307
Yes， I check the multi_uav_mavros_sitl.launch file, I found there are 2 uav models loaded in this file. I mean to change one of the uav into ArduRover. Do you think this will be possible?  @ndepal

[2017-11-17 18:16] lamping7 commented on #8245
I'd expect to get a message with `seq_reached` == `seq_current` and `reached` = 1, then reset `reached` and advance `seq_current`. The problem with this is that the software is not really sequential and is asynchronous to some degree, relying on the navigator module to publish info to the mavlink module who periodically sends mavlink messages out. Without refactoring the whole thing you can force

[2017-11-17 18:37] taylorbodin opened #8308 "Mocap fusion failing silently in LPE"
**Feature Request**

Many onboard computers, such as my Odroid XU4, do not maintain their clocks when powered off. In my experience, LPE will not fuse mocap position estimates with time stamps significantly different from the current wall time. When mocap position estimates are sent from an offboard source, as is often the case with Vicon, these messages will get through fine, but LPE will silentl

[2017-11-17 18:41] dagar commented on #8245
Comparing seq_reached and seq_current in mavlink is another (potentially easy) option I was thinking about, but when should mavlink stop broadcasting the last waypoint reached?

How about...
 - anytime we're in mission mode and seq_reached is valid (between 0 and the max seq) mavlink would publish
 - switching out of mission or sending a new mission would reset seq_reached (-1)
 - mavlink broadcas

[2017-11-17 18:43] TSC21 commented on #8308
Sounds like something useful @taylorbodin. The best place to document it should be in https://dev.px4.io/en/ros/external_position_estimation.html. Feel free to PR against https://github.com/PX4/Devguide.

[2017-11-17 18:46] TSC21 commented on #8307
Unless you add the ArduRover model into `sitl_gazebo` and use the PX4 rover capabilities, that won't be possible. You may want to look for this on the SITL capabilities of Ardupilot instead.

[2017-11-17 18:50] TSC21 commented on #8270
Yes to both. Do you have a proposal that can be extended to a code change that fits this purpose? I guess we should automatically adjust the source of data to the frame we are working with.

[2017-11-17 18:51] TSC21 commented on #8270
Not the ideal approach IMO.

[2017-11-17 19:14] mhkabir commented on #8247
Small table indicating the use-cases I would like to support :

|   | Hardware triggering | Hardware feedback | Geotagging needed * | `camera_feedback` | `camera_trigger` | Current status |
| :---: | :---: | :---: |  :---: | :---: | :---: | :---: |
| VIO (active triggering) | :heavy_check_mark: | :heavy_multiplication_x:  | :heavy_multiplication_x: | :heavy_multiplication_x: | :heavy_check_mark: |

[2017-11-17 19:29] dagar commented on #8247
I think that sounds good, but I need to understand a few more of the pieces in detail including how we coordinate configuration with px4fmu.

[2017-11-17 19:45] lamping7 commented on #8245
I'm assuming that by mavlink broadcasting you're referring to the `MISSION_ITEM_REACHED` message. Correct me if I'm wrong.

In reality this isn't continuously sent (**at least not in SITL** -- because `_last_reached >= 0` is never satisfied (starts at -1) due to `mission_result.reached` always being overwritten by `Mission::set_current_offboard_mission_item()`)

I'm not sure if this still works as

[2017-11-17 21:33] aykutkabaoglu commented on #7068
Although i use up to date version of px4, i faced with same issue while i was sending x,y,z position and yaw data combination to setpoint_raw/local topic. Whenever i set some yaw value in the OFFBOARD mode, the device starts to spin around in simulations. If i set the ignore yaw bitmask, there is no problem with positions but, whenever i activate yaw bitmask or yaw_rate bitmask, i lose control and

[2017-11-17 21:42] realdealneil commented on #6873
I was able to use the /mavros/setpoint_raw/attitude packet to achieve my purposes.  I had to write an altitude/altitude rate controller, but that is working well now.  Thanks for the advice.  This thread can be marked completed.

[2017-11-17 21:53] tops4u commented on #8269
I did some tests with COM_ARM_WO_GPS set to FALSE

Here the Screenshot where I was able to ARM within the 20secs Window after Boot I was covering the GPS with a ESD Bag and my Hand (it lost the Lock), then rebooted the FMU and armed:
![armingwithin20secswo_gps](https://user-images.githubusercontent.com/6877067/32970585-eb2348e6-cbe9-11e7-93d8-b15ff8599617.png)

Messages in QGC:
![armingwithin20sec

[2017-11-17 21:57] tops4u commented on #8263
Disregard my Comments regarding the Disconnect/Connect Messages. I Crosschecked today and it seems to be a Power Issue when the Aircraft is only Powered from my Notebook via USB. As soon as I Power it up completely with the Flight Battery it behaves correctly. This may probably also explain the IO Processor going to Bootloader Mode if USB Power alone may have been insufficient.

Still this does no

[2017-11-17 22:52] imcnanie commented on #8196
Hi @bresch ! I'm very interested in helping re-implement this. How can I be part of the discussion?

[2017-11-17 23:37] dagar commented on #8245
It's not even a race condition (navigator is a single thread), just dumb code.
I think we can effectively fix this pretty easily.

With mavlink 2 you could add new fields, but this quickly gets into a larger discussion for mission protocol improvements. One thing I've wanted is a mission hash to ensure the GCS and vehicle are actually in sync.

[2017-11-17 23:38] dagar commented on #8245
Could you open a PR for the mission reached change? Otherwise I can do it after the v1.7.0 release is out (hopefully next week).

[2017-11-17 23:43] mhkabir commented on #8247
So I'm currently pulling everything related to hotshoe capture out of px4fmu and into camera_feedback.

We coordinate with the FMU app in the exactly same way as we do for camera trigger. For trigger, rcS sets the FMU to pwm4, and uses the other 2 pins for trigger control. With feedback enabled, it will set FMU to pwm3. Great way, FMU will not interfere/reconfigure any pins it doesn't control.

[2017-11-18 00:34] dagar commented on #8247
That sounds great for now. What I'm unsure about longer term is juggling the ownership of pins via rcS. It starts to fall apart when other modules want GPIOs, not to mention other boards.

[2017-11-18 00:38] dagar commented on #8196
@jlecoeur FYI

[2017-11-18 03:41] dagar opened #8310 "add IST8310 to all configs as an external mag"
- add to all builds
 - try to autostart everywhere
 - increase priority over lis3mdl? (IST8310 is temperature compensated)

@pkocmoud @j07rdi FYI

[2017-11-18 12:28] tops4u commented on #8268
Checked with QGC this is a Bug on the Firmware Side (https://github.com/mavlink/qgroundcontrol/issues/5833). Either the FlightMode is not transmitted correctly with the Heartbeat Message or the FC really does not check the FlightMode Switch at Boot Time.

[2017-11-18 12:31] taileron opened #8312 "3 mixer sources ch 5,6 completely stop other pwm outs ch 7 and 8"
I tried the following mixer (Convergence Vtol) for adding a tilt factor controlled by aux 3 on a PixFalcon with 1.7 rc 0 and 1 and as soon as there are 3 instead of 2 mixer sources (M: 3) the elevon outputs stop to work.
The tilt mechanism shows the desired behaviour in all cases and mixes all 3 souces in the right way. (it worked with the master 1.6 from august 17)

PWM info displays 0 us and no

[2017-11-18 16:52] #8239 closed

[2017-11-18 18:48] dagar opened #8315 "drivers unification"
- [ ] SPI for linux
 - [ ] I2C and SPI for QuRT
 - [ ] split platforms to nuttx/linux/qurt/sim?
 - [ ] require driver type, bus, address in Device constructor
 - [ ] "port" nuttx I2C and SPI drivers (mostly removing nuttx headers and types)
   - [ ] mpu9250
   - [ ] ms5611
   - [ ] all lidar
   - [ ] optional external i2c devices (lis3mdl, ist8310, hmc5883)
 - [ ] extract CDev from drivers/device

[2017-11-18 19:59] LorenzMeier commented on #8305
I'm closing this - please comment in the fix PR.

[2017-11-18 19:59] #8305 closed

[2017-11-18 20:17] tubeme opened #8316 "FW Attitude controller Diagram"
Hi guys,

We are are trying to get better understanding of the FF gains in the FW flight. I saw a old diagram from @tumbili for the attitude controller but could not find it anywhere in the dev guide or other place. Any ideas? If there is no such diagram created with graphic tools I could create them for the dev guide and provide them to @hamishwillee

![controller_structure](https://user-images.g

[2017-11-18 20:54] dagar commented on #8315
https://github.com/PX4/Firmware/pull/8317

[2017-11-18 22:49] hamishwillee commented on #8316
@bkueng Thoughts on this?
@tubeme Where would you put this in the guide?

[2017-11-19 12:05] ofreedream commented on #8305
nice

[2017-11-19 17:17] myeabhishek opened #8318 "PX4 SD card corrupted after a crash"
**Bug Report** or **Feature Request**

Hi Team,

I have a quadcopter in x config with v1.6.5 stable release firmware. My drone flipped and crashed while landing in manual mode. On early analysis it was found that the SD card got corrupt and we were not able to retrieve any logs from it.

Could it be because of issues like #8105 #7801 #7805 #7766 #7844 ?
What could be the possible reasons for SD ca

[2017-11-19 18:33] dagar commented on #8318
It's hard to say for sure without having data to review. How was the flight prior to landing? Can you elaborate on the crash? Did it flip over at touch down or while still in the air? Do you have other successful flights with this configuration (specific vehicle, autopilot, firmware revision)?

[2017-11-19 18:43] dagar commented on #8316
We should standardize on a particular tool and gradually get these together for all controllers. It's a fairly common request.

Options that immediately come to mind are https://www.draw.io/ for simplicity or using latex that lives in the repository. I think our best chance at keeping it up to date is to have the documentation in each module, but that won't be as easy to modify.

@priseborough any

[2017-11-19 18:46] JonReacher commented on #8247
Code aside, the features aspect looks great.

[2017-11-19 18:55] dagar opened #8319 "PX4 coding style guidelines + tooling"
Consider establishing PX4 coding style guidelines across all projects.

 - C++ (and python?) coding standards and style guidelines consistent across all PX4 projects
 - use clang-tidy to fix inconsistencies and gradually enforce
 - flight code should consider portions of HIC++ (http://www.codingstandard.com/section/index/) and MISRA C++

We need to be careful to not make it too difficult for new c

[2017-11-19 18:56] dagar commented on #8319
@bkueng @LorenzMeier @hamishwillee

[2017-11-19 19:00] dagar commented on #8277
Issue to discuss coding style in general - https://github.com/PX4/Firmware/issues/8319

[2017-11-19 19:20] myeabhishek commented on #8318
Manual flight before landing was stable and while landing the drone suddenly flipped and fell on the ground. It flipped in the air itself about 2m above the ground.

Yes I had successful manual flights before. Also we had successfully tested auto takeoff and hold as well.

Following are the details regarding the vehicle:

Firmware version: 1.6.5 stable release
Vehicle: Quad X

[2017-11-19 19:31] dagar commented on #8318
Did you look at the sdcard in a computer or through QGC? Is there anything at all on the card?

QGC should be saving telemetry logs to disk. If you can find the corresponding log it might have a clue.

[2017-11-19 22:03] hamishwillee commented on #8316
@dagar When you say "in each module" you mean storing the image in the github tree? Or were you talking out where you render it - ie here somewhere: https://dev.px4.io/en/middleware/modules_main.html ?

Does this sort of thing modify regularly - if not, then having in source is not a necessity.

Using a consistent tool makes a lot of sense.  I like draw.io and other web based systems a lot, but I'

[2017-11-19 22:08] hamishwillee commented on #8319
@julianoes @mrpollo I'd say this is a Dronecode level thingy, not just PX4.

[2017-11-19 22:16] dagar commented on #8316
Yes in each module means in the git tree. For example the FW attitude controller diagram would live right here in the FW attitude controller module. https://github.com/PX4/Firmware/tree/master/src/modules/fw_att_control

No it doesn't change that often, but I've seen quite a few bits of documentation spreadout across other directories in git (https://github.com/PX4/Firmware/tree/master/Documentati

[2017-11-19 22:34] hamishwillee commented on #8316
There is definitely a problem there, but the solution is arguable.  I look at https://github.com/PX4/Firmware/tree/master/Documentation and see unmanaged documentation that no one is likely to discover until too late, which has no clear owner, which may be out of date, which has not context. IMO all of that should be moved into the devguide and the directory removed.

In some cases it can be usefu

[2017-11-19 22:57] PujieXin opened #8320 "Multi vehicle can not be added"
Wrong:
expected exactly one input file as argument
while processing /home/ise/src/Firmware/launch/single_vehcile_spawn.launch:
Invalid <param> tag: Cannot load command parameter [iris_1_sdf]: command [/opt/ros/kinetic/share/xacro/xacro.py /home/ise/src/Firmware/Tools/sitl_gazebo/models/rotors_description/urdf/iris_base.xacro rotors_description_dir:=/home/ise/src/Firmware/Tools/sitl_gazebo/models/r

[2017-11-20 04:56] tdnet12434 commented on #8318
I always suggest everyone using px4 on pixhawk to use at least class 10 sd card.
Because of cheap class 4 china sd card that already placed inside pixhawk, sometimes easy to corrupt log file and prone make serious problem like this.

Which sd card are you using? I doubt, maybe writing rate is issue?

[2017-11-20 05:37] myeabhishek commented on #8318
@dagar The card is not mounting on windows, linux or mac. It needs to be formatted. I checked the microsd folder via ssh, there is a blank logs folder. The logs are not getting generated on this card now by even "Logger on" command.

@tdnet12434 Yes I am using the sd card that came with my pixhawk.

[2017-11-20 08:37] bkueng commented on #8316
We should definitely have controller diagrams on the dev-guide. If they're kept high-level they don't change often.

FYI @Stifael

[2017-11-20 10:09] priseborough commented on #8316
Is it possible to have the controller block diagram held with the source with links in the dev guide? Many of our controllers (eg TECS) are in libraries

I would not expect architecture diagrams to change often. Something in the code code comments

[2017-11-20 10:13] arun2204 commented on #8318
I am attaching the tlog file from Qgroundcontrol. I replayed this file and towards the end when my it crashed there was no data being received from the drone and then after the crash it tried to takeoff again.

Could it be that my pixhawk hanged as reported by people in the mentioned issues like #8105 and #7801 because of vmount?

[crash_log.tlog.zip](https://github.com/PX4/Firmware/files/1487205/

[2017-11-20 10:14] myeabhishek commented on #8318
I am attaching the tlog file from Qgroundcontrol. I replayed this file and towards the end when my it crashed there was no data being received from the drone and then after the crash it tried to takeoff again.

Could it be that my pixhawk hanged as reported by people in the mentioned issues like #8105 and #7801 because of vmount?

[crash_log.tlog.zip](https://github.com/PX4/Firmware/files/1487217/

[2017-11-20 10:15] bresch commented on #8196
Hi, @imcnanie , @jlecoeur is actively working on the control of a fully-actuated multicopter. His copter doesn't tilt to move but rather uses lateral thrust. (https://github.com/jlecoeur/Firmware/pull/1)
Using the modification he made in the Multicopter Position Controller to publish a 3D thrust and then writing a tiltrotor mixer that inherits from his mixer `mixer_multirotor_6dof`, you should be

[2017-11-20 13:05] tubeme commented on #8316
@hamishwillee @dagar I agree with @priseborough that this diagrams does not change very often and in the future they will change even less. So why make it harder to maintain with a lot of tools etc. Placing a simple JPG with the diagram is fair enough. I could do the diagrams in a couple of days with the Corel and I could make them look pretty catchy. We need not more than 4-5 diagrams for the dif

[2017-11-20 13:08] tubeme commented on #8316
@hamishwillee We could create a separate section called PX4 Controller Diagrams and place all the diagrams at one place. There are only certain people that need them and this way it will be much easier to find what you need with the rule of the "three clicks". Arranged this way google will make a good indexing as well and it will pop up in the search right away.

[2017-11-20 13:12] tubeme commented on #8316
If somebody can sketch the diagrams on paper, I will start making them digital. I could not find any diagram except this. BTW this diagram was dug deeper in a gitter chat and google search found it right away when I searched for the FF gain of PX4.

https://gitter.im/PX4/VTOL/archives/2015/05/22

[2017-11-20 13:20] tubeme commented on #8312
I had similar experience, but with another aspect of the mixer. If I use the AETRFG mixer and I want to use the rudder source in more than one channel then the rudder stop responding. The problem was that we had a wheel steering  servo and the and the control group 0 7 did not move the servo at all. So we tried control group 0 2 for the purpose but it did not work as well.

[2017-11-20 13:33] tubeme commented on #8318
@myeabhishek You could try to recover the card with HDD recovery tools if you cannot see any files on the card. If it not physically broken most likely you will succeed the recover the logs. The card is FAT32 or ExFAT so there is nothing special about the file system. It might be due to the broken MBR or something consequence from the sudden stop of power in the crash. Once you recover the files t

[2017-11-20 17:03] julianoes commented on #8319
So for Python I would vote to use [PEP8](https://www.python.org/dev/peps/pep-0008/).

While I agree that it would be nice to have all C++ code under the DroneCode umbrella consistent, I have to say that the current Firmware style is quite different from most projects around it (or included in it). This refers mostly to the style and white space, and less to standards and practices which are more a

[2017-11-20 17:18] mrpollo commented on #8319
Agree with @julianoes, on python we need enforce [PEP8](https://www.python.org/dev/peps/pep-0008/)

This is a tricky one to enforce, are we going to clean up the codebase on a single pass? whats the plan?

[2017-11-20 17:21] julianoes commented on #8319
For PEP8? I'd say file by file. I've done some PEP8ifying in the past every now and then when I touched a file.

[2017-11-20 17:24] mrpollo commented on #8319
Not just for PEP8 for the C++ code as well

[2017-11-20 22:30] hamishwillee commented on #8316
Thanks all!
1. Yes it is possible and easy to keep the images in source, but I would prefer not to do this. It is better to maintain all the docs in one place, if only so that people know what will be affected by moving, deleting or whatever the image.
   - In the general case I am pragmatic - if an image had to belong in source we would live with it.

2. @tubeme Thanks for offering to do the imag

[2017-11-21 07:35] huangwen0907 commented on #8297
@r0gelion

Maybe can fix you problem.

[2017-11-21 08:11] AlexisTM opened #8326 "Adding PX4 precompiled 1.6.5 Firmwares"
**Feature Request**

As the Firmware 1.7.0 is in release candidate phase; it might be good to publish all the precompiled Firmware 1.6.5 release in the release as it is one of the widely used.

[2017-11-21 09:08] Stifael commented on #8316
![pos_controller](https://user-images.githubusercontent.com/13449161/33063746-ac4d8840-cea3-11e7-8ad8-a08b6c3d2973.jpg)

note:
P-ctrl = proportional controller (not position controller)
PID-ctrl = proportional, integral, derivative controller

let me know if it needs more clarification

[2017-11-21 09:45] bresch commented on #8316
@tubeme Here is some work done a few month ago. It's quite accurate: http://discuss.px4.io/t/position-and-attitud-controllers-diagram/3186

[2017-11-21 14:14] TokyoClod opened #8329 "Simulate in Gazebo with ideal condition"
When I used the offboard mode in Gazebo to simulate the px4, i found it would oscillate in a small range after specified a certain pose (as the example in tutorial [0,0,2]). For the use of testing the algorithm of visual landing, i hope that the px4 can follow the command exactly.
I find the config file in [Firmware/posix-configs/SITL/init/lpe/iris](url) and [mavros/mavros/launch/px4_config.yaml](

[2017-11-21 14:33] TSC21 commented on #8329
@TokyoClod your question is not very clear. You want to know what do you have to modify/tweak to have the vehicle follow the command "exactly"? What does exactly mean?

[2017-11-21 14:42] tubeme commented on #8316
@Stifael @bresch Thanks I will start making them in Corel. I will make them in one style, pretty simple one @hamishwillee without blink blink :). I will keep the CDR sources so we could change them with time. Probably we could create a space somewhere to keep the CDR files so they are available for future edit.

@bresch  I see this graph is from the MC ATT controller. How about the FW ATT controll

[2017-11-21 15:01] TokyoClod commented on #8329
@TSC21 I want the px4 could stay static at the the setpoint without oscillation shown as following gif
![gif5 1](https://user-images.githubusercontent.com/26101730/33078977-4953a3e8-cf0f-11e7-9146-6a01bbcbfe14.gif)
I used position controller in offboard mode, setting the pose = [0,0,2].

[2017-11-21 15:04] TSC21 commented on #8329
It won't be static cause we have noise simulated on the sensors side.

[2017-11-21 15:08] TokyoClod commented on #8329
Then can i set the noise of sensors to zero?
I guess that it's in the config file of [https://github.com/PX4/Firmware/blob/master/posix-configs/SITL/init/lpe/iris](url). But i can't understand it clearly so don't know how to modify it.

[2017-11-21 15:55] lamping7 commented on #8245
@dagar According to the Waypoint protocol: http://qgroundcontrol.org/mavlink/waypoint_protocol#waypoint_reached_status_message_from_mav

This message shouldn't be sent continuously. It should only be sent when the WP is reached. I recommend making it adhere to the protocol as defined, just like ArduPilot has.

So, after the `MISSION_ITEM_REACHED` message is sent (via `send_mission_item_reached((ui

[2017-11-21 16:56] hiro64 opened #8330 "SITL compilation bug"
I just cloned the newest version and I am trying to compile the SITL simulation with Gazebo by running `make posix_sitl_default gazebo`. However, I am receiving some errors related to the mavlink libraries. It seems the mavlink_msg_hil_actuator_controls.h file from the mavlink folder is not being included. One of the errors when running make is below:

I tried it with last week's master and got th

[2017-11-21 17:00] TSC21 commented on #8330
Did you update all the submodules accordingly?

[2017-11-21 17:05] hiro64 commented on #8330
Yes, I ran `git submodule update --init --recursive` and they were updated with no problems.

[2017-11-21 17:46] dagar commented on #8326
We still have them in the CI system. I'll look at posting them to the github releases.

[2017-11-21 18:24] dagar commented on #8326
How's that? https://github.com/PX4/Firmware/releases/tag/v1.6.5

[2017-11-21 18:48] AlexisTM commented on #8326
Wonderful, thanks :)

[2017-11-21 18:49] #8326 closed

[2017-11-21 19:09] dagar commented on #8326
The CI system is currently in flux, but once it settles we can automate this.

[2017-11-21 19:37] dagar opened #8331 "firmware startup improvements"
The init scripts are becoming too complicated, and only the most common paths are tested. Additionally when users hit problems there's little to no feedback and often no helpful logging.

 - main rcS should be short, simple, and very readable
 - remove all board specifics from the main init scripts
 - rc.sensors per board
 - basic init levels with optional per board customization?
 - combined star

[2017-11-21 20:28] lamping7 commented on #8245
I've submitted a PR adhering to my comments above. See https://github.com/PX4/Firmware/pull/8332

[2017-11-21 22:10] LorenzMeier commented on #7696
Closed by #8300.

[2017-11-21 22:10] #7696 closed

[2017-11-21 22:11] LorenzMeier commented on #8171
Pixhawk mini flashing is standing - @bkueng could you please take a stab at that with @dagar?

[2017-11-21 22:42] dagar commented on #8171
I'm not sure if this is new, but it's concerning. Recent snapdragon log from the test team had many instances of most topics.

https://logs.px4.io/plot_app?log=2943d850-0853-40f3-b129-63f6e4c1e29e
https://logs.px4.io/plot_app?log=b6a86822-c2d5-496c-9261-c757e3604992

![pasted image at 2017_11_17 01_28 pm](https://user-images.githubusercontent.com/84712/33100564-de6f42c0-cee2-11e7-9d4b-1e333cee1cea

[2017-11-22 00:33] hamishwillee commented on #8316
Thanks all.

1. Presumably the different gains etc map to parameters.(?). I assume it would be useful to map these to the diagrams? If so:
   - propose do this in the document outside of the diagram
   - Can I have the mapping :-)
2.  Can I have the list of controllers that we aim to create? ... so we can make sure they all get done.

@tubeme Thanks!

Good idea. If they aren't huge we could reason

[2017-11-22 01:13] r0gelion commented on #8297
@huangwen0907 Thank you, the problem was solved with the process shown at the issue description.

@jlecoeur should we keep this issue open?

[2017-11-22 01:15] kandai-wata commented on #8126
I also had the same problem with cmake 3.2.2 on Ubuntu 14.04 LTS.
The above solution that @sparky002 had given worked well for me.
I guess cmake below 3.3 has a problem with INTERFACE library,
so it needs to be upgraded.

It's written in [stackoverflow](https://stackoverflow.com/questions/35630755/propagate-dependencies-to-header-only-externalproject-with-cmake).

[2017-11-22 01:45] 5t0ic opened #8333 "[SubmodulesClean] error 1"
The initial setup is not working whenever I try to "make distclean" Its consistently indicating error 1 when executed in the px4 console. When the command is issued from the custom eclipse ide it gives me a c/c++ error and sates "make *** [submodulesclean] Error 1".

The "make clean" function works but it doesn't help with the issue.

[2017-11-22 04:22] dagar commented on #8255
Fixed in https://github.com/PX4/Firmware/pull/8334

[2017-11-22 04:41] dagar commented on #8333
Which platform?

Does this work? `git submodule update --init --recursive`

[2017-11-22 05:56] dagar commented on #6231
WIP pull request - https://github.com/PX4/Firmware/pull/8336

[2017-11-22 09:37] ChristophTobler commented on #8280
fixed in https://github.com/PX4/Firmware/pull/8325

[2017-11-22 09:37] #8280 closed

[2017-11-22 13:11] ndepal commented on #8329
GPS noise is added in the `gazebo_mavlink_interface`: https://github.com/PX4/sitl_gazebo/blob/master/include/gazebo_mavlink_interface.h#L173

You can try setting both `gps_random_walk` and `gps_noise_density` to 0.

[2017-11-22 15:25] TokyoClod commented on #8330
i find the latest version Firmware missing the iris.sdf in [https://github.com/PX4/sitl_gazebo/tree/b052c97f7c3a2c39ab8ec06ae79c66431f16c659/models/iris](url)

[2017-11-22 17:04] bresch commented on #8316
@tubeme Indeed, for the FW controller, the attitude loop uses a proportional gain only (P-controller) and the rates loop uses a PI-controller with feedforward:
https://github.com/PX4/ecl/blob/b0300b97235d4c5907bd1ad8878550540403c933/attitude_fw/ecl_roll_controller.cpp#L130-L132
The feedforward isn't directly affecting the PI loop but improves a lot the tracking. Let's take for example a roll maneu

[2017-11-22 19:00] dagar opened #8342 "merge FMUv2 and FMUv3 board support"
FMUv3 started as FMUv2 + full 2mb flash + PX4 additional modules, then added support for detecting pixhawk variants (cube 2.1, pixhawk mini, etc). Due to the pixhawk mini shipping with an old bootloader it must be made function with the regular FMUv2 binary (which now needs runtime version detection).

TODO
 - FMUv3 must go back to being FMUv2 with full 2mb flash and additional PX4 drivers (no boa

[2017-11-23 00:33] hamishwillee commented on #8316
@bresch It might be useful to capture some of that information (https://github.com/PX4/Firmware/issues/8316#issuecomment-346413502) alongside the image :-)

[2017-11-23 05:40] TokyoClod commented on #8329
@ndepal
I cloned the latest version of Firmware and initialize the sitl_gazebo by
`git submodule update --init --recursive`
It happens that my `gazebo_mavlink_interface.h` just  has `ev_random_walk ` and `ev_noise_density`, has no  `gps_random_walk` and `gps_noise_density`?  I don't know why....
By setting `ev_random_walk ` and `ev_noise_density` to zero, it doesn't make any change in Gazebo simul

[2017-11-23 06:41] #8255 closed

[2017-11-23 07:22] JuChanyoung opened #8345 "Multiple IRIS Optical Flow"
I want to simulate the multiple iris optical flow model using ROS and Gazebo.

So I am using multi-vehicle simulations on the px4 development homepage.

However, it only includes the iris model.

The reason why the iris optical flow model is not used seems to be the problem with xacro and sdf.

How should I solve this problem?

[2017-11-23 09:03] bresch commented on #8312
@taileron Do you have everything on the MAIN outputs? Could you try to use AUX for the servos?

[2017-11-23 10:25] zarathustr commented on #8271
@dagar So when will we receive the 1.7.0 release? Then what are the main advances included in this release?

[2017-11-23 17:06] zarathustr commented on #8294
Nice work!

[2017-11-23 18:21] dagar commented on #8271
We're in the process of testing and resolving a few remaining issues. https://github.com/PX4/Firmware/milestone/23

It's a huge list of things (everything that went into master over the last 4-5 months).

[2017-11-23 21:26] taileron commented on #8312
@bresch the strange thing is that all others work properly and as soon as the third mixer source of ch 5,6 is removed ch 7,8 start to work again

[2017-11-24 08:07] LorenzMeier commented on #8342
Done! Thanks @dagar

[2017-11-24 08:07] #8342 closed

[2017-11-24 08:09] LorenzMeier commented on #8171
@MaEtUgR Could you comment on wether Windows builds right now? Is your toolchain ready to be released?

[2017-11-24 10:01] KochC opened #8349 "Unsupported FCU Error MAVROS"
**Bug Report**
The ```roslaunch mavros px4.launch``` with the adaption for my serial device ttyS0 works well.
I get the following outputs after running this:
[code]

but when I start the px4.launch and my own offboard.launch I get the following outputs with the FCU unsupported error:
[code]

[code]

[2017-11-24 10:03] ndepal commented on #8329
Ok, so the gps noise which has been added to SITL gazebo recently is not actually used yet in Firmware master, so you are getting noise-free GPS measurements from the simulator.

[2017-11-24 10:14] TSC21 commented on #8349
What's your flight controller?

[2017-11-24 10:17] TSC21 commented on #8330
@hiro64 it looks like you are don't have the Mavlink submodule updated. Try `make distclean`, then `git submodule sync --recursive` and then `git submodule update --init --recursive`.

[2017-11-24 10:46] vooon commented on #8349
You do not have a connection with FCU. After `MAVROS started` should be `CON: Got HEARTBEAT`.
Also your offboard node should subscribe to `/mavros/state` and wait [State.connected == true][1].

[1]: http://docs.ros.org/kinetic/api/mavros_msgs/html/msg/State.html

[2017-11-24 11:24] bkueng commented on #6189
I took a shot at this as well. It's not easy to get something useful though, we have too many connections already! :)

### Graphviz
The following uses graphviz, but with different placement algorithms (force-based to minimize the edge lengths) than above. This applies to the graphs:
- Dotted lines are publications
- each topic has it's own color
- `parameter_update` topic is excluded
- it's not co

[2017-11-24 12:01] KochC commented on #8349
ok so that means even the ```px4.launch```dose not work properly with my configuration.
I'm using a DroPix with the default PX4 FMU4 Firmware.

[2017-11-24 20:04] dagar commented on #6189
Awesome!

If we could do something like selectable filters on the side (modules and topics), and filter presets for a few common configurations I'd find it immediately useful.

Then for different parts of the documentation we could highlight only the relevant modules and data.

[2017-11-24 20:34] dagar opened #8355 "CI system track flash usage"
Ideas for Jenkins to help keep an eye on flash usage
 - record and plot flash usage over time per board
 - run bloaty (https://github.com/google/bloaty) and compare with latest stable master
 - bloaty plot over time (top 100 symbols or compilation units)?

Example

[code]

[2017-11-24 21:52] LorenzMeier commented on #6189
@bkueng Same feedback: Awesome, if we have filters it would be easier to use.

[2017-11-24 23:44] hamishwillee commented on #6189
What he said https://github.com/PX4/Firmware/issues/6189#issuecomment-346890361

It is very cool, but it there is a lot going on. Filtering would help a lot.

[2017-11-25 11:44] MaEtUgR opened #8357 "Windows support"
I currently use a VM running Ubuntu 16.04 to build PX4. But I always planned to get rid of it.
I'm sure a more native Windows support makes a ton of sense to be supported for community and commercial users/developers. It should be easy to use which means something like a one click setup.exe or even better in my opinion unpack the portable zip and run solution.

My current state is (and I invested

[2017-11-25 11:51] MaEtUgR commented on #8171
@LorenzMeier I didn't try the "original" old windows toolchain but last time I checked (already pretty long time ago) the build was broken. The new Toolchain is not ready yet, see https://github.com/PX4/Firmware/issues/8357 where I'll also post progress. I would not make the current release dependent on that. Correct me if I'm wrong but in my eyes Windows support is not just recently a problem oth

[2017-11-25 15:41] zarathustr opened #8358 "The new STM32H743VIT6 can be included as the variant px4fmu-v5-pro"
ST has released its most powerful processor STM32H7. The core clock speed can be up to 400MHz plus 2MB flash and 1MB ram. According to ST，the programming architecture of H7 will exactly be the same with F7. That is to say the ISR configuration and PIN would be consistent. So a suggestion is that some tiny revisions be added based on the px4fmu-v5，which supports the clock speed and ram size. Then j

[2017-11-25 16:16] LorenzMeier commented on #8358
We have already dev boards and will bring them up starting next week.

[2017-11-25 23:00] dagar opened #8359 "coverity create modeling file"
- mavlink and param null termination

https://scan.coverity.com/tune#writing-model

https://github.com/PX4/Firmware/blob/ce78f254c2212d91ddadf2b3c0bad714f50c4532/src/modules/mavlink/mavlink_parameters.cpp#L469-L474

[2017-11-26 01:23] dagar commented on #8357
Whichever way we go it needs CI support to continue working. Appveyor has MinGW, MSYS, Cygwin preinstalled. https://www.appveyor.com/docs/build-environment/

At a certain point it might be worth considering porting enough of the platform layer to std c++11 (threading mostly) and building with visual studio. Development on windows can actually be pretty good with the right tools.

[2017-11-26 09:37] jinchengde opened #8361 "Fixed Wing reject auto mission"
fixed wing cannot entry into auto mission

here is the flight log
https://logs.px4.io/plot_app?log=90d6dcd2-7b87-4963-9390-987c1d062b4a
https://logs.px4.io/plot_app?log=27b7223c-7d7b-4dba-b82a-da3229e546e0

[2017-11-26 10:30] AndreasAntener opened #8362 "The use of hard link copy operation for Nuttx blocks building on guest OS within host volume"
The Nuttx build uses hard links for Linux builds: https://github.com/PX4/Firmware/blob/master/platforms/nuttx/NuttX/CMakeLists.txt#L30

This doesn't work for guest OS build environments (Ubuntu in VMWare) when accessing the source on a host volume. Looking for ideas on how to make an exception for these build environments (they are fairly special so I don't think it's a common problem).

[2017-11-26 15:31] LorenzMeier opened #8367 "Potential critical NuttX alignment issue"
The full report is here and I'm including it to ensure that we're not forgetting about it:
https://bitbucket.org/nuttx/nuttx/issues/78/possible-bss-override-by-stack-coloration

@davids5 @dagar I would appreciate your review.

Thanks!

[2017-11-26 16:32] matanhavi commented on #8367
Note that for what I seen so far, for px4fmu there should be no issue, because the last var on the bss is _io_timer_channel_stats_, which is 4 byte aligned.
I have seen the issue because I didn't set BOARD_HAS_CAPTURE, '_once_' var has become the last one, and its uint8_t

[2017-11-26 18:00] BazookaJoe1900 commented on #8367
Note that for what I seen so far, for px4fmu there should be no issue, because the last var on the bss is io_timer_channel_stats, which is 4 byte aligned.
I have seen the issue because I didn't set BOARD_HAS_CAPTURE, 'once' var has become the last one, and its uint8_t

[2017-11-26 18:05] pineland opened #8368 "Multi-vehicle(Swarm UAV) Simulation Error"
Hi,
I'm trying to simulate multi-vehicle simulation under the following environment:
- Ubuntu 16.04 LTS, ROS kinetic, Gazebo 7
- guided on [the multi-vehicles simulation of Dronecode](https://dev.px4.io/en/simulation/multi-vehicle-simulation.html).

As guided by the procedure, I was faced with the following problem which occurred when I run 'roslaunch px4 multi_uav_mavros_sitl.launch'.

The error

[2017-11-26 18:38] dagar commented on #8362
Yes, this is a feature that helps when debugging NuttX in an IDE and modifying the source (that's actually the copy), then losing your change when rebuilding.

How does it fail on your setup?

[2017-11-26 18:49] dagar commented on #8361
Auto mission is being rejected because you don't have a valid position estimate.

![image](https://user-images.githubusercontent.com/84712/33243186-49f7af44-d2af-11e7-83a3-a0778b1152b7.png)

![image](https://user-images.githubusercontent.com/84712/33243246-5f2c7060-d2b0-11e7-9cce-165ff043c57b.png)

[6fb19372-e027-4b23-b0e8-5425d409f5f3.ulg.pdf](https://github.com/PX4/Firmware/files/1504138/6fb1937

[2017-11-26 18:57] dagar opened #8369 "commander error messages"
A common pain point (especially for new users) is the lack of useful error messages from commander when state transitions fail (arming or modes).

Maybe it's time for the event interface? http://discuss.px4.io/t/event-interface/2318

This has been mentioned in quite a few other places, but it's sufficiently annoying that I'm creating a new issue.

[2017-11-26 19:01] dagar commented on #8367
Add ALIGN to the linker scripts? https://github.com/PX4/Firmware/blob/master/nuttx-configs/px4fmu-v2/scripts/ld.script#L143

[2017-11-26 19:07] #8297 closed

[2017-11-26 19:41] dagar commented on #8333
Can you provide any update? Have you gone through the full toolchain installation? https://dev.px4.io/en/setup/dev_env.html

[2017-11-26 19:43] BazookaJoe1900 commented on #8367
Yes, I think that adding
. = ALIGN(4);
Should to the work.
Can you confirm?

[2017-11-26 19:46] davids5 commented on #8367
I will check and confirm it in the AM tomorrow.

[2017-11-26 21:19] priseborough commented on #8361
The inertial navigation is failing due to high vibration You need to reduce vibration levels by correct isolation of the autopilot.

Very high vibration levels
![screen shot 2017-11-27 at 8 17 08 am](https://user-images.githubusercontent.com/3596952/33244447-6352bfe6-d34b-11e7-86f0-8eeee2fba001.png)

GPS vertical velocity and baro vertical position innovations are diverging in the same direction
!

[2017-11-26 21:19] #8361 closed

[2017-11-26 22:24] hamishwillee commented on #8357
FWIW I tried the

[2017-11-27 01:18] jinchengde commented on #8361
thanks @priseborough

[2017-11-27 02:45] dagar commented on #8269
Improvements here. https://github.com/PX4/Firmware/pull/8374

[2017-11-27 08:03] bkueng commented on #8262
This got fixed in https://github.com/PX4/Firmware/pull/8328

[2017-11-27 08:03] #8262 closed

[2017-11-27 12:53] KochC commented on #8349
I connected the Telemetry2 from the Pixhawk to the Raspberry Pi
[code]

On my raspberry pi I can use ```ttyS0``` or ```serial0``` for the serial device. It is also switched on and its possible to read from. My user got the rights to read and write.

My Pixhawk is set to 912600 Baud 8N1 and my Raspberry is the same.

What else do I have to do?

[2017-11-27 12:59] tubeme opened #8376 "PX4 1.6.5 Stbl: Loiter switching BUG."
Hi guys,

We've had a total crash with a Skywalker, Plain Airplane profile. PX4 ver 1.6.5 stable.

https://logs.px4.io/plot_app?log=6daee88d-90d7-4cbe-abb7-440591fef87d

I think I found the reason but it is very strange and I need conformation. This is due to a BUG if I'm correct so please can you take a look and confirm the reason.

The pilot is not novice, it is pretty experienced one in terms o

[2017-11-27 13:44] MaEtUgR commented on #8357
@hamishwillee Thanks for your testing.
1. your VM took more than 3GB of download
2. Simulator is on the way (like I wrote) and this is also why I'm currently working in am VM
3. Never tried but I personally don't like the idea so I will only use it as soon as someone else prepares everything.
4. Compared to the "original" toolchain I at least documented. Basically every folder in the "Toolchain" o

[2017-11-27 13:53] LorenzMeier commented on #8376
On first pass it looks like a mechanical failure: Everything is going well up until the point when suddenly the system is not able to achieve the pitch demand any more:
https://logs.px4.io/plot_app?log=6daee88d-90d7-4cbe-abb7-440591fef87d#Nav-Pitch-Angular-Rate

It pitches up instead of the commanded down pitch. The pilot is not involved in this (he is not controlling the plane at this point). Cou

[2017-11-27 13:54] LorenzMeier commented on #8376
@dagar Happy to have your review as well.

[2017-11-27 14:53] vooon commented on #8349
Do not connect VCC - or power source of Pi or PH may blow.
Other pin correct.

Do you setup Pi3 to disable bluetooth and remap pl011 serial to header pins?
Also Pi2 need special lines in config.txt to be able run at 921600, not sure about Pi3.

[2017-11-27 15:09] tubeme commented on #8316
@hamishwillee Here is the first diagram.

If you like the style I will continue with the rest.

@bresch Which diagram to use from the link you gave me ( http://discuss.px4.io/t/position-and-attitud-controllers-diagram/3186). There are couple of diagrams? Can you provide me with legend of the parameters? Do you have a diagram of your explanation about the FW controller and the FF gain, how does it

[2017-11-27 15:38] bresch commented on #8316
@tubeme Yes, I'll check and give you the corresponding parameters.

About the diagram you just did:
- I would suggest to use a different letter styles for the letter P in order to avoid confusion between position and P gain (e.g. use <img src="https://latex.codecogs.com/gif.latex?\mathcal{P}" title="\mathcal{P}" /> for the position vector)
- I don't think "- Ctrl" is needed in the controller recta

[2017-11-27 17:05] tubeme commented on #8376
@dagar @LorenzMeier

Thanks a lot for the quick response. But I could not agree with the mechanical failure so I changed the name again. Here is why I don't agree.

Usually the first thing I do is look for mechanical failure. And after I exhaust all the options I continue to look for some other reasons.  I spend at least 4 hours with this log. I haven't been at the flight, but I got very detailed

[2017-11-27 17:13] tubeme commented on #8376
@LorenzMeier The pitch demand could not be reached in the under speed condition as well...

[2017-11-27 17:30] bresch commented on #8376
@tubeme Are you sure the drone was in _stabilized/manual_ during the spin? From the log it seems that it started in _stabilized_ (not in _position_ as you described) and then switched to _Automode/Mission_

[2017-11-27 17:54] tubeme commented on #8376
@bresch Exactly my point. It was funny Manual... It does not have to be like this!!! It is a corner case, when he made a switch in the modes while Pause was still ON.

Pause (Loiter) should be implemented like RTL.

Before that it was not possible because you had to switch to Mission in order to have the Pause activated. But after a long discussions I think @AndreasAntener  made the Pause to work

[2017-11-27 18:01] tubeme commented on #8376
@bresch It happened after this issue: https://github.com/PX4/Firmware/issues/6733

[2017-11-27 18:04] tubeme commented on #8376
It is very good idea to give a pitch control in the loiter in order to climb or descend but other than that there should be no manual control. Otherwise it happens this :) Total crash

[2017-11-27 18:21] bresch commented on #8376
@tubeme I didn't dig into the implementation of the modes switch, but obviously this is a bug and has to be fixed. There is no reason that it goes into fully manual if you switch to stabilized.
However, with the current architecture, I don't think we could nicely implement a hybrid version with _stabilized_ pitch control while having the rest controlled by the _automode_ in loiter. Altitude manual

[2017-11-27 18:26] tubeme commented on #8376
@bresch Fair enough let it be Full Auto mode then as it is meant to be for now.

There is another approach to the problem. If it is in Pause, then the RC pitch up command could trigger MAV command for altitude gain or descend and not manual controlled one.

[2017-11-27 18:28] bresch commented on #8376
Even if it's unlikely that someone has the same problem soon (I don't think many people use loiter on a 2nd switch), but I set it to _Priority critical_ since it leads to an unexpected mode that can easily lead to a crash.

[2017-11-27 20:18] dagar commented on #8376
Coming in late, but I see 2 separate things here.

![image](https://user-images.githubusercontent.com/84712/33286391-358bada6-d383-11e7-8841-264b6f994679.png)

1. Something went wrong with the vehicle while it was loitering. First it started gaining altitude ~10:20, then it stalled and started diving. This seems to start approximately when the pilot flips the mode switch (pink line), but appears t

[2017-11-27 20:24] dagar commented on #8376
Standby, I may have found something.

[2017-11-27 20:39] dagar commented on #8376
Sigh, this is the IO taking over in MANUAL (main mode switch), and not aware of the FMU side logic respecting LOITER switch precedence. The controllers are still running, but unaware their output is ignored.

This is why we need everyone focused on using/developing/testing the same core feature set. I'll look into a short term fix for v1.7.0.
@acfloria FYI

[2017-11-27 22:52] LorenzMeier commented on #8367
@davids5 Did you have a chance to have a look?

[2017-11-27 22:56] davids5 commented on #8367
@LorenzMeier yes. Current build is not affected, but I will do a PR to avoid any future issues.

[2017-11-27 22:56] LorenzMeier commented on #8316
@tubeme Awesome! Is there a way to allow to edit this in a cloud tool, like draw.io?

[2017-11-27 22:56] LorenzMeier commented on #8367
Moving to v1.8.

[2017-11-27 23:18] hamishwillee commented on #8316
@tubeme Yes looks great :-). It [displays pretty well in gitbook too](https://hamishwillee.gitbooks.io/minimal-test-book-for-testing-gitbook-changes/content/v/ad010d75e629087f3f32d9fa8c6b4b40be1e7c87/en/test_docs/position_controller.html)!

1. We need to have an easy way to change if needed. Normally we suggest draw.io.
2. @bresch suggestions seem reasonable.
3. I like the legend. Will be good to

[2017-11-27 23:25] tubeme commented on #8376
@dagar I know he commanded RTL because of his explanation, but i see it was too late in the dive, so no time for recovery...

Probably we could omit the old style in favor of the new style. But the current new style with only 6 positions (that I can split in to multiple switches in the RC mixer) is not enough for more complex setups regarding the PRO use, being pro rider use (multiple of acro manu

[2017-11-27 23:41] dagar commented on #8376
Yes you can see the brief RTL in the my first plot (light red near the end).

[2017-11-28 00:01] r0gelion opened #8380 "FW crash v1.7.0-rc2"
Phantom flying wing with Pixhawk mini autopilot running v1.7.0-rc2 (V3).

After 6 successful flights, during the 7th flight, the pilot took off in manual mode, switched to Auto and the plane accelerated to maximum thrust uncontrollably; once switched back into manual the pilot reported only partial control, attempted to land manually but crashed due to the vast acceleration and only partial contro

[2017-11-28 01:17] hamishwillee commented on #8357
@MaEtUgR All sounds good to me. If you get a simulator running on Windows with everything else, in a system that can be updated/improved by others, you will become my most popular person (at least for a week or two) :-)

Yes, mine too.

[2017-11-28 02:12] ZP-useful commented on #7635
hello，i do the same thing with you, i also use mb1242 sonar to control the altitude, but when I witch mode to ALTITUDE ,the result is not good，the altitude sway up and down about 15cm, it not stay the goal altitude, Do you meet the problem before?Thank  you in advance!
this is my logs:https://logs.px4.io/plot_app?log=89c28b58-f256-4c96-a93f-2d4f053f96c9

[2017-11-28 05:25] dagar commented on #8380
I saw this log a couple days ago. The major thing that stands out is that the pitch demand is being ignored. There's also a sizable roll offset.

![image](https://user-images.githubusercontent.com/84712/33303553-c5b6e4b0-d3d1-11e7-982a-2a0d717c048d.png)

The other minor thing is that the maximum roll max is set to 0 (unconstrained). Resetting to the default should be fine.

![image](https://user-i

[2017-11-28 08:44] Stifael commented on #8316
@tubeme looks good. I think you forgot the position estimate label which is subtracted from the desired position setpoint.

I have some comments about documentation for math related implementation.

## Nomenclature
There are quite a lot of math symbols used in px4, and I am sure the amount of symbols will rather increase than decrease. Therefore I suggest to have a full list of Symbols within the

[2017-11-28 10:13] hamishwillee commented on #8316
@Stifael Could not agree more. Are you happy for us to steal your nomenclature and notation as a starting point for PX4?

@tubeme

What do you think would be the best thing to do in this case?

[2017-11-28 10:55] Stifael commented on #8316
Of course

[2017-11-28 11:22] pgorczak commented on #7736
I've encountered the same problems. My current workaround is using firmware v1.5.5 as mentioned in https://github.com/PX4/Firmware/issues/5651#issuecomment-324216864. X-Plane HiL just doesn't seem to work with newer firmwares.

[2017-11-28 11:28] tubeme commented on #8316
Thanks all let me think with all the info and I will post you with the idea about notations and nomenclature.

[2017-11-28 11:37] pgorczak commented on #7133
I'm encountering the same behavior sometimes. A workaround is making sure that the simulated airplane is parked and not moving much, then rebooting (or re-connecting the USB) of the px4. When hitting connect in the HIL window and waiting for a couple seconds, the state in QGC should be stable and reflecting the state in X-Plane.

[2017-11-28 11:53] hiro64 commented on #8330
@TSC21 I cloned it again into a new folder and ran these commands but it ended up going through the same problem... could it be something in my machine?

[2017-11-28 12:17] KochC commented on #8349
@vooon ok so because I'm not sure about the configuration of the ttyS0 port I tried to use a FTDI via USB.
[code]
I powered the Dropix by a separate USB and the Pi also with a separate USB.

px4.launch output is
[code]

so again no Heartbeat received.

Is it possible that its a PX4 problem?

[2017-11-28 12:25] bkueng commented on #6189
Thanks for your feedback and ideas. I agree the full graph is a bit too much. Although it can still be useful for certain cases (does not need to be the default view though).

I did the following updates:
- smooth fade in/out on hover
- added a search field
- exclude topics that have no publisher or no subscriber
- excluded src/examples
- double-click on a topic opens the `.msg` file definition (d

[2017-11-28 13:00] TSC21 commented on #8349
Do you have latest upstream master px4fmuv2_default loaded into the Dropix?

[2017-11-28 13:01] KochC commented on #8349
@TSC21 yes

[2017-11-28 13:02] TSC21 commented on #8349
What's the value of your `SYS_COMPANION` parameter currently?

[2017-11-28 13:06] KochC commented on #8349
@TSC21 ISYS_COMPANION is ```Companion Link (921600 baud, 8N1)```

[2017-11-28 13:47] KochC commented on #8349
well I again flashed the firmware, calibrated all sensors new, set the ```SYS_COMPANION``` to ```57600``` baud and adapted my launch file also to ```57600```baud and its working fine now 😂
@TSC21 and @voon, thanks a lot for your help.

[code]

[2017-11-28 13:48] #8349 closed

[2017-11-28 20:19] priseborough commented on #8269
Having a GPS lock does not mean the vehicle will arm. The EKF has to have passed it's internal GPS quality checks and started using GPS.

I will rework the 20 second startup check logic.

[2017-11-28 23:35] priseborough commented on #8269
I've reworked the checks and pushed the fix to https://github.com/PX4/Firmware/pull/8374

[2017-11-29 11:01] AbhishekGS commented on #8126
I had the same problem with cmake 3.2 on Bash on Windows 10. @sparky002 's solution worked like a charm.

[2017-11-29 11:15] AbhishekGS commented on #8357
@MaEtUgR , I would like to try your 'New MinGW Toolchain' solution. Please let me know how to get started.

[2017-11-29 11:46] KochC opened #8387 "OFFBOARD mode not accessible with RC or ROS"
**Bug Report**

I try to switch to the ```OFFBOARD``` mode, but it's still not possible.
I tried to switch with my RC, with a ROS-node and with the QGC.

 I set the ```RC_MAP_OFFB_SW```to my RC channel 5.

It's possible to switch for example from ```MANUAL```to ```STABILIZED```mode. Even with my ROS-node.

Do I have to use a specific airframe?

[2017-11-29 12:32] TSC21 commented on #8387
Are you publishing a stream of setpoints before changing to OFFBOARD mode?

[2017-11-29 12:33] KochC commented on #8387
@TSC21 yes, I just use the example code here:
[code]

[2017-11-29 12:36] TSC21 commented on #8387
What msgs do you get when you try to set to OFFBOARD mode?

[2017-11-29 12:39] KochC commented on #8387
I'm not sure if thats what you wanted. The Flightcontroller just gives that Error-Beeg (Bibo-Bibo)
[code]

[2017-11-29 12:41] TSC21 commented on #8387
I mean with QGC on (so you require to set the `gcs_url` also on the launch file). What do you get on the msg console?

[2017-11-29 12:42] TSC21 commented on #8387
Also, what's the output of `rostopic echo -n1 /diagnostics` and `rosrun mavros checkid`?

[2017-11-29 12:47] KochC commented on #8387
In my launch file I set this to the IP of my notebook so I get a connection with QGC via UDP:
[code]

[code]

[code]

[2017-11-29 12:49] KochC commented on #8387
If I just switch the ```OFFBOARD``` to ```STABILIZED``` in the example code, it works perfectly.

[2017-11-29 12:50] TSC21 commented on #8387
That's normal cause OFFBOARD have specific switching conditions.

[2017-11-29 12:54] TSC21 commented on #8387
Also, you don't have a position lock right? How do you expect to do OFFBOARD control of position without the vehicle knowing its position?

[2017-11-29 12:55] TSC21 commented on #8387
`ERROR. I got 1 addresses, but not your target 1:50`. Suspicious. Did you change the `comp_id` on the launch file?

[2017-11-29 12:59] KochC commented on #8387
Wenn no I did not change the id. Where can I find the id I have to set to?
So I need do attach a GPS to get a proper position lock correct? Let me try this.

[2017-11-29 13:31] KochC commented on #8387
This is the example launch file for PX4 based FCUs which I am using.  There is no ```comp_id``` to change :/
[code]

[2017-11-29 13:38] KochC commented on #8387
OK and I do not understand why it got no position lock in the simulation?

[2017-11-29 14:07] TSC21 commented on #8387
That's not what I'm seeing here: `<arg name="tgt_component" default="50" />`
Set it to 1.

[2017-11-29 14:27] vinhk opened #8388 "Issue with "make posix jmavsim""
Hi,

I get this error when I run it on my terminal:
[code]
This is the [tutorial](https://dev.px4.io/en/setup/building_px4.html)

[2017-11-29 14:49] KochC commented on #8387
Well that was the problem. I Still get the ```requesting home position```but the example works now.

[2017-11-29 14:49] #8387 closed

[2017-11-29 14:51] MaEtUgR commented on #8357
I uploaded it sometime before, I'll look for it and send you the link but you should know that it only ever compiled ARM targets and is not officially supported at all.

[2017-11-29 15:53] dagar commented on #8388
You need to install cmake. The instructions on the dev guide will walk you through installing all the dependencies.  https://dev.px4.io/en/setup/dev_env.html

[2017-11-29 15:53] #8388 closed

[2017-11-29 16:06] santiago3dr opened #8389 "RTL issues with multiCopter"
If engaging RTL multiple times in the same flight, the second+ instance of RTL goes towards a previously set path by the first RTL engagement.
Couple examples:
https://review.px4.io/plot_app?log=ed176590-4352-4516-b5ed-3892436d6477
https://review.px4.io/plot_app?log=d9c63fd1-1224-4be7-8985-932a2f670c78

@dagar

[2017-11-29 16:19] LorenzMeier commented on #8389
I think we need to fix this pre-release

[2017-11-29 23:18] r0gelion opened #8392 "F450 with Pixhawk 3 Pro v1.7.0-rc3 crash"
Flight of DJI F450 with Pixhawk 3 Pro autopilot using v1.7.0-rc3 (66d4a1b3)

The pilot reported the vehicle took off, switched to Auto, reached the first waypoint and it started to climb above 300 meters, the pilot commanded RTL through QGC, the vehicle started to move towards home position but kept gaining altitude. The pilot sent land command through QGC but the vehicle didn't respond, it only r

[2017-11-30 02:05] dagar commented on #8392
What history does this vehicle have? Does it have previous successful flights?

In mission mode when it was stuck in the climb the commanded throttle (blue line) went to the minimum (12%).

![image](https://user-images.githubusercontent.com/84712/33408894-d07b7ef8-d546-11e7-8043-02427790ac62.png)

Combined with the relatively high PWM_MIN of 1230 us the minimum motor outputs were around 1300us.

!

[2017-11-30 13:36] bresch commented on #8316
@hamishwillee @Stifael @tubeme I started to write a glossary containing symbols and acronyms useful in the context of PX4. I've been highly inspired by several aeronautic, control and robotics books I read and try to avoid confusion in the notation as much as possible.
Here is my fist version on the glossary: https://github.com/bresch/Glossary/blob/master/main.pdf
It needs to be ordered and sorted

[2017-11-30 16:07] sanderux opened #8396 "Camera trigger time based only when armed"
The time based camera trigger now activates at boot.
This should only activate when armed.

[2017-11-30 16:21] sanderux commented on #8389
I cant reproduce this in SITL, also i don't see this behavior in the logs posted but they are a bit hard to read.

[2017-11-30 16:44] r0gelion commented on #8392
That vehicle had previous successful flights with v1.7.0-rc1 (3744cac)
https://review.px4.io/plot_app?log=be5c0de0-606e-4279-b196-327e76d08d13
https://review.px4.io/plot_app?log=c8b76678-ccba-424b-9d7a-83e87428e8e2
https://review.px4.io/plot_app?log=ac3eb2a8-e718-4a24-9044-a64320994d67
https://review.px4.io/plot_app?log=29d7b3ee-3a91-469c-910f-6e3a1b77ba43
https://review.px4.io/plot_app?log=344bef

[2017-11-30 20:06] dagar commented on #8239
@zjjyyang could you please try this PR? https://github.com/PX4/Firmware/pull/8397

[2017-11-30 20:07] dagar commented on #6332
@lairay could you please try this PR? https://github.com/PX4/Firmware/pull/8397

[2017-11-30 21:05] hamishwillee commented on #8316
@bresch @Stifael Probably best if those of you with more experience in using these symbols decide if you're happy with the set.
My two bits:
- Is there any benefit in sorting by Latin, Greek, whatever? I would have thought perhaps by "Domain".
- I like that @Stifael version has units.
- How do we turn the two sets into one?

With respect to the acroymns, we can probably add them to the gitbook glo

[2017-12-01 00:17] r0gelion opened #8398 "F450 with Pixhawk 1 - f63c821 crash"
The pilot reported it was flying in Auto and was seing the vehicle following the mission in QGC, then the RC signal was lost and the vehicle crashed on the ceiling of a building.

This a screen capture of the messages in QGC
![qgc_messages](https://user-images.githubusercontent.com/5013954/33461994-da3699f2-d5e9-11e7-9eef-3e34d4edd1ce.jpg)

[Log](https://review.px4.io/plot_app?log=c087212c-24ec-40

[2017-12-01 07:08] yangang123 commented on #8358
good idea

[2017-12-01 12:01] xdwgood commented on #8398
Hi @r0gelion , I have some analysis, I hope I can help you  :smiley:
![screenshot from 2017-12-01 19-35-09](https://user-images.githubusercontent.com/24932258/33481331-fa2f40d4-d6ce-11e7-98a1-0dda6b8efd3c.png)
I downloaded the log and got the image above
I think the drone was normal throughout the flight . The pilot takes off in mission mode and the drone performs the map task well . The pilot swi

[2017-12-01 12:15] zarathustr commented on #8358
@LorenzMeier  Hi Lorenz, we have started the design of STM32H7 autopilot. We will mail you one once finished

[2017-12-01 12:33] xdwgood commented on #8392
@dagar  Is the green line a set height for the current task?  thanks :smiley:

[2017-12-01 20:22] r0gelion commented on #8398
@xdwgood Thank you for the analysis, I checked with the pilot and it makes sense.

I'm closing this issue.

[2017-12-01 20:22] #8398 closed

[2017-12-01 22:12] santiago3dr opened #8400 "MR: uncontrollable altitude gain when engaging auto or rtl"
Sequence of events

armed in position mode
engaged auto, mission rejected
took off in position mode
second attempt at engaging auto
copter took off with uncontrollable gain in altitude

rtl presented the same behavior
https://logs.px4.io/plot_app?log=01fbca4e-353b-4874-831a-03f091098584

@dagar

[2017-12-01 22:16] santiago3dr commented on #8400
similar events on the snapdragon flight controller (eagle)
https://logs.px4.io/plot_app?log=2943d850-0853-40f3-b129-63f6e4c1e29e

[2017-12-01 22:38] santiago3dr commented on #8400
was able to replicate the issue by engaging Auto once prior to obtaining global position and a second time once gps lock has been achieved:
https://logs.px4.io/plot_app?log=06bbc8b5-bf7d-4852-9001-8bffdc641596

[2017-12-02 01:49] hamishwillee commented on #8316
I have. It is very limited, and massively slows builds. Only matters to those of use who work locally, but is a complete pain.

[2017-12-02 11:42] LorenzMeier commented on #8400
@Stifael @MaEtUgR Could you please have a look?

[2017-12-02 11:43] LorenzMeier commented on #8392
@MaEtUgR @Stifael Could you please have a look?

[2017-12-02 11:43] LorenzMeier commented on #8389
@Stifael Could you have a look?

[2017-12-02 11:56] LorenzMeier commented on #8376
Fixed in the referenced PR.

[2017-12-02 11:56] #8376 closed

[2017-12-02 14:21] tops4u opened #8401 "ECL__Lib EKF stopping navigation -> Meaning?"
**Bug Report**

In various Logs I have seen this message, but I don't actually know what it means and what its implications are. Could you clarify the meaning and probably change the Message to something more understandable?

![ecl](https://user-images.githubusercontent.com/6877067/33516522-69606e6a-d774-11e7-874b-7893092ffcef.jpg)

[2017-12-02 17:46] dagar commented on #8401
At the beginning of the log it's harmless (and needs to be fixed).
ECL issue created here. https://github.com/PX4/ecl/issues/363

[2017-12-02 17:46] dagar commented on #8401
@priseborough FYI

[2017-12-02 19:31] tops4u commented on #8401
@dagar sorry for the duplicate, I was looking for the message in the Code and was not aware that lib ecl was a subproject of PX4. Shall I close this?

[2017-12-02 19:54] dagar commented on #8401
Not a problem. We can leave it open for tracking because even after ECL is updated the reference in Firmware needs to be updated as well.

[2017-12-03 06:12] garlinplus opened #8403 "ekf2 always output "EKF gps hgt timeout - reset to GPS""
When I arm my pane, and switch it to altitude mode.I find when GPS signal lost, the data link immediately lost,and the rc can not to switch mode.on this moment, the console always output "EKF gps hgt timeout - reset to GPS",and the console can not receive any character and command.I guess ekf2 thread block another threads.But I read the ekf code, only the main ekf2 thread will execute sleep and po

[2017-12-03 06:23] garlinplus opened #8404 "vtol attitude and position uorb topic advertise problem"
In vtol plane,the attitude and position message should be need for mc and fw attitude control and position control.But I find the attitude and position control topic are advertise and subscribe with orb_advertise function and orb_subscribe function.I read the code of uorb, and find when multiple subscriber subscribe the same topic without orb_subscribe_multi,the subscribers all read data from the

[2017-12-03 06:46] dagar commented on #8403
Which version of PX4? Can you share the flight log?

[2017-12-03 06:49] dagar commented on #8404
Could you be more specific? When vtol is enabled they're mostly using the virtual topics.

[2017-12-03 20:02] okfynr commented on #8126
I also got it working.
@sparky002 , thanx a lot!

[2017-12-03 23:30] priseborough commented on #8401
Will be fixed when https://github.com/PX4/Firmware/pull/8405 is merged.

[2017-12-04 01:09] garlinplus commented on #8404
For example, the data source of topic ORB_ID(vehicle_global_position) is only ekf2 or lpe or ina module.
But You can find that many modules subscribe the topic.In the driver of uorb, you can find that the kernel of uorb is a ring buffer.If there is one publisher, there only can be one subscriber.Otherwise, the data subscribed may be different of each. If the subscribing module is only use the stat

[2017-12-04 01:15] garlinplus commented on #8403
version 1.50

[2017-12-04 08:45] bresch commented on #8380
@r0gelion Link of the log is broken. Could you update it please?

[2017-12-04 09:00] bkueng commented on #8380
@bresch Works again. Sorry I messed up an upgrade.

[2017-12-04 09:02] bresch commented on #8380
@bkueng Thanks!

[2017-12-04 09:17] Stifael commented on #8389
I am also not able to reproduce it. so far I looked at the first log, and it seems that navigator sends out the correct setpoints.

[2017-12-04 09:53] Stifael commented on #8400
this behavior is reproducible in sitl: as @santiago3dr pointed out, if the pilot takes off in manual mode, the gps lock will occur in air with home.alt set to some large number. The pilot can now switch to auto mode (for instance hold) and the vehicle will gain in altitude.

@priseborough what is the desired behavior? Is it intended to have a home position set when vehicle is already in air?
The e

[2017-12-04 09:55] Stifael commented on #8400
could be related #8392...

[2017-12-04 09:59] LorenzMeier commented on #8400
The altitude should be reset. Taking off without GPS but switching to auto in air has to be supported.

[2017-12-04 09:59] LorenzMeier commented on #8400
Plus there is code already in the multicopter position controller to deal with the altitude reset.

[2017-12-04 10:13] Stifael commented on #8400
it only updates the reference if arming state is stand by:
https://github.com/PX4/Firmware/commit/f0e8abe783fa8fe9f7c73be89155f4b1ccb19f81#diff-fc77c3ef569029d45764664c75d4b0c1R865

[2017-12-04 10:15] Stifael commented on #8400
please also read the comment https://github.com/PX4/Firmware/commit/f0e8abe783fa8fe9f7c73be89155f4b1ccb19f81#diff-fc77c3ef569029d45764664c75d4b0c1R861

[2017-12-04 11:22] priseborough commented on #8400
We are dealing with the both the handling of 'home' and 'EKF origin' which have different uses.

The EKF origin's primary purpose is to enable NED local position data to be converted to global WGS-84 coordinates. The primary purpose of home is to provide a location for RTL recovery.

If the vehicle takes off before the EKF has started using GPS, the EKF WGS-84 origin will be set at the horizontal

[2017-12-04 11:25] LorenzMeier commented on #8400
RTL is locked out when home is not set. That is already dealt with here.

What you are describing as a potential fix for the Datum sounds reasonable. This is similar to what we had and I’m at loss when that got broken.

[2017-12-04 11:26] LorenzMeier commented on #8400
@priseborough could you have a stab at that?

[2017-12-04 11:28] priseborough commented on #8400
I'll look at it tomorrow.

[2017-12-04 12:32] MaEtUgR commented on #8357
Update: Cygwin SITL jMAVsim build https://github.com/PX4/Firmware/pull/8407

[2017-12-04 13:58] acfloria commented on #8380
@r0gelion It is probably not related to the crash but which airspeed sensor are you using?
I am asking because this value is quite high: `SENS_DPRES_OFF, 122.68370819091797`

[2017-12-04 15:00] tops4u opened #8408 "MC: LowBat RTL Performed at 5m Alt instead of 50m!"
**Bug Report**

I was doing some testing, when I ran into a LowBattery RTL. But instead of climbing to the Preset Alt of 50m in such a case, the Copter just turned face to me an returned at roughly 5m Altitude!

Log here: https://logs.px4.io/plot_app?log=d55046af-324a-4e6e-91ee-205b1f34bfc3

Landing was smooth an luckily the Street lantern was about 5m away.

Just to note I'm still running on 1.7

[2017-12-04 15:24] TobiMiller commented on #7937
same here.

[2017-12-04 15:25] TobiMiller commented on #8320
same here.

[2017-12-04 18:18] dagar commented on #8357
Yet another option to consider. https://blogs.msdn.microsoft.com/vcblog/2017/04/11/linux-development-with-c-in-visual-studio/

Visual studio is the "front end" editor, debugger, etc, and can build on a remote backend. That could be linux via windows bash, docker, VM, or actual machine.

I have no hands on experience with this yet, but I believe it's likely to be the best of both worlds.

[2017-12-04 18:41] r0gelion commented on #8380
@acfloria this is the airspeed used.

![img_20171204_102102](https://user-images.githubusercontent.com/5013954/33569786-a81cd186-d8df-11e7-8f7b-d2ae0ec5e2a5.jpg)

Thanks!

[2017-12-04 19:04] dagar commented on #8380
@acfloria in my experience that's a pretty typical offset for an MS4525.

[2017-12-04 20:25] LorenzMeier commented on #8389
@santiago3dr Could you please try to reproduce this?

[2017-12-04 20:36] dagar commented on #8408
That's for reporting in detail. This was a bug in master (briefly) and it looks like the fix was only a few commits after the one you flew.
https://github.com/PX4/Firmware/commit/98cbd445261238f5dfc0c036e0058b2a4508b7bc

[2017-12-04 20:57] santiago3dr commented on #8389
reproduced with pixracer (V4) running current master b21af47
https://logs.px4.io/plot_app?log=0a53df91-c2fe-4040-b0c1-451cacef2d09

of the 3 instances rtl was engaged, 1 and 2 took direct path home while the third attempt headed towards a path previously set by a prior instance of rtl
![rtl](https://user-images.githubusercontent.com/13203106/33575784-a060441a-d8f2-11e7-9389-66fea6977822.JPG)

[2017-12-04 23:31] priseborough commented on #8400
Switching to auto in the air without a home position is not possible if the mission contains RTL commands. A couple of ways to deal with this that come to mind are:

1) Checking the mission plan on receipt for RTL components and setting a 'home_required' attribute to true if any RTL commands are present. The implications of handling new mission uploads containing RTL components would need to be co

[2017-12-05 03:28] priseborough commented on #8400
To get option 2) to work we will need to add support for  MAV_CMD_DO_SET_HOME

The uploaded home location height will then need to be adjusted to be consistent with the takeoff height when vehicle_local_position.z_global goes true.

[2017-12-05 04:02] hamishwillee commented on #8357
Could be wrong, but I don't see the "building" part as the challenge - after all you can build on bash for windows. The problem is getting Simulation working (effectively) on windows - not sure this solves that.

[2017-12-05 06:22] dagar commented on #8400
Either way there are navigator changes with mission feasibility (including geofence), but I can help with that if needed.

I think the harder part (potentially) is deciding if a home position is to be required and then the interaction with the ground control station to require setting one. This includes implications for invalidating a mission based on a home position change.

[2017-12-05 06:24] tops4u commented on #8408
@Dagar :Thanks. Time for an Update I think.

[2017-12-05 06:24] #8408 closed

[2017-12-05 06:39] dagar commented on #8357
That's certainly a big part of it, but my feeling is that enabling effective development on Windows is going to need more than that. Like leveraging some of the strengths of working on Windows, rather than being confined to a slow somewhat crippled box (cygwin).

Otherwise why don't we just figure out a Linux virtualization solution with good 3D (for gazebo) and ship a giant preconfigured Ubuntu V

[2017-12-05 06:50] Stifael commented on #8400
Does it have to be that complicated?
Commander already takes care for not valid home position by not allowing to switch into rtl (https://github.com/PX4/Firmware/blob/master/src/modules/commander/state_machine_helper.cpp#L449).
For auto modes where no home position is required, I think it is only required to set the relative altitude to takeoff differently.

The way to reproduce:
- start sitl
- ar

[2017-12-05 06:51] priseborough commented on #8400
The easiest way initially would be to include it as part of the mission plan if takeoff without GPS is required. I see that QGC allows a home location waypoint to be inserted at the start of a mission sequence with an absolute altitude attribute, however it assigns it a command ID of 95 which is incorrect as it should be 179 according to the mavlink enumerates.

[2017-12-05 06:55] Stifael commented on #8400
a takeoff without gps (for instance flow) is already possible (https://github.com/PX4/Firmware/blob/master/src/modules/navigator/takeoff.cpp#L110-L114).
Again, I don't understand yet why we need to adjust the mission plan for that

[2017-12-05 06:58] Stifael commented on #8400
And I also think those are two different problems:
1.) auto related things without gps
2.) auto related things with gps but lock occurs after takeoff

[2017-12-05 06:59] priseborough commented on #8400
@Stifael I don't perceive this  as being as simple as just fixing a height offset. Getting auto to work safely without a home location is going to require hacking of the mission plan checking, geofence and RTL behaviours.

Maybe I am underestimating the work associated with setting a home location externally, but after a couple of hours looking through the code and trying hacks to work around the

[2017-12-05 07:02] priseborough commented on #8400
@Stifael I agree that selecting auto without global position should not be possible. I was not able to achieve that with my testing and the log provided with this issue does not have pre-arm logging enabled.

[2017-12-05 07:03] priseborough commented on #8400
What is important is the global vs local position validity, not whether there is GPS

[2017-12-05 07:07] Stifael commented on #8389
@santiago3dr thanks. it is a much simpler log and I think I just found a pattern

[2017-12-05 07:09] hamishwillee commented on #8357
You say slow and crippled, but the simulator is running about 1/2 again better FPS in cygwin than I was getting on VM. More important, it has not gone into the fails I get on VM (yet), probably due to some sorts of timing issues. If this can do gazebo/ARM it is already more effective for me than the VM.

NOw I agree that a real native build would be nice, but I'd take this today and that another d

[2017-12-05 07:09] LorenzMeier commented on #8400
I think the discussion veered off a bit. What we need to fix is very basic: Set and re-set a local altitude offset first on arming and then when GPS lock becomes available.

That is how we've done it for years and what has reliably been working. This has nothing to do at all with home and nothing with the EKF's origin. It has all to do with baro vs. global altitude.

[2017-12-05 07:14] Stifael commented on #8400
Thats what I meant

[2017-12-05 07:16] priseborough commented on #8400
'Taking off without GPS but switching to auto in air has to be supported.'

As ofr the altitude issue,  I have a patch that in theory looks after the altitude reference change, but do not know if it solves the problem because with my SITL testing using v1.7.0-rc3 I am unable to replicate the behaviour reported.

[2017-12-05 07:55] priseborough commented on #8400
OK, I can reproduce switching to hold mode after taking off without GPs and truing it on in flight

[2017-12-05 08:07] priseborough commented on #8400
Including the patch from https://github.com/priseborough/Firmware/commits/pr-refAltReset stops the climb when HOLD mode is selected.

[2017-12-05 09:02] Stifael commented on #8400
I quickly tested @priseborough patch.
- switching to hold works
- waypoint maneuver works
- altitude change does not work -> will increase in altitude even if demanding negative altitude change

Mission, rtl etc are rejected. Demanding mission, a message is shown which indicates that the vehicle is not ready. Demanding rtl, negative tone alarm appears, but no other message is printed (hence a user

[2017-12-05 09:21] Stifael commented on #8389
I can reproduce it now

[2017-12-05 09:45] priseborough commented on #8400
I got the following QGC message when I tried to change altitude from QGC after switching to hold (loiter) mode and commanding a height change.

![screen shot 2017-12-05 at 8 44 06 pm](https://user-images.githubusercontent.com/3596952/33600387-346c29f2-d9fd-11e7-8e27-3e8fb32919d5.png)

[2017-12-05 10:07] MaEtUgR commented on #8357
@hamishwillee I totally agree with you. The VM also has by far more disadvantages than a UNIX environment layer for me. That's why I'm actually doing this at all. I'm already working in a "figured out giant Ubuntu VMWare solution with good 3D (for gazebo)" and I don't like it. Additionally shipping it preconfigured would be a nightmare. We can still go more native after my attempts but it's alread

[2017-12-05 10:21] Stifael commented on #8389
here is a PR which solves the issue.
https://github.com/PX4/Firmware/pull/8412

[2017-12-05 10:41] priseborough commented on #8400
It looks like this is the source of the inconsistent QGC reported height: https://github.com/PX4/Firmware/blob/master/src/modules/mavlink/mavlink_messages.cpp#L1617

[2017-12-05 13:53] bartslinger opened #8413 "v1.7-rc3 'hangs' for split second after arm/disarm"
I am trying v1.7-rc3 which I flashed using QGroundControl by selecting the 'beta' option. It is a bare bones pixhawk, with an external HMC5883L compass connected to I2C. I selected airframe "Quadrotor + Tailsitter"

The brief hanging is most notable on disarm. The mavlink communication (over USB) is briefly suspended. Also notice the MAG0 Fail TOUT.

![hangs](https://i.imgur.com/sahSdrm.jpg)

[2017-12-05 14:01] TingKaiChen commented on #5213
Hi everyone,
I find a same problem on my Pixhawk-RaspberryPi connection.
The connection is via USB (/dev/ttyACM0) with baudrate=115200.
The firmware of my Pixhawk is APM:Copter V3.5.4 (284349c3)
I use the MavProxy to connect to the Nuttx shell by this [link](http://ardupilot.org/dev/docs/interfacing-with-pixhawk-using-the-nsh.html), and enter the nsh successfully.
But when I use the command "mavli

[2017-12-05 14:36] dongwoook opened #8414 "px4io causing inner loop latency"
The inner loop of PX4 involves several tasks, such as sensors, ekf2, mc_att_control, mc_pos_control, and px4io.
And in this loop, px4io is expected to read values from actuator_controls_0 topic and update PWM registers every 4ms.

However, px4io does several other things consuming CPU.
Every 20ms, it reads and publishes raw RC input and update arming state.
And every 200ms, it does DSM paring and

[2017-12-05 15:26] dagar commented on #8414
Which version of PX4 are you using?
Many of the priorities were already reviewed and adjusted a few months ago (after the last stable release). https://github.com/PX4/Firmware/blob/master/src/platforms/px4_tasks.h#L116

Before splitting the px4io into multiple threads (which requires a lot of additional memory) I'd recommend profiling the other routines (raw RC input, arming state, DSM, etc)

Here

[2017-12-05 15:43] dagar commented on #8414
A found a bigger problem. The MC attitude controller one of the highest priority tasks and updates when there's new gyro data, but the timestamp sample is still being set from the vehicle_attitude message.

gyro -> attitude controller -> rate controller -> px4io

    io latency: 73243 events, 44045138us elapsed, 601us avg, min 162us max 1922us 410.388us rms

https://github.com/PX4/Firmware/pull/84

[2017-12-05 15:54] dagar commented on #8413
How reproducible? Could you enable logging from boot to disarm and repeat? (SDLOG_MODE)

My first guess is the land detector updating the flight time (saved across 2 params).

[2017-12-05 16:18] bartslinger commented on #8413
Lol this is getting weirder. I changed SDLOG_MODE to "from boot to disarm". It doesn't hang on arm. If I disarm the first time, time goes faster in mavlink analyze tool. Other arm/disarm sequences following that don't have a hanging moment anymore. Haven't seen any Mag0 TOUTs with this parameter configuration. https://www.youtube.com/watch?v=egteCOn_hlY

With SDLOG_MODE on default, it happens ever

[2017-12-05 16:40] hiro64 commented on #8093
@leomatrix Did you manage to solve it?

[2017-12-05 16:48] raygamero opened #8416 "Geofence Max Alt Logic Too Abrupt, and does not protect user from commanding bad alt"
(This was discovered on a recent build on the Gazebo SIM)
User is able (without warning or lock-out) to command altitudes that are the same as the geofence max altitude.
For example.  The Geofence was set to 300 ft (terminate) and the mission takeoff altitude was set to 300 ft.  The aircraft climbed to 300 ft precisely and then flight terminated with the message "Maximum altitude above home exceed

[2017-12-05 16:56] dagar commented on #8413
Right, the logger itself. When logging actually begins it allocates a fairly large buffer, opens the file, writes parameters, perf, etc. When it stops it writes the perf update again.

[2017-12-05 17:01] dagar commented on #8413
Might not be the main culprit here, but param save should be improved regardless. https://github.com/PX4/Firmware/issues/8294

[2017-12-05 17:09] dagar commented on #8416
TODO

 - include the acceptance radius when checking the mission geofence validity.
 - geofence warn before breach (acceptance radius again?)
 - future work to consider - factor in vehicle velocity to retake control and prevent actual breach

[2017-12-05 17:25] dagar commented on #8413
For the time issues in mavlink it's likely the main logger task which has a higher priority than any of the mavlink threads.

[2017-12-05 18:03] bartslinger commented on #8413
But it should not have higher priority than the compass, right? Because I did get a Mag0 TOUT error message sometimes.

[2017-12-05 18:39] dagar commented on #8413
External I2C mags run in the high priority work queue (HPWORK), but so does the land detector.

Can you share the log that corresponds with your youtube video (or similar)? We can check the perf counters and logged cpu utilization.

[2017-12-05 21:27] priseborough commented on #8400
This PR should fix the height gain bug https://github.com/PX4/Firmware/pull/8418

The additional changes required to enable use of other AUTO modes will need to be postponed to until after the v1.7 release. I did find a handler for VEHICLE_CMD_DO_SET_HOME in commander.cpp

[2017-12-05 22:03] priseborough commented on #8400
@DonLakeFlyer Does QGC currently support sending a VEHICLE_CMD_DO_SET_HOME message? I can see where it can be inserted as part of a mission sequence, but not an option to send it as a vehicle command.

[2017-12-05 22:18] hamishwillee commented on #8093
What OS are you on too?

The dev guide toolchain instructions use scripts to set up everything for you for Ubuntu  - see [here](https://dev.px4.io/en/setup/dev_env_linux.html#development-toolchain). This includes Gazebo. I tried this recently and it worked fine building "end-to-end".

[2017-12-05 22:38] tops4u commented on #8413
I can confirm that I have seen MAG0 TOUT occasionally at Disarm (can't tell if just before, during or after).

Here a Log, showing the phenomenon (but here also my IOProc was blinking red for some strange reason - could this be related)?

https://review.px4.io/plot_app?log=89bd04af-1f92-4b8e-ab21-6dde1aab04ee

[2017-12-06 03:13] hamishwillee commented on #8316
@tubeme Any ETA on next iteration/Is this waiting on me/others for anything?

The discussion of the maths is just as important as the diagram. I've also had a request to capture the information about how the controllers work in a webinar format. If you guys are interested in helping with that, please email me hamishwillee at gmail dot com, or catch me on slack (hamishwillee)

[2017-12-06 03:42] avinash-palleti commented on #7759
Please check the WIP repo https://github.com/avinash-palleti/mavros/tree/rtps to integrate fast-RTPS support into MAVROS and provide feedback.

[2017-12-06 05:12] dagar commented on #8367
Fixed in https://github.com/PX4/Firmware/pull/8382.

[2017-12-06 05:12] #8367 closed

[2017-12-06 05:14] dagar commented on #8197
Caused by intermittent semaphoreci failure.

CI improvements (especially stability!) will be a focus after v1.7.0.

[2017-12-06 05:14] #8197 closed

[2017-12-06 05:34] mrpollo opened #8419 "Release v1.7 sign-off"
Is your team ready for a release?

* [x] Project / Founder - @LorenzMeier
* [x] Communication Architecture - @bkueng , @julianoes
* [ ] UI / UX - @dogmaphobic, @DonLakeFlyer
* [ ] Multicopter Flight Control - @Stifael, @MaEtUgR
* [x] VTOL Flight Control - @tumbili, @AndreasAntener, @sanderux @bresch
    * [x] VTOL standard
    * [x] VTOL tailsitter
    * [x] VTOL tiltrotor
* [x] Fixed Wing Flight

[2017-12-06 05:35] mrpollo commented on #8419
Here's the v1.6 release sign-off issue https://github.com/PX4/Firmware/issues/7258

[2017-12-06 05:40] dagar commented on #8414
I believe we can consider this resolved by https://github.com/PX4/Firmware/pull/8415.

[2017-12-06 05:40] #8414 closed

[2017-12-06 05:44] dagar commented on #7232
Is this the equivalent? https://github.com/PX4/Firmware/blob/master/src/drivers/boards/px4fmu-v4/board_config.h#L279

[2017-12-06 05:48] dagar commented on #7634
It's easy enough to bump the hard coded max, I'm just not sure if it could potentially damage someones setup?

[2017-12-06 05:49] dagar commented on #7527
Were you able to figure this out?

[2017-12-06 05:50] dagar commented on #7513
Any update?

[2017-12-06 05:52] dagar commented on #7547
Sorry Vasil, this slipped through without a response.
Has any of this been improved by v1.7.0RC?

[2017-12-06 05:53] dagar commented on #7379
Fixed.

[2017-12-06 05:53] #7379 closed

[2017-12-06 05:55] dagar commented on #7592
Should have been fixed. I'll double check that it's completely resolved for v1.7.0.

[2017-12-06 05:55] #7592 closed

[2017-12-06 05:56] #7652 closed

[2017-12-06 05:57] dagar commented on #7895
Partially done as part of v1.7.0.

[2017-12-06 05:57] #7895 closed

[2017-12-06 05:59] dagar commented on #7846
@sparky002 are you sure that wasn't rattitude mode working as intended (acro mode past a certain stick position)? Please recreate and post a flight log if you think it's still an issue.

[2017-12-06 05:59] #7846 closed

[2017-12-06 05:59] dagar commented on #7378
Should be resolved.

[2017-12-06 05:59] #7378 closed

[2017-12-06 06:03] dagar commented on #7324
I believe this has been improved. Please reopen if I'm wrong.

[2017-12-06 06:04] dagar commented on #8221
Still an issue?

[2017-12-06 06:05] dagar commented on #7217
Have you seen this recently Carl? If you see it again with a new log (.ulg) I have some things to check.

[2017-12-06 06:06] dagar commented on #7880
Please reopen if this is still an issue.

[2017-12-06 06:06] #7880 closed

[2017-12-06 06:09] dagar commented on #3894
Implemented.

[2017-12-06 06:09] #3894 closed

[2017-12-06 07:02] #8333 closed

[2017-12-06 07:05] #8256 closed

[2017-12-06 07:05] LorenzMeier commented on #8413
@bkueng Could you please look into this? I think the param save after disarming is too disconcerting in the logs and we need to find a better approach.

[2017-12-06 07:06] dagar commented on #8222
I believe this was resolved by @acfloria in https://github.com/PX4/Firmware/pull/8242. Please reopen if I'm mistaken.

[2017-12-06 07:06] #8222 closed

[2017-12-06 08:19] sanderux commented on #8419
Can we get a final release candidate for testing?

[2017-12-06 10:05] superware commented on #5122
Hi @dagar, do you know if this is implemented? thanks.

[2017-12-06 10:10] Changliu52 commented on #7527
I don’t think this is supported in px4. I implemented heading alignment between vision and mag externally, and realised it is not a trivial problem.

[2017-12-06 12:10] Changliu52 opened #8421 "Changing data rate in pixracer (px4 1.6.5)"
I am trying to increase imu data rate in pixracer and output through maros.
I tried to add the directory /etc/ in the sd card, and then added the file extra.txt with the content:

[code]
I then tested it through direct usb connection. But from mavros, the mavros/imu/data_raw is still published at 50 hz.
What did I do wrong?

Chang

[2017-12-06 15:08] CarlOlsson commented on #7217
Will do a test later today (Y)

[2017-12-06 15:23] taileron commented on #7634
found it already in drv_pwm_output.h so you´re right it changes the whole behavior of mixers and their center positions and probably needs to tune up particular mixers but as long the default limit setting of
 1000/2000 is active it should be harmless to increase the hardcoded absolute limit

[2017-12-06 16:14] CarlOlsson commented on #7217
@dagar I can't try this on our test plane with pixracer since I can't calibrate it, it is out of memory on current master.
![image](https://user-images.githubusercontent.com/7795133/33671750-cb3de7a2-daa8-11e7-85fd-8aebac388671.png)

Is this a known issue?

[2017-12-06 16:27] LorenzMeier commented on #8401
Removed that. Thanks!

[2017-12-06 16:27] #8401 closed

[2017-12-06 17:21] bkueng commented on #8413
I'll take a look. If urgent, we can increase the mag timeout (until we find something better), it is the lowest-risk change for the release.

[2017-12-06 17:22] dagar commented on #7634
Are you able to make the change, compile, and test? If not, I could open a new branch.

[2017-12-06 17:29] dagar commented on #7217
Partially. The memory used is dependant on how the system is configured. The pixracer is especially bad because it starts so many mavlink instances by default (esp8266, telem1, telem2, usb if connected).

Do you have USB connected? Do you have anything anything connected to telem 2 (set SYS_COMPANION appropriately)? Is logging started at boot or at arm (it allocates a large buffer)?

Most users do

[2017-12-06 17:32] mhkabir commented on #7527
This is now supported. We implemented frame alignment for vision-GPS fusion in EKF2. It will be in the v1.7 Release.

[2017-12-06 17:45] dagar commented on #7527
Thanks for the update Kabir.

[2017-12-06 17:45] #7527 closed

[2017-12-06 17:45] taileron commented on #7634
it works on a spare PixFalcon but now I have to change the mixers to fit again to the mechanics

[2017-12-06 17:50] dagar commented on #5122
No, but it's a fairly easy addition. My only concern is how a DO_CHANGE_SPEED is respected. If you set it during mission should it be preserved if you switch to loiter? I could see people wanting that most of the time, but from a safety perspective I think any mode change should reset to the default.

[2017-12-06 17:52] dagar commented on #8421
The file is `etc/extras.txt` (note the s).

[2017-12-06 19:18] LorenzMeier commented on #8316
Are we with these on draw.io yet? We need a workflow where control engineers can alter the diagram with minimal friction.

[2017-12-06 19:43] Changliu52 commented on #8421
Thanks for the reply.
Sorry. That was a typo in my question. I did have extras.txt in the /etc directory in my sd card.

Also I noticed that my sd card was completely empty. Is this normal? Or are there supposed to be some default files to edit rather than creating new files manually?

The pixracer doesn’t complain anything, but is it possible that the it has problem accessing the sd card?

Thanks

[2017-12-06 21:40] hamishwillee commented on #8316
@tubeme Would you like me to copy your diagram to draw.io for iteration - just to speed the process and make easier for anyone/everyone to edit?

[2017-12-06 23:21] CarlOlsson commented on #7217
I just tried setting up two systems with current master on pixracers, one phantom wing and one small quad configured with generic racer airframe. On both systems I reset all parameters, so everything default. On the first one I can't calibrate mag due to memory, on the second one (the quad) it was possible to do it but 50% of the times I try to arm I get mag inconsistency error. When trying to deb

[2017-12-06 23:25] CarlOlsson commented on #7217
Also, maybe it is not related but after I calibrated mag (and not doing anything) I got in QGC: "arming denied, low battery".
![image](https://user-images.githubusercontent.com/7795133/33690710-1d651fa0-dae5-11e7-8bef-a74974573641.png)

[2017-12-06 23:29] dagar commented on #7217
Try without USB and set SYS_COMPANION to 0 (at least temporarily).

[2017-12-06 23:48] CarlOlsson commented on #7217
Set SYS_COMPANION to 0 -> now I could connect via wifi, tried rebooting and arming 5 times, worked(Y). Only reported issue was mag tout
![image](https://user-images.githubusercontent.com/7795133/33691374-3af02de6-dae8-11e7-920d-533c0f3f9e26.png)

Will try the servo noise on param reset tomorrow

[2017-12-07 07:44] matanhavi commented on #8367
@davids5 Thanks!

[2017-12-07 07:44] BazookaJoe1900 commented on #8367
@davids5 Thanks!

[2017-12-07 08:20] LorenzMeier commented on #8400
Fixed - please re-test master.

[2017-12-07 08:20] #8400 closed

[2017-12-07 10:21] bkueng commented on #8413
Here's what I see from the log & code:
- No CPU spikes. But if some proces was busy/hogging the CPU for the amount of time needed to create the mag timeout (which is set to 300ms), I would expect to see a CPU spike in the log.
- all modules (commander, land detector & ekf2) that potentially change params after disarm do not notify the system
- The provided log shows that the landing detection happ

[2017-12-07 11:36] tops4u commented on #8413
@bkueng I had to switch to Stab and Disarm, as it seemed to me that Landing was not properly recognized and 2 Motors started to spin up. To prevent Flipping I decided to disarm myself.

[2017-12-07 12:47] superware commented on #5122
Think about altitude, what's the difference? IMHO the pilot should be aware of his current speed.

There's "max speed" as a param (which makes sense since it's a platform "configuration" value), and now we're talking about "current max target speed", right?

[2017-12-07 13:00] koshea7 opened #8429 "Anyone use PC with wifi router to control snapdragon drone with wifi receiver? Without use of a RC?"
**Bug Report** or **Feature Request**

For general questions please use [PX4 Discuss](http://discuss.px4.io/) or [Slack](slack.px4.io). Issue reports need to contain the items below:

 - Download the flight log file from the vehicle ([tutorial](https://docs.px4.io/en/flight-reporting.html))
 - Share the link to a log showing the problem on [PX4 Flight Review](http://logs.px4.io/)
 - Expected behav

[2017-12-07 13:37] CarlOlsson commented on #7217
@dagar yes the servo noise is still on master
![image](https://user-images.githubusercontent.com/7795133/33717944-14a77be8-db5c-11e7-93b1-92a59abb1078.png)
[logfile](https://logs.px4.io/plot_app?log=79f1532b-2e3a-4a52-9cbb-9f855b162370)

[2017-12-07 16:10] dagar commented on #8413
@bartslinger could you give master another try?

[2017-12-07 16:20] dagar commented on #8429
I've done this with a pixracer over wifi and it can work okay. At the very least I strongly recommend you start with RC. If the telem link proves to be reliable you can consider using it without RC.

Please use http://discuss.px4.io/ for general questions.

[2017-12-07 16:20] #8429 closed

[2017-12-07 16:25] dagar commented on #7217
Thanks, that's helpful. It might be the FMU module itself updating params.

[2017-12-07 16:36] dagar commented on #7217
Actually, it's higher level. Actuator controls is published by the attitude controller.

[2017-12-07 16:52] bartslinger commented on #8413
Still a bit of a hang visible in the mavlink comms during arm/disarm, when logging from arm till disarm. I haven't seen the Mag0 fail TOUT message on master.

[2017-12-07 17:08] dagar commented on #8413
The mag0 timeout is the larger concern. The hang in mavlink I consider more of an annoyance, but can also be improved (likely after v1.7.0.). The logger start and stop could be pushed into the low priority writer thread. https://github.com/PX4/Firmware/blob/master/src/modules/logger/logger.cpp#L1478

Thanks @bkueng!

[2017-12-07 19:20] dagar commented on #5122
Altitude is unambiguous because it's in the actual waypoint. DO_CHANGE_SPEED is a command that can be inserted at any point or sent as a separately as a command.

The question is what does that DO_CHANGE_SPEED apply to? The vehicles commanded speed for the entire mission, particular mission item or section, or even entire session?

It seems clear to me that DO_CHANGE_SPEED should be a temporary ad