[2018-05-17 09:49] alexcherpi commented on #9466
I solved my issue.
I removed gazebo using:
sudo apt-get remove '.*gazebo.*' '.*sdformat.*' '.*ignition-math.*' '.*ignition-msgs.*' '.*ignition-transport.*'
Then I installed ros-kinetic-desktop-full using:
sudo apt-get install ros-kinetic-desktop-full
Then I ran the bash script from px4 dev guide:
ubuntu_sim_ros_gazebo.sh

And then I was able to launch the px4-gazebo simulation:
make posix_sitl_ekf

[2018-05-17 09:50] #9466 closed

[2018-05-17 10:08] mrivi opened #9478 "Navigation Based on Local Coordinates"
With the growing importance of vision based navigation, our current navigation pipeline is a strong limitation since everything is handled in global coordinates.
Simple features like auto-takeoff, hold are not possible because trying to support them in both local and global coordinates is impossible with the current spaghetti structure of the navigator and commander modules.

@ChristophTobler  and

[2018-05-17 10:16] ChristophTobler commented on #9478
@Stifael and I already tried getting rid of the global dependency here https://github.com/PX4/Firmware/pull/7432 but that got canceled/forgotten because of the lacking support...
I really think we need this soon otherwise e.g. vision will never be integrated in a sustainable way

Side note: I vote for a commander/navigator rewrite! It's just a huge pain (or even impossible) to fix it in small port

[2018-05-17 10:19] LorenzMeier commented on #9478
How flexible are you next week for a vision focused meeting? 1-4 pm on Wednesday?

[2018-05-17 10:48] siddyyagno3 commented on #9463
@bkueng @mhkabir @LorenzMeier
Can I rule out that issue is due to configuration as in guide "The PX4 GPS stack automatically sets up the u-blox M8P modules to send and receive the correct messages over the UART or USB, depending on where the module is connected (to QGroundControl or the autopilot)."
When the rover module is connected using usb it is detected as rtk.

[2018-05-17 11:00] TSC21 commented on #9478
I will be interested on taking part on that effort too. But for the call, those times are only possible to me on Fridays.

[2018-05-17 11:28] TSC21 commented on #9477
@wkyoun the generic rover airframe is called `Generic Ground Vehicle`, and its config file is `50000_generic_ground_vehicle` (you can check the airframe reference here: https://dev.px4.io/en/airframes/airframe_reference.html). You should be able to choose it from the Airframe setup (https://docs.qgroundcontrol.com/en/SetupView/Airframe.html). As you can see in latest master for QGC, Rover metadata

[2018-05-17 14:39] glennliu opened #9479 "LPE- mocap fused but local_pose not synchronize"
Hi

I'm using PX4+Odroid+mavros with Optitrack system. Mocap data is published to PX4 through onboard Odroid Xu4's UART. In my first test, I control the drone manually with mocap data streamed to PX4. local_pose and mocap_pose plot are showed as below,

**mocap_x Vs local_pose_x**
![x](https://user-images.githubusercontent.com/8009679/40184215-3fbcf818-5a22-11e8-9fc5-4b4f4c46e155.png)

**mocap_y V

[2018-05-17 14:46] cesarengineer opened #9480 "Detected 0 radio channels. To operate PX4, you need at least 5 channels"
I have a pixhawk 3 PRO and have not been able to do RC radio calibration. I get this message "Detected 0 radio channels. To operate PX4, you need at least 5 channels" wondering if this issue has been solved or how it can be fixed? it looks like some kind of HW problem?. Any help will be appreciated thanks.

[2018-05-17 16:56] Kjkinney commented on #9474
@dagar do you want me to post one of our good flights for comparison?

[2018-05-17 16:59] dagar commented on #9474
Yes, that might be helpful.

Look at the accel magnitude change with the FW_ARSP_MODE parameter change. The system wasn't moving. I'll do some bench testing/debugging.

![image](https://user-images.githubusercontent.com/84712/40192314-f5d5e214-59d1-11e8-95ca-1c642676f0df.png)

[2018-05-17 17:02] dagar commented on #9474
Gyro as well. This doesn't correspond with any sensor calibration.

![image](https://user-images.githubusercontent.com/84712/40192467-7bfd797e-59d2-11e8-9921-65d97360cb7a.png)

[2018-05-17 17:05] dagar commented on #9474
When did sensor recalibration happen relative to the above logs?

[2018-05-17 17:31] Kjkinney commented on #9474
The first two logs are based off calibrations done on the 10th of may which was our first flight test on the build. The last log was a flight on may 10th which was using calibrations from earlier that day in a lab environment.

[2018-05-17 17:32] Kjkinney commented on #9474
https://review.px4.io/plot_app?log=7f3d1365-11eb-485f-850b-b8824882e4ed

Here is another bad log. After digging through some more logs I'm noticing that a common theme is that if parameters are changed the ekf appears to freakout for a bit.

[2018-05-17 17:58] jstrebel commented on #9455
This way worked for me.
## Cloning the Repository:
git clone https://github.com/PX4/Firmware.git
cd Firmware
## List the available tags:
git tag –l
## checkout the desired tag (i.e 1.7.4beta)
git checkout -b tags/v1.7.4beta
## Build the desired version:
make px4fmu-v2_default

[2018-05-18 01:29] hamishwillee commented on #9480
Hi @cesarengineer As per the [reporting issue instructions](https://docs.px4.io/en/#reporting-bugs--issues) best to discuss on the forums first. If it looks like a bug, you'll be directed to post an issue here.
It is distracting/time wasting to post here - effectively spam.

In addition, if this was to be posted here, you would need to provide a lot more information about your setup - you don't ev

[2018-05-18 01:29] #9480 closed

[2018-05-18 03:42] glennliu commented on #9479
Tried to increase mocap steram rate to 60hz. Results didn't change much.
![mocap_60hz](https://user-images.githubusercontent.com/8009679/40214997-8fb8048e-5a90-11e8-975f-e6171abf6b86.png)

[2018-05-18 04:11] glennliu commented on #9479
I put the drone on the ground static at different position. Local_pose can follow mocap_pose well. It just take a bit long response time.
![static](https://user-images.githubusercontent.com/8009679/40215695-84ad93d4-5a94-11e8-891d-90efc836d6da.png)

[2018-05-18 04:15] #9447 closed

[2018-05-18 06:55] tops4u commented on #9461
I did some testing on this and it left me with more confusion...

Took another UBX (M8Q) with the mRo Unit and it behaves identically as with the M8N. Tried then on a Dropix where it worked in all conditions, but then this may have been because of the difference of the Build Target. I took my older AUAV-X2 Unit and tried the same (this one is using the Default FMUv2 Target), and this behaved the s

[2018-05-18 07:27] bkueng commented on #9463
Most likely not, but you can try resetting it to factory defaults.

[2018-05-18 08:19] thomasgubler commented on #9379
Superseded by mavlink/qgroundcontrol#6438

[2018-05-18 08:19] #9379 closed

[2018-05-18 09:46] bresch commented on #9475
Hi @eliaswaddington . After looking at the log file, I see that the average hover throttle is ~80%. Your system seems to be highly underpowered (ideally, it should be <60%). This also correlates with the fact that the roll/pitch tracking is bad and I'm not surprised that you can't yaw properly.

If possible, you should first make hardware modifications (stronger propulsion system, lower TOW) befor

[2018-05-18 09:48] dahmanmed opened #9486 "Battery Parameters Visualisation not working in simulation"
Dear all,
I used qgroundcontrol with SITL PX4, but during in simulation  the value of current always= -1, for that I need to show variation of current consumed and energy consumed in simulation, please can you give relation of energy consumed,

[2018-05-18 09:49] #9475 closed

[2018-05-18 13:09] alexcherpi commented on #9466
@hamishwillee Yeah the Gazebo version 9 comes with the script [ubuntu_sim.sh](https://raw.githubusercontent.com/PX4/Devguide/master/build_scripts/ubuntu_sim.sh) you mentioned. Gazebo 7 comes with the ros version [ubuntu_sim_ros_gazebo.sh](https://raw.githubusercontent.com/PX4/Devguide/master/build_scripts/ubuntu_sim_ros_gazebo.sh). The issue with me (shown in the my previous comment in this issue)

[2018-05-18 16:44] lamping7 commented on #9486
https://github.com/PX4/Firmware/blob/2f553b956d43e407dd3e7a533d4a399cbd270bfe/src/modules/simulator/simulator_mavlink.cpp#L366

[2018-05-18 20:03] dahmanmed commented on #9486
so how can I to work with the current ? what's the solution

[2018-05-19 04:46] mcsauder commented on #9288
Hi @KJNKJNKJN , Does this stand out as an issue to you from your screen capture above?  I would seem to think that this could be part of your problem.  Perhaps not?

![image](https://user-images.githubusercontent.com/2497951/40265015-37ceea64-5aed-11e8-9dd1-87f433f26e5d.png)

[2018-05-19 04:48] mcsauder commented on #9288
Hi @KJNKJNKJN , Can you post your repo branch, version, etc. ?

[2018-05-19 04:56] mcsauder commented on #9279
@thomasgubler , @dagar , We are working on a basic driver parent class to begin unifying driver construction and are interested in your input.  Recent work on the lis3mdl driver and current work on the batt_smbus and mpu9250 driver represents some of the structure we have implemented, however, there might still be better architectures we haven't identified.  If you have opinions you would like to

[2018-05-19 16:49] dagar commented on #9279
I'm excited to see interest here. From a code maintenance, platform scalability, and developer sanity standpoint I think abstracting the common pieces of each driver type is long overdue. As a start take a look at the Airspeed class used by all differential pressure sensor drivers. https://github.com/PX4/Firmware/tree/master/src/lib/drivers/airspeed

As much as I love to eliminate code bloat and m

[2018-05-20 03:47] glennliu commented on #9479
Turns out its an wifi issue. Cause I used 5G wifi on Odroid to transmit mocap data.
When I tried ethernet to transmit mocap, results looks correct

![ethernet_mocap](https://user-images.githubusercontent.com/8009679/40275511-786b9b4e-5c23-11e8-9634-f95e845e8a7d.png)

[2018-05-20 06:50] hamishwillee commented on #9327
This issue occurs if you try run jMAVSim in a VM (virtualbox or VMWare). @dagar - told you it was a P.I.T.A.

[2018-05-20 07:06] hamishwillee commented on #9327
But it might be caused by something that has been introduced in the VM or in the Ubuntu image. This used to work, but I just tried older tag 1.7.1 and found the same failure.

[2018-05-21 01:32] hamishwillee commented on #9466
@alexcherpi Thank you. I suspect that the fixes that enabled support for Gazebo 9 came in after v1.7.3. I tested them on master.

[2018-05-21 09:03] LorenzMeier opened #9495 "Console output on Mac OS"
@MaEtUgR M
FYI

This change introduce a new issue in MacOS console:
[code]

PR that introduces this: https://github.com/PX4/Firmware/pull/9441#issuecomment-390569527

[2018-05-21 16:48] santiago3dr opened #9498 "Cannot upload mission to Intel Aero"
I am unable to upload a .plan mission file to the Intel Aero
Running Beta 1.8.0

QGC stable:
![1](https://user-images.githubusercontent.com/13203106/40319145-f372fd1a-5cdb-11e8-8399-7341e01d1bbf.JPG)

QGC Daily
![2](https://user-images.githubusercontent.com/13203106/40319151-f8d6811e-5cdb-11e8-992c-6794596938fe.JPG)
![3](https://user-images.githubusercontent.com/13203106/40319154-faec3aac-5cdb-11e

[2018-05-21 17:20] mhkabir commented on #9318
This is blocking SITL testing of multiple PRs. Is there someone who knows how this broke?

[2018-05-21 17:39] dagar commented on #9318
What is it blocking?

[2018-05-21 18:33] DonLakeFlyer commented on #9318
I gave up trying to get it to work with the problems documented above still happening. I can try it again.

[2018-05-21 19:29] dagar commented on #9318
This seems to be working for me with PX4 and QGC master as of about 15 minutes ago. I'm using Ubuntu with a Logitech gamepad and `make posix_sitl_default gazebo_iris`.

The only thing that was weird was defaulting "TX Mode" to 1 (left stick pitch instead of throttle), and for a gamepad having "Full down stick is zero throttle" works a lot better for altitude and position control modes.

![screensh

[2018-05-21 21:40] santiago3dr commented on #9498
it seems i hit the upper limit on allowed waypoints as a shorter 31 waypoint mission file can be uploaded without issue
![capture](https://user-images.githubusercontent.com/13203106/40331328-db9263f6-5d04-11e8-97c8-5813902c7c58.JPG)

[2018-05-22 07:21] limhyon opened #9499 "OneShot125 wit Hexacopter configuration"
**Bug Report**

PWM_RATE = 0,
and setup general hexa X configuration.
Motor 5,6 has 5~6usec shorter PWM.
HW = PX4FMU-V4, pixracer.

Can anyone thes this?

[2018-05-22 07:54] Ahrovan opened #9500 "Bug Report: Multi-Vehicle Interference in the storage and execution of the mission"
Implemented scenario just tell each uav's to move a specific location. when I used two uav's or more (our main code with 5 uav's) after push mission and send "arm" command's, all uav's moved to just one location not to the location specified in their mission.
<a href="http://upinja.com/khkm4" title="Multi-Vehicle Interference in the storage and execution of the mission"><img src="http://up.upinja.

[2018-05-22 08:34] limhyon opened #9501 "String evaluation problem"
https://github.com/PX4/Firmware/blob/f09f30586674958801f7724c39f96ac14fc9cab0/ROMFS/px4fmu_common/init.d/rcS#L563

Some text evaluation problem will occur
Should be changed to this x$MAVLINK_F

test with

set MAVLINK_F "-d /dev/ttyS1 -r 20000 -b 921600 -m onboard"

in autostart script.

[2018-05-22 08:40] xup682u03 opened #9502 ""make posix_sitl_default gazebo" with error"
I'm trying to use mavros to control PX4 in gazebo under ubuntu mate.
When I try to run "make posix_sitl_default gazebo", it failed everytime.
I google a lot and rebuild the whole system once but it didn't work.

The following is my error message:

![s__6782983](https://user-images.githubusercontent.com/39234690/40351123-3dcc1e52-5dde-11e8-9d60-089bf38fc99f.jpg)

![s__6782982](https://user-images.g

[2018-05-22 09:25] hamishwillee commented on #9502
Are you on a Ubuntu machine or within a virtual environment?

Is this current master Firmware?

Did you run one of the scripts here https://dev.px4.io/en/setup/dev_env_linux.html to set up your developer environment?

[2018-05-22 09:31] LorenzMeier commented on #9502
I'm closing this since the system `gz` program segfaulted. This has nothing to do with PX4 or the toolchain but is a Linux installation issue. Please install the latest Linux updates or updated version.

[2018-05-22 09:46] bkueng commented on #9499
I guess it's because motors 5 and 6 are on different timer channels. @davids5 do you know more? Could it be due to timer inaccuracies?

[2018-05-22 09:48] bkueng commented on #9501
Yes it should be:
[code]

Can you create a PR please?

[2018-05-22 10:11] xup682u03 commented on #9502
@hamishwillee
Oops, forgot to mention.
I'm using ubuntu on RPI3.
I will set up the developer environment and report the result. thanks.

[2018-05-22 10:15] xup682u03 commented on #9502
@LorenzMeier
Hi, thanks for reply.
Do you mean `sudo apt-get update`?

[2018-05-22 10:41] davids5 commented on #9499
One shot is only supported on a quad. This is because chan 1-4 are are one timer and 5-6 are on a separate timer. So synchronization is not possible.

[2018-05-22 13:08] lamping7 commented on #9500
This is not a sitl_gazebo issue. It's a firmware issue.

It's already documented: https://github.com/PX4/Firmware/issues/9046

If you follow that issue, you'll see I hacked together a quick fix.

[2018-05-22 13:08] #9500 closed

[2018-05-22 17:16] jstrebel opened #9505 "1.8.0beta does not "work" with QGC latest"
Hi,
I tried v1.8.0 (beta) f09f3058 and QGC 19eed083d 2018-05-21 18:23. With this setup, I get 7 times the error message "Critical: IGN MISSION_ITEM: No transfer"
QGC runs on OSX 10.13.5, Telemtrie Link is (433Mhz Telemetrie set) Serial 56kbps
[schafisheim18beta.plan.zip](https://github.com/PX4/Firmware/files/2027768/schafisheim18beta.plan.zip)

HW is PXFMU_V2 (V2)
when I upload the mission attache

[2018-05-22 17:21] jstrebel commented on #9505
here is the QGC log:
[qgc_log_latest.txt](https://github.com/PX4/Firmware/files/2027809/qgc_log_latest.txt)

[2018-05-22 19:04] gbaweja opened #9507 "Firmware/Tools/sitl_run.sh: line 167: kill: (20235) - No such process"
[code]

[2018-05-23 03:58] Antiheavy commented on #9505
We’ve also been getting these IGN errors using some old 3DR modems with 1.8.0beta

[2018-05-23 05:06] ryanjAA commented on #9505
Been getting the same ign messages on Rfd900 on one end and 3DR units (both actual 3DR ones and ones from Asia). Still uploads though and flies fine. Probably 10-15 flights with this.

[2018-05-23 05:29] dagar commented on #9505
@julianoes any ideas here?

[2018-05-23 06:28] LorenzMeier commented on #9505
Which version of QGC are you running? Is any type of OSD connected?

[2018-05-23 06:46] Ahrovan commented on #9500
Thank you, the problem was resolved

[2018-05-23 07:07] dagar commented on #8963
Initial pieces here. https://github.com/PX4/Firmware/tree/pr-mpu9250

[2018-05-23 07:19] beat commented on #9431
@thomasgubler Please use @bkueng for Beat Küng and not @beat ! Thanks :smile:

[2018-05-23 07:31] jstrebel commented on #9505
@Lorenz I run daily build QGC 19eed083d 2018-05-21 18:23. What does OSD mean, sorry for the ignorance.

[2018-05-23 07:34] hamishwillee commented on #9505
OSD is "On screen display". A board that pulls telemetry data from your flight controller and over-lays it on your First Person View monitor.

[2018-05-23 07:54] thomasgubler commented on #9431
➤ Paul Riseborough commented:

Data from a second GPs can now be recorded. With the https://github.com/priseborough/Firmware/tree/ekfGroundTruth-wip branch I was alos trying to log a groudn truth message with the equivalent loval position to enable overlay plotting with the EKF, but for a reason I have been unable to ascertain, the ground truth message is not being logged despite appearing if I ru

[2018-05-23 07:57] jstrebel commented on #9505
Thank you. QGC runs on OSX. All Telemetry Info is displayed on this Screen.

[2018-05-23 12:04] ryanjAA commented on #9505
Daily versions from last Friday through the several weeks prior. Apologizes I don’t have the exact versions but I can track them down. It happened so frequently we just finally ignored it. OSD I will check if it was turned on for telem2. Definitely was not using one but it may have been enabled. Spoke to @Dagar briefly about this. Could it be log streaming in qgc since that is kicking out the not

[2018-05-23 13:01] xup682u03 commented on #9502
@hamishwillee
Hi, this is the latest situation after `source ubuntu_sim_ros_gazebo.sh`.

![111](https://user-images.githubusercontent.com/39234690/40425809-03a612c0-5ecc-11e8-9e4d-d17760162d52.jpg)

Error in `gz': double free or corruption (out):  0x014ec748 ***
![222](https://user-images.githubusercontent.com/39234690/40425813-072abeaa-5ecc-11e8-9d07-f807296c3892.jpg)

ninja: build stopped" subco

[2018-05-23 14:10] AlexisTM opened #9513 "The Optical Flow Gazebo simulation is prohibitively slow on v1.8.0beta"
# Bug Report

### Explaination

The gazebo **optical flow** simulation is incredibly slow using 1.8.0b branch but fast using 1.7.3 branch.

Doing the simulation without PX4Flow works at full speed.

### Observations

On 1.8.0.beta **with** PX4Flow:
- When the copter moves, the real-time factor starts to drop as low as 0.02.
- When the copter is hovering, the copter has a real-time factor of 1.0.

[2018-05-23 14:27] dagar commented on #9513
Thanks for the detailed report, I've actually just started looking at getting optical flow into our CI system.

Would you be able to do any profiling (http://www.brendangregg.com/flamegraphs.html)? As a start you could simply run top or htop with all threads listed.

@TSC21 any initial thoughts here?

[2018-05-23 14:40] dagar commented on #9431
@thomasgubler https://github.com/PX4/Firmware/blob/master/src/modules/logger/logger.cpp#L663

[2018-05-23 15:40] AlexisTM commented on #9513
Flamegraphs seems awesome! I will try to use it tomorrow :)

[2018-05-23 16:01] AlexisTM commented on #9513
The two branches v1.7 3 and 1.8.0beta are using the same world; do it should not come from the world texture.

[2018-05-23 16:11] lamping7 opened #9515 "Navigator Mission Item Reached CI Failure"
**Bug Report**

Navigator didn't see that the waypoint was reached, resulting in an endless loiter around the waypoint.

[code]

http://ci.px4.io:8080/blue/organizations/jenkins/Firmware/detail/master/160/pipeline/797

https://logs.px4.io/plot_app?log=3cac1f0c-556e-4d0b-93a6-51b8fe3a2f13

[2018-05-23 16:22] mhkabir commented on #9513
I only see this issue on the uneven_ground world. In the asphalt_plane world, 1.8 functions as normal.

[2018-05-23 17:31] jstrebel commented on #9505
Log streaming was not enabled in QGC. It was impossible to ARM the pixhawk. However, with QGC 3.2.2 I was able to ARM the pixhawk and fly.

[2018-05-23 23:01] priseborough commented on #9431
OK, I had avoided that previously due to the inefficiency of not requiring half the data fields, but the data rate is low (5Hz) so the efficiency doesn't matter in this instance. I gave it a try here https://github.com/priseborough/Firmware/tree/ekfGroundTruth-wip-reworked , but still have the same problem - The uORB data can be read using listener, but does not show when plotting the log using th

[2018-05-24 05:44] bkueng commented on #9431
@priseborough the log contains the message.
`ulog_info <file.ulg>`:
[code]

But you forgot to set the `timestamp`.

[2018-05-24 07:56] lkoegel opened #9521 "GPS on Navio2 "NOT OK""
**Bug Report**

Hi everyone,
Just downloaded the most recent PX4/Firmware (master-Branch) build it on the Raspberry Pi 3 Model B.
After building an running PX4 the GPS status shows:

pxh> gps status
INFO  [gps] Main GPS
INFO  [gps] protocol: UBX
INFO  [gps] port: /dev/spidev0.0, baudrate: 0, status: NOT OK
INFO  [gps] sat info: disabled

<img width="757" alt="image" src="https://user-images.github

[2018-05-24 08:58] bkueng commented on #9521
Hi

#5440 got merged in https://github.com/PX4/Firmware/pull/5561. Did you check that the port `/dev/spidev0.0` is correct?

[2018-05-24 09:12] lkoegel commented on #9521
Hi

Thank you very much for your quick reply!
Port `/dev/spidev0.0` seems to be correct

This is an GPS Example stating (in line 7) that the GPS receiver is connected as an SPI device on 0.0
https://github.com/emlid/Navio2/blob/master/C%2B%2B/Examples/GPS/gps.cpp

[2018-05-24 12:06] bkueng commented on #9461
@tops4u thanks for providing me with the HW. I was able to reproduce it and this is what I found so far:
- the toolchain seems to affect the problem, but it seems not to be the cause
- moving the `gps start` to the end of the startup script resolves/works around the issue
- reopening the uart port helps too. Using this diff:
[code]
- When it fails to detect the GPS, this is what happens: the first

[2018-05-24 12:07] bkueng commented on #9463
I got my hands on a Here+, which is attached to a Pixhawk Pro. It works fine when flashing stable.

It means it's using the NMEA protocol instead of the u-blox protocol. This should not happen if you use the default config.

The board is probably out of memory. A reboot will help.

[2018-05-24 12:45] davids5 commented on #9461
@bkueng - I am trying to relate the late start of the gps driver fixing the problem.....

I would scope the interface and ensure the power and signals are clean. Ensure the power is not having a slow start or being toggled at boot.

what do you mean by affect but does not cause?

There is a high possibility it is memory corruption startup order would affect the memory layout.

Add a startup script

[2018-05-24 13:56] zarathustr opened #9523 "Logic bug in sensors main program"
Recently we find out that the sensors module will switch to worse sensor once the better sensor reaches a TOUT error. The program will not turn to use the better sensor when the connection is recovered. Actually at this time the sensor sampling timer loop has not been terminated. So the current state should be changed to use the better sensor as soon as it is again detected as good.

[2018-05-24 14:44] siddyyagno3 commented on #9463
Found the problem and Murphy was involved so the issue was with the Pixhawk2 cube carrier board's faulty gps port, some internal wiring and probably inadequate soldering. I found a spare DF13 connector and connected it to nice old pixhawk and everything was working.  I was banging my head on configuration or gps hardware but both were fine. Quality should be ramped up on Pixhawk2 cube carrier boar

[2018-05-24 14:44] #9463 closed

[2018-05-24 14:52] bkueng commented on #9463
Glad to see that you found it, thanks for letting us know.

[2018-05-24 17:10] dagar commented on #9523
This was an intentional to prevent sensors from ping ponging between healthy or not. Once a sensor is found to be unhealthy for any reason it's demoted for the entire session.

In the case of an external (preferred) sensor perhaps you add additional logic to restore the original priority after a relatively long probation period?

[2018-05-24 17:43] Seunghwan17 opened #9525 "If did the px4 lose a GPS signal , also lose attitude?"
https://logs.px4.io/plot_app?log=bcf031f0-9369-4d39-8c36-687dc51c967f

this is my log file.

I try to test takeoff drone using dronecore.

I success takeoff drone using dronecore severally, but this case my drone takeoff and lose attitude and fallen down.

Could explain this situation?

My guess is that location blocked surrounding building and lost GPS signal.
Is it right? or any other problem?

[2018-05-24 18:01] julianoes commented on #5082
@RomanBapst this might be something you want to fix:
https://github.com/PX4/Firmware/blob/b03cfd9afad56db99bb8d4681d5be5a1ce2207d3/src/modules/commander/PreflightCheck.cpp#L692-L696

[2018-05-25 08:05] bkueng opened #9526 "Wrong Voltage Divider for FMUv5"
On FMUv5 the default voltage divider is 10.133333333f (via `BOARD_BATTERY1_V_DIV`), which is correct when using it with a Pixracer Power Board, but it's incorrect when using the provided Power Module. In that case it needs to be around 18.2.

I did not check the current, but it's likely wrong too.

[2018-05-25 15:18] julianoes opened #9527 "jMAVSim SITL ekf2 starting/stopping navigation continuously"
Recently in SITL, I've been seeing ekf2 starting and stopping navigation continuously every few seconds.

This seems like a regression somewhere. I see this on macOS with jMAVSim on Java 8.

Here is log where the drone just sits there.
https://logs.px4.io/plot_app?log=8a5d658f-46d1-47a6-845d-44dc40247da6

Edit: this seems to happen back in April (8c9b941e604e6ed971059e5b5fce12b95e9020fb)

[code]

[2018-05-25 15:34] Seunghwan17 opened #9528 "My two pixracers have same uuid."
![vehicle22](https://user-images.githubusercontent.com/37061413/40553030-690c0be0-607c-11e8-9c21-41b2b52808ed.png)
![vehicle77](https://user-images.githubusercontent.com/37061413/40553031-693e6dc4-607c-11e8-9030-8f063cdf8249.png)

That's odd....
Why have same uid?

below pictures are version information.
![vehicle77-ver](https://user-images.githubusercontent.com/37061413/40553051-7aaee80e-607c-11e

[2018-05-25 15:35] santiago3dr commented on #9426
The safety switch enables/disables servo control.
Being able to run servos is important for a ground test prior to arming.

[2018-05-25 16:07] Seunghwan17 commented on #9528
My guess is my pixracers are clone products. So they looks like having same UUID. Anyone have a experience this?

[2018-05-26 01:15] dagar commented on #9444
Fixed!

[2018-05-26 01:15] #9444 closed

[2018-05-26 05:11] zarathustr commented on #9523
@dagar There is a real exceptional case. Let us suppose we have two IMUs mounting on the vehicle. While IMU1 is much better than IMU2 and less likely to break in real use. But unfortunately, bad thing happens, the IMU1 triggered an error randomly just ahead of IMU2. Then the system will automatically switch to IMU2 even if the IMU1 is recovered shortly. So I am going to enhance this point.

[2018-05-26 08:10] LorenzMeier commented on #9426
So in other words: If you use the PX4 safety switch on the plane you can disable everything. So no need to change anything.

[2018-05-26 08:10] #9426 closed

[2018-05-26 14:45] LorenzMeier commented on #9526
After investigating the maximum voltage we can support with this divider I believe the current spec on FMUv5 is too limited and we need to go to a higher default divider to support 12S setups.

@bkueng Could you please change the divider to the correct value for the supplied power module and make sure we update our documentation accordingly?

Thanks!

[2018-05-26 15:06] Antiheavy commented on #9527
I noticed the ekf start and stop navigation in SITL too. I started noticing it a month ago or so.  I’m running SITL in docker in Windows.

[2018-05-26 16:30] ryanjAA opened #9532 "fmu_v5 NSH some commands force an instant reboot"
Certain NSH commands via QGC on Master and Beta send it to an instant reboot.

For instance ver all works fine, tests all, etc but any of the airspeed commands send it to a reboot. Plugged in directly via usb only and only one airspeed (sdp3x) at a time plugged in (to i2c a). Even with no airspeed plugged in it does the same thing, reboots.

[2018-05-26 18:39] dagar commented on #9532
@DanielePettenuzzo any ideas? All currently supported differential pressure sensors (airspeed) are i2c.

[2018-05-26 19:27] ryanjAA commented on #9532
I am wrong, that command doent reboot it but it also wont let the sdp3x start.

[2018-05-26 19:31] DanielePettenuzzo commented on #9532
@ryanjAA if you connect the sensor to i2c-a and start the driver what message do you get on the console?
sdp3x_airspeed start -b 4

[2018-05-26 23:10] ryanjAA commented on #9532
Two firmware flashs and all set. Maybe something lingering from whatever firmware was sent over on it? I was playing with some can units but it’s working now. If it happens again I won’t reflash. I’ll keeep it and figure out why if it sticks but so far have several airspeed units working.

[2018-05-26 23:11] ryanjAA commented on #9532
So I guess to close this then it’s the argc checks. Maybe we should get that in the docs or add them to all commands.

[2018-05-27 00:14] Antiheavy commented on #9527
this is a post I made about it a while ago in PX4 Discuss:
http://discuss.px4.io/t/getting-ekf-gps-datra-stopped-in-sitl/6441

[2018-05-27 05:43] DanielePettenuzzo commented on #9532
@ryanjAA for the px4 firmware are you using latest master?

[2018-05-27 10:09] LorenzMeier opened #9533 "General support for rover research platform"
**Is your feature request related to a problem? Please describe.**
There is initial support for Rover in PX4 but it needs further polishing and integration. It would be great to have a polished, well-documented setup that suits basic research purposes.

**Describe the solution you'd like**
A complete airframe config for rovers, including a full CI integration tests.

**Additional context**
PX4 can

[2018-05-27 12:59] ryanjAA commented on #9532
@DanielePettenuzzo Yes. Latest master.

[2018-05-27 16:27] LorenzMeier commented on #9527
@julianoes Do you have the cycles to look into it?

[2018-05-27 16:28] dagar commented on #8801
Done!

Thanks @lamping7

[2018-05-27 16:28] #8801 closed

[2018-05-27 16:29] LorenzMeier commented on #8624
Closing as duplicate.

[2018-05-27 16:29] #8624 closed

[2018-05-27 16:30] #8541 closed

[2018-05-27 16:30] LorenzMeier commented on #8523
Is this issue still pending?

[2018-05-27 16:31] LorenzMeier commented on #8971
We have improved the indoor detection in ECL, so closing this.

[2018-05-27 16:31] #8971 closed

[2018-05-27 16:33] LorenzMeier opened #9534 "Audit CAN interface on FMUv5"
We need to validate the CAN interface on FMUv5 before the manufacturers enter mass production.

[2018-05-27 16:34] LorenzMeier commented on #9534
@bkueng Could you please validate the interface early next week?

[2018-05-27 16:38] dagar commented on #9233
Implemented.

[2018-05-27 16:38] #9233 closed

[2018-05-27 16:40] LorenzMeier commented on #9532
@bkueng Sounds like argc handling needs an audit.

[2018-05-27 16:51] dagar commented on #9532
The driver boilerplate is all copypasta and would greatly benefit from ModuleBase or similar.

[2018-05-27 18:27] dagar commented on #8523
@urlu75 could you quickly verify the internal sensors and orientations on a pixhack v3?

[2018-05-27 18:31] dagar commented on #9534
If at all relevant please consider syncing up with UAVCAN. https://github.com/PX4/Firmware/pull/9219

[2018-05-27 18:34] dagar commented on #9534
I don't know the state of this, but CAN init for FMUv5 is marked WIP and not included in the PX4 side board support - https://github.com/PX4/Firmware/blob/master/src/drivers/boards/px4fmu-v5/CMakeLists.txt#L35

@davids5 do you know of any issues with CAN support for FMUv5 or stm32f7 in general?

[2018-05-27 18:37] DanielePettenuzzo opened #9537 "FMU LEDs not working properly on Pixhawk 4"
During boot up Power LED is blinking (GREEN LED) and other two LEDs are off. After booting the Power LED turns off and the ACT LED is on (BLUE LED). When I arm the ACT and B/E LEDS (BLUE and RED LEDS) both start blinking.

I checked in the board config for fmu-v5 and the pins for the three LEDs are assigned correctly, although it seems like these are not used because even if I set them as floating

[2018-05-27 18:37] DanielePettenuzzo commented on #9537
FYI @LorenzMeier @bkueng

[2018-05-27 19:50] urlu75 commented on #8523
yes but ... how do you do that, what would you need ?

[2018-05-27 20:42] dagar opened #9539 "review parameter metadata groups"
There are some obvious inconsistencies (sensor calibration param groups) that could be resolved quickly before the release.

[2018-05-27 22:53] ryanjAA opened #9540 "FW Mission Start - Wheel increases to max deflection (max pwm value)"
When starting a mission the nose wheel servo instantly increases to ~2000 pwm and there is no time to recover (turns much too much) - need to actually decrease max angles at which the servo can turn but this is a new issue. Here are three logs with this occurring several times during each log. I was able to fly the missions due to some manual offsetting of the wheel but if left centered it would n

[2018-05-27 22:53] ryanjAA commented on #9540
@dagar

[2018-05-28 09:56] bkueng commented on #9505
I can reproduce this with QGC master and an older version (f1e2638cad24b07b1b and 1e856cc). It means that the vehicle received a mission item, but it was not in upload mode (it did not get a MAVLINK_MSG_ID_MISSION_COUNT before).

Here's the transfer output:
[code]

The received mission item is a duplicate of the previously received one (same `seq`). The mission manager already received the last it

[2018-05-28 09:57] #9505 closed

[2018-05-28 10:17] LorenzMeier commented on #9513
@mhkabir Do you want to send a PR to fix?

[2018-05-28 10:19] mhkabir commented on #9513
It's not a fix, it's rather a workaround. Something is broken in 1.8 which needs fixing. I can send in the workaround, but do not recommend it for the release instead of fixing whatever is wrong.

[2018-05-28 10:21] LorenzMeier commented on #9513
Not necessarily. For setups that were borderline in terms of CPU a more complex terrain model might be all it takes to break them.

[2018-05-28 10:23] LorenzMeier opened #9548 "Commander low on stack"
Need to increase the commander stack space: https://logs.px4.io/plot_app?log=6e1d5fa1-8c97-4b1c-b44a-261d175de857

[2018-05-28 10:38] LorenzMeier opened #9549 "Tighten GPS fix check"
**Describe the bug**
The u-blox M8N module over-estimates its accuracy in a multipath or indoor setups.

**To Reproduce**
Run a u-blox M8 inside a house and observe the reported accuracy.

**Expected behavior**
We need a way to distinguish good reception on a plain field from bad reception inside a house.

**Log Files and Screenshots**

Log file is at the home of the user, so not suitable to share

[2018-05-28 10:50] priseborough commented on #9549
We have a range of EKF internal checks that that can be tightened or enabled. See EKF2_GPS_CHECK parameter which is a bitmask that enables the various checks and the various EKF2_REQ_* parameters that control the check thresholds.

Some of those checks such as EKF2_REQ_HDRIFT, EKF2_REQ_VDRIFT are not enabled by default because they require the vehicle to be static, but can detect a bad GPS solutio

[2018-05-28 11:12] bkueng commented on #8782
Fixed

[2018-05-28 11:12] #8782 closed

[2018-05-28 11:44] mhkabir commented on #9513
It's not borderline as far as I can see. The complex terrain model works perfectly on v1.7.3 across the full range of vehicle dynamics on the same computer without any drop in framerate compared to the vanilla simulation.

See @AlexisTM's detailed report in the issue.

[2018-05-28 13:38] #9526 closed

[2018-05-28 16:35] davids5 commented on #9534
@dagar IIRC the V5 board only uses CAN 1 & 2 (not CAN 3) the stm32_can file for nuttx in the board configs is a no-op on most of the platforms. UAVCAN use the HW directly. This should be tested on both busses.

[2018-05-28 17:07] LorenzMeier commented on #9521
@bkueng Any additional insights?

[2018-05-28 17:21] LorenzMeier commented on #9495
Fixed!

[2018-05-28 17:21] #9495 closed

[2018-05-28 18:36] ana-GT opened #9554 "catkin build fails -- Fails to find headers from ecl/"
**Describe the bug**
Compiling Firmware as a ROS package using catkin build fails, due to catkin not finding headers located in the src/lib/ecl/ folder.

Firmware itself builds fine when I use standard: mkdir build && cd build && cmake .. && make. I used this approach when first trying out the PX4/Firmware software, but now I was going to proceed to use ROS, so I wanted to build the PX4/Firmware a

[2018-05-28 19:02] pietropier opened #9555 "Forcing upload of px4fmu-v3_default"
Hi all,

by running ver all on mavproxy I verified my Pixhawk doesn't have the 1Mb memory issue. However, when trying to upload the built I get this error:

[code]

How/where am I supposed to specify this "--force" option?

Thanks in advance

[2018-05-28 22:14] Hs293Go opened #9557 "A java problem with make posix jmavsim in Ubuntu"
Hello everybody, I hit a snag with jmavsim SITL simulation on ubuntu but I tried to strictly follow instructions. I run Ubuntu 18.04 (Bionic), gazebo 9 and ROS Melodic. Firmware and submodules are up to date.

My problem is that `make posix jmavsim` results in an error as shown below.

I believe this is not a new issue, as it appeared to be almost identical to [#9311](https://github.com/PX4/Firmwa

[2018-05-29 00:04] ryanjAA commented on #9540
I’d be interested to know if anyone else has experienced anything similar.

[2018-05-29 00:36] hamishwillee commented on #9555
Good question. This is not documented, but I would *guess* perhaps you can specify it as an option for [uploading](https://dev.px4.io/en/setup/building_px4.html#uploading-firmware-flashing-the-board) when building.
[code]
@bkueng Can you confirm or suggest how this might be done? Is there any other way - say through QGC - to force upload of a custom Firmware?

[2018-05-29 00:47] pietropier commented on #9555
I don't know anything about cmake, I tried to put --force in different positions, including the one you suggested but it didn't work. I guess there is some configuration file somewhere, but like I said, I don't know anything about it.

[2018-05-29 01:03] hamishwillee commented on #9555
@pietropier Lets see what @bkueng says.

Note however this is not the best place for [support requests](https://docs.px4.io/en/#support). I'm only continuing the discussion here because the docs are clearly broken in this respect. You might want to ask on the general channel on slack.

[2018-05-29 01:11] hamishwillee commented on #9557
1. What version of ubuntu are you using?
2. Which script did you use to set things up? The one here? https://dev.px4.io/en/setup/dev_env_linux.html#gazebo-with-ros
3. Are you on a real computer or on a VM?

I work primarily on a Ubuntu VM in Windows and have historically been using jMAVSim for quick tests. Unfortunately this no longer works in the VM, so I feel your pain. That said, I have found G

[2018-05-29 02:45] pietropier commented on #9555
I was able to upload the built using the custom firmware upload function in QGC. However, if there is a more direct solution to force the upload through make I'm still interested in it.

@hamishwillee I will post this on Slack as well, thanks.

[2018-05-29 02:59] WrongChao commented on #9555
1.Open Firmware/platforms/nuttx/CMakeLists.txt.
2.Change "${PX4_SOURCE_DIR}/Tools/px_uploader.py --port ${serial_ports} ${fw_file}" (line:178) to "${PX4_SOURCE_DIR}/Tools/px_uploader.py --force --port ${serial_ports} ${fw_file}".
3.Now retry to make and upload.

Or you can change the file Firmware/Tools/px_uploader.py too:
1.Find the function "def upload(self, fw, force=False, boot_delay=None)"
2.

[2018-05-29 04:10] Hs293Go commented on #9557
I am using a real computer, and ROS is less of a problem: Since I can appreciate the delicate link between ros and ubuntu distros, I rely on another computer running ubuntu 16.04 and Kinetic for ros.

The trouble with jmavsim is that I can't isolate the issue. Is it a problem with java? Incompatible ubuntu distro? I'd greatly appreciate some advice to point me in the direction of a diagnosis.

[2018-05-29 05:02] hamishwillee commented on #9557
The second error looks like you have a mismatched JDK and JRE - ie you're running jMAVSIM compiled using a JDK later than 8. Did you do a clean build before trying?

Other than that I don't know. Julian's suggestion of Java 8 is what we use in our docker environments, and I think is the likely pain point.

I'd love this fixed but jMAVSim problems aren't IMO treated as high priority as say Gazebo o

[2018-05-29 06:06] LorenzMeier commented on #9540
@ryanjAA We will resolve this within the week as part of the v1.8 sprint.

[2018-05-29 06:20] bkueng commented on #9548
This log is with v1.7.3 (50bd148f), and commander stack has already been increased in the meanwhile on master, so I consider this fixed.

[2018-05-29 06:20] #9548 closed

[2018-05-29 06:26] LorenzMeier commented on #9470
@jstrebel Could you provide the full log file?

[2018-05-29 06:31] MaEtUgR commented on #9495
@LorenzMeier ok, thanks. Would be interesting how, I don't see any change. Still glad the problem doesn't seem to persist.

[2018-05-29 08:05] bkueng commented on #9555
After building the firmware you do:
`./Tools/px_uploader.py build/px4fmu-v3_default/px4fmu-v3_default.px4 --port /dev/ttyACM0 --force`
You may need to adjust the port.

Not yet. The goal is to implement a user-friendly method in QGC (https://github.com/mavlink/qgroundcontrol/issues/6488).

[2018-05-29 08:31] mexdy opened #9558 "HITL simulation issue: Drone crashes during and after Takeoff"
Hello,

I am trying to do a HITL simulation using either jMAVSim or GAZEBO. I am working with the stable version of PX4 **v1.7.3** and QGC (**v3.3.2**) on my **Pixhawk 1**. After following the steps explained on the PX4 website, I launch the simulation via jMAVSim. My led is flashing green and when I try to arm, takeoff or start a mission, I don't get any errors the drone takes off and just after

[2018-05-29 12:13] bkueng commented on #9461
I don't have a clear picture on that yet. What I noticed is that with different toolchain versions, it's different how often the error occurs.

Yes that works.

I checked this value: `tcb->group->tg_filelist.fl_files[_serial_fd].f_inode->i_crefs`. It is always 1, so no one else is using it. I also checked that `open` for `ttyS3` is only called from the `gps` driver.

I scoped the signal, this is t

[2018-05-29 12:17] LorenzMeier commented on #9461
Thanks for the investigation @bkueng

[2018-05-29 12:40] davids5 commented on #9461
@bkueng - Please add all the FMU serial interface signals to the capture. Please also confirm that the power was shut off at +3 Seconds on the first picture.

[2018-05-29 13:18] bkueng commented on #9461
Do you mean TX?

There was no power off at +3s. This was during normal power up. There was no reboot between picture 1 and 2, just `gps stop` and `gps start`.

[2018-05-29 14:42] DanielePettenuzzo commented on #9534
@LorenzMeier @bkueng  I just performed a simple test connecting the can interfaces on the pixhawk to my laptop using the zubax can-usb adapter. I started uavcan on the pixhawk and I ran the uavcan_gui_tool on my laptop. On my laptop I set the node-id=50 and on the pixhawk the default id is 1. The gui detects the pixhawk node and on px4 it detects my laptop node. On the gui I receive a NodeStatus a

[2018-05-29 14:49] mhkabir commented on #9534
These hardware errors are something that needs auditing. We are recently seeing this on all Pixhawks, and after a complete hardware swap-out, it still persists. This was not the case on older releases. @pavel-kirienko @BryanMonti

[2018-05-29 15:40] bryanmonti commented on #9534
![tx_error_babel_gnss](https://user-images.githubusercontent.com/1240801/40669458-00a2dbc2-6335-11e8-97bd-37d01a90fa19.PNG)

[2018-05-29 15:48] julianoes commented on #9527
Not right now, sorry.

[2018-05-29 16:00] mhkabir commented on #9534
Yes, all my tests were with a terminated bus. I swapped out peripherals, wires and terminators to make sure it wasn't a hardware problem.

[2018-05-29 16:06] dagar commented on #9534
@mhkabir last known good release?

[2018-05-29 16:26] dagar commented on #9534
That likely corresponds with the big NuttX update.

[2018-05-29 16:39] dagar commented on #9554
@TSC21 could you add a basic catkin build to Jenkins?

Anything we want to keep working needs to be included in CI.

@lamping7 FYI

[2018-05-29 17:03] Hs293Go commented on #9557
I proceeded with deleting all of `out/` and rebuilded. 'java --version' shows the following

Build is not successful and shows the following

Is using **openjdk** instead of **oracle java** likely to cause this issue? I might not be able to rebuild with oracle-8-java just yet because of some minor problems.

[2018-05-29 17:46] zungam opened #9560 "Help, I dont know how to debug LPE"
Hello, this is not a bug, Im a newbie and Ive scanned the internet for documentation, but I cant find it, so this is the last place I go for help. Please help.

I am trying to use an external position system (visual odometry) for vision in my SITL using LPE as fuser and Dronekit for communication. I just want to debug the LPE fuser, but I dont know where to do it. I need to check if the PX4 actual

[2018-05-29 22:54] hamishwillee commented on #9560
@zungam I don't know the answer to your question, but is there any reason you can't use EKF2 instead of LPE? EKF is the default estimator, and the answers for questions are therefore easier to find. I'd also be considering DroneCore over DroneKit for working with PX4, if only because if you have a problem with DroneCore on PX4 there is active support.

The best place to ask questions like this are

[2018-05-29 22:57] hamishwillee commented on #9557
Now, we use open jdk in our docker setup.

[2018-05-29 23:45] TSC21 commented on #9560
@zungam after reading your explanation I ended up not understanding what are you trying to debug in the end. You want to check if the flight controller is receiving `VISION_POSITION_ESTIMATE`, right? But then, you just set the `LPE_FUSION` to fuse GPS and the Land Detector only. So, do you want to evaluate the vision fusion or not? If yes, you need to set the bitmask index 2 also.
Currently, by de

[2018-05-29 23:48] TSC21 commented on #9557
MAVROS is already available for ROS Melodic.

[2018-05-30 01:47] DonLakeFlyer opened #9561 "MAV_CMD_SET_MESSAGE_INTERVAL.param2 = 0 stops stream instead of reset to default"
I'm testing using SITL and firmware master. For the new QGC PID tuning support I speed up the rates for MAVLINK_MSG_ID_ATTITUDE and MAVLINK_MSG_ID_ATTITUDE_TARGET using the MAV_CMD_SET_MESSAGE_INTERVAL command. When I up the rates it works. But when I want to reset the rates back to default they instead fall to a rate of 0.

[2018-05-30 01:59] hamishwillee commented on #9557
@TSC21 Thanks! Is it time to update our docs/install scripts etc to target ROS Melodic (instead of Kinetic) - or is there a need for both/it is too early?

[2018-05-30 02:16] DonLakeFlyer commented on #9561
From MavlinkReceiver::set_message_interval(int msgId, float interval, int data_rate)
[code]

Uh, not super useful. Also in looking at the code it is passing something in from param3 which is not in the mavlink spec.

[2018-05-30 06:53] LorenzMeier commented on #9561
@DonLakeFlyer Please use ATTITUDE_QUATERNION instead because ATTITUDE suffers from gimbal lock and will be deprecated. In terms of other messages: LOCAL_POSITION and the associated _TARGET message will likely be helpful to tune the position controller.

[2018-05-30 08:54] thomasgubler opened #9562 "Support automated bootloader upgrade"
https://github.com/mavlink/qgroundcontrol/issues/6488

[2018-05-30 13:17] b4rryw4ng opened #9564 "Local Position value detected by GPS was unstable even when not moving"
**Describe the bug**
After carefully calibrate the FCU, flying control unit, and GPS, the local value detected by GPS was terribly unstable, even if we leave it on the ground, the value ranging form 4 to -2 and 0 to -4, the following picture is the screen shot of the Analyze in QGroundControl.
The Drone is controlled through "MAVROS" and the FCU is under offboard mode.
Another Question is that, Th

[2018-05-30 15:37] LorenzMeier opened #9565 "Enable Airmode by default"
The air mode should be enabled by default, but guarded for safety.

[2018-05-30 15:52] zungam commented on #9560
@hamishwillee Im using LPE because i read around that EKF2 doesnt support vision fusion at this point? Is this true, or has it been updated? Thanks for the advice on DroneCore, I will switch to it!

@TSC21, Im so sorry I forgot to write that I set LPE_FUSION to vision.
I will try to open QGC and check the Mavlink Inspector, I had no clue where to look, so thankyou

[2018-05-30 16:05] DonLakeFlyer commented on #9561
Got it. QGC code needs a major cleanup and how it uses the various messages which can have attiude information in it: ATTITUDE, ATTITUDE_QUATERNION, VFR_HUD. It's a bit crazy not due to likely back compat for realy really old firmwares.

[2018-05-30 16:09] Hs293Go commented on #9557
Okay, the problem is solved by using the following version of java.

Build succeeded and jmavsim is up and running. One question remaining: Why does Oracle java succeed while Openjdk fail?

[2018-05-30 17:07] Antiheavy opened #9566 "Feature request: new COM_ARM_ASPD parameter (or run airspeed pre-flight check at time of arming)"
This request is to add a new parameter to prevent arming if airspeed is reading too high (or too low).  Different vehicles and use cases require different thresholds so it should be a parameter.

If the PX4 diff pressure sensor module is changed allowed to allow sending negative airspeed to the rest of the system, then this threshold should be a +/- value, meaning if too large of a negative value

[2018-05-30 17:14] Antiheavy opened #9567 "feature request: allow system to show negative airspeed"
Currently PX4 does not pass though negative airspeed (or diff pressure?) measurements from the diff pressure sensor module.  This hides potential problems from the users such as:  bad calibration or blocked/pinched or reversed pitot-static lines.  Negative values should be allowed to be sent to the system and ultimately displayed to the user.  These negative values can also be used to detect probl

[2018-05-30 18:14] LorenzMeier commented on #9560
The information on EKF2 is outdated - do we have outdated documentation somewhere.

[2018-05-30 21:40] ryanjAA commented on #9532
@bkueng I am out of the office for at least another week (no Pix 4 with me either) but so far the airspeed tests with no arguments were doing it. The ver command did not but it probably just needs someone to go through each one with out an argument to see what happens if no other way to check. I’m happy to do so but it won’t be possible for a week or so.

[2018-05-30 22:00] zubair123khan commented on #8204
i am facing the same thing, i have my mavros running and when do commander takeoff, its showing no position lock yet

[2018-05-30 22:11] zubair123khan opened #9568 "not able to launch posix_sitl.launch"
Hi

I have followed the instruction from here https://dev.px4.io/en/simulation/ros_interface.html and after successful build i did roslaunch px4 posix_sitl.launch  and its showing me :
ResourceNotFound: gazebo_ros
ROS path [0]=/opt/ros/kinetic/share/ros
ROS path [1]=/home/zubair/px4_ws/src/mavlink
ROS path [2]=/home/zubair/px4_ws/src/mavros/libmavconn
ROS path [3]=/home/zubair/px4_ws/src/mavros/ma

[2018-05-30 23:05] rollysing commented on #8906
Just curious if there was any implementation of this or when it might be considered?

[2018-05-30 23:20] hamishwillee commented on #9568
What Ubuntu platform are you running on and what script did you use to set up the environment?

[2018-05-30 23:50] hamishwillee commented on #9560
@zungam Can you please tell me where it said that EKF2 doesnt support vision fusion? If it is in our docs I can correct that.

The docs on EKF that say we do support optical flow are https://dev.px4.io/en/tutorials/tuning_the_ecl_ekf.html#optical-flow and https://dev.px4.io/en/tutorials/tuning_the_ecl_ekf.html#external-vision-system

@LorenzMeier There is a bigger hole here, which I will need some

[2018-05-31 01:34] hamishwillee opened #9569 "Simulator gives MANUAL CONTROL LOST"
When running simulator there are lots of warnings “Manual Control Lost”  and shortly afterwards “Manual Control Regained”. We shouldn't be getting these warnings because we don't have manual control (Simulator) and COM_RC_IN_MODE is set by default such that RC fails should be ignored.

This can be replicated Gazebo Standard VTOL (Macbook pro) and on jmavsim or Gazebo multicopter on Linux computer

[2018-05-31 01:35] hamishwillee commented on #9569
A temporary workaround is to set COM_RC_LOSS_T timeout to maximum.

[2018-05-31 05:36] Texnovik opened #9572 "Pixhawk mini. PREFLIGHT FAIL: NO MAG SENSOR 0"
Hi

I have:
PixhavkMini Flight Controller
QGroundCOntrol v3.3.2
In the settings of the Airframe Setup choose DJI Flame Wheel F330 (tried other options)

I do the installation of the firmware of the instruction. Firmware version 1.7.3
At the calibration stage of the sensors I get an error PREFLIGHT FAIL: NO MAG SENSOR 0

Repeat the installation several times. Tried to reset all parameters. Nothing

[2018-05-31 07:12] xiongmaoer opened #9573 "Questions about quaternion computation in attitude control"
I'm trying to understand the paper “Nonlinear Quadrocopter Attitude Control (2013)” referred by Pix4 in mc_att_control_main.cpp.I have a basic knowledge of quaterions and rotations,but i'm confused now.

1.in the paper Section 3.2.1 reduced attitude control , we can see formula (45) and (47):
![4547](https://user-images.githubusercontent.com/38489032/40767300-b7341094-64e4-11e8-8f6a-a2a58ea4ccb9.p

[2018-05-31 07:27] bkueng commented on #9572
Hi

Can you provide the output of the following commands:
- `sensors status`
- `ls /dev`
- `listener sensor_mag`

[2018-05-31 08:08] mhkabir commented on #9572
@Texnovik Do you have a GPS-Compass unit connected? Pixhawk Mini does not have a usable internal compass.

[2018-05-31 08:13] sanderux commented on #8906
on it

[2018-05-31 09:14] Texnovik commented on #9572
@mhkabir,  I know that Pixmini does not have a internal compass. I use the standard compass 3DR from the kit. Strange... but from the firmware of ArduPilot it works ...

[2018-05-31 09:19] Texnovik commented on #9572
@bkueng, I know little about the console in MAC OS... command result:

MacMini:~ Olegov$ sensors status
-bash: sensors: command not found

MacMini:~ Olegov$ ls /dev
HAX				osxfuse59			ptyu5				ttyr1
afsc_type5			osxfuse6			ptyu6				ttyr2
auditpipe			osxfuse60			ptyu7				ttyr3
auditsessions			osxfuse61			ptyu8				ttyr4
autofs				osxfuse62			ptyu9				ttyr5
autofs_control			osxfuse63			ptyua				ttyr6

[2018-05-31 09:41] bkueng commented on #9572
You should use the console in QGC: Go to Analyze (https://docs.qgroundcontrol.com/en/toolbar/toolbar.html), and then Mavlink Console.

[2018-05-31 10:38] Texnovik commented on #9572
@bkueng
![2018-05-31 17 37 52](https://user-images.githubusercontent.com/39788099/40777903-6e260276-64f9-11e8-8df0-b682acae00e9.png)

[2018-05-31 12:33] zungam commented on #9560
@hamishwillee, why do you think the DroneCore [docs`](https://docs.dronecore.io/en/getting_started/faq.html) says that indoor is not supported? I understand that GPS is required, however does DroneCore support sending VISION_POSITION_ESTIMATE messages?

[2018-05-31 12:43] TSC21 commented on #9560
It's not supported yet. But there's an opened issue already for it: https://github.com/dronecore/DroneCore/issues/32.

[2018-05-31 12:53] ivodre commented on #9569
Thanks Hamish for creating the defect report. For me setting NAV_RCL_ACT to "RC Auto Recovery" helped. With that setting when MANUAL CONTROL LOST happened this had no influence on the simulation. I had COM_RC_LOSS_T at 0.5s all the time.

[2018-05-31 13:06] thomasgubler commented on #9534
--> It seems that the issue we see probably is not related to fmuv5

@DanielePettenuzzo is going to verify the state on pixracer to check if we see the same as @mhkabir

[2018-05-31 13:13] zubair123khan commented on #9568
Thanks, I just solved the problem by using "aptitude" and by installing ros
packages again using aptitude as I had broken packages..

To people facing the same problem.

On Thu 31 May, 2018, 00:20 Hamish Willee, <notifications@github.com> wrote:

[2018-05-31 13:36] lamping7 commented on #9568
Yes. gazebo_ros is the package that allows Gabezo to interface with ROS. Possibly you didn't install ROS with `desktop-full`, which contains this package.

[2018-05-31 13:36] #9568 closed

[2018-05-31 13:38] akshaykvnit opened #9575 "Error in make posix_sitl_default gazebo"
I am performing simulation of a quadcopter with Pixhawk in offboard mode. I was following [this link](https://dev.px4.io/en/simulation/gazebo.html).

When I do
`make posix_sitl_default`

I get the following
[code]

I had previously followed the same method and that had worked correctly. However, I tried to start over and encountered this error.

Could you advise on how to proceed? Thanks.

[2018-05-31 13:38] HeidiRC opened #9576 "CentOS jmavsim Error"
Hello,

I am using a VM with CentOS 7.2 on it. I have cmake 3.9. I am trying to get jmavsim to work but when i run

make posix jmavsim

I get these errors. What am I missing?

[1/384] Building CXX object src/drivers/gps/CMakeFiles/drivers__gps.dir/devices/src/mtk.cpp.o
FAILED: src/drivers/gps/CMakeFiles/drivers__gps.dir/devices/src/mtk.cpp.o
/usr/gnat/bin/c++  -DBUILD_URI=localhost -DCONFIG_ARCH_B

[2018-05-31 13:40] TSC21 commented on #9575
What Gazebo version are you using?

[2018-05-31 13:41] akshaykvnit commented on #9575
@TSC21 I am using Gazebo 9.0.0

[2018-05-31 13:43] TSC21 commented on #9575
Ok this should need a fix on `sitl_gazebo` to support Gazebo 9 aswell. This function was introduced in the latest commits for `sitl_gazebo` so this needs a compatibility fix (current CI builds over version 7). I will push a fix and let you know later today.

[2018-05-31 13:45] TSC21 commented on #9575
In the mean time, for it to work, regress the commit tag of `sitl_gazebo` to a previous commit (4 tags bellow should be enough).

[2018-05-31 13:52] TSC21 commented on #9575
The fix should include this: http://answers.gazebosim.org/question/16388/getname-has-not-been-declared-gazebo-9/. So `GetName()` should become `Name()` for Gazebo 9. You can also try to change it on the source code, but a fix will be pushed later today.

[2018-05-31 14:02] akshaykvnit commented on #9575
Thank you for helping.

[2018-05-31 16:45] Texnovik commented on #9572
@bkueng, I'm sorry ... I'm inattentive ... Do these commands depend on the firmware (PX4 or ArduPilot) ? I now have a ArduPilot.

[2018-05-31 17:04] mhkabir commented on #9572
These commands are for PX4.

[2018-05-31 17:08] alexcherpi opened #9577 "timesync error between px4 and mavros [simulation]"
Hi,
When I run the two following commands in two different terminals the simulation works without errors.
1. no_sim=1 make posix_sitl_default gazebo (this runs px4)
2. roslaunch gazebo_ros empty_world.launch world_name:=$(pwd)/Tools/sitl_gazebo/worlds/iris.world

But when I run this third command in a third terminal, I get "ERROR [mavlink] [timesync] Hard setting offset." in the terminal running p

[2018-05-31 17:21] Texnovik commented on #9572
![sensor status](https://user-images.githubusercontent.com/39788099/40797253-bcb50a3a-6531-11e8-8f2a-2d3b27ab5409.png)

[2018-05-31 17:22] Texnovik commented on #9572
![ls dev](https://user-images.githubusercontent.com/39788099/40797294-e11398b0-6531-11e8-9991-e5a9f7d1b7d8.png)

[2018-05-31 17:50] zungam commented on #9560
I believe I got this to work! I switched to EKF2 as you recomended,
Set parameter EKF2_AID_MASK to vision position fusion, vision yaw fusion,
and EKF2_HDG_MODE to Vision,
Dronekit:
msg = vehicle.message_factory.vision_position_estimate_encode(dt.microsecond, x, y, z, roll, pitch, yaw)
vehicle.send_mavlink(msg)
dit it! Now it receives the positions and I can control the drone with vision :) Thanks

[2018-05-31 17:52] TSC21 commented on #9560
@zungam it should work also with LPE also. Did you tried it also?

[2018-05-31 18:06] GigaFlopsis commented on #7368
This method will be very useful for control of the swarm. I do not quite understand, is it in the firmware? if so, how do I set the parameter via mavros?

[2018-05-31 18:07] TSC21 commented on #7368
This is not supported yet.

[2018-05-31 18:23] GigaFlopsis commented on #7368
Do you need help to realize this?
Now i develop a separate local position relative to the global one with the help of geolibs in ros. It is now i developed a separate local position relative to the global one with the help of geolibs in ros. Now this is an extra setup.

[2018-05-31 20:07] alirezaka commented on #8204
The problem is your GPS connectivity , check all aspects of it.

[2018-05-31 21:15] priseborough commented on #9432
Yes, I am told that provided the rover is not powered up until the base station has finished its survey, the time for the rover GPS to get an RTK fix is not long.

[2018-05-31 21:18] #9432 closed

[2018-05-31 22:39] Kjkinney commented on #9474
We figured out how to repeat this error on multiple different aircraft running a slightly modified version of a recent master build.

**Steps to repeat error**

- Boot up vehicle

- Hold the vehicle directly nose down for greater than 10 seconds with vehicle running. From what I can tell you can do this at any point while the vehicle is disarmed and it will create this error.

- Place level and at

[2018-05-31 22:43] zubair123khan opened #9578 "arming and takeoff with mavros !"
Hello

I am successfully able to launch mavros_posix_sitl.launch, but i am unaware of using mavros command like arming and takeoff. However i tried using rosservice call /mavros/cmd arming and set it to true but its returning me FALSE.
I don't think mavros  launch needs anything else for me to use service call for arming and takeoff.

please guide me on how can i arm and takeoff my iris in gazebo.

[2018-05-31 22:46] zubair123khan commented on #8204
I checked all, I am not able to use commander takeoff. Moreover I am now using launch file from mavros posix_sitl.launch and I tried using takeoff and arming from rossservice and I was unable to do that, everytime I am setting my arm to true using rosservice , it's returning me false.

[2018-05-31 22:46] TSC21 commented on #9578
`rosrun mavros mavsafety arm`
`rosrun mavros mavcmd takeoff 0 0 0 0 5` (being 5 the altitude)

[2018-05-31 22:46] #9578 closed

[2018-05-31 22:48] zubair123khan commented on #9578
Hi
Thanks for the comment, although I tried these rosrun and it's showing up request failed

[2018-05-31 22:51] TSC21 commented on #9578
So you are probably missing something more fundamental here. Also it's not clear what's your current framework (meaning PX4 Firmware version, etc). Have you tried to launch the SITL simulation without ROS, by issuing `make posix_sitl_default gazebo` and after it opens (and gets a position lock), issue `commander takeoff` on the same window you launched the previous commad?

[2018-05-31 22:53] TSC21 commented on #9578
Please also mark here:
1. your ROS and MAVROS version;
2. you Gazebo version;
Also, try launching QGC and check for the data coming from the vehicle and if there are any log error msgs being reported

[2018-05-31 22:54] zubair123khan commented on #9578
Did try it , commander take off without ROS is showing no position lock.. I waited for much longer..

[2018-05-31 22:58] TSC21 commented on #9578
OK are you able to show us a video/screencapture of the procedure you take to launch the simulation and then the behavior you see on the simulator? Are you using the latest upstream master of PX4 or a recent stable release?

[2018-05-31 22:59] hamishwillee commented on #9560
@TSC21 He did, but we pushed him to EKF2, because IMO the documentation is clearer, and as the default estimator there is better support.

[2018-05-31 23:04] zubair123khan commented on #9578
This is my console output now without ROS

-- http://pastebin.com/Hqx4sbxs

[2018-05-31 23:04] TSC21 commented on #9560
That's reasonable. I should look into document better LPE then.

[2018-05-31 23:07] hamishwillee commented on #9560
Yes. The reason is that we haven't done any testing on it, or put effort into supporting it. There may be health checks to ensure that we have a decent GPS signal - rather than checking we have a valid position estimate.
So this will come at some point and probably could work fairly easily, but it isn't our first priority.

Great. That is one benefit of DroneKit - the ability to send custom messag

[2018-05-31 23:09] hamishwillee commented on #9560
Me too. If you can highlight specific issues or create a document I am happy to test and integrate it.

[2018-05-31 23:09] hamishwillee commented on #9560
Can we close this?

[2018-05-31 23:12] zubair123khan commented on #9578
Here is my screen shot with mavros posix_sitl.launch

-- http://pasteboard.co/HnN6Yih.png

[2018-05-31 23:26] priseborough commented on #9474
@Kjkinney You need to modify your autopilot installation so that the propeller slipstream does not produce 25 metre changes in baro height.

![screen shot 2018-06-01 at 9 25 05 am](https://user-images.githubusercontent.com/3596952/40813350-b6a4d93a-657d-11e8-8a34-88930db043ce.png)

[2018-06-01 06:13] bkueng commented on #9572
Thanks @Texnovik. There is no compass driver running. Can you find out which compass is installed on your GPS device?

[2018-06-01 07:39] Texnovik commented on #9572
@bkueng, Hello ! Photo of the compass ...
![img_1889](https://user-images.githubusercontent.com/39788099/40827975-8745696c-65a9-11e8-9ae2-33004f45ee94.jpg)
![img_1890](https://user-images.githubusercontent.com/39788099/40827976-876ae69c-65a9-11e8-95b4-f9f3d1f35741.jpg)

[2018-06-01 08:35] MaEtUgR commented on #9573
@xiongmaoer Let me try to help you. The authors of the paper do probably not see your question. I implemented the quaternion controller in PX4 and referenced their publication because it explains the principles of such a controller in a formal way.

1. Still thinking about the details on how to explain, it's not trivial. I'll write when I wrapped up.
2. Yes, both are correct, the difference is the

[2018-06-01 09:02] bkueng commented on #9572
From the pictures I don't see which compass is on there. Do you have a link from where you bought it?

You can try to start this drivers: `ist8310 -C -R 4 start`, and then check again with `listener sensor_mag` if a compass got detected.

[2018-06-01 09:42] Texnovik commented on #9572
I bought it from Aliexpress. I'm confused by some details ... On the box Pixhawk written holibro.com. On this site there is no Pixhawk, but there is a PixFalcon ... Maybe a PixFalcon is installed inside my Pixhawk? (this is a joke) :) On this site I found a GPS like mine [http://www.holybro.com/product/22](url). Maybe this will help ?..

command result

![2018-06-01 16 40 59](https://user-images.g

[2018-06-01 10:41] xiongmaoer commented on #9573
@MaEtUgR Thanks a lot for your help . I really din’t consider from this aspect . Maybe i should learn more about quaternion and i will see again how it's implemented in Matrix library.
As for my question 1, the k vector still confused me .When we computate a quaternion form world frame e to body frame b ，using the euler angles in the ZYX order：
![zyx](https://user-images.githubusercontent.com/3848

[2018-06-01 12:12] szebedy opened #9579 "Increase IMU rate in ROS on Intel Aero RTF with PX4"
I cannot increase the IMU rate in ROS on my Intel Aero RTF with PX4. When I check the frequency of the `/mavros/imu/data` topic with `rostopic hz /mavros/imu/data`, it's always 50 no matter what I do.

Since I'm using mavros, the first thing I've tried is `rosservice call /mavros/set_stream_rate 1 200 1`. Then I've found out that this service is not supported on PX4.

Therefore I've moved on the t

[2018-06-01 14:55] #9560 closed

[2018-06-01 17:00] alirezaka commented on #8204
I myself couldn't figure out how to solve this problem, so I gave it up and instead I tried to use MavLink outside ROS environment.
That's all help I can give you.

[2018-06-01 17:11] TSC21 commented on #9575
@akshaykvnit fix here: https://github.com/PX4/sitl_gazebo/pull/210

[2018-06-01 17:13] #9575 closed

[2018-06-01 18:00] szebedy commented on #9579
Solution here: https://github.com/mavlink/mavros/issues/1035

[2018-06-01 18:00] #9579 closed

[2018-06-01 22:45] stmoon opened #9582 "Failed loading mixer: /etc/mixers/quad_x.main.mix"
Hi,

When I reboot quad copter using MAV_CMD_PREFLIGHT_REBOOT_SHUTDOWN, ARM didn't work with safety button off sometimes.
In this case I should power off and on again to work well.

And I found that [init] Failed loading mixer: /etc/mixers/quad_x.main.mix
Why does the mixer not work?

I have used v.1.7.4beta firmware.

Thanks

[code]

[2018-06-02 11:44] tops4u opened #9583 "MC EKF2_HGT_MODE Set to LIDAR is not usable on non Flat Terrain"
**Describe the bug**
This is not really a bug but the current implementation is IMHO not usable in the Field.
I changed EKF2_HGT_MODE to Rangefinder as my Hexa features a Lightware SF20 (up to 100m). I'm searching for fawn and sometimes the terrain is not flat. In order to keep a constant Altitude to the Ground - which is needed in order to have all the ground covered in the Survey - I wanted to u

[2018-06-02 20:05] tops4u opened #9584 "BUG: AUX Outputs swinging wildly while RC System is off"
**Describe the bug**
While working on the bench, the Transmitter is sometimes off. I noticed that despite all Main PWM Signals are tied to Disarmed PWM. But the AUX Outputs are not. When I power on my UAV while the TX is off, the FMU does not recognize the RX System, as I'm using Futaba SBus and there is apparently no signal on the bus if the system has not been active at least once. In the Radio

[2018-06-03 00:58] ryanjAA commented on #9540
@LorenzMeier great! looking forward to testing when resolved.

[2018-06-03 03:07] Texnovik commented on #9572
Hello ! I found this article http://discuss.px4.io/t/pin2pin-alternative-replacement-to-honeywell-hmc5883l-hmc5983-eol-compass/944. Probably I have an old model of the compass hmc5883. I tried to run the command hmc5883 -C -T -X start. The result is below. Probably this is the problem.

![2018-06-03 10 05 25](https://user-images.githubusercontent.com/39788099/40882747-f456d320-6715-11e8-91b2-9ce95

[2018-06-03 17:18] lamping7 commented on #9577
This error is normally a result of poor computer performance. Secondly, why are you launching all of these separatly instead of using the launch file px4 comes with to do all of this?

[2018-06-03 18:46] ChrisHughes commented on #9582
Same issue here, Pixfalcon and 1.7.4beta.

[2018-06-03 23:14] stmoon commented on #9582
In my case, pixhawk 2.1 and same firmware

2018년 6월 4일 (월) 오전 3:46, ChrisHughes <notifications@github.com>님이 작성:

[2018-06-04 06:11] tops4u commented on #9583
Add On: There is also MPC_ALT_MODE Parameter.
But no real description who this works and some sort of a warning: "_Altitude control mode, note mode 1 only tested with LPE_"

[2018-06-04 06:17] priseborough commented on #9583
Terrain following should be done by the position controller, not the estimator. Meeting this use case will require modification to mc_pos_control so that it uses local_position.dist_bottom robustly.  It is likely retuning of the single state estimator in ekf2 that estimates the offset of the terrain relative to the local earth frame datum will be required so that it is less reactive to range finde

[2018-06-04 06:48] EVANSONG1220 opened #9585 "Preflight Check--Always warning PREFLIGHT Advice/Failure: ACCELS INCONSISTENT - CHECK CAL"
After several flights, px4 always had the warning that I need to check my accelerometers and recalibrate them. The frequency of occurrence is about once a week. Is it normal?  What should I do to avoid this warning?

Sometimes this warning was useful. During this flight, the local vertical velocity had a bias about 0.5m/s. Most of time, even this kind of warning comes out, it doesn't affect my fli

[2018-06-04 08:05] bkueng commented on #9584
I'm not sure what QGC shows, but port0 indicates, that these are all main outputs. And at the moment, the Firmware fills in only channels 1-8 and sets the others to 0 (https://github.com/PX4/Firmware/pull/9586), so I'm not sure what QGC shows as servo 13.

Can you do the following:
-Provide the output of `fmu status` and `px4io status`
- The AUX outputs that swing are CH1 and CH2 on https://docs.p

[2018-06-04 08:15] tops4u commented on #9584
@bkueng I noticed myself meanwhile that Servo does not map to AUX. I can attach an Oscilloscope to check what really happens, and post the result here. Yes at least AUX 1 is not stable as it triggers my strobes when RC System is off. As soon as I switch on the TX this, does not happen.

[2018-06-04 08:17] tops4u commented on #9583
@priseborough Does MPC_ALT_MODE have any function with EKF2? Or will this only work when #9509 or another PR is in place? Would MPC_ALT_MODE = 1 then take any Range Device that it can find (US, LIDAR, Radar)?

[2018-06-04 08:32] tops4u commented on #9583
Just to be sure, if a Range Finder of any sort is available EKF2 would already now make use of this data (without setting MPC_ALT_MODE)??

[2018-06-04 08:42] priseborough commented on #9583
yes, the ekf2 will use range data provided it is not outside the range specified by the uORB topic  range_finder.min_distance and range_finder.max distance_distance messages. If on ground and outside the valid range specified by the uORB data, then the EKF2_MIN_RNG value will be used.

[2018-06-04 12:58] bkueng commented on #9532
@ryanjAA I went through all commands and fixed the ones affected in #9589.

[2018-06-04 13:38] stmoon commented on #9582
Could you please let me know the reason or some solution to fix it?

Thanks.

[2018-06-04 14:33] #9532 closed

[2018-06-04 15:12] bkueng commented on #9470
@jstrebel did you see @LorenzMeier 's comment? And can you provide the output of `sensors status`?

[2018-06-04 15:31] pfrck opened #9590 "Error with MAV_CMD_LOGGING_START and STOP"
So I'm getting this whenever I try to run [mavlink_ulog_streaming.py](https://github.com/PX4/Firmware/blob/master/Tools/mavlink_ulog_streaming.py):

[code]

It looks like I don't have the related command specified in mavlink or mavutil. I didn't find anything similar to this and my bad if I didn't search enough but I could use some help there.

[2018-06-04 16:12] bkueng commented on #9590
Most likely your `pymavlink` is not up to date. Can you try updating it?

[2018-06-04 16:26] MaEtUgR opened #9591 "Convert racer joystick rates to PX4 acro rates"
I think it would be useful to support racers who come from a different FC to test PX4 and let them convert their existing rates in cleanflight betaflight fork parameters described here https://oscarliang.com/rc-roll-pitch-yaw-rate-cleanflight/ to our better tunable solution.

Like I promised here
https://github.com/PX4/Firmware/pull/9358#issuecomment-385896362
https://github.com/PX4/Firmware/pull/

[2018-06-04 17:49] dagar commented on #9591
That's a great idea.

[2018-06-04 21:07] Vuwij commented on #8164
Still with this quesiton. Is there any way we can get mavros to publish a camera message from gazebo? /mavros publishes stuff like /mavros/imu/data etc

[2018-06-05 05:02] mrpollo opened #9593 "v1.8 Changelog scratchpad"
Everyone, this is the changelog generated automatically by using [github_changelog_generator](https://github.com/skywinder/Github-Changelog-Generator), please review.

---

# Change Log

## [v1.8.0](https://github.com/PX4/Firmware/tree/v1.8.0) (2018-06-04)

[Full Changelog](https://github.com/PX4/Firmware/compare/v1.8.0-beta2...v1.8.0)

**Implemented enhancements:**

- PX4 Ping Message Protocol [\

[2018-06-05 05:52] Ankur1014 opened #9594 "CMake warnings are thrown while building PX4 firmware in Debian 9.3"
**Describe the bug**
Building PX4 Firmware is throwing warnings about CMake in Debian 9.3

**To Reproduce**
I installed the toolchain and downloaded the PX4 Firmware version 1.6.5 in Debian 9.3. While building the firmware using _make px4fmu-v2_default_ command I am seeing the following warnings in Build.

-- Nuttx build for px4fmu-v2 on m4 hardware, using nsh with ROMFS on px4fmu_common
-- Build

[2018-06-05 07:09] r0gelion opened #9595 "Pixhawk 4, 1.8.0 beta 2 crash"
Using Pixhawk 4 autopilot with 1.8.0 beta-2 (ab279d5f) firmware, testing mc02 test card which is a full autonomous mission.

The vehicle took off and started to follow the mission, after waypoint 4 the vehicle fell out of the sky.
<img width="816" alt="px4fail" src="https://user-images.githubusercontent.com/5013954/40960333-3a5b118a-6854-11e8-9657-2c6aecbf5933.PNG">

The mission was started from Q

[2018-06-05 08:00] pfrck commented on #9590
That was exactly it. I had the 2.0.6 version and upgraded it to 2.2.8 and it works now. Thanks!

[2018-06-05 08:01] pfrck commented on #9590
That was exactly it. I had the 2.0.6 version and upgraded it to 2.2.8 and it works now. Thanks!

[2018-06-05 08:35] pfrck commented on #9590
Well thought it was resolved by upgrading pymavlink to version 2.2.8 but now I'm getting this:
[code]
which means that the command 2510 MAV_CMD_LOGGING_START is unsupported (result: 3).

[2018-06-05 09:59] ndepal commented on #8164
As stated above, this has nothing to do with PX4 or MAVROS. It's a question about gazebo and ROS. You should ask in the relevant forums.

[2018-06-05 10:32] rahulsharma11 opened #9597 "No mag sensor in pixhawk mini with latest px4-v2 firmware."
Hi, can anyone please tell me in which file i can play with the mag sensor id? As i am having 2 pixhawk mini and whenever i am building latest p4fmu-v2_lpe firmware , it always says no mag sensor.
It is working good with my old px4fmu-v2_lpe version but not with the latest one.
I know that is can work if i connect GPS with it but i don't want GPS.

[2018-06-05 10:35] yc718764666 opened #9598 "how to display the sensor data which simlating in the Gazebo"
I am using the make make posix_sitl_default gazebo_iris_opt_flow instructions，and it has build successfully. I want to display or get the two sensors data, what should I do for this objective? Thanks your replay!

[2018-06-05 11:24] thomasgubler opened #9600 "PixHack v5 issues"

[2018-06-05 11:33] bkueng commented on #9600
Issues on Pixhack v5 on master that I noticed when bench-testing:
 - **SD card does not work at all**. Mounting consistently fails (I tested on 2 boards). This is the bootup output:
[code]
- **internal mag detected as external**.
  pixhawk 4 boot output:
[code]
   Pixhack v5 output:
[code]
  The internal bus is 3, but on the Pixhack the ist8310 is on bus 2.
- **3DR telemetry does not work due to i

[2018-06-05 12:32] philipoe opened #9601 "Fixed-wing control bug: Stuttering rudder even in manual mode"
**Describe the bug**
For fixed-wing aircraft, even in manual control mode, the rudder is stuttering significantly as soon as a constant aileron input is given via a remote controller. This was tested on 3 different platforms with a PX4FMUv3 with the current master, but the bug has existed for quite some time. This is a low-level control bug that should be removed ASAP. It is linked to the FW_RLL_T

[2018-06-05 13:39] vooon commented on #9600
I also had error with microsd, but i fixed it by formatting card (with regular format from gnome nautilus).
Wifi working fine.
Mag also on bus 2, but external (gps module) on bus 1.

[code]

[2018-06-05 14:26] julianoes opened #9602 "failsafe after takeoff shouldn't climb first"
In SITL, when I do a normal `commander takeoff` test, the drone first goes to the takeoff altitude, then it goes into failsafe because there is neither RC nor a data link. This means it will rise to a default altitude of 5 meters before descending, loiter, and finally landing.

The fact that it rises first in failsafe when it is right over the takeoff spot is not intuitive in my opinion. Better wo

[2018-06-05 14:49] bkueng commented on #9600
Thanks for the tip @vooon, reformatting worked for me as well.

[2018-06-05 17:20] lamping7 commented on #9602
This conversation seems related: https://github.com/PX4/Firmware/pull/8738

[2018-06-05 17:38] LorenzMeier commented on #9601
Off the bat I’d say always updating is fine.

[2018-06-06 05:27] potaito opened #9606 "Mission starts at closest waypoint"
Behaviour introduced with PR https://github.com/PX4/Firmware/pull/8749.

Opening an issue on @dagar's request.

Description:
1. Takeoff and leave the drone in position hold.
![image1](https://user-images.githubusercontent.com/3762382/40966881-f7b480c4-68b1-11e8-9506-246362cc8d2c.png)

2. Create waypoint mission where some intermediate waypoint is close to the current location.
![image2](https://us

[2018-06-06 06:29] MaEtUgR commented on #9591
I realized existing FCs also have differences and I found an existing easy to use open source tool which already converts between them and visualizes the result: https://apocolipse.github.io/RotorPirates/

I could add PX4 rates and we can link to it in the documentation as soon as I understand where all the calculations are done: https://github.com/apocolipse/RotorPirates/issues/4 That's more futu

[2018-06-06 10:36] philipoe commented on #9601
Fixed in ba2cf5fa9a20a1577f9a9153df4f793f9e49c8f6, closing.

[2018-06-06 10:36] #9601 closed

[2018-06-06 13:22] LorenzMeier opened #9609 "Set PWM_MIN for DJI F450 frame"
**Describe the bug**
F450 builds seem to stop props if PWM_MIN is set to 1075. We might need to set them to 1175 or an alike slightly higher setting

**To Reproduce**
Steps to reproduce the behavior:
1. Switch the drone on and arm it without propellers attached
2. Tilt it 60 degrees

**Expected behavior**
The propellers should not stop

**Drone (please complete the following information):**
- DJI

[2018-06-06 13:31] RomanBapst commented on #9565
For the next release we decided to expose airmode in the tuning section of QGC.
See [QGC issue](https://github.com/mavlink/qgroundcontrol/issues/6566) for more details.

[2018-06-06 13:41] dagar commented on #9594
Can you repeat with PX4/Firmware master?

[2018-06-06 13:49] bkueng commented on #9609
This largely depends on the ESCs. Are you refering to using the original DJI ESCs?
In my experience an ESC calibration is usually needed and should be part of a vehicle setup. Enabling one-shot makes a difference too.

[2018-06-06 14:09] dagar commented on #9609
I've come across a lot of people selecting this in PX4 as a generic 450 sized frame. If this PX4 airframe is going to become more specific I suggest we also introduce a range of intentionally generic options.

[2018-06-06 15:00] philipoe commented on #9461
Any updates on this? We can reproduce this on one of our platforms (PX4FMUv3, [this](https://store.mrobotics.io/mRo-GPS-u-Blox-Neo-M8N-HMC5983-Compass-p/mro-gps003-mr.htm) mRO GPS and PX4 Firmware at commit 25528a5ae0cc9cbada7c2daa266049f293fe05b0. I could retest any fixes/PRs that potentially solve this.

[2018-06-06 15:20] davids5 commented on #9335
@dk7xe - Please retest on https://github.com/PX4/Firmware/commits/leitwert-nxphlite-serial-dma 7fbca79724b9b4d41f4867c32493bdc3a6e7e043

If you have a radio connected. Ensure you pull down Pin 5 on the radio and P10-4 on the FMU. Observe the LED if it is solid red the radio is in bootload mode.

[2018-06-06 15:30] thomasgubler commented on #9609
Output from Dev call: DJI ESC don't do calibration

[2018-06-06 15:35] thomasgubler commented on #9595
TODO from dev call: analyze why it exited mission. Crash was because stick was at low throttle when in switched to  stabilized

[2018-06-06 15:49] jstrebel commented on #9505
Thank you. Never had this issue again. Jakob

[2018-06-06 16:00] jstrebel commented on #9470
My apology. I missed the questions. I did not start logging. In the meantime I did yesterday some tests using the latest 1.8 beta and the daily built GQC  4.Jun. Have not seen this Message again. I will do some more test probably tomorrow.

[2018-06-06 17:16] mcsauder commented on #9609
Hi @LorenzMeier ,

I've dug into this issue a bit.  The configuration value invoked by `4011_dji_f450` sets `PWM_MIN 1230`, so something else is causing your issue.

When `4011_dji_f450` gets called in the startup scripts, it then calls `4001_quad_x` which in turn calls `rc.mc_defaults`.  `rc.mc_defaults` sets `PWM_MIN 1075`, (only if `AUTOCNF == yes`).  Once `rc.mc_defaults` completes, `4001_quad

[2018-06-06 19:10] LorenzMeier commented on #9595
I had a pass this morning and couldn't figure out what happened in the first 15 minutes.

[2018-06-06 19:20] tops4u commented on #9584
Could not reproduce. I'm closing this here.

[2018-06-06 20:46] LorenzMeier commented on #9537
Fix PR is up.

[2018-06-06 21:03] #9537 closed

[2018-06-06 21:35] LorenzMeier commented on #9461
@bkueng @davids5 Any insights?

[2018-06-06 22:19] Antiheavy commented on #9566
If hard coded what would be a value that would work for all/most use cases?  I’m not sure I know.   I guess we could also ask ourselves if just forcing the standard diff pressure preflight check at time of Arming would be good enough. Again, not sure. Might need to play around and see.

[2018-06-07 05:45] bkueng commented on #9461
@philipoe which board are you using exactly?

@LorenzMeier not yet. @davids5 wanted to reproduce it himself.
As I wrote above, we can work around the issue by reopening the UART on failed GPS scanning iterations. It's a simple way to unblock the release but it won't solve the root cause.

[2018-06-07 06:50] bkueng commented on #9595
At the time of the incident, the flight mode switches to RTL and then immediately to stabilized. At the same time the kill switch goes on and immediately off again.
RC messages do not reflect that, but we don't log at full rate. Only pitch and yaw sticks change minimally.
@r0gelion do you know if the pilot had his hands close to the RC sticks when the switch out of mission happened?

It might be a

[2018-06-07 11:18] bkueng commented on #9461
work-around is here: https://github.com/PX4/Firmware/pull/9614
@philipoe can you test it on your board?

[2018-06-07 11:40] Antiheavy commented on #9606
I agree that for 1.8.0 release this behavior should probably be changed backed to the way it was before for all auto modes except the new RTL_TYPE=2.  However, I think there should be a bigger discussion about if the default mission item handling when uploading a new mission could be improved after 1.8.0.  PX4 resets the mission index to 1 when a new mission is uploaded; this is not how most profe

[2018-06-07 11:59] tops4u commented on #9461
Hi @bkueng thanks for the Progress in this case. I appreciate a Workaround but I think we should also figure out the root cause for this and why it is happening on some boards while it does not on others and why it has something to do with the Buildchain.

It came to my mind, that the cause may be related to the Powersupply since AFAIK mRo and AUAV do have a switchable Supply (by Command from FMU)

[2018-06-07 12:04] tops4u commented on #9595
I don't want to reopen my case (https://github.com/PX4/Firmware/issues/8263) but remind you that there have been similar reports about Kill-Switch Toggles at a speed that could not be triggered so fast manually by the pilot. Also there is different HW / FW involved. Maybe this is RC System related. I was using Futaba SBus (T-FHSS RX).

[2018-06-07 13:28] julianoes commented on #9286
Also see:
http://discuss.px4.io/t/duplicated-uuid-for-multi-vehicle-problem/6730
https://github.com/dronecore/DroneCore/issues/411

[2018-06-07 13:32] julianoes commented on #9286
The UUID is generated here: https://github.com/PX4/Firmware/blob/master/platforms/posix/include/system_config.h

[2018-06-07 13:40] julianoes opened #9616 "gazebo fails to start on macOS due to protobuf exception"
Currently, with latest master and after a `brew upgrade`, gzserver throws an exception on start:

[code]

FYI @priseborough

[2018-06-07 15:01] r0gelion commented on #9595
@bkueng The pilot says the RC wasn't close to his hands, it was in front of him on a table, but with a distance that prevents unnoticed manual input.

[2018-06-07 15:41] philipoe commented on #9461
Pixhawk (1), but need to check whether from 3DR or mRo...

Yes, but only on Monday...

[2018-06-07 20:06] davids5 commented on #9461
@LorenzMeier - I have tested this on a https://store.mrobotics.io/Genuine-PixHawk-1-Barebones-p/mro-pixhawk1-bb-mr.htm with a 3DR GPS. I am powered from a bench supply via the powermodule.  I am not able to reproduce.

I will need to know the exact versions of hw that exhibits the failure.  Links to the FMU and the GPS would be super helpful.

[2018-06-07 20:06] jstrebel commented on #9470
@dagar @bkueng
Did 3 flights today with the newest 1.8beta. All went ok.
https://review.px4.io/plot_app?log=9cb17ba1-378e-492b-b659-4a82084f17e3

[2018-06-07 20:16] pkocmoud commented on #9461
@philipoe can you post your exact failing binary so that I can confirm on the same models of the hardware that I have here?

[2018-06-07 20:53] tops4u commented on #9461
I did some investigation on this.

@davids5 this is not a Pixhawk1 from mRo but the X2.1 Unit. I have sent my spare to Auterion, so my tests are run on a AUAV-X2 Unit that so far behaves identically as the mRo x2.1.

I have attached a FTDI to the TX Line to check what is being sent to the GPS. (This is not readable, just to illustrate that there are obvious differences).

This is what happens on a

[2018-06-07 21:11] tops4u commented on #9461
@pkocmoud just get the latest Master via QGC and it should fail. For me 1.7.3 onwards fails.

[2018-06-07 21:27] LorenzMeier commented on #9534
@dpettenuzzo Please update issues with intermediate findings even if there is no conclusion yet. Thanks!

[2018-06-07 21:27] LorenzMeier commented on #9461
Latest master has a hotfix in.

[2018-06-07 21:28] #9470 closed

[2018-06-07 21:29] tops4u commented on #9461
@LorenzMeier thanks for pointing this out.
@pkocmoud so 1.7.3 from the Repo via QGC should also do the trick.

[2018-06-07 21:29] LorenzMeier commented on #9540
@dagar Could you look into this?

[2018-06-07 21:30] LorenzMeier commented on #9527
@julianoes Checking in - any chance you could have a look?

[2018-06-07 21:35] ambikaverma opened #9617 "Optical flow with custom altitude input"
I'm working with intel aero platform with px4 flight controller.

My goal is to use a custom altitude sensor + bottom facing camera (already on the drone) for optical flow based position estimation.
Currently I only see that optical flow requires a range finder (sonar, lidar) as mentioned here -
https://dev.px4.io/en/tutorials/optical_flow.html

But is it possible to set ek2_hgt_mode to 3 (vision)

[2018-06-07 21:39] LorenzMeier commented on #9527
I can reproduce this. Performance on MacOS:

<img width="431" alt="screen shot 2018-06-07 at 23 39 06" src="https://user-images.githubusercontent.com/1208119/41127696-098a3aa4-6aac-11e8-9d51-2d799ee01fdf.png">

[2018-06-07 21:52] priseborough commented on #9583
Progressively halve the  terrain process noise EKF2_TERR_NOISE from the default value of 5.0 m/s. That will make the terrain height estimator less reactive to range finder noise.

[2018-06-07 22:54] davids5 commented on #9461
@tops4u:  @philipoe post seemed to indicate PX4FMUv3 exhibited the same problem, hence my test.  @pkocmoud is sending me an X2.1 and the mRo GPS mentioned. I will test this issue (without the work around) when I get that HW.

[2018-06-07 22:57] weebadbad opened #9618 "Foward facing optical flow"
I would like to allow the optical flow to face forward in order to do some tracking of front images of the UAV. However, when I rotate the camera to phase forward, px4 is not able to takeoff.

error message: WARN  [commander] rejecting takeoff, no position lock yet. Please retry..

**To Reproduce**
Steps to reproduce the behavior:
1. Copy-and-pasted extra px4flow and sf10a within iris_opt_flow.sdf

[2018-06-07 23:55] lamping7 commented on #9554
Now that we're working toward a package to use for ROS sim/testing, do we want to support this additional build system? The idea is to make this more user friendly in the long run and only require building for dev purposes.

[2018-06-08 05:17] dagar commented on #9566
I'm not sure, right now we have a hard coded 15 Pascal differential pressure sensor check.

[2018-06-08 05:37] tops4u commented on #9461
@davids5 my AUAV-X2 Unit is a FMUv2 and also exhibits this Problem. Intested with two different uBlox GPS from Drotek.

[2018-06-08 07:45] LorenzMeier commented on #9595
Not a crash, but suspicious: https://review.px4.io/plot_app?log=02711563-1bd4-40ee-8107-16fa14017b9e

[2018-06-08 15:03] DanielePettenuzzo commented on #9534
Same for me I have 0 HW/IO errors on the port where I connect the ESCs.
[code]
My CAN2 works fine but I'm having some problems on CAN1. If I connect to QGC after boot up I get a hardfault. If I don't open QGC CAN1 works fine. This doesn't happen on CAN2..

[2018-06-08 15:03] DanielePettenuzzo commented on #9534
@davids5 do you also have this behaviour?

[2018-06-08 18:30] dagar commented on #8302
Idea for doing the configuration per module.

 - each module or driver has a set of parameters for each possible instance
    - MAV_PORT_X, MAV_BAUD_X, etc
 - parameters that specify ports have a new serial device metadata tag
    - QGC collects all active serial device parameters and creates a configuration drop down per serial port
 - PX4 side we extend the driver/Device base class to have a ser

[2018-06-08 18:56] MaEtUgR commented on #8357
**Update:** Docs are finally in a useful state.
Preview: https://github.com/MaEtUgR/Devguide/blob/pr-revise-windows-add-cygwin/en/setup/dev_env_windows.md
Reviews appreciated: https://github.com/PX4/Devguide/pull/522

[2018-06-08 21:19] davids5 commented on #9534
@DanielePettenuzzo - I get the hardfault when QGC connects.  With the UAVCAN firmware server running (`uavcan start fw` I suspect that is the setting you have with automatic.)

It is coming from here:
![image](https://user-images.githubusercontent.com/1945821/41181035-3637a2a2-6b25-11e8-89da-d25349d26b83.png)

the cause is that _uavcan_open_request_list is null

But up to connecting QGC I have no

[2018-06-09 01:29] jbourne15 opened #9621 "unstable PWM out"
**Describe the bug**
The pwm signal out goes unstable for a quadcopter at a certain rc input in either manual and stabilized mode.

**To Reproduce**
Steps to reproduce the behaviour:
1. Drone switched on (no props) and arm in stabilized or manual mode
2. slow increase roll and pitch from rc. Instability appears when roll and pitch at some certain point see figure for example.
3. See error by motor

[2018-06-09 03:38] yc718764666 commented on #9263
hello, could you solve this problem?  I try ti use the  Gazebo‘s Force and Torque tool to move the UAV for which can be initialized, but the result doesn't work well ,the initialization is aways defeated.

[2018-06-09 07:50] dagar commented on #9540
https://review.px4.io/plot_app?log=0285460d-d71f-422b-9d55-b42bccc66cbb
![image](https://user-images.githubusercontent.com/84712/41189192-d43ebc98-6b97-11e8-9e2f-5536c1e932b1.png)

@ryanjAA can you try setting FW_W_RMAX to something reasonable (maybe 30 degrees/s)?

[2018-06-09 11:11] LorenzMeier commented on #9606
@acfloria @dagar Do you have cycles this weekend to make the change? I really would like to get v1.8 out of the door.

Thanks!

[2018-06-09 12:02] LorenzMeier commented on #9534
@DanielePettenuzzo Please continue Monday - the hardfault David identified is what you saw.

[2018-06-09 12:59] ryanjAA commented on #9540
@dagar The first log (https://review.px4.io/plot_app?log=02711563-1bd4-40ee-8107-16fa14017b9e) did have FW_W_RMAX set to 30 (see [and](https://review.px4.io/download?log=02711563-1bd4-40ee-8107-16fa14017b9e&type=1) and was changed at minute 35 to 1 and then 0 to see the result (see attached photo) so the wheel issue was occurring when set like that (at 30). Only changing it to something unlimited

[2018-06-09 18:46] dagar opened #9627 "ECL merge "Miscellaneous optical flow use improvements" and update Firmware master"
From https://github.com/PX4/Firmware/pull/9613 the ECL submodule is currently pointing at the ECL branch pr-ekfOptFlowFixes (https://github.com/PX4/ecl/pull/452). This needs to be merged to PX4/ECL master and updated PX4/Firmware side before the v1.8.0 release.

[2018-06-09 20:26] dagar commented on #9627
https://github.com/PX4/Firmware/pull/9628

[2018-06-09 21:20] kekiefer commented on #8650
Just a heads up that I've been poking at this over the last couple weeks and have managed to get some simulated flight pack data back to the transmitter by reconfiguring one of the telemetry UARTs. Critically, the SRXL UART needs to be in half duplex mode, and on the STM32 can only be done on a UART TX pin, not an RX pin like the one that is wired for DSM on every platform. I'm doing this work on

[2018-06-09 23:51] bramsvs commented on #9616
@julianoes Problem is this commit: https://github.com/PX4/sitl_gazebo/commit/de983cc09955cdb1e6e68b1cef5116cd4750f18f?diff=split it works when you comment out all the refs to `std_msgs`, see here: https://github.com/bramsvs/sitl_gazebo/commit/bf6d22af29354ab81f5d7427dc8ea2d634a417de

Didn't test it further and my knowledge about px4/protobuf is quite limited so we need more input on a proper fix.

[2018-06-10 00:02] Antiheavy commented on #9566
@Kjkinney let's ground test this soon.

[2018-06-10 00:03] Antiheavy commented on #9567
@Kjkinney let's ground test this soon.

[2018-06-10 00:29] Texnovik commented on #9572
The problem is solved. The compass was defective. I installed a new compass. Everything is working. Thank you all for your help!

[2018-06-10 00:29] #9572 closed

[2018-06-10 10:53] LorenzMeier opened #9632 "Enable SITL compile test on non-ROS systems"
**Describe the bug**
We are incurring instabilities on non-ROS enabled systems (what our downstream adopters are using) due to a lack of CI on the Gazebo integration

**To Reproduce**
Run `make posix gazebo`

**Expected behavior**
Should build

**Log Files and Screenshots**
It fails to load plugins because we are 'faking' a ROS environment and have namespace clashes with the Gazebo standard messag

[2018-06-10 10:55] LorenzMeier commented on #9632
@dagar We need SITL on one of the Mac OS build systems and validate the sitl_gazebo repo against it.

@TSC21 We need to stay away from the Gazebo or ROS message namespace for our own messages as that will create constant namespace clashes and hard-to-debug-or-maintain problems. The recent 'cleanup' was unfortunately introducing a lot of these potential issues and we have now already the first prob

[2018-06-10 11:01] TSC21 commented on #9632
Yeah I will merge it back into one lib for custom proto msgs in Gazebo. This issue does not happen in Linux systems (tested on Ubuntu 16.04). So we definetely need CI on MacOS, since every change should be tested system-wise (I don't own a Mac for example, so I am not able to test everything on each platform).

[2018-06-10 11:39] TSC21 commented on #9632
@LorenzMeier I think the problem is more simple: can you please take https://github.com/PX4/sitl_gazebo/blob/master/CMakeLists.txt#L246 out and retest? I think the problem is `Int32` being added into two separate libs (a typo), nothing to do with Gazebo/ROS namespace clash.

[2018-06-10 11:49] #9632 closed

[2018-06-10 11:51] LorenzMeier commented on #9616
Thanks! Fix is on master: https://github.com/PX4/Firmware/commit/3da459899a9b892c28752203e922834672641676

[2018-06-10 11:51] #9616 closed

[2018-06-10 11:52] LorenzMeier commented on #9621
This issue will close automatically in 30 days.

[2018-06-10 12:40] cimbar commented on #8751
did you solve this issue?

[2018-06-10 15:26] mad-sci opened #9633 "Software crash/Hardfault after parameter update and soft reboot."
Experiencing multiple random incidents of software crash/hardfault right after updating MPC parameters and doing a soft reboot. Disappears only after a complete power cycle(disconnecting and reconnecting from battery).

Also during arming QGC shows PREFLIGHT FAIL: NO MAG SENSOR #0 the copter arms anyway and takes off but have absolutely no control over pitch, roll or yaw while the throttle works f

[2018-06-10 17:43] dagar commented on #9616
Do we need MacOS CI building gazebo?

[2018-06-10 17:45] dagar commented on #9632
Can we create a fresh issue describing what's needed?

[2018-06-10 17:48] TSC21 commented on #9616
@dagar working on it: https://github.com/PX4/sitl_gazebo/pull/217

[2018-06-10 17:48] LorenzMeier commented on #9616
@TSC21 has a PR up for that, WIP.

[2018-06-11 04:32] dagar commented on #9567
PR https://github.com/PX4/Firmware/pull/9636

[2018-06-11 08:35] julianoes opened #9637 "px4fmu-v2_default Build fails on Fedora 28"
I'm unable to build latest master (9ccf17dbee0cdb8c6d87702dbffbba9cebe28592) on Fedora 28.

The error is:
[code]

Full verbose compile output: https://pastebin.com/qYNCXAEx

[2018-06-11 08:42] philipoe commented on #9461
@bkueng Tested again, the Pixhawk used is the mRo version with "PX4FMU v2.4.6" printed on it. The fix seems to work, i.e. during 15 reboots it never completely failed to find the GPS. When issuing a "gps status" ca. 15 seconds after reboot, during 2 of the 15 reboots it first had not found the GPS, but then 2 seconds after the gps status had found it. See nsh output below (the test was done inside

[2018-06-11 08:53] julianoes commented on #9637
`git bisect` says:

[code]

[2018-06-11 08:54] Seunghwan17 commented on #9286
using UUID method have some problem. stm32 has 92bit UUID, but mavlink has only 64bit uuid. Therefore, some FC has same UUID.

[2018-06-11 09:10] julianoes commented on #9637
These two changes are responsible for the error:
https://github.com/PX4/Firmware/commit/dc1e91137a7ce71d41e8287e2466e1bff75e2b6d#diff-26b61c2e65e5820521e1a63b35985cb4R50

[2018-06-11 09:30] RomanBapst commented on #9325
@davids5 Thanks for the update!
@dk7xe Have you by chance already tested this and can you confirm that these issues are solved with the latest firmware?

[2018-06-11 09:31] Changliu52 commented on #9263
Currently, I just sent out a bunch of fake vision_pose to pass the initialisation check for px4.
This only work when `rotate external vision` and `vsion yaw fusion` are disabled, and I rotate external vision in ros before passing into the vision_pose estimation.

[2018-06-11 09:33] julianoes commented on #9286
@Seunghwan17 correct, we should switch DroneCore from 64bit to 92bit. Mavlink2 actually has the 92bit UUID in the `uid2` field.

[2018-06-11 09:53] RomanBapst opened #9639 "Snapdragon broken on master (11.06.2018)"
**Describe the bug**
While trying to test #9482 noticed that master is broken for Snapdragon flight.
It seems that yet another missing symbol was introduced, see below

[code]

[2018-06-11 10:09] #9637 closed

[2018-06-11 11:18] RomanBapst commented on #9639
Probably related to this
https://github.com/PX4/Matrix/commit/03a3e3ad46d21bb90e78f8cedd3526d24617df5f

[2018-06-11 11:20] RomanBapst commented on #9639
Bisect results:
First bad commit: 5d066f95c72550626f7ee72b7bff930042485360
which is the matrix lib update

[2018-06-11 11:37] philipoe opened #9640 "[load_mon] logger low on FDs!"
### Issue:
On Pixhawk (mRo PX4FMUv2.4.6, but that should not matter) and the current master we use the logger app, but use a custom logger_topics.txt called e.g. [here](https://github.com/PX4/Firmware/blob/537451c2a09c18d76a0bdba975c59a0f7e171ce2/src/modules/logger/logger.cpp#L833) to load a couple of topics in addition to the ones loaded by default [here](https://github.com/PX4/Firmware/blob/mast

[2018-06-11 13:22] LorenzMeier commented on #9527
Looked into this on the weekend, but no final verdict yet. I suspect that we have a busy loop somewhere or run something at a too high rate and hence get the high load.

[2018-06-11 13:30] dagar commented on #9639
Ok, that's an easy one to fix. We can use INFINITY from C instead of C++ limits.

For snapdragon CI we need
1. snapdragon docker containers that produce working binaries (likely separate for eagle and excelsior)
2. a snapdragon linux package that contains all the px4 pieces linux side + DSP shared libs
3. a snapdragon flight connected to a Jenkins slave via adb serial or over the network

At the m

[2018-06-11 14:28] dagar commented on #9640
The short answer is we probably can't increase the number of file descriptors on fmu-v2 hardware, but we could consider it on v5 (pixhawk 4). It burns a lot of memory per nuttx task.

I actually have an old test branch that lets logger (and others) bypass file descriptors for uORB, but that's a much larger discussion.

As an immediate workaround we could review your entire logger list (builtin + l

[2018-06-11 14:56] philipoe commented on #9640
OK, good to know!

Thanks, we already started that. Closing this issue for now.

[2018-06-11 14:56] #9640 closed

[2018-06-11 16:14] garfieldG commented on #9532
Hi,

seems like there are some untouched places where the issue isn't handled, such as https://github.com/PX4/Firmware/blob/27e75920bd560b7d8de295db45aba8cf036cd98d/src/drivers/imu/l3gd20/l3gd20.cpp#L1358

[2018-06-11 17:17] davids5 commented on #9461
@tops4u - I received AUAV X2.1 and the mRo GPS from mRo via @pkocmoud  (Thank you!).  I built and tested master @ 27e75920bd560b7d8de295db45aba8cf036cd98d with @bkueng 's reopen fix a62a71f48f3d40bba6e9af114a185f6bbad849b1 reverted. Building with gcc 5.4.1 or 7.2.1 gave me the same results. GPS status shows

[code]

So I am wondering what is different?
I have a Power module connected.
Jtag and deb

[2018-06-11 17:20] philipoe commented on #9461
@davids5 How often did you test this (i.e. how many hard-reboots did you do)? For me, this did not happen after every reboot, but every 2nd or 3rd reboot.

[2018-06-11 17:21] davids5 commented on #9461
@philipoe At least 6 power ons and 8 reboot commands

[2018-06-11 17:26] jbourne15 commented on #9621
Here is the log file on Flight Review:
https://logs.px4.io/plot_app?log=4b64b736-0462-47d4-92cc-c93fa8397cf6

Please see the plots: Actuator Outputs (Main) and Actuator Controls 0 around 3:00 for similar behaviour to previous figure.

Also, I can get the same instability through different configurations of roll and pitch.

[2018-06-11 17:26] tops4u commented on #9461
@davids5 crosscheck with a build Binary from the Server. 1.7.3 is available for download it should be made with the new buildchain. It did not work when I tested it.

[2018-06-11 17:37] davids5 commented on #9461
@tops4u Please send me that .px4 file.

[2018-06-11 17:50] tops4u commented on #9461
You can try this one. It's master from 16.5. (1.8. BETA).

[auav-x21_default.px4.zip](https://github.com/PX4/Firmware/files/2091106/auav-x21_default.px4.zip)

[2018-06-11 19:52] davids5 commented on #9461
@tops4u
Interesting results. I had to load the binary with the uploader.  The bootloader on my AUAV X2.1 board reports the wrong PID and QGC (on windows) would not see the device in bootloader mode.

[code]

The start uptime seems to vary but it always started. I am repeatedly doing `gps status` every .25 Sec. on the dev console, I have seen it take 10 seconds.
[code]

[2018-06-11 20:00] tops4u commented on #9461
Did you Update the Bootloader according to the docs? Otherwise it would identify as FMUv2

[2018-06-11 20:04] davids5 commented on #9461
Nope! My Bad. I just used it out of the box. I see that section....I just skipped to the pretty picture to hook it up.

[2018-06-11 20:20] davids5 commented on #9461
Ok. Even with the correct bootloader QCG is having issues finding the board.
![image](https://user-images.githubusercontent.com/1945821/41254905-bbb6d604-6d79-11e8-82a4-dfc95776d8dd.png)

regardless installing  your bin GPS is always coming up.

@tops4u  It sounded to me as if you were getting a hard failure. I have not seen that ever. Can you reduce your setup to just the GPS a Power module and t

[2018-06-11 20:39] tops4u commented on #9461
I use a Mac. Never had issues finding the Board.

Tried with Drotek uBlox M8N / M8Q. They work like a charm on Dropix regardless of Build/Version.

[2018-06-11 20:49] lkoegel commented on #9521
Hey everyone,

Emlid most recently changed their webpage instructing the Raspberry Pi configuration.
( https://docs.emlid.com/navio2/common/ardupilot/configuring-raspberry-pi/ )
This is a Stretch (Debian) image witch doesn't support the GPS somehow.

Beat indicated to try it out with the older Debian Version Jessie (which was on the Emlid homepage before the last change).
With Jessie the GPS works

[2018-06-12 07:07] LorenzMeier commented on #9606
@dagar Any news on this?

[2018-06-12 07:10] acfloria commented on #9606
I am currently working on it.

[2018-06-12 08:36] bkueng commented on #9532
@garfieldG right, this driver is not enabled on Pixhawk 4. Fixed in #9647

[2018-06-12 09:19] bkueng commented on #9461
@davids5 the following binary fails for sure, it is f87fa9131b70735047d37bf7e06db1d613389fec, GCC 7.1.0, and I tested with USB power.
[auav-x21_default_f87fa9131b70735.zip](https://github.com/PX4/Firmware/files/2093389/auav-x21_default_f87fa9131b70735.zip)

[2018-06-12 12:19] thomasgubler opened #9648 "UAVCAN 1 on master (2018-06-12) broken"
I have different behaviours when using UAVCAN to control ESCs on CAN1 and CAN2 on a Pixhawk 4.

- CAN1: everything works fine if we are not connected to QGC. When I launch QGC it will request the UAVCAN parameters and I get a hardfault in the send_uavcan function in mavlink_parameters.cpp. This happens because initially the _uavcan_open_request_list pointer is null. I tried returning the function

[2018-06-12 14:08] DanielePettenuzzo commented on #9648
FYI @LorenzMeier @davids5 @thomasgubler

[2018-06-12 14:47] davids5 commented on #9648
@DanielePettenuzzo as mentioned here https://github.com/PX4/Firmware/issues/9534#issuecomment-395893390

What this means is the FW server (for historical RAM size limitation) a separate task under uavcan on the FMU is that is started in the configuration phase and then stopped to conserver RAM. It is responsible for 1)  dynamic node ID allocation (think DHCP on can) 2) FW upgrade - using the brick

[2018-06-12 14:52] DanielePettenuzzo commented on #9648
UAVCAN FW server is not running on CAN2 therefore the function that causes the hardfault is never called.

[2018-06-12 15:34] thomasgubler commented on #9648
Rough ETA I got from Daniele is noon CEST 2018-06-13

[2018-06-12 16:11] #9606 closed

[2018-06-12 16:11] davids5 commented on #9461
@bkueng - thank you! I loaded the elf and tested with only a) USB b) a debug cable and c) the GPS connected results are the same as noted above:
GPS does start after bootup

[code]

Are you connected to QGC?
Do your boards look to be the same as mine show above?
Do you have only the one cable connected to the GPS?

I am using a isolated debug console - it is an ftdi that will not back feed power t

[2018-06-12 17:31] LorenzMeier commented on #9648
@DanielePettenuzzo There is also the PR from David with the UAVCAN update which might address a couple of issues.

[2018-06-12 18:33] davids5 commented on #9461
Hi @tops4u where do you see  12.6?
All the PX4 files provided above have been tested. The last one was from @bkueng's zip file

[2018-06-12 18:50] tops4u commented on #9461
Check your Bootlog above

`nsh> [boot] Fault Log info File No 4 Length 3177 flags:0x01 state:1
[boot] Fault Log is Armed
sercon: Registering CDC/ACM serial driver
sercon: Successfully registered the CDC/ACM serial driver
HW arch: AUAV_X21
FW git-hash: f87fa9131b70735047d37bf7e06db1d613389fec
FW version: 1.8.0 0 (17301504)
OS: NuttX
OS version: Release 7.22.0 (118882559)
OS git-hash: 0ac630e6d0e904

[2018-06-12 19:23] tops4u commented on #9461
@davids5

Just created a Log from the AUAV-X2 (FMUv2) which suffers the same Problem.

Picture of the Setup (most simple, a uBlox M8Q and the Console just GND, TX, RX):
![img_2361](https://user-images.githubusercontent.com/6877067/41312170-b7e2c7f0-6e86-11e8-9dea-eefe9e4e5651.jpg)

Log after issuing REBOOT:
[code]

[2018-06-12 19:33] dagar commented on #9648
See https://github.com/PX4/Firmware/pull/9650

[2018-06-12 20:00] davids5 commented on #9648
@DanielePettenuzzo - I think this was related to a race that happens because of the F7. I could have been speed, ordering or  having 2 CAN interfaces. The Fix is #9652. I found that send_uavcan was called before enque_uavcan_request on the F7. This was not the case on a AUAV X2.1. I am not sure if it related to having 2 can interfaces or we would have seen it on FMUv2 w/2MB

[2018-06-12 20:08] #9639 closed

[2018-06-12 20:10] DanielePettenuzzo commented on #9648
@davids5 thanks you. Today I also tried with Pixhawk 3 Pro (fmu-v4pro) that has 2 can interfaces and I didn't have this issue.. Instead with the Pixhack v5 (also fmu-v5) I have the same issues as on Pixhawk 4.

[2018-06-12 20:29] davids5 commented on #9648
@DanielePettenuzzo  For the record my assumption above about a race was wrong! The bug has been in the code forever. It was not a race. The dereferencing null on the F4 did not pitch the exception but does on the F7.

Please cross test the PR as well.

[2018-06-12 20:34] DanielePettenuzzo commented on #9648
@davids5 will do one more test first thing tomorrow morning although this is the same change I did today and it was working fine.

[2018-06-12 20:39] davids5 commented on #9648
@DanielePettenuzzo - thank you! The value add will be testing on the new libuavcan that is now on master.

[2018-06-12 20:41] DanielePettenuzzo commented on #9648
@davids5 perfect. will do.

[2018-06-12 20:44] #9648 closed

[2018-06-12 20:57] davids5 commented on #9461
[boot] Fault Log is Armed
sercon: Registering CDC/ACM serial driver
sercon: Successfully registered the CDC/ACM serial driver
HW arch: AUAV_X21
FW git-hash: f87fa91
FW version: 1.8.0 0 (17301504)
OS: NuttX
OS version: Release 7.22.0 (118882559)
OS git-hash: 0ac630e6d0e90480121c74d59a92676f0b951dce
Build datetime: Jun 12 2018 11:11:39
Build uri: BUILD_URI
Toolchain: GNU GCC, 7.1.0
MFGUID: 363533353

[2018-06-12 21:01] tops4u commented on #9461
@davids5 : First Log ist with Master from last week -> GPS fails after reboot. Second Log is with 1.7.0 from December where GPS starts on the spot after booting. Same Setup, same HW, etc just flashed older FW.

[2018-06-12 21:30] davids5 commented on #9461
@tops4u - I understand the content of https://github.com/PX4/Firmware/issues/9461#issuecomment-396704387. The June 6 vs June 12 part (6.12) was where you had me confused from https://github.com/PX4/Firmware/issues/9461#issuecomment-396688254

The https://github.com/PX4/Firmware/issues/9461#issuecomment-396647008 test results was with FW @bkueng sent of his build that he has failing on the X2.1 HW

[2018-06-12 21:54] jbourne15 commented on #9621
Here is another log file of the same quad flying outdoors in offboard mode.  The unstable PWM commands seem to cause the quad to fall out of the sky. Any suggestions?

https://logs.px4.io/plot_app?log=b25b04ae-42d7-452c-a169-47ff13bf8c84

[2018-06-13 01:51] jbourne15 commented on #9621
Downgraded to fw v1.7.2 and the unstable pwm commands still exist.

here is log: https://logs.px4.io/plot_app?log=6208c07b-0c05-4643-82f9-1429c797c1da

Also I tried arming a pixhawk 3 without any connecting escs/motors and the pwm would eventually go unstable as well.

[2018-06-13 04:33] dagar commented on #9595
There's not a lot to go on here, but the log does catch occasional blips at other times.

![image](https://user-images.githubusercontent.com/84712/41330350-f46a9bac-6ea0-11e8-8479-c0c7595450d0.png)

Adding a small hysteresis to the switch changes wouldn't hurt, although I can't claim that would have prevented this.

[2018-06-13 06:23] tops4u commented on #9461
@davids5 - Regarding the Questions:

1. Yes FTDI had 5V disconnected and the USB Connection as well as the USB to FTDI has been cut between tests. I doubt this is a GPS Init Problem. As mentioned above I have issued the GPS STATUS manually by typing it each time. This took around 30 - 60 secs to do in the first log and still the GPS not detected, whereas with the old FW I just typed it immediately

[2018-06-13 06:41] LorenzMeier commented on #9621
@jbourne15 It looks like you have an issue due to your gain setup. There seems nothing to be wrong with the system in general, but the specific controller gains you have set on the airframe are an issue. Can you reset to the generic quad config and see what that does?

[2018-06-13 07:45] tops4u commented on #9461
@bkueng I am not sure, build infrastructure is relevant. When I build master on my Mac with GCC 5.x it does work as well, only the Server Buildchain fails for me. The Toolchain you used is not identical to the one on the Server (_Toolchain: GNU GCC, 7.1.0_ vs. _Toolchain: GNU GCC, 7.2.1 20170904 (release) [ARM/embedded-7-branch revision 255204]_)

Did your Build fail on your FMU?

[2018-06-13 09:09] bkueng commented on #9461
Yes

[2018-06-13 09:18] tops4u commented on #9461
@bkueng Ok, I'll check with your build on my mRo Unit later today.

[2018-06-13 13:19] bkueng commented on #9527
Found the root cause, it's described here: https://github.com/PX4/ecl/issues/459

[2018-06-13 15:06] thomasgubler commented on #9609
TODO: verify analysis of @mcsauder by setting f450 config and observe values

[2018-06-13 15:10] mrpollo commented on #9593
@dagar here's my example config file for the `github_changelog_generator` tool

[code]

[2018-06-13 15:34] mcsauder commented on #9609
I've verified that uploading the current master branch v1.8.0-rc0 firmware, if the F450 airframe is selected PWM_MIN is set to 1230.  If, however, the F450-sized quadrotor with CAN (4012_quad_x_can), PWM_MIN remains the default value of 1075.  I've also checked F350 and verified the F350 airframe sets PWM_MIN to 1230.

Should set PWM_MIN 1230 perhaps be added to the 4012_quad_x_can config file?

[2018-06-13 16:13] jbourne15 commented on #9621
@LorenzMeier Ok so I changed the air frame to the Generic Quadrotor x with v1.7.3 firmware, calibrated all the necessary sensors and I am still getting unstable PWM.  Here is the log: https://logs.px4.io/plot_app?log=d18ce47f-b2f2-4572-b53c-e0c47fec00ed

If you notice right before the PWM goes unstable the output signals go down. My guess is that this is due to the integral term building because t

[2018-06-13 16:41] LorenzMeier commented on #9621
@jbourne15 Ok, that makes a lot more sense. You're running into the actuator limit handling of the system. If you want to get a nominal response you need to be flying the system. At this level of wound up integrators all bets are off.

[2018-06-13 16:57] jbourne15 commented on #9621
@LorenzMeier  To be clear, are you saying that this error shouldn't happen when I am actually flying and is just a result of me testing on the desk?

This log shows a flying quadcopter fall due to unstable PWM.
https://logs.px4.io/plot_app?log=b25b04ae-42d7-452c-a169-47ff13bf8c84

Also I am not sure what you mean by "at this level of wound up integrators all bets are off".  In my previous response

[2018-06-13 17:01] jbourne15 commented on #9621
Just tried this on a Pixhawk 1 with v1.7.3 fw and got unstable PWM.

Here is the log: https://logs.px4.io/plot_app?log=95f86a11-3b13-4dbc-9fd9-e6807c07c927

[2018-06-13 17:21] cs147 opened #9662 "Is the px4 devguide broken?"
This isn't exactly a PX4 firmware bug but just wanted to report it here in case anyone can help fix

dev.px4.io and all associated webpages are down

[2018-06-13 17:34] bkueng commented on #9609
From what I see uavcan does not use `PWM_MIN`.

Also I'm currently updating the MC PID tuning page and I specifically added `PWM_MIN` as a precondition: https://bkueng.gitbooks.io/px4-user-guide/content/en/advanced_config/pid_tuning_guide_multicopter.html#precondition

[2018-06-13 18:03] korigod opened #9663 "Flying with USB connection"
Is it ok to fly with USB-connected companion computer? We used to use UART connection, but it has several disadvantages. The speed is low, also it has less resistance to interference compared to the USB differential pair and it's not possible to flash FMU using the default PX4 bootloader.

So is the `circuit_breaker_engaged_usb_check` introduced to fly with USB or it's only for lab tests and flyin

[2018-06-13 18:27] matthewsharpe commented on #8766
Did you ever find any solution to this? I'm am having the exact same problem.

[2018-06-13 19:59] davids5 commented on #9461
@tops4u, @bkueng - the parameters setting are the reason I could not reproduce this. THANK YOU @bkueng.

The issue was the camera trigger code. The Fix is here https://github.com/PX4/Firmware/pull/9665

[2018-06-13 20:08] davids5 commented on #9461
@tops4u, @bkueng - Thank you for your help!

All of this make sense. All the weirdness: What compiler, how it was built would have changed the data indexed by the -1 on the gpio array. Why the reopen worked.

The data at gpio[-1] passed to the px4_arch_configgpio would have affected some IO on the CPU. Yikes!!!. In this specific case UART4 TX PA0 was overwritten to an Analog input by the camera tr

[2018-06-13 20:10] RomanBapst opened #9666 "Gazebo optical flow simulation laggy"
It seems like something is creating a lot of load when using the ```gazebo_iris_opt_flow ``` target.
As soon as the drone moves a bit the simulation becomes laggy and freezes for short periods.
Could somebody give this a try on master and see if he/she experiences the same issue?

I'm using Ubuntu 16.04 and I have the NVIDIA proprietary driver activated.

[2018-06-13 20:14] tops4u commented on #9461
Of course! I have configured the Camera on the AUAV-X2 and the mRo Unit but not on the Dropix B-)

Good finding! Thanks a lot @davids5 & @bkueng

[2018-06-13 20:14] TSC21 commented on #9666
This is mostly because of the uneven ground model. It's computational expensive. It should be changed to something as the asphalt plane.

[2018-06-13 20:21] tops4u commented on #9583
@priseborough  Thank you very much for your help and explanation. I'll close this and try to figure proper Params for TERR_NOISE for my use case.

[2018-06-13 20:21] #9583 closed

[2018-06-13 21:22] dagar opened #9667 "CI mission test intermittent failures"
Recently the CI mission tests have started failing more regularly with PX4 appearing to exit almost immediately.

![image](https://user-images.githubusercontent.com/84712/41378733-fde40582-6f2d-11e8-80b6-83deb2ccd2e5.png)

Examples
3 in this PR - http://ci.px4.io:8080/blue/organizations/jenkins/Firmware/detail/master_gps_fix/2/pipeline
2 in this ecl update test - http://ci.px4.io:8080/blue/organiz

[2018-06-13 23:52] lamping7 commented on #9667
The shutdown is caused by an assertion in the test. The test isn't getting messages from the ROS topics. If messages are not received 60 seconds after startup the test fails and quits. This normally takes less than 15 sec.

Something is possibly wrong with MAVROS or sitl_gazebo. MAVROS doesn't seem to be connecting to PX4. Therefore, no messages.

[2018-06-14 00:36] dagar commented on #9667
No longer getting the early PX4 exit after reverting https://github.com/PX4/Firmware/commit/4eda0ed782faecdf600312cea7484e271d8008ea

https://github.com/PX4/Firmware/commits/pr-sitl_exit

[2018-06-14 06:19] LorenzMeier commented on #9666
@thomasgubler @bkueng @dagar This is a v1.8 blocker that needs to be resolved.

[2018-06-14 06:24] rahulsharma11 opened #9669 ""[lpe] baro fault, r negative 9.19 meters, beta 9.35""
Hi, While using the latest px4fmu-v3 version with new pixhawk mini. It continously throws the error -
"[lpe] baro fault, r  negative 9.19  meters, beta  9.35"
negative "-" 20 21
"[lpe] baro fault, r  negative 9.28 m, beta  9.55"
meters "m" 35 36
"[lpe] baro fault, r  negative 9.28  meters, beta  9.55"
negative "-" 20 21
"[lpe] baro fault, r  negative 9.47 m, beta  9.94"
meters "m" 35 36
....so on.

[2018-06-14 06:30] LorenzMeier commented on #9669
Hi - we are not maintaining / supporting LPE any more. Please use EKF2. Thanks!

[2018-06-14 06:30] #9669 closed

[2018-06-14 06:55] thomasgubler opened #9670 "1.8: Fix all issues discovered by Coverty Scan"

[2018-06-14 07:19] bkueng commented on #9461
Cool! Nice work everyone!
I can confirm that #9665 fixes it.

[2018-06-14 07:51] DanielePettenuzzo commented on #9670
vl53lxx driver fixes PR: https://github.com/PX4/Firmware/pull/9671

Other fixes PR from @bkueng: https://github.com/PX4/Firmware/pull/9660 (already merged)

[2018-06-14 08:40] LorenzMeier commented on #9662
We switched from Gitbook to Github pages. The website is up.

[2018-06-14 08:43] #9461 closed

[2018-06-14 12:49] lamping7 commented on #9667
I don't think this has to do with the shell. I think the problem is Jenkins workspace related. Our test is terminating PX4.

[code]

The same issue (it seems like to me) is causing other failures too.
![screenshot from 2018-06-14 08-48-35](https://user-images.githubusercontent.com/10533707/41412998-c4998c5c-6faf-11e8-9b2e-16c25618f77e.png)

[2018-06-14 14:30] RomanBapst commented on #9666
Fixed by #9675

[2018-06-14 14:39] bkueng commented on #9667
Good, I thought it was strange too that it could be the shell (and if it were, it should always fail).

[2018-06-14 14:54] dagar commented on #9667
I'm not following, there are multiple failures in CI at the moment. The output I posted above is almost certainly from the EOF shell change, but running non-interactively sounds like a good fix.

[2018-06-14 15:47] lamping7 commented on #9667
Hmmmm.... I'm beginning to think you maybe right and the test failure is a result of px4 shutting down...

For the second failure type:
It is possible for a workspace to have multiple packages. They get extracted. Wildcard completion everywhere makes things non-deterministic. The branch I'm working on makes all this happen inside the docker container -- which gets tossed in the trash after each st

[2018-06-14 16:03] LorenzMeier commented on #9667
I think that’s important. I really don’t like that things are staying after the test - that’s just always going to be an issue.

[2018-06-14 18:09] Antiheavy commented on #9566
@dagar
after our discussion, it makes sense to combine this with the existing pre-flight check for Diff-Pressure and also run this check at ARM.   Change the check to look at airspeed instead of diff pressure. This requires allowing negative airspeed to pass into the system as well.

[2018-06-14 21:32] #9662 closed

[2018-06-14 23:29] hamishwillee commented on #9662
To be very precise we switch hosting from gitbook.com to github pages. The toolchain used is otherwise the same (gitbook client)

[2018-06-15 00:38] dagar commented on #9667
Fixed.

[2018-06-15 00:38] #9667 closed

[2018-06-15 03:31] aogrcs opened #9683 "Store params in fram and changed them using QGC, but they were reset to defaults after restart"
Hi
I used fram FM25V01 to store params. And I changed params by QGC, after restart, params were set to defaults. I also tested using console such as param set and param show -c, it did work! Does anyone test this? Thanks!

[2018-06-15 06:37] TomatoAndScallion opened #9684 "a question about run git submodule update --init --recursive"
I have a trouble when I run the order  git submodule update --init --recursive. It display the fallow fatal:
fatal: reference is not a tree: e1c9a4f5064a336295125da25c0542a5cd601dd7
Unable to checkout 'e1c9a4f5064a336295125da25c0542a5cd601dd7' in submodule path 'src/modules/uavcan/libuavcan'.
I don't konw how to solve this problem. Dose some people help me to solve this problem?  Thanks.

[2018-06-15 06:51] LorenzMeier commented on #9684
Please run `git fetch origin` and `git checkout origin master` and retry.

[2018-06-15 06:51] #9684 closed

[2018-06-15 06:54] aogrcs commented on #9683
I did hardware myself just like PIXRACER, did this cause the problem? Thanks

[2018-06-15 07:31] LorenzMeier commented on #9683
We have seen fake FRAM parts. This sounds like one.

[2018-06-15 07:31] #9683 closed

[2018-06-15 09:09] #9666 closed

[2018-06-15 13:14] stmoon opened #9686 "reboot problem to bootloader in commander (VEHICLE_CMD_PREFLIGHT_REBOOT_SHUTDOWN (param:3))"
Hi,

A few days ago, I reported the issue (https://github.com/PX4/Firmware/issues/9582) about reboot problem.
Recently, I found there is the 2 types of reboot.  (just reboot and reboot to bootloader using parameters of  VEHICLE_CMD_PREFLIGHT_REBOOT_SHUTDOWN

However, when I use reboot to bootloader , the pixhawk is stopped not reboot.
I think that there is a bug in reboot to bootloader.

BTW, coul

[2018-06-15 13:53] #9527 closed

[2018-06-15 14:16] LorenzMeier commented on #9561
@bkueng Do you see a quick fix for this?

[2018-06-15 14:32] bkueng commented on #9561
QGC could use `MAV_CMD_GET_MESSAGE_INTERVAL` beforehand?

Otherwise we could do some refactoring and call https://github.com/PX4/Firmware/blob/master/src/modules/mavlink/mavlink_main.cpp#L2005:L2033 again, but only applied to the requested stream. This would avoid any memory overhead.

[2018-06-15 15:14] bkueng commented on #9670
#9671 got merged as well.

[2018-06-15 15:14] #9670 closed

[2018-06-15 15:17] bkueng commented on #9609
@LorenzMeier given that the default is set to 1230, and your initial reporter changed it to 1075, I don't think we need to change anything. What do you think?

[2018-06-15 15:22] LorenzMeier commented on #9609
Yep. Let's close this!

[2018-06-15 15:22] #9609 closed

[2018-06-15 19:19] DonLakeFlyer commented on #9561
Would be nice if it worked as spec'ed.

[2018-06-15 21:50] LorenzMeier commented on #9595
It can't be the publication, I checked. But the plot you saw is harmless - there are only 8 initialised channels. I fixed the logging artefact here:
https://github.com/PX4/Firmware/pull/9690

[2018-06-15 22:07] LorenzMeier commented on #9595
I think this:
https://github.com/PX4/Firmware/blob/20aabd35665e53dedde67064e895127f004da914/src/modules/commander/commander.cpp#L2995

Is the culprit, triggered by a combination of low battery state and RC glitch leading to RTL. Will look more closely tomorrow.

[2018-06-15 23:44] dakejahl opened #9691 "Land (Navigator) for multi-copter"
_The vehicle will land at the location at which the mode was engaged. The vehicle descends at the rate specified in MPC_LAND_SPEED until it hits the ground._

A quad will attempt to land at the position it was at when this command was issued. If the quad is moving when this command is issued, it will overshoot this position (magnitude of overshoot depending on the inertia) and have to fly back tow

[2018-06-15 23:54] dagar commented on #9691
This sounds like a great thing to do.

How about expanding Navigator LAND to have 2 simple states.
  1. brake (bypass for FW)
  2. land

The missing piece is then how navigator asks for the full stop.

@Stifael @MaEtUgR what do you think?

[2018-06-16 03:40] djfly opened #9693 "motor asymmetrical VTOL aircraft support"
closed...

[2018-06-16 06:33] Stifael commented on #9691
It is not just for land required, but also for other navigator modes. For instance, currently the vehicle overshoots when being first in fast forward flight with transition to rtl: the rtl climb lat/lon is the location at the time rtl was initiated.
In the past I pushed a PR that added a break item (https://github.com/PX4/Firmware/pull/8057/files). It basically asks consists of a waypoint that ask

[2018-06-16 08:21] BazookaJoe1900 commented on #9691
@Stifael, It might also related to https://github.com/PX4/Firmware/issues/7567 (Inconsistent RTL state) where in RTL there is big overshoot in the position, right?

[2018-06-16 08:44] LorenzMeier opened #9696 "Poor land detection"
@MaEtUgR @bkueng Could you have a look? This is blocking v1.8

A new flight report just got uploaded:
https://review.px4.io/plot_app?log=22cb36a7-2ac1-4cd8-b42c-cea152c7a141

Description: beta18_mc03_pxr(05)
Feedback: take-off in position mode; steady hold; nice tracking; good nav; poor land detection
Rating: Unsatisfactory
Wind Speed: Breeze
Uploader: santiago@3dr.com

Vehicle type: Quadrotor
Air

[2018-06-16 09:51] cimbar opened #9697 "Crash in RC failsafe with vision position"
To describe issue clearly, i will explain all changes on multicopter with details;

**1-** In my setup, i was testing OFFBOARD flight with vision position and range sensor by using companion computer connected to TELEM2. There wasn't any problem on flight in this setup but after some time has passed TELEM2 started not to work, i couldn't connect to pixhawk via companion computer. I changed both th

[2018-06-16 14:42] dagar commented on #9691
@Stifael what do you think about a new position setpoint type for BRAKE or ALL STOP?

[2018-06-16 20:19] dakejahl commented on #9523
Has there been any work to support this? We have 2 IMUs, one isolated and one mounted directly to the pcb. Occasionally we see a fail to disarm on land (lots of accel/gyro noise) and have been unable to explain it. I wonder if it is this exact scenario.

[2018-06-16 20:29] LorenzMeier commented on #9523
@zarathustr The timeout margins are generous, so that should not happen in normal operation anyway.

@dakejahl Could you please provide a logfile?

[2018-06-16 20:59] LorenzMeier commented on #9697
You've lost RC input:

<img width="766" alt="screen shot 2018-06-16 at 22 58 44" src="https://user-images.githubusercontent.com/1208119/41502378-e65af2c6-71b8-11e8-89dd-4cf7adcf02e4.png">

And the log suggests the kill switch was only active very briefly:

<img width="854" alt="screen shot 2018-06-16 at 22 59 41" src="https://user-images.githubusercontent.com/1208119/41502380-fae48e5a-71b8-11e8-83

[2018-06-16 21:37] cimbar commented on #9697
Yes, the FCU changed the manual kill switch to 'off' itself and the vehicle started to ascend although it was on the ground after RC lost. While it was ascending, it slided to left and crashed to the wall.

[2018-06-16 21:49] zubair123khan commented on #8121
@mzahana I am using px4 mavros_posix_sitl.launch. But in rqt_graph too i am not able to see any connection with my drone and mavros. Any suggestions ?? Thanks

[2018-06-17 01:21] zarathustr commented on #9523
@LorenzMeier Hi Lorenz, That is true. Please see our pull request for the AMOV-IMU. We have made sure that 3 AMOV-IMUs can be sampled synchronously via the pixhawk autopilot for a whole week continuously (7x24 hours) without a single fault. This has been confirmed both by the perf and sensors status. No failsafe events has been triggered. We also have done the repeatability tests on various autopi

[2018-06-17 01:54] jscatena88 commented on #6836
Same issue here on a pixracer. Anyone figure this out or should I try to RMA the board?

[2018-06-17 03:39] djfly commented on #7184
I encountered the same problem, I found that this is because my system has two python, delete one to solve, in order to facilitate the people who encountered the same problem, hereby reply

[2018-06-17 03:47] djfly commented on #9598
you can run this in nsh `ls /obj` in list select your sensors  and `listener sensor_accel 2`

[2018-06-17 03:50] dagar commented on #6836
Please open a new issue and post your log.

[2018-06-17 09:20] LorenzMeier commented on #9697
No, the FCU doesn't modify the logic itself. It merely was only on for a split second. We are logging the radio inputs separately but at a lower rate and the kill switch was never on long enough to be captured there. I can also see that at around the same time other controls on the remote (like the param tuning channels) changed slightly and returned to their nominal value right after.

From the l

[2018-06-17 09:20] #9697 closed

[2018-06-17 10:58] stmoon commented on #9686
Thanks @LorenzMeier

I understand what the "reboot to bootloader" mean. It is just used for firmware upgrade

BTW,  Did you see https://github.com/PX4/Firmware/issues/9582?
Actually, sometimes, the software reboot has been not working.
Could you tell me some advise for me?

Thanks in advance

[2018-06-17 11:48] LorenzMeier commented on #9582
There is not nearly enough context to solve this. Please provide a complete writeup what you were trying to do, which configuration you were using and what you did before the reboot (including complete shell output).

This issue will auto-close in 30 days without any further input. There seems nothing to be wrong with the core system as far as we can tell with the information provided.

[2018-06-17 12:01] stmoon commented on #9582
Thanks you @LorenzMeier ,

I just rebooted the PX4(pixhawk 2.1) using VEHICLE_CMD_PREFLIGHT_REBOOT_SHUTDOWN with param 1 using mavlink.
I have used firmware v1.7.4

I think that this problem happens once per 10 times try. and I found the bootlog.txt was written like this
[code]
and I found the error happen in the mixer in rc.interface.

[code]
Once the reboot is failed, next time the mixer does no

[2018-06-17 12:16] zubair123khan commented on #4578
I am using "px4 mavros_posix_sitl.launch" and running a offboard mavros node for arming etc, but the node doesnt seems to have any impact. The node can be found here https://pastebin.com/mYP7QyS3.
I am not able to arm my IRIS with all this. Can any one tell me whats missing ?

[2018-06-18 02:19] #9693 closed

[2018-06-18 05:07] hamishwillee commented on #9663
This isn't really a bug, so you should ask it on the [discussion forums](http://dev.px4.io/en/#support)

From the [MAVLInk UART example](https://github.com/mavlink/c_uart_interface_example#hardware-setup):

So I would guess that this will probably work, but if things fall over debugging is going to be much harder.

[2018-06-18 07:42] Stifael commented on #9691
@BazookaJoe1900, #7567 should not be related. #7567 is a bug, this issue here is just a missing implementation where the actual physics of the vehicle are neglected (it is assumed that the vehicle has infinite acceleration capability).

@dagar new type is one solution. However, not sure if it agrees with the Navigator triplet API, since all it is needed is just a type.

[2018-06-18 08:00] bkueng commented on #9696
@santiago3dr Can you describe what you mean with poor land detection?

[2018-06-18 09:58] MaEtUgR commented on #9696
The first suspect for any problems with land detection is in my experience the **hover thrust** configuration.
In the log `MPC_THR_HOVER, 0.5` the hover thrust is 50% while the vehicle uses **~38%** to hover in the equilibrium. Not sure from the problem description but it might be that **setting the parameter `MPC_THR_HOVER` to 0.38** already solves the problem or at least helps to improve it.

[2018-06-18 09:59] jstrebel opened #9706 "Missing airspeed sensors drivers for px4 v5 ?"
Hello,
I try to hook up the airspeedsensor 4525DO  and the SDP3X on the pixhawk4 http://www.holybro.com/product/55 (px4 v5) without success.
PX4 software 1.8rc (compiled on 16.6)
In the QGC I get the message “no airspeed sensor found”.
The airspeedsensor 4525 works with the Pixhawk2.
I have connected an I2C protocol analyzer to the I2C connection to the sensor. On the analyzer I see that the PX4 i

[2018-06-18 11:13] Mani-Sadhasivam opened #9707 "Bypassing libuavcan for Nuttx-CAN interface"
Hello,

I have a usecase where I have to use PX4 stack without libuavcan for accessing the Nuttx-CAN interface on Aerocore2 board (based on STM32 microcontroller). Currently I have modelled my CAN module based on the [Nuttx CAN example](https://github.com/PX4/NuttX/blob/master/apps/examples/can/can_main.c). While executing the module I didn't get any error but I can't see the traffic on CAN bus.

[2018-06-18 11:31] DanielePettenuzzo commented on #9706
@jstrebel on what port did you connect your sensor? the issue is that the pixhawk 4 has 3 external i2c ports and probably the driver for your airspeed sensor is not starting automatically on the port that you want. I'm currently working on fixing this. For now you can try to start it manually by launching the following command in the mavlink shell:
[code]
where:
I2CA is bus_number 4
I2CB is bus_nu

[2018-06-18 11:59] jstrebel commented on #9706
Daniele, Thank you for the quick response.
I connected the airspeedsensor on the I2C A

[2018-06-18 12:08] DanielePettenuzzo commented on #9706
This port is not checked by default.
Let me know if it works with:
[code]

[2018-06-18 12:28] taileron commented on #8975
... changing source file: modules/pxiofirmware/mixer.h
line 42 from 230 to 330 will load mixers with more than 2 sources
for me that worked perfect.
230 was a good value in V 1.6.5 but in versions above 1.7.x it is necessary to increase it

[2018-06-18 12:35] jstrebel commented on #9706
Daniele, sorry for my ignorance. how does the command for the ms4525 look like?
jakob

[2018-06-18 12:51] taileron commented on #8312
... changing source file: modules/pxiofirmware/mixer.h
line 42 from 230 to 330 will load mixers with more than 2 sources
On PixFalcon for me that worked perfect.
230 was a good value in V 1.6.5 but in versions above 1.7.x it is necessary to increase it
same here #8975

[2018-06-18 12:56] DanielePettenuzzo commented on #9706
No problem.
[code]
By the way did you flash master or the release from qgc? The release from qgc doesn't fully support pixhawk 4. This will come with the next release. With master everything seems to be working for me.

[2018-06-18 13:36] jstrebel commented on #9706
Daniele, actually this was my guess. But it does not start. Also not with - b 2

[2018-06-18 13:50] DanielePettenuzzo commented on #9706
What message do you get in the console when it fails to start?
I just tried starting the ms4525 on I2CA with this command and it works on latest master.

Other possible issues could be the length of the wires or if one of the wires is not properly connected. I'm using the ms4525 from MRobotics and this has the same pinout as the pixhawk 4.

[2018-06-18 14:38] Omar-M-AbdelAziz opened #9709 "How to choose flight modes"
Hello,
I have now PIXHAWK 2 and I want to use in my drone to do specific tasks
So, till now, I can only fly the drone (simulation) using the offboard package https://github.com/Stifael/offboard
However,
What if I want to use other possible flight modes like altitude mode and position mode mentioned in the user guide, how is this possible ?

[2018-06-18 14:49] Stifael commented on #9709
@Omar-M-AbdelAziz, https://github.com/Stifael/offboard is deprecated.
If you want to fly offboard, I suggest to checkout https://github.com/dronecore/DroneCore.

[2018-06-18 17:05] asimonov commented on #7408
what is the status of this? was GPS+Vision fusion fixed in any release since Jun 2017?

[2018-06-18 19:00] jstrebel commented on #9706
Daniele, I did flash the beta from saturday and QGC from 6.6. I will be back Friday to let you know the exact message I got. Thanks jakob

[2018-06-18 20:29] santiago3dr commented on #9696
@bkueng
The issue I encounter is that when the copter touches the ground, sometimes the copter jumps back up about 1 meter and lands again or the other thing that happens is the copter upon touching the ground, lifts two legs and sort of jumps a few times before disarming.

I was not able to reproduce this in today's flights but as soon as I see it again, I'll send you a video clip of said behavio

[2018-06-18 20:46] feemi opened #9711 ""IGN MISSION_ITEM: No transfer" error"
An error occurs after uploading any mission to vehicle.

Which says "IGN MISSION_ITEM: No transfer".

It seems like it sends mission correctly. When i reopen qgc it downloads mission from vehicle successfully.

**Environment**
QGC v3.3.2 or QGC Master
PX4 1.7.4 Beta

**To Reproduce**
Steps to reproduce the behavior:
1. Drone switched on '...'
2. Uploaded mission '....' (attach QGC mission file)
4.

[2018-06-19 03:04] ryanjAA commented on #9540
Flew master today and all was fine.

https://review.px4.io/plot_app?log=e6d82fe3-9b3b-4f4b-b8c6-5af1e930e1a9

[2018-06-19 03:04] #9540 closed

[2018-06-19 05:51] bkueng commented on #9431
GPS is not handled in the sensors module but comes directly from the GPS driver. Moving the params there is one option and sounds good. The other is that the GPS driver guarantees that the main GPS is on uORB instance 0 whereas the secondary is on instance 1, which can be used in ekf2 to apply the parameters.

[2018-06-19 06:14] hamishwillee commented on #9477
@El7ias As per https://github.com/PX4/Firmware/issues/9477#issuecomment-389834678 , did you check that the vehicle named "Generic Ground Vehicle" did not exist?

If not, @TSC21 is arguing that this is a QGC issue, and should be posted there.

[2018-06-19 07:01] aogrcs commented on #9683
It's not the fake one, I used PC6 as spi cs signal, but it was also used for usart6, so I disable it in defconfig, and this did work! Thanks!

[2018-06-19 07:35] thomasgubler commented on #9549
TODO: produce log to be able to tune this. E.g. sport center/gymnasium,warehouse

[2018-06-19 08:10] tops4u commented on #9711
This should be fixed in the 1.8 Release.

[2018-06-19 09:05] RomanBapst opened #9713 "Baro spikes in SITL"
For some reason the baro data in SITL (gazebo) is very spiky.
![sitl_baro_spikes](https://user-images.githubusercontent.com/7610489/41587894-91ea58a4-73b0-11e8-908a-345874baa8a1.png)

This causes the ekf height checks to fail. @JohannesBrand FYI

[2018-06-19 10:38] taileron commented on #8312
... Release 1.8.0 broke it again.
with master 180dev from 10´th of june it worked perfect all mixer always loaded even with 5 sources (for vectored thrust)

[2018-06-19 12:55] dagar commented on #9713
They're present in the pressure coming straight from the baro simulator driver, so it must be from gazebo.

https://github.com/PX4/sitl_gazebo/blob/10b0597cd20def97074c6c8eade580a7f294e41d/src/gazebo_mavlink_interface.cpp#L509-L516

[2018-06-19 13:34] jbourne15 commented on #9447
@dagar I am installing this again and I am getting the following errors:

Log file:
[build.make.002.log](https://github.com/PX4/Firmware/files/2115358/build.make.002.log)

I have made sure that I have the latest firmware  with the [change](https://github.com/PX4/ecl/pull/447) you mentioned earlier and have ran `git submodule update --init --recursive` and `catkin clean --all -y`.  Thanks for any h

[2018-06-19 13:39] taileron commented on #8312
1.8.0 10´th june master supports even more sources than 1.6.5 now this mixer always starts:

# Motors
R: 3y 10000 10000 10000 0
# XFade Source (AUX1/RC7) MC=2000 FW=1000
M: 1
O:      10000  10000      0 -10000  10000
S: 3 5      0 -19888   9808  -10000  10000
#S: 3 5      0  19308  -9508 -10000  10000

Tilt mechanism servo mixer + (Tilt AUX3/RC12) + (FW Pi/Roll)
---------------------------
#RIGHT

[2018-06-19 14:04] dagar commented on #9713
@priseborough could you review the gazebo barometer noise?

https://github.com/PX4/sitl_gazebo/blob/10b0597cd20def97074c6c8eade580a7f294e41d/src/gazebo_mavlink_interface.cpp#L518-L532

[2018-06-19 14:29] mhkabir opened #9716 "EKF2 Indoor Mag Mode not functional"
**Describe the bug**
The EKF2 Indoor Mag fusion mode (EKF2_MAG_TYPE = 4) does not function on master and v1.8 release.

**To Reproduce**
Set EKF2_MAG_TYPE=4 and reboot vehicle, or restart ekf2 in SITL (`gazebo_iris_opt_flow`).

**Expected behavior**
The EKF should initialize and produce an attitude estimate.

In this case, the EKF does not initialise or produce an attitude estimate.

**Log Files a

[2018-06-19 14:57] Mani-Sadhasivam commented on #9707
Reopening since the associated forum topic is not yet approved by the moderator!

Can anyone provide some info here?

[2018-06-19 15:27] taileron commented on #8312
.... sorry, 1.8.0 Final release works with line 42 changed to 330 (GCC 7.2.1)

[2018-06-19 15:28] taileron commented on #8975
.... sorry, 1.8.0 Final release works perfect with line 42 changed to 330 (GCC 7.2.1) issue could be closed

[2018-06-19 17:00] alexcherpi commented on #9577
Thanks lamping7,
It should indeed be a result of poor computer performances. Nevertheless the good point is that everything is working and communicating (gazebo, ros, px4) except that I get in addition these warnings.
I am launching separately the gazebo ros and px4 processes in order not to relaunch everything if I just did some modifications in px4. And thus I only re-run the px4 process (keepin

[2018-06-19 17:44] mhkabir commented on #9577
If you update to latest mavros and latest PX4, you might not get these warnings, since the timesync was improved to work on worse links.

[2018-06-19 17:46] alexcherpi commented on #9577
I am working with the latest mavros but with PX4 v1.7.3
When was the commit to remove these warnings ?

[2018-06-19 17:52] mhkabir commented on #9577
This is not from latest mavros :
[code]

PX4 timesync : https://github.com/PX4/Firmware/pull/9365
Mavros timesync : https://github.com/mavlink/mavros/pull/1042

[2018-06-19 18:27] mrehan3 opened #9718 "jMAVSim HITL Navigation Failure"
**Describe the bug**
I am trying to run a HITL simulation using jMAVSim following these instructions: https://dev.px4.io/en/simulation/hitl.html. I am running the master PX4 firmware. Whenever I try to takeoff, the shell says "Takeoff detected" and then it says "CRTICIAL NAVIGATION FAILURE - CHECK SENSOR CALIBR". Then it goes completely unstable and moves uncontrollably with the Pixhawk flashing p

[2018-06-19 20:41] santiago3dr commented on #9696
I was able to reproduce the issue with the new stable release 1.8.0

great land detection:
https://review.px4.io/plot_app?log=9e3e76c7-7ac5-4e17-a624-069706e0d654

poor land detection:
https://logs.px4.io/plot_app?log=406113d2-d981-4794-958f-5fb6b295a2ec

video:
https://drive.google.com/open?id=1ad_aCtLa5KU97Y7FDC6LLEK0hgDC8m2v

[2018-06-20 01:21] 1nvoker opened #9719 "Dodecarotor cox failed to load bottom_cox mixer"
I am testing a Dodecarotor cox, using pixHawk & Firmware 1.8.0.
Some details about version are as follows:
HW arch: PX4FMU_V2
HW type: V2
HW version: 0x00090008
HW revision: 0x00000000
FW git-hash: 96443b3cf3e3adaec8b2ebb6c83a19a92d40a13f
FW version: 1.8.0 0 (17301504)

During initialization,  it shows that "failed to load mixers from /etc/mixers/dodeca_bottom_cox.aux.mix".
![image](https://user-i

[2018-06-20 01:44] 1nvoker commented on #9719
Hello,
I found the reason why error happens, "ret" is -1.
https://github.com/PX4/Firmware/blob/96443b3cf3e3adaec8b2ebb6c83a19a92d40a13f/src/systemcmds/mixer/mixer.cpp#L160
But I still don't know how to get it done. Does PixHawk support Dodecarotor cox?

[2018-06-20 04:17] priseborough commented on #9716
This fixes it on replay: https://github.com/PX4/ecl/tree/pr-ekfBugFix.

 I also noticed the artificial sensor noise on the SITL simulation which is the same on-ground and in-flight is causing the _vehicle_at_rest check to fail, which turns off fusion of the last known yaw angle, allowing the yaw to drift when on ground. I do not see this on hardware.

 If you don't get a chance, I will test furthe

[2018-06-20 04:27] bigbellmercy opened #9720 "A VTOL crash after log stop in the air after 'vtol_att_control low on stack' warning (flight log linked)"
Hi~ I hope PX4 developers to help finding the reason of crash.

A delta-quad type VTOL drone crashed on the water while in transition flight trials of a developing drone after logging is stopped after 'vtol_att_control low on stack' warning happened  but telemetry log sustained from the logging stop to the crash.

I am not sure this is a bug or not, but upload logs for analysis.

**Environment:**

[2018-06-20 05:43] bkueng commented on #9707
@davids5 do you know more?

[2018-06-20 06:38] thomasgubler opened #9722 "Feature: airspeed and distance sensors: add -a flag to driver to scan all buses"

[2018-06-20 06:42] thomasgubler commented on #9722
PR for airspeed: https://github.com/PX4/Firmware/pull/9699

[2018-06-20 07:36] DanielePettenuzzo commented on #9722
PR for distance: https://github.com/PX4/Firmware/pull/9710 [WIP]

[2018-06-20 10:40] feemi commented on #9711
Can not reproduced on 1.8.0 Release.

[2018-06-20 10:40] #9711 closed

[2018-06-20 12:06] philipoe commented on #9472
@tstastny Is this still an open issue or was this fixed somehow in the meantime?

[2018-06-20 14:42] dagar commented on #6288
@tjbordelon can you open a new issue describing your setup and upload a log?

[2018-06-20 16:04] OPLew opened #9725 "Pixhawk mini No mag sensor"
I get no mag sensor as soon as I connect the PX to QGC. And I can't finish the compass calibration.

I use the compass that came with the mini.

Anyone know what I could do. I think the compass needs to be replaced

![pix1](https://user-images.githubusercontent.com/40435923/41670375-69b7afbc-74b4-11e8-83fe-24fb878f4206.PNG)
![pix2](https://user-images.githubusercontent.com/40435923/41670377-69dd43

[2018-06-20 16:35] mhkabir commented on #9716
Just tested, it seems that yaw angle drift is present on ground. It also drifts quite a lot in the air, which is not entirely unexpected, but I expected better given that I'm using a temperature calibrated gyro.

Here is a replay log : https://review.px4.io/plot_app?log=c3632182-1b19-4c9c-9a19-a2816d6b982c

[2018-06-20 17:18] tstastny commented on #9472
I would say that it still makes sense to add a small tolerance to the IF condition. But the primary issue is on the QGC side -- calculating the FW landing pattern considering flare params (the calculations should match on QGC and Firmware side, or else it will of course give errors).

[2018-06-20 18:22] dagar commented on #9447
@jbourne15 I don't know why catkin cmake isn't respecting the variable (path to ecl.h). Can you move over to https://github.com/PX4/Firmware/pull/9679 and continue the discussion?

[2018-06-20 19:04] ryanjAA opened #9726 "EKF2 wind estimate very wrong"
Flown on 6/18 on Master (so almost 1.8 stable)

Actual wind at site was between 12-15 m/s

EKF2 Wind estimate shows ~2-4 m/s.

https://review.px4.io/plot_app?log=e6d82fe3-9b3b-4f4b-b8c6-5af1e930e1a9

Also, if you take look at ground speed vs airspeed we're cruising at about 20 m/s but traveling closer to 35 m/s but wind estimates are nowhere near what we were actually in (we measure wind with an a

[2018-06-20 19:09] dagar commented on #9726
Here's a plot of ground speed, wind speed (+ components).

![image](https://user-images.githubusercontent.com/84712/41679324-d67ce824-749b-11e8-8f95-c17166b48d6d.png)

[e6d82fe3-9b3b-4f4b-b8c6-5af1e930e1a9.ulg.pdf](https://github.com/PX4/Firmware/files/2120699/e6d82fe3-9b3b-4f4b-b8c6-5af1e930e1a9.ulg.pdf)

[2018-06-20 19:25] asimonov opened #9727 "v1.8 in QGC does not detect RC with PH2.1"
**Describe the bug**
The standard GQC firmware version of 1.8.0 does not work with FrSky RC on Pixhawk 2.1
If we build it from git it works fine with FrSky

**To Reproduce**
Upgrade firmware in QGC
Restart
Drone does not detect RC, it is not shown in QGC

**Expected behavior**
Work as before

[2018-06-20 19:32] dagar commented on #9726
Same plot again with TAS (true airspeed) innovations, variance, and test ratio.

![image](https://user-images.githubusercontent.com/84712/41680276-f4adc932-749e-11e8-9379-7885a5610c7f.png)

[2018-06-20 19:37] dagar commented on #9726
When the TAS test ratio (dark red in the plot above) is greater than 1 the airspeed is rejected.

[2018-06-20 19:44] mrehan3 commented on #9718
Sometimes the navigation doesn't fail, but it says "Takeoff detected" and "Landing detected" as I move the throttle stick, but nothing happens in the GUI.

According to this flight log: https://logs.px4.io/plot_app?log=86679494-993a-410d-aca1-b1f8eb9cf326

It seems as though it is getting the throttle RC input, but it is not changing the z velocity or local z position.

[2018-06-20 19:54] mhkabir commented on #9263
Let's fix this now. I'm having a look at what needs to be done.

[2018-06-20 19:54] dagar commented on #9726
Do we just need a larger airspeed gate (EKF2_TAS_GATE) for a situation like this with sufficiently high wind?

[2018-06-20 20:06] LorenzMeier commented on #9727
Can you please share a log file and also the GIT hash you're building against?

[2018-06-20 20:09] dagar commented on #9474
I'm guessing this was reopened because of my comment https://github.com/PX4/Firmware/pull/9553.

I haven't been able to reproduce this on the bench, but there appears to be some edge case where calibration parameters aren't actually applied within drivers. PR https://github.com/PX4/Firmware/pull/9553 adds some simple command line debugging helpers should we ever stumble across a suspected situatio

[2018-06-20 20:58] LorenzMeier commented on #9718
Can you please configure the HITL multicopter configuration instead? That will likely resolve your issue.

[2018-06-20 21:07] mrehan3 commented on #9718
I just tried that, and it has the same issue (getting a throttle input but no change in the z position and no movement in the jMAVSim)

Log: https://logs.px4.io/plot_app?log=832a6e3f-f057-4172-ab60-79ca36708934

[2018-06-20 21:58] nobbynofriends opened #9729 "Can't bind a Specktrum receiver to Pixhawk 4 board."
Hi guys,

First time posting, I've had a quick look across the group but I can't see a post that answers my issue:

I’ve just bought a pixhawk 4 board from holybros and I can’t get a spektrum dsmx satellite receiver to connect to my transmitter

I’ve tried all three options in the spektrum bind option in QGroundControl, but each time the status led on the GPS module flashes green, there’s three qu

[2018-06-20 22:18] dakejahl commented on #9523
@LorenzMeier Sorry, I think this is a hardware issue on our end with a loose connector.

[2018-06-21 00:04] davids5 commented on #9707
@Mani-Sadhasivam - you will have to enable the CONFIG_CAN in the nuttx defconfig. See https://github.com/PX4/Firmware/blob/master/src/drivers/boards/aerocore2/can.c#L59-L69

[2018-06-21 03:55] zarathustr commented on #9523
@dakejahl Not always. But for you maybe it was the connection problem. In most time, the error is triggered by the long wiring.

[2018-06-21 06:21] LorenzMeier commented on #9729
Please upgrade the Pixhawk 4 board to v1.8 and also potentially try a different "airframe" vehicle config.

[2018-06-21 10:00] asimonov commented on #9727
@LorenzMeier there is no log file as we could not arm without RC

there manually built version that works is this: https://github.com/PX4/Firmware/commit/96443b3cf3e3adaec8b2ebb6c83a19a92d40a13f

[2018-06-21 13:30] mrehan3 commented on #9718
I just tried AirSim (https://dev.px4.io/en/simulation/airsim.html), and it has the same issue (says takeoff/landing detected, but nothing happens in the simulator). This means that it definitely isn't a problem with the simulator, but something wrong with the firmware I would suspect. Any ideas? Could someone try HITL and see if it's working for them?

[2018-06-21 13:37] LorenzMeier commented on #9718
@bkueng Could Nico try this and report back?

[2018-06-21 13:38] stmoon commented on #9582
Hi @LorenzMeier

Finally, I found the error when running "mixer load"

[code]

It is cause by the code in the mixer
[code]

Could you explain me why sometimes the warm rebooting is not working?

Thanks in advance

Best regards,
SungTae Moon

[2018-06-21 14:31] Mani-Sadhasivam commented on #9707
@davids5 I have enabled that option and the write command succeeds but still I can't see any frames on the bus! But with UAVCAN I can see proper CAN frames. Can you see whats going wrong here? I'm sure that the STM32 driver successfully sends the CAN frames and it returns the sent bytes. However the frames are not visible on the CAN bus when probed.

[2018-06-21 14:45] asimonov commented on #7408
yes, thank you.
GPS+vision(external) fusion works in 1.8.
but transitioning between states where both or either GPS/vision work does not seem to work seamlessly.

especially when one extra positioning system is [re]-gained.

is this supposed to work seamlessly yet in EKF2?

[2018-06-21 14:48] davids5 commented on #9707
@Mani-Sadhasivam  -

Am I correct to assume you have uavcan removed from the build when you are testing this?

Where are you calling `dev_caninit()`? It should be called late in `board_app_initialize`

I would suggest you step through the code and see if the correct bus is being used, and if there are errors reported back by the CAN HW.

[2018-06-21 14:48] mrehan3 commented on #9718
Just for some more info, HITL works on my Pixhawk using v1.4.4 firmware (I just picked some old version to see if maybe there was something wrong with my hardware), but it doesn't work with v1.8. I will try to find the newest version where HITL works.

[2018-06-21 15:08] Mani-Sadhasivam commented on #9707
I'm calling 'dev_caninit' in my module and using CAN bus 1! I did look into the code and debugged it and everything seems to be correct but still nothing on the CAN bus. Is there any pinmux settings need to be set? Is UAVCAN doing anything special than the Nuttx CAN driver?

There is no error btw from the STM32 CAN driver. It correctly returns the bytes transferred.

[2018-06-21 15:12] mhkabir commented on #7408
Yes, that is something we're working on right now, and it isn't perfect yet. Testing and suggestions would be helpful.

See this ecl branch for a small fix for vision reinitialization : https://github.com/PX4/ecl/tree/pr-extVisInit?files=1

[2018-06-21 15:40] mrehan3 commented on #9718
Yes, HITL also work on v1.7.0 stable release.

[2018-06-21 15:58] davids5 commented on #9707
Pin init is done in stm32_caninitialize - check them in your board.h and see if they match your HW.

[2018-06-21 16:36] CarlosSpin opened #9735 "MC yaw setpoint changing on increasing throttle"
**Describe the bug**
While performing checks for a Pixhawk first flight, I removed the propellers from the multicopter, armed the controller while indoors, and increased the throttle. Quickly the yaw setpoint starts to increase, although no such command is issued, which causes some motors to stop.

All sensor checks were performed and were successful. The Radio is correctly calibrated.

**To Repro

[2018-06-21 16:43] asimonov commented on #7408
oh, great! i suppose I can help with testing

[2018-06-21 17:00] Paschy11 commented on #9557
Hi i got the same error and i have these versions of java
openjdk version "1.8.0_171"
OpenJDK Runtime Environment (build 1.8.0_171-8u171-b11-0ubuntu0.17.10.1-b11)
OpenJDK 64-Bit Server VM (build 25.171-b11, mixed mode)
....
How did you solve that?

[2018-06-21 19:29] troy-at-skyfront opened #9736 "Sensor calibration fails silently with temperature calibration enabled"
The sensor calibration procedure fails silently when the flight controller has temperature compensation enabled. I followed the Offboard Temperature calibration guide here: https://docs.px4.io/en/advanced_config/sensor_thermal_calibration.html#offboard_calibration

The temperature compensation procedure works well up until step 12. I am able to create graphs and polynomial fits for the acceleromet

[2018-06-21 19:44] rollysing opened #9737 "FrSky Telemetry Not Recognizing S-PORT"
I've tried setting up the FrSky telemetry using a Craft & Theory Pixhawk cable per [documentation](https://docs.px4.io/en/peripherals/frsky_telemetry.html). The C&T cable is connected to the S PORT of the X6R and the other end daisy-chained into a FrSky LiPo Voltage sensor then to TELEM2 of the Pixhawk (eBay 2.4.6 version).

I've tried it with both stable and dev versions of 1.6.5, 1.7.0, and 1.7.

[2018-06-21 20:23] mhkabir commented on #9736
This is by design. See the section "Compatibility with legacy CAL_* parameters and commander controlled calibration" on the same page.

[2018-06-21 20:23] #9736 closed

[2018-06-21 22:21] billzyoom opened #9738 "no Pixhawk4 GCS connection after 1.8 upgrade"
I received my Holybro pixhawk4 two days ago and have had it up and running with stock 1.73 code. Flashed it today with qGroundControl running macOS over usb and have not been able read parameters since. My pc and Macs see the fc when using ap planner, qgc, mission planner and can even reapply stable firmware successfully using qGroundControl. It flashes successfully but then no response on the ph4

[2018-06-21 22:31] LorenzMeier commented on #9738
Just confirming: you have flashed PX4? Try flashing again.

[2018-06-21 22:58] billzyoom commented on #9738
Thanks for replying. I am flashing PX4 as offered by qGC. It also offers ArduPilot but does not list any available. I've flashed it over 10 times trying various ideas. It only successfully flashes the PX 1.8.

![ph4flashlog](https://user-images.githubusercontent.com/39141675/41749528-c97d51f6-756b-11e8-942d-717c2e946e9a.png)

[2018-06-22 02:07] dagar commented on #9431
One idea to consider is that the actual GPS blending code (+ helpers) could live in a separate library (src/lib/gps) and called from EKF2. This would allow others to use it without the overhead and latency of a separate task consuming all gps subscriptions, blending, and republishing.

[2018-06-22 02:31] rollysing commented on #9737
This seem to be related to this: https://github.com/PX4/Firmware/issues/9240

[2018-06-22 06:41] bkueng commented on #9718
@nicovanduijn ^

[2018-06-22 07:35] Ralfde opened #9739 "Oneshot PWM_RATE = 0 with Firmware 1.8.0"
When I use the Pixracer board with 1.8.0 stable firmware and adjust PWM_RATE to 0 what should be Oneshot, then only the rate mode works and no yaw function is working.
When I go back to PWM_RATE 400Hz, everything works normal again.

250 size drone

[2018-06-22 07:36] Ralfde opened #9740 "Firmware 1.8.0 Pixracer altitude hold"
With the Firmware 1.8.0 the altitude hold function does not work good any more. The copter is jumping.

With Ardupilot 3.5.5 I had no problems and also 1.7.3 seem to work much better.

[2018-06-22 07:51] TSC21 commented on #9740
Please follow the issue template. Without any further information, logs, etc., we are not able to help you. Also, Ardupilot is a different flight stack, so I don't see any reason to bring it to the comparison.

[2018-06-22 07:56] LorenzMeier commented on #9739
@bkueng Could you cross test?

[2018-06-22 08:01] LorenzMeier commented on #9735
You need to increase PWM_MIN in the parameters section to ensure no motors stop. What you see is the yaw integral winding up as a result of the test without propellers. The core issue is that your PWM output range is incorrectly configured.

[2018-06-22 08:01] #9735 closed

[2018-06-22 08:01] nicovanduijn commented on #9718
I've been trying to reproduce, but couldn't so far. When setting COM_RC_IN_MODE to Joystick/No RC Checks it arms and takes off just fine on my machine. I'm looking for an RC now to see if I can reproduce

[2018-06-22 08:19] nicovanduijn commented on #9718
@mrehan3 It works just fine for me with a PixRacer and a Taranis.

- What hardware are you using? (Flight controller, RC)
- Can you once again confirm that you are
   a) Running PX4 v1.8 (seems fine from the log you uploaded though)
   b) Have chosen the HIL Quadcopter X in Airframe (reboot to apply setting)
   c) Have unchecked all AutoConnect boxes except for UDP under the General tab of the set

[2018-06-22 08:37] CarlosSpin commented on #9735
Thank you for your help.

I tried to set all PID gains (for the yawrate and yaw) to 0, and increased the PWM_MIN value as you suggested (which was 1075 and is now 1125).

I performed another ground test, in the same setup, and verified the same yaw setpoint increase. The yaw rate setpoint is now always 0, as expected since no controller is present. Shouldn't this be the same case with the yaw setp

[2018-06-22 12:22] feemi opened #9741 "Smooth transition between goto commands from map"
If we give go to command from fly map to opposite direction while vehicle is moving with normal speed. It tries to brake immediately which cause unstable flight.

Is it possible to wait for a bit slow down and have a smooth transition to reposition command ?

**Steps To Reproduce**
Send Vehicle to one direction.
Tap a point from map which is exaclty opposite direction while vehicle moving.
Send Go

[2018-06-22 12:30] mhkabir commented on #9739
I'm running OneShot on a racer, flashed fresh with v1.8. Works fine for me.

[2018-06-22 12:34] mhkabir commented on #9740
Potentially because of IMU cutoff options being changed. Need logs to verify. Please post logs with v1.7.3 and v1.8.

[2018-06-22 12:34] mhkabir commented on #9716
Whoops, I thought I had logging from boot enabled. Sorry, will redo.

[2018-06-22 13:16] Ankur1014 commented on #9594
Hi ,
I repeated this step with PX4 Firmware master. It is still reproducible

[2018-06-22 13:27] mrehan3 commented on #9718
@nicovanduijn

It still doesn't work for me on v1.8 :(

- The hardware I am using is the 3DR Pixhawk 1 and the FS-TH9X RC.

a) Reloaded PX4 v1.8 again (log and QGroundControl confirm that it's running v1.8)
b) Definitely chose HIL Quadcopter X (confirmed in log and QGroundControl)
c) Unchecked everything except UDP
d) NAV_DLL_ACT is disabled
e) COM_RC_IN_MODE is set to "RC Transmitter"
f) RC is co

[2018-06-22 13:56] tops4u commented on #9740
@mhkabir could you elaborate on this or is it somehow documented? I have a similar impression, that the Altitude is kind of more "jumpy" than before.

[2018-06-22 14:09] jstrebel commented on #9706
@DanielePettenuzzo,
thank you for your help. I tried sdp3x_airspeed start -b 4 and get the following response.
Q: is the message below important or can Ignore it?

Start the individual calibration steps by clicking one of the buttons to the left.
[cal] calibration started: 2 airspeed
[cal] Ensure sensor is not measuring wind
command denied during calibration: 241
command denied during calibration:

[2018-06-22 14:37] mhkabir commented on #9740
@bkueng made some changes to IMU cutoff settings in this PR : https://github.com/PX4/Firmware/pull/9367. This explicitly sets the on-chip lowpass filter (which affects data to estimators) to 98Hz from 42Hz. This can increase noise in the estimation depending on vibration levels on the vehicle.

See this line : https://github.com/PX4/Firmware/pull/9367/files#diff-7dd27df37a9973066febdeaca8dde3acL21

[2018-06-22 14:38] mhkabir commented on #9740
You can try reverting it to 42 and see if this helps. Logs from v1.7.3 and v1.8 would be useful, as I said above.

[2018-06-22 15:13] rollysing commented on #9737
From the Slack thread:
I told @bkueng
Hopefully this could be resolved. Otherwise, I've got $40 worth of useless cables, unless I switch to ArduPilot?

@bkueng Trying with ArduPilot is actually a good idea. Then we know if it's a software or hardware issue.

Me: Yes, it works in ArduPilot. I loaded Mission Planner 1.3.56 and ArduPlane V3.8.5. I only had the GPS connected and it immediately discove

[2018-06-22 15:21] Ankur1014 opened #9745 "Disabling mc_att_control, mc_pos_control and vtol_att_control in nuttx_px4fmu-v2_default.cmake is causing build to fail in FW v1.8.0"
I am using FW v1.8.0 on Ubuntu 16.04. I do not want to build all the modules in nuttx_px4fmu-v2_default.cmake especially the controllers. Hence I am disabling mc_att_control, mc_pos_control and vtol_att_control. However upon doing this firmware build is failing with error in navigator.cpp

[2018-06-22 16:14] #9534 closed

[2018-06-22 16:14] thomasgubler commented on #9534
See https://github.com/PX4/Firmware/issues/9648 and https://github.com/PX4/Firmware/pull/9652

[2018-06-22 17:01] billzyoom commented on #9738
I tried flashing my Holybro PH4 again today with qgroundcontrol 3.2 with same results. I then downloaded qgc 3.3.2 from daily builds which revealed the 1.7.4 firmware which wasn't there before. I was able to flash the 1.7.4 beta but have same results.

After flashing the I/O Power light stays green, B/E light blinks amber, ACT light blinks blue and FMU PWR light turns on, blinks very fast for 3 se

[2018-06-22 19:52] Antiheavy opened #9746 "After uploading a "bad" mission, Bad tones (beeps) happen everytime, even when uploading a good mission"
When the vehicle rejects a mission the first time we hear the "bad" tones from the autopilot beeper (this is expected).  Any subsequent uploads of ANY mission (good or bad) the "bad" tones happen.

This is happening on 1.8.0.

I think has been happening for a long time, but we finally just realized it is 100% repeatable.  The way we usually see it is we upload a mission with a landing pattern that

[2018-06-22 20:11] Ralfde commented on #9739
First I was flying with 400Hz, everything ok.
Then PWM_RATE = 0. No yaw and only rate mode.
Then I went back to PWM_RATE = 400 Hz, and everything was okay again.

[2018-06-22 20:14] Ralfde commented on #9740
I think this could be the reason. 42Hz should be better for this kind of copter.

[2018-06-22 21:21] dagar commented on #9746
Something must be wrong with the logic here.

https://github.com/PX4/Firmware/blob/master/src/modules/commander/commander.cpp#L2069-L2075

Possibly a previous warning that hasn't been cleared.

[2018-06-22 21:44] mhkabir commented on #9739
What do you mean by "no yaw and only rate mode"?

Please upload logs comparing before / after.

[2018-06-23 05:49] nobbynofriends commented on #9729
Hi Lorenz, I've now tried both of those things and still have exactly the same issue.  Any more suggestions?

[2018-06-23 07:11] Ralfde commented on #9739
All my programmed flight modes did not work and there was no yaw function on the stick function. Only roll and nick did work.
I will check, if I can find the logfiles.

[2018-06-23 07:21] Ralfde commented on #9739
Found the log files, but I don't know which one was which flight. I hope you can see this.
[2018-06-22.zip](https://github.com/PX4/Firmware/files/2129723/2018-06-22.zip)

[2018-06-23 13:07] LorenzMeier commented on #9745
Feel free to send a PR to untangle these. Yes, we want modules to not interdependent but right now it is not something we will focus the core dev team on. Happy to accept pull requests or discussing specific changes.

[2018-06-23 13:07] #9745 closed

[2018-06-23 14:10] gajena opened #9750 "How to enable odometry using EKF2 estimator in v1.8.0 ?"
I am sending odometry on `/mavros/odometry/odom` and not getting any changes in local_pose.

[2018-06-23 14:44] gajena commented on #9750
I am having one more problem when I am using EKF2 aid_mask as vision position suddenly estimator getting stop.
Should I use this branch of ecl lib `pr-extVisInit`?

[2018-06-23 14:56] LorenzMeier commented on #9741
@Stifael are the tuning parameters fully documented by now?

[2018-06-23 14:57] LorenzMeier commented on #9741
In general if the flight becomes unstable then your vehicle is not set up correctly and you have a more fundamental problem. It should just be very knife-edge, but not unstable.

[2018-06-23 15:05] mhkabir commented on #9750
Yes.

[2018-06-23 15:35] gajena commented on #9750
Now estimator is initializing but when I started to publish on `vision_pose` it's coming on `local_pose`
but after sometime `local_pose` x and y becoming zero and z become constant at last value.

[2018-06-23 15:45] mhkabir commented on #9750
The estimator is probably rejecting your data after some time. Please open a new issue with logs and details about your vision system.

[2018-06-24 08:00] Ankur1014 opened #9751 "Unable to write a custom C code for tune library"
**Describe the bug**
Till now I was using FW 1.6.5. I had my own custom C code for tunes that was basically producing a custom tune at startup for Pixhawk 1. My C file included the <drivers/drv_tone_alarm.h> file. I upgraded to FW 1.8.0. Now the header file <drivers/drv_tone_alarm.h> includes another header file <lib/tunes/tune_definition.h> that has defined the enum as a class. Thus it is causing

[2018-06-24 08:49] RomanBapst commented on #9740
@Ralfde In none of your logs I see you entering an altitude controlled mode. Do you have more logs?
@tops4u Could you also provide a log please?

[2018-06-24 08:50] tstastny opened #9752 "FW landing: flare curve documentation outdated / misleading"
Disclaimer: Maybe this should be an issue on devguide -- but it also pertains to the comments in the firmware, so I put it here, please let me know if I should move it.

Issue:

1) The FW_LND_HVIRT param is described in [.../fixed_wing_landing.html](https://docs.px4.io/en/flying/fixed_wing_landing.html) as "[the] Virtual horizontal line/altitude used to calculate the flare trajectory. This represe

[2018-06-24 09:10] RomanBapst commented on #9750
@gajena You should not be using any branches in ecl. It should just work with the release or latest master. As Kabir said, a log file would enable us to help you.

[2018-06-24 09:18] LorenzMeier commented on #9752
@thomasgubler this looks like it is a question for you

[2018-06-24 12:34] stmoon commented on #9582
Is there someone to help me?

[2018-06-24 14:37] lamping7 opened #9754 "jenkins: build failing on OSX"
Examples:
- http://ci.px4.io:8080/blue/rest/organizations/jenkins/pipelines/Firmware/branches/master/runs/283/log/?start=0
- http://ci.px4.io:8080/blue/rest/organizations/jenkins/pipelines/Firmware/branches/master/runs/285/log/?start=0

git checkout step is having problems. The problem is localized to one slave - gus-mac.

To me, it looks like the local copy of the git repo is corrupt. The same sp

[2018-06-24 14:50] lamping7 commented on #9754
Fixed for now.
http://ci.px4.io:8080/blue/organizations/jenkins/Firmware/detail/master/286/pipeline/66

What I did was wipe the workspace by setting the property "Wipe out repository & force clone" in the configuration for the job in Jenkins. This cleared the corrupt repo off the slave allowing it to get a fresh copy. I'm not sure if we want to do this all the time, so I un-set it after this ran.

[2018-06-24 14:55] mhkabir commented on #9750
@RomanBapst Vision fusion works fine on ecl master/release, however the branch I referred to improves initialization and fixes the case where the visual estimator resets in flight. See https://github.com/PX4/ecl/pull/464.

[2018-06-24 16:17] dagar commented on #9754
I don't fully understand the implications between different builds and different slaves.

Does this apply to every single build? For example an existing PR that has another small commit pushed to it shortly after it's already built? These are the situations where the overall build is nearly twice as fast because it's mostly already cloned and the ccache hit rate is quite high.

[2018-06-24 16:18] dagar commented on #9754
@dogmaphobic any ideas why the Jenkins PX4 clone might be corrupting on your mac?

[2018-06-24 17:05] DonLakeFlyer opened #9755 "Gazebo fixed wing SITL nevers completes landing"
Using master firmware, master QGC:
* Create a simple mission with a few waypoints and a landing pattern
* Run it
* When the vehicle comes in to flare it slows way down and the altitude drops to 0 as it gets to the landing point
* The vehicle then speeds back up to full speed and continues past the landing point flying at 0 alt forever

This is a big problem for me since it means I can't test resum

[2018-06-24 18:55] jgoppert opened #9757 "Add LPE back to CI"
LPE used to run on CI with  a ROS mission flight in SITL  but after the new jenkins changes I think it got wiped out. Due to the current user base, we should add this back if possible. @dagar

[2018-06-24 19:07] TSC21 commented on #9757
Addressed here a4a4192.

[2018-06-24 19:28] jgoppert commented on #9757
We should cherry-pick this and create a new PR to make sure master still works.

[2018-06-24 21:52] LorenzMeier commented on #9755
@dagar Could you have a look?

[2018-06-24 21:54] dagar commented on #9757
@TSC21 failing http://ci.px4.io:8080/blue/organizations/jenkins/Firmware/detail/PR-9301/33/pipeline

That's fine for now, but we need to be realistic about support. The other thing that concerns me is that the estimator is becoming more tightly integrated with commander for various checks, failsafes, etc. EKF2 and LPE can't even agree on estimator_status usage (they each use different fields), so

[2018-06-24 22:01] dagar commented on #9755
I believe this is a result of the limited or lack of ground friction, overpowered sitl plane model, and throttle settings.

I've been meaning to get a full plane auto mission (runway takeoff, waypoints, loiter, landing) in the CI system.

[2018-06-24 22:07] TSC21 commented on #9757
Yes I know. Current on lab experiments with it.

I don't really agree with this. PX4, as an open-source effort which allows a good experience platform for companies developing their products but also on the academic world, should be too much specific or too much coupled for a single specific estimator or control environment, but rather be as agnostic as possible, in order that someone that wants t

[2018-06-24 22:40] dagar commented on #9757
@TSC21 I agree with you, I'm simply stating the current state. The estimator checks both preflight and during have become extremely valuable and this will only get more sophisticated. For this to be agnostic we need people to design and agree on interfaces.

The important thing would be agreeing on the interface that commander is using for all of these checks (currently estimator_status). It's not

[2018-06-24 22:44] hamishwillee commented on #9752
FYI I created that diagram based on a much older diagram and discussion with various developers - not the code. It is possible that everyone's understanding is based on the older image rather than actual behaviour as inferred from code. Interest to see what @thomasgubler says.

Fair enough. Perhaps this should be represented as some sort of spread of possible landing paths? Does whatever tool you

[2018-06-24 23:32] jgoppert commented on #9757
It is pretty hard to maintain an estimator agnostic API when we only test one estimator in CI, so I think we should maintain at least 2, even if the other estimator is not officially supported and even a toy example.

One could argue about the benefit of having an estimator agnostic API, but I think we are all on the same page. Having the agnostic API allows continuous development and is critical

[2018-06-25 00:33] dagar commented on #9757
The CI tests are too basic right now to catch anything but the most blatant failures. Calling it an agnostic API might have been over stating it. The published estimator status doesn't need to cover everything, it just has to stop being used completely differently. It could also contain flags for which parts are valid.

We can start an issue listing some of the worst offenders if you're interested

[2018-06-25 01:30] jgoppert commented on #9757
The ros test is pretty decent actually.  It has a comparison to the ground
truth after it flies a mission and fails if the error is too high.

I don't really want to add another message for lpe. We will be releasing a
series of new estimators soon and that is why we want to slowly deprecate
LPE. These estimators use a common api to compare several algorithms for
research purposes. If you can work

[2018-06-25 01:31] Antiheavy commented on #9567
I think this is working fine in the recent Sentera builds.  I'll close it and we will continue to roll it in as a separate add-on to the sentera builds until it makes it into upstream and we sync.

[2018-06-25 01:31] #9567 closed

[2018-06-25 01:32] Antiheavy commented on #9566
testing here.  https://github.com/SenteraLLC/PX4-Firmware/issues/116

[2018-06-25 02:18] dagar commented on #9757
Not really, it's only testing perfect setups in good conditions. We need testing that exercises a wide range of annoying real world problems and failures at all stages.

I was only talking about adding a message for LPE as an incremental step towards an estimator agnostic message. That's why I suggested doing it for EKF2 as well, then only readding pieces with appropriate usage system wide or flag

[2018-06-25 04:36] priseborough commented on #9431
I've finished coding the algorithms (see here) and have completed some bench and replay testing that shows them working as expected. The next step is to port them to a better location, and add the location parameters for the second receiver.

 @dagar I will be in contact to discuss porting options.

[2018-06-25 07:32] thomasgubler commented on #9752
Here is the original diagram that the comments in the code refer to:
![fw_landing](https://user-images.githubusercontent.com/1419479/41836053-dcc2ccf0-7859-11e8-9e44-adc3bd7b994a.png)

[2018-06-25 07:37] julianoes commented on #9557
@Paschy11 it looks like you need to use Oracle Java and not OpenJDK.

[2018-06-25 07:37] #9557 closed

[2018-06-25 07:57] LorenzMeier commented on #9757
The main issue is not the interface, but getting enough usage in LPE and an active maintenance community around it. Given that we would be having different discussions. Maintaining a second estimator is totally worth it, but not just for the sake of generality of the interface.

[2018-06-25 08:49] Ralfde commented on #9740
New log file in poshold and alt mode mode.
Could you please tell me how to prevent the very hard stops with high angles in the GPS flying mode?
Today the Altitude hold was a little better. Maybe my adjustments in the settings helped a little bit.
[2018-06-23.zip](https://github.com/PX4/Firmware/files/2132400/2018-06-23.zip)

[2018-06-25 09:51] Stifael commented on #9741
The tuning parameter for auto are summarized [here](https://docs.px4.io/en/advanced_config/advanced_mc_position_tuning.html).

About instability:

Agreed. @feemi, you should follow the [tuning guide](https://docs.px4.io/en/advanced_config/pid_tuning_guide_multicopter.html) for multi-copters.

About `Go-To` command:
Currently the implementation is such as you have described with instantaneous direc

[2018-06-25 10:19] #9561 closed

[2018-06-25 10:57] feemi commented on #9741
I think description of my problem is little bit wrong. The unstable flight that i am try to describe is about size of our drone and movement limitations. In mission mode or in position mode vehicle moves very smooth with current limitations. But go to command is knife edge and it is too much for our structure. Probably there is no such issue with small drones since they are very agile. I am just w

[2018-06-25 11:54] tstastny commented on #9752
Ok - looks like this is intended behavior then. So @hamishwillee it would probably be good if we update this figure onto the documentation (either @thomasgubler's figure or I could generate another one like I posted but where the flare curve intersects properly with the straight line). Then the the firmware comments don't need to be changed, and only the dev guide description for hvirt could possi

[2018-06-25 12:41] cimbar opened #9761 "EKF2 GPS Fusion Drifts"
I was testing EKF2 in current master for OFFBOARD flight. The external commander gives same path for each circumstances (different EKF_AID_MASKs). GPS only and Vision only flights work properly in SITL but when GPS is fused with IMU or Vision position; GPS drifts and mismatch occurs between local position and vision estimate. Therefore GPS fused flights can not complete OFFBOARD mission. Is it rel

[2018-06-25 12:52] gajena commented on #9750
@RomanBapst @mhkabir [Logs]( https://review.px4.io/plot_app?log=5d0f3bbc-a6a4-4c43-901d-ceadff5999d2#Nav-Local-Position-X )
I am done this test using ROVIO and I am not moving quad just moving VIO sensor.

[2018-06-25 13:03] mhkabir commented on #9750
Yes, they need to be a rigid body and be moved together, otherwise the EKF will reject data.

[2018-06-25 13:12] gajena commented on #9750
Okay, I will test this.
And to give commanded position should I use this topic in mavros `mavros/setpoint_position/local` ?

[2018-06-25 13:54] dagar commented on #9757
Another issue that just occurred to me is the sensor_bias message being published only by EKF2. Several modules (including the land detector) are using accel_{x, y, z} directly from this message.

[2018-06-25 14:00] TSC21 commented on #9757
@dagar can you please point out what is lacking on LPE currently for fully integration with the PX4 frameworks and pipelines? As you may imagine, there was some stuff that was left behind given that we were not able to update the interface and maintain it. Though I will glady add what's missing and fix whatever need. If you could open an issue for that I would then open a PR to fix it.

[2018-06-25 14:06] tkris commented on #9060
@Ahrovan is your Problem solved ?

I had yesterday the same issue 2 times with my S500 Quadcopter (Pixracer Controller) - EKF baro hgt timeout - reset to baro. My Quad suddenly gained altitude in altitude or position hold mode... very shocking experience. I am running PX4 1.8.0 but i had the same Problem with Arducopter.

Everytime the S500 Quad would arm and fly nice in stabilized mode but when i

[2018-06-25 14:08] dagar commented on #9757
I don't fully know yet, but I'd start with my last comment and go from there. We can discuss some of the higher level points on the dev call.

[2018-06-25 15:42] thomasgubler commented on #9752
I imported the python notebook that I used to generate the plot back then:

https://drive.google.com/file/d/1j5Nq6aETXYSwZcw5qSXUGagkyNWRf_Nm/view?usp=sharing

It seems only half functional and some plot features are commented out but it might be a starting point

[2018-06-25 17:03] jgoppert commented on #9757
@LorenzMeier I think it is just time to deprecate LPE like we did INAV. I am more interested in working on new algorithms and EKF2 is now providing a viable indoor navigation routine. Dropping LPE will free me to focus on the more interesting work. I think we see a new estimation algorithm every couple of years, and we need to work on a smooth deprecation process. For my research all I want is a s

[2018-06-25 17:07] pavel-kirienko commented on #9707
@Mani-Sadhasivam the symptoms you described could be because of bad connectivity with other nodes on the bus. Remember, a CAN bus can function only if there are at least two nodes on it.

[2018-06-25 18:05] Ankur1014 commented on #9751
Hi LorenzMeier,
Thanks for responding. So here is the issue. I have a custom module which I have added to my rc.txt so that mdoule starts up by default at power up. The module basically executes a sequence of LED blinking and some Tune sequence upon boot up. I had coded the module in .c

Till now I was including the header <drivers/drv_tone_alarm.h> and using the enums defined in that header.
Upon

[2018-06-25 18:27] #8712 closed

[2018-06-25 19:12] TSC21 commented on #9713
This is also having consequences on LPE: https://github.com/PX4/Firmware/issues/9713

[2018-06-25 20:57] knopancakes commented on #6921
This issue is back

[2018-06-25 21:04] knopancakes commented on #6921
using a custom config.txt and mixers on the SD card. In config.txt, PWM_RATE is set to 0 (zero), and the parameter viewable through QGroundControl is also set to 0 (zero). However, calling 'pwm info' shows everything is set to 50Hz. My PWM_AUX_RATE does configure correctly, confirmed with 'pwm info -d /dev/pwm_output1'

[2018-06-25 21:47] knopancakes commented on #6921
fixed by explicitly setting the following in config.txt

set OUTPUT_MODE fmu

seems the following guard is the problem:

if [ $OUTPUT_MODE == fmu -o $OUTPUT_MODE == io ]
then
	if [ $PWM_OUT != none ]
	then
		#
		# Set PWM output frequency
		#
		if [ $PWM_RATE != none ]
		then
			pwm rate -c ${PWM_OUT} -r ${PWM_RATE}
		fi

[2018-06-25 22:12] priseborough commented on #9713
rand() returns a integer and x1 and x2 are supposed to be from a uniform random distribution between +- 1.0 so so lines  522 and 523 should be

     x1 = 2.0 * ((double)rand() / (double)RAND_MAX) - 1.0;
     x2 = 2.0 * ((double)rand() / (double)RAND_MAX) - 1.0;

If we had ranf() available to us, that would be a more efficient way of generating x1 and x2.

Use of Gaussian/Normal distributions is co

[2018-06-25 22:31] priseborough commented on #9060
@tkris This  is intended for the reporting of SW defects, not resolving problems with hardware, installation and setup.

[2018-06-26 00:54] hamishwillee commented on #9752
@tstastny @thomasgubler The reason I didn't use the original diagram was that it came without explanation
- it wasn't clear what any of the values are
- it wasn't clear how they mapped to parameters.

The diagram is now in the user guide - it is intended primarily to enable users to understand what the landing slope looks like by default and how it can be tuned.

So I don't think we should revert

[2018-06-26 04:47] bkueng commented on #9751
Hi

As most of our code is C++, I suggest you just rename your module to .cpp.
We use an `enum class` because the enum names are in a local namespace leading to less naming conflicts and improved readability.

[2018-06-26 05:15] #9757 closed

[2018-06-26 07:35] Ahrovan commented on #9060
@tkris @priseborough The change in the hardware of the FC does not have an effect on the problem and this problem occurs again(So that we tested with versions Pixhawk 1 lite and Pixhawk 1).
The latest change we have made in the work plan to solve this problem is to change the gps module and to strengthen the power connections of motors. Changing the FC damper did not affect the problem. We look fo

[2018-06-26 08:11] thomasgubler commented on #9752
@hamishwillee that makes sense. The diagram was originally checked in the repo and was meant to help someone that reads the code to understand the equations. It is in that form definitely not suitable for a user because as pointed out the highlighted values do not correspond to the tuning knobs/parameters that are exposed to the user.

[2018-06-26 08:14] tstastny commented on #9752
fyi - I'm working on a first cut of actually exposing these parameters on QGC. However, it's not exactly straight forward how to do this properly while also considering ardupilot and users who simply don't want to see 3 extra flare params on their screen etc. I'll link the branch once it is running.

[2018-06-26 08:22] thomasgubler commented on #9752
Awesome. There are 2 things we can do:
1) exposing the params in the params tab so that a power use can change it.
2) work with @dogmaphobic and @DonLakeFlyer to include a user friendly tab where a user can configure the landing approach (e.g. with sliders) without actually knowing about the params.

[2018-06-26 09:14] julianoes commented on #9288
What exactly is the issue. I'm trying to understand.

[2018-06-26 09:20] julianoes opened #9764 "px_uploader.py timing out while flashing"
On Fedora 28 on my Lenovo I am unable to flash a firmware using the px_uploader.py script. It times out (gets stuck) almost every time while flashing.

[code]

I've tried both direct USB ports of the laptop as well as USB hubs.

Flashing works fine in QGC so I suspect it is an issue of the Python script or the Python serial lib.

I'll investigate the issue once I get to it.

This is similar to #70

[2018-06-26 09:47] Paschy11 commented on #9557
I'm using Oracle java right now and i have these:
java version "1.8.0_171"
Java(TM) SE Runtime Environment (build 1.8.0_171-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.171-b11, mixed mode)
exactly the same ones Hs293Go succeeded with. Even if i'm using this version of Java Runtime i'm having this error when i try to launch "make posix jmavsim" after cancelling everything in the out folder:
Ex

[2018-06-26 11:17] Ralfde opened #9766 "Too high copter angles in flight mode position"
[2018-06-26.zip](https://github.com/PX4/Firmware/files/2136871/2018-06-26.zip)

MPC_TILTMAX_AIR 20.0 deg , but when I stop the copter, the angles are much higher.

Where can I adjust the max. tilt angle for the stops in pos. hold mode?

[2018-06-26 11:46] TianmingLi opened #9767 "Mission Item "Delay Until" (MAV_CMD_NAV_DELAY) will disable Takeoff Item"
**Describe the bug**
If a Delay_Until item before a Takeoff item, vehicle will not takeoff at all.

**To Reproduce**
- At QGroundControl on SITL import the mission bellow

    - [takeoff_land_delay_takeoff.plan.zip](https://github.com/PX4/Firmware/files/2136904/takeoff_land_delay_takeoff.plan.zip)

    - [delay_takeoff_delay_land.plan.zip](https://github.com/PX4/Firmware/files/2136906/delay_takeof

[2018-06-26 14:17] tstastny commented on #9752
See https://github.com/mavlink/qgroundcontrol/issues/6457#issuecomment-400324799 for WIP branch link. The rest of that thread has some elaboration on why this is challenging.

[2018-06-26 15:14] ivodre opened #9768 "Descending with MPC_LAND_SPEED instead of MPC_Z_VEL_MAX_DN"
**Describe the bug**
When descending during a mission in simulation the Deltaquad does the whole descend with MPC_LAND_SPEED instead of descending with MPC_Z_VEL_MAX_DN until MPC_LAND_ALT1, and than ramping down to MPC_LAND_SPEED.

**To Reproduce**
Steps to reproduce the behavior:
1. Create "multicopter" mission with delta quad in gazebo (e.g. at 30m altitude)
2. Make sure to set reasonable values

[2018-06-26 16:52] dagar commented on #9768
@sanderux @RomanBapst

[2018-06-26 16:53] dagar commented on #9768
Likely an issue with the multicopter position controller rather than VTOL specific.

[2018-06-26 17:04] Hs293Go commented on #9557
I ran into this too. In my case I didn't do a clean build. Deleting all of `out/` solved the problem for me.

On a side note, I've been using ROS Melodic with PX4/MAVROS with no problem. Let me know if there's anything I can do to help with the migration to Melodic

[2018-06-26 19:37] dakejahl commented on #9691
Please see #9772

[2018-06-26 19:53] kfruson commented on #5001
Any updates on being able to change the altitude during a mission?