[2017-12-07 21:46] hamishwillee commented on #5122
FWIW I think that it should reset between mode changes but persist through the mission.

[2017-12-08 05:33] #8171 closed

[2017-12-08 05:34] dagar commented on #8380
Most likely mechanical failure.

[2017-12-08 05:34] #8380 closed

[2017-12-08 05:35] dagar commented on #8389
Fixed! Thanks Dennis.

[2017-12-08 05:35] #8389 closed

[2017-12-08 05:56] dagar opened #8436 "px4fmu-v3_default binary naming"
The px4fmu-v3_default was merged with px4fmu-v2_default plus access to an additional 1MB of flash. The output binary of the px4fmu-v3_default build is named px4fmu-v2_default, which needs to be fixed for the s3 deploy (QGC download).

[2017-12-08 06:01] dagar commented on #8392
Let's go over this again in detail tomorrow, but so far it looks like a physical setup issue. In the previous flight logs the nominal pwm output in a climb, hover, or forward flight is higher than the "flyaway" value in this log.

[2017-12-08 07:44] LorenzMeier commented on #8392
@Stifael Could you take another pass?

[2017-12-08 08:51] bartslinger commented on #8413
Alright, I don't really care about the mavlink delay either.

[2017-12-08 08:51] #8413 closed

[2017-12-08 10:33] CarlOlsson opened #8437 "Parameterize loiter ascend/descend speed?"
@dagar
When changing the altitude set point in tecs we add a [feed forward term](https://github.com/PX4/ecl/blob/dea0c8bb6a6f27743a56b284ddb290a94334d2bb/tecs/tecs.cpp#L269-L269) in order to provide tight tracking and keep the pitch integrator from winding up. However, if the commanded altitude change is a step, e.g. from a loiter wp, then the feed forward term in tecs will be ineffective since th

[2017-12-08 10:45] Stifael commented on #8392
There is not much I can add to what @dagar  already mentioned.
I looked at the entire pipeline:
for auto:
position setpoint -> velocity setpoint -> thrust setpoint -> thrust magnitude from vehicle_rates_septoint_s -> actuator controls -> actuator outputs
for manual:
stick inputs -> velocity setpoints -> ... (as above)

All the above messages seem to be correct in terms of flight intention and cont

[2017-12-08 16:53] MaEtUgR commented on #8357
![arm build](https://user-images.githubusercontent.com/4668506/33775961-4556b9c2-dc40-11e7-9c78-80d103bb316f.PNG)
Good news: After investing some hours (to say the least) today debugging the cygwin toolchain build I finally have a succeeding ARM build (`px4fmu-v2_default`) with the following "code" changes:
https://github.com/PX4/Firmware/compare/master...MaEtUgR:cygwin-arm-test
and of course fidd

[2017-12-08 17:22] bresch commented on #8392
@Stifael The PWM min is set to 1230 because it's the minimal value of the DJI ESCs and they don't support calibration.
If fact, that could be the issue: the ESCs are not the DJI ones. With this value, the lifting system produces more thrust than the weight of the drone.

[2017-12-09 00:53] dagar commented on #8437
Yes we should finally do something about this (it comes up every so often). I'm just not sure if we should handle it in the fixed wing position controller or directly in TECS.

Could we do it maintaining the commanded airspeed? Look at the resulting behaviour with speed weight 2 for example.

@priseborough what do you think?

[2017-12-09 06:59] MaEtUgR commented on #8357
Information that might also be useful for Linux/Mac builds and general improvement:
- **CMake 3.6.2** works fine but produces multiple deprecated warnings, I downgraded it in the Windows toolchain for now such that they don't show.
- Newest **ARM GCC 6-2017-q2-update** (https://developer.arm.com/open-source/gnu-toolchain/gnu-rm/downloads) compiles but with warnings (probably new case detection fea

[2017-12-09 07:19] dagar commented on #8357
I can get rid of the cmake deprecated warnings soon.

For the arm gcc version we should do a pass to get everyone in sync with the latest. https://github.com/PX4/containers/blob/master/docker/px4-dev/Dockerfile_nuttx#L28

[2017-12-09 14:22] taileron commented on #8312
found a very similar issues that had been finally solved a year ago #5924

[2017-12-09 20:32] LorenzMeier commented on #8436
@dagar Have you a chance to wrap this up this weekend?

[2017-12-10 01:07] #8436 closed

[2017-12-10 01:10] LorenzMeier commented on #8392
Closing as misconfigured.

[2017-12-10 01:10] #8392 closed

[2017-12-10 04:44] #8368 closed

[2017-12-10 22:27] priseborough commented on #7202
https://review.px4.io/plot_app?log=f619bcb1-7427-4619-86d6-bc53e5e2024e

[2017-12-10 22:33] priseborough commented on #7202
The vertical position derivative data required to ensure vertical velocity estimation errors due to bad accel bias values do not prevent landing is available in the local_position message. See the plot of vz and z_deriv from the above crash log

![screen shot 2017-12-11 at 9 31 20 am](https://user-images.githubusercontent.com/3596952/33810194-12759bb4-de56-11e7-9862-f21fc24490b3.png)

A simple cha

[2017-12-10 23:07] priseborough commented on #7202
This log shows large vertical innovations and delta velocity bias state estimates present at start of flight. This would have been caught by updated pre-flight checks.

**vertical innovations**
![screen shot 2017-12-11 at 10 05 12 am](https://user-images.githubusercontent.com/3596952/33810594-cc9cbef6-de5a-11e7-9322-5ad8ca193497.png)

**delta velocity bias estimates**
![screen shot 2017-12-11 at 1

[2017-12-10 23:18] priseborough commented on #7202
The parameter value for the pre-flight max bias check is 0.005 which is greater than the max range used by the estimator. I will push a change to this parameter to that the check will trigger if the takeoff bias estimates exceed 50% of the max range allowed by the estimator. This will ensure that the estimator has enough margin to accomodate further changes in bias due to inflight temperature vari

[2017-12-11 00:11] priseborough commented on #7202
The following PR's have been raised to address the inflight vulnerability to vertical velocity estimation offsets: https://github.com/PX4/Firmware/pull/8445 , and the ineffectiveness of the current pre-flight delta velocity bias check: https://github.com/PX4/Firmware/pull/8446

[2017-12-11 00:32] hamishwillee commented on #8357
@MaEtUgR Great! Not being able to do upload is IMO a "minor bug". In terms of functionality, how far are you planning on going before we say this is good enough for a release? (IMO I've love gazebo support, but I'd rather have an interim release than wait months for it)

[2017-12-11 00:33] hamishwillee commented on #8357
@dagar can we include the devguide scripts in that. While we're at it would be good to put the toolchain somewhere less irritating for users than their home dir.

[2017-12-11 04:53] iZhangHui commented on #8419
MindPX/MindRacer pass our flight testing, and we are ready for v1.7 release.

[2017-12-11 05:00] priseborough commented on #8403
Please provide a link to your log or else we have not enough information to investigate and will have to close this issue. Also please try more recent stable version. 1.5.0 is out of date.

[2017-12-11 09:07] dk7xe commented on #8182
The advantages of Dshot (as described by Felix on rcgroups) compared to the most used analog signals like PWM as also oneshot125 or 42 are:

- no signal jitter.. if the FC sends 1375 the ESC will receive 1375.

- high resolution (2048steps).

- no oscillator drift (nomore calibrateing ESC's).

- more robust against spikes.

- safer as every singnal has a CRC (cyclic redundancy check).

- possibili

[2017-12-11 09:49] potaito commented on #8182
I did some more research regarding this topic and honestly, I am not too convinced with DSHOT. Here's why: You still need one UART Tx per ESC on the flight controller. Some boards don't even have that, others have four of these and you could not fly in configurations with more than four motors. I presume DSHOT had to be implemented like that if they wanted to remain backwards-compatible to PWM and

[2017-12-11 09:54] Stifael commented on #7318
I want to reopen the discussion about Flight-stack (not middleware), because there are still many unresolved questions unresolved in terms of obstacle avoidance, geofence, failsafe and flighttask integration.

1. Mode/Task switch
Flighttask current implementation checks for subscription failure and if present will not start the task. When switching to a task the old task is deleted, which leads to

[2017-12-11 10:07] bkueng commented on #8182
@potaito nice write-up! I'm not sure if you already know, but something like you describe already exists and is even integrated to PX4: Sapog ESC's which use UAVCAN (a bus which is by design better suited to attach multiple devices): https://github.com/PX4/sapog. There's also open reference HW: https://github.com/PX4/Hardware/tree/master/sapog_reference_hardware. I'm not sure if it's THE solution,

[2017-12-11 12:11] lamping7 commented on #8245
Per the merged PR, we're now sending the mavlink message when the item is reached, then another 10 messages, at the rate of broadcast for other mavlink mission items (currently 10Hz). The duplicate messages are sent because there is no ack and we wanted to reduce the chances of a missed message due to poor telemetry links. Closed.

[2017-12-11 12:11] #8245 closed

[2017-12-11 16:24] potaito commented on #8182
@bkueng No I have not seen this before, thanks! Looks promising..

[2017-12-12 00:28] hamishwillee commented on #8316
Appreciate you are busy. But if you don't respond I'll move what you have done across so we can continue progressing this.

[2017-12-12 05:46] Seiwert commented on #8320
This is not an ideal solution and I'm not endorsing it by any means but this should get you going.

1. Create a bash script that runs xacro. Here is my `workaround.sh` (put it in /src/Firmware/):
[code]

2. Then change the `single_vehcile_spawn.launch` to be this:
[code]

This is definitely **not** the right answer but it is something I suppose...

Cheers

[2017-12-12 09:21] hamishwillee commented on #7318
@mcharleb Did you ever get an answer to "Where should architecture documentation go?" (https://github.com/PX4/Firmware/issues/7318#issuecomment-306248103).

If not, then IMO we currently don't have a particularly good place for architectural docs. I suggest we add them to an "OK" home, and then find a better one later. The images could live in the devguide in /assets/architecture/. We should have

[2017-12-12 11:12] FaboNo opened #8453 "make posix_sitl_default gazebo - sonarSens.pb.cc"
I am trying to build the gazebo SITL simulator with make posix_sitl_default gazebo

I ended up with the following error:
no rule to build « /home/fabrice/src/Firmware/Tools/sitl_gazebo/PROTOBUF_PROTOC_EXECUTABLE-NOTFOUND », required for « sonarSens.pb.cc

I am a bit puzzled because I cannot find sonarSens.pb.cc and the protobuflib.dev is already installed.

Somebody is facing the same issue?

Than

[2017-12-12 11:38] margaridaCF commented on #6389
Would be cool to get this fixed when you can.

[2017-12-12 16:35] acfloria opened #8454 "FW: Bug when switching from Stabilized to Altitude mode"
When switching from stabilized mode to the altitude hold mode for a fixed-wing while tracking a non-zero attitude setpoint the airplane is still tracking that last attitude setpoint instead of 0 roll/pitch.

I think the reason is that in stabilized mode the attitude controller does [generate a setpoint by itself](https://github.com/PX4/Firmware/blob/master/src/modules/fw_att_control/fw_att_control

[2017-12-12 16:50] acfloria opened #8455 "Different Flap output in case of Manual Override"
The [mixer](https://dev.px4.io/en/concept/mixing.html) assumes that all inputs are between [-1, 1] except for throttle. This is not the case for the flaps where the attitude controller scales the flap between [0,1] assuming a scale of 1.0. This works well as the mixer accounts for it. However, in case of an FMU crash the manual signal is passed through with the range of [-1, 1] which results in di

[2017-12-12 17:51] taileron commented on #8312
with the current master mixer of ch 7 sometimes starts:
HW arch: PX4FMU_V2
HW type: V2
HW version: 0x00090008
HW revision: 0x00000000
FW git-hash: 3c667bb4f5e48da54408fa4890a2872b08fa63af
FW version: 1.7.0 0 (17235968)
OS: NuttX
OS version: Release 7.22.0 (118882559)
OS git-hash: b18053574bf41712cef93e31bf178518f451a350
Build datetime: Dec 12 2017 17:13:56
Build uri: localhost
Toolchain: GNU GCC,

[2017-12-12 21:45] dagar commented on #8454
Do you have a log showing this? There should be a new attitude setpoint from the FW position controller. As a side note I'd like to get the setpoint generation completely out of the attitude/rate controllers.

[2017-12-12 21:55] yashm commented on #8098
+1 for item 4!
I am working on some micro pixhawks that don't have a mag :)
Thanks!

[2017-12-12 22:03] yashm opened #8457 "Option to disable magnetometer during preflight check"
**Feature Request**
Add option to disable magnetometer for preflight check.

Posting as a feature request per @dagar's suggestion.

Use cases:
1. To reduce errors while flying in cluttered indoor environments.
2. For Pixhawks that don't have mag hardware

Not having / disconnecting magnetometers poses a roadblock with the following error:
![image](https://user-images.githubusercontent.com/824023/3

[2017-12-12 22:06] dagar commented on #8457
It's easy enough to add a parameter to make commander tolerate this (skip the checks), but I'm wondering about the estimators.

[2017-12-12 22:15] yashm commented on #8457
The estimator does have an option to ignore the magnetometer during sensor fusion under the param:
`EKF2_MAG_TYPE`.
But the absence of having the mag on board altogether fails during the preflight check (which makes sense in the current SW stack).

[2017-12-12 22:33] dagar commented on #8457
Let me take a look at how the preflight check code is organized. Maybe we could add something like a single parameter that's a bitmask with all of the possible checks. That would help you here and cover all kinds of future special use cases.

[2017-12-12 23:38] hamishwillee commented on #6389
@dagar
Just FYI, `make posix list_vmd_make_targets` gives me these options:
[code]
There are no "none" cases listed, so I guess that is handled specially?

Anyway, I'll be updating some docs in this area shortly, so please keep me posted on your fix here.

[2017-12-13 01:08] dagar commented on #6389
I'm not sure what happened to none, but I actually strongly dislike this system. These shouldn't be firmware build targets, it's all the same firmware build. This should be a helper script that lives outside of the build system.

It's one of those things that was kind of convenient initially, but ended up making something simple actually quite complicated and mysterious. Now we need even more magi

[2017-12-13 01:14] jgoppert commented on #6389
Yeah it a bit out of hand. Separate targets and a helper script sounds good
to me.

On Dec 12, 2017 8:08 PM, "Daniel Agar" <notifications@github.com> wrote:

[2017-12-13 01:33] r0gelion opened #8458 "Bokeh application is not working"
Bokeh application is not working, log viewer is not working.

[Log example](https://logs.px4.io/plot_app?log=1431e7f7-82a4-4a13-a0ba-162e6f492671)

@LorenzMeier

[2017-12-13 03:34] hamishwillee commented on #6389
This is definitely complicated - I only just found out about the additional GDB stuff, and those special cases like none and the triple underscores. Also the [doc I created](https://github.com/PX4/Devguide/pull/386) is simulator dependent, so it may be that I'm missing all sorts of things about working with nuttx or other hardware targets.

Re GDB, how would you launch this under your new scheme -

[2017-12-13 05:31] #6746 closed

[2017-12-13 05:31] dagar commented on #6800
Bad hardware? Reopen if not.

[2017-12-13 05:31] #6800 closed

[2017-12-13 05:32] dagar commented on #6361
Going with Dronecore instead.

[2017-12-13 05:32] #6361 closed

[2017-12-13 05:35] dagar commented on #4386
Done!

[2017-12-13 05:35] #4386 closed

[2017-12-13 05:37] dagar commented on #4675
Closing, please reopen if still needed.

[2017-12-13 05:37] #4675 closed

[2017-12-13 05:57] myeabhishek opened #8459 "Unable to get position lock in v1.7.0-rc4 on Pixhawk Mini"
I have a vehicle with quad x configuration with Pixhawk mini as the flight controller. I installed v1.7.0-rc4 on my Pixhawk mini. I was getting various different issues related to position lock. The issues are described below:

1) 12 Satellites received. Green light glowing, however, auto takeoff denied. In flight view the drone was constantly changing position on GUI.
2) On reinstalling same firm

[2017-12-13 06:24] dagar commented on #8459
Could you post the log? https://logs.px4.io/

[2017-12-13 07:39] acfloria commented on #8454
I actually just noticed it during our pre-flight tests so I do not have a log file now. But I will go flying today and then I will test it again in flight.

[2017-12-13 07:48] dk7xe commented on #8182
@bkueng thank you for pointing that out. But for many users in the hobby domain UAVCAN is no issue because of the price. 79$ of a Sapog ESC compared to a 20$ BL_Heli or 25$ KISS ESC makes a difference.
I fully agree that UAVCAN is the better choice for (commercial) multiple ESC UAV designs. But leaving out the nice developments of the hobby market i disagree. From a user experience the simple adva

[2017-12-13 09:48] taileron opened #8460 "individual Vtol Airframe defined Main Out PWM limit PWM_MAX get lost"
while switching once to FW,  they are always replaced by the hard coded PWM_DEFAULT_MAX

after Boot (main pwm_max value o.k.):
channel 1: 900 us (alternative rate: 400 Hz failsafe: 900, disarmed: 900 us, min: 1080 us, max: 1943 us, trim:  0.00)
channel 2: 900 us (alternative rate: 400 Hz failsafe: 900, disarmed: 900 us, min: 1080 us, max: 1943 us, trim:  0.00)
channel 3: 900 us (alternative rate:

[2017-12-13 10:21] bkueng commented on #8458
There was an exception on the server in the spectral plotting, which I cannot reproduce locally. Strange enough restarting the server program fixed it as well. Anyway I worked around it with https://github.com/PX4/flight_review/commit/4ee62b9b63084d8ffbf0e4a15c1208501cc357e2.

I also improved the error handling for such cases: https://github.com/PX4/flight_review/commit/70631a40a0b2e3bf0130c47b3c8

[2017-12-13 10:21] #8458 closed

[2017-12-13 16:28] myeabhishek commented on #8459
I don't have the logs as I was not able to arm at all in autonomous mode.

[2017-12-13 17:08] dagar commented on #8459
Set `SDLOG_MODE 2` to enable logging from boot until disarm. Then we'll be able to see exactly what's happening in the firmware.

Having a GPS lock isn't enough. The position estimate (from GPS and other sensors) error must be sufficient for autonomous flight. We definitely need to improve the error messages and feedback in this area.

Please try it again with the latest development PX4 and loggin

[2017-12-13 18:57] dagar opened #8462 "sensors status ideas"
Piecing together sensor issues from logs is often more difficult than it needs to be. I was thinking of expanding `sensors status` to include the device id (decoded), rotation, internal/external, mapping between uORB numbering and CAL parameters, etc.

Then sensors status could be appended to the log preflight and postflight just as as perf and top are now.

Alternatively we publish a few of the k

[2017-12-13 19:37] dagar opened #8463 "airspeed "quick cal" advanced option"
Airspeed calibration determines the offset of the differential pressure sensor averaged over a few seconds (# samples), then applies the offset, waits briefly, then asks you to blow to verify the tubes are connected properly.

This should definitely remain the default, but more advanced users would like the option to zero the differential pressure sensor immediately and skip the blowing step.

Thi

[2017-12-14 03:24] hamishwillee commented on #8316
OK, I have created a near *duplicate* of @tubeme controller diagram on draw.io [here](https://drive.google.com/file/d/13Mzjks1KqBiZZQs15nDN0r0Y9gM_EjtX/view?usp=sharing). Any of you can edit it. Just pausing in case one of you wants to proceed from here?

Image looks like this:
![image](https://user-images.githubusercontent.com/5368500/33974057-6c90a48c-e0da-11e7-92a6-75bae9d0bf45.png)

[2017-12-14 04:13] hamishwillee commented on #8316
![image](https://user-images.githubusercontent.com/5368500/33975130-af1273f2-e0e0-11e7-8661-756469add1b8.png)
Updated version above has following changes:
* PID - Ctrl in box TO PID
* p (position) - changed from P
* v (velocity) - changed from V
* &Psi; (attitude vector) (psi upper case)  - changed from q
* &psi; (yaw angle) (psi lower case) - changed from &Psi;

Questions:
- F is "thrust" . Is th

[2017-12-14 05:56] MaEtUgR commented on #7318
@Stifael
1. People reading this curretnly cannot find the code you are refering to because I didn't rebase and push the newest version of the flight task architecture to this repository yet.

I suggest the vehicle stops and waits for further commands. If the vehicle is used autonomously or RC is lost or position lock is lost -> failsafe.

I suggest to not generally use the commander for all of tha

[2017-12-14 07:03] Stifael commented on #7318
@MaEtUgR

I know that, but the discussion started here and should also continue here. How, otherwise, can ppl contribute and work towards the same goal? For instance, what if there is also refactor in progress that does not agree with FlightTasks? One purpose of this thread was also to update the proposal, otherwise this thread has no use at all.

I did not know that the goal of FlightTask is to t

[2017-12-14 07:22] Stifael commented on #8316
At the end it depends on the nomenclature that we define on. However, the nomenclature and style for the above diagram is most likely not the final solution. For instance, we definitely need to use subscripts.
@bresch has shown to me a good draft for nomenclature. I suggest that we start with this diagram and also add the draft for nomenclature, which both have to be adjusted simultaneously ( inst

[2017-12-14 08:02] bkueng commented on #8462
Sensor status identification can definitely be improved and these are some good ideas. `sensors status` is a good place for that.
Adding that directly to the log has the disadvantage that it won't work on archs where logger runs on a different CPU, such as snappy (there might be others in future) - perf & top already have that problem, so we might have to find a more generic solution. Such as logg

[2017-12-14 08:15] acfloria commented on #8454
I did two tests, one in the [lab](https://logs.px4.io/plot_app?log=b1ee527f-cd8a-462c-bac0-55d470899abb) and one [test flight](https://review.px4.io/plot_app?log=9be3df0d-c3b7-4fae-b4d4-fa1d3fea0627).

The issue only appeared during the in lab test. For example between 0:42-0:53 when I change the throttle/pitch/roll input but the output is not changed.
In the lab I do not have a GPS signal, could

[2017-12-14 08:17] mzahana commented on #7552
Now, using https://github.com/mavlink/mavros/pull/764 (already merged into mavros master), GPS setpoints can be sent via MAVROS.

[2017-12-14 08:25] mzahana commented on #6364
This issue has been there for a year now! Is there any update regarding fusing MOCAP into EKF2?

I saw some work on this in this issue https://github.com/PX4/ecl/issues/271

[2017-12-14 08:44] #7552 closed

[2017-12-14 09:59] whyscience commented on #7857
The final solution is remove R635
或者中文：悍掉R635

[2017-12-14 09:59] #7857 closed

[2017-12-14 10:43] lovettchris opened #8464 "Not getting MAV_LANDED_STATE_ON_GROUND"
See [flight log](https://review.px4.io/plot_app?log=4d7df5bf-d8b5-43a5-bd9a-842f8702a131).  I expect to get extended sys state showing MAV_LANDED_STATE_ON_GROUND after doing simple take off and landing.

**Repro**
1) Run [AirSim](https://github.com/Microsoft/AirSim), with PX4 connected, either SITL or HITL mode.
2) Run this python script

[code]

Notice client.land() times out because the extended

[2017-12-14 10:48] CarlOlsson opened #8465 "It is possible to arm to mission with stale baro"
**Bug Report**
I flashed master cbdb08bb6109c1ea3ef4e23761233df447523a52 on to a pixracer quad, with the only difference that the baro altitude was overwritten to -15 km in the [sensor driver](https://github.com/PX4/Firmware/blob/cbdb08bb6109c1ea3ef4e23761233df447523a52/src/drivers/ms5611/ms5611.cpp#L868-L868).
[code]
When connecting to telemetry I get the warning that the baro data is stale
[code

[2017-12-14 11:58] MaEtUgR commented on #7318
1. Totally agree. Just wanted to point it out.
1. My goal is that the commander does not need to take additional responsibility than it already has specific for every task. I'm not saying it should take over the responsibility the commander has right now neither do something the navigator already does. The goal is only that it scales with more and more tasks which means you should be able to easil

[2017-12-14 16:12] dagar commented on #8462
Thanks, that's a good point.

[2017-12-14 16:13] dagar commented on #8464
Do you recall the last working version? Was it from PX4 master or a stable release?

[2017-12-14 16:22] dagar commented on #8465
Maybe we should do a top down review of barometric data in the system. There are lots of little side issues.

 - QNH usage
 - calibration
 - pressure altitude calculation (https://github.com/PX4/Firmware/pull/8466)
 - ms5611 jumps (https://github.com/PX4/Firmware/issues/7)
 - commander baro checks

[2017-12-14 22:04] hamishwillee commented on #8316
@Stifael Draw.io has a latex plugin, it is enabled, and that is what I am using in that image. To use it you just put the text in back ticks. There is a draw.io [example here](https://www.draw.io/?url=https%3A%2F%2Fjgraph.github.io%2Fdrawio-diagrams%2Fdiagrams%2Fmath.xml#Uhttps%3A%2F%2Fjgraph.github.io%2Fdrawio-diagrams%2Fdiagrams%2Fmath.xml)

Subscripts work fine using _ , superscripts work with

[2017-12-14 22:46] sanderux opened #8468 "home position update at mission start"
A corner case was uncovered in the following scenario:

- Takeoff from A at altitude 0
- Land at B at altitude 100
- Update the mission to return, setting a vtol_takeoff at 50m relative to home
(no restarting of FC)

The vehicle proceeded to arm and calculate the vtol_takeoff condition but did so before the home position was reset. Altitude condition was met and it proceeded to transition 0.5m abo

[2017-12-14 23:07] r0gelion commented on #7571
@2ndalpha how the test went? is this issue resolved?

[2017-12-14 23:37] r0gelion commented on #8246
I'm closing this issue, if this happens again, I will re-open it.

[2017-12-14 23:37] #8246 closed

[2017-12-15 00:10] goodman110110110 opened #8469 "offboard fixwing"
why px4 not support fw offboard mode?

[2017-12-15 00:11] goodman110110110 commented on #8469
The px4 user guide says that offboard mode is not supported by Fixed Wing vehicles. It is supported for Copter and VTOL vehicles.
How to realize the fw offboard?

[2017-12-15 00:12] raygamero commented on #8463
Thanks for this issue Daniel.  I'm going to see if I can come up with a good solution.
Do you mind telling me where to start to understand the current cal module?

[2017-12-15 01:12] Antiheavy commented on #8463
Interesting idea.  Most other autopilot systems don’t have a diff pressure test step although I really like it.  Actually I would love to see it as a pre-arming check as well, but I have thought through how that would be implemented firmware side.
Personally, I would like to see the averaging time cut in half to speed up calibration. The time now seems too long and may introduce more chances for e

[2017-12-15 10:35] western-co-at commented on #6223
I have seen that this ticket got closed and tried to test the USB mass storage driver of nuttx 7.22+/current master again by adding following lines to the defconfig:
[code]
In the NSH I entered following lines:
[code]
The microsd card is still not allways mountable. After a new reboot it may be mountable. Do I have to set another CONFIG switch/parameter (e.g. a special endpoint number) to get the

[2017-12-15 13:15] myeabhishek commented on #8459
@dagar I generated the logs in the required setting as suggested by you. I was able to get 11 satellites, however I didn't get a position lock. Please find the attached logs. I was using v1.7.0-rc4.

I have uploaded the logs as well. Please find them at the attached link.

[log_38_2017-12-15-16-48-06.ulg.zip](https://github.com/PX4/Firmware/files/1562729/log_38_2017-12-15-16-48-06.ulg.zip)

[2017-12-15 14:15] bresch commented on #8316
![px4 mc position controller diagram](https://user-images.githubusercontent.com/14822839/34045624-ff247362-e1a9-11e7-9df3-4d7a6256a6ef.png)

@hamishwillee Thanks for the effort! I modified the diagram to match the glossary I made. Please @Stifael , tell me if there is anything you don't like or if you see a mistake.

[2017-12-15 14:36] dagar commented on #6223
@western-co-at I'm not sure, but you could try asking on the NuttX mailing list.

I'm interested in this functionality, but I don't know how to make it fit into PX4.

[2017-12-15 15:20] myeabhishek opened #8470 "Unable to retrieve v1.6.1 of PX4."
Hi Team,

I am using the following version of PX4 for one of my drones. I want to replicate the same for my other drones, however, I am not able to retrieve this particular version of PX4. This is not listed among any releases and I am not able to clone and build it as well. Can you please guide me on how get this version or build it if required?

HW arch: PX4FMU_V2
FW git-hash: 50ecee9df817ebc414

[2017-12-15 15:36] ChristophTobler commented on #6562
Update: I think we found a setup where the VISLAM works with PX4 just as nicely. Seems that the issue was the filtering in the mpu9250_wrapper which introduces a delay.

**Branches**:
Firmware: https://github.com/ChristophTobler/Firmware/tree/pr-raw_imu_snappy
Mavros: https://github.com/ChristophTobler/mavros/tree/pr-raw_imu_px4
VISLAM: https://github.com/ChristophTobler/snap-vislam-ros/tree/mv-1.

[2017-12-15 20:00] mzahana opened #8472 "Feature Request: AutoTune"
Hi,

Is there a plan to have auto PID gain tuning like the one in APMCopter?

[2017-12-15 23:19] lovettchris commented on #8464
I tried [1.6.5](https://github.com/PX4/Firmware/releases/tag/v1.6.5) and same issue.  I couldn't find available px4 builds for earlier releases to test, but I know for sure it was working on 1.5.5.

[2017-12-16 02:11] #7858 closed

[2017-12-16 03:12] whyscience commented on #8472
Need this feature, too.

[2017-12-16 03:37] YuYangguang opened #8473 "build failed due to c++ library"
I tried to build the firmware in Ubuntu 14.04. I have installed the gcc 4.9, g++ 4.9 and build-essential, but when I tried to build the code, the system report the following error:
In file included from /home/cloudy/fangzhen/Firmware/src/lib/matrix/matrix/math.hpp:3:0,
                 from /home/cloudy/fangzhen/Firmware/src/lib/mathlib/math/Matrix.hpp:51,
                 from /home/cloudy/fangzh

[2017-12-16 04:15] dagar commented on #8473
Did you install all packages mentioned in the dev guide? https://dev.px4.io/en/setup/dev_env.html

[2017-12-16 07:18] xdwgood opened #8474 "Geofence check file"
@bkueng
I think we can add a judgment here ： https://github.com/PX4/Firmware/blob/master/src/modules/navigator/geofence.cpp#L473
if （textStart ==sizeof(line) / sizeof(char)) {
        break;
}
what do you think? thanks

[2017-12-16 07:39] #8474 closed

[2017-12-16 08:42] sanderux commented on #8468
@priseborough @LorenzMeier FYI

[2017-12-16 09:37] sanderux commented on #8468
Option for continuous updates while landed & disarmed:
https://github.com/PX4/Firmware/blob/b5be990109a00814102005b6b809d64daadc40d8/src/modules/commander/commander.cpp#L3123-L3141

Option for home position update at disarm:
https://github.com/PX4/Firmware/blob/b5be990109a00814102005b6b809d64daadc40d8/src/modules/commander/commander.cpp#L736

Option for additional checks before loading new mission

[2017-12-16 10:21] sanderux commented on #8468
A possible issue that made this happen:
The following only runs on_inactive for mission. If the vehicle never leaves the mission state while updating the mission this will never run:
https://github.com/PX4/Firmware/blob/master/src/modules/navigator/mission.cpp#L104

[2017-12-16 11:37] raywang-nx opened #8475 "preflight failed mag sensors inconsistent"
Dear:
   here are the log files.
   https://logs.px4.io/plot_app?log=b11cdad4-8c8a-47c9-a83f-72c11df0df22
   https://logs.px4.io/plot_app?log=7d3eac38-1274-451f-9d89-d1f44462aa91
   https://logs.px4.io/plot_app?log=50c58947-0613-4c6f-b599-f814727564ca
    i am not sure all of these three are the right files. but at least one of them is.
    i cannot arm pixhawk at all, it keep telling me  mag sens

[2017-12-16 20:08] mrpollo commented on #8419
v1.7.0 was released, thanks to everyone here for their help pushing this one out

https://github.com/PX4/Firmware/releases/tag/v1.7.0

[2017-12-16 20:08] #8419 closed

[2017-12-16 20:31] rollysing opened #8477 "Upgrade Failure v1.7.0 Stable Release"
Upgrade failed following procedure for v1.7.0 stable release firmware. The video was made recreating the issue by reverting back  to v1.6.3. I have been able to successfully revert back to v1.6.5 Stable since the video. Video of the failure is below. Timeline description as follows:

0:25 Shows COM Port recognized in Windows 8.1 Pro prior to upgrade
0:46 Firmware version
0:56 Start of upgrade
1:15

[2017-12-16 20:38] dagar commented on #8477
@rollysing see https://github.com/PX4/Firmware/pull/8478

[2017-12-16 21:05] #8477 closed

[2017-12-16 21:49] dagar commented on #8470
Here's a link to the v1.6.1 px4fmu-v2 binary, but I'd still recommend you upgrade to the latest stable.

https://s3.amazonaws.com/px4-travis/Firmware/v1.6.1/px4fmu-v2_default.px4

[2017-12-16 21:49] #8470 closed

[2017-12-16 22:08] dagar commented on #8475
What's your physical setup? Where are the compasses relative to sources of high current?
Are you doing the full 6 position compass calibration? Are you doing it away from buildings, cars, etc?

If you change logging to start at boot (SDLOG_MODE 2), log sensor comparison (SDLOG_PROFILE see screenshot), and go through the full calibration again we can look at the log to find the issue.

![image](htt

[2017-12-17 01:26] lovettchris commented on #8464
So I tested 1.6.4, 1.6.0 and same behavior, so I went back to 1.5.5 and now I'm not sure if it is doing the right thing either.  What I found is that I have to "disarm" the drone in order to get the "landing detected" message, and the associated MAV_LANDED_STATE_ON_GROUND landed state in extendedsys_state, but that is silly because I need to get "landing detected" before I can safely disarm.

[2017-12-17 02:06] dagar commented on #8464
This is likely something to do with the land detector in simulation.

What's your typical Airsim setup? HIL, SITL, airframe, etc?

[2017-12-17 02:09] dagar commented on #8464
![image](https://user-images.githubusercontent.com/84712/34075942-33b09cb8-e2a5-11e7-8d84-32acca931326.png)

You can see it was disarming that forced the landing state change.

![image](https://user-images.githubusercontent.com/84712/34075944-4cb3d9d2-e2a5-11e7-9e13-d4d5c8f7bb73.png)

[2017-12-17 12:19] CarlOlsson opened #8482 "Preflight error msg are spammed in qgc"
After a flight with master e8624f8afe6199fa8dc9ee1bfc74ac8f6ef52117 QGC started complaining about preflight failure. However the messages were coming once a second and it never stopped until I rebooted, feel free to close this issue if this is intended behavior.
[code]
log is [here](https://logs.px4.io/plot_app?log=19d124ff-68a3-4f6b-8f16-c542fedc2b9b)

[2017-12-17 14:03] LorenzMeier commented on #8482
The log is certainly abnormal. What immediately raises an eyebrow is that your jamming indicator is all over the place: https://logs.px4.io/plot_app?log=19d124ff-68a3-4f6b-8f16-c542fedc2b9b#Nav-GPS-Noise-_-Jamming

The RAW GPS plot also looks suspicious. I suspect you have a huge EMI issue on your vehicle, potentially due to a low-cost FPV camera?

In the current hardware configuration this is not

[2017-12-17 16:48] CarlOlsson commented on #8482
Thanks for pointing it out!
No FPV camera yet but the wifi module. Don't remember having so much problems with it before but the gps jamming indicator goes to normal values if I remove it, and also all the other issues with heading innovations etc seems to be resolved.
![image](https://user-images.githubusercontent.com/7795133/34081702-cbf1fa42-e351-11e7-99f1-9cf53d75f16a.png)

However, another th

[2017-12-17 20:10] lovettchris commented on #8464
I think I found the problem, AirSim is not simulating a ground hit positive acceleration.  It does simulate the correct larger negative acceleration on takeoff:
![image](https://user-images.githubusercontent.com/18707114/34083312-213a87a0-e323-11e7-9923-469fb37754fa.png)

but the landing is too smooth, so the PX4 landing detector didn't see it.

![image](https://user-images.githubusercontent.com/1

[2017-12-17 20:13] LorenzMeier commented on #8464
That might be an issue - also if you set a too low landing speed. You need to have at least 0.5 m/s, otherwise the system can't really judge if the speed is changing on contact.

[2017-12-18 02:14] raywang-nx commented on #8475
this morning, i calibrated it again with all the six positions, and all te necessary pre steps, now it works fine, if something wrong, i will reopen it again

[2017-12-18 05:21] vmishra9 opened #8484 "Yaw control not behaving as expected with stable release v1.7.0"
I tuned a quadcopter with X configuration. The step and impulse response of roll, pitch and yaw angles was up to the mark during the manual flight. I gave a mission to the quadcopter. The flight was smooth until a location where a yaw of more than 90 degrees. The yaw of the vehicle went in the opposite direction of the setpoint for the yaw. This made the quadcopter oscillate dangerously for some a

[2017-12-18 07:11] LorenzMeier commented on #8484
Yaw wraps at +-180 degrees and the system chooses the shortest rotation direction, so it didn't go into the opposite direction but the shortest.

The oscillations are due to improperly tuned yaw gains (YAW_P or YAWSPEED_P). They are too high for your system and show critical oscillation. You will want to reduce the YAW_P gain to 50-70% of its current value and re-try.

[2017-12-18 07:11] #8484 closed

[2017-12-18 08:17] Stifael commented on #8316
Yes.

It obviously needs to have a globally accepted px4 nomenclature and notation. @bresch, what is the standing of the nomenclature document that you have been working on?
I also think that it is important that we do not try to explain everything our-self. Certain things are very standard (such as PID), and you can waste a lot of time trying to explain everything compared to just adding a refere

[2017-12-18 09:19] #6189 closed

[2017-12-18 10:14] bresch commented on #8316
![px4 mc position controller diagram 2](https://user-images.githubusercontent.com/14822839/34099693-8061840a-e3e0-11e7-9dfd-b49e298486dc.png)

Corrected. I also added `Z` in the legend and corrected the projection operator

As Dennis said, it is widely used in academia and in most estimation and control books

It might be worth mentioning that:
- the estimates come from EKF2
- this is a standard _

[2017-12-18 11:06] sanderux commented on #8468
Proposed fix for 1.7:

In home_position.msg:
Add bool manual_home = false

In commander:
Set bool manual_home = true when home set manually

In commander:
if disarmed && landed && homepos.manual_home == false
    && distance(current_pos, home_pos) > eph*2
    && distance(current_alt, home_alt) > epv*2:
update_home_position()

In mission:
If home_position_updated:
update_off/onboard_mission()

[2017-12-18 17:14] dagar commented on #7705
Another related idea would be to make it easier for a non developer to customize the release file *.px4) with a custom airframe, mixer, params without needing to embed the configuration in the firmware and rebuild everything.

[2017-12-18 17:15] dagar commented on #7999
I believe all of these issues are resolved.

[2017-12-18 17:15] #7999 closed

[2017-12-18 19:44] mzahana commented on #7810
@TSC21 are you able to do HIL with Gazebo?

[2017-12-18 20:09] TSC21 commented on #7810
No. Still working on it.

[2017-12-18 20:27] mzahana commented on #8472
Probably the autotune implementation in APMCopter can be helpful!
https://github.com/ArduPilot/ardupilot/blob/master/ArduCopter/mode_autotune.cpp
I might work on it on a very slow pace.

[2017-12-18 22:17] hamishwillee commented on #8472
You can port the ideas, but not the code - I think they have incompatible licensing. I've seen some discussions that the tuning on APMCopter is a bit "rough" for many frames, and what would be better is an incremental tuning that happens across a longer time while flying.

[2017-12-18 22:19] hamishwillee commented on #7810
@TSC21 Let me know/when/if you get this done so we can document it. HIL is a bit of a pain currently so having an ongoing supported solution would be really nice.

[2017-12-18 22:40] priseborough commented on #8468
The continuous update of home position whilst landed and disarmed seems like the a workable compromise. However a consequence if a geofence is active and the vehicle lands and disarms at a new location is that the geofence moves with it.

[2017-12-18 23:19] TSC21 commented on #8472
We actually have a good tuning guide on the user guide of PX4. So I don't see why we would want an auto-tuning feature. Also, ideally we would want to evolve into a LQR capable tuning.

[2017-12-18 23:21] sanderux commented on #8468
I think the moving of the geofence might even be desirable. I'll get working on this

[2017-12-19 00:15] hamishwillee commented on #8472
People don't read, and sometimes they screw up. Even if I did a first level manual tuning myself I would personally love a system that continued to improve while flying.

[2017-12-19 00:16] Kailash-Rangaraj commented on #7263
Hi @Neels001 I am facing the same issue. I installed Gazebo simulator and run this code "make posix gazebo_iris_opt_flow". I got the same error like yours. The errors are related to the sensors. I already changed the proprietary drivers for graphics and I wanted to know whether we need to install QGroundStation to rectify this error

[2017-12-19 01:15] raywang-nx commented on #8475
@dagar
Sorry, but it seems everything works fine just after the moment i calibrated the compass, but later after that, it comes mag inconsistent again.

here is the calibrate logging data
https://logs.px4.io/plot_app?log=0d5cd039-59e1-4e8b-a2ea-d4e85b733588

here is the later ones
https://logs.px4.io/plot_app?log=966addcc-a14b-457a-a29d-06943625438a

[2017-12-19 02:25] raywang-nx commented on #8475
i have checked  https://github.com/PX4/Firmware/issues/7327 just now, then i list my dev here

nsh> ls /dev
/dev:
 accel0
 accel1
 adc0
 baro0
 console
 gyro0
 gyro1
 hmc5883_ext
 l3gd20
 led0
 lsm303d_accel
 lsm303d_mag
 mag0
 mag1
 mmcsd0
 mpu6000_accel
 mpu6000_gyro
 ms5611_spi_int
 mtdblock0
 mtdblock1
 null
 pipe0
 pipe1
 pwm_output0
 pwm_output1
 px4fmu
 px4io
 ram0
 rgbled0
 tone_alarm0
 tt

[2017-12-19 02:38] hamishwillee commented on #8316
I made minor change to the index because the ( ) looked like a symbol - (). OK?
![image](https://user-images.githubusercontent.com/5368500/34137842-f86f179c-e4c0-11e7-9cb9-020be4885a37.png)

It would be good to provide good links to information, tutorials, videos about the standard loop. Anything you recommend?

Absolutely. I think that the comments @bresch has made are about the right level but t

[2017-12-19 09:44] superware commented on #5122
Does it make sense to change a flash parameter in order to temporarily set current speed? I think parameters should be kept for configuration (such as max speed etc).

Why not have a single global "current speed"? if the pilot is entering a specific mission it is his responsibility to check and verify all relevant information including waypoints positions, altitudes and speeds.

This "current spee

[2017-12-19 15:34] dagar commented on #8475
The mag inconsistency check is new. You can silence it by increasing COM_ARM_MAG, however the problem is still there.

With the additionally logging enabled (all mags) can you try this.

 - point vehicle north and hold for a few seconds
 - spin slowly 360 degrees
 - hold vehicle nose down
 - spin slowly 360 degrees

Then we can look at the look and see just how different your mags are. I would gue

[2017-12-19 15:59] mzahana commented on #8475
I am facing the same problem with the MindPX flight controller. So far, I have been doing the test indoor. I am using a customized 3D printed quadcopter where the flight controller, companion computer, and all the wiring are inside a hub and close to each other. I flew it indoor and outdoor using v1.6.5 and it flew nicely. After upgrading to v1.7, I started to get the `MAG SENSORS INCONSISTENT` ma

[2017-12-19 18:44] dagar commented on #8475
@mzahana your mags were likely always inconsistent, you just weren't getting the error.

If you're interested you should try the logging I described above and we can see how much they actually differ. Then you can decide if the internal should be disabled (CAL_MAGX_EN) or if the the inconsistency check should be relaxed.

[2017-12-20 08:06] Stifael commented on #8316
Sure, I can do that.

What is the next step? I can add links, explanation and so on once I know where to put them.

[2017-12-20 13:43] shakthi-prashanth-m opened #8501 "Request to add parameter for configuring Follow Me TTL (in seconds) after a message rx timeout"
In [Follow Me mode](https://docs.px4.io/en/flight_modes/follow_me.html#follow-me-flight-mode),
there's  a need for a PX4 parameter to configure the timeout (in seconds) for the vehicle to be in Follow Me mode when there are no more messages coming from target.

I see there's a [MAV_CMD_NAV_FOLLOW](http://mavlink.org/messages/common#MAV_CMD_NAV_FOLLOW)  that seem to configure this value (TTL in sec

[2017-12-20 14:45] shylent opened #8502 "Add support for "frame" argument in "COMMAND_INT" version of MAV_CMD_DO_REPOSITION"
MAV_CMD_DO_REPOSITION works as documented (in http://mavlink.org/messages/common) when used as COMMAND_LONG. However, COMMAND_INT has a `frame` argument, which could apply to this command:
* if user specifies MAV_FRAME_GLOBAL_RELATIVE_ALT_INT (6), param7 (altitude) is interpreted as relative to home position
* if user specifies MAV_FRAME_GLOBAL_INT (5), param7 (altitude) is interpred as AMSL (same

[2017-12-20 15:13] dagar commented on #8502
This might be a good excuse to generalize MAV_FRAME (https://mavlink.io/en/messages/common.html#MAV_FRAME) usage across navigator.

It would make DO_REPOSITION more useful, and it's a stepping stone to local coordinate frame mission support. @Stifael FYI

[2017-12-20 16:55] mrpollo commented on #8225
https://github.com/PX4/Firmware/releases/tag/v1.7.0

[2017-12-20 16:55] #8225 closed

[2017-12-21 04:52] hamishwillee commented on #8316
@Stifael I've created a branch on the devguide you should be able to contribute to - see the PR here: https://github.com/PX4/Devguide/pull/400

This has placeholders for the notation and an "initial" spot for the diagrams. Don't feel the structure is fixed - I just wanted to kick off the discussion/iteration.

After reviewing and adding to it, the next-next step is to mock up the other controller

[2017-12-21 14:00] davids5 commented on #6223
1) There are not enough endpoints in HW on the F4 to do MSC and CDC/ACM. 2) my comment above still applies

[2017-12-21 14:16] JohnSnowball opened #8508 "Throttle stop after front transition"
**Bug Report**

Hello,  here's the log link.
https://logs.px4.io/plot_app?log=f10ed9d8-4eab-4b31-962f-bd5c69178878

After transition to fw is done, the pusher throttle drops to 0 and goes back to normal, then altitude drops as throttle is zero. Check this:
![image](https://user-images.githubusercontent.com/18409502/34259115-ecfc37d2-e69b-11e7-9069-bb0a4c332018.png)

I reproduced this EVERYTIME I m

[2017-12-21 14:50] dagar commented on #8508
I believe this is largely how TECS is initialized after a VTOL transition.

![image](https://user-images.githubusercontent.com/84712/34260498-330a0f1e-e634-11e7-8bc3-18c7a3bfdeb9.png)

Later I'd like to look at having TECS in control of the throttle during transition to avoid the issue.

[2017-12-21 15:39] micheleportioli opened #8509 "Double cameras with camera_trigger"
Hello everyone,

one problem that @deon and I had is about triggering two cameras independently using camera_trigger driver.
Both AUX5 and AUX6 outputs are activated when I run camera_trigger, but I'd like to control separately the two ports in order to have one camera triggering at at certain time from AUX5 and an other one from AUX6.

Is it possible to restructure the code in order to make it ha

[2017-12-21 17:08] dagar commented on #8509
Can we go over some of the desired use cases to think through how it should be generalized?

Would anyone realistically want more than 2 cameras?
Should one "camera trigger configuration" have multiple outputs or do we keep it simple and allow 1-X camera_trigger instances, each with a corresponding set of parameters.

[2017-12-21 19:58] r0gelion opened #8510 "error compiling master for Aerotenna ocpoc"
I got an error when trying to compile posix_ocpoc_ubuntu target.

[Error](http://pasted.co/b7acbe7c)

Using Ubuntu 16.04 LTS

[2017-12-21 20:03] davidaroyer commented on #8510
It looks like you're just missing a python package. Here's the error:
[code]

[2017-12-21 20:09] r0gelion commented on #8510
Thank you, that fixed the problem.

[2017-12-21 20:09] #8510 closed

[2017-12-21 20:21] svpcom opened #8511 "Zero offset of SDP3x conflicts with uncalibrated airspeed status"
If airspeed sensor (SDP3x) has zero offset then SENS_DPRES_OFF sets to 0.0 which is
handled as default (uncalibrated) value. For example qgroundcontrol shows airspeed sensor in bad state.  Do we need to set it to some small value (for example 0.001) or select other value for uncalibrated state?

[2017-12-21 20:32] LorenzMeier commented on #8511
Short-term setting it to a very small value would fix this. Does it really indicate you 0 when you calibrate it? I find that the offset is virtually zero, but still can be calibrated to be completely zero.

[2017-12-21 20:47] charles-blouin commented on #7324
Hi,

I would like to confirm that the V3 seems like the right firmware. The V2 outputs an error (GRYO 0 not found). V4 refuses to install. The documentation [here](https://docs.px4.io/en/flight_controller/pixhawk_series.html#fmu-versions) on the wiki seems wrong.

[2017-12-21 20:48] LorenzMeier opened #8512 "Simplify multi vehicle setup"
Here is a multi-vehicle scripting system:

https://github.com/acsl-mipt/multiple-sitl/issues/3

@korotkoves Would you be willing to send a pull request against PX4/Firmware to include your script subsystem in a folder?

Current ROS docs:
https://dev.px4.io/en/simulation/multi-vehicle-simulation.html

Docs issue:
https://github.com/PX4/Devguide/issues/384

[2017-12-21 20:51] dagar commented on #7324
@charles-blouin which board do you have and which version of the Firmware did you try?

[2017-12-21 20:54] priseborough commented on #8508
I would add an else to the TECS::_initialize_states function that to handle the case where of an in-air start that is not climbout mode. This would set the throttle integrator to cruise throttle.

[2017-12-21 20:57] svpcom commented on #8511
Yes, in my case it completely zero.

[2017-12-21 21:30] dagar commented on #8508
Thanks Paul. ECL PR https://github.com/PX4/ecl/pull/372

[2017-12-21 22:06] charles-blouin commented on #7324
This is with a Pixhawk mini. I used the px4fmu-v3_default.px4 firmware on the [github](https://github.com/PX4/Firmware/releases) release page, which Qgroundcontrol reports as 1.7.0. I was able to perform the calibrations and correctly display the attitude in Qgroundcontrol.

I am new to the PX4 environment. When I received the Pixhawk Mini, I flashed the new firmware using the default firmware in

[2017-12-21 22:13] LorenzMeier commented on #7324
@santiago3dr Could you re-test with QGC and Pixhawk Mini?

[2017-12-21 22:23] charles-blouin commented on #7324
Additionnal information:
Here is a screenshot of what happens when I plugin the Pixhawk mini:
![image](https://user-images.githubusercontent.com/7013617/34277264-fa0d1e38-e672-11e7-89f2-43558c3cd771.png)
When I was flashing the firmware using the default configuration as in the image above, Qgroundcontrol was downloading the v2 firmware version, and it had the Preflight fail: no gyro sensor 0.
Now

[2017-12-21 22:27] santiago3dr commented on #7324
There was an issue with the pixhawk mini running 1.7.1 that flagged the error of No gyro and No accel found.
Said error was fixed in 1.7.2 as per commit b718901

Successfully flashed stable/default firmware on pixhawk mini with qgroundcontrol:
![1](https://user-images.githubusercontent.com/13203106/34277528-08875ebe-e65b-11e7-9ced-e5d70e8b3c1a.JPG)
![2](https://user-images.githubusercontent.com/13

[2017-12-21 22:32] charles-blouin commented on #7324
I would like to update the [gitbook](https://docs.px4.io/en/flight_controller/pixhawk_series.html#fmu-versions) documentation. Can I confirm that the correct firmware is the px4fmu-v3_default.px4? Is there a reason Qgroundcontrol specifies FMU v2 and the gitbook says it is FMU v4?

[2017-12-21 23:28] dposea opened #8514 "Out of flash room?"
**Bug Report**

I just downloaded the source and tool chains to Ubuntu. I got the following error:

ninja: build stopped: subcommand failed.
Makefile:153: recipe for target 'px4fmu-v2_default' failed
make: *** [px4fmu-v2_default] Error 1
dgp@dgp-M18xR1:~/src/Firmware$ make V=1 px4fmu-v2_default
[1/3] Linking CXX executable nuttx_px4fmu-v2_default.elf
FAILED: : && /usr/lib/ccache/arm-none-eabi-g++

[2017-12-21 23:42] dposea commented on #8514
I found similar issues, commented out a couple of modules,and it's fine. I'm leaving this open because the default build is broken.

[2017-12-22 00:30] dagar commented on #7324
@charles-blouin px4fmu-v2 and px4fmu-v3 are nearly the same, except the v3 has access to the full 2MB of flash. PX4 includes more modules (like UAVCAN) only in the v3. If you look in the firmware you'll see that px4fmu-v3_default is actually px4fmu-v2_large.

Due to the bootloader that the pixhawk mini ships with we can't automatically flash fmu-v3 through QGC, but you can still do it manually.

I

[2017-12-22 00:30] #7324 closed

[2017-12-22 00:34] dagar commented on #8514
Update GCC to 5.4 (used for the official builds: http://ci.px4.io:8080/blue/organizations/jenkins/Firmware/detail/master/137/pipeline/38) or newer. Currently px4fmu-v2_default is very tight on available flash, but it's fine with more recent GCC. https://dev.px4.io/en/setup/dev_env.html

[2017-12-22 00:34] #8514 closed

[2017-12-22 00:40] dposea commented on #8514
I am using 5.4. Wait, maybe the EABI toolchain is older. I got a copy from the repo, but that script ubuntu_sim.sh may grab another version.
I'll check to be sure and you can close the issue.
Thanks 

Sent from Yahoo Mail on Android

  On Thu, Dec 21, 2017 at 19:35, Daniel Agar<notifications@github.com> wrote:
Closed #8514.

—
You are receiving this because you authored the thread.
Reply to this e

[2017-12-22 00:44] dposea commented on #8514
That was what happened. Arm-none-eabi was 4.9.

Sent from Yahoo Mail on Android

  On Thu, Dec 21, 2017 at 19:40, David Posea<dposea@yahoo.com> wrote:   I am using 5.4. Wait, maybe the EABI toolchain is older. I got a copy from the repo, but that script ubuntu_sim.sh may grab another version.
I'll check to be sure and you can close the issue.
Thanks 

Sent from Yahoo Mail on Android

  On Thu, Dec

[2017-12-22 01:30] JohnSnowball opened #8515 "Go to DESCEND mode while GPS always connected"
**Bug Report**

I got a crash during a vtol flight, the flight mode changed to "NAVIGATION_STATE_DESCEND" at the end of front transition. Then it's goes lower and lower, when I found it is wrong, I tried to save it by turn on RTL, but it's too late.

I checked source code, it seems the only way to go into that mode is GPS timeout, but I checked my GPS, at least the altitude data looks good.
here's

[2017-12-22 02:14] dagar commented on #8515
This was an estimator problem.

![image](https://user-images.githubusercontent.com/84712/34282338-8db505dc-e692-11e7-93e7-abe68ce62dcb.png)

![image](https://user-images.githubusercontent.com/84712/34282354-babc56c0-e692-11e7-811c-827229a8b75c.png)

![image](https://user-images.githubusercontent.com/84712/34282363-c4c254e4-e692-11e7-9808-6050282789b1.png)

According to estimator_status.filter_faul

[2017-12-22 02:54] JohnSnowball commented on #8515
@dagar So first is accelerometer fault -> ekf estimator got a wrong vel/pos estimation -> afterwards although GPS works well, ekf2 rejects GPS fusion as there's a big difference -> ekf2 thinks GPS timeout.

Am I correct?

[2017-12-22 03:05] JohnSnowball commented on #8515
![image](https://user-images.githubusercontent.com/18409502/34283561-6677a482-e707-11e7-8b5a-1ef1221208cb.png)
And I saw this abnormal sampling regularity, what does it mean? Does it mean my accelerometer has something wrong?

[2017-12-22 05:07] mhkabir commented on #8509
It's much better to keep 1-X instances. I tried the first approach sometime back, and it's just not flexible enough.

The only thing about multiple instances is actually dealing with how to handle parameters

[2017-12-22 05:52] dagar commented on #8509
Thanks for the input, and I tend to agree. I've thought about generating param sets for things like this, calibration parameters, multi EKF, etc.

[2017-12-22 07:22] KatelynLiu opened #8516 "Add a new topic"
**Can't subscribe any data**

I want to add a new external IMU by uart, so I write a driver for the IMU and add the driver as a moudle under src/drivers. In the driver, I advertise and publish the topic, but there's a wired problem:  If I subscribe the topic in the driver too( using another handle ), I can receive the right message from the topic, but if I subscribe the topic in another file, ther

[2017-12-22 07:26] LorenzMeier commented on #8516
We can't solve problems without seeing your code. Please send a pull request and we can continue the discussion there.

[2017-12-22 07:26] #8516 closed

[2017-12-22 07:28] LorenzMeier commented on #7324
The Gitbook docs seem correct, because it correctly states that FMUv4 is Pixracer.

[2017-12-22 07:36] hamishwillee commented on #7324
@LorenzMeier FYI, that text just got updated following this issue.

[2017-12-22 09:12] korotkoves commented on #8512
Ok, I can start to code in a week, may be later. It needs pull request to PX4/sitl_gazebo either.

[2017-12-22 12:40] mzahana commented on #8512
I wanted to do something more generic similar to this wih a Qt GUI. Good to see some work on this.

[2017-12-22 12:49] mzahana commented on #6106
I have access to OptiTrac mocap and can try from my side. I will start with stable v1.7.

[2017-12-22 13:02] LorenzMeier commented on #8182
Sounds like we need to work harder on a low cost UAVCAN option.

[2017-12-22 13:15] dk7xe commented on #8182
@LorenzMeier i guess so. Or at least the UAV CAN enabled ESC's need to become cheaper. Whatever comes first ;)

[2017-12-22 13:48] EliaTarasov opened #8518 "ekf2 failed to set home when ekf2_aid_mask is setup as gps+vpe position(9)"
PX4 version: master
When EKF2_AID_MASK is setup as fuse GPS and Vision Position at the same time, then home pos is failed to be setup. However adding vision position fusion in flight works ok. Is it possible to setup home pos using GPS and Vision Position at the same time?

[2017-12-22 14:39] dagar commented on #8518
Do you have a log showing this?

[2017-12-22 14:52] dagar commented on #8515
I think those are just missed samples in the log, but I'd have to look at what flight review is doing. If you have a higher quality sdcard it usually helps. I would guess your problems are vibration, but it's hard to see in the log due to filtering. That's something we're hoping to improve in the near future.

Does that line up with what you see first hand? See if you can tighten things, balance p

[2017-12-22 14:57] dagar commented on #8515
You can see it corresponding with the pusher.

![image](https://user-images.githubusercontent.com/84712/34302362-782504b2-e6fe-11e7-811f-1e1afa1b0ded.png)

[2017-12-22 15:04] dagar commented on #8515
Once more with the solution status flags as well (scaled to fit).

![image](https://user-images.githubusercontent.com/84712/34302571-847cf2b4-e6ff-11e7-9ce0-75407944d1cf.png)

[2017-12-22 15:08] dagar commented on #8515
Closing as this isn't really a Firmware issue, but I still hope we can significantly improve the detection and handling of these issues (with updated IMU drivers and different filtering) for the next PX4 release.

[2017-12-22 15:08] #8515 closed

[2017-12-22 15:39] Antiheavy commented on #8515
We have started using the fastest available U3 rated SDcards we can find in all our PX4 based autopilots.  "Normal" SDcards are too slow and always have many small gaps in the data logs.

+1 for improved filtering (turning off internal IMU filters) so that vibration can properly be measured/detected!

This happens to us sometimes too.  I hope there will be some improvements coming to ekf2 to make

[2017-12-22 17:41] mzahana opened #8520 "Feeding mocap pose as vision pose into EKF2 does not wrok"
Since mocap position fusion is not supported in EKF2, I tried to feed it as vision position using `vision_pose` plugin in MAVROS. For that, I did the following.
1. I set EKF aid mask to fuse vision position and yaw from vision, and not to fuse GPS
2. I used `vrpn_client_ros` plugin to get mocap data which is published as pose stamped in ENU
3. I relayed the pose to  `/mavros/vision_pose/pose` whic

[2017-12-22 20:27] mhkabir commented on #8520
Can you send a log with logging from boot? (use the SDLOG_MODE parameter). The log should have vision data stream started sometime after boot so that everything is captured.

[2017-12-23 02:12] JohnSnowball commented on #8515
@dagar  I checked other log files, I couldn't found bad raw acceleration data like this during transition.
I agree that it's not firmware bug, it could be some mechanical problem. Next time I will do more pre-checks.
@Antiheavy I prefer to make more checks on my side, we can't throw everything to EKF2. I wish both of us have less chance of crash. XD

[2017-12-23 06:14] ZingHD opened #8522 "V1.7.2 HITL failed"
**Bug Report**
The firmware upgrade to v1.7.2, the hardware in the loop simulation, the sensor will prompt detection failed, the simulation will be flight fault
![qq 20171223141023](https://user-images.githubusercontent.com/17960473/34317503-587ca046-e7eb-11e7-8156-ce5921e575cf.png)

![default](https://user-images.githubusercontent.com/17960473/34330879-94aff398-e95c-11e7-9133-90568103cdda.png)

[2017-12-23 09:53] EliaTarasov commented on #8518
Yes sure.
AID_MASK 1: https://logs.px4.io/plot_app?log=0637d591-63a8-4354-a4d6-cfd4510392ce
AID_MASK 9: https://logs.px4.io/plot_app?log=56b14d7e-2518-4f55-b7c3-432e385b50cd
Thanks in advance!

[2017-12-23 11:57] zarathustr commented on #8358
@LorenzMeier  Hi Lorenz, Nice to see you. We have finished the H7 autopilot board. Should I mail you one for test?

[2017-12-23 16:10] dagar commented on #8522
What's your setup? Is this jmavsim? When was it last working?

[2017-12-23 16:14] dagar commented on #8511
Interesting problem to have!

I think what we really need is a proper interface for sensor status to send QGC. Right now it directly checks these parameters. @DonLakeFlyer FYI

[2017-12-23 18:21] LorenzMeier commented on #8358
@zarathustr Could you drop me an email on lorenz@px4.io? I can then send you the shipping address.

[2017-12-23 22:23] TobiMiller commented on #8472
I dont think it is the point with "nobody wants to read". it is more like -> go in air -> push a button -> get some good values for pid --> ready to go. i think it is to inconvenient to put your copter into a structure which holds it with wires and tune for hours until you get it flying good.

[2017-12-24 06:19] hamishwillee commented on #8472
Fair enough.

[2017-12-24 07:56] urlu75 opened #8523 "Pixhackv3 sensor position issue with 1.7.x"
**Bug Report**

Accell sensor with 1.7.x are not correct. To calibrate them correctly, I have to change the orientation of the board : roll 180 and yaw 270. With that the frame position is correctly detected.
But then, compass calibration is not successful.

Everything is perfectly detected and calibrated with 1.6.5 without any change in the board orientation.

[2017-12-24 10:06] mzahana commented on #8520
Hi I have some updates. I got the mocap fused relatively fine with EKF2. I could do position hold indoors. But it seems that the vision estimates have not fast enough convergence. Compared to LPE, when in position hold mode, I use roll/pitch RC stick to change the drone position. When It is centered, with LPE, it converges very fast to a position once you leave the stick centered. Using EKF2, howe

[2017-12-24 10:08] mzahana commented on #8520
Here is my paramters setting in QGC
<img width="332" alt="screen shot 2017-12-24 at 12 43 30 pm" src="https://user-images.githubusercontent.com/8803307/34325733-858dd0e4-e8ab-11e7-8431-1acba00e1ba4.png">

<img width="769" alt="screen shot 2017-12-24 at 12 43 54 pm" src="https://user-images.githubusercontent.com/8803307/34325735-8c83f504-e8ab-11e7-8af6-bd23ed00e6cf.png">

[2017-12-24 10:20] mzahana commented on #8520
Another concern is, the (0,0,0) point of the local position that is created by autopilot is with respect to the point where you started to get vision data, and it does not necessarily match the vision data. But it is more convienent when working with mocap to have local position always matching the mocap coordinates, just like what happens in LPE. The only way to do this with vision estimates fusi

[2017-12-24 10:22] LorenzMeier commented on #8520
@priseborough Could you have a look at the log and see what we can do to improve this?

What is important to note is that mocap is != vision - it is more of a GPS replacement including heading. So the vision fusion is probably not the right approach - we rather should have a separate data path that fuses mocap like GPS and also uses the heading as a magnetometer replacement.

We also certainly nee

[2017-12-24 10:33] mzahana commented on #8520
@LorenzMeier  agree on the separate data paths to include MOCAP in EKF2 pipeline.

I found a related attempt in the following issue.
https://github.com/PX4/ecl/issues/271

[2017-12-24 14:33] dagar commented on #8523
PX4 v1.7.0 added board detection for px4fmu-v2/v3 boards that actually had differences. We need to figure out how the Pixhawkv3 should be handled, and how it's currently detected.

Could you run `ver all` on the console?
Do you have a schematic for the Pixhackv3? I mainly want to know about the sensors.

[2017-12-24 15:36] dagar commented on #8472
FYI, you can already do some of this offline. https://github.com/dronecrew/px4tools/blob/master/examples/Log%20based%20System%20Identification%20and%20Control%20Design.ipynb

@diegoeck is working on this as well.

[2017-12-24 16:47] TSC21 commented on #8522
@arwagoner probably you are facing this same problem with Gazebo ATM, which means the problem may be coming from the Firmware side. Can you expose here your findings while integrating the HIL functionality for Gazebo? Thanks

[2017-12-24 20:55] TobiMiller commented on #8472
@dagar
thanks for that! i think something like that needs to be more announced. i knew it but i found it just by luck.

[2017-12-25 00:25] ZingHD commented on #8522
@dagar  The firmware 1.6.5 HITL is work，I can easily debug parameters。

[2017-12-25 09:43] deksprime commented on #8475
I am also gettin the exact same error. 1.6.5 I had no problems,1.7.0 now this problem comes up. Also I believe that my problem wasnt there as @dagar says, because now my compass readings have a consistent 45 degrees error. I will follow the logging steps that you have mentioned and will be sharing a log here

[2017-12-25 10:10] KatelynLiu opened #8524 "Add a new daemon app"
**Add a new daemon app**

I want to use a external IMU on pixhawk 2 through TELEM2, so I write a driver as "xsens" and put it under /src/drivers/. However, there is a problem that I can't solve.
If I published the information I handled, and subscribed in the xsens.cpp, I could get the topic. But if I subscribed the topic in another file, there was no message in the topic. And then, I turned the ap

[2017-12-25 10:20] yangang123 opened #8525 "adis16448 driver question??"
**issue Report:**

1.  adis16448.cpp

[code]

2. adis16448.cpp
[code]

[code]

1.  Why is the sampling frequency so low？？

     unsigned ticks = 1000000 / arg; => ticks = 1000000 / 100 = 10000us = 10ms

2.  I don't think it's reasonable：
[code]
It should be like this：
[code]

[2017-12-25 12:30] Ahrovan commented on #7937
hmm. same problem

[2017-12-25 16:14] urlu75 commented on #8523
here is the `ver all`

`
NuttShell (NSH)
nsh> ver all
HW arch: PX4FMU_V2
HW type: V2M
HW version: 0x0009000A
HW revision: 0x00000000
FW git-hash: 7dab5d438027c0b43c8b269b403a21e92dec7061
FW version: Release 1.7.2 (17236735)
OS: NuttX
OS version: Release 7.22.0 (118882559)
OS git-hash: b18053574bf41712cef93e31bf178518f451a350
Build datetime: Dec 21 2017 08:04:32
Build uri: localhost
Toolchain: GNU

[2017-12-26 00:57] dagar commented on #8525
The adis16448 driver was recently contributed by @ASM3.

[2017-12-26 01:04] dagar commented on #8524
You need to add `xsens start` to the init script (https://github.com/PX4/Firmware/blob/master/ROMFS/px4fmu_common/init.d/rcS) to autostart.

Make sure you subscribe in the same thread that you use to copy the data.

[2017-12-26 01:16] dagar commented on #8523
It's being detected as a pixhawk mini (`HW type: V2M`). The px4fmu-v2 version detection is relatively new. We'll likely need to get our hands on a schematic to figure out how to handle this board.

@davids5 FYI

[2017-12-26 04:01] whyscience opened #8527 "[Bug] Brake twitching on huge multicopter( wheelbase >800mm) for new V1.7.2 code"
Log is here: https://logs.px4.io/plot_app?log=e9e92a61-7db0-487c-99cc-ad68b171e0d7

![image](https://user-images.githubusercontent.com/3918941/34346586-21142976-ea34-11e7-99d0-82a3bb9adf00.png)

![image](https://user-images.githubusercontent.com/3918941/34346590-2ae66644-ea34-11e7-816f-c8d1fff704ca.png)

Using the default params, the wheelbase is 800mm and 1200mm, when the drone brakes, it brakes

[2017-12-26 05:33] JohnSnowball commented on #8508
I made a test for changes from @priseborough  https://github.com/PX4/ecl/pull/372.
The height drop problem is not that bad, however, it still exist. Here is the log:
https://logs.px4.io/plot_app?log=79bd4404-ea40-45f1-be64-99cc9de12835

So I would like to make tecs start in advance, like below, but I'm not sure if this would cause other problems, maybe you could give me some advice. @dagar
![image

[2017-12-26 08:33] KatelynLiu commented on #8524
Thanks for your advice, add `xsens start` do work. However, there's an another problem I mentioned influence the whole project.
If I use `while( !_task_should_exit )`loop in my app to pulish the topic, the pixhawk would discounted at once the app started. And because of this problem, the pixhawk can't connect the QGC at all after I add `xsens start` in the init script. I wonder what's wrong with i

[2017-12-26 12:42] whyscience commented on #8527
- Another log: https://logs.px4.io/plot_app?log=6d4f4e0d-7707-44b9-a673-057fbb2a4a15
- The video is here: https://youtu.be/tuYLPnBJfkk

[2017-12-26 12:46] LorenzMeier commented on #8527
The controller goes into saturation on the outputs:
https://logs.px4.io/plot_app?log=6d4f4e0d-7707-44b9-a673-057fbb2a4a15#Nav-Actuator-Outputs-Main

This is not a Firmware issue, but a tuning issue on your airframe. We have improved the control performance in V1.7 and you might need to adjust your attitude / rate control gains.

[2017-12-26 12:46] #8527 closed

[2017-12-26 12:47] whyscience commented on #8527
OK, thanks.

[2017-12-26 13:34] whyscience commented on #8527
@LorenzMeier  I still have a doubt, there is only one saturation in the log, but in the video, it twitched more than one time, the corresponded log didn't go to saturation.
![bokeh_plot](https://user-images.githubusercontent.com/3918941/34357710-4e3f3e5e-ea84-11e7-86f1-4ab8e9cbc433.png)

[2017-12-26 13:45] LorenzMeier commented on #8527
Your system is in [marginal stability](https://en.wikipedia.org/wiki/PID_controller#Stability) and you need to tune it. The parameter reference has some explanations, but in general familiarity with PID controllers is required.

I can see that you have not tuned the PID gains at all for your airframe and used the default gains. This *will not work* (it never works for any flight controller). If yo

[2017-12-26 14:01] whyscience commented on #8527
Thanks again.

[2017-12-26 21:32] priseborough commented on #8520
Can you please provide your parameters. For some reason many parameters including those for EKF2  are missing from the log.

[2017-12-26 22:08] priseborough commented on #8508
That will cause problems with integrator windup unless there is a method to clamp integrator states to initial values when TECS is not in control.

TECS demands a nose down pitch transient when it starts. What specific energy and energy rate errors are driving that demand? Are they caused by internal derivative filter switch-on transients or by a mismatch between TECS demands and initial flight co

[2017-12-27 01:38] hamishwillee commented on #8472
@dagar Is this anything that could/should be documented in PX4 User Guide? On quick scan I'd say "too early" - would be nice if some of this was in http://logs.px4.io though.

[2017-12-27 01:55] yangang123 commented on #8524
@KatelynLiu：
The task is always ready: no delay, or pend????

[2017-12-27 05:52] jamming opened #8529 "pixhawk can not startup when flash v1.7.2 firmware"
pixhawk can not boot up when flash v1.7.2 firmware. if remove R635 it can boot up.
R635 is a reset resistor.

[2017-12-27 06:57] KatelynLiu commented on #8524
I've solved this problem, thank you all~

[2017-12-27 06:57] #8524 closed

[2017-12-27 08:41] ChristophTobler opened #8530 "micrortps_bridge: uorb multi-topics don't work"
Currently, uorb multi-topics (e.g. `optical_flow_raw`, `vehicle_vision_position`, etc.) don't work with the micrortps_bridge.
https://github.com/PX4/Firmware/blob/master/src/modules/micrortps_bridge/CMakeLists.txt

related to https://github.com/PX4/Firmware/pull/8495. But I guess we need to fix it anyways.

@dagar I saw you've worked on it. Is that something you could look into?

[2017-12-27 09:04] ChristophTobler commented on #8518
@EliaTarasov What commit are you using? I just tried with latest master and it works in SITL (I saw you tested in SITL as well).

Can you write down instructions to reproduce it?

[2017-12-27 09:22] raywang-nx commented on #8475
@dagar Sorry for being away for such a long time,  right now it seems i can't make it right by just calibrating it, i have been doing this for quite a few times, maybe it is just because i do it near my PC, luckily, by increasing the COM_ARM_MAG value, i can make it, maybe not the best way to solve this though. thank you any way, if i got something new, i will post it here again.

[2017-12-27 09:32] ChristophTobler commented on #8453
I can't reproduce this error.
Do you have the following packages installed: `libprotobuf-dev` and `protobuf-compiler`? (not sure what else it could be...)
Also, try (if you haven't already) `make clean`, `git submodule update --init --recursive` , `make posix_sitl_default gazebo`

[2017-12-27 09:34] ChristophTobler commented on #8403
@garlinplus Feel free to reopen and provide logs if you face the same issue on a more recent PX4 version

[2017-12-27 09:34] #8403 closed

[2017-12-27 11:05] diegoeck commented on #8472
Hi! I'm working with some of my students in a toolbox with data-driven control for PX4. I personally don't like this automatic control techniques that twitch during a fly. Our approach is to fly with some controller, get the logs (like in logs.px4.io) and design a better controller from data logs. It is close to the @jgoppert approach, but while he identify a model and design the controller based

[2017-12-27 14:30] JohnSnowball commented on #8508
Thanks for your advice @priseborough, but I don't understand why TECS needs a nose down pitch transient?
When we start TECS just at the moment the front transition is done, all states are changed from 0 to real value, things are discontinue, if we start TECS when vehicle reaches blend speed, I suppose this would allow a few seconds for TECS to follow changes, thus less discontinue.
And I checked m

[2017-12-27 18:27] LorenzMeier commented on #8529
@jamming I've sent you an email regarding this requesting test hardware. @davids5 @dagar This is what we discussed on the dev call.

[2017-12-27 18:33] BazookaJoe1900 opened #8531 "Overshoot on setpoint of position"
its seems that the position setpoint work incorrectly. it has some overshoot at the end all the time.
For example:
![image](https://user-images.githubusercontent.com/29940676/34389410-1836ccb4-eb42-11e7-8627-a0f3f966c52d.png)
taken from log:
https://logs.px4.io/plot_app?log=62842ca9-1d3c-4b5a-8057-8ff30ffbdb10

On my configuration those overshoots are much larger.

In general I think that the posi

[2017-12-27 18:36] LorenzMeier commented on #8522
@ZingHD I've fixed this here: https://github.com/PX4/Firmware/pull/8532

[2017-12-27 18:36] #8522 closed

[2017-12-27 20:36] priseborough commented on #8508
TECS can be started before being in control to allow internal rate of change filters to settle, but integrator states should be held at initial values when this is being done.

[2017-12-28 02:38] ZingHD commented on #8522
@LorenzMeier  I had change the three files but it not fixed
src/modules/commander/state_machine_helper.cpp
src/modules/sensors/voted_sensors_update.cpp
src/modules/commander/commander.cpp

[2017-12-28 09:11] LorenzMeier commented on #8522
It definitely is. If it didn't work for you then either the changes were not consistent or you didn't configure the system correctly.

[2017-12-28 09:25] LorenzMeier commented on #8522
Also note the documentation here:
https://dev.px4.io/en/simulation/hitl.html

[2017-12-28 14:02] taileron commented on #8098
Got now a new PixRacer (R14) for testing exactly with the same issues. (Master 1.7.2)
Solved it with 2 methods: SYS_COMPANION = disabled   - clears the "out of memory" message at the calibration attempt.
CAL_MAG0_EN = disabled and COM_ARM_MAG = 0.5 afterwards an additional compass calibration.
By the way, PixFalcon shows this issues not at all !!

[2017-12-28 14:25] LorenzMeier commented on #8522
I've found one caveat - if you launch QGC after jMAVSim the initial launch can eat all of the CPU and the simulation diverges.

[2017-12-28 14:31] LorenzMeier commented on #8098
@taileron Could you please re-enable SYS_COMPANION and use this branch and try again?
https://github.com/PX4/Firmware/pull/8533

If that doesn't fix it, please lower the log buffer further and let us know which value works.

@priseborough Could you comment on the two other parameters?

[2017-12-28 16:08] arwagoner commented on #8522
These changes worked for HIL in Gazebo. Thanks!
![gazebo_hitl](https://user-images.githubusercontent.com/3769314/34416002-62e86362-ebbf-11e7-8cae-2e60b3bec887.gif)

[2017-12-28 16:08] dagar commented on #8530
I'm not that familiar with FastRTPS itself, but at a glance it doesn't look like the concept of multi-topics exists. I think we'll need to treat them like individual topics (sensor_accel_0, sensor_accel_1, etc), but it could be done automatically.

The manually maintained message ids (https://github.com/PX4/Firmware/blob/master/msg/tools/uorb_rtps_message_ids.py#L5) are already a problem. So the e

[2017-12-28 16:15] dagar commented on #8531
@Stifael @MaEtUgR

[2017-12-28 17:57] Stifael commented on #8531
@BazookaJoe1900 on which configuration?
Those "overshoots" are not really overshoots. The position setpoint that you see in auto consists of two parts: 1). the position of the closest point on the line previous-current-triplet setpoint. 2.) the cruise-speed of the vehicle. Usually the cruise-speed is used as feedforward velocity in the velocity controller. However, px4 did not support velocity fee

[2017-12-28 20:38] priseborough commented on #8098
@taileron There is a potential problem created by the close proximity of the usb connector to the magnetometers on the pixracer that means they cannot be reliably calibrated with usb connected because the ferrous material in the plug creates a magnetic field distortion that affects each magnetometer differently.

Please calibrate and do all testing with USB disconnected and if not using an externa

[2017-12-28 20:54] priseborough commented on #8098
The inconsistency level can be determined be checking the sensor_preflight_0.mag_inconsistency_ga message in the log (if pre-arm logging is enabled) or by starting an nsh console and using the listener command to check the sensor_preflight message.

[2017-12-28 20:57] keenanjohnson commented on #5963
I'm a bit confused about the state of this. Is the heater currently hard on or disabled for pixhawk 2.1 cubes?

[2017-12-28 20:59] LorenzMeier commented on #5963
Completely off. The unit heats up by itself fairly quickly.

[2017-12-28 21:18] taileron commented on #8098
It seems that there is another problem with the usb connection itself. If the connection is done via WIFI  and usb only as power supply it works. Mag calib should only be only done with the same metallic environment like it is in flight that concerns magnetic canopy locks, cooling fans, usb connectors and all stuff around the sensors. (I corrected a typo in first post)

[2017-12-28 21:30] Mecher commented on #8529
Same problem here , works well with APM

[2017-12-28 21:35] taileron commented on #8098
@LorenzMeier #8533 fixes primarely the memory issue while the QCG connection is done via WIFI but as soon as QCG is connected via USB most common nsh commands don´t work anymore:
NuttShell (NSH)
nsh> ver all
nsh: ver: command not found

and mostly "preflight fail: accels inconsistent" appears as well

probably it needs to free up a bit more memory.

[2017-12-28 21:49] priseborough commented on #8098
@taileron please repeat the accel calibration and see if the "preflight fail: accels inconsistent" message goes away. It can be caused if a board has a sensor with high thermal sensitivity combined with a  temperature that is sufficiently different to when the board was calibrated.

The test limit is set by the COM_ARM_IMU_ACC parameter at 0.7 m/s/s which is not overly conservative, so if that che

[2017-12-28 22:39] tops4u commented on #8529
I have a similar Problem so I post it here, please let me know if it is related or otherwise I'll open a new Issue. Also my Issue may be HW or only Bootloader Code related.

Booting with Battery works without any Issues, booting only with USB Power fails 90% of Times when connected to a MacBook, Avionics Rail will only get about 4.2 - 4.8V from the Macbook for a reason I don't know (the OS does no

[2017-12-28 23:03] taileron commented on #8098
@LorenzMeier set LOGGER_BUF 1 still doesn´t offer the usb connection without sys_companion disable but the inconsistence messages of all sensors are gone
@priseborough in my Convergence the PixRacer got a cooling fan cause it generates significantly more heat than expected but in my opinion this controller does a quite good compensation cause the betaflight fc´s acc located above the PixRacer in t

[2017-12-28 23:20] LorenzMeier commented on #5963
It was added as an experiment by the designer. We are not using one in designs that are in mass-manufactured drones. We do use temperature calibration through extensively.

[2017-12-28 23:51] proficnc commented on #5963
The heater is used to set the IMU’s to their optimal temperature for operation.

This is used within other flight controller stacks very successfully.

When flying in extreme cold temperatures, it allows for setting an optimal temperature for operating, regardless of any additional temperature compensation.

This was not an experimental feature, this was a requirement of design. And though I respe

[2017-12-29 00:26] priseborough commented on #8098
@taileron The pixracer does not do temperature compensation unless you follow the thermal calibration procedure provided by PX4.

There is a lot of variation between different serial number boards of the same model in terms of temperature sensitivity. At the price point you are using, the board manufacturer cannot afford to screen sensors for temperature sensitivity.

[2017-12-29 01:43] ZingHD commented on #8522
@LorenzMeier  It works on Gazebo SITL thank you very much. @arwagoner I can only found the document
https://dev.px4.io/en/simulation/gazebo.html use Gazebo SITL,can you tell me how to use Gazebo HITL，I  well use HITL ，I want to test a week to determine the stability of the flight control，thanks。

[2017-12-29 03:21] priseborough commented on #8520
@mzahana Can you also please provide a log with pre-arm logging enabled so that it can used with replay to test any changes.

[2017-12-29 07:22] leomatrix commented on #8093
http://discuss.px4.io/t/no-such-file-or-directory-uorb-topics-sensor-combined-h/1336
the above discuss is the same problem with me

[2017-12-29 11:42] mzahana commented on #8520
@priseborough Do you want the parameters for the log attached in this conversation, or a new one for the same attempt (using mocap as vision), but log starting from boot?

I am not sure If I have the same parameters for the log I attached earlier; there have been many changes.

[2017-12-29 11:49] ChristophTobler commented on #8530
Sure. When's that?

[2017-12-29 15:30] dagar commented on #8530
It's on Thursday, although I've never attended.
https://dev.px4.io/en/contribute/#calendar

The big overall issue that's not at all clear to me is how we need to handle message versioning and ids when you start using them outside of Firmware.

[2017-12-29 15:31] tiralonghipol opened #8534 "can't find RC_MAP_OFFB_SW"
Hi. I'm struggle to find this parameter inside  QGroundControl, and none of the tutorials I'm following is specific in this parameter.
Any idea?
I'm trying to send Mavros messages to the Pixhawk autopilot via usb.

Thanks!

[2017-12-29 17:23] arwagoner commented on #8522
@ZingHD Gazebo HITL has not been merged yet https://github.com/PX4/sitl_gazebo/pull/146. The docs will be updated shortly with instructions on how to use it.

[2017-12-29 20:22] priseborough commented on #8520
The new log please

[2017-12-29 23:58] taileron commented on #8098
@priseborough thanks, learned ore about sensors, the old R12 board seems to have the better selected ones ... how was this done in V 1.6.5 flew it after a few calibrations several months in very different temperatures. Now "sensors status" shows if the board is very cold in the first 60 seconds a higher third value of acc 0  is there a parameter to delay the sensor check at start e.g. to have more

[2017-12-30 04:32] spinorkit commented on #4408
FrSky D-type telemetry is broken  for my PixHawk v2 in PX4 version 1.7.2 (current stable).
It works if I go back to v1.1.2 and use an extras.txt file with:
frsky_telemetry start -d /dev/ttyS6

Any ideas on how to get it to work with the latest firmware. Does it still need an extras .txt file with the PixHawk v2?

[2017-12-30 05:06] dagar commented on #4408
@spinorkit please open a new issue. Did you try the extras.txt on v1.7.2? Did you get any error messages? Are you able to connect a system console? https://dev.px4.io/en/debug/system_console.html

[2017-12-30 08:06] spinorkit opened #8536 "FrSky D-type telemetry broken for Pixhawk v2 since v1.1.2"
**Bug Report**

FrSky D-type telemetry is broken for my PixHawk v2 in PX4 version 1.7.2 (current stable and also dev).
It works if I go back to v1.1.2 and use an extras.txt file with:
frsky_telemetry start -d /dev/ttyS6

It fails to work both with and without the extras.txt file.

[2017-12-30 09:11] spinorkit commented on #8536
I wired up a FTDI console and this is the output for an uncalibrated system. At the end I tried manually starting the telemetry twice. On the first attempt there was no error. On the second it said it was already running, but my transmitter still does not appear to be receiving telemetry.

nsh> INFO  [drivers__boards__px4fmu-v2] Ver 0x8 : Rev 0 V2
[boot] Fault Log info File No 4 Length 3177 flags:

[2017-12-30 10:25] spinorkit commented on #8536
I checked the telemetry output (Serial 5) on the PixHawk with v1.7.2 using a scope and there is serial data at about 9600 baud on it (I don't currently have a convenient way to connect it to an FTDI input).
So I guess the format must have changed since v1.1.2?

[2017-12-30 10:27] LorenzMeier commented on #8536
We did change the format. The updated documentation is here: https://docs.px4.io/en/peripherals/frsky_telemetry.html

[2017-12-30 10:37] spinorkit commented on #8536
Oh, thanks. That explains it I'm using the standard FrSky support built into ersky9x.

[2017-12-30 10:39] mzahana commented on #8520
@priseborough here is a new log from a new flight.
https://review.px4.io/plot_app?log=f324350a-c70b-44cb-978e-4b27f10280a1

* mocap used is OptiTrack
* in motive, in the streaming window, I chose that z-axis to be considered up direction instead of the default y-axis
* aligned vehicle forward direction with x-axis of mocap
* defined rigidbody
* used onboard computer which runs ROS, and connected t

[2017-12-30 13:20] belaidH opened #8538 "ll40ls for rpi3"
is the ll40ls compatible with the posix platform (rpi3) because when I compile I get error about (nuttx/clock.h and nuttx/wqueue.h).

[2017-12-30 16:44] dagar commented on #8538
You'll need to go through and fix those issues. Remove the nuttx headers first, then readd generic headers as needed.

[2017-12-30 17:59] LorenzMeier commented on #8534
<img width="1120" alt="find_param" src="https://user-images.githubusercontent.com/1208119/34456305-8c272da0-ed93-11e7-941b-f9c64513c8ea.png">

@hamishwillee I think we need a "find param page"

[2017-12-30 18:01] LorenzMeier commented on #8534
issue for that: https://github.com/PX4/px4_user_guide/issues/122

Closing this one as fixed.

[2017-12-30 18:01] #8534 closed

[2017-12-30 18:02] LorenzMeier commented on #8538
Or in other words: It is reasonably easy and a pull request would be appreciated.

[2017-12-30 18:04] LorenzMeier commented on #8473
Closing as stale.

[2017-12-30 18:04] #8473 closed

[2017-12-30 18:05] LorenzMeier commented on #8468
Any update?

[2017-12-30 18:10] dagar commented on #8468
I believe this was resolve by the merged PR. @sanderux please reopen if I'm wrong.

The other outstanding piece is mission feasibility on home change, but I'll tackle that in some other related work.

[2017-12-30 18:10] #8468 closed

[2017-12-30 19:35] LorenzMeier opened #8539 "Support ROI offset for structure scans"
We've extended the MAVLink spec to support offsets from the flight direction as region of interest:

https://github.com/mavlink/mavlink/pull/817

[2017-12-30 19:57] mhkabir commented on #8520
Hmm can you try reducing the `VIS_DELAY` parameter to zero? If the timestamps are synchronised with mavros and `vrpn_client_ros` gives correct timestamps, the parameter should be zero.

[2017-12-30 20:32] belaidH commented on #8538
sorry I am not an expert. So I just have to remove the headers ? because after that several problems concerning the variable or function 'work' appear .

[2017-12-30 20:45] LorenzMeier opened #8540 "Convergence crashes"
The first two flights of our Convergence after installation of Pixfalcon were failures. It flew ok in multirotor mode, but it didn't do well in airplane mode.

Control surfaces deflected correctly on the ground prior to flight in stabilize mode in multirotor and both stabilize and manual modes in airplane mode.

If anyone can do an autopsy of the logs, here they are.
Log of first flight:
https://l

[2017-12-30 20:50] LorenzMeier commented on #8540
@bkueng Flight review fails to display these logs - any insights?

[2017-12-30 22:36] mzahana commented on #8520
@mhkabir How to check that
1. timestamps are synchronized with mavros
2. `vrpn_client_ros` is giving correct timestamps? it's publishing changing time stamps, but I did not confirm if they are correct.

I just would like to understand how time stamping and synchronization affect the fusion here. Thanks.

[2017-12-30 22:43] priseborough commented on #8520
@mzahana The ekf2 runs the EKF prediction and correction processing on a delayed time horizon and a predictor algorithm using IMU data only is used to propagate the EKF states forward to the current time horizon. Observation data is put into buffers along with the time stamp, and is only retrieved from the buffer and fused when the time stamp falls behind the EKF's delayed time horizon.

I notice

[2017-12-30 23:03] mzahana commented on #8520
Thanks for the notes.
I am interested to understand this a bit more so I can better analyze the logs myself in current future situations.
I know from KF theory that
1. a process model is used to predict the states from current time `x_pred(t)` to next time `x_pred(t+1)`
2. Then, a measurement model is used to do the correction step using observations, `y(t)`. So, you get `x_corrected(t+1)`

What i

[2017-12-30 23:11] priseborough commented on #8520
All sources of data arrive with different time delays so we either:

a) Perform correction steps when data arrives, and increase observation noise to allow for increased error when manoeuvring.
b) Perform correction steps using state vector from an earlier time corresponding to the measurement time and covariance matrix from current time. This can destabilise the filter and introduces errors due t

[2017-12-30 23:43] mzahana commented on #8520
Thanks. Is there some kind of documentation/paper that explains this approach?

[2017-12-31 00:31] mhkabir commented on #8520
@mzahana As Paul says, the innovation rise with body accelerations indicates that the timestamping is off.

2. vrpn_client_ros is giving correct timestamps? it's publishing changing time stamps, but I did not confirm if they are correct.

1. Should be done automatically.
2. This is harder. I'm not sure if the package actually syncs time with the computer running Motive. You would need to check the

[2017-12-31 00:44] DonLakeFlyer opened #8541 "Mission: MAV_CMD_DO_SET_ROI not working"
* Use latest QGC daily. You need this fix: https://github.com/mavlink/qgroundcontrol/pull/5931. (may need to wait till tomorrow for it to make it all the way through the system).
* Create a simple mission with a couple waypoints
* Turn one of them into an ROI (Under Camera category)
* Send to Vehicle

Two problems:
* If you fly the mission the vehicle will not point to the ROI when it is supposed

[2017-12-31 01:35] dagar commented on #8541
@ndepal FYI

[2017-12-31 09:05] mzahana commented on #8520
@mhkabir I checked the source code of `vpn_ros_client` package and they report two types of timestamps according to a parameter. See [code lines here](https://github.com/ros-drivers/vrpn_client_ros/blob/kinetic-devel/src/vrpn_client_ros.cpp#L169-L177)
1. It either gets the time reported from the mocap side or,
2. uses `ros::Time::now()`

For 2nd case what is rule for setting the delay for the EKF2

[2017-12-31 09:22] mzahana commented on #8520
@priseborough which log variables show the rise in innovation?

[2017-12-31 10:48] priseborough commented on #8520
<img width="1122" alt="screen shot 2017-12-31 at 9 40 55 pm" src="https://user-images.githubusercontent.com/3596952/34461016-568eba92-ee73-11e7-94d1-077447ebdfb3.png">

[2017-12-31 11:42] ndepal commented on #8541
I can't test this right now but I've had this working.

A couple of things that come to mind :
- Do you want the vehicle to yaw and not just the camera? If so, is the mission yaw mode set accordingly?
- heading towards ROI only works if it's given with the correct frame (global?) and qgc might not default to that one.

I'll be back in the office later this week, I'll test it out then.

[2017-12-31 12:00] spinorkit commented on #8536
I think that using a scope to look at the serial data is not useful, since there are bursts of 9600 baud serial data every ~100ms irrespective of whether a working version is used or not.

I also think the problem is not due to the format change, since I set up a build environment and changed the D-type format back to the way it was when it was working. With this change the telemetry is still brok

[2017-12-31 12:50] spinorkit commented on #8536
After adding an optional command line option to force the telemetry type to either SPORT or DTYPE, DTYPE Frsky telemetry in v1.7.2 is now working for me.

[2017-12-31 13:18] ZingHD commented on #8522
@arwagoner Thank you answer.

[2017-12-31 13:23] LorenzMeier commented on #8536
Would you be motivated to change that to a parameter or, which would be preferred, dig into why the auto-detection is not working?

[2017-12-31 15:12] LorenzMeier commented on #8536
I'm closing this for now and hope to get a pull request from you. Thanks!

[2017-12-31 15:12] #8536 closed

[2017-12-31 16:39] dagar commented on #8538
@belaidH yes remove those headers, and in that case add `#include <px4_workqueue.h>`.

[2017-12-31 20:07] belaidH commented on #8538
Okey thank you. I will try it

[2017-12-31 23:27] tops4u commented on #8263
This will maybe never resolved. As I did not trust the FMU HW after this event, it was replaced with a newer Unit.

[2017-12-31 23:27] #8263 closed

[2017-12-31 23:51] #6843 closed

[2017-12-31 23:53] LorenzMeier commented on #7599
Closing as stale.

[2017-12-31 23:53] #7599 closed

[2017-12-31 23:54] LorenzMeier commented on #7018
Closing as stale.

[2017-12-31 23:54] #7018 closed

[2017-12-31 23:54] LorenzMeier commented on #7202
Closing as fixed.

[2017-12-31 23:54] #7202 closed

[2017-12-31 23:55] LorenzMeier opened #8544 "mRO Boot Loop"
Fix is here: https://github.com/PX4/Bootloader/pull/94

[2017-12-31 23:58] tops4u commented on #8544
To be precise, this also happened on my FMUv2 Units once they have been updated with a current v5 Bootloader. With v4 it did not happen.

[2018-01-01 02:21] spinorkit commented on #8536
The autodetection is not working for D-type telemetry because it relies on serial data coming out of the receiver into the PixHawk and there is none (I have connected the wire anyway).
I chose the command line option because I did not want to break anything and I have no clue what Frsky system was used when the frsky_parse_host() function in frsky_telemetry.c was written. I thought only the X rece

[2018-01-01 10:51] LorenzMeier commented on #8536
Your proposal seems to make sense (timing out). What I'd like to have is an option in QGroundControl to enable a specific peripheral e.g. on TELEM2 and not force users to fiddle with the SD card.

That way users could configure everything through the app and would not need to know if they have SPORT or D-type.

[2018-01-01 11:00] belaidH commented on #8538
I think now it's okay for the workqueue. but I get an other error
about the irqstate_t on the LidarLiteI2C.cpp file (I would use the I2C of the rpi).

![capture du 2018-01-01 11-59-19](https://user-images.githubusercontent.com/34583606/34467222-457694be-eeeb-11e7-821a-1f794b3da741.png)

[2018-01-01 12:38] LorenzMeier commented on #8541
@ndepal I would appreciate if you could take the lead on this one. Thanks!

[2018-01-01 13:59] dagar commented on #8538
@belaidH you can replace the critical sections with ATOMIC_ENTER/ATOMIC_LEAVE.

On NuttX it's the same thing - https://github.com/PX4/Firmware/blob/master/src/drivers/device/nuttx/cdev_platform.hpp#L10
On other platforms it's a lock - https://github.com/PX4/Firmware/blob/master/src/drivers/device/posix/cdev_platform.hpp#L6

[2018-01-01 14:20] taileron commented on #8098
is PX4 able to read a temperature from one of the sensors anywhere on the board?
which (nsh) command can show it?

[2018-01-01 14:25] LorenzMeier commented on #8098
If you have a recent board with enough flash this would do it:

<img width="1120" alt="screen shot 2018-01-01 at 15 24 32" src="https://user-images.githubusercontent.com/1208119/34468377-e71d5aac-ef07-11e7-8bc1-9bbb8ca41427.png">

[2018-01-01 15:48] LorenzMeier commented on #8523
@urlu75 What sensors are on this board? What do you get with 1.6.5 here?

<img width="1120" alt="screen shot 2018-01-01 at 16 47 41" src="https://user-images.githubusercontent.com/1208119/34468910-8252b2dc-ef13-11e7-97b2-dbc2b826c69f.png">

[2018-01-01 16:32] LorenzMeier commented on #8523
Please try this binary which is based on this branch: https://github.com/PX4/Firmware/pull/8553

[px4fmu-v3_default.px4.zip](https://github.com/PX4/Firmware/files/1596218/px4fmu-v3_default.px4.zip)

[2018-01-01 17:07] LorenzMeier commented on #8182
Let's go back to the original topic of @LanceFung:

We do support all of the critical interfaces already - so rather than ticking arbitrary boxes it would be good to get to real measurements. That means I'd love to see sensor-to-output latency specs that are relevant and alike optimisations.

What is the best current racing ESC out there?

[2018-01-01 17:26] LorenzMeier commented on #8511
Fixed here: https://github.com/PX4/Firmware/commit/ddf0ecfc3801b63f0849d5ba37a523746c53d8b4

[2018-01-01 17:26] #8511 closed

[2018-01-01 17:27] LorenzMeier commented on #8310
@pkocmoud @j07rdi Could you supply test hardware for this?

[2018-01-01 17:27] #8124 closed

[2018-01-01 17:29] LorenzMeier commented on #7921
Sorry for the late answer - please use EKF2 as LPE is currently not being actively maintained. We're bringing more and more of the vision and MOCAP interfaces over.

[2018-01-01 19:49] angelgph commented on #8357
Is a difficult problem

[2018-01-01 19:52] belaidH commented on #8538
@dagar thank you. after some tries it's compiled. Is there manip to start the ll40ls after launching the ./px4 because I don't see his topic when I use the "uorb top" command.

[2018-01-01 19:56] dagar commented on #8538
Does it work if you start it manually `ll40ls start`?

Once you're sure it's working you could add it to the raspberry pi configs here. https://github.com/PX4/Firmware/tree/master/posix-configs/rpi

[2018-01-02 00:39] LanceFung commented on #8182
Hi Lorenz

From my user experience Hobbywing XRotor ESC and newer DYS ESCs are soild to me
T-motor as usually used by lots of Racer but I never use it myself.

BLheli 32 : ( support Dhsot 1200 )
---Hobby wing XRotor 30A BLHeli_32
---DYS ARIA 35A BLHeli_32
---TMOTOR F30A BLHeli_32

BLheli S : ( support Dshot 600)
---Hobby wing XRotor 30A Dshot
---DYS XSD30A-V2
---T MOTOR F30A
---Fly color Raptor BL

[2018-01-02 01:13] hamishwillee commented on #8093
@leomatrix I think the error in that link occurs because they are trying to build the helloworld apps when they haven't built PX4. The result is that the uORB headers haven't been generated. You have the same symptoms but the reasons why they have not been built may be different. Is your gazebo environment set up using our scripts?

[2018-01-02 09:22] dk7xe commented on #8182
@LorenzMeier i would use the products from the inventor of Dshot @ronlix
KISS ESC24 v1 - supports Dshot 600
KISS ESC32 - supports Dshot 2400

i support the statement of @LanceFung. Dshot output to ESC should be via the PWM output pins.
Telemetry feedback from ESC's may be connected to one UART RX pin.

[2018-01-02 09:47] belaidH commented on #8538
@dagar when I try this  there is an error "Error opening fd".

[2018-01-02 10:53] mzahana commented on #8520
Achieved better flight (and EKF  estimation ) after reducing the `EKF2_EV_DELAY` to `50.0 ms` instead of the default value `175.0 ms`.

Log is [here](https://logs.px4.io/plot_app?log=a6ca73bc-7498-4178-bd1f-23bbfe78ec0b)

@priseborough  So, what's the plan for mocap fusion in EKF2? Is it a separate data path, or through vision topics?

Thanks.

[2018-01-02 11:12] priseborough commented on #8520
There is enough flexibility in the ecl EKF external vision interface to handle this use case, so I will now look at  what modifications are required to handle initialisation of the position so that the origin is the same as that used by the mocap.

[2018-01-02 11:26] priseborough commented on #8520
Something else you can do to improve accuracy further is to set EKF2_IMU_POS_X,Y,Z and EKF2_EV_POS_X,Y,Z to the position of the IMU sensor and mocap reference point. Setting them to the nearest 0.01m (1 cm) should be good enough.

[2018-01-02 13:48] LorenzMeier opened #8556 "Offboard control CI test unstable"
Fail example:
https://logs.px4.io/plot_app?log=3a1bf335-a6d7-41c8-a2b8-0b8dd4658ee0

Observations:

  * System never took off
  * Setpoints were there, but the actuators didn't respond
  * No actuator outputs plot present at all

Pass example (same commit):
https://logs.px4.io/plot_app?log=5331c5d9-ea98-489c-86ae-06a0344f92af

Script:
https://github.com/PX4/Firmware/blob/master/integrationtests/py

[2018-01-02 13:49] dagar commented on #8556
@lamping7 @AndreasAntener FYI

[2018-01-02 13:52] dagar commented on #8556
Instructions to run locally:
[code]

You need ROS and Gazebo installed, or you can do this within the px4io/px4-dev-ros docker container (https://hub.docker.com/r/px4io/px4-dev-ros/).

[2018-01-02 13:57] lamping7 commented on #8556
We talked about his already -- https://github.com/PX4/Firmware/pull/8447#issuecomment-354547441

Was anything done to try and fix it when I mentioned this last?

[2018-01-02 13:59] LorenzMeier commented on #8556
No. What part of the home position changes do you think make it fail?

[2018-01-02 14:01] LorenzMeier commented on #8556
Ok, I see. The home position is published even though its not the same level of "system readiness" as it was before.

[2018-01-02 14:05] mzahana commented on #8520
@priseborough Thanks!

Those parameters are with respect to the center of the flight controller ? If that's the case, I guess I can set rough estimates of the `EKF2_IMU_POS_X`/Y/Z, with X along the forward direction, Y along right direction, Z down w.r.t FCU.

For `EKF2_EV_POS_X`/Y/Z, what do you mean by the mocap reference point? The mocap origin is always (0,0,0)

[2018-01-02 14:13] LorenzMeier commented on #8556
On reviewing the code I didn't find anything that explains the CI failure - I tried to Harden a few other things though:

https://github.com/PX4/Firmware/pull/8557

[2018-01-02 14:49] mhkabir commented on #8520
The point on the vehicle defined as the origin of the rigid body.

[2018-01-02 14:53] mzahana commented on #8520
@mhkabir OK. So you mean the origin point (of the set of markers that define the rigid body) w.r.t to the FCU center?

[2018-01-02 15:05] dagar commented on #8538
If you open a pull request I can review and cross test. The I2C might be wrong for the raspberrypi as well.

On Linux the i2c buses map to `/dev/i2c-X`.

[2018-01-02 15:33] yashm commented on #8457
Is there any quick hack to test this for the time being?
Comment out some checks in the source code perhaps?

I'd like to test the first batch of PCBs till PX4 v1.8 is released.

[2018-01-02 15:44] belaidH commented on #8538
okey, this is my pull requests  https://github.com/belaidH/Firmware/pulls

[2018-01-02 16:41] DonLakeFlyer commented on #8541
I may have screwed this up now that I read your comments. Let me look again. I was running Lorenz's new gaazebo pull which has the gimbal working.

[2018-01-02 21:07] priseborough commented on #8520
@mzahana The parameters are relative to whatever point on the vehicle you wish to use as the reference for navigation and control. For multi-rotors this is best kept close to the c.g to avoid coupling between angular rates and position that can reduce stability of velocity control loops.

By  'mocap reference point' I mean the point on the body where mocap system places the body frame origin.

[2018-01-02 22:31] hamishwillee commented on #8316
OK, Notation added from @bresch in https://github.com/PX4/Devguide/pull/411. Controller diagram already in [devguide here](https://dev.px4.io/en/flight_stack/controller_diagrams.html) - everyone OK with this location and text?

@Stifael What next? Can we have another sketch for FW position controller? What about attitude controllers?

[2018-01-02 22:48] hamishwillee opened #8562 "Build System does not build uORB headers for example apps"
The helloworld example (and probably others) can be built "stand alone" or as part of a full build. If built stand-alone from a clean system the build fails because the uORB headers have not yet been generated.

The build system should detect if headers are present, and if not either generate them or warn that they need to be generated. I assume this should be done as some sort of "global" check?

[2018-01-03 01:34] DonLakeFlyer opened #8563 "FW_ARSPD_MODE param meta data confusing"
So I went to fix this QGC bug: https://github.com/mavlink/qgroundcontrol/issues/5478. Here is what you see in the parameter editor:
<img width="321" alt="screen shot 2018-01-02 at 5 30 30 pm" src="https://user-images.githubusercontent.com/5876851/34506573-ef55e050-efe2-11e7-8087-4932f2b8763b.png">

It's confusing as to what Enabled/Disabled means. I would suggest switching the meta data to enum st

[2018-01-03 01:43] DonLakeFlyer commented on #8563
Or in other words the concept of "Enabling" something in order to "Disable" it is odd.

[2018-01-03 01:51] dagar commented on #8563
This happened when it went from a parameter with 3 options to a bool.

[2018-01-03 07:18] #8563 closed

[2018-01-03 08:14] Stifael commented on #8316
@hamishwillee

yep. I added comments for notation and if ok I will just do a PR for  https://github.com/PX4/Devguide/pull/411.

@bresch knows better.

I will do a PR for the attitude controller.

[2018-01-03 10:12] zarathustr commented on #8472
you can simply write a LQR identifier to obtain the system parameters. I think there have been some examples on the github e.g. LibrePilot (TauLabs). However, the stability and safety of this variety of techniques are questionable from time to time.

[2018-01-03 10:17] mzahana commented on #6364
#8520

[2018-01-03 14:08] ndepal commented on #8541
Tested on master (757d905089e277aa94c10c38b0b4c1bf48d97f17) with QGC Daily 93c9e91.

Works as expected.

The only thing is that QGC does not yet know about `MIS_YAWMODE` "heading towards ROI", which I had to enter manually and force save.

[2018-01-03 18:43] DonLakeFlyer commented on #8541
If there is the requirement to change a parameter to get a mission to work then I would consider this not working. If you get an ROI command in a mission then this should override the parameter setting for that mission.

[2018-01-03 19:31] CarlOlsson opened #8567 "EKF Replay generates 6 files instead of one"
I want to try out the uLog EKF replay but when I follow the [docs](https://dev.px4.io/en/debug/system_wide_replay.html#ekf2-replay) I get for me unexpected results.

The [logfile](https://logs.px4.io/plot_app?log=2f967654-4766-4732-be75-53e8e705e732) is from a quad running v1.7.2, u3 ultra SD card and SDLOG_MODE = 2 (logging from boot until shut down)

I run the replay using
[code]

However, for s

[2018-01-03 19:43] DonLakeFlyer opened #8568 "Proposal - Parameter Meta Data: Categories"
Add support for each parameter to belong to a category as specified by the meta data. This will allow QGC to add an additiona level of hierarchy to parameter display hopefully making more discoverable to the user.

The proposed set of categories is: System, Developer, Advanced, Standard. From QGC side parameters which are mis-categorised or not have category specified will go into the Standard cat

[2018-01-03 20:09] mzahana commented on #8472
@zarathustr Can you please share some specific references on the theory part?

[2018-01-03 20:46] dagar commented on #8568
First and foremost I'd want to hide the parameters that a user would never manually set. Would this be System or something else? I'd argue some of these shouldn't even be sent to the ground (or stored as parameters to begin with), but that's another discussion.

**System (or another category)**
 - sensor calibration: most CAL_*
 - temperature compensation: TC_*
 - vehicle flight time
 - UUID
 - EK

[2018-01-03 20:48] sanderux commented on #8568
How about
- Basic
- Expert
- System

[2018-01-03 20:50] dagar commented on #8568
Possibly more of a QGC discussion, but perhaps any param that's already exposed on a friendly setup tab shouldn't be shown in the tree (or maybe those are what we consider Standard).

Between that and hiding all the advanced/system params, the remaining set of user intended parameters that aren't already accessible might be pretty manageable?

[2018-01-03 21:47] hamishwillee commented on #8568
Yes! They should be invisible by default (require some sort of explicit action that always default off to view).

I don't think so. Anyone who wants to work with parameters expects them all to be there - frustrating if they aren't and then you have to work out what screen they are really on. I'd be happy for there to be a filter to hide these though.

I don't have a strong feeling about what the c

[2018-01-03 22:49] DonLakeFlyer commented on #8568
I'll let you guys duke it out over naming. I don't think there should be a hidden from the user set. That just turns in a pain in the ass. Because then you need a way to unhide it and so forth. All categories and parameters should be visible.

[2018-01-03 23:35] hamishwillee commented on #8568
If not invisible, then perhaps colour coded (greyed) to indicate that they are not really intended for use?

[2018-01-03 23:41] hamishwillee commented on #8316
@bresch Are you happy to create a sketch for the FW position controller - ideally direct on draw.io, but if you want to sketch it out on paper and I can do first iteration on draw.io that would be OK too.

Are there any other controllers that need to be documented? I think it is just the attitude control for MC, FW and VTOL?

[2018-01-04 00:27] dagar commented on #8568
Alright, then at the risk of derailing the metadata conversation I think it's time to talk about acceptable param system usage. Many of these "system" params that I wanted to hide should not be user editable in the first place. Additionally the system auto updating some of them every flight breaks things like the param HASH_CHECK which can skip the full param sync on first connect.

[2018-01-04 01:52] dagar opened #8570 "parameter system and storing vehicle generated data"
The parameter system is primarily used for user configuration of the vehicle. It's also used as storage for several onboard systems like calculated sensor calibration values, storing vehicle flight time, auto incrementing UUID, storing EKF learned bias. These parameters are treated the same as any other parameter, including syncing to the ground, and user editable.

**I believe we need a separate

[2018-01-04 02:03] dagar commented on #8568
Other than the generated parameters (https://github.com/PX4/Firmware/issues/8570) and a handful of obvious examples (circuit breakers) the last time we discussed this I actually found it hard to think of a good line between basic and expert. What's everyone else thinking?

One extreme to think about is if a user is handed a completely configured system. What parameters do they need to be able to e

[2018-01-04 02:13] dagar commented on #8538
Can you open as a pull request against the main PX4 Firmware repository? https://github.com/PX4/Firmware

[2018-01-04 02:15] dagar commented on #8457
You could hack it out here. https://github.com/PX4/Firmware/blob/master/src/modules/commander/PreflightCheck.cpp#L646

[2018-01-04 02:49] xdwgood opened #8572 "The geo library function calculates the error"
**Bug Report**
Hi all
I use this function to calculate the distance between the two GPS points, like this ： get_distance_to_next_waypoint(31.19055748, 120.93183899,30.6900000, 117.19166565);
And get distance is 361006.37500000
But I use the Google map to measure the distance between the two points about 361006**0**.37500000
Why the computational result of using this function is missing a "0"?
@pri

[2018-01-04 06:07] xdwgood commented on #8572
This can occur at long distance calculations, and the results are correct when the two GPS points are closer to each other

[2018-01-04 06:46] #8572 closed

[2018-01-04 07:06] ajaybhatt003 opened #8574 "Understanding ekf2 code"
Hello,
I am a graduate student. I have just started working on ekf2 (https://github.com/PX4/Firmware/blob/master/src/modules/ekf2/ekf2_main.cpp) code of px4 firmware. Kindly can you help me to understand it.
I am currently referring to this site http://ardupilot.org/dev/docs/ekf2-estimation-system.html but not sure that the same code is written in cpp as ekf2 for px4 firmware.
Please reply when yo

[2018-01-04 07:19] LorenzMeier commented on #8574
You will want to have a look at Matlab here: https://github.com/PX4/ecl/tree/master/matlab

[2018-01-04 07:19] #8574 closed

[2018-01-04 07:19] hamishwillee commented on #8574
IN addition, EKF Documentation is in the PX4 Development Guide [here](https://dev.px4.io/en/tutorials/tuning_the_ecl_ekf.html).

[2018-01-04 07:24] mzahana commented on #8520
@priseborough understood. Thanks.

[2018-01-04 07:25] superware commented on #5122
@dagar :)

[2018-01-04 08:38] ajaybhatt003 commented on #8574
Thank you for prompt reply to both of you.
@hamishwillee please can you explain EKF documentation you mean  http://ardupilot.org/dev/docs/ekf2-estimation-system.html .

@LorenzMeier can you please point out to me any particular code to see or can you pass any documentation that can help me to understand the structure of code of ekf2 in px4 firmware.

Thanks

[2018-01-04 08:47] LorenzMeier commented on #8574
No, the documentation is here: https://dev.px4.io/en/tutorials/tuning_the_ecl_ekf.html

[2018-01-04 09:00] ajaybhatt003 commented on #8574
Thank you @LorenzMeier for replying.
Kindly can you provide me information that the ekf_replay codes within https://github.com/PX4/ecl/tree/master/matlab after addition makes the entire ekf2 code?
Thanks

[2018-01-04 09:02] LorenzMeier commented on #8574
This is an issue tracker. Please feel free to ask questions and discussions on http://discuss.px4.io. Thanks!

[2018-01-04 09:24] ndepal commented on #8541
The reason the parameter is there now is that we not all users will want the vehicle to turn towards the ROI.  If you have a gimbal that can yaw you may want to the vehicle to face forward and only he camera to turn.

The `MIS_YAWMODE` "heading towards ROI" could be thought of a "Gimbal has no yawing capability" setting.

[2018-01-04 10:37] LorenzMeier commented on #8562
@bkueng Could you please investigate?

[2018-01-04 10:37] LorenzMeier commented on #8544
Solved: https://github.com/PX4/Bootloader/commit/0bebcc36d13180ef172ee4665bc54df39a99a5fb

[2018-01-04 10:37] #8544 closed

[2018-01-04 10:37] LorenzMeier commented on #8544
We will notify known manufacturers (Dronecode members)

[2018-01-04 10:52] MaEtUgR commented on #8357
@hamishwillee Sorry for absence delay. I just updated and want to get this pr merged such that master compiles in the Cygwin toolchain (note that there is a ccache problem when using my last upload of the toolchain which can be temporarily resolved by removing ccache from the path). Then I do a toolchain release with documentation (including how to reproduce all of it) and we can build on top of t

[2018-01-04 13:02] jlecoeur commented on #8570
The backup could be made via the normal parameters + a binary blob for internal data. It does not have to be all parameters.

[2018-01-04 13:11] ChristophTobler commented on #8518
@EliaTarasov Please reopen and add instructions if this is still an issue.

[2018-01-04 13:11] #8518 closed

[2018-01-04 13:20] ChristophTobler opened #8578 "Support battery status without adc"
Currently there is no obvious way of supporting a power module that does not use adc https://github.com/ChristophTobler/Firmware/blob/master/src/modules/sensors/sensors.cpp#L414 (see e.g. https://github.com/PX4/Firmware/pull/8576).

What would be a good way of supporting both and not too much code copying?

@dagar ideas?

[2018-01-04 13:22] belaidH commented on #8538
yes, I did it.  https://github.com/PX4/Firmware/pull/8579

[2018-01-04 14:01] urlu75 commented on #8523
The board is detected as a v2, I tried v2 and v3 FW.

Bellow is the device list with px4fmu-v3_default.px4 1.6.5
<img width="1316" alt="px4 1 6 5" src="https://user-images.githubusercontent.com/19515081/34566674-aecc34c0-f15f-11e7-9f16-74c58097c3e5.png">

with px4fmu-v3_default.px4 1.7.2
<img width="1317" alt="px4 1 7 2" src="https://user-images.githubusercontent.com/19515081/34566685-bd7e6204-f15

[2018-01-04 14:03] bgat opened #8580 "getchar() doesn't block on Linux"
**Bug Report**

PX4's command prompt input is driven by getchar(), which doesn't seem to be blocking properly on Linux. There are two unexpected side-effects:

* the EOF returned gets echoed to the screen, which is invisible to interactive users but shouts loudly at systemd (pull request coming shortly)
* the scheduler thinks the system is CPU-bound

Sticking a poll() in front of the getchar() in

[2018-01-04 14:52] potaito commented on #8182
@LanceFung do you know for a fact, that this could be done with the PWM output? Is this how Betaflight and the like implemented it?

As far as I know, PWM outputs usually use GPIO pins, right? Even with the slowest DSHOT150 the required data rate would be 153600 bits / second. This means that in the worst case the GPIOs would have to be switched from high to low or vice versa within 1e6 / 153600 =

[2018-01-04 15:47] LorenzMeier commented on #8182
The PX4 drivers can operate at faster speeds than required for these protocols and do so in hardware, not requiring GPIOs.

[2018-01-04 16:03] ChristophTobler commented on #8578
Ok. Then I guess I can leave https://github.com/PX4/Firmware/pull/8576 as is (short term).

[2018-01-04 16:44] dr0i commented on #4975
Don't use the `openjdk version` but the one provided by oracle. See e.g. https://tecadmin.net/install-oracle-java-8-ubuntu-via-ppa/ how to do this.

[2018-01-04 17:10] MaEtUgR commented on #8182
@potaito PPM and also the faster analog protocols like oneshot can be done with PWM hardware as alternative to software GPIO bit banging...

I digged a bit deeper in how DSHOT is done and actually they use DMA channels and timers to directly control a GPIO pin without the CPU load. Here is a collection of everything I found:

https://blck.mn/2016/11/dshot-the-new-kid-on-the-block/

GPIO interface,

[2018-01-04 20:09] DonLakeFlyer commented on #8541
Doesn't the firmware know if the gimbal has yaw capability somewhere else based om the actual gimbal setup not this seemingly random parameter.

[2018-01-04 20:12] ndepal commented on #8541
I don't know. If it does, I agree that that would be more elegant.

[2018-01-04 20:13] DonLakeFlyer commented on #8541
Here is how I think it should work:
* Whether the gimbal supports roll/pitch/yaw should be unrelated to the MIS_YAWMODE parameter
* The MIS_YAWMODE parameter simply sets the default flight state for a mission
* If you get an ROI command the vehicle responds appropriately by either yawing the vehicle if the gimbal does not support yaw. Or adjusting the gimbal if the gimbal supports it.
* When a mis

[2018-01-04 20:16] DonLakeFlyer commented on #8541
More:
* If the vehicle is tracking and ROI and the mission specifies another gimbal angle using DO_MOUNT_CONTROL then the vehicle falls out of ROI mode

[2018-01-04 20:28] ndepal commented on #8541
These changes should be relatively easy to incorporate. The main change would be to take the "Heading towards ROI" mode from `MIS_YAWMODE` and create a new boolean parameter for that, i.e. a "Gimbal has yawing capability" parameter. Probably in the `vmount` module?

[2018-01-04 21:03] santiago3dr opened #8585 "Intel Aero not retaining parameters after reboot"
When flashing master 430cdad calibrations on all sensors and radio are required (1).
Successfully ran Gyro calibration (2).
Once calibrating and rebooting, all calibration values are lost (3).
Reverting to yesterdays master 757d905 all calibration values are restored WITHOUT having to re-calibrate (4).
![1](https://user-images.githubusercontent.com/13203106/34584137-6aec47f0-f14f-11e7-98cd-58fb6a9

[2018-01-04 21:05] dagar commented on #8585
Could you go to the param tree and do a full refresh? Now try to change a random parameter and save. After a reboot is that parameter preserved?

[2018-01-04 21:09] LorenzMeier commented on #8568
WIP for that here: https://github.com/PX4/Firmware/pull/8577

[2018-01-04 21:15] santiago3dr commented on #8585
Flashed 430cdad and went to parameter tree, hit refresh, changed NAV_MC_ALT_RAD from 0.8 to 1.1
Did a power cycle on the vehicle and parameter reverted to default 0.8

[2018-01-04 21:18] dagar commented on #8585
Thanks Santiago. So it seems I broke flash based parameter writing (intel aero only I believe), but it's still able to read successfully. I suspect this hack is the culprit - https://github.com/PX4/Firmware/commit/430cdada602ee5037f7b8f5c43b615e181400351

[2018-01-04 21:27] ASM3 commented on #8525
The ADIS16448 has an internal filter and a averaging decimation filter which is set to 100 Hz (application specific). Thus, the IMU delivers data at 100Hz and the driver is set accordingly. If you need another sampling rate or filter configuration just set the driver according to your application.
The integral reset is set according to the maximal possible sampling frequency of the ADIS16448 which

[2018-01-04 21:29] dagar commented on #8585
https://logs.px4.io/plot_app?log=5a8b3640-a795-4386-ae2f-ec5c43fa2264

![image](https://user-images.githubusercontent.com/84712/34585093-5ef139e8-f16c-11e7-839a-14082a8fe0e7.png)

[2018-01-04 21:41] LorenzMeier commented on #8585
Looks like the wrong file descriptor since Intel Aero does not have an SD. Board detection issue?

[2018-01-04 21:46] FaboNo commented on #8453
@ChristophTobler thank you, actually libprotobuf-dev was missing!

[2018-01-04 21:48] #8453 closed

[2018-01-04 21:51] tops4u commented on #8269
Checked and looks ok for me. Thanks

[2018-01-04 21:51] #8269 closed

[2018-01-04 21:57] tops4u commented on #7989
As there have been several changes in Commander and I also changed the FC Hardware, I'll open a new Issue if this Problem reoccurs.

[2018-01-04 21:57] #7989 closed

[2018-01-04 21:59] hamishwillee commented on #8357
No worries! I agree with @dagar that we need this in CI first before we do documentation. I suspect it will break over time, and we will harden it.

[2018-01-04 22:47] dagar commented on #8585
I think a lot of the error messages aren't quite right for the Aero. This should be fixed in https://github.com/PX4/Firmware/pull/8586

[2018-01-05 10:37] ndepal opened #8590 "Gazebo build broken"
`make posix_sitl_default gazebo_iris`  is broken on master:

[code]

A bisect indicates https://github.com/PX4/Firmware/commit/e3f5f8e475b550f1ac1779c1d87d33030fc86609 breaks it.

[2018-01-05 10:48] ChristophTobler opened #8592 "Unfiltered IMU data for apps outside Firmware"
There's currently no proper solution to get unfiltered IMU data outside the Firmware.
https://github.com/PX4/Firmware/pull/8591 is an example hack for the Snapdragon Flight.

Ideas:
- Create new message for unfiltered data (using floats)
- Drivers publish unfiltered data and the consumer have to filter according their needs

[2018-01-05 11:12] taileron commented on #8312
How can I do a git clone https://github.com/PX4/Firmware.git to bring an 1.6.5 version to build an old code for further flight improvement of my tilt mixer ?

[2018-01-05 11:33] taileron commented on #8098
... works great but the baro seems to show a more reliable temperature (listener sensor_baro) tested with an infrared thermometer pointed to the baro

[2018-01-05 11:45] bresch commented on #8312
Did you try the latest v1.7 release? Is it still broken?
If you want to checkout an older release you can `git tag` to list the tags and then `git checkout tags/<tag_name>` or even better, `git checkout tags/<tag_name> -b <branch_name>` to create a new branch starting at this tag.
For example: `git checkout tags/v1.5.0 -b dev-tilt-mixer`

[2018-01-05 12:03] TSC21 commented on #8590
When you build `sitl_gazebo` have you checked where is it getting the Mavlink headers? Currently the FindMavlink.cmake looks for the headers in the system files (it's how `find_path` works but we can tweak other way). So if your `ros-<$ROS_DISTRO>-mavlink` is not updated, you may get the above error. I don't get the above issue building master on my machine and CI is currently passing on master.

[2018-01-05 12:05] TSC21 commented on #8590
I will update `find_path()` on the `FindMavlink.cmake` so he finds the packages in a different order (it doesn't make a difference currently the order they are disposed).

[2018-01-05 12:08] TSC21 commented on #8307
@PujieXin what's the status?

[2018-01-05 13:24] ndepal commented on #8590
Thanks for having a look. Indeed it seems like it finds a mavlink version in one of my ROS workspaces.

I definitely think it should use the mavlink version already available in Firmware.

[2018-01-05 13:30] TSC21 commented on #8590
The way it finds is more generic now than it was before, allowing for using the package without depending on PX4. Just have to change what it searches and fins first.

[2018-01-05 13:46] ChristophTobler commented on #8590
Same here :+1: I also think it would make sense to look for the version available in the Firmware first.

[2018-01-05 13:51] TSC21 commented on #8590
That will be done.

[2018-01-05 15:43] ndepal commented on #8541
While working on this, I've been struggling to get the [gimbal simulation](https://dev.px4.io/en/advanced/gimbal_control.html) to do what I expect.

When I upload a mission with an ROI, the gimbal turns as the vehicle flies, but it seems to yaw in some arbitrary direction, rather than towards the ROI. @DonLakeFlyer does this work well for you?

[2018-01-05 18:14] ndepal commented on #8541
@DonLakeFlyer I've made a PR with the changes you proposed. Can you test it out?

I created a new parameter in `vmount` that specifies the gimbal's yaw capabilities.
I don't really like this much better. It's also not very intuitive because it only affects ROI commands in missions, and not other commands to `vmount` such as `MAV_CMD_DO_MOUNT_CONTROL`.

[2018-01-05 18:38] DonLakeFlyer commented on #8541
FYI: I haven't gotten the gimbal to work in gazebo completely correct yet. Lorenz put in a fix a week back which makes it better but last I tested it still wasn't quite right. Haven't had time to look again. Let me try it again today. Then I'll ping your guys with my results.

[2018-01-05 19:03] DonLakeFlyer opened #8599 "Gazebo Gimbal: Working incorrectly"
* Load the attached plan in Gazebo SITL gazebo_typhoon_h480
* The Plan file should alternate gimbal yaw from 90 to -90 at each waypoint
* Start Mission
* You'll see that as the vehicle goes up the gimbal is pointing forward which is correct
* But when the vehicle turns towards the takeoff waypoint the gimbal is now at some random angle
* As it transitions through the first waypoint the gimbal does

[2018-01-05 19:04] DonLakeFlyer commented on #8599
@LorenzMeier @ndepal Gazebo gimbal testing results

[2018-01-05 19:12] dagar commented on #8590
Resolved in https://github.com/PX4/Firmware/pull/8597.

[2018-01-05 19:12] #8590 closed

[2018-01-05 19:47] Changliu52 opened #8600 "Sudden throttle drops in altitude mode (release 1.7.0, 1.7.2)"
Hi all,

I have recently setup a generic X airframe, with all default settings.
In altitude mode, without stick input, I experienced occasional sudden throttle drops.

The setup envirenments:
Pixhawk2
firmware 1.7.2 or 1.7.0
generic X airframe
default parameters.

As the plot shown below, it seems sudden vertical acceleration was commanded by the velocity controller for no reason, since the local

[2018-01-05 19:53] dagar commented on #8600
Log uploaded to flight review. https://logs.px4.io/plot_app?log=8278c297-5342-496a-a6c8-3536308e6a49

[2018-01-05 21:08] taileron commented on #8312
current 1.7.3 master is still broken, but build from old tag 1.6.5 branch works perfect. Is there an easy way to include commits in between tag 1.6.5 and 1.7.0 to determine a later status at which the mixer still worked?

[2018-01-05 21:44] dagar commented on #8585
Surprisingly this doesn't seem to be related to the tinybson change.

1. Test build 1 (commit right before the bson encoder buffer)
   - https://github.com/PX4/Firmware/commit/08443c0
   - https://github.com/PX4/Firmware/compare/08443c0...master
2. Test build 2 (commit right before all recent param changes)
   - https://github.com/PX4/Firmware/commit/c8590e0
   - https://github.com/PX4/Firmware/co

[2018-01-05 22:13] tops4u opened #8601 "mRo X-2.1: Main PWM Glitch"
**Bug Report**

When performing a Reset Commanded vom QGC or also on other occasions it may happen, that one Motor may start spinning for a split seconds and immediately stop - causing the Propeller to do about ¼ turn maximum. I have observed this a several occasions also today when I commanded a Mag Calibration via QGC (Radio Link). This also happened when IO Safety was enabled and Safety Switch

[2018-01-05 22:39] dagar commented on #8585
The perf counters seem to be the problem on aero.

[2018-01-05 22:44] dagar commented on #8601
Exactly which hardware?

@davids5 FYI

[2018-01-05 22:44] tops4u opened #8602 "mRO X2.1: RC Bus Issue when running on USB Power"
**Bug Report**

When running only on USB Power a Disconnected RC Receiver or lost TX Signal causes the RC Lost Logic to go mad and also various Values to be interpreted into a non existing Signal.

![rcproblem](https://user-images.githubusercontent.com/6877067/34631569-40a43462-f271-11e7-8ae6-d3f205a200ed.jpg)

Current Configuration : mRo-X2.1 with Futaba T10J and Futaba R3008SB (crosschecked with

[2018-01-05 22:45] tops4u commented on #8601
Sorry - this is mRo X-2.1 with latest stable (1.7.2).

[2018-01-05 22:53] santiago3dr opened #8603 "Eagle: Auto and RTL non responsive"
Running master c0c0666
Auto and RTL do not respond despite having good gps lock
Flight in position mode without issues
https://logs.px4.io/plot_app?log=474076d1-969e-41fd-bcf7-eaa0489c3038
https://logs.px4.io/plot_app?log=f9593388-cbae-48b9-a55d-4884dd162644

Logs not showing error messages

[2018-01-06 02:20] dagar commented on #8556
Hitting various intermittent failures in the mission tests as well.
http://ci.px4.io:8080/blue/organizations/jenkins/Firmware/detail/PR-8605/1/pipeline

Overall failure rate is low, but we should definitely gets these stable.

@TSC21 any help would be greatly appreciated.

[2018-01-06 02:32] dagar commented on #8603
Can you expand on what you mean by auto and RTL not responding?

These baro spikes are also a bit concerning, but not your main issue.
![image](https://user-images.githubusercontent.com/84712/34635585-cec8e074-f25f-11e7-8adb-92c373c665c8.png)

[2018-01-06 03:17] dagar commented on #8600
It's coming from the multicopter position controller (not manual input), I'm just not sure where yet.

![image](https://user-images.githubusercontent.com/84712/34635987-d930e75e-f265-11e7-82b0-44de51a8099c.png)

https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/mc_pos_control_main.cpp#L2858-L2866

[2018-01-06 03:21] dagar commented on #8600
The land detector strikes again.

![image](https://user-images.githubusercontent.com/84712/34636043-b0898422-f266-11e7-8550-aaf641585571.png)

[2018-01-06 07:50] KatelynLiu opened #8607 "Advertise a topic"
**The Communication with QgroundControl will lost at once advertise a topic**

I add a module named "xsens" in "src/drivers", which is a driver of a external IMU. And I run the code already, it worked well. When I add the "advertise" lines, the program can be compiled. However when I run the program by using QgroundControl, the commuication lost will show up. I wonder why and how to solve this pro

[2018-01-06 08:25] lowjunen opened #8608 "cmake for px4fmu-v4_default does not compile new files in init.d and mixer"
I noticed that whenever I compile and upload via <make px4fmu-v4_default upload>, the build file does not get updated with whatever new init.d and mixer files I added. I found a temporary fix by updating the px4_nuttx_configure command under cmake/configs/nuttx_px4fmu-v4_default.cmake to

`px4_nuttx_configure(HWCLASS m4 CONFIG nsh ROMFS y ROMFSROOT px4fmu_common IO)`

Is this a proper fix or shoul

[2018-01-06 09:52] LorenzMeier commented on #8602
We do not have similar reports with other boards. @pkocmoud Could you send me the schematic via email and also run some tests on your end to see if you can reproduce this?

[2018-01-06 09:53] LorenzMeier opened #8609 "Apply level calibration also to external mag"
We need to ensure that the level calibration is applied to all sensors, as it is really a rigid body transformation for the entire vehicle and not just the autopilot.

[2018-01-06 09:56] LorenzMeier commented on #8600
Let's see if this is a setup issue. If it is, we might need a setup screen or some boundary checks. The land detector is a simplistic vehicle model and not setting that up correctly is asking for trouble.

[2018-01-06 10:36] LorenzMeier commented on #6106
@mzahana Could you update us on this? Thanks!

[2018-01-06 10:37] LorenzMeier commented on #6174
This is in fact addressed in v1.7, so closing this.

[2018-01-06 10:37] #6174 closed

[2018-01-06 10:56] LorenzMeier commented on #8608
Ok, I can reproduce this. File changes do re-generate the ROMFS, file additions don't.

[2018-01-06 11:05] LorenzMeier commented on #8608
And after analysing this we could only "fix" it by requiring a re-generation of the airframes on every build, which would slow things down. I've instead opted to document this, as authors adding airframes need anyway need to know what they are doing:

https://dev.px4.io/en/airframes/adding_a_new_frame.html#configuration-file-overview

Thanks for reporting this, much appreciated! I'm sure you've sa

[2018-01-06 11:05] #8608 closed

[2018-01-06 12:17] tops4u commented on #8602
Schematics are here https://github.com/mRoboticsIO/Hardware/blob/master/X2.1/Docs/x21_V2_schematic.pdf

SIPI Signal passes a 74LVC2G240 IC before going to the FMU.

If I read the Datasheet correctly the Schmitt Trigger will go High @2.0V and Low @0.8V when powered from 2.7-3.6V. So even when the RC Receiver will get only around 4.4V (indicated by Telemetry) it should still work. I can also perform

[2018-01-06 14:48] mzahana commented on #6106
Things seem fine, at least for indoor test with mocap using EKF2.

Here is a log,
https://logs.px4.io/plot_app?log=60be36d4-ed01-434d-894a-7687eadfaced

[2018-01-06 15:03] LorenzMeier commented on #6106
Given this proof point I'm closing this. @hamishwillee Could you please check that our documentation for MOCAP / Indoors points people to EKF2 now?

[2018-01-06 15:03] #6106 closed

[2018-01-06 21:28] tops4u commented on #8602
Checked with another mRo-X2.1 Unit, where this problem did not happen. This may be a HW Issue, I'll check with the Supplier.

[2018-01-06 21:28] #8602 closed

[2018-01-06 21:33] tops4u commented on #8601
Checked this today and by chance got it on the right channel just after rebooting the Board. (Sorry for the Image Quality, this older Scope stores on vintage Floppy Disks only). As you can see the PWM commands 1600us just after booting. The Propeller did about 1 turn.

![img_2023](https://user-images.githubusercontent.com/6877067/34644155-7756e9f8-f331-11e7-848f-c831b54341a9.jpg)

[2018-01-06 22:45] tops4u opened #8613 "Flightmode not updated after Boot"
**Bug Report**

After a Reboot the Flightmode is not correctly transfered to QGC. It will show Manual. Current Stable 1.7.2. I belive Custom Mode reflects Flight Mode Selection?

Just after Reboot (while RC FM-Switch being in Position Stabilized):

![fm_manual_after_boot](https://user-images.githubusercontent.com/6877067/34644687-96e5115a-f33b-11e7-9338-6d731a746ca5.png)

After switching from Stab

[2018-01-06 22:47] dagar commented on #8613
Do you have a corresponding log to verify? You could also take a look on the command line. `commander status`

[2018-01-06 22:49] tops4u commented on #8601
After many, many, many Reboots an trying to get the Thingy on the Scope I succeded. Noticed by the way that my IO Processor crashed after some 30 Reboots and did not restart - also after a Reboot. Only Powercycling helped.

Here is a Foto taken from the Scope (sorry for taking a Foto, this is a vintage LeCroy, the last device that has a Floppy Drive in our House).

![img_2025](https://user-images.

[2018-01-06 22:51] tops4u commented on #8613
TLog? Or what log file would you require?

[2018-01-06 23:53] tops4u commented on #8613
Duplicate to #8268

[2018-01-06 23:54] tops4u commented on #8268
Closing as new Issue was opened for this Problem with current Firmware

[2018-01-06 23:54] #8268 closed

[2018-01-07 07:12] mzahana commented on #6106
For documentation purposes, here are the steps I followed.
* While defining the rigid body in the mocap software, I aligned forward the direction of the vehicle with the x-axis of the mocap system (OptiTrack)
* in the mocap software, Motive in my case, I set the software to send pose data with Z-axis up
* Used EKF2 estimator
* `EKF2_AID_MASK` set to enable fusion of vision pose and yaw, and to dea

[2018-01-07 09:25] fboriero commented on #6106
Great!
Thanks a lot!

Fabrizio

On 01/07/2018 08:12 AM, Mohamed Abdelkader Zahana wrote:

[2018-01-07 14:57] lamping7 commented on #8556
This should help figure out what is going on -- https://github.com/PX4/Firmware/pull/8616

[2018-01-07 16:05] Murcamil commented on #8600
The problem that I and Changliu52 had has been solved, apparently (land detector not triggered for the past 4 full flights). Changes are:
1. Added the drones payload (about 1kg) - drone weights around 4kg
2. Updated Hover throttle and Manual minimum throttle for new weight as showed below (increased both)
3. Increased P on all axis
Parameters that are not default but I think are unrelated to the i

[2018-01-07 16:06] LorenzMeier commented on #8600
Thanks, that's helpful feedback! The land speed of 0.3 m/s is problematic in itself.

[2018-01-07 16:18] Murcamil commented on #8600
I am a first time user of the PX4, switching from 5 years of ArduCopter where this parameter was not problematic and only limited at 0.2 m/s if I remember correctly. I was prompted that 0.3 m/s was below the minimum but continued in thinking that I know what I am doing :smiley:

[2018-01-07 16:44] LorenzMeier commented on #8600
The problem is that you left LNDMC_Z_VEL_MAX at its default of 0.5 m/s, which meant that your 0.3 m/s land speed were detected as "on the ground". I think I will add a pre-flight check to make sure these can't be set incorrectly.

[2018-01-07 16:56] LorenzMeier commented on #8600
Here is the detection PR which will other users having the same issue warn about the parameter configuration issue: https://github.com/PX4/Firmware/pull/8618

[2018-01-07 16:56] #8600 closed

[2018-01-07 20:17] MaEtUgR commented on #8357
Apparently... It happened faster than I thought: https://github.com/PX4/Firmware/commit/1f63d85869b3495f3f66a3300b365c57469f1020 breaks the nuttx cygwin build again. I didn't look into why yet however I had a look at how to set up Appveyor CI for the PX4 repo. It natively supports cygwin64, I just have to come up with a script setting up the necessary environment for the build. It seems that the b

[2018-01-07 20:24] dagar commented on #8357
That's mostly my fault. Let me know if you have some time this week and we can sync up to fix the Firmware build immediately, then look at Appveyor and possibly automating or sharing the PX4 Windows Toolchain update.

[2018-01-07 21:22] priseborough commented on #8520
@mzahana I have checked through the code and in the absence of GPS aiding (make sure you disable GPS fusion using EKF2_AID_MASK) it should reset the position to the initial mocap position when starting.

[2018-01-07 21:45] dagar opened #8619 "CI Mission Test Ideas"
First need a mechanism to describe full test
 - vehicle
 - parameters
 - starting location (lat, lon, alt)
 - mission file
 - extras like weather?
 - events that trigger failsafes (see below)

TODO
 - MC full mission coverage
 - FW full mission coverage (@antiheavy)
   - takeoff, land, loiter needed
 - VTOL all types
   - standard, tailsitter, tiltrotor (no model yet)
 - Test failsafes
   - low ba

[2018-01-07 21:57] hamishwillee commented on #8619
I am interested in this, because I've had trouble getting clear information on how to set up various test conditions. You do the work in docker, and docs will benefit :-)

For example, sensor failures - add compass to that list. I think adding response to wind makes a lot of sense though possible as a separate set of tests since I'm not sure how useful it would be unless somewhat randomised.

How

[2018-01-07 22:40] tops4u opened #8621 "MinorBug: Preflight Check Spaming after Sensor Calibration"
**Bug Report**

After having performed a Magnetometer Calibration, Preflight Check complained about bad GPS Accuracy every 1.xy secs and spaming the Messages.

![preflightcheckspam](https://user-images.githubusercontent.com/6877067/34655028-2ce024e2-f404-11e7-8777-f66a065753d9.png)

[2018-01-07 22:52] tops4u commented on #8613
Checked with listener commander_state and listener vehicle_status just after Boot Main State is 0 Nav State 0. After toggling the FM Switch on the TX Main State goes to 8, Nav State to 15.

[2018-01-07 22:59] dagar commented on #8621
Should be fixed here. https://github.com/PX4/Firmware/pull/8622
If you'd like to test please follow the Jenkins build link under build results and then click artifacts for the corresponding binary.

[2018-01-07 23:01] tops4u commented on #8621
Oh, this was Quick. 18 Minutes from Report to Fix 🥇

[2018-01-07 23:10] dagar commented on #8613
Reading the original description here again I'm now guessing the original switch to position was ignored (likely no valid position available).

I'm wondering if there's something we could do to better handle this case. Perhaps the RC state at bootup should be respected as long as a mode change hasn't been commanded (RC or Mavlink), or any attempted vehicle arming. Either the disarmed system could

[2018-01-07 23:56] dagar commented on #8556
ROS vtol mission old 2 failure with logs.
http://ci.px4.io:8080/blue/organizations/jenkins/Firmware/detail/PR-8622/2/pipeline

[2018-01-08 04:45] dagar commented on #5122
Are we in agreement then? DO_CHANGE_SPEED is preserved for the duration of the mission?

[2018-01-08 04:55] hamishwillee commented on #5122
@dagar Depends on whether you're saying it doesn't change even on mode change or not.

[2018-01-08 05:06] yangang123 commented on #8525
@ASM3. thank you for your reply.

[2018-01-08 05:18] dagar commented on #8525
I think we can close this now.

[2018-01-08 05:18] #8525 closed

[2018-01-08 05:24] hamdanAli commented on #7937
i have the same problem, any solution guys?

[2018-01-08 06:59] caomuqing opened #8624 "Support for ICM-20948 as external I2C Compass"
Feature Request

The HERE GNSS module from Hex Technology comes with ICM20948 as an external compass, replacing the already EOL HMC5983 compass. Can we request adding support for that?
Thanks!

[2018-01-08 07:26] LorenzMeier commented on #8624
Sure! Not hard, but we don't have hardware with any of our core developers right now.

[2018-01-08 07:30] caomuqing commented on #8624
Thanks Lorenz, I can ask to send samples to developers. May I ask who we should send to, and the shipping address?

[2018-01-08 07:33] LorenzMeier commented on #8624
Can you send me an email to lorenz@px4.io? Thanks!

[2018-01-08 07:37] LorenzMeier opened #8625 "Take a pass at the tuning dialog and make it easier to use and more prominent"
The user experience dramatically depends on a few core settings to be correct, including the hover throttle. We should take a pass at the QGC dialog and make sure that it captures the important aspects.

<img width="807" alt="screen shot 2018-01-08 at 08 35 50" src="https://user-images.githubusercontent.com/1208119/34662198-1feaa94c-f44f-11e7-9d1d-d10084da3471.png">

[2018-01-08 07:44] LorenzMeier commented on #8625
@MaEtUgR Would be great to have your input here. The sliders are controlled by meta data in PX4 if no extra min/max are provided, so adjusting the min / max values in params should change them.

https://github.com/mavlink/qgroundcontrol/blob/master/src/AutoPilotPlugins/PX4/PX4TuningComponentCopter.qml

The idea behind the roll / pitch sliders is to give users a tiny bit of wiggle room without need

[2018-01-08 07:55] sanderux commented on #8625
Couldnt we deduce hover throttle?

[2018-01-08 07:56] LorenzMeier commented on #8625
Not in a safe way. It will take many months to devise any sort of automatic approach that is reliable. If you get this wrong you make the drone completely ballistic and the user has no idea what is going on.

[2018-01-08 07:58] sanderux commented on #8625
not even when an actual hover is detected?
(vz = 0)

[2018-01-08 08:02] dagar commented on #8625
- abandoned QGC tuning widget effort: https://github.com/mavlink/qgroundcontrol/pull/5070
 - my own wishlist: https://github.com/mavlink/qgroundcontrol/issues/2878#issuecomment-188401859

[2018-01-08 08:03] LorenzMeier commented on #8625
@sanderux Let's not clutter this here with the discussion, but I'm not talking about the average setup. Think of a racer that has vibration issues and where the auto-tune slowly creeps away. It's these corner cases that are problematic.

[2018-01-08 08:07] #8621 closed

[2018-01-08 09:32] priseborough commented on #8098
For effect on sensor calibration it is the internal temperature, not the surface temperature as measured by an IR thermometer that is relevant. The internal temp will be hotter due to thermal resistance of the case and the difference depends the sensor type and also its mode of operation.

[2018-01-08 09:38] ndepal commented on #8599
Tested this on https://github.com/PX4/Firmware/pull/8620.

I don't see hat issue. The gimbal points forward until WP 2 is reached.

This is fixed by the PR:
https://github.com/PX4/Firmware/pull/8620/files#diff-357c573ea1368bd031da4870d1fbb1feR380

This appears to be a coordinate frame issue. PX4 is in NED and the roll/pitch/yaw values are simply copied from the mavlink msision item.
Can you confir

[2018-01-08 09:39] bkueng commented on #8567
It is expected but not necessarily intended. On replay, logger will create a new log on each (dis)arm. Can you test adding `-f` to https://github.com/PX4/Firmware/blob/master/posix-configs/SITL/init/ekf2/iris_replay#L4?

[2018-01-08 09:47] yousafbinfarrukh opened #8626 "px4flow not fused in lpe"
Hey all,

I'm working on a project, using pixhawk flight controller on an sk450 kit. I'm using px4fmu-v2_lpe build. But when I enable the fusion of optical flow, the values of local position remain close to zero. However, when I connect the px4flow with the computer and analyze the local position, they seem to be just right. I've not yet flown the bot for I don't want to risk it. I can switch to t

[2018-01-08 09:52] bkueng commented on #8580
Do you need the shell when starting with systemd? If not you can start px4 with the `-d` param: `./px4 -d px4.config`, which disables the shell.

[2018-01-08 10:31] MaEtUgR commented on #8625
Most importantly the **sliders need a scale** and it should be possible to **clearly see the exact value**. In my experience a lot of people in the community are focused on exact numbers after they tuned to be able to reproduce and compare (even in cases whaere it makes no sense at all).

I don't know what parameters roll and pitch sensitivity map to but the parameters I tune first "to get stable

[2018-01-08 10:54] superware commented on #5122
It makes sense to have a global target_speed, which can be changed at any mode.

When entering mission mode, target_speed should be kept aside, the mission might change it via DO_CHANGE_SPEED or MAV_CMD_DO_REPOSITION, and when exiting mission - the previously kept value should be the new target_speed.

[2018-01-08 11:00] Stifael commented on #8625
I think it is also important to clearly specify what effects the pitch/roll slider has. I fear that the user ends up using the slider to achieve a less aggressive flight performance instead of adjusting higher level parameters that control acceleration and brake, which are on by default.
I think the sliders make sense if slewrate and any other higher level tuning  are off by default. Once the lowe

[2018-01-08 13:48] mhkabir commented on #8626
Pleased use EKF2. It is the default navigation estimator we will support for optical flow navigation.

[2018-01-08 13:48] #8626 closed

[2018-01-08 14:19] taileron commented on #8098
... Baro is only 7° (26° absolute)  above it´s surface Mag 16° (35°) above surface (19°) directly measured few sec after start and with an additional 20mm cooling fan it remains stable after a few minutes.
Pixracer metal case and without fan the mag sensor rises very fast above 55°

[2018-01-08 16:08] bresch opened #8628 "[Multicopter mixer] Wrongly computed mixing tables"
I was checking the new [mixer generator](https://github.com/PX4/Firmware/blob/master/src/lib/mixer/geometries/tools/px_generate_mixers.py) script from @jlecoeur  in order to add my specific multicopter geometry and I found that it produces values that didn't match my mixing table generated by a custom script.
After checking the generator, I found that the table generated doesn't match the mixing s

[2018-01-08 16:23] MaEtUgR commented on #8628
Seems like a nice catch...
I personally vote for the "matrix-style mixer" solution 2 because I think it's a lot more common and probably more intuitive.

[2018-01-08 16:27] jlecoeur commented on #8628
I agree, let's fix mixer_multirotor.cpp to use
`out = roll_gain*roll + pitch_gain*pitch + yaw_gain*yaw + thrust_gain*thrust`

On what platform was the issue noticeable ?

[2018-01-08 16:38] MaEtUgR commented on #8592
The three cases for which I see raw a IMU raw data output requirement reoccuring:
- debugging (where maybe logging would be enough)
- research projects that deal/prototype with IMU data but want to run "offboard"
- existing algorithms which are designed to directly consume the raw data and cannot work with processed state estimates

VISLAM looks like it is the last case. So the feature even though

[2018-01-08 16:52] jlecoeur commented on #8628
It seems like the only affected platforms are those where gain_thrust is not the same for all motors. That is quad_deadcat, quad_vtail, hex_t and octa_cox_wide.

[2018-01-08 16:57] bresch commented on #8628
@jlecoeur It is also noticeable when the platform is not symmetric. My hex is like this:
[code]

[2018-01-08 17:05] jlecoeur commented on #8628
@bresch Can you send your geometry (toml) file?

[2018-01-08 17:26] bresch commented on #8628
@jlecoeur here it is:
[code]

[2018-01-08 17:55] jlecoeur commented on #8628
Yep, your two rear motors are more loaded:
[code]
If you can move the CG forward such that c == a + b, that should fix the coupling issue until a software fix is implemented.

[2018-01-08 18:24] bresch commented on #8628
@jlecoeur I could, but since it's a VTOL the CG is much more important for the FW static stability. I can still fly with my custom mixer script, nothing urgent for me; I just wanted to compare the values with the new script :)

[2018-01-08 19:11] LorenzMeier commented on #8625
Very good points. Let's see what we can do quickly. @Stifael Could you provide a list of parameters that we should incorporate?

[2018-01-08 19:50] MaEtUgR commented on #8357
@dagar Here is the newest version of the toolchain with the last commit on which the NuttX build is working checked out: https://drive.google.com/file/d/17yJFyC65v2gg3qaIYz4G6HxuSQWbAAlY/view?usp=sharing

[2018-01-08 21:48] priseborough commented on #8098
Individual sensors can be disabled via the CAL_..._EN parameters, the check level is appropriate for safe operation and @taileron  was able to resolve the problem by calibrating in the flight configuration.

Sensor comparison data can be logged by setting SDLOG_MODE = 1 and setting bit position 6 in SDLOG_PROFILE to 1

This issue can be closed, however I will raise a new one because our documentat

[2018-01-08 21:48] #8098 closed

[2018-01-08 21:59] tops4u opened #8632 "Possible to Arm wo GPS Lock"
**Bug Report**

I could Arm in the Basement with an attached GPS (which did not get a valid Lock) but all Parameters set to - what I assumed - Values preventing Arming when GPS Missing or no valid Lock is available.

CBRK_GPS_FAIL = 0
COM_ARM_WO_GPS = Disabled
EKF2_GPS_CHECK = 21
EKF2_REQ_EPH = 5.0m
EKF2_REQ_EPV = 8.0m
EKF2_REQ_NSATS = 6
EKF2_REQ_GDOP = 2.5

There was an Error Indication though :

[2018-01-08 22:19] tops4u commented on #8613
Checked on Vehicle after Arming (Spinning Rotors) the Flightmode is not updated. How is this supposed to work? Respectively I would assume that then I Power RC and Vehicle that the FlightController would take whatever Flightmode is selected on the RC System.

[2018-01-08 22:24] tops4u commented on #8632
This is not a duplicate to #8269 since here it is always possible to arm.

[2018-01-08 22:27] tops4u commented on #8602
Figured this (the Flight Problem) to be most probably a stupid user fault, as Pinout for the Power Connector has changed from AUAV-X2 to mRo-X2.1 and I did not pay close attention. There was a Pin Swap for GND and CurSens - wondering why this even worked at all!

This does still not explain the USB Issue.

[2018-01-08 22:32] hamishwillee commented on #5122
@superware Indeed, hence my request for clarification. I don't really mind what we do but I clearly need to document it.
At the moment my understanding is that if you are in a mission and you set the DO_CHANGE_SPEED this speed will be used through out the rest of the mission. So if you have a loiter mission item you'll circle at that speed in FW.
If however you were to change the mode to HOLD, and

[2018-01-09 02:30] Dream123456 commented on #8333
I also got into the same trouble. How to do?

[2018-01-09 04:42] dagar commented on #8333
Which platform? Can you try `make distclean`?

[2018-01-09 04:49] yousafbinfarrukh opened #8634 "PX4Flow with EKF2"
Hey all,

I'm trying to implement the ekf2 with px4flow but I cannot switch to the position hold. Moreover, when I see the lcoal position topics, the values are always zero. I've set the EKF2 aid mask to use optical flow, enabled the Lidar Lite and set primary height sensor as range finder. The Lidar is working right, I can see the ground clearance topic changing as I move the quadcopter with my h

[2018-01-09 08:24] dagar commented on #8556
http://ci.px4.io:8080/blue/organizations/jenkins/Firmware/detail/PR-8639/2/pipeline

[2018-01-09 08:40] dagar commented on #8556
http://ci.px4.io:8080/blue/organizations/jenkins/Firmware/detail/PR-8639/3/pipeline/726

[2018-01-09 09:56] superware commented on #5122
Well, I think it's right to always keep the inner-mission target_speed when resuming a mission. Sending an explicit DO_CHANGE_SPEED (via COMMAND_LONG etc) while in mission should set that inner-mission target_speed, obviously.

[2018-01-09 10:07] AlexisTM commented on #8634
Can you check EKF2_AID_..  and enable PX4Flow fusion?

[2018-01-09 10:19] yousafbinfarrukh commented on #8634
I've already done that

[2018-01-09 13:35] Stich123 commented on #7567
What about this issue?
I tried to recreate it but couldn't, did it resolve in the latest version? @dagar

[2018-01-09 15:58] bkueng commented on #8562
@hamishwillee I don't quite understand what is meant with "stand alone". The [dev-guide](https://dev.px4.io/en/tutorials/tutorial_hello_sky.html) does not mention that, and I don't see how uORB should be of any use if you only have your own single app.

[2018-01-09 21:12] hamishwillee commented on #8562
@bkueng I'm just the messenger here. I *think* the use case was that they built the app without having first build the whole of PX4. As you say, perhaps that is "not supported" so we can just close this.

Probably worth you looking at the discussion on slack and seeing if I have misinterpreted what is happening.

[2018-01-09 21:13] hamishwillee commented on #5122
Sounds good to me. As I said, I just want a clear description :-)

[2018-01-09 22:15] davids5 commented on #8601
@tops4u - I am not sure what I am looking at here. I would have expected one pulse. The issue in the past on the VMUv4 was fixed by changing the timing as done in this pr https://github.com/PX4/Firmware/commit/e86d9adb93189a3811a5ee38a2e4fadb7456423f adding board_on_reset as it is [here:](https://github.com/PX4/Firmware/blob/master/src/drivers/boards/px4fmu-v4/px4fmu_init.c#L166) I am not able to

[2018-01-09 22:27] svpcom opened #8643 "mRo pixhawk detect bad HW version after reboot"
After soft reboot (reboot command) mRo pixhawk (https://docs.px4.io/en/flight_controller/mro_pixhawk.html) changes HW version from 0x8 to 0xB which leads to L3GD20 and LSM303D detection fails. If I've manually override HW detection to 0x8 it became works. Other pixhawk (v2.4.6 from aliexpress) works well.

HW and SW info:
[code]

Boot logs:
[code]

[2018-01-09 22:39] tops4u commented on #8601
@davids5 This is the PWM Output of MAIN 1 just after issuing a Reboot via QGC. The PWM Signal will stay persistent throughout the Reboot. I think just after all is done FMU issues a Command to the PWM Outputs that may (or may not) lead to Pin being high for more than 1000us. The Problem will never occur during PowerUp, only when Rebooting the board. I have to recheck but AFAIR there was a short tu

[2018-01-09 22:46] taileron commented on #7634
There is no problem if the hardcoded limit would be increased to a higher value (e.g. 2500) cause the default limits are used with default mixers. If in the sd´s extras file gives a higher limit an adjusted mixer (with geometric reduced values according the increased travel) is necessary anyway without needing to retune pid settings. Having an absolute upper limit at 2150 servo travel is mostly as

[2018-01-10 02:26] davids5 commented on #8601
Oh. The previous issue was with the AUX pins. I missed that this is on the Mains. This sounds like a state transition from running to running after running. I wonder if this is related to a recent change in the mixer logic on the PX4IO. I will have to get this on my bench when I can.

[2018-01-10 03:14] lijieamd opened #8644 "Sensor module validator bug?"
**Bug Report**

I'm a little confused with some sensor module and ecl validation source code

https://github.com/PX4/Firmware/blob/0ead55d38afb5b4c30b33c839f079af5dfd731e1/src/modules/sensors/voted_sensors_update.cpp#L793-L794

here put sensor data to validator are using **uorb_index** from 0~n(multi sensor)

but look at the validator

https://github.com/PX4/ecl/blob/bdbc05cf91e6b13e2033ee3a7ecd3b

[2018-01-10 03:19] JeimeRhee opened #8645 "PX4 Firmware suddenly stopped when simulating mission with qgroundcontrol"
Hello I'm using latest version of PX4 firmware and qgroundcontrol.

I simulated PX4 firmware and gazebo, and my PX4 firmware has mission constructed 7 commands(1: takoff, 2~7: waypoint)

When I started mission in qgroundcontrol, PX4 firmware works fine when reached 3rd point but PX4 reached 3rd point PX4 stopped in 3rd point and doesn't go to 4th point.

I tried to using the other GCS, but it occu

[2018-01-10 03:54] JeimeRhee commented on #8645
It's caused my mistake sorry.

[2018-01-10 03:54] #8645 closed

[2018-01-10 05:35] dagar commented on #8632
I think you've got an important one here. These checks are no longer blocking arming.

[2018-01-10 08:08] bkueng commented on #8562
Hmm, reading slack I still don't understand the use case. If you want a reduced build, I suggest copying an existing cmake target and remove most of the modules. That will still give you a valid build as long as you don't remove uORB.

[2018-01-10 08:31] hamishwillee commented on #8562
I'm going to close this then. The user has a link and can reopen with more detail if they can provide it.

[2018-01-10 08:31] #8562 closed

[2018-01-10 08:32] CrazyDominic opened #8648 "Multi-Vehicle question."
Finally, I can see two drones on gazebo used Multi-Vehicle.

But, I can only on drone control.

How to control another one?

[2018-01-10 08:35] hamishwillee commented on #8648
Are you connected via QGC? https://docs.qgroundcontrol.com/en/releases/stable_v3.2_long.html#multi-vehicle-view

[2018-01-10 08:36] CrazyDominic commented on #8648
um... no not this mode. If I execute QGC, just first drone connected.

[2018-01-10 08:38] hamishwillee commented on #8648
I haven't done it other than with mock links. I imagine that you'll have to manually connect the second drone because QGC is only looking for one UDP port for auto connection.

The right place for this sort of question is here: http://discuss.px4.io/c/qgroundcontrol/qgroundcontrol-usage

[2018-01-10 09:04] CrazyDominic commented on #8648
This is my situation, I want to control my second drone not just first.

Is there another way to connect not a QGC? like MAVproxy.

![2018-01-10 18-01-52](https://user-images.githubusercontent.com/23605855/34763997-63a9d3f0-f630-11e7-8bd6-f8711c0042e9.png)

[2018-01-10 09:41] bkueng commented on #8644
You are correct. Nice find!
`add_new_validator()` should add a new item to the end of the linked list. Do you want to create a PR for that?

[2018-01-10 10:16] bkueng commented on #8643
I can reproduce this on my mRo Pixhawk. @davids5  any ideas?

[2018-01-10 10:33] CrazyDominic opened #8649 "Can I take ADS-B data on SITL(PX4)?"
Can I take ADS-B data on SITL(PX4)?
If it can be, can multiple drones on the simulator send and receive ADS-B data?

[2018-01-10 11:34] hamishwillee commented on #8648
I have no idea. But even if you wanted to use mavproxy you'd still need to know the UDP connection of the second drone ... at which point you might as well use QGC.

[2018-01-10 12:13] lijieamd commented on #8644
I'm not sure if we should treat it as a Firmware bug or a ecl lib bug?
if no other modules also use ecl validation lib or rely on the fact that ***_first*** is actually the last node, i think i can fix it in ecl repository

[2018-01-10 13:10] davids5 commented on #8643
My guess is that some driver is changing a GPIO to state where it is different from power on reset. On the reboot it is affecting the detection. IIRC, The detection is based on sensing no-connects. I wI'll need to look at it on the bench when I can.

[2018-01-10 13:38] svpcom commented on #8643
@davids5 Why detection is done by some GPIO sensing magic? May be board ID should be stored in flash (for example in bootloader area)?

[2018-01-10 13:44] LorenzMeier commented on #8643
@svpcom Because manufacturers did deviate from what was the reference standard that is required to operate correctly.

This is something we will likely tolerate less in the future.

[2018-01-10 14:08] taileron opened #8650 "Support for SRXL receiver (e.g. spm4649t)"
this protocol would allow to send telemetry information from fc back to tx and it´s extremely lightweight, are there plans to support it in future?

[2018-01-10 14:10] bkueng commented on #8644
I think there are no other users of that ecl functionality, but @priseborough knows better.

[2018-01-10 14:30] davids5 commented on #8643
@svpcom

The root cause of the issue is non compatible Hardware using the same bootloader and Reporting that it's FMUv2.

The reason it was done this way was to aviod requiring a bootloader update. But I think that's going to be an inevitable.

[2018-01-10 15:23] ChristophTobler commented on #7651
I guess this one can be closed. PWM ESC perform good on current master and can't be as good as the UART ones from Qualcomm...

[2018-01-10 15:23] #7651 closed

[2018-01-10 15:38] dagar commented on #8650
It definitely looks possible. I see a basic specification for SRXL, but so far haven't found anything about the actual telemetry fields. Do you know if they're documented?

[2018-01-10 18:32] davids5 commented on #8643
@svpcom - yes if we alter the bootloader OR just change the non compatible Hardware's bootloader to use a different ID the detection and be build OR run time. FMUv5 solves this with 10 HW Revision and version ID code points.

[2018-01-10 20:40] mzahana commented on #8648
@CrazyDominic I was involved in the mutli-vehicle setup interface. How are you running the setup? I was mainly targeting ROS based interface. So I was relaying to QGC through MAVROS. Also, do you have unique `MAVLINK_SYS_ID` for each vehicle that is defined in the SITL parameter files, one for each vehicle?
Have you looked at the dev guide at https://dev.px4.io/en/simulation/multi-vehicle-simulati

[2018-01-10 20:49] mzahana commented on #8634
@yousafbinfarrukh I am currently using Px4Flow module with EKF2.
* I updated the firmware of px4flow using QGC
* I used an older QGC I guess 2.9... to connect QGC to px4flow directly  using USB in order to setup the camera focus. The recent version does not connect to pxx4flow.

I can see the Flow topic through the topic analyzer in QGC (switched back to the recent QGC version). I can also do posi

[2018-01-10 20:55] priseborough commented on #8644
It's not used anywhere else so it makes sense to fix it in ecl.

[2018-01-10 21:35] hamishwillee commented on #8649
I don't think so - certainly it is not mentioned [here](https://docs.px4.io/en/advanced_features/rtk-gps.html).

Please ask technical support questions in the correct channel: https://docs.px4.io/en/#support

[2018-01-10 21:47] CrazyDominic commented on #8648
@mzahana
Yes, I follow this guide. So, I can see two drones on my simulator and QGC. Each drone can control seperatly. But, cannot be controlled QGC simultenously. I want to controll each drone using each command.

In QGC, I command to vehicle 1 to execute mission, and I command to vehicle 2 to execute other mission continuously. Therefore vehicle 1 stop mission, and only vehicle 2 execute that.

[2018-01-10 21:53] hamishwillee commented on #8648
Ah, so what you're saying is that you want to be able to send a single command to both drones to do the same thing? ie. you send both drones the command to takeoff, and then both to follow a mission?

If so, that is not supported in QGC. You could probably write a [dronecore](http://dronecore.io/) app to do that.

[2018-01-11 00:30] tubeme opened #8654 "SDLOG: Time Stamp totally wrong"
Despite many attempts to fix this problem it is again persistent.

For two files:

First File

Real time: 7:48
Log File Time: 15:48 (It is UTC time obviously)
In review.px4.io report Logging Start: 17:46

Second File

Real Time: 8:09
Log File Time: 16:09 (UTC)
In review.px4.io report Logging Start: 18:06

Strange...

We have preset

SDLOG_UTC_OFFSET = -480 (We are GMT-8:00)

[2018-01-11 00:43] tubeme opened #8655 "VTOL: Back transition after the end Nasty Pitch up."
Hi guys,

We have a strange problem with the back transition with our delta-quad.

The problem is only in Position mode. No such problem when in Altitude or Stabalized modes.

After the back transition is finished the MC sharply makes a putch up command.

We have MPC_DEC_HOR_MAX and MPC_ACC_HOR_MAX set to 2 but still this kick back.

![back transition pitch up](https://user-images.githubuserconten

[2018-01-11 03:43] Dream123456 commented on #8333
will, I till try use it in win10, but I try Ubuntu today, I will update later. Thx.

[2018-01-11 03:44] Dream123456 commented on #8333
win10, I will try use it in win10, but I using Ubuntu 16 today, I will update later. Thx.

[2018-01-11 04:22] dagar commented on #8655
Any difference in mission mode?

[2018-01-11 05:44] lijieamd commented on #8644
Ok, i'll create a PR in ecl repository

[2018-01-11 06:51] tops4u commented on #8654
I have an explanation but not a fix for this.

The Development of the Web Log Viewer was made in TC UTC+2 (for ex. Switzerland, no DST - current). This would explain the major offset of 10h (your UTC -8 plus Switzerland UTC +2).

As to the minor Offset, I have noticed that it seems to use the Boottime as a basis to Log. When you have multiple consecutive Flights 0:00 will always be Boot-Time so al

[2018-01-11 09:21] mzahana opened #8656 "EKF2-PX4FLOW: Significant drift in position hold mode"
Hi.

My quadrotor drifts significantly in position hold mode.
* Firmware version:  stable v1.7.1
* FCU: MindPX
* Using Lidar Lite v3. Works well for altitude stabilization
* EKF2 estimator. Disabled GPS in `EKF2_AID_MASK` and enabled optical flow fusion
* `EKF2_FLOW_DELAY` and other flow related parameters are left at default values.

Once switched to position hold mode, it stays in position for a

[2018-01-11 09:22] tubeme commented on #8654
hy then it can get the date from the GPS lock and create folder with the date and it is not possible to have a correct time stamp based on GPS Lock + time zone offset?

It is very inconvenient because we are working on a couple of locations in different zones and record a video with correct time stamp. In order to sync the video to the LOG files it is a nightmare to make this calculation every tim

[2018-01-11 09:23] tubeme commented on #8655
Mission mode is the same! So probably it is in the Position controller.

[2018-01-11 09:28] tubeme commented on #8655
Also wonder why there is no Pitch nor Roll Set Points during the transition.

We fly without airspeed sensor!

[2018-01-11 10:08] taileron commented on #8650
There are two documents available:
https://www.horizonhobby.com/pdf/SPM4649T_Bi-Directional_SRXL_specifications.pdf
https://www.spektrumrc.com/ProdInfo/Files/SPM_Telemetry_Developers_Specs.pdf

[2018-01-11 10:39] darioxz opened #8657 "Snapdragon: params don't get synced to DSP when set in mainapp.config"
I'm using latest master and would like to set the `EKF2_AID_MASK` and `EKF2_HGT_MODE` parameters in `mainapp.config`:

[code]

The correct parameter is shown after executing `pxh> param show EKF2_AID_MASK`. Unfortunately, the parameter doesn't get synced to the DSP part: `qshell param show EKF2_AID_MASK` outputs the old value, not the value specified in `mainapp.config`.

~`pxh> param set EKF2_AID

[2018-01-11 10:44] bkueng commented on #8654
- `SDLOG_UTC_OFFSET` is used for the log file name. So changing that should give you a different file name. Does that work? (or what exactly are you referring to as 'Log File Time'?)
- Flight Review: it uses the UTC timestamp [from the GPS](https://github.com/PX4/flight_review/blob/master/plot_app/plotted_tables.py#L118), and then converts it [here](https://github.com/PX4/flight_review/blob/master

[2018-01-11 12:59] tubeme commented on #8654
Sorry Log File Time stamp i meant... Not the name but the time stamp of the log file...

https://logs.px4.io/plot_app?log=a11fdda4-1d23-48c2-8596-f5c5a16e23ba

https://logs.px4.io/plot_app?log=0963d4d3-c68a-4a31-9011-3c6292fb879c

[2018-01-11 13:01] tubeme commented on #8654
@bkueng Do you need the original files?

[2018-01-11 17:05] dagar commented on #8650
Oh ok, so the specific messages are X-Bus. Do you have one of these receivers? Are you interested in developing any of it yourself?

[2018-01-11 17:12] dagar commented on #8655
I believe it's the way the multicopter position controller is reinitialized and seeded during transition. As a temporary improvement you can reduce MC_PITCHRATE_MAX.

[2018-01-11 20:22] CarlOlsson commented on #8650
SRXL is also the protocol for Multiplex receivers
[SRXL-MULTIPLEX_V2.pdf](https://github.com/PX4/Firmware/files/1624003/SRXL-MULTIPLEX_V2.pdf)

Would be awesome to add support for it since you currently need to use a PWM to PPM converter to use Multiplex receivers.

[2018-01-11 20:55] sanderux commented on #8655
This is because your velocity when coming out of backtransition is still 6m/s while your mpc_xy_vel_max is set to 4. Increase your back transition duration or use reverse thrust to brake actively

[2018-01-11 20:55] #8655 closed

[2018-01-12 01:47] CrazyDominic commented on #8649
@hamishwillee OK Thanks!

[2018-01-12 01:47] #8649 closed

[2018-01-12 01:48] CrazyDominic commented on #8648
@hamishwillee I really thank you. I need to study more...

[2018-01-12 01:48] #8648 closed

[2018-01-12 02:04] CrazyDominic opened #8660 "I need to help about Multi-vehicle ..."
This below picture is my ubuntu...

I command "roslaunch px4 multi_uav_mavros_sitl.launch" on my terminal.

After that, Gazebo is popped up and I can show 3drones model.
But, I have only one terminal that is just showed "pxh>".

My question is this. Why can I see just one terminal? In my think, this one terminal has 3 simulators.

How to command each drone?

![2018-01-12 10-58-05](https://user-ima

[2018-01-12 02:33] CrazyDominic commented on #8368
Is it solved? I have the same problem. If you solved it, plz give me some advice.

[2018-01-12 03:40] hamishwillee commented on #8660
Please ask technical questions here: http://discuss.px4.io/

[2018-01-12 03:40] #8660 closed

[2018-01-12 08:51] tubeme commented on #8655
@sanderux Thanks a lot!

[2018-01-12 09:07] leomatrix commented on #8093
after update to ubuntu16.04.3LTS and re-install the tool chain the problem was fixed

[2018-01-12 09:07] #8093 closed

[2018-01-12 10:53] Stifael commented on #8625
MPC_ACC_HOR_MAX:
defines the maximum allowed change for velocity setpoint in xy. This value is always used in auto and only used in manual controlled position mode during hover.
MPC_ACC_HOR:
defines the maximum allowed change for velocity setpoint in xy during fast forward flight and manual position controlled mode. This value is also used in auto to accelerate from 0 to cruise speed.
MPC_DEC_HOR_

[2018-01-12 11:35] tubeme opened #8664 "VTOL: Front transition Ramp Up problem"
@dagar and @sanderux

Because we fly without airspeed sensor, during the front transition everything is timing. So in Position / Auto modes the the ramp up of the front transition pusher motor is something like this:

![front throttle ramp up current](https://user-images.githubusercontent.com/12617619/34873084-62c895e4-f79c-11e7-97cb-1526e298d88d.png)

Visible from the graph:

![front ramp up](htt

[2018-01-12 13:47] tops4u commented on #8601
@davids5 anything I can do to help?

[2018-01-12 18:48] dagar commented on #8585
The header ordering somehow broke params on the Aero.

[2018-01-12 21:27] lukegluke opened #8666 "PX4_WARN expected ')' before 'string' error with TRACE_BUILD"
**Bug Report**

Got error: "expected ')' before 'string'" in expansion of macro 'PX4_WARN' if TRACE_BUILD is defined in board.h px4fmu-v4 nuttx-config:

In file included from src/platforms/px4_defines.h:42:0,
                 from src/modules/mc_pos_control/mc_pos_control_main.cpp:53:
src/modules/mc_pos_control/mc_pos_control_main.cpp: In member function 'void MulticopterPositionControl::warn_rate

[2018-01-12 21:28] DonLakeFlyer commented on #8599
Confused by what look like real firmware changes to get the gimbal to point correctly in gazebo. I had thought the gimbal was working fine on a real vehicle. Only Gazebo was wrong. Maybe I'm wrong there.

[2018-01-12 21:59] DonLakeFlyer commented on #8599
I tried testing with pull #8620 and things got even stranger:
* Still got random gimbal angle while flying to takeoff waypoint
* The gimbal transitioned at each waypoint but they were reversed
* WHen I downloaded the mission back from the vehicle I found that the gimbal angles I had sent had been reversed. I sent 90, -90, 90. When I downloaded they had been changed to -90, 90, -90.

[2018-01-12 22:19] ndepal commented on #8599
This is what you observed before #8620, so it's still the same?

I'll have to look at what happens when you download the mission from the vehicle. I might have to revert the coordinate transformation there.

[2018-01-12 22:25] DonLakeFlyer commented on #8599
Correct on gazebo gimbal visuals reversed being the same as before.

[2018-01-12 22:46] #8585 closed

[2018-01-13 03:09] yousafbinfarrukh commented on #8634
@mzahana can you plz tell me all the parameters you changed to get the optical flow working? How can I see if the flow is fused?

[2018-01-13 10:10] tubeme opened #8672 "VTOL: Back transition Ramp Up problem."
Hi guys,

I think we found a bug in the Position / Mission modes for vtol.
Trying to fix the #8655 we made the VT_B_TRANS_DUR from 3 sec to 5 sec. And with the VT_B_TRANS_RAMP set to 3 sec. the ramp up of the quad motors to the "commanded thrust" happens in the middle of the transition and the throttle stays at that level up to the end of the transition, then it pasees the throttle to the MC.

In

[2018-01-13 13:09] zarathustr commented on #8607
I do not know which is the so called ORB id "xsens_accel". Is that the one you defined yourself? By the way, if this is simply for sensor sampling, the code won't be fully worked on PX4

[2018-01-13 14:40] LorenzMeier commented on #8625
Could you send a PR for docs and we take the QGC UI from there?

[2018-01-13 14:51] tubeme commented on #8664
May be is not a bad idea to have a VT_F_TRANS_RAMP parameter for the front transition ramp up as well.

[2018-01-13 15:01] LorenzMeier commented on #8657
@darioxz Definitely a bug. Can you try again on current master? We fixed params on Aero.

[2018-01-13 15:39] tops4u opened #8674 "MC: Almost crash, about 1 sec strange PosCTL Setpoint behaviour"
**Bug Report**

Since changing ESC for some more aggressive Variant (BLHeli Damped Light replaced "conventional" ESC), I have a Problem when Braking in PosCTL Mode I get a strong Oscilation (probably by switching to Hold/Loiter when Stick is completely centered). I tried to figure MPC Settings in order to sort this out. I have still some strong Oscillation even when slowly moving the Stick back to

[2018-01-13 15:50] LorenzMeier commented on #8674
Still looking at it - but this jamming indicator "step function" is quite unusual. Is there any particular electrical equipment on the drone?

https://logs.px4.io/plot_app?log=391170a2-63e6-4f20-9e5b-14d9f33a67ae#Nav-GPS-Noise-_-Jamming

[2018-01-13 15:57] davids5 commented on #8601
@tops4u - Thank you for looking at this. There was a change on how the mixer is updated I think @LorenzMeier made to prevent allocation of memory under interrupt context off of the DMA interrupt. This may have created the issue. A test would be to revert that commit and see if the problem still persists.

[2018-01-13 15:58] LorenzMeier commented on #8674
After looking through the log a little further it looks like some type of almost or actual resonance: https://logs.px4.io/plot_app?log=391170a2-63e6-4f20-9e5b-14d9f33a67ae#Nav-Raw-Angular-Speed-Gyroscope

The frequency plot of the system is completely changing: https://logs.px4.io/plot_app?log=391170a2-63e6-4f20-9e5b-14d9f33a67ae#Nav-Acceleration-Power-Spectral-Density

I would cross-check that yo

[2018-01-13 16:03] tops4u commented on #8674
Got a small Clip from the Onboard Cam.

[AlmostCrash.zip](https://github.com/PX4/Firmware/files/1628488/AlmostCrash.zip)

[2018-01-13 16:30] mzahana commented on #8634
* updated PX4Flow firmware using QGC
* calibrated the lens focus as discussed [here](https://dev.px4.io/en/tutorials/optical_flow.html). You will need an older version of QGC to connect PX4FLOW to QGC via USB. I used 2.9.
* For the fight controller, I chose EKF2 as the estimator
* modified the `EKF2_AID_MASK` to disable GPS and enable optical flow
* I had a Lidar Lite v3, so I used it as the prima

[2018-01-13 17:20] mzahana commented on #8656
@ChristophTobler Could you please check this?

[2018-01-13 18:02] ChristophTobler commented on #8656
@mzahana Sure:+1: I'll have a look

[2018-01-13 19:22] ChristophTobler commented on #8656
It looks like there is a bit more vibration on the FCU than normal but I don't think that this causes the problems you're describing...
Have you been able to fly this quad with GPS?
Did you check the orientation of the PX4Flow? The pixel flow output should be as follows
moving forwards: +y
moving backwards: -y
moving right: -x
moving left: +x

You can check that in QGroundControl->Analyze

[2018-01-13 19:30] mzahana commented on #8656
I flew outdoors many times with GPS and it works very well in position
hold. I also flew it with mocap setup and works very well. Today, I also
flew it outdoors with px4flow (I disabled GPS in EKF2_AID_MASK and enabled
flow), and it did way better in position hold compared to indoors.

On Jan 13, 2018 10:22 PM, "ChristophTobler" <notifications@github.com>
wrote:

It looks like there is a bit more

[2018-01-13 21:03] mzahana commented on #8656
Could it be the floor texture? I have a black foam floor with no rich features.

[2018-01-13 21:25] ChristophTobler commented on #8656
That could certainly be the case. Can you try again on something else e.g. carpet?

[2018-01-13 23:24] tops4u commented on #8674
I have lowered Pitchrate from the former 6.5 to 5. The Frame is a Tarot 680Pro and the Motors are TMotor 4010/475kV with TMotor 13x4.4.

What I'm wondering is, what happend here:

![roll](https://user-images.githubusercontent.com/6877067/34910994-f5c411be-f8c0-11e7-8fc2-4fdbcd1e1611.jpg)

and here:

![pitch](https://user-images.githubusercontent.com/6877067/34910995-fd7c0e20-f8c0-11e7-8376-2a46734

[2018-01-14 06:23] dagar commented on #8674
I need to look closer tomorrow to see if this is cause or effect, but those attitude setpoint steps correspond with the multicopter position controller acceleration setpoint flatlining.

![image](https://user-images.githubusercontent.com/84712/34913386-5973a2d0-f8c9-11e7-89e6-b2943378bb1c.png)

[2018-01-14 06:39] dagar commented on #8674
The thrust setpoint is calculated here. https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/mc_pos_control_main.cpp#L2521

[2018-01-14 12:31] tops4u commented on #8674
The Copter was flying with the identical Mechanical Setup (Motors, Props, Frame, etc) except for different ESC and different FC (with same Params) perfectly without any Problems.

[2018-01-14 12:51] tubeme commented on #8656
I'm not exactly sure about the flow sensor, but given it is a camera there are two very important components in order to be precise. 1. Enough Light, 2. A good contrasting pattern in the frame of the image it picks up. 3. You should make sure there is no vibration. Vibrations kill the image especially if you need to measure movement in it.

[2018-01-14 15:32] dagar commented on #8672
You're saying the VT_TRANS_THR parameter (transition to FW pusher throttle) is being applied during back transition?

[2018-01-14 17:30] Changliu52 opened #8680 "1.7.0 toilet bowl with vision estimation"
This never happened in 1.5.5 or 1.6.5.
On 1.7.0, we have tried both EKF2 and LPE. In both cases, I enabled vision yaw and vision position fusion, we varified the vision estimation is in correct coordinate system (NED), by rotating the drone so that yaw is close to 0, then move the drone forward, then move the drone to its right. As shown in below capture, the x, y measurements both result in movin

[2018-01-14 17:35] CarlOlsson commented on #8567
@bkueng yes adding the -f results in one log file

[2018-01-14 19:36] tubeme commented on #8672
@dagar I have no other explanation why the throttle in the ramp up goes to 0.9?? Any other explanation? It just happened that we changed VT_TRANS_THR from 0.7 to 0.9 when it became obvious. I did not find any other parameter that could cause this ramp up. Also the VTOL is flying perfectly well in MC Position and FW Position. Also we have a zillion of flights in Stabilized mode and the transition i

[2018-01-14 20:39] kintzlr commented on #7580
I'd like to try this out with Intel Aero RTF drone.

Is there an overview doc that describes a quick start? For example:
How does the user activate precision landing?
Any specific parameters that need to be set?
...etc.

Looking forward to it. Thanks.

[2018-01-14 22:56] tubeme commented on #8463
Hi Daniel, that is a very good idea. I understand the procedure of calibrating the airspeed sensor has two aspects. 1. The most important to see the hardware inbuilt difference between the two tubes ie the two sensors in the chip at same given pressure (that is why we need not to fly and cover the pitot at that moment). 2. To see what is the current reading at static pressure and take it as zero.

[2018-01-14 23:12] tubeme commented on #8672
Here is a log with the VT_TRANS_THR = 0.7 back transition time 3 sec and 3 sec ramp up.

![3sec07](https://user-images.githubusercontent.com/12617619/34921909-fc9a17ec-f990-11e7-9eb2-569cbffa357d.png)

Log: https://logs.px4.io/plot_app?log=a11fdda4-1d23-48c2-8596-f5c5a16e23ba

[2018-01-14 23:44] tubeme commented on #8664
This is not a proper ramp up for Front transition for VTOL in Position and Mission Modes.

![front ramp up07](https://user-images.githubusercontent.com/12617619/34922184-0e133d56-f995-11e7-92f8-e805b5281f67.png)

This is like having the real plane ramp up from 0 to full throttle from the beginning of the runway to the end of it.

With VT_TRANS_THR=0.7 every time after the transition the plane is a

[2018-01-15 09:27] #8567 closed

[2018-01-15 09:37] ndepal commented on #7580
Documentation is here: https://github.com/PX4/Firmware/issues/7580#issuecomment-336496565

The feature is now available in master.

[2018-01-15 12:04] ChristophTobler commented on #8657
Still exists on Snapdragon

[2018-01-15 12:34] ChristophTobler commented on #8657
Fix in https://github.com/PX4/Firmware/pull/8686. @darioxz can you please give this a try?

[2018-01-15 13:04] darioxz commented on #8657
#8686 fixed the issue, thanks a lot!

[2018-01-15 13:21] #8657 closed

[2018-01-15 14:48] potaito opened #8687 "Docker image for qurt / snapdragon"
**Feature Request**

I am working on the snapdragon fight and wanted to add a make target like `make eagle_default` to Continuous Integration.

The script `Tools/docker_run.sh` then tries to fetch a container from the user lorenzmeier
https://github.com/PX4/Firmware/blob/18b83f2960879a71d19b456f5823d0abb2950290/Tools/docker_run.sh#L13

which is not public. Was it even public at one point? Is there

[2018-01-15 15:05] superware commented on #5122
Hi @dagar, what do you think?

[2018-01-15 15:37] kintzlr commented on #7580
Thanks for the reply, but I think there's something wrong with that link. It refers to this web page.

[2018-01-15 15:43] ndepal commented on #7580
Sorry, here it is: https://docs.px4.io/en/advanced_features/precland.html

[2018-01-15 15:45] kintzlr commented on #7580
Great! Thank you.

[2018-01-15 16:31] potaito opened #8690 "Preflight check airspeed driver grace period"
I am running into problems with the airspeed driver grace period during boot
https://github.com/PX4/Firmware/blob/18b83f2960879a71d19b456f5823d0abb2950290/src/modules/commander/PreflightCheck.cpp#L612

In my case the drone is booting too fast, meaning it runs the preflight check here
https://github.com/PX4/Firmware/blob/18b83f2960879a71d19b456f5823d0abb2950290/src/modules/commander/commander.cpp#L

[2018-01-15 16:33] dagar commented on #8687
It's private and used by the CI system. The SDK is free, but you need to agree to the EULA.

[2018-01-15 16:37] dagar commented on #8690
I need to take a closer look, but I think what we need to do here is apply the grace period to the user facing error message, rather than the entire check. Arming would still be prevented until things are actually ready.

[2018-01-15 18:24] ndepal commented on #8599
Did you re-upload the mission after checking out this PR?
The sign change is applied when processing an mission that's being uploaded.

Here is a video of what I see. It is the same mission that you uploaded above, just with the waypoints moved closer.

https://drive.google.com/file/d/1KNQUeVi6Yrx7O3pFkvd0OVmhzXdHbv_K/view?usp=sharing

The gimbal yawing seems to be correct in the sense that the gi

[2018-01-15 18:46] ArkadiuszNiemiec opened #8692 "LPE local position drifts from GPS position in position hold mode"
We are trying to develop autonomous system using GPS and Vision fusion and after few weeks working only with vision we have realized that there's a problem with GPS position. Local position is not following absolute position from gps. Logs are here:

[logs](https://logs.px4.io/plot_app?log=87d618e2-fc5a-4ef3-849b-8fed68e0183a)

I think that all parameters are correct and it should work. `lpe_fusio

[2018-01-15 18:48] TSC21 commented on #8692
@Ekci there is currently an issue with GPS fusion that is tracked and should be fixed soon.

[2018-01-15 18:50] TSC21 commented on #8692
Also do you mind sharing some more logs where you have vision+gps+baro fused, vision+baro fused and gps+baro fused so to compare between each? That would help debug the problem. Thanks

[2018-01-15 18:51] Ekci commented on #8692
Oh, thank you clearing that up. Yes I will do some flying indoors (without gps) and outdoors this week and update here.

[2018-01-15 18:56] DonLakeFlyer commented on #8599
Let me try again. Something seems out of whack on QGC side with the plan/fly swapping directions.

[2018-01-15 19:09] axdhill opened #8694 "HIL GPS Triggers "Unknown Armed" Flight Mode"
**Bug Report**

I'm passing indoor position measurements via offboard computer using the telemetry port of my Pixhawk 2.1 running PX4 1.7.3 stable. The position measurements are streamed as fake GPS coordinates. The message types sent are:
`HEARTBEAT`
`LOCAL_POSITION_NED`
`HIL_GPS`
`GPS_INPUT`
The expected behavior is that px4 sees the incoming mavlink stream for indoor positioning (HIL GPS is ena

[2018-01-15 19:14] DonLakeFlyer commented on #8599
Ok, so aside from the plan/fly view out of whack. I believe I may have screwed up on the yaw angles. I forgot how we had worked out something for pitch angles between QGC and mission item.

They work like this from a QGC/user perspective:
* User can enter values from 0 to 90 degrees
* 0 indicates level
* 90 indicates pointing straight down at the ground

But here is what QGC understands/sends in t

[2018-01-15 19:16] DonLakeFlyer commented on #8599
Also would be good to update the mavlink spec with all the details we come up with here. Current mavlink spec on DO_MOUNT_CONTROL says nothing about this stuff.

[2018-01-15 19:58] DonLakeFlyer commented on #8599
Fix for gimbal angle QGC visuals is here: https://github.com/mavlink/qgroundcontrol/pull/6024. Just a visual display problem.

[2018-01-15 20:19] ndepal commented on #8599
I would vote for sending yaw values where positive values mean a clockwise rotation (i.e. no sign change).

This would be consistent with the NED frame and would make the sign change I added unnecessary: https://github.com/PX4/Firmware/pull/8620/files#diff-0eafe063c4fc776dc3890496a001ddc7R1437

[2018-01-15 20:22] DonLakeFlyer commented on #8599
QGC is sending, positve angles indicates clockwise now. So that's current reason the gimbal is pointing the wrong direction. If you take that out, then I think everything will start working correctly.

[2018-01-15 21:16] axdhill commented on #8694
![px4_problem](https://user-images.githubusercontent.com/21051548/34961911-fcae5ed4-fa06-11e7-818e-23c3f2ca0bf5.gif)

[2018-01-15 23:01] svpcom opened #8696 "VTOL: Reject position control / Hold / Mission after succeed GPS lock."
I've found a strange issue with v1.7.3: PX4 reject to switch to POSCTL, HOLD  or Mission.
GPS is running and got 3D lock. When I try to start mission from QGroundControl is shows message: "vehicle is not ready". I've tried to recalibrate all sensors, but it didn't help. All sensors status are good.

HW is mRo pixhawk with fmuv3 (2MB) firmware.
Frame is: VTOL quad delta

https://logs.px4.io/plot_ap

[2018-01-15 23:39] dagar commented on #8696
I'm not sure why yet, but you never had a global position estimate.

[2018-01-15 23:40] dagar commented on #8696
![image](https://user-images.githubusercontent.com/84712/34965635-978d95ca-fa23-11e7-876a-8108af3d4561.png)

[2018-01-16 00:01] dagar opened #8697 "vehicle status flags user interaction"
A common source of confusion I see is the disconnect between the vehicle state (more or less commander's vehicle_status_flags) and what the user is able to see.

For example the vehicle might not have a valid global position estimate (preventing the user from entering AUTO), but all that's shown is a generic rejection message. The user can still try to switch to a mode requiring a valid global pos

[2018-01-16 00:05] dagar commented on #8697
Main wish list

 1. If I try to enter a mode or arm and it's denied, I should know exactly why. From the ground control station I need to be able to see if those conditions are now satisfied or not.
 2. QGC should have sufficient information to not allow me to request the mode change or arming in the first place. Again, with specific reasons.

[2018-01-16 01:01] orlando3d commented on #8643
@davids5
Hi , I can confirm that mRo pixhawk hardware adheres to the official hardware v2.4.6 and also that this behavior "HW version: 0x0009000B after softreset" happens in both 3DR and mRo units except in my "HK/Bangood" HW version on hand.

What I found differently in this "HK/Bangood" version on hand is that both R603 and R635 are populated and only one can be populated as stated in the schema

[2018-01-16 02:44] dagar commented on #8556
More testing. https://github.com/PX4/Firmware/pull/8699

[2018-01-16 05:40] svpcom commented on #8696
I've got it. Yes i'm testing partially inside (on the balcony). But (IMHO) ground station should show more clear GPS status and provide messages why vehicle should not do some action. Because now most of users will panic in such case.

[2018-01-16 05:44] dagar commented on #8696
I couldn't agree more. https://github.com/PX4/Firmware/issues/8697

[2018-01-16 06:46] potaito commented on #8690
That would make more sense :)

[2018-01-16 07:30] LorenzMeier commented on #8697
Since the manned aviation and our Firmware implementation both essentially follow checklists and abort the flight under certain fail conditions ([MMEL](https://en.wikipedia.org/wiki/Master_minimum_equipment_list), [ETOPS](https://en.wikipedia.org/wiki/ETOPS)), it sounds like we should expose a similar concept in the GCS.

The simple thing to do would be a very long bitfield (512 bit or so) and map