[2017-04-10 06:57] LorenzMeier commented on #5188
We have improved this a bit already (current testing suggests performance is sufficient), but the better architecture is still pending.

[2017-04-10 06:59] LorenzMeier commented on #3240
Fixed.

[2017-04-10 06:59] #3240 closed

[2017-04-10 06:59] LorenzMeier commented on #2791
Nice to have but not a show-stopper, so moving one release out.

[2017-04-10 07:00] LorenzMeier commented on #4561
Done.

[2017-04-10 07:00] #4561 closed

[2017-04-10 07:03] LorenzMeier commented on #3447
That's not present with ECL / EKF2.

[2017-04-10 07:03] #3447 closed

[2017-04-10 07:06] LorenzMeier commented on #2328
We are getting configurable mixers thanks to a recent PR.

[2017-04-10 07:07] LorenzMeier commented on #5399
I've improved a bunch, but still needs polishing.

[2017-04-10 07:10] LorenzMeier commented on #6082
Using clang-tidy instead.

[2017-04-10 07:10] #6082 closed

[2017-04-10 07:14] LorenzMeier commented on #5342
Major undertaking - moving it out to the next release.

[2017-04-10 07:15] LorenzMeier commented on #6106
Is this issue still persisting?

[2017-04-10 07:26] sanderux commented on #5870
Not yet

[2017-04-10 08:10] iZhangHui commented on #6984
@lovettchris You can try to increase stack size [here](https://github.com/PX4/Firmware/blob/master/src/modules/mavlink/mavlink_receiver.cpp#L2456) to
pthread_attr_setstacksize(&receiveloop_attr, PX4_STACK_ADJUSTED(**2400**));

[2017-04-10 08:35] HockyYoung commented on #7004
I didn't meet the problem just you mentioned.Did you check your PX4Flow date?you can use QGroundControl to analyze the px4flow date by connecting the pixhawk and shake your px4flow and look carefully whether the qulity is changing.Let me know if your px4flow date is well.

[2017-04-10 08:39] mhkabir commented on #7004
@ChristophTobler can you check this please.

[2017-04-10 08:43] nancy03610 commented on #7004
Yes, I can see the px4flow output in QGC, it looks fine. But also I notice that in my last time flight log the optical flow quality was low. I think this may be the reason why I failed in altitude mode(as I mentioned in #7017) but cannot explain why I cannot change to position mode.

[2017-04-10 09:57] ChristophTobler commented on #7004
@nancy03610 can you please provide a log here (if it's a .ulg file) http://logs.px4.io/upload or here http://logs.uaventure.com/ (if it's a .px4log file)

[2017-04-10 11:09] nancy03610 commented on #7004
Here is my log: http://logs.uaventure.com/view/cCt8EfG4f8XhhcPSbbtcK5

[2017-04-10 11:09] sn0west commented on #3977
Great news! What version then? Do you need some feedbacks or testings?

[2017-04-10 11:38] hamishwillee commented on #6913
Done - you can see it here: https://dev.px4.io/parameter_reference.html

Note the filename. Keep me posted on progress for auto-update please. Once that is done (and possibly before) we'll want to redirect from https://pixhawk.org/firmware/parameters

[2017-04-10 13:13] weiweikong commented on #6106
still exist, but not significantSent from Netease Mail
            On 04/10/2017 14:56, Lorenz Meier wrote: We need to work this one out.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

{"api_version":"1.0","publisher":{"api_key":"05dde50f1d1a384dd78767c55493e4bb","name":"GitHub"},"entity":{"external_key":"github/PX4/Firmwar

[2017-04-10 13:25] julianoes commented on #4115
@ChristophTobler do you know more about this?

[2017-04-10 13:35] mhkabir commented on #3977
So I think at the moment, we are just kicked out of AUTO if the sticks are moved, as opposed to allowing an elastic path change (and continue on mission after correction) as most people want.

@LorenzMeier should we reopen this?

[2017-04-10 13:38] LorenzMeier commented on #3977
We'll see about what user mode makes sense. Right now my first preference is to switch the mode but allow to continue the mission. The elastic path change gets us into a boat load of other issues that would require special handling, e.g. refactoring how waypoints are considered as reached. I think we should do that when Bezier curves have been added by @Stifael and not before.

[2017-04-10 13:39] ChristophTobler commented on #4115
@julianoes nope...

[2017-04-10 13:49] ChristophTobler commented on #7004
@nancy03610 you are using the LPE in this log not the EKF2...

[2017-04-10 13:54] mhkabir commented on #3977
Sounds good.

[2017-04-10 15:07] nancy03610 commented on #7004
Yes, it is the log for LPE test. I got problem both in LPE and EKF2 when I held the flight walking around. Then I did real flight test with LPE first, and met with the flight mode change problem, which is the log I just uploaded. I didn't do real flight test for ekf2 yet.  Sorry for the misunderstanding.

And here is the log of my hold-flight-walking-around test with EKF2 : http://logs.uaventure.c

[2017-04-10 15:09] ChristophTobler commented on #7004
@nancy03610 So the problem was that the light does not turn green? My understanding is that it just turns green if you have/use GPS.

[2017-04-10 15:19] nancy03610 commented on #7004
Oh, I see where I go wrong. I thought green light shows LPE or EKF2 works. Thank you so much.

By the way, do you know why I cannot change flight mode when using LPE?

[2017-04-10 16:25] fboriero commented on #6106
Finally I decided to re-implement a position controller in python-dronekit so I left Px4. At this time I am in Caltech for a visiting period but In June I will be back in Italy and, If it still needed, I will able to help on this.

Fabrizio

[2017-04-10 19:36] #6914 closed

[2017-04-10 20:42] ChristophTobler commented on #7004
Good. We'll keep track of the LPE problem in https://github.com/PX4/Firmware/issues/7010

[2017-04-10 20:42] #7004 closed

[2017-04-10 20:50] ChristophTobler commented on #7002
You have to tune the position controller. `MPC_Z_VEL_P/I/D` etc.

[2017-04-10 21:26] #6434 closed

[2017-04-11 03:32] vinhk commented on #7002
@ChristophTobler is there a way to do testing like so
![screenshot from 2017-04-10 23 28 35](https://cloud.githubusercontent.com/assets/17210431/24891716/94d60fca-1e45-11e7-9075-563791a6517f.png)

Where users get to walk their quad around without propeller and do row for 1 session and pitch for another session. Those file will be use to log as above picture is shown. This would make tuning much ea

[2017-04-11 07:46] mhkabir opened #7018 "Upload/flash fails on master"
There is an issue on master where upload to STM32 family boards (tested with FMU v4, FMU v4Pro, FMU v2) will fail. ~~This issue is not present on the current release version~~. Something seems to have changed in the uploader. Tested on both macOS and Linux, on 2 different computers, with different cables each time.

![image](https://cloud.githubusercontent.com/assets/5557676/24898018/8564a1fe-1e9b

[2017-04-11 07:54] tomatac commented on #6957
I tried few more flights but I have the same issue: POSITION CONTROL REJECTED.
See the log below and the file attached:
http://logs.px4.io/plot_app?log=3f14be80-3596-4043-8aa6-dacb749d2b08
[LPE_Flight_04-11.pdf](https://github.com/PX4/Firmware/files/912470/LPE_Flight_04-11.pdf)
Is there a way to graph the input from the Lidar sensor?
How do I make sure that the LPE considers only the Lidar input a

[2017-04-11 09:08] Stifael commented on #6651
@western-co-at: can you please tell me what LNDMC_MAN_DWNTHR parameter is set to (I cant see it from the log since this parameter is unfortunately not used before logging starts.
The LNDMC_MAN_DWNTH defines the stick threshold for thrust. once exceeded, the vehicle should not detect landed anymore. From the plot below, however, you can see that it says in landed despite having stick input large.
O

[2017-04-11 09:15] bresch opened #7020 "Odd CPU usage on master"
Hi everyone,
I compared the preflights reports between the v1.5.5 release and Master.
The CPU usage on Master looks odd: the load is totally on the scheduler and 0.00% on the tasks.

Preflight report on master:
[code]

Preflight report on V1.5.5
[code]

[2017-04-11 10:12] bresch commented on #7020
Also some feelings during the flights (same parameters for the controllers, the only thing I had to change is the gyro calibration because QGC asked it):
- Attitude control is worse on master. You can hear the motors vibrating and the attitude is less stable.
- During position control, the controller works fine but looks more aggressive when braking (not sure if it's a feature or related to the ba

[2017-04-11 10:55] liang-tang opened #7021 "ATT.Pitch became more and more big, vehicle position draft"
ATT.Pitch  got big and big, from 0.025 to 0.1 almost in five minutes, the vehicle horizontal position draft more and more quickly , so any issure with my multicopter?
(software version: 1.5.5
hardware pixhawk)
![screenshot from 2017-04-11 18-48-02](https://cloud.githubusercontent.com/assets/16251761/24905922/465565f0-1ee8-11e7-8a8b-daa02a9b9403.png)

[2017-04-11 11:00] liang-tang commented on #7021
Log
http://logs.uaventure.com/view/nwpou7XbSC97DMy226bfYU

[2017-04-11 12:08] western-co-at commented on #6651
The LNDMC_MAN_DWNTHR parameter was set to 0.4 during the last log. But also when I set this parameter to the default value (0.15) it behaves the same.
Again: When I uncomment this line https://github.com/PX4/Firmware/blob/39dc983c6f4554e4825b31a595e250b040cdaa8b/src/modules/land_detector/MulticopterLandDetector.cpp#L314 its working without gps signal. Here the according log (again with LNDMC_MAN_D

[2017-04-11 12:12] bresch commented on #7021
Did you check if your compass is correctly pointing towards the magnetic North?

[2017-04-11 17:58] ashwanisihag opened #7023 "Got Waypoint below home warning with v3.1.3"

[2017-04-11 19:11] #5848 closed

[2017-04-11 19:12] dagar commented on #5586
@jcooper21 is this still a problem?

[2017-04-11 19:14] dagar commented on #5117
This works via QGC. A mavlink to xplane bridge would be nice to have if someone is interested.

[2017-04-11 19:14] #5117 closed

[2017-04-11 19:15] dagar commented on #6211
I'll review this and test as part of https://github.com/PX4/Firmware/pull/6725.

[2017-04-11 19:16] dagar commented on #6916
@tubeme is something else needed for planes with IC engines, or is this mainly a documentation issue?

[2017-04-11 19:20] dagar commented on #2040
FW acro mode implemented!

[2017-04-11 19:20] #2040 closed

[2017-04-11 19:23] dagar commented on #1666
Mostly implemented. Push to the coverity branch and it will run automatically.

[2017-04-11 19:23] #1666 closed

[2017-04-11 19:24] dagar commented on #1866
I'll consider this within https://github.com/PX4/Firmware/issues/6361.

[2017-04-11 19:24] #1866 closed

[2017-04-11 19:30] dagar commented on #1644
Do you think we still need this? It could be PX4 base classes for a typical module or driver including variations with tasks or running in the work queue. It could also include param and mavlink subscribe and update boilerplate.

[2017-04-11 19:31] dagar commented on #2172
Still interested in this?

[2017-04-11 19:32] dagar commented on #1669
We can consider adding this later as we continue to pick through coverity issues.

[2017-04-11 19:32] #1669 closed

[2017-04-11 19:37] dagar commented on #3146
Does this still need to be fixed?

[2017-04-11 19:38] dagar commented on #3700
Is anyone still interested in this? I think it would be fairly easy to implement as a position control submode, especially once we refactor the manual setpoint handling into stick mapper.

[2017-04-11 19:39] dagar commented on #3435
Still needed?

[2017-04-11 19:40] dagar commented on #3212
Still an issue?

[2017-04-11 19:41] dagar commented on #3789
Can we close this?

[2017-04-11 19:43] dagar commented on #3855
Implemented.

[2017-04-11 19:43] #3855 closed

[2017-04-11 19:43] dagar commented on #3874
Was this resolved?

[2017-04-11 19:44] davids5 commented on #3212
I have not tested it on latest master.

[2017-04-11 19:46] dagar commented on #3933
@DonLakeFlyer Can you post a log the next time you see anything like this? Quite a lot has changed in PX4 multicopter since this has been opened.

[2017-04-11 19:46] #3933 closed

[2017-04-11 19:50] TSC21 commented on #3938
After I code review I think it maintains... I was aldo looking for this when trying to get a msg published to mavros. Maybe we can apply a FFT to get the clip?

[2017-04-11 20:03] davids5 commented on #3146
This was fixed in the PR that expunged the #if CONFIG_ARCH_BOARD from the code base. I also added a tool to preserver the CONFIG_ARCH_BOARD etal through oldconfig and menuconfig for board configs not know to NuttX.

The remaining are
![image](https://cloud.githubusercontent.com/assets/1945821/24928006/9909c8be-1e9c-11e7-9039-673493661cf7.png)
![image](https://cloud.githubusercontent.com/assets/194

[2017-04-11 20:09] dagar commented on #3949
@tubeme there's now an effort to automatically generate some of this documentation. https://github.com/PX4/Firmware/pull/7019

[2017-04-11 20:09] #3949 closed

[2017-04-11 20:12] dagar commented on #3950
Fixed! https://dev.px4.io/parameter_reference.html

[2017-04-11 20:12] #3950 closed

[2017-04-11 20:15] dagar commented on #3985
Is this still needed?

[2017-04-11 20:15] dagar commented on #4088
Good idea!

[2017-04-11 20:16] tubeme commented on #6916
No @dagar it works perfect. It is very good idea to have the Mixer editor implemented in QGC because I spent hour and a half editing the mixer until i got the correct movement for the throttle servo. The margins were so tight on the IC engine I worked on I had to do 20 edits of the mixer. There was cut from the bottom and the upper limits of the servo until I got it right. We did not have a chance

[2017-04-11 20:17] tubeme commented on #6916
@dagar @LorenzMeier The flights were perfect!!

[2017-04-11 20:18] dagar commented on #4097
@DonLakeFlyer @LorenzMeier did we ever settle on the format?

[2017-04-11 20:18] dagar commented on #4122
Still needed?

[2017-04-11 20:19] tubeme commented on #3950
@dagar Please can you make the Shortcut list on top of the parameters reference the same way it was in the original page?

[2017-04-11 20:20] dagar commented on #4142
Still wanted? I could resurrect and test airspeed mode if anyone's interested.

[2017-04-11 20:21] tubeme commented on #3949
@dagar Thanks I follow the #7019

[2017-04-11 20:26] dagar commented on #4151
Was this ever resolved?

[2017-04-11 20:27] dagar commented on #4207
@matanhavi if I throw this together are you able to test?

[2017-04-11 20:28] dagar commented on #4224
Wasn't this resolved? @sanderux

[2017-04-11 20:30] dagar commented on #4386
Actually, I think this needs to be handled by the Makefile. During the cmake configure it won't tolerate its configuration changing, like if one of the submodules contains a CMakeLists.

[2017-04-11 20:31] dagar commented on #4468
Was this resolved?

[2017-04-11 20:34] dagar commented on #4560
Update?

[2017-04-11 20:37] tubeme commented on #4142
Still wanted! I think it is very good mode for the hobbyists. It should have the following properties:

1. It should detect stalls, and once detecting stall it should give proper control commands + Throttle to get airspeed enough to prevent the stall ie it should make sure the airspeed does not fall bellow min airspeed (probably like your airspeed mode). We could provide airspeed by pitching down

[2017-04-11 20:37] dagar commented on #4600
Fixed?

[2017-04-11 20:38] davids5 commented on #4560
@dagar - No I need time or help to implement.

[2017-04-11 20:40] dagar commented on #4640
Once we have better auto mission testing in place I'll add profiling.

[2017-04-11 20:41] davids5 commented on #4386
@dagar - The only point was there should only be 1 list.  I will leave the magic up to you :)

[2017-04-11 20:43] dagar commented on #4791
Any better?

[2017-04-11 20:45] dagar commented on #4846
I'm not sure if we can do much here other than working towards a system that doesn't need extras.txt

[2017-04-11 20:46] dagar commented on #4819
Was this ever resolved?

[2017-04-11 20:46] DonLakeFlyer commented on #4791
Fixed ages ago

[2017-04-11 20:52] dagar commented on #5681
Resolved by adding FW_PSP_OFFSET?

[2017-04-11 20:53] dagar commented on #6856
TODO - enable weathervane during transitions. MC yaw is either useless or potentially harmful.

[2017-04-11 20:56] dagar commented on #4941
@mhkabir was this addressed by your recent work?

[2017-04-11 20:57] dagar commented on #5033
I believe this is resolved? Reopen if not.

[2017-04-11 20:57] #5033 closed

[2017-04-11 20:58] mhkabir commented on #4941
Yes.

[2017-04-11 20:58] #4941 closed

[2017-04-11 20:58] dagar commented on #5211
Any update?

[2017-04-11 20:59] dagar commented on #5218
Did you ever see this again? Unfortunately, I don't know that we can do much without more debugging information.

[2017-04-11 20:59] #5218 closed

[2017-04-11 21:00] #5320 closed

[2017-04-11 21:00] #5319 closed

[2017-04-11 21:00] dagar commented on #5519
@lovettchris was this fixed? Is it still an issue with PX4 master?

[2017-04-11 21:02] dagar commented on #5637
I think we can close this? Can you open a fresh issue if you're still having problems?

[2017-04-11 21:02] #5637 closed

[2017-04-11 21:03] dagar commented on #5811
@squilter were you able to fix this?

[2017-04-11 21:03] #5811 closed

[2017-04-11 21:04] dagar commented on #5986
Relevant - https://github.com/PX4/Firmware/pull/6609

[2017-04-11 21:07] dagar commented on #5730
Would it make sense to have the position controllers only use local position and make navigator responsible for mapping global -> local?

[2017-04-11 21:15] dagar commented on #4721
Resolved?

[2017-04-11 21:16] dagar commented on #4836
@marianobianchi did you ever figure this out?

[2017-04-11 21:17] dagar commented on #4954
Is this working now?

[2017-04-11 21:18] dagar commented on #5302
@mcharleb FYI

[2017-04-11 21:20] dagar commented on #6028
Done?

[2017-04-11 21:21] dagar commented on #6032
Let me know if you add a way to do this that could be part of an automated test.

[2017-04-11 21:24] dagar commented on #6207
I believe this is fixed, I've been using gazebo sitl.

[2017-04-11 21:24] #6207 closed

[2017-04-11 21:27] dagar commented on #4878
No update in months, please reopen if it's still an issue.

[2017-04-11 21:27] #4878 closed

[2017-04-11 21:30] dagar commented on #6152
Have you seen this recently? I'm not sure what the underlying problem is.

[2017-04-11 21:34] davids5 commented on #5519
The code fragment above does not exist in the the version of NuttX tied to PX4 master or in upstream Nuttx.

[2017-04-11 21:34] #5519 closed

[2017-04-11 21:34] pavel-kirienko commented on #2172
Yes.

[2017-04-11 21:35] dagar commented on #6541
@langxm1223 any update? Have you tried this recently?

[2017-04-11 21:35] dagar commented on #6399
Fixed.

[2017-04-11 21:35] #6399 closed

[2017-04-11 21:37] dagar commented on #6843
Was this fixed?

[2017-04-11 21:37] dagar commented on #6165
Fixed?

[2017-04-11 21:39] dagar commented on #6604
@Stifael was this fixed?

[2017-04-11 21:39] davids5 commented on #6742
Fixed in Refactor board level RC_IN definitions and usage #6777

[2017-04-11 21:39] #6742 closed

[2017-04-11 21:39] #6699 closed

[2017-04-11 21:40] dagar commented on #6292
I believe this was an airframe issue. Please reopen if I'm wrong.

[2017-04-11 21:40] #6292 closed

[2017-04-11 21:41] dagar commented on #6752
@lakshaydang please reopen if still an issue.

[2017-04-11 21:41] #6752 closed

[2017-04-11 21:42] ecmnet commented on #5211
Fixed for me with current master

[2017-04-11 21:43] #6830 closed

[2017-04-11 21:44] dagar commented on #6498
Still an issue? Isn't a pixfalcon identical to a pixhawk (from PX4s perspective)?

[2017-04-11 21:45] #6831 closed

[2017-04-11 21:45] mhkabir commented on #5211
Thanks.

[2017-04-11 21:45] #5211 closed

[2017-04-11 21:46] mhkabir commented on #6604
@bresch I think we were running into this today, on the field.

[2017-04-11 21:48] mhkabir commented on #3435
We just need to document it. It has been working for ages.

[2017-04-11 21:49] mhkabir commented on #4600
I think this is fixed. It will also be cross-tested during my trigger overhauling, so I will handle it there if still present.

[2017-04-11 21:49] #4600 closed

[2017-04-11 21:49] dagar commented on #6912
@Clark-Youngdong-Son can you use http://discuss.px4.io/ for questions? I think you'll need to share some of your code for someone to be able to help you.

[2017-04-11 21:49] #6912 closed

[2017-04-11 21:51] dagar commented on #6817
Still annoying? We can either glob the contents at cmake configure time, or manually list everything in a cmake file. The glob won't pickup newly added ROMFS files until cmake is forced to run again.

[2017-04-11 21:52] dagar commented on #7023
@ashwanisihag can you provide logs or screenshots? Was this in simulation or flying outdoors? Did you check the altitude of your waypoints?

[2017-04-11 21:59] dagar commented on #6916
Thanks for the update. Hopefully we'll have configurable mixers in the not to distant future.

[2017-04-11 21:59] #6916 closed

[2017-04-11 22:01] sanderux commented on #6856
Not sure if thats a good idea, MC needs to try and hold position even in a cross wind untill the FW has enough authority.

[2017-04-11 22:02] dagar commented on #3950
Check the little thing in the top right. It should expand into a table of contents.

[2017-04-11 22:03] sanderux commented on #4224
I added and got merged a PR in both dronekit and pymavlink but mavutil needs to release a new version on pip before this will be operational. Not sure what the status is there

[2017-04-11 22:05] dagar commented on #4142
Airspeed will automatically pitch down to gain airspeed. It won't try to hold altitude. If I resurrect this are you interested in testing?

[2017-04-11 22:21] dagar commented on #2172
Can you expand on the idea a bit? The firmware sends a request to the GCS to download new firmware which is then sent to the autopilot?

[2017-04-11 22:23] dagar commented on #4224
Any idea who takes care of that?

[2017-04-11 22:28] sanderux commented on #4224
i think tridge

[2017-04-11 22:56] davids5 commented on #3212
@dagar - yet it was. See https://github.com/PX4/Firmware/pull/7024

[2017-04-11 23:01] tomatac commented on #7002
What firmware are you using?
Do you use LPE? If so what is your LPE_FUSION setting?
I am geting POSITION CONTROL REJECTED (Firmware 1.6 - LPE version, PX4FLOW + Lidar Lite 3).

[2017-04-11 23:01] dagar commented on #3212
Was mpu9250 copied from mpu6000. Any overlap here? https://github.com/PX4/Firmware/issues/5446

[2017-04-11 23:04] davids5 commented on #2172
The UAVCAN fw can be fetched from a well known URL. It then needs to be uploaded to the SD card as defined [here](https://github.com/mavlink/mavlink/pull/414).

[2017-04-11 23:06] tubeme commented on #6856
@dagar That is definitely NO NO for the transition! We've had cases where the yaw was not holding properly in strong wind and in a mission flight the VTOL did not hold its YAW, it pointed toward the pilot who wanted to make a very short take off transition mission at 2 meters height and it got almost at his head, and then crashed in a tree behind him.

Because the strongest point of the VTOL is ta

[2017-04-11 23:07] tubeme commented on #4142
Yes I will test it! Making just the right plane for this kind of tests.

[2017-04-11 23:08] tubeme commented on #3950
Cool! :)

[2017-04-11 23:10] dagar commented on #6017
@anton-matosov were you still working on this? The last screenshot I saw looked like a huge improvement.

[2017-04-11 23:10] davids5 commented on #2172
The above reference may be a tad stale.
The [uavcan_servers](https://github.com/PX4/Firmware/blob/master/src/modules/uavcan/uavcan_servers.cpp#L870) is a better reference - It supports a copy from ROMFS to the sd card. There was an addition of a leading underscore to ID the ROM FS version.

[2017-04-11 23:15] davids5 commented on #3212
@dagar - yes - I would think it is the same issue. I did a pass on the 9250 in the PR, but I am not set up to test it. I asked @pkocmoud if he could give it a go. Do you have HW with the 9250 you can check it on?

[2017-04-11 23:17] dagar commented on #6209
What's needed here?

[2017-04-11 23:17] vinhk commented on #7002
@tomatac I am using LPE as well but currently unable to see data from pwm lidar lite v3. For LPE_FUSION, I have it at 242 i think. I have been through your issue forum about rejecting mode for position control. I am not sure why. Mine is not rejecting but it drifts

[2017-04-11 23:18] davids5 commented on #3212
@dagar, @LorenzMeier

One more thing. The root cause was not the test. It was the reset after the test. Now there is a drop out of collecting samples during the test for ~30 ms. Will that be an issue?

[2017-04-11 23:21] dagar commented on #6260
So this is actual telemetry dropping during this period?

[2017-04-11 23:26] dagar commented on #6499
Still an issue?
Do we need to add a delay to ignore the initial battery level?
https://github.com/PX4/Firmware/commit/9ea4c33ede3afae212f3892d9eb70d3ea403c63e

[2017-04-11 23:28] dagar commented on #6768
@kiti1013 were you able to get this working?

[2017-04-11 23:28] #6768 closed

[2017-04-11 23:33] dagar commented on #6359
@sunshine-yan can you describe your setup and what you're trying to do here? Is this a Snapdragon flight?

[2017-04-11 23:35] dagar commented on #5407
@pryre feel free to ping me if you'd like to implement this and want to talk about how it fits into the current architecture.

[2017-04-11 23:37] dagar commented on #6358
This has been readded to px4fmu-v2_default.

[2017-04-11 23:37] #6358 closed

[2017-04-11 23:38] sanderux commented on #5681
No, by increasing back transition duration now that we have adaptive acceptance radius

[2017-04-11 23:38] #5681 closed

[2017-04-11 23:39] dagar commented on #6708
I think we'll have to close this and try to name things more consistently going forward.

[2017-04-11 23:39] #6708 closed

[2017-04-11 23:40] dagar commented on #6773
@marcelinomalmeidan is this resolved?

[2017-04-11 23:41] dagar commented on #6288
@CarlOlsson did you ever figure out what was going on here? There's not much to go on. I've personally never seen this.

[2017-04-11 23:42] dagar commented on #6576
@nitehack Any update?

[2017-04-11 23:46] dagar commented on #6918
The official builds are using GCC 5.4.

[2017-04-11 23:46] #6918 closed

[2017-04-11 23:47] dagar commented on #6952
Hi @suruonuo
Can you use http://discuss.px4.io/ for PX4 questions? Github is for reporting bugs and requesting features in the autopilot firmware.

[2017-04-11 23:47] #6952 closed

[2017-04-11 23:48] #5961 closed

[2017-04-11 23:50] dagar commented on #6630
Hi @Clark-Youngdong-Son, were you able to resolve this?

[2017-04-11 23:51] dagar commented on #6715
Thanks @garlinplus, would you like to open a pull request?

[2017-04-11 23:51] dagar commented on #6409
This was fixed right?

[2017-04-11 23:51] #6409 closed

[2017-04-11 23:52] dagar commented on #6942
I don't think the mechanism to go back and forth exists. Why do you need both?

[2017-04-11 23:53] dagar commented on #6943
Any idea what's happening?

[2017-04-11 23:55] dagar commented on #6828
What's this actually needed for?

[2017-04-11 23:56] dagar commented on #6445
@edsellar any update?

[2017-04-11 23:57] dagar commented on #6826
@AlexMalo if launching from the PX4 build system you can also set the environment variable HEADLESS.

    HEADLESS=1 make posix_sitl_default gazebo_plane

[2017-04-11 23:57] #6826 closed

[2017-04-11 23:58] dagar commented on #5975
Fixed?

[2017-04-12 00:01] dagar commented on #5975
The poll rate is no longer set by sensors. Please reopen if this isn't actually resolved.

[2017-04-12 00:01] #5975 closed

[2017-04-12 00:04] dagar commented on #5140
I think we can close this? Please reopen if it's not resolved.

[2017-04-12 00:04] #5140 closed

[2017-04-12 00:04] #6225 closed

[2017-04-12 00:05] dagar commented on #6345
@meteor0530 is this resolved? Please reopen the issue if it's still a problem.

[2017-04-12 00:05] #6345 closed

[2017-04-12 00:07] dagar commented on #6612
@rs1990 Please reopen if this isn't resolved.

[2017-04-12 00:07] #6612 closed

[2017-04-12 00:07] dagar commented on #6620
@DeanJJJ any update?

[2017-04-12 00:08] dagar commented on #6723
@gaochangyu please reopen with a log file if this is still an issue.

[2017-04-12 00:08] #6723 closed

[2017-04-12 00:12] dagar commented on #6873
@anuppari is there anything that needs to be done here? Better documentation, or better offboard handling?

[2017-04-12 00:14] dagar commented on #6909
@ziyangli did you figure this out?

[2017-04-12 00:14] dagar commented on #6946
Closing as duplicate.

[2017-04-12 00:14] #6946 closed

[2017-04-12 00:16] dagar commented on #6982
@L4ncelot any update?

[2017-04-12 00:19] dagar commented on #4180
@tubeme do you still need this?

[2017-04-12 00:25] dagar commented on #6856
Thanks for the feedback @tubeme. My main thought here is that once the vehicle has any airspeed it should be using the FW control surfaces to maintain heading and MC should be dedicated to keeping the vehicle at altitude.

[2017-04-12 00:27] dagar commented on #3212
Yes, I have a pixhawk 2.1 I could use for testing.

[2017-04-12 00:27] sanderux commented on #6938
done https://github.com/PX4/Firmware/pull/7025

[2017-04-12 00:27] #6938 closed

[2017-04-12 00:43] dagar commented on #4984
@Stifael would the mc position controller handle this better now?

[2017-04-12 00:54] #4151 closed

[2017-04-12 00:54] #4224 closed

[2017-04-12 00:54] dagar commented on #4769
I believe this is resolved. Please reopen if I'm incorrect.

[2017-04-12 00:54] #4769 closed

[2017-04-12 00:55] dagar commented on #5146
Fixed in #5191

[2017-04-12 00:55] #5146 closed

[2017-04-12 00:57] #5514 closed

[2017-04-12 00:59] dagar commented on #5676
The open loop loiter isn't enabled anymore. MC should land immediately with GPS failure.

[2017-04-12 00:59] #5676 closed

[2017-04-12 00:59] dagar commented on #5639
Is this still an issue?

[2017-04-12 01:00] dagar commented on #5986
Will be resolved by #6609.

[2017-04-12 01:00] #5986 closed

[2017-04-12 01:01] dagar commented on #6274
@sanderux have you seen this recently?

[2017-04-12 01:01] #6274 closed

[2017-04-12 01:02] dagar commented on #6288
If you're able to reproduce please open a new issue with logging. Unfortunately there's not much to go on here.

[2017-04-12 01:02] #6288 closed

[2017-04-12 01:05] dagar commented on #6479
We could consider dropping the pitch setpoint from the takeoff mission item and using a parameter instead. https://github.com/PX4/Firmware/issues/6787
In practice, it's a dangerously easy thing to accidentally screw up in QGC and all the other aspects of FW takeoff/landing are already PX4 parameters.

[2017-04-12 01:08] dagar commented on #5801
Unfortunately, this was probably a hard fault. Newer PX4 has hard fault logging if it happens again.

[2017-04-12 01:08] #5801 closed

[2017-04-12 01:09] dagar commented on #5752
Was this resolved?

[2017-04-12 03:23] liang-tang commented on #7021
i haven't check it ... how can i  comfirm this issure caused by compass direction.?

[2017-04-12 05:07] LorenzMeier commented on #4468
Yes

[2017-04-12 05:07] #4468 closed

[2017-04-12 05:07] LorenzMeier commented on #4721
Yes

[2017-04-12 05:07] #4721 closed

[2017-04-12 05:07] LorenzMeier commented on #5210
Fixed

[2017-04-12 05:07] #5210 closed

[2017-04-12 05:07] LorenzMeier commented on #5629
Fixed

[2017-04-12 05:07] #5629 closed

[2017-04-12 05:09] LorenzMeier commented on #6545
Fixed.

[2017-04-12 05:09] #6545 closed

[2017-04-12 05:09] LorenzMeier commented on #6546
Fixed.

[2017-04-12 05:09] #6546 closed

[2017-04-12 05:10] LorenzMeier commented on #6702
Fixed / wip.

[2017-04-12 05:10] #6702 closed

[2017-04-12 05:14] LorenzMeier commented on #7023
This is not a PX4 release number.

[2017-04-12 05:14] #7023 closed

[2017-04-12 05:19] Stifael commented on #4984
@dagar. I dont think so, did not get to it to look into follow me and how it is implemented.

[2017-04-12 05:40] Stifael commented on #6604
Hm, the land detector seemed to work better. But its crucial to set the minimum thrust correctly and not to put the landing speed too low. The latter ensures that the thrust drops below the min thrust more quickly.

[2017-04-12 05:52] tops4u commented on #6260
@dagar : I did not check the Data on QGC during this time but I would assume so as the OSD and the Telemetry are sharing the same Serial Port.

[2017-04-12 06:08] LorenzMeier commented on #7020
Looks like a reporting bug. The tasks actually show correct load values.

[2017-04-12 06:23] LorenzMeier commented on #7018
Same here:
[code]

[2017-04-12 06:24] mantelt commented on #4151
We eventually switched to Pixhawk (FMUv2), so I can't tell if it was resolved or not.

[2017-04-12 06:42] bkueng commented on #6028
Yes, except for the NuttX version. @davids5 ?

[2017-04-12 06:51] bkueng commented on #1644
Yes something simple and thread-safe would be helpful. I've fixed and made quite a few bugs in different modules related to that already. It's currently not easy to get it right. Also with respect to calling `orb_subscribe` and others from the correct task.

[2017-04-12 06:57] bresch commented on #7021
Let me explain a bit: the attitude estimation and control look fine. The pitch reference is moving with the X position error. My guess is that your position controller is correcting in the wrong direction. (However, I'm surprised that it does not diverge faster and why it is only visible on one axis).
So, to verify this, just go outside and compare the heading displayed by QGC with the compass of

[2017-04-12 07:02] julianoes commented on #3435
I would vote to remove it since Snappy now supports PWM output and Spektrum input and it's kind of a clunky setup.

[2017-04-12 07:09] mhkabir commented on #3435
The offboard actuator control interface, even if not used for Snapdragon is very popular with ROS people and others who implement their controllers offboard.

[2017-04-12 07:09] julianoes commented on #5639
Still the same, just tested with a pixracer:

First level cal straight after accel cal:
[code]

Then a second try of level cal:
[code]

[2017-04-12 07:22] bresch commented on #6604
Here you have a few logs about land detection failures:

http://logs.px4.io/plot_app?log=bf1fc3b0-e88d-415d-9341-7d89c3df1450
http://logs.px4.io/plot_app?log=1f0b293c-8bf6-46eb-99c8-f4831263a5fc
http://logs.px4.io/plot_app?log=230472d3-0b70-46c1-8fd0-64de2376c0a6
http://logs.px4.io/plot_app?log=ac39ed67-05b1-4c35-8ae3-f66a96c2cc25

[2017-04-12 07:53] julianoes commented on #3435
@mhkabir fair enough :)

[2017-04-12 07:55] julianoes commented on #7018
Oh, here we go on v3:
[code]

[2017-04-12 08:30] L4ncelot commented on #6982
Actually not, I've been working on something in SITL mode right now. I will have a look at this issue probably next week or so.

[2017-04-12 08:43] MaEtUgR commented on #6651
There might be an issue with the logic in the case you don't have GPS that went under my radar because even when testing this stuff in altitude mode I was always outside and had GPS.

https://github.com/PX4/Firmware/issues/6651#issuecomment-283575626 might have spotted the problem: you don't need a valid xy world frame position/velocity to detect verticalMovement (still concidering you have a brom

[2017-04-12 09:06] julianoes commented on #7018
Am I right that this only happens when trying to flash v3 onto Pixhawk? I can't reproduce it with v2 on Pixhawk or v4 on Pixracer.

[2017-04-12 09:39] julianoes commented on #7018
Even raising the serial timeout to 3s did not resolve the issue.

[2017-04-12 09:41] ashwanisihag commented on #7023
This is qGroundControl number and PX4 with latest firmware.
Regards
--------------------------------------------
On Wed, 12/4/17, Lorenz Meier <notifications@github.com> wrote:

 Subject: Re: [PX4/Firmware] Got Waypoint below home warning with v3.1.3 (#7023)
 To: "PX4/Firmware" <Firmware@noreply.github.com>
 Cc: "ashwanisihag" <ashwanisihag@yahoo.com>, "Mention" <mention@noreply.github.com>
 Date:

[2017-04-12 09:45] ashwanisihag commented on #7023
Hi,

I was flying outdoor, set all altitudes as 8 meters, suddenly when it was approaching way point first, it landed and warning came that "waypoint below home".

Will test once more to duplicate it.

Regards

--------------------------------------------
On Tue, 11/4/17, Daniel Agar <notifications@github.com> wrote:

 Subject: Re: [PX4/Firmware] Got Waypoint below home warning with v3.1.3 (#7023)

[2017-04-12 09:55] mhkabir commented on #7002
@vinhk Use the i2c interface of Lidar Lite v3. It now works well. You might need to modify the startup script to test.

[2017-04-12 11:06] rolandash commented on #6921
Set PWM_RATE = 0 on MindRacer did not seems to enter OneShot mode properly as expected. @iZhangHui

[2017-04-12 12:53] tubeme commented on #4180
Not urgently but it is real scenario. This is applicable to Glow engines BTW. Because the gasoline engines cannot be cut with just throttle cut. We use electronic throttle cut for the gasoline engines. I think there should be some thought on combining the two. In one case for throttle cut we use electronics on some channel, and in the other case we use the throttle cut the style I explained here.

[2017-04-12 12:55] tubeme commented on #4180
Probably with a couple of parameters and the help of mixer editor we could manage combining the two scenarios - Glow engines and gasoline engines. We put both types to planes and helicopters despite helicopters mostly use glow engines. We have prototype helicopter with boxer gasoline engine.

[2017-04-12 13:09] tubeme opened #7028 "Question: Take off and landing modes."
Hello people,

Because I'm updating the UM and ready to release the modes page, can somebody clarify what is the behavior of Take off and Landing MODES for:

Take off FW:
Once activated does it spin the motor by itself?
Difference in take off from airstrip or hand launch?
Once activated or thrown it gains altitude? What altitude it gains?
After altitude gain does it get in Loiter waiting for switc

[2017-04-12 13:40] vinhk commented on #7002
@mhkabir which startup script part should I modified?

[2017-04-12 13:42] dagar commented on #3737
uorb top?

[2017-04-12 13:45] dagar commented on #4362
Let's think of a clear path forward for generalized failsafes. I think the relevant modules should provide an overall health status rather than an all knowning commander.

[2017-04-12 13:45] #4362 closed

[2017-04-12 13:46] dagar commented on #3560
@Stifael @AndreasAntener any change here?

[2017-04-12 13:48] dagar commented on #4663
Duplicate

[2017-04-12 13:48] #4663 closed

[2017-04-12 13:49] dagar commented on #4558
Still interested in this? Is the point to use that information to kill the motors?

[2017-04-12 13:49] dagar commented on #4610
Hi @JakeLeaf, did you make any progress with this?

[2017-04-12 13:50] #4784 closed

[2017-04-12 13:51] dagar commented on #5019
Did you look into why this doesn't work?

[2017-04-12 13:52] dagar commented on #4094
Is what we have in logger sufficient?

[2017-04-12 13:52] #4094 closed

[2017-04-12 13:56] dagar commented on #4931
This can still be a minor issue, but it's generally much better than it was. Let's open a fresh issue if there's more to discuss.

[2017-04-12 13:56] #4931 closed

[2017-04-12 13:57] Stifael commented on #6651
@western-co-at, I just think the problem is not the valid_xy flag. you should exit the landdetector once the sticks are above the LNDMC_MAN_DWNTHR, otherwise there is another bug.

[2017-04-12 13:58] dagar commented on #4621
Closing due to inactivity. If you're still experiencing this issue please reopen with more information (logs, etc).

[2017-04-12 13:58] #4621 closed

[2017-04-12 13:58] davids5 commented on #7018
Has anyone pulled the https://github.com/PX4/Firmware/commits/stable/Tools/px_uploader.py to see if the issue follows the tool?

[2017-04-12 13:59] dagar commented on #3245
Did we ever get a way to do this over mavlink?

[2017-04-12 14:04] ChristophTobler commented on #6499
The warning still appears on my pixracer flashed with master. Maybe 6s is not enough?

[2017-04-12 14:15] julianoes commented on #3737
I guess so :smiley:.

[2017-04-12 14:15] #3737 closed

[2017-04-12 14:16] julianoes commented on #4558
Yes, this would still be a good thing to have.

[2017-04-12 14:17] julianoes commented on #7018
@davids5 makes sense, will do.

[2017-04-12 14:19] Stifael commented on #6651
https://github.com/PX4/Firmware/blob/master/src/modules/land_detector/MulticopterLandDetector.cpp#L171-L172
_has_manual_control_present()  should be true;
_manual.z < _params.manual_stick_down_threshold should be false -> hence it should be false
 manual_control_idle || !_control_mode.flag_control_manual_enabled should also be false assuming !_control_mode.flag_control_manual is not set incorrectl

[2017-04-12 14:28] dagar commented on #7028
This might be a good excuse to expand the PX4 user guide. FW planned auto landings have improved substantially recently in QGC.

@hamishwillee FYI

Should we pick away at these items collaboratively?

[2017-04-12 14:30] julianoes commented on #7018
@mhkabir actually can you please check, cause I can barely reproduce the error unless flashing v3 on a v2 with silicon errate.

[2017-04-12 14:33] davids5 commented on #7018
@mhkabir

Please post the output from the ```ver all``` and the upload for each HW that is failing.

Also does the  https://github.com/PX4/Firmware/commits/stable/Tools/px_uploader.py not have any issues on the same set of HW?

[2017-04-12 14:46] Stifael commented on #6651
ok I got it:
it enters this line:
https://github.com/PX4/Firmware/blob/master/src/modules/land_detector/MulticopterLandDetector.cpp#L228, which returns true and therefore you stay landed.

[2017-04-12 14:49] MaEtUgR commented on #7028
@tubeme I can only speak for MC.
You can take off manually or automatically.
**Manually**
Go to position mode, arm, as soon as you raise your manual throttle stick above `LNDMC_POS_UPTHR` (default 65%) it enables all controllers and goes to hover throttle `MPC_THR_HOVER` (should be set reasonably to not have a jump). For landing just press the stick down until it is completely landed (goes through

[2017-04-12 15:12] marianobianchi commented on #4836
I'm sorry, after reporting this issue I started working in another project and didn't try again to see how to fix this. I don't know if this is still an issue.

[2017-04-12 15:34] dagar commented on #4836
Alright, thanks for the update. Please reopen if you'd like to pursue this.

[2017-04-12 15:34] #4836 closed

[2017-04-12 15:45] dagar commented on #5802
This works for me. Please reopen if you'd like to discuss debugging your setup.

[2017-04-12 15:45] #5802 closed

[2017-04-12 15:47] dagar commented on #6620
Please reopen with a log if you're able to reproduce.

[2017-04-12 15:47] #6620 closed

[2017-04-12 15:48] dagar commented on #6855
Did you find the problem?

[2017-04-12 16:01] marcelinomalmeidan commented on #6773
@dagar
I guess my question didn't make much sense. Mavros doesn't publish anything to rc/out because the outputs of snapdragon flight are not directly PWM, they are UART.

[2017-04-12 16:02] #6773 closed

[2017-04-12 16:20] vinhk opened #7031 "Has local takeoff been implemented? in gazebo that seems to be the case as it takeoff when GPS is disabled"
I tested the `commander takeoff` in Gazebo with GPS disable by `gpssim stop` and it was able to takeoff. Can anyone clarify this for me?

Thanks

[2017-04-12 16:33] TSC21 commented on #7031
Gazebo uses ground truth.

[2017-04-12 16:38] vinhk opened #7032 "Has anyone tested the offboard mavros control code?"
I am testing it with Px4flow on my Pixhawk. I also added a few lines to see if it responds to movements commands. However, it goes off higher and higher when x or y is sent. I want to send x at 25 seconds and y at 35. Here is my code:
[code]

[2017-04-12 17:15] MaEtUgR commented on #6604
I think reaching the minimal thrust is mostly the problem (did not check the logs yet). I don't understand exactly why but we had a racer that did not even reach the ground with the default landing speed because the position controller still put out too much thrust to get the drone through the ground effect...

So I know it's only a pretty bad workaround but you can try for now to set `MPC_LAND_SP

[2017-04-12 17:37] mzahana opened #7033 "Possible Bug in HIL_STATE_QUATERNION handling"
Hi,
@TSC21 and I are developing HIL plugins in MAVROS. This is to allow any ROS-compatible simulator to be used in HIL setup.

In the decoding of HIL_STATE_QUATERNION msg, in PX4 firmware, specifically the ```vehicle_global_position```,
https://github.com/PX4/Firmware/blob/ecb2511a7bbad094bff23dd95036eda0656778f0/src/modules/simulator/simulator_mavlink.cpp#L402-L413
altitude is divided by ```1E3``

[2017-04-12 18:32] vinhk commented on #7031
thanks

[2017-04-12 18:32] #7031 closed

[2017-04-12 18:47] marcelinomalmeidan opened #7034 "Update local_position/odom at higher rate"
Hi,

I am currently using the Snapdragon Flight with LPE to fuse data from Vicon with the onboard sensors.
It seems like the estimation is working (somewhat), but I can't debug very well because all I get in local_position/odom through MAVROS is an update at 2Hz.
Is there any way to change the update rate of this topic? I've seen that the SITL example with gazebo updates the same topic at 250Hz, w

[2017-04-12 19:17] tomatac commented on #6957
To help debug this issue, can somebody share a log file of a successful flight where position control was achieved (PX4FLOW + Lidar-Lire, NO GPS). I am looking to compare the parameters and the flight graphs to find out why we are now having issues. I can develop a jupyter notebook to compare the key parameters between logs side by side to make troubleshooting easier.

[2017-04-12 19:38] mhkabir commented on #7033
https://github.com/PX4/Firmware/blob/ecb2511a7bbad094bff23dd95036eda0656778f0/src/modules/simulator/simulator_mavlink.cpp#L404

Timestamp field is autogenerated. All messages have it.

[2017-04-12 19:52] mzahana commented on #7033
I see. What about lat/lon scaling?

[2017-04-12 20:22] sanderux commented on #5019
Yes, the pusher output isnt included in the calibration procedure

[2017-04-12 20:49] mhkabir commented on #7033
Yes, that looks incorrect. Can you please send in a pull request?

[2017-04-12 23:37] squilter commented on #5811
No, I was not.

[2017-04-13 00:25] dagar commented on #5811
Do you still want to? The example is mainly there to show code usage, but is out of date for SITL usage.

[2017-04-13 00:41] jgoppert commented on #6957
Sorry I haven't been more responsive, have been on a business trip. I'll
take a look soon and share one of my good logs.

On Wed, Apr 12, 2017 at 3:17 PM, tomatac <notifications@github.com> wrote:

[2017-04-13 00:42] liang-tang commented on #7021
thanks a lot, i will check it before takeoff.

[2017-04-13 00:54] squilter commented on #5811
No thanks, you can keep it closed.

[2017-04-13 01:16] bharath374 opened #7035 "Snapdragon Flight params sync and save does not work"
The following issues were observed on a very recent test of the latest PX4 code with the Snapdragon Flight platform:
- Parameters that get updated from QGroundControl do not persist across reboots. And no parameter file gets created in the /usr/share/data/adsp folder on target.
- Parameters do not sync between the apps processor and aDSP. When a parameter is updated from QGroundControl, it does no

[2017-04-13 01:18] dagar commented on #6881
@davids5 @lucasdemarchi I was playing around with git and it makes it really easy to go back and forth between commits and patch files.

For example, if you were working in a branch on top of upstream (I tagged it upstream) you could turn all commits into patches with a single git format-patch. I omitted some details like path setup.

	git format-patch upstream

	/home/dagar/git/Firmware/nuttx-pat

[2017-04-13 01:27] lucasdemarchi commented on #6881
@dagar yep. It much easier to keep the commits on a git branch. This is basically what I did on the branches pointed above. As I said the difference is basically if patches are kept as separate files or in a branch. Keeping them on a branch means we don't have to apply them at every build and avoid all headaches that this entails (see the amount of issues that this causes).

The only downside is t

[2017-04-13 01:32] davids5 commented on #6902
@bkueng https://github.com/PX4/Firmware/pull/7036 - would you please test as suggested.

[2017-04-13 01:42] bharath374 opened #7037 "Snapdragon qshell does not work"
After starting the flight stack on Snapdragon Flight, the qshell to interact with the DSP fails to launch
_pxh> qshell
Command 'qshell' failed, returned 1_

[2017-04-13 04:48] davids5 commented on #6881
@dagar , @lucasdemarchi

Please see the https://github.com/PX4/Firmware/issues/6881#issuecomment-289071535 If you both a have a` complete solution, that supports the work I have described above. Please answer the questions and provide a complete workflow with all the commands.  I need to see the end-to-end solution. The pieces are nice. But without a complete picture. I can not tell if you have co

[2017-04-13 05:21] mcharleb commented on #6573
@julianoes This is not something we will be able to support on Eagle. Please close the issue unless you think someone else has the bandwidth to work on it, and its a priority.

[2017-04-13 05:23] mcharleb commented on #5605
@julianoes This is another issue we are unlikely to fix given that the workaround seems to be sufficient. Please close unless someone has the bandwith to work on it and you think its a priority.

[2017-04-13 05:25] mcharleb commented on #5080
@julianoes This is not something we will be able to support on Eagle. Please close unless there is someone else who you think who could implement this.

[2017-04-13 05:34] vinhk commented on #6994
The lidar to pwm not fixed yet?

[2017-04-13 06:03] tomatac commented on #7002
Does the raw data from the Lidar get recorded in the flight log? I using PWM.

[2017-04-13 06:11] mhkabir commented on #7002
PWM for Lidar Lite is currently broken.

[2017-04-13 06:15] tomatac commented on #7002
Is it broken in 1.6 or the master? Is there a version where it works?

[2017-04-13 06:21] western-co-at commented on #6651
@Stifael: Thanks #7029 solved the problem in this specific case. I have tested this without props again. I have not tested this in flight if this has other unpredictable side effects.

May I close this issue?

[2017-04-13 06:40] mzahana commented on #7033
A PR is created https://github.com/PX4/Firmware/pull/7039

[2017-04-13 06:42] mzahana commented on #7033
#7039

[2017-04-13 07:01] hamishwillee commented on #7028
@dagar

Yes. Can we discuss Tuesday (I'm heading off for Easter). Have created https://github.com/PX4/px4_user_guide/issues/4 to track this.

FYI the user guide is now in the PX4 github organisation and published on gitbook here: https://docs.px4.io/en/ . Updates should be done as fork/PR. If you want to create docs early, go ahead!

[2017-04-13 08:21] anassinator commented on #6843
@matanhavi @dagar @LorenzMeier

I can confirm that flipping the sign on the declination works in Montreal (declination -14) and Zurich as well. Using `RotateVector()` instead of `RotateVectorReverse()` also fixes it. I could be wrong, but I believe the second fix makes more sense as I've tested out on a few places and the declination's sign seems to be correct:

| City | Expected Declination (deg)

[2017-04-13 08:35] julianoes commented on #5080
HITL actually works well again on Pixracer/Pixhawk, Raspberry Pi, so it should be do-able on Snapdragon. One catch is that it requires high bandwidth. For the Raspberry Pi a LAN cable can be used, for the Snapdragon that's not an option, so we'd have to check the wifi bandwidth.

[2017-04-13 08:51] julianoes commented on #6573
I don't understand this one. How would you get voltage information?

[2017-04-13 09:15] julianoes commented on #7037
@bharath374 I think you use qshell in pxh to actually do a command on the DSP side.

So you would do: `qshell gps status` and check the output with mini-dm

[2017-04-13 09:17] bkueng opened #7040 "Compile error with -Weffc++"
On current master I get the following compile error:
[code]

This is a false alarm and got introduced with https://github.com/PX4/Matrix/commit/66e1b406b8a68422135c365d42b987a64c9ddf8d

In general I agree with Scott Meyer's recommondations, but I'm starting to doubt the usefulness of the GCC flag. Also since we have clang-tidy that does similar things. @dagar what do you think?

[2017-04-13 09:59] julianoes commented on #5605
I went ahead with this before answering :) #7041.

[2017-04-13 10:10] bresch commented on #6604
@MaEtUgR You are right, the minimal thrust is the problem. In the following graph, you can see that when the drone hits the ground, the thrust only decreases slowly. This is because the altitude setpoint is defined by the actual speed and the max acceleration ([https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/mc_pos_control_main.cpp#L1066]) and when the vehicle touches the gr

[2017-04-13 12:23] tubeme commented on #7028
Thanks @MaEtUgR

@dagar Anything about the FW takeoff and landing?

[2017-04-13 13:36] dagar commented on #7040
Yes, I agree. Are you hitting this with a different version of GCC locally or a different set of flags?

[2017-04-13 13:48] bkueng commented on #7040
I currently use GCC 4.8.4, without any other local changes.

[2017-04-13 14:27] Stifael commented on #6651
yep, you may close it. you always can reopen it

[2017-04-13 14:41] #6651 closed

[2017-04-13 15:31] Stifael commented on #3560
https://github.com/PX4/Firmware/issues/6730

[2017-04-13 15:43] tomatac commented on #6957
@jgoppert Thank you! I learned a lot from this discussion. At issue #7002 @mhkabir mentioned that PWM for Lidar Lite is currently broken". I am not sure what version is he referring to. Do you use the Lidar Lite 2 or 3? I understood that is not a big difference between them.  It would be great to establish a version that works and then see what commit broke the functionality.

[2017-04-13 15:46] Stifael commented on #7032
What you mean with 25 seconds? Did you try to test it first in sitl?

[2017-04-13 15:48] vinhk commented on #7032
@Stifael once the the timing hit 25 seconds, I send the x position to see if the Pixhawk move and so on for y. I tested it in Gazebo and it worked well.

[2017-04-13 15:51] nancy03610 commented on #6957
@jgoppert Sorry, I have a quick question here. I also use LPE+PX4Flow+sonar, and got drift problem maybe because of the same poor sonar reading. Is it possible to make it work with sonar? Would you please also share a log of PX4Flow+Sonar? Thank you very much!

[2017-04-13 16:03] Stifael commented on #6876
That sounds reasonable. But how do you know hover thrust. As default it is set to 0.5, but the actual hover thrust can easily be below it. That is where the integrator comes on, which corrects for the wrong hover thrust. But you dont know that before actually being in air.

[2017-04-13 16:36] ndepal commented on #7040
Just ran into this too on OSX, GCC 4.8.4. Is there a quick fix? Where do I disable that flag?

[2017-04-13 16:48] dagar commented on #7040
Alright let's get rid of it. I need to see why the build system didn't catch this.

https://github.com/PX4/Firmware/pull/7044

[2017-04-13 17:30] #7040 closed

[2017-04-13 17:44] tomatac commented on #6957
@nancy03610 and @jgoppert it would be nice to establish a baseline that tells us in what conditions the sonar gives acceptable results. From my testing it really depends on the ground surface. Indoors, with propellers not running the tile flooring get very good results but the carpet gives very poor results. It looks like vibrations and air flow also affects the results. @jgoppert pointed out how

[2017-04-13 18:00] vinhk opened #7045 "Is QGC master code ready for EKF2 testing using Px4Flow for stable hovering?"
I am wondering if the master firmware in QGC is ready to use EKF2 for stable hovering test with Px4FLow. If not, then how about Github master firmware. Please clarify this for me so I can test this today.
Thank you

[2017-04-13 18:55] jgoppert commented on #6957
Please see this old PR https://github.com/PX4/Firmware/pull/4806. This is
the last time that I tested with sonar and at that point it was working
well.

Video:
https://www.youtube.com/watch?v=t7s8027uKZ4

Log:
http://logs.uaventure.com/view/beRXQ3uES9ctPkv2H5ymDQ

On Thu, Apr 13, 2017 at 1:44 PM, Toma Tacescu <notifications@github.com>
wrote:

[2017-04-13 18:57] mhkabir commented on #7045
There is no "QGC master" and "Github master". There is just "master" which refers to the latest code. @ChristophTobler will be able to confirm whether we have full EKF2 optical flow support on master.

Please refrain from opening multiple issues for the same topic, or we will close them.

[2017-04-13 18:57] #7045 closed

[2017-04-13 18:58] mhkabir commented on #6961
Fixed! Everything is in master now.

[2017-04-13 18:58] #6961 closed

[2017-04-13 18:59] mhkabir commented on #6998
Done.

[2017-04-13 18:59] #6998 closed

[2017-04-13 19:51] tomatac commented on #6957
@jgoppert that was impressive! The sonar input was not very good on grass but you still achieved a nice stable flight. The raw accel was low.

[2017-04-13 20:01] tomatac commented on #6957
@jgoppert do you use a PWM lidar now? Is it the Lidar-Lite? Now that I have the Lidar installed I prefer to use it. Could you please post a similar log for a Lidar based flight along with a pointer to the firmware version that worked? I would to start there, confirm that I can reproduce the results and then we can try to see at what point the present master got broken.

[2017-04-13 21:29] LorenzMeier commented on #7035
Since this is passing through muORB it would be great if someone at Qualcomm could look into this. I also think that @darioxz can help with this in the long-run. It would be great if you could share your Jenkins setup with him, as he is building a whole hardware-test farm with Jenkins right now.

[2017-04-13 22:10] jgoppert commented on #6957
I'm now using an sf10a on serial from lightware. I haven't flown without vision recently, so give me some time to get a flight in.

[2017-04-13 23:27] tomatac commented on #6957
@jgoppert Do you know if the PWM on the Lidar-Lite ever worked well in a specific commit? Also, when you mentioned vision, is that a companion computer that runs vision? Thank you, I really appreciate your help!

[2017-04-14 01:39] JohnSnowball opened #7048 "LPSP.VZ jump during POSCTL"
I made a long flight, all is right except for the altitude hold, the copter seems "floating" in height,(almost no wind), and I checked the log, and found that the LPSP.VZ is not contine from time to time. Here is the "jumping"  moment:
![default](https://cloud.githubusercontent.com/assets/18409502/25029931/3b9f9258-20f4-11e7-8a01-d0184ff61896.png)
I checked that LPOS.Z and LPOS.VZ are both correct

[2017-04-14 04:23] langxm1223 commented on #6541
@dagar Sorry for the delay.
Still the same here.
Furthermore, I also observed some nan value of the pressure variable from the sensor driver.
No clue yet, probably bug in memory copy.
Thanks.

[2017-04-14 06:37] matanhavi commented on #6843
@anassinator
you can see my notes on the prev post,
I think that in that point the simulator create new magnetic reading, "simulate" the magnetic vector, and that why sign is wrong.
I had some trouble to make PR to fix the sign, can you do it?

[2017-04-14 07:30] anassinator commented on #6843
@matanhavi I don't completely understand what you mean by that to be honest.

From my understanding, we've hardcoded the magnetic field of Zurich in the NED frame but discount the eastern component. And then we want add the declination's effect to the magnetic field as a rotation around the z axis. Now, I've verified that the declination is indeed of the correct sign above, so the issue is how we'

[2017-04-14 07:56] #5605 closed

[2017-04-14 07:58] #3212 closed

[2017-04-14 19:47] tomatac commented on #7032
@vinhk I would try a time interval in the if statement and publish x y and z. Better, I would test if you reached position within a certain threshold, also adding a condition to stop if position has not been reached in a certain time.

[2017-04-14 19:55] tomatac commented on #6994
Is there a known version/commit where the PWM input works?

[2017-04-14 19:58] lucasdemarchi commented on #6881
Basically what I'm suggesting is "Don't change your workflow, just change how patches are applied in the end".

This means that you only replace the last step on your workflow: instead of copying a `.patch` file to `PX4/Firmware/nuttx-patches` you just switch to the px4 branch on that repository and commit. Example:

a) you added a bug fix
b) you generate a patch
c) you send it to upstream
d) you

[2017-04-14 20:53] Antiheavy opened #7050 "HILstar (Xplane) model throwing sensor errors with recent PX4 Master"
I just started HIL testing recent PX4 Master firmware (with small fixed wing tweaks).  The Xplane HIL mostly works and I can get it to fly, however, I get a lot of sensor errors thrown in QGC.  I change the plane model and calibrated the sensors and then changed back to HILstar(Xplane) - still get these sensor errors.  Pics below.

Any ideas?

![image](https://cloud.githubusercontent.com/assets/12

[2017-04-14 21:48] svpcom opened #7051 "Oscillations on actuators with full thrust and roll ~ 45 degree"
HW: pixhawk (fmu-v2) + quadcopter x6
FW: px4 stable in EKF2 mode

I've found that on full thrust there are actuators oscillations with roll ~45 degree.
To ensure that is not related to frame vibration i've disconnect all engines and made a test again.
So it is easy to reproduce:
1. disconnect engines from fmu
2. arm throttle (manual mode without gps available)
3. set max throttle
4. Slowly roll co

[2017-04-15 03:09] jywilson commented on #7035
@LorenzMeier I am looking at this now.  It's a top priority problem for us.

I will update this post as I make progress.

[2017-04-15 03:11] nancy03610 commented on #7010
I changed LPE_FUSION to optical flow, pub agl as lops down, land detector, gyro compensation and fuse baro. Now it can change to position control mode, although I still don't know why. Anyway, thank you for the response.

[2017-04-15 03:12] #7010 closed

[2017-04-15 03:31] nancy03610 opened #7053 "Flow Quality drops when change mode."
I am using px4flow+sonar. I did a flight test today. My quad couldn't hold position but drifted away.
I set LPE_FUSION to fuse optical flow, fuse land detector, pub agl as lpos down, flow gyro compensation and fuse baro. I took off with manual mode then turned to position mode and stabilized mode. Neither of them could help me hold the position. I did this test outdoor, and there was a little wind

[2017-04-15 05:09] ChristophTobler commented on #6994
Yes it doesn't work after commit https://github.com/PX4/Firmware/commit/aa9fbbedd54a7a0e346ea03f439dcdf4f90c6113 as can be seen in the first comment

[2017-04-15 07:03] mhkabir commented on #6994
@ChristophTobler can you try on master again? If it still doesn't work, try changing the "pwm4" to "none" here : https://github.com/PX4/Firmware/blob/master/ROMFS/px4fmu_common/init.d/rcS#L468-L469

[2017-04-15 15:27] krunal2103 commented on #6769
@tubeme , I had the same problem of the pixhawk not getting armed. I had also used the power module to power the pixhawk. @bssung , can you just help me with what exactly did you do to solve this problem?

[2017-04-15 16:07] sanderux opened #7054 "No RC input px4fmu-v4pro_default"
On my pixhawk 3 pro i loaded todays master and noticed i wasnt able to calibrate radio as no input was detected. The radio works fine and is bound to the transmitter

@LorenzMeier who is on this?

[2017-04-15 16:12] dagar commented on #7054
Do you recall the last time/px4 version this was working?

[2017-04-15 16:14] sanderux commented on #7054
No, finaly got to soldering telemetry cables so this is my first attempt

[2017-04-15 16:24] sanderux commented on #7054
@klopezal ping

[2017-04-15 16:26] sanderux commented on #7054
same on beta branch

[2017-04-15 16:35] dagar commented on #6488
Should be fixed by https://github.com/PX4/Firmware/pull/7025.

[2017-04-15 16:35] #6488 closed

[2017-04-15 16:35] dagar commented on #6444
Should be fixed by https://github.com/PX4/Firmware/pull/7025.

[2017-04-15 16:35] #6444 closed

[2017-04-15 16:38] dagar opened #7055 "commander rewrite"
Commander has become unmanageable. After the next stable release goes out let's decide on a path forward for a rewrite or major restructuring.

@LorenzMeier @bkueng

I believe https://github.com/PX4/Firmware/pull/6750 is the only major commander work in progress.

Relevant - https://github.com/PX4/Firmware/pull/6955

**Notes and Ideas**
 - do a pass and remove everything that doesn't belong in com

[2017-04-15 18:06] schmittlema commented on #5907
I have implemented with setpoint raw and multiple type masks (below) with no success. I get the quad rolling around mostly. Setting just position or velocity works fine (given the right typemask) but not both. I am trying to auto hold a altitude while moving around via x and y velocities.  In all cases I set the velocity and positions, even the ignored ones (not that it made a difference).
coordin

[2017-04-15 18:45] shawinmihail commented on #5038
I have the same problem - empty replay_replayed file, can someone help me?

[2017-04-15 20:42] ChristophTobler commented on #6994
@mhkabir I'm currently on holidays and therefore cannot test it. But maybe @julianoes can give it a quick try on tuesday? Otherwise, I'll do it of course once I'm back.

[2017-04-16 07:27] vinhk opened #7057 "How can I check if my Lidar Lite V3 is connected to Pixhawk and receiving signals in I2C?"
I noticed that PWM is down at the moment. Can someone give me hints of checking Lidar Lite v3 data to I2C?

[2017-04-16 07:43] mhkabir commented on #7057
`nsh> ll40ls test`

[2017-04-16 07:43] #7057 closed

[2017-04-16 12:09] chuyueqiang opened #7058 "I can't run make posix_sitl_default gazebo"
hi,everybody.i want to do the gazebo simulation inferfacing to ROS,what i do is follow the page [https://dev.px4.io/simulation-ros-interface.html](url) ,but when i do the command
`no_sim make posix_sitl_default gazebo`
the console output
![image](https://cloud.githubusercontent.com/assets/13418725/25071034/02db4ba4-22e0-11e7-895c-67bae1f028ce.png)
the OS is ubuntu x64 14.04
ROS rev is indigo
gazeb

[2017-04-16 12:11] mhkabir commented on #7058
You're missing protobuf.

Fix :
`sudo apt-get install libprotobuf-dev`.

[2017-04-16 12:11] #7058 closed

[2017-04-16 12:24] chuyueqiang opened #7059 "no_sim=1 make posix_sitl_default gazebo not work"
hi,everybody.i want to do the gazebo simulation inferfacing to ROS,what i do is follow the page https://dev.px4.io/simulation-ros-interface.html ,but when i do the command
no_sim=1 make posix_sitl_default gazebo
the console output
![image](https://cloud.githubusercontent.com/assets/13418725/25071145/9baa9996-22e2-11e7-8231-06f4b02bc123.png)

the OS is ubuntu x64 14.04
ROS rev is indigo
gazebo rev

[2017-04-16 12:27] mhkabir commented on #7059
Try `sudo apt-get install protobuf-compiler` in addition.

[2017-04-16 12:28] mhkabir commented on #7059
Did you even follow this page? https://dev.px4.io/starting-installing-linux.html

[2017-04-16 12:36] chuyueqiang commented on #7059
@mhkabir yes,all the page command i have done.and the protobuf-compiler i have already installed.but i try again just now,it also doesn't work.

[2017-04-16 13:05] MartinSollie commented on #6876
I think the problem with takeoff overshoot comes from the hover throttle feedforward added in #5529023 that is not taken into account in the takeoff code:
[code]

Try something like this instead:
[code]

[2017-04-16 13:53] dagar commented on #7050
The first screenshot is QGC checking params that aren't set. Open another issue over there.

The timeout is from the PX4 sensors module and already relaxed for HIL> https://github.com/PX4/Firmware/blob/master/src/modules/sensors/voted_sensors_update.cpp#L86

@bkueng can we further increase the accel and gyro timeout for HIL?

[2017-04-16 13:56] dagar commented on #7032
Is there a PX4 issue here? If not can you ask these types of questions on discuss (http://discuss.px4.io/) or gitter (https://gitter.im/PX4/Firmware)?

[2017-04-16 13:56] #7032 closed

[2017-04-16 14:01] dagar commented on #7059
Did you install the dependencies before you tried to build the first time? I'm wondering if the gazebo build is stuck without having found the protobuf compiler. Try rebooting to make sure your path is updated. Then in the PX4 source do `make distclean`, then try to build again.

[2017-04-16 14:10] #6733 closed

[2017-04-16 16:27] scenkov commented on #6573
I updated the driver for LTC2946 power module in my GitHub repository.

https://github.com/scenkov/DriverFramework/tree/LTC2946
https://github.com/scenkov/Firmware/tree/LTC2946_on_Snapdragon_Flight

[2017-04-16 17:41] nitehack commented on #6576
@dagar We are building a safe place for the drone before doing the flight test,  so I still can not confirm if the optical flow works well.

[2017-04-16 17:53] nitehack commented on #6942
@dagar The official documentation of Mavlink says: RC_CHANNELS_OVERRIDE  "......._A value of UINT16_MAX means no change to that channel. A value of 0 means control of that channel should be released back to the RC radio_......"
Is this mechanism implemented in pixhawk firmware? I think this part does not, or I do not see it.
I need this mechanism for my project.

[2017-04-16 17:58] mhkabir commented on #6942
No it isn't, and why do you even need `RC_CHANNELS_OVERRIDE`? It is not something we'll support for controlling from a companion computer. It is a horrible way to do it. Just use Offboard control : https://dev.px4.io/offboard-control.html

[2017-04-16 18:37] DonLakeFlyer commented on #7050
I won't go into a rant about how this optional param stuff has been making be crazy for years.

[2017-04-16 22:36] lovettchris commented on #6876
Thanks, yes, when I switch the simulator to use the same PID values as the drone then the simulator also overshoots.  I tried your suggested fix and the before and after look promising (this is recorded on Pixhawk v2 running in HIL simulation mode before and after the above change, clean reboot between each recording.

![image](https://cloud.githubusercontent.com/assets/18707114/25074842/3b5db834-

[2017-04-16 22:49] LorenzMeier commented on #6876
Would be good if you could put it into a PR, yes. That's how we get changes in. The core dev team doesn't have enough bandwidth to scavenge changes off discussions and there is a lot of room for ambiguity with respect to what you exactly changed and tested.

Thanks!

[2017-04-16 23:14] klopezal commented on #7054
Are you using SBUS or PPM?

[2017-04-16 23:15] sanderux commented on #7054
SBUS
FRSKY X8R, correctly connected, working on dropix

[2017-04-16 23:27] klopezal commented on #7054
That board (V1.2) uses SBUS_INV from FMU (https://github.com/PX4/Firmware/blob/master/src/drivers/boards/px4fmu-v4pro/board_config.h#L299) to invert RC signal (XOR gate) for SBUS (the inverted signal then goes to IO processor). We have to check that the inversion is correct.

Is PX4IO loaded and working correctly?

[2017-04-17 00:42] sanderux commented on #7054
I dont know, i dont have much connected to it, only telemetry and rc
Is it working on master on your end?

[2017-04-17 00:56] lovettchris commented on #6876
[Done](https://github.com/PX4/Firmware/pull/7061).

[2017-04-17 01:56] MikeWellC opened #7063 "tailsitter after transiton to FW,can not control, has been flying straight line"
make posix_sitl_ekf2 gazebo_tailsitter successful ,select mission mode and arm,tailsitter takeoff and transition,then can not control,fly straight line.make posix_sitl_default gazebo_tailsitter also same.what's wrong,please help me!

[code]

[2017-04-17 02:46] bssung commented on #6769
@krunal2103 , you need to refer to the log file in sd card, get the detail message.

[2017-04-17 06:56] julianoes commented on #6573
@scenkov great, thanks. And does it work?

[2017-04-17 08:16] klopezal commented on #7054
What is the output of `px4io status` in console? I'll be back tomorrow morning to test.

[2017-04-17 08:47] MikeWellC opened #7066 "tailsitter drop down"
http://logs.px4.io/plot_app?log=3afcc56c-5b9d-415c-ab46-43c8fe700b6e
my tailsitter fell from the air,I adjusted this parameter FW_P_TC to 0.4 and then drop down.I have some questions.
1.What is the relationship between the magnetic field and the thrust?
I understand that thrust should not affect the magnetic field.is it?
2.What is the reason my tailsitter is falling off?
3.How should I adjust the

[2017-04-17 09:05] sanderux commented on #7054
[code]

[2017-04-17 09:21] nitehack commented on #6942
@mhkabir I want to mix RC Control with decision of a computer to avoid obstacles. How fast is it to turn on and turn off "offboard mode"?

[2017-04-17 12:04] mhkabir commented on #6942
Yes it is possible. Read the page. You'd want to forward commands from your RC to the flight controller only via offboard.

[2017-04-17 19:33] schmittlema opened #7068 "Setpoint raw issues Mavros ROS"
This is based off of issue (https://github.com/PX4/Firmware/issues/5907) which is closed but I still can't get to work.

I have implemented with setpoint raw and multiple type masks (below) with no success. I get the quad rolling around mostly. Setting just position or velocity works fine (given the right typemask) but not both. I am trying to auto hold a altitude while moving around via x and y v

[2017-04-18 00:57] #6501 closed

[2017-04-18 00:57] #6820 closed

[2017-04-18 00:59] dagar commented on #7063
I can look at this tomorrow. I'm guessing it's easy to reproduce, but if you have any logs to share they might be helpful.

[2017-04-18 01:06] MikeWellC commented on #7063
thank you,sitl where is the logs location? @dagar

[2017-04-18 01:08] dagar commented on #7063
They're buried in the build directory (rootfs/fs/microsd/log/2017-04-17). It's probably easier to just do `find . -name *.px4log`
Uploading to http://logs.uaventure.com/ is a good way to share.

[2017-04-18 01:30] lucasdemarchi commented on #6881
@dagar why did you close this?  This issue is about changing the workflow, not about was committed on #7007.  I'm waiting on feedback from @davids5

[2017-04-18 01:35] dagar commented on #6881
This was referenced (and closed automatically) by #7007 because the original reason this was opened was my suggestion to replace our custom NuttX build wrapper with cmake ExternalProject_Add.

Reopening.

[2017-04-18 01:50] Rain6511 opened #7071 "CANN'T make px4fmu-v5_default SUCCESSFULLY.---src/firmware/nuttx/firmware_nuttx uses VFP register arguments..."
Hello:
I git clone the YUNEEC/Firmware, and can make px4fmu-v1_default to px4fmu-v4_default successfully,but when I make px4fmu-v5_default ,it can build all the file ok except link the files.

The error information is below:
/usr/lib/gcc/arm-none-eabi/4.9.3/../../../arm-none-eabi/bin/ld: error: src/firmware/nuttx/firmware_nuttx uses VFP register arguments, /usr/lib/gcc/arm-none-eabi/4.9.3/../../..

[2017-04-18 01:50] Rain6511 commented on #7071
I solved the problem now.My Ubuntu is 16.04 LTS,

    I remove the original gcc "sudo apt-get auto-remove gcc"
    Install gcc again."sudo apt install gcc"
    according to the website : https://dev.px4.io/starting-installing-linux-boutique.html , execute command below:

pushd .
cd ~
wget https://launchpad.net/gcc-arm-embedded/5.0/5-2016-q2-update/+download/gcc-arm-none-eabi-5_4-2016q2-20160622-li

[2017-04-18 01:50] #7071 closed

[2017-04-18 01:58] davids5 commented on #6881
@lucasdemarchi

We have the ordering issue resolved now.

I think what you are proposing is only applicable to the non development version (current) of NuttX. Right?

It does not make the workflow I have for "upstream" work the same. This means I still have to carry a set of commits or patches to support rejected and wip.  In the case of commits - I would have to constantly rebase the affected Nut

[2017-04-18 02:48] lucasdemarchi commented on #6881
Not really. It applicable to easily manage multiple versions/branches of NuttX.

You don't really have to rebase. Merge and/or revert still work. Note that we are not changing the NuttX revision for very long times, so I don't see where this "constantly rebase" is coming from. Looking at the log, the last time we synced with upstream was in 07923a8 (Upgrade to Nuttx 7.18+ ==upstream)

[2017-04-18 02:56] MikeWellC commented on #7063
this is a log i just done ,tailsitter just respond to "Emergency stop".
http://logs.uaventure.com/view/xfVo2M6TQjySFP6FFviu3R @dagar

[2017-04-18 03:16] anuppari commented on #6873
I think it's both. PX4 should definitely handle offboard better in this kind of scenario where two attitude setpoint messages are sent, each with different fields masked out. But mavros (or px4) should definitely have better documentation that if one is trying to do complete offboard control, and therefore would necessarily need to set both attitude and thrust setpoints, they should use setpoint_r

[2017-04-18 07:11] nitehack commented on #6942
@mhkabir To control the UAV in offboard mode the way I thought it is:
-Read RC Channels
-Use SET_ACTUATOR_CONTROL_TARGET

Is this correct? Is there a faster way to control the UAV in offboard mode?

Thank you very much for your help.

[2017-04-18 07:25] hamishwillee commented on #6913
@dagar we've now got both DevGuide and User guide "places" for the parameter reference:

DevGuide: https://dev.px4.io/parameter_reference.html
User Guide: https://docs.px4.io/en/advanced_config/parameter_reference.html

So feel free to auto-update these spots whenever you like! The repos are both under PX4 org.

[2017-04-18 07:34] mhkabir commented on #6942
Yes. What do you mean by "faster"?

[2017-04-18 07:50] nitehack commented on #6942
With "faster" I mean another way to map RC channels that requires less time. (The time from which you are ordered to move the UAV until the pixhawk executes the command)
Sorry for my english

[2017-04-18 08:13] mhkabir commented on #6913
Moving the auto-update to next release since we already have the baseline functionality needed.

[2017-04-18 08:57] bkueng commented on #7050
Sure. Increase to however large is needed. But if there's really so much jitter, flight behavior will be affected negatively.

[2017-04-18 09:15] Stifael commented on #6604
@bresch
see https://github.com/PX4/Firmware/pull/6735 for similar discussion

[2017-04-18 09:26] Stifael commented on #6604
@bresch:
obviously increasing the min thrust and vel_max_z is  not the solution, even it might hide the bug. monitoring the velocity is one solution, but I think there is a  an actual bug in the code that prevents the vehicle to go down entirely

[2017-04-18 09:50] Stifael commented on #6604
![landing_when_go_down](https://cloud.githubusercontent.com/assets/13449161/25124548/55d68d80-242c-11e7-8613-0d7edb7dc958.png)
 MPC_VEL_MAX_DN is set to 0.1. orange is thrust, purple is the estimated velocity. when the vehcile hits the ground, the estimtaed velocity becomes negative instead of zero. although this would help to bring the thrust down more quickly, I dont understand why the estimatio

[2017-04-18 10:54] mhkabir commented on #6803
@LorenzMeier @pavel-kirienko Is the GNSS firmware fix satisfactory? Can we close this?

[2017-04-18 11:08] bresch commented on #5870
" > perhaps it should add some throttle, wait to seewhat the ground speed does, add a little more, etc "

@sanderux Something like a simple integrator controller?

[2017-04-18 11:42] Stifael commented on #6604
in sitl, from this log: http://logs.px4.io/plot_app?log=d96f06d1-8e65-4643-b702-b99176f5ed93
The max downward speed is set to 0.2. however, even demanding full downard speed, the vehicle does not move at all because it already thinks that it reached the max speed. when letting go the stick, the vehicle increases in altitude slightly.
I think there are two weird things that I dont understand:
1.) w

[2017-04-18 12:07] mzahana commented on #7048
I would like to report a similar situation. I have faced this several times using both LPE and EKF3, and using Lidar lightware as range sensor. Recently, I was flying F550 frame with master branch v1.6.0, but without Lidar, only GPS and baro for altitude estimation. I was using EKF2, and was flying fine for couple of lights in Manual/ALTCTL/POSCTL modes. In the last two flights, after 4 successful

[2017-04-18 12:11] bresch commented on #6604
'> 2.) when letting go the stick and we already know that estimation is off, why then does the vehicle not increase in altitude? '

From my understanding, when you let go the sticks, the altitude controller will be engaged and set to the current altitude and will maintain the quad to the correct altitude even if the velocity is slightly wrong.

[2017-04-18 12:30] MaEtUgR commented on #7051
Thanks for your report, I see your point there in the log!
I suppose your drone flies normaly with hover thrust here. First I thought you may have vibrations or other effects like steeper motor input to thrust curve with higher throttle that leeds to control loop oscillations.
But your log seems to reveal some weird mixer limiting bug on full throttle... We need to track this down.
What do you thi

[2017-04-18 12:53] Stifael commented on #6604
@bresch, yep thats true. that would explain the 2.)

[2017-04-18 14:02] dagar commented on #7050
Does it happen continuously, or just after the initial connection?

[2017-04-18 14:15] devbharat commented on #6604
@Stifael We've solved this issue (or tried to handle estimation error on LPOS_VZ when landing) by not just controlling the constant LPSP_VZ, but using a slow integral based on error in altitude (LPSP_Z - LPOS_Z) where LPSP_Z is moved downwards at LPSP_VZ speed. It needs careful implementation, but works very well. (LPOS_Z seems to not have estimation errors like LPOS_VZ).

[2017-04-18 14:19] pavel-kirienko commented on #6803
@mhkabir works for me.

[2017-04-18 14:22] mhkabir commented on #6803
@AndreasAntener Can you please cross-test?

[2017-04-18 14:26] svpcom commented on #7051
@MaEtUgR Yes, i'm not flying with 45deg roll, but i'm doing a test "in hands" before flying. I've upgraded my copter with ESC that have active braking feature (opposite to ordinary esc which reduce rpm via removing power and air braking) and found that engines became "clicks" when I do aggressive stick movements on full throttle. I've repeat a test without control actions and found that there are

[2017-04-18 14:39] Stifael commented on #6604
@devbharat thank you for the explanation, that could work (or already does in your case).
By the way, the estimation for LPOS_Z can be off by several meters, but since you use the error in altitude that does not matter.
I will consider your solution, but I am still curious why the estimation in vel_z is not doing better, even in sitl

[2017-04-18 14:56] devbharat commented on #6604
@Stifael We had estimation errors right after back transition as accel bias in body_x(cruise nose direction) were being learnt in Cruise and the suddenly after back transition to Hover were being used for LPOS_Z estimation. There was also some issue with not Mag alignment(hardware mag placement aligned with Pixracer) not being perfect, and velocity innovations were quite sensitive to the magnetome

[2017-04-18 15:08] Stifael commented on #6855
not found yet, but the transformation seems not consistent.

[2017-04-18 16:08] julianoes commented on #2122
@bkueng FYI this is about actuator groups :)

[2017-04-18 16:13] julianoes commented on #5934
@AndreasAntener Is this still an issue?

[2017-04-18 16:14] MaEtUgR commented on #7051
@svpcom ok, got it. Looking at the log I can see the sudden motor output dropouts with always full throttle. Currently I think it is a corner case in the multicopter mixer: https://github.com/PX4/Firmware/blob/master/src/modules/systemlib/mixer/mixer_multirotor.cpp#L215
In principle like it's implemented now it should not drop the throttle no matter what rotation input you give. But when you tilt

[2017-04-18 16:21] #6660 closed

[2017-04-18 16:22] sanderux commented on #6712
Can't reproduce on my pixhawk pro

[2017-04-18 16:24] julianoes commented on #6711
This should work again: https://dev.px4.io/en/simulation-hitl.html#using-jmavsim-quadrotor.

[2017-04-18 16:24] #6711 closed

[2017-04-18 16:25] julianoes commented on #5609
@mhkabir let's close it. @mswingtra if this is still an isuse, please re-open.

[2017-04-18 16:25] #5609 closed

[2017-04-18 16:29] MaEtUgR commented on #6366
Honestly I did not test this again. But as I'm looking into user friendly flight without GPS anyways at the moment it will go on the test plan again.

[2017-04-18 16:32] dagar commented on #3874
@DonLakeFlyer is this still an issue?

[2017-04-18 16:33] sanderux commented on #6712
Manually changing the CAL+MAG_XOFF did indeed crash the FC

[2017-04-18 16:34] MaEtUgR commented on #4819
https://github.com/PX4/Firmware/pull/7061 related?

[2017-04-18 16:36] DonLakeFlyer commented on #3874
If nothing has changed on the firmware side I would assume so.

[2017-04-18 16:38] dagar commented on #4954
Hi @RizHuang can you try this again and reopen if it's still an issue?

[2017-04-18 16:38] #4954 closed

[2017-04-18 16:41] sanderux commented on #5290
@jgoppert can you do something with this or do we close it as failing hardware?

[2017-04-18 16:42] dagar commented on #4782
@tumbili was this ever resolved?

[2017-04-18 16:42] julianoes commented on #5757
The tests are based on XCode 8 and we don't have the bandwidth to support anything else. Thanks for the patch in case someone else runs in the same issue.

[2017-04-18 16:42] #5757 closed

[2017-04-18 16:49] sanderux commented on #6943
ESC calib uses a fixed time to go from PWM high to PWM low, but not every ESC uses the same time between beeps to allow calibration. To make this work we would need a parameterized value for this and configure it per model

[2017-04-18 16:54] sanderux commented on #6712
@klopezal could you have a look

[2017-04-18 17:31] davids5 commented on #6881
@lucasdemarchi see

https://github.com/PX4/Firmware/tree/master_nxphlite (I have commited the latest there yet as the HW is in WIP)

It flops between:
https://github.com/PX4/PX4NuttX/commits/upstream
and
https://github.com/PX4/PX4NuttX/tree/upstream_kinetis

[2017-04-18 18:47] patoMuerto commented on #6602
I am encountering this error as well.

I am running Ubuntu in VirtualBox on a Mac host.  After reading this issue (https://github.com/PX4/Firmware/issues/5703) and the link describing TSC, I forced the sitl to run on a single cpu by adding taskset to sitl_run.sh.  Below is the echo of the appended command.

[code]
I have not fully tested this but I have not seen the error since.

[2017-04-18 19:50] scenkov commented on #6573
Yes it work.

[2017-04-18 19:51] mhkabir commented on #7020
Fixed in https://github.com/PX4/Firmware/pull/7074

[2017-04-18 19:51] #7020 closed

[2017-04-18 21:07] Stifael commented on #7048
@mzahana the second sounds similar to that https://github.com/PX4/Firmware/issues/6604
The first one seems to be mc_pos_,control problem..

[2017-04-18 21:09] bresch commented on #6604
@Stifael Do you only have the velocity estimation issue on sitl or also on the real hardware? Because I checked my logs and my velocity converges correctly to the gps velocity.
It looks like a tuning issue and I'm not sure if it's a good idea to implement a "hack" if it could work the right way with better tuning.

[2017-04-18 21:19] Antiheavy commented on #7050
Sensor TOUT warnings happen:

- sometimes with initial connection, but not always.

- almost always when attempting to Arm/takeoff.
![image](https://cloud.githubusercontent.com/assets/12117027/25152910/3fbad8b6-2450-11e7-93a3-7759b6381529.png)

- occasionally throughout the HIL flight, sometimes when uploading missions.
![image](https://cloud.githubusercontent.com/assets/12117027/25153035/b68a393c

[2017-04-18 22:12] priseborough commented on #6604
@bresch  A recurring problem with SITL has been that the vehicle simulation and FMU simulation are not synchronous which causes problems with IMU integration errors if the simulation is not able to keep up. This is particularly an issue when running the gazebo sim on slower platforms.

@Stifael Adding an integrator as @devbharat  suggests is a short term fix, but I think that longer term we should

[2017-04-18 23:00] jgoppert commented on #5290
Probably best to close it.

[2017-04-19 04:58] #5290 closed

[2017-04-19 05:14] ecmnet commented on #5290
@jgoppert Just a remark from my side. I had some similar issues regarding LPE's Z estimation relying on LIDAR only. It was in all cases the same reason. LIDAR estimation faulted, but did not recover (at least fast enough) and my quad crashed into the ceiling. I don't know, why the LIDAR estimation did not recover, as the raw LIDAR measurements were ok, but I noticed e.g. some dependencies on prope

[2017-04-19 05:18] Stifael commented on #6604
@bresch: im not planning on implementing  anything yet, thats why I want to know why the estimation was off.  I saw that you dont have the issue, but fact is that we flew other vehicles where we were not able to land unless we increases the landing speed, similar to sitl. I probably shoud not have put it here, but when I was trying to replicate the problem I found the oddness. I actually first als

[2017-04-19 06:37] hamishwillee commented on #7028
@dagar OK, so I'm starting this from "first principles" - improving/expanding out the flight modes docs (at the moment this looks like the screenshot below and will live as a peer of [this Follow me mode doc](https://docs.px4.io/en/flying/flight_mode_follow_me.html)). Once we have those we can link from various places to explain the behaviour.

I have some questions below the screenshot below. I a

[2017-04-19 07:03] devbharat commented on #6604
Let me summarize this from my side and exit:
1. The issue we faced (and apparently many of you are facing) is that while landing velocity tracking is working perfectly fine, and still the aircraft does not land. This is because the velocity estimate has an offset.
2. If you look at the corresponding position estimate, you would see that it is not decreasing. ie. the estimator knows that the aircra

[2017-04-19 07:25] julianoes commented on #6573
@scenkov awesome. It would be great if you could make a pull request with your changes.

[2017-04-19 07:41] priseborough commented on #6604
@Stifael My understanding is that  using 'just velocity control' is a problem if the demanded velocity is less than the velocity error. The end result is that the vehicle does not descend.

As for estimation 'working correctly', of course we will take care with the estimator to reduce the effect of sensor errors, but if the vehicle cannot land due to a vertical velocity error of 0.3 m/s (rememberi

[2017-04-19 08:09] Stifael commented on #4819
So I have kind of first solution, but need to check for corner cases since the entire auto takeoff is kind of a mess.
@LorenzMeier: there is however still an issue (also with the current master), that the mc_pos_control and the navigator are not in sync. this means that the mc_pos_controller finishes its takoff, but the navigator remains in the takoff mode. that means that the user has to switch t

[2017-04-19 08:21] LorenzMeier commented on #4819
That's not actually the case. If you do a takeoff as an action staying in thst mode is fine and in fact for fixed wing more desirable.

If you do it as Auto mission it will continue with the next item.

We need to focus here on fixing the takeoff ramp / state machine. One thing at a time and iterate fast.

[2017-04-19 08:48] mzahana opened #7078 "OSD on TELEM1?"
Hi,

I know there is options in QGC to setup TELEM2 port to send OSD data. However, some people use it as a companion link at 921600, and keep TELEM1 for telemetry. However, I can not see options to send OSD via TELEM1. It would be more flexible to have options parameter for TELEM1 just like TELEM2.

Thanks.

[2017-04-19 08:53] MaEtUgR commented on #7048
The accelerometer z-direction does not clip, just to rule this one out...
![accz_not_clip](https://cloud.githubusercontent.com/assets/4668506/25171500/5718e31a-24ee-11e7-8c77-4115e3e00c3c.JPG)

[2017-04-19 09:14] sanderux commented on #7028
In the case of VTOL:

- The vehicle returns to home in the mode it is currently in (FW or MC)
- The vehicle transitions back to MC
- Dependent on the LAND_DELAY param it will either loiter there or land

[2017-04-19 09:47] Stifael commented on #6604
@devbharat

that would be the velocity.

you are completely correct that your solution is a complete valid solution. but why should the mc_pos_control be involved in that? I prefer to keep the mc_pos_control simple (its already doing way too many things), which means that it should just receive setpoints and current estimates.

@priseborough : even if the velocity error is small, the integrator sh

[2017-04-19 11:20] hamishwillee commented on #7028
Thanks @sanderux - very useful. W.r.t. to the statement "Dependent on the LAND_DELAY param it will either loiter there or land" is it more accurate to say that the vehicle will perform and ordinary MC RTL landing based on the parameters? The difference being that if this is the case then we can say that the vehicle should also respect the RTL_DESCEND_ALT value.

Also, do you happen to know what th

[2017-04-19 11:24] devbharat commented on #6604
@Stifael when position estimate and velocity estimate from the estimator do not agree(like in this case when the velocity estimate has an offset), then the rate of change of position estimate is different from velocity estimate.

For example, in the flight plot below, look at LPOS_Z and LPOS_VZ. LPOS_VZ is consistently >0 and yet the LPOS_Z estimate stays at the altitude. Look also the range senso

[2017-04-19 11:42] hamishwillee commented on #7028
Also @sanderux do you happen to know the LAND mode VTOL behaviour?

[2017-04-19 11:56] bresch commented on #7021
@liang-tang  Any news?

[2017-04-19 12:11] Stifael commented on #4819
@MaEtUgR will take over

[2017-04-19 12:34] liang-tang commented on #7021
everything works well.

[2017-04-19 12:39] #7021 closed

[2017-04-19 12:59] MaEtUgR commented on #6366
Today I tried this again by executing `gps stop` in the shell between flights.
There was a beep, the LED turned blue again and position was not available anymore. QGC still showed high GPS accuracy which is not nice but is probably because the topic did not get updated anymore....
Surprisingly after `gps start`ing again the modes stayed unavailable.

[2017-04-19 12:59] #6366 closed

[2017-04-19 13:27] bresch commented on #7063
I tried and have the same issue. My mission works with the standard VTOL but fails with the tailsitter.
It's acknowledging the commander commands but nothing works when in FW mode. Back transition isn't possible. As MikeWellC said, it just responds to Emergency stop.

[2017-04-19 13:39] deksprime commented on #6106
Sometimes, we also experience  problems when switching to offboard mode. In this log, when you look at local position x, y and z, you can see a random setpoint assignment for a very small time frame and then the setpoint comes back to original local position values, which it was supposed to directly apply when switched to offboard mode. Here is the log:

http://logs.uaventure.com/view/LMZkMnjXTgVA

[2017-04-19 14:26] junhohan commented on #4544
A Great feature! @bkueng saved me!!

[2017-04-19 14:35] Stifael commented on #6604
@devbharat I got your point from the beginning.

I really understand what you mean, already the first time you mentioned that. I think where we dont agree on is about how to deal with it.

[2017-04-19 15:48] ecmnet opened #7083 "LPE/MC_POS_CTL: Altitude hold fails after LIDAR fault without recovery"
Being in ALTHOLD and trying to keep the quad at the same position manually (latest master, PixRacer, LPE)  at about 1m for several seconds, the quad shoots up in the air, without any further response to the sticks. To avoid further climb, I had to switch off by the kill switch causing the vehicle to crash, which disconnected power. Although log should have been written to log004.ulg, it has not be

[2017-04-19 16:04] Stifael commented on #3560
I will close it since it is discussed here #6730

[2017-04-19 16:04] #3560 closed

[2017-04-19 21:11] jywilson commented on #7035
@LorenzMeier
This problem is fixed in PR: https://github.com/PX4/Firmware/pull/7084

[2017-04-19 21:56] lovettchris opened #7085 "px4fmu_V2 upgrade issue: nsh: vmount: command not found"
When I upgrade the firmware on my Pixhawk v2 to the latest bits (sync'd today), clean clone, & build of master branch, make px4fmu-v2_default, I get the following boot error:
[code]
This happens on multiple pixhawks.  If I go back to latest stable build using QGroundControl then it boots fine.

Curiously if I add the drivers/vmount driver in the cmake/configs/nuttx_px4fmu-v2_default.cmake, then it

[2017-04-19 22:12] priseborough commented on #7055
In addition to the above notes and ideas:

- A specification for the intended state machine logic is created and reviewed before we start coding.
- Documentation is significantly improved on current practice. All class variables should be documented. The definitions of variables used for navigation states and transition events  are particularly important.
- Transition events are represented at the

[2017-04-19 23:09] mcharleb commented on #7055
+1 for "A specification for the intended state machine logic is created and reviewed before we start coding"

[2017-04-19 23:34] priseborough commented on #6604
Something I can look at on the estimator side is provide the option in the output predictor for a vertical velocity that is kinematically consistent with the height. This will increase the effect of baro noise and position errors on height keeping but would enable use of a 'velocity only' control strategy.

[2017-04-20 05:25] dagar commented on #7078
Does an OSD work with the default telemetry configuration on 1? That's 57600 baud and the "normal" set of messages.

[2017-04-20 05:37] bkueng commented on #7085
Fix is in  #7088, if there's enough Flash.

[2017-04-20 06:29] #7085 closed

[2017-04-20 07:01] mzahana commented on #7078
What I know is that TELEM1 does not send OSD.

[2017-04-20 08:18] ecmnet commented on #7083
Update: Leaving the vehicle on ground for a while (land detector not activated) and then rising it up manually produces the following effect:

2017-04-20 10:12:01.261: [6] [lpe] lidar init: mean 20 cm stddev 11 cm
2017-04-20 10:12:01.362: [6] [lpe] lidar fault,  beta 328.16
2017-04-20 10:12:23.564: [6] [lpe] lidar timeout
2017-04-20 10:12:39.762: [6] [lpe] lidar init: mean 29 cm stddev 19 cm
2017-

[2017-04-20 08:52] chuyueqiang opened #7089 "FCU:[lpe] gps fault 0.00120141 0.904114 0.156308 0.10"
hi,everybody,i just simulate the in the ros and gazebo,use the command
make posix_sitl_default gazebo
then i use the QGC to make the MAV arm and takeoff, but after send the takeoff command the MAV takeoff and dropped ,the mavros log shows FCU:[lpe] gps fault 0.00120141 0.904114 0.156308 0.10
please help me ,thank you!

[2017-04-20 09:45] MaEtUgR commented on #6604
@priseborough Not sure what you mean by output predictor, will it then just be hardcoded output different from the actual estimated states?

I know there is a clear tradeoff between accelerometer and barometer measurements. I guess barometer is used in measurement update of the altitude state and accelerometer is used in measurement update of the vertical velocity state.

But why is the model whic

[2017-04-21 00:32] imcnanie opened #7094 "Changing PX4IO_SERVO_COUNT to 12 bricks Pixhawk?"
Hello, I changed PX4IO_SERVO_COUNT from 8 to 12 in px4io.h and it permanently bricked my px4 servo outputs. I tried this again on my second pixhawk, and it bricked that one too!

It still connects to QGC, but even after programming it with ardupilot and px4, there is still nothing on the servo outputs. Why is this? For context, I am working on using the AUX channels controlled by px4fmu as 4 extra

[2017-04-21 00:51] jgoppert commented on #6957
The last time I tested that config personally was about a year ago but I'm pretty confident that it is fine. @ecmnet any input? Yes I'm having a companion computer send the vision updates.

[2017-04-21 04:01] JohnSnowball commented on #7048
@MaEtUgR  LPSP.VZ doesn't depend on accel.z, and lpos.z estimated based on accel.z is continue,

[2017-04-21 08:01] KJNKJNKJN opened #7096 "How to exchange the baud of telem2 from 57600 to 1152000."
i

[2017-04-21 09:54] sanderux opened #7097 "FW pitch limit doesn't consider pitch setpoint offset"
FW_P_LIM_MAX and FW_P_LIM_MIN are applied before FW_PSP_OFF

Example params:
FW_P_LIM_MAX =  25
FW_P_LIM_MIN = -25
FW_PSP_OFF = 5

Actual behavior:
Maximum pitch = 30
Minimum pitch = -20

The same most likely applies to roll

ping @dagar @AndreasAntener

[2017-04-21 10:23] mhkabir commented on #7096
Set `SYS_COMPANION` from QGC.

[2017-04-21 10:23] #7096 closed

[2017-04-21 10:24] mhkabir commented on #7094
I think force-reflashing the IO board should fix it.

[2017-04-21 10:48] LorenzMeier commented on #7094
To that, press the safety switch, then power on the Pixhawk, then let it go. It should auto-update

[2017-04-21 11:35] #7097 closed

[2017-04-21 15:52] tomatac commented on #6957
@jgoppert tanks. It looks like the pwm was broken on the master. I will watch for an update, try older firmware and report back. Now I am traveling so I will test in about a week.

[2017-04-21 17:28] paan2097 commented on #6699
I want to do multiple planes in SITL using PX4 using this file:
https://github.com/PX4/Firmware/blob/master/Tools/sitl_multiple_run.sh
Two instances of PX4 are started but reach this line:
Please start the flight simulator to proceed..
I want to connect to these two px4 sitl instances using dronekit scripts....but it is telling me I need to start a gazebo...How do I create either two gazebos, or e

[2017-04-21 21:42] tops4u opened #7103 "AUX Broken on Master"
I have set the Camera Trigger to use GPIO on Pin 3 some time ago, but never actually never used the camera trigger.

I installed Master today and then my AUX Ports stopped working all exhibiting 0us PWM. Then I set the Camera trigger back to PWM and removed all Trigger Pins just after this the AUX Outputs gave a PWM Signal.

IMHO it should be possible to use a few pins as camera GPIO Pins and keep

[2017-04-22 10:02] sanderux commented on #7103
@mhkabir
related to https://github.com/PX4/Firmware/pull/6973 ?

[2017-04-22 10:19] mhkabir commented on #7103
No, this is by design.

If you want to use the AUX pins as actuator outputs, and at the same time want to use triggering, you need to use trigger on pins 5 or 6 due to how the timers can be used on the hardware.

I will document this in the user guide soon. Waiting to construct a full mapping setup, so that I do the docs for trigger + geotag in one go.

[2017-04-22 10:19] #7103 closed

[2017-04-22 13:05] HuguesD opened #7105 "Latest 1.6.0 RC release not supported on Pixhawk 3 Pro board (Drotek)"
Hello,

Just got a recently produced Pixhawk 3 Pro board from Drotek. The following error happens when attempting to load the firmware (px4fmu-v4_default.px4)
"downloaded firmware board id does not match hardware board id: 11!=13"

I'm aware that board id 11 is a pixracer board. Board id of the Drotek PixhawkV3 is 13. what firmware is compatible with this board id 13 ?

![sans titre 1](https://clo

[2017-04-22 13:16] mhkabir commented on #7105
You need the `px4fmu-v4pro_default` target. `v4` is Pixracer.

[2017-04-22 14:06] HuguesD commented on #7105
Hello Kabir,

Thx.

where can I find this version of the firmware, It is not on Github with the other PX4 firmwares ?

De : Kabir Mohammed [mailto:notifications@github.com]
Envoyé : samedi 22 avril 2017 15:16
À : PX4/Firmware
Cc : HuguesD; Author
Objet : Re: [PX4/Firmware] Latest 1.6.0 RC release not supported on Pixhawk 3 Pro board (Drotek) (#7105)

You need the px4fmu-v4pro_default target. v4 is

[2017-04-22 14:08] mhkabir commented on #7105
The Pixhawk 3 Pro is not fully supported by the user-facing side of things yet. It is a developer system and is actively being worked on and fixed.

You can build and flash the firmware from the repo. Instructions here : https://dev.px4.io/en/

[2017-04-22 14:08] #7105 closed

[2017-04-22 14:29] sanderux commented on #7028
@hamishwillee The LAND part in RTL for a VTOL is in essence no different from MC indeed, it respects the same parameters. As for the RTL alt, it will fly at that altitude towards home.

LAND mode looks at the param VT_NAV_FORCE_VT, when any type of landing is commanded in fixedwing and the vehicle has the parameter set it will always switch back to MC first and then land. If this param is disabled

[2017-04-22 15:32] HuguesD commented on #7105
thx

[2017-04-22 16:37] davids5 commented on #6794
@zouboan I am closing this. If it still an issue please feel free to reopen

[2017-04-22 16:37] #6794 closed

[2017-04-22 17:11] davids5 commented on #7018
@mhkabir - any progress?

[2017-04-22 20:08] #6974 closed

[2017-04-23 01:09] kevinlyu1 opened #7108 "Lidar lite v3 sensor data integration problem"
I am currently working with the px4 and lidar lite v3 and can't seem to figure out how to get the lidar lite v3 to be fused with the altitude_local. I can see the lidar lite v3 data on the ALTITUDE.bottom_clearance, but it isn't being used. Does anyone know how to fix this?

I went through the nsh and was able to see the data through this method as well.

[2017-04-23 03:16] weiweikong commented on #6106
@deksprime Correct. We set the rotors on the ground then switch to OFFBOARD mode,  then there is a sudden jump even though the OFFBOARD set local position is set to the same position.

[2017-04-23 05:17] fernandourrets commented on #5651
Hello!!!! I've the same problem's Ruyi7952!!!! Please help me out!!!!! I'm working three days ago!!!! I'm so tired, please!!!!!!!!!!!!!!!! I don't want to give up!!!!! I just want to use the simulator!!!! Thanks a lot for your answer. Fernando

[2017-04-23 08:04] mhkabir commented on #7018
@davids5 Sorry about that - I missed your message. Will test tomorrow and get back to you.

[2017-04-23 08:08] #6803 closed

[2017-04-23 10:41] mhkabir commented on #4797
@bresch Can you please have a look at this.

[2017-04-23 13:04] LorenzMeier commented on #4797
Changing this for the next release as a breaking change - not for this one.

[2017-04-23 13:05] LorenzMeier commented on #7018
I see this only with `make upload px4fmu-v3_default` on old HW (which has the silicon errata). @mhkabir does this happen on new HW as well? Can you share the output of `ver all`?

[2017-04-23 13:08] LorenzMeier commented on #7048
@priseborough Can you please chime in and inspect the log?

[2017-04-23 13:40] mhkabir commented on #7018
Yes this happens on new hardware as well. All of the boards which I reproduced this on had no silicon errata. Will share `ver all` tomorrow.

[2017-04-23 13:50] LorenzMeier opened #7109 "Test and document camera test trigger"
We should make sure that this button in QGC daily works:

![f7c1481a-2026-11e7-85f2-75d55a8858bd](https://cloud.githubusercontent.com/assets/1208119/25314056/82bd9cbc-283c-11e7-8fd4-3d1c1a52cc2e.png)

I have verified that the command arrives here:
https://github.com/PX4/Firmware/blob/3fda79ef8b05493ded0037c6bc5305f2b2563f72/src/modules/mavlink/mavlink_receiver.cpp#L171-L184

Needs further tracing

[2017-04-23 13:59] LorenzMeier commented on #7109
When this gets fixed it should work again: https://github.com/mavlink/qgroundcontrol/issues/5045

[2017-04-23 15:23] dagar commented on #5651
@fernandourrets have you tried PX4 master?

[2017-04-23 19:09] mzahana opened #7112 "Include I2C option for Lidar Lite v3"
Hi,

I noticed that the option to enable Lidar Lite is still PWM. However, it does not work, and I think it's broken. I've seen some cases where Lidar Lite v3 worked on I2C, but the ```rsC``` file had to be modified here,
https://github.com/PX4/Firmware/blob/master/ROMFS/px4fmu_common/init.d/rcS#L743

Since Lidar Lite v3 is taking over v2, and it works on I2C, then I think it's better to modify th

[2017-04-23 19:34] mhkabir commented on #7112
Can you please add an option to the parameter [`SENS_EN_LL40LS`](https://github.com/PX4/Firmware/blob/master/src/modules/sensors/sensor_params.c#L3233-L3240) ( = 2 ), such that the startup script starts the I2C driver when set to 2. Leave in the PWM startup option for now.

Make sure you add the metadata to the param file properly, such that QGC can display the options. You can follow how it's don

[2017-04-23 19:59] mzahana commented on #7112
Done. #7113

[2017-04-23 21:30] priseborough commented on #7048
The second log was using the ecl estimator at commit 7e2597e and exhibits a problem with accelerometer bias estimation that is causing offsets in vertical velocity and position. Unfortunately this problem develops before arming so is not captured in the log. However a vulnerability to timing jitter and high amplitude inputs that could cause incorrect learning of accel bias estimates was fixed in t

[2017-04-24 00:19] fernandourrets commented on #5651
Hello Dagar!!! Nice to meet you, not really, where can i download that Firmware???

[2017-04-24 00:24] fernandourrets commented on #5651
I can Arm from my RC in the HIL but the throtlle, yaw, roll and pitch doesn't respond and if i make a Mavlink inspector the RC channels responding very well!!!! thks again

[2017-04-24 00:27] dagar commented on #5651
First make sure you have the latest QGroundControl (http://qgroundcontrol.com/downloads/). Then go to the firmware tab under settings to flash the latest PX4, except select Advanced and look for master.

[2017-04-24 00:31] fernandourrets commented on #5651
The Qgroundcontrol version is v3.1.3 and the firmware that i have available is PX4 standard version (stable), beta testing (beta) or Developer Build (master)

[2017-04-24 00:39] fernandourrets commented on #5651
Done!!!! The master firmware is loaded....1) i must to calibrate all the sensors with Plane airframe and then switch to Simulation Hilstar (xplane)??????

[2017-04-24 01:24] fernandourrets commented on #5651
I made everything with Master firmware but every time the accel, gyro, mag, etc became descalibrated, i can't do nothing!!!! Hellllllllp!!! Thanks

[2017-04-24 02:49] KJNKJNKJN commented on #7096
But the choice of 115200 baud doesn't exist in the QGC.

[2017-04-24 02:54] KJNKJNKJN commented on #7078
hello ,friends .i have a question .i want to change the  baud of TELEM2 from 57600 to 115200 .but 115200 doesn't exist in the qgc .what should i do ?

[2017-04-24 04:00] imcnanie commented on #7094
@LorenzMeier That fixed both of them! Any idea why this happens?

[2017-04-24 06:26] #7112 closed

[2017-04-24 06:27] #7033 closed

[2017-04-24 06:32] mzahana commented on #7078
@KJNKJNKJN I can see it's already handled here,
https://github.com/PX4/Firmware/blob/da8724accb2fe83ebee82c9db9fc9f8f1680db6b/ROMFS/px4fmu_common/init.d/rcS#L702
 but the option is not included in QGC yet. You might want to try to set it manually through NSH
``` nsh> param set SYS_COMPANION 3115200```. Then, reboot, and check.

[2017-04-24 08:50] LorenzMeier commented on #7094
You uploaded bad code and bricked the application binary. That method avoids ever running your (broken) application binary and flashes the default instead.

[2017-04-24 08:50] #7094 closed

[2017-04-24 09:24] mhkabir commented on #7018
Strangely enough, I can't reproduce this anymore.

This is `ver all` from the board I reproduced the failure on previously :

[code]
@bresch Also got the same issue on his Dropix (which I don't have access to at the moment), and I checked previously - it had no silicon errata.

[2017-04-24 09:29] LorenzMeier commented on #6898
Fixed in https://github.com/PX4/Firmware/pull/7080

[2017-04-24 09:29] #6898 closed

[2017-04-24 09:29] MaEtUgR commented on #7048
@JohnSnowball We had cases where accel.z problems resulted in wrong vertival velocity estimates hence wrong altitude estimates and the controller tried to compensate using the setpoint LPSP.VZ. But I checked and at least the accelerometer did not clip here in your case.

[2017-04-24 09:30] LorenzMeier commented on #7018
There were changes / fixes to the script. Closing for now.

[2017-04-24 09:38] mhkabir commented on #7109
Fixed.

[2017-04-24 09:41] mhkabir commented on #7109
Reopening till I get the docs in.

[2017-04-24 09:52] julianoes commented on #7018
@LorenzMeier If you're referring to https://github.com/PX4/Firmware/pull/7090, this has nothing to do with the timeout that we get on upload.

[2017-04-24 10:12] mhkabir commented on #7018
Reproduced again on the v4Pro board (`ver all` attached in my last post):

[code]

[2017-04-24 11:29] imcnanie opened #7116 "More than 8 rotors using multiple Pixhawks/Aux channels"
Hello, I'm planning to build a copter with 12 rotors. **Is there a simple way to do this with an aux mixer?**

Another thought is to do it using the snapdragon_pwm_forwarder SYS_AUTOSTART (forward the other 6 channels to another pixhawk), but that seems like that would require heavy modification to mixer.cpp.

[2017-04-24 11:57] lenny521 commented on #6408
Hello, have your problem be solved ？ i would like to consult you how to run multiple UAV in gazebo, look forward to your reply, best wishes!

[2017-04-24 12:52] mhkabir opened #7118 "Geotagging with new logger"
We will need to update QGC and the geotagging scripts in Tools to work with the new logger, now that it is the new default.

@dagar @bkueng Would you be able to have a look at what needs to be done? Python is not my forte. :P

[2017-04-24 14:31] LorenzMeier commented on #7054
If you flash latest master does it still behave the same?

[2017-04-24 14:40] klopezal commented on #7054
Yes it does, bug was introduced by PR [6678](https://github.com/PX4/Firmware/pull/6678) (Oneshot mode) and only affects FMUv4pro. Currently looking for it.

[2017-04-24 21:46] pythonmobile opened #7120 "make px4fmu-v2_test failing on master?"
I am trying to switch on sf1xx support (to use SF11/C sensor), but even without switching it on, when I do :

 2179  git clone https://github.com/PX4/Firmware.git
 2180  cd Firmware/
 2181  git submodule update --init --recursive
 2182  make px4fmu-v2_default
 2183  make px4fmu-v2_test

I get the following error (can someone help me fix this? I tried to comment out a few sensors, did not help):
(A

[2017-04-24 21:48] pythonmobile commented on #6358
@dagar Can you please look at this:
https://github.com/PX4/Firmware/issues/7120

@mzahana I did hit the space issue that @mhkabir talked about?

[2017-04-24 22:05] LorenzMeier commented on #7120
You need to disable a different module to make space in flash for the additional code built. Besides, you should only be using `make px4fmu-v2_default`, not the other make target.

[2017-04-24 22:05] #7120 closed

[2017-04-24 22:20] pavel-kirienko commented on #6796
@AndreasAntener fixed in https://github.com/PX4/sapog/pull/22. Version 2.0 should be officially released before the end of the week.

[2017-04-24 22:34] davids5 commented on #7018
1. Is the above statement still true?
2. Is this a consistent failure?  If not what it the total number of tries vs failures?
3. Is it repeatable with a power cycle on each and every upload.
4. Do you have a debug connector with FTDI connected during the  uploads?
5. On the V4Pro do you have the jumper on the BYPASS-REG installed and what rev is the HW?

Below is the output from my Centos 7 Linux

[2017-04-24 22:39] fernandourrets commented on #5651
I must to go back and reload the Beta Firmware!!!! I can Arm by my RC Spectrum DX7 but doesn't respond the throttle, yaw, roll and pitch, if i select the Analyze function in the Widgets, select the rc channels and responds ok!!!!! I don't know what to do!!!!! Thanks again

[2017-04-24 22:48] mhkabir commented on #7018
Yes.

No. It fails approximately once every five tries.

No, see above statement.

Yes. Not sure what to look out for though.

Not sure about this one. @eyeam3 should be able to fill you in here.

[2017-04-24 23:05] davids5 commented on #7018
Back feeding of voltage on the U[S]ART IO pins so that a USB unplugged conditions is not a clean power cycle.

If you can get it to fail 1/5 times - try to get a n without the FTDI connected.

[2017-04-24 23:11] davids5 commented on #7018
@mhkabir - if you do 10 uploads each on V2 HW with both master and "the current released" version.
You are getting 0 failures with "the current released" uploader?

[2017-04-25 01:15] JohnSnowball commented on #7048
@MaEtUgR thanks for explain! in fact I'm a bit confused by your discussion, I can't tell which case will solve my bug......

[2017-04-25 02:05] davids5 commented on #6921
@LorenzMeier - I have traced the cause of PWM_RATE = 0 not being propagated to the the low level driver.  I have a [PR](https://github.com/PX4/Firmware/pull/7121) that will fix that part of this.

But even with that fixed the onshot mode is exited because of the following:

In testing on a v4pro, I found that PWM_RATE is set from a FRAM parameter  but PWM_AUX_RATE is coming from a environment set.

[2017-04-25 06:44] ChristophTobler commented on #6994
@mhkabir I have tested it with latest master and it works. Thanks!

[2017-04-25 06:44] #6994 closed

[2017-04-25 06:56] ChristophTobler opened #7123 "Motors spin when unplugging USB"
I cannot reproduce this consistently but here is what can happen:
I plug in the battery and USB to a Pixracer (latest master). If I then unplug the USB cable, it can happen that the rotors spin for a second which can be quite dangerous.

[2017-04-25 08:00] mhkabir commented on #6994
:D

[2017-04-25 08:05] mhkabir commented on #7018
This is from V2 hardware :

[code]

[code]

[2017-04-25 08:16] mhkabir commented on #7018
More information : I copied the `px_uploader.py` from the v1.5.5 release over to master, and I can still reproduce the fail. Beginning to wonder if it's the image size which triggers it.

[2017-04-25 08:24] mhkabir commented on #7059
@chuyueqiang Updates? Otherwise we will close this.

[2017-04-25 08:34] MaEtUgR commented on #7048
@JohnSnowball I think if you provide a replay log (more detailed for estimation debugging) like described above (https://github.com/PX4/Firmware/issues/7048#issuecomment-296490122) @priseborough will surely have a look at what goes wrong.

@priseborough Does this have any relation to https://github.com/PX4/ecl/pull/265 ?

[2017-04-25 08:38] mhkabir commented on #7018
OK I can reproduce this on v1.5.5 as well now (FMUv2, `px4fmu-v3_default` target. `ver all` in above post. No FTDI connected)

Now an invalid statement.

[2017-04-25 11:16] pythonmobile commented on #7120
@LorenzMeier Thanks. How do I test whether all my modules fit in size? Also, even when I do just _default target, the SF11/C Lidar does not alter the Altitute readings in any way, when connected using I2C? Any thoughts on how to debug that?

[2017-04-25 12:22] MaEtUgR opened #7125 "Format pre-commit hook does not check what you actually commit"
You can have style errors that are not staged and you cannot commit because of the hook.
You can have style fixes unstaged and commit without them.

It's just a glitch that prevents you from being sure that what you commit is actually checked.

[2017-04-25 13:49] tubeme commented on #7028
Thanks to all!

Somebody for the FW mode?? BTW the airplane modes are the once that need more clearance on the latest implementations...

[2017-04-25 14:24] zouboan opened #7126 "about stm32 CCM"
In mainpage of nuttx
http://www.nuttx.org/doku.php?id=wiki:howtos:stm32-ccm-alloc

**The STM32 F2, F3, and F4 families have a special block of SRAM available call CCM (Core Coupled Memory). This memory has the drawback that it cannot be used for STM32 DMA operations.

By default, the CCM memory is lumped in with the rest of memory when the NuttX heaps are created. But this can be a problem because

[2017-04-25 16:11] davids5 commented on #7018
Ok @mhkabir great feedback - thank you!

Yes that is evident in the erase"```Erase  : [====================] 100.0% (timeout: 7 seconds) ```

1) Timeout should be based on the flash size reported back. But it is not simple..... it will need to be based off the 128K sector size. See below.

So then that leaves both sides of the wire suspect. @mhkabir do you have time to add some instrumentation to

[2017-04-25 18:59] davids5 commented on #7126
See https://github.com/PX4/Firmware/blob/master/src/drivers/boards/common/board_dma_alloc.c#L98

All other DMA is also done to static buffers not in the CCM.

There is also a preflight check done in the SD card driver but the memory is from the board_dma_alloc.so DMA is always used.

[2017-04-25 18:59] #7126 closed

[2017-04-25 19:06] davids5 opened #7127 "UAVCAN on boot out of RAM"
px4fmu-v3_defualt Running on FMUv2 2Mib capable HW. Note: *** below

[code]

[2017-04-25 19:35] TobiMiller opened #7128 "LPE Auto.Takeoff w/o GPS works in Gazebo, but not in real life"
Hey,

why can i takeoff w/o GPS in SITL but it doesnt work in real enviroment? I want to start autonomously and feed external vision pose (marker tracking) after takeoff into the px4. In my gazebo simulation everything works fine.

[2017-04-25 21:06] priseborough commented on #7048
We are dealing with two separate problem reports here.

The problem reported by @JohnSnowball looks like a controller set-point issue.

The problem reported by @mzahana is due to estimation error and discussion should be moved to https://github.com/PX4/Firmware/issues/6604.  PX4/ecl#265 is capable of masking the effect of vertical velocity estimation errors but will require the new mode to be sele

[2017-04-25 21:30] priseborough commented on #6604
@MaEtUgR The ecl EKF buffers observations and runs the filter on a delayed time horizon so that the effect of measurement delay can be compensated for.

The output predictor applies a strapdown INS algorithm to IMU data at the current time horizon to calculate quaternion, velocity and position output states. The output states are buffered and compared to the EKF states at the fusion time horizon a

[2017-04-25 21:52] #7050 closed

[2017-04-25 23:47] hamishwillee commented on #7028
OK, so proposed version for RTL is [here](https://github.com/hamishwillee/px4_user_guide/blob/47c40c42162aed4c24d93cdddb69184b02091ef0/en/flight_modes/rtl.md). @sanderux thanks for all your help, this has very modified version of your VTOL details.

@dagar , can you please comment on the FW behaviour (as requested by @tubeme). I have *guessed* in that linked doc :-) Specific questions:
I do have s

[2017-04-26 00:02] sanderux opened #7130 "Mavlink publishing of current repeat count of a MAV_CMD_DO_JUMP"
Before any GCS can integrate or display this information it needs to be published.
I dont think this information is currently available or supported in the mavlink protocol

[2017-04-26 00:29] OJdoesIt opened #7131 "VTOL - motors from turning off in FW"
My aircraft has a Y3 motor config. While in Manual mode (for testing), when I switch from MC -> FW, all the motors turn off. If I move the throttle, the front motors start to spin again, basically reacts to the throttle. When I switch back to MC, all the motors automatically turn back on.
How can I prevent the motors from turning off when in FW mode? I'm also using QGC.

[2017-04-26 01:19] kyuhyong opened #7132 "Submodule update Nuttx problem"
Hello,
I recently cloned master branch into my pc (both in Ubuntu and mac) as shown below

And tried make px4fmu-v2_default and failed due to git diffs.

The reason was the Nuttx folder in the root is empty.
I did submodule init and update but I when cloning Nuttx, I got followings.

It looks like the git version of NuttX is different from the master branch of PX4 Firmware.
Manually downloading Nu

[2017-04-26 02:23] #7132 closed

[2017-04-26 02:24] kyuhyong commented on #7132
Sorry, it's my fault.
I should have git update as per the instruction as here.
git submodule update --init --recursive

[2017-04-26 06:05] JohnSnowball commented on #7048
@MaEtUgR I would like very much to upload a log(I got several with same bug), but I can't paste any here, even I compressed them to ZIP. Do you know any other ways to upload px4log here?

[2017-04-26 06:41] tumbili commented on #7048
@JohnSnowball use logmuncher, http://logs.uaventure.com/

[2017-04-26 07:36] TobiMiller commented on #7068
Here my message generation in ros.
mask = 4035 # xy vel + z pos
mask = 3011 # xy vel + z pos + yaw
mask = 4088 # xyz pos
mask = 3064 # xyz pos + yaw

`  raw_msg = PositionTarget()
    raw_msg.header.frame_id = "home"
    raw_msg.header.stamp = rospy.Time.now()
    raw_msg.coordinate_frame = 1
    raw_msg.type_mask  = mask
    raw_msg.position.x = x
    raw_msg.position.y = y
    raw_msg.position.z

[2017-04-26 08:24] borune-k12 opened #7133 "HIL coordinates jumps"
When in HIL mode with XPlane vehicle's coorinates jumps.
![jumps](https://cloud.githubusercontent.com/assets/22724479/25425605/1ad9d56c-2a75-11e7-9538-59bb361254c3.jpg)

[2017-04-26 08:39] borune-k12 commented on #7133
![jumps](https://cloud.githubusercontent.com/assets/22724479/25425584/0d3036c2-2a75-11e7-86df-a4491a7d29e4.jpg)

[2017-04-26 11:33] hamishwillee commented on #7028
@MaEtUgR , can you please review the MC sections of these [four flight mode docs](https://github.com/hamishwillee/px4_user_guide/tree/hgw_landing_takeoff_mc/en/flight_modes)?
- Did I capture the right parameters
- Is the description correct?
- Is the description complete? For example, in RTL if the vehicle goes to the mode at an altitude above the RTL_RETURN_ALT, will it fly back at its current al

[2017-04-26 11:48] JohnSnowball commented on #7048
@tumbili yes, already did that, as I pasted a link at the first http://logs.uaventure.com/view/pyW2SSFTrx2z72Wvq8z4oU
but for my case, you have to zoom to see the LPSP.VZ discontinuity. I don't know if we can do that with logmucher, I guess a full px4log should be better.

[2017-04-26 11:56] MaEtUgR commented on #7028
@hamishwillee Thanks a lot for documenting!
hopefully someone else corrects me if I tell something wrong:
- HOLD as far as I know is usually the fallback waiting mode if you fly autonomously without RC. When I fly multicopter with RC and want to stay in place I just center my sticks in positon mode... Also I don't know of any ascending when switching to Hold, it should really just stay where it is

[2017-04-26 13:12] dagar commented on #7133
Is HIL successfully connected to xplane at this point?

[2017-04-26 14:09] borune-k12 commented on #7133
what do you mean successfully? In "HIL config" widget XPlane frequency is updating..and when plane is on ground there are no jumps..it appears when plane is in air

[2017-04-26 14:44] mhkabir commented on #6547
![bokeh_plot](https://cloud.githubusercontent.com/assets/5557676/25440359/82425a60-2a9f-11e7-9f74-5503c3ff38d7.png)

[2017-04-26 15:05] mindThomas commented on #6547
To pitch in here, I would strongly suggest that you find a better method to fasten the Intel Aero Compute board with the flight controller within the plastic enclosure on the RTF drone.
Currently the Aero compute board is just laying loosely in the plastic frame, only fixed by the four screw holes. This does only fix the horizontal alignment more or less though it does not fix the z-direction in a

[2017-04-26 15:07] Antiheavy commented on #7133
@borune-k12 what is the update rate from Xplane?  I've noticed similar behavior sometimes when the update rate is low (e.g. < 30 Hz) and the EKF get really unhappy.
![image](https://cloud.githubusercontent.com/assets/12117027/25441535/1e824e36-2a68-11e7-8151-260912f1442a.png)

[2017-04-26 15:23] Antiheavy opened #7136 "Missing camera triggers in distance based triggering"
It seems PX4 is occasionally missing camera triggers in distance base triggering.  We've seen this happen both in real flight testing and also in HIL simulation.   FMUv4 based hardware, MAVlink compatible camera on Telem2.  Any ideas why we might be seeing this or what we could look into to further diagnose?

Actual flight:
![image](https://cloud.githubusercontent.com/assets/12117027/25442205/0a7a

[2017-04-26 15:26] borune-k12 commented on #7133
@Antiheavy it varies from 20 to 30 Hz. I dont think that it's the cause of problem since with the stable firmware frequency is the same but jumps don't happen.

[2017-04-26 15:33] mhkabir commented on #7136
Is this in mission mode ?

[2017-04-26 15:35] mhkabir commented on #7136
It would be good to debug this over a call or IM. Can we Skype?

[2017-04-26 15:37] Antiheavy commented on #7136
yep

[2017-04-26 15:39] mhkabir commented on #7136
I'm 'kabiriris' on Skype.

[2017-04-26 16:02] pavel-kirienko commented on #6796
Should we close it, or is anybody willing to volunteer and test it? My own tests indicate that the issue is fixed. @mhkabir @AndreasAntener please advice.

[2017-04-26 16:03] pavel-kirienko commented on #7127
Consider invoking `uavcan shrink` and see if it changes anything.

[2017-04-26 16:05] mhkabir commented on #6796
@eyeam3 Will be testing the latest Sapog release within the next few days.

[2017-04-26 16:38] dagar commented on #7018
@mhkabir it sounds like we need to instrument the uploader script and reproduce.

[2017-04-26 17:23] IeiuniumLux commented on #5407
@pryre Thank you for pointing this out.  I was also wondering why the appropriate transformation was not happening when a coordinate_frame other than MAV_FRAME_LOCAL_NED was specified.

@dagar Will a PR be created to track and fix this?

[2017-04-26 17:55] nicolaerosia opened #7137 "navio2 limited to 4 PWM output"
Hello,

I'm building a hexacopter+ using Navio2 on RPi3 and I noticed that the pwm driver is limited to 4 outputs because of https://github.com/PX4/Firmware/blob/master/src/drivers/navio_sysfs_pwm_out/navio_sysfs_pwm_out.cpp#L60 and https://github.com/PX4/Firmware/blob/master/src/drivers/navio_sysfs_pwm_out/navio_sysfs_pwm_out.cpp#L352-L362 .
I changed 4 to 6 to work in my case but I would like to

[2017-04-26 18:03] mhkabir commented on #5407
It would need to be implemented.

[2017-04-26 18:47] dagar commented on #7136
Are these plots from autopilot logs or camera?

[2017-04-26 18:48] dagar commented on #7131
Which airframe did you choose?

[2017-04-26 18:49] dagar commented on #7128
What doesn't work? Are failsafes being triggered?

[2017-04-26 18:54] dagar commented on #7125
Our format checking is pretty basic and yet still a convoluted set of scripts. We'd be better off investing the effort switching to clang-format where these things are already implemented properly.

For the time being you can use `git commit --no-verify` to skip the hook.

[2017-04-26 18:56] dagar commented on #7123
Is the vehicle armed? Is the USB circuit breaker set?

[2017-04-26 19:03] ChristophTobler commented on #7123
vehicle is not armed. What's the USB circuit breaker?

[2017-04-26 19:06] dagar commented on #7116
I'm not sure how to do this out of the box, but I can think of a few ways to hack it.

What if you generated the mixer for 12, but then manually split it into 2? Place them on control groups 0 and 1. https://dev.px4.io/en/concept/mixing.html

[2017-04-26 19:09] dagar commented on #7108
Did you look at the LPE parameter LPE_FUSION?
https://dev.px4.io/en/advanced/parameter_reference.html#local-position-estimator

[2017-04-26 19:10] dagar commented on #7089
Can you try running without the gazebo gui?

    HEADLESS=1 make posix_sitl_default gazebo_iris

[2017-04-26 19:13] lupusorina commented on #6722
Hey,
I am having the same issue. I am trying to do HIL with last version of PX4, QGC and Flightgear. It would be awesome if anyone found a solution/fix.

Thanks

[2017-04-26 19:55] dagar commented on #7123
To prevent arming with USB attached.

[2017-04-26 19:56] LorenzMeier commented on #7136
Adding to Daniel: Can you share an autopilot log from one of these plots?

[2017-04-26 19:57] dagar commented on #7123
Is the board resetting when USB is pulled?
@davids5 can anything be done here?

[2017-04-26 19:58] ChristophTobler commented on #7123
Is that not a default? I haven't changed anything regarding USB circuit breaker so it should be default. Yes, the board is resetting

[2017-04-26 19:59] mzahana opened #7140 "Mapping RC input to AUX not working on MindPX"
Hi,

I used to map RC channels to some AUX pins on px4fmu-v2 using QGC, to control e.g. a gimbal. That worked fine. Now I am trying to do the same on MindPX v2.8. However, it seems that it's not yet implemented. This, I guess should be a basic feature. So, can some one help explaining how to do this on MindPX, or give some directions, and maybe I can try to implement it.
Thanks.

[2017-04-26 20:03] OJdoesIt commented on #7131
I am using my custom airframe, which used mixer adapted from Eflite Convergence. But instead of elevons, I use ailerons. I also made the adjustment within the mixer.

[2017-04-26 20:06] dagar commented on #7140
@rolandash ping

[2017-04-26 20:47] imcnanie commented on #7116
Interesting. I don't completely understand how the control groups work yet. Mind explaining a bit more?

I have two other ideas, I'd love thoughts on them. Yesterday I wrote two mixers:

dodeca_main_outputs_cox = [
    [  90, CW],
    [ -90, CCW],
    [ -30, CW],
    [ 150, CCW],
    [  30, CCW],
    [-150, CW],
    [  90, CCW],
    [ -90, CW],

]

dodeca_aux_outputs_cox = [
    [ -30, CCW],
    [

[2017-04-26 20:49] Antiheavy commented on #7136
The plots above are from our camera log.  Attached are the SDcard logs from the two HIL missions above.

[HIL-logs-maybe-missing-camera-triggers.zip](https://github.com/PX4/Firmware/files/959743/HIL-logs-maybe-missing-camera-triggers.zip)

[2017-04-26 20:54] mhkabir commented on #7136
Hmm, that seems suspect. We could potentially be losing trigger packets over the link, and thus they come up as 'missing' triggers. I will add logging for the trigger uORB message on a branch (we don't log those ATM) and send you a link/binaries for testing in HIL. You would need to use the new logger.

[2017-04-26 20:58] imcnanie commented on #7116
Although I believe px4io doesn't support orb.

[2017-04-26 21:07] mhkabir commented on #7123
OK this is interesting.

1. The board reset on USB disconnect is a feature.
2. If this started happening only recently, it might have something to do with the early timer init, @davids5. ESCs might be responding to transients in the signal at startup.

@ChristophTobler What ESCs are you using, and have you started seeing this behaviour only recently?

[2017-04-26 21:10] dagar commented on #7116
I would have thought splitting them would be equivalent, at least until you run into motor saturation? I probably don't understand the multicopter mixer well enough.

@Stifael @MaEtUgR any advice?

Here's the generated mixer tables for the entire dodeca coaxial, and then split into 2 groups. Wouldn't this result in the same motor output?

[code]

[2017-04-26 21:12] dagar commented on #7123
Come to think of it, I think I've seen this on VTOLs where the FW is typically on the FMU. I've seen the pusher throttle engage when abruptly resetting power.

[2017-04-26 21:21] dagar commented on #7131
Rereading your comment again, that's exactly what should be happening. Manual mode FW is like RC, with all the controls passed through. If you used a mode like altitude control then the throttle would be automatically set to maintain airspeed and altitude.

[2017-04-26 21:33] mhkabir commented on #7123
@dagar Have you seen this only recently, or is it older? Because if its new, it's highly likely that it's from the recent FMU changes from me and David. We need to get a logic analyser on the pins during reboot to see what happens to the signal.

[2017-04-26 21:38] dagar commented on #7123
Definitely not new.

[2017-04-26 21:47] mhkabir commented on #7136
Ok we aren't really missing trigger events on the PX4 side. This is the trigger sequence number plotted against time. I realised that @Antiheavy's sdlog2 logs also have the trigger events logged. I added it at some point and then forgot :P

![image](https://cloud.githubusercontent.com/assets/5557676/25458527/8c053168-2ada-11e7-9493-443631a9021d.png)

[2017-04-26 22:55] NaterGator opened #7142 "PX4IO-V2 Memory optimizations"
I am finding I can't load an 8 channel SimpleMixer configuration, I'm out of RAM after loading the first 5 channels.

@davids5 I'm wondering if this has to do with the NuttX change and the switch to CONFIG_ARCH_INTERRUPTSTACK. That's the largest global symbol by far.

[2017-04-26 23:43] davids5 commented on #7142
Hi @NaterGator  -

Yes It is suspect. The 2 things I can share are:

1)  If there is more then one task, I think having the one stack is better that having N space on all stacks. Where N is max ISR save + call depth in ISR.

If there is just the one task we should just use CONFIG_ARCH_INTERRUPTSTACK=0 (At the time, I based the [change on](https://github.com/PX4/Firmware/blob/master/nuttx-configs/p

[2017-04-27 00:26] OJdoesIt commented on #7131
I just tested by switching to Altitude mode and and the motors stop spinning in FW. The throttle stick has no effect neither. Is there a parameter I'm missing?

[2017-04-27 00:51] kevinlyu1 commented on #7108
Haven't yet, but I think I'll try it. Ended up getting it working on another px4 that was using LPE so I'll try it on the original px4 and see if that does it.

[2017-04-27 00:56] dagar commented on #7131
No throttle at all in manual MC? The motors are still spinning at idle though?

In FW altitude control mode the throttle will stay at idle (a param) if the vehicle thinks it's landed. The throttle stick is now sending airspeed commands.

[2017-04-27 01:05] OJdoesIt commented on #7131
I just tested the manual MC and it works. I just didn't work when I had no GPS signal. I'll test the FW issue and get back to you.

[2017-04-27 03:47] hamishwillee commented on #7028
HI @MaEtUgR

Thanks very much. I've [updated the docs](https://github.com/hamishwillee/px4_user_guide/tree/hgw_landing_takeoff_mc/en/flight_modes) in line with this.

Re your comments
* HOLD
  * This now focuses on "pausing a mission" rather than "emergency pause". I left that emergency stuff in though, because it is probably still useful for FW.
  * `Also I don't know of any ascending when switch

[2017-04-27 04:50] dagar commented on #7130
https://github.com/PX4/Firmware/issues/3874

[2017-04-27 05:48] davids5 commented on #7123
@davids5 can anything be done here?

I am not aware of board reset on USB disconnect as an added feature?

I will get this on the bench an have a look.

Suspect is the Pixracer only feature in rcS to start the FMU stop the FMU for sensor reset. I would rather move that to the board init.

[2017-04-27 08:01] bkueng commented on #7123
Now that I see it, I also experienced this, but several weeks/months ago, on a Pixracer.

@davids5 Reset is done in commander: https://github.com/PX4/Firmware/blob/master/src/modules/commander/commander.cpp#L2030

I currently have some changes to the fmu, including that it will not start the fmu when doing a sensor reset. I'll push that soon.

[2017-04-27 09:28] bkueng commented on #7137
I think we can increase it to the maximum (14?). Do you want to open a PR?

Looking at it, I see there's already a bug: `_outputs.noutputs` is passed to `pwm_limit_calc`, which can be >4, as `_outputs.NUM_ACTUATOR_OUTPUTS = 16` is passed to `mix()`.

[2017-04-27 11:34] MaEtUgR commented on #4819
This is potentially related...
I made a predictable smooth takeoff logic without special magic thrust generation in the begining, it's coming in here: https://github.com/PX4/Firmware/pull/7138

While testing the feature I realized that there are situations where it still jumps and that it's most probably not related to my changes. I isolated the problem to be in the auto takeoff logic. When you lo

[2017-04-27 12:03] MaEtUgR commented on #7123
I had the exact same problem when setting up a pixracer with master two weeks ago, this was pretty scaring, luckily I didn't have the propellers attached at this very moment.

[2017-04-27 12:18] Stifael commented on #7028
@hamishwillee
https://github.com/PX4/Firmware/blob/master/src/modules/navigator/mission_params.c#L60-L72

[2017-04-27 12:33] MaEtUgR commented on #7028
@hamishwillee Nice!
It seems that you were right about Hold, I never tested/used this before. We have to think about what happens if the pilot wants to fly into a valey...

[2017-04-27 13:26] dagar commented on #7123
Why does it cause disarmed ESCs connected to the FMU to spin up, but not the ones connected to the IO?

[2017-04-27 13:44] nicolaerosia commented on #7137
The only problem I have with 14 is that it would prohibit the usage of pwm channels as AUX. I need to look how other drivers providing AUX support are implemented.

[2017-04-27 15:07] ndepal commented on #7123
I've also seen this happen on a Pixfalcon, on 21bc97b5bba983c52589b30c6d1e21a8c91575ff

[2017-04-27 15:10] LorenzMeier commented on #7123
Definitely gating the release. @bkueng do you have an update on the FMU driver?

[2017-04-27 15:25] ndepal commented on #7123
Would those FMU changes have any effect on systems with an IO?

[2017-04-27 15:43] bkueng commented on #7123
Steps to reproduce:
- run QGC with auto-connect
- Start RC receiver (not sure if that's really needed)
- Plug vehicle to battery
- Plug in USB -> connect QGC
- Plug out USB -> system reboots & motors spin, but the spinning does not happen always (maybe around 20% or less of the cases)

Even with the 'do not start the fmu for sensor reset' change it still happens.

@ndepal No they should not.

[2017-04-27 15:50] ndepal commented on #7123
So I guess its not an FMU specific problem.

I do not need to turn on the RC receiver to reproduce this.

[2017-04-27 16:23] anton-matosov commented on #6017
Sorry @dagar, I didn't have enough time to finish this and do not expect to work on this in foreseeable feature.
Latest code is here https://github.com/anton-matosov/qgroundcontrol/tree/PID-Tuning-v2
It is stable, but some filters are not very obvious to the user and need more tweaking (that is the missing part I planned to implement for v2)
You can pull this code from my branch and work with @Don

[2017-04-27 16:30] dagar commented on #6017
No problem, I still think the current state is a drastic improvement. Thanks!

[2017-04-27 16:32] AlexMalo commented on #6826
The ROS solution is cumbersome, maybe because I am not familiar with ROS; I tried it but hit some compatibility issues. It added another layer. The headless parameter works for me. Thank you.

[2017-04-27 16:34] dagar commented on #6017
New PR - https://github.com/mavlink/qgroundcontrol/pull/5070

[2017-04-27 19:33] LorenzMeier commented on #7136
@mhkabir So the conclusion is that we're not dropping trigger events but some drop on the way to the ground?

[2017-04-27 19:37] LorenzMeier commented on #7136
@Antiheavy Are you manually enabling the "CAMERA_TRIGGER" trigger message somewhere? If you do, how does the line look like? What is your telemetry link?

[2017-04-27 20:38] LorenzMeier commented on #7109
@mhkabir Where is this standing?

[2017-04-27 20:39] LorenzMeier commented on #7051
@MaEtUgR Any news?

[2017-04-27 20:48] mhkabir commented on #7136
@LorenzMeier after the discussion with @Antiheavy, it seems that the companion link to the camera gets throttled because it's running only at 57600 baud.

[2017-04-27 21:11] imcnanie commented on #7116
Well that works! I am still interested in if there will be motor saturation issues. Also is there a performance hit by running the mixer on the fmu? Anything else I should be concerned with? @dagar

[2017-04-27 22:15] Antiheavy commented on #7136
Our camera talks to the FMUv4 over telem2 UART that we have set to Companion 57600.  We look for DO_DIGICAM_CONTROL messages and execute triggers based on those.  Next week we hope to set up a test to figure out exactly where the messages are getting lost.  Will report back when we know more.

[2017-04-27 22:18] sanderux opened #7146 "VTOL optimize cpu usage"
FW pos ctl isnt running during MC or transition:
https://github.com/PX4/Firmware/blob/545458a6872fd5f748a891c36900f0ab1e6a9140/src/modules/fw_pos_control_l1/fw_pos_control_l1_main.cpp#L1095-L1099

FW att ctl doesnt run completely during MC or transition:
https://github.com/PX4/Firmware/blob/c5e0bf1c2f4f2cfbc3aa95bfbb14c7b45778b1e0/src/modules/fw_att_control/fw_att_control_main.cpp#L903-L905

But M

[2017-04-27 23:03] hamishwillee opened #7147 "RTL will transition to MC regardless of the NAV_FORCE_VT parameter"
RTL will transition to MC regardless of the NAV_FORCE_VT parameter: https://github.com/PX4/Firmware/blob/master/src/modules/navigator/rtl.cpp#L326-L328

Not sure if this is intended or a bug - but either the implementation or [docs](https://github.com/PX4/Devguide/issues/132) need to be updated.

[2017-04-27 23:07] sanderux commented on #7147
The NAV_FORCE_VT parameter was not intended for RTL behavior, it was intended for accidental LAND instructions or manually switching to land mode.

The reason RTL forces this is people might want FW landings enabled but in an RTL event that doesnt always work. The behavior was indeed intended, perhaps it could be debated.

[2017-04-27 23:35] hamishwillee commented on #7147
OK. Worth adding this clarification in the [parameter doc](https://dev.px4.io/en/advanced/parameter_reference.html#NAV_FORCE_VT) ? E.g.
FROM
NAV_FORCE_VT - Force VTOL mode takeoff and land.
TO
NAV_FORCE_VT - Force VTOL for takeoff and land (but not RTL).

[2017-04-28 04:14] davids5 commented on #7123
@bkueng No Joy in getting failure. It may be because I do not have ESC just the Logic analyzer. I do not have any PWM ESC and I am wondering if there is a back feed issue, that I can not create without ESC.
What

Typical capture:

![image](https://cloud.githubusercontent.com/assets/1945821/25513895/554cc39e-2b74-11e7-9640-3c900604d4ec.png)

Left side zoomed:
![image](https://cloud.githubuserconten

[2017-04-28 08:10] sanderux commented on #7147
@dagar do you think RTL should honor NAV_FORCE_VT? or do we keep it hardcoded on land as MC?

[2017-04-28 08:11] mhkabir commented on #7109
This is done from my side : https://dev.px4.io/en/tutorials/camera_trigger.html

I still need a new geotagging implementation in QGC with the new logger to document that part.

[2017-04-28 08:15] mhkabir commented on #7136
You must have some customization on your firmware side to send `DO_DIGICAM_CONTROL` messages?

You should use the `CAMERA_TRIGGER` message instead, which should be sent without throttling and by default : https://github.com/PX4/Firmware/blob/master/src/modules/mavlink/mavlink_main.cpp#L2043-L2044

[2017-04-28 08:19] bkueng commented on #7137
How do you intend to use the AUX channels? If you use an aux mixer file, you can just append the file content to the main mixer file. Other drivers like the fmu support the `MIXERIOCLOADBUF` ioctl's to load mixers via `mixer load ...` or via `mixer append ...` commands.
We can also add a startup parameter to the driver, specifying the max number of channels it should use.

[2017-04-28 08:52] Stifael commented on #6900
is this still present? the origin initialization changed now in the ekf

[2017-04-28 09:21] bkueng commented on #7123
Update:
- removing `fmu sensor_reset` does not help
- it happens right on reboot, together with the output:
[code]
  So before the start of any module.
- I increased the sleep time in https://github.com/PX4/Firmware/blob/master/src/modules/commander/commander.cpp#L2037 to see if it's the USB disconnect or reboot, and it's the reboot that triggers the spinning.

[2017-04-28 12:44] mzahana opened #7150 "ulog is not working properly on MindPX v2.8"
Hi,

I am using MindPX v2.8 that is bought very recently. I am using it on Hexarotor, and it flies ok. However, I am not able to record ulog file when I choose the new logger option in QGC. A log file exists on the SD card but cannot be processed by Flight Review or EKF analysis tools.
Is it not supported on MindPX?
 I am using latest  PX4 master as of now. Thanks.

[2017-04-28 13:00] dagar commented on #7147
I personally don't know any VTOL users that would even want/need NAV_FORCE_VT configurable.
I think we should leave it as is, unless someone specifically asks for this behaviour.

[2017-04-28 13:04] dagar commented on #7123
@bkueng what's your setup? I've had this happen randomly in the past, but tried (and failed) to reproduce it last night.

[2017-04-28 13:14] dagar commented on #7132
Not a problem. We have helper targets to work around git submodule pain.

    make submodulesclean

    make distclean

[2017-04-28 13:16] bkueng commented on #7123
I use a quad with Pixracer on battery with RC & gps attached, with 12A SimonK AutoShot ESC's. No special param config otherwise.

I did more testing and it turns out the USB is not needed: a `reboot` in NSH on battery without USB connected triggers the spinning too.

[2017-04-28 13:41] davids5 commented on #7123
I pushed this branch https://github.com/PX4/Firmware/pull/7151, It cuts the servos before the reset.  @bkueng  tested it and it did not fix it.
So something is happen on system init. But I can not capture it.  I will get 4 ESC ASAP.

@bkueng what is you auto start?

[2017-04-28 13:52] bkueng commented on #7123
4001

[2017-04-28 13:59] dagar commented on #7116
It should be fine performance wise. Plenty of people use FMU only for multicopters with the pixracer.

I'm not sure about motor saturation. If you're concerned you should review how multirotor motor limits are implemented and used in the multicopter attitude controller. Then pay close attention in the logs. With the current implementation I think you're only going to get the limit from either the

[2017-04-28 13:59] #7116 closed

[2017-04-28 15:01] paan2097 commented on #6408
Gazebo defaults to mavlink udp port 14560. https://github.com/PX4/sitl_gazebo/blob/a8f57664c7bf6f4d8ab7a0c01d65181455151ca0/include/gazebo_mavlink_interface.h#L55

PX4 starts streaming mavlink here (This was also declared in solo.sdf files): https://github.com/PX4/Firmware/blob/master/posix-configs/SITL/init/ekf2/plane#L72

[2017-04-28 15:49] dagar commented on #5995
Any update on this situation?

[2017-04-28 16:00] dagar commented on #3700
I'll consider this once we have the stick mapper.

[2017-04-28 16:07] jgoppert commented on #7128
A log would be helpful.

[2017-04-28 16:10] jgoppert commented on #7089
Do you have a log? The gps fault is just saying the gps error is higher than expected.

[2017-04-28 16:12] jgoppert commented on #7053
When you changed modes it was causing an oscillation, this is why flow quality degraded. You can't have large rotation rates. You can tray lowering roll/pitch rate max.

http://logs.uaventure.com/view/tQT6sPLamBBEnzSA4MMCTR#IMU_Gyro_PLOT

[2017-04-28 16:12] #7053 closed

[2017-04-28 16:13] dagar commented on #3834
Closing this particular issue. I'm thinking of adding additional transition conditions. Later we should find a way to sync this with the airspeed TECS uses.

[2017-04-28 16:13] #3834 closed

[2017-04-28 16:15] jgoppert commented on #7034
On my system it runs at about 30 hz. On the real vehicle. You can set the rate in the startup script using the "mavlink stream" command. Also make sure you have the baudrate for your onboard computer set to 921600.

[2017-04-28 16:15] #7034 closed

[2017-04-28 16:18] jgoppert commented on #3168
I think we have shown just having the standardized messages is good enough.

[2017-04-28 16:18] #3168 closed

[2017-04-28 16:19] #5079 closed

[2017-04-28 16:20] jgoppert commented on #6957
Let's close this and move to http://discuss.px4.io/

[2017-04-28 16:20] #6957 closed

[2017-04-28 16:21] jgoppert commented on #5358
no plans to support this currently, will probably be added to IEKF.

[2017-04-28 16:21] #5358 closed

[2017-04-28 16:22] jgoppert commented on #6347
I think both estimators have working solutions for this now.

[2017-04-28 16:22] #6347 closed

[2017-04-28 16:26] jgoppert commented on #6175
Resolved on master.

[2017-04-28 16:26] #6175 closed

[2017-04-28 16:27] jgoppert commented on #6165
Fixed on master.

[2017-04-28 16:27] #6165 closed

[2017-04-28 16:28] mhkabir commented on #6347
I'm not sure if this is solved. @ChristophTobler?

[2017-04-28 16:29] jgoppert commented on #7083
Are you using all of the default params for lidar noise etc?

[2017-04-28 16:42] dagar commented on #7108
Alright, I'll close this for now. If you mind it's still an issue somewhere please reopen with any debugging information (logs, console output, etc).

[2017-04-28 16:42] #7108 closed

[2017-04-28 16:45] #476 closed

[2017-04-28 16:47] dagar commented on #3245
I'll implement this in PX4 once there's mavlink support.

[2017-04-28 16:49] dagar commented on #3097
Does this need additional mavlink DISTANCE_SENSOR messages or is publishing with different ids acceptable?

[2017-04-28 16:49] dagar commented on #3874
Are you interested in this @sanderux?

[2017-04-28 16:50] dagar commented on #3789
Please reopen if there's more to discuss.

[2017-04-28 16:50] #3789 closed

[2017-04-28 16:51] #4226 closed

[2017-04-28 16:51] dagar commented on #4214
I think this is covered by https://github.com/PX4/Firmware/issues/6472 and https://github.com/PX4/Firmware/issues/6465

[2017-04-28 16:51] #4214 closed

[2017-04-28 16:54] dagar commented on #4186
You can use MAV_CMD_DO_REPOSITION for this.

[2017-04-28 16:54] #4186 closed

[2017-04-28 16:54] dagar commented on #4207
@matanhavi you need to move the servo to a different rate group.

[2017-04-28 16:54] #4207 closed

[2017-04-28 16:55] dagar commented on #4610
I can implement this as part of the existing takeoff code if someone is able to test.

[2017-04-28 16:57] dagar commented on #4840
Nearly done in https://github.com/PX4/Firmware/issues/4840

[2017-04-28 16:57] #4840 closed

[2017-04-28 16:57] dagar commented on #4948
Fixed by new logger.

[2017-04-28 16:57] #4948 closed

[2017-04-28 16:58] dagar commented on #4984
@whyscience have you tried this recently? There's been a lot of work on the MC position controller.

[2017-04-28 16:59] dagar commented on #5114
@superware I can implement this if you're still interested and able to test.

[2017-04-28 17:01] sanderux commented on #7147
I agree, @hamishwillee please update the docs

[2017-04-28 17:01] #7147 closed

[2017-04-28 17:03] sanderux commented on #3874
Yes, but maybe others can pitch in on the method as i am unclear on that

[2017-04-28 17:07] dagar commented on #5867
We're actively watching this now.
https://github.com/PX4/Firmware/issues/7146

[2017-04-28 17:07] #5867 closed

[2017-04-28 17:07] dagar commented on #5586
I believe this has been resolved. Please reopen if I'm wrong.

[2017-04-28 17:07] #5586 closed

[2017-04-28 17:10] dagar commented on #6498
Please reopen if this is still an issue and we can debug. It's especially weird because PX4 doesn't know if it's on a pixhawk or pixfalcon.

[2017-04-28 17:10] #6498 closed

[2017-04-28 17:12] dagar commented on #6721
Would love to have this is you're interested in implementing. Pull requests welcome!

[2017-04-28 17:12] #6721 closed

[2017-04-28 17:14] dagar commented on #7136
I don't think this is a PX4 issue. Let's followup on skype for mavlink debugging.

[2017-04-28 17:14] #7136 closed

[2017-04-28 17:16] dagar commented on #3874
So it's resending the mission item each time with the count, but it sounds like you and @DonLakeFlyer want an explicit mavlink message?

[2017-04-28 17:18] mzahana commented on #7150
@dagar were you able to reproduce the issue?

[2017-04-28 17:22] zlite commented on #6498
I vaguely remember that there was a request to turn the buzzer off on
Pixfalcon and Pixhawk Mini because it's embedded in the AP and causes
vibration issues.

On Fri, Apr 28, 2017 at 10:10 AM, Daniel Agar <notifications@github.com>
wrote:

--
◤*CHRIS ANDERSON <https://twitter.com/chr1sa>*
    CEO
    3DR
    website <http://www.3dr.com/> | twitter <https://twitter.com/3drobotics>
 | facebook <http

[2017-04-28 17:24] mzahana commented on #7150
Another note is, I used QGC to download the logs, which are not working anyway, and didn't use QGC to erase them. However, when I pulled out the SD card and plugged it to my PC, I see no logs in the SD card! Does QGC erase logs automatically after downloading?

[2017-04-28 17:26] mzahana commented on #7150
Here is a pic of the SD card. The ```log``` folder is empty !
<img width="767" alt="screen shot 2017-04-28 at 8 25 39 pm" src="https://cloud.githubusercontent.com/assets/8803307/25539659/e160ad8c-2c50-11e7-8692-c1af2950b721.png">

[2017-04-28 17:35] dagar commented on #6498
You can disable the buzzer by setting CBRK_BUZZER.
https://dev.px4.io/en/advanced/parameter_reference.html#circuit-breaker

I wonder if it's enough of an issue to have it off by default?

[2017-04-28 17:50] paan2097 commented on #6408
@dennisss Can you give instructions on how to run after running sitl_multiple_run.sh please?

[2017-04-28 18:30] TSC21 commented on #7150
I will try to reproduce this ASAP

[2017-04-28 19:38] sanderux commented on #3874
I think it should be a field here: http://mavlink.org/messages/common#MISSION_CURRENT

[2017-04-28 19:40] AliSiddiqui4 opened #7156 "Multiple Erle-Copters"
Hi,

I managed to spawn 3 erle-copters in Gazebo by modifying the erle-copter spawn launch file. But as there is only 1 MAVlink so once I try hovering the quads all three of them go hay wire and ust fly away randomly.

How to make separate MAV for each robots or any other alternatives?

[2017-04-28 19:45] sanderux commented on #7156
change each config file to run mavlink on a different port

[2017-04-28 19:52] AliSiddiqui4 commented on #7156
@sanderux  Hi,
I am really new at this. I know about the .launch file and the xacro and urdf file. Can you please explain where is this config file, and how do I modify it?

[2017-04-28 20:04] sanderux commented on #7156
I'm not sure how erlecopter packaged it. Perhaps you better ask them.
Within px4 that would be here: https://github.com/PX4/Firmware/blob/master/posix-configs/SITL/init/ekf2/iris#L65

But perhaps the discussion forum or erlecopter is a better location as this is not an issue related to px4

[2017-04-28 20:04] #7156 closed

[2017-04-28 20:16] mhkabir commented on #3097
We already do this.

[2017-04-28 20:16] #3097 closed

[2017-04-29 06:32] ChristophTobler commented on #6347
Yes, this is solved. Thanks

[2017-04-29 14:21] ecmnet commented on #7083
Yes, for LIDAR all settings were default, but I increased BARO to reduce it's effect.

[2017-04-29 18:01] mhkabir commented on #7018
I will have a look on Monday.

[2017-04-29 23:23] iZhangHui commented on #7140
Pixhawk is the all-in-one unit, combining FMU and IO into a single package, while MindPX(FMUV4 family) only have a FMU as showed below:
![1272512103](https://cloud.githubusercontent.com/assets/6889915/25559716/da9091de-2d72-11e7-9c7a-6a2da015b6a6.jpg)
We have been trying to implement both of MAIN/AUX PWM functions on MindPX. Honestly, this is a big challenge to us.
So far, we have a basic and roug

[2017-04-30 03:18] tomatac opened #7158 "Lidar-Lite V3 - PWM interface not working"
I am trying to achieve position control using a PX4FLOW and a Lidar-Lite V3 and it looks like the PWM interface is not working. I used the latest master branch as of today APR/29.
I followed these instructions: https://pixhawk.org/peripherals/rangefinder
I checked the wiring and I updated the wiring diagram for Lidar-Lite V3 (see the picture below).
To test/debug the Lidar-lite connectivity on nsh

[2017-04-30 05:35] ecmnet commented on #7083
@jgoppert: Let me try an explanation: Leaving the vehicle powered for a while on ground, baro drifted away. As baro does not seem to be initialized, e.g. at takeoff, there is a huge bias between LIDAR and baro. When LIDAR failed in AltHold-mode, altitude is corrected by this bias. Maybe that this rapid movement caused a LIDAR covariance that is to high to re-initialize, when LIDAR got available ag

[2017-04-30 06:02] ecmnet commented on #7083
Directly after PX4 reboot:
![chart_l1](https://cloud.githubusercontent.com/assets/7580193/25562056/393b5f86-2d7b-11e7-9e95-e12bee065ac2.png)

After 1/2h leaving the vehicle on ground (in this case baro drift is negative):
![chart_l2](https://cloud.githubusercontent.com/assets/7580193/25562058/45921626-2d7b-11e7-845f-5b9a0d66e040.png)

[2017-04-30 06:06] Ashucool41 opened #7159 "Build firmware error"
I am tryiing to build by following instructions from https://dev.px4.io/en/setup/building_px4.html but got these errors (on Ubuntu 16.04 LTS):

make px4fmu-v2_default
-- PX4 VERSION: v1.6.0rc1-959-g0a80ee6
-- CONFIG: nuttx-px4fmu-v2-default
-- CMAKE_MODULE_PATH: /home/ashu/src/Firmware/cmake
-- Nuttx build for px4fmu-v2 on m4 hardware, using nsh with ROMFS on px4fmu_common
-- The ASM compiler iden

[2017-04-30 06:14] tomatac commented on #6994
What is this command suppose to show "nsh> pwm_input test"?

[2017-04-30 06:15] tomatac commented on #6919
What is this command suppose to show "nsh> pwm_input test"?

[2017-04-30 06:47] mhkabir commented on #7158
Do you have a BEC connected on the servo rails to power the Lidar?

[2017-04-30 07:27] tomatac commented on #7158
No. I do not have any other servo. Do I need to add a zener diode if I only power the Lidar Sensor on the servo rail? Is there a schematic on the recommended wiring for the servo rail? Thanks!

[2017-04-30 07:34] mhkabir commented on #7158
You shouldn't need anything else. Just plug in the BEC on the servo rail.
Also, you could just use i2c; The v3 Lidars work fine with it.

[2017-04-30 07:34] #7158 closed

[2017-04-30 07:35] superware commented on #5114
Sure, that will be great. I'll test it once implemented.

I guess MAV_CMD_DO_CHANGE_SPEED should also change current "target speed". Will it be possible to receive current "target speed" through MAVLink (reported by PX4)?

Thanks.

[2017-04-30 07:40] julianoes commented on #6994
You should see samples of the measured pulse width e.g. 1500 us.

[2017-04-30 07:44] tomatac commented on #6994
Should I see the pulses only if the Lidar is powered or I should see pulses regardless of that?

[2017-04-30 07:45] mhkabir commented on #6994
Only if it's powered.

[2017-04-30 07:47] tomatac commented on #6994
Ok. Thanks! I will connect power to the servo rail.

[2017-04-30 09:42] mzahana commented on #7140
@iZhangHui Thanks for the explanation. Waiting for the PR.

[2017-04-30 10:06] LorenzMeier commented on #7118
@DonLakeFlyer What is the geotagging workflow like right now? Can you point @bkueng at the right location in QGC for what needs to be changed?

[2017-04-30 10:07] LorenzMeier commented on #7127
@pavel-kirienko Could you provide a patch that does this inside the UAVCAN app at the right time?

[2017-04-30 10:13] LorenzMeier commented on #7127
Without UAVCAN running:

[code]

[2017-04-30 11:44] LorenzMeier commented on #6630
@Clark-Youngdong-Son You need to differentiate between the port on your host PC and on the autopilot. It sounds like your issue is coming from using instructions for one side on the other, which yields non-surprisingly inconsistent results.

[2017-04-30 11:44] #6630 closed

[2017-04-30 11:45] #7037 closed

[2017-04-30 11:46] LorenzMeier commented on #6984
@bkueng Any update on this?

[2017-04-30 11:46] LorenzMeier commented on #6921
Fixed.

[2017-04-30 11:46] #6921 closed

[2017-04-30 11:47] LorenzMeier commented on #6876
Thanks! We've further improved this on master.

[2017-04-30 11:47] #6876 closed

[2017-04-30 11:48] LorenzMeier commented on #6712
@klopezal Can you re-try this on a current board?

[2017-04-30 11:49] LorenzMeier commented on #6483
We will add this for landing first and then think about how solving the shared autonomy should eventually work.

[2017-04-30 11:52] LorenzMeier commented on #7159
Please update your toolchain installation. Since you're using GCC 4.9 you can't be using up-to-date build instructions - those would have installed GCC 5.4. You might be missing a whole list of other things as well.

[2017-04-30 11:52] #7159 closed

[2017-04-30 11:53] LorenzMeier commented on #7150
You need to use a recent version from master to use the new logger, because it was off by default on MindPx.

[2017-04-30 11:53] #7150 closed

[2017-04-30 11:53] LorenzMeier commented on #7035
Fixed.

[2017-04-30 11:53] #7035 closed

[2017-04-30 11:55] LorenzMeier commented on #6479
Your proposal makes sense. But at least this is fixed on master.

[2017-04-30 11:55] #6479 closed

[2017-04-30 11:55] LorenzMeier commented on #6445
Closing as stale.

[2017-04-30 11:55] #6445 closed

[2017-04-30 11:58] LorenzMeier commented on #6355
I think we fixed this.

[2017-04-30 11:58] #6355 closed

[2017-04-30 11:59] LorenzMeier commented on #6211
Fixed in PR.

[2017-04-30 11:59] #6211 closed

[2017-04-30 11:59] LorenzMeier commented on #6037
Fixed.

[2017-04-30 11:59] #6037 closed

[2017-04-30 12:00] LorenzMeier commented on #6028
Fixed

[2017-04-30 12:00] #6028 closed

[2017-04-30 12:00] LorenzMeier commented on #5955
Done

[2017-04-30 12:00] #5955 closed

[2017-04-30 12:01] #5725 closed

[2017-04-30 12:01] LorenzMeier commented on #5692
Done

[2017-04-30 12:01] #5692 closed

[2017-04-30 12:01] LorenzMeier commented on #5446
Fixed.

[2017-04-30 12:01] #5446 closed

[2017-04-30 12:02] LorenzMeier commented on #5166
@DonLakeFlyer We're sending CAMERA_TRIGGER messages. Are you processing these?

[2017-04-30 12:04] LorenzMeier commented on #3890
@scott-eddy We've improved this on master - did this solve your issue or do you still need additional fixes?

[2017-04-30 12:06] LorenzMeier commented on #2915
Still broken?

[2017-04-30 12:06] LorenzMeier commented on #4788
This is in.

[2017-04-30 12:06] #4788 closed

[2017-04-30 14:24] mzahana commented on #7150
How recent is recent? I tried this couple of days ago and did not work.
Anyway will try with  latest master again.

On Apr 30, 2017 2:53 PM, "Lorenz Meier" <notifications@github.com> wrote:

[2017-04-30 15:20] mzahana commented on #7150
* yesterday, I changed SD card, and used master branch that is couple of days old from the time of this comment, and got *ulog working.
* now, i just updated to latest master, and got *ulog too.

I am guessing it is an SD card problem, although it's a new SD that cam with MindPX!

[2017-04-30 15:33] pavel-kirienko commented on #2915
Yes, this is still broken, and I don't have the bandwidth to look into this now. Perhaps later. AFAIK, right now this feature is not critical.

[2017-04-30 15:36] dagar commented on #5114
You can get the current x,y,z velocity setpoint in POSITION_TARGET_LOCAL_NED (http://mavlink.org/messages/common#POSITION_TARGET_LOCAL_NED).

[2017-04-30 16:41] Ashucool41 commented on #7159
I am using GCC 5.4 only and also double checked every other packages given on the website. Is there any other package I need to install ?

[2017-04-30 16:56] Ashucool41 commented on #7159
And both the above mentioned errors correspond to this particular line in the cmakelists.txt file:
" STRING(REGEX MATCH "[^\n]*" c_compiler_version_short ${c_compiler_version})"

[2017-04-30 17:00] mhkabir commented on #7159
No you're not. See your own build output.

[2017-04-30 17:18] dagar commented on #7159
@Ashucool41 which version of cmake is this? You likely need to update the dev environment, but I'd like the cmake config to fail more gracefully with useful messages.

Can you print `${CMAKE_C_COMPILER}` and `${c_compiler_version}` here? -
 https://github.com/PX4/Firmware/blob/master/CMakeLists.txt#L318

[2017-04-30 17:21] Ashucool41 commented on #7159
I meant I'm getting the same error even after updating

make px4fmu-v2_default
-- PX4 VERSION: v1.6.0rc1-959-g0a80ee6
-- CONFIG: nuttx-px4fmu-v2-default
-- CMAKE_MODULE_PATH: /home/ashu/src/Firmware/cmake
-- Nuttx build for px4fmu-v2 on m4 hardware, using nsh with ROMFS on px4fmu_common
-- The ASM compiler identification is GNU
-- Found assembler: /root/gcc-arm-none-eabi-5_4-2016q2/bin/arm-none-ea

[2017-04-30 17:27] dagar commented on #7159
Can you print those variables I mentioned above? Which version of cmake?

[2017-04-30 21:51] lovettchris commented on #6355
yes works much better now, thanks.

[2017-04-30 22:08] dagar commented on #5824
I think we resolved this?

[2017-04-30 22:08] #5824 closed

[2017-04-30 22:08] #6456 closed

[2017-04-30 22:11] dagar commented on #5626
@tubeme have you tried this recently with master than maintains FW pitch setpoint offset during back transition? Next step will be using the position controllers for active braking. https://github.com/PX4/Firmware/issues/6856

[2017-04-30 22:11] #5626 closed

[2017-04-30 22:14] dagar commented on #7146
@sanderux let's think about this as part of https://github.com/PX4/Firmware/issues/6856 and https://github.com/PX4/Firmware/issues/4845

I'm far more concerned with peak usage at critical times like transition.

[2017-04-30 22:14] #7146 closed

[2017-04-30 22:16] dagar commented on #7131
It sounds like this is more of an issue with the autopilot not providing good feedback? If you can post thorough details we can improve it.

[2017-04-30 22:16] #7131 closed

[2017-04-30 22:17] dagar commented on #7133
@borune-k12 which version of PX4 is this?

[2017-04-30 23:40] priseborough commented on #3128
To enable three pixhawks to operate as a coordinated entities with fail operative behaviour, data needs to be shared a different points. Functionally, data sharing can be visualised as planes that cut between all systems at  specific locations along the processing chain. These planes share sensor, estimator, command and decision data. The use of median select algorithms provide a reliable method o

[2017-04-30 23:59] hamishwillee commented on #7147
@dagar Can you update the parameter doc (if you think necessary) to

I'll fix up our other ones.

[2017-05-01 08:24] LorenzMeier opened #7163 "Implement CAMERA_IMAGE_CAPTURED for trigger"
http://mavlink.org/messages/common#CAMERA_IMAGE_CAPTURED

@mhkabir I will take a first pass at this to prepare the architecture, but it is obviously something that you should pick up and finish. Please use the latest daily build of QGC. It should show an icon for each image taken.

[2017-05-01 08:27] klopezal commented on #6712
Can't reproduce with V1.3 modifications, but I'd like to instrument to make sure it is not a hidden problem.

[2017-05-01 09:29] LorenzMeier commented on #7163
Here: https://github.com/PX4/Firmware/pull/7164 I'm closing this one.

[2017-05-01 09:29] #7163 closed

[2017-05-01 11:03] hamishwillee commented on #7028
Thanks @MaEtUgR . I guess that means MC and VTOL are now pretty much done. Just need to sort out FW and these four can go live :-)

[2017-05-01 13:01] LorenzMeier commented on #7118
Duplicate of #7164 now.

[2017-05-01 13:01] #7118 closed

[2017-05-01 13:01] LorenzMeier commented on #5166
Duplicate of #7164 now.

[2017-05-01 13:01] #5166 closed

[2017-05-01 13:02] LorenzMeier commented on #7109
I'm closing this since the geotagging is handled in a different issue.

[2017-05-01 13:02] #7109 closed

[2017-05-01 13:21] LorenzMeier commented on #6106
Still important, but I'm pushing this out. @weiweikong I don't have an off board setup here. Would you be able to debug this? Otherwise it will take some time to set up for this.

[2017-05-01 13:25] LorenzMeier commented on #6712
Since the HW is not widely deployed and its unclear if this still persists moving out to next release.

[2017-05-01 13:26] LorenzMeier commented on #6443
We've changed so much (and improved so much) that I expect this to be solved on a correctly calibrated setup. Please re-open if it persists.

[2017-05-01 13:26] #6443 closed

[2017-05-01 14:34] dagar commented on #7028
I've lost track of where we are with this. Which FW parts do you think we need?
In general can we try to emphasize the commonality between MC and FW? These are core PX4 features, but FW and MC sometimes have to handle each step a bit differently.

For example RTL is the same, but a FW and MC loiter and land differently.
In HOLD vehicles always respect MIS_LTRMIN_ALT.

Even takeoff and land can fir

[2017-05-01 15:00] jgoppert commented on #6388
Resolved.

[2017-05-01 15:00] #6388 closed

[2017-05-01 15:58] sanderux commented on #7123
@ChristophTobler do you have a (5v) red wire attached to your esc's?
@bkueng those autoshot esc's seem to have a bec too, does it also happen when you cut the red wires?

[2017-05-01 16:12] sanderux commented on #7078
@dagar OSD mode just streams less: https://github.com/PX4/Firmware/blob/45af77a5431a35444afd4d80e32aabc8feb36c66/src/modules/mavlink/mavlink_main.cpp#L2048

so it should work just as well on telem1

[2017-05-01 16:26] LorenzMeier commented on #7127
Resolved by: https://github.com/PX4/Firmware/pull/7166

[2017-05-01 16:26] #7127 closed

[2017-05-01 22:28] AndreasAntener commented on #4221
Apart from @MaEtUgR mixer input, didn't this get fixed in https://github.com/PX4/Firmware/pull/6401?

[2017-05-02 01:00] hamishwillee commented on #7028
@dagar

I'm waiting on you to respond to clarification emails regarding takeoff and landing.

Did you [read the proposed text](https://github.com/hamishwillee/px4_user_guide/tree/hgw_landing_takeoff_mc/en/flight_modes)? - that is exactly what I've tried to do.
- Each topic starts with a sentence that outlines the common core behaviour.
- Then we have separate sections for the details of each vehic

[2017-05-02 04:46] davids5 commented on #7123
I received the ESC's and have captured the cause.

Setup is 2 Lumenier 12 amp ESC w/ SimonK AutoShot (2-4s N-FET) FMU_CH1 and FMU_CH2
Motors SunnySky X1806S KV2300

With Both Red wires connected on FMU_CH1 and FMU_CH2

![image](https://cloud.githubusercontent.com/assets/1945821/25602897/eee51e72-2e92-11e7-9e33-8177f6b6b3b1.png)

![image](https://cloud.githubusercontent.com/assets/1945821/25602939/

[2017-05-02 05:17] LorenzMeier commented on #7123
@davids5 It makes no sense modifying hardware for @bkueng. If you cut the red wires (power), does it still do that?

[2017-05-02 05:42] LorenzMeier commented on #7142
Merged https://github.com/PX4/Firmware/pull/7167 and consequently closing this.

[2017-05-02 05:43] LorenzMeier commented on #7142
Actually keeping it open as a "new" issue to track memory management for IO on next release.

[2017-05-02 06:08] davids5 commented on #7123
@LorenzMeier  see Last pic it is with no red wires.

In the AM I can try to change the io cinfiguration

[2017-05-02 06:24] LorenzMeier opened #7168 "HC_SR04 driver needs cleanup"
The HC_SR04 driver needs cleanup.

[2017-05-02 06:28] LorenzMeier opened #7169 "Remove MPU6500 driver due to insufficient testing with vibration"
The [MPU6500 driver](https://github.com/PX4/Firmware/tree/master/src/drivers/mpu6500) configures the sensor not correctly, which will lead to bad flight performance. It has to be removed. Instead the MPU9K driver should be used with similar arguments:

[code]

Note that the -R param is lightly correctly set at -R8, if not it needs to be changed. This applies to the MindPX config which needs to be

[2017-05-02 06:42] LorenzMeier commented on #7168
Main questions:

  * Is the driver functional?
  * Why does it have so much code commented out?
  * The chinese comments should all be translated to english
  * How has this been tested?

[2017-05-02 07:24] borune-k12 commented on #7133
@dagar i dont know what the number but i got it from qgc from master branch

[2017-05-02 08:12] klopezal commented on #7054
@LorenzMeier @sanderux @davids5
Solved by PR #7167.

It looks like it was a memory issue. However some elements remain obscure to me, shouldn't px4io-v2 binaries be of exactly the same size for FMUv2 and FMUv4pro?

FMUv2 (master) :

`[PX4IO]
 using firmware from /etc/extras/px4io-v2.bin
[PX4IO] found bootloader revision: 4
[PX4IO] erase...
[PX4IO] programming 55180 bytes...
[PX4IO] verify...
[PX4I

[2017-05-02 08:59] MaEtUgR commented on #7125
The problem is not that I want to commit without check, rather the opposite I want to be sure if the check runs over my commit it has no style problems.

A beginner might not understand this problem in the first place and even an experienced user might forget to stage (`git add`) the changes proposed by `make format`.

The summarized result is: the style was fixed by `make format`, the fixes are n

[2017-05-02 09:21] muharred commented on #4221
It looks like it was fixed in the mentioned PR, yes.

[2017-05-02 09:25] bkueng commented on #6984
No, I did not look into that yet.

[2017-05-02 09:52] LorenzMeier commented on #7169
Fixed

[2017-05-02 09:52] #7169 closed

[2017-05-02 10:58] #4221 closed

[2017-05-02 12:02] western-co-at opened #7173 "ubx checksum err"
During normal startup or reboot I sometimes get `WARN [gps] ubx checksum err` followed by `WARN [gps] GPS module lost`. I did a test where I set a test point when the warning happens and connected the serial lines of the GPS to an oscilloscope with serial analyzer function.
What I see is that the error immediately occurs after the configuration of the gps module (function GPS
DriverUBX::configure)

[2017-05-02 13:21] dagar commented on #7125
The pre-commit hook just runs the checker against files that have changed (on disk). We'd need to pipe the staged version instead. https://github.com/PX4/Firmware/blob/master/Tools/pre-commit#L59

Although I'm still more interested in moving to clang-format if we're going to do anything. It does a better job, has more options, and integrates with virtually every editor/IDE we use.

[2017-05-02 13:32] Stifael commented on #6604
https://github.com/PX4/Firmware/pull/7152

[2017-05-02 13:38] LorenzMeier commented on #7173
You're doing great hardening work, please keep this coming!

Let's increase the buffer to 200 bytes as the first stab.

[2017-05-02 15:11] lxgen opened #7174 "make: *** [posix_sitl_default] Error 2"
When I type ' make posix_sitl_default', an issue is caused.It shows as follows:
/bin/sh: 1: cmake: not found
/bin/sh: 1: cd: can't cd to /mnt/c/Users/l_xgen/Firmware/build_posix_sitl_default
make: *** [posix_sitl_default] Error 2

[2017-05-02 15:34] mcharleb commented on #7174
You need to have cmake installed. See https://dev.px4.io/en/setup/dev_env_linux.html

[2017-05-02 15:39] dagar commented on #7063
It's stuck in transition waiting to achieve airspeed and there's currently no timeout implemented. I've added one, but need to do some testing.
The tailsitter gazebo simulation doesn't work right because it's not registering airspeed when moving forward in the FW frame. We'll probably need to hack it in sitl_gazebo.

[2017-05-02 16:20] davids5 commented on #7168
1. [Fix](https://github.com/PX4/Firmware/blob/master/src/drivers/hc_sr04/hc_sr04.cpp#L198-L204) Driver should use the timer capture interface IOCTL See FMU::test.

2. [Fix](https://github.com/PX4/Firmware/blob/master/src/drivers/hc_sr04/hc_sr04.cpp#L541-L545) usleep will not work here.

The OS granularity is 1 ms. Priority and quantisation errors will make this a very long pulse.
Options:
a) prefe

[2017-05-02 16:35] #7174 closed

[2017-05-02 16:36] dagar commented on #7130
Closing as duplicate of https://github.com/PX4/Firmware/issues/3874.

[2017-05-02 16:36] #7130 closed

[2017-05-02 16:37] dagar commented on #7078
WIP PR to add options for the default interface. https://github.com/PX4/Firmware/pull/5184

[2017-05-02 16:37] #7078 closed

[2017-05-02 17:10] davids5 commented on #7054
@klopezal - Thanks for testing latest.

Ues it does seem odd

diffing the symbols from
```arm-none-eabi-nm -n -S -C /<build/>/src/modules/px4iofirmware/px4io-v2```

I removed the addresses and left  just the size

![image](https://cloud.githubusercontent.com/assets/1945821/25629690/1e2e18fa-2f06-11e7-9823-d4584b3ae558.png)
...

So things are different but why is the question.

[2017-05-02 17:51] dagar commented on #7054
Save and compare the verbose output from both builds. Is the px4iofirmware module building with different options?

[2017-05-02 18:05] davids5 commented on #7142
I have one more "high hanging fruit" I want to pick.
I will be forced to do it for our next TBD update to upstream of NuttX any way.
It will take some work, but I described it [here](https://groups.yahoo.com/neo/groups/nuttx/conversations/messages/14649)

I think I can get back another ~228 bytes on current master's Nuttx and twice that on upstream NuttX

[2017-05-02 19:15] mzahana opened #7177 "Gimbal Control with QGC User Interface is Not available!"
I am aware that there is an app in PX4 that allows to control a gimbal. However, it's not activated/running by default, and there is no User Interface for it in QGC. There is something similar in APMCopter firmware which it is very convenient. It would be very useful to have it in PX4/QGC.

Thanks.

[2017-05-02 19:49] alexandrelheinen commented on #6962
I am having a similar issue:

I am trying to implement a PX4-based autopilot for a fixed-wing UAV. It turns out that the easiest alternative is to use the 4 PWMs output on port J13 which uses `snapdragon_pwm_out` module (https://github.com/PX4/Firmware/tree/master/src/drivers/snapdragon_pwm_out).

As we can observe in the source code, it tries to parse the mixer file into a `MultirotorMixer` objec

[2017-05-02 19:50] alexandrelheinen commented on #6525
I am having a similar issue:

I am trying to implement a PX4-based autopilot for a fixed-wing UAV. It turns out that the easiest alternative is to use the 4 PWMs output on port J13 which uses `snapdragon_pwm_out` module (https://github.com/PX4/Firmware/tree/master/src/drivers/snapdragon_pwm_out).

As we can observe in the source code, it tries to parse the mixer file into a `MultirotorMixer` objec

[2017-05-02 19:55] pavel-kirienko commented on #7127
Sorry that it took me forever to respond, but my proposed solution wouldn't have helped anyway. According to the boot log posted above, the memory issues begin immediately after the UAVCAN node is started. These issues could not be induced by dynamic memory allocation, because in the very short time interval between initialization of the UAVCAN node and the moment where issues begin the node would

[2017-05-02 19:55] LorenzMeier commented on #6525
Yeah that's clearly wrong try replacing this here:
https://github.com/PX4/Firmware/blob/master/src/drivers/snapdragon_pwm_out/snapdragon_pwm_out.cpp#L174

With the more generic call Mixer::from text or something along these lines:
https://github.com/PX4/Firmware/blob/master/src/drivers/navio_sysfs_pwm_out/navio_sysfs_pwm_out.cpp#L135-L164

[2017-05-02 20:17] mhkabir commented on #7177
Working on it ;)

[2017-05-02 20:38] mzahana commented on #7177
Awesome!

[2017-05-02 21:48] davids5 commented on #7123
@LorenzMeier - I got!

Master 2ef5ebb6dbd9f1f9617ecb60e5b976fe23209bbd decay time is 540uS
![image](https://cloud.githubusercontent.com/assets/1945821/25640768/a5e0fef4-2f2c-11e7-86ed-18b378b4245d.png)

PR that fixes it is [here](https://github.com/PX4/Firmware/pull/7151) decay time is 13.8 uS
![image](https://cloud.githubusercontent.com/assets/1945821/25640799/c8c26fac-2f2c-11e7-869b-5bd0cc6cd151

[2017-05-03 06:31] #7173 closed

[2017-05-03 06:33] LorenzMeier commented on #7123
Fixed on master.

[2017-05-03 06:33] #7123 closed

[2017-05-03 06:38] LorenzMeier commented on #7018
@mhkabir What is your current status on this?

[2017-05-03 09:46] MaEtUgR commented on #6651
should be fixed by https://github.com/PX4/Firmware/pull/7081

[2017-05-03 09:47] MaEtUgR commented on #6818
should be fixed by https://github.com/PX4/Firmware/pull/7081
if not, please reopen

[2017-05-03 09:47] #6818 closed

[2017-05-03 13:46] bkueng opened #7179 "Pixhawk Pro: inspect communication with IO"
When testing the Pixhawk Pro I ran into a state where communication with the IO failed. I don't remember the exact steps, I did some `reboot`s on the console before it happened. This is the output:
[code]
Subsequent reboots showed CRC errors from px4io and mixer loading failures.
I could however not reproduce it after power cycling.

[2017-05-03 13:52] LorenzMeier commented on #7179
Could very well be this one:
https://github.com/PX4/Firmware/pull/7172

[2017-05-03 14:58] tstellanova commented on #6836
FWIW I'm encountering this same problem with a brand new Pixracer and the latest stable px4 firmware.  The airframe I selected is the standard DJI Flamewheel F450 , nothing custom.

[2017-05-03 15:48] alexandrelheinen commented on #6525
UPDATE: the reason why I am getting this error is why the `MultirotorMixer::from_text` function (https://github.com/PX4/Firmware/blob/master/src/modules/systemlib/mixer/mixer_multirotor.cpp) requires a mixer file defines the Multirotor Geometry in the first line. However how could I do this from a fixed-wing, if only multirotors geometries are accepted?

If a give an unrecognised geometry, what ar

[2017-05-03 16:38] rolandash commented on #5995
@dagar As 1.5.1rc3 is just an transition version, i did not have much chance to do more flight tests on it.
However this issue is not observed any more on successor versions. Although i personally still have the feeling that baro altitude estimation does not give me the same confidence as in early 1.4.x versions. Will need more flights to find out.

This issue can be closed.

[2017-05-03 16:38] #5995 closed

[2017-05-03 16:52] rolandash commented on #6947
@dagar I would think this issue is more sever than an enhancement, as the LED is actually in wrong status, as it just never updating, may misleading pilots.

The RC-lost issue after touch down may better be in a seperate issue. But i will have a double check first to see if it still exists in master now.

[2017-05-03 16:59] dagar commented on #6947
Do you have a log? Were the battery thresholds configured (BAT_LOW_THR, BAT_CRIT_THR, BAT_EMERGEN_THR)?

[2017-05-03 17:09] rolandash commented on #6947
Yes i think they are configured. I will try to upload log tomorrow.

[2017-05-03 19:56] LorenzMeier commented on #7018
Annoying but not critical enough to gate the release.

[2017-05-03 19:57] LorenzMeier commented on #4819
Not critical enough to gate the release.

[2017-05-04 05:47] LorenzMeier commented on #7179
I'm closing this since this seems to be an exact duplicate of an existing issue. Please re-open if you can reproduce it after flashing master from *right now*.

[2017-05-04 05:47] #7179 closed

[2017-05-04 06:03] LorenzMeier opened #7183 "Bit-banding for atomic flag access on STM32"
By using bit-banding we could avoid having to lock the OS for flag accesses to avoid read-modify-write issues: http://www.micromouseonline.com/2010/07/14/bit-banding-in-the-stm32/

[2017-05-04 06:04] LorenzMeier commented on #7183
Starting point would be to replace these: https://github.com/PX4/Firmware/pull/7181/commits/93bcde197ddf4b9eea31cc3b82dd8a37c3bae5dd#diff-8c9290622c738995a6aa1c57f5d7706dR206

[2017-05-04 06:38] LorenzMeier commented on #7051
I've inspected this. What is happening is that the system (correctly) detects an actuator saturation and engages a recovery mixing strategy to maximize torque along the roll and pitch axes to recover the attitude. You can consider this a safety envelope that should never be reached by the top-level controller and kicks in here as the controller is making demands that are not feasible in an under-a

[2017-05-04 06:57] hamididari opened #7184 "problem in Building PX4"
hi guys
I try to building px4 but i got this err
[code]
`
i try to fix the problem with this command :
  sudo apt-get install python-empy
  sudo pip install catkin_pkg

[code]
how can i fix this
thank you

[2017-05-04 07:27] svpcom commented on #7051
Ok, i got it. My main idea was that in case of engine dynamic braking discontinuous switch between min thrust and max thrust caused engine overheat. Can mixer saturation happens when flying on high wind condition (or braking from max horizontal speed) or it is hard to achieve in real flights ?

[2017-05-04 12:26] ChristophTobler opened #7185 "Losing GPS does not trigger fail safe"
On latest master, failsafe when losing GPS does not work. A few test cases:
* When I unclick `use GPS` for the EKF2_AID_MASK (in air), the only thing appearing is `WARN  [navigator] global position timeout` after a few seconds but nothing happens. The quad just starts to drift.
* When I stop sending GPS (in air), nothing happens. The quad just starts to drift.
* When the home position was set but

[2017-05-04 12:26] ChristophTobler commented on #7185
@priseborough FYI

[2017-05-04 12:36] ChristophTobler commented on #7185
for the first case `_ekf.local_position_is_valid()` reports invalid, hence the navigator warning. For the other two cases local position is still valid.

[2017-05-04 14:44] Neels001 commented on #4975
Hello yota-code I am facing the same issue.Could you please help me with steps how to fix it.
Thank you!!

[2017-05-04 15:20] yota-code commented on #4975
If I remember well, the problem disappeared when I had the correct java version, the ones mentioned on July the 12th: openjdk-8-jre-headless openjdk-8-jdk-headless.
No other ubuntu package gave me a good result... Do you use ubuntu too ?

[2017-05-04 15:44] Neels001 commented on #4975
Thank you for ur prompt reply..
Yes I use Ubuntu too, I installed same packages..still I face the same error..Do I need to uninstall java and then reinstall it?

[2017-05-04 15:46] ChristophTobler commented on #7185
Ok, so I don't think it's the estimator but commander/navigator because I was disabling GPS here https://github.com/PX4/sitl_gazebo/blob/master/src/gazebo_mavlink_interface.cpp#L572. With `gpssim stop` the local and global position are invalid but landing does not work.

[2017-05-04 15:47] yota-code commented on #4975
you can try to find all already installed java packages and do an apt purge <package> to do a clean reinstall, and you could also provide :
`java -version` and `lsb_release -a`
because I have no new idea :)

[2017-05-04 16:21] rolandash commented on #7168
This driver was functional - on earlier MindPX hardware though, before V2.3 i think. It is in preliminary status. It aims to support up to maximum 6 sonars, directly through MindPX FMU's I/O pin, save the needs for an external co-processor for range finders.

After that as there are major relocations of hardware I/O resources i think it not working on MindPX after V2.6 yet.

As we are trying to ad

[2017-05-04 17:02] davids5 commented on #7183
I woulsd avoid BB at it is not supported on all STM32's
How about built in atomic  https://gcc.gnu.org/onlinedocs/gcc-4.6.1/gcc/Atomic-Builtins.html know to work on ARM

[2017-05-04 17:07] ChristophTobler commented on #7185
The error seems to be in here https://github.com/PX4/Firmware/blob/master/src/modules/commander/commander.cpp#L3779

[2017-05-04 17:32] davids5 opened #7187 "BUG:PX4PIO sem_wait call off Interrupt"
![image](https://cloud.githubusercontent.com/assets/1945821/25716539/1a2c62ac-309b-11e7-9842-6a9c19098540.png)

Foreground needs to atomically save malloc info's minfo.fordblks to    r_page_status[PX4IO_P_STATUS_FREEMEM]  (or a shadow used to update) r_page_status[PX4IO_P_STATUS_FREEMEM]

[2017-05-04 18:45] ChristophTobler commented on #7185
@priseborough It will never enter https://github.com/PX4/Firmware/blob/master/src/modules/commander/commander.cpp#L3786.  `required_accuracy * 2.5f` is too big because `local_position->eph` will only increase to about `6`. After https://github.com/PX4/ecl/blob/master/EKF/control.cpp#L438-L448 it is `0`.

It works if I remove the `2.5` multiplier but I´m not sure if this is very robust.

[2017-05-04 20:33] LorenzMeier commented on #7187
Fixed!

[2017-05-04 20:33] #7187 closed

[2017-05-04 21:35] priseborough commented on #7185
OK, I see the problem, will submit a PR soon.

[2017-05-04 22:11] Neels001 commented on #4975
hi yota-code
I have provided the details of my problem.
The below are versions I am using..
neelesh@neelesh-Lenovo-G580:~$  lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.2 LTS
Release:	16.04
Codename:	xenial
neelesh@neelesh-Lenovo-G580:~$
neelesh@neelesh-Lenovo-G580:~$ java -version
openjdk version "1.8.0_121"
OpenJDK Runtime Environment (build 1.8.0

[2017-05-05 07:34] bkueng commented on #7183
BB is indeed not portable. I already looked into atomic operations (for RCU) and planned to introduce a general API for PX4 based on GCC's builtins. They are supported by Clang as well.

[2017-05-05 11:26] ChristophTobler commented on #7055
this is very important for the future, I think.

[2017-05-05 13:42] ChristophTobler opened #7191 "commander land setpoint spike"
There is a setpoint spike in X/Y when performing a landing. But it only happens if you are in position mode.
To reproduce the issue: `make posix_sitl_default gazebo`, wait until the home position is set, then `commander takeoff`, switch to position and fly a bit and then `commander land`.
When just doing `commander takeoff` and `commander land`, it does not happen.
Might be related/similar to http

[2017-05-05 13:44] ChristophTobler commented on #7191
Actually the spike also occurs when switching from position to e.g. hold (but then not when landing). Could be the switch from control_manual to control_auto.

[2017-05-05 13:56] ChristophTobler opened #7192 "QGC has different takeoff behavior than shell"
When I use QGC to perform a takeoff for the optical flow simulation (`make posix_sitl_ekf2 gazebo_iris_opt_flow`) two things can happen (if the takeoff button is enabled which is not always the case):
* The yaw setpoint will be zero instead of the current estimated yaw
* The height setpoint will be 100m

This only happens if I perform a takeoff with QGC. It never happens with `commander takeoff`.

[2017-05-05 14:52] ChristophTobler commented on #7192
Seems when performing a takeoff with QGC https://github.com/PX4/Firmware/blob/1fd343b5cc7321d2e16a70ef4a086bcae58f945d/src/modules/navigator/navigator_main.cpp#L426-L462 does not always run. If it does, takeoff takes place normally. If it doesn't, it yaws. For the wrong altitude setpoint, I'm not sure yet.

[2017-05-05 16:26] fightinghui opened #7193 "Problem of px4 about check out tag on Eclipse of Ubuntu"
I have one problem of px4 about check out repository on Eclipse of Ubuntu.I want to change  Firmware from v1.3.0RC1 to v1.4.1 in git repository. However,when I check out v1.4.1,it tell me to have check out conflicts.I look for some methods on the Internet,But it does not solve this problem. I still have no idea to do something.Please help me !I'm looking forward to your reply.Thanks!
![photo](http

[2017-05-05 18:49] tops4u opened #7194 "MC 1.6RC YAW Fault when switch to Loiter during Mission"
Today I wanted to test https://github.com/mavlink/qgroundcontrol/issues/4902 which basically works now. But when switching to Loiter during Mission the Vehicle turned around by about 160degress. Continuing the mission, the YAW Angle stayed like this. I assume this to be a bug in PX4.

Check the Log showing YAW Turnaround: http://logs.px4.io/plot_app?log=c0cf8e2d-b2c5-4594-9a09-764ee2210ded#Nav-Yaw

[2017-05-06 22:19] Antiheavy opened #7196 "feature request: starting tone for compass calibration"
There is an audible double-tone from the autopilot when completing a spin around an axis during compass calibration - this is nice feedback.

Would it be possible to add a single tone to indicate an axis is ready to start spinning?  Right now we have to watch the screen in QGC for feedback.  Because you want to stand far away from metal and electronics when doing a field compass calibration this c

[2017-05-07 07:34] AliSiddiqui4 commented on #6408
@anuppari @nicolaerosia  any idea how can I do the same for the erle copter [tutorial](http://docs.erlerobotics.com/simulation/vehicles/erle_copter/tutorial_1). I have managed to spawn multiple erle copters in Gazebo but as there is only one MAVlink that links to them so they fly away erratically. Please help, I am new to this so a step by step solution would be appreciated.

[2017-05-07 07:50] tomatac opened #7197 "Time sync issue in SITL simulation - mavros topics are published starting to Jan/01/1970"
Mavros topics are published starting to Jan/01/1970 instead of using the current time on the host computer. How can we correct this issue?
Do I need to add a command in the …/posix-configs/SITL/init/lpe/iris startup file to activate synchronization?
Also by default mavros is set to use the fcu time (/mavros/time/time_ref_source: fcu). Is it better to set it mavros to sync time with the host comput

[2017-05-07 11:26] dennisss commented on #6408
If anyone wants a turn key solution to this, I implemented a solution to this in my research platform here (https://github.com/dennisss/tansa/tree/master/doc/examples/gazebo_spawn), given a list of positions, an rcS file, and a single sdf file, it will programmatically hot load models into the world. It takes about 10 lines of code to use. This has substantially sped up our development speed.

Thi

[2017-05-07 14:28] schmittlema commented on #7068
It is still rolling around. Am I missing something here? 4035 seems to allow z velocity control. And I don't fully understand the header/coordinate_frame stuff. Does the headerstamp need to be updated regularly?

`       rpos = PositionTarget()
        rpos.type_mask = 4035 #0b0000101111100011
        rpos.header.frame_id = "home"
        rpos.header.stamp = rospy.Time.now()
        rpos.coordinat

[2017-05-07 17:17] TobiMiller commented on #7068
try not to use the auto takeoff command and go directly into offboard mode. does anything change the behaviour? i think i had the same problem with going into offboard after an autotakeoff service call. i think it is a bug in firmware.

[2017-05-07 17:27] schmittlema commented on #7068
Yeah it already goes straight into offboard. I was never using auto-takeoff

[2017-05-07 17:28] TobiMiller commented on #7068
pls send the whole script. i will have a look. http://pastebin.com

[2017-05-07 17:45] schmittlema commented on #7068
The main code that calls these functions:
https://pastebin.com/uJmze5H7
The environment code:
https://pastebin.com/5zjWnUwy

Thank you!

[2017-05-07 18:19] TobiMiller commented on #7068
i would say you should create just a simple python script which publishes your message and you try qgroundcontrol to set the offboard mode. if this works you can go further. for me your code looks too bloated. beside some indent issues there is a lot of stuff you dont need in your code.

[2017-05-07 19:48] cagdas001 opened #7198 "Generic Quad X - Boot Up Problem"
The device does not boot up after selected the Generic Quad X as the airframe in the latest stable release. There is no problem on other frame types, the only problem is with Generic Quad X.