[2020-12-28 20:59] #16390 closed

[2020-12-29 07:36] #14075 closed

[2020-12-29 08:41] moreba1 commented on #16440
I calibrated the airspeed scale at 1000 m AMSL altitude, but in the second flight at 2000 m AMSL altitude it was uncalibrated.

[2020-12-29 10:04] LorenzMeier commented on #15699
This is all working on master (I run two systems, one on Catalina and one on Big Sur). Please make sure to:
1. Have an up-to-date Homebrew installation
2. Upgrade to current master of PX4 to verify
3. Run `make distclean` in the PX4 folder

Please report back if it does work for you or not.

[2020-12-29 10:32] 1AwesomeDeveloper opened #16459 "Issue with MavlinkFTP of pixhawk1"
hello all, I am trying using PX4 Pro Stable Release v1.11.2 on PX4 FMU v2, and I am trying to download a file via Mavlink FTP.
But when I try to request a file via Mavlink FTP the board doesnot repond to this operation, and I get a timeout error. Can anyone please tell me that why this is happening, and is Mavlink FTP available for this old version of Pixhawk ?

[2020-12-29 10:33] canberkdurmus commented on #15699
Hello, the problem is solved for me at [#679](https://github.com/PX4/PX4-SITL_gazebo/issues/679)

Running Catalina 10.15.7
Homebrew 2.7.1-27
Command Line Tools: 12.3.0.0.1.1607026830
Autopilot Master Branch

[2020-12-29 10:39] LorenzMeier commented on #16459
No, it is not available, since the board is flash constrained. You might be lucky though and your manufacturer might have mis-classified its FMUv3 as a v2 and you can convert it using the bootloader update:
https://docs.px4.io/master/en/config/firmware.html#bootloader

[2020-12-29 10:39] #16459 closed

[2020-12-29 10:40] LorenzMeier commented on #16436
You will need to reinstall your Gazebo environment - this error is related to your system setup, not to PX4.

[2020-12-29 10:40] #16436 closed

[2020-12-29 10:43] LorenzMeier commented on #15699
Perfect, thanks for the detailed report! I'm closing this accordingly. Please don't hesitate to reach out if you encounter more issues.

[2020-12-29 10:43] #15699 closed

[2020-12-29 11:06] 1AwesomeDeveloper commented on #16459
![image](https://user-images.githubusercontent.com/43859232/103279481-e3a42c80-49f3-11eb-9ac3-1450dd7ef28f.png)
Tried bootloader update FMUv3 was installed but didn't worked for my FTP Problem...still the board is not responding

[2020-12-29 11:08] LorenzMeier commented on #16459
Could you share a screenshot of the firmware upgrade?

[2020-12-29 11:09] 1AwesomeDeveloper commented on #16459
![image](https://user-images.githubusercontent.com/43859232/103279717-71801780-49f4-11eb-96ef-1e62d8b767ff.png)
here it is

[2020-12-29 11:17] LorenzMeier commented on #16459
Thanks! Let me quickly cross-check!

[2020-12-29 11:24] LorenzMeier commented on #16459
Which QGroundcontrol version are you using?

[2020-12-29 11:31] LorenzMeier commented on #16459
I checked and on my setup MAVLink FTP is enabled:
<img width="497" alt="Screen Shot 2020-12-29 at 12 30 03" src="https://user-images.githubusercontent.com/1208119/103280878-bfcfef00-49d1-11eb-836e-8a0bcba7e56f.png">

[2020-12-29 11:35] 1AwesomeDeveloper commented on #16459
I updated the firmware from stable version of QGroundControl v4.0.10.
I forked the main repo to my github (https://github.com/1AwesomeDeveloper/qgroundcontrol/tree/Spacejam_NPNT) and here I am doing changes. Applogies I don't know how to check the version of QGC I am working on

[2020-12-29 11:36] 1AwesomeDeveloper commented on #16459
when I try to check, from debug build I get this
![image](https://user-images.githubusercontent.com/43859232/103281161-26680380-49f8-11eb-9dde-c1debc65f73a.png)

[2020-12-29 11:38] 1AwesomeDeveloper commented on #16459
here is how you can get an idea what I am trying to do.
https://github.com/mavlink/qgroundcontrol/issues/9275

[2020-12-29 11:40] LorenzMeier commented on #16459
The URL of the file is incorrect - any file on the SD card is on `/fs/microsd/key.txt`, NOT `/key.txt`

[2020-12-29 11:41] LorenzMeier commented on #16459
Make sure you can see the file in the MAVLink shell - `ls /fs/microsd/key.txt` should list it.

[2020-12-29 11:51] 1AwesomeDeveloper commented on #16459
I tried to run on Mavlink Console but it shows
![image](https://user-images.githubusercontent.com/43859232/103281952-4dbfd000-49fa-11eb-803b-682650f9a1c2.png)

[2020-12-29 11:52] LorenzMeier commented on #16459
Use a QGC daily build please so we're sure you have the latest and something proven (it works for me).

[2020-12-29 12:02] 1AwesomeDeveloper commented on #16459
I have key.txt in my sd card
![image](https://user-images.githubusercontent.com/43859232/103282412-b0659b80-49fb-11eb-8087-f72b3e890638.png)
But when I look through mavlink console it doesn't show me
![image](https://user-images.githubusercontent.com/43859232/103282439-c96e4c80-49fb-11eb-881b-9c6ff55f6138.png)

[2020-12-29 12:05] 1AwesomeDeveloper commented on #16459
Sir, Now I am using the stable build.

[2020-12-29 12:18] 1AwesomeDeveloper commented on #16459
Sir by default my SD card has LOGS directory (note the caps), but in the Mavlink Console I have log(in small letters), I guess this is the issue but don't know how to fix it
Any Idea ?

[2020-12-29 13:55] LorenzMeier commented on #16459
The screenshot from your SD card shows that you don't have the file `key.txt` in the root of the SD card. You put it into a folder and so it can't be found on the path that you're attempting. Please make sure to check the file path and your steps very carefully. The issue tracker for an open source project is not intended for 1:1 debugging support.

I'm more than happy to resolve any real issues.

[2020-12-29 14:17] 1AwesomeDeveloper commented on #16459
Earlier it was not showing but I it showed after mounting the SD card on the PX4 filesystem using mount -t vfat /dev/mmcsd0 /fs/microsd

[2020-12-29 14:20] 1AwesomeDeveloper commented on #16459
thanks a lot. I will ask on forums for 1:1 debugging support.

[2020-12-29 15:15] 1AwesomeDeveloper commented on #16459
in root path also it didn't worked

[2020-12-29 16:28] dagar commented on #16372
We can consider this fixed by https://github.com/PX4/PX4-Autopilot/pull/16383.

[2020-12-29 16:28] #16372 closed

[2020-12-29 21:49] ryanjAA commented on #14505
So this is interestingly back. On release 1.11.2 if i follow the above and calibrate gyro and accel first, i can calibrate the horizon but once i reboot i cant calibrate it. Looking at the offsets of the accels, one of them has offsets of around 3 (MRO Pixhawk and i tried 3 different ones).

Presumably all hardware will have an offset different between two different sensors so this not being able

[2020-12-29 21:55] dagar commented on #14505
It should be better in master now (what will be v1.12), I relaxed the acceleration threshold slightly for ecl/EKF initialization not too long ago.

[2020-12-29 21:56] ryanjAA commented on #14505
OK Cool - Will the hack im currently doing be sufficient though for leveling in the mean time?

[2020-12-29 22:04] dagar commented on #14505
I would say yes only if you're not having to redo it more than once per vehicle.

What's happening is the lsm303d + l3gd20 combo is being given the same initial priority as the mpu6000, but since it has a much faster reset it ends up publishing data first and becomes the selected sensor. I would either lower the priority of the lsm303d + l3gd20 (CAL_ACCx_PRIO/CAL_GYROx_PRIO) or in startup add a de

[2020-12-29 22:29] ryanjAA commented on #14505
I'll try lowering the priority right now.

It happens to every vehicle on 1.11.2 after every reboot.

Excited about multi-ekf, just want to get this useable in the mean time.

[2020-12-29 22:34] ryanjAA commented on #14505
Ah - 1.11.2 doesn't have sensor priority yet.

Ok so how to delay them and by how much?

[2020-12-30 00:04] LorenzMeier commented on #14505
@dagar This sounds though like the condition for sensor usage in EKF2 should be reset once the system goes out of calibration mode.

[2020-12-30 00:09] LorenzMeier opened #16464 "Intermittent SITL failures"
@julianoes @dagar I did dig a little bit through the current intermittent SITL issues and what I see is that:

- It always happens on the first test (so its initialization)
- It happens with MAVSDK and with MAVROS (example: https://github.com/PX4/PX4-Autopilot/runs/1623874905?check_suite_focus=true#step:10:226)
- It seems network connection / simulator module / mavlink related (see the message fro

[2020-12-30 00:36] dagar commented on #14505
It already works that way, it's just really unintuitive if you fall into that hole because there's nothing that directly connects the underlying problem and what to do about it.
 -  ecl/EKF refuses to initialize (silently) because the accel norm exceeds the threshold => level horizon fails

To sidestep the issue I bumped the threshold a few weeks ago. https://github.com/PX4/PX4-ECL/blob/18f334f4db

[2020-12-30 01:15] dagar commented on #16464
One thing to be aware of is regular mavlink instances aren't covered by PX4 lockstep. It could still be possible to starve the connection to MAVSDK while the simulator and PX4 (sensors, estimator, controllers, output) are still working. I'm not yet suggesting this is a problem we're encountering.

[2020-12-30 09:46] RyGuy101 opened #16465 "ATTITUDE_TARGET MAVLink message does not provide thrust for multicopters"
**Describe the bug**
The ATTITUDE_TARGET MAVLink message does not provide thrust for multicopters (the thrust is always 0). This is because PX4 fills this field with the X component of thrust (thrust_body[0]), which is only relevant for fixed-wings.

This is easily fixable for users by hardcoding `-thrust_body[2]` instead (see https://github.com/PX4/PX4-Autopilot/blob/80068093d6d0ccd96233bf9cb4a49

[2020-12-30 09:51] ilNonn0 commented on #16358
Hi @dagar, sorry for the delay. It's Christmas time and I am at home with a personal laptop not able to build the firmware...
I struggled a bit to get the .bin file.
I just answer into the link you provided, however, the firmware doesn't work.
I saw your changes, but I think the main problem isn't the binding process since this can also be done "outside" QGC (in my case I used the procedure shown

[2020-12-30 10:41] LorenzMeier commented on #16358
@ilNonn0 Sorry for the delay - I have been out over Christmas, but I'm spending more time on it today. I had first to build the test setup, which I have now.

[2020-12-30 15:20] ryanjAA commented on #14505
If ecl/ekf is refusing to initialize is this a problem for flight or only for sensor calibration?

Meaning if the horizon doesn’t need to be leveled again as it was done previously are there concerns ekf still won’t initialize?

[2020-12-30 15:31] dagar commented on #14505
It's only a problem at initialization/startup, and only for particularly bad sensors old sensors.

[2020-12-30 15:41] ryanjAA commented on #14505
Thanks. Was worried for a moment to fly with them.

[2020-12-30 20:21] DonLakeFlyer opened #16467 "CAMERA_IMAGE_CAPTURED reporting capture_result = 0"
* This causes QGC to not display image icons on the map when flying a pattern
* This reproduces using v1.11.2 SITL with the typhoon. If this repros with real vehicles as well then this is a fairly significant loss of functionality.
* Strangely the telemetry from the camera itself has a success for result
![Screen Shot 2020-12-30 at 12 16 20 PM](https://user-images.githubusercontent.com/5876851/103

[2020-12-30 20:43] LorenzMeier commented on #16467
Fix is here: https://github.com/PX4/PX4-Autopilot/pull/16468

[2020-12-31 11:29] LorenzMeier commented on #16464
Another one: "Waiting for system to be ready" - I've seen weird behavior locally as well: https://github.com/PX4/PX4-Autopilot/pull/16466/checks?check_run_id=1630000477#step:17:178

[2020-12-31 12:15] LorenzMeier commented on #16358
We are making progress, but not finished yet: https://github.com/PX4/PX4-Autopilot/pull/16469

I've also ordered an NX10 so we get a head-start on SRXL2 and potential issues there.

[2020-12-31 20:25] ryanjAA commented on #14505
As @dagar pointed out here https://px4.slack.com/archives/C0V533X4N/p1609285210239700?thread_ts=1609283837.239400&cid=C0V533X4N adding a sleep 1 to the line fixes this but just remember that when you startup you need to wait ~3 seconds before leveling the horizon or you will get "attitude estimator not running - check system boot”. Attached is the binary compiled (and compressed to GitHub accepts

[2021-01-01 13:29] LorenzMeier commented on #16432
@TSC21 Do you have an example that you could point people to?

[2021-01-01 13:30] LorenzMeier commented on #16378
The gimbal is too heavy for a "realistic" IRIS model. You would need to completely re-design also the trust curves.

[2021-01-01 13:30] #16378 closed

[2021-01-01 13:32] LorenzMeier commented on #16369
Because roll / pitch are prioritized over yaw. You will need to fix your system to re-gain yaw authority.

[2021-01-01 13:40] LorenzMeier commented on #15629
@VinniF Can this still be reproduced?

[2021-01-01 13:41] TSC21 commented on #16432
I don't but @Jaeyoung-Lim might have some insights since he extended the setpoint_position plugin with support for sending SET_POSITION_TARGET_GLOBAL_INT messages. But the quickest thing I can think of is that the altitude being sent is the relative instead of the absolute.

[2021-01-01 14:26] LorenzMeier commented on #13667
Please comment if this is still an issue for you.

[2021-01-01 14:26] #13667 closed

[2021-01-01 14:27] LorenzMeier commented on #15595
Could you re-try current master? A bunch of safety checks got into the way of upgrading IO firmware which might have affected you.

[2021-01-01 14:29] LorenzMeier commented on #16358
Fixed here: https://github.com/PX4/PX4-Autopilot/pull/16470 - works for me now - could you re-test and report back?

[2021-01-01 14:30] LorenzMeier commented on #15915
Thanks, fixed! https://github.com/PX4/PX4-Autopilot/commit/0bdae5745aec4efb2a32e0967ae43ba0563852b3

[2021-01-01 14:30] #15915 closed

[2021-01-01 14:34] LorenzMeier commented on #16187
We could provide further pointers if you would like to dive into the code - but I currently don't have hardware to reproduce / test. @davids5 might be able to provide pointers in NuttX.

[2021-01-01 14:36] #16467 closed

[2021-01-01 14:38] #16254 closed

[2021-01-01 14:38] #16248 closed

[2021-01-01 14:38] #16262 closed

[2021-01-01 14:39] #16053 closed

[2021-01-01 14:40] LorenzMeier commented on #16054
Use the output labeles S.BUS out

[2021-01-01 14:40] #16054 closed

[2021-01-01 14:41] LorenzMeier commented on #16334
Do you have an update on this?

[2021-01-01 14:42] LorenzMeier commented on #16459
I will be using this for mixer configurations myself in the next days and will post my working branch here. You might just need a working example to work from.

[2021-01-01 15:30] davidcgregory commented on #16369
The above log is from a test  on the bench with the drone stationary.   I'm having trouble stabilizing the drone around the yaw axis
and I was trying to verify mixer settings on the bench.    Perhaps the yaw problems in flight are related to the roll/pitch prioritization.

Does the roll/pitch prioritization occur here? https://github.com/PX4/PX4-Autopilot/blob/fd18ba649678a8aa5f1b871b2f6b3d770c1d8

[2021-01-01 15:41] LorenzMeier commented on #16369
There and in the subsequently called mixer. For a heli or multi rotor you need to make sure to use a specific mixer, not the standard mixers

[2021-01-01 18:40] dagar commented on #16464
Here's a fresh one. https://github.com/PX4/PX4-Autopilot/pull/16473/checks?check_run_id=1634086648

![Screenshot from 2021-01-01 13-40-30](https://user-images.githubusercontent.com/84712/103444529-ed69a200-4c36-11eb-8975-d871396fabd4.png)

[2021-01-01 20:04] mcsauder commented on #16358
@ilNonn0 and @LorenzMeier , I bench tested current master with a Spektrum DX8 G2 and spektrum satellite serial receivers spm4647 and SPM9645. Everything works as expected.  Nice work @LorenzMeier

[2021-01-01 20:30] #16308 closed

[2021-01-01 22:35] ilNonn0 commented on #16358
Hi, @LorenzMeier great job.
Now everything works here: Spektrum DX8G2, remote satellite SPM9645 and DSMX 22ms as binding protocol.
First I have bounded the transmitter with the receiver, then I calibrated the radio Channel successfully.

Initially, I had troubles since I triggered the binding process by the Spektrum menu and it doesn't work, later I used the bind button at the radio power on and i

[2021-01-01 22:45] #16358 closed

[2021-01-02 00:15] LorenzMeier commented on #14354
@pkocmoud Looks like we have all the prerequisites managed (driver support there, etc). Could you test the current configuration so we have a baseline?

[2021-01-02 00:19] LorenzMeier commented on #13231
@MaEtUgR Can you think of a simple solution?

[2021-01-02 00:21] dagar commented on #14354
I believe everything here has been resolved.

[2021-01-02 00:21] #14354 closed

[2021-01-02 00:44] LorenzMeier commented on #16358
The root cause is a horrible protocol design by Spektrum where some of their receivers communicate without a header and or checksum. We tried to harden the parser, but that required you to use the PX4 binding process (which always worked on FMUv5 and FMUv2/3 if you had your system fully disarmed, but most people have the safety off by default - something that I've now allowed).

[2021-01-02 01:09] #15537 closed

[2021-01-02 01:14] LorenzMeier commented on #15138
I'm closing this issue as stale - @MartinStokelj on your comment on altitude: The hard part in system engineering is to detect failure and to not detect a "sane" system as faulty at the same time. Post-flight that's easy, but building a reliable algorithm is an art. A decade of work has gone into the state estimation framework and it is extremely robust for reasonable setups (and it is deployed in

[2021-01-02 01:14] #15138 closed

[2021-01-02 01:15] LorenzMeier commented on #15069
Is the issue still present in QGC? If yes, please file an issue in its issue tracker, ping me there and reference this one. Thanks!

[2021-01-02 01:15] #15069 closed

[2021-01-02 01:16] LorenzMeier commented on #15155
Is this still an issue?

[2021-01-02 09:51] yuthikasagarage opened #16474 "undesirable back-transition behavior."
when using just the vtol-transition mission item in qgc, or flipping the switch from fw to mc mode stabilized mode, the curved path gets executed with a rolling behavior in the back transition

this is solved in the pr-vtol-rtl-fixes when using vtol transition and land mode, but however it still persists on the above mentioned conditions.

**Alternate Solution**
https://github.com/PX4/PX4-Autopilo

[2021-01-02 13:07] LorenzMeier commented on #16474
Here is the PR: https://github.com/PX4/PX4-Autopilot/pull/16475

[2021-01-02 15:02] dayjaby commented on #16427
The rampup time for MC motors seems to be a bit too long, which causes pitch/roll instability. I assume your MC motors are not strong enough to handle your VTOL rolling, especially not if the thrust is still ramping up.

[2021-01-02 19:13] taileron commented on #16334
@LorenzMeier I was able to do some more research, the problem arises as soon as telemetry 1 or 2 is used ... I always had one of them in use, of course. The PixRacer only recognises UAVCAN when TEL 1 and TEL 2 are switched off. If one of the telemetry UARTS is activated, UAVCAN also blocks the nsh shell.

[2021-01-03 00:55] Jackiemesser commented on #14287
Hey, did you ever find a solution to your problem? I'm having a similar issue

[2021-01-03 14:45] taileron commented on #16334
@LorenzMeier For me, the deactivation of the ESP 01, which can be plugged into the PixRacer, was the final solution (mavlink start in rc.board_mavlink instead of TTXS0 -> TTYS2). A single Mavlink instance is tolerated by UAVCAN and it does not matter whether the telemetry unit is connected or not. Maybe there are not enough resources to use everything at the same time.

[2021-01-03 14:59] Pskoog3 opened #16478 "RPi3: ERROR [gps] ERR: -1 (tcsetattr)"
I am using px4 build for Raspberry Pi 3 with custom sensors. The px4 starting is fine but after some time I get this error…
ERROR [gps] ERR: -1 (tcsetattr)
What is this error and its cause? The GPS is locks well and has a 3D fix. The GPS module is ublox LEA-6H with ubx output.

[2021-01-03 15:04] dagar commented on #16478
That's weird, are you sure you have a lock and see valid data before this error message?

https://github.com/PX4/PX4-Autopilot/blob/8c71ecd97e3da679ae9a4c2ff22565be5bf60c87/src/drivers/gps/gps.cpp#L561-L563

If it's easily reproducible you could start by printing error (and strerrr(errno)).

[2021-01-03 15:14] davidcgregory commented on #16369
I'm flying a custom mixer using all simple mixers.  The vehicle flys but I'm unable to stabilize it in yaw.   Does the MC_ATT_CONTROL app limit yaw authority directly, similar to how the thrust saturation logic works?  Or are you simply saying that most mixers will allocate less authority to yaw?

Here is a flight showing the yaw performance (or lack there of)

https://review.px4.io/plot_app?log=1

[2021-01-03 16:25] LorenzMeier commented on #16334
This basically means that you are running out of RAM.

[2021-01-03 19:49] Jackiemesser commented on #15814
The two things above turned out to be unrelated.

[2021-01-03 19:49] #15814 closed

[2021-01-04 02:19] SpencerHehl commented on #16386
I tried installing and was unable to find that package. I ended up using the instructions at the following link to perform the install that appears to have worked (or at least gotten me farther in the install): https://ignitionrobotics.org/api/rendering/4.1/installation.html

[2021-01-04 02:44] garlinplus opened #16480 "ranger finder valid check"
As followed,when _time_last_valid_us is timeout,the updateStuckCheck can be executed.But in updateValidity function, only variable _is_stuck is false, the varible _time_last_valid_us can be set false.
So the varible _is_stuck can not be set false?
void SensorRangeFinder::updateStuckCheck()
{
	// Check for "stuck" range finder measurements when range was not valid for certain period
	// This handle

[2021-01-04 09:22] sfuhrer commented on #15501
I'm not able to reproduce on current master and SITL - in my case the MC motors go to 900 PWM after transition.
![image](https://user-images.githubusercontent.com/26798987/103519995-bf72a080-4e76-11eb-99bb-19b541f48f60.png)

[2021-01-04 09:24] sfuhrer commented on #15054
I don't think this is still valid, is it?

[2021-01-04 09:50] bresch commented on #16480
When `_is_stuck` is `true`, the `_time_last_valid_us` is not updated anymore. This means that `if (((_sample.time_us - _time_last_valid_us) > (uint64_t)10e6))` (in `updateStuckCheck`) will stay `true` and update the `_stuck_[min|max]_val` at every loop.
At some point, if the range measurement is moving enough, the `if (_stuck_max_val - _stuck_min_val > _stuck_threshold)` check will pass and `_is_s

[2021-01-04 10:40] bresch commented on #16369
@davidcgregory Why not using the multirotor mixer? It performs much better than simple mixers as it handles motor saturation and axis prioritization properly (the yaw is prioritized over roll/pitch as it is allocated at the end, see for example [here](https://github.com/PX4/PX4-Autopilot/blob/98cff947025d2f5c3e4c69c2f4689a6dae02a2ca/src/lib/mixer/MultirotorMixer/MultirotorMixer.cpp#L290-L291)).

I

[2021-01-04 13:28] sfuhrer commented on #14933
The MC motor not spinning up should now be fixed with https://github.com/PX4/PX4-Autopilot/pull/16443.

We though still need to find a solution for the overshooting - it's not just turning around during the backtransition if if overshootes, it then even first in hover goes to the loiter radius before proceeding to the land location.

[2021-01-04 13:52] sfuhrer commented on #16427
The ramp up of the MC actuation is coupled with the airspeed measurement - and that happens to be still quite high during the back-transition when the roll angle diverges.

During the previous "healthy" flight, the airspeed even doesn't drop below the blending airspeed when the transition is finished, meaning it will keep the MC actuators at idle during the whole transition.
![image](https://user-

[2021-01-04 14:01] sfuhrer commented on #16440
Could you share logs from these two flights?

And yes, I think we should work towards having the estimation enabled always, with checks in place to not create dangerous situations.

[2021-01-04 14:07] taileron commented on #15595
The IO is still not automatically updated (with and without pressing SB at start).
Which IO bootloader is expected by this procedure? So far I have tested the PX4 BL Master and one I got from MRO/APM  https://firmware.ardupilot.org/Tools/Bootloaders/px4io_bl.bin.

[2021-01-04 14:30] davidcgregory commented on #16369
@bresch @LorenzMeier

Sorry to not be clear about the vehicle configuration.
My config is similar to this: https://hackaday.io/project/174329-spacex-inspired-edf-rocket
Cutaway view of the 4 servo actuators:  https://cdn.hackaday.io/images/796381607539303831.JPG

If you think its a tuning issue, I will keep going.  Its been quite a struggle to get this far, although some if was self inflected as I

[2021-01-04 14:37] yuthikasagarage opened #16483 "pitch setpoint drops just after the back-transition"
**Describe the bug**

there's a sudden drop in the pitch setpoint just after the back transition of the standard vtol in the master. i think the initial setpoint after the back transition is set to zero  just after the back-transition, i just looked at the value of _v_att_sp.pitch_body in the vtol_att_control_main.cpp file in case mode:ROTARY_WING

**To Reproduce**
Steps to reproduce the behavior:

[2021-01-04 14:57] dagar commented on #16483
It's the re-initialization of full MC mode when coming out of transition. The vehicle still has forward velocity, but it's pitched back. When MC is enabled it's initialized with that velocity and you then get a corresponding attitude setpoint for a multicopter at that velocity (eg pitched forward).

[2021-01-04 15:18] bresch commented on #16369
@davidcgregory Oh, I see now. One thing to remember is that the collective thrust from the EDF is coupled with the torque produced by the TVC system. Your mixer assumes that the torque is function of the servo deflection and not the thrust, which only works fine a trimmed conditions (hover).
Regarding yaw authority and tuning, did you try to hang the drone on a ceiling, set a thrust close to the h

[2021-01-04 16:29] ricardorodrigues09 opened #16485 "I am not being able to run 'roslaunch px4 mavros_posix_sitl.launch'"
Hello! So I am trying to run 'roslaunch px4 mavros_posix_sitl.launch' and I get the following output:

... logging to /home/ricardorodrigues/.ros/log/9b6f82b0-4ea9-11eb-85f0-000c29824279/roslaunch-ubuntu-109216.log
Checking log directory for disk usage. This may take a while.
Press Ctrl-C to interrupt
Done checking log file disk usage. Usage is <1GB.

started roslaunch server http://ubuntu:38027/

[2021-01-04 16:31] ricardorodrigues09 commented on #16485
I'm being able to run roslaunch px4 posix_sitl.launch + roslaunch mavros px4.launch fcu_url:="udp://:14540@127.0.0.1:14557" though.

I'm working with Ubuntu 18.04

[2021-01-04 17:26] ricardorodrigues09 commented on #16485
I have actually solved the problem with killall gzserver. Sorry for bothering

[2021-01-04 17:26] #16485 closed

[2021-01-04 21:22] Iko-Git opened #16486 "error while running make px4_sitl_default gazebo"
Hello, I am sorry if the comment is not related, but in my opinion I am facing similar problem, while giving the command:
make px4_sitl_default gazebo
the output is

I tried to reinstall PX4 but still the same problem. Please if you can help me that would be highly appreciated

[2021-01-05 06:32] leekyubum commented on #15513
Hi,
is there any different io-v2 and cubepilot_io-v2 ?
if there is no difference, Can I set to use io-v2?

/board/cubepilot/default.make  # file directory
line 10
-------------------------
IO cubepilot_io-v2_default to IO px4_io-v2_default
-------------------------

[2021-01-05 07:13] leekyubum commented on #15513
test

[2021-01-05 07:18] leekyubum commented on #15513
Hi,
is there any different io-v2 and cubepilot_io-v2?
if there is no difference, Can I set to use io-v2?

/board/cubepilot/default.make # file directory
line 10
IO cubepilot_io-v2_default to IO px4_io-v2_default

[2021-01-05 08:21] sfuhrer opened #16488 "RTL follow up"
This is to track if RTL needs a follow up from https://github.com/PX4/PX4-Autopilot/pull/16377, mainly for this commend about a 2s delay: https://github.com/PX4/PX4-Autopilot/pull/16377#discussion_r545865944

[2021-01-05 09:04] #16480 closed

[2021-01-05 09:38] sfuhrer commented on #16483
Would there be an easy way to make the initialization of the MC velocity controller smoother? E.g. limiting the rate of the pitch setpoint change? Or initialize with a 0 velocity setpoint? Sounds a bit hacky to me..
Meanwhile, note that in the example here there was a big pitch overshoot (25° instead of 15°) at the end of the back transition, which made the jump in pitch even bigger.
![image](http

[2021-01-05 09:46] cimbar opened #16489 "Reset to baro failsafe option sets height estimation to zero"
Hi,
I use external vision source for flight in offboard mode. Lidar Lite is connected to pixhawk and i get distance sensor data from pixhawk and send it back inside of the external vision position data. Primary height source is vision but the height actually comes from distance sensor after filtering on companion computer. Lidar lite started to produce zero values at flight; therefore, height of t

[2021-01-05 10:10] bresch commented on #16489
When the estimator resets to a different height source, the related reset counter is increased by one and the delta (difference in speed or position) is sent.
https://github.com/PX4/PX4-Autopilot/blob/850d0bc588af79186286652af4c8293daafd2c4c/msg/vehicle_local_position.msg#L20-L21
It is the responsibility of the controller to handle this step and absorb it in the setpoint as done here:
https://gith

[2021-01-05 10:32] bresch commented on #16483
@sfuhrer You could set an initial acceleration feedforward to control the initial pitch setpoint but it might not be easy to find the correct value.

[2021-01-05 11:40] ludost opened #16490 "Reverting from DESCENT failsafe to Manual control not working as expected #Flyaway"
**Describe the bug**
After losing valid position information (due to incorrect vibration isolation and sensor clipping) a quadcopter went from RTL to the DESCENT failsafe mode. Using the RC to try to obtain manual control failed, due to the commander trying to go to POSCTL mode, which was rejected due to the lost valid local position. From a pilot's perspective, it was expected that the commander

[2021-01-05 11:40] cimbar commented on #16489
so what's the cause of resetting to zero as show in the Local Pozition Z graph?

[2021-01-05 12:11] moreba1 commented on #11644
@SafatKhan
Hi
Is it possible to set the wind in x-plane for simulation?

[2021-01-05 12:21] SafatKhan commented on #11644
@moreba1

Yes. If you are talking about supplying it customized wind/weather data instead of whatever it may use as default, then yes, it is possible. Please read this : https://developer.x-plane.com/article/custom-wind-weather-in-x-plane-10/

[2021-01-05 12:40] bresch commented on #16489
I did not inspect the log, but the reset is located here:
https://github.com/PX4/PX4-ECL/blob/03fed323ab950125114eb34309d3a79119e572ee/EKF/control.cpp#L870-L881

followed by
https://github.com/PX4/PX4-ECL/blob/03fed323ab950125114eb34309d3a79119e572ee/EKF/ekf_helper.cpp#L257

And the baro offset that should absorb most of the jump is updated here while in VIO height/range finder aiding mode:
https:

[2021-01-05 14:02] taileron commented on #15155
@LorenzMeier still all the same behaviour: on FMU only fcs (e.g. Pixracer) mot 3 doesn´t switch off at all in fw mode and mc control remains always active in fw mode.
The Limit of the mot_offid corresponding output isn´t shifting without IO.
Boards with io behave o.k. if acro mode isn´t used after transition to fw.
In acro, mc control remains also active for the remaining outputs with io but since

[2021-01-05 20:23] moreba1 commented on #16440
This is good. calibration of airspeed scale in a loiter in first of each flight.

[2021-01-05 20:47] MaEtUgR commented on #16490
I'm really sorry to read about your incident. As far as I can understand the problem case in terms of the state machine is:
Flying an automatic mode, losing position estimate, taking over by RC override (not the mode switch or mode command).

The RC override only being allowed to take over in position mode is by design such that you can not accidentally take over in this exact situation when you d

[2021-01-05 21:25] ludost commented on #16490
Thanks for the kind words, yes the drone is repaired and now less dangerous. Thanks for taking a good look at this failsafe behavior.

It was actually a "pilot error" that I didn't try to switch to manual mode myself, I only thought of that afterwards. That's maybe the main point: The drone went into unexpected behavior and I failed to regain control as a pilot. Controlling height through a kill s

[2021-01-06 02:13] garlinplus commented on #16480
Hi,@bresch.
The problem is that when _is_stuck is false,the valid time _time_last_valid_us is always updated,so the condition
(_sample.time_us - _time_last_valid_us) > (uint64_t)10e6) will not be executed,and then _is_stuck  can not be set true.
But when _is_stuck  is true,the timeout condition is correct and will be trig.

[2021-01-06 08:34] #16363 closed

[2021-01-06 08:38] jbeyerstedt commented on #16370
I started implementing this and hope, that I can provide a PR draft until the end of the week.

[2021-01-06 11:26] Iko-Git commented on #12385
I am facing the same problem. Could you please guide me in the installation of libprotobuf version 3.0.0?!

[2021-01-06 11:33] bigbellmercy commented on #12385
I'm sorry. I fortgot to install it. May someone help you..

[2021-01-06 11:40] Iko-Git commented on #12385
The idea is I need guidance in general to solve the problem. I spent a lot of hours and am blocking in, in the following link you can find the error I am receiving while running make px4_sitl_default gazebo: https://discuss.px4.io/t/error-while-running-make-px4-sitl-default-gazebo/20388

[2021-01-06 11:48] Iko-Git commented on #12385
I applied `pip install protobuf==3.0.0` `sudo ldconfig` `make clean` then still facing the same problem while running `make px4_sitl_default gazebo`

[2021-01-06 13:04] bresch commented on #16480
(_sample.time_us - _time_last_valid_us) > (uint64_t)10e6) will not be executed,and then _is_stuck can not be set true.
But when _is_stuck is true,the timeout condition is correct and will be trig.

Yes, but that's fine, we only want to check if the sensor is stuck when the EKF stops fusing the range finder data for some time. As the comment says:

// This handles a failure mode observed with some

[2021-01-06 15:10] MartinStokelj opened #16500 "VTOL RTL mode"
**Describe the bug**
If something goes wrong during flying in FW mode or by pressing RTL the drone goes back to WP (launch/home) but instead of loitering around WP he makes transition to MC and starts hover above WP (he does not land, which is ok).
RTL_LAND_DELAY is set to -1.
Param description:
Delay before landing (after initial descent) in Return mode. If set to -1 the system will not land but

[2021-01-06 16:59] LorenzMeier opened #16501 "Flag experimental boards in the build system"
We need to make sure experimental boards are more clearly flagged all along the way, according to this list:

https://px4.io/autopilots/

[2021-01-06 17:01] LorenzMeier commented on #16027
Fixed.

[2021-01-06 17:01] #16027 closed

[2021-01-06 17:03] LorenzMeier commented on #9565
Needs a tuning UI hint.

[2021-01-06 17:08] dinomani commented on #10584
@dagar
Anybotic uses something like that to switch the robot to and from different modes with safety fallback.

[2021-01-06 17:15] sfuhrer commented on #16474
Alternative solution, reduces the overshoots: https://github.com/PX4/PX4-Autopilot/pull/16499

[2021-01-06 19:18] moreba1 commented on #16500
you should disable NAV_FORCE_VT for this.

[2021-01-07 07:09] MartinStokelj commented on #16500
It does the same. It goes to MC mode and hover above WP.

[2021-01-07 09:40] sfuhrer commented on #16500
I can check if it's an easy thing to make it work with `NAV_FORCE_VT`.

[2021-01-07 09:41] gitfishup opened #16506 "CAN interface 2 can't allocate node id automatically"
How to add the feature about allocating node id automatically when using CAN interface 2?

[2021-01-07 10:40] jbeyerstedt commented on #16370
According to GPS_STATUS, I just received Galileo satellites with our outstanding pull requests and the Pixhawk 4 GPS when setting the new `GPS_1_GNSS` parameter to GPS+SBAS+Galileo.

[2021-01-07 13:57] ThomasRigi commented on #16427
@sfuhrer the quadchute logic is broken for back transitions. This function: https://github.com/PX4/PX4-Autopilot/blob/master/src/modules/vtol_att_control/vtol_att_control_main.cpp#L197 . The logic only works for front transitions and FW flight, but not back transitions. (which kind of explains why the quadchute triggering function is called `abort_front_transition`...)

A triggered QC sets `_abort

[2021-01-07 16:50] coderkalyan opened #16510 "USB HS support on CUAV X7/Nora"
I don't think this was brought up before, so I'm just filing an issue for us to keep track of it - CUAV X7 and Nora support USB HS, but I don't think this is supported in PX4. It would be nice to have support for this.

I am able to test support for this if anyone is interested. Additionally I can try to look into implementing it but I'm not yet sure what is involved (PX4 usb subsystem? Nuttx? Bui

[2021-01-07 17:00] dagar commented on #16510
We'll need to dig into the NuttX side to see if USB highspeed on stm32h7 is fully supported.

For the new CUAV boards one annoyance we'll have to deal with in PX4 is the conflict with USB HS and CAN2. I think it's workable, but will inevitably burn someone that connects USB to configure/monitor/etc something on CAN through QGC.

![Screenshot from 2021-01-07 11-57-47](https://user-images.githubuser

[2021-01-07 17:05] dagar opened #16511 "px4_fmu-v5 periodic hardfaults in debug or stackcheck builds"
http://ci.px4.io:8080/blue/organizations/jenkins/PX4_misc%2FFirmware-hardware/detail/pr-update_src%2Flib%2Fecl/2/pipeline/741

![Screenshot from 2021-01-07 12-02-34](https://user-images.githubusercontent.com/84712/103921238-41193700-50e0-11eb-823e-1eed0d86aa80.png)

Hopefully just stack sizing, but a few casual attempts to silence it have failed (eg bumping CONFIG_USERMAIN_STACKSIZE, etc). Needs t

[2021-01-07 17:26] coderkalyan commented on #16510
Ah, that does seem like an issue. @dagar are the CAN1 and CAN2 controlled together in software or something? Or isn't it possible to just disable CAN2 while USB is connected and continue using the CAN1 bus?

[2021-01-07 17:54] dagar commented on #16510
We can clobber the configuration in place breaking CAN2 and it will "work". The problem is how that kind of thing will ripple through the system if people are actually using CAN and we try to lock down the system. Is the system complaining because it thinks it lost a CAN bus? Did it have certain peripherals on CAN2 that have now disappeared? What if you have an external magnetometer only on CAN2,

[2021-01-07 18:29] coderkalyan commented on #16510
@dagar ahh ok, makes sense. I forgot that some people may connect separate peripherals to the CAN1 and CAN 2 bus, I was only thinking about the use case where the same peripherals are connected to CAN1 and CAN2 for redundancy. I guess it's something we'll have to deal with though.

[2021-01-08 01:43] Jaeyoung-Lim commented on #16256
Addressed in https://github.com/PX4/PX4-Autopilot/pull/16296

[2021-01-08 01:43] #16256 closed

[2021-01-08 04:24] coderkalyan commented on #14273
I've been able to calibrate ESCs (at least, I'm not getting a "Transition denied: SHUTDOWN to INIT" error) on 1.11 so this issue is probably not universal.

[2021-01-08 05:26] Jaeyoung-Lim commented on #16432
@antonio-sc66 Could you try out https://github.com/PX4/PX4-Autopilot/pull/16514 ? This should fix your problem

[2021-01-08 05:30] Jaeyoung-Lim commented on #16073
@mattpaddock Your problem should be fixed in https://github.com/PX4/PX4-Autopilot/pull/16514, but this does not check if the input is invalid.

Offboard mode in general is only for development / prototyping, therefore there it is the intention to disable safety checks to support this usecase. Therefore, IMO the developer should be responsible for checking if the inputs are valid when using offboar

[2021-01-08 05:30] #16073 closed

[2021-01-08 12:24] mortenfyhn opened #16516 "Hold mode without global position"
It would be useful to allow hold mode flight without a global position estimate (but with a valid local estimate). One use case is indoor flight with the RC loss failsafe delay being implemented in #16406.

I reckon any vehicle that can fly in position mode should be able to fly in hold mode, but the firmware doesn't currently allow it.

I tried to mess around with the logic and allow this, and wa

[2021-01-08 13:46] fabrizioschiano commented on #12235
Is there a way to bypass this preflight check without having to comment PX4 code? I am trying to do this also in a SITL simulation environment.
There are other preflight checks that one can disable such as `FD_FAIL_R` ([here](https://docs.px4.io/master/en/advanced_config/parameter_reference.html#FD_FAIL_R))
Thanks.

[2021-01-08 14:06] BazookaJoe1900 commented on #16179
I think that the next PR solves the issue, but its after v1.11.3:
MulticopterPositionControl: Reset task between auto mode switches #16304

[2021-01-08 14:38] smnogar commented on #16179
Yep, @benjinne verified that #16304 solves this. Closing.

[2021-01-08 14:38] #16179 closed

[2021-01-08 14:50] canberkdurmus opened #16517 "Typhoon H480 SITL Gazebo Oscillation Problem"
**Describe the bug**
Hi, I am having stability issues with Gazebo SITL Typhoon h480. In the hover it gets worse with time, descending and ascending with no major problems.

**To Reproduce**
Steps to reproduce the behavior:
1. Build the repository with `make px4_sitl gazebo_typhoon_h480`
2. Open QGroundControl and Takeoff to any height
3. Oscillation can be observed. While waiting oscillation gets

[2021-01-08 15:17] Jaeyoung-Lim commented on #16517
This has been reported also in https://github.com/PX4/PX4-Autopilot/issues/14953

[2021-01-08 16:56] canberkdurmus commented on #16517
I am sorry I did not see this issue. Here is the PR: #16519

[2021-01-08 17:13] antonio-sc66 commented on #16432
Hi, @Jaeyoung-Lim, I will try the fix this weekend

[2021-01-09 10:42] Pskoog3 commented on #16478
The error is not consistent... sometimes it works for long without error and sometimes the error starts appearing when px4 is started.

Perhaps the problem is related to the power of RPi... powering everything from a single source causes the RPi power led (red) to blink. I have separated the power of RPi and telemetry from rest of the sensors and GPS and so far it is working. But sometimes the err

[2021-01-09 19:04] dagar commented on #9030
I think we can consider this one effectively resolved for a couple reasons.

1. The estimator(s) are now aware of sensor calibration changes (accel/gyro/mag) synchronized with the actual change applied.
2. We actually reset the estimated mag bias on change.
3. Sensor calibrations (accel/gyro/mag) no longer involve zeroing out the old calibration first. The calibration procedures are always perform

[2021-01-09 19:04] #9030 closed

[2021-01-09 20:06] shobhitme2 opened #16526 "Lidar based altitude not working using terrain following"
Hello I have made a drone using VIO for position. I am trying to use a lidar as the primary height source and trying to follow terrain. However the altitude hold drifts up and down, it is more pronounced using terrain following rather than altitude following. In mission planner and APM lidar based altitude hold works great. What might be the issue? Is it a delay parameter?

[2021-01-09 20:26] dagar commented on #16526
Can you share a link to the logs with current master? https://logs.px4.io/

[2021-01-09 20:32] shobhitme2 commented on #16526
I was running the stable FW, here is a link. Do you want me to upload the master branch and test?
https://review.px4.io/plot_app?log=207ef16d-9b23-47b4-98a6-5d705d4c2353

[2021-01-09 21:53] dagar commented on #16526
Yes, it's extremely helpful if you can get an EKF2 replay log from boot with current master. https://dev.px4.io/master/en/debug/system_wide_replay.html#ekf2-replay

[2021-01-09 22:44] Antiheavy commented on #9030
hooray!

[2021-01-10 10:28] skywoodsz commented on #15594
I also met this problem. How do you solve this?

[2021-01-10 10:30] Jaeyoung-Lim commented on #15594
@saad2121
[code]
This means that you are building with `catkin` and not using the `make` target.

[2021-01-10 16:16] bigonestep commented on #16261
Encountered the same problem, besides changing to a clean environment (although I am using a clean docker ubuntu18.04 environment with a desktop), what other solutions are there?

[2021-01-10 16:54] #16432 closed

[2021-01-10 17:37] #15428 closed

[2021-01-10 18:47] LorenzMeier opened #16530 "Unit tests on Mac OS failing lately"
These tests are failing lately, e.g. with a segfault in ```posix_hrt_test```.

[2021-01-10 20:19] #14479 closed

[2021-01-11 08:43] cimbar commented on #16489
_baro_hgt_offset is also update in range or gps hgt mode
https://github.com/PX4/PX4-ECL/blob/398fe159ce2b0078f2fd4c94bf4d5b02d7ac0f1f/EKF/ekf_helper.cpp#L237-L250

but it is not updated in ev hgt mode
https://github.com/PX4/PX4-ECL/blob/398fe159ce2b0078f2fd4c94bf4d5b02d7ac0f1f/EKF/ekf_helper.cpp#L286-L302

may this the issue?

[2021-01-11 12:40] CarlOlsson opened #16531 "Speed accuracy for blended GPS solution should be weighted average or max of reported"
I have a question regarding the speed accuracy that we push into ECL in the blended GPS solution.

E.g. a vehicle has two GPS receivers with different speed accuracy. One with significantly less velocity measurement noise and smaller reported speed velocity variance than the other.

Now we set the `s_variance_m_s` to the [minimum of the two receivers](https://github.com/PX4/PX4-Autopilot/blob/967d

[2021-01-11 14:02] shupx opened #16532 "how to hold height while controling attitude in offboard mode?"
I use "mavros" to control px4, and I wonder if there is a way that I can control drone's attitude(roll,pitch) while holding height?
I know there are ROS topics named "mavros/setpoint_attitude" and "mavros/setpoint_raw/local" that allow me to control drone's attitude, but they require "thrust" input as well, which means i need to write a height controller on companion computer by myself.
In "Altitu

[2021-01-11 16:11] benjinne opened #16534 "Offboard only RC lost failsafe"
**Describe problem solved by the proposed feature**
For my use case, I need a way to failsafe only on RC lost when using offboard. This is because we sometimes have issues with our RC transmitter when flying offboard and we need to be able to take over at any time otherwise the RC lost failsafe must execute.

**Describe your preferred solution**
I've got 3 proposals to address my solution in order

[2021-01-11 16:51] ashwinvk94 opened #16535 "PX4 Parameter for Update Rate of leddarone rangefinder"
The interval rate at which the data from the [leddarone sensor](https://docs.px4.io/master/en/sensor/leddar_one.html) is[ set to a constant of 100ms(10Hz)](https://github.com/PX4/PX4-Autopilot/blob/master/src/drivers/distance_sensor/leddar_one/LeddarOne.hpp#L52). But the sensor is capable of sending data at much faster rates. This can be adjusted as described in this [comment](https://github.com/l

[2021-01-11 17:23] dagar commented on #16535
I would just make the change and not bother with a parameter.

[2021-01-11 17:25] dagar commented on #16535
In the PX4 driver make sure it configures the device for what you expect, and possibly handle any resets (loss of configuration).

[2021-01-11 17:40] ashwinvk94 commented on #16535
Got it thanks

[2021-01-11 17:40] #16535 closed

[2021-01-11 23:49] dagar commented on #9891
Done!

[2021-01-11 23:49] #9891 closed

[2021-01-12 09:06] VinniF commented on #15629
@LorenzMeier
Hi Lorenz, yes this bug can still be reproduced under the circumstances I mentioned above. But we have not updated our firmware, we are still on the same version.

[2021-01-12 11:07] bonellia opened #16538 "Error launching with multi-vehicle setup using Gazebo and ROS"
**Describe the bug**
I am following the steps below from the [this webpage.](https://dev.px4.io/master/en/simulation/multi_vehicle_simulation_gazebo.html#build-and-test)

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the latest version of the PX4-Autopilot repository
2. Enter the following commands within the PX4-Autopilot directory:
[code]

**Expected behavior**
Gazebo should run wit

[2021-01-12 11:31] bonellia commented on #16538
https://github.com/PX4/PX4-Autopilot/pull/16497

PR above might be relevant @mzahana

[2021-01-12 11:49] sahin52 commented on #16538
This problem occured to me too. The older version which I have ( https://github.com/PX4/PX4-Autopilot/commit/e51000c5be901fc53bb2f5f63b82f9b9074316ea ) works fine, 3 drones are seen, but I clone'd the new version
( https://github.com/PX4/PX4-Autopilot/commit/48f125f150547a061ff97a90c6f39b7b6aba8512 ) And the same problem occurs. It doesn't work.

[2021-01-12 11:50] mzahana commented on #16538
@Jaeyoung-Lim was able to test PR https://github.com/PX4/PX4-Autopilot/pull/16497 successfully. Maybe he can comment on that.

[2021-01-12 12:05] Jaeyoung-Lim commented on #16538
@mzahana I tested it on ROS noetic, so probably this is coming from python version differences. Would you be able to adjust it to also work with python2?

[2021-01-12 13:12] Jaeyoung-Lim commented on #16538
@bonellia Fix in https://github.com/PX4/PX4-Autopilot/pull/16539, thanks for reporting

[2021-01-12 13:44] matthewoots opened #16541 "Request for Control Zero F7 Fix"
## Request for Control Zero F7 fix for latest firmware

Hi there,
The problems I've faced are:
1. Latest firmware bug for Control Zero F7 build
2. No observed battery voltage and current readings

I have a **Control Zero F7** FC, and after I've `make mro_ctrl-zero-f7` and upload the latest firmware, the board does not boot up and is not viewable on QGC, there is also a flashing red light seen on t

[2021-01-12 13:46] mzahana commented on #16538
@Jaeyoung-Lim That's weird as the [multi_uav_mavros_sitl.launch](https://github.com/PX4/PX4-Autopilot/blob/master/launch/multi_uav_mavros_sitl.launch#L47) that comes with v1.11.2 has [`eval`](https://github.com/PX4/PX4-Autopilot/blob/master/launch/multi_uav_mavros_sitl.launch#L47) and works fine on Ubuntu 18. I am talking about the PX4 v1.11.2 version, not the latest. SO it seems `eval`, in theory

[2021-01-12 13:55] Jaeyoung-Lim commented on #16538
@mzahana Thats weird, anyway the problem seems to be related on how the eval syntax is being used.

[2021-01-12 14:47] dagar commented on #16541
We need to update/fix the default calibration for the power module.

[2021-01-12 14:55] dagar commented on #16541
Can you try https://github.com/PX4/PX4-Autopilot/pull/16542?

[2021-01-12 15:01] matthewoots commented on #16541
Hi dagar,
Thank you so much for the prompt update.
I'll try when I'm back in the office. Will get back to you soon!

[2021-01-12 15:48] myboyhood opened #16543 "EKF2_AID_MASK change: set 0 to choose gps"
When I set param in QGC  "ekf2_aid_mask " I set "use gps" and the bitmask is 1.
![px4 gps bug](https://user-images.githubusercontent.com/42128681/104337403-6b2f8680-5530-11eb-9a36-d360868ef214.png)

but it get 0 sat, and no gps info feedback.

I check the https://dev.px4.io/v1.9.0/en/advanced/parameter_reference.html and it say :

Bitmask:
0: use GPS
1: use optical flow
2: inhibit IMU bias estimat

[2021-01-12 18:25] bonellia commented on #16538
I suppose the fix will be applied as soon as the pull request has been approved.  I will close the issue once it is merged.

[2021-01-12 18:28] bonellia commented on #16538
Applying the fix on #16539 I was able to run the simulation as expected:
![image](https://user-images.githubusercontent.com/16254153/104356476-0f0f3700-551d-11eb-96b3-5bd2cbd3d1fa.png)

[2021-01-12 20:19] #16538 closed

[2021-01-12 21:51] #16541 closed

[2021-01-13 03:32] matthewoots opened #16545 "[Control Zero F7] [Urgent] Board does not boot up with new firmware + PM reading not shown"
## [Control Zero F7] [Urgent] Board does not boot up with new firmware

Hi there,

2 issues :
1. FC PM voltage reading and current reading from PR #16542 is not solved
2. FC unable to boot up

FC PM was checked with previous commit and **does not work**. ~~I've used the previous commit with the firmware that actually managed to boot up the FC (746b3124abe9df486c6d88a3d9ec0c438e63654d) this is quit

[2021-01-13 03:43] matthewoots commented on #16545
UPDATE : Tried branch 1.11.2 and the board boots up well, but I've applied PR #16542 and the PM reading does not work.

[2021-01-13 08:35] mortenfyhn opened #16547 "motor_test stops before timeout"
**Describe the bug**
When using the motor_test command to test motors, the command I send seems to last roughly 1 second no matter what I set the `-t` option to.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect a flight controller over USB to a computer (I'm using a Pixhawk 4)
2. Launch QGC (I'm using v4.0.11)
3. Flash the Pixhawk with PX4 v1.11.3 (also tested on today's master with t

[2021-01-13 09:26] jbeyerstedt commented on #16370
Thanks @bkueng for the discussion and review. I'm closing this, because the PR got merged.

[2021-01-13 09:26] #16370 closed

[2021-01-13 09:47] #11876 closed

[2021-01-13 09:49] Jaeyoung-Lim commented on #12590
Closing since https://github.com/PX4/PX4-Autopilot/pull/11654 is not being continuded and this issue is stale.

Please reopen if otherwise

[2021-01-13 09:49] #12590 closed

[2021-01-13 09:53] Jaeyoung-Lim commented on #16532
This is not true, the control logic is written in the altitude flight mode, which is a different flight mode as offboard mode. Therefore, you need to write your own height controller. If you need reference, https://github.com/Jaeyoung-Lim/mavros_controllers can be useful for you

[2021-01-13 09:53] #16532 closed

[2021-01-13 09:55] Jaeyoung-Lim commented on #15226
Closing as original issuer did not respond. Please re-open if this is still an issue

[2021-01-13 09:55] #15226 closed

[2021-01-13 10:05] Jaeyoung-Lim commented on #16432
@antonio-sc66 Any updates?

[2021-01-13 10:19] bresch commented on #16543
The definition of the aid mask did not change (https://github.com/PX4/PX4-ECL/blob/03cfcb903e39f2d9618dff79c67a0b171dd12762/EKF/common.h#L179-L187).

Furthermore, the aid mask controls the fusion of the EKF but not the driver directly. So even if gps fusion is disabled, the receiver should connect to satellites and report its status.

Are you sure it isn't a coincidence? Is is repeatable? Can you

[2021-01-13 10:51] taileron opened #16548 "X2.1-777 doesn´t boot anymore with current master"
probably same as #16545

the cause is line 38 in defconfig:
CONFIG_ARMV7M_LAZYFPU=y

removing this line, delete build folder and rebuild then it boots again.

I only came across this by chance because I thought this flag could have an influence on the instability of UART DMA on F777.

[2021-01-13 11:00] moreba1 commented on #16440
![image](https://user-images.githubusercontent.com/14200369/104443644-f13ce300-55ab-11eb-89de-22135ea0e4db.png)

[2021-01-13 11:05] matthewoots commented on #16548
Hi @taileron, thank you so much, I'll try your fix and get back to you on whether it works for the mRo Control Zero F7.

[2021-01-13 12:27] FreshGresh commented on #7416
For those like me looking for the same info with newer PX4 firmware: the parameter list now has increased options. Checkout documentation on SDLOG_PROFILE in the full parameter list. You may want 3 (system ID) or possibly 4 (high rate).

[2021-01-13 13:50] daydayupcg137 opened #16549 "How to use Pixhawk to realize the flight control of fully_actuated UAV?"
How to modify the Pixhawk code to control a tilt motor's Hexrcopter?Is there any mature firmware?

[2021-01-13 14:06] taileron commented on #16548
LAZYFPU seems to interact with the not yet functioning MTD (FRAM) driver.
[fault_2042_08_16_17_46_12.log](https://github.com/PX4/PX4-Autopilot/files/5809021/fault_2042_08_16_17_46_12.log)

[2021-01-13 16:33] taileron commented on #16334
@LorenzMeier Unfortunately, another round is now coming ... with the (China) PixRacer, uavcan works when the autostart Mavlink instances are removed. Unfortunately, with the current MRO PixRacer, uavcan can no longer be made to work at all.
In principle, only the sensors and the MCU version are different.

PixRacer (China)

PX4GUID: 0001000000003131373130365117004f0031
MCU: STM32F42x, rev. 3

ms56

[2021-01-13 18:10] ryanjAA commented on #16545
Try changing in board_config.h:

`#define ADC_BATTERY_VOLTAGE_CHANNEL /* PA2 */ ADC_CH(2)` to
`#define ADC_BATTERY1_VOLTAGE_CHANNEL /* PA2 */ ADC_CH(2)`

and

`#define ADC_BATTERY_CURRENT_CHANNEL /* PA3 */ ADC_CH(3)` to
`#define ADC_BATTERY1_CURRENT_CHANNEL /* PA3 */ ADC_CH(3)`

It likely needs to point to battery 1 now.

I'll try on a Zero F7 when back in the office

[2021-01-13 18:24] taileron commented on #15595
most aspects of the board are already full functional: sensors, rc in, mavlink, io, uavcan all works quite stable.

a few issues are left:
- uarts are not working smooth (compared to e.g. PixRacer) especially with active RX or TX dma
- gps is only recognised with rx dma = off
- CONFIG_ARMV7M_LAZYFPU=y      causes hardfault  #16548
- io fw update can only be carried out via swd, not from fmu
- mtd

[2021-01-14 02:00] matthewoots commented on #16545
Thank you for your suggestion @ryanjAA . But it didn't work. But I found the fix!

**In board_config.h**
[code]
Anyone with **Control Zero F7** hope this helps. See whether this can help with the ESC calibration issue.

[2021-01-14 02:07] ryanjAA commented on #16545
Awesome! I haven't had time to try it today but I will. I assume it was just an error.

Is there an ESC calibration issue related to this board as well?

[2021-01-14 02:32] joker-csee commented on #16549
If I don't misunderstand what you mean, maybe modifying  [https://github.com/PX4/PX4-Autopilot/blob/master/ROMFS/px4fmu_common/mixers/tilt_quad.aux.mix](url) with addding some aux channels, and then reset MIXER in airframes file which you are using, can help you.

[2021-01-14 03:54] matthewoots commented on #16545
Hi **@ryanjAA**, yup so the error arises from no battery detected, hence the timeout for the ESC calibration is triggered. But I'm not too sure why no one has reported this issue, small bug.

[2021-01-14 03:57] ryanjAA commented on #16545
Interesting, ok. I'll try as well and see if your fix does the job. It's a newer board so likely not as many users yet. Good find. Let's see if it does the trick.

You should open a new issues about it though.

[2021-01-14 09:06] moreba1 commented on #16440
![image](https://user-images.githubusercontent.com/14200369/104568234-14779900-5665-11eb-96be-6756c19799d1.png)

[2021-01-14 10:15] parakhm95 commented on #11800
So, for me, I was able to avoid this ramp skipping by setting COM_PREARM_MODE variable to disabled. Then, the MIN to ARM value ramp works as expected when using IO board for PWM output. Have to verify for SBUS as well. Hope this helps someone out.

This also relates to :  https://github.com/PX4/PX4-Autopilot/issues/15364 also

[2021-01-14 13:58] return97 opened #16558 "Which version of firmware is the most stable?"
Am I just using it as an aerial multirotor?

So, which version of firmware is the most stable with the least errors and failures！

thanks！

[2021-01-14 15:03] DogukanAltay commented on #15941
@aet2230 can you tellme which mavros topic you publish for moCap as positioning system and what is the rate of it? Thanks!

[2021-01-14 18:12] ryanjAA commented on #16545
Tested and confirming works (on 1.11.3). Battery Voltage and Current.

On 1.11.3 with https://github.com/PX4/PX4-Autopilot/pull/16542 I didn't have an issue booting up though. Or were you saying the issue was on Master?

Submit a PR with your change so it can get pulled in.

[2021-01-14 20:01] jinger26 commented on #15090
@dagar  any update on this?

[2021-01-14 21:35] ryanjAA opened #16560 "MRO Control Zero F7 - No RSSI"
RSSI in Doesn't work.

Tried 1.11.3 and Master

2x types of RC receivers (X8R and Dragonlink).

RC input works fine

[2021-01-15 01:43] ryanjAA opened #16561 "MRO Control Zero F7 - Mavlink Doesn't work on USART6"
MRO Control Zero F7

Running firmware 1.11.3 with a Holybro SiK Radio connected to USART 6.

Configured Mavlink instance 0 to run on UART6 and it does not connect.

Plug the radio into USART2 (Telem 1) and it works fine.

[2021-01-15 03:26] boris-gu opened #16562 "Error while executing command "make px4_sitl gazebo""
**Describe the bug**
Execution of the command "make  px4_sitl gazebo" ends with an error, below I will write the output.

**To Reproduce**

1. Install ubuntu 18.04.5 and update packages
2. wget https://raw.githubusercontent.com/PX4/Devguide/master/build_scripts/ubuntu_sim_ros_melodic.sh
3. bash ubuntu_sim_ros_melodic.sh
had to execute
sudo rosdep init
rosdep update
and run again
4. sudo apt instal

[2021-01-15 04:11] Jaeyoung-Lim commented on #16562
Please run the toolchain installation script first.

[code]

[2021-01-15 13:41] boris-gu commented on #16562
After all the steps I took, I launched ubuntu.sh and rebooted my computer.
The output has changed, but the error still remains.

[0/5] Performing configure step for 'sitl_gazebo'
-- install-prefix: /usr/local
-- cmake build type: RelWithDebInfo
-- Using C++17 standard
-- Boost version: 1.65.1
-- Found the following Boost libraries:
--   system
--   thread
--   filesystem
--   chrono
--   date_time

[2021-01-15 13:51] Jaeyoung-Lim commented on #16562
[code]
Please do a `make clean` before you retry

[2021-01-15 15:52] aet2230 commented on #15941
/mavros/vision_pose/pose

[2021-01-15 20:16] li-fa-bo opened #16567 "ninja: error: '/usr/lib/x86_64-linux-gnu/libignition-common1.so.1.0.1', needed by 'libmav_msgs.so', missing and no known rule to make it"
ninja: error: '/usr/lib/x86_64-linux-gnu/libignition-common1.so.1.0.1', needed by 'libmav_msgs.so', missing and no known rule to make it

[2021-01-15 21:10] boris-gu commented on #16562
i did make clean
after which I did no_sim=1 make px4_sitl_default gazebo
(I used to mistakenly enter make px4_sitl gazebo)
And somehow the output is different from what is shown in the manual:

[0/4] Performing build step for 'sitl_gazebo'
ninja: no work to do.
[3/4] cd /home/boris/src/PX4-Autopilot/buil...is/src/PX4-Autopilot/build/px4_sitl_default
SITL ARGS
sitl_bin: /home/boris/src/PX4-Autopilo

[2021-01-15 21:12] Jaeyoung-Lim commented on #16562
`no_sim=1 make px4_sitl_default gazebo` is used when you are not willing to run a simulator(e.g. gazebo)

[2021-01-15 21:55] boris-gu commented on #16562
I used this guide
https://docs.px4.io/master/en/simulation/ros_interface.html#what-s-happening-behind-the-scenes
If I understand correctly, at the end of the execution of the commands the simulator should start.

**When executing the first command, the output looks different (wrote above)**

**Further
cd <PX4-Autopilot_clone>
source Tools/setup_gazebo.bash $(pwd) $(pwd)/build/px4_sitl_default
is e

[2021-01-16 07:40] DogukanAltay commented on #15941
@aet2230 Thank you so much for the reply. I am literally doing the same thing with you but somehow the external position signal does not consumed by the mavros neither in SITL, HITL or the drone setup. One last question is what is your mavros, mavlink and px4 version that you use in your setup.

[2021-01-16 13:22] canberkdurmus commented on #16517
We can close this issue since it is been resolved in #16519

[2021-01-16 13:22] canberkdurmus commented on #14953
We can close this issue since it is been resolved in #16519

[2021-01-16 13:26] #14953 closed

[2021-01-16 13:26] #16517 closed

[2021-01-16 23:24] ryanjAA opened #16569 "MRO Control Zero F7 Support - Missing Functionality Items"
The MRO Control Zero F7 has a few things not working under 1.11.3 Release and Master (as of writing). After talking with @dagar, testing each port for functionality was deemed the best course to bring this board up to full support.

See the below - will do necessary flight tests as well moving forward on this.

This is in order from not work to working ports:

  **Port**

* RSSI
  * Analog
    * *

[2021-01-16 23:25] ryanjAA commented on #16560
Not fixed yet but see https://github.com/PX4/PX4-Autopilot/issues/16569 instead.

[2021-01-16 23:25] #16560 closed

[2021-01-16 23:25] ryanjAA commented on #16561
Not fixed yet but see https://github.com/PX4/PX4-Autopilot/issues/16569 instead.

[2021-01-16 23:25] #16561 closed

[2021-01-16 23:26] ryanjAA commented on #16545
See https://github.com/PX4/PX4-Autopilot/issues/16569 for Control Zero F7 tracking

[2021-01-17 06:46] ryanjAA commented on #16569
The flow control addresses are not defined here:

https://github.com/PX4/PX4-Autopilot/blob/master/boards/mro/ctrl-zero-f7/nuttx-config/include/board.h#L258-L259

only the rx and tx. As well as here:

https://github.com/PX4/PX4-Autopilot/blob/master/boards/mro/ctrl-zero-f7/nuttx-config/nsh/defconfig#L227-L229

[2021-01-17 15:36] aet2230 commented on #15941
verify you put correct timestamp to your vision position message and set
EKF_AID_MASK 24 (vision position and yaw fusion)
EKF_HGT_MODE to 3 (vision)

we use old mavros version 0.21.5
but I think it should work with newer ones

[2021-01-17 17:37] Jaeyoung-Lim commented on #16486
Did you go through the toolchain installation as documented in http://docs.px4.io/master/en/dev_setup/dev_env_linux_ubuntu.html?

You can execute the script
[code]

[2021-01-17 17:41] Jaeyoung-Lim commented on #16277
Looks like you are missing some dependencies

Did you go through the toolchain installation as documented in http://docs.px4.io/master/en/dev_setup/dev_env_linux_ubuntu.html?

You can execute the script
[code]

[2021-01-17 17:42] Jaeyoung-Lim commented on #16098
Closing as author didn't respond, and it is a duplicate

[2021-01-17 17:42] #16098 closed

[2021-01-17 17:42] #15901 closed

[2021-01-17 17:43] Jaeyoung-Lim commented on #15879
This was fixed in https://github.com/PX4/PX4-Autopilot/pull/16519

[2021-01-17 17:43] #15879 closed

[2021-01-17 17:44] Jaeyoung-Lim commented on #15708
Closing as stale

[2021-01-17 17:44] #15708 closed

[2021-01-17 17:45] #15448 closed

[2021-01-17 17:45] pkocmoud commented on #16569
Hi @ryanjAA - I put this together to assist.

https://docs.google.com/spreadsheets/d/1gie9roBie3wi_UA369wAlK7ZPKHuCyMOPCJ9hZjsCf8/edit?usp=sharing

Please let me know if you have any specific questions?

[2021-01-17 17:47] #15594 closed

[2021-01-17 17:51] pkocmoud commented on #16569
RE: _Note: The board gets quite hot (implications for sensors?)_ - The Control Zero F7 do run warm do so without issue. The heat is a function of the limited size and copper on the board. They benefit greatly from using the AL case and/or temperature calibration of the sensors. Also, I recommend powering the external peripherals from an external power supply.

[2021-01-17 18:10] ryanjAA commented on #16569
Thanks for the excel.

Yes, definitely powering externally and it does have the aluminum casing on it.

Ok. Will temp calibrate.

From the excel usart6 rx is pc7 but is listed as RC in (front pin 3) which does work but at the same time also listed as usart6 on rear pins 8 and 10 which would be routed to pg14 and pg9  (forgetting cts and rts for a moment) but how then or is this simply a naming mis

[2021-01-17 20:46] Jaeyoung-Lim commented on #14783
Fixed in https://github.com/PX4/PX4-Autopilot/pull/16519

[2021-01-17 20:46] #14783 closed

[2021-01-17 20:48] Jaeyoung-Lim commented on #12390
@lkm1321 This is quite obvious now if you use `VERBOSE_SIM=1 ` when starting the SITL simulation with make targets

[2021-01-17 20:48] #12390 closed

[2021-01-17 21:11] #13946 closed

[2021-01-17 21:12] #15732 closed

[2021-01-18 00:33] pkocmoud commented on #16569
RCInput it routed to 2 separate pins one for Timer based signals and the other for UART based inputs. This mirrored the Pixracer input. The idea of the flex port was considering people that are using timing based inputs could use that port as either a UART or external SPI. That just caused too much confusion so I tell people that flex port is just SPI6. Does that make sense?

[2021-01-18 08:04] #12302 closed

[2021-01-18 09:11] sfuhrer commented on #14350
@mlaiacker We actually already have a first-order hold altitude following for fixed-wing. I guess it was broken when you tested it, it looks correct now:
https://review.px4.io/plot_app?log=656df6c4-acec-43c8-bfa5-9b8b5ae90c7f
![image](https://user-images.githubusercontent.com/26798987/104894265-bf919680-5974-11eb-9828-c6379085432e.png)

Related RP that got in a couple of months ago: https://github

[2021-01-18 10:41] FlavioTonelli commented on #16486
Looks similar to an issue I had. Running ubuntu.sh is probably not enough to fix the issue.
https://github.com/PX4/PX4-Autopilot/issues/16242

[2021-01-18 11:11] Jaeyoung-Lim commented on #16486
@FlavioTonelli Can you confirm that you ran the script on a fresh system? Otherwise if you had a different version of protobuf already installed, that might explain why the script could not install the proper version

[2021-01-18 11:13] FlavioTonelli commented on #16486
No it was not a fresh system. That's the reason why I had to manually fix the version linking on my ubuntu.
That fixed the issue on my side. I suppose @Iko-Git its facing a similar issue

[2021-01-18 11:51] RicardoM17 commented on #16309
@joker-csee do you still need help with this? The tilt quad frame that you mentioned was done by me. Unfortunately I only had to use 4 servos.

What exactly is your issue? Can you share a log?

[2021-01-18 14:20] MaEtUgR commented on #16516
I agree. It's currently not allowed because the logic of hold mode in navigator uses global coordinates partly also because Hold mode is used for gotos which should have its own mode see https://github.com/PX4/PX4-Autopilot/issues/14576

Atm you'd need to dig quite deep but the navigation stack changes have the exact goal to make this easily achievable.

See
https://github.com/PX4/PX4-Autopilot/pr

[2021-01-18 15:09] joker-csee commented on #16309
Hi, Marques! I am reading your dissertation nowadays, it's really helpful!

I tried to use mainout channels to control servos like what you have done with aux channels. But problem came up that the servos were fully deflected once powered on. Do I need to change the signal frequency to fit servos in source code, or change other parameters to fix the problem?

Unfortunately, there is no saved log.

[2021-01-18 15:27] RicardoM17 commented on #16309
Hi @joker-csee it's really interesting to see other people doing projects similar to mine.

This is probably a mixing issue, or some other parameter that you have to change. I'm happy to help but there probably needs to be quite a lot of back and forth so maybe reach out to me on the PX4 slack directly and we can discuss there.

Name: Ricardo Marques
User ID: U94PHPLQM

Then once (or if) the probl

[2021-01-18 17:26] sfuhrer commented on #16500
@MartinStokelj  have a loot at https://github.com/PX4/PX4-Autopilot/pull/16582

[2021-01-18 18:15] ryanjAA commented on #16569
@pkocmoud that makes sense, just why it is not working as a USART(6) port does not but it seems a few things aren't defined for it looking through everything.

Getting USART6 up and working and RSSI operational are likely the last 2 items for this board (along with pulling in the battery voltage and current changes but those are already working and figured out, just not in master).

I see that RSS

[2021-01-18 20:27] sfuhrer commented on #16202
There is no trajectory setpoint in fixed-wing flight, only the coordinates of the waypoints. So what you see in the old plot where it displays a trajectory setpoint plot is just the current estimated position, because some flight task seems to have set the setpoint = current if not otherwise specified.
So the fix here wouldn't be to again display the trajectory setpoint (because it doesn't exist)

[2021-01-18 20:30] #16202 closed

[2021-01-18 20:45] sfuhrer commented on #15969
@moreba1 Disabling fixed-wing actuation during transition is currently not possible. It will be active from the start of the transition. The blending only refers to the MC actuaion (it will "blend it out"). --> We need to fix the parameter description  ~"fixed-wing control will start increasing continuously until the transition occurs."~ In some way, the FW actuators are also "blended in" automati

[2021-01-18 20:46] sfuhrer commented on #16057
@RicardoM17 this should be fixed with https://github.com/PX4/PX4-Autopilot/pull/16244 right?

[2021-01-18 20:46] #16057 closed

[2021-01-18 20:47] #15501 closed

[2021-01-18 20:50] sfuhrer commented on #15410
Fixed by https://github.com/PX4/PX4-Autopilot/pull/16377

[2021-01-18 20:50] #15410 closed

[2021-01-18 20:54] sfuhrer commented on #15497
Closing as the cause for the original issue was found

Please open a new issue if still present on some setups.

[2021-01-18 20:54] #15497 closed

[2021-01-18 20:56] sfuhrer commented on #14915
FYI, the core algorithms for dynamic control allocation is now merged https://github.com/PX4/PX4-Autopilot/pull/16528

[2021-01-18 20:56] #14915 closed

[2021-01-18 20:58] #13682 closed

[2021-01-18 21:00] sfuhrer commented on #13413
Airspeed failure detection not enabled by default: fixed by https://github.com/PX4/PX4-Autopilot/pull/16564

[2021-01-18 21:09] sfuhrer commented on #13479
There was really something very weird going on, never seen something similar. Looks like the whole controller stops.
![image](https://user-images.githubusercontent.com/26798987/104962747-5c861b00-59d9-11eb-8064-16cc3656686e.png)
Please re-open/comment if you have seen that again and thus want to keep it open - if it was a software issue, the chance is high though it has been fixed since.

[2021-01-18 21:09] #13479 closed

[2021-01-18 21:10] sfuhrer commented on #12932
still valid @dlwalter ?

[2021-01-18 21:12] dlwalter commented on #12932
I'd be ok with closing it, I won't be able to test this for a couple days.

[2021-01-18 21:31] #12932 closed

[2021-01-18 22:10] dayjaby commented on #16425
Hey, sorry for late reply. QGroundControl does not acknowledge anything. What is the result field of the COMMAND_ACK message in QGC? Is your command id also visible in the uORB topic vehicle_command_ack (you can test with `listener vehicle_command_ack` in mavlink console in QGC)?

[2021-01-19 08:21] RicardoM17 commented on #16057
This is correct.

Thanks for closing the issue.

[2021-01-19 08:48] mortenfyhn commented on #16558
Probably the most recent stable release, v1.11.3: https://github.com/PX4/PX4-Autopilot/releases/tag/v1.11.3

[2021-01-19 10:01] AbdallahReda opened #16584 "Can't enable Hardware in the loop"
**Describe the bug**
I use pixhawk v2.4.8 and upload the px4_fmu-v2_fixedwing firmware using QGroundControl v3.5.6, then connecting to MissionPlanner v1.3.39 as a GCS.
I set the two parameters SYS_HITL and MAV_USEHILGPS to 1 (to use Hardware in the loop mode with Xplane simulator)

I have an issue when setting these parameters to 1, MissionPlanner writes "No GPS" so the hardware in the loop is not

[2021-01-19 10:18] sfuhrer commented on #16440
Hi @moreba1, the controller will always try to keep the IAS (resp. CAS) constant. CAS is passed into TECS, and there converted to a TAS setpoint, as that's what TECS internally needs. Also the tecs_status.airspeed_sp is in TAS. So it's normal that FW_AIRSPD_TRIM is not equal to tecs_status.airspeed_sp.
This PR https://github.com/PX4/PX4-Autopilot/pull/16585 should make it more clear for the future

[2021-01-19 11:15] taileron commented on #16334
I found it after all - it was a small file error on the SD media and when I repaired it on the Mac, the usual index folders were created again. Checked the SD card in a Windows computer for file errors and repaired it and deleted the Mac index folders.
After that, UAVCAN worked.
Please remove lines 113 - 137 from RCS again, as they cause the real problem to be overlooked.

[2021-01-19 11:58] moreba1 commented on #16440
1- if FW_AIRSPD_TRIM and airspeed in HUD are not the same when operator will be confused.
2. EAS2TAS is different in each flight, so TAS will different in each flight. Designers want to set TAS constant in all drone flights
3. If CAS displayed in HUD when we will set scale calibration. we will be confused because the average of min and max of groundspeed in loiter equal to TAS, not CAS.

I think

[2021-01-19 12:22] sfuhrer commented on #16440
FW_AIRSPD_TRIM is a very safety related system setting, that no operator should need to touch. Only developers. And they should know the difference between IAS/CAS and TAS. If you want to have user-facing airspeed setpoints, then I would recommend using change speeds commands in the groundstation.

It will only be different if you fly at different altitudes. I don't see that problem of having a ch

[2021-01-19 12:35] moreba1 commented on #16440
Flight performance (l/d) depends on the angle of attack and AOA depends on TAS, not IAS, so developers want to maintain TAS constant.
Also, the range of ground speed needs to TAS and wind , if TAS be more max ground speed will be more and it is not desirable for aerial imaging.

[2021-01-19 14:02] yuthikasagarage opened #16586 "PX4 Rover, mission mode doesn't work in a real vehicle."
**Describe the bug**
In SITL rover in master mission mode works in qgroundcontrol with takeoff waypoint. but in the a real vehicle in mission mode,
rover stands still. it arms and works in stabilized mode, but does nothing on the mission mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Upload any mission to a rover that is working in stabilized mode.
2. switch to mission mode (either fr

[2021-01-19 14:05] Jaeyoung-Lim commented on #16586
@yuthikasagarage What is considered as "just a generic rover frame" ?

[2021-01-19 14:08] yuthikasagarage commented on #16586
just like a traxxas stampede. ackermann drive, something like this
![Screenshot from 2020-10-24 22-22-23](https://user-images.githubusercontent.com/25317204/105045362-d8da3600-5a8d-11eb-9583-1abd5e002986.png)

[2021-01-19 14:12] taileron commented on #15049
In various ways one comes across the old problem again ... the lines 113 - 137 in RCS should be removed again, as they do not help except to disguise real problems. #16334

[2021-01-19 14:25] Jaeyoung-Lim commented on #16586
@yuthikasagarage And which airframe config did you use?

[2021-01-19 14:29] yuthikasagarage commented on #16586
this one --->
https://github.com/PX4/PX4-Autopilot/blob/master/ROMFS/px4fmu_common/init.d/airframes/50000_generic_ground_vehicle

[2021-01-19 14:51] kevinuav opened #16587 "module added issue which may cause by the software architecture"
I have added a module which can communicate with a device via uart4 at 10hz. My module initials the uart4 in **CA::init()**. Then set the work item with **ScheduleOnInterval(100000, 0);**  And the **CA::run()** read/write in a super while .The device receives the message queried by the autopilot. Then it replies the message I need. Every  period is about 70ms. However it usually make the whole sys

[2021-01-19 15:42] AndreaDelbene opened #16588 "ESP module not connecting to QGC in newer firmware versions"
Good morning everyone

I am experiencing a strange issue: while using a 1.9.2 version of the Firmware on my Pixracer, my ESP Wifi module connects to QGC without any problems. As soon as I change the version to a more recent one, like 1.11.0, my ESP module does not send any packets to QGC, as you can see in the following picture:
![Screenshot from 2021-01-19 16-39-50](https://user-images.githubuser

[2021-01-19 15:57] MischaZihler opened #16589 "Improve workqueue status to use as overall status return of the flight controller"
For general questions please use [PX4 Discuss](http://discuss.px4.io/) or [Slack](http://slack.px4.io/).

**Describe problem solved by the proposed feature**
After an update of the autopilot, we require to get an overall status of the system. There is no real solution to get a overall status report from PX4. The only approach that helped with that problem is `work_queue status`.
So to be able to p

[2021-01-19 16:06] #16588 closed

[2021-01-19 16:38] boris-gu commented on #16562
I ended up using a docker container to build the car and run the simulator.
I think that the script that installs ros and gazebo (https://docs.px4.io/master/en/dev_setup/dev_env_linux_ubuntu.html#ros-gazebo) does not work correctly, because there were errors, despite the fact that I ran it on a completely clean ubuntu.

[2021-01-19 16:42] Jaeyoung-Lim commented on #16562
@boris-gu If you could share the errors, we can try and fix the script

[2021-01-19 17:04] ryanjAA commented on #16569
This handles the power module sensing: https://github.com/PX4/PX4-Autopilot/pull/16590

[2021-01-19 17:05] boris-gu commented on #16562
@Jaeyoung-Lim
Unfortunately, I'm still pretty bad at this problem, because I'm just getting started. If I can do something to help in this case, then it is necessary that someone tell me what to do.
The easiest way to reproduce the error is to install ubuntu 18.04.5 on a virtual machine, execute this script (https://docs.px4.io/master/en/dev_setup/dev_env_linux_ubuntu.html#ros-gazebo) and try to r

[2021-01-19 17:29] Jaeyoung-Lim commented on #16562
@boris-gu Okay, since this problem is not related to this repository and more on the documentation, I am closing this issue.

[2021-01-19 17:29] #16562 closed

[2021-01-19 17:36] sfuhrer commented on #12716
Let's close this one and try to bring https://github.com/PX4/PX4-Autopilot/pull/15321 to a resolution.

[2021-01-19 17:36] #12716 closed

[2021-01-19 18:15] mlaiacker commented on #14350
Thanks for the update.

So it is fixed in master and also in stable 1.11.3?

I think I tested it again with 1.11 but was still changing the altitude as fast as allowed and then continue on the waypoint altitude.

It happens when you fly for example from waypoint 2 -> 3 and between these waypoints enable, for example, waypoint 5 that is far away and at a different altitude.

[2021-01-19 19:55] ryanjAA commented on #16569
This handles RSSI for SBUS only. PPM needs to be fixed (as it won't go into RC failsafe).

https://github.com/PX4/PX4-Autopilot/pull/16593

[2021-01-19 20:38] ryanjAA opened #16594 "RC PPM Failsafe Failure and RSSI Freeze"
When using a PPM receiver with an autopilot that does not have an i/o coprocessor the RC Update Module isn't handling PPM RC Failsafe or RSSI correctly.

This was tested on an MRO Control Zero F7 but the issue should effect more than just this board given the PPM and RSSI boilerplate.

When a PPM receiver is connected and the connection is lost the autopilot goes into RC Scan State Mode (in the RC

[2021-01-19 22:05] dagar commented on #16594
FYI the actual failsafe is handled downstream based on `manual_control_setpoint` timeout.

[2021-01-19 22:08] ryanjAA commented on #16594
Awesome - Thanks for the heads up.

But then also why is the RC Scan state scanning through?

I suppose the issue is the same but the location is different than my assumption.

I will rename.

[2021-01-19 23:26] dagar commented on #16594
It happens when the `rc_input` driver hasn't seen any signal for more than a second.

https://github.com/PX4/PX4-Autopilot/blob/386b56fbce20f7e92931893a682285558d32bb4b/src/drivers/rc_input/RCInput.cpp#L625-L627

I don't think it's really a problem, but a couple options that come to mind.

1. disallow scanning and re-entering scan state when armed
    - you can regain existing RC, but nothing new

[2021-01-20 00:07] ryanjAA commented on #16594
It only happens with a PPM receiver though. When using an SBUS receiver it goes into RC failsafe (and the RSSI signal drops to zero so that should at least be fixed) but it's a problem if you're relying on RC failsafe unless you are saying that because it gives you a "Manual Control lost" message in QGC it would still initiate an RC failsafe it is just not saying it and running through the scan.

[2021-01-20 00:13] ryanjAA commented on #16594
Practically speaking only two things really matter to the user in my head, that a RC failsafe and therefor RTL (if set up that way) would occur on loss of signal and that the RC RSSI signal reflects what is actually happening so they don't think they have 78% signal but it nothing is working.

When I disconnected the transmitter on the PPM receiver at ~90% signal it stayed at 90% and went into sca

[2021-01-20 01:41] mcelhennyi commented on #16261
https://github.com/PX4/PX4-Autopilot/pull/13978#issuecomment-575884123

This helped me^^

[2021-01-20 07:36] mortenfyhn commented on #16547
Update: It seems that the motor_test module which sends commands to the px4io module, and the px4io module itself are both working as they should (timeouts working nicely). I think something else is noticing the motors are on and going "let's turn them off", but I'm not sure what or why.

[2021-01-20 07:51] kevinuav opened #16596 "The uart4's read/write interferes the nsh system's output"
I have added a module which can communicate with a device via uart4 at 10hz. My module initials the uart4 in **CA::init()**. Then set the work item with **ScheduleOnInterval(100000, 0);** And the **CA::run()** read/write in a super **while(1)**. However,I find that the uart4's read/write can interfere the nsh's output. Part of my control messages could be outputted to the nsh. Why? Is this a syste

[2021-01-20 08:13] #16596 closed

[2021-01-20 09:10] mortenfyhn commented on #16547
Could it be that this is simply not supported on my hardware? (Pixhawk 4) If so, maybe we could add a list of supported/unsupported platforms to the [guide](https://docs.px4.io/master/en/modules/modules_command.html#motor-test)?

[2021-01-20 13:48] mortenfyhn commented on #16516
I understand, thanks. I can't guarantee I'll dig much deeper soon, though, but let's leave the issue open.

[2021-01-20 14:10] pjdewitte opened #16601 "VTOL: disabling non-PWM motors during fixed-wing flight"
**Describe the bug**
VT_FW_MOT_OFFID parameter only works for PWM-based ESCs / motors.

(You can also consider this a feature request for supporting uavcan ESCs, but because the [documentation](https://docs.px4.io/master/en/peripherals/uavcan_escs.html#px4-supported-esc) suggests UAVCAN ESCs should work, I consider it a bug).

**To Reproduce**
`VtolType::set_motor_state` calls `apply_pwm_limits` d

[2021-01-20 14:15] sanderux opened #16602 "CUAV NORA power+telem issues"
The NORA board does not boot in the following setup:

POWERA power supply
TELEM1 (or 2) RX/TX attached on CUAV P9
(5V/GND to the P9 is supplied by the BEC on the servo rail)
NEOV3 gps attached

disconnecting the RX/TX makes everything work
Waiting for the board to boot and attaching RX/TX then works
powering on POWERC also works

Joining servo-rail GND to telem GND does not solve it

@CUAVcaijie @

[2021-01-20 15:58] sanderux commented on #16602
Additional information

- Unable to reproduce on the CUAV X7
- It requires both the telem AND the GPS to be attached for this issue to present

[2021-01-20 16:40] MaEtUgR commented on #16589
Dev call:
- Adding more information to the work queue output is a good idea, this also helps to analyze the pre/post-flight output in the log.
- We need to get to a state where programmatically a board can report if every expected component is present, driver running and healthy. This is important not just for hardware CI tests but also for system status monitoring at any point in time e.g. before

[2021-01-20 16:50] mrpollo commented on #16589
This feature needs a contributor, if you are interested in helping please let us know, jump on the PX4 Slack on the #dev-call channel

[2021-01-20 20:57] ryanjAA commented on #16569
I've removed the Console from ttyS7 and renamed it Tel4 in https://github.com/PX4/PX4-Autopilot/blob/master/boards/mro/ctrl-zero-f7/default.cmake I also gave Tel 3 to ttyS3 (which the latter is the flex port on USART6/ttyS3) but I can't get it to work no matter what, mavlink, gps, etc.

I also added the CTS/RTS definitions to the board.h https://github.com/PX4/PX4-Autopilot/blob/master/boards/mro/

[2021-01-20 22:58] CrashxZ opened #16604 "Problem with Installation in Windows 10"
**Describe the bug**
I am trying to use the UAV toolbox with PX4 support in MATLAB.  I need to run jmvsim to start the simulation and then I can connect it with Matlab.

I tried to run the "make px4_sitl jmavsim" after finishing the Toolchain installation and cloning the firmware, but I keep getting errors.

**To Reproduce**
Steps to reproduce the behaviour:
1. Install PX4 Cygwin Toolchain
2.  Clo

[2021-01-21 00:25] ryanjAA commented on #16569
@pkocmoud is there a specific way you have or envisioned having RC in and uart6 working simultaneously or in tandem? I’m curious if this is a setting issue, pin mismatch issue or other.

I’m not sure if it’s possible or intended to use this port as a uart while using an RC receiver but even when not using a RC receiver it is not able to be used as a serial port so I’d like to fix that.

[2021-01-21 00:42] dagar commented on #16359
I think you must be using older PX4 because parameters like CAL_ACC_PRIME/CAL_GYRO_PRIME no longer exist.

Can you give this another try with current PX4?

[2021-01-21 03:17] cuhome commented on #16602
@sanderux Please provide your firmware version number

[2021-01-21 04:21] ryanjAA commented on #16569
This moves Console to UART8 (Frsky Telem) and gives access to UART7 as Telemetry 3.

https://github.com/PX4/PX4-Autopilot/pull/16605

[2021-01-21 06:27] sanderux commented on #16602
Reproduced on yesterdays master and stable 1.11.3

[2021-01-21 07:37] kevinuav commented on #16587
Hey,Guys.
    Finally. I know why my nuttx system usually crashes while my module is running. Since I want the serial reads/writes at 10hz. I use the function usleep(100000) at my workqueue in the super while(1). The hard fault never occurs after that I deleted the usleep function. Why the usleep makes the workqueue unstable?

[2021-01-21 08:18] bkueng commented on #16547
No, this should work in general. Looks like something in the IO itself, there might be a timeout. Can you look into this further?

This is a QGC behavior (I don't find it particularly useful)

[2021-01-21 09:02] sanderux commented on #16602
Problem related to type of BEC used.
Tested with 3 other BEC types and problem goes away.

[2021-01-21 09:02] #16602 closed

[2021-01-21 09:22] sfuhrer commented on #14350
I quickly tested it, and it looks correct when the normal mission order is kept, but not if you change the current index. Same for master. Any chance you'd have time to look into it?

[2021-01-21 10:01] drtrigon commented on #7222
I am currently working on a research project where we want to have several kinds of sensors on a flying platform. The project team has moved to another university, and we struggle currently to get the full setup up and running, namely the PX4Flow camera. We do have this issue:

"Error on link PX4 Flow on COM?? (AutoConnect). Error connecting: Could not create port. Das System kann die angegebene D

[2021-01-21 12:48] joker-csee commented on #16309
one can control servos on main channels 5-8 with this mixer code in a '+' quadrotor airframe, responding to the change of yaw.

# quad +
R: 4+ 10000 10000 10000 0
# mixer of other four mainouts to respond yaw
M: 1
S: 0 2  10000  10000      0 -10000  10000
M: 1
S: 0 2 -10000 -10000      0 -10000  10000
M: 1
S: 0 2 -10000 -10000      0 -10000  10000
M: 1
S:  2  10000  10000      0 -10000  10000

pay

[2021-01-21 12:48] #16309 closed

[2021-01-21 13:43] drtrigon opened #16611 "QGroundControl cannot connect to PX4Flow"
**Describe the bug**
I am currently working on a research project where we want to have several kinds of sensors on a flying platform. The project team has moved to another university, and we struggle currently to get the full setup up and running, namely the PX4Flow camera. We do have this issue:

"Error on link PX4 Flow on COM?? (AutoConnect). Error connecting: Could not create port. Das System

[2021-01-21 14:01] drtrigon opened #16612 "PX4Flow does not connect to PX4 v1 (PX4 never shows values)"
**Describe the bug**
Optical Flow does not work. In QGroundControl I do not see any OPTICALFLOW messages. In MissionPlanner the values "opt_" are all always 0.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup PX4Flow (set parameters, adjust lens, upload most recent firmware)
2. Connect PX4Flow to PX4 v1 via I2C
3. Connect PX4 to PC via USB
4. Open QGroundControl or MissionPlanner
5. Hol

[2021-01-21 14:10] pkocmoud commented on #16569
@ryanjAA - as I recall, UART6 RX is needed to decode serial based RC inputs. This circuit is almost identical to how the Pixracer works. The signal is connected to both bins which one being separated by a resistor. Just want to make sure you are not referring to the UART6 on the flex port which I don't think is workable if UART6 RX is being used above.

[2021-01-21 14:48] ryanjAA commented on #16569
@pkocmoud thanks. yes, I was looking at the usart6 flex port as well.

Even with no RC connected (sbus, ppm) to autopilot port f3, usart6 is not usable (when manually enabling it, it does not allow serial data in). I’ve gone ahead and disabled as well as moved the RC serial port as a test (not in the Pr I just did) and that cuts RC in ability as it disables the RC in serial port. I wonder if simpl

[2021-01-21 15:57] pkocmoud commented on #16569
Ardupilot does things differently. I suspect you need to set the PPM input pin (PB0) to floating to prevent it from controlling the UART input signal. Maybe we should hop on a call?

[2021-01-21 17:02] #16604 closed

[2021-01-21 19:08] taileron commented on #16601
And this only applies to the PWM outputs of the IO - the PWMs on the FMU are also not managed and always remain on as well.
#15155

[2021-01-21 23:39] ilNonn0 opened #16620 "SRXL2 rc protocol"
Hi all,
I was looking for a receiver compatible with my radio (Spectrum DX8G2) and I found that Spectrum suggests ([here](https://spektrumrc.com/Content/Media/PDF/64930%20-%20SPM%20AIR%20Receiver%20Chart.pdf)) the following models for copter: SPM4650 and SPM4651T.
Both of them use the new SRXL2 serial protocol, but unfortunately, PX4 doesn't support it right now and the flight controllers don't ha

[2021-01-22 05:43] yuthikasagarage commented on #16586
@Jaeyoung-Lim  i can see that
https://github.com/PX4/PX4-Autopilot/blob/1d8808183d0fed342ee22a2726e79ccb6fa51ddd/src/modules/rover_pos_control/RoverPositionControl.cpp#L239
and
https://github.com/PX4/PX4-Autopilot/blob/1d8808183d0fed342ee22a2726e79ccb6fa51ddd/src/modules/rover_pos_control/RoverPositionControl.cpp#L522
What might be blocking the actuator outputs in a real vehicle?

[2021-01-22 08:18] chungchung21 opened #16621 "EKF2Selector.cpp VZ reset may have a typo"
Hello

In src/modules/ekf2/EKF2Selector.cpp, L377
I think that "_delta_z_reset = local_position.delta_vz;"  should be  "_delta_vz_reset = local_position.delta_vz;"
Is that right?

Thanks.

[2021-01-22 09:10] Jaeyoung-Lim commented on #16621
@chungchung21 Would you be able to create a pull request? Thanks!

[2021-01-22 10:11] mlaiacker commented on #14350
@sfuhrer What can I do?

I submitted a pull request that should fix this issue when changing the current index. That's what this issue is all about.

[2021-01-22 10:53] Jaeyoung-Lim commented on #16586
@yuthikasagarage Given that this works in SITL, it is not a algorithmic problem, but some of the assumptions in the code might not be valid.

We need to first check why zero actuator controls are getting published

[2021-01-22 14:22] dagar commented on #16621
Thanks @chungchung21, nice catch!

[2021-01-22 14:32] #16621 closed

[2021-01-22 15:26] CheeseCrustery opened #16624 "Could not find Boost when trying to debug PX4 on Ubuntu 20.04"
**The bug**
Trying to start a `SITL (gazebo)` debugging session within the Docker container, using Visual Studio Code, on Ubuntu 20.04 gives a compile error.

**To Reproduce**
Following [the official guide](https://docs.px4.io/master/en/dev_setup/vscode.html)
1. Install Visual Studio Code on Ubuntu 20.04
2. Execute `git clone https://github.com/PX4/PX4-Autopilot.git --recursive`
3. Execute `bash .

[2021-01-22 17:27] echoGee commented on #16110
Hi,
Any suggestions on how to handle this ?
From how i see it, the main steps to make this happen are :

1. Move all of batt_smbus functions that are supported in the SMBUS formal specs to a base class (batt_smbus)
2. Implement derived classes specific for bq40z80, bq40z50, solo, batmon
3. Have a function that initializes the right subclass based on a flag passed on from QGC. It seems GPS driver i

[2021-01-22 18:07] rencheckyoself opened #16627 "Collision Prevention in SITL/Gazebo typhoon sim not functioning on 1.11.3"
**Describe the bug**
I am new to using PX4 so I have been working with the px4_sitl and gazebo simulation to test out some of the features. I wanted to test the collision prevention behavior so I added obstacles to the gazebo after the simulation launch, but the drone did not respond to the obstacles. I was using the typhoon_h480 simulation controlled using the virtual joystick in QGC.

I think th

[2021-01-22 18:59] yuthikasagarage commented on #16586
@Jaeyoung-Lim where should i look for in the code ? any idea.

[2021-01-22 19:14] Jaeyoung-Lim commented on #16586
@yuthikasagarage We need to check why it is not moving, and probably we will not know by just looking at the code, we need to debug it

[2021-01-23 02:36] Pskoog3 opened #16628 "[Question] RPi: All Wireless Communication via Ethernet?"
Is it possible to put remote control, telemetry and video stream all on the Ethernet of raspberry pi with PX4 build?
I mean instead of connecting individual RC receiver and telemetry module to raspberry pi, all communication is routed via a Wifi modem connected to Ethernet port while the RC input is connected to QGroundControl or some other ground station. Is it already implemented?

[2021-01-23 07:27] BazookaJoe1900 commented on #16110
for the differentiation between the bq40z50 and bq40z80 only few if/else where needed. so the need for more complex hierarchy seems to me unnecessary.
I don't familiar the solo, and the batmon battery protocol. but my instincts tell me that if their protocol is similar to the bq, its better not design diverted class's. but to use some more if/else

[2021-01-23 08:25] HHHHHCS opened #16629 "System log?"
Does PX4 have system log now?If not，may it be?

[2021-01-23 08:28] HHHHHCS commented on #16629
It could record that such as PX4_INFO,PX4_WARN,printf......

[2021-01-23 08:50] liganggg opened #16630 "print error messages(ERROR [navigator] vehicle_command lost) continuously use mavlink mount"
**Describe the bug**
1.setting the param MNT_MODE_IN = MAVLINK_DO_MOUNT and MNT_MODE_OUT = MAVLINK
2.in the nsh can see it continuous printing of error messages,
i found it from module navigator_main.cpp:
PX4_ERR("vehicle_command lost, generation %d -> %d", last_generation, _vehicle_command_sub.get_last_generation());
`ERROR [mavlink] vehicle_command lost, generation 0 -> 11

ERROR [navigator] veh

[2021-01-23 09:25] dayjaby commented on #16630
I experienced the same and moved all gimbal commands into its own uORB topic. Have a look at https://github.com/dayjaby/Firmware/commit/9032de6bfb134161e19aa0387972dd0b07ab6390

I did not create a pull request as the whole gimbal control is being overhauled according to the mavlink gimbal protocol v2.

[2021-01-23 12:06] afiffadhlurrahman opened #16631 "Build Error px4_sitl_default"
When i run `make px4_sitl_default gazebo`, this error appear, what should i do? Does the difference in ros affect the build? In my case, i use ros noetic and ubuntu 20.04.

[code]

[2021-01-23 12:21] LorenzMeier commented on #16629
The PX4_INFO and PX4_WARN messages get added to a system log that is stored on the SD card and can be exported as part of the ULOG file. There is also a ```dmesg``` console command to see boot log messages.

[2021-01-23 12:21] #16629 closed

[2021-01-23 12:43] Jaeyoung-Lim commented on #16631
You didn't update the submodules
[code]

[2021-01-23 13:07] moreba1 commented on #15969
For prevention from Intermingling of the controllers.

[2021-01-23 13:15] afiffadhlurrahman commented on #16631
I have run the `make submodulesupdate` command recently but its still get error when i try to build `make px4_sitl_default gazebo` @Jaeyoung-Lim

[code]

[2021-01-23 13:16] Jaeyoung-Lim commented on #16631
@afiffadhlurrahman Okay, but the error should be different right?

[2021-01-23 13:17] afiffadhlurrahman commented on #16631
The error after i run `make submodulesupdate`

[code]

[2021-01-23 14:29] dagar commented on #16630
There are relatively new checks in place anywhere `ORB_ID(vehicle_command)` is consumed to find dropped messages. In this particular case it's likely do to `vmount` publishing relatively fast.

Without more fundamental architectural changes around gimbal the fix right now would be a combination of...
1. making sure `vmount` doesn't publish `ORB_ID(vehicle_command)` faster than is necessary
2. incr

[2021-01-23 17:11] ryanjAA commented on #16569
@pkocmoud sounds good. Let's do that Monday. I will test setting PB0 to floating and see what happens.

Been chasing the weather to get some test flights in but did some baselines yesterday.

[2021-01-23 19:20] Jaeyoung-Lim commented on #16631
@afiffadhlurrahman Are you sure the submodule update have been done correctly? Have you checked if the Cmakefle.txt actually exists in the location that it is complaining?

[2021-01-24 06:30] Phillweston commented on #15627
The VIO code, the author reverted the merge, and the latest VIO code still cannot get the odometry information.

[2021-01-24 06:40] Phillweston commented on #15627
Is there a way to achieve the function of VIO odometry without downgrading the firmware to 1.10?

I found the reason as follows:
https://github.com/Auterion/VIO/pull/15#issuecomment-718905186

[2021-01-24 11:49] sfuhrer commented on #15969
With the current VTOL architecture where we have separate controllers running for MC and FW flight, we always need some sort of blending from one to the other.

[2021-01-24 12:33] farhangnaderi commented on #15627
I will try with different Firmware Versions and if ok, I will close this issue.

[2021-01-24 13:14] afiffadhlurrahman commented on #16631
Okay, i will try it later, thanks

[2021-01-24 15:54] #15969 closed

[2021-01-24 16:06] avielm commented on #12351
is there any work on this?

[2021-01-24 16:23] dagar commented on #12351
The Roboclaw driver in current PX4 publishes odometry data. https://github.com/PX4/PX4-Autopilot/blob/f571b29ae8152cc0b3d0f6bb7f160e3a44a8d9ed/src/drivers/roboclaw/RoboClaw.cpp#L223-L229

The next step is actually consuming it in the ekf2, including adding appropriate configurable physical quantities for the wheels.

[2021-01-24 23:24] dagar opened #16639 "CI SITL plane failures"
SITL plane has been failing lately in CI. https://github.com/PX4/PX4-Autopilot/pull/16635/checks?check_run_id=1758446359

![Screenshot from 2021-01-24 18-22-55](https://user-images.githubusercontent.com/84712/105647011-32b57400-5e71-11eb-84de-e79411249950.png)
![Screenshot from 2021-01-24 18-23-28](https://user-images.githubusercontent.com/84712/105647033-47920780-5e71-11eb-81dd-f7bace6a9c47.png)

[2021-01-25 07:49] Jaeyoung-Lim commented on #16639
Looks like there were some changes in the liftdrag plugin: https://github.com/PX4/PX4-SITL_gazebo/pull/562

[2021-01-25 09:44] sfuhrer commented on #16639
Look to me like an issue in the FW takeoff - manual flying, GOTOs and landings look fine, but 100% reproducible when you start a mission with a takeoff. Probably something pitch setpoint related.
![image](https://user-images.githubusercontent.com/26798987/105688761-448f2980-5efa-11eb-9854-0b0428942f78.png)

[2021-01-25 14:11] FeCLN commented on #13003
@mcsauder hellooo, have you connected in the UART 6 parameter to use it?

[2021-01-25 14:26] dagar opened #16643 "review wind_estimate message architecture"
- each ekf2 instance publishes an instance of `wind_estimate`
 - the airspeed selector publishes N+1 `wind_estimate` messages
 - RTL and mavlink naively consume the first instance of `wind_estimate`, but that might not be correct

[2021-01-25 14:26] dagar commented on #16643
FYI @jkflying

[2021-01-25 14:54] bresch commented on #7416
@FreshGresh There is also FIFO logging available; this allows to log the gyro and accel data at full speed (e.g.: 8kHz on some IMUs): https://docs.px4.io/master/en/log/flight_review.html#raw-high-rate-imu-data-plots

[2021-01-25 16:29] dagar commented on #16643
Proposal that initially comes to mind assuming that we'll prefer the wind_estimate from ekf2 for these end users. Correct me if I'm wrong, but I don't think we'd have a real scenario where things like RTL would prefer using the `wind_estimate` from a standalone wind estimator?
1. airspeed selector log to different messages entirely
2. With multi-ekf the ekf2selector becomes responsible for publish

[2021-01-25 16:48] echoGee commented on #16110
Even if the differentiation between bq40zx0 and other BQ chips (BQ769x0) etc have only one difference, all the difference would have to be handled in an if else case. Pros and Cons of an inherited system:
Cons:
- Someone has to do this work.
- No immediate functionality difference
- Requires testing on all the current different hardware (BQ chips, solo etc ? )
- Some, but trivial duplication of co

[2021-01-25 17:12] dagar commented on #16110
@echoGee My personal preference these days is to distill the driver down to the simplest possible form targeted at one exact model. What I saw with things like unified Invensense IMU drivers is that a lot of the minor differences get lost in the details and can come back to bite you later on. This creates a bit of bloat in generic PX4 builds for development boards (eg pixhawk 4), but it doesn't re

[2021-01-25 17:57] echoGee commented on #16110
Maybe I was communicating in a bad way earlier. I do agree with you that there should be a driver specific for a single device and not make it handle the different devices. That is exactly what we are pushing for.

Currently batt_smbus has been _overloaded_ with more stuff than what default SMBUS supports. I'm suggesting to split that into a bq40z80 (or with a bit more effort bq40zx0 specific driv

[2021-01-26 00:19] echoGee commented on #16110
What do you think of this style ?
[code]

[2021-01-26 01:26] dagar commented on #16110
Agreed!

My preference would be each concrete BMS type be a separate module/driver. That way different boards can include only a subset of what they care about, start something specific, etc.

I might need to review some of the details, but shouldn't BATT_SMBUS simply be an extension of I2C that implements the smart battery data specification? Then each of these BMS (BQ40Z50, BQ40Z80, Rotoye_Batmo

[2021-01-26 01:39] echoGee commented on #16110
Could you explain/rephrase that? I'm not super thorough with pixhawk/architecture lingo.

How would the function declaration look like if this is the case ?

[2021-01-26 06:21] BazookaJoe1900 commented on #16110
@echoGee the problem for me now, is to understand how different is the functionality of BatMon vs BQbq40zx0 vs solo
does on have more options then the other, for example reading more temperature sensors?
does this functionality is something you need, and implemented on BatMon. for example, I did changed the BQ driver on my local repo to read more temperature sensors.
How does thous changes impleme

[2021-01-26 06:54] addy1997 commented on #12385
@Iko-Git thanks a ton. Your solution worked for me. I ran into this error after installing ignition gazebo on my ubuntu 18.04.2 LTS.

####CAUTION####

only run the commands given below if you have following system configurations like me:

1. OS: Mac OSX (Big Sur)
2. Running gazebo on **Ubuntu 18.04.2 LTS (bionic beaver) using Virtual Machine.**

**How I got it right?**

1. `cd PX4-Autopilot`
2. `m

[2021-01-26 07:00] dagar commented on #16110
Separate standalone modules for each. For example the Invensense IMU drivers. https://github.com/PX4/PX4-Autopilot/tree/master/src/drivers/imu/invensense

 - src/drivers/smbus/bq40zx0 (I don't yet have an opinion about a combined or split BQ40Z50 and BQ40Z80)
 - src/drivers/smbus/rotoeye
 - etc

Refactor truly common code (Smart Battery Data Specification).

[2021-01-26 09:56] tuloski opened #16653 "Sync time with external MCU"
Hi,
I'm trying to sync the px4 time (of the logs especially) with an external MCU/PC, but I'm having some troubles (offset in time).
My idea is to sync everything in UTC Unix time (milliseconds). I want to use messages received via mavlink to sync.
The problem arises because (IMO):

- GPS_RAW_INT message only sends local milliseconds time since boot, and doesn't have the UTC time. (msg.time_usec =

[2021-01-26 11:08] lukegluke commented on #16370
Hi all,

Not quite relating to the issue's subject, but a thought about gps drivers architecture.
For now in gps drivers there are two output modes - GPS and RTCM - px4 uses only the first one mode and QGC the second one to support base stations. But in fact it seems useful especially in aerial photography to log RTCM raw GNSS data during flight for further post processing (PPK). So this feature w

[2021-01-26 14:18] bresch commented on #16531
That's right, we should improve that. Assuming the measurement are uncorrelated, we could compute the variance of the blended solution using the following formula:
`Var(v) = w_1^2 * Var(v_1) + w_2^2 * Var(v_2)`
Where `w_x`  is the weight of each receiver in the blended solution and `Var(v_x)` is the velocity variance reported by each receiver.

[2021-01-26 15:22] bresch commented on #16489
@cimbar This might be part of the issue, yes; that part is clearly missing.

However, looking at the log, there are two resets, not just one:
![DeepinScreenshot_select-area_20210126161510](https://user-images.githubusercontent.com/14822839/105864350-1f7de200-5ff2-11eb-8c82-204e61556413.png)
Given the timestamp, the first one seems to be the reset to baro (with a small change) and the 2nd one a res

[2021-01-26 17:00] kristianmk commented on #16620
Spektrum seems to discontinue products using the old protocol now. So this should be interesting for Spektrum users.

[2021-01-26 17:00] #16630 closed

[2021-01-26 18:06] lukegluke commented on #16147
I've reviewed code - I missed that parameters backend uses px4_shutdown_lock() quite a long already, so there should not be such problems I supposed in first comment.

As I see there theoretically could be a problem losing latest value of parameters in case if parameters lib is waiting 2s after previous saving, but board gets reboot request. But it surely doesn't lead to total parameter losses iss

[2021-01-26 19:40] ryanjAA commented on #16147
This just started happening again after several flights. Disarmed only then reboot then no parameters or anything, no airframe setup either. After talking with @dagar I'm going to try and recreate it without any parameter changes as well while watching from console.

[2021-01-26 21:03] dvireshlumenier commented on #16412
My very first thought would be to verify if your verify your gpio's and make sure they are defined correctly, take a look at line 342 in: https://github.com/PX4/PX4-Autopilot/blob/master/boards/px4/fmu-v5/nuttx-config/include/board.h

 What i think is happening, is the your board thinks it has only CAN1 connected, and there is nothing on CAN2 and CAN3 and that's why they get set to low. Take a loo

[2021-01-26 21:53] dallinbriggs opened #16659 "actuator_controls_0 is not a normalized value"
**Describe the bug**
According to[ the documentation](https://docs.px4.io/master/en/concept/mixing.html) of control group #0, all of the flight controls should be normalized values between -1 and 1. During a flight test that ended with instability and then a crash of a hexacopter, the values in `actuator_controls_0` can be seen exceeding the value of 1. Since consumers of `actuator_controls_0` may

[2021-01-26 23:09] echoGee commented on #16110
Theres cleaning up to do, but what do you think of this structure? https://github.com/rotoye/px4_firmware_batmon/tree/batmon_4.03/src/drivers/batt_smbus

- The files should be moved to their individual folders to be clearer.
- Note that SBS 1.1 spec does not specify a lot of the register addresses that are used often such as the cell voltage. The core BATT_SMBUS now contains only the truly SBS spe

[2021-01-27 11:25] rligocki opened #16667 "S.BUS output on FMU only boards"
Few days ago I tried to get Futaba S.BUS servos get running with Pixracer autopilot. Later I found, that on Pixracer there is no IO co-processor. That means it is not possible to compile px4io module (there is no IO processor). Without this module it is not possible to output S.BUS signal.

I was wondering, if it might be possible to run S.BUS output from FMU. Looks like there are some clues, that

[2021-01-27 12:15] Chris-Bee commented on #16390
@LorenzMeier Apologies, what I wrote was incorrect - Supply GND was connected to GND of the FMU Debug port and 5V was connected to the RX pin of the FMU Debug port.

[2021-01-27 12:17] bresch commented on #16659
Looks like a failure of the rear right motor to me: the motor 3 command is at full thrust, the pitch and roll controller are commanding a negative value, the commanded thrust is at max and the drone is still going down.

Regarding the [-1; 1] saturation of the actuator controls, it is actually performed in the mixer, after the `actuator_controls` message is published and logged. In your case, the

[2021-01-27 12:24] bresch commented on #13153
Closing as so many things changed in EKF2. Please open a new issue if this can be reproduced in master

[2021-01-27 12:24] #13153 closed

[2021-01-27 12:26] bresch commented on #16526
relates to https://github.com/PX4/PX4-ECL/issues/953

[2021-01-27 12:40] farhangnaderi commented on #15627
I will open another issue for the new Firmware 1.11.3.

[2021-01-27 12:40] #15627 closed

[2021-01-27 12:53] Phillweston commented on #16628
I think it is possible, but you need a companion computer running a specified embedded system, such as APSync or so.
Unfortunately, APSync does not support PX4 firmware at this time, and it is recommended to consider using Ardupilot firmware if you do have such a need.
You can refer to this instruction below:
https://ardupilot.org/dev/docs/apsync-intro.html

[2021-01-27 12:56] Phillweston commented on #16628
You don't need to compile PX4-related source code on an on-board computer, which only transmits data to flight control through the mavlink protocol.

[2021-01-27 12:58] LorenzMeier commented on #16628
Here is the documentation on how to set up the communication between the flight controller and the computer for forwarding via Wifi (or any other IP baed link): https://docs.px4.io/master/en/companion_computer/pixhawk_companion.html

[2021-01-27 13:04] #16628 closed

[2021-01-27 14:59] nbelanger99 commented on #16110
Hi @BazookaJoe1900, I'm working with @echoGee. The if-elseif structure works fine for differentiating between the BQ40z80/50 since there are only a few minor differences, and for now I've preserved that in [our new implementation](https://github.com/rotoye/px4_firmware_batmon/tree/batmon_4.03). However, the more platforms we want to support, the more hacky this kind of structure would get. However

[2021-01-27 15:02] nbelanger99 commented on #16110
Hi @dagar, we've done something like this [here](https://github.com/rotoye/px4_firmware_batmon/tree/batmon_4.03). The idea is that BATT_SMBUS becomes a base class which can either be instantiated as a generic driver for any batteries which conform to the SBS spec, and more specific implementations are built on top of that. I haven't factored the BQ40z80/50 driver into separate classes yet, but tha

[2021-01-27 15:09] AbhishekGS opened #16670 "HITL Simulation very jumpy"
**Describe the bug**
I performed HITL Simulation with Pixhawk 1 hardware using 1.10.2 firmware version with jMAVsim simulator. The controller performance for a simple mission was very jumpy and not smooth at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Flash the [1.10.2 firmware](https://github.com/PX4/PX4-Autopilot/releases/tag/v1.10.2) on Pixhawk 1.
2. Follow the steps mentioned in

[2021-01-27 15:13] dagar commented on #16110
@nbelanger99 that sounds like roughly the right direction (in my view). I actually want to go a step further though to keep things modular with BQ40Z50, ROTOYE_BATMON, etc being separate modules.

[code]

People that use PX4 for custom builds can then trivially include only the specific BMS they need.

[2021-01-27 16:13] davids5 opened #16671 "SPI6 DMA (BDMA)"
Reported on Slack.  Hardfaults.

[2021-01-27 16:15] davids5 opened #16672 "H7 Ver V issues"
Reported on Slack

Bootloader fails.

[2021-01-27 16:27] dallinbriggs commented on #16659
@bresch I also thought it might be a motor failure, but then I rebuilt the drone with all new ESC's, motors, and a different flight controller (the cube orange), and the drone almost crashed again due to instability in position hold mode. It seems unlikely that two different motor and ESC sets would have a failure.

[Here is the link](https://review.px4.io/plot_app?log=3e1adf31-1eba-4c3b-ac79-d52b

[2021-01-27 16:40] echoGee commented on #16110
Would that mean the user would have to recompile a particular module and the default , lets say v1.12 wouldn't have all the modules.

So the step that the user would have to do is add the module into a modified firmware, upload it and connect the hardware ?

[2021-01-27 19:16] yuthikasagarage commented on #16586
@Jaeyoung-Lim  apparently 1.10.1, (https://github.com/PX4/PX4-Autopilot/commit/e0f016c2b3db160284bbaaadaf70bef84592d81e)
 has worked with the mission mode on a real vehicle

https://review.px4.io/plot_app?log=dc6f2043-ca7f-4c29-b350-6d137e86e630

[2021-01-27 19:57] echoGee commented on #16110
Capturing some of the discussion we had with @dagar on a dev call. He suggested to move to a system where each device is a different module. He also suggested to keep the existing module so as to not break anything for existing users.
Something similar to this.
[code]

This could be handled with a sub-optimal solution by potentially creating a core SBS1.1 only base class and using it in the rotoye

[2021-01-27 20:14] shobhitme2 commented on #16526
I use vision as the primary height source the local position Z seems to be much better and does not drift. My setting are using vision as the EKF2_HGT and setting range sensor ENABLED and ALT_MODE set to terrain following. I going to conduct to conduct a long range test (~200m) over flat terrain with this setting. If the estimator is using vision as the z source the drift will be noticeable, but i

[2021-01-28 03:05] afiffadhlurrahman commented on #16631
Thanks, my simulator now works, i re-clone px4 repo and run submodule again @Jaeyoung-Lim

[2021-01-28 03:05] #16631 closed

[2021-01-28 07:44] BazookaJoe1900 commented on #16110
I think @echoGee approach for one param that rule them all is correct.
also using hierarchy correct batt_smbus that has different implementation for each battery type sound good.
now, there are few point of decisions:
- which of the functionality is on the base class and which on de diverted. because there is a lot of shared code. one option is to duplicate code, and this option I like less.
- how

[2021-01-28 09:06] yangshaojinyangshaojin opened #16677 "parameter 'expected' set but not used [-Werror=unused-but-set-parameter]"
[code]
Thanks!

[2021-01-28 09:09] yangshaojinyangshaojin opened #16678 "Calibration voltage failed . in v11.1.10 and v1.11.11"
**Describe the bug**
In  v11.1.10 and v1.11.11  calibration voltage failed .

###

[2021-01-28 11:35] garfieldG opened #16679 "Geofence issues"
**Describe the bug**
Hi,

While playing with the geofence on sitl I encountered  few issues regarding it :
1. Altitude - while on geofence failsafe trigger hold mode I tried to change the altitude to be above the allowed geofence max altitude. The first time trying to do so it warned me about the altitude geofence and didn't go as high as I wanted it to, but then when I tried to give a new altitud

[2021-01-28 13:22] #16414 closed

[2021-01-28 14:39] echoGee commented on #16110
From a cleanliness standpoint, since the name of the driver is smbus, we put the core SBS1.1 specs on the base class. There would be some duplication of code. But the duplication is for register names etc which could be differently handled on different devices.

Currently it could be handled in a single class with a if function. If it diverges too much the structure is present to either 1.easily a

[2021-01-28 14:47] xxEoD2242 opened #16681 "JSBSim Shared Pointer issue with bridge"
When trying to build jsbsim_rascal with px4_sitl, I got the following error:

[code]

As the compiler says, this is a valid error, since this is a standard pointer and not a shared pointer. To solve this, I did the following:

[code]

Once I did this, everything compiled and the system worked just fine. Now, this was a naive attempt to try to fix what was wrong and JSBSim seems to be working just

[2021-01-28 16:48] mortenfyhn commented on #16547
I did some digging without reaching anything. Eventually I realized that I could use direct `pwm` commands as a workaround, so I'm doing that for now. Can't promise to dig further.

I agree. Often the use case is probably just to check that motor indexing and rotation direction is correct, but it seems excessive to "force" the motors off after only a few seconds.

[2021-01-28 21:38] sfuhrer commented on #16643
I think it just doesn't matter that much where it comes from. Recent flight testing in some wind have shown that the wind estimates from EKF and the airspeed_selector are almost identical (not surprising with it having the same setting, but still nice to see).

![image](https://user-images.githubusercontent.com/26798987/106200375-29047700-61b7-11eb-9341-3ef114e3eb98.png)

I think using the one fro

[2021-01-28 22:16] cimbar commented on #16489
Thanks for your investigation. In the second reset, external vision height is started to be used as primary height source again, without considering last baro fusion. It might be better to not reset the source more than ones in the same flight or there can be better options for these kind of failsafe situations.

[2021-01-28 23:16] Jaeyoung-Lim commented on #16681
@xxEoD2242 This should be fixed in https://github.com/PX4/PX4-Autopilot/pull/16685

Would you be able to give it a try? Thanks!

[2021-01-28 23:34] acarrou opened #16686 "PX4Flow does not start with the specified I2C bus type using Firmware 1.11."
PX4Flow does not start with the specified I2C bus type using Firmware 1.11.

I have tried the PX4Flow on the PX4 1.11 firmware and there is an issue with the address being assigned. I tried this with firmware version 1.10 and it seems to have its default address of 0x42.  The error I am getting is:
```ERROR [SPI_I2C] need to specify a bus type```

I have the driver needed as well as all the necess

[2021-01-29 04:04] ryanjAA commented on #16147
Ive tried rebooting over and over while connected to console. I can't reproduce it. Im on master.

I will try on 1.11.3 release.

Here are the screenshots from above:

nsh> param status
nsh> param show CAL*
nsh> mtd status
nsh> mtd readtest
nsh> cat /proc/partitions
nsh> dmesg

<img width="509" alt="Screen Shot 2021-01-28 at 10 02 35 PM" src="https://user-images.githubusercontent.com/31726584/1062

[2021-01-29 08:41] #16681 closed

[2021-01-29 12:53] xxEoD2242 commented on #16681
@Jaeyoung-Lim This worked! Thanks!

[2021-01-29 13:07] #16488 closed

[2021-01-29 17:07] ryanjAA opened #16692 "MRO Control Zero i2c issue"
When testing the Control Zero F7 there are some problem with the i2c bus. Namely that data seems to "jump" i.e. not be stable.

An HMC5883 mag, MS4525 airspeed sensor and Lightware sf11/c Lidar rangefinder were all connected via i2c. Both with internal power and externally powered. Subsequent tests were done with just the lidar directly connected to the autopilot to remove any potential interferen

[2021-01-31 11:34] #15406 closed

[2021-01-31 20:10] moreba1 commented on #16299
fixed with this PR https://github.com/PX4/PX4-Autopilot/commit/12875f7869ac547116119ba0fcad7fe3251ae27a

[2021-01-31 20:10] #16299 closed

[2021-02-01 04:51] #15978 closed

[2021-02-01 07:56] lirc572 opened #16715 "Undefined reference to PX4Rangefinder for distance_sensor/lightware_laser_i2c"
**Describe the bug**

Undefined reference to PX4Rangefinder during compilation after adding `distance_sensor/lightware_laser_i2c` driver. `lightware_laser_i2c` seems to be missing a dependency on `drivers_rangefinder`.

**To Reproduce**
Steps to reproduce the behavior:
1. Add `distance_sensor/lightware_laser_i2c` to `default.cmake`
2. Build

Refer to #13616

[2021-02-01 08:02] Pskoog3 opened #16716 "WARN [gps] ubx msg 0x0106 invalid len"
I got the following warnings for sometime with PX4 running on Raspberry Pi 3 with custom sensors and ublox LEA-6H GPS module. Need to know what it means and why it has been generated?

WARN [gps] ubx msg 0x0106 invalid len 46590
WARN [gps] ubx msg 0x0106 invalid len 11260
WARN [gps] ubx msg 0x0106 invalid len 46580

[2021-02-01 08:41] Jaeyoung-Lim commented on #13012
This has been fixed on latest master, closing

[2021-02-01 08:41] #13012 closed

[2021-02-01 14:03] dagar commented on #16715
@lirc572 I'll make the dependency explicit so reduced builds work.

[2021-02-01 14:07] dagar commented on #16715
Can you try https://github.com/PX4/PX4-Autopilot/pull/16721?

[2021-02-01 14:10] dagar commented on #16716
It means all the expected data isn't getting all the way through to the ublox GPS driver. It's relatively harmless if you only see a couple per flight. If the errors are more persistent then I'd start by checking the wiring, then looking at the system configuration to see if there are other possibilities for data being dropped (priorities, buffers, etc).

[2021-02-01 14:20] deehat commented on #11222
@julianoes thank you. Yes the vibration is a hardware issue.

[2021-02-01 14:25] #16715 closed

[2021-02-01 14:31] dagar commented on #16677
Can you check your toolchain (arm-none-eabi-gcc) version? http://docs.px4.io/master/en/dev_setup/dev_env_linux_ubuntu.html

[2021-02-01 15:49] nbelanger99 commented on #16110
I've opened a PR: #16723 related to this issue

[2021-02-01 21:05] Pskoog3 opened #16725 "LSM9DS1 Accel/Gyro and Mag on RPi SPI"
I am trying to interface LSM9DS1 accel/gyro and mag on raspberry pi 3 SPI with accel/gyro CS connected to CE0 of RPi and mag on CE1. It seems only CE0 is responsive.

When accel/gyro CS is connected to CE0 and mag CS to CE1, only lsm9ds1 status is ok and lsm9ds1_mag status fails. Alternatively when mag CS is connected to CE0, lsm9ds1_mag status is fine but lsm9ds1 status fails for accel/gyro CS co

[2021-02-01 21:47] dagar commented on #16725
How is the SPI bus configured?

https://github.com/PX4/PX4-Autopilot/blob/0c74028976ef13697522bacbc6ac13effc898db3/boards/emlid/navio2/src/spi.cpp#L37-L44

[2021-02-02 05:50] Pskoog3 commented on #16725
I don't understand what the second argument number means in initSPIDevice? Can you please elaborate.

[2021-02-02 08:24] Jaeyoung-Lim commented on #15711
Fixed in #15849

[2021-02-02 08:24] #15711 closed

[2021-02-02 08:36] HarshilNaikk commented on #10517
@m1baldwin i am facing the exact same issue, but in gazebo SITL. I added a custom model, and was tuning the gains for the Roll and Pitch, but this always keeps messing things up. If this has been solved, any suggestions?

[2021-02-02 09:02] #15294 closed

[2021-02-02 09:24] LorenzMeier opened #16730 "FMUv5 hardware uORB test fails"
http://ci.px4.io:8080/blue/organizations/jenkins/PX4_misc%2FFirmware-hardware/detail/pr-v5x-fix/1/pipeline/1802

Not quite clear yet if this is test infrastructure or a hint at a real issue.

[2021-02-02 09:33] bresch commented on #16489
@cimbar I think the EV starting condition is not strict enough; for GPS and range finder aiding for example, we have more checks ensuring the fusion does not start on bad data.

[2021-02-02 09:42] bresch commented on #16489
@cimbar I'm closing this PR as the issue has been identified and opened a new one to fix it:
https://github.com/PX4/PX4-ECL/issues/970
I'll let you submit a PR with the required changes or comment suggestions in the new issue.

[2021-02-02 09:42] #16489 closed

[2021-02-02 10:07] chungchung21 opened #16731 "A mavlink log related to gps check PDOP is a bit confusing"
**Describe the bug**
Wiki says DOP(dilution of precision) is lower the better.
But the mavlink error message is "Preflight%s: GPS PDOP too low" in PreFlightCheck::ekf2Check L173 or so.

It seems gps check happens at Ekf::gps_is_good L160
[code]
If gps.pdop was 3, _params.req_pdop was 2.5, the gps check fails. In this case GPS PDOP was high.

**Expected behavior**
The mavlink message shows "Preflig

[2021-02-02 10:35] jkflying commented on #16730
It wasn't reproduced in the next run on master... looks like some flakiness in the timing of uorb subscriptions. @bkueng any ideas?

[2021-02-02 15:30] mrpollo commented on #16692
Thanks for reporting @ryanjAA

[2021-02-02 15:36] dagar commented on #16677
I believe this will be resolved if you use the same toolchain versions as the documentation. Please re-open if that's not correct.

[2021-02-02 15:36] #16677 closed

[2021-02-02 15:39] dagar commented on #16725
It's the Linux spidev numbering. PX4 SPI on Linux doesn't touch the chip selects directly, it simply interacts with /dev/spidevX.Y.

The first group (`initSPIBus(0,`) is the bus (/dev/spidev0), then each `initSPIDevice` entry is the chip select (/dev/spidev0.X). What that corresponds to physically usually comes from a device tree overlay.

[2021-02-02 17:30] Pskoog3 commented on #16725
Got it working... thanks. However, LSM9DS1 seems to be too sensitive and couldn't get the sensors calibrated! Might be the IMU itself is defective.

[2021-02-02 17:30] #16725 closed

[2021-02-02 18:01] bernhardpg commented on #15066
We experienced this on our BabyShark 260 VTOL a few days back. GPS position was lost, triggering the `condition_local_velocity_valid`, `condition_local_position_valid` and `condition_global_position_valid` flags, which in turn triggered the nav_state to be set to `NAVIGATION_STATE_AUTO_LANDGPSFAIL`, which gives the "fixed bank loiter" described here. As the vehicle was descending quite quickly, we

[2021-02-02 18:31] bernhardpg commented on #15066
Also, it seems that the altitude is set to 0 when this happens, as `reset_triplets()` is called by the navigator in `navigator_main.cpp` when the nav_state is changed to fixed bank loiter (`NAVIGATION_STATE_AUTO_LANDGPSFAIL`). Could it be that this is what is causing the motor to give zero thrust @julianoes ?

![image](https://user-images.githubusercontent.com/35483844/106643215-acdcab80-6589-11eb

[2021-02-02 18:51] benjinne opened #16735 "Dshot telemetry dropouts"
**Describe the bug**
On my Quadcopter running the latest PX4, each ESC telemetry reading periodically report zero when using the APD 120F3 ESCs.
The issue does not occur on my other quadcopter using Holybro Tekko32 ESCs. This is because the APD ESCs undergo a desync routine that periodically prevents the telemetry from updating (As what was described to me since I've been in contact with APD).

**

[2021-02-02 23:39] dagar commented on #16725
If you can capture a flight log from boot with the attempted calibration I'll take a look. The data would have to be extremely bad for calibration to not be possible.

[2021-02-03 00:49] acarrou commented on #14043
@dagar How do you add a parameter to start at boot?

[2021-02-03 04:39] #16586 closed

[2021-02-03 06:06] Pskoog3 commented on #16725
I was using MPU6500 before, and because of sudden change to LSM9DS1 perhaps, the system is unable to calibrate with new range and sensitivity... is that possible? If so, how can rest the onboard system as well as QGroundControl?

[2021-02-03 06:51] dagar commented on #16725
I could see it being a problem for the level calibration, but not for accel & gyro calibration. It might be obvious from a log. https://logs.px4.io/

[2021-02-03 07:49] Pskoog3 commented on #16725
Yes you are correct... accel and gyro calibration completes successfully, but too sensitive and level calibration is indeed a problem.
How can I do a clean accel, gyro and level calibration and reset the system?

[2021-02-03 08:00] bkueng commented on #16735
So what do you expect the autopilot to do instead? There is a checksum and when there's no response, it will mark the ESC as offline (and reset the voltage).

[2021-02-03 08:14] bkueng commented on #16730
This check depends on the CPU load of CI, and therefore will be flaky. We increased the threshold in the past, but to really resolve it we need to do it differently, e.g. use CPU runtime or a cycle counter.

[2021-02-03 09:45] DiegoHerrera1890 commented on #13799
Hello! I am facing the same issue. Is there an answer?

[2021-02-03 09:59] DiegoHerrera1890 commented on #8387
Hello guys. I am facing the same problem. I cannot change to OFFBOARD mode using the code @KochC posted
In my case, I am using T265 real-sense for VIO. I am not using GPS so until now the communication between
 TX2 -->Mavros-->Pixhawk4 is working well because I can see the Mavlink inspector in QGC. I can arm the vehicle using the CPP code posted above but I cannot take-off and I have seen that the

[2021-02-03 10:03] DiegoHerrera1890 commented on #8387
`<launch>

	<arg name="fcu_url" default="/dev/ttyACM0:57600" />
	<arg name="gcs_url" default="" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />
	<arg name="fcu_protocol" default="v2.0" />
	<arg name="respawn_mavros" default="false" />

	<include file="$(find mavros)/launch/node.launch">
		<arg name="pluginlists_yaml" v

[2021-02-03 10:05] DiegoHerrera1890 commented on #8387
`header:
  seq: 2542
  stamp:
    secs: 1517165870
    nsecs: 192120416
  frame_id: ''
status:
  -
    level: 0
    name: "mavros: FCU connection"
    message: "connected"
    hardware_id: "/dev/ttyTHS2:921600"
    values:
      -
        key: "Received packets:"
        value: "27135"
      -
        key: "Dropped packets:"
        value: "0"
      -
        key: "Buffer overruns:"
        value:

[2021-02-03 10:12] DiegoHerrera1890 commented on #8387
`OK. I got messages from 1:1.

---
Received 5163 messages, from 3 addresses
sys:comp   list of messages
 255:190   0
 51:68    109
  1:1     0, 1, 2, 4, 140, 141, 147, 24, 30, 31, 32, 36, 65, 74, 76, 77, 83, 230, 105, 111, 241, 245
`

[2021-02-03 11:07] dk7xe opened #16741 "Add InputRc to published rtps messages"
For some usecases like starting video recording on a companion computer or triggering a ROS based (offboard control) mission control execution the status of RC channel is needed in ROS(2). This allows the user to start/stop such functionalities from the RC transmitter.

Therefore `px4-firmware/msg/tools/uorb_rtps_message_ids.yaml` entry for `InputRc` to be changed accordingly.
`Set send: true`

Re

[2021-02-03 11:12] TSC21 commented on #16741
@dk7xe please feel free to open a PR :)

[2021-02-03 11:23] dk7xe commented on #16741
@96moustafa fyi

[2021-02-03 11:30] drtrigon commented on #16612
Ping? Anybody?

[2021-02-03 11:30] drtrigon commented on #16611
Ping? Anybody?

[2021-02-03 12:42] benjinne commented on #16735
APD told me the last valid value should be repeated

[2021-02-03 13:22] LorenzMeier commented on #16611
Thanks for reporting this. Unfortunately the combination of Windows (our main focus is Android these days) and a rarely used board (PX4Flow) is difficult. Do you have an Android tablet or a Mac / Linux machine at your disposal?

[2021-02-03 13:52] benjinne commented on #16735
Direct quote "the ESC's will forgo the telemetry response for a few cycles depending on the timing, and it prioritises motor control. The other FC stacks get around this by persisting the last value of the telemetry"

[2021-02-03 15:41] mrpollo opened #16745 "MAVSDK SITL CI tests timeouts"
I started seeing a few PRs getting stuck on CI, specifically on the MAVSDK tests for Tailsitter, its very common to see the error below

Happens on this test:
[code]

Output;
[code]

[2021-02-03 16:44] #15141 closed

[2021-02-03 16:47] LorenzMeier opened #16746 "Mid term: Test ground effect estimation and enable by default"
This new parameter allows to enable ground effect handling in land detection:

https://github.com/PX4/PX4-Autopilot/pull/16728/files#diff-420a85704f4369bcc9ebb06b8081fcc86b1d8795340f4a845a47eda3c502c498R99

[2021-02-03 16:53] mrpollo commented on #16501
Command-line warnings when building for an experimental board

[2021-02-03 16:59] mrpollo commented on #15629
We stress-tested with an I2C noise injector, couldn't reproduce and we haven't seen any more reports, we are closing the issue.

If you can share pictures and help us reproduce we can re-open and work with you to get this fixed.

[2021-02-03 16:59] #15629 closed

[2021-02-03 17:26] LorenzMeier opened #16747 "DRAFT: 1.12 Release Notes"
Main changes

* Safety switch disables to safety off as default

[2021-02-03 17:50] mrpollo commented on #16745
Here is one more fail on CI

https://github.com/PX4/PX4-Autopilot/pull/16723/checks?check_run_id=1815729601

[code]

[2021-02-03 19:32] LorenzMeier commented on #15347
We will change the safety button to be sticky (you will not be able to disable safety in the future via the button). The logic that is already present should cover the expected cases.

[2021-02-03 19:32] #15347 closed

[2021-02-04 01:06] hsilvaga commented on #13799
Not a solution but more of a workaround... I reverted the pixhawk firmware to version 1.10.0 and that seemed to fixed my issue.

[2021-02-04 01:37] Jaeyoung-Lim commented on #13799
@hsilvaga Looking at your log outputs such as
[code]
You don't have a valid position estimate. Therefore you cannot use position/velocity setpoints

[2021-02-04 05:29] MaEtUgR commented on #16001
Spektrum bind was covered by:
https://github.com/PX4/PX4-Autopilot/pull/16466
https://github.com/PX4/PX4-Autopilot/pull/16470
https://github.com/PX4/PX4-Autopilot/commit/0bdae5745aec4efb2a32e0967ae43ba0563852b3

[2021-02-04 08:05] bkueng commented on #16735
From the image it looks like you don't get any response at all (or do you just get packets with 0 values for voltage + current?). If so, how do you know the ESC didn't go offline?
Repeating stale data is just misleading and could cover real issues.

[2021-02-04 08:49] ali20480 commented on #13300
@robotastic how did you manage to get the PX4Flow working for even a short period of time with the FMUK66? I have tried everything I could but each time in altitude mode or in position mode it says: "no local positioning". But the sensors are running though (I checked them in MAVlink inspector). So each time the drone takes off, at some point it sais: "no local positioning" and comes down. Here is

[2021-02-04 09:20] #16731 closed

[2021-02-04 09:34] bresch commented on #16686
Did you set `SENS_EN_PX4FLOW` ?
Ref: https://github.com/PX4/PX4-Autopilot/issues/14043#issuecomment-579300002

[2021-02-04 12:46] benjinne commented on #16735
I am getting no response what seems randomly, and it seems to make sense according to APD. I agree repeating stale data is problematic. I sent APD this issue and we'll see their response.

[2021-02-04 15:44] sfuhrer commented on #14350
@mlaiacker I had a look. The reason it (first order hold climb) doesn't work with "Set Waypoints" is that in this case, the previous waypoint is invalid, and thus the altitude setpoint is immediately adjusted to the new waypoint altitude.
https://github.com/PX4/PX4-Autopilot/blob/f13c3a7d44c58f69c77f9e4f82cf3d6a41ec9551/src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp#L788

A similar thi

[2021-02-04 16:19] sfuhrer commented on #16643
@dagar If you confirm that:

is still your preferred way forward (it would be mine) then I can go ahead and make the changes required.

[2021-02-04 16:39] dagar commented on #16643
Yes, let's do it.

[2021-02-04 17:05] mlaiacker commented on #14350
Hi @sfuhrer,
I gave an example in the original issue description:

"This is dangerous when flying in mountains where it could be safe to fly in a 3D line to the selected waypoint but not go down as fast as possible."

This of-cause mostly apply to BVLOS missions over not flat terrain. For example you plan a longer mission up a slope and at some point you decide to abort the mission and go back to

[2021-02-04 18:57] acarrou commented on #16686
@bresch Yes, I did. I actually rolled back to 1.10.1 and it works on boot.

[2021-02-04 19:47] drtrigon commented on #16611
Linux as VM only on a win host - similar issues but works actually a bit better; virtually connecting and disconnecting the px4flow several times helps.
Today I gave it a try on android and this seems to work.

[2021-02-04 19:51] drtrigon commented on #16611
`rarely used board (PX4Flow)`
What is the today's solution for stabilization (not using GPS preferred)?

[2021-02-04 22:12] PLMR-FR opened #16759 "Body frame or NED frame for velocity in Odometry message ?"
Hi,

I am flying in indoor conditions without GPS. I have a vision system on the drone for positionning.

Previously I was using VISION_POSITION_ESTIMATE message and all was fine. I tried the ODOMETRY in order to feed also the velocity of my vision system to PX4 message and something is unclear for me about the frame used for velocity. According to the code below it should be in body frame `if (od

[2021-02-05 10:54] moreba1 opened #16760 "Reuse position when local position estimate provided again"
**Describe the bug**
when GPS fails in "no global position" and com_posctl_navl=0 drone start descends with baro information, but when local position come backed drone still don't use the position for Land and move with the wind in Land mode.
but when we change flight mode to position it can keep a fixed position.

**To Reproduce**
Steps to reproduce the behavior:
1. Use "make px4_sitl gazebo_stan

[2021-02-05 13:12] davids5 commented on #16672
The fix is in the testing stage see  https://github.com/PX4/PX4-Autopilot/pull/16762

[2021-02-05 14:30] bkueng opened #16763 "Regression: no RC when SYS_USE_IO=0 on Pixhawk 4"
Due to the IO module not running.
Reverting https://github.com/PX4/PX4-Autopilot/commit/d7b89ecc86a4a364f4fadf53c858fb92ac898874 fixes it.

@dagar can you have a look?

[2021-02-05 15:27] dagar commented on #16763
From the context I'm piecing together that I interpreted `SYS_USE_IO` differently than you. I'll look into undoing it.

In the pixhawk 4 case what about reading RC directly FMU side? I believe it's connected to both.

[2021-02-05 16:36] PLMR-FR commented on #16759
Ok it is body frame for linear velocities. I think my understanting of the comment in the code was the biggest problem ...

[2021-02-05 16:36] #16759 closed

[2021-02-05 19:29] YasinAl opened #16767 "Issues with: make px4_sitl jmavsim"
Hi,
When following the User guide, I keep having issues with the following command: make px4_sitl jmavsim or even DONT_RUN=1 make px4_sitl_default gazebo.
I understand that it says failed to import some stuff like toml or empy. These are installed by the script that was used to install everything. I even double checked and installed them again and the error persists.

Any ideas?

Quick notes:
Ubun

[2021-02-05 20:13] Jaeyoung-Lim commented on #16767
@YasinAl As you can see in the logs, you are missing a few python packages.

Please install them as instructed in the toolchain installation: http://docs.px4.io/master/en/dev_setup/dev_env_linux_ubuntu.html#development-environment-on-ubuntu-lts-debian-linux

[2021-02-05 20:43] YasinAl commented on #16767
@Jaeyoung-Lim They have been installed like I said in the original issue "I understand that it says failed to import some stuff like toml or empy. These are installed by the script that was used to install everything. I even double checked and installed them again and the error persists."

Any idea what the issue could be except for installing them? I have reinstalled pip and reinstalled the packa

[2021-02-05 23:17] antonio-sc66 commented on #16767
@YasinAl Since you're using Ubuntu 18.04 are you sure you installed the packages in Python3? Can you test if you can import them in a Python3 interpreter?

[2021-02-06 08:56] Jaeyoung-Lim commented on #16767
@YasinAl If your installations don't fix the issue, it means you have an issue with your python path and the issue is not related to this repository.

I see that you have put px4 inside your catkin workspace. Is there any chance that you have sourced the catkin workspace? If you are on ROS melodic, it will try to use python2 and break all the python paths that px4 is using.

On a side note, it is

[2021-02-06 10:16] YasinAl commented on #16767
Actually spot on. For some reason they are not imported even though my other Python3 libraries are working. I had to reinstall them all manually (this is like the fourth time) and then they were successfully imported into a Python3 interpreter and only then did the make command work. Really weird.

[2021-02-06 10:19] #16767 closed

[2021-02-06 10:19] YasinAl commented on #16767
Maybe that was that was the issue but after reinstalling the packages and importing them somewhere else, I could run the command successfully.

Ah thanks for the side note. I will move it now!

[2021-02-06 16:43] Pskoog3 commented on #16725
The log is available at the following link... was unable to upload to logs.px4.io
https://drive.google.com/file/d/1UAWU1LU9kpD4hHc-K8WDeF2FWpS83VWN/view?usp=sharing
Either the sensor itself is faulty or driver needs to be updated!

[2021-02-06 16:51] Pskoog3 opened #16772 "RPi3: LSM9DS1 Accel/Gyro and Mag Calibration Failed!"
Unable to calibrate accelerometer, gyro and magnetometer for LSM9DS1 connected to Raspberry Pi 3 SPI interface. The horizon level calibration also fails.

The log is available at the following link... was unable to upload to logs.px4.io
https://drive.google.com/file/d/1UAWU1LU9kpD4hHc-K8WDeF2FWpS83VWN/view?usp=sharing
Either the sensor itself is faulty or the driver needs to be updated!

[2021-02-06 17:26] dagar commented on #16772
Can you show the actual error messages? I don't see any in the log.

The z axis of the accel has a large offset, so the estimator probably isn't going to initialize until after the accel has a good calibration. The level horizon calibration depends on the attitude (vehicle_attitude publication), so it's not going to work until the estimator has initialized.

![Screenshot from 2021-02-06 12-24-58](

[2021-02-06 17:28] dagar commented on #16772
Your log file also shows what appears to be valid calibration data. Why do you think it failed? Can you share a screenshot of the errors?

[code]

[2021-02-06 21:37] sardanian opened #16775 "Unable to get missions to move Rover forward"
I am trying to get a rover to follow a mission plan. I have seens others are able to get this to work in SITL and recently with the changing of GND_THR_CRUISE. However I have been unsuccessful in getting the rover to move still.

I am using a Traxxas airframe and a custom mixer to allow for the rover to do reverse.

It was also mentioned in slack that changing the GND_THR_CRUISE with  sys_autostar

[2021-02-06 22:06] LorenzMeier commented on #16775
Thanks for reaching out! We're looking into this. @Jaeyoung-Lim FYI

[2021-02-06 22:55] Jaeyoung-Lim commented on #16775
@sardanian Since I can see that your `GND_THR_CRUISE` is set to 0.2, Can you confirm that your vehicle can move forward with throttle value at 0.2?

And yes, that will not run your custom mixer, but will use this one: https://github.com/PX4/PX4-Autopilot/blob/master/ROMFS/px4fmu_common/mixers/rover_generic.main.mix

[2021-02-06 23:37] sardanian commented on #16775
I can run it in manual mode at 20% throttle. However, in case it was an
issue I had previously tried values 10%, 20%, 30%, 40%, 50% all giving the
same results of no movement.

Thank you

On Sat, Feb 6, 2021 at 4:55 PM JaeyoungLim <notifications@github.com> wrote:

[2021-02-07 10:33] Reality2Ideal opened #16777 "the problem of "make px4fmu-v2_default""
When i begen to compile Firmware,the problem occured.

PX4 console:
`LX@LAPTOP-FH0SSNDV /g/px4/Firmware
$ make px4fmu-v2_default
Makefile:496: *** "Make target px4fmu-v2_default not found. It either does not exist or px4fmu-v2_default cannot be the first argument. Use 'make help|list_config_targets' to get a list of all possible [configuration] targets.".  Stop.`

Eclipse:
![image](https://user-im

[2021-02-07 10:40] TSC21 commented on #16777
It's `make px4_fmu-v2_default`

[2021-02-07 10:40] #16777 closed

[2021-02-07 10:56] Reality2Ideal commented on #16777
really?
PX4 console:
`$ make px4_fmu-v2_default
/bin/sh: cmake: command not found
rm: cannot remove directory `/g/px4/Firmware/build/px4_fmu-v2_default': Permission denied
make: *** [px4_fmu-v2_default] Error 1`
Eclipse:
`18:52:42 **** Build of configuration Default for project Firmware ****
make px4_fmu-v2_default
/bin/sh: cmake: command not found
rm: cannot remove directory `/g/px4/Firmware/buil

[2021-02-07 11:01] TSC21 commented on #16777
Yes. The above shows you clearly have some problems on your toolchain. I advise you too check the Getting Started guide: https://docs.px4.io/master/en/dev_setup/getting_started.html

[2021-02-07 11:12] Reality2Ideal commented on #16777
Thank you.I will have a look!

[2021-02-07 11:37] LorenzMeier commented on #16777
It looks like you might have run some commands with sudo, resulting in permission issues on your file system. You will want to delete these directories and make sure to not run sudo.

[2021-02-07 11:44] Reality2Ideal commented on #16777
I'm sure I didn't run commands with sudo,because I install it on Windows .

[2021-02-07 11:45] LorenzMeier commented on #16777
Ok - then it's a windows toolchain issue.

[2021-02-07 14:58] AllenHuangDongyue opened #16778 "Run the offboard mode under the optical track"
Hey guys,

I am using the optical track for the external location, and I want my drone to hover at a point by using the offboard mode. And I am using radio telemetry to send the mavros message.
However, when the drone arrived at the targeted position, it will keep rising.
Is there anyone who knows the reason?

Btw, I uploaded the log and changed its name into .txt.
Thank you!
Allen
[log_129_2021-2

[2021-02-07 23:23] LorenzMeier commented on #16763
I've reverted the change in 0c6cf6cb99914925cd09f0e991031b78654e6e3e - @dagar feel free to take a stab at re-doing it.

I'm currently looking into ALWAYS taking the RC from FMU on FMUv5 / FMUv5X / FMUv6X and will test that in a separate PR. This will further dumb-down IO and make it easier to maintain stuff.

Time for old cruft and old concepts to go!

[2021-02-08 00:10] LorenzMeier commented on #16763
Here is the change: https://github.com/PX4/PX4-Autopilot/pull/16780

[2021-02-08 13:55] davids5 commented on #16763
I think that will work on V5 but per @dagar input to the design VxX Series reused the UART6 as RC input to the FMU when the IO is not there. So it is not wired to both.

[2021-02-08 14:28] dagar opened #16787 "fixedwing runwaytakeoff (RWTO) broken"
Last working in CI here. https://github.com/PX4/PX4-Autopilot/pull/16564

@ryanjAA any details you could add?

[2021-02-08 14:36] ryanjAA commented on #16787
Current master seems to be taking off somewhere between trim and max speed. Also, the standard sitl plane seems to not listen to the take off pitch parameter (when set to a hard number or 0) and the qgc pitch number in the mission. It always goes above 20 deg and the moment it does it flips up to 90 deg. The only way to continue to the mission is to click on the takeoff waypoint or any other waypo

[2021-02-08 16:00] Hylke-Atmos commented on #4784
I'd like to reopen/revisit this issue!

I've noticed that both the VTOL_LAND as well as the VTOL_TAKOFF commands do not comply with the MavLink protocol.
They do not comply because;
- In the first place simply because if I'm sending a mission item with certain parameters to the vehicle I expect them to be returned when I request the mission list. Which is not the case, for example the "Approach al

[2021-02-08 16:45] Hylke-Atmos opened #16789 "MAV_CMD_NAV_VTOL_LAND: Approach Altitude not considered"
**Describe the bug**
The MAV_CMD_NAV_VTOL_LAND message has a field to specify the approach altitude (param3):
![image](https://user-images.githubusercontent.com/65388450/107248116-472d6b00-6a32-11eb-9589-d74d1ee79f51.png)

As far as I can say, this approach altitude is currently not considered during the upload, nor the landing procedures on the firmware side.

Since this parameter can be set from

[2021-02-08 17:48] int-smart opened #16790 "Thoneflow does not provide good estimates"
Hi
I have been using Thoneflow to interface the Thoneflow 3901UY optical camera with PX4. I have a Benewake TFMini Plus distance sensor attached to the setup. I am able to get the raw readings in the MavLink Inspector. However I am observing that the flow velocities from the camera are very small as compared to the vehicle_angular_velocity. The surface where the data is collected is a road (Thonef

[2021-02-08 17:52] Jaeyoung-Lim commented on #16775
@sardanian

I finally had time to test rover mission mode on my hardware, and mission mode works as intended on the vehicle.(using sys_autostart=50000). I was using latest master. Therefore I cannot reproduce your issue. Since https://github.com/PX4/PX4-Autopilot/pull/16297 is needed in case you have a take off waypoint at the beginning of your mission,  Can you verify which firmware version you a

[2021-02-08 21:18] sardanian commented on #16775
I have have tried the latest stable and master firmwares. I am unfortunately still unable to move in mission mode. Any other thoughts or things I can test out to narrow down the issue?

[2021-02-08 21:25] Jaeyoung-Lim commented on #16775
@sardanian Could you share the log of your trial with the master firmware?

What should be different with your previous log is that when entering mission mode, the actuator controls should be non-zero (assuming that you have set `GND_THR_CRUISE` larger than 0

If we can see this from your log, this means that something either related to your hardware or your mission is preventing the vehicle from

[2021-02-08 21:42] sardanian commented on #16775
Here is the log from today with the master firmware.

https://review.px4.io/plot_app?log=31781bbc-631e-42ff-83bf-4698b8e340f8

On Mon, Feb 8, 2021 at 3:25 PM JaeyoungLim <notifications@github.com> wrote:

[2021-02-08 22:55] wuruoyu opened #16795 "Potential division-by-zero in perf_counter.cpp"
**Describe the bug**
In function `perf_print_counter_fd(int, perf_counter_t)` from `/src/lib/perf/perf_counter.cpp`, if `pce->event_count == 1`, division-by-zero exception can happen in the statement `float rms = sqrtf(pce->M2 / (pce->event_count - 1));`, which appears 4 times (ln 470, 484, 520, 534 in v1.11.3). I think it is better to check if `pce->event_count - 1` can be zero.

**Reproduction**

[2021-02-08 23:14] Jaeyoung-Lim commented on #16775
@sardanian Your log shows that you were in mission mode for less than 1 second. Is this expected?

[2021-02-09 00:36] sardanian commented on #16775
Yes. I tried it and nothing happened. I can send another log, but same
results will happen. This was the last log I did, but I have a few others
with longer mission times if needed. All the same result of no movement
though.

Thank you

On Mon, Feb 8, 2021 at 5:15 PM JaeyoungLim <notifications@github.com> wrote:

[2021-02-09 07:46] Jaeyoung-Lim commented on #16775
@sardanian In order to verify your mission, have you tried running your mission in SITL?

[2021-02-09 08:32] bresch commented on #16790
For better optical flow debugging, you can log `estimato_optical_flow_vel` at full rate (change https://github.com/PX4/PX4-Autopilot/blob/9f00fd279629b5782f2831e17cdb6826e9dc0dcf/src/modules/logger/logged_topics.cpp#L143; set 200->0). This contains the pre-processed optical flow data and can be compared with estimated velocity and gyro data.

[2021-02-09 08:50] julianoes commented on #12503
@sfuhrer is this still up-to-date?

[2021-02-09 08:50] julianoes commented on #13413
@sfuhrer is still an issue?

[2021-02-09 08:51] julianoes commented on #13697
@sfuhrer is this still valid?

[2021-02-09 08:54] julianoes opened #16800 "Airspeed invalid in SITL integration tests"
When running the integration tests many times to iron out issues I ran into a case where `standard_vtol` refused to takeoff because airspeed was invalid.

For some reason airspeed is deemed invalid at around 3 seconds.
https://logs.px4.io/plot_app?log=471ed4a4-fbe4-4157-8b70-db11e6b8fe3f

FYI @sfuhrer.

[2021-02-09 09:00] Hylke-Atmos commented on #12660
@hamishwillee (and @sfuhrer) please do not close this ticket, since I personally see two problems here.

1. As (currently) stated in the documentation: "the heading to the next waypoint is used for the transition heading". This means if the next waypoint is "with the wind", the transition will not be done in the wind and might cause some funny (maybe even dangerous?) behavior (in particular when t

[2021-02-09 09:33] julianoes opened #16801 "Estimator divergence after landing with mag stuck"
The SITL integration test which simulates the mag being stuck sometimes fails because landing is not detected.

We see that the estimated vertical velocity `vehicle_local_position.vz` has an offset after landing which then causes the land detector to stay "in-air".

@priseborough @bresch I don't understand all of the mechanisms at play here that lead to this result and I would appreciate any point

[2021-02-09 10:14] sfuhrer commented on #13697
I would say no, if somebody disagrees please reopen.

[2021-02-09 10:14] #13697 closed

[2021-02-09 10:15] #13413 closed

[2021-02-09 10:19] sfuhrer commented on #12503
Kind of. But only relevant for non-default cases (multi airspeed, re-enabling a sensor after failure detected), so I would close this now as we anyway won't work on it soon.

[2021-02-09 10:19] #12503 closed

[2021-02-09 12:10] julianoes commented on #16800
It happened again:
https://logs.px4.io/plot_app?log=08c8d985-152d-4fc3-badd-b4ee93dd0d9d

This time I can confirm that the two checks `_innovations_check_failed` and `_load_factor_check_failed` did not fire and were always `false`!
https://github.com/PX4/PX4-Autopilot/blob/2772022785bc3f9d27d21acf2922773b33318146/src/lib/airspeed_validator/AirspeedValidator.cpp#L207

[2021-02-09 16:22] julianoes commented on #16800
It happened a third time. This time it was clearly the reset being called:
https://github.com/PX4/PX4-Autopilot/blob/ef444da68994ca33f338b2d60a49147eb4afaf25/src/lib/airspeed_validator/AirspeedValidator.cpp#L60-L65

[code]

[2021-02-09 20:49] farhangnaderi commented on #16611
@drtrigon What is your plan actually? There are some solutions such as MOCAP and VIO as well.

[2021-02-10 05:04] sardanian commented on #16775
I’ll try it out. I’m assuming I need to use my current GPS coordinates and
go THR same path. I haven’t changed the default SITL GPS but I assume there
is. If it’s easy, can you point me in a direction to alter that? If not,
I’ll search around.

On Tue, Feb 9, 2021 at 1:46 AM JaeyoungLim <notifications@github.com> wrote:

[2021-02-10 11:58] #16800 closed

[2021-02-10 13:55] drtrigon commented on #16611
We want to do mapping of radiation. For that we need a probe (drone) that flies to a position given by another system onboard and then hold this position as stable as possible.
MOCAP and VIO are both external systems - on what kind of hardware do they run. Can you give me info about an actual working and running setup?

[2021-02-10 16:45] coderkalyan opened #16813 "CUAV Nora mag calibration crash"
**Describe the bug**
On master, I am unable to calibrate the mag on CUAV Nora. Either during the calibration, or after it is done but before the values are saved, the autopilot reboots itself and I lose the calibration.

**To Reproduce**
Steps to reproduce the behavior:
1. CUAV Nora on master
2. Calibrate mag with QGC
4. See error

**Expected behavior**
The magnetometer should be calibrated correc

[2021-02-10 16:57] rblilja opened #16814 "GPS not working in Gazebo SITL when using Iris with additional sensor."
Problem:

GPS not working in Gazebo SITL when using Iris with additional sensor, such as e.g. the “iris_irlock” model.

Observations:

I have the same PX4 code on two Ubunto 20.04 machines, running Gazebo 11.2.0.1. The name of the GPS model in the “world” tab in the Gazebo GUI turns up differently:

Machine 1: iris_irlock::gps0
Machine 2: iris_irlock::iris::gps0

On machine 1 the GPS works both fo

[2021-02-10 17:03] jinger26 commented on #16790
@bys1123  can you comment?

[2021-02-10 17:06] jinger26 commented on #15312
Is this still an open issue? @dagar @Paul-DROTEK ?

[2021-02-10 17:14] sfuhrer commented on #14350
Thanks for the detailed explanations @mlaiacker . In general I think I agree with you that a 3D line also when changing WP is the better default state - I would though also say that when flying in hilly terrain, changing the execution order of the planned waypoints in general sounds quite dangerous, and I would rather recommend to fly manually/with "GoTo" and "Set Altitude" to the position where y

[2021-02-10 17:17] mrpollo commented on #16501
**TODO**
* Let's give manufacturers fair warning this is happening, and what it takes to fix it before we implement.
* Draft a clear and public timeline
* Let's make sure documentation, website, and source all agree on the same definition of board support status
* Let's add metadata that can help warn users when building for an experimental board
* Let's also add instructions on how to move from c

[2021-02-10 17:22] mrpollo commented on #16501
From @MaEtUgR what do we do with older boards that are supported but are on their way out like FMUv2 hardware?

[2021-02-10 17:24] mrpollo commented on #16501
From @davids5, maybe we should introduce LTS hardware, or specify the support window per hardware

[2021-02-10 18:29] LorenzMeier commented on #16813
When you say master, which specific commit was that? There was a recent fix for mag cal on master.

[2021-02-10 18:38] coderkalyan commented on #16813
@LorenzMeier d03d46b8a302152dafabfed9a8073aae13abbcee

[2021-02-10 18:39] coderkalyan commented on #16813
Oh, I see that ef444da68994ca33f338b2d60a49147eb4afaf25 was commited afterwards. Let me try this now.

[2021-02-10 18:46] coderkalyan commented on #16813
@LorenzMeier Still able to reproduce this on master ef444da68994ca33f338b2d60a49147eb4afaf25.

[2021-02-10 20:50] weiyuhe opened #16816 "Gazebo Real Time Factor gradually slow down?"
I was just running the sitl_gazebo simulation by doing: roslaunch px4 mavros_posix_sitl.launch
I also set the export PX4_SIM_SPEED_FACTOR=6 to speed up the simulation real time factor. However, I noticed the Real Time Factor in gazebo kept slowing down; In one hour, it slowed down from 5.9 to 2.2 and show no sign of stopping.

Here is what I got in the terminal:

[code]

[2021-02-11 05:31] julianoes opened #16817 "SITL integration test arming failure"
I've seen the case where arming is temporarily rejected and tone_alarm negative is printed but there is no information why it failed.

This happened in https://github.com/PX4/PX4-Autopilot/runs/1871257740 and the log file is https://logs.px4.io/plot_app?log=fb423508-e871-491f-a54d-9c12ca5cf55b.

I have not found a path yet through the preflight checks and arming logic that would give this result b

[2021-02-11 07:35] Jaeyoung-Lim commented on #16816
@weiyuhe I am wondering if this is related to a memory leak on the ROS side. Can you try without ROS?

[2021-02-11 10:25] drtrigon commented on #16612
Question: Might it help to update the pixhawks bootloader? Does that change or provide "drivers" or something similar?

[2021-02-11 12:43] drb-avis opened #16820 "Automatic px4 launch & kill"
Hi all! I am trying to write a code on python that automatically opens and closes px4. I managed to successfully open px4, using subprocess or os library. However, when the script kills the px4 process, the python process is also automatically killed. Does anybody knows a way to kill px4 from python without killing the python process itself?
I am using gazebo 11 and v.1.11.3 of px4, with ROS noeti

[2021-02-11 14:29] CarlOlsson opened #16823 "Use double precision for vehicle position in L1 position controller"
**Describe the bug**
The fact that we convert the current vehicle position to float precision in the fixed wing position controller results in a discretization error which leads to actuator jitter and roll oscillations

The bug will result in different things depending on if the vehicle is flying straight north/east or any other direction. If it is flying straight north/east there will be large st

[2021-02-11 14:43] dagar commented on #16823
I want to verify the cost on cortex m4 where we only have single precision floating point hardware, but let's go for it.

[2021-02-11 16:04] lukegluke opened #16825 "Question about several shells without UART console (possible issue in nshterm)"
I'd like to have nsh shell both on usb (/dev/ttyACM0) and mavlink shell, but without system console on UART.

While usb console works if CONFIG_CDCACM_CONSOLE=y, but mavlink shell stuck in calling nsh_consolemain for usb console and also starts conflicts with usb console fd.

Instead I'm using sercon + nshterm in init rcS script
[code]
It works if there is defined UART console (system console). Bu

[2021-02-11 17:24] lukegluke commented on #16825
Ouch, I forgot disable CONFIG_DEV_CONSOLE, so I came across exactly this
https://github.com/PX4/PX4-Autopilot/blob/176d932f23ac9e8909bfe5711cd65dae2d20119e/platforms/nuttx/src/px4/common/px4_init.cpp#L48-L54
...[again](https://github.com/apache/incubator-nuttx/issues/2203#issuecomment-721184265) :(
Sorry for bothering.

Still wonder about internal closing in dup2, but not the issue now.

[2021-02-11 17:24] #16825 closed

[2021-02-11 18:47] pjdewitte commented on #16601
I now think this should be addressed directly in the MultiRotorMixer. That way, also the motor slew rate will be taken into account, if enabled. The vtol_att_control module should send messages to the mixer to enable / disable individual motors.

That message would basically be what enum motor_state is now. What currently stands in the way, is that with motor_state.VALUE now a pwm value can be set

[2021-02-11 20:13] rotorman opened #16829 "px4iofirmware/controls.c RSSI averaging limits the result, averaging calculation flawed due to uint variables"
https://github.com/PX4/PX4-Autopilot/blob/5b44bd67bb37c91c0b15ceee70c873b8c0e28cfa/src/modules/px4iofirmware/controls.c#L239-L243

I will show the problem with the RSSI value averaging calculations using uints using an example of 12-bit ADC, as e.g. in Holybro Durandal, where this code is used in the I/O co-processor to sample analog RSSI.

With 12-bits, the max value from ADC is 4095 (0x0FFF) (as

[2021-02-11 22:24] #16775 closed

[2021-02-11 23:13] Jaeyoung-Lim commented on #16814
Fixed in https://github.com/PX4/PX4-SITL_gazebo/pull/708

[2021-02-11 23:16] TSC21 commented on #16814
Ah looks like this was reported before. Good it's now fixed

[2021-02-12 00:52] JacobCrabill commented on #16389
Just saw an update about this issue in the weekly ArduPilot forum digest; see here: https://discuss.ardupilot.org/t/plane-4-0-release/47188/434

[2021-02-12 01:46] sfuhrer commented on #16787
Current master seems completely broken. With https://github.com/PX4/PX4-Autopilot/pull/16792 though it's able to takeoff. Some findings still though:

It's wrong in my eyes that it doesn't consider FW_THR_MAX here, but always ramps up to 100% throttle --> should fix that.
![image](https://user-images.githubusercontent.com/26798987/107720453-aad9c180-6cda-11eb-895c-9b445287d4ae.png)

For some reaso

[2021-02-12 06:28] LorenzMeier commented on #16823
I remember that double was 8x float and float was 4x int for M4. So higher, but not a total crazy amount.

[2021-02-12 08:33] bresch commented on #16760
This PR (https://github.com/PX4/PX4-Autopilot/pull/16821), merged yesterday might have fixed this issue. Could you check again?
If not, could you also share a log?

[2021-02-12 10:29] Jaeyoung-Lim opened #16839 "Unable to start adis16448"
**Describe the bug**
The `aid16448` IMU driver is unable to start on a pixhawk4

**To Reproduce**
Steps to reproduce the behavior:
1. `Tools/mavlink_shell.py`
2. Start the driver

[code]

**Expected behavior**
IMU driver is started successfully.

**Log Files and Screenshots**
Starting the driver manually fails.
- I also tried starting the driver in `rc.board_sensors` and disabled all the other sen

[2021-02-12 10:50] moreba1 commented on #16760
This problem is not resolved.
log: https://review.px4.io/plot_app?log=c74f4326-de33-4730-809e-b8191ffa76c6

[2021-02-12 12:28] rblilja commented on #16814
I still have the same issue as originally described. Tested with a fresh clone of the PX4 repository.

I'm getting this error message (with VERBOSE_SIM=1):

 [Err] [Joint.cc:297] EXCEPTION: Couldn't Find Child Link[gps0::link]

So something is still going south with the GPS..

[2021-02-12 15:04] Jaeyoung-Lim commented on #16839
Update: I tried on one of the old PX4 releases that were used in the lab (something close to 1.9.0-beta), and seems to work without any problems, so not a hardware issue

[2021-02-12 20:46] Jaeyoung-Lim opened #16843 "Error with invalid parameters for rovers"
**Describe the bug**
Ever since https://github.com/PX4/PX4-Autopilot/pull/16796 was merged, I see the following error when running SITL
[code]
**To Reproduce**
Steps to reproduce the behavior:
[code]
This error message seems to be specific to rover

**Additional context**
Looks like @dagar you worked on  #16796 Any ideas what is causing this?

[2021-02-12 20:59] #16823 closed

[2021-02-12 21:06] LorenzMeier commented on #16843
Doesn't show for me - I will retry with a clean build:

[code]

[2021-02-12 21:10] dagar commented on #16843
It's an uninitialized param handle that was failing silently before. Only the error message is new. I'll track it down.

https://github.com/PX4/PX4-Autopilot/blob/1981519aad6c342ff1e869b1bcf356c131bf46dd/src/lib/parameters/parameters.cpp#L504-L507

[2021-02-12 23:34] #16843 closed

[2021-02-13 01:59] teyrana commented on #16620
I'm also interested in this -- the pinouts seems to match.  I'm using:
- Transmitter: Spektrum DX6e
- Reciever Spektrum 4651t
- holybro Pixhawk 4 flight board

[2021-02-13 02:01] teyrana commented on #16620
@kekiefer Was working on the first issue (#8650) . . .
Can we get anyone on the team to chime in on whether this is a good idea for anyone else to pick up and run with?

[2021-02-13 03:33] kekiefer commented on #16620
Oh yeah I forgot all about this... I got pretty far but then ran out of steam. Communication worked and I had some basic telemetry working going back, it was mostly a matter of cleaning stuff up to make it presentable for submission. If someone is interested in bringing life back into this, I can send my patches, but they're likely to be very stale at this point.

[2021-02-13 20:50] teyrana commented on #16620
Yea, if you upload a branch (or I could email you) I'll take a look and give it a try :)

[2021-02-13 21:43] kekiefer commented on #16620
I had three branches locally that I don't think were ever completed. I forget what the rssi branches were for, but they were likely prerequisite for the main changes on pr-spektrum-telemetry (bulk that that includes srxl support). I apologize for the archaeological expedition I've sent you on, but here is it all is:

https://github.com/kekiefer/Firmware/tree/pr-spektrum-rssi
https://github.com/kek

[2021-02-13 21:54] LorenzMeier commented on #16620
I just completed a test setup today for this, so also interested.

[2021-02-13 22:06] kristianmk commented on #16620
Nice. I can also help out with the testing part.

Do you prefer an implementation using the Spektrum repo as a git submodule, or an independent implementation? (Is the license ok for your project?)

[2021-02-13 22:29] LorenzMeier commented on #16620
I quickly looked at the code and it looks generally good. The Spektrum code is pretty complex and I would much prefer to work off the commits shared here than trying to pull the Spektrum implementation in.

[2021-02-14 00:52] djy4 commented on #13765
Nope, still a problem. Downloaded the latest master and tried uploading with the same error.

In Linux environment,  after building firmware sucessfully
make px4_fmu-v3_default upload

WARNING: Firmware not suitable for this board (Firmware board_type=140 board_id = 9)

[2021-02-14 01:28] korkeep opened #16850 "Hardware Security of PX4"
Hi 😀

I am working on my project of ensuring the **hardware security** of the Flight Controller.
I am planning to use Infinion make **[Trusted Platform Modules (TPM)](https://www.infineon.com/cms/en/product/security-smart-card-solutions/optiga-embedded-security-solutions/optiga-tpm/)** to ensure hardware integrity of Pixhawk Cube.

TPM modules are used in an IOT environment for hardware security,

[2021-02-14 01:35] JacobCrabill commented on #13765
`fmu-v3` is the build target for the Black Cube (and related variants).  Use the Orange Cube build target (`cubepilot_cubeorange`)

[2021-02-14 02:08] mzahana commented on #8472
@dagar @diegoeck  @TSC21 @hamishwillee any updates on this?

I did a script for offline tuning a year ago (https://github.com/mzahana/px4_pid_tuner ), but have not really tested it thoroughly.

I was wondering if anyone else made any progress on this.
Cheers.

[2021-02-14 02:16] djy4 commented on #13765
makes sense however the command:
make px4_cubepilot_cubeorange_default

gives the following: "Make target px4_cubepilot_cubeorange not found."

I am just getting started with PX4 so I probably have missed a step somewhere...I just don't know where. the documentation seems pretty straight forward:
http://docs.px4.io/master/en/dev_setup/building_px4.html

[2021-02-14 09:35] F-LAB-Systems commented on #4685
[Err] [ConnectionManager.cc:109] Failed to connect to master in 30 seconds.
[Err] [gazebo_shared.cc:77] Unable to initialize transport.
[Err] [gazebo_client.cc:56] Unable to setup Gazebo

I have this  issue, what to do

[2021-02-14 10:27] Jaeyoung-Lim commented on #4685
@F-LAB-Systems Please post a new issue, this issue is not relevant anymore

[2021-02-14 12:27] Simpleman220 opened #16852 "holybro kakute f7 ,barometer and compass are not work"
board:
holybro kakute f7 v1.5

px4 version:
1.11.3 stable

qgc version:
v4.1.1

I flashed px4 firmware to kakute f7 board followed this tutorial:
https://docs.px4.io/master/en/flight_controller/kakutef7.html

There has no altitude display on qgc:
![微信图片_20210213234839](https://user-images.githubusercontent.com/58114529/107876624-ffab5100-6f01-11eb-9c20-e028404cff88.jpg)

And the altitude is unusua

[2021-02-14 15:26] moreba1 opened #16853 "Airspeed sensor detection porblem with pixhawk cube [in master version]"
Pixhawk cube can not detect drotek airspeed sensor in the master version.
also, airspeed_use and airspeed_check parameters are disabled and when i enabled them with restart these parameters are disabled again.

[2021-02-14 17:18] Jaeyoung-Lim commented on #16839
Disabling the CRC check seems to bypass the issue. Looking into what could have gone wrong with the CRC checks

[2021-02-14 19:38] teyrana commented on #16620
@LorenzMeier

Ahhh, would you please clarify?  Do you mean you have some hardware you'd want to verify the patch against?
Or a software setup?

[2021-02-14 23:04] teyrana commented on #16620
@kekeifer
Hey, I've started look at that third branch (`pr-spektrum-telemetry`) and I have a few questions -- nothing crazy, but just some clarifications that would help me...

1. Quite a few of the rebase conflicts involve a `board_supports_single_wire(RC_UXART_BASE)` function (macro?)   But I'm not seeing a definition for that.   Do you remember where I should be looking?
( Is this just referrin

[2021-02-14 23:32] kekiefer commented on #16620
@teyrana the `board_supports_single_wire` was defined in `src/drivers/boards/common/board_common.h` as
[code]

`px4fmu-v5` (which is what I was working with) simply returned true if the `uxart_base` was `RC_UXART_BASE`.

And yes, this is to use the half-duplex UART. When singlewire mode is enabled, the serial port was configured with `ioctl(fd, TIOCSSINGLEWIRE, SER_SINGLEWIRE_ENABLED)` when `TIOCS

[2021-02-15 10:34] bresch commented on #16760
@moreba1 In your log, the drone lands with the XY position controlled in land mode; what's not working? Is it because it takes some time to control the position after GPS is regained?
![DeepinScreenshot_select-area_20210215113226](https://user-images.githubusercontent.com/14822839/107935303-818e8f00-6f81-11eb-9023-341f30d00ac6.png)

[2021-02-15 10:45] moreba1 commented on #16760
@bresch
after GPS is regained drone is in descent mode still and doesn't control position, but when I change the mode to Position it controls the position.
my expected behavior is that when GPS is regained automatically flight mode changed from descent to Land.

[2021-02-15 11:29] LorenzMeier commented on #16620
I have the hardware setup to test, but I don't realistically have time on the HW front.

[2021-02-15 15:29] MaEtUgR commented on #16760
That totally makes sense. Let me check why that failed.

[2021-02-15 15:58] ecmnet opened #16858 "EKF2 source Vision with RangeFinder does not work as expected"
**Describe the bug**
Using odometry as the primary height source in EKF2 and setting PositionControl to 'Terrain following' for Indoor-Use works absolutely as expected. However, using vision data is not as reliable as a LIDAR for height estimation. In the case of vision failure, EKF2 falls back to baro estimation. To avoid this, I would like to use LIDAR for height estimation and - as a fallback -

[2021-02-15 16:54] dagar commented on #16853
I'll verify what's going on here before we cut v1.12.

Did you try both i2c ports?

[2021-02-15 17:11] teyrana commented on #16620
@kekiefer
oooph.  Uhhh, that explains it -- `master` no longer has that path.   (it looks like it was moved, possibly to `boards/...` but it doesn't have seem to have the same layout.  I guess the analogous path is `https://github.com/PX4/PX4-Autopilot/tree/master/boards/px4/fmu-v5` ? )
Anyway, this may take me a while to figure out.

@LorenzMeier  Ah.  Thank you for clarifying.

I'll post my prog

[2021-02-15 17:23] kekiefer commented on #16620
Since you really require singlewire for this to work, it's not really any better to check the board first, you can just try and fail later if it doesn't work when you try to set it up. This is what frsky does in `set_uart_single_wire`.

[2021-02-15 17:35] mrpollo commented on #16745
One more timeout CI failure

https://github.com/PX4/PX4-Autopilot/pull/16695/checks?check_run_id=1827591700

[code]

[2021-02-15 17:40] mrpollo opened #16859 "CI SITL MAVROS Tests Segmentation fault"
I have been seen regular failures on MAVROS SITL tests similar to MAVSDK Tailsistter Timeouts on #16745

Here are the output and link to the latest I found.

https://github.com/PX4/PX4-Autopilot/pull/16695/checks?check_run_id=1827591580

[code]

[2021-02-15 18:32] mrpollo commented on #16745
Here's another CI timeout on a MAVSDK test, this one is on multicopter

https://github.com/PX4/PX4-Autopilot/pull/16255/checks?check_run_id=1438461543

[code]

[2021-02-15 19:10] mrpollo commented on #16850
@korkeep I might be misunderstanding what you are trying to achieve here, but it looks like you are trying to work with the Cube pilots, you need to talk to the manufacturer of the Cube to get support, please try their forums https://discuss.cubepilot.org

[2021-02-15 19:10] #16850 closed

[2021-02-15 19:15] mrpollo commented on #16745
@julianoes I thought you might be interested in these, I don't know how to proceed here, my only guess is that the GH Containers have some sort of constraining that we seem to be randomly hitting.

[2021-02-15 19:25] mrpollo commented on #16745
One more timeout

https://github.com/PX4/PX4-Autopilot/runs/1905699580?check_suite_focus=true
[code]

[2021-02-15 19:53] LorenzMeier commented on #16850
The FMUv5X and FMUv6X autopilot standards have a secure element by NXP - happy to look into that if you are interested. You can reach me on lorenz@px4.io

[2021-02-15 20:24] BazookaJoe1900 opened #16860 "public_regulated_data_types uses commit is on detached head"
**Describe the bug**
as referred here:
https://github.com/UAVCAN/public_regulated_data_types/issues/107

the commit 81526eb is used on PX4 community, but its on non-branch commit (a detached head).
81526eb

this is not a good practice, and leads errors on some git clients for some reason.
is it possible to set a branch on that commit?

and answered by @pavel-kirienko the commit PX4 use is **recipe

[2021-02-15 20:51] ecmnet commented on #16858
Related to https://github.com/PX4/PX4-Autopilot/issues/16526#issue-782676365

[2021-02-16 00:02] korkeep commented on #16850
@mrpollo @LorenzMeier

Thank you for checking :)
As this is my first opensource project, I will do my best👍

[2021-02-16 07:49] julianoes commented on #16745
@mrpollo thanks, I"m working through these in https://github.com/PX4/PX4-Autopilot/pull/16840

[2021-02-16 07:53] LorenzMeier commented on #16850
@korkeep Could you drop me an email on lorenz@px4.io? I'd like to send you further material.

[2021-02-16 08:10] moreba1 commented on #16853
I tested with i2c2 port.

[2021-02-16 08:46] mrpollo commented on #16850
Thanks for reaching out @korkeep you are welcome on this community, let's follow up via email, let's figure out if we can help you.

[2021-02-16 08:51] saengphet commented on #16839
Hi @Jaeyoung-Lim , I now use the adis16470 with firmware 1.9.XX (not sure) and it works well. I plan to upgrade firmware to the current stable version. Do you think the same problem will occur or not with adis16470?

[2021-02-16 09:02] korkeep commented on #16850
@LorenzMeier @mrpollo
I really appreciate for your guidance.

If I can contribute for this fascinating project,
It will be a great honor for me.

Are there any things I need to prepare to participate on this project?

Here is my small resume :)
+ PX4-MalSW: https://github.com/korkeep/PX4-MalSW
+ Github: https://github.com/korkeep

Please take care of your health.
Thank you sincerely 😀

[2021-02-16 09:25] Jaeyoung-Lim commented on #16839
@saengphet I don't think the two IMUs are related, so hard to tell. Moreover, this issue has been fixed by https://github.com/PX4/PX4-Autopilot/pull/16855

[2021-02-16 09:29] LorenzMeier commented on #16839
Fixed.

[2021-02-16 09:29] #16839 closed

[2021-02-16 10:01] bresch commented on #16801
During a debugging session with @priseborough , we found that the issue is the following:

The mag is correctly rejected in air, however, as soon as the drone touches down, the landed flag is set and that switches the EKF in "landed mode" (`in_air` == `false`). When not `in_air`, the EKF fuses the mag heading with a limited innovation even if the test is failing, because that could be due to an in

[2021-02-16 10:34] bresch commented on #16858
@ecmnet Could you provide a log showing that terrain following problem? We should then be able to see where the missing piece is. What makes you think that "Terrain hold" mode is interfering?

[2021-02-16 10:47] LorenzMeier commented on #16801
What is the follow up action here?

[2021-02-16 12:17] bresch commented on #16801
I'll add a delay

[2021-02-16 13:38] rblilja opened #16865 "External message definitions not recognised by RTPS interface."
Description:

Building firmware with "out-of-tree" module and messages fails if aforementioned messages are added to msg/tools/uorb_rtps_message_ids.yaml for inclusion with the RTPS interface.

Steps:

Following this guide, adding both module and messages: https://docs.px4.io/master/en/advanced/out_of_tree_modules.html

It seems that the uORB micro-CDR does not pick up the new messages, when they

[2021-02-16 13:54] TSC21 commented on #16865
This is really a specific case and it can be extended, but it's not the highest priority. If you currently are interested in using the bridge in your own module, consider adding the msg to /msg and add your module to /src/modules.

Currently no.

https://github.com/PX4/PX4-Autopilot/blob/master/msg/tools/uorb_rtps_classifier.py#L52. But you seem to be using an older version (the limit was 149 befo

[2021-02-16 15:03] hydra commented on #16043
As this hasn't been addressed yet I've provided an interim solution for SPRacingH7EXTREME customers.

Pre-padded binary files can be downloaded here:

https://github.com/spracing/px4_firmware/releases

https://github.com/spracing/px4_firmware/releases/tag/v1.11.3

If the version you need isn't available you can use this how-to to make one.

https://github.com/spracing/ssbl/wiki/HOWTO-Extract-a-bin

[2021-02-16 15:59] rblilja commented on #16865
Understood. Thanks for the swift reply!

[2021-02-16 15:59] #16865 closed

[2021-02-16 19:45] poripsa opened #16868 "local_planner populates distance message using LOCAL_NED transform in mavros/obstacle/send"
The distance message values move quadrants with respect to compass north. I need a way to change the frame to BODY_FRD so it stays consistent with drone body.

[2021-02-17 08:14] jkflying commented on #16868
This is something you would need to do in MAVROS, not PX4. If you use the MAVLink libraries directly this is already possible.

[2021-02-17 08:14] #16868 closed

[2021-02-17 09:56] bkueng opened #16873 "non-default SENS_BOARD_ROT broken"
Setting a non-default board orientation (e.g. `param set SENS_BOARD_ROT 8`) does not work on current master, the attitude and accel data is not rotated (e.g. on Pixhawk 4).

I haven't looked into it any further, but it must have been somewhat recent.

Noticed by @dk7xe

[2021-02-17 12:35] ecmnet commented on #16858
I doubt that any log would help here, as this is a more theoretical consideration. However, I did some more tests. As mentioned above the primary height source is vision. If odometer publishing stops (e.g. while resetting), LPOS-Z estimation does not fall back to Lidar although it is available. I assume, that in that case Z estimation falls back to baro. I try to solve that by sending dummy-odomet

[2021-02-17 14:17] dagar commented on #16858
I believe EKF2 range aid working with vision height source would come pretty close in feeling some of this.

I'm actually not sure what you're referring to here.

[2021-02-17 16:23] lukegluke opened #16877 "Mavlink: memory leak if already running or bad args"
Mavlink instance is allocated here
https://github.com/PX4/PX4-Autopilot/blob/6bbb2faf8a0a67fc34fb15d616a97a281d6febab/src/modules/mavlink/mavlink_main.cpp#L2685

than task_main() of this instance [is called](https://github.com/PX4/PX4-Autopilot/blob/6bbb2faf8a0a67fc34fb15d616a97a281d6febab/src/modules/mavlink/mavlink_main.cpp#L2697), where instance is appended to _mavlink_instances so it can be no

[2021-02-17 16:24] lukegluke commented on #16877
Hi @dagar,
I suppose it could be fixed within your https://github.com/PX4/PX4-Autopilot/pull/16180

[2021-02-17 18:39] dagar commented on #16877
@lukegluke can you try https://github.com/PX4/PX4-Autopilot/pull/16830?

[2021-02-17 18:59] lukegluke commented on #16877
I don't see any significant difference regarding to the issue.
Mavlink still allocated here
https://github.com/PX4/PX4-Autopilot/blob/a9ef92b55e369b397aa39a4ab0579b16654b797a/src/modules/mavlink/mavlink_main.cpp#L2608
and get into mavlink_module_instances now in set_instance_id()
https://github.com/PX4/PX4-Autopilot/blob/a9ef92b55e369b397aa39a4ab0579b16654b797a/src/modules/mavlink/mavlink_main.cpp

[2021-02-17 19:29] dagar commented on #16877
Thanks for checking, let's get it fixed.

[2021-02-17 21:06] Jaeyoung-Lim commented on #10221
This should have been fixed in https://github.com/PX4/PX4-Autopilot/pull/16847

[2021-02-17 21:06] #10221 closed

[2021-02-18 09:09] mengchaoheng opened #16883 "make px4_fmu-v5 upload to CUAV nano error"
**Describe the bug**
The master branch starts from 318c7e83b33713e2080db27391636cff5ba51a24, upload error on CUAV nano, pwm output is abnormal, and the channel that should output 0 before the safety switch is output 900.

**To Reproduce**
Steps to reproduce the behavior:
1. make distclean && git checkout 318c7e83b33713e2080db27391636cff5ba51a24
2. git submodule update --init --recursive && make px

[2021-02-18 09:11] #16801 closed

[2021-02-18 09:21] mengchaoheng commented on #16883
@Daniel Agar
Do you know the reason？

[2021-02-18 16:42] dallinbriggs commented on #16659
After a lot of trial and error, I found that I was having intermittent motor desync issues with random motors. This looks to be the cause of the crash. I still need to investigate though, if the values in actuator_controls_0 really can be non-normalized.

[2021-02-18 18:15] dagar commented on #16883
The default disarm value is wrong, I'm looking for a system wide fix.

[2021-02-18 18:29] dagar commented on #16873
It seems to be working for me. @dk7xe what are you seeing exactly?

### Master SENS_BOARD_ROT 0
[code]

### Master SENS_BOARD_ROT 24 (pitch 90)
[code]

[2021-02-18 19:07] dk7xe commented on #16873
@dagar please see https://logs.px4.io/plot_app?log=37b3d8d8-117e-4ac9-922d-479a6923f9b3

[2021-02-18 22:14] int-smart opened #16890 "Feasibility of Turtle Mode"
**Describe problem solved by the proposed feature**
Is it possible to get turtle mode functionality (similar to betaflight) in PX4. This functionality is highly desirable in cases where you crash at places like roofs.

**Describe your preferred solution**
Reverse the motor direction in this mode and enable two of the motors to spin according to direction in which you want to flip.
PX4 does support

[2021-02-18 23:19] dk7xe commented on #16873
@dagar to answe your question. Horizon in QGC is upside down. Compasd calibration detects wrong orientation. Remaining sensor calibration fails.

[2021-02-18 23:39] dagar commented on #16890
Yes with DSHOT it's easy to command reverse.

https://github.com/PX4/PX4-Autopilot/blob/5dc5ebc0a1f5d9cc03b094d2fba24497b1661b72/src/drivers/drv_pwm_output.h#L282-L283

Then next you'd need to implement the basic logic to read from `manual_control_setpoint` and send whatever's appropriate directly to the mixer (actuator_controls_0).

[2021-02-19 13:40] bkueng opened #16894 "SBUS might wrongly get parsed as DSM for the first few frames"
Since 95dd2f7e8dfca, it's possible that initially SBUS input on the IO gets parsed as DSM, until SBUS locks.

This is the parsed channels I see:
[code]

To reproduce:
- v5x, connect SBUS out to SBUS in
- SYS_AUTOSTART = 8001
- toggle `PWM_SBUS_MODE` and look at the data, it happens fairly quickly (~30%)

I don't have a Spektrum receiver that I could test DSM changes.

[2021-02-19 14:07] VarunBurde opened #16896 "px4flow doesnt work when connected to pixhawk and powered using battery and telemetry"
Hello,

I am having detection issues with the px4flow optical flow sensor when powered via battery.  When pixhawk 4 is powered with battery and connect computer using telemetry radio (px4flow is connected to pixhawk with i2c A )there is no OPTICAL_FLOW_RAD (mavlink messages) published. But when (px4flow sensor is connected to pixhawk 4 via i2c A) and pixhawk is connected to computer via USB cable

[2021-02-19 14:18] dagar commented on #16894
We'll have to be careful here. The previous rounds of attempted DSM parser improvements resulted in increased robustness for certain Spectrum setups and complete breakage for others.

Maybe we can simply raise the bar requiring it to successfully decode quite a few more packets continuously before locking.

[2021-02-19 14:22] dagar commented on #16894
We could bump this. https://github.com/PX4/PX4-Autopilot/blob/c863d6a346631d728b3438967f239053f0b2b7ce/src/lib/rc/dsm.cpp#L286-L289

[2021-02-19 16:28] ecmnet commented on #16858
@dagar Just tested the combination range-aid with vision as primary height source (manually moving the vehicle). As soon as I switch off vision data, local-pos-Z is purely relying on acceleration data:

![image](https://user-images.githubusercontent.com/7580193/108532005-a1061e80-72d7-11eb-8343-86ccf3023a2a.png)

Not sure, whether this worked earlier as I saw in old logs Lidar being the primary he

[2021-02-19 19:38] dagar commented on #16858
Sorry, I should have been explicit, EKF2 range aid doesn't currently work with vision height source.

It's potential a relatively easy piece to fill in if you're able to test and review. https://github.com/PX4/PX4-ECL/blob/164e53bad39e722f4751c754517ef2b5c4488b3a/EKF/control.cpp#L1054-L1074

https://github.com/PX4/PX4-ECL/pull/648

[2021-02-19 20:18] ecmnet commented on #16858
@dagar I‘ll give this a try within the next days

[2021-02-19 22:02] rblilja commented on #16814
I have tested this further. Cloned a new repo. Upgraded to gazebo 11.3.0.1.

Gazebo now reports the same error (as previously described), and the same joint name structure appears in the model list. But now the GPS works.

Don’t know if this issue shall be considered closed.

[2021-02-20 03:54] gitfishup opened #16899 "sorry, unimplemented: non-trivial designated initializers not supported"
**Describe the bug**
After git pull newest source code , I use "make cuav_can-gps-v1" to compile and there was an error in UavcanNode.cpp .
![image](https://user-images.githubusercontent.com/69180601/108583030-f0009200-7371-11eb-83f3-67a3cae71bd3.png)

![image](https://user-images.githubusercontent.com/69180601/108583106-5f768180-7372-11eb-9f24-bbc2b24a2bc3.png)

![image](https://user-images.githu

[2021-02-20 05:19] AlexKlimaj commented on #16899
See https://github.com/PX4/PX4-Autopilot/pull/16900

[2021-02-20 05:28] gitfishup commented on #16899
Thanks a lot!

[2021-02-20 05:28] #16899 closed

[2021-02-20 09:26] UASOP commented on #14947
Has adaptive quachute been tested before with working desired responses in previous firmware versions?

[2021-02-20 11:30] F-LAB-Systems opened #16901 "Waiting for simulator to accept connection on TCP port 4560"
[code]

facing issue with the connection on TCP port, Please help !!

[2021-02-20 11:38] davids5 commented on #16899
Thanks Alex!

[2021-02-20 17:16] teyrana commented on #16620
@kekiefer

Okay, I'll give that a try.  I don't suppose there's another driver I could use as an example, is there?

---

Still working on learning the code base -- particularly how board-specific hardware is defined.   Please bear with me :/

WIP Branch is at:
https://github.com/teyrana/PX4-Autopilot/tree/pr-spektrum-telemetry

[2021-02-20 18:15] #16643 closed

[2021-02-20 18:36] LorenzMeier commented on #16620
The right example module is this one: https://github.com/PX4/PX4-Autopilot/tree/master/src/drivers/rc_input

You can see that two other telemetry systems have already been implemented. It also references this DSM parser implementation: https://github.com/PX4/PX4-Autopilot/tree/master/src/lib/rc

[2021-02-21 01:00] teyrana commented on #16620
okay, so this is getting weird.

the `rc_input` folder defines a module  (i.e. cmake -> `px4_add_module(...`)
AND the `frsky_telemetry` folder defines a module ( in the same way as `rc_input`)
I'm assuming `spektrum telemetry` folder ought to define module as well?

And if I understand the px4 architecture correctly,  the above modules [are essentially processes] (https://docs.px4.io/master/en/mod

[2021-02-21 14:02] lukegluke opened #16904 "logger: confusing/wrong description of SDLOG_PROFILE parameter"
Default value is 1, that is the "Default set" (only bit 0 is set) and this **doesn't** allow estimator replay!
https://github.com/PX4/PX4-Autopilot/blob/414f9f81d93ce48a19092bb73139db7ad333fe8a/src/modules/logger/params.c#L110-L112

[2021-02-21 15:49] ecmnet commented on #16858
@dagar: Does it make sense to allow this kind of range fallback only if the RangeAidFlag is set?

[2021-02-21 19:21] dagar commented on #16904
Do you mean checking "Estimator replay (EKF2)" doesn't work without also having "Default set" checked?

[2021-02-21 19:23] dagar commented on #16896
With current firmware can you do some additional debugging with the console (over mavlink or real serial console)?

[code]

[2021-02-21 19:25] lukegluke commented on #16904
I mean that looking at phrase "The default allows for general log analysis and estimator replay", without checking meaning of particular bits, one can decide that default value 1 will be enough for further estimator replay.

[2021-02-21 22:30] brad112358 commented on #10618
I've submitted a pull request which should fix the parameter download portion of this issue.  [#16910](https://github.com/PX4/PX4-Autopilot/pull/16910)

[2021-02-22 00:47] dagar commented on #16904
Oh I see what you mean. We used to have estimator replay checked by default as well.

[2021-02-22 00:51] dagar commented on #16904
https://github.com/PX4/PX4-Autopilot/pull/16912

[2021-02-22 01:27] teyrana commented on #16620
@kekiefer

I noticed there's multiple reference locations for the dsm parsers... is there a particular reason not to merge this patch with the existing `spektrum_rc` module?

[2021-02-22 05:04] ecmnet commented on #16858
Doing a `resetHeight()` only, if the previous state was not rng_hgt solves the settling-in issue:

`if (!_control_status.flags.ev_hgt && isRecent(_time_last_ext_vision, 2 * EV_MAX_INTERVAL)) {
			fuse_height = true;
			setControlEVHeight();
			if (!_control_status_prev.flags.rng_hgt) {
			 resetHeight();
			}
			ECL_INFO("Height mode switched to ev");`

Flow scaling also works with this solution.