[2016-12-30 11:53] LorenzMeier commented on #6220
<img width="717" alt="screen shot 2016-12-30 at 12 51 57" src="https://cloud.githubusercontent.com/assets/1208119/21564513/c8ed88bc-ce8e-11e6-8cde-4faafc42a3ca.png">

If you correlate it with the yaw plot it becomes obvious that there is a missing transformation from inertial to body here. And it is interesting that the yaw angle tracking seems to be off but that's probably not what happened. This

[2016-12-30 16:30] vvranjek commented on #6216
Wow, this is super useful info, I can't thank you enough for it. I know I had some estimator issues and I solved it by recalibrating the sensors, but I am not sure which flights were made with bad calibrations. But I had no idea about the magnetometer, makes sense since I do have power cables very close to sensors/electronics. Thanks for pointing it out.

I guess I will start using ulog. Are there

[2016-12-30 16:38] kd0aij commented on #6216
@vvranjek Documentation for the new web-based "Flight Review" is  here: http://dev.px4.io/flight_log_analysis.html#flight-review

pyulog can convert .ulg files to csv files (ulog2csv.py) for subsequent analysis/display in Octave or Matlab

[2016-12-30 18:10] vvranjek commented on #6216
Ok, thanks! I am especially interested in how @CarlOlsson created the 'Test ratio' graphs? Otherwise, this issue is solved and can be closed.

[2016-12-30 22:08] Stifael commented on #6210
@sunshine-yan:
Currently I dont have my laptop, but you can do it yourself: just go to
posix-configs/eagle/flight/px4.config
and add
spektrum_rc start

[2016-12-30 22:11] Stifael commented on #6210
I can make a PR hopefully tmr or the latest this sunday. Or u can do it youself (the driver is already added in the master)

[2016-12-30 22:13] Stifael commented on #6210
And the doko will be updated as soon as well

[2016-12-31 03:51] weiweikong opened #6222 "Save `.ulg' failed with POSIX and MAVROS?"
I tried to use current master version to test the my algorithms by `.ulg` log file using
[code]
The system worked well as follwoing
[code]
I could ARM and DISARM correctly through MAVROS, but the system did not save the log file correctly even though the terminal told me
[code]
I checked that the folder `Firmware/build_posix_sitl_default/tmp/rootfs/fs/microsd/log/2016-12-31` was clean. Also, I sea

[2016-12-31 17:51] western-co-at opened #6223 "USB mass storage support"
Hello PX4 team
It would be nice if the micro sd on the PX4 FMU can be accessed by USB to modify startup scripts or download log files.

I tried already to add the usbmsc driver (current master with NuttX 7.18):
https://github.com/western-co-at/Firmware/commit/a832c0a0c4c51e1e1f4231a5aa969d11ab7a5f4c

The mass storage driver can be activated by the following commands:
`nsh> mavlink stop-all`
`WARN

[2016-12-31 23:58] lovettchris opened #6225 "Merge sf1xx and sf0x drivers"
I noticed [this checkin ](https://github.com/PX4/Firmware/commit/fa834497bfd61d9d23d14aa501013f22f064cd93) which seem to add sf1xx support to sf0x driver.  Should the sf1xx driver be removed then ?  It is confusing having both... which one should I use now for the sf11/c sensor?  I'm more confused by the fact that the changes in the above commit are so few, there seem to be a lot more differences

[2017-01-01 00:57] anton-matosov commented on #2660
@LorenzMeier  Code in my PR triggers buzzer only in case of failsafe which might be not triggered. In addition if model is disarmed buzzer will not trigger even in case of RC loss as failsafe doesn't get triggered.

It might be also a good idea to have buzzer switch configuration option.

[2017-01-01 01:21] LorenzMeier commented on #2660
PR welcome 8)

[2017-01-01 02:46] anton-matosov commented on #2660
sure

[2017-01-01 06:15] weiweikong commented on #6106
@Stifael Thank you for your testing. Recently, I was also tested my platform and it worked even worse. The vehicle could not control correctly in OFFBOARD mode. The control procedure were
- ARM the rotors with RC manually.
- Get the current `local_position/local` and send the data to `setpoint_position/pose` by MAVROS and the VICON data is transferred to `mocap/pose` (We did the msg format transfe

[2017-01-01 16:01] LorenzMeier commented on #5118
Unit test to reproduce here: https://github.com/PX4/Firmware/pull/6226

[2017-01-01 16:53] CarlOlsson opened #6227 "Unreliable wifi connection on pixracer"
If I try to connect a device to a Pixracer over wifi the green bar in QGC indicating the status of loaded parameters will not reach 100% so I am not able to configure anything and the connection constantly drops and connects again.
This is with 1.5.3 release and with current master 9178bb73712bf824c41c8deebc632f409b3cfa3a

I have tried with two different Pixracers, two different wifi modules, Ipho

[2017-01-01 16:55] LorenzMeier commented on #6227
You need to update your QGC version to a recent daily build. Its an incompatibility with the wireless modem.

[2017-01-01 16:55] #6227 closed

[2017-01-01 18:28] CarlOlsson commented on #6227
Yes you are right, now it works on my laptop. I guess the patch will also come in an update soon to QGC for iOS.

[2017-01-01 19:29] dagar opened #6228 "IridiumSBD issues and improvements"
- if enabled (SYS_COMPANION 419200) and the driver fails to start (bad wiring, etc) the mavlink module will hard fault somewhere in ioctl code

 - needs settings for when to transmit
   - I'm thinking of adding a bitmask for transmitting only if: armed, in air, main datalink lost, etc

@bartosz-wawrzacz FYI

[2017-01-01 19:42] LorenzMeier commented on #5924
Please test this. It should fix it.

[2017-01-02 07:00] edsellar opened #6231 "Oled Support via i2c"
Adding an oled driver to put a small ~1" screen onboard would be great for seeing the current status at the vehicle. Colored leds are good but these are cheap and really easy to use. Good when not with a ground station. Someone already wrote the driver for arduoilot integration. Point me in the right direction and I'll give it a try but I'm new to this and think it would be a very good addition.

[2017-01-02 08:48] CarlOlsson commented on #6216
No problem, glad to help.
The plots above are from Matlab. For general debugging I would try MAVExplorer or Flightplot for .px4log or flight review (you can also run it locally) for .ulg. If you miss functionality in flight review everyone is thankful if you point it out.

For the wind estimation you can also set the EKF2_FUSE_BETA parameter to 1 in order to also estimate the wind from synthetic s

[2017-01-02 09:45] ecmnet commented on #6225
@lovettchris Sf0x driver supports serial connection, while sf1xx supports I2C connected devices as far as I know.

[2017-01-02 10:24] jgoppert commented on #6225
Yes, that is correct sf0x (serial), sf1xx (i2c). We might want to rename them at some point to avoid this confusion and do some refactoring to make sure they operate in the same manner.

[2017-01-02 11:48] kanishkanamdeo opened #6232 "Cannot build from source"
I am using Ubuntu 16.04 with Cmake 3.5.2. I am getting the following output when i try to make px4fmu-v2_default

`PX4 CONFIG: /home/kanishka/PX4/src/Firmware/build_px4fmu-v2_default
[  0%] Built target git_gencpp
[  0%] Built target git_genmsg
[  0%] Generating git hash header
[  0%] Built target git_nuttx
[  1%] Built target git_uavcan
[  1%] Built target git_mavlink
[  1%] Built target git_matr

[2017-01-02 11:51] mhkabir commented on #6232
What is your ARM-GCC version?

[2017-01-02 11:59] kanishkanamdeo commented on #6232
@mhkabir  gcc (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609

[2017-01-02 12:05] AndreasAntener opened #6233 "uart_baudchange unit tests kills serial console while executing the tests"
Not sure if that means the test failed ;) but I don't get the debug console back after this test ran.

[2017-01-02 12:24] mhkabir commented on #6232
Is that from `arm-none-eabi-gcc --version` ?

[2017-01-02 13:44] julianoes commented on #6232
@kanishkanamdeo looks more like 6.2.1:
[code]

Ubuntu recently updated to 6.2.1, please install 5.4 as explained in http://dev.px4.io/starting-installing-linux-boutique.html#toolchain-installation

[2017-01-02 13:47] #6216 closed

[2017-01-02 15:58] LorenzMeier commented on #6233
Should be fixed. Please validate.

[2017-01-02 16:01] LorenzMeier commented on #6223
Would indeed be interesting.

I would propose to modify the ROMFS/px4fmu_common/init.d/rcS script to a minimal case (just start the storage device) and validating that. Check the RAM usage before and after (run `free`).

Are you aware that you can download log files via QGroundControl already over USB serial?

[2017-01-02 16:03] LorenzMeier commented on #6220
Issue moved to ulog: https://github.com/PX4/pyulog/issues/13

[2017-01-02 16:21] #6220 closed

[2017-01-02 16:22] LorenzMeier commented on #6231
Would certainly be interesting. Here is a good start for you - the driver is I2C and outputs the system status:
https://github.com/PX4/Firmware/blob/master/src/drivers/bst/bst.cpp

Note that we can only accept BSD 3-clause compatible code - so you must not copy any code from the ArduPilot driver.

[2017-01-02 16:22] LorenzMeier commented on #6193
Closing since the PR tracks it.

[2017-01-02 16:22] #6193 closed

[2017-01-02 17:16] mhkabir opened #6235 "Mavlink rate control is still wonky"
So I'm trying to validate the 250 Hz data transfer result from https://github.com/PX4/Firmware/pull/6169, but something still isn't right.

I'm using the USB CDC interface on a Pixhawk, starting only a few streams in mavlink custom mode :

Here's how I'm starting mavlink :

[code]
Note that setting `-r 800000` for `mavlink start` higher/lower _does NOT_ affect anything, and the issue persists.
Set

[2017-01-02 21:25] dagar commented on #6195
Results are being posted to coveralls. If a PR causes coverage to decrease by more than 1% it will report a failure.
https://coveralls.io/github/PX4/Firmware

[2017-01-02 21:25] #6195 closed

[2017-01-02 21:28] dagar commented on #6233
@AndreasAntener do you run the tests manually or do you have it automated?

What do you guys think about getting hardware tests (hans-ci) back in the builds?

[2017-01-02 21:36] dagar commented on #6200
What's the overall plan here? Move all mission testing to Dronekit and drop ROS?
Let me know if I can help getting the dependencies in docker or getting the builds running.

Once we have something basic running I'll add code coverage so it's obvious what tests should be added to reach as much code as possible.

 - FW mission takeoff, waypoints, loiter, land
 - mission with geofence
 - etc

I'd als

[2017-01-02 21:38] dagar commented on #6211
Can you check your launch detection parameters? https://pixhawk.org/firmware/parameters#launch_detection

If that doesn't explain it please share a log.

[2017-01-02 21:42] dagar commented on #6121
@mazahner are you interested in adding support for this? We could certainly help point you in the right direction and test/review.

[2017-01-02 21:44] dagar commented on #6094
@vtran609 It's not really maintained. Would you like to get it working and then added to the builds so we can keep it working?

[2017-01-02 21:45] dagar commented on #5240
-Wuninitialized is on. Closing in favor of #6082

[2017-01-02 21:45] #5240 closed

[2017-01-02 21:47] dagar commented on #6089
@LorenzMeier builds have been updated to 5.4, but we should probably clarify what's officially supported and if we want to make an effort to keep older GCC working.

[2017-01-02 21:47] #6089 closed

[2017-01-02 21:50] dagar commented on #6017
Any progress? I'm really looking forward to not digging through the param tree.

[2017-01-02 21:52] mcharleb commented on #6089
@LorenzMeier My current work is on a Yocto Morty based build using GCC 6.2

[2017-01-02 21:54] dagar commented on #5870
@sanderux any thoughts on how you'd like to implement this?

[2017-01-02 21:55] LorenzMeier commented on #6089
Yep, but you're not building NuttX with that.

[2017-01-02 22:21] dagar commented on #4845
Shall we start fleshing this out?

[2017-01-03 00:07] AndreasAntener commented on #6233
@LorenzMeier pulled the updated branch but still the same, not sure why this is happening since the debug console is not involved?
@dagar manually. hans-ci would be cool, we actually have a NUC waiting in the office to do something...

[2017-01-03 01:53] anton-matosov commented on #6017
Not really. I was busy during past couple of weeks. I hope to submit first PR with basic tuning by end of the week.

[2017-01-03 06:00] dagar opened #6237 "coverity analysis defects"
@LorenzMeier @bkueng
Travis-ci is now running Coverity analysis on the posix_sitl_default build and publishing the results here - https://scan.coverity.com/projects/px4-firmware?tab=overview

@AndreasAntener Travis-ci only runs the scan on the coverity branch. I created a jenkins job (http://sitl01.dronetest.io/job/PX4%20Firmware%20coverity%20update/) to reset coverity to master once/day, but we n

[2017-01-03 07:39] mazahner commented on #6121
I think i have a solution working that works for me, but for testing in the various envionments it would be awesome to get some support. let me create a PR so you can give me some feedback.

[2017-01-03 08:56] sanderux commented on #5870
Not yet, do you have any idea's?

[2017-01-03 08:57] muharred commented on #4221
As far as I can tell, the issue should still be present in the current master: line https://github.com/PX4/Firmware/blob/2cfcf3402e814f8a5cde7616232482853775bb5a/src/modules/systemlib/mixer/mixer_multirotor.cpp#L347 gets processed for each motor separately. So maximum possible thrust reduction because of yaw saturation still depends on motor count.

[2017-01-03 08:59] LorenzMeier commented on #4221
@MaEtUgR @priseborough Can you have a look?

[2017-01-03 09:37] Stifael commented on #6106
Just to be sure that we are talking about the same thing when talking about the ENU frame attached to the vehicle:
x is pointing forward (rotating around x is rolling)
y is pointing to the left (rotating around y is pitching)
z is point upward (rotating around z is yawing).
This is opposite of what you said, that y is pointing forward and not sure what you mean with x pointing in X-axis.
I also wa

[2017-01-03 11:56] weiweikong commented on #6106
Sorry for my typo, to make sure the frame, please refer the following diagram

![image](https://cloud.githubusercontent.com/assets/2463397/21606507/fba33a2c-d1ea-11e6-8f1d-eeb2efbbd6be.png)

### PX4
- The coordinate is NED, and the local position data in the log file are in this coordinate.
- MAVROS transfer the ROS-ENU to PX4-NED automatically.

### ROS
- Without VICON, the topic `/mavros/local_p

[2017-01-03 11:57] ecmnet opened #6242 "LPE: Landing in ALTHOLD mode difficult due to accelerator measurements at touch down"
@jgoppert I have a quite soft vibration damping installed to achieve an acceleration noise of about 0.1g - 0.15g in Z-Axis, which seems to work perfectly during flight and gives awesome altitude hold accuracy. But when landing in ALTHOLD, the accelerator measurements are very high (and seem to vibrate) at touch down. As a result the vehicle 'jumps' a bit and would sometimes crash if I do not reduc

[2017-01-03 12:21] mazahner commented on #6121
PR sent

[2017-01-03 12:48] SDroneS commented on #6232
I have the same problem. I've executed all the commands from [http://dev.px4.io/starting-installing-linux-boutique.html#toolchain-installation](url) to install 5.4 but it didn't helped. `arm-none-eabi-gcc --version` says that it's still 6.2.1

Copyright (C) 2016 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANT

[2017-01-03 14:47] western-co-at commented on #6223
I tried to reduce the script step-by-step but I could figure out which commands/apps are important because it's not working reliably also after a full boot sequence.

I'm aware that I can download the logs via mavlink. But I had sometimes problems with the sd card and had to format it. So it would also be possible to format it via the px4fmu unsing the SDFormatter tool.

In case it is working I ge

[2017-01-03 14:54] mhkabir commented on #6223
@western-co-at I've taken the liberty to gate your terminal output with "```" to get GitHub to render it nicely :) Use it instead of single "`" for multiline outputs.

[2017-01-03 15:11] bkueng commented on #6222
I don't have ROS installed, so I cannot test it. It seems ROS uses [$ROS_HOME](http://wiki.ros.org/ROS/EnvironmentVariables#ROS_HOME) as working directory, so you can start to look in there if you find an .ulg file.

[2017-01-03 15:14] western-co-at commented on #6163
Some time ago I had a similar problem with stopping all mavlink interfaces.
The reason was, the the USB's mavlink exit at those lines during the initialisation:
https://github.com/PX4/Firmware/blob/000d965a5ee1db79117bcd88894d85dfec6f8b86/src/modules/mavlink/mavlink_main.cpp#L1893-L1896
and so didn't bumb the _mavlink_instances count. When running the top command I could see running two mavlink_if

[2017-01-03 15:50] LorenzMeier commented on #6232
Fixed on master.

[2017-01-03 16:41] SDroneS commented on #6232
It solved previous problem but right now another occurs.

  File "/home/sds/Repos/Firmware/cmake/nuttx/bin_to_obj.py", line 56, in <module>
    locals())
  File "/home/sds/Repos/Firmware/cmake/nuttx/bin_to_obj.py", line 47, in run_cmd
    raise RuntimeError(stderr)
RuntimeError: /usr/bin/arm-none-eabi-ld: romfs.bin: not in ELF format

make[3]: *** [src/firmware/nuttx/romfs.o] Error 1
CMakeFiles/Ma

[2017-01-03 16:47] bartslinger opened #6246 "VTOL Attitude setpoint published twice."
I'm currently digging into the VTOL code and noticed the following:

At this line, the attitude setpoint is published with `publish_att_sp()` (inside some if statements):
https://github.com/PX4/Firmware/blob/master/src/modules/vtol_att_control/vtol_att_control_main.cpp#L787

Immediately after the if/else statement, the `publish_att_sp()` is called again:
https://github.com/PX4/Firmware/blob/master

[2017-01-03 17:11] Stifael commented on #6106
@weiweikong:
Yes, the frames look correct. Unfortunately I never set up the vicon system, so I cannot really give you advice from my own experience. But I just read the px4 devguide about motion capture systems with px4 where it says that ATT_EXT_HGD_M has to be set if you want to set the heading externally, so I think you should set it to 2. Also I think you should send data to /mavros/mocap/pose

[2017-01-03 17:14] mhkabir commented on #6106
If your VICON coordinate system isn't aligned with real ENU, you must set ATT_EXT_HDG_M = 2.

[2017-01-03 17:22] tumbili commented on #6246
@bartslinger Yes, that is correct. I thought this was fixed in master actually, seems I was wrong.

[2017-01-03 18:53] julianoes commented on #6232
@SDroneS you need to make sure your `$PATH` is correct and the installed `arm-none-eabi-*` is actually chosen. Also `which arm-none-eabi-gcc` will tell you which one it uses.

[2017-01-03 19:00] davids5 commented on #6223
The filesystem uses of the SD card is mutually exclusive with mounting the block driver to provide the scsi access to the SD card. The card has to be unmounted from the fs to be given to the scsi access via the MSC.

The notion of a give to MSC driver and take from MSC driver has to be added and triggered. I have done this before with the VBUS detection and a single use, 1 file application, but I

[2017-01-03 19:07] lovettchris commented on #6225
Ah, ok, the i2c/serial difference wasn't clear from the names.  Would be more clear if those could be merged.  I need the i2c version since the i2c splitter means I don't have to use up a valuable serial port.  This works nicely with the Lightware firmware version "***  SF11/C  Rev 1.21  ***".

[2017-01-03 20:27] davids5 commented on #6163
Working on current master.

[code]

[2017-01-03 20:27] #6163 closed

[2017-01-03 23:02] #6246 closed

[2017-01-03 23:06] SDroneS commented on #6232
I have figured that out, but no matter what `arm-none-eabi-gcc` version I use (tried 4.9, 5.4 and current 6.2.1), errors from above exist. It's the same issue as [#6172](https://github.com/PX4/Firmware/issues/6172) despite it's supposed to be fixed.

[2017-01-03 23:30] LorenzMeier commented on #6232
Make sure to run `make clean` and if that doesn't help `make distclean`. 4.9 and 5.4 definitely work, and 6.x got fixed so "the issue" is definitely fixed. You have a local issue with your setup, which is also apparent from having a different error message.

[2017-01-04 00:05] weiweikong commented on #6222
@bkueng Thank you for your reply.

In my opinion, the `$ROS_HOME` folder only recorded the related terminal feedback. I tried and checked the folder, but there are
[code]
In previous tests, without MAVROS, such as running `make posix_sitl_default gazebo` instead of ` roslaunch px4 mavros_posix_sitl.launch`,  the `.px4log` and `.ulg` saved correctly in the ` build_posix_sitl_default/rootfs/fs/micro

[2017-01-04 00:21] kd0aij commented on #6232
@LorenzMeier I just reproduced the "not in ELF format" error under Ubuntu 16.04 with gcc6.
@SDroneS Did you install 32 bit support libraries?
Try this:
sudo apt-get install libc6:i386 libgcc1:i386 libstdc++5:i386 libstdc++6:i386
(note that gcc-4.6-base:i386 is no longer available)
and then try gcc5.4: worked for me.

[2017-01-04 00:40] dagar commented on #6232
Might be a bad idea, but we could maintain scripts in the Tools folder to install all dependencies for each supported platform. Ubuntu LTS (14.04 and 16.04), OSX, maybe Fedora if there's interest. This could be the one true version that we use in the dev guide, docker image creation, and refer people to. The reality is it will constantly change, but this would concentrate the effort.

[2017-01-04 00:53] dagar commented on #5870
Just an idea that it's not an obvious addition :wink:

Perhaps a part of TECS in no airspeed mode to maintain a minimum groundspeed.

[2017-01-04 01:34] haitanyise opened #6249 "Tailsitter unable to simulation."
when i execute the commander "make posix_sitl_ekf2 gazebo_tailsitter", and switch to mission mode in qgc, the vehicle has no reaction, what happened? someone can help me? thanks.
![image](https://cloud.githubusercontent.com/assets/14901732/21629690/9d768d02-d265-11e6-845c-1fea5f67f3c8.png)

[2017-01-04 06:37] AndreasAntener commented on #5118
Fixed via #6245

[2017-01-04 06:38] AndreasAntener commented on #5924
@Tiktiki this should be fixed on master now

[2017-01-04 06:38] #5924 closed

[2017-01-04 07:31] whyscience commented on #6242
what's the tool you use to plot ?

[2017-01-04 08:13] jgoppert opened #6250 "logger support for imu noise characterization"
@mhkabir and I are trying to automate noise characterization for the imu's based on log files. The issue is that we currently have to use full rate data to get the correct noise properties which when running for 6 hours for an Allan variance plots results in log files of several GB's even with minimal topic logging. It would be great if the logger had an option for computing the mean of the data o

[2017-01-04 08:41] LorenzMeier commented on #5081
This was anyway wrong on that level. Drivers should never print to the console. I fixed that in 256222d44d.

[2017-01-04 08:41] #5081 closed

[2017-01-04 08:41] LorenzMeier commented on #6121
Thanks! Fixed on master.

[2017-01-04 08:41] #6121 closed

[2017-01-04 08:42] LorenzMeier commented on #6121
@dagar @davids5 This also made the param generation step a lot faster. Will help with CI runs.

[2017-01-04 08:44] LorenzMeier commented on #3834
@dagar @AndreasAntener Can we close this?

[2017-01-04 08:44] LorenzMeier commented on #6149
This is all fixed since a few days on master. Thanks everybody for helping debugging this!

[2017-01-04 08:44] #6149 closed

[2017-01-04 08:45] LorenzMeier commented on #5547
Closing this as stale.

[2017-01-04 08:45] #5547 closed

[2017-01-04 08:45] LorenzMeier commented on #5471
Closing this as stale. We are working (see pull requests) on updates to the vision interface pipeline.

[2017-01-04 08:45] #5471 closed

[2017-01-04 08:45] LorenzMeier commented on #5406
Fixed.

[2017-01-04 08:45] #5406 closed

[2017-01-04 08:45] LorenzMeier commented on #5109
Fixed.

[2017-01-04 08:45] #5109 closed

[2017-01-04 08:46] LorenzMeier commented on #2622
Closing as stale. We improved UAVCAN mag support recently, it might have also been related to two mags publishing to the same topic.

[2017-01-04 08:46] #2622 closed

[2017-01-04 08:52] SDroneS commented on #6232
Finally works!
@kd0aij You were right, some of 32 bit support libraries were missing. I didn't have to install them in the past (I mean before the update to 6.2.1). Right now I'm able to build with 5.4 but when it comes to 6.2.1 I still get what's posted above. Maybe I do something wrong, doesn't matter.
@dagar Great idea. There's a lot of confusion right now.

[2017-01-04 10:01] bkueng commented on #6250
I suggest to do this in another module which publishes a separate topic at 1Hz. Rather than adding it directly to the logger which has been designed to be ignorant of topic content.

[2017-01-04 10:17] julianoes commented on #6232
I get the same for 6.2.1:
[code]

[2017-01-04 13:13] svpcom opened #6251 "px4flow is broken in gazebo SITL"
When I'm using ``make posix_sitl_default gazebo_iris_opt_flow`` and switch to posctl after takeoff, drone accelerates and moving outside of asphalt plane (where it stopping due to ground texture loss).
It seems is something wrong with flow sensor orientation.

http://discuss.px4.io/t/unstable-flight-in-sitl-gazebo-with-optical-flow-sensor

[2017-01-04 13:56] ecmnet commented on #6242
Not relevant anymore with increased spring constant in damping

[2017-01-04 13:56] #6242 closed

[2017-01-04 14:32] mhkabir commented on #6242
@ecmnet, would to mind sharing a picture of your damping solution? :)

[2017-01-04 15:44] ecmnet commented on #6242
@mhkabir Nothing special about it. It's a question of the angles and the foam :-)

![damping](https://cloud.githubusercontent.com/assets/7580193/21648074/ff84e886-d29c-11e6-968b-0705a2bb2468.png)

I am still looking for cable wire springs for loads of about 20g.

[2017-01-04 15:52] kd0aij commented on #6232
@dagar I edited the advanced linux toolchain installation guide to make the 32 bit lib installation more prominent, and separated the problem package from the ones which installed for me on Ubuntu 16.04

[2017-01-04 16:40] thoyo opened #6252 "mpu9250 external compass not detected"
I have a 3DR PX4 board. Following the instructions from here:
http://ardupilot.org/copter/docs/common-installing-3dr-ublox-gps-compass-module.html

I am able to "see" the external compass and calibrate it correctly on Mission Planner.

Now I try to use the MPU-9250 IMU as the external compass. The IMU is mounted on the Grove 9DOF board (http://wiki.seeed.cc/Grove-IMU_9DOF_v2.0/), which provides an

[2017-01-04 16:42] #6252 closed

[2017-01-04 16:50] sanderux commented on #5870
why not obvious? there is a groundspeed_undershoot detection for vehicles with an airspeed sensor, so wh not for vehicles without one?

[2017-01-04 18:17] dagar commented on #5870
Not obvious how to implement. As you know groundspeed undershoot just adjusts airspeed. The rest of the controller is oblivious.

[2017-01-04 23:36] ivan95603 opened #6258 "Can't build master branch Ubuntu 16.04 LTS says romfs.bin: not in ELF format"
make px4fmu-v2_default
-- nuttx-px4fmu-v2-default
-- CMAKE_INSTALL_PREFIX:
-- cmake module path: /home/ivan/src/Firmware/cmake
-- Nuttx build for px4fmu-v2 on m4 hardware, using nsh with ROMFS on px4fmu_common
-- The ASM compiler identification is GNU
-- Found assembler: /usr/bin/arm-none-eabi-gcc
-- Found PythonInterp: /usr/bin/python (found version "2.7.12")
-- NuttX patch: nuttx-patches/Fixed-S

[2017-01-04 23:40] dagar commented on #6258
What about `arm-none-eabi-gcc --version`?

[2017-01-04 23:40] kd0aij commented on #6258
Duplicate issue: see https://github.com/PX4/Firmware/issues/6232#issuecomment-270263524

[2017-01-04 23:41] ivan95603 commented on #6258
arm-none-eabi-gcc --version
arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors) 6.2.1 20161205 (release) [ARM/embedded-6-branch revision 243739]

[2017-01-04 23:43] ivan95603 commented on #6258
kd0aij,
It is similar but it hasn't been fixed yet I also tried
sudo apt-get install libc6:i386 libgcc1:i386 libstdc++5:i386 libstdc++6:i386
still nothing

[2017-01-04 23:43] dagar commented on #6258
@ivan95603 as a temporary work around I suggest you switch to arm-none-eabi-gcc 5.4 as described in the dev guide. http://dev.px4.io/starting-installing-linux-boutique.html

Follow https://github.com/PX4/Firmware/issues/6232 to see when 6.2 is working.

[2017-01-04 23:43] #6258 closed

[2017-01-04 23:45] kd0aij commented on #6258
use the 5.4 toolchain, not 6.2, as it says in the comment

[2017-01-05 00:06] ivan95603 commented on #6258
Thanks @kd0aij,
Done:

pushd .
cd ~
wget https://launchpad.net/gcc-arm-embedded/5.0/5-2016-q2-update/+download/gcc-arm-none-eabi-5_4-2016q2-20160622-linux.tar.bz2
tar -jxf gcc-arm-none-eabi-5_4-2016q2-20160622-linux.tar.bz2
exportline="export PATH=$HOME/gcc-arm-none-eabi-5_4-2016q2/bin:\$PATH"
if grep -Fxq "$exportline" ~/.profile; then echo nothing to do ; else echo $exportline >> ~/.profile; fi

[2017-01-05 00:06] ivan95603 commented on #6232
Thanks @kd0aij,
Done:

pushd .
cd ~
wget https://launchpad.net/gcc-arm-embedded/5.0/5-2016-q2-update/+download/gcc-arm-none-eabi-5_4-2016q2-20160622-linux.tar.bz2
tar -jxf gcc-arm-none-eabi-5_4-2016q2-20160622-linux.tar.bz2
exportline="export PATH=$HOME/gcc-arm-none-eabi-5_4-2016q2/bin:$PATH"
if grep -Fxq "$exportline" ~/.profile; then echo nothing to do ; else echo $exportline >> ~/.profile; fi
.

[2017-01-05 05:35] kanishkanamdeo commented on #6232
@kd0aij Thank you so much, the builds have resumed, and I got back on the 5.4.1. Yay!

[2017-01-05 05:40] mzahana opened #6259 "TeraRangerOne fails to start"
Hi,

I am not able to run TeraRAngerOne with PX4 firmware 1.5.3 on Pixhawk 2.1.
1- I connected TeraRangerOne to Pixhawk2.1 I2C
2- I change the 'trone' parameter in QGC to 'Enable'
3- I restart the Pixhawk, but the I cannot see the sensor data in QGC
4- I use ```nsh> trone start```
5- it fails with the following error: Trone driver start failed'

What is missing here?

Do I have to solder the JP1 o

[2017-01-05 08:29] ndepal commented on #6259
Does the TROne work on other devices (e.g. via USB on your PC)?
When powering the Pixhawk, do you see the yellow LED on the TROne board flash once?
Is it possible that the I2C address has been changed on this device?
If you're familiar with building the firmware youself, I'd suggest adding some print statements (`warnx`) in the start routine to narrow down the source of the problem: https://github

[2017-01-05 09:45] julianoes commented on #6232
@kd0aij I'd say we should change the devguide to propose the manual install, see https://github.com/PX4/Devguide/pull/78.

[2017-01-05 10:10] mzahana commented on #6259
Yes

Yes

How/where can I check that? datasheet? I wil double check on that.

I am familiar with building the firmware. I will check on that.  what are the places where [warnx] tags would be useful?

Thanks

[2017-01-05 10:12] kanishkanamdeo commented on #6232
@julianoes I second that!

[2017-01-05 10:50] sanderux commented on #5870
Yes, the way to scale it might be tricky. perhaps it should add some throttle, wait to seewhat the ground speed does, add a little more, etc

[2017-01-05 11:13] ndepal commented on #6259
A different I2C address is unlikely. Older versions of the TROne did not ship with I2C capabilities by default, so you had to request it from the manufacturer, and you could request a specific I2C address. Unless you asked for an alternate firmware with a changed I2C address, this is probably not the cause.

I would just place them in the various failure checks to see which part of the initializat

[2017-01-05 12:01] mzahana commented on #6259
Thanks. We did not ask for special mods on the sensor. The sensor version is 1601.

I placed several checks in the code, and here where it gets stuck:
https://github.com/PX4/Firmware/blob/b6b889260689cb340d6815fc68aea831751f48bc/src/drivers/trone/trone.cpp#L280

[code]

[2017-01-05 12:41] mzahana commented on #6259
So, I did more debugging, and it fails here in the ```i2c_nuttx.cpp```:
https://github.com/PX4/Firmware/blob/b6b889260689cb340d6815fc68aea831751f48bc/src/drivers/device/i2c_nuttx.cpp#L151

What could be the issue?

[2017-01-05 13:00] tops4u opened #6260 "MavLink and Logs missing Data"
Since 1.5.3 I have observed some hickups in the Logs (check: http://discuss.px4.io/t/various-issues-with-1-5-2-stable/2039/7) as well as a meesage from the OSD indicating that the Mavlink Stream has not send data for some time (Message : "Stream Frozen") for OSD with Firmware : https://github.com/night-ghost/minimosd-extra running on 57'600 Baud default Settings for FMUv2 on same Serial as Telemet

[2017-01-05 14:15] Stifael opened #6261 "Snapdragon muorb parameter update"
When doing a parameter update from QGC, the parameter is correctly updated on the krait side, but not on the dsp side. In fact, after a parameter update the value shown on the dsp is equal to the previous value from krait.
In order to reproduce this error:
1.) choose a parameter such as MC_PITCHRATE_P
2.) open mc_att_control.cpp and do 	PX4_INFO("pitch rate: %.5f",(double)_params.rate_p(1)) somewh

[2017-01-05 18:20] edsellar commented on #6231
Thanks - ok I'll give this a go and see if I can make sense of it. Noted on the not copying code.

[2017-01-05 18:58] AndreasAntener commented on #3834
It's still a topic. The very cheap solution for VTOL is we just do a very slow lowpass over airspeed to make sure we get some more safety. But it's not the best solution. I could imagine having some form of transition progress state estimation in EKF taking airspeed and velocities into consideration so we don't just rely on one sensor. This would benefit the airspeed-less operation as well.

[2017-01-05 21:16] jgoppert commented on #6251
I've answered this in the discuss thread. Please close this if that solution works for you. It was likely due to an old flow submodule.

[2017-01-05 23:00] genemerewether opened #6263 "Parameter ... not found on 272f1dd with Snapdragon"
- All calls to `param_get()` fail
- `param show *` displays no parameters
- Tried deleting params file with no change

Git bisect reveals [6fe9b8](https://github.com/PX4/Firmware/commit/6fe9b8e54351c8fe620f959b62ce1902b514f3ab) as the first bad commit

Tested with `make distclean` before building each commit

[2017-01-05 23:35] jgoppert opened #6264 "logger doesn't log anything when logger_topics.txt set in SITL"
@bkueng Think you can take a look? It looks like the topcis are read, the file is created, but no data ever gets sent.

To reproduce:

[code]

[code]

[2017-01-06 01:49] sunshine-yan commented on #6210
@Stifael
Thanks for your help! This problem is sovled by following your suggestion.

[2017-01-06 06:01] weiweikong commented on #6106
@mhkabir I tried to set `ATT_EXT_HDG_M = 2` and the VICON coordinate system is not aligned with real ENU, but the vehicle still flew in turning circle.

[2017-01-06 06:37] mhkabir commented on #6106
Are you sending the data to /mavros/mocap/pose ? This "turning circle", this happens in Position Control, yes?

[2017-01-06 07:05] AndreasAntener commented on #4845
**There are 2 main problem areas:**
1. Handing over control from the end of the transition to the usual controller
2. Position control during the transition

**Main concern is:**
Separating responsibilities, which in practice comes down to making sure that the normal controllers don't need to be aware of the VTOL state.

To solve the above points we need clean interfaces. However, there is current

[2017-01-06 08:02] crossa opened #6266 "Please change macro definition to fix native build on raspberry pi"
px4/Firmware/src/lib/DriverFramework/framework/include/

on raspberry pi b+ ,mpu9250 spi device 0  is  /dev/spidev0.0
and mag should be /dev/spidev0.0

`#if defined(__IMU_USE_I2C)
#include "I2CDevObj.hpp"
#else
#include "SPIDevObj.hpp"
#endif

#if defined(__DF_QURT)
#include "dev_fs_lib_spi.h"
#define IMU_DEVICE_PATH "/dev/spi-1"
#elif defined(__DF_BEBOP)
#define IMU_DEVICE_PATH "/dev/i2c-mpu6050"

[2017-01-06 09:07] rolandash commented on #5995
@julianoes

Sorry for the late response, finally got some time to get the log:

http://logs.uaventure.com/view/Y8B9b5bjFfytqctL3Tth9k

This log is generated on Pixhawk/1.5.3/EKF2. seems the problem still there.

[2017-01-06 09:25] bkueng commented on #6263
Same problem for `make posix_sitl_ekf2`. The problem is that https://github.com/PX4/Firmware/blob/master/cmake/configs/posix_sitl_ekf2.cmake uses an include for the module list which is not properly handled by the CMakeParser.

@mazahner can you look into that?

[2017-01-06 09:41] weiweikong commented on #6106
@mhkabir Yes, I publish the VICON data to `/mavros/mocap/pose` and we were under OFFBOARD mode with Positon Control. (Firmware Release 1.5.1 Version with LPE module)

[2017-01-06 09:43] #6210 closed

[2017-01-06 09:58] sanderux commented on #4845
I agree that using setpoint types would probably be the best approach. We also use that for TAKEOFF and LAND modes. I am unclear why the your diagram implies a VTOL POSCTL, it seems to me this should always be the FW POSCTL during transitions.

[2017-01-06 10:25] mhkabir commented on #6106
Don't use offboard. I'm trying to eliminate all other sources of issues.

Just try to stably hover in Position control mode (POSCTL) and send a log.

On Jan 6, 2017 3:11 PM, "Weiwei Kong" <notifications@github.com> wrote:

[2017-01-06 10:40] svpcom commented on #6251
It works, thanks!

[2017-01-06 10:40] #6251 closed

[2017-01-06 10:54] bkueng commented on #6263
It's fixed now with https://github.com/PX4/Firmware/pull/6267. Leaving this open as it will need a proper fix.

[2017-01-06 12:33] mazahner commented on #6263
I have not modified the CMakeParser which has been used to generate the px4_parameters.h/.cpp i just reused it during the generation of the parameters.xml (and therefore put it into it's own file).
So if this has been working before, i wonder how the px4_paramters.h/.cpp have been generated before. Or does the sitl environment only rely on the .xml file?

I'll see what i can do...

[2017-01-06 13:10] bkueng commented on #6263
I know. The problem was already there before, but it did not matter because the scope was not used. So you don't have to, but would be cool if you looked into it anyway.

[2017-01-06 16:56] dagar commented on #6266
@crossa could you submit a pull request?

PX4 DriverFramework is here - https://github.com/PX4/DriverFramework

[2017-01-07 07:17] jgoppert commented on #6250
I agree. It makes sense to have a secondary sensor combined topic that holds the means of the raw sensors over the last second, controlled by a separate px4 module that subscribes to the raw sensor data.

[2017-01-07 14:16] matanhavi opened #6271 "check_submodules.sh checks only part of the submoduls"
the script only check a white lost that built into it.
in case of submodule (path/added/removed) has been changed, you need to go and change the script

[2017-01-08 04:57] dagar commented on #6271
Fixed in #6272

[2017-01-08 04:57] #6271 closed

[2017-01-08 10:01] tubeme commented on #3834
@LorenzMeier @AndreasAntener @sanderux @dagar

So far we have a very good results with 1.5.0. Indeed such a good results that yesterday we've had a hardware problem with one of the motors (the mount just turned 30 degrees in flight because it was not tight enough) and the vtol just span on hover at one spot (but controlled spin). So we just wanted to see if it could make a transition. And it did i

[2017-01-08 15:59] sanderux opened #6274 "SITL home altitude"
I am testing some relative vs absolute altitude mission items but there seems to be an issue with SITL and the absolute altitude. LPE correctly sees 488m altitude but commander only sees 9cm absolute alt.

[code]

Anyone know why?
@dagar @jgoppert @LorenzMeier

[2017-01-08 17:31] dagar commented on #6274
What was reported over mavlink?

[2017-01-08 17:33] sanderux commented on #6274
0.09

[2017-01-08 18:13] mhkabir opened #6275 "Incorrect units of variance in GPS topic"
Couple of issues and concerns which I had while upstreaming the GPS-VIO interface which will also allow an offboard estimator to use the GPS accuracy information:

1 . This is from the `vehicle_gps_position` topic :

[code]

For velocity, variance should be in (m/s)^2 and for course, in rad^2. The comment and field name are both incorrect, and it is not understandable whether we want variance or s

[2017-01-08 23:20] sanderux commented on #6274
@dagar to be more specific:

GLOBAL_POSITION_INT.alt: 90 (9cm)
HOME_POSITION.altitude: 90 (9cm)
GPS_RAW_INT.alt: 488 (m)

[2017-01-09 01:35] dagar commented on #6274
This is LPE publishing global position altitude. Any idea what's happening

@jgoppert Any idea why LPE isn't using GPS altitude? You can see it with default gazebo iris on master.

    % make posix_sitl_default gazebo_iris

    INFO  [local_position_estimator] [lpe] gps init lat  47.40 lon   8.55 alt **488.1 m**
    INFO  [local_position_estimator] [lpe] baro init 0 m std 7 cm
    INFO  [commander

[2017-01-09 04:39] edsellar commented on #6231
@lorenzmeier I've started on this. We'll see what comes of it in terms of functionality. Looking at the init phase of this (pretty new to all this but I've pulled a few other i2c drivers and display drivers). Been trying to make some correlation between how this was done for apm and the appropriate redo for px4 as that's all I have to go on. A lot of the code comes from an ardufruit library so jus

[2017-01-09 05:35] mhkabir commented on #6231
What is the license on the Adafruit lib?

[2017-01-09 06:44] magicrub commented on #6231
Which one?

On Jan 8, 2017 9:35 PM, "Kabir Mohammed" <notifications@github.com> wrote:

[2017-01-09 07:44] edsellar commented on #6231
https://github.com/adafruit/Adafruit_SSD1306

It's listed as BSD. Doesn't say if 3-clause. But says it's BSD.

[2017-01-09 09:12] bkueng commented on #6275
I agree it should be more precise & consistent. `s_variance_m_s` & `c_variance_rad` come directly from the ublox gps. The protocol spec just says it's the 'Speed accuracy estimate' in [m/s] and 'Heading accuracy estimate (both motion and vehicle)' in [rad]. So it should be standard deviation.

[2017-01-09 10:09] #6264 closed

[2017-01-09 13:55] kd0aij commented on #6231
the page you linked says "BSD 3-clause" right above the green "clone" button

On Mon, Jan 9, 2017 at 12:44 AM edsellar <notifications@github.com> wrote:

[2017-01-09 16:03] vtran609 commented on #6094
I will upload a working version when I get one to work

[2017-01-09 16:04] dagar commented on #6094
Thanks!

[2017-01-09 16:09] mhkabir commented on #6275
@bkueng What fix would you recommend here? Renaming the field and comment to be more precise?

Also, it's probably much better to go directly to my third suggestion :

e.g the UAVCAN GPS driver already has all the covariance information, but it is not utilized fully: https://github.com/PX4/Firmware/blob/master/src/modules/uavcan/sensors/gnss.cpp#L119-L120

[2017-01-09 20:08] mcharleb commented on #6261
@Stifael https://github.com/PX4/Firmware/pull/5327 may fix this issue

[2017-01-09 21:11] mcharleb commented on #4202
@LorenzMeier Can we close this issue or is this something you want to address?

[2017-01-09 23:27] #4202 closed

[2017-01-09 23:31] dagar opened #6281 "mixer test intermittent failure"
@LorenzMeier @AndreasAntener @bkueng

I thought the mixer test failing was a result of the code coverage build (-O0), but it seems decreasing the optimization level only increases the failure rate. It's still happening under normal settings (make tests).

I can look at it later this week if no one else has time, but I don't know the mixer code (yet).

https://circleci.com/gh/PX4/Firmware/2792?utm_

[2017-01-09 23:37] svpcom opened #6282 "EKF2 flow integration_timespan check is invalid"
I've debug why ekf2 refuses flow measurements (using gazebo sitl) and found that we have:

in LPE: src/modules/local_position_estimator/sensors/flow.cpp
[code]

in EKF2: src/lib/ecl/EKF/estimator_interface.cpp
[code]

I think the check condition should be inverted in case of EKF2

[2017-01-10 04:55] weiweikong commented on #6106
@mhkabir Sorry for my late testing. The log files are http://logs.uaventure.com/view/x6jyxefFjqWqpqiwWQX9B3 and http://logs.uaventure.com/view/qVQnmmjgXvNnpTLt7i8M4e. One of the related video is at https://www.youtube.com/watch?v=VPStdRqAzUU.

[2017-01-10 06:23] mhkabir commented on #6106
@Stifael Any idea about these crazy setpoint jumps on @weiweikong's logs ?

![](http://logs.uaventure.com/logmuncher/charts/x6jyxefFjqWqpqiwWQX9B3/Local_X.png)

![](http://logs.uaventure.com/logmuncher/charts/x6jyxefFjqWqpqiwWQX9B3/Local_Y.png)

[2017-01-10 07:44] CarlOlsson opened #6286 "Add acro mode for fw"
When setting up a new fw I noticed that there is no acro mode for airplanes according to the [docs](http://dev.px4.io/concept-flight-modes.html).

Is this correct? And in that case how much work would it be to implement?

[2017-01-10 07:52] Stifael commented on #6106
Looks rather strange and I dont think that these plots makes a lot of sense, since the estimation stays perfectly at zero (at least pos y and dont know about x bc of scaling but since it was indoor test it is most likely zero as well).Also when looking at the other plot, the position tracking is really bad. Are these logs created with the exact same setup?

[2017-01-10 07:53] edsellar commented on #6231
Good it's there. Shows how well I can't read then. :( Time for glasses.

[2017-01-10 07:54] mhkabir commented on #6106
Actually, the auto-scaling because of those transients makes it seem that they stay at zero. I opened it in FlightPlot, and estimation looks normal.

[2017-01-10 08:05] aysh-shariff opened #6287 "Unable to build source code after fetching PR#4792"
I tried **make submodulesclean**, but the errors persist.

![screenshot from 2017-01-10 09_02_05](https://cloud.githubusercontent.com/assets/23332983/21798279/c80f5672-d713-11e6-8341-fc44ab68d185.png)
![screenshot from 2017-01-10 09_02_15](https://cloud.githubusercontent.com/assets/23332983/21798280/c8106440-d713-11e6-9935-c41255547177.png)

[2017-01-10 08:49] CarlOlsson commented on #4468
QGC is still constantly spamming with manual control lost messages on 1.5.3

[2017-01-10 08:53] CarlOlsson opened #6288 "autopilot thinks airplane is upside down"
When trying to set up a new fixed wing (1.5.3) after calibration the autopilot sometimes thinks it is upside down.
![img_9759](https://cloud.githubusercontent.com/assets/7795133/21799632/583cf60e-d71a-11e6-979e-d2657ecb6cf7.PNG)
However when doing all calibrations the images are displayed correctly for accelerometer and compass and the IMU, external compass orientations are all set correctly. This

[2017-01-10 09:45] CarlOlsson opened #6289 "Remove mixer offsets or add documentation for TBS Caipirinha"
Following up the discussion [here](http://discuss.px4.io/t/servos-not-at-1500us-in-manual-mode/2148/2)

For a user it is not obvious why there is an offset pre-prgrammed into the mixer file of the TBS Caipirinha.

[2017-01-10 11:58] mhkabir commented on #6287
Run `git clean - dfx`

[2017-01-10 13:05] Stifael commented on #6106
It looks like the position controller is not active. while the attitude controller tracks the setpoints, the position controller is doing something rather strange (at least along the x and y axis).
![weiweikong_10_1_17](https://cloud.githubusercontent.com/assets/13449161/21807165/b47cc94e-d73d-11e6-8cc7-520293817522.png)
Have you also tuned the vehicle for position control? I mean I think even wit

[2017-01-10 14:12] weiweikong commented on #6106
@Stifael With the same platform, we revert the ATT_EXT_HDG_M, and we could get excellent position control with the same PID parameters.

[2017-01-10 14:20] bkueng commented on #6275
Yes renaming and commenting is a first step. Don't know if covariances make sense as it would add values if you have a whole covariance matrix. Most of the code seems to use eph & epv (and so do the log analysis tools), and not vdop & hdop. One usage however is here: https://github.com/PX4/Firmware/blob/master/src/modules/mavlink/mavlink_messages.cpp#L1103. Very confusing, but it seems to be reall

[2017-01-10 14:22] mhkabir commented on #6106
Hmm. Odd. I have a hunch.

Can you try the vision_pose mavros plugin to send the VICON pose instead of the mocap plugin? Make sure you set ATT_EXT_HDG_M to 1 for vision.

[2017-01-10 14:29] kd0aij commented on #6288
Can you reproduce this, then check whether the autopilot orientation parameter is corrupted?

[2017-01-10 14:41] CarlOlsson opened #6291 "PWM_MIN vs PWM_AUX_MIN?"
Is it intended to have both [PWM_MIN](https://github.com/PX4/Firmware/blob/master/src/modules/sensors/sensor_params.c#L3233) and [PWM_AUX_MIN](https://github.com/PX4/Firmware/blob/master/src/modules/sensors/sensor_params.c#L3288) parameters?
In that case we should update the description because it says the same

[2017-01-10 14:47] Stifael commented on #6261
@mcharleb:
unfortunately #5327 did not fix it, but now I cant even update anything from QGC due to shmem error:
![snappy_shmem](https://cloud.githubusercontent.com/assets/13449161/21810400/ed002ece-d74b-11e6-83f1-0777366f9aab.png).
I also checked with @ChristophTobler and he has the same error.

[2017-01-10 14:48] CarlOlsson opened #6292 "How to get lower PWM output?"
I am probably doing something wrong but here is a [log file](http://logs.uaventure.com/view/R2xAQ5zvnSQBoqDgxf9YAT) (1.5.3) when PWM_MIN, PWM_AUX_MIN and PWM_AUX_DISARMED are all set to 900.
However, as seen in the log and also verified before arming with a PWM reader the output was never below 1000.

Is this intended behavior? And in that case how do you activate the PWM_AUX_DISARMED parameter?

[2017-01-10 15:49] aysh-shariff commented on #6287
Doesn't help. Same errors.

[2017-01-10 15:53] aysh-shariff commented on #6287
![screenshot from 2017-01-10 16 52 38](https://cloud.githubusercontent.com/assets/23332983/21813069/423f03ca-d755-11e6-91d5-cdba21701539.png)
![Uploading Screenshot from 2017-01-10 16:51:54.png…]()

[2017-01-10 15:54] aysh-shariff commented on #6287
![screenshot from 2017-01-10 16 52 38](https://cloud.githubusercontent.com/assets/23332983/21813101/6847dfc4-d755-11e6-98bf-983247a462c5.png)
![screenshot from 2017-01-10 16 51 54](https://cloud.githubusercontent.com/assets/23332983/21813102/684832c6-d755-11e6-8cbc-c940f93e2285.png)

[2017-01-10 16:08] kd0aij commented on #6287
what does "git status" show?

On Tue, Jan 10, 2017 at 8:54 AM aysh-shariff <notifications@github.com>
wrote:

[2017-01-10 16:10] aysh-shariff commented on #6287
nothing to commit, working directory clean

[2017-01-10 16:10] ChristophTobler commented on #6282
@svpcom That's correct. I already asked @priseborough about that. The real PX4Flow sends flow messages at ~20fps, but the simulations runs at 100Hz. Not sure why the ekf limits the rate

[2017-01-10 16:18] kd0aij commented on #6287
that's not the full output, is it?

On Tue, Jan 10, 2017 at 9:10 AM aysh-shariff <notifications@github.com>
wrote:

[2017-01-10 16:20] aysh-shariff commented on #6287
On branch orbit_test
nothing to commit, working directory clean

I fetched PR #4792 and checkedout to orbit_test branch

[2017-01-10 17:39] kd0aij commented on #6287
then try checking the PR branch out directly

On Tue, Jan 10, 2017 at 9:20 AM aysh-shariff <notifications@github.com>
wrote:

[2017-01-10 17:48] aysh-shariff commented on #6287
Tat doesnt fix it.

[2017-01-10 17:51] kd0aij commented on #6287
Strange. That works for me. What might be different about your build environment?

[2017-01-10 17:52] aysh-shariff commented on #6287
I'm not sure what's wrong. I cloned the latest master....
Also, I did try manually copying over the changes but tat doesn't work obviously.

[2017-01-10 17:54] kd0aij commented on #6287
what are your OS and toolchain versions?

[2017-01-10 17:58] aysh-shariff commented on #6287
Ubuntu 14.04.1
How do I check the toolchain version ?

[2017-01-10 18:00] kd0aij commented on #6287
arm-none-eabi-gcc --version
The instructions for installation are here: http://dev.px4.io/starting-installing-linux-boutique.html#toolchain-installation

[2017-01-10 18:00] aysh-shariff commented on #6287
arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors) 4.9.3 20150529 (release) [ARM/embedded-4_9-branch revision 227977]

[2017-01-10 18:05] kd0aij commented on #6287
that looks OK. Maybe cmake is different? Mine reports:
[code]

[2017-01-10 18:05] aysh-shariff commented on #6287
cmake version 3.2.2

[2017-01-10 18:07] aysh-shariff commented on #6287
Can tat be a problem ? I am able to build the source code fine except for this PR. Don't want to mess with the build env...

[2017-01-10 18:11] kd0aij commented on #6287
@dagar This is beyond me, Any ideas what's going on here?

[2017-01-10 18:21] dagar commented on #6287
How did you pull #4792? It doesn't merge cleanly with master and needs to be rebased (manually), so I'm guessing you're in a bad state.
@aysh-shariff could you go through the diff in #4792 and manually reapply it to a new branch of off current master? If you're not comfortable doing that I can later tonight.

[2017-01-10 18:23] mcharleb commented on #6261
@Stifael I'll debug it now

[2017-01-10 18:24] aysh-shariff commented on #6287
I guess that's the problem. For manually applying the changes, I did tat for the vehicle_command.msg file but the other file had too many changes. I was short on time so just tried replacing the entire file instead which clearly didn't work.

[2017-01-10 18:26] kd0aij commented on #6287
@aysh-shariff I though all you did was checkout the branch directly from PX4/Firmware

[2017-01-10 18:26] dagar commented on #6287
I'll take a look later. The MC position controller should be functionally the same as it was during that PR, but it was refactored, so it's just a matter of finding where the orbit code now belongs.

@aysh-shariff I'll close this issue now and ping you from #4792 once it's rebased and ready to test.

[2017-01-10 18:26] #6287 closed

[2017-01-10 18:26] aysh-shariff commented on #6287
@kd0aij I did tat as well. When tat didn't work I tried manually applying the changes

[2017-01-10 18:30] aysh-shariff commented on #6287
@dagar Tat would be great!
Thnx!

[2017-01-10 20:47] priseborough commented on #6282
The EKF limits the rate for a number of reasons:

1) The data buffers used to time align data can only reliably handle data at rates of 20Hz or lower. We can increase the buffer size to handle higher rates, but  that causes problems with some processors that are low on RAM.
2) Optical flow fusion is a more expensive operation than GPS fusion and reducing the fusion rate helps lower power processor

[2017-01-11 00:33] jgoppert commented on #6282
With the modified px4flow firmware in my PR I stabilize the flow output rate using a param to 10 hz. It is helpful for this.

@ChristophTobler if you get a chance, take a look at the PR. I'd like to get this merged. I've had many users confirm as well as via my own testing that it is more robust indoors and outdoors.

https://github.com/PX4/Flow/pull/86

[2017-01-11 04:17] samo1234 opened #6294 "Missing frsky_telemetry in px4fmu-v2-default.px4"
since version 1.4.4 there is no frsky_telemetry command or binary.
when the option is enabledin SYS_COMPANION system is stuck.

[2017-01-11 05:35] hmchung commented on #5714
Hi NCharabaruk, can you please kindly explain which part of the code did you change? Apparently, I have also just got into the same problem. Thank you in advance.

[2017-01-11 06:50] ChristophTobler commented on #6282
@priseborough Ok, that makes sense. So I will adapt the way the optical flow messages get published. It will still use full fps but integrate over several frames and only publish at arount 10-20Hz.

@jgoppert I will take a look at it. But I need to build a new PX4Flow quad setup first.

[2017-01-11 07:23] dagar opened #6295 "clang tidy automatic fixes"
Playing with letting clang-tidy auto fix a few things. Done with `make clang-tidy`.
Full list of checks http://clang.llvm.org/extra/clang-tidy/checks/list.html

**readability-braces-around-statements** #6298
https://github.com/PX4/Firmware/compare/master...dagar:readability-braces-around-statements?expand=1

**readability-simplify-boolean-expr** #6299
https://github.com/PX4/Firmware/compare/master

[2017-01-11 07:55] bkueng commented on #6295
Nice! The 'clang modernize-loop-convert' will need some manual intervention.
Like `for (auto &i : devmap) {` -> `for (const auto &dev : devmap) {`

[2017-01-11 09:15] bkueng commented on #6294
This module was disabled [0] due to flash restrictions. You can enable it and disable something else, then compile it yourself. If you have a board that support the full 2MB flash (like pixhawk mini), you can also use the px4fmu-v3_default target.

[0] https://github.com/PX4/Firmware/blob/master/cmake/configs/nuttx_px4fmu-v2_default.cmake#L42

[2017-01-11 09:45] julianoes commented on #6295
Cool but readability-braces-around-statements should already be covered by astyle.

[2017-01-11 11:51] weiweikong commented on #6106
@mhkabir As you suggest, we test it with VICON by using `vision_pose` plugin. The log is at
http://logs.uaventure.com/view/aMUNrWzfAmdEkg7qwNRSbC.

- `mocap/pose` --> `vision_pose/pose`,
- `LPE_VISION_ON = Enable`
- `ATT_EXT_HDG_M = 1`
- Fireware  1.5.1
- In Stabilize Mode, yaw angle drift.
- In POS CTRL Mode, turning circle.
Any suggestions?

[2017-01-11 12:15] mhkabir commented on #6106
There is something fundamentally wrong with your setup, but I'm not sure what. Check your VICON system.
I just tested both the code paths, and they should be fine. You will need to debug this locally. I also suggest using latest master, because I don't know the state on 1.5.1

[2017-01-11 14:28] weiweikong commented on #6106
When we set `ATT_EXT_HDG_M=1`, the VICON system and the quadrotor works well. So the problem is the heading information from VICON?

[2017-01-11 14:29] mhkabir commented on #6106
Yes, seems so.

[2017-01-11 14:30] weiweikong commented on #6106
@mhkabir Are you using the vicon_bridge from https://github.com/ethz-asl/vicon_bridge?

[2017-01-11 15:50] svpcom commented on #6282
@priseborough But now if we submit flow measurements with rate > 20Hz (for example 20.001Hz) we don't got any errors or warnings but instead _all_ measurements will be silently ignored. I think we need to add some error reporting and add some guard interval to prevent occasional message drop due to flow rate fluctuations.

[2017-01-11 15:56] svpcom commented on #6282
@jgoppert Also with EKF2 + flow and without gps copter unable to takeoff (due to unfocused sensor). I think we need add the same workaround as LPE does.

[2017-01-11 16:02] priseborough commented on #6282
It won't ignore all messages, just the ones arriving sooner than the minimum allowed interval.

[2017-01-11 16:05] svpcom commented on #6282
In case of SITL (100Hz flow), all flow messages was silently ignored.

[2017-01-11 16:06] ChristophTobler commented on #6282
@svpcom it is not able to takeoff in the simulation or in real life? Because in the simulation it is

[2017-01-11 16:09] svpcom commented on #6282
In simulation (EKF2). With EKF2_AID_MASK 2 (flow on, gps off) it unable to takeoff.

[2017-01-11 16:11] ChristophTobler commented on #6282
@svpcom yes that's the default setting for the ekf2 flow simulation and ```commander takeoff``` works just fine for me

[2017-01-11 16:14] svpcom commented on #6282
@ChristophTobler
px4 master (48e7c784e793957cb50ce62aa890438273d90048)

make posix_sitl_ekf2 gazebo_iris_opt_flow

[code]

[2017-01-11 16:16] priseborough commented on #6282
The rate at which the ekf2 can accept observations, which sets the size of the buffers, is controlled by the EKF2_MIN_OBS_DT parameter. From memory it is defaulted to 20msec (50Hz) in master.

[2017-01-11 16:18] ChristophTobler commented on #6282
@svpcom Just to make sure: You have changed the lines you mentioned in your issue? But once you takeoff manually position control works?

[2017-01-11 16:21] svpcom commented on #6282
@ChristophTobler Yes. I've removed check to 20Hz in EstimatorInterface::setOpticalFlowData and POSCTL became works after manual takeoff.

[2017-01-11 16:24] svpcom commented on #6282
@priseborough EKF2_MIN_OBS_DT is used only for magnetometer and altimeter. In case of flow data it supplied to EKF2 anyway and rejected in  EstimatorInterface::setOpticalFlowData by hardcoded ``delta_time < 0.05`` check

[2017-01-11 16:43] priseborough commented on #6282
@svpcom That is incorrect.

The optical flow max acceptance rate is set by _min_obs_interval_us.

_min_obs_interval_us is set by _obs_buffer_length.

_obs_buffer_length is set by EKF2_MIN_OBS_DT and the maximum of the various observation time delay parameters.

[2017-01-11 17:37] LorenzMeier commented on #6292
If you use a Pixracer there is only the main outputs, so you would need to change those parameters.

[2017-01-11 17:39] LorenzMeier commented on #6288
Is it possible you got confused when it asked you for the board orientation during the calibration?

[2017-01-11 19:45] CarlOlsson commented on #6292
Ok thanks, but the question remains, how to actually get a lower output than 1000?
I tried again with:
PWM_MIN = 900
PWM_AUX_MIN = 900
PWM_DISARMED = 900
PWM_AUX_DISARMED = 900

When measuring the output on the throttle pin the PWM signal is never lower than 1000. Am I doing something wrong?

[2017-01-11 19:47] CarlOlsson commented on #6288
No I dubble checked the orientations several times and recalibrated everything with the same results. I also checked every time I calibrated mag and accel that the correct images went green in QGC. If It happens again I will force start the logging over NSH.

[2017-01-11 20:27] dagar commented on #6295
@bkueng yes that's better, but it's not like it was const before?

@julianoes I'm not sure why astyle missed these braces. There's also quite a few in the old ekf, but I left it alone.

This was mostly an experiment to see how well these extra clang tools work hands off. There are many checks here that we can gradually enable.
I'll open PRs for the trivial stuff, but what do you guys think about e

[2017-01-11 21:16] bartslinger commented on #6288
I vaguely remember I had something similar before, but don't know which version that was. I rebooted the pixhawk and re-did the level-horizon calibration and that fixed it for me.

[2017-01-11 22:23] mcharleb commented on #6261
@Sitfael I fixed the param output for qurt builds in https://github.com/PX4/Firmware/pull/6297

If you start PX4 and show the parameters:

pxh> param show SDLOG_EXT
Symbols: x = used, + = saved, * = unsaved
x + SDLOG_EXT [819,819] : 2

 928 parameters total, 928 used.

pxh> qshell param show SDLOG_EXT

mini-dm shows:
[08500/00]  41:39.241  HAP:55:Symbols: x = used, + = saved, * = unsaved   0344  p

[2017-01-11 22:48] svpcom commented on #6282
@priseborough There are a second check which hardcode 20Hz (see code below)

EstimatorInterface::setOpticalFlowData
[code]

[2017-01-11 23:03] CarlOlsson commented on #6288
For me it was not possible to do the level horizon calibration since I got a warning message telling me that I had "[excess roll angle](https://github.com/PX4/Firmware/blob/master/src/modules/commander/accelerometer_calibration.cpp#L708)"

[2017-01-11 23:09] tubeme commented on #5801
@sanderux No never again. Sorry for the delay.

[2017-01-11 23:47] mcharleb commented on #6261
@Stifael I was able to build PX4, and then run it on the SD Flight board and set SDLOG_RATE to 10 via QGC and saw that the updated setting was present:

[08500/00]  30:22.288  HAP:54:Symbols: x = used, + = saved, * = unsaved   0344  param.c
[08500/00]  30:22.290  HAP:54:x + SDLOG_RATE [823,823] :   0457  param.c
[08500/00]  30:22.290  HAP:54:10   0466  param.c <<<-- Set to 10
[08500/00]  30:22.290

[2017-01-12 00:37] lovettchris opened #6304 "Landing then flip upside down"
Weird bug today, trying to land a flamewheel quadrocopter using latest px4fmu-v2_default (with EKF2 enabled) and it touched down, then flipped over.

See ![landingproblem](https://cloud.githubusercontent.com/assets/18707114/21871982/8794cb24-d81a-11e6-8315-aa4f6d209e57.png)

See [Log File](http://logs.uaventure.com/view/2SMJjtC9KqnbdeYDSyzbyM) which contains the entire flight, which was simply a t

[2017-01-12 01:41] LorenzMeier commented on #6291
Thanks. Description fixed in a890247.

[2017-01-12 01:41] #6291 closed

[2017-01-12 01:46] LorenzMeier commented on #6292
These values get applied to the outputs selected with the ``set PWM_OUT 1234`` parameter (this is for the caipirinha). So they will only apply to ports 1-4 for this airframe. For other airframes they might apply to less ports. You would need to work with your airframe config and with ```pwm info``` to work out what is not set up correctly.

[2017-01-12 01:47] LorenzMeier commented on #6289
Feel free to propose a new PR with a default tune and setup for the caipirinha. This was done do account for the off-center elevons it has by default, but we might know better by now.

[2017-01-12 01:47] #6289 closed

[2017-01-12 01:52] LorenzMeier commented on #6261
@Stifael still present?

[2017-01-12 05:01] dagar commented on #6286
Probably not that much work actually, but it's a bit awkward with the way ECL is currently structured. The rate setpoint is converted to bodyrate in control_bodyrate(). https://github.com/PX4/ecl/blob/master/attitude_fw/ecl_roll_controller.cpp#L59

I've been working on a refactor of fw_att_control to use controllib and I was going to throw in acro and rattitude mode. https://github.com/dagar/Firmw

[2017-01-12 05:22] ChristophTobler commented on #6282
@svpcom Yes there are two hard coded checks. You mentioned two files in the in the issue so en figured you had them both, my fault... So now that you changed these two checks, I guess ```commander takeoff```works?

[2017-01-12 06:58] ChristophTobler commented on #6261
I tested it with the branch ```param_qurt_printf_fix``` and in the mini-dm output it still shows:
[code]

And when I change a parameter in QGC I still get
[code]
But I'll wait for @Stifael to confirm

[2017-01-12 07:15] ChristophTobler commented on #6282
@svpcom I cheeck and if you change https://github.com/PX4/ecl/blob/master/EKF/control.cpp#L249 as well ```commander takeoff``` will work.

@priseborough Maybe it would be good to use parameters instead of hard coded ```0.05f``` in https://github.com/PX4/ecl/blob/master/EKF/estimator_interface.cpp#L283 and https://github.com/PX4/ecl/blob/master/EKF/control.cpp#L249

For the flow calculation in the

[2017-01-12 08:38] CarlOlsson commented on #6286
Nice!
I am in the middle of my thesis at the moment so don't have much time left for coding, but I can for sure do my best in reviewing and testing :)

[2017-01-12 09:09] dagar commented on #6286
Do you have any opinions on FW acro? Would you like to see pure rate mode with stick input = bodyrate setpoint for roll, pitch, yaw? We could also do a bit of a hybrid and re-enable attitude control below a certain threshold (rattitude), or hold the current attitude when the sticks are neutral.

[2017-01-12 09:11] Stifael commented on #6261
Hm, I still have the same issue. In fact, even if I dont update the param, after some time I will get the error "Could not get lock, ...". Also, when I do ctrl c to shut down px4, I receive the error: [muorb] ERROR: Getting Bulk data from fastRPC link.

Maybe we are not using the newest adsp firmware. I will share the files that we used for adsp, linux image and hexagon sdk, so maybe we need to ha

[2017-01-12 13:39] msadowski commented on #6259
@mzahana: Are you sure that your i2c wiring is correct? Check the attached pictures for the wiring (note that the wires on extreme positions are swapped). Otherwise can you check the continuity in all the i2c wires?
![rangefinder_teraranger_one_pixhawk](https://cloud.githubusercontent.com/assets/6543766/21891839/dd1e6374-d8d4-11e6-9b35-a75bd45a6e27.jpg)

[2017-01-12 14:39] mzahana commented on #6259
Problem is solved. It was a combination of corrupted i2c cable and the i2c
adapter!

On Jan 12, 2017 4:39 PM, "Mateusz Sadowski" <notifications@github.com>
wrote:

[2017-01-12 14:43] LorenzMeier commented on #6261
It's worth doing an update to latest anyway. This looks like the system is not configured properly on a very fundamental level.

[2017-01-12 14:55] Stifael commented on #6261
@mcharleb: can you share with me and @ChristophTobler  what BSP image you used? the one I use (Flight_3.1.1_BSP_apq8074-00003.zip) is not on Intrinsyc anymore. For the adsp firmware I used the qcom_flight_controller_hexagon_sdk_add_on.zip.

[2017-01-12 15:07] LorenzMeier commented on #6282
I think the discussion is conclusive, can we move on to a proper and complete fix?

[2017-01-12 15:08] LorenzMeier commented on #6261
If its not online any more its not even worth investigating further. Please update the board and re-test. This field is moving too quickly to spend time on stale software.

[2017-01-12 15:20] jdzerve opened #6310 "PX4 simulator kills all processes which contain 'px4' in name"
There is a very appalling multiple instance detection built in px4 simulator.
It contains command "pgrep px4 && pkill px4"
This effectively kills all processes which happen to have 'px4' in their name.
simple solution would be to add anchors:
pkill '^px4$' so that it would match only 'px4' and not 'apx44'
Of course more sophisticated lock file based scheme would be much nicer.

[2017-01-12 15:21] bkueng commented on #6266
@crossa according to upstream Navio2 [0], the devices are correct. Are you using an older Navio board?

Also, Navio2 only supports RPi 2+3 [1].

[0] https://github.com/emlid/Navio2/blob/navio2/C++/Navio/LSM9DS1.cpp#L7
[1] https://docs.emlid.com/navio2/Navio-APM/hardware-setup/

[2017-01-12 15:29] ChristophTobler commented on #6282
As I suggested:
* https://github.com/PX4/sitl_gazebo/pull/79 will lower the ouput rate of the flow so it will work with the ekf2 and hard coded limits
* Still I don't think that these limits should be hard coded and if so, it should be clearly stated in the dev guide
* We might have to come up with a solution for taking off in flow mode

[2017-01-12 17:00] Stifael commented on #6261
Current status:
I updated two snapdragons with newest linux image and ADSP firmware. Snapdragon_A is the one I used to work with. Snapdragon_B is one that I took from an old vehicle and is older. Snapdragon_C is the snapdragon from @julianoes  with a older linux image but same ADSP firmware. Snapdragon_D is another, newer snapdragon with same state as Snapdragon_C.

Snapdragon_A:
I still have the

[2017-01-12 19:42] dagar commented on #6200
@sanderux px4io/px4-dev-simulation is updated on docker hub with the latest pymavlink and dronekit. https://hub.docker.com/r/px4io/px4-dev-simulation/

What are the next steps for mission tests? Can we come up with an easy way to run them from the makefile like `make mission_tests`? We could use ctest or some other wrapper to run each mission individually and report pass/fail.
Then I'll add a job

[2017-01-12 19:45] dagar commented on #6310
Thanks @jdzerve . Could you open a pull request that fixes it to your liking?
https://github.com/PX4/Firmware/blob/master/Tools/sitl_run.sh#L61
It needs to work on OSX and Linux.

[2017-01-12 22:15] mcharleb commented on #6261
@LorenzMeier I have reproduced the issue when I use the 3.1.2 release from Intrinsyc. When I use an internal release, I am not seeing the shmem issue. I am investigating.

[2017-01-12 22:33] tubeme opened #6314 "Airspeed: Terrible problems again."
Hello,

We've had a peaceful times without airspeed problems but the dreadful problems arose upon us again. :)

1. Five month ago we reported that we cannot arm the PX4 (the command arming) if the airspeed is flat 0 m/s. We had to blow in the pitot while arming in order to work. This is happening with EagleTree sensor which is much calmer than the original sensor and when on the ground it just sta

[2017-01-12 22:44] sanderux commented on #6200
the mission test script starts when gazebo_tandard_vtol is running
[code]

I guess a makefile target would work too

[2017-01-12 22:47] dagar commented on #6200
Ok, so we just need to a way to organize starting multicopter, plane, vtol and running the appropriate mission file.

[2017-01-12 22:50] sanderux commented on #6200
It can take a mission file from the command line:
[code]

[2017-01-12 22:57] dagar commented on #6314
Could you provide more detail? Any error messages or screenshots?
At what point does it fail? After you're instructed to blow?

@AndreasAntener

[2017-01-12 23:51] stephanbro commented on #6189
I gave this a whirl for fun, but the graph is incredibly complex (I used the px4fmu-v2 build).
[test.gv.pdf](https://github.com/PX4/Firmware/files/703170/test.gv.pdf)

Maybe it makes more sense to split things up by topic? Does d3 handle complex graphs like this well?

[2017-01-13 00:45] stephanbro commented on #6096
This has been implemented in #6254, so I'm closing it.

[2017-01-13 00:45] #6096 closed

[2017-01-13 03:39] Antiheavy opened #6315 "new feature request: Fixed-Wing style RTL"
I'd like to propose a set of new features to PX4 to support a more appropriate Fixed-Wing style RTL (Return to Land).  Original post was here: http://discuss.px4.io/t/question-about-fixed-wing-rtl/2073/5

I'm still coming up to speed on PX4, but I have a lot of experience with small UAVs.  I don't have resources to help write code, but I can help work through the details.  I DO have resources to h

[2017-01-13 04:00] dagar commented on #6315
1. With MAV_CMD_DO_LAND_START as the landing of RTL we should get all of this for free.
 2. The existing return to land has RTL_LAND_DELAY which causes the vehicle to optionally loiter over HOME before landing. How would this extend to land via MAV_CMD_DO_LAND_START?
 3. These aren't widely used, and aren't exposed by the GUI. Maybe they should be?
 4. We should double check, but I believe the exi

[2017-01-13 05:07] Antiheavy commented on #6315
1.  ok

2. I think RTL_LAND_DELAY could be a useful function as long as the loiter was over the MAV_CMD_DO_LAND_START location instead of HOME.  I assume setting this to 0 would essentially cause it to be unnoticed?  If it is set it to >0 then the aircraft would hold altitude in the loiter about MAV_CMD_DO_LAND_START location for a period of time.  This might be useful if RTL_RETURN_ALT is high an

[2017-01-13 06:08] AndreasAntener commented on #6314
@tubeme as Daniel suggested, please provide some information on how it fails, which messages you get when (before, between, after blowing, etc.).

[2017-01-13 06:50] AndreasAntener commented on #6200
@dagar @sanderux Makefile/cmake integration would easy and preferable so the entry point is the same as for normal development, have a look how the unittests on posix are run (via ctest target execution `sitl_run.sh`). So it just needs a sitl_run script that also fires off the test (which can be a plain python `unittest`) after booting SITL

[2017-01-13 06:54] AndreasAntener commented on #6200
Oh I see Daniel already is chief here ;): https://github.com/PX4/Firmware/blob/48e7c784e793957cb50ce62aa890438273d90048/src/firmware/posix/sitl_tests.cmake

My main concern would be test naming so it's clear which test name a user has to pass on via the make target

[2017-01-13 07:23] dagar commented on #6200
I was just debating adding them to the existing tests or having something separate.
So then we'd be able to easily run them separately.
 - unit tests that run within a PX4 environment
 - standalone unit tests (one sad param gtest)
 - mission tests

We should try and name them descriptively and make it easy to run both in and outside of a container.

Step 1 - script that starts headless sitl gazebo

[2017-01-13 07:33] AndreasAntener commented on #6200
Right.
For the mission tests we could iterate over a test data folder that contains mission files and generate add_test commands. Possibly with a naming convention to specify which sitl to run.

[2017-01-13 07:49] #6310 closed

[2017-01-13 07:49] jdzerve commented on #6310
Created Pull request for this: https://github.com/PX4/Firmware/pull/6319

[2017-01-13 08:51] lovettchris commented on #6304
the only thing I can think of after studying these logs is that the negative value on altitude caused the set point position control to think it needed to accelerate to reach ground level, a couple feet stuck in the grass causing it to tip over.  If this is the case the landing code needs a major rewrite, it should not try to accelerate (unless you are worried about landing in water?).  And it sho

[2017-01-13 10:08] tubeme commented on #6314
@AndreasAntener @dagar I will provide more info when I get to the machine at our workshop. By memory, it gets error at 2/3 in to the procedure while calibrating and the progress bar moving. Way before it asks to blow in the pitot. Cant remember the messages. Will post them later.

[2017-01-13 10:10] tubeme commented on #6314
The first problem is way more interesting. It is silly when one of us have to stay on all fours and blow in the pitot while the other have to arm... We did not try this alone. It is very interesting how a single person can arm this way :)

[2017-01-13 12:28] tubeme commented on #6314
It does not want to even begin the airspeed calibration with the machine I'm using. It is AUAV X2 + original airspeed. Here you go.

![airspeed problems](https://cloud.githubusercontent.com/assets/12617619/21930040/90e1b736-d99c-11e6-8581-c3392ba4e111.png)

[2017-01-13 13:58] LorenzMeier commented on #6314
Please share a picture of the front and back of the sensor. You have bad hardware or a too long I2C cable.

[2017-01-13 15:14] pkocmoud commented on #6314
There are airspeed testing features included on the NSH command line driver. Calibration in not necessary. Have you tried this?

[2017-01-13 16:53] tubeme commented on #6314
@LorenzMeier Neither bad hardware neither long i2c cables. On all three systems I'm trying right now v1.5.0 is flying killing well, it has no problems with airspeed calibration. The problem started when we installed 1.5.2.  We use different FC and airspeed sensors for testing. The problem persists. I see that the v1.5.2 release states "Improves the calibration handling on Pixhawk 2.1 boards." Coul

[2017-01-13 16:54] tubeme commented on #6314
@pkocmoud We did not try this utils. What are they? In general we don't need to test the sensor. The sensors are working, that is for sure.

[2017-01-13 17:41] dagar commented on #6314
This is failing because the airspeed sensor driver is reporting a non zero error count.
https://github.com/PX4/Firmware/blob/master/src/modules/commander/airspeed_calibration.cpp#L146

I added this after trying to help someone that had a long i2c run. Airspeed still seemed like it was responding on the ground, but their logs were filled with huge spikes and dropouts.

It's possible that requiring

[2017-01-13 17:43] dagar commented on #6314
@tubeme once you see that error message you'll need to power cycle the vehicle to try again. If you check `perf` on the command line (or the perf files on sdcard) it'll show the error count.

    airspeed_comms_errors: 0 events

[2017-01-13 17:44] LorenzMeier commented on #6314
Who say's that @tubeme doesn't have a bad hardware setup? The fact that it worked before doesn't say anything about it being ok. Plus @tubeme had a lot of obscure airspeed related issues in the past that we didn't experience on other vehicles.

Until proven otherwise (photographs of the sensor and wiring and the output of the test command of the sensor) I'd say this is a proper check which is fail

[2017-01-13 17:49] dagar commented on #6314
I agree, but hardware setup is still possible.
At a minimum we should add a more descriptive message for the calibration failing with next steps.

[2017-01-13 18:03] pkocmoud commented on #6314
These errors are exactly what we found as part of https://github.com/PX4/Hardware/issues/55 .

@tubeme Please run on the NSH terminal: meas_airspeed info
Note the number of errors. If you have one of my AUAV i2c hubs, this would help this problem.

[2017-01-13 19:09] svpcom commented on #6282
@ChristophTobler @priseborough  With commit 967197adeea1a9f051c06a851ed64130a079cbb9 flow became works, but only to first flow focus lost (for example flight out of asphalt texture). When I came back to textured field I'm unable to switch to POSCTL mode.  Flow data is good:
[code]
so it seems that something is broken in EKF2.

How to reproduce:
1. make posix_sitl_ekf2 gazebo_iris_opt_flow
2. Switc

[2017-01-13 21:21] dagar commented on #6314
Slightly better calibration failure error message here - https://github.com/PX4/Firmware/pull/6324

[2017-01-13 22:11] davids5 opened #6325 "ADC_5V_RAIL_SENSE board_config.h need to provide R divider for scaling."
@LorenzMeier - in /src/drivers/stm32/adc/adc.cpp

What is the background here?
On V2 HW  VDD_5V_IN that is divided with 10K and 10K?
The comment says  2:1 - that makes sense.

But why is 6.6 is used as the full scale value on the  VDD_5V_IN?

[code]

[2017-01-13 22:12] davids5 commented on #6325
For FMUv5 HW adc.cpp needs to use ADC_SCALED_V5 ad the sense.

[2017-01-13 22:15] LorenzMeier commented on #6325
Because the HW uses 6.6V as input range.

[2017-01-13 22:15] #6325 closed

[2017-01-14 01:16] dagar commented on #6190
Nuttx builds currently split into qgc_firmware and alt_firmware and they're 12-15 minutes each.
https://github.com/PX4/Firmware/blob/master/Makefile#L204

We could try splitting them further.

[2017-01-14 01:16] #6190 closed

[2017-01-14 01:40] dagar commented on #4855
Adding mission tests with Dronekit - https://github.com/PX4/Firmware/issues/6200

[2017-01-14 01:40] #4855 closed

[2017-01-14 01:43] dagar commented on #5586
@jcooper21 this is a mission with a takeoff waypoint?
You want the motor stopped until you throw?
If so, have you looked at launch detection? https://pixhawk.org/firmware/parameters#launch_detection

[2017-01-14 01:56] dagar commented on #6189
Ha, thanks @stephanbro. That's more spaghetti than I was expecting.
Anyone familiar with good tools for displaying graphs interactively? Optionally selecting modules and topics.

[2017-01-14 02:06] dagar commented on #6189
Just a few thoughts from looking at it.
 - can you skip the mavlink, logger, sdlog2 modules? These subscribe to everything and don't really tell us anything. Publications from mavlink could be helpful though.
 - skip the less common drivers.  trone, px4flow, sf0x, iridium, bst, pwm_out_sim, ulanding
 - skip load_mon

If that's still way too much then separate graphs for MC, FW, VTOL could help.

U

[2017-01-14 02:50] chief51 commented on #6314
Not sure if this helps...but I had problems calibrating the digital airspeed sensor I purchased from Jordi MRobotics.

The only way I could get it to calibrate was to ensure to stop air from going in the pitot tube prior to powering up my pixracer. It has worked every time I needed to calibrate it. If not, I would get a message of either it missing or cal would fail.

My question and not sure if t

[2017-01-14 04:43] mhkabir commented on #6275
@LorenzMeier Comments?

[2017-01-14 07:58] julianoes commented on #6275
@bkueng the GPS mavlink message just has the field name wrong but it is hdop according to the spec http://mavlink.org/messages/common#GPS_RAW_INT.

[2017-01-14 08:31] mhkabir commented on #6275
@julianoes Actually - I remember that the mavlink spec was changed to make it DOPs at some point, because we wanted QGC to display the HDOP/VDOP rather than the EPH/EPV.
The original message spec had EPH/EPV. We just kept using the fieldnames to maintain compatibility.

[2017-01-14 08:35] LorenzMeier commented on #6189
@stephanbro Can you send a PR with the script so we can iterate together on it?

[2017-01-14 12:27] myeabhishek opened #6330 "Unable to land via landing command in MAVROS in GPS denied environment"
I am working on offboarding using MAVROS. I have a node that issues setpoints to the drone and a separate node for issuing landing command.
In order to land the drone, I have to first kill the first node that issues the setpoints and then give landing command. In GPS-In environment this works fine but in case of GPS denied environment my landing command is rejected and drone goes into fail safe wh

[2017-01-14 13:08] tubeme commented on #6314
On the first system:

aspd_com_err: 0 events
aspd_read: 18502 events, 0 overruns, 9823195us elapsed, 530us avg, min 383us max 3439us 363.380us rms
aspd_buf_of: 2 events

I will post images from the sensor later when I get to the workshop.

[2017-01-14 13:15] tubeme commented on #6314
System 2:

aspd_com_err: 0 events
aspd_read: 5738 events, 0 overruns, 4750114us elapsed, 827us avg, min 497us max 13284us 658.601us rms
aspd_buf_of: 2 events

![imag0828](https://cloud.githubusercontent.com/assets/12617619/21955105/4b9fa086-da6c-11e6-8826-d076675ba816.jpg)
![imag0829](https://cloud.githubusercontent.com/assets/12617619/21955106/4ba03c30-da6c-11e6-80ed-9f1771b3319f.jpg)

[2017-01-14 13:17] LorenzMeier commented on #6314
Is that the Hobbyking sensor? If yes, then it might very well have read issues. Can you try the calibration again, then read the perf counter?

[2017-01-14 13:18] tubeme commented on #6314
And the Third system:

aspd_com_err: 1 events
aspd_read: 9737 events, 0 overruns, 9957957us elapsed, 1022us avg, min 497us max 9854us 984.300us rms
aspd_buf_of: 2 events

I will post images tomorrow.

[2017-01-14 13:24] tubeme commented on #6314
The sensor from the first system is Eagle Tree v3 airspeed sensor. The second system has HK sensor. The third system has the original 3DR sensor.   With the 1.5.3 and 1.5.2 I cannot perform the calibration at all on all three systems with the errors i sent on the screen. The sensor from the first system is Eagle Tree v3 airspeed sensor.

All the three systems work perfect with the 1.5.0. We perfor

[2017-01-14 13:43] LorenzMeier commented on #6314
@tubeme The check you run into was designed in to guard against a known reliability issue with the 3DR and the HK airspeed sensors. You need a level shifter for them to operate reliably. The same is likely true for the Eagle Tree sensor. So the fact that it *seemed to work* for you doesn't mean your hardware setup is correct.

To the contrary, all indication are that all three of your systems requ

[2017-01-14 14:20] FantasyJXF opened #6332 "NuttX rsync error on windows"
I compile the Firmware on my **Windows 7**

[code]

it runs out
[code]

and I just cant find the file `nuttx_copy_px4fmu-v2.stamp`

Hoping for your answer ^_^

[2017-01-14 14:42] dagar commented on #6332
Could you go into the build directory build_px4fmu-v2_default/ and run `make VERBOSE=1`?
That way it will print that paths used for rsync.

[2017-01-14 14:59] FantasyJXF commented on #6332
It's 11:00PM in China ,I will try tomorrow ,I'm sorry and thank you

[2017-01-14 15:03] LorenzMeier commented on #6314
@tubeme I get an error count of zero on my setup after a long runtime *and* performing the calibration:

[code]

[2017-01-14 15:03] FantasyJXF opened #6334 "Qt runs out `Built target px4` NOT `Built target px4fmu-v2_default`"
On my Ubuntu 14.04 LTS  Terminal

I type `make px4fmu-v2_default` and get `Built target px4fmu-v2_default`

then I use the following commands to get some files for Qt

[code]

Qt runs out [100%] Built target px4 but not Built target px4fmu-v2_default?
I check the CMakeLists.txt and change LINE 143 to set(CONFIG "nuttx_px4fmu-v2_default" CACHE STRING "desired configuration") but didn't work

Hope t

[2017-01-14 15:06] LorenzMeier commented on #6314
Level shifter:
http://www.auav.co/product-p/i2c-hub.htm

Sensor (@pkocmoud should be able to confirm this is the fixed design)
http://www.auav.co/product-p/i2c-as.htm

[2017-01-14 15:09] dagar commented on #6334
Try deleting the build directory and running cmake again with -DCONFIG

    cmake ../Firmware -G "CodeBlocks - Unix Makefiles" -DCONFIG=nuttx_px4fmu-v2_default

[2017-01-14 17:13] tubeme commented on #6314
@LorenzMeier OK so I understand that there is a new check  past v1.5.2 that makes 100% of our speed sensors obsolete?... Two of the configurations have about 500 hours on them with this setup and the one with Eagle tree sensor has good 50 hours of flight. All the flying was airspeed dependent Position, Altitude, Mission and all that was done on faulty hardware... I still dout that.

The Eagle Tree

[2017-01-14 17:18] tubeme commented on #6314
Some images.

![imag0830](https://cloud.githubusercontent.com/assets/12617619/21956660/28d282cc-da8e-11e6-8643-44357c67f480.jpg)
![imag0831](https://cloud.githubusercontent.com/assets/12617619/21956661/28d3256a-da8e-11e6-8324-adb91f0e8063.jpg)

[2017-01-14 18:01] LorenzMeier commented on #6314
@tubeme The system detects and reports an issue. It really doesn't matter if you survived this so far. Make sure that the bus voltages are correct and that you don't have too long cabling - what is the total wire length of your external I2C bus?

Do you have the post-flight perf file of one of your flights? What is the I2C error count it reports?

[2017-01-14 18:15] tubeme commented on #6314
We are very careful with the i2c wiring because it is suseptable to rf. We keep the wiring as short as possible, the original cabling ussualy but not much longer if needed in the different setups.

The errors in the post flight logs of the machines are 90% 0 errors and very seldom 1 error and on couple of occasions 3 errors. This is for the past two months for two of the machines.

As I explained

[2017-01-14 18:35] nicolaerosia opened #6337 "SITL Drone rolls to the right"
Hello,

I'm trying to manually control the drone in SITL Gazebo by using an [RC joystick](https://hobbyking.com/en_us/hobbyking-6ch-rc-flight-simulator-system-mode-2.html) connected to QGroundControl.
I'm instructing the drone to take off (`commander takeoff`) and after that I'm switching the drone to MANUAL mode using the QGroundControl menu.
As soon as I do that, the drone starts rolling to the

[2017-01-14 18:43] LorenzMeier commented on #6314
You indicated that you can't calibrate because of non-zero error counts and you made the implicit argument that this is on three different systems. So what exactly are you seeing as issue? If the error count is almost always zero, why can't you calibrate then?

Do you have other failure cases of the calibration routine?

[2017-01-14 20:06] CarlOlsson commented on #6286
I would go with pure rate control, I think it is the most fun to fly. At least to start with:)

[2017-01-14 20:38] dagar commented on #6295
Running clang-tidy on travis-ci - #6336
Update .clang-tidy to add more checks.

[2017-01-14 20:38] #6295 closed

[2017-01-14 20:49] tops4u commented on #6304
I had a similar case after landing in PosCtl Mode. Your GPS is getting worse after landing and PosX/Y show rather large deviations.

I'm no specialist in this, but maybe Landing was not yet detected and it tried to maintain position which is 6+ meters away after touchdown.

[2017-01-14 20:51] tops4u commented on #6260
@LorenzMeier any Ideas on this one?

[2017-01-14 20:51] LorenzMeier commented on #6304
This should fix it: https://github.com/PX4/Firmware/pull/6327

[2017-01-14 20:53] tops4u commented on #6138
@dagar I did not yet have time to test this... Is this a very uncommon case that Pilots might want to have different Profiles for different Use Cases? If so a more "friendly" Handling of this would be welcome instead of working with numbered Sys_Autostart Numbers?

[2017-01-14 21:11] dagar commented on #6138
It really depends on the specifics. Some things can remain configured, but optionally enabled/disabled with a single param. If you have a significant number of param changes at what point should it be treated like an entirely new vehicle?

With the startup scripts you can easily have a base set of parameters, mixer, etc, and different configurations (SYS_AUTOSTART) that extend it.

Again depending

[2017-01-14 21:52] tubeme commented on #6314
I never mentioned non-zero error counts! Look at my initial issue 1. if Airspeed = 0 cannot arm 2. Cannot begin airspeed calibration with v1.5.2 and 1.5.3 with the screen provided above.

The calibration routine does not start at all...

With v1.5.0 everithing OK.

[2017-01-14 22:06] dagar commented on #6314
Ok, so two different things going on here.

1. if airspeed is 0 you can't arm
  Do you get any error message or anything on screen? Does it have to be non zero during the request to arm or does it have to have any airspeed reading before arming will work?

2. error count non zero causes calibration to fail

[2017-01-14 22:15] tubeme commented on #6314
Yes two thing totaly different.
1. No we have no error message for this. It happens only with eagle tree sensor, because the sensor does not measure speed up to 4 m/s so on the ground the airspeed measurement is flat 0 m/s (not so for the HK and 3DR sensors). it arms with the button but then on command it gives the tino tino tino alarm without any indication in QGC of what might be the reason. We

[2017-01-14 22:35] dagar commented on #6314
1. Ok, we'll need to get someone with an eagletree sensor to investigate. I don't have one.

2. It's conservative, but better safe than sorry.
With several different newer 3.3V sensors I tried multiple times and couldn't get a single error. After losing planes to stupid airspeed sensor problems I'd rather be conservative here. If you're confident there's no issue despite the driver telling you oth

[2017-01-15 00:52] LorenzMeier opened #6341 "Fixed wing flight log review"
@tumbili @priseborough Would be great if you could have a look at this log where EKF resets. Looking at it I'd say its something funky with the mag, but please come to your own conclusion.

http://review.px4.io/plot_app?log=7c3a1c3f-29b7-42ae-bff5-d4a38cefe271

[2017-01-15 06:17] FantasyJXF commented on #6332
![qq 20170115141551](https://cloud.githubusercontent.com/assets/16235526/21960656/46d71568-db2d-11e6-947f-b3a823ccbc19.png)

Still don't know what is "rsyns" -_-

[2017-01-15 06:25] dagar commented on #6332
I'm guessing we need to use relative paths with rsync to work around the cygwin path confusion.

[2017-01-15 06:48] dagar commented on #6332
@FantasyJXF could you try the branch win_nuttx_rsync?

[2017-01-15 06:57] dagar commented on #6315
One minor thing is that MAV_CMD_DO_LAND_START doesn't actually have a position, it's just a marker placed in the mission sequence. The position will be the following waypoint.

Right now I have a solution for RTL land initiating the mission starting at MAV_CMD_DO_LAND_START, however it switches the mode from RETURN -> MISSION, which might be abrupt/confusing. I'll think about other options.

The o

[2017-01-15 07:33] FantasyJXF commented on #6332
Should I change the cmake/nuttx/px4_impl_nuttx.cmake to

[code]

And try the reinstall the PX4 Toolchain then repeat the steps `git clone https://github.com/PX4/Firmware.git`  `git submodule update --init --recursive`

What you said about "bracn win_nuttx_rsync" , I have no idea about it .

I tried 'git branch -a ' and didn't see THE branch

[2017-01-15 16:46] dagar commented on #6332
If you fetch (git fetch --all) you should see it. Otherwise you can manually change the 2 lines to test. If this works it'll go into master shortly.

[2017-01-15 18:57] dagar commented on #6189
Random thought - would this be easier/better to do at runtime? Have some optional code (in uorb?) so that each publication records the module, topic, count, and likewise for each subscription.

Then we can generate the graph for an actual vehicle/flight and color/size each edge based on number of publications.

[2017-01-15 19:35] tubeme commented on #6314
@dagar I can send you one eagle tree sensor? Give me s-mail address...

[2017-01-15 19:48] dagar commented on #6314
How do you find it compares to the MS4525DO sensor? I could do a quick comparison, especially wrt temperature drift. E-mail me? daniel@agar.ca

[2017-01-15 20:25] dagar commented on #4099
Any opinions on if this should be in place or try to land at HOME, or configurable?

As part of this and RTL -> FW mission landing (#6315) there's a bit of confusion I'd like to try and straighten out.
 - LAND mode (soon with optionally respecting wind)
 - missions with DO_LAND_START
 - RTL landing.

There's also a landing abort command, but it's only respected in mission mode.

[2017-01-15 21:40] dagar commented on #2822
Coming back to this with a much better understanding of the existing architecture.

Proposed Stick mapper publications:
 MANUAL: publish actuator_controls (I think MC MANUAL should actually just switch to STAB rather than fake it)
 STABILIZED: publish attitude setpoints
 ACRO: publish rate setpoint
 RATTITUDE: switch between rate and attitude setpoints based on control mode. Rattitude threshold wo

[2017-01-16 01:17] FantasyJXF commented on #6334
it works.Thanks. Next I'm going to solve the "rsync error" on Windows 7 , there are many people encounter  with the same problem

[2017-01-16 01:21] dagar commented on #6334
Glad to hear!

[2017-01-16 01:21] #6334 closed

[2017-01-16 01:24] dagar commented on #6337
@nicolaerosia can you try setting COM_RC_IN_MODE to "Joystick/No RC Checks"?

[2017-01-16 03:21] dagar commented on #5984
So the question is where should the yaw be set? Given that we already send the prev, current, and next position setpoints to the position controller, why not let it determine yaw?

What's the advantage navigator doing it?

Same question for FOH.

[2017-01-16 05:54] nicolaerosia commented on #6337
@dagar That's the default value (actually set by startup script), and it has the roll problem.
I ended up testing also with COM_RC_IN_MODE to "Virtual RC by Joystick", and as you can see in the second image, the Joystick looks calibrated, but the values reported by PX4 for Radio's second channel have an offset.

[2017-01-16 06:25] dagar commented on #6337
With COM_RC_IN_MODE 1 (Joystick/No RC Checks) the actual calibration is on the QGC side. For COM_RC_IN_MODE 2 (Virtual RC by Joystick) you calibrate through QGC, but the calibration is applied by the firmware.

It's unlikely this is a problem in the firmware.

For a sanity check I'd try uninstalling QGroundControl and delete the settings directory, then install the latest stable (http://qgroundcon

[2017-01-16 06:30] meteor0530 opened #6345 "EKF2 replay module reports wrong location of replay log file"
Hi
My system is MAC OS. I run replay tool according to the developer guide, and I dont know how to continue from this step.

![111](https://cloud.githubusercontent.com/assets/22593986/21972960/3c4b1722-dbf8-11e6-912e-80f0aa6c54cd.jpg)
I need some help about the replay tool.
Thanks.

[2017-01-16 07:35] LorenzMeier opened #6347 "Flow out-of-focus takeoff support"
Current discussion state:

- Report flow as valid or special mode if landed (if flow data is coming in)
- Report sonar / altimeter as zero if landed (if altimeter data is coming in)
- Once non-landed time-out after 2-3 seconds if either flow or sonar / altimeter do not become valid
- Ensure position controller goes into failsafe if timing out
- Takeoff should takeoff action, not user-driven altitu

[2017-01-16 07:41] FantasyJXF commented on #6332
Still not OK.  I reinstall the px4 toolchain, and conducted the following steps:

1 ) git clone https://github.com/PX4/Firmware.git

2) WIP: cmake nuttx rsync copy only use relative paths #6342

3 ) git submodule update --init --recursive
     make px4fmu-v2_default

it runs into a different problem

![qq 20170116153854](https://cloud.githubusercontent.com/assets/16235526/21974444/ec103e22-dc01-11

[2017-01-16 07:47] dagar commented on #6332
It looks like you have gcc (mingw) 4.6.2. Can you update to at least 4.8 or 4.9? For master the build system is currently using 5.4.

[2017-01-16 08:12] LorenzMeier commented on #6347
@ChristophTobler @priseborough @tumbili

[2017-01-16 09:01] tumbili commented on #6345
@meteor0530 One of the upper line in the picture above tells you where your replay log will be saved to. You should be able to open that log and view the results, e.g. using FlightPlot.
https://dev.px4.io/flight_log_analysis.html

You might also be interested in this
https://dev.px4.io/tuning_the_ecl_ekf.html

Btw, assuming that the replay tool is working correctly, the GPS fusion timeout messages

[2017-01-16 09:02] FantasyJXF commented on #6332
Usually the default gcc is gcc-arm-none-eabi 4.7.4, I use the gcc5.4.3 to covered same folders in the px4/toolchain .

On master branch , the `make px4fmu-v2_default` get another error message

![qq 20170116163934](https://cloud.githubusercontent.com/assets/16235526/21975942/611606cc-dc0a-11e6-8ab6-88334bf5e547.png)

On  bracn ch win_nuttx_rsync ,it also failed

![qq 20170116170109](https://cloud.

[2017-01-16 09:08] dagar commented on #6332
I would guess your submodules are now out of sync.
Try `make distclean` and then build again.

[2017-01-16 09:15] Stifael commented on #6261
#6312 fixes the shemlock error. Also can confirm that the parameter updates are working now as well.
The is one more issue still: the continuously message sending, but thats a different issue and therefore this issue can be closed.

[2017-01-16 09:16] #6261 closed

[2017-01-16 09:22] FantasyJXF commented on #6332
`make distclean` seems not to be a valid command
![qq 20170116172200](https://cloud.githubusercontent.com/assets/16235526/21977237/4da8a774-dc10-11e6-9816-6dcd34f6e3dd.png)

[2017-01-16 09:27] dagar commented on #6332
It definitely is. We must be using some git submodule argument that isn't available in an older version, or yet another thing subtly broken on windows.

Can you try.

    git clean -ff -x -d
    git submodule sync --recursive
    git submodule update --init --recursive --force

We just want to make sure absolutely everything is clean and updated, the just building again with a more recent GCC.

[2017-01-16 09:34] ChristophTobler commented on #6347
About flow failsafe:
* In the simulation it does switch to ```WARN  [commander] failsafe mode on``` after not getting valid measurements (fly outside of asphalt) after a few seconds. But then it just switches to altitude mode (obviously it can not return when it does not have a position information). I guess it should handle that case by just landing?
* Do what is mentioned above. Then there seems

[2017-01-16 09:36] Stifael opened #6348 "snapdragon dsp error message output"
Currently the same error messages is printed to the mini-dm shell over and over again. It is good that the error message is sent once, but not continuously. An example is the hmc5883 mag sensor, which correctly cannot be initialized.

[2017-01-16 09:45] FantasyJXF commented on #6332
good news ,before taking your advice ,I run the `make px4fmu-v2_default` again. It successes.

But you might want to see the following pictures

![qq 20170116172846](https://cloud.githubusercontent.com/assets/16235526/21977876/20d2efea-dc13-11e6-9145-5e664a05ca74.png)
![qq 20170116172915](https://cloud.githubusercontent.com/assets/16235526/21977880/243eb1c8-dc13-11e6-890f-c1839fa0496b.png)
![qq 20

[2017-01-16 09:47] FantasyJXF commented on #6332
I really realy realy appreciate your help these days, all the time I work alone and there are so so many problems . I'm gong to figure it out what is the PIXHAWK

[2017-01-16 10:01] LorenzMeier opened #6349 "Bebop: Auto-start app"
@eyeam3

[2017-01-16 10:16] #6332 closed

[2017-01-16 10:39] LorenzMeier opened #6352 "FMUv4 / FMUv5: Add QGC Firmware upload support"
Need to add the config for FMUv4 and FMUv5 to QGC.

[2017-01-16 10:45] ChristophTobler commented on #6282
I think we can close this since the actual issue is fixed. Overview on exsting issues in https://github.com/PX4/Firmware/issues/6347#issuecomment-272797412

[2017-01-16 10:45] #6282 closed

[2017-01-16 10:48] LorenzMeier commented on #6347
Yep, we should add auto-land as an option instead of falling back to manual and we should find and fix the issue which is not making it return.

[2017-01-16 11:23] mhkabir commented on #6347
@jgoppert You will be interested in this. We should also consolidate the hack in LPE which we currently use to do the out-of-focus takeoffs.

[2017-01-16 12:27] meteor0530 commented on #6345
@tumbili Thank you, but I can't find replay_replayed.px4log in that file. (actually, there is no file named 'rootfs' below posix)

[2017-01-16 12:44] tumbili commented on #6345
@meteor0530 Ah, I think that location might have changed on master and the message should be updated. I'll change the header of this issue then. Try to look under build_posix.../tmp/
In case you don't find it try to search for the file in the build directory.

[2017-01-16 12:46] tumbili commented on #6345
This is not correct anymore:
https://github.com/PX4/Firmware/blob/master/src/modules/ekf2_replay/ekf2_replay_main.cpp#L836

[2017-01-16 13:32] meteor0530 commented on #6345
@tumbili Thank you for the help, I have found the replay log.
After i change the params in replay_param.txt, how to update the replay log?

[2017-01-16 14:23] tumbili commented on #6345
@meteor0530 After you have changed the parameters in the file you just need to re-run the replay which will use the updated parameters. It will also write those parameters to the replay log file.

[2017-01-16 14:56] mzahana commented on #6098
can this be merged into a stable version that can downloaded by QGC directly?

[2017-01-16 15:34] meteor0530 commented on #6345
@tumbili In order to get the log, do i need to fly my vehicle outdoor and switch to posctrl or just disarm it  on the ground?
Once i flied my vehicle outdoor and switch to posctrl, it could not hover and fly away, is it caused by the wrong params of ekf2?

[2017-01-16 20:18] nicolaerosia commented on #6337
Thank you for the suggestions, I cleaned up my workspace:
[code]
tried QGroundControl stable and daily (cleaning in between) and now it cannot see my Joystick.

Any pointers on how to debug this?

[2017-01-16 20:21] dagar commented on #6337
No, but clearly we've got some work to do with QGC joystick handling. Can you open an issue over there to continue the discussion?

Now that you've completely cleaned everything you could also retry the previous stable. https://github.com/mavlink/qgroundcontrol/releases

[2017-01-16 20:21] #6337 closed

[2017-01-16 20:29] nicolaerosia commented on #6337
Thanks! It was a QGroundControl bug, it works on v3.0.2

[2017-01-16 21:08] LorenzMeier opened #6355 "Transition between manual and auto flight"
@MaEtUgR With the position controller changes the transition between manual and auto is a bit abrupt. I think we should set the hover throttle to the manual throttle, constrained to +- 10% around the configured hover throttle.

Examples:

 * Case 1: manual at 45%, Hover param at 50% -> new auto throttle set to 45% on switch

 * Case 2: manual at 25%, Hover param at 50% -> new auto throttle set to

[2017-01-17 00:44] priseborough commented on #6282
I'm unable to test this ekf2 fix in the sim because the PX4 instructions to install gazebo do not work for the OSX Sierra I am using.

[2017-01-17 03:45] jgoppert commented on #6347
Any reason not to implement a fake landing measurement like LPE does. This gives agl = 0, vx=0, vy=0 when landed. During takeoff the measurement goes away and the vehicle is in the air. Then the covariance matrix for x, y is growing. If it gets too large it publishes that position is invalid. So you get a timeout that is adaptive based on the measurements that you have. I think this is the best op

[2017-01-17 04:52] anton-matosov commented on #6029
I have finally captured uncontrolled forward tilt on my Pixracer
http://logs.px4.io/plot_app?log=b81a4f42-d4a4-4270-8945-57fe07e93eb2

[2017-01-17 05:37] jgoppert commented on #6347
@priseborough That change looks reasonable to me. The only other thing you might want to do is add a measurement of agl = 0 to keep the terrain state and altitude state the same.

[2017-01-17 06:35] priseborough commented on #6347
What I did with the APM implementation was add a parameter which was the expected on-ground range measurement. In the absence of range data it would use the expected on-ground value if not in-air. This allowed for the variation in landing gear height between copters.

[2017-01-17 07:53] mzahana opened #6358 "SF1XX Driver not activated on px4fmu-v2"
Hi,
I was trying to use sf11/c sensor as an altimeter with Pixhawk 1 (px4fmu-v2). However, it did not work as it is not added to the corresponding cmake file [here](https://github.com/PX4/Firmware/blob/master/cmake/configs/nuttx_px4fmu-v2_default.cmake#L30)

Is there a reason not having this available?

[2017-01-17 08:13] sunshine-yan opened #6359 "LED on the ESC have been red light, the other LEDs don't flash green"
Hi,
LED on the ESC  have been red light, the other LEDs don't flash green. Some time ago,i encountered the same problem, than i update the JFlash and it is the latest now, the LEDs flashed green.
However, the LEDs don't flash green again. I don't know how to resolve this problem.
Here is the mini-dm output:
[08500/00]  03:38.175  HAP:61:Processing command: sleep  0139  main.cpp
[08500/00]  03:38.1

[2017-01-17 08:35] LorenzMeier commented on #6282
@priseborough For sierra, try this:

[code]

[2017-01-17 08:36] LorenzMeier opened #6360 "OS X Sierra SITL instructions"
[code]

[2017-01-17 08:42] LorenzMeier commented on #6360
Upstream PR: https://github.com/osrf/homebrew-simulation/pull/198

[2017-01-17 08:55] mzahana commented on #6358
I did that, and it compiled fine. No space issue on Pixhawk 1. What is the
space issue you are talking about then?

On Jan 17, 2017 11:52 AM, "Kabir Mohammed" <notifications@github.com> wrote:

[2017-01-17 08:59] LorenzMeier opened #6361 "Dronekit driven CI"
We need to enable Dronekit driven CI (we have a baseline, it needs completion). Most notably:

  * Add the comparison of ground-truth and estimated vehicle attitude and position
  * Add trajectory checking
  * Once that is in, add more complex missions
  * Add command to run all this on a local machine

[2017-01-17 10:03] MaEtUgR commented on #6355
Definitely, there is a bug in the transition that always generates a throttle spike away from the ground.
I think it's not the vertical thrust integral but maybe something about the velocity control smooth transition calculation.
https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/mc_pos_control_main.cpp#L1741

[2017-01-17 10:05] MaEtUgR commented on #6355
I also found the problem yesterday in our flight log here (it's the transition at about 2/3 flight time):
http://logs.uaventure.com/view/Rgiz7unTzVztqjkhaU9HSZ

[2017-01-17 10:20] sanderux commented on #6361
@dagar, perhaps easiest to port this script to dronekit:
https://github.com/PX4/Firmware/blob/master/integrationtests/python_src/px4_it/mavros/mission_test.py

[2017-01-17 11:16] mzahana opened #6364 "EKF2 Does Not Work with MOCAP"
Hi,

Is there a way to use EKF2 with Mocap? I could not get it working just by sending MOCA_ATT_POS message.

Also it does not make sense, that I use e.g. LPE to do some test indoors with MOCAP, then switch to EKF2 to do the same tests in outdoors.

It would make the comparison more realistic if EKF2 can work in both outdoors (with GPS), and indoors (faked GPS using MOCAP).

So, is there a way to

[2017-01-17 13:34] kd0aij commented on #6029
@anton-matosov Is that log from a 250 and is the pixracer hard-mounted? Your rate P gains are quite low, as is the vibration level. Also, did attitude control performance suddenly go from good to bad?

[2017-01-17 15:47] Antiheavy commented on #6315
Sounds good.  I am available to discuss details if you like.  We can test whenever you have a test build ready.

[2017-01-17 16:25] MaEtUgR opened #6366 "GPS lock is kept forever if once attained"
When I'm outside and get GPS lock the LED turns green and certain features get available.
Today I went back in after a test and clearly lost the GPS signal (the coordinates did not change anymore) but the LED stayed green and I could still access the GPS only features.

Can someone confirm this issue?

[2017-01-17 17:18] sanderux opened #6367 "Altitude loss in back transition results in overshoot"
![image](https://cloud.githubusercontent.com/assets/14801663/22031569/4cb77454-dce1-11e6-8b57-2ca3f5facb56.png)

[2017-01-17 19:09] dagar commented on #6367
Full log?
Is 15 seconds your back transition timeout?

[2017-01-17 20:00] sanderux commented on #6367
The problem is narrowing down to likely be this: https://github.com/PX4/Firmware/pull/5980
The vehicle lost a lot of altitude during backtrans due to difference in level quad/plane
![image](https://cloud.githubusercontent.com/assets/14801663/22037540/dbcb19c8-dcf7-11e6-9866-bb36f78c9d18.png)

Log: http://logs.uaventure.com/view/B5wvQbkXPAmDKpZJ49qGei

[2017-01-17 20:07] LorenzMeier opened #6369 "Snapdragon Eagle: Sensor value spikes after calibration"
@wangxdflight @mcharleb @jywilson @bharath374 We do see sensor value spikes on Snapdragon flight after calibrating the gyro / accel. Could you please help us to reproduce this on your end?

@Stifael and @ChristophTobler found this today.

Getting the Snapdragon support streamlined really depends on driving it through the full use-case. To reproduce this, load master (using the latest Intrinsyc rel

[2017-01-17 20:15] LorenzMeier commented on #6369
Preliminary investigation hints at the MPU9250 driver.

[2017-01-17 20:52] mohradza opened #6370 "Mocap Timeout Error"
I am trying to use Vicon mocap data to supplement the LPE for use in position control. My setup is as follows: Pixhawk (FW version 1.5.1) connected via usb to a Tegra TK1 which runs the mavros script. Then I have a ground station computer running Ubuntu 16 through Parallels. The ground station runs the vicon_bridge script (which won't run on the TK1 because the processor is ARM based), and forward

[2017-01-17 20:54] lovettchris opened #6371 "I would like an offboard mode kill switch"
I just realized the "offboard switch" is actually an "offboard mode on" switch, which is not what I was expecting, or needing.  What I really want for safe experimentation with offboard control is an "offboard kill" switch that stops offboard mode and moves the drone to "loiter" mode.  Interestingly I discovered that toggling my normal "flight mode" switch does not stop offboard mode either.  So e

[2017-01-17 20:58] LorenzMeier commented on #6371
In all use we've seen so far people were far more interested in enabling the off board mode from a switch than just canceling it. The only change you would need is to switch out of off board if any flight mode changes. That seems to make sense (and at that point you don't need an off board switch - you can switch to mission, engage off board and flick back to position control if things go wrong. A

[2017-01-17 20:58] #6371 closed

[2017-01-18 01:20] mhkabir commented on #6370
If you're continually getting timesync errors and timeouts, you definitely have bandwidth issues. Practically every single one of the people in the thread you linked had hardware issues or link problems.
Check your connections. Try printing the deltas using printfs and see what sort of values you get.

[2017-01-18 02:24] lovettchris commented on #6371
ok, will do.

[2017-01-18 02:28] lovettchris opened #6374 "jMAVSim doesn't fly any more"
with latest code, using LPE (not EKF2), jMavSim won't get off the ground.  I debugged this down to line 549 of pwm_out_sim.cpp, I found that changing this:

 			_lockdown = aa.lockdown || aa.manual_lockdown;

to this:

 			_lockdown = aa.manual_lockdown;

solves the problem.  The reason this is needed is because state_machine_helper.cpp line 196 when it is asked to enter HIL_STATE_ON sets lockdown

[2017-01-18 03:26] mohradza commented on #6370
I think the issue comes from not being able to run the vicon_bridge node on the same computer running the roscore / mavros, which in this case in the onboard computer. I have to run the vicon_bridge node from my laptop, which I suspect is introducing some lag when it has to communicate with the onboard computer over wifi. I will try to print out the deltas tomorrow to see what I get.

[2017-01-18 05:21] lovettchris commented on #6355
When I see logic in mc_pos_control that resets integrals I get worried about disjoint control behavior.  Should those be ramps instead of resets?  For example:

              /* reset integrals if needed */
             _thrust_int(2) = 0.0f;

Does the integral really need to start over?  I would find that code easier to read if we had a PID class to encapsulate the PID algorithm.  Then perhaps we

[2017-01-18 06:32] mhkabir commented on #6370
Closing as not flightstack issue. Feel free to continue discussion on discuss.px4.io!

[2017-01-18 06:32] #6370 closed

[2017-01-18 07:21] LorenzMeier commented on #6281
I captured now one instance:
[code]

[2017-01-18 11:11] philippamlong commented on #6286
I am looking for FW acro too. Want to fly FPV and rate mode should give the best experience.

[2017-01-18 11:41] maksimpiriyev commented on #4616
I just found this quite interesting discussion,I propose an algorithm,would be glad if @priseborough  could also comment, to make 2 loiters with 2 different airspeeds as v1,v2. In the first loiter auto calibration adjusts the "offset",in the second with different airspeed v2 , it adjusts "scale". Example the drone loiters with airspeed v1=10m/s ,adjusts "offset", then makes another loiter with v2=

[2017-01-18 17:33] AndreasAntener commented on #6281
Is it possible that https://github.com/PX4/Firmware/pull/6378 helps?

[2017-01-18 17:48] bkueng commented on #6281
It might, but I did not see a clear connection between the 2 (I never reproduced this), so I didn't reference it.

[2017-01-18 18:09] nix7965 opened #6382 "Compile error for STM32F4 Discovery development kit"
Hi,

I am exactly following https://pixhawk.org/modules/stm32f4discovery
But, I saw the following message.

error: pathspec 'NuttX/NxWidgets' did not match any file(s) known to git.
Did you forget to 'git add'?..

 error: pathspec 'NuttX/apps' did not match any file(s) known to git.
Did you forget to 'git add'?...

(Several similar errors...)

error: pathspec 'src/modules/uavcan/libuavcan/libuavca

[2017-01-18 20:48] priseborough commented on #4616
Trying to estimate both offset and scale factor in-flight is an unnecessary complication.

Sensor zero offset error can be calibrated on the ground with the pitot tube covered.

Scale factor error, which is mostly caused by positional error and not having static pressure flow at the static ports can be calibrated in the air using a simple 3-state EKF like the one I implemented on ArduPilot over tw

[2017-01-18 20:53] dagar commented on #4616
@priseborough naive question, but could we (should we?) do something similar in EKF2 or would it be better standalone?

[2017-01-18 22:25] stephanbro commented on #6189
@dagar I went with you suggestion and removed the mavlink, sdlog2, and logger modules and things look a lot cleaner (though not all the way there yet).
Here's an example of that: [pub_sub_nomavlink.pdf](https://github.com/PX4/Firmware/files/715169/pub_sub_nomavlink.pdf)

And here is an example removing the less common drivers you suggested and load_mon:
[pub_sub_nomavlink_noload_mon.pdf](https://g

[2017-01-18 22:32] stephanbro commented on #6189
I also did a MC only graph, but even that feels a bit too cluttered. You can see it here: [pub_sub_mc.pdf](https://github.com/PX4/Firmware/files/715205/pub_sub_mc.pdf)

I'm starting to think that the dynamic viewer using JS is going to be the best option.

[2017-01-18 22:36] LorenzMeier opened #6383 "Daily test flight log analysis"
http://review.px4.io/plot_app?log=90a3f19b-c8c2-44db-887f-0e6f5488aa84

@priseborough We should analyse this and determine root cause.

[2017-01-18 23:15] LorenzMeier commented on #6383
@MaEtUgR @Stifael Please review first thing in the morning. This could be a throttle feedforward fail.

[2017-01-18 23:19] dagar commented on #6189
Nice!
It's getting close to usable. I think it depends what the ultimate purpose of this would be. A dynamic viewer sounds amazing, but realistically would a developer even somewhat familiar with the codebase bother using it when they could just grep?

I personally think the majority of the value is giving potential new developers a gentle and accurate introduction to the architecture that we can

[2017-01-19 00:06] stephanbro commented on #6189
Here is a version using the module level and dropping the additional items you suggested:
[pub_sub_module.pdf](https://github.com/PX4/Firmware/files/715357/pub_sub_module.pdf)

There are some known issues with how I'm grabbing the topic which can be see in this line: ```topic = re.search('ORB_ID\((.+?)\)', line)```.
Right now there are some items, such as the sensor data, which don't follow this m

[2017-01-19 00:26] nix7965 commented on #6382
Without doing "git submodule init" and "git submodule update", it works with single command
"make px4-stm32f4discovery_default"
But, because some people can be confused link me, I think developers may need to update it.

[2017-01-19 00:26] #6382 closed

[2017-01-19 00:42] stephanbro commented on #6189
I've done some small tweaks to also look for the `orb_copy` lines instead of just orb_subscribe, which fixed the issue with the sensors missing connection (possibly other items as well). There are some outlying issues as I'm still relying on the regex in the previous comment.

I was able to do some processing of the data and condense the number of edges as you suggested:
[pub_sub_combined_edges.pd

[2017-01-19 00:52] priseborough commented on #6383
I started with looking at the estimator outputs and have confirmed that innovations are within limits up until ground impact at 354.35 sec.

I see the following series of events:

1) At 348.4 sec there is a switch to attitude control
2) From 350.9 to 351.5 seconds the throttle stick is increased from around 50% to 100% and the rate controller thrust setpoint follows it, achieving about 75% throttl

[2017-01-19 01:06] priseborough commented on #4616
I would rather have it implemented in the library where the airspeed is calculated from the pressure as it would require adding a state to the EKF that has nothing to do with navigation.

[2017-01-19 04:20] dagar commented on #6189
So I actually quite like the last two, but I would guess it still looks like spaghetti to someone new?
What do you think?

If you want to update it in #6368 I could get it running on a CI system and uploading the output to s3. Then we could continue tweaking and try different versions for MC, FW, VTOL, and perhaps different levels of detail.

Nice work!

[2017-01-19 04:27] dagar commented on #6189
Another random idea to explore later, but I wonder if we can force the node positioning a bit to better express the important flow?

This kind of thing, but also with drivers and sensors leading into the estimator.
![screenshot from 2017-01-18 23-25-00](https://cloud.githubusercontent.com/assets/84712/22093645/74438a5e-ddd5-11e6-9351-441d42ede3bf.png)

[2017-01-19 05:45] mhkabir commented on #6275
@bkueng @julianoes I have made the necessary changes here: https://github.com/mhkabir/Firmware/tree/gps_refactor

Most important changes in the GPS topic: https://github.com/PX4/Firmware/commit/2971a69ed79ffe8d9424be562483fe2388af0a8d

Please review, and let me know if you want anything to be done differently.

[2017-01-19 06:13] tumbili commented on #4616
@dagar I already wrote a wind and airspeed scale estimator.
https://github.com/tumbili/Firmware/tree/wind_estimator

I gave it a try in SITL and the results seemed good. There is also a derivation script in python here
https://github.com/tumbili/Firmware/blob/wind_estimator/src/lib/wind_estimator/python/wind_est_derivation.py

Would be nice if somebody from the PX4 team could check the derivation.

[2017-01-19 06:23] tumbili commented on #4616
@dagar FYI https://github.com/PX4/Firmware/pull/6386

[2017-01-19 07:02] AndreasAntener opened #6387 "Potential problem in MC attitude control, keep an eye on it"
https://github.com/PX4/Firmware/issues/6383#issuecomment-273649668

[2017-01-19 07:02] #6387 closed

[2017-01-19 07:07] Stifael commented on #6383
I just had a look, and actually I am struggling to see to what mode the copter switches. The description of the log says that it jumps from non-gps to gps. this is at the beginning of the flight when switching to mission. the undesired delay happens during mission. and the description says that the crash occurs during altitude mode, but I am not sure about that since the color of the flight review

[2017-01-19 07:23] jgoppert opened #6388 "EKF2 performance poor in gazebo SITL with GPS"
Here is a 3-way comparison on master of EKF2, IEKF, and LPE for a SITL box mission with varying altitude. EKF2 fails on the first turn even before the climb. I think we might want to add an EKF2 multirotor test mission. I know the original thinking was that it was some server cpu limitation, but I can't get it to work locally either.

Maybe EKF2 could benefit from some noise tuning for SITL. For I

[2017-01-19 07:58] anton-matosov commented on #6029
Pixracer is semi-hard mounted. If I add P gain I get heavy oscillations. Controls are very precise, the only thing is that drone keeps rotating forward (slowly but surely, with very constant speed)
The issue is not consistent. A simple power cycling helps. I get this strange behavior only 1 out of 5-10 boots. The biggest concern is that you have to start flying before you know that there is an iss

[2017-01-19 09:01] Stifael commented on #6383
@priseborough thank you for the good analysis.
I tried to take pictures from what paul said to better see whats happening:
1. switch to altitude control
2. ramp up throttle (channel 2)-> increase thrust
![crash_2_throttle](https://cloud.githubusercontent.com/assets/13449161/22099649/80b793d2-de2c-11e6-8d95-b0d0a76b8407.png)
![crash_2_thrust](https://cloud.githubusercontent.com/assets/13449161/2209

[2017-01-19 09:36] LorenzMeier commented on #6383
The attitude controller is full 3D and does handle inversion correctly (at least it did before the last set of changes).

Check out the beginning of this video:
https://vimeo.com/85110759

[2017-01-19 09:37] LorenzMeier commented on #6383
@Stifael The low throttle setting is fine - if its not working then its due to incorrect ESC calibration / PWM MIN settings for this particular setup.

[2017-01-19 09:44] Stifael commented on #6383
yep, I mean if the tilt attitude is set to conservative values, then the low throttle setting should work, but that does not mean that at some point we should change that such that you still can control attitude when low thrust is required. IMHO, that would be an improvement.
About 3D: I know the position controller is not 3D (there are parts in the code that do not work if flipped), and since it

[2017-01-19 10:24] tumbili commented on #6388
@jgoppert What kind of gps delay are you using in your tests and do we know the delay that is added in gazebo? I remember that I once opened an issue because gazebo did not delay the gps signal.

[2017-01-19 11:21] gbmhunter opened #6389 "`make posix_sitl_default gazebo_none_ide` is not a valid build target."
It seems that `make posix_sitl_default gazebo_none_ide`, as mentioned on https://dev.px4.io/simulation-gazebo.html, is not a valid build target.

Exact error on trying to run `make posix_sitl_default gazebo_none_ide` on the master branch:

`ninja: error: unknown target 'gazebo_none_ide', did you mean 'gazebo_plane_ide'?`

[2017-01-19 11:32] gbmhunter opened #6390 "`make posix_sitl_default gazebo_tailsitter`, Error opening commands file"
On running the command `make posix_sitl_default gazebo_tailsitter` (as detailed at the bottom of https://dev.px4.io/simulation-gazebo.html) on the master branch, I get the following error:
[code]

[2017-01-19 11:44] priseborough commented on #6383
So how are users to know how much min PWM is required to right a copter? If I was inverted in manual mode, I wouldn't want the controller reducing my throttle to minimum and taking away control authority, particularly given that when falling inverted with non-braking esc's the inflow can make small  PWM changes around idle ineffective due to the free-wheel back emf.

[2017-01-19 11:59] LorenzMeier commented on #6383
@priseborough It would automatically give a minimum amount of throttle and boost it when hitting mixer limits. The trick is to make sure that what we think is 30% is in fact 30% of throttle and not 20%.

[2017-01-19 12:57] jgoppert commented on #6388
Yes, that is true. Currently sitl gps is undelayed and has no noise. We should look into fixing that.  Shouldn't be too hard.

[2017-01-19 12:57] jgoppert commented on #6388
Yes, that is true. Currently sitl gps is undelayed and has no noise. We should look into fixing that.  Shouldn't be too hard.

[2017-01-19 14:47] kd0aij commented on #6029
@anton-matosov I'd really like to understand why your P gains are so much lower than my S250AQ gains. I have 2300KV motors with 5x4.6 2-blade props (also 3S power) and am flying at an altitude of about 1800 meters.  FC is a hard-mounted Pixracer.

My PID parameters are in the header of this plot: https://github.com/kd0aij/impulse-response/blob/master/sample_ulogs/1KHz/S250/flight3/impulse_response

[2017-01-19 15:31] dagar commented on #4616
Thanks Roman! What other surprises do we have hidden in old branches?

[2017-01-19 16:53] jgoppert commented on #6388
I add GPS delay and noise to sim here: https://github.com/PX4/sitl_gazebo/pull/82

[2017-01-19 20:32] stephanbro commented on #6189
I think that it still looks a bit spaghetti-like, but it's thinned out enough that I think it could be understood without too much effort. I've updated the PR with the things we've talked about in this issue so we can start looking at the other builds and types if you want to add it to the CI like you suggested.

I like the idea you have of changing the node positions to have a better flow. Graphv

[2017-01-19 21:46] priseborough commented on #6383
@LorenzMeier In this instance all esc demands are pegged against the minimum value, despite the pilot throttle demand being at maximum, so regardless of esc calibration the controller was failing to generate esc demands with a righting moment.

[2017-01-19 21:51] LorenzMeier commented on #6383
Yep. Regression from a recent improvement - plain sign error.

[2017-01-19 21:51] #6383 closed

[2017-01-19 22:00] tubeme commented on #4616
@dagar Here is a question. During the calibration in 0 m/s speed the PX4 reading from the static sensor equals the reading from the pitot which equals some atmosphere pressure. Or they are two different sensors for the static and pitot and have their "0" calibrated? If there is wind present, the pitot sensor is bouncing so we don't know where the 0 is right?

If this is the case then there is appr

[2017-01-20 00:14] lucasdemarchi opened #6398 "NuttX config maintenance"
I asked this on gitter some time ago with not responses and today we were bit by it with the aerofc board.
See https://github.com/PX4/Firmware/pull/6397

How are the nuttx configuration files for the different boards maintained?

I thought the `reconfigure_nuttx_*` target was supposed to do that, but it doesn't work. Removing the call to "make oldconfig" works, but it produces a configuration so d

[2017-01-20 00:14] lucasdemarchi commented on #6398
@davids5 @LorenzMeier see above

[2017-01-20 00:40] davids5 commented on #6398
See https://github.com/PX4/Firmware/pull/6397#issuecomment-273943550 for directions.

[2017-01-20 00:40] #6398 closed

[2017-01-20 01:08] stephanbro commented on #5843
@priseborough I saw an interesting paper [here](www.mdpi.com/1424-8220/14/11/20008/pdf) where inclination can be used to validate the magnetometers health.

I've implemented something similar in the past using a lookup table, similar to the existing declination table, and comparing it with the current inclination. I could re-create an implementation if you think that could be useful.

[2017-01-20 07:05] priseborough commented on #4616
The airspeed sensor is differential. It measures the gauge pressure between the side of the sensor connected to the static ports (small holes around the circumference of the tube) and the side of the sensor connected to the total pressure port (the small hole facing forward).

[2017-01-20 07:18] tumbili commented on #4616
@dagar Hehe, I think I had a branch in which I implemented the perfect autopilot but I can't find it anymore ;-)

[2017-01-20 07:41] priseborough commented on #5843
It would be useful once the vehicle is in up and away flight, but on the ground and at low altitudes, there can be significant sources of external magnetic anomaly due to steel in building structures and vehicles.

[2017-01-20 08:12] LorenzMeier opened #6399 "Integration test on master fails"
@bkueng One of your recent ulog changes seemed to have broken the CI test in some way.

[code]

[2017-01-20 08:47] jgoppert commented on #6399
pandas is using merge_asof, it requires timestamp to be monotonic. The work around is to use this: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html

I can force px4tools to sort on timestamp if you keep having an issue.

[2017-01-20 08:50] LorenzMeier commented on #6399
It has been flaky for some time so it would be fantastic if you could do the change.

[2017-01-20 09:02] jgoppert commented on #6399
Here is the patch: https://github.com/dronecrew/px4tools/commit/be7fac5cf49e046d3dca61cb9e82a6e4c2928657

I pushed it to pip and released it with tag v0.7.8

[2017-01-20 09:03] bkueng commented on #6399
@jgoppert It should indeed be monotonic. Which topic is affected?

[2017-01-20 09:04] jgoppert commented on #6399
@bkueng If you can find a log you know it broke on I can tell you by catching the exception and printing the topic name.

[2017-01-20 09:07] LorenzMeier commented on #6281
Closing this as fixed because symptom and bug match. Will re-open if it appears again.

[2017-01-20 09:07] #6281 closed

[2017-01-20 09:32] jgoppert commented on #6399
I pushed a fix for this: http://sitl01.dronetest.io/job/PX4%20Firmware%20POSIX%20SITL%20PRs/3991/console it should be live on pip soon. https://github.com/dronecrew/px4tools/commit/a4d644bb2c042da0c20d53040e817963e82d74d9

[2017-01-20 14:59] aysh-shariff opened #6402 "Cannot compile sourcecode with mavlink v1 headers"
I am trying to build the sourcecode with mavlink v1. I  have added a custom mavlink msg to common.xml and generated the headers and modified the mavlink_bridge_header.h  to include
#include <v1.0/mavlink_types.h
#include <v1.0/common/mavlink.h

But I get redefinition errors. How do I fix them ?

Building CXX object src/modules/mavlink/CMakeFiles/modules__mavlink.dir/mavlink_mission.cpp.obj
[ 76%]

[2017-01-20 15:07] aysh-shariff commented on #5336
@ndepal Could you fix this issue ? I am facing a similar problem and could do with some help.

[2017-01-20 15:54] dagar commented on #6402
Hi @aysh-shariff,

It's not immediately clear to me what's specifically wrong, or how you have this organized. Did you generate both mavlink v1 and v2 and place the output in the same location that your firmware source uses?

If you go into Firmware/mavlink/include/mavlink/v1.0 (or v2.0) and run `git status` you should see changes that correspond to your message addition.

[2017-01-20 16:08] aysh-shariff commented on #6402
@dagar git status does show header files pertaining to my msgs in the untracked files.

[2017-01-20 16:08] gbmhunter opened #6403 "Getting run_tests.bash working with rotors_simulator (gbmhunter/rotors_integration)."
@jgoppert (and @LorenzMeier , @AndreasAntener ) I see you've contributed a fair amount to `run_tests.bash`, I was wondering if you could help me with the following error when running `bash integrationtests/run_tests.bash`:

[code]

This occurs after switching the `sitl_gazebo` submodule out for the new and improved `rotors_simulator`. I am currently working on this at https://github.com/gbmhunter/

[2017-01-20 16:24] jgoppert commented on #6403
This is ROS saying that it cannot find the rotors_gazebo_plugins package in the workspace. It creates a catkin workspace in the directory here: home/gbmhunter/src/catkin/src, so take a look. Try to source the ./devel/setup.bash. Then see if ros can run anything from the package  with roslaunch or rosrun.

[2017-01-20 16:32] sanderux opened #6404 "Mavlink messages do not get relayed to GCS"
It seems when sending a mavlink statustext message from a board computer PX4 does not relay the message to the ground station. The question is if this should be implemented and how.

Considerations would be the use of a target_system and default behavior when such an ID is omitted.

In dronekit i tried:
[code]
I also tried
[code]
Neither works

[2017-01-20 16:32] #5702 closed

[2017-01-20 16:33] #5673 closed

[2017-01-20 16:33] #5551 closed

[2017-01-20 16:34] #5511 closed

[2017-01-20 16:44] gbmhunter commented on #6403
Ah thanks for the tip r.e. the catkin workspace.
`roslaunch rotors_gazebo ..`. seems to be valid syntax, but not
`roslaunch rotors_gazebo_plugins ...`
(both are packages within the rotors_simulator repo)

This may make sense as the `rotors_gazebo` package has the launch files. Still investigating...

[2017-01-20 16:47] jgoppert commented on #6403
try running catkin build and then rerun ./devel/setup.bash

It might just be running catkin build px4, in which case you need to add all dependencies to Firmware/package.xml

[2017-01-20 17:20] gbmhunter commented on #6403
If I try and run `catkin make` I get this error:
[code]

`catkin clean` reports that it can't execute because it is not a valid workspace.

[2017-01-20 17:26] jgoppert commented on #6403
I use catkin tools. Not catkin make. See integration script for how to use it. Catkin make is not compatible.

[2017-01-20 17:28] gbmhunter commented on #6403
Ah cool, `catkin_make` works fine.

[2017-01-20 17:51] anton-matosov commented on #6029
@kd0aij I have no idea why do I have such a low P gains. With 3 blade 5051 props I have to lower my P even more.
I am going to try and swap motors on my 250 and see how it affects P gains.

[2017-01-20 17:56] stephanbro commented on #5843
There are definitely issues with external magnetic fields from the things you mentioned, but also rebar in the ground as well. The previous implementation I mentioned worked well to deal with the low altitudes as well. The resolution of the inclination table would be the same as the declination table, 1 degree increments, so the GPS positioning accuracy can be quite low.

[2017-01-20 18:41] gbmhunter commented on #6403
@jgoppert I get past that error if I create symlinks in `run_tests.bash` to the rotors_gazebo and mav_msgs packages (both contained in sub-folders of different submodules within PX4):
[code]

Now I get a similar error, but this time for mavros. This has got me a little more stuck as this is a completely separate repo (https://github.com/mavlink/mavros) from `sitl_gazebo`, and I don't I believe I h

[2017-01-20 19:54] LorenzMeier commented on #6029
We merged a change on master which reduces the rate delay. Test appreciated.

[2017-01-20 22:09] ndepal commented on #5336
@aysh-shariff I have not fixed this issue. At the time when we ran into this, we worked out a workaround which we are still using. This is because we have frozen our PX4 version from upstream at that point.
If you are still experiencing this issue you should re-open this issue or create a new one.

[2017-01-20 22:12] LorenzMeier commented on #6330
We cannot land without GPS - what are you trying to do exactly? Do you have another positioning source?

[2017-01-20 23:11] anuppari opened #6408 "Multiple instances of PX4 SITL"
I'm trying to run a simulation with multiple quadrotors in Gazebo with ROS. I think I can just spawn multiple gazebo models and corresponding px4 nodes in separate namespaces, however they will all publish MAVLink messages to the same port number, and each instance of mavros won't be able to distinguish messages from the individual px4 nodes.

Does the px4 node (i.e., the one launched [here](https

[2017-01-20 23:18] jgoppert opened #6409 "LOCAL_POSITION_NED_COV not sending to QGC"
Even after hardcoding this, disabling every topic in mavlink_main I still get nothing. Might be on the QGC end. I don't have a debugger with me right now to take a closer look.

[2017-01-20 23:22] anuppari commented on #6408
Also, if this feature is not currently implemented, I can probably add it myself if you could point me to the correct source file for that node. The directory structure is different than the typical ROS packages that I am used to and I'm having a hard time trying to figure out which source files generate the ROS nodes.

Thanks

[2017-01-21 07:19] anton-matosov commented on #6017
first iteration https://github.com/mavlink/qgroundcontrol/pull/4458

[2017-01-21 08:36] LorenzMeier opened #6412 "Temp calibration maintainability"
@priseborough Can you have a look?

** CID 140493:  Code maintainability issues  (UNUSED_VALUE)
/src/modules/sensors/temperature_compensation.cpp: 257 in sensors::TemperatureCompensation::calc_thermal_offsets_1D(sensors::TemperatureCompensation::SensorCalData1D &, float, float &)()

________________________________________________________________________________________________________
*** CID 140

[2017-01-21 11:08] #6412 closed

[2017-01-21 12:25] AndreasAntener commented on #6404
Did you try setting the forwarding flag `-f` on the mavlink instance that has telemetry attached?

[2017-01-21 15:08] sanderux commented on #6404
The is no active management on that side, it's just relaying serial to UDP

[2017-01-22 07:27] AndreasAntener commented on #6404
I'm not sure what you are saying. How does the setup look?

[2017-01-22 09:40] sanderux commented on #6404
I'll pm you

[2017-01-22 10:33] sunshine-yan opened #6415 "ESC can't start"
Hi,
ESC can't start. I have tried to replace the "snapdragm_pwm_out start -d /dev/tty-2" with "uart_esc start -D /dev/tty-2". However,ESC still can't start. Is snapdragm_pwm_out about the ESC starting?
The situation is as follows：
![pf4gfk5a g2uci fwwjcmg](https://cloud.githubusercontent.com/assets/13762974/22181811/19e0ee38-e0cf-11e6-9601-3e5f8e0f3d57.png)

[2017-01-22 10:54] LorenzMeier commented on #6415
@jywilson @bharath374 @mcharleb Advice?

[2017-01-22 11:50] sunshine-yan commented on #6415
@LorenzMeier This is the ESC:
![9ihcvo fi8m uxdihccsvjq](https://cloud.githubusercontent.com/assets/13762974/22182261/faf1ab0e-e0db-11e6-9459-243d71571f12.png)

[2017-01-23 02:14] dagar commented on #6402
Try generating mavlink/v1.0 *and* mavlink/v2.0 and restore mavlink_bridge_header.h to its original form. The mavlink module supports mavlink versions 1 and 2. See param MAV_PROTO_VER.

[2017-01-23 05:59] dagar commented on #6367
The better solution is update the VTOL architecture to use fw_pos_ctrl to maintain altitude during back transition. With what we currently have you should try changing the pitch setpoint during back transition to be FW_PSP_OFF and don't reset the fw_att integrators at transition.

[2017-01-23 06:42] bartslinger commented on #6189
Thanks for the great work so far! I would also love to see what it looks like if only the wakeup sources are shown, or perhaps in a different color.

[2017-01-23 14:05] Stifael commented on #6369
Current state:
I think something is just wrong with the MPU9250 driver. After having had the same three error on three different snapdragons (spikes), I had a successful setup with two other snapdragons.
Today I also installed again the newest linux image on two of the snapdraon together with the newest dsp firmware from Intrinsyc. One of the snappies seems now to works without spikes. The other s

[2017-01-23 14:18] Stifael commented on #6348
fixed

[2017-01-23 14:18] #6348 closed

[2017-01-23 16:01] gbmhunter commented on #6403
O.K., most of these problems have been resolved by running the commands inside the `px4-dev-ros:v1.0` docker image and doing a few changes to the load script.

I am now able to run these tests on my local system. Now it seems like all the tests are just timing out (there is 3 of them?). What exactly is needed for the test to pass/complete at this point?

[2017-01-23 16:48] tumbili commented on #6286
@dagar @CarlOlsson I'm also interested in helping drive this. I've spend some time thinking about this and have some comments and questions:

1) We need to handle the turn compensation for acro mode. When you attempt to do a roll the controller will output lots of pitch up which eventually will lead to a yawrate (in earth frame) which then could have a negative (blocking) effect on roll. I've give

[2017-01-23 18:23] gbmhunter commented on #6403
@jgoppert @LorenzMeier The `mission_test.py` test seems to be getting stuck waiting for a global position, as shown by:

![image](https://cloud.githubusercontent.com/assets/2396869/22216928/edd248ee-e198-11e6-80be-d826f27121ad.png)

[2017-01-23 19:25] dagar commented on #6286
I was originally thinking of coming back to this a bit later after casually working on the stick_mapper and/or fw_att_control cleanup, but it's easy enough to do now.

I think the main thing is to coordinate and agree on a design here. At a minimum we'll need to refactor ecl to be able to set body rates directly.

1. Should acro even have turn compensation?
2/3. Would that be if sticks are neutral

[2017-01-23 20:48] tumbili commented on #6286
@dagar Comments to
1) Can't really say, I never flew a fixed wing in acro. I could imagine that it could be useful holding the altitude while doing rolls.

3) I would go for keeping the attitude. That may help when flying in turbulence.

[2017-01-23 21:19] LorenzMeier opened #6422 "Intel Aero: Add MAVLink crash dump via serial"
@zehortigoza We should add a MAVLink crash dump via serial. I'll merge https://github.com/PX4/Firmware/pull/6421 now but it would be good to be able to know what's going on for each hard fault.

[2017-01-23 21:28] dagar commented on #6286
Intuitively I think attitude lock does sound better. It should be easy to experiment with and without as well as per axis. It also easily gives us rattitude from the beginning as well.
I think that should also take care of the knife edge case.

[2017-01-23 22:05] AndreasAntener commented on #6286
There are 2 use cases:
1) fun 3d flying for everybody
2) rate support for planes with properties that make them difficult to fly nice manually (also for good pilots)

For 1) attitude locking is fine, for 2) body rate control is needed. Reading back @CarlOlsson would also go for rate control. I'm also more a fan of 2 because I think if you now how a plane flies fully manual you'd expect a similar b

[2017-01-23 22:27] AndreasAntener commented on #6286
I've quickly looked through a few stabilizers and most of them support both, some of them only with attitude locking. Rate only control is usually advertised as added stability with less adverse impact on agility of the plane.

NX3 Evo: both
FY-40A: attitude
Vector: both
bavarianDemon: both
APM: attitude

[2017-01-23 23:30] dagar opened #6423 "pixracer stops responding after mission upload"
Pixracer running current PX4 stable FW with EKF2 stops responding when syncing a mission.

    It is very easy to repeat, I can be in any mode and all that I have to do is reupload a
    mission that either has too steep of a glideslope or one where the land waypoint is
    higher than the previous waypoint. It is fairly random when it occurs, sometimes it
    happens on the second upload sometime

[2017-01-23 23:31] dagar commented on #6423
I'll try and reproduce this locally.

[2017-01-23 23:52] Kjkinney commented on #6423
We have reproduced it on the ground in a custom version of 1.5.1 and version 1.5.4 in both qgroundcontrol 3.0.2 and 3.1.0. This error has been reproduced across 3 separate aircraft all using pixracer.

[2017-01-24 00:00] dagar commented on #6423
Would you mind trying the latest PX4 master as well? https://s3.amazonaws.com/px4-travis/Firmware/master/px4fmu-v4-default.px4

If it happens and auto resets check the sdcard for a hard fault log.

[2017-01-24 00:31] anuppari commented on #6408
I'll share my progress in case anyone is trying to do something similar.

The files in [this folder](https://github.com/PX4/Firmware/tree/master/posix-configs/SITL/init) are the startup scripts for the simulated px4 (e.g., [this file](https://github.com/PX4/Firmware/blob/master/posix-configs/SITL/init/lpe/iris) is the default script), in which the port parameters for mavlink are set.

Starting up

[2017-01-24 00:54] Kjkinney commented on #6423
It won't trigger on px4 master. Switched to the current 1.5.4 and it happened right away.

[2017-01-24 05:45] dagar commented on #6286
That's for the overview @AndreasAntener

I think now the most difficult part is deciding how to restructure ECL fw_attitude. The body angular rate transformation is done in control_bodyrate, but depends on the rate setpoint from other controllers from the same iteration.

[2017-01-24 07:07] AndreasAntener commented on #6286
I'll discuss with Roman today but I'm thinking of extracting the PID controls from the control_bodyrate methods and use them directly when in the correct mode. Then split up the block for attitude control. This should work for rate control. For attitude locking I think the ECLs need a mode so you can use them like now but they handle all the axis without the turn compensation. We're probably only

[2017-01-24 07:45] CarlOlsson commented on #6286
Great to see so much progress here, awesome! I agree with @AndreasAntener, the preferences for acro mode are probably very different from person to person. Some want a mode that does the aerobatic "by itself" and some want a plane that feels more like it is in "assisted manual". However, I think pure rate control is the most natural mode that should be supported. It is also what users outside of t

[2017-01-24 08:02] tumbili commented on #6286
@dagar Here is a video of my first results.
This is controlling body x rate with pitch still controlled as in stabilized. You can see really well how rudder is used to control pitch at large roll angles.

https://www.youtube.com/watch?v=t8Ie6F2PFF4&feature=youtu.be

[2017-01-24 09:38] MaEtUgR opened #6426 "Manual Stick control minimal lowpass filter"
When for example letting the spring loaded roll,pitch stick fall back to the center position, high frequency setpoint oscillations can occur.

These Setpoint fluctuations directly get to the controller and can drive the system unstable. I think there should be a minimal low pass filter on any user input. It should not influence the pilots intended input at all but filter all fast disturbances.

In

[2017-01-24 10:20] tumbili commented on #6286
@CarlOlsson I have a question about turning behaviour in acro mode.
When you speak about "full rate control" what do you mean regarding the body_z axis?
When you bank the plane it will try to do a turn which requires non-zero body_z rate. Should there be some kind of turn coordination in acro mode?

[2017-01-24 10:59] bkueng commented on #6408
Hi @anuppari

uORB is used for intra-process communication on Linux. What you need is to start multiple `px4` processes and make sure they use different ports for the mavlink communication with the simulator.
I haven't used it, but there is a script for this here: https://github.com/PX4/Firmware/blob/master/Tools/sitl_multiple_run.sh. Not sure if that still works though.

[2017-01-24 12:23] CarlOlsson commented on #6286
I would as a start not control rate around body z since it is not really needed to achieve a smoother more wind robust feeling for a plane in acro mode compared to pure manual, it is also not possible to control it for many airframes, e.g. flying wings without rudder.

[2017-01-24 12:28] tumbili commented on #6286
@CarlOlsson Is your plane ready? ;-)
https://www.youtube.com/watch?v=Qz62aW02SPk&feature=youtu.be

[2017-01-24 13:49] CarlOlsson commented on #6286
@tumbili of course :)

[2017-01-24 17:16] anuppari commented on #6408
I think I'm doing something equivalent to the script, but through roslaunch.

Here is the main launch file I call (`asap_gazebo_sim` is the name of my package):
[code]

The `quad.launch` file is:

[code]

The `iris{n}` files called in the main launch file are the same as the [file here](https://github.com/PX4/Firmware/blob/master/posix-configs/SITL/init/lpe/iris) except with the mavros ports chang

[2017-01-24 17:37] anuppari commented on #6408
The erratic behavior leads me to believe there is some cross-talk somewhere. The ROS topics are all isolated, so I think it might be in the uORB topics. [This tutorial](https://dev.px4.io/tutorial-hello-sky.html#step-5-subscribing-sensor-data) seems to suggest that there is only one global topic for each msg type, unless you include modifications presented [here](https://dev.px4.io/advanced-uorb.h

[2017-01-24 18:08] nicolaerosia commented on #6408
Gazebo plugin is communicating with PX4 `simulator` module on a default port 14560.
Relevant links:
https://github.com/PX4/Firmware/blob/master/posix-configs/SITL/init/ekf2/iris#L47
https://github.com/PX4/Firmware/blob/master/src/modules/simulator/simulator.cpp#L164

[2017-01-24 18:28] anuppari commented on #6408
Thanks @nicolaerosia, that fixed the `WARN [simulator] bind failed` issue, but the quads still fly erratically. Any clarification on whether uORB cross-talk is a potential cause?

[2017-01-24 18:54] nicolaerosia commented on #6408
You're welcome!
I would say no since I believe the IPC is done in px4 private memory.
You need to make sure you bind the Gazebo instance of the quad with the corresponding PX4 simulator.

[2017-01-24 19:31] wangxdflight commented on #6369
I am working on it,,,trying to reproduce it first.

[2017-01-24 20:10] wangxdflight commented on #6369
@Stifael Are you seeing this issue still on the master tip? I recently submitted 2 PRs, which fix some issues in shared memory, synchronization between data passing from dsp to app processor. I am hoping these changes can help to fix this issue.
I am not able to reproduce it on my setup. Were you flying the drone when you see the issue? I need help to reproduce it if you are still seeing this issu

[2017-01-24 20:31] LorenzMeier opened #6428 "Free mixer space on PX4 IO"
@dagar For reference:

- src/lib/rc allocates a static buffer per RC protocol, but they all read from the same port. These should be mapped to a pointer for the buffer instead.
- Check for other big static allocations that might have crept in
- Check for buffers that could be reused, like the mixer RX buffer
- Check stack sizes and used stack for the main task and threads

[2017-01-24 20:48] CarlOlsson opened #6429 "Corrupt log files (sdlog2) on stable"
I was just out flying a bit with my quad (1.5.3) and for some reason the three last log files are corrupt. MAVExporer can't open them and if i try logmuncher I get "internal server error". Nothing should have changed so do you think the SD card broke in some way or could it be another explanation?
logs are here
https://drive.google.com/open?id=0B2ZFETFZcTREVmdsVVNIa09hSVk

[2017-01-24 20:54] anuppari commented on #6408
Thanks, that fixed it.

For anyone else interested, the additional changes I made were adding the port argument (i.e., `-u [port #]` to the px4 startup script (e.g., [this line](https://github.com/PX4/Firmware/blob/523688e43c4563ef92b329e05d21a2df6a3b0c47/posix-configs/SITL/init/ekf2/iris#L47) @nicolaerosia linked above) as well as change the port number for the corresponding gazebo plugin (e.g.,

[2017-01-24 20:59] LorenzMeier commented on #6408
Would you mind sending a pull request?

[2017-01-24 21:06] tubeme opened #6430 "PX4FMU: Recongnized as COM port in Win 10"
Hello,

I have the following problem. When I connect the Pixhawk to Win 10 the device is recognized as plain COM port. So I could not start the flashing.

I know that there are similar problems when connecting Pixhawk to USB hub. But in my case I connect it directly. Or could it be an internal hub that is messing the driver?

Any ideas?

[2017-01-24 21:13] tubeme opened #6431 "PlayUAVosd: PX4 problems."
Hello,

I reported this in https://github.com/mavlink/qgroundcontrol/issues/4449

And then Lorenz did this patch: https://github.com/PX4/Firmware/commit/1c42cea28e6e09c75ed2c8ab5c012ee4465f9ffb

But I flashed today the Master on the PX4 and connected the PlayUAVosd and again the same problem as in #4449

[2017-01-24 21:24] anuppari commented on #6408
No problem, see https://github.com/PX4/sitl_gazebo/pull/83

[2017-01-24 22:39] tubeme opened #6432 "Joystick: Not able to arm with RC"
Hello,

We've had some problems with the Joystick with the new version in
https://github.com/mavlink/qgroundcontrol/issues/4442

But @DonLakeFlyer and @NaterGator help resolve the issue.

But now there is another set of problems.

It does not matter if the COM_RC_IN_MODE is 1 or 2. all the time  the joystick and RC are fighting. All the control surfaces shake on button arming. And I cannot arm wit

[2017-01-24 23:02] dagar commented on #6432
This is partially fixed here - https://github.com/PX4/Firmware/pull/6391
I'll give it another test and merge later tonight if it works as expected.

[2017-01-25 01:15] lovettchris commented on #6430
Assuming you have the PX4 driver installed, what do you see from the [system console](https://dev.px4.io/advanced-system-console.html)?

You can get this if the PX4 is not booting properly, and the system console will show you why.  For example I can get this when I disable ekf2 and enable LPE but forget to change SYS_MC_EST_GROUP to 1.  Or vice versa.  When this happens the rcS boot script doesn'

[2017-01-25 06:50] LorenzMeier commented on #6431
Its impossible that you get this very error message since I commented it out. Can you please be more specific? You have for sure not the "same problem". What is your new problem?

[2017-01-25 07:07] dagar commented on #6402
@aysh-shariff is this resolved?

[2017-01-25 07:14] mhkabir commented on #6402
Closing as resolved. There's no need to edit anything in the source. Just the headers need to be generated and placed in the directories.

[2017-01-25 07:14] #6402 closed

[2017-01-25 07:55] LorenzMeier commented on #6423
@Kjkinney Can you please re-test this with the latest stable? I have increased the navigator stack size, which is the likely cause. I could not reproduce locally.

[2017-01-25 08:14] aysh-shariff commented on #6402
@dagar I generated both the headers and placed in the respective folders.
However, using
#include <v1.0/mavlink_types.h
#include <v1.0/common/mavlink.h

still gives compilation errors. But I am using v2 headers in mavlink_bridge_header.h since both the headers are compatible. That solves my issue. So I'm not concerned about the compilation errors anymore.

[2017-01-25 08:27] #6259 closed

[2017-01-25 13:12] Stifael opened #6434 "position control tilt increase from upward flight to 0"
When flying position control, the vehicle show a tilt increase when flying upward to hover.

[2017-01-25 13:52] Stifael commented on #6434
a sitl log:
http://logs.px4.io/plot_app?log=e4df0269-6a8b-482c-a169-a5fe384a9d59
From the log it looks like the switch from velocity setpoint control to position control seems to be abrupt with a step in position setpoint. This abrupt switch with not correct position setpoint reset causes a very low thrust setpoint and as a consequence causes a roll setpoint.
![vel_pos_switch](https://cloud.github

[2017-01-25 14:38] tubeme commented on #6431
The moment I connect the PX4 to QGC even before the parameters are loaded I get the same exact screens as in: mavlink/qgroundcontrol#4449 Exactly the same screens. I can make a full LOG with DebugView but I allready provided log in  mavlink/qgroundcontrol#4449.

[2017-01-25 14:42] tubeme commented on #6430
The problem is that the device is booting properly and it is recognized as a com5 port. When I try to manually force the FMU driver the windows crashes.

The problem is that on my laptop everything is perfectly OK. I'm able to flash the board, it connects as PX4FMU etc.

[2017-01-25 16:03] Kjkinney commented on #6423
Just tested with the latest stable and I could not reproduce it. I am getting a lot of operation timeout errors if the plane is armed however.

[2017-01-25 16:53] ChristophTobler opened #6436 "latest master: region `flash' overflowed by 304 bytes"
When running ```make px4fmu-v2_default```, there is an overlow

[code]

[2017-01-25 17:02] davids5 commented on #6436
@ChristophTobler I have seen intermittent issues with this of late on local build .

[code]
Did you do a ```make clean``` and is it repeatable?

[2017-01-25 17:44] MaEtUgR commented on #6426
I started to work on this now on this branch: https://github.com/PX4/Firmware/tree/pr-rc-filtering .

[2017-01-25 18:00] Kjkinney commented on #6423
@LorenzMeier @dagar Tested version 1.5.1, 1.5.2, 1.5.3, 1.5.4 and all cause a lock-up roughly 1/4 of the time when a mission is uploaded with an invalid landing. We know this because we get the bad tones related to mission failure and we see the "WARN [navigator] Last waypoint to close to landing waypoint" or "Landing waypoint above last nav waypoint" in the console just prior to lock-up.  The loc

[2017-01-25 18:28] LorenzMeier commented on #6423
I will try to repro and close this when I could validate your results. Cause and fix are completely logical though, so I'm rather confident we nailed it.

[2017-01-25 18:41] ChristophTobler commented on #6436
@davids5 I ran ```make px4fmu-v2_default clean``` and it was repeatable on my desktop.

[2017-01-25 22:44] dagar commented on #6426
Unless you want this immediately I could add a filter as part of the stick_mapper (https://github.com/PX4/Firmware/issues/2822) I've been slowly picking away at. https://github.com/PX4/Firmware/compare/master...dagar:stick_mapper?expand=1

The idea is to centralize setpoint generation from stick input and get all the manual_control_setpoint usage out of the controllers. I was going to use BlockLow

[2017-01-26 00:45] Doolly commented on #6408
what port number do I have to use in
<arg name="fcu_url" value="udp://:14560@localhost:14559"/>
and
mavlink start -u 14559 -r 4000000 -m onboard -o 14560 ?
I get 'unsupported FCU' message or 'address already in use' messages when I change port numbers in variable ways

[2017-01-26 02:25] dagar commented on #6423
@Kjkinney this is definitely fixed by increasing the navigator stack. I was able to reproduce after 5 tries in 1.5.4, but not at all in 1.5.5

Navigator 1.5.4 stack 1300 bytes
 PID COMMAND                   CPU(ms) CPU(%)  USED/STACK PRIO(BASE) STATE
 264 navigator                    1469  1.716  **1296/ 1296** 105 (105)  w:sem

Navigator 1.5.5 stack 1500 bytes
 PID COMMAND                   CPU(m

[2017-01-26 02:25] #6423 closed

[2017-01-26 03:23] dagar commented on #5970
Reproducible in SITL.

On Sun, Dec 11, 2016 at 10:35 AM, Andreas Daniel Antener <
notifications@github.com> wrote:

[2017-01-26 07:51] MaEtUgR commented on #6426
I just started using `math::LowPassFilter2p` but your idea sounds like a good solution I appreciate.
What is your timeframe?
Maybe we could even cooperate to push further?

[2017-01-26 08:01] dagar commented on #6426
Hopefully I'll find some time finish off the basic version this weekend.
The core stick mapper works for manual, acro, rattitude, stab, but I've mainly tested FW.
On the MC side I need to go through and make sure mc_pos_ctrl stops publishing during manual/stab.

The hardest part right now is figuring out how to handle VTOL, including switching between params that define input limits (MC <-> FW).

[2017-01-26 08:48] ChristophTobler commented on #6436
@davids5 I tried on my notebook and there it worked. I also tried ```make clean``` on my desktop and got the same output. ```arm-none-eabi-gcc --version``` produced the same output on both devices:
[code]

[2017-01-26 09:15] CarlOlsson commented on #6429
Yes it was the SD card that was corrupt

[2017-01-26 09:15] #6429 closed

[2017-01-26 09:28] LorenzMeier commented on #6434
It really looks like a transformation error when going from 3D acceleration to attitude.

[2017-01-26 09:57] Stifael commented on #6434
I will go step by step through the math where the mapping occurs from thrust_sp to attitude_sp

[2017-01-26 10:46] Stifael commented on #6434
The math seems to be correct, at least the part which are used during this maneuver. I also tested what happens when I set the vehicle into an orientation with x = [1,0,0], y = [0,1,0], and z =[0,0,1] and just wen upward. in this scenario, the vehicle should then always try to keep that orientation, and that is also what happens.

[2017-01-26 11:07] Stifael commented on #6434
Ok, setting the attitude setpoint to [1,0,0,0] then it works. so it is definitely a mapping issue. I am going ahead and change that part to quaternion mapping since it is lees prone to errors

[2017-01-26 14:30] dennisss commented on #6408
Should anyone find it useful, I've written a gazebo plugin (https://github.com/dennisss/tansa/blob/master/src/gazebo/swarm_plugin.cpp) for hot-loading models into an open gazebo world at arbitrary positions and starting the SITL instances. The instance starting is based on the previously mentioned sitl_multiple_run.sh modified to work with the latest master (https://github.com/dennisss/tansa/blob/

[2017-01-26 15:31] davids5 commented on #6436
@ChristophTobler

This is odd! Is it master with no changes?

Please try the following:

```ccache -C```
```git submodule sync --recursive && git submodule update --init --recursive```

The rebuild.

The next thing would be to ``` make distclean``` but it can be destructive as it will delete ANY untracked files.  ***use with caution***

[code]
See https://git-scm.com/docs/git-clean

[2017-01-26 17:00] Stifael commented on #6434
I recomputed the desired attitude from thrust_sp with quaternions and dont consider yaw at all (the section here: https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/mc_pos_control_main.cpp#L1948-L2003), and I still get the same output. this means it happens farther up the code when the thrust setpoint is computed.

[2017-01-26 17:12] wangxdflight commented on #6369
Hi, Lorenz: is this issue still reproducible? I suspect the randomness was
due to lock/synchronization issue in shared memory, and it should have been
fixed with recent changes. Can you please confirm?
Thanks.

On Mon, Jan 23, 2017 at 6:05 AM, Dennis Mannhart <notifications@github.com>
wrote:

[2017-01-26 18:39] Stifael commented on #6434
current state:
I commented out almost everything except for the velocity controller to reduce the possible causes. It turns out that at low thrust_sp in z direction (for instance at thrust_min_z), the velocity error in x and y produce  desired thrust_sp in x and y which are relative to the z direction large and therefore become more critical. One way to verify the above analysis is to set thrust_s

[2017-01-26 18:49] ChristophTobler commented on #6436
@davids5 I had some changed files which made it trigger... Thank you and sorry...

[2017-01-26 18:49] #6436 closed

[2017-01-26 19:01] LorenzMeier commented on #6434
Thanks for the update - excellent communication with the rest of the dev team!

Does that mean X and Y need to be scaled to be consistent with hovering throttle plus side throttle? What I mean with that is that the X and Y demands assume keeping the altitude and so the total Z direction should be compensating gravity plus the horizontal demand. If the system is not keeping Z constant then the tota

[2017-01-26 19:03] LorenzMeier commented on #6369
@Stifael will be able to comment Monday

[2017-01-26 19:10] Stifael commented on #6369
@wangxdflight:
I apologize for not returning to this issue earlier. Today I received a snapdragon which I havent touched yet. So tomorrow I will reflash that one a will comment the outputs here

[2017-01-26 19:48] anuppari commented on #6408
@Doolly, as [mentioned here](https://github.com/PX4/Firmware/issues/6408#issuecomment-274886350), port 14560 is already used for communications from gazebo to the simulator/px4, so you need to use different ports for communication between px4 and ROS. Your two lines are correct in the sense that it should be:

arg name="fcu_url" value="udp://:{port1}@localhost:{port2}"
and
mavlink start -u {port2}

[2017-01-26 19:51] anuppari commented on #6408
Can anyone explain why there are two mavlink streams, i.e., in iris there is:
[code]

What is the first stream on port 14556 for? Currently each instance requires keeping track of, and editing files, with 4 different ports, I'm hoping to streamline this a bit if possible.

[2017-01-26 22:51] pfkrp opened #6443 "EKF2 - GPS fusion fault?"
Hi guys,
after a few days of testing EKF2 something odd happened. While executing some simple mission, just after take off, my copter started to run away. At first I thought that I made something wrong during mission planning because it seemed as if the copter began heading in the direction of second WP, but it accelerated and passed the WP about 8m from that. I took over control but it was too la

[2017-01-26 23:50] lovettchris opened #6444 "RTL allows user take over without mode switch"
RTL kicked in (set to 50 meter radius), and it brought the drone home and during landing user wanted to nudge the x-y position a bit, but as soon as they touched the sticks the drone immediately switched to stabilize mode, and drone started to plummet until user realized and ramped up throttle to catch the free fall.  I love the idea of being able to nudge the drone while landing (like Solo) but i

[2017-01-27 00:09] dagar commented on #6444
So the intention is that after a geofence breach you should be able to easily continue your flight after RTL brings your vehicle back within the boundary.

Options that immediately come to mind.

 1. only allow mode revert to happen for some defined time after the geofence breach (eg 10s)
 2. RTL land actually initiates LAND mode. The mode change would invalidate the possibility of geofence escape

[2017-01-27 02:23] lovettchris commented on #6444
Fair enough, my assumption was RTL was a type of auto mode, so I was surprised by the difference in behavior here.  The 3DR solo allows x-y tweaks during landing - it's a nice way to ensure you land right on the launch pad, which is handy in rough terrain.  I would be fine with RTL working like other auto modes requiring mode switch to take control - as it is a bit too easy to bump the sticks acci

[2017-01-27 02:42] weiweikong commented on #6408
@anuppari There is one port for connection between Gazebo and PX4 module, and the other is for connection between PX4 module with ROS.

[2017-01-27 03:18] edsellar opened #6445 "Mag wont calibrate successfully/Excessive offsets"
I read through 3711 and 3997 before posting.

The issue is that I can't get mag0 to calibrate successfully. I have tested stable/master and a few past versions. All the same, excessive offsets.

Hardware is Pix1 and external 5983.

I thought this may be a hardware issue but I pulled out the pix and it calibrates fine. So then I thought it was the ext compass so I switched it to a 5883 I've used be

[2017-01-27 04:14] lovettchris commented on #6304
Yes, landing is much better now. Thanks.

[2017-01-27 04:14] #6304 closed

[2017-01-27 04:37] lovettchris opened #6446 "Landing won't quite land"
Auto landing on today's master PX4 branch using ekf2 on px4fmu_v2-default is much improved, thanks.  But still one minor issue today.  On a Team Blacksheep Discovery, the drone descended smoothly (a bit slowly actually, 0.3 m/s, goal was 0.5) then leveled off about 8 inches above the ground.  I had to cut the motors for it to actually land.  See last 16 seconds of [this log file](http://logs.uaven

[2017-01-27 06:38] nicolaerosia commented on #6408
@anuppari IMO The first port is for Ground Control Station communication, while the second one, "onboard" is for the companion computer, which in your case is ROS
See here:
https://github.com/PX4/Firmware/blob/master/src/modules/mavlink/mavlink_main.cpp#L1810
https://github.com/PX4/Firmware/blob/master/src/modules/mavlink/mavlink_main.cpp#L1986

[2017-01-27 07:24] AndreasAntener commented on #6444
We too noticed during testing that this is quite confusing. Mainly because the user doesn't necessarily realize that it went into RTL. @dagar option 1) could help there, at least you would see that it's doing something :)
But, I would also be fine with disabling this, needing to flick a switch forth and back seems like a good alternative.
I wouldn't switch to land for the position shift, but rathe

[2017-01-27 07:26] tumbili commented on #6443
@pfkrp Could you please add plots of the estimator innovations?
It's this topic https://github.com/PX4/Firmware/blob/master/msg/ekf2_innovations.msg

[2017-01-27 08:56] bkueng commented on #6443
Here's a recent log from our flight test people where something similar happened: http://logs.px4.io/plot_app?log=4fa1b2b4-8b19-4f77-815b-81fb8855834c

[2017-01-27 09:59] priseborough commented on #6443
I can't do ekf analysis based on screen shots, please provide the log file.

[2017-01-27 13:20] pfkrp commented on #6443
@tumbili @priseborough Could you please email me on pfkrp0@gmail.com ?

[2017-01-27 13:55] pkocmoud commented on #6443
While bench testing sitting still with GPS connected a Pixracer several days ago, I watched the ship icon drift considerably in a straight line on the QGC map. After a couple seconds, It jumped instantly back to where it started and I saw "EKF GPS fusion timeout - reset to GPS" warning. Not sure it is related but I thought it was odd. If you think this is related, I can spend more time seeking thi

[2017-01-27 14:25] bkueng opened #6449 "Pixracer: duplicated driver instances"
On a recent Pixracer (I don't have that problem on an older one), starting the sensors driver `mpu6000 -R 2 -T 20608 start` instantiates two driver objects, resulting in totally 3 sensor publication instances, 2 with the same device id.

Relevant boot output:
[code]

The problem seems to be that several bus options in [0] match, without comparing the device_type.

@davids5 What do you think is the

[2017-01-27 15:08] davids5 commented on #6449
@bkueng

I think a quick fix is to NOT use the default "all" in the startup script for FMUv4 but add the [- bus options](https://github.com/PX4/Firmware/blob/master/src/drivers/mpu6000/mpu6000.cpp#L2626-L2640)

The correct fix is to have boards configs supply device that can be probed for to the drivers.  The is on my list of to-dos.

I do not think device_type would be the correct criteria as a b

[2017-01-27 16:09] bkueng commented on #6449
Adding a busoption `-s` does not work, because both are marked as MPU6000_BUS_SPI_INTERNAL1

[2017-01-27 19:46] Stifael commented on #6355
@lovettchris: thats actually the goal, but its not something that can be done easily without making sure that nothing breaks. I think once we have tests that cover most of the mc_pos_control module, we then can start splitting the code into different classes etc.

[2017-01-27 19:53] Stifael commented on #6106
Whats the state here?

[2017-01-27 20:06] davids5 commented on #6449
ahh - I can have a look at it

When you say recent when did you get it?
What chips are on your board?

[2017-01-27 21:17] LorenzMeier commented on #6355
@lovettchris Its unlikely you can handle this with a generic PID class any better. The reason is that the interactions in the attitude controller are trigonometric and most of them stem from multi rotors being underactuated.

What we can improve is encapsulation to make it more readable. But the complexity will likely continue to persist and limits and boundary conditions will likely be sprinkled

[2017-01-27 21:48] pkocmoud commented on #6449
When I run this command on a fresh Pixracer I get:
mpu6000 -R 2 -T 20608 start
MPU6000 on SPI bus 1 at 6 (1000 KHz)

[2017-01-28 08:57] dagar opened #6456 "FW auto land with intermittent terrain data"
Fixed wing crash reported by @Flying_Forfun on px4 discuss during auto land with a lidar light. Unfortunately no sdlog is available, which is another bug.

During fixed wing auto land the terrain data becomes intermittant and due to the confusion the vehicle starts climbing, initiates flare at > 60m and stalls during the portion where the pitch setpoint is forced (https://github.com/PX4/Firmware/b

[2017-01-28 12:21] LorenzMeier commented on #6449
The device ID code is wrong - it likely doesn't set the device ID struct properly

[2017-01-28 13:04] tumbili commented on #6443
@pkocmoud You wouldn't have a log of that would you?

[2017-01-28 13:48] LorenzMeier commented on #6445
Can you try to calibrate outside of the plane (just a bench setup with Pixhawk and external GPS module?).

Its either your plane / copter or you're calibrating near a metal object or you are not actually spinning the system around in six dimensions.

[2017-01-28 13:50] LorenzMeier commented on #6456
That whole feature is highly experimental and not application-hardened. It will need some love and whoever picks it up needs a bit of time. We do have a lidar in Gazebo (mounted to the optical flow iris), so the best would be to start with a pull request for sitl_gazebo which adds it to the plane model and starting testing there.

[2017-01-28 13:52] LorenzMeier commented on #6432
I consider this fixed in master. This doesn't mean that we have implemented handover between joystick and RC, but at least you now get consistent behaviour. Someone wanting to use both at the same time will need to put up the time to architect the whole handover logic and API on the ground control side. That's probably worth a few days implementation and testing and unless there is a generic need

[2017-01-28 13:52] #6432 closed

[2017-01-28 13:55] LorenzMeier commented on #6431
Please re-flash master. The build server was silently broken last week and its possible you never actually got that fix.

[2017-01-28 13:57] LorenzMeier commented on #6446
This PR https://github.com/PX4/Firmware/pull/6362 does fix landing and land detection in a very smooth and reliable way. If it doesn't work for you on that branch then the conclusion would be that your system (min throttle, hover throttle) needs proper setup.

Detecting the landing requires a valid vehicle model, which is provided by the min and hover throttle. We can't something generic without t

[2017-01-28 13:57] #6446 closed

[2017-01-28 14:03] LorenzMeier commented on #6422
@bkueng @davids5 We need in general crash dumps in ulog so it would be good if you could connect in the next week and figure out how we dump the crash data to ulog. We probably should also log threads which are close to running out of stack and implement a proper warning about them.

The approach for crash dumps I have in mind is roughly like this:

  * After the reset, let the ulog app check if t

[2017-01-28 14:04] LorenzMeier opened #6457 "Append crash dump to ulog"
@bkueng @davids5 We need in general crash dumps in ulog so it would be good if you could connect in the next week and figure out how we dump the crash data to ulog. We probably should also log threads which are close to running out of stack and implement a proper warning about them.

The approach for crash dumps I have in mind is roughly like this:

  * After the reset, let the ulog app check if t

[2017-01-28 18:03] dagar commented on #6444
@AndreasAntener for 1) what do you mean "at least you would see that it's doing something"? Right now the mode does change and is announced in a default QGC setup. There are also mavlink critical messages.

For land I'm talking about the land phase of RTL actually switching to the land navigator state, but that's kind of a separate discussion.

If this is causing confusion (even among experienced

[2017-01-28 19:17] LorenzMeier commented on #6449
Fix in: https://github.com/PX4/Firmware/pull/6461

[2017-01-28 20:07] LorenzMeier opened #6462 "AStyle version upgrade to 2.06"
@dagar We should upgrade to 2.06 because the current 2.05 proposes stupid changes like the one here:
https://travis-ci.org/PX4/Firmware/jobs/196193750

Its really making the formatting worse. 2.06 doesn't do that.

[2017-01-28 20:24] tubeme commented on #6431
ok I will do this.

[2017-01-28 20:28] tubeme commented on #6444
I think the problem is the drastic difference in the modes between auto and manual. If it switches to Position mode then there should be no problems given now you can land in Postition mode.

[2017-01-28 20:47] dagar commented on #6444
The use case imagined was a casual flyer or FPV racer flying and blowing past the geofence, brought safely back within the fence via RTL, and then wanting to easily regain control by wiggling the sticks to resume whatever mode they were in previously.
Now I'm thinking a mode change to break out is likely good enough and less confusing.

[2017-01-28 22:15] LorenzMeier opened #6464 "Smart RTL"
We have a pretty nice Smart RTL implementation sitting in a pull request. We should bring that one or a minimal version using waypoints into 2.0.0.

[2017-01-28 22:17] LorenzMeier opened #6465 "Factory calibration + field calibration"
We currently have a single calibration. We should enable having a factory calibration for autopilots and then allowing an user-calibration (within bounds) to refine it.

[2017-01-28 22:25] dagar commented on #6464
Graph-based Return-To-Land pull request by @samuelsadok - https://github.com/PX4/Firmware/pull/5829

[2017-01-28 23:43] jgoppert commented on #5575
This is in progress on IEKF branch, @priseborough can you check if this looks reasonable for ekf2: https://github.com/PX4/Firmware/blob/d0d843750956ae7752b76e88d1af21df5676b69b/src/modules/iekf/params.c

[2017-01-29 03:38] Antiheavy commented on #6443
I've seen a similar issue on several occasions and marked it up to bad GPS.  All I can provide is a few anecdotes that may or may-not be helpful:

1) Had an aircraft with a Pixracer and a very-very cheap "ublox m8n" (likely a knock-off) GPS/Mag.  On several occasions the aircraft position on the Qgc map would jump around and looked a lot like the first x-y plot shown at the top of this thread.  It

[2017-01-29 09:33] LorenzMeier commented on #4110
Fixed.

[2017-01-29 09:33] #4110 closed

[2017-01-29 09:34] LorenzMeier commented on #4446
This has been checked and fixed now.

[2017-01-29 09:34] #4446 closed

[2017-01-29 09:50] #5197 closed

[2017-01-29 10:44] AndreasAntener commented on #6444
@AndreasAntener for 1) what do you mean "at least you would see that it's doing something"? Right now the mode does change and is announced in a default QGC setup. There are also mavlink critical messages.

For land I'm talking about the land phase of RTL actually switching to the land navigator state, but that's kind of a separate discussion.

[2017-01-29 10:49] LorenzMeier opened #6469 "IO Firmware build: Incorrect CMake dependencies"
@dagar @jgoppert Something with the dependency generation is odd:

[code]

[2017-01-29 10:59] priseborough commented on #5575
There will be many estimator specific tuning requirements, even for those parameters that are common so I do not support sharing parameters between estimators.

[2017-01-29 11:17] LorenzMeier commented on #6469
IO is rebuilt on ROMFS changes. That makes no sense at all.

[2017-01-29 12:13] jgoppert commented on #5575
That was also my concern.  I thought it might work if we use these numbers as a noise floor and have estimator specific process noise added to them.

[2017-01-29 12:53] weiweikong commented on #6106
@Stifael In our current experiments, this period still exist.

[2017-01-29 13:49] LorenzMeier commented on #6106
@julianoes That should sound familiar.

[2017-01-29 13:52] LorenzMeier commented on #6462
Done on master.

[2017-01-29 13:52] #6462 closed

[2017-01-29 16:15] LorenzMeier opened #6472 "Calibration changes in UI and documentation"
We should add two new options to our calibration workflow once the mag and temp cal changes are in:

  * If a factory calibration is available for the vehicle it should be always and separately applied. New parameters will be necessary for this, including parameters for allowed deviations of the user calibration. These parameters likely should be prepended with `FCAL_` or `FCA_` if one character m

[2017-01-29 16:52] LorenzMeier opened #6473 "Add support for a hardware counter for total flight time"
E.g. http://datasheets.maximintegrated.com/en/ds/DS1683.pdf

[2017-01-29 18:35] dagar commented on #6444
Ah, I keep forgetting that people actually fly without a GCS sometimes. Good point.

[2017-01-29 20:08] vvranjek opened #6474 "Vulnerability in px4_log.c"
I am running a slightly modified version of v1.5.3 and I realized that `warnx()` caused a system crash. After some debugging I found out that in `px4_log.c` in function `void px4_log_modulename()`, `int level` was set to 2. Setting it to `level = 4;` right after `const uint8_t log_level_table[]` fixes the problem. I haven't debugged any further, and will let you guys fix the problem, as you know t

[2017-01-29 20:28] dagar commented on #6469
Something is definitely not right with the NuttX build dependencies. It must be touching something one build which then causes a larger rebuild the next.

	 % ninja -j1
	[48/48] Generating px4fmu-v2_default.px4, firmware_nuttx.bin

	 % ninja -j1
	[2/2] Copying NuttX for px4io-v2 with nsh

	 % ninja -j1
	[48/48] Generating px4fmu-v2_default.px4, firmware_nuttx.bin

	% ninja -j1
	[2/2] Copying NuttX

[2017-01-29 20:55] vvranjek commented on #6474
Here is how to reproduce the problem on stock v1.5.3:

Write `warnx("Whatever, testing warnx");' in line 394, file: `tecs.cpp`.
Run simulator X-Plane 10 in fixedwing.
Arm, Mission mode
It will crash within a minute.

I know it's a lot of printing, but i tried printing every second and it's the same thing.

[2017-01-29 21:43] jgoppert commented on #6469
I originally implemented it with external project, there was some reason at the time it was annoying or wouldn't work.

[2017-01-29 21:50] dagar commented on #6469
I think I found a simple fix. Happy to leave it alone for now. #6475

[2017-01-29 23:02] LorenzMeier commented on #6474
@vvranjek Thank you for reporting this and spending the time analysing it. I would be interested to understand how you fixed it. Your description above does not hint at an issue to me. Here is how the code will evaluate for a log level of `2`:

Here are the log levels:

[code]

So using `level = 2` in this call:

[code]

Will index the *3rd* entry, which is the warning log level = 4. So its equiva

[2017-01-30 03:34] dagar commented on #6082
There are some good clang-tidy checks we can enable to really force initialization everywhere. We could even do the bulk of the initial pass automatically. This would be c++11 initialization.

	modernize-use-default-member-init
	readability-redundant-member-init
	cppcoreguidelines-pro-type-member-init
	cppcoreguidelines-interfaces-global-init
	modernize-use-equals-default
	modernize-use-equals-del

[2017-01-30 07:58] #6469 closed

[2017-01-30 09:00] vvranjek commented on #6474
At first I thought that number `2` doesn't exist in the array, but then I realized my mistake. However, setting level to 4 still fixes the problem.

I reproduced the the error on stock v1.5.3, no modifications. Here are some other things that fix the problem:

- Using `printf()` instead of `warnx()`
- Commenting out the whole `if` statement below `/* publish an orb log message */` in px4_log.c.
-

[2017-01-30 09:08] lovettchris commented on #6446
I will try the new bits.  I assumed the QGC configuration for the Team Blacksheep Discovery was already set correctly.  Is there more I need to do? Can you provide a pointer to wiki page on how to configure min/hover throttle correctly ?

[2017-01-30 10:24] LorenzMeier commented on #6446
It will likely require tuning. Its also specific to your build / battery / payload

[2017-01-30 10:51] ChristophTobler opened #6478 "QGC overlook warning"
Apparently I'm not the only one overlooking the warning and searching elsewhere. Maybe warning needs to be more in your face ;)
![qgc_warning](https://cloud.githubusercontent.com/assets/14769636/22420322/39db8748-e6e2-11e6-8a82-59fff8f1c6f7.png)

[2017-01-30 10:55] lovettchris commented on #6446
I see, I wonder if we could do some auto-tuning, like this: [Automatic Learning of Hover Throttle](http://ardupilot.org/copter/docs/ac_throttlemid.html#automatic-learning-of-hover-throttle) ?

[2017-01-30 11:00] LorenzMeier commented on #6330
Land is a normal operation command, failsafe is something entirely different. We will not add no GPS support for landing

[2017-01-30 11:00] #6330 closed

[2017-01-30 11:22] bkueng commented on #6449
The device ID is a different problem, it's not fixed yet. I'll propose a fix.

[2017-01-30 11:36] LorenzMeier opened #6479 "Pitch sp is interpreted on takeoff as delay"

[2017-01-30 14:50] Stifael commented on #6369
@wangxdflight:
I am sorry for the delay. i tried to test it, but it did not work yet as expected. Did not see any spikes, but wasnt able to calibrate. I need to investigate farther.

[2017-01-30 14:51] LorenzMeier commented on #6474
Does the issue also go away if you increase the stack of your module in task_spawn by 200 bytes?

[2017-01-30 15:24] gbmhunter commented on #6403
Issues here have been resolved.

[2017-01-30 15:24] #6403 closed

[2017-01-30 16:31] davids5 opened #6481 "CONFIG_RAM_SIZE may not be correct way to determine RAM size"
See https://github.com/PX4/Firmware/pull/6451#pullrequestreview-18961944

[2017-01-30 16:54] MaEtUgR opened #6482 "LowPassFilter2p stability?"
The low pass filter in the math library can easily be ran with a configuration that drives it unstable.

I encountered this issue when filtering RC input and choosing the cutoff frequency above (sample frequency)/2. Everything above is unstable and the value itself is critically stable.

Maybe there should be a check for that inside the filter?

[2017-01-30 18:36] vvranjek commented on #6474
I have set navigator task size to 2000 and it still crashed but it seems later. I realized thought, that as soon as I send `top once` command it crashes at time of printing top or right after. Memory usage seems fine.

I did the right thing raising the memory in `navigator` task, since the change that causes the crash is in `tecs.cpp`, right?

Also, I think it would be nice to log stack usage of e

[2017-01-30 19:34] lovettchris commented on #6444
It would be safer if the stick bump switched to POS CTRL.  I agree user can learn it is doing this from the heartbeat and/or statustext.  The reason I filed this bug is I was mostly worried about crashing the drone accidentally by bumping the sticks during RTL when no other auto-mode will behave that way.  POS CTRL should solve that.  But it begs the question, why not allow this take over on any a

[2017-01-30 19:40] dagar commented on #6444
I'm now thinking about getting rid of this behaviour altogether, but I'll try to explain what's currently happening.
It's not allowing the user to regain control in any RTL, it allows a user that was in a manual mode (manual, altitude, position, acro, etc) and breached a geofence to quickly retake control and go straight back into the mode they were in. So this only happens if you have geofence ac

[2017-01-30 19:46] lovettchris opened #6483 "Request for feature: manual nudging of autonomous flight modes"
3DR solo allows nudging of x-y position during landing.  This is handy when you want to hit the launch pad when you are in rough terrain.  Why use auto-landing then?  Because it is usually better than manual landing on the vertical control, same reason I use ALT-HOLD mode most of the time.

But what if we generalized this and allowed minor nudging of position during all autonomous modes.  One time

[2017-01-30 20:01] LorenzMeier commented on #6444
I'm thinking in an opposite direction: Rather than trying to get rid of it to switch to the closest mode available with manual input, which is POSCTRL. This makes sense for planes and multicopters and VTOL.

Wanting to adjust / abort the landing can make sense in a lot of situations. But rather than having two pilots, allowing the human to take over is much more consistent.

[2017-01-30 20:04] lovettchris commented on #6444
Speaking of two pilots, see my [new feature request](https://github.com/PX4/Firmware/issues/6483).

Daniel's explanation makes sense, I can see how that is useful if you expect that behavior.  So it allows take over as soon as it enters the fence?  could have some interesting battles between manual and RTL right over that boundary then :-)

So here's where it was confusing.  While still outside ge

[2017-01-30 21:14] dagar commented on #6444
The geofence action won't trigger faster than once every 10 seconds. So if you violate the fence it will immediately switch to RTL (depending on GF_ACTION), you could then retake control right away and stay outside of the fence, but then 10 seconds later it would retrigger again.

To summarize, could I have your feedback on a specific solution here? @lovettchris @LorenzMeier @AndreasAntener @tubem

[2017-01-30 21:23] lovettchris commented on #6444
Looks good, timeout not needed, main thing that resolves this for me is position control.  What about the Landing phase of RTL?  Would this also apply there, or is landing different? I suspect not because I believe it was during landing that we ran into this issue.

[2017-01-30 21:24] LorenzMeier commented on #6444
I would generally allow RTL to be exited to position control if you move the sticks. That seems intuitive.

[2017-01-30 22:09] dagar commented on #6444
Sounds good to me, and it also simplifies the code and user expectation.

We should do a little testing and make sure it's a definite intentional (sustained?) stick wiggle that makes sense on both RC and gamepad/joystick.

[2017-01-30 22:50] AndreasAntener commented on #6444
Still not a fan. The suggested improvements all sound fine, but I have the same concern as before. One idea to improve feedback of what's going on would be to let RTL turn the plane towards home first before it lets the user "wiggle" out of it. I imagine this would make sense in general for the GF violation.

[2017-01-30 23:23] wangxdflight commented on #6369
I am seeing some issues which might be related updates in sensors.cpp,
voted_sensors_update.cpp. There was lots of changes introduced there.
Still debugging.

On Mon, Jan 30, 2017 at 6:51 AM, Dennis Mannhart <notifications@github.com>
wrote:

[2017-01-30 23:52] dagar commented on #6444
No problem, I'd rather have these discussions now instead of after the code's been written and tested.

What's your preferred solution?

So now we've generalized RTL as something you can break out of by wiggling the sticks which would leave you in posctl mode. Should we also have a param to enable/disable?

[2017-01-31 01:51] DonLakeFlyer commented on #6478
QGC warnings should pop up in a window just below the toolbar as well. Did you get a warning that didn't pop a window? If so, can you come up with steps to reproduce and put the issue on QGC github?

[2017-01-31 01:55] PeterQFR opened #6484 "Bug in Offboard mode incorrect use of type_mask"
Hi, I've been developing to use px4 flight stack in offboard mode. However in setting the velocity values in x, y, and z using mavlink_set_position_target_local_ned_t, I noticed that the inputs were not being reflected when receiving the mavlink_msg_posiiton_target_local_ned.

I identified the bug in src/modules/mavlink_receiver.cpp handle_set_position_target_local_ned() function.

The type_mask f

[2017-01-31 02:23] mhkabir commented on #6484
@PeterQFR Would great if you could create a PR. Thanks!

[2017-01-31 02:25] dagar commented on #6484
That's unfortunate. It looks like some of those bits are covered by the mavlink spec, but not the setpoint types. That code might actually be readable if those were DEFINES.
http://mavlink.org/messages/common#SET_POSITION_TARGET_LOCAL_NED

[2017-01-31 02:58] PeterQFR commented on #6484
@dagar instead of #defines I can include the definition of that part of the typemask in the definition file of mavlink common enums, common.xml. It will be generated in common.h and thus it will be available to whomever needs to use the message? I can also include the other typemasks as the description of which bits to set is confusing as the bit numbering starts at 1 instead of 0.

[2017-01-31 03:03] dagar commented on #6484
Yes! That's definitely the better solution.
Mavlink definitions are in this repo - https://github.com/mavlink/mavlink

[2017-01-31 09:10] Stifael opened #6487 "Improvement: acceleration max, min, limit"
In the mc_pos_control, there is a function called "limit_acceleration", which is currently rather used as a slewrate function for velocity (https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/mc_pos_control_main.cpp#L1286).
In addition, the if clause for horizontal acceleration is always entered when accelerating from zero to non-zero velocity, since the acceleration computed fr

[2017-01-31 09:26] vvranjek commented on #6474
Did some more testing and found out that most likely `fw_pos_ctrl_l1` was running out of memory. I raised the stack size to 2000 from 1700 and it haven't crashed since. Previously it would crash within a minute, sometimes right after takeoff. I think the problem is solved, except that the crash never triggered the core dump, thus I was unable to tell which task crashed and it made it difficult to

[2017-01-31 13:22] mhkabir commented on #6474
Sorry, didn't mean to close this. Some sort of a mobile Github fail.

[2017-01-31 18:49] maksimpiriyev commented on #4616
I tried pitot cover with modifying the airspeed calibration code.After the calibration it started to bounce between 0-2m/s with freq=0.2-1 then after some minutes offset slightly moved up with airspeed bouncing between 1-3m/s. As @AndreasAntener  mentioned this probably would not cause a problem in high speeds. Another idea might be useful to model the natural frequency (or the damping constant) o

[2017-01-31 18:59] nkhoit opened #6488 "Battery failsafe action can be interrupted unintentionally"
Currently if a critical battery failsafe action is being performed, it's pretty easy to unintentionally kick it out of a battery failsafe without realizing it.
It's related to what's happening here: https://github.com/PX4/Firmware/blob/master/src/modules/commander/commander.cpp#L2481
Meant to deal with geofence violations it seems but also triggers on battery failsafe.