[2017-01-31 19:00] dagar commented on #6488
Another instance of this - https://github.com/PX4/Firmware/issues/6444

[2017-01-31 20:31] lovettchris commented on #6444
Well I vote for the position control fix.  I assume Andreas is probably voting for physical mode switch since he said earlier "needing to flick a switch forth and back seems like a good alternative."  I'm fine with either fix actually.

[2017-01-31 20:41] tubeme commented on #6431
@LorenzMeier Solved! It gives once the WPM: REJ. CMD: Req. WP unexpected error but when closed it is perfectly fine. I will try to make them correct their code. BTW this OSD can load and show the mission (graphically) while in flight so probably there is the problem. It requests the mission from the PX4 in some inappropriate way.

Thanks Lorenz!

[2017-01-31 20:42] #6431 closed

[2017-01-31 20:43] tubeme commented on #6430
Solved! Windows drivers problem... Thanks

[2017-01-31 20:43] #6430 closed

[2017-01-31 21:15] tubeme commented on #6314
Works with all sensors available to us! Thanks to all.

There are some minor glitches with the Eagle Tree. But tomorrow I will send a spare sensor to Daniel

@LorenzMeier @dagar

[2017-01-31 21:15] #6314 closed

[2017-01-31 22:38] #6449 closed

[2017-02-01 06:36] AndreasAntener commented on #6444
Because the break out is already there we should try to improve it first and see if it gets accepted. We can always make an option to disable it.

[2017-02-01 17:06] jgoppert opened #6493 "EKF2 won't takeoff with flow only"
On master I"m still not able to do flow missions with EKF2. It won't takeoff. My goal here is to compare performance with LPE and IEKF.

[2017-02-01 17:08] jgoppert commented on #6493
Startup and mission send, then arm.

[code]

[2017-02-01 17:12] jgoppert commented on #6493
The aid mask was incorrectly set, but still not luck:

![image](https://cloud.githubusercontent.com/assets/473772/22517607/bcff8840-e877-11e6-9e09-4849db4e1080.png)

[2017-02-01 17:14] jgoppert commented on #6493
Has anyone flown this with optical flow in real life/SITL or is all of this code still in development?

[2017-02-01 17:30] mhkabir commented on #6493
EKF2 has never worked in this setup. Probably needs https://github.com/PX4/Firmware/issues/6347.

[2017-02-01 17:40] jgoppert commented on #6493
OK, thought that was already in, I"ll try to force a takeoff by starting with GPS and then disabling it and seeing what the performance is like.

[2017-02-01 17:47] jgoppert commented on #6493
No luck, logic errors, so none of this has actually been tested before, we need to fix that.

[code]

[2017-02-01 19:49] lovettchris opened #6495 "HIL_CONTROLS question"
Is this comment wrong in the code (mavlink_messages.cpp, line 2247) :

    /* scale PWM out PWM_DEFAULT_MIN..PWM_DEFAULT_MAX us to -1..1 for rotors */
    out[i] = (act.output[i] - PWM_DEFAULT_MIN) / (PWM_DEFAULT_MAX - PWM_DEFAULT_MIN);

I'm seeing values ranging from 0 to 1, not -1 to 1.

[2017-02-01 20:47] ChristophTobler commented on #6493
@jgoppert Correct, auto takeoff is currently not working. We need to introduce the origin parameters: https://github.com/PX4/ecl/pull/234#issuecomment-273422616
I can have a look at that with @priseborough

[2017-02-01 22:57] jgoppert commented on #6493
Ok, even when in the air and initialized with gps, if you turn gps it still fails. So more to fix than just takeofff. Probably a publishing logic issue.

[2017-02-02 10:59] julianoes commented on #6106
@LorenzMeier I believe this is different because in my case the attitude rate setpoints were not published for a while and I don't see that here.

[2017-02-02 12:21] artemskorsky opened #6498 "Pixfalcon Buzz and not works on master"
after uploading master branch to pixfalcon it buzzes several times,
and servos not electrified.downgrading to branches like 1.5.x or 1.4.x
does not solve the issue still buzzes in the downgraded versions,
It used to work well in the stable branch.
ps: rc is not connected

[2017-02-02 12:51] ChristophTobler opened #6499 "low/critical battery warning when first powered by usb"
If you power your autopilot hardware with USB first and then connect the battery you will get a warning saying your battery is low even when it is full.

[2017-02-02 13:29] artemskorsky commented on #6498
this problem doesnt happen with pixhawk

[2017-02-02 16:49] nacho-carnicero commented on #5600
Hi I'm getting similar problems when trying to compile with `posix_sitl_default` as target. I have the Command Line Tools installed (as it can be seen from the error message), but I still get the following error message:
[code]

I'm in Mac Os Sierra (10.12.2) with Xcode 8.2.1

Any help would be appreciated!

Cheers,

Nacho.

[2017-02-02 17:40] LorenzMeier commented on #5600
You're missing parts of the command line tools / support libraries. You don't have the POSIX headers. Once you install them you should be fine.

[2017-02-02 17:42] bkueng opened #6501 "Incremental build broken when switching branches"
Sometimes when switching between branches, the incremental build is broken, with the following error:
[code]

It looks like the NuttX patches are not applied when rebuilding. `make clean` does resolve it, but I think this should work incrementally as well.
I never had this problem before the NuttX upgrade.

@dagar Can you have a look?

[2017-02-02 17:58] dagar commented on #6501
Is the NuttX submodule changing in these situations?

Generally I'm a little paranoid and do `make distclean` between branches, but I'm often jumping between branches off of latest master, and branches off of stable.
We should still make incremental build reliable.

[2017-02-02 19:22] bkueng commented on #6501
I think so but I haven't explicitly checked that.

Thanks for looking into it.

[2017-02-02 21:33] LorenzMeier opened #6504 "Baseline PX4 certification script"
@bkueng @priseborough  We should do a baseline PX4 certification script based on .ulog that analyzes a few critical things:

  * Vibration levels
  * GPS health check levels
  * Logging / reporting levels

We can build on that, but right now we just need a basic baseline. A DIY F450 frame should be able to pass it, but anything worse should not.

[2017-02-02 22:58] LorenzMeier commented on #6369
@wangxdflight Any updates on this? I'd love to help if I can with general feedback.

[2017-02-02 23:54] wangxdflight commented on #6369
Those sensor issues were root caused to be the timer inaccuracy. With the
update in driverframework, they are not observed anymore.
I haven't been able to reproduce the spiking issue.

On Thu, Feb 2, 2017 at 2:58 PM, Lorenz Meier <notifications@github.com>
wrote:

[2017-02-03 05:32] dagar commented on #5040
I think this is resolved?

[2017-02-03 10:07] nacho-carnicero commented on #5600
Thanks for the quick reply! Indeed, I had to update `gawk` that was linked to an old version of the `readline` library.
A `brew update gawk` solved this issue.

Thanks again!

[2017-02-03 15:51] AndreasAntener commented on #6484
Standard discussion: https://github.com/mavlink/mavlink/pull/670

[2017-02-03 18:31] CarlOlsson opened #6512 "logs.px4 is down?"
Or is it just my log files that can't be processed?

[2017-02-03 19:16] bkueng commented on #6512
Since the last update there's a memory leak on the server. I didn't have time to investigate that yet. What happens is that when memory gets low, you cannot reach the server anymore. At some point after, the process will get killed and it will restart, so it will work again. This happens every few days.
I will look into this.

[2017-02-03 23:54] LorenzMeier opened #6514 "Temperature calibration docs"
@priseborough @bkueng We need the documentation on http://dev.px4.io - please log in to Gitbook and edit: https://www.gitbook.com/book/px4/devguide/details

https://github.com/PX4/Firmware/pull/6508

[2017-02-04 07:10] mhkabir opened #6515 "Bebop 2 / RPi toolchain update + Skycontroller 2 build system"
We should update to Linaro's GCC 5.3 toolchain for the Bebop 2 and Raspberry Pi. There is no longer a need to maintain a separate Raspbian-specific toolchain for RPi.

New Bebop 2 / RPi toolchain :
https://releases.linaro.org/components/toolchain/binaries/latest-5/arm-linux-gnueabihf/gcc-linaro-5.3.1-2016.05-x86_64_arm-linux-gnueabihf.tar.xz

Will also be introducing the build system for the Parro

[2017-02-04 07:15] mhkabir commented on #6514
![screenshot from 2017-02-04 12-41-28](https://cloud.githubusercontent.com/assets/5557676/22616675/bdd5d8a2-ead7-11e6-9a33-0fc8c8c0cec9.png)

[2017-02-04 07:37] #6487 closed

[2017-02-04 08:05] mhkabir commented on #6515
Bebop builds with new toolchain :

[code]

RPi builds with new toolchain :

[code]

[2017-02-04 10:59] priseborough commented on #6514
I've created a .md file outline here:

https://www.gitbook.com/book/px4/devguide/edit#/edit/master/sensor-thermal-calibration.md?_k=cto1im

This will be filled out next week.

[2017-02-04 12:01] matanhavi opened #6516 "Error on px4io-v2/board_config.h ?"
I am not sure, but think that there some error on  px4io-v2/board_config.h
The line:
[#define GPIO_PPM_IN		(GPIO_ALT|GPIO_CNF_INPULLUP|GPIO_PORTE|GPIO_PIN9)](https://github.com/PX4/Firmware/blob/master/src/drivers/boards/px4io-v2/board_config.h#L129)

says the IO chip has PORT E, but the chip don't have such port.

Its seems that there are two location on the code that refer to this macro:
1) fmu.

[2017-02-04 14:54] davids5 commented on #6481
@LorenzMeier In thinking about the use of this

Should we consider adding system integrity vault.

There are certain assets stored in ram that are critical and need to be tested for integrity at runtime.

Assuming we consider the OS+NSH vetted (if not we add CONFIG_BOARD_INITIALIZE and call it earlier from board_initialize),  in board_app_initialize we call system_integrity_init() this will fetch

[2017-02-04 14:55] LorenzMeier commented on #6481
Yep, that makes perfect sense. Can you add that to your list?

[2017-02-04 21:56] tops4u commented on #6260
@LorenzMeier this is still happening. Even a bit more excessive than before. Today I had a few seconds a frozen MavLink Stream on the MinimOSD. Any Hint about the cause? I did not see drops in the FC logs...

[2017-02-05 08:05] jgoppert opened #6517 "v1.6.0 release/ master won't boot on pixhawk"
I'm currently bisecting. 1.5.5 worked still.

[2017-02-05 08:33] jgoppert commented on #6517
First bad commit:

[code]

@davids5 can you take a look?

[2017-02-05 08:40] dagar commented on #6517
Both current master and the v1.6.0rc1 tag are working on my pixhawk.

Do you want to try one of the build system binaries to see if it's something wrong in your dev environment?

Did you cleanup submodules between bisect tests? `make distclean`

Do you get any stack trace or anything to work with?

[2017-02-05 08:54] jgoppert commented on #6517
Thanks for testing it. I will try one of the binaries, what gcc are you using?

[code]

[2017-02-05 09:05] mhkabir commented on #6349
On Bebop 2, modify the init script /etc/init.d/rcS_mode_default. Comment the following line:
[code]
Replace it with:
[code]

How to :
Enable adb server by pressing the power button 4 times.
Connect to adb server as described before:
[code]
Re-mount the system partition as writeable:
[code]
In order to avoid editing the file manually, you can use this one :
<script src="https://gist.github.com/mhka

[2017-02-05 09:05] jgoppert commented on #6517
I'm downloaded the other compiler now: sudo add-apt-repository --remove ppa:team-gcc-arm-embedded/ppa

[2017-02-05 09:07] mhkabir commented on #6349
I would put it into Devguide myself, but I still can't edit it. Seems to be a permissions issue, because everyone else seemingly can.

[2017-02-05 09:09] jgoppert commented on #6517
@dagar the generated firmware in the .zip for the release also fails, this is an official 3dr pixhawk, and it will run 1.5.5, am I missing something? @LorenzMeier

[2017-02-05 09:16] jgoppert commented on #6517
Here is the version info from nsh for the board when running the 1.5.5 release

[code]

[2017-02-05 09:31] jgoppert commented on #6517
It works on another board. It must be hardware issue on my end.
[code]

[2017-02-05 09:31] #6517 closed

[2017-02-05 10:33] mhkabir commented on #6349
Done

[2017-02-05 10:33] #6349 closed

[2017-02-05 12:26] mhkabir commented on #6515
Work in progress here: https://github.com/PX4/Firmware/compare/master...mhkabir:skycontroller

Toolchain upgrade complete and tested on all platforms, working on complete Skycontroller solution now.

[2017-02-05 13:18] nicolaerosia commented on #6515
The latest Linaro ARM GCC is 6.2.1: https://releases.linaro.org/components/toolchain/binaries/latest/arm-linux-gnueabihf/

[2017-02-05 13:19] nicolaerosia commented on #6515
@mhkabir might be worth tuning the compilation flags specifically for that ARM platform.
Could you please share `cat /etc/cpuinfo` ?

[2017-02-05 13:32] mhkabir commented on #6515
@nicolaerosia I'm aware that 6.2.1 is the latest. PX4 tends to lag by 1 major release in order to avoid bugs in the bleeding-edge. It would also be quite some effort to update stuff and get everything compiling on 6.2.1. e.g NuttX based build uses 5.4.

Therefore, for now I propose to use 5.3.1. It would be trivial to update to 6.2.1 later.

I agree that platform specific optimization flags make s

[2017-02-05 13:45] nicolaerosia commented on #6515
@mhkabir I did not know that, thanks for letting me know!
Could you share the cpuinfo on both the drone and Skycontroller? Thanks!

[2017-02-05 14:41] davids5 commented on #6517
@jgoppert

If you loan me your "bad" board I can see what is happening.  I will have to add Jtag headers if it does not have them, but I can send it back once it is understood. snailmail address in skype.

[2017-02-05 15:06] LorenzMeier opened #6518 "Inspect takeoff handling"
This PR: https://github.com/PX4/Firmware/pull/6505

Might have introduced a regression. It seems like the handling is not what the operator expects: "first waypoint is takeoff, copter goes to takeoff point rather than first waypoint".

Not yet entirely sure how this change resulted in this, but interesting to note.

http://review.px4.io/plot_app?log=407e9c26-bbc1-4d30-a6b8-c3b528241b43

[2017-02-05 15:08] LorenzMeier commented on #6518
@Santiago3DR I would expect the system to go to the "T" symbol on the map in QGC. Is this what you expect? Or do you expect it to go to go to the first waypoint? I think we do not expect it to skip the takeoff waypoint ever, but to always go there.

[2017-02-05 15:31] mhkabir commented on #6515
@nicolaerosia

Bebop and Skycontroller use the same SoC.

From Bebop :
[code]

From Skycontroller :
[code]

[2017-02-05 15:34] mhkabir commented on #6515
Raspberry Pi 3 :

[code]

Raspberry Pi 2 :
[code]

[2017-02-05 16:07] nicolaerosia commented on #6515
Thank you! Could you also share dmesg? I'm curious to see what SoC they are using.

[2017-02-05 16:30] tstellanova opened #6519 "uavcan fw server does not start automatically when pixhawk reboots"
I have UAVCAN_ENABLE set to 3
 I can see that the `uavcan` task is running (using `top`); however `uavcan fw srv` is not running.

IF I subsequently `uavcan start fw` the server starts up OK.

Tested with both Pixhawk 2.4 and Pixracer R14 hardware, latest PX4/Firmware origin/stable

[2017-02-05 16:31] LorenzMeier commented on #6519
Are you on a VTOL? What is the output of "free"?

[2017-02-05 16:33] tstellanova commented on #6519
Not on VTOL, just a straight fresh build of origin/stable (v2 or v4, your choice)
[code]

[2017-02-05 16:33] pavel-kirienko commented on #6519
The output of `free` looks sane, we're checked it over at https://gitter.im/UAVCAN/general.

[2017-02-05 16:34] pavel-kirienko commented on #6519
Todd, UAVCAN has been dropped from v2, you're supposed to use v3.

[2017-02-05 16:35] tstellanova commented on #6519
Ok, I'm happier to focus on v4 since that's easier to debug

[2017-02-05 16:36] LorenzMeier commented on #6519
Yep, that's the culprit on v2. On v4: Ensure that `uavcan start` does return 0, not any error code:

[code]

[2017-02-05 16:41] jgoppert commented on #6517
Thanks @davids5 I circled back and now it works and I can't reproduce on the same board. I'm going to chalk it up to a late night, still a complete mystery to me, had to be something stale like params on the board maybe.

[2017-02-05 16:56] LorenzMeier opened #6520 "Enable camera triggering via vmount"
@bkueng We need the ability to trigger the camera on vmount with the drivers/camera_trigger system.

What I think this needs is the following (I prefer to use uORB over a file descriptor API because of cross-CPU / cross-OS considerations in the future).

  * Add a dummy interface to the camera trigger which does not execute anything, start it
  * Subscribe in vmount to `ORB_ID(camera_trigger)` and

[2017-02-05 17:47] tstellanova commented on #6519
FWIW If I stop and then restart uavcan from nsh, there don't appear to be any errors.

[2017-02-05 17:51] mhkabir commented on #6519
Have a bootlog from the console?

[2017-02-05 18:15] dagar commented on #6082
@LorenzMeier @bkueng here's a pass of enabling those clang-tidy initialization and modernize checks - https://github.com/PX4/Firmware/compare/master...dagar:c++11_init

There's still a mix of old initializers and new, but so far it looks like it caught everything. They still could benefit from manual cleanup. Moving old c++ initializers into the class, dropping unnecessary memsets, moving default

[2017-02-05 18:40] santiago3dr commented on #6518
Even if already in air?

On Feb 5, 2017 7:09 AM, "Lorenz Meier" <notifications@github.com> wrote:

[2017-02-05 18:42] tstellanova commented on #6519
I'll collect a console bootlog within 24 hrs.
I don't recall seeing any uavcan errors scroll by...

[2017-02-05 18:46] LorenzMeier commented on #6518
Yes. The goal is to have certainty that the drone passes through that point. Because you might have planned a mission that first needs to climb to 30 meters before doing the survey. If you skip to the survey / later waypoints directly you will still be climbing while moving forward, potentially hitting obstacles.

It sounds like we can close this.

[2017-02-05 18:46] #6518 closed

[2017-02-06 00:07] tstellanova commented on #6519
Bootlog (pixracer/v4):
[code]

[2017-02-06 00:19] tstellanova commented on #6519
BTW here's what the code in stable branch shows for me:

[code]

It appears that calling `uavcan start fw` from nsh does not start the firmware (node ID) server if uavcan has not already been started.

[2017-02-06 01:28] tstellanova commented on #6519
Built and installed px4fmu-v4_default from master branch.  This problem is apparently fixed in master.  Not sure how this project handles rolling bug fixes into the stable branch these days, but this seems like a good candidate for a patch.

[2017-02-06 05:39] sunshine-yan opened #6525 "In the Qualcomm_Snapdragon_Flight, ESC can't working"
Hi,
First of all, i have used this code in the  Qualcomm_Snapdragon_Flight.
Now, i have tried to use two sets of code. One of them is this PX4/Firmware. However, the ESC can't working  when i use this code. I find all of the code, I think 'snapdragm_pwm_out' may be related to ESC.Therefore I have tried to replace the "snapdragm_pwm_out start -d /dev/tty-2" with "uart_esc start -D /dev/tty-2". Howe

[2017-02-06 08:26] dagar commented on #6444
@LorenzMeier is working on a fix here - https://github.com/PX4/Firmware/pull/6523

[2017-02-06 11:44] Buckler89 commented on #3798
I'm afraid the the esp cannot work at 5 GHz [http://www.esp8266.com/viewtopic.php?f=6&t=4032](url).
See bottom of the page. :(

[2017-02-06 20:56] LorenzMeier commented on #6369
@Stifael Can you re-try latest PX4/master? I merged the changes from @wangxdflight.

[2017-02-06 23:02] dagar commented on #5970
The problem here is that it's possible to skip over heading hold, but then in flare the uninitialized _target_bearing is used as the yaw setpoint while the wheel controller is enabled.

![image](https://cloud.githubusercontent.com/assets/84712/22670221/44a0fb04-ec96-11e6-91ae-8cfdc2e9f87f.png)

We can fix this by setting _target_bearing properly, but does heading hold as horizontal distance to the

[2017-02-07 08:08] Stifael commented on #6525
To what ports of the snapdragon did you attach the esc board?

[2017-02-07 08:20] sunshine-yan commented on #6525
@Stifael It's this port.As shown in the yellow box.
![Uploading ESC.png…]()

[2017-02-07 08:36] sunshine-yan commented on #6525
@Stifael It's this port.As shown in the yellow box.
![esc](https://cloud.githubusercontent.com/assets/13762974/22683587/8c7076cc-ed53-11e6-8513-c4986be66089.jpg)

[2017-02-07 08:41] Stifael commented on #6369
@LorenzMeier @wangxdflight
I just tested the latest master with one of the snappies. I tested calibration with qgc and I can confirm that this time no spikes were present and calibration proceeded as expected.

[2017-02-07 08:41] #6369 closed

[2017-02-07 08:47] Stifael commented on #6525
This is correct. Does it work now? Or why did u close the issue?

[2017-02-07 08:50] sunshine-yan commented on #6525
@Stifael I'm sorry, I just accidentally closed the issue.It still can't work.

[2017-02-07 08:52] Stifael commented on #6525
So if you want to use snappy to send out pwm signals, then you should use snapdragon_pwm_out. I need to retest it my own to see if actually nothing broke, but I suggest to look at the pin outputs to see if there is any signal.

[2017-02-07 09:07] sunshine-yan commented on #6525
@Stifael I I have tried to use snapdragon_pwm_out.However,the ESC did not respond.LEDs in the ESC don't flash green. One LED flash red.So i don't know how to judge there is no signal.

[2017-02-07 09:10] Stifael commented on #6525
@sunshine-yan: I actually meant to look at the signal at the snapdragon port. that is independent of the esc. If the snapdragon does not send any pwm singals, then obviously the esc is not responding either.

Before I test, I would just be sure that your are also tested with the newest master. Is that correct?

[2017-02-07 09:18] sunshine-yan commented on #6525
@Stifael How do I detect if  snapdragon send any pwm singals? Is there any place to print?

[2017-02-07 10:08] Stifael commented on #6525
I mean you could do PX4_INFO in snapdragon_pwm_out (https://github.com/PX4/Firmware/blob/master/src/drivers/snapdragon_pwm_out/snapdragon_pwm_out.cpp#L317) and see what it prints. But before you do that, did you look at the mini-dm what the output is? does it say that the snapdragon_pwm_out is initialized correctly, or is there any error message?

[2017-02-07 11:15] sunshine-yan commented on #6525
@Stifael Now it is error. Such as the following picture:
![default](https://cloud.githubusercontent.com/assets/13762974/22688893/23c9f6dc-ed69-11e6-981a-73b174fcbb9b.png)

[2017-02-07 12:00] LorenzMeier opened #6532 "Validate vibration reporting"
We need to make sure we report excessive vibration and sensor clipping consistently. We already measure this and report it and QGC has a vibration instrument, but we need to go one step further in reporting.

[2017-02-07 12:04] fboriero commented on #6106
I think I have the same problem here! I followed all the steps that you described. I am using Optitrack and this is my result:
![2](https://cloud.githubusercontent.com/assets/727090/22690401/f3cb51a2-ed35-11e6-99f1-ef8af844e23b.png)

[2017-02-07 12:30] Stifael commented on #6525
I just tested. so the default is set to pwm_out_rc_in. change that to snapdragon_pwm_out as you did, but just write start without defining the port:
snapdragon_pwm_out start

[2017-02-07 12:36] #6520 closed

[2017-02-07 19:38] sanderux opened #6533 "Mc not holding position during takeoff"
Since a few weeks master isnt holding position during takeoff
Also it no longer responds to a level command making mission flight impossible and dangerous

@LorenzMeier @dagar @tumbili @AndreasAntener

[2017-02-07 19:39] sanderux commented on #6533
I'm in senegal making it hard to debug, log will follow

[2017-02-07 21:58] mayanez commented on #4840
I'd like to take this up. From what I could tell, PX4 uses newlib instead of the built-in NuttX math libraries. Also, how do the nuttx-configs Make.defs fit in with the .cmake files?

[2017-02-07 22:54] aivian opened #6534 "Fixed Wing HiL controls broken in 1.6.0rc1"
On 1.6.0rc1 the actuator controls are all zeros coming out of the pixhawk. Controls are zeroed when commands originate from the pixhawk (in stabilized/hold mode) and under manual control (using a receiver on futaba SBUS).

Versions up to 1.5.5 work well.

A diff on the two branches indicates that a bunch of UART rc input stuff was added to simulator_mavlink.cpp, so that was my first thought. Howev

[2017-02-07 23:03] dagar commented on #4840
What were you ultimately planning to do? Wouldn't working with PX4 in SITL provide the majority of the benefit and be far easier to work with?

[2017-02-07 23:19] aivian commented on #6534
Nevermind, turns out this is another manifestation of these two

https://github.com/PX4/Firmware/issues/5680
https://github.com/PX4/Firmware/issues/6374

Closing issue in deference to the already open ones.

[2017-02-07 23:19] #6534 closed

[2017-02-08 00:01] mayanez commented on #4840
I want to run some custom LLVM passes and benchmark them on a
microcontroller.

On Feb 7, 2017 6:04 PM, "Daniel Agar" <notifications@github.com> wrote:

What were you ultimately planning to do? Wouldn't working with PX4 in SITL
provide the majority of the benefit and be far easier to work with?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https:

[2017-02-08 00:04] sanderux commented on #6533
Log: http://logs.uaventure.com/view/tLhQrFFedHMEQHxCdqNrae#Local_X_PLOT
Note the drift in pos x/y

[2017-02-08 01:06] dagar commented on #4840
To repeat what @bkueng start here for changing the compiler - https://github.com/PX4/Firmware/blob/master/cmake/toolchains/Toolchain-arm-none-eabi.cmake#L27

PX4 cmake calls the nuttx build. https://github.com/PX4/Firmware/blob/master/cmake/nuttx/px4_impl_nuttx.cmake#L327

I'm not sure how difficult it will be to get nuttx building, but keeping gcc for nuttx and only building PX4 with clang might

[2017-02-08 02:51] sunshine-yan commented on #6525
@Stifael Thanks for your help. I try to write: snapdragon_pwm_out start
![px4 config](https://cloud.githubusercontent.com/assets/13762974/22721322/fb6760d0-edea-11e6-8a6c-86f781d4c745.png)
Add output to the code:
![default](https://cloud.githubusercontent.com/assets/13762974/22721378/554528b2-edeb-11e6-8bf1-567174fd97c3.png)
The situation is as follows：
![qq 20170208104821](https://cloud.githubuse

[2017-02-08 06:00] dagar commented on #6501
It's actually not obvious what's going on here. If you use a build with an IO (eg px4fmu-v3) changing the submodules cause cmake to rerun and the nuttx build gets into a bad state, but only for the FMU.

[2017-02-08 06:07] AndreasAntener commented on #6533
Pretty sure that was because of motor saturation. It didn't do a takeoff but instead navigated to the waypoint normally (high Z velocity setpoint). What do you mean with `level command`?

[2017-02-08 08:29] sanderux commented on #6533
Hm, it did hit the sky pretty quick failing to agnowledge the takeoff speed. I'll see whats going on there.

Level horizon doesnt respond in qgc on tablet or pc, usb or 3g telem

[2017-02-08 08:33] sanderux commented on #6533
This does expose another debatable issue, apperantly altitude takes precedence over horizontal position.

[2017-02-08 09:58] AndreasAntener commented on #6533
Yes this is an issue and already a long standing discussion. Let me see if/where we track this already.

Can you open an issue on the level horizon? I've heard that from someone on gitter too.

[2017-02-08 09:58] #6533 closed

[2017-02-08 12:14] langxm1223 opened #6541 "Bug in ms5611 driver framework"
I tested the ms5611 on snapdragon board with official PX4 firmware.
The attached is the log from the df_ms5611_wrapper.cpp
![bmp280-1](https://cloud.githubusercontent.com/assets/4576753/22736796/0415d388-ee3b-11e6-9aff-1d179423960e.png)

As you can see there are many error values in the log.
I think there must be some bug in the driver.
Hope someone could solve it.
Thanks.

[2017-02-08 12:15] LorenzMeier commented on #6541
Did you try latest master (from today)? We fixed an issue recently thanks to @dxwang.

[2017-02-08 12:51] nicolaerosia commented on #6515
@mhkabir ping

[2017-02-08 16:43] davids5 commented on #6501
Is it possible that the patch's stamps are not fully qualified paths?

[2017-02-08 16:52] bkueng commented on #6512
Fixed. It was an issue in the bokeh library.

[2017-02-08 16:52] #6512 closed

[2017-02-08 18:22] LorenzMeier commented on #6541
It was a timing fix. Please retry and see if its still the same.

[2017-02-08 23:11] mayanez commented on #4840
So I was able to build PX4 with Clang. However, the main issue is code size. Using -Oz the binary can fit in 1MB of flash but the stack frames are too large causing the application to overflow. I'll try to play around with RAM to see if I can make it work, but apparently code size seems to be an issue plaguing Clang.

[2017-02-09 02:53] davids5 commented on #4840
Please use

https://semaphoreci.com/px4/firmware/branches/master/builds/1041

[code]
And
[code]

As benchmarks to beat with master

[2017-02-09 03:54] langxm1223 commented on #6541
Hello @LorenzMeier
I tried the latest DriverFramework submodule.
The same problem can be observed as well.
Actually, there is no update related to ms5611 driver from the commit I used to the latest commit.
Any ideas?
Thank you very much.

[2017-02-09 08:07] ChristophTobler opened #6545 "Intel Aero Barometer offset + noise"
@lucasdemarchi This issues replaces https://github.com/intel-aero/meta-intel-aero/issues/18

[2017-02-09 08:10] ChristophTobler opened #6546 "Intel Aero GPS jamming"
@lucasdemarchi This issues trackes https://github.com/intel-aero/meta-intel-aero/issues/19

[2017-02-09 08:11] ChristophTobler opened #6547 "Intel Aero IMU noise"
@lucasdemarchi This issue tracks https://github.com/intel-aero/meta-intel-aero/issues/20

[2017-02-09 09:00] lucasdemarchi commented on #6547
#6548  fixes the huge offset you see. Noise should not be affected though

[2017-02-09 09:02] lucasdemarchi commented on #6545
#6548  fixes the huge offset you see.

[2017-02-09 09:20] ChristophTobler commented on #6545
I can confirm that https://github.com/PX4/Firmware/pull/6548#pullrequestreview-20959539 fixes the offset. The noise remains though

[2017-02-09 09:59] sanderux opened #6549 "Not responding to level horizon command"
Current master (20160208) does not respond to level horizon command from QGC
Only verified on VTOL vehicle
All other sensor calibrations work correctly
QGC does not show a progress bar and no info messages on the matter are being sent making it appear as if the command was never received. However, the QGC version used to test has successfully ran this command on earlier versions

/cc @AndreasAnten

[2017-02-09 15:28] davids5 commented on #6545
The noise is due that fact the MS56xx is on the same SPI bus as the the other sensors.
![image](https://cloud.githubusercontent.com/assets/1945821/22789784/3c463d0e-ee88-11e6-9eb0-d1cc2038fbcb.png)

The baro should be moved to from SPI3 to SPI2 or better yet it's own spi bus.

[2017-02-09 15:55] mayanez commented on #4840
Looks like there's enough memory to extend the stack size for the few tasks that needed it. I'll need to do a few tests to make sure it's stable though. Here are the statistics for the build sizes using Clang for FMUv2:

[code]

I will send out a PR for others to review and test as well.

[2017-02-09 16:17] dagar commented on #6456
From a proper log for reference.

![bad_flare3](https://cloud.githubusercontent.com/assets/84712/22791671/30fb60b6-eeb8-11e6-9b05-9afa70493d42.png)

When the altitude setpoint (green) drops to ~190m the vehicle is landing, but again flares early.

The FW position controller should be aborting landing if the the terrain data is reported invalid (not logged), but only if the last update is > 1s. The

[2017-02-09 16:26] dagar commented on #6456
@LorenzMeier do you think an appropriate fix here would be EKF2 tuning (EKF2_RNG_NOISE, EKF2_RNG_GATE), better handling of terrain data in fw_pos_ctrl, or both?

[2017-02-09 16:29] lucasdemarchi commented on #6545
Baro and mag are physically on the same **I2C** bus, with no way to move it
elsewhere.

A patch was already merged to disable the mag, so right now we are only
talking to the baro.

On Feb 9, 2017 7:28 AM, "David Sidrane" <notifications@github.com> wrote:

[2017-02-09 17:36] tuofeichen commented on #4926
Hi @jgoppert ,
I was wondering where is this supported? is it in the master or any specific branch? I assume its some modifications on the attitude-q estimator, but it (master) still looks like it only takes in external heading instead of the entire rotation from vision.

Best
FC

[2017-02-09 17:40] jgoppert commented on #4926
@tuofeichen It just takes vision yaw, that is correct, I'm working on full vision attitude support with the IEKF estimator, which should be out soon.

[2017-02-09 17:42] tuofeichen commented on #4926
got it, any other difference between IEKF and LPE?  I'm looking at the code now but would appreciate a high level motivation of why we switch

[2017-02-09 17:45] jgoppert commented on #4926
IEKF is still in development and I wouldn't recommend  switching yet.

Instead of separate attitude (attitude_estimator_q) and position (LPE) kalman filters, it is combined (IEKF), so it has 21 states. It also has a rough dynamic model that is found through system identification of log data. So IEKF is much more complicated but should give better results when all of the bugs are eliminated.

[2017-02-09 17:51] tuofeichen commented on #4926
Interesting. Got it thanks!

On Feb 9, 2017 11:46 AM, "James Goppert" <notifications@github.com> wrote:

[2017-02-09 20:03] sanderux opened #6554 "VTOL Massive altitude increase after backtransition"
http://logs.uaventure.com/view/Hw5VgbagMaWvCWxMPVLAsA#Local_Z_PLOT
Perhaps some regression.

[2017-02-09 20:03] davids5 commented on #6545
Sorry I look at the there aero  board config.

[2017-02-09 20:13] davids5 commented on #4840
@mayanez -

Please keep in mind that:

1. The code size of some of the bootloaders can not exceed 8K
2. Using more stack in not beneficial on an embedded system
3. It will need to support other CPUs (NXP kinetis the STM32F7...)
4. Re vetting all the 24+ HW targets is not a small task.

[2017-02-09 20:36] sanderux commented on #6554
@dagar any idea?

[2017-02-09 21:06] dagar commented on #6554
FW_PSP_OFF 0?

[2017-02-09 21:19] dagar commented on #6554
Nevermind, I guess that's your typical setup.

What's going on with the thrust setpoint?

![thrust](https://cloud.githubusercontent.com/assets/84712/22803575/8b38458c-eee3-11e6-839a-81a176e63ede.png)

[2017-02-09 21:34] nahush8 opened #6555 "LOCAL_POSITION_NED.z not stable, varying erratically."
We are trying to do off-board control for Pixhawk using MOCAP. Although we are getting fairly good estimates for x and y positions, z position varies abruptly. Attaching the 'z' plot from QGC for the vehicle at rest.
Even after incorporating fake gps, and setting EKF2_GPS_V_NOISE to low, the problem persists.

@mhkabir, I have read similar issues before and couldn't really find any solutions for t

[2017-02-09 22:16] jgoppert commented on #6555
Most people using mocap have been using LPE. You might want to try that instead. It is in the latest release zip file and also you can build/upload it with: make px4fmu-v2_lpe upload

[2017-02-09 23:07] dagar commented on #6554
@Stifael would you mind taking a quick look at this log from the multicopter position controller perspective?
After back transition finishes (16:01:17) it's effectively a regular multicopter in AUTO.

![thrust_bad_mc](https://cloud.githubusercontent.com/assets/84712/22806827/f081853a-eef1-11e6-96aa-5246f71046ad.png)

[2017-02-10 02:05] davids5 opened #6556 "FLASH_BASED_PARAMS - multiple writes because Autosave is permanent"
@LorenzMeier

Along the way the ```param save``` command was not required and all ```param set``` operations lead to write to backing storage.

The flash is  written to for every change. A fresh boot after "param reset"  results in X * number of param writes to flash. When the param save command was needed before this would be 1 write operation.

Also the bodies of param_lock/unlock have been comm

[2017-02-10 08:44] sanderux commented on #6554
@dagar not my typical setup but i cant change the horizon level at the moment :)

[2017-02-10 13:29] sanderux commented on #6554
@dagar could this be related? https://github.com/PX4/Firmware/commit/480dd0922b65a00a8e5424d475b5b32c57b27bc2#diff-bcb38f37ec5bebecc13965e3fec8c312R292

[2017-02-10 13:31] sanderux commented on #6554
Or this: https://github.com/PX4/Firmware/commit/f297c45f78e4f487da2c2485588ef061eef1fcd2

[2017-02-10 13:37] sanderux commented on #6554
@MaEtUgR could your recent landing changes be responsible for this behavior?

[2017-02-10 14:37] hayoonko opened #6557 "The hovering of iris + hokuyo(lidar) in gazebo is not stable."
I joined hokuyo lidar in iris.sdf. After running gazebo, I just gave commander takeoff command. But the iris drone does not hover. There is no problem when you separate hokuyo and take off only iris. If you know how to fix it, please let me know. The following code shows how to add hokuyo lidar to iris.sdf. Is there a problem with this part? Hokuyo I think it is due to the weight of the weight was

[2017-02-10 15:22] nahush8 commented on #6555
@jgoppert : So we've tried using LPE and we observed similar problems in past. Is this zip the latest firmware ? 1.6.0 ?

[2017-02-10 15:58] jgoppert commented on #6555
@nahush8 Please post a full log, then maybe we can help figure out why. I know some others have had this working.

[2017-02-10 16:05] mhkabir commented on #6555
Z issues are because its trusting the baro. @jgoppert Can you add the LPE parameters that need to be changed to get it to not fuse the baro (the bitmask) and trust vision/mocap more (std. devs)? This page : https://dev.px4.io/external-position.html

[2017-02-10 16:08] nahush8 commented on #6555
@mhkabir  So the new firmware does not seem to show ATT_EXT_HDG_M in Qgroundcontrol, so we couldn't find any way of setting it to mocap. We tried making the EKF Baro noise high, that doesn't seem to work either.

[2017-02-10 16:10] mhkabir commented on #6555
That's because you're running LPE / Attitude Estimator Q. Do as James says and use the LPE target.

[2017-02-10 16:11] nahush8 commented on #6555
okay will try and get back with the results . Thanks !

[2017-02-10 16:11] mhkabir commented on #6557
Tried zero-ing the mass?

[2017-02-10 16:36] hayoonko commented on #6557
@mhkabir  yes, I have tried the mass of hokuyo lidar at zero, but it has not been hovered.

[2017-02-10 16:39] jgoppert commented on #6555
To disable baro fusion it is now just a check box  for  param LPE_FUSION.

[2017-02-10 17:37] nahush8 commented on #6555
@mhkabir  So I uploaded the given firmware for lpe and i could find the appropriate parameters now. Also set the LPE_FUSION parameters to not consider Baro. We are facing the "mocap_timeout" issue.

We had encountered a problem of "mocap_timeout" before while trying this, I did read through some issues before but haven't been able to find a solution for it.

[2017-02-10 18:19] mhkabir commented on #6555
If you're having timeouts, fix your system design. It's because of one these reasons -
1. You don't have enough bandwidth
2. Link latency is too high.
3. Timesync (automatically done if using ROS/Mavros) can't work because of limited bandwidth.

[2017-02-10 18:30] jgoppert commented on #6557
I created a new iris model with an rplidar here: https://github.com/PX4/Firmware/pull/6558

The main issue with your model is you forgot to set the inertia matrix terms, they default to 1.

[2017-02-10 18:51] hayoonko commented on #6557
@jgoppert I just added your sdf and checked it and it is in perfect hovering state. I really appreciate it. As you pointed out the moment of inertia as a problem, can you give me a specific explanation of this part? Thank you once.

[2017-02-10 19:22] jgoppert commented on #6557
Gazebo defaults model inertia matrix to identity if not specified.

[2017-02-10 20:59] Antiheavy opened #6559 "Fixed wing minimum ground speed"
Feature request:  Add a minimum ground speed setting for fixed wing (new parameter).

Behavior: The fixed wing controller tries to increase airspeed above FW_AIRSPD_TRIM to maintain a minimum ground speed, up to FW_AIRSPD_MAX.

Reasons:  This can be a safety feature for getting home in high winds.  This may help some aircraft make high wind landings more accurate.  This can make mapping missions m

[2017-02-10 22:29] nahush8 commented on #6555
@mhkabir  So I tried switching from US connection to telemetry connection (odroid-Pixhawk) and mocap timeout still persists. Could you be able to point me to some post/resources for the bandwidth issue you mentioned ? Is there a way to disable a few mavlink topics and would that provide more bandwidth for the position estimate data ?

[2017-02-10 23:02] dagar commented on #6559
The fixed wing controller should already have this (called ground speed undershoot - https://github.com/PX4/Firmware/blob/master/src/modules/fw_pos_control_l1/fw_pos_control_l1_main.cpp#L1038), but it only applies during AUTO.

If you have flight logs from a windy day we should be able to verify if it's actually working as intended.

[2017-02-10 23:35] Antiheavy commented on #6559
We can share some flight logs from today, maybe it is working as intended.  I feel like I'd want to set minimum ground speed explicitly as a parameter.  I'm sort of confused by how "ground_speed_desired" is calculated - there must be some thought behind it here:
https://github.com/PX4/Firmware/blob/master/src/modules/fw_pos_control_l1/fw_pos_control_l1_main.cpp#L1049

[2017-02-10 23:50] dagar commented on #6559
It's mainly this part, with delta_altitude and distance set from either the previous waypoint to your current (if you had a previous), or using your current position to current waypoint.

[code]

Following that trajectory at FW_AIRSPEED_MIN would be a groundspeed of ground_speed_desired.

[2017-02-11 00:11] rkintada opened #6562 "[FeatureRequest] Support VISLAM with PX4 Stack on Snapdragon Platform"
Problem Statement
--------------------
There is a VISLAM ROS example released at https://github.com/ATLFlight/ros-examples for Snapdragon Flight<sup>TM</sup>.  The examples work as standalone and does not work when PX4 stack is running.  The reason being both the "Snapdragon::ImuManager" and the PX4 stack try to use the same MPU9x50.

This request is to support the VISLAM with Px4 Stack.

Proposed

[2017-02-11 02:15] mhkabir commented on #6562
Sounds interesting. Have you though about using the mavros bridge (https://github.com/mavlink/mavros) instead of accessing the IMU data directly?

[2017-02-11 02:23] mhkabir commented on #6555
It's more likely that your latency is too high. Try printing `(hrt_absolute_time() - mocap.timestamp)/1000.0f` in the Mavlink receiver to see what your deltas are like.

[2017-02-11 02:25] rkintada commented on #6562
I have heard of this, but not actively used it.  I am wondering if the latency may be an issue here?  Also if the VISLAM's pose information needs to be injected into Px4 stack I think it may be easy to have VISLAM as module within px4.

[2017-02-11 02:41] mhkabir commented on #6562
Latency shouldn't be a problem as it's all on the same board.

We have been doing VIO for 1.5 years + : https://youtu.be/AdPpIjlAdKg

For injecting the data back into PX4, I have an API proposed here : https://github.com/PX4/Firmware/pull/6074

[2017-02-11 03:25] BossKwei opened #6564 "Can not switch flight mode to OFFBOARD in gazebo (‘mode change failed’)"
Hi, I'm fresh man in px4, I have been trying for a while to change flight mode to OFFBOARD, but I am really hitting some problems.

- Date: Feb.10 2017
- System: Ubuntu 16.04
- Platform: ROS Kinetic
- Firmware: The latest version cloning from github.com
- Default SITL config: posix-configs/SITL/init/lpe
[code]

I started Firmware, gazebo and mavros in this way:

[code]

`commander takeoff`, `comma

[2017-02-11 05:29] Antiheavy commented on #6559
okay.  Looking back through some flight logs I see this working now.  Actually several things about how TECS is controlling airspeed now make more sense to me.  thanks for the explanation.  looks like this is a non-issue.

[2017-02-11 05:29] #6559 closed

[2017-02-11 08:14] #6564 closed

[2017-02-11 10:33] mhkabir commented on #6515
@nicolaerosia https://gist.github.com/mhkabir/29fffaeeadc7765f2c7ba8c0fe70964b

Now I hope that you will make a pull request against this branch with the suggested optimization flags. 8)

[2017-02-11 19:30] VTOLDavid opened #6565 "VTOL Tailsitter instant transition to FW if airpeed is above transition/stall speed"
I had a crash that would have been prevented if something like this had exist. I lost control flying the tailsitter at high speed in MC mode, 75º pitch, 15m/s, elevons active only for YAW (MC reference system) (maybe my fault for doing this, but under wind conditions being able to fly like that is needed). It ended flying upside down at high speed towards ground and the MC controller unable to con

[2017-02-11 20:06] maciek01 opened #6566 "unable to arm pixracer after first cycle"
after plugging the battery i can arm it and take off just once.

when i disarm and try again i get the following error:

DISARMED by arm/disarm component command

firmware is 1.5.5

no other indication of what component prevented arming. battery is fully charged.

appreciate any help

maciek

[2017-02-11 21:50] saeidkazemi commented on #5316
hi
We have some unknown problems to compile your code and we would be pleased if you could help us to fix it.
I have dealt with the problem of Position Control Mode actually the system rejects this mode.
We do not have GPS and want to run the Position Control with optical Flow Sensor.
We cannot find the LPE-GPS-on in Qground to turn it off, so how can we turn off the GPS?
We set the sys_group in L

[2017-02-12 06:42] jgoppert commented on #5316
Please set sys_mc_est_group to lpe and reboot.

[2017-02-12 06:51] saeidkazemi commented on #5316
actually we did tat but again we had the same problem
our Firmware link is:
https://github.com/mhkabir/Firmware/

and also our flight controller is pixhawk 2

[2017-02-12 07:12] mhkabir commented on #5316
Why are you using my fork instead of master?

[2017-02-12 07:16] saeidkazemi commented on #5316
what do you mean by fork exactly?

[2017-02-12 07:28] mhkabir commented on #5316
Why are you not using https://github.com/PX4/Firmware/ ?

[2017-02-12 07:34] saeidkazemi commented on #5316
actually we used that firmware and we set sys_mc_est_group in LPE mode then we reboot the pixhawk and again we didn't have LPE-GPS-ON

[2017-02-12 08:33] LorenzMeier commented on #6556
Param lock was never implemented and the param set commands are only executing writes if the param changes. I don't see an issue here.

[2017-02-12 08:33] #6556 closed

[2017-02-12 10:03] #5970 closed

[2017-02-12 13:26] saeidkazemi commented on #5247
hi
We have some unknown problems to compile your code and we would be pleased if you could help us to fix it.
I have dealt with the problem of Position Control Mode actually the system rejects this mode.
We do not have GPS and want to run the Position Control with optical Flow Sensor.
We cannot find the LPE-GPS-on in Qground to turn it off, so how can we turn off the GPS?
We set the sys_group in L

[2017-02-12 13:31] saeidkazemi commented on #5330
hi
We have some unknown problems to compile your code and we would be pleased if you could help us to fix it.
I have dealt with the problem of Position Control Mode actually the system rejects this mode.
We do not have GPS and want to run the Position Control with optical Flow Sensor.
We cannot find the LPE-GPS-on in Qground to turn it off, so how can we turn off the GPS?
We set the sys_group in L

[2017-02-12 13:31] saeidkazemi commented on #5102
hi
We have some unknown problems to compile your code and we would be pleased if you could help us to fix it.
I have dealt with the problem of Position Control Mode actually the system rejects this mode.
We do not have GPS and want to run the Position Control with optical Flow Sensor.
We cannot find the LPE-GPS-on in Qground to turn it off, so how can we turn off the GPS?
We set the sys_group in L

[2017-02-12 13:31] saeidkazemi commented on #4963
hi
We have some unknown problems to compile your code and we would be pleased if you could help us to fix it.
I have dealt with the problem of Position Control Mode actually the system rejects this mode.
We do not have GPS and want to run the Position Control with optical Flow Sensor.
We cannot find the LPE-GPS-on in Qground to turn it off, so how can we turn off the GPS?
We set the sys_group in L

[2017-02-12 13:32] saeidkazemi commented on #4940
hi
We have some unknown problems to compile your code and we would be pleased if you could help us to fix it.
I have dealt with the problem of Position Control Mode actually the system rejects this mode.
We do not have GPS and want to run the Position Control with optical Flow Sensor.
We cannot find the LPE-GPS-on in Qground to turn it off, so how can we turn off the GPS?
We set the sys_group in L

[2017-02-12 13:33] LorenzMeier commented on #4940
@saeidkazemi I'm going to block you from this issue tracker for excessive spamming. Filing an issue once is absolutely sufficient.

[2017-02-12 13:34] LorenzMeier commented on #4940
Please open a thread on http://discuss.px4.io and provide enough feedback so the community can help you. Please do not file the same issue 10 times.

[2017-02-12 14:36] jgoppert commented on #5316
If you are using px4fmu-v2 make sure you use : make px4fmu-v2_lpe upload

[2017-02-12 17:59] AndreasAntener commented on #6565
On the switch problem: I thought about having a 3 position transition switch which would let you do the transition by putting the switch into the middle position, but also lets you switch right through to the other mode by moving the switch all the way. But this also requires you to finish moving the switch all the way after the transition happened.

[2017-02-12 18:54] VTOLDavid commented on #6565
It will be a solution.  From one side to center position will be auto transition and moving from side to side directly, direct switch from one mode to another. Since back transition is always direct you don't need to finish moving the switch.  It could be:
                                                                 Positon_1/Position_2/Position_3
Flying in MC (switch in position_1):   Do noth

[2017-02-12 18:55] r1b4z01d commented on #6562
@rkintada this is great; I am attempting this now. Have you been able to complete and test this?

[2017-02-12 19:52] r1b4z01d commented on #6562
@rkintada if the intention is to allow the VISLAM Manager to have access to PX4's IMU ORB topics then why does the PX4 module need access to the camera frames?

[2017-02-12 20:13] rkintada commented on #6562
@r1b4z01d  Bryan  It is great that you are going to look into this.  Please go ahead and try it out.  I did not get a chance to look into this.

The VISLAM manager needs both the camera frames(Optic Flow ) and IMU.  Hence the dependency is coming from VISLAM Manager and not directly from PX4.

For this to work, you will need the Machine Vision SDK for Snapdragon Flight from here: https://developer

[2017-02-13 04:23] r1b4z01d commented on #6562
I am still a little confused by what your end goal is. Are you proposing to incorporate the entire ros-example into the PX4 module or just provide the PX4 IMU data to the ros example? If the latter then how do you propose to send PX4 the computed pose?

I have already incorporated MAVROS into the ros-example like @mhkabir mentioned, successfully populating vision_position_estimate. I need to decid

[2017-02-13 08:25] BossKwei commented on #6557
I have the same problem:
https://github.com/PX4/sitl_gazebo/issues/88

[2017-02-13 08:37] Stifael commented on #6554
https://github.com/PX4/Firmware/commit/f297c45f78e4f487da2c2485588ef061eef1fcd2 should only be entered if velocity in z is below some threshold and the user throttle stick is put to min. In addition, the part of the code should only affect the thrust setpoint in x and y.
I need to have a closer look at the transition to understand why the thrust is set to such a large value after transition

[2017-02-13 18:48] julianoes commented on #3385
@AndreasAntener I would say this is implemented now, right?

[2017-02-13 18:52] julianoes opened #6573 "Snapdragon: power module not yet supported"
The Snapdragon power module is not yet supported on PX4. Presumably there is an issue because it is on the same I2C bus as the baro.

More information here: https://developer.qualcomm.com/forum/qdn-forums/hardware/snapdragon-flight/30077

[2017-02-13 19:08] LorenzMeier commented on #3385
Yep it is.

[2017-02-13 19:08] #3385 closed

[2017-02-13 20:28] #6557 closed

[2017-02-13 22:00] rkintada commented on #6562
HI ,
The original goal is to get the VISLAM ros-example to work with PX4.  Feeding the VISLAM pose back into PX4 is optional.

My original comment was based on the fact you are not using MAVROS.  If you are using MAVROS, the changes to MAVROS do not need any dependency on the camera manager.

With limited knowledge of MAVROS, this is my  understanding of your approach:

* Enhance MAVROS to publish

[2017-02-13 23:42] sanderux commented on #6554
@AndreasAntener could this logic https://github.com/PX4/Firmware/commit/5f3cbbbbc2c9065a54443fa6cc91cc3b16ef4d89#diff-fc77c3ef569029d45764664c75d4b0c1R1911 break down in weathervane mode and cause this behavior?

[2017-02-14 03:00] dagar commented on #6554
@sanderux have you tried to reproduce in SITL?

[2017-02-14 07:40] sanderux commented on #6554
Yes, but havent managed to reproduce yet

[2017-02-14 08:14] sanderux commented on #6549
@DonLakeFlyer any idea?

[2017-02-14 08:25] Stifael commented on #6554
5f3cbbb#diff-fc77c3ef569029d45764664c75d4b0c1R1911 is just a projection and should even reduce the thrust for large angle error (assuming there is no logical error in there). What seems strange to me is that you were not able to reproduce it in sitl. I mean it is clear that after transition there is no tracking in the z direction due to the large thrust, which might have accumulated to the max due

[2017-02-14 08:36] sanderux commented on #6554
Yes, i have just attempted to run SITL again with the sens_board_y_off at 5deg to simulate the circumstances it had (level horizon no longer works and the plane was leveled for optimal FW flight, for MC flight would fly level when pitch was 5deg down)

Still does not reproduce this. i am flying in SITL the same branch that was used for this flight.

[2017-02-14 09:00] sanderux commented on #6554
Another point to note is that SITL reduces X/Y velocity much faster in back transition compared to a real VTOL vehicle. The full thrust setpoint seemed to be active while the x/y velocities were too high. as soon as they started tracking the thrust lowered:

![image](https://cloud.githubusercontent.com/assets/14801663/22922055/6729a7e6-f29c-11e6-98c0-21fbf4bcf9ca.png)

[2017-02-14 09:18] Stifael commented on #6554
ok, I also just tried. the  issue that I encountered was at the end of the flight the vehicle was not able to hold its position, but I think that is unrelated to this issue since after transition the thrust setpoint was within reasonable bounds.
from your plots: that is exactly why we also need to have velocity setpoint and velocity on the same graph (which currently is not the case for flightrevi

[2017-02-14 09:39] sanderux commented on #6554
here's a log for a similar flight on a jan 12th master: http://logs.uaventure.com/view/6cqCEALzauAUoVzRDnPxkP

There it had no such behavior and the velocities were also too high for approximately the same duration:
![image](https://cloud.githubusercontent.com/assets/14801663/22923405/aceb280e-f2a1-11e6-834e-b9ce415952b2.png)

[2017-02-14 09:49] Stifael commented on #6554
well the velocity tracking seems much better. I mean the max velocity error in y for the second plot is around 4, where the max for velocity error for the first plot is more than double (~11)

[2017-02-14 09:52] sanderux commented on #6554
True, it transitioned in a stronger headwind so velocities were lower to begin with. But your idea about velocity setpoint doesnt seem to be the cause as the thrust setpoint was already at max before this became active:

![image](https://cloud.githubusercontent.com/assets/14801663/22923971/b15b324c-f2a3-11e6-9e42-04bc02433cce.png)

[2017-02-14 09:53] Stifael commented on #6554
hm, thats also true

[2017-02-14 10:01] sanderux commented on #6554
Also interesting that the thrust setpoint shot to max +- 1 sec after back transition started, and not directly. All this time the altitude was on or above the setpoint

[2017-02-14 11:31] crossa commented on #6266
OK，I had fix it without any change。I try to build a coptor with pi zero without navio or pxfmini

I’ll  submit a pull request when I finish it

[2017-02-14 11:58] bkueng commented on #6266
Ok, good, closing this then.

[2017-02-14 11:58] #6266 closed

[2017-02-14 13:49] nitehack opened #6576 "Attitude problem because of changing magnetic field?"
I have a problem. I am using a pixhawk with the latest firmware with lidar lite v3 and px4flow. I have problem with attitude because I am flying  indoors and there are many changes of magnetic field.
I have tried to change the EKF2_MAG_TYPE to "magnetic heading" but I see that the attitude (pitch, roll and yaw) is continually changing if the magnetic field changes. If I change EKF2_MAG_TYPE to "No

[2017-02-14 14:34] Stifael commented on #6554
Does that not mean that it is some transition issue? Is the mc_pos_control even doing anything during transition.  (https://github.com/PX4/Firmware/blob/master/src/modules/vtol_att_control/vtol_att_control_main.cpp#L777)

[2017-02-14 14:54] sanderux commented on #6554
The thrust setpoint is still published. As you can see the thrust is gradually increased by the vtol controller but it doesnt change the setpoint

[2017-02-14 17:08] DonLakeFlyer commented on #6549
Debugged through QGC side. Calibration message is being sent by QGC but no response from firmware.

[2017-02-14 17:40] sanderux commented on #6554
@Stifael nothing in your commit here that could cause this?
https://github.com/PX4/Firmware/commit/57b7c4fc3db364f014f4bddef0c89eb8f6586c02

[2017-02-14 18:05] Stifael commented on #6554
The comparison between the two commits is actually just a rewrite of something that I changed earlier and should be equivalent. If it used to work in the past, then it makes more sense to compare this change:
https://github.com/PX4/Firmware/commit/f718b3a97ac95ebd8d94d06a85cc3d8180c95476
However, I dont think that this change has any effect, because it just limits the change in thrust setpoint.

T

[2017-02-14 18:13] dagar commented on #6554
@Stifael the main thing that happens during FW -> MC transition is that position and velocity control are disabled. https://github.com/PX4/Firmware/blob/master/src/modules/commander/commander.cpp#L3687
The multicopter position controller is largely oblivious to VTOL, other than resetting the yaw and alt setpoints during FW mode.

MC actuators are blended back on proportional to airspeed or timeout

[2017-02-14 18:22] dagar commented on #6554
Regardless of this bug, shouldn't the integrators be reset?

Either make this section apply to VTOL FW mode - https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/mc_pos_control_main.cpp#L2279

or reset here - https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/mc_pos_control_main.cpp#L2256

[2017-02-14 19:27] Stifael commented on #6554
Ok, if pos and vel control are disabled, then it will not enter the above commits anyway. @dagar I agree that it would make sense to reset it also when switching from fw-»mc, if that hasnt be done yet.
in addition, if something within the mc controller caused this bug, then it has to be related to the attitude - thrust mapping.

[2017-02-14 19:41] sanderux commented on #6554
As for the position control during transition @dagar is correct, we should be looking at attitude control for where it starts, but the problem remains long after the transition so that would point to integrator issues. And considering the code dynamics of VTOL integrator issues are quite likely.

The main problem to find this is that this behavior was introduced somewhere between jan-12th and feb-

[2017-02-14 21:00] sanderux commented on #6554
@dagar although SITL doesnt show to be affected it does exhibit some strange behavior in thrust setpoint during back transition:

![image](https://cloud.githubusercontent.com/assets/14801663/22948989/e517ecb2-f300-11e6-9f11-86892cd90060.png)

[2017-02-14 21:10] sanderux commented on #6549
@tumbili can this be related to your recent commit?
https://github.com/PX4/Firmware/commit/afb01e6d9aab2e7feb32125948d55d0066565a9e

[2017-02-14 23:00] sanderux commented on #6549
@bugobliterator bisecting this issue points to any of your following commits:

https://github.com/PX4/Firmware/commit/c9ac15f0ddb54483194e4c8b14e3f246338c9f5a
https://github.com/PX4/Firmware/commit/f811777789ed9901e7f94d3a1d9f4adfbdd8beb4
https://github.com/PX4/Firmware/commit/78b8deda1592f16785d585d456bc2d294767f253

Can you review?

[2017-02-15 08:31] tumbili commented on #6576
@nitehack You should post a log, otherwise it's going to be hard to find out what your problem is.

[2017-02-15 09:37] camciefe commented on #5773
@Jaeyoung-Lim @nikkk91 @hamid-m

When you get the error message, just type:
     killall gzserver
Then, build your 'sitl_gazebo package' once again from the beginning.

[2017-02-15 10:19] bugobliterator commented on #6549
@sanderux sure I will have a look

[2017-02-15 14:00] nitehack commented on #6576
@tumbili
Log with mag type "none" http://logs.uaventure.com/view/kmeAFw4qMYwfQqfgEiuSxE
Log with mag type "magnetic heading" http://logs.uaventure.com/view/Y5kFTpykjc5eAbUHaMK7ti

To download:
https://drive.google.com/open?id=0BxwqX0HkT8MwN0hjdkcyYmxrWFU
https://drive.google.com/open?id=0BxwqX0HkT8MwYXAyamlPTjd3Sms

In the log with mag type "none" I cant see anything , in QGC the attitude is 0.
In

[2017-02-15 16:34] brdgtannj commented on #6443
@pfkrp I've been noticing the same issues!  What version of the PX4 firmware have you been using?  Mine only started doing this recently, so I'm wondering if it had something to do with when I merged the newest commits from Master.  I'm going to do a couple of builds to test this out, but my last big update was from Jan. 14th.

[2017-02-15 20:45] sanderux commented on #6554
Unable to reproduce, did 2 flights on the same software / coditions
http://logs.uaventure.com/view/K9a83KbPUPzDhC6eDGjQ8P
http://logs.uaventure.com/view/zfssNUUJpYgpt6wNL9tc8Y

[2017-02-15 20:48] sanderux commented on #6554
The increase in altitude in these logs is most likely related to the fact that level is off but the thrust setpoint issue did not occur

[2017-02-15 20:51] dagar commented on #6554
I think we should thoroughly reset the internal flags in the multicopter position controller during VTOL FW mode, possibly add additional logging, and move on.
https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/mc_pos_control_main.cpp#L2305

@Stifael is there any additional logging that you would have found useful for debugging this?

[2017-02-15 20:59] sanderux commented on #6554
Doesnt this https://github.com/PX4/Firmware/blob/master/src/modules/commander/commander.cpp#L3683
and this: https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/mc_pos_control_main.cpp#L2279

make the controller not reset?

[2017-02-15 21:01] dagar commented on #6554
@sanderux I just glanced at your logs and the altitude during back transition is terrible.

![bt](https://cloud.githubusercontent.com/assets/84712/22995146/a5ccaa88-f397-11e6-8d00-d12de1d65ebe.png)

Why does the MC thrust remain high as you continue to overshoot the altitude?

![bt](https://cloud.githubusercontent.com/assets/84712/22995176/d0715f22-f397-11e6-9055-69d77e807381.png)

We should also

[2017-02-15 21:03] dagar commented on #6554
and this: https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/mc_pos_control_main.cpp#L2279
make the controller not reset?

I'm talking about resetting like the section below.

[2017-02-15 21:16] LorenzMeier commented on #6549
Fixed in https://github.com/PX4/Firmware/commit/081c40c6fa2045560f80b0c0707f400eb31b7ff4

[2017-02-15 21:16] #6549 closed

[2017-02-15 22:22] rkintada commented on #6562
Hi,
I just came to know that PX4 already does the time-stamp synchronization between aDSP and the apps processor.  To the above pseudo code to do time-adjustment is not needed.
thanks

[2017-02-16 02:21] mhkabir commented on #6562
@rkintada Yep :)

I'm all for pushing this ahead with Mavros now. We can just disable the Mavlink sync since the time bases will already be the same.

@r1b4z01d Can you please push your changes to the VI-slam example somewhere and I'll get it streamlined and working with the new API, since this has been merged  : https://github.com/PX4/Firmware/pull/6074

[2017-02-16 03:48] crossa opened #6590 "I have fix some issues but faild to create pull request.So I uploaded file here. Please check it"
There is no github desktop client for linux, so I have upload the file here.
[Firmware.zip](https://github.com/PX4/Firmware/files/779011/Firmware.zip)

Yesterday , I had try to create the pull request in my mac，but   the github desktop client
always said "I have not logged in". But I have already logged in .

So I upload the file here. Thanks

In Firmware/src/lib/DriverFramework/drivers/mpu9250/mp

[2017-02-16 04:51] #5927 closed

[2017-02-16 06:13] #6232 closed

[2017-02-16 06:13] #6237 closed

[2017-02-16 06:14] dagar commented on #6211
@vvranjek any update?

[2017-02-16 06:16] dagar commented on #6165
Duplicate https://github.com/PX4/Firmware/issues/6274?

[2017-02-16 06:16] dagar commented on #6094
Fixed.

[2017-02-16 06:16] #6094 closed

[2017-02-16 06:22] dagar commented on #5806
Should be resolved. PX4 will now only take the first source (RC or Mavlink).

[2017-02-16 06:22] #5806 closed

[2017-02-16 06:23] dagar commented on #5651
@ruyi7952 can you try this again with latest PX4 and QGC?

[2017-02-16 06:30] #5040 closed

[2017-02-16 06:33] dagar commented on #4937
Currently working with runway takeoff.

[2017-02-16 06:33] #4937 closed

[2017-02-16 06:34] dagar commented on #4769
Fixed?

[2017-02-16 07:51] BossKwei opened #6592 "Puzzled about 'headless mode' in gazebo"
I tried to control PX4 by `/mavros/setpoint_velocity/cmd_vel` ros topic in OFFBOARD mode, everything is OK but the quadrotor is always in headless mode, and I can not change it.

I noticed that there is a `headless` param in launch file, but this param finally set to gazebo rather than PX4 Firmware or SITL? So after I changed this param nothing happened..

So, how to close `headless mode`?

![1](h

[2017-02-16 08:18] LorenzMeier commented on #6495
For which model?

[2017-02-16 10:38] LorenzMeier commented on #6374
Yep that is indeed a bug.

[2017-02-16 11:35] LorenzMeier commented on #6374
Fixed in 7bd851469796f16d51938c318f2b45dd0e2201e0.

[2017-02-16 11:35] #6374 closed

[2017-02-16 14:33] pfkrp commented on #6443
@brdgtannj Check how your magnitude of magnetic field behaves. It seemed that it was my problem when I compared to the other flights that were successful. It was caused by grounded metal shield in the vicinity of the gps module. Since removal of the shield I haven't observed that problem and the magnitude of magnetic field looks flat as it should.

[2017-02-16 16:06] GregoireH opened #6596 "sdlog2 python script usage is wrong."
The usage of the log analysis tool sdlog2_dump.py is stating that we should specify field using a dot '.' whereas it should be using underscore '_'.

eg. using this
python sdlog2_dump.py log006.px4log -t TIME -m TIME -m IMU -m SENS_BaroAlt,BaroTemp > log.csv
instead of this
python sdlog2_dump.py log006.px4log -t TIME -m TIME -m IMU -m SENS.BaroAlt,BaroTemp > log.csv
Best

[2017-02-17 02:47] lovettchris commented on #6374
thanks!

[2017-02-17 02:57] lovettchris commented on #6495
HIL Quadrocopter X.

[2017-02-17 09:00] LorenzMeier commented on #6495
Ok, so the simple answer is: The comment lies: Rotors should be scaled 0..1 such that we leave the option for inverted operation (which some systems would support).

[2017-02-17 09:00] LorenzMeier commented on #6495
Comment fixed in 44c8857354.

[2017-02-17 09:00] #6495 closed

[2017-02-17 09:42] LorenzMeier commented on #6541
There was a fix and we validated it to be good. Can you share the commit you tested? And would you mind updating all submodules and trying master again with a clean build?

[2017-02-17 10:18] julianoes opened #6602 "SITL stops with negative time"
I've run into the case with jMAVSim SITL on Mac where it suddenly says:

[code]
The simulation is unusable at that point.

[2017-02-17 14:00] nitehack commented on #6576
Does the pixhawk fuse the local position NED data with the gyro and accelerometer sensors to calculate the attitude?
I have observed that having the drone still and fooling the optical flow, pitch and roll change their value.
Is there any way to disable this fusion?

[2017-02-17 14:43] kd0aij commented on #6576
Try using attitude_estimator_q instead of EKF. Its update() method is quite straightforward.

[2017-02-17 15:25] zthorson commented on #5651
I am seeing the same issue attempting an HIL simulation using a pixhawk board with no sensors, actuators, or RC connect.  I have disabled all circuit breaker checks, which allows me to arm.  This is for a fixed wing simulation.

**Symptoms**

* Similar to ruyi7952.
* XPlane 10 packets at ~30 Hz
* Location in XPlane matches QGroundcontrol.  Simulated attitude and gps location match as well
* Enable

[2017-02-17 17:08] Stifael opened #6604 "Pos control landing"
The landdetection still does not recognize landing consistently.

[2017-02-18 00:36] LorenzMeier opened #6606 "Ensure system is not leaking FDs"
<img width="885" alt="screen shot 2017-02-18 at 01 35 46" src="https://cloud.githubusercontent.com/assets/1208119/23088218/a887a2a2-f57a-11e6-9f63-738dd840f906.png">

[2017-02-18 02:34] mhkabir opened #6607 "listener does not work for subtopics"
Listener does not seem to know about the subtopics like `vehicle_vision_position`, presumably because the generator is not parsing [this line](https://github.com/PX4/Firmware/blob/master/msg/vehicle_local_position.msg#L63) from the message file :
[code]

[code]

[2017-02-18 07:46] AndreasAntener commented on #6286
Implemented in #6567

[2017-02-18 07:46] #6286 closed

[2017-02-18 07:46] AndreasAntener commented on #6286
@CarlOlsson you're up ;)

[2017-02-18 07:47] AndreasAntener commented on #3858
Fixed in #6567

[2017-02-18 07:47] #3858 closed

[2017-02-18 07:47] AndreasAntener opened #6610 "Add attitude locking for Acro in MC and FW"

[2017-02-18 08:01] AndreasAntener opened #6611 "Old style or new style flight mode assignment"
@LorenzMeier @dagar @DonLakeFlyer
I've added 2 new switches for the old style flight mode assignment in https://github.com/PX4/Firmware/pull/6567:
- Manual switch
- Stabilized switch

The previous state was that we used Acro in fixed-wing as stabilized switch. This is now solved but it will need docs and UI changes to reflect that.

My first basic question is if we should even keep that switch ass

[2017-02-18 10:25] LorenzMeier commented on #6606
@bkueng @davids5 We might need to teach NuttX to keep track of the FD count for each task and report that.

[2017-02-18 15:32] dagar commented on #6611
Thinking out loud, could we extend the new style to achieve what you want? An optional second switch that the firmware would be responsible for mixing with the first to extend the number of mode slots?

[2017-02-18 19:21] dagar commented on #3858
@AndreasAntener could we now get rid of fw_permanent_stab or does it exist for a different reason?

[2017-02-18 22:07] dagar commented on #4797
How do we transition in a fix like this?https://github.com/PX4/Firmware/blob/master/src/modules/vtol_att_control/standard.cpp#L439

[2017-02-19 00:06] tubeme commented on #6611
I think it is tooo much switches already. With the VTOL it is even one more. So isn't it better if we just follow the logic of flying.

So I will give an example with the VTOL where the confusion is worse.

With the "acro switch" programmed I can change between Manual - Acro (in quad mode) and Manual - Stabalized (in airplane mode). It is very easy to be one switch. We can use the acro switch but

[2017-02-19 00:16] tubeme commented on #6611
If the "Manual switch" is not programmed by default it should be in Manual mode for MC and Stabilized in FW.

We can change the position of Manual, Acro in the 3 pos switch but they should be linked to corresponding Stabalized and Manual for FW.

[2017-02-19 00:53] rs1990 opened #6612 "Not able to set Magic Mode for indoor fake gps data"
Hello,

I have been trying to set up my system to be able to send vicon data to my pixhawk, but i cannot find and  change SYS_COMPANION to 257600 and INAV_DISAB_MOCAP to 1 (disable mocap estimation) in the parameter list. i am able to everything else. the pixhawk is working fine with the companion computer and i am able to arm and disarm via ros commands.

Is there something i need to change and r

[2017-02-19 08:45] AndreasAntener commented on #3858
Only works if you assign the manual switch now in the old style, because that makes stabilized the default (btw, which is also the default for us in MC to be consistent).

[2017-02-19 08:54] AndreasAntener commented on #6611
@dagar yeah I could imagine that one would set a secondary channel. For each slot on the main channel you would have the possibility to specify "use secondary modes". When that is selected we would store another 6 secondary slots for that main slot. That would give you 6x6 possible combinations.

Example:
- main 1: use secondary
  - sec 1: stabilized
  - sec 2: acro
  - sec 3: manual
- main 2: alt

[2017-02-19 10:07] BossKwei commented on #6592
That's how it works.

[2017-02-19 10:07] #6592 closed

[2017-02-19 10:14] leomatrix opened #6613 "px4-stm32f4discovery_default will dead when run into application"
I git clone the lastest code of px4, and I use make px4-stm32f4discovery_default upload to flash this test firmware to stm32f4-discovery board. I find out that after bootloader the app will dead , the console output show that:
up_hardfault: PANIC!!! Hard fault: 40000000
up_assert: Assertion failed at file:armv7-m/up_hardfault.c line: 171 task: Idle Task
up_dumpstate: sp:     20000f98
up_dumpstate:

[2017-02-19 10:55] tubeme commented on #6611
I try to simplify my system and I got this config so far.

Left Hand - all concerning flying

SE - Mode switch
    1. Manual
    2. Assisted
    3. Mission

SA - Assisted switch
   1. Altitude
   2. Position

SB - Manual switch
   1. Manual (MC) / Stabalized (FW)
   2. Acro (MC) / Manual (FW)

For VTOL

SF - Transition switch
   1. MC
   2. FW

Right Hand - Emergency + Take Off and Landing

SC - E

[2017-02-19 11:01] tubeme commented on #6611
Left hand and right hand logic is simple. During flight mode change your hands mandatory should be on the controls of Ail and Elev. With your left hand you can leave the Throttle and Rudder and do the change while in full control over the flight dynamics of the plane. While in the other situations - emergency, landing, taking off you can leave the Ail and Elev controls and activate the needed.

[2017-02-19 12:56] leomatrix commented on #6613
I also find that if commit CONFIG_STACK_COLORATION in the defconfig this dead will disappear, I think the problem exist in stm32_start.c ===> go_os_start((FAR void *)&_ebss, CONFIG_IDLETHREAD_STACKSIZE);

[2017-02-19 13:13] leomatrix commented on #6613
I attempt to increase and decrease the value of CONFIG_IDLETHREAD_STACKSIZE, but this operation seem not take effect...

[2017-02-19 13:47] LorenzMeier commented on #4797
I think we have no chance but to bundle this into a major release with big red warnings.

[2017-02-19 16:01] davids5 commented on #6613
@leomatrix - This is not that surprising the config is stale, and has not been vetted lately.  Do not be misled by the CONFIG_STACK_COLORATION  - it is doing what it is suppose to.  The fault occurring in the code at the instruction prior to 0x0801ad23. You can use gdb to debug this.

[2017-02-19 16:28] Deca commented on #4983
I've the same issue, voltage drop on ppm when connected to rcin and the pixracer don't receive any signal, anyone found a solution?

[2017-02-19 21:15] dagar opened #6617 "RC lost with no GPS"
What's the correct behaviour for FW (manual) if RC lost and there's no GPS?

http://logs.uaventure.com/view/JEX9QEMwru3u9ditd8vMp6
This is a VTOL that only lost RC briefly, but went into DESCEND nav state (navigator LAND), but without GPS fw_pos_ctrl doesn't run, and most of the landing position setpoint wouldn't work.

Should it be NAVIGATION_STATE_AUTO_LANDGPSFAIL? Or a version of FW land that w

[2017-02-20 03:16] #6590 closed

[2017-02-20 03:51] langxm1223 commented on #6541
Hello @LorenzMeier
I checked and tested it again.
The commit of driver framework I used is 0b9afafa2e05ae3899c6d38231196ace265003b2
The bug still existed.
Hope that someone could take a more thorough test.
Thank you very much.

[2017-02-20 07:02] leomatrix commented on #6613
@davids5   As you said I use arm-none-eabi-gdb to debug step by step ! when I run to go_os_start, The board will dead screenshot at:  https://files.gitter.im/PX4/Firmware/RqF3/blob

[2017-02-20 07:16] leomatrix commented on #6613
"Set the IDLE stack to the stack coloration value then jump to os_start().  We take extreme care here because were currently executing on this stack."  why do you do Set the IDLE stack to the stack coloration value operation ???

[2017-02-20 07:51] DeanJJJ opened #6620 "MC: Won't start after arming（Firmware: release 1.4.4）"
Similar to #4083, nothing happened while pushing Throttle up after arming by safety switch and RC. At this moment QGC shows servo1_raw to servo6_raw are all 900, normally they should be 1075. PX4 release 1.4.4 was running.

[2017-02-20 08:24] nitehack commented on #6576
@kd0aij Is it posible to use attitude_estimator_q for attitude estimator and EKF2 for position estimator? I have others problems when I use LPE estimator for local position.

[2017-02-20 12:31] mhkabir commented on #6576
What's the issue with LPE?

[2017-02-20 13:17] nitehack commented on #6576
@mhkabir With LPE for any reason the local position X or Y NED is increasing or decreasing (meters) when drone is stop (I dont know the reason) , with EKF2 this doesnt happend. Futhermore I need that the height control only depends of Lidar lite (local position Z in LPE I see that depends of barometer and Lidar) and I cant select in LPE, with EKF2 I can select only Lidar lite.

[2017-02-20 13:48] Stifael opened #6622 "time stamp"
When looking at the commander_state msg in flightplot, the starting timestamp of this message does not match the remaining messages.

![timestamp_issue](https://cloud.githubusercontent.com/assets/13449161/23127527/ac2783e8-f77b-11e6-82a7-fc676d440ec8.png)

[2017-02-20 13:49] Stifael commented on #6622
The blue line is commander_state message

[2017-02-20 14:02] kd0aij commented on #6576
@nitehack No, it's either EKF2 or LPE/Q; EKF2 does both position and attitude estimation

[2017-02-20 14:06] kd0aij commented on #6620
Have you tried a later release?

[2017-02-20 14:35] Stifael commented on #6604
It turns out that the stick threshold is set very tight:
![landing_detection](https://cloud.githubusercontent.com/assets/13449161/23129233/2d265716-f782-11e6-89ae-655cc550f927.png)
Blue is the stick input which should be below 0.05.
The thrust and velocity satisfy ground contact condition.

[2017-02-20 14:36] DeanJJJ commented on #6620
@kd0aij no, I thought it was fixed in issue #4083 but now it appears again

[2017-02-20 14:41] LorenzMeier commented on #6604
We should set the calibration such that the sticks reach maximum travel at about 90% physical motion

[2017-02-20 14:41] LorenzMeier commented on #6604
So that you don't have to have it completely down

[2017-02-20 14:45] kd0aij commented on #6620
Maybe it was fixed on master only?

On Mon, Feb 20, 2017 at 7:36 AM DeanJJJ <notifications@github.com> wrote:

[2017-02-20 14:51] Stifael opened #6623 "Landing initialization"
1.) Currently ground contact and landing are set to 0 at initialization, which is wrong since at start, when not armed, they both should be 1.
![landing_initalization](https://cloud.githubusercontent.com/assets/13449161/23129627/ae0d697c-f783-11e6-9028-5bb48316ba96.png)

2.) Currently only landed or groundcontact can occur simultaneously. This is confusing since the state-name "landed" implies tha

[2017-02-20 23:03] vidullan opened #6624 "Local_position_ned values always 0 for x and y coordinates."
I have a pixhawk (px4 mini) connected to a rasp pi using the serial interface running firmware 1.5.4.

When I try this example code that is meant to receive local_position_ned I get z values, velocity values, and attitude values, but the x and y local position values are always 0. Also the pixhawk seems to accept offboard mode (the log says so) but I cannot set the local_position_target_ned as it

[2017-02-21 02:33] mhkabir commented on #6624
Yes.

There any many ways, like optical flow and visual odometry. You need to read up. Please open a discussion at http://discuss.px4.io/ for questions like this.

[2017-02-21 02:33] #6624 closed

[2017-02-21 02:57] DeanJJJ commented on #6620
@kd0aij there is something different, the problem I met not looks like related to non-manual modes, I doubt it might be caused by time-clock but can not prove it.

[2017-02-21 03:06] kd0aij commented on #6620
If master doesn't work, please post a log

[2017-02-21 04:55] DeanJJJ commented on #6620
@kd0aij issue #4083 was fixed in April 2016 and release 1.4.4 was published in August 2016, it should be included in that release. This problem does not appear very frequently, around once in 15 attempts.
I will post a log later.

[2017-02-21 05:03] mhkabir commented on #6620
As we keep saying, USE THE LATEST RELEASE.

[2017-02-21 07:10] tops4u commented on #6604
Pos Ctrl Landing has never worked for me. I'd rather had some scary moments with it, when it tried to compensate some GPS deviation while on the ground. I never trusted this function and I always switch to Stabilized after touch down. This is inconvenient but works.

[2017-02-21 14:36] tops4u commented on #6576
I assume you do not have a GPS or a secondary Compass which contradicts the other Compass (Orientation wise)? I had this behaviour when I had two Compass (internal and external) with incorrect Orientation settings.

[2017-02-21 18:01] davids5 commented on #6613
@leomatrix Stack coloration is used to check the stack penetration.  If you grep the code CONFIG_STACK_COLORATION  you will see all the useage.  In PX4 top reports the stack usage for each thread. This is is achieved using CONFIG_STACK_COLORATION.

All the boards share the stm32_start.c file you are looking at - this code is working and is not the problem unless there is a configuration error (def

[2017-02-21 19:17] gsimon2 commented on #5429
I am having this same issue.

I have uncommented #drivers/mb12xx from  Firmware/cmake/configs/nuttx_px4fmu-v2_default.cmake and uploaded the firmware to the Pixhawk. However, I am unable to find SENS_EN_MB12xx in the full parameter list and am unable to get readings off of the sonar sensors.

Is there something that I am missing?

Thanks.

[2017-02-21 23:18] Seanmatthews commented on #6562
@rkintada Where did you find that PX4 performs timestamp synchronization between aDSP and the apps processor?

[2017-02-21 23:53] rkintada commented on #6562
@Seanmatthews
The synchronization is done when initializing muorb.  It first computes the offset and invokes an fastrpc call to set the offset in adsp.  Here are the relevant source files:
* offset computation: https://github.com/PX4/Firmware/blob/master/src/modules/muorb/krait/px4muorb_KraitRpcWrapper.cpp - Line 85
* Call to adsp:
https://github.com/PX4/Firmware/blob/master/src/modules/muorb/krai

[2017-02-22 06:18] Clark-Youngdong-Son opened #6630 "Mavlink stream rate & connection with QGC"
Hello all.

I recently bought Pixhawk Mini. Currently, I am setting the hardware to establish ROS-Pixhawk-GCS system.

In the previous Pixhawk it provided TELEM2 port which can be connected to the ROS-computer directly. However, Mini provides only one TELEM1 port which is assigned for Wifi-module now. The last port I can use is the port with 'Android'? cable used when bootloading. I successfully i

[2017-02-22 08:53] nitehack commented on #6576
@tops4u  I use only the internal compass but I also tried to connect a external compass with GPS, but in both cases is the problem. I observed that when I disconnet px4flow the problem disappears, and when the local position X or Y, also it change the attitude.

[2017-02-22 10:14] tumbili commented on #6576
@nitehack Sorry for the delay, did not realize you posted the logs. I can have a look.

[2017-02-22 10:33] L4ncelot opened #6631 "Gazebo HIL"
Hi,

I've been using px4 firmware for some time with ROS and Gazebo simulator in **SIL** configuration.

Now what I would like to do is to test my algorithms in **HIL** configuration. The idea is to take data from simulated sensors in Gazebo and send them to my px4 which would send flying commands back to Gazebo.

We're using **navio2** board with **raspberry PI**. I was thinking about connecting

[2017-02-22 11:07] tumbili commented on #6576
@nitehack From the log it seems that you are putting the drone upside down at some points. The result is that the range finder measurements will not be fused anymore and your height starts to drift off. As soon as you turn the drone around again the estimator re-initialises as supposed.
What are you trying to achieve when you have the drone upside down?

[2017-02-22 11:20] nitehack commented on #6576
@tumbili I was testing extreme positions to reproduce the problem. Anyway I have seen that sometimes the problem appears even when the drone is stopped from the beginning (whithout the drone upside down). If I disconnect the optical flow, the problem disappears. Is EKF2 using optical flow data or local position to fuse them with attitude?

[2017-02-22 12:15] TobiMiller commented on #5907
it is implemented and can be closed. you need to use setpoint raw and the right type_mask

[2017-02-22 12:19] #5907 closed

[2017-02-22 13:07] tumbili commented on #6576
@nitehack Right, it looks like your magnetometer is disturbed quite a bit (heading innovations are huge). That won't help the optical flow since it needs to convert body frame measurements into earth frame.
Are you sure that your magnetometer is calibrated and that you have set the correct rotation? The only thing that remains to check for me is if the reset of position and velocity states works c

[2017-02-22 13:10] tumbili commented on #6576
@nitehack I see that this PR https://github.com/PX4/ecl/pull/234 has been merged just recently and brings in some optical flow improvements. Can you test with that?

[2017-02-22 13:17] mhkabir commented on #6576
@tumbili, I think master doesn't have the required submodule update yet.

[2017-02-22 13:34] tumbili commented on #6576
@mhkabir Thanks, I'm doing that now then.

[2017-02-22 17:27] Seanmatthews commented on #6562
@rkintada
In the approach you outlined above-- frames from camera manager, IMU from MAVROS-- I'm finding that there's still a timestamp synchronization problem between the IMU and camera frame timestamps. The discrepancy in the timestamps between the two prevent VISLAM from upgrading pose quality beyond "initializing". The timestamp on the IMU data from MAVROS reflects the system time (`date +%s%N

[2017-02-22 18:20] dagar commented on #1619
We should try -Wundef again to see the specific usage.

[2017-02-22 19:30] gpanders opened #6636 "krait update param failed AFTER upgrading BSP image and aDSP image [Snapdragon Flight]"
This only started occurring in the last day or two.

Upon starting PX4, I get an error message saying:
[code]

followed by a long list of `error finding param: VT_B_TRANS_DUR`.

The mini-dm output repeats the following:
[code]

I used the latest BSP image (Flight 3.1.2) and ADSP images from the Intrinsyc website (both were last updated 11/30/2016). I have reflashed the firmware on both the board a

[2017-02-22 19:31] LorenzMeier commented on #6636
@jywilson @mcharleb @bharath374 Do you have a chance to look into this?

[2017-02-22 22:26] LorenzMeier opened #6641 "Non-satisfactory flight test results"
@MaEtUgR @Stifael Some of the recently merged work got negative feedback from our QA team:
http://review.px4.io/plot_app?log=f72bdea3-c111-422c-99e6-8d8ab3cb1b0d

They were testing this:

<img width="1002" alt="screen shot 2017-02-22 at 23 05 41" src="https://cloud.githubusercontent.com/assets/1208119/23234773/797c6290-f953-11e6-9b0a-70c15f73aab4.png">

[2017-02-22 22:48] santiago3dr commented on #6641
couple flights; good performance
http://review.px4.io/plot_app?log=6ef60043-b047-4ecb-88f8-d908b4f8daf8
http://review.px4.io/plot_app?log=060c9780-1d50-46e2-a5ef-a89e7195cb0f

[2017-02-22 22:54] LorenzMeier commented on #6641
@tumbili The flight tests suggest the EKF performance degraded. Any ideas?

[2017-02-23 01:35] jay3ss opened #6646 "How to use Vicon for local position estimation"
I am using the PX4, MAVROS, and a Vicon system and am attempting to use the Vicon to obtain the position of a quadcopter. I have followed the instructions given in the [External Position Estimation tutorial](https://dev.px4.io/external-position.html) but for some reason I am getting the differing values for the local_position/pose and the mocap/pose (as shown in the figure below). Also, the local_

[2017-02-23 03:37] nahush8 commented on #6646
I have been working on the same problem for quite a while now. Check issue: #6555 . My LPE_FUSION parameter is 4.  I am getting the exact same pose on both topics though when I try to fly a quadrotor in position control mode, it drifts. and is not stable.

[2017-02-23 04:32] nahush8 commented on #6555
@mhkabir  So I uploaded the firmware, also my lpe_fusion parameter is 4 (Only vision data). Mavros/local_position/pose and mocap pose match perfectly. (I checked that in RVIZ and also rostopic echo). I am trying to run Position_control. I start flying the quadrotor manually and switch to position_control. As soon as i switch, it drifts in the XY direction, and sometimes in Z direction. I also reco

[2017-02-23 05:53] DeanJJJ commented on #6620
@mhkabir I have tried to use firmware release 1.5.5, but the drone was totally out of control which is similar with issue #6070. Thank you for help.

[2017-02-23 05:54] DeanJJJ commented on #6620
@mhkabir I have tried to use firmware release 1.5.5, but the drone was totally out of control with HITL simulation in jMAVSim which is similar with issue #6070. Thank you for help.

[2017-02-23 06:02] mhkabir commented on #6620
Use LPE for now as the issue says.

[2017-02-23 06:45] mhkabir opened #6648 "Create modern groundtruth interface for VICON"
We need to :
1. Publish `ATT_POS_MOCAP` data into `vehicle_local_position_groundtruth` and `vehicle_attitude_groundtruth`.
2. Get rid of `att_pos_mocap` topic.
3. Implement modern groundtruth message : https://github.com/mavlink/mavlink/issues/660.
4. Add estimator plumbing for fusing from new topics.
5. Add plotting for VICON/groundtruth to Flight Review.

[2017-02-23 06:49] mhkabir commented on #6555
Please try it out with these 2 bugfixes :
1. https://github.com/mavlink/mavros/pull/660
2. https://github.com/PX4/Firmware/pull/6647

[2017-02-23 07:31] DeanJJJ commented on #6620
@mhkabir I have tried to change efk2 to LPE previously but it was still out of control.

[2017-02-23 07:34] tumbili commented on #6641
@LorenzMeier The updates from ecl were about range sensor and optical flow fusion so I don't expect this to be related.

[2017-02-23 07:34] LorenzMeier commented on #6620
@DeanJJJ Unless you provide a log file we will unable to help you as there is no information to go on. I will close this issue tomorrow unless we get additional details.

We have a dedicated test flight team performing daily test flights, so I'm confident that whatever you are experiencing is somewhat related to your setup. That's why we need additional information.

[2017-02-23 10:23] western-co-at opened #6651 "Takeoff not detected after 2nd time in altitude mode"
Hello
With release v1.6.0rc1 or the current master the takeoff seems not to be detected after the second time arming in altitude mode:
http://review.px4.io/plot_app?log=b29f4633-e7c9-49a9-ab92-18106d9f01f9

[code]
The first time arming in altitude, the takeoff and landing is detected fine.
After the 2nd time arming, the motors are only spinning with idle thrust for some seconds and the attitude/po

[2017-02-23 13:36] nitehack commented on #6576
@tumbili I have calibrated the magnetometer many times and the orientation is correct. I will test these improvements. Thanks.

[2017-02-23 16:57] rkintada commented on #6562
@Seanmatthews The DSP time is synchronized to Monotonic clock( as seen in https://github.com/PX4/Firmware/blob/master/src/modules/muorb/krait/px4muorb_KraitRpcWrapper.cpp line 110 ).    Do you know if the MavRos is overriding the IMU timestamp with ros::now()?  This may explain why it is getting the real time clock.  Also the camera timestamps are based off Monotonic clock and not realtime clock.

[2017-02-23 18:09] mhkabir commented on #6562
No it doesn't override anything.

The mavros syncs the IMU time to the ROS time base, which is the real-time
clock.

I will add a parameter to mavros to disable the timesync and pass on the
timestamp straight though. Meanwhile, you can edit the imu_pub plugin and
remove the sync_stamp call for the IMU message.

On Feb 23, 2017 10:27 PM, "rkintada" <notifications@github.com> wrote:

@Seanmatthews <

[2017-02-23 18:55] MaEtUgR commented on #6641
My change simply allows to detect landed with a stick position that is not 5% from the bottom but 15%. If I remember right it was already like this at some time in the past. Now you even have a parameter (LNDMC_MAN_DWNTHR) to tweak or disable this on the newest master.

[2017-02-23 22:27] zthorson commented on #5651
I found the issue.  It is very specific to PX4FMU_V4 hardware builds.  In this build, a workaround to flaky boards was put in place in https://github.com/PX4/Firmware/commit/021f0840ae7f724bfdfd317dda3d57362017b835

Basically, if you are using Pixracer (or variants thereof), when you attempt to enter HIL mode, the code meant to reset the sensors leaves the fmu driver running.  This uses up the /de

[2017-02-24 00:32] AlexMalo opened #6655 "'.data' will not fit in region 'flash' overflowed by 412 bytes"
I can build the default px4fmu-v2_default without problems, but when I try to add an example uncommenting a line in the cmake/configs/nuttx_px4fmu-v2_default.cmake file

	#examples/math_demo
	# Tutorial code from
	# https://px4.io/dev/px4_simple_app
	examples/px4_simple_app

I get the following error.

-- Build files have been written to: /Users/badalex2/src/Firmware/build_px4fmu-v2_default
[530/5

[2017-02-24 00:57] rkintada commented on #6562
@mhkabir thanks for the clarification.
@Seanmatthews can you please share a sample log of the raw timestamps for the IMU and the camera?

Thanks

[2017-02-24 02:46] mhkabir commented on #6562
@rkintada is it feasible to timestamp the cameras using the realtime clock?

[2017-02-24 05:38] davids5 commented on #6655
You will need to disable something else in ```cmake/configs/nuttx_px4fmu-v2_default.cmake``` to make room. The other option is a v3 build if your board has newer silicon and can use the second MB.

[2017-02-24 06:32] DeanJJJ commented on #6620
log file attached for the data of crashing with HITL simulation in jMAVSim.
[crash_log.zip.gz](https://github.com/PX4/Firmware/files/798516/crash_log.zip.gz)
the issue of "Won't start after arming" does not appear very frequently so it needs time to make a recurrence. I will upload log file if it happens again.

[2017-02-24 15:10] jeyong opened #6659 "null checking in param_get function"
Hi,
when I review param_get function in param.c and param_shmem.c, null checking looks unusual.
`
	const void *v = param_get_value_ptr(param);

	if (val != NULL) {
		memcpy(val, v, param_size(param));
		result = 0;
	}
`

I think v should be checked not val.
`
if(v != NULL) {
`
What do you think?

[2017-02-24 15:30] dagar commented on #6659
Actually it should be checking that both src and dst are valid pointers.

[2017-02-24 15:41] jeyong commented on #6659
Yep.
I think it should be checked before used.
So val is checked in entry of function. But that place is for v.

[2017-02-24 17:20] sanderux opened #6660 "Param not saved - (storage is FRAM)"
We crashed one of our prototypes today due to a parameter that didnt store.
The param is question was PWM_AUX2_REV, the following happened;

A new FC as mounted and a bench test was done.
Elevons needed reversing so they were set through QGC.
After setting a bench test was done on the elevons and they performed as required.
Then we went to the field and started a transition, the plane crashed righ

[2017-02-24 17:25] sanderux opened #6661 "Quadchute needs max tilt angles"
In relation to https://github.com/PX4/Firmware/issues/6660 it has become clear that quadchute cannot recover a plane from a nose dive in every circumstance. It seems evident that some monitoring on max tilt angles must be performed.

[2017-02-24 17:35] marv3 commented on #6576
Sorry guys, I'm an idiot. Is it true that lidar lite v3 is supported in the 1.6.0 Release RC1?
And how can I test if the lidar is working?

Sorry for the intrusion hehe

Thanks!!

[2017-02-24 18:11] davids5 commented on #6660
@sanderux - what board config is this on?

[2017-02-24 18:14] sanderux commented on #6660
Dropix px4-fmu-v2

[2017-02-24 18:25] davids5 commented on #6660
@sanderux,

Just to to confirm does the HW has a RAMTROM FRAM on it and is the config the px4fmu-v2_default build?

I ask because there are "flash based param" in other HW configs and the title may need to be changed to help guide in debugging this.

[2017-02-24 18:38] LorenzMeier commented on #6659
@bkueng Can you look into this?

[2017-02-24 18:46] sanderux commented on #6660
Yeah i'm not sure. I'll check. It is the fmuv2 default build
But the bug is more a request to verify the param stored in whatever storage it resides

[2017-02-24 19:10] magicrub opened #6662 "Transition to more double-precision maths"
In an effort to take advantage of future hardware that offer hardware assisted double-precision computation and the adoption of RTK, the codebase should be improved to use 64bit instead of 32bit precision where appropriate:

- gnc/EKF maths
- GPS RTK drivers
- GPS related maths (maybe already done?)
- mission waypoint support (new mavlink v2 packets?)
- position maths for various helper functions

[2017-02-24 20:50] dagar commented on #6662
Has anyone benchmarked float vs double performance on a pixhawk or similar stm32f4? It would be interesting to know roughly where it matters performance wise and then be more deliberate in choosing float vs double.

There might be large portions of the code base that could be handled identically (preferring double) and only a few critical areas where single precision math on older hardware is nece

[2017-02-24 20:56] dagar commented on #6661
Where should the line be?
Exceeding FW_P_LIM_MIN/FW_P_LIM_MIN + buffer for some small time limit?

Or more intelligently within the controller if attitude error continues increasing.

[2017-02-24 21:17] genemerewether commented on #6636
This is a problem with commander linking - disabling commander in the QURT build or commenting out the lines around the dm_read allow the code to run.

dm_read is used at the following line:
https://github.com/PX4/Firmware/blob/058bc97c838d9ff3958e95c3ad18098f2d75ef36/src/modules/commander/commander.cpp#L1475

[2017-02-24 22:12] dagar commented on #6662
Some data from switfnav - http://docs.swiftnav.com/wiki/STM32F4xx_porting_and_speed_notes

![image](https://cloud.githubusercontent.com/assets/84712/23322621/d157375a-fab2-11e6-83f3-454844eda6ec.png)

Not surprisingly double addition, subtraction, and division are an order of magnitude faster with hardware, but interesting that multiplication is about the same or even slower.

If we establish a se

[2017-02-24 22:21] davids5 commented on #6662
@dagar is the an FMUv7 or is that a FMUv5 on M7 Core?

[2017-02-24 22:29] Jiangyou0811 opened #6664 "2 bugs in TECS"
in tecs.cpp
1. in line 110, it should be
`temp = rotMat(0, 2) * CONSTANTS_ONE_G + accel_body(0);`
rather than
`temp = rotMat(2, 0) * CONSTANTS_ONE_G + accel_body(0);`

because the equation should be rotMat * [0;0;G], which means the element in 1st row 3rd column is enrolled.

2. From line 283 to 285
`_hgt_dem_adj = 0.1f * _hgt_dem + 0.9f * _hgt_dem_adj_last;`
`_hgt_dem_adj_last = _hgt_dem_adj;`
`_

[2017-02-24 22:32] rkintada commented on #6562
@mhkabir No.  that is not an easy change and also has ripple effect as other application using the camera API rely on the monotonic based timestamp.

[2017-02-24 22:46] dagar commented on #6662
Repeated that without thinking, but I meant FMUv5 with an STM32F7. I now see there are different versions of the STM32F7 with and without the double precision FPU. Can you provide some clarity @davids5?

[2017-02-24 22:48] LorenzMeier commented on #6664
Thanks! @dagar @tumbili Can you investigate?

[2017-02-24 23:01] davids5 commented on #6662
Fun isn't it!

FMUV5 is based on
[CONFIG_ARCH_CHIP_STM32F765II=y](http://www.st.com/content/ccc/resource/technical/document/datasheet/group3/c5/37/9c/1d/a6/09/4e/1a/DM00273119/files/DM00273119.pdf/jcr:content/translations/en.DM00273119.pdf)

Based on marketing info.....
![image](https://cloud.githubusercontent.com/assets/1945821/23324182/74bb2b22-fa90-11e6-895d-acf47ad0789f.png)

But it took me a

[2017-02-25 00:25] sanderux commented on #6660
@davids5  I cant find the specs for the type of storage.
It;s this one: https://drotek.com/shop/en/drotek-parts/478-dropix-flight-controller.html

[2017-02-25 00:42] kd0aij commented on #6660
FM25V01 FRAM: https://github.com/drotek/Dropix/blob/master/Hardware/Dropix.PDF

[2017-02-25 00:47] davids5 commented on #6660
@kd0aij - thanks for the print

[2017-02-25 07:05] hamididari opened #6667 "carsh in build px4_daemon_app example"
Hi guys
I try build px4_daemon_app example but i got this err:
![screenshot from 2017-02-25 13-53-01](https://cloud.githubusercontent.com/assets/13236906/23329106/16e43db6-fb46-11e6-96ca-211a3f9198e9.png)

[code]

how can i fix this?
tnx

[2017-02-25 09:40] tumbili commented on #6664
Yes, the ff can't work. I need to check the sign of the rotation. Will do a PR.

[2017-02-25 10:02] #6659 closed

[2017-02-25 11:01] LorenzMeier commented on #6660
There is also the possibility that the param did not get transmitted, potentially because of an input validation issue in the UI.

[2017-02-25 11:32] sanderux commented on #6660
I am 100 percent sure the params did get applied before reboot as i bench tested the elevon responses both through transmitter and stabilize responses.

[2017-02-25 11:54] leomatrix commented on #6613
@davids5 Thank you for your help! I have change my arm-none-eabi- tools to 5.4.1 20160609, and make clean and make distclean, But using "make px4-stm32f4discovery_default upload" flash to stm32f4-discovery still dead... could you have a try ???

[2017-02-25 12:00] newmsg opened #6668 "How to fix the problem ' fatal: Not a git repository: XXXX'"
Hello,

I used the cmd `git submodule update --init --recursive` to update all submodules of px4 like this:
[code]
I found the following error:
[code]
However,  the absolute path is "J:\PX4_SRC\Firmware\cmake\cmake_hexagon"
instead of "src/lib/DriverFramework/modules/cmake/cmake_hexagon"

How to fix it? Thank you in advance!

any help would be appreciated!

[2017-02-25 14:58] mhkabir commented on #6562
Ok, understood. My proposal, in that case, would be to simply add an the time offset to the camera image (so that it's time base matches the IMU time), before pushing it into VISLAM. That way we have valid ROS timestamps for IMU, and maintain standards across the board. VISLAM will also return the estimate in the ROS timebase in that case, and PX4 will sync it back to monotonic on recieving.

@Sea

[2017-02-25 16:52] matanhavi opened #6669 "RTL mode state is not being reset to NONE"
When RTL mode is being deactivated, and then re-activate, the RTL mode is not always goes to RTL_STATE_NONE.
On some case it is, if for example a mission is being triggered on between.
It can be easily reproduced on the simulator (iris, ekf2)
1) takeoff
2) fly to another location (you must fly, another bug is that RTL is not started if triggered just after takeoff)
3) start RTL
4) the drone will c

[2017-02-25 17:21] dagar commented on #6669
Thanks for reporting. I'll take a look.

[2017-02-25 17:25] Seanmatthews commented on #6562
@rkintada As per @mhkabir suggestion above, I removed the timestamp synchronization from the MAVROS imu plugin. Doing this results in camera/imu timestamps that are typically within 0.5ms of each other.

Big picture, VISLAM does output a pose, but the [poseQuality](https://github.com/ATLFlight/ros-examples/blob/master/src/nodes/SnapdragonRosNodeVislam.cpp#L186) goes through blips of INITIALIZATION

[2017-02-25 17:42] mhkabir commented on #6562
Pretty sure that IMU frame and/or units are wrong. No idea what vislam expects (NED?), but mavros follows the ROS convention of ENU.
Try swapping X, Y and negating Z in the mavros gyro and accel data to get it into NED.

[2017-02-25 17:46] mhkabir commented on #6562
Then there is the matter of extrinsics and intrinsics calibration for your camera-IMU system.  A quick skim of the code base didn't reveal vislam taking in that information anywhere. I don't see how it could work without an accurate calib.

There are too many variables in the VIO chain to predict what exactly goes wrong without actually using it or having more information on the vislam approach. I

[2017-02-25 17:49] LorenzMeier commented on #6669
I have a fix coming.

[2017-02-25 17:51] LorenzMeier commented on #6669
Fix is here: https://github.com/PX4/Firmware/pull/6670

[2017-02-25 18:07] dagar commented on #6667
Hi @hamididari

That example hasn't been compiled recently. I made the small changes and readded it to the builds. https://github.com/PX4/Firmware/pull/6671

[2017-02-25 18:40] Seanmatthews commented on #6562
I wondered about that as well-- there's no mention of calibration at [ATLFlight/ros-examples](https://github.com/ATLFlight/ros-examples). Though, the VISLAM example does seem to work on its own. @rkintada can you fill us in?

I'll post links to a couple bag files of IMU + pose data from both methods to this comment shortly.

[2017-02-25 18:50] mhkabir commented on #6562
I suspect that the default intrinsics and extrinsics is just close enough for the filter to converge.

[2017-02-25 19:55] tonyvanhain opened #6672 "cannot run make posix_sitl_default gazebo"
I think the newest update to the firmware have a bug in it where i cannot run the package, and it hangs my laptop everytime I want to run the command make posix_sitl_default gazebo. Does anyone else have this problem as well?

[2017-02-25 20:16] mhkabir commented on #6672
Where does it hang?

[2017-02-25 20:19] dagar commented on #6672
@tonyvanhain please share the console output or provide a screenshot.
Another quick thing to try is running without the gui.

    HEADLESS=1 make posix_sitl_default gazebo

[2017-02-26 03:19] tonyvanhain commented on #6672
@dagar it still wont run properly using the command you given unfortunately

@dagar @mhkabir Here is the console part where it hangs:
![image](https://cloud.githubusercontent.com/assets/21217602/23336806/e96e214a-fc0c-11e6-8810-0ca3bedaa1ff.png),

I can still run the simulation using make posix_sitl_default jmavsim, but I can't run it now using gazebo

[2017-02-26 06:31] dagar commented on #6664
Work in progress PR #6675

[2017-02-26 06:42] dagar commented on #6668
Try `make submodulesclean`

[2017-02-26 12:06] tonyvanhain commented on #6672
[ 52%] Building CXX object CMakeFiles/LiftDragPlugin.dir/src/liftdrag_plugin/liftdrag_plugin.cpp.o
[ 54%] Building CXX object CMakeFiles/gazebo_geotagged_images_plugin.dir/src/gazebo_geotagged_images_plugin.cpp.o
[ 56%] Building CXX object CMakeFiles/rotors_gazebo_wind_plugin.dir/src/gazebo_wind_plugin.cpp.o
[ 58%] Building CXX object CMakeFiles/rotors_gazebo_controller_interface.dir/src/gazebo_co

[2017-02-26 12:26] #6669 closed

[2017-02-26 12:40] mhkabir commented on #6672
Do you have enough RAM on your computer? I've seen similar odd behavior
(hangs, freezes, compiler crashes) on systems with <= 4GB RAM.

As a workaround, you can try calling the make target with -j1 to limit
parallel compilation.

On Feb 26, 2017 5:36 PM, "Anthony Ivan Sunardi" <notifications@github.com>
wrote:

[2017-02-26 12:57] tonyvanhain commented on #6672
@mhkabir  My laptop only uses 4GB, the weird thing is that a week ago I was able to run that command using the laptop that I am using right now, but then I deleted the src folder as a whole and then re-do the steps on the px4 site(https://dev.px4.io/starting-building.html ), particularly the steps where it downloads the firmware from the repo. Can that be the issue?

[2017-02-27 06:32] tumbili commented on #6664
@Jiangyou0811 The rotation matrix used here is one that transforms vector coordinates from body frame to earth frame. That means if you pre-multiply a vector in body frame with the matrix you will get its representation in earth frame, see e.g. here https://github.com/PX4/Firmware/blob/master/src/modules/fw_pos_control_l1/fw_pos_control_l1_main.cpp#L1300
 In tecs we want to transform the earth fra

[2017-02-27 09:56] matanhavi opened #6681 "Descending slew rate overshot"
When pause the drone during descending, its keep descending due to target altitude slew rate (seems to).
This scenario might cause significant altitude over-shots.
Produced on SITL (iris, ekf2)
1)	Hovering at 100 m
2)	Start descending (from 100m to 50m)
3)	Pause the drone when it’s at 70m, (target altitude is already at 50m)
4)	Target altitude start rising back, (Bug is here, it should be fixed to

[2017-02-27 12:10] tonyvanhain commented on #6672
I already tried to reinstall ubuntu as a whole, and the problem still persist, can anyone help or also had this situation before?

[2017-02-27 12:36] Jiangyou0811 commented on #6664
@tumbili Yes, you are correct. I didn't notice a body frame to earth frame matrix is is used. I though this matrix is directly taken from AHRS which should be a earth frame to body frame.

[2017-02-27 12:54] tumbili commented on #6664
@Jiangyou0811 Cool, thanks for the feed-forward find!

[2017-02-27 13:13] scubAssist commented on #6231
Hello, before i put any time in this myself, i wanted to ask if this has been done yet?
I'm new to the PX4 arena, but i have a spare SSD1306 lying around which i wanted to hook up. The leds and beeps are all very nice, but i would like some more detailed messages without the need for a GCS.
If it has **not** been done, please let me know anyway!

[2017-02-27 13:24] tonyvanhain commented on #6672
this is what i got when I try to run make posix_sitl_default gazebo
[  0%] Built target git_matrix
[  1%] Built target git_mavlink
[  1%] Built target git_uavcan
[  1%] Built target prebuild_targets
[  1%] Built target git_genmsg
[  1%] Built target git_gencpp
[  1%] Built target git_jmavsim
[  3%] Built target df_driver_framework
[  3%] Built target git_ecl
[  4%] Built target git_driverframework

[2017-02-27 20:10] nicolaerosia opened #6685 "enabling mpu9250 and hmc5883 on navio2"
Is there a reason why mpu9250 and hmc5583 are not being used on Navio2 ?
https://github.com/PX4/Firmware/blob/master/posix-configs/rpi/px4.config#L9-L10
Could someone please shed some light on this?

Thank you

[2017-02-27 20:34] LorenzMeier commented on #6685
Probably merely an artefact of the testing setup. You should be able to enable them instead. I would need to check if the wrappers are set up correctly for multi-sensors on Navio - you might want to enable only one set by default to start.

[2017-02-27 20:34] #6685 closed

[2017-02-27 20:44] marv3 opened #6686 "ll40ls doesn't appear on nsh"
Hey, I'm trying to interface a Lidar Lite v3 with a pixhawk. I'm using the latest release of px4 firmware (v1.5.5) and I tried with the beta version (1.6 rc1) too, but when I try to test the lidar with nsh, ll40ls doesn't appear in the "help" list.  nsh only displays the message "Command not found"

Please, help!!
THANKS.

[2017-02-27 20:46] #6555 closed

[2017-02-27 20:47] nahush8 commented on #6555
I am finally able to get consistent mocap readings as I said earlier. I am sure I am missing controller tuning to get position control to work fine. Are there any specifi parameters to look for ? And if i need to post logs, what kind of logs do I need to collect and how? thanks

[2017-02-27 21:52] #6294 closed

[2017-02-27 21:52] #6686 closed

[2017-02-27 22:10] rkintada commented on #6562
@mhkabir @Seanmatthews  Sorry I could not get back to you sooner.  Yes, the IMU to camera frame spatial transformation (extrinsic calibration) needs to be provided to the mvVISLAM's initialize API (the tbc and ombc parameters).  I will be updating the documentation with more details soon( with some diagrams ).  This may be primary cause as the ROS IMU frame is different from the IMU frame I am inp

[2017-02-27 22:18] dagar commented on #6686
Hi @marv3
ll40ls was temporarily removed from the px4fmu-v2_default build due to flash constraints, but it's back in now.

[2017-02-27 22:18] dagar commented on #6294
Hi @samo1234
frsky_telemetry was temporarily removed from the px4fmu-v2_default build due to flash constraints, but it's back in now.

[2017-02-28 00:30] fjctp commented on #5140
Hi @RamArvinth,

I am trying to archive the same thing, controlling the motor directly. I wonder if you have any success?

I am using SET_ACTUATOR_CONTROL_TARGET ([link](https://pixhawk.ethz.ch/mavlink/#SET_ACTUATOR_CONTROL_TARGET))and group mixing 3 ([link](https://dev.px4.io/concept-mixing.html#control-groups)), but it does not work. I am still controlling roll/pitch/yaw/attitude only, not the m

[2017-02-28 07:30] jdzerve opened #6689 "PX4 on Pixhawk does not boot after selecting MAVLINK as camera trigger interface"
Scenario on Pixhawk hardware:
- Select Trigger mode "Time based always on"
- Select Triggrer interface "MAVLINK ..."

After powercycle the autopilot does not boot.
Only workaround I found is to flash it with Ardupilot and then back to PX4.

Reproducable on master@3961c46

[2017-02-28 09:38] Stifael commented on #6641
can we close this?

[2017-02-28 09:39] #6554 closed

[2017-02-28 11:05] kiti1013 opened #6690 "Problem when running multiple SITL"
I want to run multiple copters in gazebo with ros
when i run this command `./sitl_multiple_run.sh `
it will produce some error in ~/src/Firmware/build_posix_sitl_default/instance_1 ~/src/Firmware/build_posix_sitl_default/instance_2
the out.log show me
data path: /home/astera/src/Firmware/Tools/..
commands file: rcS
ERROR [Unknown] Error opening commands file, does not exist: rcS
Restoring terminal

[2017-02-28 13:41] marv3 opened #6691 "ll40ls nsh reading issue"
Hey, I'm using a Lidar Lite v3 but when I try to test this(ll40ls test i2c), nsh displays:

ll40ls: inmediate read failed: try again.

I tried a lot of times and it doesn't work.
Can you help me? Please.

THANKS.

#UPDATE 1: When I try using "ll40ls info i2c" there is a distance parameter which displays the measured distance (I tried in two different positions). But, this "distance" doesn't change

[2017-02-28 13:55] nicolaerosia commented on #6685
@mhkabir I believe you have Navio2. Could you please comment on this? Thanks!

[2017-02-28 14:01] mhkabir commented on #6685
I don't have anything setup right now.

Why don't you test it and let us know? :)

[2017-02-28 14:39] Embeddedkuba opened #6692 "Communication between STMF4 and STMF1"
Hi there,
Currently I want to erase code from stmf100 and send simple message to stmf4.
Is there a possibility to send a frame from STMf100 to STMF4 without changing code on STMF4?
I know that there is a uart connection, but I can't find a method reading frames on STMF4. Is there any?
This is a packet of data to communicate:
`  333 struct IOPacket {
  334         uint8_t         count_code;		//jw

[2017-02-28 15:03] LorenzMeier commented on #6692
This is not a real issue of the system, so I'm closing this. You will need to answer such high-level implementation questions on the forums or yourself.

[2017-02-28 15:03] #6692 closed

[2017-02-28 15:13] LorenzMeier commented on #6681
@Stifael can you have a look?

[2017-02-28 15:14] LorenzMeier commented on #6691
http://discuss.px4.io/t/poshold-with-optical-flow-works-weird/2432/9

This has a few tips. It sounds like a setup / wiring issue.

[2017-02-28 15:14] #6691 closed

[2017-02-28 16:46] Stifael opened #6693 "acceleration down and velocity max"
here acc_hor_max is readjusted through this line based on vel_cruise.
https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/mc_pos_control_main.cpp#L663-L665
This is confusing from a user perspective since decreasing acceleration in xy has no effect.

Also, vel_max_down is not used.
https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/mc_pos_control_main.cpp#L509

[2017-02-28 16:54] Seanmatthews commented on #6562
Updating the transformation yields more stable pose values. However, the FAIL/INIT blip has become more frequent. On qualcomm's advice, I tried raising the frequency with which PX4 samples the IMU to 500Hz. Though MAVROS seems to publish IMU data up to only 250Hz, despite calling /mavros/set_sample_rate. I don't believe this causes the blips, since VISLAM works fine (though less accurately) at 100

[2017-02-28 16:57] mhkabir commented on #6562
You need to increase the rate on the PX4 side using the mavlink stream command to set rate of HIGHRES_IMU message.

Also, make sure that you're using the /mavros/imu/data_raw topic, not the filtered one.

[2017-02-28 17:14] Seanmatthews commented on #6562
I had already set HIGHRES_IMU and ATTITUDE to rates of 500 (the IMU data from MAVROS seems to also be limited by the ATTITUDE rate). Switching from /mavros/imu/data to /mavros/imu/data_raw prevents mvVISLAM from ever breaching its initialization phase.

@rkintada Do you have some insight into mvVISLAM's poseQuality, or what about the IMU data would prevent mvVISLAM from initializing?

[2017-02-28 18:29] tonyvanhain commented on #6672
I have upgraded my RAM, and the issues seems to have been solved. Thank you @mhkabir for the suggestion.

[2017-02-28 18:29] #6672 closed

[2017-02-28 21:00] rkintada commented on #6562
@mhkabir For the camera intryincs we set them via the structure defined in the mvCameraConfiguration structure.  Here is an example of where it is used in the example code:
https://github.com/ATLFlight/ros-examples/blob/master/src/nodes/SnapdragonRosNodeVislam.cpp
Lines: 95 - 109.  You can modify them if they need to be updated.

[2017-02-28 22:17] Stifael commented on #6681
@lorenz: thats the exact same issue that I showed you yesterday with the delay  when flying in the xy direction and demanding a fast switch in the opposite direction. The root cause is the slewrate indeed.
@matanhavi: even though your analysis is correct, I never saw it overshooting as much as you showed on the plot. What is the max acceleration you used on the upward direction?
I actually was pla

[2017-02-28 22:32] LorenzMeier commented on #6681
If the slew rate limiting is producing an offset then it must be a subtle oversight in how its applied.

@Stifael The test yesterday was with incorrectly set angle limits and the system never actually ran into the slew rate limit. So I'm not sure how useful that was.

[2017-02-28 22:32] LorenzMeier commented on #6681
@MaEtUgR Has the details on that.

[2017-02-28 22:46] Stifael commented on #6681
I have looked intovthis issue today together with @MaEtUgR and you can see this behavior from the plots. Its not about hitting any limits, its about how quickly the setpoint can change. The reason why we also saw it yesterday in contrast to a week ago was the increase in max velocity: at tigher velocity but same slewrate limit (which is set by the acc_max), the velocity setpoint needs more time to

[2017-02-28 22:48] rkintada commented on #6562
@Seanmatthews Thanks you very much for trying the integration with PX4.  Here some of my comments:

* The standalone VILSAM example uses the following configuration for the MPU9x50:
   * gyro_lpf = MPU9X50_GYRO_LPF_184HZ,
   * acc_lpf  = MPU9X50_ACC_LPF_184HZ,
   * gyro_fsr = MPU9X50_GYRO_FSR_2000DPS,
   * acc_fsr  = MPU9X50_ACC_FSR_16G,
   * Can you please make sure that the PX4 MPU driver is doi

[2017-02-28 22:58] Stifael commented on #6681
I will upload some plots tomorrow where one can see that the velocity setpoint lacks behind the user input. While the user demands directional change, the velocity setpoint remains in the opposite direction and the velocity setpoint direction change occurs with a clear delay (its also to note that windup issue can be excluded since it happens with zero integration as well). It can also be reproduc

[2017-03-01 00:35] jeyong opened #6696 "Using parentheses for clarity on if statement"
It's just for coding style.
When I review source code, it takes time to understand this statements. I was a little confused.

/src/systemcmds/pwm/pwm.c

`
if (set_mask & 1 << i)
`
I know it's not bug. But I think it needs parentheses for clarity.

`
if (set_mask & (1 << i) )
`

What do you think?

[2017-03-01 02:44] potato77 opened #6697 "Unable to find current revision in submodule path 'src/lib/ecl'"
Hello,

I used the cmd git submodule update --init --recursive to update all submodules of px4 .

and the error is:

fatal: Needed a single revision
Unable to find current revision in submodule path 'src/lib/ecl'

How to fix it? Thank you in advance!

any help would be appreciated!

[2017-03-01 03:29] mhkabir commented on #6697
Please run `make submodulesclean`

[2017-03-01 03:32] potato77 commented on #6697
$ make submodulesclean

Usage: git submodule [--quiet] add [-b branch] [-f|--force] [--reference <repository>] [--] <repository> [<path>]          or: git submodule [--quiet] status [--cached] [--recursive] [--] [<path>...]                                            or: git submodule [--quiet] init [--] [<path>...]                                                                       or: git submo

[2017-03-01 03:55] mhkabir commented on #6697
That's pretty odd. What operating system and version are you using?

@dagar any suggestions?

[2017-03-01 03:58] potato77 commented on #6697
windows 10

[2017-03-01 04:06] dagar commented on #6697
@potato77 have you successfully built PX4 on windows before? What branch are you on?

[2017-03-01 04:11] potato77 commented on #6697
@dagar no. This is my first time to install the development environment.

[2017-03-01 04:14] dagar commented on #6697
Can you walk us through what you've done so far, which tools you've installed. It's not clear to me if you have a really old version of git or there's some Windows path or line ending issue.

If you're able to use Linux (Ubuntu) or OS X for development you'll have a much easier time. It's possible to get this working in Windows, but much slower and poorly supported.

[2017-03-01 04:29] zimoqingfeng opened #6698 "Difference between "make px4fmu-v2_default" and the "make -j1 px4fmu-v2_default" in px4 toolchain"
Hello,

I used the cmd 'make px4fmu-v2_default' and 'make -j1 px4fmu-v2_default'.
The OS is windows 10, version:px4_toolchain_installer_v14_win.exe

I failed to build the PX4 by the first command at the first time,
and i tried the second command , then sucessfully built it,
maybe the second command is much  more faster than the first during the compiling,
and i tried the first command again, it be

[2017-03-01 04:32] potato77 commented on #6697
@dagar thank u very much
I am trying to install the development environment on the VM unbuntu.

[2017-03-01 05:09] mhkabir commented on #6697
I believe we could eventually create a setup that works on Bash for Windows 10, thus avoiding all the issues we're currently having.

I had a quick look-see and it seems like it'll be easy to do.

[2017-03-01 05:16] dagar commented on #6697
That would certainly be nice. If there's anything to do to get it working we can then keep it working by adding a build on https://www.appveyor.com/.

[2017-03-01 05:33] potato77 commented on #6697
@mhkabir any instruction to Bash for WIN10? How to build PX4?

[2017-03-01 05:36] dagar commented on #6696
Hi @jeyong

Yes readability is quite important. Code is written once, but read many times. Feel free to open a pull request making changes like this, although you should only make changes if you're able to test it before and after (even trivial ones).
In the build system we run astyle and clang-tidy to maintain code style and readability. If you find a way to automatically fix and enforce parenthe

[2017-03-01 05:36] #6696 closed

[2017-03-01 05:59] mhkabir commented on #6697
@potato No instructions yet. I don't have a Windows 10 machine running at the moment. I can however assist you in bringing it up remotely, later today. Skype me : 'kabiriris'.

[2017-03-01 06:01] mhkabir commented on #6697
Start by installing Bash if you don't have it already : https://www.howtogeek.com/249966/how-to-install-and-use-the-linux-bash-shell-on-windows-10/

[2017-03-01 06:04] mhkabir commented on #6697
@dagar I don't think Appveyor has support for Bash on Ubuntu yet : https://github.com/appveyor/ci/issues/1295

[2017-03-01 06:31] kiti1013 opened #6699 "how to use the shell file sitl_multiple_run.sh to run a multiple drone in gazebo simulation"
when i run `sudo ./ sitl_multiple_run.sh `
in the (/Firmware/build_posix_sitl_default) produce instance_1 instance_2 floder  and  the out.log prompt me to  Please start the flight simulator to proceed..
but i don't know how to do in the next?
who can help me ?
thanks.

[2017-03-01 06:47] Stifael commented on #6681
@matanhavi: about point 4. im confident to know how to fix that bug. I will
do a pr soon

On Feb 28, 2017 11:58 PM, "Dennis Mannhart" <notifications@github.com>
wrote:

[2017-03-01 06:48] #5621 closed

[2017-03-01 06:50] kiti1013 commented on #6699
@LorenzMeier @jdzerve @korotkoves

[2017-03-01 07:57] korotkoves commented on #6699
You should connect multiple drones in Gazebo (with sitl_gzebo) to px4 instances started by sitl_multiple_run.sh. See/use https://github.com/acsl-mipt/multiple-sitl for example.

[2017-03-01 08:42] priseborough opened #6701 "PR #6074 has broken the ekf2 replay"
The changes made to other modules to accomodate the revised uORB were not make to the ekf2 replay.

[2017-03-01 08:57] bkueng commented on #6701
@priseborough I have a fix, I'll probably push it today

[2017-03-01 09:02] priseborough commented on #6701
TXS

[2017-03-01 11:07] MaEtUgR opened #6702 "Horizontal velocity control input delay"
If you have the cruise velocity high, the maximum tilt angle pretty low and the slew rate (maximal horizontal acceleration) on a reasonably low value you experience a pretty noticable delay between command and vehicle reaction. This problem was also reported in atomatic flight modes.

Digging into it @Stifael and I found out that the velocity controller looses close tracking because of the tilt an

[2017-03-01 11:09] MaEtUgR commented on #6681
I posted the plot in a new issue because it is not in descending flight and therefore might potentionally not be exactly the same issue.

[2017-03-01 12:18] Stifael commented on #6702
The main fundamental problem with the slewrate is that it is feedfoward-like implemented, independent of the current state. this means that slewrate limit only makes sense if it can be assured that the velocity tracking is guaranteed.
A simple example illustrates the issue:
Flying against wind, where the local velocity of the vehicle is exactly zero but the velocity setpoint around 10m/s. If now t

[2017-03-01 12:53] jdzerve opened #6703 "Camera trigger does not work on Pixhawk board"
Created thread in forum:
http://discuss.px4.io/t/camera-trigger-not-working-on-pixhawk/2610
But this looks more like a bug in FW version 1.5.5.
Configured PX4 on Pixhawk to do Time based trigger always on with:
TRIG_ACT_TIME: 500ms
TRIG_INTERVAL: 1000ms
TRIG_PINS: 123456
Expected to have equal PWM outputs on all 6 AUX ports.
This is what I get:
With RC transmitter ON:
AUX1: constant 1500 regardles

[2017-03-01 13:30] mhkabir commented on #6703
Looks like the AUX mixer is messing with it.

[2017-03-01 13:50] davids5 commented on #6703
I think there is a resource conflict on the timer channels because the camera trigger code assume it owns the timer when it does not. The FMU owns the timer so the fmu must be told to not user the channels the camera trigger code uses. The camera trigger code would benefit from a overhaul.

[2017-03-01 14:00] LorenzMeier commented on #6702
The fix to that would be to constrain the slew rate both based on the current reference and the current state, so that the reference cannot depart from the current state at more than the slew rate limit.

[2017-03-01 14:11] mhkabir commented on #6703
@davids5 I believe we shouldn't be directly accessing the hardware like we currently are. Do you have the chance to do a refactor?

[2017-03-01 14:47] Stifael commented on #6702
@Lorenz.
Im not sure if that works. the septoint of the slewrate is as follow: vel_sp = max_acc * dt + vel_sp_prev, where acc_max * dt can be a rather small number. if you now do something like vel_sp = acc_max * dt + vel_current, then the vehicle will not move at all if the (sp-current_state) error is not large enough. In general, there is nothing bad with having a step input.
 If the goal is to

[2017-03-01 15:45] kd0aij commented on #6703
It would be STM32 specific

On Wed, Mar 1, 2017 at 8:44 AM jdzerve <notifications@github.com> wrote:

[2017-03-01 15:54] davids5 commented on #6703
@mhkabir - Yes- you are absolutely correct.

I am working on adding support to Kinetis K66 SoC. In that effort have to cleanse the tree of all STM32 code that is out of place and using resources directly. That code has to be in the drivers/<arch:<STM32:kinetis:>> directory and use the io_timer api to co-exist;

It will not be a quick process - there is a lot to do in upstream Nuttx and [on this br

[2017-03-01 15:56] davids5 commented on #6703
@jdzerve - I think you should be able to determine the conflict and ensure the FMU is in the correct mode.

[2017-03-01 17:53] dagar commented on #6703
Is the issue setting the FMU mode?
If so is there a way the camera trigger could properly change this after start, or do we need to coordinate FMU mode and camera_trigger startup in the init script?

[2017-03-01 18:15] matanhavi commented on #6681
@Stifael, Note that I haven't made change on the SITL params, you can reproduce it with the default parameters.
From user point of view, if you doing any flight mode, and then go to "pause" mode, you want the drone to stop moving as soon as possible, not to do any non-necessary overshoots.
The question here is: are you prefer to set the SP at exact location where you set the mode? or to stop where

[2017-03-01 18:21] davids5 commented on #6703
@dagar - I would think so but it needs to be looked at - my (poor) recollection is the camera trigger is hardcoded (compile time) to use a given timer and channels.

You would have to look at what configures the hardcoded (compile time) in the camera trigger on a board basis. I hope there are not many of them.

The correct solution it to use/add/augment the io_timer driver code and use it's enforc

[2017-03-01 19:02] Stifael commented on #6681
@matanhavi:
The question is not where to set the setpoint, it is supposed to be set at the current location of the vehicle with some offset in the direction of flight. Can you also upload a log file from your flight? It would be helpful to analyze it better. Im also wondering what flight mode you used,.

[2017-03-01 19:37] matanhavi commented on #6681
@Stifael, how can I upload ulg file?
anyway the first description is the full description of what I done, the flight modes are immidiate from takeoff, change alt to 100m, than to 50m, and than pause

[2017-03-01 20:11] Stifael commented on #6681
https://dev.px4.io/flight_log_analysis.html.  I will try to reproduce it tomorrow.

[2017-03-01 21:05] priseborough opened #6706 "sdlog2 is truncating parameter names to 15 characters"
Inspection of replay logs generated using the sdlog2 program shows that parameter names are currently being truncated at 15 characters.

[2017-03-01 23:00] Seanmatthews commented on #6562
@rkintada @mhkabir

* Thanks for those values. I made the changes with PX4.
* I've been testing the camera on a flat surface, on top of a newspaper.
* I had already made adjustments to both the frame and timestamp. Both did not match up between imu_app and PX4/MAVROS. ROS uses ENU where imu_app/VISLAM uses local NED. And as you stated, VISLAM uses monotonic time.
* Yes-- INIT(x3-4)->HIGH_QUALITY(*

[2017-03-01 23:12] rkintada commented on #6562
@Seanmatthews Thanks for the inputs.  Just so that I understand, with the blip issue you solved are you still seeing that the VISLAM pose to from INIT--> HIGH_QUALITY-->FAIL?

Thanks
Rama

[2017-03-01 23:20] Seanmatthews commented on #6562
Essentially yes. It would cycle through INIT for a couple seconds at the beginning, until it reached HIGH_QUALITY. Then, about every 1s, it would hit a FAIL followed by ~4 cycles of INIT, then back to HIGH_QUALITY for another ~1s. The IMU data is coming from MAVROS at 250Hz. @rkintada recommends 500Hz, but I'm currently having trouble getting MAVROS to go any higher than that.

[2017-03-01 23:42] rkintada commented on #6562
@Seanmatthews One more question, when you do the bench testing( with mavROS ), is there  a fan or the props spinning?  Also can you share the Imu logs for the test you ran?

The mvVILSAM has a mvSRW_Writer class( mvSRW.h ).  Can you use the api's of the mvSRW_Writer class to store the accel, gyro, camera frames and camera configurations? Once you have it we can do some offline analysis internally.

[2017-03-01 23:50] Seanmatthews commented on #6562
@rkintada I have only the Snapdragon Flight board by itself. To reiterate from above, I no longer have the blip issue after I fixed the linear acceleration values. Do you still want logs? If so, do you want them from the code pre or post-fix?

[2017-03-02 00:28] rkintada commented on #6562
@Seanmatthews With the fix you have, what is the current issue you are seeing?  Based on your earlier comment, I understood that you are still seeing the INIT->HighQuality( for 1s ) --> Fail after your fix to the linear acceleration values.  If this is still correct, I would like to get the logs to analyze it.

[2017-03-02 01:46] potato77 opened #6707 "tar -jxf gcc-arm-none-eabi-4_9-2015q3-20150921-linux.tar.bz2"
I am installing the toolchain.
I used the command tar -jxf gcc-arm-none-eabi-4_9-2015q3-20150921-linux.tar.bz2.
Then,
![default](https://cloud.githubusercontent.com/assets/11450591/23489388/0f9b88c6-ff2d-11e6-95c6-65b235b5f48f.PNG)
why i cant install the gcc-arm-none-eabi-4_9-2015q3-20150921-linux.tar.bz2

[2017-03-02 01:49] potato77 commented on #6707
can i use the command     **sudo apt install gcc-arm-none-eabi**  to install it?

[2017-03-02 02:42] kiti1013 commented on #6707
`wget https://launchpad.net/gcc-arm-embedded/4.9/4.9-2015-q3-update/+download/gcc-arm-none-eabi-4_9-2015q3-20150921-linux.tar.bz2`

[2017-03-02 04:25] mhkabir commented on #6562
The 250Hz thing isn't a mavros limit. PX4 samples the sensors at 1kHz, but the sensor_combined topic (where the HIGHRES_IMU message is generated) is published at 250 Hz.

[2017-03-02 07:15] western-co-at commented on #6651
I did some furthermore tests in this issue. The problem is only present when the local position estimator hasn't already set the xy_valid flag. This will only be set when a gps signal is available. So in case you are flying indoor the flag won't be set...

For a short test I uncommented the following line:
https://github.com/PX4/Firmware/blob/e892a51afb59763255d48d5df2613c1e10b713bc/src/modules/la

[2017-03-02 07:43] Negvet commented on #5174
I had the similar issue:
`FCU: [lpe] vision position timeout`

I am running vision algorithms on development computer and as a onboard computer I am using odroid with mavros.
I solved it with clock update using ntp on both ubuntu machines.

[2017-03-02 09:12] kiti1013 commented on #6699
thank   you  @korotkoves  , i haved run  your code in ubuntu16.04 and everything is ok , i am trying to run this code in ubuntu 14.04.

[2017-03-02 10:14] matanhavi commented on #6681
because its ULOG file, and not PX4log it doesn't allows me

[2017-03-02 11:00] AlexisTM opened #6708 "EFK2 Airspeed sensor parameter name inconstancy"
Dear,

There is some inconsistency between the airspeed parameter names. It has 3 names : `ASP`, `ARSP` and `EAS`.

* EKF2_ASP_DELAY - Airspeed delay
* EKF2_ARSP_THR - Airspeed fusion threshold
* EKF2_EAS_NOISE - Airspeed noise

Also there is the Vision estimate inconsistency for two params.

Vision estimation is always `_EV_`, but for the noises it is `_EVP_` and `_EVA_`. To follow the rule GPS p

[2017-03-02 12:03] davids5 commented on #6707
We are using
arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors) 5.4.1 20160609 (release) [ARM/embedded-5-branch revision 237715]

```wget https://launchpad.net/gcc-arm-embedded/5.0/5-2016-q2-update/+download/gcc-arm-none-eabi-5_4-2016q2-20160622-linux.tar.bz2```

[2017-03-02 12:03] #6707 closed

[2017-03-02 13:50] RamArvinth commented on #5140
Hello @fjctp ,

   I was able to achieve something partly to what I wanted to actually do.

  Using help of contents from this [link](https://pixhawk.org/dev/ros/ground_rover), following a similar approach, i was able to set the throttle value _(still not the exact required rpm though)_ for motor.

  In addition, you can set an offset in the mixer file for the throttle channel such that when you s

[2017-03-02 15:28] dagar commented on #6708
I'm happy to do the rename for consistency, but then users silently lose their configuration when upgrading (if they've touched these).
@priseborough @LorenzMeier Thoughts?

[2017-03-02 16:48] dagar opened #6709 "VTOL Standard transition FW_PSP_OFFSET"
VTOL standard transitions should respect FW_PSP_OFF.

Front transition.
 - ramp up so that vehicle is at FW_PSP_OFF by the end of transition (verify clean init for TECS pitch)

Back transition
 - hold FW_PSP_OFF
 - as a bonus and crude holdover until we have full position control we could add an additional pitch param for simple braking. Additionally back transition can end once groundspeed falls

[2017-03-02 18:59] gamoreno opened #6711 "HIL with jMAVSim not working"
I'm trying to use a Pixhawk to do HIL with jMAVSim following the instructions in this page, but it doesn't work.
[https://pixhawk.org/dev/hil/jmavsim](https://pixhawk.org/dev/hil/jmavsim)

I connect the Pixhawk to a USB port in my computer, and wait until the main LED is breathing blue. When I start jMAVSim, at some point the LED blinks green twice, then back to blue, and then starts blinking purp

[2017-03-02 19:39] Stifael commented on #6681
ok, no worries. I quickly had time to test it with setting different altitude setpoints, and I can easily reproduce it. This issue is interesting since I found the slewrate issue during velocity control a couple days ago, where the change in velocity setpoint is also limited, which caused a delay in reaction time from large velocity to hold or to velocity with different sign. This issue here is in

[2017-03-02 19:40] Stifael commented on #6681
by the way, you can upload ulog files to flight review. It is also described in the link I gave you.

[2017-03-02 23:33] Seanmatthews commented on #6525
Bump. I've talked to a handful of people with this issue. Any progress?

[2017-03-03 00:57] goodman110110110 commented on #6534
which version of the QGC?

[2017-03-03 07:56] tumbili opened #6712 "Pixhawk Pro lockup after mag cal"
I just flashed latest master on a pixhawk v3 pro and noticed the following behavior:
1) Selected airframe -> reboot
2) Calibrated gyro, calibrated accel
3) Did the mag calibration (internal only) and got a message like "Mag 1 fail: TOUT"
Shortly after the board seemed to lock up (LED was solid red) and QGC lost connection.
When I rebooted the board the sensors were still calibrated but the airfram

[2017-03-03 08:40] garlinplus opened #6715 "the update_ref function in mc_position_control.cpp"
void
MulticopterPositionControl::update_ref()
{
	if (_local_pos.ref_timestamp != _ref_timestamp) {
		double lat_sp, lon_sp;
		float alt_sp = 0.0f;

		if (_ref_timestamp != 0) {
			/* calculate current position setpoint in global frame */
			map_projection_reproject(&_ref_pos, _pos_sp(0), _pos_sp(1), &lat_sp, &lon_sp);
			alt_sp = _ref_alt - _pos_sp(2);
		}

		/* update local projection reference *

[2017-03-03 08:45] priseborough commented on #6708
I would avoid changing parameter names now for the reason @dagar gives. The exception might be if the parameter name is misleading, which is not the case for these examples. What is more important is that the description for each parameter is clear and complete.

[2017-03-03 09:50] julianoes commented on #6711
Thanks for reporting. I will look at this next week sometime.

[2017-03-03 09:55] julianoes commented on #6525
Guys you are talking about two different types of ESCs.

1. PWM support that was recently added (@Stifael I think that's what you're refering to).
   needs `snapdragm_pwm_out start -d /dev/tty-2`
2. Snapdragon ESCs connected over UART.
    needs `uart_esc start -D /dev/tty-2`

@sunshine-yan what is the output in mini-dm when you try to start the uart_esc like this:

[code]

[2017-03-03 12:11] huangwen0907 commented on #5213
@mhkabir Excuse me. Did you solve this bug? Now I face a same bug as yours. Hope you can help me. many many thanks~

[2017-03-03 12:41] davids5 commented on #5213
It would be that you have run out of RAM on the Flight controller not the host. You would need to run free on the pixhawk. Connect to the hardwired [debug console.](https://dev.px4.io/advanced-system-console.html) But I suspect it will not work if the system is that low on RAM.

[2017-03-03 13:09] matanhavi commented on #6681
Thanks! its seems that you understood all my points.
does  #6717 fixes also this issue?

[2017-03-03 13:34] tumbili commented on #5213
I just tried mavlink shell on latest master on Pixhawk pro (the one that has more RAM) and it works fine.

[2017-03-03 14:13] Stifael commented on #6681
It fixes the issue that you have. but I first need  to verify that this change does not effect other flight modes. I also work on changing the logic for mc in auto mode

[2017-03-03 23:09] shening opened #6721 "PX4 and ping command"
Hi I was wondering if the Mavlink ping command was implemented on the PX4 in order to measure GCS to aircraft connection latency

PING (  )
https://pixhawk.ethz.ch/mavlink/
A ping message either requesting or responding to a ping. This allows to measure the system latencies, including serial port, radio modem and UDP connections.

Thank you,

Sebastian

[2017-03-03 23:35] tubeme commented on #6709
I have a huge study about the FW_PSP_OFF. We have a PSP offset in our frame about 4-5 degrees + for the FW. So we've had a three weeks of flying last year and tried all possible setups to make it work. We tried zillion settings for the PSP offset without any success and a lot of crashes and unsuccessful transitions etc. So at the end we just removed the PSP offset and created a hardware reflex in

[2017-03-04 03:32] goodman110110110 opened #6722 "QGC and flightgear with pixhawk HIL can not work."
I want to do the HIL fix-wing simulation with QGC 3.1.3, pixhawk(pix4, latest code) and flightgear 3.4.
But I can not find the simulation airframe for flightgear but the HILstar (xplane), so I choose the HILstar (xplane) and apply.
When start the simulation, the QGC ui can receive the data from the flightgear and the RC, but flightgear can not receive the data from QGC, the plane in the flightgear

[2017-03-04 10:27] #6706 closed

[2017-03-04 14:47] #6701 closed

[2017-03-04 19:03] dagar commented on #6721
It's not implemented in PX4, but it shouldn't be that hard to add. If you're interested in adding this I'd be happy to point you in the right direction.

http://mavlink.org/messages/common#PING

You would add a simple function in the PX4 mavlink module here - https://github.com/PX4/Firmware/blob/master/src/modules/mavlink/mavlink_receiver.cpp#L704

[code]

[2017-03-04 19:07] dagar commented on #6668
Looking at improving Windows 10 support here - https://github.com/PX4/Firmware/issues/6697

[2017-03-04 19:07] #6668 closed

[2017-03-04 19:10] dagar commented on #6698
The actual build system is cmake, but we have a Makefile wrapper to try and keep it simple. You shouldn't specify parallel flags at the top level.

My guess is on Windows the first time the build failed for an unrelated reason (race condition or bad build dependency) and the second time it succeeded. Windows is not well supported for PX4 development as most developers are using Ubuntu (natively or

[2017-03-05 03:09] gaochangyu opened #6723 "multicopter flies randomly when given small velocity setpoint in SITL offboard control"
This problem occurs to me in version v1.5.5. I have a simulation program which uses mavros to publish velocity setpoint to control the quadcopter in SITL. The program works well in ROS indigo with Firmware v1.4.4. However, with Firmware v1.5.5 and ROS kinetic, the vehicle flies randomly and even turns over when I give a very small velocity setpoint.
I think it's not my program's problem. Because d

[2017-03-05 03:16] zimoqingfeng commented on #6698
Thanks for your guide! And i will check it more clearly.

[2017-03-05 03:18] gaochangyu commented on #6723
Reproduce the problem:
1. run `make posix_sitl_default gazebo` in Firmware source dir (ver v1.5.5).
2. run mavros and connect to the firmware with udp.
3. use rqt or rostopic to publish /mavros/setpoint_velocity/cmd_vel continuously, all setpoint are 0.
4. takeoff the drone and switch to offboard mode.

[2017-03-05 05:06] tonyvanhain opened #6724 "Accel & Gyro Fail while running simulation"
I am currently trying to run the offb_node example from the https://dev.px4.io/ website using gazebo and ros, and the simulations works, however I am getting error messages that looks like this:
ERROR [sensors] Accel #0 fail:  TOUT!
ERROR [sensors] Gyro #0 fail:  TOUT!

I got the messages continuously as I run the simulation. Is there any way to fix this, or is it because I am not connected to any

[2017-03-05 05:57] mhkabir commented on #6721
We should then expose the ping statics per-link via `mavlink status`.

I've been meaning to do this for a while, but if @shening is interested in doing it, that's awesome!

[2017-03-05 06:05] mhkabir commented on #6723
@Stifael @MaEtUgR Can you please have a look.

[2017-03-05 06:29] mhkabir commented on #6697
If anyone running Windows would like to help me with testing, it would be awesome. You can email me or ping me on Skype, and I'll guide you through the process.
We can then update Devguide with a working set of instructions for everyone to use.

[2017-03-05 11:48] mhkabir commented on #6724
I've seen this happening on setups where the computer is too slow to run the simulation. Do you see any messages on the console indicating that?

[2017-03-05 13:29] tonyvanhain commented on #6724
@mhkabir I do not see any signs indicating that on my console, but I do notice that my computer ran slower when I ran the simulation, can that be the indicator as well?

[2017-03-05 20:27] dagar opened #6726 "FW RTL return broken due to LNDMC_ALT_MAX"
RTL on FW is skipping the return stage because the land detector max altitude isn't populated.

Land detector doesn't seem like the right place to publish an maximum altitude limit.

[2017-03-05 22:41] sanderux commented on #6709
Hi @tubeme
Nice to hear from you again.

Based on your comments i think the param you would want to tune is VT_FW_PITCH_TROM and not FW_PSP_OFF. Pitch trim is a constant that will survive during transitions, pitch setpoint offset (psp_off) does not, it only sets changes the setpoint outside of transitions.

We also started with mechanical offset but now we fly with PITCH_TRIM at 0.1 and that's pro

[2017-03-05 22:45] #6367 closed

[2017-03-05 23:56] LorenzMeier commented on #6726
The land detector will be renamed to vehicle_model. Then it makes much more sense and it becomes more obvious that this is the right location to group this.

[2017-03-06 01:26] tubeme commented on #6709
Hi @sanderux, I'm getting on track now.

@LorenzMeier Hmmmm strange logic! Regarding the physics of the aerodynamics it is not logical to be this way. But we find it out the hard way :). I will explain why it is not logical. After the transition is past in altitude and position the PSP Offset does not have any effect on the flying characteristics. It is applicable only to the Manual modes. And thi

[2017-03-06 07:00] winszenYoung opened #6729 "How to listen Multi publish uOrb topic."
I read Doc about reading uorb topic( using this doc : https://dev.px4.io/advanced-uorb.html  )
It works very well,
but, I have some problem
I want to read  multi publish topic.

For example.
ls /obj
->result :   ……
                  sensor_accel0
                  sensor_accel1
                  ……

nsh > listenr sensor_accel0                     -> it occur error
nsh > listenr sensor_accel1

[2017-03-06 07:48] ChristophTobler commented on #6636
I get the same error with latest master

[2017-03-06 07:54] mhkabir commented on #6729
I don't think listener works for multi topics. @tumbili Can you confirm?

[2017-03-06 08:55] ChristophTobler commented on #6636
I now get
[code]

And the IMU data is completely off. This is with the snapdragon laying flat on my table.
![snapdragon_17-03-06](https://cloud.githubusercontent.com/assets/14769636/23602861/d0710152-0252-11e7-9699-8646b415aa15.png)

@jywilson Any ideas? Or am I missing something?

[2017-03-06 15:07] sanderux opened #6730 "Land detected after VTOL back transition"
Under certain conditions a false positive can occur on land detection with a VTOL.
http://logs.uaventure.com/view/qSiQiq3uZ2LzZ7FSGend8a

ref: https://github.com/PX4/Firmware/pull/6728

[2017-03-06 16:52] aivian commented on #6534
The problem is in the px4 firmware and is unrelated to qgc. This should be fixed in the current master.

[2017-03-06 17:02] bkueng commented on #6729
@mhkabir you're right, it can only show the first instance.

@winszenYoung we welcome pull requests if you want to implement it.

[2017-03-06 17:02] #6729 closed

[2017-03-06 17:08] gpanders commented on #6636
@ChristophTobler are you seeing any side effects from commenting out that block? Or is the issue you posted about with the IMU data the result of commenting?

[2017-03-06 21:16] AlexMalo commented on #6655
Thanks!

[2017-03-06 22:49] sanderux commented on #6730
@MaEtUgR i've analyzed further and it has been a strange, but not uncommon turn of events.
The conditions for the MC land detector where met mid air (https://github.com/PX4/Firmware/blob/master/src/modules/land_detector/MulticopterLandDetector.cpp#L251-L265)

![image](https://cloud.githubusercontent.com/assets/14801663/23633783/630d2df0-02c7-11e7-86c3-bd47bde8afd2.png)

It seems to me we need to v

[2017-03-06 22:52] sanderux commented on #6730
ping @AndreasAntener

[2017-03-06 23:59] tubeme opened #6733 "Auto Pause: Total disaster."
Today I had a total crash with a novice while I was teaching him how to fly the PX4!

Why?? Just because he could not understand nor he could learn that in order to PAUSE his flight he has to

FIRST: switch to MISSION
and then
SECOND: to switch Auto Pause

it is just overwhelming for the pilot to think of this combination, especially in dare situation when you most likely need Auto Pause. It is ag

[2017-03-07 00:06] tubeme commented on #6730
Is this applicable to 1.6.0 RC1??

[2017-03-07 00:06] tubeme commented on #6726
Is this applicable to 1.6.0 RC1?

[2017-03-07 07:29] winszenYoung opened #6734 "How to remove lsm303d_accel driver"
I have a problem with my pixhawk.
My pixhawk lsm303d_accel sensor is dead.
So I try to remove lsm303d accel driver .
But I fail to remove.

Can you help me?
How to remove lsm303d accel driver?

[2017-03-07 07:36] LorenzMeier commented on #6733
That interpretation is wrong. Putting it into HOLD should be all it takes to make it either loiter at the default loiter radius or hover in spot when in multi rotor mode.

I suggest you try in the simulator first.

[2017-03-07 07:40] ChristophTobler commented on #6636
@gpanders Not sure if the weird IMU data is the result of this. Without commenting, I just get the `HEARTBEAT` topic

[2017-03-07 07:44] LorenzMeier commented on #6726
No its not.

[2017-03-07 07:48] LorenzMeier commented on #6726
Fixed in: https://github.com/PX4/Firmware/pull/6732

[2017-03-07 07:48] #6726 closed

[2017-03-07 11:01] sanderux commented on #6730
@tubeme yes, i recommend you lower LNDMC_XY_VEL_MAX to something like 0.5
I will look in to making this procedure safer by adding time persistance

[2017-03-07 13:48] mhkabir commented on #6734
We will not help support broken hardware setups.

[2017-03-07 13:48] #6734 closed

[2017-03-07 13:53] b-rohit opened #6738 "building the firmware on cygwin"
hi, I am new to drones. I am trying to build the firmware on cygwin platform. I got following error >
[Rohit:/cygdrive/e/Dw/px4f/Firmware]$ make px4fmu-v2_lpe
CMake Error: Could not create named generator MSYS Makefiles

Generators
  Unix Makefiles               = Generates standard UNIX makefiles.
  Ninja                        = Generates build.ninja files.
  CodeBlocks - Ninja           = Gener

[2017-03-07 13:55] tubeme commented on #6733
Exactly what I had in mind @Lorenz and exactly my point. Because I'm talking about Airplanes now (I had to clarify) Auto Pause should do Loiter in our situation, in order for my student to have a brake from his plane uncontrollable dive (not because plane falure) and has his hands stop shaking from the overwhelming situation. So Auto Pause means Pause the flight (and FC take control of it) until I

[2017-03-07 14:26] mhkabir commented on #6738
Please use Ubuntu in a VM or natively to make life easier. Windows support isn't being actively maintained.

There is also an issue tracking Bash on Windows 10 support, which we prefer. If you want to help test it, please let me know.

[2017-03-07 14:29] b-rohit commented on #6738
Okay thanks . I will build in VM

[2017-03-07 14:29] #6738 closed

[2017-03-07 15:07] LorenzMeier commented on #3512
Sort of pointless carrying this along. It will be done if needed.

[2017-03-07 15:07] #3512 closed

[2017-03-07 15:49] AndreasAntener opened #6740 "Pixhawk 3 prototype power issue"
Randomly not booting via PSM

[2017-03-07 15:51] AndreasAntener opened #6741 "Pixhawk 3 prototype when powered via USB, accel and gyro failures"
After a certain idling time (few minutes), failures from mpu9250

[2017-03-07 16:18] davids5 opened #6742 "Determine if any HW uses GPIO_RC_OUT and fix it."
If HW has 2 appearances (2 port pins) of RC_INPUT one for Timer capture and a second for UART RX

The there looks to be a misuse of the HW that will cause a contention and a misuse of the abstraction.
Both occurring in the same [place in the fmu code](https://github.com/PX4/Firmware/blob/master/src/drivers/px4fmu/fmu.cpp#L941-L952).

[code]
1) Abstraction issue:
 The #if def of GPIO_RC_OUT is a in

[2017-03-07 16:41] davids5 opened #6743 "Check for Added STM32F469 RAM size and deliberated STM32F446 size in patches"
Check and insure that https://bitbucket.org/nuttx/nuttx/commits/df9c5b33a01cac9da1786ede3903c575861cc769
is carried in nuttx-patches on master

[2017-03-07 17:08] ChristophTobler commented on #6636
@jywilson here's the mini-dm output when the lines commented in the commander.cpp: http://pasted.co/75a23e3b

And here's the output with current master:
http://pasted.co/89730c99

Hope it helps. Thanks!

[2017-03-07 20:17] LorenzMeier commented on #6734
@winszenYoung It will automatically not start if its broken. However, if the sensor is not really dead but half-working, you should consider retiring this board. Its not safe to fly.

[2017-03-07 20:18] LorenzMeier commented on #6741
@davids5 Can you take a look?

[2017-03-07 20:20] jywilson commented on #6636
Thanks Christoph.  I am looking at this now.

[2017-03-07 22:45] Seanmatthews commented on #6562
@mhkabir Is that something that can be changed with a setting? I have no problem getting 500Hz using Qualcomm's imu_app.

@rkintada The remaining issue is that after flashing with image 3.1.2 and installing the system according to the [PX4 wiki ](https://dev.px4.io/starting-building.html)(with v1.6.0rc2 from [PX4/Firmware](https://github.com/PX4/Firmware)), the ESCs no longer arm (as they did the

[2017-03-07 22:54] rkintada commented on #6562
@Seanmatthews Once the 3.1.2 image is installed, there is not need to load the add-on drivers as they already part of the image.  Regarding arm's the esc I am not aware of any ESC changes.  However we are seeing a different issue where there are some IMU related messages on mini-dm( i guess this already reported on qdn forum ). I am suspecting this may be causing the issue.  We are looking this cu

[2017-03-07 23:46] rs1990 commented on #6612
Hello,

Id appreciate any help.

Thanks.

[2017-03-07 23:46] jywilson commented on #6636
From the mini-dm output it looks like the dm_write and dm_read symbols were added to the libpx4.so (aDSP binary) build.  These functions are not defined at link time *and* are not defined when the .so is loaded so the loader in the aDSP fails the loading of the libpx4.so (the flight stack).  The AppsProc portion of the flight stack continues to run, but none of the FastRPC function calls into the

[2017-03-08 00:06] nahush8 commented on #6557
@hayoonko  I am trying to attach a lidar to iris and try hovering. I am facing the same issue.  What exactly did you do and which sdf are you referring to ?  Can you tell me some steps of running the entire simulation ? I was following the steps from https://dev.px4.io/simulation-gazebo.html and tried adding rplidar into the models directory of sitl_gazebo

[2017-03-08 00:07] sanderux opened #6746 "Active release notes / list of important changes"
As discussed in the dev call of march 7th I proposed an active release notes and/or listing of important or noticeable changes to be published on github and/or the new website.

https://docs.google.com/document/d/1LAWlwAoNa05csbuRjHA1RM1eSyKe7c5ZF7wyDUPV_L0/edit#heading=h.1426rdai2po

[2017-03-08 02:40] genemerewether commented on #6636
@jywilson - the undefined symbols come from src/modules/dataman, which isn't included in the QURT build (and didn't build when I briefly tried). See my comment above for a quick fix.

[2017-03-08 03:56] jywilson commented on #6636
@genemerewether - the dataman functions are implemented as stubs in the px4_qurt_impl.cpp file.  The dm_read and dm_write functions were in fact being linked in, but were being redefined as C++ functions since the function signatures were different than that defined in dataman.h.  The function signature of dm_read and dm_write was changed recently in dataman.h (and dataman.c), but were never chang

[2017-03-08 04:36] davids5 commented on #6741
@AndreasAntener - Is this the same px4fmu-v4pro?

[2017-03-08 06:08] AndreasAntener commented on #6740
This seems to be a hardware issue and is currently being analyzed

[2017-03-08 06:09] AndreasAntener commented on #6741
Yes.

[2017-03-08 07:22] ChristophTobler opened #6749 "Snapdragon Flight IMU offset and calibration"
@jywilson I currently have a weird IMU offset (see image) and I'm not able to calibrate the Accelometer using QGC. Is it not possible via QGC or maybe there's another way?
![snapdragon_imu_offset](https://cloud.githubusercontent.com/assets/14769636/23694059/064deb9c-03d8-11e7-8b0f-117b6836b72d.png)

Here's the output from PX4:
[code]

and from the mini-dm: http://pasted.co/028df77a

[2017-03-08 07:24] ChristophTobler commented on #6636
I can confirm that https://github.com/PX4/Firmware/pull/6748 fixed the `krait update param failed` issue. However, I still have some IMU problems. see https://github.com/PX4/Firmware/issues/6749

[2017-03-08 07:24] #6636 closed

[2017-03-08 07:47] ChristophTobler commented on #6749
I tried another board and there the IMU seems to be normal. However, I still get the same PX4 and mini-dm output with the errors and sensor calibration does not work with QGC.

Maybe the other IMU is just broken?

[2017-03-08 07:48] mhkabir commented on #6636
I'm just curious here - Why can't we just run commander on the apps processor and avoid those stubs?

[2017-03-08 08:11] julianoes commented on #6636
I would agree. Isn't that already the case?

[2017-03-08 08:12] mhkabir commented on #6636
Nope : https://github.com/PX4/Firmware/blob/master/posix-configs/eagle/flight/px4.config#L14

It's running on the aDSP.

[2017-03-08 09:02] tubeme commented on #6730
Thanks @sanderux  We will change it to 0.5

[2017-03-08 09:10] julianoes commented on #6636
You're right, nevermind.

[2017-03-08 09:18] julianoes commented on #6612
The param `INAV_DISAB_MOCAB` won't exist or work because the inav position controller is no longer built and used.

The estimator that you can now select are ekf2 and lpe. I'm not familiar how they interface to Vicon position data I'm afraid.

[2017-03-08 09:19] #6698 closed

[2017-03-08 09:24] julianoes commented on #6474
Modules exceeding there stack should say so in the console and ulog, see:
https://github.com/PX4/Firmware/blob/ffacc6f64a656f6b992e398b1ed860abd0a4f39b/src/modules/load_mon/load_mon.cpp#L298-L301
Therefore closing this issue.

[2017-03-08 09:24] #6474 closed

[2017-03-08 09:27] julianoes commented on #6733
@tubeme This comes from the fact that the modes are set-up in a hierarchical way and pause is nested in mission. I agree that it might be confusing if you don't know this fact, and if it's not already captured in your RC switch setup.

[2017-03-08 10:28] ChristophTobler commented on #6749
I also tried calibration with a GPS attached. Nothing happens when I press on calibrate

[2017-03-08 11:39] julianoes commented on #6749
I have seen IMUs that are off like this and we usually rejected it as "bad hardware".

The calibration issue is separate and it seems it got broken recently.

[2017-03-08 11:43] lakshaydang opened #6752 "QGC showing wrong battery percentage when throttle is increased"
Hey everyone i am having some issues regarding battery calibration while working with pixhawk. The battery percentage which i am getting on my QGC is right when it is not armed but when i armed the quad and increase its throttle then instead of decreasing the battery percentage it started increasing. For example if my battery is 74 percent remaining, now when i increase its throttle it started inc

[2017-03-08 11:55] tubeme commented on #6733
Hi @julianoes @LorenzMeier

As far as I understand this is the current hierarchy of the flight modes taken from the source:

uint8 NAVIGATION_STATE_MANUAL = 0		# Manual mode
uint8 NAVIGATION_STATE_ALTCTL = 1		# Altitude control mode
uint8 NAVIGATION_STATE_POSCTL = 2		# Position control mode
uint8 NAVIGATION_STATE_AUTO_MISSION = 3		# Auto mission mode
uint8 NAVIGATION_STATE_AUTO_LOITER = 4		# Auto

[2017-03-08 11:56] tubeme commented on #6733
@julianoes Thanks for correcting the spelling mistake!

[2017-03-08 12:23] tubeme commented on #6733
I want to make my last pointer here.

I liked the Pixhawk and PX4 fundamental idea with the ROS almost since the beggining because it could easily scale up in terms of HW and SW development. Also I percieve it as a PROFESSIONAL controller given the extensive features.

I can point you to at least 3 cases of real airplane crashes with huge loss of life and damages on the ground due to bad signaling

[2017-03-08 13:33] ChristophTobler commented on #6749
https://github.com/PX4/Firmware/pull/6753 solves the calibration issue and the IMU issue is due to bad hardware I guess...

[2017-03-08 13:33] #6749 closed

[2017-03-08 15:55] dcabecinhas opened #6754 "Firmware not running in STM32F4DISCOVERY"
I can manage to bootload the firmware successfully but then it will only run for 5 seconds and crash the board (activity light blinks fast for 5s, then stops and the USB device disconnects).

My setup

- Board STM32F407VG Discovery
- Linux environment Ubuntu 16.04.2 LTS following instruction at https://dev.px4.io/starting-installing-linux.html
- Toolchain gcc-arm-none-eabi-5_4-2016q2-20160622

Ste

[2017-03-08 16:50] davids5 commented on #6754
@dcabecinhas see https://github.com/PX4/Firmware/issues/6613 about level of current support

[2017-03-08 20:00] jywilson commented on #6749
@ChristophTobler
@julianoes is right about possible hardware issues with certain boards.  I would try a different board as Julian suggests. If this makes a difference, please get an RMA from Intrinsyc and return the board to them for a new one.

[2017-03-08 20:06] jywilson commented on #6636
The reason the commander is running on the aDSP is to avoid the overhead of the many uORB messages that would need to move between the aDSP and AppsProc.  Commander subscribes to just about everything and running on the AppsProc would probably have a performance impact.

Also, the last time we tried this, I think we had problems with certain uORB functions which are not supported in the multi-uORB

[2017-03-08 20:08] julianoes commented on #6636
@jywilson ok makes sense. Thanks for the explanation.

[2017-03-08 20:19] nahush8 opened #6755 "Analyzing rplidar data in gazebo or as a rostopic"
With reference to this post : Add iris_rplidar model #6558 , @jgoppert  I am running the appropriate launch file and the iris with rplidar is hovering properly in offboard mode. I want to analyise the lidar data and I am trying to check /laser/scan topic ? The values are not changing even when i add an obstacle in between. Am I doing anything wrong ?

[2017-03-09 03:34] dagar commented on #6733
It sounds like the confusion here is the "old/advanced" flight mode switch configuration which is a hierarchy. That nav state numbering isn't a hierarchy and has more to do with when things were added.

Have you tried the new "simple" flight mode config in QGC? Single channel for mode selection, separate dedicated switch for RTL, kill, etc.

[2017-03-09 07:41] 0xd1ma commented on #3543
hello

I`m trying to change baudrate on Pixfalcon TELE1

On SD cart created:
/etc/extras.txt

Inside extras.txt:
mavlink stop-all
mavlink start -d /dev/ttyS1 -b 921600 -r 20000

then trying to connect with mavros:
roslaunch mavros px4.launch fcu_url:="serial:///dev/ttyACM0:921600"

but it does`t work.

please help with it

[2017-03-09 09:07] julianoes commented on #6733
@tubeme I agree with your concerns. And thanks for pointing out multiple places where the feedback to the ground station is confusing or wrong. We should fix that.

For the mode switching, we probably need to go over these RC configurations again and check for cases like this. And maybe it's time to deprecate some "old/advanced" flight mode switch configuration if that's the issue. What do you thi

[2017-03-09 09:09] julianoes commented on #3543
@0xd1ma please open up a new issue instead of re-using this old thread.

[2017-03-09 10:10] AndreasAntener opened #6758 "Yaw timeout in missions doesn't work anymore"
@dagar why was this needed: https://github.com/PX4/Firmware/blob/master/src/modules/navigator/mission_block.cpp#L391-L393 ?

This causes the yaw timer to update in every iteration and therefore the timeout not to work anymore.

[2017-03-09 10:58] 0xd1ma opened #6760 "Pixfalcon telemetry port rate can't be changed by SD card extras.txt file 2"
hello

I`m trying to change baudrate on Pixfalcon TELE1 in accordance with
https://github.com/PX4/Firmware/issues/3543

On SD cart created:
/etc/extras.txt

Inside extras.txt:
mavlink stop-all
mavlink start -d /dev/ttyS1 -b 921600 -r 20000

then trying to connect with mavros:
roslaunch mavros px4.launch fcu_url:="serial:///dev/ttyACM0:921600"

but it does`t work.

please help with it

[2017-03-09 11:55] dcabecinhas commented on #6613
I've been doing some digging and I think I understand part of the problem now.

1) The CONFIG_STACK_COLORATION is writing 0xdeadbeef all over the .bss segment when the firmware starts. The .bss segment ranges 0x20000500-0x20002254.

2) The global variable g_root_node lives in .bss at 0x20000fe8 and also gets the value 0xdeadbeef.

3) Setting a watchpoint on g_root_node shows that the first use (re

[2017-03-09 12:29] tubeme commented on #6733
Hey @dagar and @julianoes I don't like the new single switch setup because it is even more overwhelming for the novice than the multiple switch. Also I don't have the flexibility to setup the thing i want it my way with the single switch. Both ways are good on their own. I use the PX4 since version 0.5 which was about the summer 2014. I spent almost everyday with the controller and I still sometim

[2017-03-09 12:30] pgorczak commented on #6722
**Bump** I am stuck on the same issue

[2017-03-09 12:56] tubeme commented on #6733
Sorry I don't want to sound like a wining dude but I want to make my final pointer and will never get in this topic.

The hardest thing to sell is the free thing!!!

I spent most of my career in TV and Advertising Production so in the TV business you sell FREE content.

From the user / viewer stand point the decision making on what to buy is a matter of 2-3 second. Then they hit the next channel o

[2017-03-09 13:18] STAR805671782 opened #6761 "The red light flashes all the time after downloading the firmware by PX4 console and PX4 eclipse."
When I download the firmware by mission planner ,the pixhawk run properly. But when I download the firmware  by PX4 console and PX4 eclipse like this blog http://blog.csdn.net/oqqenvy12/article/details/52035127?_t=t    The red light on pixhawk is always flashing.Then I can do nothing and the pixhawk doesn't work.......why?  My development environment is wrong? My computer system is 64-bit and wind

[2017-03-09 13:19] LorenzMeier commented on #6761
The blog post is likely outdated. Use the official development instructions from here: http://dev.px4.io

[2017-03-09 13:19] #6761 closed

[2017-03-09 13:45] LorenzMeier opened #6762 "S.BUS scanner: Do only execute if HW inverter is present"
Due to the lack of a checksum on S.BUS it can be incorrectly detected. We need to disable the scanning for it if no HW support / inverter is present.

[2017-03-09 14:23] dagar commented on #6733
@tubeme your idea is to have a dedicated switch that's OFF - RTL - LOITER for use in emergencies right?
In an emergency why would you need RTL and Loiter/Hold on the same switch. Wouldn't either do?

How is the simple switch config more overwhelming? You have a single channel for selecting modes. Then you have a set of switches that override. What's missing?
If you want more slots in your mode con

[2017-03-09 14:59] dagar commented on #6758
I believe it was for NAV_CMD_LOITER_TO_ALT where you need to be on the loiter and exit at the right point. I'll need to review the entire thing alongside this PR (https://github.com/PX4/Firmware/pull/6756) to find a fix.

[2017-03-09 15:27] davids5 commented on #6613
[.bss](https://en.wikipedia.org/wiki/.bss) is set to 0 [here](https://github.com/PX4-NuttX/nuttx/blob/8b81cf5c7ece0c228eaaea3e9d8e667fc4d21a06/arch/arm/src/stm32/stm32_start.c#L265)

[Here](https://github.com/PX4-NuttX/nuttx/blob/8b81cf5c7ece0c228eaaea3e9d8e667fc4d21a06/arch/arm/src/stm32/stm32_start.c#L322)  is where go_os_start uses the CONFIG_IDLETHREAD_STACKSIZE=500
to write and increment from

[2017-03-09 17:03] ChristophTobler opened #6765 "Snapdragon not arming"
@jywilson @julianoes @Stifael
Quick update for you guys and maybe you know the source of some errors.
current standing:
* All the sensors seem to be working (including flow and range finder) on the different connectors
* Handheld tests show reasonable output

current issues:
* I cannot arm. I have calibrated all the sensors, the only thing that is still red in the QGC sidebar is battery, but I don

[2017-03-09 17:12] julianoes commented on #6733
Sorry to hear that, and I do understand your pain.

This should be doable with the "new single switch setup" I believe. The setup should be in a way that whatever you envision / or think is really simple and powerful, should be possible.

[2017-03-09 17:24] julianoes commented on #6765
[code]

[2017-03-09 17:41] LorenzMeier commented on #6733
@tubeme We're changing the nested switch setup, however, adding to Julian's point: A setup with more than 3 modes is already way too confusing.

The way that normal products are built is to have 3 modes on hardware switches, an RTL switch and the rest of the modes on the screen / tablet.

Typical setup would be:

  * POSCTL
  * MISSION
  * RTL

or with two switches:

  * POSCTL
  * MISSION
  * HOL

[2017-03-09 18:32] davids5 commented on #6743
Closed - it is in 8b81cf5 - that current m,aster is based on. The only upstream delta is a white space change.

[2017-03-09 18:32] #6743 closed

[2017-03-09 18:58] dagar commented on #6611
To summarize and plan a path forward. If we added an optional modifier switch which unlocks a 2nd set of mode slots would that be good enough to drop the old style setup and concentrate everyone's testing and development effort?

[2017-03-09 20:30] tubeme commented on #6733
@LorenzMeier Good points!

I really haven't tried the single mode switch extensively. And that is due to the fact that until very recently a month ago it was not possible to take off and land in Pos or Alt ctl. I will definetely dig immediately in your proposed setup. There are also still some problems with landing in PosCtl, actually the land detection for the MC and VTOL, so it is pretty dangero

[2017-03-09 20:32] tubeme commented on #6733
@dagar I will dig deeper in the single mode switch. I really have not tried it extensively and I will do it in the coming days.

Thanks @dagar @LorenzMeier

[2017-03-09 21:02] tubeme commented on #6733
@dagar @LorenzMeier

I don't have a 6 pos switch (i have a rotary 6pos knob which is not good for flight modes), and I could not setup take off and landing for FW with the simple switch. The rest is OK. I will fly it tomorrow this way. May be we could have two simple switches what do you think?

Also there should be some more options for Kill switch for the IC engines.

In two weeks we are flying

[2017-03-09 21:46] Seanmatthews commented on #6562
@rkintada Just to be clear, you are (or were) able to load the 3.1.2 image from Intrinsyc, install the firmware from this repository, and then operate the Snapdragon Flight?

[2017-03-09 22:02] LorenzMeier commented on #6733
We use the 6-pos option with just 3 active / loaded positions. The others remain unassigned.

Your feedback is really good and appreciated. We want to put a particular focus on usability issues in the next weeks so please keep it coming. I am completely aware how important it is.

[2017-03-10 00:13] jywilson commented on #6765
This is a problem I have seen as well when testing from the master branch.  I am looking at it now.  Something must have changed that affects the state machine.  I can see that the arm.arm status changes when I move the joysticks to the lower right, but the motor driver does not receive the motor commands orb.

Jim W.

[2017-03-10 04:01] jywilson commented on #6765
Okay, I have a patch to fix the arming problem.  I am not yet sure why it's needed, so this still WIP.  The PR is here: https://github.com/PX4/Firmware/pull/6767

Jim W.

[2017-03-10 05:29] kiti1013 opened #6768 "use stlinkv2 to debug with GDB and openocd"
i use
 `openocd -f interface/stlink-v2.cfg -f target/stm32f4x.cfg
`
to contect the pixhawk fmu
and
run `/usr/local/bin/arm-none-eabi-gdb build_px4fmu-v2_default/src/firmware/nuttx/firmware_nuttx
`to  run gdb
but how to debug for the fmu  how to run the code step by setp

[2017-03-10 06:34] bssung opened #6769 "NOT ARMING: Preflight checks failed"
I use pixhawk with px4 firmware. I upload the firmware and setup using QGC. I have calibrated all the sensors,  and all the sidebar is green in the QGC. Then I connect the battery, and usb still connected , I try to arm using RC, the red light of pixhawk flash twice, and the QGC says "NOT ARMING: Preflight checks failed".
I dont know which item is failed. How can I get detail information about the

[2017-03-10 10:13] ChristophTobler commented on #6765
@jywilson Arming still doesn't work in QGC but with the RC it does. However the motors are still not spinning... @Stifael Any ideas why that is? I have increased `PWM_MIN` but didn't change anything.

Another thing that I realized: When I have e.g. `param set PWM_MIN 1300` in the `px4.config` it won't change the parameter. However it does work in `mainapp.config`. @julianoes is this normal?

[2017-03-10 10:19] #6724 closed

[2017-03-10 11:07] bkueng commented on #6722
There was a recent fix for HIL merged to master (https://github.com/PX4/Firmware/pull/6718). Can you try again?
If there is a communication issue between QGC and flightgear, it should be raised in QGC: https://github.com/mavlink/qgroundcontrol

[2017-03-10 14:12] julianoes commented on #6765
I'm not sure, this should work both ways and everywhere in theory.

[2017-03-10 14:17] LorenzMeier commented on #6765
@jywilson did the locking maybe only get removed on one side but should have gotten removed on both?

[2017-03-10 16:13] mhkabir opened #6772 "Slow optical flow drift in SITL"
SITL optical-flow only configs seems to exhibit a slow drift over time, which wasn't this bad before. ~This seems to be the culprit : https://github.com/PX4/Firmware/pull/6527~
It seems to be the switch from the PX4Flow block-matching algorithm to the OpenCV KLT algorithm (https://github.com/PX4/Firmware/pull/6191/) for some reason. I'm not 100% sure yet. Results seem to differ from computer-to-co

[2017-03-10 16:26] dcabecinhas commented on #6613
There is definitely some memory corruption going on by I am having troubles pinpointing the source.

I was confused before with the stack coloring. The IDLETHREAD_STACK (colored with 0xdeadbeef) gets placed after .bss, as it should.

The INTERRUPT_STACK (also colored with 0xdeadbeef) lives in the middle of .bss, between g_intstackalloc and g_intstackbase. The memory regions for there global variab

[2017-03-10 16:36] dcabecinhas commented on #6613
I compiled a px4fmu-v4 target and there the memory allocations of g_intstackbase and g_root_inode differ by 4 bytes, as they should.

[2017-03-10 16:46] AndreasAntener commented on #6733
Although I'm always arguing for the old style switching, I have to admit that my use case is really tuning an airframe where I'm going through all the modes and also switch directly between different modes. The options Lorenz explained really make a lot of sense for the typical usage. At least with the changed priority in #6764 it should be one step more flexible, also in combination with the sing

[2017-03-10 18:56] marcelinomalmeidan opened #6773 "PWM signals not coherent in offboard mode"
Hi everyone,

We have a Snapdragon Flight here with Qualcomm's ESC board. We calibrated the motors and we've seen them spin after the calibration procedure (so we think that the ESC board was calibrated correctly).
After that, we tried to run MAVROS with offboard mode as [shown here](https://dev.px4.io/ros-mavros-offboard.html) . We are sending thrust commands to the vehicle (from 0 to 1) and refe

[2017-03-10 19:08] vinhk commented on #6686
@marv3 were you able to see it working? I am using QGC and it does not display data from Lidar Lite V3.

[2017-03-10 19:48] jywilson commented on #6765
@ChristophTobler @julianoes @LorenzMeier  Regarding this question...

"Another thing that I realized: When I have e.g.  param set PWM_MIN 1300  in the  px4.config  it won't change the parameter. However it does work in  mainapp.config . @julianoes is this normal?"

Parameter setting in px4.config will only work if the qurt build defines the specified variable.  At build time two .XML files are aut

[2017-03-10 20:16] jywilson commented on #6765
@LorenzMeier
Regarding: "did the locking maybe only get removed on one side but should have gotten removed on both?"

This problem is related to something which happens when the parameters.xml file is generated.  The PARAMS_DEFINE for the MAV_TYPE parameter in the src/platforms/qurt/px4_layer/params.c file never get's copied into the XML file.  If I move the same PARAMS_DEFINE statement to a diffe

[2017-03-10 21:55] priseborough commented on #6701
@LorenzMeier That fact that this has been closed indicates a decision to no longer support the sdlog2 replay format. If you can confirm this, then I will remove the sdlog2 replay info in the wiki.

[2017-03-10 22:13] jywilson commented on #6765
I have generated one additional PR for this problem.  It appears that if the comment in the PARAMS_DEFINE includes the "@board" tag, the parameter will not get copied into the parameters.xml.

The PR is here:
https://github.com/PX4/Firmware/pull/6774

I will create an issue for the problem stated above.

Also, it appears that the parameter synching between the aDSP and AppsProc will not work if th

[2017-03-10 22:21] LorenzMeier commented on #6765
@jywilson The board tag must match the board name, which it does not here. So that's not actually an issue. The fact that two parameter.xml files are generated sounds more like a real issue.

[2017-03-10 22:24] jywilson opened #6775 "Use of the @board tag prevents copying to parameters.xml"
When defining a parameter using the macro PARAM_DEFINE_INT32 macro, if the tag "@board" is used in the comments above this macro, the parameter will not be copied into the "parameters.xml" generated at build time.

For example, the following parameter will not get copied into parameters.xml.

File name: params.c

[code]

Jim W.

[2017-03-10 23:23] tubeme commented on #6733
@AndreasAntener I have the same use case as you. When building and testing new frames etc. I prefer to have all modes and options at my disposal.
But I think we have to rethink a little bit more the whole system setup options. I'm rendering some thoughts for the last two days and have some ideas.

@LorenzMeier Your proposed setup is actually a corner case because it is the best one, but for MC. Ju

[2017-03-10 23:27] tubeme commented on #6733
If we create a tailored version toward TV and Film production which includes modes that combine flying patterns + cam patterns we will kill the competition ! I can help a lot in this direction.

[2017-03-11 00:08] tubeme commented on #6733
Here is an idea:

We don't have a simple or complex setup switch page. We have just one that looks like the simple switch. And it looks like the current simple switch setup page. We have 3 types of switches 6 pos, 3 pos, 2 pos and a slider. We make this 4 templates for switches. 3 of these templates look like the current 6 pos switch but with 6, 3 and 4 positions (drop downs). And the slider templ

[2017-03-11 00:19] tubeme commented on #6769
Either connect to the terminal with a terminal program like Putty. Or just get the SD card out read it with SD reader, find the pre-flight log in the card. Open it with TXT editor and see what is wrong.

[2017-03-11 01:35] tubeme commented on #6733
If you like my idea i have another suggestion.

It is very impractical and I never used it (even when I was novice to PX4) to calibrate and assign switches in the calibration page. I proffered to do it in the Parameters, when there was no switch setup page.

Just remove the calibration of buttons and sliders from the calibration page. Usually at this stage you don't know yet what are the options a

[2017-03-11 03:51] jywilson commented on #6765
@LorenzMeier

Okay, I can make another change to add the correct board tag.  It would be helpful if the parameter generation tool output a statement of parameters that are being discarded.

I have confirmed the parameter.xml issue which I will create an issue for.  As it stands now, there is no way to synchronize parameters and if a parameter does not exist in both builds it can't be updated.  Sin

[2017-03-11 03:52] #6775 closed

[2017-03-11 03:57] jywilson opened #6778 "Snapdragon Flight parameter synchronization is broken"
The qurt and posix builds generate separate parameter.xml files.  Since the current parameter synchronization mechanism uses an index to update the parameter representation in memory on the aDSP and AppsProc, attempting to update a parameter in the AppsProc will cause the wrong parameter to be updated in the aDSP.

[2017-03-11 05:23] gaochangyu commented on #6723
@Stifael @MaEtUgR  can you please have a look?

[2017-03-11 07:14] gaochangyu commented on #6723
@Stifael @MaEtUgR  can you please have a look?

[2017-03-11 07:31] ruyi7952 commented on #5651
Thanks for your reply.
I am using

Futaba T18SZ with firmware version 2.0,
X Plane 10.51r2,
QGroundControl Tried 3.1.3,
PX4 Firmware: 1.6.0dev (Master),
PX4FMU_V2 (not PX4FMU_v4) (MZ).

my computer runing windows 7 pro sp1 and macos 10.12.
The same problem, no progress.

[2017-03-11 08:14] Stifael commented on #6723
Yep will have a look on monday.

[2017-03-11 08:24] Stifael commented on #6778
https://github.com/PX4/Firmware/issues/6261

[2017-03-11 08:47] julianoes commented on #6733
@tubeme Wow that a lot of reading for one to do :).

Trying to step back a bit. I'm going to ignore Android vs. iPhone and focus on the current RC gear that is out there right now and we need to live with. While autonomy is generally increasing, RC use and switch complexity will go down.

#### What problem are we facing?
- Users with different RC hardware, software, and configuration (1 switch to

[2017-03-11 09:12] tubeme commented on #6733
@julianoes :) Sorry I just carried away a little...

I understand your point about nesting in the current implementation. And yes it is logical that the RTL and Hold should be part of auto modes from development stand point.

But from user stand point everybody is thinking in a different way. And everybody has its preferences and different needs about mode and functionality priority from pilot / u

[2017-03-11 09:16] tubeme commented on #6733
BTW rethinking the modes now, it is a good point you have about what has the priority QGC or the RC??
And then if I have connected Joystick in the QGC what has the priority?? QGC RC or the Joystick??

Given this your idea about what is last has the priority sounds pretty good to me. You touch the Joystick it has the priority. You touch the screen QGC has the priority. You move the Joystick it take

[2017-03-11 09:55] tubeme commented on #6733
Something about the Emergency. Now we are thinking about only two options for emergency. Hold and RTL. But in the future we can add other emergency scenarios. Like go to Reserve Airport. Go to data link loss Loiter spot 1 etc. We have a collision emergency do this and that. So we have to prepare the system to accommodate all this emergency scenarios and give the user the flexibility to prioritize

[2017-03-11 10:05] tubeme commented on #6733
My basic idea in two words is go from flight modes priority and nesting to control and switch priority.

[2017-03-11 10:10] LorenzMeier commented on #6778
@jywilson @mcharleb We need the params on both sides to be synced. That's super important because anything else is very non-intuitive.

[2017-03-11 10:37] LorenzMeier opened #6780 "Create pure racer config"
We should add a pure racer config:

  * MPU6K output rate at 500 Hz
  * Attitude control running at 500 Hz
  * ekf2 rate-limited to 250 Hz at lower priority
  * OneShot enabled and with proper QGC UI config for it

With some logs from that we should then infer what the limits are and if we need to disable position fusion completely (only run the attitude estimator) or what a safe setup is.

[2017-03-11 12:07] zouboan opened #6781 "what is the use of the remaining fields of the firmware file？such as the "airframe_xml" fiels"
The px_uploader.py only upload the image fields from the firmware file（px4fmu-v4_default.px4）,The question is what is the use of the remaining fields of the firmware file？such as the "airframe_xml" fiels,It doesn't seem to be  upload to the PX4 at all

[2017-03-11 12:19] zouboan opened #6782 "It seems the format of px4fmu-v4_default.px4 does not match the px4fmu-v4.prototype?"
There's no "airframe_xml" fields at all in the px4fmu-v4.prototype,but the px_mkfw.py use fellow code:
	desc['airframe_xml_size'] = len(bytes)
	desc['airframe_xml'] = base64.b64encode(zlib.compress(bytes,9)).decode('utf-8')
and there's  "airframe_xml" fields in the px4fmu-v4_default.px4,why?

[2017-03-11 12:52] LorenzMeier commented on #6782
Prototype means its an input. It's not a final config.

[2017-03-11 12:52] #6782 closed

[2017-03-11 12:53] LorenzMeier commented on #6781
The .px4 file is a complete binary with meta data which is used by various other systems.

[2017-03-11 12:53] #6781 closed

[2017-03-11 13:19] #6667 closed

[2017-03-11 14:24] dcabecinhas commented on #6613
I think I got to the root cause of the problem and have a an idea for a solution.

It seems the problem is an upstream bug in NuttX that manifests in the Firmware code because of the unusual number for CONFIG_ARCH_INTERRUPTSTACK in px4-stm32f4 most px4fmu architectures (CONFIG_ARCH_INTERRUPTSTACK = 750 and 750 % 8 > 3).

I repeat, the bug is present in ALL arm architectures but in some of them we

[2017-03-11 14:35] LorenzMeier commented on #6754
Closing as duplicate.

[2017-03-11 14:35] #6754 closed

[2017-03-11 14:38] gcWorld opened #6783 "Crash in certain modes when using vmount"
See http://discuss.px4.io/t/pixracer-1-5-5-fly-away/2507/7 for full discussion regarding this issue.

When using the vmount driver and switching to any of the non-manual modes (Auto Hold, Offboard, Follow me) the system stops responding to any RC input, QGC looses the connection, logging stops, and all fail-safes are ignored.
Notable is that during the initial fly-away the stabilisation was workin

[2017-03-11 14:38] LorenzMeier commented on #6613
@dcabecinhas This is much appreciated, thank you! @davids5 Can propose a fix that gets accepted upstream.

Would you be interested in working with us on more HW platforms, in particular new boards? Your skill set seems like it could greatly benefit the dev community.

[2017-03-11 14:42] davids5 commented on #6613
@dcabecinhas Great Sleuthing!

Just some additional background. We have to maintain the 8 byte alignment for floating point alightment on stm32. I will do the PR for upstream nuttx and hot fix in PX4 master.

Thank you for all your efforts in debugging this!

[2017-03-11 14:43] davids5 commented on #6613
@dcabecinhas - Are you on skype?

[2017-03-11 14:48] LorenzMeier commented on #6783
@gcWorld Would you be able to increase this to 1700 and re-test?
https://github.com/PX4/Firmware/blob/master/src/drivers/vmount/vmount.cpp#L383

[2017-03-11 14:48] dcabecinhas commented on #6613
Great. I'm glad to help.

[2017-03-11 15:28] leomatrix commented on #6613
@dcabecinhas @davids5  Thank you for your helps, you are so great...

[2017-03-11 17:01] edsellar commented on #6231
@scubAssist looked at it for a bit for haven't had time. Have some ssd1306 small and large sizes so can help test.

[2017-03-11 17:24] davids5 commented on #6613
@leomatrix @dcabecinhas @LorenzMeier  FYI: https://github.com/PX4/Firmware/pull/6784

Just to close the loop on my px4fmu-v3 build the corruption would have hit __dso_handle that is not used because CONFIG_SCHED_ONEXIT was not set.

[2017-03-11 17:51] LorenzMeier commented on #6701
Please do. We are phasing out the old logger.

[2017-03-11 20:35] tops4u commented on #6769
Did you enter the Circuit Breaker Code for USB Connection otherwise PX4 will deny arming with active USB Connection. Also when first powered via USB and Battery connected later will usually cause a Problem with arming, usually you should power up properly from Battery only.

[2017-03-11 22:07] tops4u commented on #6733
Hi People,

this quiet a lot to read and understand. My current concern with this matter is the following. I'm one of the specialists having a 3 & 2 Pos Switch mixed together to one RC Channel in order to get 6 Positions. This allows to skip some of the discrete steps. As they are currently all freely assignable in the single Channel Mode Assignment, I assumed this should not cause any Problem. Wi

[2017-03-11 22:09] Antiheavy opened #6787 "New Parameter request: "minimum takeoff pitch""
The Mavlink message MAV_CMD_NAV_TAKEOFF contains a mission parameter for "Minimum pitch (if airspeed sensor present), desired pitch without sensor".

The optimum value for this is generally specific to the aircraft design. It would make more sense to set this value as a parameter to be used inside the PX4 fixed wing takeoff controller.

As currently implemented in PX4 and QGC this is prone to user

[2017-03-11 22:14] gcWorld commented on #6783
No visible change in behaviour for me.

[2017-03-12 05:25] BossKwei opened #6788 "Some questions after a crash.."
http://logs.uaventure.com/view/gTQjyURYX6LvADB7KcYYYV

Firmware: 1.5.5 Stable

# Crash review
1. Arming the quadrotor. (in POSCTL mode)
2. Push the throttle forward for a little, then four rotors began to spin, everything is fine.
3. Disarming the quadrotor.
4. Next arming again without a power off. (also in POSCTL mode)
5. Then when I push the throttle, **the 1st rotor did not spin**, my quadroto

[2017-03-12 05:50] dcabecinhas commented on #6613
@LorenzMeier Sure, I am interested. I've sent you an email.

@davids5 Commit 5a66539b361fa584cfe15596d0c39c4d8505b5a8 is only a partial fix, even if we are caring only about PX4.

We need to match all the .S with the corresponding .c for all architectures and boards.

At a first glance, at least common/up_checkstack.c also be fixed and stm32f7/stm32_irq.c too since it probably uses the .S in armv7

[2017-03-12 06:04] xn365 opened #6789 "MulticopterLandDetector Bug"
https://github.com/PX4/Firmware/blob/master/src/modules/land_detector/MulticopterLandDetector.cpp#L273
same as
https://github.com/PX4/Firmware/blob/master/src/modules/land_detector/MulticopterLandDetector.cpp#L281
_get_takeoff_throttle() always  return _params.manual_stick_up_position_takeoff_threshold;

[2017-03-12 07:22] #6789 closed

[2017-03-12 07:23] Stifael commented on #6789
And why that? It only returns the threshold when manual and altitude is enabled

[2017-03-12 09:35] AndreasAntener opened #6790 "Logging rates and topic instances in new logger"
@bkueng in reference to https://github.com/PX4/Firmware/pull/6770/commits/135f64aa7d54cf93e2417c0e85e618e9fe25c44f

I'd like to make a PR with some improvements, could you help me with the following:

- Is it correct that logging of difference instances is not supported yet? We need `actuator_outputs` 1 and 2
- The rates for attitude and setpoints, as well as position and setpoints should be the s

[2017-03-12 10:04] dcabecinhas commented on #6613
Just an add-on with some simplifications.

The 64-aligned architectures are

[code]

The C source files with 32-bit assumptions being compiled against the 64-bit aligned assembly S files seem to be the ones return in these grep expressions

[code]

but please double check as I might have missed something.

Keep in mind that until now we were just searching for ARCH_INTERRUPTSTACK. Trying to identi

[2017-03-12 10:10] LorenzMeier commented on #6790
* Different instances are supported, selecting the topic will log all
  * Fixed in e4c012289f
  * Fixed in f7e4d8453d

[2017-03-12 10:24] AndreasAntener commented on #6790
Thanks!

Regarding topic instances: I only see `actuator_outputs_0` in our VTOL logs.

[2017-03-12 10:27] LorenzMeier commented on #6788
Here is what happened: Your ESCs are incorrectly calibrated, which means that the first motor (http://logs.uaventure.com/view/gTQjyURYX6LvADB7KcYYYV#Actuators_PLOT) was not actually spinning when it should have.

That led to the system tipping over. You are not allowed to disarm in position control mode because lowering the altitude and yawing is a common user behaviour - however, if you do that,

[2017-03-12 10:27] #6788 closed

[2017-03-12 10:29] xn365 commented on #6651
Encounter the same problem.

[2017-03-12 10:30] LorenzMeier commented on #6790
This is not a VTOL but shows things are working:

<img width="734" alt="screen shot 2017-03-12 at 11 29 42" src="https://cloud.githubusercontent.com/assets/1208119/23830968/3db45c50-0717-11e7-9220-8dcf88dc9d49.png">

Actuator controls are a slightly different beast - they are not multi-topics.

[2017-03-12 10:32] LorenzMeier commented on #6790
I'm closing this - I'm sure we need to further fine-tune .ulog before it works for all use cases, but I think its best to open new issues for specific things we find, rather than keeping a monster issue around.

[2017-03-12 10:32] #6790 closed

[2017-03-12 11:48] BossKwei commented on #6788
@LorenzMeier Thank you for your reply, and I'm really sorry about this issue, there isn't the appropriate place for configuration fault.

[2017-03-12 11:56] BossKwei commented on #6788
@LorenzMeier And, how could you find my fault? Does any diagram show this?