[2018-09-10 16:03] julianoes commented on #9242
@DonLakeFlyer I'm assuming the v2 build has been fixed again?

For the Java issue, let's track it in #10443.

[2018-09-10 16:03] #9242 closed

[2018-09-10 21:02] santiago3dr commented on #10406
flashed todays master 33e68b3 and had the same non responsive throttle on the first attempt:
https://logs.px4.io/plot_app?log=4bbc9f6f-74d4-4a7d-bb35-116469d99ba5

ran a few power cycles and got it to work
https://logs.px4.io/plot_app?log=469b7600-3554-414f-bce2-7dbfe9d2e69c

no error messages on qgroundcontrol on unresponsive nor on successful flight

[2018-09-11 01:40] Alexandre-Mainardi opened #10449 "AUAV x2.1 Issue"
After flashing the 1.8.0 stable on AUAV x2.1, QGC flashes the correct X2.1 Firmware, but then in the summary info it is reported as 1.8.0dev.

[2018-09-11 02:45] roseyangyu opened #10450 "about baudrate of serial"
I want to control the telem 1 to stop sending mavlink message,I want telem 1 to output the message that is Custom-Defined.And how do I do to config the baudrate of serial4/5?

[2018-09-11 05:26] priseborough commented on #10172
@virtualclone Remove the specified time step from this line and it should log every message:

https://github.com/PX4/Firmware/blob/master/src/modules/logger/logger.cpp#L616

[2018-09-11 06:17] priseborough commented on #10310
@ArkadiuszNiemiec

I have the following observations looking at your log:

1) The EKF2_EVP_NOISE parameter setting of 0.01 m is much too low and will lead to the external vision data being rejected at circa 0.05 m of difference to the inertial nav solution. Start at 0.2m.

The ekf assumes the largest of EKF2_EVP_NOISE and eph.epv values and the vehicle_vision_position message in the log has a zero

[2018-09-11 08:32] gjwesteneng commented on #10408
Hello,

We are trying to get optical flow working, using the down facing camera and LeddarOne. So far no result, because the LOCAL_POSITION_NED.x and .y stay 0.

Someone from Intel made a test build of the PX4 firmaware where it started working.

The only thing is that fusion of the VISION_POSITION_ESTIMATE has stopped working in this build, which was working in release AeroFC firmware version 1.8

[2018-09-11 08:46] bkueng commented on #10430
@tropappar Can you do a `make clean` and then rebuild the firmware?

@k2shah You're right, there's a port overlapping, and we can change the local port in https://github.com/PX4/Firmware/blob/master/ROMFS/px4fmu_common/init.d-posix/rcS#L88 to a higher range.
The MAV_SYS_ID should not be an issue, otherwise we need to change the ID in the launch file.

[2018-09-11 11:28] davids5 commented on #10419
Addressed in https://github.com/PX4-NuttX/nuttx/pull/34, Firmware PR to Follow.

[2018-09-11 11:36] davids5 opened #10453 "NXPhlite-v3:Mag inconsistent error."
In QGC connected to NXPhlite-v3 will report inconsistent mag errors. This is due to random noise spikes on  HIGHRES_IMU.[x|y|x]mag.

[2018-09-11 12:09] #10440 closed

[2018-09-11 12:15] davids5 commented on #10336
@Nielesonimusso

The sd card is not expected to be removed/inserted during operation. So the main concern would be insertion followed by reset not working.

In the log I see
`INFO  [tone_alarm] missing command, try 'start', status, 'stop'`

This was fixed when https://github.com/PX4/Firmware/pull/10257 came in on 8/30.

The timeouts are related to long threads running on the work queue.

Please re

[2018-09-11 12:15] #10443 closed

[2018-09-11 12:19] davids5 commented on #9992
Except for the Junk uOrb publication the Tune control and tone_alarm issues were resolved in #10257

[2018-09-11 12:19] #9992 closed

[2018-09-11 12:27] davids5 opened #10455 "uOrb advertise sends invalid data"
The pattern found https://github.com/PX4/Firmware/blob/master/src/modules/commander/commander_helper.cpp#L122-L138

Will send a message with all 0. 0 is the code point for tune_control to stop the current to.

The suggested fix was to have a new advertise method without the *data that allocates but does not send messages.

[2018-09-11 16:18] mhkabir commented on #10408
Possible fix is here : https://github.com/PX4/ecl/pull/505

[2018-09-11 18:57] k2shah commented on #10430
I changed the ID in both the launch file and the rcS file, I was not able to get mavros to connect otherwise. Let me know if I can help, I'm happy to clean up my fixes and submit a PR and attempt to get it to work without changing MAV_SYS_ID

[2018-09-11 19:03] lericson opened #10457 "Unable to arm"
**Describe the bug**
Between v1.6.5 and v1.8.0 there seems to have been quite a lot of changes to the PWM state machine, or I just never delved into this code before. It took me a couple of days but I have narrowed it down to `src/drivers/px4fmu/fmu.cpp` where there is both a publish and a subscribe to the uORB topic `actuators_armed`. It is perhaps intended to be generic to the situation where th

[2018-09-11 19:08] lericson commented on #10457
I don't think my fix is the way to go, but a way around this without diving into why the uORB stuff isn't doing what it should is to simply let `_safety_off = _safety_btn_off` if `GPIO_BTN_SAFETY` is defined, otherwise use the `orb_check()` stuff. This lets the code be agnostic to what type of safety switch is used and yet removes this complication that resulted in a fairly serious bug.

[2018-09-11 19:49] julianoes opened #10458 "Gazebo SITL: getting many reset to baro"
On latest master (520a81a9516b9a381e04f6bb177eff4678f04dff), I'm getting a lot of baro timeout warnings:
[code]

This is using Gazebo headless on Arch Linux.

[2018-09-11 20:04] julianoes commented on #10458
Nevermind, this only happens when you remove the ground in Gazebo. Don't ask... :smile:

[2018-09-11 20:04] #10458 closed

[2018-09-11 20:04] MattMgn commented on #10418
Allright, it's now compiling
I was running `make clean `instead of `make distclean`
Thanks
matt

[2018-09-11 20:05] #10418 closed

[2018-09-11 20:05] julianoes commented on #10450
May I ask what piece of hardware you are referring to? That way we can figure out what your requests map to in code.

[2018-09-11 20:07] julianoes commented on #10433
How did you set up the project in QtCreator? What are the settings?

[2018-09-11 20:08] julianoes commented on #10425
I don't think this has been used in a while. Contributions would be welcome!

[2018-09-11 20:54] tubeme commented on #10434
Here are the two tech docs.

[LIDAR_Lite_v3_Operation_Manual_and_Technical_Specifications.pdf](https://github.com/PX4/Firmware/files/2372677/LIDAR_Lite_v3_Operation_Manual_and_Technical_Specifications.pdf)

[LIDAR_Lite_v3HP_Operation_Manual_and_Technical_Specifications.pdf](https://github.com/PX4/Firmware/files/2372678/LIDAR_Lite_v3HP_Operation_Manual_and_Technical_Specifications.pdf)

[2018-09-11 21:08] davids5 opened #10462 "NXPHlite PWM LED inconsistent output on breathing"
Led flashes, and sputters.

[2018-09-11 21:10] davids5 commented on #10462
Fixed in https://github.com/PX4/Firmware/pull/10461

[2018-09-12 00:55] roseyangyu commented on #10450
I used pixhawk 2,I want to config telem1 and serial4/5.I hope the telem1 don't output mavlink so much so that I can make it output the message that is I need.And the baudrate of serial4/5 how to config?

[2018-09-12 01:58] roseyangyu commented on #10450
In  QGC ,I can't fiind the parameter to config that

[2018-09-12 03:54] mbangtri commented on #8034
I got the same problem....currently I am using PixhawkPSP_v3.0.3. I try to build firmware, and the following error appear...

-- PX4 VERSION: v1.8.0-1010-gbf87270ded
-- CONFIG: nuttx_px4fmu-v2_default
-- Build Type: MinSizeRel
CMake Deprecation Warning at /usr/share/cmake-3.10/Modules/CMakeForceCompiler.cmake:69 (message):
  The CMAKE_FORCE_C_COMPILER macro is deprecated.  Instead just set
  CMAKE

[2018-09-12 04:48] mbangtri opened #10464 "error in Build Firmware using PixhawkPSP_v3.0.3"
Currently I am using PixhawkPSP_v3.0.3. I try to build firmware, and the following error appear...

-- PX4 VERSION: v1.8.0-1010-gbf87270ded
-- CONFIG: nuttx_px4fmu-v2_default
-- Build Type: MinSizeRel
CMake Deprecation Warning at /usr/share/cmake-3.10/Modules/CMakeForceCompiler.cmake:69 (message):
The CMAKE_FORCE_C_COMPILER macro is deprecated. Instead just set
CMAKE_C_COMPILER and allow CMake to

[2018-09-12 05:15] Doodleshr commented on #10146
same problem here, any help?

[2018-09-12 07:10] hamishwillee commented on #10425
Yes, it is [not even documented as an option](https://dev.px4.io/en/simulation/hitl.html). The best supported HIL simulation at the moment is probably Gazebo.

As Julian says, if you can get this working, we'd love to take a PR(s).

[2018-09-12 07:37] bkueng commented on #10450
FYI this will make the UARTs configurable: https://github.com/PX4/Firmware/pull/10337

[2018-09-12 09:43] yukun2016 opened #10466 "disarm the quadrotors x then Rotate"
When i disarmed the quadrotors x in altitude mode then the plane start rotate in yaw and i did no anything.
The software version is 1.8.0.
The log is here:
https://logs.px4.io/plot_app?log=a10af864-ef18-495f-a49d-7ed606065039

[2018-09-12 09:44] roseyangyu commented on #10450
I‘m exciting very much! Thank you very much! @julianoes and @bkueng

[2018-09-12 09:48] yukun2016 opened #10467 "Quadrotor x Overturn after armed"
**Describe the bug**
When i disarmed the quadrotor x , the plane overturn.

**To Reproduce**
1.in position mode;
2.disarmed the plane
3.i found the motor did not start,and the kill switch is open
4.close the kill switch
5.the plane start rotate,then overturn.

The software is version 1.8.0
This is the url:
https://logs.px4.io/plot_app?log=ece428a7-9a2c-48f5-880b-8d6307773626

[2018-09-12 10:02] roseyangyu commented on #10450
but I have not rc.mavlink. I use v1.8.0.

[2018-09-12 13:05] julianoes commented on #10450
Same thing there:
https://github.com/PX4/Firmware/blob/v1.8.0/ROMFS/px4fmu_common/init.d/rcS#L604

[2018-09-12 14:04] dk7xe opened #10469 "NXPhlite - PWM output does not change after arming"
**Describe the bug**
PWM output does not change after arming. Motors don't spin.

**To Reproduce**
1. Power up Hovergames drone
1. press safety switch
3. arm
4. See error

**Expected behavior**
Motors spin with minimum throttle setting

**Log Files and Screenshots**
![pwm_info](https://user-images.githubusercontent.com/3907200/45430241-45b2b980-b6a5-11e8-83e4-0d41cc06ad2e.jpg)

**Drone (please com

[2018-09-12 14:16] LorenzMeier commented on #10469
@bkueng Could you please have a quick look?

[2018-09-12 14:16] Nielesonimusso commented on #10469
same issue as #10318

[2018-09-12 14:55] davids5 commented on #10336
@Nielesonimusso - Ahh - I think we are back feeding from the FTDI cable.

One test to conduct will tell us.

Remove the red wire from the FTDI. (tape it off so it does not short)

1) Remove the DCD cable.
2) Power the FMU from the power module OR USB.
3)  After the FMU is powered attach the DCD

Then run the test you did above.

[2018-09-12 15:12] Nielesonimusso commented on #10336
@davids5 followed your steps, powering through USB, and the SD card works! Looks like the issue is solved this way.

[2018-09-12 15:12] #10336 closed

[2018-09-12 15:22] RomanBapst opened #10471 "Standard VTOL gazebo simulation goes wild"
**Problem:**
After doing a make clean simulation works. It does not work anymore if you try to run it a second time without a make clean in between. This time it will go wild right after arming.

**Steps to reproduce**

[code]

quit the app

`make posix_sitl_default gazebo_standard_vtol`

arm the drone and see it going wild

[2018-09-12 15:28] jarivanewijk commented on #10315
@Nielesonimusso and I have done tests again with the latest master firmware (commit 73fe4ec). We still get the hardfaults, I have included the log.

To us it seems like the issue only occurs when we have USB connected and have QGroundControl communicating with the FMU. When QGroundControl is not running, no hardfaults occur. Without QGroundControl, we have had it running for a combined duration of

[2018-09-12 16:46] lericson commented on #10469
This is also a dup of #10457

[2018-09-12 16:46] lericson commented on #10469
Which I by the way show the error and a fix in

[2018-09-12 16:48] lericson commented on #10318
Try this change

[code]

[2018-09-12 16:52] lericson commented on #10318
This looks like the exact same thing as in #10457

[2018-09-12 17:16] lericson commented on #10457
For completeness, here's the diff I posted to the above two issues:

[code]

[2018-09-12 17:36] k2shah commented on #10430
any particular range I should set it for? i was thinking having the
the base UDP ports be

14550 - 14554 and then offset each by 4*idx so that it can scale without future overlaps, are there any port ranges that I need to use/not use?

[2018-09-12 18:12] szebedy opened #10473 "Large oscillations in vision-based position control mode (on Intel Aero RTF)"
**Bug description**
The drone flies with oscillations of 1+ meters around the desired position.

**To Reproduce**
I am using the PX4 release 1.8.0 on the Intel Aero RTF with the following parameter changes in EKF2:
EKF2_AID_MASK: 24 (Don't use GPS, fuse vision position and yaw)
EKF2_EV_DELAY: 20.0 ms
EKF2_HGT_MODE: Vision

Also, for safety reasons I minimized some MPC velocities and accelerations:

[2018-09-12 20:50] mhkabir commented on #10473
Is your SVO pose estimate correctly scaled?

[2018-09-12 20:51] dagar commented on #10328
Linux: bash >= 4
NuttX: bash like mostly sh compatible
OSX: bash 3.2

[2018-09-12 21:31] adipandas commented on #9890
@rahulsharma11 Reply for your previous question

So, if you are doing offboard indoors, you do not have to use GPS for mission. You can disable the GPS by unchecking GPS and enabling optical flow option in EKF2_AID_MASK parameter using QGroundControl.
Hope this helps.

[2018-09-12 21:45] adipandas commented on #9890
@rahulsharma11 I have few questions regarding the use of optical flow though.
I am also facing some issues with px4Flow. It will great if you can help me with these.
I am trying to get my quadrotor to hover indoors without GPS/MOCAP. I have firmware version 1.8.0 on my pixhawk. I am using EKF2 to work with Optical Flow.

Can you please let me know how did you get it to hover indoors.
Following are

[2018-09-12 22:52] hamishwillee commented on #10430
May not be exhaustive, but see: https://dev.px4.io/en/simulation/#default-px4-mavlink-udp-ports

[2018-09-13 00:19] davids5 commented on #10318
@dagar - is the the cause of what we were debugging?

[2018-09-13 00:27] santiago3dr commented on #10457
pixracer runs on a flamewheel 450 quad frame
safety switch disabled
950kV motors; dji 420 lite esc's
frsky x8r receiver
leah6 ublox gps
3S lipo

[2018-09-13 01:08] mhkabir commented on #10473
Are you using an external scale estimation filter?

[2018-09-13 02:54] #10464 closed

[2018-09-13 03:06] roseyangyu commented on #10450
I have  config UART7 and UART8 to 115200,but It seems that the baud rate has not changed.It still is 57600.

[2018-09-13 03:15] #10450 closed

[2018-09-13 05:04] roseyangyu commented on #10450
config telem1 sucessfully! thank you again

[2018-09-13 06:00] bkueng commented on #10430
Yes that makes sense. Since these are the local ports, it doesn't really matter much.

[2018-09-13 07:03] szebedy commented on #10473
Not that I know of. SVO is currently only using the camera stream (no IMU, because it only made things worse, maybe because of corrupt timestamps) Could that be the problem? Can PX4 do this, or is this the job of SVO?

[2018-09-13 07:36] julianoes commented on #10328
I think we should find out what NuttX supports and validate for that.

[2018-09-13 07:37] julianoes commented on #10450
@roseyangyu have you done a `make clean` after changing the defconfig?

[2018-09-13 07:56] roseyangyu commented on #10450
oh i'm sorry.thank you very much

[2018-09-13 07:59] ChristophTobler commented on #10473
@szebedy How are you estimating scale if you don't use IMU measurements? I assume you only use the downward -facing camera and not stereo?
If I'm not mistaken SVO alone doesn't use IMU but needs to be coupled to something like https://github.com/ethz-asl/ethzasl_msf to use IMU and get scale.

[2018-09-13 08:08] szebedy commented on #10473
Hi @ChristophTobler thank you for your reply.

I guess I am not estimating the scale. SVO has a parameter called **map_scale**, which is the average scene depth in meters on initialization. I set this to 1.5 and hold the drone at approximately 1.5 meters above the ground when I start SVO.

[2018-09-13 09:20] ChristophTobler commented on #10473
Could you please provide a log?

[2018-09-13 11:11] lericson commented on #10457
Sounds like a great idea. Perhaps also add some MAVLink log info for safety off/on.

Another thing that has almost cut my fingers up several times now is the fact that you cannot disarm unless the vehicle believes itself to be landed, or you’re in a manual mode. I can see how it makes sense in other contexts but indoors I don’t know.

- Ludvig

[2018-09-13 11:35] MatejFranceskin commented on #10471
This commit caused the regression:
SITL: move all models to unified rcS startup and remove old scripts
https://github.com/PX4/Firmware/commit/273988c124d68031c300dcdcac1c4b4150d432de

[2018-09-13 11:58] davids5 commented on #10315
@jarivanewijk and @Nielesonimusso - I concur with the findings that the hard fault only happens over USB while QGC is running. - Thank you both for narrowing it down.

We are working on getting the list of open NXPhlite items closed. This one will be last, as it has been very difficult to find the root cause. My plan is to get the USB monitor on it and see if the stack overwrite is based on consis

[2018-09-13 13:09] davids5 commented on #10336
@Nielesonimusso - That is Awesome news! Thank you!

@igalloway - please put out a publication to cut the FTDI VCC pin on the circuit board (remove the pin) ALL current version of the DCD-LZ-R1.

[2018-09-13 14:44] LorenzMeier commented on #10457
I would recommend to use a kill switch for that use case. Disarming is meant for fully tuned, autonomous operation.

[2018-09-13 16:11] szebedy commented on #10473
@ChristophTobler, I made a new test because unfortunately I don't have the log from the previous test. This time I tried to initialize SVO more precisely (measured the 1.5 m above the ground such that it corresponds with the map scale) and the oscillation wasn't so large, but still noticeable (about 0.5 m).

Here is the log: https://review.px4.io/plot_app?log=31639308-68b2-4741-a348-ae7d496a3c46
A

[2018-09-13 19:26] davids5 commented on #10318
Fixed in #10477

[2018-09-13 19:26] #10318 closed

[2018-09-13 19:33] davids5 commented on #9973
Please do a **cautious** flight test @PX4/testflights on master.

Please fly NXPHlite-v3  to test if this issue still is present.

If there are any comms issues* we will need to troubleshoot in real time on slack.

*(There is still  a hadfault when QGC is connected via USB - WIP)

Use real safety switch on all HW and cross test FMUv4, FMUv2  (2mb)

[2018-09-13 20:50] davids5 commented on #10457
@lericson - would you please test master with #10477 ?

[2018-09-14 01:56] #10471 closed

[2018-09-14 08:51] fx3821 commented on #9737
hi，everyone
I have had similar problems recently and I'm glad to see this post and comments.
But i still have a question,
X12s was able to discover all available sensors and data transmitted in real time.
but the YAAPU LUA scripts did not works,
I would like to ask if any of the supported scripts are recommended?
or what should i do?
Thanks a lot

Here are my setup:
Frsky horus X12S
Pixhawk4 with

[2018-09-14 09:26] bkueng commented on #9737
Hi
Someone would have add support for PX4 to the YAAPU script, as it is specifically designed for ArduPilot.
I know that LuaPilot works with PX4 and you find instructions here: https://docs.px4.io/en/peripherals/frsky_telemetry.html#taranis---luapilot-setup.

[2018-09-14 11:55] tropappar commented on #10430
@bkueng A make clean helped to solve the issues with the -i and -s args. Thanks for the hint.
After applying the fixes of @k2shah in https://github.com/k2shah/Firmware/commit/43f396e1b5e6af232a5c083ba170e4399f290458 I am able to arm and take off using MAVROS.

[2018-09-14 14:35] Zvire30 opened #10482 "RC to param usless :("
After reset of controler params not aswer to RC channel.

i use ates PXfs and qGC 3.4.3

[2018-09-14 15:06] #9562 closed

[2018-09-14 19:26] macfly1202 commented on #5651
using Hilstar17F from https://diydrones.com/profiles/blogs/hilstar17-public-release
Amazingly, this old plane have a nice behaviour in Xplane.

[2018-09-14 21:54] Avysuarez commented on #9973
flight running master,(commit 5847ab4).
https://review.px4.io/plot_app?log=177abd89-3e18-44d0-9cd1-9376f2a28246

The thelemetry connection is already working, but has the same issue. the copter doesn't maintain altitud in alt mode with the throttle in 0 the copter it rose to 80 meters. Also the doesn't working the position mode and auto.

[2018-09-14 22:31] priseborough commented on #10424
Prototype here: https://github.com/priseborough/Firmware/tree/pr-gpsBlendRate

PR will be submitted when reversion testing complete. Will require test data for replay testing with RTK 20hz and ublox m8n 5Hz data.

 We should also add user settable parameter to enable running UBlox m8n at 10Hz

[2018-09-14 23:44] davids5 commented on #9973
@dagar would you please have a look at the logs and give me some advice

[2018-09-15 04:40] Antiheavy commented on #9869
Here are some additional logs that may help towards this:

blocked pitot:
https://review.px4.io/plot_app?log=77d71e51-c131-45c1-92c2-aa5bf14ef66e

Leaky pitot:
https://review.px4.io/plot_app?log=c0ed0754-c063-402e-a0b2-e34b74bb2164

Bad compass calibration, shows airspeed checkbits too (maybe false?):
https://review.px4.io/plot_app?log=8073ef78-2f58-4e4e-91f9-471649667898

[2018-09-15 18:29] dakejahl opened #10485 "ModuleBase: Multi, Workqueue, Task"
I've been working on a new class **`ModuleBaseMulti`** which is exactly what it sounds like. This is pretty necessary to avoid crappy driver hacks to allow multiple instances of an app.

As I have worked through it I am starting to feel like a generic **`ModuleBase`** doesn't seem to fit for both work_queue applications and tasks. There ends up being some extra flash/ram overhead in every single d

[2018-09-15 19:45] dagar commented on #10485
I don't think the flexibility of running something as either a task or in the work queue necessarily needs to be preserved. Aside from not being an issue on the latest platforms, there are other ways we can save memory, including things that would reduce the cost of a task.

[2018-09-15 22:56] shreks7 opened #10487 "POSIX_SITL Bug - Symbol Lookup Error [UPDATE]"
**Describe the bug**
Downloaded the latest Firmware
Tried running
`make posix_sitl_default gazebo`

Gazebo crashes with the error -

PX4 keeps waiting for the UDP port 14560

I am running
Gazebo-7 (that comes with ROS)
Ubuntu 16.04

[2018-09-16 00:49] shreks7 commented on #10487
Reinstalling Gazebo fixed the problem.

[2018-09-16 00:49] #10487 closed

[2018-09-16 02:31] dakejahl commented on #10485
Okay. I won't bother with breaking it up, I am submitting a PR for `ModueleBaseMulti` soon, my mpu9250 work will rely on that.

[2018-09-16 12:15] varunvp commented on #9554
How do you downgrade to Firmware v1.7.3?

[2018-09-16 16:43] dagar commented on #8814
@bartslinger FYI

[2018-09-16 16:49] dakejahl commented on #8814
Nice! I should be ready for this mid week.

[2018-09-16 19:26] szebedy commented on #10473
Yes the problem was the VO scaling. If I initialize SVO precisely then the drone flies real nicely.

[2018-09-16 19:26] #10473 closed

[2018-09-16 20:49] Seeelefant opened #10489 "Cannot enable CAN-Bus in PX4 1.8"
**Describe the bug**
I tried to switch on the CAN bus, however no UAVCAN configuration shown:

**To Reproduce**
Steps to reproduce the behavior:
![image](https://user-images.githubusercontent.com/30323691/45600783-965a4780-ba02-11e8-8b76-f567866a35fd.png)

This is not a hardware problem, as in ArduPilot this thing is working.

[2018-09-16 22:04] dagar commented on #10489
Which board are you using?

[2018-09-16 22:48] dagar commented on #10489
Through the console (serial or mavlink) could you run `ver all`? The build for older pixhawks that are limited to using the 1st MB of flash only (px4fmu-v2) don't have UAVCAN included. If you have one of the newer chips you can flash the px4fmu-v3 build which contains UAVCAN and more optional peripheral drivers..

[2018-09-16 22:59] Seeelefant commented on #10489
Unfortunately I have the px4fmu-v2 one. Anything I can do here?

[2018-09-16 23:15] dagar commented on #10489
You can build a custom binary (nuttx_px4fmu-v2_default). You'll need to uncomment uavcan here https://github.com/PX4/Firmware/blob/master/cmake/configs/nuttx_px4fmu-v2_default.cmake#L111, but also comment out other drivers and modules you won't be using to make it fit.

[2018-09-17 06:43] Seeelefant commented on #10489
Thanks a lot! Is there any way to determine the board version, before I buy? On ebay its all "Pixhawk PX4 2.4.8" ....

[2018-09-17 08:39] egauh0113 commented on #10408
@mhkabir

[2018-09-17 09:01] tropappar commented on #10430
After some more testing I realized there are two ways to start the PX4 SITL simulation: Either using URDF models or using SDF models. Unfortunately, those two ways don't seem quite compatible. All the comments above are related to the URDF models. Simulation can be started using the launch file multi_uav_mavros_sitl.launch. For the SDF format, simulation can be started using the mavros_posix_sitl.

[2018-09-17 09:49] jinchengde opened #10495 "FW altitude control overshoot"
FW altitude change, there is overshoot control
![image](https://user-images.githubusercontent.com/5361334/45616312-9f4e2600-baa1-11e8-905a-d2a777287d56.png)

Looking at the pitch control, that is good for setpoint
![image](https://user-images.githubusercontent.com/5361334/45616361-cad11080-baa1-11e8-9a06-07bacbc0ccd5.png)

the log attach is
[Flight Review](https://logs.px4.io/plot_app?log=ba6fc1bf

[2018-09-17 10:24] dk7xe opened #10496 "NXPHlite - Drotek Sirius compass not support"
**Describe problem solved by the proposed feature**
For robodronerace mid of October in Rapperswil NXP hovergames drones will be used with NXPhlite und Drotek Sirius RTK GPS - https://drotek.com/shop/en/u-blox/856-sirius-gps.html
LIS3MDL magnetometer of Sirius GPS is not recognized by current FW in master for NXPhlite.

**Describe your preferred solution**
Enable support of LIS3MDL magnetometer

*

[2018-09-17 14:16] jarivanewijk opened #10498 "NXPhlite: Compass calibration broken"
When trying to calibrate the compass through QGroundControl (latest daily release), I get the following error on NXPhlite (rev B board):

Start the individual calibration steps by clicking one of the buttons to the left.
[cal] calibration started: 2 mag
[cal] Skipped scale calibration, sensor 1
Mag 1 (ID 5439506) no matching uORB devid
[cal] calibration failed: mag

I am using the latest commit to

[2018-09-17 15:54] MariliG commented on #10092
@acfloria do you have any input on the question above?

[2018-09-17 16:29] jannsta1 commented on #9554
In the firmware directory you can use: ```$ git checkout v1.7.3```.

Hoping the issue is resolved soon as I have other incompatibilities with v1.7.3.

[2018-09-17 16:46] mickey13 commented on #9554
I ended up building a ROS node in my simulation (Gazebo) package for starting instances of the latest PX4 firmware (so that I could use the latest version in my SITL setup):

    #include <ros/ros.h>
    #include <string>

    int main(int argc, char** argv) {
      ros::init(argc, argv, "px4_node");
      ros::NodeHandle rosNode;
      ros::Rate rosRate(10.0);
      std::string executable = "${CA

[2018-09-17 17:11] dagar commented on #10415
https://github.com/PX4/Firmware/pull/9448

[2018-09-17 17:40] Seeelefant commented on #10489
Hi Dan,
just investigated a little further.
First it´s a chinese clone board, so ver all gives
![image](https://user-images.githubusercontent.com/30323691/45639558-a3357480-bab0-11e8-9e1a-521a013f8ca6.png)
So it says the hardware is V2, whereas the MCU is rev.3. According to https://www.st.com/content/ccc/resource/technical/document/errata_sheet/38/e6/37/64/08/38/45/67/DM00068628.pdf/files/DM00068

[2018-09-17 17:43] Jacob12138xieyuan commented on #4213
I have same problem

[2018-09-17 17:57] dagar commented on #10489
If you upgrade the bootloader you should be good to go. With a slightly newer bootloader QGC flashing can detect the available flash and choose either px4fmu-v2 or px4fmu-v3.

Recently support was added for doing this on the board itself via parameter. https://github.com/PX4/Firmware/pull/10426
The other option is to build and flash the Bootloader yourself, but you need a jtag/swd debugger. https:

[2018-09-17 17:59] dagar commented on #10462
Fixed

[2018-09-17 17:59] #10462 closed

[2018-09-17 18:06] dagar commented on #9973
@Avysuarez your GPS was never very good in that flight. Which external unit are you using?

The vehicle never attained a valid local position, global position, or home position.

[2018-09-17 18:09] dagar commented on #4213
@Jacob12138xieyuan could you please open a new issue with your specific info? This one is over 2 years old and closed.

[2018-09-17 18:35] jukindle commented on #4760
Still the same issue here...

[2018-09-17 18:38] dagar commented on #9973
@Avysuarez you could try changing `COM_ARM_WO_GPS` to require valid global position because it lets you arm.

I would try a different GPS unit if you have one available.

[2018-09-17 18:42] Avysuarez commented on #9973
@dagar Ok, i'll try again

[2018-09-17 19:06] okalachev commented on #4760
For communication with PX4 I recommend using mavros or pymavlink.

[2018-09-17 19:34] Sidewinder1138 commented on #9318
Update: Mode 2 did end up working for me once I did the Radio setup/calibration and Flight Modes setup (didn't realize I needed to do that before).

[2018-09-17 20:16] Antiheavy commented on #10495
@RomanBapst @dagar I thought this was a know problem with FW altitude control?  We were able to reduce the overshoot effect slightly by adjusting the TECS tuning, but the pronounced overshoot is still there every time we have a large altitude change.

Here is one of our random flight logs as a reference:
https://review.px4.io/plot_app?log=7c1cf5af-38f4-4f05-8924-8a26f7ac16ac

[2018-09-17 20:28] lamping7 commented on #9554
What is the motivation for tightly-coupling PX4 within your ROS environment? I don't see an advantage to do this. This build system isn't actively supported for this project. Use PX4 as an independent node, launch with roslaunch, and build with the supported system. Is there a problem with the standard approach?

[2018-09-17 20:38] k2shah commented on #10430
Yes that's unfortunate, it's hard to pin down what uses the SDF and what uses the scripted UDRF generation. Seems like this is related to why my PR is failing Jenkins. @bkueng can you take a look and help me find what else the rcS file is used for? My guess is that the default ports are hard coded elsewhere too, not sure if i should go down the rabbit hole of changing all the port numbers.

I agre

[2018-09-17 20:44] mickey13 commented on #9554
My requirement (and I believe it's the same for others) is that I want to be able to run PX4 instances from my ROS workspace for each modeled UAV in my simulation environment.  I don't consider that requirement "tightly-coupling PX4 within your ROS environment", as I include other non-PX4 packages via wstool and build them with catkin.

Since PX4 cannot be built with catkin any longer, nor is ther

[2018-09-17 20:46] lamping7 commented on #9554
You sure can!

You just don't have your environment setup as described by the docs.

[2018-09-17 20:51] lamping7 commented on #9554
Thumb down because why? You haven't displayed a need for this and you're just wrong.

See the image:
![screenshot from 2018-09-17 16-49-52](https://user-images.githubusercontent.com/10533707/45649622-e0423c80-ba99-11e8-9e04-1d8d249024df.png)

[2018-09-17 23:55] tonight123 commented on #10434
ll40ls start pwm ，and I test pwm  Driver not found。

[2018-09-18 01:31] RR2-IP2 opened #10504 "Quadcopter PID Tuning"
Hi,

I am attempting to follow the [PX4 PID Tuning Guide](https://docs.px4.io/en/advanced_config/pid_tuning_guide_multicopter.html), however, I am not sure how to recreate the log plots shown in the guide.

The only plot even roughly close to this that I know how to get is using the Analyze widget in QGroundControl, but I don't know how to find the yaw/pitch/roll setpoint data.  Without the setpoi

[2018-09-18 02:15] jinchengde commented on #10495
@RomanBapst @dagar
I also test in SITL gazebo plane and it also have overshoot during automatic takeoff, here is the video for you reference
[SITL Gazebo Plane](https://youtu.be/U3nGcOyFCQw)

[2018-09-18 03:02] Daveuav opened #10505 "pixracer r15 compass issue"
After installing the 1.8.0 firmware on pixracer r15 with GPS u-Blox Neo-M8N Dual Compass LIS3MDL+ IST8310 I've always the preflight indicating mag0 failtest, and mag 1 failtest.  How i can solve it

[2018-09-18 06:25] dk7xe opened #10507 "NXPhlite - FW update via GQC does not work"
**Describe the bug**
FW update of NXPhlite is cancelled with error `Error: Sync: Send Command: Invalid sync response: 0xfe 0x3e`
![capture](https://user-images.githubusercontent.com/3907200/45667784-d280cb80-bb1a-11e8-81b6-06abf5b936ba.PNG)

**To Reproduce**
Steps to reproduce the behavior:
1. Start QGC and go to Firmware
2. plug NXPhlite in via USB
3. See error

**Expected behavior**
FW update pr

[2018-09-18 06:49] NadjaKaempf opened #10508 "Smart battery data not logged"
When looking at the battery data of different logs I realized that the smart battery specific data is not logged correctly.
Different entries ('capacity', 'cycle_count', 'serial_number', 'average_time_to_empty', 'run_time_to_empty') in 'battery_status' store an array of zeros.

The following log shows this behavior for example:
https://logs.px4.io/plot_app?log=d9bf3e69-ecc5-478c-8713-23581efa84ad

[2018-09-18 06:50] dk7xe commented on #10507
With latest QGC version db73c 2018-09-17 16:22:47 -0400 the error is
`Error: Sync: Send Command: Get Command Response: Timeout waiting for bytes to be available`
![capture](https://user-images.githubusercontent.com/3907200/45669273-d6631c80-bb1f-11e8-96a6-37c5a48237f1.PNG)

[2018-09-18 06:50] roseyangyu opened #10509 "open telem 1 to write data"
I want to open("ttyS1",O_RDWR | O_NOCTTY),but it is failed, I can't understand.but if it is ttyS3 and other that is success.and i send 0x0a to serial4/5,but it output 0x0d 0x0a.I don't want 0x0d,how should I do

[2018-09-18 06:51] roseyangyu commented on #10509
int fd= open("/dev/ttyS5",O_RDWR | O_NOCTTY);
            printf("fd = %d",fd);
            cmd_t cmd = {0x81,0x01,0x0a,0x10,0x00,0x32,0x03,0x01,0xFF};
            write(fd,(void *)&cmd,sizeof(cmd));

            close(fd);
 this is code

[2018-09-18 06:52] roseyangyu commented on #10509
It output 0x81 0x01 0x0d 0x0a...How should I do to cut out 0x0d?

[2018-09-18 06:58] roseyangyu commented on #10509
I have comment out the " mavlink start ${MAVLINK_F} " in rcs

[2018-09-18 06:59] roseyangyu commented on #10509
ttys1 and ttys2 all failed

[2018-09-18 07:02] dk7xe commented on #10496
Compass is working now. Thank you!
![capture](https://user-images.githubusercontent.com/3907200/45669815-740b1b80-bb21-11e8-9424-e50406158529.PNG)

[2018-09-18 07:07] dk7xe commented on #10469
It is working now with `ce31a4` from git.
![capture](https://user-images.githubusercontent.com/3907200/45670106-3b1f7680-bb22-11e8-9583-2566bc3ccf37.PNG)

[2018-09-18 07:31] bkueng commented on #10504
Hi Justin

The plots are from [flight review](http://review.px4.io), an online log analysis tool. See https://docs.px4.io/en/getting_started/flight_reporting.html.

[2018-09-18 08:12] #10469 closed

[2018-09-18 08:20] RR2-IP2 commented on #10504
Perfect, thank you @bkueng

[2018-09-18 08:28] researcher3 commented on #10092
The content of the `config.txt` is:
`param reset
param save`
I got the latest master with the built-in waiting time for the driver.
How much effort would it be to support `SYS_COMPANION` with Iridium 19200?

[2018-09-18 08:31] acfloria commented on #10092
Not too much from a programming side but a lot for in the testing and currently I don't have the time for that. But changing the baudrate on the module is quite easy to do.

[2018-09-18 08:51] bkueng commented on #10504
Closing it then.

[2018-09-18 08:51] #10504 closed

[2018-09-18 10:09] davids5 commented on #10496
Fixed in  #10500

[2018-09-18 10:09] #10496 closed

[2018-09-18 10:12] davids5 commented on #10453
Closed via #10454 and #10499

[2018-09-18 10:12] #10453 closed

[2018-09-18 13:09] MaEtUgR commented on #10098
@evgenee

No, like written just above: https://github.com/PX4/Firmware/issues/10098#issuecomment-412343339

Yes, it doesn't fully support all the named pipe calls introduced with the posix shell changes: #10173 . My pr #10371 aims to fix the startup script problem, please let me know if it works for you. You can read the detailed pr description, it states all my findings so far. I'll keep on debug

[2018-09-18 13:49] TSC21 opened #10510 "[vio-pipeline] Add Mavlink Odometry loopback"
**Related:** https://github.com/PX4/Firmware/pull/9895

**Purpose:** Similar to what is done with `VISION_POSITION_ESTIMATE` Mavlink message, implement an `ODOMETRY` Mavlink msg loopback.

**Concerns:** This loopback may serve two purposes:
1. Check the data that is being sent to the FCU - this data is received with the `frame_id` set as `MAV_FRAME_MOCAP_NED` or `MAV_FRAME_VISION_NED`, which means

[2018-09-18 13:51] TSC21 commented on #10510
@LorenzMeier, @dagar, @thomasgubler, @mhkabir, @ChristophTobler feedback welcomed. Thanks

[2018-09-18 14:04] TSC21 opened #10511 "[vio-pipeline] Add a SITL CI test for vision"
**Related:** https://github.com/PX4/Firmware/pull/9895

**Purpose:** Implement a Gazebo SITL test to run against CI for testing the VIO pipeline

**Concerns:** To consider:
1. Test vehicle behavior in a mission where the only input comes from an external visual odometry system. If the input is only a pose estimate, use `VISION_POSITION_ESTIMATE`. If it has velocity estimation as well, use `ODOMETR

[2018-09-18 14:19] TSC21 opened #10512 "[vio-pipeline] Add vision velocity estimation fusion to EKF2"
**Purpose:** Get full use of the odometry pipeline by adding linear and angular velocity fusion to EKF2.

**Concerns:** @priseborough maybe you want to add some details on how can this be achieved?

[2018-09-18 14:20] TSC21 commented on #10512
@mhkabir FYI.

[2018-09-18 14:36] dakejahl commented on #10508
You need to set **BAT_SOURCE** to `1`

[2018-09-18 14:41] dakejahl commented on #10508
Also, make sure you are starting the smart battery driver in your startup script.
e.g `batt_smbus -X start`
This will start the driver on PX4_I2C_BUS_EXPANSION.

[2018-09-18 14:42] TSC21 opened #10513 "[vio-pipeline] Add 'vehicle_lidar_odometry' alias to 'vehicle_odometry' uORB msg"
**Purpose:** Add a new external estimation input based on 360º/multidirectional lidar pose estimation/SLAM. This would be an input from a RTPS stream, or even from Mavlink. The idea is to fuse this as a new estimation/sensor source to feed into the estimator, which can be used together with a VIO input.

**Concerns:**
1. If the input comes from `ODOMETRY` Mavlink msg, then new `MAV_FRAME` entries

[2018-09-18 14:42] dakejahl commented on #10508
Currently it supports starting on PX4_I2C_BUS_EXPANSION and PX4_I2C_BUS_ONBOARD.
@dagar do I need to add options for other i2c buses depending on the hardware?

[2018-09-18 14:51] a6a3uh opened #10514 "Adding new rotation (SENS_BOARD_ROT) gives irrelevant orientation"
**Describe the bug**
As roll 90 yaw 270 orientation is missing for SENS_BOARD_ROT I added as per  this [commit](https://github.com/a6a3uh/Firmware/commit/6a0ddf1c72be9e46ce0cfebf7ec15e61776c4f89). And found resultant orientation irrelevant and even non orthogonal.

**To Reproduce**
Steps to reproduce the behavior:

To nail problem down I commented my code as you can see in the commit above and cop

[2018-09-18 15:02] a6a3uh commented on #10514
tested on **pixhawk 4** and **sitl_gazebo**.

[2018-09-18 16:24] #10098 closed, assigned to MaEtUgR

[2018-09-18 16:33] evgenee commented on #10098
Hi, @MaEtUgR,
Thanks for your contribution. I followed your PR, so it's working now.
May be you know whether there is native windows build of px4 for the sitl runs?
Thank you

[2018-09-18 16:55] dagar commented on #10508
For now I think we'll need to copy what other i2c drivers do (try all the buses). See the differential pressure sensors as an example.

As long as the driver can probe and fail gracefully (quickly) you can have it try to start everywhere by default. See rc.sensors for similar examples.

[2018-09-18 18:38] geevargs opened #10517 "Px4 SITL + QGC - critical navigation failure - check sensor calibration"
Every time I run PX4 SITL and send waypoint commands in QGC or using python api which get visualised using Airsim.
The connection to Airsim is established and it deos basic commands like Takeoff ,Landing,Hold,Loiter...
But when I try to execture waypoints or orbits,surveys gets
ERROR CRITICAL NAVIGATION FAILURE - CHECK SENSOR CALIBR

WARN Failsafe enabled: no local position
WARN Failsafe mode enab

[2018-09-18 19:09] adipandas commented on #10408
Hello @mhkabir can you please let me know how to use the fix you suggested [here](https://github.com/PX4/Firmware/issues/10408#issuecomment-420331821)?

[2018-09-18 19:48] mhkabir commented on #10408
Pull Firmware master, switch ECL branch to `pr-of-control-improvements` and build for your target.

[2018-09-18 21:06] Avysuarez commented on #9973
@dagar I tested again and the same issue, I waiting 5 minutes before take-off and the gps don't locked. I was change the GPS for one of cuav (ublox m8n).  I flew in stabilized and did respond to the radio and crashed!
https://review.px4.io/plot_app?log=0677d8ff-bb7f-4e68-925e-ed18c62ee2f8

[2018-09-18 22:27] bartslinger commented on #8814
I'm thinking about a concept of an event queue as a more generalized version of a work queue. The events get processed by an event processor, which executes the work in a callback. Until here, the result is similar to the work queue.

However, an event queue can also take uORB events. The event processor can invoke a call to the right module. This way we can pull multiple modules (that are now run

[2018-09-18 23:09] davids5 opened #10518 "logger Check assertion failure for other ramification."
**Describe the bug**

I found this on NXPHlite-v3 while debugging hardfaults.

**Assertion failed at file:semaphore/sem_holder.c line: 915 task: logger**

This needs to be checked, it may be nothing because there is a reboot.

![image](https://user-images.githubusercontent.com/1945821/45721254-2e1f7900-bb5c-11e8-875f-42ffdfccf52f.png)

**To Reproduce**
1. Enable CONFIG_DEBUG_FEATURES and CONFIG_DE

[2018-09-18 23:29] davids5 commented on #10518
These needed removal to test as they art overzealous
[code]

[2018-09-18 23:43] dagar commented on #8814
Minor update, but I believe we straightened out many of the priorities (https://github.com/PX4/Firmware/blob/master/src/platforms/px4_tasks.h) after following up with that AeroVinci PX4 blog post (http://px4.io/aerovinci-scalable-flexible-dronedock-system/).

[2018-09-18 23:45] hamishwillee commented on #10098
@MaEtUgR evgenee

I use tagged release 1.8.0

[2018-09-18 23:46] dagar commented on #10495
@priseborough any suggestions?

[2018-09-18 23:50] hamishwillee commented on #8938
@QuimItarte This issue was closed. Suggest you repost a new issue with information about your setup. - what OS you are running on, what installation instructions you followed (generally for Linux I use the [scripts here](http://dev.px4.io/en/setup/dev_env_linux.html).

[2018-09-19 00:36] priseborough commented on #9869
This will require an understanding of the limitations of the estimator, TECS and air data failure modes. The solution will likely require changes in multiple modules.

[2018-09-19 00:46] priseborough commented on #9869
Replay logs are good to understand how the errors are affecting the estimator. However because detection will change flight vehicle response and therefore sensor data, developing a representation of these failure modes in SITL is also required and should be the first activity.

[2018-09-19 02:25] dagar opened #10521 "mpu9250 in px4fmu-v2"
Do we support any px4fmu-v2 derivatives that have an mpu9250 and can't be "upgraded" to px4fmu-v3 (bootloader update)?

Unless there's a good example I propose we disable the mpu9250 in px4fmu-v2 to save about 11 kB of flash and find a way to painlessly get any affected users through the bootloader update (QGC prompt to set SYS_BL_UPDATE).

https://github.com/PX4/Firmware/pull/10355#issuecomment-4

[2018-09-19 02:33] priseborough commented on #10284
Can't complete yet. The required PX4/ecl PR
https://github.com/PX4/ecl/pull/49 7has been approved and merged. However the PX4/Firmware PR https://github.com/PX4/Firmware/pull/10355 has run into the recurring problem with insufficient flash memory for the px4fmu-v2 target and is awaiting merging of a couple of PR's that have been submitted to reclaim some flash space.

[2018-09-19 06:42] a6a3uh commented on #10514
My bad. I've missed that. I'll test it hope this will solve my issue.
Still `standard_vtol` behaviour in SITL is strange. As it outputs acceleration X = g with Roll 270 Yaw 270. While correct behaviour is Y = g like `iris` shows. But this is probably an issue for `sitl_gazebo` project.

[2018-09-19 06:52] TSC21 commented on #10514
That's not an issue on `sitl_gazebo`. It has to be with the coordinate frame of reference and it is well documented.

[2018-09-19 07:06] a6a3uh commented on #10514
Dear Nuno Marques. Kindly could you pls point me to what I'm missing while setting rotation for `standard_vtol`?

I tried to apply the same rotation roll 270 yaw 270 for both `iris` and `standard_vtol` models as you can see in [this](https://github.com/a6a3uh/sitl_gazebo/commit/7be651bd8061c2cecbbd353417a460748884f99d) commit. And get correct behavior with `iris` model while `standard_vtol` shows

[2018-09-19 07:57] bkueng commented on #10518
A quick code inspection did not reveal anything: waiting threads are woken up and stopped before a semaphore/mutex is destroyed.
Could it be that you ran in a timeout due to the debugging?

[2018-09-19 08:04] bkueng commented on #10521
I don't know of any boards.
Now that we have the BL update we can also start thinking about removing the VTOL modules for example.

[2018-09-19 09:19] davids5 commented on #10521
RE: bootloader update:
The bootloader for fmuv3 and fmuv2 are **now** EXACTLY the same. @LorenzMeier created the V3 bootloader build to avoid the "Where the V3 bootloader question" Originally it did not do the silicon check, but it does now.

[2018-09-19 09:43] thomasgubler commented on #10510
@bkueng can you please share your thoughts here regarding the proposed new message flow?

[2018-09-19 09:51] davids5 commented on #10518
@bkueng - Thanks for looking.

I do not think so. I can have a closer look after I figure out the hard fault from hell!

[2018-09-19 12:20] evgenee commented on #10098
Thank you @hamishwillee, @MaEtUgR

Can you be please more specific about native windows build in 1.8.0. I didn't find something related to this in github...
Thanks.

[2018-09-19 12:33] a6a3uh commented on #10514
Also [enum](https://github.com/PX4/Firmware/blob/a5d5d5e38ea946abce254c2f2886307a76f907a9/src/lib/conversion/rotation.h#L51) with possible rotations `SENS_BOARD_ROT` in `px4` uses the same orientations from 0 up to 25 as `mavlink`'s [MAV_SENSOR_ORIENTATION](https://github.com/mavlink/c_library_v2/blob/d8fcf0a694dc11b3f83b89a0970e3d8c4e48d418/common/common.h#L789). Starting from 26 rotations are di

[2018-09-19 13:12] a6a3uh commented on #10514
[Implemented](https://github.com/a6a3uh/Firmware/commit/7ca2191401898502a6487d9cdc4cd9c9ebb7dfe5) and tested with real hardware. All is working fine now. Thanks a lot! [Tested](https://github.com/a6a3uh/sitl_gazebo/commit/d993efe850b957f83a87bee59bbd131b920a7081) as well with `sitl_gazebo`. `iris`model is working well with rotated IMU.

[2018-09-19 14:53] dagar commented on #8814
Absolutely!

[2018-09-19 16:01] RomanBapst opened #10529 "Make a pass over SITL sensor pipeline and tune models"
- [ ] delta_wing
 - [ ] iris
 - [ ] iris_fpv_cam
 - [ ] iris_irlock
 - [ ] iris_opt_flow
 - [ ] iris_rplidar
 - [ ] iris_vision
 - [ ] matrice_100
 - [ ] matrice_100_opt_flow
 - [ ] plane
 - [ ] polaris_ranger_ev
 - [ ] rover
 - [ ] solo
 - [ ] standard_vtol
 - [ ] tailsitter
 - [ ] tiltrotor
 - [ ] typhoon_h480

[2018-09-19 17:55] billzyoom commented on #9738
Holybro sent a new board but didn't ask for the old board back. If you provide a shipping address, I will send it over.

[2018-09-19 18:04] dagar commented on #10529
https://github.com/PX4/Firmware/commits/pr-jenkins_sitl_models

 - typhoon_h480 working
 - delta_wing badly broken
 - iris_opt_flow needs more thought

![image](https://user-images.githubusercontent.com/84712/45772095-dabd3180-bc14-11e8-9e8f-c4a23fd0da67.png)

[2018-09-19 18:32] dagar commented on #10510
Publishing another vehicle_odometry only for mavlink isn't necessarily a problem.

[2018-09-19 20:17] mhkabir commented on #9738
FWIW, I had this same issue, and it turns out that my board had hardfaulted (due to driver development I was doing), and then it got "stuck" waiting for keyboard input on the console to clear the hardfault.

The fault wouldn't/didn't clear itself over multiple reboots, leading to a "bricked" board. I needed to solder on a console and manually clear the fault.

FYI @dagar @davids5

[2018-09-19 23:06] TSC21 commented on #10510
@dagar I was trying to analyse it in terms of system overhead.

[2018-09-20 00:27] dagar commented on #10510
It depends on the full usage. Publishing a message really isn't very expensive (a couple hundred bytes of memory total orb overhead + last publish). The issue is if it's logged, at what rate, other modules that use it at all, other modules that poll it, etc.

For example that's why in the initial PR where core messages like vehicle_attitude and vehicle_local_position grew was problematic. There ar

[2018-09-20 03:34] #10485 closed

[2018-09-20 03:35] #10296 closed

[2018-09-20 03:35] #10204 closed

[2018-09-20 07:43] bkueng commented on #10510
That's still relevant as it keeps adding overhead to the base system. Not necessarily relevant for this single case, but over time, which is why we hit the RAM limit from time to time.

In this case I'm ok with `vehicle_odometry`.

[2018-09-20 10:42] raptorrex6 commented on #10429
For now I am using an older version of the px_uploader.py script and it works fine.
I use this

https://github.com/PX4/Firmware/blob/11d4c32cd42ab47394e039d9acc05960da6c1332/Tools/px_uploader.py

piece of code specificaly, just copied it into Firmware/Tools/px_uploader.py.
I assume there should be a real fix with the updated version.

[2018-09-20 11:30] MaEtUgR commented on #10429
I can confirm, the uploader seems broken on master 😞

That's a good workaround but it needs to be fixed. If someone finds the problem I appreciate any help. I'll look into it as soon as possible...

[2018-09-20 13:05] MaEtUgR commented on #10429
JFYI There was already a maybe hard to find issue by me because I had the same problem: #10375
The windows toolchain project is here: https://github.com/orgs/PX4/projects/6

[2018-09-20 13:06] MaEtUgR commented on #10375
Closing because there's a duplicate with a better description now here: #10429

[2018-09-20 13:06] #10375 closed

[2018-09-20 13:32] MaEtUgR commented on #9866
@bkueng Does this persist or can we close?

[2018-09-20 13:59] TSC21 commented on #10510
Thanks for the feedback! I will implement the `vehicle_odometry` approach then. It will also be directly used on the RTPS stream, so I think it's a good approach.

[2018-09-20 16:34] petrlmat opened #10536 "Sporadic mid-air tip over crash"
**Describe the bug**
Our DJI F550 drone is equipped with Pixhawk mini  FW 1.8.0. We have a custom localization-navigation-control pipeline running on an onboard NUC computer. Our workflow involves a safety pilot holding the RC, prepared to switch from offboard mode to manual and land the drone safely in case of glitches in our pipeline. We are using this setup for over 2  years, and so far we were

[2018-09-21 06:09] RomanBapst commented on #10529
Some issues I noticed:
- tailsitter in the CI mission does the transition and goes back to the previous waypoint before navigating to the landing waypoint -> tests times out because it takes too long
- innovation check often fail for fw tests, because of the impact resulting from ground contact during landing
- generally innovations become quite large during transitions -> during a transition ther

[2018-09-21 09:56] RomanBapst commented on #10529
@dagar So one sure cause for the failures we see is the fact that the position controller (ever since flight task was merged) is totally unaware of any VTOL related stuff. That means that setpoints are not reset properly after a transition. We need to discuss how a flighttask should support transitions.
The tailsitter failure which happens regularly is actually because after the backtransition the

[2018-09-21 10:05] RomanBapst commented on #10529
@dagar This is another interesting one. It seems like the vehicle is never able to reach the 2. last waypoint and as a result it keeps circling around it forever.
This could be a real issue. Generally the mission in the CI is very small.
![image](https://user-images.githubusercontent.com/7610489/45874859-4084f700-bd96-11e8-82ab-a4a2ff51415b.png)

[2018-09-21 10:32] pbafff opened #10537 "Undefined reference preventing cross compiling"
I'm trying to cross compile on Ubuntu 18.04 for the BeagleBone Blue. The process almost completes but fails due to the error :
```src/lib/DriverFramework/framework/src/libdf_driver_framework.a(I2CDevObj.cpp.o): In function `DriverFramework::I2CDevObj::_readReg(unsigned char, unsigned char*, unsigned int)':
/home/andre/Firmware/build/posix_bbblue_cross/../../src/lib/DriverFramework/framework/src/I2

[2018-09-21 12:41] ksschwabe opened #10538 "Feature request: UART TX DMA"
Currently it looks like there is only UART DMA on the RX line.

We were trying to implement a "fast" file transfer via UART to a UART to Ethernet bridge and discovered that we were running into CPU usage issues. It looks to us that only the UART RX makes use of DMA. It should be a lot more computationally efficient to make use of the UART TX DMA as well for sending of large files.

Perhaps @dagar

[2018-09-21 14:14] RomanBapst opened #10539 "Make the MC Position Controller transition aware"
**Description**
Multicopter position controller ignores VTOL transitions. This is a problem because position setpoints after a transition do not get reset and as a result the vehicle will navigate back into the direction of the last waypoint before continuing.
Furthermore, when the vehicle is in fixed wing mode there should not be any flighttask running.

@MaEtUgR @Stifael What's the best way to m

[2018-09-21 14:21] mhkabir commented on #10538
@bkueng @davids5

[2018-09-21 14:38] davids5 commented on #10538
The issue is the DMA on the stm32 is to make up for a lack of RX FIFO in HW.
First Question is:If there are HW DMA resources available.
Then adding the same for the TX side will help so a point. But the real win is streaming DMA. This is only partially (incomplete) in Nuttx and would need some significant development effort.

[2018-09-21 15:19] LorenzMeier commented on #10189
Update on this: @bkueng is starting to look into it.

[2018-09-21 17:28] Antiheavy commented on #10189
Here are some more thoughts on requirements/desirements from my perspective.

I put the need for this into 2 categories:

1. Image geotagging after flight
2. Quick and simple event log for extracting: flight statistics, system status changes (sensors, estimator, flight modes, etc), user comands

If the log contains both categories of information, the Geotagging tool (e.g. the one in QGC) will need

[2018-09-21 19:06] k2shah commented on #10430
@tropappar a fix has been pushed. Can close on this?  Thanks to @bkueng  for getting this resolved so quickly!

[2018-09-21 21:49] davids5 commented on #10315
Closed via https://github.com/PX4/Firmware/commit/d2faf5f31d2fbfc4466a5e2c885c2fd445b9861d

[2018-09-21 21:49] #10315 closed

[2018-09-21 21:53] davids5 commented on #10419
@dk7xe this fied the QGC connected hardfault:
https://github.com/PX4/Firmware/commit/d2faf5f31d2fbfc4466a5e2c885c2fd445b9861d

This fixed the I2C related hardfault:
https://github.com/PX4/Firmware/pull/10460/commits/b8bc8151ce398ba4a6b04f5c134be31f95c8ce54

Please retest  current master and see if this has been resolved.

[2018-09-21 23:52] tubeme commented on #10189
@Antiheavy Very accurate description thanks. I could give some ideas on top.

Information Formatting for Pix4D
-------------------------------------

Here is what we need for the Pix4D.

![image](https://user-images.githubusercontent.com/12617619/45909565-21747c80-be0b-11e8-87a8-7e7700eb6740.png)

Omega,Phi,Kappa are the oriantation angle of the camera lens plane.

![image](https://user-images.git

[2018-09-21 23:54] tubeme commented on #10189
Sorry something happen with one of the images:

![image](https://user-images.githubusercontent.com/12617619/45910565-da8a8500-be12-11e8-878e-d47a741aa3dc.png)

[2018-09-22 00:13] tubeme commented on #10189
@Antiheavy GPS time and Date are not needed for the matched images in the generated csv file from the parser. because the Pix4D anly wants to see the coordinates of the image. The time and date is used during the parsing process to match real precision trigger timing to image camera captured timing.

[2018-09-22 00:29] tubeme commented on #10189
Thanks @LorenzMeier

[2018-09-22 09:15] icoblue opened #10546 "Error building Copter: uavcangen returned 1 error code"
**Been trying to find a way to build on Windows for three days now and so far none of the dev wiki documentation or any of the videos or any of the tutorials help. I am building using Cygwin and pixhawk toolchain.

I have made it all the way to a valid configure, with results as below:**

_XYZ@DESKTOP-XYZ36E4 /cygdrive/d/ardupilot
$ ./waf configure --board px4-v2
Setting top to

[2018-09-22 10:13] proficnc commented on #10546
Your trying to build Ardupilot....
Maybe ask for assistance on the ardupilot forums?

[2018-09-22 10:14] #10546 closed

[2018-09-22 14:21] fredowski opened #10547 "FW: Wrong yaw setpoint during climbout after handlaunch in mission mode"
I used firmware version 1.7.3 for flying an X-UAV Mini Talon in mission mode with hand launch. I tried to analyze some strange roll behavior during takeoff which I did not understand. I analyzed the logfile and found some very strange yaw setpoint behaviour which results in 15° maximum roll setpoint during climbout. After the climbout mode is left at 40m altitude the obviously correct yaw setpoint

[2018-09-22 15:51] igalloway commented on #9973
@avysuarez replacement units sent

[2018-09-22 16:13] tubeme commented on #10521
We have such a board! awav/mro X2.1 arhitechture is v2+ mpu9250. But I think there could be some optimization. Can we put the v3 bootloader to our board?

We still have this pending https://github.com/PX4/Firmware/pull/8138, with regard to the boot scripts.

[2018-09-22 16:16] tubeme commented on #10539
We've had this "navigate back into the direction of the last waypoint before continuing." on couple of occasions. So good idea to make some changes here.

[2018-09-22 20:49] adipandas commented on #5809
In this case how to send the velocity setpoint? Should I use the following topic: `/mavros/setpoint_velocity/cmd_vel`?

I am confused with the body frame and Local NED frame explanation provided [here](https://github.com/PX4/Firmware/issues/5809#issuecomment-258676420).

@mhkabir @mzahana By [this](https://github.com/PX4/Firmware/issues/5809#issuecomment-258676420) does it mean in gps/mocap denied

[2018-09-22 21:17] Seeelefant opened #10549 "Trying to start WIFI connection on TELEM1 does not work"
**Describe the bug**
A clear and concise description of the bug.

**To Reproduce**
I am trying to establish a WIFI conenction on TELEM1 (being miy high power port) port via entering
`mavlink start -d /dev/ttyS1 -b 921600 -m onboard -r 80000 -x -f`
in the NSH terminal.

However I get no changes
![image](https://user-images.githubusercontent.com/30323691/45921827-6f49bd00-bebd-11e8-9d0c-4e4e8dea64eb

[2018-09-23 03:10] dakejahl commented on #10415
Was this resolved? I am actually curious about what is going on here.

[2018-09-23 05:58] pbafff commented on #10537
Tried to compile on the Beagle itself and ran into the same error.

[2018-09-23 08:14] bartslinger commented on #10549
TELEM1 is not necessarily the same as ttyS1. ttyS1 is already in use, as you can see in your mavlink status.

[2018-09-23 08:29] Seeelefant commented on #10549
Hi Bart, thanks for your answer. Is there any method to find this assigment (table etc.) or is the truth only in the sources?

[2018-09-23 09:00] bartslinger commented on #10549
Actually in this case TELEM1 is ttyS1, but that port is already in use by another mavlink instance. You could change this line to make it work for fmuv2/v3 https://github.com/PX4/Firmware/blob/master/ROMFS/px4fmu_common/init.d/rc.mavlink#L56

[2018-09-23 10:10] Seeelefant commented on #10549
Hi Bart,  thanks that helped a lot. I resolved in a slightly different way. I put
`
\# Stop MAVLink
mavlink stop-all

\# Start MAVLink
mavlink start -r 800000 -d /dev/ttyACM0 -m config -x
mavlink start -d /dev/ttyS1 -b 921600 -r 20000`
`

into /fs/microsd/etc/extras.txt and it worked. Shouldn´t we have an easier possibility to change baudrates in PX4 without the need for a PhD in rocket science? I

[2018-09-23 14:05] dagar commented on #10539
I see a spectrum of options here.

1. One possible way out of this I'd like to explore is moving away from the VTOL state being this orthogonal state expected to work during any mode at any time. Instead we could think about handling it as something more like a position setpoint type. This would provide all the necessary structure for moving in and out of transitions cleanly. The actual commands c

[2018-09-23 15:29] MaEtUgR commented on #10271
Closing because it's now in version 0.4: https://github.com/PX4/Devguide/pull/614

[2018-09-23 15:29] #10271 closed

[2018-09-23 18:37] MaEtUgR commented on #10429
So https://github.com/PX4/Firmware/commit/57c7e1a3eb23b12010daecdf6543d9a9c38aac6c#diff-25f54baafa76ba3cdb603067311ad2c0 attempted to prevent some windowed upload mode intended for FTDI UART connections to not be used over USB. On Cygwin it caused exactly the opposite and window mode afterwards gets used over USB which results in 4+ times the upload time (Pixhawk 4 with current master 39s -> 167s)

[2018-09-23 19:30] MaEtUgR commented on #10429
https://github.com/PX4/Firmware/blob/master/Tools/px_uploader.py#L339 sets some odd baudrate and I don't know why but on Cygwin that line does something strange:
- Execution stops at the line, the next one is not executed anymore
- try: except: does not catch it
- Execution still continues, there's no error on the terminal
I did not yet find out where exactly it jumps but the outer loop testing di

[2018-09-23 19:42] fredowski commented on #10547
I think I found the problem... The takeoff waypoint is only about 60m away from the launch point and the takeoff point is passed at 1:09:50 before the altitude was reached. It seems that during climbout the next waypoint is not selected - so the update happens when climbout is finished. I guess this does not happen when the takeoff waypoint is sufficiently far away such that the climbout is finish

[2018-09-23 19:42] #10547 closed

[2018-09-24 08:29] bkueng commented on #10549
Haha, it's coming: https://github.com/PX4/Firmware/pull/10337.

Closing this then.

[2018-09-24 08:29] #10549 closed

[2018-09-24 09:50] bkueng commented on #10521
@tubeme you can update the BL, instructions are here: https://docs.px4.io/en/advanced_config/bootloader_update.html, and then check if you can flash the v3 target.

[2018-09-24 09:58] bkueng opened #10555 "Flight tasks: in-flight param change not working for some params"
I noticed that when I changed `MPC_TILTMAX_AIR` it did not get applied immediately, but only after changing flight tasks (flight mode).
It's set in [here](https://github.com/PX4/Firmware/blob/master/src/lib/FlightTasks/tasks/FlightTask/FlightTask.cpp#L153), and I think it affects all of these params.

@Stifael @MaEtUgR can you look into this?

[2018-09-24 11:59] dk7xe commented on #10419
Hi @davids5, i did an succesful testflight this morning. Other than with previous version even position hold was working.

[2018-09-24 12:00] #10419 closed

[2018-09-24 12:49] tubeme commented on #10521
Thanks @bkueng I have a problem following this manual. My board is AUAV X2.1 and in the master firmware there is no SYS_BL_UPDATE. Is there a BIN version somewhere so I can flash with JTAG? The chip is  STM32F427 Cortex M4 with FPU
168 MHz/256 KB RAM/2 MB Flash so for sure it has 2MB flash.

[2018-09-24 13:01] bkueng commented on #10521
Ah I see. The AUAV X2.1 has a different build target and thus is not affected by this.

[2018-09-24 13:11] tubeme commented on #10521
Yes and ur chip is rev.3 so the new bootloader should work.

[2018-09-24 14:52] tubeme commented on #10539
@dagar @Stifael  Important notes on this change because it might lead to fundamental changes in the transition. And the transition is very stable now so we should touch with extreme caution.

About p.2 Up to the end of transition in case no airspeed sensor or up to reaching transition airspeed VT_ARSP_TRANS, the MC should handle most of the attitude, altitude and position control, because there is

[2018-09-24 15:08] davids5 commented on #10521
AUAV X2.1 has its own bootloader. https://github.com/PX4/Bootloader - do not use the V2 or V3 bootloader on the AUAV X2.1. The AUAV X2.1 is not compatible with FMUv2 it has hardware differences that will cause the board not to function (inputs on V2 are used as outputs on the X2.1) So you must uses the correct bootloader so it loads the correct FW.

See https://docs.px4.io/en/flight_controller/mro

[2018-09-24 20:01] MaEtUgR commented on #10429
@davids5 Thanks for your response! If I hardcode `self.port.baudrate = 110` it all runs through like expected (no windowed mode on USB) but I don't have a way to test if flashing over UART is detected correctly. I assume that's what you meant with "retest on linux". I can test on linux tomorrow but how do I evaluate UART being detected correctly?

---

I have to take that back, I couldn't believe

[2018-09-24 21:38] UAV-Pilot commented on #10537
@pbafff  I thought I documented necessary steps on: https://docs.px4.io/en/flight_controller/beaglebone_blue.html. If one follows those steps, and still encounters issues, then I might have missed something. Anyway, did you follow the steps in the above page?

[2018-09-24 21:45] davids5 commented on #10429
@MaEtUgR -

Yes to some degree. The magic is that on a USB the CDC ACM driver the buadrate does not have any effect. This is because the data is never converted to NRZ data again. It would be on a USB to serial cable, but not on a CDCACM device. The change baudrate command just tells the target there is the new rate. But none of that affects the speed. On real serial port the target is typically s

[2018-09-24 21:50] davids5 commented on #10429
You build the V5 bootloader with 1 mbps and connect a FTDI cable to the telem 1. Then windowed mode should be used, switch to USB and non windowed mode should be used.

[2018-09-24 22:32] bartslinger commented on #8814
I'm working on something that's going to look a bit like this. It is a work queue which can be linked to uORB topics.

First of all, uORB is extended to support callbacks on publications:
`orb_register_callback_multi(ORB_ID(vehicle_rates_setpoint), 0, my_callback);`

But actually this is going to be encapsulated by the work queue client, which will behave something like this:
[code]

In the backgr

[2018-09-24 22:45] Tony3dr commented on #9973
@igalloway can you please share the tracking info? Thanks.

[2018-09-25 01:07] adipandas opened #10559 "Not able to give attitude setpoint to pixhawk in offboard mode SITL IRIS."

[2018-09-25 05:51] bkueng commented on #8814
In which context is this going to be called? On the publishing task? If so, you defeat the purpose of uORB - passing messages to different tasks. If on the calling task you're going to need an event loop (which is what we do with poll()).

Otherwise I like the concept of a general work queue if we can get an efficient implementation.

[2018-09-25 07:29] bkueng commented on #8814
I'm not sure if you want to build that into uorb then or just add that into the work queue (since it's a specific use-case). But let's see.
Did you consider using `poll` in the work queue? Basically poll on all interested topics with a poll timeout for the next scheduled time-based event (if there is any). And do a `usleep` if there are no topics to wait for.

[2018-09-25 08:45] bkueng opened #10561 "Flight Tasks: velocity & attitude setpoints in Acro"
When flying master in acro I noticed that there are non-zero attitude setpoints in acro mode (but it looks like it only happens when I switched to stabilized and then back to acro). The same happens with velocity setpoints.
Similar in stabilized mode: there are velocity setpoints published.

@MaEtUgR @Stifael is this expected?

Here are 2 logs that illustrate the behavior:
- https://logs.px4.io/pl

[2018-09-25 11:47] DanielePettenuzzo commented on #10058
@priseborough I took a few more logs in which we changed the shielding on the baro. I went from no shielding at all to shielding with thick foam and taping most holes on the pixhawk with tape.

no foam: https://review.px4.io/plot_app?log=0b0a4f78-abf8-455c-b3ae-3b8ed4719741
original foam: https://review.px4.io/plot_app?log=aa6c5c8d-5c49-4f3e-a145-f875e2adf51a
thicker/more dense foam: https://revie

[2018-09-25 12:51] dagar commented on #8814
The idea is that you want to register something such that every orb publish results in a work item being added to the queue. We can register it once (module "start") and skip every cycle doing the poll setup, poll teardown, locking, etc.

The goal is to be able to use it for inherently serialized processes with minimal latency. For example the rate controller and output module (mixing + pwm) could

[2018-09-26 00:03] sparky002 commented on #10434
It seems the ardupilot forums have a head start into supporting the LIDAR_LITE_v3HP.
Just wanted to bring this to light to potentially help reduce duplicate work on this modification for px4.

https://discuss.ardupilot.org/t/add-support-for-lidar-lite-v3hp-tested-on-pocketpilot/31291

https://github.com/ArduPilot/ardupilot/pull/9169

[2018-09-26 00:49] gianni-carbone opened #10569 "Benewake TFmini laser rangefinder reports abnormal height when signal strenght is below minimum threshold"
Rangefinder TFmini driver reports 655 meters above ground in some circumstances.
The problem occurs when the sensor detects a signal strenght below minimum threshold (default 20).
In this case the data message meets the device specification returning height 0xFFFF corresponding to 655 meters above ground. _The device specifications say, when the signal strenght is below minimum threshold, the low

[2018-09-26 01:54] mhkabir commented on #10569
Please do a PR, thanks a lot!

[2018-09-26 06:09] bkueng commented on #8814
Ok sounds interesting. On the critical path we have 2 task switches that minimally take 31us each. The control latency is 215us on the bench, so we could save a bit there, assuming the work-queue implementation is efficient.
Looking at a recent log (pixracer) the control latency is 483us on average, which I thought was lower at some point.

[2018-09-26 07:15] thomasgubler commented on #10058
@DanielePettenuzzo @RicardoM17 can you add pictures of the setup for Paul?

[2018-09-26 07:16] thomasgubler commented on #10058
@DanielePettenuzzo @RicardoM17 this is with the PH4 mini. But the behavior with the PH4 was the same. Correct? Do we have logs from PH4?

Do we have logs with range finder and starting from boot for replay?

[2018-09-26 07:29] DanielePettenuzzo commented on #10058
These 4 logs are with a normal PH4 (not mini). For some reason the range finder did not start. We can take more with the range finder.

By the way these logs were taken with SDLOG_MODE set to 1, which is log from boot.

[2018-09-26 09:09] RicardoM17 commented on #10058
Here are the pictures of the setup used. Frame is the DJI S500 and we used foams with different thickness (we had to open the Pixhawk everytime). No pictures of the "duct tape cover" but it wrapped the pixhawk all around.

![img_3528](https://user-images.githubusercontent.com/11491719/46069685-5884be00-c17c-11e8-9b44-90bb3e9237af.JPG)
![img_3527](https://user-images.githubusercontent.com/11491719/

[2018-09-26 12:33] mijarck opened #10571 "Bug in FrSky SBUS failsafe"
As reported already here the "no pulses" failsafe of FrSky receivers like X8R has a random issue where failsafe flag of the SBUS frame is cleared but data values of some channels show 0 instead of correct channel value

https://github.com/ArduPilot/ardupilot/issues/9400

Steps to reproduce the behavior:
- Hopefully by switching off and on the transmitter enough many times and checking the SBUS fra

[2018-09-26 13:10] LorenzMeier opened #10572 "QGC need to update the PX4 Driver for PID/VID @Lorenz"
This is updating the "px4 driver" directory px4fmu.inf file adding ", USB\VID_1FC9&PID_001C" to line 88 an 91

[2018-09-26 13:11] LorenzMeier commented on #10572
Duplicate of #10507 - closing.

[2018-09-26 13:11] #10572 closed

[2018-09-26 13:17] LorenzMeier commented on #10507
This needs to be in the px4driver.msi which needs to be signed - but we don't have the tooling for that in the repo. We will need to re-create that.

[2018-09-26 13:19] LorenzMeier commented on #10507
Starting point: https://docs.microsoft.com/en-us/windows/desktop/msi/windows-installer-examples

[2018-09-26 15:14] thomasgubler opened #10575 "Trajectory Generator"
Initial investigation and algorithm prototype is done here: https://github.com/Auterion/trajectory_generator

First discussions on dev call 2018-09-26

[2018-09-26 15:32] thomasgubler opened #10576 "Image Trigger Capture Time Measurement Design"
As discussed in the dev call, lets use this issue to sort out the different discussions.
@DanielePettenuzzo @m0oz @davids5  please list your requirements and thoughts

Related:
https://github.com/PX4/Firmware/pull/10295

[2018-09-26 15:44] sanderux commented on #10576
check if this is filled: https://mavlink.io/en/messages/common.html#CAMERA_TRIGGER

[2018-09-26 15:47] thomasgubler commented on #10539
![4d85d17132408654f6fa139600a9c2ee5bc75ff4_1_569x500](https://user-images.githubusercontent.com/1419479/46091997-327b1000-c1b4-11e8-8674-7940e7eaccc0.jpg)

[2018-09-26 15:51] sanderux commented on #10539
Should be located here: https://github.com/PX4/Firmware/blob/master/src/modules/navigator/mission.cpp#L818-L848

Last known working as far i know https://github.com/PX4/Firmware/tree/DQRC12F

[2018-09-26 16:03] bresch commented on #10575
From @MaEtUgR :

It would be probably best if you could add your calculations in a C++ library class in the same way.
Here's the call to the library then for the manual position controlled smoothed flight: https://github.com/PX4/Firmware/blob/master/src/lib/FlightTasks/tasks/ManualPositionSmooth/FlightTaskManualPositionSmooth.cpp#L55-L64

[2018-09-26 16:05] guy-at-ttt opened #10577 "Frsky not detected on mRobotics x2.1"
I am not able to get past the radio calibration on QGC. I keep getting a "Detected 0 radio channels. To operate PX4, you need at least 5 channels" on an mRobotics X2.1 ver 2 and FrSKY X4R-SB receiver. My receiver is bound to a Taranis X9D Plus, and I have the receiver connected to Telemetry 2 (UART 3/Serial 2) pins on mRo x2.1 via SBus (from receiver X4R-SB going to U3Rx pin on mRo).

I see these

[2018-09-26 19:34] #10342 closed

[2018-09-26 20:30] davids5 commented on #10034
@DanielePettenuzzo - see LEDs are fixed here https://github.com/PX4/Firmware/pull/10579
PWR is on solid and ACT indicates the arm state.

[2018-09-26 20:32] davids5 commented on #10034
@DanielePettenuzzo the SYS_USE_IO is here https://github.com/PX4/Firmware/pull/10580

[2018-09-26 20:39] davids5 commented on #10034
@DanielePettenuzzo / @PX4/testflights - do you have FMUv5mini RC05?

Please cross test that

Leds is fixed
SYS IO set ok.

This should have been fixed in master when the tone_alarm/tune control came in.

(rebase the PRs into one to test)

[2018-09-26 20:43] guy-at-ttt commented on #10577
I had a wiring issue. My receiver and mRo work as expected.
But I still have the problem with PuTTY though.

[2018-09-26 20:43] #10577 closed

[2018-09-26 20:54] davids5 commented on #10034
Bug fix fmu hard fault on pwm info was in b578419e0950994b4e0a002362e294b3fc74fca6

[2018-09-26 21:03] DanielePettenuzzo commented on #10034
@davids5 yes I have the RC05. I can test these.

[2018-09-26 21:41] bartslinger commented on #10328
Bebop 2 runs busybox which apparently has ash shell by default, I don't which version.

[2018-09-26 22:05] davids5 commented on #10576
I reviewed fmu v5 - the capture on FMU_CAP1-FMU_CAP3 and TIM5_SPARE_4 are not supported in the code base as of yet. So this set of requirements is timely. As is https://github.com/PX4/Firmware/pull/10534

Depending on the requirements, we should consider the following on V5.

1. Treating the capture channels as capture only.
   This may require extending the table size MAX_IO_TIMERS and MAX_TIMER_

[2018-09-27 00:39] Heojongbeom opened #10581 "EKF2 external vision, yaw divergence issue"
I use EKF2 estimator with external vision input(MOCAP or msf vision pose).
But sometimes yaw angle of pixhawk(only yaw) is diverged.(0 -> 360 or 360 -> 0)
This is flight log when yaw angle divergence.
https://review.px4.io/plot_app?log=6e7040c7-7a5c-44d8-89b5-80084aa61f33

My system is as follows.
1. Pixhawk firmware 1.8.0
2. Pixhawk platform is 2.1(cube)
3. EKF2 parameter set
 - EKF2_AID_MASK 24

[2018-09-27 10:12] tiralonghipol commented on #9761
Hi. Can you describe more how do you provide the vision_position and vision_yaw fusion?
I am having truble with the EKF2 too, maybe you can help me
Are you sentingo pose_stamped msgs using mavros over /local_position/pose ?

[2018-09-27 10:59] Nurffe commented on #10571
Probably somewhat same issue but other way around can be seen here where failsafe is triggered. Failsafe is set to "no pulses" but still zero is sent for certain channels (5, 9, 10, 11, 12, 14). There is no preset failsafe set in receiver itself so it's unknown why these random channels are set to zero which is then converted to 874 in FC

Here are snapshots from logs

Showing lines and timestamps

[2018-09-27 14:04] dagar opened #10584 "State Machine Options (Library, Framework, Generator, Compiler, etc)"
I've been casually looking for a good solution to handle state machines throughout the system.
 - https://github.com/PX4/Firmware/issues/7055

**Requirements**
 - declarative
 - generate documentation (either tables or a graph)
     - SCXML would also be nice
 - if a generator or compiler it needs to be easily accessible, cross platform, and have an acceptable license
 - likely need to support HSM

[2018-09-27 14:16] jlecoeur commented on #7770
Status:
- the MAVlink PR was merged
- a new PX4 PR was opened: https://github.com/PX4/Firmware/pull/10585
- a new QGC PR was opened: https://github.com/mavlink/qgroundcontrol/pull/6895

[2018-09-27 15:57] #10521 closed

[2018-09-27 18:49] davids5 commented on #10164
Two options:

option 1) upstreamable is to add export  to nsh.
option 2) is not upstream-abe to add an  #if def CONFIG_ENVIRON_INHERITANCE and loose env_dup duplication.

CONFIG_ENVIRON_INHERITANCE=y
[code]
but the gain is only small  presumably based on fragmentation

with CONFIG_ENVIRON_INHERITANCE = no
[code]
Do you think it is worth it?

[2018-09-27 19:04] davids5 commented on #9973
@Tony3dr please test current maste on new hw when available.

[2018-09-27 19:05] dagar commented on #10164
Any options that would eliminate the need for this? https://github.com/PX4/Firmware/blob/master/ROMFS/px4fmu_common/init.d/rcS#L587-L619

[2018-09-27 19:41] davids5 commented on #10164
Neither will not do that. :(  Nsh is still running

[2018-09-27 19:51] Tony3dr commented on #9973
@davids5 the hardware will be received tomorrow afternoon in our office. We will resume NXPhlite testing on Monday. We will let you know how it goes.

[2018-09-27 22:02] davids5 commented on #8303
@mhkabir - what HW is this on?

 Any frequency, a 1 or 0 or pulse width?

[2018-09-27 22:51] mhkabir commented on #8303
This was on Pixhawk 2.1, and this was happening for "any" signal, including the 30ms active high pulses which I was testing with.

[2018-09-28 01:15] seanrowens opened #10588 "Installing PX4/SITL/jMAVSim, readline version issue causes compilation error"
**Describe the bug**

Installing PX4 on OS X for SITL, an already installed newer version of readline caused compilation to fail with the error;

**To Reproduce**

Follow the instructions here;

https://dev.px4.io/en/setup/dev_env_mac.html

and then here;

https://dev.px4.io/en/setup/building_px4.html

When you excute "make posix jmavsim" you should see the compilation error.

**Additional context

[2018-09-28 01:39] jamming opened #10589 "Uart Issue of PH4-mini with 1.8.0dev firmware"
The second uart(UART4_RX_I2C2 and UART4_TX_I2C2 pins) of PH4-mini should be multiplexed. By setting the parameter SYS_COMPANION to corresponding type, we can connect an osd, a SIK telemetry or a secondary GPS on it.

I have flashed the master firmware to PH4-mini via QGC on 27 Sep 2018. When I connecting an osd or a SIK telemetry to the second uart of PH4-mini, I found they don't work. I check SYS

[2018-09-28 02:17] hamishwillee commented on #10589
I am working on the docs for this right now: https://github.com/PX4/px4_user_guide/pull/352

The summary is that SYS_COMPANION is no longer supported. Now you use a `*_CFG` or `*_CONFIG` parameter for a particular service or peripheral to set the port that it uses.

[2018-09-28 05:44] jlecoeur commented on #7770
All merged, thanks!

@TSC21 do you want to keep this issue open until there is support in MAVROS?

[2018-09-28 05:47] LorenzMeier opened #10590 "Tailsitter SITL test failure"
The SITL test for the tailsitter is failing and needs proper inspection and fixing.

[2018-09-28 07:07] #9948 closed

[2018-09-28 07:08] #9950 closed

[2018-09-28 07:08] #9952 closed

[2018-09-28 07:09] #9954 closed

[2018-09-28 07:10] #9953 closed

[2018-09-28 07:10] #9955 closed

[2018-09-28 07:10] #9956 closed

[2018-09-28 07:11] #9958 closed

[2018-09-28 07:11] #9959 closed

[2018-09-28 07:11] #9960 closed

[2018-09-28 07:11] #9961 closed

[2018-09-28 07:12] #9962 closed

[2018-09-28 07:12] #9963 closed

[2018-09-28 08:24] Seeelefant opened #10592 "Always "Preflight failed mag sensors inconsistent""
**Describe the bug**
Whatever I do, I get a  "Preflight failed mag sensors inconsistent" even after choosing various Compass Rotations

**To Reproduce**
Steps to reproduce the behavior:
I have a Pixhawk 2.4.8 chinese clone and Zubax GNSS2, however the internal and the external mag are always out of synch.
1. Drone switched on '...'
2. Uploaded mission '....' (attach QGC mission file)
3. Took off '

[2018-09-28 12:02] TianmingLi opened #10593 "restart land_detector problem"
**Describe the bug**
restart land_detector

[code]

will let other module such as navigator not subscribe  message vehicle_land_detected successfully

**To Reproduce**
Steps to reproduce the behavior:

1. land_detector stop

2. land_detector start multicopter

**Expected behavior**
position mode failed

**Log Files and Screenshots**

**Fix**
uorb message clean up in destructor

[code]

[2018-09-28 13:17] bartslinger opened #10594 "POSIX thread priority broken?"
Running SITL on master, it looks like all threads are at the same priority level.

[code]

[2018-09-28 13:18] dagar commented on #10590
It appears to be returning to the back transition waypoint as a multicopter (very slowly), then timing out.

![image](https://user-images.githubusercontent.com/84712/46210668-5dbe4600-c2ff-11e8-883f-ad0d8ce260d2.png)

https://logs.px4.io/plot_app?log=1226a9e6-edef-40dd-b631-87dd95ec9c0f
http://ci.px4.io:8080/blue/organizations/jenkins/PX4_misc%2FFirmware-SITL_tests/detail/master_fmu_more_cap_modes

[2018-09-28 13:20] dagar commented on #10590
Increasing the timeout might be an acceptable temporary fix until we figure out what's wrong with VTOL navigation.

https://github.com/PX4/Firmware/tree/pr-sitl_tailsitter

[2018-09-28 13:31] bartslinger commented on #10594
Running as root, it seems to be ok

[2018-09-28 13:35] bresch commented on #10590
Strange thing, if I run the CI mission locally, I don't have the same result:
Tailsitter:
https://logs.px4.io/plot_app?log=ea1cf52d-2894-4a16-a099-0f7447afc354
VTOL Standard:
https://logs.px4.io/plot_app?log=f01e18c4-cb18-46cd-bba9-16db6bb693a4

[2018-09-28 13:36] LorenzMeier commented on #10590
Parameters on the CI system?

[2018-09-28 13:38] bresch commented on #10590
![tailsitter_ci](https://user-images.githubusercontent.com/14822839/46211599-3c2b8180-c334-11e8-9178-e74f48c6c07d.png)

"Return to back transition waypoint" is apparently not commanded

[2018-09-28 13:38] dagar commented on #10590
@bresch Can you try tailsitter several times? The failure is intermittent.

[2018-09-28 13:54] dagar commented on #10590
Here's a fresh one where VTOL standard failed, but tailsitter passed.
http://ci.px4.io:8080/blue/organizations/jenkins/PX4_misc%2FFirmware-SITL_tests/detail/land_detector_cleanup_fixes/1/pipeline

[2018-09-28 13:55] #10594 closed

[2018-09-28 14:04] #10593 closed

[2018-09-28 17:53] davids5 commented on #8303
@mhkabir - I Tested today's master on Pixhawk 2.1 CUBE with fmu-v3 build.
[code]
Not sure what your test setup was and how well you grounding was.

But kicking it's at 400 Khz input - it runs fine. at 100 % load
[code]
A more realistic 40 Khz.
[code]

I would suggest you check your code and insure your not running long threads off the ISR.

[2018-09-28 17:53] #8303 closed

[2018-09-28 18:19] dgonano commented on #8850
Agreed, wish this was working

[2018-09-28 21:45] tubeme opened #10597 "Safety Feature: Quad-Chute translate to Emergency Parachute functionality."
Despite there is Parachute control in the mixer there is no auto emergency parachute launch by some triggers like sudden altitude loss, speed loss, erratic behavior for the regular Airplane.

There is implementation for the quad-chute already developed for VTOL. Could this code base be used to create the same control but for parachute for Airplanes?

This will be yet another advancement in the saf

[2018-09-29 02:38] priseborough commented on #10058
I think you are getting static pressure measurement errors due to to the location of the autopilot on top of a larger flat deck that is generating large pressure variations with airspeed and tilt angle. This is indicated in how the vertical position and velocity innovations vary during manoeuvres.

The following figure illustrates how during acceleration into forward flight initially the forward t

[2018-09-29 08:20] Jiangyou0811 opened #10598 "[Tail-Sitter]All outputs are reset to 0 after transition into fixed wing mode"
The takeoff procedure is:
1. Set mode switch to Manual
2. Increase the throttle, the UAV takeoffs as a Rotary-wing.
3. Keep increase the throttle, the UAV increase its speed and altitude.
4. At certain point, it transitted into fixed-wing mode and lost control immidietely. The UAV dropped down like a brick.

![image](https://user-images.githubusercontent.com/26006701/46242902-9d208b80-c400-11e8-94

[2018-09-29 14:29] dagar opened #10599 "px4fmu-v2 flash overflowed by 629 bytes"
The last PRs merged only caused a flash overflow once in master. We'll need to either free up some flash in px4fmu-v2 or revert them.

Going forward it looks like we're going to need to be much more careful with rebasing a PR for testing one last time before it finally goes into master.

[2018-09-30 06:14] rr2-ip opened #10603 "Unstable local position estimates using PX4FLOW"
Hi there!

I've been trying to implement a PX4FLOW camera + LeddarOne rangefinder on my Intel Aero RTF Drone for some time now. I have the PX4FLOW camera connected via I2C to the Telemetry port. The LeddarOne is connected to the TX and RX pins of the Telemetry port.
I have updated the PX4FLOW firmware, enabled the driver and started it on boot. When off the ground, the OPTICAL_FLOW_RAD.quality is

[2018-09-30 14:43] Hanslen commented on #5621
I have the same problem, is there any solution?

[2018-09-30 14:50] zhaoxiaowei1013 commented on #5621
@Hanslen do you what to run a muti copter to simulation？

[2018-09-30 15:07] julianoes commented on #5621
@Hanslen this is an old thread. Please re-open a new issue and add detailed a description about what your issue is.

[2018-09-30 15:09] dagar opened #10607 "DriverFramework merge with in tree PX4 drivers"
With PX4 SPI and I2C support extended to Linux (i2c-dev and spidev) and qurt we can look at extending the existing in tree NuttX drivers to support Linux and Qurt platforms. Eventually we'll no longer need DriverFramework or df wrappers.

PX4 drivers available
 * df_mpu9250_wrapper
 * df_bmp280_wrapper
 * df_ms5607_wrapper
 * df_ms5611_wrapper
 * df_mpu6050_wrapper
 * df_ak8963_wrapper
 * df_hmc58

[2018-09-30 15:12] dagar commented on #10607
FYI @thomasgubler

[2018-09-30 17:52] igalloway opened #10610 "Minor - tune_control command line reports 1-15, while there appears to be 19?"
**Describe the bug**
This is a minor detail in self documenting

The tune _control command indicates
    -t <defualt tunes>      Play the default (1...15) (default=1)
when there are more than that,  i believe 19?

**To Reproduce**
at the console manually issue the "tone_control"
The output will say "Play the default (1...15)"

**Expected behavior**
Mention the actual number of default tones, or el

[2018-09-30 23:14] zanemountcastle opened #10614 "Inconsistent magnetometer: External GPS 2 inconsistent unless yaw of 180 relative to GPS 1"
**Describe the bug**
When using a Pixhawk 2.1 flight controller, QGroundControl complains about an inconsistency in the incoming magnetometer data. It turns out that the way to satisfy QGC (and PX4) is to set the orientation of GPS2 (an external 3DR GPS module) to a yaw of 180. It seems as though PX4 rotates the incoming magnetometer data and therefore doesn't recognize that both modules are point

[2018-09-30 23:18] dagar commented on #10614
Have you done a full mag calibration? If so can you share the CAL_MAG_* parameters? From the rotation parameter we'll be able to see if PX4 thinks that mag is internal or external.

[2018-10-01 02:29] #10537 closed

[2018-10-01 03:07] ChrisHughes opened #10615 "Recovery with manual control impossible - no throttle control"
Firmware 1.8.0 on Pixracer using Spektrum DXe for control.

Doing some testing of a custom range finder configuration to gain indoor z stability in position hold / guided modes.

In some situations the device went 'runaway' in Position Hold mode due to incorrect parameters.

In these instances, it seems that after switching the controller back to manual mode, the throttle stick was inactive and th

[2018-10-01 06:06] bkueng commented on #8850
This should be fixed with https://github.com/PX4/Firmware/pull/10474. Can you test lastest master?

[2018-10-01 06:51] cimbar commented on #9761
I am using /tf listener but If you wish to send pose stamped message, you should publish it to /mavros/vision_pose/pose topic. /local_position/pose is a topic that publishing from mavros so it is the position information of the vehicle. You can check mavros_extras  [wiki page](http://wiki.ros.org/mavros_extras#vision_pose_estimate) to understand which topic is used as whether a publisher or subscr

[2018-10-01 07:28] tiralonghipol commented on #9761
yes I am using exactly the same 'configuration' as you described,
but can you be more specific ? like:
1) the feeding frequency
2) what parameters did you change (if any) in qgc

thanks again

[2018-10-01 08:54] cimbar commented on #9761
You should activate necessary bitmasks in EKF2_AID_MASK as vision position and vision yaw. What kind of problem do you have with vision position? Can you see any vision_position data in QGC Mavlink Inspector?

[2018-10-01 09:03] bkueng commented on #10615
Hi

The log only shows Manual flight control, and no Position Hold. The commanded RC throttle is correctly passed to the output (actuator controls). Is this the correct log?
Did the motors stop in-air? If so, you need to increase PWM_MIN.

Also you have quite high vibration levels in z direction that you should fix.

[2018-10-01 09:33] tiralonghipol commented on #9761
ok it is quite complicated but I'll try to make it clear:

- If I publish on mavros/local_position/pose the PoseStamped which is received, it is good @5Hz
(hls_lfcd_lds_driver). I am using hector_slam and If the movement is too fast the EKF2 sometimes fail

- If I use the same configuration but with RPLidar a3 (rplidar_ros), after some times, tipically between 30 and 50 seconds, the ekf2 completel

[2018-10-01 09:49] ksschwabe commented on #10415
@dakejahl: Sorry for the delayed response.

Our connectors should be ok; they are JST-GH and I find it unlikely that we have a loose connection.  I implemented a quick and dirty check for the I2C registers, and I did not see this problem for two weeks, but then we had this strange jump in the signals again. Looking at the data, it doesn't seem that the issue was LSB, or MSB readout difference. It

[2018-10-01 12:38] dagar commented on #10415
@ksschwabe could you open a PR restoring the check_conf() functionality?

You could also take a look at the iSentek IST8310 as a replacement for the HMC5983. The PNI RM3100 is also kind of interesting, but probably overkill.

[2018-10-01 12:46] thomasgubler commented on #10575
Status (via @bresch ): first draft/WIP implementation is getting tested in SITL

[2018-10-01 13:06] dagar opened #10618 "Mavlink parameter sync and general congestion review"
Mavlink parameter sync ignores the mavlink instance data rate and current rate multiplier (throttling). It does check the tx buffer, but this isn't sufficient. As a result some setups (eg SiK radios without flow control) can be unusable at times failing to complete the initial parameter sync. https://github.com/PX4/Firmware/pull/10394#issuecomment-422950271

### Ideas to explore
 * parameter sync

[2018-10-01 19:10] zanemountcastle commented on #10614
Here are the CAL_MAG parameters:

[code]

I've attached the full parameter file as well: [params.txt](https://github.com/PX4/Firmware/files/2435255/params.txt)

[2018-10-01 19:15] dgonano commented on #8850
@bkueng Yep, working for me now! Thanks

[2018-10-01 20:04] MaEtUgR opened #10619 "Cygwin: Gazebo Support"
This is a **bigger undertaking** but the goal is to **support gazebo simulation when running PX4 SITL on Windows natively**.

The first and probably biggest problem is that [osrf](https://www.openrobotics.org/) does not provide any official Windows binary for gazebo. I also didn't find any third party build so it's clear we need to build from source even for the first test.

A clue is this tutoria

[2018-10-01 20:41] dagar commented on #10619
What about using the Windows Linux subsystem? https://answers.ros.org/question/238646/installing-ros-on-ubuntu-bash-in-windows-10/

Ubuntu is in the Windows 10 store. https://www.microsoft.com/en-us/p/ubuntu/9nblggh4msv6#activetab=pivot:overviewtab

[2018-10-01 20:49] Avysuarez opened #10620 "pixhawk 2.1 voltage issues."
@dagar @Tony3dr
 I had problems with pixhawk 2.1 voltage reading,  I have calibrated the voltage several times  and even with the full battery, activate the fail safe immediately.
I already tested with another voltage sensor and reset the parameters and it's still the same.

https://review.px4.io/plot_app?log=8c1f6603-3183-4bf6-87fd-6d527988a276
https://review.px4.io/plot_app?log=23ce4f5f-e26c-4a0

[2018-10-01 21:00] Avysuarez commented on #9973
@davids5 @Tony3dr
I flew the nxp with the master and flew well in stabilized mode and altitude, but i had issues with the GPS, i was waiting more than 10 minutes and do not lock the position, rejected the position mode.
The GPS is a ready tosky ublox M8N.
https://review.px4.io/plot_app?log=dd59e88f-559a-4091-bdfd-5aeec11e840d
https://review.px4.io/plot_app?log=9a90fbf9-ddcb-41ef-a4af-f2a39028e230

[2018-10-01 21:03] davids5 commented on #9973
@Avysuarez - Thank you! There is a issue with the board jamming the GPS. Work is being done to determine the cause.  Will let you know when we have something to test. FYI @igalloway @bkueng

[2018-10-02 06:39] MaEtUgR commented on #10619
@dagar I'm still concerned about it just being a virtual machine which is from system resources like graphics perspective independent of Windows. But I might give it a try... just to have some experience.

[2018-10-02 07:01] Seeelefant opened #10621 "Magnetometer Calibration seems not possible for external MAG on CAN Bus"
**Describe the bug**
I always have inconsistent magnetometers, despite many calibration dances

Looking at the parameter settings there are no calibration settings for the external mag
![image](https://user-images.githubusercontent.com/30323691/46333687-902eb280-c621-11e8-8883-1d0eba29b60e.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Drone switched on '...'
2. Uploaded mission '....'

[2018-10-02 08:00] bkueng commented on #8850
Cool! Closing this then.

[2018-10-02 08:00] #8850 closed

[2018-10-02 08:01] #10429 closed

[2018-10-02 08:11] bkueng commented on #9973
The jamming indicator is not particularily high in these logs (around 20), but the reported accuracy is not good enough, which can also be due to the board.

Additional issue: the vibration levels on the vehicle are extremely high (especially in x-y), can you please fix the setup?

[2018-10-02 11:37] bresch commented on #10575
Here is the WIP branch:
https://github.com/bkueng/Firmware/tree/trajectory_smoothing
I'm currently developing the [time synchronization](http://www.reflexxes.ws/software/typeiirml/v1.2.6/docs/page__synchronization_behavior.html) needed to provide nice straight lines.

[2018-10-02 11:48] RicardoM17 commented on #10058
@priseborough we went flying again this morning. We enabled the fusion of Drag Specific Forces like you suggested. Unfortunately the behavior persisted and changing the parameters didn't have a noticeable effect in improving the performance of the quad.

You can see the following logs:

- First flight with EKF2_AID_MASK enabled and default values on the coeff and noise params: https://logs.px4.io/

[2018-10-02 12:29] #10212 closed

[2018-10-02 14:34] DanielePettenuzzo opened #10623 "Issue with input capture timestamp"
I'm testing the camera capture driver PR (https://github.com/PX4/Firmware/pull/10295) and I'm having some issues with the timestamp of the capture. I am generating an active high pulse from my pixhawk and looping it back into the input capture. The capture driver is set to capture falling edges. Sometimes my trigger falling edge and the capture timestamp match and sometimes I get a 20ms delay betw

[2018-10-02 14:34] DanielePettenuzzo commented on #10623
@davids5 FYI

[2018-10-02 15:51] dakejahl opened #10624 "Vehicle beeps with no SD card"
**Describe the bug**
Vehicle beeps at you continuously if there is no SD card inserted.

**Expected behavior**
No beeping.

[2018-10-02 15:58] mhkabir commented on #10624
I can see why beeping it good for most use cases, but we can add a circuit breaker.

[2018-10-02 19:04] Seeelefant commented on #10621
![image](https://user-images.githubusercontent.com/30323691/46370238-614a2800-c685-11e8-8332-1c589600e9f4.png)

![image](https://user-images.githubusercontent.com/30323691/46370734-af136000-c686-11e8-80be-08e8234bffe0.png)

Logs can be found here: https://review.px4.io/plot_app?log=d2d179c5-1404-49b6-9032-8528c4dfefba

[2018-10-02 19:15] mhkabir commented on #10621
Probably something bug/regression in the UAVCAN magnetometer interface, which has existed for some time. I remember this exact issue from a few months back.

[2018-10-02 19:56] Williangalvani opened #10625 "Upgrading through QGC seems to flash the wrong firmware."
Flashing new firmware on a PX4 FMU V2:

- Flashing PX4 **beta 1.7.4** reads **1.8.0**
( QGCdownloads from [/**beta**/px4fmu-v2_default.px4](http://px4-travis.s3.amazonaws.com/Firmware/beta/px4fmu-v2_default.px4))

- Flashing PX4 **stable 1.8.0** reads **1.8.0dev**
(QGC downloads from [/**stable**/px4fmu-v2_default.px4](http://px4-travis.s3.amazonaws.com/Firmware/stable/px4fmu-v2_default.px4))

- F

[2018-10-02 20:19] davids5 commented on #9973
@bkueng

Working on the jamming issue: There is a build with a rounded the clock on the SD here https://github.com/PX4/Firmware/pull/10626

[2018-10-02 20:24] igalloway opened #10627 "NXPhlite - 21Mhz SDCARD clock radiating EMI RF interference. FCC CE"
**Describe the bug**
SDCARD has 21Mhz SD_CLOCK which is radiating and causing RF emissions failing FCC (also effecting GPS?)
The slew rate on this clock pin is set to high, problem resolved when set to low.

**To Reproduce**
Run with SDCARD installed. Look on Spectrum analyser at 148Mhz near SDCARD.
Interference gone when SDCARD removed.
GPS jamming level goes from ~140 to ~70

**Expected behavior

[2018-10-02 20:39] davids5 commented on #10623
@DanielePettenuzzo would you please provide a link to the test code and any setup info.

[2018-10-02 20:44] davids5 commented on #10623
@DanielePettenuzzo - What HW? What branch? Any special test code? Please provide a link and include the pins you are connected to.

[2018-10-02 20:53] Seeelefant commented on #10621
Maybe this one https://github.com/PX4/Firmware/issues/7395 ? Sounds that this will be a longer journey :-(

[2018-10-02 21:36] #10559 closed

[2018-10-02 22:08] davids5 commented on #10623
I ran a quick test.

FMUv5 Mini
Tied FMU_6 -  FMU_5

[code]
Params
[code]
Code to do diff:
[code]
data:
Run time 82 Seconds.
Except for the startup deleta I see one outlier:

at 1119  61166978 | 61183079 | 16101 | -3899

  |   |   |   | start | end | Run Time   Seconds
-- | -- | -- | -- | -- | -- | --
105826978 | 105846979 | 20001 | 1 | 105806978 | 23986978 | 81.82 |  
105786979 | 105806978 | 1999

[2018-10-02 22:28] davids5 commented on #10623
@DanielePettenuzzo - I did a test run where I hacked the timer to 100 us with a 257us period.
I have +-1 us (the total of 4097 deltas is 13 us)

81967581 | 81967838 | 257 | 0
-- | -- | -- | --
81967067 | 81967324 | 257 | 0
81966552 | 81966810 | 258 | 1

Please describe what you are using as the source?
GPIO would explain it.

[2018-10-03 12:38] bresch commented on #10575
Time synchronization is done, here is a simulation result on jMAVSim: https://logs.px4.io/plot_app?log=4fc1e3f0-f9ba-48a1-ad78-f2495fc9cbe7

[2018-10-03 13:04] DanielePettenuzzo commented on #10623
@davids5 Thank you very much for looking at this. I am using an fmu-v5 (pixhawk 4) on the pr branch. I basically added a printf after toggling the trigger pin and one in the camera_capture to print the capture time. There is no special code added and I'm using fmu pin 2 to trigger and fmu pin 6 to capture.

I am using the GPIO trigger because I could easily print the time of the rising and falling

[2018-10-03 13:44] LorenzMeier commented on #10575
Awesome!

[2018-10-03 13:59] dagar commented on #8592
@ChristophTobler could you expand on your requirements?

Are delta angles and delta velocities desired?
At what rate?

[2018-10-03 14:01] mhkabir commented on #8592
This is a duplicate of https://github.com/PX4/Firmware/issues/9796. Closing in favour of that.

[2018-10-03 14:01] #8592 closed

[2018-10-03 14:04] dagar commented on #9796
Added to the Driver Architecture / IMU Signal Processing project board. https://github.com/PX4/Firmware/projects/23

[2018-10-03 14:47] dagar commented on #10625
Thanks for reporting, I'll look at fixing this.

[2018-10-03 15:14] thomasgubler opened #10633 "Add ROS melodic containers for CI"

[2018-10-03 15:17] TSC21 commented on #10633
Already exists (https://github.com/PX4/containers/blob/master/docker/px4-dev/Dockerfile_ros) and being used upstream - https://github.com/PX4/Firmware/blob/master/.ci/Jenkinsfile-compile#L17

[2018-10-03 15:17] TSC21 commented on #10633
Also `sitl_gazebo` is already using the latest: https://github.com/PX4/sitl_gazebo/pull/234

[2018-10-03 18:29] davids5 opened #10638 "UUID 18 open issues"
1) Eliminate the use of msg.uid  and PX4_CPU_UUID_WORD32_UNIQUE_x in code base OR at a minimum make sure they represent the slowest changing digits in the ID on all arch.

2) Legacy formats removed ?
  Remove all DEPRECATED data types, #defines and functions and comments.
  board_get_uuid
  board_get_uuid32_formated
  board_get_mfguid_formated

3) Implication on Uavcan: HardwareVersion:unique_id h

[2018-10-03 19:17] DavidMackie opened #10639 "Skywalker X8 VTOL unable to recover from gust"
After attempting to climb to 30 m in mission mode a moment is applied due to a gust. This causes the DeltaQuad to bank excessively sending it into a pitch down dive. We attempted to take over manual control but we didn't have enough altitude to recover.

We flashed our flight controller (Dropix V2.1) with the Master branch (Updated 24th September). We then tested our DeltaQuad in manual mode quick

[2018-10-03 20:02] sanderux commented on #10639
Hi @DavidMackie

The log you posted is not from a Vertical Technologies DeltaQuad as far as i can tell. Is this your own build?

[2018-10-03 20:59] Seeelefant commented on #10621
It´s definitively a bug, with ArduPilot it´s working :-( .

[2018-10-04 05:42] julianoes opened #10644 "Exception on systems with Python 3.7"
On Arch Linux which uses Python 3 by default the px4fmu-v3_default build is failling with:

[code]

[2018-10-04 05:49] DavidMackie commented on #10639
This was flying with the master branch

[2018-10-04 06:50] julianoes commented on #10644
Addressed in https://github.com/UAVCAN/libuavcan/pull/168.

[2018-10-04 08:03] Speterius commented on #10639
My best theory is IMU failure between 1:15 and 1:16. Can anyone confirm this?

[2018-10-04 08:57] sanderux commented on #10639
@DavidMackie can you please confirm if this was your own built vehicle or an official Vertical Technologies DeltaQuad?

If it was your own vehicle then i should note that the parameters associated with the airframe you selected have been specifically tuned for the proprietary hardware in the official DeltaQuad and should not be used on other vehicles. You would be better of using the Generic Quad

[2018-10-04 09:27] AuterionWrikeBot opened #10646 "Mavlink parameter sync and general congestion review"
Mavlink parameter sync ignores the mavlink instance data rate and current rate multiplier (throttling). It does check the tx buffer, but this isn't sufficient. As a result some setups (eg SiK radios without flow control) can be unusable at times failing to complete the initial parameter sync. https://github.com/PX4/Firmware/pull/10394#issuecomment-422950271

### Ideas to explore

* parameter sync

[2018-10-04 09:59] pavel-kirienko commented on #10638
A 16-byte (128-bit) UID is required for UAVCAN; it cannot be changed by modifying libuavcan alone because it is required by the protocol specification (affects wire compatibility). The same UID must be used both by the bootloader and by the application.

[2018-10-04 11:02] davids5 commented on #10638
Given Pavels input, and if we do not want to change the bootloaders, we have the option on the STM32 uavcan application truncate the PX4 UUID to the last 12 bytes with 0 fill in the 12-15 offsets. This will match the bootloader.

[2018-10-04 11:46] #10644 closed

[2018-10-04 14:06] bkueng commented on #10189
Thanks for all the input here. Let me collect what I have so far.

### Use-cases
These are the use-cases that I see for a mission log:
- geotagging/survey (more generally: extract data collected by the pixhawk during a mission and needed for post-processing)
- cloud upload & statistics: keeping track of where and how long a vehicle has flown, and if there were problems.
- regulation: keeping a sma

[2018-10-04 15:10] davids5 commented on #7942
For the record: Having a priority above normal could cause nesting. Nuttx does not support Nested interrupts, in fact enabling them will cause hard to debug hard faults. The common ISR is not reentrant. Tasks invoked off of the HRT ISR need to allow context switches. So the use of Nuttx's HIGH PRIORITY interrupts is not an options either.

[2018-10-04 21:44] tubeme commented on #10189
And some more notes:

We need to be able to transfer the file from the telemetry. That is because it is better that the file is pushed to the QGC after landed state. It is fine to be up to 2-3mb I think. It transfer reasonably fast.  We can make a warning window in QGC to not stop the data link until upload finished.  This will make the tagging more integrated and without the need for human interv

[2018-10-04 21:47] tubeme commented on #10189
@LorenzMeier @DonLakeFlyer @dagar @dogmaphobic

I think "Mission names" could be a good human layer to the mission interface. Something to name and identify easily later when you have to parse or look in the archives,

[2018-10-04 21:58] tubeme opened #10649 "RTK Precision at 5Hz"
Hi Guys,

We are using the Drotek RTK XL GPS for mapping.

I see it is shown that it works at 8Hz, but is it true or is it working at 5Hz like the regular GPS.

I still cannot understand something about precision.

At 8Hz and as we fly with 14 m/s we have a reading from the RTK at every 1.75m

So even if this PR

https://github.com/PX4/Firmware/pull/10295#issuecomment-425817504

 is working fine w

[2018-10-05 13:09] dagar commented on #10646
@thomasgubler another https://github.com/PX4/Firmware/issues/10618

[2018-10-05 13:09] #10646 closed

[2018-10-05 14:09] ArkadiuszNiemiec commented on #10310
@priseborough @mhkabir thank you for your help, I have changed few parameters according to your suggestions but I left the `EKF2_EV_GATE` at 10 SD to make sure that it does not reject vision estmiation.

I have also tuned the UAV to poshold on GPS and I was very happy with results but when flying without a GPS and only on EV it starts to oscilate. Could you tell me how to tune it or is there any o

[2018-10-05 15:01] AlexisTM opened #10655 "MAGNETOMETER Inconsistent on Pixhawk 2.1 Cube and HERE GPS."
**Describe the bug**
Pixhawk 2.1 (Cube) and HERE GPS have inconsistent magnetometers.

The HERE GPS has a 180° rotation and the Pixhawk 2.1 has a 90° rotation.

I confirm that the HERE GPS is monted with the arrow aligned with the Pixhawk 2.1 Cube arrow.

I performed the exact same test on an IRIS+ and the arrow was correctly pointing towards the physical location.

**To Reproduce for External Mag

[2018-10-05 15:05] dagar commented on #10655
Can you verify which sensor is in your particular Here GPS? My understanding is that it's changed over time.

Could you run listener across all mags?

[code]
Repeat for instance (-i) 1, 2, 3.

[2018-10-05 15:33] AlexisTM commented on #10655
The HERE GPS is the MAG0 and stayed MAG0, I checked it by disconnecting the HERE and it says `MAG0 timeout`

[2018-10-05 15:38] AlexisTM commented on #10655
![image](https://user-images.githubusercontent.com/6976744/46544966-51b92200-c8c5-11e8-8fb6-75e5321d9e57.png)

![image](https://user-images.githubusercontent.com/6976744/46544983-61d10180-c8c5-11e8-99ca-e09c52bbbf2b.png)

[2018-10-05 15:48] dagar commented on #10655
This is an hmc5883 and correctly marked as external.

![image](https://user-images.githubusercontent.com/84712/46545356-2964ff80-c894-11e8-9e73-2a65cafdb733.png)

This line is suspect - https://github.com/PX4/Firmware/blob/master/ROMFS/px4fmu_common/init.d/rc.sensors#L166-L167

[2018-10-05 21:32] igalloway commented on #10624
I think the beeping is a good idea, but agree that a circuit breaker should
be added.
However what i found very confusing was trying to figure out what this was
initially.
Is there a way for this to show as a warning in QGC? I was expecting to see
something there when i heard the beeping.

On Fri, Oct 5, 2018 at 1:21 PM dakejahl <notifications@github.com> wrote:

[2018-10-05 22:16] Antiheavy opened #10657 "Need to prevent Arming when in configurations (e.g. modes or waypoints) not approprate for takeoff."
### Issue:
We see a large number of users who forget to place a Takeoff waypoint at the start of their mission or do not properly select the Takeoff waypoint when arming.   This causes safety problems:
- Launch detection is bypassed
- fixed wing takeoff logic is bypassed
- motor/propeller may spool up at unexpected times based on LandDetection
- may cause crashes upon hand launch because the takeo

[2018-10-07 14:53] TSC21 commented on #9502
@xup682u03 I don't think it's reasonable to actually run Gazebo in a RPi at all. I do advise you to use it on a standard x86 machine, as you will face obvious problems of performance to run this on a RPi. Closing this now.

[2018-10-07 14:53] #9502 closed

[2018-10-07 14:54] TSC21 commented on #6389
Closing as stale.

[2018-10-07 18:41] sanderux opened #10659 "FlightTask: implement MPC_LAND_ALT1/2"
MPC_LAND_ALT1 and MPC_LAND_ALT2 should be used for a final approach speed during landing.
According to the param spec the vehicle should descend at MPC_Z_VEL_MAX_DN speed and slow down between MPC_LAND_ALT1 and MPC_LAND_ALT2 to MPC_LAND_SPEED.

There is a massive energy consumption benefit in having this

Currently this is not implemented in the FlightTask: https://github.com/PX4/Firmware/blob/bee

[2018-10-07 21:31] hamishwillee commented on #6389
@bkueng Can you tell me what the right way is to [start Gazebo and SITL separately](https://dev.px4.io/en/simulation/gazebo.html#start_px4_sim_separately)? The suggested approach does not work (as per this issue):
[code]

[2018-10-07 22:59] ryanjAA opened #10660 "Microhard 2.4 i2c interference with SF11 lidar"
Put a new Microhard 2.4 link for telemetry on a test plane (a plane that's flown many many times with no issues and only component changed was the addition of the Microhard unit) and it caused chaos to the SF11 lidar. We isolated it to 2 potential issues. First thought was current to the Microhard link taken from the telem1 port so we lowered the power output from the microhard unit but that still

[2018-10-08 00:41] Antiheavy commented on #10660
Which microhard are you using?  Is it the radio itself or the antennas that you think might be causing EMI?

[2018-10-08 00:56] ryanjAA commented on #10660
Pico 2400 (p2400). Definitely not the antenna, it was externally mounted (wing type from Persistent Systems) and even when turning the power down on the Microhard, it still did it until moving the unit away from the lidar.

[2018-10-08 04:57] dagar commented on #10657
Adding it as a feasibility check is pretty quick, but I'm wondering if we can get a simpler solution by focusing on state of the mission during the arming transition itself. This cleanly works around reversing potentially valid use cases where you might not want a mission to have to start with takeoff.

[2018-10-08 05:42] bkueng commented on #6389
It's `make posix_sitl_default gazebo_iris_ide` (or any model you want).

That seems to be gone as well. You can use `make posix_sitl_default none_iris`.

[2018-10-08 06:50] hamishwillee commented on #6389
Thanks @bkueng

Unfortunately that is a confusing answer in the context of the rest of the text.

1. The section starts "To start Gazebo and PX4 separately:" but won't `make posix_sitl_default gazebo_iris_ide` start both gazebo and sitl?
2. For

   Are you saying that the option `px4_iris` is gone? How do I attach to this from the ide then?

Previously the model was "start gazebo configured to use

[2018-10-08 07:49] bkueng commented on #6389
It does not execute px4.

It seems to be gone, yes. @dagar would know the details.

Yes. But you probably want to run the PX4 binary directly from the IDE (e.g. because it automatically attaches a debugger), which is more cumbersome:

[code]
Which is essentially what the previous `px4_iris` did.

[2018-10-08 08:46] jinchengde commented on #10509
did you stop mavlink before you use ttys1?
As we know, in rcS, px4 will open ttys1 for mavlink

[2018-10-08 08:55] jarivanewijk commented on #10507
The Windows driver that's installed with the latest daily build of QGC still doesn't work. What's the current status of the driver? It's a bit unclear because the other issue was closed?

[2018-10-08 09:29] roseyangyu commented on #10509
I have comment out the "mavlink start ${MAVLINK_F} " in rcs.And ttys1 have stopped mavlink

[2018-10-08 09:40] jinchengde commented on #10509
could you test
mavlink stop-all
at the end of rcS to confirm stop all the mavlink message

[2018-10-08 09:54] roseyangyu commented on #10509
I have input mavlink status,the telemetry is ttys2 only.

[2018-10-08 10:01] roseyangyu commented on #10509
Can you solve that 0x0a and 0x0d ?  I have add the code  but it is no change
    uart_config.c_oflag &= ~(ONLRET | OPOST);
//    uart_config.c_oflag &= OPOST;
    uart_config.c_iflag &= ~(IGNBRK | BRKINT | PARMRK | ISTRIP | INLCR | IGNCR | ICRNL | IXON);
//    uart_config.c_oflag &= ~ONLRET;

@jinchengde,please

[2018-10-08 10:13] roboflot commented on #9904
@ndepal
Hello Nicolas!
It seems that you are the only irlock hero in px4 stack ) My Pixhawk 4 (FMUv_5) does not start communication with Pixy, I described the problem in [this issue](https://github.com/PX4/Firmware/issues/10210). It seems that some i2c driver or parameter is missing in the code. Thanks for your help.

[2018-10-08 12:57] tubeme commented on #10649
I like this reply :) Does anybody performed a comparison on the RTK.PPK vs GCPs for the PX4?

[2018-10-08 12:59] tubeme commented on #10625
@Hey Daniel we have this problems almost at every new release. Is there any permanent solution?

[2018-10-08 13:00] ndepal commented on #10210
@roboflot
I have no experience with the Pixhawk 4. We are using the IRLock Pixy with PixRacers and never had any issues. Do you have any other Pixhawk models at your disposal for testing?
Did you flash the proper firmware on the IRLock Pixy?

[2018-10-08 13:28] jinchengde commented on #10509
so have you try ttyS6 through serial5 or other serial port ?
both the same output?

[2018-10-08 13:48] roboflot commented on #10210
@ndepal
Thank you for your reply! I don't have any other Pixhawk board. But I successfully tested my Pixy with Ardupilot on Navio2 and Raspberry. So the firmware is OK, it also works fine with PixyMon and original IR-Lock MarkOne beacon. I tried to compare irlock and sf1xx lidar (it works OK) drivers on how they initiate i2c communication. But I'm very noob in C++ and it seems for me they have the

[2018-10-08 14:47] jonathan84clark commented on #10210
I actually was able to get this to work with ArduPilot on the Pixhawk 2.1. I used I2C bus 0 as my bus setting.
I also had to put a special magical version of the firmware on the Pixy in order for it to work as an IR-LOCK sensor.
And finally; I needed to have a Lidar connected  and working in order for precision landing to work.

We are moving to ArduPilot for future projects that require precision

[2018-10-08 15:45] roboflot commented on #10210
@jonathan84clark
That is a good idea to try other i2c ports! Thank you )
As I found out for Pixhawk 4 fmu_v5 the regular I2C_A port is i2c4. There is also UART/I2C_B port which is i2c2 and GPS module port with i2c1.
I'll try them tomorrow and write down here about results.

[2018-10-08 16:06] Antiheavy commented on #10657
Adding it to feasibility check (enabled by Param) has some pros and cons.

- Pros: reminds user at time of Upload that they forgot a Takeoff WP, simple to implement
- Cons: doesn't check that the active WP at time of Arm is an appropriate one, don't necessarily need a Takeoff WP if the user uploads a new mission during flight

I think the Cons can be mitigated by:
1) Add a pre-arm check to see tha

[2018-10-08 22:10] hamishwillee commented on #10210
@jonathan84clark @roboflot

Would love your help with any required documentation for I2C.

Generally speaking I've been told that for end users I2C should be pretty much plug'n'play. You can either attach direct to an I2C port or via a splitter. However if there is something missing (and I'm sure there is), particularly for I2C peripheral developers/debuggers we should certainly add that.

As a su

[2018-10-09 00:05] dakejahl commented on #10624
FYI @davids5
https://github.com/PX4/Firmware/blob/master/ROMFS/px4fmu_common/init.d/rcS#L146
https://github.com/PX4/Firmware/blob/master/ROMFS/px4fmu_common/init.d/rcS#L169

These make the vehicle beep until the end of time. Should we just create a circuit breaker parameter and wrap these in an `if param compare SD_BEEP_CBRK`?

[2018-10-09 02:03] xdwgood commented on #10509
@roseyangyu
Target output ： 0x81,0x01,0x0a,0x10,0x00,0x32,0x03,0x01,0xFF
Actual output ： 0x81,0x01,0x0d，0x0a,0x10,0x00,0x32,0x03,0x01,0xFF
Right？  By the way, the question you asked is not very clear. What you want to ask is that serial port 1 failed to open? Still more output ‘0x0d’?

[2018-10-09 02:18] roseyangyu commented on #10509
I'm sorry,I will mention my question again.
I want to use telem1 to output other message,but open ttys1 is failed.So I change serial5 to output.but output  more than one 0x0d in front of 0x0a.I am more anxious to solve 0x0d than that open ttys1 is failed.

[2018-10-09 02:20] roseyangyu commented on #10509
all port is more than one  0x0d in front of 0x0a @jinchengde

[2018-10-09 02:31] xdwgood commented on #10509
@roseyangyu  maybe help： https://blog.csdn.net/CNHK1225/article/details/77883701

[2018-10-09 02:52] roseyangyu commented on #10509
I try it, hope I can solve it.Thanks@xdwgood

[2018-10-09 05:14] mhkabir commented on #10509
Please use http://discuss.px4.io/ for discussions not related to core flightstack bugs.

[2018-10-09 05:14] #10509 closed

[2018-10-09 08:53] moreba1 opened #10669 "Landing pattern for RTL and LAND in VTOL UAVs"
Hello ,
In the vtol drones, when RTL start at high altitudes, the drone reaches the top of the home at high altitude and the Battery consumption is too much in order to discend in the MC mode.
I have an professional idea for RTL. This idea needs to change in autopilot code and the Qgroundcontrol software . we can design a landing pattern such as a fixed wing landing pattern using the software. The

[2018-10-09 11:49] F1nsk commented on #10210
I have the same issue with the PX4, running the newest firmware. I will try changing I2C ports, and report back if it makes any difference.

[2018-10-09 13:36] dagar commented on #6389
It's just a mechanism for launching the simulator with a given model right?

[2018-10-09 14:45] HajimeK commented on #5773
Solved with
sudo apt-get install libignition-math2-dev

[2018-10-09 17:00] Antiheavy commented on #10657
QGC will sometimes put non location based items at the start of a mission.  Feasibility Checker may need to be smart enough to allow some MAV_CMD_'s in the list prior to the Takeoff Waypoint.

These are the commands I know about that QGC can put at the start of a mission, @DonLakeFlyer are there others?
178	MAV_CMD_DO_CHANGE_SPEED
530	MAV_CMD_SET_CAMERA_MODE
205	MAV_CMD_DO_MOUNT_CONTROL
206	MAV_CM

[2018-10-09 17:18] roboflot commented on #10210
The first try was lucky! I got IR-Lock (Pixy) working on Pixhawk 4 (fmu_v5) with GPS port i2c.
[Here is screenshot](https://drive.google.com/file/d/1DDQhDmsqQXc0yD_uNiphaj2OWqc3QWXP/view?usp=sharing) with "irlock start", "irlock info" and "irlock test" output.
And here is PDF doc with [Pixhawk 4 connectors pinout](https://drive.google.com/file/d/1VNLoSqGLxyQdkba3cPievx-iLUFbsryD/view?usp=sharing)

[2018-10-09 18:07] davids5 commented on #10624
@dakejahl Good question. The change was intentional restoring how it worked in the past that made sense: Indicate a fatal boot issues.

There is a command that can be issued `tune_control stop` that will stop the beep.

I think there is more to think about here:

Is the scope just SD card beep or any beep for that matter?

There are dependencies on having a working system (in this case an SD card)

[2018-10-09 19:06] Antiheavy commented on #9869
Here is another flight log that shows some airspeed innovations that could be used as false positive example (also, maybe there is a bug with what is happening on the ground vs in the air?):
https://review.px4.io/plot_app?log=7498be6c-0e18-4ea4-963b-c5c8c2456937

[2018-10-09 19:09] jonathan84clark commented on #10210
Its too bad it has to work like that. I2C is supposed to be plug and play. It seems inconvenient to have to re-wire the GPS port to work as I2C.
I know that ArduPilot doesn't have any issues using the I2C bus in the center of the Pixhawk 2.1. I wonder if there is an issue in PX4 with that particular port?

[2018-10-09 19:24] rhamrah opened #10671 "I get Error [px4flow] PASS when I run px4flow test in mavlink console! (PX4Flow+EKF2)"
Hi,
I am using an optical flow sensor which has a sonar, plus EKF estimator, not using GPS. The flow sensor is connected to a Pixhawk through I2C port. The QGC version I am using is 3.4.4 the latest one, and the PX4 firmware is 1.8.0dev for a zmr250 racer airframe. I've also set all required parameters in qgrouncontrol as:
[code]
and I am receiving and seeing all optical flow data on Mavlink Inspe

[2018-10-09 21:57] hamishwillee commented on #10210
@bkueng This highlights possible problem with I2C driver. Essentially pixy IR-lock camera works on the GPS connector I2C port on Pixhawk2 but not on the "dedicated" I2C port. Is there some thing we can do to help these guys help us find root cause?

[2018-10-09 22:41] hamishwillee commented on #6389
@dagar

Yes, that can be invoked as a target from the IDE. This can still be done, but now you would have attach to the running process somehow, which is a lot less easy to explain.

[2018-10-09 22:44] hamishwillee commented on #6389
FYI, sounds like our debugging story is generally a bit wobbly: https://github.com/PX4/Devguide/issues/625

[2018-10-10 01:34] hamishwillee opened #10672 "Should UAVCAN Motor parameters be in the documentation?"
The XML output of our generated parameter doc injects this file of [UAVCAN Motor Parameters](https://github.com/PX4/Firmware/blob/master/src/lib/parameters/parameters_injected.xml) (which presumably goes to QGC).

This is not included in the documented Full parameter reference (markdown). Is this a bug? (ie should I add this?)

[2018-10-10 02:35] dagar commented on #10672
The entire thing is worth reviewing in detail. Last I tried the uavcan parameter sync wasn't working correctly anymore. FYI @mhkabir

We also have a full UAVCAN setup headed to the test flight team.

[2018-10-10 08:07] bkueng commented on #10210
Yes we can change the default port or scan all ports. @DanielePettenuzzo is the right one for that :)

[2018-10-10 11:51] davids5 commented on #2145
@rhamrah the console. See https://dev.px4.io/en/debug/system_console.html

[2018-10-10 12:13] DanielePettenuzzo commented on #10210
@jonathan84clark @roboflot With this PR you can start the driver with the -b argument on any bus: https://github.com/PX4/Firmware/pull/10673. It is explained inside the pr. I will also implement the -a argument to scan all busses. Let me know if it works.

[2018-10-10 14:58] roboflot commented on #10210
I've just installed the latest master and I confirm IR-Lock successfully starts with "irlock start -b 4" on I2C A port. No tricky wiring needed! Holybro Pixhawk 4 FMU_v5.
I also tried my other sensors together with IR-Lock on the same bus (PX4Flow and LW20 Lidar) and they all work fine.
@DanielePettenuzzo The "-a" option (like in sf1xx lidar driver) will be very helpful. Thank you )

@ALL Thank yo

[2018-10-10 16:06] dagar opened #10674 "Review NuttX I2C DMA"
- look into DMA per I2C

[2018-10-10 16:07] davids5 commented on #10064
@dagar should we add the LED https://github.com/PX4/Firmware/pull/10579 ?

[2018-10-10 16:10] raygamero commented on #10659
I flew an extensive test on this using the lidar lite on 1.8 and found that this only works in position mode.  In position mode the aircraft slows its descent appropriately.  Land and RTL  modes just use MPC_LAND_SPEED.

[2018-10-10 17:01] dagar commented on #10064
Yes, and consider if a Pixhawk 4 mini backport is viable.

[2018-10-10 20:15] moreba1 commented on #10185
I have an idea for RTL. This idea needs to change in autopilot code and the Qgroundcontrol software . we can design a landing pattern such as a fixed wing landing pattern using the software. The UAV must returns to a loiter(altitude) waypoint in FW mode ,Then when it’s reach to direction of home, it must at that altitude start the transition to to MC and reach to the top of the home. Then reduce t

[2018-10-10 20:15] moreba1 commented on #8906
I have an idea for RTL. This idea needs to change in autopilot code and the Qgroundcontrol software . we can design a landing pattern such as a fixed wing landing pattern using the software. The UAV must returns to a loiter(altitude) waypoint in FW mode ,Then when it’s reach to direction of home, it must at that altitude start the transition to to MC and reach to the top of the home. Then reduce t

[2018-10-10 22:01] DanielePettenuzzo commented on #10434
@tonight123 @tubeme this pr:
https://github.com/PX4/Firmware/pull/10578 was merged last week into master. Now the v3HP works on i2c.

[2018-10-10 22:03] hamishwillee commented on #10210
Thanks @DanielePettenuzzo (and @roboflot for testing).

@DanielePettenuzzo @bkueng This is cool, but even if you add the `-a`  option it isn't very "plug'n'play". What I'd love to see is landing estimator and irlock driver in firmware [by default](https://docs.px4.io/en/advanced_features/precland.html), and driver/module startup configured via parameters. Any chance of that happening?

[2018-10-10 23:39] GregGoldman opened #10677 "Dodecarotor cox bottom rotors don't spin"
Hi all,

I am trying to use the dodecarotor cox configuration on a pixhawk 2 using QGroundControl. Unfortunately, none of the bottom rotors spin when connected to the aux ports. I tried probing the pins with an oscilloscope: the main pins do just fine, but the aux pins get no signal. Is this a known issue, and has anyone used this build successfully?

[2018-10-11 00:04] priseborough commented on #9869
I've created a prototype here: https://github.com/priseborough/Firmware/tree/airSpdFailsafe-wip

The next steps are:

- Make the required SITL mods to test it.
- Evaluate use of height loss, throttle and current draw criteria as an additional criteria.

[2018-10-11 03:00] mcsauder opened #10678 "CI Failures due to Clang Tidy in unrelated files to active PR"
**Describe the bug**
Hi, I'm having trouble with active PRs due to Clang Tidy failures in files not touched by my active PR.  The root cause of the failures is not entirely obvious, and this occurrence has appeared to affect multiple PR's in the past few weeks. (And... Yes, I will also do some digging into fixing this bug that I am filing. ;) )

**To Reproduce**
Submit a PR.  Wait for CI tools to

[2018-10-11 07:56] DanielePettenuzzo commented on #9881
@ecmnet is this issue solved?

[2018-10-11 08:41] Crowdedlight commented on #10210
I can confirm the changes made it possible to start irlock on "I2C 2" with `irlock start -b 2` on pixkhawk 2.1. I am working together with @F1nsk and we got it running now. We will be doing a test-flight in a couple of weeks to confirm it works "in the air".

Thanks for fixing it!

[2018-10-11 08:55] DanielePettenuzzo commented on #10210
@hamishwillee I can add the -a option in the driver so that we can then use a param in the startup script. When the param is enabled we start the driver with the -a flag so all available busses are scanned.

[2018-10-11 09:28] DanielePettenuzzo commented on #10058
@priseborough these are two more logs similar to the ones Ricardo sent you. I enabled log from boot. Let me know if these are more useful otherwise we can get more, also with different drag coefficients.
Log1: https://review.px4.io/plot_app?log=ac2c3202-98bb-40ac-a2d9-69e1db93c6de
Log2: https://review.px4.io/plot_app?log=fbeefadb-a01b-4735-9aa7-860d602c1d92

For future logs we will also mount the

[2018-10-11 09:32] sanderux opened #10679 "Position setpoint drift during takeoff"
A strange update in the local position setpoint seems to occur during takeoff on a fairly recent branch (few weeks old):

https://review.px4.io/plot_app?log=1d33a68b-c88b-420c-8e8f-4a4382675963

During a mission, The vehicle takes off 4 meters in the air then suddenly changes position. as seen on local position setpoint X/Y. it does resume its takeoff to final altitude.

The position it moved to s

[2018-10-11 09:37] sanderux commented on #10679
Possible cause:
https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/mc_pos_control_main.cpp#L670-L697

@Stifael

[2018-10-11 10:00] sanderux commented on #10679
@Stifael our branch did not yet have this one:
https://github.com/PX4/Firmware/blame/55b9f76a162d10976ad2ec79a4efa250b81a03cb/src/modules/mc_pos_control/mc_pos_control_main.cpp#L695-L696

Could that be the cause?

[2018-10-11 13:09] DanieleVeri commented on #6389
@hamishwillee
is there something wrong in my debug config?

[2018-10-11 13:09] DanieleVeri commented on #6389
@hamishwillee
is there something wrong in my debug config?

[2018-10-11 13:13] sanderux commented on #10679
MIS_TAKEOFF_ALT was set to 15. The setpoint takeoff was 60m
Here's another log where i cherry-picked your flight-task reactivate, it indeed did not help.
https://logs.px4.io/plot_app?log=ebb2fcdc-418e-44cb-b42e-8f60340595c8

[2018-10-11 13:17] flochir commented on #10058
Don't know if it's the same issue, but we also see height drops after quick deceleration to stop - on our open frame test setup as well as with the flight control in a surrounding housing:
https://logs.px4.io/plot_app?log=f67e07f2-954b-44f4-a512-ee8942f885bd

The best example is from approx 0:40 to 0:52 in the video. The flight was in position mode, and during this time span the throttle stick was

[2018-10-11 13:51] RicardoM17 commented on #10058
@flochir Looking at the video the behavior is very identical. We also get the drops in altitude after a roll/pitch to stop the horizontal motion and maintain position. Can you share some pictures of your setup? Especially on the mounting of the FC. Is it hard mounted?

Also do you also get a slow but continuous drop in altitude when you roll/pitch for a longer period (say 2-3 sec) even at a lower

[2018-10-11 14:06] flochir commented on #10058
For the continuous drop I can't tell. Possibly, but it didn't catch my eye. But next flight I will test that.
The FC is hard mounted using 3M double sided pads.

Here are some pictures of our quick test setup:
![20181009_102052](https://user-images.githubusercontent.com/38494856/46809383-a13c9980-cd6e-11e8-8767-74a77dd6cb96.jpg)

![20181011_160052](https://user-images.githubusercontent.com/3849485

[2018-10-11 14:29] flochir commented on #10058
One more detail - observed a dropping in altitude during a strong breeze from the side while holding position - dropped 1 m, then I had to correct up. After the breeze stopped, the system climbed about 2m on itself.

[2018-10-11 14:50] mhkabir commented on #10672
We currently don't have a proper maintainer for UAVCAN. @pavel-kirienko is your best choice :)

[2018-10-11 15:04] pavel-kirienko commented on #10672
I am probably the least wrong person to ask about that, but I am pretty far from being a maintainer of anything in PX4.

[2018-10-11 15:20] dagar commented on #10672
@mhkabir @pavel-kirienko perhaps we could do a coordinated pass to ensure all UAVCAN functionality in PX4 is working as intended. From that point I'll volunteer to keep it working with help from @PX4/testflights and CI.

[2018-10-11 15:33] davids5 commented on #10589
In a resent PR SYS_USE_IO is set to 0 here https://github.com/PX4/Firmware/blob/master/ROMFS/px4fmu_common/init.d/rcS#L377 for the mini.

@jamming OK to close?

[2018-10-11 15:38] ealdaz commented on #10655
We are experiencing issues with the headings reported by the internal magnetometers on the cube, so was interested by this article, however the sensor_mag command doesn't seem to work in the same way as per the posts.
We are using Pixhawk 2.1 and Firmware 1.8.0

The command seems to ignore the flags -i X
[code]

[2018-10-11 15:47] sanderux commented on #10679
I tried disabling the vx and vy modifications during takeoff, that seems to make it smoother, but at takeoff it still has a little offset it seems, but no more sudden jerk.
https://logs.px4.io/plot_app?log=bb6cc36f-2797-43c7-9fd7-cfe18ef8cb41

[2018-10-11 15:53] pavel-kirienko commented on #10672
@dagar this is much appreciated. You might be aware that we are currently drafting up UAVCAN v1.0 (finally), which is going to fix one glaring design mistake in UAVCAN v0 at the cost of offering somewhat limited backward compatibility. Please follow our progress here: https://forum.uavcan.org/c/dev

[2018-10-11 22:05] priseborough commented on #10058
@DanielePettenuzzo Isolating the board will help with tuning the EKF2_BCOEF parameters. The vibration makes the specific force observations very noisy and masks the effect of tuning changes in the innovation sequence. After filtering the plotted innovation values, I was able to determine that a EKF2_BCOEF value of 23 gave a reasonable innovation sequence:

![screen shot 2018-10-12 at 8 36 35 am](h

[2018-10-11 22:18] priseborough commented on #10058
I forgot to mention in the previous post that when tuning the EKF2_PCOEF_Y value, the baro observation noise EKF2_BARO_NOISE was also increased from the default value of 2.0  to 3.0. Ideally this would be made dynamic so that when the copter was hovering with minimal manoeuvre acceleration it would use the default value, but increase when the length of the gravity compensated acceleration vector i

[2018-10-11 22:28] hamishwillee commented on #10210
That is awesome. This should be default behaviour for every sensor and peripheral (ie user should be able to turn things on an off through UI). Only exception would be fmuv2, where they might have to uncomment the drivers.

[2018-10-11 22:47] hamishwillee commented on #6389
@DanieleVeri I don't know. I'm involved in documentation work for PX4 though, so trying to get answers to this and similar questions so that we can update the documentation. This issue is unrelated to [your question on GDB debugging](https://github.com/PX4/Devguide/issues/625) - I just linked to show that we need a more clear story on debugging, and this is part of that.

This is somewhat covered

[2018-10-11 22:47] hamishwillee commented on #6389
@dagar So can you tell me if there is a SITL build target for use in the IDE still (as per https://github.com/PX4/Firmware/issues/6389#issuecomment-428377970) or whether there should be one. Essentially, what do we expect people to do so I can update the docs.

[2018-10-12 08:19] Stifael commented on #6855
@bresch can you add your findings as well?

[2018-10-12 13:40] RicardoM17 commented on #10058
@priseborough here is the log of the new test flight we did today:

https://logs.px4.io/plot_app?log=cdc0ab30-8105-48b3-981a-fab2b73724e4

The behavior is about the same. I included more forward/backward motions so that you can tune the X parameters as well. One particularly interesting detail was that in this flight log when we rolled right it lost altitude when it was braking while when we rolle

[2018-10-12 17:17] moreba1 commented on #8906
what is your opinion؟  @tubeme  @dagar @sanderux

[2018-10-12 19:20] Seeelefant commented on #10672
That`s strongly appreciated 🥇 .  Currently we have more than one UAVCAN compatibility problem within PX4, whereas the CAN bus is honestly made for such environments like UAVs, much more reliable thatI2C

[2018-10-12 20:35] fredowski commented on #10678
The same for PR #10414 .

[2018-10-13 00:29] adipandas opened #10684 "FCU not responding to OFFBOARD MODE on pixhawk v1.8.0dev"
I am trying to send the pixhawk commands in offboard mode.
I had the things working before mavros showed the following messages.
I am not sure what is wrong.

It will be great if anyone can provide help.

I have my rosnode output as follows:
[code]

I am sending the following topic message:
[code]

MAVROS output is as follows:

[code]

I have previously used the same mavros_msg to command pixhawk.

[2018-10-14 12:12] ecmnet commented on #9881
Yes, it‘s solves

[2018-10-14 12:12] #9881 closed

[2018-10-14 12:14] ecmnet commented on #10102
Solved

[2018-10-14 12:14] #10102 closed

[2018-10-14 12:15] ecmnet commented on #10101
Solved

[2018-10-14 12:15] #10101 closed

[2018-10-14 22:50] hamishwillee commented on #10672
@pavel-kirienko @dagar @mhkabir So the way I read @dagar 's response was we need your help to get this to good state which we can then maintain. To keep this moving along, when is a reasonable time for you guys to work together on this co-ordinated pass?

[2018-10-15 03:58] priseborough commented on #9869
I was able to make some further progress on this and in addition to the EKF innovation checks, have added a normal load factor sanity check that flags when the measured air speed is not plausible given the measured aerodynamic load factor. This relies on the correct setting of the COM_ASPD_STALL parameter but does enable faster detection of pitot tube blockage after launch.

[2018-10-15 04:12] priseborough commented on #9869
I evaluate another check based on pitch angle, throttle and airspeed, but it required more physical parameters to be set and was not as fast as the normal load factor method in detection of a blocked pitot tube condition so abandoned the approach.

We will also need to modify the takeoff controller to abort of the airspeed doesn't rise by the time ground speed has exceeded the stall speed. Hand/ca

[2018-10-15 04:14] worstprogrammerCN commented on #9409
That works for me. Besides, you can run ```find /usr -name libgtk3-nocsd.so.0 -print``` to find it.

[2018-10-15 06:37] imambungo commented on #9409
Happy to help :blush:

[2018-10-15 11:09] baumanta opened #10686 "Consistantly failing preflight checks"
**Describe the bug**
In SITL ROS with gazebo: After launching the simulation, the drone can not be armed. The error statements say: "Primary accelerometer not found" if I try to arm, the I get "Arm/Disarm temporarily rejected"

This happens for any Firmware version after this [commit](https://github.com/PX4/Firmware/commit/c7e572d2c2bb21ae3dfdbff637022946d9f9b72c)

**To Reproduce**
Steps to reprod

[2018-10-15 11:53] #10684 closed

[2018-10-15 11:57] mrivi commented on #10686
@dagar @baumanta I saw this as well. The problem is that the parameters are not correctly loaded and `CAL_*_PRIME` is always 0.

[2018-10-15 13:58] dagar commented on #10686
Let's get something in the CI system representative of this usage.
I thought you would have hit the default parameters here https://github.com/PX4/Firmware/blob/master/ROMFS/px4fmu_common/init.d-posix/rcS#L98, but apparently not.

[2018-10-15 15:19] dagar commented on #10678
@fredowski that particular one was a real failure that slipped into master.

@lamping7 this might be a case where it's acceptable to retry once after a failure.

[2018-10-15 15:40] dagar commented on #10679
The first log (https://review.px4.io/plot_app?log=1d33a68b-c88b-420c-8e8f-4a4382675963) appears to be the result of initiating mission and then moving the vehicle.

When the mission is first evaluated a TAKEOFF mission item is created at the current location. This is poor navigator behaviour that can be fixed.

[2018-10-16 02:59] JadWehbeh opened #10692 "Cannot obtain logs for multi-vehicle SITL simulation"
.ulg files cannot be found after enabling logging for a single vehicle as part of a multi-vehicle simulation. Logger states it has started a log file, opened it, written a certain number of bytes to it, and closed it, but the file cannot be found anywhere.

I am using the [multi_uav_mavros_sitl.launch](https://github.com/PX4/Firmware/blob/master/launch/multi_uav_mavros_sitl.launch) file modified t

[2018-10-16 04:02] priseborough commented on #10495
The input shaping applied to the  height and height rate demand inside the TECS _update_height_setpoint function

https://github.com/PX4/ecl/blob/master/tecs/tecs.cpp#L250-L257

can be improved by making the time constant of LPF able to be explicitly set via a parameter. To eliminate overshoot this cannot be much less than the TECS time constant FW_T_TIME_CONST.

This will need to be done in conju

[2018-10-16 05:11] tubeme commented on #10495
@priseborough Look at what we came upon while tuning the hrate_ff gain.

In 1.8 we see much better response but still the same behavior on manual control.

https://github.com/PX4/Firmware/issues/8941#issuecomment-371755785

[2018-10-16 05:36] priseborough commented on #10495
I've done some Matlab simulation work on an alternative algorithm for the input shaping. It works for ramps and steps, noting that with step inputs, any use of a predictor or integrator term to eliminate height error must result in overshoot as neither TECS or the input shaping filter have future knowledge of when the ramp will level off and the vehicle dynamics cannot perform the infinite acceler

[2018-10-16 07:03] LorenzMeier commented on #10495
@bresch Could you please contribute here? It sounds like we should try to do what we’re doing for multicopter as well for TECS here.

[2018-10-16 07:37] priseborough commented on #10495
It is also worth noting that lag free tracking of a time varying hight input is most important during approach and flare. At other times in flight, eg climbing or descending between waypoints, some lag is normally not an issue. Other autopilot projects using the TECS algorithm work around this by applying the feed-forward correction during landing approach only. This would be an effective short te

[2018-10-16 08:22] MaEtUgR opened #10693 "Performance issues on Windows that didn't exist before"
**Describe the bug**
Inconsistent and unexpected simulation performance issues when running SITL jMAVsim on Windows that end up in messages like this and very small to huge visible twitches in the simulation result. It can even lead to loss of global position and a crash of the simulated vehicle.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Fast desktop computer with Windows 10
2.

[2018-10-16 08:44] tomcattigerkkk opened #10694 "posix_sitl_default gazebo error with OpenCV 4"
when I pull Firmware through git and make the project posix_sitl_default gazebo, there occurs an error. Has anyone met this error before?

`ninja: Entering directory `/home/arnold/Develop/Firmware/build/posix_sitl_default'
[3/7] Performing configure step for 'sitl_gazebo'
-- install-prefix: /usr/local
-- Boost version: 1.58.0
-- Found the following Boost libraries:
-- system
-- thread
-- timer
--

[2018-10-16 09:31] MaEtUgR commented on #10098
@amitmc19 I'm sorry I think I misinterpreted your problem. It seems the exact problem in your description is still not fixed. I made a workaround for the simulation not starting because of the bash shell startup script. But I still have performance issues see https://github.com/PX4/Firmware/issues/10693

@evgenee PX4 1.8 release should work fine on Cygwin. If you mean Microsoft Visual C++ build by

[2018-10-16 10:18] RomanBapst commented on #10679
@sanderux Can you explain exactly how to reproduce this behavior? I tried various things in SITL but cannot reproduce a large offset like this.
As @dagar  said the takeoff position setpoint is created [here](https://github.com/PX4/Firmware/blob/master/src/modules/navigator/mission_block.cpp#L626) as soon as the takeoff mode is activated. So even after a reposition it should use the current positio

[2018-10-16 10:27] flochir commented on #10058
@priseborough did you observe the direction of wind while it showed that asymmetric behaviour? Breaking against the wind our system dropped, while with the winded it maintained its height. It didn't really rise though.

[2018-10-16 11:18] TSC21 commented on #10694
What version of OpenCV you have "really" installed on your computer? Cause I see calls to OpenCV 2 on the build process...

[2018-10-16 12:01] andrespalomino opened #10695 "Mocap message data lost for few seconds and fail to estimate local position (LPE)"
Hi all,
I'm having some issues of missing data when publishing on /mavros/mocap/pose. It suddenly happens in some tests and the local position estimation fails due to those small gaps on the mocap message.
I'm using 921600 bauds for the companion link and mocap data is streamed at 20hz from the onboard pc to pixhawk.

I'm also making sure the points of the mocap arrives consistently to the onboard

[2018-10-16 12:06] TSC21 commented on #10695
LPE suffered some major changes since latest PX4 stable release. I advise you to try upstream master instead and come back to us with results.

[2018-10-16 14:10] bresch commented on #6855
During missions, for example in a survey, the yaw setpoint has large jumps at each waypoint and a pitch is commanded at the same time. Everything seems correct during the flight, but when looking at the log, the estimated roll is far from its setpoint. When the yaw setpoint is reached, the signals are perfectly aligned again.
Example: https://logs.px4.io/plot_app?log=bd578b0d-995d-4cfd-a4d6-abb7cc

[2018-10-16 14:58] bresch commented on #10495
@priseborough I wrote a library to generate a time-optimal, jerk limited (bang-bang) trajectory based on desired velocity for multicopter velocity control mode (see the [PR](https://github.com/PX4/Firmware/pull/10696)). Position or velocity can be used as the input of the controller and one or several derivative(s) can be used as feedforwards. We could use the same for FW manual control: the input

[2018-10-16 15:10] RomanBapst commented on #10539
@Stifael In the past the position controller worked based on control flags (vehicle_control_mode) and not directly based on the navigation state. So if you did a transition in position control mode the commander would temporarily during the transition set the flag_control_position_enabled and flag_control_velocity_enabled to false which made the position controller just control altitude (via throt

[2018-10-16 16:34] RicardoM17 commented on #10058
@flochir I believe you meant to tag me?

And I did not note the direction of the wind but iirc there wasn't too much wind and given the speeds that we were moving it was probably more due to an assymetry in the Pixhawk board than to the wind direction. But I will remember next time to do the same motions but while facing a different direction.

[2018-10-16 17:19] dsathian opened #10698 "Qgc your vehicle is not responding"
Im getting this error when i connect pixhawk 4 to qgc through USB.. i am able to update firmware but im not seeing others options like sensor etc. In the device manager it shows MindPx(com3),
how to fix this?

[2018-10-16 17:55] AlexisTM commented on #10655
Could it simply be a wrong driver due to the many versions available?

https://github.com/ArduPilot/ardupilot/issues/6633#issuecomment-316697574

[code]

[2018-10-16 18:10] AlexisTM commented on #10655
https://github.com/ArduPilot/ardupilot/issues/6633#issuecomment-349816217

Could be this: 10k between 5V and GND to solve a brownout issue on the compass of the HERE.

Will not solve the 90° of the Cube2.1

[2018-10-16 20:15] dagar commented on #10495
In an old PR that was never merged I moved the navigator altitude ramp handling into the FW position controller. https://github.com/PX4/Firmware/pull/8883

[2018-10-16 20:42] dakejahl opened #10700 "GPS_RAW_INT -- time since boot vs unix epoch"
![selection_010](https://user-images.githubusercontent.com/37091262/47045194-762bbe80-d14f-11e8-9fce-1d23ed521f0b.png)

I'm not sure when this changed from UNIX epoch to time since boot, we only just noticed it. Is there a way to configure this? We'd really like to use the GPS time to sync our offboard clock.

[2018-10-16 20:43] #10700 closed

[2018-10-16 22:52] hamishwillee commented on #10693
@julianoes Will your SITL changes likely help with this issue?

[2018-10-17 02:01] revantad commented on #6364
@mzahana Hey, I am facing a similar issue and I see you have fixed it. What I am currently doing is publishing motion capture data to `/mavros/vision_pose/pose` and this data is visible on QGC in the correct format.
The parameters `EKF_AID_MASK`, `EKF2_HGT_MODE` and `EKF2_EV_DELAY` are set to the values you mentioned in your comment but when the `/mavros/local_position/pose` is echoed only the `Z`

[2018-10-17 02:12] jfcisneros commented on #10360
Sorry for the delay. I just did the recommended testing without the motors running.
Both of the logs were recorded with v1.8.0
**Hand Held Test**
https://review.px4.io/plot_app?log=4c726610-db8d-472b-924f-2359e13b0f54
![altitude](https://user-images.githubusercontent.com/26313163/47057680-9b7ff300-d176-11e8-964e-e73a7b4f901f.png)

**Altitude Hold**
https://review.px4.io/plot_app?log=074083e5-d457-

[2018-10-17 03:13] hamishwillee opened #10706 "Improve the module doc parser - subcategories/empty defaults"
Propose the following improvements to the [docs API/tooling](https://github.com/PX4/Firmware/blob/v1.8.0/src/platforms/px4_module.h) for the [module documentation](https://dev.px4.io/en/middleware/modules_main.html)

1. Support for sub-categories.
   - This is intended for categories like rangefinders - would be hard to find among all the other drivers.
   - This might be defined like:
[code]

[2018-10-17 03:14] hamishwillee commented on #10706
@bkueng I've assigned this to you as best person to work on the script. As discussed in https://github.com/PX4/Firmware/pull/10676#issuecomment-430471579

When/if you do this I can go back and fix up the other example (or you could do it as part of testing?)

[2018-10-17 04:14] mzahana commented on #6364
@revantad How does the X/Y values look like? Are they flipped?
Also, try to tune the `EKF2_EV_DELAY`; see [this comment](https://github.com/PX4/Devguide/pull/573#discussion_r209867749)

[2018-10-17 04:35] mzahana commented on #6364
@revantad Try to tune the `EKF2_EV_DELAY`. Probably you need to decrease its value.

[2018-10-17 04:36] revantad commented on #6364
@mzahana Thanks for the help. Will try it and update the thread.

[2018-10-17 05:05] julianoes commented on #10693
Not in principle but I'm now debugging issues like this hoping to find out why uorb drops messages.

[2018-10-17 08:34] bkueng commented on #10706
I can look into it (though I can't promise it will be soon).

[2018-10-17 08:44] hamishwillee commented on #10706
Thanks. No urgency!

[2018-10-17 10:18] andrespalomino commented on #10695
I believe the LPE could improve by using the master but the missing mocap/pose data could still be present? Do you have any thoughts why this could be happening?

[2018-10-17 10:56] TSC21 commented on #10695
I would check the link between the onboard computer and the PX4. Also, which baud rate are you using?

[2018-10-17 12:29] AlexisTM commented on #10655
The Z magnetometer shows a negative value for the HERE magnetometer. That one should be positive

[2018-10-17 14:52] tomcattigerkkk commented on #10694
hi, @TSC21
I've solved this problem by adding
`set (CMAKE_CXX_STANDARD 11)`
in the file 'Firmware/Tools/sitl_gazebo/external/OpticalFlow/CMakeLists.txt' to make sure the c++ standard be 11.
I'm not sure if this is an individual problem or a bug.

[2018-10-17 14:59] #10694 closed

[2018-10-17 14:59] TSC21 commented on #10694
It's a corner case. This doesn't happen in the current setup we support.

[2018-10-17 19:22] dakejahl opened #10712 "Restore LNDMC_THR_RANGE for faster disarm on land"
As of https://github.com/PX4/Firmware/commits/master/src/modules/land_detector the land detector cannot be configured to transition from `ground_contact` to `maybe_landed` via the now deprecated parameter LNDMC_THR_RANGE.

It now takes a considerable amount of time to disarm due to throttle down time.
https://review.px4.io/plot_app?log=43987a80-5752-4f55-89a7-eec60e9298c3
![selection_011](https://

[2018-10-17 20:09] rhamrah commented on #2145
Thanks David, it really helped. Could you please let me know of your ideas/comments on the question I asked in #10671 ?

[2018-10-17 22:11] davids5 commented on #10671
@rhamrah I think it is a bug. The macro used to print the result should be PX4_INFO() https://github.com/PX4/Firmware/blob/master/src/drivers/px4flow/px4flow.cpp#L933 but this fle has not been reworked: errx needs to be expunghed and the correct PX4_{INFO|ERR...} macros used.

[2018-10-18 00:01] rhamrah commented on #5072
How do you use Position mode without using GPS? In https://docs.px4.io/en/flight_modes/position_mc.html they say this mode requires GPS. I am using Px4flow sensor for x and y and tfmini for z direction without any GPS and EKF estimator. In Altitude mode, the drone maintains the altitude but drifts in x and y directions. Do you think Position mode will take care of these x-y drifts without using GP

[2018-10-18 02:29] DonLakeFlyer commented on #10657
I wouldn't base this on what QGC may or may not put prior to a takeoff command. I would base this on what commands are invalid prior to a takeoff command which would lead to a mission which doesn't make sense. Only the firmware really knows the answer to that and should be able to implement knowing nothing about what QGC does or does not do. It needs to classify mission commands internally somehow

[2018-10-18 03:01] mujahid-abdulrahim opened #10718 "Build Failed: "Recipe for Target 'px4fmu-v2_default' failed""
I have been trying to build the px4 firmware for the px4fmu-v2, but I continue to get an error message:

"recipe for target px4fmu-v2_default failed"

There are numerous threads/bug reports on this issue, and I've tried to implement the recommended solution.  Initially, it seemed as though the problem was that I was using gcc 4.2 and the build was a few bytes too large for the 1MB limit on Pixhawk

[2018-10-18 03:42] hamishwillee commented on #10718
Try reinstall by following [these instructions](http://dev.px4.io/en/setup/dev_env_linux_ubuntu.html#nuttx-based-hardware)?

If you have never had PX4 builds working on this machine then I would use the [build scripts here](http://dev.px4.io/en/setup/dev_env_linux.html)

[2018-10-18 05:12] bkueng commented on #10712
You can configure `COM_DISARM_LAND` to less than a second.
@MaEtUgR anything else?

[2018-10-18 11:42] shortcut21 commented on #10589
Hello, guys!
I am trying to set up 115200 baud rate to Pixhawk 3 Pro and LairdTech 2.4ghz telemetry modules set at 115200 baud rate. I read that in the QGroundControl I need to set the sys_companion to 921600, but it's still not working. ( I am using the Firmware v1.8.0 stable) What should I do?

[2018-10-18 11:56] davids5 commented on #10589
@hamishwillee Is the the case for 1.8.0 stable?

[2018-10-18 15:32] mujahid-abdulrahim commented on #10718
Thanks for your suggestion.  I tried reinstalling it per those suggestions, but I received the same error.

I had previously built PX4 on this machine, and the misconfiguration resulted from trying to update GCC to resolve the 'recipe for target failed' error.

[2018-10-18 15:38] dakejahl commented on #10712
I do have a question, why does it take so long for the vehicle to throttle down after ground contact?
![selection_011](https://user-images.githubusercontent.com/37091262/47166314-21a45280-d2b9-11e8-9904-21629217dc47.png)

[2018-10-18 15:39] CarlOlsson opened #10720 "Option to use on-board RGB LED for status reporting during temp cal"
**Describe problem solved by the proposed feature**
In the online temperature calibration the status is indicated by an external RGB LED. However, if I want to calibrate a large number of Pixracers at the time it becomes cumbersome to connect anything to the boards.

**Describe your preferred solution**
Add an option to use the on-board LED instead

**Additional context**
I want to add this featur

[2018-10-18 17:27] Avysuarez opened #10722 "Nano Talon crash"
Today I flew the nano talon with the new airframe parameters, I started to fly in stabilized, when I changed to auto the plane accelerated and it went into tailspin, i could not recover it and it crashed. The damage is the frame, @mrpollo  can we order a frame, I will coordinate with Tony to send you the information. @dagar  any thoughts? @fredowski
[
![img_3256](https://user-images.githubusercont

[2018-10-18 19:44] vincedjango opened #10723 "CPPCheck returns 328 internal error"
**Describe the bug**
CPPCheck returns 328 strange Information errors. All errors are always on the first line (Line 0) and it does not show anything wrong.
I do not think it's a CPPCheck issue, since I have be

[code]

**To Reproduce**
1.
To enable Information error:
File: Firmware/Makefile
Line: 383
Modification: Change --enable=performance to --enable=all

.i.e: @cppcheck -i$(SRC_DIR)/src/exampl

[2018-10-18 22:00] hamishwillee commented on #10718
I'm sorry, not sure what to suggest then. Between builds though you should do a `make distclean` to really really clean up build artifacts. The scripts definitely work on a clean build of Ubuntu 16.04.

[2018-10-18 23:02] hamishwillee commented on #10589
@davids5 No. The docs reflect master.

[2018-10-19 04:41] julianoes commented on #5072
This thread is closed. @rhamrah please create a new issue for your question.

[2018-10-19 08:57] kuiskas opened #10724 "Upstream Sitl not connecting to QGroundControl"
**Describe the bug**
Tried to connect QgroundControl  with SITL but not working anymore with upstream (Hope is not only my setup).

**To Reproduce**
Steps to reproduce the behavior:
1. Execute Upstream QGroundControl
2. Execute upstream Sitl, ex: make posix_sitl_default gazebo
3. Try to connect to UDP

**Additional context**
I can connect with latest stable and upstream from QGC &   latest stable

[2018-10-19 09:46] MegaYEye opened #10725 "/mavros/setpoint_raw/attitude.orientation not working in the latest Firmware"
**Describe the bug**
By using /mavros/setpoint_raw/attitude.orientation, I cannot change the posture of the iris quadrotor  in the latest firmware (like 1.8.0).

However, if I am back to the v1.7.0 firmware, everything is okay. So I am sure that my code and mavros package are working correctly.

**To Reproduce**
1、run Gazebo iris simulation with mavros. by using both firmware v1.8.0 and v1.7.0
2、s

[2018-10-19 10:37] #10590 closed

[2018-10-20 20:55] tingtingxing commented on #8634
Hello all,
I have the similar problem with @yousafbinfarrukh and I have done all of the steps like @mzahana said here. I connected the PX4Flow with Pixhawk via I2C for positioning in door.
As I can see in the Mavlink Inspector in QGC, the Flow message (OPTICAL_FLOW_RAD) can be received but the local position is always 0 (both LOCAL_POSITION_NED_x and LOCAL_POSITION_NED_y).
It seems that local posi

[2018-10-21 05:15] fredowski commented on #10722
O.k. that one crashed... Looking at the pitch in flight review, the plane cannot follow your pitch requests. In addition your pitch mixer input (actuator control) is more or less always positive. Is your center of gravity o.k.?

[2018-10-21 07:15] AlexisTM commented on #8634
You've to enable the fusion parameter and ensure the flow quality is high (~200+)

[2018-10-21 07:30] JohnSnowball opened #10731 "vtol crash during normal flight"
Plane lost radio during mission, then we waited until we thought the plane should be back, afterwards we drove along the mission waypoints, then we found plane crashed, upside down on the ground with **fixed-wing pusher still running**!!!!   I checked log, found no error shown, however, log stopped while plane is flying.

here is the log link:
https://logs.px4.io/plot_app?log=152bee65-95b5-4211-ad

[2018-10-21 09:29] LorenzMeier commented on #10731
Can't really comment on it as you're flying non-standard software. Where is the source code for it?

[2018-10-21 11:02] JohnSnowball commented on #10731
@LorenzMeier  Code is derived from master v1.6, I added a RTK gps driver and nothing more...

[2018-10-21 11:14] LorenzMeier commented on #10731
the last v1.6 release was well over a year ago plus adding an RTK driver can indeed cause software faults, so I'm closing this. We, unfortunately, can't offer free support on the community level for old releases and customized software. Feel free to reach out to one of the companies offering commercial support: http://px4.io/commercial-support/

[2018-10-21 11:14] #10731 closed

[2018-10-21 15:10] tingtingxing commented on #8634
@AlexisTM
Thank you so much about the reply. The flow quality of my PX4Flow was lower than 200 before.
After changing the surface, to which the PX4Flow faces, now the flow quality is higher than 200 during the test.

About the fusion parameter:
EKF2_AID_MASK was set to 2
SYS_MC_EST_GROUP was set to 2

But the LOCAL_POSITION_NED.x and -.y are still keeping zero.
Did I forgotten to set some other pa

[2018-10-21 16:12] garfieldG opened #10732 "MC land detector question"
Hi,

After looking at the land detector code I have a questions :
1. Why do we use vz in https://github.com/PX4/Firmware/blob/26e85736a52f5dd6cf2395c06a151d17ae0512f1/src/modules/land_detector/MulticopterLandDetector.cpp#L193, but we use derived z in https://github.com/PX4/Firmware/blob/26e85736a52f5dd6cf2395c06a151d17ae0512f1/src/modules/land_detector/MulticopterLandDetector.cpp#L200? shouldn't w

[2018-10-22 07:21] mikeisted commented on #10254
I have the same issue following instructions at https://github.com/Microsoft/AirSim/blob/master/docs/px4_build.md.
The folder firmware does not contain the folder posix.
I'm working with Ubuntu 16.04.

Appreciate the advice from hamishwillee, but it's not clear what target is required (tried none_iris), but the posix folder is still not created.

[2018-10-22 09:28] RomanBapst commented on #10539
@Stifael @MaEtUgR ping

[2018-10-22 09:41] RomanBapst opened #10734 "FlightTask disable velocity control not working"
**Describe the bug**
In the FlightTask.hpp header there it the following [statement](https://github.com/PX4/Firmware/blob/master/src/lib/FlightTasks/tasks/FlightTask/FlightTask.hpp#L187):

This is not true anymore if the current velocity of the vehicle exceeds the maximum velocity of the vehicle.
In that case the velocity setpoint will be constrained to the maximum allowed velocity [here](https://

[2018-10-22 09:53] RomanBapst opened #10735 "Bug in FlightTask interface"
**Describe the bug**
In the FlightTask.hpp header there is the following [statement](https://github.com/PX4/Firmware/blob/master/src/lib/FlightTasks/tasks/FlightTask/FlightTask.hpp#L187)

According to that statement any NAN setpoint that a flighttask creates should not be controlled. This is not true in case of the velocity setpoint when the vehicle exceeds the maximum velocity.
In that case the p

[2018-10-22 10:58] RomanBapst opened #10737 "FlightTask Interface Bug"
**Describe the bug**
In the FlightTask.hpp header there is the following [statement](https://github.com/PX4/Firmware/blob/master/src/lib/FlightTasks/tasks/FlightTask/FlightTask.hpp#L187)

According to that statement any NAN setpoint that a flighttask creates should not be controlled. This is not true in case of the velocity setpoint when the vehicle exceeds the maximum velocity.
In that case the p

[2018-10-22 11:25] Stifael commented on #10734
There is an interface-mapping [https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/PositionControl.cpp#L100] in the PositionControl file who should take care of it.
What probably is mission from

is that one set of sepoint needs to be valid [here](https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/PositionControl.cpp#L110-L169) (either position, velocity or t

[2018-10-22 11:27] Stifael commented on #10734
Did you not receive a failsafe message?

[2018-10-22 12:57] RomanBapst commented on #10734
@Stifael Thanks for the description!

It's definitely not going into failsafe mode.

I'm exactly doing that! This is the code from my flighttask:

[code]

I 'm really sure the problem is right [here](https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/PositionControl.cpp#L221) when the maximum velocity of the vehicle is exceeded.

[2018-10-22 16:10] Stifael commented on #10734
Your implementation seems to be correct and is the same as used in altitude, that is why I am a bit skeptical why it shouldn't work.

Let's go though PositionControl file with the inputs from above:
- xy: pos_sp(0/1)=pos(0/1) [here](https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/PositionControl.cpp#L151) and vel_sp(0/1)=vel(0/1) [here](https://github.com/PX4/Firmware/blob/m

[2018-10-22 17:11] Stifael commented on #10734
Ok, now I understand it what you mean.
Yep, the logic breaks when the velocity is larger than the max.

[2018-10-22 19:51] hdiethelm opened #10740 "lis3mdl with two sensors not working"
I found a problem with the starting order if two lis3mdl sensors are available.

Version: stable branch

In QGroundControl PREFLIGHT FAIL: MAG 1 SELFTEST FAILED showed up, so I tested some things.

Configuration: Pixracer r15 with lis3mdl onboard and lis3mdl on GPS module:
https://store.mrobotics.io/mRo-GPS-u-Blox-Neo-M8N-HMC5983-Compass-p/mro-gps003-mr.htm

In the default rc.sensors for PX4FMU_V4

[2018-10-22 20:03] RomanBapst commented on #10734
@Stifael Hm, are you sure this will work? If you set the setpoint to zero any non-zero velocity will create a velocity error.
Looking at the code I'm actually confused about something else now
https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/PositionControl.cpp#L280

What if I demand a zero thrust setpoint in xy direction? Wouldn't in that case the position controller ignore

[2018-10-22 20:12] dakejahl commented on #10740
I can take a look at the code tomorrow and see what's going on. @dagar we should `ModuleBase` and `Mag` this driver. Idk if I want to do it, but it would be good to move all drivers in that direction yeah?

[2018-10-22 20:33] hdiethelm commented on #10740
Just looked at the code and I think I found the bug:
lis3mdl::start(bus_id, rotation) called with LIS3MDL_BUS_ALL initializes all in a loop.
Next, lis3mdl::calibrate(bus_id) and lis3mdl::init(bus_id) access just the first device.

Now if the first device is initialized first and then the second with LIS3MDL_BUS_ALL, the calls to
lis3mdl::calibrate(bus_id) and lis3mdl::init(bus_id) go to the first

[2018-10-22 20:48] Antiheavy commented on #9148
Fault detection and failsafe would be nice to add to the discussion here - see related issue post:
https://github.com/PX4/Firmware/issues/9869

[2018-10-22 21:28] Stifael commented on #10734
I meant to set the velocity and velocity-setpoint to 0 as it is done [here] (https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/PositionControl.cpp#L161) when there is no velocity estimation present. The same can be done with position and position setpoint.

About:
https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/PositionControl.cpp#L280

The point follows

[2018-10-22 21:50] Avysuarez commented on #10722
Before the crash, I made a flight and the plane flew very well, the center of gravity was OK.

[2018-10-23 02:16] dakejahl commented on #10740
@hdiethelm If you'd like to fix this and submit a PR I'd be happy to review and help test the code. I feel I should warn you the LIS3MDL is very temperature sensitive. We found that exceeding +/- 10°C from the temperature at which the device was calibrated is enough to cause unstable flights and fly-aways. We've since switched to using the AK8963 on board the mpu9250 as our primary mag sensor.

[2018-10-23 03:49] hamishwillee commented on #10254
@mikeisted @ganscool86 Sorry, forgot about this until saw @mikeisted post.

I don't know the answer for sure, but I am fairly sure you can _probably_ make and start this using the make command below:
[code]

Try that please.

[2018-10-23 04:01] hamishwillee commented on #10254
@bkueng Can I get some advice here please.
1. The airsim instructions previously stated that SITL ekf2/iris should be started as
[code]
   I have suggested that the equivalent is:
[code]
   - Can you confirm (this looks about right according to [Simulation](https://dev.px4.io/en/simulation/) and [System Startup](https://dev.px4.io/en/concept/system_startup.html))?
   - There do not appear to be an

[2018-10-23 04:08] nikan8 opened #10743 "TFMini LIDAR not working on v5 board"
Hello everyone,
please advise on the following issue
When plugged into any of the serial ports on the Pixhawk4 (Holybro) board, TFMini Lidar's readings fail to show up on QGC (the Distance_Sensor variable is not present), even though the parameter SENS_EN_TFMINI is set to '1' (Enable). The issue disappears when the same Lidar gets connected to FMU v2 board running PX4.

To reproduce:
1. take a new

[2018-10-23 04:19] mhkabir commented on #10743
The driver is not started ln the correct port for  FMUv5 in v1.8

In master, this has changed and now serial ports are configured differently. https://docs.px4.io/en/peripherals/serial_configuration.html

[2018-10-23 04:32] nikan8 commented on #10743
Apologize for a lot of newbie asking, where can I find 'master' release? thank you.

[2018-10-23 04:33] mhkabir commented on #10743
Flash the Developer Build through Qgroundcontrol

[2018-10-23 04:34] nikan8 commented on #10743
thank you. much appreciated.

[2018-10-23 04:56] nikan8 commented on #10743
Just another quick question to clarify, if I flash developer build, will I be able to configure SENS_TFMINI_CFG and SER_TEL4_BAUD? Thank you.

[2018-10-23 05:53] fredowski commented on #10722
Do you have a flight log of the flight which was o.k.? Which setup did you use for that flight? Before I introduced the Mini Talon airframe, I used the Albatross A-Tail including the parameters but with reversed servos and flipped V-Tail servo connection. How did you setup the nano talon?

[2018-10-23 05:57] #10424 closed

[2018-10-23 06:01] #10284 closed

[2018-10-23 06:45] roseyangyu opened #10744 "get paramter"
how to get this paramter?
![default](https://user-images.githubusercontent.com/40378941/47340921-3ece8c00-d6d2-11e8-98a2-a167ef4dbda1.png)

ORB_ID(vehicle_command)?

[2018-10-23 07:10] thomasgubler commented on #10424
@hamishwillee could you reach out to @priseborough and make sure we have documentation for this new feature

[2018-10-23 07:12] thomasgubler commented on #10284
@hamishwillee this one needs documentation as well (@priseborough knows the details)

[2018-10-23 11:14] liruihao commented on #8473
I have encountered the same problem, have you solved it?

Kind Regards,

[2018-10-23 11:44] nikan8 commented on #10743
mhkabir, could you please advise where in the code (stable build) serial port assignment is made for RFMINI rangefinder?

[2018-10-23 12:35] nikan8 commented on #10743
the issue is resolved. thank you

[2018-10-23 12:35] #10743 closed

[2018-10-23 12:40] mccandlt commented on #9521
I am running into this same issue.  I have a RPI 3B+ and the Navio2.  I am using the current image from Emlid (which is Stretch).  GPS works fine with Ardupilot.  When I run PX4, I get Status:NOT OK.

Is the Jessie image still available?  I did not see a way to get to it from the Emlid website.

More importantly, has anyone been looking into the root cause of the issue?  I was going to start looki

[2018-10-23 13:10] mhkabir commented on #10743
@nikan8 What were the changes necessary? Can you share it soon that we fix it/backport it?

[2018-10-23 13:46] fi92 commented on #10301
Hi!

My lidar is LW20/B. It is not working with default settings with Pixhawk 2.1 I2C2 because of two reasons:

+ Lightware sensors need to be configured properly at first, according to Rob Gowans from LightWare (https://discuss.ardupilot.org/t/lw20-c-laser-altimeter/31450/33). You can do it with use of LightWareUpgrader software:
      + Connect with use of UART TTL - USB adapter to lidar.

[2018-10-23 15:33] mccandlt commented on #9521
I think I have found the issue and resolved it for my purposes.  I would consider this a bug in PX4.  I will say what I did to resolve the issue and if there is someone that is more familiar with the development process for PX4 maybe they can incorporate a proper fix in the main code.

I think the main issue was that the SPI clock was going too fast.  I found this link on the RPI forum.
https://ww

[2018-10-23 15:51] nikan8 commented on #10743
I just set Sys_companion=0 so that TELEM 2 port is free of MAVLInk, and connected TFMINI to TELEM2, as the code seemed to indicate pls see [(https://github.com/PX4/Firmware/blob/stable/ROMFS/px4fmu_common/init.d/rc.sensors)]

[2018-10-23 15:57] nikan8 commented on #10743
Ideally, it may be better to have a parameter like sens_en_tfmini in stable build to be able to choose a port of one's own liking. But anyway, thanks for your support.

[2018-10-23 16:10] rhamrah commented on #10671
Thanks David for your comment. I think I have a similar issue with LidarLite. I can see values of `Distance_sensor` in Mavlink inspector and I also see `range_finder0` when I run `ls /dev` , but in console I receive following errors and warnings:

![screenshot from 2018-10-23 11-50-00](https://user-images.githubusercontent.com/44004328/47373469-ef7c6180-d6b9-11e8-8678-6d5d86f8105a.png)

and the dr

[2018-10-23 17:48] hdiethelm commented on #10740
^^Sorry about all the messages. As you see, I'm working on it. But I did not know that github tracks references on issues and just force pushed on my own branch. ;-)
It's more complicated to make multiple device handling with one driver as it seamed at first glance, but I think i found a way. I still have to test it.

[2018-10-23 17:54] dakejahl commented on #10740
I've done this work already with `ModuleBaseMulti` as found in https://github.com/PX4/Firmware/blob/985f645cdc62a68f1d9348b817256ccf8ae6eb50/src/platforms/px4_module_multi.h

which is part of #10602

[2018-10-23 18:03] FrancescoDAlterio opened #10747 "ERROR:bootloader reports invalid operation"
I am trying to upload the version of the PX4 flight controller on Intel-aero ready to fly drone.

I have followed those guides:

https://dev.px4.io/en/setup/building_px4.html

https://docs.px4.io/en/flight_controller/intel_aero.html

but anytime I try to run the command: make aerofc-v1_default upload, the sistem erases the old flight controller but while installing the new one (the PROGRAMING phas

[2018-10-23 18:40] fredowski commented on #10722
Thanks for the info. Did you use the same hardware setup, i.e. were the servos attached to the same outputs? I noticed a difference in the two setups with respect to the yaw.

![nano-talon-albatross-setup](https://user-images.githubusercontent.com/1280457/47381782-1447f780-d701-11e8-9693-2a5f9dddd339.JPG)
![nano-talon-vtail-setup](https://user-images.githubusercontent.com/1280457/47381794-1b6f0580

[2018-10-23 20:48] dakejahl commented on #10412
Haven't seen this since September, FlightTasks has seen lots of good work since then. Closing this.

[2018-10-23 20:48] #10412 closed

[2018-10-23 21:20] hdiethelm commented on #10740
ModuleBaseMulti looks quite nice, however, I have already finished the modifications and tested them. At the moment, I have no time porting all to the new framework. Might be later.
I just create a pull request.

[2018-10-23 23:29] hamishwillee commented on #10747
@zehortigoza This something you could help with?

[2018-10-23 23:45] zehortigoza commented on #10747
I will try to look at this but in the mean time you can copy the firmware to Aero RTF board by hand(I don't remember where the firmware is build now) and then use Aero script to flash it: aerofc-update.sh <firmware>

[2018-10-23 23:50] hamishwillee commented on #10671
@rhamrah I think Serial 5 is the one labelled [Debug here](https://docs.px4.io/en/flight_controller/pixhawk-2.html#debug-ports) - there should be enough info at that link (or the pinout linked from that doc) to confirm.

[2018-10-24 00:43] rhamrah commented on #10671
Thanks Hamish for your response. I just found out that Serial 5 is actually the CONS port which stands for console (http://www.hex.aero/wp-content/uploads/2016/07/DRS_Pixhawk-2-17th-march-2016.pdf , page 15). It has three pins GND, RX, and TX respectively. I connected a FTDI cable to those pins and I could screen that port in a terminal window.

[2018-10-24 01:10] hamishwillee commented on #10671
THanks @rhamrah - CONS makes sense once I look at the diagram again :-)

[2018-10-24 01:13] hamishwillee commented on #8473
@liruihao Please don't append to old closed issues - there is a good chance no one is looking.

The build works find on the supported OS - Ubuntu 16.04 - if you follow the instructions in https://dev.px4.io/en/setup/dev_env.html

[2018-10-24 03:42] HLDoo commented on #10106
Excuse me. Which flow sensor did you use?
I also want to add flow with my pixhawk4 too. And the release ver. says "support crazyfiles2.0 flow deck"
For safety, I have sent an Email to Bitcraze. Hope to get some useful information.

[2018-10-24 03:53] mhkabir commented on #10106
@DanielePettenuzzo Looks like your multi-bus scanning magic is needed here :)

[2018-10-24 06:06] hamishwillee commented on #10284
@thomasgubler Sure. I have created https://github.com/PX4/Devguide/issues/636 to find out from @priseborough what needs to be documented.

[2018-10-24 07:21] DanielePettenuzzo commented on #10106
Are you using the I2CA port on the pixhawk 4? The scanning of this port in the px4flow driver was added to master after the 1.8 release.

[2018-10-24 07:31] bkueng commented on #9521
Thanks for looking into this @mccandlt. PR is here: https://github.com/PX4/Firmware/pull/10749

[2018-10-24 09:06] MaEtUgR commented on #10712
@dakejahl You found the weak point of the land detection. I also noticed that with the default PX4 tuning parameters it usually takes very long to detect landing. With our specific build we tuned the altitude control and `LNDMC_THR_RANGE` and `COM_DISARM_LAND` such that it detects landing very quickly (I would say faster than the DJI Phantom 4 did in my tests). The problem with the defaults is tha

[2018-10-24 09:57] aogrcs commented on #9283
@hamishwillee Hi, what's your mean of clean Ubuntu 16.04, I run it in VMwrae on windows. I open it, update and upgrade, the using ubuntu_sim_common_deps.sh, but there is the same error. Somebody said that it might be caused by the version of opengl, which should be 3.1 or higher, but it was 3.0 now? Thanks

[2018-10-24 13:06] Ankur1014 opened #10751 "Firmware compilation issue"
**Describe the bug**
The compilation of PX4 Firmware is failing with a different syndrome every time. Every time, I use the command 'make px4fmu-v5_default' to build, I encounter a new issue. I have listed some of the syndromes below.

**Syndrome 1:**
/mnt/c/px4/Firmware/build/nuttx_px4fmu-v2_default/NuttX/nuttx/include/arch/irq.h:53:10: fatal error: arch/chip/irq.h: No such file or directory

**S

[2018-10-24 13:30] kuiskas commented on #10724
Hi,
thanks for answering. With upstream, I meant latest master from the PX4 repo.
- I am working with arch & docker container on ubuntu 16.06.  QGC 3.4.4 (altough I tried in other versions).
- I did run distclean but still not connection.
- When I run `make posix_sitl_default gazebo`,  SITL starts, but not possible connection with udp 14556

btw. I can connect with the v1.7.3 stable without proble

[2018-10-24 13:50] kuiskas opened #10752 "HIL no position lock"
**Describe the bug**
When I try HIL I cannot use any flight mode that implies GPS, altough QGC shown a 3d lock.
Always getting a ERROR rejecting "flightmode" no position lock yet.Please retry.
**To Reproduce**
Steps to reproduce the behavior:
1. Start HIL
2. Try for example `commander takeoff` on the mavlink console.

**Log Files and Screenshots**
![seleccion_021](https://user-images.githubusercon

[2018-10-24 14:34] dagar commented on #9738
@davids5 could we somehow have a fresh flash clear the hardfault?

[2018-10-24 15:42] mhkabir commented on #10751
We do not support building on WSL. Cygwin is supported : https://dev.px4.io/en/setup/dev_env_windows.html

[2018-10-24 15:42] #10751 closed

[2018-10-24 16:47] mhkabir commented on #10106
Okay, then closing as already fixed on master.

[2018-10-24 16:47] #10106 closed

[2018-10-24 16:51] theg4sh opened #10754 "compass heading uint16_t overflow"
**Describe the bug**
Passing an negative value in parameters to command DO_REPOSITION makes an invalid value of compass_heading after few seconds.

**To Reproduce**
Steps to reproduce the behavior:
0. Run simulation (probably, the issue could be reproduced in a real life, hadn't check) with, e.g., PX4_HOME_LAT="45.3973425" and PX4_HOME_LON="8.3973425"
1. `rosservice call /mavros/cmd/takeoff "{min_

[2018-10-24 17:37] theg4sh commented on #10754
Workaround in the subscriber's handler could be the following:
[code]

[2018-10-24 21:09] davids5 commented on #9738
@billzyoom - A quick test to see if the issue you had was the same as @mhkabir is to boot only connected to USB. If the PWR led does not flutter (CPU is running bootloader) then the board is damaged and not what @mhkabir experienced. What he noted is fixed in #10756

[2018-10-24 21:11] davids5 commented on #9738
@billzyoom - I would be happy to troubleshoot the issue if you wish to send me the board. Jut contact me as david_s5 on slack or skype.

[2018-10-24 21:48] davids5 commented on #10671
Hmm - I never realized the console appeared 2 places.  I have alway used the Drone code debug connector.

The first version of the Drone code debug connector using a SUR connector (SM06B-SURS-TF(LF)(SN)-ND) is wired as:

![image](https://user-images.githubusercontent.com/1945821/47463381-e6af8c80-d79a-11e8-90dd-bfebd95145f8.png)
Not it does not provide the CPU (Target voltage) but 5V

The current

[2018-10-24 22:03] hamishwillee commented on #10671
@proficnc Hi Philip, see the comments above. There has been some confusion about what ports are used for debugging and what connectors to use - ie there is CONS, DEBUG, EDISON DEBUG.

Do you think you guys could update the Cube docs to clarify?
Suggestion, update the [Debug ports](https://docs.px4.io/en/flight_controller/pixhawk-2.html#debug-ports) section to:
- state the use of each of the above

[2018-10-25 00:13] dakejahl opened #10757 "DANGEROUS: VEHICLE_CMD_DO_REPOSITION broken on master"
Had a Drone fly into a pole and smash into the ground when issuing a VEHICLE_CMD_DO_REPOSITION. I looked at the log and everything looked fine. This is broken on current `master` 294af5daada2fa08da8d9f1c4310779683fe9750
https://review.px4.io/plot_app?log=cc6bccfc-44a5-4eca-bc2f-7a4be13a0a7a
![selection_019](https://user-images.githubusercontent.com/37091262/47468014-45ceca80-d7b6-11e8-8a72-808d278

[2018-10-25 02:59] #10712 closed

[2018-10-25 04:00] hamishwillee commented on #10751
As @mhkabir says, Cygwin is the only supported Windows platform.

That said, we do have instructions that have worked previously: https://dev.px4.io/en/setup/dev_env_windows_bash_on_win.html

So if you have set up as per those instructions then it should work (if it doesn't, post a bug against that page in the Devguide (there is icon at top of page for creating bug reports).

But still recommend C

[2018-10-25 04:17] hamishwillee commented on #9283
@aogrcs I have no idea. BUt it looks like @Cody-Chen might: https://github.com/PX4/Firmware/issues/9283#issuecomment-383273485

[2018-10-25 05:52] #9738 closed

[2018-10-25 06:18] bkueng commented on #10752
Can you try with master? There was a fix here: https://github.com/PX4/Firmware/pull/10586.

[2018-10-25 07:52] andrespalomino commented on #10695
I found some communication gaps on the UDP message coming from the mocap message but I changed to EKF2 and now the local estimation works better.

Now, I've a question about the yaw estimation on EKF2 as it seems to diverge sometimes from the vision yaw and EKF Yaw error happens afterwards.  I needed to reboot the system or it takes several minutes to converge to the vision yaw estimate.
Do you ha

[2018-10-25 10:11] F1nsk commented on #10210
Has anyone been able to make IRlock work, while flying?
When I use the CLI command _Irlock Info_  It outputs; _read errors_ which increments while the beacon is  being detected.

[2018-10-25 11:09] TSC21 commented on #9318
@dagar @RomanBapst I can still reproduce this issue. I am trying to test the control surfaces (elevons) using the input of one of the channels but when I switch to Manual I get `Failsafe enabled: no RC` and I am unable to give any inputs to the control surfaces.

[2018-10-25 11:47] RossosHEX opened #10759 "make px4fmu-v5_default menuconfig - does not work"
**Describe the bug**
Board configuration step in porting guide https://dev.px4.io/en/hardware/porting_guide.html
make px4fmu-v5_default menuconfig
does not work

**To Reproduce**
Steps to reproduce the behavior:
$: ./ubuntu_sim_nuttx.sh (from https://dev.px4.io/en/setup/dev_env_linux.html)
$:~/src/Firmware$ make px4fmu-v5_default menuconfig

`$:~/src/Firmware$ make px4fmu-v5_default menuconfig
--

[2018-10-25 13:59] dagar commented on #10757
Do you know when it last worked?

Yes, but it's mainly testing core controller and mission functionality so far. Every feature like this we care about needs targeted testing to prevent these kind of regressions.

[2018-10-25 14:30] dagar commented on #10759
Hi @RossosHEX

You'll need to build and install one of the kconfig tools from NuttX tools. https://bitbucket.org/nuttx/tools/src/master/

Personally I like qconfig, but you need to get the qt dependencies installed.

![image](https://user-images.githubusercontent.com/84712/47507730-bde1d280-d840-11e8-9410-2806a28e7d22.png)

Alternatively you can use the px4-dev-nuttx docker container which has kco

[2018-10-25 14:45] jonathan84clark commented on #10210
Hmmm. I have been able to get it to work flawlessly with ArduPilot.

One thing you should do is make sure you put the right firmware on the Pixy. https://irlock.readme.io/docs/firmwaresoftware-links
That issue actually held me up for a week. I figured that the Ir-lock system would actually have ir-lock firmware on it. I mean, it makes sense right? (IR-LOCK Pixy, IR-LOCK firmware). But no, you need

[2018-10-25 14:51] kuiskas commented on #10724
Sorry I did not check that the new UDP port for SITL is the 14570... Closing this

[2018-10-25 14:51] #10724 closed

[2018-10-25 15:03] bkueng commented on #10757
Agreed.

Fix is here: https://github.com/PX4/Firmware/pull/10760

[2018-10-25 15:05] #10757 closed

[2018-10-25 15:06] dakejahl commented on #10757
Awesome, thanks for the quick fix.

[2018-10-25 17:06] RossosHEX commented on #10759
Hello @dagar ,

Thank you for your reply.

Following your suggestions I did the following:

[code]
It compiled and seemingly installed under /usr/local/lib/
However, neither *menuconfig*, nor *qconfig* see it.
Is it supposed to be under different directory?

![screenshot from 2018-10-25 20-01-52](https://user-images.githubusercontent.com/8318353/47517519-1d67ce80-d891-11e8-84ec-2b1714688c49.png)
!

[2018-10-25 17:20] bkueng commented on #10752
Did you flash the fmu-v2 target? If so, some modules are missing there due to limited flash space. You can update the bootloader (https://docs.px4.io/en/advanced_config/bootloader_update.html) and flash fmu-v3, then it should work.

[2018-10-26 06:02] #10189 closed

[2018-10-26 06:12] siddhu45 opened #10763 "What is the buffer for LPE when switching between estimates in Pixhawk"
I am trying to implement a failsafe in an indoor environment using Pixhawk. I am trying some new things on the drone and want to use motion capture as my own failsafe. whenever the drone is going unstable or the behaviour is not as required, I give a keyboard input which is taken as an action to initiate failsafe. The drone then lands safely using the motion capture system. I am testing a differen

[2018-10-26 06:24] ChrisHughes opened #10764 "Offboard yaw movement causes loss of vertical height EKF2"
PX4 1.8.0 dev + commits up to around mid-september (27b2dad1)

PX4Flow and TFMini lidar, no GPS, indoor flight.

Device holds position in air after mavlink commanded takeoff. When device is commanded to perform a yaw manoeuvre it progressively looses vertical height throughout the course of that manoeuvre. This is tested in real flight, not SITL.

Simplified code describing the actions performed (

[2018-10-26 08:02] siddhu45 commented on #10763
Yes, I have basic understanding and know that instantaneous switch in estimates is not possible.
But what I meant was is there any other work around for this? Thanks!

[2018-10-26 08:28] bresch commented on #10539
Is it maybe related to that part of the code: https://github.com/PX4/Firmware/blob/dc62454f0a0e09b0600885e51017a545a1c668e4/src/lib/FlightTasks/tasks/Auto/FlightTaskAuto.cpp#L515-L534

	// The cases where it differs:
	// 1. The vehicle already passed the target -> go straight to target
	// 2. The vehicle is more than cruise speed in front of previous waypoint -> go straight to previous waypoint
//

[2018-10-26 09:11] Jaeyoung-Lim commented on #10764
@ChrisHughes This might be a hardware limitation on demanding a yaw rate too high.

Is this also a problem wehn the yaw rate is lower?

[2018-10-26 09:59] fredowski commented on #10722
Thanks!

[2018-10-26 14:50] chaolmu opened #10767 "exchanged column for roll and yaw in px_generate_mixers.py"
**Describe the bug**
in some mixer table (mixer_multirotor_*.h), which are generated by px_generate_mixers.py, the yaw column and roll column are exchanged. Supposed order should be roll pitch yaw throttle and varified for hexarotors. However the order for quadrotor x and y is yaw pitch roll throttle.

**To Reproduce**
Steps to reproduce the behavior:
1. change the toml file, e.g. chang Cm of some

[2018-10-26 15:10] dagar commented on #10767
For reference here's the original pull request that added the new mixer generation script. https://github.com/PX4/Firmware/pull/8063

[2018-10-27 03:17] YuYangguang opened #10770 "local position in Gazebo for the quad's hitl"
This week, I tried to use the hitl feature to verify my algorithm in Gazebo. I use the framework of hitl quadcopter, whose autostart parameter is 1001. And I use the iris quad model in Gazebo, whose part parameter is listed as follows:
  <xacro:arg name='name' default='iris' />
  <xacro:arg name='mavlink_addr' default='INADDR_ANY' />
  <xacro:arg name='mavlink_udp_port' default='14560' />
  <xacro

[2018-10-27 03:59] YuYangguang opened #10771 "LPE setup problem"
I want to use the vicon system as the external position estimator. Therefore, I follow the guide [guide](http://dev.px4.io/en/ros/external_position_estimation.html). However,in the latest vesion of the Firmware, I couldn't find the corresponding parameters, such as ATT_EXT_HDG_M. I use the command
"make px4fmu-v2_lpe" to build the code. Is there anything wrong

[2018-10-27 07:34] RomanBapst commented on #10735
Duplicate

[2018-10-27 07:34] #10735 closed

[2018-10-27 07:36] RomanBapst commented on #10737
Duplicate

[2018-10-27 07:36] #10737 closed

[2018-10-27 07:42] RomanBapst commented on #10732
@garfieldG I'm not too familiar with that code but I think it has to do with the fact that the estimated velocity can have a considerable bias when landing which makes land detection harder. The derivative of the height state might suffer less and I think that's why it's used.

[2018-10-27 11:48] #10722 closed

[2018-10-27 20:31] tubeme commented on #10185
Ping ping @RomanBapst @bresch @sanderux @LorenzMeier

We almost crashed today again.

We hit the geofence, we did not program mission to have a landing pattern and it triggered RTL during flight.

The only thing that saved the plane was that we were flying pretty low at 100 meters.

If we had a 400m with drained battery from the returning flight I'm pretty sure it would have been a crash and a dif

[2018-10-27 21:52] LorenzMeier commented on #10185
@tubeme There are different use cases with different priorities. What you are describing is not really a software fault but something that in your (very particular) operating configuration is understandably an issue. You're more than welcome to contribute the required change or, alternatively, engage with one of the organizations offering commercial support for PX4 to get it added at a faster pace

[2018-10-28 12:40] okalachev opened #10775 "EKF2 doesn't publish any state with vision + vision yaw aiding before vision data received"
This is reproduced on a real drone and in SITL on any version, e .g. 1.8.1 (the latest).

When using Q + LPE setup, you can aid vision position, but you still can fly without it in STABILIZED mode. It's pretty useful, because you can use one setup for autonomous flying and for normal manual flying.

On EKF2, the state is not getting initialised before any vision position messages published. Despit

[2018-10-28 15:01] dagar commented on #10775
The first thing we could do is lock it down. Something like requiring a valid attitude for arming if you're in a mode requiring attitude. The stricter option would be to reject entering stabilized mode, which might be more annoying for the typical use case.

@priseborough @mhkabir any suggestions for the desired solution of having usable attitude estimate with EKF2 prior to providing vision input?

[2018-10-28 15:13] okalachev commented on #10775
Maybe just make EKF2 to estimate the attitude even without the vision yaw? The initial yaw can be taken from the magnetometer or (indoors, where magnetometer works poorly) just set to zero.

For me, the most useful behaviour would be like this:

EKF2 estimates everything even without any vision input. Yaw is set to 0 (OR to magnetometer yaw), local position is set to (0, 0, 0). As I understand, wh

[2018-10-28 15:13] dagar commented on #10064
Release v1.8.1 published https://github.com/PX4/Firmware/releases/tag/v1.8.1