[2016-03-11 13:35] LorenzMeier opened #3981 "Telemetry string output handling on QuRT"
@mcharleb @jywilson It is pretty important to us to have a way to transport string messages from QuRT to our application layer on the Linux side. We could do this via muORB if we implement buffering.

Currently the call to the non-existent string device results in these errors:
[code]

[2016-03-11 16:31] AndreasAntener commented on #3964
@tops4u no, Loiter in APM is position control in PX4. And the mission progress is not reset when using any other mode.

[2016-03-11 16:40] AndreasAntener commented on #3964
@DonLakeFlyer does it go into failsafe in your case (no joystick connected)? It could revert back to the mode `NAVIGATION_STATE_AUTO_RTGS` which would then show as unknown.

[2016-03-11 16:47] DonLakeFlyer commented on #3964
Yes it does go into failsafe

[2016-03-11 16:58] kd0aij commented on #3953
9250-only flight test. No problems with yaw drift in stabilize or acro modes
http://logs.uaventure.com/view/NhsomSnFjyNjFgV7okCLE8

[2016-03-11 17:01] pkocmoud opened #3982 "PixRacer Mag Calibration fails after the 9250 MAG support was added."
With the addition of the new MAG source, a dynamic method for determining if a MAG is healthy needs to be implemented.

![image](https://cloud.githubusercontent.com/assets/7053372/13709241/7801a116-e778-11e5-8cfe-28180d172d5d.png)

[2016-03-11 17:06] kd0aij commented on #3953
![9250_thrust_yaw](https://cloud.githubusercontent.com/assets/2300221/13709373/ea98cd9c-e770-11e5-8d91-147dd9f5efd9.png)

[2016-03-11 17:11] kd0aij commented on #3953
for reference, no yaw deviation with very large throttle variation when in acro mode:
![acro_thrust_yaw](https://cloud.githubusercontent.com/assets/2300221/13709500/9aa4222c-e771-11e5-98b7-334b1751a985.png)

[2016-03-11 19:21] LorenzMeier opened #3983 "SITL (jMAVSIM) broken on master"
@tumbili Would be great if you could have a look as soon as feasible.

To repro:
[code]

[2016-03-11 19:52] dagar commented on #2246
Would it be reasonable to require having a landing (and approach) waypoint defined? Then going into LAND mode would jump straight to the land portion of the mission.

[2016-03-11 19:59] DonLakeFlyer commented on #2246
Why isn't that RTL with one or more MAV_CMD_DO_LAND_START items in your mission?

[2016-03-11 20:40] DonLakeFlyer opened #3985 "Problems with optional calibration parameters and device id semantics"
First problem:
The device id for a sensor is only set during carlibration. This means that there is no way for QGC to know when a new sensor has been added that needs calibration. This puts QGC and firmware out of sync with respect to messages whether sensors need cal. Firmware says yes in this case and messages that, but QGC shows no issue.

ArduPilot handles this slightly differently which leads

[2016-03-11 21:00] DonLakeFlyer opened #3987 "Flight Mode, RC Channel parameter meta data cleanup"
* Flight mode names should not be in "ALL CAPS".
* "Rc Channel ##" seems a bit noisy as well. Why not just "Channel ##", or even just "##"?

As short as possible, but still conferring correct meaning to user is key here. The reason is that long strings for these causes issues on small displays like phones. So whatever can be done would be appreciated.

Once the naming is worked out, QGC needs to c

[2016-03-11 21:11] kd0aij commented on #3982
@pkocmoud  fix to allow you to calibrate the 9250 mag
https://github.com/PX4/Firmware/pull/3988

[2016-03-11 21:17] AndreasAntener commented on #3983
@LorenzMeier also gazebo SITL stopped working for me on master, Iris and Standard VTOL. Takeoff makes it crash pretty much right away.

[2016-03-11 23:10] crzx5 opened #3990 "Gazebo SITL broken"
Iris model takes off, then immediately crashes.

[2016-03-11 23:31] tubeme commented on #3967
@DonLakeFlyer I think some sort of slider on the bottom only at the "us" current setting would be better than the blue ribbon  starting from 1000us. Or it could be a blue arrow kind of triangle not a slider.

[2016-03-11 23:49] locustcox commented on #3990
+1. To replicate:

First run make posix_sitl_default gazebo
Then, type "commander takeoff"
The quadrotor will shoot up into the sky, fall back down, bounce, and repeat a few times before finally flipping over.

[2016-03-11 23:55] #3911 closed

[2016-03-12 00:11] tubeme opened #3991 "ALTCTL, POSCTL Throttle and Altitude."
Hello,

What is the latest functioning of the throttle in the Assisted modes now? IE is the throttle centered at 1500us and at this throttle the plane is holding the altitude. With the increase of throttle you gain altitude slowly, with the decrease you loose altitude slowly. Like in the MC.

Also if I pitch up at centered throttle will I gain alt? and vice versa pitch down will dive?

If throttle

[2016-03-12 01:14] dagar commented on #3987
Ideas:
AUTO:PAUSE -> Hold
AUTO:RTL -> Home
AUTO:MISSION -> Nav
ALTCTL -> Altitude
POSCTL -> for fixedwing position doesn't really make sense, maybe Heading or Track

[2016-03-12 01:18] dagar commented on #3991
Throttle is airspeed min - max. Neutral (1500) is trim airspeed. If landed and 0 throttle then the motor will stop as a safety feature.

Now that I think of it switching the Throttle and Pitch sticks in FW ALTCTL/POSCTL would probably make more sense and be consistent with MC.

[2016-03-12 02:20] DonLakeFlyer commented on #3987
I'd try to be as close to ArduPilot as possible since there are a decent number of people coming across now. Which means the main confusing is around Loiter/PosCtl.

[2016-03-12 07:08] AndreasAntener commented on #3983
https://github.com/PX4/Firmware/issues/3990

[2016-03-12 07:23] GervaisK opened #3992 "Bat_V_Scaling assignment / Battery Voltage calibration doesn´t work."
No matter, what is changed @ BAT_V_Scaling, Voltage display doesn´t change.

![1 bat voltage calibration](https://cloud.githubusercontent.com/assets/17418003/13721595/375e3688-e82c-11e5-92c6-14bda953b252.jpg)

![2 bat voltage calibration](https://cloud.githubusercontent.com/assets/17418003/13721597/3b69f582-e82c-11e5-8607-e9360b3a866e.jpg)

[2016-03-12 08:07] LorenzMeier commented on #3992
The negative -1 value is to indicate "default". If you use a positive number it will change.

[2016-03-12 08:07] #3992 closed

[2016-03-12 08:08] LorenzMeier commented on #3990
Duplicate of #3983, closing.

[2016-03-12 08:08] #3990 closed

[2016-03-12 08:39] LorenzMeier commented on #3987
There are more DJI users and we want to steal from their user base, not from APMs.

[2016-03-12 08:59] GervaisK commented on #3992
Ok,thx. Since this is not obvious, could we set a 0.011 (or whatever is assigned, for me its 0.0109 there ?

[2016-03-12 09:01] LorenzMeier commented on #3992
No, because it varies per board, and the default value tells it to use the board default. What we could do is to create a documentation page for it.

[2016-03-12 11:16] LorenzMeier commented on #3983
Fixed

[2016-03-12 11:16] #3983 closed

[2016-03-12 11:17] LorenzMeier commented on #3957
Please refer to this existing PR which already works: https://github.com/PX4/Firmware/pull/3814

[2016-03-12 11:17] #3957 closed

[2016-03-12 11:17] LorenzMeier commented on #3982
Worked around on master.

[2016-03-12 11:17] #3982 closed

[2016-03-12 11:17] LorenzMeier commented on #3931
Fixed.

[2016-03-12 11:17] #3931 closed

[2016-03-12 11:18] LorenzMeier commented on #3930
Fixed on master.

[2016-03-12 11:18] #3930 closed

[2016-03-12 14:15] ecmnet commented on #3977
This, in my opinion, also applies at least to pitch/roll control in offboard-mode (if RC is available).

[2016-03-12 15:20] LorenzMeier commented on #3987
@DonLakeFlyer Changed on master to:
[code]
Please close this once you have the renaming in QGC In.

[2016-03-12 15:20] LorenzMeier commented on #3987
Ah and I shortened the channels.

[2016-03-12 16:21] LorenzMeier opened #3993 "Power status report wrong in Pixracer"
Might be related to having the circuit breaker set.
[code]

[2016-03-12 16:55] DonLakeFlyer commented on #3987
Awesome. I'll update QGC. Great point on DJI.

[2016-03-12 16:55] DonLakeFlyer commented on #3987
Also did you bump to minor version number so it will override older meta data?

[2016-03-13 01:33] sn0west commented on #3978
Normal or not? Anyone on this?

[2016-03-13 02:00] DonLakeFlyer commented on #3966
More strangeness. If your mission ends at a waypoint (not a land item) it will still do an RTL after it hits the last waypoint!

[2016-03-13 02:30] dagar commented on #3978
It's not just you. In the next version of QGroundControl you'll be able to click a waypoint to restart the mission.
When would you like the mission to reset?

[2016-03-13 02:57] DonLakeFlyer commented on #3978
I think it should reset after you've landed.

[2016-03-13 03:54] dagar opened #3996 "param @unit cleanup"
I'm going to review all param @unit usage to enable QGroundControl unit conversions. https://github.com/mavlink/qgroundcontrol/pull/3007

@DonLakeFlyer @LorenzMeier  Let's discuss what we'd like to use because there's a lot of inconsistency.

deg/degree/degrees/degrees * 1e7
m/meter/meters
s/second/seconds/ms/milliseconds/us
m/s/s m/s^2
Hz 1/s
% percentage

When to use None or blank?
@unit SD?

Is

[2016-03-13 06:08] brendanogrady1 opened #3997 "Excessive offset for mag 0"
cal] ERROR: Excessive offset for mag 0
[cal] calibration failed: mag
[PX4 sensor calibration txt.txt](https://github.com/PX4/Firmware/files/170794/PX4.sensor.calibration.txt.txt)

[2016-03-13 10:07] LorenzMeier commented on #3966
Only if you have no RC control, which is perfectly fine / correct. Use a joystick to avoid that.

[2016-03-13 10:09] sn0west commented on #3978
The copter doesn't desarm, after landing. So I don't know what makes more sense. To desarm after landing and the reset the mission or after landing. But then you actually still in thr mission. So in my opinion it's better to disarm after landing and then reset it.

[2016-03-13 10:57] AndreasAntener commented on #3966
The message sequence is unfortunately the logic outcome of the states it goes through, I don't think that's a problem.
For your second issue, instead of having a joystick, enable data com loss: COM_DL_LOSS_EN

[2016-03-13 11:00] AndreasAntener commented on #3978
I'd suggest we reset when disarming, a mission could include a landing.

[2016-03-13 11:22] LorenzMeier commented on #3913
This should be fixed on master.

[2016-03-13 11:22] #3913 closed

[2016-03-13 11:56] #3870 closed

[2016-03-13 11:56] LorenzMeier commented on #3967
I'm looking at this today. Might need a call with Don to understand the details.

[2016-03-13 11:57] LorenzMeier commented on #3925
Is this still open?

[2016-03-13 12:04] tubeme commented on #3925
I use the default config with 1-4 quad; 5,6 elevons; 7 pusher, but with 400hz on all. No problem with digital servos. There will be problem with analog ones. So I solved this for myself, but still there is a flow if I have analog servos. Of course I might lower the 5,6,7,8 to 50hz in this case but then the pusher will work also on 50hz.

I can close it?

[2016-03-13 12:44] tubeme commented on #3991
I've seen different variants of the handling in POSCTL and ALTCTL during development.

Can some of the core devs kind of summarize all the variants for the throttle and altitude handling tried in ALTCTL and POSCTL during development. It seems to me that the only difference between these two modes now is the course handling. IE keeping course and alt vs just keeping altitude.

What is the strategy

[2016-03-13 12:49] tubeme commented on #3991
Thanks @dagar

I've seen different implementations of the throttle and pitch behavior in ALTCTL and POSCLT during development.

What is the strategy for gaining or decreasing altitude in a gentle manner? Let say if I want to increase altitude gently I will use pitch command. What is going on with the throttle at this time? If the throttle is at middle, or extreme position?

It seems to me that now

[2016-03-13 12:59] kd0aij commented on #3997
try latest master (see 8e4a1ca)
note that your offsets didn't get saved in the list you posted

[2016-03-13 13:03] kd0aij commented on #3997
also, make sure to minimize stray magnetic fields influencing the magnetometer, or it won't work well

[2016-03-13 13:03] Inspirati commented on #3997
pls note: i found i had to import your patch in order to have my work on
the new LIS3MDL driver pass the calibration routines expectations too..
(excess offsets)

On 13 March 2016 at 23:59, Mark Whitehorn <notifications@github.com> wrote:

[2016-03-13 13:12] Inspirati commented on #3997
thanks Mark, i found while just now doing development testing, that the
lis2mdl device would never report negative z-axis values, (at first thought
about bus corruption problems), until i waved the device over my laptop
computer!), whaalaay, problem solved and i successful moved onto completing
calibration..//

[2016-03-13 17:15] DonLakeFlyer commented on #3978
There is a parameter to turn that on. It's is not currently the default, but it should be.

[2016-03-13 17:17] DonLakeFlyer commented on #3966
How do I controll the vehicle with only a tablet?

[2016-03-13 17:20] LorenzMeier commented on #3645
Done!

[2016-03-13 17:20] #3645 closed

[2016-03-13 17:21] DonLakeFlyer commented on #3996
deg, m, sec, ms, us, m/s/s, hz, %

You could mark @unit boolean and I can pick that up and turn it into a an enum on the QGC side.

[2016-03-13 17:22] LorenzMeier commented on #3722
@CarlOlsson Did we get anywhere with this? Its still pretty important for baro accuracy.

[2016-03-13 17:29] LorenzMeier commented on #3987
I just did on master. No pull against QGC in yet. Probably makes most sense if you do this.

[2016-03-13 17:29] #3987 closed

[2016-03-13 17:33] LorenzMeier commented on #3967
I will have time to flight-test this with my team of the month. Thanks Don!

[2016-03-13 17:36] LorenzMeier commented on #1683
Not relevant.

[2016-03-13 17:36] #1683 closed

[2016-03-13 17:39] dagar commented on #3996
Thanks, I'll start doing this

     @unit boolean

equivalent to

     @unit enum
     @value 0 Disabled
     @value 1 Enabled
     @min 0
     @max 1

[2016-03-13 18:12] DonLakeFlyer commented on #3987
The minor version number bump is in the firmware parameter python parser, not QGC. Whenever you have parameter meta data changes which you want to override previous meta data you need to bump that minor number.

[2016-03-13 18:13] LorenzMeier commented on #3987
And that's what I did. Someone still needs to copy the file across, because your primary user base is using Android, and those don't get it from the Firmware.

[2016-03-13 18:17] DonLakeFlyer commented on #3987
Ah, yeah. Good point. We need to change that so meta data can download from the web based on vehicle settings.

[2016-03-13 18:49] LorenzMeier commented on #3964
@DonLakeFlyer Fixed in c29bfcd and on QGC master (mode indication for RTGS).

[2016-03-13 18:49] #3964 closed

[2016-03-13 18:52] LorenzMeier opened #4001 "Voltage indication wrong for Pixracer when running with ACSP4"
@kd0aij It would be great if you could do some bench tests on the voltage output and adjust the scaling value here: https://github.com/PX4/Firmware/blob/master/src/modules/sensors/sensors.cpp#L868

[2016-03-13 19:00] LorenzMeier commented on #3972
@dagar It would be great if you could drive this. I would start minimal and just implement the MAV_CMD_OVERRIDE_GOTO (which is already deployed). This should result into a mode change to LOITER and the LOITER position should be updated using the coordinates.

You need to extend the mode switch logic here to switch to AUTO_LOITER:
https://github.com/PX4/Firmware/blob/master/src/modules/commander/co

[2016-03-13 19:04] brendanogrady1 commented on #3997
Hi, I am new to everything here. I do not know where to find the offsets output in the QGroundControl program. I found this issues forum by searching the error on google and joined GitHub to post my own issue. I'm in a bit over my head but trying to learn fast.

I re-ran sensor calibration with an extra long cable connected to my computer and did it as far from anything as I could get, but got the

[2016-03-13 19:11] LorenzMeier commented on #3997
@brendanogrady1 Try to flash the "developer version" (tick the "Advanced checkbox at the bottom of the flash widget"). That should fix it.

[2016-03-13 19:21] brendanogrady1 commented on #3997
Well, that worked! Thank you so much!

Awesome!

[2016-03-13 19:25] #3997 closed

[2016-03-13 19:25] brendanogrady1 commented on #3997
Info shows a warning but calibration worked:

offsets: 0.4796, 0.2997, -1.0175, #0

[2016-03-13 19:29] sn0west commented on #3977
Any reflections on this issue? What do you think about being able to correct the autonomous mission in flight.

[2016-03-13 19:37] LorenzMeier commented on #3977
I think we'll go with your recommendation and allow inputs. But it will take some time to bring these in.

[2016-03-13 19:38] LorenzMeier commented on #3978
@AndreasAntener Could you look into this?

[2016-03-13 20:15] hsteinhaus commented on #3847
I just would like to mention that APM's FrSky telemetry driver has mostly adopted to PX4's wire format. Changing the semantics of fields would break this compatibility and make it difficult to switch between both flight stacks.

Are there any chances to convince the authors of the MavLink converter to switch to the PX4/Ardupilot field definitions instead?

I am using both FrSky telemetry interface

[2016-03-13 21:08] dagar commented on #3991
The code is pretty readable if you're curious.
https://github.com/PX4/Firmware/blob/master/src/modules/fw_pos_control_l1/fw_pos_control_l1_main.cpp#L1087

The throttle stick is just an airspeed setpoint. FW_AIRSPEED_MIN to FW_AIRSPEED_MAX. The actual throttle of your plane is going to be set by TECS trying to maintain the airspeed you set with your throttle stick while changing or maintaining alti

[2016-03-13 22:02] kd0aij commented on #4001
rechecked the scale factor. My test equipment says the voltage reading has better than 1% accuracy

[2016-03-13 22:12] LorenzMeier opened #4002 "Fix rate control performance"
http://logs.uaventure.com/view/zgccLTJ22PQcsr6mtbAMgg

And verbal feedback:
http://discuss.px4.io/t/pixraxer-as-a-racer/183/27

[2016-03-13 22:13] LorenzMeier commented on #4002
@tumbili It would be good if we could find a good way to quantitatively track understand the flight performance in terms of angular rate tracking. We should look medium term into a proper vicon driven setup for that.

[2016-03-13 22:26] #3696 closed

[2016-03-13 22:27] LorenzMeier commented on #3348
We fixed this.

[2016-03-13 22:27] #3348 closed

[2016-03-14 03:15] kd0aij opened #4004 "sdlog2 poor performance"
This is a snapshot from a user flight testing acro mode on PixRacer. The sample rate is very irregular and there is insufficient data to analyze performance.

![roll](https://cloud.githubusercontent.com/assets/2300221/13734141/7d7fba12-e960-11e5-9d46-a31e468b23c6.png)
http://logs.uaventure.com/view/zgccLTJ22PQcsr6mtbAMgg

[2016-03-14 05:16] jcooper21 opened #4005 "Dual GPS support"
It would be nice to have dual GPS support with px4.

[2016-03-14 06:13] ecmnet commented on #3977
@sn0west Maybe there are two aspects regarding this issue. One is to correct autonomous mission and to continue. The other might be just to abort those missions/offboard control, when sticks are moved and return to a more controllable mode (e.g. poshold).

[2016-03-14 06:26] AndreasAntener commented on #3966
@DonLakeFlyer see my last comment, try COM_RC_IN_MODE = 1 and COM_DL_LOSS_EN = 1

[2016-03-14 07:43] LorenzMeier commented on #3966
I have that already on master, closing.

[2016-03-14 07:43] #3966 closed

[2016-03-14 08:01] #1864 closed

[2016-03-14 08:19] LorenzMeier commented on #3942
You can set the cruise speed now on master separately from max speed.

[2016-03-14 08:19] #3942 closed

[2016-03-14 08:27] LorenzMeier commented on #3940
@priseborough I pushed a fix for this to master. Please re-test.

[2016-03-14 08:27] #3940 closed

[2016-03-14 08:28] LorenzMeier commented on #4005
@jcooper21 Could you explain why you need two GPS units? Just because others have that functionality, or can you make an actual flight performance argument?

[2016-03-14 08:30] LorenzMeier commented on #3996
Closing this as the pull is in. Please send more PRs if you find more stuff.

[2016-03-14 08:30] #3996 closed

[2016-03-14 08:31] LorenzMeier commented on #3932
Do you recall what flight mode this was in?

[2016-03-14 08:34] tubeme commented on #3991
Thanks @dagar So i can gently gain or loose speed. with the pitch while TECS will maintain my airspeed. Sounds good to me. And it is easy to explain.

[2016-03-14 08:40] tubeme commented on #4005
@LorenzMeier It might be a redundancy concept. But I rather appreciate it if we use UAVCAN then have a 2 GPS + 3 Pixhawk + 3 airpseed sensors all connected on UAVCAN for redundancy purposes. Otherwise it is not worth it.

[2016-03-14 09:16] sn0west commented on #3977
In my opinion is the first aspect the more important one. Correct a mission and let it continue.
Aboarding is always an option, but this works now already, just switch to stabilized. Or do I misunderstand you in your second aspect?

[2016-03-14 09:55] ecmnet commented on #3977
@sn0west You are right, using a switch to abort is already an option. Touching sticks would just shorten reaction time in case of dangerous situations.

[2016-03-14 12:20] holesond opened #4006 "IO doesn't load again if mixer file has 8 outputs"
Almost the same problem as #2113, results in boot incomplete. I used the IOpass.main.mix file (for a rover). Removing the last 3 lines from IOpass.main.mix (reducing to 7 channels) and saving it on the MicroSD card into etc/mixers solves the problem for me.  Pixhawk firmware version 1.2.0.

[2016-03-14 12:37] tops4u opened #4007 "MC: Support for retracts"
AFAIK electric retracts are currently not supported for Multicopters. When Starting or Landing in Auto Mode (Mission or while RTL) support for retracts would be desirable. I.e. if RTL is issued because of RC Problems the pilot my not be able to lower Retracts while RTL. Same goes for Mission Mode where the Retracts can not be programmed in the Mission.

Proposal to make an AUX Output assignable to

[2016-03-14 12:52] tumbili commented on #4004
@kd0aij I just did a flight with latest master today in the morning and logging was fine. I assume this is related to the SD card.

[2016-03-14 13:15] kd0aij commented on #4004
This user also reports: "QGC reported several disconnects-reconnects too, which was completely unexpected with a USB connection."
The log shows STAT.Load = 0.41, and regarding rate tracking, see his comments (second flight) here: http://discuss.px4.io/t/pixraxer-as-a-racer/183/27?u=mark_whitehorn

[2016-03-14 13:57] jcooper21 commented on #4005
@LorenzMeier it is for redundancy and commercial application. For commercial use, designs with maximum redundancy will always be preferred. Using UAVCAN for that should work well I think.

[2016-03-14 15:01] dagar commented on #4004
Do you have the postflight perf file?

[2016-03-14 15:27] tumbili opened #4008 "Snapdragon shell for DSP"
We need an interface for the DSP. At the moment the only way how to change it's behaviour is to change it's startup script.

[2016-03-14 16:16] DonLakeFlyer commented on #3932
Hmm. Most likely Manual.

[2016-03-14 19:41] LorenzMeier commented on #4006
Thanks for reporting!

[2016-03-14 20:46] kd0aij commented on #4004
@dagar
[code]

[2016-03-14 21:01] dagar commented on #4004
Your sd write looks terrible.

    sd write: 6011 events, 0 overruns, 358448084us elapsed, 59632us avg, min 788us max 514514us 69108.883us rms

For reference this is what I have from a recent fixed wing flight on a pixhawk.

    sd write: 51200 events, 0 overruns, 90219920us elapsed, 1762us avg, min 9us max 76776us 2679.665us rms

**59632us** avg vs 1762us avg

[2016-03-14 21:04] dagar commented on #4004
The perf counter is around the write.
https://github.com/PX4/Firmware/blob/master/src/modules/sdlog2/sdlog2.c#L649

[2016-03-14 21:15] kd0aij commented on #4004
Assuming the DSYNC flag on the open makes this a blocking call, that would mean the SD card is taking too long for each physical write, and either the card is or its filesystem is too slow.
How frequently does sdlog2 call fsync?

[2016-03-14 21:23] dagar commented on #4004
It's just below. Every 10 writes.
https://github.com/PX4/Firmware/blob/master/src/modules/sdlog2/sdlog2.c#L676

[2016-03-14 22:01] AndreasAntener commented on #3843
Fixed on master in a62046625b234dcc71279d036b6a70530c67c030

[2016-03-14 22:01] #3843 closed

[2016-03-14 22:29] kd0aij commented on #4004
I can't find adequate documentation of the O_SYNC and O_DSYNC flags for NuttX, but it sounds like the effect is equivalent to fsync on every write. That would not be good.

[2016-03-15 15:40] dagar commented on #3824
I've heard a few requests for rally points and their use in fixed wing landing.
I believe it would be something like for landing fly to the rally point, circle down, and break out where appropriate on the glide slope for landing approach.

I think the other use is as a home substitute for RTL?

If we can work through the details of rally points I could implement the fixed wing landing piece.

[2016-03-15 17:13] DonLakeFlyer commented on #3824
I believe rally points in ardupilot are a multi rotor thing. Fixed wing is DO_LAND_START.

[2016-03-15 17:35] psiorx commented on #3708
Try a
`make clean`
first

[2016-03-15 17:38] dagar commented on #3824
hmm, it sounds like we need MAV_CMD_DO_LAND_START implemented in PX4.

[2016-03-15 17:54] dagar opened #4017 "FW auto land / MAV_CMD_DO_LAND_START"
@LorenzMeier @AndreasAntener @DonLakeFlyer @sanderux

I'm looking for input to improve fixed wing auto land as part of return to land.

**Questions**
1. Would the proper way to do this be with MAV_CMD_DO_LAND_START marking the portion of the mission that auto lands?
2. Could we require a proper landing setup, perhaps if RTL_LAND_DELAY is not disabled?
3. Would this also work for the auto land mode

[2016-03-15 17:56] kd0aij commented on #4017
Does "return to land" imply "return to launchpoint, then land", or just "return to launch"?

[2016-03-15 18:01] dagar commented on #4017
1. climb to RTL_RETURN_ALT
 2. return to home position
 3. descend to RTL_DESCEND_ALT
 4. loiter for RTL_LAND_DELAY (indefinite if -1)
 5. land at home

[2016-03-15 18:52] wallarelvo commented on #3803
Hi, I have also experienced this issue. It is because there is a feedback loop. You use the IMU to determine your orientation, then you do something to it (transform it or offset it), and you send it back to the IMU. The attitude q estimator then uses this to update the IMU, and so on. The attitude q estimator did not, however, update the /mavros/imu/data_raw or /mavros/imu/mag, so on your own com

[2016-03-15 19:43] chutsu commented on #3803
Another thing to check, you might want to double check the Mocap data you are sending to Mavros. As the old very recently deprecated docs say (had to use Google cache to get that info back, link [here](https://webcache.googleusercontent.com/search?q=cache:Jv0i3KoisD4J:https://pixhawk.org/dev/ros/mavros_offboard+&cd=1&hl=en&ct=clnk&gl=ca&client=ubuntu)):

[2016-03-15 20:08] chutsu commented on #3803
Also what mocap system are you using?

[2016-03-15 22:06] dagar commented on #3972
Looking at this now. What's the difference between MAV_GOTO_DO_HOLD and MAV_GOTO_HOLD_AT_CURRENT_POSITION?

Is there any need for MAV_CMD_DO_REPOSITION?

[2016-03-16 00:28] davids5 commented on #3900
@kd0aij  procfs added in https://github.com/PX4/Firmware/commit/ba002f9 and mounted in https://github.com/PX4/Firmware/commit/8315458e9082bea6aebe9cbb381509572aa6c85b and ps now works.

[2016-03-16 00:28] #3900 closed

[2016-03-16 13:02] TobiMiller commented on #3841
its fixed. the newest px4ros repository is working.

but the mavlink problem still exists.
1.

working without erros, gazebo is up and running

2.

=> connects, but it stops at

any suggestions? thats the reason why qgroundcontrol dont connect

[2016-03-16 15:16] jian-li opened #4024 "How to set waypoint with the position caculated by vision"
Hi, I am new to pixhawk. I successfully intergrated onboard rgbd vo and pixhawk, the x, y axis value in the LOCAL_POSITION_NED is correct in the qgroundcontrol, but the z axis value is negative, is it correct? Plus,  I don't sure weather I can set the waypoint using the qgroudcontrol, if I use the qgroundcontrol to set waypoint, how the altitude should be set?Thx~

[2016-03-16 19:24] #3991 closed

[2016-03-16 20:41] kd0aij commented on #3953
@LorenzMeier @tumbili Please check whether I have the mag traces labeled correctly. The hmc5883 driver is started first, and the orb instance assigned to it is zero.

Comparison of HMC5983 and AK8963 data in flight, both onboard a PixRacer in a new 450 class quadcopter. Mag0 is the 5983, 1 is the 8963. The X traces are not offset, the Z traces are offset by +1.5 and the Y traces are offset by -1.0

[2016-03-17 02:16] kd0aij commented on #4004
@dagar I tried removing the O_DSYNC flag from the logfile fopen() call, and there was no obvious effect on the perf_counter results.  I have no idea what it might be doing that wouldn't show in the perf_counter. Can you point me to any proper documentation for it?

[2016-03-17 02:55] holmeswk opened #4025 "position estimator inav gives garbage z velocity with mocap data"
Passing dummy mocap data with no motion to a level stationary pixhawk results in non-zero velocity estimates. Ive seen as much as 1 m/s. I was using a previous build and had no trouble. Ive looked through the code but cant find any obvious changes. It is likely i was running another module before that was correcting for imu bias that was running alongside the position_inav node.

[2016-03-17 03:28] dagar commented on #4004
Isn't it more likely an SD card problem? Aren't the flags and SD identical on the pixhawk? Do you have an earlier log (this pixracer + sdcard) where this wasn't a problem?

I'll have a pixracer in a 250 quad soon. I'll take a look at the log quality and perf after my first flight.

[2016-03-17 04:47] holmeswk commented on #4025
i killed the baro weight and cracked up the imu bias weight. this gave me reasonable velocities.

[2016-03-17 13:35] kd0aij commented on #4004
I just meant that removing the flag didn't affect performance (of my system) in any obvious way. My logs have never had large dropouts like the user's (olex) log. With no documentation on the NuttX fopen, I'm not inclined to proceed further with this.

[2016-03-17 14:37] locustcox opened #4028 "Rename vision_position_estimate to generic_position_estimate"
This is a request for future versions of px4 firmware/mavros/mavlink.

It would be nice to have a generic position estimate topic to broadcast position estimates that do not provide velocity or a z estimate.

E.g. A pose2D estimate coming from laser_scan_matcher running in ROS. A pose2D only gives x,y, and heading estimates (which makes sense, since a 2D lidar can't give a z estimate).

[2016-03-17 14:49] robertgs90 opened #4029 "Mavlink receiver only for actuator control group 0"
Hi,
I realized that in function:
Firmware/src/modules/mavlink/mavlink_receiver.cpp line 771

`void MavlinkReceiver::handle_message_set_actuator_control_target(mavlink_message_t *msg)`

It is only implemented the case for actuator control group 0. In this case, it should be added a condition to change the actuator control group to publish on, depending on the `set_actuator_control_target.group_mlx`

[2016-03-17 15:09] mhkabir commented on #4028
Yep, we can do this definitely. This is on my list of refactoring as part of work on EKF2. We'll also support using the full covariance from the external source.

[2016-03-17 15:30] jgoppert commented on #3067
I think we handled this with latest lpe changes.

[2016-03-17 15:30] #3067 closed

[2016-03-17 15:31] jgoppert commented on #3066
@LorenzMeier let me know what else is holding this back.

[2016-03-17 19:40] kd0aij commented on #3953
another log comparing 5983 (green) to AK8963 (red). The 8963 looks good except for the glitches.

![glitches](https://cloud.githubusercontent.com/assets/2300221/13858748/9718e59c-ec45-11e5-8235-bdb32ef5b2e7.png)

[2016-03-17 20:06] pkocmoud commented on #3953
5983 is quite jittery. Would smoothing improve anything? Is there a consensus on the preferred frequency of the MAG data stream?

[2016-03-17 20:41] kd0aij commented on #3953
possibly, but this issue is about the AK8963

[2016-03-17 20:48] LorenzMeier commented on #3953
Have we tried reading the AK slower? Are we checking the error code of the I2C state machine? I'm relatively confident that the issue is with how the AK is read or configured, and not really about SPI or NuttX. Is it much slower or low passed?

[2016-03-17 20:51] pkocmoud commented on #3953
We are working with Invensense to get it sorted out. They maintain there is no hardware problem that would cause this issue.

[2016-03-17 20:55] LorenzMeier commented on #3953
I'm not saying there is. It might just be the way the internal I2C state machine is run. But because that's within the MPU this is where we should dig. The most likely reasons are timing and error checking. It would be good to know if the I2C transfer returns an OK error code even if the bit flip occurred.

[2016-03-17 20:59] LorenzMeier commented on #3953
I have a very specific request: could you hack the code to output the raw value and not apply the offsets? I'd like to see if the bit flips are associated to a specific value and are the result of incorrect two's complement format conversion. It's interesting to see that only the two axes closest to zero are ever affected.

And check if the axes are read individually or consecutively and try to sw

[2016-03-17 23:38] kd0aij opened #4031 "att_estimator_q rate estimation noise"
plot of pitchRate from gyro0,1 and attitude estimator (2016-02-20, FMUv4, git version 0a4d0f6e):
![rateestimationnoise](https://cloud.githubusercontent.com/assets/2300221/13864389/b4534bfe-ec66-11e5-8480-5434b7f3cb26.png)

[2016-03-17 23:41] kd0aij commented on #4031
something is very wrong with a later log (2016-03-11, FMUv4, git version b7a2e5aa):
![rateestimationnoise](https://cloud.githubusercontent.com/assets/2300221/13864502/71e1a0c6-ec67-11e5-8dd1-4817551633c9.png)

[2016-03-18 08:18] jgoppert commented on #3910
My max velocity was just too high.

[2016-03-18 08:18] #3910 closed

[2016-03-18 08:22] jgoppert commented on #4031
Were you running a position estimator at the time? I've seen some bad attitude estimation result from acc comp when my position estimator had a bad parameter.

[2016-03-18 09:22] LorenzMeier commented on #4031
Would be a good idea to disable acceleration compensation for a test. And to test EKF2 in comparison.

[2016-03-18 12:05] julianoes commented on #3961
I see pros and cons for both variants:

Defacto with run commands wrapped by make:

- + You never forget to update the build, all changes are applied when you do a SITL test.
- + It is easy to use, you don't have to know the underlying commands.
- + The underlying commands can be changed under the hood without affecting what the user has to type.
- - It hides command line arguments or even makes t

[2016-03-18 16:53] #3109 closed

[2016-03-18 16:55] jgoppert commented on #3840
@Linja0314 Try using the lpe esitmator, the position hold with flow is working well with it, I just flew it last night. You can build with:

[code]

You will need to set INAV_ENABLED = 0 after flashing and reboot. Then LPE should be running.

[2016-03-18 17:29] kd0aij commented on #4031
After fixing the bugs in sdlog2, I find that the Q attitude estimator appears to predict the future:

![rateestimation](https://cloud.githubusercontent.com/assets/2300221/13886417/5efa46bc-ecfc-11e5-989e-5347f809307a.png)

[2016-03-18 21:20] kd0aij commented on #4031
actual flight with more accurate timestamping in sdlog2:

![rateestimation](https://cloud.githubusercontent.com/assets/2300221/13892233/97e4c370-ed1b-11e5-8cea-4739e0cd50a8.png)

perhaps there is a feedforward or derivative term in the rate estimation which is a bit too large

[2016-03-18 21:28] kd0aij commented on #4031
hovering with pitchRate near zero:

![hovering](https://cloud.githubusercontent.com/assets/2300221/13892571/d00d6584-ed1d-11e5-90ca-1d06ab18258a.png)

[2016-03-18 21:30] #4028 closed

[2016-03-19 14:13] LorenzMeier commented on #4031
Does rate control feel better when you switch the Q estimator to just pass on the best voted gyro rate instead?

[2016-03-19 14:27] kd0aij commented on #4031
I haven't tried that. By "switch" you mean modify the code?

[2016-03-19 14:28] dustingooding commented on #3961
Thanks for reopening @julianoes.  My specific use case is ROS-related.  I'm attempting to create a single roslaunch file that spins up the Gazebo simulator, the PX4 console, and my companion computer process.  I've found a process by which I can get from source code, to built code, to on-demand execution.  Basically, I 'make' PX4, then manually CMake the Gazebo sim integration, manually touch a fe

[2016-03-19 15:01] LorenzMeier commented on #4031
Yes, in attitude_estimator_q copying the gyro values (and subtracting the offset) instead of using the filter's own estimate.

[2016-03-19 15:05] kd0aij commented on #4031
I'll give that a try. Regarding detailed analysis of the signals, wasn't there a complete rework of sdlog2 underway last summer? I don't trust the sdlog2 timestamps or the plots generated by FlightPlot.

[2016-03-19 15:08] SimonWilks opened #4038 "Mixer tables contain a lot of redundant data"
A while ago I did a couple of experiments to address this issue. I have two branches which freed up several hundred bytes space (IIRC) which allowed even the most complex mixer (Albatross) to be loaded including gimbal mixers and there was still some space free.

The two approaches are based on the knowledge that there is a lot of redundant/wasted information in mixer files.

The first approach wa

[2016-03-19 15:10] LorenzMeier commented on #4031
The rework went to the back burner due to lots of other ongoing things. Its essentially ready for integration and you would be most welcome to pick it up. We won't be able to pick it up for another 4-8 weeks until I have staffed all open positions.

[2016-03-19 15:50] kd0aij commented on #4031
I'd be willing to work on that; I have a number of things on hold that require good quality logs. Is there a branch in PX4/Firmware?

[2016-03-19 15:57] LorenzMeier commented on #4031
This is ready for testing: https://github.com/PX4/Firmware/pull/2780. The most recent flight plot version should be able to read and graph the resulting file.

[2016-03-19 16:10] kd0aij commented on #3953
@Inspirati  is working on this

[2016-03-19 17:00] lorbass opened #4039 "Unable to calibrate Radio with Pixracer with QGC"
Whether with QGC stable nor daily and PX4 stable or master the Radio can't be
calibrated. Clicking on calibrate the screen becomes dark, clicking on OK the same screen as bevor
apears. An allert on bottem screen: 0 Channels detected....
On the 4 Channel lines still to read: Not mapped.
With PixMini, Pixhawk and Pix Light no problem.
And Pixracer with MissionPlanner and AC 3.3.3 even no problem wit

[2016-03-19 17:35] jgoppert commented on #4025
@holmeswk We are transitioning from INAV to LPE. Try using this branch: https://github.com/PX4/Firmware/pull/4036
This is a standard kalman filter instead of a steady state kalman filter like inav, so you can just set the standard deviation of the mocap measurements, and it will do the rest.

[2016-03-19 17:38] jgoppert commented on #4025
This is the parameter you will want to adjust in QGroundControl:
[code]

[2016-03-19 17:48] holmeswk commented on #4025
does this estimate gyro and accel offset and scaling errors?

[2016-03-19 18:01] jgoppert commented on #4025
It does accel bias and gyro bias currently.  It is easy to extend to add scaling errors.

[2016-03-19 18:13] holmeswk commented on #4025
Are you updating the parameters so the sensors module publishes correct data on the sensors combined topic?

Sorry for asking questions that could easily be answered by looking through the code. I've got a working solution and don't have the extra time to do the inevitable trouble shooting that comes with new software.

[2016-03-19 18:19] jgoppert commented on #4025
The sensor combined topic only has the raw data. Biases are not applied. This has been developed over the past year so it is  stable.

[2016-03-19 18:27] jgoppert commented on #4025
Lpe still uses attitude estimator q like inav so nothing attitude related will change.

[2016-03-19 18:29] holmeswk commented on #4025
gotcha. Thanks for responding!

[2016-03-19 18:29] #4025 closed

[2016-03-19 21:15] MikaelFerland opened #4040 "Geofence with polygon seem no more supported"
@dagar Do you think that can we make it work again? Because it pretty useful to build a limit around a mission.

[2016-03-19 21:24] dagar commented on #4040
It's still there, but not exposed in QGC. Have you tried this? https://pixhawk.org/users/geofence

[2016-03-19 21:33] MikaelFerland commented on #4040
Yes, I tried this abd I searched for GF_ON in QGC in parameter list. Do I
have to activate it in the startup file in the px4? Do the path will be
create as well when GF_ON will be set to 1?
On Mar 19, 2016 5:25 PM, "Daniel Agar" <notifications@github.com> wrote:

[2016-03-19 21:42] dagar commented on #4040
GF_ON was replaced with GF_ACTION. Can you try it again with GF_ACTION set to 1 which will log the geofence violation in the mavlink console.

[2016-03-19 22:45] Inspirati commented on #3953
I've been working with a new cut down driver 'hack' in an effort to answer these questions:

https://github.com/Inspirati/Firmware/tree/mpu9250_hack

I'd previously found that the issue is the low bit occasionally being erroneously set, which in two's complement explains the +ve/-ve glitches.

From my earlier observations with QGC charts, it's not just the two axes 'closest to zero' (however i may

[2016-03-19 22:53] kd0aij commented on #4031
@LorenzMeier I tried to rebase https://github.com/PX4/Firmware/pull/2780 on current master, but there were many conflicts. WIll it require a CMake expert solve that problem?

[2016-03-19 23:59] jgoppert commented on #4031
If you want me to take a look, let me know.
On Mar 19, 2016 6:53 PM, "Mark Whitehorn" <notifications@github.com> wrote:

[2016-03-20 02:16] kd0aij commented on #4031
@jgoppert I'd appreciate advice on how to get https://github.com/PX4/Firmware/pull/2780 rebased on current master, since I'd like to use the new logging on FMuV4 to test ACRO mode performance

[2016-03-20 02:48] MikaelFerland commented on #4040
Ok perfect, I will test it tomorrow during flight. Thank you for the update. :smile:

[2016-03-20 02:57] dagar commented on #4031
@kd0aij squashing it together and merging to master wasn't so bad, but something is still broken. I pushed the branch uORB_autogeneration_rebase to the main repo. Do you want to try and get it working?

https://github.com/PX4/Firmware/compare/uORB_autogeneration_rebase?expand=1

[2016-03-20 12:42] AndreasAntener commented on #3844
Fixed on master

[2016-03-20 12:42] #3844 closed

[2016-03-20 12:46] AndreasAntener commented on #3845
Don't seem to be able to reproduce this anymore, closing

[2016-03-20 12:46] #3845 closed

[2016-03-20 13:04] Inspirati commented on #3953
i can avoid the glitching issue by polling the device constantly from a foreground process. therefore i am pretty confident that the hardware is not at fault. now just to determine why it all goes south when only queried periodically, ie, from the timer.

[2016-03-20 21:42] tuofeichen commented on #3901
Hi @jgoppert ,
I was using your LPE improvements around that time with only flow and sonar (no GPS) and the Pixhawk turned green just fine in LPE. I tried to handhold and test the position estimate walking around a square and get the plot below (With blue as the raw flow estimate, which closes the loop really well and red as the lpe estimate). The raw flow estimate is really accurate and closes th

[2016-03-21 00:27] jgoppert commented on #3901
@tuofeichen Thanks for the analysis. The LPE estimator keeps the optical flow integrated position as a separate state. As long as the flow is high quality as you have plotted, the correction should keep it close to the pure optical flow result. It isn't clear what version of the code you are running, so if you could try this branch: https://github.com/PX4/Firmware/pull/4036 it would help. I just f

[2016-03-21 01:41] tuofeichen commented on #3901
@jgoppert , I tried to upload the lpe_default branch, same thing occurs to me that the LED never turns green, despite a very good flow measurement. Let me know if there's anything I should be aware of. The version I test out is your lpe-improvements branch, but again, that's been a while ago and its hard to trace back.

[2016-03-21 02:18] jgoppert commented on #3901
Do you receive any messages from lpe in qgroundcontrol?
On Mar 20, 2016 9:42 PM, "Tuofei Chen" <notifications@github.com> wrote:

[2016-03-21 02:21] tuofeichen commented on #3901
Yes, I received all the message about [lpe] flow init and so forth, I
edited my comment and it seemed to me that LPE is not detecting the sonar
for some reason

On Sun, Mar 20, 2016 at 9:19 PM, James Goppert <notifications@github.com>
wrote:

[2016-03-21 02:40] jgoppert commented on #3901
Have you tried upgrading the firmware on the flow? Also, you can plug it into qgroundcontrol and see the optical flow and sonar data directly. That will let you know if your device is functioning properly.

[2016-03-21 02:45] jgoppert commented on #3901
@tuofeichen Also, posting the exact messages you are getting will be helpful for me to debug it if it isn't the device.

[2016-03-21 02:45] tuofeichen commented on #3901
I get all the flow data stand alone just fine, including the accurate
reading of sonar. In fact the mavlink message optical-flow-raw is
outputting the right thing as well. Just the Lpe is not recognizing the
sonar, and constantly output a no distance for flow error.

This not only happens for the Lpe-default branch but also for the master
branch.

The old Lpe-improvements branch that I used to gen

[2016-03-21 02:51] tuofeichen commented on #3901
Yeah sure will compile the message that I get with some screenshots. Thanks
!

On Sunday, 20 March 2016, 陈拓飞 <tuofei.chen@gmail.com> wrote:

[2016-03-21 02:55] liang-tang commented on #4024
[code]

                                                                                                                    62,1          38%

[2016-03-21 03:02] MikaelFerland commented on #4040
Ok, I've tested the geofence, but I got "Critical: Geofence violation for waypoint 2" error when I add a change speed waypoint. This have been done here https://github.com/PX4/Firmware/pull/3567.

[2016-03-21 03:04] jgoppert commented on #3901
@tuofeichen I'm trying on my end right now with flow on my 3dr iris. Did you try upgrading your firmware version for the px4flow to the latest version on master?

[2016-03-21 03:06] tuofeichen commented on #3901
Hi I flashed my flow firmware quite recently. I will do it again just to
make sure. I'm on it right now as well. Just give me a sec!

On Sun, Mar 20, 2016 at 10:04 PM, James Goppert <notifications@github.com>
wrote:

[2016-03-21 03:09] jgoppert commented on #3901
@tuofeichen I can confirm the bug. Fixing it now.

[2016-03-21 03:15] tuofeichen commented on #3901
Yeah ok cool. It's kinda weird. Wouldn't expect something significant. I
flash the flow and it still didn't fix the problem. Lemme know what's wrong
with it!

On Sunday, 20 March 2016, James Goppert <notifications@github.com> wrote:

[2016-03-21 03:16] dagar commented on #4040
Should be a quick fix to update the mission feasibility checker for NAV_CMD_DO_*.

https://github.com/PX4/Firmware/blob/b323908fc508c400549a8feaae7085c99818b21f/src/modules/navigator/mission_feasibility_checker.cpp#L165

[2016-03-21 03:20] jian-li commented on #4024
Thank you @liang-tang ! I follow the steps in http://dev.px4.io/advanced-fake-gps.html, and in qgroundcontrol I get the "3d lock" message, but the light don't light in green color!

[2016-03-21 03:26] tuofeichen commented on #3901
@jgoppert , I'm a little confused at this part https://github.com/jgoppert/Firmware/blob/lpe_default/src/modules/local_position_estimator/BlockLocalPositionEstimator.cpp#L253 .  Sorry I'm really new to this code base. I tried to publish some mavlink message like this  for debugging right after that line.

 ` mavlink_log_info(_mavlink_fd, "round %d, reading sensor type %d", i,	_distance_subs[i]->ge

[2016-03-21 03:27] liang-tang commented on #4024
The meaning of  "3d lock" message is that gps is working well, and the light isn't green maybe there 's other reasons.

[2016-03-21 03:32] jian-li commented on #4024
Ok! Another problem is that if I set the waypoint in qgc or in mavros, which axis should I choose(NED for waypoint vs mavros ENU?)?

[2016-03-21 03:42] MikaelFerland commented on #4040
You are kind of very effective, I was looking how I could implement that, but you have already done done fix so. Thank you.

[2016-03-21 03:55] jgoppert commented on #3901
@tuofeichen Is seems that distance data from flow was turned off recently. So that explains our issues.

https://github.com/PX4/Firmware/commit/47f79a66d146e9be8a914aa5918aaef934eb618d

I can fix it, the flow message has distance embedded in it.

[2016-03-21 03:57] tuofeichen commented on #3901
Cool sounds good. That explains things. Let me know when you're ready so
that I can test it out!

On Sun, Mar 20, 2016 at 10:55 PM, James Goppert <notifications@github.com>
wrote:

[2016-03-21 04:29] jgoppert commented on #3901
@tuofeichen Works now. Try lpe_default branch. I just pushed a commit that adds back publication within LPE of the flow distance.

[2016-03-21 04:32] tuofeichen commented on #3901
Sounds good. I'm just back from the lab. Will test it out tomorrow and let
you know how it goes.

Best
Francis

On Sun, Mar 20, 2016 at 11:30 PM, James Goppert <notifications@github.com>
wrote:

[2016-03-21 04:33] jgoppert commented on #3901
@tuofeichen Note that the green light only turns on when global position is valid. This only occurs if you get at least one gps message to initialize the local reference frame. But you don't need global position to do position hold. Just tested it.

[2016-03-21 04:34] tuofeichen commented on #3901
Hmm, ok, this might be a little tricky. I don't have a GPS with me right
now. Can I fake a global position message ?

On Sun, Mar 20, 2016 at 11:33 PM, James Goppert <notifications@github.com>
wrote:

[2016-03-21 04:38] jgoppert commented on #3901
@tuofeichen No need for GPS. I just did a test flight with my GPS unplugged, it works.

[2016-03-21 04:39] tuofeichen commented on #3901
Sounds good, I will test it out tmr and let you know.

On Sun, Mar 20, 2016 at 11:38 PM, James Goppert <notifications@github.com>
wrote:

[2016-03-21 05:02] liang-tang commented on #4024
NED probably.

[2016-03-21 05:08] jgoppert commented on #3901
Having the green light is really useful, so I just added a parameter for the initial lat/lon of the vehicle.

[2016-03-21 09:15] suraqis commented on #4005
Dual GNSS for redundancy is wanted feature, but thinking strictly I don't know a case when one GNSS failed and second saves. In case of jamming or interference it's likely to fail for both receivers. But other opportunity - dual GNSS heading. It could be cool to have compass redundancy via dual GNSS heading, but as far as I understand it should be done in a RTK like way, otherwise it will be inacc

[2016-03-21 14:06] locustcox opened #4049 "Setpoint_raw does not appear to be working properly"
Hello,

I'm trying to control both Vx, Vy, and Pz using the mavros setpoint_raw plugin.

In my test application, I do the following:
1. Advertise a setpoint_raw/local msg.
2. Set the target_mask to ignore all except IGNORE_PZ, IGNORE_VX, and IGNORE_VY.
3. Start streaming setpoints.
4. Sucessfully put the quadrotor into offboard mode and arm.

At this point, the quadrotor just sits there and ignore

[2016-03-21 15:40] nkhoit opened #4050 "VTOL Auto Mode: Discontinuity in Set Position When Switching to Auto Mode"
There is a discontinuity in setting the position when flipping into Auto mode. You can see a peak in roll angle SP before the motors are on in the attached logs.

Plots: http://logs.uaventure.com/view/zE2mhs594poGAfypyR2HFC
Log: http://logs.uaventure.com/logmuncher/charts/zE2mhs594poGAfypyR2HFC/logmuncher.log

[2016-03-21 16:23] jgoppert opened #4051 "MAVLink app sending HDOP in EPH field"
This is very confusing to users using LPE estimator, which watches eph for gps quality. The EPH is higher and represents the best estimate from ublox of 1 standard deviation of error. HDOP is just the unit-less representation of the precision. If we want to send hdop to ground station as well, we should probably add a field to the mavlink message, but I don't see the point. Eph seems like a better

[2016-03-21 16:38] jgoppert commented on #4051
The protocol doc here is helpful: https://www.u-blox.com/sites/default/files/products/documents/u-blox6_ReceiverDescrProtSpec_%28GPS.G6-SW-10018%29_Public.pdf?utm_source=en%2Fimages%2Fdownloads%2FProduct_Docs%2Fu-blox6_ReceiverDescriptionProtocolSpec_%28GPS.G6-SW-10018%29.pdf

![screenshot from 2016-03-21 12 37 24](https://cloud.githubusercontent.com/assets/473772/13926205/b588f282-ef61-11e5-8397-

[2016-03-21 16:50] jgoppert commented on #4051
I've converted this to a mavlink issue.

[2016-03-21 16:50] #4051 closed

[2016-03-21 23:10] tuofeichen commented on #3901
@jgoppert , tested out the lpe_default branch, it works without GPS and light turns green. Did the same test, would say it definitely have a better performance. But it still has some trouble closing the loop.

![Image of  XY trajectory] (https://i.imgsafe.org/1713ba1.jpg)

![Image of flow lpe and quality] (https://i.imgsafe.org/a95b577.jpg)

I looked into the orientation estimate of the LPE and it

[2016-03-21 23:49] jgoppert commented on #3901
I don't see how they could be that different. How are you getting the
integrated flow plot, where is the data coming from? Try setting the flow
standard deviation down, then xy should be almost exactly the same as
integrated flow.
On Mar 21, 2016 7:10 PM, "Tuofei Chen" <notifications@github.com> wrote:

[2016-03-21 23:51] jgoppert commented on #3901
Also, flow depends on resolving the body flow to nav frame,  so if there
are any computers etc that you are walking past, that would change the
compass heading and cause a distorted square like you are showing.
On Mar 21, 2016 7:49 PM, "James Goppert" <james.goppert@gmail.com> wrote:

[2016-03-21 23:58] tuofeichen commented on #3901
1. I got the integrated flow plot from the `flow_comp_m_x` and `flow_comp_m_y` of the `OPTICAL_FLOW` message. And the stdev of flow is set to minimum 0.01. Since its updated at 15 hz, I times 1/15s to integrate it.

2. I'm aware of the frame transform. That's why I was looking at the orientation estimate of the LPE, and it seems to remain stable close to x y z = 0. w = 1. (I'm not rotating the dro

[2016-03-22 00:04] jgoppert commented on #3901
Well try replacing flow integration in lpe with your method,  see if it
outperforms the more complicated method.
On Mar 21, 2016 7:58 PM, "Tuofei Chen" <notifications@github.com> wrote:

[2016-03-22 00:08] tuofeichen commented on #3901
alright will let you know when I get on that

On Mon, Mar 21, 2016 at 7:04 PM, James Goppert <notifications@github.com>
wrote:

[2016-03-22 00:58] jgoppert commented on #3901
@tuofeichen you could also set the flow gyro high pass filter very high to see if that gives you better results

[2016-03-22 01:00] jgoppert commented on #3901
Very high will eliminate gyro compensation,  and very low will use gyro including dc offset, which is a bad thing.

[2016-03-22 02:20] tuofeichen commented on #3901
@jgoppert , yeah I'm looking into the gyro compensation as well. Since the raw optical flow is not using the gyro compensation. Can you explain this line to me? I'm a little confused by what this delta_b stands for.

https://github.com/jgoppert/Firmware/blob/lpe_default/src/modules/local_position_estimator/BlockLocalPositionEstimator.cpp#L1166

[2016-03-22 02:21] tuofeichen commented on #3901
If that's the rotation of the body, why are we subtracting optical flow rad from gyro rad?

[2016-03-22 02:32] jgoppert commented on #3901
@tuofeichen The logic is that optical flow observed by the camera is due to two components:

rotation of the camera and translation of the camera. We want to isolate the translation of the camera, by subtracting the flow due to the rotation of the px4flow, which is measure by the gyro

But we don't want any steady state bias in the gyro driving off the flow integral, so we just take the high frequ

[2016-03-22 02:43] tuofeichen commented on #3901
I see, makes sense. So that delta_b is the translation of the flow?

On Mon, Mar 21, 2016 at 9:32 PM, James Goppert <notifications@github.com>
wrote:

[2016-03-22 02:48] jgoppert commented on #3901
Yes, in the body frame, which is then rotated to delta_n (navigation frame NED)

[2016-03-22 02:48] tuofeichen commented on #3901
Right right, delta_n is the global frame, ok cool

[2016-03-22 04:39] tuofeichen commented on #3901
@jgoppert, ok so I was able to narrow down the issue to the attitude estimate. I log the integrated flow using the LPE's method, while only integrating the body frame and get a very good estimate of the loop (and pretty much the same as my old method). See below. Thus the gyro compensation on the Flow is not causing the problem.
![Image of Flow] (https://i.imgsafe.org/22d42e4.jpg)

But after the t

[2016-03-22 04:45] mhkabir commented on #3901
@tuofeichen Nice analysis!

[2016-03-22 05:56] #4040 closed

[2016-03-22 08:04] julianoes opened #4054 "hmc5883 reports buffer overflow"
There seems to be an error in the perf reporting of the hmc5883 for the external mag.

[code]

@sanderux FYI

[2016-03-22 13:45] AndreasAntener opened #4056 "PWM arming ramp not working anymore"
@julianoes do you have a quad sitting around? Addressing the author of `pwm_limit.c` :)

I'm puzzled by the arming ramp because it seems it should do the ramp but actually all my logs tell me something else. It starts right off with a high PWM value.

![screen shot 2016-03-22 at 14 44 41](https://cloud.githubusercontent.com/assets/5750020/13953520/a39165ba-f03c-11e5-893e-8d0e007d5f28.png)

[2016-03-22 13:50] kd0aij commented on #4056
seems related to https://github.com/PX4/Firmware/issues/3976

[2016-03-22 20:48] szechyjs commented on #3810
I would love to have the circle mode functionality of ardupilot.

http://copter.ardupilot.com/wiki/circle-mode/

[2016-03-23 00:46] liang-tang commented on #3810
i had ported the code to px4 from ardupilot, and i would commit it in a few days.

[2016-03-23 07:43] bdai1412 opened #4062 "EKF about angular acceleration !!"
Does anyone knows the theory of this formula : wak =[wax;way;waz]+Ji(-cross([wax;way;waz],J[wax;way;waz]))*dt, where 'wak' means the value of angular acceleration on time k. '[wax; way; waz]' means angular acceleration on time k-1. 'Ji' is the Inverse matrix of the Inertia 'J'.
the whole code can be find in px4\Firmware\src\modules\attitude_estimator_ekf/AttitudeEKF.m

[2016-03-23 15:02] AndreasAntener commented on #3936
@sanderux FYI, I just implemented this, will make a PR soon.

[2016-03-23 15:17] lorbass commented on #4039
The issue is solved. Hardware modification produced this.
QGC with PX4 Master works now with Pixracer R14.

[2016-03-23 15:17] #4039 closed

[2016-03-23 18:32] LorenzMeier commented on #4062
This is not a software issue - please refer to the matlab files in the same directory.

[2016-03-23 18:32] #4062 closed

[2016-03-23 19:44] gregswf commented on #3810
@ Liang-tang, that's awesome, I can't wait to test it

[2016-03-23 19:46] pickledgator opened #4066 "Disarming inflight on CUSTOM_MODE_ENABLED"
In commander.cpp, there's a required check for an arming transition and I'm noticing that sending command longs with the CUSTOM_MODE_ENABLED flag is tripping the arming transition to disarm in flight. Specifically, line 673 of commander.cpp:

[code]

Should this check be wrapped in an if statement like the rest of the base_mode checks so that it only executes if a MAV_MODE_FLAG_SAFETY_ARMED flag i

[2016-03-23 20:12] DonLakeFlyer commented on #3810
Make sure to let me know when this goes in so I can update QGC.

[2016-03-23 21:20] GervaisK commented on #4005
I´m in need for that too. Dual GNSS support (at least for the logs) allows hardware comparisons. An easy way to find out about GNSS assy quality.

[2016-03-23 21:27] GervaisK opened #4067 "Tuning sliders (e.g Position control sensitivity) don´t keep their position, return to left att."
No problem to adjust them, but once you leave the tuning page and return, they are back @ left position.
Furthermore, it would be great, if it would be possible to assign them by choice to an Aux channel (potentiometer), so in flight tuning would be easier.

[2016-03-23 21:57] DonLakeFlyer commented on #4067
This is in QGC I assume. This should be a QGC issue.

[2016-03-23 22:08] GervaisK opened #4069 "Safety Page (Failsafe Action) : No (visible) option to disable RTH"
There are situations where RTH action (climb and return) is not desired, or even dangerous (e.g. @ flights within GNSS shaded environments  or with obstacles above, testflights within urban envionments,vulgo backyard)

The PX4 stack doesn´t (visibly) offer disabling of RTH (anymore ?) .

**If LAND would be offered as Failsafe action** (on RC Transmitter loss, and/or telemetry signal time out), the

[2016-03-23 22:11] GervaisK commented on #4067
Thx. Do I have to close this, and place it @ QGC issues, or wait till its sure ?

[2016-03-23 22:12] DonLakeFlyer commented on #4067
Tuning sliders are just changing parameters, so nothing to do with firmware directly. You'll need to close this and reopen on the QGC side.

[2016-03-23 22:14] #4067 closed

[2016-03-24 09:25] LorenzMeier commented on #4054
Not an error. The read queue overflows because we're not using the read() API (we use uORB). If you look at a perf counter you need to read the code related to it. You really don't know what it means else, and its not intended as a system health reporting structure.

[2016-03-24 09:25] #4054 closed

[2016-03-24 10:02] LorenzMeier commented on #4038
We freed a lot of space on IO thanks to a patch from tridge. It should behave now.

[2016-03-24 10:03] #1755 closed

[2016-03-24 10:04] LorenzMeier commented on #4006
We fixed this on master.

[2016-03-24 10:04] #4006 closed

[2016-03-24 10:05] LorenzMeier commented on #3535
I don't see what's wrong with that line - would be good to know what he thinks is broken there.

[2016-03-24 10:05] LorenzMeier commented on #3965
Fixed, thanks!

[2016-03-24 10:05] #3965 closed

[2016-03-24 10:08] LorenzMeier commented on #3925
Closing this since the pusher at 50 Hz is perfectly appropriate.

[2016-03-24 10:08] #3925 closed

[2016-03-24 10:08] LorenzMeier commented on #3887
Done

[2016-03-24 10:08] #3887 closed

[2016-03-24 10:09] LorenzMeier commented on #3886
@kd0aij Can you test again on master? The reason I ask is that tridge fixed a buffer overflow which might explain why it depends on individual numeric values.

[2016-03-24 10:10] #3879 closed

[2016-03-24 10:11] LorenzMeier commented on #662
This is probably acceptable today.

[2016-03-24 10:11] #662 closed

[2016-03-24 10:12] LorenzMeier commented on #873
Implemented.

[2016-03-24 10:12] #873 closed

[2016-03-24 10:12] LorenzMeier commented on #993
I think we're good on that front. Very little complaints.

[2016-03-24 10:12] #993 closed

[2016-03-24 10:12] #1122 closed

[2016-03-24 10:13] LorenzMeier commented on #1610
We have this in.

[2016-03-24 10:13] #1610 closed

[2016-03-24 10:13] #871 closed

[2016-03-24 10:13] LorenzMeier commented on #730
Closed, as fixed a long time ago.

[2016-03-24 10:13] #730 closed

[2016-03-24 10:14] LorenzMeier commented on #1485
Doing that today.

[2016-03-24 10:14] #1485 closed

[2016-03-24 10:14] LorenzMeier commented on #2294
Doing that today, thanks @dagar

[2016-03-24 10:14] #2294 closed

[2016-03-24 10:14] #2158 closed

[2016-03-24 10:14] #2073 closed

[2016-03-24 10:14] #1904 closed

[2016-03-24 10:15] #1810 closed

[2016-03-24 10:15] #1686 closed

[2016-03-24 10:15] #1695 closed

[2016-03-24 10:15] LorenzMeier commented on #1884
Doing that in EKF2

[2016-03-24 10:15] #1884 closed

[2016-03-24 10:16] LorenzMeier commented on #1902
Doing that, moving to EKF2

[2016-03-24 10:16] #1902 closed

[2016-03-24 10:16] #2993 closed

[2016-03-24 10:17] #2962 closed

[2016-03-24 10:17] LorenzMeier commented on #2866
Use Linux.

[2016-03-24 10:17] #2866 closed

[2016-03-24 10:17] LorenzMeier commented on #2810
Fixed.

[2016-03-24 10:17] #2810 closed

[2016-03-24 10:17] #2765 closed

[2016-03-24 10:18] LorenzMeier commented on #2829
We changed this a lot since, fixed.

[2016-03-24 10:18] #2829 closed

[2016-03-24 10:18] #3181 closed

[2016-03-24 10:18] #3105 closed

[2016-03-24 10:18] #3061 closed

[2016-03-24 10:18] #3108 closed

[2016-03-24 10:19] #3409 closed

[2016-03-24 10:19] LorenzMeier commented on #3381
This works on master if you use the flow simulation startup as documented on http://dev.px4.io

[2016-03-24 10:19] #3381 closed

[2016-03-24 10:31] muharred commented on #3535
I think the pointer was moved - should have used the commit-specific pointer. The problem is with the line bellow: https://github.com/PX4/Firmware/blob/791ec37f43635947dbe99e43b746144f30f1e442/src/modules/systemlib/mixer/mixer_multirotor.cpp#L310
max_out should be greater than 0.0 in all cases of positive thrust.

[2016-03-24 10:41] LorenzMeier commented on #3891
Seems to work fine.

[2016-03-24 10:41] #3891 closed

[2016-03-24 10:42] julianoes commented on #4054
Ok, however it is still confusing because an overflow is essentially a red flag thing and gets user (like me) worried. Also, it doesn't shop up for other sensors.

[2016-03-24 10:57] LorenzMeier commented on #4054
Performance counters are not for users. They are instrumentation, not reporting.

[2016-03-24 10:59] LorenzMeier commented on #3535
Do you have a proposed fix?

[2016-03-24 11:01] muharred commented on #3535
Well, I think `max_out > 1.0f` was intended and 0.0f got there as a copy-pase error.

[2016-03-24 11:05] julianoes commented on #4054
It's still not consistent with other drivers, even for me as a developer :).

[2016-03-24 11:07] LorenzMeier commented on #3535
Yep. Fixed in 76a8bea.

[2016-03-24 11:07] #3535 closed

[2016-03-24 11:08] LorenzMeier commented on #4054
You're still confusing it with reporting. Just don't. You can try to make it consistent, but the prime mistake is assuming that it means anything without reading the code.

[2016-03-24 14:08] LorenzMeier commented on #3939
@julianoes Any news on this one, proper fix?

[2016-03-24 14:08] LorenzMeier commented on #3959
I think we covered this one.

[2016-03-24 14:09] #3959 closed

[2016-03-24 14:09] LorenzMeier commented on #3981
Fixed this.

[2016-03-24 14:09] #3981 closed

[2016-03-24 15:36] julianoes commented on #3939
Raised this but have not gotten a solution yet.

[2016-03-24 18:56] LorenzMeier commented on #3953
@Inspirati I'd like to help to nail this down. It would be fantastic to make the 9250 prime-time ready.

[2016-03-25 09:50] Inspirati commented on #3953
@kd0aij @pkocmoud @LorenzMeier I have published a reworked version of the mpu9250 driver at [https://github.com/Inspirati/Firmware/tree/mpu9250_mag_new] This revision does no longer polls the magnetometer data ready flag before reading the axes data. It seems to work much better on the bench with no glitching apparent as yet. Please give it a go and let me know of any issues.

There is also a deve

[2016-03-25 12:29] pkocmoud commented on #3953
Thanks Rob.

[2016-03-25 12:36] kd0aij commented on #3953
@Inspirati It sounds like non-atomic reads of multi-byte values may have been the problem. I'll do another test flight in the snow today with my new waterproof quad and post a flight log.

[2016-03-25 13:17] tumbili commented on #4008
Implemented with qshell.

[2016-03-25 13:17] #4008 closed

[2016-03-25 14:23] dustingooding opened #4076 "Add support for Gazebo's <spherical_coordinates> to set initial GPS in sitl_gazebo."
Right now, sitl_gazebo uses a hard-coded GPS coord in Zurich. This prevents the simulation of GPS-waypointed missions in Gazebo that don't occur in Zurich.  Gazebo worlds have a <spherical_coordinates> (http://sdformat.org/spec?ver=1.6&elem=world#world_spherical_coordinates) setting that redefine Gazebo's origin to be a specific GPS coordinate.  If sitl_gazebo used this value (if set) and fell bac

[2016-03-25 15:35] LorenzMeier commented on #4069
Yes, we need to fix up the UI in a number of ways to make this easier to configure.

[2016-03-25 16:17] dustingooding commented on #4076
https://github.com/PX4/sitl_gazebo/pull/18

[2016-03-25 22:03] sanderux opened #4079 "VTOL still increases altitude during front transition"
http://logs.uaventure.com/view/JRG4pRghKoV3RK8eS3o75k#Local_Z_PLOT

Note: this log also has a yaw issue during front trans but thats unrelated (from vtol_takeoff command)

[2016-03-25 22:19] sanderux opened #4080 "sdlog issues"
- OUT1 logged with OUT0 values
- strange uint8 values

![image](https://cloud.githubusercontent.com/assets/14801663/14055189/000219b6-f2e0-11e5-8494-715ffdeb037c.png)

[2016-03-26 01:37] jcooper21 commented on #3967
I would like to add to this discussion a flight mode for fixed wings which is important. Something similar to APM planes FBWA mode. This should almost be the manual mode as a novice person has a high chance of crashing planes without pitch and roll being limited and a stall prevention active. If this already exists and I missed it then my apologies for the post.

[2016-03-26 02:42] DonLakeFlyer commented on #3967
You should put this in a separate issue

[2016-03-26 02:42] DonLakeFlyer commented on #3967
@LorenzMeier Any news on what you want do do here?

[2016-03-26 03:44] jcooper21 opened #4082 "Feature request additional plane flight mode"
I would like to add to this to discussion.  A flight mode similar to FBWA in APM would be highly beneficial. This should almost be the a default mode as a novice person has a high chance of crashing planes without pitch and roll being limited and a stall prevention active. It makes it easy and stress free to fly which is important all around from beginner to Proffessional.

[2016-03-26 10:50] LorenzMeier commented on #4082
Just use altitude control (or position control for higher levels of assistance).

[2016-03-26 10:50] #4082 closed

[2016-03-26 12:28] tops4u opened #4083 "MC: Won't start after arming (1.2 Stable)"
Second time yesterday I had the problem, that after pushing the Safety Switch and after Arming by RC Command (both confirmed by the Buzzer) on a AUAV-X2 Board I wanted to take off. But while pushing Throttle up just nothing happened. Several Arm/Disarming did not help. Only remove Power and a complete Reboot let the Kopter take off. Sadly no GroundStation was connected. Take off was attempted in a

[2016-03-26 12:44] dagar commented on #4082
I believe FBWA = stabilize and FBWB = altitude control.

[2016-03-26 14:16] sanderux commented on #4079
In SITL the climb can be "solved" by setting VT_FW_PITCH_TRIM to -0.25
/cc @AndreasAntener

[2016-03-26 17:06] kd0aij commented on #3953
Here's a bench test with motors running and both 8983 and 9250 mags logged. Still a few spikes on the 9250 z axis, but it looks like there's one anomalous looking spike on the 8983 x and y axes around 51 seconds. Those spike have magnitude similar to the spikes from the 9250, so one might argue that the 9250 looks at least as good as the 8983 in that respect.

http://logs.uaventure.com/view/URwmPT

[2016-03-26 17:08] kd0aij commented on #3953
(copied from #4075)
(Using a different (R12) PixRacer, problems were with my older R7)
Bench test of latest master with 3 magnetometers. I'm sure one of them is in the 9250 :)
http://logs.uaventure.com/view/DxiMAoWQhuVzuamSfw4zXo

I only noticed 1 spike in FlightPlot.

[2016-03-26 18:00] jcooper21 commented on #3818
I would vote RTL and land for fixed wings based on wind direction.

[2016-03-26 19:56] sanderux commented on #4080
Also, logging in SITL no longer works.
Reverting this commit: https://github.com/PX4/Firmware/commit/2dcd529ad873555a9a67002509f0530c6fb01c76 brought back SITL logging. Not tested for actual flight log problems yet.

@LorenzMeier

[2016-03-26 20:04] bo-rc commented on #4080
#4087 seems to fix the SITL bug.

[2016-03-26 20:15] AndreasAntener commented on #4079
This log shows that the Z velocity setpoints during transitions are negative, -1.2 m/s. That's the reason it climbs. Most likely this has something todo with the vtol takeoff/land items.

[2016-03-26 20:29] sanderux commented on #4079
SITL on master also climbs, if you set transition airspeed to 20 it will climb 20m and then timeout

[2016-03-26 20:31] jcooper21 opened #4088 "Failsafe feature request"
This post if for discussion purposes. Sensefly has a nice wind failsafe implementation that I think would benefit px4 for fixed wings. They set the max operating wind speed of the plane and if the wind speed increases beyond that during flight it will RTL. I am not talking about max wind speed the craft can fight but the max safe operational wind speed before bad data takes over. Even a warning of

[2016-03-26 20:37] julianoes commented on #3818
I definitely vote for RTL + land for copters. It's one param that I have to change every time. I don't understand why you'd want it not to land.

For fixedwing, maybe loiter for a minute and then come in for land? Not decided there.

[2016-03-26 20:41] jcooper21 commented on #3818
The loiter for a minute should be part of the fixed wing land sequence to confirm wind direction at the home location so, it should circle over head before starting the landing decent.

[2016-03-26 21:40] sanderux commented on #4079
This is from SITL on master:
Red = Pitch, Green = PitchSP
![image](https://cloud.githubusercontent.com/assets/14801663/14062528/8ef1ddec-f3a2-11e5-9560-06defd811a75.png)

[2016-03-27 10:36] AndreasAntener commented on #3978
Fixed on master, mission reset when disarming.

[2016-03-27 10:36] #3978 closed

[2016-03-27 21:40] kd0aij commented on #3953
@Inspirati Any comments on the logs above? What's your opinion of the AK8963 vs. the 8983 data quality there?

[2016-03-28 00:33] Inspirati commented on #3953
@kd0aij I think the logmuncher chart for Magnetic Field Strength looks very clean, however I am not sure how this depicts the perforance of one mag versus another. Is this data not from the highest priority published device, and therefore may not be portraying the performance of the mpu9250 mag at all?

As for the chart above, seeing as we now see glitches from both devices, perhaps the isssue is

[2016-03-28 01:34] kd0aij commented on #3953
You have to use FlightPlot to plot the values for the 8963. Its data is logged in IMU1.MagX/Y/Z as the legend in my plot shows. Logmuncher is only plotting values for IMU 0.
@LorenzMeier We need better definition of requirements for the internal magnetometer: currently it is not clear when/if an internal magnetometer is necessary, and what fall-back functionality it is required to support.

[2016-03-28 04:25] kPanesar opened #4090 "BirdsEyeView FireFLY6 VTOL yaws automatically in hover"
@tumbili I did a quick hover test with the FireFLY6 on the PX4 flight stack. The FireFLY6 keeps yawing to the right (like spinning vigorously in hover) and I'm not sure why. While examining the [log](http://logs.uaventure.com/view/X7gL7i6frhVpVbezqH9HEK#Actuators_PLOT) I see that while 3 of the motors are spinning at a high rpm, the other three are not.

I can see all the RC channel values properl

[2016-03-28 08:55] mhkabir commented on #4090
Can you give us a flight log please? It's likely an estimation issue.

[2016-03-28 14:19] kPanesar commented on #4090
@mhkabir Yes, it's linked in the description.

[2016-03-28 15:06] LorenzMeier commented on #3953
@kd0aij I looked at the log and the readings look fine up to a scale difference. I'll write up in a sec how sensor selection works and how to work out which sensor is active where.

![plot](https://cloud.githubusercontent.com/assets/1208119/14080786/66372d38-f507-11e5-92ba-34f6abbdaf55.png)

[2016-03-28 15:08] LorenzMeier commented on #4090
@kPanesar Your log looks like the motor assignment or prop directions are wrong. Did you confirm against the build instructions here?

https://pixhawk.org/platforms/vtol/birdseyeview_firefly

[2016-03-28 15:35] kPanesar commented on #4090
@LorenzMeier Hmm all the motors are spinning in the right direction with the top propellers spinning CCW and the bottom ones spinning CW. I also thought about having the motor ports mixed up somehow but it seems unlikely as I'm able to roll left and right and pitch forwards and backwards fine. Could the motor ports still be incorrect?

[2016-03-28 16:23] LorenzMeier opened #4092 "MAVLink app: CPU load in Linux / SITL"
@julianoes FYI

[2016-03-28 17:38] sanderux opened #4094 "Add mission items to sdlog"
It would be nice to have the ability to log / extract the mission that was loaded

[2016-03-28 18:35] LorenzMeier opened #4095 "Logging: Log in pre-armed mode at very low rate (e.g. 5 Hz)"
The goal is to have access to logs for user support. We might want to opt to be smart about auto-deleting these logs and always just keeping the latest one around.

[2016-03-28 18:36] LorenzMeier commented on #3760
Done by @catch-twenty-two, thanks!

[2016-03-28 18:36] #3760 closed

[2016-03-28 21:37] locustcox opened #4096 "Mavlink message getting through in SITL, but not on a Pixhawk"
I created my own mavlink message, mavros plugin, and UORB message to handle the mavlink message.

The message sends an x,y,theta estimate from a laser scanner. My steps to launch the SITL version are as follows:

[code]
I then start my custom application in the posix nuttshell and I see that all messages are being received. (They are also all logged onto the virtual SD card with no issues.) Howeve

[2016-03-28 22:41] locustcox commented on #4096
Nevermind. I made a stupid and didn't initialize my subscriber in the mavlink_receiver constructor.

[2016-03-28 22:41] #4096 closed

[2016-03-28 23:11] LorenzMeier opened #4097 "Add file meta info for release builds and branches"
@dagar This is to track the discussion about meta data for builds. The idea from @DonLakeFlyer is that we create a JSON file in Travis which then can be fetched by QGC and displays individual releases and current branches for users. This will make it a lot easier for users to understand what version they are using.

[2016-03-28 23:13] LorenzMeier opened #4098 "MAVLink app: mavlink_pub orb_advert's declared on stack don't work"
@jgoppert This is to track the issue you had with logging. I'll try to repro.

[2016-03-28 23:43] LorenzMeier commented on #4098
@jgoppert This might be a QGC issue.

[2016-03-29 00:10] jgoppert commented on #4098
Thanks for looking into it. I was using 2.9.4.
On Mar 28, 2016 7:44 PM, "Lorenz Meier" <notifications@github.com> wrote:

[2016-03-29 00:14] DonLakeFlyer commented on #4097
Here is the dissussion: https://github.com/mavlink/qgroundcontrol/issues/2797

[2016-03-29 07:04] LorenzMeier commented on #4098
This is working for me on current master with current master QGC.

[2016-03-29 07:06] LorenzMeier opened #4099 "Estimate wind direction & land into wind for small wings"
Discussion: http://discuss.px4.io/t/px4-flying-wing/266/3

[2016-03-29 07:23] LorenzMeier opened #4100 "top equivalent for QuRT"
@jywilson @mcharleb It would be great to have the current CPU load per thread for QuRT, so we can have a top-like output:

[code]

Does QuRT have facilities for runtime instrumentation in the scheduler?

[2016-03-29 07:59] LorenzMeier commented on #4090
Sure, anything could be mixed up given your output.

[2016-03-29 09:49] LorenzMeier opened #4102 "Track down "configuration error" messages"
@kd0aij Pointers appreciated!

We're trying to find all remaining cases where the system refuses the arm without really telling the user why.

[2016-03-29 10:42] tubeme opened #4103 "VTOL: Quad Throttle problem."
We had about 10 smooth transitions today. After the latest corrections to the transitions it performed very well.

But we still have a problem with the throttle response in quad mode. It is obvious right after back transition.

We fly only Manual for now.

We push the throttle to max at the end of the flight, because the quad started dipping. I see that the ThrottleSP responds to the Throttle RC i

[2016-03-29 10:58] tumbili commented on #4103
@tubeme The problem is that you ran into complete saturation. The mixer is allowed to reduce thrust in order to get some authority on pitch/roll axis so I guess this is what happened.
BTW, you can't just look at one pwm output, you need to take the average of all 4 outputs which will give you the actual thrust value.

[2016-03-29 11:04] LorenzMeier commented on #4102
User report:
![error_zps2e1dagz8](https://cloud.githubusercontent.com/assets/1208119/14105933/c3275700-f5ae-11e5-980c-f1268400f464.JPG)

[2016-03-29 11:05] tumbili commented on #4102
@LorenzMeier Is this in SITL or in real?

[2016-03-29 11:07] LorenzMeier commented on #4102
On a VTOL system by @geoffreybainathsah.

[2016-03-29 11:13] sanderux commented on #4103
@tubeme i think the cause of your saturation is motor number 3 (front left)
Do you have a thrust stand? if so, measure the thrust of all your motors, i think you will see this motor only provides half the thrust of your other motors.

I say this based on the fact that you told me the CG is correct.

[2016-03-29 11:14] LorenzMeier opened #4104 "Debrief racer flight"
@tumbili @kd0aij this is a flight log from Don, which didn't go so well in the end. Do we have a rock-solid conclusion what on the aircraft failed?

http://logs.uaventure.com/view/wHWyexpZ4q235tE3CuZ2hZ

[2016-03-29 11:16] sanderux commented on #4103
![image](https://cloud.githubusercontent.com/assets/14801663/14106289/7240c7de-f5b0-11e5-94af-b474b280dc43.png)

[2016-03-29 11:55] tops4u commented on #4095
Is this related to #4083? If so maybe just keeping the latest one would not do the job. Maybe it should be the last that did not take off.

[2016-03-29 12:14] kd0aij commented on #4104
My guess (not sure if it's 100% reconcilable for an "X" frame):

From the log, it looks like you threw one prop blade, then the other and began rolling out of control.
the accelerometers show a large vibration just prior to the rollrate diverging from the rollrate setpoint. Then the rollrate goes very high and the vehicle rolls through about 720 degrees
there's also a spike in motor current at tha

[2016-03-29 12:18] LorenzMeier commented on #4083
@tops4u Yes, the log was related to your issue.

[2016-03-29 12:19] LorenzMeier commented on #4083
@tumbili The issue he has is likely related to the land detection state when arming outside of manual. Can you have a look at this with @julianoes ? It looks like he had the same issues yesterday.

[2016-03-29 12:21] LorenzMeier commented on #4083
@tumbili To repro: arm in althold, then try to take off.

[2016-03-29 12:23] LorenzMeier commented on #4104
@DonLakeFlyer Can you confirm visually if it seems like you lost props or motors pre-impact?

[2016-03-29 12:30] tops4u commented on #4083
Just to comment, I'm pretty sure that the FM Switch was in Stab Mode while Arming, since I check all Switches when switching on Transmitter and powering vehicle. Possibly I moved the Vehicle after pushing the safety Switch, but surely before Arming via RC.

[2016-03-29 13:28] dagar commented on #4095
In general a simple logrotate would be nice.

[2016-03-29 14:28] marianobianchi opened #4106 "Compiling to use with ROS"
When i compile using catkin_make i get this error:

If i use this command: catkin_make --cmake-args -DCONFIG=ros_sitl_simple, i get this error:

CommandMotorSpeed is a deprecated message that was removed from mav_comm/mav_msgs. If i edit mav_comm/mav_msgs CMakeLists.txt and add ComandMotorSpeed.msg to the messages list, i can compile without errors using the second command but when i try to use px

[2016-03-29 14:36] jgoppert commented on #4098
Yeah, works for me now too, odd. Thanks.

[2016-03-29 15:44] julianoes opened #4107 "Remove buzzer/LED warnings/errors"
There are a bunch of warnings that should disappear:

[code]

[2016-03-29 16:05] julianoes opened #4108 "Snapdragon/SITL: mainapp can crash on disarm"
Sometimes, maybe 1/5 times. I disarm and get:

[code]

[2016-03-29 16:10] julianoes commented on #4108
It seems to be correlated with sdlog2. I don't see the error when not running sdlog2.

[2016-03-29 16:48] hridaybavle commented on #3381
Hi,
I followed this tutorial for setting up SILT
http://dev.px4.io/simulation-gazebo.html
and I use the following command in order to receive the optical flow data
**make posix gazebo_iris_opt_flow**

But I do not receive any data and get the following output

[Msg] Waiting for master.
Gazebo multi-robot simulator, version 6.5.1
Copyright (C) 2012-2015 Open Source Robotics Foundation.
Released und

[2016-03-29 16:54] julianoes commented on #4108
Same happens in SITL gazebo:

[code]

[2016-03-29 17:22] jgoppert commented on #4098
This hasn't gone away, it just works in SITL. I suspect when LPE was modified for the new format, that there is some issue on nuttx with putting the mavlink pub in a class that is created on the stack? Any ideas @LorenzMeier? I'm going to try putting pub declaration in global context and see if that works.

[code]

[2016-03-29 17:26] jgoppert commented on #4098
@LorenzMeier Yeah, moving it from the class to the lpe cpp file in global context fixed it, just a heads up, might happen elsewhere.

[2016-03-29 18:24] DonLakeFlyer commented on #4104
I went out looking for parts to try to figure it out. It went through a tree on the way down, which looks to have knocked all the other props off. I found all the prop parts in the general location of where it landed except for one. So I'd say that's a definite maybe on losing one blade.

[2016-03-29 20:50] #4108 closed

[2016-03-29 21:01] geoffreybainathsah commented on #4102
Hi Guys
to clearify this.
I have a 3DR pixhawk, GPS unit, 3DR power module and digital airspeed sensor
Futaba R7008 runnin on sbus (mode2)
I went through all the sensor steps and managed to get everything green.
After connecting the lipo battery and trying to arm i get the messae "config error"
![error2](https://cloud.githubusercontent.com/assets/17955516/14123710/8d1aa12e-f60a-11e5-935e-9c49e2050

[2016-03-29 21:04] LorenzMeier commented on #4080
@sanderux It all looks correct code-wise. Are you sure this is happening on master?

[2016-03-29 21:08] LorenzMeier commented on #4106
The ROS build is deprecated. We recommend PX4 Linux / SITL + MAVROS.

[2016-03-29 21:21] LorenzMeier commented on #4108
Awesome, thanks for the fix!

[2016-03-29 21:22] sanderux commented on #4080
Might have been related to the double locking. I got a user report i'll check

[2016-03-29 22:47] marianobianchi commented on #4106
When you say PX4 Linux, do you mean to compile Firmware code using "make posix_sitl_default gazebo" as it is written in http://dev.px4.io/simulation-ros-interface.html?

If it is so, is there any way to launch the firmware from ROS? I think the answer is running "roslaunch Firmware iris.launch" but it would be excellent to confirm because i'm a little bit lost here with the documentation....

[2016-03-30 02:35] dagar commented on #4097
What do you want to include?

current master/beta/stable + releases (vX.Y.Z tags)?

[2016-03-30 05:19] tumbili opened #4110 "Snapdragon: muORB doesn't properly support orb_exist"

[2016-03-30 05:26] tumbili opened #4111 "Snapdragon local pos z weird"
I can provide a log where the local position shoots up to about 200m in the first seconds of the log.

[2016-03-30 05:53] tumbili opened #4113 "Ekf2 replay possible broken"
I need to try this with new replay log but with logs from not too long ago I just get timeout warnings form the replay module which means that it's not getting any data from the estimator.

[2016-03-30 06:19] AndreasAntener commented on #4106
@marianobianchi ATM it's the easiest if you do as you suggested, start PX4 SITL separately and then start ROS and connect via UDP.

A direct from ROS startup is WIP and comming soon: https://github.com/PX4/Firmware/commit/27e630e81e55fd666f0144f1439d309b0b753c8d#diff-63945442d0c74f983e47dd6ba99c75e2

[2016-03-30 06:19] #4106 closed

[2016-03-30 06:53] julianoes commented on #4098
@jgoppert: do you have an explanation? I don't understand why this happens. Which platforms does it effect?

[2016-03-30 07:14] LorenzMeier commented on #4098
Without having read the diff I'm pretty sure its because James allocated the publications in a different thread context than where they were used to publish.

[2016-03-30 07:14] #4098 closed

[2016-03-30 07:22] Linja0314 commented on #3840
@jgoppert  Sorry for late reply.
I already use  make px4fmu-v2_lpe  and i can switch POSCTL
When I set INAV_ENABLED = 0 ,I think it's not work with px4flow
And it's my video link
https://youtu.be/aaPsQVbEHSg
Could you please give me some advice?

[2016-03-30 07:30] tumbili commented on #4110
This is working now on latest master.

[2016-03-30 07:54] LorenzMeier commented on #4080
I'm closing this meanwhile. Please re-open if its a real issue on master.

[2016-03-30 08:42] LorenzMeier commented on #4097
Yes, exactly that.

[2016-03-30 09:23] julianoes opened #4115 "Add "external" flag to mag report message"
Currently sensors doesn't know if a mag is external and therefore needs to be rotated.

This needs to be added the the mag report message in the same way the device ID has been added.

[2016-03-30 10:42] kPanesar commented on #4090
@LorenzMeier Alright, I'll take a look at the motor assignments again and get back to you hopefully this coming Saturday.

[2016-03-30 12:10] sanderux commented on #4080
At least ion sitl;
- actuators out0 and out1 are identical
- uint8 values remain 0 (at least the ones i tested)

![image](https://cloud.githubusercontent.com/assets/14801663/14141728/2771d618-f681-11e5-8155-bf049bb1f92c.png)

[2016-03-30 12:22] sanderux commented on #4080
On latest master the uint8 values get random spikes:
![image](https://cloud.githubusercontent.com/assets/14801663/14141952/d36b4e08-f682-11e5-8304-2f070cd8b1bb.png)

[2016-03-30 12:25] sanderux commented on #4080
@LorenzMeier would be very nice to have this fixed before i go out test flying this weekend

[2016-03-30 13:21] LorenzMeier commented on #4080
Can you share the exact steps in SITL to repro for me?

[2016-03-30 13:38] sanderux commented on #4080
[code]
fly mission
ctrl-c after LANDING DETECTED
open log from ~/src/Firmware/build_posix_sitl_default/src/firmware/posix/rootfs/fs/microsd/log/2016-03-30 in flightplot
add out0 group and out1 group

[2016-03-30 15:07] jgoppert commented on #3840
@Linja0314 we have been doing a lot of improvements here: https://github.com/PX4/Firmware/pull/4036
Pleased try that branch.

[2016-03-30 15:08] jgoppert commented on #3840
Also, the flow only works well from about 30 cm to 3 m.

[2016-03-30 15:32] marianobianchi commented on #4106
Thank you @AndreasAntener! Last question: is there a way to set udp address when running "make posix_sitl_default gazebo"? Because i want to test an application using more than one UAV so i will need to launch two instances of PX4 SITL.

[2016-03-30 16:27] jgoppert opened #4122 "Make RGB led report active flight mode, not GPS lock status"
Last night we were doing a lot of LPE + lidar + flow testing and found that when the pilot initially started in position control (switch position, but actually in alt control) while the light was blue and then took off and the light turned green (local position was published), the mode would not switch to position control from alt control until the pos-alt control switch was toggled. In the past,

[2016-03-30 16:53] jcooper21 commented on #4017
if you just entered the planes glide slope then it could back calculate the altitude which it should start to decend to the home point.

[2016-03-30 17:00] dagar commented on #4017
@jcooper21 yes I've been thinking about adding that to landing. Something like spiral descend and break  out at the glide slope intersection.

[2016-03-30 17:01] jcooper21 commented on #4017
Yes those would be powerful features and also my favourite if implemented.

[2016-03-30 17:32] marimach77 commented on #3967
@DonLakeFlayer I like your new flight modes concept very much 😁. Can't wait for official implementation in QGC & PX4 firmware. Any date?

[2016-03-30 18:52] AndreasAntener commented on #4106
I'm not currently aware of this, but there were people asking/trying stuff in this direction recently.

[2016-03-30 19:05] LorenzMeier commented on #4080
Fixed by #4124.

[2016-03-30 19:06] LorenzMeier commented on #4122
Which implies you liked the previous approach better?

[2016-03-30 19:26] jgoppert commented on #4122
The existing setup is ok if there were some feedback to the pilot that he was not in position control. The problem is the light is green and the pilot thinks position control is drifting, but he is actually still in alt mode.

[2016-03-31 02:05] sanderux commented on #4017
@dagar this might be helpful: https://github.com/PX4/Firmware/blob/master/src/modules/fw_pos_control_l1/fw_pos_control_l1_main.cpp#L2275-L2278

[2016-03-31 08:18] tumbili commented on #4110
This is not working always.

[2016-03-31 08:19] tumbili commented on #4111
http://logs.uaventure.com/view/b8uXnGrdrNEtW2vSZKHA4H

[2016-03-31 08:19] tumbili commented on #4111
See local position z and also the yaw angle.
@priseborough FYI

[2016-03-31 08:21] tumbili commented on #4111
@julianoes Notice also the logging delay for the attitude data. It takes about 6 seconds for it to become logged, not sure where this delay is coming from.

[2016-03-31 09:03] tumbili commented on #4110
@julianoes I made an interesting observation. The topic is only logged once I print the topic using the listener tool. And the first print is all zeros (meaning the topic was not updated).

[2016-03-31 11:02] tubeme commented on #4103
@sanderux You were very correct. Thanks again for that. It turned out that ESC #3 was not giving enough throttle. I re-calibrated the ESC's a couple of times with QGC without success #3 was giving lower throttle curve. I could not confirm if the ESC could be calibrated manually with RC because during the try I fried somehow all my 5 ESC's. Anyway we put brand new ESCs and the problem disappeared.

[2016-03-31 11:10] sanderux commented on #4103
@tubeme glad to have been of help. you will probably need to re-tune your pid's now

[2016-03-31 11:10] #4103 closed

[2016-03-31 11:38] tumbili opened #4125 "Ekf2 does not publish control state airspeed"
All logic in PX4 which depends on control state is not working with ekf2 at the moment.

[2016-03-31 11:42] tubeme opened #4126 "VTOL: Stall Test falure"
Hi guys,

We've had a day for Stall Test the FW flight of our VTOL. We chose a dead weather in order to have clearer graphics.

Our PR_P and PR_I are a little stronger, but that is how we like if for this part of testing, so don't pay attention to this. In FW it is tracking well.

So the test is simple. Use cruise throttle and speed in manual. 0.6 throttle ~1580us and speed 14m/s then apply pitch

[2016-03-31 12:05] LorenzMeier commented on #4126
You flew in attitude mode. There is no stall protection because this is a manual flight mode. If you want stall protection don't fly in attitude. Use altitude control or position control.

The same way as a quad will crash if you apply too little throttle in attitude control mode, a plane will crash here. I also don't think that the flight mode name or type does mismatch expectations (except for t

[2016-03-31 12:51] #4125 closed

[2016-03-31 12:51] tumbili commented on #4110
I did some more investigation. The problem seems to be that some topic do not seem to be in the devmap on the posix side. See below the list of topics on the posix and on the qurt side. I was assuming they should be matching but they obviously don't:

POSIX:
[code]

QURT:
[code]

[2016-03-31 12:54] tumbili commented on #4110
Notice that e.g the topic "ekf2_innovations" is not on the POSIX side so subscribing to that topic will not succeed. If you use the listener on the posix side and listen to the topic then you will get an empty topic on the first attempt, e.g.
[code]
If after this you try again then you will get values and suddenly the topic appears in the topic list on the POSIX side.
@mcharleb Can you think of wh

[2016-03-31 13:01] LorenzMeier commented on #4110
I think what fails is the ```orb_exists()``` check which returns false (but the listener triggers the topic instantiation as part of the attempt to read it). After that it exists on the POSIX side and gets correct values. So the way to fix this is to make sure ```orb_exists()``` returns true for topics which are not used at all on the POSIX side but are used on QuRT.

[2016-03-31 13:07] tumbili commented on #4110
@LorenzMeier Yeah, I tracked it down and it is the orb_exist() call. The question is how do I know which topics are used on the QURT side?

[2016-03-31 13:22] LorenzMeier commented on #4110
That's a question for @jywilson, @mcharleb and maybe Rama.

[2016-03-31 13:31] julianoes commented on #4110
Good digging! I ran into it before, and raised it to @jywilson before but we didn't get to further debug it yet.

[2016-03-31 16:40] jywilson commented on #4110
I will alert Rama to this.  He is more familiar wth muorb.

[2016-03-31 22:27] perceptive558 opened #4128 "'min_out' get wrong initialization value as 0.0f in mixer_multirotor.cpp"
Hi everyone, I have a confusion here, In the mixer_multirotor.cpp (https://github.com/PX4/Firmware/blob/master/src/modules/systemlib/mixer/mixer_multirotor.cpp#230),
Line 230 and Line 231 give declarations to ‘min_out’ and ‘max_out’, and from Line 243 to Line 260, we would find the greatest and smallest value of ‘out’. However, there is **NO** chance that the ‘min_out’ could greater than zero. The

[2016-03-31 22:30] perceptive558 opened #4129 "A confusion on the 'idle_speed' value in mixer_multirotor.cpp"
https://github.com/PX4/Firmware/blob/master/src/modules/systemlib/mixer/mixer_multirotor.cpp#L365
outputs[i] = constrain(_idle_speed + (outputs[i] (1.0f - _idle_speed)), _idle_speed, 1.0f);
if we look into this constrain,
_idle_speed < _idle_speed + (outputs[i] (1.0f - _idle_speed)) < 1.0f
Can be writed in this form:
0 < (outputs[i] * (1.0f - _idle_speed)) < (1.0f - _idle_speed)
If _idle_speed not

[2016-04-01 01:00] DonLakeFlyer commented on #3967
This is just a proposal at this point. Hasn't been approved.

[2016-04-01 02:14] sgh055 opened #4130 "Question! Why I2C chapter blocked at development guide?"
Question! Why I2C chapter blocked at development guide?

I'm analyzing I2C connection for my own sensor

[2016-04-01 02:39] kd0aij commented on #4130
What's the URL?

On Thu, Mar 31, 2016 at 8:14 PM kyu <notifications@github.com> wrote:

[2016-04-01 02:42] sgh055 commented on #4130
@kd0aij Hi, updated

[2016-04-01 07:14] #4104 closed

[2016-04-01 07:14] #4126 closed

[2016-04-01 07:15] LorenzMeier commented on #4129
@tumbili Please inspect.

[2016-04-01 07:16] LorenzMeier commented on #4128
@tumbili Please inspect.

[2016-04-01 07:18] LorenzMeier commented on #3166
Fixed

[2016-04-01 07:18] #3166 closed

[2016-04-01 07:19] LorenzMeier commented on #3188
Done on LPE

[2016-04-01 07:19] #3188 closed

[2016-04-01 07:22] #3642 closed

[2016-04-01 07:23] #941 closed

[2016-04-01 07:48] sgh055 opened #4132 "PX4/Devguide"
@mhkabir Hi, open issue

I want to information about I2C

but PX4 Development Guide's I2C section is blocked.

if you have an information for I2C, please help me.

Thanks!

[2016-04-01 08:15] mhkabir commented on #4132
Not quite what I meant. Please see https://github.com/PX4/Devguide/issues/125 opened to track the documentation effort. It's not blocked, it's simply not there.

[2016-04-01 08:15] #4132 closed

[2016-04-01 08:27] sgh055 commented on #4132
@mhkabir ah! I see, Sorry

[2016-04-01 11:40] tumbili opened #4135 "Snapdragon accel calib not working in QGC"
I can't calibrate my accel in QGC. Nothing happens and eventually the dsp crashes.
Calibration actually starts since you get messages in the dsp debug window (hold vehicel still and stuff like that). However, after this the system crashes. See debug output below.
Accel calibration works if I do it via
``` qshell commander calibrate accel ```
and use the dsp debug terminal for calibration info.

De

[2016-04-01 12:12] julianoes commented on #4135
I can reproduce the issue, I'm on it. Thanks.

[2016-04-01 13:58] tumbili commented on #4135
@julianoes Still now working for me but I think the dsp does not crash anymore.

[2016-04-01 14:50] kd0aij commented on #4004
validating SD card writes as part of https://github.com/PX4/Firmware/pull/4117

[2016-04-01 14:50] #4004 closed

[2016-04-01 14:58] julianoes commented on #4135
What is not working? Please give me more info.

[2016-04-01 15:31] #4135 closed

[2016-04-01 16:33] julianoes opened #4138 "Clean up warnings/log output about broadcast and mavlink interfaces"
There are confusing, and too many warnings like
[code]
[code]

This needs review, and before trying to broadcast, `network_interface_found` should be checked.

Reported by @liamstask .

[2016-04-01 16:41] liamstask commented on #4138
thx! my current setup: on my home network, running sitl_gazebo at f4f1f5f0273ba39af21e5fa98d0513f735005e33.

In `Mavlink::init_udp()` i see `WARN  getting broadcast address failed: Invalid argument` from the attempt to get a broadcast address (I added the `strerror()` detail there locally). Then periodically `WARN  sending broadcast failed, errno: 49: Can't assign requested address` as it attempts

[2016-04-01 17:03] LorenzMeier commented on #3877
@kd0aij Would you have time to look into src/modules/commander/state_machine_helper.cpp and add the missing user output?

[2016-04-01 20:35] tubeme commented on #4126
@LorenzMeier So you are saying that I have to reply to a customer with crash for 1-5k USD they did not use the right mode?

In my opinion Stabalized flight is assisted mode, and that is how it is perceived by the average user, most of the time even by the advanced users. When in Stabalized flight despite the computer does not have control over the throttle it can apply stall techniques to safe the

[2016-04-01 20:37] tubeme commented on #4103
@sanderux I did retouch the PIDs yes indeed :)

[2016-04-01 20:49] tubeme commented on #4126
Notice that we did not remove the throttle. We just held it between 35-45% which should be far enough for stall recovery. Actually doing good stall recovery will be very good for the gliding abilities of the PX4 and make the indestructible glider controller.

[2016-04-01 20:56] LorenzMeier commented on #4126
Not a single multirotor on the market can be flown in stabilized. They only allow position control. It's your responsibility to not allow customers to get into the wrong flight mode. Let us know if you need support in QGC to disable particular flight modes from the configuration options.

[2016-04-01 22:01] kd0aij commented on #3877
https://github.com/PX4/Firmware/pull/4140

[2016-04-01 22:02] LorenzMeier opened #4141 "Broadcast address logic does not seem to work on Mac OS"
[code]

results in:

[code]

[2016-04-01 23:05] dagar commented on #4126
:+1: for hiding flight modes in QGC. If nothing else I'd prefer to not see acro and rattitude as options when flying a plane.

[2016-04-02 06:41] tubeme commented on #4126
I agree with you on the allowed modes. It would be fantastic if we could arm and take off in Altitude Control in quad mode of the VTOL, otherwise we cannot hide Manual mode.

We've had a problem before with a preset Acro switch to transition from Hover Stabilized to FW Stabilized. The Acro switch was reversed in both modes so we used VT_FW_PERM_STAB = 1 which is again some sort of problem concerni

[2016-04-02 06:48] tubeme commented on #4126
APM approach.

http://ardupilot.org/plane/docs/stall-prevention.html

[2016-04-02 10:51] timoski commented on #4001
There is a bug at line 929. https://github.com/PX4/Firmware/blob/master/src/modules/sensors/sensors.cpp#L929.
It sets the scaling for the voltage but should be the scaling for the current!

[2016-04-02 13:22] tubeme opened #4142 "Proposal: FPV Gliding mode"
Hello guys,

I propose a very practical flight mode. It is the same as Stabalized flight, but with stall warning and protection inbuilt.

This mode will allow us to fly FPV airplanes for longer hours gliding half of the time to save battery, and have a stall warning in QGC and on OSD and stall protection during gliding with 0% throttle. Also there could be a spin dive recovery as well.

What do yo

[2016-04-02 13:27] kd0aij commented on #4001
That bug would only be exposed if the configuration were not for PX4FMUxxx or AEROCORE. And then only if the current scaling parameter were negative. It's an easy one to fix though; a PR would have been less effort than writing this comment :)

[2016-04-02 13:30] kd0aij commented on #4142
How does it work? "gliding half of the time to save battery" sounds pretty
intelligent to me. Is the pilot involved in deciding when to glide?

On Sat, Apr 2, 2016 at 7:22 AM tubeme <notifications@github.com> wrote:

[2016-04-02 14:00] kd0aij commented on #4001
https://github.com/PX4/Firmware/pull/4143

[2016-04-02 16:10] dagar commented on #4142
I need to read up on stall detection and recovery.

For now you can get pretty close with any altitude/position control or full auto and telling TECS to only care about airspeed (FW_T_SPDWEIGHT 2) and prevent it from using throttle (FW_THR_MAX 0). Obviously that's not very user friendly.

The airspeed mode I've been working on would also do what you want https://github.com/PX4/Firmware/pull/3861
I

[2016-04-02 18:23] sanderux commented on #4080
uint8 issues remain
![image](https://cloud.githubusercontent.com/assets/14801663/14228288/caa500a8-f910-11e5-8907-dcd7c90b17b4.png)

[2016-04-02 18:40] sanderux opened #4144 "Power module error reported erronously"
I had to set a circuit braker on power module.
It would not arm reporting that there was no poer module connected but it did read voltage
http://logs.uaventure.com/view/jg2rHZDRmAboYLiqyFVuge

[2016-04-02 18:44] sanderux opened #4145 "Strange takeoff behavior on mission"
When executing a just uploaded mission, sometimes, the takeoff tries to move laterally towards a waypoint. I have seen this behavior in SITL too. Rebooting solves the problem.
I think it happens when having armed it and then upload a new mission

I will try to find a log and also try to reproduce.

[2016-04-02 20:39] #4080 closed

[2016-04-02 20:39] LorenzMeier commented on #4080
@sanderux Just fixed it. Please check.

[2016-04-03 20:06] kPanesar commented on #4090
Update: I did indeed have the motors mixed up. I was able to do a stable hover with the default parameter values (the ones for the high-efficiency bundle cause oscillations). Thanks for your help, everyone!

[2016-04-03 20:07] #4090 closed

[2016-04-03 20:46] tubeme commented on #4142
@kd0aij Yes it is manual throttle like in Manual-Stabalized. It is just that Manual-Stabalized does not have any stall detection and recovery techniques because probably PX4 does not have control over the throttle.

The guys here at my green are flying in a mode with their APM that allows them to cut the throttle (ie. manual throttle) but at the same time they have stall detection, prevention or r

[2016-04-03 20:50] tubeme commented on #4142
@dagar Yes it is similar to your Airspeed, but we want to be able to shut the motor off and glide safely. Technically every plane is able to glide, given a certain slope angle. The difference is the rate of descend for each plane. So in practice we can control the plane to the very ground gliding if there is good level flight. The stall prevention could be the only safe solution if the motor of th

[2016-04-03 21:52] tubeme commented on #3967
@jcooper21 That mode you mention is what I'm looking for too for the novice. FBWA in my opinion is just like Manual - Stabalized but with stall prevention.

http://ardupilot.org/plane/docs/fbwa-mode.html

[2016-04-03 23:08] tubeme commented on #3967
If this is the new convention for the flight modes @DonLakeFlyer summarized in:

@value 0 Manual
@value 1 Altitude
@value 2 Position
@value 3 Mission
@value 4 Hold
@value 10 Takeoff
@value 11 Land
@value 5 Return
@value 6 Acro
@value 7 Offboard
@value 8 Stabilized
@value 9 Rattitude

I don't understand what will be the difference between Manual and Acrobatic?

I suggest that Rattitude should be im

[2016-04-04 05:27] tumbili opened #4149 "Check that params are loaded via 433MHz telem"
Based on user report
http://discuss.px4.io/t/i-used-radio-telemetry-dont-get-parameter/297

[2016-04-04 05:49] tumbili commented on #4145
@sanderux Let me know if you were able to repro it, curious to see the log.

[2016-04-04 05:51] tumbili commented on #4113
Fixed!

[2016-04-04 05:51] #4113 closed

[2016-04-04 05:53] tumbili commented on #4110
@jywilson Please let me know if there has been progress on this one.

[2016-04-04 05:54] tumbili commented on #4102
@sanderux You think you could try to reproduce this?

[2016-04-04 06:29] sanderux commented on #4102
I will try, have not seen it before though. @geoffreybainathsah could you export your params and upload here as zip?

[2016-04-04 06:49] tumbili commented on #4111
Fixed in https://github.com/PX4/ecl/pull/83

[2016-04-04 06:49] #4111 closed

[2016-04-04 07:42] tumbili commented on #4129
@perceptive558 you have shown that the original outputs which are calculated are between zero and one. This is ok and the reason why we constrain them at the end.

[2016-04-04 07:42] #4129 closed

[2016-04-04 07:44] #3776 closed

[2016-04-04 07:54] geoffreybainathsah commented on #4102
thanks for lookin at this guys
uploading a ZIP is not supported but i managed to upload it to outlook one drive
<iframe src="https://onedrive.live.com/embed?cid=A3E2D1820187FC2A&resid=A3E2D1820187FC2A%21817&authkey=AMfFMQWr4OXqTEA" width="98" height="120" frameborder="0" scrolling="no"></iframe>

[2016-04-04 08:44] #2848 closed

[2016-04-04 08:45] #2698 closed

[2016-04-04 08:45] #2887 closed

[2016-04-04 09:16] mantelt opened #4151 "GPIO issues on PX4FMUv1"
Hi

I'm trying to use GPIOs on the old PX4FMUv1 (the ones on the 15 pin connector designated "MULTI" on the schematics, GPIO_EXT1 / GPIO_EXT2). I had this working on a quite old version of the firmware  (not yet using cmake), but I recently switched to the newest stable version. Ever since, I'm not able to use those GPIOs anymore.

I'm starting the fmu app in mode_serial, which worked before.

Is

[2016-04-04 11:27] julianoes commented on #3939
Fixed in #4105.

[2016-04-04 11:27] #3939 closed

[2016-04-04 11:29] julianoes commented on #4138
@liamstask does e832f7dbf5a180f5ab8d1c2e0a65a39231c45441 fix it for you?

[2016-04-04 11:33] julianoes commented on #4001
Can now be closed, right?

[2016-04-04 11:54] #4001 closed

[2016-04-04 12:13] tumbili commented on #2989
@FYI Also on Snapdragon

[2016-04-04 12:20] kd0aij commented on #4151
I'd look for changes in src/drivers/px4fmu/px4fmu.cpp
It has changed quite a bit since the addition of fmu-v4.

On Mon, Apr 4, 2016 at 3:17 AM mantelt <notifications@github.com> wrote:

[2016-04-04 13:40] tubeme commented on #4149
Two hours ago I flashed master and it loaded the parameters in QGC properly with 433Mhz Telemetry...

The problem can be the telemetry settings. Usually if there is not enough speed due to bad reception or interference it might load the parameters 10 minutes so it appears like it does not load the parameters. It connects in the beginning but then there is not enough bandwidth and it refuses to loa

[2016-04-04 15:50] julianoes opened #4156 "Check clocks on Snapdragon Linux side"
We need to verify what happens when the clock is skewed on the Linux side of the Snapdragon. We currently use the CLOCK_REALTIME because otherwise pthread_cond_timedwait() returns immediately which causes high CPU load. This might lead to unexpected behaviour or timing issues.

FIY: @liamstask

[2016-04-04 16:27] AndreasAntener commented on #3712
Got implemented

[2016-04-04 16:27] #3712 closed

[2016-04-04 16:28] AndreasAntener commented on #3492
Implemented and merged

[2016-04-04 16:28] #3492 closed

[2016-04-04 16:55] liamstask commented on #4138
@julianoes it fixes it, in that it prevents the continued printing, but is still essentially a workaround, since it appears the root problem is #4141.

Ideal fix would be to resolve #4141 directly. But if not, seems like a clearer fix would be:
* change `_broadcast_reported` to something like `_broadcast_address_valid`
* set `_broadcast_address_valid` with the same result that `network_interface_f

[2016-04-04 17:03] julianoes commented on #4156
I should probably check if I can use:
[code]

[2016-04-04 17:38] julianoes opened #4157 "Add navigator to Snapdragon"
The navigator module is not yet running on the Snapdragon. I need to add that.

[2016-04-04 17:55] DonLakeFlyer opened #4158 "Mag calibration fails over WiFi connection"
This is using a PixRacer over WiFi. Important messages which trigger the QGC state machine to move to the next step get lost, which then causes QGC to get confused. The one which I have noticed is the "side done" message, although I'd assume others could get lost as well. For QGC it's important that it receives the start/done/fail and orientation detected/side done messages. If some of these are m

[2016-04-04 18:21] AndreasAntener commented on #3967
@tubeme `Acro` is actually different from `Manual` on multirotors, `Acro` is your pure 3d flying mode there.

Crazy idea: Maybe we should have `Stabilizied` as default mode for fixed-wing AND multirotor, and `Manual` would be manual for FW as we know it and you would have to assign a switch to get into `Manual`. `Acro` for multirotor would still remain the same as it is, because if you rename `Acr

[2016-04-04 21:29] mhkabir commented on #3967
@AndreasAntener That mode naming for multirotors sounds pretty nice. I had been meaning to bring that up sometime soon.

[2016-04-04 21:41] tubeme commented on #3967
@AndreasAntener I see the problem with naming the modes arises because the current approach is to implement somehow similar modes for both types of vehicles the MC and FW. This way it becomes very confusing for the user, especially if he reads the current brief description of the modes: http://dev.px4.io/concept-flight-modes.html.

The approach I'm suggesting is to reverse the logic. See what each

[2016-04-04 21:45] tubeme commented on #3967
All modes are **Manual** in a sense except Auto Modes. All the other modes you have some sort of manual input. Why use the term **Manual** then?

[2016-04-04 22:06] tubeme commented on #4142
This mode can be called just **FPV mode** and could be implemented in another way probably even better. It is just like Altitude Control from 5% throttle to 100% throttle - min max airspeed and altitude priority. And once you shut the throttle at 0% it becomes a gliding plane with stall prevention priority. Once you want to get some altitude or move in a direction you just give some throttle and t

[2016-04-04 22:08] AndreasAntener commented on #3967
In my first attempt to respond here before I had the same thought. I have 2 issues I'd like to point out, both can be resolved:
- for FW this is not actually rate controlled, but "real" manual (you're right, that's a technicality, pls ignore me)
- VTOL: I would like to keep 2 separate **acro/manual** modes in MC and FW because although they are similar, a pilot who can fly FW in acro isn't necessa

[2016-04-05 00:00] AlexisPotvin opened #4160 "Signal lost "action on breach!" for Rc and Datalink"
Could it be possible to implement a specific action when you trigger a signal lost both for the RC and Datalink. As an example, the "Action on breach" for the GeoFence gives us the option to execute : None, Warning, Loiter, Return Home, Flight Termination.

[2016-04-05 02:45] dagar commented on #4142
Constraining roll based on airspeed is a relatively easy change that would apply to any mode other than manual.
FW_T_RLL2THR is pretty close to the 2nd part of APM stall prevention. It might be more intuitive if the TECS min airspeed was just increased instead.

[2016-04-05 02:54] dagar commented on #3967
Any volunteers for FW acro mode? I think all we'd need to do is add rate setters to ECL - https://github.com/PX4/ecl/blob/master/attitude_fw/ecl_controller.cpp#L123 and cleanup the calls in fw_att_control to set the rate directly based on stick input, and skip control_attitude. From there it's pretty easy to get to rattitude.

[2016-04-05 04:51] xn365 commented on #4083
[https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/mc_pos_control_main.cpp#L1274]
When we disarmed in non-manual modes,we are in landed state.Vertical position setpoint always set to zero in landed state,so we cant take off in non-manual modes.

[2016-04-05 06:23] eflyinghi opened #4161 "MindPXv2 cannot build."
MindPXv2 cannot build.

[2016-04-05 06:31] julianoes commented on #4156
Fixed this the proper way in https://github.com/PX4/DriverFramework/pull/53.

[2016-04-05 06:31] #4156 closed

[2016-04-05 08:02] julianoes commented on #4158
#4164 should fix the issue. @DonLakeFlyer can you please cross test with your Pixracer? I don't have one available with wifi.

[2016-04-05 08:31] Ropars opened #4166 "Problem of linkage with modbus"
Hello,

I not find how used modbus in my module. The compilation is good but not the linkage. I think the modbus apps is not include in the library platforms__nuttx. Maybe it is not "platforms__nuttx"  the good dependency  in CMakeListes.txt to use modbus.

Thanks you

[2016-04-05 09:10] tubeme commented on #3967
@AndreasAntener I see then what the problem is. The most confusing thing is using Manual as a label for a group of modes and at the same time having a mode with that name. So we have Manual mode and then Manual Acro and Manual Stabalized. That is how it is organized now. In the new convention if accepted there will be no sections. We will have just different modes and choose which one to assign to

[2016-04-05 09:18] tubeme commented on #3967
In the current mode naming a transition from Manual MC to Stabalized FW is the most logical thing as dynamics but it is really confusing me from general knowledge.

Probably if the modes are:

MC
**Manual** is renamed to **Stabilized**.
**Acrobatic**
**Ratitude** renamed to 3D Sport

FW
**Manual** is renamed to **Acrobatic**
**Stabalized**

This way the modes will function similarly in both MC and

[2016-04-05 09:31] tops4u commented on #3967
@tubeme I was about to comment your earlier Post as confusing Names between FW and MC for Manual respectively Stabilized with different behaviour.
I support your renaming proposal so that same Mode Names behave the same FW and MC.
One may argue about Naming.
What is actuall called Acrobatic is called Manual in many popular Controllers (DJI, Tarot) but maybe it should not be reused after renaming t

[2016-04-05 09:45] tubeme commented on #3967
@tops4u I think that Naming the modes is a big part of the marketing communication chain. So Having signature mode names is part of it all. Of course we can follow all the trends in the naming but I think for the intermediate to expert transition to PX4 will not be a problem to switch in the mode naming. Otherwise we have to use Attitude for Stabilized; Sport for Acro etc. If we use Manual instead

[2016-04-05 09:49] liang-tang opened #4167 "Restricted area function"
One of the important functions of PX4 controlled machine is Flight restriction, we can't let vehicle flight in restricted area,it's Forbidden and unsafe.So, can we add restricted area function for PX4?

[2016-04-05 09:50] liang-tang commented on #4167
@LorenzMeier

[2016-04-05 09:56] TSC21 commented on #4167
https://pixhawk.ethz.ch/mavlink/#SAFETY_SET_ALLOWED_AREA

[2016-04-05 09:58] TSC21 commented on #4167
There's a plugin on (mavros)[] to set it: https://github.com/mavlink/mavros/blob/master/mavros/src/plugins/safety_area.cpp

But I don't think this is implemented on Firmware yet. In any case, this is geofencing related.

[2016-04-05 10:49] #4149 closed

[2016-04-05 10:50] tumbili commented on #4149
@tubeme Thanks for the feedback!

[2016-04-05 10:53] liang-tang commented on #4167
yes, we can add airport coordinates(to ROMFS?) to set flight restriction area.

[2016-04-05 11:03] Ropars commented on #4166
The solution is to change the defconfig file in nuttx-configs/px4fmu-v2/nsh and add in the file "CONFIG_MB_FUNC_HANDLERS_MAX = 20" and uncomment  "CONFIG_MODBUS=y"

[2016-04-05 11:03] #4166 closed

[2016-04-05 12:27] julianoes opened #4169 "Can't compile for gazebo on Mac"
I tried to follow the steps in the devguide to get the gazebo sim working on Mac OS X10.11.4.

Unfortunately `make posiz gazebo` fails to compile as follows:

[code]

[2016-04-05 13:55] julianoes commented on #4141
My network configuration calls don't quite work on Mac OS X yet but I'm working on it.

[2016-04-05 15:18] dagar commented on #4167
The current geofence system could be extended to do this. How would you want to specify the forbidden area? How many zones would you need to define?

[2016-04-05 16:45] LorenzMeier commented on #4169
Will look into this.

[2016-04-05 16:46] LorenzMeier commented on #4083
@xn365 Thanks! I have a patch I'll send in a sec which should address this.

[2016-04-05 18:02] nicolaerosia commented on #4169
Can you try https://github.com/PX4/sitl_gazebo/pull/13 ?

[2016-04-05 18:16] sn0west commented on #4158
Question to you both. This bug has been reported 4 days ago but the issue is only one day old.

Shall we do a issue immediately or first post it on the forum?

http://discuss.px4.io/t/v1-3-0-beta-testing/283/9?u=sn0west

What about the other issues in this post?

[2016-04-05 19:10] sn0west commented on #4158
FYI: it still dosn't work with the latest master over wifi.

[2016-04-06 01:06] liang-tang commented on #4167
657 forbidden area(large/medium airport ,15913 bytes) i collected, and store in ROMFS,

[2016-04-06 02:17] LorenzMeier commented on #4161
Fixed, thanks!

[2016-04-06 02:17] #4161 closed

[2016-04-06 02:18] LorenzMeier commented on #4110
@jywilson @mcharleb It would be great to know if this will get some attention this week or if we should start to dive into the FastRPC interface ourselves.

[2016-04-06 02:19] LorenzMeier commented on #4092
Fixed!

[2016-04-06 02:19] #4092 closed

[2016-04-06 02:20] LorenzMeier commented on #4083
This is all fixed.

[2016-04-06 02:20] #4083 closed

[2016-04-06 03:40] LorenzMeier commented on #4169
Fixed, thanks!

[2016-04-06 03:40] #4169 closed

[2016-04-06 03:41] LorenzMeier commented on #4158
Merged to master only now, so closing as cross-tests were successful.

[2016-04-06 03:41] #4158 closed

[2016-04-06 04:46] LorenzMeier commented on #4110
@mcharleb @julianoes I found this bit in the muORB:

[code]

Its essentially not updating the topic if no subscribers are present. If we would change this to always update this might be already entirely fixed.

[2016-04-06 04:46] LorenzMeier commented on #4110
Needs to be changed on both sides (ADSP and Krait) and tested though.

[2016-04-06 09:10] yyassa commented on #3049
@LorenzMeier Could you please link to how this was fixed?

I am getting floating point exceptions in SITL  (running an old version of ekf_att_pos_estimator). Have a feeling it might be this.

[2016-04-06 20:03] sn0west commented on #4158
It still dosen't work with wifi. I did a terminal LOG, where shall I upload this file?

[160406_Compass_Calibration_Problem_LOG_1.txt](https://github.com/PX4/Firmware/files/207240/160406_Compass_Calibration_Problem_LOG_1.txt)

I try to describe what happend. Starting Calibrating the compass over wifi all boxes are red, the first one get yellow, I turn around with my copter, the connection is lost

[2016-04-06 20:27] DonLakeFlyer commented on #4158
It's still missing messages.

[2016-04-06 21:06] mcharleb commented on #4110
@LorenzMeier I might have a change to look at this tomorrow. Otherwise it may have to wait until the weekend.

[2016-04-07 07:36] julianoes commented on #4158
@DonLakeFlyer that's only for Pixracer on Wifi but not for anything else, correct?

[2016-04-07 17:58] DonLakeFlyer commented on #4158
I can repro with PixRacer on WiFi. Not sure if it's just a WiFi problem of the PixRacer has anything to do with it. USB seems to be ok.

[2016-04-07 17:58] DonLakeFlyer commented on #4158
We're digging into it on the QGC side now to see if we are losing UDP packets.

[2016-04-07 19:43] molele2 opened #4179 "build firmware error"
I try builded for firmware, output this error：

 make px4fmu-v2_default
-- nuttx-px4fmu-v2-default
-- could not find gdbtui
CMake Error at cmake/toolchains/Toolchain-arm-none-eabi.cmake:62 (message):
  could not find genromfs
Call Stack (most recent call first):
  /usr/local/share/cmake-3.5/Modules/CMakeDetermineSystem.cmake:98 (include)
  CMakeLists.txt:204 (project)

CMake Error: CMAKE_ASM_COMPI

[2016-04-07 19:46] molele2 commented on #4179
this building on centos7

[2016-04-07 20:57] mhkabir commented on #4179
Please install the required packages. Your build system is not setup properly.
Follow the Devguide. You might need the boutique installation instructions.

[2016-04-07 21:38] tuofeichen commented on #3901
This should be resolved for now. Disabled the magnetometer input and the attitude estimator becomes accurate now. The electronics indoor seem to causing the mag input quite unstable.

[2016-04-07 22:21] tubeme opened #4180 "IC engine throttle problems. Successful flights."
Hello guys,

I've had two days of successful PX4 flights with an IC engine plane. We did about 3 hours of flying missions without a problem.

But there are some things that does not work for the IC engine setup so you might tweak them a little in order to be OK.
1. We use servo for the throttle! This is very important. Because the kill switch you provided, probably working for electric motors, and

[2016-04-08 05:19] molele2 commented on #4179
yum install epel-release-7-5.noarch.rpm
yum install python-setuptools
easy_install pexpect
easy_install pyserial
yum groupinstall "Development Tools"
yum install glibc.i686 ncurses-libs.i686
yum install openocd libftdi-devel libftdi-python python-argparse flex bison-devel ncurses-devel ncurses-libs autoconf texinfo libtool zlib-devel cmake

I do not known which lost lib?

[2016-04-08 08:11] tumbili commented on #4180
@tubeme Thanks for the feedback.

[2016-04-08 08:49] sanderux commented on #4050
From your plot it seems you have another mode in between switching from manual to auto. i think it is related to that, can you verify?

[2016-04-08 08:52] sanderux commented on #3936
@AndreasAntener i have the same behavior in the VTOL_LAND command. do you have a PR or shall i have a look at it?

[2016-04-08 09:15] AndreasAntener commented on #3936
I'll open the PR this afternoon

[2016-04-08 12:13] #4141 closed

[2016-04-08 15:51] tumbili opened #4185 "FRSky telem cannot by stopped via nsh"
Tested on Pixracer

[2016-04-08 16:23] kd0aij commented on #4185
any details on this? Here's what I see:
[code]

[2016-04-08 18:18] molele2 commented on #4179
I realy believe this，any boy help me for build error
so I try again
 this error need install python-empy and make this project genromfs-0.5.2
build  again

ntrol_main.cpp.obj
[ 96%] Linking CXX static library libuavcan_stm32_driver.a
[ 96%] Built target uavcan_stm32_driver
[ 97%] Building C object src/modules/uavcan/CMakeFiles/modules__uavcan.dir/uavcan_params.c.obj
[ 97%] Building CXX object src/

[2016-04-08 18:18] #4179 closed

[2016-04-08 18:40] dustingooding opened #4186 "support global setpoints (SET_POSITION_TARGET_GLOBAL_INT)"
http://mavlink.org/messages/common#SET_POSITION_TARGET_GLOBAL_INT

This will give users the ability to command GPS-based setpoints instead of just local-based.

Currently, only SET_POSITION_TARGET_LOCAL_NED is supported (https://github.com/PX4/Firmware/blob/master/src/modules/mavlink/mavlink_receiver.cpp#L184).

[2016-04-08 19:14] chengshy opened #4188 "Questions about external heading implementation in attitude_estimator"
I am reading attitude_estimator_q code recently and want to understand the implementation of the filter. I am confused about this external heading support implementation https://github.com/PX4/Firmware/blob/master/src/modules/attitude_estimator_q/attitude_estimator_q_main.cpp#L485-L491, especially `v(1.0f, 0.0f, 0.4f)` part.

I checked the commit history and found this part was originally added in

[2016-04-08 21:02] locustcox opened #4189 "Accidentally left some "_mavlink_fd"s in BlockLocalPositionEstimator.cpp"
Hey @julianoes,

See: https://github.com/PX4/Firmware/blob/master/src/modules/local_position_estimator/BlockLocalPositionEstimator.cpp#L476

Also, lines 489, 506, & 1539.

Obviously, this presents compile-time errors since "_mavlink_fd was not declared in this scope." Just an FYI.

[2016-04-08 23:31] aitjellal opened #4190 "PID XY Tuning: quadcopter rotates around the desired position"
Hello,
I am using PIxhawk with a motion capture to fly indoor.
My settings:
Frame: 380 cm, 3 Cell Battery, mavros, mocap, ,Qgroundcontrol.
![pid_not_tuned](https://cloud.githubusercontent.com/assets/8266764/14399965/a07ad924-fdf2-11e5-9c78-8b0fd67e5edd.png)

My attitude controller and "Z" controller seem to work fine. But my "XY" controller is not well tuned.

When I  try to fly in "Offboard mode"

[2016-04-09 05:32] LorenzMeier opened #4191 "INAV / Optical flow sim flaky on master"
the optical flow sim target for INAV is flaky on master. We should probably rather focus on optical flow validation for EKF2 instead of fixing this.

[code]

error:

[code]

[2016-04-09 05:34] LorenzMeier commented on #4191
Same happens if I enable EKF2 instead of INAV and the Q estimator. So I think its rather related to the sim environment / Gazebo and needs debugging on that end.

[2016-04-09 08:58] mhkabir commented on #4190
First off, you're using an ancient version of QGC. What version of the flightstack are you running?

Secondly, parameters won't help. A log would. Likely that you need to tune your yaw controller, or you have magnetometer interference.

[2016-04-09 10:47] sanderux opened #4193 "VTOL_LAND bug on master"
![image](https://cloud.githubusercontent.com/assets/14801663/14403268/1f45210c-fe51-11e5-8a02-d7e3b37adbbe.png)

I reverted my latest change but that seems unrelated.
/cc @tumbili @AndreasAntener @LorenzMeier

[2016-04-09 12:27] AndreasAntener opened #4195 "Gazebo SITL doesn't find Eigen anymore on Mac"
@LorenzMeier  @nicolaerosia after the Eigen dependency change to `find_package` it doesn't work anymore for me on mac, not sure why. Eigen is installed via brew.

[code]

[2016-04-09 12:37] AndreasAntener commented on #4195
Also the optical flow and sensors plugin won't compile:
[code]

[code]

Looks like I'm missing something? Or have the wrong version of something..

[2016-04-09 12:43] nicolaerosia commented on #4195
Can you search your system for FindEigen.cmake or FindEigen3.cmake ?
If you have it, when you can add that path to CMAKE_MODULE_PATH

[2016-04-09 12:47] nicolaerosia commented on #4195
Are you sure you have Gazebo 7?
https://github.com/PX4/sitl_gazebo/blob/master/src/gazebo_lidar_plugin.cpp#L68

[2016-04-09 13:10] AndreasAntener commented on #4195
yes, 7.0.0-20150824-1969aea
/usr/local/Cellar/eigen/3.2.8/share/cmake/Modules/FindEigen3.cmake

[2016-04-09 13:33] AndreasAntener commented on #4195
So Eigen will be found by adding
[code]
which comes from `$(brew --prefix)/share/cmake/Modules`

Some info about this issue here: https://github.com/Homebrew/legacy-homebrew/issues/44937

[2016-04-09 13:44] #4193 closed

[2016-04-09 14:55] aitjellal commented on #4190
Thank you for the quick reply @mhkabir
I use QGC just to change the parameters, I think I do not need the newest version.
I am using the newest stable release :  v1.2.0 Release,  installed from file https://github.com/PX4/Firmware/releases
I am flying indoor in small lab  with Optitrack.

magnetometer ? I thought  it is only important for GPS navigation. There is no GPS mounted on my Quadcopter. I

[2016-04-09 16:44] LorenzMeier commented on #4195
Does that fix the entire compilation for you?

[2016-04-09 17:24] LorenzMeier commented on #4195
Fixed in 0abc792d96729544f7765e18a58a8681f0f2a96f.

[2016-04-09 17:24] #4195 closed

[2016-04-09 17:26] LorenzMeier commented on #4190
@aitjellal The problem is that your yaw angle and your X/Y position do not agree. Are you using compass heading instead of the mocap heading?

[2016-04-09 18:27] LorenzMeier commented on #4157
@julianoes Is there any particular challenge with this?

[2016-04-10 10:07] sanderux opened #4198 "Param INAV_ENABLED not in use after upload"
The param INAV_ENABLED does not list as 'in use' when first flashing firmware.
Only after setting it through serial does it register as 'in use' and show up in QGC

[2016-04-10 10:08] sanderux commented on #4198
/cc @tumbili

[2016-04-10 13:05] AndreasAntener commented on #4195
@LorenzMeier no it doesn't fix the compilation issues, these are separate. I assume it works for you on Mac? Gazebo difference?

[2016-04-10 16:59] LorenzMeier commented on #4195
Can you install 6.5 as per our documentation and report back if that works?

[2016-04-10 18:03] tubeme opened #4201 "FW generalize Auto Land."
Recently I concentrated on auto take off and landing in preparation for auto take off and lending on a runway. So I stumbled on this PR https://github.com/PX4/Firmware/pull/3819 and totally agree with @dagar that there should be revision to both take off and landing.

So this issue is for the landing part.

Currently I use a Phantom FX61 flying wing for the experiments. So here are my problems.

I

[2016-04-10 18:31] dagar commented on #4201
The current code does basically have phases, but we could probably clean it up structuring the code similar to takeoff. We'd need to really think through all the details of the design and cleanly encompass the current functionality.
For #3819 I broke the motor mount on my Phantom so I'm waiting on a Bixler 3 to complete the generalized takeoff. If you have any thoughts there or could even help wit

[2016-04-10 18:32] tubeme commented on #4099
There is New Zeland autopilot that detects the wind (probably with loiter) and then makes approach for a parachute landing in such a matter that the plane lands in close proximity to the landing mission point.

Of course it depends on the parachute speed. But if we preset the parachute down speed it is possible to calculate it very precisely geven we have a decent estimation of wind speed and dire

[2016-04-11 03:53] jcooper21 commented on #4201
I may be mistaken but is this not referring to the same procedure outlined here?
http://discuss.px4.io/t/px4-flying-wing/266

[2016-04-11 06:32] tumbili commented on #4185
For me it never stops but keeps printing the dots.

[2016-04-11 06:41] julianoes commented on #4157
@LorenzMeier It depends on the dataman which doesn't compile for QURT just yet. And then we'll have to verify the file gets created, etc.

[2016-04-11 07:44] AndreasAntener commented on #4195
Don't know anymore why I had 7 in the first place, did we work with that initially on Mac? Anyway, solved by reverting to 6.5.

[2016-04-11 08:10] tubeme commented on #4201
@dagar I see that there are some phases in the code, but everything should be structured more clearly in order to be useful and practical.

Probably there is not a bad idea to move all the parameters concerning take off and landing in their corresponding tabs.

Because If I want to set parameters for the take off and landing I have to go all around tecs, l1 attitude etc to find this specific param

[2016-04-11 08:15] tubeme commented on #4201
@jcooper21 THis is not specifically for http://discuss.px4.io/t/px4-flying-wing/266. I'm talking about the last phases and what is the allowed pitch, roll and slope angles during this last phases. If we want a smoother touchdown for runway landing or grass landing without gear then we need smoother angles. In the current situation if we set smaller slope angles then automatically the approach beco

[2016-04-11 08:19] tubeme commented on #4201
@dagar I'm building a machine for Auto landing with flaps and retractable landing gear.

I don't know how is it implemented now, but for the take off and landing we can preset flaps. Small flaps for take off and fully extended for the landing.

My plane is with retracts. I cant seem to find a way to setup auto retracts when I'm landing? Any ideas?

I also have have a separate servo for the front w

[2016-04-11 08:57] bkueng opened #4202 "poll vs px4_poll -> unified API"
Hi

I want to poll simultanously on an ORB topic and a serial device (in the gps thread). However these use different API's (px4_poll vs poll). At least on linux, px4_poll uses separate (user-space) file descriptors, which means the syscall poll cannot be used.
Can we combine the two API's? This would mean the px4_poll needs to use kernel file descriptors. A solution is to use pipes [0], for which

[2016-04-11 11:14] bkueng opened #4203 "CMake Error: HEXAGON_SDK_ROOT not set"
Hi

The rpi2 build target seems to be broken in master:
[code]

Can you look into this @julianoes ?

[2016-04-11 11:26] julianoes commented on #4203
HEXAGON_SDK_ROOT is only needed when compiling for the Snapdragon, so that's confusing.

@bo-rc, @rosshop any ideas what is wrong here?

[2016-04-11 11:28] tubeme opened #4205 "STAT.MainState values?"
Hello,

I could not find any information on the MainState in the Logs.

What values correspond to what modes?

Any pointers where can I look for this info?

Thanks

[2016-04-11 11:30] #4205 closed

[2016-04-11 12:29] matanhavi opened #4207 "Tricopter default yaw servo rate is too high"
The tail servos usually can't run at PWM rate of 400Hz, analog servo 50Hz is the max. digital servos its about 200-300Hz

The problem that all the PWM on channels 1234 are the same 400Hz.
Need to add new mixer configuration for tricopter that will use other control group for the servo at lower rate

[2016-04-11 13:12] tumbili commented on #4198
@sanderux Will close this since it was indeed not used for VTOL.

[2016-04-11 13:12] #4198 closed

[2016-04-11 13:18] tumbili commented on #4188
@chengshy I assume the vector 'v' is some kind of magnetic field vector. I agree that it's not well documented.
@mhkabir Could you help him out here?

[2016-04-11 13:20] tumbili commented on #4145
@sanderux Ok, I was also able to repro this.

[2016-04-11 13:24] sanderux commented on #4145
@tumbili any idea? could it be the new mission reset code?

[2016-04-11 13:31] tumbili commented on #4145
@sanderux I don't know yet, not able to simulate anymore now. Terminal tells me that the socket bind for QGC failed.

[2016-04-11 13:31] tumbili commented on #4145
Do you have a log with you?
Can be a SITL log.

[2016-04-11 13:32] sanderux commented on #4145
No i dont, i have a real life log on the deltaquad

[2016-04-11 13:33] sanderux commented on #4145
can search for it tonight

[2016-04-11 13:39] mhkabir commented on #4188
That's actually not from me. @LorenzMeier introduced that originally in the
old attitude EKF. I just adapted it to attitude_estimator_q.

He would be better able to answer your question.
On 11 Apr 2016 6:49 pm, "Roman Bapst" <notifications@github.com> wrote:

[2016-04-11 13:39] tumbili commented on #4128
Fixed

[2016-04-11 13:39] #4128 closed

[2016-04-11 13:59] kd0aij commented on #4185
https://github.com/PX4/Firmware/pull/4210

[2016-04-11 13:59] #4185 closed

[2016-04-11 14:25] mhkabir commented on #4203
It's not choosing the Rpi2 cross toolchain properly for some reason. Let me check.

[2016-04-11 15:29] marianobianchi opened #4212 "Running multiple SITL instances"
I am working on a project that needs to manage multiple UAVs simultaneously. In order to test our code before using it with real UAVs, we want to simulate our environment using px4 SITL.

Is there any way to simulate more than one UAV using px4 SITL? How can i do it?

[2016-04-11 16:04] aitjellal commented on #4190
@LorenzMeier  @mhkabir   Yes, I was using the compass Heading (default ATT_EXT_HDG_M =0).
I then changed it to ATT_EXT_HDG_M =1  (for vision because I have remapped "Optitrack pose" to "vision pose")   and still have problems.  The Quadcopter does not fly to the desired position.

Should I use  "Compass Heading" or "Motion capture heading" ?    Which one is better?
Should I align the Pixhawk  with

[2016-04-11 17:23] nacho-carnicero opened #4213 "Pixhawk not recognized when reconnected to the computer after arming it"
Hello,

I am having some problems with re-connecting to the Pixhawk with my computer (both with QGC or with the terminal) after having armed and unarmed it. Here is what I have done:
I flashed the PX4 software from the repository directly through the terminal (I'm using Mac with El Capitan). I then connected the Pixhawk to a battery, connected to QGC through the 3DR telemetry, did all the sensor c

[2016-04-11 18:40] jgoppert opened #4214 "Simplify calibration process for end user"
It would be good to align our calibration procedure to some of the other autopilots out there like dji and parrot. In general it takes too long for end users right now.

[2016-04-11 18:53] dagar commented on #4214
On the call I believe you said about using SVD, but that wouldn't be feasible for a pixhawk. Could we offload that to QGC?

[2016-04-11 19:00] jgoppert commented on #4214
Yeah, we could use SVD on QGC, but I think if you assume the ellipsoid is aligned with the primary axis of the sensors that the math gets simplified, and you might not need SVD. We would still probably need a pseudo-inverse though, but I think someone must have figured out an easy way to do this on microprocessors.

[2016-04-11 21:25] suric commented on #4213
I have the same problem. Try to erase the sd-card!

[2016-04-12 01:48] #2983 closed

[2016-04-12 01:53] mcharleb commented on #2999
@LorenzMeier  Is this still an issue?

[2016-04-12 04:27] dagar commented on #4201
I don't believe there's any support for retracts at the moment unless I've completely missed it. You could just do passthru for now and control them manually with your transmitter. Proper support tied to takeoff/landing would be a great contribution.

Add the front wheel in the mixer just like the rudder and look for FW_WR_*.

[2016-04-12 07:53] bkueng commented on #4202
It's actually not that much higher, we also get 3*5 RTCM msgs/s if configured at highest rate.
Most likely it will work with orb_check.

[2016-04-12 10:30] tumbili opened #4221 "Mixer corner cases"
Hey, I have another concern about the mixer algorithm. Namely,
https://github.com/PX4/Firmware/blob/master/src/modules/systemlib/mixer/mixer_multirotor.cpp#L317
- this for cycle happens for each motor and changes “yaw” and “thrust” variables directly.
  a) https://github.com/PX4/Firmware/blob/master/src/modules/systemlib/mixer/mixer_multirotor.cpp#L341 - this line restricts thrust reduction at 0.1

[2016-04-12 10:36] julianoes commented on #4110
I'm going to push a workaround for now: https://github.com/PX4/Firmware/pull/4220

However, this should still get fixed properly.

[2016-04-12 12:33] nacho-carnicero commented on #4213
Hey thanks for the reply!
I tried that and today it seems to be working better, I'll keep you posted!

[2016-04-12 13:13] nacho-carnicero commented on #4213
Ok so I still have the problem. I thought that erasing the SD card would have solved it but it didn't. So same as last time, I plug the Pixhawk to QGC, perform some tests (in a Testbench) and when I unarm it the computer does not recognize it anymore. Well indeed it recognizes it but no serial port is opened and therefore I cannot connect to the board.
This is what the terminal shows me if I ask i

[2016-04-12 15:07] nacho-carnicero commented on #4213
Ok I think I solved the mystery. Starting from the OS X Mavericks release Apple decided to develop its own FTDI driver. If you have the official FTDI driver you should remove it since there appear to be some compatibility issues (for further information you can go to https://developer.apple.com/library/mac/technotes/tn2315/_index.html).

I have tried to remove it and it works (for now)! To remove

[2016-04-12 15:07] #4213 closed

[2016-04-12 16:30] tubeme commented on #4201
OK Thanks. Is there a way I could triger a servo with a mav command? If I can then I can program a custom point with mav command to trigger the servo of the gear. This could be applicable for the flaps as well. Is there auto Flaps during the landing?

[2016-04-12 17:23] dagar commented on #4201
Yes flaps are deployed for auto landing.
Try MAV_CMD_DO_SET_SERVO for your landing gear, which you can do as a
waypoint in QGC.

On Tue, Apr 12, 2016 at 12:30 PM, Vasil Petrov <notifications@github.com>
wrote:

[2016-04-12 18:45] locustcox commented on #4190
Toilet-bowling is typically caused by an offset in the heading. This error is amplified the closer the multicopter is to its target. I'd highly recommend using mocap heading when available. It's about as close to an exact measurement of the mutlicopter's attitude/heading/pose as you can get.

So yes, I'd set ATT_EXT_HDG_M to 2. I'd also play around with the weightings. I'd definitely move ATT_W_EX

[2016-04-12 19:33] chengshy commented on #4188
@tumbili @mhkabir Thanks for help. So we are using the external heading for roll pitch estimation as well? @LorenzMeier Would you like to help me out here?

[2016-04-12 20:32] mrpollo opened #4224 "dronekit and modes from pymavlink"
I have received an increased number of requests to look into the PX4 integration in DroneKit, one of the problems that is bugging people is that we are facing a mode problem when connecting

[code]

DroneKit is using the [`mode_mapping_bynumber` helper from **mavutil.py**](https://github.com/mavlink/mavlink/blob/master/pymavlink/mavutil.py#L1416-L1433) and we seem to be facing modes not defined th

[2016-04-12 21:19] AndreasAntener opened #4225 "With no RC connected, random input is seen"
See: http://logs.uaventure.com/view/dH6czHZCHJ67hXQkJpLLfk#RC_Raw_PLOT
As soon as I hook up the receiver it's fine. It's on an older Pixhawk that only serves as HIL Pixhawk tough..

[2016-04-12 21:20] AndreasAntener commented on #4225
That's on current master.

[2016-04-13 03:36] catch-twenty-two opened #4226 "Follow Target Enhancements"
A place to capture ideas for enhancements for v2 of the follow target mode

[2016-04-13 10:55] aitjellal commented on #4190
Thank you @locustcox .
I set ATT_EXT_HDG_M = 1; and ATT_W_EXT_HDG=95
and "tried" to align the pixhawk with the Tracking system.
For yaw= 0
I expect to get in the mavros/local_position/pose"
Orientation quaternion=
    x: 0.0
    y: 0.0
    z: 0.0
    w: 1.0

But I get
  orientation:
    x: 0.00305893994527
    y: 0.00357438427461
    z: -0.999928040518
    w: 0.0110354179502
(x =0 , y=0,  **z= -1*

[2016-04-13 12:28] badfirefly commented on #3366
After install gcc-arm-eabi 4.8, got new errors:
/bin/sh: 1: /usr/bin/arm-none-eabi-g++: not found
ubuntu 14.04

[2016-04-13 16:13] DonLakeFlyer opened #4229 "Simple flight modes don't track RC input correctly"
Details here: https://github.com/mavlink/qgroundcontrol/issues/2969

Vehicle flight mode doesn't seem to track RC values correctly.

[2016-04-13 16:14] bkueng opened #4230 "USB serial connection problems with Pixhawk"
Hi

I have a problem connecting to the pixhawk (fmuv2), via USB cable (using `screen /dev/ttyACM0`, `minicom` or QGC, all the same behavior). When I connect the cable, then wait several seconds and try to connect, it succeeds to connect, but I don't get a nsh shell (no reaction when pressing enter, just a blank screen). However when I connect during the first few seconds, right after the big blue

[2016-04-13 22:07] catch-twenty-two commented on #4226
I think it would be a cool project to change a pixhawk into a self contained tracking device.  That way you could take advantage of all the positioning algorithms and much better sensor hardware.

[2016-04-13 22:58] georgehines opened #4232 "bad bytes in log"
`make px4fmu-v2_default upload`
completed successfully to a Pixhawk.

Executed
`sdlog2 stop`
`sdlog2 start -t -r 200 -e -b 16`
`sdlog2 stop`
at the nsh prompt

Moved the logfile to my computer and dumped with mavlogdump.py, gave
`Skipped 74 bad bytes in log (73, 78, 70) remaining=496769`
`Skipped 74 bad bytes in log (73, 78, 70) remaining=496769`
`1969-12-31 16:00:00.02: FMT {Type : 2, Length : 55

[2016-04-13 23:03] georgehines commented on #4232
It seems from opening the log as text that the INFO statements regarding blackbox are being written to the beginning of the logfile

[2016-04-13 23:18] georgehines commented on #4232
removing those INFO outputs results in a valid FMT header block, but a bad message_type is encountered. In FlightPlot, error is

`FormatErrorException: Unknown message type: 2`

In sdlog2_dump.py, error is

`Exception: Invalid header at 23070 (0x5A1E): 6C 47, must be A3 95`

In my direct matlab importer (ecl/matlab/analysis/importPX4log.m), inserting a breakpoint at first error indicates that a ba

[2016-04-13 23:31] georgehines commented on #4232
manually deleting these text writes allows me to import the log successfully.

[2016-04-14 07:39] TobiMiller opened #4261 ""no_sim=1 make posix_sitl_default gazebo" is not generating sdf and mesh files in sitl_gazebo submodule"
Hey,

want to say that "no_sim=1 make posix_sitl_default gazebo" is not generating deleted sdf and mesh files in sitl_gazebo submodule.

Compiling sitl_gazebo seperate like described in readme is printing an error "Eigen not found", but libeigen3-dev is installed and ros indigo has it included (if it is necessary)

best regards

[2016-04-14 13:50] aitjellal commented on #4190
I think there is a bug somewhere in (Mavros ,Mavlink, Px4)
when I align the my Optitrack coordinate frame with Pixhawk
and use external heading (no compass heading, ATT_W_EXT_HDG=1.0)
The positionn x,y,z  is transmitted corretly
but the rotation (Quaternion x,y,z,w) is not sent correctly.
so when I compare
mavros/local_position/pose
and
vrpn_client/pose_world

the positions argees but the rotation

[2016-04-14 16:37] julianoes commented on #4232
This line gets printed into the logfile somehow:
https://github.com/PX4/Firmware/blob/master/src/modules/sdlog2/sdlog2.c#L537

[2016-04-14 21:06] tops4u opened #4270 "Emergency Stop is not immediate"
When issuing the Emergency Stop there is a delay. As can be seen in the attached File the Delay is mostly about 1.3 secs before the motor would spin down. IMHO an Emergency Stop should be immediate. In some cases it can be heard that the Motor spins down a bit just after flipping the switch but then stays on the reduced speed for some time before finally stopping.
Setup:
The RC Connection is a Spe

[2016-04-14 21:52] kd0aij commented on #4270
This should have fixed the issue: https://github.com/PX4/Firmware/pull/3753
It went into master on 23 Feb

[2016-04-14 21:58] tops4u commented on #4270
Ok, I was not aware that 3753 also fixed the delay. I'll retest on the current Daily Master. Above was running on 1.2 Stable.

[2016-04-15 05:52] julianoes commented on #3366
Make sure your `.profile` is sourced. You can try to source it manually with:
[code]

It should also be sourced after you logout and log back in.

[2016-04-15 06:35] #4261 closed

[2016-04-15 06:36] TobiMiller commented on #4261
It is no issue. no_sim=1 is the reason. but while compiling it is not detecting eigen. but this is an other story

[2016-04-15 06:38] tubeme opened #4275 "Request: Servo Cam Gimbal Stabilization"
Hi everybody,

I decided to set up a mini servo gimbal and I found I could not stabilize it with PX4 like I do in APM.

Did I miss something or this functionality is not yet implemented in PX4? Or is it with some app that I could not find. I remember somebody writing in the groups that it is possible with an app you start in NuttX. I could not find the post though.

Thanks

[2016-04-15 06:44] tubeme opened #4276 "Proposal: Retractable landing gear param."
Hello,

I'm trying to set up the retractable landing gear and automate it.

The only option I have so far is to manually pass through to the mixer aux 1 to the retractable landing gear servo. And then I plan on using a custom MAV command set servo in order to automate the retracts in mission.

It is not a bad idea to have a parameter to map RC channel for the retracts. Also automate the retracts i

[2016-04-15 07:53] AndreasAntener commented on #4275
@tubeme see here: http://dev.px4.io/advanced-gimbal-control.html

If you start the gimbal app and setup the mixer channels it will command the actuators according to attitude (from -180 to 180 degree). So you want to change the scale in the mixer channels to match your servo travel.

It's really basic. For more complete gimbal support there is a bit to be done still, I'd suggest to open issues for

[2016-04-15 07:53] #4275 closed

[2016-04-15 08:06] tubeme commented on #4275
This does not include actually stabilization as far as I see. I need external stabilization like BCG etc. If I need to implement a simple servo gimbal with mini FPV camera I cant stabalize it with px4. Can I somehow use the plane roll and pitch (making double lines in the mixer) and connect the roll and pitch servo of the gimbal? in order to have the same stabilization the plane it having. Of cour

[2016-04-15 08:17] AndreasAntener commented on #4275
You can stabilize it with PX4, just start the gimbal app, configure the mixer, then tilt/roll your copter. It will move the servos accordingly.

[2016-04-15 10:06] tubeme commented on #4275
Ohhhh Perfect :) Thanks

[2016-04-15 14:05] ecmnet opened #4280 "Switching from off board mode to posHold does not set Z set point (SITL)"
In SITL, I switch from OFFBOARD (which controls via NED) to POSHOLD via MAVLink-Command. Doing so, I expected the current altitude as initial set point for NED-Z in POSHOLD. However the Z-setpoint is adjusted to the current altitude until the device has landed. XY seem to be ok - the xy setpoints do not change.

[2016-04-16 10:01] tops4u commented on #4276
Duplicate to: #4007 ?

[2016-04-17 09:05] LorenzMeier commented on #3967
@tubeme Thanks Vasil! I think you're spot on with your observations and I expect to have more time to come back to this in the next few days.

[2016-04-17 13:39] tubeme commented on #4276
Well not exactly because I'm talking about airplane but yes it is from the same procedure ie. the landing.

Looking at the landing procedure stand point this: https://github.com/PX4/Firmware/issues/4201

the retractable landing gear for the plane should be enabled at a certain part of the landing process.

If we use Parachiute landing then again the moment we have the parachude open the landing ge

[2016-04-17 23:52] tubeme commented on #3385
I agree with @jgoppert DJI established pretty much the standard in take off and landing behavior that the users expect to see.

Naza 2 procedure take off in GPS mode, Atti mode = Position Control, Altitude Control:

Arm
Props spin idle
Start to push the throttle until the middle nothing happen (this is applicable for a throttle with a spring). The moment you reach 50+% throttle the props start to

[2016-04-18 16:48] LorenzMeier commented on #4280
@tumbili Something for you to look at.

[2016-04-18 16:48] LorenzMeier commented on #4232
Thanks, fixed on master.

[2016-04-18 16:48] #4232 closed

[2016-04-18 16:49] LorenzMeier commented on #4230
Have you de-installed the modem manager? Have you tried a different USB cable?

[2016-04-18 16:49] LorenzMeier commented on #4229
I fixed this

[2016-04-18 16:49] #4229 closed

[2016-04-18 16:50] LorenzMeier commented on #4191
@ChristophTobler How is it working for you?

[2016-04-18 16:51] LorenzMeier commented on #4189
Thanks! This was either fixed or did not really exist on master.

[2016-04-18 16:51] #4189 closed

[2016-04-18 16:52] LorenzMeier commented on #4102
Fixed this.

[2016-04-18 16:52] #4102 closed

[2016-04-18 16:53] LorenzMeier commented on #3877
Fixed this.

[2016-04-18 16:53] #3877 closed

[2016-04-18 16:53] LorenzMeier commented on #3854
Done!

[2016-04-18 16:53] #3854 closed

[2016-04-18 17:01] ChristophTobler commented on #4191
@LorenzMeier I didn't notice anything the last time I used it... Will try again tomorrow

[2016-04-18 17:04] bkueng commented on #4230
yes & yes

[2016-04-18 17:14] tumbili commented on #4230
@LorenzMeier It seems strange that it correlates with the time he waits until he connects after boot.

[2016-04-18 17:23] maxekman commented on #3509
Following the with great interest!

Just wanted to mention that the link to the RT Linux by Emlid points to the older Navio (1) version, the Navio 2 version (for RPi 3) is here: http://docs.emlid.com/navio2/Navio-APM/configuring-raspberry-pi/

[2016-04-18 17:25] locustcox commented on #4189
Yep, looks like it was fixed.

[2016-04-18 17:33] jgoppert opened #4289 "Support for DJI guidance module for collision avoidance/ visual odometry"
I have already forked the official DJI guidance module:
https://github.com/jgoppert/Guidance-SDK-ROS

It is really just a c++ demo program wrapped into ROS.

The DJI guidance is a 5 direction stereo vision system with ultrasonic sensors using an FPGA for processing. It then sends obstacle distance and visual odometry over usb to ROS. It can also be configued to send depth images.

I plan to rewrit

[2016-04-18 17:36] jgoppert commented on #4289
I think consideration needs to be taken to make sure the interface for this device is the exact same as the interface for the ETHZ solution.

[2016-04-18 17:40] jgoppert commented on #4289
If the controller for collision avoidance is going to rely on the DISTANCE_SENSOR data, the behavior is going to be very basic, if we want to implement a VFH or potential field method, we will want a more exact direction of the closest point. The DJI guidance module is not setup to enable this, but the ETH device could.

[2016-04-18 18:05] tumbili opened #4290 "Revisit orb topics keeping focus on logging"
GOAL: Reduce logging rate so that people can gather clean data analysis logs on Pixhawk hardware (no dropouts).
Example: Vehicle attitude topic is waaaay to large (remove rotation matrix and other crap).

[2016-04-18 18:11] TSC21 commented on #4289
@jgoppert count on me to aid you on this. `mavlink_receiver` is already ready to receive data from `DISTANCE_SENSOR`, we just need to define the proper ID numbers for each of the 5 sensors. Also, mavros is also prepared to load data into the Pixhawk through the `distance_sensor` plugin (I wrote it and tested it myself).
The only doubt I have now is how the the FCU will be handling each of the dist

[2016-04-18 18:13] TSC21 commented on #4289
This is already done on the `distance_sensor` plugin. I can guide on how to use it if you want.

[2016-04-18 18:14] TSC21 commented on #4289
One thing: we have a plugin for publishing distance using mavros, but right now `VISION_SPEED_ESTIMATE` is not yet supported on the firmware. We can readd it to LPE, as it was one of the things I've done and made a PR to when you had that initial branch of LPE.

[2016-04-18 18:19] tumbili opened #4291 "Implement slew rate limiting for outputs"
Please close if already exists.

[2016-04-18 18:19] tumbili opened #4292 "Documentation on how to switch between estimators"

[2016-04-18 18:25] LorenzMeier opened #4293 "Enable pullup / pulldown on PWM input pin for Pixracer"

[2016-04-18 20:00] jwerner37 opened #4294 "Gazebo 6.6 SITL doesn't find Eigen files Ubuntu"
@LorenzMeier @nicolaerosia

Same Eigen issue/error as https://github.com/PX4/Firmware/issues/4195  but on Ubuntu 14.04 this time and with Gazebo 6.6 - the new default Gazebo6 version.  Having trouble rolling back to 6.5 (not available anymore?) and FindEigen.cmake or FindEigen3.cmake not found on my system to update  CMAKE_MODULE_PATH.

Any tips?  besides never updating a week before project is du

[2016-04-18 20:14] LorenzMeier commented on #4294
Have you installed `libeigen3-dev`?

You can check out revision d7f998c3e28ecbce0dd86a0ab34271d78bcecf78 in Tools/sitl_gazebo manually.

[2016-04-18 20:44] awright424 commented on #3509
I would also like to know when I can try this out my on rpi2/3

[2016-04-18 20:49] LorenzMeier commented on #4294
I've put a workaround on master. If it doesn't work, the last commits in sitl_gazebo should teach you how to work around it.

[2016-04-18 20:49] #4294 closed

[2016-04-18 20:55] LorenzMeier opened #4295 "MAVLink SD file open fails"
@julianoes Something is not quite right yet with the MAVLink file log:
[code]

[2016-04-18 20:55] LorenzMeier commented on #4295
The unprintable chars are particularly noteworthy.

[2016-04-19 09:12] ChristophTobler commented on #4191
@LorenzMeier I just pulled from master and I could not reproduce the behaviour. However, yaw is not working properly (very slow) in the gazebo simulation. It works fine in jmavsim. I have not updated gazebo (version 6.5.1) and it worked before I pulled master.

[2016-04-19 09:15] ChristophTobler opened #4297 "slow yaw in gazebo simulation"
I have just pulled master and I wanted to reproduce https://github.com/PX4/Firmware/issues/4191. Now however, yaw is very slow in the gazebo simulation (make posix gazebo_iris_opt_flow and make posix_sitl_default gazebo) but it works in jmavsim. I use gazebo verison 6.5.1.

[2016-04-19 11:00] tumbili opened #4299 "Snapdragon: Start logger before estimator outputs data"
Especially for a replay we need to make sure that we are not missing any data from the sensors. Right now the logger is the last app to start.

[2016-04-19 11:03] julianoes commented on #4232
I see this commit b90f6dc15738b68a73fe011d6161599a4dbd5c52 but I don't understand it :)

[2016-04-19 11:04] julianoes commented on #4299
@tumbili this means we are logging all the time?

[2016-04-19 11:05] julianoes commented on #4295
Strange, I don't think that I touched this part.

[2016-04-19 11:11] tumbili commented on #4299
Yes, for replay we are not waiting to be armed.

[2016-04-19 11:12] tumbili commented on #4299
@julianoes Also we need to make sure that the dsp apps are not running before the logger runs on the posix side.

[2016-04-19 11:13] ChristophTobler commented on #4297
@LorenzMeier Seems to be this one https://github.com/PX4/sitl_gazebo/commit/51f69f61ad45b521ae2b57878345c71a13f485dd or what was the reason for that?
But even when I do: git checkout 58b61d68a618 (8 commits before) the simulation feels a bit weird. E.g. Altitude Control does not really work -> the iris goes up and down

[2016-04-19 11:55] ndepal opened #4300 "make eagle_default upload is broken"
`make eagle_default upload` produces this error message:
[code]

It works up to 5211da9f5b56dd140930051a2fcbe826d20a2755. The next one, e904184, produces lots of CMake errors. The following commit, 1692590, and all newer ones produce the above error.

[2016-04-19 12:41] tumbili commented on #4292
Done!

[2016-04-19 12:41] #4292 closed

[2016-04-19 12:59] nicolaerosia commented on #4292
URL ?

[2016-04-19 13:46] tumbili commented on #4292
@nicolaerosia  https://github.com/PX4/Devguide/pull/136

[2016-04-19 14:28] #4300 closed

[2016-04-19 15:18] tumbili opened #4304 "New uorb topic generation issue on Snapdragon"
The https://github.com/PX4/Firmware/pull/4197 branch does not work on Snapdragon.
After the sensors app is started on the DSP starting the commander or ekf2 app will make the DSP crash.
I have reduced the startup script of the DSP and I tried starting the apps manually via qshell.
The branch which I am using is this one https://github.com/PX4/Firmware/tree/newLoggerSnapi
Here is what I get on the

[2016-04-19 15:19] tumbili commented on #4304
@kd0aij @dagar FYI

[2016-04-19 19:43] nicolaerosia commented on #4292
@tumbili thanks!

[2016-04-20 00:34] jcooper21 opened #4306 "Feature request: Fixed wing reverse thrust & Parachute failsafe support for landings"
The reverse thrust feature with RPM logging for better fixed wing landings in APM is really good.  It would be great to see this in PX4 as well as the parachure failsafe features for emergency landings.

[2016-04-20 08:28] tops4u commented on #4270
Checked with current Master - ok.

[2016-04-20 08:28] #4270 closed

[2016-04-20 08:34] tops4u commented on #4230
I have a similar Problem (Mac OS X, AUAV-X2 or Pixracer). When connecting via USB to Pixhawk after it has been powered by Battery very often the connection would not work (with no Error in QGC). Only when disconnecting Battery and USB and restarting only with USB the connction will work. No such Problem when using Serial Telemetry.

[2016-04-20 08:35] LorenzMeier commented on #4230
Are you using El Capitan?

[2016-04-20 09:04] tops4u commented on #4230
Yes I do. Happend with all Versions of QGC to date (from 2.9 onwards). With PX4 1.2 as well as current master.

[2016-04-20 10:18] tubeme opened #4309 "Estimators Clarification."
Hi guys,

I read the rc init.d scripts and have something I cannot understand:

From: Firmware/ROMFS/px4fmu_common/init.d/rc.fw_apps

we have the default estimator for FW is EKF.

From MC Firmware/ROMFS/px4fmu_common/init.d/rc.mc_apps we have:

3 options INAV, LPE, and the third EKF2.

So now my question is what is the situation for  VTOL?

From: Firmware/ROMFS/px4fmu_common/init.d/rc.vtol_apps

I

[2016-04-20 10:53] tubeme opened #4310 "Eagle Tree Airspeed v3 PROBLEM."
Hello,

I'm just testing the Egle Tree airpseed sensor V3 which is i2c sensor.

It actually works out of the box!! Very nice. Just plug it in the i2c and PX4 loads the driver automaticaly. Whithout the need of extras.txt and ets_airspeed start command.

But probably there is some problem detecting the airspeed is present in the pre flight check.

I think so, becase I calibrated all the sensors inc

[2016-04-20 10:57] tubeme commented on #4310
I forgot to mention the only thing I had to do is to make the Eagle Tree sensor in metric units. I suppose if the sensor is in British units it will show different reading. Anyway it was important to mention i was consistent with the install.

[2016-04-20 13:12] devbharat commented on #4309
Yes EKF2 estimates both attitude and position.

[2016-04-20 13:30] nacho-carnicero commented on #4203
Hi!

Any news on how to solve this topic? I'm stuck as well with the same error!
Thanks!
Nacho.

[2016-04-20 13:45] gelazanskas commented on #4203
Same here!

[2016-04-20 14:09] AndreasAntener commented on #3895
Not a problem anymore on master

[2016-04-20 14:09] #3895 closed

[2016-04-20 14:33] LorenzMeier commented on #4203
@mcharleb @jywilson It would be really, really good to resolve this. As Qualcomm is handing out more boards this is affecting *a lot* of people.

[2016-04-20 14:57] mcharleb commented on #4203
cmake/toolchains/Toolchain-arm-linux-gnueabihf.cmake should not need to be used for Snapdragon Flight builds. The Snapdragon Flight builds for the apps proc should use: cmake_hexagon/toolchain/Toolchain-arm-linux-gnueabihf.cmake

That way, cmake/toolchains/Toolchain-arm-linux-gnueabihf.cmake does not need to depend on HEXAGON_SDK_ROOT

[2016-04-20 15:31] nacho-carnicero commented on #4203
Thanks for answering, but the problem here has to do with Raspberry Pi builds, and not with Snapdragon Flight builds. According to @mhkabir the build target is not choosing the RPI2 toolchain, any hints where this can come from?

[2016-04-20 15:41] tubeme commented on #4201
They have some good ideas here especially about the flare. But I think @dagar proposal is better.

If there is no Lidar isn't it better to use GPS altitude instead of barometric altitude for the landing and flare?

[2016-04-20 16:34] AndreasAntener commented on #3149
POSIX SITL integration testing is merged to master, all PRs need to rebase. The old multiplatform ROS build is still functional but will not be tested anymore.
As soon as I have the dev guide update I'll close this and open new issues for the rest of the todos above.

[2016-04-20 16:45] AndreasAntener commented on #3961
After going through a similar experience like @dustingooding (for the automatic integration tests) I agree that it would make sense to take compilation of the gazebo/simulation part out of the sitl_run.sh script. I have absolutely nothing against the compile-and-run-it-all approach, very convenient. But the single tasks below that should be split appropriately.

My suggestion would be to move the

[2016-04-20 16:58] #4306 closed

[2016-04-20 17:02] jcooper21 commented on #4099
i would like to add to the diagram that is linked for the landings. The reverse thrust feature with RPM logging for better fixed wing landings in APM which is really good, sensefly also does this in the wind direction autolands.. It would be great to see this in PX4 as well as the parachure failsafe features for emergency landings.

[2016-04-20 18:46] tasarmiento opened #4313 "Eigen Include Error"
In file included from /Users/TAS/PX4_src/sitl_gazebo/include/gazebo_multirotor_base_plugin.h:29:
/Users/TAS/PX4_src/sitl_gazebo/include/common.h:22:10: fatal error:
      'Eigen/Dense' file not found
#include <Eigen/Dense>
         ^
1 error generated.

In file included from /Users/TAS/PX4_src/sitl_gazebo/src/gazebo_controller_interface.cpp:22:
/Users/TAS/PX4_src/sitl_gazebo/include/gazebo_control

[2016-04-20 19:32] LorenzMeier commented on #4313
What is the exact diff in your local folder? Sorry about the regression - some well intended cleanup didn't apparently really work.

[2016-04-20 20:32] tasarmiento commented on #4313
Lorenz,

The only thing missing was eigen3 before Eigen in the path.  I believe this
is the same issue that happened back in Jan (posted here:
https://groups.google.com/forum/#!searchin/px4users/eigen/px4users/3ttWk0GpwtU/9KTqh7-GFgAJ
), but I just forked that repository today to start working and had the
same issue with make.

After fixing the eigen issue I ran into the same optic flow sensor
fol

[2016-04-20 22:51] tubeme commented on #2328
The current implementation of Set to RC is very basic and sometimes tedious to use.

First once I assign knobs to params, and then I reassign the knob to other param and vice versa i lost track of what the assignment is. So I have to reset all the assignments in order to be sure I reassign them the correct way.

Second there is no visual clue what I'm changing... The only way I can see what the cu

[2016-04-21 00:40] DonLakeFlyer commented on #2328
Can you add this here: https://github.com/mavlink/qgroundcontrol/issues/2878

[2016-04-21 06:53] LorenzMeier commented on #4313
Can you please give me the output of git diff in Tools/sitl_gazebo? I don't understand what you changed.

[2016-04-21 07:33] #3936 closed

[2016-04-21 07:35] LorenzMeier commented on #2788
This is sort of ok right now.

[2016-04-21 07:35] #2788 closed

[2016-04-21 07:36] LorenzMeier commented on #950
We've done this in the new dev guide.

[2016-04-21 07:36] #950 closed

[2016-04-21 07:42] LorenzMeier commented on #3434
We have this now for Snapdragon.

[2016-04-21 07:42] #3434 closed

[2016-04-21 07:43] LorenzMeier commented on #3512
@AndreasAntener Assigned to you, relates to the limits we were discussing.

[2016-04-21 07:50] LorenzMeier commented on #3818
We have set this for now, closing.

[2016-04-21 07:50] #3818 closed

[2016-04-21 07:53] LorenzMeier opened #4315 "Update Racer Quad gains"
@kd0aij @pkocmoud Could you work out a new default set for the generic 250 config and help us getting it in the v1.3.0 release?

I honestly don't understand where the blocker is for getting them validated and out to the community.

[2016-04-21 08:17] julianoes commented on #3818
What does this mean? What's the action/consensus?

[2016-04-21 08:29] LorenzMeier commented on #3818
It will land if you enable RTL on RC loss.

[2016-04-21 08:44] ndepal opened #4316 "Passthrough mode for Snapdragon on PixFalcon fails to output PWM"
I am using a PixFalcon in passthrough mode to control the ESCs with the Snapdragon flight.
The PixFalcon refuses to talk to the ESCs, which beep every few seconds as a result.

I am seeing this on the current master (af02b860b3cc495f67a879088dca9f8b1edd58f9) with the following procedure:
Flash the firmware to the PixFalcon
```make px4fmu-v2_default upload```
With the SD card out, connect to the Nu

[2016-04-21 08:53] LorenzMeier commented on #4316
@julianoes Can you have a quick look?

[2016-04-21 09:00] julianoes commented on #4316
@ndepal: Did it work before on that Pixfalcon?

[2016-04-21 09:04] ndepal commented on #4316
Yes it did. It's very strange behavior. It worked Tuesday night, but didn't on Wednesday morning, even though I didn't do anything besides unplugging the device over night.

But it does seem to be caused by that hard reboot.

Are there any parameters that are set by airframe 10020 that might survive a `reboot` but not a power-cycle?

[2016-04-21 09:05] julianoes commented on #4316
There would be some parameters that get set if you selected the airframe with QGC which will also set `SYS_AUTOCONFIG`. However, I don't know how that would influence the startup with 20000.

[2016-04-21 09:20] ndepal commented on #4316
If I set the airframe with QGC I can't get `pwm test` to work even once. But this is probably because I have to power-cycle the PixFalcon (and remove the SD card) to get back into the NuttShell. Additionally the LED then flashes red, presumably because the IMU calibration is lost?

[2016-04-21 10:00] julianoes commented on #4316
@ndepal Did you do `param save` because I don't see it above?

[2016-04-21 10:03] julianoes commented on #4316
I flashed current master on a Pixfalcon and tried both `SYS_AUTOSTART`:

**10020**
[code]

**20000**
[code]

[2016-04-21 10:32] ndepal commented on #4316
did you power-cycle in between?

[2016-04-21 10:36] julianoes commented on #4316
Aha, now I get the error as well.

[2016-04-21 10:55] #3993 closed

[2016-04-21 10:55] tumbili commented on #3993
Fixed

[2016-04-21 10:56] tumbili commented on #3886
@kd0aij Did you get a chance to test this?

[2016-04-21 10:56] ndepal commented on #4316
With the help of Lorenz we found the issue. The ESCs need a failsafe signal before accepting anything else.
This PR fixes it for me: https://github.com/PX4/Firmware/pull/4317

[2016-04-21 10:57] julianoes commented on #4316
Nice that you resolved it, however, does this fix the `PWM_SERVO_SET(x)` problem?

[2016-04-21 11:00] ndepal commented on #4316
Yes. `PWM_SERVO_SET(x)` was shown because the ESCs didn't accept anything because they hadn't seen the failsafe signal, as far as I understand.

[2016-04-21 11:01] julianoes commented on #4316
Ok, so the underlying logic there is wrong, need to dig there.

[2016-04-21 11:19] LorenzMeier commented on #4316
We fixed it, PR incoming

[2016-04-21 11:19] #4316 closed

[2016-04-21 11:20] julianoes commented on #4316
I'm fixing it as well :)

[2016-04-21 14:00] tasarmiento commented on #4313
Sorry it was unclear.  I did not make changes in Firmware/Tools/sitl_gazebo

Here is the output of git diff from ~/PX4_src/sitl_gazebo where I made the
changes:

*diff --git a/include/common.h b/include/common.h*

*index 5d97a44..9ad9984 100644*

*--- a/include/common.h*

*+++ b/include/common.h*

@@ -19,7 +19,7 @@

  */

-#include <Eigen/Dense>

+#include <eigen3/eigen/Dense>

 #include <gazebo/g

[2016-04-21 14:44] kd0aij commented on #4315
The problem I have is that my 250 gains seem to be far too high for the few people that have tried them. So it seems they won't make good defaults.

[2016-04-21 15:29] Michvw opened #4320 "update documentation"
I just spend an entire afternoon looking why my nsh terminal wouldn't work on my PX4.
Turns out i just needed to get the SD card out and everything works fine.
This is nowhere described in the PX4 documentation i could find on the web. It might be a good idea to add it.

[2016-04-21 15:37] julianoes commented on #4320
Thanks for raising this. I agree that this is very much automagic behavior!

I created an issue in the Devguide to track it: https://github.com/PX4/DriverFramework/issues/58.

[2016-04-21 15:37] #4320 closed

[2016-04-21 16:31] mhkabir commented on #4320
It was clearly mentioned here : http://dev.px4.io/advanced-system-console.html

[2016-04-21 19:23] #4107 closed

[2016-04-21 19:48] tubeme commented on #4310
Still cannot find the source of the problem...

[2016-04-21 20:08] LorenzMeier commented on #4310
Are you sure its related to the airspeed sensor? How high is your battery voltage when you are testing?

[2016-04-21 20:38] edsellar opened #4322 "Mauch Power module scaling"
The Mauch power modules that are using a hall effect sensor are much more accurate from what is currently being used with each specific sensor coming with an input voltage divider as well as measured amps per volt to give an extremely accurate view of the exact sensor you have and its reported voltage and current instead of a general view for the sensor type. Where can we add this functionality? -

[2016-04-21 21:36] kd0aij commented on #4315
@pkocmoud Can you try the gains posted here: https://gitter.im/kd0aij/dual_FC_S250AQ?at=571528bb548df1be102dfda3 on your S250? Maybe the Spedix can handle higher gains thant the QAV250

[2016-04-22 00:40] mhkabir commented on #4322
Indeed. I have one of these as well, but I wasn't able to properly configure the current reading. Voltage was easier to get right with some empirical tuning.

@LorenzMeier Every one of these modules comes with a factory calibration result, which is emailed to the customer. It would be great to figure out how we can use this for accurate measurements.

![me-20154 mohammed kabir](https://cloud.githu

[2016-04-22 06:05] AndreasAntener commented on #4322
I believe you can calculate the PX4 values like this:

V_SCALING: "V divider" / (4096/3.3)
C_SCALING: "A/V" / (4096/3.3)

Could you give that a try?

[2016-04-22 06:32] liang-tang opened #4325 "calibration_routines"
line 453 ,src/modules/commander/calibration_routines.cpp, should we add a break in there?

[code]

[2016-04-22 07:03] #4325 closed

[2016-04-22 07:06] tubeme commented on #4310
I'm sure it is not the battery. It is 3S bat I'm using and it is in range, there is no low voltage alarm. In QGC the meter shows 50+% for the battery. Strangely all the sensors are working properly including the airspeed. I get GPS lock. The mag is working the internal and the external as well. All the sensors ere within margins because I get 4 green lights in the Sensors calibration tab after cal

[2016-04-22 07:25] MegaAdragon opened #4329 "OFFBOARD using LPE"
Hi,

I have a question regarding the OFFBOARD mode.

I want to use the OFFBOARD mode and send waypoints to my drone. I'm flying indoor using only optical flow and the Local Position Estimator.
To stream the MAVLink messages I use an iPad connected over BLE to the drone.

I used the C-UART-Interface (https://github.com/mavlink/c_uart_interface_example) as template and tried to implement the same th

[2016-04-22 08:14] LorenzMeier commented on #4295
So it turns out my SD file system was trashed. I need to find a way to store less MAVLInk log files on it.

[2016-04-22 08:14] #4295 closed

[2016-04-22 08:33] LorenzMeier commented on #3199
Duplicate of #3972.

[2016-04-22 08:33] #3199 closed

[2016-04-22 08:33] LorenzMeier commented on #4315
I don't believe we really understand this yet. I'm pushing this out to next release.

[2016-04-22 11:06] julianoes commented on #4309
@tubeme: Can you please put \`\`\` around your pasted code? Otherwise, it's hard to read.

[2016-04-22 12:40] kd0aij commented on #3886
I'll have to dust off my tailsitter

[2016-04-22 14:48] ndepal opened #4330 "Snapdragon Flight very high IMU noise and bad attitude estimation"
I'm having the problem that the Snapdragon Flight's attitude estimation is performing very badly.
The snapdragon is mounted on a Bebop frame in a way that it takes advantage of the dampers that the Bebop has (although I'm not convinced they actually dampen the frequencies we need them to).

In flight, IMU measurements are extremely noisy, up to +/-100m/s^2, see this log: http://logs.uaventure.com/

[2016-04-22 15:12] LorenzMeier commented on #3886
Moving this to 1.4.0 since every body else is happy.

[2016-04-22 15:30] julianoes commented on #4330
Thanks for reporting. I just did some thinking about the integration happening and I discovered a major flaw that I need to fix:

8 consecutive measurements are more or less published with the same timestamp. This means only every 8th dt is >> 0 and therefore we probably only really see every 8th sample.

I'll fix this next up.

[2016-04-22 16:07] tubeme commented on #4309
@julianoes Sorry for the mess... Couldn't format it. Now it is better.

[2016-04-22 16:12] julianoes commented on #4309
See this page: http://dev.px4.io/advanced-switching_state_estimators.html

@tumbili: what about VTOL?

[2016-04-22 16:21] tubeme commented on #4309
I saw this page. Actually it was added just after I posted this issue...

But again did not find the answer there about VTOL?

[2016-04-22 17:39] AlexisPotvin opened #4331 "Flight Termination not working"
We tested the flight termination action from a Geofence violation with a radius Geofence. When we breach the geofence, we recieved the message : "Critical: Geofence violation: flight termination", but the UAV did react. In fact it complet the mission. We retry the same Geofence with other action such as warning and RTL and those were working properly.

[2016-04-22 17:53] dagar commented on #4331
You have to set CBRK_FLIGHTTERM to 0 for flight termination.
https://pixhawk.org/firmware/parameters#circuit_breaker

Be careful...

[2016-04-22 17:54] #4331 closed

[2016-04-22 19:58] edsellar commented on #4322
Confirmed that V_SCALING works using the above. Will need to do more testing on C_SCALING but am confident should be ok if logic is the same. Not user friendly to input as needing to calculate prior to entry, etc but the functionality is there which is good. Thanks @AndreasAntener

[2016-04-22 22:05] priseborough commented on #4330
Julien, I have a couple of questions about the integration method:

1) Are you using trapezoidal or rectangular integration?
2) What delta time do you assign to each trapezoid or rectangle?

[2016-04-22 23:22] tubeme commented on #4310
It is not the airspeed...with the original one it is the same thing. It is something else that I cannot detect...

[2016-04-23 01:13] mhkabir commented on #4322
Voltage looks good. I had the current integrators going wild, but that might have something to do with a back-powering issue I just discovered on the airframe.

[2016-04-23 06:40] julianoes commented on #4330
@priseborough I'm working on the integration thing right now.

1) I think it is trapezoidal: `(val + _last_val) * dt * 0.5f`
2) The correct one :), at least with the changes I'm pushing soon.

[2016-04-23 06:51] AndreasAntener opened #4337 "Execute Dronekit test scripts on Jenkins"
ref: #3750

[2016-04-23 06:53] AndreasAntener opened #4338 "Fix Jenkins CI reporting stdout issues"
- [ ] during rostest standard out gets filled with up to 100mb non printable chars
- [ ] there seems to be an issue with rostest reporting, non unicode chars in xml files

[2016-04-23 06:54] AndreasAntener opened #4339 "Plot and upload charts on Jenkins"
Options:
- Upload logs to Log Muncher
- Define plots per test and generate charts on Jenkins, then upload to S3

[2016-04-23 06:54] AndreasAntener commented on #3149
Updated docs, added remaining issues.

[2016-04-23 06:54] #3149 closed

[2016-04-23 07:13] tumbili opened #4341 "Preflight check fail because of battery"
http://discuss.px4.io/t/flying-wing-x5-setup-questions/349

See number 4.

[2016-04-23 07:18] tumbili commented on #4341
@LorenzMeier What do you think of this? Could this be real?

[2016-04-23 07:41] julianoes opened #4342 "Snapdragon: compass calibration sometimes fails"
The compass calibration on Snapdragon needs inspection. It randomly "sometimes" fails.

[code]

[2016-04-23 08:43] tubeme commented on #4310
I'm lost... I reset a couple of times the frame. The same error: Sensors not setup correctly.

What could be not set up correctly? I did this setup a hundreds of times the same way...

I do not use custom mixer nor custom apps. Just the default AETR frame.

The error Not ready to fly: Sensors not set up correctly. is obvious even prior sensors calibration. After sensors calibration it did not disa

[2016-04-23 10:43] tubeme commented on #4310
Is this OK?

INFO filter ref off: baro_alt: -557.3599

baro altitude -557 meters?

[2016-04-23 13:48] LorenzMeier commented on #2099
Done!

[2016-04-23 13:48] #2099 closed

[2016-04-23 14:09] LorenzMeier commented on #3342
@DonLakeFlyer The param name is COM_LOW_BAT_ACT == 0 is off, 1 is RTL on low battery

[2016-04-23 14:19] kd0aij commented on #3847
discussion at https://github.com/PX4/Firmware/pull/3762

[2016-04-23 14:19] #3847 closed

[2016-04-23 17:33] kd0aij opened #4346 "MAVLink log file creation fails"
[code]
branch rtl_v2

[2016-04-23 17:38] LorenzMeier commented on #3972
@dagar I've started to work on the reposition branch on this. I intend to squeeze this into the 1.3 release because 1.4 will see more architectural improvements and I want to have low-risk functionality changes in before we start moving on that.

[2016-04-23 17:51] dagar commented on #3972
Sounds good. This stalled for me because I wasn't sure how to proceed on the QGC side. How should you enter the state that allows clicking on the screen to send the cmd, etc.

[2016-04-23 17:57] jcooper21 commented on #4341
I can screen record it for you if you like.  I assure you its real, but could it be a parameter setting related to the power module?

[2016-04-23 18:00] dagar commented on #4339
Could the log muncher code run on jenkins? If it's mostly a script that consumes a px4log and spits out an html page and plots. Jenkins can store artifacts per build and handle the hosting.

[2016-04-23 18:14] LorenzMeier commented on #3972
Closing this in favour of https://github.com/PX4/Firmware/pull/4347

[2016-04-23 18:14] #3972 closed

[2016-04-23 18:39] dagar commented on #2822
**Stick Mapper Design**

Fixed Wing

 - Manual -> publish actuator controls
 - Stabilized -> publish attitude setpoint
 - Altitude -> publish new uorb message with airspeed, altitude, and **turn rate?** setpoints consumed by fw_pos_control.
 - Position -> same as Altitude, but fw_pos_control uses l1 to hold heading
 - Auto -> publish nothing (eventually allow manual input/adjustment during auto?)

[2016-04-24 03:21] nsblackwell commented on #3493
I'm running into this as well -- any updates?

[2016-04-24 11:27] AndreasAntener commented on #4339
Yes, I was thinking more in this direction, should be no problem. Jenkins is not really meant to host a lot of data, so upload to S3 is no problem, but need to see how to link it properly

[2016-04-25 03:20] whyscience commented on #3977
I am also working on this .
My solution is when there is RC input ,navigation_mode will turn into Position control.
after this it will be land/rtl again.
It works , but more details need  to be  done.

[2016-04-25 03:55] dagar commented on #3977
The part I'm wondering about is if you'd actually want stick input to cause the mode to change or just tweak the current action.
Eg my plane is on final approach for a landing waypoint and looks like it might be coming uncomfortably close to my car. Can I just adjust the heading slightly rather than abruptly leave the mode and reenter.

[2016-04-25 05:19] sn0west commented on #3977
In my case it's only a little tweak. Not only on rtl and land but also on loiter (hold) Would be nice too.

[2016-04-25 07:44] LorenzMeier commented on #3342
Finally done!

[2016-04-25 07:44] #3342 closed

[2016-04-25 07:46] LorenzMeier commented on #4330
@ndepal Is this fixed?

[2016-04-25 07:46] LorenzMeier commented on #4310
Closing this as it seems related to something else.

[2016-04-25 07:46] #4310 closed

[2016-04-25 07:47] tumbili commented on #4341
@jcooper21 I just flashed master on my quad which has a Pixhawk and a 3DR battery module installed. I was not able to reproduce your error.

[2016-04-25 07:56] tumbili commented on #4341
@jcooper21 Did you power your servo rail? The error you are seeing appear if either your brick or your servo rails is not powered or if you are still connected over USB.

[2016-04-25 07:57] tumbili commented on #4341
Sorry, not true

[2016-04-25 08:01] tumbili commented on #4341
@jcooper21 This error appears if your are powering the servo rails but not the brick. Do you have another power module to this this with?

[2016-04-25 08:06] LorenzMeier commented on #4341
Moving this off the release as its a setup issue.

[2016-04-25 08:53] ndepal commented on #4330
I'm still seeing a very high IMU noise band:
http://logs.uaventure.com/view/sBGdZuKZoyPHDCZPg4Wr8K

What IMU values are being logged exactly? The ones integrated/downsampled to 250Hz? Or simply a subsampling of the raw values (i.e. taking every Xth raw value)?

[2016-04-25 09:00] LorenzMeier commented on #4330
Your link doesn't work for me - is this the right link?

[2016-04-25 09:01] ndepal commented on #4330
Yes, that should be the right link. Although I'm not seeing anything either.

Copy-pasted from the email:

Plots: http://logs.uaventure.com/view/sBGdZuKZoyPHDCZPg4Wr8K
Log: http://logs.uaventure.com/logmuncher/charts/sBGdZuKZoyPHDCZPg4Wr8K/logmuncher.log

[2016-04-25 09:13] julianoes commented on #4330
@ndepal Yes, what you see in the log is not what ekf2 uses. You see 1/32 samples while the ekf2 see's the sum of 32 samples weighted by the dt (which should be pretty constant).

[2016-04-25 10:30] ecmnet opened #4352 "AltHold with LPE broken with latest master"
AltHold using LPE with latest master seems not to work properly anymore:

http://logs.uaventure.com/view/ec9QTt8uVfnTMXiatRxdNX#Local_Z_PLOT

[2016-04-25 10:47] ndepal commented on #4330
With https://github.com/PX4/Firmware/pull/4340 the in-flight performance issue is solved, attitude control is quite good now (confirmed by @tumbili). The attitude drift without mag fusion (second log in original post) is still the same.

[2016-04-25 10:56] LorenzMeier commented on #4352
I'm not aware of any relevant changes. @jgoppert Can you have a look?

[2016-04-25 10:58] LorenzMeier commented on #4352
We added an acceleration controller interface - are you using off board control?

[2016-04-25 11:04] ecmnet commented on #4352
That is why I was also very curious - I did not expect any issues here.

[2016-04-25 12:10] LorenzMeier opened #4355 "UBX Checksum errors"
@bkueng I get now a lot more UBX checksum error messages immediately after system boot on the serial console:

[code]

Do you have an idea where this is originating?

[2016-04-25 12:10] LorenzMeier commented on #4355
I have a LEA 6H receiver, so a 2.5 years old model.

[2016-04-25 12:11] LorenzMeier commented on #4355
[code]

[2016-04-25 12:48] LorenzMeier commented on #4346
Fixed in 14a20e31122c20a435101ae5c9393a384c56255d

[2016-04-25 12:48] #4346 closed

[2016-04-25 12:49] julianoes opened #4356 "Snapdragon: some parameters don't want to stick"
The param `PWM_DISARMED` just doesn't seem to stick/get saved on Snapdragon.

Also reported by @blandry.

[2016-04-25 12:54] LorenzMeier commented on #4313
Ok, pushed something equivalent to master.

[2016-04-25 12:54] #4313 closed

[2016-04-25 13:01] julianoes commented on #4356
The param seems to appear and work after `param set PWM_DISARMED 900` has been called once.

@LorenzMeier any idea why this is necessary?

[2016-04-25 13:03] LorenzMeier commented on #4356
So you're saying that accessing it via MAVLink doesn't work, but on the shell does? Which shell? qshell or Linux side?

[2016-04-25 13:07] julianoes commented on #4356
With `param set PWM_DISARMED 900` I mean the Linux side.

When QGC/mavlink is used, it is also `set` on the Linux side, however, the `save` happens on the QURT side. During the save, the written param is not in the list here:
https://github.com/PX4/Firmware/blob/master/src/modules/systemlib/param/param_shmem.c#L986

[2016-04-25 13:12] LorenzMeier commented on #4356
I'm pretty sure that the list logic there is wrong i.e. its dirty bit is not set or evaluated correctly. Note that there is a "unsaved", "non-default" and "used flag" and those have to be used correctly.

[2016-04-25 13:15] julianoes commented on #4356
The "used flag" is not used on Snapdragon.

I just checked, and you can set a param from default to something in QGC/mavlink and it won't get saved with either: `param save` or `qshell param save`.

[2016-04-25 13:26] julianoes commented on #4356
The problem seems **not** to be the "unsaved" flag here:
https://github.com/PX4/Firmware/blob/master/src/modules/systemlib/param/param_shmem.c#L980

[2016-04-25 13:39] bkueng commented on #4355
Is it reproducible? by 'a lot more' you mean you had them before as well? I did not add any new messages that are unsupported in older ubx protocol versions, only when in RTCM mode. On the Firmware side, I extended the ubx driver to configure the USB port and enable RTCM input.

Is it gone after startup? On startup it can be that it has the wrong baudrate, and the wrong output mode (NMEA by defaul

[2016-04-25 13:41] jcooper21 commented on #4341
Thanks I never would have guessed that could be the issue especially since this power module is brand new.  I have got an old power module to test with, so I will try that shortly. Thanks.

[2016-04-25 14:24] jgoppert commented on #4352
@ecmnet what did you havev MPC_ALT_MODE set to. If it is set to 0 you will see local z holding the set point. If you set it to MPC_ALT_MODE = 1 you will see dist bottom being regulated to the set point. I will fly master today to investigate further.

[2016-04-25 14:30] ecmnet commented on #4352
@jgoppert MPC_ALT_MODE was set to 1. Flight was indoors above flat ground with LIDAR Sf10a. I also double-checked Raw LIDAR measurement which is working perfectly, but I some had sonar-timeouts.

[2016-04-25 14:37] jgoppert commented on #4352
@ecmnet So you had good flight on master before with this param setup correct?  So I should look for recent changes in master?

[2016-04-25 15:13] jgoppert commented on #4352
![alt_sp](https://cloud.githubusercontent.com/assets/473772/14788555/77e7f082-0ad6-11e6-9332-ff76e71bc28b.png)

I analyzed your log. It seems very odd to me that the altitude set point is exactly the current altitude except for a couple of times where it is constant. This suggests it must be a recent change in mc_pos_control.  @LorenzMeier any ideas?

[2016-04-25 15:16] ecmnet commented on #4352
@jgoppert Did my last test-flights April, 23 and had no issues up to then for many times.

[2016-04-25 15:24] jgoppert commented on #4352
@ecmnet @LorenzMeier  It really points to this commit then: https://github.com/PX4/Firmware/commit/95faba391a8b6d891409679bc6dd94598b47f06b

This modified the altitude setpoint logic. We just have to figure out what broke.

[2016-04-25 15:29] LorenzMeier commented on #4352
@ecmnet Are you using off board control or not? If you do, you need to make sure your flags are set up correctly and do not enable acceleration control: ```control_mode.flag_control_acceleration_enabled = !offboard_control_mode.ignore_acceleration_force &&
		  !status.in_transition_mode; ```

[2016-04-25 15:51] jgoppert commented on #4329
@MegaAdragon Looking into this, maybe related to #4352

[2016-04-25 15:59] ecmnet commented on #4352
@LorenzMeier @jgoppert I did not use off board control,  but I will double-check again and let you know.

[2016-04-25 16:03] mcharleb commented on #2999
No longer seen. Closing.

[2016-04-25 16:03] #2999 closed

[2016-04-25 16:05] mcharleb commented on #2690
That code no longer exists.

[2016-04-25 16:07] mcharleb commented on #2690
Nuttx can set whatever log verbosity it wants.

[2016-04-25 16:19] jgoppert commented on #4352
Is this only present with lpe, or other estimators as well?

[2016-04-25 16:24] ecmnet commented on #4352
@jgoppert I did only check LPE as I am not using other estimators. Also I confirm, that I have not been using off board mode.

[2016-04-25 17:25] jcooper21 commented on #4341
I can confirm it was a bad power module.

[2016-04-25 17:26] #4341 closed

[2016-04-25 17:32] sanderux opened #4362 "Failsafe infrastructure in commander"
As discussed in devcall 20160425 we need to look at clear structure for the commander to handle failsafe events.

/cc @tumbili @julianoes

[2016-04-25 18:28] ecmnet commented on #4352
@jgoppert Seems to be LPE. Although raw distance is correct, the LPE does not consider LIDAR measurements due to LIDAR beta faults. I cannot remember having those before.

[2016-04-25 18:38] gianni-carbone opened #4364 "System hangs on RTL call from RC in single channel mode selection"
Helo,
after the last firmware update I suffer a serious problem. If I try to switch in Return To Land mode when non GPS signal available the system completely hangs.
The system does normally work when a GPS valid signal is present.
The problem is serious cause if the system is in flight in manual mode with no GPS lock and accidentally the RTL switch is selected the system HANGS whit result of a cr

[2016-04-25 18:59] ecmnet commented on #4352
Update: After a beta fault, LIDAR does not recover. Estimation seems to be based on Baro only. Here's a long-time recording (LIDAR vs. LPE-Z):

![chart](https://cloud.githubusercontent.com/assets/7580193/14795380/860a4668-0b28-11e6-9391-b03db489d9c5.png)

[2016-04-25 19:26] julianoes commented on #4356
@mcharleb this is the param sync issue that I was telling you about earlier.

[2016-04-25 19:51] jgoppert commented on #4352
@ecmnet Long term drift in local z is normal, please plot alt.dist_bottom to see if that is drifting.

The reason local z should drift is that it follows baro, since this is the best measuremnt of global altitude, but the difference between the terrain and the global altitude is measured by the lidar, and that should be constant if the vehicle is stationary and the lidar is reading the same.

[2016-04-25 20:15] ecmnet commented on #4352
@jgoppert Thanks for clarifying this. The difference between global altitude and terrain is constant:

![chart](https://cloud.githubusercontent.com/assets/7580193/14797446/28e5de4c-0b33-11e6-9eac-5ff31a339dfb.png)