[2020-01-31 09:37] Chris-Bee opened #14075 "PX4 10.0.1 Stable, Hard Fault in file:armv7-m/up_hardfault.c"
Hello,
I encountered an issue with PX4 1.10.1 Stable where the copter seems to make a 180° flip upside down. I am using a MoCap pose input over MavRos, mapped to the vision pose topic as described in the [tutorial](https://dev.px4.io/v1.10/en/ros/external_position_estimation.html ). The logs indicate that this seems to be a software crash, thus the movement might be a random result due to the unde

[2020-01-31 11:05] FlavioTonelli commented on #10808
This is happening because QGC is filtering the "Enter" character. The GUI is using Enter as a confirmation and its therefore don't sending it over the NSH console.
@julianoes i see two ways to fix this, either changing the character on the px4 side (from Enter to a different one , 'f' for example) or change the input logic on QGC side.

[2020-01-31 12:13] davids5 commented on #13732
@Tony3dr do you have a powered USB hub?

Can you test again, with a powered hub and no battery?
Wall plug--V
[PC]--------[HUB]------[DURANDAL]

[2020-01-31 12:42] michael-p opened #14076 "Failsafe for position loss in Offboard mode"
**Describe the bug**
When a position loss event occurs while in Offboard mode (which requires a valid position estimate), the vehicle performs a blind land failsafe, despite the fact that COM_POSCTL_NAVL is configured to "Assume R/C, switch to altitude mode..." and there is a remote control.

**To Reproduce**
Stream VISION_POSITION_ESTIMATE mavlink messages to simulated Iris copter (in Gazebo), sw

[2020-01-31 13:21] shrit commented on #14070
I suppose that this shell does not work in SITL simulation as it requires Nuttx to be used instead of Linux

[2020-01-31 15:14] fnoop opened #14077 "Can't build with python3"
PX4 fails to build with a custom version of python3.

[code]

This has detected system python2 which is not in use - instead I have a custom version of python3 installed that is used for all python on this system (in /srv/maverick/software/python/bin).  System path contains python3 before python.  In addition, PYTHON_EXECUTABLE is also set:
`PYTHON_EXECUTABLE=/srv/maverick/software/python/bin/pyth

[2020-01-31 15:25] dagar commented on #14075
Do you have any "good" logs from this setup? Were you using an older version of PX4 successfully?

[2020-01-31 15:28] fnoop commented on #14077
Note if I change CMakeLists.txt from:
`find_package(PythonInterp REQUIRED)`
 to
`find_package(PythonInterp 3.5 REQUIRED)`

Then it finds my python3 interpreter and works.

Also, if I change Makefile to add:
`CMAKE_ARGS += -DPYTHON_EXECUTABLE=/srv/maverick/software/python/bin/python3`
Then it also works

[2020-01-31 15:31] dagar commented on #14075
By any chance are you using the console when this happens?

[2020-01-31 15:40] fnoop commented on #14077
If this is added to Makefile, then at least we can set PYTHON_EXECUTABLE environment variable to hint the compile:
[code]

[2020-01-31 15:55] FlavioTonelli commented on #14077
This shall be already fixed in master. Give it a try

[2020-01-31 16:12] fnoop commented on #14077
Hi @FlavioTonelli - Ah yes I can see that CMakeLists.txt now requires python3 as minimum requirement for non-catkin build.  However you still can't specify/override the python interpreter, it has to be the priority in the system path.
OK if I make a PR for the above fix?

[2020-01-31 16:26] Chris-Bee commented on #14075
Hello @dagar,
thank you for the fast reply.

Unfortunately, I do not have logs with a working setup prior to 1.10.1 Stable, but I can test 1.10.0 on Monday and upload the logs

The consol was not connected, but this can also be done on Monday. Should I observe something specific with the console?

[2020-01-31 16:27] FlavioTonelli commented on #14077
I'm not the maintainer of the code so I can't provide you a detailed feedback on this.
On my point of you the improvement make sense. Feel free to contribute :)

[2020-01-31 16:53] dagar commented on #14075
I don't think that's necessary, I was mainly wondering if this had ever worked entirely at some point and we could review the log.

I saw mentions of the shell (nsh) in the hardfault, so i was wondering if this might have corresponded with any particular input (this includes the mavlink shell).

From your perspective did the hardfaults occur at the same phase of flight?

[2020-01-31 17:08] Chris-Bee commented on #14075
If this includes mavlink then yes, the console was connected. The MoCap pose is communicated via MavROS to px4.

Yes, the scenario was comparable. The vehicle was in altitude mode in the beginning, and after switching to position control, it took about 5 seconds till the error occurred both times. The first flight should have inputs from the RC during position mode and for the second flight, the v

[2020-01-31 17:21] fnoop commented on #14077
PR https://github.com/PX4/Firmware/pull/14080 raised

[2020-01-31 17:44] bilginmu opened #14081 "gyro 1 (ID 682249) no matching uORB devid"
I am using Pixhawk Cube. During the gyroscope calibration, I get an error like below and calibration does not end.

gyro 1 (ID 682249) no matching uORB devid

[2020-01-31 20:13] dagar commented on #14081
Which version of PX4? When did you last calibrate?

[2020-01-31 20:36] bilginmu commented on #14081
I think it is last version of PX4. Today, I installed PX4 firmware with QGC and calibrated it. Additionally, I am using external GPS (GPS Here). I can calibrate well without GPS but cannot calibrate with external GPS.

[2020-01-31 23:21] Tony3dr commented on #13732
@julianoes this is only with the only hardware unit we have.

@davids5
Wall plug--V
[PC]--------[HUB]------[DURANDAL]
Connected the PC to the HUB and to the Durandal and vehicle connected good, flashed the master firmware, uploaded the Mission to the vehicle successfully. Tried to arm the vehicle and getting the same error message: Preflight fail, Baro Sensor #0.

[2020-02-01 08:21] bresch commented on #14071
The minimum thrust defined by MPC_THR_MIN is intended to be the minimum thrust during flight to avoid loosing attitude authority when "airmode" is disabled. On the ground, we just want  to start the motors, no attitude control is required and this is why the "idle" value (0) is used.

Could you describe what is the you are trying to fix? Is it just a documentation issue?

[2020-02-01 08:35] bresch commented on #13962
An issue I've seen recently is the following:
- the autopilot sets a home position (e.g.: altitude of 400m)
- QGC adds X meters to that home position to create the takeoff point (e.g.: 400+4)
- the autopilot arms, resets the home position (e.g.: changed to 403m) and takes off (404 - 403 = 1m agl instead of 4).

The issue is that the difference in position between the first and second home position

[2020-02-01 09:44] LorenzMeier commented on #13962
@bresch Sounds like the first step is to tighten the requirements to set home depending on GPS accuracy. Second step would then be to make the QGC command relative.

[2020-02-01 10:13] bilginmu commented on #14081
I recognize another error today.

- Calibrate compass
- "Mag 2 Fail: STALE!" error comes up during compass calibration
- Calibrate gyroscope
-  "gyro 1 (ID 682249) no matching uORB devid" and "Mag 2 Fail: STALE!" errors comes up during gyroscope calibration.

How can fix it ?

Thanks.

[2020-02-01 10:18] dusan19 commented on #13962
I see, but I dont think thats the issue here.
In the plots you can see that the home position and the global position altitude are the same while the triplet altitude is 5m higher.
That would normally mean that the flight task got the altitude setpoint 5m higher than the drone position and should request an upwards velocity, instead the trajectory velocity is roughly 0.

[2020-02-01 10:23] dusan19 commented on #14071
Thank you for the answer. It was more of a FMI question, probably the issue was a wrong place to ask.
The reason I asked is that I noticed lately that while landing the drone cuts off the thrust significantly more when detecting land. It turned out to be for a different reason.

[2020-02-01 10:23] #14071 closed

[2020-02-01 21:06] bresch commented on #13962
In the plots you can see that the home position and the global position altitude are the same while the triplet altitude is 5m higher.
That would normally mean that the flight task got the altitude setpoint 5m higher than the drone position and should request an upwards velocity, instead the trajectory velocity is roughly 0.

Right, we'll have a look at that. Are you on top of current master? Or v

[2020-02-01 21:16] dusan19 commented on #13962
Its 1.10, I can share a log (on monday), its not easily reproducible at all, happened 2 times in 50 flights (real flights not sitl though). I did a bit of debugging but considering how hard it is to reproduce it, I only have a theory why it might have happened, cant say for sure. Will post it with the log file.

Even though the issue doesnt happen too often, its still significant for any autonomou

[2020-02-02 10:55] weekly-digest[bot] opened #14084 "Weekly Digest (26 January, 2020 - 2 February, 2020)"
Here's the **Weekly Digest** for [*PX4/Firmware*](https://github.com/PX4/Firmware):

 - - -
# ISSUES
Last week 57 issues were created.
Of these, 30 issues have been closed and 27 issues are still open.
## OPEN ISSUES
:green_heart: #14082 [[WIP] Add S23K1XX and rddrone uavcan146](https://github.com/PX4/Firmware/pull/14082), by [davids5](https://github.com/davids5)
:green_heart: #14081 [gyro 1 (ID 6

[2020-02-02 14:13] piradata commented on #13759
Same thing in there, when i run "no_sim=1 make px4_sitl_default gazebo" there is the following error:

[code]

[2020-02-02 22:21] hamishwillee commented on #13759
I just tested this off latest firmware environment set up as described in our [docs](https://dev.px4.io/master/en/setup/dev_env_linux_ubuntu.html#sim_nuttx). This is Gazebo 9 on Ubuntu 18.04. For me `NO_SIM=1 make px4_sitl_default gazebo` works fine.

I am closing this as the follow on posts are different reported errors as the original one.

@piradata Can you please try again with recent firmware

[2020-02-02 22:21] #13759 closed

[2020-02-02 22:27] piradata commented on #13759
okay, I will test it soon, now I am using the old version of px4 on my pc,
will format the laptop for a clean install

Em dom, 2 de fev de 2020 19:21, Hamish Willee <notifications@github.com>
escreveu:

[2020-02-03 06:42] julianoes commented on #14077
@fnoop I'm confused. Why isn't this used:

https://github.com/PX4/Firmware/blob/86eff44a5efa01273788bc46e0001c4102cafff2/CMakeLists.txt#L270

[2020-02-03 08:02] prabhjeetsingh88 opened #14088 "Fixed wing position control code documentation"
Hi, I am a newbie here. I am trying to understand fixed wing position control code for PX4 firmware.
But I am unable to find the documentation which explains this and other code in detail. Could you please send me the URL for the same.

Any help in this regard will be highly appreciated.

Thanks

[2020-02-03 08:42] fnoop commented on #14077
@julianoes `Python Interp 3` was only added after the latest release - I was using 1.10.  #14080 allows us to specify whichever interpreter we want so improves this, thanks for approving :)

[2020-02-03 08:42] #14077 closed

[2020-02-03 09:13] Dan-Moss commented on #12904
Hi @julianoes,
Could not figure it out, the workaround it just trying to get it when behaving as expected. Luckily can see the issue when arming / adding small throttle so no risk.

[2020-02-03 09:51] CarlOlsson commented on #13953
Replayed logfile at the top, original logfile at the bottom
![image](https://user-images.githubusercontent.com/7795133/73642669-60a71480-4672-11ea-8a35-18b7186b7728.png)

The issue is that even though all GPS data is logged without dropouts the ekf2_timestamp topic can have some dropouts. And if this happens when a GPS measurement is being fused a timeout is triggered in ekf2_main

https://github.

[2020-02-03 11:28] bilginmu opened #14090 "Telemetry Searching Mode"
I updated my telemetry and led is blinking green that means searching mode. When I connect to my laptop, it does not match each others still blinking green. How can match each other?

Thanks!

[2020-02-03 12:46] jeffstreet commented on #10788
@matteobarbera,
I haven't seen any followup, but am trying to reach @acfloria to see how he'd like to move forward.

If you can get it to work with PX 1.8.0 ([as described above](https://github.com/PX4/Firmware/issues/10788#issuecomment-535165248)), then the driver is likely the problem. The best I could achieve intermittent operation.

[2020-02-03 14:35] matteobarbera commented on #10788
@jeffstreet I unfortunately don't have access to the RockBlock hardware anymore, as I was working on it as part of an internship I have now concluded.

Before finishing, I was able to receive a sporadic Mavlink heartbeat on QGC from a drone running the latest stable release on a Pixhawk 4 (inspected with `iridiumsbd status` in the Mavlink Console). Data packets were being sent, as RockBlock credit

[2020-02-03 14:49] #14027 closed

[2020-02-03 14:58] bilginmu commented on #14090
When I uploaded again both telemetry, problem is solved.

[2020-02-03 14:58] #14090 closed

[2020-02-03 15:01] #12656 closed

[2020-02-03 15:38] moreba1 opened #14094 "feature request : Hybrid LAND mode for VTOL UAVs"
Hi

When the UAV is flying at a high altitude (400 m) and you want to land the UAV there . power consumption is very hight  and the battery may not be sufficient. In my opinion, it is better to add a hybrid flight mode in code to lower the height in circular loiter to 40 m first, then transtiotion to multi-rotor mode and descend.

[2020-02-03 21:46] Pedro-Roque commented on #12980
Not forgotten @julianoes ! I'm just trying to dodge deadlines these days, but I'll come back to this as soon as I can

[2020-02-04 06:20] hamishwillee commented on #14053
OK. PR created for the parameter. I also updated vtol without airspeed sensor doc: https://github.com/PX4/px4_user_guide/commit/44b5efb428b6e0c820bf348a1d0ddf8c73edb1de

[2020-02-04 08:22] #14053 closed

[2020-02-04 09:48] bilginmu commented on #14081
When I changed my firmware(stable v1.10.1) to developer version, problem is fixed.

[2020-02-04 09:48] #14081 closed

[2020-02-04 12:29] julianoes commented on #14094
I agree. However, I would argue that this could generally be taken care of by a mission with planned landing sequence.

@sfuhrer might be able to better comment.

[2020-02-04 12:32] #14084 closed

[2020-02-04 12:34] julianoes commented on #13376
Thanks for the issue. If you have an idea how to solve it, feel free to create a  PR.

To me this seems similar (maybe related to) #12471.

FYI @MaEtUgR @bresch.

[2020-02-04 12:38] julianoes commented on #14070
This is "normal" but I agree that it would be nice if this was not implemented that way. As far as I remember, currently we are not able to do a controlled clean shutdown, so all we can do is `exit`.

I think the first step will be to implement a clean shutdown which then would allow reboots.

See #11654.

[2020-02-04 12:43] julianoes commented on #14088
I think all there is, is the actual code:

https://github.com/PX4/Firmware/tree/master/src/modules/fw_pos_control_l1

https://github.com/PX4/Firmware/blob/ca96b6b0eae2d246045e2e85f52414dd1b14dd0c/src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp#L539-L541

For altitude/speed/pitch control there is TECS:
https://github.com/PX4/ecl/tree/master/tecs

For more general documentation, I'm sure

[2020-02-04 14:05] moreba1 commented on #14094
it can not done by a planned mission because we will land emergency in that position .

[2020-02-04 14:44] #13329 closed

[2020-02-04 15:09] dk7xe commented on #14053
It's not a bug, it's a feature.. nice. *sarcasm off* ;)

[2020-02-04 17:27] sfuhrer commented on #14094
Yes @julianoes is right, this problem can be solved by uploading a mission with a land_start marker, then a loiter to altitude followed by the land wp. When you then trigger a RTL (or it get's triggered by safety mechanisms) it will fly the mission from the land_start marker, and transitions at a low altitude (the one that's set in the loiter to alt wp).
RTL_TYPE = 1 or 3 required.

This way works

[2020-02-04 17:42] shrit commented on #14070
Ok, I see.
I understand that this is normal, I had a glance on the code, I do not have any experience in operating system programming so I do not know how can I help.
I do not know when this feature might be ready, so at least we have it know at the list of requested features.

[2020-02-04 18:28] moreba1 commented on #14094
@sfuhrer  RTL application is different with land. when battery is too low for RTL or in GPS loss , RTL by mission is not a good choice.

[2020-02-04 18:50] marcelino-pensa opened #14101 "Cannot start EKF2 on External Vision without a Barometer"
**Describe the bug**
EKF2 does not start if there is no incoming barometer data, even with `SYS_HAS_BARO = 0`. This seems like a bug to me unless this is expected behavior for some reason.

**To Reproduce**
I am running on a snapdragon flight using Px4 1.8, but it seems like this is a bug on master too (at least it seems so by looking at the code).
- Do not start the barometer when starting px4
-

[2020-02-04 19:02] LorenzMeier commented on #14101
Many thanks for the detailed report. However, this is really a feature request for a very specific use case. Could you please send a pull request with the required changes instead? Open source projects are always open to accept new features that match coding standards and quality, but the way this works is that we have to rely on the people who need those to implement and test them.

https://help.

[2020-02-04 21:46] hamishwillee commented on #14094
Just to clarify current behaviour, land mode is documented [here](https://docs.px4.io/master/en/flight_modes/land.html#vtol). According to this the vehicle will start landing according to current mode. If that mode is [Fixed Wing mode](https://docs.px4.io/master/en/flying/fixed_wing_landing.html) then there is a setting that causes it to switch to MC mode just before landing [NAV_FORCE_VT](https:/

[2020-02-05 09:02] abdul-baais opened #14103 "Error while executing MAKE PX4_SITL GAZEBO (error: ‘TRUE’ was not declared in this scope. #define HAS_GYRO TRUE)"
While i am trying to execute the MAKE PX4_SITL GAZEBO , it throws the following error.
Firmware/Tools/sitl_gazebo/include/gazebo_opticalflow_plugin.h:43:18: error: ‘TRUE’ was not declared in this scope.
 #define HAS_GYRO TRUE
Firmware/Tools/sitl_gazebo/include/gazebo_opticalflow_plugin.h:43:18: note: in definition of macro ‘HAS_GYRO’
 #define HAS_GYRO TRUE
and i am clueless, thanks in advance

[2020-02-05 09:05] nicovanduijn commented on #13350
Fixed by #13958

[2020-02-05 09:05] #13350 closed

[2020-02-05 09:06] TSC21 commented on #14103
Fix was brought here: https://github.com/PX4/sitl_gazebo/pull/408. sitl_gazebo submodule just needs to be updated in PX4 Firmware upstream.

[2020-02-05 09:10] abdul-baais commented on #14103
Thank You

[2020-02-05 09:24] #14103 closed

[2020-02-05 10:19] CarlOlsson commented on #13953
@priseborough As mentioned above, when replaying data I found the following issue with the GPS blending logic:

If one GPS module timeouts ekf2 instantly switches out of blending and pushes the other GPS data directly into the EKF, resulting in high innovations
![image](https://user-images.githubusercontent.com/7795133/73832826-2623b000-4809-11ea-8ea1-cf0807f1eeab.png)

I remember you mentioning t

[2020-02-05 14:31] ThomasRigi commented on #10282
I experienced the same today, but in addition I also had a "Previous flight task failed, switching to mode 2" Warning just before. Is this linked or did something else cause the additional error?
![image](https://user-images.githubusercontent.com/48206725/73850708-7f510b00-482c-11ea-9a81-9e8bdf93dd34.png)
Log is here: [https://logs.px4.io/plot_app?log=993534ce-80b3-4a24-9159-358e42c71a51](https://

[2020-02-05 15:24] bkueng commented on #10282
@ThomasRigi it is likely related. What is the closest commit to upstream of that log? And do you have the mission file?

[2020-02-05 15:42] ThomasRigi commented on #10282
@bkueng My modifications are based on v1.10.0 (https://github.com/PX4/Firmware/commit/4f6faac2c86daa14417b33bfbf9c4e44bf17492a). I was testing some stuff for a new hybrid mode for VTOL. I have touched the mc_pos_control files, but only minor modifications that do nothing when it is not in the new hybrid mode (which is not the case here).

Here is the mission file:
[hybrid square.zip](https://githu

[2020-02-05 18:55] ataits opened #14105 "PWM_MAX setting to 2200us only outputs 2150us"
**Describe the bug**
When I set the parameter PWM_MAX to 2200us, I expect that the maximum output should be 2200us. However, when I check the port0 outputs via QGC analyzer, I see only 2150us at maximum throttle (in acro mode).

**To Reproduce**
Steps to reproduce the behavior:
1. Drone attached to computer (QGC) via USB
2. Enable Circuit Breaker for Drone to Arm with USB
3. Set the PWM MAIN MAX p

[2020-02-05 19:20] dagar commented on #14105
Hi @ataits

The limit is hard coded here. https://github.com/PX4/Firmware/blob/37db7d3bba965c379ac5e997661fa4930783daf3/src/drivers/drv_pwm_output.h#L101

Is this something we need to change? At the moment I'm not aware of a reason it should be 2150 us vs 2200 us.

[2020-02-06 09:36] Yubh8n opened #14111 "error performing make px4_sitl gazebo"
Hello PX4.

I'm trying to build px4 with gazebo and i get an error. and I simply cannot find my problem, I have been looking for hours now, your help are appreciated.

(base) chris@Fire:~/school/master_thesis/sim/Firmware$ make px4_sitl gazebo
-- PX4 config file: /home/chris/school/master_thesis/sim/Firmware/boards/px4/sitl/default.cmake
-- PX4 config: px4_sitl_default
-- PX4 platform: posix
-- PX

[2020-02-06 09:39] TSC21 commented on #14111
Fix was brought here: https://github.com/PX4/Firmware/pull/14110. Update your repo ans should be good to go.

[2020-02-06 09:39] #14111 closed

[2020-02-06 11:14] bkueng commented on #10282
Thanks @ThomasRigi. What I see is:
- navigator does not send a triplet initially after switching to mission for about 1s
- as a consequence, the position controller outputs these warnings and wants to go into failsafe.
- looking at the perf counters, navigator has a very long cycle (2256 ms), which I'm pretty sure it is waiting for the SD card, and explains the above.

Which SD card are you using?

[2020-02-06 12:26] ThomasRigi commented on #10282
A SanDisk Ultra 16GB cat 10 SD card.

Also the initial logging dropout points to an SD card problem.

[2020-02-06 16:42] julianoes opened #14116 "PX4IO not enough RAM left for VTOL models like convergence"
@sfuhrer found that sometimes RC did not work on the convergence and that the ACT LED on the Pixhawk 4 IO side would be always on instead of blinking.

We could also see a segfault using GDB via Dronecode Probe:
[code]

According to `git bisect` the bytes free go from 568 to 88 (sometimes 24) anywhere here, presumably due to the NuttX upgrade:

The first bad commit could be any of:
58799dc7d17b01e

[2020-02-06 18:17] dagar commented on #14116
For comparison.

[code]

[2020-02-06 18:42] julianoes commented on #14116
@dagar What is that comparing? And what airframe?

[2020-02-06 18:44] dagar commented on #14116
It's the SYSLOG output in px4io.c before the mixer is even loaded.

https://github.com/PX4/Firmware/blob/b399698306e5afa068903adda094adedf0423691/src/modules/px4iofirmware/px4io.c#L359

[2020-02-06 19:16] marcelino-pensa commented on #14101
Thanks for the prompt response, @LorenzMeier! I am willing to make the changes and test, but I am planning to do so on v1.8.0, since this is the one I am currently using in our project. I'm not sure if that helps at all, since this would require tests on master too.
I guess that the sole existence of this issue (even if we close it) can provide some guidance to other people who might encounter the

[2020-02-06 20:25] davids5 commented on #14116
@julianoes - it was the last upgrade of NuttX, when the H7 came in. FD/streams became required.  We could set it to 0 in the past and that saved memory.  I adjusted the stack and free mem to boot. with out police lights, but Not all the mixers were tested. :(

[2020-02-07 06:47] coderkalyan commented on #14105
Correct me if I'm wrong; Not trying to discourage you from picking what value you want as you probably have good reason for doing it, but I believe the standard for drone-related PWM control is a range from 1000-2000 us... Is there a particular effect you are trying to achieve by setting it to 2200 us?

[2020-02-07 07:15] feemi commented on #14105
The problem is parameter reference is not consistent with this hard coded value. It says maximum value  can be set to 2200. In most cases. 1000 2000 is fine for standard escs. But wider ranges can work for servo travels.  Any way it doesnt make sense when hard limit is less than parameter max value.

[2020-02-07 08:33] ayberkozgur commented on #13609
I have the same problem, there is nothing but the here2 and babel `NodeStatus` on the bus (pixhawk not on the bus).
![Screenshot_1](https://user-images.githubusercontent.com/1974284/74013478-d2da6a80-498c-11ea-94a6-d1881ba7976c.png)

[2020-02-07 10:52] #12439 closed

[2020-02-07 15:19] sfuhrer commented on #14116
Hi guys, do you see an easy way to unblock people that are using this specific airframe?

[2020-02-08 05:43] devararendy commented on #13956
Woww I also have same problem.
Unfortunately I only have the video. I don't have the flight log.

I'm using PixRacer with PX4 v1.9.2 firmware. And I'm using ublox m8n + LNA. I got 18 satelites and the compass also working correctly.

And actually the battery is still enough, I only set the  minimum voltage per cell a bit higher.

When I started Auto Mode, it flew a couple meter then changed to Lan

[2020-02-08 18:54] dagar commented on #13856
Fixed in https://github.com/PX4/Firmware/pull/14123.

[2020-02-08 20:22] #13856 closed

[2020-02-09 01:25] weekly-digest[bot] opened #14124 "Weekly Digest (2 February, 2020 - 9 February, 2020)"
Here's the **Weekly Digest** for [*PX4/Firmware*](https://github.com/PX4/Firmware):

 - - -
# ISSUES
Last week 40 issues were created.
Of these, 25 issues have been closed and 15 issues are still open.
## OPEN ISSUES
:green_heart: #14119 [[WIP]: delete drv_baro.h and cleanup](https://github.com/PX4/Firmware/pull/14119), by [dagar](https://github.com/dagar)
:green_heart: #14116 [PX4IO not enough RA

[2020-02-09 11:35] bresch commented on #12016
@MaEtUgR Could you please check that?

[2020-02-09 18:55] majid55-pixmini opened #14127 "attitude estimator not running - check system boo and Pref-fight checks failed Baro Sensors 0 Missing"
i have pixhwak 4 mini fc and recently it is giving me these errors.
1-attitude estimator not running - check system boo
2-Pref-fight checks failed Baro Sensors 0 Missing
board have latest px4_fmu-v5 V1.10.1 stable version. updated through QGC
and then i tried to reinstall previous versions too but error doesn't go away.
i did not crash my drone and it was working good before installing latest vers

[2020-02-09 21:20] hamishwillee commented on #12237
@RomanBapst So is this something we will still want? It was you originally, then @sfuhrer. Good to assign or close.

[2020-02-10 06:19] RomanBapst commented on #12237
@hamishwillee This is not done yet. Wen can already use 2 airspeed sensors but we are not there yet in terms of calibration. What we've done so far is that we used a sensirion airspeed sensor as the second sensor, because it does not require any calibration.
I think @dagar is really the man who has been doing most progress in this direction with all this sensor pipeline refactoring.

[2020-02-10 06:25] hamishwillee commented on #12237
That's cool @RomanBapst . My point was really that if this has no assignee, then what is likely to happen is it will go stale and get dropped. If that is going to happen anyway, let's just delete it now.

So I have assigned to @dagar and you guys can do with it as you will.

[2020-02-10 07:51] julianoes commented on #14116
@sfuhrer #14128 might be just enough for now.

[2020-02-10 08:36] #14124 closed

[2020-02-10 08:38] sfuhrer commented on #14116
True, the IO with the Convergence works again with this PR (with 40 bytes free).

[2020-02-10 11:46] Thijs---- opened #14133 "EKF2 stops, causing a flight termination"
**Describe the bug**
During flight, the ekf2 module stops publishing all messages, causing a flight termination.
It is remarkable that before it's stops publishing, it publishes one more time all messages at the exact same moment and with exact same timestamp.
Sensor data (sensor_combined, vehicle_magnetometer, etc) keeps publishing as expected.

**To Reproduce**
This occurred twice, no idea if it

[2020-02-10 16:27] ashwinsushil opened #14137 "Periodic cutoff of local position from EKF2"
**Describe the bug**
I am observing periodic cutoff of local position data from the EKF2 with the setup as mentioned below.

At the cut-offs, the optical flow is giving valid data.

**Setup**
1. Intel aero drone
2. PX4 v1.9.2 with PX4Flow driver enabled
3. Px4Flow
4. Parameters:
  * EKF2_AID_MASK = 2 (Optical flow)
  * EKF2_HGT_MODE = Barometer
 5. Teraranger One data sent from a computer companio

[2020-02-10 20:43] rligocki commented on #13538
During this month I would like to create a pull request for pymavlink, mavlink, PX4-firmware and QGroundControl repositories. This pull request should allow testing of end-to-end encryption and key exchange system using the public key infrastructure. Also, I am thinking about the idea of secure bootloader, that would allow installing only signed firmware. For now, it is impossible to prevent the c

[2020-02-10 21:22] hamishwillee commented on #13538
I would start with updates to repo in ArduPilot/pymavlink. That's a gate for MAVLink changes that all the other systems are dependent on.

[2020-02-10 22:38] rligocki commented on #13538
Ok, but in pymavlink there are only a few changes. I added monocypher library, added and modified few functions in mavlink_helper. Also added new structure for certificate storage in mavlink_types. Do you think, that I should create pull request right now or should I wait until I will create prototype that works?

[2020-02-11 00:50] hamishwillee commented on #13538
There is no point submitting a PR until you have working code. I would submit an issue where you explain what you expect your code to do (in that repo) so that the engineers can assess any risks.

[2020-02-11 06:50] Thijs---- commented on #14133
I just noticed in both log files that CPU & RAM (cpuload msg) also stops publishing, this happens **before** the ekf2 stops.
In the first log ~3 minutes before (14:26), in the second ~20 s (7:52).
In my other log files this does not happen.

[2020-02-11 14:52] islamdib opened #14138 "A begginer need help"
Hello,
Im new in developpement.
I want to acces to the pixhawk firmware.
I don't know how to start , what I need as programs, I use windows or linux ....
thank's a lot.

[2020-02-11 15:01] piradata commented on #14138
You can give a look at the dev's wiki:

https://dev.px4.io/master/en/index.html

[2020-02-11 15:16] #14138 closed

[2020-02-11 15:48] islamdib commented on #14138
thank you

[2020-02-12 08:50] bkueng commented on #14133
Hi

Can you provide the changes you made? It's impossible to asses w/o knowing what was changed in the code.
Alternatively you can try to reproduce the problem with a commit from upstream.

[2020-02-12 09:03] julianoes commented on #12958
@majid55-pixmini as written above, please create a new issue and add a log.

[2020-02-12 09:05] julianoes commented on #12813
For Ubuntu 16.04 users this can be resolved by installing a newer ccache version as it is done in:

https://github.com/PX4/Firmware/blob/0d36e5094b4655c960846d481f62361d40cf1d9f/Tools/setup/ubuntu.sh#L103-L107

[2020-02-12 09:05] #12813 closed

[2020-02-12 09:07] julianoes commented on #13232
For anyone seeing this later, check out: https://dev.px4.io/master/en/simulation/jmavsim.html#troubleshooting

[2020-02-12 09:45] julianoes commented on #13956
@devararendy sorry about your fly away! What concerns me in the video is that you repeatedly get preflight errors about GPS velocity not being accurate enough. I'm not sure if that has something to do with it.

[2020-02-12 09:46] julianoes commented on #10808
Aha @FlavioTonelli! @bkueng you might have an idea here.

[2020-02-12 10:01] julianoes commented on #10621
@dagar can we determine which external mag we have and if we have to rotate it for the Drotek case?

[2020-02-12 10:01] #12893 closed

[2020-02-12 10:01] #12484 closed

[2020-02-12 10:04] julianoes commented on #12530
I'm concerned that we have garbage data like in the plot showing up for airspeed when there is no airspeed sensor connected.

[2020-02-12 10:05] julianoes commented on #12240
@sfuhrer how can you "see" the more stable flight with higher update rate?

[2020-02-12 10:06] julianoes commented on #12499
No answer, closing.

[2020-02-12 10:06] #12499 closed

[2020-02-12 10:07] julianoes commented on #11687
Closing until we get an answer.

[2020-02-12 10:07] #11687 closed

[2020-02-12 10:07] julianoes commented on #11869
No answer, closing.

[2020-02-12 10:07] #11869 closed

[2020-02-12 10:09] julianoes commented on #13166
Closing because no answer.

[2020-02-12 10:09] #13166 closed

[2020-02-12 10:10] RavWin commented on #10621
The ID of mag is unique and we can use it to determine which mag we have

[2020-02-12 10:10] julianoes commented on #13882
Not yet unfortunately, see: https://github.com/mavlink/MAVSDK/pull/694

[2020-02-12 10:11] yuthikasagarage commented on #10808
I tried it using another key without using 13 at esc_calib/esc_calib.c file, and it does work as @FlavioTonelli said.
			if (c == **13**) {
				break;

[2020-02-12 10:12] julianoes commented on #13882
Thanks for the issue. I'm closing this but will track it over here: https://github.com/mavlink/MAVSDK/issues/984

[2020-02-12 10:12] #13882 closed

[2020-02-12 10:13] julianoes commented on #12471
@MaEtUgR that's what I was referring to.

[2020-02-12 10:15] julianoes commented on #11198
Closing until we get an answer.

[2020-02-12 10:15] #11198 closed

[2020-02-12 10:18] julianoes commented on #13022
No idea what to do about it except ignore it :confused:.

[2020-02-12 10:18] julianoes commented on #11108
Closing until we get an answer.

[2020-02-12 10:18] #11108 closed

[2020-02-12 10:22] julianoes commented on #14105
Agreed. Could you make a PR to fix it? Thx.

[2020-02-12 10:26] julianoes commented on #10621
@RavWin nice! If you could create a PR to fix it, that would be fantastic.

[2020-02-12 10:28] julianoes commented on #14127
Could you please upload a log to https://logs.px4.io/ ?

[2020-02-12 10:31] julianoes commented on #14137
This looks indeed very wrong. Could it be that the flow orientation is incorrect or something trivial like that?

[2020-02-12 10:43] julianoes commented on #14055
How did you do the ESC calibration? How did you arm?

How did you try to disarm? From the log it looks like you're in Altitude mode which means disarm only works when land is detected which it was not until the end.

[2020-02-12 10:45] julianoes commented on #14076
This sounds wrong. Thanks for the issue!

[2020-02-12 10:47] julianoes commented on #14068
What could be different with number 4 than the others?

[2020-02-12 10:51] RavWin commented on #10621
I've never worked with Drotek mag, but my own can Mag uses the same logic inside and I've made a PR for mag initialization fix a year ago but it was not concerning orientation but calibration issue. As far as I know it wasn't applied.

[2020-02-12 10:59] shrit commented on #14068
@julianoes I have no idea, this is the reason I posted this issue.
They all use the same version of PX4. The only difference is the model name and the port number in the SDF file.
Here is the log for another quadrotor that was behaving perfectly:
https://logs.px4.io/plot_app?log=00c4e2f7-a818-4b90-9a0f-9a934adf9625

Let me know what do you think

[2020-02-12 11:02] ashwinsushil commented on #14137
Hey, @julianoes  I usually use an IRIS+ drone for R&D. Checked the mounting/physical-orientation on the IRIS+ and the SENS_FLOW_ROT is set to Yaw 270(default) which seems to be working well. The intel drone (which is having this issue) is set up exactly the same way. So I don't think it is the orientation.

Additional info: I am getting good data on the OPTICAL_FLOW_RAD.integrated_x and OPTICAL_FL

[2020-02-12 14:19] Thijs---- commented on #14133
Hi,

Sure, two remarkable changes have been made:
1. I added an extra driver. This driver is based on px4flow driver. The sensor is called exopulse and measures distances between itself and another exopules and sends it via i2c. This distance I use in the landing_target_estimator.
To use this driver and precision_landing, I added the following to ROMFS/px4fmu_common/init.d/rcS:
[code]

2. I added

[2020-02-12 15:19] matejbone opened #14141 "GPS & baro fusion problem"
Hi!

I have a question regarding EKF2 fusion.

PX4 is set up to use GPS as a primary source for EKF2_HGT_MODE.
Reported altitude is OK until the GPS receiver is jammed. In that case, fusion creates a problem, because it merges invalid position from GPS and baro and from that point on fused altitude is incorrect. Px4 thinks it's flying way higher than it actually is.

Is there a way in the paramete

[2020-02-12 16:58] JacobCrabill opened #14142 "Remove Mixer from PX4IO; Use Only Direct PWM Passthrough"
(Placeholder for discussion on this topic)

**Describe problem solved by the proposed feature**
The PX4IO processor is running out of memory (particularly for large mixer files)

**Describe your preferred solution**
A possible solution is to remove the mixer from px4iofirmware, and instead use direct pwm control from the FMU, rather than sending actuator controls.

An example of this direct pwm co

[2020-02-12 17:01] mrpollo commented on #14142
📌Subscribed

[2020-02-12 17:12] dlwalter commented on #14142
This would be fantastic.  Currently using 8 simple mixers as a passthrough from an FMU mixer but there's all sorts of weirdness with NANs indicating disarmed that need to be handled and passed correctly.

[2020-02-12 17:35] jlecoeur commented on #14142
Related PR: https://github.com/PX4/Firmware/pull/13581
This adds a pass-through mixer, with the short term goal to make it possible to do mixing either on both FMU and IO, and longer term goal to more features from IO to FMU.

[2020-02-12 18:56] moreba1 commented on #13980
@AuterionWrikeBot  @DanielePettenuzzo

[2020-02-12 20:49] Pman6543 opened #14145 "FastRTPS failure while making agent."
![px4 god is punishing me for something](https://user-images.githubusercontent.com/22284591/74375604-9eace280-4dae-11ea-9e67-d5062d1691e8.PNG)

Hello, so I am completely lost on how to solve this issue.

Here are the steps to replicate it.

Install px4 using the ubuntu.sh and ubuntu_sim_ros_melodic.sh on Ubuntu 18.04 LTS, next install FastRTPS 1.7.1 as done in the guide.

Next use git clone to pul

[2020-02-12 20:54] Pman6543 commented on #14145
Okay. I'm sorry. I fixed it by doing this

make clean
make px4_sitl_rtps

Now this was after two days of constant struggle, and I think using the master branch of FastRTPS finally worked.

[2020-02-12 20:54] #14145 closed

[2020-02-12 21:11] Pman6543 opened #14146 "Failure building ros2 workspace"
![px4_ros_com](https://user-images.githubusercontent.com/22284591/74377474-f4cf5500-4db1-11ea-8b3a-0c1d68a6dac9.PNG)

Whenever I try to build the ros1 and ros2 workspaces. The ros1 workspace succeeds, but the ros2 workspace fails.

At first I tried

source build_all.bash --ros1_ws_dir
The ros1 workspace would complete, but the ros2 build terminal would crash with no output, so I opted to try and b

[2020-02-13 00:22] hamishwillee commented on #13980
Yes, confirmed - hotshoe support not yet present. @DanielePettenuzzo will get it in at some point.

[2020-02-13 04:30] devararendy commented on #13956
Thank You very much @julianoes hmm yeaaa, btw why i got GPS velocity not being accurate ? cuz I got 18 satellites.
And if you see the last mode is Land Mode, but it's not descending. is it due to the GPS velocity is not accurate, so the FC trying to maintain the horizontal velocity to zero before descending ? Hopefully you can help us figure it out. cuz i would like to build another drone again

T

[2020-02-13 07:35] islamdib opened #14149 "Where to find quadrotor parameters and matrix allocation in the firmware ?"
Hello,
Im new in this domaine. I want to modify the quadrotor PID parameters directly in hte firmware then to change the matrix allocation (control inputs U_i funtion of rotations speed Omega_i).

Please, enyone to tell me where to find this parameters ?

[2020-02-13 10:25] MaEtUgR opened #14150 "Airframe comments parsing corner case"
**Describe the bug**
If you do not specify an `@maintainer` tag in your airframe configuration but put a comment afterwards then the parsing fails with an unexpected error.

@cmic0 found the bug originally.

**To Reproduce**
Steps to reproduce the behavior:
1. Replace the maintainer line of an airframe configuration e.g. https://github.com/PX4/Firmware/blob/master/ROMFS/px4fmu_common/init.d/airfra

[2020-02-13 12:17] bkueng commented on #14133
Any added code can interfere with the whole system (e.g. if there are memory bugs).
Is it something you want to contribute? Might be worth opening a pull request then, so others can have a look.
Otherwise I suggest you try to reproduce the issue on master.

[2020-02-13 17:27] ndepal opened #14157 "PX4 reports no logs even though there are logs on the SD card"
**Describe the bug**
We are seeing the issue that PX4 lists no logs when using QGC to request a log list or using some other mavlink application to send `LOG_REQUEST_LIST` (the response has `num_logs = 0`). This happens in situations where we are certain that there is at least one log file on the SD card. Soft-rebooting the flight controller fixes the issue.

The issue does not occur all the time

[2020-02-13 21:14] hamishwillee commented on #12037
@igalloway ^^^^

[2020-02-13 22:12] mickeyhorn opened #14158 "Transition Denied: ARMED to INIT while midflight"
**Describe the bug**
Seemingly randomly while flying, QGC would print out the following warning message:
"TRANSITION_DENIED: ARMED to INIT"
Nothing besides the warning would happen. QGC would just yell it out and the drone continued on its merry way.

**To Reproduce**
1) Drone connected to laptop running QGC via USB.
2) Mission file uploaded to the drone.
[Chir_Test_2.1.20_medpoints_sortie0.txt](h

[2020-02-14 07:07] jinchengde opened #14160 "[sitl]px4_sitl gazebo_plane compile error"
**Describe the bug*
OS：Ubuntu 18.04
**commander:**
make distclean
make px4_sitl gazebo_plane
**error:**
[58/96] Building CXX object CMakeFiles...c/gazebo_geotagged_images_plugin.cpp.o
FAILED: CMakeFiles/gazebo_geotagged_images_plugin.dir/src/gazebo_geotagged_images_plugin.cpp.o
/usr/bin/c++  -DLIBBULLET_VERSION=2.87 -DLIBBULLET_VERSION_GT_282 -Dgazebo_geotagged_images_plugin_EXPORTS -isystem /usr/

[2020-02-14 08:11] BazookaJoe1900 opened #14161 "CI hardware check doesn't fail on hardfault"
**Describe the bug**
if during the Hardware tests there is a hardfault, the test pass and doesn't fail.

**To Reproduce**
for example, [this ](http://ci.px4.io:8080/blue/organizations/jenkins/PX4_misc%2FFirmware-hardware/detail/pr-add-free-fall-detection-for-FW/2/pipeline/1062/#step-1063-log-630) and [this](http://ci.px4.io:8080/blue/organizations/jenkins/PX4_misc%2FFirmware-hardware/detail/pr-mav

[2020-02-14 08:26] sfuhrer commented on #12240
This is with the default settings (lockstep enabled, rate at 250 and step at 0.004):
![image](https://user-images.githubusercontent.com/26798987/74513905-e4cb8880-4f0b-11ea-943f-5260d35fc4bb.png)
And this with lockstep disabled, rate 500 and step 0.002:
![image](https://user-images.githubusercontent.com/26798987/74513966-ff9dfd00-4f0b-11ea-8235-6ca9d950702e.png)

[2020-02-14 08:45] LorenzMeier commented on #12240
Shouldn’t we be able to just ramp up the sample rate also in lockstep?

[2020-02-14 13:06] julianoes commented on #12240
That might "just" work. I'll try it and see what else depends on this rate. It will likely increase CPU and decrease the max possible sim speedup that is possible.

[2020-02-14 13:22] julianoes commented on #12240
The "just" is not so straightforward because if we change the default update rate it means that all models in all submodules for Gazebo and jMAVSim, would have to be changed, so it's quite a bit of churn. The more long term solution would be to support varying sample rates while still staying in lockstep.

[2020-02-14 13:28] Jaeyoung-Lim commented on #12240
@julianoes I think this is something occuring commonly with position controlled joints (also observed on the gimbal on the h480. I will try to see if I can tune the joint control better

[2020-02-14 14:07] julianoes commented on #12240
@sfuhrer it would be good if you could test tiltrotor with this wip branch:
https://github.com/PX4/Firmware/tree/pr-increase-rate (make sure to also update the sitl_gazebo submodule).

It raises the rate from 250 Hz to 500 Hz. I want to confirm if this actually fixes the issue or if the issue is something about lockstep and not the rate itself.

Btw. iris speedup in Gazebo decreases from 25x to 11

[2020-02-14 14:18] julianoes commented on #13479
You're right. `NAV_RCL_ACT` is set to `0`.

@Antiheavy maybe you have some insights here?

[2020-02-14 14:19] julianoes commented on #13455
@MaEtUgR more pre-arm check things...

[2020-02-14 14:20] julianoes commented on #13956
Yes, I wonder too. A log would probably tell us.

[2020-02-14 14:22] julianoes commented on #13431
I would argue that as long as you always disarm, it should work as expected and start at 0 again. If you don't disarm on ground, then this might happen.

[2020-02-14 14:24] julianoes commented on #14137
I would suggest to use master because some improvements for flying with Flow have been merged but I'm not sure if master still works on Intel Aero. The problem is that Intel Aero is not supported anymore by Intel.

[2020-02-14 14:24] julianoes commented on #14068
@Jaeyoung-Lim maybe you have an idea.

[2020-02-14 14:25] julianoes commented on #10621
@RavWin ok what was that PR? Sorry it got dropped. Could you update it?

[2020-02-14 14:33] Jaeyoung-Lim commented on #14068
@shrit How are you starting the multivehicle SITL simulation?

[2020-02-14 14:46] julianoes commented on #12240
@LorenzMeier ok this turns out to be a bit more complex. Doubling the rate is trivial for multicopter which run at the gyro rate. For VTOL, it falls apart right after the transition when we switch to fixedwing control which runs at the ekf2 rate, so probably 250 Hz.

I'll think about potential ways to work around this.

[2020-02-14 14:46] shrit commented on #14068
@Jaeyoung-Lim I have extended the script in https://github.com/PX4/Firmware/blob/master/Tools/sitl_multiple_run.sh to start gazebo with the quadrotors.
Then I have written software to control multi-vehicles. Basically I take off the swarm at the same time, using several threads and I wait for those the processes to finish. After takeoff, switch everyone to offboard mode, I play around with the swa

[2020-02-14 14:49] julianoes commented on #14160
Can you find the file like this?

[code]

Also: please put ``` around pasted output.

[2020-02-14 15:00] julianoes commented on #13938
I don't see the distance listed in the log. Did you fly high enough for the distance to be measurable. Have you tried to check mavlink telemetry for the distance sensor?

[2020-02-14 15:01] julianoes commented on #13813
It's not clear what the problem is.  @love-mj please fill out the issue template, or at least provide enough description for us  to understand.

[2020-02-14 15:03] julianoes commented on #14141
Good question. Let me ping @bresch and @CarlOlsson hoping that they have answers.

[2020-02-14 15:03] julianoes commented on #13466
@jbeyerstedt hm, and why do you add a landing for a rover at the end of the mission?

[2020-02-14 15:05] CarlOlsson commented on #14141
Unfortunately I don't have experience with GPS as primary height source. @matejbone Just curious, why don't you want to use baro as primary height source?

[2020-02-14 15:09] Jaeyoung-Lim commented on #14068
@shrit Could you maybe give it a go with this script? https://github.com/PX4/Firmware/blob/master/Tools/gazebo_sitl_multiple_run.sh

The usage is documented here: http://dev.px4.io/master/en/simulation/multi-vehicle-simulation.html

I think we discussed this before, but resetting the model position while the EKF is running might make the EKF2 not recover from the sudden change of position

[2020-02-14 15:13] julianoes commented on #14158
Nice pattern you flew there :smile:.

My only guess is that somehow you sent a calibration command to the vehicle, and you would then end up here:

https://github.com/PX4/Firmware/blob/342e0da7961f9a3301706ed3835cfc163b14b2ed/src/modules/commander/Commander.cpp#L3266-L3279

Was any other ground station connected? Or anything like MAVSDK or MAVROS sending commands?

[2020-02-14 15:20] matejbone commented on #14141
I tried to use GPS, because after a long flight 2+ hours I had in mind that barometric pressure would change and that would affect the approaching height.

How do I adjust weight between both? Is there a parameter?

[2020-02-14 15:29] julianoes commented on #14157
I looked for missing `fclose` or `closedir` in https://github.com/PX4/Firmware/blob/master/src/modules/mavlink/mavlink_log_handler.cpp but couldn't see anything wrong.

[2020-02-14 15:32] julianoes commented on #14149
Can you point to the place in code where you want to change it?

[2020-02-14 15:33] shrit commented on #14068
@Jaeyoung-Lim Ok, I will give this script a try. I suppose it will generate automatically the necessary sdf file on any vehicle model.
Considering resetting the quadrotors I totally agree, but I have no other solution since it is not possible to reboot the firmware without stopping the entire simulation.
I found it strange that EFK2 does not behave similarly with all the quadrotors since there is

[2020-02-14 15:33] julianoes commented on #14146
I'm going to tag @TSC21 here. Hopefully he can help.

[2020-02-14 15:39] CarlOlsson commented on #14141
No the EKF only uses one of them at the time. Here is some super old issue regarding  baro offset estimation https://github.com/PX4/ecl/issues/44

[2020-02-14 15:48] julianoes commented on #14141
FYI @RomanBapst @jkflying

[2020-02-14 15:48] Pman6543 commented on #14146
@julianoes  I appreciate it, but I posted it in another directory where he has been helping me. I'm still encountering a great deal of issues.  But I'll continue to post there and close this issue.

https://github.com/PX4/px4_ros_com/issues/37

[2020-02-14 15:48] #14146 closed

[2020-02-14 15:55] jbeyerstedt commented on #13466
I’m not sure any more, why I created a mission in that way. Maybe because I just replicated what I did for a drone mission. Or I tried this because I had issues with the gazebo rover not stopping at a waypoint because the drag was too low in the simulation.

Just finishing the mission with a normal waypoint would be sufficient, right?

Thinking about the issue a second time, it might just be that

[2020-02-14 15:55] julianoes commented on #13889
@RicardoM17 did you get to the bottom of  this? Should we close this issue or is there something to be follow up?

[2020-02-14 15:59] julianoes commented on #13466
Yes, that should work.

I suppose not, no :).

I suggest we close this until you have a suggestion what exactly should be changed.

[2020-02-14 16:01] jkflying commented on #14141
Use baro as primary height source. The offset will be re-estimated using GPS if available, so you shouldn't have drift.

There was some talk about doing multiple height source fusion (vision, lidar, baro & GPS all together) but this would require a big rework of the EKF.

[2020-02-14 16:01] julianoes commented on #13567
We only support this version:
https://github.com/PX4/Firmware/blob/342e0da7961f9a3301706ed3835cfc163b14b2ed/Tools/setup/ubuntu.sh#L141
Please use this script to update your system.

[2020-02-14 16:04] julianoes commented on #13466
Somewhat connected: #13769

[2020-02-14 16:06] jbeyerstedt commented on #13466
I think closing this is ok for now. I don’t know how much effort it is to change the message for a rover. And in the end it’s not a big issue, because with a real rover it should work without a landing waypoint. So just close this.

(I’m currently on vacation without any laptop so I can’t take a deeper look at it again for another week.)

[2020-02-14 16:10] julianoes commented on #11225
STATUSTEXT_LONG  is dead, next come chunks:
https://github.com/mavlink/mavlink/pull/1295

[2020-02-14 16:11] julianoes commented on #13857
Maybe @jlecoeur you want to comment here.

[2020-02-14 16:12] 60ericleal60 commented on #13938
The minimum height for the range sensor is set to 0.05m which is less than the height of the landing gear and yes the range output in the mavlink inspector appears to be correct. I am having the problem in 1.11 but not 1.10. For flight I have been modifying the firmware on the px4 flow board and pixhawk to fly very near the ground.

[2020-02-14 16:15] julianoes commented on #13938
So even with 1.11/master you see the lidar information in MAVLink but not in the log?

[2020-02-14 16:15] #13466 closed

[2020-02-14 16:16] Pman6543 opened #14163 "Unable to run Gazebo"
When I try to run

sudo make px4_sitl_default gazebo this happens

[0/5] Performing build step for 'sitl_gazebo'
[0/1] Re-running CMake...
-- install-prefix: /usr/local
-- Using C++17 compiler
-- Boost version: 1.65.1
-- Found the following Boost libraries:
--   system
--   thread
--   filesystem
--   chrono
--   date_time
--   atomic
-- Boost version: 1.65.1
-- Found the following Boost libraries

[2020-02-14 16:24] ataits commented on #14105
Should I make a PR to fix this? Can we include this fix in the upcoming 1.11.0 release?

[2020-02-14 17:14] jlecoeur commented on #13857
Hi @ucalyptus
I started working on dynamic mixing to address the fault tolerance part (not the fault detection). You can find it here :
https://github.com/PX4/Firmware/pull/13351
The approach is to dynamically recompute the mixer in case of motor failure.
Here is a demo with an hexacopter loosing one then two motors:
https://www.youtube.com/watch?v=yR5okaHITpg
Feel free to help if you will, that w

[2020-02-14 17:54] TSC21 commented on #14163
Use `git submodule update --init --recursive`.

[2020-02-14 17:54] #14163 closed

[2020-02-14 18:21] Pman6543 commented on #14163
[code]

This was my result after doing

git submodule update --init --recursive.

[2020-02-14 18:21] ThomasRigi commented on #13124
Today we also had issues with the land detector as you can see in this log : https://logs.px4.io/plot_app?log=4eea26ba-02eb-4b37-9de2-3e576693227b (5:58-6:09) (don't bother with all the other weird stuff going on :P)

The ground contact detection really isn't robust enough. Having a drone with large inertia (in this case a VTOL where wings can generate extra lift) on Z velocity and a fast change i

[2020-02-14 19:15] Pman6543 commented on #14163
I deleted the entire Firmware directory and re-cloned it.

I'm still getting the error.

[code]

[2020-02-15 05:16] jinchengde commented on #14160
yes, I find the file in ./build/px4_sitl_default/build_gazebo/SITLGps.pb.h

and then I try ```make px4_sitl gazebo_plane``` again

this issue solved

[2020-02-15 12:50] islamdib commented on #14149
I want to stabilize my quadrotor which is originaly in the X-morphology
Ive four servomotors which allow to obtain an H-morphology (negociate in narrow space).
so the inertia matrix have to be changed then the allocation matrix too.
I dont know where to find this parameters ?

[2020-02-15 12:54] myboyhood opened #14164 "Error about px4 sitl_gazebo in gazebo"
# Hello everyone, I am new to px4,though sitl_gazebo can run successfully before,
But I got this error now:
[code]
After I open gazebo ,it seems normal.

But when I launch my model , px4 and mavros in a launch file below, I got this error.

I am not edit libgazebo_multirotor_base_plugin relevant .cpp or .hpp

I see some help in [gazebo](https://bitbucket.org/osrf/gazebo/issues/2448/problem-running

[2020-02-15 17:47] dominiknatter opened #14165 "EKF2 estimates for x and y unstable with constant optical flow innovation"
Hey everyone,
first of all shoutout for your great work, it's really impressive.

Remark: In hindsight I've written quite a long story here, but I hope providing what I figured out help digging into the problem faster.

I'm currently working with the Intel Aero RTF drone with the PX4 v1.9.0 firmware. I'm trying to fly indoors (hence no GPS) with ORB-SLAM2. This basically works already, fusing the

[2020-02-16 01:23] mcsauder commented on #14165
Hi @dominiknatter , I'm not an expert by any stretch in this domain, but I think what you are seeing are the effects of observability (in the controls engineering use of the term).  Basically, if you can set up a series of state space equations, what you will find is that without the SLAM solution, the relative position/velocity X/Y measurements and relative Z (distance sensor) measurements do not

[2020-02-16 01:25] weekly-digest[bot] opened #14167 "Weekly Digest (9 February, 2020 - 16 February, 2020)"
Here's the **Weekly Digest** for [*PX4/Firmware*](https://github.com/PX4/Firmware):

 - - -
# ISSUES
Last week 42 issues were created.
Of these, 15 issues have been closed and 27 issues are still open.
## OPEN ISSUES
:green_heart: #14166 [Spawn world separately from model in sitl gazebo](https://github.com/PX4/Firmware/pull/14166), by [Jaeyoung-Lim](https://github.com/Jaeyoung-Lim)
:green_heart: #

[2020-02-16 10:34] dominiknatter commented on #14165
Hello @mcsauder,

thanks for your reply. I see your concerns about the system's observability and, although haven't analyzed them mathematically, I agree with you - pure integration is not enough. However, I'll try to explain why I think it's not the problem here:
 - as you mentioned, the errors would grow over time. That's reasonable and true as you can see in the following plot. I plot the varia

[2020-02-16 18:14] LorenzMeier commented on #14165
The video you are referencing actually proves the point from @mcsauder: In altitude hold mode the pilot is in the loop (external feedback loop), in position hold mode there is optical flow.

Inertial sensors allow you to bridge the gap as well.

[2020-02-16 21:21] dominiknatter commented on #14165
Thanks for chiming in @LorenzMeier! Oh I thought @mcsauder is trying to say optical flow is not enough to close the loop ("...without an observation of the actual state with bounded error, (such as GPS or SLAM observation/measurement)..."). I agree that optical flow is needed and am not expecting reasonable results with only inertial sensors. Still, I don't know why optical flow stops working at s

[2020-02-17 01:04] hamishwillee opened #14169 "Add support for multi-part STATUSMESSAGE"
Add support for chunked [STATUSTEXT](https://mavlink.io/en/messages/common.html#STATUSTEXT( messages. Info about change here: https://github.com/mavlink/mavlink/pull/1295

[2020-02-17 01:04] hamishwillee commented on #11225
Thanks. Closing this, and opening a new one: https://github.com/PX4/Firmware/issues/14169

[2020-02-17 01:04] #11225 closed

[2020-02-17 08:18] matejbone commented on #14141
OK thanks for the help to all!

I will try to use baro and see what happens if GPS is jammed.

[2020-02-17 08:18] #14141 closed

[2020-02-17 10:14] felix-west opened #14171 "Precision Landing from Offboard"
As the title says, I'm looking for a way to initiate precision landing from offboard mode. I have a camera connected to my companion computer which gives the position and attitude of the target to the offboard computer, and that redirects the message to the flight controller. Currently messages of the type "LANDING_TARGET" ( Mavlink #149 ) are being used, so the flight controller can read and use

[2020-02-17 10:54] julianoes commented on #12240
@sfuhrer ok please fetch this branch again to test. Gazebo now runs at 500 Hz but everything with PX4 is only transmitted at 250 Hz.

[2020-02-17 11:43] RomanBapst commented on #14141
@jkflying Can you remind me where we are doing this? I was under the impression that we don't compensate for baro drift.

[2020-02-17 11:53] steffensol commented on #13507
This seems like it is the land detector acting up again. Multiple issues have been flagged for this, and it seems that the detector is VERY sensitive to hover throttle and minimum throttle values.

I've used "flightplot" to plot out the ground detection algorithm, see the attached plot showing the detection occurring.
![ground-contact](https://user-images.githubusercontent.com/10667120/74650792-c0

[2020-02-17 12:08] RomanBapst commented on #13507
@steffensol Yes, and that's why @bresch is working on the hover thrust estimator.
https://github.com/PX4/Firmware/pull/13981

[2020-02-17 12:09] Jaeyoung-Lim commented on #14164
@myboyhood You need to set the model path properly. The instructions can be found here: http://dev.px4.io/master/en/simulation/ros_interface.html

[2020-02-17 12:23] steffensol commented on #13507
That's brilliant!
However, it still doesn't solve the case that the landing detector needs more love&care. In our case, we have the hover thrust set up perfectly, within 1%. Our minimum thrust, however, is only 15% lower than the hover thrust - which causes a "low thrust situation" to trigger very quickly.

[2020-02-17 12:28] RomanBapst commented on #13507
@steffensol What's the reason for it being only 15% lower. Is it a tailsitter :-)
I've personally created a PR request once which does not allow detecting ground contact only by a low thrust situation but people had some concerns. I've seen vehicles crash due to this effect so I do think it's quite serious.

[2020-02-17 12:35] steffensol commented on #13507
The main reason is that we have very large propellers running low RPM, to give high efficiency (We're getting flight times in excess of 1h). Unfortunately this also sometimes leads to loss-of-sync with the ESCs at low throttle. Hover is currently at 40%, and the minimum at 25% - if we go any lower, flight performance is very stuttery.

[2020-02-17 13:28] jkflying commented on #14141
Hmm, it seems we only do that if we _don't_ use baro as primary.

https://github.com/PX4/ecl/blob/81c6d6655f6e409cac549ed8537b22996b413028/EKF/control.cpp#L1083-L1092

[2020-02-17 15:23] dominiknatter commented on #14165
The missing optical flow values are my bad, I didn't log them. So I fixed that and recorded three more logs. All have in common that a spike in the OPTICAL_FLOW_RAD.integration_time_us field indicates the start of EKF2 drifts (i.e. optical flow values do not seem to be incorporated anymore). Often, but not always, this spike comes along with a spike in the sonar distance value to 65m (I guess that

[2020-02-17 15:29] myboyhood commented on #14164
thanks,but I check my ~/.bashrc
[code]
and `env` also has above environment variable
I also check my other path
[code]
[code]
I also have these in ~/.bashrc
[code]
[code]
Sorry ,I can not figure out my where is wrong about model path,thanks!!

[2020-02-17 15:30] dagar commented on #10621
It depends on the specifics. By convention going back to the original 3DR compass/mag the mag was mounted weirdly relative to the printed arrow on the unit.

https://github.com/PX4/Firmware/blob/86bf4b2289c1630833c920c84dfc95a82e2ac6b5/src/drivers/magnetometer/hmc5883/HMC5883.cpp#L615-L620

Years later (going beyond the hmc5883 and 3DR) some units copy this, some don't. It's actually pretty terrib

[2020-02-17 15:40] RicardoM17 commented on #13889
@julianoes Fortunately the issue vanished. Unfortunately we couldn't really see what was the main cause. We did slightly change our setup for other reasons which we will revert soon so I'll keep an eye out to see if it crops up again.

Regarding @dagar comments I'm not so sure if that is the cause. Both logs show similar levels of the speed variance reported by the GPS (though the bad log shows a

[2020-02-17 16:21] Jaeyoung-Lim commented on #14164
The `GAZEBO_PLUGIN_PATH` needs to point to the build directory of the firmware, and not the build directory inside sitl_gazebo
[code]

[2020-02-17 16:52] sfuhrer commented on #12240
Yes it now looks good :+1: :+1:

[2020-02-17 17:05] dagar commented on #13889
There are quite a few different checks and they're at different levels. If it's bad enough early on then the estimator could never publish a global position estimate (vehicle_global_position). In other cases you could have a valid global position estimate, but the error (eph, epv) could exceed the failsafe thresholds and commander won't let you enter a position mode.

[2020-02-17 17:05] dagar commented on #13889
There are quite a few different checks and they're at different levels. If it's bad enough early on then the estimator could never publish a global position estimate (vehicle_global_position). In other cases you could have a valid global position estimate, but the error (eph, epv) could exceed the failsafe thresholds and commander won't let you enter a position mode.

[2020-02-17 18:14] ndepal commented on #14157
Thanks @julianoes for having a look.

I did some more investigating. Here is what I have learned so far:
1. I cannot reproduce the issue simply by repeatedly requesting a log listing (`LOG_REQUEST_LIST`)
2. I cannot reproduce the issue by repeatedly going through the sequence
    - arm (to create a new log file)
    - sleep
    - disarm
    - sleep
    - list logs
3. I **can** reproduce the issue

[2020-02-17 19:19] ndepal commented on #14157
If I do the sequence without requesting all logs to be deleted at the end, the error does not occur during an attempt to list the log entries, but while trying to download a log at:

https://github.com/PX4/Firmware/blob/07d656e971a72d1202651dfd3b4642736fb078d7/src/modules/mavlink/mavlink_log_handler.cpp#L366

with the same errno 23.

[2020-02-17 22:01] Junkim3DR commented on #13892
### Tested Pixhawk 3 V4Pro

**Stable Firmware**
**Indoor Test**
- Stabilized Flight Mode: Good

**Log**
- Stable Firmware: https://review.px4.io/plot_app?log=6ac7f842-3634-4a68-b233-e415e7169016

**Master Firmware**
**Indoor Test**
- Stabilized Flight Mode: Good

**Log**
- Master Firmware: https://review.px4.io/plot_app?log=f1656fb1-ac5c-4fc0-a406-12ba4f9b3ddd

**Note**
Working as expected on both

[2020-02-17 22:17] mwiatt commented on #13474
Wondering if anyone has any ideas about why this is broken or what it would take to fix it.

[2020-02-18 02:45] myboyhood commented on #14164
yes,I set the GAZEBO_PLUGIN_PATH as you said above, unluckily, it still report this error,
I see a similar [issue](https://github.com/PX4/Firmware/issues/10487)
so I reinstall gazebo by debian ,
and under `~/src/Firmware`, I run `make px4_sitl_default gazebo`
got the same error below :-(
[code]

[2020-02-18 13:35] Pman6543 commented on #14163
To any poor soul who ends up with the same error I had I found the solution. My virtual  machine did not have enough ram thus kept crashing the sim.

Run dmesg and you should see if this was the case for you.

My vm was failing at 4gb, so I brought it up to 7. It might work at 5 or 6, but I just wanted to be safe.

[2020-02-18 16:06] jarivanewijk commented on #11993
(Note that the PixyCam driver has been available at https://github.com/NXPHoverGames/PixyCam for a while now. Should we again bring up the discussion whether to bring this into PX4?)

[2020-02-18 16:35] mickeyhorn commented on #14158
Hm, I don't believe we tried to start a calibration of any sort during the flight. And no, we only had the one ground station and 1 Taranis controller communicating with the drone.

[2020-02-19 06:38] 1JonaB1 commented on #4856
I have the same problem any tipps ?

[2020-02-19 08:51] MaEtUgR commented on #12688
This is a reoccuring problem and we keep on coming up with workarounds, I think it's worth a more clean solution. I hope I get to it soon.

[2020-02-19 09:36] MaEtUgR commented on #11209
I did this in https://github.com/PX4/Firmware/pull/13596/commits/7e78eed58642833d27795a13fad39547c382bf35 Saved us a lot of flash space.

[2020-02-19 09:36] #11209 closed

[2020-02-19 10:44] islamdib commented on #14149
home/dib/Firmware/src/modules/mc_att_control/mc_att_control_params.c
Im not sure, but probably this is the corresponding folder

[2020-02-19 11:27] islamdib opened #14185 "ERROR while building"
Hello,
I have pixhawk v2
after Downloading PX4 Source Code I tried to build for Pixhawk board.
An error was occured.

dib@dib-WM15-CCLPRO:~/Firmware$ make px4_fmu-v2_default
-- PX4 version: v1.10.0-beta4-469-gfbcc6a96bc
-- PX4 config file: /home/dib/Firmware/boards/px4/sitl/default.cmake
-- PX4 config: px4_sitl_default
-- PX4 platform: posix
-- PX4 lockstep: enabled
-- cmake build type: RelWithDeb

[2020-02-19 14:44] julianoes commented on #12240
PR is done: https://github.com/PX4/sitl_gazebo/pull/415

[2020-02-19 15:08] #13487 closed

[2020-02-19 15:09] #13889 closed

[2020-02-19 15:10] julianoes commented on #13378
@igalloway is this still an issue or can we close it?

[2020-02-19 16:00] MaEtUgR commented on #11646
I just checked the log again and apparently I was wrong in:

There is a position setpoint moving with the drone when doing RTL and that seems to be why it reaches the correct velocity. So this is not really a strange bug but a possible side effect given these setpoints and the vehicle tuning e.g. horizontal velocity integral.

![plot not reach velocity](https://user-images.githubusercontent.com/46

[2020-02-19 16:00] #11646 closed

[2020-02-19 16:04] MaEtUgR commented on #10881
@limhyon Is this problem still present? There were a lot of changes and fixes, I wouldn't know which one exactly is related.

[2020-02-19 16:11] MaEtUgR commented on #11402
Sorry for the delay. "Failsafe: Descend with land-speed" indicates that either the flight task failed executing which if you're using FlightTaskOffboard can happen in the following 4 cases:
https://github.com/PX4/Firmware/blob/01b280f7ae1e0b222ed0ea91062392e43b8d2c85/src/lib/flight_tasks/tasks/Offboard/FlightTaskOffboard.cpp#L75
https://github.com/PX4/Firmware/blob/01b280f7ae1e0b222ed0ea91062392e4

[2020-02-19 16:23] MaEtUgR commented on #7318
We need to reflect on the topic and follow-up with adapted plans otherwise this issue is useless.

[2020-02-19 16:59] MaEtUgR commented on #12492
is resolved in https://github.com/PX4/Firmware/commit/7e78eed58642833d27795a13fad39547c382bf35

[2020-02-19 18:28] julianoes commented on #14157
It looks like somehow we run out of file descriptors on NuttX.

I've tried to debug this by wrapping `fopen` and `fclose` and it looks correct although sometimes 2 files are open at the same time. I've attached the patch to debug this. Maybe it would be worthwhile to try the same on NuttX.

And here is the output:
[code]
[patch.txt](https://github.com/PX4/Firmware/files/4226675/patch.txt)

[2020-02-19 18:41] ndepal commented on #14157
Thanks for the patch. I'll try reproducing the issue with it applied.

[2020-02-19 20:16] bkueng commented on #14157
It's an FD leak, and https://github.com/PX4/Firmware/pull/14188 fixes it. Thanks for narrowing this down.

[2020-02-19 22:00] dzambrano opened #14189 "SITL gazebo real time factor is slowing down for plane"
**Describe the bug**
The real time factor for a simple plane simulation progressively slows down. From about 16 to 5 in 10 minutes. Similar to [#12975](https://github.com/PX4/Firmware/issues/12975)

**To Reproduce**
Firmware version 10.0
Gazebo 9.0

[code]
Then in the px4 console:
[code]

**Expected behavior**
The real time factor goes down consistently.

**Log Files and Screenshots**
*Always* pro

[2020-02-20 08:02] #12381 closed

[2020-02-20 09:31] #14157 closed

[2020-02-20 12:17] gian1312 commented on #14069
Are there any inputs/ideas how I could fix this?

[2020-02-20 14:27] Finwood opened #14195 "Thrust drops out on multicopter in altitude-controlled flight modes (FMUv3, PX4 v1.10.1)"
When flying in altitude-controlled flight modes (Altitude Mode, Position Mode), a hexacopter running PX4 v1.10.1 on an FMUv3 (the [Cube]) repeatedly looses all thrust for a short while, resulting in a kind of "hiccup": [thrust setpoint, actuator outputs]

[![Thrust Setpoint](https://user-images.githubusercontent.com/8170410/74939599-7a758500-53f0-11ea-8fd7-d33a98cbc12d.png)][log]
[![Actuator Outpu

[2020-02-20 15:31] julianoes commented on #14069
I think you would have to debug (using a console connected and printf) your way through all the lockdown flags, or if it's correct on the FMU side, inspect the pxi4ofirmware code:
https://github.com/PX4/Firmware/tree/master/src/modules/px4iofirmware

[2020-02-20 15:37] julianoes commented on #14157
Thanks @bkueng, I did not see that!

[2020-02-20 16:28] julianoes commented on #14149
The controls just output angular rates and thrust. This is then mixed in a mixer. I think you want to read about that first: https://dev.px4.io/master/en/concept/mixing.html

[2020-02-20 16:31] julianoes commented on #13514
I'm closing this because there was not follow up. Re-open if you have answers.

[2020-02-20 16:31] #13514 closed

[2020-02-20 16:32] julianoes commented on #14158
I'm very confused then. Is there any other hint what went different on that flight? Any other observations?

[2020-02-20 16:34] julianoes commented on #14160
So in a second attempt it works? In that case it sounds like a race because a dependency is not correctly specified for cmake.

[2020-02-20 16:35] mickeyhorn commented on #14158
Not that I can remember. I'll try to push for our group to do another flight this weekend to try and replicate it.

[2020-02-20 16:35] julianoes commented on #14105
Yes please, and I'd think that should make it in.

[2020-02-20 16:48] julianoes commented on #14160
I looked at the cmake file and I could not immediately see something but you can try this patch for Tools/sitl_gazebo:

[code]

Would be intereseting to see if that resolves it.

[2020-02-21 07:20] bkueng commented on #14195
Hi
There are in-air landing detections and you need to set the hover throttle (MPC_THR_HOVER) to around 20%.

[2020-02-21 07:36] JPluess commented on #4856
I had to change the powermodule

Am 19. Feb. 2020, 07:38, um 07:38, 1JonaB1 <notifications@github.com> schrieb:

[2020-02-21 07:50] BazookaJoe1900 commented on #5122
still relevant

[2020-02-21 08:24] Finwood commented on #14195
Seems legit :man_facepalming:

MPC_THR_HOVER and MPC_THR_MIN were configured properly before updating to v1.10, most likely something went wrong importing the v1.9 parameters.

I will test later today to confirm :+1:

[2020-02-21 08:47] rk800506 commented on #9557
The line is already commented out, but the error is still there

[2020-02-21 08:53] julianoes commented on #9557
https://dev.px4.io/master/en/simulation/jmavsim.html#troubleshooting

Do this before trying again:
[code]

[2020-02-21 09:11] julianoes opened #14200 "ROS test of tiltrotor fails"
The ROS test of tiltrotor started failing in CI and this can also be reproduced locally:

[code]

What happens is that the tiltrotor does not actually seem to take off but only switches to in-air for about 1 second and then auto-disarms again. I have seen this manually in testing as well, especially with tailsitter.

Test output:
[code]

https://logs.px4.io/plot_app?log=feba07e1-cd9d-4ee6-8f77-f57

[2020-02-21 10:11] julianoes commented on #14200
It looks like this commit caused the regression:
https://github.com/PX4/Firmware/pull/14031/commits/fc9d31c67bc746d6bd659a0696532bf873cc8638

[2020-02-21 11:08] julianoes commented on #14200
What I said above might have been wrong. It seems to be the multicopter land detector detecting landed quickly after arming.

[2020-02-21 11:17] Superbear88 opened #14201 "Beaglebone Blue MPU9250 Error"
The MPU9250 get initialiced and then, the mag not working

ERROR [mpu9250] I2C transfer to mag timed out

See Output

INFO  [px4] assuming working directory is rootfs, no symlinks needed.

______  __   __    ___
| ___ \ \ \ / /   /   |
| |_/ /  \ V /   / /| |
|  __/   /   \  / /_| |
| |     / /^\ \ \___  |
\_|     \/   \/     |_/

px4 starting.

INFO  [px4] Calling startup script: /bin/sh /home/de

[2020-02-21 11:22] SalimTerryLi commented on #14201
Which version did you try? This happens just after the purge of DF but now it is not happening anymore on master. I'm using RPi, which has almost the same condition with BBB.

[2020-02-21 12:25] Superbear88 commented on #14201
Hi

HW arch: BEAGLEBONE_BLUE
FW git-hash: 86bf4b2289c1630833c920c84dfc95a82e2ac6b5
FW version: 1.11.0 0 (17498112)
FW git-branch: master
OS: Linux
OS version: Release 4.14.71 (68044799)
Build datetime: Feb 18 2020 12:30:49
Build uri: localhost
Toolchain: GNU GCC, 6.3.1 20170404
PX4GUID: 10084c424242444945553030303030303030
UNKNOWN MCU

[2020-02-21 12:43] SalimTerryLi commented on #14201
I doubt it is caused by https://github.com/PX4/Firmware/blob/86bf4b2289c1630833c920c84dfc95a82e2ac6b5/src/drivers/imu/mpu9250/mpu9250.h#L46-L48

[2020-02-21 12:45] Superbear88 commented on #14201
Do you have a solution for it?
librobotcontrol can controll it without problems...

Thank you

[2020-02-21 14:38] Finwood commented on #14195
Yep, that fixed it. Thanks! :+1:

[2020-02-21 14:38] #14195 closed

[2020-02-21 14:45] dagar commented on #14201
The MPU9250 on I2C has been neglected and needs a closer look.

[2020-02-21 14:50] SalimTerryLi commented on #14201
I found this maybe the cause https://github.com/PX4/Firmware/blob/86bf4b2289c1630833c920c84dfc95a82e2ac6b5/src/drivers/imu/mpu9250/MPU9250_mag.cpp#L229-L233
It should be wrappered as write_reg. My fault.

[2020-02-21 14:58] #14200 closed

[2020-02-21 15:29] dagar opened #14204 "EKF2 performance regression"
EKF2 cpu usage has increased considerably.

PX4/Firmware ecl update timeline: https://github.com/PX4/Firmware/commits/master/src/lib/ecl

### Timeline

 - 2019-09-26: `EKF2 update: 41151 events, 17355386us elapsed, 421.75us avg, min 19us max 2978us 708.544us rms`
 - ?? 2020-01-20: Jan 9 ecl update https://github.com/PX4/Firmware/commit/4e8665082ea785d5b2c7c485824658f694319150#diff-eab0fded47ba453d

[2020-02-22 02:49] AlexKlimaj opened #14206 "UAVCAN Does Not Work on Pixhawk4 Mini"
**Describe the bug**

The CAN port on the Pixhawk4 Mini is not working.

When checking the CAN High and CAN Low signals, there is no data being transmitted.

Tested on v1.10.1 Stable and current master.

**To Reproduce**
1. Set UAVCAN_ENABLE to 1, 2 or 3.
2. Reboot
3. UAVCAN devices never get node ID.

**Expected behavior**
Turn on UAVCAN through UAVCAN_ENABLE, reboot, connect UAVCAN device, and i

[2020-02-22 04:43] AlexKlimaj commented on #14206
I pulled open the Pixhawk4 Mini and checked that the pinout is correct.

With UAVCAN_ENABLE set, on boot when I run `uavcan status`, it is not running. When I run `uavcan start`, it appears to start. But when I run `uavcan status` after that, I get a hardfault.

[code]

[2020-02-22 04:52] jinger26 commented on #14206
@DanielePettenuzzo @TSC21  @pavel-kirienko any pointers here?

[2020-02-22 04:54] jinger26 commented on #14206
@dagar FYI

[2020-02-22 05:20] AlexKlimaj commented on #14206
Same behavior on 1.9.2 as well.

[2020-02-22 06:29] LorenzMeier commented on #14206
@jinger26 It would be good if Holybro had a look.

[2020-02-22 06:38] AlexKlimaj commented on #14206
I have verified with Holybro that their schematic is correctly connected to CAN1.

On the STM32.
CAN1_SILENT_S0 -> PH2
CAN1_TX -> PH13
CAN1_RX -> PI9.

On the CAN Transceiver.
CAN1_SILENT_S0 -> S Pin 8
CAN1_TX -> TXD Pin 1
CAN1_RX -> RXD Pin 4

[2020-02-22 11:05] davids5 commented on #14206
@AlexKlimaj

`uavcan start`  - start uavcan
`uavcan start fw` - starts the fw update and node ID server (Only on CAN1)

[2020-02-22 11:09] LorenzMeier commented on #14206
@AlexKlimaj The other thing to check is if the silent pin is in the right state.

[2020-02-22 13:20] jinchengde commented on #14160
I had try but it not work

[2020-02-22 15:56] AlexKlimaj commented on #14206
Silent pin is low.

Running `uavcan start fw`, then `uavcan status` produces the same result. Device never gets an ID and `uavcan status` produces a hard fault.

[code]

[2020-02-22 16:06] dagar commented on #14206
Do you know if this is pixhawk 4 mini specific? Have you tried the pixhawk 4 or another fmu-v5?

Is it possible you're hitting a legitimate hardfault in the uavcan battery code?

[2020-02-22 17:00] AlexKlimaj commented on #14206
I've tested on my branch, 1.9.2, and 1.10.1. All exhibit the same behavior on the Pixhawk 4 Mini.

Up until now, I have been doing all my testing on a Pixhawk 4 with no issues.

[2020-02-22 17:08] AlexKlimaj commented on #14206
I also just discovered that uavcan on the Pixhawk 4 doesn't work without an SD card inserted.

[2020-02-22 17:39] davids5 commented on #14206
yes the node server / fw use the SD card

[2020-02-22 17:59] AlexKlimaj commented on #14206
@hamishwillee Can you add a note in the UAVCAN documentation that it requires an SD card?

[2020-02-22 19:08] AlexKlimaj commented on #14206
[fault_2020_02_22_19_07_11.log](https://github.com/PX4/Firmware/files/4239814/fault_2020_02_22_19_07_11.log)

Okay, now this is getting weird. I was just able to replicate the behavior on the Pixhawk 4.

[2020-02-23 01:25] weekly-digest[bot] opened #14213 "Weekly Digest (16 February, 2020 - 23 February, 2020)"
Here's the **Weekly Digest** for [*PX4/Firmware*](https://github.com/PX4/Firmware):

 - - -
# ISSUES
Last week 45 issues were created.
Of these, 22 issues have been closed and 23 issues are still open.
## OPEN ISSUES
:green_heart: #14212 [Acceleration based control/feed-forward](https://github.com/PX4/Firmware/pull/14212), by [MaEtUgR](https://github.com/MaEtUgR)
:green_heart: #14211 [msg/vehicle_

[2020-02-23 02:22] sritank opened #14214 "Preflight check fail Magnetometer compass reading inconsistent mRO Pixracer"
Hi,
I am using the mRO Pixracer board for my drone autopilot and the Taoglas sensor as my onboard GPS sensor. I calibrated my compasses based on the PX4 guide [here](https://docs.px4.io/v1.9.0/en/config/compass.html) .

The three onboard Magnetometers have parameter names:
MAG0 - Taoglas compass 1 = External Compass Orientation
MAG1 - Taoglas compass 2 = External Compass Orientation 1
MAG2 - Pixra

[2020-02-24 08:26] bys1123 commented on #13541
Still need this.

[2020-02-24 08:52] dayjaby commented on #12660
@sfuhrer Any update on this? On master this issue still persists.

[2020-02-24 09:09] sfuhrer commented on #12660
Yes still persists, though not something I consider too high on my priorities currently.
When you plan a mission in QGC with a VTOL takeoff wp (which is the default first mission item for VTOL) then the direction of the transition (in the GUI) shouldn't anyway be set (maybe we should even think about removing the option there).

[2020-02-24 12:30] hamishwillee commented on #12660
@sfuhrer Is this something that @dayjaby or someone else could reasonably implement themselves?

[2020-02-24 14:59] jkflying opened #14220 "Mag/baro rates in SITL unrealistic"
SITL gazebo sensor rates are very different from real hardware. Baro, mag etc are all published at 250Hz, the same as the gyro/accel, instead of ~50Hz as real sensors would do.

Why is this an issue?

- It makes eg. profiling difficult.
- Vehicles behave differently

[2020-02-24 15:16] hamishwillee commented on #14206
Hi @AlexKlimaj

Can you confirm that you're saying UAVCAN itself requires an SD card be present to work:
- on all versions of PX4?
- on all Pixhawk hardware (or just Pixhawk 4/mini)?
- and that this effects any UAVCAN peripheral? -e.g. escs/power modules etc?
- UAVCAN0 or 1 or both?

Sounds like an unfortunate dependency - SD card dies and plane falls out of sky?

How to fix depends a bit on above

[2020-02-24 15:29] davids5 commented on #14206
@hamishwillee Unless something has changed, it is only needed while the UAVCAN FW server and node ID allocation is done at boot up. The FW server is stopped after that and the memory is reclaimed.

[2020-02-24 16:54] CarlOlsson opened #14223 "EKF does not switch to secondary GPS if main fails"
**Describe the bug**
If a vehicle has two GPS modules connected and the main one fails while it has a higher fix type than the secondary GPS the EKF will not switch to only use the secondary GPS but stop fusing GPS completely.

**To Reproduce**
Collect a replay logfile with a vehicle using two GPS modules. Stop publishing of the first GPS module when it has a higher fix than the secondary GPS

![i

[2020-02-24 17:00] CarlOlsson commented on #14223
It also happens the other way around, and even if the GPS modules have the same fix type

[2020-02-24 18:00] LorenzMeier commented on #14220
That indeed seems like a pretty significant thing to change to improve SITL. @TSC21 publishing every 5th measurement seems like a trivial change and it would be great to see this being executed swiftly.

[2020-02-24 18:10] TSC21 commented on #14220
Tomorrow is done.

[2020-02-24 18:22] Tony3dr commented on #13892
The Pixhawk 3 Pro seems to be working on fine on Stable firmware and Master, closing the issue.

[2020-02-24 18:22] #13892 closed

[2020-02-24 20:41] smnogar commented on #14158
I just had this happen, also running 1.9.2 (although slightly modified). We were sending offboard commands to the flight controller from MAVROS trying to test RC failsafe behavior. We had someone walk away from the vehicle holding the RC controller. When the RSSI signal went to zero, we got the error `Transition Denied: ARMED to INIT` instead of the RC failsafe triggering. The motors continued to

[2020-02-25 05:37] Sneha-hub115 opened #14225 "Error while simulating px4 using gazebo simulator on ubuntu 18.04 linux"
Hi,
I'm getting the following issues while simulating px4 using gazebo simulator on ubuntu 18.04 linux. I followed the instructions from here: ([http://dev.px4.io/v1.9.0/en/setup/dev_env_linux.html]. Please let me know the solution for this issue.

CMake Error: The following variables are used in this project, but they are set to NOTFOUND.
Please set them or make sure they are set and tested corre

[2020-02-25 12:55] priseborough opened #14230 "logger module generates incompatible timestamp for logger_status message"
This line

https://github.com/PX4/Firmware/blame/master/src/modules/logger/logger.cpp#L817

generates timestamps during ekf2 replay for the logger_status.timestamp that uses a different datum to the other log messages. The result is that when two commonly used plotting packages FlightPlot and Flight Review are used, the time axis displayed expands to a range that makes the plots unreadable.

This

[2020-02-25 14:43] dagar commented on #14230
It's maybe a bit of a hack, but replay is already a special build time option, so I think we can just skip logger_status entirely in that case.

In general I'm trying to get to timestamps per message being actual uORB metadata corresponding to publication time (atomically) and not whatever timestamp we slap on or propagate through. I'll keep replay in mind before proposing anything on that front.

[2020-02-25 14:59] CarlOlsson opened #14232 "EKF2: GPS blending offset not decreased to zero if one module lose fix"
**Describe the bug**
When using GPS blending we calculate a position offset to apply to each measurement in order to smooth out the data we push into the EKF in case of fast varying GPS accuracy metrics. However, if one GPS module lose fix we don't decrease this value but keep applying the last calculated offset indefinetly.

**To Reproduce**
Collect a replay logfile with two GPS modules connected

[2020-02-25 15:02] jinger26 commented on #14206
also cc @pavel-kirienko @TSC21

[2020-02-25 17:32] hamishwillee commented on #14206
@davids5 Thank you. Is there any way for an end user to know or infer that this is a possible reason their (UAVCAN) motors won't start and power module doesn't supply info etc? i.e. this creates a dependency that every PX4 device must have an SD card (at boot) if it may have UAVCAN. That doesn't feel reasonable - but perhaps this is already a requirement somewhere?

Based on your comment, do you t

[2020-02-25 20:41] davids5 commented on #14206
I would go with, `Note UAVCAN requires that an SD.`

[2020-02-26 06:28] zillay-bot opened #14240 "ERROR during runnning"
build file in the px4 firmware is missing what should i do?

[2020-02-26 07:44] #14230 closed

[2020-02-26 09:36] sfuhrer commented on #12660
I'd say so yes! You mean now disabling the "set heading" option in QGC, or to enable the heading set there to be consumed by PX4? For the 2nd option some changes in Navigator would be necessary, around here:
https://github.com/PX4/Firmware/blob/18754225c93ee18c76c227cc66f687835e4a0046/src/modules/navigator/mission.cpp#L979

[2020-02-26 11:22] hamishwillee commented on #12660
@mrpollo I recall you were putting together a team of community members who could help with development. This might be something for someone in the team to consider.

[2020-02-26 11:31] hamishwillee commented on #14206
@davids5 Why omit the "on boot" clarification? I find it comforting to know that if my SD card dies in flight my UAVCAN motors won't :-)

[2020-02-26 12:14] sfuhrer opened #14243 "Fixed-wing position controller not ouputting attitude setpoints if GPS switched off in altitude mode"
**Describe the bug**
Fixed-wing altitude mode doesn't work without GPS data because it seems to run only with a [valid global position](https://github.com/PX4/Firmware/blob/18754225c93ee18c76c227cc66f687835e4a0046/src/modules/fw_pos_control_l1/FixedwingPositionControl.cpp#L1481).
It is though currently possible to switch to altitude flight mode (at least for a VTOL) without a GPS connected.

**To

[2020-02-26 12:28] dayjaby commented on #12660
I am only interested to have the yaw aligned to the next waypoint correctly, without any artificial waypoints before the transition.

I achieved good results by setting the mission_item yaw to 0.0f in https://github.com/PX4/Firmware/blob/18754225c93ee18c76c227cc66f687835e4a0046/src/modules/navigator/mission.cpp#L770 and looking currently why it doesn't work with the calculated heading.

[2020-02-26 12:39] davids5 commented on #14206
@hamishwillee  because you will have to define the moment it is ok to not have it.  When will that be?

Use the HW to see how it works with current FW.  Testing it on a unit will tell you how it really works, not how we think it works! Please take the initiative to do this sort of thing when questions arise.

Card out of the system.
[code]

[code]
Reinsert card into the system (This will not work)

[2020-02-26 15:00] hamishwillee commented on #14206
@davids5 - Thanks very much. I'll take your advice re the text.

I am unlikely to do this type of testing. While it is trivial for you, I don't have the knowledge, hardware, or understanding of how to interpret the results. Sorry if that is frustrating - but usually getting expert answers is a better use of everyone's time.

[2020-02-26 16:50] julianoes commented on #14160
Ok, still the same error?

[2020-02-27 00:15] TheLegendaryJedi opened #14249 "Ubuntu toolchain installation script: Improvement suggestions"
First of all, awesome work with all the install scripts for all the platforms. I just tested the ubuntu one in 18.04 and it worked like a charm.

@jinger26 and me want to improve the user experience regarding the installation of PX4 toolchain and the first "take-off" like a "hello sky" for the geeks :smile:

We can't address every installation script at the same time so I suggest we start by makin

[2020-02-27 01:36] jinchengde commented on #14160
yes, same error.

[2020-02-27 02:05] smnogar commented on #14158
On further investigation, I don't think this error caused the RC failsafe behavior. I think it was coincidental and that RC was never lost.

[2020-02-27 04:30] jinger26 commented on #14249
@julianoes  @hamishwillee  can you take a look here?

[2020-02-27 04:36] saengphet commented on #14149
Are you looking for this?
https://github.com/PX4/Firmware/tree/master/src/lib/mixer/MultirotorMixer

[2020-02-27 04:37] saengphet commented on #14149
Are you looking for this part?
https://github.com/PX4/Firmware/tree/master/src/lib/mixer/MultirotorMixer

[2020-02-27 08:24] CarlOlsson opened #14251 "EKF2: GPS blending seems to give wrong output for fast changing position meas."
**Describe the bug**
If the position measurement of one GPS module changes fast the output of the blending algorithm gives a faulty output

**To Reproduce**
Here is a replay logfile with two GPS modules connected. At t=80s a position offset is added to gps0 (blue). The red line is the internal GPS blended state and the green line is the output of the blending algorithm that we push into ECL
![imag

[2020-02-27 08:48] sfuhrer commented on #12660
@dayjaby it will do the transition into direction of the VTOL_TAKEOFF wp, so if you place it right above your takeoff point then you probably will have some quite random transition direction. The logic unfortunately currently isn't smart enough to chose the first wp after VTOL_TAKEOFF for the direction if the the distance to the VTOL_TAKEOFF is to short.

[2020-02-27 09:02] sfuhrer commented on #12240
With PX4/sitl_gazebo#415 the tiltrotor sitl problems (both shaking and unsteady transitions) seem to be solved, so I'm gonna close this.

[2020-02-27 09:02] #12240 closed

[2020-02-27 09:47] hamishwillee commented on #14249
Thanks very much. Always great to see people trying to improve the workflow.

Can you submit this as a PR so we can see what has actually changed in the script. On quick inspection, all I can see is the addition of some colour markup.

What does this mean?

The example is more or less the same as what you do now to get setup. Though this won't work because you also need to pull in the file require

[2020-02-27 10:13] bresch commented on #14251
FYI @DanielePettenuzzo

[2020-02-27 10:24] bresch opened #14252 "[EPIC] GPS blending issues"
Summary of the current GPS blending issues:

- [ ] EKF2: GPS blending seems to give wrong output for fast changing position meas : https://github.com/PX4/Firmware/issues/14251
- [ ] EKF does not switch to secondary GPS if main fails: https://github.com/PX4/Firmware/issues/14223
- [ ] @DanielePettenuzzo Please link your issue with the height sources

GPS blending logic:
https://github.com/PX4/Firmw

[2020-02-27 15:23] CarlOlsson commented on #13953
@bresch The original issue reported here (regarding replay) should be solved by https://github.com/PX4/Firmware/pull/14114 and making sure that there are very few logging dropouts in the logfile (<0.15%). I have noticed that in order to achieve this CPU load needs to be below 70% on fmu-v4.

Here is diff(number_of_times_published) for CPU load ~65% top and ~72% bottom
![image](https://user-images.

[2020-02-27 15:23] #13953 closed

[2020-02-27 17:00] BazookaJoe1900 commented on #14161
fixed on CI - exit from failed hardware check with error, so the check will fail #14215

[2020-02-27 17:00] #14161 closed

[2020-02-27 20:01] robotastic commented on #13300
I am using the PX4Flow with the FMUK66, connected over I2C. I am trying to get it to get it to hover indoors without GPS. It will work for a period of time but then start to drift. I have noticed the following message in the logs (5-6 times):
[load_mon] wq:I2C1 low on stack! (220 bytes left)
https://logs.px4.io/plot_app?log=b4769c8a-85e3-430c-9eff-b5344e1ea291
Is this a sign that the I2C bus is ge

[2020-02-27 21:21] davids5 commented on #13300
@robotastic

Is this a sign that the I2C bus is getting overwhelmed?

It may be but doubtful. The default margin is 300 bytes. So this is just an indicator that the stack on the wq:I2C1 has to be increased by 80-90 bytes.

[2020-02-27 21:41] MaEtUgR commented on #13348
Related: https://github.com/PX4/Firmware/issues/12688

[2020-02-27 22:12] TheLegendaryJedi commented on #14249
I didn't think of that, but yes, is better to clone the repo first and then run the installation script. I think that is the way to go.

What we are trying to do is to make it easier for people to run it for the first time. Like copy/paste the commands and give the user some better UX/UI. For example, it takes like 5min to clone plus 10min to install everything. It was interesting to give the user

[2020-02-28 02:50] sritank commented on #14214
Any help with the above would be appreciated

[2020-02-28 08:31] hamishwillee commented on #14249
@TheLegendaryJedi Thank you for the explanation.

I had reasons for the way I did it (mostly because "getting source" feels like part of "building" not "setting up env"). But I think you're right that the "80%" will are better off getting source first. Will update docs for that.

Certainly the docs should be updated to say this. Again, I will do that.

I'm not sure that it is a good idea to make a

[2020-02-28 10:59] #14220 closed

[2020-02-28 14:13] davids5 commented on #13555
Completed in Nuttx and up streamed  Prior to 8.2 https://github.com/PX4/NuttX/commit/786d3453a2f3140ceb1d24a51dbd67b3f0ad4396#diff-4cca7e21c436329c40fd5b1313e71193

Config changed to use back ground init. https://github.com/PX4/Firmware/commit/c9cb59fdd8903847c1ad8d7f70cfad4f3444115e#diff-fde570f7a5e4027436cce1f052ed721b

[2020-02-28 14:13] #13555 closed

[2020-02-28 14:18] davids5 commented on #10538
Up-streamed

[2020-02-28 14:18] #10538 closed

[2020-02-28 15:17] thomaswatters opened #14260 "EKF2 Replay drops "multi-rotor drag fusion""
Seen on version: v1.9.2

When attempting to replay the attached log in replay_mode=ekf2 the drag_innovations are dropped (DNE), and the EKF2_AID_MASK appears to be changed to 0b1.

Exporting the parameters in the attached log show EF2_AID_MASK to be 0b10001 but exporting the parameters from the produced log (made by replay) shows EF2_AID_MASK to be 0b1.

Steps to reproduce the behavior:
1. Export

[2020-02-28 19:43] davids5 commented on #14206
@AlexKlimaj - My FMUv5 mini RC09 would not start UAVCAN

I get
[code]
On investigating it, the board is built with # interfaces = 2, this is incorrect for the HW. But it is a shared bin file for the V5 and the Mini. So that is a problem that needs to be fixed. If I force the driver to return, with only on interface, I get no data on the one interface. I also get a hard fault on the accessing of th

[2020-02-28 21:15] AlexKlimaj commented on #14206
On the Mini hardware I have (which was purchased in December 2019), it is not swapped on the breakout board. I opened it up and verified the pinout from the pin of the CAN transceiver to the GH pin.

I only get the hardfault if I start uavcan manually, then it hardfaults if I do `uavcan status`. Otherwise, uavcan is not started on the Mini even with the parameter set to turn it on.

[2020-02-28 22:48] TheLegendaryJedi commented on #14249
Thanks a lot.

I think your idea is the way to go. I never wanted to change what is working already.

I'll add the sleep with the message to the script and make a PR.

[2020-02-29 00:00] davids5 commented on #14206
@AlexKlimaj - We must have different HW.

Are you using mavlink console?
do a dmesg and you will see that the boot failed to start uavcan, then the second time (you do it manually) it will start, but that is wrong, It should not.

Try rebuilding with  https://github.com/PX4/Firmware/blob/master/boards/px4/fmu-v5/default.cmake#L12 set to 1, then run it.

[2020-02-29 03:56] AlexKlimaj commented on #14206
I am using the debug port.

dmesg shows the failed boot.
`ERROR [uavcan] CAN driver init failed -1006`

Changing `UAVCAN_INTERFACES 2` to 1 solved the problem! No hardfault either.

[code]

BTW this is the output of ver all.
[code]

[2020-02-29 04:54] JacobCrabill commented on #14150
I think I encountered this error a while back too - I don't think general non-tag comments are supported by the parser.  My solution was to add a "@desc" tag that is ignored by the parser, allowing you to write a multi-line comment.  I can put a PR in for this (pretty small change).

[2020-02-29 05:28] ryanjAA opened #14262 "Runway takeoff not tracking"
Runway takeoff (on fixed wing with the nose gear on its own channel) is not tracking. It immediately veers off to the right substantially taking it off the runway.

3 logs of this with one log having large gains and unlimited travel for good measure on the wheel controller.

To further test this we took another aircraft in a different location and recreated. That log is not attached but it obeyed

[2020-02-29 14:58] jinchengde commented on #14262
have you notice that throttle ramp up is fast and reverse twist from propeller is too large?
https://github.com/PX4/Firmware/issues/13146

[2020-02-29 15:10] ryanjAA commented on #14262
No, since the nose servo (output 5 in the log) immediately has a large increase and sometimes maxes out when throttle ramp up increases. Plus I’d of expected to see this a few years ago so it looks like it’s purposely steering it off to the right.

No mag issues, mag ratio is 0. No checkbits either.

[2020-02-29 15:26] davids5 commented on #14206
@AlexKlimaj - It was confirmed by the manufacture that the mini's prior to January 23,2019, has the swapped lines.  This was mostly proto runs and should not have effected later production. But worth knowing.

Would you please check today's master, compiled with UAVCAN_INTERFACES 2. I would expect it to still need to started manually, but not hardfault.

I will work on the correct fix.

[2020-02-29 15:34] LorenzMeier opened #14265 "Terrain following based on terrain data"
MAVLink has for quite some time the infrastructure to transmit terrain tiles. The GCS support in QGC has not been there and so it always seemed like a too big thing to tackle given the niche use cases.

With VTOL the flight distances that PX4 users are doing increases and with that the need for terrain data. QGC is currently gaining support for terrain data:
https://github.com/DonLakeFlyer/qground

[2020-02-29 15:57] Cody-Chen commented on #13133
Well done! It work for me too.

[2020-02-29 16:33] islamdib commented on #14149
@saengphet
now Im working with simulink
the problem is that rotors haven't the same speed so I think that I have to change PID parameters in the first part.
In the second part , I didn't understand the command calculation formula:
% Quad X
 M1 = uint16(((Roll + Pitch - Yaw) / 2 * Thrust + Thrust) * single(1000)) + idle_PWM;
 M2 = uint16(((-Roll + Pitch + Yaw) / 2 * Thrust + Thrust) * single(1000))

[2020-02-29 16:40] islamdib opened #14266 "How to stabilize the quadrotor using matlab simulink to change firmware"
Hello,
I've tried to change in Pikhawk firmware using Qt but I didn't understand how to do.
Now Im working with simulink. In Mathworks there are non response to quastions about this topic.

My problem is that rotors haven't the same speed. so I think that I have to change PID parameters in the first part. I don't know where to find original PID paramaters in order to change them.

In the second pa

[2020-02-29 16:50] DanielePettenuzzo opened #14267 "Altitude hold not working with GPS as primary height source and GPS blending enabled"
Autopilot= Pixhawk 4
Firmware= Branch based on v1.10

**Describe the bug**
Altitude hold not working when GPS is the primary height source and we are blending two different GPS modules (one is ublox and one ashtech).

**To Reproduce**
Steps to reproduce the behavior:
1) Set the primary height mode to GPS (EKF2_HGT_MODE=1)
2) Enabled GPS blending (EKF2_GPS_MASK=3)
3) Takeoff to about 1 meter. --> t

[2020-02-29 16:54] DanielePettenuzzo commented on #14267
From @priseborough 's analysis:
The EKF is tracking the GPS height with minimal innovations -see following plot from d961e095 log:
<img width="749" alt="Screen Shot 2020-02-23 at 4 44 13 pm" src="https://user-images.githubusercontent.com/35664507/75611587-15bad880-5b1c-11ea-9aa4-f8f91eead90c.png">
However there is a substantial height difference between the GPS receivers :
<img width="751" alt="Sc

[2020-02-29 16:55] DanielePettenuzzo commented on #14267
I will now have to figure out which height datums I am using on the two GPS modules.

[2020-02-29 17:18] mhkabir commented on #14266
Please use discuss.px4.io for questions.

[2020-02-29 17:18] #14266 closed

[2020-02-29 19:04] Antiheavy commented on #14265
This is a useful feature for fixed wing too!  Can be real nice if Return Modes have access to this onboard terrain data too.

[2020-03-01 01:26] weekly-digest[bot] opened #14268 "Weekly Digest (23 February, 2020 - 1 March, 2020)"
Here's the **Weekly Digest** for [*PX4/Firmware*](https://github.com/PX4/Firmware):

 - - -
# ISSUES
Last week 54 issues were created.
Of these, 24 issues have been closed and 30 issues are still open.
## OPEN ISSUES
:green_heart: #14267 [Altitude hold not working with GPS as primary height source and GPS blending enabled](https://github.com/PX4/Firmware/issues/14267), by [DanielePettenuzzo](https

[2020-03-01 03:19] ryanjAA commented on #14262
Collecting more logs of this issue on different systems.

[2020-03-01 08:07] julianoes commented on #14160
Do you know why this happens?

[code]

Usually this happens if there is not enough RAM available. One thing to try is to reboot the computer and watch the free RAM during compilation using `top` or `htop`.

[2020-03-01 08:12] julianoes commented on #4428
This is doable with params `SIM_BAT_DRAIN` and `SIM_BAT_MIN_PCT`.

[2020-03-01 08:12] #4428 closed

[2020-03-01 08:16] julianoes commented on #11737
Closing for now. I'll bring re-open this if it happens again.

[2020-03-01 08:16] #11737 closed

[2020-03-01 13:27] TheLegendaryJedi commented on #14249
@hamishwillee I made a fresh install of ubuntu 18.04 and tried to run:
[code]
but I got the error
[code]

Is there a step I'm missing?

[2020-03-01 20:23] moreba1 commented on #11747
what is method of calculating wind speed in px4 ?
i think there is a simple way for calculating by subtract true airspeed and groundspeed vectors .

[2020-03-02 03:48] AlexKlimaj commented on #14206
@davids5 Looks like the hardfault is fixed.
On boot:
[code]
If I start it manually with `uavcan start fw` the driver starts but does not function. `uavcan status` no longer hardfaults in this scenario.

If I set `UAVCAN_INTERFACES` to 1, the driver starts on boot and is functional.

[2020-03-02 06:28] jinchengde commented on #14262
Is that still exist in master ?

[2020-03-02 07:42] julianoes opened #14273 "ESC calibration broken after 1.10?"
Is ESC calibration still working with 1.10 and later?

This post suggests otherwise:
https://discuss.px4.io/t/unable-to-start-esc-calibration/15033

[2020-03-02 08:27] julianoes commented on #14249
@TheLegendaryJedi thanks for your suggestions and your PR.

Something is wrong:

[code]

It should select Python3, not Python2, so that's confusing.

[2020-03-02 08:28] #14268 closed

[2020-03-02 08:38] julianoes commented on #13334
I haven't seen this in a while? Is this still an issue @dagar @mrivi ?

[2020-03-02 08:42] julianoes commented on #13458
FYI @bresch

[2020-03-02 08:43] julianoes commented on #13458
@tuloski can you check 1.10?

[2020-03-02 08:44] julianoes commented on #13508
FYI @bresch

[2020-03-02 08:44] julianoes commented on #13506
Did you check in https://github.com/PX4/sitl_gazebo/ ?

[2020-03-02 08:45] julianoes commented on #13498
FYI @bresch

[2020-03-02 08:46] julianoes commented on #14171
@okalachev maybe you can help here?

[2020-03-02 08:47] #13472 closed

[2020-03-02 08:47] #14167 closed

[2020-03-02 08:50] julianoes commented on #14189
Thanks for the issue. I'll put this on my list to reproduce.

[2020-03-02 08:52] julianoes commented on #14185
Have you tried `make clean` ?

I found this: https://stackoverflow.com/questions/16319292/cmake-error-could-not-load-cache

[2020-03-02 08:53] julianoes commented on #11993
@jarivanewijk we're always open for pull requests but I'm not sure if you can convince someone to work on this for you.

[2020-03-02 08:54] julianoes commented on #14164
@myboyhood have you tried to properly rebuild everything after a clean?

[2020-03-02 08:55] #14213 closed

[2020-03-02 08:57] julianoes commented on #14232
@DanielePettenuzzo is this the same that you found?

[2020-03-02 08:58] julianoes commented on #14225
[code]

You are missing some gstreamer dependencies. I would suggest to re-run the setup script as described here:
https://dev.px4.io/master/en/setup/dev_env_linux_ubuntu.html#sim_nuttx

[2020-03-02 08:59] #14225 closed

[2020-03-02 08:59] julianoes commented on #14223
FYI @DanielePettenuzzo

[2020-03-02 09:03] julianoes commented on #14240
There is not enough information here for me to know what the problem is. Please fill out the issue template properly with detailed information next time.

[2020-03-02 09:03] #14240 closed

[2020-03-02 09:05] julianoes commented on #14214
@dagar you mentioned something about this, right?

[2020-03-02 09:05] #13634 closed

[2020-03-02 09:25] Sneha-hub115 commented on #14225
Thank you.

[2020-03-02 09:27] zhaoxiaowei1013 opened #14274 "Stm32H7 hard fault when SPI2 and I2C4 work together"
**Describe the bug**
I have a stm32H7 hardware ，drive barometer using SPI2 interface,and driver magnetometer（ ist8308 ）using I2C4 and I2C3  interface，when I run both drivers in the work queue，the system will generate hard fault.
I am according to the documentation to locate where the hard falut happened，the hard fault happened in  spi read when it be called in work quene transfer.

**To Reproduce*

[2020-03-02 10:59] TheLegendaryJedi commented on #14249
Can we force the code to use python 3?

[2020-03-02 12:11] jinchengde commented on #14160
you are correct, the computer I compile PX4 source code only have 4G memory, and used
''' free -m ''' to monitor the memory usage, it looks all memory had be used up

[2020-03-02 12:13] dk7xe commented on #10507
This issue can be closed

[2020-03-02 12:13] #10507 closed

[2020-03-02 12:24] julianoes commented on #14249
It should already do that:

https://github.com/PX4/Firmware/blob/9edb1179d09bbfabf103b86d47fcf70174ac0c15/CMakeLists.txt#L270-L276

[2020-03-02 12:28] julianoes commented on #14274
How can anyone reproduce this to fix it?

[2020-03-02 12:29] julianoes commented on #14160
Ok, in that case try with more RAM (or a swap partition) or make sure only one core is used.

[2020-03-02 12:29] #14160 closed

[2020-03-02 12:35] DanielePettenuzzo commented on #14232
I'm not sure. They could be related

[2020-03-02 14:08] zhaoxiaowei1013 commented on #14274
my imu bmi088 in SPI4 and baro（tcbp001ta）in SPI2
![image](https://user-images.githubusercontent.com/9687758/75683203-a981d580-5cd1-11ea-850c-06a7489c2bd6.png)
and I2C3 is external magnetometer（ist8308）  I2C4 is internal magnetometer （ist8308）
![image](https://user-images.githubusercontent.com/9687758/75683363-eea60780-5cd1-11ea-8ba1-291dc8e19e50.png)
Just can't work when SPI2 and I2C3 or I2C4 toge

[2020-03-02 14:40] CarlOlsson opened #14276 "EKF2 GPS blending: GPS fix lost on one module results in lost GPS samples"
**Describe the bug**
If one GPS module loses fix samples are lost (never pushed into ECL) from the second GPS module

**To Reproduce**
Collect a replay logfile with two GPS modules connected. Simulate fix_type = 0 on one of the modules during the flight. Log the time difference (dt) of when GPS data is pushed into ECL.
At t=100s the main GPS loses fix
![image](https://user-images.githubusercontent

[2020-03-02 14:50] 0xF0F0F0F0 opened #14277 "Packet Loss Calculation"
Hi,

I wanted to know if there is an accurate way to calculate packet loss on a mavlink channel. I have come across calculation using message sequence number but i have a few questions:

1. What is the difference between seq number in mavlink packet vs. current_rx_seq in mavlink_status?
2.  If i lose more than 255 sequence numbers, will it affect my calculation? (since seq num is 0-255)

[2020-03-02 15:14] TheLegendaryJedi commented on #14249
But python 3 is installed in Ubuntu 18.04 by default...I don't get that specific error.

I was able to solve all the problems manually installing the missing modules but not using only `sudo pip install ...`
I need to use `sudo -H pip install` or, sometimes, `sudo -H python pip install ...`

Do you have any idea how can we solve this? Maybe use virtual environments for python to make it OS agnosti

[2020-03-02 15:34] myboyhood commented on #14164
yes, I reinstall gazebo and px4 firmware respectively, I test rotors simulation from ETH in gazebo, there is no error, I think there is some links between gazebo and px4_sitl not removed totally, the problem may be caused by my fool adaption of source cpp. but I reinstall px4 firmware cannot help to solve....

[2020-03-02 17:09] julianoes commented on #14164
Check what dependencies `px4` has:

[code]

[2020-03-02 17:10] julianoes commented on #14249
What is?
[code]

[2020-03-02 17:13] depauwjimmy opened #14281 "HITL Missing battery parameters"
I have been struggling for the past week to use a simulator but without any results so far.
What i wish to achieve is :
- HITL on a Cube with 1.10.1
- AirSim
- Xbox controller for manual control

Since SITL does not work at all with AirSim i wanted to try HITL but i have a weird problem.
Fresh flashed system show missing parameters error.

BAT_V_CHARGED, BAT_N_CELLS and BAT_V_EMPTY

Since this is

[2020-03-02 18:16] dagar commented on #14274
If you open pull requests for the IST8303 magnetometer or tcbp001ta (model?) barometer we could take a look and maintain them upstream, otherwise there's not much we can do here.

There shouldn't be any overlap between these things unless there's an error. Each workqueue is a separate thread, so all the activity, locking, etc should be independent.

[2020-03-02 19:16] TheLegendaryJedi commented on #14249
`thelegendaryjedi@thelegendaryjedi:~$ which python
/usr/bin/python
thelegendaryjedi@thelegendaryjedi:~$ python --version
Python 2.7.17
thelegendaryjedi@thelegendaryjedi:~$ which python3
/usr/bin/python3
thelegendaryjedi@thelegendaryjedi:~$ python3  --version
Python 3.6.9
thelegendaryjedi@thelegendaryjedi:~$ which pip
/usr/local/bin/pip
thelegendaryjedi@thelegendaryjedi:~$ pip --version
pip 20.0.2

[2020-03-02 19:18] TheLegendaryJedi commented on #14249
`/usr/bin/python
Python 2.7.17
/usr/bin/python3
Python 3.6.9
/usr/local/bin/pip
pip 20.0.2 from /usr/local/lib/python3.6/dist-packages/pip (python 3.6)
/usr/local/bin/pip3
pip 20.0.2 from /usr/local/lib/python3.6/dist-packages/pip (python 3.6)
`

[2020-03-02 22:07] okalachev commented on #14171
Hi, you can easily change the mode to precision landing using `MAV_CMD_DO_SET_MODE` command.

The main mode is `MAV_MODE_FLAG_SAFETY_ARMED | MAV_MODE_FLAG_CUSTOM_MODE_ENABLED`, the custom mode is `PX4_CUSTOM_MAIN_MODE_AUTO` (4), the custom sub mode is `PX4_CUSTOM_SUB_MODE_AUTO_PRECLAND` (9).

[2020-03-03 00:01] ryanjAA commented on #14262
Yes. This is still in master. I’m actually wondering if this is something on the math side calculating heading since if we start looking at batches of recent logs on different aircraft, there is almost always an immediate rise in the pwm value of the nose wheel. I opened up some logs of another aircraft type that had exactly the same issue.  Oscillation is present until speed is achieved but all g

[2020-03-03 01:36] myboyhood commented on #14164
**yes** , I try px4 and others like px4-motor_test , both of  them list below, sorry I cannot figure out whether this is wrong ??
[code]
I also call spawn_model in gazebo_ros pkg to load iris.sdf, it seem nothing wrong from the log below , but I find in gazebo ,the only half body of iris model is  above horizontal plane. I don't know what cause this weird phenomenon  :-(
[code]

[2020-03-03 04:14] YANG-DEMIN commented on #13416
I am so sorry about that i cant find the  address that you paste. This one:https://discuss.px4.io/t/ubuntu-18-04-gstreamer-cant-be-installed-so-gazebo-video-steaming-doesnt-work/10161/7
And i try to input the comment line that you listed, it does not work.
I want get the solving way, thank you very much!

[2020-03-03 04:52] zhaoxiaowei1013 commented on #14274
please view the pr [#14286](https://github.com/PX4/Firmware/pull/14286)。
thank you very much！

[2020-03-03 06:49] myeabhishek opened #14287 "Packet drop while using mavlink forwarding in px4 mavlink module"
Hello Team,

I am using Mavlink forwarding to route mavlink messages between Telem1 and Telem 2 ports. I have observed on sending high-frequency data on telem1 i.e. 400 bytes/second, I am getting about 10% packet drop on telem2. This increases linearly with increase in frequency of data. There is no other interference in the system. I am able to receive 100 percent of the data on other hardwares.

[2020-03-03 06:59] julianoes commented on #14249
Ok, something is wrong here.
I'm not sure how you installed pip3 into `/usr/local` but I would suggest to remove all that and only use `pip` and `pip3` from the system. You can install it by doing `sudo apt-get install python-pip` and  `sudo apt-get install python3-pip`.

[2020-03-03 07:36] julianoes commented on #14164
Sorry, it's not about the dependencies of `px4` but `gzserver`, however,  they are loaded dynamically I believe, so `ldd` might not show it.

When you do `make clean`, it should not say:
[code]
but actually rebuild Gazebo, does it do that?

[2020-03-03 07:38] julianoes commented on #14281
You should be able to work around the preflight errors using:
https://dev.px4.io/master/en/advanced/parameter_reference.html#CBRK_SUPPLY_CHK

[2020-03-03 07:41] julianoes commented on #14287
Can you provide the output of `mavlink status` for the ok and no-ok case?

[2020-03-03 09:00] TheLegendaryJedi commented on #14249
Thanks @julianoes. Probably that solves the problem for my case. But my case was a vanilla Ubuntu 18.04 installation. A lot of people will get this error I think. Me and @jinger26 are trying to make the toolchain installation commands easy to run. The objective is to have a easy entry point for PX4 new developers :smile:

[2020-03-03 09:58] myeabhishek commented on #14287
Hi,

I have attached the output of mavlink status command for both cases. Thank you for your assistance.

![not_okay_case](https://user-images.githubusercontent.com/24542655/75764213-8c95e280-5d63-11ea-8660-a5221bc3d17d.png)

![okay_case](https://user-images.githubusercontent.com/24542655/75764250-991a3b00-5d63-11ea-87d3-9789266b1ad5.png)

[2020-03-03 10:40] julianoes commented on #14249
A vanilla installation does not have pip installed in `/usr/local`!

[2020-03-03 10:47] julianoes commented on #14249
The only way I can think of that this happens is if you used an older `ubuntu.sh` script which installs some updated pip there.

[2020-03-03 10:57] julianoes commented on #14287
I was expecting to see a `rate mult` of 1 for the working case and a number smaller than 1 for the not ok case. Instead the `rate mult` seems the same for both cases. However, the ping statistics seem bogus but that might not matter.

Have you tried choosing a higher `-r ` rate for the companion side? Basically, the `rate mult` is < 1 if the asked rates of all the messages is too much compared to

[2020-03-03 10:57] ToppingXu opened #14289 "pthread exit"
https://github.com/PX4/Firmware/blob/master/src/drivers/uavcan/uavcan_servers.cpp#L577

shouldn't here be _subnode_thread_should_exit = true after thread exit

[2020-03-03 11:13] TheLegendaryJedi commented on #14249
If you make a fresh install of Ubuntu 18.04 in a VM and run:

[code]
You don't get that error?

[2020-03-03 11:42] dayjaby commented on #14169
I can give it a try. Short question: why does it say "Status text message, without null termination character" in https://mavlink.io/en/messages/common.html#STATUSTEXT? The null termination character looks necessary as we have no field containing the length of the string and it is used in the current px4 statustext implementation.

[2020-03-03 11:51] myeabhishek commented on #14287
Yes, I increased the -r for companion link to 10000. The packet loss increased from 10 % to 45 %.

Is serial baud rate related to these configurations? I have set 57600 for both ports.

[2020-03-03 12:21] myeabhishek commented on #14287
Following is the screenshot for mavlink status. I increased the baud rate for telem2 to 921600 with 10000 as my -r value.

My packet loss has decreased from 45% in last attempt to 15% and rate multiplier is also set to 1 now.

![inreased_telem2_baudrate_and_data_rate](https://user-images.githubusercontent.com/24542655/75775220-81e54880-5d77-11ea-96ff-05e881d15458.png)

[2020-03-03 14:53] bresch commented on #14204
Tested on Pixhawk4 (fmuv5), nothing attached, disarmed

3be8b3d177
ekf2: update: 20247 events, 7280866us elapsed, 359.60us avg, min 12us max 979us 401.864us rms

17ab617877
ekf2: update: 20942 events, 7660620us elapsed, 365.80us avg, min 11us max 1001us 410.382us rms

1aa514a8ea
ekf2: update: 2940 events, 1075008us elapsed, 365.65us avg, min 12us max 949us 1301.413us rms

92adc5afaa
ekf2: update:

[2020-03-03 15:42] bresch commented on #14204
ecl diff between 09c8c8f and d7b9587:
https://github.com/PX4/ecl/compare/6b5f011bc224a45fd57d33e90cc7a136aa075b6c...181303488cfc4d2ae34f61f0ad9a34b49a2501f7

[2020-03-03 15:59] julianoes commented on #14169
The spec means that you can use all 50 bytes. If you use all 50 bytes, then the other side should only use these 50 bytes and then terminate, and not read over that limit.

E.g.:
https://github.com/mavlink/MAVSDK/blob/00961b9813f810c1bc89d372680f8e099ad056b2/src/plugins/telemetry/telemetry_impl.cpp#L809-L812

[2020-03-03 16:13] julianoes commented on #14249
I just tried exactly your steps in a fresh 18.04 docker image:

[code]

[2020-03-03 16:20] julianoes commented on #14289
FYI @pavel-kirienko

[2020-03-03 16:35] FaboNo commented on #10221
I have tested V.1.10.0 on a pixhawk2 for a rover ("Generic ground vehicle") and I noticed the pwm output is correct for steering (MAIN2) but nothing is coming out of MAIN4.
How can I know that the rover part of px4 is downloaded?

[2020-03-03 16:37] pavel-kirienko commented on #14289
I suppose it was implemented to support restarting the thread afterwards. By the time the flag is reset the thread is already stopped so it has no effect. I don't think it's a mistake.

[2020-03-03 17:37] sfuhrer commented on #11747
Yes groundspeed - groundspeed is used, as well as sideslip fusing (you know there is wind from the side if the vehicle is moving lateral to it's heading).

See https://github.com/PX4/ecl/blob/master/airdata/WindEstimator.cpp#L1 for the code. It's a standalone, small EKF only for wind estimation.

[2020-03-03 20:49] shrit commented on #14189
I think this is related to SDF files, which has been updated in last year. It slows down since we have added magnetometers and gyro meters parameters in the SDF. The last commit I remember working without a slowing down in this one 0e43ddafa0c70a190a9080c17c9540d8f7ab5261

[2020-03-03 22:44] saumilss2 commented on #10677
I'm having exactly the same issue with Bottom Motors or DodecaRotor not spinning.
I'm using PixHawk 2.0 with px4_fmu-v3.

I have already tried extensive troubleshooting on this.
My takeaways:
 - In PX4_SITL mode, with 16 pwm available on /dev/pwm_output0, I can easily load
   dodeca_top_cox.main.mix as well as dodeca_bottom_cox.aux.mix using following commands.

    mixer load /dev/pwm_output0 /di

[2020-03-04 00:50] hamishwillee commented on #10221
@FaboNo There is only one PX4 binary, so you know the rover part is downloaded.

@Jaeyoung-Lim @dagar What do we have to uncomment to get the rover controllers in?

[2020-03-04 01:00] kashishdhal commented on #13567
Hello I am having the same issue:

/usr/include/newlib/math.h:18:3: error: '__ULong' does not name a type
   __ULong i[2];
   ^~~~~~~

Upon checking the versin of gcc by the following command I get:
$ arm-none-eabi-gcc --version

I get:

arm-none-eabi-gcc (GNU Tools for Arm Embedded Processors 7-2017-q4-major) 7.2.1 20170904 (release) [ARM/embedded-7-branch revision 255204]
Copyright (C) 2017 Free

[2020-03-04 02:17] hamishwillee commented on #14277
FYI Duplicate in mavlink/mavlink: https://github.com/mavlink/mavlink/issues/1315

[2020-03-04 04:13] hamishwillee commented on #14249
FYI, I just tried in in VM using freshly downloaded Ubuntu 18.04.4 and today's firmware. All worked fine.

[2020-03-04 04:52] hamishwillee commented on #14249
FYI Updated ubuntu script to suggest install source and run ubuntu.sh in place as first option: https://github.com/PX4/Devguide/blob/master/en/setup/dev_env_linux_ubuntu.md

[2020-03-04 07:18] Sneha-hub115 opened #14291 "Detailed logs in gazebo+jmavsim for simulated flight"
Hi,
I'm using ubuntu18.04 to build the px4 code for gazebo and jmavsim. I'm stuck with the following issues:
1. How to get detailed logs in gazebo+jmavsim for simulated flights.
2. How to do diagnostic logging.
2. How to get detailed logs in QGround control+real drone flight.

Thank you.

[2020-03-04 07:39] dayjaby commented on #14169
So this would be correct behaviour?

[code]

In the last line I logged "Takeoff detected. Test a very long string. ABCDEFGHIJKLMNOPQRSTUVWXYZ". If yes, I gonna create a PR for this.

[2020-03-04 08:08] julianoes commented on #13567
@kashishdhal

[2020-03-04 08:14] moreba1 opened #14292 "Add AGL altitude (distance sensor) for VTOL quadchute min alt"
Hi

i think AGL alt is better for quadchute minimim alt than relative alt . if we choice AGL altitude for quadchute we can prevent collision with ground .

[2020-03-04 08:14] julianoes commented on #14169
In my opinion that is correct. Thanks.

[2020-03-04 08:17] julianoes commented on #14291
Hi, you need to be bit more specific. What do you mean with detailed logs?

In general a question like this is better to be posted in discuss.px4.io since it's not a specific issue with the PX4 firmware.

[2020-03-04 08:19] julianoes commented on #14292
Please fill out the issue template and give enough context, code, logs etc.

[2020-03-04 08:36] kashishdhal commented on #13567
@julianoes
I already checked the gcc version using $ arm-none-eabi-gcc --version.

It is GCC 7-2017-q4-major. Is that not correct?

DO I still need to do a reinstall?

[2020-03-04 08:38] Sneha-hub115 commented on #14291
Hi, I want to know where and how to get log files in gazebo and jmavsim using px4 code.

Thank you

[2020-03-04 09:15] julianoes commented on #14291
The ulogs are stored in `Firmware/build/px4_sitl_default/tmp/rootfs/log/...`.

For real flights the logs are stored on the MicroSD card and you can download them using QGroundControl.

Also, see https://dev.px4.io/master/en/log/flight_log_analysis.html.

[2020-03-04 09:15] #14291 closed

[2020-03-04 09:42] stmoon opened #14293 "lock CONS debug console when disconnecting usb cable after usb connection"
**Describe the bug**

When disconnecting USB cable after the connection, the CONS debug console is locked.
When I connect the USB cable again, the CONS debug console is released.

In this case, some tasks are held until connecting USB cable again.

I think it is related to mavlink.

[2020-03-04 10:18] TheLegendaryJedi commented on #14249
Strange, I tried it two times in two different VMs. I guess I'll try it again today.

[2020-03-04 11:20] depauwjimmy commented on #14281
Thanks i have managed to start both AirSim and QCG using 2 usb connection which allows me to use a Pad for manual controls.
Now i have other problems :/

My biggest issue right now is that it always wants to land and never hover when i release the controls.
Is COM_OBL_ACT not supposed to prevent it?
I also get a random

    EMERGENCY: Critical navigation failure! Check sensor calibra

This happen

[2020-03-04 12:52] Roman- commented on #10621
I will add my two cents in here.

The UavcanMagnetometerBridge seems to be designed to support multiple magnitometers connected through uavcan. That is explicitly claimed [there](https://github.com/PX4/Firmware/blob/2b087a92c277d542405c79fd98e99e5ccfb358ca/src/drivers/uavcan/sensors/sensor_bridge.hpp#L85). However the instance of UavcanMagnetometerBridge [only has one mag_calibration_s structure](

[2020-03-04 13:07] bkueng commented on #13685
This was fixed, the array size is now dynamic.

[2020-03-04 13:07] #13685 closed

[2020-03-04 14:00] FaboNo commented on #10221
@hamishwillee I can see that there are other pull requests such as
https://github.com/PX4/Firmware/pull/13314 (relevant to us as we want to go offboard as well). Do you know in which PX4 firmware release we can expect to have rover controllers up and running?

I understand that the priority is on "flying machines" but I can see more and more R&D team (like us) moving  on developing swarm of/pairin

[2020-03-04 14:03] Jaeyoung-Lim commented on #10221
@FaboNo v1.10.0 should already have the rover control up and running but with limited support in offboard controls. Current master is in a good shape to use offboard setpoints as written in this [doc](https://docs.px4.io/master/en/flight_modes/offboard.html)

[2020-03-04 14:11] FaboNo commented on #10221
@Jaeyoung-Lim Nice to see you :) Actually this is the one we are using right now on a pixhawk (PX4 FMU V2) and as I mentioned before one signal (MAIN 04) is missing with the "generic rover". I tried the other rovers and ended up with the same result. Do you have any hint? So that I can dig in the parameters and find out? I will read the link you provided - hope that there are "mavros"-compliant?

[2020-03-04 15:07] bresch commented on #13408
We're planning to review the land detection logic in the near future. Please post logs here if you still have an issue with the land detector.

[2020-03-04 15:10] bresch commented on #12471
@julianoes We changed quite a bit the waypoint tracking logic since then, could you check is this issue is still there?

[2020-03-04 15:11] Antiheavy commented on #13408
@bresch are you planning to review MC land detector, FW land detector, or both?  (I have comments related to FW land detector if that is with scope of your effort).

[2020-03-04 17:23] kashishdhal commented on #13567
@julianoes

As per your suggestion, upon running the script in tree (which I did before as well) I get following:

E: Unable to locate package gdb-arm-none-eabi
Installing GCC to: /home/gnclab/gcc-arm-none-eabi-7-2017-q4-major
 GCC already installed.
RESTART YOUR COMPUTER to complete installation of PX4 development toolchain

Since **gdb-arm-none-eabi** seems to be missing, I installed it manually

[2020-03-04 22:54] TheLegendaryJedi commented on #14249
Just tried it again today with a fresh install of Ubuntu 18.04 and it worked. The only thing I did different was not installing vscode and it's extensions. I don't know what happened before.

Thanks a lot for all the support.

[2020-03-04 22:54] #14249 closed

[2020-03-04 22:59] #14204 closed

[2020-03-05 01:43] hamishwillee commented on #14249
@TheLegendaryJedi Thanks for letting us know. FYI I didn't try VSCode /extensions. I guess it is possible installing their suggested cmake might break something.

[2020-03-05 05:59] sahaaswina commented on #14127
I have exactly same problem, never crash, no new hardware, just update firmware and get same message, I have try re-flash and reset and still not working. What log do you need?

[2020-03-05 06:27] SalimTerryLi commented on #14127
Can you test over nsh to figure out whether ms5611 driver is working or not? Please try to execute
`ms5611 status` and `ms5611 -s start`

[2020-03-05 07:42] julianoes commented on #13567
It's not missing, check `which arm-none-eabi-gdb`.

[2020-03-05 07:49] julianoes commented on #12471
@bresch nice! I tested 0.5m and 0.3m which worked. 0.2m worked sometimes and 0.1m stayed on the ground but that's already much better!

[2020-03-05 08:53] rk800506 opened #14299 "PX4flow sensor not working with Pixhawk 4"
hello @dagar @LorenzMeier @dogmaphobic @DonLakeFlyer  , this is regarding px4flow sensor not working with pixhawk4 flight controller. The following is the problem.
I am trying to get sensor data form PX4flow with pixhawk4. I am using TFmini lidar that is working fine and publishing correct distance and publishing to correct topic distance_sensor. Now I am able to see in mavlink console that my px4

[2020-03-05 09:13] TheLegendaryJedi commented on #14249
Yes, probably was that. Because using the recommended extensions (suggested automatically by vscode) for the Project and sub modules installs cmake extension and python extensions that always tries to compile using cmake as soon as you open the project.

[2020-03-05 09:46] julianoes opened #14300 "SITL Gazebo with optical flow not working"
**Describe the bug**

I can't switch into position control. Only altitude control works, even if in-air.

Sometimes the flow thing reports matches, but even then I can't switch into position control:
[code]

However, most of the time, this is not reporting anyway.

The LOCAL_POSITION_NED velocity estimates seem correct but position is just 0.

**To Reproduce**
Steps to reproduce the behavior:
[cod

[2020-03-05 10:11] bresch commented on #12471
@julianoes BTW, why is the Navigator not complaining?
[MIS_TAKEOFF_ALT](https://dev.px4.io/master/en/advanced/parameter_reference.html#MIS_TAKEOFF_ALT) is the lowest altitude you should be able to go during takeoff:
https://github.com/PX4/Firmware/blob/b9fab04adbfd92783206a08364c8fea077f1ed39/src/modules/navigator/takeoff.cpp#L86-L105
Are you setting that parameter differently or are you not passi

[2020-03-05 10:18] bresch commented on #13671
@julianoes IIRC you are testing different velocities in the MAVSDK test. Have you spotted this issue as well?

[2020-03-05 11:21] bresch commented on #11905
Fixed by https://github.com/PX4/Firmware/pull/10179

[2020-03-05 11:21] #11905 closed

[2020-03-05 11:36] sahaaswina commented on #14127
`nsh> ms5611 status`
`WARN [ms5611] driver not running`
`nsh>`
`ms5611 -s start`
`MS5611_SPI on SPI bus 4 at 0 (20000 KHz)`
`WARN [ms5611] no device on bus 3`
`nsh>`
`ms5611 status`
`WARN [ms5611] driver not running`
`nsh>`

hope this is what you expected

[2020-03-05 11:36] moreba1 commented on #14292
VT_FW_MIN_ALT (FLOAT)
**QuadChute Altitude**
Comment: Minimum altitude for fixed wing flight, when in fixed wing the altitude drops below this altitude the vehicle will transition back to MC mode and enter failsafe RTL

this altitude is relative altitude but Relative altitude is not important, because It may not be flat ground and altitude above terrain is important. for measuring we can use dista

[2020-03-05 12:35] MaEtUgR opened #14303 "SITL jmavsim crazy pitch rate oscillations"
**To Reproduce**
Steps to reproduce the behavior:
1. master on this commit https://github.com/PX4/Firmware/commit/2b087a92c277d542405c79fd98e99e5ccfb358ca
2. run `make px4_sitl jmavsim`
3. immediately switch to altitude mode and takeoff by pushing up with the stick
4. Don't move the sticks anymore and see the drone having fast and extreme pitch oscillation for multiple seconds

**Expected behavior

[2020-03-05 12:48] julianoes commented on #12471
I'm using this parameter to set the takeoff altitude before a takeoff.

[2020-03-05 13:36] julianoes commented on #14249
@TheLegendaryJedi so vscode extensions ask for `sudo` in order to install to `/usr/local`?

[2020-03-05 13:38] pavel-kirienko commented on #10621
@TSC21 can we please register this to have it fixed in the v1 rewrite? Not sure what the proper workflow would be.

[2020-03-05 13:39] julianoes commented on #14292
Ok, and what's your suggested change? I'm not entirely sure on that yet.

[2020-03-05 13:41] julianoes commented on #13671
@bresch yes there are tests for that, and I think they are passing.

https://github.com/mavlink/MAVSDK/blob/4d8d4b3836a2bc46c01b89bfd523306ef7c851a7/src/integration_tests/mission_change_speed.cpp#L62-L64

[2020-03-05 13:52] julianoes commented on #14293
What's the "CONS debug console"?

[2020-03-05 14:26] kashishdhal commented on #13567
It returns:

/home/gnclab/gcc-arm-none-eabi-7-2017-q4-major/bin/arm-none-eabi-gdb

[2020-03-05 14:39] MaEtUgR commented on #14303
I bisected it to come from the vehicle_angular_velocity filtering:
https://github.com/PX4/Firmware/commit/24f0c2d72ae2837c5d41d6835f8d18ea1647742e#diff-e1d4d75170cc48374d5f144ebfca43d9
The oscillation only happens shortly after boot and it stops exactly when the message
`INFO  [vehicle_angular_velocity] updating filter, sample rate: 1000.000 Hz -> 250.000 Hz`
is displayed coming from https://githu

[2020-03-05 14:45] FaboNo commented on #10221
@Jaeyoung-Lim I just tried again the aion robotics R1 rover setup and I can see it is almost working (cannot move backward)  when controlled via Radio.
Do you have any idea when the offboard setpoints will be released?

[2020-03-05 14:50] Jaeyoung-Lim commented on #10221
@FaboNo In master it is already there. (and compatible with mavros ofcourse) I believe it will be part of v1.11

[2020-03-05 15:59] moreba1 commented on #14292
What is @sanderux  opinion? He developed the quadchute code .

[2020-03-05 16:15] sanderux commented on #14292
QuadChute has 2 modes:
VT_FW_MIN_ALT defining a minimum altitude above home
VT_FW_ALT_ERR defining a maximum deviation from the altitude setpoint.

Using range finders for quadchute would be a bad idea because;
1. Range finders generally dont operate at the altitude where you would want quadchute to start.
2. Quadchute engages when the vehicle is not flying properly, a rangefinder needs to be leve

[2020-03-05 16:46] FaboNo commented on #10221
@Jaeyoung-Lim Good I will have a look - thank for the great job on the rover side. Regarding the R1 rover behavior I will post on discuss.px4.io

[2020-03-05 17:23] MaEtUgR commented on #14303
@dagar Not sure if this is a crucial real world issue since in real world you usually don't take off that fast but it's still undesired and we should try to get rid of the delay. How did it work before?

FYI @bkueng

[2020-03-05 17:34] moreba1 commented on #14292
what is your opinion in adding range finder alt in addition to Rel alt not replacing with it ?

this would be useful when terrain alt has variance with reality or there is some building.

[2020-03-05 18:03] dagar commented on #14303
There have been a few iterations in the last year, but at one point the LPF was in the sim driver itself (sometimes with an incorrect sample rate), then it moved to PX4Accelerometer/PX4Gyroscope where the driver was setting the sample rate (again incorrectly in many cases), then it finally moved to sensors/vehicle_angular_velocity where we started measuring the sample rate ourselves.

We need to e

[2020-03-06 04:05] kashishdhal commented on #13567
@julianoes

Hello, please let me know what should I do next to correct it? I am not able to run make command. I already showed you the error I am getting in the above message. Please help. I will appreciate your help.

@kamilritz

Since you were able to fix it, do you have any suggestions? Please help.

[2020-03-06 04:21] hamishwillee commented on #13567
@kamilritz Now that you are using the correct gcc, what build command are you using?

Do a `make distclean` and then try to rebuild. What error, if any are you seeing?

[2020-03-06 05:02] kashishdhal commented on #13567
Hello @hamishwillee

I am still getting the same error:

/usr/include/newlib/math.h:18:3: error: '__ULong' does not name a type
   __ULong i[2];

[2020-03-06 05:28] stmoon commented on #14293
Hi,

In the Pixhawk 2.1, there is CONS (console) near the SBUS.

![image](https://user-images.githubusercontent.com/3262128/76055332-aed36e80-5fb6-11ea-8c8e-cab7abc9d875.png)

[2020-03-06 05:34] hamishwillee commented on #13567
@kashishdhal I assume you are building the master codeline?

I just tried this on a vanilla Ubuntu 18.04.4 using the setup script ubuntu.sh. All worked rather nicely.
![image](https://user-images.githubusercontent.com/5368500/76055608-3bd2f380-5fc8-11ea-853d-ab5d90a2e03e.png)

Can you put your full build output into a gist and link here. That might help @julianoes advise - I'm a bit out of my dept

[2020-03-06 05:50] kashishdhal commented on #13567
I am using the same Firware directory which was used for SITL so maybe I will create another Firmware directory and try to build again from there. If still unsuccessful, will post the code here as you asked.

[2020-03-06 07:06] SalimTerryLi commented on #14127
It seems at least one of these two calls failed.
https://github.com/PX4/Firmware/blob/4698a09b987428b5d26928935e224a47b827e77e/src/drivers/barometer/ms5611/ms5611_spi.cpp#L134-L147
@davids5 Can you please explain how to get the output of `PX4_DEBUG` here? We need those message to locate the error.

[2020-03-06 08:38] mhk4zemi opened #14309 "SITL GAZEBO fails to run WSL"
**Describe the bug**
I am using windows subsystem for Linux, installed ubuntu 18 on the windows power shell and also I have installed gazebo and firmware without any error.
Once I try to run the simulation ''make px4_sitl gazebo'' I will get the following error.

[code]

[2020-03-06 08:46] jbeyerstedt commented on #12074
Should this still be left open? Unfortunately I don't have time to fix this myself currently. And I don't really know how the whole failsafe system is supposed to work anyway. (But if you want to write tests for this, there should be a specification at some time 😉)

[2020-03-06 08:53] hardeman opened #14310 "Distance sensor drops rate at close distance in v1.10.1"
**Describe the bug**
When the distance sensor (TeraRanger Evo 60m) is placed too close to an object, the rate with the px4 reading the distance drops to 0.0Hz. This didn't occur in v1.9.2 because in v1.9.2 the rate stays at 10.0Hz.

**To Reproduce**
Steps to reproduce the behavior:
1. Use a flightcontroller (we use Pixhawk4) with PX4 v1.10.1
2. Connect TeraRanger Evo 60m trough i2c
3. Go to 'Analy

[2020-03-06 08:56] jbeyerstedt commented on #12104
@julianoes Should this still be open, because you PR is also still open?

[2020-03-06 09:18] jowaibel opened #14311 "Cannot set parameter to 0. 'Param types mismatch'"
**Describe the bug**
I'm not sure if this is a mavros or px4 issue. That's why I post it on both repos.

It probably appeared for the first time after having updated to PX4 v.1.10.1 stable. I cannot set anymore a parameter to the value 0 via the mavparam set command/service. Any other (non-zero) value works.
I tried different parameters, standard and custom ones, their type is float, for example F

[2020-03-06 10:12] hamishwillee commented on #14309
Windows subsystem for Linux is not supported by Gazebo. This has never been known to work.

You may be able to get JMAVSim working. Generally I recommend the Cygwin solution for jMAVSim, and a VM with Ubuntu if you really must have Gazebo.

[2020-03-06 10:12] #14309 closed

[2020-03-06 10:40] julianoes commented on #14293
Aha! @davids5 do you know?

[2020-03-06 10:42] julianoes commented on #13567
You need to remove the toolchain that you have installed again, probably:
[code]

[2020-03-06 10:44] mhk4zemi commented on #14309
I found the fix at this [commit](https://github.com/PX4/Firmware/commit/01818b505f898f33176bf90f9563e84942ea56cf)

[2020-03-06 10:45] julianoes commented on #12074
It sounds like it's a bug, so leave it open.

[2020-03-06 10:46] julianoes commented on #12104
Yes, still on my todo list :confused:

[2020-03-06 10:47] hamishwillee commented on #14309
So you got gazebo running under WSD?
Well done.

[2020-03-06 10:47] julianoes commented on #14311
FYI @TSC21

[2020-03-06 10:48] julianoes commented on #13607
Airsim is now compatible with lockstep, closing.

[2020-03-06 10:48] #13607 closed

[2020-03-06 11:00] mhk4zemi commented on #14309
yes

[2020-03-06 13:09] jinchengde opened #14313 "[fixed wing]nose down after mission mode"
**Describe the bug**
When I switch the flight mode from stablize to mission, the plane have a strange node down and power max immidately, I haven't see that before, and the speed is enough to level flight, but I think maybe some problem about airspeed because I haven't airspeed sensor, the speed is relate on the groundspeed from GPS.
the flight log is below:
https://logs.px4.io/plot_app?log=1a3116

[2020-03-06 13:34] davids5 commented on #14293
@stmoon What else do you have connected?

[2020-03-06 14:30] davids5 commented on #14127
@SalimTerryLi  in the driver constructor add `_debug_enabled= true;`

[2020-03-06 14:36] davids5 commented on #14127
If that does not work, then check the macros in log.h

`CXXFLAGS=-DDEBUG_BUILD make <board>`

Options are DEBUG_BUILD or TRACE_BUILD

@dagar , @hamishwillee is this documented?

[2020-03-06 14:43] FaboNo commented on #10221
@Jaeyoung-Lim in the OFFBOARD documentation, I can see that for the copter/vtol SET_POSITION_TARGET_LOCAL_NED (setpoint_position/local for Mavros) only x,y and z are used but actually the yaw is extracted from the orientation quaternion and used by the controllers.

My question is regarding the rover, do you consider only x,y and z (but I am puzzled about the usefulness of z - meaning if we set z=

[2020-03-06 14:56] Jaeyoung-Lim commented on #10221
@FaboNo Could we move this discussion into maybe discuss? This I see is more of a usage question and is not related to this issue.

The answer on z: It is simply not taken into account on the l1 controller. yaw is also not used for the rover, since it is nonholomoic it doesn't make sense to define the orientation of the system using the message.

[2020-03-06 18:01] stmoon commented on #14293
I just connected POWER, CONS, and usb (ttyACM) for test.

I use master version firmware and Pixhawk 2.1.

![image](https://user-images.githubusercontent.com/3262128/76109472-dc083700-601f-11ea-9321-83ac481933a5.png)

[2020-03-06 20:59] BazookaJoe1900 opened #14317 "wrong taged v1.7.0"
seems that commit b9fab04adbfd92783206a08364c8fea077f1ed39 has wrongly tagged as v1.7.0
the commit is few days ago....
I can't tell if there was older v1.7.0 that was removed due to this

[2020-03-06 21:01] kashishdhal commented on #13567
So when I **bash ubuntu_sim_nuttx.sh** , I get the following:

<pre><font color="#8AE234"><b>gnclab@system76-pc</b></font>:<font color="#729FCF"><b>~/Firmware2/Firmware</b></font>$ sudo bash ubuntu_sim_nuttx.sh
[sudo] password for gnclab:
Downloading dependent script &apos;ubuntu_sim.sh&apos;
--2020-03-06 14:47:16--  https://raw.githubusercontent.com/PX4/Devguide/v1.9.0/build_scripts/ubuntu_sim.sh

[2020-03-07 06:14] kashishdhal commented on #13567
Hello @julianoes  and @hamishwillee

This time, I removed  GCC compiler and also the ~/Firmware and ~/src/Firmware directory. After that I removed the path of GCC from ~/.profile. Then restarted the computer the computer. Upon cloning the Firmware directory again and running ubuntu_nuttx.sh, I got no error.

However, when I build this time, I get the following:

<pre><font color="#8AE234"><b>gncla

[2020-03-07 12:00] mzahana commented on #14103
I am still getting the same error.
* Using v1.10.1
* Did `git submodule init && git submodule update --recursive`
* `make px4_sitl gazebo`

Still getting the same error as of the time of this reply.

@TSC21 any hints?
Thanks.

[2020-03-07 14:12] jinchengde commented on #14262
maybe you could check your airspeed sensor first.
look at your flight log for airspeed
![image](https://user-images.githubusercontent.com/5361334/76144991-6011fb80-60c0-11ea-892f-4f31723d4d25.png)
I suppose the vehicle can't reach the airspeed setpoint, so stay at the stage of CLAMPED_TO_RUNWAY but can't reach TAKEOFF, but in that time, vehicle had liftoff, so the gear can not control the yaw

[2020-03-07 15:24] ryanjAA commented on #14262
Ground based speed when done in manual or stabilized can go quite a bit faster without issue. Takeoff speed is set to just above this. It’s changed out of mission because it’s too close to leaving the side of the runway. The issue is actually right when mission is initiated and you can see the wheel output go rapid. These planes have all flown many many times without issue. I’m starting to think t

[2020-03-07 15:25] LorenzMeier opened #14320 "Precision land handling in navigator not sufficiently abstracted"
The current precision land implementation is not sufficiently abstracted in Navigator and state switching that should have been done specific to the land items has been sprinkled into higher-level logic. This needs to be cleaned up.

[2020-03-07 18:17] Slimercorp opened #14321 "Ekf2: mag bias learning. Bug or feature?"
Please, to take attention on this if struct:
https://github.com/PX4/Firmware/blob/d7a9b123e6b84df4a7c01daaac64706c39abd3d7/src/modules/ekf2/ekf2_main.cpp#L1533

If conditions was met sometime, **_total_cal_time_us** increasing, okay, but when these conditions aren't met, for example, for 60 second due **control_status.flags.mag_3D == false**, and again control_status.flags.mag_3D == true, in this

[2020-03-07 20:14] kashishdhal commented on #13567
Hello @julianoes and @hamishwillee

I was successfully able to build it this time.

Here is what I was doing wrong:

1. Your bash script was downloading Firmware again into ~/src/Firmware However, I already cloned that and was working on ~/Firmware.

2. environment path for gcc is set but when you type sudo, environment variables changes and the path is not there anymore. Solution is to use sudo i

[2020-03-07 23:16] LorenzMeier commented on #8697
The MVP for this is this PR which gets enough information across to at least prevent surprises when arming: https://github.com/PX4/Firmware/pull/14322

I will work with Don / Gus on the QGC side.

[2020-03-08 07:55] jinchengde commented on #14313
I changed ASPD_PRIMARY from '''disable''' to '''Groundspeed minus windspeed''' and solve this issue.

[2020-03-08 08:02] jinchengde commented on #14313
I have a little confused about airspeed setting, current I don't use the airspeed sensor and the airspeed is depend on the groundspeed from GPS(the engine is pull up so difficult to install pitot tube)
so how about the parameter:
FW_ASPD_MODE (NORMAL(use airspeed if avaliable))
ASPD_PRIMARY(Groundspeed minus windspeed)
ASPD_DO_CHECK(0)
CBRK_AIRSPD_CHK(162128)

[2020-03-08 11:38] #14150 closed

[2020-03-08 12:02] Norton-z opened #14323 "Can't clone the Firmware with git clone https://github.com/PX4/Firmware.git --recursive"
when i run `git clone https://github.com/PX4/Firmware.git --recursive` to clone this project, i can't clone the folder "Firmware/Tools/sitl_gazebo",the error is followed:
[code]
How can i fix it ? Thanks a lot ! @LorenzMeier

[2020-03-08 13:33] LorenzMeier opened #14324 "Stack check build in CI should not be using FMUv2 target"
The target runs out of flash and RAM easily. This needs to be migrated to v5. One of the failure instances:
http://ci.px4.io:8080/blue/organizations/jenkins/PX4%2FFirmware/detail/PR-14244/3/pipeline

[2020-03-08 19:31] LorenzMeier commented on #14313
Could you send a PR for your fix?

[2020-03-08 20:20] LorenzMeier opened #14325 "NXP K66: System console drops parameters"
@igalloway @davidaroyer The K66 console drops characters, as demonstrated by this failed test:
http://ci.px4.io:8080/blue/organizations/jenkins/PX4_misc%2FFirmware-hardware/detail/pr-mavlink-ftp-filenotfound/17/pipeline

<img width="703" alt="Screen Shot 2020-03-08 at 21 11 10" src="https://user-images.githubusercontent.com/1208119/76170480-8ef0a600-6182-11ea-8422-26da930af70a.png">

The code call

[2020-03-08 21:09] LorenzMeier opened #14327 "Mission execution requires re-upload of mission between restarts"
There seems to be a condition somewhere that leads to successful arming, but not mission execution if the mission is not uploaded prior to execution, but is still on the vehicle from a previous boot. I suspect the culprit to be the initialization state of something in the navigator.

[2020-03-08 21:24] Antiheavy commented on #14327
Are you seeing that in SITL or on a real vehicle?  I’ve noticed SITL sometimes has weird reset issues where the onboard mission doesn’t seem to initialize right upon restart.  Something about in a real vehicle the mission resets from the start but in SITL it gets stuck on whatever the waypoint was Last tracking from the previous SITL session. Not sure if that is related....

[2020-03-09 05:46] jinchengde commented on #14313
@LorenzMeier
I just modify the parameter and solve the problem, but actually I don't know the root cuase for this issue, so that's why I wish to simulator the fixed wing without airspeed in gazebo.
If the plane haven't install airspeed sensor, no thread will public the topic of ```airspeed``` in uORB, but only ```airspeed_validated``` will be public to uORB by airspeed selector. I suppose that may

[2020-03-09 06:11] Sneha-hub115 opened #14328 "How to connect pixhawk with QGround control while the simulator is running."
Hi,
I’m using ubuntu18.04 to build the px4 code for gazebo and jmavsim. I’m stuck with the following issues:

    1. How to connect pixhawk with QGround control while the simulator(jMAVSim,Gazebo) is running.
    2. How to connect pixhawk with QGround control while the drone is flying.

Thank you

[2020-03-09 06:22] RomanBapst commented on #14321
@Slimercorp Yes, I think your suggestion makes sense. Do you want to create a pull request and fix it? Otherwise I will do it.

[2020-03-09 06:26] Slimercorp commented on #14321
@RomanBapst Please do it you.

[2020-03-09 09:15] FaboNo commented on #10221
@Jaeyoung-Lim yes you are right, better to move this discussion somewhere else but, sorry for that, how to move on "discuss"?

[2020-03-09 09:16] Jaeyoung-Lim commented on #10221
@FaboNo you can create a post on discuss.px4.io

[2020-03-09 09:52] Kirishikesan commented on #13547
@bys1123 , I would like to take up this issue and write a driver for the SPL06-007 High precision low cost barometer.

[2020-03-09 09:58] julianoes commented on #13567
Did you do as it tells you at the end of the script?
[code]

[2020-03-09 10:10] julianoes commented on #14327
I have seen these effects where the vehicle (I think mostly VTOL) would not take off unless I re-uploaded the mission.

[2020-03-09 11:33] bys1123 commented on #13547
@Kirishikesan That'll be awesome, do you already have this baro component?

[2020-03-09 13:11] Chris-Bee commented on #14075
Hello @dagar,
are there any updates from your side regarding this issue? We are planning to downgrade to 1.10.0 stable next week and test if the error occurs for this version as well.

[2020-03-09 15:10] dagar commented on #14075
Would you be able to quickly try master (what's going to become v1.11.0 soon)? If you're able to reproduce the failure there it might help if we can setup a call and debug together.

[2020-03-09 15:19] dagar commented on #14325
I need to piece together where we could be dropping things with the current architecture.

From `perf latency` (same nxp k66 on test rack) we can get a reasonable idea of the worst case interrupt latency.

![Screenshot from 2020-03-09 11-12-00](https://user-images.githubusercontent.com/84712/76228244-d9ac0580-61f6-11ea-8020-5493954c6dcf.png)

[2020-03-09 17:36] kashishdhal commented on #13567
Yes I did. That did not help.

After you restart your computer you get path of GCC set up in environment. But if you execute make command with sudo. You won't see that path and it will complain gcc not found.

[2020-03-09 22:55] hamishwillee commented on #14309
Thanks. Actually we did get this working once (I had forgotten). However it was too slow to be useful except when run headless: https://dev.px4.io/master/en/setup/dev_env_windows_bash_on_win.html#simulation-jmavsim

[2020-03-09 23:10] mhk4zemi commented on #14309
I manage to get the SITL-GAZEBO to work with a realtime factor of 1. for the GUI I used Xming.

[2020-03-09 23:37] LorenzMeier commented on #14309
Could you send a pull request?

[2020-03-10 01:47] hamishwillee commented on #14127
@davids5 No, news to me.

I can see in https://github.com/PX4/Firmware/blob/master/platforms/common/include/px4_platform_common/log.h that different macros are compiled in for TRACE_BUILD or DEBUG_BUILD.

I think you are saying that *somewhere* (where?) you can put a line like `CXXFLAGS=-DDEBUG_BUILD make <board>` or  `CXXFLAGS=-DTRACE_BUILD make <board>` to enable those.
- It isn't clear why the

[2020-03-10 02:22] ARob109 opened #14336 "UAVCAN DSDL submodule issue with new master branch vs legacy-v0"
The UAVCAN DSDL repository https://github.com/UAVCAN/public_regulated_data_types/tree/master deprecated the DSDL submodule version linked to in the PX4/libuavcan "px4" branch to DSDL  branch "legacy-v0". This breaks syncing submodules when trying to build the PX4 firmware.

The PX4/libuavcan "px4" branch is tracked to DSDL commit 192295c. This commit is not present in the new "master" branch for D

[2020-03-10 07:54] #14321 closed

[2020-03-10 10:48] julianoes commented on #13567
Why do you ever use sudo to build? That should not be required. And if you used it once then you will have build files owned by root, so you need to clean up with sudo before the permission errors go away.

Try:
[code]
or:
[code]
And then build without sudo again.

[2020-03-10 10:49] julianoes commented on #13012
Only initially and it still let's you execute everything, right?

[2020-03-10 14:01] bresch commented on #13408
@Antiheavy I'll mainly focus on the MC land detector, but please, share your ideas for FW; I'll keep them in mind if I need to rework the interface.

[2020-03-10 14:47] CarlOlsson commented on #14276
solved by https://github.com/PX4/Firmware/pull/14278

[2020-03-10 14:47] #14276 closed

[2020-03-10 14:47] CarlOlsson commented on #14251
solved by https://github.com/PX4/Firmware/pull/14278

[2020-03-10 14:47] #14251 closed

[2020-03-10 14:47] CarlOlsson commented on #14232
solved by https://github.com/PX4/Firmware/pull/14278

[2020-03-10 14:47] #14232 closed

[2020-03-10 14:47] CarlOlsson commented on #14223
solved by https://github.com/PX4/Firmware/pull/14278

[2020-03-10 14:47] #14223 closed

[2020-03-10 15:15] mhk4zemi commented on #14309
Sure I will do it on the weekend

[2020-03-10 16:36] Kirishikesan commented on #13547
No, I do not have it with me yet. I tried searching for those sensors locally but I could not find them. I'll get that barometer from online asap. Thank you @bys1123.

[2020-03-10 16:46] CarlOlsson opened #14349 "Preflight status reporting used when flying"
**Describe the bug**
ekf2 publishes e.g. `vehicle_local_position.v_z_valid` by checking the innovations in the PreflightChecker. The thresholds are defined here

https://github.com/PX4/Firmware/blob/master/src/modules/ekf2/Utility/PreFlightChecker.hpp#L162-L179

However, the result of these checks are not only used in preflight but also e.g. in mc_pos_ctrl and in FlightTasks. E.g. https://github.c

[2020-03-10 17:22] kashishdhal commented on #13567
I guess you are right, every time I have to access the firmware directory, I have to use sudo now. I installed Qt creater and it can only access the files when launched from terminal with sudo command.

I did that because it was not letting me make saying permission denied. So you are saying that I should clean the firmware directory using the sudo make clean and then rebuild by make px4...... and

[2020-03-10 17:52] mlaiacker opened #14350 "Steep altitude change when manually changing current mission item"
Hi,
if you change the active waypoint in Mission mode in fixed wing (not tested in copter) it will fly in a nice straight xy line to the new waypoint but will change the altitude as fast as possible towards the altitude of the newly selected waypoint instead of continuously changing the altitude.

The same happens when activating mission mode from any other mode, the plane will try to reach the al

[2020-03-10 19:47] dagar commented on #14127
We typically don't do overall debug builds because there's just too much output. When needed I usually set `-DDEBUG_BUILD` per module/driver in px4_add_module COMPILE_FLAGS (CMakeLists.txt).

[2020-03-10 20:25] davids5 commented on #14127
@dagar can you post an example changed file here?

[2020-03-10 23:20] pkocmoud opened #14354 "Fixing up support for mRo Control Zero F7"
Hi Dan and David.

**Setup:**
* Control Zero with USB cable.
* SDCard inserted

**Steps to reproduce the issue:**
* Loaded [stable/mro_ctrl-zero-f7_default.px4](http://px4-travis.s3.amazonaws.com/Firmware/stable/mro_ctrl-zero-f7_default.px4) and board boots up fine.
* Connect via QGC
* Set frame type to generic quad and reboot - board locks up in the middle of playing the startup tone.

**Output f

[2020-03-10 23:52] dagar commented on #14354
Have you tried the current state of master?

http://px4-travis.s3.amazonaws.com/Firmware/master/mro_ctrl-zero-f7_default.px4

[2020-03-10 23:53] pkocmoud commented on #14354
No but I will tonight.

Phil
________________________________
From: Daniel Agar <notifications@github.com>
Sent: Tuesday, March 10, 2020 6:52:21 PM
To: PX4/Firmware <Firmware@noreply.github.com>
Cc: Phillip Kocmoud <pkocmoud@hyper-it.com>; Author <author@noreply.github.com>
Subject: Re: [PX4/Firmware] Fixing up support for mRo Control Zero F7 (#14354)

Have you tried the current state of master?

[2020-03-11 01:13] pkocmoud commented on #14354
Master is better, no more lock up.

Console output:
[boot] Fault Log info File No 4 Length 3177 flags:0x01 state:1
[boot] Fault Log is Armed
sercon: Registering CDC/ACM serial driver
sercon: Successfully registered the CDC/ACM serial driver
HW arch: MRO_CTRL_ZERO_F7
FW git-hash: ab3670e02b195fbe477e6737138419ac51adfbab
FW version: 1.11.0 80 (17498240)
OS: NuttX
OS version: Release 8.2.0 (134349055

[2020-03-11 06:16] bys1123 opened #14361 "Latest Stable 1.10.1 can't bootup on fmuv3"
Tested with Holybro the latest stable 1.10.1 can flash on 3DR Pixhawk Mini & Holybro Pix32 w/ fmuv3 bl, but can't bootup
![image](https://user-images.githubusercontent.com/4748411/76387889-cf2e6f00-63a2-11ea-8c34-e5862232e2c7.png)

[2020-03-11 07:22] BazookaJoe1900 commented on #14317
Seemed that that fixed. closing

[2020-03-11 07:22] #14317 closed

[2020-03-11 07:56] julianoes commented on #13567
That is what I wrote above.

For other questions, please use https://discuss.px4.io or Slack, and check the docs:
https://dev.px4.io/master/en/concept/mixing.html

[2020-03-11 07:57] bys1123 opened #14362 "[Driver Request] Benewake new TF-Luna low-cost distance sensor"
Benewake released their new distance sensor TF-Luna series SJ-GU-TF-Luna A01, target drone market.
Datasheet: https://1drv.ms/b/s!AmscxcpJYtuYmTcSOcB6W16AOyF0
https://www.compotek.de/news/tf-luna-lidar-module-fuer-erkennungsapplikationen/

[2020-03-11 08:59] jarivanewijk commented on #14325
Thank you for reporting and thanks @dagar for the fix.

Our team in Eindhoven has to work at home because of the corona virus. I currently don't have an FMUK66 at home, but I can go get one later today. Let us know if there is anything we might be able to help with.

[2020-03-11 11:17] bys1123 opened #14364 "SRF02 can't look "down" now"
SRF02 is share the same parameter with MB12XX, MB12XX driver added rotation in 1.10, but it only have YAW axis setting, so it can't look down now.
![image](https://user-images.githubusercontent.com/4748411/76411528-f9952200-63cc-11ea-93a1-6074cf3e0eac.png)

[2020-03-11 13:11] davids5 commented on #14354
@pkocmoud

What else needs to be done here?

[2020-03-11 13:12] pkocmoud commented on #14354
Is there support for the AK09916 compass inside the ICM-20948

[2020-03-11 13:21] davids5 commented on #14354
@pkocmoud - I see the the AK09916 referenced in code. @dagar what is missing?

[2020-03-11 13:45] pkocmoud commented on #14354
@davids5 does it matter that the wrong MCU model number is printed during bootup?

[2020-03-11 13:47] pkocmoud commented on #14354
It seems counter productive that we lump all Invensense/TDK devices as MPU6000, that chip is obsolete and can cause confusion to if the proper device is even detected.

[2020-03-11 15:02] LucaMex commented on #14303
I don't know if that might be useful, but I've noticed (running separately px4_sitl and jmavsim) that the error occurs only (or mainly?) when the lockstep isn't used

[2020-03-11 15:56] mrpollo commented on #13366
Hey Mr stable bot, how timely of you. ⏱

[2020-03-11 15:56] #13366 closed

[2020-03-11 16:27] TSC21 opened #14366 "[RFC] Metadata uORB message"
This is an RFC for possible solution on propagating uORB metadata.

** Motivation **
While implementing time sync on the microRTPS bridge, I was able to verify that we don't have a good mechanism in the uORB msgs that allows us to properly implement protocols or algorithms that require an handshake, with identification of the parts communicating and to identify the message exchange sequences.
Cons

[2020-03-11 17:47] jkflying commented on #14366
I think frame_id is too heavy, otherwise I'm in favor of this. Right now every uorb message needs to manually have the timestamp added anyway. The seq_id I also see as being useful for knowing if we are dropping uorb messages on a client side.

The sys_id is to me the bare minimum to know who the message was sent from.

The other place for problems I see is in some places we have nested uorb messa

[2020-03-11 17:49] TSC21 commented on #14366
All nested uORB msgs will only have the header at the top level msg. That needs to be something to take into consideration and maybe have a check on the uORB generation code to verify that same part.

[2020-03-11 17:56] dagar commented on #14366
- `timestamp`: absolutely should be there and real metadata (set within uORB publication)
 - `seq`: I'd be in favor of including this as a replacement to the `uint32_t generation` that's the core of every uORB::Subscription. https://github.com/PX4/Firmware/blob/9cd8bb4f889f1cda33941a99056061b0e5d2b9bf/src/modules/uORB/Subscription.hpp#L149
 - `frame_id`: fine as long as it's optional (so not in a

[2020-03-11 18:06] dagar commented on #14366
Some uORB timestamp history. https://github.com/PX4/Firmware/pull/10178#issuecomment-411108523

[2020-03-11 18:10] TSC21 commented on #14366
Ah great didn't know that PR exists. Then we are aligned.

That sounds good to me. Although, I found an interesting detail that I missed before: https://github.com/PX4/Firmware/blob/master/msg/templates/urtps/microRTPS_transport.cpp#L234. Though I am not really sure of the value of this one, since it seems to be reset every time it gets sent.

We could created a nested header type for it for sure.

[2020-03-11 18:11] TSC21 commented on #14366
Yes I recall that. Probably a good time to do it.

[2020-03-11 18:15] TSC21 commented on #14366
For the sake of this discussion, I am going to explore more the header metadata which follows with the RTPS packets and see if they are useful enough to our use cases. I any case, I do think it's relevant that some of this metadata is useful for internal uORB messages as well.

@dagar regarding the `sys_id` being wasteful. What if we have two FMU's connected under the same network - which is total

[2020-03-11 18:40] dagar commented on #14366
My main concern is how it will impact logger. We already struggle to create ekf2 replayable logs on older systems. Adding a `seq` (moving the internal generation) will already be a lot, but I think it's worth it for subscribers and tools to better see what's happening.

[2020-03-11 19:43] kashishdhal commented on #13567
Hello @julianoes ,

I did what you said and now I am getting the following:

<pre><font color="#8AE234"><b>gnclab@system76-pc</b></font>:<font color="#729FCF"><b>~/src/Firmware</b></font>$ make px4_fmu-v4
[0/1284] git submodule src/drivers/uavcan/libuavcan
[1/1284] Generating mixer_multirotor_6dof.generated.h
FAILED: src/lib/mixer/MultirotorMixer/mixer_multirotor_6dof.generated.h
cd /home/gnclab/s

[2020-03-12 00:36] #14206 closed

[2020-03-12 02:19] pkocmoud commented on #14354
External I2C devices are not detected. Do you think this just a board config issue?

[2020-03-12 04:34] MaEtUgR commented on #13148
Is this problem still present? I'd assume this was fixed in the meantime because there were various related issues addressed e.g. accelerometer bias drifting https://github.com/PX4/ecl/pull/749, fusing height multiple times https://github.com/PX4/ecl/pull/767 and a lot more that I don't know of. The platform Holybro QAV250 with pixhawk 4 mini that I had problems with doesn't show them anymore. Ple

[2020-03-12 04:34] #13148 closed

[2020-03-12 04:44] MaEtUgR commented on #10677
Sorry that this issue went missing in the cracks. To be honest I don't consider myself IO communication or mixer configuration expert and don't have a Dodecarotor setup but I have a pixhawk 4 and can run some tests on there. Thanks a lot for all the investigations that narrow down the problem to be loading mixer configuration `/etc/mixers/dodeca_bottom_cox.aux.mix` on the IO pwm device `/dev/pwm_o

[2020-03-12 06:08] jinchengde opened #14368 "distance_sensor tfmini can't work"
**Describe the bug**
FW version 1.10.1 work good
in master , tf mini can't get the data from MAVLINK, no distance sensor
![image](https://user-images.githubusercontent.com/5361334/76492233-b12c4180-646a-11ea-96aa-1ec4554d6eaf.png)
and listener the distance_sensor
![image](https://user-images.githubusercontent.com/5361334/76492293-cef9a680-646a-11ea-9406-2155c080756b.png)
the current_distance in to

[2020-03-12 07:46] bkueng commented on #14366
So essentially what you want is MAVLink?

`timestamp` is a fixed field in ULog and cannot be moved or renamed.

I agree with @dagar, we cannot just add large headers, we're operating in a different environment compared to a companion (or where ROS runs).

[2020-03-12 09:08] moreba1 opened #14369 "feature request : Adding roll , pitch actuator to mavlink messages"
Hi

adding control[0] , control[1] for roll and pitch of fixedwing and multirotor
This will help we that display aileron and elevator percent in QGC and monitor that dont to be saturated during flight . also we can use this when we reply log for flight analysis in QGC .

![image](https://user-images.githubusercontent.com/14200369/76505210-50970780-645e-11ea-8d77-99c00c9aa510.png)

[2020-03-12 09:20] ecmnet opened #14370 "Stable 1.10.1: Takeoff after landing in AUTOLAND mode if RC throttle not down"
**Describe the bug**
A companion triggers AUTOLAND mode via the MAVLINK message MAV_CMD_NAV_LAND. RC is used. Landing is initiated, but as soon as landing is detected, control is returned to RC, which results in an immediate takeoff if the throttle stick was not pulled down.

**To Reproduce**
Steps to reproduce the behavior:
1. Initiate Landing via MAVLINK message MAV_CMD_NAV_LAND while keeping RC

[2020-03-12 10:01] TSC21 commented on #14366
No, I don't want MAVLink. And this is not what I want, it's more what we require so we can properly use the uORB API to communicate with the companion on a DDS domain.

OK. ULog could be adjusted for that and add backwards compatibility, but avoiding that trouble: is it fine for you that we could add the other fields directly to the message, instead of a separate structure?

Although the header st

[2020-03-12 10:22] Sneha-hub115 opened #14371 "How to replay the flight from logs in gazebo and jMAVSim"
Hi,
I'm using ubuntu18.04 to build the px4 code for gazebo and jmavsim. I'm stuck with the following issue:

1. How to replay the flight from logs in gazebo and jMAVSim simulators.

Thank you

[2020-03-12 10:25] Sneha-hub115 opened #14372 "How to replay the flight from logs in jMAVSim and gazebo"
Hi,
I'm using ubuntu18.04 to build the px4 code for gazebo and jmavsim. I'm stuck with the following issue:

    1. How to replay the flight from logs in gazebo and jMAVSim simulators.

Thank you

[2020-03-12 10:32] CarlOlsson opened #14373 "ekf2 replay: Do we really need relative timestamps?"
[Here](https://github.com/PX4/Firmware/pull/14114) we removed the relative timestamps for the GPS measurements, could we do the same for all other sensors?
I just replayed a 20 minute logfile two times. First with master and then with removed relative timestamps for all sensors (mag, baro, airspeed, distance sensor), I.e. in ReplayEkf2.cpp add them to `sub.ignored`.

I don't see any difference in

[2020-03-12 12:56] Mitchell-Lee-93 opened #14376 "QGC freezes if I build my modified px4 firmware with px4_fmu-v5_defualt"
Hello,

I modified the px4 code to make a flight controller for 6DOF tilting hexacopter.
The modified code had no problem with QGC when I used pixhawk2(make with 'fmu-v3_default'), but if I use pixhawk4(make with 'fmu-v5_default'), QGC freezes.

To fix it, I changed 'fmu-v5_default' to make it almost the same with 'fmu-v3_default' but still didn't worked
With some tests, I figured it out that it i

[2020-03-12 13:33] dagar commented on #14373
I'm not quite ready to propose anything, but I *think* we'll be able to drop them soon.

I'm trying to get to each `timestamp` field to be the actual publication time (with uORB), then in the case of sensor messages also include a `timestamp_sample`. With the sensor aggregation (`sensors` module or split into multiple) running in the same WQ thread as the estimator I don't see why we can't respect

[2020-03-12 16:17] Tony3dr commented on #13148
@MaEtUgR the issue can be closed, we haven't seen this issue anymore. Thanks for all the helop!

[2020-03-12 16:29] TSC21 commented on #14303
This is a real issue not only in jMAVSim but also in Gazebo. It can also be reproduced in the Solo for example.

[2020-03-12 16:57] MaEtUgR commented on #14303
I was running lockstep with the normal linux setup.

[2020-03-12 18:12] dagar opened #14381 "px4_fmu-v2_default VTOL upgrade handling"
Due to flash constraints we had to comment out the VTOL controller from px4_fmu-v2_default builds (https://github.com/PX4/Firmware/pull/14342). We need to add logic at some level to notify any potential users.

[2020-03-12 18:53] #13731 closed

[2020-03-12 21:32] hamishwillee commented on #14381
We should also add docs update to this effect.
- Will VTOL airframes still show up for FMUv2 boards? If not, we could add a note to https://docs.px4.io/master/en/config/airframe.html
- What _exactly_ should users do if they want to use VTOL on an FMUv2 board?

We might:
- Update the first introduction to FC boards with this info https://docs.px4.io/master/en/getting_started/flight_controller_selec

[2020-03-12 22:16] #14371 closed

[2020-03-12 22:16] #14372 closed

[2020-03-13 08:14] ecmnet commented on #14370
Issue was on companion#s side.

[2020-03-13 08:14] #14370 closed

[2020-03-13 09:21] BazookaJoe1900 opened #14385 "Proposal - use enum on uorb"
**Describe problem solved by the proposed feature**
uorb can't use enum as type for its fields. by using, some issues that can be fixed:
* tighter type protections
* less duplication of similar types between uorb messages, Mavlink messages, and c Types
* less needs of conversions

**Describe your preferred solution**
It can be solved by few ways:
**1) declare the enum on the urob.msg file, somethi

[2020-03-13 09:47] nicht762 opened #14387 "PX4 micrortps_client works only at /dev/ttyACM0"
Hello guys! Sorry fo my English

**Describe the bug**
When I'm starting micrortps_client at /dev/ttyACM0 port on my Pixhawk 4 mini connected via microUSB-USB cable to my PC it works good - I can see information in ROS2. But when I'm starting micrortps_client at /dev/ttyS1 port (TELEM 1) - I have only bad CRC errors in micrortps_agent and can not see any information in ROS2.

**To Reproduce**
Steps

[2020-03-13 15:40] mysaurabh96 opened #14388 "ERROR: Bootloader reports invalid operation"
While uploading px4_fmu-v3 in pixhawk its shows ERROR: Bootloader reports invalid operation.

What is the cause of this notification? Why I cant flash firmware that I have build?

[2020-03-13 16:31] dagar commented on #14385
I'm all for this if we can find a way to transition.

[2020-03-13 18:01] BazookaJoe1900 commented on #14385
@dagar I can start to do proof of concept, which direction you prefer? 1st? 2nd? other notes?

[2020-03-13 18:06] saumilss2 commented on #10677
Hey Matthias,
Thank you so much for looking more into this.
**/etc/mixers/dodeca_bottom_cox.aux.mix** mixer file loads just fine on
PX4IO pwm device, **/dev/pwm_output0**, but it is a struggle to load the same mixer file on
PX4FMU aux pwm device, **/dev/pwm_output1**
Very bizarre.

[2020-03-13 18:08] dagar commented on #14385
Option 1 if possible, but that gets into message generation compatibility issues (ROS2, etc).
https://github.com/PX4/px4_msgs
https://github.com/PX4/px4_ros_com

@TSC21 any idea if we could start doing proper enums in messages?

[2020-03-13 18:11] TSC21 commented on #14385
If you are willing to update the IDL template (https://github.com/PX4/Firmware/blob/master/msg/templates/urtps/msg.idl.em) to properly handle the enumeration parsing, then I am fine with any option :)

[2020-03-13 18:42] TSC21 commented on #14385
Ah that's one way of the pipeline. Because the other way around would mean that whatever is parsed on the RTPS bridge needs to be converted back to the enumeration structure that is being proposed. I don't see an easy way of doing that. uORB as is is quite well suited to be parsed to ROS/RTPS msgs and back.

[2020-03-13 19:45] BazookaJoe1900 commented on #14385
@dagar what did you mean by etc? what other generator there are except for ROS2?
using enum while writing and reading uorb doesn't necessarily means that all the other writing and readers need that enum.
It can be build step by step (I think...)

[2020-03-13 19:55] dagar commented on #14385
I mean ROS2 overall, but it's all the different pieces that would need to properly support the change. Things like genmsg_cpp, https://github.com/PX4/px4_msgs, ROS2 actually supporting enums.

[2020-03-13 22:06] TSC21 commented on #10511
This is already in place on the MAVSDK tests. Closing

[2020-03-13 22:06] #10511 closed

[2020-03-14 10:16] davids5 commented on #14127
@hamishwillee

Here is an example provided by @dagar Please add an explanation it to docs.

![image](https://user-images.githubusercontent.com/1945821/76679958-0a4ac100-65a2-11ea-88a9-2a10c6d2b12f.png)

[2020-03-14 14:47] akshatpandya commented on #12810
Hi @lguanrui can you tell how did you remove OSRF sources? I'm getting a similar error.

[2020-03-14 15:41] kefey6ecb opened #14390 "MS5803 driver for water pressure/depth measurement."
Hello. I'm new to pixhawk development. Now I'm working on a project which is quick similar to the unmanned underwater vehicle called 'HippoCampus'. I would like to utilize MS5803-14bar as a pressure sensor to measure the water pressure, and convert the pressure reading to the depth of the vehicle. I found the ms5803 driver from repo of HippoCampus, which is this [https://github.com/EugenSol/HippoC

[2020-03-15 21:14] shrit commented on #12590
Keep open

[2020-03-16 04:53] hamishwillee commented on #14127
@davids5 Since I know very little about this topic I can't help feeling you'd do a better job of this.

But here goes. Additional questions:
1. So what is the default kind of build for modules? RELEASE_BUILD?
2. Proposal is to add a heading in [logging](http://dev.px4.io/master/en/log/logging.html) topic called "Verbose Logging"? Something like the below OK?

---

## Verbose Logging

Modules outpu

[2020-03-16 09:10] bkueng commented on #14390
Hi. Yes that should work. You'll also need to add it to the startup script: https://github.com/PX4/Firmware/blob/master/boards/px4/fmu-v3/init/rc.board_sensors.

[2020-03-16 09:59] kefey6ecb commented on #14390
Thank you @bkueng ! I connect MS5803 through I2C Bus.  In rc.board_sensors file, I found the codes below
`# External I2C bus
hmc5883 -C -T -X start
lis3mdl -X start
ist8310 -C start
qmc5883 -X start`

What are -C, -T and -X indicated? How can I write the code to initialize ms5803?

[2020-03-16 10:01] kefey6ecb commented on #14390
Dear @DanielDuecker, What do you think regarding to this topic?

[2020-03-16 10:52] cyrili opened #14400 "cross compilation for navio2 no longer works"
**Describe the bug**
cross-compiling px4 for navio2 on my ubuntu 18lts pc fails. this issue only appears with the current master branch (v1.10.1 works fine).

"make emlid_navio2_cross" and "make emlid_navio2_native" dont exist anymore apparently, and there is now only "make emlid_navio2" which does not work for cross compilation but does work for native compilation. ([this ](https://github.com/PX4

[2020-03-16 13:59] davids5 commented on #14127
For a definitive answer you have to check the log on the build server and on a dev box and see what Cmake reports.

@dagar would you fill in the blanks from the Cmake type to what flag xxxx_BUILD get added to the
build.

@hamishwillee - I think we need to share what works and will work for a developer. So unless you test what you are proposing, I would only share the info in a "driver debugging" s

[2020-03-16 14:20] SalimTerryLi commented on #14400
Oh, that isn't what you think of. Just because the toolchain provided by RPi official repo is out-of-date.
Documents have been updated on the master branch. Please refer to [here](http://dev.px4.io/master/en/setup/dev_env_linux_ubuntu.html)

[2020-03-16 14:52] navioglider commented on #14400
oh crap, now i see that i was on the outdated wiki. damn google sent me to the wrong page.. thanks a lot

[2020-03-16 15:03] cyrili commented on #14400
oh crap.. i didn't see that i was on the wiki for the older version. damn google for sending me there.. thanks a lot, now it compiles!

[2020-03-16 15:16] SalimTerryLi commented on #14400
Congratulations. And don't forget to close this issue :)

[2020-03-16 15:49] #14400 closed

[2020-03-16 17:35] mrpollo opened #14402 "v1.11.0 Release Notes"
# v1.11 Release Notes

Following the great stability improvements on v1.10, the PX4 team is preparing for a new release which will see lots of quality of life improvements, as well as internal robustness in the system architecture to allow for easier board configuration.

# Release Notes
## Highlights
* Major sensor calibration improvements ([Gyro](https://github.com/PX4/Firmware/pull/13632), [Mag

[2020-03-16 23:42] brianthelion commented on #14400
@SalimTerryLi Please note however that the documentation has not been updated for the [native build](https://dev.px4.io/master/en/setup/building_px4.html#native-build).

[code]

[2020-03-16 23:54] hamishwillee commented on #13719
This needs to stay alive. Just got to find time for it.

[2020-03-17 07:56] DanielDuecker commented on #14390
Hi @kefey6ecb ,
those  are parameters (e.g. mounting rotation etc)  when starting the sensor
Check this out, as an example for a magnetometer https://github.com/PX4/Firmware/blob/9275937b4403b5614f8730db9f916a06355cf563/src/drivers/magnetometer/hmc5883/hmc5883_main.cpp#L318

I don't think you need any of those for the moment. However, Eugen's implementation is quite old, we are currently updating/

[2020-03-17 08:10] bresch commented on #14402
I'm not exactly sure what should go under "Highlights". Shouldn't be the "overall best improvements and new features" ?
Enable RC-Override in Take-off (PR #14022) and Pre-flight check: Disable mag field strengh check via parameter (COM_ARM_MAG_STR) (PR #13766) are minor modifications and shouldn't be here.

Other comments:

EKF-**GSF**

**Navigator** improvements

https://github.com/PX4/Firmware/p

[2020-03-17 08:24] hamishwillee commented on #14127
Thanks @davids5 . Fair enough, driver stuff in https://github.com/PX4/Devguide/pull/976 - please sanity check.

If you want the broader information please add it to the docs yourself and I can subedit.

[2020-03-17 14:00] jinger26 commented on #14402
Is "Computer Vision & Autonomy" redundant to "PX4/Avoidance"?

[2020-03-17 14:27] felix-west commented on #14171
Ok so after a month I almost have to give up on this project because it seems my use case is not supported at all. Since I only have local coordinates to work with, precision landing does not work correctly. First of all, without changing the firmware code it does not go into this mode at all. To go into this despite that, I commented out the requirement for valid GPS coordinates in the state mach

[2020-03-17 15:35] owner01 opened #14407 "linux_pwm_out does not compile"
**Describe the bug**
When compiling PX4 with -Werror=cast-function-type an error is thrown for line 470:
(px4_main_t)&task_main_trampoline,

The following explantation is given by the compiler:
cast between incompatible function types from 'void (*)(int, char**)' to 'px4_main_t' {aka 'int (*)(int, char**)'} [-Werror=cast-function-type]

**To Reproduce**
Compile the code

**Expected behavior**
PX4

[2020-03-17 15:38] #14407 closed

[2020-03-17 17:28] mrpollo commented on #14402
Thanks for the edits @bresch, please let me know if the changes work for you.

@jinger26 Yes. A remnant of the last release notes, not sure I remember what was going on there right now. Take a look `->` [PX4 v1.10.0](https://github.com/PX4/Firmware/releases/tag/v1.10.0). It's gone now, thank you.

[2020-03-17 21:28] vwueest commented on #14189
Having the same problem. @shrit  I tried to checkout the commit you mentioned, but I get
`fatal: reference is not a tree: 0e43ddafa0c70a190a9080c17c9540d8f7ab5261`
I also compared the sitl_gazebo from PX4 1.9.2 (which was released before the commit you sent) with the current one, but the `plane.sdf` file is the same.
Do you have a suggestion on work around or how to fix it? The simulation slow dow

[2020-03-17 22:10] shrit commented on #14189
@vwueest I do not know why you have this error, but you need to checkout this commit from inside the submodules (you have to go inside sitl_gazebo and checkout the commit), not in the PX4 firmware.
After that, you commit the detached head and create your own branch to save this commit.
Finally, at the PX4 git level, you create a new branch, add the new submodules commit and then recompile the enti

[2020-03-17 22:15] shrit commented on #14189
Relevant ticket: https://github.com/PX4/Firmware/issues/12975
A closely related issue still open :+1:
@julianoes if you have an idea where I can start debugging I can work on a pull request.

[2020-03-18 03:00] james-modalai commented on #11970
Bringing this back from the dead. We are trying to get relocalization via loop-closure and fiducial markers working and sure enough I find PX4 ignores this field after getting everything else working. Any pointers would be appreciated as I evaluate what it would take to implement this.

[2020-03-18 13:41] bresch commented on #12886
To me, it still makes sense to add an optional D term for the pitch axis

[2020-03-18 14:13] BazookaJoe1900 commented on #12855
@davids5 , its look like dead end.
what do you say, maybe, at least to remove the warning? or say that 0xfd is unknown, but in the list?

[2020-03-18 17:24] shrit commented on #12975
Keep open as the issue is still not resolved

[2020-03-19 05:36] hamishwillee commented on #14381
@mrpollo The release notes indicated this would be going into 1.11 - is that the case? If so, it would be nice if you someone (@dagar ?) could answer the questions in https://github.com/PX4/Firmware/issues/14381#issuecomment-598427618 -

Bit pointless for me to spend the time building and testing this when someone in the conversation could spend 45 seconds telling me.

[2020-03-19 06:18] priseborough opened #14422 "Logs are unable to be used by the ekf2 replay facility"
To replicate the fault:

1) Use 'make px4_sitl jmavsim' to start the multicopter flight simulator
2) Command a takeoff using 'commander takeoff' from the console
3) Wait for the comms failsafe to land the vehicle, disarm and close the logfile.
4) Follow the instructions here https://dev.px4.io/v1.9.0/en/debug/system_wide_replay.html#ekf2-replay to run the replay using the file generated by the SIT

[2020-03-19 07:14] felix-west commented on #14171
A quick update, I finally found the culprit of my issues. It was in fact a the function in the precision landing horizontal approach state for calculating the new setpoint position. When removing "map_projection_reproject(...)" and replacing that with my own function to calculate new setpoints it seems to work now.

[2020-03-19 07:14] #14171 closed

[2020-03-19 08:53] priseborough commented on #14422
This is a SITL log from the first commit that is unable to be used for a ekf2 replay: https://logs.px4.io/plot_app?log=31d6f586-0a03-4ed0-aff0-5ec396c8315d

This is a SITL log from the first commit that is able to be used for a ekf2 replay:
https://logs.px4.io/plot_app?log=aa2f145e-3b80-466c-b6a8-810fdf8451ae

These will be useful to see if there are any obvious differences

[2020-03-19 09:10] priseborough commented on #14422
There is nothing between them wrt sensor timestamp and timestamp_relative messages and the same sensor data fields are there for both as far as I can see.

[2020-03-19 10:26] NAmmann commented on #13962
I observed a similar behaviour:
Drone should do a mission with auto takeoff and then do a simple waypoint mission. But after takeoff the drone stops ascending after approximately one meter and starts hovering with the message from QGC: "Autonomy off! Returned control to pilot". The logs are [here](https://logs.px4.io/plot_app?log=78efda62-412f-4838-bc8d-fcf42e4eb870).
You will see that it is a sel

[2020-03-19 11:02] RomanBapst opened #14426 "VTOL backtransition acceptance radius bug"
Please have a look at the simple mission shown in the picture below.
The mission consists of the following items:
1) Vtol takeoff
2) Waypoint
3) Transition to Hover
4) Land

The expectation is that the vehicle finishes the transition to hover just when it reaches the transition waypoint (3) which shares the position of the previous waypoint(2). (QGC ties the transition waypoint and the previous wa

[2020-03-19 11:03] RomanBapst commented on #14426
@dagar Do you still remember how this used to work?

[2020-03-19 11:10] MaEtUgR commented on #13962
@NAmmann Based on the message you get that's a different trigger: "Autonomy off! Returned control to pilot" tells you that the joystick was moved while the drone was flying autonomously and hence the pilot is now back in control. Please check if you have a remote or joystick or QGC virtual joystick connected and moving a stick to trigger this. If you want to disable this feature set parameter http

[2020-03-19 11:16] MaEtUgR commented on #13962
@bresch Could this be related? https://github.com/PX4/Firmware/issues/13751

[2020-03-19 12:36] bresch commented on #13962
@MaEtUgR Could be, yes. I've also seen that: https://github.com/PX4/Firmware/issues/12264

[2020-03-19 15:28] dagar commented on #14422
Possible culprits.
 - uORB changes https://github.com/PX4/Firmware/pull/14106
 - `vehicle_air_data` additional fields added https://github.com/PX4/Firmware/pull/14096

[2020-03-19 15:57] dominiknatter commented on #14165
btw we didn't figure out what caused the spikes in the optical flow messages. However, it seems that these spikes make the EKF2 stop using optical flow at all (hence the afterwards constant innovations I guess), so we stopped the EKF2 from incorporating faulty data. With a quite hacky workaround we just ignore messages with too high integration timespans (we determined 1 second as a threshold) her

[2020-03-19 20:21] MuhammadBilal1 opened #14430 "make px4_sitl gazebo --> c++: internal compiler error: Killed (program cc1plus)"
**Describe the bug**
I am trying to build the code of PX4 that I got from [here](https://github.com/PX4/Firmware.git). After running the "make px4_sitl gazebo" command in terminal, I am getting the below issue of "internal compiler error:"

**OS:** Ubuntu 18.04.04 x64 inside a VMWare environment.

My main objective is to connect Gazebo with QGroundControl, but getting hurdles while setting up the

[2020-03-20 05:32] 473867143 commented on #14368
My TFMiNi can work well.
To reproduce:
1. take a newly flashed Pixhawk4 board with PX4 1.10.0 stable
2. Plug TFMiNi LIDAR to Serial 4 port (UART &I2CB)
3. Connect the board to USB
4. Launch QGC, set SENS_TFMINI_CFG to 'TELEM/SERIAL 4 ', and set EKF2_HGT_MODE to 'Range sensor',finaly reboot the board.
5. Open analyze widget, the distance sensor variable will be present.

![image](https://user-image

[2020-03-20 09:42] bkueng commented on #14422
@priseborough I found the problem and fixed it in https://github.com/PX4/Firmware/pull/14435. Can you quickly test it as well?

[2020-03-20 10:01] bresch commented on #14165
@dominiknatter I think we could add that logic to ignore the samples with too large integration time span. Could you open a PR to PX4/Firmware with the modification that works for you please?

[2020-03-20 10:16] julianoes commented on #13567
It looks like your Python or Pip installation is screwed up.

Please paste the output of these commands:
[code]

[2020-03-20 10:21] #14422 closed

[2020-03-20 10:23] bavokn opened #14436 "Multi-Vehicle Simulation with Gazebo using SDF, can only control first drone."
Hi, i'm trying to spawn multiple PX4's with a depth camera and a lidar but i can only control the first drone spawned. I use some custom scripts to setup and start gazebo in a docker container and generate a .launch file.

first I start the simulation in a container using a script

[code]

then in the container I generate the launch file for n drones

[code]

for example 3 drones generates this la

[2020-03-20 10:52] julianoes commented on #13667
No follow up, closing.

[2020-03-20 10:53] julianoes commented on #13688
No follow up, closing.

[2020-03-20 10:53] #13688 closed

[2020-03-20 10:53] julianoes commented on #11282
Closing, please re-open if this is still an issue.

[2020-03-20 10:53] #11282 closed

[2020-03-20 10:54] julianoes commented on #13754
Closing as there was no follow-up.

[2020-03-20 10:54] #13754 closed

[2020-03-20 10:54] julianoes commented on #13724
Anyone there?

[2020-03-20 10:54] #13724 closed

[2020-03-20 10:55] julianoes commented on #12810
Please don't necro bump. And the tinyxml2 linking issue should be resolved if you do `brew upgrade` and `make clean`

[2020-03-20 11:21] davids5 commented on #11282
I tested this with a resent master. With no issue. @jarivanewijk does the unit in question have the latest bootloader?

[2020-03-20 13:47] julianoes opened #14439 "Pixracer MAVLink over USB not working anymore"
**Describe the bug**
As soon as a airframe is configured for Pixracer, MAVLink ovre USB does not seem to be working anymore.

**To Reproduce**
1. Flash Pixracer
2. `param reset`
3. Choose airframe or do `param set SYS_AUTOSTART 4001`
4. Reboot and try to connect

**Log Files and Screenshots**

[code]

[2020-03-20 13:50] LorenzMeier commented on #14439
Can you run

```mavlink boot_complete```

And see if that fixes it? If it does, then that is NOT the problem (!), but merely a hint that the boot got aborted in the rcS and you need to find the location where the boot aborted.

[2020-03-20 13:55] julianoes commented on #14439
On Pixhawk 4 it is erratic as well. Sometimes it connects, sometimes it does not. `mavlink boot_complete` does not fix it.

Probably it's yet another USB hub or USB cable problem.

[2020-03-20 14:00] julianoes commented on #14439
Ok, it seems to be one faulty port on the D-Link USB hub :man_facepalming:.

[2020-03-20 14:00] #14439 closed

[2020-03-20 15:59] julianoes opened #14440 "PX4 SITL build broken with Ubuntu 16.04"
As raised on Slack (https://px4.slack.com/archives/C0V533X4N/p1584707186358400), the build with Ubuntu 16.04 seems to fail:

I was able to reproduce this on master inside docker.

[code]

[2020-03-20 16:20] airmind opened #14442 "Defect in new MPU9250 driver breaks mpu6500 calibration process"
**Describe the bug**
The new MPU9250 driver (> v1.10.0) missed detection of '_whoami' flag for 9250 & 6500, thus registered a false mag device class path even for mpu6500 chip who actually does not have a mag component, and this false mag device then in turn messed up the devid list(in mag_calibration.cpp), and fail the logic in mag calibration part of code.

Previous version of driver has this de

[2020-03-20 16:29] TSC21 commented on #14440
Shouldn't this be using `PX4_ISFINITE()`?

[2020-03-20 17:11] dusan19 commented on #14440
it compiles with that simple change

[2020-03-20 17:31] dakejahl opened #14445 "[question] Mavlink GPS"
Why do we use `vehicle_gps_position` in mavlink? This means mavlink is sending the data from the first GPS it finds rather than the blended solution from the EKF (`ekf_gps_position`)

[2020-03-20 17:35] Antiheavy commented on #14445
seems you'd want both.

[2020-03-20 17:41] dakejahl commented on #14445
Do you though? Maybe if `ekf_gps_position` isn't available it would send the first gps, but if the ekf solution is available I'd think you'd only care about that.

[2020-03-20 17:43] JacobCrabill commented on #14445
Right, in your GCS you'd like to see the GPS data that the controller is actually using; I suppose some extra handling of multiple GPSs could be done on the GCS side but that would be more work than simply sending the "correct" GPS data.

[2020-03-20 18:00] BazookaJoe1900 commented on #14385
First draft for the proposal:
https://github.com/BazookaJoe1900/genmsg/tree/enums
https://github.com/BazookaJoe1900/Firmware/tree/pr-uob_enums

What was implemented there is the ability to define enums inside the uorb message file in this syntax:
https://github.com/BazookaJoe1900/Firmware/blob/4bc496d59e223ad4b4cd8b9d84973a8b8e7d659a/msg/vehicle_command.msg#L83:L90

currently I implemented that on

[2020-03-20 18:01] Antiheavy commented on #14445
Not to jump onto this issue, but there QGC issues might be related to this topic:
https://github.com/mavlink/qgroundcontrol/issues/6811
https://github.com/mavlink/qgroundcontrol/issues/6871

[2020-03-20 18:06] Antiheavy commented on #14445
I'd advocate to send all the data and let the GCS implementation decide how to best present the information for the particular use case.  A super simple, easy to use drone, might want to only use the combined EKF solution.  A more advanced drone might want to present more information of how different parts of the system are performing, or not performing for troubleshooting.

[2020-03-20 18:10] dakejahl commented on #14445
to play devils advocate.... I don't think we should send any more data than we need onto our already bandwidth constrained link

[2020-03-20 18:14] TSC21 commented on #14385
I warn again that this change will not be properly supported in `px4_msgs` and on the microRTPS/ROS2 side, unless the proper handlers and parsing is done.

[2020-03-20 18:15] JacobCrabill commented on #14445
Yeah I would argue that if you need all that extra sensor data, use the binary logs on the SD card.  Perhaps an option to enable multi-GPS streaming from PX4 would be nice for high-bandwidth links (or to a companion computer), but the default should just be to send all basic data that goes into the EKF.