[2017-05-08 09:02] MaEtUgR commented on #7051
@svpcom if you hit the limits and in which cases heavily depends on your entire setup including vehicle size, actuation and also controller tuning. But while developing I would always expect to hit the limit because it will happen especially when you tune for high performance.

@LorenzMeier I don't see why such discontinuities would make sense if the input to the mixer is pretty smooth. The mixer

[2017-05-08 13:29] AliSiddiqui4 commented on #6408
@dennisss I tried your solution, following the steps I tried to make build. First I got the erro to update CMake , after resolving that I got error to update BOOST and after removing all my packages I update boost to 1.55 I am still getting this error:

[code]

[2017-05-08 14:06] dennisss commented on #6408
@AliSiddiqui4 assuming you are on Ubuntu, you can try doing `sudo apt-get install libboost-random-dev` or with `libboost-random1.55-dev`. If that doesn't work, let me know which version of the OS you are on.

[2017-05-08 14:34] AliSiddiqui4 commented on #6408
@dennisss ok that helped but I am getting another error now:

`mkdir -p build
rm -f config/gazebo/models/x340/x340.sdf
cd build; cmake ..; make
-- Boost version: 1.55.0
-- Found the following Boost libraries:
--   system
--   filesystem
CMake Error at cmake/FindEigen3.cmake:39 (file):
  file failed to open for reading (No such file or directory):

    /usr/include/eigen3/Eigen/src/Core/util/Macros

[2017-05-08 14:41] dennisss commented on #6408
@AliSiddiqui4  please see https://github.com/dennisss/tansa/blob/master/config/docker/dev/Dockerfile for a full list of all the commands we use to install our system (Ignoring the RUN at the start of each line). There's a lot more in there than you probably need. I think you just need to do `sudo apt-get install libeigen3-dev libcgal-dev`

[2017-05-08 14:51] AliSiddiqui4 commented on #6408
@dennisss I am using ubuntu 14.04 maybe that's the problem. I can upgrade it but can you please elaborate on what this Swarm solution is? Can I easily simulate Swarm of Quads in Gazebo using it and write code for pattern formation and obstacle avoidance for it?

[2017-05-08 15:02] dennisss commented on #6408
@AliSiddiqui4 I don't see why it wouldn't work on 14.04, if you use the same list of dependencies I don't think that much has changed between that and 16.04.

The spawning of models in gazebo is fairly easy with that example code. We have our own not yet well documented drivers for formation flight, although just about any other tool would work once they are spawned into gazebo. Similarly to sitl_

[2017-05-08 15:15] tstellanova opened #7202 "Multicopter flyaway during AUTO LAND, resulting in crash"
Log here: http://logs.uaventure.com/view/Zqps3y3ZWeMmfXezj8GfCa

- Pixhawk 2.4 configured to RTL and land on RC loss
- Vehicle was switched into position hold
- RC transmitter turned off (intentionally)
- Pixhawk began RTL sequence but paused over Home at safe RTL altitude
- After waiting for vehicle to descend, vehicle continued to slowly ascend
- To avoid flyaway, vehicle was emergency disarmed

[2017-05-08 15:53] paan2097 commented on #6408
@dennisss Could you advise on how to add support for planes?

[2017-05-08 15:54] dagar commented on #7202
@tstellanova can you tell us the closest PX4 commit?

@Stifael @MaEtUgR could you take a look at this MC flyaway in AUTO LAND?

![image](https://cloud.githubusercontent.com/assets/84712/25812624/e2958128-33e4-11e7-8540-17a92982ee34.png)

[2017-05-08 16:11] dennisss commented on #6408
@paan2097 the only thing vehicle type specific is the rcS and sdf files. In my code I specify them in main.cpp

rcS file:
Pick an example such as one of these (https://github.com/PX4/Firmware/tree/master/posix-configs/SITL/init/ekf2) and template it so that it has the _MAINPORT_ syntax like (https://github.com/dennisss/tansa/blob/master/config/models/x340/rcS)

sdf file: these are a little bit mor

[2017-05-08 18:52] dagar commented on #7193
Why are you checking out these particular old stable versions? You can ignore all of these conflicts (reset or stash).
On the command line you'd just add force (git checkout -f v1.4.1), then do `make distclean` which will update all the submodules and get rid of old build artifacts.

[2017-05-08 18:52] #7193 closed

[2017-05-08 18:53] dagar commented on #7198
Are you able to connect a console and see where it's getting stuck?

[2017-05-08 18:55] dagar commented on #7184
Which version of Ubuntu is this? Did you follow these instructions? https://dev.px4.io/en/setup/dev_env_linux.html

Make sure you install all the packages, reboot to make sure $PATH is updated, then start with a clean PX4 repo. `make distclean`

[2017-05-08 18:55] #7184 closed

[2017-05-08 18:56] dagar commented on #7184
Please ask on http://discuss.px4.io/ or https://gitter.im/PX4/Firmware if you continue to have issues.

If you find the documentation is out of date or missing something it would be awesome if you could help fix it here. https://github.com/PX4/devguide

[2017-05-08 19:02] dagar commented on #7196
In general we should try to make it possible to perform all calibrations solo (not having to watch the screen). Things like feedback for starting and finishing a side, but also a negative tone if you accidentally repeat.
What about QGC audio?

[2017-05-08 20:29] LorenzMeier opened #7203 "Fix use of the copy constructor and initialization"
IIRC we are using in a number of places the copy constructor to assign an empty object. That's not super efficient and should be changed.

We also initialize fields in many places where they do not need this, resulting in excessive overhead. This is in particular true in the MAVLink app.

[2017-05-08 21:37] dagar commented on #7203
If you point out the copy constructor abuse we could temporarily (or permanently) disable it to catch all the instances.

For orb_copy we could try to make more use of the Subscription class to discourage this pattern. For mavlink we might also want to look at sharing the objects.

The problem is automatically catching the initialization cases that actually matter. The static analysis tools apply

[2017-05-08 22:24] mzahana commented on #7140
@izhanghui is there any updates on this?

[2017-05-08 22:24] paan2097 commented on #6408
@dennisss Thanks! Adding the sdf and rcS-like plane files in the same locations along with altering the mavlink linkes in rcS and adding two mavlink_udp_port likes form the sdf got it to work. Thanks!

[2017-05-09 02:34] see3peoh commented on #4610
This would be awesome for heavy takeoffs. I'm out of town for awhile but would definitely be willing to help. This would be really useful!

[2017-05-09 05:28] tstellanova commented on #7202
Closest commit would be 4a36a806ded2d4fc79c52dc3cc7f12938567e4a9
Thanks for taking a look...

[2017-05-09 09:01] MaEtUgR commented on #6355
I think https://github.com/PX4/Firmware/commit/34080be68bb9fee0b67c1e868cb024515bfbd486 was the fix for the big spike when switching mode.

[2017-05-09 09:11] MaEtUgR commented on #4221
@AndreasAntener Thanks, don't worry I will follow up on my proposal in a nicer way (pr) 😃

[2017-05-09 10:01] #7191 closed

[2017-05-09 10:35] AliSiddiqui4 commented on #6408
@dennisss I have built everything but stll unable to run the simulation:
[code]

[2017-05-09 10:59] MaEtUgR commented on #7051
@svpcom I tried to reproduce the problem on current stable and master without success. I used a pixracer and defualt parameters (which you also had in your log for the attitude controller). I managed to get it into the limits but with a rather smooth input I could not get any extreme discontinuities like you had.

I could not find out what version you used from the log because the commit hash af8f

[2017-05-09 11:07] svpcom commented on #7051
@MaEtUgR  My version is a current stable branch with small fixes related to mavlink stream (https://github.com/svpcom/Firmware/tree/eval_stable). I'll retest this issue with current master today.

[2017-05-09 11:09] MaEtUgR commented on #7051
Ok, thanks 👍

[2017-05-09 11:19] MaEtUgR commented on #7051
@svpcom Ah maybe I found it. On the current stable when I rotated in roll like you did there is a spike and when I go back again there is one in the opposite direction. Is this the same? Did you intentionally switch back and forth between the two states for your log to get these numerous steps?
![mixer-bug](https://cloud.githubusercontent.com/assets/4668506/25848298/0a313c7e-34ba-11e7-8b45-47887e6

[2017-05-09 11:24] dennisss commented on #6408
@AliSiddiqui4 not sure why the make target isn't being recognized. You can try bypassing it and just running `./scripts/start_gazebo.sh` to start the simulator

[2017-05-09 11:39] svpcom commented on #7051
@MaEtUgR In my case these were continuous oscillations (from min to max) when i hold a copter with roll ~45deg left. My setup was pixhawk v2.4.6 (EKF2 mode) + SF11/c lidar.

[2017-05-09 14:20] MaEtUgR commented on #4819
I think @Stifael found the root cause for the problem I explained earlier (https://github.com/PX4/Firmware/issues/4819#issuecomment-297688753). The glitch always happens when you switch from manual to auto, the navigator and mc_pos_controller are out of sync at the beginning which could lead to this spike. Maybe you can test after we have a fix.

[2017-05-09 15:33] mago3421 commented on #6408
@dennisss Thanks for providing this script. I have successfully instanced two planes. I'm not trying to connect to each plane to control it with Dronekit scripts. However, I do not know what the IP and port numbers would be for the connection strings to each plane. I've tried local loopback and my localhost addresses with both 14550 and 14560 but I get a timeout on dronekit. I also ran sockstat on

[2017-05-09 16:38] dennisss commented on #6408
@mago3421 the ports are configured for an instance right here (https://github.com/dennisss/tansa/blob/master/scripts/start_instance.sh#L25) to be 14550 and 14560, and that's what has been working for me on localhost. Each instance spits out error logs into `tmp/vehicle_X` directory, so please confirm that there are no errors being reported there. I sometimes get the issue that the firmware is not

[2017-05-09 17:10] paan2097 commented on #6408
@dennisss So I copied over the plane sdf and rcS file and transfered the MAINPORT lines. but the two instances stop on Please start the flight simulator to proceed, even though I'm running make runSim and ./spawner and see the two planes in gazebo. I noticed there is plugins in the x340_base.xacro file, do you know what other files i need to incorporate?

[2017-05-09 17:14] mago3421 commented on #6408
@dennisss Both error logs are empty. Do you use any particular options in Dronekit's connect call?

[2017-05-09 17:53] tubeme commented on #7140
3 months ago I tried forwarding some rc to aux with regular Pixhawk fmuv2 and it did not work as well... The issue I posted https://github.com/PX4/Firmware/issues/6827. There might be some more basic problem with the mixer...

[2017-05-09 20:52] LorenzMeier opened #7206 "Inspect v1.6 flight log"
bad flight: unexpected 3 second pause at first waypoint; log not saved with date or time; on landing in RTL, did not pause at 10 meters as had been set
http://review.px4.io/plot_app?log=0415f42a-cac4-4cd9-b5a2-4804e4b62795

good flight:
http://review.px4.io/plot_app?log=0b7bf455-91a5-497b-ae0f-c021491c15fc

[2017-05-09 20:54] mzahana commented on #7140
I had no problems with regular pixhawk recently. I am not able to do this
on MindPX.

On May 9, 2017 8:54 PM, "Vasil Petrov" <notifications@github.com> wrote:

[2017-05-09 21:50] gijimbo56 commented on #6798
hhhmmm, well I cant speak to the firmware for the GNSS in the post you mention #6803 . I can say that I have seen this elsewhere with yaw jumps related to magnetometers.

Here is the link to the other forum that has been helpful. Given their comments wouldn't call this issue closed. If this is the case.

http://discuss.px4.io/t/huge-yaw-movement-everytime-i-take-off/2982/13

We just had a big issu

[2017-05-09 21:50] svpcom commented on #7051
@MaEtUgR Got oscillations with latest master too:
http://review.px4.io/plot_app?log=1c12f28d-7e82-4747-8196-c66e77ff2db0
log got with motors enabled

[2017-05-09 22:30] cagdas001 commented on #7198
Since I calibrated everything and mounted on the frame, I don't want to reset the board again. When you set Generic Quad X, the device does not open at all and therefore you can't connect it to QGC, you can't install the firmware again. I think it may be related to the bootloader. Because I was able to install ArduCopter firmware with the MissionPlanner.

But I can say there is no problem in beta

[2017-05-09 22:35] dagar commented on #7198
Oh, in that case this will be resolved shortly. Use dev (master) for now, it's going to become the next release version very soon.

[2017-05-09 22:35] #7198 closed

[2017-05-10 01:24] dennisss commented on #6408
@paan2097 The important part in the sdf file is that the mavlink plugin exists. If it works with stock px4 single drone simulation, then it should work here

@mago3421 I've never used Dronekit, but it should work with 127.0.0.1:14550 and 127.0.0.1:14560 etc.

Some other notes to try for both of you:
Make sure that the file `build_firmware/src/firmware/posix/px4` exists indicating that the firmware

[2017-05-10 01:28] schmittlema commented on #7068
Ok. I made a simplified version for debugging this problem. Hopefully we can find my mistake and it isn't a bug:
https://pastebin.com/stHYfQRT

[2017-05-10 03:25] nancy03610 opened #7207 "Please have a look at my px4flow test logs"
@jgoppert @mhkabir I am using px4flow to do hovering. I do a lot of tests indoor and outdoor. My problem is sometimes I just cannot enter the position hold mode. I suppose that when I switch to position mode, the local position set point doesn't change means that it is trying to hold the position. Am I right? In my tests, all the setups are same. I can understand that sometimes the flow quality is

[2017-05-10 04:23] see3peoh commented on #6827
same issue here - also not getting my nose wheel moving either - going back to stable and all works fine. probably something to do with mixer size which was an issue a long time back. were you able to make a work around?

[2017-05-10 06:50] iZhangHui commented on #7140
@mzahana Could you do a test for PR #7208 ?

[2017-05-10 06:56] iZhangHui commented on #7140
Built firmware for MindPX
[mindpx-v2_default.px4.zip](https://github.com/PX4/Firmware/files/988898/mindpx-v2_default.px4.zip)

[2017-05-10 07:59] tubeme commented on #6827
@see3peoh I was able to control the nose wheel, this might be something more recent. But the flaps still does not work neither the rc forwarding. The workaround is you use a spare channel on the RC receiver... but you cannot make automation this way except you make the automation in the transmitter mixer, in my case Taranis.

[2017-05-10 08:01] ChristophTobler commented on #7192
height fix -> https://github.com/PX4/Firmware/pull/7209

[2017-05-10 08:20] LorenzMeier commented on #6827
Did you test with current master?

[2017-05-10 10:47] tops4u commented on #7194
Just to add one more thing. While looking at the above log it seems to have been truncated. After Mission Flight I was flying PosCTL to the Starting Point and landed there. This is completely Missing in the Log.

[2017-05-10 11:43] see3peoh commented on #6827
@tubeme  Ok - thanks. Too bad this still isn't working. Thanks for the workaround but chaos for mission auto. Likely something with current master re the nose gear. Loaded up stable and everything worked again just to check. Also on a Taranis.

@LorenzMeier Yes, no go.

[2017-05-10 13:09] b-rohit opened #7210 "[ERROR] serial0: receive: End of file"
nunu@ubuntu:~/px4/Firmware$ roslaunch mavros px4.launch fcu_url:="/dev/ttyACM0:57600"
[code]

[2017-05-10 13:23] mzahana commented on #7140
@iZhangHui Thanks! that PR solved the problem. I can set the the pass through from QGC, and control gimbal from my RC.
My question now is can that be used with the vmount (or gimbal app) to stabilize a gimbal similar to a Pixhawk?

[2017-05-10 13:29] nicolaerosia commented on #7137
I don't plan to use AUX channels, I don't know how they are used, I was thinking maybe other user need it. Anyway, this issue will be fixed by your PR, https://github.com/PX4/Firmware/pull/7200

[2017-05-10 13:37] nicolaerosia opened #7211 "Navio2 battery"
Hello,

Navio2 does not have support in PX4 for Battery.
Example code for reading the ADC is [here](https://docs.emlid.com/navio2/dev/adc/)
Looking through the code, I see two systems support battery:
1. px4io
2. df_bebop_bus_wrapper

It seems to me that I need to create an app, e.g. navio2_batt, which will do the following:
a) subscribe to actuator_controls_0, since updateBatteryStatus needs thro

[2017-05-10 13:44] bkueng commented on #7137
Good to know. I'm closing this then.

[2017-05-10 13:44] #7137 closed

[2017-05-10 13:50] CarlOlsson opened #7212 "Discontinuity in raw mag readings"
I set the calibration coefficients to default for the external mag and then did a mag calibration while logging. When inspecting the log there is a discontinuity in the readings.
![image](https://cloud.githubusercontent.com/assets/7795133/25901886/595cd766-3598-11e7-810e-6ab579fab1d2.png)
This was on modified firmware, however I remember seeing the same thing in [this log](http://logs.px4.io/plot_

[2017-05-10 14:11] #7210 closed

[2017-05-10 14:11] b-rohit commented on #7210
worked after restart.

[2017-05-10 15:18] LorenzMeier commented on #7202
@priseborough Can you have a look?

[2017-05-10 15:22] TobiMiller commented on #7068
https://pastebin.com/33sub8Wi

run this script. open qgroundcontrol. set offboard mode. arm. if this works your problem is somewhere else

[2017-05-10 15:33] paan2097 commented on #6408
@dennisss AH I switched over all the mavlink lines in the rcS file but didn't have the simulator start -s -u _SIMPORT_ line copied over, thanks. I'll be testing the multi plane SITL for awhile and will let you know of any issues. Thanks a bunch!

[2017-05-10 16:25] MaEtUgR commented on #7202
- Why does the main_state of the commander (not nav_state) change to LAND in RTL?
I mean this is not logically wrong but I've never seen this before.

- In the end we have a pretty small velocity setpoint of 0.25 m/s downwards that is reported to be tracked not very good but surely not in the wrong direction. An the drone goes up at the same time. This is what we've seen before here's a related pr

[2017-05-10 17:36] DonLakeFlyer opened #7213 "Implement MAV_CMD_SET_CAMERA_MODE"

[2017-05-10 18:26] see3peoh commented on #6827
How does one systematically look through commits to ascertain which/what broke this? If there isn't a methodical approach, I'm happy to just jump large amounts backwards (of commits to RC1), build and test but something more targeted would be ideal. This is actually more of an issue than I thought as without flaps it causes some takeoff/landing concerns but without the nose wheel, there is no real

[2017-05-10 19:35] ganeshrk95 opened #7214 "Problem with getting Tricopter SITL running - Gazebo plugins - Series link problem"
I'm trying to do a SITL simulation of a Tricopter (with tiltrotor servo) in Y+ configuration on Gazebo. I have successfully created a Solidworks model and have generated a SDF file. I have written the plugins into the SDF file using iris.sdf as a reference model.

In my model, there is a tail servo which actuates the back motor (for yaw). The back rotor (Prop) is connected to this servo link. When

[2017-05-10 20:05] svpcom commented on #7051
@MaEtUgR any ideas?

[2017-05-10 20:25] dagar commented on #7214
Hi @ganeshrk95
I'm interested in this, but it's really more of a gazebo question. We need to limit PX4 Firmware issues to bugs and feature requests in the firmware itself.

If you opened this as a pull request in https://github.com/PX4/sitl_gazebo we can ask for input from people that have a good understanding of gazebo.

[2017-05-10 20:25] #7214 closed

[2017-05-10 20:28] dagar commented on #7213
I don't see it implemented or part of an open PR. @mhkabir is this planned?

[2017-05-10 20:31] mhkabir commented on #7213
Not from my side. We need to crystallise the API first anyway. Nothing uses this command yet.

[2017-05-10 20:33] dogmaphobic commented on #7213
It's there alright. Just not updated within the firmware:

http://mavlink.org/messages/common#MAV_CMD_SET_CAMERA_MODE

[2017-05-10 20:52] LorenzMeier commented on #6827
There is this one: https://git-scm.com/docs/git-bisect but I suspect that its rather the result of an architectural cleanup on the PWM outputs. Can you provide this output:

[code]
and
[code]
and
[code]

You can go in QGC to the log download tab on the far right and start the MAVLink shell there to launch these commands via USB.

[2017-05-10 21:26] Antiheavy commented on #7196
QGC audio would be useful too.  Although if outdoors and standing 10 meters away from the ground station while spinning the vehicle it might be nice to have the aircraft itself beep too.  I think having audible tones both places would be great.

Would PX4 send a text string to QGC or would QGC itself do the heavy lifting here?

[2017-05-11 02:41] iZhangHui commented on #7140
Yes, the behavior is similar to Pixhawk.
https://dev.px4.io/en/advanced/gimbal_control.html

[2017-05-11 06:40] bkueng commented on #7211
Yes that sounds correct. There is a second approach: create a driver that provides an ioctl interface, such as [adcsim](https://github.com/PX4/Firmware/blob/master/src/platforms/posix/drivers/adcsim/adcsim.cpp) or [aerofc_adc](https://github.com/PX4/Firmware/blob/master/src/drivers/aerofc_adc/aerofc_adc.cpp), which is then used by the sensors app, and publishes battery_status (remove the [ifdef](h

[2017-05-11 07:24] tops4u commented on #7202
@MaEtUgR I can add to your last Point, that I have reported a similar behaviour (Logging slowdown) and IMHO it does at least impact Mavlink since I get Messages on the OSD indicating, that the MavLink Stream is Frozen -> See #6260

[2017-05-11 07:25] tops4u commented on #6260
This Problem is still persisting even after reverting Camera Trigger Setup to default.
IMHO it might be less often now but still happening.

[2017-05-11 09:41] CarlOlsson opened #7217 "Noise on servo output when changing mag cal params in QGC"
- Flashed latest master 29795fa95fb07c7e383e73cb725aec60fb88d948
- Powered up the plane (Wingwing with pixracer) and connected QGC on iOS and via wifi.
- Armed to **manual mode** to start logging
- In QGC, pressed reset to default on the mag0 cal parameters, noticed that every time I pressed it the servos moved on the plane.
![image](https://cloud.githubusercontent.com/assets/7795133/25942952/85f5

[2017-05-11 10:54] priseborough commented on #7202
The root cause was poor quality IMU hardware. There is a large change in Z accel bias through flight that the EKF was unable to keep up with. Here is the low pass filtered Z accel:

![screen shot 2017-05-11 at 8 39 52 pm](https://cloud.githubusercontent.com/assets/3596952/25945378/029762d2-368a-11e7-90c6-14dcae7bbd88.png)

I am unable to find IMU temperature anywhere in the log, but it is likely d

[2017-05-11 11:35] tops4u commented on #7202
@priseborough could you elaborate if this happens mostly due to (Temperature) Drift or due to high vibrations? As I use a very light AUAV-X2 controller, I have problems limiting the amount of vibration on it, but I did perform a Temperature Compensation run.

This is the Accel Z Log:
![accel-z](https://cloud.githubusercontent.com/assets/6877067/25947192/a7133160-364e-11e7-8d97-38acd9e0e2c5.png)

[2017-05-11 11:41] LorenzMeier commented on #7202
You should be concerned - but not because the code isn't stable, but because your system has a vibration level that makes it impossible to work for an inertial navigation system.

@priseborough we need to significantly improve the vibration reporting in v1.6 I think.

[2017-05-11 11:41] LorenzMeier commented on #7202
I'm closing this meanwhile because this is a mechanical setup issue.

[2017-05-11 11:46] LorenzMeier commented on #7217
Can you share the log? In what flight mode was the system?

[2017-05-11 11:57] priseborough commented on #7202
In this instance the source problem is poor thermal stability of the IMU Z accel. There is no evidence of any thermal calibration having been performed - the TC parameters are at default values.

[2017-05-11 12:12] LorenzMeier commented on #7202
Yep - I mistook the 8 for a 0 on my phone, the noise is much less excessive than I thought.

[2017-05-11 12:32] tops4u commented on #7202
@LorenzMeier & @priseborough thank you for your Feedback. So I take this as: Vibrations of my Vehicles IMU are far from perfect but are within acceptable Range?

[2017-05-11 12:51] tstellanova commented on #7202
Thanks for the analysis @priseborough .  Indeed we performed a standard accel calibration on the pixhawk but did not perform the thermal calibration. Is there any monitoring in place to detect excessive noise in the IMU? I'd like to understand how we can detect this situation in the future, even after performing thermal calibration.

[2017-05-11 12:52] MaEtUgR commented on #6780
IMHO it should be possible to adapt the structure such that a special reacer configuration is generally not needed. This would allow a racer to benefit from all failsafe modes. But what really motivates me it would for sure help to increase the flight performance of other airframes.

My first goal is to find a software setup, even if it's a total zombie, that works comparable to other popular flig

[2017-05-11 13:35] Darkus3 commented on #4695
Hi I knoy it's an old topic but I have the same issues but with my sensorr getting some value

nsh> mpu6000 test
WARN  [mpu6000] single read
WARN  [mpu6000] time:     118732626
WARN  [mpu6000] acc  x:          -0.0252        m/s^2
WARN  [mpu6000] acc  y:          -0.1929        m/s^2
WARN  [mpu6000] acc  z:         -10.3069        m/s^2
WARN  [mpu6000] acc  x:         -6      raw 0xfffa
WARN  [mpu

[2017-05-11 13:37] LorenzMeier commented on #4695
I believe this is fixed. Is this still an issue for you?

[2017-05-11 13:48] CarlOlsson commented on #7217
Sorry forgot to share the log. I couldn't find it again so did another one, now with ulog. Its [here](http://logs.px4.io/plot_app?log=6a7c4b18-1563-407b-ad69-7df5f99a7f48)
![image](https://cloud.githubusercontent.com/assets/7795133/25952376/ccd2113e-3660-11e7-8e03-34523f523e57.png)
Both logs where in manual mode, Nav_state = 0

[2017-05-11 14:03] LorenzMeier commented on #7217
Am I correct to assume that the last spike is due to you tapping / moving the vehicle? If that assumption is correct then the servo response isn't a surprise because you're resetting a sensor and consequently the filter responds, resulting in a control system response.

[2017-05-11 14:07] dagar commented on #7028
Did you cover everything here? Reopen if not.

[2017-05-11 14:07] #7028 closed

[2017-05-11 14:22] CarlOlsson commented on #7217
The last spike is definitely me moving something. Maybe I'm missing something here but the plane is in manual mode, so no controller is running.
Did the test again, log is [here](http://logs.px4.io/plot_app?log=86b28dcf-c8f4-4510-9562-be5ea54fe2c4)
Now I am moving the plane around, the flaps are not moving at all since it is in manual mode, every time I press "reset to default" on the mag0 cal par

[2017-05-11 14:40] ganeshrk95 commented on #5581
@mohit004 Were you able to get the tricopter simulation working ? I'm working on a similar model. Can't get the servo and back motor to arm/work together.

[2017-05-11 14:54] Darkus3 commented on #4695
Yeah, after recalibrating sensors I still got an error:

nsh> mpu6000 test
WARN  [mpu6000] single read
WARN  [mpu6000] time:     35485808
WARN  [mpu6000] acc  x:           0.0839        m/s^2
WARN  [mpu6000] acc  y:          -0.1493        m/s^2
WARN  [mpu6000] acc  z:          -9.7185        m/s^2
WARN  [mpu6000] acc  x:         -63     raw 0xffc1
WARN  [mpu6000] acc  y:         -108    raw 0xff9

[2017-05-11 16:05] Sam1215 opened #7218 "gazebo installation error"
Hello all, i am trying to install gazebo and am running into this error, can someone please help
px4/simulation/gazebo 7 contains conflicting version recursive dependencies: boost, boost@1.55

I am using a mac

[2017-05-11 16:14] DonLakeFlyer commented on #7213
I talked to Lorenz about this yesterday. QGC currently works as follows:
If you add a survey to a mission. QGC will automatically add a SET_CAMERA_MODE to photo to the beginning of the mission.

My question to Lorenz was whether it was OK to do this in all cases for PX4. He said yes, and that he could clean up the unknown command coming back from firmware when QGC does this.

[2017-05-11 17:07] dagar commented on #7213
Oh okay, do we need to accept it or simply not respond unsupported?

[2017-05-11 17:13] DonLakeFlyer commented on #7213
It should be supported by PX4 I think, but I don't know how all that works. @LorenzMeier would know better what he was thinking.

[2017-05-11 17:29] LorenzMeier commented on #7213
We just don't NACK it for now.

[2017-05-11 17:55] mhkabir commented on #7213
So the `SET_CAMERA_MODE` on QGC master breaks PX4 currently (Mission rejected). We need to roll back QGC or bring in transitional support, because it would break all older PX4 versions even if we were to add the command to the ignore/no-NACK list in v1.6.

@LorenzMeier relevant to out discussion today about non-lockstep GCS/FW combos.

[2017-05-11 17:59] DonLakeFlyer commented on #7213
Yeah, I'll get right on that.

[2017-05-11 18:14] DonLakeFlyer commented on #7213
That would be the exact reason I talked to Lorenz about this in the first place. Users of old firmware can turn off the photo mode switch in QGC. In general there is a problem with mavlink in that QGC has no way to ask the firmware what commands are supported or unsupported. It can only keep a hardcoded list directly in the code. Which it does, but that list is global to firmware type and not vers

[2017-05-11 18:19] mhkabir commented on #7213
@DonLakeFlyer Thanks! Meanwhile, I've fixed camera triggering with transitional support so that we don't affect older setups using Survey.

[2017-05-11 19:21] mhkabir commented on #7213
I have added transitional 1.6 release support for `SET_CAMERA_MODE` (ignored but accepted for now) in my camera trigger PR.

[2017-05-11 22:25] #7218 closed

[2017-05-11 22:31] DonLakeFlyer commented on #7213
The other strangeness that comes up with this sort of thing is. Yes, the firmware may support the command. But the camera may not. Or the vehicle itself might not even have a camera on it. That all gets tricky as to how to make any sense out of that from the QGC side of things which has little information to go on.

[2017-05-11 22:50] hamishwillee commented on #7028
@dagar I didn't have a chance to work on this yes, so I don't know. I don't have rights to reopen issues, but that is OK - have added a note in the associated PR so I'll chase up with you next week (if needed).

[2017-05-12 01:46] cobya opened #7220 "command denied during calibration: 205/204"
After cloning the most recent build 29795fa and building the firmware, I am getting the error "command denied during calibration: 205/204" when attempting to calibrate any sensor onboard the Pixhawk board. This happens 6 times during the calibration of the accelerometer, or constantly (approx every 1/20th of a second) with the gyroscope / compass. After erroring, the process is shown as completed

[2017-05-12 02:14] lamping7 opened #7221 "Actuator Outputs Bounded After Saturation Causes Vehicle Descent"
Pixhawk 2.1 w/ HERE+ GNSS. Log shows the actuator output being bounded between a min and max (1400 and 1820, not PWM params) after saturation. Max is not enough to hover, causing a forced land. Stabilized flight mode. My understanding is that the mixer should scale the outputs so that the mc is stable (roll and pitch) first, then take care of yaw, with the goal of the actuators being scaled betwee

[2017-05-12 03:53] grantjerry opened #7222 "Access denied to connect to PX4flow in Comm Links. What is the output?"
Hello everyone,

I want to test the PX4flow camera I just bought. I basically connected it with Micro USB cable to the PC, on which QGroundControl v3.1.3 was installed. I followed the official guideline to upgrade the firmware (stable version via QGC) and windows driver.

Now, in the "Vehicle Setup" I can see the video of PX4Flow that is capturing. But I don't see anything like "OPTICAL_FLOW.flow_

[2017-05-12 07:22] bkueng opened #7223 "Mavlink threadding analysis"
I tried to do a thorough analysis of potential concurrency issues in the mavlink module, since we have experienced random mission upload failures, log download issue, and other things from time to time.

Current implementation:
- 1 thread per sender and receiver
- Each mavlink instance starts a sender & a receiver
- There is already a lock in place, namely in `Mavlink::begin_send()`, which is take

[2017-05-12 07:34] tops4u commented on #7223
Hi, could this be related? #6260
I don't want to bring this to every Issue but I thought this might have an Impact on MavLink Stream Freezes?

[2017-05-12 07:53] julianoes commented on #7212
@CarlOlsson is the discontinuity when you do the calibration? This would make sense because the offsets are set to 0 for the duration of the calibration and then the new offsets are applied.

[2017-05-12 08:13] CarlOlsson commented on #7212
For us it happens during calibration every time if you before set all mag0 cal parameters to default. However, I am just pulling in some changes from PX4 master and will see if that fixes it. For the log I posted above from the 1.6 RC I guess it could be a switch from external mag to an internal? Unfortunately the sensor_selection topic isn't logged so hard to tell

[2017-05-12 08:16] bkueng commented on #7223
I don't think so. I've never experienced such freezes, so I cannot say what exactly goes wrong in your case. I suggest you check if there is any data coming through at all during a freeze and look at `mavlink status`, in particular the `rate mult` value.

[2017-05-12 08:21] Darkus3 opened #7224 "Linux Kernel"
Hi !
![screenshot from 2017-05-12 10 16 30](https://cloud.githubusercontent.com/assets/3934435/25989467/81e8e0d4-36fc-11e7-9ebb-93d993f153a7.png)

I followed the graph and found nicely the RTOS kernel which is based on nuttX. But didn't find the Linux Kernel which control the camera and storage.

Do you knoy where is it located ?

Thank you for your help

[2017-05-12 09:06] ecmnet commented on #7223
Just to let you know, that in my case the stability of the communication between the companion which streams a lot of data to the controller (e.g. vision at 60Hz) and PX4 decreased at least since release 1.5. This affects mainly packages with large content, e.g. ULOG streaming and reading logs via MAVLink.

[2017-05-12 09:32] tops4u commented on #7223
I observed the same that this happens more often since 1.5. I use a 3RD Radio on the same Serial Port as the OSD so this may cause Message congestion? I have never seen those Messages prior to 1.5 and now they happen very often and correspond to Logging Dropouts.

[2017-05-12 09:44] sanderux commented on #7221
Your thrust and manual throttle input never exceeded 65%
is that correct?

[2017-05-12 11:16] mzahana opened #7225 "Support for Multiple Multirotor in SITL"
Hi,

I could not find documentation on how to use SITL to control multiple multirotors in gazebo, using mavros.
The [current documentation](https://dev.px4.io/en/simulation/ros_interface.html) shows how to do this for one vehicle. However, it seems to me that it is not scalable to more than one vehicle with the current implementation.

Is there a way to achieve this with the current implementation

[2017-05-12 11:20] julianoes commented on #7212
But that's expected, I'm confused.

[2017-05-12 11:33] LorenzMeier commented on #7223
@bkueng Can you move on to implement the basic, low hanging steps as proposed? I would do a re-architecture only as the 2nd step.

[2017-05-12 12:00] lamping7 commented on #7221
@sanderux Correct for RC input. MPC_THR_HOVER = 0.7 due to heavy platform weight. Saturation occurred as RC throttle was increased while maneuvering. RC throttle continued to increase and actuator output then became bounded to the lesser value, from 1400 and 1820. Data shows an increase in thrust, but vehicle descends. Why would the actuator output be bounded in this manner? Looking at https://git

[2017-05-12 16:45] paan2097 commented on #6408
@dennisss Hey so I finally was able to get the planes to takeoff but they immediately crash, the err.log file is empty but here is an out.log file, the only difference between the two vehicles is that one had a positive tone_alarm.

data path: /home/pat/tansa/scripts/../lib/Firmware
commands file: rcS
creating new parameters file
creating new dataman file

______  __   __    ___
| ___ \ \ \ / /

[2017-05-12 20:07] AlexMalo opened #7227 "Unable to add a new airframe"
I defined the files that you require in the directories init.d  and mixers, with the formats specified, under  ROMFS/px4fmu_common/ directory, using as template one of the files already in the directory. I see the new airframe in airframes.xml. However, when I run QGroundControl I do not see the airframe. How can I choose it? What I am missing?
Thanks
Alejandro Malo
[2107_wilga.txt](https://github

[2017-05-12 20:12] #7206 closed

[2017-05-12 20:13] LorenzMeier commented on #7227
You need to flash the binary through QGroundControl so that it does pick up the new metadata.

[2017-05-12 20:13] #7227 closed

[2017-05-12 20:37] LorenzMeier commented on #7227
I added additional instructions on this page: https://dev.px4.io/en/airframes/adding_a_new_frame.html

[2017-05-12 20:38] LorenzMeier commented on #7213
Closing consequently as that got merged.

[2017-05-12 20:38] #7213 closed

[2017-05-12 20:53] gesemeliab opened #7228 "Problems writing my first PX4 program"
HI!
i'm new in PX4 development and i'm trying to write my first program, I've followed all the instructions from the PX4 dev guide but when i'm trying to build my program this comes out:
[2/538] px4io-v2: nuttx-patches/00002-...ECTED-fix-shadow-wanings.patch applied
FAILED: cd /home/gesem/Firmware/build_px4fmu-v2_default/src/modules/px4iofirmware && /usr/bin/patch --verbose -d /home/gesem/Firmware

[2017-05-12 21:04] mhkabir commented on #7224
https://github.com/torvalds/linux :)

[2017-05-12 21:04] #7224 closed

[2017-05-12 21:20] dagar commented on #7228
Are you synced up with the latest version of master?
Try `make distclean` then `make`.

[2017-05-12 22:03] gesemeliab commented on #7228
Thank you! it worked very well i think ! but can you explain me what is master ? and why do i needed to write make distclean and then make ? i want to understand a bit more of all of this haha
THANKS!

[2017-05-12 22:09] dagar commented on #7228
I don't know how it got like that, but your local checkout was in a bad state. That target forced all the submodules back into a good state and through away all the build artifacts restoring you to the state of a clean checkout. Master is the latest development version of PX4 that you get by default when you. If was a secondary suggestion in case you were on an old version.

[2017-05-12 22:09] #7228 closed

[2017-05-12 22:41] gesemeliab opened #7229 "Problem by uploading to the board"
I have a PX4IO V1.3 and i'm trying to upload my first app, but when i hit "make px4fmu-v2_default upload"
it gives me this:
WARNING: Firmware not suitable for this board (board_type=5 board_id=9)
Found board 5,0 bootloader rev 3 on /dev/serial/by-id/usb-3D_Robotics_PX4_FMU_v1.6_0-if00
help please!

[2017-05-13 01:01] lamping7 commented on #7221
Happened again during testing today.

http://review.px4.io/plot_app?log=14373214-034e-44e7-bfaa-5074182def3d

Less platform weight - MPC_THR_HOVER reduced to 0.5. This situation was a bit odd but had a similar outcome. Vehicle flew far out. Went out of range of the RC. After 0.5 seconds of loss, loiter was triggered as the failsafe. Pilot wasn't aware when link was regained. The mc began descent (

[2017-05-13 01:10] cnpcshangbo opened #7230 "[gazebo] Error when running "make posix_sitl_default gazebo""
The "make posix_sitl_default gazebo" was working before 12:25 pm yesterday, however, it gets errors today.
======================
When I try to run "make posix_sitl_default gazebo", I encountered the following error message:
[code]
My colleage has recreated the same error.
Therefore, probably it is because of recent changes.
Thanks,
Bo

[2017-05-13 01:21] lamping7 opened #7231 "STABILIZED to AUTO.LAND drops actuator outputs to min PWM"
Upon triggering AUTO.LAND from STABILIZED, the FC drops all actuator outputs to min PWM, removes thrust, causing instability before re-applying thrust to regain altitude.

Log: http://review.px4.io/plot_app?log=61623410-7cb8-401d-8a95-9f08a6c91440

[2017-05-13 04:10] limhyon opened #7232 "px4fmu-v4 FRSky inversion pin problem?"
Hi,
In the board_config.h of px4fmu-v4, I couldn't find definition for FRSky telemetry like this.
Please refer mindpx-v2.

https://github.com/PX4/Firmware/blob/master/src/drivers/boards/mindpx-v2/board_config.h#L283

#define GPIO_FRSKY_INV                (GPIO_OUTPUT|GPIO_PUSHPULL|GPIO_SPEED_2MHz|GPIO_OUTPUT_SET|GPIO_PORTB|GPIO_PIN12)
#define INVERT_FRSKY(_invert_true)    px4_arch_gpiowrite(GPIO_F

[2017-05-13 06:11] timfaner opened #7233 "[Optical Flow]Can't estimate local position by EKF2"
I used optical flow without gps but local position from pixhawk board is drifting and I have checked my optical flow module ,it  works well.
I have set EKF_AID_MASK to 2 and EKF_HGT_MODE to Range sensor.
Is their any problem I did wrong? Please help me..
Thank you.

[2017-05-13 06:41] ecmnet commented on #7223
Refer also to the effect of txBuffer-size increase: https://github.com/PX4/Firmware/pull/7226#issuecomment-301227157

[2017-05-13 07:16] mzahana commented on #7225
Discussed in #6408

[2017-05-13 07:16] #7225 closed

[2017-05-13 07:30] mzahana commented on #6408
Thanks @anuppari and @dennisss for the suggestions and workarounds.

I am just thinking that it would be more useful to centralize the solution that works seamlessly with latest master onto PX4 repo. Is there a PR for this, with a clean documentation. Thanks.

[2017-05-13 07:55] sanderux commented on #7221
From what i can tell the saturation is related to yaw. It will not use the whole range for yaw as it would have nothing left for thrust. @dagar do you know how this is mixed on an octo?

[2017-05-13 09:20] LorenzMeier commented on #7233
@ChristophTobler Can you comment?

[2017-05-13 09:22] LorenzMeier opened #7234 "Inspect v1.6 flight log"
http://logs.px4.io/plot_app?log=727281fb-388a-4b9f-ae96-65bf88ddd1ce

[2017-05-13 09:24] LorenzMeier commented on #7229
You need to use the build target px4fmu-v1_default

[2017-05-13 09:24] #7229 closed

[2017-05-13 09:42] LorenzMeier commented on #7231
I've looked into this and your log is oddly incomplete. I will need to dig a little deeper into it.

[2017-05-13 13:44] cnpcshangbo commented on #7230
More info in the building part:
-------------------
[  7%] Built target xml_gen
-- Generating done
-- Build files have been written to: /home/parallels/src/Firmware/build_posix_sitl_default/build_gazebo
[  7%] Performing build step for 'sitl_gazebo'
make[7]: *** No rule to make target '/home/parallels/src/Firmware/Tools/sitl_gazebo/PROTOBUF_PROTOC_EXECUTABLE-NOTFOUND', needed by 'Wind.pb.cc'.  Sto

[2017-05-13 14:24] cnpcshangbo commented on #7230
Full log:
[code]

[2017-05-13 14:25] lamping7 commented on #7221
After looking at a different flight log, I'm not sure it is related to saturation. Here is another log from yesterday where the went from AUTO.TAKEOFF to STABILIZED. After takeoff, the pilot took over and throttled up, causing saturation. You can see one motor hit 1950. The same bounding see in the previous 2 logs did not occur. Not sure if this helps in figuring out what is causing this.

http://

[2017-05-13 15:05] cnpcshangbo commented on #7230
Inspired by https://github.com/Valloric/ycmd/issues/224, I increased my virtual machine memory to 4G. The compiler internal error is solved.

[2017-05-13 16:39] #7230 closed

[2017-05-13 17:09] LorenzMeier commented on #7217
Sorry, I don't understand that log - it looks like the only servo motion is when the RC inputs got moved. Is this the right log file?

[2017-05-14 05:15] rolandash commented on #6947
Sry for the late, here is the log. Purposely use a NanoMind frame to focus on battery status (3.7V 1S/650mah):
http://review.px4.io/plot_app?log=bbdc6bdd-c847-4f0e-88c5-5a2d2814547f

Seems that the original behavior of the issue has disappear, when battery reached critical level and LED turned to red(return to land advised, but not taken, continued to fly), but after that for a while then the LED

[2017-05-14 09:09] sanderux commented on #7221
To the best of my knowledge there is a limit being applied to how much actuation is being used for yaw, roll and pitch. As far as i can tell the saturation you are seeing is related the the large error in yaw. You could try to lower your yaw rate P and I

[2017-05-14 09:10] tops4u opened #7237 "MC: Max Alt of 100m in PosCTL"
I'm currently flying some trainings Missions for SAR with Dogs. I experienced a serious Problem that in PosCTL Mode I'm not able to climb above 100m AGL. Stabilized allows this. I tried various settings and disabled Geofencing. As Logupload on logs.px4.io throws a 500 Error, I'll attach the log directly.

I can not find any other limiting parameter and stabilized allows going higher - but this is

[2017-05-14 11:28] LorenzMeier commented on #7237
Fixed in https://github.com/PX4/Firmware/commit/cdb8146af5c47a13ea0bfc03c65b62786c4a2043. Needs further cleanup, but with this change you should not run into it.

[2017-05-14 11:28] #7237 closed

[2017-05-14 11:41] CarlOlsson commented on #7217
It is the right log, sorry if my description of the issue was unclear. The issue is that in manual mode, when pressing the reset to default button in QGC on the mag0 calibration parameters the servos experience a small spike in the output signal. Sometimes it is big enough that you can see it on the flaps, sometimes it is smaller so you can only hear it.

This is from the log posted above.
![image

[2017-05-14 12:49] tops4u commented on #7237
@LorenzMeier thanks for this super fast fix. I have seen this parameter but it was unclear what this meant and I ignored it as it is in the Land Group - a function that I don't use at all.
We had clearance to up to 500m for this Training.

For it is still a bit confusing why this applies to PosCtl but not Stab FlightMode.

[2017-05-14 13:04] nicolaerosia opened #7239 "navio_gpio only works on RPI2"
navio_gpio has the Physical Memory offset hardcoded, https://github.com/PX4/Firmware/blob/master/src/drivers/navio_gpio/navio_gpio.h#L38 , which only works for RPi2, on RPi3 it hangs.

Is there a reason why we want to write directly to memory instead of using the sysfs-based interface for GPIOs, http://elinux.org/RPi_GPIO_Code_Samples#sysfs ?
I assume there is no user of navio_gpio who expects it

[2017-05-14 13:06] mhkabir commented on #7239
Sounds good!

[2017-05-14 13:20] nicolaerosia opened #7240 "Linux watchdog"
What are you using to automatically restart px4 in case of Segmentation fault on Linux?
I was thinking of using systemd.

[2017-05-14 13:26] nicolaerosia commented on #7211
I've created a PR for this here https://github.com/PX4/Firmware/pull/7236

[2017-05-14 13:52] lamping7 commented on #7221
@sanderux Yaw angle P and FF were already lowered. We could try lowering yaw rate gains. In both cases the RC was not commanding yaw till later. The command was coming from the FC. And the log shows the yaw angular rate diverging from the setpoint by >25 deg/s.

My concern is: Why would the output be bounded in a way that is **persistent** and which limits **all** actuator control including thrust

[2017-05-14 14:15] timfaner commented on #7233
Here's my flight log [log](http://logs.px4.io/plot_app?log=ec88c1f8-c5e0-4ce1-9132-cfec02db2832)
It seems local position y not controlled at all.
I control pixhawk using Mavlink command:set_position_target_local_ned and set bitmap to control it position. But it seems not work.

[2017-05-14 14:47] mhkabir commented on #7240
If you have a segfault in the first place, you're already falling out of the sky. The idea would be to avoid that happening at all.
But yes - systemd is a good option for managing the process.

[2017-05-14 18:42] sanderux commented on #7221
From hoe i read the log there was no thrust demand and in stab mode it will not generate that demand for you

[2017-05-14 22:50] sanderux commented on #7221
From your logs i do not see it limiting thrust. I do get the feeling your
drone is underpowered and the CG is not correct. Have you tried flying
lighter and have you performed tuning on your frame?

Regards,
Sander Smeets

On 14 May 2017 at 15:52, lamping7 <notifications@github.com> wrote:

[2017-05-15 00:12] lamping7 commented on #7221
@sanderux We did lower the platform weight. If you look between my comments 2 and 3, the 3rd is much less, which is why the MPC_THR_HOVER was brought down to 0.5. Roll and pitch PID gains were tuned not buy guess during flight, but by fixing the vehicle to a stand that allowed for movement and by reviewing log data over many iterations.

I can confirm that the FC does not sit exactly at GC (GC is

[2017-05-15 07:11] ChristophTobler commented on #7233
@timfaner Your quad is not tuned at all http://logs.px4.io/plot_app?log=ec88c1f8-c5e0-4ce1-9132-cfec02db2832#Nav-Roll-Angle. All tuning parameters are still default which is very unlikely. You have to tune the attitude controller, else your quad won't fly well.
Flow quality seems good but your distance sensor is very noisy http://logs.px4.io/plot_app?log=ec88c1f8-c5e0-4ce1-9132-cfec02db2832#Nav-Di

[2017-05-15 08:37] #7185 closed

[2017-05-15 08:55] nicolaerosia commented on #7240
Does px4 support to be started in mid air? I believe you can't expect to have a software that will never fail. For instance, read problem 3 from https://github.com/PX4/Firmware/issues/7223 :
[code]
Most likely, on Linux, this will trigger a segfault.
If PX4 crashes on Linux, PWM will still be generated since that is controlled using sysfs and does not have a watchdog. A systemd service which stops

[2017-05-15 08:56] nicolaerosia commented on #7211
The PR was merged

[2017-05-15 08:56] #7211 closed

[2017-05-15 11:16] western-co-at opened #7243 "Max logging size for LOGGER"
When running the logger over a long time with a 8GBytes SD card I noticed that the reported size of the log file skipped at 4GB to back to zero because of 32 bit fat limit. When logging e.g. 6GBytes the reported size under Windows of the log file is 2GBytes but the used size of the SD card is 6GBytes. After deleting the log file, the SD card releases the whole memory of the log file again (in this

[2017-05-15 11:23] julianoes commented on #7243
FYI @bkueng

[2017-05-15 12:13] bkueng commented on #7243
@davids5 IMO NuttX should handle this, and `write` should return an error when trying to go beyond the file system limit (4GB is not necessarily a hard limit, e.g. on Linux with Ext FS, it's not a problem to write more than that). Seems to me that NuttX does not handle this correctly?

@western-co-at do you have a valid use-case for this or is it just about handling the failure case properly? With

[2017-05-15 12:48] dagar commented on #7203
Note for later, look into c++ move semantics (move constructor + move assignment operator).

[2017-05-15 13:17] CarlOlsson commented on #7212
I just pulled latest master, reset all mag0 calibration parameters to default, rebooted and did a calibration. Here is the plot from the log file
![image](https://cloud.githubusercontent.com/assets/7795133/26059221/3dc5200c-3981-11e7-8557-07b7128f3cba.png)
As can be seen in the plot there is a spike in the beginning of the calibration routine at around 60s. @julianoes is this expected?

[2017-05-15 14:09] julianoes commented on #7212
Oh, you're saying it spikes at the very beginning of the calibration. Ok, no that doesn't seem expected.
@bkueng have you seen this?

[2017-05-15 14:28] Stifael commented on #4819
this should now be resolved. It was a general problem when switching from manual to auto.
If the problem still exists, we can reopen it.

[2017-05-15 14:28] #4819 closed

[2017-05-15 15:47] AlexMalo commented on #7227
Thank you.

[2017-05-15 16:15] davids5 commented on #7243
@bkueng - I will look into it.

[2017-05-15 16:26] mago3421 commented on #6408
@dennisss, what IP address and UDP port number can I use to connect to each instance using QGroundControl? I would like to monitor the planes and see why they are crashing.

[2017-05-15 16:40] mzahana commented on #6408
@mago3421 could you check #7225 ?

[2017-05-15 16:55] LorenzMeier opened #7245 "vmount: Answer on camera component ID when configured accordingly"
cmd->target_component = 100; // MAV_COMP_ID_CAMERA

[2017-05-15 17:24] LorenzMeier opened #7246 "Be smart about using MAVLink 2.0"
MAVLink 2.0 discovery scheme: We send a discovery packet in MAVLink 2.0 format and see if the other side responds.

[2017-05-15 19:11] schmittlema commented on #7068
I have found another way using a PID controller that worked. https://github.com/lukvacek/docking . Thanks for your help though!

[2017-05-15 20:47] mago3421 commented on #6408
Hi @mzahana, I don't see anything on #7225. Did you want me to post there?

[2017-05-15 20:50] mzahana commented on #6408
Sorry, I meant this PR
https://github.com/PX4/Firmware/pull/7235#issuecomment-301314991

On May 15, 2017 10:48 PM, "mago3421" <notifications@github.com> wrote:

[2017-05-15 21:08] nicolaerosia commented on #7239
Great, I've created a PR for this

[2017-05-16 00:07] grantjerry commented on #7222
Hello Could anybody help?

[2017-05-16 07:11] LorenzMeier opened #7250 "Reduce other streams if system is disarmed and log download is active"
This should help allowing a bit more bandwidth through USB.

[2017-05-16 07:14] ChristophTobler opened #7251 "Quad using flow lands, when enabling GPS and being in takeoff (auto)"

[2017-05-16 08:54] MaEtUgR commented on #7051
I think I even found this issue on a different platform that I'm currently using... sorry but I didn't find the time to get to the root cause yet 😞 It's on my list and we have to fix the mixer which I'm still blaming right now.

[2017-05-16 14:53] santiago3dr commented on #7234
after troubleshooting said copter, I am led to believe the radio failsafe was not set properly on the FrSky receiver and when connection was lost, all inputs were set to minimum value which led to the fall and crash.

[2017-05-16 16:42] dagar commented on #6260
Have you seen it on multiple autopilots? Please keep positing logs when it happens if possible.

[2017-05-16 19:33] western-co-at commented on #7243
@bkueng no I have no use case for this. I'm aware that it take quite a lot of time till the 4GB limit is reached.

[2017-05-16 19:54] tops4u commented on #6260
@dagar Thanks for taking care of my Problem. I just updated yesterday to the actual Master and I still have the Problem of the Frozen Stream Indication on the OSD. I see various possible causes for this:
- Serial Port congestion due to 3DR Radio and OSD sharing the same Port
- Sporadic electrical Interference on the Serial Line
- OSD Logic BUG
- HW Failure on the Serial Port of my FC

But this mig

[2017-05-16 19:57] nicolaerosia opened #7253 "RPI Preflight checks are disabled"
is there a particular reason why preflight checks are disabled on RPI ?
https://github.com/PX4/Firmware/blob/master/src/modules/commander/PreflightCheck.cpp#L563
I've used git blame to track where it cames from, https://github.com/PX4/Firmware/commit/76ee17e532fdbd28bc6e0a20bf16626c17f52288 , but it provides no reason.

[2017-05-16 23:20] dagar opened #7255 "log autopilot serial number"
In reviewing logs it's occasionally meaningful to be able to identify specific hardware. Unless I've missed it I don't see a serial number logged anywhere.

[2017-05-16 23:21] dagar opened #7256 "log ECL L1 internal state"

[2017-05-16 23:24] dagar commented on #7253
My guess would be that corresponds with bringing it up to the point it's flyable and hitting problems. @bkueng?

Do you want to re-enable them and start opening or working through the issues?

[2017-05-17 05:11] bkueng commented on #7255
It's already logged: https://github.com/PX4/Firmware/blob/master/src/modules/logger/logger.cpp#L1653
and displayed in flight review.

[2017-05-17 05:11] #7255 closed

[2017-05-17 06:06] bkueng commented on #7253
Yes it was to simplify bring-up. I don't know if there are remaining issues, but we should push towards enabling them.

[2017-05-17 06:09] timfaner commented on #7233
@ChristophTobler Thank you for reply.
I tuned quad in past two days and quad still drifts.
I placed quad still and in QGC I found LOCAL_POSITION_NED_X, LOCAL_POSITION_NED_Y drift about 0.01m/s.
Then I found  LOCAL_POSITION_NED_vx, LOCAL_POSITION_NED_vy is negative when quad still.
<img width="1280" alt="2017-05-16 10 29 20" src="https://cloud.githubusercontent.com/assets/15355789/26140398/17dba648

[2017-05-17 06:29] ChristophTobler commented on #7233
@timfaner can you provide a log again? And maybe a video would also help.

[2017-05-17 06:30] ChristophTobler commented on #7233
@timfaner You did calibrate all your sensors, right?

[2017-05-17 12:25] dagar commented on #7255
Thanks, I was looking in Flightplot.

[2017-05-17 12:39] timfaner commented on #7233
@ChristophTobler Sorry , late for reply.
Here is a [ideo](https://youtu.be/beiCyzvmYis).
I calibrate all sensors except PX4Flow , I just adjust its focal length to 2m .

[2017-05-17 13:03] ChristophTobler commented on #7233
@timfaner thanks! Could you also send the log file of that flight?

[2017-05-17 13:05] diegoeck commented on #7051
Hi, i'm new to the community but i think i can help. It may be a controller problem, maybe wind-up. Does the problem occur if the roll rate integral term is null (MC_ROLLRATE_I=0)? I can't see in your log the controller output (the output from the controller that goes to the mixer). I believe the problem is before the mixer.

[2017-05-17 13:44] potaito commented on #6562
@Seanmatthews I had the same problem as you with the **ESC board not arming**. Perhaps you have the same problem I had, namely an incorrect tty device mapping. I posted my findings on the qualcomm Forums (https://developer.qualcomm.com/comment/12329#comment-12329) and James Wilson already merged it to both, the px4 dev page as well as the ATLFlight docs.

Any news on making the ros-examples work w

[2017-05-17 13:51] Seanmatthews commented on #6562
@potaito My arming problem was happening because I was following the dev.px4.io instructions for building PX4 for the Snapdragon Flight. The instructions have an error-- the build command should be `make eagle_legacy_default`.

You can find a version of ros-examples, which I adapted to work with PX4, [here](https://github.com/Seanmatthews/snap_ros_examples).

[2017-05-17 13:56] mhkabir commented on #6562
The instructions are not incorrect. The legacy_default target is only for building the legacy binary drivers (not open-source), such as that for the Snapdragon Flight ESC. In which case, you should be following the ATLFlight instructions.

[2017-05-17 13:59] ChristophTobler commented on #7233
The ground you have in your flying arena is definitely not suited for optical flow as it is almost completely white and has no texture. Try again with the normal ground. To analyse it more, I would need the log file of that flight.

[2017-05-17 14:09] Seanmatthews commented on #6562
@mhkabir Correct or not, the instructions listed specifically for the Snapdragon Flight on dev.px4.io do not produce a flyable unit.

[2017-05-17 14:15] timfaner commented on #7233
Here is the [log](http://logs.px4.io/plot_app?log=cdfea96a-c47c-445c-bc6c-4a2270acb45d).
It takes some time to find right  log.
I will try again with the normal ground tomorrow.
Thank you for advice.

[2017-05-17 14:31] dagar commented on #7051
@diegoeck

The controller output is actuator_controls per axis [-1, 1]. ATTC.Roll, ATTC.Pitch, ATTC.Yaw
http://logs.uaventure.com/view/FbSe3zE7oB3WVCMqqbNF2e

![image](https://cloud.githubusercontent.com/assets/84712/26158937/3ea74930-3aeb-11e7-8045-59621b2cd60c.png)

Here's the same plot with the integrators (x10 for visualization). MACS = multicopter attitude control status

![image](https://clo

[2017-05-17 14:58] diegoeck commented on #7051
Well, then it seems it is something related to the mixer. When the output ATTC.Roll crosses the value 0.5 the mixer seems to be summing something. Definetly it something related with the saturation, but i can't exatly find the problem. It is also strange that MACS.RRint seems to be constant while the problem occurs.

[2017-05-17 15:44] mrpollo opened #7258 "Release v1.6 sign-off"
Is your team ready for a release?

* [ ] Project / Founder - @LorenzMeier
* [ ] Communication Architecture - @bkueng , @julianoes
* [ ] UI / UX - @dogmaphobic, @DonLakeFlyer
* [ ] Multicopter Flight Control - @Stifael, @MaEtUgR
* [ ] VTOL Flight Control - @tumbili, @AndreasAntener, @sanderux @bresch
    * [x] VTOL standard
    * [ ] VTOL tailsitter
    * [ ] VTOL tiltrotor
* [x] Fixed Wing Flight

[2017-05-17 15:46] jgoppert commented on #7258
@priseborough how is EKF2 doing. I think LPE is stable.

[2017-05-17 16:13] davids5 commented on #7258
There was a fix in upstream Nuttx this morning stm32_serial: fix freezing serial port I will need to back port. ASAP.

David

From: Ramon Roche [mailto:notifications@github.com]
Sent: Wednesday, May 17, 2017 5:44 AM
To: PX4/Firmware
Cc: David Sidrane; Mention
Subject: [PX4/Firmware] Release v1.6 sign-off (#7258)

Is your team ready for a release?

·         [ ] Project / Founder - @LorenzMeier <ht

[2017-05-17 16:32] mhkabir commented on #6562
They do, if you use the PWM ESCs, which is the fully open source build we support.

[2017-05-17 16:38] dagar commented on #7258
Could someone comment on the state of Pixhawk 3 support in v1.6.0? @klopezal, @sanderux

[2017-05-17 16:40] mhkabir commented on #7258
@dagar It is supported fully. We are waiting for fresh/fixed v1.3 hardware before we can polish the experience more. We are also extensively test flying it on a VTOL config.

[2017-05-17 16:47] dagar commented on #7258
Thanks @mhkabir. Could you do a quick pass and see if any of these are still relevant? https://github.com/PX4/Firmware/issues?q=is%3Aopen+is%3Aissue+label%3Apixhawk3

[2017-05-17 16:52] mhkabir commented on #7258
All of those issues have hardware fixes - but we don't have latest hardware yet, so they're still all relevant, yes.

[2017-05-17 16:55] dagar commented on #7240
It would be nice to expand the details here. I've never even used px4 on linux outside of the build environment. CMake should generate the packages including any appropriate init. Then we could start distributing the packages.
PX4 SITL as a desktop linux package might also be nice. @jgoppert

[2017-05-17 16:56] dagar commented on #7234
Resolved?

[2017-05-17 17:00] eyeam3 commented on #7258
PX4 on the Parrot Bebop is not running properly at the moment, but it should not gate the release.

[2017-05-17 17:01] davids5 commented on #6740
Fixed on V1.3 HW - BYPASS_REG was not tied to ground. A V1.2 with jumper also fixes this issue.

Please close on receipt and validation of V1.3 HW

[2017-05-17 17:01] santiago3dr commented on #7234
i believe so; can you confirm log shows typical rc loss given input channels go to 0?

[2017-05-17 17:03] davids5 commented on #6807
Fixed on V1.3 HW - Pull down was added to ground. V1.2 HW with jury rigged cable (SAFETY--\/\/\/----GND) will also fixes this issue.

Please close on receipt and validation of V1.3 HW

[2017-05-17 17:04] davids5 commented on #6799
Fixed In FW

[2017-05-17 17:04] #6799 closed

[2017-05-17 17:10] dagar commented on #7234
rc_signal loss is 0 the entire log.

![image](https://cloud.githubusercontent.com/assets/84712/26166655/26818a7a-3b02-11e7-9492-bc43ff5898ff.png)

[2017-05-17 17:29] dagar opened #7259 "log CPU and RAM per process"
@bkueng do you think it would be realistic to log this per process? Given that's it difficult to impossible to profile NuttX it would be extremely helpful for understanding the code from a resource perspective.

Then display as a stacked line plot on flight review.

[2017-05-17 18:13] d3z0rian commented on #7234
I think is expected to see rc_signal loss = 0, since the receiver wasn't
configured properly, so even when there is no communication with the RC
transmitter, the receiver will send RC signals to the autopilot.

We'll be more careful to check the failsafe is in place before we fly.

On Wed, May 17, 2017 at 10:10 AM, Daniel Agar <notifications@github.com>
wrote:

--
◤*Rogelio Nuñez*
TECHNICAL SUPPOR

[2017-05-17 21:40] davids5 opened #7261 "Air frame init script files attempt to set rates that will fails on all FMU PWM"
There are 2 issue:
1. Air frame init script files attempt to set rates that will fails on all FMU
2. Need a way to set the default rate uses when an alt rates is applied.

## Issue 1:
Air frame script
```set PWM_OUT 5```

Later command
```pwm rate -c ${PWM_OUT} -r ${PWM_RATE}```

FMUv2 HW: default is /dev/pwm_output0
[code]
2) FMUv4 HW: default is /dev/pwm_output0
[code]

FMUv2
[code]
It would hav

[2017-05-17 22:01] priseborough commented on #7258
EKF2 has a PR pending for miscellaneous updates https://github.com/PX4/Firmware/pull/7252.

Items 5 and 6 close vulnerabilities, and item 1 adds an important logging message for diagnostics, the others enable a 'nice to have' feature . I can split the 'nice to have' into a separate PR if required.

[2017-05-17 22:08] davids5 commented on #7258
PR is https://github.com/PX4/Firmware/pull/7260

[2017-05-17 23:05] Antiheavy opened #7262 "EXTENDED_SYS_STATE - improve TAKEOFF and LANDING reporting"
@DonLakeFlyer suggested I post this here for @LorenzMeier and others.

We had a flight on our fixed wing this week where RTL and Pause locked out (grayed out) in Qgc until takeoff waypoint was achieved.  It should be available as soon as flight is detected I believe.

@DonLakeFlyer says:
"Firmware bug with respect to EXTENDED_SYS_STATE.landed_state mavlink message values which shows up when you re

[2017-05-17 23:18] Neels001 opened #7263 "I am unable to pusblish rostopics using MAVLINK with gazebo and px4..getting errors"
I am newbie to PX4 , I have installed Ubuntu , ros, gazebo , and Cloned the Firmware.

Mavlink, Mavros and Firmware all have been placed under catkin src folder and built.
Using ros and Gazebo7

I am trying to publish ros topics. But I am getting the Errors .

Steps I followed :

Terminal1 :

roslaunch mavros px4.launch fcu_url:="udp://:14540@127.0.0.1:14557"

Terminal2 :

source Tools/setup_gazeb

[2017-05-17 23:57] priseborough commented on #7258
I have closed the pending PR and split it into the robustness improvements that I think should go into the release:

https://github.com/PX4/Firmware/pull/7265

And the nice to have:

https://github.com/PX4/Firmware/pull/7264

[2017-05-18 02:50] davids5 commented on #7054
@dagar, @klopezal  @LorenzMeier @sanderux

Ok I have figured it out why the size is different.

When libuavcan is built it looks at CMAKE_BUILD_TYPE and sees it not set so it defines it.

This causes ```-O2 -g -DNDEBUG``` to be added to the build vars.

This is what libuavcan does:
[code]
V2:
```-rwxrwxr-x. 1 david_s5 david_s5 55640 May 17 16:31 build_px4fmu-v2_default/tmp/ROMFS/px4fmu_common/extr

[2017-05-18 02:57] dagar commented on #7054
It's the standard cmake way for switching between debug and release. We probably should have been using it properly from the beginning and any cmake subprojects will then inherit.

[2017-05-18 05:53] bkueng commented on #7258
I think this one should go in: https://github.com/PX4/Firmware/pull/7226

[2017-05-18 06:42] SujithSizon opened #7266 "[navigator] global position timeout in lpe, quad starts drifting away"
Trying to run https://github.com/TEAMIFOR/ifor_offb2/blob/master/src/test_node.cpp (makes quad move in a circle in offboard mode). It works well till halfway but then global position time-out occurs.

Parameters:
uorb start
param load
param set MAV_TYPE 2
param set SYS_AUTOSTART 4010
param set SYS_RESTART_TYPE 2
param set SYS_MC_EST_GROUP 1
dataman start
param set BAT_N_CELLS 3
param set CAL_GYRO0

[2017-05-18 06:54] saptadeepdeb commented on #7010
I was having the same problem. Used 114 LPE_FUSION, and wasnt able to change the flight mode. Position hold and Altitude hold both of them were getting rejected.

I have a laser rangefinder as well, so I didnt wanted to use the Baro of the PX4Flow (reason for keeping the 8th bit of LPE_FUSION as 0).

Also want to know what does 'pub agl lpos down' mean?

[2017-05-18 08:23] #7234 closed

[2017-05-18 08:24] LorenzMeier commented on #7194
@tops4u Does this branch fix it for you? https://github.com/PX4/Firmware/pull/7260

[2017-05-18 08:24] bkueng commented on #7259
We currently do that twice, preflight and postflight (together with the perf counters). You can use `ulog_info -v <file>` to display the data. Flight review does not display it yet.

Keeping an eye on resource usage is important, but I want to avoid adding too much instrumentation-overhead in general. CPU-load is typically very stable during flight, up to certain events like VTOL transitions or pa

[2017-05-18 08:26] LorenzMeier commented on #7258
I flagged all PRs with the milestone that I think should still go in.
https://github.com/PX4/Firmware/milestone/22

[2017-05-18 08:36] tops4u commented on #7194
I will test this today evening. I assume this does not fix the YAW behaviour?

[2017-05-18 08:41] julianoes commented on #7245
@LorenzMeier are you saying that vmount should behave as if it was a camera and answer on 100? Or should it send mavlink to 100?

[2017-05-18 08:58] LorenzMeier commented on #7245
It should accept commands on ID 100 as well such that anyone using the camera controls and default ID can control it that way.

[2017-05-18 09:09] klopezal commented on #6712
Unable to reproduce on V1.2 with jumper, waiting for V1.3 to validate and close.

[2017-05-18 13:40] julianoes commented on #7245
But vmount is a mount and not a camera, so it would have to be `154	MAV_COMP_ID_GIMBAL`.

[2017-05-18 13:40] dagar commented on #7259
Insight into things like VTOL transition is exactly what I was thinking of.

I'd still like a NuttX profiling option that's usable during HIL, but so far haven't found anything.
Maybe NuttX and QEMU? Probably a none trivial undertaking.

[2017-05-18 13:41] dagar commented on #7266
@jgoppert could you take a look?

[2017-05-18 13:42] dagar commented on #7266
Why does home init twice?

[2017-05-18 13:53] dagar commented on #7262
PX4 has a land detector (landed or not), but for takeoff and landing there's only the internal position setpoint type.

    EXTENDED_SYS_STATE
    MAV_LANDED_STATE_TAKEOFF - set anytime position setpoint current is TAKEOFF
    MAV_LANDED_STATE_LANDING - set anytime position setpoint current is LAND

For a typical mission setup this goes back to TAKEOFF (MAV_CMD_NAV_TAKEOFF) being treated like a re

[2017-05-18 14:49] nicolaerosia commented on #7253
I'll enable them and see what happens

[2017-05-18 15:16] nicolaerosia commented on #7258
navio_gpio is broken on RPI3, see https://github.com/PX4/Firmware/pull/7241

[2017-05-18 16:02] ChristophTobler commented on #7233
Thanks. So tuning is a bit better but could still be improved. Your mag seems to correlate with your thrust http://logs.px4.io/plot_app?log=cdfea96a-c47c-445c-bc6c-4a2270acb45d#Nav-Thrust-and-Magnetic-Field. Is your mag close to some power cable? If so, you should place it somewhere else.
Your quad is in `NAVIGATION_STATE_DESCEND` mode which is weird. It should be in position. Can you try taking o

[2017-05-18 16:24] dagar commented on #7261
I'm not sure I completely understand all the details here, but here are a few thoughts.

1. Most PX4 developers seem to be completely unaware of the single rate per group limitation. When this fails the error needs to be visible.
2. Users load the same airframes on both FMU+IO (px4fmu-v2, v3, v4pro, etc) devices and FMU only devices (pixracer, mindracer). If we rearrange the IO groups to 1234, 56,

[2017-05-18 16:26] DonLakeFlyer commented on #7258
FYI: I don't have time till tomorrow, then I'll do some SITL runs and sign off.

[2017-05-18 16:45] DonLakeFlyer commented on #7262
This isn't an ehancement, this is a bug. Firmware is reporting both in air and on ground at the same time.

[2017-05-18 17:16] dagar commented on #7262
Sorry, I missed your details. MAV_LANDED_STATE isn't a bitmask.

![image](https://cloud.githubusercontent.com/assets/84712/26214896/191e3908-3bcc-11e7-9f2b-bd07490f9d4e.png)

[2017-05-18 17:19] DonLakeFlyer commented on #7262
Ah, crap I was reading the values wrong. Duh!

@Antiheavy Back to the drawing board on QGC problem then. QGC code is correct in handling these as descreet values. Just my memory fading me when looking at logs.

[2017-05-18 17:28] paan2097 opened #7270 "Multiple Vehicle Simulation PX4 SITL for Planes"
There are multiple issues floating around for multi uav px4 sitl simulations but I'm having trouble getting any of them working.....there is a need for a stable and clear approach for running multiple vehicles in SITL all connected to gazebo. The multiple approaches only support iris model, but there needs to be support for all vehicles, especially planes in my case. Please provide clear instructi

[2017-05-18 17:28] SujithSizon commented on #7266
i dont know, whenever i try to arm using qgc this happens

[2017-05-18 17:54] dagar commented on #7270
This might be a good excuse to refactor the convoluted SITL launch.

[2017-05-18 18:09] AlexMalo opened #7271 "[commander] home: 47.3977420, 8.5455937, 488.10 not my home"
Hi,
I am running posix_sitl_default. But when I try to program waypoints, the waypoints are in Mexico, but the home still in Zürich.
How can I change the home latitude and longitude? I have already modified the local position estimator and navigator parameters, but still get the above parameters plus/minus 1*10^-7 for the longitude and latitude and 0.1 for the altitude.

When I try to upload my wa

[2017-05-18 18:16] dagar commented on #7271
You need to tell the simulator where to start.
Set these environments variables.

    PX4_HOME_LAT
    PX4_HOME_LON,
    PX4_HOME_ALT

[2017-05-18 18:16] #7271 closed

[2017-05-18 18:57] nicolaerosia commented on #7253
I have calibrated the sensors, commander is reporting that there are not sensors:

[code]

Here are the devices:
[code]

As you can see, there's no /dev/gyroX (GYRO_BASE_DEVICE_PATH) which commander tries to open, but there is /obj/sensor_gyro0.
Any pointers are appreciated

[2017-05-18 19:10] LorenzMeier commented on #7253
We need to refactor these checks to use the uORB API instead

[2017-05-18 19:10] dagar commented on #7253
Options
1. Split /dev/imu into /dev/gyro, accel, mag (DriverFramework)
2. Update the calibration code to be able to read combined /dev/imu
3. Update the calibration code to read from uORB instead of the block device.

[2017-05-18 19:59] nicolaerosia commented on #7253
I have created a PR which enables some of the checks.
Do you have in plan to do the refactoring?

[2017-05-18 21:29] AlexMalo commented on #7271
Thank you!

[2017-05-19 08:37] sanderux commented on #7258
@LorenzMeier should those pr's not go in before we test / sign off?

[2017-05-19 15:19] diegoeck commented on #7221
From what I understand, you have a large yaw error, and the controller is putting 4 rotors at a large value (~1800), and 4 rotors in a small value (~1400). The point is that the PWM x thrust is not linear, and even that the mean value (1600) in all motors could lift the copter, half in 1800 and half in 1400 can not lift.

 I believe that the loss of lift is due line 343 (thrust -= thrust_reduction

[2017-05-19 15:42] diegoeck commented on #7221
Also, line 343 computes yaw several times (for each rotor) but i rewrites the value, and at end "yaw" has the value computed for the last rotor. It seems strange to me..  @sanderux  can you check line 343 and comment? (in fact line 308-340).

[2017-05-19 16:00] LorenzMeier commented on #7221
My experience with Mixing is consistently that people underestimate it and by the time they have seen all side effects they leave as is.

Would anyone on this thread be up to write a proper unit test? Then we can have a data driven discussion and risk massive changes and see the effects.

[2017-05-19 16:13] dagar commented on #7221
I can help by putting the initial structure in place for mixing unit tests, but it's not yet clear to me how to make them meaningful for understanding these cases.

[2017-05-19 19:47] diegoeck commented on #7221
I can help also, but I'm not sure how to proceed...

[2017-05-19 19:48] LorenzMeier commented on #7221
@dagar Can you help just putting up the structure with the right files and inputs and outputs and a shell command? It should be as lightweight as possible. Then @diegoeck should be able to generate inputs and test the outputs.

[2017-05-19 21:23] nicolaerosia commented on #7258
Maybe this should also go in https://github.com/PX4/Firmware/pull/7272

[2017-05-20 08:34] LorenzMeier commented on #7194
@tops4u Did you get around to test?

[2017-05-20 08:40] tops4u commented on #7194
@LorenzMeier terribly sorry but not yet. I'll have a live Demo tomorrow and I'm away today so I hope to be able to Install and Test maybe on Sunday or Monday evening so you should get Feedback from me before the next TelCo.

[2017-05-20 08:55] LorenzMeier commented on #7231
Can you re-test this with RC3? The log shows big errors on the estimator side but is too incomplete to judge what the issue is or if this is just the log.

Try also to replace the microSD card with a better model / brand.

[2017-05-20 08:58] LorenzMeier commented on #7194
Not release gating. Will look into this next week.

[2017-05-21 14:29] tdnet12434 opened #7275 "Emild reach RTK GPS support"
Hi, i buy new emild reach RTK but not found any document about how it communicate to PX4.
I know that PX4 firmware doesn't support ERB format from Emild. But the NMEA should work fine?
To do this, i should connect UART from Emild reach RTK to the Serial port 4/5 on Pixhawk right?
Because i think the standalone GPS is still needed as it built-in compass is required.
So, PX4 firmware is currently su

[2017-05-22 04:16] tops4u opened #7276 "MC: Motors not Spinning after Arming"
Today I had a problem, that after connecting the Battery first and then uploading a Mission via USB I was able to arm but not flying. There have been no Warnings or Errors. Also no Messages have been logged. Only Power-Cycling did resolve the Problem.

See log (PWM Out just stays on minimum): http://logs.px4.io/plot_app?log=34d4ea13-97e0-48dc-aaf7-306c0c38e230

This happend before (see: #4706) but

[2017-05-22 04:26] tops4u commented on #7194
No news for the Serial yet (not updated yet), but a MIssion Flight today and the YAW Problem did not happen?!?

http://logs.px4.io/plot_app?log=a280ae70-50b9-4276-b79f-dfed3799f14e

[2017-05-22 06:07] yangang123 opened #7277 "backtrace"

[2017-05-22 07:10] #7277 closed

[2017-05-22 11:16] timfaner commented on #7233
I set quad mode into offboard in order to takeoff.Yestarday  I try to taking off manually and then switch to altitude and then position mode. When switched to altitude quad just go up . [Here is log.](http://logs.px4.io/plot_app?log=91cba99c-45f3-4645-8c6f-56cc4403541f). I think I might ignore some parameters and quad can't fly normally. Can you please tell me paraments to be set and step should b

[2017-05-22 14:39] nancy03610 opened #7278 "Timestamp.hpp in px4flow source code missed"
Hello, everyone. I am trying to build Flow-master.

And I got this error:

/src/Flow-master/src/lib/uavcan/libuavcan/include/uavcan/time.hpp:12:32: fatal error: uavcan/Timestamp.hpp: No such file or directory

So I look into the source code. In time.hpp, there is one line: #include <uavcan/Timestamp.hpp>
But I really didn't find this Timestamp.hpp in the direction mentioned.

How can I fix this??

[2017-05-22 15:41] ecmnet opened #7279 "OpticalFlow/LPE: POS_CTL w/o GPS"
Seems that POS_HOLD (with LPE) is rejected if using optical Flow without GPS, although local position seems to be estimated correctly. I tried it with both, FakeOrigin=1 and =0. LPE fusion flag = 242. Using LIDAR for altitude estimation (ALT_HOLD works). With vision estimates POS_HOLD works perfectly. Did I miss something here?

[2017-05-22 16:25] mhkabir commented on #7279
Can you test with EKF2? We have a lot of work going on on that side, especially with respect to flow-only flight.

[2017-05-22 17:12] jgoppert commented on #7279
I flew this last week or so. If we broke it in the meantime we really need to fix it before release. @ecmnet any logs would be good.

[2017-05-22 17:47] ecmnet commented on #7279
@jgoppert Here's a log: http://logs.px4.io/plot_app?log=80619c3c-f179-496a-bf6d-8a31e43b84d8
@mhkabir I currently stick to LPE instead of EKF2 as my focus is currently on vision based obstacle detection and local awareness. Px4Flow in my setup is used as a positioning backup, if vision estimation fails.

[2017-05-22 20:58] davids5 opened #7280 "Use px4_get_opts"
RESOLVED: `mpu6000` with no other options will hard fault!

But  the bug is most sensors, and the complete driver code base needs a pass to

1. use px4_get_opts
2. Use PX4 log.
3. test `argc > 1` and issue a usage warning.

[2017-05-22 20:59] mhkabir commented on #7280
I can do this

[2017-05-22 21:10] davids5 commented on #7280
@mhkabir - 1) it might be advantageous to look at creating a helper class for use in all the drivers. The goal would be parameterising the command line parsing (just keep in mind the  need for separate data - we need it thread safe) 2) We should also look at a round up for an API using board provided bus mapping for SPI Buses/chip selects and I2C. We should have a call to discuss the second item.

[2017-05-22 22:39] markwmuller opened #7282 "Syslink parameter acks broken Crazyflie 2"
Appears to be introduced by the fix for #6005, the parameter setting on the crazyflie 2's NRF are not reported correctly (they always report success, though the address appears to never be set). The immediately obvious problem is in "https://github.com/PX4/Firmware/blob/master/src/modules/syslink/syslink_main.h", where line 70 should be replaced by `int is_good(int i) { return _params_ack[i] != 0;

[2017-05-23 04:12] bkueng commented on #7280
For 1) see also https://github.com/PX4/Firmware/pull/7145

[2017-05-23 04:43] mhkabir commented on #7280
@bkueng Can you handle 1) in your pull request directly? It would probably be the path of least resistance.

For 2) @davids5, let's have a call later today.

[2017-05-23 05:15] bkueng commented on #7280
I'll look into it but there are many drivers and I could use some assistance. In any case I first need a solution for running multiple instances of the same driver.

[2017-05-23 08:25] tops4u commented on #7194
Today I was flying with latest Master (from yesterday). Frozen Stream and YAW Turn occurred both again.

Log: http://logs.px4.io/plot_app?log=67cfc7e3-3f79-4c72-8d6d-f892dc5cb717

Also I had the impression, that Log Download was slower than before - but that may also be related to my Laptop.

[2017-05-23 09:06] jlecoeur commented on #4846
+1
I just lost hours because of this. I used the file /etc/extras.txt to start a custom app, and I forgot to remove the file when switching to master (were obviously my app does not exist).

I agree @LorenzMeier that if you screw up your boot script you cannot expect things to work properly.
However this is currently very difficult to debug: no error indicated on LED, and nothing on mavlink.
Even

[2017-05-23 09:22] potaito commented on #6562
@mhkabir

The link is no longer leading anywhere... Can you help me track down your changes? It's probably
not compatible to `ros-indigo` anyway right?

[2017-05-23 09:57] mhkabir commented on #6562
It is already in mavros master. It will not be backported to indigo however.

[2017-05-23 13:01] garlinplus opened #7285 "the ORB_ID(vehicle_attitude_setpoint) topic in VTOL_att_control_main.cpp"
In this file ,the topic is not needed to publish.

[2017-05-23 13:17] dagar commented on #7285
Hi @garlinplus, VTOL definitely needs to publish a vehicle_attitude_setpoint, unless there's another spot where it isn't being used. Can you point it out?

[2017-05-23 13:17] #7285 closed

[2017-05-23 15:23] potaito commented on #6562
Ah okay, thank you! Could have figured that out...

[2017-05-23 16:41] Seanmatthews commented on #6562
@potaito Follow source build instructions here to get the upstream timestamp passthrough functionality: https://github.com/mavlink/mavros/tree/master/mavros#source-installation

Note that step 3 should also include `--rosdistro kinetic` flag.

[2017-05-23 18:26] mhkabir commented on #6562
@Seanmatthews does VI-SLAM work for you at the moment?

[2017-05-23 19:03] Seanmatthews commented on #6562
@mhkabir Yes it does, to a certain degree. I have it integrated with MAVROS, but the algo itself seems to fail on takeoff due to not being able to hold onto points during shaky takeoffs.

[2017-05-23 20:56] LorenzMeier commented on #7282
Thanks for reporting! @dennisss Any chance you could look into this and cross-test?

[2017-05-23 20:57] LorenzMeier commented on #7282
@hamishwillee We probably should make sure the Crazyflie 2 support is documented in the user guide: https://www.bitcraze.io/crazyflie-2/ It's a really nice platform. @dennisss Can probably help.

[2017-05-23 21:04] mhkabir commented on #6562
@Seanmatthews ok, interesting. Would you mind doing a small writeup of what you had to do to get it running, including mavros config and camera-IMU calibration, etc ? We would like it on dev.px4.io!

[2017-05-23 21:47] dennisss commented on #7282
I'll take a look later today and see if I can replicate it. I do remember that I think I've had this issue with address (or channel) where old versions of the NRF firmware didn't have this parameter defined and an update of the Bitcraze firmware was needed to get it working.

[2017-05-23 22:21] markwmuller commented on #7282
Hi Denis -- sure, thanks. Note that the diagnostic function will now always return "good", even if the params fail (the index `i` is never used in the function `is_good`).

[2017-05-23 22:30] LorenzMeier commented on #4846
@jlecoeur Can you please try the following:

1) Add `set +e` to the top of your NSH script on CURRENT master
2) Try adding an incorrect command to your SD card

It should not abort any more, just throw an error on the shell. If that works, can you send a PR? We gained this ability only recently.

[2017-05-24 00:06] hamishwillee commented on #7282
@LorenzMeier I suggest we add it to the [airframes](http://px4.io/technology/airframes/) on px4.io. Should we also add [bebop](https://dev.px4.io/en/advanced/parrot_bebop.html) there? (as an aside, shouldn't [bebop](https://dev.px4.io/en/advanced/parrot_bebop.html) be in airframes section rather than debugging/advanced topics?)

I've created https://github.com/PX4/px4_user_guide/issues/19 to track

[2017-05-24 00:14] hamishwillee commented on #7028
FYI all, the docs updates are now "live" as the [mode docs under here](https://docs.px4.io/en/flight_modes/), the doc [Landing (Fixed Wing)](https://docs.px4.io/en/flying/fixed_wing_landing.html) and these [brief notes on takeoff and landing](https://docs.px4.io/en/flying/basic_flying.html#takeoff-and-landing) at the end of the "Flying 101" doc.
They may not be perfect, so feel free to raise docs

[2017-05-24 01:13] garlinplus commented on #7285
Hi,dager.
I search the topic in whole project, and I find four cpp file publish the topic.the four as followed:
1.fw_pos_control_l1_main.cpp
   The L1 control will modify the attitude setpoint in auto mode, so the topic is needed to publish.
2.mavlink_receive.cpp
   The gcs can send the attitude setpoint to aircraft,so the topic also should be published
3.navigator_main.cpp
   The navigator_main.c

[2017-05-24 01:59] dennisss commented on #7282
@markwmuller I see what you mean now. Your correction to line 70 there is definitely correct.

But, with latest master and latest NRF firmware (flashed using a crazyradio and the `cfloader flash cf2_nrf-2016.11.bin nrf51-fw` command in crazyflie-lib-python) I am able to change all three channels and connect externally via the radio. So it seems to be possibly a version issue. Otherwise, with the l

[2017-05-24 08:43] potaito commented on #6562
So I thought I made it work, but the pose drifts away rather quickly, even when the quad is not moving. Here's what I did (similar to @Seanmatthews):
- Getting IMU messages from mavros instead of the board directly by replacing the IMU API calls in SnapdragonVislamManager with a ROS `sensor_msgs::IMU` callback.
- In the mavros sources (I'm on the indigo devel branch), I overwrite the IMU messages'

[2017-05-24 13:38] dagar commented on #7285
VTOL is a little more complicated. It intercepts the attitude setpoint published by the FW and MC position controllers, modifies it during transitions, then republishes to the attitude controllers.

[2017-05-24 15:46] potaito commented on #6562
Ok so apparently the IMU messages need to have Y and Z inverted before passing it to VISLAM. Not as I have described above. Correct version:
[code]

[2017-05-24 15:47] mhkabir commented on #6562
Is it better now? I don't see how that conversion makes sense though.

[2017-05-24 15:53] potaito commented on #6562
Yes, sorry I was not clear on that. The drifting occurred because of my wrong IMU transformation. Now the tracking seems accurate and reasonable. I did not actually fly with this odometry yet though.

[2017-05-24 16:09] bresch opened #7288 "Yaw/thrust saturation and loss of control during flight"
Hi everyone,

During a position control flight with my VTOL (in MC mode only), I encountered a really strange behavior. After flying perfectly well, the yaw control was suddenly lost and the drone was loosing altitude.

![esc_response2](https://cloud.githubusercontent.com/assets/14822839/26549616/2bc1ae62-447a-11e7-81eb-4d79c5c93205.png)

As you can see, around t=59s, the drone did not respond to

[2017-05-24 16:47] rkintada commented on #6562
Hi All,

This excellent to know that basic integration is working.

The example expects the IMU to the in the RAW imu frame co-oridinate( this is configured in the tbc and ombc of the VISLAM example).  Here is the documentation of the same:
https://github.com/ATLFlight/ros-examples#imu-to-camera-transformation

If you are not changing the VISLAM parameters then you will need this transformation.

[2017-05-24 20:45] markwmuller commented on #7282
@dennisss Yup, thanks! Updating NRF firmware now makes param set OK.

[2017-05-25 04:48] hamishwillee opened #7289 "FW_LND_USETER"
[FW_LND_USETER](https://dev.px4.io/en/advanced/parameter_reference.html#FW_LND_USETER) description says:

Can we add a comment to this parameter:

[2017-05-25 05:38] kevinjhur commented on #6919
This is due to no power to LiDar.
Actually the aux ports of Pixhawk do not supply 5V Vcc. You can check there is no power from mid of aux 6.
Please use other power line.

[2017-05-25 06:45] garlinplus opened #7290 "the problem of topics of vehicle_attitude_setpoint and vehicle_rates_setponit"
In fw_pos_l1_control_main.cpp and mc_pos_control_main.cpp, the  variable _attitude_setpoint_id is used to publish the vehicle attitude setpoint . The variable is decided as followed:

in the mc_pos_control_main.cpp

[code]

in the fw_att_control_mian.cpp

[code]

The above code means if the plane is vtol plane, the position controller of mc will publish the vehicle attitude setpoint with ORB_ID(mc

[2017-05-25 10:07] garlinplus opened #7291 "TECS underspeed velocity rate limits"
The function as followed:

[code]

the bug as followed:

	if ((_badDescent) || (_underspeed)) {
		velRateMax = 0.5f * _STEdot_max / _integ5_state;
		velRateMin = 0.5f * _STEdot_min / _integ5_state;

	} else {
		velRateMax = 0.5f * _STEdot_max / _integ5_state;
		velRateMin = 0.5f * _STEdot_min / _integ5_state;
	}

[2017-05-25 10:28] garlinplus opened #7292 "the problem of TECS::_detect_underspeed() in tecs.cpp"
the function as followed:
void TECS::_detect_underspeed()
{
	if (!_detect_underspeed_enabled) {
		_underspeed = false;
		return;
	}

	if (((_integ5_state < _TASmin * 0.9f) && (_throttle_dem >= _THRmaxf * 0.95f)) || ((_integ3_state < _hgt_dem_adj)
			&& _underspeed)) {

		_underspeed = true;

	} else {
		_underspeed = false;
	}
}

the bug :+1:
if (((_integ5_state < _TASmin * 0.9f) && (_throttle_dem

[2017-05-25 11:14] pavel-kirienko commented on #6940
@LorenzMeier @eyeam3 can we move this discussion forward please?

[2017-05-25 11:16] pavel-kirienko commented on #7278
The DSDL compiler for libuavcan was supposed to generate `Timestamp.hpp` at build time, but for some reason it didn't. Please review your build process, perhaps something is broken.

[2017-05-25 12:41] garlinplus opened #7293 "critical bug in in the TECS::_update_energies()"
The function code as followed:

[code]

In above code the variable named  _SPEdot_dem denotes the speed of change of the Gravity potential energy, And the variable name _SKEdot_dem means the speed of change of kinetic energy.
With Kinetic energy theorem Ek = 1/2*m*v^2 ，
we can know _SKE_dem = 0.5f * _TAS_dem_adj * _TAS_dem_adj.
So the speed of change of kinetic energy is the derivative of _SKE_dem

[2017-05-25 15:24] stlfatboy opened #7294 "pixracer wont save configure with qgc"
sometime setup airframe will not take effect.

[2017-05-25 15:24] stlfatboy commented on #7294
px4 1.5.5 with qgc3.0.1

[2017-05-25 16:36] tubeme commented on #7289
I think it is the Baro Altitude used for the landing and not the GPS Alt. I don't know if we use GPOS.Alt for the landing...

[2017-05-25 16:44] jgoppert opened #7296 "Support ROS REP 147 Odometry Message"
http://www.ros.org/reps/rep-0147.html

I'm going to start work on this. I need it for SLAM on the ROS side.

I've got a corresponding issue in mavlink. I need to add the mavlink message there first, then will add the handler for the px4 firmware.

see https://github.com/mavlink/mavlink/issues/721

[2017-05-25 17:41] ganeshrk95 opened #7298 "SITL Gazebo unable to echo Gazebo Topics"
I have the latest master cloned. When I run the basic IRIS SITL using:

`make posix_sitl_default gazebo`

After the model loads and PX4 shell opens, I did:

`gz topic -l `

I get the following
![screenshot from 2017-05-25 13 20 35](https://cloud.githubusercontent.com/assets/13117114/26462633/937dde82-414f-11e7-9769-73a40ffb70b3.png)

I just cannot echo any iris related topics using:

`gz topic -e

[2017-05-25 22:07] hamishwillee commented on #7289
@tubeme - either way, the current docs are clearly not correct/sufficient.

This information was from @dagar - can you confirm what is correct?

[2017-05-26 03:20] m1577 commented on #5174
I have the same problem with "timeout", i am using ttyUSB0 57600 whith mocap/pose. Could you help me?

[2017-05-26 04:49] stlfatboy commented on #7294
also with qgc 3.1.3

[2017-05-26 07:11] AlexisTM commented on #5174
@m1577
Could you try things in the comments here?

- 7Hz publishing
- Use realtime tools for your publisher : http://wiki.ros.org/realtime_tools
- Use Higher baudrate (115200 or 921600, the second is the proposed for a companion computer)
- Finally, use a FTDI cable or a hardware serial from your companion computer

[2017-05-26 11:44] leomatrix commented on #6791
I have the same problem....

[2017-05-26 11:44] vrjparikh commented on #5174
Hey, We are using a VICON system + Pixhawk on our Drone. We have Configured the Firmware, and are able to get the mocap data on the local_position/pose topic. Now this data(pose) comes in realtime while using USB connection, but on connecting with a ESP8266 the refresh rate falls down to about 1 Hz, which spoils the entire system. Any ideas on how to boost this data speed. All the packets are bein

[2017-05-26 13:24] potaito commented on #6562
@mhkabir
I would like to understand the `imesync_mode::ONBOARD` you in mavros. In the code I can see that an offset between `CLOCK_REALTIME` and `CLOCK_MONOTONIC` is computed. The IMU messages from mavros are then sent with the realtime time stamp. Shouldn't there be a way to obtain the offset from mavros too now? Assuming I want to adapt the image timestamp before passing it to VISLAM, I would wa

[2017-05-26 18:11] m1577 commented on #5174
@AlexisTM
thanks for answering, I am not using a companion computer, I have installed mavros in a ubuntu pc and  use the telemetry to communicate with my drone.
I am a beginner in ros or mavros and I have some questions:

How do I know the timestamped is correct?
How do I know if my optitrack clock is in sync with my ROS clock?
How can I be publishing at 7Hz?

I will try using a higher baudrate.

[2017-05-26 19:29] AlexisTM commented on #5174
@vrjparikh The quick fix would be to increase the timeout of mocap or vision. If you are using LPE, those are [vision.cpp](https://github.com/PX4/Firmware/blob/master/src/modules/local_position_estimator/sensors/vision.cpp#L15) and [mocap.cpp](https://github.com/PX4/Firmware/blob/master/src/modules/local_position_estimator/sensors/mocap.cpp#L10)

For the mocap topic, the default timeout is 0.2s an

[2017-05-26 19:49] AlexMalo opened #7302 "qground in one place and jmavsim in another"
qground reads  and uses PX4_HOME_(LAT,LON,ALT) parameters, gazebo_plane also; but jmavsim does not use them.

[2017-05-26 22:31] LorenzMeier commented on #7258
I'm closing this as we discussed this on the last dev call.

[2017-05-26 22:31] #7258 closed

[2017-05-26 22:32] LorenzMeier commented on #7294
Thanks for reporting, but cross-testing suggests this is working. I'm closing this as a hardware failure. Please contact the vendor.

[2017-05-26 22:32] #7294 closed

[2017-05-26 22:34] LorenzMeier commented on #7302
Yes, that's not supported in jMAVSim. That's not great but its not a real issue - feel free to send a pull request adding the functionality.

[2017-05-26 22:34] #7302 closed

[2017-05-26 22:39] LorenzMeier commented on #7142
@NaterGator Any news on this?

[2017-05-26 23:07] tubeme commented on #5595
Any progress in this research? We continue to have nasty problems with the airspeed related to temperature. There are cases where we get a 15m/s difference between morning and afternoon flights in California where the temp difference is huge between morning and afternoon. Everybody is waiting for the new 55 chip which states that has temp compensation, and indeed it has a totally different way of

[2017-05-27 08:17] lfynevermore opened #7303 "tilt-rotor switch throttle problem"
We found that when the tilt-rotor switched from mc mode to the fixed wing mode, the throttle would drop to its lowest point，it caused the speed of motors drop down, and then go back to normal about 0.1 seconds later. Is this caused by switching logic? Will it affect the flight?
![image](https://cloud.githubusercontent.com/assets/17290420/26519681/fdf14372-42f7-11e7-8d26-b6f176df8543.png)

[2017-05-27 08:29] garlinplus commented on #7303
it  should be switched in fix wing mode

[2017-05-27 13:13] sanderux commented on #5595
@tubeme https://docs.px4.io/en/advanced_config/vtol_without_airspeed_sensor.html

[2017-05-27 14:15] tubeme commented on #5595
Thanks @sanderux We are preparing a machine for this use allready and we will try it. Are the TECS going to work in this scenario and prevent stalls during long mission flights? Is there a way to detect stall without the airspeed and trigger some reaction during flight in guided modes?

[2017-05-27 15:38] LorenzMeier commented on #5595
We will test next week a sensor from SENSIRION. That should also help.

[2017-05-27 16:06] sanderux commented on #5595
@tubeme i have found that tecs responds quite well when you have good min/max pitch angles set.

[2017-05-27 17:18] tubeme commented on #5595
@LorenzMeier Which one? https://www.soselectronic.com/products/freescale/mpx-5500-dp-9006. Do you have a PCB for the test? We might buy some samples as well. Is there a driver for the PX4 or are you going to bench test it only in a lab? Thanks.

[2017-05-27 17:19] tubeme commented on #5595
@sanderux Thanks for the info, we will find out in real conditions. :) Hope the plane will survive...

[2017-05-27 17:35] Shpiler opened #7305 "Empty log after crash - v1.6.0 RC3"
When does it write a log file to sd card? After crash I found log file empty. The only useful thing I got is that txt:

2017_05_27_08_48_14: main state transition denied
2017_05_27_08_50_15: ARMED by arm/disarm component command
2017_05_27_08_50_25: Takeoff detected
2017_05_27_08_50_30: [logger] file: /fs/microsd/log/2017-05-27/08_50_1
2017_05_27_08_50_40: Mag #0 fail:  TOUT!

but given it ended u

[2017-05-28 02:48] lfynevermore commented on #7303
yes,it switched from mc mode to fw mode, but i want to know why it occurred a 0.1 seconds' throttle drop at the last of switch transition, how can i avoid this process, or increase the throttle immediately at the moment when it switched to fw mode? is it related to the flight mode in mc mode?

[2017-05-28 02:57] garlinplus commented on #7303
because in the mc mide,the input of motor(in fact its esc)include pitch  control quantity and  throttle quantity.But when it's switched  in fix wing mode,the pitch control  in only  decided by  elevator ,so the control  output  decrese.

[2017-05-28 03:21] lfynevermore commented on #7303
it can be shown in the figure, the throttle decreased to the lowest point(900 PWM), it is not only caused by pitch control, i think it seems like a restart process, and maybe caused by the switch logic.

[2017-05-28 03:29] garlinplus commented on #7303
are you chinese?

[2017-05-28 06:07] lfynevermore commented on #7303
yes 发自网易邮箱大师 在2017年05月28日 11:30，garlinplus 写道： are you chinese? — You are receiving this because you authored the thread. Reply to this email directly, view it on GitHub, or mute the thread.

[2017-05-28 10:07] abdullahmohiuddin commented on #6646
@nahush8 were you able to fly stably ?
I think in my case, the LPE pose and the mocap pose are the same, but still there is some unstability.

[2017-05-28 16:18] nahush8 commented on #6646
@abdullahmohiuddin  Nope ! I could never get it running perfectly.
Try Fake GPS using Mocap: https://dev.px4.io/en/advanced/fake_gps.html
It works much better than this.

[2017-05-28 17:17] TSC21 commented on #6646
@jgoppert any thoughts on this?

[2017-05-29 07:12] bkueng commented on #7305
The log is continuously written to the SD card (with a very short buffer). If you don't find the log, it most likely means the file system on the SD card got corrupted. You might be able to get it with some recovery tool.

[2017-05-29 07:35] Struder47 opened #7307 "Connection to Matlab/Simulink"
Hi,

sorry in advance if this is the wrong place to leave my question.

I have a working Matlab Simulink model of a Quadcopter and would like to connect it to the SITL Simulation of PX4. My plan is to modify the jMAVSim in a way that instead of calculationg all the Forces etc. whithin the jMAVSim it actually calculates them in Simulink and passes (using UDP) the information to the jMAVSim (which w

[2017-05-29 07:38] abdullahmohiuddin commented on #6646
@nahush8 Have you tried Fake GPS?
Could it be because when you fake GPS, you keep fusing the other sensors?

[2017-05-29 07:43] abdullahmohiuddin commented on #6646
![image](https://cloud.githubusercontent.com/assets/19902145/26540703/af700784-4463-11e7-84d0-41c9f7bdfab0.png)
![image](https://cloud.githubusercontent.com/assets/19902145/26540710/b8f46930-4463-11e7-8234-9b465bfa752a.png)
![image](https://cloud.githubusercontent.com/assets/19902145/26540714/bfddeaa0-4463-11e7-96f1-50cd0aff8380.png)

These are my x y z  setpoints and also the way it follows it. W

[2017-05-29 07:43] mhkabir commented on #6646
You need controller tuning.

[2017-05-29 07:47] abdullahmohiuddin commented on #6646
Thank you so much @mhkabir for the earliest reply.
It seems in my case that the attitude rate and attitude control, both are working fine.
I suspect the velocity control needs tuning. How do you suggest I should move forward?
I mean , am I correct in assuming my velocity control needs tuning?

![image](https://cloud.githubusercontent.com/assets/19902145/26540890/9a34d718-4464-11e7-88bc-456239a86ee

[2017-05-29 07:57] mhkabir commented on #6646
Yes, seems so.

[2017-05-29 08:16] xj19941015 commented on #5597
i add a new mavlink messages ,but my qgc cannot receive it  .what is wrong

[2017-05-29 08:25] abdullahmohiuddin commented on #6646
Ok, is there any recommendation, as to where to start, and how to proceed?
Should I increase the parameters and with what percentage?

[2017-05-29 12:45] bresch commented on #7288
New log from this morning, same issue after less than 3 minutes.
Same sequence:
1. No yaw response to the motors ramping up and down (t=[167,170]s)
2. Altitude loss
3. Thrust saturation
4. No more yaw control

![yaw_control](https://cloud.githubusercontent.com/assets/14822839/26550234/ff224c10-447c-11e7-9d99-c80f70324bd3.png)
[FlightReview link](http://logs.px4.io/plot_app?log=28ee3ee8-5a91-448e-8

[2017-05-29 13:24] ChristophTobler opened #7309 "Stuck during mission, if altitude higher than max height"
For a survey I did, the default altitude was higher than the max height and the quad got stuck because it never reached the waypoint.
Here's the [log](http://logs.px4.io/plot_app?log=c828d9ab-c6de-4034-a4ce-9ea5222faf74)

[2017-05-29 14:39] bresch commented on #7288
I maybe found the issue in the `mixer_multirotor.cpp` file ([link](https://github.com/PX4/Firmware/blob/master/src/modules/systemlib/mixer/mixer_multirotor.cpp#L326-L337)).
[code]
When the output saturates, the `thrust_reduction` is computed but the new yaw value is then computed again with the old unreduced thrust. The final result is then a reduced thrust with no yaw control.

[2017-05-29 16:26] bresch commented on #7288
I fixed the computation of the new yaw value with the modified thrust and flew three times like a crazy pilot to reach the saturations and now it's fine. I'll do a PR for the fix.
You can see the logs [here](http://logs.px4.io/plot_app?log=08e124ec-c9d0-4205-a740-9e48006290d9), [here](http://logs.px4.io/plot_app?log=4105252f-3d0b-48a7-9190-93a3e0cc8769) and [here](http://logs.px4.io/plot_app?log=c

[2017-05-29 19:43] nicolaerosia commented on #5245
I'm also experiencing ms5611 sudden jumps in both temperature and pressure, I'm using Navio2 on RPI v3, master
[code]

[2017-05-29 20:26] nicolaerosia commented on #7239
PR merged

[2017-05-29 20:26] #7239 closed

[2017-05-29 20:28] nicolaerosia commented on #5695
can this be closed?

[2017-05-29 21:09] nicolaerosia commented on #5245
Taking a look at the raw values, it seems that if the temperature raw value is 0, the pressure value will also be broken, even more, if the pressure value read is zero, the next temperature reading will be broken (non-zero).

[2017-05-29 21:32] nicolaerosia opened #7311 "MS5611 sudden temperature and/or pressure jumps"
Hello,

I'm experiencing sudden jumps in temperature and/or pressure jumps on RPIv3 + Navio2.
It looks like that from time to time, the read value for temperature is 0, in which case the next value to be read will be invalid (pressure). The same applies for pressure reading, if it is zero, the next reading (temperature), will be invalid.
Since a sample is composed of a temperature & pressure readi

[2017-05-29 21:38] tubeme opened #7312 "1.6.0 Problem: Loiter Change Altitude"
In PX4 1.6.0 In FW if the plane is in Loiter and we set change altitude in QGC, once the change is confirmed with the slider the plane changes its current center dot to the point where the slider conformation is done so the loiter continues with a new center spot.

My expectation is once the change altitude is confirmed in QGC to see the plane gain or loose altitude with the current circle  that i

[2017-05-30 00:52] t413 commented on #4983
Thank you @alexFab! I made a N3904 inverter as you suggested and it worked like a charm. CPPM from my OpenLRS receiver works great. Here's what my inverter looks like: (pre heat shrink)

![img_5234](https://cloud.githubusercontent.com/assets/326829/26564532/d1e582ca-4496-11e7-8f7a-9a5ee86effd9.JPG)

[2017-05-30 05:14] #7262 closed

[2017-05-30 05:40] dagar commented on #7312
This is arguably more of a QGC issue as it's sending a new REPOSITION (with lat, lon) each time.
We could discuss implementing MAV_CMD_DO_CHANGE_ALTITUDE, but it's missing on both sides.

[2017-05-30 06:01] #7288 closed

[2017-05-30 07:49] imrhch opened #7313 "Invalid setpoint yaw after takeoff"
https://github.com/PX4/Firmware/blob/master/src/modules/navigator/mission_block.cpp#L528

I believe sp.yaw_valid should be set correctly in the MissionBlock::mission_item_to_position_setpoint according to (mission) item->yaw.
When yaw_valid is already true (in my case it was set when taking off using MAV_CMD_NAV_TAKEOFF) and mission_item_to_position_setpoint is called with mission item containing

[2017-05-30 08:11] Stifael commented on #7288
@bresch:
what I still don't get why the velocity setpoint is at zero for both vx and vy despite the fact that the vehicle is in position control using just velocity control loop:
![tracking_failure](https://cloud.githubusercontent.com/assets/13449161/26574092/5f9d1c5c-4520-11e7-9d2a-a7b439ec6d1d.png)

[2017-05-30 08:13] Stifael commented on #7288
and once you switch the mode, everything is fine. seems like there is another issue independent of the mixture...

[2017-05-30 09:14] bresch commented on #7288
@Stifael Could you explain a bit more the issue you are pointing out please? I don't get it. And from which log is your plot?

[2017-05-30 09:19] tops4u commented on #6260
@dagar I upgraded my Pixracer to 1.6.0 RC and now the OSD there shows the same Problem. Did any change to the MAVLINK and/or OSD Handling happen which might confuse the OSD Logic?
I have noted that even when there is no Stream Frozen Message the Altitude is updated only sporadically - which is very anoying when I try to reach a certain Altitude I always under- or overshoot.

I use this Firmware on

[2017-05-30 11:26] Stifael commented on #7288
@bresch: it is from the log that you posted.
why did you assume from the beginning that just the yaw control was lost?

[2017-05-30 12:03] jlecoeur commented on #4846
@LorenzMeier your solution works, thanks!
However I am not sure if you meant sending a PR to make `set +e` the default. I do not think that failing silently by default is a good solution because one may want to be sure a custom app is running before taking off.

I added a paragraph in the doc in PR https://github.com/PX4/Devguide/issues/166 to mention the problem, and the `set +e` solution.

I als

[2017-05-30 13:02] bresch commented on #7288
@Stifael You are right. I found that it coincides with the value of the x-y RC stick going to the central position. Do you think it is related?
![vy_tracking](https://cloud.githubusercontent.com/assets/14822839/26584361/ce79e16e-4548-11e7-9b8e-3170bb4d41f4.png)
(The RC value not shown is at 0)

[2017-05-30 13:05] tubeme commented on #7312
I Understand. In this situation PX4 is not very useful regarding professional observation work. With a proffessional observation work we have a lot of situations where we can spend hours in loiter in order to have a better look at something. A lot of times it involves gaining or loosing altitude. It does not matter if we use Zoom camera or not. Zoom has its limitations and also the stability of th

[2017-05-30 13:19] dagar commented on #7312
@DonLakeFlyer any opinion for how you'd like to handle this situation?
Either implement MAV_CMD_DO_CHANGE_ALTITUDE or allow altitude only changes in MAV_CMD_DO_REPOSITION?
I can implement the PX4 side.

[2017-05-30 13:23] mhkabir commented on #7221
We encountered it on two airframes (VTOL and MC). This should be fixed by https://github.com/PX4/Firmware/pull/7310, which is now in master.

Please test @lamping7. Please reopen if still an issue.

[2017-05-30 13:23] #7221 closed

[2017-05-30 14:07] mhkabir commented on #7288
If the sticks are at zero, shouldn't the vel sp still have some value because it's trying to hold position against external disturbances?

[2017-05-30 14:23] Stifael commented on #7288
not necessarily. if the vehicle has not entered position control, then the velocity setpoint will be zero. The vehicle enters position control only if the stick are close to zero and the velocity is low

[2017-05-30 14:27] Stifael commented on #7288
so the param that defines the threshold for entering position control is MPC_HOLD_MAX_XY, which is set to 0.8. But the velocity in y is ~3m/s, so the vehicle should not have entered position control and therefore is completely fine to have a velocity setpoint of 0. Nonetheless, still strange to have such a bad tracking right it setpoint goes to zero

[2017-05-30 14:50] dagar commented on #6260
No, but I personally don't use OSDs anymore.

1. Have you reproduced this on more than one autopilot?

2. Can you reproduce it if you only connect an OSD and nothing else?

[2017-05-30 15:54] tops4u commented on #6260
@dagar

1. Yes on a Pixracer and on AUAV-X2

2. Yes the Pixracer has no Telemetry only the OSD.

[2017-05-30 16:23] bresch commented on #7288
The position tracing was really bad in this log because I had a misalignment of the mag heading and the frame heading. The correction was then projected into a slightly rotated frame which causes a "circling around position" error. The issue isn't on the control side.

[2017-05-30 16:39] paan2097 commented on #7270
@dagar Any hope for refactoring soon? I've adapted denniss/tansa repo to work for multiple planes but am still running into multiple issues. Thanks

[2017-05-30 16:42] samA94 opened #7317 "SITL low acceleration for distant waypoints"
I am using v1.6.0 of the firmware and setpoint_raw (type_mask = 0b0000101111111000) in mavros (also tested using QGC with similar results).  The acceleration in the simulator seems to be scaled down based on the distance to the waypoint (farther waypoint => lower acceleration).  So, for a waypoint 500m away, it takes 10-15 seconds to accelerate to just 1 m/s.  Increasing the distance to 1000m incr

[2017-05-30 16:43] Stifael opened #7318 "PX4 Flight Stack Structure Proposal"
As in any large project, it is important to not only add new features and fix legacy code, but also to have a common goal in mind in terms of software architecture to make better judgments about future improvements. In addition, it is more than overdue to work on a software diagram of the PX4 project that represents the current and future architecture.

The link below shows a first a example of a

[2017-05-30 16:48] Stifael commented on #7318
https://github.com/PX4/Firmware/issues/7055

[2017-05-30 16:52] nicolaerosia opened #7319 "land_detector detects takeoff/landing with motors disconnected"
Hello,

As I'm preparing for my first flight, I'm trying to check as many things as I can and I've stumbled upon this issue.
Worth mentioning is that propellers are not attached.

If I do commander arm, raise the throttle, then land_detector detects takeoff, and landing when I lower the throttle.

Log here: http://logs.px4.io/plot_app?log=3381ef1b-73e3-4cc7-afa6-a24028f7dabc
[16_34_54.zip](https:/

[2017-05-30 16:57] dagar commented on #7318
It's really great to see this written down!

We'll need to review OFFBOARD and the complexity of position_setpoint (https://github.com/PX4/Firmware/blob/master/msg/position_setpoint.msg).

[2017-05-30 17:05] mcharleb commented on #7318
This is a great step forward in making the code a bit more approachable for developers.

[2017-05-30 17:12] Stifael commented on #7318
as far as i know, the offboard needs some rework for sure. right now I think the triplets are exploited for offboard...
We  were not entirely sure where the offboard setpoints should be handled. this definitely needs farther discussion

[2017-05-30 17:14] jgoppert commented on #7270
I did some work on this. I wrote a modified vehicle spawn python script where you can specify sdf params to rewrite. I will submit it as a pr when I get it cleaned up.

[2017-05-30 17:14] dagar commented on #7270
I'm interested in helping, but I haven't actually needed multi vehicle sim yet. Someone more familiar with gazebo and in need of the solution should probably drive the effort. With the design/architecture for handling multiple vehicles in place I'd want to help make it as clean/simple as possible for the 1 vehicle case.

[2017-05-30 17:23] mcharleb commented on #7318
@Stifael What do you think about platform support layering? Would it help to factor out Linux, QuRT and NuttX support into separate git repos? One of the concerns that I have heard about PX4 is the size of the codebase, but a lot of that is platform support and drivers. Using git submodules makes it difficult to use different collections of layers (NuttX, DriverFramework, etc). Perhaps something l

[2017-05-30 17:33] dagar commented on #7319
Manual input is a factor for manual modes.
https://github.com/PX4/Firmware/blob/master/src/modules/land_detector/MulticopterLandDetector.cpp#L207

[2017-05-30 18:11] achakra2 opened #7320 "Absolute thrust"
How can I calculate the absolute value of thrust generated in Newton. The controller uses normalized value of thrust and all the output is also normalized value. Any ideas?

[2017-05-30 18:32] marcelinomalmeidan opened #7322 "odom.twist.linear is in body frame"
I am not sure if this is an issue, but I couldn't find a reason for this to be.
The message that I get in Mavros for local odometry has linear position expressed in (local) world frame, while linear velocity is expressed in body frame. Is there a reason for this to be?
It would be more intuitive to me if linear velocity was expressed in some inertial frame, instead of body frame.

[2017-05-30 19:47] mhkabir commented on #7320
You would need a vehicle model and a motor model in your speed controllers.

Closing this as its not a flightstack issue. Please feel free to continue discussion on discuss.px4.io

[2017-05-30 19:47] #7320 closed

[2017-05-30 19:49] mhkabir commented on #7322
As far as I remember, it's a ROS standard. PX4 sends the data in the inertial frame. You should check the mavros transforms.

Please reopen on mavros side if desired.

[2017-05-30 19:49] #7322 closed

[2017-05-30 19:51] mhkabir commented on #7319
This is not really a bug. The system assumes that it's taking off because it has no other feedback to make a decision with. GPS isn't accurate enough to make that decision either.

[2017-05-30 20:34] marcelinomalmeidan commented on #7322
@mhkabir, you are right!
According with odom documentation, this is how it is supposed to be:

Thanks for pointing that out!

[2017-05-30 21:34] svpcom commented on #7051
@MaEtUgR cdd7c57dedbe5f298f04eee2cb74d5e4a81e37ba doesn't help

[2017-05-30 21:37] mhkabir commented on #7051
I just saw this in flight a few days back. I can't match up the logs, but I was flying master as of that day. I was flying really aggressively in stabilize mode. It would oscillate heavily when I commanded completely opposite responses when rolling pitching to ~45 degrees in the other direction.

Will send logs when I find them.

[2017-05-30 21:49] tubeme opened #7323 "Arming without Current sensor."
Hello guys,

There is protection in the PX4 for good, which does not allow to arm the PX4 if there is no voltage and amp sensor connected. But we are building a machine with a 14S and really does not have a way to measure the current because it is in the 500A+ range. We will make voltage sensor for the tests and my question in advance before the tests is - is there a problem not having the Amp sen

[2017-05-30 22:08] svpcom commented on #7051
@mhkabir  my logs: http://review.px4.io/plot_app?log=ba03e0b6-9146-4e42-aac7-50d2ba333b2a
Was tested without props in hands in ALT_CTL mode

[2017-05-30 22:17] dagar commented on #7323
Voltage sensor only is fine. Be safe!

[2017-05-30 22:17] #7323 closed

[2017-05-30 22:21] svpcom commented on #7051
@MaEtUgR  @mhkabir It seems something bad happens with mixer if pitch control is near 0.5 (see at 34:20 - 34:40). May be float precision lost somewhere in mixer code when substracting 0.5 ?

[2017-05-30 23:01] #7259 closed

[2017-05-30 23:33] anuppari opened #7324 "Unclear firmware version <=> hardware correspondance in documentation"
It is unclear which firmware version should be used with the [Pixhawk Mini](https://store.3dr.com/products/3dr-pixhawk) (i.e., FMUv2, FMUv3, or FMUv4).
The [documentation page](https://docs.px4.io/en/flight_controller/pixhawk_series.html) lists it as v4, however QGC refuses to flash v4 citing incompatible board ID:
![pic2](https://cloud.githubusercontent.com/assets/3847301/26609374/f6c15da4-455d-1

[2017-05-30 23:52] anuppari commented on #7324
Also, QGC seems to automatically download v2, so is that the correct one?

![pic3](https://cloud.githubusercontent.com/assets/3847301/26609816/c21ebf6c-4560-11e7-9a5e-4bde68c7861a.png)

[2017-05-30 23:53] hamishwillee commented on #7289
Thanks @dagar

[2017-05-31 00:46] m1577 commented on #5174
@AlexisTM
I tried increase the timeout to 0.5, 0.7 0.9s of mocap but I am getting the same answer.
Can you explain me a little more detailed, how can i get to 7 Hz?? I do not know how to use ros::rate and buffer, when

[2017-05-31 04:16] mhkabir commented on #7324
v2 or v3 for the Pixhawk Mini. The v3 target uses the full 2MB flash.

I will fix the documentation in a minute. Sorry about the confusion.

[2017-05-31 05:59] nicolaerosia commented on #7319
Can't we use the accelerometer somehow?

[2017-05-31 06:03] AlexisTM commented on #5174
http://wiki.ros.org/roscpp/Overview/Time#Sleeping_and_Rates

[2017-05-31 06:56] Stifael commented on #7318
@mcharleb:
I am not sure If I understood your suggestion correctly: do you suggest to have everything related to a specific platform in one repo? Basically that would mean that DriverFramework would be part of the Posix repo?
Anyway I think @bkueng or @julianoes can better answer that question

[2017-05-31 07:10] Stifael commented on #7318
Since this "issue" could become large, I will add suggestion/questions to the top comment.

[2017-05-31 07:25] lamping7 commented on #7231
I will not be able to test for a few weeks.

[2017-05-31 07:27] lamping7 commented on #7221
Thanks guys. I will not be able to test for a few weeks.

[2017-05-31 09:43] bresch commented on #7319
Having a false positive in the takeoff detector is not a big problem. However, a detection with an accelerometer (in addition to the manual input) might lead to some false negatives which are much more unwanted. A proper tuning of the takeoff thrust value is then a good conservative solution.

[2017-05-31 12:13] priseborough opened #7325 "Internal mag data on pixracer board is not rotated correctly"
**SW versions affected:**

Detected on 1.6.0 stable.

**HW affected:**

Detected on pixracer (px4fmu-v4)

**Description:**

When the SENS_BOARD_ROT  = 4 (board pointing backwards with ESC connectors to the front) and the sensors are calibrated, the X,Y and Z magnetometer  data appears to be swapped. This results in large yaw errors during flight and loss of position control requiring reversion to

[2017-05-31 13:05] bkueng commented on #7318
@mcharleb

Factoring that out would not reduce the code base. And personally I find it a bit of a hassle coping with submodules - having more makes things worse. Especially if the changes affect multiple repos. `repo` might help. However I think the more important thing that people can easier cope with the code base is having a good directory structure with clear platform separation & API's (which

[2017-05-31 13:31] dagar commented on #7318
@bkueng @mcharleb one minor thing on that note is if we confine NuttX to a single directory it doesn't even need to be cloned by default. The build system can handle that on demand as a dependency only if building a nuttx config.

I've personally experienced a lot of pain with our submodules (especially the submodules within submodules), but still find them to be the least bad option.

[2017-05-31 13:38] MaEtUgR commented on #7318
Thanks @Stifael, it was a very good idea to create this issue. Finally the graph I started and tried to get spread finds attention and can serve as Request For Comments 😃

[2017-05-31 13:38] davids5 commented on #7318
@dagar - whatever we do here for NuttX please ensure to keep the development mode and not auto update it. GIT_SUBMODULES_ARE_EVIL=true

[2017-05-31 13:44] davids5 commented on #7318
@dagar - I have had issues with some DF submodules. I have had to `rm -fr` directories that I do not ever do any work in.  I then use my goto command `gitsync`
[code]

I also find this command a big help `gitlast`

[code]

[2017-05-31 14:32] ChristophTobler commented on #7233
Your quad is still not tuned properly http://logs.px4.io/plot_app?log=91cba99c-45f3-4645-8c6f-56cc4403541f#Nav-Roll-Angular-Rate and you should also try dampening your autopilot differently as you have a lot of vibrations http://logs.px4.io/plot_app?log=91cba99c-45f3-4645-8c6f-56cc4403541f#Nav-Raw-Acceleration

[2017-05-31 14:57] imrhch opened #7326 "CMD_OVERRIDE_GOTO does not work"
It seems to me that current implementation of CMD_OVERRIDE_GOTO does not work.
https://github.com/PX4/Firmware/blob/master/src/modules/commander/commander.cpp#L957-L964

When I send the command in order to pause processing of the mission, the commander writes
WARN  [commander] Pause mission cmd
and positive acknowledge is returned, but the vehicle continues.
I suppose that changing of status_local

[2017-05-31 15:13] anuppari commented on #7324
What is the full flash used for? I've seen some mention of needing a different firmware for using the LPE instead of the EKF, does v3 include both?

[2017-05-31 15:15] anuppari opened #7327 "IMU/Magnetometer does not always start"
Using the pixhawk mini, the imu and magnetometer seem to not start up consistently. Sometimes (using the wireless telemetry or USB with QGC) I can see the roll/pitch and heading indicators don't update. Also, IMU messages are not published by mavros. Stabilized mode also doesn't work.
It's usually fixed by just disconnecting and reconnecting the battery or USB cable a few times.

This is on Releas

[2017-05-31 15:16] anuppari commented on #7327
I've also had this issue on multiple pixhawk mini's, so I don't think it's a hardware issue.

[2017-05-31 15:18] anuppari commented on #7327
I've tried uploading a log but I keep getting error 400 failed to parse errors

[2017-05-31 16:17] bresch commented on #7325
I'm running px4fmu_v4pro and I also have heading issues. My autopilot is rotated by 90 degrees and the external mag by 180 degrees. After calibration, I always have an offset with the true North.
@mhkabir already found several issues related to the mag calibration and orientation during the last few days, but it seems that it's not completely fixed.

[2017-05-31 18:10] jgoppert commented on #7318
I support @mcharleb 's suggestions. @bkueng This type of layout should actually reduce the number of submodules you have to deal with for a given build.

My dream repo structure:

### PX4 Flight Code
* Submodules:
  * mavlink
* OS abstraction layer
* UORB Message definitions (internal messaging)
* MAVLink submodule (external messaging)
* C++ modules that use those message definitions and OS abstra

[2017-05-31 22:03] dagar commented on #7326
Yes that's pretty bogus and should be deleted. Try MAV_CMD_DO_REPOSITION instead.

[2017-05-31 22:05] dagar commented on #7327
Are you using the new logger?
Set `SYS_LOGGER 1` and `SDLOG_MODE 1` to log immediately at boot.

[2017-05-31 22:55] anuppari commented on #7327
They were both already set to using the new logger and log from boot to shutdown. Is there anything I should be doing before pulling power to make sure the log file doesn't get corrupted if it is continuously logging until shutdown?

[2017-06-01 00:30] priseborough commented on #7325
After further investigation, the SENS_EXT_MAG parameter has to be set to 2 if no external magnetometer is connected, otherwise the sensor module applies the wrong rotation to the data from the sensor_mag topic.

The SENS_EXT_MAG = 0 option is not working correctly.

[2017-06-01 00:51] mhkabir commented on #7325
@priseborough, are you testing master? I fixed that issue on master a few days back and removed that parameter. It shouldn't even be present on master at the moment.

Please retest.

[2017-06-01 00:54] mhkabir commented on #7325
OK sorry - no. I was talking about a different parameter. I can check this particular issue out and fix it in case you already haven't by the time I reach home.

My airline somehow lost the bag with all my autopilot stuff so it might take some time for me to come back up to speed :P

[2017-06-01 00:55] mhkabir commented on #7324
Yes v3 includes both

[2017-06-01 01:10] priseborough commented on #7325
After further checking on a another board (using master), with SENS_EXT_MAG = 2 and SENS_BOARD_ROT = 4, I have confirmed that the data reported on the sensor_mag topic is rotated correctly into the autopilot frame of reference, but that the mag data reported on sensor_combined has been rotated incorrectly into the body reference frame.

[2017-06-01 01:11] priseborough commented on #7325
BTW, I could not access the SENS_EXT_MAG parameter using QGC and had to modify it using the nsh console. The sensor_mag and sensor_combined topics were monitored using the nsh prompt listener utility.

[2017-06-01 01:19] priseborough commented on #7325
I have confirmed that explicitly setting CAL_MAG0_ROT = 0 instead of the default value of -1 fixes the error.

[2017-06-01 01:43] priseborough commented on #7325
The mag rotation matrix from autopilot to body frame is being calculated in three places.

When parameter updates are checked. This should set the mag rotation matrix to be equal to the board rotation matrix for an internal sensor.

https://github.com/PX4/Firmware/blob/master/src/modules/sensors/voted_sensors_update.cpp#L405
https://github.com/PX4/Firmware/blob/master/src/modules/sensors/voted_sen

[2017-06-01 01:59] priseborough commented on #7325
Fix submitted here: https://github.com/PX4/Firmware/pull/7331

[2017-06-01 09:56] bkueng commented on #7318
@jgoppert ok if you put it that way it does look nice! But one more downside that I see: I often test things in SITL and then directly on an NuttX board. Switching repos in between would make that workflow much harder.
Also what about mixed architectures like Snapdragon? It has 2 OS'es. I could also imagine an architecture that has NuttX & Linux, for example when we want to run some modules on the

[2017-06-01 14:29] imrhch commented on #7326
Thanks! :)
MAV_CMD_DO_REPOSITION with all values NAN pauses the mission and restart is possible with MAV_CMD_MISSION_START, I just need to keep actual mission item index.

[2017-06-01 14:36] imrhch commented on #7313
It seems that adding line
sp->yaw_valid = !isnanf(item->yaw);
after this one
https://github.com/PX4/Firmware/blob/master/src/modules/navigator/mission_block.cpp#L528
solves the problem.

Without changing the firmware, I was able to overcome the problem by sending few SET_POSITION_TARGET_LOCAL_NED messages with yaw set just after switching to offboard mode and return to sending yaw_rate only after

[2017-06-01 16:36] bkueng commented on #7318
I created another doc with the current state & changes in red: https://docs.google.com/drawings/d/1oJ6x8HaqiRiW7cl-WFoC24Gn1lOkpjIPyGak5cfryPw/edit?usp=sharing. This should help us see which changes are required and which ones are independent from others.
Feel free to correct, modify, and/or extend.

We should also take FW, VTOL, Rover, Boats, Rockets, ... into account (There was some discussion a

[2017-06-01 17:49] jgoppert commented on #7318
@ bkeung Some other take-aways for me:

1. PX4 should evolve to become a flight control **library**
2. There should be **no driver code** in the PX4 library
3. The PX4 library should provide a **set of nodes all using a common pub/sub framework** with message definitions

For pub/sub we can stick with uORB for now with a ROS adapter until ROS2 is ready. When ROS2 is ready, I think uORB should be g

[2017-06-01 18:15] tstellanova opened #7333 "UAVCAN restart fails on v1.6.0"
- Running build from git tag v1.6.0:  `make px4fmu-v3_default upload`
- Running on Pixhawk 2.1 hardware
- Connected to nsh on CONS port
- `param set UAVCAN_ENABLE 2` and `param save`
- Connect Zubax GNSS 2 to Pixhawk 2.1 via CAN, reboot
- From nsh, command: `uavcan stop` followed by `uavcan start`
- uavcan reports endless errors on nsh console (see below).
- Reboot and uavcan will start again

[co

[2017-06-01 18:27] mhkabir commented on #7333
@bryanmonty anything on this?

[2017-06-01 18:30] Stifael commented on #7318
@jgoppert
Do you suggest a wrapper around uorb? How "common" are all the different pub/sub methods? Im asking because there was the discussion to incorporate priorities into uorb, or even fault detection for some of the messages. I guess  that would then  break the pub/sub methology?

[2017-06-01 18:31] mhkabir commented on #7333
@bryanmonti @pavel-kirienko Do you know anything about this? `Advertise failed` usually points to something leaking file descriptors.

[2017-06-01 18:38] pavel-kirienko commented on #7333
I will have a look into this someday. This is not a critical issue because UAVCAN should never be stopped in a production setting.

[2017-06-01 18:48] bryanmonti commented on #7333
I was able to confirm the issue. I ran `uavcan stop` then `uavcan start fw`, returned the same issue as above.

[2017-06-01 18:55] jgoppert commented on #7318
Well uORB currently works in practice while ROS2 doesn't.  Whatever we need extra to do our job we should make sure it makes it into ROS2 whille we still have input. I watched a talk on ros2 and they are definetly interested in supporting our use case. They are doing a lot of work on latency and real time. Currently they are very similar but ros 1 doesn't have priority and uorb doesn't have queue

[2017-06-01 20:47] tstellanova opened #7334 "UAVCAN GNSS2 not detected on Pixhawk 2.1 CAN1 port"
- Connect Zubax GNSS2 to Pixhawk 2.1 CAN1 port
- Install px4fmu_v3 (`make px4fmu-v3_default upload` using git tag v1.6.0)
- Reboot Pixhawk 2.1
- Using nsh, `uavcan info` shows:
[code]
- Disconnect Zubax GNSS2 and reconnect to CAN2 port on Pixhawk 2.1
- Reboot
- After a few seconds,`uavcan info` shows a valid node ID for the GNSS :
[code]

Possibly related to this outstanding Ardupilot issue: https

[2017-06-01 21:07] pavel-kirienko commented on #7334
The dynamic node ID allocation server is available only on CAN1. Pixhawk 2.1 has the labels CAN1 and CAN2 swapped, so you're actually supposed to use the interface marked as CAN2. The issue is hardware-related and well known, so I'm closing this.

[2017-06-02 03:59] mhkabir commented on #7334
This isn't well known. @pavel-kirienko can you please open a pull request to PX4 Devguide with this information?

[2017-06-02 09:06] Changliu52 opened #7335 "GPS coordinate in GPS-denied environments"
Considering the scenario, that if the PX4 was equipped with GPS, SLAM and OpticalFLow. In operation, the system is powered on outdoor with valid GPS, then it flys into a building, so the GPS was blocked, but SLAM and Opticalflow were able to maintain a valid local pose.

In this case, I am not sure if the GPS coordinate is still predicted based on local pose? or the local frame and the global fram

[2017-06-02 12:13] mhkabir commented on #7335
Yes the global coordinates are converted to local coordinates in most cases.

We are also working on making sure that the system uses local coordinates for absolutely everything, so that we can fully support GPS denied navigation throughout the flight stack.

[2017-06-02 12:13] #7335 closed

[2017-06-02 13:27] CarlOlsson opened #7336 "logger: cant set rate for topics"
Hi,

If I put the file logger_topics.txt in etc/logging/ on an SD card with the following lines everything works as expected
[code]

However, if I try to set the the interval like below, then the log file is always 0 bytes.
[code]
I'm using a Pixhawk pro and latest master

[2017-06-02 13:45] mhkabir commented on #7336
@CarlOlsson try removing the space between the comma and the number. ;)

[2017-06-02 14:10] CarlOlsson commented on #7336
The spaces should be there according to the [doc](https://dev.px4.io/en/log/logging.html)
However, also tried to remove them but then the logger is logging the default topics and not the ones that are defined in the file

[2017-06-02 14:25] mhkabir commented on #7336
OK, yes you're correct. The spaces are fine.

This issue seems to be a real issue. Let me have a look.

[2017-06-02 14:25] CarlOlsson commented on #7336
thanks!

[2017-06-02 15:04] dagar commented on #7336
Isn't it with a space like this?

    vehicle_attitude 50
    vehicle_attitude_setpoint 50

[2017-06-02 15:08] LorenzMeier commented on #7336
This is most likely a regression of a NuttX update - `sscanf("%s %u")` might not be matching any more.

[2017-06-02 16:15] bkueng commented on #7336
I just tested on Pixracer, it works fine. The comma is optional.
There was a NuttX update regression, but I already fixed that several weeks ago.

[2017-06-02 17:27] LorenzMeier commented on #7336
Assuming @CarlOlsson is using a stale version, closing.

[2017-06-02 17:27] #7336 closed

[2017-06-02 18:05] LorenzMeier opened #7338 "Inspect flight log"
@priseborough Can you inspect this log which has issues with the position estimate?

http://review.px4.io/plot_app?log=98d340b4-d820-4819-af6d-48acd5f9ff77

[2017-06-02 18:16] #7325 closed

[2017-06-02 18:50] LorenzMeier commented on #7333
Definitely a resource leak, reproducible on a Pixhawk 1 by stopping / starting 2-3 times. I did poke a bit around but I didn't find it on the first pass.

[2017-06-02 19:02] LorenzMeier commented on #7319
This all works as designed.

[2017-06-02 19:02] #7319 closed

[2017-06-02 19:20] mhkabir commented on #5587
New API fixed this sometime back.

[2017-06-02 19:20] #5587 closed

[2017-06-02 20:34] paan2097 commented on #5695
@mantelt @LorenzMeier @nicolaerosia I'm still running into multiple issues that I've posted on both discuss.px4 and community.emlid forums just getting the initial install running without errors. Right now I'm getting a bunch of GPIO erros and the servos are over extending using the predefined mixer file. Here is my topic: http://discuss.px4.io/t/failure-of-px4-plane-code-running/3436

[2017-06-02 22:00] tubeme commented on #5595
I have the MS5525 sensor for tests and it does not run under the current master. Is there anything that should be preset somewhere in the firmware in order for the FW to recognize it? Probably it need different driver?

[2017-06-02 23:44] tubeme opened #7339 "MS5525 Airspeed Sensor: Sensor Missing."
Probably there is no driver for this sensor yet?

I get airspeed sensor missing message.

[2017-06-03 03:02] garlinplus commented on #7293
@JamesHarrison @lfelipe @NaterGator @lucasdemarchi @hauptmech

[2017-06-03 04:30] dagar commented on #7339
There will be soon. https://github.com/PX4/Firmware/pull/7283

[2017-06-03 05:00] stlfatboy opened #7342 "pixracer won't boot normally with zmr250 airframe"
with 1.6.1, QGC said vehicle not responding.

[2017-06-03 05:57] priseborough commented on #7338
There were severe problems with the magnetometer that caused the copter to lose it's yaw reference when hovering. Here is a plot of the field strength:

![screen shot 2017-06-03 at 3 54 44 pm](https://cloud.githubusercontent.com/assets/3596952/26751097/fadac9ce-4874-11e7-8123-33c08b2548ab.png)

Here are the mag field and mag yaw innovations:

<img width="1024" alt="screen shot 2017-06-03 at 3 56 3

[2017-06-03 06:02] priseborough commented on #7338
I might be able to improve resistance to this sort of error by not switching back into heading fusion if the magnetometer is failing innovation consistency checks, but with mag data this bad it is only delaying the inevitable until the combination of mag error and vehicle orientation fools the checks.

[2017-06-03 06:53] xmutrue opened #7343 "Different attitude and position estimation algorithm"
Dears:

Does  AttposEKF of estimator_22states.cpp in the InertialNav still work well for attitude and position estimation on vehicle ?

 Now it seems that the algorithm used in new version firmware of pixhawk or ardupilot are ECL(https://github.com/PX4/ecl),  not  estimator_22states.cpp(https://github.com/priseborough/InertialNav).

Thanks

[2017-06-03 06:57] mhkabir commented on #7343
Probably still works, but we won't support it.

[2017-06-03 06:57] #7343 closed

[2017-06-03 19:21] akshaykalkunte opened #7347 "Unable to get lock with LPE v1.6.1"
We are unable to get the green lock with Pixhawk and PX4 v.1.6.1. The estimator is set to LPE, with the parameters configured respectively. Lidar Lite RangeFinder was used to determine the altitude, disabling the Maxbotix sensor values. The optical flow, flow gyro compensation, pub agl as lpos down were selected for LPE_FUSION parameter. Flow Quality set to 75.
We intend to use it for completely i

[2017-06-04 07:11] cctsao1008 opened #7349 "pca9685 build failed."
Scanning dependencies of target drivers__frsky_telemetry
[ 55%] Building CXX object src/drivers/gps/CMakeFiles/drivers__gps.dir/devices/src/ashtech.cpp.obj
[ 55%] Built target drivers__meas_airspeed
[ 56%] Building C object src/drivers/frsky_telemetry/CMakeFiles/drivers__frsky_telemetry.dir/frsky_data.c.obj
[ 56%] Building CXX object src/drivers/pca9685/CMakeFiles/drivers__pca9685.dir/pca9685.cpp.

[2017-06-04 10:44] LorenzMeier commented on #7347
You need to flash `px4fmu-v3_default` if you run on Pixhawk and want to use LPE. We don't have enough flash to support it on the default build. Note that you need an STM32 processor with the right silicon revision in order to be able to use this additional flash.

I have made this more obvious in this commit: c9a28fc0eb

[2017-06-04 10:44] #7347 closed

[2017-06-04 10:53] LorenzMeier commented on #7349
Fixed in ad05a6a7ec. If its not too hard to figure out how to fix it a pull request would be appreciated in the future. Thanks!

[2017-06-04 10:53] #7349 closed

[2017-06-04 10:54] LorenzMeier commented on #7305
Sorry to hear about your crash. Let us know if you can recover the log. I'm closing this for now since there is nothing we can do without that log file.

[2017-06-04 10:54] #7305 closed

[2017-06-04 10:55] LorenzMeier commented on #7327
@anuppari If you arm and disarm the disarming will stop the log and prevent it getting corrupted.

Also make sure to use a QGC daily build - otherwise the file ending of the log file will be incorrect.

[2017-06-04 10:55] LorenzMeier commented on #7327
Also, I believe I fixed this yesterday - please re-test with 1.6.1

[2017-06-04 10:59] LorenzMeier commented on #7312
Not a QGC issue:
[code]

Fix needs to happen on the PX4 side @dagar

[2017-06-04 11:09] LorenzMeier commented on #7312
Fix is here: https://github.com/PX4/Firmware/pull/7351

I'm closing this.

[2017-06-04 11:09] #7312 closed

[2017-06-04 11:09] #7278 closed

[2017-06-04 11:48] LorenzMeier commented on #7276
I suspect its a land detector issue, yes. It might not be an issue after all but just not the right configuration. We need better documentation on that front.

[2017-06-04 11:50] LorenzMeier commented on #6902
Closing as the fix was merged.

[2017-06-04 11:50] #6902 closed

[2017-06-04 11:51] LorenzMeier commented on #6827
Ping - can anyone provide these outputs with an armed system? I cannot debug with no data.

[2017-06-04 11:51] LorenzMeier commented on #4100
Closing as stale.

[2017-06-04 11:51] #4100 closed

[2017-06-04 11:53] LorenzMeier commented on #3163
@pavel-kirienko @eyeam3 Is this still an issue? I presume not?

[2017-06-04 16:18] abdullahmohiuddin commented on #5945
Hi @Clark-Youngdong-Son , I was having similar problems specially in X-axis, so I did the same thing as you did, I plotted the euler velocity that I obtained from Position estimation that I get from LPE ( from px4logs). There are some differences. So, if I do what you did with PN_V , I would be relying on Mocap position or LPE position for euler velocity estimation?

[2017-06-04 17:20] pavel-kirienko commented on #3163
It is still an issue.

The approach of testing `esc_index` described above should be avoided since there is no convention that would require ESC vendors to adhere to this specific parameter naming (and there shouldn't be such convention, we've discussed this quite some time ago). We should resort to the other approach of subscribing to `uavcan.equipment.esc.Status`. In fact, the subscriber needed

[2017-06-04 21:19] tops4u opened #7352 "GPIO Camera kills AUX PWM"
This is a Duplicate to #7103

I have configured GPIO Triggering on Pin 5 to low while I have a seconday Connection to a Optocoupler on +5V which triggers my FLIR Cam. My AUAV-X2 does only have 5 AUX Pins so I had to slightly modify the default GPIO Setting for the Camera Trigger (instead of using GPIOs 5-6). In #7103 it was mentioned that AUX PWM **AND** GPIO should work if the default Pins 5/6 ar

[2017-06-05 00:52] mhkabir commented on #7352
If you had left the setting at default (56), it would've worked. Even though pin 6 is not exposed on the AUAV-X2, it doesn't make any functional difference to the autopilot code.

This is noted in BIG **bold** letters on the camera trigger page : https://dev.px4.io/en/tutorials/camera_trigger.html, but it seems like I need to add a warning which prevents people from shooting themselves in the foot

[2017-06-05 02:59] Finwood opened #7354 "Names of assisted modes inconsistent"
Both altitude and position control appear in code (and thus also in generated documentation) both as ALTCTL / POSCTL and ALTCT**R**L / POSCT**R**L. Thus not a big problem, this makes keyword search on the documentation pages a bit awkward.

*What is the preferred abbreviation?*

[2017-06-05 07:47] tops4u commented on #7352
Ok Thanks for the Answer. Sorry but some things are commented in Code -> Visible in QGC, there is a User Guide and a Dev Guide.
To be honest as User I don't Expect that I'll have to lookup too many things in the Dev Guide, so I don't always consult all documentation.
Apart from this I fully understand that there are technical reasons for these limitations - but I don't see why using 5&6 works whil

[2017-06-05 12:01] tubeme opened #7355 "AUAV X2.1: 1.6.0 stable, reporting as 1.6.0dev"
After flashing the 1.6.0 stable on AUAV x2.1, the board is recognized as ID 33, QGC flashes the correct X2.1 FW, but then in the summary info it is reported as 1.6.0dev.

[2017-06-05 12:05] LorenzMeier commented on #7355
Thanks, there was indeed a mixup with the tag. It is fixed now and should reflect in the next minutes. https://github.com/PX4/Firmware/releases/tag/v1.6.1

[2017-06-05 12:05] #7355 closed

[2017-06-05 14:02] Neels001 commented on #7263
Solved .. Upgrading RAM , adding proprietary drivers for graphics and following Offboard example given in PX4 documentation.

[2017-06-05 14:02] #7263 closed

[2017-06-05 17:17] mcharleb commented on #7318
Where should architecture documentation go? I've started to create UML diagrams for VDev as requested on the last PX4 Dev call. The WIP diagrams are at https://github.com/mcharleb/px4_uml_diagrams. The most useful one would be https://github.com/mcharleb/px4_uml_diagrams/blob/master/vdev_callflow.png?raw=true

[2017-06-05 17:36] davids5 commented on #7318
@mcharleb - Thank you doing these. This is super helpful!

[2017-06-05 17:55] urlu75 commented on #6072
any plan to enhance the RSSI management on pixracer  (RSSI over RC channel) ?

[2017-06-05 17:59] urlu75 opened #7358 "pixracer mag offset"
I was using PX4 1.5.5 without any major issue (hexacopter). Upgrade to 1.6.x and now have an 180 degrees offset with the mag after recalibrating all the sensors.
I don't know if it's related, but I can't go down when altitude hold is enable and position control is flying away (probably the mag issue).

Downgrade to 1.5.5 with the same setting, recalibrate all sensors and everything is fine again.

[2017-06-05 18:09] mhkabir commented on #7358
Are you running 1.6.1 which we released yesterday? We fixed an issue with the mag rotation there.

So please describe your setup, external mag rotation, etc.

[2017-06-05 18:14] nicolaerosia commented on #5695
@paan2097 There are some GPIO errors that are showing up only the first time PX4 is started, this PR should fix that, https://github.com/PX4/Firmware/pull/7329
I can't tell about the PWM thing, have you found a fix for that?

On a related note, are you calibrating using QGroundControl? Are you using the voltage sensor? Are you applying rotations to the sensors?

[2017-06-05 18:18] nicolaerosia commented on #5695
@paan2097 you need to disable the navio-rgb overlay in config.txt from the boot partition, I will create a PR for the User guide
[code]

[2017-06-05 18:25] urlu75 commented on #7358
I tried the 1.6.1 this afternoon.
I do not have the hexa with me to dump the setting (sorry for the low detail).
The board is front/back inverted (yaw180) and external compass (HMC5983) has no rotation (YAW 0). X4R SBUS receiver, frsky telemetry on frsky port, mavlink telemetry for OSD on port 1 and normal telemetry @19k on port 2. Almost all the parameters were by default with this testing.

[2017-06-05 18:30] mhkabir commented on #7358
@urlu75 Did you reboot after calibration? Please provide a parameter dump too.

[2017-06-05 19:42] tops4u commented on #7352
@mhkabir That works, thanks.

[2017-06-05 19:42] #7352 closed

[2017-06-06 00:10] anuppari commented on #7327
I tested this with 1.6.1 and still have the same issue with the IMU and mag not starting up.

[2017-06-06 05:47] matanhavi commented on #7358
@mhkabir note that there still a bug.
if you change parameter (any parameter, for example I changed the SDLOG_UTC_OFFSET) before flight, for some reason the SENS_BOARD_ROT 'loses' its value and the rotation is wrong.
you can easily test it on table, put SENS_BOARD_ROT as non default value (i had 2), reset,
look at the heading, calibrate if need.
change SDLOG_UTC_OFFSET, and look at the heading.

[2017-06-06 06:13] mhkabir commented on #7358
@matanhavi OK that parameter not saving thing sounds concerning. Let me have a look.

[2017-06-06 07:16] xmutrue commented on #7343
Is  ECL  or   attitude_estimator_q  plus  position_estimator_inav  better than the  estimator_22states  when we do the estimation of fixwing or multicopter uav ?

[2017-06-06 07:48] ChristophTobler opened #7362 "Snapdragon - error finding params"
after [this commit](https://github.com/PX4/Firmware/commit/db816982cde07a19975b02bd2e7d63242d5d8f04), there is an error on the Snapdragon (see [output](http://pasted.co/632b6c12))

[2017-06-06 07:59] mhkabir commented on #7358
I just checked both your issues -

you can easily test it on table, put SENS_BOARD_ROT as non default value (i had 2), reset,
look at the heading, calibrate if need.
change SDLOG_UTC_OFFSET, and look at the heading.

@matanhavi I could not reproduce this. What hardware are you running? From what vendor?

@urlu75 I just flashed a fresh board and replicated your sensor setup. Everything looks fine o

[2017-06-06 08:12] matanhavi commented on #7358
@mhkabir I am using regular Pixhawk 2.1. and version 1.6.1
Try reproduce by this:
- use the Pixhawk on table, no other HW needed (also not external compass)
- set SENS_BOARD_ROT to YAW 90
- calibrate (if needed)
- reset
- look at highres_IMU.xmag,ymag,zmag
- change SDLOG_UTC_OFFSET to anything
- look at highres_IMU.xmag,ymag,zmag, ymag goes to xmag value, xmag goes to -xmag
![image](https://cloud.

[2017-06-06 08:19] ChristophTobler commented on #7362
@dagar I guess it has to do with this modification/restructuring https://github.com/PX4/Firmware/commit/24b26e53b92e655be8fabd7e07ac1c492b8ed0ec#diff-eff30623731b3af4359cadd642eb2645R208

[2017-06-06 08:27] mhkabir commented on #7358
Still couldn't reproduce. I tried with a Pixhawk 2.1 :

![image](https://cloud.githubusercontent.com/assets/5557676/26820294/ff0572b8-4abf-11e7-9383-f03ffd237061.png)

[2017-06-06 09:53] matanhavi commented on #7358
I done some more test, from fresh parameters of Pixhawk i couldn't reproduce it too.
but after I set my parameter file, it does reproduced. I am trying to find why

[2017-06-06 10:45] matanhavi commented on #7358
I handpick some parameters from my AP with that issue.
and reproduce it with minimal changes from default parameters of new AP. (airframe not even set... and calibration is not real, i toke it from other AP)
I attached both files, on that is just default parameters after set to default from QGC
the other is one that i changed and reproduce the issue
[P_badparams.txt](https://github.com/PX4/Firmwar

[2017-06-06 11:51] CarlOlsson commented on #7336
@bkueng strange that it works for you and not for me. I just tested it again.
1) Flashed master via QGC to a Pixhawk Pro,
2) Put this file [logger_topics.txt](https://github.com/PX4/Firmware/files/1054859/logger_topics.txt) in etc/logging on the SD card
3) Plug in the SD card in the Pixhawk Pro, plug in a usb cable to power it.
4) Check SD card -> Logfile is zero bytes.

But if you instead put the

[2017-06-06 11:54] CarlOlsson commented on #7336
Here is the logfile from the test that works, i.e. no setting of time interval
http://logs.px4.io/plot_app?log=752d73f0-37b9-4dc1-96c0-bb24db09a310

[2017-06-06 12:28] potaito commented on #6562
If anyone is interested, I pushed all my changes to a [fork](https://github.com/potaito/snapdragon_mavros_vislam). The snapdragon was able to fly with the state estimate from **VISLAM** fused into **px4's LPE**. Imu messages are being obtained from mavros at 250 Hz. The flight test has been done by flying in offboard mode and providing the px4 with a steady waypoint at `(x,y,z)=(0, 0, 1.5)`.

Chan

[2017-06-06 12:49] dagar commented on #7362
Fixed here - https://github.com/PX4/Firmware/pull/7359
I diffed all param output before and after across px4fmu-v3, snapdragon, etc and the only difference is mTecs sitting within fw_pos_ctrl unused is no longer included.

[2017-06-06 13:58] ChristophTobler opened #7364 "Snapdragon - krait update param fail"
Tested with https://github.com/PX4/Firmware/pull/7359

The output is http://pasted.co/12c48f79

[2017-06-06 14:00] ChristophTobler commented on #7362
@dagar Thanks!
https://github.com/PX4/Firmware/pull/7359 fixes this issue but introduces another one https://github.com/PX4/Firmware/issues/7364

[2017-06-06 14:02] dagar commented on #7362
I can revert the original commit if I can't figure out a fix shortly. I wasn't initially aware of parameter complexity on these platforms.

[2017-06-06 15:44] anuppari commented on #7327
Can we reopen this?

[2017-06-06 15:52] TSC21 commented on #6562
@potaito awesome! Thanks for that!

[2017-06-06 16:10] dagar commented on #7364
Is this from the param struct being out of sync?

[2017-06-06 16:20] ChristophTobler commented on #7364
I though this happens if the Linux and DSP do not have the same parameters. @jywilson could you have a quick look?

[2017-06-06 16:23] tubeme opened #7365 "X2.1 Mag Problem: The MAG0 is 180 deg offset."
Hello guys,

We spent a couple of days researching on the Magnetometer behavior of the PX4 with a different Hardware because we are moving toward using 1.6.x version of the firmware.

Lastly we installed the 1.6.1 on a X2.1 board and found that our Mag0 is a 180 degrees offset from the correct direction it was pointed at. The internal mag was fine only the external MAG0 had this offset. Later we f

[2017-06-06 16:25] dagar commented on #7364
@jywilson to jump straight in, the question is if this branch works https://github.com/PX4/Firmware/pull/7359

[2017-06-06 16:29] ChristophTobler commented on #7233
Please reopen if still an issue

[2017-06-06 16:29] #7233 closed

[2017-06-06 16:30] #7192 closed

[2017-06-06 16:56] mhkabir commented on #7365
Can you give me a parameter dump from both working and non-working cases please?

[2017-06-06 17:03] mhkabir commented on #7365
What is CAL_MAG0_ROT, and what is the actual orientation of the autopilot and external mag with respect to the airframe.

Regarding your videos - the conclusions you draw are flawed. If you have a failure in-flight, the heading reported by all the mags are the same. You would not see the slow convergence you talk about, because there would never be such a large heading difference between the faile

[2017-06-06 17:30] bkueng commented on #7336
Really strange. Your topics file works for me & the log looks as expected.
What's the boot output? What does `logger stop`, `logger start` say?

[2017-06-06 17:35] matanhavi commented on #7358
@mhkabir I have more info.
its seems that at first when the AP load it uses SENS_BOARD_ROT as the internal magnetometer rotation.
but after some change of parameter, VotedSensorsUpdate::parameters_update() is called, but there, the CAL_MAG0_ROT is used instead.

i think it might be related to on of your last commits,
https://github.com/PX4/Firmware/commit/6ee09ca16fd5e52237b4566f6d10de525cc2cb9e

[2017-06-06 17:37] mhkabir commented on #7358
The thing is - after a change of parameters, you are supposed to reboot. QGC doesn't force this yet, but we will add it soon. Can you see if you can reproduce the issue if you reboot the autopilot after any changes to a the CAL_MAG* or SENS_BOARD_ROT parameter(s)?

[2017-06-06 17:54] mhkabir commented on #7358
@mhkabir OK I think I found a bug. Stay tuned for testing the fix.

[2017-06-06 17:56] matanhavi commented on #7358
"The thing is - after a change of parameters, you are supposed to reboot."  - That is not true for few reasons:
1) there are some internal logics that changes parameters, for example, the flight time, BAT_N_CELLS, and other (there is even param_set_no_notification() on this code)
2) how do you supposed to calibrate PID, for example with this restriction
3) the reason for each 'parameters_update()'

[2017-06-06 18:05] mhkabir commented on #7358
What I meant was, after changing the calibration and orientation parameters - https://github.com/PX4/Firmware/commit/49890c61f5c98be9aaf5371fb5d29a8168b2a0d6

Please do as I say and try rebooting after setting orientations and/or calibrating and see if you can still reproduce the bad mag rotation problem.

[2017-06-06 18:23] rkintada commented on #6562
@potaito This is excellent.  Thanks for the update.  Also if you have a video can you please post it here as well.

[2017-06-06 18:42] matanhavi commented on #7358
I am rebooting after calibrate. calibrating goes to "I agree that for some parameters its advised not to change "on air" and you sure must to reboot" statement.
on all my tests I didn't calibrate at all.
Can you go to gitter now?

[2017-06-06 18:42] mhkabir commented on #7358
Sure. Let's chat.

[2017-06-06 19:31] mhkabir commented on #7358
OK I found the issue. Some old code in `parameters_update()` was resetting the rotation matrices unnecessarily. I fixed it here : https://github.com/PX4/Firmware/pull/7366

I and the tesflights team (when they flew the original fix) weren't initially able to reproduce it locally because it would only trigger depending on sensor startup timing (happens around 1/10 times). Sorry about all the drama

[2017-06-06 19:45] mhkabir commented on #7365
Fix is here : https://github.com/PX4/Firmware/issues/7366

[2017-06-06 19:45] #7365 closed

[2017-06-06 19:51] dagar commented on #7358
Not sure if it's a bad idea, but you could have PX4 auto restart at these times with appropriate user notification.

[2017-06-06 20:13] paan2097 commented on #5695
@nicolaerosia I've tried to get my plane up and running with both your master branch and navio-optimization branch from your fork of the PX4 github. With the master, the px4_fw.config file is missing the navio_adc start command, but it also doesn't recognize the command anyway. With this, I am no longer getting servo over extension but we also are not able to get passed the radio calibration becau

[2017-06-06 20:40] nicolaerosia commented on #5695
@paan2097 have you commented out the navio-rgb overlay as I said up?
navio_adc start was added to px4_fw.config in
[code]

To be honest, I've never used native build.
navio-optimization was merged. Could you retry and post the error log?

[2017-06-06 21:22] paan2097 commented on #5695
I'm not sure where the error log is, but there is my PX4 output:
pi@navio:~/src/Firmware $ sudo ./build_posix_rpi_native/src/firmware/posix/px4 ./posix-configs/rpi/px4_fw.config
commands file: ./posix-configs/rpi/px4_fw.config
creating new parameters file
creating new dataman file

______  __   __    ___
| ___ \ \ \ / /   /   |
| |_/ /  \ V /   / /| |
|  __/   /   \  / /_| |
| |     / /^\ \ \___

[2017-06-06 21:52] TSC21 opened #7368 "Feature: support for GPS_GLOBAL_ORIGIN"
I'm planning to add support for `GPS_GLOBAL_ORIGIN` (and `SET_GPS_GLOBAL_ORIGIN` which can be triggered by a cmd for example), and consequently add support for `LOCAL_POSITION_NED_SYSTEM_GLOBAL_OFFSET` as the offset between the `global_origin` and the `local_origin`.

My idea is to implement similar to `HOME_POSITION` but, in terms of usage we can think of something more clear. The idea will be al

[2017-06-06 22:43] jywilson commented on #7364
It would help if you could provide the debug messages generated by the DSP through minidm.  It looks like the communication to the aDSP is not working for some reason and the minidm log would help determine the reason for the communication issue..

The most common reason for this is that a function being called by the AppsProc is not available in the .so files running on the aDSP.  This looks like

[2017-06-06 23:13] jywilson commented on #7362
@dagar @ChristophTobler

I also commented here:
https://github.com/PX4/Firmware/issues/7364#issuecomment-306536406

I read the comments over carefully and this sounds a lot like an issue we had before.  I describe the issue below, and how to check if it is happening again:

The aDSP build for Snapdragon uses a different toolchain than the AppsProc build.  The parameter files generated by each tool

[2017-06-07 03:23] mhkabir commented on #7368
I don't understand this part.

[2017-06-07 04:39] nicolaerosia commented on #5695
As I said in the last two comments, are you sure you've commented navio-rgb overlay?
I already posted the instructions here, but here's a PR for that: https://github.com/PX4/Devguide/pull/177/commits/aa37e64b30545bf0eb1f3d684534f6b238e6fb37

[2017-06-07 05:57] ChristophTobler commented on #7364
Thanks @jywilson
Sorry, I forgot about the minidm... here it is
[code]

[2017-06-07 06:55] ChristophTobler commented on #7251
This is fixed once we use local instead of global coordinates inside navigator/pos_controller -> https://github.com/PX4/Firmware/tree/global_to_local (WIP)

[2017-06-07 07:14] nicolaerosia commented on #7318
Does anyone have a doc presenting all PX4 threads ? I'm interested in pinning threads to specific CPUs to reduce cache-trashing, reduce jitter and improve latency.

[2017-06-07 07:19] alielectric commented on #1967
your location that the installer is located has more than a defined characters, copy it some where else than run the setup

[2017-06-07 07:22] bkueng commented on #7318
@nicolaerosia no we currently don't. This depends very much on the setup & configuration. You can grep for `px4_task_spawn_cmd` or look at the running threads (they are named accordingly).

[2017-06-07 07:23] mhkabir commented on #7251
@ChristophTobler @Stifael Do you think this is a good opportunity to run through the system and make sure everything operates in the local frame? We should just project whatever global stuff we need (e.g waypoints) into the local frame.

[2017-06-07 07:37] ChristophTobler commented on #7251
@mhkabir Yes, that's our goal. Navigator and ms_pos_controller already use local coordinates and it works with EKF2 but needs some more testing. I just saw that we need to check with the LPE as we still have some issues there. Could you maybe help us out, since you are familiar with the LPE?

[2017-06-07 07:41] mhkabir commented on #7251
Yeah I can have a look, sure. Can you point me to where we are having issues?

I think it would also be great if you guys could quickly look at this and we discuss about how we can bring it with least-painful rebases :) https://github.com/PX4/Firmware/pull/7363.

[2017-06-07 07:50] pavel-kirienko commented on #7334
@mhkabir I would, but the documentation for Pixhawk 2.1 seems to be published at http://www.proficnc.com/ and not at the dev guide. @proficnc is already aware of this issue. Please advise what to do.

[2017-06-07 08:30] TSC21 commented on #7368
Sorry, I meant `local_origin`.

[2017-06-07 08:49] #7358 closed

[2017-06-07 09:45] ChristophTobler commented on #7251
Sure, I'll have a look at it.

https://github.com/PX4/Firmware/pull/7370 seems to have fixed the LPE issues. But I guess it would still help if you could have a general look at it and test it :)

[2017-06-07 09:48] TSC21 commented on #7368
Probably I can sync this with https://github.com/PX4/Firmware/tree/global_to_local. Even if we consider that the local and global origins are coincident, in multi-entities systems we have specific local frames to each entity while we can define a common global origin to all.
@ChristophTobler what do you think?

[2017-06-07 09:52] potaito commented on #6562
@rkintada Here you go
https://streamable.com/shqxj

The quad is moving a lot around the desired position, but that's the tame default px4 controller, not the state estimation. The LPE knows perfectly well what the quad's current position is.

[2017-06-07 10:24] mhkabir commented on #6562
@potaito Nice! What frame is that?

[2017-06-07 12:52] yyassa commented on #7218
@Sam1215 Could you please let me know how you resolved this?

[2017-06-07 13:07] stlfatboy commented on #7342
Fix zmr250 bricking #7369

[2017-06-07 13:07] #7342 closed

[2017-06-07 13:17] dagar commented on #7354
This is where the naming comes from - https://github.com/PX4/Firmware/blob/master/msg/vehicle_status.msg#L17

    uint8 NAVIGATION_STATE_ALTCTL = 1		# Altitude control mode
    uint8 NAVIGATION_STATE_POSCTL = 2		# Position control mode

[2017-06-07 13:17] #7354 closed

[2017-06-07 13:25] ChristophTobler commented on #7368
I think it's generally a good idea but I'm not sure this is needed with the change from global to local coordinates we are currently doing. With these changes it will be possible to lose GPS and rely on e.g. vision during the flight without failing since the estimator works in a local frame and also publishes in local coordinates (also the position controller).
Or is there a special case which I a

[2017-06-07 14:07] TSC21 commented on #7368
You are right and that was something that Kabir confirmed me. The special case could be, as I made reference, multi-entity systems (like swarms) where the local coordinates are specific to each but the global origin is the same.
Mavros already supports this in its side so this would be a straightforward implementation. Just wanted to receive some feedback on other features we can push.

[2017-06-07 14:08] bresch commented on #6796
@pavel-kirienko @AndreasAntener Tested today with Orel20 and Sapog v2.2. I first tried if my drone was able to recover from a free-fall and then I tried to flip the kill switch during ~0.5s. The motors were able to restart successfully.

[Video](https://drive.google.com/open?id=0B0uX_2YN9jiNeUVNbU1OVENfVm8) of the kill switch flip sequence and complete [log](http://logs.px4.io/plot_app?log=6c80a1d

[2017-06-07 14:08] #6796 closed

[2017-06-07 14:32] paan2097 commented on #5695
@nicolaerosia Yeah we had commented out the navio-rgb overlay before testing yesterday and still had the same problems.

[2017-06-07 15:06] pavel-kirienko commented on #6796
Thanks, Mathieu.

[2017-06-07 17:21] rkintada commented on #6562
@potaito Thank you very much for posting the video.

[2017-06-07 18:10] nicolaerosia commented on #5695
@paan2097 please share the output of the following:
[code]

[code]

[code]

[2017-06-07 18:29] NaterGator commented on #7142
Lorenz, things are looking good now! Closing.

[2017-06-07 18:29] #7142 closed

[2017-06-07 18:32] NaterGator opened #7376 "Parameter save nearly taking 500ms to complete"
On pixhawk the param save process is getting dangerously close to 500ms. Once it crosses this threshold it will trigger an FMU timeout on the IO and put the servos into failsafe positions for a brief bit.

Not yet sure where the hottest spots are in the param save code, but likely candidates seem to by BSON encoding (especially float to double conversion) and SPI locking for the ramtron device.

[2017-06-07 18:51] LorenzMeier commented on #7376
It should not lock out scheduling for that time frame but only that single bus, which has no sensors. If that's not the case then we need to check what is causing the incorrect behavior.

[2017-06-07 19:33] NaterGator commented on #7376
Lorenz, I tried extending the sleep time [here](https://github.com/PX4/Firmware/blob/e0d81b4c5e0f98d0e0f031242057e5497930213f/src/modules/systemlib/param/param.c#L1093) but it doesn't seem to have an effect on the IO timeout. I suppose it is possible there is a param write lock being waited on that is causing a priority inversion, though I'm not sure what task would be routinely acquiring the para

[2017-06-07 19:49] TSC21 commented on #7368
@ChristophTobler are you good with syncing with https://github.com/PX4/Firmware/tree/global_to_local and add a possibility of externally define a `global_origin` plus output the offset through `LOCAL_POSITION_NED_SYSTEM_GLOBAL_OFFSET` if it is not coincident with the `local_origin`? I make a PR against that branch so you can evaluate it.

[2017-06-07 20:48] paan2097 commented on #5695
@nicolaerosia I'm testing on the current PX4/Firmware master branch. Thanks for the help, I'm trying my best to get PX4 running on the NAVIO2 configured for planes. Unfortunately, I'm still running into the servo over extension problem although I ran through all the calibration steps in QGroundControl. All passed except it stated there was no airspeed sensor attached but there is one connected via

[2017-06-08 02:28] jywilson commented on #7364
@ChristophTobler

The minidm output indicates that a function is referenced in the aDSP code (compiled into dynamically loaded .so files) for which there is no actual code.  This will cause the associated .so to fail to load and since most of the flight stack is contained in the libpx4.so, that means that the flight stack will not run.

The name of the function (demangled from the C++ symbol name

[2017-06-08 03:14] dagar commented on #7364
Fixed here - https://github.com/PX4/Firmware/pull/7359/commits/343578eaa1e4631bb5cb3e68b705345d1dce0fdb
Apparently int32_t != int here.

[2017-06-08 06:05] nicolaerosia commented on #5695
@paan2097 you're running as user, you need to run as root

[2017-06-08 06:09] potaito commented on #6562
@mhkabir I was following the Qualcomm recommendations and wanted to buy the QX 200. I managed to get the motors and propellers, but not the frame (hard to ship to Switzerland from the US). So I found the chinese seller "rakonheli" offering custom QX 200 upgrade frames, and this is it. It's a very nice kit, probably better than the original recommendation :)

However, now that the PX4 can output PW

[2017-06-08 07:00] potaito commented on #6562
Just a heads-up regarding the linked fork: The master has been rolled back (yes, evil, I know...) to ATLFlight/master in order to remain compatible. Sorry about that.

[2017-06-08 08:17] tubeme opened #7378 "FW Flashing Stable: wrong reporting."
Hello guys,

I'm flashing Stable with QGC. Then it reports it as 1.6.1dev. I see that latest stable is 1.6.2 but there is no binary i can flash. And I'm not sure what Stable is flashing in QGC... Either it is wrongly reported version or Stable flashes something else.

[2017-06-08 08:26] mhkabir commented on #7378
@dagar @LorenzMeier looks like tagging issue again.

[2017-06-08 08:44] Finwood opened #7379 "Mission takeoff with rotary wing rejected due to (horizontal) acceptance radius"
With a "high" (20 meters) NAV_ACC_RAD setting, takeoff for multicopter missions gets annoying. The [Mission Feasibility Checker](/PX4/Firmware/blob/master/src/modules/navigator/mission_feasibility_checker.cpp#L139) rejects takeoff altitudes below 21 meters, which is not always desired.

We should use the altitude acceptance radius NAV_MC_ALT_RAD for this check.

[2017-06-08 09:07] bkueng commented on #7376
If `param_get` or `param_set` is called during a save, it would block. But none of these should be called regularly, and last time I checked, there wasn't.

[2017-06-08 12:42] mhkabir opened #7382 "Creating new mixer geometry - documentation required"
While working on bringing up a new airframe, I realized that there is absolutely no documentation on how to create a custom mix for a new geometry in the `multi_tables.py` script. https://github.com/PX4/Firmware/blob/master/src/modules/systemlib/mixer/multi_tables.py

I would be happy to document this, but I need someone who has worked on it to atleast give me a basic understanding of what each pa

[2017-06-08 13:25] dagar commented on #7378
@mhkabir something else is going on here. If you fetch everything the v1.6.2 tag is there, but not showing in the stable branch.

	50ecee9 (HEAD -> stable, px4/stable) FINALLY fix mag rotation issues. (#7366)
	b4b8a03 (tag: v1.6.1) mavlink: new MAV_CMD_IMAGE_START_CAPTURE spec
	ab14de9 sensors : correctly handle internal magnetometer rotations
	8ff7346 BMI055: Ensure the accel driver sets the devi

[2017-06-08 13:32] dagar commented on #7378
The commit was tagged in master. If you cherry-pick to another branch the tag doesn't follow. Git can follow merges back for versioning, but that doesn't help in this case.

![image](https://user-images.githubusercontent.com/84712/26931035-29d24b06-4c2d-11e7-8aa9-17b479e5d159.png)

[2017-06-08 15:07] paan2097 commented on #5695
@nicolaerosia I'm running px4 with the sudo command, do I need to actually login as root? We are using the NAVIO2 with the latest emlid image on a Raspberry Pi 3 Model B. My only connections are the AERT servos and motor, PPM converter to rc in, and a USB wifi dongle. I'm using the latest PX4/Firmware master branch

[2017-06-08 16:23] Seanmatthews opened #7383 "rc_receiver_api.h file not found"
When making v1.6.2 for Snapdragon Flight with `make eagle_legacy_default` using board image 3.1.3:

[2017-06-08 18:13] mago3421 opened #7384 "[HIL] X-Plane, QGC, and Pixhawk Are Connected but No Radio Control"
Hi everyone,

I'm trying to run HIL using X-Plane 10, QGC, and the Pixhawk. I followed the instructions on the dev guide and everything seems to be connected, except nothing happens when I move the radio sticks. The system arms and I get a solid green light on the Pixhawk but I can't control it in Manual mode. Here is a screenshot of my setup.

![image](https://user-images.githubusercontent.com/19

[2017-06-08 18:41] #7383 closed

[2017-06-08 19:30] jywilson commented on #7364
Good catch!

[2017-06-08 20:14] magiccjae commented on #7068
@TobiMiller
Have you tested that your mask 4035(X, Y - velocity, Z - position) is working? Is there any particular reason that you allow Z-velocity as well when you only want to command Z-position? (i.e. why the mask is not 4067?)

[2017-06-08 20:58] mago3421 commented on #7384
Just an update, I replaced QGC stable with the latest build. I cannot also not load the one-waypoint mission suggested by the dev guide without getting the error "MAV_MISSION_ERROR".

[2017-06-08 22:44] Seanmatthews opened #7385 "Initialize Error calling the uorb fastrpc initalize method.."
I switched up to 3.1.3 Snapdragon Flight image  and v1.6.2 of PX4. Built PX4 with `make eagle_legacy_default`. What's going on here?

Mind the large error dump:

[2017-06-08 22:51] sparky002 opened #7386 "Lack of documentation"
A few outstanding questions for a fixed wing aircraft with landing gear.

Wheel Steering:
1.) What mode does wheel steering effect while in take-off role on the ground?
2.) Does wheel steering only effect stabilize, or auto/mission modes, or both.
3.) Does wheel steering only effect the aircraft while it is on the ground, or in the air as well.
4.) How does the Pixhawk know when to stop using whee

[2017-06-08 23:32] dagar commented on #7385
Should be fixed by this PR - https://github.com/PX4/Firmware/pull/7359
This is the relevant commit. https://github.com/PX4/Firmware/pull/7359/commits/62137fd45c22d090b661dc7d319b53458801de7d

[2017-06-08 23:53] Seanmatthews commented on #7385
@dagar Thanks for the reference. That thread adequately explains (and solves) the issue. I'll close this out.

[2017-06-08 23:53] #7385 closed

[2017-06-09 00:03] sanderux commented on #4893
@dagar we need to address this, you have any ideas?

[2017-06-09 00:08] sanderux commented on #7063
@dagar i implemented the timeout here: https://github.com/PX4/Firmware/pull/5185
but i dont have a tailsitter so was waiting for a test

[2017-06-09 00:40] dagar commented on #7063
Thanks @sanderux. We might as well get it working reasonably well in SITL and get it in. The current code is broken for several real world tailsitters I've encountered. There's also no pitch actuation during P2 right now which we should change.
https://github.com/PX4/Firmware/blob/master/src/modules/vtol_att_control/tailsitter.cpp#L501

[2017-06-09 01:09] dagar commented on #7327
Yes, but we'll need more information.

[2017-06-09 01:59] dagar commented on #7386
These are some good questions.

1. Currently only during auto TAKEOFF (runway only) and LANDING (after flair).
2. Only AUTO
3. Mostly on the ground, but there are brief sections where it's active in air.
4. For runway takeoff the wheel steering is enabled until the climbout section above RWTO_NAV_ALT
5. Think of wheel steering as an alternate yaw controller, but because most hobby planes have stee

[2017-06-09 02:03] #7326 closed

[2017-06-09 08:08] devbharat opened #7387 "Issue with px4_add_module()"
Doesn't `target_include_directories()` require `INTERFACE|PUBLIC|PRIVATE` as an [argument](https://cmake.org/cmake/help/v3.3/command/target_include_directories.html)? The definition of px4_add_module [here](https://github.com/PX4/Firmware/blob/5ee79648b7e709c0c31e4369f3f77ae39f1c7567/cmake/common/px4_base.cmake#L248) skips it.

[code]

It exits with "_target_include_directories called with invalid

[2017-06-09 12:50] tubeme commented on #7386
For the Mission mode there are some checks BTW.

If your first Waypoint is further away MIS_DIST_1WP distance from Home it will not activate the mission. It is up to 10km. so no further than 10km.

[2017-06-09 14:41] mago3421 commented on #7384
Okay, I had to change the HIL port on QGC to be 49000 as opposed to 49005 but now radio control is inverted on X-Plane. I believe this may be an X-Plane configuration and should work after this.

[2017-06-09 14:59] alexandrelheinen opened #7389 "S.BUS start symbol"
I would say that the S.Bus start symbol defined here
https://github.com/PX4/Firmware/blob/master/src/lib/rc/sbus.cpp#L62
is probably wrong.

I was testing a FrSky X8R receiver and I received any start byte (`0x0f`). It turns out that https://developer.mbed.org/users/Digixx/notebook/futaba-s-bus-controlled-by-mbed/ defines the start byte as being `0xf0`, differently from the driver.

[2017-06-09 16:32] #7389 closed

[2017-06-09 16:45] Seanmatthews commented on #6562
@potaito Very nice work. How far does it lurch forward on takeoff? What do you suppose the reason for that is?

[2017-06-09 17:41] stoneking commented on #7386
Related question:  I tried switching from stabilized mode into mission mode on the ground during the takeoff role and observed an interruption of control and thrust for about a full second before mission mode kicked in.  Should I expect the same magnitude of interruption of control and thrust in the air, after takeoff?

[2017-06-09 18:13] dagar commented on #7386
@stoneking no definitely not, and if you can share a log we can look at what actually happened. It may have just been the land detector.

[2017-06-09 18:25] stoneking commented on #7386
Thanks.  I can't share that particular log, but if I repeat the experiment, I will try to save the log to share.

[2017-06-09 18:28] dagar commented on #7386
No problem, just pay attention to the land detector. It produces the "Takeoff detected" and "Landing detected" messages in the console and can also be seem in the EXTENDED_SYS_STATE (http://mavlink.org/messages/common#EXTENDED_SYS_STATE) mavlink message.

[2017-06-09 18:45] vvranjek opened #7390 "'fw_pos_control_l1 stop' crashes the system in v1.6.2"
Replicate the issue:

Flash v1.6.2 using qGroundControl-3.1.3
Open console and run:
`fw_pos_control_l1 stop`

Boot+crash:
[code]

[2017-06-09 18:49] vvranjek opened #7391 "Wrong version displayed (or flashed)"
I flashed (presumibly) v1.6.2 using qGroundControl-3.1.3, but `ver all` says I have v1.6.1.

[code]

[2017-06-09 19:16] dagar commented on #7390
Thanks for reporting, this isn't new. I was planning to fix it by moving the FW controllers over to the new common module base class once available. https://github.com/PX4/Firmware/pull/7145

[2017-06-09 19:17] dagar commented on #7391
Duplicate of this issue - https://github.com/PX4/Firmware/issues/7378

[2017-06-09 19:17] #7391 closed

[2017-06-09 19:19] dagar commented on #7387
Do we actually need this functionality or would it make more sense to directly call include_directories() in that CMakeLists.txt?

[2017-06-09 19:33] tubeme commented on #7386
@stoneking I can confirm that there is no such a stop in control during flight between all modes and mission. Mission just kicks in... Although Take Off Mode (Take off  and land are modes not roles in terms of PX4.) There might be some hick up we haven't tested. But without logs there is no solution to the problem.

Another thing to mention is that we did not have any problems with with holding ou

[2017-06-09 20:55] dswk opened #7392 "GPS_STATUS message support"
PX4 does not appear to support the GPS_STATUS message. I was hoping to use MAVROS to gather the SNR (C/N0) values to each satellite in view from my multirotor in flight. Currently MAVROS itself does not support this message, which I'm hoping will change, but it can't add support until it is produced at the source (PX4). This is the type of info available in the $GPGSV NMEA 0183 message, which is t

[2017-06-10 10:44] devbharat commented on #7387
Of course we could directly call target_include_directories() in the specific CMakeLists file, but I thought there was a point to all these px4 abstractions.

[2017-06-11 05:00] potaito commented on #6562
@Seanmatthews In my case it was almost 2 meters. It should be said though that I did not touch the controller gains at all. I think the default gains are very tame, might be that this is the reason, paired with an wrong level bias of the IMU.

[2017-06-11 07:13] mhkabir commented on #6562
Yeah you need to add the velocity update to LPE.

[2017-06-11 07:35] stlfatboy opened #7393 "ESC calibration always time out after connected to battery"

[2017-06-11 08:33] sanderux commented on #7393
What esc's are you using, how lang after boot should the signal go low?

[2017-06-11 08:41] sanderux commented on #7313
Could you add a pr on this?

[2017-06-11 08:43] sanderux commented on #7309
@Stifael this remains a problem in missions. Could you please fix this or change your implementation to be more like geofence?

[2017-06-11 10:33] stlfatboy commented on #7393
@sanderux
I am using blhell_s.
Not sure for that, I am new to drone.

[2017-06-11 13:35] tubeme opened #7394 "1.6.1 : No transition on SD CARD missing."
I dont know if it is VTOL problem but we tried it with VTOL. On SD CARD missing there was no sound or indication for the missing card. Also we were able to arm and fly the VTOL in MC mode without any problems. But then it did not allow us to transition in FW flight without the SD CARD. Also there was no indication in QGC about the missing card, nor there was a sound form the Pixhawk.

[2017-06-11 13:59] goodman110110110 commented on #6534
In the firmware files which is init.d, there is the the
file"1004_rc_fw_Rascal110.hil", so px4 has not support the flightgear
simulation.

2017-03-15 22:54 GMT+08:00 aivian <notifications@github.com>:

[2017-06-11 14:33] Stifael commented on #7309
@sanderux, I dont really want to take the credit for the altitude limit, because I dont like to have it in the landdetector either and would like to remove it. However, I dont know how geofence works right now and not sure if I have the time to work on that. What I can do right now is to limit the mission  altitude to the max altitude...

[2017-06-11 16:31] Stifael commented on #7309
@LorenzMeier I am in favor of turning off the landdetector alt max for now, since in order to implement it properly it requires some more changes. Currently the landdetector adjusts max altitude based on battery level. Lets assume the vehicle is flying a mission. It is possible to adjust the desired altitude to the max altitude, but what happens if the vehicle is in between two waypoints and the b

[2017-06-11 16:35] Seanmatthews commented on #6562
@potaito Did you use the [PX4 example hover code](https://dev.px4.io/en/ros/mavros_offboard.html) with a different positive Z value? My own attempts to replicate your setup [have not been successful](https://streamable.com/zs7r8). The differences I see are a different frame (possibly heavier, different legs), no floor mat to provide additional friction, possibly a different battery (?), and anythi

[2017-06-11 16:49] mhkabir commented on #6562
@Seanmatthews The issue is obvious in your case. You have no texture on the ground and lighting seems sub-optimal; Any visual odometry system (especially monocular ones), no matter how good - will fail without adequate texture for feature tracking. Without these image-space constraints, the system cannot perform adequately. Can you post an image from the bottom camera (at flight altitude) here?

I

[2017-06-11 16:51] mhkabir commented on #6562
I also think that anyone wanting to properly use this VIO system will need good camera intrinsics calibration. It currently just works because the bottom camera-lens system on the Snapdragon Flight boards are just "close enough" to whatever is set/hardcoded in the code. @rkintada Can you comment?

[2017-06-11 16:57] Stifael commented on #7309
Actually, the navigator knows when something in the landdetector had changed. So I guess I can do it without much change for mission. But the same check has to be done for all the other auto related maneuvers such as rtl etc.,

[2017-06-11 16:59] mhkabir commented on #6562
@Seanmatthews You will also need to take off manually and _then_ switch to position control after the VIO properly converges. Auto takeoff (in position control, if you don't want to change the code) is possible, but :
i) It will drift before VIO converges, and VIO may diverge at the beginning since the camera is out of focus.
ii) You will need to make sure it uses the proper PX4 "takeoff jump" fun

[2017-06-11 17:03] mhkabir commented on #6562
@potaito It would be great if you could add all the instructions to get this working on a page on the PX4 Devguide : https://dev.px4.io/. You can send in a pull request to https://github.com/PX4/Devguide.

It would be a shame to have all this great work lost. I think we would also be interested in moving your working branch of the VINS repo to the PX4 organisation so that we can provide a referenc

[2017-06-11 17:22] Seanmatthews commented on #6562
@mhkabir It's not super obvious and I'd like to hear @potaito 's view since he has it working. I tested position estimation manually using my floor texture and it works very well. Particularly, I think seeing his takeoff/hover code will answer your and my questions. I did not get the impression that he performed a manual takeoff before entering offboard mode, given the 2m forward lunge.

@mhkabir

[2017-06-11 18:31] potaito commented on #6562
Yes you are correct, I used a modified example. Unfortunately I am out of the office for a week, but here's what I did:
1. Start VISLAM and px4 with the quad on the ground. It can be that the camera is too close to the ground with our small frames. With sub-optimal conditions I had to put the quad on the edge of a small box with the camera being over the edge. Otherwise VISLAM would fail. In that

[2017-06-11 18:40] potaito commented on #6562
That is true. However, the Snapdragon´s optical flow lens has a rather wide angle. So in my opinion in comes down to whether or not VISLAM can initialize while landed. As noted above, I sometimes had to increase the starting height of my quad to help VISLAM a bit.
On a similar note: There is a setting to allow VISLAM initialization while the vehicle is moving. The default is `false`, i.e. do not a

[2017-06-11 18:54] potaito commented on #6562
I will gladly do that, always wanted to contribute to the docs. But perhaps we should first sort out all issues before providing an official HOWTO that might not even work properly. Plus, @rkintada wants to integrate the px4 compatible application into the existing Qualcomm VISLAM example, which will require changes in the code that is in my working branch. As a summary, here's what I want to do:

[2017-06-11 19:51] Seanmatthews commented on #6562
@potaito That sounds like a good path. Regarding step 1, @rkintada refers to some [potential problems](https://github.com/PX4/Firmware/issues/6562#issuecomment-282423882) with standardizing on ROS time. I'm not sure if that impacts what you're planning here.

I have a similar [test mat](https://www.amazon.com/gp/product/B01N09WFPH) coming tomorrow, as well as the [rakonheli frame](https://www.rako

[2017-06-11 20:08] potaito commented on #6562
@Seanmatthews That is true, the ROS time does not affect the performance at all. I am just under the impression that I did not fully understand the time sync mode in mavros and that there would be a better way of doing it (i.e. mavros outputting the offset between the two clocks or something, which we could then use).

[2017-06-11 20:16] nicolaerosia opened #7395 "Regression: Navio2 magnetometer failure"
Hello,

I'm getting the following error and I don't have a magnetometer working anymore:
[code]

I've bisected this down to https://github.com/PX4/Firmware/commit/5cbaaa633b19bc19ffa91660ca73c6b950e28492

[2017-06-12 02:33] sanderux commented on #7309
@Stifael based on https://github.com/PX4/Firmware/commit/a1982e039288221c7ecac62e4ea3ebf909b2578e i was under the impression that it was you who added this to the land detector. In a later commit you enabled it by default.

I agree it would be best to disable it for now. I never understood what it's doing in the land detector anyway.

[2017-06-12 03:24] mhkabir commented on #7395
@nicolaerosia would be good if you could debug it further. I don't have a Navio setup ready with me at the moment.

[2017-06-12 03:31] sanderux commented on #7393
@LorenzMeier @dagar
Currently esc calibration is hardcoded to wait 3 secs after battery connected before setting the PWM signal low. (https://github.com/PX4/Firmware/blob/master/src/modules/commander/esc_calibration.cpp#L114)

According to the docs BLHeli needs at minimum 3 seconds of PWM high, and SimonK needs at maximum 2 seconds. in both cases we must account for the time it takes the ESC to bo

[2017-06-12 03:41] mhkabir commented on #7393
Related : DJI E6xx ESCs (and other DJI ones) run a self-check and pulse motors which takes 3-4 seconds on startup. This means that the calibration needs at-least 7-8 seconds of high signal after plugging in the battery.

I think a good way to expose the "high time" parameter to the user would be a dropdown in the QGC Power menu where the calibrate button is.

Related issues :
https://github.com/PX

[2017-06-12 03:54] Seanmatthews commented on #6562
@potaito Does #7370 solve the timestamp issue? Looks like it's waiting on your review, @mhkabir.

[2017-06-12 04:01] sanderux commented on #7393
Should this be a param or should it be part of http://mavlink.org/messages/common#MAV_CMD_PREFLIGHT_CALIBRATION and have the user select the timeout from QGC every time?

[2017-06-12 04:04] mhkabir commented on #7393
I don't see a clean way to put it into the command, so a parameter would probably be the easiest thing to do.

[2017-06-12 04:16] mhkabir commented on #6562
To correctly solve the timebase issue, what you need to do is add a offset computation in the camera driver. That's a small change - it would just need to compute and average the time offset between the aDSP time (image timestamp) and the ROS wall clock (essentially the POSIX `CLOCK_REALTIME`). Then just use `timesync_mode::ONBOARD` in mavros.

[2017-06-12 05:06] Stifael commented on #7309
@sanderux that is correct, but I just followed orders. I never wanted to put it there either

[2017-06-12 05:22] Seanmatthews commented on #7128
I'm going to try to consolidate all the other similar issues into this newest one, and go from there.

Relevant:
- [This comment](https://github.com/PX4/Firmware/issues/7055#issuecomment-295638659) infers that the commander interprets a lack of GPS as a lack of position.
- #7266 is related in that GPS timeout seems to inhibit certain OFFBOARD functionality.
- #7279 describes POS_HOLD rejection whe

[2017-06-12 05:37] mhkabir commented on #7128
@ChristophTobler already has the stuff necessary to solve this in a branch : https://github.com/PX4/Firmware/tree/global_to_local. It would need testing with LPE because it's only been tested with EKF2.

Aside : I'm reworking some parts of EKF2 this week to allow an external estimator (VIO or whatever) to be fused in the loop.

[2017-06-12 05:46] Seanmatthews commented on #7128
That's great news. @ChristophTobler, is there anything I should know in order to test out your branch with LPE? Is it ready to be tested with LPE, or are there additional issues to deal with?

[2017-06-12 06:03] rkintada commented on #6562
The instrincs can be computed by ROS camera calibration(http://wiki.ros.org/camera_calibration) if needed.  The existing code may need some changes.  I will be able to update it in a week.  However the current values are generated based on our internal calibration and it was seen to be the same for same sensors.

[2017-06-12 06:06] rkintada commented on #6562
For step 1, can MAVROS be updated to generated a new ROS topic that includes the IMU stamp of the provided by the IMU?  This would be additional field of the ROS topic.  In this case, the ROS timestamping will not be affected.  The user of the VISLAM will need to use the timestamp provided in the ROS topic instead of the ROS::time.

[2017-06-12 07:41] nicolaerosia commented on #7395
@mhkabir I'll investigate. Any ideas what could be the issue?

[2017-06-12 08:00] ChristophTobler commented on #7364
closing this as it has been fixed in the PR and it doesn't affect master

[2017-06-12 08:00] #7364 closed

[2017-06-12 09:10] TSC21 commented on #6562
For that you need to create a custom msg. MAVROS is publishing IMU data in `sensor_msgs/IMU.msg`, which uses ROS stamp on `header`. What I don't understand is that if you are using a system that is running ROS, which syncs all topics through POSIX clock, what makes you think that pushing the IMU timestamp directly to the VISLAM will avoid problems with ROS time?

[2017-06-12 10:19] mhkabir commented on #7395
It's not obvious how the bisected commit breaks it. Are you sure that it's the correct breaking one?

[2017-06-12 10:53] nicolaerosia commented on #7395
Yes, I will check again even though I have double tested yesterday.

[2017-06-12 12:38] ChristophTobler commented on #7128
@Seanmatthews It is still work in progress and it has only been tested in SITL. So if you do want to test it, make sure you have manual mapped on your remote in case somethings happens

[2017-06-12 14:19] NRottmann commented on #6222
@weiweikong or @mhkabir
I am facing the same Issue. I am running my simulation with mavros and .ulg is not saved correctly. If I instead make posix_sitl_default gazebo then it stores the log files correctly. How did you solve the problem?
Best Nils

[2017-06-12 14:40] Seanmatthews commented on #6562
@TSC21 By default, MAVROS sends a ROS time associated with the IMU data it obtains from PX4. MAVROS assigns the `ros::Time::now()` when it receives the data. There's a timesync_mode, `PASSTHROUGH`, that will deliver the timestamp associated with the data by PX4. However, there's no option for both timestamps. VISLAM gets this IMU through MAVROS, but then gets its camera data from the Qualcomm came

[2017-06-12 15:43] Seanmatthews commented on #7128
@ChristophTobler What's the best way to map a Spektrum controller to switch between manual and offboard (or mission?) ? Looking [here](https://pixhawk.org/dev/manual_input) it appears that channel 5 switches between manual, assisted, and mission by default (though my channel 5 is mapped to only a two-way switch). What's the common safety mechanism/control settings that PX4 devs use for a deadman's

[2017-06-12 16:19] dagar commented on #7362
Fixed by https://github.com/PX4/Firmware/pull/7359

[2017-06-12 16:19] #7362 closed

[2017-06-12 17:13] tstellanova opened #7398 "Mag STALE fail with external uavcan mag"
- Working with PX4 firmware tagged v1.6.2, with an external UAVCAN magnetometer,  during startup sequence, sensors reports:

[code]
From nsh command line, `sensors status` reports:

[code]

- Prior to v1.6.2 I did not see this error.
- Verified with two different Zubax GNSS2 sensors connected via UAVCAN.  Both previously worked fine with eg v.1.6.0

@mhkabir Perhaps you have some ideas.

[2017-06-12 17:26] mhkabir commented on #7398
Related #7397, but I'm not sure why it happens yet.

[2017-06-12 17:26] dagar opened #7399 "Snapdragon QuRT compiler optimization"
Continuing from https://github.com/PX4/Firmware/pull/7359

I've been gradually trying to simplify the PX4 build system as its increasing complexity results in hiding issues and things not working as intended.

One example is the optimization level for QuRT.

In previous versions of cmake/qurt/px4_impl_qurt.cmake (https://github.com/PX4/Firmware/blob/stable/cmake/qurt/px4_impl_qurt.cmake#L184) the