[2021-02-22 06:31] kekiefer commented on #16620
I'm not sure what you mean. IIRC the `spectrum_rc` task's job is to run the parser library that lives in `src/lib/rc/dsm.cpp`. This behavior wasn't changed, and the existing dsm parser was extended to support srxl for sending back telemetry.

[2021-02-22 07:45] #16904 closed

[2021-02-22 13:18] sfuhrer commented on #14947
I guess so, but probably already quite some time ago. Let's put in some effort in fixing it now - would you be able to help @UASOP ?

[2021-02-22 16:26] VarunBurde commented on #16896
Hello,
Thank you for reply.

Here are some snapshot from the mavlink console

When using telemetry setup

![telem_setup](https://user-images.githubusercontent.com/17682601/108737525-fa1dbe80-7532-11eb-9455-4a6b0bda58bf.jpg)
![with tele_insp](https://user-images.githubusercontent.com/17682601/108736948-621fd500-7532-11eb-9c3d-d03c287ccf9e.png)
![with telemetry](https://user-images.githubusercontent

[2021-02-22 16:38] dagar opened #16918 "Nora intermittent SD card failures"
There are reports of SD card failures (very likely failing to start in the first place) on the CUAV Nora, which sound quite similar to what we've heard on the Holybro Durandal.

Needs to be reproduced on the bench to see what's actually going on.

Possibly related to power on timing.

https://github.com/PX4/PX4-Autopilot/blob/a8a9832b595321f9073438ae6964fe9ed211d2f4/boards/cuav/nora/src/init.c#L18

[2021-02-22 17:35] dagar commented on #16873
Thanks @dk7xe, I see the problem now. The board rotation isn't being applied unless the sensor's calibration is found (your log doesn't have an accel cal). Please try https://github.com/PX4/PX4-Autopilot/pull/16919.

[2021-02-22 20:08] farhangnaderi commented on #15712
This solved my problem as well.

[2021-02-22 20:33] LorenzMeier commented on #15712
This is fixed on master.

[2021-02-22 20:33] #15712 closed

[2021-02-22 21:30] lelliott20s commented on #16901
Can you launch gazebo standalone with the command gazebo? What commands did you use to get to this point?

[2021-02-22 22:34] Jaeyoung-Lim commented on #16901
[Err] [ConnectionManager.cc:131] Unable to read from master
[Err] [gazebo_shared.cc:77] Unable to initialize transport.
[Err] [gazebo_client.cc:56] Unable to setup Gazebo

Looks like `gzserver` is not running

[2021-02-23 04:16] ashirsat opened #16928 "mocap_pose_estimate does not work on px4 firmware version 1.10.1 with LPE running mavros"
**Describe the bug**
Unable to get mocap_pose_estimate plugin to work with optitrack mocap message for position hold.

**To Reproduce**
Steps to reproduce the behavior:
1. I am following the guide for [Using Vision or Motion Capture Systems for Position Estimation](https://docs.px4.io/master/en/ros/external_position_estimation.html) for enabling position set points with optitrack
2. First I launch

[2021-02-23 05:14] gizmond1982 opened #16930 "Unstable flight - Shaking from side to side"
Hi all,

I have just completed my first S500 drone build. I am using 40A ESC, T-motor 2216, Pixhawk 2.4.8, m8n gps, and 5200mah / 60C lipo.

My drone can takeoff and land but during the flight the drone is very jumpy and unstable shaking from side to side (left, right, front, back) even almost no winds.

I was wondering what could be the reason...

Here are the logs -
https://logs.px4.io/plot_app?

[2021-02-23 09:53] sanderux opened #16932 "BATx_CAPACITY not considered in remaining percentage indication"
When setting the BAT1_CAPACITY the expected behavior is:
1. Calculate remaining percentage based on voltage
2. Calculate remaining percentage based on battery capacity
3. Indicate whichever provides the lower percentage

Currently it seems only the voltage is taken into account

![image](https://user-images.githubusercontent.com/14801663/108826991-52050580-75c5-11eb-860b-aaa916134c5c.png)

[2021-02-23 12:03] marvin-wtt opened #16934 "Copter flips when manually moving it after safety switch is pressed"
**Describe the bug**
When trying to take off after moving the copter on the ground, the copter flips. It seems like the drone wants the correct its position go get to the previous land position.

**To Reproduce**
Steps to reproduce the behavior:
1. Switch on drone
2. Go into position mode
3. Press safety switch
4. Rotate drone in yaw angle
5. Turn off kill switch and arm
6. Take off

**Expected be

[2021-02-23 13:56] bresch commented on #16934
It looks like the drone tries to reach the initial yaw angle, not the position.

![DeepinScreenshot_select-area_20210223145534](https://user-images.githubusercontent.com/14822839/108853587-33b00180-75e7-11eb-80eb-51ebc1ccf4ae.png)

[2021-02-23 14:20] dk7xe commented on #16873
@dagar works perfectly! Thank you!
![20210223_125037.jpg](https://user-images.githubusercontent.com/3907200/108841141-97cac980-75d7-11eb-871f-8c913bf572e6.jpg)

[2021-02-23 14:24] #16873 closed

[2021-02-23 15:02] marvin-wtt commented on #16934
Yes. You are right. However is this behavior intentional?

[2021-02-23 17:08] ashirsat commented on #16928
@TSC21 any suggestions on this?

[2021-02-23 17:25] TSC21 commented on #16928
@ashirsat is there any reason you are using LPE? We are not actively maintaining LPE anymore, so I would suggest you use EKF2 instead and send the mocap data through the `odom` or `vision_pose_estimate` plugins.

[2021-02-24 05:22] mrpollo opened #16942 "UAVCAN v0 Node Issue Tracker and Discussion"
The following Issue is an effort to continue tracking the discussions and progress of the UAVCAN v0 Node.

The CAN Node for v0 support has been in the codebase for a while, without much use until now, the developer team has put an extra effort to bring it back to full support, and is currently testing it with hardware from different vendors Including CUAV, Holybro, and NXP, all of which will be re

[2021-02-24 10:47] 96moustafa opened #16944 "Always getting failsafe enabled: no offboard warning"
I using ROS2 foxy to publish position_setpoints in OFFBOARD mode as in the offboard_control example. The multicopter moves to the desired points as expected. However, I always get the warning from the commander:

` WARN  [commander] Failsafe enabled: no RC and no offboard`

I have no RC connected, but I don't understand why warns me about "no offboard". I know that I should publish at a certain ra

[2021-02-24 11:14] ibrahimqazi opened #16945 "Unable to compile the code"
Hello dear developers,
I am unable to compile the code from source, no matter I compile for which board I always get the error; Can someone please guide what is the root cause of this error?
`make px4_fmu-v3_default
-- PX4 version: v1.11.0-rc3-1684-gcec31fd685
-- PX4 config file: /media/ibrrahim/New Volume/PX4-Autopilot/boards/px4/fmu-v3/default.cmake
-- PX4 config: px4_fmu-v3_default
-- PX4 platf

[2021-02-24 15:37] bresch commented on #16945
[code]
there is a space between `New` and `Volume`

[2021-02-24 16:05] igalloway commented on #16942
@mrpollo - what do you mean by Hardware Support - "working"
The UCANS32K146 software is working well. It was just the bootloader(s) left to do. The CAN bootloader has a PR now (as you have noticed.

[2021-02-24 16:43] mrpollo opened #16948 "UAVCAN v1 Node Issue Tracker and Discussion"
Working towards getting UAVCAN v1 support following the DS-015 standard.

## Team Working on This feature
- @JacobCrabill
- @dagar
- @davids5
- @PetervdPerk-NXP

## Done
- [x] Existing code from run() refactored into smaller functions
- [x] Generic Subscriber class added; Gnss and Bms placeholders added
- [x] Generic Publisher class added; Gnss publisher in place
- [x] Client-side ESC service adde

[2021-02-24 18:21] mrpollo commented on #16942
hey @igalloway  It was a reference to the bootloader PR from @davids5, we got it merged :)

[2021-02-24 18:23] igalloway commented on #16942
Super! Thanks

On Wed, Feb 24, 2021, 2:21 PM Ramon Roche <notifications@github.com> wrote:

[2021-02-24 18:26] coderkalyan commented on #16948
I'm going to try to implement the GNNS topic fix and run this on the CUAV CAN GPS as discussed in the call. Might take me some time as I don't know how this works yet :smile:

[2021-02-24 22:02] ecmnet commented on #16858
Updated version: https://github.com/ecmnet/ecl/blob/b0b05145e4656e7fd34711405c16615e9681bf4d/EKF/control.cpp#L999

[2021-02-24 22:17] jmalbert97 opened #16950 "'make px4_fmu-v4' fails - compilers not found"
I am attempting to simply build the firmware for a NuttX / PixHawk board, following the guide here: https://docs.px4.io/master/en/dev_setup/building_px4.html. I have the firmware cloned, the toolchains installed, but the build fails. I should note, when I build for JMavSim, it builds just fine. When I build for an actual NuttX target (I am using PixHawk 4) the build fails. I have tried adding envi

[2021-02-25 02:28] #16790 closed

[2021-02-25 03:38] ibrahimqazi commented on #16945
Thanks it was a strange error.

[2021-02-25 07:04] Donny9 opened #16951 "Downsampling problem for multiple subscribers in uORB."
**Describe the bug**

I find that in the current code I can't get really downsampled topic data for topics whose queue isn't 1 and has more than one subscriber by uORB API.

The following example:
A topic has one publisher(name is P) whose queue is 10 to publish data in freq:100HZ, and it has three subscriber(name are A, B and C), they subscribe at 100Hz , 50Hz, 30HZ respectively,  they correspond

[2021-02-25 07:06] Donny9 commented on #16951
@davids5 @dagar What do you think?

[2021-02-25 09:47] bys1123 commented on #16790
@int-smart sorry, the current driver is for old hardware version, now I updated this to latest, you could try master, it should works well.

[2021-02-25 10:45] #16945 closed

[2021-02-25 15:58] ashirsat commented on #16928
@TSC21 It was an easier estimator to work with and for debugging. No other reason. Also I tried  `vision_pose_estimate` I still have an offset of 90 deg when I work with optitrack system. So I do not know if the transformations are done correctly with the vision_pose topic on the mavros side. I have followed the guide mentioned in the initial bug report.

[2021-02-25 16:43] TSC21 commented on #16928
That's probably because the optitrack system is providing the orientation in a left-handed reference or not in a different frame of reference than the expected. Try to swap the rotations in https://github.com/mavlink/mavros/blob/master/mavros_extras/src/plugins/vision_pose_estimate.cpp#L100-L101

[2021-02-25 17:20] dagar commented on #16951
I think I understand what you're saying. I was vaguely aware of the imperfect interaction between subscriptions with intervals (eg uORB::SubscriptionInterval) and queued topics, but didn't necessarily think it would be a real problem.

For various reasons I've wanted to push the publication timestamp into uORB itself so that it's set atomically with the actual data copy. If we had the timestamp fo

[2021-02-25 18:06] ashirsat commented on #16928
@TSC21 Is this code a part of the binary installation with `ros-melodic-mavros-estras`?

[2021-02-25 18:08] TSC21 commented on #16928
What code?

[2021-02-25 18:09] ashirsat commented on #16928
@TSC21  The lines that you linked in vision-pose-estimate.ccp file?

[2021-02-25 18:10] ashirsat commented on #16928
The lines that you linked in the previous response?

[2021-02-25 18:12] ashirsat commented on #16928
Also I don't think it is a left hand co-ordinate system. If I follow the guide I think I get +x forward +y left of pixhawk and +z upwards.

[2021-02-26 03:21] wuruoyu opened #16968 "Potential division-by-zero in airspeed.cpp"
**Describe the bug**
In function `calc_IAS_corrected()` in `airspeed.cpp`, under `case AIRSPEED_COMPENSATION_TUBE_PRESSURE_LOSS`, at line 143, division-by-zero exception can happen if `eps` equals to `-1`. And to me it is possible given the code above it, which is the following. Although I am not sure about the scale of each variable, it is easy to see that `eps` can be -1.
[code]
I use a solver t

[2021-02-26 03:45] wuruoyu opened #16970 "Potential division-by-zero in ObstacleAvoidance.cpp"
**Describe the bug**
At line 157 of ObstacleAvoidance.cpp, the denominator of division `yaw_velocity /= duration_s;` is not checked against zero. Similarly, at line 217, `const float prev_curr_travelled = prev_to_closest_pt.length() / prev_to_target.length();`, `prev_to_target.length()` can be zero if current waypoint is very close to previous waypoint.

**Expected behavior**
A guarding check befo

[2021-02-26 05:14] ashirsat opened #16971 "[load_mon] lp_estimator low on FDs! (1 FDs left)"
**Describe the bug**
 I am not sure how to describe the bug. In the logged messages I get a warning saying
`[load_mon]lp_estimator low on FDs! (1 FD left)

**To Reproduce**
Steps to reproduce the behavior:
1. `roslaunch px4.launch fcu_url:="`
2. Arm the quadrotor with RC
3. Start publishing optitrack messages to `\mavros\vision_pose\pose`
4. wait for 10-1 sec
5.  Upload the log to online flight re

[2021-02-26 05:15] ashirsat commented on #16971
@dagar Any suggestions?

[2021-02-26 08:53] robin-shaun commented on #10852
Arming again may help.
![image](https://user-images.githubusercontent.com/20561850/109278180-331ba300-7853-11eb-83f3-bb015a5fe493.png)

[2021-02-26 10:05] bresch commented on #16968
The check is already there:
https://github.com/PX4/PX4-Autopilot/blob/84455ac9e35f872db88b67dce5b08be7923b9b00/src/lib/airspeed/airspeed.cpp#L130-L133

[2021-02-26 10:10] bresch commented on #16970
True, could you add them please?
Also, it's easier for others to check the code if you add a link directly
e.g.: https://github.com/PX4/PX4-Autopilot/blob/94bcda7c577d96cf23eb1374d697c817191948f6/src/lib/avoidance/ObstacleAvoidance.cpp#L157-L158

[2021-02-26 14:19] wuruoyu commented on #16968
Oh, I missed that. Thank you~

[2021-02-26 14:19] #16968 closed

[2021-02-26 14:38] wuruoyu opened #16974 "Potential division-by-zero in EKFGSF_yaw.cpp"
**Describe the bug**

https://github.com/PX4/PX4-ECL/blob/098d5ce5c034f630b1b440a02ba78a13d092b8c7/EKF/EKFGSF_yaw.cpp#L104-L119

**Expected behavior**
A clear and concise description of what you expected to happen.

[2021-02-26 14:57] #16974 closed

[2021-02-26 17:40] wuruoyu opened #16979 "Potential division-by-zero in FixedwingAttitudeControl.cpp"
**Describe the bug**
There is a potential division-by-zero exception in the following code

https://github.com/PX4/PX4-Autopilot/blob/c2151cb4fafc8fdbbf136d6da4989185b0763217/src/modules/fw_att_control/FixedwingAttitudeControl.cpp#L244-L270

From the [Parameter Reference](http://docs.px4.io/master/en/advanced_config/parameter_reference.html), `FW_AIRSPD_MIN` can be zero. So if `airspeed_valid` is

[2021-02-26 18:33] wuruoyu opened #16981 "Potential division-by-zero in FixedwingAttitudeControl.cpp"
**Describe the bug**
There is a potential division-by-zero exception in the following code
https://github.com/PX4/PX4-Autopilot/blob/c2151cb4fafc8fdbbf136d6da4989185b0763217/src/modules/fw_att_control/FixedwingAttitudeControl.cpp#L451-L452

Similar to https://github.com/PX4/PX4-Autopilot/issues/16979, `FW_AIRSPD_MIN` can be set as zero. At the same time, `ground_speed` can also be zero. Therefore,

[2021-02-26 19:44] RomanBapst commented on #16979
@wuruoyu Yes, I think think your observation is correct. We should make sure to constrain the final airspeed.

[2021-02-26 20:47] gvo4davsys commented on #16787
Hello, I think I am also experiencing something related to this issue and figured I'd share what I've seen. I am running the current master of PX4, and when running Gazebo SITL simulations with the standard fixed wing, takeoff behavior has been broken when running with a ROS node. If I run `make px4_sitl_default gazebo_plane`, thus launching without ROS node, then using missions, or taking off via

[2021-02-26 22:06] ryanjAA commented on #16692
Closing. Replacement autopilot hardware and issue is gone.

I was actually able to eventually get the existing hardware to stop doing it by letting the autopilot run almost the entire day (they run hot so all day at operating temp) and then let cool overnight and it doesn’t do it anymore but it definitely had to  “burn in”.

The comm errors issue is still there but I think that is likely a PX4 iss

[2021-02-26 22:06] #16692 closed

[2021-02-26 22:18] dagar commented on #16787
@ryanjAA Where do we stand with current master after https://github.com/PX4/PX4-Autopilot/pull/16792 has merged?

[2021-02-27 02:00] wuruoyu opened #16985 "Potential division-by-zero in mc_pos_control/PositionControl.cpp"
**Describe the bug**
There is a potential division-by-zero exception in the following code.

https://github.com/PX4/PX4-Autopilot/blob/9d47f7ecda2153cc3fde3a2a63096723b3467651/src/modules/mc_pos_control/PositionControl/PositionControl.cpp#L184

The `_hover_thrust` can be zero according to the comment below

https://github.com/PX4/PX4-Autopilot/blob/9d47f7ecda2153cc3fde3a2a63096723b3467651/src/modu

[2021-02-27 07:20] ecmnet commented on #16858
Updated version:
https://github.com/ecmnet/ecl/blob/237d7bad4b21352d65dcf2e265512fed4024c08f/EKF/control.cpp#L1002

[2021-02-27 14:01] dayjaby commented on #16985
That's not possible due to `_hover_thr = math::constrain(hover_thrust, 0.1f, 0.9f);`

[2021-02-27 14:22] wuruoyu commented on #16985
I think you are referring to this line:
https://github.com/PX4/PX4-Autopilot/blob/9d47f7ecda2153cc3fde3a2a63096723b3467651/src/modules/mc_hover_thrust_estimator/zero_order_hover_thrust_ekf.hpp#L81

But the `setHoverThrust()` the code in `PositionControl.cpp` is using is the one below, which does not constrain the range. And from the comment of the below function, we can see that zero is within its

[2021-02-27 15:11] ryanjAA opened #16992 "i2c busses invalid when >1 bus defined in board config"
I'm working on an MRO Control Zero H7 OEM which has an STM32H743ii

When multiple i2c busses are defined in the defconig as well as required files (board.h, CMakeLists.txt, i2c.cpp) I can not get any of the i2c busses to work. They don't even register as valid. Only when the first (and only bus is defined) does i2c 1 work.

Running i2cdetect when multiple busses are defined gives:

NuttShell (NSH)

[2021-02-28 03:03] ryanjAA commented on #16787
@dagar fixed wing takeoff does work, sort of. It just doesn't listen to the minimum takeoff scale for pitch vs min airspeed when below 1 as far as I can tell. If you set it to 2 (double min speed), it listens. 1.3x and it listens but below 1 it doesn't seem to.

It also does act differently depending on the minimum takeoff pitch as well but it doesn't spin out of control like before and it does ta

[2021-02-28 10:26] notoriou5 commented on #16930
@gizmond1982
On the first look it seems like a PID tuning issue. Especially the roll attitude can not be followed at all:
![image](https://user-images.githubusercontent.com/17237189/109415125-244e0100-79b7-11eb-874d-7d42d35394b6.png)
Ideally, the red line should exactly follow the green like. I guess the MC_PITCH_P param is set to high. Did you do a PID tuning or did you just fly with some preset

[2021-02-28 15:31] gizmond1982 commented on #16930
Thank you @notoriou5 .
I was able to improve it with in-flight PID tuning. Not perfect but flyable.
https://review.px4.io/plot_app?log=8bc698c9-a17c-4952-b3cc-64195cbbf725

[2021-03-01 05:34] Adidushi opened #16997 "Entering a building with the PX4 local planner"
For a new project I'm working on I'm trying to have a drone enter a building through a window.
After modifying and playing around with many parameters in dynamic-reconfigure (using the depth camera local planner launcher with a custom map for a small house in a gazebo simulation), I can't seem to get the drone to enter through a window.
The drone always seems to steer away from the window and go a

[2021-03-01 08:55] #16997 closed

[2021-03-01 09:02] NicolasM0 opened #16998 "motors start during IO board update"
**Describe the bug**
I updated a drone using the px_uploader.py script. After the update, the autopilot reboot and flashed the IO board, at this moment one motor started and the drone "jumped" from my desk. I was really close.
My autopilot is a CUAV V5+. The battery was plugged in.
Is it known behavior? I did not see any indication in the doc that the command `make px4_fmu-v5_default upload` shoul

[2021-03-01 15:11] gvo4davsys commented on #16787
@ryanjAA I changed the RWTO_AIRSPEED_SCL to 200% and the FW_TKO_PITCH_MIN to 20, and it still spins out of control when taking off while launched with ROS. I had a branch on a forked repository of Tools/sitl_gazebo that was at commit [15306c1cb1ba3d0723ab29c3e59444abec53e85b](https://github.com/PX4/PX4-SITL_gazebo/tree/15306c1cb1ba3d0723ab29c3e59444abec53e85b) and that works fine with the rest of

[2021-03-01 15:44] BazookaJoe1900 commented on #16860
Fixed few days ago...

[2021-03-01 15:44] #16860 closed

[2021-03-01 18:06] bys1123 opened #16999 "Proposal: Rename GPS(unspecitied) word to GNSS"
From few years ago, autopilot hardwares are using multi GNSS modules, not only GPS. Ublox's u-center also renamed “GPS” to "GNSS", research circle also use "GNSS" for general purpose position system instead of "GPS"
The current "GPS" word usage makes more and more new users feel confused.

[2021-03-01 18:12] bys1123 opened #17000 "Driver Request: VCM5883 mag sensor"
QMC5883L are at end of product life cycle, next generation called VCM5883.

VCM5883 datasheet:
[VCM5883 Datasheet.pdf](https://github.com/PX4/PX4-Autopilot/files/6063570/VCM5883.Datasheet.pdf)

[2021-03-01 20:11] dagar commented on #17000
Any suggestion where we can pickup a breakout board?

[2021-03-02 06:31] dvireshlumenier commented on #16950
I would recommend running the setup script for your particular os. For ubuntu it is ./Tools/setup/ubuntu.sh it is possible that your compiler part is not linked properly and that script should fix it. Make sure to log out and log back in once you run that script.

[2021-03-02 10:06] pavel-kirienko commented on #16948
@JacobCrabill we discussed it at some point but IIRC we found no major usage for an enum like you are describing. If you have a specific use case in mind, then consider submitting a patch to Nunavut, please, or at least open an issue. Thanks in advance.

The general idea is to define an interface for your parameter binder and make a class template parameterized by the register type that implements

[2021-03-02 13:38] mzahana opened #17004 "UAVCAN: Here 3 GPS requires re-plugging to get recognized"
**Describe the bug**
I am trying to use Here 3 GPS with Cube Orange running PX4 1.11.3. I followed the Cube Pilot [docs](https://docs.cubepilot.org/user-guides/here-3/here-3-manual) to setup both the GPS receiver and PX4, the GPS is not recognized  unless I unplug and then replug the GPS CAN cable while the Cube orange is ON. Also, whether I do software or hardware reboot to the Cube orange, it do

[2021-03-02 13:39] mzahana commented on #16942
@mrpollo I faced this issue (https://github.com/PX4/PX4-Autopilot/issues/17004)
And I thought it's related. I hope to get some help on that.

Thanks!

[2021-03-02 16:12] JacobCrabill commented on #17004
I've actually had this issue with other autopilot boards as well - I'm guessing it's a problem with the Here3, but I'm not certain.

[2021-03-02 16:15] mrpollo commented on #16545
@ryanjAA @matthewoots did we ever get to the bottom of this issue? it seems like it was just failing for @matthewoots, was anyone else able to reproduce his error?

@dagar can you comment on the suggested change above? https://github.com/PX4/PX4-Autopilot/issues/16545#issuecomment-759874733

[2021-03-02 16:18] ryanjAA commented on #16545
I never saw the above issue occur on hardware I have - https://github.com/PX4/PX4-Autopilot/pull/16590 fixed it. Not [#16545 (comment)](https://github.com/PX4/PX4-Autopilot/issues/16545#issuecomment-759874733)

[2021-03-02 16:48] mrpollo commented on #16569
Hey @ryanjAA I started a project board for tracking all the mRo hardware issues and improvements, would you mind helping me move all of your pending items to the project board? it might better for everyone to have a single source of data to look at

https://github.com/orgs/PX4/projects/28

[2021-03-02 16:49] mrpollo commented on #16545
Weird, I also have a comment on issue #16548 that claims to fix this

[2021-03-02 16:51] mrpollo commented on #16129
@ValentineStone did you ever create the issue mentioned above?

[2021-03-02 16:56] mrpollo commented on #17004
I found the following on the cube pilot forums, which hopefully clears up the situation

https://discuss.cubepilot.org/t/here3-gps-needs-to-be-unplugged-and-re-pluggged-everytime-i-power-on-quadcopter-with-herelink-px4-orange-cube/5547/3

[2021-03-02 17:20] mrpollo commented on #16942
Thanks for the report @mzahana, I replied to your issue, it seems unrelated.

[2021-03-02 18:39] sanderux commented on #16918
I have seen no repeats of this issue after cpu issue was fixed

[2021-03-02 20:00] MaEtUgR opened #17006 "SITL jMAVsim oscillates in pitch"
**Describe the bug**
When using master I observed small but steady and fast **oscillations** already in **hover flight in simulation** from a certain point in time on. I never had the time to follow where exactly this comes from and the sim was still usable for the normal tests I do although the oscillations are annoying and could affect observations in tests. When using master today the **same os

[2021-03-02 20:17] amikhalev commented on #17004
Have you tried updating firmware on the Here3 and u-blox module?
https://docs.cubepilot.org/user-guides/here-3/here-3-manual#1-here3-firmware-update

[2021-03-02 20:44] dagar commented on #17006
I'll follow up tomorrow, but in general the current defaults are intended to be relatively safe by default (look at vehicle_angular_acceleration in a typical user setup).

[2021-03-02 21:20] fnax8902 commented on #16942
Which release/commit introduced RGB-LED support?

[2021-03-02 21:45] sanderux opened #17007 "Battery failsafe kicks in too early"
Log: https://logs.px4.io/plot_app?log=2c9c93ec-1b0a-49f7-beeb-ce98f10700d9

Battery alert was issued at 37% capacity remaining, BAT_LOW_THR was set to 20%

Other tests show that battery failsafe RTL actually kicks in around 32% while 15% was set

battery_status.warning was never above 0 indicating the battery failsafe was not issued by the battery sensor code.

@dagar @julianoes @RomanBapst

[2021-03-02 21:46] sanderux commented on #17007
this branch is last weeks master but also incorporates this pr: https://github.com/PX4/PX4-Autopilot/pull/16933

[2021-03-02 21:54] mrpollo commented on #16942
@fnax8902 LED support was added to the CUAV Neo v3 PRO through various commits, but the gist of it is on this commit https://github.com/PX4/PX4-Autopilot/pull/16554/commits/a96fafffd8b3ee8116d46cb488cf7ce0429fa1be

[2021-03-02 21:55] davids5 commented on #16918
@sanderux - what is "cpu issue was fixed" referring to?

[2021-03-02 22:02] davids5 commented on #16942
That is just the original bootloader one and it was replaced, with https://github.com/PX4/PX4-Autopilot/pull/16619

[2021-03-02 22:11] sanderux commented on #17007
Looks like it is related to this: https://github.com/PX4/PX4-Autopilot/blob/c2151cb4fafc8fdbbf136d6da4989185b0763217/src/modules/commander/Commander.cpp#L3861

[2021-03-02 22:21] sanderux commented on #17007
and here is some strange math going on: https://github.com/PX4/PX4-Autopilot/blob/ed7a5314d85c76bd922bad559e74f0ceaabbb840/src/modules/navigator/rtl.cpp#L229

somehow the "time to get home" is compared to the battery percentage which says very little about flight time

[2021-03-02 22:51] sanderux commented on #16918
https://github.com/PX4/PX4-Autopilot/pull/16917

[2021-03-03 01:36] matthewoots commented on #16545
@ryanjAA Has committed the changes in #16590 that is to fix the PM detection. For #16548, somehow both Control Zero F7 and X2.1-777 exhibits the same error for the new firmware, they do not boot up correctly and hangs like in the above video. After flashing it with @taileron fix, it boots up perfectly.

[2021-03-03 02:11] mrpollo commented on #16545
@matthewoots can you point me to the fix from @taileron, please?

[2021-03-03 04:39] yamgeva commented on #13717
I'm having the same problems with 1.11.3. Any updates?

[2021-03-03 04:59] ryanjAA commented on #16545
This is strange since I dont have this issue, even running 1.11.3 stable on the Control F7.

I'll make a PR with lazy fpu on for the board as it seems to fix thins for others.

[2021-03-03 05:03] ryanjAA commented on #16545
@mrpollo https://github.com/PX4/PX4-Autopilot/pull/17009 for the Lazy FPU.

[2021-03-03 05:06] ryanjAA commented on #16545
and for the Control Zero F7 OEM
https://github.com/PX4/PX4-Autopilot/pull/17010

[2021-03-03 07:10] mzahana commented on #17004
@amikhalev Thank you for the suggestion!
Updating the Here3 firmware solved the hardware re-plugging issue. So, at least I can just reboot PX4 from QGC and Here3 gets recognized!

The remaining issue is to be able the Here3 directly after power up the system, without having to send a reboot command from QGC.

[2021-03-03 08:34] bys1123 commented on #17000
I'm trying to get some EVK samples, if I get few, I'll send to you. @dagar

[2021-03-03 09:03] MaEtUgR commented on #17006
- It's purely because of `IMU_DGYRO_CUTOFF` being too low. If I change that back during SITL flight it's instantly fixed. General regressions ruled out.
- Interestingly it's pitch only where it is that sensitive. We're using the same default D-term gain of 0.003. Using the new default of `IMU_DGYRO_CUTOFF` 10Hz I have to increase the roll D-term gain to 0.008 to get a similarly bad roll flight beh

[2021-03-03 09:19] mzahana commented on #17004
Unfortunately, the problem is still there. I though it was solved, but it actually only worked right after defining a PX4 Airframe and before completing the remaining vehicle configuration (sensor & radio calibration ... etc). After completing the vehicle configuration, the Here3 issue appeared again.

[2021-03-03 10:17] bresch commented on #17007
[RTL_FLT_TIME](https://dev.px4.io/master/en/advanced/parameter_reference.html#RTL_FLT_TIME):

[2021-03-03 10:55] dk7xe opened #17013 "make nxp_fmuk66-e_rtps fails"
**Describe the bug**
make nxp_fmuk66-e_rtps fails with error

**To Reproduce**
Steps to reproduce the behavior:

Prerequisit is that PX4 build environment is set up
Issue the following commands to build
1. cd PX4-Autopilot
2. git pull
3. git submodule update --recursive
4. make nxp_fmuk66-e_rtps
5. build process terminates with error. - see below

**Expected behavior**
make builds for the nxp_fmuk

[2021-03-03 11:03] sanderux commented on #17007
Ok, i;ll test.
Should we address the potential division by zero here?
float rtl_flight_time_ratio = time_to_home_s / (60 * _param_rtl_flt_time.get());

[2021-03-03 12:13] bresch commented on #17007
Yes, absolutely

[2021-03-03 12:39] ArkadiuszNiemiec commented on #12251
We have the same problem. It started in 1.9, the PX4 was not responding to arming or mode changes. In 1.11 modes do change, kill switch works but still cannot arm. Only reboot fixes the problem.
@julianoes can you reopen the issue for me?
![Screenshot from 2021-03-03 13-38-42](https://user-images.githubusercontent.com/12136404/109807234-e6a2df80-7c25-11eb-8892-82ae25f57fac.png)
![Screenshot from 2

[2021-03-03 13:21] edwinpha opened #17015 "Mavros and PX4 in RPi with Navio2"
Hi everybody,

currently, I am trying to recreate a tiny autonomous drone for "crash tests" using Navio2 and PX4.

However, I am having some problems managing to make mavros reading mavlink information from udp 14556.

[ INFO] [1607592115.695885650]: FCU URL: udp://:14556@
[ INFO] [1607592115.711307224]: udp0: Bind address: 0.0.0.0:14556
[FATAL] [1607592115.712876928]: FCU: DeviceError:udp:bind: A

[2021-03-03 13:23] davids5 commented on #17013
I am building it locally, CI is building it

![image](https://user-images.githubusercontent.com/1945821/109811797-1a5b1680-7be0-11eb-9511-4f0c82ca52a3.png)

Assuming you do you have any assets in the the source tree, that are not checked in, you can do a `make distclean` and rebuild
Jut use caution, as it will remove all the cruft, so be careful of hidden files from your ide etc - they may be dele

[2021-03-03 14:21] bkueng opened #17016 "param corner case"
There's a corner case with the new default param storage: if a param is set to the firmware default, and there's a board/frame default, on the next boot the param is set to the board/frame default. This is because on import the value is seen as default and discarded, and later set to the board default.
We can keep the value on import to fix this.

[2021-03-03 14:29] davids5 commented on #17013
Issue was on OP machine.

[2021-03-03 14:29] #17013 closed

[2021-03-03 14:33] NicolasM0 commented on #16998
I reproduce the issue on multiple drones and on a more standard hardware.
I reproduced it flashing v1.10.1 over master (72a3c05ffc) and master over v1.10.1

I have a video with one motor turning slowly: https://www.drive.google.com/file/d/1p56g1oOi9JrN39lZgqu6yeQjl-Xvv-5_/view

[2021-03-03 14:58] bresch commented on #16999
I'm totally in favor of that ("Navigator" module is also something we'll hopefully change too).
The difficulty is that many parameters and uorb messages contain that "GPS" name: all the external tools will need to update as well. Furthermore "GNSS" contains one extra letter so we might need to reword some parameter to not exceed 15 characters.
@dagar are there more problems? Is that something we c

[2021-03-03 15:38] ValentineStone commented on #16129
@mrpollo No, never got around to it, my company switched to Ardupilot for external reasons, so I didn't have any time to spend on PX4 since then.

[2021-03-03 16:30] sanderux commented on #16918
Reconfirmed, sdcard failure mid mission

[2021-03-03 17:03] mrpollo commented on #16389
@RamDG hey, can you try the latest PX4 master and check if this fixes your problem?

[2021-03-03 17:36] dk7xe commented on #17013
indeed the issue was an error 60.

..the problem sits 60 cm in front of the computer.
Build environment got broken due to an update of the WLS.

[2021-03-03 17:42] sanderux commented on #16918
Here is the log  with data leading up to the sd failure
https://logs.px4.io/plot_app?log=b29b3f33-bb0d-4625-be77-1c1cbfd3b9b3

@RomanBapst @bkueng

[2021-03-03 17:58] sanderux commented on #17007
ok, so indeed the RTL_FLT_TIME needs to be set to the maximum flight time if the vehicle in total, not the "time needed for RTL"
I'll do a pr fixing the div/0 and provide some better commenting

[2021-03-03 18:40] amikhalev commented on #17004
If the issue is related to boot timing that would make sense, as more things are started once the airframe is configured.

PX4 doesn't have a `BRD_BOOT_DELAY` equivalent but it might be worth trying to add a `sleep 1` to one of the boot RC files. I also remember reading something about moving the UAVCAN initialization later/earlier in the boot process, but I can't seem to find it now.

[2021-03-03 18:54] fabrizioschiano commented on #9022
Has anyone solved this problem? I am having the same issue

[2021-03-03 19:50] AlexKlimaj opened #17018 "Ublox M8P-2: ERROR [gps] UBX CFG-GNSS message ACK failed"
**Describe the bug**
When manually setting GPS_1_GNSS with a Ublox M8P-2, the GPS driver fails to run and outputs `ERROR [gps] UBX CFG-GNSS message ACK` failed in the console.

**To Reproduce**
Set GPS_1_GNSS to something other than 0 with a M8P-2. Even with just GPS selected, the issue appears.

**Expected behavior**
GPS driver should run and use selected constellations.

[2021-03-03 21:00] fnax8902 commented on #16942
RGB LED is working with the Here 3 GPS using current master, thank you!

[2021-03-04 00:49] ryanjAA commented on #16569
@mrpollo Sounds good. There are a few more MRO boards and variants so that will be best to track them there. I have most in hand so will keep things updated as needed.

[2021-03-04 01:02] ryanjAA commented on #16992
I think this has to do with clock speeds and STM32_RCC_D3CCIPR_I2C4SRC needs to be set instead of STM32_RCC_D2CCIP2R_I2C1234SRC (which still builds). Testing this.

[2021-03-04 04:37] mzahana commented on #16942
@fnax8902 Which autopilot hardware did you use?
Would it work on the Orange Cube?

[2021-03-04 07:28] fnax8902 commented on #16942
I do have a holybro pix32 and according to the ulg-file I'm using "PX4_FMU_V3 (V2)".

[2021-03-04 08:12] mengchaoheng commented on #16307
now, in master branch, this problem still, here is my outout in terminaltor:
mch@mch-virtual-machine:~/DF/PX4-Autopilot$ make px4_sitl none
[1/2] cd /home/mch/DF/PX4-Autopilot/build/px4_sitl_default_replay/tmp && /home/mch/DF/PX4-Autopilot/Too...none none none none /home/mch/DF/PX4-Autopilot /home/mch/DF/PX4-Autopilot/build/px4_sitl_default_replay
SITL ARGS
sitl_bin: /home/mch/DF/PX4-Autopilot/bui

[2021-03-04 09:43] bresch commented on #9022
Do you have this issue using master? If yes, please re-open a new issue.

[2021-03-04 13:00] bresch commented on #16858
@ecmnet The fallback from vision to range finder should be done here: https://github.com/ecmnet/ecl/blob/237d7bad4b21352d65dcf2e265512fed4024c08f/EKF/control.cpp#L822 (check how it is done for baro and GPS height)

[2021-03-04 13:01] mengchaoheng opened #17021 "system - wide replay error"
**Describe the bug**
replay failed。

**To Reproduce**
Steps to reproduce the behavior:
1. make px4_sitl jmavsim, amd Record the log
2. export replay_mode=ekf2
3. export replay=<abs_path_to_log.ulg>
4. make px4_sitl none
4. See error: ERROR [ekf2] start failed (-1)

**Expected behavior**

**Log Files and Screenshots**
https://logs.px4.io/plot_app?log=3b5926dd-2926-4365-b5c3-dc3be6018016

the replay

[2021-03-04 14:14] bresch commented on #16930
That's already much better @gizmond1982 !
![bokeh_plot(19)](https://user-images.githubusercontent.com/14822839/109976354-f68cf300-7cfb-11eb-804b-a41bda8517cd.png)

As this isn't a problem with the firmware I'll close this issue, but feel free to ask for more help on the forum (http://discuss.px4.io) and/or slack if needed.

[2021-03-04 14:14] #16930 closed

[2021-03-04 14:40] Victozzz opened #17022 "Firmware issue replacing MCU KakuteF7"
Hi,

I started with Flight Controller KakuteF7 but needed EKF2 module to fly position and offboard modes. I tried to make space to fit the code in flash by modifying default.cmake file as stated here : https://github.com/PX4/PX4-Autopilot/issues/16209.
However, some modules are mandoatory for my use case so I decided to replace the MCU of the KakuteF7 (a STM32F745VG) with a STM32F765VI pin to pin

[2021-03-04 14:49] mzahana commented on #17004
I got the Here3 GPS working when I provided external 5v to the TELEM2 port, while I was using that port for onboard computer communication. Now the GPS works right a way after powering up the orange cube as expected. So, I am guessing it’s a power issue or the way The Cube handles power to the I/Os.

[2021-03-04 15:13] sanderux opened #17023 "Behavior when failing to read mission item"
When failing to read the next waypoint the vehicles starts loiter
It should RTL

related: https://github.com/PX4/PX4-Autopilot/issues/16918

@dagar

[2021-03-04 19:46] tkazik commented on #11847
This is still an issue, right? We experience some issues and might be affected by that too. Thx!

[2021-03-05 03:43] ryanjAA commented on #16992
Above fixes it.

[2021-03-05 03:43] #16992 closed

[2021-03-05 09:11] blazczak commented on #16141
Has this been worked on in 1.11.x by any chance? The GPS setup performs worse in dual mode than in single mode on Linux: PX4 in dual takes longer to acquire a fix, then a lock and in fact caused "GPS error too large" warning in-flight in plain view of satellites with two receivers attached and active - both are the same type, u-blox M8N.

Looking at the GPS stats it appears that in dual mode one o

[2021-03-05 09:42] #16981 closed

[2021-03-05 09:42] #16985 closed

[2021-03-05 12:37] mengchaoheng commented on #17021
![20210304205741](https://user-images.githubusercontent.com/43166007/110116579-a6dd2300-7df2-11eb-84eb-cc760b4cb420.png)

[2021-03-05 14:11] Fllying opened #17027 "git submodule update --init --recursive"
**Describe the bug**
When download the code from git in linux, I met the following question. So I install a Git.exe on Windows, the question still occur:
git submodule update --init --recursive

**Question**
[code]
Can anyone fix it? thanks a lot.

[2021-03-05 15:08] dagar commented on #17027
It looks like a connection timeout. Can you try again?

[2021-03-05 17:25] max11gen opened #17030 "Helicopter Airframe can't be used "Failed to communicate with IO, abort""
**Describe the bug**
I tried to configure the Airframe `Helicopter --> Blade 130X` on my Pixhawk 4. I added the line `set MIXER_AUX pass` to the airframe so that I could use my RC, but the error occurs without that line as well. I used the current master to flash the pixhawk. When the Pixhawk boots it issues the beeping noise that, according to [this](https://docs.px4.io/v1.9.0/en/getting_started/

[2021-03-05 19:05] Pskoog3 commented on #16772
Daniel, here is the latest log that might show the problem...
https://drive.google.com/file/d/1zMf2fN2T35MSr7TIE3HU_hAw-lOjRNlB/view?usp=sharing

[2021-03-06 00:05] marcelino-pensa commented on #15240
We finally got back to this, and it seems like the issue was with the parameter `EKF2_MAG_TYPE`. We were setting it to `5 - none`, which was making the initial yaw to lock to `90`deg.
We then changed this parameter to `0 - automatic` and the problem went away. It seems like this is a bug, or am I missing something here?

[2021-03-06 13:09] poudyalbot opened #17039 "Attitude estimation"
Why is the ekf based attitude estimation not used in px4 as it was during the initial phase of px4.
Thank you

[2021-03-06 13:18] davids5 commented on #16672
Fixed by https://github.com/PX4/PX4-Autopilot/pull/17025 etal

[2021-03-06 13:18] #16672 closed

[2021-03-06 16:37] dagar commented on #17039
The current default (and only officially supported) estimator is ekf2 which is an attitude & position estimator.

https://github.com/PX4/PX4-ECL/blob/4bad2a272cfbcfd2ef2c77bb4af788f5b569aaaa/EKF/common.h#L378-L387

Are you looking for something in particular?

[2021-03-07 06:06] bys1123 commented on #17000
@dagar Please send me an address, I'll send you one EVK board and one sensor chip. My mail: stone@thone.io

[2021-03-07 06:13] ryanjAA commented on #17000
@bys1123 when will these be commercially available chips? Are the specs comparable to what they’re replacing?

[2021-03-07 06:55] ecmnet commented on #16858
I will have a look to that

[2021-03-07 07:14] paulr4 commented on #15725
I'm having this problem too, on a Pixhawk 2.4.8. The COM_POWER_COUNT = 0 suggestion worked for me, but shouldn't this ticket stay open until the fix suggested by @neo0605-d is implemented?

[2021-03-07 09:08] JosepBC opened #17043 "Allow multiple instances of Teraranger ToF Sensors on the same I2C bus"
Hello, I am trying to use two teraranger sensors in a project, and looking at the source code of the driver it seems that two or more sensors can't coexist in the I2C bus.
Looking around in other sensors I saw @mcsauder PR on the mb12xx driver (#11859) to do exactly this with that sensor and trying to standardize all the sensors, is this in some to-do list or do you have any documentation on how t

[2021-03-07 10:46] SEUZTh commented on #13765
@JacobCrabill Hi, could you tell me detailed name? cubepilot_cuberoange

[2021-03-07 21:14] obicons opened #17046 "Accelerometer Loss During Takeoff Causes Fast Crash"
**Describe the bug**
I experienced a total loss of accelerometers during takeoff. Before I could react, the vehicle crashes.

**To Reproduce**
1. Drone turned on
2. Takeoff in stabilized offboard mode
3. Trigger accelerometer failure

**Expected behavior**
Navigation should proceed using dead reckoning. I should be warned there is no healthy accelerometer so that I can intervene.

**Log Files and

[2021-03-08 01:47] ryanjAA commented on #14505
Could this somehow be related to how I'm connected?

When I try and level the horizon via USB it works fine but when wireless it does not.

@dagar

[2021-03-08 01:54] ryanjAA commented on #14505
So if I set MAV_0_rate to 1200 it doesn't even finish (when connected wirelessly). When I set it to 0 (aka half of max), the vehicles beeps that it is complete but QGC hangs at the very end of the cal.

[2021-03-08 02:36] dagar commented on #17046
https://logs.px4.io/plot_app?log=9a9d4900-746e-448f-a5a7-7b98a9e2f23f

Can you verify the closest upstream PX4 version (the commit isn't on GitHub)?

[2021-03-08 02:37] dagar commented on #17046
Based on the parameters I'd guess it's pretty old. If you try newer PX4 there are multiple IMUs in SITL (like most flight controllers we support) and if the current primary fails it will switch to the next healthy option.

[2021-03-08 04:11] ashirsat commented on #16971
@vooon Any more info on this warning?

[2021-03-08 07:57] obicons commented on #17046
Thanks so much for you fast response. I tested on master -- I can confirm the issue is not present.

[2021-03-08 07:57] #17046 closed

[2021-03-08 08:10] Fllying commented on #17027
There is no good way, even I have chosen a different network proxy. Like cmake_hexagon, nuttx etc.

[2021-03-08 09:14] bys1123 commented on #17027
Please use VPN in china.

[2021-03-08 09:15] bys1123 commented on #17027
Welcome to join chinese PX4 developer WeChat Group 微信群，我的微信号是253331754

[2021-03-08 14:37] fabrizioschiano opened #17054 "Maximum throttle on arming for custom airframe"
For a research project, I am working with a modified version of the PX4 firmware, which is based on the `v1.11.2`.
Unfortunately, when I try to arm the drone, the motors spin at maximum speed.

Related issues I found are below (but @bresch suggested me to open a new issue).

1. https://discuss.px4.io/t/throttle-spike-on-arming-is-it-a-bug/5731/5
2. https://github.com/PX4/PX4-Autopilot/issues/9022

[2021-03-08 17:07] #16772 closed

[2021-03-08 17:12] Pskoog3 opened #17055 "RPi3: LSM9DS1 Too Sensitive for Calibration"
I am running PX4 on Raspberry Pi 3 with custom sensor board. The sensitivity of accel/gyro/mag sensor for LSM9DS1 seems to be too high and because of that the calibration fails. The roll/pitch and heading measurement on the instruments goes off scale even with slight motion!  I have tried two different modules for LSM9DS1 and both have same issue. Maybe the problem is because of the scale/sensitiv

[2021-03-08 21:04] obicons opened #17057 "Gyro Glitch Causes SITL to hang"
**Describe the bug**
When Gyroscope is lost (e.g. Gyro stops publishing while read errors are accumulated), SITL hangs. "ERROR [simulator] poll timeout 0, 22" is written to stdout repeatedly. If the drone is flying, no failsafes are triggered and the vehicle does not disarm.

**To Reproduce**
Steps to reproduce the behavior:
1. Drone runs in SITL
2. Gyro stops publishing data
3. SITL hangs

**Expe

[2021-03-08 21:08] LorenzMeier commented on #17057
How do you know it is the gyro? I've looked at the log and it seems to all stop around the same time. What am I missing?

[2021-03-08 21:38] obicons commented on #17057
I have a custom gyro driver. When that driver stops publishing readings, all of SITL locks -- hence why the log stops at the same time. I think that SITL should continue without the gyros publishing.

[2021-03-08 22:21] LorenzMeier commented on #17057
Then you need to disable lockstep, which is designed to keep SITL in sync when the simulator is falling behind: https://github.com/PX4/PX4-Autopilot/blob/fddcb73802d0b5565796e42b042cd41818282f1c/boards/px4/sitl/default.cmake#L117

[2021-03-08 22:21] #17057 closed

[2021-03-09 02:27] Fllying opened #17060 "‘make px4_sitl_default gazebo’ Problem"
**Describe the bug**
When I compile the code,  I execute the following code after downloaded all submodules from github :
make px4_sitl_default gazebo

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/PX4/PX4-Autopilot.git
2. cd PX4-Autopilot/
3. git submodule update --init --recursive
4. git checkout -b  v1.11.0-beta1
5. make px4_sitl_default gazebo
6. make px4_fm

[2021-03-09 02:29] Fllying commented on #17027
Thanks a lot and we were friend,  ha

[2021-03-09 02:43] bys1123 commented on #17060
Please check the permission setting of dictionary `/home/wshewhu/.ccache`

[2021-03-09 07:14] swkim101 opened #17062 "Nsh Debug Commands Vulnerability Report"
## Nsh's `mb`, `mh`, and `mw` commands can leak intellectual property.

Exploiting those commands makes it possible to extract firmware from the flash memory because `mb`, `mh`, and `mw` can read the firmware code at an arbitrary location.
You may know that some commercial vendors can customize their firmware without opening even binary code.
However, those commands can neutralize the intellectual

[2021-03-09 07:33] LorenzMeier commented on #17062
Once you have access to NSH you have the equivalent of root access to the system. If a manufacturer enables NSH access, they have already decided (implicitly or explicitly) to provide full access to the system, with all ramifications.

So I would argue that anyone enabling NSH in their build is ok with that and that the correct fix here is to disable NSH access altogether if you don't want that.

[2021-03-09 08:56] #17027 closed

[2021-03-09 09:19] LorenzMeier opened #17063 "X7Pro Hardfault"
When running the MAVLink console (read from bottom to top). @bkueng any ideas?

[code]

[code]

[2021-03-09 19:09] mehmetyldz87 commented on #17006
Hi @MaEtUgR
I've done a few test flights on this issue. With v1.11.3, the value of  **_IMU_DGYRO_CUTOFF_**  has been updated to **0**.

### TEST Flight 1
**IMU_DGYRO_CUTOFF**  = 0
https://logs.px4.io/plot_app?log=a13b6a53-1006-4d2a-bdbb-ff03040768ee

### TEST Flight 2
**IMU_DGYRO_CUTOFF**  = 10  [Default]
 https://logs.px4.io/plot_app?log=f69ff845-f6fa-4704-a35f-57b922441f70

### TEST Flight 3
**I

[2021-03-09 19:19] #17039 closed

[2021-03-10 04:27] swkim101 commented on #17062
I think "mw"-like commands should be disabled or adequately inform of their potential threats.

It is true that giving NSH access to users provides full access to the system.
Yet, the intent of commercial vendor developers (e.g., Yuneec) is still to protect firmware from extraction because:
(1) They decided to use "readout" protection, making it impossible to read firmware even if using a debugger

[2021-03-10 11:37] ibrahimqazi opened #17076 "Unable to compile forked version"
Hello all,
I am unable to the compile the forked version of PX4. I have followed these steps:
`git clone https://github.com/<your git name>/PX4-Autopilot.git`
[code]
But when I compile for PixHawk 1 board using `make px4_fmu-v2_default`
I get the following error:
`-- PX4 version: v1.11.0-rc3-1759-g9d0c966b15
-- PX4 config file: /home/ibrrahim/PX4-Autopilot/boards/px4/fmu-v2/default.cmake
-- PX4 co

[2021-03-10 12:35] brunopinto900 opened #17077 "make px4_sitl none_iris fails"
Hello,

I am trying to use PX4 SITL with AirSim+ AirSim ROS Wrapper. This last one works just fine, i can visualize an image from a quadrotor (AirSim) in Rviz.

I followed the instructions on this link https://microsoft.github.io/AirSim/px4_sitl/ to build the PX4 SITL with AirSim as the simulator. I am running both AirSim ROS Wrapper and PX4 STIL on Ubuntu20.04 in wsl2. I am running AirSim on Wind

[2021-03-10 15:51] MaEtUgR commented on #12688
Related: https://github.com/PX4/PX4-Autopilot/pull/16614

[2021-03-10 18:09] fnax8902 opened #17081 "Appending a mission item to a current mission"
Let's suppose I'm flying a mission and while already being in the air I want to append another waypoint/mission item to the mission. If I do this right know via QGC it tells me that the mission has to be paused, so it can be uploaded again. Why isn't it possible to just continue with the mission and just add the item at the end?
In my opinion one should be able to do this.

To archive this I guess

[2021-03-10 18:20] TheLegendaryJedi opened #17082 "Crazyflie 2.1 EKF2 with flowboard and position mode"
Like we talked about during [dev call](https://discuss.px4.io/t/px4-dev-call-march-10-2021/21282),

I'm using EK2 with `EKF2_AID_MASK` using only optical flow. I can fly it in `manual` and `stabilized` with no problem. But right now I want to make use of the flow board. I wanted to takeoff and hold position. I can't change to position mode, it just don't give me any feedback.

I' using these confi

[2021-03-11 06:38] dk7xe opened #17087 "FMUK66 revE log files format issue"
**Describe the bug**
log files of FMUK66 revE seems to have an format issue and can not be loaded on to logs.px4.io for analysis.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable logging on FMUK66 revE (nxp_fmuk66-e_default target)
2. Power drone, fly, .. land, power off.
3. Download log file via USB
4. Try to upload log file to https://logs.px4.io

**Expected behavior**
Log files acce

[2021-03-11 06:39] dk7xe commented on #17087
@davids5 may you please look into that

[2021-03-11 11:06] 96moustafa opened #17091 "multiple vehicle SITL simulation does not work with iris_rtps model"
**Describe the bug**
I am trying to run multi-vehicle SITL simulation as documented [here](https://docs.px4.io/master/en/simulation/multi_vehicle_simulation_gazebo.html#build-and-test-rtps-dds). The simulation window in Gazebo opens, but no vehicles exits and QGC cannot detect any.

**To Reproduce**
follow the RTPS documentation [here](https://docs.px4.io/master/en/simulation/multi_vehicle_simulat

[2021-03-11 12:46] LorenzMeier commented on #15909
Support will be part of the upcoming release.

[2021-03-11 12:46] #15909 closed

[2021-03-11 13:08] VarunBurde commented on #16896
Hello, Any suggestion on how to make it work? @dagar

[2021-03-11 14:23] ArkadiuszNiemiec opened #17093 "px4io failed start on Cube Orange"
**Describe the bug**
Sometimes there is no RC connection with Cube Orange, this is the output of the px4io status:
[code]

Rebooting the Cube does not help, to fix a problem we have to power cycle the UAV.

**To Reproduce**
Steps to reproduce the behavior:
1. Turn on the RC
2. Power on the Cube
3. Realize that there is no control and no RC failsafe
4. Check mavlink console for px4io status

**Expe

[2021-03-11 14:48] Jaeyoung-Lim commented on #17091
@stmoon Do you have any insights?

[2021-03-11 14:52] ArkadiuszNiemiec commented on #17093
After another reboot the px4io was working but no value was changing, after `px4io stop` and `px4io start` we got another:
[code]

[2021-03-11 15:42] LorenzMeier commented on #17093
@ArkadiuszNiemiec Could you please install master and re-test? I've also pinged you on Slack.

[2021-03-11 16:30] #17016 closed

[2021-03-11 17:33] aet2230 opened #17097 "Px4 log unknown date in QGC"
Recently I started to use Cube Orange and I get logs with unknown date in QGC.
When I look at SD card, logs do have correct date (foldername) and time (filename).
Usually such issue happens when I erase logs and perform flights til firs connection with QGC.
Once QGC is connected once, further logs are displayed.
Attached is the screenshot that describes the issue: I entered nsh an you may see that

[2021-03-11 17:35] edwinpha commented on #16896
Hey! I have the very same problem.
I am testing PX4FLOW only with a distance sensor.

Considering that the LOCAL_POSITION_NED is giving a value for X and Y, I believe that the Pixhawk is actually receiving information from PX4FLOW. However, I haven't managed to obtain an accurate movement in the XY-plane.
How is the accuracy of your movements?

Not sure if it is a parameter on the PX4FLOW or on th

[2021-03-11 23:21] davids5 commented on #17087
I can not get to it at the moment, A quick fix may be enabling CONFIG_MMCSD_MULTIBLOCK_DISABLE

[2021-03-12 00:18] stmoon commented on #17091
Hi,

Actually, I updated the method for the multiple vehicle like below.

FROM
[code]
TO.
[code]

I will update the documentation ASAP.

I apologize for the inconvenience.

[2021-03-12 14:23] max11gen commented on #15984
Has this been investigated in any way? I have the same issue.

[2021-03-12 14:25] max11gen commented on #17030
FYI: This bug has already been reported in October in #15984

[2021-03-12 14:28] dagar commented on #17030
Thanks for reporting @max11gen. We're in the process of a fairly large px4io refactor to fully address these problems. https://github.com/PX4/PX4-Autopilot/pull/16444

[2021-03-12 14:34] ArkadiuszNiemiec commented on #17093
Looks like master helped with the issue, we will test it further next week and close the issue if there will be no problem.

[2021-03-12 17:20] 96moustafa opened #17109 "Generating transponder_report messages from UTM_GLOBAL_POSITION does not work in simulation"
**Describe the bug**
Can't generate transponder_report messages from UTM_GLOBAL_POSITION as described [here](https://docs.px4.io/master/en/advanced_features/traffic_avoidance_utm.html) on simulation.

**To Reproduce**
0. Ensure that you mark the transponder_report message as **send** in the PX4's uorb_rtps_message_ids.yaml file and px4_ros_com's  uorb_rtps_message_ids.yaml.
1. simulate multiple ve

[2021-03-12 19:45] #17087 closed

[2021-03-13 00:07] FeCLN opened #17111 "How to use the FrSky port to receive info from a distance_sensor"
Hello!
I bought a Pixracer and a Benewake TFMINI, and i'm trying to use it in some uart port, but, all the uart ports, like telem and GPS i'm using to other things, so, i notice there are another uart port, the FrSky port, and i'm trying to pass the info through  it.
But, i am setting the parameter SENS_TFMINI_CFG to work with the port telem/serial 4, and i'm getting no results :(
Can anyone help

[2021-03-13 15:20] wildwilly18 commented on #12469
So I can run a single quad but when I try to run two using the tutorial on https://docs.px4.io/master/en/simulation/multi_vehicle_simulation_gazebo.html I am getting the issue described here. Any tips on how I can get this to work for me?

[2021-03-13 17:11] vipertown commented on #16852
Same issues here.

NuttShell (NSH)
nsh> bmp280 status
INFO  [SPI_I2C] Running on I2C Bus 1
bmp280: sample: 1539 events, 1435750us elapsed, 932.91us avg, min 854us max 1241us 76.170us rms
bmp280: measure: 1540 events, 485198us elapsed, 315.06us avg, min 296us max 852us 34.147us rms
bmp280: comms errors: 0 events
nsh> qmc5883 status
INFO  [SPI_I2C] Not running
nsh> i2cdetect
Scanning I2C bus: 1

[2021-03-14 15:59] eduardkieser commented on #5854
Hi I also need to find out the fw version flashed to my Pixhawk 4, but I suspect that things my have changed somewaht since this solution was posted because I dont see an AUTOPILOT_VERSION message in the mavlink inspector of QGC.

[2021-03-14 16:34] RamDG commented on #16389
@mrpollo  yeah sure will give it a try

[2021-03-14 20:56] cserko opened #17114 "Mavros does not work in multiple vehicle simulation with different models"
**Describe the bug**
A clear and concise description of the bug.
I tried to use multi_uav_mavros_sitl.launch with the iris_rplidar model. However, when I try to echo the uav topics e.g. /uav1/mavros/local_position/pose, only the topics which have the namespace uav0 successfully return the callback values.

**Expected behavior**
A clear and concise description of what you expected to happen.
All th

[2021-03-14 21:19] Jaeyoung-Lim commented on #17114
@cserko Have you checked if it works with the default `iris` model?

[2021-03-14 21:31] Jaeyoung-Lim commented on #17077
@brunopinto900 I am unable to reproduce your problem. I suspect that this is coming from your setup

I can confirm that this works for Ubuntu 20.04 and Ubuntu 18.04

[code]

[2021-03-14 21:32] Jaeyoung-Lim commented on #17076
@ibrahimqazi

[code]

[2021-03-14 21:33] #17091 closed

[2021-03-14 21:36] Jaeyoung-Lim commented on #12056
@ThomasRigi Is this still the case?

[2021-03-14 23:08] cserko commented on #17114
Yes, it works with the regular model. Actually, I've recently found out if I add the rplidar plugin as whole to the iris.sdf.jinja, and start the simulation using the regular iris model solved the topic issue. However, as I said, I couldn't figure out how to start like rplidar/rplidar.sdf, and access the mavros topics. It works now but it would be very inconvenient to change one file instead of us

[2021-03-15 06:54] Kim-zhi-jiang opened #17119 "Jitter in mode of Altitude at MC(VTOL)"
Hello there

I have a problem in version 1.11.3, I will test again in version 1.12 tomorrow.
MC(VTOL) in the mode of Altitude, only the forward direction jitters, and strangely it is no problem to fly backwards to the left and to the right.

![2021-03-15 12-23-04 的屏幕截图](https://user-images.githubusercontent.com/80669694/111114459-3c6c7580-859e-11eb-8cc8-a74b22910233.png)

[2021-03-15 07:00] jinger26 commented on #17119
@sfuhrer @RomanBapst are you able to take a look here?

[2021-03-15 07:31] jinger26 opened #17120 "CUAV smart battery 🔋 implementation"
CUAV is implementing a smart battery, and looking to implement the following messages

Battery status parameter | CUAV usage| Included in the UAVCAN spec & standard| Included in the smart battery standard
------------ | ------------- | ------------- | -------------
timestamp | no | - | -
voltage_v | yes | yes | yes
voltage_filtered_v| yes | yes | yes
current_a| yes | yes | yes
current_filtered_a|

[2021-03-15 07:32] Jaeyoung-Lim commented on #17119
@Kim-zhi-jiang Can you share the full log?

[2021-03-15 07:33] jinger26 commented on #17120
@Igor-Misic @LorenzMeier  if we can make one reference example, then we should be able to enable CUAV team to do the rest.

[2021-03-15 07:51] Kim-zhi-jiang commented on #17119
https://review.px4.io/plot_app?log=3d4a955f-41ed-4f71-93b9-1aa45727bcab

Just uploaded.

[2021-03-15 07:52] bigbellmercy commented on #5393
FYI, I report the same error during a ROS package is built.
After `libgazebo9-dev` installed by  `sudo apt install libgazebo9-dev` command, it disappeared.

### Environment
Ubuntu 18.04 in x86
ROS Melodic, 'catkin build' environment
PX4 and Gazebo installed

[2021-03-15 08:23] brunopinto900 commented on #17077
Hello,

Thanks for your support. I will do the setup from the start. However i am using WSL1, does this work for WSL?

[2021-03-15 08:44] ThomasRigi commented on #12056
I had completely forgotten about this stale issue. No, simulator is working fine again.

[2021-03-15 08:44] #12056 closed

[2021-03-15 08:57] Kim-zhi-jiang commented on #17119
I tried to find the source of the problem, but unfortunately.
Forward  direction have airspeed...

[2021-03-15 10:21] ThomasRigi commented on #17004
I've had the same or at least a similar issue: https://github.com/PX4/PX4-Autopilot/issues/16113

At the time it was working on master, so no effort was going in on fixing it on v1.11. I did some tests on my side and found that with a different (slower) SD card it worked, but abandoned further tests after having killed two Pixhawk 4s.

Can you try on master and/or v1.12beta?

[2021-03-15 10:45] Jaeyoung-Lim commented on #17077
@brunopinto900 Unfortunately I don't have access to windows, therefore I am not able to test with WSL

[2021-03-15 11:22] AndreRigi opened #17122 "FW trajectory tracking using OFFBOARD mode"
Hello,

We are using an external module to handle our missions. It publishes mavros_msgs::GlobalPositionTarget which are used by PX4 using the offboard mode. Since the merge #16739  (@dagar, @Jaeyoung-Lim), the drone is no longer tracking correctly the trajectory setpoints when in FW. We are using a VTOL drone and the initial part of the flight, FW transition included, is working properly. Once in

[2021-03-15 11:30] Jaeyoung-Lim commented on #17122
@AndreRigi I guess you mean that you are using the ` SET_POSITION_TARGET_GLOBAL_INT` mavlink message?

what are you setting as `MAV_FRAME` ?

[2021-03-15 11:43] brunopinto900 commented on #17077
No problem. I went with this approach https://docs.px4.io/master/en/dev_setup/dev_env_windows_cygwin.html . Its working.

[2021-03-15 12:53] lukegluke commented on #16904
@dagar, by the way, docs are also not reflect current default:
https://docs.px4.io/master/en/debug/system_wide_replay.html#prerequisites

[2021-03-15 13:07] jinger26 commented on #17120
https://github.com/PX4/PX4-Autopilot/pull/17104

[2021-03-15 16:23] Jaeyoung-Lim commented on #17122
I can reproduce this problem and this is because the current poistion setpoint type is currently set as `SETPOINT_TYPE_IDLE`

@dagar As far as I understand, I think the intention was to remove the setpoint types from the position setpoints in https://github.com/PX4/PX4-Autopilot/pull/16739 (at least it has been removed from the mavlink receiver.

Do you have any insights on where this should be fi

[2021-03-15 16:32] #16932 closed

[2021-03-15 17:56] fettywapssecondeye commented on #16545
Hey, is this issue fixed in the beta/master? I've had this issue some time ago (still have it) on 1.11.3 where the battery voltage/status didnt show at all in qgc but showed up in the logs:

https://discuss.px4.io/t/qgroundcontrol-not-showing-voltage-or-detecting-power-module/20850

Currently on 1.12.0 beta 1, it still points to battery 0 instead of battery 1:

![image](https://user-images.githubu

[2021-03-15 19:18] mrpollo commented on #16545
@ryanjAA can you confirm this has been fixed?

[2021-03-15 20:11] ryanjAA commented on #16545
Confirmed. This is fixed and I’ve flown with it quite a bit so I’m not sure why there’d be a boot loop or an issue with power. Let me pull in master and take a look.

[2021-03-16 02:40] ryanjAA commented on #16545
@mrpollo I just checked an H7 and all was fine (after I changed the board ID - PR coming on that). Will be able to check an F7 tomorrow.

[2021-03-16 08:35] #17077 closed

[2021-03-16 08:35] #17122 closed

[2021-03-16 08:50] sfuhrer commented on #17119
Looks to me like it struggles a lot when flying (hovering) with high roll/pitch angles.
@Kim-zhi-jiang can you share a flight done in Stabilized and Position mode? That would help finding out if the issue is indeed coming from the altitude controller, and/or if related to high attitude angles.

[2021-03-16 14:06] The-Legendary-Kraken opened #17143 "FW issue after a yaw impulse"
When we fly in FW stabilize and FW acro the UAV turns on the right without any input coming from the RC. The sticks of the RC controller are in the middle.

In order too reproduce the behavior:
1. UAV is in stabilize mode
2. We transition in FW mode increasing the speed
3. turn in left direction with yaw stick the UAV in order to perform a circle at a constant altitude
4. Put the yaw stick in the

[2021-03-16 14:06] fettywapssecondeye commented on #16545
Thanks for checking @ryanjAA . Just to be sure, i'm getting my firmware downloads/installs directly from QGC. These are the same builds you'd be using right?

Procedures wise, i install master and the exact same behavior as the above video happens. For the power modules, i install stable or beta and the problems in my above comment happens.

[2021-03-16 16:08] AlexKlimaj commented on #15790
@NAmmann seeing this on a Cube black updating from 1.10 to 1.11 as well. Did you manage to solve it?

[2021-03-16 16:31] fettywapssecondeye commented on #16545
Fixed.

I implemented @matthewoots fix onto a v1.11.3 build.

Trying to flash v1.12.0 beta 1 from the pre release leads to the same boot loop issue for me.

Procedure:

download firmware from -> (https://github.com/PX4/PX4-Autopilot/releases/tag/v1.12.0-beta1)
Install with QGC custom firmware option
Same issue as observed in the first video.

Fix for the power brick issue:
`git clone https://githu

[2021-03-16 19:11] ryanjAA commented on #16545
No boot loop on the F7 (on 1.12 beta 1) but the battery indeed doesn't work. I'll take a look and fix that shortly - not sure why as that was fixed long ago and the PR has been in place for awhile. Will just double check it got pulled into beta1.

Boot loop on Master (as of today) when pulled in from QGC.

@fettywapssecondeye yes, we are getting the firmwares from the same place. I was also checki

[2021-03-16 19:43] mrpollo commented on #16545
@ryanjAA keep me posted on the battery issue, we need to make sure it makes it into the release

[2021-03-16 20:20] ryanjAA commented on #16545
@fettywapssecondeye that technically will work but the fix implemented is slightly different due to changed naming conventions. A working PR has been pushed awhile back but this needs to be looked at as to why beta1 doesn’t have it pulled in.

[2021-03-16 20:37] fettywapssecondeye commented on #16545
@ryanjAA Gotcha. i'll only use this as a bandaid for a personal 1.11.3 fix then. I see the nVDD's changed to VDDs and whatnot, that's probably it.

Can you share your procedure as far as installing beta1 goes? I'd love to try 1.20.0-beta1 out and am lost as it's not working with both of the boards i have with me. I've even tried building it myself, no luck.

[2021-03-16 22:04] ryanjAA commented on #16545
Ya, I changed the naming at the request of one of the devs but it should work fine as you did it for now.

I have beta1 working on the f7 with no changes (battery numbers don’t  work though) but it overall works fine. No recompile needed, just pull in via qgc by selecting beta. Master is currently broken so you’re probably pulling in master when uploading after compiling and so you’re uploading a

[2021-03-17 00:27] Kim-zhi-jiang commented on #17119
@sfuhrer

MC_ROLLRATE_MAX 120-150
MC_PITCHRATE_MAX 120-150

Forward,Backward,Left,Right it's OK in Stabilized and Position mode
Jitters only forward in Altitude mode

I think the plane will crashed with this problem in windy weather.

Stabilized Position and Altitude log:
https://review.px4.io/plot_app?log=3cacd01b-213f-4092-9f12-8330b416296f

[2021-03-17 00:56] Kim-zhi-jiang commented on #17119
@all
The controller was wrong if Position change to Stabilized mode.
Also move the plane  in Stabilized mode.

crying

[2021-03-17 03:24] ryanjAA commented on #16545
I don't know how but 1.12 Beta1 isn't working now on the F7. Reverting the LAZY FPU commit fixes it. Reverting that commit also makes master work as well (https://github.com/PX4/PX4-Autopilot/commit/bc8d9af23eca370b7ac32b0ba6ca685cc207beb7)

I will open a PR with it but it needs a review on why first.

[2021-03-17 03:38] mrpollo commented on #16545
Thanks for the report.

cc @dagar

[2021-03-17 08:46] #17076 closed

[2021-03-17 14:07] fettywapssecondeye commented on #16545
Confirmed, commenting out line 38 of defconfig (lazy fpu) works for me as well. v1.12.0beta1 battery indicator also works.

[2021-03-17 14:35] VarunBurde commented on #16896
Hello @edwinpha , Thank you for the suggestion. You are correct, LOCAL_POSITION_NED is getting values for X and Y even there is no OPTICAL_FLOW_RAD data published when connected to px4flow via i2c (x and y are 0 when there is no px4flow connected). Try to connect px4flow over USB and check for the ODOMETRY data for values X and Y. Move the px4flow camera along with pixhawk over high textured unifo

[2021-03-17 15:39] The-Legendary-Kraken commented on #17143
I forgot to mention that when I yaw right the drone turns but after I stop it turns left a little bit, so is not a problem of tuning.

[2021-03-17 15:40] fettywapssecondeye commented on #17143
What's the airframe setup like? Looks like it isnt exactly commanded but could you try this with a mode that stabilizes heading as well, like position mode? Motors go crazy after you switch to airplane mode for sure

[2021-03-17 16:45] The-Legendary-Kraken commented on #17143
Yes it is 4 motors tailsitter. Yes after the transition the motors become crazy for few seconds. I tried the FW position mode and the UAV not flyed perfectly straight you can see pos mode here https://logs.px4.io/plot_app?log=76163f0c-f451-4d54-9094-b0b6e229c473 (from 4:12 to 4:19)

[2021-03-17 18:08] mrpollo commented on #16745
Here's one more timeout on tailsitter

https://github.com/PX4/PX4-Autopilot/pull/13152/checks?check_run_id=2132856128

[code]

[2021-03-17 18:42] fettywapssecondeye commented on #17143
And your airframe is built properly right? Just want to make sure, on hover flight everything seems to be on top of each other but the thrust line of a motor or a couple being off center could cause this behavior as well (or chipped props, ESCs not calibrated properly, control surfaces being out of trim, etc).

Could be wrong but looked like position mode was converging on stable flight.

[2021-03-17 23:27] Kim-zhi-jiang commented on #17119
If forward direction speed more than 11m/s then also jitters in Position mode.

[2021-03-18 00:50] mxiaogit commented on #17120
We want to realize the information in the battery status:

PX4 battery status information | CUAV usage | Included in the UAVCAN spec & standard | Description
-- | -- | -- | --
timestamp | yes | no | time since system start (microseconds)
voltage_v | yes | yes | Battery voltage in volts, 0 if unknown
voltage_filtered_v | yes | yes | Battery voltage in volts, filtered, 0 if unknown
current_a | yes |

[2021-03-18 04:01] mxiaogit commented on #17120
Test results on 3/17 by @mxiaogit  :

**Test environment :（测试环境）

Firmware version :（固件版本）
59f361419c9f68fbb243b8b4477548b631b3bd24

Test hardware :（测试硬件）
CUAV V5
CUAV CBAT

Firmware modification :（固件修改）
/Firmware/src/drivers/uavcan/dsdl/cuav/equipment/power/20300.CBAT.uavcan
Add UAVCAN CBAT protocol file
![20300 CBAT uavcan png](https://user-images.githubusercontent.com/58416716/111570528-074f658

[2021-03-18 05:07] #17119 closed

[2021-03-18 05:59] mxiaogit commented on #17120
The driver has been initially completed. @LorenzMeier @dagar

[2021-03-18 09:51] julianoes commented on #16745
Thanks for collecting these @mrpollo! I will get to them at some point.

[2021-03-18 12:53] ArkadiuszNiemiec commented on #17093
After tens of flights and restarts I can assume that the issue is fixed. Thank you.

[2021-03-18 12:53] #17093 closed

[2021-03-18 17:15] NAmmann commented on #15790
The problem is that parameters change their default values. See MPC_JERK_MAX for example. It changed from 20 to 8. Maybe the internal processing of these parameters changed as well.
Resetting the MPC_XXX parameters back to the new default values solved the issue for us.

[2021-03-19 03:05] daydayupcg137 opened #17164 "How to deduce the maximum force generated in X, Y and Z directions for the fully-actuated UAV?"
I read an article recently:《Estimation and Optimization of Fully-actuated Multirotor Platform with Nonparallel Actuation Mechanism》，This article introduces a kind of fully powered UAV, but did not understand how to derive the maximum force in X, Y and Z direction in the paper。The relevant information is as follows:

![image](https://user-images.githubusercontent.com/66363845/111725447-08e16200-88a

[2021-03-19 15:19] #17060 closed

[2021-03-19 23:29] dgeorge83616 opened #17170 "Unreachable code block"
**Describe the bug**
The following block is unreachable because `_v_control_mode.flag_control_attitude_enabled` must be both `true` and `false`. It must be `true` to enter the enclosing block and the `false` to enter the `generate_attitude_setpoint()` block.
https://github.com/PX4/PX4-Autopilot/blob/a13459858daec83eefea11e3d9eed94d455de534/src/modules/mc_att_control/mc_att_control_main.cpp#L297-L3

[2021-03-19 23:43] dgeorge83616 commented on #17170
Never mind.  I stared and started at that and still missed the `l` vs `t`.

[2021-03-19 23:43] #17170 closed

[2021-03-19 23:44] LorenzMeier commented on #17170
Thanks! It might be worth renaming one of them for that reason.

[2021-03-19 23:46] Jaeyoung-Lim commented on #16816
Closing as the original author didn't reply.

@weiyuhe Please reopen if you think this is still an issue

[2021-03-19 23:46] #16816 closed

[2021-03-19 23:46] dgeorge83616 commented on #17170
Agree that that would be helpful. I like that PX4 code avoids acronyms, but this case has quite a lot of letters for the amount of information.

[2021-03-20 08:24] Pskoog3 opened #17173 "ADIS16477.cpp: 275:95: ERROR: statement has no effect"
Build failed with the following error for ADIS16477 driver. I am using a custom sensor board with Raspberry Pi 3.

$ sudo make px4_rpi
[0/1] Re-running CMake...
-- PX4 version: v1.11.0-rc3-2014-g0d4f48a8d2
-- PX4 config file: /home/rusr/px4dev/Firmware/boards/px4/rpi/default.cmake
-- PX4 config: px4_rpi_default
-- PX4 platform: posix
-- PX4 lockstep: disabled
-- cmake build type: RelWithDebInfo
--

[2021-03-20 11:45] le-chat opened #17174 "MC and FW rate controllers write integrators into one topic"
MC and FW rate controllers write integrators into one topic rate_ctrl_status:
https://github.com/PX4/PX4-Autopilot/blob/f6eae085978d7a11483156b5d4e461c875b46729/src/modules/fw_att_control/FixedwingAttitudeControl.cpp#L622
https://github.com/PX4/PX4-Autopilot/blob/f6eae085978d7a11483156b5d4e461c875b46729/src/modules/fw_att_control/FixedwingAttitudeControl.hpp#L117
https://github.com/PX4/PX4-Autopil

[2021-03-20 14:09] Yecgaa1 opened #17176 "Failed to import numpy"
Failed to import numpy in clion+0.9ToolChain

When I build px4 in Clion with cmake and cywin64
I see the problem

[code]
Ok,I know I should install numpy with run-console.bat
but it meet another wrong!

[code]

Addition:
[code]

[2021-03-20 15:13] teyrana commented on #16620
@kekiefer
Hey, how did you go about testing this?
Should I add the `spektrum_telemetry` module to `boards/px4/fmu-v4/default.cmake`?   (or create a new file within that directory?)

All I really want to do is run that extra module, and debug the resulting messages.

Also, it seems a bit much to upload the entire firmware.... is there a way I can just upload version of that module, and hot-swap it

[2021-03-20 20:38] Jaeyoung-Lim commented on #16486
closing as stale. @Iko-Git Please reopen if you think this is still an issue

[2021-03-20 20:38] #16486 closed

[2021-03-20 22:41] dgeorge83616 commented on #17170
@LorenzMeier see https://github.com/PX4/PX4-Autopilot/pull/17177, just a small follow-up.

[2021-03-21 16:35] obicons opened #17181 "Baro + GPS loss leads to position loss and unstable movements"
**Describe the bug**
When flying with Iris in SITL, I injected a GPS and Barometer failure. This caused the quadcopter to maneuver dangerously.

**To Reproduce**
1. Allow drone to takeoff (any mode, I think)
2. While the drone is ascending, insert a GPS and Barometer failure
3. The drone quickly loses position and altitude

**Expected behavior**
The drone to survive this fault, or trigger a failsa

[2021-03-21 17:35] adbidwai commented on #17176
Install numpy for python2 and try again
[code]

[2021-03-21 18:12] Pskoog3 commented on #17055
Although with the latest build (v1.11.0-rc3-2014-g0d4f48a8d2) the accel/gyro/mag sensor of LSM9DS1 gets calibrated with the correct sensitivity in QGroundControl, however getting a vehicle_magnetometer lost error as indicated in the following log. Moreover, in QGroundControl it constantly complains for Accel 0 fail: TIMEOUT!

$ sudo ./bin/px4 -s px4_rpi.config
INFO  [px4] mlockall() enabled. PX4's

[2021-03-21 18:24] Pskoog3 commented on #17173
The issue is somewhat resolved by commenting out the -Werror in cmake/px4_add_common_flags.cmake.
Perhaps this is not a correct solution and the problem should be fixed in the master before closing this issue.

$ sudo make px4_rpi
[0/1] Re-running CMake...
-- PX4 version: v1.11.0-rc3-2014-g0d4f48a8d2
-- PX4 config file: /home/rusr/px4dev/Firmware/boards/px4/rpi/default.cmake
-- PX4 config: px4_rpi

[2021-03-21 23:23] rligocki opened #17183 "No actuator_outputs topic in \obj and no autopilots output messages on UAVCAN bus"
While trying to get running new prototype VTOL plane with pixracer autopilot (FMUv4) it was not possible to get output over UAVCAN. After some research when I tried different types of "airframes", I found out, that UAVCAN output esc.rawCommand messages are send only when VEHICLE_TYPE is "mc". Next I found, that with VEHICLE_TYPE "vtol" it is possible to get output, but only when mc_rate_control st

[2021-03-22 02:08] ghost opened #17186 "Hardware Security of PX4: ARM TrustZone"
Hi 😀

I am working on my project of ensuring the hardware security of the Flight Controller.
I am planning to use **TPM** & **ARM TrustZone** to ensure security of PX4 System at hardware level.

I would like to contribute to **[PX4 Security SIG Project](https://github.com/orgs/PX4/projects/26)** by using **ARM TrustZone**.
**Arm TrustZone** is hardware security architecture creating two environmen

[2021-03-22 03:44] blakermchale opened #17187 "Make commands not being recognized for fmu rtps builds"
**Describe the bug**
In the most recent version of master `make px4_fmu-v3_rtps` is no longer recognized as a command. Only `px4_fmu-v5_rtps` is recognized.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `make px4_fm-v3_rtps` or `make check_rtps`

**Expected behavior**
This should build the binaries with RTPS for fmu-v3.

**Log Files and Screenshots**
![image](https://user-images.github

[2021-03-22 03:53] mengchaoheng opened #17188 "CUAV nano compile and upload v1.12.0-beta1 program error"
**Describe the bug**
The initial bell（STARTUP_TUNE） is incomplete, the output of the servo is wrong after startup, and the safety switch does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. make px4_fmu-v5_default
2. make px4_fmu-v5_default upload
3. See error

**Expected behavior**
The tune_control play -t $STARTUP_TUNE command will work. After starting, press the safety switch an

[2021-03-22 03:59] mengchaoheng commented on #17188
https://user-images.githubusercontent.com/43166007/111938902-f23b4500-8b05-11eb-9367-f6a2cfaec961.mp4

----------------------------------------------------------
This is the wrong initial ringtone

[2021-03-22 04:15] Yecgaa1 commented on #17176
No!I run the toolChain in Win10

[2021-03-22 07:22] julianoes commented on #16745
The ones that fail to arm should be fixed with https://github.com/PX4/PX4-Autopilot/pull/17169.

[2021-03-22 08:36] #17063 closed

[2021-03-22 08:55] LorenzMeier commented on #17187
We likely disabled this as FMUv3 is a very old target (2015/16-ish), running out of flash space and RAM and most of us use a Pixhawk 4 or newer. Is it the only hardware option you have?

[2021-03-22 12:09] obicons opened #17192 "compass loss causes unsafe maneuvers"
**Describe the bug**
During the landing sequence, a compass failure leads to a position loss and the vehicle jerks violently. Tested on recent commit.

**To Reproduce**
1. Takeoff
2. Land
3. While landing, fail every compass instance

**Expected behavior**
The vehicle to proceed through the landing sequence.

**Log Files and Screenshots**
https://logs.px4.io/plot_app?log=b9da48e7-9b6a-4a87-a9b0-4d

[2021-03-22 13:38] bresch commented on #17192
There are a few strange things that would require further investigations:
- The mag data already stops before takeoff (are you sure you only stopped it during landing?)
- The GNSS vel/pos fusion only seem to start after the mag data stopped
- When the GNSS fusion resets, it has a huge value (was the origin incorrect?)
- The position setpoint isn't exactly adjusted during the reset. It could be a r

[2021-03-22 14:38] BazookaJoe1900 opened #17194 "Notable spikes on the actuator output when Yaw is changing due to yaw feedforward"
**Describe the bug**
Notable "bump"s on the actuator output when Yaw is changing.
I noticed that reducing MC_YAW_P doesn't really affect the desired yaw rate from the yaw error. Even when its very low or even 0.
That leads to 'bump' on the desired yaw rate. The yaw Rate is either 0/max rate (with some extra integral).
On some scenario it cause small roll/pitch bumps. On some cases, some altitude b

[2021-03-22 16:01] blakermchale commented on #17187
I'm part of an undergraduate student organization where we have designed our own drones around the 3DR Pixhawk Mini. We purchased them a while ago so it is currently our only option for our drones. It seems like a recent update disabled this since we had been using a version of master from January 22, 2021 and were able to build this version fine.

[2021-03-22 19:12] Pskoog3 commented on #17173
@bkueng The issue is still there...

$ sudo make px4_rpi
-- PX4 version: v1.11.0-rc3-2031-ge57aaaaa5e
-- PX4 config file: /home/rusr/px4dev/Firmware/boards/px4/rpi/default.cmake
-- PX4 config: px4_rpi_default
-- PX4 platform: posix
-- PX4 lockstep: disabled
-- cmake build type: RelWithDebInfo
-- The CXX compiler identification is GNU 7.5.0
-- The C compiler identification is GNU 7.5.0
-- The ASM c

[2021-03-22 19:31] Pskoog3 commented on #17173
@bkueng the issue is fixed... please merge it with the master.
Thanks.

[2021-03-22 19:31] #17173 closed

[2021-03-22 20:05] #17055 closed

[2021-03-22 20:07] Pskoog3 opened #17199 "RPi3: LSM9DS1 ERROR: Accel #0 fail: TIMEOUT!, vehicle_magnetometer lost"
With the latest build the accel/gyro/mag sensor of LSM9DS1 gets calibrated with the correct sensitivity in QGroundControl, but now getting a vehicle_magnetometer lost error as indicated in the following log. Moreover, in QGroundControl it constantly complains for Accel 0 fail: TIMEOUT! By the way I am using a custom sensor board with Raspberry Pi 3.

$ sudo ./bin/px4 -s px4_rpi.config
INFO [px4] m

[2021-03-22 21:59] DIMAH1234 opened #17200 "code modification for quadrotor"
dear developer, I would like to used pixhawk fom my drone
I would like to modify the control algorithm nut I dont know how i do that and what the application that I need to be able to modify the code

[2021-03-22 21:59] #17200 closed

[2021-03-22 22:01] DIMAH1234 opened #17201 "Code modification for quadcopter"
dear all, I would like to used pixhawk fom my drone
I would like to modify the control algorithm nut I dont know how i do that and what the application that I need to be able to modify the code

[2021-03-23 02:00] mengchaoheng commented on #17201
read the user guide. https://docs.px4.io/master/en/

[2021-03-23 02:04] mengchaoheng commented on #17188
@LorenzMeier

[2021-03-23 02:08] mengchaoheng commented on #17188
https://github.com/PX4/PX4-Autopilot/issues/16883, see also

[2021-03-23 08:56] ibrahimqazi commented on #17076
@Jaeyoung-Lim why we need to use this command ?

[2021-03-23 09:03] Jaeyoung-Lim commented on #17076
@ibrahimqazi Because this repo has submodules and you didn't update them when cloning

[2021-03-23 10:11] zenglongGH opened #17206 "logger:fmu-v2 and v1.12 version logger error"
Hardware : fmu-v2
Software：v1.12

when running a few minutes ,log failed

nsh> ERROR [logger] writer failed (116)

[2021-03-23 10:26] bresch commented on #17181
@julianoes Isn't that covered in CI?

[2021-03-23 10:55] bresch commented on #17164
Hi @daydayupcg137 ,

You first need to compute the `M` matrix by estimating/measuring the rpm-to-force/torque gain of each rotor. Then you isolate `fmax` in the equation and find the maximum of this function given the rpm constraints. You can find the maximum by hand using Lagrange multipliers if you want but also use Python/Matlab to do it.

I'm closing this post because it isn't an issue of the

[2021-03-23 10:55] #17164 closed

[2021-03-23 10:55] ibrahimqazi commented on #17076
@Jaeyoung-Lim Thanks I followed exactly the same commands mentioned on this website, and didn't miss any step:
[https://docs.px4.io/master/en/contribute/git_examples.html](url)
The command you mentioned was not there. I have a little confusion so my cloned forked repository will need `make submodulesupdate` to compile it because the command `make px4_fmu-v2_default` still does not work. Appreciate

[2021-03-23 10:56] helo9 opened #17207 "Hardfault on pixracer r15 with current master"
**Describe the bug**
With the current master (something like 1d8808183, not completely sure which version QGC took), I get hardfaults on my pixracer R15. `git bisect` seems to identify e7722b11eb as first commit with that issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Pixracer R15 connected via USB
2. Update Firmware with QGC to development/master
4. Observe pixracer constantly reboo

[2021-03-23 13:07] Pskoog3 commented on #17199
The latest log might show the problem...
https://review.px4.io/plot_app?log=58273f87-acf8-4020-8e7b-b5f0ae6327a1

[2021-03-23 14:30] bresch commented on #17174
You could do something like done here:
https://github.com/PX4/PX4-Autopilot/blob/06cd3eded52297ee2277163a445efed0571ac481/src/modules/fw_att_control/FixedwingAttitudeControl.cpp#L46
[code]
And change the multirotor publication to `rate_ctrl_status_0`
And define `rate_ctrl_status_0` an `rate_ctrl_status_1` in the message definition, like in
https://github.com/PX4/PX4-Autopilot/blob/06cd3eded52297ee

[2021-03-23 16:32] KatrinMoritz opened #17212 "Flashing nxp_fmuk66-v_rtps or nxp_fmuk66-v_default causes continuous self-rebooting"
**Describe the bug**
Flashing the nxp_fmuk66-v3_rtps.px4 or nxp_fmuk66-v3_default.px4 via QGC causes that the FMU is always rebooting and not starting correctly. It reboots before the communication with QGC is started. Therefore the FMU is with this version not usable. This behavior can be observed from the commit e7722b11eb. In the commit before (c1c0a62be5) the firmware works as expected.

**To

[2021-03-23 16:32] KatrinMoritz commented on #17212
@96moustafa @dk7xe

[2021-03-23 18:16] dk7xe commented on #17212
@dagar @davids5 fyi

[2021-03-23 18:29] dagar commented on #17174
You could also simply publish multiple instances by using uORB::PublicationMulti<> instead. Then in each we could add an enum to identify the source.

[2021-03-23 18:30] dagar commented on #17207
Thanks for sharing the bisect, this should now be fixed in master. https://github.com/PX4/PX4-Autopilot/pull/17202

[2021-03-23 18:30] #17207 closed

[2021-03-23 18:37] davids5 commented on #17212
@dk7xe can you get a console on the debug connector? Is it a hardfault in the PWM module?

[2021-03-23 18:41] dagar commented on #17212
This should be fixed in master as of https://github.com/PX4/PX4-Autopilot/commit/9b1cf98474b271ef402dd3d7dd47acd581acc1d7.

[2021-03-23 21:32] int-smart opened #17214 "Help with reference frames"
Hi
I am using a thoneflow with an external lidar module TFMini Plus for Position hold.
This is with reference to this: https://github.com/PX4/PX4-Autopilot/blob/46f0388fc778d63ff1ded2125c76e006d3690f74/src/modules/local_position_estimator/sensors/flow.cpp#L88

1. The link is for the calculation of delta_b which I feel is the linear velocity of the drone. The linear component is being derived from

[2021-03-23 23:53] rligocki commented on #17183
Found where exactly is an issue. Whole module vtol_att_control crashes on this part of code -> https://github.com/PX4/PX4-Autopilot/blob/2dace0c9ea418c12ede719c3c74a3bc97d426ecf/src/modules/vtol_att_control/vtol_type.cpp#L86-L118. In case there is UAVCAN enabled in sensor and actuator mode, then there is no second PWM module for autopilots without IO. In that case it was pixracer

[2021-03-24 01:06] Kim-zhi-jiang opened #17216 "Some old params in v1.12.beat1 and A short time pause at before transfer(MC to WING) in VTOL plane"
Hello there

I can't find some old params in v1.12.beat1 and A short time pause at before transfer(MC to WING) in VTOL plane.

https://github.com/PX4/PX4-Autopilot/tree/v1.12.0-beta1/src/modules/sensors/

PWM_MIN ---I don't know
PX4-Autopilot/src/modules/sensors/pwm_params_main.c Not file

PWM_MAX ---I don't know
PX4-Autopilot/src/modules/sensors/pwm_params_main.c Not file

PWM_DISARMED ---I don't

[2021-03-24 01:53] danduril commented on #16133
Perhaps a similar hard fault, here: https://review.px4.io/plot_app?log=e42e93ed-4877-4605-bbc7-f4f96544c5b4

[2021-03-24 03:36] mengchaoheng commented on #17188
Additional context
But when I download the beta firmware in QGC, The safety switch is also wrong. It is open sourced but cannot be closed.

[2021-03-24 03:50] daydayupcg137 commented on #17164
Thank you for your reply.But How to  isolate **fmax** in the equation?There are six variables, but there are only five equations.Therefore, I cannot infer the relationship between Fmax and rpm。
the M matrix is shown below:
![image](https://user-images.githubusercontent.com/66363845/112251729-c0a5b380-8c96-11eb-88e5-1e404860e3da.png)

In the above case, what is the relation of Fmax(fxmax/fymax/fzma

[2021-03-24 07:45] KatrinMoritz commented on #17212
I tested the new master with both versions (default and rtps). The rebooting issue is fixed with 9b1cf98, @dagar.

[2021-03-24 07:45] #17212 closed

[2021-03-24 09:36] JLOGD opened #17219 "MRO X2.1 777 "EMERGENCY: [IO] config read fail, abort." or "EMERGENCY: Failed to communicate with IO,abort.""
Hello, I have loaded firmware 1.11.3 without problems since the last version of QGC, I have managed to parameterize the controller and I have telemetry in the RCstation, but I cannot use the radio. It is as if the sbus port was not connected, but if everything is well connected, since with the Ardupilot firmware I have no problems.
When trying to perform radio calibration from QGC I get the follow

[2021-03-24 11:04] akarshgopal opened #17220 "Motors spin up to ~1500 pwm when vehicle is armed. [Control Allocation V1.12.0Beta]"
**The bug**
Motors spin up to ~1500 pwm when vehicle [ Hexacopter Control Allocation V1.12.0Beta] is armed. No response to throttle or stick inputs.

**To Reproduce**
Steps to reproduce the behavior:
1. Drone switched on
2. Arm via RC or QGC
3. See motors spin to ~1500 pwm

**Expected behavior**
Motors spin at idle speed (1075 pwm default)

**Log Files and Screenshots**
https://review.px4.io/plot_

[2021-03-24 15:58] bresch commented on #17214
The definition used is that a positive flow is created by a position rotation around an axis.

This means that a positive rotation around the X axis creates a positive X flow; and this is the same flow that is generated when the drone translates in the left direction.

Same for example for +Y. This is a positive rotation around the Y body axis, which generates the same flow as when moving forward.

[2021-03-24 16:17] jinger26 commented on #17216
@sfuhrer @RomanBapst  can you take a look at the transition issue here?

[2021-03-24 16:25] davids5 commented on #15073
Closed by https://github.com/PX4/PX4-Autopilot/pull/17213 and https://github.com/apache/incubator-nuttx/pull/3167

[2021-03-24 16:25] #15073 closed

[2021-03-24 16:32] LorenzMeier commented on #17188
Safety now defaults to off - just added that to the release notes: https://github.com/PX4/PX4-Autopilot/releases/tag/v1.12.0-beta1

[2021-03-24 16:36] #16730 closed

[2021-03-24 16:36] #16133 closed

[2021-03-24 16:48] jinger26 commented on #17216
@dagar reminder to respond with regards to parameters translation per dev-call, thank you!

[2021-03-24 17:10] jinger26 commented on #17082
I'll work on getting @bresch some hardware

[2021-03-24 17:12] davids5 commented on #16918
@sanderux  I was told this was card related. With the the SDMMC change is in and the different card is this resolved?

[2021-03-24 18:06] TheLegendaryJedi commented on #17082
@bresch I tried to change the `EK2_MAG_TYPE` to `MC custom` and I still can't change to position mode

[2021-03-24 19:33] davids5 commented on #16511
@dagar - Still relevant?

[2021-03-24 21:13] int-smart commented on #17214
Thanks for the explanation. I just had one more question: the gyro values (how much has the drone rotated on its axes) are being subtracted from the flow values as flow values include the rotation of the drone on its own axes apart from the rotation of the drone with respect to the environment. Is this understanding correct?

[2021-03-24 22:26] dagar commented on #16511
I haven't seen this recently.

[2021-03-24 22:26] #16511 closed

[2021-03-25 07:15] julianoes commented on #16745
@mrpollo I believe some of these are now fixed. Please just re-open if you find more.

[2021-03-25 07:15] #16745 closed

[2021-03-25 09:24] bigbellmercy opened #17229 "Guide for copying `launch` folder to `~/catkin_ws/px4/src`"
Hi~ I have a suggestion for document improvement for ROS related.

I recently get to know that the `launch` folder should be copied to `~/catkin_ws/src/px4` after it is created first, in order to use the launch files for ROS.

Is it automatically created and copied by some script? But in my case it didn't.

When I searched internet there is no clue for such thing.

Thanks.

PX4 has dedicated repos

[2021-03-25 11:27] 96moustafa commented on #17109
This is supposed to solve it: https://github.com/PX4/PX4-Autopilot/pull/17193#event-4494978463

[2021-03-25 11:27] #17109 closed

[2021-03-25 12:37] bresch commented on #17214
I'm not sure if I get that sentence, but to answer the question: yes, the EKF compensates for the apparent flow due to the angular velocity of the drone. It is done here: https://github.com/PX4/PX4-ECL/blob/6f2dec726adeedcb53aad9a77a8fcdfc8f7b3054/EKF/control.cpp#L375-L376

[2021-03-25 12:42] bresch commented on #17082
@TheLegendaryJedi Yes, because EKF2 waits for mag data to complete the initialization even if it is not used

[2021-03-25 13:04] benjinne opened #17231 "BAT1_SOURCE and BAT1_N_CELLS parameters not sticking until esc_battery module is running"
**Describe the bug**
After resetting all parameters to firmware defaults then setting BAT1_SOURCE to ESCs and BAT1_N_CELLS then rebooting, they both get reset back to the defaults. If I start the esc_battery module using the mavlink console "esc_battery start" then set the parameters and reboot, the parameters stick and the esc_battery module starts every time.

I can't seem to find where the BAT1

[2021-03-25 13:18] benjinne opened #17232 "CRSF telemetry should also work on modalai/fc_v1"
**Describe the bug**
https://github.com/PX4/PX4-Autopilot/blob/5a1eb3f9eff6510c0eb6f93b9338c65832b80150/src/drivers/rc_input/RCInput.cpp#L627
This line only allows CRSF telemetry to work with the omnibus F4SD board, however I've removed it and verified it also works with the modalai/fc_v1 board. What is the macro needed for the modalai/fc_v1 board?

[2021-03-25 13:56] TheLegendaryJedi commented on #17082
Is there a way to debug it? Because it does not give me anything on the console.

[2021-03-25 15:58] int-smart commented on #17214
Thanks for the response. I apologise if I made the question complicated. I am interested in knowing what delta_b here: https://github.com/PX4/PX4-Autopilot/blob/46f0388fc778d63ff1ded2125c76e006d3690f74/src/modules/local_position_estimator/sensors/flow.cpp#L88 represents. How do we arrive at this formula. I was assuming delta_b to be the rotation of the drone with respect to the environment which i

[2021-03-25 16:40] bresch commented on #17214
@int-smart I'm not familiar with the Local position estimator module, sorry. This is also not maintained anymore so please use EKF2 if possible (and check the code by following the links I posted above).

[2021-03-25 16:41] bresch commented on #17082
You could add some printfs indicators in the code to know where it stops.

[2021-03-25 22:01] dgeorge83616 opened #17235 "OrangeCube: Check for stack overflow on each function call causes hardfault"
**Describe the bug**
Debug serial console at boot:
[code]

**To Reproduce**
See below.

**Expected behavior**
Normal boot.

**Log Files and Screenshots**

See [slack thread here](https://px4.slack.com/archives/C0W2KUFFT/p1616547404075700). @dagar suggested enabling stack checking to help diagnose, but first, tried updated master as discussed [here](https://px4.slack.com/archives/C50RWGQMT/p1616628

[2021-03-26 01:11] kwanyongcho7 opened #17236 "Airsim HITL Px4"
**Describe the bug**
A clear and concise description of the bug.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to AirSIM
2. Arm with MAVSDK-Python

**Expected behavior**
Take off correctly

**Log Files and Screenshots**
https://logs.px4.io/plot_app?log=fdf5e18d-8599-4e97-9170-79ed42565023

I am trying to fly vechile with MAVSDK-Python in Airsim HITL Mode.

When I Arm the vehicle, I

[2021-03-26 03:17] CUAVcaijie opened #17237 "Cuavx7 top 8 PWM channels have no output"
**Describe the bug**
CUAVx7 MAIN channel has no output

**To Reproduce**
1.Firmware version: a12442654138c88c796f9a655907f78fc258d04d
2. Set the model to 4001
![image](https://user-images.githubusercontent.com/30532769/112571858-deecea00-8e23-11eb-9ccc-15fb7dbaa477.png)

3. Calibrate all sensors
4. Setting parameters:
5. Restart
6. Connect to the remote control

Test Results:
CAUVx7:
    PWM outpu

[2021-03-26 03:29] CUAVcaijie commented on #17237
parameter settings:
CBRK_USB_CHK = 197848
CBRK_SUPPLY_CHK = 894281
RC_MAP_AUX1 = Channel 6
RC_MAP_AUX2 = Channel 7

[2021-03-26 03:33] #15090 closed

[2021-03-26 06:40] bkueng commented on #17232
`CONFIG_ARCH_BOARD_MODALAI_FC_V1`. A bit better would be to add a `BOARD_SUPPORTS_RC_SERIAL_PORT_OUTPUT` define to the board config and check for that in RCInput.cpp.

[2021-03-26 07:30] Jaeyoung-Lim commented on #17236
@kwanyongcho7 Which airsim version are you running? Have you checked https://github.com/microsoft/AirSim/issues/2477 ?

I am not sure if Airsim works with PX4 v1.11

[2021-03-26 09:11] Jaeyoung-Lim commented on #17229
@bigbellmercy You need to follow the documentation in http://docs.px4.io/master/en/simulation/ros_interface.html, where the px4 autopilot repository should not be part of the catkin workspace but outside of it.
e.g.
[code]
This is because PX4 is not dependent on catkin or ROS and it does not follow some of the assumptions that catkin is making regarding install paths

[2021-03-26 09:25] bigbellmercy commented on #17229
I see. That method works well!  Thank you.

[2021-03-26 09:31] #17229 closed

[2021-03-26 13:30] holmnikolaj opened #17238 "Multicopter yaw as gimbal"
I have a multicopter with a camera on a one axis gimbal (for pitch). To control my ROI i want to use the multicopter yaw, such that instead of yaw to whatever the mission (etc.) decides, then control the mc yaw based on what the gimbal controller output.

This could be possible by modifying vmount to not account for drone attitude, and use vmount output as yaw reference. This should of cause be co

[2021-03-26 14:02] dagar commented on #17237
Thanks for reporting, I think we have a regression.

[2021-03-26 14:04] dagar commented on #17238
Interesting idea, I'd be happy to discuss on a call if you'd like to try and implement this.

[2021-03-26 14:07] dagar commented on #17199
Hi @Pskoog3,

Can you run `uorb top`? I'm looking for the publication rate of sensor_accel, sensor_gyro, etc. It sounds like the `LSM9DS1` is not working right at all.

Can you describe everything that's on this board? For testing the closest thing I have is a Navio2.

[2021-03-26 16:12] saengphet opened #17240 "Collision prevention does not work with firmware 1.12.0-beta1 and master"
**Describe the bug**
hello there, I installed the lightware lidar LW20/C and Stereo camera D435i (runningPX4 avoidance for stereo) in front of Quadrotor for collision prevention. It works fine with firmware version v1.11.3. both lidar and stereo camera However, after I  upgraded the firmware to v1.12.0-beta1 ( tried master too on 26/03/2021). Even I did not touch any parameter relate to collision

[2021-03-26 16:40] dagar commented on #17240
What do you have `MPC_POS_MODE` set to? Collision prevention is currently only available with MPC_POS_MODE=3 (Smooth position control with maximum acceleration and jerk limits), and not the new default MPC_POS_MODE=4 (Smooth position control where sticks map to acceleration and there's a virtual brake drag).

FYI @MaEtUgR

[2021-03-26 18:35] dagar commented on #17199
@Pskoog3 please try master now that https://github.com/PX4/PX4-Autopilot/pull/17239 has merged.

[2021-03-26 21:07] nbort opened #17244 "X2.1 Mag not showing up"
**Describe the bug**
The X2.1 (not -777) onboard mag is not showing up in PX4 v1.11.3

**To Reproduce**
Steps to reproduce the behavior:
1. Connected a new X2.1, preinstalled with Ardupilot, to QGC. Verified that the mag was seen
2. Used QGC to change the firmware to PX4. Automatically loaded px4_fmu-v3 (surprised it did not load v2)
3. "uorb top" did not show the mag or either IMU
4. Performed th

[2021-03-26 21:29] dagar commented on #17244
Do you happen to know if the only internal mag is supposed to be from the mpu9250?

https://github.com/PX4/PX4-Autopilot/blob/a260ddd8ff4b91488271c5ae13bac9065467309d/boards/mro/x21/src/spi.cpp#L39-L43

In the updated mpu9250 we no longer run the magnetometer by default because it interferes (mildly) with the high rate raw data output. If that really is the only onboard magnetometer I can enable i

[2021-03-26 22:12] nbort commented on #17244
Yes, I am referring to the mpu9250. It is the only mag on the board. My airplane will have an external mag but I do like having the internal mag, mainly for the preflight consistency checks. It is interesting that with the mro x2.1-777, I do see the mpu9250 mag with 1.11.3.

[2021-03-26 22:29] dagar commented on #17244
Can you give https://github.com/PX4/PX4-Autopilot/pull/17246 a try?

If you take a look at `work_queue status` and `uorb top sensor` you should see the impact of the mag on mpu9250 scheduling.

[2021-03-26 22:35] dakejahl opened #17247 "Support for multiple SPI drivers of a given type"
Support running multiple instances of a driver for a given SPI device, where only the chip selects differ.

I've tried a few different attempts at making this work and I believe the issue is here
https://github.com/PX4/PX4-Autopilot/blob/master/platforms/common/i2c_spi_buses.cpp#L289-L292

I can work around it by doing this before creating the `BusInstanceIterator`
[code]
but this doesn't guard fr

[2021-03-27 00:59] nbort commented on #17244
Thanks! I verified that it worked, both forked from the master and from 1.11.3. I just did basic functional checks - the mag shows up, the field reading make sense and it can be calibrated. I also verified that the accels and gyros still show up.

![image](https://user-images.githubusercontent.com/81443501/112705615-11bfce00-8e76-11eb-86e6-3217e17431f4.png)

[2021-03-27 01:02] #17244 closed

[2021-03-27 01:02] dagar commented on #17244
Great, thanks for the quick test @nbort.

[2021-03-27 01:33] dagar commented on #17247
There's also the address of the device id here to settle. https://github.com/PX4/PX4-Autopilot/blob/f65781025ebb776fb5c406d96fbbfa52360f8a30/src/lib/drivers/device/nuttx/SPI.cpp#L70-L72

[2021-03-27 05:17] saengphet commented on #17240
I have already tested it by setting MPC_POS_MODE to 3: Smooth position control (Jerk optimized). I switch from "altitude mode" to "position mode", then the FCU seems stuck momentarily and back to normal, meanwhile the GPS LED changes from green to blue and Cannot switch to Position mode again. It is very strange behavior I have not ever seen. It likes the nav/gps or position status stop working af

[2021-03-27 06:11] ecmnet opened #17248 "EKF2.cpp: Rangefinder instance selection not stable"
Having two rangefinders on board (e.g. with HereFlow and a Lightware sensor), the selection of the rangefinder instance depends on the sequence of published UORB messages: [https://github.com/PX4/PX4-Autopilot/blob/f65781025ebb776fb5c406d96fbbfa52360f8a30/src/modules/ekf2/EKF2.cpp#L1557](https://github.com/PX4/PX4-Autopilot/blob/f65781025ebb776fb5c406d96fbbfa52360f8a30/src/modules/ekf2/EKF2.cpp#L1

[2021-03-27 12:57] ecmnet opened #17249 "set_gps_global_origin does not enable GPOS in EKF2"
In 1.12 beta1, sending a `set_gps_global_origin` message to EKF2 via MAVLINK sets the NED origin as reported by EKF2 but does not switch to publish global position. This would be helpful in use cases where no GPS is available and LPOS is provided by other means.

Reason for this is, that the flag `_NED_origin_initialised` is not set to true in`Ekf::setEkfGlobalOrigin`. Doing so in `elf_helper.cpp`

[2021-03-27 13:49] dagar commented on #17248
Yes, we need to do something to handle them more explicitly and likely monitor all. The logic exists primarily to filter out non-downward facing options, but then I added a simple timeout to possibly benefit if there's a failure and you have multiple usable options.

[2021-03-27 14:19] dagar commented on #17240
Can you share the flight log?

On Sat, Mar 27, 2021, 01:17 saengphet ***@***.***> wrote:

[2021-03-27 17:31] bys1123 commented on #17000
@dagar Please send me an address, I'll send you one EVK board and one sensor chip. My mail: stone@thone.io

[2021-03-27 22:00] dgeorge83616 opened #17252 "Add vendor version to logs and also ver system command"
**Describe problem solved by the proposed feature**
Version info does not include vendor version and git tag parsing function doesn't extract the vendor version correctly.

**Describe your preferred solution**
Fix the parser and add to `ver` system command.
Log doesn't even include PX4 version, afaict, but perhaps add both to help match logs to code.

[2021-03-28 03:58] saengphet commented on #17240
@dagar

**- Firmware v1.11.3 - CP is OK**
https://review.px4.io/plot_app?log=f8784279-4476-4294-a658-3d6839603464

**- Firmware master CP is NOT OK**
https://review.px4.io/plot_app?log=1d898f6b-c164-4a81-b687-a3e593011595

https://review.px4.io/plot_app?log=e79f46ae-8c9b-4c28-a2e8-acf6a3c4dd02

[2021-03-28 07:14] ecmnet commented on #16858
A first check with 1.12-beta1 shows that the provided workaround is not working anymore. I made the following observations:

-  After vision publishing stops, EKF2 reports continuously a reset to current position
- The switch to range finder, proposed here, is not executed
- Terrain estimation is running away in as soon as vision is stopped

Also horizontal fallback behaves differently now:
- Afte

[2021-03-28 07:57] Yecgaa1 opened #17254 "NFO [px4] assuming working directory is rootfs, no symlinks needed. ERROR [px4] Error opening startup file, does not exist: etc/init.d/rcS"
I build in Clion with the px4 Cmake application
![image](https://user-images.githubusercontent.com/38446391/112745855-fd96e080-8fdd-11eb-84c0-78965230cafc.png)
But I have a problem
[code]

I have ever checked that /home/xtx/PX4-Autopilot/cmake-build-debug/etc/init.d/rcS is exist
Please give me some help

[2021-03-28 19:27] afwilkin commented on #16950
I am experiencing this issue as well. The ubuntu.sh setup did not work for me.

Is there any update on this?

[2021-03-28 19:32] afwilkin commented on #16950
I found the issue. On the last version of PX4-autopilot I had to run with `sudo` because the program needed permission to create a cache file `Failed to create temporary file for /home/atlas/.ccache/5/d/ec4da3686341d3d3968582736b61b9-11825.o.tmp.stdout: Permission denied`

So, I simply ran with `sudo`. In this new version this seems to screw things up.

I am working on a fix, will update

[2021-03-28 19:43] afwilkin commented on #16950
Yeah, I am unsure why permissions on my folder `/home/atlas/.ccache/5/d/` were set for only root use, but after changing the permissions there I was able to get a successful build

[2021-03-28 20:05] dakejahl commented on #17247
The hacky workaround also prevents interacting with the driver via nsh, like calling "stop". It thinks the driver isn't running because it's `type` doesn't match.

[2021-03-28 20:35] LukasHostettler opened #17259 "No Radio Signal from DSMx on Pixhawk4 mini since V1.11.3"
Loading the default firmware from qgroundcountrol onto the holybro pixhawk mini results in no signal from the Radio.
The inputs from the RC are not recieved. "Binding Spectrum" however works.

I tested with px4_fmu-v5_default V.1.11.3 (and v1.12.0 Beta 1), both versions have the same issue.
The last working relased version was V.1.11.2.

Parameters used in all cases:

[20210328_QAV_workingOnV1.11.

[2021-03-28 20:37] dagar commented on #17259
Exactly which Spectrum equipment do you have (transmitter and receiver models)?

Are you using PX4 to initiate the bind or doing it externally?

[2021-03-28 20:38] dagar commented on #17259
This is probably the difference impacting you between v1.11.2 and v1.11.3 (and v1.12.0 beta 1). https://github.com/PX4/PX4-Autopilot/pull/16470

[2021-03-28 20:41] LukasHostettler commented on #17259
I use DXE(SPM1000) Transmitter with the SPM 4648 Reciever set to operate with 9 Channels

[2021-03-28 20:48] LukasHostettler commented on #17259
I did only try the binding via px4 since i only have the satellite. The binding seemed to work for two reasons:

1. The light pattern matched
2. When downgrading to v.1.11.2 the radio worked immediately

[2021-03-29 00:16] swkim101 commented on #17062
@LorenzMeier, You can see that the Nuttx community has decided to disable the mw-like commands by default at the following link: https://github.com/apache/incubator-nuttx/issues/3011

[2021-03-29 01:27] dagar commented on #17062
I'm not aware of typical users/developers actually using these on a regular basis, so I'd be fine with disabling them by default (saving a little bit of flash). I'll open a PR and give it a bit of time for any objections.

[2021-03-29 05:46] ecmnet commented on #16858
@bresch: Could you have a look into #994

[2021-03-29 06:45] ecmnet commented on #17248
Some questions:
- What do you think about the idea using the instance that has the highest max_distance value?
- I saw that the instance determination is performed only once. Any disadvantages, if the check would be determined continuously?

[2021-03-29 07:08] julianoes commented on #16950
Please paste the log of what did not work.

[2021-03-29 07:13] holmnikolaj commented on #17238
I would. As I see it there are some issues that would be good to discuss:

 - What is the best way to get the output from vmount to mc_att_control? We could use mount_orientation.msg but that might be a problem if the gimbal publishes to that topic. Alternatively mc_att_control could subscribe to vehicle command, we could create a new uorb topic for it or make it an addition to mount_orientation.

[2021-03-29 07:37] bkueng commented on #16351
Done in https://github.com/PX4/PX4-Autopilot/pull/17191

[2021-03-29 07:37] #16351 closed

[2021-03-29 10:00] mkloui opened #17262 "Cannot compile Firmware, could not load cache error"
Hi,
I want to build the firmware v1.10.2 (as needed for UAV Toolbax in Simulink). I have installed the Cygwin Toolbox v0.8 for Windows.
The command
make px4_fmu-v5
results in
Error: could not load cache
make: *** [Makefile:202: px4_fmu-v5]
Does anyone know how to solve this?

[2021-03-29 12:10] benjinne commented on #17232
@modaltb could you take a look at this for me?

[2021-03-29 14:13] modaltb commented on #17232
@benjinne what are you using here?  This isn't something we're testing against yet, but if it works, and we can do it in a less board specific way as Beat mentioned above, it might be better!

[2021-03-29 14:34] benjinne commented on #17232
@modaltb I'm using crossfire telemetry with my RC transmitter. It's very similar to frsky telemetry except crossfire RC control and telemetry run on one uart since crossfire receivers use both RX and TX and run on the CRSF protocol. I've verified this works by connecting a crossfire receiver to J1004 (RC Input port) with TX going to Sbus and RX going to TX. All I had to do was remove the macro to

[2021-03-29 15:18] dagar commented on #17062
Pull request - https://github.com/PX4/PX4-Autopilot/pull/17264

[2021-03-29 16:17] dagar commented on #17081
We can make this possible PX4 side, but it will need to be coordinated with QGC and/or MAVSDK to be useful.

[2021-03-29 16:18] dagar commented on #17081
Oh I remember now, one missing piece is that the GCS doesn't know if its in sync with the vehicle or not, so the safe thing to do is resend the full mission.

We should be able to finally fix that in the near future. https://github.com/mavlink/mavlink/pull/1611

[2021-03-29 17:03] fas2037 commented on #17081
That sounds great, I would be really interested in that. I posted the question in the general slack channel and @julianoes mentioned that https://mavlink.io/en/messages/common.html#MISSION_WRITE_PARTIAL_LIST could be used to archieve this.

[2021-03-29 18:50] Pskoog3 commented on #17199
Still same issue... sensors seems to work fine and gets calibrated but still having the following error messages in console and Accel 0 fail: TIMEOUT! constantly coming up!

ERROR [sensors] Accel #0 fail: TIMEOUT!
ERROR [ekf2] 0 - vehicle_magnetometer lost, generation 23 -> 25

[2021-03-29 19:10] dagar commented on #17199
Thanks for the update. Can you grab a fresh log with current master to share? https://logs.px4.io/
Are you running px4 as root? Maybe capture a screenshot of `top` (or `htop`) while px4 is running to get a better idea what's happening both on the system and within px4.

I use htop to see the individual threads within px4.

[2021-03-30 09:47] marcinolokk opened #17268 "Position tracking problem"
Hi all,

We are developing a custom build drone (around 1kg) based on the frame almost identical to s500. We require from it to stay as steady as it is possible in certain moments. Therefore we involved external VIO as source of the position (proved to work well). No GPS involved. However the controller seems not to perform well enough.
I attached the log from the last flight, where the issue appe

[2021-03-30 10:11] bresch commented on #17268
A few comments that might help you:
- the CG is too far to the front. If possible move the battery a bit back to unload the pitchrate integrator. Otherwise you can change the mixer geometry
- there is a constant yaw control offset; this is often due to a rotor misalignment and creates coupling between the axes, degrading the attitude control performance. You could tilt the rotors by a few degrees

[2021-03-30 12:07] ecmnet commented on #17268
Just to give you a benchmark: We achieve with a similar sized frame an accuracy of about 0.02m in XY and 0.04m in Z axis and are still working on it to get below 1cm in all axis. From my experience vibration is one of the crucial factors. I have also seen a big impact to accuracy depending on how close the fc is positioned to the centre of gravity.

[2021-03-30 13:23] #17062 closed

[2021-03-30 14:39] ecmnet commented on #17249
Meanwhile, I figured out that setting `_NED_origin_initialised` to true is not appropriate in all cases. I limited that to the case when no map projection is available. This allows to set the origin (and home position) in gps denied situations.

[2021-03-30 14:53] dagar commented on #17249
It might be easier to continue this ECL side. https://github.com/PX4/PX4-ECL/issues/new

Could you try taking a first pass at making the change and we'll work through the remaining details and edge cases?

[2021-03-30 15:04] JAPolo2 opened #17271 "Problem with thrust/altitude control of a custom tricopter"
**Describe the bug**
We've made a custom Y-tricopter whose rear motor (or front motor in our case) should only be affected by thrust. This is done by using a summing mixer where the output for the front motor is affected to only thrust control (M: 1 // S: 0 3 ....). However, once the drone is armed, the rear motor increases its speed to a constant value when the drone is turned to the left and rig

[2021-03-30 15:42] dakejahl opened #17272 "fmu-v5x: SPI6 CS does not drive low"
### Context
I am configuring the SPI6 bus as such. I've repurposed the DRDY1/2 GPIO as additional CS.
[code]
I created a custom driver and have tested it with each chip select by changing the `-c` arg when starting the driver
**eg:**
[code]

### **The Problem**
Chip selects 2 and 4 do not drive low when calling `SPI::transfer`. I looked through the **defconfig**, **board.h** and **st32f76xx7xx_pin

[2021-03-30 18:53] Pskoog3 commented on #17199
@dagar here is the fresh log with recent master...
https://logs.px4.io/plot_app?log=e423f38f-4090-4a16-bf73-d3aeab883f5e

yes, running as root...
$ sudo ./bin/px4 -s px4_rpi.config

screenshot of <top> with px4 running...
![Screenshot from 2021-03-30 22-39-52](https://user-images.githubusercontent.com/54239292/113040798-a6963480-91b2-11eb-9cf1-7d832065cd75.png)

screenshot of <htop>...
![Screensho

[2021-03-30 22:52] eldewany commented on #16584
You should use QGC to select the aircraft configuration to be the HIL Quadrotor or whatever is suitable for you. I'm not sure if this is the same in mission planner.

[2021-03-31 03:59] lovettchris opened #17276 "PX4 in SITL mode is saying MAV_CMD_NAV_GUIDED_ENABLE is MAV_RESULT_UNSUPPORTED ?"
**Describe the bug**
AirSim uses MAV_CMD_NAV_GUIDED_ENABLE  to request offboard mode, latest master bits are returning the MAV_RESULT::MAV_RESULT_UNSUPPORTED ?  So how does one get the PX4 into offboard mode?

**To Reproduce**
Steps to reproduce the behavior:
1. Connect a simulator to PX4
2. Wait for it to have good GPS lock and a home position
3. Arm the drone and take off
4. Now try and send MAV

[2021-03-31 09:18] le-chat commented on #17174
@dagar They are already uORB::PublicationMulti. However, in logs we see only MC controller's data. Can added enum change this?

[2021-03-31 12:14] AbdallahReda commented on #16584
Thanks for your reply, I have entered the HIL mode using QGC. However, I want to enter HIL mode in mission planner using the same firmware.

[2021-03-31 12:24] #16858 closed

[2021-03-31 13:41] marcinolokk commented on #17268
Thanks for the fast reply.
I corrected 1st and 3th points out of the three you mentioned. I didn't have time and knowledge to look into the the rotor misalignment yet. The vibration on the y axis got lower with smaller pid value. However the oscilations are more less the same.
Is there a chance that you @ecmnet could share your parameters so I could check what major differences do we have?

[2021-03-31 14:17] dakejahl commented on #17272
This was a hardware issue on my end

[2021-03-31 14:17] #17272 closed

[2021-03-31 14:31] dagar commented on #17174
Great, then the next step is to add some identifying information to each msg (the enum).

It looks like logger is already configured to log 2 instances. https://github.com/PX4/PX4-Autopilot/blob/5f4802a239321b9f3d1845f4e7b4262030752039/src/modules/logger/logged_topics.cpp#L130

[2021-03-31 15:08] eldewany commented on #16584
@AbdallahReda After you set up the board on QGC you start the simulator using the normal method on the docuentation page for HITL, and then start mission planner and connect through udp through port 14570 (the same for QGC as far as i remember) and it should work.

[2021-03-31 18:16] dagar commented on #17276
I removed this in https://github.com/PX4/PX4-Autopilot/commit/d0c9a5fc93141fd2a393896a3d344db70783e048#diff-72c9e73ba02675201cb800fd25efcb3b3e52e2fb00d22b191ac16f6d886b7c2b because I couldn't find any existing usage, but apparently I didn't search hard enough.

The "normal" usage of OFFBOARD is that you start streaming your offboard setpoints then switch the mode. I can restore `MAV_CMD_NAV_GUIDED

[2021-03-31 20:29] lovettchris commented on #17276
I see well I'll try changing AirSim to the new way then, would be nice if there were better docs on this.

[2021-04-01 00:01] dagar commented on #17276
Yes that sounds right.

Roughly what are you using OFFBOARD for? The usage is really geared towards people doing some kind of control via MAVROS and wanting to send setpoints straight into one of the controllers (rate, attitude, velocity, local position). That's why you need to be in OFFBOARD mode then send a continuous stream of setpoints.

If all you want to do is simply move a vehicle around I'

[2021-04-01 00:19] lovettchris commented on #17276
AirSim uses offboard for advanced flight control programmed by python scripts mostly using MavLinkSetPositionTargetLocalNed

[2021-04-01 02:52] lovettchris commented on #17276
I got it working now, thanks.

[2021-04-01 05:31] #17276 closed

[2021-04-01 10:10] Chris-Bee opened #17297 "Estimator Pose Rejection after Estimator Watchdog shows Magnetometer Checkbit"
Hello everybody,

we performed an experiment where we used a quadcopter to perform several touchdown and go sections based on feed waypoints. This was done in a motion capture environment and the motion capture information was feed to the vision pose mavlink topic. The EKF2 was used, and set to use the attitude, height, and position of the vision pose.

**Problem:**
We performed this test several

[2021-04-01 13:50] dagar commented on #17276
Great, thanks for sharing.

The other thing to note with `OFFBOARD` is that the setpoints are going straight into the controllers. So if you want things like trajectory smoothing you'll need to do it "higher level" going through interfaces like MAV_CMD_DO_REPOSITION that use the same path as mission execution.

Let me know if there's anything we can expand on to improve your use case.

I aspire to

[2021-04-01 16:42] TheLegendaryJedi commented on #17082
Hi @bresch, I made some prints like you suggested and figured that in `control.cpp` the `_flow_sample_delayed` never has good samples.

Basically the quality is always 0, and the dt is always 0 too. Any suggestion on what might be the problem?

`INFO  [ecl/EKF] ------------------SAMPLE-------------------`
`INFO  [ecl/EKF] is_quality_good: 0`
`INFO  [ecl/EKF]   _flow_sample_delayed.quality >= _para

[2021-04-02 04:56] saengphet commented on #17240
@dagar  any update? Thanks

[2021-04-02 11:13] ecmnet opened #17305 "UAVCAN command bridge: Spamming message"
In 1.12-beta2, dmesg (and log) still is spammed with UAVCAN messages after arming:

<img width="912" alt="Bildschirmfoto 2021-04-02 um 13 10 40" src="https://user-images.githubusercontent.com/7580193/113410997-00fee300-93b5-11eb-8deb-cfc73faf085f.png">

[2021-04-02 11:27] ecmnet commented on #17268
Parameters depend heavily on the setup, as with v1.10, I had to increase position control gains even higher than the expected range.

[2021-04-02 13:12] dagar commented on #17305
Thanks for reporting, I think we can get rid of this now.

[2021-04-02 14:29] dagar commented on #17305
Things should be a bit quieter with https://github.com/PX4/PX4-Autopilot/pull/17307.

[2021-04-02 14:47] ecmnet opened #17308 "Lightware Laser does not start on external bus on Pixhawk4 Fmuv5 with bot sequence"
Lightware Laser (Sf10a) does not start with boot sequence on Pixhawk4 (FmuV5). Starting it later via console works without issues:

<img width="912" alt="Bildschirmfoto 2021-04-02 um 16 38 22" src="https://user-images.githubusercontent.com/7580193/113425562-657c6b00-93d2-11eb-94be-e2dde57c665b.png">

<img width="912" alt="Bildschirmfoto 2021-04-02 um 16 44 13" src="https://user-images.githubuserco

[2021-04-02 14:59] dagar commented on #17308
Do you have `SENS_EN_SF1XX` set?

https://github.com/PX4/PX4-Autopilot/blob/1ec8ce58c7e544e96cbda711d85c7f3b21731b9b/ROMFS/px4fmu_common/init.d/rc.sensors#L68-L72

[2021-04-02 15:31] ecmnet commented on #17308
Yes, of course :D

<img width="912" alt="Bildschirmfoto 2021-04-02 um 17 30 55" src="https://user-images.githubusercontent.com/7580193/113429691-3ddcd100-93d9-11eb-955f-ebdd2d1137eb.png">

[2021-04-02 15:43] dagar commented on #17308
Do you have anything else on that particular bus? Does the manual start ever fail?

I would try setting `_retries = 3` in the constructor. https://github.com/PX4/PX4-Autopilot/blob/1ec8ce58c7e544e96cbda711d85c7f3b21731b9b/src/drivers/distance_sensor/lightware_laser_i2c/lightware_laser_i2c.cpp#L141

[2021-04-02 16:04] ecmnet commented on #17308
Starting manually always works - currently I send the console command via the companion. Never had issues with that approach.

[2021-04-02 16:34] dagar commented on #17308
I'm wondering if all the other random I2C probing during startup is causing problems. It's one of the reasons I'd really like the startup of these optional external peripherals to be configured explicitly.

Can you see if the retries help? https://github.com/PX4/PX4-Autopilot/pull/17311

The other thing we can do (that requires slightly more rework) is to add an option that lets the driver start a

[2021-04-02 17:26] davids5 commented on #16918
@sanderux - Please reopen if this is still an issue

[2021-04-02 17:26] #16918 closed

[2021-04-02 21:03] sanderux commented on #16918
Looks like it, still need to fly but from bench testing i can confirm i was able to reproduce and solve with faster sd-card.
We use Kingston Industrial Temperature 8GB cards, but they are quite slow.
I'll send you one

[2021-04-03 05:34] ecmnet commented on #17308
Unfortunately, https://github.com/PX4/PX4-Autopilot/pull/17311 does not solve the issue. Might be related to the HW, as RM3100 is on the same bus and is initialised properly.

[2021-04-03 05:35] ecmnet commented on #17305
Perfect, with https://github.com/PX4/PX4-Autopilot/pull/17307 those messages do not appear any more.

[2021-04-03 12:55] LukasHostettler commented on #17259
Sure,
the additional information I found on the reciever was:
SPM4648 Contains FCC ID BRWSPMR4648A IC:6157A-SPMR4648A and there is a sticker which says TS904X.
Here are pictures of my setup, what information would you specifically need?

![IMG_20210403_145102](https://user-images.githubusercontent.com/11869720/113478955-4e9a4f00-948c-11eb-8575-bc0dd6e1e910.jpg)
![IMG_20210403_142341](https://user-

[2021-04-03 14:07] #17305 closed

[2021-04-03 14:10] dagar commented on #17308
Thanks for testing.

Does it make any difference if you disable all the external i2c probing? `SENS_EXT_I2C_PRB 0`
https://github.com/PX4/PX4-Autopilot/blob/588883f6636863c7dfa7278be8eae4d7db330db4/ROMFS/px4fmu_common/init.d/rc.sensors#L112-L147

[2021-04-04 09:06] ecmnet commented on #17308
No difference, if `SENS_EXT_I2C_PRB` is set to 0.

[2021-04-04 15:40] dagar commented on #17308
Does it make a difference if there's nothing else physically on the same bus?

We might need someone with one of these units to step through the code during init to understand what's happening.

[2021-04-05 01:22] #16979 closed

[2021-04-05 04:04] #17216 closed

[2021-04-05 09:21] ecmnet commented on #17308
I have tried that already of course, no difference.

[2021-04-05 10:34] julianoes opened #17323 "SITL tailsitter mission broken"
**Describe the bug**
It is no longer possible to fly a mission with the SITL tailsitter model. The model oscillate crazily and does not reach waypoints.
[vtol-mission.plan.txt](https://github.com/PX4/PX4-Autopilot/files/6257710/vtol-mission.plan.txt)

**To Reproduce**
Steps to reproduce the behavior:
1. `make px4_sitl gazebo_tailsitter`
2. Uploaded mission plan attached to this issue in QGC.
3. St

[2021-04-05 10:56] TSC21 commented on #17323
One of the problems to solve is this: https://github.com/PX4/PX4-SITL_gazebo/commit/3e5fed04d8e574b10e17e446d2938346bc6152ca#diff-0020558d0aae9f87a3eabf04651b92582eb94089e78c860d631c8a693b523923R90. So we need to make sure that the sensor rotation is correct: https://github.com/PX4/PX4-SITL_gazebo/commit/3e5fed04d8e574b10e17e446d2938346bc6152ca#diff-0020558d0aae9f87a3eabf04651b92582eb94089e78c860d

[2021-04-05 11:09] Jaeyoung-Lim commented on #17323
@TSC21 You probably need to do a `make clean` in between since the messages need to be regenerated?

[2021-04-05 11:11] TSC21 commented on #17323
Which messages?

[2021-04-05 11:12] julianoes commented on #17323
Will be fixed in https://github.com/PX4/PX4-SITL_gazebo/pull/735.

[2021-04-05 11:14] julianoes commented on #17323
@TSC21 nice catch! We found it in parallel :)

[2021-04-05 11:16] julianoes commented on #17323
This looks like an unrelated lockstep issue.

[2021-04-05 11:33] TSC21 commented on #17323
Yep - it was the fact that I had mavlink-router running in the background. Maybe some loopbacks were being introduced or so. All good now.

[2021-04-05 12:14] #17323 closed

[2021-04-05 13:24] 96moustafa opened #17325 "The ellipsoid altitude of global_pos is unstable in SITL"
**Describe the bug**
The UTM_GLOBAL_POSITION Mavlink message altitude field gets its data from the ellipsoid altitude of the global vehicle position [here](https://github.com/PX4/PX4-Autopilot/blob/87206556838cefb15ae5517644c7f62c0f4d79dc/src/modules/mavlink/streams/UTM_GLOBAL_POSITION.hpp#L102).

I found that this value is completely unstable in SITL and fluctuates with each message even if the v

[2021-04-05 13:47] dagar commented on #17325
Could you share a log showing the problem? According to the mavlink spec that altitude field is supposed to be WGS84.

http://mavlink.io/en/messages/common.html#UTM_GLOBAL_POSITION

[2021-04-05 14:24] saengphet opened #17328 "Couls not get GPS status from Telem2, firmware master but v1.11.3 OK"
**Describe the bug**
I set up dual GPS, primary GPS is at GPS1 port and secondary is at telem2 port. Pixhawk 4 with Firmware version v1.11.3 works fine. However, after I upgraded firmware to master version. I could not get signal from secondary GPS (using gps status command). After that, I changed serial port from Telem2 to Serial4 to connect GPS, it works as expected !!. I have tested these with

[2021-04-05 14:31] 96moustafa commented on #17325
[log_0_2021-4-5-16-25-40.zip](https://github.com/PX4/PX4-Autopilot/files/6258644/log_0_2021-4-5-16-25-40.zip)
I zipped it so it could be uploaded to github. I am not sure if the ellipsoid altitude can be found in the log file.

[2021-04-05 15:05] dagar commented on #17325
Thanks, for future reference you can upload logs to Flight Review (https://logs.px4.io/). https://logs.px4.io/plot_app?log=65441f2f-c3ec-40c9-92b5-0c0c36eb21ad

It looks like GPS `alt_ellipsoid` isn't being populated in SITL. I'll make a quick fix.

[2021-04-05 15:20] dagar commented on #17325
@96moustafa can you try https://github.com/PX4/PX4-Autopilot/pull/17330?

[2021-04-05 15:22] dagar commented on #17328
Do you have a flight log from master showing the problem? https://logs.px4.io/

In particular I'm looking for the specific values of the GPS* parameters and any dmesg output.

[2021-04-05 15:47] dagar commented on #17308
Could it be power up timing? Does it take a bit longer for the Lightware to actually start?

If I had one of these to debug the next thing I'd try is looping (+ small sleep) in the probe.

https://github.com/PX4/PX4-Autopilot/blob/74e848d57ed875d7b03225046ddec49a20693f36/src/drivers/distance_sensor/lightware_laser_i2c/lightware_laser_i2c.cpp#L222-L223

We should implement the keep running (`-k`) o

[2021-04-05 16:09] 96moustafa commented on #17325
Works!

[2021-04-05 16:33] Jaeyoung-Lim commented on #15054
I believe this is not valid anymore, closing

[2021-04-05 16:33] #15054 closed

[2021-04-05 19:32] obicons opened #17337 "Improve Robustness of `LANDING_TARGET` Message"
**Describe the bug**
In `MavlinkReceiver::handle_message_landing_target`, if `landing_target.frame != MAV_FRAME_LOCAL_NED` then the message is handled as a "Target Relative to Captured Image" message. [Per MAVLink's documentation](https://mavlink.io/en/services/landing_target.html), PX4 does not handle frames other than `MAV_FRAME_LOCAL_NED`. However, treating messages with other frames as a targe

[2021-04-05 19:50] dagar commented on #17337
Could you open a PR adding the desired behavior?

https://github.com/PX4/PX4-Autopilot/blob/54438140e12b44654b08e890399f52d564d89874/src/modules/mavlink/mavlink_receiver.cpp#L2289

You can simply only support (republish) the specific frames that work, then anything else can be rejected with a mavlink critical message like this. https://github.com/PX4/PX4-Autopilot/blob/54438140e12b44654b08e890399f

[2021-04-05 19:54] obicons commented on #17337
Sure, thank you for the fast response!

[2021-04-05 21:12] obicons commented on #17337
@dagar There is similar logic in `void Simulator::handle_message_landing_target(const mavlink_message_t *msg)`. Should this be updated as well?

[2021-04-05 22:12] dagar commented on #17337
Yes, and instead of the `else` accepting everything you could limit it to only what's actually supported.

[2021-04-06 00:54] Kim-zhi-jiang opened #17339 "Found three parameters problems in v1.12.beat2"
Hello there

Found three parameters problems in v1.12.beat2

ERROR [param] Parameter FW_RSP_OFF not found.
But in here have: "PARAM_DEFINE_FLOAT(FW_PSP_OFF, 0.0f);"
/PX4-Autopilot/src/modules/fw_att_control/fw_att_control_params.c

ERROR [param] Parameter PWM_DISARMED not found.
Deleted this file in v1.12.beat2 "/PX4-Autopilot/src/modules/sensors/pwm_params_main.c"
I don’t know add where in the ne

[2021-04-06 01:28] dagar commented on #17339
- FW_RSP_OFF
    - removed because I've never seen anyone actually need it
 - PWM_DISARMED
    - now PWM_MAIN_DISARM (because it applies to only the MAIN output group)
    - user set PWM_DISARMED is automatically transitioned to PWM_MAIN_DISARM
 - PWM_AUX_DISARMED
    - now PWM_AUX_DISARM for naming consistency

[2021-04-06 01:51] Kim-zhi-jiang commented on #17339
@dagar

Now I see

Thank you very much for replying!

[2021-04-06 01:57] #17339 closed

[2021-04-06 02:23] mcsauder commented on #17328
Hi @saengphet ,

In re-wiring a holybro GPS JST-GH housing to see if I could reproduce your issue I noticed that perhaps, (but perhaps not), the reason your are encountering success is the pinout/GPIO configuration difference between the two ports you are attempting to utilize and what the hardware expects on pins 4/5 of telem1/2 vs UART&I2CB pins 4/5 and the Serius A2/A3.  Allow me to illustrate:

[2021-04-06 02:41] Kim-zhi-jiang opened #17344 "Found that many parameters are not activated in v1.12.beat2"
Hello there

Found that many parameters are not activated,  worried about affecting the flight.

Don't know it's discarded?

![2021-04-06 10-30-10 的屏幕截图](https://user-images.githubusercontent.com/80669694/113651471-9c010100-96c4-11eb-97c7-effbad539433.png)

[2021-04-06 03:25] saengphet commented on #17328
pixhawk4+F9P:serial4 - good
https://review.px4.io/plot_app?log=1ff8d5b2-fc33-442f-a602-c74968ac38ca

pixhawk4+F9P:serial4 - bad
https://review.px4.io/plot_app?log=6b6bdee0-9c31-4220-a54b-4e7ed6ed44b3

[2021-04-06 03:30] saengphet commented on #17328
Hi @mcsauder, thank you for your reply. I'm not sure that my problem relates to what you mention or not. In my case, If I flash firmware v1.11.3, I can use either telem2 or serial4 port "without re-wiring", however after I upgraded the firmware to master, only serial4 works fine but telem2 not. In my point of view, it's not a hardware bug but the firmware does it.

[2021-04-06 03:43] mcsauder commented on #17328
Hi @saengphet , my thought was that with recent upgrades at the hardware level in NuttX, the CTS/RTS lines might now be being held high/low properly or improperly where they were not previously and it might be hanging the GPS hardware in a strange state.  I think that is what is going on with the holybro GPS between the releases.

[2021-04-06 04:35] saengphet commented on #17328
I will try to disconnect I2C pin and connect to telem2 port and show you the result. Thanks

[2021-04-06 07:00] LorenzMeier commented on #17344
The -a option is only for system development - because PX4 supports multicopters, planes, rovers, boats it will never use all parameters at once. Use ```param show``` to see the current active ones.

[2021-04-06 07:00] #17344 closed

[2021-04-06 09:02] cserko opened #17345 "3D Velodyne Lidar Support for Iris"
Hi,

**Describe problem solved by the proposed feature**
It'd be very nice if there was 3D Velodyne lidar extension for the Iris drone.

**Describe your preferred solution**
I will add a new model velodyne lidar (like rplidar) into Tools/sitl_gazebo then test it on Gazebo & ROS.

**Describe possible alternatives**
I don't know any.

**Additional context**
nothing yet

[2021-04-06 09:28] MaEtUgR commented on #17006
https://github.com/PX4/PX4-Autopilot/pull/17287 was a not so nice hotfix.
https://github.com/PX4/PX4-Autopilot/pull/17290 amkes sense in general but does not solve this issue.
I really wonder why the issue is pitch only. I also tested with increased `IMU_GYRO_CUTOFF` (50-60Hz). The two filters might have some strange interaction on the pitch noise model in jMAVSim. I'll check further.

[2021-04-06 12:44] taileron commented on #16334
In the end, there is always just not enough free ram. Depending on the problems with the file system or my larger mixers. If it is reduced at some point, it works. However, something always has to be removed in the code, because only the Mavlink USB connection or the Mavlink shell is sufficient for nothing to work and in order to be able to use only USB for monitoring the UAVCAN components, many o

[2021-04-06 13:18] manumerous opened #17347 "Documentation of attitude quaternion direction"
Hi

The repository https://github.com/PX4/Devguide is archived and It is not possible to open an Issue there as suggested. I therefore hope that it is okay to open the Issue here.

I would like to know the exact details of what the attitude quaternions, as found in the ulog under for example `vehicle_attitude`, describe. In particular which two frames it relates and in which direction (e.g. if the

[2021-04-06 13:44] #17325 closed

[2021-04-06 14:11] dagar commented on #16334
The uavcan driver/module size is increasing because it always allocates everything. We should add a parameter so that you can be more selective about which subscribers (sensors) and publishers (ESCs, beep, etc) are active. https://github.com/PX4/PX4-Autopilot/tree/master/src/drivers/uavcan/sensors

For mavlink USB autostart potentially helps in some situations. https://github.com/PX4/PX4-Autopilot

[2021-04-06 14:17] dagar commented on #17347
It's all been merged into the user guide. https://github.com/PX4/PX4-user_guide

[2021-04-06 14:47] pratikiitgn commented on #13756
@deb0ch and @stmoon

can you please help me to sort out this issue. I stuck here.

[2021-04-06 15:11] dagar opened #17348 "sensor driver improvements"
- implement keep_retrying `-k` by default on all drivers
    - this should probably be the default option for sensors built into each board
    - could also be used for any sensor that's explicitly user enabled via parameter (eg SENS_EN_PAW3902)
 - don't reset unless required
     - rather than always triggering a lengthy reset, only do so if required (after checking sensor configuration) Example:

[2021-04-06 17:13] dlech opened #17352 "Cube Orange USB Serial not working on WIndows"
**Describe the bug**

Cube Orange flashed with PX4 firmware does not connect on Windows due to the serial port driver not loading for the mavlink connection.

**To Reproduce**
Steps to reproduce the behavior:

1. Flash PX4 firmware using QGroundControl (using developer/master)
  ![image](https://user-images.githubusercontent.com/963645/113749928-ce642b80-96cf-11eb-833e-d9ab661a142c.png)
2. After t

[2021-04-06 17:16] manumerous commented on #17347
@dagar Thank you for the link. I also could not find any detailed documentation about what PX4s quaternions represent there. Would you propose to close this issue here and post the question again on that repository?

Maybe it would be possible to change the description when opening a documentation issue to point to the new repo? Currently it stilllinks https://github.com/PX4/Devguide.

[2021-04-06 17:53] saengphet commented on #17352
I am not sure this can solve your problem or not but it works for me. I installed the latest version of mission planner, then try to connect cube orange again in QGC. In my opinion it is about cube orange usb driver in windows, in Linux works fine without above installation.

[2021-04-06 18:20] dlech commented on #17352
Thanks for the tip! I can confirm that installing the latest mission planner fixed the issue for me as well.

[2021-04-06 23:52] saengphet commented on #17352
Wonderful !! However, we still need the right solution for other users. @dagar

[2021-04-07 00:21] saengphet commented on #16896
@VarunBurde  @edwinpha  Hello,how about this problem? Can it work for now? I plan to use px4flow too. Thanks

[2021-04-07 03:55] bys1123 opened #17358 "SENS_EN_PX4FLOW not working on fmuv5 (Pixhawk4)"
**Describe the bug**
If set SENS_EN_PX4FLOW to 1, PX4FLOW still not start on fmuv5
need to run `px4flow start -X` everytime

px4 version: 1.11.3

**Log Files and Screenshots**
![image](https://user-images.githubusercontent.com/4748411/113808167-046ce280-9798-11eb-8d0a-f0134ba5a69d.png)
![image](https://user-images.githubusercontent.com/4748411/113808190-1189d180-9798-11eb-9631-7cf0630050e5.png)

[2021-04-07 03:58] amikhalev commented on #16133
I no longer see hard faults at shutdown. Thanks!

[2021-04-07 09:11] Igor-Misic commented on #17328
We also have problems with using GPS at **TELEM** ports at **FMUv5x**.
If we use TELEM1 then we are randomly losing connection to GPS.
It can be observed as GPS status going from **OK** to **NOT OK**
[code]

If we change it from TELEM1 to TELEM3 then this doesn't happen anymore.

@davids5 does any of this look familiar to you so you can help us here? (any changes with CST and RTS at Nuttx level)

[2021-04-07 10:32] davids5 commented on #17328
The HS has not changed in NuttX. Both port have RXDMA. The driver uses the same code on both ports.

[code]

What does mavlink status show?

Please re-test after doing a mavlink stop-all

[2021-04-07 11:56] VarunBurde commented on #16896
Hello @saengphet , If you plan to use px4flow with pixhawk 4, it works with firmware v1.9.1. I am unaware of any other autopilot.

[2021-04-07 16:01] TheLegendaryJedi commented on #17082
https://review.px4.io/plot_app?log=7ab4c688-20db-4a0f-a5d0-bf9d7d8b229d

[2021-04-07 17:10] bresch commented on #17082
Thanks for the log, I'll have a look. I also received a CrazyFlie 2.1 yesterday so I should be able to reproduce your issue soon.

[2021-04-07 17:52] #17232 closed

[2021-04-07 18:05] Igor-Misic commented on #17328
I withdraw my problem from here. It seems it is different nature and it also happening at TELEM3.

[2021-04-07 18:36] TheLegendaryJedi commented on #17082
Nice! It's preatty awesome.

Just one update. During dev call Matthias and Dagar told I needed to enable pmw3901 parameter and I did. Right now I've manually started the pmw3901:
`pmw3901 start -s -b 1`

`INFO  [SPI_I2C] Running on SPI Bus 1`
`pmw3901: read: 3077 events, 740455us elapsed, 240.64us avg, min 87us max 16947us 957.049us rms`
`pmw3901: com err: 0 events`

But I still can't change to po

[2021-04-08 02:49] AM-SC72 opened #17360 "Bottom rotors (AUX channel 1 through 6) on co-axial dodecarotor do not turn"
**Bug Description**

The bottom rotors (AUX channel 1 through 6) on a co-axial dodecarotor (12 rotors) fail to turn when arming the drone. The top rotors (PWM_IO channel 1 through 6) successfully turn and respond to commands using the RC.  The source of the issue is unclear but it appears both the main and the auxiliary mixers are failing to load. This happens both on the stable firmware and the d

[2021-04-08 04:33] bys1123 opened #17361 "Can't get integrated_x,y from PX4FLOW"
**Describe the bug**
Always get 0 integrated_x,y from PX4FLOW

**To Reproduce**
1. focus PX4FLOW
![image](https://user-images.githubusercontent.com/4748411/113968591-f5546600-9865-11eb-9ce4-42e536b12da5.png)
2. make sure PX4FLOW USB connection have right output
![image](https://user-images.githubusercontent.com/4748411/113968757-4cf2d180-9866-11eb-891b-7c1fa5529e25.png)
3. Connect to pixhawk throu

[2021-04-08 05:43] swkim101 commented on #17062
Acknowledgment: This vulnerability was found out by the following people (alphabetical order):
- Gisu Yeo <wcharcode@gmail.com>
- Sungwoo Kim <kim3583@purdue.edu>
- Taegyu Kim <tgkim@purdue.edu>

[2021-04-08 13:43] benjinne opened #17364 "Dshot 3d support missing"
**Describe the bug**
The dshot output does not work correctly when using blheli with 3d mode enabled. For example when using a blheli ESC for a rover mixer that  supports a bi-directional esc, only pwm works currently. I think this is due to the bottom half of dshot commands being reversed.

I've found several explanations on how this works, and it just needs implemented to work correctly.
Copied

[2021-04-08 13:53] benjinne commented on #17364
This is related to [Support normal car ESC with reverse](#11992)

[2021-04-08 13:57] ecmnet commented on #17308
I verified that hypothesis using `px4_usleep(200000);`in the probe method of `lightware_laser_i2c.cpp` without success - so I doubt that it is purely a power-up-timing issue.

[2021-04-08 13:59] LorenzMeier commented on #17308
Sleeping 200 ms is not really long. Can you re-test 2 seconds and then start to reduce?

[2021-04-09 06:46] bkueng commented on #17364
You're right, this is currently not implementent, and the bottom half needs to be inverted. Can you do a PR with your suggesion?

[2021-04-09 09:05] ThomasRigi opened #17365 "Airspeed selector issues"
**Describe the bug**
@sfuhrer @dagar @RomanBapst I found several issues (of different importance) with the airspeed selector / validator. I could reproduce parts in SITL, but not everything. As usual, I only know about quadplane VTOLs. Sorry in advance for the long report, here a TL;DR: switching from not using airspeed sensor to using airspeed sensor completely cuts FW throttle. Ground_minus_wind

[2021-04-09 13:58] mommotti opened #17366 "Vehicle Setup>Power Setup"
I'm trying to set up my Pixhawk 2.1 using PX4.
I don't have a battery, the Pixhawk is connected to my companion computer ( Raspberry Pi 3b ) via USB.
I have already disabled the USB checks with " CBRK_USB_CHK 197848 "
Is there a way to bypass the Power Setup and just use the USB connection provided by the Raspberry to power the Pixhawk?
Power Setup:
![image](https://user-images.githubusercontent.c

[2021-04-09 14:36] marcinolokk commented on #17268
For the last two days, I played around with the parameters. Reset the gains to default and I found out that EKF2_EV_DELAY was somehow set to 0. Therefore I measured it and set it to 150ms. Even with default PID values, it seems to track the position slightly better (height specifically). I think I also managed to keep the vibrations in a bit smaller range than before.
https://review.px4.io/plot_ap

[2021-04-10 12:31] benjinne commented on #17366
Try setting CBRK_SUPPLY_CHK to arm with no power input

[2021-04-10 13:21] akarshgopal commented on #17220
Did some digging and found out the following:
- actuator_controls_4 and actuator_controls_5 uOrb messages seem to function normally, i.e the output messages of the control allocation module are in order.

- actuator_outputs uOrb topic is problematic:
   - first 8 outputs stuck at ~1500 pwm on arming, with no changes due to throttle, or stick inputs.
   - actuator_outputs message is not problematic

[2021-04-10 15:13] akarshgopal commented on #17220
Some more observations:
- pwm_out driver was not running by default. Not sure if that is intentional?
- actuator_controls_4 and actuator_controls_5 (which afaik is used for CA) don't seem to be subscribed to or used in px4io.cpp

[2021-04-11 11:39] jlecoeur commented on #17220
@akarshgopal control allocation is supported on FMU only, it is not supported on IO. IO support will come when we have removed mixing from the IO processor.

Try connecting your motors to FMU outputs (and load the appropriate mixer on FMU.

[2021-04-11 11:59] bys1123 commented on #17308
PX4FLOW has similar problem #17358

[2021-04-11 12:02] bys1123 opened #17369 "Safety Button can't back to lock status even in disarm"
After flash current master, Safety Button can't back to lock status

[2021-04-11 13:12] saengphet commented on #17369
Hi, @bys1123 I have tested with cube orange and got the same result. After press the safety switch button once to pre-arm on state, it could not turn to pre-arm off state, the LED still be "double blink" instead of slow blink.

[2021-04-11 13:29] LorenzMeier commented on #17369
This is by design (see the release notes) because we have seen accidental in-air triggering of the safety switch due to poor wiring. So now it is latching.

[2021-04-11 15:31] mommotti commented on #17366
![image](https://user-images.githubusercontent.com/49097348/114310630-a61f6700-9aeb-11eb-94a7-b120344ad3d4.png)
Thanks for the quick reply! Still nothing tho... The problem persists

[2021-04-11 16:02] bys1123 commented on #17369
@LorenzMeier Thanks for explain, but in disarm status, i think safety button is still useful, especially in research environment. In arm status, I agree make safety switch un-tigger-able.

[2021-04-11 22:55] LorenzMeier commented on #17366
What is the error message you are getting?

[2021-04-11 23:25] akarshgopal commented on #17220
Okay thanks for letting me know. Anyway I can help speed up IO support?
My objective with CA is to fly a tilting-hexacopter (overactuated) so really need 6 motors + 6 servos. Any way I can work around the lack of IO support and get 12 pwm channels out?

Does the 6003_hexa_x_ctrlalloc airframe config file not load the appropriate mixer for the FMU? If not what commands do I need to run or what modi

[2021-04-12 05:36] ecmnet commented on #17249
Addressed with https://github.com/PX4/PX4-ECL/pull/1001

[2021-04-12 05:39] mxiaogit commented on #17120
The driver has been completed.

[2021-04-12 05:52] Pskoog3 opened #17371 "RPi: Setting 16 Bit SPI Mode Fails"
Setting 16 bit SPI mode fails for the Raspberry Pi 3 board when using ADIS16xxx IMUs. This is because the SPI controller only supports 8 bit mode.

Please fix the issue by masking the 16 bit SPI mode so that it works for 8 bit SPI as well.

[2021-04-12 10:48] mommotti commented on #17366
I was getting something similar to "Unable to arm, please complete the setup."
But now that warning message doesn't pop up anymore on QGC... Thank you all, let's call it close for now

[2021-04-12 10:48] #17366 closed

[2021-04-12 13:19] Shubuo commented on #16547
Is there any update for that problem. I am having the same problem right now. I am also trying to develop a module for the motors that I attach extra. motor_test seems very useful for this purpose, but the module does not work due to the problem.
I can't workaround with the pwm module because it needs to run in an infinite loop within a while(1), but I have to access the mavlink shell again while

[2021-04-12 16:59] FernandezR opened #17380 "Choosing the Local Position Estimator (LPE) causes PX4 not to boot properly on hardware with v1.12.0-beta2"
**Describe the bug**
The flight controller will not allow mavlink connections on hardware after setting the parameter SYS_MC_EST_GROUP to LPE and rebooting the flight controller.

**To Reproduce**
Steps to reproduce the behavior:
1. Flash pixracer with v1.12.0-beta2 with default params
2. Set the airframe to Generic Quadrotor X
3. Set the SYS_MC_EST_GROUP parameter to LPE
4. Reboot flight controll

[2021-04-12 17:27] taileron commented on #17259
It is identical on the PixRacer and affects all common Spektrum receivers (SPM 9645,4648,49) that worked without problems until 11.2 and in the master from the beginning of January.
(its o.k. that 4651 and 4650 cannot work because the SRXL 2 protocol was never supported before.)
On the Omnibus F4, some DSMX satellites are only recognised (with reduced channel count) after all sticks have been move

[2021-04-12 18:12] jlecoeur commented on #17220
The relevant PR is here https://github.com/PX4/PX4-Autopilot/pull/16444

Alternatively, you can have a quick solution/hack by modifying a bit the control allocation code. Actuator outputs are now scaled and sent on topics actuator_controls_4 and actuator_controls_5. Rename actuator_controls_5 to actuator_controls_0 and you can access outputs 8 to 15 in PX4IO.

[2021-04-12 20:01] benjinne opened #17381 "Dshot on rover not working"
**Describe the bug**
On 1.11.3 with my modalai/fc-v1, When I select Dshot for my rover, my blheli ESCs refuse to initialize, however quad x works and gives the final beeps on power up. It appears the dshot zero command isn't being sent correctly or at all.

**Expected behavior**
Rover airframes should be able to run Dshot

**Additional context**
I suspected the rc.rover_defaults lowering the PWM_R

[2021-04-12 20:53] akarshgopal commented on #17220
Awesome, thanks!

Great to hear there might be a workaround for the time being, will try it out!

Should we close this issue btw?

[2021-04-12 22:46] AM-SC72 commented on #17360
Merging the px4_io_mixer module with the dev(master) branch fixed it and manually setting the PWM_AUX_FAIL parameters to 900 us fixed it. I only had to re-calibrate the ESCs and it worked. However, there is no MAV type for the dodecarotor.

[2021-04-12 22:46] #17360 closed

[2021-04-13 02:08] dagar commented on #17380
I'll see if this can be resolved in time for v1.12, however I'd still strongly recommend switching to EKF2 as LPE isn't really supported anymore.

[2021-04-13 05:55] sfuhrer commented on #17365
@ThomasRigi thanks for the detailed report. I'm off this week, but will gladly have in in-depth look when I'm back. Let's go for the lowest hanging fruits together.

[2021-04-13 06:09] tylervandenberg opened #17384 "Unexpected switching from Position to Altitude with strong GPS"
**Describe the bug**
Using a MRO Dual N8N GPS,
(https://store.mrobotics.io/mRo-GPS-u-Blox-Neo-M8N-Dual-Compass-LIS3MDL-IST831-p/m10034-li8303.htm)
we have had vehicles on multiple occasions switch to altitude mode mid-flight unexpectedly. The latest event resulted in a vehicle tipping over upon landing. In hindsight we believe it may have been possible to manually switch back to position mode befo

[2021-04-13 06:47] LorenzMeier commented on #17384
You have excessive vibration on the airframe that would need to be addressed.

[2021-04-13 06:47] #17384 closed

[2021-04-13 09:46] taileron commented on #17259
In the previous version (up to 11.2/master 12.2021), channel 11 was also transmitted on 13 and channel 12 on 14, but this was never a reason for me to open an issue because I always need exactly 12 channels. Now the receiver is not recognised at all, which I unfortunately only noticed very late, as most of my test controller setups are without receivers.

[2021-04-13 14:53] tylervandenberg commented on #17384
@LorenzMeier I should point out that the vehicle tipped over around 3 minutes and 6 seconds, and that is when the excessive vibration starts. There was very high wind and the ground was sloped, making it difficult to land in altitude mode. Please reopen this issue and only consider the start of the flight through 3 minutes.

[2021-04-13 15:57] evigdorchik commented on #17384
@tylervandenberg I have seen this issue as well and don't have a solution either. Here are several issues that seem related:

https://discuss.px4.io/t/no-local-position/10604 (unsolved)
https://discuss.px4.io/t/failsafe-enabled-no-local-position/11210 (unsolved)

The status flag changed unexpectedly in state_machine_helper.cpp but I can't trace why.

This seems to be an issue in various other syst

[2021-04-13 20:39] berndpfrommer commented on #11992
Having a way to give negative throttle under RC control is definitely desirable, not least because it is needed to decelerate. On hobby RC cars this is usually done by having some part of the throttle travel reserved for backwards, the rest is for forwards. That's the most intuitive from a user control.

[2021-04-13 20:59] Jaeyoung-Lim commented on #11992
@berndpfrommer Fully agreed :)

[2021-04-13 21:21] LorenzMeier commented on #11992
We actually solved this months ago. If you keep your throttle center during calibration in QGC in the step where it asks you to go all the way to the bottom, you have manual reverse support.

[2021-04-13 21:21] #11992 closed

[2021-04-14 04:08] rajeshroy402 opened #17396 "Unable to build and run jMAVsim"
Hello,
I followed the command which was mentioned [here](https://docs.px4.io/master/en/dev_setup/dev_env_linux_ubuntu.html) for Ubuntu 20.04 build but when I run `make px4_sitl jmavsim` or `make px4_sitl_defautl jmavsim`I get error.

Kindly check the last few lines of my terminal print with the error:
[code]

[2021-04-14 04:16] rajeshroy402 commented on #17396
I want to highlight that when I try to execute 'bash ./PX4-Autopilot/Tools/setup/ubuntu.sh' , it is unable to install Python3 dependencies.

[code]

[2021-04-14 12:20] taileron commented on #17259
I have now found a small clue. When I connected a 4648 receiver (has only Autobind) to the Pixfalcon, after pressing all the switches once, the RC function suddenly appeared. I noticed that channel 8 is completely ignored.
(It is also still receiving parallel ch 11 on 13 and 12 on 14)
However, as soon as the value 150% was sent on channel 8, no more RC appears after the boot process.

Very high or

[2021-04-14 17:57] benjinne opened #17398 "SER_TEL1_BAUD parameter disappears when RTPS_CONFIG is selected"
**Describe the bug**
When RTPS_CONFIG is selected to TELEM 1 instead of MAV_0_CONFIG, the parameter SER_TEL1_BAUD disappears.

**To Reproduce**
Tested from latest master branch on modalai_fc-v1
Set MAV_0_CONFIG to disabled, and RTPS_CONFIG to TELEM 1, then SER_TEL1_BAUD disappears.

**Expected behavior**
Documentation states setting RTPS_CONFIG is a condition that enables the SER_TELX_BAUD paramet

[2021-04-14 18:00] benjinne commented on #17364
I would start working on this, but my use case is for a rover, and I don't have Dshot working at all on a Rover. See #17381

[2021-04-14 19:03] benjinne commented on #17398
I found a solution! Using px4_get_parameter_value instead of stroul for the baudrate parameter in microRTPS_client_main.cpp activates the SER_TEL1_BAUD rate parameter somehow. I'm not sure how this works, but the reason I tried this was because it's how mavlink_main.cpp parses the parameters.

[2021-04-14 19:17] TSC21 commented on #17398
`RTPS_CONFIG` or `RTPS_MAV_CONFIG` is supposed to setup the module serial configuration that you find in https://github.com/PX4/PX4-Autopilot/blob/master/src/modules/micrortps_bridge/micrortps_client/module.yaml.

[2021-04-14 19:30] benjinne commented on #17398
Those parameters work as far as I know, however the baud rate isn't being set on startup since the SER_TEL1_BAUD parameter is getting marked as unused and set to 0. On startup, the debug console confirms this.

I think I've found a solution. Using px4_get_parameter_value() instead of stroul() for the baudrate parameter in microRTPS_client_main.cpp [here](https://github.com/PX4/PX4-Autopilot/blob/b

[2021-04-14 19:32] TSC21 commented on #17398
Makes sense. But then that should be applied to the device as well. Can you issue a PR?

[2021-04-14 19:38] benjinne commented on #17398
By default the device is set to Disabled but it shows up in QGC and I can select it no problem

[2021-04-14 19:40] TSC21 commented on #17398
Yeah can you try to set it as well and maybe even add the `p:` prefix in the yaml file. Just wanted to understand what exactly it happens. (It's not supposed to be set to disabled in my view)

[2021-04-14 20:12] taileron commented on #17259
@LorenzMeier it really seems to be a hard coded limit at 126% as soon as one or more of the TX channels value is above 126%, the whole receiver is no longer detected. If the receiver was detected by chance despite this, the change of the channel that exceeds 126% is ignored separately.
Where is this parameter hidden to allow channel values up to 150% again which most Spektrum TX offer as highest v

[2021-04-14 20:18] dagar commented on #17259
It's a protection in the DSM decoder we can lift if you think it's valid. Why do you need to send 150% rather than updating the output side?

[2021-04-15 00:29] ghost opened #17400 "Hardware Security of PX4: ARM TrustZone"
Hi 😀

I am working on my project of ensuring the hardware security of the Flight Controller.
I am planning to use **TPM** & **ARM TrustZone** to ensure security of PX4 System at hardware level.

I would like to contribute to **[PX4 Security SIG Project](https://github.com/orgs/PX4/projects/26)** by using **ARM TrustZone**.
**Arm TrustZone** is hardware security architecture creating two environmen

[2021-04-15 01:13] dagar commented on #17259
@taileron can you try https://github.com/PX4/PX4-Autopilot/pull/17401?

[2021-04-15 02:20] Kim-zhi-jiang commented on #17365
@ThomasRigi
More than 10 minutes then stopped today v-master, not logs, only this
![2021-04-15 09-51-56 的屏幕截图](https://user-images.githubusercontent.com/80669694/114804660-3c95a600-9dd4-11eb-9a3c-ee9144169cfd.png)

[2021-04-15 06:20] bkueng commented on #17381
What is the output of `dshot status`? And `uorb top actuator`?
Maybe the update rate is too low.

[2021-04-15 07:19] MKexplorer commented on #17396
I also got some errors when tried jmavsim for 1st time.

I just used `sudo make..`

[2021-04-15 07:24] julianoes commented on #17396
Don't! That's the wrong approach.

Do what the error message tells you to do:

[code]

I just ran the ubuntu.sh script without error on Ubuntu 20.04.

@rajeshroy402 your issue looks like either pypi.org was down (or certificate expired), or something else in your networking not working correctly.

[2021-04-15 08:23] ThomasRigi commented on #17365
@Kim-zhi-jiang Not sure I follow what's happening in your case and how it's linked to the airspeed validator module.

From what I see you had a loss of global position out of nowhere, which is a severe issue, as well as a baro failure. It's certainly worth investigating. Can you open a different issue for it please? Also, we need more info to be able to reproduce it and your log would help a great

[2021-04-15 08:52] rajeshroy402 commented on #17396
Hi, thank you for reaching out. May you explain what does (certificate expired) means?
[code]

Shouldn't be a problem with the network I guess...

Still, @julianoes , what do you suggest? How should I move forward now?

[2021-04-15 09:48] rajeshroy402 commented on #17396
Hi, I was able to launch the jMAVsim

Here's the summary before I close this issue.
After everything which didn't work from the above listed thread, I decided to remove the PX4-Autopilot local repository and clone it back again.
I started getting error related to server certificates and then I followed my [this comment](https://github.com/ropensci/weathercan/issues/86#issuecomment-820267495) and r

[2021-04-15 09:48] #17396 closed

[2021-04-15 11:05] marcinolokk commented on #17268
This particular issue I solved by enlarging the buffer size using the mentioned trick #9182. Further Improved tracking by setting EKF2_NOISE_MD param. However, I am still confused about dropping the incoming visual position messages.

[2021-04-15 13:19] taileron commented on #17259
Now in all situations on all fc Spektrum rc is detected immediately.
I think it makes no sense to limit an existing degree of freedom and thus cause an error that is difficult to find. If suddenly no RC receiver is detected at all.
In my planes I usually use several FC connected to a single Spek Diversity Sat, mostly the second one is Betaflight and all flight modes have to switch at exactly the s

[2021-04-15 13:31] dagar commented on #17259
It was an attempt to prevent other RC traffic from being incorrect decoded as DSM, even if only for a few samples. The way RC was implemented is it attempts to decode different protocols until it succeeds, then locks on. In retrospect I think I'd prefer it to be more explicitly configured.

[2021-04-15 14:03] benjinne commented on #17398
I think I understand how these parameters work now. The `p:` prefix isn't used for the `serial_device` argument since it's the same as the `port_config_param` in the `serial_config` section in the module.yaml. Mavlink sets `MAV_0_CONFIG` to `Telem1` [here](https://github.com/PX4/PX4-Autopilot/blob/2219e096d7bb8891976a421015dec4114317fa17/src/modules/mavlink/module.yaml#L35) and since there's no de

[2021-04-15 14:21] dagar commented on #17259
@taileron could you give #17401 one final test so we can merge it?

@LukasHostettler does #17401 change anything for you?

[2021-04-15 14:32] michael-p commented on #11970
@james-modalai Did you get to any conclusions regarding this issues and possible implementation? I just bumped into this issue in a different project again... :)

[2021-04-15 14:42] taileron commented on #17259
There are also nice small diversity china style receivers e.g. Speki +, which provide RSSI values at channel outputs and voltage telemetry to the TX and since they also output outside this limit, these receivers are not detected at all or with strange channel number limits.
Spektrum has unfortunately discontinued my favourite receiver with RSSI and telemetry SPM4649 and I am still looking for alte

[2021-04-15 14:45] dagar commented on #16894
It's not intended as a fix for this, but https://github.com/PX4/PX4-Autopilot/pull/17401 might improve the situation without reintroducing dependence on the problematic DSM system byte.

[2021-04-15 15:10] dagar commented on #17259
Thanks for the info @taileron. There are other members of the community looking into SRXL2 support, but I don't know the current status. FYI @teyrana

I don't currently have any SRXL2 equipment, but the next time I need new equipment I'll likely consider it.

If someone could capture raw serial data for SRXL2 it would probably help getting a working parser together relatively quickly. https://gith

[2021-04-15 15:47] james-modalai commented on #11970
We've just been giving px4 continuous inputs and keeping track of offsets
offboard. This will be a problem when swapping back and forth from GPS to
VIO though.

On Thu, Apr 15, 2021, 07:32 Michael Partheil ***@***.***>
wrote:

[2021-04-15 16:01] benjinne commented on #17398
I tried a quick easy fix by setting the parameters in the airframe:
[code]

However, SER_TEL1_BAUD is still marked as unused. The only fix now is to `px4_get_parameter_value` like mavlink does [here](https://github.com/PX4/PX4-Autopilot/blob/b99e597a739054f3814a4d8d26107b277ee8ac58/src/modules/mavlink/mavlink_main.cpp#L1869) in micrortps_client_main.cpp. I'm working on a PR now

[2021-04-15 16:27] #17259 closed

[2021-04-15 17:18] dagar commented on #11970
If you can start populating the `VISION_POSITION_ESTIMATE` reset_counter we can look at an initial implementation PX4 side. We've already done the work in the controllers to handle the delta in different estimates (position, velocity, attitude), it would be great to handle this cleanly across the entire system.

[2021-04-15 19:31] benjinne commented on #17231
This doesn't appear to be a problem anymore on current master

[2021-04-15 19:39] #17231 closed

[2021-04-15 20:47] LukasHostettler commented on #17259
@dagar Is there a way to get at the firmware binaries as artifacts? I'll try on the weekend otherwise.

[2021-04-15 20:52] dagar commented on #17259
It's in master now, but you can always get artifacts for any PR, branch, etc from Github actions.
https://github.com/PX4/PX4-Autopilot/runs/2354802026
Find the NuttX builds, then click on artifacts in the top right.

![Screenshot from 2021-04-15 16-51-25](https://user-images.githubusercontent.com/84712/114936761-dbd59000-9e0a-11eb-8010-260880035daa.png)

[2021-04-15 20:58] LukasHostettler commented on #17259
Amazing, thanks. Yes, it did fix my problem.

[2021-04-16 01:04] Kim-zhi-jiang commented on #17365
@ThomasRigi
Very concerned your case.
This case has always occurred in v-master and logs not saved successfully. will test again  next week. if also then write new issue.

[2021-04-16 01:44] teyrana commented on #17259
@taileron
"Planned" is a strong word, but I suppose I'm working on it.
(Currently, I'm in the middle of the px4 learning curve.)

[2021-04-16 03:04] james-modalai commented on #11970
Thank's Daniel! we've been populating the reset counter since we first got
VIO going with PX4, I've just avoided doing any resets or relocalization
jumps mid-flight. I'll give it a go with px4 master branch soon.

On Thu, Apr 15, 2021 at 10:18 AM Daniel Agar ***@***.***>
wrote:

[2021-04-16 10:05] LorenzMeier opened #17410 "HIL Support with fixed wing"
We should investigate what the current status is. There are user questions wether or not certain models work: https://docs.px4.io/master/en/simulation/hitl.html

[2021-04-16 10:15] vineethtom commented on #17410
Thank you for your patience. I shall elaborate my problem.

I am trying to use firmware v1.9.0 on a Cuav V5+. I can see acuator controls in the Mavlink console in QGroundcontrol changing, but no servo movement. I am using a hitec d89mw servo in the m1 pin.

[2021-04-16 10:16] vineethtom commented on #17410
The airframe i have been using is bormatec maja.

[2021-04-16 10:21] LorenzMeier commented on #17410
Could you please follow the instructions and let me know where they fail?

https://docs.px4.io/master/en/simulation/hitl.html

Use the SITL Quad plane (config 1002) - to test the setup.

[2021-04-16 10:28] vineethtom commented on #17410
Sorry i misguided you. This has nothing to do with HITL simulations. I
mentioned that just to give a heads up on why i have to stick to 1.9.0.

The problem statement is only about the servos not moving.

On Fri, 16 Apr 2021, 15:51 Lorenz Meier, ***@***.***> wrote:

[2021-04-16 10:31] LorenzMeier commented on #17410
1.9 is by now a very outdated release that we are not offering any support for. I shared the link to various HITL setups what are working with 1.11 and 1.12, please use those. I'm closing this issue in the meantime.

[2021-04-16 10:31] #17410 closed

[2021-04-16 11:14] Michal-Kochman opened #17411 "Camera connection"
Using PX4 board + PX4 FW i can not get a MAVLink connection to my camera. I can not find out why.

I am using QGroundControl (QGC), PX4 FMU V5.

When using Ardupilot FW on the same board I can see the camera heartbeat in MAVLink inspector of QGC. The initial camera identification runs as described in https://mavlink.io/en/services/camera.html. However when I load the PX4 PRO stable release v1.11 I

[2021-04-16 11:34] shupx opened #17412 "About the setpoints in offboard mode"
https://github.com/PX4/PX4-Autopilot/pull/16739#issue-566432599
In this PR, the FlightTaskOffboard.cpp was deleted. I don't understand why. How does PX4 process the setpoints in offboard mode as this mode was deleted?

Thanks!

[2021-04-16 12:06] shupx commented on #17412
Oh! I have figured out why. The setpoints are published by mavlink_receiver.cpp directly rather than by FlightTaskOffboard.cpp as it used to be.

[2021-04-16 12:06] #17412 closed

[2021-04-16 12:17] taileron commented on #16334
flow is only monitored by USB not by wifi telemetry If that were not the case, USB would not be necessary at all.
Is it intentional that optical flow via telemetry is not monitored?
UAVCAN_ENABLE = Sensors Autom Conf still blocks further functions like logging or pwm output so does´t left enough resources for the rest.

Would it help to start individual sensors manually e.g. for testing in the mvl

[2021-04-16 12:20] #17398 closed

[2021-04-17 15:29] taileron opened #17417 "FMU outputs 8 times too high pulse rates (current master and beta)"
**Describe the bug**
Pulse rate 400Hz and 50Hz are present at 8 times the rate at all outputs.
Main rate is measured with osci 3.2KHz
default rate 400 Hz (instead of 50)
(cause Omnibus F4 and X2.1-777 behaves the same, probably fmu outs of all boards)
Attention, servos connected to FMU can be fried !!!
**To Reproduce**
Steps to reproduce the behavior:
as soon as any of my Fcs are flashed
default r

[2021-04-17 15:39] taileron commented on #14105
There are always the correct default limits in the corresponding settings.
Then a default limit is also entered in the driver.
Why is highest max limited in the driver at all?
That is the main reason that I cannot use pre-compiled binaries even for testing.

In the PWM output driver, the highest degree of freedom should be set to highest max = 2500uS.
Then it will be reduced later by the default o

[2021-04-17 16:37] dagar commented on #17417
- which airframe did you select (SYS_AUTOSTART)?
 - `param show PWM*`
 - `pwm_out status`

[2021-04-17 16:43] taileron commented on #17417
doesn´t matter it´s on all Fcs and Airframes there ist something with frequencies in the FMU.
I tried vtols like Convergence on Pixracer or X21-777  or Tailsitters
 on Omnibus.
If the IO is switched of, the FMU on X2.1-777 gives the same.

[2021-04-17 16:50] dagar commented on #17417
Thanks for the detail, fixing this is my top priority.

[2021-04-17 21:46] lovettchris commented on #16252
Fix is in master, closing the issue.

[2021-04-17 21:46] #16252 closed

[2021-04-17 23:54] taileron commented on #17417
@dagar The same pulse pattern also occurs when the master of 31 March is switched from 400Hz to Oneshot for a short time and then back to 400Hz again.
pwm rate -g 1 -r 400
pwm rate -g 1 -r 0
pwm rate -g 1 -r 400
corresponds to the OneShot timer but with 400Hz PWM setting results in 3.2 - 3.35 Khz

[2021-04-18 11:03] taileron commented on #17417
To eliminate such errors completely, one could throw FMU OneShot overboard, as FMU dshot works extremely well. (At the IO it still makes sense, since dshot is not there) OneShot should output a constant frequency up to approx. 4 KHz. With all previous implementations, the output at the FMU tries to orientate itself to imu_gyro_rm, but does not never succeed and outputs a very unstable frequency si

[2021-04-18 16:29] LorenzMeier commented on #17417
Thanks for reporting and the instructions to reproduce!

[2021-04-19 01:48] dagar commented on #17417
I'm not sure about the OneShot issues, but I think I understand what's happening with the secondary PWM rate configuration. Let me see about a short term fix.

We're working towards being able to explicitly configure all outputs directly (including conveying rate groups constraints).

[2021-04-19 02:20] teyrana commented on #16620
## Update:

I have a development branch .... building.   The debug port connects, and I can run 'rc_input', but the Spektrum receiver doesn't seem to be powered (I'm pretty sure it is from 'master').

I think the SPEKTRUM_POWER defines aren't being defined or set, properly.

[2021-04-19 02:59] yinjiajie opened #17419 "RC calibrated : Detected 0 radio channels. To operate PX4, you need at least 5 channels."
I use PX4 DurandalV1, version is PX4 Pro Stable Release v1.11.3. the RC can be calibrated if selecting Generic Quadcopter airframe, but RC can not be calibrated if selecting Blade 130X airframe, display "Detected 0 radio channels. To operate PX4, you need at least 5 channels".

[2021-04-19 07:38] bresch commented on #17419
Do you have a RC receiver connected? To SBUS? Spektrum? How did connect it?

[2021-04-19 08:32] 473867143 opened #17420 "Gumstix FMUv6U battery status not recognized in QGC"
I'm from the AMOVlab (a Dronecode member) R&D team, and we are testing the Gumstix FMUv6U board. We have put the board on our P230 frame, but QGC cannot recognize battery status. To take-off, we have to manually turn-off the CBRK_SUPPLY_CHK power supply circuit breaker to unlock/arm the vehicle.

![855556A1-49F2-4CFF-8C46-3272B155D29A](https://user-images.githubusercontent.com/26379380/115205061-b

[2021-04-19 08:33] 473867143 commented on #17420
@smithandrewc  do you have the same issue?

[2021-04-19 08:55] MaEtUgR commented on #17412
I was late https://github.com/PX4/PX4-Autopilot/pull/16739#issuecomment-822297169 😃

[2021-04-19 08:57] 473867143 commented on #17420
In the hardware schematic on [Gumstix's doc Page 24](https://github.com/gumstix/PKG900000001531/blob/master/hardware/PKG900000001531.pdf), it shows the JST 6 pin;s pin3 is 6V. Is that correct by design?
![j13](https://user-images.githubusercontent.com/26379380/115209159-ec01ae00-a12f-11eb-8ed1-fea2798211f3.png)

[2021-04-19 09:36] yinjiajie commented on #17419
yes, i have a RC receiver connected to SBUS. If selecting Generic Quadcopter airframe, it is OK. Then, i just modify airframe to Blade 130X, it is not OK.

[2021-04-19 09:37] yinjiajie commented on #17419
![IMG_1388 HEIC JPG](https://user-images.githubusercontent.com/23112159/115215201-da230980-a135-11eb-9984-d7029699c8e7.JPG)

[2021-04-19 09:58] sfuhrer commented on #17365
@ThomasRigi I now had a closer look:
Concerning your point 1) (failure false-positive when transitioning with tailwind)
That indeed is a valid concern, and I don't see a straight forward solution right away beside making the checks less sensitive over all. The issue is that the wind estimator used for the estimate of ground-windspeed is rather slow to converge, much slower than if also airspeed se

[2021-04-19 12:14] taileron commented on #17417
The problem with OneShot then and now is mainly when servos with 50Hz are needed on another output group at the same time.
With Airframe Generic Quad only ESC Out, DSHOT and OneShot with 1KHz works with the current error without any problems including successful flight tests. Only standard PWM e.g. 400Hz gives OneShot with 3.2KHz clock frequency which only controls the clockwise rotating motors su

[2021-04-19 13:35] smithandrewc commented on #17420
Hi,

Sorry you're having issues.  That schematic is correct.  Pin 3 isn't 6V, that's just the pin name given in the pin-out specification.  We elected not to setup a voltage divider to enable max 6.6V input since we're using it for current sensing.  What power module are you using?

[2021-04-19 14:37] VTOLDavid opened #17422 "Tailistter transitions in manual mode bug"
There is a problem with the FW mode after a transition from MC in manual mode.
Motor outputs do not match each other (they should in FW) elevons also do not behave properly, they have an offset. If the transition to FW  is done in any other mode (stabiliize included) and then switching to manual everithing is ok.

**To Reproduce**
-Arm MC in manual
-Switch to FW fligth

**Expected behavior**
Motor

[2021-04-19 15:40] VTOLDavid opened #17423 "MC idle PWM automatically changes to 1000ms"
It normally arms in MC mode properly and sets pwm to 1100 while idle. (Where is the parameter to adjust this?) But sometimes arms and pwm motor signals stay at 1000ms, thus motors remain stopped. If throttle is increased It responds but ESCs turn off if the signal returns to 1000ms and you get erratic behaviour from motors.

To Reproduce, not easily reproducible...
-Arm MC everithing OK
-Disarm
-L

[2021-04-19 15:59] ThomasRigi commented on #17365
@sfuhrer thanks for looking into it.

On 1) it sounds like a good idea to factor in the variance of the estimate. If what you use to trigger a failure detection has a larger uncertainty that the quantity you measure it doesn't make too much sense. Also, as I seem to understand from your plots (I'm not really much of an estimation expert), it can currently take close to 200s for the beta fusion onl

[2021-04-19 17:17] benjinne opened #17425 "Airframe default battery non-deprecated parameters don't get set properly"
**Describe the bug**
Setting any non-deprecated battery parameter in an airframe will not set correctly.
Deprecated battery parameters override new battery parameters

**To Reproduce**
Steps to reproduce the behavior:
1. In an airframe add `param set-default BAT1_N_CELLS 6`
2. Flash firmware
3. Set params to firmware default
4. Reboot
5. Select custom airframe
6. Reboot
7. Observe BAT1_N_CELLS is

[2021-04-19 17:56] jinger26 commented on #17420
@smithandrewc  is your battery status functional in QGC?

[2021-04-19 17:57] jinger26 commented on #17420
@473867143  is using a power module that typically runs v5 (pixhawk 4/4mini)

[2021-04-19 18:12] benjinne commented on #17381
[code]
and
[code]

[2021-04-19 18:15] smithandrewc commented on #17420
I did test it initially but I need to reconfirm.  @473867143, did you reflash your FMUv6U after receiving it or is it still running the image it was shipped with?

[2021-04-19 18:22] benjinne commented on #17381
Dshot on quad x airframe

[code]

[2021-04-19 20:04] benjinne commented on #17381
Just tested with a custom rover mixer that outputs dshot 0 packets instead of middle value and I have the same issue with esc's not initializing. Hooking up my oscilloscope shows both quad and rover have a packet length of around 100us for dshot150 which is expected, however the length between packets varies greatly. The quad has around a 1ms delay between packets, but the rover has about 4.5ms de

[2021-04-20 04:34] shupx commented on #17412
@MaEtUgR Thank you though

[2021-04-20 07:37] bkueng commented on #17381
The outputs are only updated with 200Hz for rover, and I've seen some ESC's refusing to initialize with a too low update rate.
The rate comes from the local postion update in https://github.com/PX4/PX4-Autopilot/blob/master/src/modules/rover_pos_control/RoverPositionControl.cpp#L401, and you could test with publishing `actuator_controls_0` with the rate of the gyro.

[2021-04-20 08:06] jmurraylouw commented on #14984
This is still a problem. I just ran `bash ubuntu_sim_ros_melodic.sh` on a clean install on Ubuntu 18 and it gives the same error.

Running:
[code]
also solved the problem.

Maybe the updated script wasn't uploaded to where it is download from? (`wget https://raw.githubusercontent.com/PX4/Devguide/master/build_scripts/ubuntu_sim_ros_melodic.sh`)

[2021-04-20 08:48] 473867143 commented on #17420
@smithandrewc  I didn‘t flash any firmware

[2021-04-20 12:52] smithandrewc commented on #17420
Ok thanks, I'll confirm functionality as soon as possible.

[2021-04-20 14:02] taileron opened #17428 "Weathervane doesn´t work anymore and SD logging stops abruptly during the flight"
**Describe the bug**
(last 1.12 master before the PWM bug) Convergence Vtol MC Pos Mode 4 and 3 WV does nothing at all anymore
The V1.12 Pos Mode 4 otherwise flies absolutely excellently except for the missing WV.
in previous versions, when only up to Pos Mode 3 was available, WV was perfectly effective
**To Reproduce**
Steps to reproduce the behavior:
activate WV in parameters
have lots of wind .

[2021-04-20 16:59] benjinne commented on #17381
After I switched the RoverPositionControl to update on vehicle_angular_velocity as the MCRateControl does, I still get an update rate of around 200hz. I then increased `IMU_GYRO_RATEMAX` to 800 as it's the default for multicopters, however that still did not increase the actuator frequency.

[2021-04-21 02:56] bigbellmercy commented on #12251
Yes, the problem realy happened in PX4 v1.10.2. As told, after rebooting it disappeared. Thank you for the workaround.

[2021-04-21 11:54] julianoes commented on #14943
I only see this now. @shu-bamma you're right. It does not actually work for the Gazebo case.

[2021-04-21 12:12] berndpfrommer commented on #11992
Tried this procedure today:
1) When prompted to take the throttle stick all the way down, leaving it at center stalled the calibration procedure, I *had* to move it down. Fine, so I only moved the throttle to about 1/4 way, leaving some travel left for reverse. That way I could continue with the rest of the calibration.
2) When testing, now indeed the ESC already goes to zero when the throttle is

[2021-04-21 12:33] julianoes commented on #14943
It is now using the number of cores on your system, see: https://github.com/PX4/PX4-Autopilot/commit/52bb99688f4c828aa95e5e337269880cfca94f50

[2021-04-21 15:20] MaEtUgR commented on #16813
From dev call: Could you please run the calibration with full-rate logging running at the same time and share the log.

[2021-04-22 03:39] amehr90 opened #17441 "leader follower swarm in pixhawk"
wanted support for coding the pixhawk for swarm flight

[2021-04-22 06:14] Jaeyoung-Lim commented on #17345
@cserko If this is of concern of gazebo in SITL, lets move the discussion to https://github.com/PX4/PX4-SITL_gazebo, since it is not related to this repository.

[2021-04-22 06:19] #17345 closed

[2021-04-22 06:20] #17114 closed

[2021-04-22 10:47] taileron opened #17442 "SD Logging aborts on all boards shortly after start-up ERROR [logger] write failed (116)"
**Describe the bug**
After arming the SD logging stops after a short period of time

**To Reproduce**
Steps to reproduce the behavior:
happens on all tested Fc

**Expected behavior**
A clear and concise description of what you expected to happen.
A proper logfile gets created according to the sd log settings
**Log Files and Screenshots**
*Always* provide a link to the flight log file:
HW arch: PX4

[2021-04-22 13:06] taileron commented on #17442
I found a small hint, all my projects on various flight controllers always need an extended PWM limit upwards, PWM Max 2350uS or 2450uS.
In order to use the firmware at all, I have to change PWM_HIGHEST_MAX in drv_pwm_output.h from 2150 to 2500 first. However, the 1.12 logger no longer seems to be able to process this, especially if the corresponding values also took place.

[2021-04-22 13:25] smithandrewc commented on #17420
Small update.  I confirmed the tests I did when we released the board.

https://github.com/PX4/PX4-Autopilot/blob/master/boards/px4/fmu-v6u/src/board_config.h#L152

ADC3_3V3 (ADC 18) is setup to measure the battery voltage and ADC3_6V6 (ADC 12) is setup to measure the current.  If you log into the mavlink console (plug in a USB-C and open a terminal @ 57600 to the first new serial device) you can

[2021-04-22 14:34] smithandrewc commented on #17420
I have another quick update.  You need to update a couple of parameters.  I will make the change in the firmware so in future releases these are automatic but for now you can do it manually.  Change the following:

- BAT1_I_CHANNEL = 12
- BAT1_V_CHANNEL = 18

See below on how you'd do it in QGroundControl

![image](https://user-images.githubusercontent.com/4838082/115731594-429c0180-a355-11eb-93ee

[2021-04-22 18:09] JacobCrabill commented on #16948
Adding a link to @PetervdPerk-NXP 's latest PR (already merged) for reference here: https://github.com/PX4/PX4-Autopilot/pull/17376

[2021-04-22 18:10] JacobCrabill commented on #16948
A still-open issue we need to address in the future is type-casting within the UAVCAN parameter system: https://github.com/PX4/PX4-Autopilot/pull/16889#discussion_r582032230

[2021-04-22 19:35] benjinne commented on #17381
@bkueng I found a solution! My problem was I needed to change the callback function to use the `_vehicle_angular_velocity_sub` instead as the MCRateControl does.

I just tested on a blheli_s esc and found it stopped initializing at around 10Hz which would have no problem with the current code, however the ESC on my rover doesn't seem to initialize with the current 200Hz actuator output for some re

[2021-04-23 06:15] 473867143 commented on #17420
@smithandrewc  THs for your reply!

I will reproduce it as soon as possible.

@jinger26  hello, Shall we test it again next week?

[2021-04-23 07:03] julianoes commented on #17411
Could you paste the output of `mavlink status`?

And could you check other parameters. Is there any chance you also have `MAV_1_...` or `MAV_2_...` params? If so, the ones you use there also require forwarding on.

[2021-04-23 07:31] taileron commented on #17417
#17427 solves the PWM issue for me, any combination of default and alternative rates now offer the right output pulses.
The incorrect 3.2Khz behaviour is only still present if you briefly switch to OneShot and then back to alternative rate.
pwm rate -g 1 -r 400
pwm rate -g 1 -r 0
pwm rate -g 1 -r 400

[2021-04-23 08:40] bkueng commented on #16894
#17401 didn't improve it.

[2021-04-23 09:01] taileron commented on #17419
Some mixers that use a little more memory, especially when PWM output limits have been extended above 2000uS, have sometimes blocked RC detection.
At the moment, I only have this under control by loading the mixer later in extras.txt.

[2021-04-23 11:52] ThomasRigi commented on #17365
On 2), I SITL tested by manually changing ASPD_PRIMARY (no effect) and FW_ARSP_MODE (effect on v1.11, fixed on v1.12).

v1.11.3: https://logs.px4.io/plot_app?log=be0c07e0-b3a0-406e-a5ed-f2e92ce53322
Towards the end of the log, when I set FW_ARSP_MODE from 1 back to 0 (from fixed thrust to normal airspeed-based mode), the throttle cuts the same as it did in our flight where the switch was induced b

[2021-04-23 12:56] bkueng commented on #17442
[code]
@davids5 I'm seeing this timeout as well on a Pixracer with cheap SD, randomly after logging starts. In one case the SD got completely inaccessible afterwards:
[code]

Reverting #17350 does not help.

[2021-04-23 14:25] bresch commented on #17423
Are you aware of this @sfuhrer ?

[2021-04-23 15:34] taileron commented on #17442
This problem was there before #17350, it has existed since mid-January but I thought it was a Ram overflow due to UAVCAN tests until I noticed it appears identically on all FCs I have even without UAVCAN and not all of them have inferior SD cards. Omnibus F4 (F404), Pixracer/Pixfalcon (F427), X2.1-777 (F777). If corrupt data was written to it making it inaccessible, after a reboot of the controlle

[2021-04-23 17:41] jxiao25 opened #17451 "Drone crashed due to corruption in RC signal"
I am using pixracer r15 as the flight controller, spektrum DSMX receiver and transmitter. I recently had a drone crash due to kill switch signal toggling randomly even though I did not touch the kill switch. The signal toggled at such a high rate that it's not physically possible for a human to do it. Here is a screenshot of the log:

![image](https://user-images.githubusercontent.com/83086772/115

[2021-04-23 20:14] dagar commented on #17451
Which version of PX4 exactly? Can you share the full log? https://logs.px4.io

[2021-04-24 13:09] Wadym opened #17454 "useless check of variable's value"
Looks like it does not make any sense of checking bus_num against 10 as it is always one digit number. See previous statement:
	uint8_t bus_num = atoi(&_port[strlen(_port) - 1]); // Assuming '/dev/ttySx'
&_port[strlen(_port) - 1] points to the last character in the string.

https://github.com/PX4/PX4-Autopilot/blob/59b70a881d5d5eed93ebe97889a1ae7886a9520a/src/drivers/distance_sensor/pga460/pga460.

[2021-04-24 21:21] teyrana commented on #16620
@srodgers070
Hi, thanks for the offer!

The things that would be helpful are (1) understanding of the development board hardware at a detailed level , (2) willingness to code, and (3) flight testing ...

Unfortunately, I have not been able to reproduce either the telemetry or the control functionality, even on the bench, but when it's ready for testing, I will definitely post here.

[2021-04-24 22:12] AlexKlimaj commented on #17417
I can confirm this bug on 1.12 beta 3. Set to 100Hz and measures 800Hz on the scope.

[2021-04-25 08:49] Kim-zhi-jiang opened #17455 "Unable to flying more than 20 minutes"
Hello everybody

Unable to flying more than 20 minutes at v-master version in simulation environment.

1 MC iris
![mc](https://user-images.githubusercontent.com/80669694/115987078-24006980-a5e6-11eb-8e48-db804342aa34.png)

2 standard vtol
![vtol](https://user-images.githubusercontent.com/80669694/115987094-32e71c00-a5e6-11eb-9107-1864b254af3b.png)

[2021-04-25 18:36] teyrana commented on #16620
Update: First bytes:

I've gotten the fmu to read traffic from the receiver:
[code]
If you're curious, the above is a handshake request frame from the receiver.

Unfortunately, the receiver won't do anything interesting until it receives a handshake reply... so I'll have to work on that before we see anything interesting.

[2021-04-26 00:44] lejan commented on #16386
This worked for me:
sudo sh -c 'echo "deb http://packages.osrfoundation.org/gazebo/ubuntu-stable `lsb_release -cs` main" > /etc/apt/sources.list.d/gazebo-stable.list'
wget http://packages.osrfoundation.org/gazebo.key -O - | sudo apt-key add -
sudo apt update
sudo apt-get install libignition-common3-graphics

[2021-04-26 06:53] #17381 closed

[2021-04-26 06:59] taileron commented on #17442
After I removed all the lines for "prevent Mac and Ubuntu from creating un .... index files" in rcS and reformatted the SD to Fat32 on the PC (not Mac !!!!), logging is possible again in all my FCs if it is a current 8...16Gb SD. PWM limits etc. do not play a major role.
Unfortunately, with the current master, all the 1 Gb SDs that came with the PixRacer R12, R14 and PixFalcon can no longer be use

[2021-04-26 07:11] Michal-Kochman commented on #17411
Output of mavlink status:
[code]

![Snímek z 2021-04-26 08-51-54](https://user-images.githubusercontent.com/59864343/116042965-5ace9200-a66f-11eb-875b-2528a01afafb.png)
I have tried to remap to different serial port with no succes.

[2021-04-26 07:12] sfuhrer commented on #17423
No, it's been years since I last flew a tailsitter.

[2021-04-26 07:13] sfuhrer commented on #17423
@VTOLDavid did you per chance also try to reproduce it in SITL?

[2021-04-26 13:22] Lin-110 opened #17460 "Hereflow module"
I'm tring to start the hereflow module to locate the drone when I start it. How do I use px4 to start the hereflow module?

[2021-04-26 13:41] BazookaJoe1900 commented on #16114
@dagar @eli-IF @priseborough
The problem might be more common than you think (I got similar issue on the past).
on my case the Lidar (same Lidar lite v3) sent what seems as valid readings of close range though the drone was on air.

Is it possible to add mechanism that disable the use of the Lidar if it been rejected by the EKF?
At least for the rest of the current flight.
That might should be ena

[2021-04-27 09:17] larshooi1 opened #17464 "Pixhawk firmware 1.9 for the intel aero"
hello,

I am currently working on the intel aero rtf and i want to install obstacle avoidance with the new 1.9 firmware from pixhawk. When installing intel_aerofc-v1_default.px4 it says 'firmware uknown'.  Does intel aero still supports this 'newer' firmware? and is there any easier way to get obstacle avoidance working in 'auto' mode on the intel aero rtf?

Hope someone can help me!

Regards,
Lar

[2021-04-27 09:32] TheRealKaufmann opened #17465 "Exreme rise in height after yawing the drone"
Hi there!

I was flying a quadcopter in a relitively large indoor environment with the Holybro Pixhawk 4 Module on PX4 Firmware 1.11.3.
For visual positioning in the x and y axis, a 360 degree LIDAR with an onboard computer (running mavros) was used. It does not send z height information. For height, the barometer on the pixhawk was used.

Upon taking off, the drone flew perfectly stable. Also whe

[2021-04-27 09:38] VTOLDavid commented on #17423
I tried but is not easy to reproduce.

[2021-04-27 11:40] ArkadiuszNiemiec opened #17466 "Wrong velocity estimation in z axis druing the flight"
**Describe the bug**
I have a PX4 MC flying indoors with external vision position (position only) system and offbord control using velocity setpoints. It was working correctly for a long time, but a few days ago we have tried a longer mission. In the middle of flight PX4 couldn't reach the desired position, it was too low. After forcing my algorithm to pass the waypoint we finished a mission and s

[2021-04-27 11:41] ArkadiuszNiemiec commented on #17466
@mhkabir I know that you are experimenting with similar setups. I have also found your issue #14735. Do you know what's wrong here?

[2021-04-27 13:21] marcinolokk commented on #17268
Finally, the problem was resolved after updating PX4 Firmware to 1.12 beta3.
I am not sure how much of the improvement is thanks to the buffer and how much to the hover estimator implemented in the latest release (this certainly improved stability). However, I got a similar tracking performance to @ecmnet.
Thanks!