[2016-10-11 11:03] AndreasAntener commented on #5631
Yes, the default should be removed (and yes that wasn't you ;)), but your change missed to update all preflightCheck calls which are now wrong because of the new argument and the fact that the last argument has a default value masks that problem.

[2016-10-11 11:37] julianoes commented on #5524
I would suggest to compare the versions of all the tools which are needed to build the firmware. However, since you were able to workaround the issue using the Ubuntu VM, I'll close this issue.

[2016-10-11 11:37] #5524 closed

[2016-10-11 12:12] tubeme commented on #5637
Thanks for the Video. There I see a circular mission without sharp turns which diminishes the effects I'm talking about.

Here is the example.

![roll](https://cloud.githubusercontent.com/assets/12617619/19269746/efdafb8e-8fc4-11e6-966c-1a42728fdc00.png)

![roll banging](https://cloud.githubusercontent.com/assets/12617619/19269752/f4f08cd8-8fc4-11e6-9139-82ad735f43f9.png)

And the Log:
http://logs

[2016-10-11 12:13] #5638 closed

[2016-10-11 12:15] tubeme commented on #5637
We don't want to lower the P gain as the plane starts to be slow responding to strong wind.

[2016-10-11 12:22] gregd72002 commented on #5632
I gave it a try and the only change needed would be to modify sensors.cpp::rc_poll()
- introduced timeout for rc_updated after which signal_lost is set
- common code within the `if (rc_updated) {` has been moved after the condition.

https://github.com/gregd72002/Firmware/commit/2dca552113c7ab8f49357d0aa5ef5b7926c49a66

Any comments?

[2016-10-11 12:27] kd0aij commented on #5624
As the title of the issue suggests: "No response to aileron RC input in ALTCTL mode" by which I mean you can't turn. I don't think I tried rudder, but that wouldn't be very useful on flying wings.

The log shows that STAB and POSCTL are OK, though I can't find any documentation on the functions of throttle and elevator in POSCTL. I assume that AUTO modes are supposed to ignore RC controls.

[2016-10-11 12:30] sanderux commented on #5637
Your FW_RR_I is much to heigh, try 0.01 first and move up from there

[2016-10-11 12:32] kd0aij commented on #5624
@dagar A grep for "flag_control_climb_rate_enabled" didn't get any hits in fw_pos_ctrl_l1.
As far as I can tell, climb rate control isn't implemented anywhere.

[2016-10-11 12:42] kd0aij commented on #5624
@dagar Do you use Eclipse? For some reason, the C++ index seems to be screwed up with this release, because e.g. when I search for "flag_control_climb_rate_enabled" I get bogus matches in mc_pos_control_main.cpp (the line numbers are all wrong, off by as much as 10 lines)
I've tried a complete out-of-tree rebuild, configure, generate, run indexer, but that didn't help.

[2016-10-11 13:18] sanderux commented on #5637
Here's a comparison between our parameters:
http://params.droneslab.com/?name%5B%5D=vasil&log%5B%5D=http%3A%2F%2Flogs.uaventure.com%2Fview%2FszHmDnbEvtBKnGB8bfx4Dj&name%5B%5D=deltaquad&log%5B%5D=http%3A%2F%2Flogs.uaventure.com%2Fview%2FQEvHjGSwGTVceBTzk4uD47&defaultBase=master&compare=compare

[2016-10-11 13:27] dagar commented on #5625
So px4fmu-v4 was definitely wrong because it wasn't uploading. Let me see if there's yet another issue with the versioning itself.

[2016-10-11 13:33] mohit004 commented on #5581
Dear @julianoes,

Thankyou for your reply. I have been looking at the codes and right now, trying to create the plugin for servo motor. I have some specific but quick doubts. So, if you could direct me to the concerned person, I would really appreciate it.

Thanks again for your help.

Kind Regards
Mohit

[2016-10-11 13:34] davids5 commented on #5625
@dagar What is the root cause or commit that fixed this?

[2016-10-11 14:14] tubeme commented on #5637
I will try this and see. But I'm pretty sure it will degrade the performance in strong wind.

[2016-10-11 14:20] kd0aij commented on #5637
Seems like there should be parameters for max roll and pitch rates in FW mode

[2016-10-11 14:33] tubeme commented on #5637
There are parameters for max roll and pitch like FW_R_RMAX.

There should be parameters for max roll, pitch and yaw rate for Auto FW mode this includes the FW VTOL mode.

[2016-10-11 16:23] julianoes commented on #5638
@haigithub Oh great, that was easy then. Thanks for sharing.

[2016-10-11 18:47] gregd72002 commented on #5632
I've bench tested it. Pull request created: https://github.com/PX4/Firmware/pull/5641

[2016-10-11 21:23] AndreasAntener commented on #5637
What is actually needed is input shaping in the FW position controller.

[2016-10-11 23:41] kd0aij commented on #5637
@tubeme PR https://github.com/PX4/Firmware/pull/5642 is a very simple change which constrains FW RPY rates to about 90 deg/sec, if you'd like to see whether that solves your issues.

Off topic: Looking at that code, I see that the "trim" values for roll pitch and yaw appear to be in "actuator" space, since they are added to _actuators.control[i] as the last step. I guess this means that, for FW, w

[2016-10-12 00:05] chungkim opened #5643 "Stack overflow possible in mixer_multirotor.cpp"
At line 128 in src/modules/systemlib/mixer/mixer_multirotor.cpp (master branch), sscanf can overflow the 8-byte local buffer geomname when the part of its first argument (buf) that matches "%s" is longer than 7 characters.  The if statement at line 133 checks the overflow, but it does not prevent some code from modifying the return address in the stack by overflowing buf. In such a case, function

[2016-10-12 00:41] chungkim opened #5644 "NULL pointer dereference in sched_note_stop"
At line 125 of src/modules/systemlib/cpuload.c (master branch), there are times when "system_load.tasks[i].tcb" is NULL but it is dereferenced by "system_load.tasks[i].tcb->pid".  This results in reading an arbitrary value from a low address (that is, the offset of pid).  This happens because sched_note_stop can be called by NuttX before cpuload_initialize_once is called to initialize system_load.

[2016-10-12 00:44] chungkim opened #5645 "NULL pointer dereference in sched_note_switch"
At line 146 of src/modules/systemlib/cpuload.c (master branch), there are times when "system_load.tasks[i].tcb" is NULL but it is dereferenced by "system_load.tasks[i].tcb->pid".  This results in reading an arbitrary value from a low address (that is, the offset of pid).  This happens because sched_note_switch can be called by NuttX before cpuload_initialize_once is called to initialize system_loa

[2016-10-12 01:00] davids5 commented on #5645
@chungkim - Thank you for point this out!

I do not see Nuttx @ 7c5ef883fc3307b44bef9d5f7b51cb144cdf400a  on PX4/Firmware @ master branch.

The best thing to do is a PR against master so it is all tied in.

FYI: I believe this is fixed in the nutt_v3 branch already.

[2016-10-12 01:28] dagar commented on #5624
I committed my eclipse changes here - https://github.com/PX4/Firmware/pull/5646
Still far from perfect, but it properly finds everything for the main pieces (commander, controllers, etc).

[2016-10-12 02:04] chungkim commented on #5645
Oops, it's my mistake.  Updated in the post.

[2016-10-12 02:55] kd0aij commented on #5637
@tubeme Forget that PR. Instead, look at parameter FW_R_RMAX, which is 70 deg/sec in your log. That's not very fast, in my opinion, so I don't see why it would be a problem, but you could try reducing it.

[2016-10-12 03:12] chungkim commented on #5645
Mode detailed information:

In my setup with PX4/NuttX @ 154289bbf80738c97e5c062729b6904e858c3cef, sched_note_switch is called by sched_addreadytorun (PX4NuttX/nuttx/sched/sched_addreadytorun.c:128) in the context of "hpwork" kernel thread (thread start function: work_hpthread) **before** cpuload_initialize_once is called by the "init" task (call path: nsh_main -> nsh_initialize -> nsh_archinitial

[2016-10-12 06:44] #5645 closed

[2016-10-12 06:47] LorenzMeier commented on #5643
@davids5 Can you have look?

[2016-10-12 07:27] julianoes commented on #5527
https://github.com/PX4/sitl_gazebo/pull/53 has gone in, this should be fixed now.

[2016-10-12 07:27] #5527 closed

[2016-10-12 08:39] bkueng commented on #5632
I think this needs further investigations. From what I see `rc_channels` is just an output topic, and the `signal_lost` flag in sensors is not really relevant. sensors.cpp publishes `manual_control_setpoint`, which is handled in commander. And then commander checks for a timeout at https://github.com/PX4/Firmware/blob/master/src/modules/commander/commander.cpp#L2450 and handles failsafe (you shoul

[2016-10-12 10:41] gregd72002 commented on #5632
@bkueng in this scenario `manual_control_setpoint` is never published as such `sp_man` get zero'ed and the commander does not have a valid `sp_man.timestamp`.
The check you are referring to (the else condition) should fire which would be ok. However, there is another check on `status.rc_signal_lost` which will be set to true as per default (L:1323), hence MANUAL CONTROL LOSS will not happen.

Coul

[2016-10-12 11:31] bkueng commented on #5632
Yes that all makes sense if `manual_control_setpoint` is never published at all.
As you wrote:

Which would mean that at some point (in the begining) there should be a valid `manual_control_setpoint` published. Is that not the case in your scenario? Am I missing something?

[2016-10-12 11:39] gregd72002 commented on #5632
you are right on it. I meant exactly this - `manual_control_setpoint` stops to be published.
I.e. the copter is armed (`manual_control_setpoint` is published), then consecutively `manual_control_setpoint` stops.

[2016-10-12 11:54] bkueng commented on #5632
Ok, but then the MANUAL CONTROL LOST should be triggered in commander, and `status.rc_signal_lost = false;` must be executed before. Did you change the `COM_RC_LOSS_T` parameter?

[2016-10-12 12:14] gregd72002 commented on #5632
Right, I'm with you. Strange... I will need to do some more testing around it.

I did change `COM_RC_LOSS_T` to something like 3s. Does this matter?

[2016-10-12 12:21] bkueng commented on #5632
No that's ok, but if you had it set to something large, like 100, it would explain things.

[2016-10-12 12:37] davids5 commented on #5645
Just an fyi
Upsteam NuttX change the interface to sched_note. While the operation is differnent the same start up issue existed and was ficed here:
https://github.com/PX4/Firmware/commit/dae49ec69abc33268dc618927cbf995f08503594#diff-42ffbc0836b61b18a8d60a17849db9ae

[2016-10-12 13:08] meteor0530 opened #5649 "Problem Using D-GPS"
Hi

I updated the PX4 firmware through QGC 3.0.1. I used INAV and D-GPS for position estimate, and used a external compass. when I switch to POSCTRL using RC, the multirotor started to rotate around a point and the radius increased slowly. However, when I used the same compass with a GPS, everything went well. Does it mean D-GPS cant be used in px4?

Any help is appreciated.

[2016-10-12 13:08] julianoes opened #5650 "Move CI to arm-none-eabi-gcc to 5.4.1"
I think we should move the arm-none-eabi toolchain to the same version as used with the Ubuntu 16.04 installation which is 5.4.1. Currently, it's still on 4.8.4, see https://travis-ci.org/PX4/Firmware/jobs/166972099#L449, and https://semaphoreci.com/px4/firmware/branches/master/builds/512.

The installation [recommendation in the Devguide](https://github.com/PX4/Devguide/blob/master/starting-insta

[2016-10-12 13:12] julianoes commented on #5649
Hi, can you please elaborate what kind of D-GPS you're using?
@bkueng can probably help better.

[2016-10-12 13:30] ruyi7952 opened #5651 "X Plane HIL unable to work"
HW: PixHawk 2.4.7  CUAV Clone
FW: Standard
X-Plane 9.70 / 10.51r1

I have read http://www.pixhawk.com/users/hil to do this one.

BTW,No Throttle No Ailerion No Elevator No Rudder in X-Plane， I can ben sure my RC  on air ,The ground station is correct 。

why?

[2016-10-12 13:50] meteor0530 commented on #5649
@julianoes
OEM615 using GPS-RTK

[2016-10-12 14:01] pietrop88 opened #5652 "Starting additional applications"
Hi,

I added the [`px4_mavling_debug`](http://dev.px4.io/advanced-debug-values.html) application to the [`nuttx_px4fmu-v2_default.cmake`](https://github.com/PX4/Firmware/blob/master/cmake/configs/nuttx_px4fmu-v2_default.cmake) file and I am able to run it if I connect to the pixhawk console.
Now I want to start `px4_mavlink_debug` automatically after the main system boot.
Following the [guide](htt

[2016-10-12 14:27] jgoppert opened #5654 "Px4fmu-v1/2 out of flash space on master"

[2016-10-12 14:27] davids5 commented on #5643
@chungkim - Thank you! Keep up the good work!

@LorenzMeier - The solution makes sense to avoid a overwrite if a mixer file is not to spec.

Should we go to a field width of 8 with 9 byte buffer?

[2016-10-12 14:27] #5643 closed

[2016-10-12 14:29] jgoppert commented on #5654
Are there any apps we can drop, seems to be 160 bytes over the limit after the latest ecl update.

[2016-10-12 14:46] davids5 commented on #5654
FYI px4fmu-v2 also

[2016-10-12 15:36] bkueng commented on #5649
@meteor0530 does it provide the same output format in RTK mode? If not, it is currently not compatible.
Can you share a log?

[2016-10-12 16:01] dagar commented on #5654
GCC 4.9 buys us a small amount. Bottle drop and rover_steering_control can go on px4fmu-v1.

[2016-10-12 16:39] julianoes commented on #5654
@dagar: I think we should go to GCC 5.4.1 because the gdb of 4.9 segfaults trying to read the elf files.
See #5650.

[2016-10-12 16:43] davids5 commented on #5654
Just some added data point:

I have not vetted GCC 5.4.1 on all SoC.

If you use gdb from 4.8.4 with 4.9.3 it works.

[2016-10-12 16:45] davids5 commented on #5654
@julianoes

Have you ever found the root cause of the 4.9.3 gdb seg fault? I wonder if we have an invalid debug config flag set?

[2016-10-12 18:57] kd0aij commented on #5624
@dagar I've been using the cmake project generator for a long time, but recently it only works for posix builds:
[code]

[2016-10-12 19:11] gregd72002 commented on #5632
I run some additional test around different versions and I cannot reproduce this on the recent development version. Though it is a case on stable release. Hence, not applicable anymore.

[2016-10-12 19:11] #5632 closed

[2016-10-12 21:03] LorenzMeier commented on #5644
Fixed in https://github.com/PX4/Firmware/commit/569cceb059a70bbb6aabe4809f4c1d77509eb923.

[2016-10-12 21:03] #5644 closed

[2016-10-12 21:09] lvale opened #5657 "PX4 1.5RC1 and master - no RTK possible"
Hi. We were following the wiki page for the M8P RTK’s http://px4.io/docs/rtk-gps/ and we don’t even get a simple GPS signal (no sats). We’re using the Drotek Tiny RTK kit https://drotek.com/en/tiny-rtk-documentation/ which works perfectly with ArduPilot on the same conditions (location). We’ve tested PX4 master and PX4 1.5RC1 but the results are the same. QGC can see the USB connected (Base) and w

[2016-10-12 21:11] LorenzMeier commented on #5657
@lvale Are you using Wifi? We are not trying to support 900 MHz modems with RTK at this point. @bkueng Can you comment on that?

[2016-10-12 21:14] lvale commented on #5657
@LorenzMeier Not using WiFi, because we already have other radio links going and WiFi is being used for ROS. Even getting another specific link to RTK is unfeasible.
But the problem is that the Rover unit doesn't even get a normal lock (either 2D or 3D) that's why I'm asking for a config file.

[2016-10-12 21:33] kd0aij commented on #5624
@LorenzMeier @dagar This seems to be badly broken: https://github.com/PX4/Firmware/blob/master/src/modules/fw_att_control/fw_att_control_main.cpp#L959

In STABILIZE mode, this module publishes roll/pitch/yaw/thrust setpoints because flag_control_attitude_enabled == true and flag_control_climb_rate_enabled == false. That's good.

But in ALTCTL mode, flag_control_climb_rate_enabled is true, and no a

[2016-10-12 23:23] dagar commented on #5624
In ALTCTL the attitude setpoint is published here - https://github.com/PX4/Firmware/blob/master/src/modules/fw_pos_control_l1/fw_pos_control_l1_main.cpp#L2013

flag_control_climb_rate_enabled is on with flag_control_altitude_enabled.

I'll take a look at your log.

[2016-10-12 23:31] kd0aij commented on #5624
@dagar Thanks, don't know why my code searches didn't find that, but I was probably looking for control_climb_rate_enabled, since that is the test in att_control. Hard to explain why my log shows no response to the RC roll channel in ALTCTL too.

[2016-10-12 23:47] dagar commented on #5624
Okay, so the problem is lack of GPS. The fixedwing position controller only runs with an updated global position. https://github.com/PX4/Firmware/blob/master/src/modules/fw_pos_control_l1/fw_pos_control_l1_main.cpp#L2280

Modifying ALTCTL to work without GPS would be nice.

[2016-10-12 23:55] kd0aij commented on #5624
That must have been the flight with the GPS plugged into the wrong port :)
One might expect the autopilot to update RC commanded setpoints at 50Hz, regardless.

[2016-10-13 00:00] dagar commented on #5650
That seems like quite a jump, but we might as well go for it. @LorenzMeier talked about 1.5 being a stable release before updating nuttx, etc. Should we play it safe for 1.5 and keep 4.8.4 for one last release?

[2016-10-13 00:03] dagar commented on #5651
Has this ever worked for you? Did you select the HIL plane airframe? When you press connect in QGC does the map location match xplane? Are you able to arm from RC?

[2016-10-13 00:06] dagar commented on #5624
This is actually pretty terrible. We either need to look at fixing fw_pos_ctrl_l1 or the state machine.

[2016-10-13 00:09] davids5 commented on #5650
How does this sound.

Note - I have not vetted gcc 5.4.1 on all SoC (M7 etal)

For the update of nuttx we will have to move to gcc 4.9.3.

So if the code is stable at 1.5 an and then the only change to gcc 4.9.3 and do a 1.5.1 release - that will reaffirm @dagar usage of 4.9.3 in flight.

Then 1.5.1 -> nuttx_v3 is just a OS and code change not a tool change.

[2016-10-13 00:16] kd0aij commented on #5624
How about running the main loop at 50Hz and checking for changes in either position or RC inputs?

[2016-10-13 00:18] dagar commented on #5650
That sounds good to me, I just think we need a working gdb.

[2016-10-13 00:21] davids5 commented on #5650
Yep -I Use 4.8.4 gdb with 4.9.3. But it would be sweet to get to the bottom of the seg fault.

[2016-10-13 00:31] dagar commented on #5624
Altitude control mode is currently using _global_pos.alt, so we'd have to fallback to something else. The do_takeoff_help() is also a problem without GPS.

https://github.com/PX4/Firmware/blob/master/src/modules/fw_pos_control_l1/fw_pos_control_l1_main.cpp#L2058

[2016-10-13 00:35] dagar commented on #5650
Is there another incremental 4.9 release we can try (with good packages)? It would be ideal to have gcc and gdb together given the manual install instructions.

[2016-10-13 00:55] meteor0530 commented on #5649
Both GPS and D-GPS provide GPGGA format
when I used D-GPS, I monitored the position in mavlink inspector and it was nice

[2016-10-13 01:01] davids5 commented on #5650
@dagar if we have to vet something new with all the SoCs we could try the version that @julianoes is suggesting. But we would have to build all the targets in nuttx_v3 and test it on all the SoCs. That is a lot of regression testing and at the moment I am not able to do that.

[2016-10-13 01:07] meteor0530 commented on #5649
@julianoes @bkueng
Can PX4 use double GPS for localization?

[2016-10-13 05:00] ruyi7952 commented on #5651
Airframe: SIM-XPlane ,
QGC location ok, with xplane 10.51r1 , XPlane 10.45/10.50 map error,
Yes arm 。

[2016-10-13 05:09] tumbili commented on #5624
@dagar I believe I opened an issue for this not too long ago, will check.

[2016-10-13 05:11] tumbili commented on #5123
@dagar Ping :) you probably rememer this.

[2016-10-13 07:11] kiti1013 commented on #5621
i can  use gazebo simlation normalily without ros

[2016-10-13 07:55] mhkabir commented on #5453
@ecmnet Yes, sure. I can try to show it with pictures once I'm back home.

I'm just switching to one of our other copters for the VIO testing - basically, the entire top plate is isolated from the motor plates using rubber dampers, and the top plate carries the battery mass, a Pixhawk 2 and the cameras. The dampers are tuned to suit the mass and dynamic response of the top plate.

[2016-10-13 07:56] mhkabir commented on #5453
@LorenzMeier Any pointers for prefiltering the data?

[2016-10-13 08:41] julianoes commented on #5650
So @bkueng and I both have used versions > 5.x.x for a while now (several months if I'm not mistaken) without issues. We have not flown it extensively but done all the bench testing with it.

[2016-10-13 08:44] julianoes commented on #5621
@kiti1013: try running one of the commands that fail on it's own, presumably do:
[code]

and then
[code]

or check the launch file for what it starts. This should give you more output on what's happening.

[2016-10-13 08:45] julianoes commented on #5123
This is logic that the commander should do and not a controller.

@tumbili what exactly are you suggesting? You can't control position without knowing position, right?

[2016-10-13 08:51] julianoes commented on #5654
I have no idea, sorry.

[2016-10-13 12:07] davids5 commented on #5650
@julianoes - that is good to know. Have either you or @bkueng built and tested all the target on nuttv_v3? Including the F7?

Would you please do a build and run 'make sizes;

[2016-10-13 13:20] ecmnet opened #5658 "LPE (AGL as Z): Massive althold 'jump'."
@jgoppert Using LPE_PUB_AGL_Z enabled, I had a serious altitude jump indoors:

![local_z](https://cloud.githubusercontent.com/assets/7580193/19350019/5d79ef32-9156-11e6-9ba5-ac224fd9d2ab.png)

In this case LPOS.Z had been about 3.5m at arming - I assume, this came from baro. In some cases LPOS.Z with LPE_PUB_AGL_Z is set to ground distance when LIDAR initializes soon after takeoff. Here, this was

[2016-10-13 13:31] bkueng commented on #5650
I use gcc 5.2.0 for ARM and px4fmu-v4 and gcc 6.2.1 on the host, and havn't run into any problems so far. But I agree with @davids5 that we should be careful and switch only one at a time, not both compiler and OS version.

nuttx_v3 currently fails for me with:
[code]

[2016-10-13 13:43] bkueng commented on #5657
@lvale there's no additional config necessary. I don't have the Tiny RTK, so I'm sorry I can't help you with that. But drotek might be able to help. @jperin, any hints?

[2016-10-13 13:51] julianoes commented on #5650
For me that point is that we should match the Devguide to what we build and ship with CI. If the consensus is to use 4.8, 4.9, or any particular version, we should also reflect that in the Devguide.

I don't have a strong opinion or any knowledge of the difference, I just used it because it was in that repo and convenient.

[2016-10-13 13:55] julianoes commented on #5649
What do you mean with "double GPS". PX4 supports interfacing to two GPS modules. However, I don't think that has much to do with D-GPS or RTK.

[2016-10-13 13:58] bkueng commented on #5649
So the GPS driver and communication seems to work then. It seems your problem lies elsewhere and you need to share a flight log for us be able to help you.

[2016-10-13 14:06] TobiMiller opened #5659 "SITL/ROS - No position lock."
Hey guys,

i want to use the firmware as SITL with ROS. Gazebo is running, the Quad is spawning. But i cannot takeoff. arming is working and rotors are spinning.
`WARN  [commander] rejecting takeoff, no position lock yet. Please retry..`

This is happening with:
`make posix gazebo_iris_opt_flow`
`roslaunch px4 mavros_posix_sitl.launch` -> vehicle: "iris" and "iris_opt_flow"

hope anybody can expla

[2016-10-13 14:15] jgoppert commented on #5658
When it is 3.5 m at arming that is a problem. We should add back the altitude reset at arming based on a param. What happened is that initially lidar was faulted and ignored,  but eventually the covariance grew enough to treat the lidar agl as true.

[2016-10-13 14:27] davids5 commented on #5650
@julianoes - got it!
@bkueng - hmm - is that a fresh pull and current Nuttx? There is a patch should be applied on older version that fixed that and on the latest it was fixed in upstream.

My "goto" script when switching from master to nuttx_v3 is

```git submodule sync --recursive && git submodule update --init --recursive```

from nuttx_v3 to master

```rm -fr NuttX && git submodule sync --recu

[2016-10-13 14:48] klopezal commented on #5657
@lvale do you have the soldering bridge activated on rover side? If not, there is no connection between autopilot's TX and GPS RX, so it cannot be properly configured at start-up.

Note : even if M8P is properly configured to output NAV-PVT and other messages at 5 Hz it will not work because the driver waits for an acknowledge message from the GPS.

[2016-10-13 14:58] vvranjek opened #5660 "Hard fault during flight"
Hi,

So I had the second crash now because of a hard fault. I am running a modified version of v1.5.0 so this error might be my mess or not, but since I am unable to fully debug the issue and it is serious I am filing a report.  This time I captured the hard fault dump but I am still unable to pinpoint the error. I followed the instructions on gdb debugging and it points me to 2 lines.

`Assertion

[2016-10-13 15:01] kd0aij commented on #5660
can you share a flight log?
Is this a fixed wing or multirotor?

[2016-10-13 15:32] vvranjek commented on #5660
Sure. It's a FW.

[2016-10-13.tar.gz](https://github.com/PX4/Firmware/files/527535/2016-10-13.tar.gz)

[2016-10-13 15:44] bkueng commented on #5650
@davids5 Thanks, that helped. Compiles fine now. `make sizes`:
[code]

` make px4nucleoF767ZI-v1_default` fails however:
[code]

[2016-10-13 15:46] kd0aij commented on #5660
A fixed wing plane should still be flyable in manual mode even after the FMU hardfaults.

[2016-10-13 16:05] vvranjek commented on #5660
Really? I didn't know that. But I did switch to manual I switched to manual with the remote as the plane was already heading to the ground but I didn't notice any change. Do you know of any tricks to to trigger hard fault manually, so I can test this?

Also, why doesn't FMU reboot after hard fault?

[2016-10-13 16:12] kd0aij commented on #5660
QGC should show that you're in MANUAL mode (not STABILIZED).  The first minute of your log is in stabilized mode with zero thrust, then you switch to mission mode. In stabilized mode, you won't have control if the FMU is hung.

I don't know whether reboot is possible after a hard fault.

Your preflight messages show:
[code]
That's a lot of stack space and a lot of cpu; how much free RAM do you hav

[2016-10-13 16:21] vvranjek commented on #5660
Ahh, so manual, not stabilized.. check! I know and don't mind the parachute module, it's in development. Other then stack and cpu usage it shouldn't be causing any damage.

[2016-10-13 16:21] julianoes commented on #5660
It is hard to dig into a source like this and would take up too much time, at least for me.
What would be more helpful is if you could push your changes to your fork on Github which allows to see the git history, so where you forked off and what you changed/added.

[2016-10-13 17:11] LorenzMeier commented on #5658
You shouldn't reset the altitude at arming, that's just wrong. The system needs to track the AGL consistently. By resetting all to zero you are fixing assumptions of values being at zero which are. It true.

For any real deployment resetting the physical position of the control system makes it absolutely impossible to do any sort of autonomous navigation. It messes with controllers, waypoint navig

[2016-10-13 17:33] jgoppert commented on #5658
Ok, then when landed we need to do a fake measurement to keep baro drift out of agl.

[2016-10-13 17:47] bkueng commented on #5650
I did some googling and the m7 error is a bug in gcc 5.2.0: https://bugs.archlinux.org/task/46951

[2016-10-13 17:52] davids5 commented on #5650
@bkueng

Thank you!

LOL so much for for using the built-in package....

What do you feel our best option is?

[2016-10-13 18:05] bkueng commented on #5650
Haha, true! Actually I'm using the built-in fedora package which also happens to be 5.2.0.

I think you can make the better call on this since you have far more experience than I have. In my opinion the risk of using a newer compiler is in that case not so high, as Julian and I have been using it (and some others as well), but we should at least do some testing for all supported platforms, so we c

[2016-10-13 18:17] jgoppert commented on #5658
While landed a fake lidar-like distance measurement of zero should do it.

[2016-10-13 18:41] ecmnet commented on #5658
@jgoppert @LorenzMeier We had that discussion several times already and basically I agree with Lorenz. Nevertheless there are corner cases like this ( e.g. baro drift during a certain time on ground) that need to be covered to avoid such effects. Baro is simply too inaccurate to rely on indoors.

[2016-10-13 18:49] vvranjek commented on #5660
Sure, this is the one: https://github.com/vvranjek/Firmware/tree/dev-masterpx4

Thanks for the effort!

[2016-10-13 20:47] lvale commented on #5657
@klopezal Thanks. I suppose the bridge activated would also be a problem with ArduPilot, but I'll recheck again.

[2016-10-13 21:28] tubeme commented on #5637
The problem reducing FW_R_RMAX is that we make the plane very sluggish.

We are aiming at operational conditions 15+ m/s In this kind of winds every rate limiting will mean inoperable plane.

To tell you the truth we love very much how the plane is flying... The only problem is it is banging on the sticks during mission turns. We'd love to have something like the FF gain but only for Autonomous mo

[2016-10-13 21:30] tubeme commented on #5637
Why there was the need for implementing MC_YAWRAUTO_MAX?? Probably the same reason as ours but for quads and back in time.

[2016-10-13 22:29] kd0aij commented on #5637
@tubeme FW_R_RMAX **does** control maximum roll rate, but it does not limit the maximum roll angle. So I don't see why it would prevent you from flying in wind or turbulence. I've never seen turbulence flip a plane, not even light foam slope soarers, they just bounce around the commanded roll angle.

Your log shows the roll rate is overshooting the setpoint of 70 deg/sec, peaking at 90 deg/sec. Th

[2016-10-13 23:27] jgoppert commented on #5659
The camera is out of focus on the ground so you can't get a position lock and takeoff. Please takeoff in manual first then switch to auto.

[2016-10-14 02:00] mayanez commented on #5462
Sorry for the late reply. If I'm not mistaken this has been resolved after Lorenz pushed a more generic fix.

[2016-10-14 03:42] meteor0530 commented on #5649
@bkueng
how to upload a .px4log file?

[2016-10-14 05:08] jgoppert commented on #5659
With iris it should be working since that uses gps and that is constantly tested in CI.

[2016-10-14 06:08] zhahaoyu opened #5663 "can't run gazebo simulation on ubuntu"
My ubuntu version is 16.04, and I have followed all the setup steps on px4.io. When I run the simulation with gazebo,  `make posix_sitl_default gazebo`, I got fatal error.

Here is an excerpt of the console message, where it starts to report erros.

`/home/haoyu/src/Firmware/Tools/sitl_gazebo/src/gazebo_gimbal_controller_plugin.cpp:198:6: error: prototype for ‘void gazebo::GimbalControllerPlugin::

[2016-10-14 06:12] julianoes commented on #5649
http://logs.uaventure.com/

[2016-10-14 06:14] julianoes commented on #5462
Ok, thanks, closing then.

[2016-10-14 06:14] #5462 closed

[2016-10-14 06:15] julianoes commented on #5663
Hi, what is the output of `gazebo --version`?

[2016-10-14 06:16] zhahaoyu commented on #5663
Thanks @julianoes for your help!

Here is the output.

`Gazebo multi-robot simulator, version 7.4.0
Copyright (C) 2012-2016 Open Source Robotics Foundation.
Released under the Apache 2 License.
http://gazebosim.org

Gazebo multi-robot simulator, version 7.4.0
Copyright (C) 2012-2016 Open Source Robotics Foundation.
Released under the Apache 2 License.
http://gazebosim.org

`

[2016-10-14 06:19] meteor0530 commented on #5649
already uploaded, waiting for reply. thanks!

[2016-10-14 08:32] tubeme commented on #5637
In strong winds, it is important that the reactions are very fast in order for the plane to follow missions etc. At 7 m/s we can kite surf. At 15 m/s only the advanced kite surfers could go in the wind. So 15 m/s wind is a pretty strong wind. If we have a sloppy plane in 15 m/s it will most likely bounce around as you put it and will not be able to follow route. Out max speed is at 20-22 m/s so in

[2016-10-14 08:41] sanderux commented on #5637
@tubeme what is the weight of your x8?

[2016-10-14 09:51] julianoes commented on #5663
@zhahaoyu ok I have the same.

I'm assuming you have tried all these:

[code]

At what commit are you at?
[code]

[2016-10-14 09:56] julianoes commented on #5663
Nevermind, I can reproduce your issue. Looking into it.

[2016-10-14 10:23] Duansir opened #5664 "v1.5.0 firmware always failed to load onboard files via qgc"
The latest firmware v1.5.0 always failed to load onboard files when i used qgroundcontrol，it maybe a bug。Hope someone to test it。

[2016-10-14 12:00] #5658 closed

[2016-10-14 13:17] anujkumargupta opened #5667 "Running the px4 app without usb"
Hi
I am working on Snapdragon
Can i run the px4 app on snapdragon board using wifi (without USB)

Actually i am running this using usb on FC ./px4 mainapp.config but as soon as i remove my usb the app stop running and communication was lost between QGC and FC.(Fc is also connected with WIFI and can able to ping the device)

Thanks

[2016-10-14 13:26] julianoes commented on #5663
This is currently broken again, working on it...

[2016-10-14 13:30] kd0aij commented on #5637
@tubeme FW_R_RMAX constrains the max rollrate setpoint, not the actual rate. The 20 deg/sec overshoot is a characteristic of the way the PID control loop is tuned. You can try to reduce the overshoot by reducing P gain or adding damping, as I said before. You can't have "fast reactions" without overshoot unless there is some damping in the system.

Are you really observing that 90 deg/sec roll rat

[2016-10-14 13:44] tubeme commented on #5637
@sanderux 2.3kg for now going down. And it is our own frame it is not x8.

@kd0aij It is stressing the frame, because there are cuts in the frame for the vtol motors and the frame becomes narrow close to the body. And this 1.5g are in just perfect sunny dead calm day. In wind condition things change drastically.

I understood now the difference so we will try dampen the system and reduce the P gai

[2016-10-14 13:48] tubeme commented on #5637
@kd0aij Sorry for the stupid question. You mean dampening in terms of FW_L1_DAMPING right? and the L1 period right?

[2016-10-14 13:51] davids5 commented on #5650
@julianoes , @bkueng

It seems we are between as rock and a hardplace. I think we should try to determine the root cause of the fault in 4.9.3 gdb with our build. If it can be eliminated easily, then  we have a vetted solution in 4.9.3.

@LorenzMeier - What would like to see done here?

[code]

[2016-10-14 14:14] kd0aij commented on #5637
No, and I just noticed that there is no damping term in the FW PID control loop. I guess the only thing you can do is reduce FW_RR_P and FW_RR_FF. Maybe try reducing the FF (feedforward) gain first.

Isn't there a PID tuning guide for FW somewhere? I've been tuning multis for so long I've lost track of the FW tuning procedures.

[2016-10-14 14:29] ndepal commented on #5667
You should be able to run it by going into the device via SSH. Have you tried that?

[2016-10-14 14:42] tubeme commented on #5637
The FF gain is OK as we like it.  The only thing we can do is reduce the P and I gain for the Roll. We will try this.

There is a Manual for FW PID tunning. http://px4.io/docs/fixedwing-pid-tuning-guide/

But I made a tuning to a lot of airplanes. And we are pretty good at tuning the planes.

We tuned our VTOL during years of work, many times. During flight tests in different conditions we make so

[2016-10-14 15:14] julianoes commented on #5667
@anujkumargupta You can either try to use the autostart as described in the Devguide. Or alternatively, just open a screen session and start it there. It should then survive when you disconnect USB and you can re-attach it later if you need to.

[2016-10-14 16:21] kd0aij commented on #5637
@tubeme Thanks for the pointer to the tuning guide. I see that there is no mention of the trim parameters (TRIM_ROLL, TRIM_PITCH, TRIM_YAW) or QGC's "copy trims" function. Do you ever do any trimming in manual mode, or do you always leave those params at zero? I assume you never fly the VTOL in manual mode, but what about your big high-wing plane?

[2016-10-14 17:21] #5663 closed

[2016-10-14 18:39] julianoes commented on #5663
@zhahaoyu please cross test, it should work again.

[2016-10-14 18:58] zhahaoyu commented on #5663
The previous error was resolved. However, as the script opens Gazebo, there is no world initialized. The error message from terminal is

[Msg] Waiting for master.
[Msg] Waiting for master.
[Msg] Connected to gazebo master @ http://127.0.0.1:11345
[Msg] Publicized address: 192.168.1.70
[Msg] Connected to gazebo master @ http://127.0.0.1:11345
[Msg] Publicized address: 192.168.1.70
[Wrn] [ModelDatab

[2016-10-14 21:32] tubeme commented on #5637
The trims are for the RC and we seldom fly manual in FW. We use manual only to check if everything is ok with the frame and the CG if we have some doubts, something like a double check. And we don't trim it during this sessions. We gradually moved from flying Stabalized mostly to Position, Altitude and Mission Flying recently.

The QGC's copy trims is recent development so no mention in the UM. I

[2016-10-14 21:46] tubeme commented on #5608
Forgot to mention important detail.

the quad is 400hz and the rest is 50hz.

config.txt

set MIXER vtol_quad_x
set PWM_OUT 12345678
set PWM_RATE 400
set PWM_DISARMED 900
set PWM_MIN 1100
set PWM_MAX 1900

extras.txt

pwm disarmed -c 56 -p 1500
pwm min -c 56 -p 1000
pwm max -c 56 -p 2000
pwm disarmed -c 78 -p 900
pwm min -c 78 -p 1000
pwm max -c 78 -p 2000
pwm failsafe -c 5 -p 1500
pwm failsafe -c

[2016-10-15 02:48] dennisss opened #5669 "Mixer not loading"
When trying to load a mixer in hardware (tested Pixracer + CF2), the file is incorrectly parsed:
[code]

This commit seems to be causing it: https://github.com/PX4/Firmware/commit/db44129ec099a05debf9187da2fd09035c9a67d7

Proposed fix: https://github.com/PX4/NuttX/pull/86

Would be nice if someone could test to validate this. Thanks!

[2016-10-15 03:24] xuqintao opened #5670 "When i compiler firmware by eclipse in the Linux ,could i set a breakpoint or compile a single file?"
If you can do this, it will be very efficient。i really need your help .

[2016-10-15 06:00] narendrakc-path commented on #5667
Thanks @julianoes and @ndepal , Your both solutions works perfectly but i tried to going into the device using ssh but for that i need the root id and password but i did not find it any where.

[2016-10-15 06:05] zhahaoyu opened #5671 "simulation - optical flow mode no position lock obtained"
system: ubutnu 16.04
gazebo: 7.04
firmware: 2d039af7a4299c6565e0d47f333adad65fd0c0a0

When I tried the gazebo simulation with optical flow, there is no` [commander] home: ....` message output. I was not able to ask the quadrotor to take off. Here is the output:

____  __   __    ___
| ___ \ \ \ / /   /   |
| |_/ /  \ V /   / /| |
|  __/   /   \  / /_| |
| |     / /^\ \ \___  |
\_|     \/   \/

[2016-10-15 06:15] mhkabir commented on #5671
You need to take off in manual and then switch to position control, because the optical flow camera cannot work and be in focus until some distance off the ground.

[2016-10-15 06:22] zhahaoyu commented on #5671
Thanks for your time @mhkabir !

I am struggling with the possible modes and its syntax. I don't know how to use manual mode, and how can I give more power on throttle? Is there any reference on possible commands?

[2016-10-15 06:30] mhkabir commented on #5667
IIRC "root" and "linaro" (password).

[2016-10-15 06:32] mhkabir commented on #5671
Use a joystick via QGC for manual control.

[2016-10-15 06:35] mhkabir commented on #5671
http://px4.io/docs/flight-mode-selection/

[2016-10-15 06:35] #5671 closed

[2016-10-15 06:36] zhahaoyu commented on #5671
Is there a way to directly control the vehicle directly through command line?

[2016-10-15 10:03] vvranjek commented on #5660
I stumbled upon this bugfix https://github.com/PX4/Firmware/commit/237bdfdb61ea335df7c2baca0588fd7fa3e26c6d and realized that I have potentially the same issue in my line of code:

`mavlink_and_console_log_critical(_navigator->get_mavlink_log_pub(),
										 "Geofence exceeded vertical by %.1f m",
									         (double)(dist_z - max_vertical_distance));
`

Could this have caused the crash?

[2016-10-15 10:18] LorenzMeier commented on #5660
I couldn't immediately find the smoking gun but its quite likely you ran out of stack space for floating point printing. That's particularly expensive and we do not allocate extra space by default for console output.

[2016-10-15 12:17] julianoes commented on #5670
@xuqintao is this for SITL or debugging on a Pixhawk?

[2016-10-15 17:05] vvranjek commented on #5660
This mast have been the issue... I certainly hope so. I'll report back if the problem persists. Thank a lot!

[2016-10-15 18:54] julianoes commented on #5660
@vvranjek I had a look through the changes but didn't find any other obvious smoking gun. Let's hope the fix above was what triggered it.

[2016-10-15 19:18] julianoes commented on #5583
The documentation is indeed outdated, let's track this issue here: https://github.com/PX4/Devguide/issues/46.

[2016-10-15 19:18] #5583 closed

[2016-10-15 22:41] sanderux opened #5673 "Safety switch circuit braker not working any more"
On current master setting the cbrk_io_safety (on vtol) stops signals going to the motor esc's

[2016-10-16 13:17] xuqintao commented on #5670
@julianoes   yes， do you konw can do this?

[2016-10-16 13:23] mhkabir commented on #5670
@xuqinato Please answer the question about what you're trying to do this for? -
i. SITL
ii. Debugging on a Pixhawk

[2016-10-16 15:46] mhkabir opened #5675 "Bebop ADB push fails with "no space left on device""
Flashing PX4 onto a brand new Bebop, and the ADB uploader fails with a "no space left on device" when copying over the PX4 executable. Also tried pushing it manually with `adb push px4 /usr/bin`, and the same problem occurs.

This issue did not happen when I manually pushed over the mixer and config files to `/home/root`.

~~I verified using `df` that there is indeed enough space (there should be,

[2016-10-16 16:21] dagar commented on #4650
@bartosz-wawrzacz implementation here - https://github.com/PX4/Firmware/issues/4650

[2016-10-16 17:30] kd0aij commented on #4614
I can't reproduce this with my flaperon setup. Using QGC to assign the aux2 and flaps channels has no effect on the aileron neutral position in manual or stabilize modes.

[2016-10-16 21:53] dagar commented on #5625
@davids5 - https://github.com/PX4/Firmware/commit/e9e15ba3d1d3ae954dc5e27e1c01b50e63f06ca8#diff-b67911656ef5d18c4ae36cb6741b7965

Before that someone hadn't broken travis-ci uploads.

[2016-10-16 22:51] nanthony21 commented on #5664
I get this with 1.4.4 on a pixracer too. "Error: Timeout waiting for ack: Command failed(0)"

[2016-10-16 22:55] nanthony21 opened #5676 "Default open loop loiter params don't seem right."
The default roll in open loop loiter following a gps failure is 15deg, shouldn't it be 0?
Also 70% thrust seems a bit high to me, depends on the vehicle though.

[2016-10-17 00:08] xuqintao commented on #5670
@mhkabir  debugging on a Pixhawk.

[2016-10-17 04:37] JakeLeaf opened #5677 "External MPU9250 Not registering"
I have an external MPU9250 on a GPS chip connected via i2c and I cant get the MPU to work (I know for awhile the driver was only SPI based but that seems to be changed). Won't register or work at all. Also has a BMP280 onboard but can only get to it via i2c so one issue at a time.
Any ideas? I have a couple of these modules so it would be great to get it all in one. This is the pinout and GPS [htt

[2016-10-17 05:29] applededipan opened #5678 "VTOL: Tailsitter auto land not always working"
VTOL: Tailsitter: I test the vtol in mission mode these days, the plane sometimes can land on the landing spot, sometimes it can not or just float away, Dose anybody know why?

[2016-10-17 06:22] tubeme commented on #5669
I dont know how the mixer looks like but it is obvious to me that the line for the quad mixer starts with letter M in the mixer so after M it could not recognize the 4x geometry. The MC mixer should look like this:

R: 4x 10000 10000 10000 0

[2016-10-17 06:59] LorenzMeier commented on #5664
I think its actually a QGC bug. It is not supported at this point. Please use the log download menu item to download logs. Reported here: https://github.com/mavlink/qgroundcontrol/issues/4143

[2016-10-17 06:59] #5664 closed

[2016-10-17 07:32] sanderux commented on #5673
@julianoes any idea?

[2016-10-17 07:33] julianoes commented on #5670
There used to be instructions to use the black magic probe for breakpoint or stepping through debugging, see:
https://pixhawk.org/dev/jtag/black_magic_probe
https://pixhawk.org/dev/jtag/start?s[]=arm&s[]=none&s[]=eabi&s[]=gdb
https://pixhawk.org/dev/gdb_cheatsheet?s[]=arm&s[]=none&s[]=eabi&s[]=gdb

[2016-10-17 08:01] sanderux commented on #5673
It does seem to work on dropix. let me do some more research, i might be dealing with a broken pixhawk

[2016-10-17 10:29] eyeam3 commented on #5675
I don't have the hardware with me right now, but it seems that the firmware-binary has increased in size recently. So far I had enough memory on the Bebop and had no issues when copying.

I will have a look at it tomorrow, but for now, you could run:
`${RPI_TOOLCHAIN_DIR}/gcc-linaro-arm-linux-gnueabihf-raspbian/bin/arm-linux-gnueabihf-strip build_posix_bebop_default/src/firmware/posix/px4`
The bin

[2016-10-17 11:19] dennisss commented on #5669
The "M" in the output is referring to the next unparsed character of the line after the "R: 4x 10000..." line failed to parse. The issue was that sscanf was not working correctly which is fixed by an open PR on this repo updating the NuttX libraries.

[2016-10-17 11:56] julianoes commented on #5612
@anujkumargupta you were right! If you do `adb pull` and `adb push` the executable bit gets lost.
Fixed with https://github.com/PX4/Devguide/pull/55.

[2016-10-17 12:13] vvranjek opened #5680 "HIL: disable lockdown not working"
When in HIL mode (SYS_AUTOSTART: 1000) I find it impossible to enable servos. I suppose that running the command `px4io lockdown disable` should do the trick but nothing happens. Also running `pwm arm` in HIL returns

[code]

Am I missing something?

Version:

[code]

[2016-10-17 12:27] vvranjek commented on #5680
And the boot log...

[code]

[2016-10-17 12:38] #5612 closed

[2016-10-17 12:50] TobiMiller commented on #5659
Ok. Thank you. i will try to start it manually with a gamecontroller and mavros_extras package.
The iris is starting without gps.
https://github.com/PX4/Firmware/blob/master/posix-configs/SITL/init/lpe/iris_opt_flow#L45

[2016-10-17 13:18] xuqintao commented on #5670
@julianoes  thanks.  Can we open and compile project files by Eclipse in Linux? i can not do that ,and i want to make sure it .

[2016-10-17 14:04] julianoes commented on #5670
Yes you can use eclipse, try:
https://github.com/PX4/Firmware/blob/master/eclipse.project
https://github.com/PX4/Firmware/blob/master/eclipse.cproject

[2016-10-17 14:10] dagar commented on #5123
We're mainly talking about FW altitude control mode.

[2016-10-17 14:16] kd0aij commented on #4614
It's not clear whether the flaperons function is implemented correctly in the FW controllers, so I mapped the FLAPS channel instead of aux2 and changed my mixer to use the FLAPS actuator channel instead of the AIRBRAKE channel.

[2016-10-17 14:24] dagar commented on #4614
@JakeLeaf can you test this again with current master?
This particular issue may have been addressed by a flap/flaperon cleanup last month.

[2016-10-17 14:43] tumbili commented on #5123
@julianoes @dagar I'll probably be looking at this in the next few days.
I'll be reporting back.

[2016-10-17 15:51] kd0aij commented on #3130
@LorenzMeier It would be nice to have a pointer to the fix for things like this.

[2016-10-17 20:26] tubeme commented on #5669
OK then it is something else. Sorry.

[2016-10-17 21:15] #5669 closed

[2016-10-17 22:28] LorenzMeier commented on #5680
Are you powering the servo rail externally? Because the autopilot is not powering it.

And you have the order wrong: Arm first, then disable the lockdown.

[2016-10-17 23:12] dagar commented on #4931
I still lose a few meters of altitude during forward transition. Part of it is the throttle jumping from transition (100%) to cruise (75%).

TECS is only enabled once transition to FW finishes. @priseborough @tumbili Do you think we could do a better job initializing TECS to eliminate the loss of altitude?

![tecs1](https://cloud.githubusercontent.com/assets/84712/19458861/d3c146ce-949c-11e6-8c52-

[2016-10-17 23:40] sanderux opened #5681 "Test worthy scenario for vtol back transition smoothening"
@AndreasAntener @dagar @tumbili

After testing some vibration dampening foam I inadvertently changed the level of the FC by a few degrees  forward. (so it considered level to be more pitch down).

The back transition was VERY smooth that way.

What happened was that the amount of braking force it could apply was much less because it reached it's maximum pitch angle, this resulted in very little al

[2016-10-18 01:24] mhkabir commented on #5675
Okay, that's fine. Strip should work. We should track down why the binary recently increased in size, however. I'm also curious as to why I the root partition has just 9% free in the first place.

@jberaud Anything I can clear out safely? There might be leftover files from the auto update it did via the FreeFlight app when I first connected (?)

@eyeam3 Can you please post the output of  `df` here

[2016-10-18 01:29] xuqintao commented on #5670
@julianoes OK，thank you very much.

[2016-10-18 03:18] priseborough commented on #4931
@dagar I would start by initialising integrators for the specific energy and specific energy balance loops so that they match the desired handover values for throttle and pitch demand.

[2016-10-18 03:25] BarzinM commented on #5471
The mocap doesn't timeout anymore but the values that I'm observing from `rostopic echo /mavros/local_position/pose` are noticeably different from the values that I'm sending to `/mavros/mocap/pose`. For example, right now the vehicle is stationary and I'm sending the following values through mocap topic:

    x: -0.16, y: 0.02, z: 0.15

Here are few consecutive values echoed from local_pose:

[2016-10-18 03:27] BarzinM commented on #5471
Maybe helps to mention that when I stop publishing to `mocap` topic, the `local_position` values diverge drastically.

[2016-10-18 06:26] tumbili commented on #4931
@dagar We can probably do a generic TECS init function which can be used for planes as well.
To my knowledge until now the integrators are zeroed.

[2016-10-18 06:50] vvranjek commented on #5680
I am definitely powering the servo rail. Arming and servos work just fine in regular mode. I've been trying to make it work for two days now and have probably tried every possible combination. Arming in QGC works fine while `px4io lockdown disable` does nothing. No matter what I do I get the errno=22 with `pwm arm` (only HIL mode). **What does error 22 mean?**

If it helps in any way, I have one p

[2016-10-18 06:55] LorenzMeier commented on #5680
Are you really powering the servo rail (with a 3-pin connector)? Pixhawk does not power the servo rail.

[2016-10-18 07:39] vvranjek commented on #5680
Yes, below is a picture of my workaround for powering servos. The servos were moving just fine with `px4io test' and `pwm test -a -p xxxx`, but in non-HIL mode only. I tried just now again and for some reason they don't move even in non-HIL (3032_skywalker_x5) but there was a lot of tinkering going on including the switch to stock v1.5.0 (to make sure it wasn't caused by my modifications). Let me

[2016-10-18 07:44] vvranjek commented on #5680
Ok, it didn't work because of IO safety. Forgot about the circuit breaker.

[2016-10-18 07:45] vvranjek commented on #5680
Also in HIL mode I get:
[code]

[2016-10-18 07:52] jberaud commented on #5675
@mhkabir you wouldn't want to do that. There is nothing leftover as the update process wipes everything except the media directory.
If you want to have more room, you can execute everything from the emmc, which is mounted in
/data/ftp/internal_000/

[2016-10-18 08:09] sanderux commented on #5681
BAD: (Without level difference) http://logs.uaventure.com/view/Wk24h4djr8EdgVdbexwrt5
GOOD: (With level difference) http://logs.uaventure.com/view/S4Ko4U6LsZkZWBe4ufYZum

[2016-10-18 09:36] vvranjek commented on #5680
I've just tried a different pixhawk, connected the power module, just in case flashed the 1.4.4 version, still the same issues... I don't get it.

[2016-10-18 09:51] mohit004 commented on #5581
Dear @julianoes,

Thanks for giving @bkueng contact.

Dear @bkueng,
I just have a quick question regarding the servo plugin that I am trying to write.
In 'gazebo_motor_model' plugin of PX4 Firmware, the developer is using a 'FirstOrderFilter' object in order to obtain the rotational velocity at next time. However, in my case of a servo motor, I actually need a second order filter to map input volt

[2016-10-18 10:44] tubeme commented on #5681
I think that the braking is very specific to every frame, either it is delta wing, regular plane, wight, wing profile, wing span etc. So making the braking only autonomous will be very hard task given the unknowns. If we have some control over the braking and release will be much simpler task. It will provide this specific setup depending on the frame performance that we can tune.

Your proposed l

[2016-10-18 12:51] kd0aij commented on #5680
How much current do you think is available from USB to drive servos?

On Tue, Oct 18, 2016 at 3:36 AM Vid Vranjek <notifications@github.com>
wrote:

[2016-10-18 13:25] julianoes commented on #5670
@xuqintao no worries.

[2016-10-18 13:25] #5670 closed

[2016-10-18 13:54] bkueng commented on #5581
Hi @mohit004
I'm sorry, I don't know much about the subject as I did not write these plugins. But the documentation about mixing might help with your second question: http://dev.px4.io/concept-mixing.html.

[2016-10-18 16:08] mswingtra opened #5691 "Mission: Immediate command triggering after un-pausing"
When flying a mission with VTOL, and current active waypoint is either VTOL Takeoff or VTOL Land, if you pause a mission and then un-pause it, aircraft will do transition immediately without regard to the acceptance radius.

I can imagine this issue will concern any waypoint that contains some command in it. Essentially, this command is triggered right after un-pausing a mission.

[2016-10-18 17:54] AndreasAntener commented on #5338
That could have been #5301

[2016-10-18 17:54] AndreasAntener commented on #5691
Should be fixed with #5614

[2016-10-18 18:52] LorenzMeier opened #5692 "Switch default to ulog"
@bkueng We need to switch to ulog and log streaming by default to avoid being spread out thin between different logging systems. Could you look into the memory needs of the new logger tomorrow and see if you can squeeze it into the resource constrained platforms?

[2016-10-18 20:09] eyeam3 commented on #5675
Okay, I looked into the issue. About three weeks ago there were two commits b1708f3 and 8ff237c which remove the size optimization from modules and add it back for the nuttx platform. These changes are the reason, why the binary is to large to fit into the system partition now. However, it was already tight-fitting and adding other modules eventually would have caused the same error.

This is the

[2016-10-18 20:26] LorenzMeier commented on #5675
@eyeam3 Can we add the strip step to the default build steps for now?

[2016-10-18 21:01] eyeam3 commented on #5675
I just added a PR #5693. In that case it would be executed when uploading the default build, but the build itself would not be changed.
Is this also okay?

[2016-10-18 22:05] LorenzMeier commented on #5675
Makes sense - I'll close this for now.

[2016-10-18 22:05] #5675 closed

[2016-10-19 02:11] mohit004 commented on #5581
Hi @bkueng,
Thankyou for your prompt reply.
Could you please give me the contact of the person who was involved in writing these plugins.
About mixing I have no problem as I was able to include my custom configurations on the Pixhawk hardware already. However, for this SITL I only saw one mixer file which to me does not explain the working of all the configurations that are available in the SITL s

[2016-10-19 03:15] mhkabir commented on #5581
Don't we already have a servo model for the fixed wing and delta quad wing actuators?

[2016-10-19 03:49] mohit004 commented on #5581
Hi @mhkabir,
No, sorry I couldnot find any plugin that includes a servo model. In the 'liftdragplugin' they are directly providing a parameter 'control_joint_rad_to_cl', which to my understanding directly maps the control surface deflection (in radians) to the change in lift force.
Thanks
Mohit

[2016-10-19 05:42] mantelt opened #5695 "RPi/Navio2: still very basic IO support"
[Release info for version 1.4.1 states:](https://github.com/PX4/Firmware/releases/tag/v1.4.1)

Full with enthusiasm, I wanted to get that combination (Navio2 bought in the beginning of the year) finally up in the air on a fixed-wing platform. The enthusiasm was gone quite fast... the input/output part needs still quite some work IMHO. (I don't blame anyone that this is not yet implemented, it's ju

[2016-10-19 06:05] bkueng commented on #5692
Will do that. But before switching, it would be nice to have a FlightPlot binary release. @LorenzMeier @AndreasAntener what's the status of https://github.com/PX4/FlightPlot/issues/1?

[2016-10-19 07:21] LorenzMeier commented on #5695
Emlid @staroselskii has not released their IO firmware to date. I think the best shot you have is to fix the hardcoding to a multi rotor mixer (its a small bug, not a big deal) and work from there.

The WIP change you had looks good. Can you extend that to include all four output groups? They can be done in parallel which avoids hardcoding the wrong thing.

[2016-10-19 08:24] sanderux commented on #4893
@tumbili do you have any suggestion on how to integrate the value so it can potentially use the full range of available pusher thrust?

[2016-10-19 09:52] sanderux commented on #4893
@tumbili @AndreasAntener
After some sitl testing it seems MC_TILTMAX_AIR (45 degree) * VT_FW_THRUST_SC approximates the maximum pusher thrust. Thus a scale of 2 generally uses full range. PID controller should take care of the rest.

To address ada's issue i propose we publish https://github.com/PX4/Firmware/blob/master/src/examples/mc_pos_control_multiplatform/mc_pos_control.cpp#L815 on the vehic

[2016-10-19 10:10] LorenzMeier commented on #2122
@AndreasAntener Starting to move there now with @julianoes

[2016-10-19 10:23] vvranjek commented on #5680
The whole system (pixhawk + 2x 9g servos) draw 270mA in idle and about 400mA when moving. Servos are always unloaded since I use this system for the simulation only. There must be at least 500mA available from the USB port.

[2016-10-19 11:12] lvale commented on #5657
Managed to sort by rechecking the closed bridge on the rover side. Going out to test fly.

[2016-10-19 11:12] #5657 closed

[2016-10-19 11:25] LorenzMeier commented on #5657
Hey Kevin - the solder bridge is horrible from an usability point of way - is there an alternate better method?

[2016-10-19 12:20] mantelt commented on #5695
Thanks @LorenzMeier for your input. As this is the first time I'm working on the IO part of PX4 code, I'm sort of learning by doing. But I also just figured out that I would need to iterate over all actuator output groups.
I will continue on my changes if you think it could be useful and make a PR as soon as it's in a decent state.

In the meantime, I got some info from EMLID, although its unfortu

[2016-10-19 12:54] kd0aij commented on #5680
Still a very bad idea to be running motors off the avionics supply

On Wed, Oct 19, 2016 at 4:23 AM Vid Vranjek <notifications@github.com>
wrote:

[2016-10-19 13:18] andrejpan commented on #5174
Is there a way that I could see how many mocap messages I receiving at Pixracer shell directly? I am using Firmware 1.4.4. Odroid on the drone through wifi receives 100Hz of `/mavros/mocap/pose` and gets around 7Hz from Pixracer (`/mavros/local_position/pose`). I am using UART protocol between Odroid and Pixracer.

[2016-10-19 13:20] LorenzMeier commented on #5174
You can use the `listener` command with any of these [messages](https://github.com/PX4/Firmware/tree/master/msg), e.g. `listener vehicle_attitude`.

[2016-10-19 13:52] vvranjek commented on #5680
I am aware of that, and it's exclusively for the simulation, so I don't need external power, it's handy.

Anyway, I managed to get the servos running in HIL by not enforcing lockdown in state_machine_helper.cpp.

This is a temp solution for me since `px4io lockdown disable` isn't doing it for me.

[2016-10-19 13:57] klopezal commented on #5657
You're right, we added it because we needed something to switch between the configuration with RTCM messages coming directly from flight controller's serial port or the configuration with a separate dedicated telemetry link (for Network RTK applications over LTE without companion computer for instance).

The problem is that we cannot directly connect both FC and second datalink TX lines together o

[2016-10-19 14:01] LorenzMeier commented on #5657
I think a physical switch with clear marking and leds to indicate which position is active would do it. I haven't looked at the module, but I also would not want the BT module to be active / powered if its not needed.

[2016-10-19 14:20] klopezal commented on #5657
Ok we'll take this into consideration then!

[2016-10-19 17:14] andrejpan commented on #5174
I found that I can print more just one message at once with `listener vehicle_attitude 1000`. Output I can save with `screen` and then write python script which will grab all timestamps. Is there some other, perhaps easier way to export timestamps?  Also, how exactly are defined time stamps?

[2016-10-19 18:25] zhahaoyu opened #5700 "How to control drones with companion computer?"
Hi, I would like to add a RPi on on top of the pixhawk FMU I have. I am trying to figure out how to control the drone directly with the RPi. Am I supposed to use MAVlink and override the RC input to control the drone?

[2016-10-19 20:55] arthursn138 opened #5701 "Unable to start board / unable to establish connection with MP or QGC"
Hi guys,

First of all, yes, I've read all the related topics I could find that might have solved my problem. None of them did.

So after a "soft" crash with my quadcopter, damaging one of my ESCs, my board won't start.
Referring to a lot of threads, I assumed it was a bad SD issue. I tried 4 different cards, one of them brand new) and still got the same beeps and mixer error on the log.

Next ste

[2016-10-19 21:35] sanderux opened #5702 "PX4FMUV2 Crash on current master"
Current master crashes my pixhawk fmuv2 after a few minutes with now clear reason.
Sometimes after uploading a mission, sometimes after mode switch, sometimes with no visible action.

The LED stays where it was solid at the time of crashing. Telemetry connection is lost.

The branch this happened on is https://github.com/PX4/Firmware/pull/5579
Locally rebased to https://github.com/PX4/Firmware/com

[2016-10-19 21:53] LorenzMeier commented on #5702
Can you rebase to a commit before David's dataman changes here? https://github.com/PX4/Firmware/commits/master?after=eyiY6u7Kut%2BxEJv7mJa%2FHePrcpQrNjk%3D

[2016-10-19 22:04] LorenzMeier commented on #5702
@bkueng Can you try to repro first thing in the morning?

[2016-10-19 22:07] sanderux commented on #5702
I have no pixhawk available right now, trying to reproduce on dropix but so far not getting the same result.
I'll try bisecting tomorrow

[2016-10-19 22:29] LorenzMeier opened #5703 "Switch to user-space TSC clock access for SITL"
@bkueng We should switch to accessing the TSC clock directly from user space when we will eventually wrap all system calls to time.

Here is an excellent writeup why we want that:
http://oliveryang.net/2015/09/pitfalls-of-TSC-usage/#why-using-tsc

[2016-10-19 22:32] LorenzMeier commented on #5703
@vilhjalmur89 This would allow us to use TSC even if the kernel is refusing to use it.

[2016-10-20 07:32] bkueng commented on #5026
Related: #5703

[2016-10-20 07:34] bkueng commented on #5703
Did you read the conclusion?

[2016-10-20 08:40] vilhjalmur89 commented on #5703
I already tried forcing TSC which resulted in time moving backwards. I would think that all the TSC-calls would need to be made on the same core for this to work.

[2016-10-20 08:45] andrejpan commented on #5174
I was checking mocap messages at Pixracer for 2 min and about 20 times I got situation like messages #596 and #597. Message #597 has lower value then #596. Could be this the reason why I getting timeouts? Are this timestamps on Pixracer synced with Mavros or not?

[code]

[2016-10-20 19:28] art-mx commented on #5700
Does this help? http://dev.px4.io/pixhawk-companion-computer.html

[2016-10-20 19:28] LorenzMeier commented on #5701
I'm afraid this looks more like a real HW issue. You are offering really good information for debugging, so based on that I'm rather confident you left no step out trying to overcome a software issue. You might be able to get some support from the manufacturer of the board, but I wouldn't know how we can help you with broken hardware.

[2016-10-20 19:28] #5701 closed

[2016-10-20 19:31] LorenzMeier commented on #5703
Yep, but we still need a way to be able to work without TSC from the Kernel. If that means user space and locking to one core it might be what we have to do.

[2016-10-20 19:57] arthursn138 commented on #5701
Thanks man. That's kinda reliving actually!

[2016-10-20 20:00] davids5 commented on #5701
Are there reset switches on the board? Is so ensure the none of them are jammed.

[2016-10-20 20:17] arthursn138 commented on #5701
@davids5 All the components look perfect, no jamming, obstructions or overpower signals

[2016-10-20 20:26] davids5 opened #5710 "PWM LED would benfit from better layering on io_timers"
see review notes https://github.com/PX4/Firmware/pull/5709

[2016-10-20 20:28] davids5 commented on #5701
Shucks! I was hoping for a stuck reset switch on the IO processor.

[2016-10-20 20:49] sanderux commented on #5702
@bkueng have you been able to reproduce this?

[2016-10-20 22:48] blandry commented on #5174
I have a laptop connected to a pixhawk. Laptop running mavros (master as of right now 10/20) and pixhawk (master as of right now 10/20). Using ROS_INFO I print the delta between timestamps mavros is getting from Vicon. They are in the range of 20000 (corresponding to a rate of 50Hz which is what I am sending - downsampling vicon a bit to give the serial some room). I have disabled a lot of the str

[2016-10-21 02:28] davids5 commented on #5650
@dagar @julianoes, @bkueng

arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors) 5.4.1 20160609 (release) [ARM/embedded-5-branch revision 237715]

It builds F7 and Debugger works on F4 ! :)

[2016-10-21 03:13] gaochangyu opened #5712 "The release v1.4.4 has inconsistent commit with the branch v1.4.4"
Hi, all
Today I found that the release v1.4.4 is on commit 60c2aa1 while the brach v1.4.4 has come to commit e73218c. I'm using the code at release v1.4.4 and because of the change in SITL, I don't want to migrate my code to work with higher version.
So, Can somebody explain why the brach v1.4.4 has moved so much forward?

[2016-10-21 04:10] dagar commented on #5712
We don't usually have branches for each release, I believe it was an error. Please use the v1.4.4 tag instead. 60c2aa165feee1cb421a546670fca1344366839c

[2016-10-21 04:10] #5712 closed

[2016-10-21 05:09] nickhuan commented on #1269
@mstuettgen @mhkabir hi guys, I just got a Qualcomm Snapdragon Flight and installed px4 Firmware onto it. May I know how you those IMU message ot HIGHRES_IMU data? as in which rosnode or roslaunch file I need to run to get those topics?

Thanks a lot

[2016-10-21 05:15] gaochangyu commented on #5712
Thanks!

[2016-10-21 05:28] nickhuan opened #5713 "Snapdragon flight IMU driver in ROS"
Hi all,

I just got a new Qualcomm snapdragon flight from Intrinsyc. I installed ROS and PX4/Firmware on the board. (not sure whether it's the correct way to do) May I know whether there is already some rosnodes publishing rostopic of IMU data (e.g. /sensor_msgs/imu messages) in this package? If yes, what is the simplest way to launch it in ROS. There are so many things in thus package, but I just

[2016-10-21 06:00] julianoes commented on #5713
Hi, it's probably better to ask questions in the forum here: http://discuss.px4.io/

However, to answer your question, I think it's easiest to use mavros: http://dev.px4.io/simulation-ros-interface.html. In order for the PX4 code on Snappy to talk to mavros, you have to start another instance of mavlink like it's done here for SITL https://github.com/PX4/Firmware/blob/78b0d1a01f2f3ebfd33d005d9da59

[2016-10-21 06:26] #5650 closed

[2016-10-21 06:28] julianoes commented on #5700
@zhahaoyu The link should help. For more questions please ask in http://discuss.px4.io/.

[2016-10-21 06:28] #5700 closed

[2016-10-21 06:30] julianoes commented on #5678
Could you share a log? Can you comment @CarlOlsson?

[2016-10-21 06:32] julianoes commented on #5676
0 degrees would go straight but loiter should really do a circle, so 15 degrees would make sense.

[2016-10-21 06:34] julianoes commented on #5660
Closing for now, please re-open if the issue is back.

[2016-10-21 06:34] #5660 closed

[2016-10-21 06:35] julianoes commented on #5652
Can you share the code of you `px4_mavling_debug` module? Without seeing it, I'm tapping and guessing in the dark.

[2016-10-21 06:45] dhirajdhule commented on #5197
yes!
Because of some inexplicable reason, when the device is powered up using the 12V input to power module, the UART port starts to cause problems, which leads to RC data lost/regained errors being thrown multiple times in a second. This issue gets resolved if 5V input is used instead of 12V. So I used another DC to DC converter before the power module shipped with snapdragon kit.

Ans I also had

[2016-10-21 06:45] bkueng commented on #5702
No unfortunately not. I tried running it with a VTOL airframe, no other HW attached, for several hours, but it did not crash. The usual suspects (low on RAM, stack sizes) looked ok to me.

[2016-10-21 06:52] sanderux commented on #5702
I have also failed to reproduce on a dropix. I will try again on a pixhawk, perhaps sbus or radio telem related?

[2016-10-21 11:11] tumbili commented on #5159
I guess this can be closed as the trend is to switch to the new logger.

[2016-10-21 11:11] #5159 closed

[2016-10-21 11:14] tumbili commented on #3080
Implemented in master

[2016-10-21 11:14] #3080 closed

[2016-10-21 12:57] kd0aij commented on #3080
Still no feedback at all here though: http://discuss.px4.io/t/fpv-racer-tuning/969/2

[2016-10-21 13:12] nanthony21 commented on #5676
![openloopparams](https://cloud.githubusercontent.com/assets/8433487/19599253/88619744-9765-11e6-9479-67461ce32edd.png)

Here's what I have under "GPS FAILURE NAVIGATION" the 70% thrust is at the bottom.

Circling makes sense for fixed wing, but for a multicopter it can cause the vehicle to randomly fly off during a hover or takeoff, which is exactly what I've experienced.

[2016-10-21 13:55] NCharabaruk opened #5714 "Problem with vision_pose/pose and LPE"
Hello,

I am using a Pixhawk with PX4 firmware on a hexacopter for indoor flight. The drone is being controlled by ROS. I am using laser scan matching to find the xy and yaw position, sonar for z height, and an IMU for pitch and roll. This data is being merged into a single message and published to the /mavros/vision_pose/pose topic. When looking at /mavros/local_position/pose however, the z value

[2016-10-21 14:46] bkueng commented on #5650
Just to add as a reference here: I tested arm GCC 6.1.0 (which is in my testing repo) and after fixing some compiler Errors, I got this:
- Pixracer aka fmu-v4 builds and seems to boot & run properly
- Pixhawk aka fmu-v2 builds but gets stuck on boot with this output:
[code]

[2016-10-21 15:06] davids5 commented on #5650
@bkueng

Good data point. Will you be debugging it?

We should also add the ```make sizes``` from nuttx_v3 Makefile to master and the check targets to start getting bin file size data.

[2016-10-21 15:20] julianoes commented on #5305
@metusa thanks for reporting. @bkueng and I were able to reproduce the problem. A fix is in the works in  #5716

[2016-10-21 15:30] davids5 opened #5717 "PX4 Continuous Integration False failures"
@dagar Capturing this here.

I have had many issues with odd CI failures - that get resolved by one of the two following remedies:
A) Either restarting the CI or
B) deleting the cache and restarting the CI.

Below is a summary:

I have seen this a bunch of times - timing?

https://semaphoreci.com/px4/firmware/branches/nuttx_v3/builds/1

[code]

Remedy A) rixes it.

The next class I keep seeing is

[2016-10-21 15:34] julianoes commented on #5717
@davids5 It does use usleep under the hood. That's probably just a bad idea for CI. We'll need to mock time at some point for the unit tests.

[2016-10-21 15:37] dagar commented on #5717
Alright, I'll take a look at that hysteresis test when I have some time. @LorenzMeier or @julianoes are you  intermittant hysteresis test failures anywhere else?

Overall the only way this gets better is by not tolerating intermittent failures and weird CI behaviour. Please be super annoying and add a comment here every time you see a failure like this. One line summary and the build link.

[2016-10-22 00:39] csorice147 commented on #4578
@AndreasAntener I get the same problem even though I'm using the updated master.
If I do `make posix_sitl_default gazebo` in 1 terminal and then do `roslaunch mavros px4.launch fcu_url:="udp://localhost:14540@localhost:14557"` it's all fine...
Do you have any suggestions as to what might be the problem? The file `/integrationtests/setup_gazebo_ros.bash` does not seem to exist.

[2016-10-22 02:41] blandry commented on #5174
@andrejpan did you have any luck with this? I get timeouts even if I swap the timestamps to current time in the mavlink receiver. I also printed out the delta time (from pixhawk clock) between messages and it seems alright.

[2016-10-22 03:14] applededipan commented on #5678
ok, i will share logs later. i am wondering that if the position controller work during landing phase?

[2016-10-22 06:27] julianoes commented on #5678
@applededipan I think the catch is that the roll/pitch is limited during the land phase in order to be level when landing. However, this can have the effect that it drifts off in wind and can't keep up.

[2016-10-22 06:44] mhkabir commented on #5174
@blandry The timeout is set to 0.2 seconds in LPE.

What rate are you sending the mocap poses at? Is the link bandwidth sufficient? Can you verify that the messages come through to PX4 at the same rate as you push them in at the mavros side? Do you see any timesync warnings in the mavros console?

[2016-10-22 07:16] bkueng commented on #5650
Would be an interesting task, but as it could end up being a much bigger task than expected, I don't plan to do it at the moment.

[2016-10-22 07:38] julianoes commented on #5465
This should be fixed by https://github.com/PX4/sitl_gazebo/pull/57, see https://github.com/PX4/sitl_gazebo/pull/57/commits/d9b9f5b96012bc90be2ceb05483788f6ae62dabd.

[2016-10-22 09:40] LorenzMeier commented on #5174
@blandry Make sure to set serial to 921600 baud. What is your current baud rate?

[2016-10-22 13:18] davids5 commented on #5650
Understood. Please give me a link to the version of the compiler you are using or the --version output and I will take a look when time permits.

[2016-10-22 13:53] julianoes commented on #4759
Well, ecl just takes it's time, especially with compile flags, not much we can do.

[2016-10-22 13:53] #4759 closed

[2016-10-22 14:04] julianoes commented on #5654
This is resolved I'd say.

[2016-10-22 14:31] julianoes opened #5725 "Pixracer: Not ready to fly without further info"
I'm getting a `Not ready to fly` on my Pixracer and can't arm. Unfortunately, I get no other message about why the checks fail. This airframe has been flying just fine previously, so it seems like a regression.

I need to find the root cause of the failed check, as well as why it is not reported.

https://github.com/PX4/Firmware/blob/master/src/modules/commander/state_machine_helper.cpp#L307

[2016-10-22 14:49] kd0aij opened #5726 "pre-commit hook for "check_format" failed a new mixer (text) file"
and it's a very bad idea to run astyle on a mixer definition file.
Ask me how I know :)

[2016-10-22 15:00] kd0aij commented on #5725
I find that "commander check" on the console almost always identifies the problem.

[2016-10-22 15:03] #5654 closed

[2016-10-22 15:24] julianoes commented on #5725
@kd0aij thanks that's helpful:
[code]

The result is strange though because QGC shows that the sensors are "green" and also the params are set as far as I can tell.

[2016-10-22 15:45] julianoes commented on #5725
It looks like all the device ids have changed since I calibrated last beginning of August.

[2016-10-22 15:58] julianoes opened #5727 "mavlink_shell.py Python 3 compatibility"
It seems to fail with Python3:

[code]

[2016-10-22 15:58] julianoes opened #5728 "mavlink_shell.py doesn't work over 3DR radio"
I couldn't get the mavlink shell to work over a 3DR radio:

[code]

[2016-10-22 16:14] tumbili commented on #5728
@julianoes Works for me, this is how I use it:
[code]

[2016-10-22 16:29] davids5 commented on #5726
All this new magic....

Is it astyle alone on the commit hooks?

BTW: Once I am convinced it should not muck with a file I just use

[code]

[2016-10-22 16:58] julianoes commented on #5728
Oh thanks! You're right. Does it not default to 57600 for anything `USBx`?

[2016-10-22 17:03] julianoes commented on #5728
It doesn't but I'm trying to change it :smile:.

[2016-10-22 17:04] julianoes commented on #5725
Well, I just recalibrated and it's all good again. I'll just drop this.

[2016-10-22 17:10] kd0aij commented on #5726
I persist in using Eclipse's git integration, and that just makes for more magic.
BTW @dagar 's Eclipse project works great, but the one generated by cmake for Eclipse-Ninja is now useless for anything but posix builds. It was OK too up to a few months ago, but I was unable to fathom the changes which broke it.

[2016-10-22 17:13] dagar commented on #5726
Can you walk me through exactly what happened, where the file was, etc? `make check_format` is *supposed* to be a warning only with no files touched.

@davids5 Yes, it's just astyle, but we limit it to the src/ folder and still exclude some things.https://github.com/PX4/Firmware/blob/master/Tools/files_to_check_code_style.sh

[2016-10-22 17:15] mhkabir commented on #5725
@julianoes In this case, the Firmware should still report invalid calibrations and force a recalibration with a report to the user. No way to know that something's going wrong otherwise, since there is no visible error message in QGC.

[2016-10-22 17:19] julianoes commented on #5725
The messages did arrive over the 3DR radio but not over USB. They must have got lost somewhere, you're right I should check where.

[2016-10-22 17:20] davids5 commented on #5726
@dagar

It does not look like astyle - with blank EOF warnings on initial commits some files with vim tags.

Next time I get one I will capture it here.

[2016-10-22 17:25] dagar commented on #5726
Oh, right it also does `git diff --check`

--check
           Warn if changes introduce whitespace errors. What are considered whitespace errors is controlled by core.whitespace configuration. By default, trailing whitespaces (including lines that
           solely consist of whitespaces) and a space character that is immediately followed by a tab character inside the initial indent of the line ar

[2016-10-22 17:28] jgoppert opened #5730 "Support NED waypoints within minimal maintenance"
I think we can support local ned waypoints  with minimal maintenance by using the local reference point to transform all of the NED waypoints to lat, lon, alt waypoints using the functions in geo.c right when it comes into the system via mavlink_receiver. I think that internally it is best to only have one frame for waypoints (lat, lon, alt).

Let me know your thoughts.

[2016-10-22 17:28] davids5 commented on #5726
@dagar

Don't get me wrong I love ALL the new magic - Thank you for it!

It is just sometimes, usually at the end of a long day, it becomes a rabbit hole I have to go down and in the true fashion of a "rabbit hole"  I never know - how deep it is or where it will come out. But you are super good at helping to teach this old dog new tricks.

ug...did I really just use that many metaphors :)

[2016-10-22 17:34] dagar commented on #5717
With the posix daemon stuff it should be possible to split up the tests, which means we can start gathering test reports to isolate particular failures over time. Circleci already has support for this if we convert the ctest output to junit style.

[2016-10-22 17:39] mhkabir opened #5731 "Bebop : support sonar over IIO"
We should support the Bebop's sonar unit. A bit convoluted, because we need to actually trigger the sonar pings via SPI and then read back via the ADC.

I already have the software part of optical flow sorted more or less, but need the AGL estimate to scale the readings.

@eyeam3 Are you working on this by any chance? Would you mind syncing over email/Skype on what's planned/ongoing for Bebop?

[2016-10-22 17:39] mhkabir opened #5732 "Bebop : support sonar over IIO"
We should support the Bebop's sonar unit. A bit convoluted, because we need to actually trigger the sonar pings via SPI and then read back via the ADC.

I already have the software part of optical flow sorted more or less, but need the AGL estimate to scale the readings.

@eyeam3 Are you working on this by any chance? Would you mind syncing over email/Skype on what's planned/ongoing for Bebop?

[2016-10-22 17:42] mhkabir commented on #5730
In the longer term, I think the other way around would make more sense. i.e transform the lat/lon/alt to NED when they come in, and navigate in the local frame. More work short-term, and would need a bit of testing to check for bugs, but it would be better.
In an GPS-denied world, a local estimate is guaranteed, but not a global one unless we have atleast locked onto GPS once. I bring this up beca

[2016-10-22 17:51] #5731 closed

[2016-10-22 17:51] LorenzMeier commented on #5731
Duplicate

[2016-10-22 18:35] blandry commented on #5174
I don't see any timesync warnings. I am also using a 921600 baud set between Telem2 and a laptop using [this guy](https://www.amazon.com/gp/product/B006JKNWLE/ref=oh_aui_detailpage_o01_s00?ie=UTF8&psc=1). I've tried different mocap rates but currently I settled on 50Hz. Due to the nature of the timesync algorithm I will sometimes get synced timestamps from vicon that will be greater than the curre

[2016-10-22 21:48] doc2142 opened #5733 "sdlog2_dump.py CSV generated file missing a lot of data."
When I run sdlog2_dump.py on my data file and compare the plots I generated from the CSV data to mission planner plots I notice that there is a lot of missing data. On mission planner data seem to have frequency of 50Hz while the CSV file that was generated has a max of 4Hz data. Any idea how to fix this?

[2016-10-22 21:54] LorenzMeier commented on #5733
This file does not support the mission planner format. It is designed for PX4 (if you want to use PX4, use QGroundControl).

[2016-10-22 21:54] #5733 closed

[2016-10-22 21:57] doc2142 commented on #5733
But the bin file I have is from a pixhawk. I got it from the sd card that was recorded by pixhawk.

[2016-10-22 22:47] LorenzMeier commented on #5733
PX4 doesn't record .bin files. You are not running PX4 and hence this is not a PX4 issue.

[2016-10-22 23:08] doc2142 commented on #5733
I am sorry for being a complete newbie on this I am totally new on this stuff. Are you saying the pixhawk can run mission planner or px4. Since I am getting bin files I am running mission planner?

[2016-10-22 23:28] kd0aij commented on #5733
What instructions did you follow to flash firmware onto your Pixhawk?

[2016-10-22 23:40] doc2142 commented on #5733
I didn't, I am using a pixhawk that was preflashed.

[2016-10-22 23:48] kd0aij commented on #5733
It sounds like you must have some version of ArduPilot on it. If you don't want to reflash it with PX4, you can ask on the ArduPilot forums about analyzing the logfile. PX4 logs have the extension ".px4log" and are placed in the SD card in a directory named "log ".
For PX4 documentation look at px4.io, dev.px4.io and discuss.px4.io

[2016-10-23 02:59] mhkabir commented on #5174
@blandry Can you check what the deltas are here : https://github.com/PX4/Firmware/blob/master/src/modules/local_position_estimator/sensors/mocap.cpp#L106

[2016-10-23 06:17] #5667 closed

[2016-10-23 06:41] AndreasAntener commented on #4578
@csorice147 things got moved a bit, execute `./Tools/setup_gazebo.bash` instead

[2016-10-23 07:01] julianoes commented on #4578
The instructions should now be up-to-date, check out: http://dev.px4.io/simulation-ros-interface.html#launching-gazebo-with-ros-wrappers.

[2016-10-23 12:00] #5728 closed

[2016-10-23 16:53] jgoppert commented on #5730
@mhkabir I agree, right now I'm running into the issue that the waypoint resolution is only 0.6m (1e-7*6371000) so I can't create a precise indoor mission with the current waypoints.

[2016-10-23 16:55] jgoppert commented on #5730
@LorenzMeier thoughts?

[2016-10-23 17:17] LorenzMeier commented on #5730
You need to use MISSION_ITEM_INT (which PX4 already supports).

[2016-10-23 17:32] jgoppert commented on #5730
@LorenzMeier I'm using mavros, do we need to  modify mavros to use MISSION_ITEM_INT?

[2016-10-23 17:34] jgoppert commented on #5730
Actually, in QGC they show correctly after load, then I send them to the vehicle and then load them from the vehicle and they have shifted. So not mavros specific.

[2016-10-23 17:46] jgoppert commented on #5730
I created a QGC issue here documenting the exact waypoint changes: https://github.com/mavlink/qgroundcontrol/issues/4172

[2016-10-23 18:00] LorenzMeier commented on #5300
Duplicate of #5535.

[2016-10-23 18:00] #5300 closed

[2016-10-23 18:00] LorenzMeier commented on #5535
@bharath374 We will replace the Qualcomm driver with one based off src/drivers/px4fmu.

[2016-10-23 18:01] LorenzMeier commented on #4856
We have since reworked this quite a bit. Early boards have a HW issue preventing bind, but in recent board everything works as expected with binding.

[2016-10-23 18:01] #4856 closed

[2016-10-23 18:03] LorenzMeier commented on #5649
Closing due to no further feedback.

[2016-10-23 18:03] #5649 closed

[2016-10-23 18:03] #5141 closed

[2016-10-23 18:05] LorenzMeier commented on #4276
Implemented for multicopters. I'm closing this - anyone wanting to have automatic landing gear for fixed wing: Please enlist the help of a developer and send a PR.

[2016-10-23 18:05] #4276 closed

[2016-10-23 18:05] LorenzMeier commented on #3222
Done.

[2016-10-23 18:05] #3222 closed

[2016-10-23 21:56] maksimpiriyev opened #5738 "px4 flies to HOME_ALT+HOME_ALT and lands earlier than expected"
even thought all the mission were set to 50m ,px4 flew to ~2x50m which is also close to HOME_ALT+HOME_ALT (112m+112m) ,then decelerates to mission alt by setting throttle to 0 with sharp pitch,and lands 50m earlier than expected
here is the log file
http://logs.uaventure.com/view/xqicBTPWS5LYtM4mXdtxSA

[2016-10-23 21:57] marketingandmoney opened #5739 "px4 flies to HOME_ALT+HOME_ALT and lands earlier than expected"
even thought all the mission were set to 50m ,px4 flew to ~2x50m which is also close to HOME_ALT+HOME_ALT (112m+112m) ,then decelerates to mission alt by setting throttle to 0 with sharp pitch,and lands 50m earlier than expected
here is the log file http://logs.uaventure.com/view/xqicBTPWS5LYtM4mXdtxSA

[2016-10-23 21:58] #5738 closed

[2016-10-23 22:07] dagar commented on #5739
It looks like flying to twice home altitude is just a coincidence.

![tecs](https://cloud.githubusercontent.com/assets/84712/19629798/7de8d192-994a-11e6-8ec2-501328f78d12.png)

TECS is in underspeed mode because the airspeed is < 90% of FW_AIRSPD_MIN (15 m/s), but why is TECS pitch responding so slowly?

[2016-10-23 22:14] dagar commented on #5739
@AndreasAntener @tumbili - correct me if I'm wrong here, but it looks like it's basically stuck in TECS underspeed mode. Full throttle is forced causing the climb, but pitch changes slowly because the airspeed error is minimal.

[2016-10-23 22:19] LorenzMeier commented on #5739
@dagar I don't see a bug here. The pitch tuning is bad (see the constant pitch rate offset) and consequently it doesn't pitch down as it should (see here: http://logs.uaventure.com/view/xqicBTPWS5LYtM4mXdtxSA#A_PitchRate_PLOT).

I also think that min airspeed and trim airspeed are pretty high given the plane can't reach them at full throttle. To fix this, two things are required:

  * Retuning the

[2016-10-23 22:19] #5739 closed

[2016-10-24 01:32] applededipan commented on #5678
I think so! and I find that the position controller and altitude controller are still working during landing, Am I right?

[2016-10-24 01:33] applededipan commented on #5678
I think so! and I find that the position controller and altitude controller are still working during landing, Am I right? @julianoes

[2016-10-24 04:42] julianoes commented on #5678
I think so, yes.

[2016-10-24 06:04] zhahaoyu opened #5740 "Unsupported FCU when following offboard_node example, Interfacing SITL with MAVROS"
So I found the documentation really hard to understand. I followed instructions from these two sources,
[http://dev.px4.io/simulation-ros-interface.html](url) and [http://dev.px4.io/ros-mavros-offboard.html](url). However, the quadrotor never rises, and the console constantly outputs error message.

**I first ran the gazebo_sitl**
[code]
 and the output is
[code]

**and then opened another termina

[2016-10-24 06:55] bkueng commented on #5650
Here you go: https://bodhi.fedoraproject.org/updates/FEDORA-2016-ff04fe5b97
And the binary downloads:
http://koji.fedoraproject.org/koji/buildinfo?buildID=778715
http://koji.fedoraproject.org/koji/buildinfo?buildID=776054
http://koji.fedoraproject.org/koji/buildinfo?buildID=777227

[2016-10-24 09:49] eyeam3 commented on #5732
Yes, I am working on the height sensor. In fact, it is almost finished (80%), but needs a few optimizations and further testing. Unfortunately, this has to wait until next week as I'm really busy with my master's thesis at the moment.

I also created a [GitHub-Project](https://github.com/PX4/Firmware/projects/8) to publicly track ongoing and planned tasks. And to sync, my email is [schaeuble.micha

[2016-10-24 10:51] #5727 closed

[2016-10-24 11:33] mhkabir commented on #5732
@eyeam3 Thanks for the info. Let me know if the sonar stuff is on a branch somewhere. I have time this week to fix things and test it. Good luck with the thesis!

The project should be useful. Great!

@LorenzMeier I have made progress on the camera part of things, and am also in talks with Parrot on how to get the software stabilized forward video pipeline up. However, I'm unsure as to how to stru

[2016-10-24 11:45] LorenzMeier commented on #5732
UORB is the most resource efficient system you can think of. It's perfectly suitable to pipe the images to a couple of threads. So please go ahead and just structure them like the rest of the processes. We can then do one flow module which works on bebop and Snapdragon

[2016-10-24 11:54] mhkabir commented on #5732
Awesome! Thanks :)

[2016-10-24 17:17] L4ncelot commented on #5740
Hi, following the same documents as @zhahaoyu I've also encountered the same problem. There is also error while making project using `make posix_sitl_default gazebo`. I don't know if this error has to do with something but I've posted it just in case.

**Error message:**
'Built target platforms__posix__drivers__tonealrmsim
[ 89%] Built target platforms__posix__px4_layer
[ 89%] Built target systemc

[2016-10-24 20:52] mbraunecker opened #5746 "drivers/vmount: InputRc not initialized in Mavlink mode"
When I only use Rc input (MNT_MODE_IN=1) I am able to control the gimbal.
But setting MNT_MODE_IN=2 and MNT_MAN_CONTROL=1 ignores any Rc input (no ROI set, armed).

I solved it by adding

    if (_manual_control) {
        int ret = _manual_control->initialize();
        if (ret) {
            PX4_ERR("failed to initialize rc input");
            return ret;
        }
    }

to InputMavlinkROI::in

[2016-10-24 22:44] dagar commented on #5240
Some others that may help
 -Winit-self
 -Woverloaded-virtual
 -pedantic-errors

Disable copy constructors and assignment operator.

    NonCopyable & operator=(const NonCopyable&) = delete;
    NonCopyable(const NonCopyable&) = delete;
    NonCopyable() = default;

[2016-10-25 00:26] davids5 commented on #5717
@dager

This build would not finish

https://circleci.com/gh/PX4/Firmware/1224?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

BFormat checks passed

Error deleting container: Error response from daemon: Driver btrfs failed to remove root filesystem 03f2fe2d46a055406cc9ae319dadf840b3999bdfe2db721ed6b962cd9b8a9a71: Failed to destroy btrfs snapshot /var/lib/docker

[2016-10-25 00:36] davids5 commented on #5717
@dagar @LorenzMeier

I have an idea that I think will speed up the CI build a lot!

I makes the most sense for CI and not the regular build be cause of the dependency checks for parameters.

If we split the parameter generation into 2 pieces. The first does the complete walk of the tree and builds an xml file of all the parameters and saves it to a parameter.cache.xml.

The second pass uses the pa

[2016-10-25 00:56] dagar commented on #5717
That circleci error has something to do with their docker setup. I'll contact them.

I suggest we time how long each phase is actually taking before we try any build optimization. To me it looks like param generation is only a few seconds per build.

[2016-10-25 02:11] davids5 commented on #5717
@dagar

Here is an Example of the  the fantome errors related to the buitl ins:
[code]
and https://travis-ci.org/PX4/Firmware/jobs/170321947
[code]

[2016-10-25 02:20] dagar commented on #5717
Are you mainly seeing these on travis-ci, semaphore or locally? I feel like if it was a happening in master someone would have mentioned it by now. I should take a look at your nuttx_v3 cmake changes.

[2016-10-25 02:30] davids5 commented on #5717
@dagar

Only on CI.

Please do!

[2016-10-25 02:46] bitblit11 opened #5748 "Mismatched #define in rc_parameter_map.h"
uORB/rc_parameter_map.h has a define/static const that defines PARAM_ID_LEN to 16.  However, the rc_parameter_map_s.param_id is 51 bytes in length, not 16.  Suggest changing the 16 to 51, and replacing the hard coded 51 with the macro/static const to ensure the disconnect doesn't occur again.

[2016-10-25 03:01] davids5 commented on #5717
@dagar

This was the "Need more boxes" I had mentioned

![image](https://cloud.githubusercontent.com/assets/1945821/19671565/5cba96a6-9a0b-11e6-8f6e-f56552c9696e.png)

[2016-10-25 04:43] dagar commented on #5748
According to the comment it's for 3 params + null termination. 3 * 16 + 3 = 51
https://github.com/PX4/Firmware/blob/master/msg/rc_parameter_map.msg#L6

[2016-10-25 06:24] LorenzMeier commented on #5746
@julianoes @bkueng Can you pull this in?

[2016-10-25 06:53] julianoes commented on #5717
I'm not following here but if the problem is only the usleeps in the hysteresis check, let's disable it until we have mocked time.

[2016-10-25 14:07] dagar commented on #5717
@julianoes this has become a bit of a catch all for CI failures that @davids5's been hitting.

[2016-10-25 14:32] CarlOlsson opened #5752 "Baro jump with Pixracer"
Code: cbbee30e483f89350a9207a5684803abd8312fd3
[Logfile](http://logs.uaventure.com/view/Nsdwvw6YVTa2bFPYnWb3AD)

Pixracer with case and mandatory baro foam
![baro_fault](https://cloud.githubusercontent.com/assets/7795133/19690257/64434ee8-9ad0-11e6-9d3f-5ad67d8c0202.png)

I am not sure if this kind of noise is expected and will be filtered out in a later stage, or if it is something wrong.

[2016-10-25 15:07] julianoes commented on #5752
@CarlOlsson thanks for reporting, this seems like a bug somewhere! Does it happen frequently? Is it easy reproduce? Do you see it on multiple Pixracers, or just one piece of hardware?

[2016-10-25 15:11] davids5 commented on #5717
@dagar more of the same
[code]

[2016-10-25 15:38] L4ncelot opened #5753 "Error using "make posix gazebo""
Hi,

I've been trying to run gazebo with quadcopter model with MAVROS. I've been following documentation on [http://dev.px4.io/](url) but after trying to make target using `make posix gazebo` or `make posix_sitl_default gazebo` compiler gave me the following error message.

[code]

I was successfully able to run simulation test with `jmavsim` but not with `Gazebo` and `ROS`.

Thank you for any adv

[2016-10-25 18:12] kd0aij commented on #5712
This confused me too; I was working on a local branch based off v1.4.4 and
suddenly the diff got very large. I don't see how I could accidentally
create a branch in PX4/Firmware though, since I was working in my own fork.

On Thu, Oct 20, 2016 at 10:10 PM Daniel Agar <notifications@github.com>
wrote:

[2016-10-25 18:16] CarlOlsson commented on #5752
The airframe is pretty new so I don't know yet if it happens frequently but it happened in two flights out of three. Here is the [logfile](http://logs.uaventure.com/view/9oDo8aE4KuJcZebrZqhcRH) from the second flight. As seen below the baro temp also has a jump at the same time in both flights:
![2](https://cloud.githubusercontent.com/assets/7795133/19698517/de9d07d2-9aef-11e6-808c-0fd4eb4acb31.pn

[2016-10-25 20:04] LorenzMeier commented on #5753
What is the output of ```gazebo --version```? And can you run the build again and share the output?

[2016-10-25 20:05] LorenzMeier opened #5755 "Build failure: Race condition in initial clean build leads to failed linking step"
We can run into an initial race condition on the first build. It's not clear to me yet where it originates, I suspect in the NuttX build (the inbuilt apps do not get built). A subsequent build succeeds. We need to fix the root cause of this.

[code]

[2016-10-25 20:09] dagar commented on #5755
This is nuttx_v3 right?

[2016-10-25 20:11] LorenzMeier commented on #5755
Yes. But I have seen it on current NuttX on my laptop 1-2 times in the last year as well.

[2016-10-25 20:57] dagar commented on #5634
Now building posix_rpi_cross and posix_bebop_default on semaphore -https://semaphoreci.com/px4/firmware/branches/master/builds/573

[2016-10-25 20:57] #5634 closed

[2016-10-26 00:39] art-mx commented on #5714
Have you considered decreasing vision standard deviation parameters (LPE_VIS_XY and LPE_VIS_Z) for LPE?

[2016-10-26 02:15] nickhuan commented on #5713
Hi Julian,

Thanks for the prompt response. I added one line "mavlink start -u 14557 -r 4000000 -m onboard -o 14540" in "Firmware/posix-configs/eagle/flight/mainapp.config". And I ran "roslaunch mavros px4.launch fcu_url:="udp://:14540@127.0.0.1:14557"" from the board. I could rostopic /mavros/imu/data is published but there is not messages running on it. Am I doing it corretly?

[2016-10-26 05:29] zhahaoyu commented on #5740
Hi @L4ncelot, I figured it out. Instead of running the ROS wrapper, I ran the regular posix_sitl_default and opened up another Mavros node. This allows me to create my own node and communicate with the mavros node.

[2016-10-26 05:29] #5740 closed

[2016-10-26 06:40] #5746 closed

[2016-10-26 06:54] julianoes commented on #5713
Seems correct to me. Is PX4 actually correctly run and do you see output in QGroundControl?

[2016-10-26 06:57] julianoes commented on #5752
At the same time, that's interesting. I'll try if I can repdouce it.

[2016-10-26 07:12] nickhuan commented on #5713
I didn't use QGroundControl (cos my QGroundControl couldn't detect the device no matter I use USB-serial or WiFi). I compile PX4 in ROS catkin workspace natively on Snappy. I'm trying to run everything onboard. Is there another way to monitor PX4 besides QGroundControl?

[2016-10-26 09:22] L4ncelot commented on #5753
I have gazebo 7.4 and currently working on Ubuntu 14.04.

[code]
Here is the whole output when running `make posix_sitl_default gazebo` command.

[code]

[2016-10-26 11:14] L4ncelot commented on #5753
I think the problem is related to `sitl_gazebo` package. Because when I was trying to run simulation making the project with `make posix_sitl_default` command and then running
`roslaunch px4 posix_sitl.launch verbose:="true"`

I could see that `plugin librotors_gazebo_multirotor_base_plugin.so` was not found. Therefore I was wondering whether can I compile `sitl_gazebo` package on it's own. Here i

[2016-10-26 11:54] julianoes commented on #5713
QGroundControl only works if you are connected over wifi, USB won't work.

This has not been done before and I'm pretty sure it won't work properly. The reason is that the cross compilation does not just comiple for the Linux (POSIX) side that you probably compiled for natively but there is also the part which compiles for the QURT on the DSP using the Hexagon toolchain and SDK. Most of the PX4 fi

[2016-10-26 12:02] NCharabaruk commented on #5714
I figured it out. There is a parameter to turn off IMU integration for pose estimates. The param was removed but there is still a boolean in the code for it. I turned off IMU integration and now it only looks at what I want it to.

[2016-10-26 12:02] #5714 closed

[2016-10-26 12:03] julianoes commented on #5753
This should be fixed, what is the output of `git rev-parse HEAD` in `Firmware` and Firmware/Tools/sitl_gazebo` ?

[2016-10-26 12:06] julianoes commented on #5752
I did a 10min log and I can't see a spike. Can you maybe gather more data in what setups or circumstances this happens?

[2016-10-26 12:07] davids5 commented on #5752
@julianoes - I think there is a mutex on the baro because it is on the same bus as the FRAM. I wonder if param operations are the cause.

[2016-10-26 12:09] LorenzMeier commented on #5752
Yeah, it could throw off the baro timing. It could lead to an inversion of temp and pressure data.

[2016-10-26 12:09] julianoes commented on #5752
I was just wondering that as well. And I did some `param set` and `param save` and I did get one spike out of the 4 param operations, so that might be a possibility.

[2016-10-26 12:22] julianoes commented on #5752
So it does happen right when doing a `param set` but it doesn't have to be the first param set and I can only trigger it once.

[2016-10-26 12:29] davids5 commented on #5752
Any FRAM write should lock the bus. A save operation on a changed value. But that will be asynchronous to the BARO access. So as the frequency of the write goes up. You should see more locks.

[2016-10-26 13:20] L4ncelot commented on #5753
in `Firmware` : `1999ed26016b988b616da3ca451b66de30fee2c5`
in `Firmware/Tools/sitl_gazebo` : `380fce8b478361b086cef18597f885002975e701`

I've just cloned repository and updated it's submodules as it's described in documentation.

[2016-10-26 13:38] julianoes commented on #5753
Ok that's good, what is the output of `apt-cache show libignition-common-dev`?
Is there a chance that you have compiled and install libignition yourself?

[2016-10-26 13:50] L4ncelot commented on #5753
You're right. I've installed my version of Gazebo from source which required manual installation of `ignition` library.
Here is the output:
[code]

[2016-10-26 13:55] julianoes opened #5756 "Snapdragon: linking fails on QURT"
Unfortunately #5715 leads to "linking" errors on the Snapdragon. The linking on Snapdragon doesn't happen until you start the px4 bin and it loads the part running on the DSP. It then resolves all the symbols it needs.

I verified and it definitely does compile `apps.cpp` in and it even passes the `make qurt_travis_default` build test which supposedly should detect linking errors.

@CarloWood any

[2016-10-26 14:13] julianoes commented on #5753
Yer I'm not sure what to do in this case. I would propose to play around with ignition and figure out which version works.

[2016-10-26 14:49] Ole2mail opened #5757 "macosx dependency on Xcode 8"
hello all.
just managed to compile default make for Firmware having Xcode dependency fixed to 6.

any ideas why do we strict to Xcode 8 (the one involving to have AppStore etc?
[xcode6.patch.txt](https://github.com/PX4/Firmware/files/553622/xcode6.patch.txt)
[xcode6-2.patch.txt](https://github.com/PX4/Firmware/files/553667/xcode6-2.patch.txt)

[2016-10-26 14:53] catch-twenty-two opened #5758 "Migration to Mavlink 2.0"
To move forward with some of the new messages types and as a general update I am migrating the px4 base to Mavlink 2.0.

[2016-10-26 15:12] davids5 commented on #5755
@dagar

Would you have time to look at  conditionally disabling parallel build of nuttx on a branch of nuttx_v3?

The idea is we can set a env var on CI to stop the Nuttx parallel build and validate the hypothesis.

I know it will slow things down, but statistically as the the number targets goes up in nuttx_v3 - I can not make it through a single CI cycle on a build of  code that builds.  So the

[2016-10-26 15:39] dagar commented on #5755
It's `-j${THREADS}` here -https://github.com/PX4/Firmware/blob/nuttx_v3/cmake/nuttx/px4_impl_nuttx.cmake#L310

Which is a cmake variable you can override - https://github.com/PX4/Firmware/blob/nuttx_v3/CMakeLists.txt#L146

[2016-10-26 19:46] L4ncelot commented on #5753
Ok, I'll try this tomorrow and let you know. For now I just commented building `gazebo_gimbal_controller_plugin` and everything works fine.

Thank you very much for help.

[2016-10-26 21:32] priseborough opened #5759 "Enable use of dual GPS with EKF2"
Replaces https://github.com/PX4/ecl/issues/173

Support from dual GPS is required for vehicle that experience large orientation changes (eg tail-sitters) or are large enough such that masking requires use of dual GPS units.

This will need to be implemented in the EKF2 module, preferably in a function called from Ekf2::task_main(), which then provides consolidated GPS data to be used by the ecl li

[2016-10-26 21:36] zhahaoyu opened #5760 "Mavros offboard example mistake?"
I was learning how to write ROS nodes to interact with mavros. On the example [http://dev.px4.io/ros-mavros-offboard.html](url), it says

[code]

Is it `!current_state.connected` instead of `current_state.connected`?

In addition, I am not sure why we want to send a few instructions before the vehicle is armed. Is it because there can be a lag between sending the signal and receiving the signal on

[2016-10-26 22:37] Ahmedkhattab0 opened #5762 "PX4 Simulink"
I am trying to upload Px4 custom firmware using simulink px4 toolbox.
after uploading the code. I can not calibrate sensors using qground or mission planner. so I upload them in parameter file manually. The problem is when using the rc.txt file into sdcard, The gps can not lock and the yaw reading is rotating all the time, and also not all parameters are shown in mission planner.
any suggestions w

[2016-10-26 23:46] priseborough commented on #5143
@CarlOlsson, the log you provided had EKF2_ARSP_THR set to 0 which disables airspeed fusion. When I run the replay without airspeed fusion, the performance is marginal with large magnetometer innovations and position innovations, but the position does not diverge.

position innovations
![screen shot 2016-10-27 at 10 31 08 am](https://cloud.githubusercontent.com/assets/3596952/19748903/88e7358c-9c3

[2016-10-26 23:48] priseborough commented on #5143
I could not find any evidence that the replay was handling airspeed fusion incorrectly. The GPS rejection in the log was due to bad sensor data and a vulnerability in the ecl EKF which has been fixed.

[2016-10-26 23:48] #5143 closed

[2016-10-27 15:48] CarloWood commented on #5756
Oh, is there no way I can reproduce this?

[2016-10-27 15:49] CarloWood commented on #5756
Starting work on this now...

[2016-10-27 15:54] CarloWood commented on #5756
I'm confused #5715 says that it is merged = but I don't see it in master... Did you force push master to remove it again??

[2016-10-27 16:00] CarloWood commented on #5756
I do not have that target at all?!
[code]

[2016-10-27 16:04] CarloWood commented on #5756
I have 'qurt_eagle_travis' and 'qurt_eagle_default' and 'qurt_excelsior_default'. The first containing the word 'travis' and the latter two causing cmake/configs/qurt_sdflight_default.cmake to be included, where the 'sd' stands for snapdragon... so that's as close as I can test. I'd like to understand how on earth you can compile a qurt_travis_default though, you're probably not using master?

[2016-10-27 16:33] CarloWood commented on #5756
Ok, here's what I did so far:

1. I checkout out the commit one before the 'Clean up of app.h' commit, namely c200ef88edb314b852ec4a5bcfb4042d5dfc6da8
2. I applied my  qurt_target_fixes.diff patch in order to be able to compile qurt_eagle_travis.
3. I ran ```make qurt_eagle_travis; make qurt_eagle_default; make qurt_excelsior_default```
4. I found where that generated and/or linked with ```init_ap

[2016-10-27 16:46] CarloWood commented on #5756
Next I checked out 6fc30c76a6cbc2d3b876c0d001b9751ecfbaf260 (Clean up of app.h),
reran the same commands:

[code]

We see a lot more UNDefined references, and the object is defined only in apps.cpp.o (and through that in qurt/libpx4.so, but it is HIDDEN.

So, what we need is a patch that will change that into non HIDDEN.

[2016-10-27 17:00] CarloWood commented on #5756
Next I created a new branch (I don't know how I could add a pull request for this PR, is that possible?),
and removed my qurt_target_fixes.diff because it seems enough to concentrate on just qurt_eagle_default to get this fixed.

I wrote what seemed to be the most logical attempt at fixing what you reported, nl. adding __EXPORT in apps.h.in for those two functions. And then reran the above command

[2016-10-27 17:11] CarloWood commented on #5756
Looking at apps.h.in I can make a reg.exp. that would catch any function declared there *except* the ones that are generated and part of builtin_apps_decl_string, and that is:
```(shutdown_main|list_tasks_main|list_files_main|list_devices_main|list_topics_main|sleep_main)```

So, we can run:
[code]

showing that also these (as expected) all HIDDEN. The question is now: do they need to be visible?

[2016-10-27 17:17] CarloWood commented on #5756
I wrote the patch for the above. And verified of one of generated commands that my last remark is correct:
[code]
aka, it is already marked as __EXPORT.

[2016-10-27 17:22] CarloWood commented on #5756
I made a PR / proposal for fix, here: https://github.com/PX4/Firmware/pull/5765
Please let me know if this solved the problem.

[2016-10-27 23:27] davids5 commented on #5710
@julianoes

I think the

[code]
to
[code]

may have broken other users of the driver.

io_timer_init_timer(i); would be used if a timer spans multiple pwms
TimerN
[r]
[g]
[b]
[landing]

but breaks

TimerX
[r]
[g]
[b]

TimerY
[landing]

I think the fix is simple enough, we need to pass a pointer to the timer table in play.
I will have a better look when I am fresh

[2016-10-28 03:50] kd0aij opened #5766 "logger problems on fmu-v4 with latest master 5b52cd0fe6"
This is the console output for 2 successive arm/disarm sequences (via RC):

[code]

Result is that only the first arm/disarm segment is logged. Must reboot in order to recover.
logger on/off works properly, creating sequentially numbered files within the same session folder.

sdlog2 never opens a logfile when armed via RC, or QGC or commander.
sdlog2 on/off works correctly also.

[2016-10-28 05:48] waterflyfish opened #5767 "px4's memory usage"
Is there any way to check the px4's memory usage in real time?

[2016-10-28 06:18] julianoes commented on #5767
You can use `top` in `nsh>` and it will give you the maximum stack used be the module since startup.

For the overall RAM, you can use `free`.

[2016-10-28 06:35] LorenzMeier commented on #5766
@bkueng Can you look into that?

[2016-10-28 07:28] bkueng commented on #5766
@kd0aij I cannot reproduce this. When arming/disarming via RC several times, logger always successfully starts/stops. The same with sdlog2 then started with `-a`.

I know the symptoms don't look like it, but did you try another SD card or reformatting?

[2016-10-28 07:33] LorenzMeier opened #5768 "Refuse connection to MissionPlanner as long as it has no PX4 support"
Mission planner implements the parameter protocol not according to the MAVLink reference implementation (it was never cross-tested to QGC, which was the reference at the time) which can mess up tuning gains when people try to use it.

We should actively refuse the connection to ensure that PX4 users don't end up with messed up params and a really bad user experience.

The refusal message should be

[2016-10-28 08:55] CrazyPopLin opened #5770 "Pixhawk can't recognized in Mac"
I am use Mac to flash new arducopter 3.4_dev into pixhawk, when I upload the new firmware. After it compiled successfully, need to un-plug usb to upload. After un-plug and plugin, it upload fine. Look like below:

50583400 00ac2600 00100000 00ffffff ffffffff ffffffff ffffffff ffffffff d4eb8a56 8fa437f5 c7f321de 77aeb047 9449a6b1 269744a4 10f6e598 fea1c213 7b2c46e3 3ea9585d 80d61d41 187df398 3d9d33

[2016-10-28 09:23] LorenzMeier commented on #5770
This is the wrong issue tracker for Arducopter.

[2016-10-28 09:23] #5770 closed

[2016-10-28 12:36] mswingtra opened #5771 "get() doesn't fetch a new param value if previous value was 0 unless rebooted"
I have spotted it in the navigator, but I guess it will apply to all the places where `get()` function is used to fetch parameter values.

If param value is non-zero and it is changed via QGC, then it works fine. However, once it is set to 0, and then it is changed, the new value is no longer fetched until the system is rebooted.

[2016-10-28 12:56] kd0aij commented on #5766
Yes, I tried a second SD card. And both cards have been fine in previous flights.
I first encountered the problem flight testing the pr-mixerEnhancements branch, and reproduced it on the bench in that branch. Then I fetched upstream, checked out/pulled master, "make clean" then "make px4fmu-v4 upload" to generate the results filed in this issue.

Did I forget something? There must be something wro

[2016-10-28 13:01] kd0aij commented on #5766
@bkueng I'm also having trouble with mixing on the FMU in https://github.com/PX4/Firmware/pull/5720
I'd appreciate it if you could try that PR on fmu-v2 to see if the new AUX_TRIM parameters have any effect on the aux pwm outputs. In my testing, although the new MAIN_TRIM parameters work as expected for the main pwm outputs, on the IO coprocessor, the aux outputs do not. Perhaps the two problems a

[2016-10-28 13:13] kd0aij commented on #5766
@bkueng I just used QGC to flash master onto the same pixracer, and again reproduced the problem on the bench with a third SD card. That rules out my local build (gcc 4.9.3) as the cause.

[2016-10-28 13:28] ilia-sheremet commented on #5629
@devbharat Thank you for the reply, that's what I thought as well.

But don't you think it's a wrong approach to handle the condition? @LorenzMeier @tumbili @AndreasAntener

I think in most of the cases this approach has higher probability to induce a crash. In my case it's slightly underpowered copter with hover at 60% thrust, flying in Position Mode with moderate wind. It's successfully fighting

[2016-10-28 15:32] bkueng commented on #5766
Sure, I'll look into it when I find the time. Can you try to find out why logger fails to open the file (print the errno)? Maybe it runs out of file descriptors? Do you use a custom topics list?

[2016-10-28 16:47] kd0aij commented on #5766
not using a custom file list. errno=24 which is "too many open files" according to nuttx/include/errno.h
I would have though regression testing is done using the default (all?) topics.

[2016-10-28 17:25] LorenzMeier commented on #5766
It is totally acceptable to not be able to log all topics on a resource constrained system. So I would like to see this fixed by closing stdin right before opening the log file. The logger should also output a MAVLink message that it was not able to log all topics.

[2016-10-28 17:26] Jaeyoung-Lim opened #5773 "Error with make posix_sitl_default gazebo with gazebo7"
I have been using gazebo6 with ROS indigo(on Ubuntu 14.04) to run the PX4 plugin and now changing to gazebo7 with ROS kinetic (on Ubuntu 16.04)

I have followed the instructions and the

[code]

works just fine. However, I cannot make the plugin run with gazebo7.
Below is the error when I am trying to run the px4 plugin with

[code]

The [document](http://dev.px4.io/simulation-ros-interface.html)

[2016-10-28 17:34] kd0aij commented on #5766
@LorenzMeier I don't understand why @bkueng couldn't reproduce the problem on fmu-v2 though.
Is there a particular reference platform (e.g. fmu-v2) that default configs are tested against?

[2016-10-28 17:42] LorenzMeier commented on #5766
Just to clarify: closing stdin will free the file descriptor needed for the log file

[2016-10-28 18:48] squilter commented on #5768
I think the only proper way to implement this is to have Mission Planner reject the connection. Otherwise, if Mission Planner does add proper support, PX4 would still be rejecting the connection. Even if PX4 is then updated, it still means that older versions of PX4 won't work with Mission Planner because of an artificial restriction.

[2016-10-28 18:56] eric1221bday commented on #5773
I know that gazebo 7 can build in Ubuntu 14.04 with ROS Indigo, so I suspect, as it looks like it's a package dependency issue, ignition, a package gazebo depends seems to have been changed in 16.04 resulting in the error

[2016-10-28 19:41] LorenzMeier commented on #5768
Good point. I don't want to close the door on that option. I'll talk to Michael to see if he can either add for the param interface (AFAIK the only major problem) or refuse the connection as a stopgap.

[2016-10-28 19:42] LorenzMeier commented on #5768
Closing this accordingly.

[2016-10-28 19:42] #5768 closed

[2016-10-28 20:38] Jaeyoung-Lim commented on #5773
@eric1221bday

But it is weird because gazebo7 runs just fine on its own. The error occurs only when trying to run SITL with gazebo

[2016-10-28 21:56] #5305 closed

[2016-10-28 22:48] mcharleb commented on #5756
I used to have a build target that did a full link with stubs (eagle_travis) to catch unresolved symbols.

[2016-10-28 23:28] huanglilong commented on #5760
please read it carefully, [mavros-offboard](http://dev.px4.io/ros-mavros-offboard.html),

The px4 flight stack has a timeout of 500ms between two offboard commands. If this timeout is exceeded, the commander will fall back to the last mode the vehicle was in before entering offboard mode. This is why the publishing rate must be faster than 2 Hz to also account for possible latencies. This is also

[2016-10-29 00:32] zhahaoyu commented on #5760
Thanks @huanglilong. So my understanding is since the px4 flight stack has a timeout of 500ms, we would like to prepare a bunch of commands in its task queue, otherwise, if the the FCU times out, it will f
 the FCU times out, it will leave the OFFBOARD mode.

[2016-10-29 00:34] zhahaoyu commented on #5773
@Jaeyoung-Lim I suspect there is some dependency issue on these packages. I run ROS kinetic, Gazebo 7, everything works fine. It might be worth reinstalling/updating everything, and give a try then.

[2016-10-29 00:57] huanglilong commented on #5760
"In addition, I am not sure why we want to send a few instructions before the vehicle is armed. Is it because there can be a lag between sending the signal and receiving the signal on the FCU?"
----
before switch to OFFBOARD mode, you should send a bunch of commands to FCU, if not, FCU(pixhawk) will reject switching to OFFBOARD mode. it has nothing to do with delay.

[2016-10-29 01:05] huanglilong commented on #5760
[offnode](https://github.com/huanglilong/mavros/blob/master/mavros/src/offb_node.cpp), i have tested it with gazebo and pixhawk

[2016-10-29 07:33] catch-twenty-two commented on #5758
The PX4 base already was using mavlink 2.0, so all I had to do was update the simulator.  For everything to work correctly these 3 PRs will need to be accepted and their corresponding submodules.

https://github.com/PX4/Firmware/pull/5775
https://github.com/PX4/jMAVSim/pull/46
https://github.com/PX4/jMAVlib/pull/3

Please let me know of any concerns you might have.

[2016-10-29 09:08] #5767 closed

[2016-10-29 09:11] LorenzMeier commented on #5771
Quick code inspection suggests no issues - @bkueng Can you look into this?

[2016-10-29 09:14] LorenzMeier commented on #5757
Can you share the output of ```make posix jmavsim```?

[2016-10-29 09:15] LorenzMeier commented on #5756
Closing this for now.

[2016-10-29 09:15] #5748 closed

[2016-10-29 09:16] LorenzMeier commented on #5702
What is your status with this?

[2016-10-29 09:20] sanderux commented on #5702
I have not been able to reproduce this on a different pixhawk. Perhaps hardware failure

[2016-10-29 09:32] LorenzMeier commented on #5755
Yeah, but that's not fixing it locally either. So the real thing is to fix the generation order of the builtin apps header in NuttX so its not generated too late.

[2016-10-29 09:36] iZhangHui commented on #5710
@davids5 @LorenzMeier
 `led_pwm_servo_init(void)
 {
    /* do basic timer initialisation first */
    for (unsigned i = 0; i < arraySize(led_pwm_timers); i++) {
        io_timer_init_timer(i);
    }
`
This change indeed broken the **old revision** MindPX  RGB LED. But, for the latest hardware, we used I2C PWM  IC to drive RGB LED.

There will be  a lot of restriction when other users use PWM LED d

[2016-10-29 12:37] davids5 commented on #5755
I have my FIRST local failure yesterday. I can not tell you how many builds I have run. So I like what @LorenzMeier is suggesting. If we order the NuttX/apps and builtin build to be dependant on the Nuttx/nuttx builds that should help. @dagar How do we do that?

[2016-10-29 12:40] L4ncelot opened #5776 "Not able to control copter using setpoint_velocity/cmd_vel"
Hi,

I've been trying to control quadcopter with **px4** firmware with **sitl**, **gazebo** and **ROS**. I've successfully started simulation and established right connection with **mavros**. I can control quadcopter either by using **pxh command line** or sending poses to **mavros/setpoint_position/local** topic. This works fine.

However when I wanted to control quadcopter with **cmd_vel** types

[2016-10-29 15:13] CarloWood commented on #5756
@mcharleb apps.h/cpp use <map>, but so did this before my change. Note however that this is not used by DriverFramework, only by src/platforms/posix/main.cpp, src/platforms/qurt/px4_layer/main.cpp and src/drivers/qshell/qurt/qshell.{h,cpp}.

[2016-10-29 18:35] zhahaoyu commented on #5760
@huanglilong In the cpp file you provided, I don't think you ever send the service requests.

[2016-10-29 18:46] kd0aij commented on #5766
@bkueng I just verified by bumping CONFIG_NFILE_DESCRIPTORS up to 52, that the new logger is failing to release the descriptor used for writing the logfile. With that change, it succeeds in opening and writing two logs, then fails as before:
[code]
I can't see any obvious differences between the way sdlog2 closes the file and the way the new logger does it, but obviously something is different. Is

[2016-10-30 01:18] huanglilong commented on #5760
you can try this [package](https://github.com/huanglilong/mission)

[2016-10-30 05:56] limhyon commented on #5547
Hi,
I have exactly same problem with @chobitsfan .
I flashed latest github master, and select vehicle configuration to 3DR solo.
It says, the IMU orientation is "Pitch 180" however, when I calibrate the accelerometer,
it show wrong orientation (for example, stand normal shows it is reversed).

[2016-10-30 06:11] limhyon commented on #5547
I didn't isolate the problem whether this is becasue QGC problem or PX4 problem.
But ROTATION_YAW_270 in calibration menu gives correct result.

[2016-10-30 21:12] gregd72002 commented on #4983
Hi, I stumbled upon the same issue. Is there a way to get Pixracer accept inverted PPM signal as RC-in?

[2016-10-31 09:55] bkueng commented on #5771
I cannot reproduce, looks fine to me, except for an excessive param update in [0], which is called regularily. I'm not sure why this was added, but I don't think it's needed.

[0] https://github.com/PX4/Firmware/blob/master/src/modules/navigator/geofence.cpp#L104

[2016-10-31 10:56] bkueng commented on #5766
I was able to reproduce, w/o any HW attached. We were leaking a file descriptor, which is why it worked the first N times before it failed.
@kd0aij can you test #5783?

[2016-10-31 11:41] #5766 closed

[2016-10-31 16:38] mswingtra commented on #5771
@bkueng As an example, I am printing out the value of `_geofence.getGeofenceAction()` to the console with PX4_WARN on the current master (93fb02bfa38b6a337e0ec3984e42485e0c00fc82) in SITL - it shows the value set in QGC (v.3.0.2) until I set it to 0. After that, if I change it to non-zero value, it does not update on the px4 side anymore.

[2016-10-31 16:42] evanmw opened #5787 "Throttle scaled differently in SIL and HIL"
Throttle is treated like all other outputs when scaled for HIL_ACTUATOR_CONTROLS messages in SIL (see Simulator::pack_actuator_message() in src/modules/simulator/simulator_mavlink.cpp).

Throttle is scaled 0 to 1 instead of -1 to 1 when publishing messages in HIL mode (see MavlinkStreamHILActuatorControls::send() in src/mavlink/mavlink_messages.cpp).

A fix would be to remove the special scaling f

[2016-10-31 17:18] devbharat commented on #3666
This is still the case with Lidarlite v3. The driver runs fine and publishes the messages, but the 'test' on i2c says `dev/ll40ls_int open failed, is the driver running?`

[2016-10-31 17:36] kd0aij commented on #5766
verified in latest master on fmu-v4

[2016-10-31 17:37] dagar commented on #5771
@mswingtra ah that's actually a geofence bug. It's only updating geofence params in _geofence.inside(), which is no longer called after you set it to 0 (none).
https://github.com/PX4/Firmware/blob/master/src/modules/navigator/navigator_main.cpp#L503

[2016-10-31 17:51] mswingtra commented on #5771
@dagar No, no - I am printing out directly the result of the function `_geofence.getGeofenceAction()` and I'm calling it in the main loop. This function only [gets the value of the set parameter](https://github.com/PX4/Firmware/blob/master/src/modules/navigator/geofence.h#L112) and this is not working for me.

[2016-10-31 17:54] dagar commented on #5771
Once you set that particular geofence param to 0 the geofence class no longer updates param values. https://github.com/PX4/Firmware/blob/master/src/modules/navigator/geofence.cpp#L104

[2016-10-31 17:57] mswingtra commented on #5771
Ah, I see now -  thanks for pointing this out.

[2016-10-31 20:48] priseborough opened #5790 "Add a parameter to turn on pre-flight logging that can be set in QGC"
Diagnosis of estimation issues for setups often requires access to the data between power up and when the logging starts. At the moment there is no way for users to start logging pre-flight by changing a parameter in QGC.

[2016-11-01 06:44] bkueng commented on #5771
@dagar If we initialize the Superblock base of Geofence in [0] with navigator instead of null, the `updateParams` call becomes unnecessary, and it will automatically be called from the navigator.

[0] https://github.com/PX4/Firmware/blob/master/src/modules/navigator/geofence.cpp#L61

[2016-11-01 07:06] nickhuan commented on #5713
Thanks Julian for the info. I'm trying to follow the tutorial http://dev.px4.io/tutorial-hello-sky.html to write a simple app. I assume I need to use "make eagle_default" to replace "make px4fmu-v4_default" for snappy. Instead of changing "Firmware/cmake/configs/posix_sitl_default.cmake", I assume we should change "Firmware/cmake/configs/posix_sdflight_default.cmake". So I added "examples/px4_simp

[2016-11-01 10:36] L4ncelot commented on #5776
Ok, so after some struggle I've figured it out. I didn't know I had to actually **arm** the vehicle using `rosrun mavros mavsafety arm` and operate in `OFFBOARD` mode. Now the `teleop` works fine.

[2016-11-01 10:36] #5776 closed

[2016-11-01 17:13] julianoes commented on #5756
Sorry, I've been busy and wasn't watching here. I've retested this and get:

[code]

[2016-11-01 17:21] julianoes commented on #5787
This should be fixed with #5716 already.

[2016-11-01 17:27] julianoes commented on #5773
This looks like something with the dependency to ignition is wrong. Check what you have installed there.

[2016-11-01 17:31] julianoes commented on #5713
No "executable" will be made. But you should be able to start it in `pxh>` manually or add it to [mainapp.config](https://github.com/PX4/Firmware/blob/master/posix-configs/eagle/flight/mainapp.config).

If you build it for qurt, you would have to add it to the [px4.config](https://github.com/PX4/Firmware/blob/master/posix-configs/eagle/flight/px4.config).

[2016-11-01 17:56] evanmw commented on #5787
@julianoes  Oh, nope, you're right.  Although it's the opposite fix :)  (made SIL mimic HIL as opposed to changing HIL to mimic SIL)

Is there a reason that throttle should be forced to be output 3 and scaled 0 to 1 as opposed to having that in the mixer?  It just seems more configurable/flexible if it's up to the mixer to keep things positive.  The only downside is you lose half your available re

[2016-11-01 17:59] Aperture-Laboratories opened #5794 "AUX1 output pass through from RC channel not functioning"
Issue: The AUX1 and AUX2 outputs are unable to output anything that is mapped to the RC channel pass through. They output a 50-60% duty cycle upon boot when examined with a scope.

Hardware: Pixhawk FMUv2 running 1.4.4 BETA
Hexactoper, fully configured and calibrated
Taranis X9D, with 16 channel receiver
Channel 7 (a dial/pot on the X9D) mapped to AUX1
Servo connected to AUX1 and 5v BEC on the ser

[2016-11-01 18:15] mcharleb commented on #5756
@CarloWood Ah, so this all runs on Apps proc. That should be fine.
@jywilson Is _Dtest a symbol you have seen before? Does it need to be exported?

[2016-11-01 18:37] julianoes commented on #5787
With the simulation we want to mimic the real system and most real system have ESCs that go from ~1000 to ~2000. Therefore this makes more sense in my opinion.

However, my change from -1..1 still leaves the possibilty to add ESCs that can reverse, or variable pitch propellors, both resulting in a negative thrust.

[2016-11-02 01:18] blandry commented on #5174
For completeness sake this was due to bad network (and an error on my part in the initial diagnostic that didn't take into account the data type of the seconds field). Thanks for your help PX4 team!

[2016-11-02 01:36] CarloWood commented on #5756
2:30 AM ... but lemme have a quick attempt...

On current master, with ```make qurt_eagle_default```, I get:
[code]
while c200ef8 gives no output - aka, there isn't a symbol _Dtest defined, but also not used.
So, this is a bit like the locale: the question is why is this symbol suddenly needed?

[2016-11-02 01:43] CarloWood commented on #5756
Next I tested 6fc30c7 (Clean up of app.h), and also there there is no _Dtest anywhere.
I then cherry-picked 52b8e75aeadd59e0f12f3de3f9e5759ead7f592b and 0bff3593d3ecc766f7c8981a3259d10a9110833d and still no _Dtest.

So, I'm afraid this is unrelated to the 6fc30c7 (Clean up of app.h) commit.

[2016-11-02 02:00] CarloWood commented on #5756
I did a git bisect and
[code]

I'll look into this tomorrow and figure out where that symbol comes from :(

[2016-11-02 07:15] mswingtra commented on #5771
@bkueng I looked into the block library, and I am not sure if I understand it fully, but if we do the change you proposed, wouldn't we have to call `updateChildParams` in navigator as navigator would be regarded as a parent to geofence? Then that would update params for all the navigation modules which is not desired here.

[2016-11-02 07:21] julianoes commented on #5756
@CarloWood that's really odd! Thanks for your help here.

[2016-11-02 08:32] bkueng commented on #5771
No, as the `updateParams` call in Navigator calls `SuperBlock::updateParams`, which in turn calls `updateChildParams` if there are children. From what I see, this is the intended way how to used it.

[2016-11-02 08:55] LorenzMeier commented on #5771
If you do that the child will also inherit the parameter prefix of the parent unless paeans are initialized with the full name constructor. Watch for that.

[2016-11-02 08:59] venuannamraju commented on #5756
Hi Julian, Carlo
I get the same undefined PLT symbol _Dtest error on the mini-dm along with "FastRPC initialization failed" on the adb shell.
I used the oct 19 fc addon that helped pass the DSPAL tests.
Has anyone got the snapdragon flight build working successfully with earlier versions ?
Any help is most appreciated.

venu

[2016-11-02 09:40] CarloWood commented on #5756
Good morning... starting work this now.

[2016-11-02 11:18] CarloWood commented on #5756
The problem is that Qualcomm/HEXAGON_Tools/7.2.12 defines a ::isfinite() as follows:

[code]
But this _Dtest seems to be not defined anywhere (that I can find).

You'd think it should be defined in some libm.so, because the above gets
dragged in from including <cmath>, but of the gazzilion libm.so's that we
have:
[code]
None of them has a symbol _Dtest. That is, after ignoring the four broken symb

[2016-11-02 11:37] CarloWood commented on #5756
That should fix this issue. I'm sorry for having caused this time waste for some people; I just assumed that if something linked (now) that apparently the hack to use __builtin_isfinite wasn't needed anymore, even though perhaps in the past it was. If my above assessment is correct then it is kinda shocking I must say... it's hard to believe that the hexagon SDK would be THIS broken :/. I'm confus

[2016-11-02 11:51] gaochangyu commented on #5330
I've just encountered this problem with my pixhawk 2.4.8 hardware just now. It is the same problem @agribov described. Does anyone already have a solution for this?
I tried v1.4.4 and v1.5.0(build from source). LPE_GPS_ON is always reset to ENABLED when restarted.

[2016-11-02 12:08] venuannamraju commented on #5756
@Carlo
Thanks for the update. Will try it out and let you know.

[2016-11-02 14:24] davids5 commented on #5330
@gaochangyu
See
http://diydrones.com/group/pixhawk/forum/topics/pixhawk-2-4-8-from-bangood-not-working-as-expected?commentId=705844%3AComment%3A2244045&groupId=705844%3AGroup%3A1582361

[2016-11-02 15:01] michalgnat commented on #5508
Hi darknight-007, I'm fairly new to linux and I don't understand how to create symbolic links to Firmware and sitl_gazebo folders in the catkin_ws folder.

What I undestood is to $ln -s the Firmware folder into the sitl_gazebo package and then $ln -s the sitl_gazebo folder into the Firmware/Tooks/sitl_gazebo folder.

Can you please print out the linux commands you did to make it more clear?

[2016-11-02 16:15] venuannamraju commented on #5756
@Carlo @julianoes
I tried your repo and the linking issue is gone. Thanks for that.
I do get mag sensor failure like other have gotten before. The listener sensor-mag command does return non Zero values though. Did anyone see this error recently ?
Also do ROMFS and posix-config need to be uploaded to the board ? The px4 binary seems to create a sym link in the path and a second init fails due to s

[2016-11-02 18:27] Jaeyoung-Lim commented on #5508
I am having the same problem
[code]
has been working well before but the current master is not working.

@darknight-007  Could you be more specific on solving the problem?

[2016-11-02 18:55] julianoes commented on #5756
@venuannamraju I tested it and for me it now just crashes straightaway:

[code]

Need to digg further.

[2016-11-02 18:55] julianoes commented on #5756
@CarloWood but good catch, the linking issue seems resolved!

[2016-11-03 01:15] venuannamraju commented on #5756
@julianoes
I also got the same errors but in a slightly different order.  I assumed it was OK since listener sensor_gyro worked and no errors were seen on the pxh>.  Is there a release version that I can use before I decide to pick up latest commits ?

thanks
venu

[2016-11-03 02:39] gaochangyu commented on #5330
@davids5 Do you mean I should try reset all the parameters?

[2016-11-03 03:37] davids5 commented on #5330
yes

[2016-11-03 05:20] julianoes commented on #5756
Use the commit before #5715.

[2016-11-03 08:49] gaochangyu commented on #5330
I did a experiment and had some findings. I believe this is a bug in parameter writing.
I did the experiment with a genuine 3dr px4 2.4.6 and qgroundcontrol 3.0.0 on linux.
Here is the work around.
1. change the LPE_GPS_ON to disabled;
2. change another parameter;
3.wait for several seconds LOL;
4.and then reboot the board, you'll find LPE_GPS_ON is successfully saved.

Well, it sounds crazy but i

[2016-11-03 08:59] AndreasAntener commented on #3917
Closing this, as the old terrain estimator is/can be used with INAV but the new estimators bring their own. Position reset logic with the old one is not implemented though.

[2016-11-03 08:59] #3917 closed

[2016-11-03 09:13] iZhangHui commented on #5330
@gaochangyu Could you verify my PR #5797  working for you?

[2016-11-03 09:51] LorenzMeier commented on #5756
@bharath374 Could you please help out with some of your resources here?

[2016-11-03 10:14] gaochangyu commented on #5330
@iZhangHui Yep, It worked.

[2016-11-03 14:55] tubeme opened #5801 "VTOL: FW flight very strange lock down in Loiter."
Hi guys,

We've had a very strange case in witch once we've transitioned, we put the plane in Loiter manually, and from then on the VTOL just stopped responding. It disconnected from QGC and started Loiter but with Cruise speed, and not min airspeed. We switched off the RC to make it failsafe to no avail. It just continued circling. We tried everithing possible but nothing happened. At some point

[2016-11-03 15:00] kd0aij commented on #5801
This is a situation in which it would be nice to have MANUAL mode available.

[2016-11-03 15:52] rohankishore21 commented on #2606
Hi Guys, I have a question, What Iam currently planning to do is:
1. To use the Offboard mode indoors, and send local set points (X,Y,Z) at a particular frequency
2. Then parallelly send the vision pose local (X,Y,Z) from an indoor positioning system which sends x, y and z which is the current position of the drone through vision pose local .

So basically with this , say for ex. if I give local s

[2016-11-03 16:41] venuannamraju commented on #5756
@julianoes @bharath374
I used the commit d57e9f1 (before #5714), below is what I see in mini-dm.
I am trying to get a working version on the board so I can explore other aspects. Any help is much appreciated.

[08500/00]  29:22.105  HAP:61:In dspal_entry  0222  main.cpp
[08500/00]  29:22.126  HAP:61:attempting to open the ADSP command file: /dev/fs/px4.config  0186  main.cpp
[08500/00]  29:22.127

[2016-11-03 16:49] s3erjaeh opened #5802 "Crash when flying below the Home Point"
When I fly with my Pixhawk in state_HIL simulation with the current master build below the home point altitude, the Pixhawk do strange things:

In **Stabilize Mode** the Pixhawk is unable to rotate around the YAW axis. After flying above the relative altitude of zero, the yaw rotation ability comes back.

In **Altitude- and Position-Hold Mode** the Pixhawk suddently crashes to the ground when I fl

[2016-11-03 16:51] dagar commented on #5802
Thanks for the bug report, flying below home isn't a well tested scenario. Which simulator are you using?

[2016-11-03 16:59] s3erjaeh commented on #5802
I using the AeroSim RC Simulator with a self programmed plugin. I wrote this for my company, so I'm not allowed to publish it for testing. But i hope this behaviour can be also reproduced with a other Simulator.

[2016-11-03 17:40] julianoes commented on #5756
@venuannamraju This looks mostly "fine". Is anything not working in particular? And if yes, could you please open a new issue. This is really about the linking not working (or whatever error it is now).

[2016-11-03 17:56] venuannamraju commented on #5756
@julianoes
I saw the errors were similar to your logs where you reported the crash, so I pasted my output. If you think the output seems fine, we can close it.
thanks
venu

[2016-11-03 18:15] CarloWood commented on #5756
@julianoes Can you test which commit is causing your current/remaining issue?
I'd suggest to
[code]
where the last one is really https://github.com/PX4/Firmware/pull/5796/commits/e19d2f80b05b30b73e500e6c3d4718a2ab86c5d4

Then checkout latest master, and remove all five commits (decls-2.diff is not yet in there):
[code]
Test if the problem exists [1]. If not,
[code]
Test if problem exists. If not,

[2016-11-03 18:43] CarloWood commented on #5756
PS I found _Dtest back: it's defined in their libc.so... Apparently we're not linking with -lc or with the wrong one thus...

[2016-11-03 21:14] jywilson commented on #5756
Hey guys, I would like to help with this problem.  Is there an easy way that I can repro your results?  Do you have a branch that I can sync to, just to save time?

I have a JTAG that I can use to get a call stack at the point of the crash.  For crash debugging mini-dm is problematic because it drops messages that were in the buffer at the time of the crash.

[2016-11-03 22:50] buaayly opened #5803 "[-Werror=missing-braces]"
When I compiled the firmware, I got the error as following,

/src/modules/uavcan/uavcan_main.cpp:1263:3: error: missing braces around initializer for 'const char* [4]' [-Werror=missing-braces]
compilation terminated due to -Wfatal-errors.
cc1plus.exe: all warnings being treated as errors
make[3]: *** [src/modules/uavcan/CMakeFiles/modules__uavcan.dir/uavcan_main.cpp.obj] Error 1
make[2]: *** [src/

[2016-11-04 10:02] bkueng commented on #5803
Can you test  #5805?

[2016-11-04 12:23] s3erjaeh commented on #5803
I had the same problem. You must update the gcc compiler, this is a bug in gcc. On Windows you simply download the gcc here: https://launchpadlibrarian.net/287101671/gcc-arm-none-eabi-5_4-2016q3-20160926-win32.exe
After installation you copy the folders bin,lib and share to the px4 Toolchain folder (px4\toolchain) and override the existing gcc compilers. This will fix the issue.

[2016-11-04 15:41] #5803 closed

[2016-11-04 17:41] CarlOlsson opened #5806 "Noise on servos when connecting to QGC"
Master fw 25be7aa7cf30b633afd1abeb30f15547719f1471
When I connect Pixracer to QGC on my Iphone the flaps start to have random movements.
Log is [here](http://logs.uaventure.com/view/VE3gawVUitdowphE86WWkj)
![figure_1](https://cloud.githubusercontent.com/assets/7795133/20016059/3392646e-a2be-11e6-9c98-c0e42da4c662.png)
![figure_2](https://cloud.githubusercontent.com/assets/7795133/20016060/3394b444

[2016-11-04 17:45] CarlOlsson opened #5807 "Manual control lost message without RC connected"
Master fw 25be7aa7cf30b633afd1abeb30f15547719f1471
I calibrated airspeed without ever powering on the radio transmitter, constantly got "manual control lost" message in QGC, so maybe this is more a QGC issue

[2016-11-04 18:51] buaayly commented on #5803
Thanks s3erjaeh! It works!

[2016-11-04 18:54] buaayly commented on #5803
bkueng.
I updated my gcc, and the problem was solved. So I can not test the #5805 now, sorry.

[2016-11-04 21:37] CarloWood commented on #5756
@jywilson I'm afraid @julianoes has to answer that.

[2016-11-04 22:36] jywilson commented on #5756
Okay.

@julianoes If you could help with the above, I would appreciate it.

[2016-11-05 07:41] mzahana opened #5809 "Is there Altitude+attitude OFFBOARD control?"
Hi!

I would like to use a companion computer with px4 in order to control altitude, and attitude (roll, pitch in body frame). I know there is OFFBOARD mode, and I have been using it for position control. I also know it implements the following offboard modes:
* position setpoints
* velocity setpoints
* acceleration setpoints
* attitude(or attitude rates)+thrust setpoints

However, all of them are

[2016-11-05 08:37] mzahana commented on #5140
@RamArvinth Where you able to use rc override with PX4?

[2016-11-05 09:30] #5061 closed

[2016-11-05 10:07] RamArvinth commented on #5140
Hello @mzahana ,

   No, I wasn't able to achieve exactly as intended to. But as mhkabir mentioned above, I used the set_actuator_control to command the values of throttle, roll, pitch, yaw directly in OFFBOARD mode through mavros from my system. This anyway helped me avoid the use of a RC.

[2016-11-05 10:14] mzahana commented on #5140
But does mavros rc/override works any way but you could not use it properly, or it does not work at all?

[2016-11-05 10:19] RamArvinth commented on #5140
Technically it should work, but I couldn't get it work properly and haven't figured out why yet.

[2016-11-05 11:41] mhkabir commented on #5140
No it's not supposed to. RC override is a horrible way to achieve what you
want to do.

On Nov 5, 2016 3:49 PM, "RamArvinth" <notifications@github.com> wrote:

[2016-11-05 13:05] julianoes commented on #5756
@jywilson It should be easy. Get latest master, do `make eagle_default upload`, run it and watch it crash. That's at least what happens for me.

It didn't crash before the refactoring which started with #5715 which lead to linking errors. The linking errors were resolved in later PR's by @CarloWood, however, it's seems now to crash on QURT.

[2016-11-05 20:36] julianoes commented on #5756
@jywilson I tried to manually get a "stack trace" by printfing to find where it crashes. I found the that it crashes in `param set` on QURT as follows:

https://github.com/PX4/Firmware/blob/master/src/systemcmds/param/param.c#L146
https://github.com/PX4/Firmware/blob/master/src/systemcmds/param/param.c#L480
https://github.com/PX4/Firmware/blob/master/src/modules/systemlib/param/param_shmem.c#L508

[2016-11-05 22:35] clovett commented on #5809
I created something similar, see https://github.com/PX4/Firmware/pull/5774.  This gives you vx/vy velocity control with altitude position control.  It will pitch/roll as required to meet your vx/vy goals, while maintaining a fixed altitude.

[2016-11-06 00:26] jywilson commented on #5756
Got it.  Thanks.  I will give it a try in Monday and let you know what I learn.

On Nov 5, 2016 6:05 AM, Julian Oes <notifications@github.com> wrote:

@jywilson<https://github.com/jywilson> It should be easy. Get latest master, do make eagle_default upload, run it and watch it crash. That's at least what happens for me.

It didn't crash before the refactoring which started with #5715<https://githu

[2016-11-06 01:42] squilter opened #5811 "fixedwing_control demo crashes sitl"
I tried to run the fixedwing_control demo, but it would always crash with no error message. I started up sitl with `make posix gazebo_plane`, running Gazebo 7.4.0. When I started ex_fixedwing_demo, Gazebo immediately quit.

[code]

[2016-11-06 01:47] CarloWood commented on #5756
@jywilson Have you done a git bisect? If not, lemme update my post now that 09d36a6 was merged into master:
[code]
Then checkout latest master, and remove all five commits:
[code]
Test if the problem exists [1]. If not,
[code]
Test if problem exists. If not,
[code]
Test if problem exists (it should cause you already said so).

If at [1] the problem already exists then it is caused by another commi

[2016-11-06 02:02] CarloWood commented on #5497
Well, this problem has gone away after upgrading from Ubuntu 14.04 to 16.04.  Not sure what caused that, could be version of gdb, or many other things...

[2016-11-06 02:08] CarloWood commented on #5497
Just checked 4a5eae23a29d452596ee0c8d0961f661ae635214 and it now works, so definitely fixed as a result of my OS upgrade.

[2016-11-06 02:08] #5497 closed

[2016-11-06 07:36] julianoes commented on #5756
@CarloWood thanks for the recipe. I've actually done similar checks by going back to the commit before your changes and then cherry-picking them one-by-one. However, I didn't always clean build there, so I can't be certain about the results.

I've followed the steps and it crashes after flashing the state after:
[code]

[2016-11-06 09:57] mzahana commented on #5809
Thanks, @clovett . That is interesting. However, I am wondering if it applies vx/vy in  a body-fixed frame, or local NED. What I am targeting is to command roll/pitch, or vx/vy in body fixed NED frame. In other words, if I command negative pitch (or +vx) it should move forward no matter what the heading is. Similarly, if I command positive roll (or +vy), it should move to right regardless of the h

[2016-11-06 12:00] mhkabir commented on #5809
This implementation should take the setpoints in the local frame. However, projecting that to and from the body frame is very easy, so you can just add a stub which uses the current yaw to rotate frames.

[2016-11-06 13:46] LorenzMeier commented on #5771
@mswingtra I just fixed a param system issue in another PR. I recommend to re-test on master.

[2016-11-06 14:02] mzahana commented on #5809
@mhkabir that is right. Another solution I guess is to send a zero yaw setpoint, to make both frames aligned, right?

[2016-11-06 14:43] mhkabir commented on #5809
Yes, you can do that. It would, however, mean that the quad would always point North. Which I'm not sure anyone would want to do.

[2016-11-06 15:49] CarloWood commented on #5756
Did a few hours session on mumble with Julian and found out the following:

- The pointer being set (shmem_info_p) and the one being used later on where actually different variables (had a different) address.
- The reason for that is because shmem_qurt.c is linked in twice: this file ends up in ```build_qurt_eagle_default/src/platforms/qurt/px4_layer/libplatforms__qurt__px4_layer.a``` which is add

[2016-11-06 17:17] julianoes commented on #5756
As a note: the debug `shmem_info_p` can be debugged like this: https://github.com/julianoes/Firmware/commit/cdaf3866cc06222a14fde54c707329bca8020bf7

[2016-11-06 19:31] #5771 closed

[2016-11-06 21:07] CarloWood commented on #5756
Hi, I created a small example that shows how I think this should work, here:
https://github.com/CarloWood/cmaketest

[2016-11-06 21:13] CarloWood commented on #5756
What you think, shouldn't we start using this method for Firmware too?

[2016-11-07 00:35] applededipan commented on #5678
as i tune the roll/pitch limit a bit larger, it works better now! thanks for your help!!! @julianoes

[2016-11-07 05:41] mohit004 commented on #5581
Dear Developers,

Just an update about the work that I was doing.
I have written the necessary plugins for tail motor and servo motor. In the servo plugin, all I am doing is to control the servo (joint) position using 'SetPosition' function of the gazebo joint class.
However, there are still few problems that I am facing.

**1. Problem in Servo Plugin.**
In the motor plugins that came with the SIT

[2016-11-07 17:39] Benoit3 opened #5817 "Graupner GR 16 receiver and sumd protocol"
My goal is to fit a small piper cub model with a pixhawk and ArduPlane 3.7.1

I decided to connect the Pixhawk and the GR 16 receiver with the pixhawk DSM interface , the sumd interface and the receiver's setting SUMDOF08.

But the pixhawk stays in failsafe with these settings. I did some check with a GR12L and it was ok.

After some investigations, I found that on power on, the GR 16 receiver was

[2016-11-07 20:23] LorenzMeier commented on #5807
Did you have a joystick connected?

[2016-11-07 20:24] LorenzMeier commented on #5806
Can you share your post flight perf file?

[2016-11-07 20:25] LorenzMeier commented on #5806
And did you have manual input enabled on your phone (thumb sticks?)

[2016-11-07 20:28] LorenzMeier opened #5818 "Logging instructions miss parts to start ulog in custom modes"
@bkueng the docs don't tell you how to start e.g. immediately logging on the shell for typical data-capture scenarios:

http://dev.px4.io/advanced-logging.html

[2016-11-08 05:09] dagar commented on #5306
You could send the mavlink command MAV_CMD_DO_PARACHUTE to activate quadchute.

[2016-11-08 05:13] dagar commented on #5726
@kd0aij I haven't been able to reproduce this. The check *should* only be certain file extensions and files in src/. Could you explain?

[2016-11-08 05:22] dagar commented on #5329
@han-so1omon try updating your git repo or do a fresh clone.
http://dev.px4.io/starting-building.html

[2016-11-08 05:22] #5329 closed

[2016-11-08 05:23] dagar commented on #5298
Resolved? Please reopen if that's not that case.

[2016-11-08 05:23] #5298 closed

[2016-11-08 05:27] dagar commented on #5149
Resolved?

[2016-11-08 05:30] dagar commented on #5112
@mhc994 can you provide more information?

[2016-11-08 05:32] dagar commented on #5081
@mazahner any update here? Did you try master?

[2016-11-08 05:34] dagar commented on #5059
Fixed?

[2016-11-08 05:37] dagar commented on #4980
Similar in vtol standard - https://github.com/PX4/Firmware/blob/master/src/modules/vtol_att_control/standard.cpp#L440

[2016-11-08 05:38] mhc994 commented on #5112
I tried another FMU and the GPS worked well.Maybe there is something wrong with my hardware.
Sorry for forgetting to close this issue.

[2016-11-08 05:38] #5112 closed

[2016-11-08 05:40] dagar commented on #4866
Please use PX4 Discuss for questions like this. http://discuss.px4.io/latest

[2016-11-08 05:40] #4866 closed

[2016-11-08 05:42] dagar commented on #4948
No longer relevant with logger?

[2016-11-08 05:43] #4858 closed

[2016-11-08 05:44] #4838 closed

[2016-11-08 05:49] dagar commented on #4848
I like the idea, but dronekit-la is too Ardupilot specific.

[2016-11-08 05:49] #4848 closed

[2016-11-08 05:52] dagar commented on #4892
@langxm1223 it's the param MPC_VELD_LP.
https://pixhawk.org/firmware/parameters

[2016-11-08 05:52] #4892 closed

[2016-11-08 05:54] dagar commented on #4980
Duplicate #4797

[2016-11-08 05:54] #4980 closed

[2016-11-08 05:57] #4823 closed

[2016-11-08 05:58] dagar commented on #4833
@MHageH is this still a problem?

[2016-11-08 06:01] dagar commented on #4650
https://github.com/PX4/Firmware/pull/5720

[2016-11-08 06:01] #4650 closed

[2016-11-08 06:03] dagar commented on #4621
@agribov is it switching to loiter immediately? That would cause it to stop reacting to RC input.

[2016-11-08 06:04] dagar commented on #4614
I believe this has been resolved. Please reopen if it's still an issue.

[2016-11-08 06:04] #4614 closed

[2016-11-08 06:05] dagar commented on #4609
@vvranjek still an issue?
mavlink stop-all seems to work for me.

[2016-11-08 06:07] dagar commented on #4604
We talked about this briefly a few weeks ago and I think the consensus was that pulling nuttx dependencies into PX4 cmake wouldn't work very well. Is there anything else on this you'd still like or need?

[2016-11-08 06:08] #4575 closed

[2016-11-08 06:09] dagar commented on #4584
Implemented.

[2016-11-08 06:09] #4584 closed

[2016-11-08 06:14] dagar commented on #4438
@tubeme is this still an issue? The flaps code has been updated a bit.

https://github.com/PX4/Firmware/blob/master/src/modules/fw_att_control/fw_att_control_main.cpp#L879

[2016-11-08 06:15] dagar commented on #4486
Still a problem?

[2016-11-08 06:20] dagar commented on #4160
There are separate settings for loss of RC and datalink to do this. Take a look at Settings -> Safety in QGroundControl.

[2016-11-08 06:20] #4160 closed

[2016-11-08 06:24] dagar commented on #4094
How could this fit in with logger? We never publish the mission items.

[2016-11-08 06:27] julianoes commented on #5059
Don't know :)

[2016-11-08 06:30] dagar commented on #4066
It's a bitfield which contains the arming state. You can first copy it from the HEARTBEAT before sending MAV_CMD_DO_SET_MODE. There are other messages you can use for initiating takeoff, land, mission, rtl, loiter which don't involve this.

[2016-11-08 06:31] #4050 closed

[2016-11-08 06:33] #4024 closed

[2016-11-08 06:35] dagar commented on #4029
Hi @robertgs90
Could you open a pull request if you'd like to pursue this?

[2016-11-08 06:35] #4029 closed

[2016-11-08 06:38] dagar commented on #3894
What's the conclusion here? I'd like to optionally be able to enable this.

[2016-11-08 06:43] dagar commented on #3245
This would be nice. Any ideas?

[2016-11-08 06:47] dagar commented on #3152
https://github.com/PX4/Firmware/pull/5745

[2016-11-08 06:52] dagar commented on #2739
@CornerOfSkyline please provide more information like the specific error messages.

[2016-11-08 06:52] #2739 closed

[2016-11-08 06:57] liaoytal opened #5823 "Use LPE estimator to test Auto_takeoff with flow (with GPS off),it will fly over the altitude of set point."
I had a test flight with px4 stable branch 1.4.4 + LPE estimator.
Switching to state MAIN_STATE_AUTO_TAKEOFF to test Auto-takeoff with optical flow(no GPS).
I set the altitude of the takeoff to 0.3m. (min_clearance =0.1m,get_acceptance_radius =0.2m).

The multicopter will fly over altitude of the set point(about 1m) then lower the altitude to 0.3m.

log:
http://logs.uaventure.com/view/SU8fjxdbTHrE

[2016-11-08 06:59] dagar commented on #1619
Still an issue?

[2016-11-08 07:01] dagar commented on #1351
@mhkabir Please reopen if still relevant.

[2016-11-08 07:01] #1351 closed

[2016-11-08 07:12] julianoes commented on #4066
Related to: https://github.com/mavlink/mavlink/pull/629

[2016-11-08 07:14] julianoes commented on #4066
Since the mavlink change went in, I should remove this:
https://github.com/PX4/Firmware/blob/master/src/modules/commander/commander.cpp#L721

[2016-11-08 07:30] #5818 closed

[2016-11-08 07:48] AndreasAntener commented on #4094
I guess we should add a new topic and log message. And also add a new log message for commands if we're already on ;)

[2016-11-08 08:42] sanderux opened #5824 "What is the meaning of altitude in a LAND mission item for MC and VTOL"
Currently the altitude parameter in a LAND command for multicopter or VTOL doesn't seem to have any function.

When flying a mission: takeoff (10m) - waypoint (20m) - land (10m)
the vehicle follows FOH navigation from the takeoff waypoint at 10m to the next waypoint at 20m.
After that it proceeds at 20m to the land waypoint and lands at 0m.

For FW it seems clear that the altitude is meant to indi

[2016-11-08 08:44] sanderux commented on #5149
the sess dirs are produced when no gps is available and thus no date is known.

[2016-11-08 08:44] #5149 closed

[2016-11-08 10:19] MHageH commented on #4833
@dagar I've test it again, the drone takes off to a stable position. You may close this issue.

[2016-11-08 10:34] vvranjek commented on #4609
No. I think the issue was that something else was using one of the serial ports, thus mavlink was unable to terminate the instance.

[2016-11-08 13:59] kd0aij commented on #5726
I hit this again yesterday trying to do a commit using Eclipse. I had added new sourcefiles (see https://github.com/PX4/Firmware/pull/5821). Eclipse displayed a large popup with what looked like a binary file displayed as text when I attempted to commit using the git staging tab. Sorry I didn't think to take a screenshot, but the banner must have said the commit hook failed. I shifted to a bash sh

[2016-11-08 14:00] davids5 commented on #1619
It may be,

The best way to know is build with -Wundef to ferret out any any remaining.

The fix is simple enough see if the warnings can be remedied with an alternate construct of
#if defined(XYZ) #if XYZ==PQT .... #endif #endif or such.

[2016-11-08 14:13] davids5 commented on #4604
Yes. There is.

I agree that setting the whole nuttx tree as a dependency, seems like it would bog the build for most devs, when I only need it. -

But if you can have a look at nuttx_v3 and check the above list of dependencies (TODO) works correctly and then ensure that rsync does a copy on changes would help.

Thank you!

[2016-11-08 14:19] davids5 commented on #5726
@kd0aij

It look like the hooks run a diff test for EOL, and EOL on an  empty line at the end of a file when a new file first committed.

So it should be simple to reproduce the error on a test branch.

[2016-11-08 15:15] bkueng commented on #5811
Looking at the source, this is quite old code, that hasn't been maintained and reworked for SITL Posix. The first step would be to replace the `exit(0)` calls with `return 0`, but there may be more steps necessary to make it work.
It does not crash, it just exits the whole `px4` process instead of only a single thread.

[2016-11-08 15:33] LorenzMeier commented on #5291
It needs a new message and the vehicle sending the current VTOL attitude for user display.

[2016-11-08 15:43] #4609 closed

[2016-11-08 15:43] #4833 closed

[2016-11-08 16:03] dagar commented on #5824
LAND contains the coordinates where you want to land, not where to begin landing. In FW it calculates the slope and altitude to flare at so that you hopefully hit the ground near the LAND waypoint.

It seems to me it should be possible as a user to configure only the last X meters of MC land to respect landing descent speed, but otherwise behave like a normal position setpoint (including FOH and d

[2016-11-08 16:06] AndreasAntener commented on #5824
It's not that simple, as @dagar stated.

For MC/VTOL I agree, the altitude should be respected first, then land from there.

[2016-11-08 16:23] dagar commented on #5824
Isn't it ultimately the same thing if the user specifies the coordinates where to land or specifies the coordinates where to begin landing? Either way the implication is the user knows roughly where the ground is to setup a safe landing. The vast majority of MC flights are takeoff and land at home (relative alt 0).

Why change the semantics of MAV_CMD_NAV_TAKEOFF between FW and MC?

[2016-11-08 16:26] dagar commented on #4066
Yes! Thank you.

[2016-11-08 16:31] AndreasAntener commented on #5824
If treated as ground altitude, can you explain how you imagine the MC to land in that case?

[2016-11-08 17:23] AndreasAntener commented on #5824
@sanderux I think @dagar has a good solution. We discussed we will treat the altitude on LAND and VTOL_LAND as the position where you want to land (ground, default relative 0) and add a parameter to specify the approach altitude **relative to the landing waypoint altitude**. That way a multirotor and a VTOL can approach at a safe altitude (for instance default to 15m for MC, 30m for VTOL), descend

[2016-11-08 18:50] dagar commented on #5726
Oh, okay so it's just the pre-commit hook checking whitespace errors on all
files here - https://github.com/PX4/Firmware/blob/master/Tools/
pre-commit#L50
It should only be running astyle (without modifying) on appropriate files
in src/.

On Tue, Nov 8, 2016 at 9:19 AM, David Sidrane <notifications@github.com>
wrote:

[2016-11-08 18:55] dagar commented on #5726
I understand it was a bit confusing to have it pop up in eclipse, but is `git diff --check` ever wrong? It's supposed to only error if you introduce whitespace errors.

On the command line you can always do `git commit --no-verify`.

[2016-11-08 19:05] kd0aij commented on #5726
I didn't now about `git diff --check` but it doesn't complain now.

[2016-11-08 19:07] dagar commented on #5726
There would have to be a current diff (something not yet committed or staged).

[2016-11-08 19:08] kd0aij commented on #4910
@davids5 I'm trying to figure out how to make a px4fmu-v3 config which differs from v2 only in the linker script. But I can't find anything similar in nuttx_v3; could you point me in the right direction?

[2016-11-08 19:10] kd0aij commented on #5726
I had a bunch of unstaged changes when I ran the diff.

[2016-11-08 19:13] dagar commented on #5726
Right, but previously if you had stumbled across a particular problematic case that change is no longer around to test.

Do you still think there's a problem here?

[2016-11-08 19:32] davids5 commented on #4910
I think it is the same as you did for https://github.com/PX4/Firmware/pull/5821 but just use the /src/driver/boards/px4fmu-v2 in the cmake/configs/nuttx_px4fmu-v3_default.cmake

See https://github.com/PX4/Firmware/pull/5821/commits/43a7f83d1784f931d39bdadd96c92083a3e33d25

[2016-11-08 19:35] kd0aij commented on #5726
I can't reproduce it at the command line. No complaints from `git diff --check` or `make check_format`

[2016-11-08 19:37] dagar commented on #5726
Alright, ping me on gitter or skype if you hit a problem again and we'll take a closer look.

[2016-11-08 19:37] #5726 closed

[2016-11-08 19:51] kd0aij commented on #4910
It seems that include paths are constructed using the target name:
[code]

[2016-11-08 19:53] LorenzMeier commented on #4910
Yes, you need to duplicate that. But not the whole directory structure. In addition: You can just include the v2 header in your v3 config.

[2016-11-08 20:29] dagar commented on #5306
Weathervane during and possibly after quadchute?

[2016-11-08 20:46] squilter commented on #3245
Could just add to `MAV_PROTOCOL_CAPABILITY`, no?

[2016-11-08 20:55] kd0aij commented on #4910
@LorenzMeier Thanks, looks like that's working OK. I'll clean up my branch and reopen #5821 soon.

[2016-11-08 21:10] dagar commented on #3245
There are nearly 100 MAV_CMD's. http://mavlink.org/messages/common
One option could be grouping them into more general capabilities. Camera, mount, vtol, etc.

[2016-11-08 21:43] dagar opened #5830 "VTOL Takeoff weathervane"
Allowing VTOL to weathervane seems to be great, but it can be abrupt at takeoff depending on the wind. I think we should only allow it with some altitude.

[2016-11-08 22:15] dagar commented on #5830
@sanderux @AndreasAntener other than the first few seconds after takeoff and aligning to transition in the desired direction is there any reason we shouldn't have weathervane always on (optionally)? From what I've seen in logs it looks strictly better.

[2016-11-08 22:17] sanderux commented on #5824
@AndreasAntener @dagar
I see the usefulness of that specifically when the takeoff and land are not identical and there is a desire to use final approach speed. But i do also see once drawback; in this case there is no way to set the altitude of the FW waypoint that the VTOL_LAND command implies. If i fly at 150m but dont want to back transition at this altitude it would always need an intermediate

[2016-11-08 22:25] sanderux commented on #5830
I have no objection to the param, but i would not like to enable it by default. A VTOL that hovers for any other reason than takeoff or land will likely be carrying a camera and heading is quite important for that.

VTOL_TAKEOFF and VTOL_LAND has a weathervane param already. That would only leave a regular transition command suffering from bad behavior after it completes transition and still has t

[2016-11-08 22:26] sanderux commented on #5306
good idea

[2016-11-08 22:26] sanderux commented on #5830
ref; https://github.com/PX4/Firmware/issues/5306#issuecomment-259250341

[2016-11-08 23:04] dagar commented on #5824
I guess I just disagree that VTOL_LAND currently implies a FW altitude. The command only says "land using VTOL mode". It's the same way MAV_CMD_NAV_LAND works now for both FW and MC. The end user/operator enters the position (on the ground) where they'd like the vehicle to go, not the position in the air where they'd like landing to start.

LAND and VTOL_LAND behave the same way because of additio

[2016-11-08 23:19] dagar commented on #5830
Disagree on the any other reason part, but yes it would definitely be off by default.

Any thoughts on requiring some altitude first?

[2016-11-08 23:29] sanderux commented on #5830
I dont see yawing directly after takeoff as a problem. Indeed it shows the user clearly where it will transition towards.

[2016-11-08 23:34] sanderux commented on #5824
From a pure MC point of view, i even consider the regular LAND command's altitude implies "fly here at this altitude and then land'. But thats purely from a UX point of view. If the spec disagrees on logical behavior then i would rather change the spec then change the behavior to comply with a spec if that makes it do illogical stuff.

But maybe i'm wrong on what users expect to happen.

[2016-11-08 23:40] dagar commented on #5830
The problem is if part of the vehicle is still touching the ground.

[2016-11-09 00:50] dagar commented on #5824
That's not how LAND works for either MC or FW.

When starting MAV_CMD_NAV_LAND the current altitude is maintained until above the land, and then the z velocity is forced to MPC_LAND_SPEED. The description of MAV_CMD_NAV_LAND is "Land at location". If you look at MAV_CMD_NAV_LAND_LOCAL it's even more explicit. Instead of altitude you provide "Z-axis / ground level position [m]".

If you set your LA

[2016-11-09 07:40] sanderux commented on #5824
@dagar i know it is not how it works now. My point was that i think it is how the user expects it would work. The question is if the way it works is how it should work.

[2016-11-09 19:26] DonLakeFlyer commented on #3245
Maybe a list of ids not supported in response to AUTOPILOT_VERSION using a mav 2 extension?

[2016-11-09 19:47] dagar commented on #3245
What were you imagining? A variable length array of MAV_CMDs? I suppose we only have to send it once in response to the GCS requesting the list.

[2016-11-09 19:48] DonLakeFlyer commented on #3245
Yup.

[2016-11-09 22:02] tubeme commented on #4438
I will try it in the coming weeks with another plane I'm preparing for this tests. If it is not corrected this is HUGE issue for sure. Especially for auto take off and landing on runway. I will try it and report thanks.

[2016-11-09 22:22] LorenzMeier opened #5833 "Sense if SiK (3DR Radio) Firmware supports MAVLink 2"
If the user is using an SiK radio (or other radio) and its Firmware is not recent (how do we tell these radios support MAVLink 2?) PX4 should not announce MAVLink 2 capability through that channel.

[2016-11-10 01:12] dagar commented on #4438
We can definitely fix it, especially if you're able to easily reproduce the issue and test potential fixes. Flaps aren't currently part of FW takeoff, but that's an easy change we can talk about once this issue is resolved.

[2016-11-10 06:56] #5756 closed

[2016-11-10 06:58] julianoes commented on #5756
@CarloWood @mcharleb @jywilson the fix/workaround has gone in, thanks everyone!

@CarloWood Feel free to make a PR to improve the overall linking scheme. I'm afraid, I don't have time to look into it at the moment.

[2016-11-10 14:53] pietrop88 opened #5835 "MavROS telem2 not able to arm and "Vehicle did not respond to request parameter" message."
Hi all,

I run `roscore` on my pc and I have a pixhawk with px4 v1.4.4 connected to the pc through wifi and mavros. Mavros runs on a Edison board on the uav.
This is my launch script:

[code]
If I run it, I am able to see all the ROS messages that MavRos streams. This is the `/diagnostics` topic:
[code]
In QGroundControl, I am not able to arm the uav or to change the flight mode. Furthermore, QGro

[2016-11-10 17:27] vooon commented on #5835
Check electrical connection on **Edison Tx → TELEM2 Rx**. Try to sniff that line with logic analyser (or USB-UART Rx pin), check that Edison actually send data (connect Rx-Tx to test loopback).

Also date on Edison looks weird, install NTP daemon.
[code]

[2016-11-10 17:32] vooon commented on #5835
Note that `sys_time` (timesync driver) has magic timestamp *1234567890* (`2009-02-14T02:31:30+03:00`) to verify correct date is set.

[2016-11-10 23:14] GabrielKoenig opened #5836 "Pixhawk Mini -> No Sensor recognized"
I have a problem with the new 3DR Pixhawk mini. Connecting it in QGC gives me the following message: "Parameters missing from firmware: -1:Cal_GYRO0_ID,-1:CAL_ACC0_ID,-1:CAL_GYRO0_ID,-1:CAL_GYRO0_ID: You may be running an older version fo firmware QGC does not work correctly with or your firmware has a bug in it." I have already updatet the newest QGC version and loaded the newest Firware of PX4 f

[2016-11-11 05:05] nickhuan commented on #5713
Hi Julian, I successfully get the IMU data in rostopic by running mavros as you suggested. Thanks a lot.
I think we can close this issue now. :) :+1:

But I got another problem while running the px4 without using a SD card:  no space left on device and cannot delete the log files generated by XP4. I've asked it in the forum http://discuss.px4.io/t/snapdragon-flight-delete-log-files-generated-by-px

[2016-11-11 05:05] #5713 closed

[2016-11-11 05:14] sytelus opened #5837 "SERVO_OUTPUT_RAW causes payload size mismatch error in jMavSim"
As per 1.0 specs there should be 16 servo fields in SERVO_OUTPUT_RAW so that payload size is 37. However PX4 sends message with only 8 servo fields so that payload size is only 21. This cause exception in jMavSim that gets silently ignored because jMavSim validates if payload is 37 bytes.

Further looking in to this, I found that common.xml in MavLink defines the SERVO_OUTPUT_RAW message with <ext

[2016-11-11 07:10] CarlOlsson opened #5838 "download/GCS link is "broken" on px4.io"

[2016-11-11 09:59] pietrop88 commented on #5835
I have a problem with the connection **Edison Tx → TELEM2 Rx**.
Thank you very much.

[2016-11-11 11:58] liaoytal commented on #5411
Hi LorenzMeier:

   We also met the same problem. Optical Flow Indoor test.
   Position hold mode; the copter 'trembles' . The issue goes away when switching to ALT mode.

   The log file
https://drive.google.com/file/d/0B1tTxziAQDlnWFg4blNNTkV1RVU/view?usp=sharing

 We trying to modify some parameters
 LPE_ACC_XY, LPE_FLW_XY,MPC_XY_P...
 But it is no use.

[2016-11-11 14:21] NCharabaruk commented on #4190
Was this ever looked into further? I am using a PX4 on a hexacopter. I'm generating a pose estimate using hector mapping and the elevation comes for a sonar sensor. I republish this pose to /mavros/vision_pose/pose. When I look at /mavros/local_position/pose the xyz are right, but the rotation is wrong. For some reason the local position is yawed by 180deg from what I tell it. As well, it drifts b

[2016-11-11 18:12] CarlOlsson commented on #5806
No I don't think I have any manual inputs on my phone, and I don't have the perf file, but it is very reproducible so will upload one.

[2016-11-11 18:13] CarlOlsson commented on #5807
No I did not have a joystick connected

[2016-11-12 01:01] dagar commented on #3137
Are you referring to approach_{x, y, z} in HOME_POSITION? What were you thinking for actually setting the vector? In particular for FW runway or hand launch.

[2016-11-12 04:10] dagar commented on #5838
Updated to http://qgroundcontrol.com/downloads/

[2016-11-12 04:10] #5838 closed

[2016-11-12 11:04] priseborough opened #5842 "Preflight checking of navigation health is weak"
Preflight checking does not make use of the EKF health data and dual sensors to detect sensor faults that would lead to loss of flight control after takeoff. The following should be added to PreflightCheck.cpp:

- Check of EKF horizontal and vertical velocity and position innovations.
- Check of EKF yaw innovation
- Check of EKF IMU bias estimates
- Where multiple IMU's are fitted, check for diffe

[2016-11-12 11:17] priseborough opened #5843 "Protection against fly-aways due to navigation yaw errors is weak"
An inflight check of velocity and magnetometer innovations is required to check for large yaw errors that at the moment will lead to a fly-away if a hovering type vehicle (eg multi-rotor) is left in a position or velocity control mode.

A typical scenario is takeoff in a multi-rotor wit.h an incorrect compass calibration or orientation

A  check is required to put the vehicle into a non-GPS mode f

[2016-11-12 13:31] LorenzMeier commented on #5817
Thanks for fixing!

[2016-11-12 13:31] #5817 closed

[2016-11-13 03:14] priseborough commented on #5842
I've created a prototype here: https://github.com/priseborough/Firmware/tree/pr-preFlightChecks

The next step is to enable pre-flight logging via parameter setting and enable adjustment of the thresholds via parameters.

I'm still trying to work out a way of accessing multiple instances of the IMU.

[2016-11-13 08:33] melisab commented on #5453
I tried again with the latest master a couple of days ago and I still cannot hover the standard VTOL plane in multicopter (ALT) mode. Any additional parameters that need to be setup perhaps?

[2016-11-13 08:38] priseborough commented on #5842
This will need to be reworked to move the processing into the sensors app because the preflight check is one-shot, but we need averaged/filtered values. I've made a start here: https://github.com/priseborough/Firmware/tree/sensorDataValidation-wip

[2016-11-13 08:57] mhkabir commented on #5453
@melisab Logs?

[2016-11-13 11:14] LorenzMeier commented on #5842
@bkueng Can you support this effort on the comms side? @dogmaphobic We will need your support for visuals in QGC.

[2016-11-13 11:14] LorenzMeier commented on #5842
@DonLakeFlyer Let us know if you have any canned pre-flight check visuals in QGC already we could be using.

[2016-11-13 11:21] dogmaphobic commented on #5842
I'll talk to Don and see about it. As of now, I have no idea where this would go.

[2016-11-13 12:05] AndreasAntener commented on #5842
We also had a quick look into this recently, the SYS_STATUS would contain sensor flags based on the enum `MAV_SYS_STATUS_SENSOR` here: https://github.com/mavlink/mavlink/blob/master/message_definitions/v1.0/common.xml#L399

But AFAIK they are never used/filled in PX4. Then I saw that Don already started pulling those in: https://github.com/mavlink/qgroundcontrol/pull/4206

Would those fields be su

[2016-11-13 16:40] diegostf commented on #5794
Same problem happens here, with plane configuration and passthrough channel 5 to AUX1, for flaps.

[2016-11-13 17:03] CarlOlsson commented on #5752
![1](https://cloud.githubusercontent.com/assets/7795133/20247389/5ace35b2-a9cb-11e6-9eb4-407c26777a54.png)
![1](https://cloud.githubusercontent.com/assets/7795133/20247391/5e590766-a9cb-11e6-82ab-1e10dae6e380.png)
On friday this happened 2 out of 16 flights on another pixracer

[2016-11-13 18:22] cjepple commented on #3666
I've got a couple related issues with the LidarLite 3 and I2c. Using build 1.5.0dev. The ll40ls pwm starts automatically, so in nsh I stop the ll40ls pwn version, and start the o2c version. It shows up as /dec/ll40ls_ext I can run a test with -X and I get back valid data and passes test. However, when I look at Maclink Inspector, I'd expect to see the distance sensor displaying the lidar data, but

[2016-11-13 18:44] LorenzMeier commented on #4910
Done.

[2016-11-13 18:44] #4910 closed

[2016-11-13 18:45] LorenzMeier commented on #5277
@DonLakeFlyer Current state with UAVCAN enabled:

<img width="1392" alt="screen shot 2016-11-13 at 19 25 42" src="https://cloud.githubusercontent.com/assets/1208119/20247936/b3ea2a80-a9d9-11e6-8357-9ed281f96f67.png">

[2016-11-13 18:51] LorenzMeier commented on #5277
@mhkabir @pavel-kirienko Can you re-test on master?

[2016-11-13 18:55] dagar opened #5848 "FW takeoff acceptance criteria"
I've seen a few different people make this same mistake independently. Plan a full mission with takeoff, waypoints, land. Takeoff manually for some reason and then switch to mission in air and not understand why it's diving to hit the takeoff waypoint.

@AndreasAntener @LorenzMeier any objection to modifying FW takeoff to accept any altitude > setpoint + acceptance alt? That should allow a regular

[2016-11-13 19:23] LorenzMeier commented on #5848
Seems ok, yes.

[2016-11-13 19:45] CarlOlsson commented on #5143
@priseborough
Hi Paul,

I have now flown the Phantom wing maybe 15 times and the estimator is performing all fine. However, as soon as I do a replay log and replay it the estimator diverges, in the way I have explained in this issue. Could you please check if this only happens for me?
Replay log [here](http://logs.uaventure.com/view/SFtP25pmMJwTwRNwYZtoxd).

Normal logging
![figure_1](https://clou

[2016-11-13 21:17] dagar commented on #3834
What's the current state of this? Should we centralize the filtered airspeed and publish from sensors? Could we just use EKF2 and control state airspeed everywhere?

[2016-11-13 23:23] priseborough commented on #5842
I've got it to a point where it is working on the bench (I can change sensor offsets and get it to fail) so have submitted a PR so we can get some review and discusion.

[2016-11-14 02:38] priseborough commented on #5842
Creating a message that captures the data used for pre-flght checking would enable the same data to be both logged each time the check is run and also sent to the ground.

[2016-11-14 04:28] priseborough commented on #5143
What version of the software were you using for the flight? The EST5 message labels are incorrect.

[2016-11-14 07:40] CarlOlsson commented on #5143
@priseborough
Thanks Paul,

The log is the same as the one I posted [here](https://github.com/PX4/Firmware/pull/5763)
So it was with latest ecl master but also with the sidesilp in. That is strange because if I replay it with
EKF2_GPS_CHECK = 0 the estimator still "diverges":
![figure_1](https://cloud.githubusercontent.com/assets/7795133/20256771/de0c49bc-aa45-11e6-9903-44e922df9120.png)

EKF2_GPS

[2016-11-14 11:04] priseborough commented on #5143
I am testing using master at 5ad329b with EKF2_GPS_CHECK = 0 and it is not resetting the position. I always do a make clean before running replay to wipe the old replay_params.txt file. Please provide a commit hash if you want me to confirm results.

[2016-11-14 17:32] aitjellal opened #5854 "How to check which Firmware release (version) is flashed on my Pixhawk FC"
Dear All,
I need to check which Firmware release (version) is flashed on my Pixhawk FC.
- I can access my Pixhawk using both : Qgroundcontrol and MAVROS
- no NuttShell
best regards

[2016-11-14 18:14] NCharabaruk commented on #5008
Has this been looked into any further?

[2016-11-14 18:21] julianoes commented on #5008
I still think this is all correct. I'm waiting for somebody showing me proof of the opposite :)

[2016-11-14 18:26] julianoes commented on #5854
In QGC you should open the mavlink inspector widget and look out for http://mavlink.org/messages/common#AUTOPILOT_VERSION or if you can access mavlink shell using Tools/mavlink_shell.py (instead of QGC), then you can use the command `ver all`.

[2016-11-14 18:33] GabrielKoenig commented on #5836
Additional Informations:
I have three Pixhawks Mini. Two of them show the same error described above.
The third Pixhawk seem to work better. I can calibrate the Gyro and Accel, but no chance with the Compass. When I startet with the calibration of the compass first (all other sensors aren't yet calibrated), the following error message occurs: "ERROR: Retry Callibration (sphere NaN, 0), Critical [c

[2016-11-14 18:51] NCharabaruk commented on #5008
So it's normal for the yaw being shown by /mavros/local_position/pose to be 180deg off from that being published to /mavros/vision_pose/pose?

[2016-11-14 20:28] aitjellal commented on #5854
Thank you @julianoes ,
I still could not solve the problem:
1 -  Using python script:
I have downloaded the Firmware source and  compiled using CatKin then
when I try to start the python script:  it does not connect. This is what I get. (my pixhawk Baud is set to 921600)
`$ python mavlink_shell.py -b 921600 /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_AL01OWID-if00-port0`
` Using MAVLink 1.0`
`Conne

[2016-11-14 21:24] julianoes opened #5855 "FMUv1 hangs on boot"
FMUv1 fails booting with master. This was reported in http://discuss.px4.io/t/mpu-sensor-problem/1667.

`git bisect` points to c24046ca5bcfc220b579ab5229af8fbf5010816c
[code]

[2016-11-14 21:37] LorenzMeier commented on #5855
I reviewed the diff and compared to other configs - we came up with final numbers close to the tested original. I've undone the commit, fixed in 0ca397ab2046c2a2a71b3ca758e1cbb6f80a87fb.

[2016-11-14 21:38] LorenzMeier commented on #5854
Your QGC is hopelessly outdated and so is your PX4 version. Upgrade to PX4 1.4.4 or later and QGC 3.1 or later. The autopilot version field will work then. You can also run `ver all` on the shell.

[2016-11-14 21:38] #5854 closed

[2016-11-14 22:43] julianoes commented on #5855
I wouldn't go as far as undoing the whole commit especially because it negatively affects tap.

I would go with just #5856.

[2016-11-14 22:47] julianoes commented on #5008
I don't know what's normal :) but if you point me to a field which is not according to the specs I'll believe it. So please dig out the specs for the mavros fields that you cite and we can check if it's correct.

[2016-11-15 02:54] haitanyise opened #5857 "compass calibration error : out of memory."
![image](https://cloud.githubusercontent.com/assets/14901732/20291449/4da614ac-ab21-11e6-8de1-f9b6e5fa8f02.png)
 firmware: v1.5.0  hardware: PX4FMU_V4.
When I use uavcan GPS, compass error of calibration.

[2016-11-15 06:16] cynthiamoon commented on #4212
how to insert another PX4 model on gazebo?

[2016-11-15 07:10] #5855 closed

[2016-11-15 09:29] mkschreder opened #5862 "How much of the firmware code is tested?"
How much of your codebase is it that is currently being fully covered by unit tests? (besides some libraries like matrix)

[2016-11-15 14:51] pavel-kirienko commented on #5857
As a quick workaround, you could disable dynamic node ID allocation by setting `UAVCAN_ENABLE` to 1, and assign the node ID of your GNSS receiver manually.

[2016-11-15 14:56] pavel-kirienko commented on #5277
There were reports of `Dynamic ID / Update` being silently reset to `Motors / Update`, which I couldn't reproduce. Can anyone confirm that?

Re testing, I should probably be able to do it later.

[2016-11-15 15:43] LorenzMeier commented on #5277
@pavel-kirienko I can't see how this should be happening. But I did clean up the enable params here: https://github.com/PX4/Firmware/pull/5866

[2016-11-15 16:11] eyeam3 opened #5867 "RAM usage on VTOL"
I ran into some issues regarding RAM usage when using a VTOL airframe in combination with UAVCAN. If I switch to a generic quadrotor as airframe, I did not have these issues.

Subsequently, a comparison of memory usage on VTOL and multirotor when the UAVCAN is not activated.
Generic VTOL:
[code]
Generic quadrotor:
[code]

[2016-11-15 16:13] mhkabir commented on #5867
Related : https://github.com/PX4/Firmware/issues/5857

[2016-11-16 02:14] dagar commented on #5862
Hard to say. There are some tests here (https://github.com/PX4/Firmware/tree/master/src/systemcmds/tests) and here (https://github.com/PX4/Firmware/tree/master/unittests) that run in the builds every pull request, but the coverage is probably fairly low. We also have mission tests that run every build. They use multicopter, fixedwing, and vtol controllers and cover a huge amount of the core codeba

[2016-11-16 06:04] julianoes commented on #4212
@marianobianchi has this been resolved or is it still an issue?

@cynthiamoon what exactly do you want to do?

[2016-11-16 07:06] mkschreder commented on #5862
Interesting with the mission tests. It should not be very hard to enable
gcov/lcov coverage reporting on all tests that run during build. However I
doubt that mission tests test extreme case behaviours for various
components so even if they may cover code they may not exhaustively cover
data range scenarios.

I'm obviously interested in adding unit tests to all components but for px4
it would be a

[2016-11-16 07:30] anton-matosov commented on #4791
I get this problem for SITL+gazebo. Simulator hangs in src/modules/simulator/simulator_mavlink.cpp on the call to `openUart`. I have tried Pixhawk and Pixracer, hangs in both cases and hangs forever.

[2016-11-16 09:59] cynthiamoon commented on #4212
@julianoes i read this.[https://github.com/PX4/sitl_gazebo/pull/30](url).i want to run multiple autopilots  in one SITL gazebo.i know different physical objects in Gazebo must have different names.i don't  know how to add another autopilots on one SITL gazebo.

[2016-11-16 10:44] sanderux opened #5870 "Implement groundspeed_undershoot for flying without airspeed sensor"
Currently groundspeed undershoot changes the target airspeed
https://github.com/PX4/Firmware/blob/master/src/modules/fw_pos_control_l1/fw_pos_control_l1_main.cpp#L1015

When flying based on throttle setting this would be bypassed and risk fly-aways

[2016-11-16 14:53] LorenzMeier commented on #5277
Seems to be all fixed.

[2016-11-16 14:53] #5277 closed

[2016-11-16 15:14] LorenzMeier commented on #5857
@haitanyise Try again with current master, not the 1.5 RC.

[2016-11-16 16:12] julianoes commented on #4212
I don't know how this works but a pointer is here: https://github.com/PX4/Firmware/blob/master/Tools/sitl_multiple_run.sh

The point is you also need the PX4 simulator, etc. to run for every model, just adding a model in Gazebo won't do it.

[2016-11-16 20:59] dagar commented on #5824
Internally QGC has simple and complex mission items. Complex mission items are multiple nav commands, but treated together as a block in QGC.

So I think we'd have a complex item for land that would be final waypoint + land waypoint.
This is something I wanted to do in QGC anyway for a FW landing.

https://github.com/mavlink/qgroundcontrol/issues/3934

[2016-11-17 00:27] dagar commented on #5862
It would be great to establish a baseline with gcov/lcov. Let me know if you're interested in adding it to the builds. We have additional capacity on semaphoreci right now.

I think a lot of the difficulty is knowing how to test something. We have an okay test framework, every commit builds, but it oftens seems quite difficult to add testing.

One interesting thing with PX4 is that every module (h

[2016-11-17 00:51] dagar commented on #5870
Isn't TECS only using potential energy with airspeed disabled?

[2016-11-17 11:42] mkschreder commented on #5862
How come "make check" builds arm targets? Shouldn't it only build native? Also, what is the correct place to add LINK_FLAGS or COMPILE_FLAGS but only to all modules when building test/sitl target? I don't think adding it in px4_add_module would be entirely correct because I only want to add certain flags for a native build. Any ideas?

[2016-11-17 16:31] davids5 commented on #5862
make check is for CI build testing, @dagar where are these defined?

[2016-11-17 18:45] dagar commented on #5862
How about in here? https://github.com/PX4/Firmware/blob/master/cmake/posix/px4_impl_posix.cmake#L179

The idea with `make check` is to build everything we care about and make it easy for developers to match CI. `make tests` will be posix_sitl_default and run the testing, but I haven't added mission tests to it yet.

[2016-11-17 21:51] mzahana commented on #5809
I implemented a velocity controller to control altitude and velocities in body fixed frames (with simple projection from local to body frame using yaw angle). This is done in python+MAVROS. It works very well.

[2016-11-17 21:51] #5809 closed

[2016-11-17 23:29] mkschreder commented on #5862
Interesting.. so apparently UNIX is not LINUX. :-) I had to add my definitions in the else block instead.

compiler: -fprofile-arcs -ftest-coverage --coverage
linker: -ftest-coverage --coverage -lgcov

    make tests

    lcov --directory . --capture --output-file coverage.info
    lcov --remove coverage.info '/usr/*' --output-file coverage.info
    lcov --list coverage.info
    genhtml coverage.i

[2016-11-17 23:37] dagar commented on #5862
Nice! Well, obviously not the coverage level, but at least we can start measuring.
Can you try running the mission tests?
http://sitl01.dronetest.io/job/PX4%20Firmware%20POSIX%20SITL%20PRs/2943/

Can we use a service like coveralls, or should we just dump the html on s3?

[2016-11-17 23:43] mkschreder commented on #5862
Yes you can use coveralls.

Travis file for coveralls upload:

[code]

[2016-11-17 23:44] mkschreder commented on #5862
@dagar how do I run the mission tests?

[2016-11-18 00:04] dagar commented on #5862
http://dev.px4.io/tutorial-integration-testing.html

It'll be a bit more complicated because we use containers, but we can definitely get this in the builds right away. We'll probably need to do it on semaphore instead of travis-ci due to capacity.

Can you open a PR to add the flags to the build behind some option to enable? Instead of putting the details in CI config can it be in the top level M

[2016-11-18 02:07] gjhave opened #5874 "Firmware make erro during "running dsdl compiler""
Hello guys:
      As the topic and picture below, I need your help! I just clone the code yestoday.

![11](https://cloud.githubusercontent.com/assets/23455362/20415734/33d867fe-ad75-11e6-97cf-bdfca2aa628b.png)

[2016-11-18 04:08] dagar commented on #5874
Can you retry after a full clean? In my experience building on windows frequently has intermittent problems like this. I recommend you use Ubuntu in Virtualbox or VMWare.

    make distclean
    make px4fmu-v2_default

[2016-11-18 12:48] haitanyise commented on #5857
I tryed the latest master branch today and  found new problems.
1. can't download onboard sd card file.

[2016-11-18 12:53] haitanyise commented on #5857
I tryed the latest master branch today and  found new problems.
1.Can't download onboard sd card file.
2.Uavcan cannot allocate dynamic ID.
3.Vtol airframe sensors can't calibration properly.
![image](https://cloud.githubusercontent.com/assets/14901732/20430717/e8e094c2-add0-11e6-801b-9848ce8c4e46.png)

[2016-11-19 02:21] haitanyise opened #5881 "Can not download sd card file"
I tryed the latest master branch yesterday and found new problems.
1.Can't download onboard sd card file.
2.Uavcan cannot allocate dynamic ID.
3.Vtol airframe sensors can't calibration properly.
![image](https://cloud.githubusercontent.com/assets/14901732/20452313/d4dca648-ae41-11e6-8fb3-80e531b0da30.png)

[2016-11-19 13:55] #4751 closed

[2016-11-19 14:12] #5842 closed

[2016-11-19 14:43] #2823 closed

[2016-11-19 14:44] #3137 closed

[2016-11-19 14:45] LorenzMeier commented on #4604
1.6.0 is all about NuttX updates.

[2016-11-19 14:45] #4957 closed

[2016-11-19 14:45] #5008 closed

[2016-11-19 14:46] #3152 closed

[2016-11-19 14:50] #3732 closed

[2016-11-19 14:51] LorenzMeier commented on #3424
Done!

[2016-11-19 14:51] #3424 closed

[2016-11-19 14:51] #4842 closed

[2016-11-19 14:51] LorenzMeier commented on #3816
Duplicate.

[2016-11-19 14:51] #3816 closed

[2016-11-19 15:33] davids5 commented on #4604
@dagar - we need to resolve the || build issues.

https://travis-ci.org/PX4/Firmware/jobs/177273456

[2016-11-20 04:52] dagar commented on #4604
I'll try to reproduce locally.

[2016-11-21 01:44] lhc610github opened #5887 "RPi3: high cpu utilisation when auto start"
Hi I have successfully running PX4 with Navio2 on RPi3.
Now i have issues with auto starting this program as soon as the RPi3 has booted.:
added the binary execution to rc.local
cd /home/pi && ./px4 px4.config > startup.log
It can successfully start the px4 program, but cpu utilisation is much higher than just start this program from shell or ssh. I couldn’t figure out . Could this be a linux dist

[2016-11-21 09:01] LorenzMeier commented on #4095
@bkueng @priseborough I think we should figure out how to do this.

[2016-11-21 09:58] VTOLDavid commented on #4597
I've found the same issue.  Any idea?? @tumbili @davidvor

[2016-11-21 11:17] aitjellal opened #5889 "Quadcopter (offboard control) never reach Z destination, Quad stays above the desired Z"
Dear All,
I have an issue with tunning my Quadcopter PID parameters.
I tried many releases
( I did not try the 1.5.0 rc and 1.4.4  because with theses releases the Quadcopter crash immediately after takeoff. Not a severe crash. The Quadcopter fly in +Y  and keep flying. I set the desired point xyz=(0, 0, 1)  ).

Quadcopter (offboard control) never reach Z coordinte destination, The quadcopter fly

[2016-11-21 11:36] mzahana commented on #5657
I am facing the same problem. Where is this bridge that needs to be soldered to make the rover module work with Pixhawk?
Thanks.

[2016-11-21 16:43] klopezal commented on #5657
There it is :

![img_2794](https://cloud.githubusercontent.com/assets/17044886/20491497/e1bc6d22-b011-11e6-9222-93bfc252d8ae.JPG)

[2016-11-21 16:54] mzahana commented on #5657
Thanks. In fact, I am using WiFi to connect to Pixhawk. The pixhawk is connected to Odroid which runs mavros that connects to QGC. So , I am not using a dedicated telemetry between the rover and the base. I just connected the rover's serial port to GPS port on Pixhawk. Connected the base via usb to QGC. Is that enough, or there is something missing. For that setup, do I still need to solder the br

[2016-11-21 17:04] klopezal commented on #5657
Your setup looks right,  you need to solder the bridge in order to have the autoconfiguration + RTCM packets going directly to the GPS.

[2016-11-21 17:22] mzahana commented on #5657
Do I need to do any more configurations to the rover module using U-Center?

I played a lot with it and changed configuration as explained on the website:
https://drotek.com/en/tiny-rtk-documentation/

How to load the default configs?

Thanks.

[2016-11-21 17:26] mzahana commented on #5657
I guess Pixhawk is still not able to talk to Pixhawk, even after the soldered bridge. I logged into the pixhawk shell, and ran the gps commands. Here is what I get,

[code]

[2016-11-21 17:32] klopezal commented on #5657
In order to load default config, on U-Center go under View -> Configuration View -> CFG and select Revert to default configuration :

![ucenter](https://cloud.githubusercontent.com/assets/17044886/20493298/79eaf34c-b018-11e6-90ee-c11a976b4d35.png)

and click on Send.

Have you checked that TX and RX are correctly connected and not inverted?