[2016-04-25 20:48] jgoppert commented on #4352
@ecmnet Ok, that looks good, but you still have issues while flying correct? So that must be related to the setpoint issue.

[2016-04-25 20:54] ecmnet commented on #4352
@jgoppert I just tried to reset all params, re-calibrated sensors. Could it be that there was a parameter mess, when flashing the latest master? I'll do another test-flight tomorrow.

[2016-04-26 05:39] ecmnet commented on #4352
After resetting parameters, altHold works again. Closing this issue

[2016-04-26 05:39] #4352 closed

[2016-04-26 06:03] ecmnet opened #4368 "Single motor does not start when arming"
Currently I face a strange behavior regarding PWM output when arming. When I arm after rebooting, all motors start up as expected and I can fly normally without any issues. But when I try to arm after landing and disarm, it happens sometimes that one of the motors does not start-up. This still occurs after recalibrating the ESCs. What could be the reason for this?

[2016-04-26 07:00] LorenzMeier commented on #4364
This was on stable, correct? We have reworked this part of the flight mode assignment on master.

[2016-04-26 07:08] gianni-carbone commented on #4364
It was on the github source at the moment of writing message (after the time of compiling) I don't know if the issue is present on stable version.

[2016-04-26 07:11] #4364 closed

[2016-04-26 07:15] julianoes commented on #4356
The problem is essentially that the local list of changed parameters on the DSP side is not kept up to date with what is changed from looking at the shared memory.

The local list not in sync is `param_values` in https://github.com/PX4/Firmware/blob/master/src/modules/systemlib/param/param_shmem.c#L971.

If you do `qshell show param PWM_DISARMED` it will update the local list and realize that it h

[2016-04-26 07:19] LorenzMeier commented on #4356
We need a param update / check API on the DSP side and then register it with the existing always-running daemons (e.g. the HRT) to run regularly.

[2016-04-26 07:22] julianoes commented on #4356
But that would cause a race with the param save because you want to do the update before you do a save.

[2016-04-26 07:23] LorenzMeier commented on #4356
The right way to do this is to establish a lock so they can't race and of course always run the param update before a save.

It actually sounds like this is all what you need to do for now, since the param changed publication makes it to the DSP and we don't need a background process?

[2016-04-26 07:27] julianoes commented on #4356
Ok, right. So I guess, the param update needs to loop through all params and check whether they have been changed. I'm trying to find the param from looking at the changed bit, that would be less cycles.

[2016-04-26 07:54] LorenzMeier commented on #4330
@priseborough @tumbili Could you look into the attitude drift when mag fusion is disabled? We would expect only a slow yaw drift, not a fundamental issue. This is very relevant for urban environments and it would be very helpful to resolve.

[2016-04-26 08:05] LorenzMeier commented on #4330
I've replaced this issue with https://github.com/PX4/ecl/issues/108

[2016-04-26 08:05] #4330 closed

[2016-04-26 08:59] #4356 closed

[2016-04-26 11:20] ecmnet commented on #4368
Was ESC hardware issue.

[2016-04-26 11:20] #4368 closed

[2016-04-26 14:22] julianoes opened #4371 "Compilation error with Ubuntu 16.04"
[code]

[2016-04-26 14:30] LorenzMeier commented on #4371
Needs to use PX4_ISFINITE (negated!) instead. Isnan should be used as it misses inf.

[2016-04-26 20:15] #4371 closed

[2016-04-27 03:53] priseborough opened #4378 "EKF2 replay logging is broken."
Every 10th or so value of RPL1.t is zero which breaks replay.

[2016-04-27 06:01] julianoes commented on #4342
I have not seen this since. Closing for now.

[2016-04-27 06:01] #4342 closed

[2016-04-27 06:02] julianoes commented on #3769
This has changed, hasn't it?

[2016-04-27 06:02] julianoes commented on #3733
This has been fixed, closing.

[2016-04-27 06:02] #3733 closed

[2016-04-27 08:57] AndreasAntener opened #4379 "Zubax GNSS v1 and UAVCAN stale mag data"
UAVCAN with Zubax GNSS v1 on stable (1.2.0) blocks parameter loading in QGC, but that's working on master

After calibration on master the sensor voter reports mag failover while sitting on the ground (also with stable).

[code]

The log message I get is MAG#1 stale data

[2016-04-27 11:55] mhkabir commented on #4379
You're running outdated firmware on the GNSS.

The firmware doesn't publish the mag at a high rate, which causes this.

There is a parameter on the GNSS side which controls the rate, you need to increase it. The latest firmware has this fixed by default :)

[2016-04-27 12:00] AndreasAntener commented on #4379
@mhkabir thanks for the hint, I could only find this: https://zubax.com/news/zubax-gnss-firmware-update-v20 . Is that the latest binary available or do I have to compile it from source?

Haven't updated it with the binary yet though.

[2016-04-27 12:01] AndreasAntener opened #4381 "UAVCAN doesn't start without SD card"
The firmware update checker fails and exits the start process. I guess that could be disregarded?

[2016-04-27 12:07] mhkabir commented on #4381
Its needs to create create a file on the sdcard, IIRC.

[2016-04-27 12:08] mhkabir commented on #4379
Yeah I think that's the latest. @pavel-kirienko?

[2016-04-27 14:15] devbharat commented on #4378
@tumbili is the fix up somewhere ?

[2016-04-27 15:19] nacho-carnicero opened #4383 "Can not start sensors application on Raspberry Pi"
Hi,

I am having some troubles with making the PX4 firmware working on the Raspberry. I cross-compiled the firmware and uploaded it to the board and was able to execute it. Nevertheless, I am having troubles when starting some applications. For example when I start the sensors application by
[code]
I get the following error:
[code]

I also get errors when running Mavlink, indeed I get the same err

[2016-04-27 18:17] devbharat commented on #4378
I broke the replay message in separate parts for different sensors, had them all in the union except the one for IMU, which was its own struct. That solved it for me, not sure if its the best solution.

[2016-04-27 21:26] devbharat commented on #4378
I finally have ekf2_replay working with vision on master. Something is weird though, I have to overwrite the length of LOG_ATT_MSG in ekf2_replay like this:

    // data message
    int length;
    if(header[2] != LOG_ATT_MSG){
        length = _formats[header[2]].length;
    } else {
        length = 55;  // ATT has length 55, force it!
    }
    if (::read(fd, &data[0], length - 3) != length - 3

[2016-04-27 22:23] davids5 opened #4386 "Drive the submodule checks from the cmake - remove redundant list in Tools/check_submodules.sh"
This for the nuttx_next_cmake merged from master....

remove the module list from here
https://github.com/PX4/Firmware/blob/nuttx_next_cmake_master/Tools/check_submodules.sh#L77-L91

Is is best driven by:

https://github.com/PX4/Firmware/blob/nuttx_next_cmake_master/CMakeLists.txt#L255-L266

and tested in px4_add_git_submodule
https://github.com/PX4/Firmware/blob/nuttx_next_cmake_master/cmake/comm

[2016-04-27 22:30] davids5 opened #4387 "Optimize travis again - gain by orb message generation and a symlink?"
To not use up all the Flash on smaller devices  - The nuttx_next_cmake (_master) scopes the parameters generation based on the modules used by a target.  So this build step is needed per target and is currently done per target.

But is seams there may be a gain **possible** in orb message generation and a symlink - Needs investigation

[2016-04-27 22:43] davids5 opened #4388 "Align the way the DriverFramework is pulled into the build with other components."
Currently there exists DF_TARGET and df_driver_framework is assumed to be need by all target with the special configuration for nuttx.

See https://github.com/PX4/DriverFramework/blob/2eccd3dfb376375e98fcf2c2061c560b37e05af7/framework/src/CMakeLists.txt#L36

the src/lib/DriverFramework should just be added to the cmake/configs/<>.cmake that need it,

This becomes very evident in nuttx_next_cmake a

[2016-04-28 00:03] pavel-kirienko commented on #4379
@mhkabir thanks for letting me know.

@AndreasAntener there's no need to update the firmware if the current one is working. Please just set the configuration parameter `uavcan.pubp-mag` to 20000. You can do it via UAVCAN or via CLI, in the latter case use the following commands:

[code]

[2016-04-28 02:05] sgh055 opened #4389 "Development Environment on Linux"
Hi, I have some problem.

I followed Development Environment on Linux(http://dev.px4.io/starting-installing-linux.html#development-environment-on-linux). but When I make px4-v2, I got a error message.
How can i fix that? I installed all of them

This message.
![image](https://cloud.githubusercontent.com/assets/15629613/14873395/f8e50d26-0d30-11e6-8d19-f7147df4ee4f.png)

[2016-04-28 02:47] kd0aij commented on #4389
Are you sure you got everything installed? It looks like you didn't install
gcc.

On Wed, Apr 27, 2016 at 8:05 PM kyu <notifications@github.com> wrote:

[2016-04-28 02:58] sgh055 commented on #4389
![image](https://cloud.githubusercontent.com/assets/15629613/14874141/48f4e244-0d38-11e6-808a-b688613eaba3.png)

@kd0aij this??

[2016-04-28 03:39] kd0aij commented on #4389
No, try "arm-none-eabi-gcc --version"

On Wed, Apr 27, 2016 at 8:58 PM kyu <notifications@github.com> wrote:

[2016-04-28 04:10] sgh055 commented on #4389
![image](https://cloud.githubusercontent.com/assets/15629613/14875117/2c53f77e-0d42-11e6-95ad-383eb5ecb120.png)
@kd0aij  I try to command, they say "No such file or directory"

however, file or directory exist.
![image](https://cloud.githubusercontent.com/assets/15629613/14875148/7074cff0-0d42-11e6-9cc9-b959a733967c.png)

[2016-04-28 05:16] Inspirati commented on #4389
What's with the 'ardupilot', are you sure you've got the correct codebase?

On 28 April 2016 at 14:10, kyu <notifications@github.com> wrote:

[2016-04-28 05:49] tumbili commented on #4378
@devbharat Try master now without your workaround.

[2016-04-28 05:58] mhkabir commented on #4389
Nice catch @Inspirati. Looks like he's trying to build ArduCopter and following the PX4 build steps.

[2016-04-28 06:03] devbharat commented on #4378
Are you re

[2016-04-28 06:11] tumbili commented on #4378
@devbharat Yes, I tried and I get no messages like that.

[2016-04-28 06:15] #4389 closed

[2016-04-28 06:16] devbharat commented on #4378
OK, I'll diff the sdlog2 app with master and check then

[2016-04-28 09:34] svpcom opened #4390 "Minimum thrust is zero if mpc_mainthr_min <= 15%"
On **master** and **beta** branches minimum thrust is 0 if ``mpc_mainthr_min`` <= 15%.
On **stable** branch behavior is normal - thrust is equal to ``mpc_mainthr_min`` if
thrust stick is in down position. Tested with ``make px4fmu-v2_ekf2``,  frame is hexarotor in "X" mode.

[2016-04-28 13:22] julianoes commented on #4383
Thanks for reporting. I think I know why this is happening. I'll look into it.

[2016-04-28 14:16] julianoes commented on #4383
I tried a fix for this.
@nacho-carnicero can you please test with the branch in #4393?

[2016-04-28 14:21] AndreasAntener commented on #4379
@pavel-kirienko thanks, I was able to update the config but having different issues on stable now (sometimes showing 3 mags?).  Couldn't test yet on master (other issues there right now), will try soon.

Memory is a problem, 2 mavlink instances plus uavcan results in a hardfault, also 1 mavlink instance plus uavcan and mag calibration doesn't work on stable.

[2016-04-28 14:21] AndreasAntener commented on #4381
Closing as not strictly being a bug, but maybe the error should happen in the routines where it actually needs the file system to write.

[2016-04-28 14:21] #4381 closed

[2016-04-28 15:47] NaterGator commented on #3453
This is biting me in the ass right now. Looks like the demangler is stuck in a recursive loop on EnableIf<sizeof ..?>

https://gist.github.com/NaterGator/be5412e4ce1401031234cc73d29ed8ae

[2016-04-28 16:00] mhkabir commented on #4383
Err. I think that the DriverFramework wrappers are not running.

@nacho-carnicero Did you manually start the drivers?

[2016-04-28 17:12] nacho-carnicero commented on #4383
I will try tomorrow morning and let you know, I can't right now. @mhkabir I didn't have the drivers at first included in the makefile, so I couldn't start them manually when I posted this issue. Later on I added the drivers to the makefile and managed to start them manually, but I still had this error when starting the sensors application.

I have tried to run the ./df_imu_test test included in th

[2016-04-28 20:10] LorenzMeier commented on #4390
@svpcom I guess I don't understand the question yet completely.

[2016-04-28 21:47] blandry commented on #3342
@LorenzMeier we want to handle the case where we don't have GPS but need to land because of a battery failsafe. The logic for that happens in the navigator but you never reach it because in a situation like that your transition to RTL would be flat out refused by the main state transition. I can think of a few fixes, but this seem to point to a potentially deeper problem with the coupling between

[2016-04-28 23:39] svpcom commented on #4390
In stable branch if I arm copter and stay throttle stick in lower position (zero throttle) PWM output to engines is not PWM_MIN, but mpc_mainthr_min (8% by default). In beta and master branch after engine arm i have PWM_MIN output if mpc_mainthr_min <= 15%  else behavior is the same as in stable.  Also in beta/master branch throttle up/down without takeoff produces messages: takeoff detected -> la

[2016-04-29 03:55] mhkabir commented on #4203
OK, found the problem. Fix coming up.

[2016-04-29 06:20] LorenzMeier commented on #3342
I don't think so. Landing will only be rejected if no position estimate is available. Is has absolutely nothing to do with GPS.

[2016-04-29 06:57] LorenzMeier commented on #3342
@blandry That doesn't mean I'm not interested in feedback for a commander cleanup / rewrite sprint. Its just that the architecture with the navigator perfectly holds up in a GPS-denied world.

[2016-04-29 07:23] julianoes opened #4395 "Support mavlink over UART with Snapdragon"
It would be nice to be able to run mavlink with a 3DR radio connected over serial to the Snapdragon.

[2016-04-29 08:17] nacho-carnicero commented on #4383
Ok I tried your modification @julianoes and I got a slight different error:
[code]
I think the main problem comes from the fact that the drivers are not included in the build of the firmware, for example when I type help to see the available commands I get this:
[code]
So no MPU driver, or is it automatically initialized when invoking sensors start ?

[2016-04-29 08:28] julianoes commented on #4383
@nacho-carnicero: thanks for trying.

I think you need at least #4397 as well.

I'm not sure if the MPU9250 is already compiled in. @bo-rc should know.

[2016-04-29 08:39] mhkabir commented on #4383
OK, I'm on this already. WIP branch is here : https://github.com/mhkabir/Firmware/tree/rpi2_bringup

Drivers should now be compiled in, but there is still work left to do. @julianoes How do I specify the DriverFramework build type? Some defines are gated with ```__RPI2```, so how do I get them active when building via Firmware?

[2016-04-29 08:46] julianoes commented on #4383
@mhkabir cool, looking forward to that.

Not sure, there should also be defines like `__PX4_RPI2` but they might not exist yet?

[2016-04-29 08:48] mhkabir commented on #4383
@julianoes Yes, don't think so. Will need to fix. Can you give me the locations where those relevant things are done for Eagle?

[2016-04-29 08:50] mhkabir commented on #4383
OK, done. Added definitions for __PX4_RPI2. Will be in my branch soon.

[2016-04-29 08:54] mhkabir commented on #4383
@julianoes OK, there's ```PX4_QURT```, ```PX4_POSIX_EAGLE``` and ```PX4_POSIX_RPI2```.

For consistency, I propose we rename them to just ```PX4_xxx```, like ```PX4_RPI2``` and drop the ```POSIX```

What do you think?

[2016-04-29 08:57] LorenzMeier commented on #4383
No, we're not. The reason is that PX4_POSIX is for operating systems adhering to POSIX standards, while PX4_POSIX_EAGLE is for the POSIX side (= non-QuRT / RTOS) of the EAGLE board. It all makes sense.

[2016-04-29 08:58] mhkabir commented on #4383
OK. Gotcha. Done.

The RPI2 build will export ```__PX4_POSIX_RPI2```.

[2016-04-29 09:07] mhkabir commented on #4383
OK, now how do I get DriverFramework to use the RPI2 define to internally select the bus configs, etc.?

For example here : https://github.com/PX4/DriverFramework/blob/master/framework/include/ImuSensor.hpp#L43

[2016-04-29 09:11] nacho-carnicero commented on #4383
@julianoes I tried and still got the same error, but thanks for the quick reply! Definitely the drivers are not added on the build.

@mhkabir I think what you're looking for gets solved by adding to the Toolchain-arm-linux-gnueabihf.cmake file this:
[code]

[2016-04-29 09:13] mhkabir commented on #4383
No that's not what I meant, but got it figured out.

[2016-04-29 09:51] LorenzMeier opened #4398 "Auto disarm / landed detection in manual: Require valid GPS / stable acceleration to detect landed"

[2016-04-29 11:54] blandry commented on #3342
I was referring to this check (status_flags->condition_global_position_valid && status_flags->condition_home_position_valid) which you are right is not GPS per say. My point still stands though, if you don't have a valid position estimate and are in a battery failsafe you probably want to reach vehicle_status_s::NAVIGATION_STATE_DESCEND which you will not reach. In other words in state_machine_hel

[2016-04-29 13:03] LorenzMeier commented on #4398
Fixed!

[2016-04-29 13:03] #4398 closed

[2016-04-29 13:05] LorenzMeier commented on #4390
@svpcom Can you re-try master? I've improved the land detection there. Its now in a state where I'm happy with it. In particular having 0% PWM on zero manual throttle and the raise once the user throttles up and takeoff is detected. Note that the throttle behaviour also depends on wether you have GPS or not.

[2016-04-29 16:56] mhkabir commented on #4383
All interested, please see #4404

:)

[2016-04-29 16:58] mhkabir commented on #4203
All interested, please see #4404.

[2016-04-29 19:49] svpcom commented on #4390
With latest master i've got following after bootup:
![qground_control](https://cloud.githubusercontent.com/assets/503830/14927745/bc88d92c-0e64-11e6-9106-4d57097dffad.png)

qgroundcontrol is a latest trunk (works normally with px4 stable)

[2016-04-29 20:02] LorenzMeier commented on #4390
Your status bar also looks wrong. Do you have a 2nd Pixhawk on which you can reset the params? I'm wondering if your boot aborts due to some local settings.

[2016-04-29 20:02] svpcom commented on #4390
After pixhawk reboot i've got infinite loop of:
![error](https://cloud.githubusercontent.com/assets/503830/14927955/158f5680-0e66-11e6-9f2d-dd1866408445.png)

I've found the only way to stop it is to define some waypoints, upload them to vehicle and reboot pixhawk. After that it shown on boot: ``Critical: Operation timeout``. When I attempt to alter waypoints and upload them to pixhawk i've got en

[2016-04-29 20:07] LorenzMeier commented on #4390
Can you rebuild master and try again (or flash through QGC, but wait 10 mins before you do)? I just fixed an issue in the MAVLink app.

[2016-04-29 20:13] svpcom commented on #4390
Ok. I'll try. Toolbar is half empty because i've disconnect a pixhawk to make a screenshot. What is a preferred way to reset settings to factory defaults? I've tried Parameters->Tools->Reset all to defaults. It clears all settings (including sensors calibrations) but continue show endless ``No active request``.
Also what build target i should use: px4fmu-v2_ekf2 or px4fmu-v2_default ? Now I use ek

[2016-04-29 20:28] svpcom commented on #4390
With latest master 796af52df26599fc749fa7a4ab446c2640e38662 behavior is the same:
[code]

I've made build as:
[code]

Reset all settings also no help. In SITL mode there are no such messages.
My toolchain is: gcc-arm-none-eabi-4_8-2014q3.
If you need a boot log i can connect serial cable and capture it.

[2016-04-29 20:37] svpcom commented on #4390
Boot log:
[code]

[2016-04-29 20:43] svpcom commented on #4390
I've found the root of issues - they are triggered by my OSD (PlayuavOSD) which is connected via TELEM2 port. But what is changed in px4 mavlink protocol since stable release that could trigger such behavior?

[2016-04-29 21:06] svpcom commented on #4390
I've tested land detector fixes - all works prefectly! Will it be ported to beta?

[2016-04-30 18:25] jcooper21 commented on #3977
I think nudging is very important for any aircraft. Even Dji allows full throttle nudging, pitch and roll in every mode. Nudging is very important especially when things start to go bad. The less switches you have to hit to get control the better.

[2016-04-30 21:10] dzett opened #4408 "FrSky D type telemetry broken in beta and master"
Hi,

my Pixracer has been sitting around a few weeks due to other stuff and I had not updated it. When I flashed today's master (also tried beta), I noticed that I am not getting any telemetry data on my FrSky D-type radio. When I went back to a previously saved master build downloaded on ~~March 26~~ April 10, telemetry was working fine again.

Is this a known issue? I noticed some cleanup has ta

[2016-04-30 21:59] thedevleon commented on #4408
Hey @dzett, thanks for mentioning this. Seems like I made a small mistake when I edited some of the frsky telemetry code, while I'm currently implementing further changes to the sPort Telemetry Code.
I have created a PR [here](https://github.com/PX4/Firmware/pull/4409) which should fix the issue. I don't have a D-Type receiver on my, so could you test this please and report back?

[2016-04-30 23:15] dzett commented on #4408
Hi @thedevleon, thanks for the quick response. I pulled your fix #4409 and it is working fine for me, telemetry is back.

[2016-05-01 04:16] mhkabir commented on #4379
We fought with the 3 mags problem before. Couldn't find a way to fix it, other than reducing memory consumption. It crops up only when you're low on memory.

I've observed the memory problem in master as well. I'm running 1 mavlink and uavcan, and the calibration routines don't work properly.

[2016-05-01 09:40] LorenzMeier commented on #4408
Pushed to master and beta, thanks!

[2016-05-01 09:40] #4408 closed

[2016-05-01 09:58] LorenzMeier commented on #4355
Not seeing this any more.

[2016-05-01 09:58] #4355 closed

[2016-05-01 09:59] LorenzMeier commented on #4390
Yes, its on beta now. I also pushed improvements to it in an attempt trying to solve the messaging issue you had - did it fix that?

[2016-05-01 10:29] svpcom commented on #4390
I've already fixed messaging issue by disable waypoints sync in OSD code. I'll debug it later

[2016-05-01 10:29] #4390 closed

[2016-05-01 10:30] LorenzMeier commented on #4230
@tops4u Its an issue with El Capitan. Make sure to unplug, close QGC and then only plug back in. That will work around it until Apple fixes it.

[2016-05-01 10:30] #4230 closed

[2016-05-01 15:03] mhkabir commented on #4355
I can observe this on Snapdragon Flight, in mini-dm. It seems intermittent though. M8N receiver.

[2016-05-02 01:57] idbeja6 commented on #3125
@LorenzMeier  I am also getting this error. I cant arm from the ground station GUI or from my remote. ESC is just beeping waiting and seems to be stuck in programming mode. LED safety switch is flashing quickly red and  all sensors seem to be configured ok.

![qgroundcontrol_v2_9_4-183-g670eb37__development_](https://cloud.githubusercontent.com/assets/2983512/14945883/8c9aa91e-0fce-11e6-981d-1fb56

[2016-05-02 04:27] LorenzMeier commented on #3125
I presume you have 1) The beta firmware installed (if not, please install it instead of the default) and 2) USB NOT connected?

[2016-05-02 21:17] AndreasAntener commented on #2122
On 09.11.2015, at 15:53, Lorenz Meier <lm@qgroundcontrol.org> wrote:

The airframe configuration groups could handle gear, parachute, direct servo control etc. The library (worker) will need to listen to commands and topics necessary to operate these.

[2016-05-02 21:29] mcharleb commented on #4388
Fixed in https://github.com/PX4/Firmware/pull/4415

[2016-05-02 21:37] mcharleb commented on #4304
It looks like the DSP reset

[2016-05-03 00:21] tubeme opened #4418 "Advanced Mixer Page dissapear."
Hello,

There was a page in the old .org site for the Mixing where I got the information on Control Groups etc.

I have bookmarked this page so depsite the old site was not working I was using it. But it disapear now and I cannot load it. So there is no reference on the control groups anywhere.

Any pointers?

[2016-05-03 07:28] LorenzMeier commented on #4418
dev.px4.io mixing

[2016-05-03 07:50] julianoes commented on #4304
Quoting what I said in https://github.com/PX4/Firmware/pull/4366#issuecomment-215406367:

[2016-05-03 07:58] bkueng commented on #4304
The plan is to avoid `#pragma pack` for the new logger, which will resolve these issues, so I don't think we should worry about this stuff.

[2016-05-03 08:18] julianoes commented on #4304
So without `#pragma pack` we should not see this crash?

[2016-05-03 08:30] bkueng commented on #4304
No I'm pretty sure we should not. The new logger doesn't really do any changes to the topic structs, except for adding a timestamp and the `#pragma pack`. Packing really goes against compiler fundamentals. They assume alignment, and if you go against that forcefully, you have to expect that bad things will happen.

[2016-05-03 08:32] LorenzMeier commented on #4304
@dagar @bkueng What about a stable sort on fields and for nested messages adding padding bytes onto the next 32bit boundary?

[2016-05-03 08:36] bkueng commented on #4304
@LorenzMeier AFAIK @dagar is planning to do that, not sure how far he progressed already

[2016-05-03 10:04] tubeme commented on #4418
I mean this document:

http://blog.csdn.net/olillian/article/details/50778494

It is no longer available. And it is the only doc with the control groups described.

[2016-05-03 10:37] LorenzMeier commented on #4418
Anything missing would need to be ported to the new docs.

[2016-05-03 12:19] julianoes opened #4421 "Snapdragon: ADSP crash on muorb/uorb init"
@bkueng your commit 1a57488ac68e147389050752e8b6b9bbf6620a56 unfortunately breaks for Snapdragon.

It looks like https://github.com/PX4/Firmware/blob/1a57488ac68e147389050752e8b6b9bbf6620a56/src/modules/uORB/uORBManager.hpp#L76 returns `nullptr` in https://github.com/PX4/Firmware/blob/1a57488ac68e147389050752e8b6b9bbf6620a56/src/modules/muorb/adsp/px4muorb.cpp#L55, presumably because `initialize()

[2016-05-03 13:51] #4421 closed

[2016-05-03 14:34] srees opened #4424 "Takeoff/freefall/landing randomly detected while on ground"
Using the latest master to run 'make posix gazebo' in an Ubuntu based SITL setup.
I get very frequent warnings in commander:
TAKEOFF DETECTED
FREEFALL DETECTED
LANDING DETECTED

If I issue a 'commander arm', the auto-disarm feature nearly immediately disarms the quad because of the takeoff/freefall/landing detection.

I can work around this by modifying the rcS_gazebo_iris file from
`param set COM

[2016-05-03 14:41] srees opened #4425 "QGC/PX4 not communicating correctly"
Behavior is similar to that caused on a linux system when e2fd2f4 was implemented, same as #3707, has come up again.

Fresh build of PX4 firmware on Ubuntu VM, latest QGC running on Mac host, different IP addresses.
QGC detects the launch of 'make posix gazebo' but immediately loses communication with it. Telem logs from the make command indicate connection is still active (closing/relaunching QGC

[2016-05-03 16:02] tubeme commented on #4418
OK I got your point.

[2016-05-03 16:03] #4418 closed

[2016-05-03 16:19] jcooper21 commented on #4126
Stall prevention on planes is a must as well as stall recovery. With APM I have still had stalls but that was due to bad airspeed sensors. They tried to solve the bad airspeed issue by adding AHRS wind max parameter for which after X wind resistance the flight controller switches to GPS and disregards the airspeed sensor. The solution they came up with half works I believe the only way to do it pr

[2016-05-03 16:59] #4378 closed

[2016-05-03 17:02] tumbili commented on #4309
[code]

It is written like this in the dev guide.

[2016-05-03 17:02] #4309 closed

[2016-05-03 17:04] #4190 closed

[2016-05-03 17:06] tumbili commented on #4079
@sanderux Is this still up to date? Do you experience this problem in real flight?

[2016-05-03 17:08] tumbili commented on #4005
See https://github.com/PX4/Firmware/pull/4301

[2016-05-03 17:08] #4005 closed

[2016-05-03 17:09] #3929 closed

[2016-05-03 17:10] #3840 closed

[2016-05-03 17:13] #3815 closed

[2016-05-03 17:14] sanderux commented on #4079
Not on the first prototype of the deltaquad. Maybe on the new one. Fw pos ctl still needs to be enabled. Ada made a start with that

[2016-05-03 18:23] julianoes commented on #3956
Not resolved just yet, sorry. Still gotta track it down.

[2016-05-03 20:07] julianoes opened #4428 "Simulator: add flag to disable battery simulation in SITL"
It would be nice to have a command line flag for `simulator` which disabled the battery simulation for SITL. This allows for testing of anything that is not battery (or failsafe) related.

[2016-05-03 20:13] LorenzMeier commented on #4428
The simulation will not actually discharge to a failsafe level. If you like we can set the warning level low enough (just altering the param value) so it doesn't trigger the warning. No need to remove the battery drain.

[2016-05-03 21:18] LorenzMeier commented on #4425
This is actually intentional since it caused havoc in local networks. You would need to remove the -t parameter here: https://github.com/PX4/Firmware/blob/master/posix-configs/SITL/init/rcS_gazebo_iris#L54

I don't have a one-size-fits-all solution yet.

[2016-05-03 22:01] sanderux commented on #4322
@mhkabir did your current integrator work by this setting eventually?

[2016-05-03 22:16] tubeme commented on #4126
@jcooper21 I think using 3 pitot tubes for prosumer or hobbist product is unpractical because of weight and complications. But I've seen decent results with just a gyro, accel and GPS to other smaller controllers.

[2016-05-03 22:21] jcooper21 commented on #4126
I agree with you but it leaves a fundamental question to be answered. Is it PX4 pro as in professional or prosumer. If it's professional then that would be the best way for maximum redundancy. With that being said no one says a hobbiest has to use 3 airspeed sensor however best results would be achieved that was for stall prevention.

[2016-05-03 22:36] jywilson commented on #4157
@julianoes Is there something you need for dataman, in the way of file I/O functions that we currently don't support?

[2016-05-04 05:46] julianoes commented on #4157
@jywilson I don't think so. It should be straightforward. I'll give it a try soon.

[2016-05-04 05:51] julianoes commented on #4428
I think it makes sense to have options for the following cases:
1. Normal drain where failsafe is triggered.
2. Discharge but no triggering of failsafe (like now).
3. No discharge, for simulation tests going (almost) infinitely.

[2016-05-04 08:33] quentin1002 opened #4431 "Calibration PX4Flow"
Hi everybody,

I followed this [tutorial](http://ardupilot.org/copter/docs/common-px4flow-overview.html) in order to calibrate my PX4Flow, used along with a pixhawk PX4 board. Neverless the consistency check is not giving me a relevant result. Here is what I get performing the x-gyro test. In white is the HIGH_RES_IMU_xgyro and in pink is the OPTICAL_FLOW_RAD_Integrated_xgyro. As you can see there

[2016-05-04 08:38] proficnc commented on #4431
Are you doing this in bright sunlight?  Low light will give bad results.

[2016-05-04 08:46] quentin1002 commented on #4431
Yes I am doing with good light, though interior, and the image quality is around 240

[2016-05-04 08:49] proficnc commented on #4431
If indoor, ensure your lights are incandescent

[2016-05-04 09:02] edsellar opened #4432 "RFI on specific channels"
When I use my taranis with an x8r receiver or my dragon link I get interfere   in the form of pulsing jitter on all channels. The taranis is outputting ppm channeling 1-12 (tried 1-8/16, all the same). Furthermore this only occurs when connected wirelessly via telemmodule to QGC. It is not rfi, inducted power, etc. reason being that I took everything out and have the PX4 unit on the bench, I have

[2016-05-04 09:05] quentin1002 commented on #4431
in your opinion, light is the only reason? Because I just tried to add an additional light (no effect), move outside of the office with direct sun light (no effet). I also tried to vary the pattern of the floor and the height.... I still have the IMU pic 3 times higher than the OF's.

[2016-05-04 09:29] proficnc commented on #4431
No, just worth checking the basics.

What calibration settings are you using?

[2016-05-04 09:54] quentin1002 commented on #4431
What do you mean by settings? I am using QGroundControl V2.9.1.

The PX4 was calibrated following the 4 steps of QGC and regarding the px4flow is used the video mode only to focus the image. My board is used at around 1m from the ground....

[2016-05-04 10:32] proficnc commented on #4431
Which instructions are you following?

[2016-05-04 11:38] quentin1002 commented on #4431
The "official" [one](https://pixhawk.org/modules/px4flow)

[2016-05-04 12:06] proficnc commented on #4431
Ok, I'm not familiar with using flow with px4 flight, but setting up for Ardupilot is described well here.

http://ardupilot.org/copter/docs/common-px4flow-overview.html

[2016-05-04 16:22] LorenzMeier commented on #4431
Please use the official instructions from the hardware site, not any 3rd party instructions which are often stale wrt to the official release firmware. The reason you're confused is that you need to read up on the message spec: the sensor is sending the integrated velocity, not angular rate.

[2016-05-04 16:22] #4431 closed

[2016-05-04 19:47] julianoes opened #4434 "New parameter generation does not work for Snapdragon"
The Snapdragon build contain `qurt_eagle_default` for the DSP side and `posix_eagle_default` for the Linux side. Not all parameters are built/included on both sides.

Therefore the new param generation does not work on Snapdragon because the two sides are not in sync and refer to different params for a specific ID which really messes things up. (E.g. when trying to do RC calibration today, we acci

[2016-05-04 19:51] mcharleb commented on #4434
Could all the params be generated and then pruned to the set that is actually used so the IDs remain the same?

[2016-05-04 19:59] davids5 commented on #4434
@julianoes @mcharleb

I think there are 2 choices:

1) Do not cull the param for a Snapdragon build (needed for memory constrained targets) or
2)  Add a some sort of relationship that will pull in the union of the 2 files.

[2016-05-04 20:07] julianoes commented on #4434
I would like 1) for the short term, if that's a simple thing to do.

[2016-05-04 20:24] davids5 commented on #4434
Let me take a look...

[2016-05-04 20:25] LorenzMeier commented on #4434
@davids5 Thanks! Since this blocks Snapdragon on master a quick fix would be appreciated.

[2016-05-04 21:29] davids5 commented on #4434
Sorry for the delay....See https://github.com/PX4/Firmware/pull/4435

[2016-05-04 21:45] edsellar commented on #4432
So heres a bit more of something on this. If I plug a servo into the receiver on port 4 and into the corresponding output port on the Pixhawk both (as should) respond to the same control. One is simply going direct to the receiver and one to then the Pixhawk via PPM. Two servos, same port  #and the one plugged directly into the Pixhawk flutters and jitters (tried a bunch of servos, batteries, etc)

[2016-05-04 22:25] gregswf opened #4436 "Beeping and red light flashing, unknown reason"
I flashed the master and I've noticed that the led starts flashig red and sound alarm starts just like for battery low but the battery is ok, Qgc doesn't report low voltage or low battery or anything.
Sometimes it happens during the flight sometimes on the  ground.
Please have a look at the log.
http://logs.uaventure.com/view/9UnF4ddXJqyuT9AnyBrHDA#AS_Pitch_PLOT

[2016-05-04 23:51] tubeme opened #4438 "FLAPS: Strange behavior..."
Hi guys,

I prepare a plane with flaps and retracts for auto take off and landing.

So I stumble on the following problem.

In Stabalized flight or any assisted flight the flaps extension becomes twice as small.

The moment I switch to Manual the flaps extend full way. then flip back to stabalized and they retract half way. I use 3 position switch so I have two positions of the flap. The same two

[2016-05-05 03:42] edsellar commented on #4432
I am going to close this and reopen as something different as this isn't RFI but something software related, maybe mixer, not sure.

[2016-05-05 03:42] #4432 closed

[2016-05-05 04:21] edsellar opened #4441 "Telemetry module connection problem"
I made video to highlight this easier, Previous issue closed as this is not an RFI issue.
When everything is hooked up and I move the servos, i get a lot of jumping all in sync. I pretty positive that is not RFI:

WITH TELETRY PLUGED IN AN

- Put APM Plane firmware  onto same board, no erratic movements at all. nut we

- Put PX4 firmware on, make sured It was in MANUAL MODEL o(nnly momentaary.)

-

[2016-05-05 06:27] julianoes commented on #4434
1) is in master.

Let's leave this issue open for a potential 2).

[2016-05-05 07:44] edsellar commented on #4441
closed - turn off virtual joystick in QGC.

[2016-05-05 07:44] #4441 closed

[2016-05-05 09:13] LorenzMeier commented on #4438
@AndreasAntener and @SimonWilks Can comment in more detail, but I suspect this is design intent to have the flaps extension scale properly with airspeed. It would be easy to change if we conclude this is not a good idea.

[2016-05-05 09:14] LorenzMeier commented on #4438
At zero airspeed the reading is considered invalid and they extend for the trim speed. If you would create airflow with a hair dryer I expect they will extend further.

[2016-05-05 09:17] julianoes opened #4443 "Target `make px4fmu-v2_ekf2` does not run ekf2"
I built and uploaded using `make px4fmu-v2_ekf2 upload`, so I would expect ekf2 to be running.
However, looking at `top`, that doesn't seem to be the case:

[code]

[2016-05-05 09:19] julianoes commented on #4443
According to http://dev.px4.io/advanced-switching_state_estimators.html#how-to-enable-different-estimators, the following is needed.

[code]

I think this should be easier.

[2016-05-05 09:43] LorenzMeier commented on #4443
We can't really avoid it as its a workaround for too low flash memory. On FMUv4 none of the special compile targets is required, you just set the parameter and you're good.

[2016-05-05 09:45] LorenzMeier commented on #4443
The special target can be removed once EKF1 has been replaced for fixed wing with EKF2. @CarlOlsson is working on that.

[2016-05-05 09:47] julianoes commented on #4443
I understand.

[2016-05-05 09:47] #4443 closed

[2016-05-05 10:49] tubeme commented on #4438
No they don't... Probably something left in the code.

Also there are some considerations for this design. It means that if I have a faulty Airspeed and 0 reading then I will not be able to fully use my flaps during stabalized or gps landing. Dynamic flaps dependent on speed is very nice idea, but I think it should work the opposite way, ie. The lesser the speed the more flaps extention. At 0 spee

[2016-05-05 12:16] LorenzMeier opened #4446 "Audit Snapdragon param interface"
[code]

[2016-05-05 12:17] LorenzMeier commented on #4446
We found some interesting symptoms there warranting an overall audit.

[2016-05-05 14:35] LorenzMeier opened #4450 "Ensure logging on -e does start log if being rearmed"
@julianoes This is really what you want.

[2016-05-05 14:50] davids5 commented on #4434
@julianoes

For 2) Would you be able to provide me with the way I would associate the files?  If we can not guarantee that the binary files loaded on system are tied in revision and association then the number 2 option is not a good one.

Also keep in mind that the delta in size  with a px4fmu-v2_default build with ALL parameters is about +3500 bytes.

When it is your first 3.5K , it is not a big

[2016-05-05 14:51] julianoes commented on #4450
Plus proper commenting how the command line args of sdlog2 work.

[2016-05-05 14:57] LorenzMeier commented on #4436
This is fixed on master and beta, thanks for reporting! It was a missing filter on the battery alarm threshold.

[2016-05-05 14:57] #4436 closed

[2016-05-05 15:52] mcharleb commented on #4434
If the configs were organized as:

Firmware/cmake/configs/${BOARD}/${CONFIG}/${OS}.cmake then all the files in the subdir would be used:

Firmware/cmake/configs/eagle/default/posix.cmake
Firmware/cmake/configs/eagle/default/qurt.cmake

Firmware/cmake/configs/px4-stm32f4discovery/default/nuttx.cmake

The union of all files in the subdir would be used to determine the set of required parameters.

[2016-05-05 16:16] gregswf commented on #4436
Thank you Lorenz 😊

[2016-05-05 17:06] srees commented on #4425
That's helpful to know, thanks. Is there documentation somewhere of what the command switches (parameters) do for mavlink? I can't seem to find that.

[2016-05-05 17:12] srees commented on #4425
Nevermind, found usage at the end of mavlink_main.cpp

warnx("usage: mavlink {start|stop|stream} [-d device] [-u network_port] [-o remote_port] [-t partner_ip] [-b baudrate]\n\t[-r rate][-m mode] [-s stream] [-f] [-p] [-v] [-w] [-x]");

[2016-05-05 17:15] srees commented on #4425
So if I understand this right, QGC will work fine if it is running on the same host as the SITL simulation is running?

[2016-05-05 17:20] LorenzMeier commented on #4425
That's correct.

[2016-05-05 20:52] srees commented on #4424
I discovered I can also comment out the line that starts the land detector in the RC file, however I'm not sure what other consequences that may have. Are there other critical systems that depend on it?

I'm still learning what parameters I can set to modify it's behavior, as apparently they aren't set in the RC file yet. Is there another location the default values may be set in? For example, acc

[2016-05-05 23:56] mcharleb commented on #4299
I can add a wait_on_topic command to block until a topic is published. This would require the logger to publish an "logger_running" topic.

[2016-05-06 00:54] srees commented on #4424
Working on debugging this...freefall is nearly constantly true while the quad is idle.
acc_norm is wildly swinging all over the place - I wasn't able to figure out how to print out the actual value (PX4_WARN doesn't seem to take variables), but it's at least swinging below 2 and above 8 constantly, which shouldn't be the case when it's just sitting there not armed.

[2016-05-06 01:25] jywilson commented on #4395
@julianoes There is a file called blsp.config that will allow you to configure 2-wire UART access to a particular BLSP.  This can be important when you are trying to use a single DF-13 connector for multiple types of output, as with UART/I2C.

Are you familiar with this file?  I will add to the Snapdragon markdown to document the format of the file.

[2016-05-06 03:48] srees commented on #4424
The solution that works for me is to set LNDMC_FFALL_THR 1.0 instead of 2.0 in the RC file. This still detects freefall (simulated by disarming in the air) without triggering constantly.

[2016-05-06 05:17] tumbili commented on #4424
@srees Hi, thanks for reporting! I assume the acceleration reported by gazebo on the ground is jumping around between values. I wasn't aware that this is a problem with the current SITL models we support. I'll have a look and see if I can reproduce this. I believe the effect on acceleration is caused by the way gazebo models the ground effects.

[2016-05-06 05:21] LorenzMeier opened #4459 "Airspeed sensor calibration displayed in QGC for multicopters"
Not sure yet what is going on - I suspect its for users who haven't configured the airframe type yet and get QGC in a bad state without restarting it.

[2016-05-06 05:29] LorenzMeier commented on #4459
Fixed in 48d7295be65e091d45d37a258ff2be821d18db4c

[2016-05-06 05:29] #4459 closed

[2016-05-06 10:25] Michvw opened #4461 "mavlink debug compile error"
When i uncomment the px4_mavlink_debug out of my config file, it compiles fine. However when i use the same code with the same imports in my own module i'm getting compile errors:

As a result of this error i changed the example code to:

[code]
But this gives compile error:

Does someone have a clue of what the problem is here?

[2016-05-06 11:05] tumbili opened #4462 "px4_get_opt bug"
Try starting an app with wrong arguments, e.g
[code]
The -f option does not exist and the upper call will not get out of the while loop parsing the arguments.

[2016-05-06 15:59] sanderux opened #4466 "VTOL transition switch broken in current master"
It appears to be related to the radio settings
Transition switch is ignored (quad spins up with throttle when switch on)
Also, the pusher ESC does not initialize, or only does so after changing the VT_IDLE_PWM_MC, it does not seem to matter to what direction to change this.

@AndreasAntener @tumbili @LorenzMeier

[2016-05-06 16:44] LorenzMeier opened #4468 "Inspect manual control lost inspection"
Message is coming through on switching RC back on

[2016-05-06 16:45] LorenzMeier commented on #4466
Make sure to run "make clean" and compile master fresh before uploading

[2016-05-06 16:53] mhkabir commented on #4468
Also happens when using a joystick

[2016-05-06 18:52] sanderux commented on #4466
Was done, also been able to reproduce om master precompiled through QGC
Additionally the wing servo's do not respond so i'm quite sure this
https://github.com/PX4/Firmware/blob/master/src/modules/vtol_att_control/vtol_att_control_main.cpp#L466
returns false. When reverting to older firmware (28 march) the problem disappears

[2016-05-06 19:13] LorenzMeier commented on #4466
Anyone feeling like adding a proper transition switch? We could squeeze that in for 1.3 and also add QGC config support. Would be nice to have this less obscure.

[2016-05-06 20:02] AndreasAntener commented on #4438
Airspeed scaling is not taken into account for the flaps and they should be the same in all modes (except for auto where they are turned on/off by the position controller).
What is your airframe config? Are these actual flaps or flaperons (mixed/combined with ailerons)?

[2016-05-06 21:33] tubeme commented on #4438
@AndreasAntener OK I understand. So there is a problem because they should be same for 0 airspeed as well!

Airframe is standard AETR airplane. Frame is Durafly T28 with real flaps (not flaperons). I have a custom mixer AETR.main.mix

CH6
FLAPS
------------
M: 1
O:      5000  10000     0 -10000  10000
S: 0 4  10000  10000      0 -10000  10000

Ch7
Landing Gear
-------------
M: 1
O:      10000  100

[2016-05-06 22:36] sanderux commented on #4466
Last working commit i was able to compile: https://github.com/PX4/Firmware/commit/ebacd4c1de5a0231ad9a4cddcc3759a5389835ea

First failure commit i was able to compile:
https://github.com/PX4/Firmware/commit/4bdfb8a10775ab2f8feeade1c622de259234052c

[2016-05-06 22:40] sanderux commented on #4466
It seems to have broken on Apr 11 after @kd0aij's commit. I run into a lot of compile errors when attempting to compile half-way.
@LorenzMeier can you have a look?

[2016-05-06 23:51] tubeme commented on #4466
We found out this just yesterday! Making a new machine with new Pix flashing Master, loading our perfect settings set and DISASTER. On the bench test, no transition. Also programming acro switch has a very strange behavior in the QGC Flight Mode Setup Page. When we switch to stabilize the QGC reports it in the status bar the voice pronounce it correct but in the Flight Mode setup page it show we a

[2016-05-07 07:46] sanderux commented on #4466
It seems the switches config broke. I will try to dig deeper to find out where it broke

[2016-05-07 08:59] #4466 closed

[2016-05-07 09:19] Gregsky opened #4477 "1.3 beta three step compass calibration wrong data."
I've tried several times to calibrate the compass with the three step process in the 1.3 beta, every time I get the heading off by about 30deg.
I've calibrated the compass using the stable firmware and the six point process and it works every time.

[2016-05-07 11:35] LorenzMeier commented on #4477
Calibration method (looking good):
https://youtu.be/OOKthp_VciE

Good compass cal params:
https://files.gitter.im/PX4/Firmware/jj8F/px4_stable.params

Bad compass cal params:
https://files.gitter.im/PX4/Firmware/lDoq/px4_13_beta.params

[2016-05-07 13:07] LorenzMeier commented on #4477
If my latest changes on master fix it for Greg we can stick to 3 positions, if not we'll return to 6 positions.

[2016-05-08 16:01] tumbili opened #4480 "Separate stab/acro gains"
We need another set of rate gains for the acro mode. The bandwidth of the rate loop in acro mode is lower than when in stabilized mode and as a result the optimal acro gains are unflyable in stabilized mode.
Log showing good acro performance on a 250 quad (roll axis is a bit too tight, small oscillations visible and audible):
http://logs.uaventure.com/view/Dx472FtZUDkAd88Q93PhAS

[2016-05-08 16:02] tumbili commented on #4480
@kd0aij FYI

[2016-05-08 16:18] gregswf commented on #4477
I've done some tests and this method gives a good result
1.Hold the craft horizontaly. turn round the yaw axis.
2.Hold the craft nose down. turn round the roll axis.
3.Hold the craft nose down. Turn round the pitch axis.
This was suggested by Lorenz, I'm testing it to find out how reliable it is, so far it works very well.

[2016-05-08 16:32] kd0aij commented on #4480
Have you looked at any of my logs? Which portion of your log is ACRO mode?

[2016-05-08 17:29] tumbili commented on #4480
@kd0aij Yeah I looked at that before. The entire flight is acro, I cannot switch to stabilize otherwise my quad would blow up.

[2016-05-08 17:31] tumbili commented on #4480
@kd0aij I could back down the the attitude p gains but I remember that it would still get unstable when I was testing your gains. BTW, are you still constraining the maximum gyro bias?

[2016-05-08 17:35] kd0aij commented on #4480
which param was that? I'll check

[2016-05-08 17:37] tumbili commented on #4480
attitude estimator q has a parameter which limits the max gyro bias, that's the one I mean.

[2016-05-08 17:39] kd0aij commented on #4480
so my bias weight is 1/10 of the default setting

[2016-05-08 19:46] tumbili commented on #4480
@kd0aij Actually stabilized was also "stable" when I went to test it. I guess there is a ground effect which makes you think that it's not going to be stable but once it's in the air it's ok.
However, it's very aggressive, e.g. if you let the stick pop back to the center you hear the oscillations before they decay. Probably the user could just use the slider to determine what behaviour he wants, e

[2016-05-08 19:47] tumbili commented on #4480
@kd0aij Did you observe the same behaviour?

[2016-05-08 19:56] tumbili commented on #4480
@kd0aij BTW, I mounted the Pixracer on foam last Friday, that's the only difference I can think of to before.

[2016-05-08 20:28] kd0aij commented on #4480
yes, in ground effect I see a tendency to oscillate, but that's gone by about 10cm AGL
And yes, it's aggressive in stabilize mode, but not in acro; in acro it just tracks your rate inputs very closely.

[2016-05-09 03:49] srees commented on #4424
Would the ground effect be an issue when the props aren't even running? Because these messages are happening before it's even armed.

[2016-05-09 04:13] jgoppert opened #4486 "External compass treated as internal first time calibrated"
If you reboot and re-calibrate again it will calibrate as external. Seems to be recent.

[2016-05-09 04:22] jgoppert commented on #4486
[code]

Also not clear in latest qgc binary that we need to calibrate the other 3 sides for mag, or how to default the setting to just 3 sides. Not sure if this is fixed on master yet to match the firmware.

[2016-05-09 04:25] jgoppert commented on #4486
It shows mag calibration done in messages. Recalibrating without rebooting does not help.

[2016-05-09 04:28] jgoppert commented on #4486
Odd, on reboot it is set correctly without recalibrating, also I did a param refresh before I saved the params above, so something about the cal params not getting updated until reboot.

[code]

[2016-05-09 09:05] julianoes commented on #4480
I disagree that this is needed. Why should the acro gains not work in stabilized mode?
I can only think of the case where the stabilized gains are too high and "ask" the rate controller too much.

[2016-05-09 09:21] julianoes commented on #4424
I see this effect on Snapdragon as well, sitting on the bench. Presumably this happens because the accel signals are noisier.

[2016-05-09 12:08] AndreasAntener opened #4487 "Battery current offset got lost during refactor"
@julianoes
This offset is not considered anymore: https://github.com/PX4/Firmware/blob/master/src/modules/sensors/sensors.cpp#L322, please check the version before you pulled the battery out of the sensors app.

[2016-05-09 16:05] LorenzMeier commented on #4487
Seems like that was a refactor from hell 8). If you run git blame you can see how many lines I already had to fix (and then to fix again because I committed more mistakes).

[2016-05-09 16:19] LorenzMeier opened #4488 "Takeoff command from Tablet only works if setting hold flight mode manually"
@tumbili This is what you found.

[2016-05-09 17:05] julianoes commented on #4487
@AndreasAntener Sorry, I'll chase that up!

[2016-05-09 17:42] tumbili opened #4489 "Release testing summary"
# Summary (250 quad with Pixracer connected over Wifi)

### Calibration step
#### Gyro calibration
Just say to hold the vehicle still!
#### Accel calibration
Last two pictures were cut off on Samsung tablet (say which model)
#### Mag calibration
Mag orientation should be asked when clicking on the mag calibration tab. It shouldn't be just there on the side, the user could miss it. Flying a quad wi

[2016-05-09 17:50] kd0aij commented on #4489
Did you have a map display in mission planning mode? I've had no success with offline maps.

[2016-05-09 17:52] tumbili commented on #4489
@kd0aij Hm, good question. I think I had one but only at a certain zoom.

[2016-05-09 19:32] tuofeichen opened #4490 "Local Takeoff"
Hey guys,
I was wondering if a local takeoff based on local position estimate (LPE) is implemented any where in the Firmware. I can send setpoint when the drone is on the ground, but at that point only a valid z estimate is present (since we're using optical flow moment). I will still try it later today, but just wondering if this feature is already implemented somewhere in the firmware.

Thanks
F

[2016-05-09 19:32] tumbili opened #4491 "Hold mode during landing leads to the vehicle dropping down"
When flying a mission during land mode I tried to put the vehicle in hold mode. That lead to the vehicle falling down by about 5 meters and after that recovering back to the alt it should have been. Almost felt like throttle integrator was to zero.

Explanation: The altitude setpoint during landing is way off the current altitude (because descend velocity is limited). Once we switch into hold the

[2016-05-09 19:33] tumbili commented on #4491
Log: http://logs.uaventure.com/view/s7Lnr8CYrvuRk887Qki876

[2016-05-09 19:34] LorenzMeier commented on #4491
So entering hold should reset the alt SP immediately?

[2016-05-09 19:37] tumbili commented on #4491
@LorenzMeier Yeah, I would say so.

[2016-05-09 19:39] tumbili commented on #4491
@LorenzMeier I think this should be reproducible in SITL.

[2016-05-09 19:44] tumbili commented on #4489
@DonLakeFlyer Maybe some of this is interesting for you.

[2016-05-09 20:00] dagar commented on #4489
I like the countdown idea.

[2016-05-09 20:05] tumbili opened #4492 "RTK performance"
Logs shows that RTK is not estimating well. During the flight the fix type switched back to 3 and form then on performance was great. GPS noise values are also interesting, they seem to drop after the switch back to fix type 3.
Log: http://logs.uaventure.com/view/ECA86gcfNagwdvSGYiXGkP
![rtk_vs_standard_gps](https://cloud.githubusercontent.com/assets/7610489/15126402/1fada08a-1632-11e6-939c-3f877f

[2016-05-09 20:07] tumbili commented on #4492
@bkueng @LorenzMeier

[2016-05-09 20:08] tumbili commented on #4492
@bkueng @LorenzMeier FYI

[2016-05-09 21:07] LorenzMeier commented on #4489
Takeoff handling should now be fine. You need to update QGC and stable. We still need to fix the altitude handling in land mode.

[2016-05-09 21:32] LorenzMeier commented on #4491
@tumbili Can you look into this tomorrow?

[2016-05-10 06:25] bkueng opened #4493 "operator new: exceptions vs nullptr"
I noticed strange behavior with the following simple code:
[code]
Even if the allocation failed, the function returned true. So I looked at the disassembly:
[code]
And indeed the function returns unconditionally 1 (line 10). I guessed the compiler assumes that operator new does not return nullptr (as it would throw std::bad_alloc). I then compiled with `-fcheck-new`, which disables the assumption,

[2016-05-10 06:37] LorenzMeier commented on #4493
Thanks! Can you send a PR with that?

[2016-05-10 11:53] LorenzMeier opened #4498 "Multicopter position controller integrates error when sitting idle without being airborne"
@tumbili The issue seems that when armed and in hold flight mode a position setpoint integral is building up, which then first needs to be unwound when taking off in takeoff mode.

http://logs.uaventure.com/view/pvEC9wamaU8QcmDwExzFw5

Particularly here:
http://logs.uaventure.com/view/pvEC9wamaU8QcmDwExzFw5#Local_X_PLOT

[2016-05-10 11:59] #4491 closed

[2016-05-10 15:36] marianobianchi commented on #4424
I'm having this issue when PX4 SITL is in the air. I have the latest master code. I can reproduce this error following these steps:
1) make posix_sitl_default gazebo
2) roslaunch mavros px4.launch fcu_url:="udp://:14540@127.0.0.1:14557"
3*) rostopic pub -r 5 /mavros/actuator_control mavros_msgs/ActuatorControl "{header: {}, group_mix: 0, controls: [0,0,0,0,0,0,0,0]}"
4) rosrun mavros mavsys mode -

[2016-05-10 16:23] jcooper21 opened #4500 "Feature Request Pitch angle"
SenseFly has a really nice mapping feature that allows you to set your pitch.  Please see below for details on how it works.  It would be awesome if PX4 was able to implement something similar.
![capture](https://cloud.githubusercontent.com/assets/14355782/15154102/3514ed18-1699-11e6-8292-f38b8b022e15.PNG)

[2016-05-10 16:41] LorenzMeier commented on #4500
Thanks for the request. Its super helpful you're keeping feeding us good user story feedback.

[2016-05-10 16:50] jcooper21 commented on #4500
I forgot to note this a fixed wing feature.  I am sure its obvious but making sure there is no mis understanding.

[2016-05-10 19:33] LorenzMeier commented on #4491
@tumbili This is fixed on master. Please re-test outdoors, SITL looked good.

[2016-05-10 19:34] LorenzMeier commented on #4493
Fixed.

[2016-05-10 19:34] #4493 closed

[2016-05-10 19:35] LorenzMeier commented on #4488
Fixed.

[2016-05-10 19:35] #4488 closed

[2016-05-10 19:35] LorenzMeier commented on #4480
Not necessary after more testing.

[2016-05-10 19:35] #4480 closed

[2016-05-11 05:49] svpcom opened #4505 "altitude_relative in ALTITUDE in not altitude above home position, but home altitude"
In mavlink msg definition:
[code]
but in ``src/modules/mavlink/mavlink_messages.cpp``:
[code]
it seems it should be:
[code]

[2016-05-11 05:51] svpcom commented on #4505
@LorenzMeier FYI

[2016-05-11 08:02] LorenzMeier commented on #4505
Fixed in 34baf01.

[2016-05-11 08:02] #4505 closed

[2016-05-11 09:31] ozgurerbulan opened #4507 "WARN reset: stale sensor data, resetting"
I am using px4 for an unmanned ground vehicle which is a modified power wheelchair. I got this error sometimes and when it happens px4 cuts the pwm output for an half second then it keeps moving. How can I fix that? I am using latest stable firmware and ground rover airframe.

[2016-05-11 11:03] LorenzMeier commented on #4507
Are you operating indoor and with GPS? Or do you run custom software or drivers which create a lot of load? It sounds like you have erratic sensor readings.

[2016-05-11 11:11] LorenzMeier commented on #4489
Fixed on master.

Arming via tablet now requires idle throttle

Will do, next release of QGC.

Due to safety considerations: Will not change any of that right now.

Yes, but not sure what you mean?

Added in QGC

Altitude change now limited to 15m, takeoff to 60m

Yeah, next release. Right now smaller defaults will allow the user to make incremental adjustments.

Need to see the log

If you don't

[2016-05-11 11:11] LorenzMeier commented on #4489
Closing this as the bulk of this got addressed, in particular the safety related items.

[2016-05-11 11:11] #4489 closed

[2016-05-12 06:13] LorenzMeier opened #4510 "Ensure arming works for all supported flight modes"
We have user reports that if the system has seen RTL before it was armed, arming after that in manual doesn't work.

[2016-05-12 06:59] tumbili opened #4511 "Logging should include roll SP in position control mode"
It seems that for fixed wings the attitude controller does not control the roll axis well in position control mode. In the image below position control mode is active when the red line is at 2.
![pos_hold_att_problem](https://cloud.githubusercontent.com/assets/7610489/15206474/becc1fae-181f-11e6-88ce-d229edcb5a85.png)

[2016-05-12 07:02] LorenzMeier commented on #4511
@tumbili You're confused by the logging. When the user moves the roll stick his actual input is not logged. Only when he re-centers the controls.

[2016-05-12 07:03] tumbili commented on #4511
@LorenzMeier Yeah I just realized that as well

[2016-05-12 08:03] LorenzMeier commented on #4498
@tumbili Can you please set your priority on this one? I think we need to fix this for 1.3.0 immediately.

[2016-05-12 08:18] LorenzMeier opened #4512 "GPS SNR is zero"
@bkueng SNR is zero, which is weird:

http://logs.uaventure.com/view/ECA86gcfNagwdvSGYiXGkP#GPS_Noise_PLOT

[2016-05-12 08:19] LorenzMeier opened #4513 "Need GPS log of UART in/out"
@bkueng We need to log everything what we get from the u-Blox module on its serial port and everything that we send. Each in a separate file as binary, which can be enabled with a parameter.

[2016-05-12 08:48] CarlOlsson opened #4515 "Ekf2: Potential issue with replay logging"
I have the issue that I can't get non zero airspeed innovations when I use recorded replay data.
- Flashed current master 54b3995175d86bcbb23e8c7e1b94aca9d7e76b35 on the pixracer.
- Did handheld test with replay logging activated ([log1](http://logs.uaventure.com/logmuncher/charts/kVbGQqZZqMLhE5xoD4yni/logmuncher.log))
- Activated airspeed fusion in ecl by uncommenting line 352 in ekf.cpp
- Replay

[2016-05-12 08:57] CarlOlsson commented on #4515
Ok I looked into the ekf2_replay_main.cpp file and the airspeed is missing. Will add it and create a pr

[2016-05-12 09:36] Userskii opened #4516 "In the SITL gazebo simu, the MAV runs away."
I updated the firmware on Monday then on Wednesday. However after the latest update. After running $ make posix_sitl_default gazebo, the iris does not rise up vertically. It runs away. Did I do something wrong?

[2016-05-12 09:39] tumbili commented on #4515
@CarlOlsson I can help in the afternoon

[2016-05-12 13:44] mazgch commented on #4492
@bkueng what is the RTCM_BUFFER_LENGTH in this test?

[2016-05-12 13:51] mazgch commented on #4492
We should lower the UBX_TX_CFG_TMODE3_SVINACCLIMIT to get an accurate absolute position . Otherwise the absolute position error of the base translates directly to absolute position error of the UAV.

[2016-05-12 14:10] LorenzMeier commented on #4492
@bkueng Can you look into these?

[2016-05-12 14:18] CarlOlsson commented on #4515
PR here: #4518

[2016-05-12 14:18] #4515 closed

[2016-05-12 14:35] bkueng commented on #4492
@mazgch RTCM_BUFFER_LENGTH was 250 bytes in this test. I'm not quite sure but I don't think we hit that boundary in this test. I never saw anything more than 180.
I extended it today to 300, but due to a limitation of mavlink, we internally need to fragment such long messages.

We don't check the CRC because this should be handled in the GPS device anyway. But if you want, you can create a pull re

[2016-05-12 15:24] tumbili commented on #4498
The problem here is that the navigator publishes zero values for lat/lon in the position setpoint.
Another potential problem (not the main issue) is that we don't reset position setpoints in non-manual modes when we are landed. This is addressed here https://github.com/PX4/Firmware/pull/4514

[2016-05-12 15:27] LorenzMeier commented on #4498
Do we know if it publishes a zero SP?

[2016-05-12 15:35] tumbili commented on #4498
@LorenzMeier At least my printf tells me that. Lat/lon are both zero and I verified that the topic updates.

[2016-05-12 15:35] LorenzMeier commented on #4498
ok, thanks!

[2016-05-13 00:26] sanderux commented on #4338
Jenkins now fails with following errors:
Failed to read test report file /build/jenkins/workspace/PX4 Firmware POSIX SITL PRs/test_results/rosunit-mavros_offboard_attctl_test.xml
org.dom4j.DocumentException: Error on line 2 of document file:///build/jenkins/workspace/PX4%20Firmware%20POSIX%20SITL%20PRs/test_results/rosunit-mavros_offboard_attctl_test.xml : Premature end of file. Nested exception:

[2016-05-13 03:00] tuofeichen commented on #4490
nvm, can achieve on mavros side using setpoint

[2016-05-13 03:00] #4490 closed

[2016-05-13 06:44] AndreasAntener commented on #4338
That's because the tests failed. But it fails at random instances lately (one of the tests runs into a timeout), something must have changed recently.

[2016-05-13 07:31] tumbili opened #4523 "FW posctrl wing rocking"
According to http://discuss.px4.io/t/position-control-gain-parameter/413
Log: http://logs.uaventure.com/view/dfztG6auv7PTQsot7ZXGGD

The rollrate setpoint in position control mode is not continuous and seems to be jumping between positive and negative. The roll setpoint (if it's logged correctly) does not do this so we need to investigate the root cause of this.
![fw_posctrl_wing_rocking](https://

[2016-05-13 09:04] LorenzMeier commented on #4498
Fixed in a700b02.

[2016-05-13 09:04] #4498 closed

[2016-05-13 13:11] AndreasAntener commented on #4424
@LorenzMeier I don't know what is wrong but I have 2 different effects locally. Like this, the SITL tests can't work.

Mac: freefall/landed detections as described here
[code]
Ubuntu VM:
[code]

[2016-05-13 14:19] LorenzMeier commented on #4424
![screen shot 2016-05-13 at 16 19 07](https://cloud.githubusercontent.com/assets/1208119/15250752/86c13394-1926-11e6-96f4-344123398023.png)

[2016-05-13 14:21] LorenzMeier commented on #4424
The core issue is the ground contact of the sim. @tfoote It would be really good to have some quality time here. This is really killing the accuracy of the sim.

[2016-05-13 14:51] LorenzMeier commented on #4424
Printing this within the Gazebo plugin actually shows that it exactly alternates:

[code]

[2016-05-13 14:58] LorenzMeier commented on #4424
@tfoote I pulled this from:
[code]

[2016-05-13 15:07] julianoes commented on #4516
Thanks for raising. I can reproduce this as well when doing `commander takeoff`. It seems to be broken.

[2016-05-13 15:11] julianoes commented on #4516
@Userskii In the meantime, you should be able to use `make posix jmavsim`.

[2016-05-13 15:16] kd0aij opened #4530 "FW hardfault on beta"
observed on bench while setting up for a test flight

https://drive.google.com/open?id=0Bw3digSMQXDuQjR1MHJTWDNnbGM

[2016-05-13 15:24] julianoes commented on #4516
I'm looking into it.

[2016-05-13 15:26] dagar commented on #4530
Is it reproducible? This was probably indoors with no gps?

I've seen an ekf_att_pos_estimator hard fault intermittently with fixedwing HIL when I connect QGC and the ekf finally gets a position. I haven't looked into it, but it might be effectively the same conditions.

What's at 0x0808be22 in your build?

[2016-05-13 15:27] julianoes opened #4531 "SITL initialization painfully slow"
It takes forever to get a position initialization and home position in SITL. This slows a developer down big time.

[2016-05-13 15:45] kd0aij commented on #4530
Occurred at least twice yesterday under a metal-roofed shelter (fairly good gps signal)
Between that and the mixer issues, it's unflyable. This setup was last tested before winter; has anything changed that would invalidate the custom mixer?

(gdb) info line *0x0808be22
Line 67 of "../src/lib/ecl/attitude_fw/ecl_pitch_controller.cpp"
   starts at address 0x808be1e <ECL_PitchController::control_att

[2016-05-13 15:48] LorenzMeier commented on #4531
Please file in ECL, it's EKF2, not SITL

[2016-05-13 15:48] #4531 closed

[2016-05-13 16:06] kd0aij commented on #4530
crash is consistently reproducible on the bench by booting then faking gps at the console:
gps stop
gps start -f

crashes immediately after starting gps

[2016-05-13 16:08] dagar commented on #4511
We should flesh out the details of the stick mapper (https://github.com/PX4/Firmware/issues/2822) and I'll start working on it.

[2016-05-13 16:25] julianoes commented on #4531
Thx, issue filed: https://github.com/PX4/ecl/issues/128

[2016-05-13 16:27] julianoes commented on #4516
@LorenzMeier: `git bisect` points to 8960ab3402a87b182d17ab1b3cb165115e0f4bad

[2016-05-13 16:31] julianoes commented on #4516
Is this connected to https://github.com/PX4/Firmware/pull/4514?

[2016-05-13 16:37] dagar opened #4532 "Testing"
@bkueng @LorenzMeier @AndreasAntener let's discuss where we'd like to get with testing and coordinate our effort.

Overall it would be nice to have unit and integration testing that's run on every platform.

Ideas/Todo
- unit tests (src/systemcmds/tests and unittests)
  - move to gtest and merge them (WIP https://github.com/PX4/Firmware/compare/master...dagar:gtest?expand=1)
  - runs with px4fmu-v

[2016-05-13 16:38] julianoes commented on #4516
This would fix it for now #4533.

[2016-05-13 16:56] julianoes opened #4534 "Descend mode when GPS fails needs checking"
The case where RC and GPS, both have failed, needs to be checked. It should go into open-loop descend mode, however, it doesn't seem to execute it correctly and just drifts off.

Additionally, it can't auto-disarm after landing because the landing detector doesn't work when GPS is lost.

[2016-05-13 17:28] tfoote commented on #4424
This looks similar to https://github.com/Dronecode/sitl_gazebo/issues/29 which @hsu was unable to reproduce.

From @hsu

I'm not familiar with what's going on under the hood but this looks to me like some sort of discritization issue.

[2016-05-13 20:05] #4516 closed

[2016-05-13 21:43] julianoes opened #4536 "SITL ekf2 not starting"
Seems like something went wrong with the switch to LPE:

[code]

[2016-05-13 21:56] julianoes commented on #4157
I tried this and it turns out the navigator needs dataman which in turn uses `lseek()` which doesn't seem to be available on the DSP side.

For now, I'm going to propse to run the navigator on the Linux side.

[2016-05-13 21:57] LorenzMeier commented on #4157
That seems perfectly fine.

[2016-05-13 22:03] LorenzMeier commented on #4536
I don't think this is switch related. The config was just unmaintained.

[2016-05-14 03:35] kd0aij commented on #4530
to answer my own question, there was a bugfix here on 12 March: https://github.com/PX4/Firmware/commit/f7ac1f0d8f7e8ea8975a6ba4a1e79ea433ae0b18
which also needed to be applied to my custom mixer.

@dagar What would be the best way to warn other users who might be using custom mixers?

[2016-05-14 03:49] dagar commented on #4530
We're so tight on memory that a few extra lines in your mixer are this much of a problem? I've never looked at the mixer code, but at the very least we could add a conservative length check.

[2016-05-14 03:53] kd0aij commented on #4530
The description of that commit says "unused lines... clobbering RAM".  Seems like that should crash the IO processor though, not the FMU.

[2016-05-14 05:03] SamChenzx opened #4542 "What format of RC information should I send to snapdragon flight via UART if snapdragon_rc_pwm is used?"
I'm working on snapdragon flight these days. When I connect my snapdragon flight with a 3DR GPS/MAG module and start PX4 flight stack, I can arm and takeoff it via command line. The UART output file for snapdragon flight suppose to be snapdragon_rc_pwm.cpp.
In this source file I find that the baud rate as configured in initialise_uart() API is B921600. The problem is that if I modify the baud rate

[2016-05-14 06:15] julianoes commented on #4542
Can you share your changes on a branch/PR/patch? Without looking at code, I can't really judge what's wrong.

I don't understand your question. Do you want PWM duty cycles for ESCs or controls in roll/pitch/yaw/thrust from -1 to 1?

[2016-05-14 06:29] SamChenzx commented on #4542
I changed nothing but only modified B921600 to B115200.
I want PWM duty cycles for ESCs directly, is there anything else should be
changed?

On Friday, May 13, 2016, Julian Oes <notifications@github.com> wrote:

[2016-05-14 06:43] julianoes commented on #4542
Well, on the Snapdragon, uart_esc.cpp is running, you have to change the baudrate there as well. As far as I know, it should already send PWM signals (over mavlink).

[2016-05-14 10:12] LorenzMeier opened #4544 "Replay of ulog files"
@bkueng @dagar Now that we can log the whole system I would love to get going with an app able to replay a log into the system. That would not be too hard to generate and extremely powerful.

[2016-05-14 13:58] kd0aij commented on #4530
@AndreasAntener I guess I shouldn't have called https://github.com/PX4/Firmware/commit/f7ac1f0d8f7e8ea8975a6ba4a1e79ea433ae0b18 a "bugfix", since it changes the input files, not the parser (or whatever was blowing RAM). Is is also necessry to "strip" the comment lines from a custom mixer to avoid corrupting RAM? I'd be willing to spend some time on this if it will provide better protection from cr

[2016-05-14 14:21] kd0aij commented on #4530
@dagar Apparently, the hardfault is not related to the mixer issues. I'm still seeing it when GPS is either lost or re-acquired (can't tell which):
[code]

[2016-05-14 14:25] dagar commented on #4530
For the mixers in ROMFS/px4fmu_common/mixers they're stripped when copied
to the build directory.

To sidetrack this bug further, it would be great to have a tool to help
adjust the mixer. I had a plane with a servo for each stab and I gave up
trying to use the mixer to center them and just used a servo programmer.

On Sat, May 14, 2016 at 9:58 AM, Mark Whitehorn <notifications@github.com>
wrote:

[2016-05-14 14:30] dagar commented on #4530
I'm fairly certain this is the same bug I get with fixed wing HIL fairly
often. Including the same "navigator timed out" due to global_pos.
Something to do with the timing of when ekf_att_pos_estimator finally gets
GPS. The next time it happens in my setup I'll dig into it.

On Sat, May 14, 2016 at 10:21 AM, Mark Whitehorn <notifications@github.com>
wrote:

[2016-05-14 14:33] kd0aij commented on #4530
Do you see it as a significant risk? Or do you still have manual control available with the FMU crashed?

[2016-05-14 14:41] dagar commented on #4544
Interesting idea. Do we only replay "input" messages? gps, sensors, manual_input, etc.

[2016-05-14 14:47] LorenzMeier commented on #4544
We replay by default everything, but we should have a blacklist so that you can disable the messages of the module you're intending to test.

[2016-05-14 14:48] kd0aij commented on #4530
Just verified that the IO coprocessor is still working after the hardfault, and manual RC control is OK. Except my gimbal doesn't work after removing those lines from the main mixer. Will try putting them back now.

[2016-05-14 14:50] kd0aij commented on #4544
What datarate will be required to log everything, and will we be limiting
the logging rate for high-rate sensors? We'll need to increase the limit on
file descriptors to log all topics, and perhaps allocate more stack space.

On Sat, May 14, 2016 at 8:47 AM Lorenz Meier <notifications@github.com>
wrote:

[2016-05-14 16:27] ecmnet opened #4546 "LPE: Takeoff command"
Switching to state MAIN_STATE_AUTO_TAKEOFF requires home position set as well as a valid global position. LPE (with GPS off) however publishes global position only, when a certain altitude above ground is reached. As a consequence, TakeOff does not work with LPE. @jgoppert: Any idea to overcome this?

[2016-05-14 16:55] jgoppert commented on #4546
There is no valid position data when you are on the ground with a short vehicle because the flow is out of range. So you need to launch in manual, and then flip it to auto. Maybe would could create some takeoff command that says just go into altitude mode and climb, but that seems dangerous.

[2016-05-14 17:07] ecmnet commented on #4546
@jgoppert I agree, TakeOff without any position control seems to be dangerous. What about if GPS is enabled in LPE? The same behavior?

[2016-05-14 18:02] jgoppert commented on #4546
@ecmnet If GPS is enabled you can do auto take-off. There is no height requirement, there is only the requirement that you have position data.

[2016-05-14 18:18] LorenzMeier commented on #3620
I didn't realize we still had this. Indeed something to fix right away.

Given that the user is not providing yaw angle set points anyway the whole method should be replaced. The user intent does never include yaw angles.

[2016-05-14 18:32] dagar commented on #4532
It looks like getting gtest to build on Nuttx will take some effort.

[2016-05-14 18:46] ecmnet commented on #4546
@jgoppert I don't think so. As far as I found out now, global position is only set, when flow is initialized in LPE, even with GPS enabled. Also home-position is only set with valid flow.

[2016-05-14 19:54] kd0aij commented on #4530
EKF crash fixed by https://github.com/PX4/Firmware/commit/237bdfdb61ea335df7c2baca0588fd7fa3e26c6d

Closing but note there are unanswered questions about custom mixers

[2016-05-14 21:04] SamChenzx commented on #4542
Thanks for your remind, now I got the PWM signals, so the bug seems in the
Qtcreator on Ubuntu Linux. I use it as my code editor but can only
find snapdragon_rc_pwm
in the project file tree uart_esc in the file system but not included in
the project.

On Fri, May 13, 2016 at 11:44 PM, Julian Oes <notifications@github.com>
wrote:

[2016-05-14 22:56] vinhk commented on #4329
Hi @MegaAdragon how did you implement Pixhawk with the LPE?

[2016-05-14 23:23] jgoppert commented on #4546
That's odd, I've done auto take offs with GPS. Maybe it is a recent issue or something I missed when you are running both GPS and flow.

[2016-05-15 00:11] jgoppert commented on #4329
@vinhk Set SYS_MC_EST_GROUP = 1 and reboot.

[2016-05-15 00:12] jgoppert commented on #4329
I flew an auto mission with LPE recently so I believe this has been resolved @MegaAdragon? If there are problems with your offboard config it most likely isn't LPE related.

[2016-05-15 00:12] #4329 closed

[2016-05-15 00:14] jgoppert commented on #4486
On the v4 firmware I didn't see this problem, so I will watch next time on v2 to see if it is fixed now.

[2016-05-15 00:15] jgoppert commented on #4500
It would also be useful for quads. I have a pan/tilt setup on my 250 pixracer and having it auto level the camera would probably make flying simpler.

[2016-05-15 07:27] ecmnet commented on #4546
@jgoppert I just figured out, that my GPS was too bad, which did not allow global position being published in landed state. As LPE publishes global position, if any of the XY sensors is available, it is now clear, why home position was set after takeoff only in my case. Flow was working then, allowing global position to be published and taken as home position.

[2016-05-15 07:27] #4546 closed

[2016-05-15 11:58] ecmnet opened #4547 "Failsafe mode triggered after landing with LPE"
Using LPE without GPS, failsafe is triggered after auto-landing has completed.
The reported sequence is:

55760: Landing at current position                       
57704: [lpe] flow timeout                                
57758: [lpe] xy timeout                                  
58541: [lpe] lidar timeout                               
58592: [lpe] tz timeout                                  
5869

[2016-05-15 13:12] LorenzMeier opened #4548 "orb_copy() in MAVLink app sometimes returns without data"
@bkueng I noticed today that orb_copy() inside the MAVLink app does not always return data. Can you please look into this with highest priority on Monday?

[2016-05-15 13:57] LorenzMeier commented on #4548
Was bad instrumentation and the issue was somewhere else.

[2016-05-15 13:57] #4548 closed

[2016-05-15 15:43] ecmnet commented on #4547
Latest master: Landing denied, when GPS not valid.

[2016-05-15 17:32] dagar opened #4549 "http://px4.io/help no longer exists"
The help message URL you get when the airspeed sensor is missing is no longer correct. What should it be replaced with? A new page on http://dev.px4.io?

https://github.com/PX4/Firmware/blob/master/src/modules/commander/airspeed_calibration.cpp#L118

![screenshot from 2016-05-15 13 25 30](https://cloud.githubusercontent.com/assets/84712/15275705/f389ce3e-1aa0-11e6-9b00-ff94692938cb.png)

[2016-05-15 19:47] kd0aij commented on #4530
Reopening: observed another hardfault on the bench while trying to get RC failsafe configured for OBC rules:
This was commit 237bdfdb which fixed the previous crash:

[code]

[2016-05-15 22:22] vinhk commented on #4329
James if you have time. Do you know how I can find out if my px4flow is
working with pixhawk? Is there a way to see data being sent to pixhawk from
optical flow?

On Saturday, May 14, 2016, James Goppert <notifications@github.com> wrote:

[2016-05-15 22:38] jgoppert commented on #4329
@vinhk  Yes, just plug in usb and start qgroundcontrol. Under the setup page you should see a px4flow display. Use this to focus the camera using text at the distance you intend to flight at.

[2016-05-15 22:42] vinhk commented on #4329
I see. But without outputs from pixhawk, I'm not sure if it is working my
my pixhawk. I have successfully been able to view the display in
qgroundcontrol. Based on my knowledge of making px4flow work with pixhawk
is upload firmware and just connect serial wires from px4flow to pixhawk.

On Sunday, May 15, 2016, James Goppert <notifications@github.com> wrote:

[2016-05-15 22:51] kd0aij commented on #4329
With px4flow connected to pixhawk, QGC should
show MAVLINK_MSG_ID_OPTICAL_FLOW_RAD messages in the mavlink inspector

On Sun, May 15, 2016 at 4:42 PM vinhk <notifications@github.com> wrote:

[2016-05-15 22:53] vinhk commented on #4329
Ok thank you. I'll look into it.

On Sunday, May 15, 2016, Mark Whitehorn <notifications@github.com> wrote:

[2016-05-16 00:18] dagar opened #4550 "External Mag Rotation"
With a fresh pixhawk (all params reset) and an external mag there doesn't seem to be a way to set the rotation in QGC sensor calibration. Unless I've missed something it appears that you're only prompted for the rotation if CAL_MAGi_ID is set and CAL_MAGi_ROT >= 0 (external), but those aren't set until you calibrate.
https://github.com/mavlink/qgroundcontrol/blob/master/src/AutoPilotPlugins/PX4/Se

[2016-05-16 00:46] DonLakeFlyer commented on #4550
You should be prompted for rotations with a side dialog after cal completes.

[2016-05-16 00:51] dagar commented on #4550
Ha, I totally missed that. Thanks Don

On Sun, May 15, 2016, 20:46 Don Gagne <notifications@github.com> wrote:

[2016-05-16 00:51] #4550 closed

[2016-05-16 02:56] kd0aij commented on #4530
[code]

[2016-05-16 03:31] Userskii commented on #4516
I tested and it works. Thanks.

[2016-05-16 05:28] ecmnet commented on #4547
Maybe relaxed to https://github.com/PX4/Firmware/issues/4534

[2016-05-16 08:18] LorenzMeier commented on #4329
You need to interface it via I2C, *NOT* serial.

[2016-05-16 09:08] bkueng commented on #4532
Those are definitely good ideas. The most urgent one I see is to get snapdragon into travis. Snapdragon often breaks for various reasons, so this would make life for snapdragon devels easier.

A point I want to mention is performance: tests that run on PR requests should execute fast, otherwise it slows down our whole PR workflow. We can add more intensive tests that run eg every night on all bran

[2016-05-16 11:50] dzett opened #4552 "VTOL in MC mode gets confused about what is level flight"
Hi there,
There currently are three independent reports of VTOLs flipping and maintaining + or -90deg pitch shortly after takeoff in MC mode and remaining uncontrollable in a meaningful way, see http://discuss.px4.io/t/caipi-vtol-pitch-issues-with-master-firmware-plane-goes-level-in-mc-mode incl. logs. At least my Caipi tailsitter build did not show this with a master from end of March/early April

[2016-05-16 12:46] tumbili commented on #4552
@dzett Hi, I just flashed my lab tailsitter with latest master and everything seems to be working.
I can upload a log for you to compare your parameters.
Will do that in a sec.

[2016-05-16 13:07] tumbili commented on #4552
@dzett Here is the log: http://logs.uaventure.com/view/E5H6ezBC3WYTusjaCTN7La

[2016-05-16 13:09] kd0aij commented on #4530
@LorenzMeier I guess the two (identical?) hardfaults above are also due to RAM corruption in EKF, but I don't see a good way to track it down. Looks like a subscription handle was trashed.

[2016-05-16 13:14] tumbili commented on #4552
@dzett Here is what I think:
1) Tuning of the pitch axis might not be sufficient. In my last flight my pitchrate P gain was at 0.5 compared to the 0.3 you were using. We possibly have to adjust the default gains for the Caipirinha because several things have changed over the last year and we are not able to push the gains higher.
2) The default elevons of the Caipi are definitely too small. My hop

[2016-05-16 14:09] dzett commented on #4552
@tumbili, thanks, then I will try with adjusted tuning according to your settings and a fresh master but unfortunately have to wait until next weekend.
I just found it odd that even fully pulling back pitch towards myself during takeoff and while still upright never caused the plane to tip towards me (which it would before).
Also, the other users have different frames (like generator on discuss.px

[2016-05-16 14:55] dagar commented on #4530
What about CONFIG_ARMV7M_STACKCHECK?
https://github.com/PX4/Firmware/blob/master/nuttx-configs/px4fmu-v2/nsh/defconfig#L120

[2016-05-16 14:57] kd0aij commented on #4530
Thanks, I was just trying to build with that; is that the only file that needs to change?

[2016-05-16 15:01] dagar commented on #4530
If you're using a pixhawk you'll likely exceed the size limit and need to disable several modules. mpu9250 and uavcan are good candidates.
I would also throw away the entire build directory.

[2016-05-16 15:22] kd0aij commented on #4530
I'm getting a hardfault early in the boot process:
[code]

probably don't have the right compiler switches set; how do I look at the actual compiler commands generated by cmake?

[2016-05-16 15:31] dagar commented on #4530
From the actual build directory

    cd build_px4fmu-v2_default

then

    ninja -v -j1

   or

    make -j1 VERBOSE=1

It's entirely possible this is going to find lots of little potential issues that haven't bitten us yet. If that's the case once we get a hardware test harness back in the builds (https://github.com/PX4/Firmware/issues/4532) we should have a variation with STACKCHECK enabled.

[2016-05-16 15:41] kd0aij commented on #4530
it looks like these switches are missing: (from nsh/Make.defs)
[code]

[2016-05-16 16:44] dzett commented on #4552
@tumbili two more questions if I may :-)

- The pitch tracking in your log indeed looks better. Is that with the standard elevons or already modified?

- I compared the parameters in our logs and besides tuning and calibration (and some new params that seem to have been introduced the last days eg around EKF2) and a bit more aggressive values for pos control velocities they seem identical. One dif

[2016-05-16 16:46] tumbili commented on #4552
@dzett Let me set the circuit braker and see if this is the problem.

[2016-05-16 21:26] tubeme commented on #4534
Probably this is the reason I had almost terrible accident with a friend of mine. My VTOL flipped after rough landing, far away in pretty deep grass. So in the rush I did not disarm the machine thinking that auto disarm will trigger. My friend went to pick up the VTOL, He saw that the machine is upside down spinning the props on idle. Once he picked up the machine it gave full throttle in his hand

[2016-05-17 09:10] AndreasAntener opened #4556 "Transform roll/pitch commands with current yaw instead of setpoint"
@tumbili @LorenzMeier
VTOLs really suffer from this currently, would be great if we can get to the bottom of it soon.

For reference, a similar previous attempt: https://github.com/PX4/Firmware/pull/3397

[2016-05-17 09:20] AndreasAntener opened #4557 "Low pass filter motor outputs to prevent standard ESC sync losses"
@tumbili @LorenzMeier
There were a few discussions on this topic and it the issue is generally acknowledged, but it is not 100% clear what measures to take. The proper solution obviously is having smart ESC that actively control RPM and do not loose sync. But we also need to cope with standard setups, therefore not so smart ESCs..

Proposed solutions
- output slew rate
- output LPF

Ideally the us

[2016-05-17 10:51] dzett commented on #4552
@tumbili thanks for your offer and your help, but on second thought it is unlikely that it is the airspeed circuit breaker because I had also set it during my earlier flight, so you can save the time. Once I am finally back I will try the newest master and improved PIDs.

[2016-05-17 12:11] tubeme commented on #4556
There is something inadequate in the YAW handling in the PX4 for the VTOL. I dont know what, it might be the issue here and the #3397 as well.

Benchmark is our simple KK2.0 build, which handles the YAW much much more adequate in hover ie quad.

If I want to really have good YAW handling in all modes with PX4 I need to crank so much the PID's that the osculations are obvious. When I tune the frame

[2016-05-17 13:42] julianoes commented on #4534
@tubeme I don't think that your issue is directly connected to the GPS fail (unless a log proves it). If it flips, the impact is likely to throw off the position estimator, so it might just not have detected the landing.
I agree that it would be good if an upside down landing would get detected properly, it's something to chase up in a separate issue.

However, I would argue that the "danger" in t

[2016-05-17 13:44] julianoes opened #4558 "Flipped landing detection"
It would be nice if the land detector would robustly detect when the vehicle has landed upside down or just flipped when landing.

[2016-05-17 13:44] julianoes commented on #4534
@tubeme I created an issue for your case: #4558.

[2016-05-17 15:52] davids5 commented on #1720
Cmake made this a non-issue

[2016-05-17 15:52] #1720 closed

[2016-05-17 15:53] davids5 commented on #4388
Works as advertised!

[2016-05-17 15:53] #4388 closed

[2016-05-17 15:58] davids5 commented on #2434
Fixed by @Inspirati  as nsh_parse.patch applied at build time

[2016-05-17 15:58] #2434 closed

[2016-05-17 16:19] davids5 opened #4560 "Using board_config.h to define components and buses"
1) Consider using board_config.h to define components and buses

 For example code the says
   `#if defined(CONFIG_ARCH_BOARD_XXXXX)` becomes `#if defined(HAVE_MPU6500)`
see https://github.com/PX4/Firmware/blob/master/src/drivers/drv_sensor.h#L75

2) Use the same mechanism that is afforded by xxx_timer_config.c to define io [resets](https://github.com/PX4/Firmware/blob/master/src/drivers/px4fmu/fm

[2016-05-17 16:34] davids5 opened #4561 "ver.c Cleanup"
1.  Rework https://github.com/PX4/Firmware/blob/master/src/systemcmds/ver/ver.c#L66 to work like the PX4_GIT_TAG_STR is generated from the last NuttX tag
2. Consolidate all the unique_id like mcu_unique_id to use boardctl(BOARDIOC_UNIQUEID) (produce the same format as uavcan requires with a wrapper to keep ver command format the same

[2016-05-17 16:36] davids5 opened #4562 "Move system reset to board code from srs/drivers/boards"
Use CONFIG_BOARDCTL_RESET and

[code]

[2016-05-17 16:44] LorenzMeier commented on #4556
@tubeme Have you yaw feedforward (FF) set? Sounds like you're missing it.

[2016-05-17 17:17] tubeme commented on #4556
@LorenzMeier Yes the FF is not enough now when you pointed out. Will try more FF and will report.

Though how's the back transition YAW problem related to FF gain? Isn't it that the FF gain is applied to my input form the RC?

[2016-05-17 18:10] AndreasAntener commented on #4556
Oh, I thought there was already an issue for that, ref: https://github.com/PX4/Firmware/issues/3620

[2016-05-17 20:04] tubeme commented on #4534
@julianoes We are preparing an end user product, so I'm expecting a lot of inconsistent behavior around this machines and many other machines based on PX4. The situation I got in proves that even experienced user like me could do the mistake of not disarming... Partly because I thought the VTOL is a total crash and the batteries are disconnected which is the usual case... The user that got the VTO

[2016-05-18 13:42] jgoppert opened #4567 "Generic 250 Voltage Parameters Wrong"
When gunning the motors I was able to drop the voltage 1-2 volts. This was triggering the battery alarm, so we need to figure out the correct setting for the voltage drop/ current parameter.

BAT_V_LOAD_DROP Voltage drop per cell on full throttle  0.07    0.5 0.3
This implicitely defines the internal resistance to maximum current ratio and assumes linearity. A good value to use is the difference b

[2016-05-18 14:10] kd0aij commented on #4530
@dagar I've had no luck so far trying to get those compiler switches applied. Can you give any advice on how to accomplish it?

[2016-05-18 14:15] kd0aij commented on #4567
@jgoppert I don't see any of those parameters being set in existing quad config files. I'm sure the drop under load is battery and vehicle specific too. My solution has been just to watch the voltage at my transmitter (or OSD) and ignore the PX4 warnings :)

[2016-05-18 14:23] jgoppert commented on #4567
@kd0aij Granted, I think we should still add more reasonable defaults to the generic 250. At full throttle I went from 12.55 to 10 volts at times (on my OSD), no reason we can't fix that with better parameters. And you would hope that the voltage drop is linear with respect to current draw at least for similarly sized vehicles. I'll try to get some logs of it, so we can smooth it out. No one wants

[2016-05-18 14:27] jgoppert opened #4568 "Safety Button Disabled on v4 Firmware"
The v4 firmware seems to allow the vehicle to arm without the safety button being pressed. I don't think this is intended behavior, and if it is I would propose it be changed for safety concerns.

[2016-05-18 14:28] kd0aij commented on #4567
Agreed. I'll see if I can find good values from my S250 and QAV250. I note that the Vortex OSD shows a warning when remaining capacity drops below a certain point. Seems like the threshold may be 400mah

[2016-05-18 14:28] jgoppert commented on #4487
Could this be related to https://github.com/PX4/Firmware/issues/4567?

[2016-05-18 14:31] kd0aij commented on #4568
Yes, the disable is explicitly coded (in rcS, I think) and can't be overridden with the CBRK parameter.

[2016-05-18 14:31] jgoppert opened #4569 "Officially Support QAV-R Frame"
http://www.getfpv.com/multi-rotor-frames/qav-r/qav-r-fpv-racing-quadcopter-5.html

[2016-05-18 14:37] dagar commented on #4530
I can give it a try tonight.
What's an easy way to reproduce? Current master, fixed wing model, and restarting gps as you described above?

[2016-05-18 14:47] kd0aij commented on #4530
This last fault isn't occurring very often, and I don't know what triggers it. But I was talking about building with stack checking; neither I nor google search is up to the task of figuring out why the build doesn't have those compiler switches specified.

[2016-05-18 14:53] dagar commented on #4530
I was going to try both. For stack check I'm guessing we just need to get the instrumentation flags into the rest of the PX4 cmake build.

[2016-05-18 14:56] kd0aij opened #4570 "PixRacer: shorten PWM ramp and arming delay"
The arm/disarm delay for PixRacer can be shortened considerably; the Blade Vortex seems to be <1 second. And the long PWM ramp is completely unnecessary. Worse, the throttle is inhibited till the ramp ends and users are throttling up during that period and getting a sudden high-throttle start.

[2016-05-18 14:57] kd0aij commented on #4530
Thanks, nothing I tried had any effect on the cmake build.

[2016-05-18 15:25] AndreasAntener commented on #4487
@jgoppert no this one is about a new setting for power modules that come with a fixed offset on the current signal.

[2016-05-18 15:32] jgoppert commented on #4487
Any chance the acsp4 from auav that I have needs this param to correct the current to the extent that it would cause #4567?

[2016-05-18 15:35] jgoppert commented on #4567
@kd0aij yeah I think it should warn on extreme voltages or capacity past max ideally. Just in case you start flying with an empty battery.

[2016-05-18 15:38] AndreasAntener commented on #4487
I don't know what settings they need, they don't specify it on their page so I'm assuming defaults should work? The offset I've only seen on one module so far (from Drotek)

[2016-05-18 17:00] tubeme commented on #4534
@julianoes Thanks for the new issue. Safety will distinguish the future players in the robot and drone industry.

[2016-05-18 17:13] julianoes commented on #4534
@tubeme: Sorry, don't get me wrong. I totally agree that there should be protection (that's why I created thr separate issue) and I'm sorry to hear about your accident. This said, it's not always easily possible to detect failures without creating risks to detect false positives.

[2016-05-18 18:07] marianobianchi opened #4571 "timestamp in msg files"
Since commit 76387b1693f234602e6c354115fbcac25b33baab all .msg files stop having a timestamp value. But code from nodes still uses it so when i try to compile using catkin_make i get these errors:

[code]

[2016-05-18 18:40] LorenzMeier commented on #4571
The timestamp is automatically added since that change: http://dev.px4.io/advanced-uorb.html#adding-a-new-topic

@bkueng That might be missing from our ROS port. @marianobianchi Are you actually using the ROS port after all? Its incomplete and undocumented.

[2016-05-18 19:22] AndreasAntener commented on #4532
Sounds good. Just letting you know that I'm working on SITL mission testing. The main issue there is still reporting failures in a way you can understand what went wrong, or at least being able to run the test locally with a one liner would be great. The less important issue (but will become important) is simulation speed. On decent hardware we can let Gazebo run at multiple times of realtime, but

[2016-05-18 20:11] tumbili commented on #4556
Fixed in #4564

[2016-05-18 20:11] #4556 closed

[2016-05-18 20:12] tumbili commented on #3620
Fixed in #4564

[2016-05-18 20:12] #3620 closed

[2016-05-18 20:28] marianobianchi commented on #4571
Thanks for your answer. I am working on a project that have a little code for using multiple UAVs and I'm trying to run that code with the latest firmware (latest SITL). I thought ROS integration was still working as always but now that you say this I might have started off on the wrong foot. I don't know what do you mean with "ROS port" but I think you mean that is not recommended to include px4

[2016-05-19 00:10] davids5 commented on #4530
Here is a pr (on nuttx_v3) that will get the the instrumentation flags in Correctly. Just be aware the code size and cpu usage is going to balloon

[2016-05-19 00:48] intijk opened #4573 "Problematic cmake target."
When I do:

`make gazebo_build`

it gives:

[code]

I did some tracking and found in **Makefile**
[code]

it writes the build files to **Tools/sitl_gazebo**, but went to **build_gazebo** to perform the make.

Should change

        cd build_gazebo && $(PX4_MAKE) $(PX4_MAKE_ARGS)
        cd build_gazebo && $(PX4_MAKE) $(PX4_MAKE_ARGS) sdf

to

        cd Tool/sitl_gazebo && $(PX4_MAKE) $(PX4_MAKE_A

[2016-05-19 01:23] dagar commented on #4573
Cmake writes the build files to the current directory and you specify the source directory or an existing build directory. The gazebo targets (eg `make posix_sitl_default gazebo`) are currently working for me. I'm guessing you have leftover build files from before the build_gazebo directory was moved.

Can you try deleting build_gazebo, and cleaning Tools/sitl_gazebo (git clean -ff -x -d)? Then tr

[2016-05-19 01:40] intijk commented on #4573
I carefully checked my clean, I found **git clean -ff -x -d** cannot really clean the folder (Tools/sitl_gazebo still have files which cannot be remove by git clean ).

I tried to clone the repo again, now it works, thank you :)

[2016-05-19 01:46] dagar commented on #4532
Could we pull logmuncher or equivalent into a script in Tools? For a failure maybe we could annotate the plots with when the failure occurred. We could keep the logmuncher output of the last successful run of that particular test on s3 for comparison.

[2016-05-19 01:47] mhkabir commented on #4573
@intijk Next time, run ```make submodulesclean```

[2016-05-19 01:47] #4573 closed

[2016-05-19 01:48] dagar commented on #4573
I'm glad it's working.
I'm surprised git clean didn't work. Did you run it from Tools/sitl_gazebo? It's a submodule so running it in a directory above won't clean within sitl_gazebo.

I've updated `make clean` to also clean Tools/sitl_gazebo.

[2016-05-19 01:56] intijk commented on #4573
As @mhkabir mentioned.

**make submodulesclean** did the work :)

[2016-05-19 01:59] dagar opened #4575 "SITL01 cannot send emails"
@AndreasAntener @LorenzMeier
The PX4 Firmware POSIX SITL jobs seem to fail failure often due to email server problems. Maybe disable email notifications?

http://sitl01.dronetest.io/job/PX4%20Firmware%20POSIX%20SITL%20PRs/542/console

Sending e-mails to: andreas@antener.name lm@qgroundcontrol.org
ERROR: Could not connect to SMTP host: localhost, port: 25
javax.mail.MessagingException: Could not co

[2016-05-19 02:03] davids5 commented on #4530
@kd0aij @dagar

[2016-05-19 02:03] davids5 commented on #4530
@kd0aij, @dagar
Here is a [PR] (https://github.com/PX4/Firmware/pull/4572) (on nuttx_v3) that will get the the instrumentation flags in Correctly. Just be aware the code size and cpu usage is going to balloon

[2016-05-19 04:40] AndreasAntener commented on #4575
That's an issue but it's not the problem why the jobs fail (#4424).

[2016-05-19 04:47] dagar commented on #4575
I completely missed that. Is it only trying to email on a test failure? If that's the case then just ignore this.

[2016-05-19 04:48] AndreasAntener commented on #4575
Yep. Ah that's ok, we should fix it this too ;)

[2016-05-19 05:22] dagar commented on #4530
Thanks @davids5 that seems to be working.

[2016-05-19 05:22] bkueng commented on #4571
Yes I think the catkin workspace does not work, but the ROS wrapper does.

[2016-05-19 13:46] LorenzMeier commented on #4570
I would shorten the ramp for all systems to 1-1.5 seconds. Would you want to do a PR for that?

[2016-05-19 13:48] LorenzMeier commented on #4568
The reason for that is because we initially didn't offer a safety switch. We needed to force it to the value for all v4 users during one release, now we can remove this again, as nobody will be surprised now when setting up a new airframe.

[2016-05-19 13:48] #4571 closed

[2016-05-19 13:49] LorenzMeier commented on #4536
Thanks for fixing it!

[2016-05-19 13:49] #4536 closed

[2016-05-19 13:49] #4477 closed

[2016-05-19 13:51] #4304 closed

[2016-05-19 14:10] kd0aij commented on #4530
@davids5 Thanks, I was able to understand the patch.
@dagar I still get a fault during startup; are you getting any further?
[code]

[2016-05-19 14:18] kd0aij commented on #4570
I'll do some testing to determine whether the ramp is necessary. Was it intended for safety reasons or was it necessary at some point to accommodate a bad ESC? I've never found it necessary to start an ESC with a ramp.

[2016-05-19 14:29] LorenzMeier commented on #4570
If you don't have your ESCs calibrated it will lead to a flip if you don't use a ramp.

[2016-05-19 14:36] marianobianchi opened #4578 "mavros_posix_sitl launch not connecting correctly"
When running `roslaunch px4 mavros_posix_sitl.launch` I don't get a connection to work correctly from ROS. I checked what `/diagnostics` topic says and got this:

[code]

I checked what things mavros_posix_sitl.launch started and I find that it is connecting to the wrong udp port. mavros_posix_sitl.launch has this configuration for mavros:

[code]

while in rcS_gazebo_iris (configuration used in p

[2016-05-19 15:14] pkocmoud commented on #4570
Why not make this a param? Problem solved. Default to 1.5 seconds. Mark can change to 0 or anyone else wanting its removal.

[2016-05-19 15:52] dagar commented on #4530
I started fixing all the stack sizes in the stackcheck branch on master - https://github.com/PX4/Firmware/tree/stackcheck

I had to strip down px4fmu-v2_default to just fixed wing controllers, and estimator to get it building. At the moment there's still a weird hard fault when the sensors main exits. I don't know if this is getting us closer to fixing your issue, but the number of issues is conce

[2016-05-19 16:34] kd0aij commented on #4570
@LorenzMeier It looks like using params for this would be a PITA, since the ramp is done in the IO coprocessor, and it doesn't have access to parameters.

[2016-05-19 17:07] LorenzMeier commented on #4570
Let's just shorten it. Half a second to a second might just do it.

[2016-05-19 18:55] jgoppert opened #4580 "MAVLink over USB broken on master"
To reproduce:

1. Fresh build of master.
2. put sdcard in
3. Reboot powering off of usb/or battery.

Expected:

1. Can connect with qgroundcontrol.

Results:

1. Can't connect with qgroundcontrol, doesn't appear to send anything looking with terminal.
1. Can still connect via radio.

I tried v1.3.0rc3 and it works as expected, so this is a recent bug.

[2016-05-19 19:19] cgerlach42 opened #4582 "Accelerometer bias correction not applied in INAV"
While digging in position_estimator_inav I noticed that the calculated accelerometer bias corrections are not applied for the VISION topic.
should be done here: https://github.com/PX4/Firmware/blob/master/src/modules/position_estimator_inav/position_estimator_inav_main.cpp#L1085
(just as it's done for e.g. MOCAP here: https://github.com/PX4/Firmware/blob/master/src/modules/position_estimator_inav/

[2016-05-19 19:52] LorenzMeier commented on #4580
Two things:

1. Can you check if its resolved now? Daniel just pushed a bunch of fixes.
2. We have unfortunately some bouncing of LPE enabled / disabled on master because we really hit the flash limit. That could explain why your boot failed (and nobody else's). It should be fine on Pixracer, it will not work on Pixhawk. I can only really resolve this by retiring EKF1, but for that we need EKF2 to

[2016-05-19 20:26] thedevleon opened #4584 "ROI Implementation and Gimbal Integration"
This is sort of 2 issues in one. If wanted, I can split this into two issues.
#### The current state (at the time this issue was created)
1. Sadly, nothing in regards to ROI is implemented. Neither the MAV_ROI enum and nor MAV_CMD_NAV_ROI or MAV_CMD_DO_SET_ROI are parsed by the commander.
2. Since those are not implemented, there is no current way to use the current vehicle ROI to control a gimbal

[2016-05-19 20:50] LorenzMeier commented on #4584
@thedevleon Your proposal sounds excellent and correct regarding the vehicle architecture. It would be fantastic if you would be willing to start to work on it.

[2016-05-19 21:19] lvale commented on #4584
@thedevleon Be aware that Mavlink parsing by gimbal controllers is not guaranteed, as some implement specific serial protocols (like AlexMos and also STorM32-both serial and mavlink)

[2016-05-19 21:31] thedevleon commented on #4584
I agree @lvale. That's why I was saying that this is a 2 part issue.
The implementation, parsing and publishing of the ROI via uORB would be one thing, and the actual gimbal driver handling the communication (and limitations) would be the other :)

[2016-05-20 04:49] pickledgator commented on #4188
I was playing around with this today and was also having trouble understanding the implementation. Namely, since when vision is enabled, the heading doesn't seem to converge to the correct value. Eg, when sending a 1,0,0,0 quaternion, the attitude converges to a non-zero yaw angle.

[2016-05-20 05:32] tumbili opened #4587 "Standard VTOL pusher for pitch feature needs reconsideration"
Since we have changed the creation of manual control setpoints we need to adjust the code which
uses the pusher thrust to accelerate forward. It will now not properly work if yaw errors are becoming larger.

[2016-05-20 05:57] mhkabir commented on #4188
Does it change at all when you send the unit quaternion?
On 20 May 2016 10:19 am, "pickledgator" <notifications@github.com> wrote:

[2016-05-20 18:09] pickledgator commented on #4188
Looks like my external vision quaternion was in the wrong reference frame (rotated about X by 90 deg), so despite that a direct mapping from quat->rpy produces the correct yaw value even when roll=90 deg, it looks like that breaks the currently implemented yaw projection/extraction logic.

[2016-05-20 18:37] mhkabir commented on #4188
I heard reports about a singularity in the yaw projection DCM, but it
wasn't confirmed. Likely because the angle it occurred at was rather
difficult to achieve in flight.

Would you mind having a look and seeing if you can find anything bad with
the math?
On 20 May 2016 11:39 pm, "pickledgator" <notifications@github.com> wrote:

[2016-05-20 21:42] kd0aij commented on #4530
Observed another hardfault on FW in ekf_att_pos_estimator context (local branch rebased on recent master ):
[code]

[2016-05-20 21:47] SamChenzx commented on #4542
@julianoes A little bit more issues. I want to use RC to control snapdragon flight now. Reviewing the snapdragon_rc_pwm.cpp, I find the below code in task_main function:

       // check if we have new rc data, if yes send it to snapdragon
		bool rc_updated = false;
		orb_check(_rc_sub, &rc_updated);
		if (rc_updated) {
			orb_copy(ORB_ID(input_rc), _rc_sub, &_rc);
			// send mavlink message
			se

[2016-05-20 23:37] LorenzMeier commented on #4530
@davids5 @bkueng I would appreciate if you could have a look at this one as well. I've already spent some time digging into it, but not yet sure what is going on.

[2016-05-20 23:52] davids5 commented on #4530
@LorenzMeier

master's version of the [PR](https://github.com/PX4/Firmware/pull/4572/commits/867084b4d18e0d7daaf4f278dcb13e7c64de81ad) is wrong - it is missing the second half of the changes

beta does not have the PR

@kd0aij

Please push the rebased version you are working on - so I can pull and test. Also please tell me what
config you are building, the value of SYS_AUTOSTART and how and to wha

[2016-05-21 00:07] dagar commented on #4530
@davids5 fixed here #4593

@kd0aij I haven't been able to reproduce this. I tried fixed wing in HIL and on the bench.

[2016-05-21 00:18] davids5 commented on #4530
@LorenzMeier, @kd0aij, @dagar @bkueng

If the build and testing was done for stackchecking before https://github.com/PX4/Firmware/pull/4593
it should be done again.

Any mismatch in Nuttx CONFIG_ARMV7M_STACKCHECK and px4 notion of the instrumentation setting is highly unstable to say the least.

[2016-05-21 01:16] dagar commented on #4530
@davids5 I think it's okay. It looks like the stack check instrument_flags were lost in a bad cherry-pick https://github.com/PX4/Firmware/commit/5da9e7e65315bf11f259eb82c301bf8ecc1809cf#diff-23a5ada890263edf0da49d40d9c58f8c which happened after the stack checking. I verified a few of the recent stack changes with #4593.

I should emphasize again that this was not at all exhaustive and I only check

[2016-05-21 02:27] kd0aij commented on #4530
@davids5 I created the PR for which my faulting branch was intended: https://github.com/PX4/Firmware/pull/4594

fault occurred with a px4fmu-v2_default build, SYS_AUTOSTART=2101
I think it was initially connected to QGC, but after shutting QGC down, I left it powered via USB on the bench. I noticed it had crashed sometime later, possibly several hours later.

[2016-05-21 08:13] kymi87 opened #4595 "SF02 Range finder drivers not working on master/stable version"
Hi,

I have noticed that the sf0x drivers do not work either the stable version neither the master version. The pixhawk is unable to read the data from the sensor.

[2016-05-21 09:47] AndreasAntener opened #4596 "Tailsitter: blend in controls during transition"
There is a disabled partly done implementation for this. Needs to be vetted and tested.

[2016-05-21 09:49] AndreasAntener opened #4597 "Tailsitter: reset yaw setpoint after back transition to the heading it had during FW flight"
(at least for manual)

[2016-05-21 09:52] AndreasAntener opened #4598 "Tailsitter: add ability to scale control outputs differently in MC and FW mode"
Tailsitters that need extreme control surface outputs in MC are difficult to fly manually in FW.

[2016-05-21 09:56] LorenzMeier commented on #4530
@kd0aij Can you please upload the binary next time this happens?

[2016-05-21 11:54] LorenzMeier commented on #4530
Hunted down to fe60a43.

[2016-05-21 12:13] LorenzMeier commented on #4530
Confirmed to fix it. @kd0aij Please let me know if any issues remain and please try to test.

[2016-05-21 12:13] #4530 closed

[2016-05-21 13:43] kd0aij commented on #4530
running beta now

[2016-05-21 15:31] kd0aij commented on #4530
@LorenzMeier Regarding the use of an uninitialized pointer as an ORB topic handle, the result in the publish method would be to overwrite an arbitrary memory location, not "stack smashing", if I understand the term correctly. Perhaps the ORB should be maintaining a list of valid handles in order to perform run-time validation, since that seems to be the only way to guarantee that it doesn't trash

[2016-05-21 16:39] dagar commented on #4530
I realize this isn't helpful now, but out of curiosity I built and ran beta in the SITL gazebo simulation with address sanitizer enabled and our typical optimization level (-0s) and it caught the problem immediately. Another entry for the testing wishlist...

    pxh> ekf_att_pos_estimator start
    ERROR px4_task_spawn_cmd: failed to set name of thread 34 0

    INFO  TONE_SET_ALARM 9
    INFO  .

[2016-05-21 17:15] kd0aij commented on #4530
@dagar Is an "address sanitizer" able to catch all usages of uninitialized pointers? I assume the answer is no, else the compiler would be doing it.

[2016-05-21 17:32] dagar commented on #4530
Address santizier (ASan) adds instrumentation, but you need to actually run the code (http://clang.llvm.org/docs/AddressSanitizer.html).

The tool can detect the following types of bugs:

 - Out-of-bounds accesses to heap, stack and globals
 - Use-after-free
 - Use-after-return (to some extent)
 - Double-free, invalid free
 - Memory leaks (experimental)
Typical slowdown introduced by AddressSaniti

[2016-05-21 23:55] gianni-carbone opened #4600 "px4fmu-v2_default - Channel mapping has no effect for AUX channel pass throught"
Channel mapping settled by qgroundcontrol has no effect for AUX channel pass through
AUX1 and AUX2 has fixed PWM
Other AUX channels are inactive

[2016-05-22 08:47] LorenzMeier opened #4601 "Modernize Docker-based testing infrastructure"
@AndreasAntener @dagar I would like to modernise the Docker based CI system and consider if moving to a hosted provider (e.g. https://semaphoreci.com) would lower the workload and could allow us to more effectively have people add new tests - or if all we need is a call to bridge some gaps.

Andreas has nicely documented the Docker setup: http://dev.px4.io/advanced-docker.html

I would like to add

[2016-05-22 08:48] LorenzMeier commented on #4601
@bkueng FYI

[2016-05-22 11:32] #4547 closed

[2016-05-22 11:33] LorenzMeier commented on #4523
@tumbili Any news on the investigation of this?

[2016-05-22 11:33] #4507 closed

[2016-05-22 11:33] LorenzMeier commented on #4487
PR open for this.

[2016-05-22 11:33] #4487 closed

[2016-05-22 11:33] #4425 closed

[2016-05-22 12:10] LorenzMeier commented on #4322
Fixed in https://github.com/PX4/Firmware/pull/4603.

[2016-05-22 12:10] #4322 closed

[2016-05-22 12:11] #4315 closed

[2016-05-22 12:12] #4157 closed

[2016-05-22 12:13] LorenzMeier commented on #1666
@bkueng

[2016-05-22 12:13] LorenzMeier commented on #1669
@bkueng

[2016-05-22 12:13] LorenzMeier commented on #1675
@bkueng

[2016-05-22 12:13] #1709 closed

[2016-05-22 12:14] #1730 closed

[2016-05-22 12:14] LorenzMeier commented on #558
Doing that on master.

[2016-05-22 12:14] #558 closed

[2016-05-22 12:14] #1225 closed

[2016-05-22 12:15] LorenzMeier commented on #1281
We have this now.

[2016-05-22 12:15] #1281 closed

[2016-05-22 12:15] #1477 closed

[2016-05-22 12:15] #1585 closed

[2016-05-22 12:15] #1603 closed

[2016-05-22 12:15] LorenzMeier commented on #1646
Done, orb_publish_auto()

[2016-05-22 12:15] #1646 closed

[2016-05-22 12:16] LorenzMeier commented on #1294
Outdated.

[2016-05-22 12:16] #1294 closed

[2016-05-22 12:16] LorenzMeier commented on #2565
On master.

[2016-05-22 12:16] #2565 closed

[2016-05-22 12:16] LorenzMeier commented on #2541
Outdated.

[2016-05-22 12:16] #2541 closed

[2016-05-22 12:16] LorenzMeier commented on #2539
Outdated.

[2016-05-22 12:16] #2539 closed

[2016-05-22 12:17] LorenzMeier commented on #2534
Implemented, closing.

[2016-05-22 12:17] #2379 closed

[2016-05-22 12:17] LorenzMeier commented on #2379
Outdated.

[2016-05-22 12:18] LorenzMeier commented on #3039
Doing this already.

[2016-05-22 12:18] #3039 closed

[2016-05-22 12:18] #3006 closed

[2016-05-22 12:18] LorenzMeier commented on #2943
Outdated.

[2016-05-22 12:18] #2943 closed

[2016-05-22 12:18] LorenzMeier commented on #2890
Outdated.

[2016-05-22 12:18] #2890 closed

[2016-05-22 12:19] LorenzMeier commented on #2690
Fixed.

[2016-05-22 12:19] #2690 closed

[2016-05-22 12:19] LorenzMeier commented on #3316
Outdated.

[2016-05-22 12:19] #3316 closed

[2016-05-22 12:19] LorenzMeier commented on #3306
Issues are not suitable for questions.

[2016-05-22 12:19] #3306 closed

[2016-05-22 12:20] LorenzMeier commented on #3291
You need to manage the max data rate param.

[2016-05-22 12:20] #3291 closed

[2016-05-22 12:20] LorenzMeier commented on #3130
Fixed.

[2016-05-22 12:20] #3130 closed

[2016-05-22 12:21] LorenzMeier commented on #3506
Done.

[2016-05-22 12:21] #3506 closed

[2016-05-22 12:21] #3362 closed

[2016-05-22 12:22] LorenzMeier commented on #3784
Outdated.

[2016-05-22 12:22] #3784 closed

[2016-05-22 12:22] LorenzMeier commented on #3769
Fixed.

[2016-05-22 12:22] #3769 closed

[2016-05-22 12:22] LorenzMeier commented on #3795
Fixed.

[2016-05-22 12:22] #3795 closed

[2016-05-22 12:23] LorenzMeier commented on #4144
Fixed.

[2016-05-22 12:23] #4144 closed

[2016-05-22 12:23] #4379 closed

[2016-05-22 12:33] #1101 closed

[2016-05-22 12:34] LorenzMeier commented on #4002
Fixed.

[2016-05-22 12:34] #4002 closed

[2016-05-22 12:35] LorenzMeier commented on #3967
@tubeme @DonLakeFlyer Happy to pick the discussion up again now.

[2016-05-22 12:50] LorenzMeier commented on #4180
Could you describe what we should change to make it easier for you?

[2016-05-22 12:52] LorenzMeier commented on #4069
Fixed.

[2016-05-22 12:52] #4069 closed

[2016-05-22 12:52] LorenzMeier commented on #3937
Fixed.

[2016-05-22 12:52] #3937 closed

[2016-05-22 12:53] LorenzMeier commented on #3932
Fixed.

[2016-05-22 12:53] #3932 closed

[2016-05-22 12:53] LorenzMeier commented on #3896
We need emergency kill. Covered by the GCS.

[2016-05-22 12:53] #3896 closed

[2016-05-22 12:53] LorenzMeier commented on #3886
Outdated / most likely fixed.

[2016-05-22 12:53] #3886 closed

[2016-05-22 12:55] LorenzMeier commented on #4568
Fixed on 6274d6b.

[2016-05-22 12:55] #4568 closed

[2016-05-22 12:58] LorenzMeier commented on #3727
Outdated.

[2016-05-22 12:58] #3727 closed

[2016-05-22 13:19] LorenzMeier commented on #3739
We've fixed a couple of issues there in the meanwhile, closing. Please reopen if it happens again.

[2016-05-22 13:19] #3739 closed

[2016-05-22 13:19] tumbili commented on #4598
@AndreasAntener I don't quite understand this problem. The controllers in mc and fw and different so each one can be tuned for the appropriate flight regime.

[2016-05-22 13:22] LorenzMeier commented on #3722
Done in 2c6a8c0.

[2016-05-22 13:22] #3722 closed

[2016-05-22 13:23] LorenzMeier commented on #3976
Given we just shortened the ramp this is probably perfectly fine.

[2016-05-22 13:23] #3976 closed

[2016-05-22 13:24] LorenzMeier commented on #3953
Seems like we're fine now with this sensor for now.

[2016-05-22 13:24] #3953 closed

[2016-05-22 13:24] LorenzMeier commented on #3890
@scott-eddy This interested in this?

[2016-05-22 13:25] LorenzMeier commented on #4513
Implemented.

[2016-05-22 13:25] #4513 closed

[2016-05-22 13:25] LorenzMeier commented on #4512
It is zero because the extended status info had not been activated. All good.

[2016-05-22 13:25] #4512 closed

[2016-05-22 13:26] LorenzMeier commented on #4461
You are facing normal C vs C++ portability issues.

[2016-05-22 13:26] #4461 closed

[2016-05-22 13:27] LorenzMeier commented on #4031
Fixed.

[2016-05-22 13:27] #4031 closed

[2016-05-22 13:27] #3408 closed

[2016-05-22 13:28] LorenzMeier commented on #3370
Outdated.

[2016-05-22 13:28] #3370 closed

[2016-05-22 13:28] LorenzMeier commented on #3363
Tridge did that recently

[2016-05-22 13:28] #3363 closed

[2016-05-22 13:31] LorenzMeier commented on #2486
Finished!

[2016-05-22 13:31] #2486 closed

[2016-05-22 13:31] #2457 closed

[2016-05-22 13:32] #3475 closed

[2016-05-22 13:32] #3453 closed

[2016-05-22 13:32] #3454 closed

[2016-05-22 13:33] LorenzMeier commented on #3438
This must be due to your local setup.

[2016-05-22 13:33] #3438 closed

[2016-05-22 13:33] LorenzMeier commented on #3538
Fixed it.

[2016-05-22 13:33] #3538 closed

[2016-05-22 13:35] LorenzMeier commented on #3752
We have queuing now, which means that we can refactor this piece by piece. Closing this.

[2016-05-22 13:35] #3752 closed

[2016-05-22 13:35] LorenzMeier commented on #3747
@jimdsouza MAVLink 2.0 is now on master. If you would like to implement signing a PR would be appreciated.

[2016-05-22 13:35] #3747 closed

[2016-05-22 13:36] LorenzMeier commented on #4276
We will do this for 1.5.

[2016-05-22 13:45] jimdsouza commented on #3747
Thanks, I'll try it. Not sure what you mean by signing a PR.

[2016-05-22 13:50] LorenzMeier commented on #3747
We haven't enabled signing of messages yet. If you implement that, please send a pull request.

[2016-05-22 13:51] jimdsouza commented on #3747
Sure, I'll give it go.

[2016-05-22 13:59] LorenzMeier commented on #3749
Is this still an issue?

[2016-05-22 15:43] dagar commented on #4601
I'll take a look at semaphoreci. I was also thinking about docker containers for the firmware and qgc build environments. Right now travis-ci wastes a lot of time just installing packages every single build.

[2016-05-22 16:04] tommises commented on #4468
I am getting this message each time I change any parameter.

[2016-05-22 16:09] AndreasAntener commented on #3615
Generalized summary and labeled

[2016-05-22 18:16] davids5 opened #4604 "nuttx_v3:Cmake nuttx patches, configs and src depandancies."
@dagar FYI: @LorenzMeier
[From discussion:](https://github.com/PX4/Firmware/commit/e200828a0c491ac64cf8b34ed24f5fa3a597ff55#commitcomment-17572434)

The issues had to do with the px4pio sub build. I think it is caused by the fact that nuttx_v3 supports the bootloaders and has a CONFIG (AKA board) and an nuttx_config (nsh|bootloader) and master does not.

I would really appreciate some help on this

[2016-05-22 18:35] dzett commented on #4552
Can be closed, thanks for your help. As reported also in the referenced thread, seems tailsitter performance is normal and the issues seen are more related to tuning and limitations. I have also been able to reproduce the performance I had been seeing before with the older master while inside. Improving field conditions will require additional measures on the side of the plane.

Will follow advice

[2016-05-22 18:35] #4552 closed

[2016-05-22 19:21] davids5 commented on #4434
I think the solution that is in place will hold us until we run out of free space
@julianoes Can we close this and reopen in future if need be?

[2016-05-22 21:09] tubeme commented on #3967
@LorenzMeier @DonLakeFlyer In the latest master if I don't have Acro switch programmed I was not able to get Stabilized mode except from the QGC interface. It is especially inconvenient for VTOL.

For us the most used mode is Stabilized. In airplanes, in MC's and in VTOL. But we are not able to arm in Stabilized despite I perceive it as Manual mode.

Please explain to me in simple terms what is th

[2016-05-22 21:16] dagar commented on #3967
MC manual and stabilized are the same thing (rates and attitude).
FW acro and rattitude aren't implemented. FW Manual is full manual control like flying RC.

https://github.com/PX4/Firmware/blob/master/src/modules/commander/commander.cpp#L3292

[2016-05-22 21:24] tubeme commented on #4180
For IC Engine Airplanes and Helicopters the procedure is the same. For throttle we have connected a Servo to CH3, which in its term mechanically is driving the gasoline throttle of the IC Engine.

In its zero position the Servo is shutting the gas to the engine. If we accept this position as 1000us or PWM_MIN. In order for the engine to work and have a good flow of gasoline the servo should be at

[2016-05-22 21:37] tops4u commented on #3967
@tubeme I can not confirm your observation. I did flights with Pixracer and AUAV-X2 today both having Master FW from 22.5. On both Stabilized worked and I was able to arm. On AUAV-X2 there is no ACRO Mode programmed as well since this is a Foto-Hexa.

If you are not able to Arm there must be another Problem with your Configuration which prevents Arming.

[2016-05-22 21:39] tubeme commented on #3967
On Apr 4 @AndreasAntener wrote:

Crazy idea: Maybe we should have Stabilizied as default mode for fixed-wing AND multirotor, and Manual would be manual for FW as we know it and you would have to assign a switch to get into Manual. Acro for multirotor would still remain the same as it is, because if you rename Acro to Manual people will start crashing their copters within a day. But there will be n

[2016-05-22 21:45] tubeme commented on #3967
@tops4u Probably my master is a month old. It could be VTOL related will try tomorrow.

[2016-05-22 21:51] kerail opened #4605 "GPIO on Pixhawk"
Hello. I'm trying to read data from AUX GPIO's.
As i can see they are connected to FMU, so here is my code:

[code]

But i always get `GPIO: 0` as answer, when connected Signal pin to 5V pin of AUX (i tried all 6 to be sure that pin choose is not a mistake);

[2016-05-22 21:53] tubeme commented on #3967
@dagar then is it logical to say this?

## MC
**Manual** could be renamed to **Stabilized**.
**Acrobatic**
**Ratitude** renamed to **3D Sport**

## FW
**Manual** could be renamed to **Acrobatic**
**Stabalized**

Is correct

OR we could have the following:

## MC
**Stabilized**.
**Acrobatic** could be renamed to **Manual**
**Ratitude** renamed to **3D Sport**

## FW
**Stabalized**
**Manual**

Or ev

[2016-05-22 21:56] tubeme commented on #3967
Manual in FW flight I understand it as if I connected the servos directly to the receiver right?

[2016-05-22 22:02] tubeme commented on #3967
We need consistency between the modes because of the VTOL!!

If I make the transition with the VTOL the mode switch stays at the same position in both modes.

So The pilot expects consistent behavior.

So when I'm in Stabalized MC after the transition I want to be in Stabalized in FW.

If I'm very good pilot and I fly Acro MC after the transition I expect to be in Acro FW which is now called manua

[2016-05-22 22:48] tubeme commented on #4587
You are talking about MC mode right?

[2016-05-23 03:07] mhkabir commented on #4605
Set the FMU mode to GPIO.

```fmu mode_gpio```

The other option would be to disable the FMU driver and directly  access the pins. See the camera trigger driver.

[2016-05-23 07:09] tumbili commented on #4587
Yes

[2016-05-23 07:42] tops4u commented on #3385
I would support @tubeme as I had a Flip on the Ground as well in PosCtl were also GNSS Signal went bad. PosCtl detected a position deviation while sitting on the Ground and wanted to correct this. In the end the Copter tipped over on the ground breaking some Props. Landing with always flipping the Switch to a Manual Mode is a bit annoying at least when coming from a NAZA (which of course has other

[2016-05-23 08:33] ender-chen opened #4607 "Repeated RTL"
When Lost RC signal. It will go into RTL. But when it touched land, It will detect takeoff. and go into RTL again.

`bool set_nav_state(struct vehicle_status_s *status, const bool data_link_loss_enabled, const bool mission_finished,
		   const bool stay_in_failsafe)
{
	navigation_state_t nav_state_old = status->nav_state;

	bool armed = (status->arming_state == vehicle_status_s::ARMING_STATE_ARMED

[2016-05-23 09:22] tubeme commented on #4587
This could be a separate VTOL mode and this way it will not intervene with the current classic implementation for the quad mode functioning . It is nice mode because it could make the control of the VTOL in hover in stronger weather better so it will be beneficial to the VTOL.

Or if it is not separate mode then it could be turned on and off with parameter.

The problem with a separate mode is the

[2016-05-23 10:19] tubeme commented on #4180
Forgot to mention about the starter.

We need another RC switch for the starter if applicable.

So in our taranis we program SG to be IC engine arming/kill switch and SH for the starter.

[2016-05-23 10:56] vvranjek opened #4609 "mavlink stop-all doesn't close all instances when called from SD card"
I am running (almost) latest master branch.

I have on my SD
`echo STOPPING MAVLINK
mavlink stop-all

echo sleeping for 5 secs
usleep 5000000

echo Turning on nshterm on ACM0
nshterm /dev/ttyACM0 &

echo Startin mavLink
mavlink start -b 115200 -d /dev/ttyS1`

And I am left with 2 instances of mavlink running:

228 mavlink_if0                   195  2.948  2308/ 2792 100 (100)  READY
229 mavlink_rc

[2016-05-23 11:00] JakeLeaf opened #4610 "Flaps and full-wing flaps on auto takeoff"
I'd like to take a look at adding flaps to auto takeoff as well as full wing flaps (flaps and ailerons down) for heavy loads. Happy to try getting to work but some direction as to where to look/start would be a big help.
Assigning flaps (or really, full wing flap) amounts to a knob for testing would be how I'd approach it to give some base deflection amounts for auto takeoffs and to come up with a

[2016-05-23 14:41] mhkabir commented on #4609
Check rcS. Likely mavlink instances are being started after ```extras.txt ``` is run.

[2016-05-23 14:52] dagar commented on #4610
Auto takeoff is handled here - https://github.com/PX4/Firmware/blob/master/src/modules/fw_pos_control_l1/fw_pos_control_l1_main.cpp#L1605

Take a look at auto land to see how to deploy flaps - https://github.com/PX4/Firmware/blob/master/src/modules/fw_pos_control_l1/fw_pos_control_l1_main.cpp#L1363

[2016-05-23 15:08] dagar commented on #4610
Would you split the params and have different flap/flaperon values for takeoff and landing?

[2016-05-23 17:27] vvranjek commented on #4609
Nope, everything stock there, the only mavlink commands after extras.txt is run is 'mavlink boot_complete'.
Also, putting 'mavlink stop-all' one after another fixes the problem. Like this:

echo STOPPING MAVLINK
mavlink stop-all
echo sleeping for 5 secs
usleep 5000000
mavlink stop-all
...
I will try tomorrow with the latest master (if it compiles, becuase today's master had an error and I didn't h

[2016-05-23 21:43] nkhoit opened #4612 "VTOL decreases altitude during transition to fw"
http://logs.uaventure.com/view/aNd5eCeXsfm4Bfn8WLh2ML#Local_Z_PLOT

A look at LPSP.VZ shows the climb rate controller commanded a negative climb rate of 2 m/s which is equal to our MPC_Z_VEL_MAX.

![altitude_drop](https://cloud.githubusercontent.com/assets/1168541/15485491/aa09b0bc-210d-11e6-9745-ed7d1afc45ac.png)

[2016-05-24 02:35] JakeLeaf commented on #4610
Thanks for pointing it out. I'm going to start going through it.

I would definitely have separate params. For really heavy takeoffs, fully extended flaps (within their useful range) are great to get off the ground but full wing flaps are the true ideal setup to just make it that much easier to shorten takeoffs distances.

On the same note when landing if we crank the spoilerons too high it's like

[2016-05-24 02:45] JakeLeaf opened #4614 "Flaperons change neutral aileron PWM value"
When enabling flaperons (spoilerons) and assigning them to aux 2 it works perfectly for auto landing. It's actually spot on. The problem is that it changes the centre pwm value from 1500 to 1420 for the ailerons. Tested multiple times, multiple type of servos and multiple versions of the firmware. If you mechanically centre your ailerons at 1500 pwm during setup it become an issue because after th

[2016-05-24 06:37] edsellar commented on #4614
@JakeLeaf Confirmed it is not working correctly - does the same thing to me as well. Just tested now.

[2016-05-24 07:40] sanderux opened #4616 "Airspeed sensor calibration useability"
Airspeed sensors remain quite inacurate when facing different weather conditions. For best results an airspeed sensor should be calibrated before every flight. For end users this can be a hard task that is easilly forgotten.

I would like to some form of auto calibration. Perhaps by using a second airspeed sensor dedicated to measuring only ambient pressure (mounted so it will never read wind)

An

[2016-05-24 08:05] sanderux commented on #4616
https://github.com/ArduPilot/ardupilot/blob/master/libraries/AP_Airspeed/Airspeed_Calibration.cpp

As per @tumbili's suggestion

[2016-05-24 09:01] tops4u opened #4617 "Remove EKF2 selection on FMUv2"
Remove EKF2 as option on FMUv2 Systems as this module is no longer included in the standard build for FMUv2. Selecting EKF2 on FMUv2 Sysemts will render the System unusable for "normal" Customers.

[2016-05-24 13:07] kerail commented on #4605
Seems that fmu mode_gpio changes nothing.

Direct call of stm32_gpio_read and stm32_gpio_write does the trick.
But when GPIO PULLDOWN input mode is not working for me.

[2016-05-24 13:31] kd0aij opened #4619 "Add WIFI TX on/off control for Pixracer"
Proposal: add new parameter with options:
1) OFF
2) OFF on ARM
3) ON
4) RC control

The RC control option will enable/disable WIFI based on the state of the channel specified by another new params:
RC_MAP_WIFI
RC_WIFI_THR

[2016-05-24 15:38] LorenzMeier commented on #4619
Makes sense - would you like to implement this in the FMU app using the power control GPIO for the Wifi? I would propose a 4th state: OFF ON ARM. This should first send a string that its shutting off Wifi, wait for 200 ms, then disable wifi once you arm the system.

I honestly believe that is going to be the optimal trade-off for a lot of users.

[2016-05-24 16:02] kd0aij commented on #4619
great point. I think I'll implement states 0-3 in the new list (above) first, and leave RC control for later, it it seems necessary.
And yes, I planned to use the TX on/off GPIO to implement it.

[2016-05-24 16:05] DonLakeFlyer opened #4620 "Update AUTOPILOT_VERSION.flight_sw_version to match QGC usage"
See https://github.com/mavlink/qgroundcontrol/pull/3393. Should update mavlink spec as well.

[2016-05-24 16:05] kd0aij commented on #4619
I had RC control in there to check whether RSSI decreases with WIFI on. But I can just do 2 controlled test flights to obtain the same info using FrSky logging at the TX.

[2016-05-24 16:12] kd0aij commented on #4619
BTW, I'm doing this at Phil's suggestion, and I see "off while armed" was what he asked for in the first place. Sorry Phil.

[2016-05-24 16:20] kd0aij commented on #4619
Another note: during a mission test on the weekend, I gave my spotter the Nexus 7 to follow the progress and the display came in very handy when the quad wound up shooting into the sky, then blowing too far away after I switched back to manual. When I found that I was unable to get oriented by rolling and pitching the quad, I asked my spotter to tell me what heading was displayed on the GCS, and k

[2016-05-24 16:48] agribov opened #4621 "RC failsafe boundary condition"
When the RC failsafe is set to 0 seconds (and set to loiter in my case), the copter stops reacting to RC input entirely.

[2016-05-24 17:05] marianobianchi commented on #4424
It is working correctly in the latest release but i have another bug. When running "make posix_sitl_default gazebo" i can't use the commander "takeoff" command. All i get when using it is "WARN  rejecting takeoff, no position lock yet. Please retry.."

[2016-05-24 17:14] dagar commented on #4424
@marianobianchi wait until you see this message

    EKF gps is good - setting origin
    INFO  home: 47.3977416, 8.5455940, 487.92

[2016-05-24 18:07] marianobianchi commented on #4424
Yeah, i wait it for a long time but it didn't show up...

[2016-05-24 18:57] dagar commented on #4616
This in flight autocal is interesting. Does anyone here have first hand experience with it?

Personally I'd like to take a step back, gather data, and take a closer look at what's actually happening. Something like flying a large loiter over the full range of min, cruise, max airspeeds (several cycles at each) and then comparing to ground speed.

[2016-05-24 19:49] pickledgator commented on #4424
I upgraded to gazebo7 on OSX to see if this bug still exists there as well, and it still appears. Printing directly from the imu plugin:

[code]

[code]

[2016-05-24 20:14] tumbili commented on #4616
@dagar I think @priseborough is the best person to ask because he's the one who has written the code. If this is something that works well then I'm happy to also implement it for PX4.

[2016-05-24 21:40] kd0aij commented on #4619
https://github.com/PX4/Firmware/pull/4622

[2016-05-24 22:56] thedevleon commented on #4584
There has been more development on this by me :) Please head over to #4624 for more info, as I changed things a bit as I went along.
It's already 90% done :D

[2016-05-25 06:05] priseborough commented on #4616
There are two parts to calibration - offset and scale factor. Offset should be calibrated on the ground using a pitot/static cover that ensures the pitot and static ports see the same pressure. Scale factor can be calibrated in-flight using a simple EKF like the one I developed for ArduPilot.

The scale factor calibration requires an estimate of the of air density or the ratio between EAS and TAS.

[2016-05-25 08:02] AndreasAntener commented on #4598
This is not about the PIDs, but straight output scaling when in full manual control in FW. In MC the controller obviously needs as much control surface throws as possible, but in FW for "normal" flying I might only need about half of the possible deflections. At the moment the pilot needs to make a mental switch during the transition and "scale" his stick input accordingly.

[2016-05-25 08:10] AndreasAntener commented on #2534
I don't think this is implemented

[2016-05-25 08:13] tumbili commented on #4598
@AndreasAntener Ok, I wasn't thinking about manual flying. This is probably something we can do on the fw side (not VTOL specific) since it can be used for normal fixed wings as well. At the moment I think the only way to do it for fw is to change the scale in the mixer.

[2016-05-25 09:42] CarlOlsson opened #4630 "SITL Standard VTOL does not accept mission"
We can't get the gazebo_standard_vtol do take off on current master.
ea138cfd380c06179d2e89cdd8167637dbd96d54

We only get "set mode command temporary rejected" in QGC."
And
"WARN  no GPS - navigator timed out"
in the console

[2016-05-25 12:24] kd0aij commented on #4598
I use a programmable TX to change "rates" based on flight mode. From my
point of view, duplication of this logic in the firmware simply adds
complexity to the overall system, but, of course, it enables the use of
"dumb" RC transmitters.

On Wed, May 25, 2016 at 2:13 AM Roman Bapst <notifications@github.com>
wrote:

[2016-05-25 13:47] davids5 opened #4632 "Revisit Nuttx based SITL - CONFIG_ARCH_BOARD_SIM"
See PR https://github.com/PX4/Firmware/pull/44 Added px4fmu_sim branch for software in the loop (SITL) development

[2016-05-25 13:49] AndreasAntener commented on #4598
Sure, that's of course what I ended up doing ;). But I think it's a very annoying thing to do. If your autopilot already knows your system, why should I have to set anything at all on my remote?

[2016-05-25 13:51] kd0aij commented on #3751
PX4 is flying well in acro mode when tuned properly

[2016-05-25 13:51] #3751 closed

[2016-05-25 13:52] kd0aij commented on #3830
Was this ever fixed?

[2016-05-25 13:54] kd0aij commented on #3800
probably fixed without referencing this issue

[2016-05-25 13:54] #3800 closed

[2016-05-25 13:55] kd0aij commented on #3344
this documentation is probably obsolete now

[2016-05-25 13:55] #3344 closed

[2016-05-25 13:57] kd0aij commented on #2584
Can't believe I didn't put any URLs in here! Not sure if this guide still exists.

[2016-05-25 14:00] kd0aij commented on #3650
It seems this needs a state diagram created by code inspection.

[2016-05-25 14:02] kd0aij commented on #4570
addressed by #4594 and #4579

[2016-05-25 14:02] #4570 closed

[2016-05-25 14:22] kd0aij opened #4634 "new logger performance on nuttx_v3"
It looks like the new logger is working very well in nuttx_v3. Even though I had to reduce buffer size to 12K due to less RAM available at startup, I'm not seeing any dropouts at >100kB/sec.

It seems we need more than 10K bytes free to be able to run commands like top and "commander arm/disarm". Otherwise the console responds "command not found".

@LorenzMeier @davids5 Is there a way for the logg

[2016-05-25 14:25] kd0aij commented on #4598
Wouldn't there be new parameters equivalent to the ones you set in your TX? And wouldn't you have to set those instead?

[2016-05-25 15:00] AndreasAntener commented on #4598
That's why we have vehicle configurations? Since I started using PX4 I got down from many model configurations on my RC to 1, I'd like to keep it that way :)

[2016-05-25 15:23] kd0aij commented on #4598
True, but *somebody* has to create the vehicle config, and I was thinking like a DIYer creating new designs, not a commercial vendor.

[2016-05-25 15:39] dagar commented on #4614
I'll try to replicate this on my bixler 3 this weekend and take a look at what's happening.

[2016-05-25 16:27] bkueng commented on #4634
looks great! Did you let sd_bench run for longer (-r 50)? For the logger you can do `logger status` or uncomment
[code]
in `logger.cpp` to see highwater output.

[2016-05-25 16:57] davids5 commented on #4634
@kd0aij

We probably need a stack size tuning session - to validate the stack sizes and ensure they are not taking up too much RAM from startup.

see the free_main aa way to getting the free RAM.

[2016-05-25 16:59] kd0aij commented on #4634
@bkueng Thanks, I should have remembered that. It looks like 12K is pretty good for 100K bytes/sec, but the highwater mark got above 11000 in this test:
[code]

[2016-05-25 18:28] julianoes opened #4635 "sf0x driver reported not to be working"
There was a report that the sf0x driver is not working anymore.

https://groups.google.com/forum/#!searchin/px4users/sf0x$20drivers$20not$20working/px4users/r0En9KarQr0/If4758M6AgAJ

[2016-05-25 18:47] julianoes opened #4636 "Snapdragon: segfault"
Something broke poor Snappy:

[code]

[2016-05-25 18:48] LorenzMeier opened #4637 "Fix argc, argv handling on NuttX"
The output of `px4_task_spawn()` on NuttX is:

for the input of:

[code]

The output is: argc = 3, argv[0] = commander, argv[1] = commander, argv[2] = start

However, it should be:

argc = 2, argv[0] = commander, argv[1] = start

[2016-05-25 18:50] julianoes commented on #4636
sdlog2 seems to be at fault:

[code]

[2016-05-25 19:30] LorenzMeier commented on #4630
Works on current master. Can you re-try?

[2016-05-25 19:30] #4630 closed

[2016-05-25 20:00] LorenzMeier commented on #4600
Looking into this.

[2016-05-25 20:01] LorenzMeier commented on #4635
Reported as actually working, user error.

[2016-05-25 20:01] #4635 closed

[2016-05-25 20:03] julianoes opened #4639 "Snapdragon: external 5883 not working"
There seems to be another regression on the Snappy. The hmc5883 reports zeros.

[2016-05-25 20:18] #4595 closed

[2016-05-25 20:25] LorenzMeier opened #4640 "Monitor mainapp load in CI system"
@AndreasAntener FYI

[2016-05-25 20:40] LorenzMeier commented on #4640
The current load issue is related to *after* the sensors app starts. But its not the sensors app, because if you stop it it continues at high load.

[2016-05-25 21:53] davids5 commented on #4560
@LorenzMeier - here is the issue and the wip

See master_micro_hal_device Wip - DO NOT MERGE https://github.com/PX4/Firmware/pull/4641

There are #defines of  PX4_I2C_OBDEV_{HMC5883} in board_configs.h that do not have that device on board but need the driver.

A board has a bus {spi|i2c}, a device is i2c and/or spi but it is wired to only one bus one way.
It can be on board or off board
For i2c t

[2016-05-26 08:43] julianoes commented on #4639
Git bisect points to https://github.com/PX4/Firmware/pull/4592 / https://github.com/PX4/DriverFramework/pull/80.

[2016-05-26 09:34] #4639 closed

[2016-05-26 09:36] birchera opened #4644 "Pixracer out of memory"
While testing EKF2 with pixracer on a fixed-wing, we encountered problems with memory. Running all the standard modules and only 7kB stack for logging, we were not able to do any calibrations, due to the lack of memory. Disabling the position controller allowed us to do the calibration. However, when re-enabled the position controller, some modules also don't run correctly during flight.

![screen

[2016-05-26 12:27] julianoes commented on #4644
Nothing seems excessive except that 4 mavlink instances are running. Are they all needed?

[2016-05-26 12:57] julianoes opened #4646 "SITL not taking off"
SITL doesn't seem to be working anymore.

From my investigation, the sensors module is timing out because no gyro data is published.

The accelsim::_measure() call is stopped when this line happens:
https://github.com/PX4/Firmware/blob/master/src/platforms/posix/drivers/accelsim/accelsim.cpp#L1087

[2016-05-26 13:03] julianoes commented on #4646
The first commit where this fails is:
https://github.com/PX4/DriverFramework/commit/c96a07455efadc68476eb181d4d5cf87df1f4eeb

[2016-05-26 15:35] mcharleb commented on #4646
@julianoes What can I do to help debug this?

[2016-05-26 15:53] julianoes commented on #4646
@mcharleb please review https://github.com/PX4/DriverFramework/pull/85

[2016-05-26 15:55] julianoes commented on #4601
Referencing the discussion concerning adding Snapdragon to the build:
https://github.com/PX4/Firmware/commit/8845070d89644e61de8810f4aad6d17dda5555bc

[2016-05-26 17:26] #4646 closed

[2016-05-26 18:51] julianoes commented on #4636
Fixed by #4638.

[2016-05-26 18:51] #4636 closed

[2016-05-26 19:03] julianoes commented on #4607
Thanks for reporting. Is this easily reproducible in SITL or how did you find this?

[2016-05-26 19:07] LorenzMeier commented on #4640
Potentially related to what #4638 fixed.

[2016-05-26 20:32] dagar opened #4650 "servo center adjustment"
It would be nice to be able to tweak the servo center slightly at runtime. Sometimes it's hard to center servos perfectly, especially field replacements.

It's not clear to me what the best solution is. We could modify the active mixer (mavlink ftp), new mavlink cmd, use params, etc. I think a simple param for each servo channel would get the job done, but correcting the mixer might make more sens

[2016-05-26 21:01] jcooper21 commented on #4523
I just did another test flight and assuming you did not push out a patch for this I believe I may have found something.  I tested with a Zubax GNSS 2 just now rather than the Hobby King M8N I was previously using and the issue seems to be almost gone.  Is it a GPS position error causing the issue.  See the zubax log below.

http://logs.uaventure.com/view/9N3JL4kgFvoVUycRRarZbZ#GPS_Noise_PLOT

[2016-05-26 21:21] tubeme commented on #4612
We've had this phenomenon in Altitude mode transition two weeks ago. But no problems in Stabilized at the same time. In the coming days, when we have a weather window, we will fly test it again and will report with LOG graphics as well.

[2016-05-26 21:25] tubeme commented on #4610
Very good ideas! We are working on autonomous take off and landing on an airstrip with flaps and retracts so giving much functionality for control in this phases of the flight is great.

[2016-05-26 21:51] tubeme commented on #4616
@sanderux My opinion is that we have to dig deeper in to the problem. And I must say it is not a software one, but rather hardware. We reported last year, a very nasty misbehavior of the airspeed sensor and had a lot of crashes because of this. After we understood that the Sensor that everybody that made HW was using should not be placed close to the battery and close to any emitting electronics o

[2016-05-26 22:01] tubeme commented on #4650
Very good idea!

[2016-05-27 04:22] jcooper21 commented on #4558
It would be beneficial to set the servos to neutral upon landing in case your upside down with a fixed wing.

[2016-05-27 04:28] jcooper21 commented on #4534
@tubeme would the solution to your incident be crash detection and not land detection?  With APM any mild landing auto disarms because I have the crash detection set very low because I once had a similar issue when a plane went down and a farmer found it and picked it up.

[2016-05-27 04:55] jcooper21 commented on #4616
The auto calibration APM does causes more issues because if you don't cover the pitot tube on boot perfectly then your calibration is out and you have wind issues. I have had serious issues on take off and crashes because of that.

[2016-05-27 06:06] sanderux commented on #4616
Could the cover be detected?

[2016-05-27 06:11] SamChenzx opened #4652 "The coordinate systems of snapdragon flight P1 and P2 boards are different."
I've already used 3DR GPS/MAG module as the external GPS/Mag. Today I find out if I rotate the GPS module, heading will not change on QGC, but if snapdragon flight is rotated, heading changes. SENS_EXT_MAG is set to "External is primary Mag" but seems didn't work. Besides, without GPS lock, heading will slowly turn at random directions. In a real flight this afternoon, I tested POSCTL and Stabiliz

[2016-05-27 06:12] sanderux commented on #4616
@tubeme i am also tesing the eagle tree v3 and i did take car to isolate the circuit from other hardware. The results are quiter consistent but not very acurate. I have even seen 15ms readings that (based on ground speed flying a circle) must have been closer to 18ms.

For my endurance setups i need not only stable readings but also acurate readings.

[2016-05-27 06:32] mhkabir commented on #4652
The Snapdragon's internal mag doesn't even have a released driver yet.
Your testing is flawed, or the attitude estimator is not fusing magnetometer measurements.

[2016-05-27 06:36] mhkabir commented on #4652
If you really want to check, see the raw mag values in the QGC Analyse widget (HIGHRES_IMU message)

[2016-05-27 07:03] priseborough commented on #4616
You are taking about the offset calibration, not the in-flight scale factor calibration. Covering the probe on the ground is an operator responsibility.
On May 27, 2016 14:55, jcooper21 <notifications@github.com> wrote:The auto calibration APM does causes more issues because if you don't cover the pitot tube on boot perfectly then your calibration is out and you have wind issues. I have had seriou

[2016-05-27 07:27] jcooper21 commented on #4616
@priseborough how does sensefly and Trimble implement this. Both of them seem to work very well from my testing and neither have to cover the pitot tube. I know sensefly does its calibration as soon as it hits take off alitude as described below.
![image](https://cloud.githubusercontent.com/assets/14355782/15600893/17d3712a-23aa-11e6-964a-b60f21adc7a2.png)

[2016-05-27 07:29] julianoes commented on #4652
@SamChenzx which commit did you test fly?

Note that the rotation option does not work on Snapdragon yet. I need to add it.

[2016-05-27 07:30] julianoes opened #4653 "Snapdragon: Check adsp image version"
We should check if the version of the static adsp image is recent enough when starting PX4 on Snapdragon (and before running things on the DSP).

Pointers:

[2016-05-27 07:30] proficnc commented on #4616
That would be a PITA....
I would rather calibrate by covering...

[2016-05-27 08:03] priseborough commented on #4616
@jcooper21 Not a good idea, the autopilot gains could be too high or the plane could stall before the calibration completed given the errors with our sensor types. Also their method will be bad at separating offset from scale factor. Pitot covers are cheap and easy to use. They should be part of the standard pre-flight checklist for a fixed-wing UAV operator and be attached to a large hi-vis ribbo

[2016-05-27 08:18] sanderux commented on #4616
From an industry perspective, using a cover would always have to be based on a sensor that can tell if the cover is attached.

Considering the calibration i think flying a circle is a good idea, this will let you calibrate scale the airspeed based on ground speed as flying an exact circle should void the wind factor.

[2016-05-27 08:21] sanderux commented on #4616
Concerning the crash risk we could set a minimum throttle level to eliminate this.

[2016-05-27 08:29] priseborough commented on #4616
Flying in a circle is something that is used in APM to calibrate scale factor error and it works well and in fact when using the EKF it does not have to be a circle. The place to check (and calibrate if necessary) offset is on the ground before you take off.

[2016-05-27 08:34] sanderux commented on #4616
It seems to me that, checking on the ground would calibrate the static with the dynamic pressure sensor. calibrating in the air (scaling) would give you an exact reading based on ground speed. I'm trying to achieve 2 things;
1. make the sensor more reliable and consistent.
2. make the reading more accurate

it seems to me that performing both types of calibration would be required to achieve both.

[2016-05-27 08:44] tubeme commented on #4616
@sanderux Sorry I did not clarify. I meant Consistent and Accurate readings. When on the ground in calm weather we get this ussual 0-1m/s readings (we have more than 10 sensors for testing). Your jumps to 15m/s are not a calibration problem! When we have calibration problem then we have consistently offset readings like 10m/s and it stays at this on the ground. You can try calibrating the Pix Airp

[2016-05-27 08:49] mhkabir commented on #4652
@julianoes I suspect that it was the tone vs.  hmc5883l driver clash, which meant that the mag wasn't working? Fixed on master, right?

[2016-05-27 08:55] sanderux commented on #4616
@tubeme i'm not having 15m/s spikes anymore. that was on the 3dr sensor before i added a level shifter, i'm getting the same readings you are. after calibration it jumps between 0-2ms and uncalibrated in other conditions it's offset to about 5ms. this means the reading might be consistent throughout the flight, but it is inaccurate.

[2016-05-27 09:04] tubeme commented on #4616
@sanderux Hmmm we've had no such case for a very long time.. Did you notice what is the condition that creates this offset? When we fly in strong weather, like 6-7 m/s then on the ground we get jumps between 0-5 m/s probably because the wind is not so laminar flow of air against the pitot tube.

[2016-05-27 09:09] julianoes commented on #4652
Correct, even though I wouldn't think something would take off without mag because the ekf2 doesn't initialize.

[2016-05-27 09:11] priseborough commented on #4616
5 m/s at zero airspeed equates to 15Pa of pressure offset which is well within the spec for sensor drift with temperature. How important this is depends on the speed of your flight vehicle. At 15 m/s, the dynamic pressure is 138 Pa, so an additional 15Pa of measured pressure would equate to an airspeed error of +0.8 m/s. At higher speeds it will be less. Also depending on how the filtering and air

[2016-05-27 09:21] tubeme commented on #4616
I agree with @priseborough that we don't need such accuracy probably. In terms of mission and real performance we measure the distances by ground speed ie. the real kilometers flown. And the GPS reading is pretty accurate, getting even better with new Ublox modules and better antennas. We need the airspeed reading for sustaining flight dynamic so just give 1-2m/s reserve speed in the min_airspeed

[2016-05-27 09:24] sanderux commented on #4616
@priseborough have a look at this log: http://logs.uaventure.com/view/jg2rHZDRmAboYLiqyFVuge
i used the KML file to calculate ground speed and came to around 18m/s.

Also, the accelerometer seems to think the value was closer to that. this misreading meant the difference between a 30amp draw and a 10amp draw.

[2016-05-27 09:32] mhkabir commented on #4652
So that's what was causing my fails before I switched to the Q estimator!

[2016-05-27 10:15] marcmarcet commented on #4007
Hi,

I'm pretty new to pixhawk, but just to confim, there is no way to setup retracts? (I'm using qgroundcontrol) for example, if I conect them to AUX 4? I have managed to configure them this way with APM, but I'm trying to do it now with PX4

[2016-05-27 11:41] julianoes opened #4654 "Snapdragon: ekf2 doesn't init on field"
The ekf2 didn't initialize successfully on the field today, even though GPS was supposedly good.
Need to investigate.

@priseborough FYI

[2016-05-27 12:01] priseborough commented on #4654
Did you get a replay log for me?

[2016-05-27 12:26] julianoes commented on #4654
It looks like one of the accuracy checks didn't succeed. I raised the threshold and got a home init from my balcony. I'll have to test on the field again.

[2016-05-27 12:41] julianoes commented on #4654
From looking at the log the problem is the field sacc (speed accuracy) which never really goes below 1.

Presumably this value is flawed (or different) because I'm using an older uBlox which sends NAV-SOL and not NAV_PVT.

[2016-05-27 13:01] birchera commented on #4644
I made a couple more tests and it turns out that every time I flash (ea138cfd380c06179d2e89cdd8167637dbd96d54 with EKF2 enabled), different errors occur:
* Pixracer is spontaneously rebooting, every other 30s
* Cutecom connection is suddenly closing and cannot be reopened until rebooting
* Calibration is not possible, reason given in QGC: Out of memory
* Cutecom connection is closing upon calibrat

[2016-05-27 13:16] priseborough commented on #4654
It's normally caused by poor signal to noise ratio and is nearly always caused by either interference from nearby electronics, a  poor antenna or signal blockage from nearby structures and foliage. If you run the same receiver on a pixhawk, what does it produce? Anyway you can increase the threshold to 1.5 m/s via the EKF2_REQ_SACC parameter, but if the GPS speed is that noisy, the loiter stabilit

[2016-05-27 13:44] julianoes commented on #4654
Good call, I'll cross test this GPS with a Pixhawk. The field was open, so that shouldn't be the issue.

[2016-05-27 14:02] tumbili opened #4656 "SITL broken on master"
Tried running with jmavsim. As soon as the drone went into the air it got unstable due to false estimate.
Something is not right with the sensor data.

[2016-05-27 14:20] julianoes commented on #4644
@birchera: interesting. Don't you get a stack trace when Pixracer reboots?

[2016-05-27 14:33] mcharleb commented on #4653
If the adsp image is missing symbols that PX4 is using, then the library load on the DSP will fail. The version check may have to be run as a separate executable before PX4

[2016-05-27 14:41] sanderux opened #4658 "Servo's unresponsive after transition"
We are tracking down a problem with unresponsive servo's after transition to fixed wing on vtol's. There are currently 2 identical reports that share the following behavior;

- Servo's work fine on the ground, even under load.
- After transition they behave eratic (switch to a position and then hold there, or not respond at all)
- RX starts behaving strange in some occasions

Logs:
Tailsitter: htt

[2016-05-27 14:54] sanderux commented on #4658
The deltaquad v1 flew fine, v2 exhibited these problems. Key differences in the 2 airframes;
- mauch power module vs 3dr
- digital vs analog servo's

V2 flew on the same software as the V1 and exhibited the same problems.

[2016-05-27 14:58] LorenzMeier commented on #4658
Did the system which had issues have digital servos?

[2016-05-27 14:59] sanderux commented on #4658
Yes

[2016-05-27 15:04] LorenzMeier commented on #4658
Which log shows the issues? I suspect your servos are too smart and either go into timeout or programming mode.

[2016-05-27 15:07] sanderux commented on #4658
both logs show the same issues, the first log is for a tailsitter from @CarlOlsson and the second is my v2 deltaquad

[2016-05-27 15:17] julianoes commented on #4654
I cross tested this on Pixhawk using two different 3DR GPSs and got very similar results for sAcc. This was on the Balcony, I'll have to retest on an open field as well.

Has the check for sacc been added recently, or has it been there for a while?

[2016-05-27 15:18] julianoes commented on #4640
Will be fixed with #4657.

[2016-05-27 15:36] jcooper21 commented on #4616
@tubeme your circling concept sounds the best to me. As a heavy user of both PX4 and APM I can say overall I have less airspeed issues with PX4.

[2016-05-27 16:42] DonLakeFlyer opened #4660 "Standard VTOL airframe reports MAV_TYPE as MAV_TYPE_QUADROTOR"
Instead of MAV_TYPE_VTOL_QUADROTOR. Which in turn causes QGC to show the wrong things. I didn't check all the other VTOL types for correctness. But those should be checked as well.

[2016-05-27 16:52] AndreasAntener opened #4662 "Extend sitl_run.sh so we can use it from ROS wrappers as well"
.. and don't have to keep 2 build/run scripts in sync.

[2016-05-27 16:53] #4578 closed

[2016-05-27 16:55] julianoes commented on #4654
More sAcc data:

Snapdragon with wrapped wifi antenna: 0.7 .. 1.1 m/s
Snapdragon with wrapped camera (front part): 0.5 .. 1.0 m/s
Snapdragon wrapped (wifi free): 0.4 .. 1.0 m/s
Snapdragon wrapped and wifi wrapped: 0.3 .. 0.8 m/s

[2016-05-27 16:55] AndreasAntener commented on #4578
Thanks for reporting this. It's fixed on master now. You need to start a fresh shell with the updated `source integrationtests/setup_gazebo_ros.bash $(pwd)` so the environment matches again.

[2016-05-27 17:57] LorenzMeier commented on #4660
Which airframe did you select?

[2016-05-27 17:58] DonLakeFlyer commented on #4660
Standard VTOL

[2016-05-27 18:10] LorenzMeier commented on #4660
It reports two different VTOL types - what is going on with QGC?

Console is correct on PX4:

<img width="776" alt="screen shot 2016-05-27 at 20 09 25" src="https://cloud.githubusercontent.com/assets/1208119/15616960/f8636f64-2446-11e6-82db-3bbc301727da.png">

Param value is incorrect in QGC:

<img width="1241" alt="screen shot 2016-05-27 at 20 08 09" src="https://cloud.githubusercontent.com/asset

[2016-05-27 18:31] dagar commented on #4660
This is probably why setting the airframe to a fixed wing for the first time results in the safety screen still showing multicopter icons and settings after the auto reboot and reconnect.

[2016-05-27 18:41] dagar opened #4663 "Better error messages for mode rejection"
We should think about adding better error messages for when mode changes are rejected.

[code]

https://groups.google.com/forum/#!topic/px4users/6hP1kGVgm5g

[2016-05-27 20:26] LorenzMeier commented on #4660
I filed an issue for QGC and will close this one.

[2016-05-27 20:26] LorenzMeier commented on #4660
https://github.com/mavlink/qgroundcontrol/issues/3422

[2016-05-27 21:08] DonLakeFlyer commented on #4660
QGC pays no attention to the MAV_TYPE parameter. It gets MAV_TYPE from the heartbeat and sets it once from there.

[2016-05-27 21:16] DonLakeFlyer commented on #4660
Nope (MAV_TYPE from hearbeat). Does that repro on latest builds. If so can yo uput and issue in?

[2016-05-27 21:54] DonLakeFlyer commented on #4660
When you change airframe from QGC and then the board reboots the first heartbeat QGC gets will have a MAV_TYPE of the old type and then the second heartbeat it gets will have the correct new MAV_TYPE. QGC constructs the Vehicle from the first heartbeat with the incorrect MAV_TYPE and then all hell breaks loose from then on.

[2016-05-27 22:41] dagar commented on #4660
We can either move mavlink to the end of the init script or use the boot_complete command the mavlink app already has.

[2016-05-27 22:55] LorenzMeier commented on #4660
@dagar @DonLakeFlyer This should fix it. I didn't get to test it yet: https://github.com/PX4/Firmware/pull/4666

[2016-05-27 23:05] hsu commented on #4424
here's a patch to get better contact by assigning a small margin:

[code]

[code]

[2016-05-28 01:15] #4660 closed

[2016-05-28 05:52] SamChenzx commented on #4652
@mhkabir @julianoes  Today I use the latest pull and done more tests.
Firstly, I removed the 3DR GPS/MAG module and cleared sensors calibration parameters, then tried to calibrate sensors, this time can't find GPS information and can't step into compass calibration, thus, make sure external compass on 3DR GPS module is used. But without GPS lock, sometimes heading will turn slowly. As I check the

[2016-05-28 06:23] mhkabir commented on #4652
Ah. Likely your rotations are off. The mag and gyro are likely "fighting".
The compass is working now though (since you updated to master), as evident from the plots.

How do you arrive at this conclusion?

@julianoes We really need to implement the rotation functions for the board and compass. This is the first P2 generation board I've seen, and it looks like the sensor orientation might be diffe

[2016-05-28 08:15] julianoes commented on #4652
Aha this is important feedback, thanks.

I suggest the following plan:
- In the short term: implement the rotations for MPU9250 and HMC5883, so that you can set the orientation (and adapt it to P1 vs. P2.)
- In the longer term: come up with some check that discovers if the board is P1 or P2 automagically and set the orientation accordingly.

[2016-05-28 08:17] julianoes commented on #4424
@hsu: can you make a PR with this change against the actual repo?

[2016-05-28 08:49] LorenzMeier commented on #4424
I've applied this to the SITL repo, testing.

[2016-05-28 10:30] LorenzMeier commented on #4424
Ok, this fixes it. @hsu Now on to the plane model!

[2016-05-28 10:30] #4424 closed

[2016-05-28 10:31] LorenzMeier opened #4671 "Plane model for Gazebo"
@hsu This is to track the bug fixing of the plane model in Gazebo. @tfoote @tumbili @CarlOlsson FYI.

[2016-05-28 12:33] SamChenzx commented on #4652
I arrived at it since the compass is rotated 360 degrees every direction,
the output data will varies from 1to -1 theoretically, or after calibration
it should varies from 1 to -1.

On Friday, May 27, 2016, Kabir Mohammed <notifications@github.com> wrote:

[2016-05-28 12:33] pkocmoud commented on #4634
**Sandisk Extreme PLUS 32GB Class 10 SD card, PixRacer**

nsh> sd_bench -r 50
INFO  Using block size = 4096 bytes, sync=0
INFO
INFO  Testing Sequential Write Speed...
INFO    Run  0:   321.58 KB/s, max write time: 123 ms (=  32.52 KB/s), fsync: 5 ms
INFO    Run  1:   341.67 KB/s, max write time: 118 ms (=  33.90 KB/s), fsync: 5 ms
INFO    Run  2:   335.50 KB/s, max write time: 116 ms (=  34.48 KB/

[2016-05-28 12:37] pkocmoud commented on #4634
**Sandisk Pixtor  16GB Class 10 SD card, PixRacer**

sd_bench -r 50
INFO  Using block size = 4096 bytes, sync=0
INFO
INFO  Testing Sequential Write Speed...
INFO    Run  0:   356.67 KB/s, max write time: 28 ms (= 142.86 KB/s), fsync: 5 ms
INFO    Run  1:   360.41 KB/s, max write time: 21 ms (= 190.48 KB/s), fsync: 5 ms
INFO    Run  2:   360.57 KB/s, max write time: 21 ms (= 190.48 KB/s), fsync: 5

[2016-05-28 12:40] pkocmoud commented on #4634
**Sandisk Ultra PLUS 16GB Class 10 SD card, PixRacer**

sd_bench -r 50
INFO  Using block size = 4096 bytes, sync=0
INFO
INFO  Testing Sequential Write Speed...
INFO    Run  0:   186.60 KB/s, max write time: 79 ms (=  50.63 KB/s), fsync: 21 ms
INFO    Run  1:   131.29 KB/s, max write time: 607 ms (=   6.59 KB/s), fsync: 305 ms
INFO    Run  2:   165.42 KB/s, max write time: 315 ms (=  12.70 KB/s), f

[2016-05-28 12:42] SamChenzx commented on #4652
@julianoes Julian, so the easiest way for me to fix this issue is to set the rotation same as P1 board and still keep the direction of 3DR GPS module's white front mark along with the direction of snapdragon flight's camera?

[2016-05-28 12:43] pkocmoud commented on #4634
**Sandisk Ultra 8GB Class 10 SD card, PixRacer**

sd_bench -r 50
INFO  Using block size = 4096 bytes, sync=0
INFO
INFO  Testing Sequential Write Speed...
INFO    Run  0:   350.26 KB/s, max write time: 29 ms (= 137.93 KB/s), fsync: 8 ms
INFO    Run  1:   353.02 KB/s, max write time: 30 ms (= 133.33 KB/s), fsync: 6 ms
INFO    Run  2:   355.78 KB/s, max write time: 39 ms (= 102.56 KB/s), fsync: 7 ms

[2016-05-28 12:46] tops4u commented on #4007
See above Issue #4276 , this is foreseen for Version 1.5 of PX 4.

[2016-05-28 12:46] #4007 closed

[2016-05-28 12:57] mhkabir commented on #4652
@SamChenzx yep.

[2016-05-28 13:02] SamChenzx commented on #4652
@mhkabir Thanks, I'll try rotation parameters on QGC.

[2016-05-28 14:18] LorenzMeier opened #4673 "Check wether system stops at each waypoint for multicopters"
We need to make sure that the system does not stop on a waypoint unless it has to.

[2016-05-28 14:18] xn365 opened #4674 "We need a failsafe mode witch can desend without GPS."
I lost my quad due to RC LOSS.
It had no GPS, So when RC LOST,it just fly away.
Logs:
http://logs.uaventure.com/view/jLdEbnkBeEjevq8geGb5hj

[2016-05-28 14:36] LorenzMeier commented on #4673
Definitely an issue right now. Might be related to the changes which differentiated between max speed and cruise speed. We might need to do the limits on max speed but command cruise speed.

[2016-05-28 14:37] kd0aij commented on #4674
Very sorry to hear that. How do you know the cause was RC loss? Was the
quad really "lost" or did you get the log from the SD card afterward?

On Sat, May 28, 2016 at 8:18 AM xn365 <notifications@github.com> wrote:

[2016-05-28 14:44] xn365 commented on #4674
It finally landed by a tree, so i got the logs.
All RC_RAW_VALUES are null in logs.

[2016-05-28 16:12] LorenzMeier opened #4675 "Validate PX4 SITL for ROS, add 3D sensor"
@vilhjalmur89 Could you please validate the instructions here on Monday:

http://dev.px4.io/simulation-ros-interface.html

And report here if anything doesn't work?

[2016-05-28 16:17] LorenzMeier opened #4676 "Add Solo mesh to SITL"
@igor-nap It would be great to have the Solo mesh in this repo: https://github.com/PX4/sitl_gazebo/tree/master/models

[2016-05-28 16:32] LorenzMeier commented on #4644
@priseborough This is something worthwhile to keep an eye on. It could point to stack smashing or out of mem.

[2016-05-28 16:36] LorenzMeier commented on #4644
This is the right command to hunt some of that down: ```arm-none-eabi-nm --size-sort --print-size --radix=dec build_px4fmu-v2_default/src/firmware/nuttx/firmware_nuttx | grep " [bBdD] "```

[2016-05-28 16:46] LorenzMeier opened #4677 "Memory offenders"
@pavel-kirienko UAVCan has a huge static allocation. Can we please get rid of that one? @davids5 Can we trim the DMA heap without loosing functionality?

I will also strip the MAVLink buffers.

[code]

[2016-05-28 16:57] #4656 closed

[2016-05-28 16:58] LorenzMeier commented on #4654
So essentially its a GPS jammer like many of the computing boards are.

[2016-05-28 17:01] LorenzMeier commented on #4644
Related issue:
https://github.com/PX4/Firmware/issues/4677

If you disable UAVCAN and the Snapdragon drivers in the build you should be able to free up 3K.

[2016-05-28 17:15] kd0aij commented on #4674
I was afraid that might happen; never felt like putting it to the test myself.
How did you arm the quad? The log appears to show that you never had an RC link.

[2016-05-28 17:53] dagar opened #4678 "mavlink publish wind"
http://mavlink.org/messages/common#WIND_COV

QGC side - https://github.com/mavlink/qgroundcontrol/issues/3033

[2016-05-28 19:35] tops4u opened #4680 "Out of Memory during Cal Calibration"
I was attaching an external Compass and did several Mag Calibrations. Three Side Calibration did not finish (all Icons Green, text ok, but Progress bar did not reach end and OK Button was not shown). I then changed to 6 Side Calibration and tried again. This time I got the following Error:

[code]

QGC 2.9.7b - 60 / Fimware shown in QGC is 1.6.4dev (Master from today).

Despite this disconnecting

[2016-05-28 20:43] dagar commented on #3967
There are some good ideas here. Can we try to gather our thoughts in a google doc and establish a path forward? This includes potential short term fixes (mode renaming) and some things that would be medium to longer term.

@tubeme @LorenzMeier @tops4u
https://docs.google.com/document/d/1pi7YMKu9dhcq6HRAXQ_gMesn2gGrRa7cdNTYLEsNDjE/edit

[2016-05-28 21:06] sanderux commented on #4658
Today i successfully flew the deltaquad V1 on the same software that had the servo issues.
http://logs.uaventure.com/view/iVKdZ4ijG8jMmgFij9Q6A9

Now i will incrementally update hardware to identify the problem.
I did notice the servo's reacted to the proximity of the telemetry transmitter on the servo wires.
@CarlOlsson I would suggest you test fly without temelletry module

[2016-05-28 21:07] sanderux opened #4682 "Master doesn't initiate vtol channels"
Current master does not send any signal on the aux ports when configured as vtol standard delta

[2016-05-28 21:08] sanderux commented on #4682
Latest known working currently is https://github.com/PX4/Firmware/pull/4522

[2016-05-28 21:29] sanderux opened #4683 "LPE vtol overshoot"
@jgoppert i flew a standard vtol on LPE and had a big overshoot in the final approach (qoad mode)
can you tell me what to tune? http://logs.uaventure.com/view/iVKdZ4ijG8jMmgFij9Q6A9

[2016-05-28 21:29] julianoes commented on #4654
Yes, I'm now switching to the M8N (again) and moving it further up while moving the FrSky antennas that seemed to previously interfere with M8N further away. Lets see how this goes.

[2016-05-28 21:36] dagar commented on #4654
I'm not sure what your setup looks like and which parts have been wrapped, but I had a lot of interference from USB3 on a Tegra TX1.

[2016-05-28 21:40] sanderux commented on #4683
Wasn't LPE afterall

[2016-05-28 21:40] #4683 closed

[2016-05-29 01:40] mhkabir commented on #4654
@dagar I just ran into the same issue yesterday on a TX1. Did you manage to fix it? Previous boards I've worked with are far worse though... Often disabling the Ethernet helps, because of the clock speed.

Also running into this on the Snapdragon (lucky me!)
@julianoes Your test suggests that shielding the board actually works though. Could you describe how?

[2016-05-29 02:34] xn365 commented on #4674
This is test log:
[10:27:46.487 - COMP:1] Info: SUCCESS: Executed CMD: 245
[10:27:52.399 - COMP:1] Info: ARMED by RC
[10:27:52.732 - COMP:1] Info: [blackbox] /fs/microsd/log/sess018
[10:27:53.095 - COMP:1] Info: [blackbox] recording: log001.px4log
[10:27:54.268 - COMP:1] Info: TAKEOFF DETECTED
[10:28:07.622 - COMP:1] Critical: failsafe mode on      -> When I pull out the receiver,QGC display this

[2016-05-29 07:14] julianoes opened #4685 "SITL gazebo not starting in master"
Looks like another regression:

[code]

[2016-05-29 07:22] julianoes commented on #4685
`git bisect` points at 959c9e3817685f4313fce4dbf23a0136dd5cb258

[2016-05-29 08:04] CarlOlsson commented on #4658
Glad to hear it. We will do the same. Tomorrow we will replace all electronics with a complete setup from an old airplane and then incrementally replace hardware. Yes you are right, with a high power telemetry module servos may gitter if they are to close, we are running low output power though.

[2016-05-29 08:04] CarlOlsson commented on #4658
@sanderux
Did you still have problems with RC signal?

[2016-05-29 08:07] sanderux commented on #4658
No, but i did fly the old setup, that uses a different receiver

[2016-05-29 09:31] LorenzMeier commented on #4685
I doubt its that. Because if you look at what changed its entirely connection unrelated:
https://github.com/PX4/sitl_gazebo/commit/f1a66579a2a25d162886f6dd7b1c02f26eba1109

I much rather think you're running into a race that is present in the current setup already and we need to debug and fix it.

[2016-05-29 12:11] pavel-kirienko commented on #4677
Github misinterpreted my commit message, reopening.

[2016-05-29 12:29] LorenzMeier commented on #4680
This PR should help with that:
https://github.com/PX4/Firmware/pull/4687

[2016-05-29 13:20] LorenzMeier commented on #4685
I did a stylistic change which might help you: https://github.com/PX4/sitl_gazebo/commit/7096721ff4c0314ebeee4cb1f24a84e88f2e8c9f

Can you re-test master?

[2016-05-29 13:20] LorenzMeier commented on #4677
More fixes incoming:
https://github.com/PX4/Firmware/pull/4687

[2016-05-29 21:38] julianoes commented on #4685
Still same problem with latest master. I'll have to dig into what error actually happens and why.

[2016-05-29 22:48] LorenzMeier commented on #4685
What is your Gazebo version? I have:

[code]

[2016-05-30 01:34] SamChenzx commented on #4652
@julianoes Julian, I've done four tests:
1) Setting the accelerometer and gyro rotation parameter to ROTATION_YAW_270, but leave magnetometer ROTATION_NONE, let 3DR GPS's front mark along the direction of the snapdragon flight's camera.
2) Setting the accelerometer and gyro rotation parameter to ROTATION_YAW_270, but leave magnetometer ROTATION_NONE, let 3DR GPS's front mark along the Y- direction

[2016-05-30 02:09] mhkabir commented on #4652
@SamChenzx Not implemented in the drivers yet, sorry! I can do it today, if you're willing to test it.

[2016-05-30 02:13] SamChenzx commented on #4652
@mhkabir I will test today, and want to sent snapdragon flight into the air before June. Thanks!

[2016-05-30 05:00] edsellar commented on #4650
I've run into this issue so many times. Definitely a great idea!

[2016-05-30 08:12] sanderux commented on #4682
Could be ram related and possibly fixed on current master after @LorenzMeier's fix.
Will test this evening

[2016-05-30 12:38] kd0aij commented on #4650
I vote for exposing the mixer parameters to allow setting center *and endpoints* to provide the same functionality that one normally has with an RC transmitter.

What is "mavlink ftp"? Would you copy a new mixer into RAM, then invoke "mixer load"? That sounds pretty awkward to implement, since you'd have to edit a mixer file somewhere first.

[2016-05-30 13:35] dagar commented on #4650
The other piece of the mavlink ftp idea is a simple editor in QGC and one
button to transfer and load the new mixer.

On Mon, May 30, 2016 at 8:38 AM, Mark Whitehorn <notifications@github.com>
wrote:

[2016-05-30 13:39] dagar commented on #4650
Yet another idea - onboard calibration.
With the basic mixer in place you could be walked through each output and asked to hold center and then each extreme.

[2016-05-30 13:42] kd0aij commented on #4650
It appears that the servo center point is implicitly the midpoint between pwm_min and pwm_max:
https://github.com/PX4/Firmware/blob/master/src/modules/systemlib/pwm_limit/pwm_limit.c#L181

That would make the center point dependent on the endpoints.

[2016-05-30 13:53] vilhjalmur89 commented on #4675
It seems to work

[2016-05-30 14:00] parvu opened #4692 "build eagle_default"
help please!

Im am using master branch here and try to build eagle_default firmware but i get stuck in:

Adding DF driver: isl29501
CMake Error at CMakeLists.txt:344 (add_subdirectory):
  add_subdirectory given source "src/drivers/uart_esc" which is not an
  existing directory.

[2016-05-30 14:20] LorenzMeier commented on #4675
Ok -can you move your workflow to it?

[2016-05-30 14:27] julianoes commented on #4692
Thanks for reporting. Fix coming up: #4693

[2016-05-30 15:02] #4692 closed

[2016-05-30 15:04] julianoes commented on #4685
[code]

That's Ubuntu 15.10.

[2016-05-30 15:26] LorenzMeier commented on #4685
Is there a way for you to update Gazebo or is this the current released version?

[2016-05-30 15:27] LorenzMeier commented on #4685
You will want to have 6.5ish.

[2016-05-30 15:27] LorenzMeier commented on #4680
Fixes are on master. Can you retry?

[2016-05-30 16:09] julianoes commented on #4685
I installed 7.0 from http://gazebosim.org/tutorials?cat=install&tut=install_ubuntu&ver=7.0 and that works. Is it ok to update the [devguide](http://dev.px4.io/simulation-gazebo.html#normal-installation) then?

[2016-05-30 16:11] julianoes commented on #4654
@mhkabir I just put some layers of tinfoil between Snappy and GPS (and some electrical isolation with tape to prevent shorts), that's a very poor man's solution. Better would be a 3D printed case with a layer of copper paint/spray on the inside.

[2016-05-30 16:19] dagar commented on #4654
I also had to cover the USB 3 camera and cable in foil before my m8 was usable.

[2016-05-30 16:26] mhkabir commented on #4654
@dagar @julianoes Thanks for the tips! I've made small copper shielded cases on my big copter to hold all the components like the TX1, so hopefully that fixes it :)

[2016-05-30 16:27] LorenzMeier commented on #4685
Yes please!

[2016-05-30 16:49] dagar commented on #4601
I've been exploring how best to handle docker based build environments on both semaphore-ci and travis-ci. First I'm going to move some of the travis-ci builds to docker, then I'll look at parallelizing builds and testing across both travis-ci and semaphore-ci.

[2016-05-30 17:16] julianoes commented on #4685
https://github.com/PX4/Devguide/pull/167

[2016-05-30 18:43] pickledgator commented on #4685
Can confirm brew install of gazebo7 on OSX works fine on master as well (currently v7.0.0). [simulation-gazebo.html](http://dev.px4.io/simulation-gazebo.html) still references 6, though the git [readme](https://github.com/PX4/sitl_gazebo) says 7.

[2016-05-30 18:59] LorenzMeier commented on #4650
I think we should introduce parameters (like the reverse params) for this purpose. Best would be to use the mixer, but we should take one step at a time.

[2016-05-30 19:47] dagar commented on #4650
Once we have that in place we could add a simple setup screen in QGC using the metadata from the airframe.
https://github.com/PX4/Firmware/blob/master/ROMFS/px4fmu_common/init.d/2101_fw_AERT#L7

[2016-05-30 19:51] LorenzMeier commented on #4682
Did you get a chance to test?

[2016-05-30 20:13] LorenzMeier commented on #4650
Let me handle that here. Your time is way better spent with CI. I know what I have to do here.

[2016-05-30 20:28] dagar commented on #4650
Sounds good to me!
Thanks Lorenz

On Mon, May 30, 2016 at 4:13 PM, Lorenz Meier <notifications@github.com>
wrote:

[2016-05-30 21:11] sanderux commented on #4682
Tested, aux channels actuate again.

[2016-05-30 21:11] #4682 closed

[2016-05-30 21:38] #4680 closed

[2016-05-30 21:45] LorenzMeier commented on #4644
@birchera I should have fixed this on master. Can you re-try?

[2016-05-30 23:07] sanderux opened #4694 "Airspeed sensor auto calibration"
As discussed in devcall 20160530 i will add an automated boot-time calibration mode for the airspeed sensor. It will be disabled by default and should only be enabled after a succesful manual calibration after any hardware change.
- Auto calibration will not ask the user to blow on the airspeed sensor, instead it will attempt to calibrate and issue a warning if the pressure is not constant. It wou

[2016-05-30 23:38] kd0aij opened #4695 "master: uninformative error message "Not ready to fly: Sensors not set up correctly""
QGC shows all sensors "green". There is no hint as to the cause of the problem.

[2016-05-31 05:34] tops4u commented on #4695
I had the same issue when connecting or disconnecting an additional Compass it would complain but Sensors all show ok in Summary Screen.

[2016-05-31 06:36] whyscience commented on #4695
yeah ,the same problem

[2016-05-31 06:54] birchera commented on #4644
Thanks Lorenz! On fixed-wing, pixracer, EKF2, we have now ~26K free memory, which should be sufficient.

[2016-05-31 06:54] #4644 closed

[2016-05-31 06:56] tumbili commented on #4644
@birchera  what size  of  logbuffer  are  you  using  now?

[2016-05-31 07:06] birchera commented on #4644
Standard 12K

[2016-05-31 07:32] ender-chen commented on #4607
I test it with my plane. I just shutdown my rc controller, but it just repeated rtl. YES, I think you can reproducible in SITL.

[2016-05-31 07:36] julianoes commented on #4607
@ender-chen: can you share logs please and watch out for messages like "Takeoff detected" or "land detected" in QGC?

I would guess that the problem is that landing is not detected (yet) in which case RTL is triggered.

[2016-05-31 07:50] ender-chen commented on #4607
OK, Tomorrow I will test it again. I think I have lost logs.

[2016-05-31 11:05] tops4u commented on #4680
I'll try. Not sure I can redo it....

[2016-05-31 13:45] zengdechi opened #4700 "The landing waypoint set failed"
in mission_feasibility_checker.cpp ,fw_pos_ctrl_status could not get correct parameter.This led directly to the landing waypoint set failed. how to fixed this bug?

[2016-05-31 14:11] dagar commented on #4700
I'll try to reproduce this in HIL.

[2016-05-31 14:32] zengdechi commented on #4700
@dagar  now,if I choose HILstar(XPlane) in QGC,the sensors can not  calibrate. why?

[2016-05-31 15:58] dagar commented on #4700
The autopilot sensors aren't used in HIL. The data comes from the simulator.

[2016-05-31 15:59] muharred opened #4703 "mc_att_control doesn't check for motor saturation for yaw control"
With the new multirotor mixing strategy, the mixer can reduce yaw output to prevent motor saturation. This is reported in multirotor_motor_limits topic as "yaw" field. Currently mc_att_control stops integral growth if roll/pitch limit is reached (reported as "lower_limit" and "higher_limit"), but in case roll/pitch controls alone don't cause saturation and it only occurs when yaw control gets mixe

[2016-05-31 16:14] dagar commented on #4695
Is this only on master or current stable? Were you able to get around it @kd0aij?

[2016-05-31 16:26] kd0aij commented on #4695
No, I guess I'll have to modify commander to figure out what's wrong.

[2016-05-31 17:50] ecmnet opened #4705 "TakeOff via MAVLink command: Altitude command param vs. vehicle parameter"
Sending the MAVLink command MAV_CMD_NAV_TAKEOFF with param7 (altitude set point), it seems not to be clear which altitude should be the target. Although the SP is set to value provided with the command, takeoff takes place considering the global vehicle parameter MIS_TAKEOFF_ALT in the first phase. Then, after some time, the SP provided is considered and the vehicle adjusts its altitude accordingl

[2016-05-31 18:39] tops4u opened #4706 "Motors won't spin after Arming"
Today I wanted to Fly my Hexa. Again it denied spinning the motors after Arming. Strangely it attached the Messages to an existing Message Log (several Days old):

Strangely in the Log I can see the Actuators having PWM between 0 .. 900:
![actuators](https://cloud.githubusercontent.com/assets/6877067/15686246/ad674702-276f-11e6-9f36-4e92ecdbf879.png)

I had to unplug Power and reboot in order to f

[2016-05-31 18:56] kd0aij commented on #4695
commander is coded in such a way that it is extremely reluctant to report the cause of preflight check failures. Running "commander check" at the console will tell you something though.

[2016-05-31 19:46] kd0aij commented on #4695
a complete sensor recalibration was required to resolve the issue

[2016-05-31 22:39] hsu commented on #4671
I need help understanding the collision shapes used for the [plane model](https://github.com/PX4/sitl_gazebo/blob/master/models/plane/plane.sdf)

![plane_collisions](https://cloud.githubusercontent.com/assets/138109/15692832/a1f3d022-2745-11e6-8d6c-f09c2e29a4fe.png)

why they are very different from the visual.  Thanks.

[2016-05-31 22:50] hsu commented on #4671
Change to collision models to stabilize contacts

https://github.com/PX4/sitl_gazebo/pull/23

[2016-06-01 06:11] LorenzMeier commented on #4671
The collision model is just inexperience / hacking on our part. I guess we should look at doing a clean new model.

[2016-06-01 11:00] priseborough commented on #4695
I had the same symptons which were resolved by repeating the magnetometer calibration, after noticing that the calibration data was not complete with scale factors missing for the primary HMC5883. This was on a Solo with PX2 autopilot.

[2016-06-01 13:12] xn365 commented on #4674
https://github.com/PX4/Firmware/blob/master/src/modules/navigator/navigator_main.cpp#L344
I think navigator will not working When we don't have gps.
Could AUTOLAND or LANDGPSFAIL mode run in this case?
https://github.com/PX4/Firmware/blob/master/src/modules/commander/state_machine_helper.cpp#L615
We will chang to DESCEND mode in the case of RC lost and have no GPS.
But this line will never be reac

[2016-06-01 13:28] julianoes commented on #4674
@xn365 Thanks for reporting!

You found exactly what I fixed in #4559, it's time to test this and get it in!

[2016-06-01 14:54] ChristophTobler commented on #4297
this commit slows down yaw: https://github.com/PX4/sitl_gazebo/commit/63cc44d84f4391133fdabb07e87da50aec5a5944

[2016-06-01 14:56] ChristophTobler opened #4712 "Gazebo sim: not arming"
when running "make posix_sitl_default gazebo_iris" arming does not work with neither mapping nor qgc gui. But it does work when typing "commander arm"

[2016-06-01 15:01] LorenzMeier commented on #4297
Can you submit a PR to fix it? Or at least share the exact diff? Thanks!

[2016-06-01 15:37] ChristophTobler commented on #4297
this is the exact diff. But I can also submit a PR.

[2016-06-01 17:30] kd0aij commented on #4614
@dagar This may be the cause if the flaperon setup changes pwm_min/max:
https://github.com/PX4/Firmware/issues/4650#issuecomment-222495368

[2016-06-01 19:00] hsu commented on #4712
this is not a solution, but rather just my debug work to try and discover why position lock fails. I made all topic namespaces absolute, see [this patch](https://github.com/PX4/sitl_gazebo/compare/master...hsu:master) and that seems to have enabled position lock, subsequently allowing simulated iris to arm/takeoff (`commander takeoff`). Maybe some one more familiar with the system can chime in.

I

[2016-06-01 19:45] LorenzMeier commented on #4712
Sounds indeed like it. Is your patch an ok intermediate solution?

[2016-06-01 20:34] tumbili opened #4714 "LPE altitude drift"
@jgoppert I just got a log from a user who is reporting considerable height drift during his flight.
Below you can see a plot which compares raw baro alt with gps alt and the estimated height.
Note that the baro / gps solutions are very close to the initial altitude at the end, however, the estimated height was suspect to a large drift.
Log: http://logs.uaventure.com/view/6Joqho5BrqD5vfoVPY9AUT

!

[2016-06-02 00:01] hsu commented on #4712
If the missing slash (`/`) in front of topic name is indeed the problem, I'd like to add the proper namespaces - `/gazebo/[world name]/[model name]/imu` or possibly `/px4/[model name]/imu` for example. Let me do that first. Any suggestions?  Also tagging @nkoenig for comments about gz transport topic naming.

[2016-06-02 00:04] hsu commented on #4671
got it. If you like, I can take a rough pass at the collision shape. I take it's not super critical how the plane makes contact with surrounding environments, except mabye 1+ box-shaped collision shape that envelopes the whole visual model with stable contacts with the ground? Do you plan to use the wheels for runway / taxiway operations?

[2016-06-02 00:06] hsu commented on #4712
feel free to commit my patch to get a working state. I'll make more PRs as needed.

[2016-06-02 02:59] kd0aij opened #4715 "nsh param command: reset option not listed in usage string"

[2016-06-02 03:11] jgoppert commented on #4714
Something is very wrong with this log, there is no filter watch dog or estimator 0 states. I think we need to make sure these are working so I can diagnose the problem further, the problem may also be related to why this logging wasn't being recorded.

[2016-06-02 03:13] jgoppert commented on #4714
Here is a recent log of LPE to compare, in this one we were flying outdoor with lidar and experienced a 50 m jump in GPS altitude from the sensor, which did cause our altitude to drift, but it recovered.

http://logs.uaventure.com/view/QdoUvByZrRHA2YLTxvZBTA

This flight was based on the 1.3.0rc1 release.

[2016-06-02 03:18] mhkabir commented on #4715
Done.

[2016-06-02 04:37] #4715 closed

[2016-06-02 07:21] tumbili commented on #4714
@jgoppert Yeah, I've been wondering why the filter states are not published, almost wanted to open an issue for that. So do you have any idea what the problem is?

[2016-06-02 11:06] jgoppert commented on #4714
Is logging working for ekf2 on master? If it is, then I'm guessing there was a change to the pub interface and lpe needs to be updated or somehow a recent trivial change (see stack smashing and param src removal patches) I haven't flown yet with those patches.

[2016-06-02 11:07] jgoppert commented on #4714
I will build and fly master to diagnose this on Friday night.

[2016-06-02 11:37] #4587 closed

[2016-06-02 11:45] zengdechi opened #4718 "how to compile release version?"
how to compile release version?

[2016-06-02 12:17] kd0aij commented on #4718
The appropriate place to ask noob questions is the gitter channel or the users forum.

[2016-06-02 12:17] #4718 closed

[2016-06-02 15:20] garlinplus opened #4720 "xxx_param.c problem"
Recently I read the code about param management,finally i find all xxx_param.c is compiled to be xml file.Why to do it?

[2016-06-02 16:33] kd0aij commented on #4720
Please read https://guides.github.com/features/issues/

[2016-06-02 16:33] #4720 closed

[2016-06-02 17:47] DonLakeFlyer opened #4721 "SITL sending multiple MISSION_COUNT responses to MISSION_REQUEST_LIST"
Using daily QGC and master firmware:
1) Boot SITL
2) Boot QGC
3) QGC will send MISSION_REQUEST_LIST
4) SITL will send multiple MISSION_COUNT messages (item count=0 which is correct)

You can see this from QGC error messages or you can turn on MissionManagerLog to see as well the single request from QGC and the multiple MISSION_COUNT's coming back.

[2016-06-02 18:59] AndreasAntener opened #4722 "Commander saves parameters every second"
In SITL the parameters get saved every second, also it seems to override some from rcS_gazebo_iris, not sure yet why

[2016-06-02 21:21] sanderux opened #4723 "SITL Gazebo broken on master"
Sitl gazebo no longer functions on current master.
Jmavsim does work.

Tested:
- make posix_sitl_default gazebo_standard_vtol
- make posix_sitl_default gazebo

Both do start gazebo but no connection and continues timeouts

On older branches it does work.
ubuntu 14.04

[code]

[2016-06-03 04:49] ecmnet commented on #4705
@jgoppert This seems to be LPE related. EKF2 SITL does not show this effect at all. Any idea?

[2016-06-03 05:32] SamChenzx opened #4725 "Bugs in the yaw calculation of snapdragon flight."
My P2 snapdragon flight still can't fly though rotation parameter has been set. Today I attempted to use the mag in MPU9250, the result is heading will slowly circle clockwise. If HMC5883 in 3DR GPS module is used, didn't circle but if I rotate quadrotor 90 degrees clockwise every time, it slowly try to turn to the origin direction before it turned. I've tried to invert y direction or invert x dir

[2016-06-03 05:45] mhkabir commented on #4725
@SamChenzx Please don't open multiple issues for the same topic. Let's continue the discussion on https://github.com/PX4/Firmware/issues/4652.

[2016-06-03 05:45] #4725 closed

[2016-06-03 05:46] mhkabir commented on #4652
@SamChenzx Could you please post a picture of your vehicle here?

[2016-06-03 05:51] SamChenzx commented on #4652
@mhkabir
I think maybe they are two different issues. Here is my vehicle now the GPS module and camera are towards the same direction.
![image](https://cloud.githubusercontent.com/assets/10758544/15769912/59a032f4-2914-11e6-8a38-b5e968c2ff95.jpeg)

[2016-06-03 05:55] mhkabir commented on #4652
@SamChenzx OK, this looks correct. I'm testing with my own vehicle, give me a minute.

Can you confirm that the artificial horizon functions correctly in QGC with the MPU9250 running with ```-R 6```?

[2016-06-03 05:59] SamChenzx commented on #4652
@mhkabir Yes, I set "-R 6" every time I flash the board. Even I have tried to set "-R 6" for the HMC5883.

[2016-06-03 06:01] mhkabir commented on #4652
Just to be clear, you shouldn't need to do *anything* other than the ```-R 2``` or ```-R 6``` on the MPU9250 driver.
Please confirm whether the horizon behaves correctly in QGC with either of those rotation parameters.

[2016-06-03 06:07] SamChenzx commented on #4652
@mhkabir Today I also set ROTATION_YAW90 in QGC when do the calibration, if just set "-R 6", heading will not toward the camera. Is that the problem? But I've noticed rotation in sensors can also work as Julian said.