[2015-05-06 19:05] SimonWilks commented on #2124
I will complete testing tomorrow.

[2015-05-07 08:47] LorenzMeier opened #2140 "Rate limiting has to be effective for rate and feedforward parts"
This log from @Zefz shows that the rate limiting is currently not effective for all gains:

http://dash.oznet.ch/view/VHo7DDhC9Sxy9FCEuQgJUK#A_RollRate_PLOT

This leads to an altitude loss with the new auto-scaling mixer. @tumbili This should be a quick fix.

[2015-05-07 08:58] crashmatt commented on #2132
tone_alarm seems too fundamental to avoid.  I tried putting an "if then fi" statement around all rcS instances of tone_alarm but that doesn't work properly.  There are more instances in other scripts.

some modules seem to define mavlink parameters that qgc demands to get started.  This somewhat defines a minimum set of functionality expected for something that is running PX4.  I don't yet know if

[2015-05-07 09:05] tumbili commented on #2140
@LorenzMeier @Zefz I don't think this is the problem. What about the number of satellites you had? Zero seems a bit too low for me.

[2015-05-07 09:05] tumbili commented on #2140
Oh sorry, might have looked at the wrong thing

[2015-05-07 09:07] tumbili commented on #2140
Yeah, sorry I didn't see the scaling of the axes

[2015-05-07 09:20] tumbili commented on #2140
@LorenzMeier @Zefz I think you have a problem with the position controller. Why does it give you a constant velocity setpoint of -1? Actually the sign should be different.

[2015-05-07 09:26] Zefz commented on #2140
@tumbili Can you try to fly the ```position_controller_inav``` with any of the attitude estimators and see if your Iris quad behaves properly?

I can run another longer test to collect more data.

[2015-05-07 09:31] tumbili commented on #2140
@Zefz Yes, just flashed latest master, did calibrations and just heard my charger beeping to say that battery is full :-)

[2015-05-07 09:43] tumbili commented on #2140
@Zefz Just flew with INAV enabled, no problems at all? Are you flying the latest master?

[2015-05-07 09:44] LorenzMeier commented on #2140
Completely Independent of how the Position Controller operates rate limiting is not working, or it is applied after logging. This issue is about fixing this, so please focus the discussion / effort here on it. @Zefz flight performance is an entirely different topic and there are certainly usage problems involved.

[2015-05-07 09:45] tumbili commented on #2140
@LorenzMeier I don't fully understand what is wrong with the rates. Where do you see any violation?

[2015-05-07 09:45] LorenzMeier commented on #2140
@tumbili have you inspected the rate limiting? Why are we seeing the spikes in @Zefz log?

[2015-05-07 09:47] tumbili commented on #2140
There are spikes but what do they have to do with rate limiting?

[2015-05-07 09:47] tumbili commented on #2140
Maybe we are talking of different things

[2015-05-07 09:49] LorenzMeier commented on #2140
actually at 360 dps -4 rad/s is possible. The question is if 360 dps is the right rate limit as default. Maybe we should apply a tighter limit?

[2015-05-07 09:51] tumbili commented on #2140
No, the problem is something else. Why is there a spike in the roll_rate_sp? There is not huge attitude error.

[2015-05-07 09:51] SimonWilks commented on #2132
Why do you want to get rid of tone_alarm?

[2015-05-07 09:52] tumbili commented on #2140
There is also a huge spike in the pitch setpoint

[2015-05-07 09:55] LorenzMeier commented on #2140
Yes, those spikes are what I'm trying to hunt down. Do they happen in your flight log as well?

[2015-05-07 09:57] tumbili commented on #2140
No

[2015-05-07 09:58] tumbili commented on #2140
And I see that attitude setpoint quaternions are not logged, probably the new estimator does not log yet.

[2015-05-07 09:58] tumbili commented on #2140
Because that is the relevant thing to look at.

[2015-05-07 10:03] tumbili commented on #2140
Just fixing that

[2015-05-07 10:06] tumbili commented on #2140
Ah, I had that mistaken. Ok, I see that the quaternion setpoint is generally not logged.

[2015-05-07 11:07] Zefz commented on #2140
Here is another log showing the same problem. It enters PosHold first and AltHold the second time.

It seems the attitude spike setpoints only happen on the first initial mode change into a flight assisted mode. Curiously this did not seem to happen without GPS (AltHold only). Maybe this is a problem in the mc position controller?

[2015-05-07 11:14] crashmatt commented on #2132
@SimonWilks If you don't have any alarm connection on a board then why have a tone alarm?

This seems a bit picky since I can just output the alarm to an unused pin.  One of my goals is to improve the reliability of a simple PX4 configuration.  One way to help this is to remove everything that is not necessary.

For now this is low prioirty.  If I don't find anything more I will delete it.

[2015-05-07 12:16] LorenzMeier commented on #2132
Since we want these hooks to be in I suggest you add a stub application which does nothing and returns OK. That's much more scalable than making the callout to the app optional - to me this is a fundamental architectural argument and not because I would oppose a general change.

Also check if the commander app is happy to not have a valid FD. If it isn't do the same there: instead of making the ca

[2015-05-07 12:31] tumbili commented on #2140
@Zefz @LorenzMeier A possible cause for the spike seem to be the desired acceleration in y direction of the position controller. If you plot it in flight plot you can see it very nicely. I just haven't understood yet where this spike comes from.

[2015-05-07 12:37] tumbili commented on #2140
@Zefz @LorenzMeier One cause I see is that the mc_pos_controller does not reset it's D part.

[2015-05-07 12:39] kd0aij commented on #2140
It looks to me as though RC inputs are commanding the spikes at around 43.5 seconds. Am I looking at the wrong event?
![spike](https://cloud.githubusercontent.com/assets/2300221/7515380/c00a2ec6-f483-11e4-9e36-1368259b9e4d.png)

[2015-05-07 12:45] tumbili commented on #2140
@kd0aij I'm looking at t == 16 seconds

[2015-05-07 13:00] kd0aij commented on #2140
will do a quick POSCTL check with Q estimator

[2015-05-07 13:06] tumbili commented on #2140
@kd0aij Just a second, can you use the PR I will do in 10 seconds?

[2015-05-07 13:06] kd0aij commented on #2140
OK

[2015-05-07 13:12] kd0aij commented on #2140
checked out branch mc_pos_D_reset. flashing now

[2015-05-07 13:23] kd0aij commented on #2140
very short flight; battery low. But it appeared to start toilet-bowling immediately on entering POSCTL.
Looks like mag calibration problems again.

[2015-05-07 13:40] surberj opened #2144 "EKF altitude estimation - measurement noise of baro"
Do we have a parameter capturing the measurement noise variance of the barometer?
As far as I understand:
Regarding estimation of the altitude, the IMU is used for propagation and GPS and Baro measurements are used for the update. For the GPS-Down measurement the parameters PE_POSD_NOISE and PE_VELD_NOISE are used. There should be as well a parameter capturing the variance of the baro measurement

[2015-05-07 14:09] tumbili commented on #2140
@kd0aij Could you show the log please?

[2015-05-07 14:25] tumbili commented on #2140
@kd0aij I did a param reset today with my IRIS and flew position control mode. Everything worked fine.
That's why I'm really surprised.

[2015-05-07 14:36] kd0aij commented on #2140
http://dash.oznet.ch/view/9vTwVDUV88TTTkQE8GGBJS
Toilet bowling strong about 8 seconds after entering posctl

[2015-05-07 14:45] #1921 closed

[2015-05-07 15:21] kd0aij commented on #2140
Interestingly, no problem with Flow: http://dash.oznet.ch/view/8bYbgkFh8DzR3stnTEKgNU
Back to GPS, and posctl is still no good: http://dash.oznet.ch/view/6hPRkZutbLuWfUAMTQZreE

[2015-05-07 15:51] crashmatt commented on #2132
Thats a good plan.  Maybe creating a valid FD but disabling the driver operation is a way.

[2015-05-07 17:18] kd0aij opened #2145 "PX4Flow not detected on boot"
***SEE:[SOLVED]***
I have PX4FLow connected to Pixhawk via I2C.
Everything is fine on a cold boot initiated by plugging in USB.
But on a cold boot from battery/power module, the flow module is not detected.
Inserting a 4 second delay into rc.sensors prior to "px4flow start" fixed the problem (3 seconds is not enough).

[2015-05-07 17:37] davids5 commented on #2145
Hi @kd0aij,

This may be related to https://github.com/PX4/Firmware/issues/2001#issuecomment-93524623

The HW should be here next week for me to test.

[2015-05-07 17:42] kd0aij commented on #2145
Thanks David. Wish I had seen that a few days ago!

[2015-05-07 17:55] pkocmoud commented on #2145
David, I tried to order the FLOW thru 3DR and it was back-ordered for who knows how long. I bought 2 from the UK distributor. Let me know if you need to borrow one. I can ship one out to you today.

[2015-05-07 18:08] davids5 commented on #2145
@pkocmoud Thank you I may need to take you up on the offer. I am checking on an ETA and will let you know.

[2015-05-08 00:29] davids5 commented on #2145
@pkocmoud Thank you again, but the hw is on it's way here.

[2015-05-08 08:17] Zefz commented on #2144
PE_POSD_NOISE is for barometer. Only GPS-Down-Velocity is used, GPS-Down-Position is not used for altitude estimations. (only for long-term barometer drift, but that is not a parameter that you can tweak)

[2015-05-08 11:02] LorenzMeier commented on #2145
I suspect the quick fix would be to have the px4flow driver try for a few seconds before it gives up. However, understanding the power sequencing would be great.

[2015-05-08 11:03] LorenzMeier commented on #2144
Please ask questions on the mailing list: http://groups.google.com/group/px4users

Thanks!

[2015-05-08 11:03] #2144 closed

[2015-05-08 11:41] LorenzMeier commented on #2140
@kd0aij Thrust and magnetic field are correlated in your case:
http://dash.oznet.ch/view/6hPRkZutbLuWfUAMTQZreE#Thrust_PLOT

The overall vector orientation is different between power-off and power on (look at the takeoff sequence):
http://dash.oznet.ch/view/6hPRkZutbLuWfUAMTQZreE#IMU_Mag_PLOT

To me it looks marginal - it might just work or just not work, very hard to tell. It would certainly be e

[2015-05-08 11:43] LorenzMeier commented on #2140
And in your last log with GPS, your roll / pitch tracking is horrible:
http://dash.oznet.ch/view/6hPRkZutbLuWfUAMTQZreE#A_PitchRate_PLOT

This is your primary issue. As long as that is not resolved this quad will continue to raise false positives in terms of performance. You really, really need to re-tune it 8).

[2015-05-08 11:44] LorenzMeier commented on #2140
I'm closing this in favour of #2143, which likely will resolve this.

[2015-05-08 11:44] #2140 closed

[2015-05-08 12:14] kd0aij commented on #2140
@LorenzMeier This is very interesting... How could the pitchrate tracking be so good in the flow run, and so bad on the next flight with GPS a minute later? I certainly didn't change any tuning parameters, just put the lens cap on the flow camera.

[2015-05-08 12:34] LorenzMeier commented on #2140
There are also suboptimal areas in the manual flight section of the flow log. Your system seems to be right at the edge of ok, but not quite there.

[2015-05-08 12:40] kd0aij commented on #2140
Any suggestions on what might be wrong with the tuning? In my opinion there
are no problems with manual flight so the required procedure is completely
unknown to me.

On Fri, May 8, 2015 at 6:34 AM, Lorenz Meier <notifications@github.com>
wrote:

--
Mark Whitehorn
kd0aij@gmail.com

[2015-05-08 13:29] kd0aij commented on #2140
I guess this points out how valuable an auto-tuning procedure would be. It would encapsulate the knowledge which I (the user) lack and improve user experience immeasurably by eliminating crashes which currently result simply from switching from manual to posctl mode. A step in the right direction would be an auto-analysis procedure which examines a log and suggests changes to specific tuning param

[2015-05-08 14:42] AndreasAntener opened #2148 "Stale git version on incremental builds"
If you build the firmware and only do incremental builds, the commit SHA that's later used in sdlog2 won't change.

[2015-05-08 14:59] dagar commented on #2148
It's passed as a define. I'm not sure how to make the current build system pick up on that change. Maybe we could write it to a header (and setup header deps) or another c file?

[2015-05-08 15:03] AndreasAntener commented on #2148
Just quoting @kd0aij , might be an option

[2015-05-08 15:24] kd0aij commented on #2148
I'm pretty inept with "make", but this caused sdlog2.c to be recompiled:
$(shell touch src/modules/sdlog2/sdlog2.c)
I inserted it in the makefile immediately following "export GIT_DESC"

[2015-05-08 20:45] kd0aij commented on #2148
created PR #2149 with makefile change

[2015-05-09 22:45] LorenzMeier commented on #1925
Fixed in master.

[2015-05-09 22:45] #1925 closed

[2015-05-09 22:47] LorenzMeier commented on #960
Implemented on master and according to testing currently operational.

[2015-05-09 22:47] #960 closed

[2015-05-09 22:47] LorenzMeier commented on #949
Implemented.

[2015-05-09 22:47] #949 closed

[2015-05-09 22:48] LorenzMeier commented on #1174
@kd0aij You're currently happily flying with flow position hold, correct?

[2015-05-10 08:05] crashmatt opened #2151 "Fails system start on MS5611 fail"
Failure to start MS5611 sensor results in failure to properly start the system

rc.sensors starts ms5611 here:
https://github.com/PX4/Firmware/blob/master/ROMFS/px4fmu_common/init.d/rc.sensors#L6

with no if then fi statement around it.

ms5611.cpp searches for device on existing buses here:
https://github.com/PX4/Firmware/blob/master/src/drivers/ms5611/ms5611.cpp#L928

ms5611.cpp checks for exist

[2015-05-10 08:21] #2151 closed

[2015-05-10 17:51] crashmatt opened #2152 "Potential failure to startup in sensors init"
Hypothesis: A sensor failing to start will prevent the sensor task from running.
Presumption: If a sensor fails to start it will not have a FD in /dev
Evidence: unode has ms5611 module and attempts to start it in rc.sensors.  The /dev directory does not have a baro(meter) device.
Confidence: 4/10

sensors.cpp task_main started by a trampoline from sensor_start. It does init on all sensors.
https:/

[2015-05-10 20:42] crashmatt commented on #2152
and finally there is no if then fi around the sensors start statement

I guess there are other things after sensors that are critical to start.  It maybe should have this wrapper anyway, maybe with an error tone alarm.

[2015-05-11 07:01] crashmatt commented on #2132
Closing this issue for now.  It is mostly covered by #2152 and #2151.

[2015-05-11 07:01] #2132 closed

[2015-05-11 08:01] crashmatt commented on #2152
Tested wrapping if,then,fi around sensor start.  Commander and mavlink tasks now start.
I am not comfortable with this solution but it would be a minimum to get the commander started and have communication and aircraft control.  There are two cases where this is useful:
1. Inflight failure with loss of sensor (rare)
2. Sensor failure with requirement to report it on mavlink for user debugging.

Ag

[2015-05-11 11:53] tumbili opened #2153 "LED: Low Battery Indication not working"

[2015-05-11 11:54] tumbili opened #2154 "Param text rework"

[2015-05-11 11:59] tumbili commented on #2153
When battery is getting very low the LED should change from orange to red (indicating the critical battery status). However, the LED changes from orange to blue which falsly suggests that the battery charge is still ok.

[2015-05-11 12:03] tumbili commented on #2154
For the first release should go through all parameters and make sure the text description is in a good state.

[2015-05-11 12:21] LorenzMeier opened #2155 "Multirotor PID tuning guide out of date"
From @Zefz:
https://pixhawk.org/users/multirotor_pid_tuning should be updated to include the new FF gains on rates. (e.g MC_PITCHRATE_FF).

[2015-05-11 13:31] nopeppermint opened #2156 "adapt NMEA GPS Driver / RTKLIB GNSS Driver"
As written here https://groups.google.com/forum/#!topic/px4users/Lq3lhSyG2zU
I like to adapt the https://github.com/PX4/Firmware/blob/master/src/drivers/gps/ashtech.cpp gps driver
with the following nmea messages:
GLGSV => Glonass Satellite information about elevation, azimuth and CNR
GPRMC => Time, date, position, course and speed data
GLGSA => Glonass represent the ID’s of satellites which are u

[2015-05-11 14:19] Zefz commented on #2155
@tumbili How would you approach tuning the FF for rate gains?

[2015-05-11 14:57] kd0aij commented on #1174
Did some tuning today with 12" props and a 3S battery in the 450. (threw a 10" blade in flight last night, that log is interesting...)
Here's the post-tuning log (adjusted P and D gains for MPC XY, Z)
http://dash.oznet.ch/view/inkEkbCxckV2djZVPGCmEk
* Position hold is working pretty well at 1 to 2m altitude;
 * what is the max recommended altitude with the stock lens and sonar?
* Should there be a

[2015-05-11 16:18] kd0aij commented on #1174
a plot from the log above, showing GPS vs LPOS x,y,z

[2015-05-11 16:30] tumbili commented on #2155
@Zefz This is a good question. You could tune the system to get a good response without feedforward. Then you could add some small feed-forward and see how it improves the tracking performance.

[2015-05-11 17:08] davids5 commented on #2145
The board arrived - Duh- I forgot to ask for the j-tag connector to be added. I have some Samtec .05 ordered and will look at this as soon as I can debug it.

Would somebody please describe the cabling setup. A photo would work.

David

[2015-05-11 17:13] DrTon commented on #2107
I think I know why it's "not working". Right now (11 may 2015) I got the following:
[code]
IMO it's better to have sess001/log001 in case of no GPS...

[2015-05-11 17:16] kd0aij commented on #2107
#2084 may be related

[2015-05-11 18:57] molysgaard opened #2158 "C++ std::abs is not available when compiling C++ modules"
When using std::abs in code within a module, a compilation error:
[code]

A minimal test module showing the issue is in the following commit: https://github.com/molysgaard/Firmware/commit/fbce2040c0465435de41b2e85d66f9f7f987fdcf

Would be nice if people could fork off https://github.com/molysgaard/Firmware/tree/cpp-abs-test branch cpp-abs-test and verify the issue.

Anyone have thought about why t

[2015-05-11 19:00] wangsen1312 opened #2159 "Can Mocap data replace local_postion data?"
Now I can only replace the vision estimation data with Mocap data. How Can I replace local_position data which calculate by FCU using Mocap data?
Thank you in advance.

[2015-05-11 23:30] kd0aij commented on #2145
I just followed these setup instructions:
https://pixhawk.org/modules/px4flow
and connected px4flow I2C to pixhawk I2C.

Just be sure you orient px4flow Y axis toward front of vehicle, or change
*SENS_FLOW_ROT* to reflect the actual orientation.

On Mon, May 11, 2015 at 11:08 AM, David Sidrane <notifications@github.com>
wrote:

--
Mark Whitehorn
kd0aij@gmail.com

[2015-05-12 14:07] LorenzMeier commented on #2105
I'm closing this for now since we couldn't repro in quite a number of flights. I'm happy to assist in tuning the airframe if required. I also think we should switch to the q estimator plus INAV on fmuv1

[2015-05-12 14:07] #2105 closed

[2015-05-12 14:09] LorenzMeier commented on #2106
I don't have this set up. It will need someone to be debug. @dogmaphobic interested?

[2015-05-12 14:09] LorenzMeier commented on #2124
This is fixed or not?

[2015-05-12 14:14] SimonWilks commented on #2124
Yes, fixed.

--
UAVenture AG
http://www.uaventure.com

On Tue, May 12, 2015 at 4:09 PM, Lorenz Meier <notifications@github.com>
wrote:

[2015-05-12 14:45] LorenzMeier opened #2164 "Allow arming without RC control"
Off board control users want to arm without RC.

[2015-05-12 14:47] #2124 closed

[2015-05-12 16:10] dogmaphobic commented on #2106
I don't have the hardware for it but I could emulate it (by feeding 0-3.3v to the ADC directly). My receivers output RSSI through PWM and I have not gotten around to build a circuit to convert it to a simple 0-3.3v DC level.

[2015-05-12 16:26] dogmaphobic commented on #2106
Added the comment before reading the full #2061 thread. Let me see what I can find...

[2015-05-12 17:09] kd0aij commented on #1174
can't reliably reproduce the above behaviour, even with consistently good flow quality.

[2015-05-12 17:55] #2159 closed

[2015-05-12 23:51] dogmaphobic commented on #2106
Sorry, I've been swamped all day today. I have never built the firmware from sources. Looking at the wiki and wherever else I could find, things seem to be awfully outdated. I couldn't figure out how to set up the environment and how to build it. I will look at it further tomorrow...

[2015-05-13 07:39] LorenzMeier commented on #2106
The guides are completely up to date, I verified just a couple of days ago.

You don't need a circuit to get something close and reasonable. The PWM is low passed and hence becomes a valid voltage.

[2015-05-13 07:47] dogmaphobic commented on #2106
My bad. I don't use homebrew, I use MacPorts instead. When I saw this:
[code]
I assumed it was going to look for a file named ```homebrew-px4``` in a directory called ```PX4```, neither of which exist. I now just typed as is and it worked. It didn't occurred to me it was registered with homebrew.

I will try again :)

[2015-05-13 07:49] LorenzMeier commented on #2106
Unless you have good reasons to stick with MacPorts I would recommend homebrew. By now you just can't compare the two and my experience with homebrew has been consistently better.

[2015-05-13 08:02] dogmaphobic commented on #2106
No particular reason other than it's what I've been using for the past 10 years. Fink before that. I had homebrew installed a couple months ago just to look at it (while looking for ARM toolchain for the RPI2) but have not gotten around to use it. I wish for 48-hour days :)

[2015-05-13 12:00] kd0aij opened #2166 "corrupted parameter values in ROM"
I recently had INAV_ENABLED change (unexpectedly) from 1 to 0 in a Pixhawk which I had set up to run the Q estimator and INAV. This correlated with flow/POSCTL becoming unstable. Changing INAV_ENABLED back to 1 using Tower made flow based POSCTL work again, but the logfile from that flight shows "INAV_ENABLED 1.06535322E9". Rebooting the Pixhawk showed the ekf_att_pos_estimator running... no att_e

[2015-05-13 12:04] LorenzMeier commented on #2166
Tower is corrupting the values. Please file an issue against it. It's a known issue as its not adhering to MAVLink specs.

[2015-05-13 12:04] #2166 closed

[2015-05-13 12:07] kd0aij commented on #2166
@LorenzMeier Could you point me to the known issue with Tower violating the mavlink spec?

[2015-05-13 12:15] LorenzMeier commented on #2166
APM is not interpreting params as per the standard for non-float values. They would need to adjust their param conversion routines depending on which autopilot they are connected to. If you mention me in the issue I can provide the link.

[2015-05-13 12:16] kd0aij commented on #2166
@LorenzMeier BTW, this seems to indicate a lack of input validation on the PX4 side, since 1E9 is somewhat larger than the spec'd max value for the parameter.

[2015-05-13 12:19] kd0aij commented on #2166
@LorenzMeier https://github.com/DroidPlanner/Tower/issues/1483

[2015-05-13 12:34] LorenzMeier commented on #2166
There is and will be no input validation. It's pointless as its the inner working of the system and there is a million ways to crash a drone using individually correct, but collectively wrong parameters. At the point where we can validate them collectively we have built a system that doesn't need parameters anymore - that would be a great end goal though.

[2015-05-13 12:37] LorenzMeier commented on #2166
We might be able to add range limits cheaply which would have prevented this, to me that's not real input validation though. Is that what you meant?

[2015-05-13 12:49] kd0aij commented on #2166
yes, the valid range of INAV_ENABLE is [0,1]
I presume that PX4 behavior is "undefined" if it's not in that range

[2015-05-13 12:50] kd0aij commented on #2166
by "valid range" I mean what I read in the parameter description

[2015-05-13 13:46] s3erjaeh opened #2168 "Wrong GPS coordinates conversion in HIL mode"
File: [src/modules/mavlink/mavlink_receiver.cpp](../blob/master/src/modules/mavlink/mavlink_receiver.cpp#L1363):1363 & 1364

Wrong convertion from:
[int32_t   mavlink_hil_state_quaternion_t::lat; ///< Latitude, expressed as * 1E7](https://github.com/mavlink/c_library/blob/master/common/mavlink_msg_hil_state_quaternion.h#L12)
to:
[double   vehicle_global_position_s::lat; /**< Latitude in degrees](h

[2015-05-13 14:04] LorenzMeier commented on #2168
Thanks for reporting. On future reports, sending a pull request would be appreciated, but if a text report is the maximum you can do that's good as well.

Fixed in 66b87ac.

[2015-05-13 14:04] #2168 closed

[2015-05-13 14:25] tumbili commented on #2153
Fixed

[2015-05-13 14:25] #2153 closed

[2015-05-13 14:53] #1898 closed

[2015-05-13 14:53] #1483 closed

[2015-05-13 14:54] tumbili commented on #2020
Support for IO but not FMU

[2015-05-13 14:55] #1896 closed

[2015-05-13 15:00] tumbili commented on #1999
Done

[2015-05-13 15:00] #1999 closed

[2015-05-13 16:01] davids5 opened #2172 "Add File Request from GCS"
To support fetching firmware for devices.

[2015-05-13 19:56] TSC21 commented on #1986
The PR in mavros side to support this message has been launched: https://github.com/mavlink/mavros/pull/292. If someone want to give some ideas, feel free and thank you :)

Btw, regarding the `covariance` value: shouldn't this be `variance` instead, since it's a one-dimension measurement related, i.e., it's relative to `z` only and not other dimensions?

[2015-05-14 02:58] kd0aij commented on #1174
Problems with flow and POSCTL breakage were caused by parameter values being corrupted, or else just changing unexpectedly. The second part of the following video definitely shows behavior with INAV and the Q attitude estimator running. Downward looking Mobius camera to show motion relative to ground, but not that this camera isn't gimballed, so some of the apparent motion will be due to pitch and

[2015-05-15 07:09] tumbili commented on #1861
@LorenzMeier From what I see the status flag population is already done, it's just that not every sensor publishes the "subsystem_info" topic yet.

[2015-05-15 07:43] LorenzMeier commented on #1861
Yeah, that subsystem_info topic might not be the ultimate solution. I have to think about that one.

[2015-05-15 08:56] nopeppermint opened #2179 "get usart6 on stm32f4discovery working"
@LorenzMeier @davids5
I got usart6 on stm32f4discovery with current master working (which contains already #2174), but there are changes in the Nuttx submodule necessaries in the file Nuttx/nuttx/configs/stm32f4discovery/include/board.h

So I have to provide a PR to the Nuttx submodule right?

[code]

[2015-05-15 09:02] crashmatt commented on #2152
Closed until further testing is done

[2015-05-15 09:02] #2152 closed

[2015-05-15 09:09] LorenzMeier opened #2180 "MAVLink FTP List command allocates 40K of memory"
@DonLakeFlyer The MAVLink FTP list command lead to this interesting memory pattern:

Before:
[code]

After:
[code]

I didn't see the smoking gun in the code yet.

[2015-05-15 09:12] LorenzMeier commented on #2180
*facepalm* I do see it. Sec.

[2015-05-15 09:15] #2180 closed

[2015-05-15 10:25] LorenzMeier opened #2182 "Express rates in MAVLink app in relation to default rate"
This might be already the current state, but I need to check it's not attached to the max rate.

[2015-05-15 10:56] LorenzMeier commented on #2020
@DonLakeFlyer would you have the opportunity to do the required button / view while on the road? We kind of need this for the release, and I think it would fit the power config pane. It should launch a right side menu asking to clear the props, then launch.

[2015-05-15 11:04] #1865 closed

[2015-05-15 18:05] DonLakeFlyer commented on #2020
May take me a day or two to get back to Internet

[2015-05-15 20:24] LorenzMeier opened #2184 "MAVLink FTP file listing fails on some data inputs"
@DonLakeFlyer Logging here my WIP findings. I used the image of Roman's card to recreate his setup. It reproduces 100% for me.

If I start MAVLink via QGC (via rc.usb), I get a NACK on the file listing after some files. If I start MAVLink on the shell like this:
[code]
I get a timeout. This is interesting because it shouldn't matter on which shell I start the app. Looks like a first hint or an ort

[2015-05-16 07:10] LorenzMeier commented on #2184
Ok, mystery solved. The shell was still sitting on the port, which is why RX failed. Now I get this:

[code]
And manually listing the directory yields:
[code]
Or in other words: This is a filesystem issue.

[2015-05-16 09:39] LorenzMeier commented on #2184
@DonLakeFlyer I pushed an attempt to fix and a workaround to master. I don't understand the state machine fully yet, but what I'm trying to return is an empty directory. QGC is keeping requesting the directory. I would appreciate if  you could have a look. If you remove the first condition and flash Roman's microSD image you should get an endless loop of directory requests.
https://github.com/PX4/

[2015-05-16 09:44] LorenzMeier commented on #2182
This is already correct, closing.

[2015-05-16 09:44] #2182 closed

[2015-05-16 09:44] LorenzMeier commented on #2179
You have to send this as PR to PX4/NuttX.

[2015-05-16 17:09] TSC21 commented on #2036
What's the status on this?

[2015-05-16 17:14] TSC21 commented on #1986
The other thing I want to ask is the following:
https://github.com/mavlink/c_library/blob/master/common/mavlink_msg_distance_sensor.h#L13 where is this enum? Does it exists at all?
And related to this:
does https://github.com/mavlink/c_library/blob/master/common/mavlink_msg_distance_sensor.h#L12 has any relation with the sensor orientation?
And again: shouldn't it be `variance` instead of `covaria

[2015-05-16 17:22] TSC21 commented on #1986
Oh, and just another thing:
Is it possible to add to `MAV_DISTANCE_SENSOR` enum `MAV_DISTANCE_SENSOR_INFRARED`? (p.e., for short range infrared rangefinders)

[2015-05-16 21:22] LorenzMeier commented on #2036
Fixed on master, closing.

[2015-05-16 21:22] #2036 closed

[2015-05-17 02:17] asakusuma opened #2188 "genromfs no longer available?"
Following the [mac installation instructions](https://pixhawk.org/dev/toolchain_installation_mac), a couple of the brew formulas don't appear to exist. I'm running Mac OS 10.10 and Homebrew 0.9.5.
[code]

Is there somewhere else I can find genromfs and kconfig-frontends for mac? Some google searching seems to indicate that both are primarily linux tools. The lack of genromfs is, I assume, causing

[2015-05-17 08:56] LorenzMeier commented on #2188
The formulas come from here: https://github.com/PX4/homebrew-px4. You forgot to tap the PX4 repo, please re-read the installation instructions to resolve your issue.

[2015-05-17 08:56] #2188 closed

[2015-05-17 09:10] LorenzMeier commented on #1986
In common.xml, if not, please send a PR to add it.

We still have to add that ENUM. Probably something in 45 degree steps like APM and PX4 use for their internal sensor config structures.

The covariance of a vector of observations is the variance (in general). So the terminology is correct, maybe a bit confusing.

[2015-05-17 10:00] nopeppermint commented on #2179
I just updated my local copy of the repo, recompiled everything (including nuttx) and retested the px4-stm32f4discovery usart6 capability and can now confirm that px4/master @https://github.com/PX4/Firmware/commit/3032afb80399a78fe56417858d7b026db8206634 has a fully working usart6 / ttyS1 on stm32f4discovery as you can see below.

So there won't be a PR against px4/nuttx.

the Wiki is updated http

[2015-05-17 10:00] #2179 closed

[2015-05-17 15:03] asakusuma commented on #2188
@LorenzMeier I did not forget to tap the repo. But just to be sure, I tried running through the instructions again and, sure enough:
[code]

[2015-05-17 15:14] asakusuma commented on #2188
@LorenzMeier figured out the issue, had to untap and then re-tap with sudo

[code]

[2015-05-17 15:28] LorenzMeier commented on #2188
You should not be needing sudo for homebrew and its actively discouraged. Your homebrew installation is most likely in a bad shape and you might have further issues down the road (try brew doctor).

[2015-05-17 15:46] LorenzMeier commented on #1260
I've now added the consumed current via the BATTERY_STATUS MAVLink message. That's IMHO the best estimate we can provide and the same as the FPV pilots add.
I also verified that the voltage scaling is not done on the filtered voltage - so closing this one.
https://github.com/PX4/Firmware/commit/83fdb9931a0a9dd209566102bd873a274f4db6ed

[2015-05-17 15:46] #1260 closed

[2015-05-17 15:49] LorenzMeier commented on #948
Closing in favour of #2021 and #2022 which capture the remainder of the discussion for missing flight modes on fixed wing. Multicopter modes seem fine so far.

[2015-05-17 15:49] #948 closed

[2015-05-17 16:29] LorenzMeier commented on #2107
I've addressed this in https://github.com/PX4/Firmware/pull/2191. There is fundamentally nothing intelligent we can do about clock drift, other than offering developers the choice to rely on GPS only. For outdoor operations the RTC backed mode makes a lot of sense though.

[2015-05-17 16:29] LorenzMeier commented on #2107
Closing, please refer to the PR.

[2015-05-17 16:29] #2107 closed

[2015-05-17 16:32] DrTon commented on #2107
One day error after day of sleeping is not a DRIFT :) it's a bug somewhere in RTC.

[2015-05-17 16:47] kd0aij commented on #2107
One would hope that the battery backup would last for more than a day or
two...
The MS5621 appears to have a 5.5mah capacity, while the processor has a
worst-case draw of 11ua.
5.5mah/11ua = 20.8 days
Unless, of course, something else is loading Vbat...

On Sun, May 17, 2015 at 10:32 AM, Anton Babushkin <notifications@github.com>
wrote:

--
Mark Whitehorn
kd0aij@gmail.com

[2015-05-17 16:48] kd0aij commented on #2107
BTW, typical Vbat mode current draw is spec'd at 1.6ua, for an endurance of
143 days

On Sun, May 17, 2015 at 10:47 AM, Mark Whitehorn <kd0aij@gmail.com> wrote:

--
Mark Whitehorn
kd0aij@gmail.com

[2015-05-17 16:58] LorenzMeier commented on #2107
@DrTon I can't reproduce - what steps do I need to do to recreate your case?

[2015-05-17 17:00] LorenzMeier commented on #2084
Could you try to reproduce this with master? We need to narrow down the symptoms.

[2015-05-17 17:03] kd0aij commented on #2107
Was this perhaps an FMUv1?

[2015-05-17 17:07] kd0aij commented on #2084
Have been flying recent master on that system but usually without a GPS
module.
Will add a GPS for future flights and look for a recurrence.

On Sun, May 17, 2015 at 11:00 AM, Lorenz Meier <notifications@github.com>
wrote:

--
Mark Whitehorn
kd0aij@gmail.com

[2015-05-17 23:13] kd0aij commented on #2084
have just observed using commit 66b87ac from 13 May that a log was named "sess005" which showed a 3D fix from start to finish.
Just added print statements to the code which show UTC time being published and RTC being set with fix types of 0 and 3. Since this shows RTC is valid when sdlog2 created the logfile, this might indicate a problem with the -t option in sdlog2 startup.
[code]

[2015-05-18 08:25] xuliren commented on #1856
Hi, I'm testing the offboard velocity function under an indoor-vicon testbed. Currently the uav can do the offboard position control very well, but the velocity control are not working. After reading the source code, I found that https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/mc_pos_control_main.cpp#L715 is converting the velocity control into an position control, I think i

[2015-05-18 08:31] LorenzMeier commented on #2084
The issue you describe exists on master, but is fixed on this branch - could you cross-test?

[2015-05-18 08:37] LorenzMeier commented on #2084
This branch for testing: https://github.com/PX4/Firmware/pull/2191

[2015-05-18 08:44] LorenzMeier commented on #2084
One important additional hint: On master the RTC gets reset on each Firmware upgrade. This is fixed on nuttx_next.

[2015-05-18 09:35] LorenzMeier commented on #2084
tested the heck out of it, can't reproduce this.

[2015-05-18 11:41] LorenzMeier commented on #2081
There is a bus ID concept which would allow sensor consumers to query the bus ID and pick UAVCAN. We will probably do this for the 1.1 release.
https://github.com/PX4/Firmware/blob/ebc4cc3a7dfc6a705a4585c75e92969a6a0e798f/src/drivers/device/device.h#L127-L148

I'm ok to enable UAVCAN by default on Pixhawk - how many KB of RAM is it really consuming? Any room for optimisations?

Could the start han

[2015-05-18 12:13] yyassa opened #2192 "Board rotation offsets - Bug in matrix multiplication?"
The SENS_BOARD_*_OFF parameters for fine-tuning the board rotation are multiplied by the rough board rotation in two in different ways (in board frame vs aircraft body frame) in different parts of the code:

accelerometer_calibration.cpp (line 433):
[code]

sensors.cpp (line 859):
[code]

Which one should it be?

[2015-05-18 12:20] kd0aij commented on #2084
are you testing on FMUv1, and should that make any difference, since it has no backup battery? Also I see you already deleted branch #2191

[2015-05-18 12:25] LorenzMeier commented on #2084
I tested on Pixhawk and it would be great if you could test master on FMUv1

[2015-05-18 16:40] pavel-kirienko commented on #2081
OK, I guess we should leave this issue open then until the bus ID is supported by the UAVCAN driver. Do you know whether APM is going to support it as well?

Currently it consumes about 10k for the pool, 3k for the stack and about 4k for static objects (also it allocates an object or two in the heap, but it's a mistake and it should be fixed if we decide to make it enabled by default). With dynami

[2015-05-18 18:03] kd0aij commented on #2084
Tested on FMUv1. Unable to reproduce problem with GPS connected after merging latest master (using branch https://github.com/kd0aij/Firmware/tree/sdlogFileName)

[2015-05-18 18:25] tumbili commented on #2192
The first one looks better in my opinion. It's true that rotation matrix multiplication does not commute.
I guess the large board rotation should be before the fine tuning.

[2015-05-18 19:05] LorenzMeier opened #2193 "Level / Board rotation method"
@DonLakeFlyer @tumbili As discussed on the dev call it seems we need an option for users to "level" a system during calibration. That would be a fourth button in the sensor config view.

The instructions should be something along the lines of: Put the system on a perfectly level surface, then click ok. The system will sample the current attitude for a very short amount of time and set a number of

[2015-05-18 19:53] kd0aij commented on #2192
I concur:
If board_rotation transforms from board_frame to body_frame1 and
board_rotation_offset transforms from body_frame1 to body_frame2
then (board_rotation_offset * board_rotation) transforms from board_frame to body_frame2.
In that case, the rotation offsets are measured from body_frame1 to body_frame2, which I think is the way they are intended.

[2015-05-18 20:29] #2084 closed

[2015-05-18 22:55] kd0aij commented on #2193
It would also help to explain that the current accel calibration does not rely on the upright orientation being precisely level, and that the other 5 orientations also need not be precise.
The new "level" function would refine the autopilot rotation matrix (this is not currently being performed).

[2015-05-18 23:46] DonLakeFlyer commented on #2184
Ah, makes sense. QGC is confused by the EOF logic and an empty directory. Easy fix on QGC side.

[2015-05-19 00:35] DonLakeFlyer commented on #2020
So the user is supposed to be connected via USB but not initially plugged in to battery? Then they start calibration. It arms and then the user is supposed to plug in battery which should power the ESC with a high throttle. Then either click or wait 5 seconds to go to low throttle. Then calibration is done and user should unplug battery.

All of the above needs to happen with the props off.

[2015-05-19 00:41] DonLakeFlyer commented on #2193
If you don't do the extra leveling step, then you need to make sure you are level when you do upright regular accel cal don't you? And that your board rotation exactly matches one of the selections? You only need to perform this extra step if your selected board orientation wouldn't bring things to exact level?

Or in other words how do you explain to the user when they would NOT need to perform t

[2015-05-19 00:43] davids5 commented on #2145
@kd0aij @pkocmoud @LorenzMeier

I have tested with PX4FMUV2 with ONLY the power module connected.  Test was conducted by disconnecting my bench power supply.

PX4 Firmware c06ba047e2ded236b8ce5e17694dfca8b8d6f067
With
1) Old PX4 flow bootloader - https://github.com/PX4/Flow/blob/master/px4flow_bl.elf
2) Current  Bootloder https://github.com/PX4/Bootloader/commit/a8c0160397062d1760f35ef8eda84ef0db7

[2015-05-19 00:45] davids5 commented on #2001
@JessieHIT  @h46incon @mlstolk I am consolidating the issue. Please join [this] (https://github.com/PX4/Firmware/issues/2145) discussion.

[2015-05-19 00:45] #2001 closed

[2015-05-19 00:50] davids5 commented on #2145
@kd0aij - Would you be able to re-test with current PX4 Firmware at c06ba047e2ded236b8ce5e17694dfca8b8d6f067 and see if the problem still exists. If So the I would like you to try the Boorloader from  at https://github.com/PX4/Bootloader/tree/vetting fdc247e and let me know if it fixes the issue.

[2015-05-19 01:01] DonLakeFlyer commented on #2020
The do_esc_calibration routine looks a bit not quite right? It is using err() to display errors. This means the error text won't make it to QGC, also I'm not very familiar with err() but from my search results, finding implementation in err.c, this ends up calling exit, which would seem bad? Won't this cause commander to exit? Maybe I don't understand what that does.

[2015-05-19 02:18] kd0aij commented on #2145
**problem still present with latest master**
nsh> ver all
FW git-hash: c06ba047e2ded236b8ce5e17694dfca8b8d6f067
Build datetime: May 18 2015 19:58:49

**cold boot with USB power:**
[code]

**cold boot from battery:**
[code]

[2015-05-19 02:25] kd0aij commented on #2145
@davids5
The startup messges above show that the Flow module is not detected without a 4 second pause when booting from battery.
Do you mean to replace the bootloader in the FMU or the PX4Flow?
There are no instructions for the Flow module... will it require installing a JTAG connector?

[2015-05-19 02:37] kd0aij commented on #2193
What I tried to say above is that you currently don't need to be precisely level when you do "upright regular accel cal" (try it, it's pretty cool).  But if your board rotation does not exactly match one of the available selections, you currently must measure the deviation and manually apply it using the SENS_BOARD_*_OFF parameters. The way I do that is to check whether the artificial horizon indi

[2015-05-19 03:21] davids5 commented on #2145
@kd0aij Thank you. I guess we need to understand the difference between our two systems. Can you sent me your parameters, any diffs to scripts  and a list of what is connected to what io.

I only have debug port, CAN 1 and the px4 flow connected.

I was speaking of the px4flow's bootloader - yes you have to add the connector to use the jtag (I can Send you one if need be)

I'm on a mobile device,

[2015-05-19 04:49] LorenzMeier commented on #2020
@DonLakeFlyer You're right, it doesn't look quite right. It needs to use the MAVLink critical output instead. @tumbili Could you fix that in a PR?

[2015-05-19 05:10] LorenzMeier commented on #2192
@tumbili Could you please resolve this? Thanks!

[2015-05-19 05:11] LorenzMeier commented on #2184
This is fixed, thanks!

[2015-05-19 05:11] #2184 closed

[2015-05-19 05:11] LorenzMeier commented on #2155
@tumbili This is something to resolve today together.

[2015-05-19 05:19] LorenzMeier commented on #2154
@tumbili I've looked at some key params and their descriptions are mostly good and none are in the default group. Moving this to the 2nd beta release.

[2015-05-19 12:23] tumbili commented on #2192
Fixed via #2197

[2015-05-19 12:24] tumbili commented on #2193
Implemented via #2197

[2015-05-19 12:52] #2192 closed

[2015-05-19 12:52] #2193 closed

[2015-05-19 15:03] kd0aij commented on #2145
The only change I've made to startup is to add extras.txt:
[code]
The PX4Flow and external mag are connected via I2C splitter, but behavior is the same with external mag disconnected.
Here is the parameter file: https://copy.com/ZaRALrEZUJqGX6Ow
I hope the bootloader doesn't need to change (or that it can by upgraded over USB), so existing users won't have to buy a JTAG probe and solder a connecto

[2015-05-19 15:10] pkocmoud commented on #2145
Mark, can you query the board for the boot loader version you have?

From: Mark Whitehorn [mailto:notifications@github.com]
Sent: Tuesday, May 19, 2015 10:04 AM
To: PX4/Firmware
Cc: Phillip J. Kocmoud
Subject: Re: [Firmware] PX4Flow not detected on boot (#2145)

The only change I've made to startup is to add extras.txt:

nsh> cat /fs/microsd/etc/extras.txt

# Check for flow sensor

echo "waiting 4

[2015-05-19 15:23] kd0aij commented on #2145
Don't know how to do that...

On Tue, May 19, 2015 at 9:11 AM, pkocmoud <notifications@github.com> wrote:

--
Mark Whitehorn
kd0aij@gmail.com

[2015-05-19 15:36] kd0aij commented on #2145
@davids5 BTW, USB is not connected to my PX4Flow in normal operation, just I2C

[2015-05-19 17:06] DonLakeFlyer commented on #2020
I can fix this up. I want to change the messaging to follow how the other cal text messages work as well. Then I'll do the QGC side of things.

[2015-05-19 17:13] DonLakeFlyer commented on #2020
I think I spoke too soon. I'm not quite sure what to do with the error cases. I assume that if some of those ioctl's fail that you need to reset some state back as well. For example if PWM_SERVO_SET_ARM_OK succeeds but PWM_SERVO_ARM fails I would assume that some sort of ioctl thing must be sent to reset the safety states back to normal?

Also: Is the user supposed to be moving the throttle themse

[2015-05-19 18:47] LorenzMeier commented on #2020
The Firmware doesn't mess with the throttle, instead it tells the actuator to move into the calibration position. From an API perspective that's much more sensible, because actuators not supporting calibration (e.g. UAVCAN) can just ignore it, instead of actually moving their throttle position.

drv_pwm_output.h has all the details you need, e.g. to reset the arm ok flag use PWM_SERVO_CLEAR_ARM_OK

[2015-05-19 19:01] DonLakeFlyer commented on #2020
Ahh, I assume actuator calibration is triggered by: armed.in_esc_calibration_mode = true? Wasn't seeing that since it's not in the calibration routine but outside in commander. I assume it would be ok to move this internal to the calibration routine?

[2015-05-19 19:09] davids5 commented on #2145
@kd0aij
[POWERMOD]
     |
[FMUV2]----i2c---[PX4FLOWV1]
     |_> > - FTDI debug cable (1)
     |_>> - FTDI debug cable (2)

So the only connections at power application are Power Module. PX4FLOW with 12" I2C cable and Arming Switch. Then I add the FTTDI debug cable.

The trace below was with your parameters downloaded from GCS then all USB disconnected
and the FTDI cable unplugged - connect power 6

[2015-05-19 19:29] LorenzMeier commented on #2020
The armed topic gets repeatedly published by the commander, so you would need to take a reference / pointer and update it from there.

[2015-05-19 19:59] kd0aij commented on #2145
the power module is the one that comes with the Pixhawk; I can't see a model number on it.
I'm using both 3S and 4S LiPo packs on this quad, 3S for these tests.
Are you using the latest master PX4Flow firmware aad67ed ?

[2015-05-19 20:54] davids5 commented on #2145
@kd0aij Can you measure the voltage into the PM?

I followed you original setup using GCS and it flashed the board. Not Sure of the version .

But I just built Flow master locally and and downloaded aad67ed, Same behaviour as before.

I am not convinced it is that bootloader. But lets rule it out - Try this:

Option 1) Can you solder? - If So supply the USB V5 (pin1) from the i2c (pin1) with a jum

[2015-05-19 21:39] kd0aij commented on #2145
OK, I've also demonstrated the problem flashing via QGC and make upload.

I'm not sure why connecting USB pin1 to I2C pin1 is of interest, since
there's nothing connected to the Flow's USB port in either test scenario.
In both cases, the Flow is powered via I2C;
But maybe you mean connecting the FMU's USB pin1 to the Flow's I2C pin1...
I'll just check whether I2C power is delayed when booting from

[2015-05-19 21:43] davids5 commented on #2145
@kd0aij are you on Skype? Please call me david_s5

[2015-05-19 23:48] davids5 commented on #2145
[SOLVED] Sort - of

With @kd0aij we have determined that his flow does not skip the 5 seconds of boot delay on his hardware **even when powered off of ONLY i2c**.

We do not know the cause as of yet. It might be an older bootloader.  You can simply determine if you have the issues by powering the Flow only via I2C and observer the orange LED. If it blinks rapidly for ~ 5 Seconds -  the PX4Flow is

[2015-05-19 23:54] davids5 commented on #2001
[[SOLVED] sort of] (https://github.com/PX4/Firmware/issues/2145)

[2015-05-20 06:09] LorenzMeier commented on #2145
@kd0aij A change to the driver would be welcome which exits the start handler with return code 0, tries to connect for 5 seconds and eventually gives up. I don't want to put the sleep solution which holds up the overall boot into master though.

[2015-05-20 07:37] AndreasAntener opened #2202 "Safety switch circuit braker doesn't work if RC signal is not present when booting"
Minor issue, haven't investigated it yet

[2015-05-20 17:17] TSC21 commented on #1986
https://github.com/PX4/Firmware/pull/2200 is the solution for this issue. Will close this now, has it's better to continue any discussion on the PR comment section.

[2015-05-20 17:17] #1986 closed

[2015-05-20 20:26] kd0aij commented on #2145
I'm unable to see the PX4Flow with the BlackMagic probe and gdb "mon swdp_scan" command.
Is the procedure the same as for PX4FMU and IO?

[2015-05-20 23:43] davids5 commented on #2145
Hi @kd0aij

Yes

Here is what I get.
top                                           BOTTOM
[BM]-------CABLE-----------------[PX4FLOW]
 ^Pin 1 (red)------------------------^Pin 1 (red)
[code]

[2015-05-21 02:16] kd0aij commented on #2145
Then I have to conclude there's something wrong with my PX4Flow module, or give up trying to solder JTAG connectors :)  But they work on my FMUv1 and PX4IO boards... 2 out of 3 ain't bad, I guess.

[2015-05-22 06:03] severinleuenberger opened #2214 "SBUS out should deliver the neutral position of servos"
currently the SBUS output begins at the moment, when the vehicle is armed. Before there is just no output at all.
For SBUS Servos this works fine, And they are just quiet until armed. Thats ok.

But for ESC/Motors this is a real issue. And for other things like parachute and LED-Drivers as well.

Therefore; the correct handling on SBUS should be the same as for PWM-Out: Always the neutral Position

[2015-05-22 10:28] LorenzMeier commented on #2155
Given the last tuning session the current state is probably just fine.

[2015-05-22 10:28] #2155 closed

[2015-05-22 10:29] LorenzMeier commented on #946
Kind of done on master

[2015-05-22 10:29] #946 closed

[2015-05-22 10:30] LorenzMeier commented on #2020
@DonLakeFlyer anything we can assist here with?

[2015-05-22 10:33] LorenzMeier commented on #951
@tumbili need a setup video for copter and plane, some time the week after next week.

[2015-05-22 10:48] LorenzMeier opened #2215 "Allow to reverse each PWM channel individually"
Doesn't need GCS support, just the params are ok.

[2015-05-22 12:03] mhkabir commented on #951
I'm happy to help with this however I can :)

[2015-05-22 14:15] TSC21 commented on #1861
mavros is waiting for this message support also: https://github.com/mavlink/mavros/issues/246

[2015-05-23 09:09] LorenzMeier commented on #1861
I'm closing this for now since the current reporting is already decent. We can still improve long term.

[2015-05-23 09:09] #1861 closed

[2015-05-23 09:09] LorenzMeier commented on #2020
@DonLakeFlyer @tumbili Thanks for getting this done!

[2015-05-23 09:09] #2020 closed

[2015-05-24 10:36] LorenzMeier commented on #2148
This is fixed on master. Thanks @kd0aij for your PR, fixed it in a similar fashion.

[2015-05-24 10:36] #2148 closed

[2015-05-24 12:37] nopeppermint commented on #2156
as GPGGA and GPGSV were successful recognized by the ashtech driver and therefore a basic navigation with a RTKLIB GNSS is possible, I am closing this issue.

[2015-05-24 12:37] #2156 closed

[2015-05-24 22:12] AndreasAntener commented on #2030
I finally got a chance to do some fixed wing flights again :)

Tried speed-weight 0 and 1. General feedback: I couldn't really tell a difference in "normal" conditions (5m/s wind excl. gusts) with my FX-61 where I have correct parameters for the airframe (speed max/min/trim). I think I need to do a test where I have more space to observe speed over a greater distance.

Something that I was actuall

[2015-05-25 17:19] bansiesta opened #2229 "pca8574 not compiled"
The pca8574 driver is currently not compiled in but it is nevertheless in the startup script:
https://github.com/PX4/Firmware/blob/2625d3e973d9fcd06474278c5cf5ae2cd70ddeaf/ROMFS/px4fmu_common/init.d/rcS#L104

Is this on purpose?

[2015-05-26 20:10] wangsen1312 opened #2237 "PREFLIGHT FAIL: MAG 0 SELFTEST FAILED"
I have just upgrade the firmware with stable version. Using Qgroundcontrol calibrate all the sensors, it show all green marks, but when I want to arm it,  it shows PREFLIGHT FAIL: MAG 0 SELFTEST FAILED.
Anyone encountered this issue before? can you give me some suggestion?

[2015-05-26 22:52] tubeme commented on #2021
It is VERY VERY important to clear all the mess with the MODE NAMES for the MC and Plane modes. There is one huge change made between APM and PX4 (I dont know when it happened) but as a consequence there is 10 times bigger mess in the forums and internet. Google indexed all kinds of modes with different names as a different idioms, despite they are the same thing people are talking about. I saw pe

[2015-05-26 23:48] #2237 closed

[2015-05-26 23:52] jgoppert opened #2241 "sdlog2 errors after lidar merge"
I'm working on tracking this down. I think we should add a unit test that invokes sdlog2_dump.py on the generated log file from the sitl test for travis.

[2015-05-27 00:04] #2241 closed

[2015-05-27 06:39] tumbili commented on #2021
@tubeme Hi, thanks for the feedback. You have to keep in mind that PX4 does not strictly differentiate between fixed wing and multicopter modes. You could have these completely separate but then you will also duplicate alot of code. I agree that the naming of the modes lead to a lot of confusion in the bast. This is why we are working hard to correctly implement the modes. There is an issue which

[2015-05-27 08:39] AndreasAntener commented on #2202
Behaviour changed now, seems to be fine.

[2015-05-27 08:39] #2202 closed

[2015-05-27 10:42] TSC21 opened #2243 "Create an enum on MAVLink so to define sensor ids"
In a way of getting multi sub/pub working right for multiple rangefinder data sources, I think something like an enum must be defined so each range finder sensor as it's own ID on the Firmware (which will complete the `DISTANCE_SENSOR` msg fields).
I suggest something like `MAV_DISTANCE_SENSOR_ID` enum with the following ID's:
[code]
Anyone that adds a new driver for a range finder can then update

[2015-05-27 11:40] DrTon commented on #2243
This is the most inconsistent and bad part. Why not to simply set id via command line when starting driver?

[2015-05-27 11:42] TSC21 commented on #2243
What do you mean? What about sensors which data is received by MAVLink serial connection? (which is actually possible right now)

[2015-05-27 11:50] TSC21 commented on #2243
We can always reserve an array of values for each type of sensor and impose a condition which doesn't let use the same id for pub/sub - this last one probably is a must.

[2015-05-27 12:01] vooon commented on #2243
How about multiple LidarLite sensors? I think enum for id is a bad thing.

[2015-05-27 12:05] TSC21 commented on #2243
@vooon what about mavros side? What's the rul

[2015-05-27 12:11] vooon commented on #2243
Mavros does mux/demux by id, so user can setup any id to any topic mapping.
FW side may also use id for mux ORB, if it really needed.

[2015-05-27 12:37] tubeme commented on #2021
I understand what you say and I agree. I just had my point. The future will show. I just does not understand how is it the same in ALTCTL when you have centered throttle in MC and 0 throttle in Planes mode? Or in Manual you have stabalized flight in MC vs manual control in Planes mode.

[2015-05-27 12:47] TSC21 commented on #2243
Still we are not setting up rules for sensor ids! And that was the purpose of this issue. As I said, without proper rules, probably we end up having the same id for many sensors. Could be interesting to list which range of ids are set to each type of sensor, I think.

[2015-05-27 13:30] DrTon commented on #2243
No, just need to set ID by hand somewhere or do automatic enumeration, using type is wrong approach and must be avoided. Any rules will just confuse users later. If you want, feel free to add SENSOR_TYPE enum - no problem, but it will be NOT unique sensor ID and useless at this point, IMO.

[2015-05-27 14:07] jgoppert opened #2244 "Level Calibration Not Reliable"
I am still seeing 0.3 g x acc on level ground after doing a level cal. Manually setting BOARD_ROT_Y fixed this for me.

[2015-05-27 14:15] kd0aij commented on #2244
level cal worked ok for me on my f450 quad and Caipi_vtol

[2015-05-27 14:30] tumbili commented on #2244
@jgoppert Could you put the vehicle level and check your euler angles. Can you then check if after the calibration the board offset values are more or less equal to these?

[2015-05-27 14:31] tumbili commented on #2244
@jgoppert And what board rotation do you have?

[2015-05-27 16:21] TSC21 commented on #2243
Why do you say it's useless when we have some estimators depending on multiple sensor sources. In my opinion:
* set by hand - bad;
* set rules - better;
* set automatic enum - good;
* set automatic enum with a range for each sensor (like 1-5 -> mb12xx; 6-10 -> ll40ls) - best approach.

[2015-05-27 16:39] LorenzMeier commented on #2243
An enum doesn't scale. The other sensors use a sensor ID by using the bus and address, which is unique.

What your are suggesting is a sensor type. Much better than the type is providing the properties like min range, max range, update rate and certainty. This is what the consuming algorithm needs to know.

[2015-05-27 16:43] TSC21 commented on #2243
@LorenzMeier how do you suggest organize this properties in a ID list then? Thanks

[2015-05-27 17:19] LorenzMeier commented on #2243
Not at all. I would offer them as individual fields.

[2015-05-27 18:07] TSC21 commented on #2243
But those are already fields of the msg (discarding update rate and certainty). What I'm trying to set here is a way of automatically set the id field of DISTANCE_SENSOR msg but as something with technical meaning, and not randomly set the id.

[2015-05-27 19:07] vooon commented on #2243
@LorenzMeier hmm, its clever just use bus and address as id, but i'm not sure how to prevent conflicts?
At least this method allow auto-configure and do not change over time.

[2015-05-28 10:39] DrTon commented on #2243
It doesn't prevent changing over time. Once you connect one more sensor of the same time somewhere - IDs will change. Actually why you need IDs at all? Estimator should know where sensor points and characteristics pointed by @LorenzMeier. If ID will be automatically assigned and change when reconnecting sensors - no problem. Just need to have unordered set of data topics here IMO. But for debuggin

[2015-05-28 12:14] severinleuenberger opened #2246 "new flight mode "landing" for fixed-wing"
After nearly 6 Month of intense testing of "autoland" I see a great value for autolandings. But not always is a landing plannable by groudnstation.

Therefore a lot of the functions from autoland could be implemented in a "landing" flight-mode.
The main function would be:
- hold the descend angle as declared by FW_LND_ANG
- hold the airspeed as in autoland as triggered by FW_AIRSPD_MIN, MAX, TRIM

[2015-05-29 01:19] LorenzMeier commented on #2215
Fixed.

[2015-05-29 01:19] #2215 closed

[2015-05-29 01:20] LorenzMeier opened #2249 "NuttX HIL (actuator_control output in MAVLink app) not operational on master"
@mcharleb I don't have the details yet, but something is not working as on stable / release_v1.0.0 branches when trying to run HIL.

[2015-05-29 12:29] surberj commented on #2079
We still have the issue that the local altitude is not set to zero before take-off.
In ekf_att_pos_estimator_main.cpp, ~line 840, the _local_pos_z is calculated as:
_local_pos.z = _ekf->states[9] - _baro_ref_offset - _baroAltRef;

Wouldn't it make sense if the estimator itself (states[9]) would be initialized with 0, which involves that the _baroAltRef needs to be subtracted of the measurements in

[2015-05-29 15:05] LorenzMeier commented on #2079
This is the global altitude in NED coordinates. The local altitude will read 0 - did you maybe have no GPS lock in that instance?

[2015-05-29 17:13] mhkabir opened #2255 "LL40LS PWM driver : excess CPU usage"
Reported by @jgoppert in #2096.
I have also confirmed the same issue, although on-bench.

@bansiesta

[2015-05-29 17:16] TSC21 commented on #2255
Confirmed here also!

[2015-05-29 17:17] jgoppert commented on #2255
@bansiesta could you take a look?

[2015-05-31 06:01] #2021 closed

[2015-05-31 06:01] #2022 closed

[2015-05-31 12:18] bansiesta commented on #2255
How do I reproduce this?

This is **without ll40ls running**:

[code]

Then **with ll40ls running**:

[code]

[code]

[2015-05-31 12:26] bansiesta commented on #2065
I believe this is fixed by #2220, closing.

[2015-05-31 12:26] #2065 closed

[2015-05-31 12:34] mhkabir commented on #2255
@bansiesta Try covering the lens of the lidar, which'll cause errors.

[2015-05-31 13:09] bansiesta commented on #2158
I looked at this, and all I see is that std::abs should definitely be in cmath like you assumed. I don't know why this happens.

As a workaround you can always use: ```std::fabs()```

[2015-05-31 13:21] bansiesta commented on #2255
Covered, while it keeps resetting:

[code]

[2015-05-31 13:30] mhkabir commented on #2255
I'm getting around 50% total usage when it's reset-spamming. LPE + EKF
attitude estimator use around 23% together.

P.S Can you change the printf to a warnx for the reset, so that it doesn't
spam the USB console too :)

On Sun, May 31, 2015 at 6:51 PM, Ban Siesta <notifications@github.com>
wrote:

[2015-05-31 13:55] bansiesta commented on #2255
Well, I can't reproduce it. You have to give me instructions, so I have the exact same setup respectively the same processes running.

[2015-05-31 13:57] bansiesta commented on #2072
Is this targeted at mavlink_log_info/critical or warnx/printf?

[2015-05-31 17:24] LorenzMeier commented on #2072
Log info

[2015-06-01 09:41] surberj commented on #2079
Hi Lorenz, we have had GPS lock (between 8 and 10 satellites) and the GPS altitude starts at +410m:
![bildschirmfoto 2015-06-01 um 11 38 54](https://cloud.githubusercontent.com/assets/9253897/7910220/09ef9b4c-0853-11e5-8a1d-bddc3ca28bd5.png)
![bildschirmfoto 2015-06-01 um 11 39 07](https://cloud.githubusercontent.com/assets/9253897/7910221/0a0f57c0-0853-11e5-8d50-75665e50066f.png)

[2015-06-01 20:43] tumbili opened #2262 "Loading params for Linux"
@mcharleb Currently we use px4_open for opening the parameter file which will not work because the file is a real device and not a virtual one. I have changed the calls in my branch but I'm not sure if I should do a PR. Do you want to create a virtual node for it or should I replace all those calls with "open"?

[2015-06-01 20:46] mcharleb commented on #2262
Please make them use ::open now. Initially QuRT didn't support a filesystem
so I was using px4_open and close to get around that.

-Mark

On Mon, Jun 1, 2015 at 1:43 PM, Roman Bapst <notifications@github.com>
wrote:

[2015-06-01 21:03] tumbili commented on #2262
Fixed via #2263, closing

[2015-06-01 21:03] #2262 closed

[2015-06-02 08:11] tumbili opened #2265 "Flashing abort caused loss of all params."

[2015-06-02 08:13] tumbili commented on #2265
Sorry, not true, just radio is not paired anymore for some reason.

[2015-06-02 08:13] #2265 closed

[2015-06-02 08:19] LorenzMeier commented on #945
Thread for this:
https://groups.google.com/forum/#!topic/px4users/_ZcCKY_7OD0

[2015-06-02 08:19] #945 closed

[2015-06-02 09:08] LorenzMeier commented on #2079
Maybe this is a plotting problem? Does the LPOS_Z altitude overlap with yellow or not?

[2015-06-02 09:16] surberj commented on #2079
It is not only a plotting problem - they overlap. The LPOS_Z alone looks like:
![bildschirmfoto 2015-06-02 um 11 11 27](https://cloud.githubusercontent.com/assets/9253897/7932381/2bb3db9c-0918-11e5-8fb9-7bdd4c2f5cc5.png)

By the way: The problem also occurs when we do not have GPS connection. It seems as if the offset _baroAltRef does not capture the "real" offset of the Baro.

[2015-06-03 12:53] dogmaphobic commented on #2106
Ok, going through my list of *flagged message to look later*, I bumped into this. Right off the bat, mavlink_rc_channels_t.rssi is always zero (firmware *stable* and *master*). I have the RSSI signal off the RX8 going into the Pixhawk's SBUS input (pin 103?).

With that said, should these below be set to something specific?

![screen shot 2015-06-03 at 8 50 19 am](https://cloud.githubusercontent.c

[2015-06-03 13:27] LorenzMeier commented on #2106
That is for RSSI via PWM on a PPM stream (a radio channel, in this case the first one). Not for the analog one that you're using or a plain PWM channel. The issue you're facing is a bug, not a config issue (or the default config is bad)

[2015-06-03 13:29] dogmaphobic commented on #2106
Anything specific I should try/do?

[2015-06-03 13:33] LorenzMeier commented on #2243
Closing this for now - please send a PR against mavlink with a sensor message spec as discussed in case you want to proceed with this. Thanks all for the discussion!

[2015-06-03 13:33] #2243 closed

[2015-06-03 13:33] LorenzMeier commented on #2244
@jgoppert Can't replica this. Will close this unless we get more feedback.

[2015-06-03 13:34] LorenzMeier commented on #2115
Did you end up increasing the output rate?

[2015-06-03 13:35] LorenzMeier commented on #2079
@surberj Would you have time to dive into the estimator and work out where the initialisation goes wrong?

[2015-06-03 13:43] LorenzMeier commented on #2106
Run ```px4io status``` and look for either RSSI_PWM or RSSI_ADC. If you don't get the ADC flag its a config issue to be solved.

If its not config, the most likely issue is in this file, maybe in the init or math here:
https://github.com/PX4/Firmware/blob/master/src/modules/px4iofirmware/controls.c#L187-L199

Also maybe put a printf here and make sure we don't enter the condition by default:
https

[2015-06-03 14:58] dogmaphobic commented on #2106
Sorry but this is all new territory for me. I've added some printfs here and there to check some values (and to see if some portions of the code run at all) but I do not know where the output of those printfs are going to. They don't show up at the *nsh* console.

For what's worth, here is the output of ```px4io status``` (with the radio connected):

[code]

When I turn the radio off, the ADC valu

[2015-06-03 15:07] dogmaphobic commented on #2106
Found it. By default it goes to /dev/null. Running it manually now.

[2015-06-03 16:21] jgoppert commented on #2244
OK
On Jun 3, 2015 9:34 AM, "Lorenz Meier" <notifications@github.com> wrote:

[2015-06-03 17:41] bansiesta commented on #2255
I'm closing this for now. Please re-open if needed.

[2015-06-03 19:14] TSC21 commented on #2243
@LorenzMeier I want to proceed but I'm still not sure of how we are going to set the id's. And if we are to let them be set automatically, are they ordered on unordered and what sets that order.

[2015-06-03 20:30] dogmaphobic commented on #2106
Sorry, got busy with something else. Back at this. I'm looking at the code that reads the ADC, scales and low passes the value. The math seems wrong and the filter has no history to compute from (rssi is not static and it's always reset to 0 on function entry).

The (unfiltered) code should be something like:
[code]
The low pass filter should be computed for *counts*, and then fed through the scal

[2015-06-03 20:39] LorenzMeier commented on #2106
That makes a lot of sense - could you try one order of magnitude larger coeffifiencients, something like 0.999f and 0.001f? Would be worth to experiment to see how long it takes to decay if you shield the receiver.

[2015-06-03 20:41] jgoppert commented on #2255
@bansiesta Please try against the estimator here(https://github.com/PX4/Firmware/pull/2096), you can enable it by setting LPE_ENABLED = 1.

Currently this estimator does not limit the data rate, maybe it is publishing faster than 10 Hz and using a lot of CPU?

[2015-06-03 20:54] surberj commented on #2079
Yes, I'll investigate in that. I can start with it tomorrow.

[2015-06-03 21:45] edkoch commented on #2244
I don't know if the issue I am seeing is the same as what has been reported here, but as I mentioned in the dev call the other day I am not able to keep a level calibration on my quad for very long. I am using the latest QGC and when I both calibrate the gyro and do the new level horizon calibration the level looks great as can be seen in the enclosed image, but after flying once or twice it gets

[2015-06-03 21:52] tumbili commented on #2244
@edkoch How is your Pixhawk attached to the frame? Any chance that it could move?

[2015-06-03 21:55] tumbili commented on #2244
@edkoch I don't want to start speculating but I remember to have had a similar issue with a Pixhawk with damaged sensors.

[2015-06-03 21:58] edkoch commented on #2244
My platform is a 3DR X8 and I have not changed the Pixhawk mounting. It uses double sided foam tape so I guess it is a little pliable, but it should remain consistent from flight to flight. I have also been wondering if there could be a HW problem. I actually have a few Pixhawks on hand so I’ll swap it out and see if the problem persists.

-ed

[2015-06-03 21:59] tumbili commented on #2244
@edkoch Yes, please do so!

[2015-06-04 04:46] dogmaphobic commented on #2106
Ugh... Before I go crazy here (busted my cheap Chinese logic analyzer in the process), is there another way to read these (pseudo) PWM RSSI signals? This PWM -> ADC doesn't seem feasible based solely on software. I mean "pseudo" PWM because though the X8R specs says it's a PWM signal with a 1ms cycle and a ratio of 1%~99%, I could not see that on the bench. On my ancient scope, it looked more like

[2015-06-04 07:16] LorenzMeier commented on #2106
You could set up a proper PWM input capture for that, but I'm out of bandwidth to do that. I will put your fix into place for now.

[2015-06-04 16:46] LorenzMeier commented on #2106
Ok, fix pushed. I'm closing this since the remaining work would be to improve the PWM RSSI input capture, but the basic functionality is there and the stronger lowpass will help to get a more reasonable reading.

[2015-06-04 16:46] #2106 closed

[2015-06-04 20:04] bansiesta commented on #2255
I flashed #2096, set LPE_ENABLED 1 and SYS_AUTOSTART 4011:

I see the following in top (independent of ll40ls reseting):

[code]

[2015-06-04 20:41] LorenzMeier opened #2275 "If the mission does get rejected initially, the fixed mission is still never executed"
Try by setting the first waypoint too far initially, then move it closer. It still will never accept it.

[2015-06-04 20:41] LorenzMeier opened #2276 "After the last mission item the system is not flicking into loiter, but just continues forever"
Try by executing a short mission, it will continue on the course of the last waypoint.

[2015-06-04 20:43] LorenzMeier opened #2278 "The L1 controller is useless if its L1 distance is not used as the switching distance between waypoints"
We need to switch on min(L1 distance, waypoint switch distance) to get proper L1 smoothing and no waypoint overshoot.

[2015-06-04 21:49] LorenzMeier opened #2279 "Fix yaw limiting in new mixer"
Currently we can have the situation that the mixer goes into failsafe mode and gives up on yaw when exceeding its possible spread. While that is the right fail-safe strategy, its not great for manual acrobatic flying.

[2015-06-04 22:12] LorenzMeier commented on #2279
@tumbili This here does not look correct - the comment says it scales yaw, but in fact the math there replaces the commanded yaw entirely, not taking the original yaw demand into account:
https://github.com/PX4/Firmware/blob/master/src/modules/systemlib/mixer/mixer_multirotor.cpp#L306-L320

We probably should also retain some yaw demand, e.g. scale down the demand up until some threshold, e.g. 0.1

[2015-06-04 22:43] LorenzMeier opened #2280 "Cross-check (and fix, if required) local altitude waypoints"
Local altitude waypoints should be relative to the home (arming) position. We should just check that they still work as they used to.

[2015-06-04 22:45] tumbili commented on #2279
@LorenzMeier No I don't think so. Just above you see that yaw is mixed in. Now if we see that the mixing in of yaw caused our output to violate bounds we just just the yaw which will lead to the output being on the bound. You don't need to yaw command anymore for that.

[2015-06-04 22:47] LorenzMeier commented on #2279
So in other words it subtracts a scaled yaw? In that case we would just need to limit the subtracted quantity so that it doesn't subtract so much that we loose all yaw authority. I have no idea about the right magic number for this though, nor do I have a better / solid idea not involving magic numbers.

[2015-06-04 22:53] tumbili commented on #2279
The math is like this (I left away the scales):

out = R + P + thrust + Y -> e.g out is negative now

we want out to be exactly 0 not negative, so we set it to 0 and solve for Yaw:

Y = - (R + P + thrust)

[2015-06-04 22:57] tumbili commented on #2279
I think for full thrust the case is clear: we have to dedicate some thrust to yaw control, meaning that if the user wants to go full thrust up and yawing at the same time he will have to give some thrust away to yawing. But for the rest I would say we should leave it as is.

[2015-06-04 23:14] LorenzMeier commented on #2279
The problem is that users who fly full throttle and pitch forward loose yaw control. That's absolutely deadly during manual flying, so we have to fix that.

[2015-06-04 23:26] LorenzMeier opened #2281 "Takeoff detection on fixed wing: Make detector more robust"
The current approach can lead to a flurry of false detections:

[code]

[2015-06-04 23:31] LorenzMeier opened #2282 "Pace the output of mode rejection messages"
Mode rejection like the auto rejected message should not spam the user.

[2015-06-05 06:42] tumbili commented on #2275
@LorenzMeier I rather have the problem that it always accepts it.

[2015-06-05 06:51] tumbili commented on #2275
@LorenzMeier Do you agree that we should move the check to the mission feasibility check?

[2015-06-05 07:10] LorenzMeier commented on #2275
Yes, that makes sense.

[2015-06-05 07:13] tumbili commented on #2275
@LorenzMeier Actually not, because the home distance is not know a priori.

[2015-06-05 07:22] tumbili commented on #2275
@LorenzMeier I'm just rebuilding QGC, it won't let me send commands.

[2015-06-05 07:22] tumbili commented on #2275
But I tested on the other pc and it seems to work there. Couldn't yet reproduce the problem.

[2015-06-05 07:28] tumbili commented on #2275
Works for me. I first set the waypoint far away and it complained. Moving the waypoint close enough made it accept the mission.

[2015-06-05 07:31] LorenzMeier commented on #2275
Was it already flying then?

[2015-06-05 07:32] tumbili commented on #2275
No. There is no difference between fw and mc right?

[2015-06-05 07:32] tumbili commented on #2275
I'm testing mc with jMAVSim.

[2015-06-05 07:34] tumbili commented on #2275
What were you testing on?

[2015-06-05 07:41] LorenzMeier commented on #2275
HIL on fixed wing. I can't reproduce either right now, so closing this. Sorry for the confusion!

[2015-06-05 07:42] tumbili commented on #2276
Trying this one now with fw

[2015-06-05 07:48] LorenzMeier commented on #2275
Ok, got it. This is after a jump in position in HIL. Looks like the auto mode is suffering from some sort of NaN state that never gets reset.

[2015-06-05 07:53] tumbili commented on #2276
@LorenzMeier Also can't reproduce this one, plane is circling nicely around last waypoint.

[2015-06-05 07:55] tumbili commented on #2275
@LorenzMeier What do you mean by jump in position?

[2015-06-05 13:18] kd0aij commented on #2276
Tried my first auto WP mission yesterday using QGC to set waypoints at the field, instead of preprogramming them at home. Altitude setting worked correctly this time, but since I had only partial map data (my phone battery runs down before the QGC map fills in, and QGC doesn't seem to do any caching) I had to place the WPs "in the blind". And I didn't know whether to expect a loiter at the 2nd (la

[2015-06-05 14:59] Royalcheese opened #2284 "Question about MC_POS_CONTROL"
Hello everyone,
I'm working with px4 on a quadcopter, with ROS, MAVROS, ODROID, OPTITRACK, OFFBOARD and indoor.
For simulation, i'm sending a stream of setpoint (x,y,z)=(0,0,0.5), and a mocap position (x,y,z) = (0,0,cos(t)) ;

I would like to understand how does work mc_pos_control in order to understand thrust output we can get on QGC. I'm using raw code and the paper "minimum snap trajectory gen

[2015-06-05 15:57] kd0aij opened #2285 "Selecting a HIL airframe via QGC results in inability to arm"
Even though the commander module appears not to require success of the sensor preflight check, one is forced to perform sensor calibration in order to arm.

[2015-06-05 16:10] kd0aij opened #2286 "Add ability to load/save parameter subsets to a file."
This is a feature request. It would facilitate sharing parameters between users and airframes, and make initial setup easier and less error-prone.

[2015-06-05 16:16] LorenzMeier commented on #2285
I can't confirm this - I'm arming all the time with a failing prearm check.

[2015-06-05 16:20] kd0aij commented on #2285
Strange. Here's what my console shows when I try to arm from QGC's HIL screen:

[code]

and QGC says it's disarmed... I assume QGC shows your system armed.

[2015-06-05 16:22] LorenzMeier commented on #2285
Have you started the HIL mode at this point? Does it report being in HIL?

[2015-06-05 16:26] kd0aij commented on #2285
[code]

[2015-06-05 16:29] kd0aij commented on #2285
After pressing the Arm button:
![screenshot from 2015-06-05 10 28 14](https://cloud.githubusercontent.com/assets/2300221/8010470/a507ef04-0b6d-11e5-9997-cfc1002dc3f5.png)

[2015-06-05 16:34] LorenzMeier commented on #2285
You're not in HIL mode. You also can't switch to HIL if you already armed. So the issue is really that you need first to enter HIL mode, then try to arm. The safety checks wouldn't you let perform the steps in the order you're trying anyway.

[2015-06-05 16:35] LorenzMeier commented on #2285
And the arm button doesn't exist ;-). Its the safety button, and you need to arm after you disengaged the safety.

[2015-06-05 16:36] kd0aij commented on #2285
I meant the "Arm System" button, which is what I meant by "arm from QGC's HIL screen"

[2015-06-05 16:36] kd0aij commented on #2285
and I've been using HIL for more than a year now...

[2015-06-05 16:38] LorenzMeier commented on #2285
You need to be in HIL, and you're not on your screenshot - could you show the output of the system when you're in HIL and try to arm?
I just killed my sensor calibration to test this and could arm.

[2015-06-05 16:39] kd0aij commented on #2285
please explain how I would "get into HIL mode"

[2015-06-05 16:41] LorenzMeier commented on #2285
Connect to the simulator, which will trigger the state switch to HIL. I'm not sure why you would try to arm the system without being connected to the simulator and having the simulation state loaded in the system?

[2015-06-05 16:49] kd0aij commented on #2285
Right. Yesterday, I was following the normal procedure of starting Xplane9, connecting from QGC, then attempting to arm the system. Today I tried to shortcut the process, since I thought that arming was independent of the simulator. And, of course, all those failure messages give a strong expectation that something is wrong.

This time, after restarting everything, QGC crashed when I tried to conn

[2015-06-05 17:07] kd0aij commented on #2285
OK, on the second complete restart everything went smoothly, except for the preflight fail messages on the console. Perhaps this was all due to problems with the connection from QGC to sim, or a perception that the failure messages were showstoppers.

Thanks for the enlightenment :)

[2015-06-05 17:07] #2285 closed

[2015-06-05 17:18] LorenzMeier commented on #2285
I've filed this: https://github.com/mavlink/qgroundcontrol/issues/1644 I will also check if I can enable the preflight circuit breakers for the HIL config to not confuse developers.

[2015-06-05 21:21] kd0aij commented on #2284
just in answer to your question about "emult": right clicking on that name in Eclipse and choosing "open declaration" takes you to line 286 of Vector.hpp in src/lib/mathlib/math.

[2015-06-05 21:29] kd0aij commented on #1174
outdoor test of POSCTL with flow yesterday with release_v1.0.0 failed; need to check whether this only works in master

[2015-06-05 22:15] tumbili commented on #2284
@Royalcheese Hi
_vel_sp = pos_err.emult(_params.pos_p) + _vel_ff;

This is a cascaded control system. The outer loop computes position error based on estimator position and desired position. The error of the outer loop gives  you the setpoint for the inner velocity loop. You can think of this "pos_err.emult(_params.pos_p)" as taking a derivative of a position value which will give you velocity. Th

[2015-06-06 01:17] DonLakeFlyer commented on #2286
You can load parameter subsets fine. Just delete what you don't want from the file and load it. Saving a subset seems like a really low pro thing.

[2015-06-06 02:15] kd0aij commented on #2286
Thanks, it was not apparent to me that one could hack the parameter file
with impunity.

On Fri, Jun 5, 2015 at 7:17 PM, Don Gagne <notifications@github.com> wrote:

--
Mark Whitehorn
kd0aij@gmail.com

[2015-06-06 16:06] LorenzMeier commented on #2281
Fixed on release branch.

[2015-06-06 16:06] #2281 closed

[2015-06-06 16:08] LorenzMeier opened #2291 "Detect and deal with NaN values in EKF altitude due to HIL state jumps"

[2015-06-06 16:08] LorenzMeier commented on #2286
I will close this, but if you find a good place in the docs to add a clear hint it would be appreciated.

[2015-06-06 16:08] #2286 closed

[2015-06-06 16:09] LorenzMeier commented on #2276
Thanks Mark! I traced this back to my HIL setup generating NaN states in the system. Need a better detector: https://github.com/PX4/Firmware/issues/2291

[2015-06-06 16:09] #2276 closed

[2015-06-06 16:09] LorenzMeier commented on #2275
I traced this back to my HIL setup generating NaN states in the system. Need a better detector: https://github.com/PX4/Firmware/issues/2291

[2015-06-06 16:09] #2275 closed

[2015-06-06 16:11] LorenzMeier commented on #2278
Dealing with this in https://github.com/PX4/Firmware/pull/2292

[2015-06-06 17:55] LorenzMeier opened #2294 "Test all compilers in Travis which are allowed in the makefile"
Currently we're not testing all supported compilers in Travis. Current issue to be addressed:

[code]

[2015-06-06 17:56] LorenzMeier commented on #2294
@pavel-kirienko @davids5 It would be great if you could have a look at the error message above.

[2015-06-06 18:36] pavel-kirienko commented on #2294
What compiler produced this error?

[2015-06-06 18:42] kd0aij commented on #2294
arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors) 4.7.4 20140401 (release) [ARM/embedded-4_7-branch revision 209195]

[2015-06-06 21:08] pavel-kirienko commented on #2294
Fixed in master.

[2015-06-07 13:37] kd0aij commented on #2276
@LorenzMeier I just noticed that the Q attitude estimator is not an option for FW platforms. Is it not compatible with the FW apps?

[2015-06-07 14:24] TSC21 opened #2297 "No LIDAR Lite data through `DISTANCE_SENSOR` msg in QGC"
Guys I'm not being able to get LIDAR Lite data through `DISTANCE_SENSOR` message in QGC in any way. I confirmed that the driver is working and publishing data, but can't get that data to be received by Mavlink msg in QGC. From PX4Flow sonar, in the other hand, I can receive `DISTANCE_SENSOR` msg with data when this one is connected.

Can anyone reproduce this problem or give a solution to this? I

[2015-06-07 14:59] mhkabir commented on #2297
Yes. I have noticed this from the beginning.

When two at connected, only data from the sensor which bags the topic is coming through (i.e The driver which starts first)

We need a multi-sub in the mavlink message with subscription handles to 2 instance IDs for this to work, I think. (we should see alternating messages in QGC then)

[2015-06-07 15:02] mhkabir commented on #2297
By default, the normal orb_subscribe sets instance ID to zero, iirc, hence the Lidar data shouldn't be coming through in QGC even when its is only connected.

I'm unable to test the above hypothesis since my wiring is deep routed and I cannot  disconnect the Flow module.

Edit :  I *could* disable the flow driver startup which should prove my guess.

[2015-06-07 15:03] TSC21 commented on #2297
@mhkabir the problem is not just that. I'm aware that multi-sub is not working but the thing here is just that LIDARLite is now the only ranger I have connected and I can't get a `DISTANCE_SENSOR` msg received on QGC. Don't know what is happening, cause I think it was working in the first driver+`DISTANCE_SENSOR` support implementation.

[2015-06-07 15:05] TSC21 commented on #2297
Since it is the only one connected, it should work since when I have only LIDAR Lite connected I get `rangefinder0` when issuing `ls /dev`.

[2015-06-07 15:06] mhkabir commented on #2297
I'm pretty sure it wasn't. The instance ID is set to 1 in the lidar driver, which mavlink sender shouldn't even subscribe to, the way its done currently.

[2015-06-07 15:07] TSC21 commented on #2297
I tried some other stuff like setting an instance here: https://github.com/PX4/Firmware/blob/master/src/modules/mavlink/mavlink_messages.cpp#L2219 but it didn't help.

[2015-06-07 15:09] TSC21 commented on #2297
Also, in the new implementation of @jgoppert PR of LPE, I set https://github.com/PX4/Firmware/blob/master/src/modules/mavlink/mavlink_messages.cpp#L2234 to `msg.id = dist_sensor.id;`

[2015-06-07 15:13] TSC21 commented on #2297
Are you sure? Where is that defined in the default code?

[2015-06-07 15:29] mhkabir commented on #2297
Oh wait. Hmm. When I say ID I mean the ID which uORB assigns to the topic.
Then it should be according to order the drivers start up. Instance ID in the topic is different from what I mean.

[2015-06-07 15:41] jgoppert commented on #2255
I can no longer reproduce the cpu usage either. Can anyone else verify this is fixed for the LPE branch now? @mhkabir, @TSC21

[2015-06-07 15:47] taogashi opened #2298 "what to do for nonlinear actuators"
Hi all, I think the current mixer in PX4 handles linear or quasi-linear actuator only, what if those actuators with strong nonlinearity?  If I implement a nonlinear function to map the mixer's output, where should I apply it? Thanks.

[2015-06-07 19:02] AndreasAntener opened #2299 "Difficulties with yawrate to lock heading hold"
@LorenzMeier, @tumbili
Here's a log from todays flight: http://dash.oznet.ch/view/TcrueUA3R433rTXvWn3vKB
(latest release_v1.0.0 merged with the osd branch)

Yawrate changes a lot during the flight, so it switched always in and out of heading hold (while always in posctl). That caused the heading to converge to 0. Same as I saw in HIL

My yawrate is oscillating a lot, I'm not sure if you can set th

[2015-06-07 19:40] tumbili commented on #2299
@AndreasAntener Yeah I'm stupid, I implemented it the wrong way. I'm fixing it.

[2015-06-07 19:56] LorenzMeier commented on #2276
Right now its not. It would need additional interfacing, e.g. airspeed to the inav estimator first.

[2015-06-07 20:30] tumbili commented on #2299
@AndreasAntener Hope this fixed it https://github.com/PX4/Firmware/pull/2300

[2015-06-07 21:21] AndreasAntener commented on #2299
Cool :) going to try it soon

[2015-06-08 09:23] Royalcheese commented on #2284
Ok, first thank you a lot for answers  @tumbili  @kd0aij  !
So pos_p parameter can be assumed as  a vector of s-1 dimension ?
I think I understand better understand how it does work now thank you !

[2015-06-08 10:35] tumbili commented on #2279
@LorenzMeier I just did I flight where I allow to give 0.15 thrust away to yaw. Was able to do full thrust pitch forward, yaw tracked well. However, to change yaw during full thrust is not possible since 15 % is too little.

[2015-06-08 10:42] tumbili commented on #2279
Here is the log  http://dash.oznet.ch/view/devkueALTqXyBCghqhueyV

[2015-06-08 10:44] tumbili commented on #2279
@LorenzMeier If you use flightplot and look at the motor outputs at 233s you can see very nicely what the mixer does.

[2015-06-08 10:45] LorenzMeier commented on #2279
Is it not possible to change yaw or does it loose the yaw tracking? I think no change is fine, but it shouldn't loose the yaw angle.

[2015-06-08 10:52] tumbili commented on #2279
@LorenzMeier It does not loose it (although the tracking could be a bit better). I'm going to  play with this param. In one extreme case I will set it high so if you apply full thrust and yaw you should get a low thrust value and see it yawing (commanded). We will have to agree on a value which makes sense.

[2015-06-08 10:58] tumbili commented on #2279
![mixer](https://cloud.githubusercontent.com/assets/7610489/8033361/0a7ebdf0-0dde-11e5-85be-3d59bee069cb.png)

[2015-06-08 10:59] tumbili commented on #2279
Notice the spike in the motor outputs at 233s

[2015-06-08 13:01] kd0aij commented on #2299
@AndreasAntener I tested POSCTL on my Ninox flying wing yesterday, and it seemed to work correctly. I had made one small change: #2301 Perhaps there is less tail wag with my plane (how can you wag your tail if you don't have one? call it yaw oscillation :)

![ninox_yaw](https://cloud.githubusercontent.com/assets/2300221/8035229/f381edd4-0dab-11e5-8384-7abc7996e6f2.png)

[2015-06-08 13:10] surberj commented on #2079
It looks as if the problem can be resolved by subtracting _baroAltRef from the baro measurements and initializing the estimator (states[9]) with zero.

I'll continue some testings on our platform and open a pull request on the repo wingtra/Firmware as soon as I am confident about the solution.

[2015-06-08 13:15] LorenzMeier commented on #2079
I have a fix in the l1_fix branch. It had more considerations that needed to be taken of.

[2015-06-08 13:26] LorenzMeier commented on #2279
@tumbili Where is the branch / PR for this?

[2015-06-08 13:28] surberj commented on #2079
Do you refer to the fix with the new function
void AttitudePositionEstimatorEKF::initReferencePosition(hrt_abstime timestamp,
	double lat, double lon, float gps_alt, float baro_alt)
on the branch l1_fix?

If yes, did you already test it? Do you know already when this will be merged into master? If the issue is resolved with that fix I do not have to investigate further in it I assume?

[2015-06-08 13:30] tumbili commented on #2279
@LorenzMeier Oh, forgot to push it. Just going for another test flight (removing position controller carrot approach and then will push everything)

[2015-06-08 13:49] LorenzMeier commented on #2079
Yes. Should be in master quite soon, depends mostly on testing bandwidth

[2015-06-08 13:56] surberj commented on #2079
Ok, thanks!

[2015-06-08 14:00] AndreasAntener commented on #2299
;) I know my FX-61 oscillates in yaw quite a bit after turns..

Hm, if I look at your yaw rate, you should have experienced the same problem as me..

[2015-06-08 14:06] LorenzMeier opened #2304 "Waypoint manager list transmission picks wrong alternate storage on first readback"

[2015-06-08 14:06] kd0aij commented on #2299
you're right; added yawrate to my plot. Same magnitude as yours; +/-0.5 rad/sec
![ninox_yawrate](https://cloud.githubusercontent.com/assets/2300221/8036468/3ef1c718-0db5-11e5-8b99-b6c1ebe98b8b.png)

[2015-06-08 14:09] tumbili commented on #2299
@kd0aij @AndreasAntener Well with the fix I pushed today it shouldn't matter anyway. As long as your yawrate comes close to zero at some point everything is fine. (should be :-))

[2015-06-08 14:19] LorenzMeier commented on #2291
Handled.

[2015-06-08 14:19] #2291 closed

[2015-06-08 14:44] LorenzMeier commented on #2279
Addressed in b571d704883d850242b879d02b86fcb6907941e6.

[2015-06-08 14:49] LorenzMeier commented on #2280
Turned out to be a HIL artefact combined with a button-arming related missing home set action. All resolved in l1_fix branch: #2292.

[2015-06-08 14:49] #2280 closed

[2015-06-08 14:49] tumbili commented on #2298
@taogashi The mixer is define here https://github.com/PX4/Firmware/blob/master/src/modules/systemlib/mixer/mixer_multirotor.cpp
Probably the easiest way would be to modify the desired moments and thrust for the axes. Then you don't need to change the entire mixer.
https://github.com/PX4/Firmware/blob/master/src/modules/systemlib/mixer/mixer_multirotor.cpp#L214

[2015-06-08 14:50] LorenzMeier commented on #2278
Superseded by #2292, which is now attached to this milestone.

[2015-06-08 14:50] #2278 closed

[2015-06-08 18:17] tumbili opened #2307 "FW manual control actuator sensitivity param"
In aircraft capable of generating large control throws (e.g. 3D fixed wing aircraft), it is normal to setup the RC TX with "dual rates" with low rates normal for takeoff and landing. But, when flying in stabilized modes, the autopilot maps 100% input to maximum roll and pitch angles. This necessitates switching to high rates for normal stabilized flight, if the programmed maximum angles are to be

[2015-06-08 19:19] tumbili opened #2308 "FW Loiter Radius not working?"
http://dash.oznet.ch/view/Ygp8Hg78EniX7oRfS8kcZM

[2015-06-08 19:23] LorenzMeier commented on #2308
Its not the loiter radius - there is more to it. Either on this airframe or in general - the roll angle is completely ignoring the roll setpoint:
http://dash.oznet.ch/view/Ygp8Hg78EniX7oRfS8kcZM#AS_Roll_PLOT

[2015-06-08 19:59] kd0aij commented on #2308
Looks like the setpoint maxes out at about 45 degrees, and actual roll is a little less.
Is there a gain parameter which would increase the commanded roll angle?

[2015-06-09 02:01] taogashi commented on #2298
Thanks @tumbili , it seems to be a clean solution.

[2015-06-09 03:03] kd0aij opened #2309 "PX4Flow POSCTL no longer working in RC11"
My F450 quad with PX4Flow is no longer holding position (outdoors with GPS and flow). Flow data is present and quality is high, but position doesn't track the setpoint at all. Altitude hold is very good though in the 1 to 3 meter AGL range. Recalibrating the magnetometer did not improve behavior.
Log: http://dash.oznet.ch/view/oLG4ezAyzewqiNzRn8uLWU

Could this be due to a broken configuration due

[2015-06-09 06:23] tumbili commented on #2309
@kd0aij I can give POSCTRL a try today, without flow although. I assume you are using the release branch?

[2015-06-09 12:44] kd0aij commented on #2309
I used the RC11 tag for this flight. Comparing the log with that from 4 June, I notice that mainstate was 3 before in POSCTL, and in this flight it is 2. Could it be that the flight mode changes in the firmware have broken my configuration? I thought I looked at the flight modes on the bench; definitely verified that I have acro mode now (it works as expected), but maybe I didn't verify that ALTCT

[2015-06-09 13:09] kd0aij commented on #2309
Just verified on the bench in QGC that mode switching is working properly; ALTCTL/POSCTL are correctly announced by the TX, as are auto/mission/loiter/rtl. Also manual/acro is working.
BTW, I did some full throttle testing in this flight, and there was never a hint of instability. Also did manual mode descents with no (or very little) wobble.

[2015-06-09 13:15] LorenzMeier commented on #2309
We didn't change anything on the flag handling side, and the fact that GPS continues to work is confusing. It would warrant a code inspection in the multicopter pos controller.

[2015-06-09 13:22] kd0aij commented on #2309
I'll reflash with commit 0c0500 and see if it works again

[2015-06-09 13:25] Royalcheese commented on #2284
Sorry for modifying the precedent comment

[2015-06-09 18:16] kd0aij commented on #2309
same behavior with the previously working commit 0c0500. Seems like the problem must be compass calibration or rotation. But hmc5883 test reports external compass, heading looks good in QGC and recalibrating the compass didn't change anything. Not sure where else to look; what else could have caused POSCTL to break completely? It still looks like the position controller is commanding motion in the

[2015-06-09 22:25] TSC21 opened #2313 "VICON_POSITION_ESTIMATE vs ATT_POS_MOCAP"
Right now I think we have two messages that serve the same purpose. If one wants to add support for one of this messages (I'm aware that `vicon_position_estimate` can already be handled in the mavlink receiver but `att_pos_mocap` can't) in the estimators, for which one should one move to? Shouldn't one of those be removed?

According to the current implementation, `att_pos_mocap` should fit better

[2015-06-09 23:47] jgoppert commented on #2297
@TSC21 try with latest LPE, I have it working.

[2015-06-09 23:52] TSC21 commented on #2297
@jgoppert you got msg in QGC with LIDAR data?

[2015-06-10 00:15] jgoppert commented on #2297
Yes.

[2015-06-10 00:17] TSC21 commented on #2297
Hmm ok I will test when possible. What did you change so it could work?

[2015-06-10 01:41] jgoppert commented on #2297
I set the subscription identifier to 1 in LPE. Also make sure you have the servo rail powered with a battery for the lidar.

[2015-06-10 10:10] devbharat opened #2315 "set_nav_state() implementation looks fishy"
In the file

https://github.com/PX4/Firmware/blob/master/src/modules/commander/state_machine_helper.cpp

in the implementation of bool set_nav_state(), there is a cascaded switch-case statement with the same expression (status->main_state) as the expression of the outer switch-case statement. Line 538 and 558.

    switch (status->main_state) {
        case vehicle_status_s::MAIN_STATE_ACRO:

[2015-06-10 10:59] LorenzMeier opened #2316 "Build POSIX port with LLVM linker"
Currently the build / param system uses flags which are supported by the GNU linker (GOLD), but not by the LLVM linker. Since "pure" LLVM builds, e.g. on Mac OS, do not support GOLD, we need to find a more standard approach for params to get rid of the section commands LLVM does not understand.

[2015-06-10 11:02] LorenzMeier commented on #2316
@mcharleb This is of medium priority. Its not very relevant as long as we're not trying to roll out to the general development community. Once we do try to, however, its something that we need to resolve. Ultimately it depends on historic architectural decisions so its kind of my problem, but I would appreciate any help / support you can provide on this one.

[2015-06-10 11:02] LorenzMeier commented on #2316
Also please file issues for other architectural limitations that you might have found and assign them to the Linux port milestone.

[2015-06-10 11:04] LorenzMeier commented on #2313
Please use att_pos_mocap as suggested and remove vicon message support in the process.

[2015-06-10 11:05] LorenzMeier commented on #2308
I'm closing this, since its not really an issue but a logging / plotting / gain tuning thing which confused us.

[2015-06-10 11:05] #2308 closed

[2015-06-10 11:06] LorenzMeier commented on #2307
How about just recommending expo in general on the transmitter? That together with a default max angle of 55 degrees for attitude control should pretty much fix all the issues.

[2015-06-10 11:17] TSC21 commented on #2297
Yes that I always had.

You mean that setting a subscription in a module sets the Mavlink stream? That's new to me xD Will try when I have the vehicle with me.

[2015-06-10 12:31] jgoppert commented on #2297
In the driver it was set to instance 1, so had to set the instance to 1 in
the sub. But now after syncing with master, had to set it back to 0. Never
had a problem seing it in qgc though.
On Jun 10, 2015 7:17 AM, "TSC21" <notifications@github.com> wrote:

[2015-06-10 12:40] TSC21 commented on #2297
hmm.. what do you have in your `rc.usb` and `extras.txt` files?

[2015-06-10 13:46] davids5 commented on #2249
check cxx_initalizers

[2015-06-10 13:51] kd0aij commented on #2307
oops, I edited the first comment (description), not realizing it would still be blamed on @tumbili
@LorenzMeier Regarding expo, I use it for both high and low rates on my 3D aircraft... expo doesn't eliminate the need (desire?) for low rates

[2015-06-10 14:16] jgoppert commented on #2297
I'm not usnig an extras.txt file. I'm using the ll40ls enable flag.

[2015-06-10 14:29] tumbili commented on #2307
@LorenzMeier @LorenzMeier I will do it, should be quick work.

[2015-06-10 14:33] mcharleb commented on #2316
I started looking at this. I assume you mean MCLinker vs LLD. MCLinker
doesn't support partial linking. Modules could be archives of .o files and
the final link would link the module archives.
On Jun 10, 2015 4:02 AM, "Lorenz Meier" <notifications@github.com> wrote:

[2015-06-10 16:29] edkoch commented on #2244
I finally had a chance to swap out the pixhawk and after a couple of flights I don’t seem to be having the same problems that I was having. I’ll keep an eye on it, but perhaps I do have some bad HW.

-ed

[2015-06-10 22:02] bansiesta commented on #2297
Ok, I looked into this. I tried starting the ll40ls first with the param and second with the extras.txt:

**param: SENS_EN_LL40LS 1**

```ll40ls start pwm``` happens before mavlink is started and ll40ls gets the ORB class instance 0.
Mavlink subscribes to instance 0 and the message arrives in QGC.

**extras.txt**

The file extras.txt is called pretty much at the end of the startup, so after mavlin

[2015-06-10 22:30] bansiesta opened #2319 "uORB multi pubsub depends on order of subscribing/publishing"
Below is what I found, correct me if I'm just wrong :):

Basically, I think, in the current multi pubsub implementation, the publisher needs to be started before the subscriber, otherwise they won't talk to each other.

An example from #2297 would be:

1. Mavlink starts first and wants to subscribe to the distance_sensor topic. It gets the first instance here:
https://github.com/PX4/Firmware/blob/

[2015-06-11 02:51] mhkabir commented on #2297
Yes, this is exactly what I observed. The uORB instance ID gets assigned in the order of driver startup.

For me, this complicates things even more, since the flow driver also bags a topic instance.

[2015-06-11 07:58] bansiesta commented on #2297
@mhkabir Yes, but I don't actually worry about Flow vs. Lidarlite right now but rather about mavlink vs. Lidarlite...

[2015-06-11 09:44] LorenzMeier opened #2321 "Generate headers only on changes on .msg files"

[2015-06-11 11:14] LorenzMeier commented on #2304
This was all wrongly interpreted based on bad testing. Its not a real issue.

[2015-06-11 11:14] #2304 closed

[2015-06-11 13:20] LorenzMeier opened #2323 "RTL landing on fixedwing radio loss"
From @kd0aij: RTL flew at 42m above home. On reaching home location announced RTL: landing and continued flying forever at 40% throttle.

Switching off RC resulted in landing sequence.

[2015-06-11 13:37] kd0aij commented on #2323
actually I entered RTL in both cases by switching off the TX
At the first airport in Xplane, the flyaway occurred. After changing airports and restarting QGC/pixhawk, a correct landing sequence occurred. Don't know what was different besides the Xplane location.

[2015-06-11 14:17] LorenzMeier commented on #2323
If I don't switch off the TX RTL works fine via command. So curious to see if it works with TX loss.

[2015-06-11 15:59] TSC21 commented on #2297
@LorenzMeier ping.

[2015-06-11 18:19] tumbili opened #2324 "FW: Change RTL height not possible"

[2015-06-11 18:21] tumbili opened #2325 "FW: On failsave plane tumbled and rolled some times"

[2015-06-11 18:21] tumbili opened #2326 "FW: Relative Altitude Waypoints not working"

[2015-06-11 18:23] tumbili opened #2327 "FW: Investigate on gains for altitude change"
User found that airplane reacted very slowly to 100% pitch commands in altitude control mode.

[2015-06-11 18:24] tumbili opened #2328 "Trim: Add separate tuning view since cumbersome to tune in the field"
Should move this to QGC

[2015-06-11 18:27] tumbili opened #2329 "Give user control to define servo midpoint and range"
e.g. user wants max pwm output to be 2100. This is defined in drv_pwm_out.h but user cannot change it.

[2015-06-11 19:23] LorenzMeier opened #2331 "Mission: When mission is successfully finished loiter does not always kick in"

[2015-06-11 19:23] LorenzMeier opened #2332 "Mission: When no mission is available the resulting loiter is not around a fixed point"
I suspect that the loiter center gets constantly reset, resulting in a stable roll, but wind-drift.

[2015-06-11 23:11] LorenzMeier commented on #2324
In my testing the RTL height worked as expected: It defined the minimum altitude, but if the plane was higher, it returned at the higher altitude.

[2015-06-12 01:50] davids5 commented on #2249
If the bug was mavlink_if0: invalid data rate '(null)'  I think https://github.com/PX4/Firmware/pull/2334  will fix it

[2015-06-12 06:06] tumbili commented on #2324
@LorenzMeier Might have confused RTL loiter alt with RTL return alt. Testing in some minutes.

[2015-06-12 06:55] LorenzMeier opened #2336 "Estimate vibration levels"
We just introduced a new common MAVLink message together with the APM devs, so we should add the message as well. The filters they propose to estimate the vibration levels are these:
https://github.com/rmackay9/rmackay9-ardupilot/commit/72a8110e5ab13dae9cdca83e291c1f334fdf260b

[2015-06-12 07:03] LorenzMeier commented on #2279
@AndreasAntener Reopening, please put the log in here.

[2015-06-12 07:05] bansiesta commented on #2319
@LorenzMeier bump, is this intended or should I try to come up with a fix?

[2015-06-12 07:06] #2255 closed

[2015-06-12 07:08] bansiesta commented on #2321
+1 This would save some seconds!

[2015-06-12 07:08] LorenzMeier commented on #2319
The analysis is correct and we need to fix it, a fix would be more than welcome. I think I just found another race because of this in the HIL setup.

[2015-06-12 07:15] LorenzMeier commented on #2332
Really, really hard to reproduce. Does work on the default cases / setups.

[2015-06-12 07:18] bansiesta commented on #2315
I think the way this works is that in line [538](https://github.com/PX4/Firmware/blob/master/src/modules/commander/state_machine_helper.cpp#L538) several main states are taken into account and some failsafe action depending on the RC signal is done which happens to be the same for all these states.

If there is no failsafe condition, then the main state is left as is in [558](https://github.com/PX

[2015-06-12 07:26] devbharat commented on #2315
I don't see the need for the 2nd switch case statement for the code to work as it is working right now(although I don't suppose that is how it is intended to work).

The way it is implemented now, the failsafes are only checked when status->main_state is POSCTL(since if-else is inside the case POSCTL), thus, looking for status->main_state in a switch case statement (line 558) in the else condition

[2015-06-12 07:28] LorenzMeier commented on #2309
Any news on this?

[2015-06-12 07:29] #2282 closed

[2015-06-12 07:29] LorenzMeier commented on #2282
Fixed in release.

[2015-06-12 07:29] LorenzMeier commented on #2249
@davids5 Fix through 3f4b5fc, which was unrelated. Thanks!

[2015-06-12 07:29] #2249 closed

[2015-06-12 07:33] LorenzMeier commented on #2244
@jgoppert I'm closing this, please reopen if you continue to see this.

[2015-06-12 07:33] #2244 closed

[2015-06-12 07:33] bansiesta commented on #2229
Fixed in https://github.com/PX4/Firmware/commit/5eadda5ea5709ac1204c83003c28fb775618193e.

[2015-06-12 07:33] #2229 closed

[2015-06-12 07:35] LorenzMeier commented on #2030
@AndreasAntener What did you find out about the weights - any subjective difference?

[2015-06-12 07:36] LorenzMeier commented on #2072
We did this pretty much already and will continue - closing this for now.

[2015-06-12 07:36] #2072 closed

[2015-06-12 07:37] LorenzMeier commented on #1893
Seems to be fine with me now, using a USB3 hub.

[2015-06-12 07:37] #1893 closed

[2015-06-12 07:37] bansiesta commented on #2315
The status->nav_state still needs to be set, so the second switch is needed.

No, the failsafes are checked for all cases (ACRO, MANUAL, ALTCTL, POSCTL) because the ```cases in the switch fall through if there is no break or return.

[2015-06-12 07:37] LorenzMeier commented on #1682
Fixed by @davids5 .

[2015-06-12 07:37] #1682 closed

[2015-06-12 07:38] #947 closed

[2015-06-12 07:38] LorenzMeier commented on #972
New Q estimator made this much less interesting, and since @Zefz did the integration and we're able to test / fly I'm closing this.

[2015-06-12 07:38] #972 closed

[2015-06-12 07:39] LorenzMeier commented on #1241
This has been addressed with a 30x speedup, which is about the max you can get through the USB interface we're using.

[2015-06-12 07:39] #1241 closed

[2015-06-12 07:40] LorenzMeier commented on #1161
@davids5 Thanks!

[2015-06-12 07:40] #1161 closed

[2015-06-12 07:40] #1525 closed

[2015-06-12 07:41] LorenzMeier commented on #1604
Done, works great, 1.6 ms for end-to-end for multicopters.

[2015-06-12 07:41] #1604 closed

[2015-06-12 07:49] LorenzMeier commented on #1649
I presume this is resolved?

[2015-06-12 07:51] devbharat commented on #2315
I agree.

[2015-06-12 07:51] #2315 closed

[2015-06-12 08:08] tumbili opened #2338 "Send message with "above ground level altitude""
Especially when flying relative altitude items the user will chant to double check conveniently if the plane flies at the correct altitude.

[2015-06-12 08:08] tumbili opened #2339 "At last waypoint no message saying that loitering"

[2015-06-12 08:10] AndreasAntener commented on #2030
In my recent flights I didn't pay attention to this, will try to do that the next time when I test posctl again ( #2299)

[2015-06-12 08:29] AndreasAntener commented on #2279
These logs should show it:
http://dash.oznet.ch/view/M8SyLmxiT7hmvJ3ZaGXRnD
http://dash.oznet.ch/view/uZ9XE9DKtGRJzvvaeeVfaF

[2015-06-12 08:46] LorenzMeier commented on #2329
I think this is the same type of request as someone comes into a car shop and wants new brakes, but what is really the problem is a leak of brake fluid. Could you re-formulate what the actual problem is, and what the users are trying to fix with it?

This here allows to set the min and max values, the trim setup allows to set the midpoint, but much more intuitively than having average Joe doing PW

[2015-06-12 08:48] LorenzMeier commented on #2328
I think it would be good to get more detail here - assuming people are using some sort of RC control, what additional info do they need?

[2015-06-12 08:54] LorenzMeier commented on #2279
http://dash.oznet.ch/view/M8SyLmxiT7hmvJ3ZaGXRnD#AS_Yaw_PLOT Does only show minor yaw spikes - is this what you're referring to? Was this with off board control?

[2015-06-12 09:00] AndreasAntener commented on #2279
This was all manual. Judging from the ground, the yaw error was about 15-20 degrees before we let go of pitch. I'm pretty sure that it happened in those flights. If there's time maybe we can to a dedicated test for that today.

[2015-06-12 09:01] LorenzMeier commented on #2279
I think you want this fix for off board anyway:
https://github.com/PX4/Firmware/pull/2341

If you test it we can merge it relatively quickly.

The manual throttle target should have been limited to 90%, so I need to check why its not.

[2015-06-12 09:11] LorenzMeier commented on #2279
The issue was the thrust compensation when pitched. We already had a limit on the other end, and I've just updated the default param value:
https://github.com/PX4/Firmware/pull/2343

It would be great if you could test that one.

[2015-06-12 09:41] AndreasAntener commented on #2279
Ah, thanks. I guess then we flown with max thrust 1 again.

[2015-06-12 09:51] tumbili opened #2344 "When mission is not valid still do takeoff help for user, don't stear into ground"

[2015-06-12 09:52] tumbili opened #2345 "RTL not working when main switch in manual mode, QGC shows RTL"

[2015-06-12 10:01] tumbili commented on #2329
The user wants to adjust the range of the pwm for each servo separately. The user is used to do this with the remote control (adding range and offset). He couldn't do that anymore because the pwm range was fixed and the mid point was never adjustable. Then he want to use the trim option for fine tuning.

[2015-06-12 10:02] tumbili commented on #2326
Fixed by #2330

[2015-06-12 10:02] #2326 closed

[2015-06-12 10:31] LorenzMeier commented on #2329
Well we don't care what they're used to. Because if we do, we need to replicate all the mistakes and complexity which had been done in the past. We care about the user experience as a whole. I noticed for example that one of the Caipi's had an elevon limitation because of a 30% offset on the servo. This will deteriorate the auto flight performance and has to be fixed on the linkage.
I think we nee

[2015-06-12 11:57] tumbili opened #2347 "Buzzer should confirm/not confirm if mission is valid or not"

[2015-06-12 12:04] LorenzMeier commented on #2339
I presume you wanted more than this changes, yes/no?
540ffa7

[2015-06-12 12:05] tumbili commented on #2339
@LorenzMeier No this is good!

[2015-06-12 12:05] tumbili commented on #2339
I just didn't say it was loitering which I expected.

[2015-06-12 12:17] #2339 closed

[2015-06-12 12:19] LorenzMeier commented on #2325
Which failsafe was this? Please attach the log once we have it.

[2015-06-12 12:27] kd0aij commented on #2329
I agree that it isn't mechanically optimal to use less than the full available range of each and every servo in a setup. But there are clear cases where this is a very big convenience factor, as in the setup of retracts, bomb drop mechanisms, etc. It may be a *necessity* when matching multiple servos driving a single surface, but I've never done that.
While it isn't *necessary* to do things the sa

[2015-06-12 12:37] LorenzMeier commented on #2329
Mark, that makes perfect sense and is certainly the goal. I think we need someone on the GCS side to be happy to take care of bringing the mixer file into an editor window and saving it with one click. Its reasonably easy to do. This PR adds already the ability to query user-settable parameters in the airframe config for the min / max values, which should help together with the trim capability to

[2015-06-12 12:40] tumbili commented on #2329
Basically, if the user can modify the mixer in QGC and if he can set the min/max pwm values then we have everything.

[2015-06-12 13:08] AndreasAntener commented on #2279
Looks good now, thanks :)

[2015-06-12 14:54] #2279 closed

[2015-06-12 21:39] tumbili commented on #2345
@LorenzMeier This is the log http://dash.oznet.ch/view/essDWNiSyLqyjcScuxHPxD
From what I see the system goes into manual override.

[2015-06-13 09:26] LorenzMeier opened #2357 "POSIX: MAVLink app -u flag not operational"
The -u flag on current master is not operational and launches on the serial port instead. Also the posix rc.S should be revamped to reflect a typical, operational setup and we should add it to the unit test suite. @mcharleb @tumbili It would be great if we could reserve some time next week (just an hour) to work through this.

[2015-06-13 09:28] LorenzMeier commented on #2316
Great, would be fantastic to look further into this next week. I have fixed the trivial build errors for OS X on the master_m branch. @davids5 Any experience to add?

[2015-06-13 10:29] LorenzMeier commented on #2332
This occurs when the system sets an IDLE waypoint at any given point in time. Fixed.

[2015-06-13 10:29] #2332 closed

[2015-06-13 11:01] davids5 commented on #2316
@LorenzMeier I am not sure I follow this 100% but, is the only issue the the linker coalescing the parameter segments into one table?

If so, we could have a different set of macros for the resource rich builds. These would uses a cpp static initializers construct to add the params to a table. Or just use the same mechanisms the tools uses to build it's list of cpp static initializers.

[2015-06-13 12:31] LorenzMeier opened #2358 "Report off board reject reason more clearly to user."
Some users of the off board control mode seem confused by the reject reasons.

[2015-06-13 13:37] LorenzMeier opened #2359 "POSIX: Heavy use of #ifdefs"
I think this made initially sense, but it would be good to reduce the number of #ifdefs in the port. I'm referring to statements like:

[code]

[2015-06-13 13:54] LorenzMeier commented on #2357
@mcharleb @tumbili Fixed in 1522255.

[2015-06-13 13:54] #2357 closed

[2015-06-13 16:01] mcharleb commented on #2359
Unless the NuttX port is going to switch to VDev vs CDev we need ifdefs or
separate files for each port (which is much harder to maintain).
On Jun 13, 2015 6:37 AM, "Lorenz Meier" <notifications@github.com> wrote:

[2015-06-13 16:38] LorenzMeier commented on #2347
This addresses this:
https://github.com/PX4/Firmware/pull/2363

I think we should not get too carried away though for the release 8).

[2015-06-13 17:34] mcharleb commented on #2316
The issue as I understand it is that for each module dir, the build system creates the respective .o files and then prelinks them into module.pre.o and then does an objcopy on them to localize non-exported symbols. This prevents a symbol clash between global variables across modules except for those explicitly exported.

MCLinker doesn't enable you to prelink (no -Ur option). Its not supported. We

[2015-06-14 00:29] LorenzMeier commented on #2316
I think we probably want to weight the options in a call - its at least on their agenda now:
https://llvm.org/bugs/show_bug.cgi?id=23024

[2015-06-14 08:47] LorenzMeier commented on #2331
Addressed on the release branch, the system was feeding bad values to the control subsystem in some modes.

[2015-06-14 08:47] #2331 closed

[2015-06-14 08:48] LorenzMeier commented on #2325
This has been hunted down to manual override in RTL, which is fixed on the release branch.

[2015-06-14 08:48] #2325 closed

[2015-06-14 08:48] LorenzMeier commented on #2324
@tumbili Did you end up testing this? What's the outcome? I can't second this in HIL.

[2015-06-14 08:49] LorenzMeier commented on #2323
@kd0aij Would you mind testing in HIL again? We've fixed a bunch of mission related smaller issues which combined could lead to the error you were seeing.

[2015-06-14 08:50] #2313 closed

[2015-06-14 08:50] LorenzMeier commented on #2299
@tumbili Is this one resolved?

[2015-06-14 08:53] LorenzMeier commented on #1817
Closing in favor of smart batteries.

[2015-06-14 08:53] #1817 closed

[2015-06-14 09:28] tumbili commented on #2324
@LorenzMeier I think I changed the wrong param. I'm sure I already tested this but will try again in one of the flights today.

[2015-06-14 09:29] tumbili commented on #2299
@LorenzMeier I think so. It worked fine on Thursday when we tested it.

[2015-06-14 10:25] #2345 closed

[2015-06-14 10:25] #2344 closed

[2015-06-14 10:26] LorenzMeier commented on #2327
Tuning guidance is here:
https://pixhawk.org/firmware/parameters#fixed_wing_tecs

[2015-06-14 10:33] LorenzMeier commented on #2347
Closing this and tracking it in the PR.

[2015-06-14 10:33] #2347 closed

[2015-06-14 10:36] LorenzMeier commented on #2079
This is fixed. There is still an issue on filter resets that we need to resolve for the local position.

[2015-06-14 10:36] #2079 closed

[2015-06-14 10:37] LorenzMeier commented on #2284
@Royalcheese Please defer the further discussion to the mailing list at https://groups.google.com/forum/#!forum/px4users. We're reserving this system to discuss issues found with the system, not general questions. Thanks!

[2015-06-14 10:37] #2284 closed

[2015-06-14 10:38] LorenzMeier commented on #1610
@anton-matosov What's your current status on this? Did you continue with it?

[2015-06-14 10:39] LorenzMeier commented on #1833
I don't think this is real, closing. There are no other reports - maybe you're misinterpreting the "USB not available state" as an error?

[2015-06-14 10:39] #1833 closed

[2015-06-14 10:39] #1887 closed

[2015-06-14 10:40] LorenzMeier commented on #1767
We have this now I believe?

[2015-06-14 10:40] #1767 closed

[2015-06-14 10:40] #1649 closed

[2015-06-14 10:41] LorenzMeier commented on #1623
Done.

[2015-06-14 10:41] #1623 closed

[2015-06-14 10:42] LorenzMeier commented on #1624
I'm just merging a PR which resolves this. Its ok to have mission_result ending up in a MAVLink transmission, after all the commander and the GCS need to know the mission state.

[2015-06-14 10:42] #1624 closed

[2015-06-14 10:42] LorenzMeier commented on #1738
Do you have further feedback / comments on this?

[2015-06-14 10:44] LorenzMeier commented on #2214
We can do that for the next release. In general it would be great to have a developer for S.BUS, do you feel you can maybe find someone from the RC hobby community with some programming skills to pick this up?

[2015-06-14 10:44] LorenzMeier commented on #1115
We've implemented this with POSCTL!

[2015-06-14 10:44] #1115 closed

[2015-06-14 10:45] #1579 closed

[2015-06-14 10:46] LorenzMeier commented on #1473
Resolved, yay!

[2015-06-14 10:46] #1473 closed

[2015-06-14 10:46] LorenzMeier commented on #1402
We do this now.

[2015-06-14 10:46] #1402 closed

[2015-06-14 10:47] LorenzMeier commented on #1194
Not a priority right now, adds a lot of complexity. Deferring this and closing the issue.

[2015-06-14 10:47] #1194 closed

[2015-06-14 10:48] LorenzMeier commented on #1234
I would argue that a GPS fix in the log (or home position set) guarantees that the declination is from the table. I'm closing this.

[2015-06-14 10:48] #1234 closed

[2015-06-14 10:51] LorenzMeier commented on #995
Closing this on the Firmware side. Support is here: https://github.com/PX4/Firmware/blob/master/src/modules/mavlink/mavlink_receiver.cpp#L1107-L1122

[2015-06-14 10:51] #995 closed

[2015-06-14 12:10] LorenzMeier commented on #2030
Closing this and will track it in our other milestone issues.

[2015-06-14 12:10] #2030 closed

[2015-06-14 12:22] kd0aij commented on #2323
This was working correctly for me in HIL as of 2 days ago :)

[2015-06-14 12:31] LorenzMeier commented on #2323
Ok, closing this then, thanks!

[2015-06-14 12:31] #2323 closed

[2015-06-14 13:08] kd0aij opened #2369 "mc_att_control does not publish vehicle_attitude_setpoint in manual mode"
but the description of MulticopterAttitudeControl::control_attitude says it does. The only code I find to generate attitude setpoint from manual controls is in mc_pos_control.

If the comments are not merely out of date, this indicates missing code in mc_att_control. In any case it was a source of confusion for me when modifying the behavior of mc_att_control, since this module currently relies on

[2015-06-14 13:27] #2369 closed

[2015-06-14 13:34] kd0aij commented on #2369
that was fast :+1:
Is there any background info on why pos control is generating manual attitude setpoints?

[2015-06-14 13:38] LorenzMeier commented on #2369
It should be in a neutral stick mapper component, but it doesn't make sense to have it in the controller. The position controller is at least one level up, which is going into the right direction.

[2015-06-14 13:42] kd0aij commented on #2369
That actually makes sense. I think I'm beginning to understand the architecture well enough to ask the right questions. I attempted a hack to att control to override acro mode based on roll/pitch stick inputs, but found I had to put it into commander instead because of this (or duplicate att sp code).

[2015-06-15 01:54] anton-matosov commented on #1610
Hi, not really. I have no spare time for this project =(

[2015-06-15 07:42] tumbili commented on #2328
@LorenzMeier I actually meant "tuning". The user want to have a separate tab for tuning.

[2015-06-15 10:19] #2324 closed

[2015-06-15 11:34] #2329 closed

[2015-06-15 12:47] kd0aij commented on #2328
I was hoping to use custom QML widgets to pre-configure "Set to RC" to assign TX knobs and sliders to specific sets of parameters with "safe" ranges to aid in PID tuning without need for RF modem and GCS operator. One would select the widget, verify the parameter ranges then activate and fly. With the Taranis TX, one could tune 4 parameters at a time this way.
Unfortunately, the custom widgets do

[2015-06-15 17:07] TSC21 opened #2379 "IRLock: use LANDING_TARGET for data publish?"
IRLock driver is implemented but not being used anywhere. If one wants to use it onboard, and possibly analyse data offboard, does `LANDING_TARGET` mavlink msg fit the job? (assuming that uORB topic will be created with similar data fields). Checking out the fields, I can see on driver:
[code]
in the case of `LANDING_TARGET`:
[code]
So if we want to complement both data msg data fields, how can we

[2015-06-15 17:38] TSC21 commented on #2379
Better thought: shouldn't `distance` be a XYZ array (or LLA) so it can be fed into `LANDING` state of navigation, for example?

[2015-06-15 18:50] mhkabir opened #2381 "UAVCAN broken in stable / master"
The UAVCAN dynamic node ID allocation changes got into stable, which increases memory consumption to a breaking point, and also renders the system unusable.

This patch gets it back online and usable (for now)
[code]

[2015-06-15 19:29] LorenzMeier commented on #2381
@pavel-kirienko We will relatively soon switch from an agile development model in terms of user releases to the currently established more stable baseline. It would be great if we could look tomorrow into the RAM usage and stability issues here, as the merge window is closing. The current memory consumption of UAVCAN doesn't allow it to launch it as default module and we already need to de-feature

[2015-06-15 19:36] pavel-kirienko commented on #2381
@LorenzMeier I have already proposed a solution here https://github.com/UAVCAN/libuavcan/issues/33: make the core UAVCAN functionality enabled by default, whereas the dynamic node ID allocator and firmware upgrade master would be optional. I'm well aware of usability penalties, but so far this is the only solution that is radical enough.

Also, when my suggestions described [here](https://github.c

[2015-06-15 20:06] LorenzMeier opened #2384 "POSIX: Boot fails"
@mcharleb This is the current status on master when building the posix target and running ```make sitlrun```.

[code]

[2015-06-15 20:07] LorenzMeier commented on #2384
@tumbili Can you reproduce this?

[2015-06-15 20:10] tumbili commented on #2384
No

[2015-06-15 20:11] tumbili commented on #2384
I don't get all the  bind errors

[2015-06-15 20:12] tumbili commented on #2384
Let me just try several times and see if there are issues. On the first attempt the simulation started without any problems.

[2015-06-15 20:18] tumbili commented on #2384
@LorenzMeier @mcharleb Tested master, the simulation runs fine (tested 10 times in a row). But as soon as I have QGC already connected to the port without the simulation having being started then I get these messages again: WARN  node_open as advertiser failed. (file /home/roman/Firmware/src/modules/uORB/uORBManager_posix.cpp line 98)

[2015-06-15 20:20] tumbili commented on #2384
I should also mention that I'm using an older version of jMAVSim 8aaf29c12af0cd55c58d3
I'll try to update and see what that does.

[2015-06-15 20:26] LorenzMeier commented on #2384
Could you try without QGC and jMAVSim running?

[2015-06-15 20:26] tumbili commented on #2384
Works fine for me

[2015-06-15 20:27] LorenzMeier commented on #2384
odd, ok

[2015-06-15 20:28] tumbili commented on #2384
'''
roman@roman-HP-EliteBook-8560p:~/Firmware$ make sitlrun
Tools/sitl_run.sh
INFO  Shell id is 46986347925184
App name: mainapp
----------------------------------
Running: uorb
----------------------------------
Running: param
----------------------------------
Running: mavlink
arg 0 mavlink
arg 1 start
arg 2 -u
arg 3 14556
WARN  mode: 0, data rate: 2880 B/s on udp port 14556 (file /home/roman/Fi

[2015-06-15 20:28] tumbili commented on #2384
oops

[2015-06-15 20:49] LorenzMeier commented on #2384
I get now the node_open error:
[code]

@mcharleb I followed the setup guide, but I think there is still an issue with the orb and with the default network ports, or a major usage failure on my end.

[2015-06-15 21:45] davids5 commented on #2381
@LorenzMeier , @pavel-kirienko

What time UTC should we have a call to define the short term and long term goals that will best align with the new release strategy?

[2015-06-15 22:33] kd0aij commented on #1174
repeated Posctl test with latest release_v1.0.0 and GPS position hold is good, but flow still isn't.
Checked flow sensor rotation parameter; still correct.

[2015-06-16 04:03] kd0aij commented on #1174
Need to change the parameter default to 0.0 so that acro mode behavior is normal by default.

[2015-06-16 06:26] LorenzMeier opened #2391 "ALTCTL requires GPS fix, but should work also without"
We need to go through the system dependencies and make this one less strict.

[2015-06-16 06:29] LorenzMeier commented on #1174
Could we get a log of that? I'd love to help hunting down the root cause.

[2015-06-16 07:02] LorenzMeier commented on #2379
The transformation from angle to position requires the camera to vehicle body frame transformation. That's why its presented as raw data.

[2015-06-16 07:11] tumbili opened #2392 ""Not yet ready for mission, no position lock" does not emit buzzer warning"

[2015-06-16 07:16] LorenzMeier opened #2393 "Multicopter position control: Attitude control oscillation"
Summarising some comments from @SimonWilks here:

Logs:
http://dash.oznet.ch/view/SHgcgQZ7wcLX9DQV6B7pMU
http://dash.oznet.ch/view/n6psxmgeH3EXg4JntrPH6M

The trigger is the combined low-then-high throttle event, which leaves the system for some time without effective attitude control:
http://dash.oznet.ch/view/SHgcgQZ7wcLX9DQV6B7pMU#Thrust_PLOT

I suspect this code path could play a role in this,

[2015-06-16 07:19] LorenzMeier commented on #2392
That's not a bug. The buzzer warning will only sound once home is set, because else you will get a warning on every boot, or when you just want to fly manually. It would be a bug if it does not sound after home is set.

[2015-06-16 07:23] tumbili commented on #2392
It depends. This happens after the user has uploaded a mission. So either you want to indicate to him that he cannot fly the mission yet because he doesn't have position lock or you just shut up and assume he reads the info in QGC.

[2015-06-16 07:30] rmackay9 commented on #2379
Yes, the way it's implemented the camera only has to present the very basic data that it can easily get (size and location of the object from it's point of view).  This makes it very easy to implement from the camera's point of view and for the autopilot, well, it's already got to do all that work for the IR-Lock sensor anyway so might as well also use it for the cases where it's using a camera in

[2015-06-16 07:41] LorenzMeier commented on #2392
I think the "prevent flight when no GPS lock present" is an UI thing in the GCS. We do have a preflight check item which is currently disabled by a circuit breaker. If we flick that to on then things will sequence properly, but users might complain. So it feels more like the mission planning component should ensure it only allows the user to plan once things are initialised correctly.

[2015-06-16 09:03] tumbili opened #2394 "Takeoff help not yet working"

[2015-06-16 09:03] tumbili commented on #2394
![tecs](https://cloud.githubusercontent.com/assets/7610489/8179496/479f8a2c-1417-11e5-807c-7d777ace15e8.png)

[2015-06-16 09:04] tumbili commented on #2394
@LorenzMeier Flew straight into the ground although altitude setpoint was set 50m above ground and climbout request was explicitly set in function do_takeoff_help

[2015-06-16 09:04] tumbili commented on #2394
The crash happened at about 26.25 seconds.

[2015-06-16 09:07] DrTon commented on #2393
This code only reduces roll/pitch of the copter in POSCTL in case if at full thrust copter can't hold altitude. Not related to this issue.

I've looked this log and see the following effects:
- at 57.72 pitch setpoint increased to start breaking
- at 57.85 pitchrate was already big enough and attitude controller reversed pitch control to stop pitch motion
- but at 57.9 copter was already climbing

[2015-06-16 09:10] tumbili commented on #2392
Well, completely not to allow him planning also doesn't make sense because he might want to plane the mission at home.

[2015-06-16 09:34] tumbili commented on #2393
One of the reason why the thrust setpoint went down that far was because the attitude setpoint more or less jumped to a new setpoint. So now the desired and the actual thrust vector were subject to a large angle offset. I also had this problem a lot when writing the vtol controller for the tailsitter. In that case the effect was even worse because a low throttle setting lead to a complete loss of

[2015-06-16 09:43] tumbili commented on #2393
![copter_on](https://cloud.githubusercontent.com/assets/7610489/8180271/f5adf608-141c-11e5-9010-1dca2f1b0001.png)

[2015-06-16 09:44] tumbili commented on #2393
![copter_off](https://cloud.githubusercontent.com/assets/7610489/8180281/fc3b245a-141c-11e5-8d5c-8552d0d5b95d.png)

[2015-06-16 09:44] tumbili commented on #2393
Green is SP glube is actual. The time difference between those two snapshots is just 0.03 s

[2015-06-16 10:25] SimonWilks commented on #2393
@DrTon yes, yaw still needs tuning. I'll take a look at that. I'd tried with lower pitch/roll gains already and pushed them up as hard as I could hoping it would help recover faster. In manual it flies very well so it's certainly capable. MPC_Z_VEL_P we increased to improve it's altitude recovery which improved significantly then, but I can reduce it again to see if it plays a role here.

@tumbili

[2015-06-16 10:51] tumbili commented on #2393
@SimonWilks I think we all agree that with this low thrust setpoint the copter would have never been able to recover. I'll look into this and see what we can do.

[2015-06-16 10:59] LorenzMeier commented on #2393
This boils down to the correct vs. robust argument. We want to be correct, but we also need to be robust. Tuning the gains to the right values will make us correct, but not robust to either disturbances (we have seen enough corner cases in logs) or suboptimal tuning.

[2015-06-16 11:16] tumbili commented on #2394
See #2395

[2015-06-16 11:19] LorenzMeier commented on #2394
Could you also graph the effective throttle and effective pitch, along with the commanded pitch? That would tell us much more how it went wrong.

[2015-06-16 11:31] tumbili commented on #2394
Ok, will do. I can tell you now that thrust was full and pitch was in the negative area.

[2015-06-16 12:10] kd0aij commented on #1174
Logs: https://copy.com/UWMajC7f9kw02rdz
First one is with lens cap on, second with lens cap off.

[2015-06-16 15:44] kd0aij commented on #1174
Reflashed PX4flow with stable using QGC, verified focus, tested with and without GPS outdoors. Same behavior as last test: won't hold position using optical flow. Seems to fly off in random directions, definitely not toilet-bowling.

[2015-06-16 16:15] #2392 closed

[2015-06-16 16:17] LorenzMeier commented on #2392
Logged here:
https://github.com/mavlink/qgroundcontrol/issues/1667

[2015-06-16 19:04] davids5 opened #2399 "Well defined sys logging"
We need a way to define system logging like Log[j|net]  that is platform independent and does not have idefs in every file that uses it.

This will also centralize the changes for the version of nuttx on master vr the latest upstream used in nuttx next.

Proposed - with todos that need resolution
[code]

[2015-06-16 19:09] davids5 commented on #2399
@mcharleb

This is still 1/2 baked, but I want to run it by you to get your requirements and suggestions. We can have a skype call if need be.

David

[2015-06-16 19:12] mcharleb commented on #2399
We also need a PX4_INFO level that is not compile time filtered for output messages such as: list_devices(), dump_counters(), etc whose whole purpose is to provide output.

[2015-06-16 21:25] #2319 closed

[2015-06-16 23:28] TSC21 commented on #2379
@rmackay9 thanks for the feedback! I also think that https://github.com/mavlink/mavros/pull/311/files#r32582378 is relevant to this matter and should be a thing to improve.

[2015-06-17 08:56] tumbili opened #2400 "RTL height is just updated when going out and into RTL again"

[2015-06-17 13:07] tumbili opened #2401 "Does aborted mission restart or resume?"

[2015-06-17 13:40] tumbili opened #2402 "No loiter if mission is rejected"

[2015-06-17 16:04] taogashi commented on #2298
Hi @tumbili, I'm not very clear how the function  `load_mixer_file` behaves.
I suppose it is called when we run `mixer load <dev> <mixer file>`, as in src/systemcmds/mixer/mixer.cpp line 105:

[code]

However, I modified the function `load_mixer_file` by commenting most of its code, then it looks like:

[code]

mean to see all the content in my mixer file, which is:

[code]

but, unexpectedly enou

[2015-06-17 16:29] davids5 commented on #2381
PR https://github.com/PX4/Firmware/pull/2404 is pushsed for short term conditional removal. Working on long term solution next

[2015-06-17 17:49] davids5 commented on #2381
@pavel-kirienko , @LorenzMeier

Results of UAVCAN_MAX_NETWORK_SIZE_HINT testing

No change in elf sections sizes, but reducing  the allocation from 64 to UAVCAN_MAX_NETWORK_SIZE_HINT=16 saved **5248** Bytes!

![image](https://cloud.githubusercontent.com/assets/1945821/8214443/f68353fe-14c4-11e5-8d95-41aafce4f1bc.png)

[2015-06-17 17:51] LorenzMeier commented on #2400
Closing this after discussion: A mode switch is a "transaction" and locks in the current system state and parameters. Its more consistent this way than the respond to param changes while executing a mission part which was committed before the change. Dynamic changes are only possible with the user-accesible mission items, parameters are updated on mode changes.

[2015-06-17 17:51] #2400 closed

[2015-06-17 17:55] LorenzMeier commented on #2381
Ok, can we get that as PR on top of the current changes?

[2015-06-17 20:00] tumbili opened #2405 "FW RTL does not care about descent limit."
Probably  related to this … https://github.com/PX4/Firmware/blob/master/src/lib/external_lgpl/tecs/tecs.cpp#L169-L236

[2015-06-17 21:14] LorenzMeier commented on #2381
@pavel-kirienko this is what the MAVLink app is consuming - it routes all information of the system at 12K usage. In my view already pretty heavy, but it does missions / FTP / all system streams. I did already remove unnecessary stack sizes and buffers.

[code]

Now when I start uavcan, I'm out of RAM:

[code]

Note that the sdlog2 app will now fail to log, as it doesn't have enough RAM for its lo

[2015-06-17 21:23] davids5 commented on #2381
@pavel-kirienko does

static constexpr unsigned MemPoolSize        = 10752; ///< Refer to the libuavcan manual to learn why

Still make sence after all the changes you did?

[2015-06-17 23:27] bansiesta opened #2407 "FMUv1 does not show voltage (stable)"
The battery voltage does not work anymore on FMUv1 (stable branch).

The ADC channel is read in https://github.com/PX4/Firmware/blob/master/src/modules/sensors/sensors.cpp#L1709 but the voltage read is 0.01v to 0.02v and garbage. It's not a param scaling issue.

The FMU is used on an IO and the battery port is connected.

[2015-06-17 23:28] bansiesta opened #2408 "FMUv1 does not boot (master)"
The FMUv1 does not currently boot in master. It beeps and freezes after reporting ```command px4flow not found```. This is a regression from stable where it still works.

[2015-06-18 03:16] kd0aij commented on #1174
comparing raw flow data to GPS velocity for both working and non-working flow-based position control shows no obvious difference in the flow data:
![nonworkingflow](https://cloud.githubusercontent.com/assets/2300221/8223515/e7661f48-1535-11e5-9b63-1f5a93e7a556.png)
![workingflow](https://cloud.githubusercontent.com/assets/2300221/8223516/e7665c88-1535-11e5-9bf5-9264196a8280.png)

[2015-06-18 06:21] tumbili opened #2409 "MC_att_controller yaw setpoint movement"
Currently the mc attitude controller moves the yaw setpoint in the direction of the current yaw angle if the error is too large. We have a mixer which handles priorities for the control of the axes and thrust.
So we could try removing this logic in the controller. This would also get ride of the annoying fact that the copter tends to change it's orientation after heavy manoeuvres.

[2015-06-18 06:21] tumbili commented on #2409
@kd0aij This is related to your flip experiments.

[2015-06-18 06:48] LorenzMeier commented on #2407
The battery voltage is read by IO for FMUv1. Are you sure you sure you're looking in the right place? Please run ```px4io status```. It never was in the FMU driver on v1. Closing this issue.

[2015-06-18 06:49] LorenzMeier commented on #2408
@mcharleb @davids5 I'll debug this, but you should be aware of the regression.

[2015-06-18 06:53] mcharleb commented on #2408
Is this after makefile changes, or something else?
On Jun 17, 2015 11:49 PM, "Lorenz Meier" <notifications@github.com> wrote:

[2015-06-18 06:54] LorenzMeier commented on #2408
I'm not sure. The FMUv1 setup is not widely used, and so it can take some time until a regression is found. I didn't have time to bring my HW test harness back up to speed.

[2015-06-18 08:38] LorenzMeier opened #2411 "Re-check mag calibration for external magnetometers"
We have two reports where the external magnetometer did not calibrate correctly.

[2015-06-18 08:46] LorenzMeier opened #2412 "Auto-estimate the mag to inertial rotation"
Users all the time screw up the mag orientation. We should determine the rotation between the frames automatically.

[2015-06-18 08:46] taogashi opened #2413 "mad yaw rotation"
Hi all,
     My SingleCopter experienced a mad rotation around z axis, I've checked the log and found something interesting, but still don't know the cause of this behavior.
![screen shot 2015-06-18 at 3 38 22 pm](https://cloud.githubusercontent.com/assets/4775141/8227207/ba9c657e-15d7-11e5-846a-a36a5f9f912a.png)
As the legend shows, yaw_rate_setpoint, attitude_controller_output_yaw, yaw_rate and

[2015-06-18 08:47] LorenzMeier opened #2414 "Cross-check if min/max calibration for mag is safer than complete sphere fit"
The sphere fit can be pulled into a wrong direction by too many samples from one orientation. We probably need to use bins (where min/max would be number of bins = 2) to robustify the procedure.

[2015-06-18 09:10] bansiesta commented on #2407
[code]
So you're saying this was never working?

[2015-06-18 10:47] LorenzMeier opened #2415 "Test all flight modes with a quad"
We need to verify that none of the fixed wing fixes did create regressions for multicopters.

[2015-06-18 12:17] kd0aij commented on #2409
I'll test the idea when I get a chance.

[2015-06-18 14:20] DrTon commented on #2413
Maybe wrong props rotation direction? Post raw log please.

[2015-06-18 14:48] taogashi commented on #2413
Hi @DrTon raw log is [here](https://github.com/taogashi/dragon)

[2015-06-18 15:19] taogashi commented on #2413
log001.px4log is the mag one, log002.px4log the normal, :)

[2015-06-18 16:02] pavel-kirienko commented on #2381
@davids5 I introduced some memory optimizations today, particualrly:

1. Removed the allocation table cache from the centralized server implementation, which saved 2144 bytes. The distributed server is still disgustingly huge though.
2. Fixed structure packing - it used to break things and increase code size because it was used inappropriately (so it could not be enabled), now it's organized prope

[2015-06-18 16:49] taogashi commented on #2298
@tumbili forget it, I think this is not the problem. Mixer files are truncate when compiling...

[2015-06-18 16:50] taogashi commented on #2298
Thx a lot

[2015-06-18 18:05] tumbili commented on #2327
@LorenzMeier This is good, especially since we have the climbout mode.

[2015-06-18 18:05] #2327 closed

[2015-06-18 18:47] LorenzMeier opened #2416 "POSIX: Sim environment makes assumptions about startup order"
@molecule @mcharleb Based on my testing the sim environment seems to make assumptions about startup order to make the network connections. I need to create a reproducible test case, but my current impression is that I need to fix jMAVSim to constantly send something to the UDP port of the simulator, or to fix the simulator to start up immediately. It takes 30 seconds until it boots for me, so I'm

[2015-06-18 18:50] tumbili commented on #2416
@LorenzMeier The simulator waits for a first message of jmavsim before it starts.

[2015-06-18 19:50] LorenzMeier commented on #2381
That sounds like good progress! Inline with what we discussed yesterday it would be great if you could also test this on the actual hardware. The main motivation is because it will help the protocol development to fit the embedded space.

[2015-06-18 19:51] LorenzMeier commented on #2381
@pavel-kirienko I will look into ```-fpacked-enums```, but changes like this need to be vetted very carefully when done for the full system. Also because we probably need to apply it to the OS.

[2015-06-18 19:54] LorenzMeier opened #2417 "Add -Wswitch-enum flag"
This will ensure that we do not skip enum values.

[2015-06-18 19:56] pavel-kirienko commented on #2381
@LorenzMeier Yep, I will set up a testing rig here. The packing turned out to hard fault the system so 48 byte blocks are still not acceptable, but I'll be working on it some more tomorrow and hopefully a way will be devised to get the memory consumption down to the 14K limit you set above.

[2015-06-18 20:38] bansiesta commented on #2407
@LorenzMeier Has this worked on FMUv1 before or not?

[2015-06-18 20:42] LorenzMeier commented on #2407
It should work in the default config. Is this a regression or a hardware issue? @tumbili Does your FMUv1 setup work with battery voltage?

[2015-06-18 20:47] tumbili commented on #2407
Works for me, see e.g. this log  http://dash.oznet.ch/view/Eo3MzgwfnGZCiK9QJB9Q44

[2015-06-18 20:47] tumbili commented on #2407
This is release though, don't know about master.

[2015-06-18 20:59] LorenzMeier commented on #2384
@tumbili Now I get a mavlink mission init error, and consequently QGC seems to ignore parts of the system (I don't get to the param editor):

[code]

[2015-06-18 21:45] tumbili commented on #2384
@LorenzMeier I don't see the mavlink error.

[2015-06-18 22:58] TSC21 opened #2419 "Failing compilation on eigen test"
I updated eigen lib to latest version: `Subproject commit 9aed5e67812dd449ddea40749e65331813360fde`. Now I'm getting the following when compiling:
[code]

[2015-06-18 23:49] kd0aij opened #2420 "Testing the Q attitude estimator in coordinated turns"
I have observed on both a 250 and 450 quad that flying in a circle with bank angle and yaw rate to approximate a fixed-wing "coordinated turn" results in error in the attitude estimate. When roll and pitch are returned to neutral, the copter is noticeably tilted. The tilt is noticeable after 3 or 4 circuits.
After circling, I hold the copter level (very little wind during the test), so roll and pi

[2015-06-19 04:07] bansiesta commented on #2407
I think what happens is that the scaling param is not applied on the IO side. I had to manually change the scaling on the IO side to make it work. I did try thr BAT_V_SCALE param but it didn't have any effect.

[2015-06-19 06:15] tumbili commented on #2420
@kd0aij Very interesting! Could you use the level horizon option in QGC on a level surface, fly the manoeuvre again and after that put it on the level surface one more and observe the attitude.

[2015-06-19 06:25] LorenzMeier commented on #2407
The scaling on IO is a fixed number, it never ever gets modified. This suggests you have a hardware issue.

[2015-06-19 06:25] #2407 closed

[2015-06-19 07:01] LorenzMeier opened #2421 "Provide idle throttle in ALTCTL / POSCTL when stick > min dead zone"

[2015-06-19 07:11] LorenzMeier commented on #2411
@mhkabir I could not reproduce your issue. Could you describe the issue you were having?

[2015-06-19 09:05] LorenzMeier commented on #2419
An upgrade and fix would be appreciated, I just want to set expectations right for the time budget we have available for this currently.

If you update Eigen its within your responsibility to fix any update breakage - is there a specific reason to upgrade the version? We can only allocate bandwidth for bugfixes on Eigen right now, and we will do an Eigen upgrade when needed for the general develop

[2015-06-19 09:20] mhkabir commented on #2411
I have my external UAVCAN mag as MAG0 and the internal one as MAG1 (using the startup script timing hack)
On attempting calibration, the first calibration goes OK ( QGC displays graphical steps, etc.) next, it asks for external mag orientation. On choosing the rotation and clicking "OK", the right panel slides out and there is no more further information shown in QGC other than "calibration succes

[2015-06-19 09:36] tumbili commented on #2421
@implemented in #2424

[2015-06-19 09:38] LorenzMeier commented on #2411
Are you sure you are using a recent Firmware version? All mags are calibrated at once, unless you use something which is many weeks old.

[2015-06-19 12:11] #2416 closed

[2015-06-19 12:42] kd0aij commented on #2420
@tumbili This is a well-understood dynamic error in the complementary filter, caused by the centripetal acceleration in a coordinated turn. You can see that the attitude error decays to zero over about 20 seconds in this snapshot, but looking at the magnitude of the pitch correction I'm using to maintain a level attitude:
![errordecay](https://cloud.githubusercontent.com/assets/2300221/8253458/634

[2015-06-19 12:48] LorenzMeier commented on #2420
The filter is so short it might make sense to sift through it. It does compensate using GPS, there is probably something not quite right in how GPS is read out.

[2015-06-19 13:38] mhkabir commented on #2411
I'm using this : https://github.com/mhkabir/Firmware/tree/artemis
Which is pretty new.

[2015-06-19 13:43] LorenzMeier commented on #2411
Ok, could you share the console output? I have looked into this but I don't have a starting point to understand what / how it fails.

[2015-06-19 17:09] AndreasAntener opened #2426 "Handling COM_RC_IN_MODE"
@LorenzMeier
I think to really make use of this, we'd require a similar handling as for offboard: as long as there is a constant stream of manual control setpoints, allow to switch to "generated" or "no rc" mode. For mode 2 "generated" it would also make sense to have an RC switch to decide which input to take (at the moment they override each other).

Is this in the direction you wanted to go? Or

[2015-06-19 17:20] kd0aij commented on #2420
Verified that ATT_ACC_COMP parameter is > 0 in the log, but it looks like gpos.eph was too high, so accel comp was not applied.

[2015-06-19 17:59] kd0aij commented on #2420
I'll have to repeat this test with GPS. I thought I waited for a green LED before arming each time, but the Q test was the first session, so maybe I forgot the first time.

[2015-06-19 22:30] kd0aij commented on #2420
Repeat of Q test with GPS fix eliminated the attitude error accumulation during coordinated turns.

[2015-06-19 22:30] #2420 closed

[2015-06-20 13:43] LorenzMeier opened #2430 "POSIX: Sensor sim produces imperfect data"
@mcharleb The data we get from the sim must be distorted in time, scale or axis assignment. The performance is significantly worse compared to HIL.

[2015-06-20 13:44] LorenzMeier opened #2431 "POSIX: Dataman does not boot"
@mcharleb @tumbili The dataman does not boot correctly yet, making waypoint handling non-operational yet.

[2015-06-20 13:45] LorenzMeier opened #2432 "POSIX: MAVLink feedback string do not make it to the GCS"
@mcharleb @tumbili The MAVLink text messages never make it to the GCS. This makes debugging the port much harder, because all the usual error messages to narrow down issues are missing.

[2015-06-20 13:47] LorenzMeier opened #2433 "POSIX: Default setup needs to avoid standard ports"
@molecule The POSIX port uses port 14550 for the SIM, but this is the default port of QGroundControl and widely used throughout the industry. I've moved the SIM to port 14560 on master, please update the docs and your internal use and let me know when this issue can be closed.

[2015-06-20 15:43] davids5 opened #2434 "Convergence towards Bash compatible expansion of variables on nuttx_next (upstream Nuttx)"
While this issues is really with nuttx, I have placed it here because it is relevant to how the applications in PX4 Firmware will be affected when running on master vs. nuttx_next,

There needs to be a convergence towards Bash compatible  expansion of variables on nuttx_next for submission to upstream Nuttx

Currently on master

in init.s/rcS
[code]
When parsed

```mavlink start -r 1000```

when p

[2015-06-20 16:09] TSC21 commented on #2419
I will take a look on this. It just updated cause I issued that all submodules got updated to latest commit, when I was just looking for updating only mavlink. But then we don't loose anything updating the modules, so I'll see what's the problem.

[2015-06-20 20:14] pavel-kirienko commented on #2381
OK, I succeeded in reducing the pool block size to 48 bytes through some optimizations deep inside libuavcan. Current head of `uavcan_size_investigation`:

[code]

14800 bytes.

[2015-06-20 21:42] LorenzMeier commented on #2381
Awesome! @pavel-kirienko What is the testing state of this - is this ready for the stable branch?

[2015-06-20 21:59] pavel-kirienko commented on #2381
libuavcan is, but I'm not sure about the rest of the branch - let's hear from @davids5 who created it initially.

[2015-06-21 00:38] pavel-kirienko commented on #2381
UAVCAN firmware update logic takes 27k.

[code]

@davids5 Hanging we discussed last night is has been fixed via  https://github.com/PX4/Firmware/commit/42eb1d17c08657e5af7d08f7a1f347af064ea9ce.

[2015-06-21 00:56] pavel-kirienko commented on #2381
After some adjustments, the firmware update logic takes 26K (see `nuttx_next_uavcan_multi_threaded`).

[2015-06-21 02:18] #2298 closed

[2015-06-21 02:33] taogashi opened #2437 "miswriting in px4iofirmware/mixer.cpp?"
In the file src/modules/px4iofirmware/mixer.cpp around line 286:
[code]
As I comment out, is there any miswriting?

[2015-06-21 15:33] davids5 commented on #2381
Here are the results for nuttx_next_uavcan_multi_threaded 853b9dc567abcefcf7ee111492a5fff27fad53ce

![image](https://cloud.githubusercontent.com/assets/1945821/8272249/16c03e56-17d7-11e5-9f0a-050bad355c8f.png)

[2015-06-21 15:41] davids5 commented on #2381
Here are the figures for the px4cannode

![image](https://cloud.githubusercontent.com/assets/1945821/8272278/1a509600-17d8-11e5-9f1a-774f831e4f6f.png)

[2015-06-21 15:53] pavel-kirienko commented on #2381
I wonder why do our results differ by 1k.

[2015-06-21 16:09] mhkabir commented on #2433
* @mcharleb

[2015-06-21 17:11] davids5 commented on #2381
@pavel-kirienko

Could it be the 128 vs 64 magic number in

```static constexpr unsigned MemPoolSize = 64 * uavcan::MemPoolBlockSize;```

Or the fact I get a CCASERT failure with 48 and have to use 56?

[2015-06-21 17:21] davids5 commented on #2381
Here are the results on master_uavcan_modular	500a34749518b8853d2ba2849515d76f666bb5cd

You will note an oddity  - what looks like a 592 byte mem leak after a stop, but a restart and stop of the fw thread returns to the original. - I will recheck the lifecycle management to see if I missed anything.

![image](https://cloud.githubusercontent.com/assets/1945821/8272583/ee599620-17e4-11e5-9885-a71072

[2015-06-21 17:28] LorenzMeier commented on #2381
Ok. When you both think its ready for prime-time it would be great to have a PR against master. Because of the shallow testing I do not want to launch it by default, however, it should launch for all configs when the UAVCAN_ENABLED param is set to 1. We will later then default it to on. This will allow uavcan users to enable it from the GUI, but still shield the release from any side-effects we mi

[2015-06-21 17:34] pavel-kirienko commented on #2381
Okay. I shudder to ask, how much time do we have until the release?

[2015-06-21 17:42] LorenzMeier commented on #2381
There are not many issues left to resolve. We currently shoot for the beginning of next week. https://github.com/PX4/Firmware/milestones/First%20beta%20release

[2015-06-21 17:44] pavel-kirienko commented on #2381
Oh no. You said that the next release will follow in a few weeks, does it still hold?

[2015-06-21 17:50] LorenzMeier commented on #2381
Well, do you want to have the first broadly available release be conceived as non-operational with UAVCAN? Its not so much a time question but "first impression" question. To me it sounds like a terrible first impression to release with the current state.

Also I can't make any assertions when the next release will happen, and when affected users will upgrade.

[2015-06-21 19:13] davids5 commented on #2381
@pavel-kirienko

As we have been skype chatting about, the memory reduction of using 48 block size will not compile on master_uavcan_modular nor nuttx_next_uavcan_multi_threaded. I think the block allocation rework did not take into account the code you added for the virtual can driver and the testing was only done on uavcan_size_investigation that does not have the virtual can driver.

```In inst

[2015-06-22 05:24] tumbili commented on #2415
@LorenzMeier I can do this as soon as I have my quad back.

[2015-06-22 05:25] tumbili commented on #2421
Closing, since we have this in #2424

[2015-06-22 05:25] #2421 closed

[2015-06-22 12:04] Janesak1977 opened #2444 "MS5611 on I2C PX4FMUv1"
In file ms5611_i2c.cpp, line 165 and line 75, function name dev_ioctl in declaration and implementation of IOCTL function is not good. Name must be ioct.
MS5611 driver is not working on PX4FMUv1 (MS5611 is on I2C), because of that declaration.

[2015-06-22 12:21] LorenzMeier commented on #2444
Could you send the patch for the fix? I don't understand what you exactly mean without a reference to the code changes.

[2015-06-22 12:35] Janesak1977 commented on #2444
Here is patched ms5611_i2c.cpp.file.
See declaration and implementation of function ioctl.

On Mon, Jun 22, 2015 at 2:21 PM, Lorenz Meier <notifications@github.com>
wrote:

[2015-06-22 12:49] LorenzMeier commented on #2444
Could you please attach the file in the Guthub web form or copy its content there? You can't attach files via email to github discussions.

[2015-06-22 13:26] kd0aij commented on #2444
While the baro seems to be working on my FMUv1 running the release_v1.0.0 branch, ALTCTL does not. As soon as I switch to ALTCTL, my QAV250 climbs aggressively. Log: https://copy.com/myYzZB2oYGNPYqtt
Snapshot:
![altctl](https://cloud.githubusercontent.com/assets/2300221/8282732/faebf0e2-18af-11e5-80b7-3e9d75e8dc62.png)

[2015-06-22 14:40] Janesak1977 commented on #2444
Yes, in release_v1.0.0 branch it is OK.
Master branch declaration:
	virtual int	dev_ioctl(unsigned operation, unsigned &arg);
release_v1.0.0 branch declaration
	virtual int ioctl(unsigned operation, unsigned &arg);

[2015-06-22 15:35] kd0aij commented on #2444
This (regression?) is from commit cd30b4d5caf717d77b5f5d30ba696408a6062387 by Mark Charlebois. Something to do with posix virtual devices?

[2015-06-22 15:37] TSC21 commented on #2419
It was a merging problem. Closing now

[2015-06-22 15:37] #2419 closed

[2015-06-22 16:28] Janesak1977 commented on #2444
Initially it is from commit https://github.com/PX4/Firmware/commit/d013ac092769f7975e540a24c5756002251248a4 by @mcharleb

[2015-06-22 16:39] tumbili commented on #2415
@sjwilks Do you have bandwidth to test this? ;-)

[2015-06-22 16:50] tumbili commented on #2394
Closing this, tested.

[2015-06-22 16:50] #2394 closed

[2015-06-22 16:57] tumbili commented on #2430
@LorenzMeier Will look into this.

[2015-06-22 16:58] tumbili commented on #2431
@LorenzMeier Dataman boots now after setting the SYS_RESTART_TYPE param.

[2015-06-22 16:58] #2431 closed

[2015-06-22 17:05] kd0aij opened #2445 "bad IMU sensors in FMUv1 after crash?"
My QAV250 isn't flying well since a crash into a tree. Since the FMU/IO stack is hard mounted to the frame, I suspect that the accelerometers and/or the gyros have been damaged. While calibration completes without errors and the accel/gyro offsets look reasonable, the copter doesn't feel as controllable as before, and develops fairly large errors in roll and pitch when maneuvering. Yaw is also ten

[2015-06-22 17:14] pavel-kirienko commented on #2381
Fixed in https://github.com/PX4/Firmware/commit/cfde1b74e3df14d16adbbcaf6c9c502363a58e57.

[code]

Core: 12992 bytes
Servers: 21264 bytes

[2015-06-22 18:08] AndreasAntener commented on #2415
He's going to use your quad ;)

[2015-06-22 20:18] kd0aij commented on #2445
Wait Wait: that flight was with internal compass and ekf_att_pos_estimator. INAV_ENABLED was inadvertently set to zero. Need to fly again with the Q estimator.

[2015-06-22 20:21] LorenzMeier commented on #2445
You will want this branch if you want to give the ekf_att_pos_estimator a ride:
https://github.com/PX4/Firmware/pull/2438

[2015-06-22 20:35] tumbili commented on #2415
@AndreasAntener Sure :-D

[2015-06-22 21:32] davids5 commented on #2381
@pavel-kirienko I pulled in the files from https://github.com/PX4/Firmware/commit/cfde1b74e3df14d16adbbcaf6c9c502363a58e57

updated to latest uavcan master

Tested again on master_uavcan_modular

x + SYS_AUTOCONFIG [298,523] : 0
x + SYS_AUTOSTART [299,524] : 4010

[code]
![image](https://cloud.githubusercontent.com/assets/1945821/8293583/313b6b10-18d2-11e5-9248-8e745166780f.png)

I get Core of 154

[2015-06-22 21:40] LorenzMeier commented on #2432
Fixed by @tumbili, thanks!

[2015-06-22 21:40] #2432 closed

[2015-06-22 21:42] LorenzMeier commented on #2430
A test shows that this only affects the dynamic attitude estimation: The system interprets ~1.5 radians as 0.6 radians, so it systematically underestimates the real rotation. This is either a time delta issue or a scaling issue of the converted values.

[2015-06-22 22:00] LorenzMeier commented on #2411
I'm closing this now since we have no reproductions of the initial report.

[2015-06-22 22:00] #2411 closed

[2015-06-22 22:22] LorenzMeier commented on #2414
We should at least thin the samples to avoid fitting the sphere to an unevenly distributed set of points.

[2015-06-22 22:32] kd0aij commented on #2445
I think my Z accelerometer my be broken:
![badzaccel](https://cloud.githubusercontent.com/assets/2300221/8294821/43eee802-18fc-11e5-8b27-ab8c059757af.png)

[2015-06-22 22:42] kd0aij commented on #2445
I don't suppose a bent motor shaft or out-of-balance propellers would show up only in Z?

[2015-06-22 23:05] davids5 commented on #2381
@pavel-kirienko

The Latest code is not sending

![image](https://cloud.githubusercontent.com/assets/1945821/8295339/6b290b68-18df-11e5-9226-bd622225db94.png)

[2015-06-23 02:32] davids5 commented on #2381
@pavel-kirienko

The first breaking point is in the node ID allocation. The node is stuck not node allocating.

The virtual can driver's send is never being called.

- If I back out that last 2 (see below) changes on nuttx_next_uavcan_multi_threaded  by checking out at 853b9dc567abcefcf7ee111492a5fff27fad53ce and leave the uavcan on master but add the uint8 to nodesatus, etal  (6002a79ef04210ba937

[2015-06-23 05:08] sjwilks commented on #2415
Today should work.

On Mon, 22 Jun 2015 22:35 Roman Bapst <notifications@github.com> wrote:

[2015-06-23 06:01] tumbili commented on #2430
@LorenzMeier The simulated drivers are using a timestamp which they generate themselves. I will replace that one with the timestamp of the HIL sensor message.

[2015-06-23 06:02] tumbili commented on #2430
Also I checked the interval in which data is coming from the simulator and got on average 3ms.

[2015-06-23 06:10] LorenzMeier commented on #2381
@pavel-kirienko I would appreciate if we could move to a workflow where each and every protocol or library change is put through a minimal bench test suite (boot loading a node and checking if the baro / gps / mag still work) and larger changes are test flown.
Starting next week I might be able to help automate this.

This is not so much a release thing, but due diligence in avionics software deve

[2015-06-23 06:31] tumbili opened #2447 "POSIX: Mavlink does not stream with more than 20Hz"

[2015-06-23 06:54] LorenzMeier opened #2448 "ESC calibration not working with all ESCs"
It seems that the calibration procedure is not working with Tmotor Air 20A ESCs.

[2015-06-23 07:18] LorenzMeier opened #2449 "Check parameter transmission when dropping parameters with bit-boundary indices"
From here:
https://github.com/mavlink/qgroundcontrol/issues/1673#issuecomment-114309822

It sounds like we could be having an issue with retransmission of indices like 128.

[2015-06-23 11:17] LorenzMeier commented on #2449
Since this happened with a custom setup and not the release branch, I'm moving this to the 2nd beta release.

[2015-06-23 11:19] LorenzMeier commented on #2415
@sjwilks Something to do during food-coma maybe? 8)

[2015-06-23 14:00] TSC21 commented on #1281
@LorenzMeier I see that you have support for `MAV_CMD_NAV_TAKEOFF` in https://github.com/PX4/Firmware/blob/c62ae87c69963a4880c990c02000fd09e9b228f4/src/modules/mavlink/mavlink_mission.cpp, but where's the support for `MAV_CMD_NAV_LAND`. I see that you added https://github.com/PX4/Firmware/blob/c62ae87c69963a4880c990c02000fd09e9b228f4/src/modules/uORB/topics/mission.h#L59, but if the command is com

[2015-06-23 14:00] TSC21 commented on #1281
This is just to be aware of how I'm going to implement https://github.com/mavlink/mavlink/pull/401 in the loop.

[2015-06-23 14:14] tumbili commented on #2448
@LorenzMeier Are you having issues with that one? Could you say what the problem is, are the 5 seconds high pulse time too short/long?

[2015-06-23 17:42] sjwilks commented on #2415
We tested both v1 and v2 setups today. Ada will post the results tonight.
In general all good.

On Tue, 23 Jun 2015 13:19 Lorenz Meier <notifications@github.com> wrote:

[2015-06-23 18:14] AndreasAntener commented on #2415
Test report is submitted, just missing the F450 logs :) (btw, my qav didn't log half the flights.. missing the mission and the *cough* flip)

[2015-06-23 18:46] kd0aij commented on #2445
@AndreasAntener I think a collision with a tree trunk broke my Z accelerometer. Link to log and a plot are in the comments above; do you think I've come to the right conclusion?

[2015-06-23 21:51] tumbili commented on #2447
The problem had nothing to do with the mavlink app but rather was caused by the entire system running at 20Hz.

[2015-06-23 21:51] #2447 closed

[2015-06-23 23:28] davids5 commented on #2381
Merged and cross checked - @pavel-kirienko changes - Thank you!

Final results
![image](https://cloud.githubusercontent.com/assets/1945821/8319434/853a59e6-19aa-11e5-823d-7eddc68e2c9f.png)

There are 2 more changes that need to come in:

- [ ] Adding command line option upgrade fw - The reason for this is the bootloader timeout is 5 Seconds. With a fmu on usb the nodes will be booted before the ua

[2015-06-24 12:17] yyassa opened #2457 "-Wno-unused-variable: INAV estimator"
In a recent commit (736125441ecb4) in master, the following flag was added to allow unused variables in INAV estimator temporarily

In src/modules/position_estimator_inav/module.mk line45:
[code]

However i still could not compile master. This is solved if you replace it by:
[code]

(also checked the gcc documentation and only found '-Wno-unused-variable' and no '-Wno-unused')

Could this have bee

[2015-06-24 12:25] LorenzMeier commented on #2457
Its not a bug but depends on the GCC version. The right fix is to remove the flag and comment out the offending print / log / debug variable.

[2015-06-24 12:31] yyassa commented on #2457
Alright, thanks for the info!
Should I fix this? or do you mean to leave the debugging commented temporarily for a reason?

[2015-06-24 13:16] #2414 closed

[2015-06-24 15:40] LorenzMeier commented on #2445
It looks broken - closing this.

[2015-06-24 15:40] #2445 closed

[2015-06-24 15:40] LorenzMeier commented on #2430
The stopgap fix was this one:
https://github.com/PX4/Firmware/pull/2455

But the real fix is to block the command handler until the thread it launched returned.

[2015-06-24 16:02] tumbili opened #2458 "POSIX: mavlink receiver buffer too small?"
I was never able to send mission items from QGC to the flight stack (SITL). The message only gets parsed correctly if I increase the mavlink receiving message buffer (was at 32 bytes).

[2015-06-24 22:20] tumbili commented on #2458
Fixed in #2461

[2015-06-24 22:20] #2458 closed

[2015-06-24 22:22] tumbili opened #2462 "POSIX: Incorrect dataman file size"
On startup the dataman complains about the size of the dataman file. The size should be a multiple of 128 bytes but it is not. The size of the file when a mission is wrote to it is always set to 101392 Bytes, no matter how many items the mission has. This also leads to the dataman deleting the file on startup so a mission never survives a reboot.

[2015-06-25 00:08] jgoppert opened #2463 "Add Model Checking Support"
Ensuring reliability between commits is crucial and difficult to do with so many developers, so I have been working on adding model checking support. In addition, this will most likely be a requirement to certify many drones for commercial use.  I have a small proof of concept repo here: https://github.com/jgoppert/px4vv

See the README for an example of a state machine verification that closely f

[2015-06-25 06:30] tumbili opened #2464 "POSIX: Local position estimate not working"
Currently the position estimator only estimator the z coordinate.

[2015-06-25 06:31] tumbili opened #2465 "POSIX: Attitude estimator problem"
I still looks like the attitude of the vehicle in jMAVSim and the displayed attitude in QGC don't match at times.

[2015-06-25 06:33] tumbili commented on #2430
Related to #2465

[2015-06-25 06:55] LorenzMeier commented on #2464
So the GPS sim is not operational, or outputting wrong EPH / EPV values.

[2015-06-25 07:30] LorenzMeier commented on #2449
Fixed in https://github.com/PX4/Firmware/commit/3bad91dd3bd1d2ec712820c7b3f8f8b521cf8ac5

[2015-06-25 07:30] #2449 closed

[2015-06-25 07:53] LorenzMeier commented on #2465
You will need to fix the GPS sim first, as this might be accel related.

[2015-06-25 07:59] LorenzMeier commented on #2297
This should be fixed on master now - can you re-try?

[2015-06-25 07:59] LorenzMeier commented on #1970
Closing as we have no feedback.

[2015-06-25 07:59] #1970 closed

[2015-06-25 08:00] LorenzMeier commented on #2145
Update: This is a problem in some flow boards and their boot loader. We need a workaround for the firmware driver.

[2015-06-25 12:56] #2415 closed

[2015-06-25 13:06] LorenzMeier commented on #2381
Any reason to not check all nodes and upgrade them without a command line upgrade call? Has the boot loader been built to support power-cycling during the flashing (a.k.a write zero to the first atomic memory block initially and write the first block last with the correct address)?

I think its fine for the release to require the command line, but if its a quick thing it might make sense to just a

[2015-06-25 13:34] davids5 commented on #2381
Yes the bootloader will support  power-cycling during the flashing. They should auto update at boot.

I am supporting development with ```uavcan update fw``` and future support when mavlink ftp is used to upload new FW to the SD card - that can uses ```uavcan update fw``` to not require a power cycle.

Bootloader works like this:

If there is no valid Application program the nodes will wait. Nodes

[2015-06-25 13:37] davids5 commented on #2381
If we need to perform ```uavcan start fw``` and ```uavcan stop fw``` on events Then I just need to understand what the events are. Breaking them out was to ensure memory was not exhausted.

[2015-06-25 13:57] LorenzMeier commented on #2381
We want to scan the bus, check that all nodes have the right firmware version and upgrade all which haven't. The firmware binary can come in as file from microSD or as byte stream via telemetry.

[2015-06-25 14:34] LorenzMeier commented on #951
@tumbili here is a rough first idea for the setup tutorial:

SETUP VIDEO:

- Start with a close up scene showing the autopilot box content, explain where front is, where the front of the GPS is and that the orientation matters
- Switch to a plane with everything mounted and notebook and person in the view. Go through the airframe config (switching between full-size screen capture and video as well

[2015-06-25 15:01] LorenzMeier commented on #951
@DonLakeFlyer @dogmaphobic Any comments? Our ambition is to do fine without video, but a very basic intuition will be required.

[2015-06-25 15:03] pavel-kirienko commented on #2381
The byte stream will have to be stored somewhere first, which reduces the problem to the general case of uploading a file from SD card.

[2015-06-25 15:49] DonLakeFlyer commented on #951
The one last thing which can be confusing with fixed wing is setting trims. You need to do it right from the first step to get it right:
1) Zero all trims and sub-trims prior to RC Cal. Do the best you can to level surfaces using pushrod adjustment but not trim/sub-trim.
2) Fly in manual and adjust trims to level flight.
3) Land
4) Go back to RC Cal. Click the Copy trims.
5) At this point I’m no s

[2015-06-25 16:38] davids5 commented on #2381
I have completed and tested the download on new fw booting and running with both FMU and NODE leading and lagging. All cases work and the

![image](https://cloud.githubusercontent.com/assets/1945821/8359064/c8e97608-1aff-11e5-891b-3fd0b8d89e5c.png)

[code]

Some test cases
[code]

Even hit reset in the middle of the download. Recovered just fine :)

[2015-06-25 18:51] LorenzMeier commented on #2381
Awesome! So I'm looking forward to the last few UAVCAN updates and I'll start to worry in parallel about how to get the binaries from the internet there.

[2015-06-25 18:56] pavel-kirienko commented on #2381
I think the specification and the PX4 project in particular could benefit if someone drafted a proposition of how to retrieve firmware files from vendor's websites. Remember that UAVCAN node names are reversed internet domain names, e.g. `org.pixhawk.foobar`, which could be exploited neatly. I don't expect this to become a part of UAVCAN specification until maybe much later, when the idea is more

[2015-06-25 19:45] LorenzMeier commented on #2381
Agreed. I'm working on that already.

[2015-06-25 21:49] tumbili commented on #2464
Fixed by #2470

[2015-06-25 21:49] #2464 closed

[2015-06-25 22:31] tumbili opened #2471 "Navigator not running"
You can upload a mission and the navigator checks it and says it's ready. However, the mission is not flown, the quad stays where it is.

[2015-06-26 08:48] LorenzMeier opened #2473 "Provide separate controls system state"
For control feedback the signal continuity is important, which is defined by the airframe dynamics and not by the actual measurements. Example: If we have high vibrations, we want to filter out all high frequency parts for the controller since the airframe dynamics doesn't allow to (or would be inefficient) to counter all of them.

However, for cascaded estimators (e.g. using vision in the loop) i

[2015-06-26 09:29] tumbili opened #2474 "MC: Increased thrust problem"
@sjwilks @AndreasAntener I opened this issue so that we don't forget. Could you provide some explanation (and logs) what the problem is?

[2015-06-26 16:19] boosfelm opened #2476 "Tuning Gains EKF"
As discussed posting our tuning values for Sensor and Bias noise, which led to much better estimation results. Thanks @surberj for testing this. It has to be noted that this can be really aircraft specific so please be catious when testing. In our case the Pixhawk is embedded in a foam structure of a VTOL tailsitter design.

PE_ABIAS_PNOISE = 1.0e-5
PE_ACC_PNOISE = 0.05
PE_POSD_NOISE = 1.25 (estim

[2015-06-26 17:38] #2471 closed

[2015-06-26 17:46] LorenzMeier opened #2477 "Check Hex mixer"
I keep seeing motor spreads on hex systems. Most of them use carbon fiber tubes, so its easy to slant motors, but its something to cross-check:
http://dash.oznet.ch/view/s8nrp8sRuiJrnUSuLDi7w4#Actuators_PLOT

[2015-06-26 17:51] LorenzMeier commented on #2476
Thanks! I took your suggestion into this PR:
https://github.com/PX4/Firmware/pull/2478

[2015-06-26 18:40] #2384 closed

[2015-06-26 18:40] LorenzMeier commented on #2433
Resolved on master.

[2015-06-26 18:40] #2433 closed

[2015-06-26 18:41] LorenzMeier commented on #2316
@mcharleb I would be interested to see how bad it is when disabling partial linking for OS X CLANG. I recall doing this and ending up only with a param section linkage fail.

[2015-06-26 20:59] lfrodrigues opened #2479 "TeraRanger One slow boot"
The teraranger one driver in PX4 sometimes does not work correctly:
When the sensor is turned on at the same time as pixhawk sometimes driver will fail to probe it (it takes a bit for the sensor to be ready).
If I connect pixhawk after I connect the sensor to power all works fine.

I think the simplest solution is to add a 1 or 2 seconds delay when the driver is loaded. Is there a preferred way to

[2015-06-26 21:40] #2465 closed

[2015-06-26 21:45] LorenzMeier commented on #2430
@mcharleb I've traced this now to the HRT implementation and/or the gyro driver not delaying the sensor reads as much as it should. the inter-loop times are at 1 KHz, but should be at 250 Hz:
[code]

[2015-06-26 22:47] SimonWilks commented on #2474
There are two things we noticed.

Firstly, it is possibly simply an issue of getting the right default value for MPC_THR_MIN. A default of 0.1 might work for standard multirotors but the problem is that for some it will result in lift off on arming or tipping over when the props don't spin up at the same time. On the TBS Long Range even 0.05 was still too high and we went for 0.01 but didn't test

[2015-06-27 06:08] mhkabir opened #2480 "DISTANCE_SENSOR multi-subscribe still broken"
I've been trying to get the PX4Flow sonar + LL40LS working together.

```ls /dev/``` gives me :
[code]
I can see that the PX4flow sonar gets instance ID 0 ( Can see data in QGC )
I assume that the ll40ls is getting uorb instance ID 1, but using orb_subscribe_multi() with the instance set to 1 doesn't give me any data.

Any insights?

[2015-06-27 07:18] LorenzMeier commented on #2474
What you're describing sounds rather like an ESC calibration problem. With a lower value of MPC_THR_MIN the "spread" between motors is lower, resulting in higher PWM values for the lower spinning motors. Could it be that you need to run an ESC calibration on both platforms?

[2015-06-27 07:22] SimonWilks commented on #2474
Actually that could be an issue. We did re-run the ESC calibration and noticed that throttle was even higher than before. I recall a calibration issue being discussed at some point recently, could it be related?

[2015-06-27 08:30] LorenzMeier commented on #2479
As long as the delay does not introduce a busy loop of some sort its welcome.

[2015-06-27 08:40] LorenzMeier commented on #2463
That sounds great, and is something I have been wanting to do forever! But to prevent this becoming another unmaintained great idea it needs to scale, in particular to the new hardware platforms we're bringing up.

I think its a great initiative like a few you've proposed in the past already, but I want to make sure it doesn't end up as abandoned, unmaintained one-shot experiment, and for that to

[2015-06-27 08:55] lfrodrigues commented on #2479
Ok I see. Is there some example code in other part of the firmware do know which API to use?

[2015-06-27 09:01] LorenzMeier commented on #2479
Not yet. The right pattern would be to start the driver normally (register the work queue entry) and then do the probe in there until it succeeds or times out. So like reading the sensor, but instead you just keep probing it in 500 ms intervals or so.

[2015-06-27 10:24] jgoppert commented on #2463
**Adoption**
 * I agree that maintaining two versions isn't reasonable and we should try to get it adopted as soon as possible.
 * I think you are correct, that the easiest path for adoption is using the existing build system. For now I might leave my test setup in CMake, but when I pull it into a firmware version I will just compile with the existing build system.

**Plan**
 * I will try to do th

[2015-06-27 11:18] LorenzMeier commented on #2463
When you change the commander, please feel free to C++ify it as wanted / needed and/or do a cleanup. Its unreadable right now and the rewrite has been on the list for ages. I'll try to find more people to help with this, as I think its really a great initiative!

[2015-06-27 13:12] LorenzMeier commented on #2444
Fixed via 5e27b7b, thanks @tridge.

[2015-06-27 13:12] #2444 closed

[2015-06-27 13:15] LorenzMeier commented on #2408
Closed via 5e27b7b.

[2015-06-27 13:15] #2408 closed

[2015-06-27 13:16] LorenzMeier commented on #2480
Could you send a link to the exact line you're using? I'm pretty confident its not broken and if it is I would love to understand how to reproduce it.

Thanks!

[2015-06-27 16:48] cctsao1008 opened #2483 "Run hmc5883 info will get nothing"
Connect the pixhawk with USB and then open the terminal, run hmc5883 info will get nothing.

I am going to debug it.

Is there anyone have the same issue?

[2015-06-27 18:03] #2483 closed

[2015-06-27 18:06] cctsao1008 commented on #2483
The internal mag is lsm303d not hmc5883.
run lsm303d info will get the info of the mag.

[2015-06-27 18:47] mcharleb commented on #2316
I don't have access to OSX, but we have a DSP toolchain with MCLinker I
could try. I think OSX uses LLD though.
On Jun 26, 2015 8:41 AM, "Lorenz Meier" <notifications@github.com> wrote:

[2015-06-27 19:00] LorenzMeier commented on #2316
I did take an educated guess on Ubuntu, and I get the same error message as on OS X, I guess you can repro with this:

[code]

Which produces this error, similar to the OS X default linker:

[code]

[2015-06-28 05:27] supermice commented on #1856
@xuliren  What's the status now? Does the master firmware fixed the velocity control problem?

[2015-06-28 09:02] LorenzMeier opened #2486 "Auto-generation of uORB -> log format"
We use a Python [EmPy](https://pypi.python.org/pypi/EmPy/3.1/) based code generation setup for generating the C-code to do inter-process-communication using uORB.

Links to the implementation:
  * [templates](https://github.com/PX4/Firmware/tree/master/msg/templates/uorb)
  * [messages](https://github.com/PX4/Firmware/tree/master/msg)

Now what we would like to do is to not only generate the uORB

[2015-06-28 10:47] mhkabir commented on #2480
Subscribing via the wrapper here : https://github.com/PX4/Firmware/compare/master...mhkabir:artemis#diff-478580be4572c29aaaa7e5861078259eR31
Instance ID is the third argument in the ctor.

Wrapper simply calls orb_subscribe_multi here : https://github.com/PX4/Firmware/compare/master...mhkabir:artemis#diff-c036ce2c8ca0551dfec52f22f8578beaR86

[2015-06-28 14:26] bansiesta commented on #2408
Yep, works again, thanks!

[2015-06-28 14:43] LorenzMeier commented on #2391
@dogmaphobic @DonLakeFlyer the AGL altitude is quite relevant during normal operation - probably something to have as a big number in the HUD.

[2015-06-28 14:44] LorenzMeier commented on #2391
Works, closing.

[2015-06-28 14:44] #2391 closed

[2015-06-28 14:44] LorenzMeier commented on #2338
@dogmaphobic @DonLakeFlyer the AGL altitude is quite relevant during normal operation - probably something to have as a big number in the HUD.

[2015-06-28 14:53] bansiesta opened #2489 "FMUv1 randomly erases params"
Every now and then, it seems that all params are wiped from the FMUv1 EEPROM:

[code]

Any ideas why this would happen?

[2015-06-28 14:55] dogmaphobic commented on #2338
I currently capture altitude data from MAVLINK_MSG_ID_VFR_HUD. That gives us AMSL, WGS84 and Relative. What exactly is *Relative* altitude? Where would I get AGL altitude?

[2015-06-28 15:20] bansiesta commented on #2407
Swapped the IO board, yes it was a hardware issue! Sorry and thanks!

[2015-06-28 18:04] DonLakeFlyer opened #2490 "Bad parameter meta data"
I'm in the process of completing a pull in QGC which validates parameter value modification against the metadata. While doing that I've noticed quite a bit of validation meta-data which is incorrect. Here is a log from QGC which now checks the following things in the meta data:
- Values can be correctly converted to the parameter type
- Default value is within specified min/max values

I could use

[2015-06-28 18:04] DonLakeFlyer commented on #2490
@LorenzMeier Note the comment on whether this should go into the Release or not.

[2015-06-28 18:11] DonLakeFlyer commented on #2490
I changed the logging to not report blank default values:

PX4ParameterLoaderLog: Invalid default value, name: "COM_EF_TIME"  type: 6  default: QVariant(float, 10)  error: "Value must be within 0 and 7"
PX4ParameterLoaderLog: Invalid default value, name: "NAV_DLL_CH_LAT"  type: 5  default: QVariant(int, -266072120)  error: "Value must be within 0 and 2147483647"
PX4ParameterLoaderLog: Invalid defa

[2015-06-28 19:40] sjwilks commented on #2489
I had this happen once just a few days ago too on a V1 board. Thought it
might just have been a one off but it looks like it isn't the case.

On Sun, 28 Jun 2015 16:53 Ban Siesta <notifications@github.com> wrote:

[2015-06-29 16:39] cctsao1008 opened #2494 "Can't enter the BIND mode with some DSMX Remote Receiver(SPM9645)"
I just bought five DSMX Remote Receivers (SPM9645) from online store, All of them cannot get into BIND mode using the Qgroundcontrol, after change the pulse delay from 25us to 120us,the BIND mode works for each receiver.

[2015-06-29 16:39] cctsao1008 commented on #2494
Reference to the Baseflight & Cleanflight

/* spektrumBind function ported from Baseflight. It's used to bind satellite receiver to TX.

Function must be called immediately after startup so that we don't miss satellite bind window.
Known parameters. Tested with DSMX satellite and DX8 radio. Framerate (11ms or 22ms) must be selected from TX.
9 = DSMX 11ms / DSMX 22ms
5 = DSM2 11ms 2048 / DSM2 22ms

[2015-06-29 16:39] cctsao1008 commented on #2494
Reference to the OpenPilot

/* Try to bind DSMx satellite using specified number of pulses */
static void PIOS_DSM_Bind(struct pios_dsm_dev *dsm_dev, uint8_t bind)
{
const struct pios_dsm_cfg *cfg = dsm_dev->cfg;

GPIO_InitTypeDef GPIO_InitStructure = cfg->bind.init;

GPIO_InitStructure.GPIO_PuPd = GPIO_PuPd_UP;

/* just to limit bind pulses */
if (bind > 10) {
    bind = 10;
}

GPIO_Init(cfg->bin

[2015-06-29 16:40] cctsao1008 commented on #2494
This is my pull request..
https://github.com/PX4/Firmware/pull/2493

[2015-06-29 19:13] LorenzMeier commented on #2490
Let me have a pass

[2015-06-29 19:14] LorenzMeier opened #2495 "Set correct defaults for all params"
@DonLakeFlyer Tracking this here to fix up meta data.

I changed the logging to not report blank default values:

PX4ParameterLoaderLog: Invalid default value, name: "COM_EF_TIME" type: 6 default: QVariant(float, 10) error: "Value must be within 0 and 7"
PX4ParameterLoaderLog: Invalid default value, name: "NAV_DLL_CH_LAT" type: 5 default: QVariant(int, -266072120) error: "Value must be within 0 an

[2015-06-29 20:22] mcharleb commented on #2316
I gave this some time on the plane ride yesterday. There appears to be no -Ur support for LLD or MCLinker so I know of no way to take a bunch of object files, prelink them into an object file, and then localize all hidden global variables (via objcopy).

We can't build all the files in a module into one .o file directly because there is a mix of C ad C++ files and the C files require C linkage (co

[2015-06-29 20:43] DonLakeFlyer commented on #2495
Thanks Lorenz. After this is cleaned up I can change the source parser to validate these on the firmware end instead of QGC. Then this turns into build breaks on the firmware side when things are wrong.

[2015-06-29 20:43] LorenzMeier commented on #2494
Fixed, thanks!

[2015-06-29 20:43] #2494 closed

[2015-06-30 04:32] LorenzMeier commented on #2495
Duplicate of #2490

[2015-06-30 04:32] #2495 closed

[2015-06-30 05:11] LorenzMeier commented on #2490
Fixed in stable / beta, which will also be merged to master. Closing.

[2015-06-30 05:11] #2490 closed

[2015-06-30 11:38] mhkabir commented on #2489
I have seen this on FMU v2 as well 2-3 times. Just a reboot, no config changes, etc. yet the params are all reset. Initially dismissed as a one-off, but this keeps happening.
Couldn't find a way to reproduce it reliably.

[2015-06-30 14:32] #2007 closed

[2015-06-30 17:23] mcharleb commented on #2359
I supposed the CDev implementation could use the same args for register_driver and just pass dummy values for the 2nd and 3rd args but that seems less clear.

[2015-06-30 23:29] kd0aij commented on #2486
Since I'd like individually timestamped log entries to do impulse response estimation, I'd like to help out on this, but my Python is a bit rusty, and also not very "Pythonic"...

[2015-07-01 06:44] tonybaltovski commented on #1369
A lot has changed since this was opened so I will close this.

[2015-07-01 06:44] #1369 closed

[2015-07-01 13:04] dreamkeep commented on #1288
Hi @TSC21 ,
          what is the firmare version you used for px4 offboard test?

[2015-07-01 13:25] TSC21 commented on #1288
@dreamkeep this thread is kinda hold but right now you can use current master to do offboard control.
I'm closing this since it's already documented in https://pixhawk.org/dev/offboard_control and https://pixhawk.org/dev/offboard_control/testing.

[2015-07-01 13:25] #1288 closed

[2015-07-01 13:27] TSC21 commented on #2489
I also confirm this issue on FMUv2. It sometimes happens when I load new firmware to the board. It's difficult to reproduce as it doesn't happen within a fixed pattern, so I'm not able to figure when it happens or not. But all sensor callibrations, for example, disappear.

[2015-07-01 20:27] aerialhedgehog commented on #1856
I tried flying this yesterday and did not get any response from my hex
while sending velocity commands.

On Sat, Jun 27, 2015 at 10:27 PM, super_mice <notifications@github.com>
wrote:

--
 - Trent Lukaczyk
   Stanford University Engineering
   Cornell University Engineering 2010
   twl26@stanford.edu

[2015-07-01 20:28] aerialhedgehog commented on #1856
i was flying master, using the c_uart_interface example
https://github.com/mavlink/c_uart_interface_example

On Wed, Jul 1, 2015 at 1:27 PM, Trent Lukaczyk <twl26@stanford.edu> wrote:

--
 - Trent Lukaczyk
   Stanford University Engineering
   Cornell University Engineering 2010
   twl26@stanford.edu

[2015-07-01 22:53] jgoppert commented on #2463
Here is the start of the code:
https://github.com/jgoppert/Firmware/tree/commander2/src/modules/commander2

Let me know what you think before I get too far into it.
I just embedded a cmake file to do the testing.

[2015-07-01 22:56] jgoppert commented on #2463
I've decided to go with this: https://en.wikipedia.org/wiki/State_pattern for the finite state machine. It is very organized and extensible while the table felt very cramped and brittle.

[2015-07-01 23:01] jgoppert commented on #2463
Also, I haven't gotten very far yet, here is  a more complete example of the state pattern style fsm https://github.com/jgoppert/vvpilot/tree/master/src/vvp/modules/commander

[2015-07-01 23:08] LorenzMeier commented on #2463
The pattern itself sounds very useful. We did that in the navigator app, and the intent was to rewrite the commander in a similar fashion:
https://github.com/PX4/Firmware/tree/master/src/modules/navigator

[2015-07-01 23:32] LorenzMeier opened #2511 "Generate objects_common.cpp file for topics"
This file should also be generated.

https://github.com/PX4/Firmware/blob/master/src/modules/uORB/objects_common.cpp#L257-L258

[2015-07-02 01:41] mcharleb commented on #2430
This should have been fixed with the latest batch of changes. The code that did the limiting to 250Hz was ifdefed out for the posix build. I tested it and it seems to work for me.

[2015-07-02 08:08] LorenzMeier commented on #2164
https://github.com/mavlink/qgroundcontrol/issues/1697

[2015-07-02 15:35] LorenzMeier opened #2521 "POSIX: Launching thread should not return immediately"
In this line the thread we're launching is returning immediately. Instead what we want is the same behaviour as from a command line application, where the execution blocks until it is returning:
https://github.com/PX4/Firmware/blob/master/src/platforms/posix/main.cpp#L71

The usleep below could then also be removed.

[2015-07-02 17:27] mcharleb commented on #2521
The application runs the "start" or other command passed through it via argv. The start handling usually spawns a thread to run the app, and then the main returns while the other thread continues runs asynchronously.

What is the main thread (also the shell thread) supposed to wait for?

[2015-07-02 17:31] LorenzMeier commented on #2521
The issue is that your shell is not behaving like a shell. A normal shell blocks until the executed program ends. Because its not behaving as it should (and our wait logic hence can't operate as it should) we run into a *a lot* of race issues.
So what we really need is to wait until the thread returns. Because the thread you're launching is only the shell / start handler, and spawns another thread

[2015-07-02 17:51] mcharleb commented on #2521
I'll have a look.

[2015-07-02 18:50] orangelynx opened #2523 "Battery Remaining Estimate Voltage flawed"
Hi everyone,

for background see: https://groups.google.com/forum/#!topic/px4users/Aqq20MLNr-E

after experiencing some issues with jumping "battery remaining"-values, I took a look at  the source and quickly found the (in my opinion) problem in the commander_helper.cpp function battery_remaining_estimate_voltage.

The voltage drop is only taken into consideration for the maximum battery voltage,

[2015-07-02 19:20] wangsen1312 opened #2524 "Build the Firmware with some unknown issues?"
Using the instruction in this website make the firmware myself, https://pixhawk.org/dev/nuttx/building_and_flashing_console
But every time when do   make -j8
something unknown issue happen.
This is last part of the message:
#@ arm-none-eabi-ld -Ur -Map /home/xinxinzuo/GitHub/Firmware/Build/px4fmu-v1_default.build//home/xinxinzuo/GitHub/Firmware/src/modules/land_detector/module.pre.o.map  -o /home/

[2015-07-02 22:02] wangsen1312 commented on #2524
MayBe you can close the issue because I can download the older firmware, which is what I want. Thank you very much.

[2015-07-02 23:21] mcharleb commented on #2521
I am still not convinced your conclusions are correct. The flow for NuttX and for POSIX seem the same to me:

Nuttx shell runs dataman start which calls dataman_main(argc, argv)
That calls start() which sets a semaphore and spawns a task and waits for the waits for the task to initialize via the semaphore, and then returns.

The flow is the same for POSIX:

mainapp shell runs "dataman start" which

[2015-07-02 23:23] mcharleb commented on #2521
A "normal shell" won't block on a task that spawns new tasks, and then exits.

[2015-07-03 07:50] LorenzMeier commented on #2521
That's all fair, but the code is not doing what you think it's doing. Here is the output from starting the simulator app, which has a while() loop which only returns once it has the first data:
[code]

Your start handler table, which I already linked above, is non-blocking. And that's the core issue which needs to be fixed. Its currently *not* behaving like a shell and the complete system startup

[2015-07-03 07:58] LorenzMeier commented on #2521
I have pushed this state to master, so if you just run ```make posix && make sitl_quad``` you will get the output I shared here.

[2015-07-03 08:44] LorenzMeier commented on #2477
Seems to check out, closing this.

[2015-07-03 08:44] #2477 closed

[2015-07-03 11:33] AsMoh opened #2526 "Need urgent help , Plz.. Why I can't calibrate the joystick"
Hi,
We tried to fly our quadcopter using joystick, and it worked. Then, we wanted to try to use turnigy transmitter and turnigy 9x8c receiver, but it did not work maybe because we connected the receiver to the pixhawk by PPM encoder , and the turnigy 9x8c receiver gives PPM output. I mean the connection was wrong.

Therefore, we decided to continue using the joystick in our graduation project.
Whe

[2015-07-03 11:43] TSC21 commented on #2526
Are you using PX4 Firmware or Arducopter's?