[2016-06-03 06:10] mhkabir commented on #4652
@SamChenzx Could you please just follow what I'm saying? No additional settings other than ```-R 6```.

[2016-06-03 06:15] SamChenzx commented on #4652
@mhkabir If only -R 6 is set, I have takeoff once but the direction not correct. https://youtu.be/tkQ1cZjRAfA

[2016-06-03 06:20] mhkabir commented on #4652
@SamChenzx OK, good. So it flies correctly atleast, as I had expected. Now can you remove the HMC5883 and fly again after recalibrating? Just using internal mag of MPU9250.

[2016-06-03 06:27] SamChenzx commented on #4652
@mhkabir This video is shot two days ago, at that time the driver of internal mag hasn't released yet. I really want to know how you define the heading direction of a vehicle?

[2016-06-03 06:42] mhkabir commented on #4652
Heading direction = Direction nose points towards

[2016-06-03 10:35] AndreasAntener commented on #4723
I have this issue currently on Mac but only with `gazebo_standard_vtol`

[2016-06-03 11:20] jgoppert commented on #4705
I thought this is expected behavior.  Mis takeoff alt is the min takeoff alr, so it gets to that within nav accept radius of 1m, then follows mission alt, not sure how the estimators could be different here.

[2016-06-03 13:27] ecmnet commented on #4705
@jgoppert Thanks for clarification. I'll re-check my SITL settings with EKF2.

[2016-06-03 13:31] ecmnet commented on #4705
Ok. That's explaining it, MIS_TAKEOFF_ALT was set to 2.5m compared to 10.0 for LPE SITL. That means, after reaching 1.5m mission altitude was taken into account. Thanks again for the clarification. I'll close this issue.

[2016-06-03 13:31] #4705 closed

[2016-06-03 14:21] jgoppert commented on #4705
We should probably change the default for lpe sitl so others are not confused as well.

[2016-06-03 14:49] julianoes commented on #4723
Can you try gazebo 7?

Does the gazebo viewer close some seconds after startup?

[2016-06-03 14:52] sanderux commented on #4723
I prefer not to change a working setup as it was quite hard to get it running and stable. Viewer did not close but the props were not spinning, it seemed to hang

[2016-06-03 14:53] julianoes commented on #4723
Hm, that's different from what I see. For me the viewer closes.

[2016-06-03 14:59] sanderux commented on #4723
I will try this weekend if i have time

[2016-06-03 16:59] SamChenzx commented on #4652
@mhkabir Yesterday is too late in the night for me to do more test. I tested just now with a new git clone of the Firmware, changed nothing, just make and upload to the snapdragon.
Tried to set `df_mpu9250_wrapper start -R 6` or `df_mpu9250_wrapper start -R 2`, then carefully re-calibrate sensors before each test. Without set sensors ROTATION parameters in QGC, during calibration, the heading dire

[2016-06-03 17:03] SamChenzx commented on #4652
Forget to attach the mag calibration result:

<img width="599" alt="screen shot 2016-06-03 at 9 24 58 am" src="https://cloud.githubusercontent.com/assets/10758544/15786595/508c98b6-2972-11e6-81d1-a766987381f0.png">

[2016-06-03 22:28] yashm opened #4728 "frsky_telemetry not reporting on D4R-II and Taranis Plus"
1. frsky_telemetry not sending any data to Serial4 on Pixhawk was fixed by changing
   [Line 217 in frsky_telemetery.c](https://github.com/PX4/Firmware/blob/master/src/drivers/frsky_telemetry/frsky_telemetry.c#L217) from
   `} else if (status > 0) {`
   to
   `} else if (status >= 0) {`
2. After making the above change, serial data can be read off of Serial4 on a serial monitor through an FTDI ada

[2016-06-03 23:13] sanderux commented on #4723
@julianoes i tried updating to gazebo7, no effect

[2016-06-03 23:30] sanderux commented on #4723
@julianoes bisect came up with:

[code]

Makes sense :)

/cc @LorenzMeier

[2016-06-04 02:08] kd0aij commented on #4728
This indicates that the Pixhawk isn't seeing serial data coming from the D4R receiver. Probably a cable problem. Master is working properly on Pixracer using the standard port /dev/ttyS6

[2016-06-04 09:50] mhkabir commented on #4728
@yashm, 1 isn't a fix. You're just forcing it to send data, overriding the auto detection.

[2016-06-04 21:49] jcooper21 opened #4736 "Feature request for easier regulatory permitting of PX4"
It has come to my attention for the sake of commercial operation and permitting a more advanced geofence feature can make permitting PX4 much easier in North America.

A prevent breach option when setting up the geofence would be ideal. The 3DR Solo and DJI copters all have this feature.  It would be great if PX4 had this for copters and planes.

[2016-06-05 05:25] dagar commented on #4601
Full `make check` running on semaphore-ci in the px4-dev-base container. So far semaphore-ci seems about twice as fast as travis-ci, but it might be because it's the middle of the night on a weekend...

[2016-06-05 07:03] julianoes commented on #4653
@mcharleb I see your point but how often will this be the case that there are new and therefore missing symbols?

[2016-06-05 07:30] julianoes commented on #4723
@sanderux thanks for bisecting. I believe you that this commit breaks it for you but I don't have an explanation why because it doesn't for me. I tried both gazebo 6 and 7.

[2016-06-05 09:45] sanderux commented on #4723
What OS did you try? I'm on ubuntu 14.04

[2016-06-05 09:50] julianoes commented on #4723
I'm on Ubuntu 15.10.

[2016-06-05 09:54] sanderux commented on #4723
Does gazebo_standard_vtol work for you?

[2016-06-05 10:01] #4299 closed

[2016-06-05 13:47] #4723 closed

[2016-06-06 11:21] CarlOlsson opened #4740 "Can't write top in NSH"
I just flashed master (f9df60919e4722edade53b066d25248af9d73fd6) to two different pixracer boards and I can't write top in nsh. I only get "2J" back.
Is anyone else experiencing this?

[2016-06-06 11:25] CarlOlsson commented on #4740
It's on the wingwing fixed wing airplane and standard ekf running

[2016-06-06 11:47] devbharat commented on #4740
I just checked the available list of nuttx commands, top isn't there anymore. This is the update/subtree branch

![12345](https://cloud.githubusercontent.com/assets/3105122/15820968/2cbfa1a8-2bed-11e6-8471-7d71f8387127.png)

[2016-06-06 12:19] CarlOlsson commented on #4740
On standard master i get this output, which included the top command as a built in app

nsh> \0x1b[Khelp
help usage:  help [-v] [<cmd>]

  [           dd          hexdump     mkfifo      pwd         umount
  ?           df          kill        mkrd        rm          unset
  cat         echo        losetup     mh          rmdir       usleep
  cd          exec        ls          mount       set

[2016-06-06 12:28] LorenzMeier commented on #4740
Do you connect with a VT100-enabled client? Because it looks you might not. Try to run a fresh instance of screen.

[2016-06-06 12:44] bkueng opened #4742 "Where does our memory go?"
Since memory is scarce, I thought a different analysis gives some more insights, where the memory goes. We already analyzed stack sizes and static code size in general, so I did a heap analysis.

The result is this [nice graph](https://github.com/PX4/Firmware/files/300334/heap.pdf). I used `gperftools` under linux SITL. The numbers are all zero, because they are in MB, just look at the percentages

[2016-06-06 13:26] CarlOlsson commented on #4740
Yes it works with screen, thanks. Everything is as it should and closing here?

[2016-06-06 13:26] LorenzMeier commented on #4740
Yes - you just picked an incompatible terminal.

[2016-06-06 13:26] #4740 closed

[2016-06-06 14:41] zengdechi opened #4745 "langding bug of fixwing"
Today I broke my model.In Hil,landingslope.flare_relative_alt() always equal zero. it lead to can not limt throttle.

[2016-06-06 14:48] LorenzMeier commented on #4742
Nice analysis, impressive!

[2016-06-06 15:24] julianoes opened #4747 "Orientation of MPU6000 on Pixhawk upside down"
I ran into the case where the LSM303D and L3GD20 didn't start but the MPU6000 did. However, this meant the attitude estimate was upside down.

[2016-06-06 15:33] dagar commented on #4745
Which version of the firmware are you using?

[2016-06-06 18:32] julianoes commented on #4747
Nevermind, something else in my PR was messed up.

[2016-06-06 18:32] #4747 closed

[2016-06-06 19:20] jgoppert commented on #4714
I haven't been able to reproduce the altitude drift, see attached log and image:

![altitude](https://cloud.githubusercontent.com/assets/473772/15834536/8f105ac4-2bf1-11e6-8e2c-bda83bd51d13.png)

http://logs.uaventure.com/view/9zJWm66UET9J4p4wRnq32W

I was able to reproduce the logging issue. I resolved this by commented out the isfinite checks on the estimator status. The numbers all appear finit

[2016-06-06 19:46] jgoppert commented on #4714
I think this is might be due to a bad calibration of the pressure/gps offsets at boot, if you look at this plot, it looks like the global position altitude is converging to the GPS altitude.

![image](https://cloud.githubusercontent.com/assets/473772/15835400/698025ec-2bf5-11e6-9366-04a5435d272e.png)

The only way for me to say conclusively is another complete log of this event. I can't reproduce

[2016-06-06 19:52] LorenzMeier commented on #4714
@jgoppert what is the condition to initialize LPEs altitude estimate? Does GPS lock have to be good?

[2016-06-06 20:40] jgoppert commented on #4714
@LorenzMeier 10 readings with eph < 3, n_sat >= 6

Maybe epv and lock type should also be a requirement?

https://github.com/PX4/Firmware/blob/master/src/modules/local_position_estimator/sensors/gps.cpp#L55

[2016-06-06 20:54] LorenzMeier commented on #4714
You should certainly also factor those two in, yes.

[2016-06-06 21:12] jgoppert commented on #4714
Log of gps stats over drift flight:
![image](https://cloud.githubusercontent.com/assets/473772/15837944/41173c1a-2c01-11e6-99a0-9b9ab84dd64b.png)

Log of gps stats over recent flight of master:
![image](https://cloud.githubusercontent.com/assets/473772/15837950/45addb4e-2c01-11e6-88cd-a76196e1c95c.png)

You can see that EPV was very high for this drift flight, so the offset theory may be reasonabl

[2016-06-06 21:33] LorenzMeier commented on #4742
@bkueng The param system should not be that heavy on NuttX - but we should check. We need to make  sure param names never get copied but stay const.

[2016-06-06 21:40] LorenzMeier commented on #4742
Just did the math. Its certainly not strings. Need to see if we can make the param vans more lightweight.

[2016-06-07 00:13] jgoppert opened #4751 "Battery Voltage Gain Scaling for Motor Outputs"
Lipo batteries typically have a 10-20% change in voltage over the course of a flight. Because of this, it appears the motor gains are also changing by ~20% during a flight. On some frames, this makes it very hard to find gains that fly well during the entire duration. You can also see this in the throttle output of logs:

http://logs.uaventure.com/view/4RFQF4wAGZjLDe9koXhJ5m#Altitude_PLOT

Notice

[2016-06-07 00:36] jgoppert commented on #4751
![image](https://cloud.githubusercontent.com/assets/473772/15842358/eea85e7e-2c1d-11e6-9da9-61e1b7fe70d2.png)

![image](https://cloud.githubusercontent.com/assets/473772/15842360/f2d38a5a-2c1d-11e6-9bf1-1d955f9cf339.png)

[2016-06-07 00:37] jgoppert commented on #4751
Here are the commands I used to generate the above plots:

[code]

You scan see that the bottom curve is much more level that the top.

[2016-06-07 00:47] jgoppert commented on #4714
This isn't even running LPE, SYS_MC_EST_GROUP = 0.0

This is an INAV bug. You can see it even in the log parameters. I just noticed it because Ilia gave me all the files off of his sdcard and I noticed that they were never running lpe

 PID COMMAND                   CPU(ms) CPU(%)  USED/STACK PRIO(BASE) STATE
   0 Idle Task                  106873 57.016     0/    0   0 (  0)  READY
   1 hpwork

[2016-06-07 00:47] #4714 closed

[2016-06-07 06:53] LorenzMeier opened #4752 "Circling flight mode"
@tumbili We need to introduce a circle flight mode for multicopters which allows to orbit a given position. This should either be enabled by setting the origin and radius in the UI (in a mission, or in the LOITER / HOLD mode) or by flicking a switch on the remote, which re-maps the sticks to move the drone along the circle and adjust the radius.

[2016-06-07 06:55] LorenzMeier opened #4753 "Pre-programmed flight primitives"
@tumbili @bkueng We need support for pre-programmed flight primitives like for example flying backwards and up for a zoom-out motion as offered by today's common consumer systems. These primitives should be available in missions, but we should also be able to trigger them from the remote and modify them with stick input.

[2016-06-07 06:57] jcooper21 commented on #4751
I would like to add lithium ion have an even larger voltage range than Lipos from 4.2 volts/cell down to 2.5 volts/cell so it had an even larger effect with those batteries.

[2016-06-07 07:28] Namorus opened #4754 "jMAVSim installation fails"
Hi everyone
I've got a problem with the installation of jMAVSim.
I followed the guide provided: https://pixhawk.org/dev/hil/jmavsim
Unfortunately I'm not able to build jMAVSim.

maverick@Mavericks-MacBook-Pro:~/jMAVSim$ **git clone https://github.com/PX4/jMAVSim.git**
Cloning into 'jMAVSim'...
remote: Counting objects: 2248, done.
remote: Total 2248 (delta 5), reused 5 (delta 5), pack-reused 2242

[2016-06-07 08:05] Namorus commented on #4754
I gave it another try with original git repository: https://github.com/DrTon/jMAVSim
This time, the installation seems fine.

maverick@Mavericks-MacBook-Pro:~/jMAVSim$ **git clone https://github.com/DrTon/jMAVSim**
Cloning into 'jMAVSim'...
remote: Counting objects: 1448, done.
remote: Total 1448 (delta 0), reused 0 (delta 0), pack-reused 1448
Receiving objects: 100% (1448/1448), 13.15 MiB | 2.35

[2016-06-07 08:41] zengdechi commented on #4745
I download the source code from github on May 24.

[2016-06-07 09:16] MHageH commented on #4754
Following the same procedure on [jmavsim tutorial] (https://pixhawk.org/dev/hil/jmavsim), the compilation runs successfully on Linux Debian x64
[code]
Following the original PX4 simulation procedure : [SITL](http://dev.px4.io/simulation-sitl.html), the firmware runs in SITL mode too (compilation successful).
Did you follow the [Mac OS guide](http://dev.px4.io/starting-installing-mac.html) correctl

[2016-06-07 09:44] Namorus commented on #4754
I followed the Mac OS guide again and it seems that everything is installed correctly:
(by the way: I'm running Mac OSX El Capitan)

maverick@Mavericks-MacBook-Pro:~$ **brew tap PX4/homebrew-px4**
maverick@Mavericks-MacBook-Pro:~$ **brew tap osrf/simulation**
maverick@Mavericks-MacBook-Pro:~$ **brew update**
Already up-to-date.
maverick@Mavericks-MacBook-Pro:~$ **brew install git bash-completion g

[2016-06-07 12:12] Namorus commented on #4754
Wrong java version was the problem. I had Java SE Runtime Environment 8  installed, which was obviously the **wrong one**:
http://www.oracle.com/technetwork/java/javase/downloads/jre8-downloads-2133155.html
**Java SE Development Kit 8** solved the problem:
http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html

[2016-06-07 12:12] #4754 closed

[2016-06-07 12:41] julianoes opened #4757 "param SYS_MC_EST_GROUP not available in px4fmu-v2_ekf2"
Once you have flashed px4fmu-v2_ekf2 on to Pixhawk, you can't actually change the param `SYS_MC_EST_GROUP` to `2` because the param can't be found.

The param should always get compiled in, not sure why this isn't the case.

[2016-06-07 12:57] LorenzMeier commented on #4757
Because the param has no function for that development version. I'll close this. The param will be active in standard pixhawk once we replaced EKF1 with EKF2.

[2016-06-07 12:57] #4757 closed

[2016-06-07 14:31] julianoes opened #4759 "Snapdragon: sometimes QURT build takes a very long time"
Recently I noticed that "sometimes" a clean build for QURT takes an awful long time.
This has happened both with Qualcomm SDK 2.0 and SDK 3.0.

The moment where it happens is `HERE`:

[code]

@mcharleb any idea?

[2016-06-07 14:58] julianoes commented on #4757
Hm, I must have mistyped something or been confused. I just played through this and the param is available for both and seems to work. Sorry about that.

[2016-06-07 15:32] okalachev opened #4760 "Can’t connect to SITL using DroneKit – mode is 0"
Checked out v1.3.1 version of the Firmware. Built and ran SITL with the command:
[code]

[2016-06-07 16:09] LorenzMeier commented on #4760
Dronekit support is work in progress. You have to use QGroundControl, not APM Planner.

Can you file an issue in Dronekit for the mode announcement?

And please look at http://dev.px4.io for a Dronekit example.

[2016-06-07 16:09] #4760 closed

[2016-06-07 18:17] tumbili opened #4762 "Log LPE innovations and innovation variances"
@jgoppert In order to better analyse the performance of the filter and to help tuning it we should log all the innovations and the corresponding variances. I'm happy to rename the ekf2_innovations topic to estimator_innovations.

[2016-06-07 18:39] tumbili commented on #4523
@jcooper21 I haven't changed anything on master and I haven't been able to reproduce this.
Could you do another test flight on master and see if you still have this problem.

[2016-06-07 18:42] tumbili commented on #3098
Implemented in #4312

[2016-06-07 18:42] #3098 closed

[2016-06-07 18:46] okalachev commented on #4760
I’m sorry, I don’t completely get you answer.

Is mode «0» a correct mode, that is, for some reason, isn’t defined in DroneKit? Also, I can’t change it from DroneKit, to «GUIDED» for example, is that a DroneKit issue?

[2016-06-07 18:53] okalachev commented on #4760
Also, not I tried 14550 UDP port, and got another exception:
[code]

[2016-06-07 19:20] LorenzMeier commented on #4760
It would really help if you would consider reading the documentation I referenced earlier:
http://dev.px4.io/dronekit-example.html

[2016-06-07 20:02] jgoppert commented on #4762
@tumbili The estimator states and variances are logged in the estimator_status topic, but the innovations would be a nice edition.

[2016-06-07 20:07] dagar commented on #4736
Can you expand on how this would be different than the current geofence? Do you want the current functionality but the fence to be more intelligent so it takes control before breach instead of after?
Or are you talking about adding keep out areas?

[2016-06-07 20:11] okalachev commented on #4760
OK, thanks, I read it. So, it’s impossible to switch mode with DroneKit’s vehicle.mode property? But I was able to do that on a real PX4.
Anyways, the example file on the manual doesn’t connect to the simulation copter either, it hangs with the same exception:
[code]

[2016-06-07 20:21] dagar commented on #4387
I did a quick test and the entire orb generation (headers and source) only takes about 2-3 seconds per target.

[2016-06-07 20:21] #4387 closed

[2016-06-07 20:22] LorenzMeier commented on #4760
That's because you didn't follow the instructions - did you see that they require you to install the latest Dronekit from source?

[2016-06-07 20:34] okalachev commented on #4760
Using the latest DroneKit from the sources. Got the same exception.

[2016-06-07 20:45] tubeme commented on #4753
Very good idea! I was thinking about dedicated set of Film and TV shooting modes specially tailored to  the movie and tv shooting pros. Like for example for your idea I thought that in this zoom mode if I could control the whole backward and up movement with just the pitch.. Like if I pitch down the quad should go back and upward. If I pitch up than the quad goes forward and down. Another useful p

[2016-06-07 20:46] tubeme commented on #4752
Movie mode! Perfect idea!

[2016-06-07 20:52] dagar commented on #3810
Planned for v1.5.0 #3810

[2016-06-07 20:52] #3810 closed

[2016-06-07 20:56] okalachev commented on #4760
Also, I would appreciate very much, it you made it more clear for me. Now, I’m trying to make an autonomous flight on a drone using DroneKit.

You said, that supporting DroneKit is in progress, so does the PX4 support following DroneKit’s features?

- simple_takeoff? (worked for me on a real drone)
- simple_goto? (didn’t try)
- controlling the speeds by SET_POSITION_TARGET_LOCAL_NED MAVLink messag

[2016-06-07 21:00] tubeme opened #4764 "VTOL: Nasty Yaw problem after back trans. in ALT and POS"
Please help me solve this mystery.

After a long way with your help we've managed to make almost perfect transitions in Stabalized mode. But recently started to do Altitude and Position mode transitions and now we have e different set of problems.

The front transition is rock solid in all modes, but we have a very strange problem with the yaw handling after we make back transition in the assisted

[2016-06-07 21:10] jcooper21 commented on #4736
If the geofence is set to 100m if the plane hits 100 to 101m then it pushes the plane back down to 100m rather than just saying it breached by X amount or go into loiter.

For distance it prevents a breach if it breaches it turns it back into the geofence area and contains it.

[2016-06-07 21:19] dagar commented on #4736
So it sounds like the geofence max vertical distance should also be an altitude cap. That would apply in any mode that controls altitude, but you'd still get the current behaviour if you exceeded in manual/stabilized.

Isn't the distance behaviour that you described what happens now if you've set the "geofence violation action" to RTL? One possible improvement here is making it more intelligent so

[2016-06-07 21:35] marianobianchi commented on #3475
I had the same problem. I could run "make posix_sitl_default gazebo" when included "find_package(Protobuf REQUIRED)" in line 24 from https://github.com/PX4/sitl_gazebo/blob/master/CMakeLists.txt.

I''m running Ubuntu 16.04 and ROS Kinetic.

Why is this issue closed if it isn't already solved?

[2016-06-07 22:48] jcooper21 commented on #4736
Yes I think you have nailed it there with the altitude cap.

[2016-06-07 22:59] marianobianchi opened #4765 "SITL takeoff problem"
When running "make posix_sitl_default gazebo" and then execute "commander takeoff 1" in the px4 console everything works correctly.

On the other hand, if I run these commands in different consoles:
* Console 1:
  * source <ROS_WORKSPACE>/devel/setup.bash
  * source <FIRMWARE_REPO_PATH>/integrationtests/setup_gazebo_ros.bash <FIRMWARE_REPO_PATH>
  * roslaunch px4 posix_sitl.launch
* Console 2:
  *

[2016-06-07 23:12] jgoppert opened #4766 "No throttle response in manual without position publication"
We need to investigate further, but while testing LPE, if it wasn't publishing position due to waiting on a GPS signal for altitude initializatoin (LPE_GPS_ON) flag, the throttle of the vehicle would not respond even when in full manual control.

[2016-06-07 23:15] sgstreet opened #4767 "Out of Tree Build Fails to Generate Initial/Default Parameters"
Building the px4/Firmware project out of the source tree generates a valid executable (successful boot) but a bad/incomplete romfs.  Using the following (assuming PX4_SRC_PATH and INSTALL_ROOT are different)

    cmake $PX4_SRC_PATH -G "Unix Makefiles" -DCMAKE_INSTALL_PREFIX=$INSTALL_ROOT -DCONFIG=nuttx_px4fmu-v4_default
    make

When the resulting image is loaded on a pixracer the following cons

[2016-06-08 04:35] LorenzMeier commented on #4765
I think the culprit is your takeoff command. You're telling the drone to fly to africa (latitude and longitude 0, 0). You need to send it either NaN to ignore those or send the current position.

[2016-06-08 04:35] #4765 closed

[2016-06-08 04:39] LorenzMeier commented on #4766
@julianoes Can you have a look?

[2016-06-08 04:41] mhkabir commented on #4766
This is because of land detector. It doesn't (recently) work without the position estimate.

[2016-06-08 04:52] mhkabir commented on #4759
I believe that this started happening after we enabled more compiler optimizations.
Disabling build of older att-pos EKF was a workaround that worked for me.

[2016-06-08 05:06] jcooper21 commented on #4523
@tumbili I will switch out my GPS to the HK M8N and do another flight test. I'll try in the next couple days and upload a log.

[2016-06-08 05:53] julianoes commented on #4766
Thanks for reporting @jgoppert. I'm looking into it.

[2016-06-08 06:01] jgoppert commented on #4751
@LorenzMeier thoughts on this? Should be easy to implement.

[2016-06-08 06:02] LorenzMeier commented on #4751
Sounds like a good idea, yes. Just required enough test time.

[2016-06-08 06:17] julianoes commented on #4766
I can reproduce the problem, it's only related to LPE and doesn't happen with ekf2. Will debug further.

[2016-06-08 07:05] julianoes commented on #4766
@jgoppert I did a git bisect and it points me here: 97e6a57501e58b3151300dcaa8d7215d9a47eb9c

As I understand it, the following happens:
1. Local position is not published by LPE without GPS
2. The position control loop doesn't run because it does `continue` [here](https://github.com/PX4/Firmware/blob/master/src/modules/mc_pos_control/mc_pos_control_main.cpp#L1239), so it doesn't pass on the manua

[2016-06-08 07:12] tumbili commented on #4766
@julianoes Some time ago the attitude setpoint was generated both in the position controller and in the attitude controller. After that we moved the setpoint generation into mpc only. The cleanest way would probably be to have the stick mapper module publish the setpoint but that is nowhere near to be completed.

[2016-06-08 07:13] tumbili commented on #4766
@jgoppert @julianoes Why doesn't LPE publish local position without gps? It can still use baro for height.

[2016-06-08 09:05] julianoes commented on #4434
@davids5 Yer it's good enough for now, let's close. Sorry for the long silence on this.

[2016-06-08 09:05] #4434 closed

[2016-06-08 09:11] julianoes commented on #4542
@SamChenzx: Sorry that I didn't respond earlier here. Your confusion comes from the fact that snapdragon_rc_pwm.cpp runs on a Pixhawk/Pixfalcon/Pixracer and does the input output for the Snapdragon. In order to use it, you set the SYS_AUTOSTART param to 20000 and the Pixhawk then acts as a passthrough for Snapdragon.

I'm assuming what you want is to have RC input without having to use another mic

[2016-06-08 09:25] tumbili opened #4769 "VTOL does not loiter if no WP after transition"
Tested a mission that consists of a takeoff waypoint and a VTOL transition waypoint to fw flight.
After the transition the navigator announces loiter mode due to completed mission but the plane just keeps on flying in a straight line.
@AndreasAntener FYI

[2016-06-08 09:33] tumbili commented on #3372
Implemented in #4770

[2016-06-08 09:33] #3372 closed

[2016-06-08 10:10] AndreasAntener commented on #4722
Fixed on master

[2016-06-08 10:10] #4722 closed

[2016-06-08 10:14] bkueng commented on #4742
Reduction of `SubscriberData` is here: https://github.com/PX4/Firmware/pull/4771

This is the [updated graph](https://github.com/PX4/Firmware/files/304483/heap_new.pdf). In several runs, `param` does not stick out anymore. Not sure what happened the first time with `params`, but I think it's fine.

[2016-06-08 10:46] julianoes commented on #4706
Is this problem still persisting? If yes, can you please attach a log for investigation?

[2016-06-08 11:22] LorenzMeier opened #4774 "Complete STL files for X8 Delta VTOL"
@sanderux I have the main body - could you export your mounts so we can add them?

<img width="979" alt="screen shot 2016-06-08 at 13 20 18" src="https://cloud.githubusercontent.com/assets/1208119/15892786/00966716-2d7c-11e6-9f7c-3909238228c6.png">

[2016-06-08 11:40] marianobianchi commented on #4765
Ohh, i'm sorry... I thought /mavros/cmd/takeoff was a takeoff at current position (using current position as 0,0 for longitude, latitude).

I will try to learn how to debug so i don't bother you with these kind of questions.... If you have some advice on how to debug I will thank you pretty much

[2016-06-08 11:46] tumbili commented on #4764
@tubeme Hi Vasil, I had a look at your log and I think you have brought yourself in a nasty situation.
I was having a look at the situation where the vehicle was turning around several times in yaw although the yaw setpoint was fixed at roughly 0 degrees. Due to the relatively big inertia of the plane and the weak yaw authority of the motors the controller got into the situation where it couldn't

[2016-06-08 13:31] jgoppert commented on #4766
@tumbili LPE has a flag LPE_GPS_ON, if it is set to 1, it expects that a GPS is connected, and will wait to initialize the altitude until enough GPS readings have been received. If LPE_GPS_ON = 0, then it will allow baro to initialize the altitude. The issue was that the baro initialization was typically happening first and all sensor offsets were being calculated relative to baro instead of GPS w

[2016-06-08 13:54] SamChenzx commented on #4542
Thanks, now I'm clear about that.

On Wednesday, June 8, 2016, Julian Oes <notifications@github.com> wrote:

[2016-06-08 14:19] julianoes commented on #4542
Ok, do you have more questions that I didn't see here, or can we close the issue?

[2016-06-08 14:20] SamChenzx commented on #4542
Close this issue please.

On Wednesday, June 8, 2016, Julian Oes <notifications@github.com> wrote:

[2016-06-08 14:21] #4542 closed

[2016-06-08 14:59] tubeme commented on #4764
@tumbili Hi Roman, thanks for the look and here is more info because I understand exactly what you are saying and in this situation I have no solution so the dev team is my only hope.

This is not applicable to our VTOL, because it is flying wing design. We get YAW control only after we make the transition.

This is exactly what is happening in the transition. We have a huge inertial moments when

[2016-06-08 20:52] tumbili commented on #4764
@tubeme Thanks for the detailed explanation. Looking at another log of yours I see that the back-transition (2 seconds) happens without any issues but then your are commanding roll angles while the vehicle is still travelling with a high speed (10 m/s). In that situation only the multicopter position controller is active and you are trying to manoeuvre it around. Therefore, I'm not surprised that

[2016-06-08 21:43] Aperture-Laboratories opened #4780 "Primary compass not recognized upon boot"
Firmware: Latest master as of yesterday (6/7/2016)
FMU: v2
Compass Hardware: Zubax GNSSv2, 3DR GPS+Compass, Internal Compass

While a compass is connected to the Pixhawk FMUv2 (whether it be a Zubax GNSSv2, 3DR GPS + Compass, or internal compass) the error reported by QGC is that "Sensors are not setup correctly" and the nutshell command "commander check" reveals this:

[code]

Output from top:

[

[2016-06-08 22:20] sgstreet commented on #4767
See pull request https://github.com/PX4/Firmware/pull/4781

[2016-06-08 22:24] sanderux commented on #4780
I had this issue +- 2 weeks ago on master, i assumed it was bad wiring. Different branch did however seem to load without problems. @julianoes @LorenzMeier did something change here?

[2016-06-08 22:30] sanderux commented on #4769
transition sets a virtual waypoint in front of the vehicle (far in front), perhaps that causes this behavior?
https://github.com/PX4/Firmware/blob/master/src/modules/navigator/mission_block.cpp#L340-L350

[2016-06-09 02:30] mhkabir commented on #4780
Does this issue persist even after recalibration?

Can you confirm that the calibration step  actually completes properly? You should reset everything and try recalibrating. Dump the pre and post calibration params here.

[2016-06-09 06:58] RomanBapst opened #4782 "Magnetic field of JMAVSim not realistic in magnitude"
Something is wrong with the way JMAVSim generates the earth magnetic field vector.
The Z component of the field is way too large, e.g. 1.7ga.
EKF 3D mag fusion does not work well like this.

[2016-06-09 07:34] tumbili opened #4783 "Gyro bias not substracted in control state for ekf2"

[2016-06-09 07:43] sanderux opened #4784 "VTOL_LAND ignores altitude"
When setting a VTOL_LAND mission item the vehicle navigates to the waypoint, transitions and lands.
A common scenario would be to set this waypoint on a lower altitude to minimize the time required for descend. In the current setup however, the navigator does not take the altitude of this waypoint into account. I believe this was because the default altitude of this type of mission item was 0.

[2016-06-09 10:15] sanderux commented on #4764
@tubeme

Assuming you flying wing has stabilizers (most likely at the wing tips) this will indeed help your performance.

[2016-06-09 10:42] sanderux opened #4786 "implement throttle setting for MAV_CMD_DO_CHANGE_SPEED"
According to https://pixhawk.ethz.ch/mavlink/#MAV_CMD_DO_CHANGE_SPEED
Param 3 should change throttle percentage.

This is not implemented yet:
https://github.com/PX4/Firmware/blob/master/src/modules/navigator/mission_block.cpp#L124

[2016-06-09 10:43] sanderux commented on #4786
also, no differentiation for the groundspeed / airspeed is made now.
At this moment i will only focus on the throttle setting

[2016-06-09 11:31] julianoes commented on #4766
@jgoppert: so where does this need to be resolved? Do you think that manual flight should be allowed even if no local position is published?
This would mean that the input topic copying needs to be happening differently. The easiest would be to remove the `continue` in the position controller and make the poll timeout smaller.

[2016-06-09 14:41] jgoppert commented on #4766
@julianoes I think that manual control should be possible without a position estimator running, so whatever is easiest to make that work.

[2016-06-09 14:43] LorenzMeier commented on #4766
Yea, short timeout plus no continue makes sense. Eventually this should go into the stick mapper.

[2016-06-09 14:48] Aperture-Laboratories commented on #4780
Saved them as text files as github doesn't support the params extension. I re-calibrated and the issue would still arise after a reboot. Every reboot I'd need to recal.

[initial_params.txt](https://github.com/PX4/Firmware/files/307092/initial_params.txt)
[post_campass_calibration.txt](https://github.com/PX4/Firmware/files/307093/post_campass_calibration.txt)

Important detail: Calibration succeed

[2016-06-09 15:36] tumbili commented on #2307
Implemented in #4787

[2016-06-09 15:36] #2307 closed

[2016-06-09 18:03] samuel6113 opened #4788 "Lidar lite and Px4Flow support for Pixracer"
Hi all, I have a question about the difference between pixhawk and pixracer. I want to install lidar lite and px4flow on my platform and use mavros to echo their topics. I was able to do this on pixhawk but not on pixracer. I assume most of the hardware setup between them are the same except pwm pins. The firmware version is also different (v2 v.s. v4). Is there anything I need change in the firmw

[2016-06-09 19:11] dagar commented on #4767
Fixed as of https://github.com/PX4/Firmware/commit/039d5528ddfba211d07d3e970d0e6d2922ea1765

[2016-06-09 19:11] #4767 closed

[2016-06-09 19:36] kd0aij commented on #4767
doesn't work for me using Eclipse/Mars. Lots of errors like:
[code]

[2016-06-09 19:52] dagar commented on #4788
It's only started on the px4fmu-v2 and MINDPX_V2 at the moment.
https://github.com/PX4/Firmware/blob/master/ROMFS/px4fmu_common/init.d/rcS#L594

@LorenzMeier is there a reason px4flow shouldn't be started for all configs? Perhaps gated by a param like SENS_EN_SF0X.

[2016-06-09 22:45] marianobianchi commented on #4212
@AndreasAntener Is this something similar to #4578 ??

[2016-06-09 23:01] sanderux commented on #4774
@LorenzMeier module designs are coming, here's a sneak preview of the motor mounts we designed, (this is the first prototype:
![image](https://cloud.githubusercontent.com/assets/14801663/15949314/c5ff6b94-2ea6-11e6-9b2e-e4f5fb3135db.png)

If you have a 3d scanner i would very much like a scan of the wing joiners

[2016-06-09 23:58] DonLakeFlyer opened #4791 "USB connection hangs on OS X El Capitan"
The app will hang during serial port open. This happens with QGC but has nothing to do with QGC. It can be reproduced with a simple C application that just opens the serial port (or connecting with a terminal app). If you connect to the boot loader the serial port open will succeed. If you open the port after the main firmware is up and running it will hand for a minute or so and finally succeed.

[2016-06-10 00:49] dogmaphobic commented on #4791
Note that it might not happen the first time around. If you disconnect (close) QGC and start again (without restarting the Pixhawk), it will eventually happen. Once it does, it will stay in that mode until you restart the Pixhawk.

[2016-06-10 00:59] DonLakeFlyer commented on #4791
I can try again but I'm pretty sure I can repro just using a terminal app and no QGC at all ever.

[2016-06-10 01:08] marianobianchi commented on #4765
@LorenzMeier, I tried running "rosrun mavros mavcmd takeoffcur 0 0 1" to avoid giving current coordinates. I get a message "Taking-off from current coord: Lat: 47.397742 Long: 8.5455941" but I still get the same behaviour as before.

[2016-06-10 04:59] SamChenzx commented on #4652
@julianoes @mhkabir Help, can't stop drifting after takeoff! At my last post, the yaw drift seems a bug of 3DR GPS module, fixed that bug, I attempt to use Altitude control and Position control flight mode, both can takeoff stably, but then drift quickly, position control mode flight shows in this [video](https://youtu.be/XFzFmjOCK5g) https://youtu.be/XFzFmjOCK5g . Does It seems like GPS didn't lo

[2016-06-10 06:24] julianoes commented on #4652
What did you fix?

[2016-06-10 06:28] SamChenzx commented on #4652
I just checked the cable, make sure it connect well, sometimes it still
drifts, maybe bugs in snapdragon. But my concern is that why it drifts so
quickly after takeoff?

On Thursday, June 9, 2016, Julian Oes <notifications@github.com> wrote:

[2016-06-10 07:14] julianoes commented on #4652
@SamChenzx Can you share a log or screenshot that shows exactly what drifts and how? Thanks

[2016-06-10 07:46] mhkabir commented on #4652
Yeah I've seen the drift issue as well. It's observable as a skewed artifical horizon in QGC. There is a random offset at boot which converges sometimes, and doesn't other times. I'm running the Q estimator.

On airframes with high vibrations, you can see a similar effect after landing. The attitude estimate just badly diverges.

[2016-06-10 09:33] julianoes commented on #4652
@mhkabir that is with an external mag?

[2016-06-10 09:43] SamChenzx commented on #4652
Yes, I use the external mag, maybe I have the log file on snapdragon
flight, screen shot means the trajectory on QGC?

On Friday, June 10, 2016, Julian Oes <notifications@github.com> wrote:

[2016-06-10 09:45] julianoes commented on #4652
@SamChenzx either one might help, yes.

[2016-06-10 12:16] tubeme commented on #4764
@tumbili Hi Roman

This is exactly what we did in the first log I posted. It was in Position mode. and here is how it looks.

![ywa problem4](https://cloud.githubusercontent.com/assets/12617619/15963757/1afc4d44-2f1d-11e6-8cee-3ab342c24897.png)

Also our other system is with KK2.0 In it we have control only by the quad during transition ie similar scenario. And we can safely perform transition in

[2016-06-10 12:21] tubeme commented on #4764
@sanderux I realize that we have winglets that will help in weathervane mode we will try it in later stage of our research. For now we want to see the real handling of the quad in stronger weather.

[2016-06-10 12:38] tumbili commented on #4752
Implemented in #4792

[2016-06-10 12:38] #4752 closed

[2016-06-10 12:39] tumbili commented on #3200
Implemented in #4752

[2016-06-10 12:39] #3200 closed

[2016-06-10 12:39] tumbili commented on #4523
@jcooper21 Any news on this?

[2016-06-10 13:22] julianoes commented on #4766
Done in #4793, please review and cross-test. I hope it doesn't cause other regressions that we didn't think of.

[2016-06-10 14:22] sirPerna opened #4794 "MAVLink stream parameter"
It would be great to have a parameter to set Mavlink data rate. Also is the system time is now active by default. Is it possible to add this. This way you could set the MAVLink rate according to your telemetry radio.

Right now I handle it by extras file:

mavlink stop-all
mavlink start -d /dev/ttyS2 -b 57600 -r 4000
mavlink stream -d /dev/ttyS2 -s ATTITUDE -r 15
mavlink stream -d /dev/ttyS2 -s GP

[2016-06-10 14:32] sirPerna opened #4795 "TBS Caipi parameters"
I tested PX4 on my caipi now for a few months and it works great! The attached parameters worked best for me. Is it possible they become the default parameters for Caipi flying wing? I use the 3s power setup.
[Caipi PX4.txt](https://github.com/PX4/Firmware/files/309159/Caipi.PX4.txt)

[2016-06-10 15:37] jcooper21 commented on #4523
Not yet I have had high winds and rain so I am still waiting for the weather to clear.

[2016-06-10 17:42] SamChenzx commented on #4652
@julianoes Sorry for late. Here are the two logs, Altitude control mode and Position control mode respectively.
[px4log.zip](https://github.com/PX4/Firmware/files/309482/px4log.zip)

[2016-06-10 19:02] dagar commented on #4795
Can you put the important params you want to change in this file https://github.com/PX4/Firmware/blob/master/ROMFS/px4fmu_common/init.d/3100_tbs_caipirinha and post a test flight to logmuncher?

http://logs.uaventure.com/

[2016-06-11 03:13] DonLakeFlyer opened #4796 "COM_FLTMODE1 uses "Hold" instead of "Loiter" in meta data"
I assume that "Hold" is what used to be called Loiter. QGC has been calling this Loiter forever. As does various other parts of the PX4 docs. Should this be Loiter? Right now it is inconsistent between QGC and firmware.

[2016-06-11 03:14] DonLakeFlyer commented on #4796
Same for all other FLTMODE# params.

[2016-06-11 15:13] LorenzMeier opened #4797 "Check roll direction for VTOL"
I have the odd symptom that the ailerons signs are inverted for VTOL in SITL.

[2016-06-11 17:23] DonLakeFlyer commented on #4796
Many issue here: parameter meta data, confusing doc with another different set of names. Start reading the PixRacer RCGroups thread from here:

[2016-06-11 17:57] SamChenzx commented on #4652
@julianoes I suddenly realized that, the log files I posted yesterday maybe not the exact log file I tested in the field. As I pull them from the "sess0*" directory, which means no GPS locked, but the useful log file I think should under the "2016-06-09" directory.

[2016-06-11 19:19] dagar commented on #4796
@DonLakeFlyer your comment above is missing the rcgroups link

[2016-06-11 19:21] DonLakeFlyer commented on #4796
Updated

[2016-06-11 20:01] dagar commented on #4796
Wow there's a lot of confusion out there over PX4 modes, especially multimode RC selection.

@DonLakeFlyer @LorenzMeier is the plan to completely transition to the simple flight mode selection someday?

[2016-06-11 20:02] LorenzMeier commented on #4796
Just default users to simple.

[2016-06-11 20:19] DonLakeFlyer commented on #4796
Already does that for new users wih default param set. Even in single channel you run into problems with things like Manual and Stabillize being listed individually in the dropdowns. As well as the naming differences.

[2016-06-11 23:27] jgoppert opened #4799 "BAT_V_SCALING and BAT_C_SCALING disappeared w/o ROMFS vehicle updates"
I just tried to fly my 3dr iris on master, but the battery voltage is reading 10.2 when it should be 12.5 volts. I looked at the firmware on master and saw that all of the params set fot he battery in the iris ROMFS have now disappeared.

[2016-06-12 00:17] dagar commented on #4799
BAT_V_SCALING -> BAT_CNT_V_VOLT
    BAT_C_SCALING -> BAT_CNT_V_CURR
    BAT_C_OFFSET -> BAT_V_OFFS_CURR

I've seen this happen a few times so I was trying to think of something we could do to catch it. Maybe we could default `param set` to fail if not found. Then if we had a nuttx sim build it could run through loading all airframe configs. The other option is just being more careful...

[2016-06-12 01:09] jgoppert commented on #4799
Yeah, sending a message to the use would be best via mavlink info.

[2016-06-12 08:42] julianoes opened #4800 "SITL targets confusion"
Some of the SITL targets don't seem to be accessible to run anymore, e.g.

`make posix_sitl_lpe gazebo`

We should go through all of them and consolidate, fix them or clean it up.

[2016-06-12 09:34] mhkabir commented on #4800
While not strictly related, this might be the time to start consolidating startup scripts on POSIX. Like we have for NuttX, having a core "rcS" script, and calling auxiliary scripts depending on vehicle type, or SITL mode etc. would be nice.

I'm not sure if the PX4 shell can handle this yet. I would be willing to do this cleanup, it if someone would give me the pointers on what needs to be implem

[2016-06-12 09:38] gauxonz opened #4801 "Please make your job citable"
Hi guys,
I'm doing some fusion algorithm research and has some work based on your code, so could you make the repo more friendly to be cited? The instruction is [here](https://guides.github.com/activities/citable-code/).
Many thanks!

[2016-06-12 09:42] julianoes commented on #4800
@mhkabir I agree, but I don't know how to tackle this (yet) because the PX4 "shell" doesn't know any command except starting commands and Ctrl+C as far as I know.

I would think we need some kind of a shell compatible to the NuttShell (Or re-use the NuttShell itself?).

[2016-06-12 09:54] LorenzMeier commented on #4801
Done, its now in the README

[2016-06-12 09:54] #4801 closed

[2016-06-12 10:35] mhkabir commented on #4800
I think @bkueng worked on the shell a bit. @bkueng could you let us know please? Thanks!

[2016-06-12 17:22] dagar commented on #4800
I believe he added colors, comment handling (#), and some other fixes. To unify the init scripts we'd need env variables, conditionals, the ability to call another script, and a few other little things. You could start faking it by implementing an `sh` that executes another list of commands. Then you'd be able to get rid of the bulk of the duplication.

[2016-06-12 23:27] dagar commented on #4796
For mavlink custom mode why bother with the submode? What if we just started using nav_state as the custom mode?
https://github.com/PX4/Firmware/blob/master/src/modules/commander/px4_custom_mode.h#L57

[2016-06-13 00:37] DonLakeFlyer commented on #4796
The other confusion is Manual and Stabilize both being listed separately.

[2016-06-13 00:55] dagar commented on #4796
Yes, that's a frequent point of confusion.
Manual and stabilized are unique states, but for multicopter the controllers are doing the same attitude and rate stabilization. We could either block manual for MC, or requesting manual puts you in the actual stabilized main state.

On the QGC side a few states are missing like rc recover, engine failure, etc.

Can we tolerate changing px4_custom_mode at

[2016-06-13 03:20] DonLakeFlyer commented on #4796
That's going to blow back combat out of the water.

[2016-06-13 08:30] ndepal opened #4803 "Set yaw setpoints in waypoint navigation"
PX4 supports multiple yaw modes for multicopter waypoint navigation as described here: https://pixhawk.org/users/multirotor_yaw_modes

I need finer control on the drones yaw behavior. Specifically, I need to be able to control where the drone is facing at all times. E.g. I want to be able to fly to an object and then around it, always facing it.
Thus it would be useful to be able to set a yaw setp

[2016-06-13 09:14] bkueng commented on #4800
I'm all for consolidating as well. Current Posix shell support is very limited, implementation is here: https://github.com/PX4/Firmware/blob/master/src/platforms/posix/main.cpp#L145
As @julianoes  wrote, it only supports a list of commands and handles comments (colors are indepentent from the shell).

A quick look at NuttX shell shows that it's quite interleaved with NuttX, so I don't think we can

[2016-06-13 09:14] superware opened #4804 "Not all commands are being replied with a COMMAND_ACK"
Not all commands in COMMAND_INT/COMMAND_LONG messages are being replied with a COMMAND_ACK, for example, MAV_CMD_NAV_TAKEOFF, MAV_CMD_NAV_LAND etc.

Indeed from examining commander.cpp, is seems handle_command doesn't execute answer_command in any condition.

Thank you.

[2016-06-13 09:30] julianoes commented on #4800
@bkueng Thanks for checking that.

I wonder if we can somehow make use of existing shells (sh or bash) Linux systems. Can we spawn threads of mainapp from sh/bash (or trigger it)?

[2016-06-13 09:32] julianoes commented on #4652
This is differently on Snapdragon. sess0* means no date/time set which only happens through wifi and NTP but not through GPS because `clock_settime()` is not supported on QURT.

[2016-06-13 11:34] bkueng commented on #4800
We could add a shell interpreter (like bash) as a library, but I did not find much about the topic. Maybe I'm lacking google skills?
You can use busybox as a library (libbusybox), which includes a shell, but it's also not really documented.

[2016-06-13 12:42] mhkabir commented on #4800
Thanks for the replies everyone!

I think short-term, I will just implement a basic 'sh' functionality to the shell allowing other sub-scripts to be called from within pxh (as suggested by @dagar). That should go a long way in reducing the duplication. I will get started on this.

As the next step, we can just roll our own support for the other tidbits like conditionals, and maybe also look into t

[2016-06-13 12:46] mhkabir commented on #4800
@bkueng Some googling revealed this : http://wanderinghorse.net/computing/shellish/eshell.html. Might be interesting.

I'm still searching for more options.

[2016-06-13 12:50] julianoes commented on #4652
@SamChenzx These are helpful logs. And on a first look it seems that the estimator goes wild, even just sitting on ground. You can see it by comparing GPS and GPOS velocities:

![vel_gps_and_estimated](https://cloud.githubusercontent.com/assets/1419688/16008026/a32b6004-316d-11e6-90e9-00300bc2d0a9.png)

I checked the version that you flew and there have been fixes to ecl/ekf2 since, e.g.:
https://

[2016-06-13 13:07] bkueng commented on #4800
@mhkabir Yep looks interesting. But latest release dates years back. Doesn't seem to be maintained anymore.

mainapp uses threads for everything.

[2016-06-13 13:09] SamChenzx commented on #4652
Thanks, I would use latest master and test today, will upload logs here.

On Monday, June 13, 2016, Julian Oes <notifications@github.com> wrote:

[2016-06-13 13:48] mhkabir commented on #4800
I have a feeling that we'll eventually just roll our own shell :)

[2016-06-13 18:10] SamChenzx commented on #4652
@julianoes Just now I've done a test on the bench with latest master.
Without GPS signal, I can't have GPS related plot. But one issue always
confused me is the ATTITUDE_TARGET.body_yaw_rate. I use the virtual
joysticks on QGC for controller, when arm it, and push throttle up or down,
ATTITUDE_TARGET.body_yaw_rate will changed intensely while ATTITUDE.yaw
keep still. I think that's a reason for th

[2016-06-13 18:14] SamChenzx commented on #4652
@julianoes As my knowledge, if there is no yaw changed, the ATTITUDE_TARGET.body_yaw_rate should gradually back to zero, but it didn't.

[2016-06-13 18:28] julianoes commented on #4652
@SamChenzx: can you track your PWM troubles to another issue? This thread is already hijacked enough :)

[2016-06-13 18:37] SamChenzx commented on #4652
@julianoes I think it comes from the same issue, as it can takeoff in position control mode, PWM output should be correct, but strange in manual flight mode.  The ATTITUDE_TARGET.body_yaw_rate confused me.

[2016-06-13 19:54] Aperture-Laboratories commented on #4780
@mhkabir Are these the params that you wanted?

[2016-06-13 22:07] jgoppert commented on #4799
Resolved for me on master.

[2016-06-13 22:08] #4799 closed

[2016-06-13 22:11] lovettchris opened #4808 "region `flash' overflowed by 3940 bytes"
On a clean clone of master branch,  make px4fmu-v2_default fails with error saying:

100%] Linking CXX executable firmware_nuttx
e:/px4/toolchain/bin/../lib/gcc/arm-none-eabi/4.7.4/../../../../arm-none-eabi/bin/ld.exe: firmware_nuttx section `.data' will not fit in region `flash'
e:/px4/toolchain/bin/../lib/gcc/arm-none-eabi/4.7.4/../../../../arm-none-eabi/bin/ld.exe: **region `flash' overflowed b

[2016-06-13 22:21] dagar commented on #4808
It looks like you're using GCC 4.7.4. The build system uses GCC 4.8/4.9 and they're both (barely) under the 1MB max for a pixhawk.
You'll either need to update to a newer version of GCC or disable modules you don't need by commenting them out here - https://github.com/PX4/Firmware/blob/master/cmake/configs/nuttx_px4fmu-v2_default.cmake

http://dev.px4.io/starting-installing.html

[2016-06-13 22:56] lovettchris commented on #4808
That was it, thanks.

[2016-06-13 22:56] #4808 closed

[2016-06-14 05:12] dagar commented on #4601
I've completely moved the travis-ci linux builds to docker and have basic builds working on semaphore-ci and circle-ci with px4io/px4-dev-base. Next I'm going to get the SITL mission tests running on either semaphore-ci or circle-ci.

The snappy docker image is ~9GB which is just way too big for these services, so I think it'll have to go on jenkins for now.

[2016-06-14 06:24] sanderux commented on #4658
CG issue

[2016-06-14 06:24] #4658 closed

[2016-06-14 07:48] mcharleb commented on #4601
@dagar I may have pruned down the SDK install (It was installing Android SDK and Eclipse as part of silent install). How small do the images have to be for semaphore-ci and circle-ci?

[2016-06-14 12:35] mantelt opened #4816 "Mavlink forwarding not working on master"
I'm starting to mavlink instances on px4, both with the -f option, to forward message from once instance to the other. In the current master, this does not work anymore.

I have the following configuration:

OBC (mavros) <-- (UART) --> PX4 <-- (UART/3DR) --> GCS (QGC/mavros)

On earlier releases, I could use the mavlink -f option (respectively -p and -f) to forward messages on the PX4 from OBC to

[2016-06-14 13:31] dagar commented on #4601
Semaphore-ci is ~9.2GB. So that's docker image + full source + build artifacts.
I saw a 500MB directory of logs at /home/docker1000/Qualcomm/Hexagon_SDK/3.0/tools/Installer_logs that I assume can also be deleted.

The other issue is the amount of time each build is going to spend just downloading the image. The basic nuttx/sitl image is ~600MB.

[2016-06-14 14:09] julianoes opened #4818 "RPi cmake configs out of sync"
The cmake configuration for native (default) and cross (release) are not in sync. They should probably be based on a common module list.

https://github.com/PX4/Firmware/blob/master/cmake/configs/posix_rpi2_default.cmake
https://github.com/PX4/Firmware/blob/master/cmake/configs/posix_rpi2_release.cmake

[2016-06-14 15:45] mhkabir commented on #4816
Can you run  ```git bisect``` and quickly see which commit breaks it?

[2016-06-14 15:56] dagar commented on #4816
Diff between v1.3.1 and v1.3.2
https://github.com/PX4/Firmware/compare/v1.3.2...v1.3.1

[2016-06-14 16:16] mantelt commented on #4816
@dagar There are definitely more changes from v1.3.1 to v1.3.2 than shown in the above diff.
https://github.com/PX4/Firmware/compare/v1.3.1...v1.3.2 seems to be more representative of all the commits that were added.

Although I still can't pinpoint a certain commit that breaks the functionality, I'm quite sure it's related to the introduction of mavlink v2.0 into the mavlink module (i.e. commits

[2016-06-14 16:36] dagar commented on #4816
Whoops, that makes more sense. Commits in v1.3.2 not in v1.3.1. I didn't expect so much change in a patch release.

git bisect works best if you can automate a simple test, which might be hard in this case.

[2016-06-14 17:17] jgoppert opened #4819 "Low altitude take-off overshoot"
When doing auto missions with LPE I noticed this:
## Altitude spike at start of mission

Video:
https://www.youtube.com/watch?v=t7s8027uKZ4

Log:
http://logs.uaventure.com/view/beRXQ3uES9ctPkv2H5ymDQ

I think it is related to the takeoff command, the z setpoint is not showing it, even though the climb does appear in agl, this is in MPC_ALT_MODE = 1 so the controller is tracking AGL.

[code]

![ima

[2016-06-14 20:34] dagar commented on #4796
I made the naming consistent. The only outstanding piece is the documentation growing rather out of date...
http://dev.px4.io/concept-flight-modes.html

[2016-06-14 20:38] dagar commented on #4601
I've never looked at the raspberry pi stuff. I suppose we should get that going. If it's just the gcc arm hf packages it should be pretty small overall. Maybe ~500MB?

@mhkabir interested in putting together a Dockerfile for raspberry pi builds?
https://github.com/PX4/containers/blob/master/docker/px4-dev/DockerfileBase

[2016-06-14 20:56] jcooper21 commented on #4523
I tested this today with the M8N gps and the current beta firmware the results were the rocking issue still exits.  Its extremely bad in winds.  See below log.

http://logs.uaventure.com/view/25mLx5BQ8JwUwidXUCUD7a

[2016-06-14 21:57] dagar commented on #4745
I've reproduced this locally. I'll try to fix it tomorrow.

[2016-06-14 22:01] LorenzMeier commented on #4745
@dagar This will enable SITL with planes: https://github.com/PX4/Firmware/pull/4798

[2016-06-14 23:42] SamChenzx opened #4822 "ERROR: FastRpcWrapper Not Initialized"
Today I followed this [guide](http://dev.px4.io/advanced-snapdragon.html#upgradingreplacing-the-linux-image): http://dev.px4.io/advanced-snapdragon.html#upgradingreplacing-the-linux-image to upgrade my  new two Snapdragon flight P2 board from Intrinsyc. With the latest master, I encountered this issue and can't calibrate sensors.

[code]

Is this a bug of snapdragon flight's DSP layer?

[2016-06-15 01:21] lovettchris opened #4823 "MavlinkReceiver memory corruption."
MavlinkReceiver::handle_message_request_data_stream walks into deleted memory when you send the "stop" bit on a stream.  It also fails to restart the stream because it deletes the stream when you send the stop command.  The fix for this is here:
[1e0e56b6c632ae93df5a86ec5cd6dbb244ce728c](https://github.com/lovettchris/Firmware/commit/1e0e56b6c632ae93df5a86ec5cd6dbb244ce728c)

PS: the stop bit is t

[2016-06-15 01:32] mhkabir commented on #4823
@lovettchris It would be awesome if you could send in a PR with that commit for ease of tracking and review. Thanks!

[2016-06-15 01:39] mhkabir commented on #4822
Did you update the aDSP image?

[2016-06-15 01:44] SamChenzx commented on #4822
I updated both Flight_adsp_8074_firmware_readme_update.zip
<http://support.intrinsyc.com/attachments/download/561/Flight_adsp_8074_firmware_readme_update.zip>
 and Flight_BSP_3.0_apq8074-le-1-0_r00015.zip
<http://support.intrinsyc.com/attachments/download/428/Flight_BSP_3.0_apq8074-le-1-0_r00015.zip>,
I'll
try to update it again later.

On Tue, Jun 14, 2016 at 6:39 PM, Kabir Mohammed <notification

[2016-06-15 01:52] lovettchris commented on #4823
Done ☺

https://github.com/PX4/Firmware/pull/4824

From: Kabir Mohammed [mailto:notifications@github.com]
Sent: Tuesday, June 14, 2016 6:32 PM
To: PX4/Firmware <Firmware@noreply.github.com>
Cc: Chris Lovett <clovett@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [PX4/Firmware] MavlinkReceiver memory corruption. (#4823)

@lovettchris<https://github.com/lovettchris> It would be aw

[2016-06-15 07:24] LorenzMeier opened #4825 "Multicopter position control: Ensure that the yaw setpoint handling is against current yaw, not yaw error"
We need to ensure that the yaw transformation is done using current yaw, not the desired yaw. If that's already the case then the code needs to be properly commented to make sure anyone reading it does get it.

[2016-06-15 08:18] tumbili commented on #4291
Already exists

[2016-06-15 08:18] #4291 closed

[2016-06-15 08:19] tumbili commented on #4825
@LorenzMeier Addressed in my PR for circle mode. Not yet pushed.

[2016-06-15 08:19] #4825 closed

[2016-06-15 08:31] #4462 closed

[2016-06-15 09:09] garlinplus commented on #4480
hi tumbili! I tune the pid of my drone.But no matter how bigger I increase p in acro mode on angular rate loop,it doesn't go to oscillate even if I increase it to 2000.

[2016-06-15 09:23] julianoes commented on #4822
@SamChenzx Did you update the BSP3.0 first and then the adsp image?

[2016-06-15 09:37] julianoes commented on #4822
@SamChenzx could it be that it is already (auto) started when you try to start it?

[2016-06-15 12:41] jmcwil opened #4827 "Aerocore 2 Upload Stuck at "Waiting for the Bootloader""
Hi,

I am working with Aerocore 2, and I am following the Development Guide for PX4 (http://dev.px4.io/starting-building.html).  I have made a slight modification to px4_simple_app so that I can verify whether my upload is working (adding more exclamation points to "Hello Sky!"), and every time I use make px4fmu-v2_default upload, I get stuck at "Loaded firmware for 9,0 size: 1020956 bytes, waitin

[2016-06-15 13:25] Namorus opened #4828 "Startup problem after Firmware 1.3.2 update"
Hi
today I updated my firmware to 1.3.2. I used the source code, followed the guide http://dev.px4.io/starting-building.html and successfully built the project. After successful upload, my px4 got stuck somehow.
Serial output yields the following:

**_sercon: Registering CDC/ACM serial driver
sercon: Successfully registered the CDC/ACM serial driver
WARN  [param]    selected parameter default file

[2016-06-15 13:39] dagar commented on #4828
If you power cycle does it get stuck at the same point every single time?

This is a bit of a leap, but can you either format your sdcard or try a fresh one? I had this problem once last week, but didn't really have time to investigate. After changing the sdcard it went away.

[2016-06-15 13:51] dagar commented on #4827
We're not building aerocore binaries at the moment. It looks like aerocore never made it to the current cmake build system. I'm guessing it's not binary compatible with px4fmu-v2 (pixhawk).

@jmcwil are you interested in restoring the aerocore build? It shouldn't be too difficult, but I don't have access to this hardware to do it myself.

[2016-06-15 14:17] mcharleb commented on #4822
@julianoes The following line would indicate you have an old adsp image that is missing _FDtest.

adsp dlopen error: px4muorb undefined PLT symbol _FDtest (688) /libpx4muorb_skel.so

[2016-06-15 14:21] Namorus commented on #4828
Ok I tried the same procedure with different SD cards but with no success - still the same serial output message as before

[2016-06-15 14:26] dagar commented on #4828
What's your local dev environment, gcc version, etc? Have you built + flashed successfully before?

Can you try completely cleaning and rebuilding? Be sure to commit anything you've changed first.

    make distclean && make px4fmu-v2_default upload

[2016-06-15 15:17] Namorus commented on #4828
I'm using OSX El Capitan and I strictly followed the [guide](http://dev.px4.io/starting-installing-mac.html) provided by the px4 team. Until now I have not changed something in the source code. Building and editing my code is done in Qt Creator (Qt Creator 3.6.1, Based on Qt 5.6.0 (Clang 7.0 (Apple), 64 bit)). The only thing not mentioned in the guide, which I had to install was Java SE Developmen

[2016-06-15 15:46] dagar commented on #4828
I think we've got a problem with pwm_out_sim introduced between v1.3.1 and v1.3.2.

[2016-06-15 15:55] LorenzMeier commented on #4828
1.3.2 was actually a mishap, it went against master instead of stable. Please use https://github.com/PX4/Firmware/releases/tag/v1.3.3, which is what I intended to do. We are not supporting master for stable builds.

[2016-06-15 17:01] julianoes commented on #4822
@mcharleb Oh yes that's right.

[2016-06-15 17:23] SamChenzx commented on #4822
I updated it again with another computer today, this issue seems solved though I don't know what's wrong with my computer. I think there will be more P2 board than P1, so maybe we should adapt px4.config file to P2.

[2016-06-15 17:31] mhkabir commented on #4800
Made a start here : https://github.com/mhkabir/Firmware/tree/posix_shell
This will expand to something that can handle most of NSH functions over the next weeks :)

Is is OK to use Linux environment variables to save our internal ones? e.g MAV_TYPE, etc. ?

[2016-06-15 18:29] #4828 closed

[2016-06-15 18:31] dagar commented on #4828
@Namorus this is resolved in current master and stable v1.3.3

[2016-06-15 18:42] SamChenzx commented on #4822
I think this board is a P2 board as it has two pins next to J3 though the silkscreen seems it's a P1 board. I tried to short those two pins to recover factory image, but failed. So it's neither a P1 nor a P2 board?
![p1orp2](https://cloud.githubusercontent.com/assets/10758544/16092837/424ec8fc-32ee-11e6-98d0-f9faad641ed2.png)

[2016-06-15 19:50] jmcwil commented on #4827
@dagar Thanks for the response.  That is very interesting; how did you find that information?  Can you tell me how long it has been since you stopped building aerocore binaries?  I am very new to px4 and gumstix, but I would like to use PX4 autopilot on my Aerocore 2.  I am assuming that switching to px4fmu-v4 will not help, but please correct me if I am wrong.

What is involved in restoring the b

[2016-06-15 19:56] davids5 commented on #4827
@jmcwil @dagar

I think I have kept aerocore building on the nuttx_v3 branch - so it would be worth a try to see if it builds and runs from that branch master was merged into nuttx_v3 today.

[2016-06-15 19:59] dagar commented on #4827
Great! If it's just a cmake/config and Makefile entry it should be easy to pull into master. It looks like the support for flashing is still in QGC, so we'd just need to get it back in the builds and uploading to s3.

[2016-06-15 20:11] mcharleb commented on #4601
@dagar @julianoes I added a -trim option to https://github.com/ATLFlight/cross_toolchain/blob/master/installv3.sh

You can now do
[code]
This will install the Hexagon SDK and tools without the Android or Eclipse add ons to ~/myinstallroot/Qualcomm/... and then remove unnecessary files from the SDK and Tools to reduce the install size.

[2016-06-15 21:17] DonLakeFlyer commented on #4796
So instead of Loiter the name is Hold. Yet the name for the Mission Commands (per mavlink spec) are Loiter. Not sure that makes sense?

[2016-06-15 21:21] LorenzMeier commented on #4796
The HTML code for a link is `href`, does that mean internet users have to call a link "href"?

[2016-06-15 21:26] dagar commented on #4796
Flying a hold (holding pattern) is standard in aviation, so I think it makes a good mode name. If not sure if it makes it more or less confusing to name the mode the same as the waypoint type.

[2016-06-15 21:37] DonLakeFlyer commented on #4796
I don't really care what the name is. I care about it being called essentially two different things in two end-user visible places. If nobody else cares, then neither do I.

[2016-06-16 02:17] mcharleb commented on #4601
@dagar @julianoes The trusty sysroot is now down to 278M. The total should now be Host OS (I'm assuming that is Ubuntu 14.04 and ~500MB) + sysroot (278MB) + Hexagon SDK (101MB) and Hexagon Tools (244MB)

The total Docker image size should now be about 1.2GB

[2016-06-16 03:03] mhkabir commented on #4822
It's a P1. Even the P1 has those two pins, but they're not connected to
anything.
On 16 Jun 2016 12:12 am, "Sam Chen" <notifications@github.com> wrote:

[2016-06-16 03:10] SamChenzx commented on #4822
So, actually we don't need to set any rotation parameters to the board? But
when I short circuit those two pins then power up, I can see "Detected
factory reset key" but didn't work.

On Wednesday, June 15, 2016, Kabir Mohammed <notifications@github.com>
wrote:

[2016-06-16 03:16] mhkabir commented on #4822
Everything on this board is the exact same as mine. So, I don't think you'll need the rotations.

[2016-06-16 03:16] dagar commented on #4601
That's quite an improvement and should be an acceptable size to work on any of the free ci services.

[2016-06-16 03:23] #4796 closed

[2016-06-16 05:36] mantelt commented on #4816
As I'm currently busy working on other things it will be a while till I may have another look on this issue to narrow it down further. I would of course appreciate it a lot if somebody else could jump in and investigate...

[2016-06-16 10:06] devbharat commented on #4825
You mean transform the stick input pin position control?

What if controlling yaw while moving(or in wind) is difficult? We often see not so nice yaw control while hovering fast, but once we slow down the yaw tracking recovers. When we transform the stick input by current yaw, and hold constant pitch, it kind of curves rather than going straight. Transforming by yaw setpoint wouldn't have this pro

[2016-06-16 12:55] julianoes commented on #4822
@SamChenzx: so it looks like your issue is resolved. Closing this. Re-open it if it happens again. Thanks.

[2016-06-16 12:55] #4822 closed

[2016-06-16 13:27] MHageH opened #4833 "Takeoff possibly broken in SITL on stable branch"
I used the general procedure, but instead of using the master branch, I tried to take off in SITL in the stable branch

[code]

The quad becomes unstable when it takes off the ground.
The takeoff is fine on the master branch tho.

[2016-06-16 16:16] jmcwil commented on #4827
@davids5
I switched to the nuttx_v3 branch and tried going through the same process to build px4fmu-v2_default, but with no success.  Is there something I might be doing wrong?  Is there some way that I can modify an existing file to make the code compatible with the aerocore 2?

Thanks for the help!

[2016-06-16 16:34] davids5 commented on #4827
@jmcwil @dagar No - I was wrong it is not in nuttx_v3 either. [nuttx_next] (https://github.com/PX4/Firmware/tree/nuttx_next/makefiles/nuttx) has it but that is a very stale branch and uses make not cmake.

@jmcwil There is a pattern you can infer from looking at master, nuttx_v3 and nuttx_next and convert the old *_aerocore.mk to a cmake config for it - but it will take some work and is a great le

[2016-06-16 17:45] jmcwil commented on #4827
@davids5  Thanks, I think I will give it a shot, and I will definitely learn some things from this.  I am still trying to wrap my mind around the file structure, and I want to make sure I am following you.  Basically you are suggesting that I look at the nuttx_next branch .mk files in makefiles/nuttx.  Using those I should be able to make my own .cmake file for the aerocore in cmake/configs in my

[2016-06-16 17:55] davids5 commented on #4827
@jmcwil - You are welcome. Yes more or less. But the compiler will tell you what is missing.

Just look out for this wart on master https://github.com/PX4/Firmware/blob/master/cmake/nuttx/px4_impl_nuttx.cmake#L461
it is done better in nuttx_v3,

If I were you I would work off on nuttx_v3

Then you can submit a Pull Request and we can backport it into master.

[2016-06-16 17:59] dagar commented on #4827
As a quick start you can go through the top level Makefile and cmake/ and duplicate what you see for px4fmu-v2.

you'll need a config

     cp cmake/configs/nuttx_px4fmu-v2_default.cmake cmake/configs/nuttx_aerocore-v2_default.cmake

and an entry in the top level Makefile

    aerocore-v2_default:
        $(call cmake-build,nuttx_aerocore-v2_default)

Beyond that I don't know enough about the aero

[2016-06-16 18:06] vinhk commented on #3475
@won13y Were you able to have that issue fix? I am having the same issue. Please help

[2016-06-16 19:02] #4745 closed

[2016-06-16 19:03] dagar commented on #4745
@zengdechi this has been fixed in master.

[2016-06-16 19:03] LorenzMeier commented on #4745
Thanks for fixing it @dagar

[2016-06-17 01:45] marianobianchi opened #4836 "SITL connection problem when running simulator in custom udp port"
This bug affects both sitl_run.sh and sitl_multiple_run.sh.

If I edit the file "rcS_gazebo_iris" changing "simulator start -s" with "simulator start -s -u 15000" and run "roslaunch px4 mavros_posix_sitl.launch" I get no connection for mavros. However it works fine without changing the file.

The problem with this is that the relatively new way of launching multiple SITL instances use this variant

[2016-06-17 02:17] Thezkiller opened #4837 "hardfault in ekf_att_pos_estimator"
I come across this problem,can anybody help me.

Assertion failed at file:armv7-m/up_hardfault.c line: 184 task: ekf_att_pos_estimator
sp:     20002908
IRQ stack:
  base: 2000294c
  size: 000002e8
20002900: 2001ba40 0809c32d 080cffc4 000000b8 08097c49 00000010 20002654 00000003
20002920: 00000000 0809c5bd 0809c5a9 080a58d1 00000010 00000000 20019af7 006092da
20002940: 00000000 0809c52d 2001b8cc 00

[2016-06-17 02:33] dagar commented on #4837
Which version of the firmware are you using? Did it correspond to anything, like shortly after getting a GPS fix for the first time (or connecting HIL)?

There was a hard fault in ekf_att_pos_estimator fixed about a month ago, but it hasn't made it to a stable release yet. It would occasionally be triggered the first time the ekf started publishing.
https://github.com/PX4/Firmware/commit/fe60a43bb

[2016-06-17 02:42] Thezkiller commented on #4837
my version is v1.3.0rc3 .
commit ffb0d37c8a56c88e83e257b770053fe24946fc48
Date:   Mon May 9 23:01:06 2016 +0200

[2016-06-17 02:46] dagar commented on #4837
Okay so you definitely don't have that change, but that doesn't prove anything.

Can you try this?

    arm-none-eabi-addr2line -C -e build_px4fmu-v2_default/src/firmware/nuttx/firmware_nuttx -a 080b2fd8

[2016-06-17 02:51] Thezkiller commented on #4837
when i install my GPS module ,bug appeared.seems like the GPS cause the problem.
i try your command,
#arm-none-eabi-addr2line -C -e build_px4fmu-v2_default/src/firmware/nuttx/firmware_nuttx -a 080b2fd8
#Firmware/src/modules/uORB/uORBDevices_nuttx.cpp:311

[2016-06-17 03:01] dagar commented on #4837
Good, that lines up perfectly with the fix. The problem is/was the uninitialized mavlink orb descriptor, so when it tried to publish (uORB) you got the hard fault trying to access something bogus.

As a work around until the next stable can you cherry-pick this commit and rebuild? Otherwise we could potentially do a hotfix release.
https://github.com/PX4/Firmware/commit/fe60a43bba6ebb976513f3db0b7

[2016-06-17 03:30] Thezkiller commented on #4837
thanks .the bug is fixed when i use your patch.

[2016-06-17 06:37] LorenzMeier commented on #4837
This is fixed on stable a long time and the hotfix release is already out. Thanks for reporting!

[2016-06-17 06:37] #4837 closed

[2016-06-17 12:20] ndepal opened #4838 "make px4fmu-v2_ekf2 broken on master"
I'm trying to flash a PixFalcon with PX4 master (bada390ddebb65562cb306fa0c98ee78ee5e3446). I want to use EKF2 so I do

[code]

The code compiles without issues and appears to successfully erase/program/upload.
After rebooting, the welcome tune sounds but QGC can't connect to it (connected via USB). I see the message

[code]

This does not help, however.

When flashing with

[code]

QGC connects a

[2016-06-17 12:24] mhkabir commented on #4838
Can you try setting this on the NSH console :

[code]

And rebooting (while on the ekf2 config)

[2016-06-17 12:41] julianoes commented on #4838
I've stumbled upon this as well in #4757, I'm still not really getting it.

[2016-06-17 13:50] ndepal commented on #4838
@mhkabir I tried that, but QGC still can't connect.

[2016-06-17 14:28] gianni-carbone commented on #4838
This should happen when a module cannot be loaded.
Is there something in the /etc/extras.txt (SD card) ?
try a default configuration (no extras.txt nor config.txt and no mixers on SD card)

[2016-06-17 14:29] torb500 commented on #3798
Hi everyone, I experience a big interfereces issue between ESP and an AR8000 reciever from Spektrum :
- With ESP powered on but PC not connected, everything works fine
- With ESP connected to the PC, I get a lot of "Manual Control lost" (every 3-4sec, which causes a throttle drop for about 200-500ms)
I absolutely need the wifi during the flight, and I saw somewhere that the ESP can be configured w

[2016-06-17 14:29] mhkabir commented on #4838
I think just booting with the serial console connection would reveal the
issue.
On 17 Jun 2016 7:58 pm, "Giovanni Carbone" <notifications@github.com> wrote:

[2016-06-17 16:41] ndepal commented on #4838
Looking at the SD card I can't see the /etc directory.
I did see a hidden folder with 'spotlight' in its name, i.e. a folder that my Mac must have put on there. After deleting that and the .Trashes folder I can once again connect to QGC.
I don't quite understand how files/folders on the SD card interfere only with a certain configuration.

[2016-06-17 17:25] gianni-carbone commented on #4838
I suffers the same problem in my case there were a problem with a missing module in the start up process.
You could customize the startup process with three files in the SD card:
http://http://dev.px4.io/advanced-system-startup.html

At this point you have to follow the mhkabir suggestion booting with serial console attached following the boot process messages.

[2016-06-17 20:15] zvonimir opened #4840 "Support for building px4fmu-v2_default using clang/LLVM"
To be able to apply SMACK software verifier (https://github.com/smackers/smack/) on PX4, I have been looking to building PX4 using clang/LLVM. Initially, I got lucky with the `posix_sitl_default` target, which compiles with clang without any problems. That was a good start :).

After this initial success, I got totally stuck on trying the accomplish the same thing with the `px4fmu-v2_default` targ

[2016-06-17 20:18] LorenzMeier commented on #4840
We would be super interested! Given that most software compiles fine it should be generally feasible, but it likely is somewhat involved. Do you want to paste the first errors you're getting here?

[2016-06-17 20:36] zvonimir commented on #4840
Well, I guess I have a more basic question to start with :). How do I enable clang when my target is `px4fmu-v2_default`?
Yesterday I came up with a very hacky way to accomplish this that I kind of don't want to ever see again :).

[2016-06-18 08:01] ecmnet opened #4841 "LPE: LocalPos-Z drift when landed and sonar/lidar not initialized"
Leaving the vehicle on ground after e.g. rebooting for a while leads to a significant drift of the local Z-position. I assume this is due to the fact, that because sonar/lidar is not initialized, the local z position is based on baro only: e.g.: Situation after 10mins on ground without any takeoff: Altitude: 471,7m, Terrain: 471,6m, LocalPos-Z (NED): 2.1m.

[2016-06-18 09:00] LorenzMeier opened #4842 "Need to reset params when switching SITL models"
@jgoppert CMAKE question for you: when starting different multicopter models you can get unstable gains because they are sticky between frames. Can you help to add a frame/config specific file which triggers a clean build when switching the SITL frame?

Alternatively we could have a build folder per SITL config, which might be even better.

[2016-06-18 10:15] sirPerna commented on #4795
How can I reverse PWM outputs? I added this:
 	param set PWM_MAIN_REV0 1
  	param set PWM_MAIN_REV1 1
It doesn't seem to accept it.

[2016-06-18 10:33] sirPerna opened #4843 "External Compass Orientation"
External Compass Orientation only shows up if I do all the calibration, restart QGC and go to sensors again. Does anyone have the same problem?

[2016-06-18 11:37] LorenzMeier commented on #4795
Set them via QGroundControl instead. Make sure to not have any text files on your SD card.

[2016-06-18 11:44] sirPerna commented on #4795
So it's not possible to reverse the PWM outputs modifying following file?
https://github.com/PX4/Firmware/blob/master/ROMFS/px4fmu_common/init.d/3100_tbs_caipirinha

[2016-06-18 13:23] LorenzMeier commented on #4795
ah, sorry, in the autostart file its possible and correct.

[2016-06-19 10:40] AndreasAntener opened #4845 "VTOL architecture around position control"
@LorenzMeier @tumbili @bkueng
I've been working on better position control during VTOL transitions. Instead of writing a complete 3rd position controller (although for some parts this will still happen/make sense like for altitude control during transitions #4521), I'm changing the behaviour of the other controllers during the transition. It actually only affects the MC position controller at the

[2016-06-19 20:40] gianni-carbone commented on #4838
I've tried to compile and flash px4fmu-v2_ekf2 from master and I suffer the same problem.
Booting with serial console the problem is that estimator q cannot be load cause is an unknown command!
This is due the configuration in the system group was inav+aeq before flashing the ekf2 instead of default makefile.
To solve you can do the following:

flash px4fmu-v2_default
restart system
connect qgc
go

[2016-06-19 20:55] gianni-carbone opened #4846 "px4fmu-v2_x Pixhawk - calling unknow command at the system startup hangs mavlink communication"
As in object, the mavlink communication hang in case of calling an unknown command during the system startup.
For example, in my case, mavlink hanged in the latest masters due of removing gpio_led module that is called in my custom extras.txt.
For example mavlink hang flashing _ekf2 with SYS_MC_EST_GROUP < 2 cause q estimator is called but not present (unknown command) during boot process.

Hangin

[2016-06-20 00:49] dagar opened #4847 "MissionCheck.py can't connect"
@sanderux I've started looking at putting SITL MissionCheck in the builds, but so far I've been unable to connect. Is this still working for you?

    dronekit.APIException: Timeout in initializing connection.

[2016-06-20 00:55] dagar opened #4848 "dronekit log analyzer"
Investigate using dronekit-la for PX4 testing.
https://github.com/dronekit/dronekit-la

@sanderux @LorenzMeier I'm just getting started with DroneKit. Is there work to be done for PX4 DroneKit compatibility?

[2016-06-20 06:41] ecmnet commented on #4848
@dagar Would be interesting to make MAVGCL a frontend for the JSON results

[2016-06-20 07:40] bkueng commented on #4840
Last time I tried, cross-compilation with clang was a pain. But that was a while ago, so maybe things improved. You should be able to set it here: https://github.com/PX4/Firmware/blob/master/cmake/toolchains/Toolchain-arm-none-eabi.cmake
Then I think NuttX is separate, you can start from here: https://github.com/PX4/Firmware/blob/master/nuttx-configs/px4fmu-v2/nsh/Make.defs

[2016-06-20 08:15] tumbili opened #4850 "FW: Cannot takeoff in mission mode anymore"
In mission mode the prop should start spinning and rev up once takeoff is detected.
This did not work anymore with the last stable release of QGC on the tablet.

[2016-06-20 14:09] dagar commented on #4850
Did you have a takeoff waypoint? Hand launch or runway?

[2016-06-20 14:20] dagar opened #4855 "Modernize Docker-based testing infrastructure continued"
continuation of #4601

Add SITL Mission tests (#4847)
Add SITL run with address sanitizer enabled
Expand the SITL reporting further

[2016-06-20 16:31] julianoes commented on #4601
Yay thanks @dagar.

[2016-06-20 17:22] JPluess opened #4856 "Avionics Power Low, Refused Spektrum Bind Command,"
dear development team,

1. i have a power module that provides 5.19v. and this makes up for 4.9v for the inside of the px4,
there is a feature that bloks arming? i wish to disable this feature,

the website states the voltage ratings for:

    Normal Operation Maximum Ratings

    Under these conditions all power sources will be used in this order to power the system.

    Power module input (4.1V

[2016-06-20 17:43] zubair123khan commented on #4378
hello guys, i need to replay a log and when i am running replay on it, its throwing me error that no rule to make this file, although i am in right directory.
please help me out with this..

[2016-06-20 18:27] AndreasAntener commented on #4557
Duplicate to https://github.com/PX4/Firmware/issues/3080

[2016-06-20 18:27] #4557 closed

[2016-06-20 20:04] CarlOlsson opened #4857 "Pixracer boots up already armed"
Flashed current master d1b27ab056d35f695b33d1a021d8900a4d69ba61 to my pixracer.
When I plug in the USB cable it boots up already armed. If I disarm from QGC I get the following warning message: "Avionics power low"
![low power](https://cloud.githubusercontent.com/assets/7795133/16208506/cd066278-3732-11e6-9c18-391969bb4d08.png)

[2016-06-20 20:25] CarlOlsson commented on #4857
changed airframe from "Generic 250 Racer" to "Generic Quad X config" and problems go away

[2016-06-20 20:28] LorenzMeier commented on #4857
That actually starts the very same script. So I suspect the real fix was the param reset which the airframe change involved.

[2016-06-20 20:31] LorenzMeier commented on #4857
Are you sure you didn't have the Snapdragon interface extensions loaded here? That would explain what you saw.

[2016-06-20 20:44] LorenzMeier commented on #4856
Please flash current master (during the Firmware upgrade tick the advanced checkbox and choose the development version), re-do the airframe config (this will force you to calibrate sensors again) and report back. The power information you have was indeed based on outdated information. Better values are explained here: https://pixhawk.org/modules/pixhawk#voltage_ratings.

The voltage does not actua

[2016-06-20 20:47] CarlOlsson commented on #4857
I am not sure what you mean with Snapdragon interface extensions? I just changed the parameter CBRK_BUZZER to 782097 to disable the buzzer. The buzzer is still beeping but all my calibrations disappeared. (Radio, sensors etc)

[2016-06-20 20:48] zephyr834 opened #4858 "Unrecoverable free fall when thrust is set to 0 with offboard mode"
We are using a pixhawk for controlling a quadcopter using offboard mode in gazebo 6. We have run into an issue with freefall and setting thrust to 0. If the quad stays in freefall for more than one second we are unable to recover from the freefall, even when changing mode to auto_land. We are using the mavros topic /mavros/setpoint_attitude/att_throttle.

To replicate:
1. Set thrust to 1.0 and gai

[2016-06-21 07:35] tumbili commented on #4850
@dagar It had a takeoff waypoint and the user tried hand launch.

[2016-06-21 07:44] LorenzMeier commented on #4850
I can't reproduce this in SITL:

```make posix gazebo_plane```

<img width="1120" alt="screen shot 2016-06-21 at 09 42 19" src="https://cloud.githubusercontent.com/assets/1208119/16221731/a661ff76-3794-11e6-8157-d0fded08e2b3.png">
<img width="1392" alt="screen shot 2016-06-21 at 09 42 34" src="https://cloud.githubusercontent.com/assets/1208119/16221736/a9a17e28-3794-11e6-9c33-d4ee91b5092b.png">

[2016-06-21 08:08] LorenzMeier commented on #4846
In general an error would be better, but I'm on the fence wether this is necessary. If you screw up your Linux or Windows boot you can also end up having no UI visible to you. We might want to make the boot not abort on error though, so I will keep this issue open since we should try to improve things.

[2016-06-21 08:15] LorenzMeier commented on #4794
@sirPerna I suggest you remove this and send it from the radio module now instead. See this change which went in:
https://github.com/PX4/Firmware/pull/4832

You can now send a COMMAND_LONG message with cmd = MAV_CMD_SET_MESSAGE_INTERVAL, param 1 = message ID and param 2 = interval in microseconds (not milliseconds!)

[2016-06-21 08:19] #2710 closed

[2016-06-21 08:20] #4804 closed

[2016-06-21 08:30] tumbili opened #4861 "Break down sensor combined"
As discussed with @bkueng
We want to break down the sensor combined topic into smaller topics, e.g. sensor_gyro, sensor_accel, sensor_baro. The reasons for this are as follows:

1) Many modules are subscribing to sensor_combined but use just one value of the total 790 bytes, see e.g. navigator, fw_pos_control_l1, commander, ...
We can save a lot of memory if we split up the data.

2) Avoid expensi

[2016-06-21 10:20] sirPerna commented on #4794
Can't get it working yet. I send a frame with the information below to activate the system time frame.

static mavlink_command_long_t mvl_command_long;

mvl_command_long.command = MAV_CMD_SET_MESSAGE_INTERVAL;
mvl_command_long.confirmation = 0;
mvl_command_long.param1 = MAVLINK_MSG_ID_SYSTEM_TIME;
mvl_command_long.param2 = 1000000.0;

target_system and target_component are the IDs I'm receiving.

[2016-06-21 11:00] julianoes commented on #4861
@tumbili I think this goes together with getting rid of sensors.cpp, and avoiding to copy all sensor data just for the sake of combining them into one struct, see #966.

[2016-06-21 11:20] JPluess commented on #4856
![bild 5](https://cloud.githubusercontent.com/assets/7995240/16227691/785e22c6-37b2-11e6-8e1c-2a19d1332999.png)

![bild 6](https://cloud.githubusercontent.com/assets/7995240/16227690/78535a44-37b2-11e6-8951-99ed5af4360d.png)

well the bindcommand seems to be an issue on the beta version aswell, how about this.

i have autopilot version 2.4.8

about the avionics power low error i will respond soon

[2016-06-21 11:31] LorenzMeier commented on #4856
Your issue is what the autopilot tells you: The sensors are not set up correctly. Can you please re-do the airframe configuration and re-do the sensor calibration?

[2016-06-21 11:37] LorenzMeier commented on #4695
@julianoes @kd0aij @tumbili Time to fix this - have any of you looked into this already? I think we need to break it down into a per-sensor message.

[2016-06-21 11:39] LorenzMeier commented on #4856
We already have an issue for the sensor message: https://github.com/PX4/Firmware/issues/4695

The Spektrum binding works according to your output. You need to make sure to put your Transmitter into the right mode as well, as it will only pair if you do that on both ends correctly.

[2016-06-21 11:40] LorenzMeier commented on #3296
@tumbili Would be great to close this.

[2016-06-21 11:45] JPluess commented on #4856
i have now flashed the development verison and spektrum bind is still not working.
![bild 9](https://cloud.githubusercontent.com/assets/7995240/16228251/35dfbeec-37b6-11e6-85a3-b0ef35da82b4.png)

allright i have redone the sensor calibration, it wont arm, see message below, 4.87V, i know it does arm if i use a powermodule that gives a little more voltage, but taking it out, is difficult.

the airf

[2016-06-21 11:56] LorenzMeier commented on #4856
Are you trying to arm while you are on USB power? That is not allowed. Its possible that the low power message (which does not prevent you from arming, its just a warning) overlays the USB power warning. If you are on USB, try disconnecting the cable.

[2016-06-21 12:06] MHageH commented on #4794
Are you sure you want to set confirmation to 0 ?
This should work tho :
[code]

[2016-06-21 12:11] sirPerna commented on #4794
I followed this:
https://pixhawk.ethz.ch/mavlink/#COMMAND_LONG
confirmation	uint8_t
0: First transmission of this command. 1-255: Confirmation transmissions (e.g. for kill command)

[2016-06-21 12:12] JPluess commented on #4856
No actually i have a 3dr radio wired to the px4, and all commands are sent by 433mhz,

[2016-06-21 12:18] #4783 closed

[2016-06-21 12:40] JPluess commented on #4856
have you tried to arm one of yours on a adjustable voltage supply? so it should arm down to 4.8v? or even down to 4.1?

[2016-06-21 13:47] kd0aij commented on #4695
Any ideas as to why a complete sensor recalibration might be required, instead of loading a saved parameter file?

[2016-06-21 14:23] julianoes commented on #4674
Done in #4559.

[2016-06-21 14:23] #4674 closed

[2016-06-21 15:08] sirPerna commented on #4794
Got it working! Also data rate can now be changed by parameter 3
2f113a4ce3138d3ec9b595636aa0656b47a31ebf

[2016-06-21 15:08] #4794 closed

[2016-06-21 15:08] #3543 closed

[2016-06-21 15:22] LorenzMeier commented on #4843
@DonLakeFlyer sounds like a QGC issue or at least one requiring a coordinated effort to resolve. Can we sync via Gitter to resolve?

[2016-06-21 15:32] gianni-carbone commented on #4846
Lorenz,
it seems that in despite of the error I cannot connect via qgc but I can still arm the quadcopter (I did the test indoor so just armed not flown).
At the first this kind of behaviour was really difficult  to show the real problem. Simply a different pattern in blinking LED could help to show the problem. I say this cause beginner user not often have a serial converter to debug the system c

[2016-06-21 15:46] DonLakeFlyer commented on #4843
Let me look. My guess is some sort of QGC optional param problem. Some params don't show up until after calibrate.

[2016-06-21 15:49] LorenzMeier commented on #4843
We could introduce a star in the param request logic, e.g. CAL_MAG* to refresh the whole mag cal and rebuild the UI.

[2016-06-21 15:53] DonLakeFlyer commented on #4843
It already does that. If it's not optional param, the timing of it may have changed maybe so the UI doesn't see it early enough.

[2016-06-21 16:31] DonLakeFlyer commented on #4843
Here is what I did:
- Boot from clean SD card
- Flash beta firmware
- Set airframe, reboot
- Mag cal
- Look at params in QGC: IDs are set but rotation params are all showing internal
- Look at params using nsh shell: Rotation params all show internal  as well (**this shows bug is on firmware side**). QGC is working correctly.
- Reboot QGC, offset params now come across but rotations are still all

[2016-06-21 17:24] DonLakeFlyer commented on #4791
Nope I can't repro without getting QGC involved. You need to connect using QGC once. Then the port is out of whack even without QGC running.

[2016-06-21 18:09] LorenzMeier commented on #4843
Thanks, that's extremely helpful. Let me go digging.

[2016-06-21 20:09] LorenzMeier commented on #4791
@DonLakeFlyer Its possible its somewhere an issue deep in NuttX, but what it really means is that the serial port handling in QGC is triggering it. Is there a way for us to simplify our serial open handling?

[2016-06-21 20:21] LorenzMeier commented on #4850
I'm closing this as I think its was something else - the user couldn't arm at all in any mode. Reopen if it persists.

[2016-06-21 20:21] #4850 closed

[2016-06-21 22:45] MrSifuentes opened #4866 "Step motor"
Hey guys, I'm currently working on a school proyect and I need to control the position and direction of a step motor using a pixhawk module and the QT creator software to build a program that allows me to do it. Any suggestion? I'm desperate

[2016-06-22 06:20] tumbili commented on #3296
@icoderaven @LorenzMeier I cannot replicate this. See my code below:
[code]

Result:
[code]

@icoderaven Could you verify if this problem still exists and if yes, tell us how to replicate it?

[2016-06-22 07:53] #3296 closed

[2016-06-22 08:18] tumbili commented on #4079
Fixed in #4521

[2016-06-22 08:18] #4079 closed

[2016-06-22 08:44] tumbili commented on #4673
Not a problem.

[2016-06-22 08:44] #4673 closed

[2016-06-22 08:47] tumbili opened #4868 "Enable external battery monitoring via Mavlink"

[2016-06-22 10:03] sanderux commented on #4847
Hi @dagar
I havent tried it recently but you could try to disable the "waitconnected" param in the connect function.
I will have a look next week when i have some more time

[2016-06-22 13:02] tumbili commented on #2749
Fixed in #4869

[2016-06-22 13:02] #2749 closed

[2016-06-22 15:41] dagar opened #4871 "build system performance issues"
@LorenzMeier @bkueng @julianoes @tumbili
Document your travis-ci, semaphoreci, etc issues here, especially performance related. I generally work on these things at night when they seem to be reasonably fast, but if the performance isn't acceptable during a typical development day document it here and I'll consider the options.

With the build environment containerized it would be easy to distribut

[2016-06-22 15:43] dagar commented on #4871
Travis-ci OSX consistently has problems - https://www.traviscistatus.com/incidents/nf3tg08pqg2d

[2016-06-22 16:09] DonLakeFlyer commented on #4791
Doing some ad-hoc testing:
- PX4 Flow connection does not hang
- UBlox RTK GPS connection does not hang

[2016-06-22 16:49] dagar commented on #4871
@PX4/dev-team - Consider using your own PX4/Firmware fork for pull requests instead of pushing a new branch to the main PX4/Firmware repo. When you push a branch to the main repo travis-ci builds both the branch and the result of the merge. If you use a fork it only builds the result of the merge. This will help reduce our load on travis-ci and improve the build system for everyone.
This has the s

[2016-06-22 19:51] dagar commented on #4871
@LorenzMeier could you help me with homebrew caching on travis-ci or put me in touch with another OSX developer?
The current OSX build spends the majority of its time on homebrew. Can you do a fetch into a travis-ci cached directory and offline install?

[2016-06-22 20:07] LorenzMeier opened #4872 "Estimator stability on fixed wing in auto"
We currently seem to have stability issues in master on fixed wing in auto mode.

[2016-06-22 21:26] LorenzMeier commented on #4872
@tumbili @bkueng Found this nasty load issue in sensors:

[code]

[2016-06-22 22:12] LorenzMeier commented on #4872
To repro:

[code]

[2016-06-22 22:12] LorenzMeier commented on #4872
Autostart: Caipirinha (3100)

[2016-06-23 04:13] chobitsfan opened #4876 "data link loss fail-safe do not work in POSCTL/ALTHOLD"
In QGC, NAV_DLL_ACT has several value option: loiter, RTL, land at current position. But modules/commander/commander.cpp only care about if NAV_DLL_ACT(datalink_loss_enabled) > 0

And NAV_DLL_ACT do not work in most modes except MAIN_STATE_AUTO_MISSION
according to set_nav_state() in  modules/commander/state_machine_helper.cpp
only when internal_state->main_state == MAIN_STATE_AUTO_MISSION, it wil

[2016-06-23 06:17] julianoes commented on #4876
Did you verify that the behavior is not as expected using e.g. SITL? There is also some logic in the navigator, it's just unfortunate that you don't see it by grepping.

Have a look at:
https://github.com/PX4/Firmware/blob/master/src/modules/navigator/navigator_main.cpp#L158
https://github.com/PX4/Firmware/blob/master/src/modules/navigator/navigator_main.cpp#L575

[2016-06-23 06:18] julianoes commented on #4872
Is this something about the estimator itself or just sensors doing something weird?

[2016-06-23 09:13] ecmnet opened #4878 "LPE: LocalPos-Z not accurate with latest changes"
@jgoppert With latest master something with LPE must have changed massively. I've SF10A Lidar and PX4Flow attached. Sonar altitude seems not to be recognized at all, and even with LIDAR the estimated altitude has an accuracy of +/-20cm, which is far beyond the LIDARs resolution. I also tried to adjust LPE params (e.g. setting bro std.dev. to 3m). In former LPE implementations I received an accurac

[2016-06-23 09:31] ecmnet commented on #4878
Might be related to https://github.com/PX4/Firmware/issues/4841

[2016-06-23 09:55] ndepal opened #4879 "mc_att_control integral control not working"
I've noticed that integral control on my quad (PixFalcon flashed with latest master px4fmu-v2_default) is not working properly. This is independent of parameter tuning.

I've tracked down the problem to [this line in the attitude controller](https://github.com/PX4/Firmware/blob/master/src/modules/mc_att_control/mc_att_control_main.cpp#L782). The motor limits are always nonzero, preventing the cont

[2016-06-23 11:58] ndepal commented on #4838
@gianni-carbone Thanks, with that workaround switching to ekf2 works.

[2016-06-23 12:04] jgoppert commented on #4878
What do you have mpc alt mode set to?

On Jun 23, 2016 5:31 AM, "Eike" <notifications@github.com> wrote:

[2016-06-23 12:09] ecmnet commented on #4878
It is set to 1

[2016-06-23 12:29] jgoppert commented on #4878
Log?

On Jun 23, 2016 8:09 AM, "Eike" <notifications@github.com> wrote:

[2016-06-23 12:37] ecmnet commented on #4878
No, I had only I short flight indoors with those altitude changes. Meanwhile I deleted the logs unfortunately. But leaving the vehicle still in an altitude of 40cm shows that inaccuracy. Raw distance is measured properly by the LIDAR. I am also curious that no sonar messages (init, etc) appear - also no LIDAR init, but for LIDAR I receive fault messages if setting the std.dev. below 0.03. I also r

[2016-06-23 13:02] ecmnet commented on #4878
Try to return to an earlier build now

[2016-06-23 13:38] ecmnet commented on #4878
Seems to be related to the driver SF10a

[2016-06-23 13:47] dagar commented on #4871
Travis-ci support was helpful. I paid tier would give guaranteed concurrent jobs, but once we get a machine it's the same. I've stripped down the travis-ci build as much as I can.

[2016-06-23 13:59] tumbili commented on #4872
Fixed in #4884

[2016-06-23 13:59] #4872 closed

[2016-06-23 14:17] julianoes commented on #4872
@tumbili Do you mind closing issues once a fix is merged and not when a PR has been created. I think github mostly does it for you anyway.

[2016-06-23 16:09] #4795 closed

[2016-06-23 18:54] blankered opened #4890 "lack of pwm control using existing multicopter_mixer"
I was wondering if we could define the PWM range per channel. I want to implement a simple change to allow channels 1&2 operate from 1500 to 1700, and channels 3&4 operate from 1300 to 1500. This would reduce the headaches of rewriting the existing multicopter mixer file for the specific needs of servos for the variable pitch quadcopter. If there is an easier solution, please advise.

I guess this

[2016-06-23 20:07] jgoppert commented on #4878
If you can get a log of it running on your table at 40 cm ,that would be interesting.

[2016-06-23 20:58] CarlOlsson commented on #4857
Flashed stable with QGC, configured "Generic Quad X config" and calibrated sensors, everything ok. Now I plugged in USB and connected again 30 min later, Pixracer boots up already armed. I disarm through QGC, constantly get "Avionics power low" and the airframe automatically changed to "3DR DIY Quad"

[2016-06-23 21:12] CarlOlsson commented on #4857
Pixracer also boots up armed if I power it with 2s lipo battery. However, if I disconnect my RX and [pwm to sbus](http://www.readytoflyquads.com/pwm-to-s-bus-signal-converter) converter it does not.

[2016-06-23 21:26] LorenzMeier commented on #4857
I'm pretty sure the arming issue is related to your S.BUS converter. The rest sounds like debugging noise and technically impossible.

[2016-06-23 21:49] CarlOlsson commented on #4857
Yea I also believe that the converter is creating problems, also had super strange issues with APM. You don't happen to know any known issues with converters that can be fixed in SW? I have some last hours tomorrow to fix this

[2016-06-23 22:02] LorenzMeier commented on #4857
Garbage in, Garbage out. I can only recommend to replace  your gear with something that actually works. A FrSky Taranis is incredibly cheap.

[2016-06-23 22:28] #4857 closed

[2016-06-23 22:29] LorenzMeier commented on #4879
@tumbili Can you have a look?

[2016-06-23 23:59] sanderux commented on #4845
@AndreasAntener in your proposal, would the vtol also stop caring about altitude during back transition? if no: quadplanes tend to increase altitude if the mc pitches back to reduce velocity, if a decrease is commanded thrust will reduce and that can cause destabilization.
if yes: then you might hit the ground

or are you thinking a different method for decreasing velocity?

[2016-06-24 00:01] sanderux commented on #4786
implemented in https://github.com/PX4/Firmware/pull/4770

[2016-06-24 00:01] #4786 closed

[2016-06-24 00:03] sanderux commented on #3823
implemented a basic version in https://github.com/PX4/Firmware/pull/4522

[2016-06-24 00:03] #3823 closed

[2016-06-24 03:53] langxm1223 opened #4892 "derivative block bug with cutoff frequency setup"
In the mc_pos_control_main.cpp line 1313,

[code]

here it invokes the update function from BlockLowPass class.
However, I did not find any setup process of the cutoff frequency params of the low pass filter.
It leads to the 0 value of the _vel_err_d, since the following a, b are both 0 in src/lib/controllib/blocks.cpp

[code]

Or it is setup somewhere else?
Thanks.

[2016-06-24 04:58] tstellanova commented on #4695
Ran into this issue with latest PX4 stable firmware today. Eventually cleared after multiple (5?) mag recalibrations

[2016-06-24 05:46] AndreasAntener commented on #4845
@sanderux I'm only talking about horizontal velocity. Let's discuss this once I've put up a proposal.

[2016-06-24 05:57] AndreasAntener opened #4893 "Add fall back for when VTOL pusher cannot produce enough thrust"
@tumbili @sanderux Something to think about: If the pusher during MC mode doesn't hold the plane against the wind anymore, either because it's not strong enough, or the scaling factor is too low, or it's malfunctioning, can we take action?

I was thinking along the lines of integrating thrust first, then maybe start tilting again, when the velocity error gets too large (although for manual you wou

[2016-06-24 06:35] sanderux commented on #4893
I agree, perhaps we could monitor if the position error gets bigger and disable pusher assist beyond a certain threshold

[2016-06-24 06:52] ecmnet commented on #4878
Here is a log for an altitude of 55cm: http://logs.uaventure.com/view/ujQ97RjkN9xVczowfJA5W3.
Some observations: setting LPE_BAR_Z to 5m significantly improves accuracy, but looking at the RAW_DISTANCE topic published, there are a lot of spikes, which I am not aware of with SF10a (there are no spikes at all with it besides +/-1cm jumps according to its accuracy).

[2016-06-24 10:33] ecmnet opened #4898 "SF10a driver returns unexpected spikes"
After the latest changes of master, SF10a distance measurements show spikes up to 10cm, which I do not expect from this sensor. Investigating.

[2016-06-24 10:42] ecmnet commented on #4878
<img width="847" alt="distance" src="https://cloud.githubusercontent.com/assets/7580193/16335820/1892e724-3a09-11e6-9d90-f388688d2d29.png">

Comparison raw data: Sonar (top, green) vs. LIDAR (bottom, green)

[2016-06-24 11:10] tumbili commented on #4879
@ndepal Could you please attach a log file?

[2016-06-24 12:11] ecmnet commented on #4898
Spikes due to nearby WLAN antenna. No software issue.

[2016-06-24 12:11] #4898 closed

[2016-06-24 12:20] jgoppert commented on #4878
Log muncher doesn't plot agl yet and that is being regulated not local z.
Local z is a best estimate of asl relative to home, so it contains baro
drift. Just making sure you realize that. Need to plot agl = ( asl vehicle
- asl terrain) = -( est0.s2  - est0.s9)

On Jun 24, 2016 6:43 AM, "Eike" <notifications@github.com> wrote:

[2016-06-24 12:29] ecmnet commented on #4878
Ok. Understand that. What is est0.s2, est0.s9? Nevertheless, even when setting Baro Std.Dev. to 30 the drift occurs (I assumed, that in this case baro should not be considered so much). Here an comparison (BaroStd.Dev=3) between LPE-Z and LIDAR raw distance:

<img width="1391" alt="kf" src="https://cloud.githubusercontent.com/assets/7580193/16337737/f06302e8-3a17-11e6-93f1-d5aa8a3c735e.png">

Plea

[2016-06-24 13:54] ndepal commented on #4879
Here is a log file: http://logs.uaventure.com/view/sguauUpKefkZXdCU3LB377.

I'm hovering in manual. You can see that there is a constant offset between the pitch and the pitch setpoint. I'm having to push the pitch stick forward constantly in order to achieve hover.

[2016-06-24 14:08] jmcwil commented on #4827
Hi,

@dagar @davids5 Thanks for all of the advice to get me started on a Cmake file.  There is a pretty good chance I will be doing this next week, and I think your guidance has given me a great starting point.

However, I would like to confirm that this will be my best option before I invest my time and effort into learning how to make my own cmake files.  Is there something that will prevent me

[2016-06-24 14:10] LorenzMeier commented on #4827
The branch you describe is abandoned and will be deleted. So if you do this you essentially will never receive any updates and you will work with outdated and buggy estimators, controllers, communication, etc.

[2016-06-24 14:18] dagar commented on #4827
@jmcwil I would try to get aerocore support back in master first, then we can keep it working in the build system and available through QGroundControl. From there you can cherry-pick the change into your personal fork.

I'm not sure about your specific submodule problem, but they can be a pain. Have you intentionally made any changes to a submodule like Nuttx, src/lib/ecl, etc? Your issue might ju

[2016-06-24 15:44] jmcwil commented on #4827
@LorenzMeier Thanks for quick and informative response.  I see now why my other proposed method does not provide a good long term solution.  I'll get started on the .cmake file!

@dagar Thanks for the advice.  Yeah, I think my submodule problem was just caused from jumping branches.  I have gotten everything set up on the master branch again and everything is working now.

[2016-06-24 16:57] svpcom opened #4899 "EKF2 heading and altitude oscilations"
I've found that latest stable and beta branches in ekf2 mode (make px4fmu-v2_ekf2) has
strange oscillations when copter is standing on the ground (armed, but without props).

ekf2 estimator (beta) constant heading drift
http://logs.uaventure.com/view/Jp6CwPbKLKmEB3ToAaEoTn

ekf2 estimator (stable) altitude oscillations
http://logs.uaventure.com/view/jLxcdP8Qu3RQdvs5chsCre

inav estimator (stable)

[2016-06-24 17:00] svpcom commented on #4899
All three measurements was made in the same place (clear sky, 18 gps+glonass sats visible) in 10min interval

[2016-06-24 18:36] jgoppert commented on #4878
Take a look at the code. The difference is just that I'm publishing local z using the estimator z state instead of agl like I used to.  So you can't compare them. Try plotting dist bottom.

[2016-06-24 19:08] ecmnet commented on #4878
What do you mean by bottom-distance - altitude-relative? Even then - why are the relative changes occurring?

Nevertheless, I think this issue is not about choosing the correct key figure, as I had those Z instabilities  also during flight as mentioned above.

[2016-06-24 19:45] #4890 closed

[2016-06-24 20:00] kd0aij opened #4901 "QGC Spektrum bind command not working on fmu-v4, but OK on fmu-v2"
Setting the RC_DSM_BIND parameter to >= 0 via QGC inititates the bind function on fmu-v4, but the Spektrum bind button on the QGC Radio Cal panel has no effect. The opposite is true on fmu-v2

[2016-06-24 20:17] kd0aij commented on #4901
QGC must be issuing the command "px4io bind xxx", and fmu-v2 must not be monitoring the RC_DSM_BIND parameter.

[2016-06-24 20:50] tumbili commented on #4899
@svpcom It looks like you are using a pretty old version of ekf2. I noticed that this version still has the gyro scale estimation which is not in the new version anymore.

What you are seeing are no oscillations but state resets. The reason is that your accel sensor data is off by much. The magnitude of the acceleration vector when the vehicle is at rest is only about -8.8 instead of -9.81 m/s^2.

[2016-06-24 21:35] jgoppert commented on #4878
I'll take a detailed look at your log tonight. Those fields are log names.

On Jun 24, 2016 3:09 PM, "Eike" <notifications@github.com> wrote:

[2016-06-24 21:41] AndreasAntener opened #4904 "Position control with large yaw errors"
@tumbili is it possible that we throw the velocity controller off with rotating the attitude setpoint to actual yaw? Lost it in position control twice when the yaw error got large. The system is also on its limits when it happens so saturation plays in as well.

The effect is observable right before I switch our of POSCTL:
http://logs.uaventure.com/view/WmMtyfDAmhmDDKr5nQt9qf
http://logs.uaventure

[2016-06-24 21:43] ecmnet commented on #4878
Yes, i figuered that out already. The bottom clearance should be the distance to ground. I also noticed a significant offset between sonar and lidar. I tweaked the params to compensate this and will give it a flight tomorrow. Thanks for helping so far.

[2016-06-24 22:35] LorenzMeier commented on #4901
The FMU and IO drivers should both listen on the vehicle command for binding.

[2016-06-24 22:38] kd0aij commented on #4901
I'll incorporate that into https://github.com/PX4/Firmware/pull/4891

[2016-06-25 05:17] ecmnet commented on #4878
@jgoppert Here is the latest log with altHold working quite well: http://logs.uaventure.com/view/sPBWayzBVCdtE6xYfMNzYJ. I am now quite curious, what it has been before. Could be that is was the lidar-spike-issue (caused by WLAN to close to lidar). So sorry for causing any inconvenience here. Mainly it was caused by the fact that I was not aware of the LPOS-Z definition change in LOCAL_POSITION_NE

[2016-06-25 05:24] ecmnet commented on #4878
@jgoppert Wouldn't it make sense to publish LOCAL_POSITION_NED_TARGET for LPOS-Z in the same way as actual? Currently those two definitions do not fit.

[2016-06-25 08:19] #4899 closed

[2016-06-25 08:59] #4904 closed

[2016-06-25 09:02] #4816 closed

[2016-06-25 09:35] jgoppert commented on #4878
The estimator doesn't publish that. If mpc alt mode is set to 1, it should
treat that as agl ( altitude above ground level). I agree it is confusing.
Maybe if mpc alt mode = 1, then we publish agl as local z like we used to.

On Jun 25, 2016 1:25 AM, "Eike" <notifications@github.com> wrote:

[2016-06-25 10:01] ecmnet commented on #4878
Would be great if target and actual would have the same definition, regardless what mpc alt mode is set to.

[2016-06-25 11:07] LorenzMeier commented on #4878
We're not going to mess with the local Z value. I don't think we have to argue about the properties of a rigid body transformation? I'm watching this discussion with horror - please fix this up to use the field which is present for this use case, and please make sure to use that in the controller:
https://github.com/PX4/Firmware/blob/master/msg/vehicle_local_position.msg#L30

AGL is no coordinate

[2016-06-25 11:13] mhkabir commented on #4878
@LorenzMeier It's already done properly. The estimator publishes AGL to the field you mentioned, and the controller uses it in case the parameter is set.

The main question (and what we have to actually fix) here is, how do we reconcile the logging of the target and current altitudes when the controller is in terrain following mode. Because currently, in terrain follow mode, the target alt is disp

[2016-06-25 11:15] LorenzMeier commented on #4878
The target alt should be transformed given the current AGL and used in the control loop and logged that way. The controller param should just enable or disable the application of the AGL offset.

[2016-06-25 11:37] julianoes opened #4908 "Snapdragon: replay log has drops"
Recent flight testing with Snappy yielded replay logs with drops/timeouts. As far as I know this was working (better) before and therefore needs git bisecting.

[2016-06-25 12:33] svpcom opened #4909 "LPE GPS timeout"
I had a test flight today with px4 stable branch + LPE estimator.
Several times there were a strange issues when copter in POSCTL mode becomes drift very fast.
I've inspect a logs and found following messages:
[code]

http://logs.uaventure.com/view/RZYxAMx9kWHBMCVkTc3kB9

After switching estimator to *inav*  gps timeout issue disappears and there were no any drifts.

[2016-06-25 13:18] jgoppert commented on #4878
If we transform the target altitude using agl, the setpoint will be moving due to baro drift with no user input, which isn't horrible, if that is the direction we want to go. The alternative is to just use dist bottom in log muncher so users can look at alternate plot when in terrain following mode.

[2016-06-25 16:18] mhkabir opened #4910 "Support Pixhawk 1/2 with 2MB flash (boards with rev3 chip)"
All the Pixhawks I have recently acquired have a rev 3 STM32 chip, and therefore should support the full 2MB.

Would make life much easier if we can add some sort of an auxiliary config to support these boards, and potentially @proficnc's Pixhawk 2s in a couple of months time, when they start retailing.

@davids5 @jgoppert

[2016-06-25 16:21] julianoes commented on #4910
Is there any way to tell in software which revision we have (except triggering the known fault)?

[2016-06-25 16:45] dagar commented on #4910
There's mcu_version, but I think you'll need a new config, px4fmu-v2_large or whatever you want to call it.
https://github.com/PX4/Firmware/blob/ce7dad81c2db0bcf319f62d3d9550f604a87ea1c/src/modules/systemlib/mcu_version.c#L116

Then you could add `cmake/configs/nuttx_px4fmu-v2_large.cmake`, maybe make it a superset of px4fmu-v2_default.  You'll either need a duplicated nuttx-config, or find a find

[2016-06-25 16:46] ecmnet commented on #4878
I agree, WE should not mess up any definitions, but we should be consistent at least.

[2016-06-25 16:59] davids5 commented on #4910
Hi!

The latest revs of [bootloader] (https://github.com/PX4/Bootloader/blob/master/main_f4.c#L311) prevents that DL 2MB of a file to a "flawed device" - [see] (https://github.com/PX4/Bootloader/blob/master/main_f4.c#L578)

So it is conceivable we could add a new target or attribute to the build to switch in a different linker file.
I do this in nuttx_v3 for bootloader. Or in the nuttx copy for th

[2016-06-25 17:23] dagar commented on #4871
Travis-ci seems to be ~ 8-10 minutes per build now. If we want to reduce that any further (5 minute goal?) I think we'll need to start looking at our own hosting.

@LorenzMeier ping me if you see more problems or want to pursue other options.

[2016-06-25 17:23] #4871 closed

[2016-06-25 22:03] sanderux commented on #4871
@dagar I have a qemu hypervisor (proxmox) in a hostingcenter
do you have specs needed for running our own? or an image i could run as a test?

[2016-06-25 22:08] LorenzMeier commented on #4909
@jgoppert I had the same on my test system.

[2016-06-25 22:12] dagar commented on #4871
Thanks @sanderux, but if you're paying per usage I suspect a virtualized compile machine is going to be quite expensive.

We have docker images for the dev environments (https://hub.docker.com/r/px4io/px4-dev-base/), otherwise it's just ubuntu + instructions (http://dev.px4.io/starting-installing-linux.html).

[2016-06-25 22:42] jgoppert commented on #4909
The gps signal is poor so it  stops publishing position and effectively drops back to altitude mode. To fix we need to lower gps requirements.

[2016-06-25 22:43] jgoppert commented on #4909
Will look to find what gps  requirement failed in your log asap.

[2016-06-25 23:35] proficnc commented on #4910
This would be great!
Also there are quite a few of the Pixhawk 1's that have the new chip.

[2016-06-26 02:28] jgoppert commented on #4909
Here is why it timed out, your EPH went above 3.

![image](https://cloud.githubusercontent.com/assets/473772/16360223/d9224190-3b23-11e6-9dd7-844d0427424e.png)

Also, your version is somewhat outdated, as you don't have LPE_EPV_MAX (parameter for vertical that was reacently added)

[2016-06-26 02:47] jgoppert commented on #4909
So here the options:

* Increase defaut LPE_EPH_MAX
* When we exceed LPE_EPH_MAX after boot, do not stop using GPS to estimate position.

Also I like this idea:

* Make estimator position timeout based on covariance of estimate instead of a fixed time interval, but still 5 seconds above the max EPH is still probably not going to work, so we will need to handle that with one of the other two steps

[2016-06-26 05:17] #4841 closed

[2016-06-26 08:40] sanderux commented on #4871
@dagar the hardware is mine, the only thing i pay for is data but i dont think that will exceed what i'm already paying for.
If i give you root to a vps, what environment would you prefer?

[2016-06-26 11:26] telepoiss commented on #4780
I seem to have the same issue with the Zubax GNSS2.
Calibrated compass several times, tried different mounting points but still keep getting "sensors not set up correctly error"

[13:19:14.018] Info: [inav] GPS signal found
[13:19:15.124] Info: [inav] init ref: 59.4427619, 24.7337152, 16.7010
[13:19:16.648] Critical: Not ready to fly: Sensors not set up correctly

[2016-06-26 13:47] dagar commented on #4871
Thanks Sander. Just stock Ubuntu 16.04 server, then I'd install jenkins and
docker. The web interface would need to be public to connect to github.

On Sun, Jun 26, 2016 at 4:40 AM, Sander Smeets <notifications@github.com>
wrote:

[2016-06-26 14:39] sanderux commented on #4871
I'll pm you login details over skype.

[2016-06-26 16:00] sanderux commented on #4871
How much disk, ram and cpu cores? I'd say 20g 4g and 4 cores? I have more than enough of all

[2016-06-26 16:36] dagar commented on #4871
20GB disk is probably sufficient. The more memory and cpu you can throw at it the better. 4GB ram and 4 cores is roughly what travis-ci provides, although I suspect those cores are pretty heavily shared.

[2016-06-26 20:57] sanderux commented on #4871
8gb/6cores setup. auth is in your mail.
let me know how you get on, if it works and improves performance we can set it permanently

[2016-06-26 21:00] dagar commented on #4871
Thanks Sander!

On Sun, Jun 26, 2016 at 4:57 PM, Sander Smeets <notifications@github.com>
wrote:

[2016-06-26 21:26] svpcom commented on #4899
@tumbili I've recalibrated sensors using level tool and use latest master - it helps.
But i've found a strange behavior - with uncalibrated accelerometer ekf2 estimator (from latest master branch) ground station show me moving on the map with ~ 500m/s (!!) horizontal speed (copter stay on the ground). GPS is running, has 3d fix (13 sats with clear sky). Is it intended behavior (accel integration o

[2016-06-26 22:30] sanderux commented on #4871
i saw it quickly reached full mem when compiling, upped it to 10gig

[2016-06-27 02:54] Simonnnnnnn commented on #4908
ur snappy already can fly ?

[2016-06-27 06:20] tumbili commented on #4523
@jcooper21 Finally found the problem https://github.com/PX4/Firmware/pull/4916

[2016-06-27 06:26] tumbili commented on #4290
See
#4861
#4478
#4312

[2016-06-27 06:26] #4290 closed

[2016-06-27 06:27] #4523 closed

[2016-06-27 08:11] chobitsfan commented on #4876
I do verify it in SITL/jmavsim.  I switch simulated drone to POSCTL and take it off using QGC & joystick.  Then I kill QGC and found drone just hover there (or keep going up if I kill QGC while take off). But drone will auto land if I put drone in mission:pause mode and then kill QGC

[2016-06-27 11:21] CarlOlsson opened #4919 "Low voltage warning defaults to 3s"
Right now the number of cells is set to 3s as default, this may create some confusion for a new user since as soon as you start up your PX4 autopilot the first time you get warnings for to low voltage in QGC if you are e.g. running 2s.
I think the default should be to have the battery checks disabled and only activated when you want to.

[2016-06-27 13:05] tumbili commented on #3772
Fixed in #4921

[2016-06-27 13:05] #3772 closed

[2016-06-27 13:55] LorenzMeier commented on #4843
@DonLakeFlyer I've pushed a fix to master and at least my testing suggests its fixed - would you mind re-testing?

[2016-06-27 14:16] #4678 closed

[2016-06-27 14:57] tumbili commented on #4879
@ndepal @LorenzMeier Fixed by #4922

[2016-06-27 14:57] #4879 closed

[2016-06-27 15:35] #4901 closed

[2016-06-27 18:24] tumbili commented on #4899
@svpcom Sounds like something is very wrong. Can you arm the copter and post a log of that?

[2016-06-27 20:06] TobiMiller commented on #4833
Did you try autotakeoff command in reallife? i have the same behaviour there. 3 crashes and i thought it is my code. but now with stable stack as SITL i know it seems to be a firmware thing. I think this is critical for a stable firmware.

[2016-06-27 20:46] AndreasAntener opened #4924 "SITL segfault for standard_vtol"
Currently getting a segfault when starting `gazebo_standard_vtol`, any ideas? Just `gazebo` works.

[code]

[2016-06-27 21:07] AndreasAntener commented on #4924
Hm, also happens on Jenkins

[2016-06-27 21:17] dagar commented on #4924
You could first try running it with address sanitizer before debugging. Sometimes it makes the problem really obvious.
export MEMORY_DEBUG=1

[2016-06-27 21:41] AndreasAntener commented on #4924
Thanks, basically comes down to the same thing: https://gist.github.com/AndreasAntener/bc83f88c5ce2251b0740e0f0dcd3c487

[2016-06-27 21:55] svpcom commented on #4899
@tumbili  I is very hard because with uncalibrated sensors i'm unable to arm (and start logging).
Steps for reproduce:
1. Reset to factory defaults. (all sensors become uncalibrated)
2. Load config [conf.zip](https://github.com/PX4/Firmware/files/335901/conf.zip)
3. Calibrate gyro and level horizon.
4. Go outdoor and start pixhawk with attached gps.
5. Wait for gps fix + several minutes
6. See a d

[2016-06-27 21:58] AndreasAntener commented on #4924
My bad, merge conflict in rcS, `simulator start -s` disappeared..

[2016-06-27 21:58] #4924 closed

[2016-06-27 22:29] tuofeichen opened #4926 "way to feed in vision attitude estimate in attitude_estimator_q or LPE?"
Hey guys,
I'm wondering if there's a way to feed in a visual SLAM estimate of the attitude as a measurement (not just the heading, but potentially the whole rotation matrix), to `attitude_estimator_q` or `LPE`?

`LPE`'s `vision.cpp` seems to only take care of translation, and `attitude_estimator_q` seems to only take the heading into account.

Thank you.

-FC

[2016-06-28 01:03] mhkabir commented on #4926
You can modify the Q estimator for that.

[2016-06-28 01:54] dagar commented on #4700
This was fixed in #4835

[2016-06-28 01:54] #4700 closed

[2016-06-28 07:14] MHageH commented on #4833
@TobiMiller Actually for the real hardware, I flashed the latest firmware provided from qgroundcontrol, not directly from the stable branch on PX4/master.
I directly use the C UART Interface to arm and fly without ever passing by auto takeoff or qgroundcontrol : [footage](http://sendvid.com/ziebmszp).
Altho this happens on the stable branch, it doesn't on the master one.

[2016-06-28 09:02] iZhangHui commented on #4909
Optical flow has the same problem.

nsh> INFO  [local_position_estimator] [lpe] flow init: quality 153 std 19
INFO  [local_position_estimator] [lpe] xy resume
INFO  [commander] home: 40.4300001, -86.9290010, 41.23
INFO  [local_position_estimator] [lpe] home lat  40.43 lon -86.93 alt  41.2 m
INFO  [local_position_estimator] [lpe] flow timeout
INFO  [local_position_estimator] [lpe] xy timeout
WARN

[2016-06-28 17:47] pickledgator opened #4929 "Unable to use pos control when not using GPS"
A new commit has broken the ability to utilize position control nav state when gps_failure flag is true. This should probably be checking for valid_lpos or valid_gpos flags instead of only checking for gps_failure.

https://github.com/PX4/Firmware/blob/8a12dee125c37a3e48104877efd0f109d90b039b/src/modules/commander/state_machine_helper.cpp#L674

[2016-06-28 18:01] jmcwil commented on #4827
Hey,
I have been working on converting old aerocore files over to cmake and working through the errors that the compiler gives me.  This one error has me pretty stuck though:
[code]
I made sure I was up to date with the master (I know this file just got converted to cmake, and I have been getting this error before and after the update).  I looked at the line in question, and I have been unable to

[2016-06-28 18:07] dagar opened #4930 "branch cleanup"
@LorenzMeier @bkueng @tumbili

Hey guys, I don't want to distract from development, but one minor annoyance with working on Firmware is the overwhelming number of branches. There are 177 branches in the main repo, then doubled with a personal fork, plus personal branches, etc. It becomes quite difficult to find things. Can we try to clean it up a bit?

Here's a list of branches that can definitely

[2016-06-28 18:15] dagar commented on #4827
That's defined in nuttx-configs. It might help to diff against px4fmu-v2 and make sure nuttx-configs is consistent.

    meld nuttx-configs/px4fmu-v2/ nuttx-configs/aerocore/

[2016-06-28 18:48] bkueng commented on #4930
Good point, I deleted my old branches.

[2016-06-28 19:00] jmcwil commented on #4827
Thank you for showing me where that variable is set and also for showing me how to use meld to make my life easier!  I found the differences that are causing this problem.  I am still confused about how the file /nsh/defconfig is being generated.  Its current content is incorrect- could you please show me what automatically generating it?

[2016-06-28 19:09] dagar commented on #4827
I believe it's menuconfig, but I haven't used it in a long time. @davids5 probably knows more.
http://nuttx.org/doku.php?id=documentation:menuconfig

[2016-06-28 20:41] LorenzMeier commented on #4930
Thanks for the hint - I've also stripped a lot of branches, down to 94 now. @tumbili Would be good if you go through your very old branches as well.

[2016-06-28 21:33] davids5 commented on #4827
@jmcwil what branch are you on?

[2016-06-28 23:04] LorenzMeier opened #4931 "Quadplane: Altitude loss on pusher operation"
@sanderux Every time the pusher starts the system looses altitude. I believe it creates a static effect in the fuselage.

[2016-06-29 00:19] sanderux commented on #4931
In my tests it was always increasing altitude. I think my cg was too far back and yours is too far foreard

[2016-06-29 01:08] mhkabir commented on #4929
Yup :) Would you mind sending in a PR?

[2016-06-29 01:16] dagar commented on #4929
The fixed wing position controller needs global position for POSCTRL. You could use status->is_rotary_wing. I believe it properly changes with VTOL transitions.

[2016-06-29 01:26] mhkabir commented on #4909
@iZhangHui You're likely flying over badly textured surfaces, where flow cannot stay locked. A log would help to confirm this.

[2016-06-29 01:37] jgoppert commented on #4909
#4914 will improve this. It will attempt to navigate without flow longer.

[2016-06-29 06:55] LorenzMeier commented on #4931
This happens while hovering 2 meters above the ground. I know for a fact that there is a static effect in the body. This has nothing to do with flight dynamics.

[2016-06-29 07:03] sanderux commented on #4931
Doesnt the quad drive compensate for this?

[2016-06-29 07:06] LorenzMeier commented on #4931
I already told you its a static pressure effect in the body. That means that the estimate goes bad. The only way to fix this is by either using a static port on the X4 body or adding ventilation holes which prevent the static effect. Issues with Physics have to be solved with physical solutions.

[2016-06-29 07:06] sanderux commented on #4931
I will do some CFD testing before we start machine producing the modules to make sure no down force is created by them

[2016-06-29 07:07] LorenzMeier commented on #4931
You can skip that. It happens at zero airspeed, so your modules are not involved. I don't think you understood the problem yet.

[2016-06-29 07:09] LorenzMeier opened #4933 "Quadplane: Needs new gains to deal with wing flex"
@sanderux We have tuned down yaw significantly after observing a yaw-roll coupling which is because yawing generates torque which flexes the wings. This seems to have sufficiently improved the situation that no hardware change to the wing mounts seems necessary.

[2016-06-29 07:10] LorenzMeier commented on #4933
@tumbili Can you please send a PR with updated gains after a log analysis round.

@sanderux It would be great if you could validate these with test flights.

[2016-06-29 07:10] sanderux commented on #4931
The pusher pulls air over the modules.
What do you think should change to address this?

[2016-06-29 07:17] LorenzMeier commented on #4931
It changes the pressure inside the fuselage. I'll have a look with Roman into the log.

[2016-06-29 07:20] sanderux commented on #4931
Ah, ofcourse. It is designed to pull air through the fuse to cool things. That will create low presure in the fuse when the pusher starts. The baro should in that case be isolated from this effect

[2016-06-29 07:21] LorenzMeier commented on #4833
There is not enough context here - what does not work for you?

[2016-06-29 07:22] LorenzMeier commented on #4753
@tumbili Can you please connect to @dogmaphobic for the QGC side support?

[2016-06-29 08:12] MHageH commented on #4833
@LorenzMeier When you do a ``` make posix_sitl_default jmavsim ``` on the [stable](https://github.com/PX4/Firmware/tree/stable) branch, everything works fine, except when you try to do a ```commander takeoff``` from the NuttX shell, the quad crashes.
Is there any difference between the [stable releases](https://github.com/PX4/Firmware/releases), the PX4 [stable] (http://px4-travis.s3.amazonaws.com

[2016-06-29 08:13] LorenzMeier commented on #4833
No, those are all in sync. There will be a stable release within the next days.

[2016-06-29 08:15] MHageH commented on #4833
@LorenzMeier Could you please check if you can reproduce this bug? It doesn't happen at all with the master branch.

[2016-06-29 09:40] tumbili commented on #4931
Log: http://logs.uaventure.com/view/Zbk5bFUfgiBN5xtsoJNSCA

[2016-06-29 09:41] tumbili commented on #4933
http://logs.uaventure.com/view/iQVKp6rz27Q5cWFmUQescM

[2016-06-29 10:02] LorenzMeier commented on #4753
Only doing circle for now.

[2016-06-29 10:02] #4753 closed

[2016-06-29 10:04] #2980 closed

[2016-06-29 10:05] #1935 closed

[2016-06-29 10:33] LorenzMeier commented on #4930
Down to 45. I'm closing this right now and will continue to narrow down PRs.

[2016-06-29 10:33] #4930 closed

[2016-06-29 10:35] LorenzMeier opened #4934 "Altitude hold on master"
We changed the sampling strategy on master for the MS5611 to control drift. This is either not good in general or it needs a re-tuning of INAV.

[2016-06-29 10:37] LorenzMeier commented on #4934
@jgoppert FYI: This can also affect LPE.

[2016-06-29 11:33] tumbili commented on #4933
See #4936

[2016-06-29 11:33] #4933 closed

[2016-06-29 11:39] tumbili commented on #4280
@ecmnet Can you please post a log here?

[2016-06-29 11:56] jmcwil commented on #4827
I decided to work on a new branch off my fork of the master.  I tried switching to nuttx_v3 as you had suggested at first, but it was causing errors with NuttX, similar to the ones I mentioned earlier in this thread.

I was able to get past the error in nuttx-configs by manually editing the file to contain the information that was missing.  Looking at the history, it appears that is what had been

[2016-06-29 12:42] dagar opened #4937 "FW takeoff mode doesn't work"
In SITL gazebo plane if you select takeoff mode it accepts the takeoff setpoint immediately and takes off directly in loiter.

https://github.com/PX4/Firmware/pull/4932

[2016-06-29 12:49] jmcwil commented on #4827
UPDATE:  Nevermind about the param error, I found and fixed the problem in my CMake file.

[2016-06-29 12:52] ecmnet commented on #4280
Unfortunately not, as the behavior has changed with the latest master updates. Currently RTL is triggered when switching from OFFBOARD to POSHOLD. I would not have expected that as well as, RC CHECK is set to Joystick/No RC check.

[2016-06-29 13:21] davids5 commented on #4827
@jmcwil

You can also use cmpconfig

```cd NuttX/nuttx/tools```
```make -f Makefile.host```

```./cmpconfig    nuttx-configs/aerocore/nsh/defconfig nuttx-configs/px4fmu-v2/nsh/defconfig```

It is inadvisable to hand edit a defconfig file because the Kconfig tools maintains dependencies.
 (but sometimes it is unavoidable see revert to)

For a derivative of master to get the defconfig right you can.

[2016-06-29 13:43] jmcwil commented on #4827
Ok, I can try to fix the file the proper way.  Do I need to install something?  I am getting errors on make oldconfig and make menuconfig.
`/bin/sh: 1: kconfig-conf: not found
make: *** [oldconfig] Error 127`

[2016-06-29 13:44] CarlOlsson commented on #4919
AS discussed in the meeting today, the preferred solution is to force the user to setup the power configurations in QGC in the same way as e.g. "sensors" or "radio"

[2016-06-29 13:49] dogmaphobic commented on #4753
For this to work you would need coordination with the gimbal so the camera is pointing to the right place as the aircraft moves about.

[2016-06-29 13:52] davids5 commented on #4827
see https://bitbucket.org/nuttx/tools/src kconfig-frontends

[2016-06-29 15:08] jmcwil commented on #4827
@davids5 I am still struggling with this part.  I followed instructions and installed kconfig-frontends to my home directory (not sure if that is where it should go).  Something with my set up must be wrong.  I am unsure of how to use this with the PX4 stuff, and I have not been able to get it to work.  I am a very new developer and am still trying to figure out what all of this means.

Can you pl

[2016-06-29 15:55] tubeme commented on #4931
Instead can we just use the GPS Alt for this very moment of transition with higher wight in the math for the GPS alt instead of the baro alt. We have no classical fuselage like the X8 but rather a hood over the wing, and we experience similar loss of altitude during Altitude and Position transitions. It is not that bad though it is pretty small loss of altitude. After that it flies perfect.

[2016-06-29 16:04] dagar commented on #4930
Much better. I can almost see them all on the same page.
Thanks!

[2016-06-29 16:24] jmcwil commented on #4827
Also, would someone mind taking a look at this separate error I keep getting?

`/home/jessica/gcc-arm-none-eabi-4_9-2014q4/bin/../lib/gcc/arm-none-eabi/4.9.3/../../../../arm-none-eabi/bin/ld: cannot find -luavcan
/home/jessica/gcc-arm-none-eabi-4_9-2014q4/bin/../lib/gcc/arm-none-eabi/4.9.3/../../../../arm-none-eabi/bin/ld: cannot find -luavcan_stm32_driver
collect2: error: ld returned 1 exit statu

[2016-06-29 16:27] dagar commented on #4827
You could entirely remove uavcan for now. Do you have the uavcan module in the aerocore cmake config?
https://github.com/PX4/Firmware/blob/master/cmake/configs/nuttx_px4fmu-v2_default.cmake#L81

[2016-06-29 16:37] dagar commented on #4099
This is a cool idea. I think I can fit it in with some other fixed wing landing ideas. Then your landing could be either
 1. in place, into wind
 2. at home, into wind
 3. at predefined landing waypoint following approach (MAV_CMD_DO_LAND_START)

I'll do some testing to see what real wind measurements look like, but does anyone know what would be appropriate for determining landing direction? Loit

[2016-06-29 16:45] jcooper21 commented on #4099
My thought would be loiter for 2-3 revolutions for wind.  Let me know when you are ready t have it tested and I will test it.  I think the most common setting used will be at home into wind and if I am not mistaken we should just have to define the planes glide slope so it knows how far to fly back for the landing setup.

[2016-06-29 16:53] jcooper21 commented on #4099
I think ideally you would want this to replace the current "land" function then px4 would have a circle down landing and a regular landing.  The big issue with the current land function is you never know where your plane is going to land so we avoid using it at all costs.

[2016-06-29 16:56] dagar commented on #4099
The best procedure at the moment is to add landing to the end of your mission with a waypoint before the landing point setting up for a nice approach.

[2016-06-29 16:57] DonLakeFlyer commented on #4843
Fixed

[2016-06-29 16:58] jcooper21 commented on #4099
That's exactly what I do right now. I think this will make the landing so much better all around for PX4.

[2016-06-29 17:04] dagar commented on #4099
I'm surprised it's so unreliable for you. It does take some tuning to set an appropriate glide slope, etc. As long as I get close to hitting the last approach waypoint I have reliable landings. The problem is the acceptance radius is huge (~50m sphere) so it can start the landing too high, too soon, etc.

[2016-06-29 17:21] jcooper21 commented on #4099
The reason it is so unreliable for me is due to wind.  Where I live its not uncommon for wind to quickly change direction and velocity.  It make for very challenging landings.

[2016-06-29 17:28] jmcwil commented on #4827
Thanks.  I have now commented out that line as well as these:
`#set(config_extra_libs
	uavcan
	uavcan_stm32_driver
	)`
That takes care of that issue, at least for now.

Now I am left with
[code]
as well as a whole bunch of errors about an ``undefined reference to `io_timers'`` in ``/drivers/stm32/libdrivers__stm32.a``.  I will keep trying to pinpoint these errors.

[2016-06-29 18:21] JPluess commented on #4856
so what now? any news?

[2016-06-29 18:28] jcooper21 commented on #4099
This will also be very beneficial for the comment in the ground station you just made about not showing the waypoints. Finish a survey mission and the plane goes into this landing mode or circle down landing mode and there's no reason to drop waypoints for landing. The whole surgery setup becomes much easier.

[2016-06-29 20:20] davids5 commented on #4827
You can download and unzip it anywhere like /home/you/installs/kconfig

Then run the
[code]
commands

Simple (somewhat artificial)  example: In the menuconfig  UART1 is selected and that enables the Console to be set, and it is set on UART1, but the operator. Later you hand edit the defconfig and set UART2 and unset UART1 - but the console remains on UART1

Hopefully you get a compiler error, if n

[2016-06-29 20:38] jmcwil commented on #4827
@davids5 Thanks for taking the time to explain this to me!  I am doing my best to understand why all this works, and your explanation really helps.

Unfortunately, after successfully running all of the commands to set up kconfig and rebuilding the build_aerocore_default directory, `make oldconfig` is still giving an error.

`kconfig-conf: error while loading shared libraries: libkconfig-parser-3.1

[2016-06-29 20:56] davids5 commented on #4827
See if this buids
[code]

If it does then run     ```sudo make install```

If it does not it will tell you what things are missing ->packages need to be installed.

[code]

[2016-06-30 07:39] rawk-v opened #4940 "px4flow testing, always reject position control"
Hello
I am testing px4flow in pixhawk. But always get **reject position control**.
1.  Firmware version: **v1.3.3**, also tested in current 1.4.0rc2;
2.  px4flow attached to pixhawk with px4flow y direction and pixhawk forward remain the same;
3.  px4flow have been calibrated according to [https://pixhawk.org/modules/px4flow](https://pixhawk.org/modules/px4flow), I could always get px4flow quality

[2016-06-30 08:24] LorenzMeier opened #4941 "Camera trigger: Need to use the proper API for actuators"
@birchera The current approach of accessing PWM pins directly is suboptimal as it can conflict with the FMU driver's management of GPIO and PWM outputs. It would be good to coordinate on how to properly layer this.

[2016-06-30 08:37] tumbili commented on #4280
@ecmnet Hm, I'm not very familiar with the offboard logic. Does it give you any messages why it switched into RTL?

[2016-06-30 08:57] ecmnet commented on #4280
No via MAVLink. Have to check logs.

[2016-06-30 11:34] LorenzMeier opened #4943 "Travis CI builds time out on formatting failure"
@dagar @bkueng @julianoes The new formatting diff is great, but it doesn't fail the build yet. I think one of you contributed the diff improvement, would be great to return error on failure.
https://travis-ci.org/PX4/Firmware/jobs/141139346

[2016-06-30 12:05] vooon opened #4944 "TAKEOFF command fly away if lat/long not NaN"
@TobiMiller found a problem with takeoff.

To reproduce run simulator and mavros:
[code]

And with QGC takeoff works, because it set coords to NAN. So `rosrun mavros mavcmd takeoff 0 0 nan nan 600` works.

I think problem is in navigator code.

[2016-06-30 12:07] vooon commented on #4944
[navigator_main.cpp](https://github.com/PX4/Firmware/blob/master/src/modules/navigator/navigator_main.cpp#L468)
[code]

Is incorrect since param5/6 just copied in `mavlink_receiver.cpp`.

[2016-06-30 12:13] vooon commented on #4944
`DO_REPOSITION` has same issue.

[2016-06-30 12:54] jmcwil commented on #4827
@davids5 While that ran, it still wouldn't let me use menuconfig.  However, I ran
`./configure --prefix=/usr --disable-shared --enable-static --enable-mconf --disable-nconf --disable-gconf --disable-qconf --disable-utils
`make`
`sudo make install`
`libtool --finish /usr/local/lib`
and that did the trick.  I think the last command is what I had been missing.

Thanks for your help! Menuconfig is a n

[2016-06-30 13:37] ecmnet commented on #4280
@tumbili Here one log: http://logs.uaventure.com/view/XqiCZqgRWyfBd2UVNy2NCF. All happens during phase 'AltHold'. Notice the altitude change via off board control in that phase. It is also in that phase, that I try to switch on PosHold. Instead of doing this, RTL is triggered, POSHold is activated after landing. Could it be that some parameters are wrong set? I tried that with posix_sitl_default j

[2016-06-30 14:02] AndreasAntener commented on #4280
I had a quick look. Main state does change to POSCTL, but nav state to RCRECOVER, which means it thinks it lost RC, although the log doesn't show the RC loss (but the failsafe).

During offboard it also went into failsafe for just an instance. There the nav state was set to LAND, which also means that it had the RC loss flag set.

[2016-06-30 14:07] AndreasAntener commented on #4280
FYI, RC loss is not shown in the log because that flag is only set by actual RC input.

[2016-06-30 14:09] AndreasAntener opened #4948 "Also log vehicle status RC loss flag"
because only that will tell if the manual input was lost

[2016-06-30 14:26] LorenzMeier commented on #4944
Fixed in https://github.com/PX4/Firmware/pull/4947.

[2016-06-30 14:26] #4944 closed

[2016-06-30 15:03] ecmnet commented on #4280
Maybe the MAVLink RTL initiated message should contain the reason (e.g. instead the rising altitude).

[2016-06-30 15:04] davids5 commented on #4827
@jmcwil - Glad to see you are making progress!

[2016-06-30 15:39] jmcwil commented on #4827
@david5 Thanks!  I do have a couple of questions about this though, now that I am looking at this.  When I am in my build_aerocore_default directory, it appears that the changes I have made using menuconfig were applied.  However, is there something that I must do to the defconfig file in nuttx-configs/aerocore to make it reflect these changes?  If I clean my directory, what happens to the .config

[2016-06-30 15:52] birchera commented on #4941
Had a look and will change the implementation according to how you set it up. -> Will only use pins 5 and 6 for triggering and initialize it according to the chosen interface.

Not sure if we can do it this week, but certainly next.

[2016-06-30 17:35] philipoe opened #4951 "Parameter logging not working (sdlog2/sdlog2_dump.py)"
Hi,

logging of the onboard parameters does not seem to work in sdlog2. There is two completely separate issues:

1. The parameters are all written in the beginning when sdlog2 starts here https://github.com/ethz-asl/fw_px4/blob/master/src/modules/sdlog2/sdlog2.c#L582 . However, when they are updated during runtime, they are NOT written. One could add this by checking the `ORB_ID(parameter_update)

[2016-06-30 18:27] bkueng commented on #4951
Hi @philipoe

The next logger is already implemented and working. It also handles your first point completely [0]. If you want to try it out, you're welcome to do that. We're still working on tooling support, FlightPlot can already be used [1].

The 2. point is indeed something that should be fixed. Not sure if it's worth fixing though, the next logger uses a completely different file format that

[2016-06-30 19:14] jmcwil commented on #4827
UPDATE: Figured out the io_timers problem.  Turns out there were a few small typos in the files I mentioned.  I fixed them and now I seem to just have one more error that is keeping this from compiling:
````CMakeFiles/firmware_nuttx.dir/builtin_commands.c.obj:(.rodata.g_builtins+0x2ac): undefined reference to `serdis_main'
CMakeFiles/firmware_nuttx.dir/builtin_commands.c.obj:(.rodata.g_builtins+0x

[2016-06-30 19:21] LorenzMeier commented on #4827
@davids5 Can you help out with pointers for the built-in apps?

[2016-07-01 00:26] dagar commented on #4943
I believe it's only a problem when the diff is massive.

[2016-07-01 01:00] #4943 closed

[2016-07-01 03:40] edsellar opened #4953 "BMP280 over i2c"
I've taken a look at the BMP280 driver and see that the i2c portion is partially there. Is this something that will be continued or that someone could just point me in the direction to complete. I'm happy to do so, just a little direction would be appreciated as this would be a new topic for me. Plenty of BMP280 devices around here but all on i2c.

Ed

[2016-07-01 05:45] RizHuang opened #4954 "jMAVSim: mavlink_receiver.cpp:publish hil_sensors combine but can not receive!"
in mavlink_receiver.cpp there is
`   /\* publish combined sensor topic */
        if (_sensors_pub == nullptr) {
            _sensors_pub = orb_advertise(ORB_ID(sensor_combined), &hil_sensors);

[code]

But can not receive from position_estimator.cpp

[2016-07-01 06:36] LorenzMeier commented on #4954
Have you checked that you are receiving HIL sensors?

[2016-07-01 06:52] RizHuang commented on #4954
yes ! I am sure I have receive HIL sensors !

[2016-07-01 06:54] RizHuang commented on #4954
I tested with the Firmware master branch code  and jMASim master code .

[2016-07-01 07:35] RizHuang commented on #4954
I find something wrong here in the position_estimator_inav.cpp .
before the main task , there is a poll use to waiting 3s for baro data to caculate baro offset . if i comment these code  and direct give the baro_offset , it work well

[2016-07-01 08:15] JPluess opened #4955 "New feature requested, single motor run/check, to find out if m1 -m8 are connected properly"
Hi dear developers,

i have just set up a drone with the tarot zyx-m controller, i see they have a nice tool that can spin each motor, this way it is easy to identify if al motors are connected properly.
sometimes wiring is hidden, this would be of much help.

![bild 1ssssss](https://cloud.githubusercontent.com/assets/7995240/16515843/be1b4054-3f74-11e6-95c7-16b70a4cc158.png)

press m1 -> m1 will

[2016-07-01 09:48] AndreasAntener opened #4956 "Dronekit mission test script needs to use test framework to produce test result artifacts"
e.g. Pythons `unittest`
Then we can integrate it in CI

[2016-07-01 09:55] LorenzMeier commented on #4956
Nice! Volunteers? :)

[2016-07-01 11:46] tumbili commented on #1220
Problems found so far:
- SITL longitude is not wrapped
- navigation logic does not work with wrapped longitude because wrapping is not considered in the l1 waypoint navigation, see e.g. https://github.com/PX4/ecl/blob/5e0a229ee8bf09430051090f58f71c95fa4755f0/l1/ecl_l1_pos_controller.cpp#L364

[2016-07-01 14:19] dagar commented on #4956
Has anyone talked to Ardupilot Dronekit users? It seems like testing at the Dronekit level could be shared between projects.

[2016-07-01 14:57] LorenzMeier opened #4957 "Clean up flash space on FMUv2"

[2016-07-01 14:58] LorenzMeier commented on #4957
134966500 00000256 t crc8_tab
134978900 00000256 t crc_table

[2016-07-01 14:58] LorenzMeier commented on #4957
135017752 00000256 t mavlink_sha256_constant_256
135020612 00000256 t mavlink_sha256_constant_256
135023928 00000256 t mavlink_sha256_constant_256
135026028 00000256 t mavlink_sha256_constant_256
135027692 00000256 t mavlink_sha256_constant_256
135028148 00000256 t mavlink_sha256_constant_256
135028640 00000256 t mavlink_sha256_constant_256

[2016-07-01 15:43] #4909 closed

[2016-07-01 15:51] jgoppert commented on #4878
@ecmnet If you have time can you see if this is resolved on master now?

[2016-07-01 15:52] jgoppert commented on #4940
@rawk-v Have you tried setting  SYS_MC_EST_GROUP =1 and rebooting. A lot of the users that have been doing optical flow testing have been using this estimator and it should be more reliable.

[2016-07-01 15:53] jgoppert commented on #4926
I'm gearing up to do this as well. I"ll take a look, shouldn't be too hard.

[2016-07-01 17:35] jgoppert commented on #3695
LPE_INTEGRATE is now removed. There is still a bool controlling it in the source code, but performance is definetly worse with it set false.

[2016-07-01 17:35] #3695 closed

[2016-07-01 17:36] jgoppert commented on #4940
@rawk-v Also, set LPE_GPS_ON = false, or it will require you to have gps to initialize.

[2016-07-01 18:43] jgoppert commented on #4940
@rawk-v, see my latest flight on https://github.com/PX4/Firmware/pull/4483, the param changes at the bottom are also important if you want to do auto missions with flow, also make sure you keep the altitude low (1-3) m so that the camera can get good flow readings.

[2016-07-01 19:07] dagar commented on #4940
Should we do something to constrain altitude if using flow only in a position control mode?

[2016-07-01 19:21] jgoppert commented on #4940
I lost flow at about five meters we can also unable flow based navigation without sonar.

[2016-07-01 19:25] jgoppert commented on #4940
Maybe if estimated terrain distance is above sonar range.

[2016-07-02 01:42] mbrandonhurd commented on #4695
I'm having the same issue. Any workarounds that have been found would be greatly appreciated!

[2016-07-02 03:37] mhkabir commented on #4940
I think it also makes sense to introduce smart controller limits, especially as we move more and more towards navigating complex environments.

Using estimation covariance to scale maximal trajectory following speed, for example makes a lot of sense. e.g for pure vision, the vehicle should slow down as the vision covariance goes up due to say lack of features in the environment. Or for flow only,

[2016-07-02 08:21] rawk-v commented on #4940
@jgoppert Thank you!
I have set SYS_MC_ESG_GROUP=1 before, not working. But after setting LPE_GPS_ON=0, it works like a charm. Thanks :).

[2016-07-02 10:08] dengzhijie opened #4962 "px4flow testing, position control failed under I-NAV in v1.4.0 and above"
Hello
I am testing px4flow (no GPS) on pixhawk which running I-NAV.It can be switched to posctl successfully(not ARMED).But after it was armed,when i changed to position control, the light turned to green and then to pink(purple?),and failed to hover.
Firmware version: v1.3.3, v1.4.0rc2,also tested in latest 1.4.0rc3, all failed.
 expecting for you help,thanks!

As a comparason, iNAV works without

[2016-07-02 10:26] dengzhijie opened #4963 "px4flow testing,pixhawk running LPE,always reject altitude control under 1.4.0rc2 and 1.4.0 rc3"
Hello
I am testing px4flow(no GPS) on pixhawk which running LPE.But always reject altitude control.
 Firmware version: v1.4.0rc2, also tested in latest v1.4.0rc3;I tried setting SYS_MC_EST_GROUP =1 and  LPE_GPS_ON = false.
In addition,position control also failed under LPE under v1.3.3 and above.
 expecting for you help,thanks!

As comparason, LPE can work without problem under both altctl and pos

[2016-07-02 10:44] rolandash commented on #4963
should @jgoppert

[2016-07-02 14:44] jgoppert commented on #4963
@dengzhijie Please try 1.4.0 rc4, that has my latest updates to LPE. Also I just spent a lot of time improving the documentation for flow with LPE, so please visit the webpage here and see if it helps you: http://dev.px4.io/flow_lidar_setup.html

[2016-07-03 03:21] rolandash opened #4967 "No firmware link in 1.4.0RC4"
@LorenzMeier

No firmware link under 1.4.0RC4 title.

though we can make one, but would be nice to have it to keep consistent for testing management.

Thanks.

[2016-07-03 10:27] LorenzMeier commented on #4967
Use this more recent release candidate:
https://github.com/PX4/Firmware/releases/tag/v1.4.1rc1

[2016-07-03 10:27] #4967 closed

[2016-07-03 16:24] vvranjek opened #4968 "Latest master (d96810f) has compilation errors for px4fmu-v2_default"
It appears that the following types are missing in the `vehicle_gps_position.msg `
[code]

After I added those I went on to compile and there were quite a few problems in ekf2. Some missing/undefined types such as `ext_vision_message` , `ev_delay_ms` and others. I couldn't go on to "fix" the problem as there were errors I couldn't have resolved. I did the `git submodule update --init --recursive`

[2016-07-03 16:39] mhkabir commented on #4968
Master being broken is practically impossible, thanks to continuous integration.

Are you on an absolutely clean pull of master? Run  ```make clean```, ```make submodulesclean``` and ```git clean - dfx``` to make sure.

[2016-07-03 16:46] vvranjek commented on #4968
`make clean` and `make submodulesclean` did it for me, thanks! Case closed.

[2016-07-03 16:47] #4968 closed

[2016-07-03 18:54] vvranjek opened #4970 "Submodules not updating"
Hi,

Not sure if this is a PX4 problem or a git one, but lately I can't get to update the submodules on my fork.

Here is what I do:
[code]
Everything is good. But when I go to my master, I do:
[code]
It gives me compilation errors. I tried debugging the issue came to the conclusion that it's a submodule problem. Here are the outputs of `make submodulesclean` for `upstream/master` and my forked `m

[2016-07-03 19:06] dagar commented on #4970
Updating submodules just checks out the version stored in your Firmware branch. I'm guessing at some point during a merge or something they didn't get updated and were accidentally committed.

You'll have to get the them back to the state of master. Depending on what you're doing locally it might be easier to start a new branch from upstream/master and just pull over your local changes. Otherwise

[2016-07-03 19:33] LorenzMeier commented on #4970
Also make sure to run ```git submodule sync```.

[2016-07-03 19:33] #4970 closed

[2016-07-03 19:44] vvranjek commented on #4970
Ok, so `make distclean` didn't help but `git checkout upstream/master ...` did. After that I could merge the `master' to my other branch and it updated the submodules correspondingly. Tried (on another branch) `git submodule sync` and 'git submodule update --init --recursive` and it checked out the same old modules, so that didn't help I guess. I have no idea how that get messed up as I only use t

[2016-07-03 19:54] dagar commented on #4970
make distclean = clean + submodules sync + submodules update

In git each submodule (eg src/lib/ecl) is just a file that points to a git commit. In your branch that pointer has changed. You need to revert that change or force each submodule to match the commit used in master.

For each submodule that needs to be fixed

    git checkout -f upstream/master mavlink/include/mavlink/v1.0
    git checko

[2016-07-03 20:00] ecmnet commented on #4878
@jgoppert hopefully I'll  manage to confirm this by tomorrow. Could you summarize the changes ups to now so far?

[2016-07-03 20:11] vvranjek commented on #4970
Yes, but shouldn't at least 'git status' tell me that a submodule is lagging behind? Instead I lost many hours figuring out why the compilation had errors...

[2016-07-03 20:20] dagar commented on #4970
Yes git status would show you if it had just changed, but my guess is that you changed it accidentally in a previous commit.

Do you have a diff tool that can show you the diff of the entire tree?
Some git clients can do this (like eclipse) or you can use meld and run this.

    git difftool --tool=meld --dir-diff upstream/master

This shows everything in your local branch that's different than up

[2016-07-03 20:26] jgoppert commented on #4878
Even when in altitude following mode instead of terrain following mode, the behavior should be more reasonable. As part of testing the racing drones, we realized that the baro noise should be increased.

We really still need to address recording the moving altitude set point correctly.

[2016-07-04 06:55] ecmnet commented on #4878
@jgoppert I am now again facing those inaccuracies resulting in 'jumps' at altitude hold: http://logs.uaventure.com/view/eZf7XjBAxmRHRYQWxDjukW. Maybe you could have a look?

[2016-07-04 07:52] jgoppert commented on #4878
The main problem is that your terrain estimate was drifting off while you were on the ground and your lidar was out of range. Try setting LPE_EST_TZ = 1e-5 to lock it down.

When my lidar is on the ground it reads 30 cm, which is the min value. I'm not sure why yours is reading 0, that might be the root cause of this.

![image](https://cloud.githubusercontent.com/assets/473772/16553990/ffaa6e2e-41

[2016-07-04 08:08] jgoppert commented on #4878
@ecmnet Just found why terrain was drifting off, the sonar was reading, but the lidar was not on the ground. The sonar was reading very bad values, driving the terrain estimate to sink down below the floor since the baro said you were at the same altitude.

![image](https://cloud.githubusercontent.com/assets/473772/16554441/e763abc0-419c-11e6-9f61-41ca6f785d95.png)

[2016-07-04 08:17] ecmnet commented on #4878
@jgoppert Thanks for the quick analysis. According to its specification, SF10a is working from 0cm to 25m. I have also set LIDAR offset to -0.008. That the sonar was very faulty is clear, the vehicle had been over thick carpet. Might it make sense to set the lower limit of the LIDAR to 1cm in the driver?

[2016-07-04 08:43] jgoppert commented on #4878
If it published at zero it should be fine. Maybe try increasing lpe Snr z to ignore sonar.

[2016-07-04 08:52] ecmnet commented on #4878
@jgoppert I don't quite understand. If LIDAR was faulty, increasing SNR_Z would not help, I think. Alt. would then rely on baro only. For me the question remains, why LIDAR was considered faulty, not resuming at all.

[2016-07-04 08:59] tumbili commented on #1220
@LorenzMeier I've investigated this quite a bit and came to the following conclusion:
The longitude coordinate is nowhere wrapped in the code, however, crossing the international datum line in a mission or in position control mode does no harm. The l1 position control code is actually designed to handle unwrapped longitude coordinates.

[2016-07-04 09:04] tumbili commented on #1220
Still need to test this for multicopters, since they use different navigation logic based on local position.

[2016-07-04 10:01] dengzhijie commented on #4963
@jgoppert We tested v1.4.1 today(there was no firmware package of v1.4.0 rc4),but the problem seems was not solved,We followed your advice to view the document and setting SYS_MC_EST_GROUP =1 and LPE_GPS_ON = false(no GPS connected, only flow attached),but it did not work.

I also tested the case when GPS and flow are all disconnected. ALTCTL still rejected.

The only success is when GPS connected

[2016-07-04 10:08] dengzhijie commented on #4963
Forgetting to say that  ALTCTL/POSCTL  both works under v1.3..4 when using flow only and no GPS.

[2016-07-04 10:15] dengzhijie commented on #4962
We tested v1.3.4 and v1.4.1 today,but the problem still remain.

[2016-07-04 10:23] AndreasAntener commented on #4280
@ecmnet I did a test now with latest master, sending position setpoint in offboard an then switching to posctl. Once while hovering still and once while it was still in a climb to reach Z SP. Cannot reproduce the problem.

http://logs.uaventure.com/view/gkhyp6nLJoyWbJKY98dhVc
![screen shot 2016-07-04 at 12 17 15](https://cloud.githubusercontent.com/assets/5750020/16557671/7dcbe084-41e1-11e6-844d-9

[2016-07-04 10:43] ecmnet commented on #4280
@AndreasAntener Tested it again with latest master and a Taranis FrSky attached via USB and it works for me also now. Closing this.

[2016-07-04 10:43] #4280 closed

[2016-07-04 10:59] ecmnet commented on #4878
@jgoppert I now added 1cm minimum distance to the driver. As a result, LIDAR is initialized correctly each time when the vehicle rises. Still the altitude hold was not very stable. Here's the log: http://logs.uaventure.com/view/bce5sHWSAZLtEzpvWSru5k. Additionally: After switching to POSCtrl I faced a serious issue when flow was faulty. I had no chance to control the device anymore and it crashed.

[2016-07-04 11:31] sanderux commented on #1220
@tumbili I guess there is no other alternative but for you to go to Fiji and test this. :)

[2016-07-04 11:32] LorenzMeier commented on #4962
I quickly looked at the diff between 1.3.1 and 1.3.4 and can't really see anything substantial. Can you please re-test with 1.3.1 and make sure it still works?

[2016-07-04 11:46] tumbili commented on #1220
@sanderux Hehe, holidays in Fiji would be nice :)
Just gave this a test on SITL for multicopters and there does not seem to be an issue there either.

[2016-07-04 11:48] sanderux commented on #4931
@LorenzMeier it seems to me this would be a problem in most fixed-wings, it's only vtol where it becomes noticeable. to compensate for this you shield either use an external barometer or shield the entire FC.

There is also a third option that seems a bit unconventional but i think it would work:
When the pusher enables there is usually no lateral movement. We could consider factoring in, or even

[2016-07-04 13:17] jgoppert commented on #4963
Can you attach a log?

[2016-07-04 14:39] jgoppert commented on #4878
The 1cm seems to have done the trick for making it read correctly. Sorry to hear about your crash. Here is the analysis.

![image](https://cloud.githubusercontent.com/assets/473772/16563935/cd4952b8-41d2-11e6-8db8-369c63f521cc.png)

When flow drops out at 54 seconds, it keeps trying to estimate position for the next 6 seconds until the estimated std. dev. goes about the threshold of 1 m. At this p

[2016-07-04 14:49] jgoppert commented on #4878
@ecmnet Do you know why the flow quality got so poor, I don't see this often. I documented my setup closely here: http://dev.px4.io/flow_lidar_setup.html if you haven seen it yet.

[2016-07-04 15:02] jgoppert commented on #4878
Your altitude plots look reasonable. It is basically following lidar and sonar is ignored because it is faulting 90% of the time:

![image](https://cloud.githubusercontent.com/assets/473772/16564666/b9b51166-41d6-11e6-8f0b-5bc6eba4356b.png)

![image](https://cloud.githubusercontent.com/assets/473772/16564674/c4553ede-41d6-11e6-85f6-dcedb8660748.png)

[2016-07-04 15:05] ecmnet commented on #4878
@jgoppert That is quite normal in my surrounding - leaving the carpet there is no structure on the ground. I went into that area on purpose to check sonar readings. With previous versions of LPE (and of course also the rest of the firmware), I was able to steer back - even in PosHold mode, which was impossible today. Flow is setup correctly in working fine on structured ground.

Regarding the alti

[2016-07-04 15:22] ecmnet commented on #4878
@jgoppert Regarding the SF10a driver: Should the minimum boundary be implemented by default? What do you think?

[2016-07-04 15:26] jgoppert commented on #4878
@ecmnet Yes, it needs a minimum. 0 is actually an error code on the sonar, so it throw 0's out. It would be ideal if you setup your sensor so that it was reading a valid number while on the ground, that would solve a lot of the odd behavior on takeoff.

I am going to try to fly with my lidar and try to reproduce your results and address the degradation in altitude hold. Do you have an old log you

[2016-07-04 15:39] ecmnet commented on #4878
@jgoppert The only I've kept is the one I mentioned above (March, 18th): http://logs.uaventure.com/view/RjyeEPwbDAgwgPePmYq2NL. Here baro was set to LPE_BAR_Z = 1.0. I remember, I got better results with higher baro values. In this log you can also see Flow working quite properly.

[2016-07-04 15:44] yota-code opened #4975 "jmavsim java error at java.net.URLClassLoader.findClass"
Newbie here,
I'm doing my best to follow [this page](http://dev.px4.io/simulation-sitl.html) to setup a basic SITL

`make posix_sitl_default jmavsim`

when I launch this, I get:

[code]
From my modest java knowledge I guess it have to do with some classes not available in a mysterious $PATH_SOMETHING. It may even be linked to the options found [here](https://pixhawk.org/dev/hil/jmavsim) : `java -D

[2016-07-04 16:16] dagar commented on #4975
What version of java do you have? java -version

[2016-07-04 16:37] ecmnet commented on #4878
@jgoppert Could it be that LIDAR timeout is detemined including the offset? It seems, that if I set the offset to 5cm (positive), a LIDAR timeout never occurs.

[2016-07-04 17:37] ivand58 opened #4979 "wrong doxygen descriptor (file name)"
In tailsitter.h probably the old filename is left - tiltrotor.h
`* @file tiltrotor.h
`

[2016-07-04 17:52] ivand58 opened #4980 "tailsitter - an extra minus in the ROLL"
In vtol->tailsitter, in FIXED_WING (and back transition) the roll elevon signal is inverted.
According to [LorenzMeier](http://discuss.px4.io/t/why-the-roll-elevon-is-inverted/622) this inversion should me moved somewhere (I guess in the mixer, in the text file which defines the mixing rules):

[2016-07-04 19:48] LorenzMeier opened #4981 "Check multicopter attitude controller changes"
@tumbili @AndreasAntener We have a user reported crash on master which looks like the attitude setpoint reset to 0 roll / pitch / throttle (but not zero yaw) mid-flight. This was with EKF2, but I don't see yet how its involved.

[2016-07-04 19:58] LorenzMeier commented on #4981
Seems sane.

[2016-07-04 19:58] #4981 closed

[2016-07-04 20:11] sanderux opened #4982 "Waypoint not reached in FW"
Mission on current master:
Kept loitering around waypoint 1, never proceeded to the next waypoint.
Log: http://logs.uaventure.com/view/DwRTKb7jKf5LHXH553s6n7

Mission:
![image](https://cloud.githubusercontent.com/assets/14801663/16569219/ff109214-4233-11e6-9670-96ca185e7988.png)

/cc @LorenzMeier @tumbili @AndreasAntener

[2016-07-04 22:40] alexFab opened #4983 "ppm issue"
i try to get openLRS with PX4 to work, but no success so far. I found a [post ](http://diydrones.com/forum/topics/apm-ppm-from-openlrsng?commentId=705844%3AComment%3A1737913)where someone describes the problem.

Is it possible to fix this in the current version? or is this issue known?

[2016-07-05 06:37] whyscience opened #4984 "Oscillation occurs when switch from Follow Me to Position"
Hi
 I fly in Follow Me mode ,when I switch to Position mode ,there will be oscillation in attitude like this
![screenshot from 2016-07-05 14 27 23](https://cloud.githubusercontent.com/assets/3918941/16575828/bb8329e6-42bd-11e6-8466-1cbcca64eb8a.png)
Or when the quadcopter is near the target , there will be no response to RC control , or it just flew away.
I test the latest firmware and V1.3 ,they

[2016-07-05 08:44] alexFab commented on #4983
the main developer of openLRS pointed out that this Timing issue is fixed log time ago. so this is no longer the Problem. [see](http://www.rcgroups.com/forums/showpost.php?p=35179054&postcount=8554)

[2016-07-05 09:14] yota-code commented on #4975
[code]
Here are the installed JVM...
[code]

In fact, with java-9-openjdk-i386 I get even nastier errors :)
[code]

I cannot find out where should be StringConcatFactory defined and if something is missing in my java install o_O

[2016-07-05 10:16] dengzhijie commented on #4962
@LorenzMeier I am sorry,we made a mistake.There are no problem of v1.3.1,v1.3.3 and v1.3.4.So the problem only exisits in v1.4.0 and the latest v1.4.1.

[2016-07-05 10:18] dengzhijie commented on #4962
I changed the title just now to reflect the latest testing result.

[2016-07-05 10:18] LorenzMeier commented on #4962
That makes a lot more sense. Can you try with the LPE estimator, because we will stop developing INAV soon?

[2016-07-05 10:47] vvranjek opened #4985 "HIL not working"
On the latest master (dc1f343) HIL simulation with X-Plane stopped working compared to the master from a few weeks back. When I try to switch to mission mode it says: "Set mode command temporarily rejected". I also had to turn off RC link loss failsafe, otherwise it would go straight to failsafe mode.

[2016-07-05 10:55] LorenzMeier commented on #4985
@dagar Would you mind reconfirming?

[2016-07-05 11:25] dengzhijie commented on #4962
@LorenzMeier We tested LPE under v1.4.0 and the latest v1.4.1,the same phenomenon to I-NAV

[2016-07-05 11:26] LorenzMeier commented on #4962
Can you please read this page and check if you followed all recommendations?
http://dev.px4.io/flow_lidar_setup.html

[2016-07-05 11:36] dengzhijie commented on #4963
@jgoppert We've solved the problem of  ALTCTL rejecting today ，and it was caused of the version of qgc which not saved the param of  LPE_GPS_ON rightly,and when I changed another version of qgc,the param was saved collectly.My qgc sierial number is v2.9.7b-369-g25a4502.
Really thank to your help!

[2016-07-05 12:57] bkueng opened #4988 "Python module & scripts to convert ULog files"
The following repo contains scripts for ULog files: https://github.com/PX4/pyulog

Among other things it contains a CSV conversion script.
@kd0aij fyi

[2016-07-05 13:06] julianoes commented on #4988
@bkueng Nice work!

[2016-07-05 14:01] dagar commented on #4985
I was using HIL heavily yesterday with only some navigator changes (LOITER_TO_ALT) on top of this commit.
@vvranjek is it possible you tried before you had a home position? With EKF2 that isn't shown in the mavlink messages, but I had a console connected to serial 5.

[2016-07-05 14:08] dagar commented on #4975
I'm not sure what to suggest. It looks like we have the exact same version of Ubuntu and java 8. The only obvious difference I see so far is that I only have java 8.

     % dpkg -l | grep openjdk
    ii  openjdk-8-jdk:amd64                        8u91-b14-0ubuntu4~16.04.1                                   amd64        OpenJDK Development Kit (JDK)
    ii  openjdk-8-jdk-headless:amd64

[2016-07-05 14:33] dagar commented on #4979
Fixed in https://github.com/PX4/Firmware/pull/4986

[2016-07-05 14:33] #4979 closed

[2016-07-05 14:39] julianoes commented on #4908
@Simonnnnnnn yes, sure can :)

[2016-07-05 14:54] mhkabir commented on #4780
OK, I can reproduce this now. Tracking.

[2016-07-05 14:56] dagar commented on #4099
I'll come back to this once EKF2 is publishing wind. I'm working on a few other FW landing related improvements that I'll open PRs for over the next week. LOITER_TO_ALT, DO_LAND_START, etc.

[2016-07-05 14:59] julianoes commented on #4908
It looks like we're not looking at logging drops as such but rather timing issues. Needs more investigation.

[2016-07-05 15:44] julianoes commented on #4908
On a closer look I can see that sdlog2 which runs on the Linux side sometimes misses updates from the (m)uORB.

[2016-07-05 15:50] LorenzMeier commented on #4908
Can you raise that with @mcharleb and look at the total load of the px4 process?

If it's significantly less than 100% it hints at an issue with muorb.

[2016-07-05 16:10] dagar commented on #4985
Ok I just saw some kind failure where I connected HIL to xplane and it went straight into failsafe that I can't escape. Must be some kind of race condition.

[2016-07-05 16:13] dagar commented on #4985
We really need better error messages. What caused failsafe mode, why was a mode change temporarily rejected, etc.

[2016-07-05 16:31] dagar commented on #4985
If you arm before getting a home position you'll never get one.
https://github.com/PX4/Firmware/blob/master/src/modules/commander/commander.cpp#L2717

[2016-07-05 16:33] LorenzMeier commented on #4985
That's intended. What we need is to probably disallow this by default when we have a GPS module detected. This way we don't harass racing pilots but make sure camera ships RTL correctly.

[2016-07-05 17:18] julianoes commented on #4908
@LorenzMeier I've already checked the load of the mainapp process and it was around 30%. I'm gonna try to debug it with some simple plain subscriber to see if I can reproduce it.

[2016-07-05 17:31] julianoes commented on #4908
Strangely, htop shows that one core is used 30% while the mainapp consumes around 100%.

[2016-07-05 18:26] julianoes commented on #4908
I wrote a simple subscriber that uses poll. It never misses a replay message (except on startup) while sdlog2 keeps missing one or two every now and then, maybe around twice a minute.

[2016-07-05 18:34] jmcwil commented on #4827
Hello all,

Thanks to everyone's help, I have successfully gotten the code to compile.  The last error was presumably caused by a directory that had changed names, so once I changed builtin_cmds to builtin_commands in my cmake file, everything compiled.

However, I still have work left to do.  While the code compiles, it will not upload to my device.  I have a feeling that it is still looking for

[2016-07-05 19:04] julianoes commented on #4908
The issue doesn't really seem to be CPU load dependant as it also happens if only sdlog2 (and uorb, muorb) is running on the Linux side.

[2016-07-05 19:48] LorenzMeier commented on #4908
@julianoes Make sure nothing is skipped here:
https://github.com/PX4/Firmware/blob/master/src/modules/sdlog2/sdlog2.c#L1477-L1483

This should not happen in replay or all logging mode, it is expected to happen in normal logging mode.

[2016-07-05 19:48] LorenzMeier commented on #4908
Also make sure that the priority is set correctly - if unsure set to max:
https://github.com/PX4/Firmware/blob/master/src/modules/sdlog2/sdlog2.c#L328-L343

[2016-07-05 19:49] LorenzMeier commented on #4908
@bkueng What is the state on the new logger for EKF2 replay?

[2016-07-05 21:21] kd0aij commented on #4988
@bkueng Thanks, the scripts work for me.
But I noticed that parameter changes are no longer being logged as described here: https://github.com/PX4/Firmware/pull/4400#issuecomment-216083028
Was that intentionally removed, or just lost?

[2016-07-05 23:01] davids5 commented on #4957
Colaless Mavlink: Due to static inline mavlink/include/mavlink/v2.0/checksum.h

coalesce saves 224

08024ed4 0000001c t crc_accumulate
08038d5e 0000001c t crc_accumulate
0803b530 0000001c t crc_accumulate
0803cb58 0000001c t crc_accumulate
0803d67e 0000001c t crc_accumulate
0804166c 0000001c t crc_accumulate
08044e20 0000001c t crc_accumulate
08045c4c 0000001c t crc_accumulate

coalesce saves 1792

[2016-07-05 23:13] davids5 commented on #4957
@LorenzMeier

what commands would we never use:
 [
 dirname
?
basename
break
cat
cd
cmp
cp
date
dd
df
echo
exec
exit
free
help
hexdump
kill
ls
mb
mh
mkdir
mkfatfs
mkfifo
mkrd
mount
mv
mw
ps
pwd
rm
rmdir
set
sh
sleep
test
time
umount
uname
unset
usleep
xd
true
false

Please put an X in front of once I can remove from NuttX and I will disable them in the configs

[2016-07-06 01:54] davids5 commented on #4827
@jmcwil

Great Progress!

The next question I would as is:Did you build and JTAG the areocore [bootloader] (https://github.com/PX4/Bootloader/blob/master/hw_config.h#L330)  to your board? I am assuming the answer is yes or the bootloader came installed on the HW, because you have loaded FW with QGC - Is this correct?

Also what host PC/distro are you building and uploading the FW from?

[2016-07-06 02:23] davids5 commented on #4957
@LorenzMeier

Reduced command set to

?
[
break
cat
cd
cmp
cp
date
df
echo
exec
exit
free
help
kill
ls
mkdir
mkfatfs
mount
mv
mw
ps
pwd
rm
rmdir
set
sh
sleep
test
time
umount
unset
usleep
false
true

Saves 4344 Bytes

[2016-07-06 02:25] davids5 commented on #4957
@LorenzMeier  this https://github.com/PX4/Firmware/pull/4994 freesup 4506 Bytes

[2016-07-06 02:27] jmcwil commented on #4827
@davids5
Thank you!

I have just been using the bootloader that comes preinstalled on the board.  Correct, I have successfully loaded firmware from QGC.  I have also verified that my host machine recognizes the board by running `ls /dev/serial/by-id` and getting the correct output.

My host is running Ubuntu 14.04.

[2016-07-06 02:33] davids5 commented on #4827
What do you have in the Images folder for the aerocore? Please post the file here.

[2016-07-06 02:39] davids5 commented on #4827
The bootloader for aerocore (1)  has 98 https://github.com/PX4/Bootloader/blob/master/hw_config.h#L340 for the board type.  So I would expect https://github.com/PX4/Firmware/blob/master/Images/aerocore.prototype should have board_id: 98

[2016-07-06 04:42] #4963 closed

[2016-07-06 04:54] bkueng commented on #4988
@kd0aij no that's a regression. But I just tested, it still works for me in SITL, I can see the changes in FlightPlot and with `params.py`.

[2016-07-06 05:28] bkueng commented on #4908
It works once #4917 and #4817 get merged.

[2016-07-06 05:30] julianoes commented on #4908
https://github.com/PX4/Firmware/blob/master/src/modules/sdlog2/sdlog2.c#L1477-L1483

Nothing skipped there.

https://github.com/PX4/Firmware/blob/master/src/modules/sdlog2/sdlog2.c#L328-L343

`SCHED_PRIORITY_MAX` fixes it but that's probably a bad idea for logging. I'm wondering what could cause the drops.

[2016-07-06 07:24] alexFab commented on #4983
px4 doesn't recognize my openLRS RX (submicroLRS). But [this](https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/generate-ppm-signal/Generate_PPM_signal_nodelay.ino) simple ppm simulator works fine with px4.
ppm signal from openLRS looks pretty much the same like ppm from simulator but inverted.

this issue is also open @openLRS openLRSng/openLRSng#113

[2016-07-06 07:26] julianoes commented on #4908
There are even drops with `SCHED_PRIORITY_MAX` just a lot less frequent.

[2016-07-06 07:28] rawk-v commented on #4940
jgoppert, I am testing auto mission with optical flow now, I set all params as you suggest.
I takeoff the UAV manually and switch to position control successfully  at 1.2m approximately, but whenever I switch to automission channel, UAV just land and do nothing.

I have never test automission before, could you please show me some valid waypoint? Or any suggestions? Thanks!

[2016-07-06 07:33] LorenzMeier commented on #4983
Can you attach plots and data from your logic analyser? We support non-inverted and inverted PPM.

[2016-07-06 07:34] LorenzMeier commented on #4908
On Snapdragon running the logger on Linux at high prio is fine. This is just something that should not be done on the DSP / STM32. I find it still confusing that  you see drops. That again means going back into muORB.

[2016-07-06 07:41] julianoes commented on #4908
It is confusing, there could be several things that are influencing this.

E.g. I see a lot less missed updates on my bench setup which doesn't have a external GPS/mag connected.

[2016-07-06 08:00] vvranjek commented on #4985
@dagar I don't think I get the home position. After I connect to the simulator, I get these 3 messages in console:
[code]

[2016-07-06 08:16] julianoes commented on #4908
There must also be some power saving going on, at least on the Linux side. A simple `usleep(1000)` loop  leads to waits > 5000 at least once a second without high CPU load. Once I run `stress -c 4`, everything is running as expected.

[2016-07-06 08:26] alexFab commented on #4983
openlrs - doesn't work with px4
![openlrs](https://cloud.githubusercontent.com/assets/16255054/16611795/dfc8e452-4363-11e6-9312-c7c8ebaac4bf.jpg)

simulator - works with px4
![simulator](https://cloud.githubusercontent.com/assets/16255054/16611796/e285fa5e-4363-11e6-909f-df86b7ea6c0e.jpg)

[2016-07-06 08:37] LorenzMeier commented on #4983
Can you please show 2 cycles / bursts? The pauses between the signals also do matter.

[2016-07-06 08:39] LorenzMeier commented on #4908
That makes sense. We even see that on i7 boards, I just forgot, sorry. Can you work out the best way to force the right operation of the core and potentially also CPU affinity and get this going?

[2016-07-06 08:47] alexFab commented on #4983
not at the moment, maybe later today. but the pauses between the signals are configurable in openLRS ([Minimum PPM sync time](https://github.com/openLRSng/openLRSngWiki/wiki/Settings-Guide#receiver-settings)). on the screenshots the pauses are something like 4300us. I did also tests with 3000us.

[2016-07-06 09:11] iZhangHui commented on #4962
@LorenzMeier This issue is caused by  [code here.](https://github.com/PX4/Firmware/blob/master/src/modules/commander/state_machine_helper.cpp#L674)
It only checks for gps_failure, so POSCTL flying with px4flow (no GPS) will always fall into fail-safe mode.

I'm able to fly when set parameter CBRK_GPSFAIL to 240024.

[2016-07-06 09:19] LorenzMeier commented on #4962
@julianoes can you look into this?

[2016-07-06 09:28] julianoes commented on #4876
@chobitsfan Looking at the code I would expect it to follow the command after 10s. Can you check if the datalink loss is successfully detected in the commander?

[2016-07-06 09:32] julianoes commented on #4962
Aha, I didn't think of this case. Is it correct that POSCTL should be allowed with a local position estimate whereas the auto modes should not be allowed without GPS?

[2016-07-06 09:34] LorenzMeier commented on #4962
Yes, pretty much

[2016-07-06 09:36] alexFab commented on #4983
from: ([Minimum PPM sync time](https://github.com/openLRSng/openLRSngWiki/wiki/Settings-Guide#receiver-settings))

[2016-07-06 11:26] jmcwil commented on #4827
@davids5 Here are the contents of aerocore.prototype in the Images folder.
`{
    "board_id": 19,
    "magic": "AeroCore",
    "description": "Firmware for the Gumstix AeroCore board",
    "image": "",
    "build_time": 0,
    "summary": "AEROCORE",
    "version": "0.1",
    "image_size": 0,
    "git_identity": "",
    "board_revision": 0
}`

Interesting, I agree that the board_id should be 98.  I

[2016-07-06 11:44] jmcwil commented on #4827
Thanks, the firmware is loaded for the right board now!

Unfortunately, the board is still not quite responding.  Any ideas where I may have gone wrong?  I will keep putting files in meld to see if I can find something that looks off.

[2016-07-06 11:54] kd0aij commented on #4988
Sorry, I was confused: From looking at multiple logs it is obvious that I changed the parameter while disarmed :)

[2016-07-06 12:12] jmcwil commented on #4827
@davids5 It looks like my menuconfig changes may not have stayed.  How can I make these permanent, so that running 'make clean' will not eliminate them?  When I used menuconfig previously, it only saved changes to .config in my build_aerocore_default directory. Not sure if this is causing my problem but it seems like something I should attend to anyway.

[2016-07-06 12:54] LorenzMeier commented on #4827
You need to copy the resulting config to nuttx-configs/boardname/defconfig for it to stay.

[2016-07-06 13:47] LorenzMeier opened #4995 "Test multirotor control without mixer limits"
@MaEtUgR Medium term interested in LQR / MPC, but as first step I'd like to work out if the mixer limiting is negatively impacting performance.

[2016-07-06 13:50] jgoppert commented on #4878
@ecmnet Yes, the timeout does include the offset.

[code]

If your difference is 3 cm, it is probably best to include the offset from the c.g. for both. For instance:

If the lidar were 5 cm below the c.g. of the vehicle, set it  LPE_LDF_OFF_Z = 0.05.
If the sonar were 8 cm below the c.g. of the vehicle, set it to LPE_LDR_OFF_Z = 0.08

[2016-07-06 13:53] jgoppert commented on #4878
@ecmnet I think the offset should not go into the timeout calc, I will change that. For instance, if the users sets the offset to 1, then even when the lidar is reading 0, it will read as 1 and be considered valid.

[2016-07-06 14:13] jmcwil commented on #4827
@LorenzMeier Thanks for explaining that!  I understand now, and I will remember to do that from now on.

Should I be seeing an aerocore_default.bin somewhere?  I do not seem to have one.  Please let me know if you have any ideas what may be causing the upload to fail.

[2016-07-06 14:14] LorenzMeier commented on #4827
can you send a pr with your current state so i can run it?

[2016-07-06 14:20] dagar commented on #4985
Can you reset the pixhawk, reconnect QGC/XPlane and wait at least a minute to see if you ever get it?

[2016-07-06 15:38] bkueng commented on #4988
good to hear!

[2016-07-06 15:38] #4988 closed

[2016-07-06 16:12] vvranjek commented on #4985
Nope, I don't even see GLOBAL_POSITION_INT in mavlink inspector but GPS_RAW_INT is there. Is this only my problem or has anyone confirmed this?

[2016-07-06 16:25] dagar commented on #4985
Have you had HIL with QGC and XPlane working before? It's probably worth verifying your XPlane settings either way. https://pixhawk.org/users/hil

Once you connect does GPS_RAW_INT show the position of the plane in XPlane?

In the console can you run `commander status`

[2016-07-06 16:32] ecmnet commented on #4878
@jgoppert Thanks for that, I think it make sense to ignore the offsets for timeout identification. My previous setup was exactly as you described above. I'll do some testflights tomorrow with the latest changes you applied.

[2016-07-06 17:21] dagar commented on #3824
@sanderux I've started implementing MAV_CMD_DO_LAND_START
Do you want to revisit this and discuss exactly what you need?

So far it's going to be
 - as a mission item MAV_CMD_DO_LAND_START marks the start of the landing sequence in a mission (approach + land)
 - as a command it initiates AUTO at MAV_CMD_DO_LAND_START. I'm also considering making the AUTO_LAND mode do the same
 - then we can combin

[2016-07-06 19:24] alexFab commented on #4983
did some measurements again. and realized there are different offsets on rc-in. the screenshots above are made while the devices are not connected, so without the offset voltage, things looks different if the devices are connected.  After rebooting, before rc-in sees a vaild ppm-signal it has this Signal:

![rc-in_nothing_before](https://cloud.githubusercontent.com/assets/16255054/16631209/50d90bc

[2016-07-06 19:41] sanderux commented on #3824
@dagar For commercial applications failsafe sites will be a must-have.
According to the mavlink spec the MAV_CMD_DO_LAND_START initiates a landing at the closest landing site. When given coordinates it would be the closest to that location. but i think there is some nuance in this, first let me explain what my idea on failsafe sites (or rally points) is:

I think rally points is a good start but r

[2016-07-06 19:53] vvranjek commented on #4985
Yeah, I had it working from a modified master commit from a few weeks ago. I merge master every few weeks and thats what broke it for me. I tried a clean master and it's the same thing.

Yes, GPS_RAW_INT shows the position.

I just realized that I also have a bootloader problem. Below is the boot log as well as commander status after connecting to the sim and waiting about a minute. I tried reflas

[2016-07-06 20:22] dagar commented on #4985
First let's get the IO flashed, in case it's blocking something.

    px4io forceupdate 14662 /etc/extras/px4io-v2.bin

[2016-07-06 20:54] dagar commented on #3824
I'll try to stay on topic for this particular issue and focus on rally points. There are a lot of different areas I want to improve for fixed wind autonomy and failsafes, but right now let's just try to determine if we want APM style rally points or not.

So if I'm flying a fully autonomous mission and hit a failsafe where the plane is still functional (loss of comms, low battery threshold, etc) I

[2016-07-06 21:40] alexFab commented on #4983
I also try apm on pixRacer. No more offset voltage on the rc-pin but in the moment i connect the ppm pin from openLRS with the rc-in pin the signal max voltage drops from 3.3V to 1V. I guess this is to low.

[2016-07-07 06:45] vvranjek commented on #4985
Ok, updated successfully, no more errors, but everything else seems the same. Here is the boot log with commander status:
[code]

[2016-07-07 08:11] LorenzMeier opened #5000 "Refactor calibration to be uORB based for all systems"
@julianoes Some architectural cleanup so we don't need these ifdefs:
https://github.com/PX4/Firmware/pull/4999

[2016-07-07 08:51] superware opened #5001 "Add ability to set target altitude atomically, optionally by an offset"
It is sometimes desired to change altitude with the following requirements:
1. Change target altitude by an offset, so the GCS isn't required to "know" current target altitude (in the condition of down-link loss, for example).
2. Set target altitude only, without affecting target position. MAV_CMD_DO_REPOSITION seems to set target position to current position for NaN Latitude and Longitude.
3. Set

[2016-07-07 08:58] LorenzMeier commented on #5001
@dagar should we add this to your PR?

[2016-07-07 09:47] sanderux opened #5002 "Request for VTOL logs"
In an attempt to hunt down a few recent issues i would like to get some logs from VTOL flights that include transitions and preferably missions. Please indicate if your mission was using VTOL_TAKEOFF or regular takeoff and transition, and what firmware version you were running.
Manual flights also welcome.

Any additional info like wind conditions and airplane layout is welcome.

@tumbili @Andreas

[2016-07-07 10:21] ecmnet commented on #4878
@jgoppert Here the log of a short test-flight with Altitude hold. Still 10 to 15 cm variance in altitude.:
http://logs.uaventure.com/view/7tFtYqqcdW53LmtvUFc4nd

[2016-07-07 13:17] julianoes commented on #4876
@chobitsfan: I just verified this and you're right.
However, The question is just what the sense is of a datalink lost in a manual mode such as Manual/Altitude control/Position control. In any of these modes you can still fly using the joystick or RC input. If you lose RC in that case, it will RTL anyway. The reason it does RTL (or something else) in auto modes is because the auto modes are allowe

[2016-07-07 13:22] julianoes commented on #4955
There is one command line tool to do just this, however it's not as easy as the thing on the screenshot.

Remove the SD card from the Pixhawk and connect over USB. Open a serial console and you should get to the `nsh>`. At this point, press the safety switch, so it double-blinks.

Then type:
[code]

And to test one channel, do:
[code]
where 1300 is your PWM value and 1 is your channel counting fro

[2016-07-07 13:27] julianoes commented on #4056
@AndreasAntener this has been fixed recently, or am I wrong?

[2016-07-07 13:42] CarlOlsson commented on #5002
I don't know how useful it is since we are not on upstream px4 but here is a flight with our platform
http://logs.uaventure.com/view/5sFcbxJH7oJ35TcFVbrE2C
sunny and little wind, regular takeoff

[2016-07-07 13:52] chobitsfan commented on #4876
Thank you very much for your reply (I am sorry for my poor English)
This is my real case
I connect raspberry pi to pixhawk (through telemetry 1 port). My laptop connect to raspberry pi through wifi. I use QGC & joystick to fly quadcopter in POSCTL mode. I fork a mavproxy in raspberry pi to relay pixhawk mavlink to QGC. Everything works fine. But during another test flight. I move quadcopter forwar

[2016-07-07 13:56] dagar commented on #5001
Hi @superware
I proposed adding MAV_CMD_DO_CHANGE_ALTITUDE to mavlink common, but we couldn't come to an agreement. https://github.com/PX4/Firmware/issues/5001#issuecomment-231022023
MAV_CMD_NAV_CONTINUE_AND_CHANGE_ALT, MAV_CMD_CONDITION_CHANGE_ALT, and MAV_CMD_DO_REPOSITION didn't seem quite right to me.

                <entry value="186" name="MAV_CMD_DO_CHANGE_ALTITUDE">
                    <d

[2016-07-07 14:29] ecmnet commented on #5001
Maybe MAV_CMD_NAV_TAKEOFF should be included into that discussion, as it takes currently asl as parameter only.

[2016-07-07 14:35] LorenzMeier commented on #4876
@julianoes The resolution seems to be to trigger on data link lost in posctrl if RC was never present and data was present and now lost.

[2016-07-07 14:49] sanderux commented on #5002
From @tikiti
http://logs.uaventure.com/view/Mqpza4a78VJTTSXQ7kXiLQ
FireFly6 with Pixhawk
Full pilot-control
Hover/VTOL take-off and landing, forward flight transition at around 50M. Tested all flight modes (Man-ACRO, Alti, Position, Loiter)
Return and transition back in manual mode at about 50M again.
Manual-STAB landing

[2016-07-07 14:52] dagar commented on #5001
What about using COMMAND_INT and specifying the MAV_FRAME?
Small change here to adjust the altitude according to frame limited to appropriate commands.
https://github.com/PX4/Firmware/blob/master/src/modules/mavlink/mavlink_receiver.cpp#L449

[2016-07-07 14:56] julianoes commented on #4876
Ok, but should we ever be in POSCTL without RC?

[2016-07-07 15:06] dagar commented on #4876
Yes, if you have manual control from QGC and a joystick.

[2016-07-07 15:42] dagar commented on #4955
I opened a pull request to move MAV_CMD_DO_MOTOR_TEST into common. Don was interested in adding this QGC.

https://github.com/mavlink/mavlink/pull/580

[2016-07-07 15:43] dagar commented on #4955
Would it make sense to modify motor_ramp to do this? Plus something to temporarily disable the controllers.

[2016-07-07 15:48] dagar commented on #4985
Something else must be different. I think we have nearly identical setups, but mine is still working consistently.
Which airframe do you have selected (SYS_AUTOSTART)?
Can you verify HIL still works if you flash PX4 stable?

[2016-07-07 16:26] AndreasAntener commented on #4056
I wouldn't know, did you check a recent master log? :)

[2016-07-07 16:52] superware commented on #5001
@dangar MAV_CMD_DO_CHANGE_ALTITUDE sounds perfect from my side.

I would also add an "offset" altitude-type, so for example a (gamepad) button can be a really quick 1m climb/descend without the latency of relaying on incoming periodic messages (to get current target altitude etc), meaning three clicks in a row will actually climb 3m, and not climb 1m for three messages containing the same absolute

[2016-07-07 17:04] dagar commented on #5001
Actually I think we should just be using MAV_FRAME which has everything we've mentioned and more.
http://mavlink.org/messages/common

You can't change MAV_CMD_NAV_TAKEOFF, but you could specify the MAV_FRAME with COMMAND_INT.

[2016-07-07 17:15] dagar commented on #5001
There's also MAV_CMD_NAV_TAKEOFF_LOCAL.

@superware I'll reopen the MAV_CMD_DO_CHANGE_ALTITUDE pull request and we can continue the discussion over there.

[2016-07-07 17:17] superware commented on #5001
Actually COMMAND_INT sounds good, is it already implemented in any way?

[2016-07-07 17:43] julianoes commented on #4056
Nevermind then :)

[2016-07-07 17:47] julianoes commented on #4876
Isn't that sent over RC_... or RC_...OVERRIDE?

[2016-07-07 17:50] dagar commented on #4876
I believe it's MANUAL_CONTROL unless something's changed.
http://mavlink.org/messages/common#MANUAL_CONTROL

[2016-07-07 17:54] sanderux commented on #4612
@nkhoit what kind of vehicle are you flying?

[2016-07-07 17:55] vvranjek commented on #4985
I just tried the latest master (2317589) and it works now, but (dc1f343) from few days ago is broken for me. I'll just stick to the newer version for now. Thanks anyway!

[2016-07-07 18:00] dagar commented on #4985
Unsatisfying conclusion, but I'm glad it's now working for you. ECL was updated in this time frame.

https://github.com/PX4/Firmware/compare/dc1f343...2317589