[2016-08-09 16:20] kd0aij commented on #3858
bugfix here: https://github.com/PX4/Firmware/pull/5288
Looks to me like the transition logic was screwed up in commander.

[2016-08-09 21:17] dagar commented on #5078
Temporarily fixed by removing the version check here - https://github.com/PX4/sitl_gazebo/blob/master/CMakeLists.txt#L192

[2016-08-10 07:02] LorenzMeier opened #5290 "Flight mode / throttle inspection"
@julianoes This user reported the vehicle rise uncontrolled. Not sure yet what caused it.
http://logs.uaventure.com/view/x2pFutLTCB7QdTTuBgRZJL

[2016-08-10 07:28] ivand58 opened #5291 "Attitude rotation for tailsitter."
When the tailsitter/VTOL switches from MC to FW mode, the attitude should be rotated at 90 degree.

This issue was initially assigned to QGC, but it seems that the change is firmware specific/vehicle specific, see [qgroundcontrol/issue 3849](https://github.com/mavlink/qgroundcontrol/issues/3849#issuecomment-235959007)

[2016-08-10 08:11] tumbili commented on #5290
@LorenzMeier @julianoes @jgoppert  Check estimator innovations (they are horrible) and the reported gps speed (over 100 m/s in the vertical direction). GPS did indicate that the values are bad (eph and epv went up very high). The question is if the estimator (LPE) did a good job in rejecting the measurements. The vertical velocity seemed to pretty much follow the gps measurements.

[2016-08-10 08:18] tumbili commented on #5290
@jgoppert Maybe you could have a closer look at this log?

[2016-08-10 09:01] mswingtra commented on #5245
I am closing here, as the issue with baro jumps is solved.

The RC spikes are still present, but it seems to be related only to our custom changes, as we could not reproduce it with current master.

[2016-08-10 09:01] #5245 closed

[2016-08-10 10:48] art-mx commented on #5276
Same thing. Is Master usable with this?

[2016-08-10 13:53] jgoppert commented on #5290
It looks like GPS raw data  decreased 500 m suddenly.

[2016-08-10 14:47] dagar opened #5292 "MAV_CMD_DO_GO_AROUND go into hold mode"
The way MAV_CMD_DO_GO_AROUND is implemented it switches the land position setpoint to loiter temporarily. I think it would be safer to actually go into hold/loiter mode.

[2016-08-10 14:57] dagar commented on #5078
@LorenzMeier @jgoppert what's the proper fix for gazebo plane? Is the version check backwards? Only enable the LiftDragPlugin plugin for gazebo >= 7?

[2016-08-10 16:37] LorenzMeier commented on #5078
I'd say we always enable. Some LINUX distributions are missing the proper plugins (or the path setup for them).

[2016-08-11 15:02] davids5 opened #5298 "Work Flow flexibility"
@dagar, @jgoppert FYI: @LorenzMeier

Lorenz asked me to ask you both for a solution to this:

Discussion: https://github.com/PX4/Firmware/pull/5107#issuecomment-233989861

We need a solution where:

We do have to modify and merge/unmerge the MakeFile and .travis.yaml constantly.

The original build system had a feature that a build target added to the config directory that had, I think, _default -

[2016-08-11 15:38] CarlOlsson commented on #5143
Summery of tests so far, the [same mission](https://github.com/PX4/Firmware/files/413579/mission.txt) was flown in all tests

Replayed logs generated in SITL on my computer, estimator diverges
![replay_replayed_carl](https://cloud.githubusercontent.com/assets/7795133/17594323/358a0be0-5fe9-11e6-8c12-daaf694c54dc.png)

Replayed logs generated in SITL on our beast (12 core computer) unclear what the

[2016-08-11 15:42] dagar commented on #5298
Here's the current target setup
qgc_firmware: builds on travis-ci and uploads to s3 for qgc flashing
check: builds all targets on semaphore-ci and runs testing, no upload

What about adding them to check single line? Would that reduce the merging pain?

[2016-08-11 19:48] PolskaPole opened #5300 "Radio not recognized on master. Spektrum DX7 and SPM9645 Spektrum DSMX Receiver"
Hey folks,
Hope some of you can help me.
As the title indicates I'm using this setup with just the Snapdragon Flight Kit, no pixhawkpixfalcon in between.
The receiver is plugged into J15 on the board and started with `rc_receiver start -D /dev/tty-1` in the px4.config.
I was using an old commit of this Firmware (~June 5, 2016) and it works perfectly with this setup. Now I wanted to get the latest

[2016-08-11 22:35] drones-squad commented on #465
Hy,

Is this fix currently to be found / implemented in the 2.4.5 schematic ?

[2016-08-12 00:39] davids5 commented on #5298
I already did that. It would be avoided with an include bases solution.

[2016-08-12 02:15] stu85010 opened #5302 "DF_Wrapper: checking the instance is available in start()"
Hi, I thought it would be good if the instance of driver being created or destroyed in necessary.
For example, in [df_trone_wrapper.cpp:204](https://github.com/PX4/Firmware/blob/master/src/platforms/posix/drivers/df_trone_wrapper/df_trone_wrapper.cpp#L204),
checking whether the instance is already exists before create a new one,
`g_dev = new DfTROneWrapper();`
=>
`if (g_dev == nullptr) {`
`g_dev =

[2016-08-12 02:28] jgoppert commented on #5298
CMake just needs the correct arguments to be passed, -DCONFIG="your_extra.config" So we are really just talking about how to easily alias target lists. Why not use a python helper script. It is much easier to maintain than a Makefile and we could have lists, usage etc.

[2016-08-12 02:49] VictorSu2 opened #5303 "After BSP and Linux updates Snapdragon px4 start still has problem"
Hi,
After doing the BSP and Linux image update, the errors shown are less.
But still remains error such that px4 doesn’t work properly.
The error message is as shown:

Could anyone possibly figure out what problems it might be?

Thanks
Victor

[2016-08-12 06:54] jilinggui opened #5304 "1.4.1: mav_cmd_do_vtol_transition failed"
Hi ,guys .when i  test  automatic transition(mission, commanded)according to the page "[http://dev.px4.io/airframes-vtol-testing.html](http://dev.px4.io/airframes-vtol-testing.html)"under the sitl, when transition from MC to FW ,the vehicle  become  crazy,the  terminal output liake this :
`

,What's the matter?

[2016-08-12 07:46] tumbili commented on #5143
@CarlOlsson I can look into this but it must clearly be related so SITL. I'm using replay regularly on master and no issues.

[2016-08-12 07:49] tumbili commented on #5143
@CarlOlsson Clearly you can see in the plots that there are two resets taking place (position / height jump).
That is the reason why you are getting the gps timeout messages. The estimator refuses gps measurements and after the variance of the corresponding states has grown and reached the threshold the filter does a reset.

[2016-08-12 09:14] sanderux commented on #5304
I am unable to duplicate this on master.
Did you try a make clean and update your gazebo?

[2016-08-12 09:29] CarlOlsson commented on #5143
Thanks @tumbili  for the info that you are using replay on a real system, that is very relevant since I can't. See point 3 above. Could you upload a replay.px4log that you can replay and I can try it on my computer?

[2016-08-12 09:52] AndreasAntener commented on #5270
Fixed on master

[2016-08-12 09:52] #5270 closed

[2016-08-12 10:01] jilinggui commented on #5304
@sanderux Thanks a lot.now i am using gazebo6, I will update to gazebo7 and test again.

[2016-08-12 10:34] jilinggui commented on #5304
@sanderux Hi sanderux,I have tried,but it still does not work.I work on VMware,i doubt that is the result of virtual machine is running pretty slow,do you have any good idea?

[2016-08-12 10:54] sanderux commented on #5304
i have never seen gazebo work well on a VM, i would suggest you try it on a dedicated linux environment

[2016-08-12 12:25] davids5 commented on #5298
@dagar @jgoppert, FYI:@LorenzMeier

If that makes the most sense, @jgoppert would you put is a PR with a solution.

[2016-08-12 13:23] metusa opened #5305 "hardware in the loop test problem"
Hi
I have a problem with hil test. I have changed the SYS_AUTOSTART parameter to 1001. Then I run the jMAVSim in HITL mode and start the QGC(v.2.9.7). I send the missions to vehicle. But when I armed the system, it just rises indefinitely not going to waypoints. I have also done the sensor calibration.

[2016-08-12 13:40] dagar commented on #5304
Try running gazebo without the gui.

    HEADLESS=1 make posix_sitl_default gazebo_plane

[2016-08-12 14:54] sanderux opened #5306 "Deploy quadchute also during back transition"
People tend to switch back to MC manually when things go wrong
At this point the back transition duration is applied and that could be too long to recover before hitting the ground.

fyi @kd0aij

[2016-08-12 16:40] DonLakeFlyer opened #5308 "SITL runs send incorrect firmware version"
Which then causes QGC to pop the error about needed 1.4 or above to run correctly.

[2016-08-13 09:22] aaronpu commented on #4221
yes ,i found this issue too, but sometimes, it is bad ,  when the Multicopter turn right and yaw value out of range, this issue will happen  on CCW motors  , but i dont know how to solve this expect changing "out>1.5f" or more bigger.

`} else if (out > 1.5f) {-----here
			// allow to reduce thrust to get some yaw response
			float thrust_reduction = fminf(0.15f, out - 1.0f);
			thrust -= thrust_r

[2016-08-13 09:51] LorenzMeier commented on #5308
Can you update from master and re-run? If it doesn't work with an incremental build, can you run ```make clean``` and report the result of that?

It reports 1.4.1dev for me correctly.

[2016-08-13 15:19] akru opened #5312 "Pixracer overheat"
Month ago I buy china **pixracer** from [Aliexpress](http://www.aliexpress.com/item/Mini-Pixracer-Autopilot-xracer-V1-0-Version-FMU-V4-PX4-Flight-Controller-Board-for-QAV-Multicopter/32660706353.html). So it looks good with `ArduCopter-3.3.3`, but with latest versions of APM or PX4 firmware (in my opinion it's related) the PCB have overheat around main chip (50-70С for a long time).

Unfortunately

[2016-08-13 15:38] kd0aij commented on #5312
I doubt that the manufacturer of that board is reading these issues.

[2016-08-13 15:39] LorenzMeier commented on #5312
Please contact the manufacturer. This is not a software issue.

[2016-08-13 15:39] #5312 closed

[2016-08-13 20:44] #5304 closed

[2016-08-13 21:17] kylefoley opened #5313 "mmack"

[2016-08-14 04:51] MikaelFerland commented on #4956
@dagar after our little talk last time, @squilter did the px4 modes work in pymavlink. It helped me a lots. So my exams are finished and the modes are working into dronekit. I did something here https://github.com/dronekit/dronekit-python/pull/652. I will check soon why the build have failed.

[2016-08-14 09:21] #5313 closed

[2016-08-14 13:02] tubeme opened #5314 "1.4.1 VTOL How to program transition switch?"
Hi,

Just about to try the 1.4.1 and I cannot seem to find a way to program a transition switch.

In the release statement I see "VTOL: Dedicated transition switch for manual operation." But I dont see it in QGC. I use today's build of QGC.

AUX1 does not work anymore like in 1.3.4

Any ideas?

[2016-08-14 13:08] tubeme commented on #5314
I must say 1.3.4 is ROCK SOLID! in all weather conditions. :) I must say BIG Thank you for the good work.

[2016-08-14 13:33] kd0aij commented on #5314
The transition switch mapping was changed recently: https://github.com/PX4/Firmware/pull/5101
and I don't think QGC supports it yet. You'll have to manually assign the switch.

[2016-08-14 14:21] tubeme commented on #5314
So how do i program the switch?

[2016-08-14 14:31] tubeme commented on #5314
Thanks I changed it in the config.txt it works..

[2016-08-14 14:31] #5314 closed

[2016-08-14 15:14] kd0aij opened #5316 "v1.4.1 release, Pixracer, LPE rejects ALTCTL even with LPE_GPS_ON=0"

[2016-08-14 15:52] sanderux opened #5317 "FMU v2 no longer connecting over USB / radio telemetry"
Somewhere after https://github.com/PX4/Firmware/commit/9f4a91ab19d4a11eb73b32ae0df6d35e87eb65f1 master fails to connect to QGC

[2016-08-14 16:20] tubeme commented on #5193
How about fly away in Quad mode? Not unseen scenario. It is good to think about fly aways in general. Good idea is to use the QuadChute for the purpose.

[2016-08-15 06:23] LorenzMeier commented on #5317
Reverting this seems to have fixed it for me.

[2016-08-15 06:33] LorenzMeier commented on #5317
Happening somewhere around here:
[code]

[2016-08-15 06:34] LorenzMeier commented on #5317
Originating specifically here:

[code]

[2016-08-15 07:01] sanderux commented on #5276
This is still happening. It makes updating very annoying as a sensor recalibration is needed.
Restoring params (through qgc) doesnt help against this.

[2016-08-15 07:17] LorenzMeier commented on #5317
Stack overflow in MAVLink app.

[2016-08-15 07:34] LorenzMeier commented on #5317
Another assert:
[code]

[2016-08-15 07:36] LorenzMeier commented on #5317
Now it happens here:
[code]
@bkueng This looks like a regression of your uORB changes. Could you please drop everything and immediately look into this, starting with an address sanitizer SITL run as described on http://dev.px4.io?

[2016-08-15 08:18] tumbili commented on #4868
This is implemented, see parameter BAT_SOURCE.

[2016-08-15 08:18] #4868 closed

[2016-08-15 08:18] tumbili commented on #4861
This has been implemented.

[2016-08-15 08:18] #4861 closed

[2016-08-15 08:19] tumbili commented on #4782
May be related to #5210

[2016-08-15 08:23] tumbili commented on #4492
Outdated

[2016-08-15 08:23] #4492 closed

[2016-08-15 08:24] LorenzMeier commented on #5317
One more:
[code]

[2016-08-15 08:24] tumbili commented on #4511
Fixed in master

[2016-08-15 08:24] #4511 closed

[2016-08-15 08:55] DeanJJJ opened #5319 "how to make pixhawk hardware board have PWM output in hil mode?"
how to make pixhawk hardware board have PWM output in hil mode?
pls!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2016-08-15 09:00] DeanJJJ opened #5320 "Barometer can not be used in hil mode after downloading new firmware"
Barometer can not be used in hil mode after downloading new firmware . Why does it happen and how to fix it?
pls!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2016-08-15 09:34] LorenzMeier commented on #5317
More data:
[code]

[code]

[2016-08-15 09:34] LorenzMeier commented on #5317
Now crashed in ekf2:

[code]

[2016-08-15 09:35] LorenzMeier commented on #5317
[code]

[2016-08-15 09:36] LorenzMeier commented on #5317
[code]

[2016-08-15 09:36] LorenzMeier commented on #5317
Looks like something is trashing the uORB data structs.

[2016-08-15 09:53] bkueng commented on #5317
Havn't been able to reproduce this so far. address sanitizer shows nothing, valgrind shows something that could be an issue:
[code]

[2016-08-15 10:06] LorenzMeier commented on #5317
I think we also might want to run EKF2 with -Weffc++ and -Werror=uninitialized. But it'll take some work. I seem to have more crashes with a smaller EKF2 stack, although I do not see why that's related.

[2016-08-15 10:29] LorenzMeier commented on #5317
We're hunting definitely an overflow:
[code]

[2016-08-15 11:08] bkueng commented on #5317
Did you do a `git bisect`?

[2016-08-15 12:14] LorenzMeier commented on #5317
No, but I found it just now: The crashes were the result of the system running out of RAM for heap allocations. It got random memory pointers and kept using them. I'm working on a target with 50K less memory, so this is all handled. I'm adding a RAM monitor just now.

[2016-08-15 12:22] bkueng commented on #5317
great!
but why would it get random pointers?

[2016-08-15 12:22] LorenzMeier commented on #5317
Because we have not solved the return value of new() yet, so the pointer will not get actually set to zero. You opened an issue a while back.

[2016-08-15 12:27] bkueng commented on #5317
I thought the nuttx implementation just returns NULL on failure?
You mean https://github.com/PX4/Firmware/issues/4493? That's something different and solved for GCC

[2016-08-15 12:37] davids5 commented on #5317
If you're getting back random values that would suggest the heap is corrupted.

[2016-08-15 12:42] #5317 closed

[2016-08-15 14:47] kd0aij commented on #5203
This simple change works very well on my Pixracer/S250 racer: https://github.com/PX4/Firmware/pull/5324

[2016-08-15 20:28] dagar commented on #5298
@davids5 I'm happy to implement additional_targets.mk if that would be helpful for you.

[2016-08-15 20:29] davids5 commented on #5298
Please :)

[2016-08-16 05:37] jilinggui commented on #5304
@sanderux @dagar Hi,I have tested on a dedicated linux environment,and i also have test running gazebo without the gui, both can't normal to switch from MC to FW. Maybe  need to set some parameters?

[2016-08-16 05:43] jgoppert commented on #5316
Looking into this, any logs?

[2016-08-16 06:31] sanderux commented on #5304
Can you copy the console output when you run on a dedicated machine?

[2016-08-16 06:41] sanderux opened #5328 "Restore params needs multiple runs"
As some params are optional and only load when others are set, restoring params from a backup after a reset or on a new device requires multiple runs.

Is there any way around this?

[2016-08-16 12:34] LorenzMeier commented on #5328
Yes there is. The PX4 param system does not forbid to try to write a "non-existent" parameter. The QGC side might try to be too smart about it when it loads the file.

I guess what's needed is a try-and-report-failure approach rather than attempting to prevent the user from the start.

[2016-08-16 12:39] kd0aij commented on #5316
No, I tested by connecting QGC via wireless telemetry (outdoors) and changing TX mode switch from manual to ALTCTL. QGC reported that the mode switch was rejected, so I didn't even arm.

[2016-08-16 15:46] han-so1omon opened #5329 "Unable to run make with targets given in PX4 Devguide"
From the px4/Firmware directory, I have run `cmake .`. Then, I try to run `make eagle_default` followed by `make eagle_default upload`. However, the `eagle_default` target is not available. I have previously cloned the PX4/Firmware repository and have run `git submodule update --init --recursive`. Why is this target not available?

[2016-08-16 17:24] agribov opened #5330 "LPE_GPS_ON parameter always resets to default on restart"
Setting this parameter to "disabled", then restarting the PixHawk board, causes the parameter to reset back to "enabled". Also tried setting this parameter and another one at the same time, then restarting, and this one reset to default while the other held it's new value.

It doesn't seem to take effect before the restart either -- Copter will always reject altitude control, even right after sett

[2016-08-16 17:24] DonLakeFlyer commented on #5328
Here is what happens if QGC sends params it does not know about:
1) User has a file with params currently not know to QGC, say calibration settings
2) User loads that file and sends to vehicle
3) QGC still shows various calibration state as incomplete
4) User goes to look for calibration params in parameter list and they are not there

There is no way for QGC to deal with 3 and 4 since known param

[2016-08-16 17:26] agribov opened #5331 "Parameter change does not make sound."
After updating to 1.4.1 I noticed that my copter doesn't beep when I change a parameter. Was that on purpose? I found it incredibly useful to confirm the parameter changes.

[2016-08-16 18:19] kd0aij commented on #5330
@jgoppert sounds like this is the root cause for https://github.com/PX4/Firmware/issues/5316

[2016-08-16 19:11] sanderux commented on #5328
How about a qgc reboot after a param restore?

[2016-08-16 19:33] agribov commented on #5330
Yea, rejected alt hold is what led me to this issue as well -- This parameter also doesn't have a "restart required" dialog, so on first glance it looks like the parameter is successfully set and doesn't depend on reboot, when in reality it doesn't change and a reboot exposes that.

[2016-08-16 20:26] dagar commented on #5078
No longer a problem on current master.

[2016-08-16 20:26] #5078 closed

[2016-08-16 20:58] rs1990 opened #5332 "INAV_DISAB_MOCAP not available."
Hello,

I have been trying to get my quad flying using a vicon and mavros. Iv tried everything as mentioned and gone through tht guide on the px4dev  page but nothing. I havent been able to find this particular parameter `INAV_DISAB_MOCAP`. i have changed to the latest firmware but its not available. . I am not sure of how to proceed. Is there anyone who has had success in getting this working? id

[2016-08-16 23:10] jgoppert commented on #5330
I agree it should have reboot required flag, odd that it is resetting through, I haven't seen that on my end yet. It might be a recent issue with master?

[2016-08-17 02:33] agribov commented on #5330
Maybe, I believe that I'm running 1.4.1 dev, and can check for sure in the morning. Is there anything I can upload or a test I can run that would help identify the issue?

[2016-08-17 09:42] kauHyunju opened #5334 "native build error"
Hello.
I'm working in Ubuntu 12.04.
Specifically,
Linux ubuntu 3.11.0-15-generic #25~precise1-Ubuntu SMP Thu Jan 30 17:39:31 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

I got a make error. (make posix_rpi_native)
Below is the error message.

Firmware/src/drivers/navio_sysfs_pwm_out/navio_sysfs_pwm_out.cpp: In function ‘int navio_sysfs_pwm_out::initialize_mixer(const char*)’:
Firmware/src/drivers/navi

[2016-08-17 12:23] kd0aij opened #5335 "Log download and onboard files not working on release 1.4.1 (Pixracer)"
1. release 1.4.1 firmware: new logger files (extension .ulog) don't appear in the log download window

2. The onboard files widget reports:
![onboard](https://cloud.githubusercontent.com/assets/2300221/17723553/271e86f4-63f8-11e6-893f-9fd37a54cc11.png)

[2016-08-17 15:02] ndepal opened #5336 "Receiving a custom mavlink message"
I want to receive a custom mavlink message in `mavlink_receiver.cpp`. I have added my message definition in `common.xml`.

Before generating the mavlink header files, I see that I am receiving the new mavlink messages (which I am sending from QGC) by printing the incoming message IDs in [`handle_message()`](https://github.com/PX4/Firmware/blob/master/src/modules/mavlink/mavlink_receiver.cpp#L162).

[2016-08-17 15:14] mhkabir commented on #5336
I'm running into this as well. I've been syncing our stable branches with PX4 upstream for the last few weeks, and custom messages don't quite seem to be working OK. Similar results as @ndepal .

[2016-08-17 15:19] ndepal commented on #5336
Is there a way to go back to mavlink v1.0 in the firmware?

[2016-08-17 15:44] ndepal commented on #5336
I don't get what identifies my message as a custom one. I define it in `common.xml`, along with other standard messages and give it an id of 145, which is not in the range of 'extensions', as specified [here](http://qgroundcontrol.org/mavlink/create_new_mavlink_message).  As far as I can tell, there is no discernible difference between my new message and existing ones such as `HIGHRES_IMU`.

[2016-08-18 06:56] LorenzMeier commented on #5203
@kd0aij There can be certain sensitivities involved with projects feeling that you take their ideas and/or violate their copyright (in particular if they strongly feel about copyleft licensing). I've found that although we're actually always trying to attribute (in the best academic tradition), that attribution is very often not appreciated and instead people claim ownership of ideas that are not

[2016-08-18 08:01] mswingtra opened #5338 "Unplanned climb in mission after backward transition"
On Tuesday, during one of the flights, after backward transition aircraft started to climb without a reason as the setpoint was below it. You can see in the log that the climb has been commanded by the multicopter controller, but its velocity setpoints should be based on waypoints, and the altitude of the active setpoint was below current altitude.
Mission was set up on the Android tablet, with QG

[2016-08-18 09:29] lthall commented on #5203
For the record I will always support using any code or approach taken in Arducopter in any other open source code. Well, at least the code and ideas that I have heavily contributed to, so pretty much any of the Arducopter control chain code.

I would appreciate it if you would at least reference the approach "This is the same approach taken by the arducopter code" when introducing the new feature

[2016-08-18 09:54] LorenzMeier commented on #5203
Thanks Leonard! That's very sensible and much appreciated. It is how I would always operate in an academic context. My note stems from an offline discussion earlier today where I got contacted via Skype hinting in the opposite direction where referencing other people's work was already seen as a first step towards not going back to the basic technique and violating copyright and I was asked to rai

[2016-08-18 13:58] LorenzMeier opened #5341 "Reset timer variable in all drivers"
Might need a similar change in other drivers for the stop routine:

https://github.com/PX4/Firmware/commit/3d1f1522d977b248cda77c5429623c8fe1f5b1b3#diff-afefce4f4a086c7a7d23e52028f9ae1eL1701

[2016-08-18 14:06] LorenzMeier opened #5342 "Implement excellent sensor state reporting all the way to the UI"

[2016-08-18 15:15] #5153 closed

[2016-08-18 20:21] saryee83 commented on #3952
@AleksandrKh Could you please give some details on how you solve this problem?  Many thanks!

[2016-08-18 20:26] agribov commented on #5330
Any word on this? @LorenzMeier , do you know who could address this? Seems like a simple issue, but there's no way to do Optic Flow flights without GPS until it's resolved.

[2016-08-18 20:32] jgoppert commented on #5330
Actually, if you set LPE_GPS_ON = 0, it should give you a lock without reboot. I hopefully will be able to fly soon, but I've checked it in sitl on master and it works.

[2016-08-18 20:56] kd0aij commented on #5330
as of today, beta exhibits the problem. Changing LPE_GPS_ON to zero had no
effect before (or after) reboot.
Wasn't able to fly master because, in addition to losing the primary gyro
on reflashing, the gyro cal process hangs. (pixracer)
I flew beta with the gps unplugged (after compass recal) and altctl mode
was still rejected. But PID gain scheduling (AKA TPA) worked well :)

On Thu, Aug 18, 2016

[2016-08-18 21:06] LorenzMeier commented on #5330
I can't reproduce this on Pixhawk. Where did you reproduce this?

[2016-08-18 21:06] DonLakeFlyer commented on #5328
That would work if QGC just sends all param across. I need to look at whether the param code will have a problem with sending params it doesn't know about. It will likely cause problems if the params really are no longer there as opposed to an optional param problem. Unfortunately making it work flawlessly will require a re-arch of the param loader protocol.

[2016-08-18 21:08] LorenzMeier commented on #5330
I can confirm the gyro cal issue. Odd.

[2016-08-18 21:33] agribov commented on #5330
I got this while running 1.4.1dev on a genuine Pixhawk 2.4.8.

By gyro cal issue are you reffering to our discussion from the discuss page? My issue seems to have goneaway on one Pixhawk just by recalibrating the gyro, still haven't checked back on the RTFhawk I originally tried with.

[2016-08-18 22:28] kd0aij commented on #5335
moved to QGC

[2016-08-18 22:28] #5335 closed

[2016-08-19 04:56] junhohan opened #5348 "Build error occured 'cause of a warning. (make posix_sitl_default jmavsim)"
I got an error when run below. (on Mac OS X)

    $ make posix_sitl_default jmavsim

The error is like this.

There is a varable not used in "print_load_posix.c".

    task_basic_info_t basic_info
    basic_info = (task_basic_info_t)tinfo;

I think this should be deleted under the "-Werror=unused-variable"  option.

[2016-08-19 09:04] LorenzMeier opened #5349 "MPU6000 driver broken on master"
One of the changes since c4cb916afaebe457ee86806fb4cafbd942469419 broke the MPU6K driver, most notable the publication / notifications. @bkueng Could you help identify the root cause with a GIT bisect?

[2016-08-19 09:06] LorenzMeier commented on #5349
8bd4a624a7ac597cc35f6433ece5a5c3fd1e0315 is also fine. So I must have broken it very recently.

[2016-08-19 09:10] LorenzMeier commented on #5349
Fixed in fe62c259e89d88dc8393ef15f27eea5b411f12b7. Stupid mistake.

[2016-08-19 09:10] #5349 closed

[2016-08-19 09:11] LorenzMeier commented on #5330
I've fixed the gyro cal issue in master / beta as well. I'm closing this since testing suggests this was something local.

[2016-08-19 12:25] agribov commented on #5330
What makes you think this is local? Both @kd0aij and I are experiencing it separately. Maybe there's another parameter or root behind the issue that's set on our device, and not yours?

[2016-08-19 15:23] MAVProxyUser commented on #5203
You taking any kick backs from Chris Anderson Lorenz? I heard he's been trying to kill Ardu* in favor of your project?

[2016-08-19 16:43] kd0aij commented on #5203
@LorenzMeier @lthall For the record, my implementation of "PID gain scheduling" used parameter definitions similar to Cleanflight to avoid confusing any potential users, and to make it easier to compare tunings between Pixracer and Cleanflight setups. It never occurred to me that the approach might be original to either Cleanflight or Ardupilot.

[2016-08-19 16:45] MAVProxyUser commented on #5203
Given that you deleted the comment without answering. I am going to take that as a "YES, I do take kickbacks from Chris Anderson". Thanks Lorenz.

[2016-08-19 17:06] lefos99 opened #5353 "MAVLink INTERVAL change with mavlink_message"
#4794

I wanted to do the same thing with @sirPerna  but so far I fail.
First of all, I create successfully a MAVConnInterface

[code]

And then I try to send a COMMAND_LONG message like that:
[code]
I also tried:
[code]
and
[code]

but nothing seem to work!
Any help??

[2016-08-19 17:16] annesteenbeek opened #5354 "SITL large setpoint deviations"
I am currently developing a precision autoland system controlled by mavros using Offboard control and running all my tests in the gazebo simulator.
But when using the mavros position control, the quadcopter moves around the setpoint quite a bit, and never stays still. I know this is normal for real quadcopters (to some extent) but in the simulation, without external influences like wind, the copte

[2016-08-19 17:44] LorenzMeier commented on #5203
PX4 gets zero funding from 3DR, neither directly not indirectly. And we will continue to ensure discussions on our issue tracker meet professional standards.

[2016-08-19 17:58] kd0aij commented on #5203
Test results posted here: http://discuss.px4.io/t/fpv-racer-tuning/969?u=mark_whitehorn
Please comment on that thread if you do any testing and refinement of the tuning parameters.

[2016-08-19 18:51] LorenzMeier commented on #5330
I missed you had two repro instances. I experienced something similar with an LPE parameter today on a Pixracer. I'm wondering if its tied to the C++ param system it uses or just a general regression.

[2016-08-19 22:49] jgoppert commented on #5354
There is simulated GPS drift. If you use optical flow it will be slightly less. What estimator are you using? If you are doing gazebo simulation, I would suggest this patch: https://github.com/PX4/Firmware/pull/5255

Should make your life easier. Hopefully we will get it merged soon.

[2016-08-20 17:20] anton-matosov opened #5357 "Pixracer + S.Bus = Failsafe not working properly => fly away"
I have switched to the new FrSky X4R-SB RX (S.Bus) for my Pixracer drone and experience an issue with failsafe mode.
I have set RX failsafe to no pulse and px4 can detect RC signal loss with no problem and triggers failsafe mode on.
However instead of performing failsafe action it just holds the same servo values (even if I move drone).
This behavior is very dangerous and can result in fly away.

[2016-08-20 17:21] LorenzMeier commented on #5357
@kd0aij Could you look into this? Very likely the FMU driver doesn't set the failsafe state correctly.

[2016-08-20 17:24] anton-matosov commented on #5357
@kd0aij please let me know if you need any logs or help with that.

[2016-08-20 17:53] anton-matosov commented on #5357
Just in case [sess161.zip](https://github.com/PX4/Firmware/files/428449/sess161.zip)

[2016-08-20 18:13] anton-matosov commented on #5357
Somewhat related issue from long time ago https://github.com/ArduPilot/ardupilot/issues/645

[2016-08-20 21:19] anton-matosov commented on #5357
I have found the root cause of the problem.
Position estimator was set to local_position_estimator. In this mode failsafe doesn't work
Resetting it to position_estimator_inav or ekf2 solves the problem and failsafe changes mode to land on RC signal lost (as configured)

[2016-08-21 01:49] mhkabir commented on #5239
@AlexisTM I believe this is resolved with LPE either way.

[2016-08-21 01:49] #5239 closed

[2016-08-21 07:41] AlexisTM commented on #5239
It is not yet resolved because I am unable to make the flight right now.  (I will be able to test in September) Thanks for your support :D

[2016-08-21 14:03] kd0aij commented on #5357
That's confusing, since the commander module (not the position estimator) should be managing failsafe.
Your log shows the system entering "termination" state 0.75 seconds after RC.lost is asserted.
But my initial look at the source indicates that state is only implemented by fw_att_control...

[2016-08-21 14:24] kd0aij commented on #5357
This issue seems to be related to https://github.com/PX4/Firmware/pull/4344, but there are many unanswered questions (of mine) there, and no indication that there was any successful testing.
@jgoppert Based on what little knowledge I have about this, I'd guess that 		control_mode.flag_control_termination_enabled = true;
needs to be acted upon in mc_att_control.

[2016-08-21 14:52] jgoppert commented on #5357
Yeah that is odd. The position estimator shouldn't have any effect on this.

[2016-08-21 14:53] LorenzMeier commented on #5357
@jgoppert If it assembles the control_state topic not completely it in fact does.

[2016-08-21 15:08] LorenzMeier commented on #5357
@kd0aij The flag you linked has nothing to do with this.

@jgoppert The reason things go bad is probably because you're deriving your own EPH / EPV in LPE instead of forwarding the GPS values. That leads to the state machine in commander thinking you have valid GPS and trying to put the system into GPS failsafe (which doesn't work).

So what we need to do is to introduce a global position valid fl

[2016-08-21 15:10] LorenzMeier commented on #5357
Or we might not need a change at all and its some bad initially published values. Needs more inspection.

[2016-08-21 15:15] anton-matosov commented on #5357
It sounds weird to me either, but I have tried to reproduce it several times. And behavior is 100% stable.
If I have local_pos estimator I see:
 * RC lost
 * failsafe on
 * stays in manual mode and locks PWM outputs

If I switch to inav estimator I see:
 * RC lost
 * failsafe on
 * switch to LAND mode (failsafe action)

So failsafe triggers on in both the cases, but no failsafe action is taken in

[2016-08-21 15:16] kd0aij commented on #5357
@LorenzMeier I *said* that I had little knowledge about this. And your comment might have explained why something called "flag_control_termination_enabled" is irrelevant to nav state "NAVIGATION_STATE_TERMINATION". It's difficult to reverse engineer code like that.

[2016-08-21 16:13] sirPerna commented on #5353
Seems like you don't use the same sys and com id when you write the change_rate_command frame and when you actually pack it to ratio_changer_msg. I recommend to get these ids from the heartbeat message so you are sure you going to configure the correct device.

[2016-08-21 17:09] jgoppert commented on #5357
Lpe won't publish the  global position message if it doesn't have any gps or flow, is that the issue?

[2016-08-21 17:24] ecmnet opened #5358 "LPE: Does not accept msg_vision_speed_estimate messages as vision input"
Currently, LPE accepts both, MOCAP and VISION messages for position. However input for speed estimates are not supported.

[2016-08-21 17:39] mhkabir commented on #5358
Indeed. It's trivial to add, and was even in there at some point, but no one tested/maintained it, so it was removed.

[2016-08-22 03:24] anton-matosov commented on #5357
I did some real flight tests and drone really tries to fly away (it was tethered, so I still have it).
I have tried RTL and LAND modes, result of RC loss is unpredictable in either case.

[2016-08-22 03:29] anton-matosov commented on #5357
I have also compared parameters of my previous setup that worked and was terminating flight on RC loss (configured with QGC 2.9.7 dev build)
[code]
and my current parameters (configured with QGC 3.0.0 stable) and here are results:
[code]
The difference is that CBRK_GPSFAIL was enabled in previous build, but not in the current one and CBRK_FLIGHTTERM is enabled in the current build. But I have not

[2016-08-22 03:39] anton-matosov commented on #5357
@LorenzMeier is there a way to configure failsafe to just kill motors instead of RTL or Land as neither of them is possible without GPS (however failsafe still tries to do it).

[2016-08-22 05:33] mhkabir commented on #5357
Without GPS it should perform an open loop descent. However, killing the motors should be implemented as an option as well, especially for racers.

[2016-08-22 05:48] anton-matosov commented on #5357
@mhkabir you are correct, it switches to NAVIGATION_STATE_DESCEND, not NAVIGATION_STATE_AUTO_LAND

[2016-08-22 06:04] anton-matosov commented on #5357
What does `NAVIGATION_STATE_TERMINATION` mean? Is it equivalent to kill switch?

[2016-08-22 06:52] ecmnet commented on #5358
Trying to work on this, I found out that the uORB message vision_position_estimate differs from the MAVLINK definition. The uORB message contains velocity, while the mavlink message does not. On the other hand, there is another mavlink message called msg_vision_speed_estimate. My question now: What is the best approach, either
- Mapping msg_vision_speed_estimate to the corresponding vision_positio

[2016-08-22 07:28] jgoppert commented on #5358
What is your use case exactly. Are you doing optical flow or 3D visual odometry without a direct position estimate? My original thought was that on these systems they should just send the integrated position instead of the velocity because that would be more accurate and won't drift over time much as long as the vision data is good. The flow code does the same thing, and when the flow quality degr

[2016-08-22 09:13] ecmnet commented on #5358
I am currently experimenting with an onboard R200 implementation. Although its speed estimation seems to be quite ok, I face currently issues integrating speeds there. My assumption was that feeding LPE with speeds could improve poshold accuracy.

[2016-08-22 09:46] lefos99 commented on #5353
I got :

compid: 1

Well when I pack I use
* @param system_id ID of **THIS** system
* @param component_id ID of **THIS** component (e.g. 200 for IMU)
But even when I use the same ones, doesn't seem to work...
Any other ideas?

[2016-08-22 10:38] sirPerna commented on #5353
Check mavlink_msg_command_long_encode. You pack the message with sysid 1 and compid 50. Try to use the same ids you used here:
change_rate_command.target_system    = 1;
change_rate_command.target_component = 1;

[2016-08-22 10:46] lefos99 commented on #5353
Yes I did what you said and now the code is:
[code]

But the rate doesn't change! (I putted now -1 for rate in order to stop the stream....)

[2016-08-22 10:53] sirPerna commented on #5353
@LorenzMeier Maybe you can help here?

[2016-08-22 12:30] krijnen commented on #5232
For anyone running into this issue as well:
I found the fix by renaming imuSubTopic from "imu" to "/imu", apperently "imu" does not always work.

[2016-08-22 12:30] #5232 closed

[2016-08-22 13:35] mhkabir commented on #5357
It's implemented for fixed wing only. Probably be easy to extend the termination state to MC to kill the motors. Just check the kill switch implementation.

[2016-08-22 14:14] jgoppert commented on #5358
How good is the velocity data, what library are you using? I've been experimentin with that as well.

[2016-08-22 17:15] anton-matosov commented on #5357
Ok. I will try to do that.

[2016-08-22 21:25] ecmnet commented on #5358
I am using boofcv, a Java based library. Meanwhile I added a propere Position estimation to it. Looks quite promising so far. Rotation and re-initialization are currently my main tropics. What was your approach?

[2016-08-22 21:37] csorice147 opened #5363 "px4/SITL/gazebo make error"
This cmake error is not very descriptive - was wondering if anyone has suggestions
I'm using ros indigo & ubuntu 14.04, fyi

command:
[code]

output:
[code]

[2016-08-22 22:11] jgoppert commented on #5358
@ecmnet I was using opencv feature tracking and then calculating 3d feature position with depth information. Didn't really yield robust results. The vision based correctoin is just based on the rate you send it, so shouldn't be limited.

[2016-08-23 06:30] ecmnet commented on #5358
@jgoppert I'll keep you updated and share logs as soon I get some reasonable results

[2016-08-23 06:55] bkueng commented on #5348
yes, you're right. see #5364

[2016-08-23 07:15] #5348 closed

[2016-08-23 15:40] ecmnet commented on #5358
@jgoppert After fixing the rotation issue, here some results comparing vision based position (yellow) vs. LPE (with flow, VISION set to Off, red gaph), vehicle moved around manually:

![xychart](https://cloud.githubusercontent.com/assets/7580193/17898413/01b6254c-6958-11e6-898c-c2f669d02f57.png)

One of my problems now is when trying to fuse vision with flow, that flow position has driftet away du

[2016-08-23 15:50] tubeme commented on #4931
We have flown ~70 mission with 1.3.4 so far. We can confirm the Altitude Loss in the transition. Most noticeable in Guided Modes and Mission mode. Less obvious in Manual.

Some logs:
http://logs.uaventure.com/view/zk3TpFujwzHyTD5dAjCF9h
![altitude loss](https://cloud.githubusercontent.com/assets/12617619/17898892/19c5e14a-6962-11e6-887d-206b6bba4d18.png)

http://logs.uaventure.com/view/447gnSEXrRy

[2016-08-23 16:05] ecmnet commented on #5358
Another comparison (same method, max features increased to 100) shows the flow-drift when simulating a takeoff:

![xychart](https://cloud.githubusercontent.com/assets/7580193/17899592/1425206c-695c-11e6-81a7-3001cbe94b25.png)

[2016-08-23 16:12] ecmnet commented on #5358
Tried to fuse both (red now fused vision with flow):

![xychart](https://cloud.githubusercontent.com/assets/7580193/17899869/1f54cf0e-695d-11e6-8ea1-207443240295.png)

[2016-08-23 17:36] mhkabir commented on #5261
This is fine on master because the trigger pins are set to AUX 5,6 (handled by ```fmu mode_pwm4```). I was having the issue because of my custom config which had them set on 1,2.

Should be fine as long as people stick to the defaults.

[2016-08-23 17:36] #5261 closed

[2016-08-23 17:37] #3133 closed

[2016-08-23 18:34] jgoppert commented on #5358
This issue is alignment between the flow and vision. If we treat them as position measurements we end up with this issue. We can solve it by adding alignment states, but adding alignment states for each type of measurement seems cumbersome. What I tried to do was estimate the alignment offset at initialization (vision_home etc.), we should look into why that isn't working well.

[2016-08-23 18:51] ecmnet commented on #5358
Worth to mention, that I initialize raw vision position with the latest published local position. This also happens, when a vision fault is detected. Maybe the issue is related to the different point in time during initialization: Vision is available on ground, while flow starts at a certain distance above ground. The drift might occur in between those two points in time.
I am not very deep into L

[2016-08-24 04:16] anton-matosov commented on #5357
I have performed more in flight testing, but this time indoors. Drone is really switching to `NAVIGATION_STATE_DESCEND` on RC loss and starts to land (with inav estimator).
The biggest concern here is that landing speed is super slow (I have default landing of 0.5m/s in params) and if it gets any external force on it it stops going done. I think that is the main reason why it was not landing outdo

[2016-08-24 06:28] sanderux commented on #4931
@tubeme have you tried increasing blending speed?

[2016-08-24 07:50] yota-code opened #5374 "error: ‘HEX_T’ is not a member of ‘MultirotorGeometry’"
During compilation (either `make posix_sitl_default jmavsim` or `make posix_sitl_default gazebo`) I got this error.

OS is ubuntu 16.04
Git revision of the source : `git rev-parse master
fadac79617055eb9db705aabea4cce582967bbe9
`

[code]

[2016-08-24 07:56] julianoes commented on #5374
Search for the file: `mixer_multirotor.generated.h` and delete it.

Or alternatively do `git clean -d -f -x` but make sure with `git clean -d -f -x -n` first that it doesn't delete anything that you need.

[2016-08-24 08:00] yota-code commented on #5374
My local repo was clean, but indeed a `make clean` removed previously generated files and did the trick :)

Thanks for the amazing reactivity. Now I'm stuck on the #5363 issue, which is much better (or worse, dunno yet :D)

[2016-08-24 08:00] #5374 closed

[2016-08-24 08:18] LorenzMeier commented on #5363
Can you run cmake in verbose mode and see what it says?

[2016-08-24 10:38] silkstone commented on #4680
Hi @LorenzMeier, I am having the exact same issue on QGC. Seems to have occurred when I upgraded Pixracer firmware to 1.4.1 as it worked ok before this. Am trying to replicate the Caipriniha VTOL. Any suggestions as to why this is happening?

[cal] calibration started: 2 mag
[cal] Skipped scale calibration, sensor 1
[cal] ERROR: out of memory
[cal] calibration failed: mag

[2016-08-24 12:12] western-co-at commented on #5317
Hello
My copter crashed with v1.4.1 during a mission flight in ekf2 today with following message:
[code]
The mavlink was configured in /etc/extras.txt as follows:
[code]
Is this problem also fixed in v1.5.0?

[2016-08-24 13:23] kd0aij commented on #5357
This is a plot from the first log you posted showing RC.lost asserted, followed by failsafe and navstate 13 (termination):
![rclost](https://cloud.githubusercontent.com/assets/2300221/17932090/a8bd872c-69cb-11e6-9437-8b331d277bf4.png)

[2016-08-24 13:27] tubeme commented on #4931
So I have a dilemma looking at this.
![altitude loss 4](https://cloud.githubusercontent.com/assets/12617619/17931909/366729bc-6a16-11e6-90a5-5d094dc96a77.png)

Now that you mention the blending speed I clearly see in the graphics that we loose the altitude the moment we reach the blending speed of 8m/s. At this point on the quad starts fade out, and during this period from 8m/s to the transition s

[2016-08-24 13:43] tubeme commented on #4931
Also we have altitude increase in each and every back transition. Suppose this is due to pitchup command the quad is making to brake the speed. Because the plane is with a lot of speed and energy this transforms in altitude increase. That is not a problem but it is not a star wars kind of smooth transition to full stop :).

What if we give a pitch up command with the quad and at the same time we g

[2016-08-24 14:47] sanderux commented on #4931
Its worth inspecting but might lead to quad saturation. Im also considering telling the quad to increase altitude during transition, as this happens natively it will no longer go eratic to try and lower altitude but just accept it

[2016-08-24 15:05] LorenzMeier commented on #5357
Termination needs to be allowed by clearing the circuit breaker for it which defaults to on. Is this the missing step?

[2016-08-24 17:56] anton-matosov commented on #5357
I will try it out without circuit breaker for termination and see what happens

[2016-08-24 18:11] tubeme commented on #4931
For the front transition it is always better to increase the altitude than decrease it during transition. If it increases it automatic no problem. We could transition at 5 meters without worry. What we try to mimic is how the birds take off and land. This is the most effective way energy wise.

We had a crash two weeks ago because of this. Just didn't notice that the take off is set to 20 meters i

[2016-08-24 18:24] tubeme commented on #4931
You know the simple change for the front transition could be to trigger fade out of the quad thrust at transition airspeed not blending airspeed. At blending airspeed we start blending controls but we keep the quad full thrust until end of transition. This could solve the altitude loss problem.

[2016-08-24 18:29] tubeme commented on #4784
This is very important aspect of the back transition. Often we fly high in our missions about 400 - 500 meters. In order to make a good landing in VTOL we have to maka a cascade of points or approach lowering the altitude to 20 meters and then the last point should be VTOL landing. Then it is OK. But very annoying making this approach.

It is much better if we have a last point let say 500 meters

[2016-08-24 18:34] tubeme commented on #4784
Another aspect of landing in our ~70 missions on 1.3.4 was that it always overshoots with 10-15 meters from the spot. Then after back transition it starts drifting back on quad. You know that at certain conditions going backwards with airplane is not its nature.

We did not tried yet the weathervaning. If it is ON what is the strategy to go to the landing spot after back transition? Does it face t

[2016-08-24 18:43] tubeme commented on #4931
For the back transition probably the best strategy for a smooth fast full stop would be at the flip of the transition button to cut the throttle, in a second or two to make a nasty pith up (flare) to stall the plane, and then full thrust the quad to level the machine. The pith up should be a pitch bang, not a full pitch that we hold. Just a bang to kill the speed. I do this pitch up bang during fr

[2016-08-24 22:05] LorenzMeier commented on #5363
Please try again with an updated master.

[2016-08-24 22:07] LorenzMeier commented on #4680
@silkstone Are you sure your board is getting enough power? Otherwise please re-flash v1.4.2 via QGC. Release notes are here: https://github.com/PX4/Firmware/releases/tag/v1.4.2

[2016-08-24 22:32] LorenzMeier commented on #5308
@DonLakeFlyer Ping?

[2016-08-24 22:53] DonLakeFlyer commented on #5308
Didn't work for me. It sent version 1.1.3dev

[2016-08-25 06:39] AndreasAntener commented on #4784
@tubeme you can achieve the same thing with just one additional waypoint that is on 20m just before the VTOL Land waypoint (for now).

[2016-08-25 08:08] antsgbl opened #5382 "Quad tailsitter VTOL SITL - crash after transition"
Gazebo SITL of quad tailsitter vtol.

make posix_sitl_default gazebo_tailsitter
phx> commander takeoff
phx> commander mode altctl
phx> commander transition

will cause the tailsitter to fall off the sky and crash, whereas the same in standard-vtol will cause the plane to circle holding altitude.

[screen grab](https://www.youtube.com/watch?v=fbMwxMpIXBY)

Whereas the same in standard vtol will cau

[2016-08-25 08:17] yota-code commented on #5363
Hello, I think I had the same problem. I updated to master this morning and I still got an error. How can I set cmake to verbose to help you unravel this issue ? Here is the last errors I get after a clean make :

[code]

[2016-08-25 08:19] julianoes commented on #5363
[code]

[2016-08-25 08:25] julianoes commented on #5382
Can you check @tumbili?

[2016-08-25 08:29] LorenzMeier commented on #5363
@yota-code You did not follow our setup instructions. Please go back to the installation instructions on http://dev.px4.io

[2016-08-25 08:32] julianoes commented on #5357
This seems like a bug.

I think we need to look at if different valid flags or topics are published for LPE vs. inav when used without GPS.

I don't think termination plays a role here, unless we lose baro as well.

[2016-08-25 08:32] yota-code commented on #5363
Indeed, I went too fast, coffee was not strong enough this morning x_x
I missed a few package (like protobuf and libeigen3...) sorry for the noise :)

[2016-08-25 09:01] julianoes commented on #5363
No worries, cool. If something is missing in the [Devguide](https://github.com/PX4/Devguide), let us know.

[2016-08-25 09:01] #5363 closed

[2016-08-25 09:07] mazahner opened #5383 "UORB Message generation CMake msg_file_names does not really do anything"
I've noticed that when adding or removing message definitions from
Firmware/msg/CMakeLists.txt it does not really matter of what is compiled in, in the best case it just spits out compilation errors. (the px4_base.cmake file only considers the -d option for complete directories which is the root of the evil, because it's not consistently used)

I have a solution working for me which does only comp

[2016-08-25 09:54] bkueng commented on #5383
The reason for the CMakeLists.txt is build dependency: if we add or remove a message, cmake handles the new/removed dependencies properly (incremental rebuild), without the list, cmake has no way of knowing that.

But you are right, there is an inconsistency in that the generator uses all msg files in the dir. It never really bothered us, because when we add a message, we always add it to the cmak

[2016-08-25 11:50] mazahner commented on #5383
PR #5384

I'm adding the Firmware/msg folder as a default inclusion path.
If you were to have message definitions in other (than Firmware/msg)  folders and you wanted refer to these messages, it will likely not work. (wouldn't have worked before either)

[2016-08-25 13:40] silkstone commented on #5040
Hi @tubeme I am also getting AIRSPEED SENSOR COM ERROR with my digital airspeed sensor. Not sure if I am doing the calibration wrong. On QGroundControl it tells me to insure it is out of the wind and then it never promts me to blow across it although I am guessing that is what is needed for the calibration? Any help would be much appreciated!!

[2016-08-25 16:18] anton-matosov commented on #5357
I have made a test of LPE with termination circuit breaker off and it behavior is the same.
as per @mhkabir flight termination is implemented only for fixed wing, not MC. All PWM outputs are locked at their last values.

[Drone-rodeo-local-estimator.zip](https://github.com/PX4/Firmware/files/437502/Drone-rodeo-local-estimator.zip)
![rc loss termination](https://cloud.githubusercontent.com/assets/3

[2016-08-25 20:26] LorenzMeier opened #5386 "Add MAVLink support to motor test"
Current command line implementation:
https://github.com/PX4/Firmware/blob/master/src/systemcmds/motor_test/motor_test.c

The right location to add the MAVLink -> uORB translation:
https://github.com/PX4/Firmware/blob/master/src/modules/mavlink/mavlink_receiver.cpp#L373

the topic should be advertised there (which also publishes) and then orb_unadvertise() should be called to free the resources. No

[2016-08-26 12:34] #5383 closed

[2016-08-26 12:38] julien10 opened #5391 "Snapdragon Flight upload error: "waiting for bootloader...""
I'm trying to upload the Hello Sky example app on the Snapdragon Flight, following the guide at http://dev.px4.io/tutorial-hello-sky.html
When I try to make upload, it gets stuck at:
`Loaded firmware for 9,0, size: 1025348 bytes, waiting for the bootloader...
If the board does not respond within 1-2 seconds, unplug and re-plug the USB connector.`

I have tried to unplug and replug, and also `reboo

[2016-08-26 12:43] tubeme commented on #4784
@AndreasAntener That is what we are doing. Just making the last point before landing at 20m.

[2016-08-26 12:58] julianoes commented on #5391
Are you following these steps to upload it?
http://dev.px4.io/starting-building.html#qurt--snapdragon-based-boards

It seems like you are trying to upload something to a Pixhawk/Pixracer from the output.

[2016-08-26 13:22] julien10 commented on #5391
No, I was using the Pixhawk commands, I did not realise there were different, my bad!
So I just have to build and then upload using `make eagle_default upload`, or do I also have to modify a cmake file (as they show in the tutorial)?

[2016-08-26 16:48] julianoes commented on #5391
No, you just use what's in dev.px4.io. Which tutorial do you mean?

[2016-08-26 17:28] csorice147 opened #5393 "px4 cmake error with gazebo"
ubuntu 14.04 // gazebo 7.3.1

I downloaded gazebo7 as specified here: http://gazebosim.org/tutorials?tut=ros_wrapper_versions#Gazebo7.xseries

but then when I try to do `make posix_sitl_default gazebo`

I get this error:

[code]

[2016-08-26 17:30] bkueng commented on #5334
fixed in master

[2016-08-26 17:30] #5334 closed

[2016-08-27 02:39] jywilson opened #5394 "Snapdragon Flight DriverFramework driver and wrapper to support PWM based motor actuation"
Hello PX4 developers,

I have just posted a beta release of a new Snapdragon Flight Addon that provides an aDSP firmware image ("static image") capable of generating PWM signals within 5 usecs of accuracy.  GPIO lines are used to generate the signals in software, and the signal generation occurs with an ISR context to assure deterministic response.  Limited testing has been conducted using a hacke

[2016-08-27 08:22] LorenzMeier commented on #5393
We're not aware that our install instructions wouldn't work. I can re-check later on my machine.

[2016-08-27 08:23] #5391 closed

[2016-08-27 08:25] LorenzMeier opened #5395 "Global setpoint for fixed wing"
@dagar We have these two reports which require inspection. It sounds from the user reports as if the altitude field does not get set correctly.

http://discuss.px4.io/t/altitude-loss-when-selecting-mission/1037/2

http://discuss.px4.io/t/plane-not-climbing-to-waypoint/1051/2

[2016-08-27 08:26] julien10 commented on #5391
http://dev.px4.io/tutorial-hello-sky.html#step-3-register-the-application-in-nuttshell-and-build-it

[2016-08-27 12:48] LorenzMeier opened #5397 "LPE: Allow althold-only mode"
@jgoppert It seems that a couple of users have issues entering altitude hold mode alone. Have you verified recently that the estimator is initialising without GPS for altitude?

[2016-08-27 13:23] Alirezam96 commented on #5397
http://logs.uaventure.com/view/55Ajk6mUiQByesrysrQsXf#_PLOT

[2016-08-27 13:32] LorenzMeier commented on #5397
@jgoppert Test log: http://logs.uaventure.com/view/55Ajk6mUiQByesrysrQsXf#_PLOT

[2016-08-27 13:37] Alirezam96 commented on #5397
that log file is it ok? or i send another document ?

[2016-08-27 14:34] jgoppert commented on #5397
@LorenzMeier The issue is that the LPE_GPS_ON flag = 1. In this case it will require a GPS lock before initializing altitude.

This change was made to fix the startup issue where there would be an altitude offset from GPS if baro initialized before GPS. The alternative would be to allow the estimator to shift the global altitude estimate once good GPS is detected for the first time.

I agree that

[2016-08-27 14:36] jgoppert commented on #5397
Another thought would be to only require the GPS lock for altitude if the gps has been detected, this would be the best approach I think, but how best to detect that rapidly. Would it be enough to look for a non-zero timestamp on the subscription, could we always count on that getting a message before baro tries to initialize?

[2016-08-27 14:37] LorenzMeier commented on #5397
Neither approach is really useful. PX4 has the concept of a monotonic Z altitude, but its not implemented consistently yet. The baro altitude should be tracked monotonically, the global altitude should be tracked as offset to this altitude.

Right now we have logic in place to reset the Z altitude setpoint in the controller. So please have a look at INAV and implement the equivalent until we manag

[2016-08-27 14:59] jgoppert commented on #5397
INAV only publishes global position when it has a GPS estimate. Before that, it publishes the local position with reference altitude zero. After it gets GPS it changes the reference altitude to the GPS altitude. So, this is equivalent to me doing altOrigin reset on first gps initialization, won't be hard for me to implement.

[2016-08-27 15:01] LorenzMeier commented on #5397
I think we should do it this way then. I'd like to change later on to publish only the altitude message in that state, but I don't want to take the control system apart right now.

[2016-08-27 15:09] Alirezam96 commented on #5397
thanks , i understand from discussion that if i lock GPS once , local z position set and i can use barometer without GPS ?

[2016-08-27 15:24] jgoppert commented on #5397
@Alirezam96 currently you need to set LPE_GPS_ON = 0, then it will allow you to fly in altitude hold mode without GPS.

[2016-08-27 15:48] jgoppert commented on #5397
See PR here: https://github.com/PX4/Firmware/pull/5398

[2016-08-27 21:01] LorenzMeier commented on #5060
This is resolved on master, yes?

[2016-08-27 21:03] LorenzMeier opened #5399 "Preflight checks: Improve user feedback"
We need to rework how we do pre-flight checks and user reports to be based on a reporting scheme that generates messages based on system states on the UI side.

[2016-08-27 21:10] LorenzMeier commented on #5399
@DonLakeFlyer This will also need a QGC counterpart.

[2016-08-28 00:08] kd0aij commented on #5316
this looks OK on latest master

[2016-08-28 00:08] #5316 closed

[2016-08-28 00:09] kd0aij commented on #5260
bump

[2016-08-28 00:10] kd0aij commented on #5179
bump

[2016-08-28 16:22] kd0aij commented on #5260
closed pending further discussion

[2016-08-28 16:22] #5260 closed

[2016-08-28 16:22] kd0aij commented on #5179
closed pending further discussion

[2016-08-28 16:22] #5179 closed

[2016-08-28 16:24] kd0aij commented on #4634
closed awaiting further interest

[2016-08-28 16:24] #4634 closed

[2016-08-28 16:51] davids5 commented on #4634
@kd0aij - FYI:I just merged master Last Fri.

[2016-08-28 17:07] kd0aij commented on #4634
Thanks. I'm waiting to see if anyone can reproduce the behavior I reported above: https://github.com/PX4/Firmware/issues/4634#issuecomment-238289584

[2016-08-29 08:25] julien10 commented on #5303
Any news on this subject?

[2016-08-29 08:52] ilia-sheremet commented on #5060
@LorenzMeier Yes, it's solved.

[2016-08-29 09:43] bharath374 opened #5406 "Snapdragon Flight launch failure (px4_log_initialize undefined symbol)"
We get a run-time error and it appears to be due to this commit: https://github.com/PX4/Firmware/commit/eede43a786bbcfaf66ea91123247fdd50baa72e9

@bkueng Any idea? Did you test this on Snapdragon flight before/after your commit. We use the "make eagle_legacy_default" build target due to our configuration. Could you please confirm whether it was tested and works with the "make eagle_default" build

[2016-08-30 03:54] pryre opened #5407 "Offboard mode (Position triplet setpoint) ignores specified coordinate frame"
According to the Mavlink message, SET_POSITION_TARGET_LOCAL_NED, you should be able to specify coordinate_frame to either local NED or body NED setpoints (and offsets as well), to allow for things like position or velocity control in the body frame.

The issue stems from the Mavlink receiver, where the "coordinate_frame" variable is dropped. There should be a check in [mavlink_receiver.cpp around

[2016-08-30 06:46] bkueng commented on #5406
No I did not test this on Snapdragon as I don't have the hardware, but I have an idea what's going wrong. Can you try to comment the line
https://github.com/PX4/Firmware/blob/master/src/modules/uORB/uORBMain.cpp#L82
and see if that helps?

[2016-08-30 07:35] tubeme commented on #4931
@sanderux We used 10 m/s blending in a decent amount of flights. No change! Looses altitude all the time. We made a brand new vtol to exclude mechanical problems. No change as well. I can post LOGS if you want. BTW the loosing altitude is so consistent that all the logs from one repetitive mission look almost the same. :)

[2016-08-30 08:02] tubeme commented on #4931
@sanderux From the fligh LOG I gave you notice what is going on with the quad thrust even before the blending speed reached. It goead to almost 0.4. With such a thrust for sure it will loose altitude while not having lift up to 10 m/s.

![loosingalt](https://cloud.githubusercontent.com/assets/12617619/18081129/31a5582e-6ea1-11e6-88ec-415259a530cf.png)

[2016-08-30 08:25] AndreasAntener commented on #4931
@tubeme I looked at the log you just shared. The altitude loss you are experiencing happens after the transition (we have the same issue). The reason is that your setup needs a pretty high pitch up in fixed-wing to fly level at the airspeed you were flying. TECS needs a few seconds until he reaches that the integrator.

At the end of your fixed-wing flight you fly level with, holding altitude nice

[2016-08-30 08:29] sanderux commented on #4931
If your airframe requires this pitch offset you could also consider setting it as pitch trim in the params, or setting it by changing it hardware wise

[2016-08-30 16:04] #5353 closed

[2016-08-30 22:42] mayanez opened #5411 "LPE: Position mode instability"
Hi,

I was testing LPE today and had some problems with Position hold mode; the copter 'trembles' . The issue goes away when switching to ALT mode.

Here are the links to the video:
https://drive.google.com/open?id=0B8AjOkamf22UYnRGUGl3cVhrWEU
and the log file:
https://drive.google.com/open?id=0B8AjOkamf22UNl9BM1N1SXhyM2s
(**Note/FYI**: I've renamed attitude rate metric names to ATT_PitchR, ATT_Ro

[2016-08-30 23:57] jarilq opened #5412 "HOW to switch VTOL from MC to FW at release 1.4.1?"
1.Just about to try the 1.4.1 and I cannot seem to find a way to program a transition switch.AUX1 does not work anymore like in 1.3.4,can you tell me how to switch from MC to FIXWING?

2.I make a vtol like QUADRANGE,and use airframe of quadrange and firmware 1.3.4 release.but when switch to TAKEOFF comand ,The UAV can takeoff and hold fix pos small second and then fly anywhere, flight controller c

[2016-08-31 06:35] ChristophTobler opened #5415 "SITL gazebo flip at takeoff"
When I use the `no_sim=1 make posix_sitl_default gazebo` and insert the iris (actually any quad) it flips at takeoff (`commander takeoff`).

@jgoppert @LorenzMeier I saw that this changed 3 days ago #5400. So when I change the parameter SENS_BOARD_ROT back to 8, it works.

[2016-08-31 06:56] LorenzMeier commented on #5415
You need to make sure that you update sitl_gazebo, as the equivalent of the board rotation has been done in the interface: https://github.com/PX4/sitl_gazebo/commit/2ae68838fff2fcaf02e95f7d27a0cafae58d9b89

So now no model needs the rotation setup.

[2016-08-31 07:54] jarilq commented on #5412
@JamesHarrison @LorenzMeier

[2016-08-31 08:13] julianoes commented on #5303
@julien10 Sorry I'm currently quite busy. Will get back to this when I can, hopefully next week. Let me know if you find anything in the meantime.

[2016-08-31 08:13] #5060 closed

[2016-08-31 08:57] jilinggui opened #5416 "serial connection disconnect often"
Hi guys,when i connected QGC under android to Pixhawk like this:
![qq20160831](https://cloud.githubusercontent.com/assets/14988899/18122346/7b0fa000-6f9b-11e6-95ea-9f3b9cf4d008.png)
QGC ofen show "communication disconnect" ,what shoul i do?

[2016-08-31 09:40] jarilq opened #5417 "Release1.4.1,how to switch mode from MC TO FW?"
1.3.4,I can set RC AUX1 as switch button，but 1.4.1，AUX1 not useful，which button I can set for Switch MC mode to FW mode and reverse it？can you give some idea or instructions to set mode transition？ @LorenzMeier

[2016-08-31 12:12] ChristophTobler commented on #5415
Yup... my sitl_gazebo was not up to date...

[2016-08-31 12:12] #5415 closed

[2016-08-31 12:53] Stifael opened #5419 "QGroundControl supports newer PX4 firmware"
Starting QGroundControl, a pop-up window shows following error despite using newest firmware version:
"QGroundControl supports PX4 Pro firmware Version 1.4.1 and above. You are using a version prior to that which will lead to unpredictable results. Please upgrade your firmware."

[2016-08-31 13:05] kd0aij commented on #5419
Same error message here too:
[code]

[2016-08-31 15:37] HidenoriKobayashi opened #5420 "Bias saturation in LPE correctionLogic"
Could anyone explain why the code below is needed? It seems to me the bias is only put in local variables and the function returns without using them. Shouldn't this saturation be propagated back to dx?

https://github.com/PX4/Firmware/blob/master/src/modules/local_position_estimator/BlockLocalPositionEstimator.cpp#L610

[2016-08-31 17:17] DonLakeFlyer commented on #5419
Dup of #5308

[2016-08-31 18:09] #5419 closed

[2016-08-31 18:26] bharath374 commented on #5406
Yes that solves the problem! Could you please push a fix when you get a chance?

[2016-08-31 19:25] bartslinger commented on #5329
See [https://github.com/PX4/Firmware/tree/master/cmake/configs](url) for a list of available targets

[2016-08-31 20:24] LorenzMeier commented on #5411
Hi,

The issue is specific to your airframe and/or the RPI: http://logs.uaventure.com/view/mBXU7JvPygSgaqk47WjiSJ#IMU_Acc_PLOT

Your acceleration range is pretty significant. You have two choices (and you might need to apply both):

  * Check that you have enabled the on-sensor low pass filters for your accelerometer in driver framework. Make sure to have at least 40-80 Hz cutoff, if not lower.

[2016-08-31 20:25] bartslinger opened #5423 "HITL: Add aux control outputs"
I am setting up an interface between a Pixhawk and X-Plane using QGroundControl. I've noticed that HITL currently can only send 8 control commands over mavlink, which are the outputs of the main mixer.

My goal is to control a UAV with more than 8 actuators. Therefore I also need to use the 6 outputs of the AUX mixer. I would like to extend the HITL interface to also use values from the AUX mixer.

[2016-08-31 20:25] LorenzMeier commented on #5420
@jgoppert Can you look?

[2016-08-31 20:43] LorenzMeier commented on #5423
Would this new message help you with this? If yes, what other fields would you like to see? https://github.com/mavlink/mavlink/pull/615

[2016-08-31 20:48] bartslinger commented on #5423
That's perfect :+1:
I had not seen that PR yet.

[2016-08-31 21:00] LorenzMeier commented on #5423
ok, the PR is in. We will move our infrastructure to that now.

[2016-08-31 22:55] sanderux commented on #5412
it changed to RC_MAP_TRANS_SW
You need to set the value to the channel you want to use.

[2016-08-31 22:55] #5412 closed

[2016-08-31 22:59] #4774 closed

[2016-08-31 23:00] #4612 closed

[2016-08-31 23:04] sanderux commented on #5417
it changed to RC_MAP_TRANS_SW
You need to set the value to the channel you want to use.

[2016-08-31 23:04] #5417 closed

[2016-08-31 23:07] sanderux opened #5424 "VTOL: Add preflight check for RC_MAP_TRANS_SW"
Many users missed the transition from AUX1 to this param.
Add it as a pre-flight check for VTOL will help
Related to https://github.com/PX4/Firmware/issues/5399

[2016-09-01 01:42] VictorSu2 commented on #5303
@julien10 I have tried several DSP firmware and Linux image upgrade and have deleted the PX4 firmware and clone several times. But it still doesn't work. Now i am stuck in here......

[2016-09-01 05:46] #5397 closed

[2016-09-01 06:02] jgoppert commented on #5420
Yes, definitely should be setting the result to dx, will fix. @HidenoriKobayashi thanks for finding this.

[2016-09-01 07:08] LorenzMeier opened #5427 "Reset yaw on arming"
Currently the yaw setpoint in manual control gets only reset during disarming. If you move the system in-between, it will return to its previous yaw.

[2016-09-01 08:01] bkueng commented on #5406
fixed on master

[2016-09-01 08:11] julien10 commented on #5406
When I comment that line, the error disappears but the px4 crashes instantly and I am forced to power cycle the board.

[2016-09-01 14:21] NCharabaruk opened #5429 "I2C Sonar Problem"
Hello,

I am using a Pixhawk running the PX4 firmware. I am attempting to hook up a Maxbotix MB1220 sonar sensor for altitude determination. I've plugged the sensor into the I2C extender but nothing happens. There is no parameter in QGroundControl to enable the sensor. I know there is a driver for this MB12xx in PX4 and I've ruled out a hardware problem as I have used this sensor recently on an Ar

[2016-09-01 15:06] bkueng commented on #5423
@bartslinger I integrated the mavlink message with 16 pwm's in https://github.com/PX4/Firmware/pull/5389 waiting for review. You can already look at it to see what's still missing for your use-case.

[2016-09-01 16:39] mhkabir commented on #5429
You'll need to manually start the driver in the startup script (rcS) . We don't have it in by default.

[2016-09-01 17:16] NCharabaruk commented on #5429
Thanks!

Is that stated somewhere? I've been trying to figure this out for a while and no one has been able to help.

[2016-09-01 17:16] #5429 closed

[2016-09-01 18:37] DonLakeFlyer opened #5430 "Change defaults for GF_MAV_HOR_DIST and GF_MAV_VER_DIST to 0"
Also set min metadata to 0. Description says these are enabled if > 0. So a 0 default makes more sense. The current -1 default causes problems with QGC metric to feet conversion. Since it converts -1 meters to feet which looks like crap as a trigger for not enabled.

[2016-09-01 18:38] DonLakeFlyer commented on #5430
This makes for confusing geofence setup in the new geofence editor.

[2016-09-01 19:52] #5423 closed

[2016-09-01 22:50] jcooper21 commented on #5166
@LorenzMeier One thing I forgot to mention here is that the feedback system would ideally include shutter count to compare how many pictures were taken against how many QGC calculated we should have taken in real time.

[2016-09-01 22:57] jcooper21 opened #5431 "RTK GPS Camera location"
With RTK becoming more popular in order to use it accurately for mapping we need a setting where we can enter the XYZ correction distance from the camera lens center to the RTK GPS receiver.

[2016-09-01 23:58] jarilq opened #5433 "vtol，Why not fly stable？"
.I make a vtol like QUADRANGE,and use airframe of quadrange and firmware 1.3.4 release.but when switch to TAKEOFF comand ,The UAV can takeoff and hold fix pos small second and then fly anywhere, flight controller can not control it,pitch and roll are big degree.Why?,I think the motor have some proble，do you think so？or maybe flight controller have some problem？this is video http://v.youku.com/v_sh

[2016-09-02 02:15] micoadmaster commented on #5433
震动怎么样？PID是什么样的？看起来就是PID的问题可能性最大了

[2016-09-02 02:48] jarilq commented on #5433
震动不大，偶尔飞的也挺好，用的官网的飞机和默认参数，难道还不能匹配，

[2016-09-02 02:49] jarilq commented on #5433
# @ @micoadmaster

[2016-09-02 03:42] micoadmaster commented on #5433
下日志然后分析一下就知道了，默认参数不会是这样的，肯定是有很大的误差才会导致这样

[2016-09-02 03:51] jarilq commented on #5433
我从SD卡下的日志，为什么不能用地面站打开，你有qq或者微信吗？

[2016-09-02 03:51] jarilq commented on #5433
@micoadmaster

[2016-09-02 03:54] mhkabir commented on #5433
Please move this discussion over to discuss.px4.io since it seems to be  an airframe tuning issue, and not a core flightstack bug.

[2016-09-02 03:54] #5433 closed

[2016-09-02 12:18] AlexisTM commented on #5174
Dear,

I have the same issue, the sending script is :

[2016-09-02 12:50] AlexisTM commented on #5174
I have the same issue with MOCAP & LPE. The sending script is :

[code]

A fast solution is switching from `/mavros/mocap/pose` to `/mavros/vision_pose/pose`.

Don't forget to modify the parameter : "ATT_EXT_HDG_M" to 1 (for Vision heading)

[2016-09-02 16:09] dagar commented on #5430
Makes sense I'll change it. I also have a few other minor geofence tweaks from the last time I used it.

[2016-09-02 16:56] hridaybavle commented on #5320
Hi,
I am having the same problem, pixhawk does not publish any absolute pressure value after updating the firmware. Did you find any solution?

[2016-09-02 17:00] dagar commented on #5431
Probably needs to be an argument for the geotagging script?
https://github.com/PX4/Firmware/tree/master/Tools/sdlog2

[2016-09-02 17:02] jcooper21 commented on #5431
Yes I think that would make the most sense.

[2016-09-02 17:35] jcooper21 opened #5437 "Camera PWM trigger issues"
@dagar @DonLakeFlyer I am not sure if this issue should be in PX4 firmware or QGC.  The main issue is we cannot set our PWM values when setting up camera trigger type in QGC.  All we can select is seagull QX1 and I do not have that camera to fly to test out survey.  We need to be able to setup our PWM values for different cameras manually as seen in mission planner.  We are missing our servo limit

[2016-09-02 18:56] bharath374 opened #5438 "QGroundControl unable to receive Mavlink messages"
QGroundControl does not receive any Mavlink communication or telemetry data from Snapdragon flight anymore (other than a generic heartbeat). Communications from QGC to the Snapdragon Flight target are fine, only the other way does not seem to work. The issue seems to have been introduced here: https://github.com/PX4/Firmware/commit/15e50b26dc5f3cf773bb1824a265dc28bd383279

The issue seems to be th

[2016-09-02 19:06] dagar commented on #5437
@kellysteich @birchera Thoughts on adding this to camera_trigger?

[2016-09-02 19:29] AndreasAntener commented on #5437
From a design perspective, the PWM camera interface implementation we have now should not be a MAP2 impl. but have a few parameters to specify PWM limits (neutral, on, off, shutter, AF, etc.).

Or, it needs to be abstracted more (for the architects under us ;)): the camera interface only considers how to output the control values (where it will have a PWM impl.). Then adding another interface that

[2016-09-02 22:13] bharath374 commented on #5406
@bkueng We seem to have the same problem as @julien10.

[2016-09-04 01:47] jcooper21 commented on #5437
@DonLakeFlyer @dagar I think on the QGC side this has to be supported either way as part of the APM compatibility otherwise no APM users will use QGC for surveying. Given it has to be built into QGC it would be great if PX4 firmware allowed for the same functionality.

[2016-09-04 02:07] DonLakeFlyer commented on #5437
@jcooper21 Can you add a QGC issue with the same images for me to implement the ArduPIlot support?

[2016-09-04 12:38] LorenzMeier opened #5445 "Need better test failure reports for CI"
@AndreasAntener We need to provide better readability of CI test failures. In particular instructions how to reproduce should be printed in the Jenkins console. A good start would be to at least have a minimal output (e.g. VTOL test failed, run `make posix gazebo_standard_vtol`, `commander takeoff` and `commander transition` to verify basic operation).

Note that only a fraction of developers have

[2016-09-04 15:20] AndreasAntener commented on #5445
The MAVROS test will always be ROS. Although one could ask the question if we really need to check via MAVROS and instead just do it with MAVLink. Strictly speaking we want to test the offboard interface, not MAVROS. However, last year I was very happy with that setup because it also spotted breakages coming from the MAVROS side..

The mission tests can potentially be executed normally and we can

[2016-09-04 17:14] LorenzMeier opened #5446 "MPU9250 test command flaky"
The 9250 test command is flaky, interfering with the normal operation of the sensor. The driver itself is not flaky, using the listener command works great.

[code]

[2016-09-04 20:35] LorenzMeier commented on #5438
@bharath374 Can you test this fix locally? https://github.com/PX4/Firmware/pull/5450 We should also sync on the drone type we want to use for Snapdragon so we can finalise testing.

[2016-09-04 21:43] #3812 closed

[2016-09-04 21:43] #3899 closed

[2016-09-05 03:38] DeanJJJ commented on #5320
Hi,
my problem was QGC can not detect "fake" barometer in hil (simulation) mode, in flight mode, there is pressure value output but no pressure_alt

[2016-09-05 07:14] bkueng commented on #5406
Looks like a different issue then. @julianoes can you please look into this?

[2016-09-06 06:43] LorenzMeier opened #5453 "Ripples of changes to sensor pipeline"
@bkueng The changes to the sensor pipeline we did for 1.4 (mostly in the sensors app) still seem to have ripples. Here is the same airframe with 1.4 and below with 1.3:

_What is important to note is that the roll rate noise is higher with 1.4_. That's an unintended side effect. We might have more with acceleration.

http://logs.uaventure.com/view/QBjZQg5KPjBrXSQ44cNHh6#IMU_Acc_PLOT

Acceleration

[2016-09-06 17:05] dagar commented on #5453
I've seen this too and haven't been quite sure what to think.

https://github.com/PX4/Firmware/blob/master/src/modules/sensors/sensors.cpp#L1108

[2016-09-06 20:20] mayanez opened #5462 "Raspberry Pi uORB Segfault"
I'm seeing strange issues with the uORB templated interface on the Raspberry Pi. It is causing LPE to crash. I've tried debugging the issue but haven't been able to pinpoint the problem. Does anyone have any suggestions about what may be causing this?

Here is the backtrace for the behavior I'm seeing:

[code]

[2016-09-06 20:45] LorenzMeier commented on #5462
Are you sure you don't run in a stack smashing issue? Please try to increase the stack size by adding 5000 constantly here:
https://github.com/PX4/Firmware/commit/4a5eae23a29d452596ee0c8d0961f661ae635214

If that's the cause I recommend to add stack statically when building on Linux. I would start with 5K.

[2016-09-06 21:12] bharath374 commented on #5438
@LorenzMeier Tried it out, works!

[2016-09-06 21:34] LorenzMeier commented on #5438
Applied. Closing.

[2016-09-06 21:34] #5438 closed

[2016-09-06 21:35] mayanez commented on #5462
Yeah that's what was happening. Adding another 4K to PTHREAD_STACK_MIN seems to do the trick. I'm going to quickly flight test it and verify.

I'll submit a PR for it soon.

[2016-09-07 03:32] dagar commented on #5331
@LorenzMeier was this intentional? If not I'll look into fixing it.

[2016-09-07 08:57] AlexisTM commented on #5239
It is resolved by using LPE, as you predicted. Thanks.

[2016-09-07 14:23] julianoes opened #5465 "SITL gazebo: Tools/sitl_gazebo/models/iris/iris.sdf not updated"
The simulation in gazebo seems broken on master.

Steps to reproduce:

[code]

Then try to takeoff using:

[code]

[2016-09-07 14:45] julianoes commented on #5465
Bisect points to 010c9e937b23988b222de6a1f714b57690f7742f

[2016-09-07 14:59] jgoppert commented on #5465
This is odd, how did the SITL CI pass?

[2016-09-07 15:01] bkueng commented on #5465
This works fine for me, I use gazebo 6.5.1.

[2016-09-07 15:02] julianoes commented on #5465
It seems to be only my my Ubuntu 16.04 with gazebo7. Mac with gazebo7 is ok.

[2016-09-07 20:26] LorenzMeier commented on #5465
Works fine on Mac here as well after all clean actions (make and git). I'm on stack_abstraction which is a branch addressing a few OS-specific stack size issues. It might be worthwhile for you to try as well.

[2016-09-07 23:54] jgoppert commented on #5420
Fixed.

[2016-09-07 23:54] #5420 closed

[2016-09-08 15:02] julianoes commented on #5465
Did a fresh checkout of Firmware and all is good again :confused:.

[2016-09-08 15:07] julianoes commented on #5465
The file Tools/sitl_gazebo/models/iris/iris.sdf was not re-generated/updated.

The following resolved the problem:
[code]

[2016-09-08 15:24] NCharabaruk commented on #5429
For anyone else with this problem, drivers/mb12xx is commented out in the set(config_module_list section of cmake/configs/nuttx_px4fmu-v2_default.cmake. Uncommenting this line and then setting SENS_EN_MB12XX to 1 enables the sensor.

[2016-09-08 15:30] dagar commented on #5465
@julianoes Try `make distclean` next time. I use it when jumping between branches with big changes, especially when submodules have been added/deleted/url changed.

[2016-09-08 18:17] BarzinM opened #5471 "Problem with External Localization"
Hi,

I recently updated the PX4 firmware through QGC 3.0.0. I tried to set the values for some parameters found in https://pixhawk.org/firmware/parameters but received the following errors:

[code]

Trying some other random parameters:

[code]

Looking at parameters through QGC shows only `EKF2_REC_PRL` in `EKF2` section and only `INAV_LIDAR_ERR` in `Position Estimator INAV` section.

![image](htt

[2016-09-08 19:40] CarlOlsson commented on #5038
It seems like replay is again broken on master.
I get the error:
[code]
@LorenzMeier
This commit broke it:
f511d49cc23898922d2169fa595258574f9b1dc6

[2016-09-09 01:25] mhkabir commented on #5471
Inav is no longer enabled by default, and hence it's parameters don't show up.

LPE is the default position estimator for multicopter vehicles now.

[2016-09-09 12:24] MikaelFerland opened #5474 "Add status flag for each estimator on MAVLink"
If we add status flag estimator for each estimator we will be able to know if the UAV has a chance or not to be reliable in OFFBOARD mode. Moreover, I will fix this method for PX4 support https://github.com/dronekit/dronekit-python/blob/master/dronekit/__init__.py#L1717 @LorenzMeier is it the right way to check it?

[2016-09-09 12:26] LorenzMeier commented on #5474
Yes, sounds like it. We planned to populate the flags for a very long time.

[2016-09-09 16:31] BarzinM commented on #5471
Great. Thanks @mhkabir for the reponse. I followed your hint and found this: http://dev.px4.io/advanced-switching_state_estimators.html

- Is LPE the preferred estimator to use with mocap?
- Is there a way to take the sonar, barometer, etc. out of its Kalman filter or should I just give them a large stddev?
- Is it correct to assume that I can send the position from any mocap system to `LPE_VIC_P`

[2016-09-09 17:50] BarzinM commented on #5471
I'm sending messages to `mavros/vision_pose/pose` and the values that I read from `/mavros/local_position/pose` are not close at all. I experimented maximizing the stddev for `LPE_LDR_Z`, `LPE_SNR_Z`, set the `LPE_VIS_XY` and `LPE_VIS_Z` to `0.01`, set `LPE_GPS_ON` to `0` and none has helped getting better position values.

The `ATT_EXT_HDG_M` has been `1`.

I'm not using `/mavros/mocap/pose` beca

[2016-09-10 08:24] mhkabir commented on #5174
Can everyone having issues with the timeout try again with master? We fixed an update rate issue inside LPE recently.

[2016-09-10 12:02] ecmnet opened #5478 "LPE position is reset to (0,0) when vision position resumed after timeout"
@jgoppert Using an on-board vision system and PX4flow, I experience the following behavior, which I consider as inconsistent: After e.g. a vision time-out position is estimated on flow only, which is perfect. When visioning resumes, it is re-initialized, which means, that `_visionOrigin` is set to the mean of the first 20 samples. Assuming the vehicle does not move, the next vision correction is p

[2016-09-11 13:39] jcooper21 commented on #5437
@dagar any chance this can fit into the PX4 1.5 release?

[2016-09-11 14:48] dagar commented on #5437
I'm traveling this week, but if it's really as simple as pushed PWM value for duration, not pushed otherwise I can implement it when I get back. I'd have to lean on you for testing though as I don't have one of these devices. Interested?

[2016-09-11 15:02] tstellanova opened #5481 "First log of new day written to the wrong directory"
With latest px4/firmware master:
- Log some flights on Saturday 2016-09-10. These flights are logged to the correct directory "2016-09-10". Leave this directory in place (do not delete).
- Fly one flight on Sunday 2016-09-11.  The log file is written to the same directory as Saturday's flights, which is incorrect.
- Fly another flight on Sunday. This log file is written to the correct directory "2

[2016-09-11 16:22] jcooper21 commented on #5437
Ya that sounds good.

[2016-09-11 16:48] dagar commented on #5437
Great!
Can you link to the device you use? What are reasonable defaults for pushed on, not pushed, and duration? What's "AC-T" mode?

[2016-09-11 17:04] jcooper21 commented on #5437
I use a few different devices linked below. The push, not pushed and duration values change for each device so we just need a blank field to input our numbers in. The AC-T is just a seagull feature so they set the ouch value to activate the the mode.

http://www.seagulluav.com/seagull-map-x-support/#1445895077368-fc8aa683-2ecb

http://vp-systems.eu/order_cr.html

http://www.tuffwing.com/store/stor

[2016-09-11 17:54] dagar commented on #5331
@agribov yes this was an intentional change. QGC should let you know if a param change fails.

[2016-09-11 17:54] #5331 closed

[2016-09-11 19:27] BarzinM commented on #5471
Forgot to mention in the previous comment that when I apply a large change to the values that I'm publishing to `mavros/vision_pose/pose`, It does in fact change the `/mavros/local_position/pose` values but they again do not match.

[2016-09-12 09:23] tubeme commented on #5453
There is something strange in 1.4. I'm still struggling to make a good PID tuning from scratch on the quadcopter and could not actually do it... Especially the YAW control is not present nor as RC input nor as stabilization response. It seems like the quad is on alcohol, laggy and not able to hold properly in > 2 m/s wind neither in Manual neither in Position or Altitude... We are still using 1.3

[2016-09-12 09:25] LorenzMeier commented on #5453
Can you share a log file?

[2016-09-12 09:28] tubeme opened #5483 "Log files WRONG time stamp BUG"
It is very old problem (>1 year old) that is not corrected. It is not critical bug but annoying.

When GPS lock is acquired then the time stamp of the Log files is GMT time, and not my zone which is +2 hours.  Sometimes it becomes 3 hours difference when the summer winter time changes.

[2016-09-12 11:28] julianoes opened #5484 "pre-commit hook differs from `make check_format`"
I ran into the following case where the git pre-commit hook triggers but `make check_format` is all happy:

[code]

FYI @AndreasAntener

[2016-09-12 11:33] dhirajdhule commented on #5197
I have tried another delta8 reciever, spektrum dsmx satellite reciever on pixhawk. But it gives the same problem. I also tested it using another hardware (FlytPOD) running px4 code. But again same rc link loss issue.
I already have replaced the wires between pixhawk and snapdragon. I don't think there is any issue with connections since the link loss starts randomly irrespective of any motion.
Btw

[2016-09-12 11:44] mhkabir commented on #5483
Not a bug really. It's a feature we need, to select the timezone's offset from GMT.

[2016-09-12 12:39] AndreasAntener commented on #5484
Awesome, isn't it ;)

The pre-commit hook includes the default git whitespace check which complained here. I guess we should included that in our check script instead.

[2016-09-12 15:25] tubeme commented on #5483
@mhkabir The bug is that it does not account for my timezone despite it has locked GPS. Of course having the GMT time is must and it works.

If there is a way we could manually set the time zone and summer/winter time offset it could be great. Or even better idea is to get the QGC host to send its timezone and s/w offset to PX4 when connected.

[2016-09-12 16:36] mhkabir commented on #5483
Ah. Well, we should be able to implement this fairly easily. It's just not done.

That would be easy as well. See the SYSTEM_TIME mavlink message.

[2016-09-12 17:06] mhkabir commented on #5483
It's not easy as I had thought. It would be almost impossible to fit a lookup table with timezones into the flash of an embedded STM32. Also, your GNSS receiver has no idea about your timezone, it just knows the UTC/GMT time.

[2016-09-12 17:31] julianoes commented on #5484
Ah got, and yes it's cool! :smile:

[2016-09-12 19:10] pchatrath commented on #5174
@mhkabir sorry don't have access to hardware currently

[2016-09-13 12:36] AndreasAntener commented on #5204
Fixed, back transition will finish on mode change.

[2016-09-13 12:36] #5204 closed

[2016-09-13 14:35] tubeme commented on #5483
The simple solution would be just to have a parameter with + or - hours, and summer winter time parameter. There is no need for implementing lookup table and time zones. Just for now. We have flights in Bulgaria EU and California and sometimes things get messy when we have to point out which log is flown when...

Next step could be just to sync the QGC host computer (tablet phone) timezone to PX4

[2016-09-13 14:38] kd0aij commented on #5483
see parameter SDLOG_UTC_OFFSET

On Tue, Sep 13, 2016 at 8:35 AM Vasil Petrov <notifications@github.com>
wrote:

[2016-09-13 22:57] bharath374 opened #5489 "QuRT no longer built as part of Snapdragon flight target"
The following make commands used to build both posix (apps proc) and QuRT (aDSP)) portions of the snapdragon flight build. Now they only build posix not QuRT.
- make eagle_default
- make eagle_legacy_driver_default

I'm able to do the QuRT build separately though:
- make qurt_eagle_default
- make qurt_eagle_legacy_driver_default

The issue seems to have been introduced during the recent makefile c

[2016-09-14 00:37] CarloWood commented on #5489
Yes, thanks - I can reproduce this...

The problem seems to be that if you do:

foo% bar%:
	echo Hello $@

test: foo1 bar2

then 'foo% bar%' is considered to be a single target,
even when the stem is different, and hence only 'built'
once. When 'make test' is run, foo1 causes 'Hello foo1'
to be printed, but bar2 doesn't cause it the echo
to be executed again.

I can't really think of a way to fix

[2016-09-14 00:51] CarloWood commented on #5489
Hmm, now the weird thing is.. it SEEMS to do that (and the above patch should fix this), but when I actually test the following makefile:

foo% bar%:
        @echo "Complex build instructions for $@"

all: foo_a bar_b

and run: make -f themakefile all

it prints:

Complex build instructions for foo_a
Complex build instructions for bar_b

[2016-09-14 04:57] tanenyi opened #5490 "Adding A New Parameter"
I am trying to add a completely independent parameter into Pixhawk so I can use it in the running code for added functionality.

This is what I have done:

* Edit code in Firmware/src/modules/systemlib/system_params.c

[code]

* Run make **px4fmu-v2_default** in CLI (Terminal)

Results:

* **parameters.xml** reflects the new parameter

* **nuttx-px4fmu-v2-default.px4** seems to be updated (time mo

[2016-09-14 06:55] LorenzMeier commented on #5490
For the parameter to show up in the GCS it needs to be used in the code (param find). It will then be in the default group.

[2016-09-14 06:55] #5490 closed

[2016-09-14 06:56] LorenzMeier commented on #5490
For sensors, you would need to copy one of the sensor drivers and publish the sensor data like they do.

[2016-09-14 12:13] CarloWood commented on #5489
Please continue discussion in #5491 (I couldn't find a way to add a pull request to this PR). This PR can thus be closed.

[2016-09-14 13:42] tubeme commented on #5483
Ups... my miss.

[2016-09-14 13:42] #5483 closed

[2016-09-14 14:20] mhkabir commented on #5483
Woohoo, my bad as well. @kd0aij Thanks for the tip!

[2016-09-14 15:05] #5489 closed

[2016-09-15 09:16] LorenzMeier opened #5495 "User-facing RTK documentation"
@bkueng @DonLakeFlyer We should have a simple tutorial how to leverage RTK GPS with the u-Blox M8P. In particular we should check if we can enable the connection on Android tablets.

[2016-09-15 09:18] ecmnet opened #5496 "LPE: Terrain walking process noise scaling with velocity not valid in all cases"
The scaling of the terrain walking process noise with velocity, leads to terrain-jumps when position estimation is lost (or regained). Especially in use cases without GPS this can lead to altitude jumps.

Refer to: https://github.com/PX4/Firmware/blob/master/src/modules/local_position_estimator/BlockLocalPositionEstimator.cpp#L859

Update: Forgot to say, that a workaround is to set LPE_T_MAX_GRADE

[2016-09-15 10:21] CarloWood opened #5497 "posix_sitl hangs when gdb is attached"
Continuing a conversation that was started in #5443.

So far the following came out of the investigation:
- Things work when gdb is not used, and something locks up when gdb is used. This even happens when gdb is attached afterwards.
- Not only px4 becomes unresponsive (read: appears to be locked up), even gdb itself is often locked up (ie, doesn't react to control-C).
- Sending the px4 process SI

[2016-09-16 01:50] lovettchris opened #5500 "3dr solo sensor init isn't working"
The following code does not work in ~/ROMFS/px4fmu_common/init.d/rc.sensors:

[code]

I added the "echo" statements for debugging and it prints "Setting BOARD_FMUV3 anyway", meaning the "mpu6000" task did not return true, even though it did actually start.  I know it started because the PX4 system console prints "MPU6000 on SPI bus 1 at 4 (1000 KHz)".  So I think something is wrong with how the ta

[2016-09-16 06:31] AndreasAntener opened #5501 "Reboot with forcing to bootloader gets swallowed by MAVLink"
@LorenzMeier why are we using `MAV_CMD_PREFLIGHT_REBOOT_SHUTDOWN` with `param1 == 3` as link shutdown? https://github.com/PX4/Firmware/blob/7d7e40f59473ed538c61f8b76020ca505ee52487/src/modules/mavlink/mavlink_receiver.cpp#L353

According to the specs that should do an FC reboot with forcing it to bootloader. Which is implemented but never happens because of the above logic.

Funnily this could hav

[2016-09-16 07:54] tubeme commented on #5453
@LorenzMeier Hi Lorenz, sorry for the delay with my reply. I just found that one of my motors was not right so exaggerating the problem. But I still have my point in what I said and I see a problem. I just think that it is not a good taste to explain a case with hardware malfunction of any sort. So first I will fix the problem, fly again and then I will come back here to report.

[2016-09-16 09:33] LorenzMeier commented on #5501
This is indeed a case where we had a custom use and then the spec got extended.

[2016-09-16 09:35] LorenzMeier commented on #5501
Closed in d98bbd9.

[2016-09-16 09:35] #5501 closed

[2016-09-16 09:36] AndreasAntener commented on #5501
Thanks!

[2016-09-16 17:52] mhkabir commented on #5174
Closing this, I verified today that the code path is fine. Flew with VIO.

If you're still having issues, check your link bandwidth on both ends and the message rates.

[2016-09-16 17:53] #5174 closed

[2016-09-16 17:54] mhkabir commented on #5471
Try using the mocap pose topic now, with latest master of Firmware. We've fixed a few things in LPE.

Make sure external heading is set to mode 2 for mocap.

[2016-09-16 18:36] AlexisTM commented on #5174
Dame for me, it works

[2016-09-17 18:32] dagar commented on #5484
@julianoes does this catch it? #5503

[2016-09-17 23:46] LorenzMeier commented on #5497
@CarloWood Is this still an issue for you or did the updated docs here help?
http://dev.px4.io/simulation-debugging.html

[2016-09-18 15:39] ecmnet commented on #5453
Just to let you know, that I've also issues regarding position control (hold) which are not LPE related. Up to now, I stick with 1.4.1RC1.

[2016-09-18 20:58] dagar commented on #5453
@LorenzMeier / @bkueng / @jgoppert - Is the core issue here setting accelerometer_m_s2 from integral / dt instead of the value from accel_report? Could you explain the choice?

    //using the value instead of the integral (the integral is the prefered choice)

https://github.com/PX4/Firmware/blob/master/src/modules/sensors/sensors.cpp#L1096

[2016-09-19 06:55] LorenzMeier commented on #5453
The integral reflects *all* values from the last time delta (so has no aliasing until the sensor is aliasing itself internally) while the low-passed value can show a non-zero mean. This is depending on the frequency setup and sampling rates. The code you're reading is all correct.

What I'm looking for is not an error per se in the sampling pipeline but either a requirement of the estimator taking

[2016-09-19 08:00] ecmnet commented on #5453
@LorenzMeier To clarify your last statement for us users, It would helpful, if you could publish some benchmarks or e.g. refer to a log regarding accelerometer noise / vibration..

[2016-09-19 08:15] zer1988 opened #5507 "Yaw angle drift from IMU sensor"
Hi everbody,
Currently, I have a big problem with yaw angle but i do not know why.
I used topic  mavros/imu/data to read the data of roll pitch and yaw angle following quarternion and then covert it to angle by getRPY(roll, pitch,yaw) command in Offboard mode. The pitch and roll angle work fine, but the yaw is not good. When I put my drone on the floor, the yaw angle increase or decrease 0.01 degr

[2016-09-19 08:25] eric1221bday opened #5508 "SITL gazebo ROS issues"
So I've been having some issues running the gazebo ros simulation specifically with the iris opt flow model. Everything works fine and the simulation and mavros both starts. However despite the fact that there are plugins for both the px4flow and the lidar for gazebo that are suppose to publish ros messages, only the camera feed is actually publishing to ros. In addition if I look into the specifi

[2016-09-19 08:43] bkueng commented on #5495
Done, see http://px4.io/docs/rtk-gps

[2016-09-19 08:43] #5495 closed

[2016-09-19 08:47] LorenzMeier commented on #5453
This is a log from a standard vehicle with normal vibration levels. If you have anything significantly higher your vehicle has a fundamental vibration issue.

http://logs.uaventure.com/view/x46eDbXxMAHzyWV6bPPBdj

[2016-09-19 09:40] ecmnet commented on #5453
@LorenzMeier Thanks a lot!

[2016-09-19 11:48] bkueng commented on #5500
According to https://github.com/PX4/Firmware/blob/master/src/drivers/mpu6000/mpu6000.cpp#L2330
the driver does return a proper error code. However this still does not explain your observed behavior.
It could be that the device initialization succeeds (https://github.com/PX4/Firmware/blob/master/src/drivers/mpu6000/mpu6000.cpp#L2266), and prints the message, but fails afterwards.
Can you debug this

[2016-09-19 16:17] dagar opened #5510 "SYS_AUTOCONFIG keep sensor calibration"
Would it be safe to change the behaviour of SYS_AUTOCONFIG 1 to also keep the sensor calibration params? Then you could reselect the airframe in QGC to reset the params you care about (and set newly added ones) without having to calibrate again.

[2016-09-19 17:16] sanderux opened #5511 "Corner case VTOL_LAND"
Presumably: the vtol came out of back transition directly on top of the waypoint. It therefor skipped over the navigation step in the sequence and moved directly to land mode while still having a lot of velocity.

purple: setpoint
red: actual

![selection_002](https://cloud.githubusercontent.com/assets/14801663/18641474/1452985c-7e9d-11e6-8c4e-529b9cb7ba3c.png)

http://logs.uaventure.com/view/yVa8

[2016-09-19 17:17] sanderux commented on #5511
Waiting until @AndreasAntener syncs his stuff, after that i can look if / how this could be fixed and if that would still be needed

[2016-09-19 18:06] sanderux commented on #5511
google earth flight
[flight.kmz.tar.gz](https://github.com/PX4/Firmware/files/480759/flight.kmz.tar.gz)

[2016-09-19 18:34] dagar commented on #5510
As discussed on the dev call it's not clear if this would be safe when moving autopilots between airframes.

[2016-09-19 18:34] #5510 closed

[2016-09-19 22:06] pietrop88 opened #5512 "mavros/state single message and connected: false"
Hi everybody,

I installed mavros on a Edison board that is connected to the Pixhawk.
Mavros is able to stream the messages in the /mavros/local_position/pose and /mavros/imu/data topics. I also successfully connected qGroundControl with the Pixhawk through UDP.
The problem is when I check the mavros/state topic: I can only see one message and the field "connected" inside the message is set to fal

[2016-09-20 04:26] anujkumargupta opened #5513 "Takeoff Denied after arming"
Hi, I am facing these 2 issues .so please help me out.

1. I am trying to connect my pixhawk with qgc using virtual joystick. In manual mode it armed successfully but after giving the takeoff command it says takeoff denied , disarm and retry.I tried again the same thing and i also calibrated all the sensors again but it shows same problem again and again.

2. I am trying to fly in mission mode or

[2016-09-20 06:13] mhkabir commented on #5513
The problem is that you have no position lock. Make sure your GPS has a 3D fix.

Both those issues stem from there.

[2016-09-20 06:53] anujkumargupta commented on #5513
Thanks
When i am trying to fly in manual mode then it takeoff problem occurs. Is gps required in manual mode also??

[2016-09-20 07:21] CarlOlsson opened #5514 "Non intuitive sensor calibration failure"
I just remounted the Pixracer and I could not calibrate the acc since I only got "error, invalid orientation". I was only able to calibrate after I manually reset every parameter listed below to default values through QGC.
CAL_ACC0_XOFF
CAL_ACC0_XSCALE
CAL_ACC0_YOFF
CAL_ACC0_YSCALE
CAL_ACC0_ZOFF
CAL_ACC0_ZSCALE
(Thanks @sverling for the tip)

[2016-09-20 08:25] mhkabir commented on #5513
Takeoff is an auto manueovre which requires a position estimate.

If you're in manual, you're going to have to take off 'manually', by definition.

[2016-09-20 08:25] #5513 closed

[2016-09-20 08:50] anujkumargupta commented on #5513
I am taking it off manually after arming by clicking on the takeoff button as shown in pic.
Thanks

![screenshot from 2016-09-20 14 19 35](https://cloud.githubusercontent.com/assets/22234294/18663746/6ae600b4-7f3d-11e6-9386-a3ee3de13efd.png)

[2016-09-20 09:07] mhkabir commented on #5513
That is not a "manual" takeoff.

"Manual" means YOU control it using a transmitter/joystick/whatever and raise the throttle till the vehicle starts climbing.

[2016-09-20 09:14] anujkumargupta commented on #5513
Is it possible to to that using virtual joystick ??
If yes then how??
I tried to gave throttle after arming but the altitude is not increasing.
Thanks

[2016-09-20 09:48] anujkumargupta commented on #5513
Is it possible to to that using virtual joystick ??
If yes then how??
I tried to gave throttle after arming but the altitude is not increasing.
Thanks

[2016-09-20 12:07] antoinealb commented on #5393
Installing `libgazebo7-dev` fixed the problem for me. I also needed to install `libopencv-dev` and `protobuf-compiler` to be able to build the simulation.

[2016-09-20 16:40] sneiman opened #5515 "error building firmware for crazyflie 2.0"
Noob with px4. Trying to reflash Crazyflie 2.0. No problem with Bootloader. But cannot build crazyflie_default. Here is the error after issuing make crazyflie_default upload:

[ 59%] Building CXX object src/modules/syslink/CMakeFiles/modules__syslink.dir/syslink_main.cpp.obj
[ 60%] Building CXX object src/modules/attitude_estimator_q/CMakeFiles/modules__attitude_estimator_q.dir/attitude_estimator_

[2016-09-20 16:45] #5484 closed

[2016-09-20 16:46] dagar commented on #5484
Merging #5503 because it's trivial. Let me know if it's not enough.

[2016-09-20 16:58] bkueng commented on #5515
Indeed, the field `timestamp_publication` got removed very recently, fixed in #5517

[2016-09-20 17:08] sneiman commented on #5515
That was fast! Thanks – new to this repo, how long before these are likely to be merged?

S

This entire message is confidential. If it isn't intended for you, you may not use it – so please throw it away and forget about it.

From: Beat Küng <notifications@github.com>
Reply-To: PX4/Firmware <reply@reply.github.com>
Date: Tuesday, September 20, 2016 at 9:59 AM
To: PX4/Firmware <Firmware@noreply.gi

[2016-09-20 17:12] bkueng commented on #5515
Usually someone else will review it, but for such a small change, I'll merge when CI passes.

[2016-09-20 17:14] sneiman commented on #5515
Thanks.

This entire message is confidential. If it isn't intended for you, you may not use it – so please throw it away and forget about it.

From: Beat Küng <notifications@github.com>
Reply-To: PX4/Firmware <reply@reply.github.com>
Date: Tuesday, September 20, 2016 at 10:12 AM
To: PX4/Firmware <Firmware@noreply.github.com>
Cc: Seth Neiman <seth@lizardms.com>, Author <author@noreply.github.com>
S

[2016-09-20 17:29] bkueng commented on #5515
Merged!

[2016-09-20 17:29] #5515 closed

[2016-09-20 17:46] sneiman commented on #5515
Thanks for headsup. Builds successfully – wont download, but I’m working on  it!

[2016-09-20 19:24] lovettchris opened #5519 "nsh_parse NULL dereference"
These lines crash the nsh_script execution if a variable is referenced in your script that doesn't exist.  Notice there is no NULL check on the var_value.  This is inside nsh_parse.

char *var_value = getenv(var_name_start);
*var_name_end = tmp_char;
res_size += strlen(var_value);

How do you go about fixing Nuttx bugs ?

[2016-09-20 19:28] davids5 commented on #5519
Please do a PR against PX4/NuttX

[2016-09-20 23:04] mcharleb commented on #4100
@LorenzMeier This is something we also would like to expose. No time frame yet for when it will be done.

[2016-09-20 23:07] mcharleb commented on #4759
The hexagon toolchain seems to spend a huge amount of time trying to optimize the att-pos EKF code.

[2016-09-21 00:32] CarloWood commented on #5497
I'm still working on it! There is something wrong for sure, it's just very very hard to find.

[2016-09-21 08:04] VictorLSogilis opened #5524 "px4fmu-v2_default compilation error : nuttx-export.zip is missing"
Hi,

I'm following the build instructions from the developper documentation and I encounter a build issue about nuttx-export.zip missing. Here is the error log :

[error_log.txt](https://github.com/PX4/Firmware/files/484437/error_log.txt)

I'm building from a Debian in this configuration :
[code]

I suppose the missing nuttx-export.zip should be created by nuttx build but I dont understand how it'

[2016-09-21 08:22] alpha17 opened #5525 "Building errors with px4fmu-v2_default on Windows"
As I'm trying to build an example like the one on the development guide, I got some problem when using the make px4fmu-v2_default instruction. The errors are emphasized in the console window as you can see below:
![1](https://cloud.githubusercontent.com/assets/7569503/18702824/0754da3c-8016-11e6-93af-ec4aace3c87f.PNG)

Using Windows as my OS. Very new to PX4. Hope this isn't a stupid question. But

[2016-09-21 09:08] ndepal opened #5526 "Total loss of control, apparently due to PX4_ERR"
I have repeatedly experienced a total loss of control/crashes with my quad after making some minor changes to the position controller.
I have narrowed down the problem to a print statement.

**Problem**
The crash can go one of two ways:
1) The quad's rotors stop spinning mid-air, as if it was disarmed.
2) The quad becomes entirely unresponsive. Communication with QGC (through a RPi companion compu

[2016-09-21 10:55] LorenzMeier commented on #5526
You have a stack overflow. You need to increase the stack if you add print commands

[2016-09-21 10:55] #5526 closed

[2016-09-21 11:06] ndepal commented on #5526
Thanks for the response. How can I prevent running into this type of problem in the future? How do I check the stack size vs max allowable size?

[2016-09-21 11:34] tumbili commented on #5526
@ndepal The "top" command in the shell will show you stack usage for all processes.
Generally when you made a considerable amount of changes to the code you should check if the process has some stack free. Consider also that you might have functions which consume lots of stack but which will only be called after a certain event.
Also you can use the "free" command to check how much memory you have

[2016-09-21 14:07] ndepal commented on #5526
Thanks @tumbili !

[2016-09-21 14:21] nacho-carnicero opened #5527 "Error building posix_sitl_default"
Hi,

I'm getting an error while building PX4 for SITL simulation with Gazebo. I installed the pre-requisites as stated in [this page](http://dev.px4.io/simulation-gazebo.html) and ran `make posix_sitl_default gazebo`. I got the following error:
[code]

So it appears that the protobuf version I have is too new, therefore I downloaded the newest version below v3.0.0 (as the error log is suggesting)

[2016-09-21 15:46] boosfelm commented on #5399
as discussed, please take @arminambuehl in the loop

[2016-09-21 18:06] pedro-sales commented on #4597
@AndreasAntener Any updates or ideas on how to fix this?
I already modified the tailsitter code to transition using time when airspeed mode is disabled (no airspeed sensor) and it worked fine, but I am stuck at this yaw issue.

[2016-09-21 19:02] davids5 commented on #5524
Did you run ```make clean``` first?

[2016-09-21 20:50] VictorLSogilis commented on #5524
I tried to make clean and make distclean before building without success.

Finally I installed a fresh 16.04 Ubuntu on a Virtual Machine and it build without error. I suspect the problem came from a package difference somewhere but I'm not sure how I can investigate that.

[2016-09-21 23:19] zer1988 commented on #5427
Hi Lorenz,
I have one more faults relating to this one is that when my drone try to maintain its heading at the stationary point. I do not know why the value of IMU sensor increase or decrease its value 0.01/ sample time. Do you know how i can fix it? I re-calibrated my drone already but it still happens for manual mode.
If my drone's heading moves around the fixed point, this phenomenon stops.
Th

[2016-09-22 02:18] zer1988 commented on #5453
Hi Lorenz,
I have one more faults relating to this one is that when my drone try to maintain its heading at the stationary point. I do not know why the value of IMU sensor increases or decreases its value 0.01/ sample time. Do you know how i can fix it? I re-calibrated my drone already but it still happens for manual mode.
If my drone's heading moves around the fixed point, this phenomenon stops.

[2016-09-22 02:30] maciejmatuszak opened #5530 "trigger_control command not working"
In short:
I am trying to access px4 (stock v1.4.4) running on Pixhawk(original hardware) via mavros to enable/disable the camera trigger it looks like the call fails on px4 side.

My setup:
PX4 Firmware (v1.4.4) running on original (not a clone) Pixhawk.
2x USB to serial converters one for Telem2 (MAVROS) and other on Serial 4/5 for System console
Initially I was running mavros on odroid but I mov

[2016-09-22 15:37] twistxj commented on #5394
Is there any update for this?

[2016-09-22 16:16] bkueng commented on #5527
What do you mean exactly? If you see the quad on a ground plane, it's actually correct. There are no buiildings in this world.

I think @jgoppert could explain why the `protobuf < 3.0.0` requirement was added.

[2016-09-22 21:16] tubeme commented on #5511
For the back transition our experience in missions is that the plane always makes the transition too late and always misses its landing point. Then in hover it starts to go back. But you know VTOL and backward movement is not the best combination. It is always better to have the transition way before the landing spot and then go forward in hover until on the spot. We have to take in to account the

[2016-09-23 00:15] jgoppert commented on #5527
@bkueng I couldn't get the code to build without protobuf < 3.0.0.  @nacho-carnicero  2.6.1 is the correct version, can you try deleting all build files and trying again. Also, try using gazebo 7.0.0:

gazebo --version
Gazebo multi-robot simulator, version 7.0.0

It looks like you are using a newer gazebo version, which may now use the 3.0.0 protobuf.

[2016-09-23 01:41] sanderux commented on #5511
@tubeme Until this is addressed (likely i would calculate distance based on groundspeed) I would recommend using a regular transition command if you want it not to overshoot.

[2016-09-23 03:56] dagar commented on #5437
@jcooper21 I'm just trying to figure out how to make this cleanly fit with what we already have (MAP2).

[2016-09-23 03:58] jcooper21 commented on #5437
What you currently have with map2 will not work.  Currently its setup incorrectly for most users.

[2016-09-23 04:08] dagar commented on #5437
I think I know what you mean, but please elaborate. Which part is setup incorrect for most users?

Currently I'm creating another type of trigger (next to gpio and seagull) that's just simple PWM values on for duration, then off. Does that sound correct? I don't have or use any of these devices so you're going to have to be very specific if I've misinterpreted.

[2016-09-23 04:10] jcooper21 commented on #5437
That sounds correct another drop down for PWM and then be able to input values into the PWM fields as shown in the screenshot.  That will work perfectly.  Are you integrating the Camera feedback at the sametime?

[2016-09-23 06:15] VictorSu2 commented on #5197
Hi, following the instruction here.
https://github.com/ATLFlight/ATLFlightDocs/blob/master/PX4.md
If want to use Spketrum as rc, flash the atlflight set up firmware and if want to use ppm as rc, flash the px4 set up firmware.

[2016-09-23 06:29] VictorSu2 opened #5535 "Spektrum RC doesn't work"
Hi,
I just followed the instructions here "Building PX4 with the FC_ADDON drivers" to make the Spektrum work with px4 https://github.com/ATLFlight/ATLFlightDocs/blob/master/PX4.md
But the the radio part on QGC shows nothing when i move the joysticks while all the other calibration passes.
I tried several times and i promise that the Spektrum controller and receiver are binded, snapdragon and QGC a

[2016-09-23 07:21] dhirajdhule commented on #5197
Thanks Victor,

I had followed px4 instructions.
One question, if I use ATLflight can I still use pixhawk as pwm out device to connect ESCs? Because I don't have qualcomm's ESC board.
Also the board that we are using is given to us by qualcomm and intrinsyc is not ready to give us support and the files.
Thanks anyway.

[2016-09-23 08:04] VictorSu2 commented on #5197
Maybe you need to ensure that the pwm_out_rc_in is started in the config files. The pwm_out_rc_in is the app that outputs ESC Uart data and receive the mavlink RC packet on the port J13.
The px4.config is the start up script(just like rcS script for Nuttx based px4) for ADSP and the mainapp.config is the one for Krait.
The pwm_out_rc_in should be started in px4.config instead of mainapp.config.

T

[2016-09-23 08:07] nacho-carnicero commented on #5527
Ok @bkueng I got confused because I saw in the video of the dev page all the environment I was not seeing in my simulation, therefore the build worked.

@jgoppert  yes, I am using Gazebo 7.3.1. Maybe we could add a check on the CMakeLists in order to allow using higher versions of protobuf if the version of Gazebo is above 7.0.0. Or do you recommend downgrading to v7.0.0 for other compatibility is

[2016-09-23 12:59] dhirajdhule commented on #5197
yes, I have made sure that pwm_out_rc_in is running. I am also able to get rc signal on snapdragon from pixhawk. But the issue is that this signal is not continuous. I am getting manual control loss error which normally arises due to lost/missing packets.

[2016-09-23 14:56] mcharleb commented on #4110
Adding reference to https://github.com/PX4/Firmware/pull/5327

[2016-09-24 11:15] zer1988 opened #5541 "UGENT!!!Yaw angle IMU drift and the strange behavior of yaw output channel"
Hi LorenzMeier  and every body,
Currentlly, I can control well my drone's roll and pitch angle using my own PID code. However, a big trouble occurs when I start to tune yaw angle.
For yaw angle, when I put my drone one the floor or in the process of heading stablity, the value of yaw angle changes 0.1 degree/ 0.2 seconds. Therefore, After 7 or 10 seconds of my flight, my drone will rotate counter

[2016-09-24 11:27] LorenzMeier commented on #5541
Sorry, but you're not even sharing your custom PID code. I can't see how we can help you discussing a mistake in something that we can't even look at. Besides, this issue tracker is for issues in the PX4 flight control code - and very obviously the issue you're having with your own does not belong here.

We're happy to help you with issues related that are to any code in this repository or help yo

[2016-09-24 11:27] #5541 closed

[2016-09-24 15:57] zer1988 commented on #5541
Hi LorenzMeier,
Sorry to miss my log files here. On Tuesday I will take some and post here for IMU yaw  angle inside pixhawk.

Going back to the last task with Vicon system, I used mavros/actuator and produces zero at yaw output channel. Unfortunately, it rotates anti-lockwise. My PID is too simple like I used VICON to get the current yaw angle. the error between yaw setpoint and yaw angle is the

[2016-09-25 03:41] JohnSnowball opened #5542 "bug when using LPE"
https://github.com/PX4/Firmware/blob/master/src/modules/local_position_estimator/BlockLocalPositionEstimator.cpp#L392

I encountered a serious bug when using LPE, during transition from mc -> fw, the whole system is blocked, I tried command "top" in console, it's also dead, nothing showed but:
"[lpe] reinit x"
"[lpe] reinit x"
"[lpe] reinit x"
"[lpe] reinit x"
"[lpe] reinit x"
"[lpe] reinit x"
"[l

[2016-09-25 04:16] dagar opened #5543 "TECS altitude setpoint reset"
Issue reported on discuss with a Z84 and no airspeed sensor.

    After a few seconds it cuts the throttle, glides straight forward and after a few
    seconds more it increases pitch and throttle again, but throttle is not close to
    max, and the pattern is repeated.

http://discuss.px4.io/t/plane-not-climbing-to-waypoint/1051

![2](https://cloud.githubusercontent.com/assets/84712/18812972/249e

[2016-09-25 04:31] dagar commented on #5543
Oh, boring. It was just the land detector.

[2016-09-25 04:31] #5543 closed

[2016-09-25 06:58] jgoppert commented on #5542
This could suggest there is a nan being fed to lpe via a sensor. Do you have a log file?

[2016-09-25 07:16] JohnSnowball commented on #5542
You mean that it's some sensor continuously sends NAN data to LPE?
If so, why the whole system is blocked? It looks like that only the LPE is running....
And as the system is blocked, sorry I don't have the log for the bug.
@jgoppert

[2016-09-25 07:17] jgoppert commented on #5542
@JohnSnowball how can I try to reproduce this. Are you running in SITL?

[2016-09-25 07:23] JohnSnowball commented on #5542
That's a long strory...A few weeks ago, I suffered a crush with a standard vtol:
http://discuss.px4.io/t/standard-vtol-lost-control-during-alt-hold-mode/1008/3

Then I made a matlab program to try to reproduce that bug.
And this time, I encountered the bug in the issue(no crash, just simulation).
The plane has something in common with last crush:
1. the whole system blocked
2. the data link is los

[2016-09-25 07:30] jgoppert commented on #5542
@JohnSnowball  I just tried vtol simulation in gazebo and transitioned to vtol and back, I can't reproduce the bug on master. What is the git hash of your software version?

build command:

[code]

[code]

[2016-09-25 07:39] JohnSnowball commented on #5542
@jgoppert
The firmware version is master a few weeks ago.
It's not SITL, the sensor data comes from the Matlab program. I guess it's the bad sensor data which caused the bug.
But if so, why the whole system is blocked and data link is lost?
At least the LPE is still runing during the bug, why data link is lost? I see no relation between bug an data link lost.

[2016-09-25 07:45] jgoppert commented on #5542
The fastest that LPE will run is 100 Hz. I'm guessing that the accelerometer data is returning NaN. There is no check for this in the predict function. Then on the next step it detects the NaN in the state for LPE and re-initializes it. There is no reason that this would block the data link to my knowledge. Possibly your matlab program is not sending any valid data at that point and it sends a NaN

[2016-09-25 07:47] jgoppert commented on #5542
@JohnSnowball have you tried running ekf2 and seeing if you get the same error?

[2016-09-25 08:20] JohnSnowball commented on #5542
@jgoppert  I reproduced the bug twice again! I hope you could take a look at the log file, especially for the accelerometer data as I can't confirm that was NAN data.
http://logs.uaventure.com/view/79xk2ELByoFru3wzyX4PMH
http://logs.uaventure.com/view/6purs8A3QRwjgWmaxN8NYM

If you think it's not NAN data,  I can make a NAN data manually and send it by matlab.
[breaklog.zip](https://github.com/PX4

[2016-09-25 08:21] JohnSnowball commented on #5542
btw, I never used ekf2, as I can't understand the code, it seems too different from a normal ekf predict->correct process.

[2016-09-25 09:34] jgoppert commented on #5542
Can you also reproduce it on latest master?

[2016-09-25 09:46] JohnSnowball commented on #5542
@jgoppert ok, but it will take a little bit time.

[2016-09-25 15:17] JohnSnowball commented on #5542
@jgoppert
I did another test, and got 2 more things make me confused....
I tried to use pos_estimator_inav to replace LPE to see if it works well.
1. SYS_MC_EST_GROUP, this parameter, I can't modify it in QGC, everytime I change it and restart px4, this value goes back to LPE. Finally, I modify this value through console.... Why I can't change that value with QGC? Shall I make some modification so

[2016-09-25 15:24] jgoppert commented on #5542
You should be able to set mc est group in qgc and it should stick after reboot. I saw a similar issue on master a few weeks ago. Please try updating to latest master.

[2016-09-26 06:58] chobitsfan opened #5547 "SENS_BOARD_ROT other than 0 cause incorrent result"
In 3dr solo SENS_BOARD_ROT = 12 (pitch 180)
It works OK in v1.3.4
but it does not work in v1.4.4 and v1.5(orientation is incorrect when display in QGC)

[2016-09-26 20:50] #5430 closed

[2016-09-26 21:11] #5395 closed

[2016-09-27 02:25] dagar commented on #5437
Are the hard coded values for Seagull correct or should it be configurable?

#define PWM_CAMERA_DISARMED			900
#define PWM_CAMERA_ON				1100
#define PWM_CAMERA_AUTOFOCUS_SHOOT	1300
#define PWM_CAMERA_NEUTRAL			1500
#define PWM_CAMERA_INSTANT_SHOOT	1700
#define PWM_CAMERA_OFF				1900
#define PWM_2_CAMERA_KEEP_ALIVE		1700
#define PWM_2_CAMERA_ON_OFF			1900

I'm just trying to determine if Seagull is

[2016-09-27 02:44] jcooper21 commented on #5437
Those setting work for for seagull sony cameras but not for others for example camera on/off does not exist for other manufacturers even with seagull cables and instant shot can be changed to another mode if it was available and that is at a 1800 PWM value.

[2016-09-27 03:18] dagar commented on #5437
So it sounds like we probably want a dropdown of predefined Seagull cables, but I'll leave that alone for now and just do a completely separate trigger type (within camera_trigger) for simple PWM on (duration) / off.

2 new params
TRIG_PWM_ON - PWM on value in us
TRIG_PWM_OFF - PWM off value in us
TRIG_ACT_TIME (already there).

[2016-09-27 06:44] LorenzMeier commented on #5535
@bharath374 Could you have a look?

[2016-09-27 06:55] maciejmatuszak commented on #5530
I decided to dive into PX4 code myself and here is what  found.
The VEHICLE_CMD_DO_DIGICAM_CONTROL message is handled outside the commander, so there is no easy way to send back the ACK message. I think proper solution would be to introduce new message for ACK between camera_trigger driver and commander. any opinions?

As for the dependency on RC controller I found solution by digging in the @mhka

[2016-09-27 07:05] mhkabir commented on #5530
If you're using pins 5 or 6, you shouldn't run into that issue, because rcS on master sets it to pwm4 (see below).

FMU_MODE and AUX_MODE set the operation mode of the auxiliary pins. They need to be set to mode_none (trigger can use 1-6) or mode_pwm4 (trigger can use 5,6).

Regarding the ACK, you can simply ignore the return value of the ROS service call. It always succeeds anyway.

[2016-09-27 07:14] mhkabir commented on #5530
Also, here's our upstream ueye_cam driver which will ignore the ACK requirement (for now). There is also a lot of other stuff there, which you can rebase to remove : https://github.com/ProjectArtemis/ueye_cam

[2016-09-27 07:16] AndreasAntener commented on #5530
@maciejmatuszak there is an easy way to send ACKs. Have a look how the commander does it. It's done via uORB, nothing commander specific.

[2016-09-27 07:25] mhkabir commented on #5530
Also, use this commit if you will be manually killing the camera driver and restarting it without a pixhawk reboot : https://github.com/mhkabir/Firmware/commit/bd7874df0fc37eeb07d936ea2dd14574baa6889c

This will reset the sequence to zero when a new enable command is received.

[2016-09-27 08:57] sanderux commented on #5424
done

[2016-09-27 08:57] #5424 closed

[2016-09-27 09:16] sanderux opened #5551 "VTOL: erratic back transition"
Back transitions usually produce erratic behavior.
Example: http://logs.uaventure.com/view/HfHt6Q2nbV5vKK3cYT6mYQ

Possible reasons for this:
- Velocity too high for MC when coming out of transition
- MC brake action results in pitch up, creating lift, and altitude increase. This in turn results in reducing thrust and therefor less stability
- MC overshoots it's position setpoint (in auto modes),

[2016-09-27 09:18] sanderux commented on #5551
Reference: https://github.com/PX4/Firmware/issues/4845
Reference: https://github.com/PX4/Firmware/pull/5055

[2016-09-27 09:57] julianoes commented on #5197
Is the signal not continuous which comes from Pixhawk, or is the signal coming from the receiver not continuous?

Do you get RC loss when you keep moving a stick, so that the values always change?

[2016-09-27 10:17] julianoes commented on #4759
Disabling build of older att-pos EKF was a workaround that worked for me.

I tend to agree, we should make the optimization flags platform dependant.

[2016-09-27 10:37] julianoes commented on #5484
Great, thanks @dagar!

[2016-09-27 11:46] julianoes commented on #5547
@bkueng did you maybe touch this in the sensors refactor?

[2016-09-27 11:47] dhirajdhule commented on #5197
@julianoes the signal from pixhawk to snapdragon is not working properly. The 'manual control lost' error appears continuously irrespective of stick movement. I have tested two recievers, Delta8 with Frsky Tx, and spektrym 7 channel DSMX receiver. Both receiver work well when used on other systems with pixhawk. My best guess is that the UART connection between pixhawk and snapdragon has severe pac

[2016-09-27 11:49] julianoes commented on #5197
Have you verified that the output on the Pixhawk is correct? E.g. by adding a printf when it sends the mavlink message? You could also check the rate at which it is sent.

[2016-09-27 11:53] LorenzMeier commented on #5547
Code review says that the change was consistent and correct.

@chobitsfan Have you configured the vehicle fresh again and validated things are correct?

[2016-09-27 11:57] julianoes commented on #5525
Hi @alpha17, have you seen the note that Windows is not officially supported here:
http://dev.px4.io/starting-installing-windows.html

I would recommend to try it on a Linux in VirtualBox or try Bash On Windows.

[2016-09-27 13:39] LorenzMeier commented on #4110
@mcharleb This is stuck on CI not passing.

[2016-09-27 14:26] JohnSnowball opened #5553 "sdlog and mavlink thread break down during transition"
I'm searching a bug which leads a crash, the phenomena is described as below:
standard vtol, during transition from mc to fw, right after the transition is finished(about 0.5sec), both QGC and RC link are lost, then crash...

I tried to reproduced that with the help of my matlab semi-physic simulation several times, for 10 times simulation, I will get one phenomena just as the crash.

To find out

[2016-09-27 14:28] JohnSnowball commented on #5542
@jgoppert  hi, I found that bug is not in LPE, it's caused by other thread. I opened another issue, could you take some time to read that?
https://github.com/PX4/Firmware/issues/5553

[2016-09-27 14:56] mhkabir commented on #5553
You're seem to be running out of stack.
Related issue here : https://github.com/PX4/Firmware/issues/5526

[2016-09-27 15:20] LorenzMeier commented on #5553
@JohnSnowball Is this on hardware or in simulation?

[2016-09-27 15:25] #5542 closed

[2016-09-27 15:29] dhirajdhule commented on #5197
I haven't verified the messages sent from pixhawk yet. I will check the rate though.

[2016-09-27 15:54] JohnSnowball commented on #5553
@mhkabir ok, I will check.
@LorenzMeier First time crash in a real flight, then afterwards in simulation. The phenomena are the same.

[2016-09-27 19:24] dagar commented on #5525
@LorenzMeier @julianoes it's going to be annoying, but realistically we need a single windows build or it's just going to keep breaking all the time.

[2016-09-27 22:07] JGSOpenSrc opened #5556 "Build of posix_sitl_replay for EKF2 attempts to write files to root fs"
Hi everyone,

So this is strange; I invoked make for the target posix_sitl_replay in order to do an EKF2 replay for tuning. The PX4 stack builds correctly and reaches [100%], but the make command fails because the recipe attempts to write two files to the root fs (and obviously fails due to permissions).

The files are replay_params.txt and replay.px4log

I think these files are supposed to be wri

[2016-09-27 22:18] JGSOpenSrc commented on #5556
It appears that the offending code is [here](https://github.com/PX4/Firmware/blob/master/Tools/sitl_run.sh#L106).

Shouldn't these files be written at least in /tmp? Surely not in root fs!

[2016-09-27 23:08] CornerOfSkyline commented on #5553
It happened on hardware, we use matlab communication with the pixhawk through the serial 4 port. This is not happen everytime, happened one time in about 7-12 simulation. All happened after finish the translation from mc to fw. We check the log , about 0.5 second after translation finish.

[2016-09-28 03:10] alpha17 commented on #5525
Thanks for your advice and adjustment on the title, @julianoes! I did read that part in the devguide before. But I thought I should give it a try on Windows first. Will get a Linux OS installed in these couple days and see if there's any problem.

[2016-09-28 03:54] chobitsfan commented on #5547
thank you :)

It happens after I build & upload master to solo
I set airframe to dji f450 to reset parameters, and set back to solo (incorrect orientation)
I use git checkout to v1.4.4, build & upload, reset all parameters (incorrect orientation)
then I git checkout to v1.3.4, build & upload, reset all parameters (everything ok)

I will do it again (tomorrow, after tornado pass)
I will flash it to

[2016-09-28 05:18] darknight-007 commented on #5508
I think I am facing the same issue. With an earlier version (July), I could run
make no_sim posix_sitl_default gazebo

...followed by (in a new terminal), roslaunch gazebo_ros empty.world

and then on gzclient, insert the 3DR Iris (for example), and see the "flight simulator" connect to the PX4 simulator. And then, I could do "commander takeoff" etc, or make use of ROS camera plugins.

On current

[2016-09-28 06:05] mahesha-path opened #5557 "Cant build PX4 filmware on snapdragon"
while running the command " make eagle_default " i faced these errors

anuj.gupta@CPU-291U:~/src/Firmware$ make eagle_default
PX4 CONFIG: /home/anuj.gupta/src/Firmware/build_posix_eagle_default
[ 1%] [ 1%] Built target git_gencpp
Built target git_genmsg
[ 4%] Built target df_driver_framework
[ 4%] Built target prebuild_targets
[ 4%] [ 5%] [ 6%] Built target git_mavlink
Built target git_uavcan
Buil

[2016-09-28 07:19] chobitsfan commented on #5547
I have tested it again
I flash solo with stable (v1.4.1) and master, both show incorrect orientation in QGC
I check out v1.3.4, build & upload, correct orientation

[2016-09-28 09:43] CornerOfSkyline commented on #5553
We can check the memory usage through the top command,but when the system down,the console have no respond but It can print warnx message.

[2016-09-28 12:02] LorenzMeier commented on #5553
Can you share the complete log folder? Try to disarm when it is in that crashed state.

[2016-09-28 13:13] CornerOfSkyline commented on #5553
@LorenzMeier I can share the complete log folder. I will take the test tommorw. But i think i cann't disarm the autopilot in that crashed state. It not responded the qgc and rc ,but i check the pwm output, it's repsonded the safety switch.

[2016-09-28 13:52] julianoes commented on #5557
Hi @mahesha-path
What distribution are you using, and what version? Ubuntu?
Which instructions did you use? The ones in dev.px4.io?

[2016-09-28 13:55] julianoes commented on #5462
@mayanez what's the state here?

[2016-09-28 14:01] julianoes commented on #4759
Addressed in #5554.

[2016-09-28 14:08] julianoes commented on #5406
@bharath374 is this still an issue?

[2016-09-28 14:17] JohnSnowball commented on #5553
@LorenzMeier       In that crash, we were unable to disarm as data link and rc both lost.

[2016-09-28 16:29] devbharat opened #5562 "FOH alt mode does not work for transition waypoints"
The gradient calculation for increment the altitude setpoint [here](https://github.com/PX4/Firmware/blob/92d160c431ab8e2721e95855f865748d9f5cc22f/src/modules/navigator/mission.cpp#L968-L977) after transition waypoint gets screwed because of [this function](https://github.com/PX4/Firmware/blob/92d160c431ab8e2721e95855f865748d9f5cc22f/src/modules/navigator/mission_block.cpp#L421-L432).

![f7e9ef2c-8

[2016-09-28 16:36] LorenzMeier commented on #5562
Did you see that this has already been fixed on master?

[2016-09-28 16:38] dagar commented on #5562
We could lazily initialize the previous altitude for FOH here instead of returning.
https://github.com/PX4/Firmware/blob/92d160c431ab8e2721e95855f865748d9f5cc22f/src/modules/navigator/mission.cpp#L920

[2016-09-28 17:01] devbharat commented on #5562
Sorry about that https://github.com/PX4/Firmware/pull/5299 fixed it.

[2016-09-28 17:01] #5562 closed

[2016-09-29 05:35] mahesha-path commented on #5557
I am using ubuntu 14.04
Yes i followed the dev.px4.io for installing the toolchain for linux and followed all steps  and after that when i tried to build the code i faced this errors

[2016-09-29 05:40] julianoes commented on #5557
@mahesha-path Thanks for the info. I'm assuming that's on a 64bit system?
I'll try to reproduce this in a 14.04 VM.

[2016-09-29 05:42] mahesha-path commented on #5557
Yes its a 64 bit system.......i tried to find the lpthread and lrt in path /home/anuj.gupta/Qualcomm/Hexagon_SDK/3.0/gcc-linaro-4.9-2014.11-x86_64_arm-linux-gnueabihf_linux/lib/gcc/arm-linux-gnueabihf/4.9.3/ but the lib file was missing

Thanks

[2016-09-29 05:44] julianoes opened #5565 "Commander: wait with auto-disarming if not flown"
We should make the timeout for auto-disarming longer if the vehicle has not yet taken off. This will make it more convenient, especially with small auto-disarming timeouts where the vehicle keeps auto-disarming when you're trying to take off.

This was suggested by @xiaoyuLi-China0372 in #5540.

[2016-09-29 05:48] julianoes commented on #5557
What is your `$HEXAGON_ARM_SYSROOT`?

[2016-09-29 05:58] julianoes commented on #5557
Actually it builds without this, so disregard it.

[2016-09-29 05:58] mahesha-path commented on #5557
Yes

[2016-09-29 06:16] mahesha-path commented on #5557
Actually the lib file are not present in the standard path . I tried to debug the 1 error and found libpthread.so was in /home/anuj.gupta/Qualcomm/Hexagon_SDK/3.0/gcc-linaro-4.9-2014.11-x86_64_arm-linux-gnueabihf_linux/libc/usr/lib/libpthread.a
/home/anuj.gupta/Qualcomm/Hexagon_SDK/3.0/gcc-linaro-4.9-2014.11-x86_64_arm-linux-gnueabihf_linux/libc/usr/lib/libpthread.so
so i copied these lib file and

[2016-09-29 08:09] bkueng commented on #5556
fixed in #5566

[2016-09-29 08:53] #5556 closed

[2016-09-29 09:03] mhkabir commented on #5565
Yes, this would be very nice. With the default 2 seconds, it disarms even before the motor ramp up is finished, which is rather disorienting, because you're expecting the motors to come up to power, and it gets killed before that.

[2016-09-29 11:33] CornerOfSkyline commented on #5553
[pix crashed sd file.zip](https://github.com/PX4/Firmware/files/500499/pix.crashed.sd.file.zip)

@LorenzMeier I tried today through the matlab simulator , in the thirteen time pixhawk crashed （the sess06 not corret simulate , the communiton was not right between pixhawk and matlab）.The sess13 is the crashed time log folder. The "pix crashed sd file.zip" is the whole sd file today ， i clean the sd

[2016-09-29 12:14] CornerOfSkyline commented on #5553
@LorenzMeier  @mhkabir @JohnSnowball
I check the log file in sess1 preflight_perf001 and the postflight_perf001, i found that the fw_pos_ctrl_l1's stack almost full, so i try to decrease the fw_pos_ctrl_l1's stack size from 1400 to 1000, the system crashed sometime when vtol try to translate or translate finished. But it's different to the crashed before. In the crash before the console can print

[2016-09-29 12:18] anujkumargupta opened #5568 "Snapdragon FC build problem"
Hi i am using snapdragon FC  on ubuntu 14.04 64 bit and trying to flash the px4 filmware in it but after running the command make eagle default it throws some linking error
Actually it asking for some libraries which is present in sysroot lib folder but in make file it is looking in my root directory and there is no lib file
I copied a lib file from sysroot to my root (/lib/) folder then it find t

[2016-09-29 12:23] LorenzMeier commented on #5553
Can you share what you mean by almost full?

[2016-09-29 12:34] CornerOfSkyline commented on #5553
<img width="1364" alt="sesson1 pre and post flight_perf" src="https://cloud.githubusercontent.com/assets/12220448/18954050/c9eb98c4-8683-11e6-937e-8d9ce4bf6241.png">

In the picture , the left side is the preflight_perf and the right side is the postflight_perf. In the postflight_perf the fw_pos_ctrl_l1 stack is 1356/1392.

[2016-09-29 12:39] sanderux commented on #5553
@CornerOfSkyline your last commit hash is unknown, did you change anything to the fw_pos_ctrl_l1 ?

[2016-09-29 12:41] LorenzMeier commented on #5553
I just did a branch which increases stack sizes. Could you both try this one?
https://github.com/PX4/Firmware/pull/5569

@sanderux Sounds a bit like this is needed to have safe margins and it should go into master. But first I want to know if this fixes the systems.

[2016-09-29 12:42] sanderux commented on #5553
@LorenzMeier i'm on an august branch and have no such problems. did this change recently?

[2016-09-29 12:44] LorenzMeier commented on #5553
No. Stack overflows are not something deterministic. As soon as the stack is too small you can get lucky - or not. So the fact you didn't experience issues doesn't mean its ok for you.

[2016-09-29 12:45] sanderux commented on #5553
hm, looking at a recent postflight it seems indeed a bit tight:
[code]

[2016-09-29 12:49] CornerOfSkyline commented on #5553
I think the reason is the fw_pos_ctrl_l1 stack overflow. I tried to change the fw_pos_ctrl_l1 to 1350, which is below the 1392 a bit and i try again. The pixhawk crashed when the transition finished, and the mavlink and sdlog thread down. The other thread is still alive but there is no hardfault info printed in the console.
@LorenzMeier @sanderux  @JohnSnowball

[2016-09-29 14:30] CornerOfSkyline commented on #5553
@LorenzMeier  We tried the task stack in the #5569 twenty five times, it's ok.
[sess031.zip](https://github.com/PX4/Firmware/files/500906/sess031.zip)

[2016-09-29 17:41] NCharabaruk commented on #2145
I'm having the same issue as tangentaudio. Has this ever been fixed?

[2016-09-29 18:54] julianoes opened #5571 "Bebop 2: take mount angle of AK8963 into account"
According to @EwoudSmeur int #5236.

We should take the rotation into account to get better calibration results.

[2016-09-29 20:51] julianoes commented on #5568
Please no duplicate issues, I'm already looking into it in #5557.

[2016-09-29 20:51] #5568 closed

[2016-09-29 21:34] julianoes commented on #5557
I tried to reproduce your issue and setup a fresh Ubuntu 14.04 64 bit in a VirtualBox.
I followed the steps in the Devguide and `make eagle_default` works as expected.

I can only suggest to try to pull the latest updates in Firmware and cross_toolchain and run the Qualcomm install scripts again:

[code]

[2016-09-30 03:59] anujkumargupta commented on #5557
Actually i did the same but this time build posix eagle default works fine but build qurt eagle default giving error.
the log is

Linking CXX executable px4
[100%] Built target px4
-- qurt-eagle-default
-- CMAKE_INSTALL_PREFIX:
-- cmake module path: /home/anuj.gupta/src/Firmware/cmake
DF Drivers: mpu9250;bmp280;hmc5883;trone;isl29501
-- CMAKE_C_FLAGS:   -D__CUSTOM_FILE_IO__ -O0 -mv5 -G0
-- CMAKE_C

[2016-09-30 05:34] julianoes commented on #5557
I see this:

[code]

[2016-09-30 06:10] julianoes commented on #5393
Thanks @antoinealb for the comment. `protobuf-compiler` and `libopencv-dev` are already in the list of packages that need to be installed, and I've added a comment that `libgazebo7-dev` is needed in https://github.com/PX4/Devguide/pull/44.

[2016-09-30 06:10] #5393 closed

[2016-09-30 06:26] julianoes commented on #5527
For now as a workaround on Mac I found that switching back to the old version works:

[code]

[2016-09-30 06:26] LorenzMeier commented on #5571
@eyeam3 Needs extension here: https://github.com/PX4/Firmware/blob/3b889375947463aede2b6a35c2f43a86f06b9b5d/src/lib/conversion/rotation.h#L83

And then setting `SENS_BOARD_ROT` to the appropriate enum value.

[2016-09-30 06:42] julianoes commented on #5527
I've updated the instructions how to get to the older protobuf version in brew, see https://github.com/PX4/Devguide/pull/45.

[2016-09-30 06:50] anujkumargupta commented on #5557
So how to solve this??

[2016-09-30 06:52] julianoes commented on #5557
I have never seen this problem before I'm afraid. Can you try on another machine or with a different user maybe?

What's the output of `id -u` or `echo $UID`?

[2016-09-30 06:56] anujkumargupta commented on #5557
809502539

[2016-09-30 07:17] LorenzMeier commented on #5553
I've merged the PR and close this now. Thank you for reporting and testing!

[2016-09-30 07:17] #5553 closed

[2016-09-30 09:59] julianoes commented on #5557
Well, usually for local users that number is around 100x. Can you try with a local user? Or can you try on another machine?

[2016-09-30 10:11] anujkumargupta commented on #5557
Thanks
I am trying in some other machine while running the installv3.sh it throws error
Hexagon SDK not installed /home/anuj.gupta/Qualcomm/Hexagon_SDK/3.0/tools/qaic/Ubuntu14/qaic

complete error log

anuj.gupta@GPTest-LaptopU:~/cross_toolchain$ ./installv3.sh
HEXAGON_INSTALL_HOME [/home/anuj.gupta]
Using the following for installation:
HEXAGON_SDK_ROOT=/home/anuj.gupta/Qualcomm/Hexagon_SDK/3.0
H

[2016-09-30 10:40] anujkumargupta commented on #5557
Thanks and dont think about last comment , that was solved , now i am trying to build that make file in different machine

[2016-09-30 11:38] anujkumargupta commented on #5557
Hi i tried the sam thing on different machine but got same error "hexagon-ar:fatal: Numeric user ID too large"

again i tried to run makefile for6-7 times and got this error
Built target lib__runway_takeoff
[ 83%] Built target lib__tailsitter_recovery
[ 83%] Built target lib__DriverFramework__framework
[ 86%] Built target platforms__qurt__px4_layer
[ 91%] Built target platforms__posix__work_queue

[2016-09-30 11:53] julianoes commented on #5557
What is the user ID on the different machin? Of course, it would have to be one where the user ID is just the usual 100x.

[2016-09-30 14:10] Shpiler opened #5573 "SENS_EN_SF1XX missing"
Hi
I've tried all 1.4.x firmwares and i can't find SENS_EN_SF1XX parameter as said [here](http://dev.px4.io/sf1xx_lidar_setup.html). It doesn't appear even after full parameters reset.
![noparam](https://cloud.githubusercontent.com/assets/5054881/18994418/ceaca21c-8738-11e6-9467-3addd1766b2b.png)

Am i doing something wrong or it's just a problem with firmware itself? How can i enable my SF11/c LI

[2016-09-30 14:21] kd0aij commented on #5573
Are you building for fmu-v4? It looks like that's the only config which
includes the sf1xx driver.

On Fri, Sep 30, 2016 at 8:10 AM Shpiler <notifications@github.com> wrote:

[2016-09-30 14:24] Shpiler commented on #5573
I'm using pixhawk, so i have to use fmu-v2... or not?

[2016-09-30 14:43] jgoppert opened #5575 "Move Sensor Noise Parameters out of Estimators"
LPE/EKF2 currently has a ton of redundant parameters describing the sensor noise properties. I think it makes sense to move all noise properties within the uorb message and make the noise properties of sensors a global parameter in the SENS param namespace. This would mainly free up more memory for the more memory constrained boards.

[2016-09-30 14:54] kd0aij commented on #5575
What is the bandwidth of the covariance estimate, and is there any consumer of that data besides the estimator which is currently active?

[2016-09-30 15:00] kd0aij commented on #5573
The sf1xx driver isn't listed here:
https://github.com/PX4/Firmware/blob/master/cmake/configs/nuttx_px4fmu-v2_default.cmake

which probably explains why you can't find the parameter. You could try adding it here, but I don't know whether that will be sufficient, or whether it will fit in Pixhawk's flash.

[2016-09-30 15:03] NCharabaruk opened #5576 "Pixhawk won't boot when connected to PX4Flow"
Hello,

I have recently received a PX4Flow. It has been updated with the latest firmware. When it is connected to the Pixhawk, the Pixhawk won't boot. The LED blinks red and QGC says that the vehicle is not responding. The Pixhawk boots fine without the PX4Flow.

I've made an extras.txt file in /fs/microsd/etc containing:
[code]

This was recommended in another thread, but this changed nothing. An

[2016-09-30 15:05] Shpiler commented on #5573
Thx, sound like I have to try unless we have another dev's word here.

[2016-09-30 15:05] kd0aij commented on #5576
You may be having power issues if USB is the only source. Try booting on
battery power before connecting USB.

On Fri, Sep 30, 2016 at 9:03 AM Nick Charabaruk <notifications@github.com>
wrote:

[2016-09-30 15:16] jgoppert commented on #5575
I'm targeting all of these parameters:

https://github.com/PX4/Firmware/blob/master/src/modules/local_position_estimator/params.c

Single float values that describe the measurement noise (e.g. LPE_GPS_XY), not the entire covariance matrix.

LPE_GPS_XY describes the standard deviation of the GPS measurement that is assumed if eph isn't working. There is no reason that this is LPE specific and ekf2

[2016-09-30 15:16] NCharabaruk commented on #5576
Thanks, I had not thought of that. Unfortunately, it did not fix the problem. It still blinks red and can't connect.

[2016-09-30 15:25] kd0aij commented on #5576
I'd connect a console terminal and look for messages there. You can find instructions on dev.px4.io.

[2016-09-30 15:31] kd0aij commented on #5575
That *is* a lot of parameters. Are you proposing adding stdev to every sensor message, or should it be static for things like gyros and accelerometers?

[2016-09-30 15:34] jgoppert commented on #5575
I think the easiest approach is just to move all of these parameters to the SENS namespace and then share between estimators, adding the parameters to uorb messages where it doesn't exist yet would probably be more work and might cause some more work for the cpu.

[2016-09-30 15:36] jgoppert commented on #5575
The downside would be that all of the estimators would have to agree on the correct noise levels, which should only be sensor dependent, but we probably have some per estimator quirks currently.

[2016-09-30 15:42] jgoppert opened #5577 "SITL CI failure for vtol"
(vtol_old_1.txt) took too long to get to position lat: 47.398046, lon: 8.545837, alt: 12.105000, xy off: 5.000000, z off: 5.000000, timeout: 600, index: 0, pos_d: 0.148960, alt_d: 476.043000

I'm getting this on my PR after syncing with master (https://github.com/PX4/Firmware/pull/5505)  with zero changes to ekf2 estimator or VTOL, probably a recent issue with master.

http://sitl01.dronetest.io/j

[2016-09-30 15:51] jgoppert commented on #5576
Do you see the lights on the px4flow start up the same as when they are powered via usb? If not, you might have the polarity on the i2c reversed.

[2016-09-30 15:53] jgoppert commented on #5576
Also, what else is on your i2c bus? If you have a lot, you may be getting a brown out as @kd0aij suggested.

[2016-09-30 16:13] jgoppert commented on #5577
Yeah, same thing here on master:

http://sitl01.dronetest.io/job/PX4%20Firmware%20POSIX%20SITL/819/console

[2016-09-30 17:01] NCharabaruk commented on #5576
The lights start the same powered by USB or battery. The green on light turns on and steady while the red com light flashes rapidly. After a few seconds the red still flashes but slower, and the blue act button pulses.

I have a compass, MB1222 sonar sensor, and the PX4Flow hooked up to the I2C bus.

[2016-09-30 17:54] jgoppert commented on #5576
Yeah, if you try to power all of that on usb power it will brown out. Try battery power.

[2016-09-30 17:55] NCharabaruk commented on #5576
I did try on battery power. Same result

[2016-09-30 17:56] jgoppert commented on #5576
try unplugging some of the other i2c devices

[2016-09-30 17:59] NCharabaruk commented on #5576
I've tried it without the sonar. Trying without the compass results in no change

[2016-10-01 07:41] bkueng commented on #5308
done in https://github.com/mavlink/qgroundcontrol/pull/4086

[2016-10-01 07:41] #5308 closed

[2016-10-01 13:00] jgoppert commented on #5577
Seems resolved now on master.

[2016-10-01 13:00] #5577 closed

[2016-10-01 13:26] ohlarikd commented on #5394
We are not quite ready to test, but this is something that we are very interested in having.  The Qualcomm ESC is obviously very restrictive to only small UAVs.  However, we will start looking at what you have!

HW-wise, are you sending the GPIO directly from Flight to the 'standard' 3-pin ESC's that out there?  So I just need to make a little adapter board?

[2016-10-01 14:59] mhkabir commented on #5576
Remove the extras.txt file. The sensor is auto-started by default from the standard startup script.
Do you have a serial-USB adapter (e.g FTDI) which you can use to check the system boot console?

[2016-10-01 17:32] mohit004 opened #5581 "Adding Custom Configuration in sitl_gazebo"
Dear Developers,

I am trying to add a new configuration (tilt-rotor tricopter) in the software-in-the-loop package of PX4 Firmware. In the PX4 developer's guide it is mentioned that in order to customize the gazebo simulation interface, one just has to modify the codes in 'Tool/sitl_gazebo' folder. However, while reading all the plugin codes in folder 'Tool/sitl_gazebo/src', I got confused as in

[2016-10-01 21:22] tubeme commented on #5551
That is what we are experiencing all the time. Especially nasty it becomes when you flip the switch during turning the plane. Then the YAW is totally lost... It looks like it will crash, we had some crashes this way.

The other way to brake the transition is when you are under power and make the back transition. Like 20-30% power on manual. That always goes in erratic behavior. It is like the quad

[2016-10-02 03:53] alpha17 commented on #5525
Built the project without error using Ubuntu. Thanks again,  @julianoes!

[2016-10-02 09:54] kiti1013 opened #5583 "How to use the mavros and gazebo to simulation the muitcopters"
I am a green hand in ROS, when I try to use mavros and gazebo to launch a simulaton according to dev guide， but some file isn't exist。such as setup_gazebo_ros.bash.... so who can help me how to do it in the ture way.

[2016-10-02 17:27] jcooper21 commented on #4099
@dagar Am I correct in seeing the wind mavlink messages were just implemented in master for EKF2?  That will allow us to test out this feature?

[2016-10-02 17:36] julianoes commented on #5525
Cool, thanks for the feedback!

[2016-10-02 17:36] #5525 closed

[2016-10-02 19:06] jcooper21 opened #5586 "Critical Issue mission arming"
I just loaded todays master and tried to do a mission as it turns out I cannot fly a mission with a plane.  When I select mission mode it says I have to arm in a manual mode then switch to mission mode.  When I do that the motor spins up on the ground and I cannot launch the plane by hand.  What happened to shake on for missions?

[2016-10-02 19:28] LorenzMeier commented on #5586
It sounds like your radio control is not properly calibrated. Regarding the mission handling you're describing: It really needs someone who picks it up.

[2016-10-02 19:52] jcooper21 commented on #5586
@LorenzMeier The radio has been re calibrated many times so that should work, especially since it arms in stab and doesn't spin up the motor with zero throttle.  I have tested master and stable but neither of them seem to work, I have been flying 1.3 regularly without issues.  I have multiple parameter files that I have tried as well which all previously worked and so far nothing works.

[2016-10-02 20:57] jcooper21 opened #5587 "UAVCAN Compass Yaw"
With PX4 and a Zubax GPS it is impossible to have the flight control yawed and the compass facing straight. If the flight controller is yawed the compass has to be yawed in the same direction for a proper calibration and flight.

[2016-10-02 21:09] LorenzMeier commented on #5587
@mhkabir @pavel-kirienko Can you comment on that?

[2016-10-02 22:03] pavel-kirienko commented on #5587
Yes, the description is correct.

If we want to fix this, we'll need to add necessary transformation of the magnetic field vector in the UAVCAN --> uORB compass bridge.

[2016-10-02 23:02] dagar commented on #4099
If wind is now available (again) we can start thinking about how this would be implemented.

[2016-10-03 12:24] CarlOlsson commented on #5038
@LorenzMeier @priseborough Here is the old issue about replay not building

[2016-10-03 12:33] priseborough commented on #5038
I worked through this with @tumbili tonight and it resolved when I updated my Xcode version on the Mac.

[2016-10-03 12:55] Shpiler commented on #5573
I added this driver to cmake file. The parameter has appeared, but lidar readings are still unavailable. The lidar itself works well via usb.

[2016-10-03 13:25] kd0aij commented on #5573
That's progress. Is the driver being started? There should be something in the boot log and perhaps "ps" will show it.

[2016-10-03 13:53] NCharabaruk commented on #5576
I've taken the extras.txt file out again. I have ordered the adaptor but haven't received it yet.

[2016-10-03 14:21] mhkabir commented on #5576
Ok. Do you know what the bootloader version on the flow board is?

[2016-10-03 14:29] NCharabaruk commented on #5576
I don't know how to check the bootloader version. I just got the board last week and I update the firmware using QGC if that info helps.

[2016-10-04 01:11] meteor0530 opened #5593 "LOCAL_POSITION_NED Cant Init After Arming"
Hi,

I recently updated the PX4 firmware through QGC 3.0.0. I used GPS for position estimate, then I used mavlink inspector to monitor the local_position_ned, and I found after I armed the FCU the position didnt initialize(x,y,z cant become 0). I used OFFBOARD to control the multicopter, then it turned over.how can I fix it?

Any help is appreciated.

[2016-10-04 09:05] mainini opened #5594 "Missing __EXPORT in px4fmu_can.c ?"
Hi all

I noticed that src/drivers/boards/px4fmu-v2/px4fmu_can.c in the current stable tree is missing an __EXPORT for int can_devinit(void). This is the case also for the px4fmu-v1 and px4fmu-v4 boards.

Is this on purpose? It leads to trouble compiling CAN-examples...

Thanks for a comment on this issue.

[2016-10-04 09:50] AndreasAntener commented on #4616
@priseborough seems like we're moving things again on this topic :) You were talking about the "position error" being the major driver behind the scale factor. But assuming we don't have a position error OR it is known for a certain airframe. What is still left that influences the scaling? I'm currently gathering data to get an idea about the temperature dependency.

[2016-10-04 10:47] AndreasAntener opened #5595 "Airspeed temperature dependency analysis"
@LorenzMeier first shot at logging temperature data. Looks like I need to allow the negative values for the test. But I was wondering why one sensor gives a higher reading while the other one goes down? Both sensors were calibrated inside and covered. Also they show a different temperature. Are we sure that the voltage correction that happens in the driver is correct (both setups have a slightly d

[2016-10-04 11:09] priseborough commented on #4616
Offset drift with temperature is a bigger problem than scale factor for the low speeds that most small UAV's fly. It's easy to check on the ground.

[2016-10-04 11:19] AndreasAntener commented on #4616
Why checking? We need to understand the dependency so we can compensate. The temperature from boot to in air might change 30 degrees.

[2016-10-04 11:59] sanderux commented on #5595
Here's what happens when the sensor is mounted behind the air intake on a vtol:
![selection_008](https://cloud.githubusercontent.com/assets/14801663/19073020/ec84f3ae-8a38-11e6-840d-a64825772336.png)
http://logs.uaventure.com/view/jg2rHZDRmAboYLiqyFVuge

Here's what happens after a few flights:
![selection_009](https://cloud.githubusercontent.com/assets/14801663/19073180/e090fd1c-8a39-11e6-8a2d-a1

[2016-10-04 12:13] anujkumargupta commented on #5557
Thanks @julianoes , that problem is silved using a virtual machine .
I buld the makefile and upload it in the Snapdragon FC but after that when i am trying it connect with QGC , QGC is not detecting it.
Do you have any idea....
Thanks

[2016-10-04 12:34] bartslinger opened #5596 "Home point not set due to recent commit"
On stable, the drone sets the home point as soon as it gets a good gps position. This works in HITL (with xplane) and in the real world. On master, the home point does not get set. After disabling the changes made by https://github.com/PX4/Firmware/commit/50b8ed0a89d2a6022cc518df65fa6bc57375f393 , it does set the home point as before.

[2016-10-04 12:46] julianoes commented on #5557
Thanks for the feedback. I'm closing this issue, please file a new one for the QGC connection issue.
Alse, there please provide the stdout and mini-dm output and some info about how the network is setup.

[2016-10-04 12:46] #5557 closed

[2016-10-04 13:38] AndreasAntener commented on #4616
Assuming this is possible somehow.. How big can the offset drift with temperature be for the MS4525DO?

Looking at possible outcomes with a 30pa error:

actual airspeed | measured | error
----- | ----- | -----
0 | 7 | 7
7 | 9.9 | 2.9
9.9 | 12.1 | 2.2
15.1 | 16.6 | 1.5

with a negative error, -30pa:

actual airspeed | measured | error
----- | ----- | -----
0 | -7 | 7
7 | 0 | 7
9.9 | 7 | 2.9
15.1 |

[2016-10-04 14:01] pietrop88 opened #5597 "Send custom MAVLink message"
Hi,

I want to send a custom uOrb message through mavlink.
I follow the guide: http://dev.px4.io/custom-mavlink-message.html.
The class that I added to `mavlink_messages.cpp` is this one:
[code]
I appended the stream class
[code]
Differences respect to the guide:

1. Since the constructor of class `StreamListItem` requires the id i added the method  `get_name_static` to `MavlinkStreamCaTrajectory`

[2016-10-04 15:56] kd0aij commented on #5453
@LorenzMeier What is the size and type of airframe in the log you posted as an example?
Also what kind of vibration isolation and which flight controller was used?

[2016-10-04 17:36] DonLakeFlyer opened #5600 "SITL build on OSX with latest XCode (SDK 10.12) fails"
[code]

[2016-10-04 17:48] bartslinger commented on #5596
I'll try although I am a bit scared of the commander.cpp monster

[2016-10-04 18:19] eric1221bday commented on #5600
Hmm , i've just ran that exact command on my computer, which is also running Mac 10.12 SDK, and in fact has that exact line which generated your error in my SDK, but my build succeeded

[2016-10-04 18:32] DonLakeFlyer commented on #5600
I tried all variants al make clean I could come up with since I thought maybe there was something old hanging around.

[2016-10-04 18:42] davids5 commented on #5594
PX4 uses UAVCAN that provides it's own stm32 CAN driver, therefore the startup code does not init Nuttx's CAN driver.

[2016-10-04 19:15] ecmnet commented on #5573
I had to remove some other drivers to get it into flash on px4fmu-v2. Enabling the sensor via parameter should then work out of the box. Btw. I connected my SF10a via I2C.

[2016-10-04 19:40] glennib opened #5601 "Argument order of px4_task_spawn_cmd declaration in ./src/platforms/px4_tasks.h is incorrect"

[2016-10-04 21:08] genemerewether opened #5603 "buffer overrun in run_cmd in px4_layer main.cpp and in qshell"
Module start commands like "pwm_out_rc_in start -d /dev/tty-1" cause overruns of the arg array at the following lines:

https://github.com/PX4/Firmware/blob/master/src/platforms/qurt/px4_layer/main.cpp#L84
https://github.com/PX4/Firmware/blob/master/src/platforms/qurt/px4_layer/main.cpp#L89

https://github.com/PX4/Firmware/blob/master/src/drivers/qshell/qurt/qshell.cpp#L163
https://github.com/PX4/

[2016-10-05 06:34] #5601 closed

[2016-10-05 06:59] julianoes commented on #5596
Hehe, but you've already narrowed it down a lot by finding the change that causes it :smile:.

[2016-10-05 07:01] meteor0530 opened #5604 "INAV estimated position cant reset after arming"
Hi,

My system is OSX, I recently updated the PX4 firmware through QGC 3.0.0. I used INAV estimator and GPS for position estimate, then I used mavlink inspector to monitor the local_position_ned, and found after I armed the FCU the position didn't reset (x,y,z cant become 0). how can I fix it?

Any help is appreciated.

[2016-10-05 07:20] julianoes commented on #5604
Hi, I don't think the local position resets on arming. It only "resets" when the estimator initializes.

What does reset on arming however, is the home position.

[2016-10-05 07:22] bkueng commented on #5597
Try to enable the stream, like in https://github.com/PX4/Firmware/blob/master/posix-configs/SITL/init/lpe/iris#L67

[2016-10-05 07:23] julianoes opened #5605 "Snapdragon: remove termios workarounds"
The Qurt OS on Snapdragon has now support for the termios calls which means we can remove some of the Qurt specific code.

See https://github.com/ATLFlight/dspal/pull/10.

[2016-10-05 07:46] meteor0530 commented on #5604
Thanks, maybe my description was unclear. when I used the pervious version of the firmware, the x,y,z coodinates in LOCAL_POSITON_NED reset to 0 after I armed. After I updated the firmware, it didin't work.
And I  don't understand the meaning of the home position, which kind of position does the LOCAL_POSITION_NED belong to?

[2016-10-05 07:48] julianoes commented on #5600
@DonLakeFlyer I'll try to replicate this tomorrow.

[2016-10-05 07:49] julianoes commented on #5604
Ok, I might be wrong. @tumbili can you help?

[2016-10-05 07:56] #5571 closed

[2016-10-05 08:14] sanderux opened #5608 "Move channels to MAIN for Delta VTOL"
I would propose to move the fixed wing channels to the MAIN output group for DeltaQuads.
This free's the AUX channels for passthrough and adds support for deltaquads on FC's without an AUX rail.

@LorenzMeier @AndreasAntener @tumbili @SimonWilks
Any objections?

[2016-10-05 08:25] mswingtra opened #5609 "Descend mode when landed"
If there is no RC and gps connection (so possible workshop conditions), and aircraft is armed, then it will immediately go to auto descend mode. This essentially triggers landing on the current position. However, because aircraft is already on the ground, the ground detection in MPC fails since [it requires aircraft to move downwards firstly](https://github.com/PX4/Firmware/blob/master/src/modules

[2016-10-05 10:34] tumbili commented on #5604
@meteor0530 @julianoes INAV sets it's reference origin [here](https://github.com/PX4/Firmware/blob/master/src/modules/position_estimator_inav/position_estimator_inav_main.cpp#L869) and I don't see any dependency on arming there. Basically the origin is set as soon as the gps quality is sufficient.
When it does that you should get this message in QGC

[inav] init ref: ...

Are you sure that you are

[2016-10-05 10:45] mhkabir commented on #5604
It is not supposed to. The local frame reference should never be reset.

[2016-10-05 11:32] meteor0530 commented on #5604
@tumbili  @julianoes
I am sure im using INAV for estimate position.
I use an older version of QGC (2.2.0) to download firmware. After arming in LOCAL_POSITION_NED x,y,z reset to 0.
![111](https://cloud.githubusercontent.com/assets/22593986/19111465/4aa7bd32-8b32-11e6-913c-358e92d00b04.JPG)
![222](https://cloud.githubusercontent.com/assets/22593986/19111469/4e1f30e4-8b32-11e6-9dc5-10ef0822205d.JPG)

[2016-10-05 11:33] AndreasAntener commented on #5604
@meteor0530 this was the case in a (very) old firmware state but was found to be wrong and then fixed. If you are working with local position setpoints (offboard or on board) you don't want to handle a sudden reference reset on arming.

[2016-10-05 11:54] #5604 closed

[2016-10-05 12:04] meteor0530 commented on #5604
@AndreasAntener
I am used to switch to OFFBOARD after arming, so I think reference reset before OFFBOARD is convenient.
If I move my UAV to another position, how can I define this posiiton as the new origin?

[2016-10-05 13:06] pietrop88 commented on #5597
Thanks for your reply.
Now the function `send` in the `MavlinkStreamCaTrajectory` class is used and I suppose that the mavlink package is sent but I am not able to see it.
I'm using mavros to stream mavlink messages to the pc and if I check the topic `mavros/from` (http://wiki.ros.org/mavros#Subscribed_Topics), I cannot see my custom mavlink message.
I also checked the Mavlink inspector inside qgr

[2016-10-05 14:29] NCharabaruk commented on #5576
So I figured it out. For some reason, after plugging in the PX4Flow the Pixhawk could no longer detect the sonar sensor that was already attached to it. On booting, the bootloader never got past looking for the sonar sensor. Disabling it in the settings got the bootloader past this.

[2016-10-05 14:29] #5576 closed

[2016-10-05 15:06] AndreasAntener commented on #5604
It's easy to just keep your own reference from the point in time where you need it.

[2016-10-05 15:12] dagar commented on #5608
Putting the fixed wing channels on MAIN sounds good to me, but which flight controllers have 7 MAIN outputs, but no AUX?

[2016-10-05 15:19] sanderux commented on #5608
flytpod, luci, erlebrain
not sure about pixhawk2

[2016-10-05 15:25] kd0aij commented on #5608
does MAIN imply channels implemented in the IO coprocessor?

[2016-10-05 15:31] dagar commented on #5608
Yes, at least for the pixhawk. Having the px4io available for FW manual
passthrough and flight terminate is my interest.

On Wed, Oct 5, 2016 at 11:25 AM, Mark Whitehorn <notifications@github.com>
wrote:

[2016-10-05 15:33] kd0aij commented on #5608
I don't think luci has an IO coprocessor, if my memory of the last devcall is correct

[2016-10-05 15:39] AndreasAntener commented on #5608
FMUv4 also uses the mixers on MAIN outputs right? So MAIN doesn't imply IO. And other manufacturers use the terminology AUX (as in auxiliary) for "additional" outputs, like we discussed with Greg from Luci

[2016-10-05 15:41] AndreasAntener commented on #5608
Moving all the outputs to MAIN by default would at least allow it to run on all boards with enough outputs, and gives Mark the override ;)

[2016-10-05 15:47] kd0aij commented on #5608
Makes sense. We should be careful not to falsely imply the presence of a failsafe coprocessor (and the availability of MANUAL mode) if no coprocessor is present.

[2016-10-05 17:35] bkueng commented on #5597
You need to make sure QGC or mavros support your custom message as well. [pymavlink](http://qgroundcontrol.org/mavlink/pymavlink) might be a simple way to test your message.

[2016-10-05 20:35] AndreasAntener commented on #5595
@LorenzMeier @priseborough I'd appreciate feedback on this. It is possible that my measuring method makes no sense for what we want to find out (temperature dependency and possible method to compensate, or at least enforce a recalibration if needed) and that we should actually somehow generate constant airspeed for the test than just recording the offset.

Here's what I got: the following charts s

[2016-10-05 20:58] LorenzMeier commented on #5595
Awesome data! Its possible that both sensors respond differently to temperature. @tumbili Could you maybe fit a polynomial and try compensating in the driver? I would not be surprised if you get a correct fit for both if you calibrate both that way.

[2016-10-06 08:12] LorenzMeier commented on #5594
We should still fix it for the NuttX CAN examples I guess?

[2016-10-06 08:36] pietrop88 commented on #5597
I extended mavros and now it works.
Thank you.

[2016-10-06 09:06] #5603 closed

[2016-10-06 11:32] gregd72002 opened #5611 "option for slower TELEM"
Certain data links require slower mavlink telemetry than 57600. Can we introduce other options (i.e. 28800 or even 19200)?

The SYS_COMPANION config only allows 57600 and higher. Any reason for this?

[2016-10-06 11:51] mainini commented on #5594
That would be great, I think there are also usecases which use the plain CAN driver (I do).
I found it confusing that it gave me a compile error and I could not tell if this was some design decision or if I was doing something wrong...

Thanks!

[2016-10-06 12:09] anujkumargupta opened #5612 "Cant run the 1st code on Snapdragon"
Hi
I am working with Snapdragon FC and trying to run my 1st code as mentioned in dev.px4.io.
I have build the code using make eagle_default and uploaded it in FC but when i am running the code found this error

root@linaro-developer:/home/linaro# ./px4 mainapp.config
sh: 1: cannot create /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor: Directory nonexistent
commands file: mainapp.config
crea

[2016-10-06 14:25] davids5 commented on #5594
Ok I will ensure it is linkable when the NuttX example is enabled.

[2016-10-06 15:40] ecmnet commented on #5453
Still I have some serious issues with latest master (LPE) and Altitude hold, although my vibration levels seem to be ok.

http://logs.uaventure.com/view/pWV5Kyw4Hnkxq4ETSC62zi

![althold](https://cloud.githubusercontent.com/assets/7580193/19159142/a3c369f2-8beb-11e6-9315-6a585ad786dd.png)

In LPE I increased the StdDev of ACC_Z, which helped a bit when setting it e.g. to the maximum. With 1.4.1RC1

[2016-10-06 16:00] julianoes commented on #5612
Have you updated to the BSP 3.1.1 and the latest adsp image?

[2016-10-06 16:09] davids5 commented on #5594
@LorenzMeier - Done in https://github.com/PX4/Firmware/pull/5613

[2016-10-06 16:09] #5594 closed

[2016-10-06 16:49] Stifael commented on #5612
same error, but also have timer difference too big

[2016-10-07 02:19] jgoppert commented on #5453
I will try flying lpe on master tomorrow and post the logs.

[2016-10-07 04:09] anujkumargupta commented on #5612
Thanks @julianoes ,
Yes updated the linux image to BSP 3.1.1 and pushed the latest ADSP firmware , both downloaded from intrinsyc about 15 days ago.

[2016-10-07 05:20] julianoes commented on #5612
@Stifael: does the error persist with thr latest BSP and adsp image?

[2016-10-07 07:45] CarlOlsson commented on #5038
Just tried it on Ubuntu and now it works (Y)

[2016-10-07 07:45] #5038 closed

[2016-10-07 08:50] tumbili commented on #5143
@CarlOlsson Please post the log :-)

[2016-10-07 08:57] CarlOlsson commented on #5143
Hehe ops, here it is:
http://logs.uaventure.com/view/K3fbyTrttBLojq3KjQ2Pk7

[2016-10-07 13:13] julianoes commented on #5612
@anujkumargupta and @Stifael: I can't reproduce the error, it works for me.

Can you list down all the commands you entered, maybe I can spot what you're doing different.

[2016-10-07 14:55] bartslinger commented on #5596
Turned out to be something else, originating from QGC. It sometimes sent out NaN on acceleration measurements.

[2016-10-07 14:55] #5596 closed

[2016-10-08 07:17] kiti1013 opened #5621 "Interfacing the Simulation to ROS gazebo error"
I follow the developer guide to run the simulation，when I run the command

`roslaunch gazebo_ros empty_world.launch world_name:=$(pwd)/Tools/sitl_gazebo/worlds/iris.world
`
 the terminal prompt
[gazebo-1] process has died [pid 4680, exit code 134, cmd /opt/ros/indigo/lib/gazebo_ros/gzserver -e ode /home/astera/Tools/sitl_gazebo/worlds/iris.world __name:=gazebo __log:=/home/astera/.ros/log/6e8dd0d8

[2016-10-09 05:33] mhkabir commented on #5453
@LorenzMeier @bkueng Are we any closer to fixing the excess vibrations issue?
With the same vehicle and dampening setup, the excess accelerations post-1.3 causes my VIO setup to go berserk, which used to work fine pre-1.3.
The sensor data is overall very noisy and causes the bias estimation to diverge in my estimator. Would be great if we could look into this.

[2016-10-09 05:40] mhkabir commented on #5453
For example, this is pre-1.3 :
![image](https://cloud.githubusercontent.com/assets/5557676/19218166/2f38b43a-8e10-11e6-817b-d966e48ffc18.png)
This is on recent-ish master :
![image](https://cloud.githubusercontent.com/assets/5557676/19218182/f3324586-8e10-11e6-813a-dec901a639c8.png)

[2016-10-09 09:35] LorenzMeier commented on #5453
@mhkabir The excess vibration is on your frame - its real, it just has been hidden from you earlier. You would need to pre-filter it for VIO. Its possible that we need to add a filtered topic for these applications.

But the real fix is to get the IMU mounting to a setup where it sees less than a G vibration if possible.

[2016-10-09 13:13] mhkabir commented on #5453
Interesting, thanks for the insight. I will look into better mounting. Possibly an isolated,  battery load dampened platform.

What would be necessary to get a filtered topic working though, for short-term?

[2016-10-09 14:58] gregd72002 commented on #4876
Hi, I experience the same problem when using Joystick only:
- arm
- set  manual mode
- switch off/close qgc
and the motors will keep spinning.

What I was expecting is data link loss to occur and the copter to land at current position after 10sec. This never happened.

I would be expecting that MANUAL_CONTROL loss is the same as RC loss.

[2016-10-09 20:07] tumbili commented on #5143
@CarlOlsson Hi Carl, when I try to replay your log on master then I get this

[code]
Either something is wrong in the replay or the airspeed fusion does something strange. We can have a closer look at this together.

[2016-10-10 03:11] kd0aij opened #5623 "Roll/Pitch/Yaw setpoints not logged in STABILIZE mode"
http://logs.uaventure.com/view/XyiLq9cLLKzhboT9rpZsmd
Firmware v1.4.4

[2016-10-10 03:16] kd0aij opened #5624 "No response to aileron RC input in ALTCTL mode without GPS"
http://logs.uaventure.com/view/AqovJ2XamZWcXUvv7d32UG#AS_Roll_PLOT
Firmware v1.4.4

[2016-10-10 04:13] anujkumargupta commented on #5612
HI @julianoes Today i just tried a different thing instead of pushing the q6-admin.sh i edited it in adb shell and now it works fine but still the Ground control station does detect it.
I tried to run mini-dm but didnot able to under stand

here is mini-dm output

anuj@anuj-vm:~/Qualcomm/Hexagon_SDK/3.0/tools/debug/mini-dm/Linux_Debug$ ./mini-dm
Running mini-dm version: 3.0
Device found with Produ

[2016-10-10 07:11] ecmnet commented on #5453
I can confirm, that improving vibration isolation solves that issue.  I am able to achieve now alt-hold accuracy at +/-2cm (LPE with LIDAR) without any further tuning.

[2016-10-10 07:12] ecmnet commented on #5453
@mhkabir Using the battery to increase inertia seems to be a good idea. Would you mind to share the setup?

[2016-10-10 08:14] julianoes commented on #5612
Do you always get this `FIFO overflow` output, even after a reboot and a power-cycle (disconnect all power)?
Please post the output of the shell and mini-dm. Also, is the networking setup correctly? Can you ping the device?

[2016-10-10 09:20] CarlOlsson commented on #5143
@tumbili Hi Roman, If I replay the file with current master of both firmware and ecl I get:
[code]
If I do the same but with EKF2_ARSP_THR = 6.0 I get:
[code]

Since we have been flying with the airspeed fusion hundreds of times without problems I would say it is a replay issue, however will probably have time to check on the exact same system and the same code later today. If everything is fine w

[2016-10-10 09:26] tubeme opened #5625 "1.5.0 RC1 is reported as 1.4.4 rc1"
In the logs and in QGroundControl.

Flashed 1.5.0 RC1 many times to various HW. The same story.

[2016-10-10 09:48] anujkumargupta commented on #5612
Hi
This adb shell output

root@linaro-developer:/home/linaro# ./px4 mainapp.config
sh: 1: cannot create /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor: Directory nonexistent
commands file: mainapp.config

______  __   __    ___
| ___ \ \ \ / /   /   |
| |_/ /  \ V /   / /| |
|  __/   /   \  / /_| |
| |     / /^\ \ \___  |
\_|     \/   \/     |_/

px4 starting.

INFO  [sdlog2] [blackbox] /ro

[2016-10-10 09:51] tubeme opened #5626 "VTOL: 1.5.0 RC1 Back Transition problems."
As discussed before, our opinion is that for the VTOL back transition phases we should apply the rules for the classic airplane approach and landing.

So now in 1.5 we have the flare or the quad - air-braking - maneuver after we switch back transition and it is very, very good thing in order to brake properly the speed. But in our case it almost brakes the plane. It gives such a sharp almost 40deg

[2016-10-10 10:16] tubeme commented on #5608
We've done this at 1.1 and no problems so far, very convenient to check and follow problems. We've done it because there was no way we could see the AUX buses in the log file. PX4 just did not log the AUX at that time. Runs almost on anything except PixRacer this way.

[2016-10-10 10:57] tubeme opened #5627 "Barometric Altimeter Calibration."
Part of our flights are at see level. We have a lot of logs like this.

![baro altitude](https://cloud.githubusercontent.com/assets/12617619/19233889/0f16a3ba-8ef1-11e6-9c5b-e962209bca35.png)

If PX4 is on the ground and has a GPS lock, the GPS altitude reading should be pretty stable and correct, given the machine is not moving. This could be used to some how calibrate the barometric sensor, prio

[2016-10-10 10:57] FAC94 opened #5628 "Read UART inside a hrt_call"
Hello,
I'm trying to make an IMU drive to a sensor that communicates through UART with the autopilot and works as follow:
1) When a read is wanted, it is set a pin to request a measure of the sensor.
2) Then it answers through UART a fixed size message.

My problem is that I'm not able to make a read of the UART inside an hrt_call function. How can I overcome this?

Thanks

[2016-10-10 11:14] sanderux commented on #5608
@tubeme could you share your change?

[2016-10-10 11:27] tubeme commented on #5608
# VTOL quad X mixer for PX4FMU
#=============================

R: 4x 10000 10000 10000 0

Elevon mixers
-------------
Three scalers total (output, roll, pitch).

On the assumption that the two elevon servos are physically reversed, the pitch
input is inverted between the two servos.

M: 2
O:      10000  10000      0 -10000  10000
S: 1 0   7500   7500      0 -10000  10000
S: 1 1   6500   6500

[2016-10-10 11:35] AndreasAntener commented on #5627
Try SENS_BARO_QNH (https://en.wikipedia.org/wiki/QNH)
And you should be looking at GPOS.Alt, not the raw baro alt (which is btw more stable than your GPS altitude that is clearly drifting on the ground).

[2016-10-10 11:35] #5627 closed

[2016-10-10 11:39] tumbili commented on #5143
@CarlOlsson Sorry, I must have been using a wrong version of master, I noticed that the condition to fuse airspeed was always set to false. I need to try again.

[2016-10-10 11:40] julianoes commented on #4876
@gregd72002 thanks for the confirmation.

[2016-10-10 11:42] julianoes commented on #5612
Do you have an antenna connected to the Snapdragon? This would increase the signal strength. However, for testing I use it without antenna and it is usually good enough for a few meters.

[2016-10-10 11:43] julianoes commented on #5612
@anujkumargupta it looks like the first error is gone though:
[code]

Do you know what you changed to resolve it?

[2016-10-10 12:06] anujkumargupta commented on #5612
Hi earlier in pinging it shows error because i also connected my lan cable but after removing the lan i can ping the device.

root@linaro-developer:/# ping 192.168.1.12
PING 192.168.1.12 (192.168.1.12) 56(84) bytes of data.
64 bytes from 192.168.1.12: icmp_seq=1 ttl=64 time=4.90 ms
64 bytes from 192.168.1.12: icmp_seq=2 ttl=64 time=11.3 ms
64 bytes from 192.168.1.12: icmp_seq=3 ttl=64 time=23.0 ms

[2016-10-10 12:07] julianoes commented on #5628
Hi, I think you should only use the hrt_call for something that absolutely needs to run regularly such as a gyro or accel driver. Reading from a UART is usually done in a NuttX task in a while loop with some usleep, or using the low or high priority work queue.

[2016-10-10 12:09] julianoes commented on #5612
Ok, good so it was a routing issue.

The adb shell and mini-dm output look ok. It is just complaining that no external mag is connected but it will fall back to the internal mag.

I would expect that QGC shows something now, no?

[2016-10-10 12:11] anujkumargupta commented on #5612
Hi @julianoes
Yes this [platforms__posix__px4_layer] krait update param 664 failed error is solved.
Earlier i was trying to pull the script and then edit and then pushing it.
adb pull /usr/local/qr-linux/q6-admin.sh
gedit q6-admin.sh
adb push q6-admin.sh /usr/local/qr-linux/q6-admin.sh
But later i edited it directly through adb shell
vim /usr/local/qr-linux/q6-admin.sh
and also done all step witho

[2016-10-10 12:12] julianoes commented on #5600
@DonLakeFlyer I can't reproduce this, however, I'm on 10.11.6, however with XCode 8.0.

@LorenzMeier any idea?

[2016-10-10 12:15] julianoes commented on #5612
Ok interesting, I'll try to reproduce this. In theory both "editing" variants should lead to the same.

[2016-10-10 12:21] FAC94 commented on #5628
Hi @julianoes
Thanks for your answer.

The problem is exactly that, the sensor that I'm talking provides gyro and accel data, that's why I was using the hrt_call (similar to the SPI sensors drivers).

However I can only read its data from an UART.

I tried to make a task as you said that would spwan when I give order to the sensor start (like the other sensors in rc.sensors file). However, that wa

[2016-10-10 12:57] bkueng commented on #5611
I don't see a reason against it. Can you create a pull request?

[2016-10-10 13:01] bkueng commented on #5597
You're welcome

[2016-10-10 13:01] #5597 closed

[2016-10-10 13:47] ilia-sheremet opened #5629 "MC attitude septoints are zero when motors are saturated. v 1.4.4"
I experienced several times while flying hex copter in wind conditions around 6 m/s:
12_08_23.px4log
![pasted image at 2016_10_10 13_48](https://cloud.githubusercontent.com/assets/7020958/19237380/747fafd2-8ef4-11e6-9fde-36f231eb24f1.png)

In PosControl the copter saturates from around 84s till 88s. You can see how desired pitch (and roll as well, you could see from logs) jumps from stabilizing co

[2016-10-10 14:31] gregd72002 commented on #5611
Pull request created: https://github.com/PX4/Firmware/pull/5630

[2016-10-10 14:48] davids5 commented on #5628
You will need to mimic a driver - with a main entry that spawns a task.

[2016-10-10 15:07] FAC94 commented on #5628
Ok, so now I'm able to do a proper start, but I still have the problem in reading the serial port inside the task.

The serial port is opened with the identifier _serial_fd and it is working fine (I can read properly out of the hrt_cal and the task_spawn).

Basically the idea was to create a task to do readings, while the measure cycle is responsible for only fill the structures and release a sema

[2016-10-10 15:20] davids5 commented on #5628
1) Do not call read in the HRT - it is running off the timer ISR and can not use any resources.
2) Open the FD in the task's context.

more like this:
[code]

[2016-10-10 15:35] FAC94 commented on #5628
@davids5 Thanks for your help! It seems to be working now :D
Although I was opening the serial port earlier in the code, it seems that I needed to open it in the "task_main" function as you suggested.

[2016-10-10 15:51] AndreasAntener opened #5631 "Fix preflightCheck calls and remove default value for last argument"
- remove default argument here: https://github.com/PX4/Firmware/blob/master/src/modules/commander/PreflightCheck.h#L70 (this was already the reason for the last preflight check bugs)
- fix calls in commander

[2016-10-10 16:10] gregd72002 opened #5632 "loss of manual_control (loss of rc)"
Scenario: flying using manual_control mavlink messages

When the ground station stops to send manual_control the rc link should go into failsafe - at the moment it is being kept active all the time resulting in fly-away.

From my investigations:
- mavlink_receiver (MavlinkReceiver::handle_message_manual_control) - only publishes rc input values when manual_control message arrives (it never sets rc

[2016-10-10 17:44] DonLakeFlyer commented on #5600
Either some sort of clean problem or tool update I missed. Let me try a fresh repo and see what happens.

[2016-10-10 17:48] DonLakeFlyer commented on #5600
I'm on XCode 8 as well. Tried a fresh repo and got this:
[code]

[2016-10-10 17:50] DonLakeFlyer commented on #5625
I thought @dagar was saying this was a url problem to the stable builds. But I also though that he said he repushed them and fixed it.

[2016-10-10 18:37] LorenzMeier commented on #5600
xcodeselect --install

[2016-10-10 18:42] DonLakeFlyer commented on #5600
Yeah, that was it.

[2016-10-10 18:42] #5600 closed

[2016-10-10 19:22] julianoes commented on #5197
@dhirajdhule have you ever gotten to the bottom of this?

[2016-10-10 19:24] julianoes commented on #5303
@VictorSu2 have you ever resolved this? Could it be the same as #5612?

[2016-10-10 19:26] julianoes commented on #5632
Thanks for the write-up, I would vote for:

[2016-10-10 19:29] julianoes commented on #5632
Related to #4876.

[2016-10-11 01:12] dagar opened #5634 "add raspi and bebop to builds"
Now that we have a raspberry pi docker image it's easy enough to add these builds, there just isn't a good place to do it without increasing build times or dropping something.

https://github.com/PX4/Firmware/compare/travis_rpi
https://travis-ci.org/PX4/Firmware/jobs/166311310

travis-ci
 - make qgc_firmware
 - make tests (OSX)

circleci
 - make quick_check

semaphoreci
 - make check
 - make eagle

[2016-10-11 01:41] VictorSu2 commented on #5303
@julianoes I think i sovled this several days before. I ran the test program of DSP from https://github.com/PX4/dspal/tree/d517bb7841ae0fa5136cdfcace2d54b172418051 and i found out the tests all failed. Then i tried to upgrade ADSP and Linux by Ubuntu real machine instead of Virtual machine and the px4 start is finally clean. I think this note should be added to the px4 development's manual in the

[2016-10-11 01:51] VictorSu2 commented on #5303
@julianoes I also find out some other problems that maybe caused by hardware issues. I got three snapdragon boards upgraded to same DSP firmware and linux image. Then ran the same px4 firmware. It turns out that the first board's accelerometer's calibration can't pass since the readings are wrong. When i put the board flat on the ground and the readings of accelerometer is -7 8 10(x, y, z) instead

[2016-10-11 02:19] dagar commented on #5625
I'll try to figure out what's going on.

[2016-10-11 02:22] dagar commented on #5625
Sigh, let me guess px4fmu-v4?

[2016-10-11 02:47] #5625 closed

[2016-10-11 02:52] dagar commented on #5625
This was a completely different problem, hidden beneath the previous problem. PX4 master fixed, beta will be fixed shortly.

[2016-10-11 04:09] kd0aij commented on #5624
It looks like this commit (from 20 July) is at least part of the problem: https://github.com/PX4/Firmware/commit/aea7bd5b471cd64ddef843fe0c912f6b0e2eb679

Problem is that attitude setpoints are published in fw_att_control only
[code]
and this condition is not met for ALTCTL.

Perhaps the intended control mode flag is flag_control_position_enabled?

[2016-10-11 04:19] nanthony21 commented on #4876
Not sure if this is relevant but when using virtual joystick through QGC with the commander parameter set to "no RC checks" I get constant "manual control lost"/"manual control regained" messages. Looking through the code it looks like maybe the RC check section responsible for these warnings should be bypassed via status_flags.rc_input_blocked but it is not.

[2016-10-11 04:33] dagar commented on #5624
For fixed wing AUTO, POSCTL, ALTCTL attitude setpoints are published by fw_pos_ctrl_l1, with TECS responsible for throttle and pitch.

Could you explain the issue a little more? Is this a logging issue, or in altitude control there's no roll at all? What happens in the other modes? AUTO, POSCTL, STAB

[2016-10-11 06:16] bkueng commented on #5611
This got merged, thanks for the PR

[2016-10-11 06:16] #5611 closed

[2016-10-11 06:38] tubeme commented on #5627
Yes it is the QNH we have to adjust. But I thought there could be another way for calibration.

I prefer to see raw data from the sensors during our tests. That is why I look at Barometric sensor data rather than GPOS.Alt

And you are correct the GPS alt is drifting and not stable for calibration purposes. Probably the RTK GPS systems will allow this to happen because they are very precise in 3d s

[2016-10-11 06:39] tubeme commented on #5625
It is px4fmu-v2.

[2016-10-11 06:57] tubeme opened #5637 "VTOL / FW : 1.5.0 RC1 too high angular roll speed in mission."
So far we've had more than a 100 missions in VTOL. About 70 on 1.3.4 and just recently about 30 missions in 1.5.0RC1.

Paralel to this we are flying regular FW and have pretty decent amount of missions.

In all this missions and flying we could not find a way to control the angular speed for the roll.

During autonomous flight (RTL, Mission) the plane is banging so hard in the turns that it almost

[2016-10-11 07:20] haigithub opened #5638 "uavcan build failed"
I have cloned the newest Firmware repo, and have updated the submodules (env: win7_x64). When I build the project, it failed with the prompt message as follow:

make[1]: warning: -jN forced in submake: disabling jobserver mode.
[  0%] Built target git_gencpp
[  0%] Built target git_genmsg
[  0%] Built target git_uavcan
[  0%] Built target git_nuttx
[  0%] Built target git_mavlink
[  0%] Built targ

[2016-10-11 07:38] tubeme commented on #5637
Another example i can give is from last year tests.

The plane was upper wing, Cessna style IC engine airplane. 2.5m wingspan. ~20-23 m/s cruising speed.

Upper wing airplane have a tendency to dive roll when you make a sharp yaw turn with the rudder.

So we set up coordinated turn after 20 m/s reached and open-loop method. Flying in Position and Altitude was pretty good given the coordinated turn

[2016-10-11 07:40] julianoes commented on #5303
@VictorSu2 Thanks for the feedback.

We have seen the accelerometer on the Snapdragon board "fail" like this before (just with other values). Please contact Intrinsyc and ask for a replacement board.

If you followed the same install procedures, I don't see how this can be a software issue. Send it in to Intrinsyc as well ;).

I believe you but I don't understand why this would matter. If you can

[2016-10-11 07:42] julianoes commented on #5565
Fixed with #5567.

[2016-10-11 07:42] #5565 closed

[2016-10-11 07:43] julianoes commented on #5609
Interesting edge case, thanks for reporting.

[2016-10-11 07:45] julianoes commented on #5621
Hi @kiti1013,
any chance you get more output on why they all die? Are you able to use the normal gazebo simulation without ROS using `make posix gazebo`?

[2016-10-11 07:46] julianoes commented on #5628
@FAC94 please close the issue if it is resolved, thank you.

[2016-10-11 07:48] julianoes commented on #5638
Hi @haigithub, are you using the Bash on Windows or the old setup?

Generally, we don't support and recommend building on Windows, sorry about that.
http://dev.px4.io/starting-installing-windows.html

[2016-10-11 07:52] julianoes commented on #5581
@mohit004 I don't know much about the subject, I'm sorry. However, you might be able to compare the iris and the tailsitter to see what's implemented where.

[2016-10-11 08:04] julianoes opened #5639 "Level calibration right after mag calibration doesn't seem correct"
I have observed twice that the first level calibration right after having done all sensor calibration doesn't correctly show the progress and also produces a suboptimal result, presumably it doesn't really run at all.
A subsequent level calibration will fix it. This happened on a Pixhawk and Pixracer.

[code]

[2016-10-11 08:07] haigithub commented on #5638
@julianoes  I am using "PX4 Toolchain Installer v14 for Windows Download" on Windows. I have an personal customed firmware version, and I developed that version for some time. Everything is ok. The build failing comes when I clone a new repo from https://github.com/PX4/Firmware.

[2016-10-11 08:39] sanderux commented on #5637
@tubeme as with any reference to a flight not to your satisfactory; please provide a log

as for the roll behavior. you can lower the FW_RR_P
as for the sudden roll, please upload a log

[2016-10-11 08:42] #5628 closed

[2016-10-11 08:43] sanderux commented on #5637
As for my flight behavior, see for your self:
https://drive.google.com/open?id=0B3otHVwcj_LdUmFEOHdLcFJ1VVE

[2016-10-11 09:08] VictorSu2 commented on #5303
@julianoes thanks, i will contact intrinsyc for the hardware issues.
Sorry i can't supply the proof that real machine works.
I just tried the method and it worked.

[2016-10-11 09:27] julianoes commented on #5303
Ok, I'll take note in the troubleshooting part.

[2016-10-11 09:27] #5303 closed

[2016-10-11 09:41] julianoes commented on #5638
Yes, as said, unfortunately you're on your own. We're not supporting Windows. If you can resolve it, we appreciate a PR but we don't have bandwidth to look into it.

[2016-10-11 09:43] sanderux commented on #5631
@AndreasAntener i don't believe i changed this. do you need the default removed for reportFailures?

[2016-10-11 09:58] sanderux commented on #5631
The default was added in this commit: https://github.com/PX4/Firmware/commit/5fcfdb759c2a83c3e13235b0f71d8d6299d46c33#diff-390f83af28dcf517efab5f9cb487194cR70

[2016-10-11 09:59] devbharat commented on #5629
I think mpc is implemented to still control the attitude, just not the position, setting the pitch&roll setpoints to zero to hold altitude.

It's implemented [here](https://github.com/PX4/Firmware/blob/d80a233bcb88c3839d7ac2d7089a8156820834df/src/modules/mc_pos_control/mc_pos_control_main.cpp#L1815-#L1822).

[2016-10-11 10:01] julianoes commented on #5527
I've reverted this but added a PR here for it:
https://github.com/PX4/sitl_gazebo/pull/53

If anyone could cross-test that would be great.

[2016-10-11 10:20] julianoes commented on #5593
Duplicate of #5604.

[2016-10-11 10:20] #5593 closed

[2016-10-11 10:45] haigithub commented on #5638
@julianoes  Thanks! I think I have find the method to solve the problems. The method is as follows:
![image](https://cloud.githubusercontent.com/assets/6647157/19267640/72db9cf6-8fe2-11e6-9222-baf7f88cddea.png)
Then building succeeds.