[2022-11-08 02:22] julianoes commented on #19943
@ryanjAA so the airspeed was connected to the external I2C but the compass presumably wasn't as it is connected to the GPS connector. And how long is the wire to the airspeed? And does it cross other electronics or even power electronics?

[2022-11-08 03:46] vincentpoont2 commented on #19943
I can't reproduce this issue using Pixhawk 6C & 1.13.1 stable.
I connect the MS4525 airspeed meter through I2C, choose the standard Plane airframe, and the airspeed meter can be calibrated.
At the same time, the X4RS sbus receiver of FRSKY is connected. When the joystick is moved, the QGC page will show that it will move with it.

![image](https://user-images.githubusercontent.com/46874772/2004701

[2022-11-08 05:19] ryanjAA commented on #19943
Richard will post some info on the setup.

[2022-11-08 05:24] hongsie opened #20566 "Offboard python example"
Hello

Currently, there is an mavros offboard example (python) of a drone hovering up to 2m.
Is there any other tutorials that I may refer to if i want to establish more setpoints? For example, flying up to 2m, then hovering 5m to the left.
I tried editing the script given on the tutorial but to no avail because i am still new to ros and python, so i'm not quite there yet xd

Thank you

[2022-11-08 05:45] hamishwillee commented on #20334
@Jaeyoung-Lim Doesn't SEAGULL require _two triggers_? http://docs.px4.io/main/en/peripherals/camera.html#trigger-output-pin-configuration - I only see one in your actuator setup.

IN any case, when you (and/or @julianoes) get this setup with camera capture and trigger working, can you please
1. reverify the docs are accurate
2. document your setup? Image of the wiring, details of the trigger setti

[2022-11-08 05:53] autonomical commented on #19943
Hi everyone. I'm a general RC fixed wing nitro/electric aeromodeller with a keen amateur interest in FC. My fixed wing FC set up is as follows - plane is Volantex Raptor/Ranger 2m wingspan pusher prop glider. FC is 6C with M8N compass/GPS, Holybro I2C airspeed sensor, PM07v2.3 power board, 60ampESC with 5A BEC for PM07 PWM power rail. I use 4S LiPos. Tx is RadiomasterTX16S running EdgeTx, Rx is SB

[2022-11-08 06:10] Jaeyoung-Lim commented on #20334
@saengphet Unfortunately I was not able to get it to work on a pixhawk4

@hamishwillee Once I get it to work yes :smile:

The Seagull can be used with two wires, but this is for the "keep alive" function and is not required

[2022-11-08 06:42] tayyabkhalil-313 commented on #20484
I faced the same issue and worked around it by formatting my SD card.

[2022-11-08 06:45] bkueng commented on #20551
Can you update the bootloader to latest main? The slow flashing should be fixed there.

[2022-11-08 06:47] bkueng commented on #20554
I added the `SET_ACTUATOR` support for mission in https://github.com/PX4/PX4-Autopilot/pull/20325. Can you try with current PX4 `main`?

[2022-11-08 08:46] max11gen commented on #20553
@Jaeyoung-Lim That was actually the first thing I tried because I saw your comment in the PR. It was just afterwards that I realized that someone had already updated px4_ros_com, too. However, I just tried it again and it doesn't work either. Also, since you don't arm the vehicle in your code, I'm assuming you arm it via PX4 shell or QGC? But I tried that, too, and it didn't work. Any ideas?

[2022-11-08 09:42] BrZ-Alex commented on #20554
@bkueng Oh, it turns round that in 1.13.1 there is no `SET_ACTUATOR` mission support. Am I right?

So, how can I build a firmware from the source code? Or what should I do to try the current PX4 `main`?
Im sorry for this stupid question, Im really confused.

[2022-11-08 10:01] siddux commented on #14142
Hi, has it been merged into main branch? If not in which branch can I found it?

Also, is there any documentation available?

Thanks.

[2022-11-08 12:00] bkueng commented on #20554
Yes but we can also backport it as it's a small change.
No worries, you can either build it yourself (https://docs.px4.io/main/en/dev_setup/building_px4.html), or flash the development version (https://docs.qgroundcontrol.com/master/en/SetupView/Firmware.html).

[2022-11-08 12:01] bkueng commented on #14142
Yes this is on `main`. What kind of documentation are you looking for?

[2022-11-08 12:05] siddux commented on #14142
Yes, thanks I've found all I need...a long time without using PX4. Also, regarding documentation I think [this page](https://docs.px4.io/main/en/flight_stack/controller_diagrams.html) should be updated. It can be confusing with the new implementation using control allocation.

[2022-11-08 12:36] JetJie commented on #20524
is there any c++ example? or any tutorial?

[2022-11-08 13:26] sanyanosnikov commented on #18683
@TregliaRaphael Hi. If you have already made a canbootloader, could you share it? Thanks

[2022-11-08 18:32] benjinne opened #20575 "Two-wire RC protocols on fmu hardware"
For general questions please use [PX4 Discuss](http://discuss.px4.io/) or Discord (you can find an invite link on this project README).

## Describe problem solved by the proposed feature
Allow 2-wire protocols like CRSF,GHST, etc to work on hardware like the latest v6x. Currently the RC port is configured to the i/o board which only supports sbus. Is there a way to select other UARTs?

Here's an

[2022-11-08 20:58] danielmellinger commented on #20277
Hi @priseborough, it would be awesome if you could provide some information on the design of EKF2 regarding this issue.  I am working with a multirotor vehicle that does not have a direct estimate of x or y position or velocity (that is, no GPS or vision sensor).  In running the SITL test described above I can see that the “fake position" feature continues to use static x and y position observatio

[2022-11-08 21:24] JetJie commented on #20553
in this https://github.com/Jaeyoung-Lim/px4-offboard . You first should takeoff and change the mode. I do it in the PX4 shell by command `commander takeoff` and then `commander mode offboard`. But this is a python node, I recently would like to create a c++ node.

[2022-11-08 21:34] AlexKlimaj commented on #20551
I've seen this many times on the Cube Orange. It will depend sometimes on whether I compile in native ubuntu or in WSL.

[2022-11-09 07:12] bkueng commented on #14142
@hamishwillee apparently we missed one.

[2022-11-09 08:04] LiuWhale commented on #20469
I think it may be caused by the reaseon that every UAV needs a RC in default, but simulation just have one in qgc, you can search a param in qgc to make UAV ignore RC, I remember param is COM_RCL_EXCEPT.

[2022-11-09 09:00] wahihi opened #20579 "When the aircraft takes off, I want the motor to start after a delay of 1 second."
I added usleep(10000);//Kim to LaunchDetector.cpp source to give motor delay.
I tested it, and there is no delay. Can you tell me where I can fix it to give the motor delay?

나는 LaunchDetector.cpp 소스에,  모터 지연을 주기 위해, usleep(10000);//Kim 을 추가하였습니다.  테스트 해보니, 지연이 되지 않고 있습니다.  어디를 고쳐야  모터 delay를 줄 수 있는지 알려 주실 수 있나요?

## Attention! Please read the note below

We use GitHub issues only to discuss PX4 b

[2022-11-09 09:58] Jaeyoung-Lim opened #20580 "Geocoordinate projection errors by assuming the earth is a sphere"
## Describe the bug
The current Map projection assumes that the earth is a sphere,

https://github.com/PX4/PX4-Autopilot/blob/9246d38667311b8f53c3b38a13e35bf4a3969f70/src/lib/geo/geo.cpp#L71-L92

However, this can result in large errors when projecting WGS84 coordinates to a tangential local coordinate frame.
The projection should be done through a geodetic to cartesian conversion as in https://pr

[2022-11-09 11:56] max11gen commented on #20553
Thanks a lot, this actually works. My bad, I didn't look at it properly. But the problem with the px4_ros_com example persists.

[2022-11-09 12:02] drasgo commented on #18957
Hi, any plan in supporting VEHICLE_CMD_DO_SET_PARAMETER for rtps, or if the decision is to go directly for the full update, any idea on how long it will take?

[2022-11-09 14:22] Woody363 opened #20582 "Smart battery reports exactly half real current/voltage using bq40z80"
When reading the values on PX4 the reported current and voltage are half of the real values. Temperature reports correctly, other bq40z80 values are, so far, uncalibrated.

We are using smart battery module with its default settings. BAT_V_DIV and BAT_A_PER_V can be changed but are not used in smart battery and do not effect the values.

We have a battery using bq40z80 management chip. The current

[2022-11-09 14:48] dagar commented on #18957
I've been experimenting with making PX4 parameters fully accessible to ROS2, but I'm not sure when I'll be able to finish it.

Much more immediately we could probably implement `MAV_CMD_DO_SET_PARAMETER` if you think it's important. I find that interface quite awkward because you need to separately determine the parameter number and then the parameter value type is a mess, but I suppose it's bette

[2022-11-09 22:50] junwoo091400 commented on #19373
Referencing https://github.com/mavlink/qgroundcontrol/pull/9266 to get this implemented.

[2022-11-10 12:54] lingbuweibu commented on #20551
@bkueng The bootloader was modified by myself following Cuav's example. I changed it according to the link you provided. Will it be able to restart the shell for a long-term test? However, the problem of slow download still exists when the download speed is close to 50%. I don't know what the problem is.
/* Pad out last section as the STM32H7 Flash write size is 256 bits. 32 bytes */
		. = ALIGN(1

[2022-11-10 22:03] AlexKlimaj opened #20592 "rc.board_bootloader_upgrade isn't compiled in. No SYS_BL_UPDATE"
In current main, SYS_BL_UPDATE is missing from params. I have tracked it down to the rc.board_bootloader_upgrade script being missing from the ROMFS.

1.13.1 looks like it is working. But current main is not. Tested on the FMUV5X and ARKV6X.

[2022-11-11 03:36] bigworldsmall opened #20593 "Problems with the full configuration parameters"
## Describe the bug
Hello everyone, we are trying to analyze PX4 by static analysis and found some problems with the full configuration parameters in the [PX4 User Guide](https://docs.px4.io/main/en).

e.g.
1. Defined in the configuration file(xxx\parameters.c), but not used in the source code
<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="

[2022-11-11 06:26] bkueng commented on #20593
Most of those are used in startup scripts under https://github.com/PX4/PX4-Autopilot/tree/main/ROMFS. The first ones (small case) under 3. are for uavcan.
And some could possible be unused indeed.

[2022-11-11 06:33] bkueng commented on #20551
Please update the whole bootloader, I don't remember exactly when the flash speed was fixed.

[2022-11-11 08:53] JetJie commented on #20553
You're right. I'm just waiting for someone to fix it.

[2022-11-11 09:08] Jaeyoung-Lim commented on #20553
@JetJie This is an opensource project. Please consider adding a fix if you think something is not working

[2022-11-11 10:11] Pokemaster09 commented on #20550
I have exactly the same problem on my Macbook  M1 pro with Ventura 13.0, and I can nont  find workaround.

[2022-11-11 13:01] lingbuweibu commented on #20551
OK，I download the latest bootloader and try to change it。

[2022-11-11 14:25] BrZ-Alex commented on #20554
Thank you a lot! Now DO_SET_ACTUATOR is works correctly.

But I have to use #20567 commit because QGC cant connect to drone with firmware based on any other commit. (QGC shows "vehicle did not respond to request for parameters" error).

The question about MAVSDK is still open. In MissionRaw.MissionItem param5 and param6 must be Int, so we can use AUX5&6 only with values -1,0,1. Also you cant even

[2022-11-11 15:27] Finwood commented on #20555
After going through other flights this year, I have found a few more examples showing the exact same behavior:

- [2022-03-15, Flight 9WY3KV](https://logs.px4.io/plot_app?log=2b73c1d1-2cc2-4c90-b1db-86345f4feb1c#Nav-Actuator-Controls)
- [2022-03-23, Flight NVMRJW](https://logs.px4.io/plot_app?log=d0afe7b7-85ef-4350-bbd6-ff85afa1f56b#Nav-Actuator-Controls)
- [2022-03-23, Flight KPKAZ1](https://logs

[2022-11-11 17:24] junwoo091400 commented on #20593
Hi! How are you doing the static analysis? Would like to try that out & remove unnecessary parameters as well :hugs:

[2022-11-11 17:26] junwoo091400 commented on #20554
@BrZ-Alex I proposed removing the DO_SET_SERVO command entirely, as explained here: https://github.com/PX4/PX4-Autopilot/pull/20392

Would DO_SET_ACTUATOR fulfill your need? Or would DO_SET_SERVO still be necessary?

[2022-11-11 17:30] junwoo091400 commented on #12429
I would like to add @james-modalai 's [comment on this from discord](https://discordapp.com/channels/1022170275984457759/1032920425266696222/1034634750612213840) as well:

So right now there is a 'volatile' flag that removes parameters from being included in the checksum. I think we need more flag or categories: Volatile, Calibration, Hardware-specific configuration, Flight Behavior-specific confi

[2022-11-11 17:34] junwoo091400 commented on #12429
So it seems that what we need is a better 'classification' of parameters, and they would each have a different param reset characteristics / be export-able in groups (e.g. export only Sensor / RC calibration / Mission / etc).

This in turn would enable better grouping of parameters in the QGC Parameter tab as well, as we would have a better 'structure' of parameters.

Which would in turn ultimatel

[2022-11-11 17:36] junwoo091400 commented on #19956
Don't think we really need this Issue :+1:, we can discuss everything in separate baby step PRs

[2022-11-11 17:36] #19956 closed

[2022-11-12 05:41] li0312 opened #20598 "A Problem during Updating gazebo"
## Describe the bug
The version of my system is melodic and I tried to update gazebo from 9 to 11. After  I updated gazebo, the launch file can't work
well. The window of gazebo will be black screen with the ERROR as follows:

gzserver: /usr/include/boost/smart_ptr/shared_ptr.hpp:734: typename boost::detail::sp_member_access<T>::type boost::shared_ptr<T>::operator->() const [with T = gazebo::event

[2022-11-12 06:42] BrZ-Alex commented on #20554
@junwoo091400 I described the problem with DO_SET_ACTUATOR above, you cant use AUX 5 and 6 except for -1, 0, 1 vaules. And you cant use another AUX without setting values to AUX 5/6 in MAVSDK mission. DO_SET_SERVO can solve this problem, but it doesnt work at the moment.

[2022-11-12 08:33] synerex2016 opened #20599 "I2C port In/Out configuration issue"
Hi

I'm now talking about I2C port In/Out configuration.

In fact, we're faced on mass production of the LTE module integrated RTK GPS device. As you can imagine that the LTE module can be able to receive the RTCM data from the network RTK base stations automatically, so our new device deliver the RTCM data to PX4 thru I2C port.

However, we found out whenever we make a connection between PX4 and

[2022-11-12 17:09] RENyunfan commented on #20379
I just wonder if there is any progress for the support of BMI270, the kakute
 H7 v2 is so impressive. I have the hardware and willing to help with any test.

[2022-11-12 18:09] AlexKlimaj commented on #20582
The scale factor on the bq40z80 is probably set to 2.

[2022-11-12 19:43] AlexKlimaj commented on #20275
I have not been able to replicate this after the land detector rewrite. Closing for now.

[2022-11-13 12:42] rvjenya opened #20600 "Problem with respond telemetry from HereLink to Pixhawk 6x"
PX4 v1.13.1 - Stable Release
Hardware - Holybro Pixhawk 6x
SmartController - Hex HereLink

Hi guys, I'm trying to connect the HereLink system to Pixhawk 6x - but I don't respond to telemetry data from TELEM1 and TELEM2. I tried to change bartered for these ports, changing the pins to connectors. But I've got the same result - no Telemetry. What I'm doing wrong?

 I tried to use telem2 and changed

[2022-11-14 08:11] rvjenya commented on #20600
I've found solution. I set “MAV_0_FLOW_CTRL” to “Force off”.

![43AEF41A-075E-4C3B-9236-B626DC7A6803](https://user-images.githubusercontent.com/1352540/201608042-55863281-882d-4311-8d3c-42c08c8bbc10.jpeg)
![E48B1E7A-9268-4C9C-9133-9715216B48B4](https://user-images.githubusercontent.com/1352540/201608080-1296461e-7a46-4d6a-bbca-6047e0488041.jpeg)

[2022-11-14 11:42] lfeng17 commented on #20599
Same problem.

[2022-11-14 14:42] MaEtUgR commented on #20555
@Finwood Thanks a lot for your exemplary bug report! Note that you are running Auterion PX4 2.5. The problem you describe was solved by https://github.com/PX4/PX4-Autopilot/pull/19162 and does not persist anymore on more recent versions. If you are looking for a patched Auterion PX4 2.5 version please contact the company directly. The fix was not extensively backported because even though it's not

[2022-11-14 14:58] MaEtUgR commented on #20275
@AlexKlimaj Thanks for the report. Could it be that https://github.com/PX4/PX4-Autopilot/pull/20581 solves this? It sounds very plausible specifically because you took off again which leaves room for exactly the problem I found.

[2022-11-14 14:59] mad0x60 commented on #20469
QGC only considers the manual control (the joystick in your case) for only the active vehicle. Therefore, you need to change COM_RCL_EXCEPT for every vehicle such that it ignores remote control loss when OFFBOARD is engaged.
Also, you need to specify the target system id of each drone.

[2022-11-14 17:16] AlexKlimaj commented on #20275
Yes that could be what fixed it too.

[2022-11-14 18:59] AlexKlimaj commented on #20600
Try re-seating the v6x module. And or try a different telemetry port. Sometimes the module board to board connectors don't make full contact.

[2022-11-14 20:41] bb6698 opened #20606 "failed DONT_RUN=1 make px4_sitl_default gazebo in repo PX4-Autopilot"
Hello! I have problem with installation PX4-Autopilot

I have Gazebo 11.11.0, mavros and mavlink last version. I am positioned in the branch v1.13.1 in repo PX4-Autopilot

I run DONT_RUN=1 make px4_sitl gazebo:

![Captura de pantalla de 2022-11-14 21-39-24](https://user-images.githubusercontent.com/73492480/201761200-c62fa918-5cce-4f14-8e30-1646757d3e5f.png)

I don't know what is happening, please

[2022-11-15 02:07] FZenjoys commented on #19014
@msnesbit Hello, did you solve that problem? I guess I face the same one.
The data output of US D1 is working through its tool test software (see the figure below). Unfortunately, there is no DISTANCE_SENSOR in the MAVLink Inspector after the guide configuration (SENS_ULAND_CFG --> TELEM 2). (power 5.06V, correct RX & TX )
By the way, the TFmini plus is working well via a similar configuration.

!

[2022-11-15 03:01] DEADLYBBS commented on #19986
I cannot get the ekf2 to work. I have experience with the original PixRacer board and have gotten it to fly with the ekf2 without gps.
The kakute h7 will not arm, more specifically, it states that AHRS is disables and that there is a Pre-Arm Check error. How can I view what is causing this error? I have tried accessing the flight logs but that does not seem to provide any information.
https://logs

[2022-11-15 03:11] ckl677 commented on #19986
Yes,it is easy to use,you can upload programs in ubuntu.But it is not very well compared with pixhawk4.It performs worse than pixhawk4 in the room using vision.

[2022-11-15 03:13] ckl677 commented on #19986
Because kakuteh7 does not have a compass, it is necessary to set ekf to disable the compass and use the external heading angle for positioning.

[2022-11-15 03:32] DEADLYBBS commented on #19986
I have disabled that. With it disabled, will it never be able to arm unless I get an external heading angle?
I am planning on using optitrack motion capture software and that is what I used with the PixRacer instead of GPS.
Is there any information that would show up in the pre-flight checks showing the lack of any sensors?

[2022-11-15 03:57] ckl677 commented on #19986
Can you arm in stabilize mode using ekf2?I use it with motion capture too.You can use yaw information from motion capture instead of mag.

[2022-11-15 04:05] DEADLYBBS commented on #19986
I cannot currently, probably due to lack of magnetometer.  I need to connect an esp8266-01 wifi module for the motion capture information. Unless there is an easier way to get mocap to the board.
I know how to get the yaw information and set up everything for motion capture and autonomous flights, I hope. I did this before with a PixRacer and had tremendous success, just the drone was rather heavy

[2022-11-15 07:13] bkueng commented on #20599
I2C was disabled in https://github.com/PX4/PX4-GPSDrivers/pull/81. It might still be fine if we allow RTCM as input. @Igor-Misic can you have a look?

[2022-11-15 08:43] Donecle commented on #20277
Hi all,

A few years ago, we were using a very modified version of PX4's EKF2, basically had removed all what we didn't need/understand. I don't remember if fake position mechanism was already present but if it was we removed it.
Logically we had the behavior described above (drift in attitude) when no horizontal position/velocity was fused.
We solved the problem by fusing an estimate of true roll

[2022-11-15 08:56] vincentpoont2 opened #20607 "ADIS16507 IMU PX4 Driver Support"
ADIS16507 is newer & lower cost high grade IMU option compare to other AD IMU . Would love to see PX4 Driver support on ADIS16507.

I see that ADIS16477 & ADIS16497 are both supported, but not ADIS16507.
We can provide hardware for driver testing if needed.

[2022-11-15 09:40] junwoo091400 commented on #14835
![image](https://user-images.githubusercontent.com/23277211/201885238-1f3aa0aa-239c-40e0-baec-facda0d43f9b.png)

This is still happening. The `recvfrom error & connection closed by client`. No idea still why PX4 is dying 😢. Also, this one was without address sanitizer option, so seems like this can happen on any build

[2022-11-15 10:35] bresch commented on #19986
@DEADLYBBS Did you set:
- [SYS_HAS_MAG](https://docs.px4.io/main/en/advanced_config/parameter_reference.html#SYS_HAS_MAG) to 0 and
- [EKF2_MAG_TYPE](https://docs.px4.io/main/en/advanced_config/parameter_reference.html#EKF2_MAG_TYPE) to 5 (none)

[2022-11-15 11:21] theojaasp opened #20608 "Parameter Category and Group"
How can i create a new costuç paramter category and group?
So when I open paramter editor I can find easier needed parameters.
I changed in the params.c files in PX4-Autopilot/src/ but when I compile there is no changes.
But in PX4-Autopilot/build/parameters.xml I can see that the parameter I have changed the group are having the group and category assinged.
But in QGC it is not.

[2022-11-15 11:22] danielhonies opened #20609 "Current Main not responding on Cube Orange"
## Describe the bug
Current Main build flashing through QGC will not respond to request for parameters.

## To Reproduce
Flash Dev Build through QGC onto Cube Orange

## Expected behavior
Should respond to request for params

[2022-11-15 11:37] ckl677 commented on #19986
To get the information of motion capture,I use a offboard computer to receive the information and use mavros via telem2.To use telem2,you should change the compile file.

[2022-11-15 11:52] ckl677 commented on #19986
The file is

[2022-11-15 13:44] wsolichin-sees opened #20610 "CubePilot CubeOrange Sensor Start Sequence Issue"
## Describe the bug
I'm currently using PX4 Firmware v1.13.1 with CubePilot CubeOrange. I have set the SENS_EN_LL40LS to I2C and SENS_EN_IRLOCK to Enabled. Both are connected to an I2C splitter to the I2C pin out on CubePilot CubeOrange. However, I cannot see any MAVLink message of DISTANCE_SENSOR or uORB message irlock_report. Further debugging, both the drivers `ll40ls` and `irlock` did not star

[2022-11-15 14:41] bigworldsmall commented on #20593
Thank you for your answer, I was wondering how it uses configuration options in file(xxxxx\module.yaml)，for example SENS_TFMINI_CFG in \src\drivers\distance_sensor\tfmini\module.yaml. And from the perspective of user configuration, is the configuration option in startup scripts not able to be changed by the user.

[2022-11-15 14:46] bigworldsmall commented on #20593
In our opinion, the configuration options in the official manual may be incomplete or incorrect, so we would like to be able to extract all of its configuration options directly from the source code. By comparing experimental data with official documents, the above problems were discovered.

[2022-11-15 15:04] Ecuashungo commented on #20609
The same is true for the pixhawk 4 mini

[2022-11-15 16:11] dagar commented on #20607
At a glance the datasheet looks pretty similar, it shouldn't be that hard to get a driver together.

Is this going to be available as an external IMU?

[2022-11-15 16:20] MaEtUgR commented on #20593
@bigworldsmall The same content was posted on Discord here: https://discord.com/channels/1022170275984457759/1040487659560239184/1040487670377349150

I posted about:
`COM_RCL_ACT_T`: good dicovery https://github.com/PX4/PX4-Autopilot/pull/20612
And the autogenerated serial configuration parameters: check https://github.com/PX4/PX4-Autopilot/pull/10337

[2022-11-15 17:43] DEADLYBBS commented on #19986
@ckl677 I think I can get away without modifying the files. My solution is to use Telem1 by taking the Rx and Tx lines from the JST-GHR-6P port. I will let you know how this goes.

[2022-11-15 22:19] guiaugustoga987 opened #20615 "PX4 SITL unable to takeoff typhoon_h480 - primary EKF changed 0 (filter fault)"
### Describe the bug

I'm trying to use the typhoon_h480 with SITL in gazebo. At first, I created a world with a 3DR Iris model and run `no_sim=1 make px4_sitl_default gazebo` and then `roslaunch gazebo_ros empty_world.launch world_name:=$(pwd)/Tools/sitl_gazebo/worlds/typhoon.world`. Everything works fine, I can control the UAV correctly. Now I made the same steps, but I changed the drone to typh

[2022-11-15 22:45] DEADLYBBS commented on #19986
I have gotten the wifi module wired correctly, tx to rx and rx to tx using the telem1 serial port, the baud is also set correctly (I have it set to 921600 on QGC and the ESP8266 board). Just it will not connect to QGC. MAV_0_CONFIG is set to TELEM 1. The rest are disabled. Cannot figure out what is wrong with it. My cport and hport are correct as well.

[2022-11-15 23:41] DEADLYBBS commented on #19986
I have tried using GPS 1 by disabling the gps and setting mavlink to use GPS. Still nothing.

[2022-11-16 03:07] DEADLYBBS commented on #19986
Turns out, the daily build for QGC cannot see the wifi from the esp8266 chip.

[2022-11-16 03:48] DEADLYBBS commented on #19861
Is there a way to get bi-directional dshot for the kakute H7 at this time using the standard build? I do not know what other parameters have to be adjusted for this to work besides enabling dshot.

[2022-11-16 03:53] DEADLYBBS commented on #19986
Is bi-directional dshot supported for this board?

[2022-11-16 04:05] shupx commented on #19986
@DEADLYBBS The dshot is fine with the old kakute h7 with mpu6000. I have tested it yesterday

[2022-11-16 04:12] DEADLYBBS commented on #19986
@shupx but is it bidirectional? I am having a weird issue where my drone does not want to stay level in stabilized flight mode. Instead is kinda lightly bounces. Didn't know if dshot would help. I am using Dshot 1200 currently.

[2022-11-16 04:13] shupx commented on #19986
@ckl677 How did you modify the compile file to use telem2? The uart2 is used by the bluetooth and it seems that there is no pad for telem2 on the kakute h7 board.
![image](https://user-images.githubusercontent.com/69573108/202081795-54550482-37e4-44d7-aaeb-242eba342745.png)

[2022-11-16 04:48] vincentpoont2 commented on #20607
@dagar We are considering using it as internal IMU for Flight controllers.

[2022-11-16 07:25] julesMindstorme commented on #20550
Same issue here, but with terminal on Intel Mac running macOS Ventura

[2022-11-16 07:56] bigworldsmall commented on #20593
What about the other configuration options in 1.

`NAV_AH_LAT`
`NAV_AH_LON`
...

[2022-11-16 10:03] MaEtUgR commented on #20593
@bigworldsmall Some more might be deprecated. We can go through them. Sorry for closing.

[2022-11-16 11:59] coen132 commented on #20553
@JetJie I experienced the same thing and looked into it. I logged the subscriber topics and noticed it gets published under a different topic id then what it should be:
![image](https://user-images.githubusercontent.com/95023271/202175026-9da466d1-5762-48d7-8ff8-0e704f64ad34.png)
The internal topics are different so I guess that is were the error is

[2022-11-16 14:50] laborosh commented on #20550
The 'sprintf' function is deprecated in the macOS 13 (Ventura) SDK.
You can resolve this issue in the following order.

1. Install the xcode command line tool (can be skipped if it already installed).

2. Check the active Developer Directory Path

If the path is set to the Xcode app, change it to the command line tools path as follows:

3. Change the macOS 13 SDK path to the macOS 12 SDK path.
The

[2022-11-16 14:53] laborosh commented on #20550
The 'sprintf' function is deprecated in the macOS 13 (Ventura) SDK.
You can resolve this issue in the following order.

Install the xcode command line tool (can be skipped if it already installed).
xcode-select --install
Check the active Developer Directory Path
select xcode -p
If the path is set to the Xcode app, change it to the command line tools path as follows:

sudo xcode-select -s /Library/

[2022-11-16 14:56] laborosh commented on #20550
The 'sprintf' function is deprecated in the macOS 13 (Ventura) SDK.
You can resolve this issue in the following order.

1. Install the xcode command line tool (can be skipped if it already installed).

2. Check the active Developer Directory Path

3. If the path is set to the Xcode app, change it to the command line tools path as follows:

4. Change the macOS 13 SDK path to the macOS 12 SDK path.

[2022-11-16 15:54] ryanjAA opened #20619 "MRO Control Zero H7 doesn’t boot"
On the H7 MRO Control Zero you can flash current main or release 1.13.1 (the ardupilot bootloader is working) but then after reboot it doesn’t start up.

[2022-11-16 16:02] dagar commented on #20593
XRCE_DDS_UDP_PRT is in flux with more microdds updates coming, I'll take care of it.

[2022-11-16 16:52] junwoo091400 commented on #12429
@dagar here, as we discussed this again in the after-dev-call today!

[2022-11-16 18:51] guiaugustoga987 commented on #20615
I'm not sure if this has something to do with the error I'm facing, but this is what is happening when I add the Typhoon H480 to gazebo :

![Captura de tela de 2022-11-16 15-48-58](https://user-images.githubusercontent.com/56890056/202267741-7880f6a6-ddda-4fe2-8727-022f589beb2d.png)

[2022-11-16 21:53] Jaeyoung-Lim commented on #20615
@guiaugustoga987 Have you tried

[code]

[2022-11-17 02:45] bigworldsmall commented on #20593
Thanks for your good job, I double-check my list based on your references, and totally agree with you. Configuration options like `MPC_VELD_LP, LPE_X_LP`, are really hard to spot. `RBCLW_BAUD` in your references is empty, it seems not to be used anywhere.

[2022-11-17 07:56] EhrazImam opened #20626 "/mavros/imu/data is not publishing data with px4 1.13.1 firmware"
**Issue details**

Hi i am using Pixhawk 6C with px4(1.13.1)
When I’m changing the Pixhawk parameters in QGC (SYS_MC_EST_GROUP = No position, SYS_HAS_BARO & SYS_HAS_MAG = 0), it only displays /mavros/imu/data_raw not /mavros/imu/data_raw. With same parameter I have also tried on Pixhawk 4, Cube Orange and Cube Black with different firmware(1.11.0, 1.11.1, 1.12.0, 1.13.0, 1.13.1) and they all displ

[2022-11-17 09:16] HadesGuy commented on #5854
Same here.
Using version  QGC 4.2.4
Please give some insight.
Thanks

[2022-11-17 10:57] Finwood commented on #20555
That is good to hear, thank you for clarifying!

I am still waiting for a reply from the company, but that is unrelated to _this_ issue.

As far as I am concerned this issue is resolved. Thanks! 🎉

[2022-11-17 10:57] #20555 closed

[2022-11-17 15:55] ealdaz commented on #20610
I have got the exact same issue in my CubePilot Orange, have you had any luck ?

[2022-11-17 16:31] Jiajian-Chang opened #20629 "Pitch and Roll setpoint is not zero"
Firmware: 1.13.1
Controller: Pixhawk 6c

Is there any method that I can check each channel’s PWM output? In the flight review, the actuator output is in thrust, pitch, roll and yaw.

There is an issue that the PWM is too high while arming. The thrust is almost take-off thrust. I tried to change the PWM_MAIN_MIN and do ESC calibration but it doesn’t work. The motors can spin at a low speed when I p

[2022-11-17 16:41] dagar commented on #20607
https://github.com/PX4/PX4-Autopilot/pull/20630

[2022-11-17 17:03] vincentpoont2 commented on #20607
@dagar Would you like us to send you hardware to test?

[2022-11-17 18:02] guiaugustoga987 commented on #20615
I just solved it. My .world file was getting the models from .gazebo folder. I changed to the sitl_gazebo/models folder and now It is working as intended.

Thank for your inside.

[2022-11-17 18:13] ThomasRigi opened #20631 "Add parameter to enable mavlink stream over USB"
From discord thread https://discord.com/channels/1022170275984457759/1032553608417394709

## Describe problem solved by the proposed feature
PX4 no longer sends mavlink via USB unless a heartbeat is received via this channel. This causes trouble to some existing setups, e.g. MAVROS paired with mavlink-router.

## Describe your preferred solution
Have a parameter that lets you choose to always stre

[2022-11-18 00:40] julianoes commented on #5854
Please don't necrobump. Create a new issue instead and provide details.

[2022-11-18 00:41] julianoes commented on #14835
@junwoo091400 if you have steps to reproduce the problem locally, I can try that.

[2022-11-18 00:48] junwoo091400 commented on #14835
It would be:
[code]

You will notice that the failure mode is px4 just hanging & mavsdk runner also hanging (as px4 subprocess didn't die yet) & gzserver reporting no connection to PX4.

Let me know if any part is unclear! I really want to get to the bottom of this 👀👀

[2022-11-18 04:24] cmm6758 opened #20632 "Build Error when running make px4_sitl gazebo"
Hello,

Whenever I attempt to build the simulator for PX4 I receive this error below. I am new to this so I am not sure what I am doing wrong. What does this error mean and what should I do to resolve it? I posted the entire terminal including the installation in case I missed something.

$make px4_sitl gazebo

[  1%] Built target events_header
[  1%] Built target ver_gen
[  1%] Built target param

[2022-11-18 12:37] EhrazImam opened #20633 "Issue with the Pixhawk 6c's IMU"
Issue details

Hi i am using Pixhawk 6C with px4(1.13.1)
When I’m changing the Pixhawk parameters in QGC (SYS_MC_EST_GROUP = No position, SYS_HAS_BARO & SYS_HAS_MAG = 0), it only displays /mavros/imu/data_raw not /mavros/imu/data_raw. With same parameter I have also tried on Pixhawk 4, Cube Orange and Cube Black with different firmware(1.11.0, 1.11.1, 1.12.0, 1.13.0, 1.13.1) and they all displayin

[2022-11-18 13:32] Ecuashungo opened #20634 "microdds_client not working with real hardware"
## Describe the bug
I use a raspberry pi 4 companion computer with ros2 humble and micro_ros_agent installed. When I try to connect it to a pixhawk 4 mini (setup for HITL) through serial (TELEM 1 port on pixhawk, /dev/ttyAMA1 on the raspberry pi) they start the communication, but very quickly abort.
On the companion computer the following message is shown:
[code]
On the px4-side I get the followin

[2022-11-18 14:17] Woody363 commented on #20582
Thanks for the suggestion, but I've checked and the scale factor isn't set (it's 0?) and there is only a scale factor for the current, not the voltage anyway.

For now I'm just calibrating to double the voltage and current.

I have also since found this post: https://e2e.ti.com/support/power-management-group/power-management/f/power-management-forum/946102/bq40z80-bq40z80-current-scaling

Which sa

[2022-11-18 16:00] dagar commented on #20634
I'm not sure if there's any useful information, but you could try launching the agent with more verbosity to see if it has anything helpful (-v4 I think).

Have you tried pixhawk -> PC through serial for comparison? I'll give it a try myself later, but I did verify it during development earlier this year.

[2022-11-18 16:07] dagar commented on #20607
If someone already has this hardware and is a position to actually flight test I'd be happy to work with them interactively to finish the pull request, otherwise I can do it here.

[2022-11-18 16:09] junwoo091400 opened #20639 "Standardizing rotation / quaternion / bias applications for sensor data in PX4"
## Describe problem solved by the proposed feature
As shown clearly from the recent hotfix PR: https://github.com/PX4/PX4-Autopilot/pull/20543

Defining when & how the sensor calibration data gets applied (before the rotation? after the sensor orientation rotation? after the additional board rotation?) isn't defined clearly in PX4.

This issue aims to spark a discussion on how to standardize the r

[2022-11-19 00:02] dev10110 commented on #20379
Hi, I am interested in getting the h7 v2 as well. please let me know what I can do to help get the sensor supported

[2022-11-19 01:14] AlexKlimaj commented on #20582
It could be that your gauge is calibrated to the wrong voltage. Have you checked it in BQstudio?

[2022-11-19 01:18] AlexKlimaj commented on #20609
This should be fixed now https://github.com/PX4/PX4-Autopilot/pull/20596

[2022-11-19 02:27] shupx commented on #20379
@dev10110 @RENyunfan @matthewoots There is a pull request about BMI270 driver on kakute mini v1.3 developed by [j-chen-opteran](https://github.com/j-chen-opteran). But he has some problem with the auto start of this imu. You can try his branch:https://github.com/PX4/PX4-Autopilot/pull/20545

[2022-11-19 14:13] astekachev opened #20642 "Fatal error board/src/can.c"
If configured CONFIG_CAN=y, CONFIG_STM32_CAN1=y in defconfig file and try make firmware

[code]

[2022-11-19 19:07] trddo commented on #19831
I have same issue on orange cube v 6.1.7600.16385 using orange cube driver  v2.0.0.10, qgroundcontrol px4  v4.2.4 even after adding mavlink start -d /dev/ttyAMC0 to extras.txt in etc. I am unclear as to how to add to
rc.board_mavlink.
Would be grateful for further assistance.

[2022-11-20 11:45] astekachev commented on #20642
In
PX4-Autopilot/platforms/nuttx/NuttX/nuttx/arch/arm/src/stm32h7
and
PX4-Autopilot/platforms/nuttx/NuttX/nuttx/arch/arm/src/stm32h7/hardware
does not exist files stm32_can.h stm32_can.c

[2022-11-20 14:12] TregliaRaphael commented on #18683
Hi,
I'hv done my proper can bootloader outside of the PX4 ecosystem because i prefer to control everything i'm doing. I won't share it sorry.
There was too much work for me as a newby on Nuttx because the H7 is not fully implemented on the driver side or the difference between F7 and H7 were too different for me to take the risk to modify important things.

I had a can bootloader branch that compi

[2022-11-20 20:47] julianoes commented on #14835
Hm, so you have been able to reproduce it like that? What about without docker?

[2022-11-20 20:50] junwoo091400 commented on #14835
Yup, and without docker it is not reproducible. So it has to be with the docker container I think

[2022-11-20 21:42] julianoes commented on #14835
I hate debugging in docker. Ok thanks for the info!

[2022-11-20 22:06] julianoes commented on #14835
It doesn't seem to stall for me. I'm letting it run again and again.

[2022-11-21 03:00] ryanjAA opened #20644 "Minimum RTL altitude not abided by"
On Main (see log - SITL).

When minimum Return altitude is set higher to current alt and the vehicle is put in return, it doesnt climb.

https://review.px4.io/plot_app?log=740ea31d-34e3-4904-888f-1607481cabb2

[2022-11-21 03:36] tayyabkhalil-313 commented on #20632
ModuleNotFoundError: No module named 'future'

Seems like python library 'future' is missing. Install it by running '`pip install future`' (or  '`pip3 install future`' if you have pip3).

[2022-11-21 10:04] Ecuashungo commented on #20634
I tried to launch it with `-v 6` which is the maximum verbosity and I still get the same error. There are some extra messages, that I don't understand right now:

[code]
Does the data mean anything to you?

In the meantime I have tried the same setup with a pixhawk 4 on the TELEM 2 port. Is it correct to set MAV_1_CONFIG to Disabled and the XRCE_DDS_0_CFG to TELEM2?

I will try to do the same with

[2022-11-21 10:47] theojaasp opened #20646 "Loiter counterclockwise NAV_LOITER_RADIUS in firmware 1.11.3"
I want to loiter counter clockwise.
When I do the mission plan I can do that with a - in front of the raduis I want to fly the Loiter WP.
But when not reaching the altitude of Loiter WP it loiters clockwise with the value we gave at NAV_LOITER_RAD. This leads to problems because the plane has to change to counter clockwise then. How can I loiter counterclockwise when using NAV_LOITER_RAD?? Will a

[2022-11-21 11:43] Ecuashungo commented on #20634
@dagar I have tried to do the same setup with my development computer running ubuntu 20.04 and ROS2 Galactic and I could make it work just fine. Therefore, the error must be somewhere on my companion computer setup.

I have tried to reinstall the `micro_ros_agent` and during the re-installation there was a warning:

[code]

Could this be part of my problem?

[2022-11-21 15:04] trddo commented on #17352
Was there a final conclusion, (fix) for this issue?
I am also experiencing this same phenomenon.
I was temporarily able to connect after uninstalling all drivers, then reinstalling latest drivers.msi PX4, however this only worked for a one time connection.

[2022-11-21 17:52] wsolichin-sees commented on #20610
Update with the I2C sensor startup issue. For the distance sensors, I have added a `_retries = 1;` in line 126 of the `ll40ls.cpp` file here: https://github.com/PX4/PX4-Autopilot/blob/release/1.13/src/drivers/distance_sensor/ll40ls/LidarLiteI2C.cpp#L126, and that seems to fix it.

For the IR-Lock, I noticed that providing external power to the IR-Lock, rather than using the Pixhawk flight controll

[2022-11-22 09:56] MineCold20 opened #20650 "Make target px4_sitl_rtps not found"
Hello everybody!

I'm trying to setup ROS 2 - PX4 bridge as shown in https://docs.px4.io/main/en/ros/ros2_comm.html. Troubles started with "Sanity Check the Installation" section where I'm supposed to run `make px4_sitl_rtps gazebo` command. When I run the command in the guide the output is:

I've already build the PX4 Software by sending `make px4_sitl jmavsim`. After this, I've got only one fold

[2022-11-22 10:15] danielhonies commented on #20609
Thanks @AlexKlimaj

[2022-11-22 10:15] #20609 closed

[2022-11-22 11:58] HadesGuy opened #20652 "Installation"
Hi
I have tried to install px4 using the documentation: https://docs.px4.io/main/en/dev_setup/dev_env_linux_ubuntu.html and
https://docs.px4.io/main/en/dev_setup/dev_env_linux_ubuntu.html

Using ubuntu 18 on a VMware machine.
I have put the commands that I`ve last ran below.
The error says there must be an issue with line 29 in the requierements.txt file in /home/sim/PX4-Aautopilot/Tools/setup/req

[2022-11-22 16:39] Jiajian-Chang commented on #20629
I found the reason is that the set point of roll and pitch angle is not zero. From the estimated angle, the IMU looks ok. I have no idea why this happens. I can exclude the vibration reason because I isolated the controller and put it on the ground. I changed a new controller and it works well.

https://review.px4.io/plot_app?log=a78dd24b-aa3c-4cd8-9fec-590c9b88024d

[2022-11-22 22:02] junwoo091400 commented on #20608
That `parameters.xml` needs to be recognized by QGC. For that, there's 2 different ways:

1. Using `COMPONENT_METADATA` (which fetches the Parameters metadata from the vehicle)
2. QGC fetching the parameters xml while uploading the Firmware file (.px4) to the target

Are you using real hardware (Did you flash .px4 via QGC)? Or a SITL (it should utilize the first method by default)

You can read ab

[2022-11-22 22:05] junwoo091400 commented on #20644
Sort of related to https://github.com/PX4/PX4-Autopilot/pull/19971, @MaEtUgR didn't you say that the RTL altitude setting is practically ignored under certain conditions due to the RTL cone logic?

[2022-11-22 22:11] junwoo091400 commented on #9331
Effort being continued at: https://github.com/PX4/PX4-Autopilot/pull/15949

[2022-11-22 22:12] junwoo091400 commented on #8570
Possibly duplicate / strongly related to: https://github.com/PX4/PX4-Autopilot/issues/12429 ?

[2022-11-22 22:13] junwoo091400 commented on #9318
Not sure if this is still relevant?

[2022-11-22 22:14] junwoo091400 commented on #9343
Still relevant? @Stifael

[2022-11-22 22:23] junwoo091400 commented on #10898
The "Quadrotor Asymmetric" frame doesn't seem to be processed/exist: https://github.com/PX4/PX4-Autopilot/blob/855eb42c59ef39f307b00b69cc628203f0150c4f/Tools/px4airframes/srcparser.py#L40-L110

And it doesn't exist as an airframe either: https://github.com/PX4/PX4-Autopilot/search?q=Quadrotor+asymmetric

One frame was added in this type in this commit: https://github.com/PX4/PX4-Autopilot/commit/8

[2022-11-22 22:24] junwoo091400 commented on #11469
😢

[2022-11-22 22:25] junwoo091400 commented on #12538
This was also discussed in discord server as well: https://discord.com/channels/1022170275984457759/1032055573753118742/1034513943013638144

[2022-11-22 22:27] junwoo091400 commented on #12007
@tops4u Could you check again if this still happens now? Although it is super old issue 😆

[2022-11-22 22:29] junwoo091400 commented on #12087
Code location changed: https://github.com/PX4/PX4-Autopilot/tree/main/src/drivers/imu/bosch/bmi055

@ksschwabe would you be able to check on current code, whether this still exists?

[2022-11-22 22:31] junwoo091400 commented on #14835
Maybe related: https://github.com/PX4/PX4-Autopilot/issues/11257

https://github.com/PX4/PX4-Autopilot/issues/11380

Still open: https://github.com/PX4/PX4-Autopilot/issues/11280

[2022-11-22 22:32] junwoo091400 commented on #14835
Oh ok, I will try again, last time I tried it (unless I messed up the reproducing code up there 😆), I could trigger it consistently.

[2022-11-22 22:34] junwoo091400 commented on #12897
🤔

[2022-11-22 22:37] junwoo091400 commented on #12050
Is this not solved by https://github.com/PX4/PX4-Autopilot/pull/17404?

[2022-11-22 22:38] junwoo091400 commented on #12931
@sfuhrer any ideas? Or whether this is necessary / feasible?

[2022-11-22 22:39] junwoo091400 commented on #13054
Oh noticed this too with X500 V2, as it was shaking a lot with default parameters 🤔

But according to that user's post in the forum, it was fixed in PX4 version 1.9.0 - rc2: https://discuss.px4.io/t/default-s500-airframe-configuration-not-flyable-with-default/12394/4

[2022-11-22 22:39] #13054 closed

[2022-11-23 07:27] ksschwabe commented on #12087
@junwoo091400 It seems to me that the new driver is no longer reading out the temperature from the "Reserved" register. So, this resolves my initial concern. However I can't see how the temperature for the "gyro device" is now being set, so that you can perform temperature compensation on the data. Which is peculiar, because gyros exhibit rather strong temperature drift.

[2022-11-23 07:28] HadesGuy opened #20657 "HITL issues"
Hi

I am following the Documentation on https://dev.px4.io/v1.10_noredirect/en/simulation/hitl.html for HITL.

It does not appear to have the folders: Tools/sitl_gazebo/models/iris/iris.sdf

The sitl_gazebo/models/iris/iris.sdf does not exist.

I am trying to run HITL simulation on a mRo 2.1 but the documents and what is in QGC does not match and is a bit confusing.

Can you elaborate the tutorial

[2022-11-23 07:32] HadesGuy commented on #20657
Never mind I have found it:

it is in /PX4-Autopilot/Tools/simulation/gazebo/sitl_gazebo/models/iris/iris.sdf

I hope it helps other with the same issue.

[2022-11-23 07:32] #20657 closed

[2022-11-23 11:18] igal-colugo opened #20658 "air speed - pitot erroneous behavior - sporadic readings"
hi,
we are using the px4 version 1.13.0 on a cube black with MS4525DO pitot,
in VTOL mode.
we always experiencing a very glittery air speed measuring , even after repeated pitot calibration,
sometimes we get negative air speed readings - even when in fixed wing mode - while flying forward..

Steps to reproduce the behavior:
1. use a VTOL generic air frame
2. takeoff in MC state - stabilize mode
3.

[2022-11-23 12:49] sfuhrer commented on #12931
As far as I understand this was solved with https://github.com/PX4/PX4-Autopilot/pull/13987

[2022-11-23 12:49] #12931 closed

[2022-11-23 15:43] dagar commented on #20658
It starts to look okay at speed, but otherwise it's pretty bad. For that particular sensor you'll need to calibrate often (it's sensitive to temperature changes). That might explain the offset, but I'm not sure about those spikes (more prominent in the second half).

![Screenshot from 2022-11-23 10-38-38](https://user-images.githubusercontent.com/84712/203587552-2676b139-4b99-42e0-85d6-08f457bb934

[2022-11-24 03:23] tayyabkhalil-313 commented on #20652
It seems like pip is unable to find the required version for sympy, although versions newer or equal to 1.10.1 do exist. Can you try manually installing sympy by using `pip install sympy==1.10.1`. Try with pip3 if that doesn't work.

[2022-11-24 11:59] igal-colugo commented on #20658
Hi Daniel,

Yes- when I press my finger against the dynamic pitot hole – I get a steady – hi speed reading

Do you need any more information, I have numerous flights with the same issue,

Btw, can you recommend a more suitable pitot?

Igal Gosis

Software

E ***@***.*** ***@***.***>
36 Hayarkon st. I Yavne Israel I 8122739

colugo-sys.com <http://colugo-sys.com>  |

From: Daniel Agar ***@***.***>

[2022-11-24 13:20] biagio-trimarchi opened #20667 "Drone do not take off in offboard control example"
## Describe the bug
I am following the "ROS 2 Offboard Control Example" in the documentation: https://docs.px4.io/main/en/ros/ros2_offboard_control.html
The simulated drone arms the motor but does not take off as expected.

## To Reproduce
Steps to reproduce the behaviour:
1. Run gazebo simulation: make px4_sitl gazebo
2. Run QGroundControl
3. Run micro ROS agent for communication: micro-ros-agent

[2022-11-24 14:30] lvanasse opened #20668 "Issues when using the SITL GZ launch configuration through VSCode Launch and Debug panel on Ubuntu 22.04 LTS"
## Describe the bug
At the moment, when using the Launch and Debug window in VSCode and using the launch configuration `SITL (GZ)`, I get the error that `ign` command is not found on Ubuntu 22.04.

## To Reproduce
Steps to reproduce the behavior:
1. On an Ubuntu 22.04 LTS, download PX4 GitHub project with its submodules
2. Install the dependencies with the `ubuntu.sh` script and use the argument `

[2022-11-24 16:17] fabrizioschiano commented on #20667
I had the same issue regarding the `No Manual Control input` and solved it by doing the following:

- Download [QGroundControl.AppImage](https://d176tv9ibo4jno.cloudfront.net/latest/QGroundControl.AppImage).
[code]
- Install QGroundControl
[code]
- Run QGroundControl (Check if the software works on your computer).
[code]

Then, enable `virtual joystick` to deactivate `No Manual Control Input`. As

[2022-11-24 16:29] fabrizioschiano commented on #19349
@MaEtUgR Please check if this is somehow related to your problem: https://github.com/PX4/PX4-Autopilot/issues/20667#issuecomment-1326648176

[2022-11-24 16:46] Jaeyoung-Lim commented on #20667
@biagio-trimarchi  You need to switch the vehicle into offboard mode

[2022-11-24 17:17] #20668 closed

[2022-11-24 20:59] ripdk12 commented on #20650
Use the stable releases if you want to follow the docs.
Micro-RTPS has been removed in the main branch, and the documentation isn't quite ready yet.

[2022-11-25 01:23] Hexiang-W commented on #19266
@mengchaoheng Hello mate, I wonder how you solve "make px4_sitl gazebo" error. It seems like i cannot even make px4_sitl_default.

`hexiang_w@dhcp-10-248-215-76 PX4-Autopilot % make px4_sitl_default
-- PX4 version: v1.13.0-beta1-1239-g85e9c17a5e
-- Found PythonInterp: /usr/local/bin/python3 (found suitable version "3.10.8", minimum required is "3")
-- PX4 config file: /Users/hexiang_w/PX4-Autopilo

[2022-11-25 12:49] Muammer06 commented on #19648
hello, can you update about your rover?
Which one you selected as a Autopilot and what's the status right now?

[2022-11-25 13:15] saitella opened #20670 "Yaw rotation of drone"
Hi Bresch

 I am flying quad coaxial with cine66 motors recently I had a race due to decent speed is too high met with a hard landing and crashed  after the next flight I calibrated the compass and changed the decent speed of landing and from here the issue started it is spinning when in take off even in manual mode it is not take even the stick yaw input when I gave counter to it .Can you please

[2022-11-25 14:05] Woody363 commented on #20582
Hi Alex, yes the gauge was originally calibrated using bqstudio, the issue I'm having is that the voltage and current reported in bqstudio is double the voltage reported in PX4.

I've noticed that it's only the "Cell Voltage" from bqstudio that is important for the voltage calibration seen from PX4, and also looking at the battery status from Mavlink only shows three cell voltages rather than 6 (w

[2022-11-25 16:26] biagio-trimarchi commented on #20667
I was able to run the example only after executing the command:
- commander mode offboard
on the px4 terminal as suggested by @Jaeyoung-Lim.
Shouldn't the offboard mode be activated by the ROS2 node provided in the example?

[2022-11-25 16:30] Jaeyoung-Lim commented on #20667
@biagio-trimarchi Not really, since it is not safe to automatically enable offboard if you are testing on a real platform.

Especially given that ros2 you are publishing internal uorb messages directly.

[2022-11-25 16:54] biagio-trimarchi commented on #20667
Thanks for the explanation. :)

[2022-11-25 16:54] #20667 closed

[2022-11-25 20:50] AlexandreBorowczyk commented on #14900
@roman-dvorak
Did you manage to find a solution? I believe we have the same issue. I have check with a oscilloscope but the servo motion is the same

[2022-11-25 21:56] roman-dvorak commented on #14900
Hi, no I haven't fixed it and I don't even know if it still occurs with today's FW.
I solved it by not using the first PPM output. Others do not suffer from this problem. Fortunately, we had some outputs free.

[2022-11-26 07:10] ElliotHYLee commented on #20667
I had the same issue and was able to resolve thanks to this thread.

Could I know what the QGC virtual joystick option does for the PX4 internally? Does it configure any parameters of any module in PX4? If not, is the gazebo somehow directly talking to QGC? I checked that if I don't turn on QGC, it does not hover.

For debugging purposes (no battery and PWM wires are connected), if I force to turn

[2022-11-26 13:52] xuhao1 opened #20672 "Wrong MAVLink output frequency."
## Describe the bug
I am using a Kakute H7 board and using the stable branch of the code.
I found the **_main_loop_delay** in __src/modules/mavlink/mavlink_main.cpp__ controls the max output frequency of MAVlink. And the frequency looks incorrect.

## To Reproduce
However I found, when  _main_loop_delay is 1500us (the smallest in default), the maxium output frequency of MAVLink message is 333Hz (H

[2022-11-28 04:03] slgrobotics commented on #19846
I am having the same problem on a ground vehicle (gas powered lawnmower) - something that hasn't been happening half a year ago. I have an 9250 IMU which I run on SPI with no magnetometer, and a separate RM3100 magnetometer on I2C. It runs on Raspberry Pi 3 under Ubuntu Server 20.04, I am using emlid_navio2 build. In my experiments the EKF2 heading abruptly changes 90 degrees and stays there. It h

[2022-11-28 04:28] ryanjAA commented on #19846
@slgrobotics upload a log

[2022-11-28 05:31] slgrobotics commented on #19846
Here's a log with EKF2 heading jump at mark 480 sec
![Screenshot from 2022-11-27 23-29-47](https://user-images.githubusercontent.com/16037285/204201136-6b6f3aec-04ae-4dd7-8545-3392a0fd37d0.png)

[log11.ulg.zip](https://github.com/PX4/PX4-Autopilot/files/10100697/log11.ulg.zip)

[2022-11-28 05:34] slgrobotics commented on #19846
BTW, I am using an RTK GPS, so when the vehicle is moving - GPS heading over ground is very precise.

[2022-11-28 07:23] ttropcic commented on #20658
I was experiencing the same.
We didn't fly with it yet, only tested on the bench, but the Sensirion SDP3x Airspeed Sensor looks a lot more temperature stable and is having less of those sporadic readings.

[2022-11-28 09:24] bresch commented on #20629
The setpoints are not zero because of the RC sticks. You probably have some trim values set on the remote.
![DeepinScreenshot_select-area_20221128102200](https://user-images.githubusercontent.com/14822839/204240641-bfa0f8a3-ac32-4806-8a49-22f9caf31d44.png)

[2022-11-28 10:09] PetervdPerk-NXP commented on #20642
The UAVCAN can drivers run in userspace i.e. they dont use the NuttX HAL layer.
https://github.com/PX4/PX4-Autopilot/tree/main/src/drivers/uavcan/uavcan_drivers

I've been working on the SocketCAN implementation layer but that's only tested on the UCANS32K146 in theory we could move all the drivers to the SocketCAN HAL layer so we can easily use CAN with multiple apps on multiple platforms using t

[2022-11-28 10:11] Ecuashungo commented on #20634
After raising the [issue on the agent side](https://github.com/micro-ROS/micro_ros_setup/issues/597), I have managed to make the microdds_client to agent bridge communicate just fine using the Micro XRCE-DDS Agent instead of the micro-ros-agent.

I was able to run an offboard example using HITL and commanding trajectory setpoints from the raspberry pi companion computer. One problem that remains i

[2022-11-28 10:59] igal-colugo commented on #20658
thank you for the input ttropcic!
we will try it to!

[2022-11-28 15:48] wooi commented on #20550
it's works for me

[2022-11-28 15:51] slgrobotics commented on #19846
I tried the same in SIM, no matter how much I turn - the heading stays good.

![Screenshot from 2022-11-28 09-49-31](https://user-images.githubusercontent.com/16037285/204321438-6f122deb-829d-450b-b7c0-e80ba3de08ac.png)

[2022-11-28 16:05] astekachev commented on #20642
Hi Peter!
I have FMU-V6X board and some time ago I wrote a driver to get data from MMW radar via CAN bus. But it turned out to be not working for the above reasons, then I tried to understand how FMU-V6X boards interacts with the CAN bus, because there is no driver at NuttX level. It turned out that the Socketcan UAVCAN with Cyphal is initialization of the CAN bus port and work with it, but only w

[2022-11-28 16:27] PetervdPerk-NXP commented on #20642
Hi Alex,

So the situation is as follows

1. A dedicated CAN driver used by UAVCAN that claims the full CAN pheripheral and runs the driver in userspace
2. NuttX Character device CAN driver in NuttX /dev/canX but only works with 1 application at a time.
3. NuttX SocketCAN driver (Same as the Linux SocketCAN) that allows you communicate with CAN using Sockets and supports multiple applications usin

[2022-11-28 16:48] astekachev commented on #20642
Peter, thank you for your comment!
Then I will go the way of the bridge node UAVCAN. Then I will need to buy a radar with UART interface connect it to Teensy 4.0 and send data by the CAN bus with UAVCAN protocol but at a speed of 1Mbit

[2022-11-28 18:25] #9331 closed

[2022-11-29 09:59] MineCold20 commented on #20650
I used the last stable release (1.13.2) and I followed the docs but the error occurred. Is it possible that the repository has been updated without Micro-RTPS and the documentation refers to previous version?

[2022-11-29 11:52] Woody363 commented on #20582
Update:
I have discovered that there should be a parameter of BAT1_C_MULT which I assume should be able to fix the current factor of two that we're experiencing.  https://github.com/PX4/PX4-Autopilot/blob/main/src/drivers/batt_smbus/parameters.c

However, the BAT1_C_MULT parameter isn't accessible on our build, not visible in the parameters list or in parameter list via mavlink ""param show ". We

[2022-11-29 13:19] #20582 closed

[2022-11-29 13:46] MikeCharikov opened #20677 "Geofence_breach_check doesn't rely on GF_SOURCE anymore. Always uses global_pos.*"
## Describe the bug
Since 1.12 geofence_breach_check doesn't take into the account value of GF_SOURCE parameter. It always uses global_pos.*  So during no_global_pos drone can breach geofence significantly.

Here is the code from 1.12. from new geofence_breach_check function. It uses only global_pos as the source of drone location.

`_gf_breach_avoidance.setHorizontalTestPointDistance(test_point_d

[2022-11-29 17:38] vincentpoont2 opened #20681 "Auto-detect INAXXX Digital Power Sensors"
Currently, when users use a INA228 or INA238 Power sensors with FMUv6X, they will have to go enable & disable the parameters manually. Is there a way to Auto-detect or enable them all so user do not have to find out what sensor they have in the power module and then manually configure this?

![image](https://user-images.githubusercontent.com/46874772/204601367-a53a326d-4667-4a26-8dcc-981d049c3caf.

[2022-11-29 19:08] slgrobotics commented on #19846
My bad, sorry. Here is the same log compressed properly using Linux (Ubuntu 20.04) zip utility (8595365 bytes)
[log11.ulg.zip](https://github.com/PX4/PX4-Autopilot/files/10116428/log11.ulg.zip)

[2022-11-29 19:23] slgrobotics commented on #19846
My bad, sorry. Here are two logs, log11 is as described above, log12 shows similar heading jump. Let me know if you need different data - what would be the SDLOG_PROFILE you want (I have it set to decimal 123).
[log11.ulg.zip](https://github.com/PX4/PX4-Autopilot/files/10116573/log11.ulg.zip)
[log12.ulg.zip](https://github.com/PX4/PX4-Autopilot/files/10116575/log12.ulg.zip)

[2022-11-29 20:11] dagar commented on #20681
What's the full list of possible power modules?

Can we assume only the power ports and 1 INA per bus?

[2022-11-30 00:03] dirksavage88 commented on #20634
@Ecuashungo The microxrcedds agent you installed uses a superbuild cmake to fetch dependencies, it probably would have resolved the libfastrtps dynamic library issue. It looks like you had a newer version of libfastrtps installed.

[2022-11-30 08:20] AllisonOge commented on #20652
@HadesGuy I solved mine by installing a higher python3 version (3.10) and upgrading pip. The latest version of sympy needs 3.8 or higher if I am not mistaken

[2022-11-30 09:04] zcelil commented on #20634
I am also in HITL mode but I can't find microdds_client in mavlink shell. I'm planning to do the same ros2 offboard example via serial configuration. So, I need to run microdds_client serial on the host computer (px4 side) but there is no microdds_client command and XRCE_DDS_0_CFG parameter at all. My board is fmu_v5 and im in HITL mode. Do you have any ideas about what might be the problem?

[2022-11-30 12:27] danielhonies opened #20685 "VTOL Control Allocation Bug"
## Describe the bug
A standard VTOL with two pusher motors will not yaw in MC mode if VT_FWD_THRUST_EN is disabled. Due to VT_FWD_THRUST_EN being always disabled in stabilized the vehicle will not yaw at all in that mode.

I suspect this is due to CA trying to use the pushers with differential thrust but the VTOL code disables them in MC mode on a higher level if the parameter is not set. I reprod

[2022-11-30 13:06] danielhonies commented on #20652
This works for me as well, other solution is to go to 20.04 or 22.04

[2022-11-30 13:31] hichamhendy commented on #18049
@eldewany can you confirm if the LED is/was solid red or turning to blue? Do you still have the same problem?
I'm struggling with that in the meantime. It worked at the beginning; yet now not more. The led is solid red and mavlink inspector doesn't show the optical flow message used to have

[2022-11-30 14:01] hichamhendy opened #20687 "Arkflow flashes solid RED"
## Describe the bug
A clear and concise description of the bug.

I need to use the arkflow to calculate an estimate of the position. The sensor is working just fine sice I tried with another flight controller (cube) and all good. Ad I said, it worked one before but at some point, I used othe parameter configuration to fuse SLAM and after that tried to have both together; yet, I noticed the sensor

[2022-11-30 14:03] hichamhendy commented on #13609
Any news on that?

[2022-11-30 16:41] AlexKlimaj commented on #18049
@hichamhendy Is your flight controller sd card installed and working? The ARK Flow won't boot without an SD card in the flight controller. Its needed by PX4 for the cannode database.

[2022-11-30 16:42] AlexKlimaj commented on #20687
https://github.com/PX4/PX4-Autopilot/issues/18049#issuecomment-1332445085

[2022-11-30 18:17] hichamhendy commented on #18049
Ja I double-checked on that `df -h` shows the sd and I can go in the directory  `cd`.

[2022-11-30 18:21] AlexKlimaj commented on #18049
Try formatting the SD card

[2022-11-30 20:04] hichamhendy commented on #18049
I've not tried that yet. However, I used the same SD (as it is) on another flight controller (cube orange) and it worked on the version 1.13. I then downgraded to 1.12.3 and got the same behavior again as by Holybro on both versions 1.13 and 1.12.3!!
I also built the arkflow and took XX.uav.bin and placed it in the sd root directory then flashed it through `uavcan start fw` and in the folder ufw g

[2022-11-30 23:58] AlexKlimaj commented on #18049
@hichamhendy It should be 80.bin for the ARK Flow. See attached binary built of main.

[80-0.1.c5dc1221.uavcan.bin.zip](https://github.com/PX4/PX4-Autopilot/files/10128179/80-0.1.c5dc1221.uavcan.bin.zip)