[2019-05-30 09:26] Paul-DROTEK commented on #12082
Hi,
Yes MAGSELFTEST has been removed since August 2018 in PX4 firmware version 1.9.0 alpha
see here : https://github.com/PX4/Firmware/commit/bb9c38a4803962c074ce0d49a57b64588f7b2a36#diff-aca721e521ad24ed19d30ebf3dd39374

[2019-05-30 09:32] jbeyerstedt commented on #12104
Just to be clear: The argc and argv are consistent in both NuttX and POSIX and the same as "standard" POSIX (application name as first argument), when an application's main function is called. Just the task creation in POSIX does not fit all of the other argument lists.
Therefore I would recommend to change the SITL/ POSIX implementation, because it's the only part, that does not match the other o

[2019-05-30 18:47] altshuler opened #12122 "GPS Failure while PID tuning"
Hello
I have Intel Aero RTF.
PX4 version - v1.9.0-rc
For a while facing some Z position floating.
When I tried to solve this issue I tuned Z velocity  and position PID.
While changing MPC_Z_P to 2.0 vehicle suddenly lost GPS readings, switched to altitude mode, started flying aside and than failed. Anybody see any problem ?
Here attached [flight log.](https://logs.px4.io/plot_app?log=aa19456c-0139

[2019-05-30 20:21] Antiheavy opened #12124 "FW_LND_THRTC_SC description messed up"
Not sure if this is the correct place to report this.  The Param description for FW_LND_THRTC_SC seems messed up on dev/px4.io   lots of ="" stuck in the text

see screenshot:
![image](https://user-images.githubusercontent.com/12117027/58661864-86636900-82ee-11e9-8427-19469e5f7ba4.png)

[2019-05-30 20:46] dagar commented on #12124
I bet it's the less than here. https://github.com/PX4/Firmware/blob/e4926373e6febe9d6c133975f40bee8c605db5e2/src/modules/fw_pos_control_l1/fw_pos_control_l1_params.c#L399

[2019-05-30 22:03] #12124 closed

[2019-05-31 00:28] JohnSnowball commented on #12071
@LorenzMeier please tell me how to share my branch with you, make a pull request?
As one year ago I use 1.6.5 version and encountered the same problem, I don't think this crash is unique and my branch only changed gps driver part.
And I tested in both hil and real test for different firmware versions( 1.8.2\1.8.1\1.7.2), things are the same. You could easily reproduce this bug.
I will try 1.9 as s

[2019-05-31 09:46] roseyangyu commented on #12093
You can add "printf("px4_open")" and you can get it through serial4/5

[2019-05-31 10:08] myeabhishek opened #12129 "Unable to build tag 1.7.2 because of missing commit in uavcan library"
Hello team,

I can't build tag 1.7.2 because the submodule of libuavcan is missing the commit to which this version was released. There could be some issue with that repository. I am facing the following issue on updating submodules.

fatal: reference is not a tree: e1c9a4f5064a336295125da25c0542a5cd601dd7
Unable to checkout 'e1c9a4f5064a336295125da25c0542a5cd601dd7' in submodule path 'src/modules

[2019-05-31 10:36] caomuqing opened #12130 "Telemetry Uplink not working if sd card disconnected accidentally"
**Describe the bug**
A clear and concise description of the bug.
A flight plan is pre-planned and uploaded to the vehicle. Before flight, sd card reads ok. During auto mission, the SD card accidentally lost connection(not sure why), then the telemetry uplink also does not function anymore, meaning whatever command sent from QGC will not be executed by the UAV at all(an error will be prompted). How

[2019-05-31 11:09] mhk4zemi commented on #11870
thanks the problem solved.
The problem was about setting the inertia matrix wrong.

[2019-05-31 11:09] #11870 closed

[2019-05-31 11:16] mhk4zemi opened #12131 "OCTA-CONFIGURATION problem with px4 gazebo sitl"
Hi guys

I have created one octocopter model in the SDF file and I created the correspondence mixer and posix files too.
The problem is that after sending the arm command, by typing the command:
`` commander arm ``

it says the takeoff is detected and only 4 rotors in the once side of the drone start rotating and as a result, it crashes.

The same behavior will happen, if I takeoff by typing the c

[2019-05-31 18:46] nkadioglu opened #12134 "Failed Test [D2]"
<p>This is from TestQuality</p>

[2019-05-31 18:46] nkadioglu commented on #12134
`Created by TestQuality - Linked to TestQuality.com defect D2. Do not remove or edit.` [D2](https://3dr.testquality.com/project/6731/result/1210391/defect/4214)

[2019-06-01 00:18] mhk4zemi commented on #12131
I even changed the standard_vtol with 8 rotors with the octo_x configuration. But still, I have the same problem.

Here is the report of the flight in the simulator

https://review.px4.io/plot_app?log=0c474a4b-7fe9-498d-ae4c-469c277d5bf6

[2019-06-01 09:21] Jaeyoung-Lim commented on #12029
@jannsta1 Have your SITL simulation ever crashed when sending actuator setpoints? Sending actuator setpoints over mavros seem to make the SITL crash

[2019-06-01 10:14] jannsta1 commented on #12029
@Jaeyoung-Lim - it was just the vehicle that was crashing... not gazebo itself. Although I was killing the simulation fairly soon after the loss of control.

Let me know if you want me to try anything in particular (e.g. send a particular message on a control group at a certain rate).

I wonder if you have any suggestions on fixing the central issue? assuming you have identified the root cause (wh

[2019-06-01 11:39] codabat commented on #12082
Hi @Paul-DROTEK, hi @ch3sn3k, hi all,
thanks for your feedback I updated the firmware to version 1.9.0.
I tried to recalibrate both without the eternal GPS on board.
After the calibration, I get the message "Internal compass inconsistent," and I am unable to arm the drone.
Moreover, I note that with the 1.9.0, the "GPS lock" occurs in very long times. The time required to carry out the "GPS lock"

[2019-06-01 12:12] Jaeyoung-Lim commented on #12029
@jannsta1

I have tried disabling the ignore flag when the `group_mlx=2` However, this still results in erratic behavior of the setpoints.

For context: I am currently sending setpoint body_rates and thrust commands that make the drone follow a trajectory, while sending `actuator_control` topics with `group_mix=2` to control the gimbal

[2019-06-01 13:34] jannsta1 commented on #12029
@Jaeyoung-Lim - could it be that another module is also publishing to the same actuator_controls topic at the same time? Having a look at the [topic factor graph](https://dev.px4.io/en/middleware/uorb_graph.html) my interpretation is that the mavlink module would subscribe to actuator_controls_XX topics rather than publish to them?

[2019-06-01 13:53] anandbaskaran opened #12138 "Infinitely flying up during RTL"
We have been flying mission mode with the stable release 1.8.2 of PX4 (with Pixhawk 4: fmu-v4) between two points that are 700m away. We used RTK GPS, and a barometer for position and altitude estimation. The drone took off (to the altitude of 25m) and started towards the next waypoint.

A few seconds later, the manual pilot engaged `RTL Home` and the drone started to climb up with full throttle.

[2019-06-01 22:40] Jaeyoung-Lim commented on #12029
Indeed, there is a process that is resetting the gimbal control values. I made a small fix so that at least I can control the gimbal when I stream actuator setpoints at 100Hz.
The problems that I can see is two fold.

1. The gimbal control topics are reset to 0 for whatever reason resulting in oscillatory behavior for low rate setpoints

The actuator outputs in SITL are as the following.
- Sending

[2019-06-02 02:28] weekly-digest[bot] opened #12143 "Weekly Digest (26 May, 2019 - 2 June, 2019)"
Here's the **Weekly Digest** for [*PX4/Firmware*](https://github.com/PX4/Firmware):

 - - -
# ISSUES
Last week 66 issues were created.
Of these, 32 issues have been closed and 34 issues are still open.
## OPEN ISSUES
:green_heart: #12142 [sih: move to PX4Accelerometer/PX4Gyroscope/PX4Magnetometer/PX4Barometer helpers](https://github.com/PX4/Firmware/pull/12142), by [dagar](https://github.com/dagar

[2019-06-02 11:49] Jaeyoung-Lim commented on #12029
Suppressing the outputs from `output_rc.cpp` by commenting out the following fixes the problem.

https://github.com/PX4/Firmware/blob/5ba56c8c2cb7b48b6987ac06a503fd8841eb9925/src/modules/vmount/output_rc.cpp#L74-L84

log: https://review.px4.io/plot_app?log=b47fbcf5-babb-402e-9fdd-017e7b09c179

![Screenshot from 2019-06-02 13-48-08](https://user-images.githubusercontent.com/5248102/58760796-26aecd0

[2019-06-02 14:19] jannsta1 commented on #12029
Thanks @Jaeyoung-Lim!

Just a quick point, I was stopping vmount (just by appending ```vmount stop``` to the file 6011_typhoon_h480.post) maybe this will prevent having to do what otherwise looks like a complicated fix?

[2019-06-02 15:39] TSC21 commented on #8530
Solution in https://github.com/PX4/Firmware/pull/12137

[2019-06-02 21:04] Chraebi commented on #4461
Dear all,
I'm encountering the same problem, may someone help?

Or is there another way to debug?
Kind regards

[2019-06-02 22:57] hamishwillee commented on #4461
@Chraebi Please don't append to old closed issues. If you're after general help post on the discussion boards. If you clearly have a bug then create your own new issue including all the information about what you're seeing, the platforms you're using, how you're testing. If you are fairly sure that the problem is the same, link to this old issue.

[2019-06-03 00:31] Jaeyoung-Lim commented on #12029
@jannsta1 Thanks. You are right. Stopping `vmount` solved the problem of resetting the values to 0.

[2019-06-03 01:30] Evaneee commented on #12093
I follow the https://dev.px4.io/en/debug/system_console.html
and want to connect to system console

Connect to the fmu debug port using usb2serial cable
and set putty like below, when power on pixhawk4 ,I can get some "!@#$!@#$!@#$@$@#$........."In the console
I dont know it means what

Can you help me????

在 2019-05-31 17:47:02，"Elite yang" <notifications@github.com> 写道：

You can add "printf("px4

[2019-06-03 07:12] SalimTerryLi commented on #12115
#12149

[2019-06-03 08:32] SalimTerryLi opened #12151 "Directly pickup a position in qgc and perform navigating not work on rovers."
**Describe the bug**
Directly pickup a position in qgc and perform navigating not work on rovers.
[This](https://github.com/PX4/Firmware/blob/8966ad59c77b29436f50fbf4553e07de7386c3a4/src/modules/gnd_pos_control/GroundRoverPositionControl.cpp#L260) is the cause because the navigating happens when rover is in hold mode but the following codes forced throttle into 0.

**To Reproduce**
I tried to get

[2019-06-03 12:42] group174311 opened #12152 "v1.9.0 Release. Max pwm on main outputs in stabilize mode with throttle stick zero."
In stabilized mode, on actuators outputs the maximum control signal was applied, when throttle was in zero.

**To Reproduce**
Steps to reproduce the behavior:
1. arm drone.

**Log Files and Screenshots**
https://logs.px4.io/plot_app?log=cf2378c0-ad28-4927-a5ec-c1afa80af0bf

[2019-06-03 13:49] #12143 closed

[2019-06-03 15:14] dagar opened #12155 "Investigate MC_offboard_att SITL test failure"
The `MC_offboard_att` SITL test has started failing quite regularly.

http://ci.px4.io:8080/blue/organizations/jenkins/PX4_misc%2FFirmware-SITL_tests/detail/PR-12154/1/pipeline

[2019-06-03 15:41] sfuhrer opened #12158 "VTOL airframes don't start up"
After flashing master on a pixhawk4 and selecting a VTOL frame (eg standard vtol, autostart 13000) it doesn't start up cleanly (eg it is no able to connect to QGC). Other airframes work (eg 2100 or 4001).

It seems to be something mixer related, as the start up works (get connection to QGC) if I skip the mixer loading via "set MIXER skip" and "set MIXER_AUX skip" in the config file.

@dagar @Roman

[2019-06-03 15:49] dagar commented on #12158
Do you recall the last time this specific configuration (airframe + board) worked?

Shot in the dark, could you try https://github.com/PX4/Firmware/issues/12158 quickly?

[2019-06-03 16:23] sfuhrer commented on #12158
Well with 1.9 it for example works, didn't check anything more recent.

And yes, with #12158 it works also fine.

On Mon, 3 Jun 2019, 17:50 Daniel Agar, <notifications@github.com> wrote:

[2019-06-03 16:25] bkueng commented on #12130
Thanks for the report. Can you be more specific on the commands you send and errors that you see? Which PX4 version is that?

A quick test in HIL confirms there are issues when ejecting the SD card during a mission: the `read` syscall [here](https://github.com/PX4/Firmware/blob/master/src/modules/dataman/dataman.cpp#L629) did not return anymore (I tested on a Pixracer and Pixhawk 4). Consequently

[2019-06-03 16:31] #12155 closed

[2019-06-04 06:17] julianoes opened #12164 "Intermittent CI offboard failure"
I've stumbled across a CI error here:
https://github.com/PX4/Firmware/pull/12157
http://ci.px4.io:8080/blue/organizations/jenkins/PX4_misc%2FFirmware-SITL_tests/detail/PR-12157/1/pipeline

[code]

[2019-06-04 07:58] bresch commented on #12152
Hi @group174311 , I found out that you set the parameters `PWM_MAIN_REV[1-2]`. I guess you wanted to reverse the rotation of the rotors. The effect of this parameter is to reverse a servo an not a motor as it inverts the PPM output: 1000us becomes 2000us, this is why the motors 1 and 2 went full throttle.
In order to reverse the direction of a motor, simply swap two phases.
I improved the descript

[2019-06-04 08:28] julianoes commented on #12164
Running the Iris box test locally I get yet something else:
[code]

[2019-06-04 09:00] julianoes commented on #10686
Not stale, this just cost me 1h!

[2019-06-04 09:01] julianoes commented on #12164
Ok, the params were stale due to #10686, back to the initial thing.

[2019-06-04 09:04] group174311 commented on #12152
@bresch thanks a lot. Our mistake, we whant to invert the servos for the elevons. We will double check next time.

[2019-06-04 09:04] #12152 closed

[2019-06-04 09:21] mrivi commented on #10686
@dagar this is a quite annoying issue for anyone using ROS. I try to fix it without success. Could you look into this?

[2019-06-04 10:53] #12131 closed

[2019-06-04 11:26] julianoes commented on #11280
I'm fighting with this again, this time using docker where `rostest` seems to be missing.

[2019-06-04 11:35] TobiMiller commented on #12105
ok. on my next fieldtest.

[2019-06-04 12:19] julianoes commented on #12164
Looks like I was just behind and this has been fixed by @dagar.

[2019-06-04 12:19] #12164 closed

[2019-06-04 12:52] mhkabir commented on #12105
@TobiMiller please make it a log from boot (set SDLOG_MODE to "from boot until shutdown") so that we can replay it. Thanks!

[2019-06-04 12:56] jkflying opened #12168 "Switching to mission blocked until land/disarm/arm"
Currently, the drone can be armed and flown in stabilized, altitude, position etc without having a full GPS lock. This then leads to the drone not being able to switch to mission mode _even after_ it has taken off. In order to switch to mission mode, it must first land, disarm, and then arm again. This is not very user friendly, and the error message is not very clear - "Reject Auto Mission" - whi

[2019-06-04 13:57] jkflying commented on #12138
The landing position issue is fixed here, I believe: https://github.com/PX4/Firmware/pull/12032

However I'm not sure about the altitude of RTL issue.

[2019-06-04 14:42] mhkabir commented on #12074
Looks like we need to handle altitude loss failsafes (currently not implemented iirc.)

[2019-06-04 15:08] TobiMiller opened #12169 "[RTK] Localization problem as soon as RTK is fixed"
Hey @Stifael @bkueng
i need a better and stable localization. that's the reason why i jumped from this issue https://github.com/PX4/Firmware/issues/12105 to RTK.

I have a Drotek TinyRTK Module on my UAV connected to GPS port (has no magnetometer). I have a second normal NEO 8 GPS Module connected to Telem2 and the Magnetometer to I2C. GPS2 is deactivated (i want the magnetometer). I am getting a

[2019-06-04 16:10] MaEtUgR opened #12171 "VTOL thrust bug on takeoff still existent"
**Describe the bug**
The issue extensively described in
https://github.com/PX4/Firmware/pull/12001#issuecomment-492639819
and point 5. of https://github.com/PX4/Firmware/pull/12014#issue-278399940
is still existent on VTOLs (also in the release 1.9).

**To Reproduce**
Reproducable in SITL with the Deltawing
1. Start simulation with joystick configured
2. When GPS is locked but it's still in Manual

[2019-06-04 20:21] parakhm95 opened #12180 "Quadrotor keeps jumping when flying in altitude mode"
#### Description
The problem occurs in altitude mode whether I switch in-flight or before takeoff. When the robot is taking off, it keep gaining altitude and doesn't come down. If you lower the stick to zero, it keeps climbing but starts jumping in the air. It falls for a few milliseconds and then gains thrust. It keeps repeating this while continuously gaining altitude. Same thing happens if you

[2019-06-05 08:22] bkueng commented on #12169
The log shows it never goes into fixed RTK mode, but falls out of RTK for the 3rd movement.
What link do you use for the RTCM data?

[2019-06-05 09:19] julianoes opened #12189 "SERVO_OUTPUT_RAW filled with garbage"
It seems that channels > 8 of the `SERVO_OUTPUT_RAW` MAVLink message is filled with garbage / uninitialized memory.

![Selection_003](https://user-images.githubusercontent.com/1419688/58945252-c6f63300-8783-11e9-858e-cc0e92c8c3f5.png)

[2019-06-05 09:21] julianoes commented on #12086
Question 1: That's interesting, I can reproduce this.

Question 2: The output of `/dev/pwm_output1` does not seem to change in the MAVLink output. I wonder if the data reported via MAVLink is wrong or if the PWM actually do not change. @Evaneee have you checked that?

[2019-06-05 09:23] julianoes commented on #11640
@michaelpantic I can reproduce the issue that the test output does not work, however, I have not seen the system crashing yet. Could you give me exact steps to reproduce the crash?

[2019-06-05 09:45] caomuqing commented on #12130
I have tried changing mode command, mission upload command, both does not work. the PX4 version is 1.8.2.
![5E7CC404CAE98E5B8C5668EA1EEA9671](https://user-images.githubusercontent.com/8552623/58947012-a517a300-87b9-11e9-815f-e382cac53101.jpg)
![A2CF3936815EB3CBCF133F494B9C3709](https://user-images.githubusercontent.com/8552623/58947022-ac3eb100-87b9-11e9-8c94-5838408c2e22.jpg)

[2019-06-05 10:11] TobiMiller commented on #12169
jep. that is what i have seen today. it goes from 3D RTK (float) to 3D DGPS Lock.
HDOP and VDOP jump from under 1.0 to 100.0

i am using some Hobbyking 915mhz telemetry modules. and i send RTCM over Qgroundcontrol (the autoconf way). Do the PX4 stack and QGroundControl setup the RTK modules correct from every actual config?

[2019-06-05 10:29] jannsta1 commented on #12029
@Jaeyoung-Lim A bit off topic but have you had other problems with running the typhoon model? As of this week, if I donwload the latest repositories and try to arm/launch the typhoon_h480 model I get messages like  ```Preflight Fail: Compass #0 uncalibrated```. All other tested models (iris_xx) seem to work fine and I've tried rolling back to different commits of sitl_gazebo and Firmware but don't

[2019-06-05 11:32] julianoes commented on #12189
It turns out this is a bug in QGC and has been fixed in the new MAVLink inspector.
FYI @dogmaphobic

[2019-06-05 11:32] #12189 closed

[2019-06-05 11:48] julianoes commented on #12029
@jannsta1 have you tried `make clean` in order to make sure the param file is deleted?

[2019-06-05 12:32] julianoes commented on #12086
@davids5 I'm looking into why `motor_ramp` works and `pwm test` does not for PX4IO.

I found that `motor_ramp` uses `PWM_SERVO_SET_ARM`, `PWM_SERVO_ARM`, `PWM_SERVO_SAFETY_OFF`:
https://github.com/PX4/Firmware/blob/d5298fccbd6714bed4ee9cac8579d31f99701de9/src/systemcmds/motor_ramp/motor_ramp.cpp#L295-L311

whereas `pwm` uses `PWM_SERVO_SET_MODE` -> `PWM_SERVO_ENTER_TEST_MODE`:
https://github.com/P

[2019-06-05 12:50] codabat commented on #12082
Hello,
Sorry, no idea what causes the reported problems? Not even from the logs I included can you understand?

[2019-06-05 13:06] LorenzMeier commented on #12086
From a design perspective there should not be a test mode directly in a driver (because of this). Tests should be applied externally. So the whole test mode should be stripped.

[2019-06-05 13:07] davids5 commented on #12086
PWM test - it was a change in the FMU that I needed the test mode flag for. The flag/mode just prevents the real mixer output from stepping on the test output.

[2019-06-05 13:10] julianoes commented on #12086
I have no strong opinion but I would like have one way only, or if we really need both ways then both need to be implemented everywhere. We can discuss it in today's devcall.

[2019-06-05 13:32] julianoes opened #12190 "land_detector complains about timeout"
Recently with SITL I see this error output on startup:

[code]

To reproduce:
[code]

@dagar any idea?

[2019-06-05 13:42] julianoes commented on #12104
I can confirm that the behavior is different:

NuttX:
[code]

Posix:
[code]

[2019-06-05 13:46] dagar commented on #12190
Recently as in today, or earlier?

[2019-06-05 13:53] jannsta1 commented on #12029
Thanks for the idea, I probably wasn't doing make clean as often as I should. Just been through the procedure of cloning the firmware again and now if I start gazebo with ```roslaunch px4 mavros_posix_sitl.launch vehicle:=typhoon_h480 verbose:=true``` I can takeoff with ```pxh> commander takeoff``` which I don't think I could do before. Also, now when I arm and send setpoints for a first time the

[2019-06-05 14:23] julianoes commented on #12104
From what I found we would have to add:
[code]
for consistency in all `_main()` functions where we are using `argc`, `argv`. Therefore I tend to agree with @jbeyerstedt that we should just use the POSIX convention for SITL as well.

[2019-06-05 15:47] julianoes commented on #11831
According to devcall:
@LorenzMeier will pick this up and finalize and publish his notes.

[2019-06-05 15:52] LorenzMeier commented on #11831
https://docs.google.com/document/d/1DAkW4Wy8q7MhsM6aXkyqa9AKVHXxE8AYLx20rS9pKJ4/edit

[2019-06-05 16:14] simounours commented on #10677
Hello ! Any update about to make the dodecarotor works with PX4 ?

[2019-06-05 16:47] LorenzMeier commented on #10677
@MaEtUgR Could you look into this? Thanks!

[2019-06-05 22:16] Tony3dr opened #12193 "Compass calibration fail PixRacer V4 on Master"
**Describe the bug**
Uploaded PR [#12120](https://github.com/PX4/Firmware/pull/12120) tried to arm and had an error "compass Inconsistent". Performed the compass calibrations and got error message "Error: failed to get current calibration 2". Uploaded  Master branch ac44584. To replicate the issue performed calibrations and got the same message, "Error: failed to get current calibration 2". Tried

[2019-06-05 22:37] Tony3dr commented on #12158
@dagar we are having similar issues with the Convergence, Pixhawk 4 mini. The telemetry on the vehicle is not sending the data, no connection on the Master branch. The last time we flew the unit was on PR [12096](https://github.com/PX4/Firmware/pull/12096). We just recently got the unit up and running.

[2019-06-06 01:08] dagar commented on #12193
Fix in https://github.com/PX4/Firmware/pull/12195

[2019-06-06 01:11] dagar commented on #12190
Can you try https://github.com/PX4/Firmware/pull/12196?

[2019-06-06 02:10] sunnyroad commented on #9582
I also meet same issue, when reboot with mavlink cmd PREFLIGHT_REBOOT_SHUTDOWN, occasionally it do not work, and then mixer load fail, then same such reboot not work  any more, only power off-on could solve it.
![image](https://user-images.githubusercontent.com/7277416/59001934-20716700-8843-11e9-98de-c1479143fb3a.png)
![image](https://user-images.githubusercontent.com/7277416/59001941-25ceb180-88

[2019-06-06 05:29] bkueng commented on #12130
Can you try with v1.9.0? Which hardware do you use?
In which order did you send the commands? Can you try only a mode switch after disconnecting the SD card?

[2019-06-06 05:38] bkueng commented on #12169
There can be several reasons for dropping out of RTK mode:
- the telemetry bandwidth is too low / link quality decreases when moving. You can monitor `gps status` to check that the RTCM injection rate stays stable.
- GPS signal is quality is low. You might get RTK when holding still, but as you move you lose it (I've seen this before)

Yes

[2019-06-06 09:51] taileron commented on #12094
Attention .... 1.8.2 doesn´t built with GCC 7.3.1 anymore which gets installed by the current  dependencies
1.8.2 needs GCC 7.2.1 then it works flawlessly with my Macbook Pro Sierra
1.9.0 needs GCC 7.3.1

[2019-06-06 14:02] julianoes commented on #11956
@ItsTimmy can you make a pull request for this change?

[2019-06-06 18:10] #12193 closed

[2019-06-06 19:10] sfalexrog opened #12201 "MAVLink over USB fails on battery power over time on 1.9.0"
MAVLink over USB fails when the flight controller is on battery power if there's no receiver running on the PC side during the first 1-2 seconds after the connection.

**To Reproduce**
~~1. Make sure no MAVLink receivers (QGroundControl, MAVROS, etc) are running on your PC
2. Connect your flight controller to a PC via USB
3. Wait for the flight controller to boot (let it pass bootloader + wait for

[2019-06-06 20:28] randyd55 opened #12202 "Multi-Vehicle simulation Error"
I have been attempting to run through this multi-vehicle simulation tutorial found here https://dev.px4.io/en/simulation/multi-vehicle-simulation.html
When I run the launch command, Gazebo runs and spawns the vehicles correctly, but in the terminal I get the errors
`Error binding socket`
and
`Failed to connect with daemon: Permission Denied`
I suspect that the errors stem from the fact that the tu

[2019-06-06 20:31] DanielePettenuzzo opened #12203 "High RAM usage on Pixhawk 2.1 Cube"
We have noticed that in the last few weeks the memory usage on the Cube has increased by over 7kB and now with the same setup we had working, we already run out of RAM at boot.

@sfuhrer can share the two commits from master that we tested. One from last week and one from a couple weeks ago. Please also share a log so that we can reproduce the same exact setup (in terms of parameters).

From the t

[2019-06-06 20:32] DanielePettenuzzo commented on #12203
FYI @RomanBapst

[2019-06-06 21:08] DanielePettenuzzo opened #12204 "Global position is valid but still no home position is set at takeoff"
I had a couple flights in the last weeks where I did a takeoff in position mode and then tried to switch to mission using a switch on the rc and the mission was rejected. After looking at the log I noticed that it was rejected because no home position was set. The strange thing is that during takeoff my global position was already valid so I don't understand why my home position was not set. Anyon

[2019-06-06 21:08] DanielePettenuzzo commented on #12204
FYI @nicovanduijn

[2019-06-06 23:20] dagar commented on #12203
I'll take a look at your log once it's posted, but you're likely seeing the memory cost of the new WQ and the corresponding thread pre bus. This was expected and it's why [uORB changes](https://github.com/PX4/Firmware/pull/12040) were pursued at roughly the same time, which will win back a lot more memory (hopefully soon).

If anyone would like to help with the transition please test and review PR

[2019-06-07 06:01] nicovanduijn commented on #12204
@ItsTimmy may have some additional logs of the same behavior occurring on the rover

[2019-06-07 07:26] MaEtUgR commented on #12158
I'm currently this happens because NuttX hits the maximum number of 32 tasks and everything after that is not started anymore. We had the problem today on a multicopter with multiple MAVLink instances as well. If you look at the startup in the console you see all commands failing after a certain point.

@dagar I think you already know this problem exists.

[2019-06-07 07:59] julianoes commented on #12029
Hang on, if you're using roslaunch, you need to do this to clean the params:
[code]

This is a known issue and really frustrating actually, see: https://github.com/PX4/Firmware/issues/10686

[2019-06-07 07:59] sfuhrer commented on #12203
Here's the log: https://review.px4.io/plot_app?log=06617924-5fd8-4142-8617-2d0d8a18eba6
It was with master from last Friday, 43e3fc707de823f. RAM is at 99%.

Before we were flying with https://github.com/sfuhrer/Firmware/tree/Babyshark (close to master in mid April). We already had RAM at around 95%, so the RAM difference is about 10kB.

[2019-06-07 08:22] julianoes commented on #12202
@randyd55 have you ever run SITL with `sudo`? Can you check if there are any files in `/tmp/` named `px4-*` and check using `ls -l` if they are owned by `root`? That would explain the issue you're seeing and would mean you have to delete these files (using `sudo`).

[2019-06-07 08:44] julianoes commented on #12201
I just tried to reproduce this using a Pixracer and Pixhawk 4 and Fedora 30 and I don't see the issue. I can wait 10 seconds and more, then start QGC and still connect fine. Also, I'm doing this sort of connecting many times every week since months while developing on 1.9 and I never saw it as a regression.

Does this happen on every host computer or just the companion computer that you're using?

[2019-06-07 09:08] julianoes commented on #12094
@taileron regarding the pyyaml install failure, I googled this for you:
https://github.com/pypa/pip/issues/5226

[2019-06-07 09:15] julianoes commented on #12204
It looks like the GPS accuracy needs to be good enough for home to be set. Global position valid is not enough on its own:

https://github.com/PX4/Firmware/blob/be02ad3514213af7e1febd0377835eb00d063495/src/modules/commander/Commander.cpp#L1099-L1100

[2019-06-07 09:33] julianoes commented on #9582
@sunnyroad on what Pixhawk is this? And does this happen when you reboot when armed or disarmed?

[2019-06-07 10:08] sergioma295 commented on #9002
I am having a similar problem. I have created a new issue. Can somebody help me please? #1248

[2019-06-07 10:12] sfalexrog commented on #12201
@julianoes, thank you for your reply! I've done some more testing, and it appears there are at least two issues there, one of which is actually with my OS. I've tried plugging the flight controller over USB on Ubuntu 18.04 and could not reproduce the issue (my initial testing was done on Ubuntu 16.04). I'll edit the issue to reflect that.

The issue with external power still stands, though. I've t

[2019-06-07 10:52] julianoes commented on #12201
Oh, I missed the part about the external power source! Let me try again.

[2019-06-07 10:53] julianoes commented on #9002
@sergioma295 please don't necrobump. Open a new issue and describe your problem in detail, thank you.

[2019-06-07 12:40] MaEtUgR commented on #12053
@davids5 Yes, it's USB serial devices which are COM ports on Windows and these COM ports get mapped to `/dev/ttyS#` in Cygwin for posix compliance. Let me check your suggested test.

[2019-06-07 13:12] MaEtUgR commented on #12053
@david5 I checked and either I change the wrong thing or it doesn't make any difference when I change the bootloader baudrate. I checked the `args.baud_bootloader` on line https://github.com/PX4/Firmware/blob/be02ad3514213af7e1febd0377835eb00d063495/Tools/px_uploader.py#L815 and it makes no difference. When I change `baud_flightstack` it doesn't reboot anymore which is to be expected and means I'm

[2019-06-07 13:20] julianoes commented on #12201
Ok, I can reproduce this with a Pixhawk 4 on external power.

@davids5 is this a known issue?

[2019-06-07 13:37] shrit opened #12206 "Add position lock to resolve quadcopter sinking in offboard mode"
**Describe the bug**
I have noticed that the IRIS quadcopter have tendency to lose altitude in gazebo when pitching or rolling in some direction. The problem have been reported and well discussed
on Slack you can follow using this thread:
https://px4.slack.com/archives/C68J8H32A/p1559816218007600

**Log Files and Screenshots**
https://logs.px4.io/plot_app?log=97830f7e-5bce-4649-8704-e5d0ffc8ea5b

[2019-06-07 13:45] MaEtUgR commented on #12053
On the pixracer I now also have a normal upload time using Windows Cygwin...:
![windows_pixracer](https://user-images.githubusercontent.com/4668506/59108407-1af74800-893b-11e9-8c94-fcdb560c2300.PNG)

Did something change on master?
@RaphZufferey Does the problem persist for you?

[2019-06-07 13:49] RaphZufferey commented on #12053
I don't have a pixracer on hand right now, will try as soon as possible! Do you also get normal compiling speeds? It takes about 4-5 minutes to clean build the code for me.
Thanks a lot for all the help.

[2019-06-07 14:03] davids5 commented on #12053
@MaEtUgR - how is Cygwin updated? Could this be related to and issue with Python on Cygwin that got fixed?

[2019-06-07 14:08] TobiMiller commented on #12169
found the problem. it was a faulty cable with loose contact on plug side. strange because it was a retail cable and is looking fine. i think the RX on GPS side was loose and hasnt get the RTCM messages and config.

[2019-06-07 14:08] #12169 closed

[2019-06-07 14:39] julianoes commented on #12206
Since (free) Slack deletes all conversation after some time, let me give some more context to this.

This is using [velocity offboard control in MAVSDK](https://github.com/mavlink/MAVSDK/blob/22fcf4b8deade56e679f8580d035b9457aac7f97/src/plugins/offboard/include/plugins/offboard/offboard.h#L187-L192). The problem is that the drone will try to hold the z velocity but does not correct drift over time

[2019-06-07 14:57] MaEtUgR commented on #12206
I'm shifting towards having reusable logic of the flight tasks in libraries anyways and we can just reuse the position lock from manual position mode which locks the altitude/position when the velocity is constantly zero. The start for this library can be found here: https://github.com/PX4/Firmware/pull/12072/files#diff-cd11905871652d5f1467db1dfc9cecd2R47

[2019-06-07 15:55] randyd55 commented on #12202
So I managed to get rid of the errors by doing what you said, but still no px4 prompt appears in the terminal

[2019-06-07 16:37] jbourne15 opened #12208 "here2 GNSS gps compatible with Firmware v.1.8.0"
Are the magnetometers in the Here2 GNNS gps compatible with px4 firmware v1.8.0?

[2019-06-07 17:51] jannsta1 commented on #12029
Noted! But despite this I find that I can't control the typhoon_h480 model after the following Firmware commit: https://github.com/PX4/Firmware/commit/43e3fc707de823faa19b16091e5ee4a900e3c446.

The previous commit https://github.com/PX4/Firmware/commit/4a4d323a970225ec27e9cd4a409e7a287ad57ff6 and prior work fine.

I wonder if could confirm if you observe the same @julianoes or @Jaeyoung-Lim?

[2019-06-07 21:25] #12134 closed

[2019-06-07 22:00] dagar commented on #12203
This is the other effort that has the potential to save a large amount of memory soon.
https://github.com/PX4/Firmware/pull/12207

In particular for the VTOL case I believe we could have all 5 controllers (mc_att_control, mc_pos_control, fw_att_control, fw_pos_ctrl_l1, vtol_att_control) that are currently separate tasks moved to run out of 2 WQ threads. This will save something like 10-15 kB (comp

[2019-06-08 05:15] Jaeyoung-Lim commented on #12029
@jannsta Could you post this on discuss or create a separate issue for being unable to fly? It is unrelated to the issue that should be discussed here.

[2019-06-08 06:41] julianoes commented on #12202
I think in multi vehicle mode the command prompts are disabled because how would you select which vehicle you're interacting with. Instead you can use things like MAVROS/MAVSDK/QGC to interact with the drones.

[2019-06-08 06:41] #12202 closed

[2019-06-08 12:43] dagar opened #12216 "NuttX STM32F7 write-back dcache"
Due to ARM 1259864 data corruption eratta we currently have the dcache disabled on stm32f7. One solution is to switch to write-back data cache configuration, but this is currently broken for other reasons (starting at our own px4io driver https://github.com/PX4/Firmware/pull/12075).

 - https://nuttx.org/doku.php?id=wiki:howtos:port-drivers_stm32f7#write-back_vs_write-through_d-cache

[2019-06-08 12:47] LorenzMeier commented on #12216
@davids5 Is there a quick path to get there?

[2019-06-08 13:26] davids5 commented on #12216
I had spent a little bit of time on this before discussing it with Daniel. It's really just a matter of spending the time to ferret out all of the issues. The obvious ones that hard faults will be the first. Second Step would be figuring out the subtle bugs due to misalignment

[2019-06-08 15:37] robomaniacpl opened #12217 "Add buzzer for OmnibusF4 board"
**Describe problem solved by the proposed feature**
Actually buzzer connected to OmnibusF4 board doesn't make sound, so for that reason I'd like to add buzzer/tune_control functionality to omnibusf4 board.

**Describe your preferred solution**
The buzzer is connected to PB4 pin on STM32F405RGT6. I did some changes to make it works but unfortunately I'm not able to make any sound from buzzer. All m

[2019-06-09 01:15] dakejahl commented on #12206
Nice! Can we have this perform braking? It would be idea if  `<0,0,0>` velocity setpoints caused the vehicle to brake and then lock into a position hold after coming to a stop.

I am imagining the aggressiveness of the braking could be controlled via a parameter.

[2019-06-09 02:27] weekly-digest[bot] opened #12219 "Weekly Digest (2 June, 2019 - 9 June, 2019)"
Here's the **Weekly Digest** for [*PX4/Firmware*](https://github.com/PX4/Firmware):

 - - -
# ISSUES
Last week 75 issues were created.
Of these, 37 issues have been closed and 38 issues are still open.
## OPEN ISSUES
:green_heart: #12217 [Add buzzer for OmnibusF4 board](https://github.com/PX4/Firmware/issues/12217), by [robomaniacpl](https://github.com/robomaniacpl)
:green_heart: #12216 [NuttX STM

[2019-06-09 04:38] #12219 closed

[2019-06-09 11:54] jannsta1 opened #12221 "Position control problems with typhoon_h480 model in gazebo sitl"
**The bug**

Since Firmware Commit https://github.com/PX4/Firmware/commit/43e3fc707de823faa19b16091e5ee4a900e3c446 the typhoon_h480 model does not exhibit good position control in gazebo simulation with mavros. Still the case as at https://github.com/PX4/Firmware/commit/b0176dc88aecd22363f771bfe62dafa57a6a194a. The error message ```Critical navigation failure! Check sensor calibration``` is logged

[2019-06-09 12:00] jannsta1 commented on #12029
logged bug report https://github.com/PX4/Firmware/issues/12221 to document what I think might be a confounding issue.

[2019-06-09 19:07] sfalexrog commented on #12201
I've tried bisecting the bug, and it seems that the bug manifests itself in https://github.com/PX4/Firmware/commit/e12acc4b282d26ae1b8c1e1cb4220b53ef54b097 (previous revision, https://github.com/PX4/Firmware/commit/8b71bb45621d682834807086b82ac65cce179d41, is fine). Seems like the only difference is starting `mavlink` on USB later than on serial ports.

I've tried moving the commands that start `m

[2019-06-10 13:07] dagar commented on #12158
Can you try https://github.com/PX4/Firmware/pull/12230?

[2019-06-10 15:57] tuloski opened #12235 "Bypass accel check in preflight"
Hi,
I'd like to bypass the preflight check for the accelerometers.
In particular I'd like to bypass this check: https://github.com/PX4/Firmware/blob/bef7a9ba8e9382a1497cf35cfe2f9a4b5ff97a28/src/modules/commander/PreflightCheck.cpp#L270-L281.
Only for testing I commented all those lines and compiled and checked in SITL, but I still get "Accel Range, hold still on arming" when arming.
I'm confused b

[2019-06-10 16:44] dagar commented on #12235
It catches completely bogus sensor setups early on. All of these checks should be broken out into a bitmask parameter within commander.

For your local build try cleaning first and rebuilding. Otherwise share the branch on github and I can take a quick look.

[2019-06-10 16:44] #12235 closed

[2019-06-10 16:45] dagar commented on #12217
@bkueng any interest in upstream buzzer support for the omnibus?

[2019-06-10 16:48] dagar commented on #12208
Please try v1.9.0. Support for this magnetometer was added post v1.8.0.

[2019-06-10 16:48] #12208 closed

[2019-06-10 16:48] dagar commented on #12208
@hamishwillee worth capturing in docs when support for each thing appeared?

[2019-06-10 23:25] hamishwillee commented on #12208
@dagar That happens automatically - when support is added for a new product, a corresponding page must be added in the user guide to master (and will be copied whenever a new version is released). So if a product is not in the guide in a version you can assume it is not supported in that version.

It is the responsibility of whoever adds support to a board to make sure this page is created. I can

[2019-06-11 00:43] mcsauder commented on #12190
Hi @julianoes  and @dagar ,I think I have it fixed in PR #12209 at the schedule call [here](https://github.com/PX4/Firmware/blob/8ecb925c3687a46d6f1aa91ac7d0d384658a6a4e/src/modules/land_detector/LandDetector.cpp#L68).  Let me know if that works for you.

[2019-06-11 07:15] AuterionWrikeBot opened #12237 "Air data module extension to multiple sensors"
□ enable multiple airspeed sensors (in sensors and AirspeedModule)
 □ Calibration procedure with multiple sensors?
 □ simulate different airspeed failures (clogging, water, ..) and test detection and switching

[2019-06-11 08:22] sfuhrer commented on #12158
I've directly tried current master, as I've seen that #12230 is already merged. And yes, VTOL now works again.

[2019-06-11 08:32] acpl00 opened #12238 "GPS and vision for outdoor pose estimation"
Dear people

I do have the following setup.

-PixHawk 4 mini
-PX4FLOW V2.3
-ZED stereo camera
-Jetson TX2
-GPS

The communication from the companion board (Jetson TX2) to the groundcontrol station is via wireless.

I have been using the GPS for outdoor flight, however the ZED camera odom position estimate would be like to be use with the GPS to have a better position estimation during the flight a

[2019-06-11 08:44] bkueng commented on #12217
If anyone creates a PR, I'll review and test, otherwise I prefer buzzer via d-shot support.

[2019-06-11 09:03] #11677 closed

[2019-06-11 09:27] ItsTimmy commented on #11956
I have created a WIP pull request: #12239 . However, this depends upon #11918 , so it must be merged first.

[2019-06-11 11:41] julianoes opened #12240 "Tiltrotor motors shaking"
When disarmed, the motors of the tiltrotor shake in tiltrotor SITL.

To reproduce:
[code]

The shaking goes away when you do:
[code]
but re-appears after:
[code]

FYI @sfuhrer

@dlwalter raised the issue in https://discuss.px4.io/t/gazebo-tiltrotor-model-joints-are-shaking-in-1-9-0/11355/2.

[2019-06-11 12:09] bresch commented on #12180
Hi @parakhm95 ,
It looks that you forgot to adjust the hover throttle. Since your vehicle has a higher thrust/weight ratio than usual, you should reduce the hover throttle to about 0.3 (from what I see in your log). The parameter is [MPC_THR_HOVER](https://dev.px4.io/master/en/advanced/parameter_reference.html#MPC_THR_HOVER).
As shown in the picture below, the land detector "thinks" the drone is t

[2019-06-11 12:18] julianoes commented on #12201
@davids5 please see above, that's very interesting.

[2019-06-11 13:39] julianoes opened #12241 "Offboard attitude rate control broken"
There seems to be a regression for offboard control since 1.9. Starting offboard control, so switching the mode to offboard control does no longer work.

Offboard control gets rejected:
[code]

**To Reproduce**

Run the MAVSDK integration test against jMAVSim SITL:
[code]

[2019-06-11 13:43] julianoes commented on #12241
`git bisect` points to 3faab909d7db25bef6dc3e2eb753cdc05f7f9ce5!

[2019-06-11 14:17] mcsauder commented on #12190
One last thought, changing from the present `ScheduleOnInterval()` call to `ScheduleNow()` preserves the previous behavior prior to the general work queue, so this should be a safe change when it is accomplished: https://github.com/PX4/Firmware/blob/53aa4130a8cc549887106b077aae2f77bcacf662/src/modules/land_detector/LandDetector.cpp#L69

[2019-06-11 14:48] dagar commented on #12241
No, but I'll look into it. We should really get these tests running against PX4/Firmware directly.

[2019-06-11 14:53] dagar commented on #12241
What are the general requirements of offboard control mode? Is it expected that you start streaming some type of offboard setpoint prior to changing modes?

[2019-06-11 15:36] bluecat1997 opened #12243 "don't have the code about ARSP_YAW_CTRL_DISABLE in tailsitter.cpp"
In  src/modules/vtol_att_control/tailsitter.cpp ,has the code :
`#define ARSP_YAW_CTRL_DISABLE 4.0f	// airspeed at which we stop controlling yaw during a front transition`

This is a very useful function especially  in Quadx tailsitter , because the yaw control in MC controller will interference the FW controller in sometime

But I don't found the code about it in tailsitter.cpp . In tiltrotor.cpp

[2019-06-11 16:20] dlwalter commented on #12240
I'm guessing this is related to reducing the real-time update rate from 800 to 250 to implement the lock step in the gazebo_mavlink_interface.

[2019-06-11 16:38] dlwalter commented on #12240
Can confirm, disabling lockstep in the model.sdf and increasing the real-time update rate to 800 (max step size of 0.00125) fixes the issue.

[2019-06-11 16:54] mcsauder commented on #12190
@dagar , adding a `ScheduleNow()` call allows the `ModuleBase::wait_until_running()` call to succeed.

This means that `_object.load()` doesn't pass unless `ScheduleNow()` gets called.  Do you see what's going on there?

[2019-06-11 18:08] dagar commented on #12158
Fixed in https://github.com/PX4/Firmware/pull/12230.

[2019-06-11 18:08] #12158 closed

[2019-06-11 20:09] JMshare opened #12247 "EKF2 not merging the Rangefinder"
**Describe the bug**
The estimated altitude and the local_position.z seem to ignore the rangefinder data.
Using the Lidar Lite through PWM,
Pixhawk 4 fmu_v5,
stable release 1.9.0,
in position control or altitude hold mode.

The distance sensor data show that the sensor outputs correct readings but the altitude estimates seem uninfluenced.

**Log Files and Screenshots**
https://review.px4.io/plot_a

[2019-06-11 20:16] julianoes commented on #12240
@dlwalter I would like to understand why or how that fixes it. I can see that it might prevent the visible shaking but there still seems to be something going on.

[2019-06-11 20:19] julianoes commented on #12241
Exactly, you need to have an offboard setpoint set before you can switch to the mode.

[2019-06-11 22:18] dlwalter commented on #12240
I agree - I just needed a workaround for now.  Looking forward to an update.

[2019-06-11 23:35] parakhm95 commented on #12180
I tried the fix you suggested and yes it works! Thank you so much. This has been stuck for a very long time now.

Also, how did you plot these flags? Are they available on the log review online and need to be enabled or do I have to manually find them in the log?

But it works for sure.

[2019-06-12 06:21] bresch commented on #12180
@parakhm95 I'm glad it worked out! Those flags are not shown on FlightReview (online tool) since you don't need to check them on a regular basis. To see them, you need to open the file using a program such as [PlotJuggler](https://docs.px4.io/master/en/log/flight_log_analysis.html#plotjuggler).

[2019-06-12 06:21] #12180 closed

[2019-06-12 06:21] dreamdivide opened #12249 "A bug for HIL mode in hil_state_quaternion message acquisition"
The definition of message mavlink_hil_state_quaternion_t is
 int16_t xacc; /*< X acceleration (mg)*/
 int16_t yacc; /*< Y acceleration (mg)*/
 int16_t zacc; /*< Z acceleration (mg)*/

in "Firmware\src\modules\mavlink\mavlink_receiver.cpp", Line 2413 of the function "handle_message_hil_state_quaternion(mavlink_message_t *msg)"
mavlink_hil_state_quaternion_t hil_state;
mavlink_msg_hil_state_quaterni

[2019-06-12 07:22] julianoes commented on #11591
Closing as stale.

[2019-06-12 07:22] #11591 closed

[2019-06-12 11:46] hardeman opened #12251 "PX4 1.9.0 ignores RC-commands"
**Describe the bug**
We're testing with a Pixhawk with PX4 1.9.0. The problem is since the upgrade to 1.9.0.

The RC is connected and stick movements are visible in QGroundControl, but PX4 doesn't respond to arming or a mode switch sometimes. After a couple of restarts it works just fine.

**To Reproduce**
Steps to reproduce the behavior:
-Everything switched on.
-In QGroundControl are stick movem

[2019-06-12 11:51] julianoes commented on #12240
@RomanBapst do you have any idea here?

[2019-06-12 12:24] JMshare opened #12252 "Optical flow dropouts"
**Describe the bug**
Flying with a quadcopter around 1m above ground in position control mode using optical flow, there is lot of dropouts in the optical flow data. This demonstrates by random drifts of the quadcopter in the air. As a result the position control is not reliable and I have to always correct it as I would in the altitude control mode. Is this normal due to the nature of the optical

[2019-06-12 13:42] tuloski commented on #12235
The code is the master with simply those lines commented. I really can't understand. It seems like there is another code that perform the same check.
Other parts modified of PreflightCheck.cpp are compiled correctly and they work.

[2019-06-12 14:06] dagar commented on #12235
There are also reminders to hold still in the calibration routines, but you'll only see that during calibration. Beyond that you'll need to share more detail (screenshots, code, etc) for me to be able to tell you what's actually happening.

[2019-06-12 15:06] RomanBapst opened #12254 "Support magnetometer compensation based on throttle / current"
Sometimes design constraints prevent magnetometers to be placed further away on the vehicle and there is a clear correlation between vehicle throttle demand or measured vehicle current and mag hard iron effects.
I would like to implement a simple compensation (hard iron effect).
The main question is where to implement this and for which magnetometers:

Idea:
- implement only for mag0 and this is t

[2019-06-12 15:52] tuloski commented on #12235
My fault: I noticed that when running with "make px4_sitl_default" it was working while it wasn't working with ros .launch file.
I solved by building with catkin_make also the px4-firmware package in my catkin workspace.
I'm not sure what it was happening, but probably not finding the compiled "px4" package it was going to look somewhere else for the executable, not getting the ones compiled with

[2019-06-12 16:06] tstastny commented on #12254
@AdyashaDash did quite some work on this type of mapping during her Masters Thesis at ETH, maybe you could chat with her on how to implement? ;)

[2019-06-12 17:03] dagar commented on #12254
Now that I think of it, won't this need to handled per mag, or at least a known set? Thinking of internal vs external.

[2019-06-12 17:25] MaEtUgR commented on #12053
@davids5 The toolchain can locally be updated. The version deployed in the installer is updated by generating a new installer through CI. It fetches the latest Cygwin packages here: https://github.com/PX4/windows-toolchain/blob/master/appveyor.yml#L21 But Cygwin is rather conservative and stable (vs bleeding edge). At least I didn't update the toolchain recently.

[2019-06-12 17:59] #12171 closed

[2019-06-12 18:23] RomanBapst commented on #12254
@dagar You could do that. The most important thing is definitely to make sure that you only apply the correction to the mag for which the calibration is meant.

[2019-06-12 18:24] RomanBapst commented on #12254
@tstastny Thanks for the info!
@AdyashaDash I'd love to hear your input on this one :)

[2019-06-12 18:27] dagar commented on #12251
Can you share a log showing the problem? This definitely isn't reproducible in general (RC is tested constantly).

[2019-06-12 19:54] jlecoeur commented on #12240
I hit the same issue a while ago : my model's hinges were completely unstable. If I remember correctly, setting a larger number of iterations fixed it.

[2019-06-12 21:08] rollysing opened #12255 "QGC Shows Wrong Battery Percentage in v1.9.0"
This aircraft has been flying with v1.8.0 dev which was setup in the same process as described below with no known issues at that time. I upgraded to v1.9.0 stable for some added functionalities and now have run into this issue.
Setup details:

PX4 v1.9.0 stable QGC uploaded px4_fmu-v3_default.px4
Pixhawk1 2.4.8
FX-79 Buffalo Flying Wing
3S 8000 mAh LiPo
Windows 10 Pro & QGC v3.5.2
Windows 7 Pro &

[2019-06-13 00:25] #12241 closed

[2019-06-13 05:24] JohnSnowball commented on #12071
hi, I reproduced it in firmware 1.9.0, nothing changed , and run this on HITL(quad) and also a real quad copter with RC.  Please check this, it's really dangerous if SD card broken during mission!

[2019-06-13 05:32] LorenzMeier commented on #12071
Thanks for reproducing. @bkueng Could you please put this in your backlog and cross-test and fix? Thanks!

[2019-06-13 08:05] AdyashaDash commented on #12254
@tstastny thanks for drawing my attention! I wanted to take a look at the latest master before summarizing my thoughts. Some comments from my side @RomanBapst:
- Regd no. of parameters: ultimately a parameter per each axis (so 3 per mag) is probably the most useful and flexible, so can recommend this approach. For our specific application, I was more focused on getting a stable mag norm, so having

[2019-06-13 10:41] tuloski opened #12258 "CBRK_VELPOSERR doesn't bypass checks"
Using this circuit breaker doesn't actually bypass the checks.
It just skips the checks, so that if the position validity was false it will never be true so the copter won't arm or takeoff or whatever it has to do with a valid position.

I don't think that is the correct behavior.
Here: https://github.com/PX4/Firmware/blob/327354705b3519472dd493e687b014ce44c6415d/src/modules/commander/Commander.cp

[2019-06-13 11:55] hardeman commented on #12251
There is no log showing the problem. The drone can not be armed, can not switch to another mode, etc.

But the movement of the sticks are visible in QGroundControl.

The most I can show is a video when it's working and a video where it isn't.

[2019-06-13 12:26] dagar commented on #12251
You can get a log from boot by setting the parameter SDLOG_MODE to 2.

[2019-06-13 13:03] HVKHVK commented on #12251
Hi there,

I definitely have the same problem, and that happened just as he said. After I upgraded my v1.8.2 stable to v1.9.0, my device started to respond slowly for arming like arming 2 seconds after I pull the stick and disarming almost 4 seconds later than the stick.  I did arming and disarming several times, and it did not solve. So I unplug the battery and replug it several times and problem

[2019-06-13 13:20] dagar commented on #12251
@PX4/testflights have you seen anything like this?

[2019-06-13 13:53] hardeman commented on #12251
It is not happening everytime, so I will upload the log when it happens. Thank you so far.

[2019-06-13 14:01] dannyfpv commented on #12158
I Tested master  on Pixhawk4 mini V5 vtol
Modes Tested

Position Mode: no issue
Altitude Mode: no issue
Stabilized Mode: no issue
Mission Plan Mode: no issue
-RTL: no issue
transsition mode: no issue

log:
https://review.px4.io/plot_app?log=16fc215a-ab05-4e05-9313-fbf05f54e633

[2019-06-13 14:09] julianoes commented on #11955
Found this: https://github.com/aionrobotics/r1_ugv_sim

[2019-06-13 14:17] dagar commented on #12251
@hardeman could you describe your setup? Specific RC equipment, etc.

[2019-06-13 17:11] Junkim3DR commented on #12251
@dagar we have not seen this issue so far, we will comment a log with the vehicle behavior later on today.

[2019-06-13 18:49] 1Gump commented on #12035
@dagar , did 413acc5 fix this?

[2019-06-13 21:32] Junkim3DR commented on #12251
### Tested on Pixhwak 4 Mini v5

**Modes tested:**
- Position Mode: Good.
- Altitude Mode: Good.
- Stabilized Mode: Good.
- Mission Plan Mode (Automated): Good.

**Procedure**
Armed and took off in every mode, to determine if vehicle responded as expected.

**Notes**
Logged from boot until shutdown, vehicle did not present the bug mentioned.

**Logs**
https://review.px4.io/plot_app?log=763da36f-01

[2019-06-13 23:14] marcelinomalmeidan opened #12260 "EKF2 Heading issue with Px4 1.9.0 on Pixracer with External Vision Pose"
**Describe the bug**
I am using external vision estimation to feed into EKF2 on a Pixracer running Px4 1.9.0.
I am obtaining vision poses using an Intel T265, hooked up to an Intel Up Core board.
The Up Core board communicates with the Pixracer through TELEM2 over serial at a baud rate of 115200.
The Up Core board publishes vision estimation at 40Hz into the topic /mavros/vision_pose/pose.
Mavros

[2019-06-14 06:19] sampathkumarch opened #12262 "UAV don't follwing the waypoints in mission mode"
Hi , am using px4 firmware of pixhawk4
Am using airframe is standred plane ( without rudder)
I put in all sensors. I fly with is manual mode and stabilize mode then after a give the waypoints for mission plane. I put pitch degree is 10 . When am start the mission the UAV tack a tack off but it go always  left direction am given straight waypoint . And wrong ways point then after automatically pitc

[2019-06-14 07:17] deepanshgoyal0718 opened #12263 "Build Firmware error"
I am building this Firmware using QT Creator by following the steps from "https://dev.px4.io/v1.8.0/en/setup/building_px4.html." When I try to create the project file I get this error. Please tell me the steps to proceed. Is there any other method to build the Firmware of PX4 from source.

$cmake ../Firmware -G "CodeBlocks - Unix Makefiles"
[code]

Edited by @julianoes to make console output more

[2019-06-14 07:36] mhkabir commented on #12262
Please follow the issue template.

[2019-06-14 07:36] #12262 closed

[2019-06-14 07:52] julianoes opened #12264 "Takeoff vs init race in SITL"
Sometimes when I'm to eager to do `commander takeoff` and not everything is initialized as it should I can get into the state where the takeoff is not executed properly.

[code]

https://logs.px4.io/plot_app?log=86eed90e-0e5c-41a7-bd3a-47daf256458c

[2019-06-14 07:55] julianoes opened #12265 "telemetry_status advertise failed"
Recently in jMAVSim SITL I often see this on startup:
[code]

Presumably this has to do with uORB publication/subscription changes. FYI @dagar @mcsauder

[2019-06-14 07:58] sampathkumarch commented on #12262
How to resolve this issue?.please tell me

On Fri, Jun 14, 2019, 1:07 PM Kabir Mohammed <notifications@github.com>
wrote:

[2019-06-14 08:03] tdnet12434 commented on #11716
I end up with this solution for now. Just limit do-while loop to 6 as @potaito said and limit writing rate correspond to baudrate this mean we can inject each RTCM msg to GPS module around 15ms at 115200 bps. As far as i test, in normal case, most 4-5/6 msgburst(182bytes) can be sequentially delivered to GPS.

``
bool updated = false;

	uint8_t quota = 0;
	do {
		orb_check(_orb_inject_data_fd, &up

[2019-06-14 08:10] julianoes commented on #12263
Something looks broken in your Firmware directory. Did you clone this using git?

Can you do `git status` and paste the output here? And please put pasted output between ```.

[2019-06-14 08:13] deepanshgoyal0718 commented on #12263
[code]

[2019-06-14 09:01] deepanshgoyal0718 commented on #12263
Thanks for your help I figured out the problem. There was a problem during cloning. I cloned again using git and it worked this time

[2019-06-14 09:11] sampathkumarch opened #12267 "UAV is don't following the waypoints in mission plane"
**Describe the bug**
 am using pixhawk v5 . pixhawk was integrated with standred plane but the plane was no rudder direction  ( airframe reference standre plane  ). all sensor calibration are done then after i flyed in manual and stabilize mode . then after  i  given way points  for mission plane so when am start the mission  then given  little bit  of  movement  the plane was started  then i thro

[2019-06-14 09:16] julianoes commented on #12263
Ok thanks for the feedback.

[2019-06-14 09:16] #12263 closed

[2019-06-14 09:18] julianoes commented on #12267
We can't help like that. You would have to give some detail as laid out in the issue template and at least add a logfile.

[2019-06-14 09:35] sampathkumarch opened #12268 "UAV is don't following the waypoints in mission plane"
**Describe the bug**

am using pixhawk v5 . pixhawk was integrated with standred plane but the plane was no rudder direction ( airframe reference standre plane ). all sensor calibration are done then after i flyed in manual and stabilize mode . then after i given way points for mission plane so when am start the mission then given little bit of movement the plane was started then i throw plane but

[2019-06-14 09:40] CarlOlsson opened #12269 "Sensor calibration control over UAVCAN"
**Describe problem solved by the proposed feature**
If you want to calibrate a lot of autopilots at the same time (temperature calibration and standard offset/scale calibration) you need a way to trigger the calibration and retrieve the results. Connecting a GCS to every board is not an option since it is way too time consuming.

**Describe your preferred solution**
Run code on a test computer tha

[2019-06-14 09:46] sampathkumarch commented on #12267
https://review.px4.io/plot_app?log=e74f3807-eb85-4861-85f4-7ee5714dcf8f

Given waypoints

On Fri, Jun 14, 2019, 2:48 PM Julian Oes <notifications@github.com> wrote:

[2019-06-14 11:17] julianoes commented on #12267
Could you add the mission plan file that you used in QGC if you have it?

[2019-06-14 11:17] julianoes commented on #12268
Duplicate of #12267.

[2019-06-14 11:17] #12268 closed

[2019-06-14 11:59] gajena opened #12270 "ATTITUDE_TARGET.thurst does not print in analyze"
Firmware: 1.9.0
fmu: v3
QGC version: 3.5.2, 3.5.3

WIth new latest stable firmware 1.9.0, ATTITUDE_TARGET.thurst does not print in analyze of QGC.
I have also tested this thing with 1.8.2, 1.8.0 firmware and It is working fine with them.

* tested in all conditions like:
  * armed with manual, offboard modes
  * disarmed with manual, offboard modes

[2019-06-14 12:14] sampathkumarch commented on #12268
this is the am given mission plane

On Fri, Jun 14, 2019 at 4:48 PM Julian Oes <notifications@github.com> wrote:

[2019-06-14 12:56] sampathkumarch commented on #12267
Given mission plane waypoints

On Fri, Jun 14, 2019, 4:47 PM Julian Oes <notifications@github.com> wrote:

[2019-06-14 13:43] MaEtUgR opened #12272 "Multiple magnetometer inconsistency check needs to be revised"
**Describe the bug**
Everyone with an external mag runs into the vehicle not arming for some small mag inconsistency. We should change the check to look at the vector direction and not at the amplitude of each vector component.

[2019-06-14 14:05] dagar commented on #12272
The other problem with these checks is that users don't have a clue what to do. If its important enough to block arming we also need to provide next steps.

For debugging these issues I'd also like to start logging all sensor data (minimal rate), which we'll be able to afford to do once https://github.com/PX4/Firmware/pull/12123 is merged.

[2019-06-14 15:27] MaEtUgR commented on #12272
That's all true but I was refering to the actual check itself. It can be all fine from what you expect but still fail...

[2019-06-14 15:34] dagar commented on #12272
Completely agree. I'd just like to consider ways to make the feedback useful while working through the underlying problem.

[2019-06-14 20:11] sampathkumarch commented on #12267
please give me reply any body

On Fri, Jun 14, 2019 at 6:26 PM Sampath kumar Chiruthoti <
sampathkumarchiruthoti@gmail.com> wrote:

[2019-06-14 21:25] ar1040 opened #12278 "Lidar Lite V3 newer than 2016 is not recognized by Pixhawk 2.1"
The Lidar Lite V3 rangefinder is an optional rangefinder to be used with the Pixhawk 2.1. It can be enabled by the parameter EKF2_RNG_AID=1 and the Lidar Lite V3 can be initialized by the parameter SENS_EN_LL40LS. I use the I2C protocol.

I currently have 3-4 Lidar Lite V3's that are dated 2016 on the label. These Lidars work every time. The tests I have ran:

- Visual: Noticing the craft holds al

[2019-06-14 21:26] ar1040 commented on #12278
[LLv3-I2C-Guidelines.pdf](https://github.com/PX4/Firmware/files/3292281/LLv3-I2C-Guidelines.pdf)

[2019-06-15 08:40] LorenzMeier commented on #12267
You need to attach the mission plan file in Github. You have replied to the email, but that doesn't attach it in the web view - please use that.

[2019-06-15 10:23] RomanBapst commented on #12254
@AdyashaDash Thanks for you input!

Yes, my plan was to implement this as a first step.
I think that there are systems where it can be beneficial to have a per motor calibration instead of only taking into the total thrust or current. Image you have the magnetometer located close to the power cable going to a specific motor controller. In that case probably the signal going to that motor controlle

[2019-06-15 10:31] priseborough commented on #12272
Yes, the length of the vector difference between the primary and each additional sensor is calculated and the maximum returned. As @MaEtUgR suggests we  could calculate the horizontal projection of the field.

However if the vertical component is ignored by the check and has a significant error, then this can cause problems when the vehicle changes roll/pitch orientation. I haven't worked out the

[2019-06-15 10:35] LorenzMeier commented on #12272
Thanks! I think it would be fairly important to get this addressed rather quickly as it is unnerving users, very often in conditions that are totally fine to fly with.

[2019-06-15 14:17] sampathkumarch commented on #12267
sir ,thank for a given a reply
 this the pic of mission plane
https://drive.google.com/file/d/1Zd9IMk7e07cHIWkC-oapEv4A8YTR9WOJ/view?usp=sharing

On Sat, Jun 15, 2019 at 2:10 PM Lorenz Meier <notifications@github.com>
wrote:

[2019-06-15 17:21] bruenn opened #12283 "make omnibus_f4sd_default is broken for gcc 8.2.1"
**Describe the bug**
GCC8 added some stricter compile time checks regarding:
- function pointer casting
- strncat/strncpy buffer length checks

**To Reproduce**
Steps to reproduce the behavior:
1. get a recent toolchain [[1]](https://developer.arm.com/-/media/Files/downloads/gnu-rm/8-2018q4/gcc-arm-none-eabi-8-2018-q4-major-linux.tar.bz2)
2. adjust your PATH to use this toolchain
3. make omnibus_f

[2019-06-15 21:31] dagar commented on #12265
I'm not seeing this locally. What are you running exactly? Is everything completely default?

[2019-06-15 21:38] dagar commented on #12265
If you see this again can you quickly check a few things?

`mavlink status`
`listener telemetry_status`
`uorb top -1`

[2019-06-16 01:30] #12190 closed

[2019-06-16 02:27] weekly-digest[bot] opened #12290 "Weekly Digest (9 June, 2019 - 16 June, 2019)"
Here's the **Weekly Digest** for [*PX4/Firmware*](https://github.com/PX4/Firmware):

 - - -
# ISSUES
Last week 68 issues were created.
Of these, 31 issues have been closed and 37 issues are still open.
## OPEN ISSUES
:green_heart: #12284 [hardfault_log: fix NULL terminator truncation](https://github.com/PX4/Firmware/pull/12284), by [bruenn](https://github.com/bruenn)
:green_heart: #12283 [make omn

[2019-06-16 03:28] #12290 closed

[2019-06-16 03:38] dagar commented on #12255
@PX4/testflights have you seen anything like this?

[2019-06-16 04:07] mcsauder commented on #12265
I'm not seeing it locally either:
![image](https://user-images.githubusercontent.com/2497951/59558911-f09c2f00-8fb9-11e9-8e17-32431e06ea29.png)

[2019-06-16 04:35] alexcherpi commented on #12051
Hi bresch,
Indeed you're right the integral is there through the rate control Integral term.
Our drone is now flying, our bug was hardware (very vicious).
Many thanks!

[2019-06-16 06:30] #12051 closed

[2019-06-16 13:00] MKargus0 opened #12291 "Copter lose altitude and start yaw in mission mode"
When I start mission on my drone (px4fmuv5 1.9 ) after some time it start lose altitude and start yaw
I do not know what caused this behavior
This is my fligt log
https://review.px4.io/plot_app?log=c8276346-7889-41ae-a4a8-a21089a8da89
ALTITUDE POSITION and STABILIZED modes working normal
Can you help me with this problem? Thank you.

[2019-06-16 13:12] tensarflow opened #12292 "Can't change UAV-Type in Multi-UAV SITL Simulation"
**Describe the bug**
Multi-UAV SITL Simulation with IRIS works fine. But I think there is a problem for the standard plane.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up SITL with Gazebo Environment for multiple UAVs as described [here](https://dev.px4.io/en/simulation/multi-vehicle-simulation.html) .
2. Change
`<arg name="vehicle" default="iris"/>`
to
`<arg name="vehicle" default="

[2019-06-16 20:25] JMshare commented on #12251
Same thing with the arming or kill switch happens to me sometimes.
My feeling is that it has something to do with how I start or terminate the flight/vehicle.

**For example**, if a landing detector disarms the airframe but my RC stick is still in the armed position, the commander would seem to deal with it by ignoring the RC stick ever after until reboot. Same thing if I arm using QGC slider but

[2019-06-16 20:43] tensarflow commented on #12292
I'm starting to understand... The SDF files contain the UDP port binding information of the simulation. Since they need to be unique for each UAV you can't use the same SDF for multiple simulations. That's not good coding :smile:
I'm thinking of just making multiple SDF files and trying to launch them from one launch file... Still on it :)

[2019-06-16 23:57] lamping7 commented on #12292
This is not a firmware issue. It is integration related. You should post a topic on http://discuss.px4.io for help.

[2019-06-16 23:57] #12292 closed

[2019-06-17 05:24] HVKHVK opened #12294 "GPS takes way too long to lock or not locking at all"
**Describe the bug**
At v1.9.0 GPS takes way too long to lock or not locking at all. I can see that 7 satellites are active on Qgroun but it is still not locking. Sometimes it locks suddenly but many times I just give up. Because of not have the ability to use position and mission modes, I downgraded the firmware to v1.8.2.

**To Reproduce**
After enabling power to the PX4, it happens every single

[2019-06-17 05:28] RomanBapst commented on #12294
@HVKHVK have a look at this
https://docs.px4.io/en/advanced_config/tuning_the_ecl_ekf.html#gps-performance-requirements

[2019-06-17 05:30] RomanBapst commented on #12294
@HVKHVK You can adjust those parameters until the checks pass. Note however, that the default values are not necessarily too low but instead you might have some interference or there might be some particularity on your setup which requires the parameters to be changed.

[2019-06-17 05:33] HVKHVK commented on #12294
I did, but at same GPS location with the same device, v1.8.2 and v1.9.0 act very differently. I also edited some of those parameters too but still the same. I will try to find the optimum than I will report those.

[2019-06-17 05:37] RomanBapst commented on #12294
@HVKHVK You can also disable gps checks using EKF2_GPS_CHECK and then add one by one to see which one might be the offending one.
I'm going to close this as I don't think it's a bug in the code. You can also use the forums if you have more questions.
And if you do think that you've found a bug in the code then please re-open.

[2019-06-17 05:37] #12294 closed

[2019-06-17 05:44] RomanBapst commented on #12291
@MKargus0 at first glance it looks like an actuator problem. The drone demands full thrust but nothing happens. Also there is a build up of yaw rate which is somehow not counter acted.

[2019-06-17 06:15] #12283 closed

[2019-06-17 08:00] julianoes commented on #12265
Ok, it only seems to happen with `PX4_SIM_SPEED_FACTOR=20 make px4_sitl jmavsim`.

[code]

[code]

[code]

[2019-06-17 10:02] jannsta1 commented on #12221
Issue still present as far as I can see - would be great to see the reason this has been closed?

[2019-06-17 10:11] FlavioTonelli commented on #12221
You have probably been misled by the referenced Weekly Digest.
This issue is still open

[2019-06-17 10:35] jannsta1 commented on #12221
So it is - silly me!

[2019-06-17 18:32] danielghirst opened #12301 "[load_mon] pga460 low on stack!"
**The bug**
The drone will occasionally disarm and drop out of the sky when the ‘return home’ command is given. I believe it is the result of a memory issue. Whenever the drone does drop out of the sky the log files are corrupted, so I am not able to see the warnings before it disarms. The last few times I have attempted to reproduce the problem I have been getting “[load_mon] pga460 low on stack!

[2019-06-18 01:02] dagar commented on #12251
Thanks @JMshare that's helpful.

[2019-06-18 03:19] bluecat1997 opened #12302 "Differential thrust in Tailsitter is link to aileron not rudder"
**Describe the bug**
In new firmware there is a new parameter for VTOL aircraft "VT_FW_DIFTHR_EN" used to enable Differential thrust in forwards flight. But I'm a Quad x Tailsitter , when I enable this, the motors not responded to my  yaw control but link to my roll control. I think maybe this is because tailsitter's axis of fixedwing is different from multicoptor. maybe we can try if it can repro

[2019-06-18 09:31] hardeman commented on #12251
Taranis Q X7  +  FrSky X8R

The problem didn't occur since I mentioned it here...

@JMshare I will keep this in mind.

[2019-06-18 18:17] DonLakeFlyer opened #12305 "EKF2_RNG_A_HMAX, EKF2_RNG_A_VMAX missing units in parameter meta data"
https://discuss.px4.io/t/units-m-of-ft-for-range-aid-params/11464

[2019-06-18 23:04] priseborough commented on #12272
@dagar From previous experience working on consumer products, typical user facing messaging would be:

Step 1) We tell the user "Magnetic interference detected, pick up vehicle and move to a new location". If the act of picking up clears the error, then the difference was caused by a  localised anomaly (eg steel reinforcement bars in  floor, etc) and the error will disappear when the vehicle takes

[2019-06-19 01:45] RyanHurst opened #12307 "RC loss behavior"
**Describe the bug**
Drone lost communication and then descended to ground.

**To Reproduce**
Steps to reproduce the behavior:
Fly drone in Position mode and lose communication with it. I don't know how to reproduce this consistently.

**Expected behavior**
I would expect the drone to continue to do what it was doing before because NAV_RCL_ACT  was set to 0.

**Log Files and Screenshots**
https://

[2019-06-19 07:01] Evaneee opened #12308 "px4io can't autostart and can't update"
several days ago
I use ls /dev can see pwm_output1 in the directory,But now I can not see it again

![image](https://user-images.githubusercontent.com/50649856/59743479-d062bd80-92a2-11e9-89cb-2a00cd0b9585.png)   ![image](https://user-images.githubusercontent.com/50649856/59743496-d789cb80-92a2-11e9-80e0-ccb0678ebc65.png)

I found that px4io is not start, so download px4fmu-v5_default.px4 from
[(h

[2019-06-19 07:32] Evaneee commented on #12086
sorry I canot do the test, My /dev/pwm_output1 has disappeared, and I can not find it

for several days, I write a lot of printf to test the program,  and I find a little result about fmu
but suddenly I found it that I can not see pwm_output1 again........

https://github.com/PX4/Firmware/issues/12308

[2019-06-19 11:22] jchillerup commented on #10221
I have this problem, too. Moreover the configuration flow doesn't let me complete before installing a RC receiver. I don't intend on using a RC for this rover, as it's only going to travel to set waypoints, so that is also kind of a bummer. I'd be happy to help with anything if necessary.

[2019-06-19 13:40] wluker opened #12309 "Mavlink PLAY_TUNE message does not play tune"
**Describe the bug**
Sending a tune string "MFT200CDEFGAB" via a PLAY_TUNE mavlink message does not produce any sound on the drone.

From the fix for #12059 I can produce sound with "tune_control play -m "MFT200CDEFGAB" ".

The PLAY_TUNE mavlink handler is implemented in https://github.com/PX4/Firmware/blob/4831a4b0cfde499eb1a20257cc46b130e6554e3a/src/modules/mavlink/mavlink_receiver.cpp#L1627 and

[2019-06-19 15:55] Junkim3DR commented on #12255
@dagar we have not seen this issue so far.

[2019-06-19 16:35] TimTom68 commented on #4461
I'm encountering the same problem too, which is a shame since i just followed the tutorial.  I feel like a proper solution should be posted since other people will follow the tutorial too and inevitably end up here

[2019-06-19 17:12] Chraebi commented on #4461
Dear TimTom
Please have a look at https://discuss.px4.io/t/debugging-in-sih/11243/7?u=chraebipk
I hope this solves your issue.
Kind regards
Chraebi

[2019-06-19 20:47] trexgerratt commented on #11074
I have the same issue with the "ValueError: No JSON object could be decoded" Any progress here?

[2019-06-19 21:45] trexgerratt commented on #11074
I figured it out. In my case, I was trying to flash the ".elf" file when it should have been the ".px4" file from the make command.

Hope that helps others!

[2019-06-20 01:52] lamping7 commented on #12265
I saw this randomly yesterday when doing some multi-uav sims with ROS. I didn't see this topic before-hand. So, I don't have more than confirming that I saw "ERROR [uorb] telemetry_status advertise failed." I troubleshot a few things during that time, so hard to say more considering the environment changes I made during that time. I didn't touch speed factor.

[2019-06-20 02:06] Evaneee commented on #12308
I found out why this happened!!!!!!!!!!!!!!!!
I use usb to power pixhawk4
change to battery
All of things back!!!!!!

[2019-06-20 02:06] #12308 closed

[2019-06-20 06:51] priseborough commented on #12272
Here's the prototype under test. https://github.com/priseborough/Firmware/tree/pr-magPreFltCheck

[2019-06-20 13:09] rishab26201 opened #12310 "Request for differential drive robot control"
Hey,
So I was wondering if it would be possible to create/integrate differential drive bots/rovers like husky rover with Px4, along with the existing Ackerman steering based rover.

Thanks

[2019-06-20 18:41] Martz19 opened #12312 "Can't get the distance data of the PX4_Flow and sonar"
![Screenshot from 2019-06-20 12-35-22](https://user-images.githubusercontent.com/50084151/59873106-863c1380-9358-11e9-92d1-04ec54fe8ac1.png)

[2019-06-21 06:22] SalimTerryLi commented on #12310
Currently there is no difference between these two. You can simply apply to a differential one by replacing the [mixer file](https://github.com/PX4/Firmware/blob/master/ROMFS/px4fmu_common/mixers/generic_differential_rover.main.mix)

[2019-06-21 07:17] Jaeyoung-Lim commented on #11512
@troffel1 In case of attitude setpoints, it is now working after #12311 #12149

[2019-06-21 09:16] ironman03 commented on #10988
I have same the proplem? you can help me? please

[2019-06-21 16:02] donbreum opened #12313 "Here2 not being detected with PX4 firmware"
I recently bought a Pixhawk Cube combo kit (Pixhawk 2.1 Cube with Here2 kit). I have previous experience with this kit and never experienced issues

Now I am not able to detect the Here2 GNSS receiver if I am using PX4 firmware (using newest stable build 1.9). If I flash newest ArduCopter firmware, the GNSS is detected and is working fine

The new Here2 was supplied with the CAN cable attached and

[2019-06-21 18:37] capitalPSA opened #12314 "PX4 Models crash Gazebo"
**Bug**
When inserting the 3DR Iris model into Gazebo, the error "Aborted (core dumped)" occurs.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch PX4 SITL ("no_sim=1 make px4_sitl_default gazebo")
2. Source the necessary directories (source Tools/setup_gazebo.bash $(pwd) $(pwd)/build/px4_sitl_default)
3. Launch Gazebo (roslaunch gazebo_ros shapes_world.launch)
4. Insert the 3DR Iris mo

[2019-06-21 19:32] julianoes commented on #12314
Could you paste the output of the logfiles mentioned?

[2019-06-21 23:30] dagar opened #12315 "v1.9.1 TODO"
- [x] S500 updated or alternate tuning for hovergames vs holybro version (@MaEtUgR @bkueng)
      - https://github.com/PX4/Firmware/pull/12322
 - [x] v5+ and v5 nano support (minor manifest change)
     - https://github.com/PX4/Firmware/commit/6eb4cf0ceb22b10691eec11d677bfe15af41bfea#diff-d58c06bcb728af26887553efad563b37

[2019-06-21 23:59] dakejahl commented on #12307
![Selection_007](https://user-images.githubusercontent.com/37091262/59956571-55d6a100-944e-11e9-9c33-b39502b4cdaa.png)

[2019-06-22 00:09] dakejahl commented on #12307
Take a look at the `failsafe` function in `mc_pos_control_main`. Specifically line `563`

I'm guessing this failsafe is getting hit. If you look at your XYZ setpoints in your log, you'll see they abruptly stop as soon as RC is lost. If nothing is controlling the drone (no RC, no setpoints) really the only reasonable thing the drone can do is land.

You should verify what I am saying by testing tho

[2019-06-22 00:12] dakejahl commented on #12301
These problems are unrelated. You need to increase your stack size in the pga460 driver.

You need to reduce your RAM consumption if you are getting hardfaults during flight. Try disabling the extra mavlink streams.

[2019-06-22 00:12] #12301 closed

[2019-06-22 19:44] Jaeyoung-Lim commented on #12221
@jannsta1 Do you still have this issue? I can fly the H520 in SITL with the current master

[2019-06-22 21:15] jannsta1 commented on #12221
@Jaeyoung-Lim - nice chatting with you at the dev summit :) and thanks for looking into this. I last checked with the master 5 days ago and still saw the issue - won't have access to my workstation until Monday so will try then and report back. Just to check though - is there a H520 model in the sitl_gazebo repo as well as the H480? Its also worth mentioning that its important to do the clean buil

[2019-06-23 02:27] weekly-digest[bot] opened #12318 "Weekly Digest (16 June, 2019 - 23 June, 2019)"
Here's the **Weekly Digest** for [*PX4/Firmware*](https://github.com/PX4/Firmware):

 - - -
# ISSUES
Last week 29 issues were created.
Of these, 15 issues have been closed and 14 issues are still open.
## OPEN ISSUES
:green_heart: #12317 [Stable v1.9.1 fixes](https://github.com/PX4/Firmware/pull/12317), by [dagar](https://github.com/dagar)
:green_heart: #12315 [v1.9.1 TODO](https://github.com/PX4/

[2019-06-23 04:18] capitalPSA commented on #12314
After some debugging, I am finding this error:
`0x00007fff04f66285 in
gazebo::GazeboMavlinkInterface::Load(boost::shared_ptr<gazebo::physics::Model>, std::shared_ptr<sdf::Element>) ()
    at /home/....../PX4ws/PX4/Firmware/build/px4_sitl_default/build_gazebo/libgazebo_mavlink_interface.so`

The other models, such as a ramp and shelves, can all be placed without any crashes. The models that require

[2019-06-23 11:30] Jaeyoung-Lim commented on #12314
Have you tried adding the model in the launchfile?

[2019-06-23 17:37] capitalPSA commented on #12314
@Jaeyoung-Lim You are right. Running the `px4.launch` file will insert the `Iris` model into the world and there is no crash.

Is this the new preferred way? Add the model into the launch file instead of manually inserting the model after the world is loaded in Gazebo?

The error looks to be localized to adding a model (that requires MAVlink) after the world is loaded. If a model is spawned using

[2019-06-23 21:59] julianoes commented on #10988
When it happens, does the frame rate shown in the bottom left go to around 5 fps?

[2019-06-24 01:22] ironman03 commented on #10988
I solved the problem, because I was not calibratedcompass properly.
After calib, the copter has arm and no error.

[2019-06-24 07:39] tops4u opened #12320 "MC Geofence violation not easy to resolve"
**Describe problem solved by the proposed feature**
When a Geofence is violated the Vehicle will enter Hold Mode (if configured accordingly). It is not possible to back out of the violation by reversing the flight path, since the Flight Mode has changed automatically. This is not as most Users will perceive the function "Hold" on Geofence Violation, as all known Consumer Products would allow to re

[2019-06-24 07:56] tops4u commented on #12307
I think the question is, what would be the expected behaviour? If the Drone is flying with 5km/h away from the Pilot would the expected behaviour be, that it should continue doing this until the Battery Failsafe kicks in? In PosCtrl Mode Landing or RTL is probably the only sensible thing to do. If you want it to stay where it is then you should configure the Param to 1. If in Mission Mode a Param

[2019-06-24 08:03] Evaneee commented on #12086
you are right, I test it today, when do pwm test ,pwm_output1 can output ,but QGC do not show...

[2019-06-24 08:16] RomanBapst opened #12321 "Commander reports "Not Disarming, Not in manual mode or landed yet""
When flying in position control mode full stick down with full yaw left the commander tries to disarm but obviously blocks it if the vehicle is not landed yet.
However, it sends the message "Not Disarming, Not in manual mode or landed yet" to the ground station.
Is this message really useful?

[2019-06-24 08:17] RomanBapst commented on #12321
This is where it happens:
https://github.com/PX4/Firmware/blob/master/src/modules/commander/Commander.cpp#L1932

[2019-06-24 08:36] FlavioTonelli commented on #12321
In my opinion it is.
The drone can not always recognize instantly it is actually landed even if it on ground. First attempt to disarm the drone can then sometime fail.
The message helps the user to get what it's going on.

[2019-06-24 12:54] MaEtUgR commented on #12321
The "manual mode" part can be misleading. It should either say not disarming because not landed yet or be more verbose (which I think is not possible in these messages) saying something like "Disarming with vehicle not having detected a landing is only possible in Stabilized and Acro"?

[2019-06-24 12:57] telegek opened #12323 "Optitrack using vision - drone hits ceiling"
The drone (DJI Flame Wheel F330) goes always high during take-off and hits the ceiling, even though after take-off the throttle stick is all they way down. Tried different autopilot systems, Pixhawk 1 and MindPX, the issue is the same. From the log the velocity setpoint does not seem to follow the command.

The topic from **vrpn_client_node** is relayed to the **mavros/vision_pose/pose**, EKF2_AID

[2019-06-24 14:18] #11624 closed

[2019-06-24 14:32] jannsta1 commented on #12221
@Jaeyoung-Lim - update as promised - I am still seeing the issue on latest master. Couple of other notes:

1) It is still possible to fly the vehicle - just that following takeoff the z position control is very poor and the
warning messages reported in the bug report are present.
2) x & y position control seem to work as normal
3) The z position control stabilises eventually, but a new z position

[2019-06-24 15:30] #11692 closed

[2019-06-24 15:30] dagar commented on #11693
https://nuttx.org/doku.php?id=wiki:nxinternal:cpuload-oneshot

[2019-06-24 15:38] dagar commented on #11692
Resolved PX4 side with https://github.com/PX4/Firmware/pull/12078.

[2019-06-24 16:32] TSC21 commented on #10513
Still relevant

[2019-06-24 16:33] TSC21 commented on #10511
Still relevant

[2019-06-24 16:43] #12318 closed

[2019-06-24 16:56] jarivanewijk commented on #10507
This should be almost fixed in QGroundControl daily build: https://github.com/mavlink/qgroundcontrol/issues/7360

The bootloader has been updated by David Sidrane. PX4 builds for FMUK66 are available in the build system. QGC has been updated to detect FMUK66 and has the right firmware URLs. Only thing left is the integration into the px4driver.msi, the right definitions were added to the drivers a

[2019-06-24 17:15] dagar commented on #10538
Upstream NuttX pull request (that's stalled). https://bitbucket.org/nuttx/nuttx/pull-requests/858

[2019-06-24 17:46] dagar commented on #11054
Should be fixed after moving these drivers out of HRT, but needs to be verified. I'll test as part of https://github.com/PX4/Firmware/pull/12140.

[2019-06-24 18:25] RyanHurst commented on #12307
I had some time to do some more testing with this in simulation.
In position mode: The drone will continue moving in the last direction it was going, but it will "descend with land speed"
In mission mode: The drone will finish the mission

My issue is with the position mode behavior.
Things I could see the drone doing:
1. Shift into land mode
2. Stay in position mode, but update the setpoints so t

[2019-06-24 18:31] dakejahl commented on #12307
I think this is what the design intent was, but if it is keeping its velocity then this seems like a bug, as the vehicle should never try to land while moving

This is what NAV_RCL_ACT == 1 effectively accomplishes. Position mode is a manual mode, so it does not make sense for the vehicle to issue itself setpoints. You should just use NAV_RCL_ACT == 1 and then when you want to start sending contro

[2019-06-24 18:39] CarlOlsson commented on #11605
Still an issue

[2019-06-24 19:22] #11568 closed

[2019-06-24 19:25] dagar commented on #11605
You should be seeing `estimator_status` from the beginning (which has the states). Are you talking about also wanting to see `vehicle_attitude` and `vehicle_local_position`?

[2019-06-24 20:24] tops4u commented on #12320
Just to note, by switching from a PosCtl Flight Mode selection to another combination which also enables PosCtl the currenty logic shortly allows the PosCtl Controller to take over. With this, it is possible to violate the Geofence further. In the Example below it was possible to exceed the Geofence by 20m (120m above Start point, despite Geofence ceiling being set to 100m). As I first did not und

[2019-06-24 20:53] #12315 closed

[2019-06-24 22:00] dagar commented on #10607
Slowly coming along. https://github.com/PX4/Firmware/pull/12136

[2019-06-24 23:22] dagar commented on #7217
Is this still present in master?

[2019-06-24 23:41] mcsauder commented on #9279
Distance sensor drivers are progressing, see #11891, #11853, #11859, et. al.

[2019-06-24 23:54] dagar commented on #9143
https://github.com/PX4/Firmware/pull/12191

[2019-06-25 00:35] dagar commented on #8891
Slowing getting there.

[2019-06-25 02:10] Antiheavy commented on #8463
still relevant.  @kjkinney I wonder if this is something we can look at?

[2019-06-25 02:13] Antiheavy commented on #8697
still relevant.

[2019-06-25 02:13] yuhaim opened #12326 "jmavsim GUI failed to launch"
**Describe the bug**
jmavsim GUI failed to launch

**To Reproduce**
Ubuntu 18.04 with openJDK 11 for default-jdk, default-jre
start jmavsim alone or start SITL

**Expected behavior**
jmavsim GUI popups and simulation begins.

**Log Files and Screenshots**
~/src/Firmware$ ./Tools/jmavsim_run.sh -l
Buildfile: /home/miller/src/Firmware/Tools/jMAVSim/build.xml

make_dirs:

compile:

create_run_jar:

c

[2019-06-25 02:18] Antiheavy commented on #9030
still valid.  more graceful re-initialization after re-calibration is needed for commercial and consumer grade products.

[2019-06-25 02:19] Antiheavy commented on #9746
still valid issue?

[2019-06-25 03:32] dagar commented on #9746
This isn't fixed in master?

[2019-06-25 04:01] Antiheavy commented on #10906
@kjkinney let’s look at this

[2019-06-25 04:07] Antiheavy commented on #10076
This bug still exists.  Not critical as the problem only lasts for a second or so.

[2019-06-25 04:10] Antiheavy commented on #10078
Original request has been implemented and heavily tested here: https://github.com/PX4/Firmware/pull/11381#issuecomment-505274188

[2019-06-25 05:58] CarlOlsson commented on #8465
I would keep this open since it has not been explicitly addressed

[2019-06-25 05:59] bresch commented on #11420
Don't close that

[2019-06-25 06:04] CarlOlsson commented on #11235
This is still an issue.
Pinging @RomanBapst just so it does not get forgotten

[2019-06-25 06:10] jlecoeur commented on #11664
The output modules still need cleanup.

[2019-06-25 07:26] #11650 closed

[2019-06-25 07:36] MaEtUgR commented on #9591
Recently I looked into the rate calculation of betaflight and it's in theory slightly different because they use an x^4 term as expo instead of x^3 like we do. But it's in practise totally different because they still use these totally unintuitive configuration parameters that all depend on each other...

I think a first step is to write both formulas down clearly and then figure out an approximat

[2019-06-25 07:42] NAmmann commented on #4876
Any updates on this issue?

[2019-06-25 08:08] MaEtUgR commented on #9591
**PX4**
https://github.com/PX4/Firmware/blob/6d9bf18ca6e1ef4c3a721832398cae72385bf360/src/lib/mathlib/math/Functions.hpp#L61-L95
`y = RateMax * (1 - Expo) * x + Expo * x * x * x * (1 - Superexpo) / (1 - abs(x) * Superexpo)`

**Betaflight**
Here's the betaflight rate formula that we should be compatible to in some documented way: https://github.com/betaflight/betaflight/blob/ecb67fcc097d284db706149

[2019-06-25 08:37] dk7xe commented on #11262
We need to work on this because collision avoidance is definitely needed between UAV's

[2019-06-25 09:12] CarlOlsson commented on #11605
yeah I was thinking about the output from the output predictor data before tilt align. But it is a very specific thing and I guess is not relevant enough to keep this open for now

[2019-06-25 09:12] #11605 closed

[2019-06-25 09:20] MaEtUgR commented on #11027
I'm still relying on the hotfix https://github.com/PX4/Firmware/pull/11305 and Ctrl+C works as expected. Not sure how to track down why the normal way it gets stuck.

[2019-06-25 10:03] MaEtUgR commented on #12320
I think the goal of #12057 was to solve this problem.

[2019-06-25 11:06] tops4u commented on #12320
I guess #12057 did not make it into 1.9.0? I',m going to try 1.9.1 then.

[2019-06-25 11:45] bresch commented on #12320
I agree that the a nicer solution would be to simulate a virtual wall similarly to the "Collision prevention" logic. However, the Geofence logic is currently implemented in Navigator and has only access to the fence geometry and the current position of the vehicle: it's a high level class that return a true/false result.

To have that "virtual wall" behavior, we would need to re-implement the logi

[2019-06-25 11:47] bresch commented on #11717
I guess this is still not solved. @MaEtUgR  What could we do to go towards a fix for that?

[2019-06-25 11:50] bresch commented on #9602
We need to implement a sort RTL cone to solve that. I even had a case where the drone was on the ground and just not disarmed when the battery failsafe RTL was triggered.

FYI @MaEtUgR

[2019-06-25 12:30] tops4u commented on #12320
I was afraid, that the solution might be somewhat more complicated as soon as it comes to random Geofence Polygons instead of the simple cylindrical Geofence. However I think on the long run in order not to confuse or scare the Pilot, a smoother solution should be found.

How shall we proceed with this?

[2019-06-25 12:44] dagar commented on #10584
Julian's state machine in PX4/avoidance. https://github.com/PX4/avoidance/pull/418

[2019-06-25 12:52] bresch commented on #12320
@tops4u I see a simple solution that could be implemented without changing the architecture: The navigator continuously stores the current position if in the fence, drives back to that last position as soon as the fence is violated and give the control back to the pilot. This is kind of a "Mario Kart" approach and is the easiest minimal change I see to create that virtual wall without moving the w

[2019-06-25 12:54] bresch commented on #11551
I've not seen that problem anymore.

[2019-06-25 12:54] #11551 closed

[2019-06-25 13:34] donbreum commented on #12313
solved. problem was not related to px4 firmware, but the Here2 firmware

[2019-06-25 13:34] #12313 closed

[2019-06-25 14:00] davids5 commented on #10538
@dagar I told Greg it is on my todo list during the H7 port. However we will just do the circular mode.

[2019-06-25 14:54] chobitsfan commented on #4876
I am sorry but I am working on other matters. Maybe I should close it?

[2019-06-25 15:38] dagar commented on #11670
Closing this as the raspberry pi will soon be using the in tree mpu9250 driver (https://github.com/PX4/Firmware/pull/12136).

[2019-06-25 15:38] #11670 closed

[2019-06-25 22:21] MaEtUgR commented on #12272
@priseborough I didn't think about neglecting the vertical component, I thought about comparing the angle between the 3D vector directions instead of component differences.

[2019-06-25 23:35] MaEtUgR commented on #12272
I started scetching up a simpler check here: https://github.com/PX4/Firmware/compare/mag-consistency-check More to come tomorrow.

[2019-06-26 02:16] cuongdaovan opened #12330 "QT creator 4.9.1 no rule to make target 'upload'"
**hi everyone,**
now, I am using qt creator 4.9.1, macos. I built 'px4_fmu-v2' on master[v1.9.0], it was okay.
but when I run to upload firmware. I had an issue like this:
`make: *** No rule to make target ‘upload’. Stop.
``/usr/bin/make exited with code 2
`I tried to upload on terminal. but it didn't work.
Hope you guys know this issue. thanks.

[2019-06-26 02:58] #12330 closed

[2019-06-26 06:23] RomanBapst commented on #11235
@CarlOlsson thanks for mentioning this, I will fix it today.

[2019-06-26 07:40] RomanBapst commented on #11235
@int32cn Thanks for raising this!

[2019-06-26 10:58] #8792 closed

[2019-06-26 16:07] tuloski opened #12336 "Can't find who trows "PREFLIGHT FAIL: EKF INTERNAL CHECKS""
I got this error and it's well documented here: https://docs.px4.io/en/flying/pre_flight_checks.html,
but I'd like to change the firmware to understand which problem is of the many possibles.
The problem is that I'm unable to find anything in the code that seem to send that error with mavlink_log_critical(). It would be nice if someone could point me at the right code. Thanks.

[2019-06-26 16:21] dlwalter opened #12338 "MPC_THR_HOVER gets passed unconstrained to the thrust setpoint in manual mode."
**Describe the bug**
An incorrect value of MPC_THR_HOVER will get passed unconstrained to the manual thrust setpoint.  In 1.8.2 the manual thrust setpoint was constrained between MPC_THR_MIN and MPC_THR_MAX.  If the user entered a MPC_THR_HOVER of 50 instead of 0.50 a centered stick would result in a thrust setpoint of 50 where the mixer expects values between 0 and 1.0.

**To Reproduce**
Steps to

[2019-06-26 17:58] dagar opened #12340 "px4_fmu-v5x support"
TODOS:

- [x] Drivers
  - [ ]  Digital power module
    - [x]    Add INA226
    - [ ]   Support
- [x]  BMI088
- [x]  ISM330
- [x]  BMP388
- [ ]  ~~A71CH~~ SE050

[2019-06-26 17:58] dagar commented on #12340
Initial board support. https://github.com/PX4/Firmware/pull/12135

[2019-06-26 19:39] wluker commented on #12251
I'm seeing this issue as well.
My setup ::
 PX4 version : v1.9.1
 Flight Controller : Pixhawk 2
 RC : Taranis X9D Plus + X8R
 Telemetry : 3DR

Steps to reproduce:
1. Power on the drone via battery.
2. Open QGroundControl and connect via telemetry (not usb)
3. Try to arm via RC : drone will beep with arm denial
4. In the mavlink console : issue reboot command : `reboot`
5. Repeat `reboot` and RC ar

[2019-06-26 22:48] dlwalter opened #12341 "px4_fmu-v5 firmware v1.9.0 doesn't check for external I2C lis3mdl compass"
**Describe the bug**
v1.9.0 v5 firmware does not check for an I2C external LIS3MDL compass on Pixhawk 4 mini

**To Reproduce**
plug in an LIS3MDL compass - it won't show as connected. You can start it manually with "lis3mdl -X start"

**Expected behavior**
firmware should check for lis3mdl compass on external i2c as part of boot sequence

The following line should be added to Firmware/boards/px4/f

[2019-06-27 01:54] hamishwillee commented on #9118
Keep this open

[2019-06-27 01:59] hamishwillee commented on #9565
@RomanBapst I seem to remember some discussion that Airmode should not be enabled by default because it needs to be turned off when first tuning a vehicle. In any case, I know that it is currently disabled by default.

[2019-06-27 02:00] hamishwillee commented on #10610
Still true

[2019-06-27 02:02] hamishwillee commented on #10619
@MaEtUgR I'd still love this. However I think it might be easier in near future. Tully at the dev summit indicated that Gazebo "Ignition" (re-written from ground-up version) should run on Windows out of the box.

[2019-06-27 02:12] hamishwillee commented on #11225
FYI, not sure whether or not this is needed because the event's interface should be used for many of the use cases that justified this message's existence.

[2019-06-27 02:15] hamishwillee commented on #11441
Still desirable.

[2019-06-27 02:23] sunnyroad commented on #9582
Pixhawk2,  actually issue happen when reboot FCU via command "PREFLIGHT_REBOOT_SHUTDOWN", so after that, when we send armed command, it also respond armed success but no pwm output on each FCU's PWM_OUT IO(always zero output).

[2019-06-27 03:31] hamishwillee commented on #11514
This needs to be done.

[2019-06-27 03:33] hamishwillee commented on #11620
@bkueng If any thoughts on the above?

[2019-06-27 05:08] hamishwillee commented on #12305
@priseborough The units for [EKF2_RNG_A_HMAX](https://github.com/PX4/Firmware/blob/master/src/modules/ekf2/ekf2_params.c#L1145) and EKF2_RNG_A_VMAX is just metres right?

[2019-06-27 05:21] deepanshgoyal0718 opened #12345 "Unable to arm the drone"
I am trying to simulate iris3D in Gazebo
When I give the following command: $ roslaunch px4 mavros_posix_sitl.launch
I get the following result:
[code]
I cant figure out why Arming is False?

[2019-06-27 06:04] MaEtUgR commented on #10619
@hamishwillee I totally agree. I definitely don't have the bandwidth to port the original hacky gazebo for windows setup but the discussion with Tully at the Dev Summit was indeed very educational and I'm looking forward to test the new ignition library and hopefully even ROS2 on Windows here are the latest gazebo instructions for Linux, there's no out of the box Windows binary as far as I can see

[2019-06-27 06:10] bkueng commented on #11620
Best to let @RomanBapst answer, I don't know the specifics.

[2019-06-27 07:50] deepanshgoyal0718 opened #12347 "Unable to arm the drone"
My python file corresponding to the launch file contains the following commands:
print "Arming"
result = arming_srv(value=True)
print result
.
.
.
.
arming_srv = rospy.ServiceProxy("/mavros/cmd/arming", CommandBool)

But still when I execute the file the value of result printed is False. Please help me debug this.

[2019-06-27 11:46] Jaeyoung-Lim commented on #12029
@jannsta1 The MountControl plugin in mavros is now merged! You can control the gimbal continuosly while controlling the vehicle offboard.

[2019-06-27 11:51] jannsta1 commented on #12029
Nice one! Will be next week before I try to integrate this but this is certainly enough to close this issue.

[2019-06-27 11:51] #12029 closed

[2019-06-27 14:13] ItsTimmy opened #12350 "Rover control: Support missions without global position available"
**Describe problem solved by the proposed feature**
The current Rover position controller (Updated in #12239 ) relies solely upon global position. As support is added for wheel encoders, optical flow, ultra wide band, and other localization methods, the controller will need to be updated to navigate based on local position.

**Describe your preferred solution**
Waypoint coordinates, given in globa

[2019-06-27 14:18] ItsTimmy opened #12351 "Add vehicle model module for converting wheel encoder counts into body velocities"
**Describe problem solved by the proposed feature**
Wheel encoder support is being worked on [here](https://github.com/ItsTimmy/Firmware/tree/pr-roboclaw). The end result of this drive will be a uORB topic that publishes raw encoder data. This data must be converted to velocities to be used by the EKF2 module, but this is not trivial: Different rovers can have different wheel configurations and di

[2019-06-27 15:39] Jaeyoung-Lim commented on #12221
@jannsta1 I will look into this as soon as possible. Currently I am overloaded with other stuff not related to SITL, so won't be able to look at it this week

[2019-06-27 16:11] #11235 closed

[2019-06-27 18:20] AuterionWrikeBot opened #12354 "Feature Request: Switch into last mode (position, altitude) after Mission/RTL/Land via QGC"
After executing a Mission/RTL/Land operation the vehicle is still in those modes and to arm, you need to switch to a flight mode.
It would be helpful, if the drone automatically switches back to the last flight mode after landing.

[2019-06-27 21:57] davids5 commented on #10610
@hamishwillee

Looks like it was fixed
[code]

[2019-06-27 21:57] #10610 closed

[2019-06-27 22:16] rligocki opened #12355 "Secondary GPS doesn't works"
**Describe the bug**
On 1.9.1 stable I tried to connect two HERE2 GPS modules because of redundancy. GPS modules were connected to GPS1 and GPS2 ports on Pixhawk 2.1. Then I run GPS driver using command: "gps start -d /dev/ttyS3 -e /dev/ttyS4". The first GPS works ok, secondary GPS has no response

**To Reproduce**
Steps to reproduce the behavior:
1. Pixhawk 2.1 with stable 1.9.1
2. console comman

[2019-06-28 03:44] siddhu45 commented on #12260
Hi @marcelinomalmeidan, I completely agree with you.

I am trying something similar on Pixhawk 4 with external vision fed to EKF2.
I tried firmware 1.8.2, 1.9.0
I am setting these parameters (I don't use GPS)
EKF2_AID_MASK: 24 (enabled vision position fusion and vision yaw fusion)
EKF2_HGT_MODE: Vision
EKF2_MAG_TYPE: None (enabling or disabling this doesn't seem to make a difference in my case)

W

[2019-06-28 07:54] BazookaJoe1900 commented on #11683
I think The issue is still relevant

[2019-06-28 08:30] RomanBapst opened #12359 "Rate setpoint dropout during transition"
While flying a quadplane one v1.9 I noticed that there is always a 1 second gap in the vehicle_rates_setpoint topic at the beginning of the transition. Normally the fixed wing attitude controller should be publishing values. The rate controllers still seem to run.

![image](https://user-images.githubusercontent.com/7610489/60328611-e8b39600-998e-11e9-9269-062976e5a34f.png)

In the figure above you

[2019-06-28 09:49] oasinic opened #12360 "non-standard baudrates are not supported on this platform"
Hi
Use windows 10 and PX4.Windows.Cygwin.Toolchain.0.5
fork master today
compile firmware use
`$ make px4_fmu-v3_default`
try to upload
`$ make px4_fmu-v3_default upload`
and get error
`[0/1] uploading px4
Loaded firmware for board id: 9,0 size: 1665660 bytes (80.05%), waiting for the bootloader...

non-standard baudrates are not supported on this platform -> could not check for FTDI device, assum

[2019-06-28 10:06] zhaoxiaowei1013 commented on #9737
px4 don't support yaapu lua scripts。

[2019-06-28 13:57] RomanBapst opened #12361 "List of default params that need an update"
This is to track parameters which have a default that does not work well on practice or leads to inferior performance on pretty much every airframe.

Parameter name | default | suggested
------------------- | --------- | -------------
MPC_Z_VEL_I | 0.02 | 0.1
MPC_ACC_DOWN_MAX | 10.0 | 3.0
MPC_ACC_UP_MAX | 10.0 | 4.0
SYS_FORCE_F7DC | 0 | 2
MPC_POS_MODE | 1 | 3
MPC_ACC_HOR | 5 | 3
MPC_ACC_HOR_MAX |

[2019-06-28 14:22] bresch opened #12362 "PID implementation - Parallel vs Ideal"
I wanted to discuss a bit in this issue the different types on PID controllers. The main reason is that I find the current implementation not intuitive to adjust manually.

**Parallel:**
This is the current implementation of the rate and velocity controllers in PX4. The specificity of that implementation is that the P, I and D path are independent. This sounds to be a good idea, but in practice it

[2019-06-28 14:38] rollysing commented on #9737
@zhaoxiaowei1013

It can but you need to use a [Teensy 3.2](https://www.pjrc.com/teensy/teensy31.html) with [Eric Stockenstrom’s](https://github.com/zs6buj/MavlinkToPassthru) firmware. Read the [developments](https://www.rcgroups.com/forums/showthread.php?3020527-An-Ardupilot-frsky-telemetry-LUA-script-for-the-Horus-X10-X12-and-Taranis-X9D-E-QX7). I have a Jumper T16 (works like Horus X10/X12) and

[2019-06-28 16:36] wluker commented on #12251
On my setup this is bug is being triggered by QGroundControl sending a `MANUAL_CONTROL` mavlink message to px4. If I disable the virtual joystick in QGroundControl this issue goes away.

[2019-06-28 21:05] LorenzMeier commented on #12362
Very cool! Let's make sure we can execute on this on a fixed timeline.

[2019-06-28 21:06] LorenzMeier commented on #12361
I think we need this in v1.9.2 already as we otherwise keep this issue too long.

[2019-06-29 02:14] zhaoxiaowei1013 commented on #9737
I am devloping  PX4 firmware to support yaapu lua scripts ，and  thank your suggest。

[2019-06-29 09:30] jlecoeur commented on #12362
Sounds very cool!

I was curious and displayed the gains you collected:
![px4_gains](https://user-images.githubusercontent.com/1379463/60382185-f71db280-9a5f-11e9-977b-68fe2c3df541.png)

For the derivative part (left), it indeed looks like Kd was tuned together with Kp. Sounds like Kc=Kp, Kp'=1, Kd'=0.029 would be a good starting point.

For the integrator, however, there is no such correlation be

[2019-06-29 13:34] rollysing commented on #9737
@zhaoxiaowei1013 Is it your intention to write the code so it connect directly to the SPort of FrSky Rx without needing a Teensy or [Telemetry Cable ](http://www.craftandtheoryllc.com/store/ct-telemetry-cable-for-frsky-radios/) and natively work?

[2019-06-29 14:28] BazookaJoe1900 commented on #11420
I am not sure what fixed this behavior but it doesn't happens on current master enymore.
@bresch you can check this too and close

[2019-06-29 14:31] LorenzMeier commented on #12362
@jlecoeur It is important to note that we have protected against large I gains with this commit, so tuning can now include a large I gain:
https://github.com/PX4/Firmware/commit/ea31f34d09b542fcad7087aa9c9d9c27ddad6ce9

I would also argue that a lot of airframe configs here would not stand an evaluation on what we consider "great performance", as we find that community-provided tuning values are h

[2019-06-30 10:03] weekly-digest[bot] opened #12374 "Weekly Digest (23 June, 2019 - 30 June, 2019)"
Here's the **Weekly Digest** for [*PX4/Firmware*](https://github.com/PX4/Firmware):

 - - -
# ISSUES
Last week 55 issues were created.
Of these, 17 issues have been closed and 38 issues are still open.
## OPEN ISSUES
:green_heart: #12372 [mavlink receiver move to uORB::Publication](https://github.com/PX4/Firmware/pull/12372), by [dagar](https://github.com/dagar)
:green_heart: #12371 [introduce uOR

[2019-06-30 14:04] #12374 closed

[2019-06-30 15:10] DamDrone opened #12375 "New fw 1.9.1 doesn't recognize airspeed sensor"
Hi guys,
I have a twin motor fixed wing drone equipped with Pixhawk 2.4.6 by mRobotics.
I flew this drone until yesterday succesfully with the fw 1.8, today I flashed to fw 1.9.1 and suddendly, without any change on the parameters, the system doesn't recognize the airspeed sensor anymore.
The airspeed sensor is this one:
https://store.mrobotics.io/mRo-Next-Gen-MS5525-Airspeed-Sensor-NEW-p/mro-ms55

[2019-06-30 15:33] dagar commented on #12375
You're likely running the px4_fmu-v2 (1MB flash limit) binary rather than px4_fmu-v3 (full 2MB flash).

Here's the board config for the flash limited px4_fmu-v2 where various drivers and modules are not included to save space. https://github.com/PX4/Firmware/blob/d1298f2c372147eb6142c102c9499a2be6b96350/boards/px4/fmu-v2/default.cmake#L29

One way to verify is to run `ver all` in a console (QGC ma

[2019-06-30 15:34] dagar commented on #12375
@pkocmoud can you verify the bootloader version you ship with?

[2019-06-30 15:48] DamDrone commented on #12375
Thanks for the answer, sadly I have zero knowledge about what goes more than flash a firmware or modify the parameters through QGC, so I have no idea how to use links and files you just posted.

Is there any kind of file that I can flash like custom firmware flashing, that include already the mods you posted?

Look like my pixhawk has v3 fmu, if I checked correctly on the web page where I bought i

[2019-06-30 15:52] DamDrone commented on #12375
Here is what appear on setting the command you said
<img width="1440" alt="Screenshot 2019-06-30 at 17 51 22" src="https://user-images.githubusercontent.com/52379239/60399077-bdcc6c00-9b5f-11e9-94e5-c9fe5fa5e0d2.png">

[2019-06-30 15:58] dagar commented on #12375
Ok, so you are running px4_fmu-v3 with the proper bootloader (false alarm @pkocmoud). Something else must be wrong with either the ms5525 driver or the surrounding startup code. I'll try to reproduce locally.

[2019-06-30 16:02] DamDrone commented on #12375
Thank you, I just re-flashed with the fw for fmuv3 but still getting the issue.
Will wait for your feedback, thanks!

[2019-06-30 16:28] dagar opened #12376 "Hardware testing TODO"
- on hardware unit test framework (https://github.com/PX4/Firmware/pull/12106)
 - run HIL simulation test on hardware (jmavsim or gazebo)
 - code coverage
 - peripheral testing
     - i2c sensors
     - GPS
     - serial (mavlink flow control, etc)
 - repeat everything with stackcheck, critical section monitor, etc
 - power control (each port, usb, servo rail) (https://numato.com/product/4-channel

[2019-06-30 16:51] julianoes commented on #11160
I hate this bot.

[2019-07-01 08:40] julianoes commented on #4428
This was still on my personal todo list :smile:

[2019-07-01 08:55] bresch commented on #12362
@jlecoeur Thanks for your input and the graphs. Yes, there is a quite clear linear relation between Kp and Kd.
There is no visible linear relation between Kp and Ki because Kp mainly depends on total thrust and inertia ratio while Ki depends essentially on the inertia of the vehicle.
- Weak and heavy vehicle: high Kp, low integral
- Powerful and heavy vehicle: low Kp, low integral
- Weak and light

[2019-07-01 11:17] julianoes commented on #9971
@r0gelion @santiago3dr can you try again? This should have been fixed in the meantime.

[2019-07-01 11:19] julianoes commented on #10813
@roseyangyu closing as stale. If it's still happening for you please re-open and provide as much detail as possible.

[2019-07-01 11:19] #10813 closed

[2019-07-01 11:21] julianoes commented on #5639
Guys, I have enough to do without bots talking to me.

[2019-07-01 11:21] julianoes commented on #6275
I hope we don't lose against these bots!

[2019-07-01 11:24] #11203 closed

[2019-07-01 11:25] julianoes commented on #11238
@jzazbert did you find a solution for the issue?

[2019-07-01 11:27] julianoes commented on #11114
Closing for now, can be improved if we get more support from people behind Snappy again.

[2019-07-01 11:27] #11114 closed

[2019-07-01 11:27] julianoes commented on #10246
It's still wrong you bot.

[2019-07-01 11:28] julianoes commented on #10430
Alright, I'm assuming this is working, otherwise please re-open.

[2019-07-01 11:28] #10430 closed

[2019-07-01 11:30] julianoes commented on #4876
This needs further testing for work on commander.

[2019-07-01 11:33] julianoes commented on #10584
Thanks @dakejahl and @jkflying. That's helpful, however, I still believe the hard part is capturing the intended behaviour and put it into a diagram than to actually implement the state machine. I have implemented a state machine like this in the past as well but was struggling with formulating the actual behaviour without having to do it using hierarchical state machines.

[2019-07-01 11:40] jlecoeur commented on #12362
@bresch sounds good!

If it turns out that you often need to tune Kc and Ki separately then you may consider an "ideal-parallel" implementation where Kc scales both the proportional and derivactive actions, but not the integral action.

I

[2019-07-01 11:48] julianoes commented on #12265
I have seen it at times without speed up as well.

[2019-07-01 11:49] julianoes commented on #10988
Great thanks for reporting this.

[2019-07-01 11:49] #10988 closed

[2019-07-01 11:50] julianoes commented on #11188
Closing, please re-open if this is still an issue.

[2019-07-01 11:50] #11188 closed

[2019-07-01 12:21] AuterionWrikeBot opened #12380 "Feature request: RTL cone"
If vehicle is close to RTL position it is disturbing if the vehicle goes to full RTL altitude.
RTL altitude should depend linearly on the
distance from RTL position.

extra handling needs to be added if RTL is triggered within very close proximity of RTL (avoid landing gear entanglement)
If vehicle is close to RTL position it is disturbing if the vehicle goes to full RTL altitude.
RTL altitude sho

[2019-07-01 12:35] bozkurthan opened #12381 "Critical RC Loss Failsafe Bug, Potenial Vehicle Lost"
**Describe the bug**
Hello, I'm using PX4 latest Firmware in Pixhawk 2.1 (Cube). Geometry is generic Quadrotor X geometry. My communication system is depending on RF modules(Long range ~900MHz) between Vehicle and RC. I'm feeding Pixhawk RC_IN with RF PPM signal out which is on RC. Radio Controller's (FrSky Taranis X9D) PPM frame length is 22.5 ms and it has 8 channels. Failsafe action was RTL.

Y

[2019-07-01 13:48] julianoes commented on #12355
Have you seen this docs? https://docs.px4.io/en/peripherals/serial_configuration.html

[2019-07-01 13:55] julianoes commented on #9316
This should work with 1.9, closing.

[2019-07-01 13:55] #9316 closed

[2019-07-01 14:41] dagar commented on #9971
Snapdragon was most recently fixed (and tested) by @karliss. https://github.com/PX4/Firmware/pull/11000

[2019-07-01 14:41] #9971 closed

[2019-07-01 14:45] dagar commented on #12376
@dinomani

[2019-07-01 14:49] bresch commented on #12362
@jlecoeur In fact you still want to Ki with Kc because this decouples the static part (pure gain) from the dynamic tuning (integral and derivative time constants).

**Intuitive example**
Let's look at the following scenario:
You have a drone well tuned for you application with the gains Kp, Ki and Kd. Now, you want to update your lifting system to use 6S batteries instead of 4S and even if you cha

[2019-07-01 15:24] jkflying commented on #10584
Maybe a first step would be drawing a high level state transition diagram and refactoring into that, even if inside the different states there is still a lot of ad-hoc implicit state code?

[2019-07-01 15:37] jzazbert commented on #11238
In our case, I disabled reception (and transmission) of the RC_CHANNELS_OVERRIDE message for safety.

This wasn't my preferred solution as it likely breaks other things in the future, but until there is a more robust mechanism for control authentication, it solved my safety problem.

[2019-07-01 16:03] dagar commented on #12092
The log might help if you manage to reproduce it while the logger is running.

Can you reshare the image directly on github?

[2019-07-01 16:05] dagar commented on #10584
Why without hierarchical state machines?

[2019-07-01 16:24] dlwalter commented on #12341
@dagar This is marked as closed.  Is 1.9.0 not supporting the LIS3MDL compass?

[2019-07-01 16:26] zhanghouxin07 opened #12383 "Px4(1.9.0) support the offboard mode for fixed wing or not?"
Hi there,

I'am research the fixed wing platform about PX4. However, I can enter the offboard mode with FW in simulation. The Developer guide says that Fw is not supported by PX4, but someone say the FW can be used on FW.

Thank you for your help!!

Thanks!

[2019-07-01 16:27] jlecoeur commented on #12362
Very clear explanation, thank you! Looking forward to seeing the PR ;-)

[2019-07-01 16:27] dagar commented on #12341
If you can open a PR with that change and test it quickly I can get it into v1.9.2.

[2019-07-01 16:33] dlwalter commented on #12341
Thanks!

[2019-07-01 16:53] dlwalter commented on #12341
https://github.com/PX4/Firmware/pull/12384

Done.

[2019-07-01 17:44] dagar commented on #12359
I'm not sure, but I guess I'm not surprised given the complexity of the independent logic in each separate controller for coordinating which portion is running wrt vtol state and type.

I'm sure there's a whack-a-mole solution to the bug here if someone wants to temporarily get their head around all the current code and timing long enough to see the problem, but how about something architecturally

[2019-07-01 17:46] dagar commented on #12359
Independent of the VTOL architecture I've already starting splitting mc_att_control. https://github.com/PX4/Firmware/pull/12225

[2019-07-01 21:54] dyli96 opened #12385 "'px4_sitl gazebo' errors when performing third build step"
Hi there,
I ran ```make px4_sitl gazebo``` and got tons of errors in the third build step.
I ran ```source ubuntu_sim.sh``` before making
I also followed the dependencies for ROS/Gazebo.
I can run ```make px4_sitl_default jmavsim``` correctly but got the errors for gazebo.
Thanks for your help!
[code]

[2019-07-01 22:13] #12341 closed

[2019-07-02 00:12] hamishwillee commented on #12383
@RomanBapst Can you confirm whether this is correct, and if not, in which version offboard control for fixed wing was implemented. In https://docs.px4.io/master/en/flight_modes/offboard.html we say:
![image](https://user-images.githubusercontent.com/5368500/60473738-e795a800-9cb1-11e9-8646-643022a06c2b.png)

[2019-07-02 00:23] hamishwillee commented on #12381
I **think** the problem is probably a receiver configuration issue - PX4 cannot trigger a failsafe if it is still getting what looks like a valid PWM signal.

@julianoes this has come up before but docs have not be updated (probably need to update [here](https://docs.px4.io/master/en/config/radio.html)). Do you know what a receiver should output when the transmitter stops, and how is this configur

[2019-07-02 00:26] hamishwillee commented on #10430
FWIW I would assume so too. @lamping7 and others have played with this recently.

[2019-07-02 01:07] hamishwillee commented on #4428
When this is done, let me know so I can document it. I think it would be good to be able to simulate the battery failsafe. If this is already possible, what parameter needs to be set?

[2019-07-02 02:33] dagar commented on #11054
Should be resolved by https://github.com/PX4/Firmware/pull/12140.

[2019-07-02 02:33] #11054 closed

[2019-07-02 02:38] zhanghouxin07 commented on #12383
I try to enter the offboard mode again. I complete it successfully. the developer guide of px4 may be a little out of style.
thx

[2019-07-02 04:32] julianoes commented on #4428
We want to be able to properly simulate all sorts of failsafes and failsafe combinations in SITL and in real flights, and this is just a part of it.

[2019-07-02 04:33] julianoes commented on #12092
![Selection_024](https://user-images.githubusercontent.com/1419688/60482800-4992e500-9c93-11e9-821b-fb9150e1a1d2.png)

[2019-07-02 04:35] julianoes commented on #10584
Right so for hierarchical state machines you either need to extend the implementations or combine them manually.

[2019-07-02 04:40] julianoes commented on #12381
Best and easiest case is if the receiver stops outputting anything which will be correctly interpreted as RC lost.

An alternative is that the receiver goes into a "failsafe" setting with throttle low. This needs to be configured on the PX4 side using the param https://dev.px4.io/en/advanced/parameter_reference.html#RC_FAILS_THR.

The docs should mention:
1. These two ways of configuring it.
2. Th

[2019-07-02 04:42] julianoes commented on #12385
Have you tried `make clean` and then building it again?
And can you please post the complete build output?

[2019-07-02 05:17] EnsignCrasher opened #12386 "1.9.0: Fixed Wing Mission Rejected"
Hi everyone,
I just started using PX4 and everything went very well so far (stabilized, rtl, etc just worked out of the box :+1: )
I then started to try "Mission" and just draw a simple mission with 3 waypoints with RTL in the end. But somehow PX4 always comes up with "REJECT AUTO MISSION" and switches to Loiter.

In the log file seems quite OK for me, except in the end it says `ERROR [PWM3901] dr

[2019-07-02 05:21] #12383 closed

[2019-07-02 05:29] mhkabir commented on #4428
Saw some somewhat related progress towards this here: https://github.com/PX4/Firmware/tree/feature/sim-battery-parameter

[2019-07-02 05:31] zhanghouxin07 opened #12387 "px4::1.9.0 fixed wing in offboard mode but any ros::publish for controling the fw is invalid."
my fixed wing (1.9.0) can enter the offboard mode successfully ,but any publisher by mavros (setpoint_position/local, setpoint_ray/local, or setpoint_attitude ) is invalid.  I cannot control my fw in offboard.
after entering the offboard mode, the fw do a forward flight only.

i wonder if there are some step I forget to do after entering offborad, but before controlling my fw.

Or, for fw controli

[2019-07-02 05:48] julianoes commented on #12386
Hi @EnsignCrasher, do you have a log file of when this happens?

[2019-07-02 06:20] Jaeyoung-Lim commented on #12387
@zhanghouxin07 I believe the current state is you can send `~setpoint_attitude` setpoints such as attitude, bodyrates. Posiiton setpoints are not valid.

[2019-07-02 06:22] Jaeyoung-Lim commented on #12383
@hamishwillee Fixed wing offboard mode has only started work since #12149 and #12311

Only attitude setpoints (attitude, bodyrates) are supported at this point.

[2019-07-02 07:19] zhanghouxin07 commented on #12387
yeah, I note that there are three subtopics in setpoint_attitude:: thrust, cmd_vel, and attitude. Are these three parts used separately or in combination?
for instance, I send PoseStamped msg to topic::setpoint_attitude/attitude alone.
e.g: pose.position.x = 1;pose.position.y =0; pose.position.z = 0;
and pose.orientation.x,y,z,w also given for a constant value at the same time.
but the fw still fl

[2019-07-02 07:28] Jaeyoung-Lim commented on #12387
As I explained, position values are not consumed from the fixed wing position controller. Only the thrust and attitude values will be used. Have you tried using the bodyrate setpoints? Which firmware version are you using? Have you tried with the current master?

[2019-07-02 09:48] EnsignCrasher commented on #12386
jep, here: :relaxed:
https://logs.px4.io/plot_app?log=fbecc4bd-229a-4fb0-8ae1-2555c587d363

[2019-07-02 09:51] zhanghouxin07 commented on #12387
thanks for you help again. I have tried using the bodyrate setpoints, and the firmware verison is 1.9.0. I try to achieve goals but failed.

Here is my main part(not the whole) of my code, I appreciate that you can point out my problem.

      ros::Publisher set_raw_target_atti_pub = nh.advertise<mavros_msgs::AttitudeTarget>("/uav0/mavros/setpoint_raw/target_attitude", 10);
      mavros_msgs::Atti

[2019-07-02 10:40] jasonbeach commented on #11070
I've changed the `/dev/ttyACM0` to `/dev/ttyS2` and have the baudrate set at 921600 and the issue persists.

[2019-07-02 13:14] julianoes commented on #12386
Is it possible that you took off before you had a decent GPS lock and home position initialized? If you do that then later MISSION and RTL modes are rejected. The fact that MISSION is rejected is not really intuitive and should be fixed. In that case it's the same issue as this: https://github.com/PX4/Firmware/issues/12168

[2019-07-02 13:15] julianoes commented on #11384
@dagar I haven't seen this in a while.

[2019-07-02 13:17] julianoes commented on #11070
When this happens, can you paste the output of `mavlink status`?

[2019-07-02 13:26] dagar commented on #11384
Likewise, but there's still nothing fundamentally preventing it. How about we get the "hack" (https://github.com/PX4/Firmware/pull/11388) into an acceptable state for merging and move on? At least then we'd capture it in logs if it did happen in the field.

The alternative is locking the param system during mavlink param sync.

[2019-07-02 13:40] DamDrone commented on #12375
@dagar Hi, any news about?

[2019-07-02 13:58] EnsignCrasher commented on #12386
I would think so? Although I haven't checked explicitly. Actually I'm not quite sure how I would check the GPS status the best way in general.
Currently I'm using the pixhawk 4 board, which has no UI LED afaik?
Haven't got around installing telemetry or minimosd and fpv neither :smirk:
And I already found out that connecting the autopilot via USB while trying anything mostly results in strange beh

[2019-07-02 16:02] EnsignCrasher commented on #12386
back from the field and it actually seemed to be the issue you mentioned :relaxed:
just waited for about one or two minutes before arming and everything worked as expected, thanks for your help :relaxed: :+1:

[2019-07-02 16:02] #12386 closed

[2019-07-02 16:36] Jaeyoung-Lim commented on #12387
@zhanghouxin07 It looks like you are missing some fields in the set_raw_target_atti message such as type mask, time stamp

[2019-07-02 17:40] dagar commented on #10584
Added https://github.com/andrew-gresyk/HFSM2 to the list to investigate.

[2019-07-02 20:03] dyli96 commented on #12385
I updated my protoc and now have new errors.
The errors are too long. I attached a file.

[px4_sitl_gazebo_errors.txt](https://github.com/PX4/Firmware/files/3352117/px4_sitl_gazebo_errors.txt)

[2019-07-02 21:05] julianoes commented on #12385
That's odd. Have you checked if your system packages are all up to date e.g. `apt-get update && apt-get upgrade`?

On which Ubuntu (or other distribution) are you?

[2019-07-02 21:07] julianoes commented on #8913
@davids5 does this still need following up?

[2019-07-02 21:09] davids5 commented on #8913
@julianoes - yes someone should repeat the test with capture and see if the problem still exists.

[2019-07-02 21:10] julianoes commented on #12386
Ok thanks for reporting. This still needs fixing for better user experience of course.

[2019-07-02 23:24] lkm1321 opened #12390 "sitl_gazebo: throw error if so file for plugin is missing."
Hi there,

Problem:
Gazebo doesn't seem throw a noticeable error when it's trying to load a plug-in that simply doesn't exist or isn't built.
For example, I just spent almost a day or two debugging an issue where Gazebo isn't connecting to the SITL correctly, and it turned out that I wasn't familiar with the changed build configs and didn't build the gazebo interfaces (i.e. `make posix_sitl_defaul

[2019-07-03 00:29] david6096 opened #12391 "precision landing"
in the src/modules/navigator/precland.cpp,there is following source code:

bool PrecLand::check_state_conditions(PrecLandState state)
{
 vehicle_local_position_s *vehicle_local_position = _navigator->get_local_position();

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

}
...
...
 the member variable "_target_pose_updated" is initialized to "False",and not be assigned "True

[2019-07-03 00:57] hamishwillee commented on #12383
@Jaeyoung-Lim Thanks very much - I've added docs in https://github.com/PX4/px4_user_guide/pull/506

As a general rule, an undocumented feature is no feature at all :-). So if you add something, please document, ask me for help, or as a last resort add a docs issue.

[2019-07-03 02:16] love-mj opened #12392 "Reboot via QGC does not restore dropped RC connection #8148"

[2019-07-03 04:39] hamishwillee commented on #12381
Thanks @julianoes. Useful information, but would be good to see how this works in real receivers.

Consider the X8R receiver for this issue. By default this will just output whatever signal it had before connection was lost. Our option here is to set failsafe as outlined [here](https://www.frsky-rc.com/wp-content/uploads/2017/07/Manual/X8R.pdf). This can set the output value to failsafe values bas

[2019-07-03 05:48] zhanghouxin07 commented on #12387
yeah, My program seems to be missing something or some other unrelated codes affecting fw control. I cannot figure out where is the problem.
Therefore, I rewrite a code for fixed wing. Then, everything is ok with a new code :-).

thanks a lot.

[2019-07-03 06:20] Jaeyoung-Lim commented on #12387
@zhanghouxin07 Glad to hear that your problem is solved

[2019-07-03 06:29] AlexisTM commented on #12391
Coud you put the code between ``` to format it?

[2019-07-03 06:36] AlexisTM commented on #12391
Also, it is updated, by ORB subscription.

[code]

If there is a new message, the target will be updated. And the target is only updated by an **external** input. There are 2 places where the topic is advertised, MAVLink and convertion of the IRLock measurements.

[code]

[2019-07-03 07:04] julianoes commented on #12381
What I do is to use the trim (on the RC) to lower throttle all the way. Then I set this as failsafe and reset the trim again.

I think SBUS just stops sending stuff, right?

[2019-07-03 07:04] david6096 commented on #12391
Where is "orb_check(_target_pose_sub, &_target_pose_updated);"?I can't find it.
thanks.

[2019-07-03 07:22] julianoes commented on #12390
I agree but I think the only way is to look at the logfiles which are mentioned in the log output.

[2019-07-03 07:23] Jaeyoung-Lim commented on #12383
@hamishwillee Thanks for the input. I will try to make more of the features I work on to be shown in the documentation

[2019-07-03 07:24] julianoes commented on #12391
FYI @okalachev

[2019-07-03 07:24] #12387 closed

[2019-07-03 07:25] julianoes commented on #12392
It's not clear to me what this is about.

[2019-07-03 07:28] EnsignCrasher commented on #12386
Guess it would already help if the error message would be a bit more describing.
I would think that there are several checks done, before it fails with "REJECT AUTO MISSION".
probably something like this:
[code]
It would already help a lot, if a description would be added at these places, f.e.
`REJECT AUTO MISSION: no home position was set`
f.e.:
[code]

just an idea .... :relaxed:

[2019-07-03 07:29] julianoes commented on #12386
Yep that's true!

[2019-07-03 07:36] love-mj opened #12396 "Reboot via QGC does not restore dropped RC connection"
Quite often I have the RC control stop working after powering on the autopilot. It doesn't lose signal or indicate lost connection in QGC, it just stops responding to inputs from the RC radio. This only happens before arming, never after. It seems to not happen if I constantly move the sticks pretty regularly, but if left alone for a minute.

I'm not sure why this happens, but at the least if I co

[2019-07-03 07:36] EnsignCrasher commented on #12386
hehe, yeah when I find time in between ;) haven't looked into the code yet though

[2019-07-03 07:41] #12396 closed

[2019-07-03 07:41] love-mj commented on #12392
Quite often I have the RC control stop working after powering on the autopilot. It doesn't lose signal or indicate lost connection in QGC, it just stops responding to inputs from the RC radio. This only happens before arming, never after. It seems to not happen if I constantly move the sticks pretty regularly, but if left alone for a minute.

I'm not sure why this happens, but at the least if I co

[2019-07-03 07:44] david6096 commented on #12391
I got it,the source code is different between master and safe_landing_1.9 branch.which branch is stable?which branch can I test it on my drone?thanks.

[2019-07-03 07:49] ndepal commented on #12391
Good catch @david6096, this appears to be a regression introduced by

https://github.com/PX4/Firmware/commit/e4ad9947637a6c7667cce7eecc9785fa13bebe81#diff-f45ed77ef246e60c91f6300a68629229L114

It looks like this is not yet broken in v1.9.0, so you could use that for your tests until it's fixed on master.

[2019-07-03 07:49] AlexisTM commented on #12391
You can test 1.9.1 I guess.

[2019-07-03 07:51] LorenzMeier commented on #12168
This is likely related to the `mission_feasibility_checker.cpp` file and this section in it:

[code]

[2019-07-03 08:02] david6096 commented on #12391
thanks,thanks very much.

[2019-07-03 08:18] fabianschilling commented on #12323
I ran into the same issue a while ago. Try to lower the vertical thrust that is required to hover with the  `MPC_THR_HOVER` parameter. In my case, 30% was a good value but it will depend on the weight of your vehicle.

[2019-07-03 08:40] ndepal commented on #12391
let's keep this open until the problem is fixed. I'll try to make a PR soon.

[2019-07-03 08:50] holmnikolaj opened #12399 "Mission checksum for UI synchronisation"
To make sure that the mission on the drone is identical to the one shown in the UI You have to download all the mission to check. This can take quite a while for a long mission just to check.

If the first item in the mission were a checksum the synchronization could be check by just downloading one mission item.

[2019-07-03 08:51] fabianschilling opened #12400 "Error in startup script in lockstep simulation with floating point PX4_SIM_SPEED_FACTOR"
Using a floating point `PX4_SIM_SPEED_FACTOR` as described in the Devguide (https://dev.px4.io/master/en/simulation/#simulation_speed) results in the following error:

[code]

The error is caused by performing calculations with built-in shell math (which only supports integer arithmetic) in lines 165, 169, and 173 in `ROMFS/px4fmu_common/init.d-posix/rcS`.

To reproduce, issue: `PX4_SIM_SPEED_FACT

[2019-07-03 11:18] julianoes commented on #12321
I agree that we should change it to a better message and probably it makes sense to limit it maybe only show up every 10 seconds or so.

[2019-07-03 12:36] julianoes commented on #12392
Interesting, we would need to find out what causes this. Can you please provide Firmware version, type of receiver, Pixhawk hardware type, how it is connected. And can you check that the RC receiver is actually still changing the value, e.g. using a scope.

Also, please set https://dev.px4.io/en/advanced/parameter_reference.html#SDLOG_MODE to 1 and then record a log where it happens, upload it to

[2019-07-03 14:32] dagar commented on #12399
Yes absolutely! I've wanted to do this for a long time, but the blocker is getting the mavlink spec updated.

[2019-07-03 14:38] dagar commented on #12392
Which hardware?

[2019-07-03 14:40] love-mj commented on #12392
all

[2019-07-03 14:41] love-mj commented on #12392
Pixhawk hardware type : pixhawk 2.4.8

[2019-07-03 15:30] Pedro-Roque commented on #12347
@deepanshgoyal0718 can you check QGC or the log for any errors that might not allow your vehicle to arm?

[2019-07-03 15:40] julianoes commented on #11831
@LorenzMeier can be closed, right?

[2019-07-03 15:44] Pedro-Roque commented on #12272
@MaEtUgR  why not using doing the quaternion distance among all the quaternions? Check equation 27

[2019-07-03 15:46] jkflying commented on #11445
This is fixed now.

[2019-07-03 15:46] #11445 closed

[2019-07-03 15:49] EnsignCrasher opened #12406 "Fixed wing cutting corners in MISSION"
Hello again,

as I'm now able to fly missions (:tada:), I observed that the autopilot is really cutting corners because it  is heading to the next waypoint way too early probably (~60m too early to be precise).
Is that the expected behaviour? Or is there any way to shorten that distance or even configure that it shouldn't turn until hitting the waypoint?
I have to admit that I haven't touched FW_L

[2019-07-03 15:57] julianoes commented on #12400
Thanks for the issue and fix!

[2019-07-03 15:57] #12400 closed

[2019-07-03 16:06] dlwalter commented on #12381
I ran into a similar issue with our RFD900 radios - RFDesign's windows GUI tool was not programming the failsafe signal correctly and instead all 12 channels would just output 1000us - which would correspond to low throttle, full roll, roll pitch, and disarm.

https://discuss.px4.io/t/rfd900x-failsafe-ppm-not-programmed-correctly/10364/3

I recommend everyone tests their aircraft behavior in a str

[2019-07-03 16:07] davids5 opened #12407 "params wiped to factory default 2.1 cube"
From Dev call:

"in our experience with this issue, on the 2.1 cube, the params do all wipe to factory default if rebooted too quickly. Reboot through Mavlink by clicking reboot vehicle in params dropdown

[2019-07-03 16:11] bresch commented on #12406
Hi @EnsignCrasher ,
Congratulations for your fist mission! :) The switch distance is defined by the L1 distance. L1 distance is defined using L1 period, L1 damping and current ground speed with the following formula:
` L1_dist = 1/pi x L1_damping x L1_period`
With default settings (period = 20, damping = 0.75, speed = 15m\s) it makes L1 distance of ~72m.

(Please use the forum for next questions l

[2019-07-03 16:13] BazookaJoe1900 opened #12409 "Sensors startup reorder and cleanups"
The current order of sensors start up:

- calling for common rc.sensors from main rcS
-- running some sensors that seems to be "common"
--- ms5611 (on external bus)
--- ms5611 (on internal bus)
--- Blacksheep telemetry
-- running optional sensors that are enabled by parameters like airspeed, batt_smbus, ll40ls and so on
-- Wait 20 ms for sensors (because we need to wait for the HRT and work queue

[2019-07-03 16:15] #12406 closed

[2019-07-03 16:17] dlwalter commented on #12381
As opposed to trying to detect an RC cutoff from an incorrectly setup radio Is there a way to maybe include an RC cutoff test procedure in QGC similar to sensor calibration?  Have a flag for a radio/aircraft pair that alerts the operator that RC cutoff hasn't been tested?

[2019-07-03 16:18] jkflying commented on #12168
I think this is actually a duplicate of https://github.com/PX4/Firmware/issues/12204

[2019-07-03 17:00] mcsauder commented on #12201
@julianoes, I can reproduce this issue on v1.9.1, but I cannot reproduce it in current master. Is this what you observe as well?

[2019-07-03 17:05] julianoes commented on #12201
I have not tried master.

[2019-07-03 17:23] mcsauder commented on #12201
@dagar , @julianoes , the [commit moving mavlink touORB subscription](https://github.com/PX4/Firmware/commit/579cbbb42c34eeaf346f18070e230744efdbec06) fixes the issue, so this issue does not exist in current PX4:master.

I will work on finding a fix that can work for 1.9.1 and update you as I make progress.

[2019-07-03 17:41] dagar commented on #12409
Hi @BazookaJoe1900, this is a good idea and probably something we could continue to cleanup incrementally. The larger reason I haven't done more already is that we really want to get to a "board manifest" that lays these things out statically.

Something like this per board in yaml (TBD). The required sensors per board are layed out and this would both include the driver in a particular build, han

[2019-07-03 17:45] dagar commented on #12399
Have you thought about how we could do this, including where to extend mavlink?

[2019-07-03 17:49] BazookaJoe1900 commented on #12409
@dagar  Do you want mw to do just the cleanup I suggested above?

[2019-07-03 18:03] mormank commented on #11450
@mhkabir any ideas for people who are using older versions because for 32-bit linux? Namely, raspbian?

[2019-07-03 19:03] dyli96 commented on #12385
I tried ```apt-get update && apt-get upgrade```, it did upgrade something. After ```make clean```, I still got the same errors.
It's Ubuntu 18.04.2 LTS

[2019-07-03 19:04] EnsignCrasher commented on #12406
ah, thank you for your great explanation! :+1:
Alright, I'll take a look there ;)
keep up the good work!

[2019-07-03 23:38] mcsauder commented on #12201
My current understanding is that the Mavlink class isn't handling the error case of not succeeding in creating a mavlink stream and [increasing the `_instance_count` value](https://github.com/PX4/Firmware/blob/72a449490a9ad05679dc6f3d2a91d0042eaac842/src/modules/mavlink/mavlink_main.cpp#L2669).  If this issue happens on the last stream to be started it doesn't matter, **but** if the failure isn't

[2019-07-04 00:37] jbourne15 opened #12412 "thermal calibration issues"
I am trying to perform a [offboard thermal calibration on my pixhawk 3] with v1.9.0 firmware (https://docs.px4.io/en/advanced_config/sensor_thermal_calibration.html).  And I am getting step like response for my bias compensation (see attached figure).  Notice the z acceleration bias is very large.  Looking at the [flight review](https://review.px4.io/plot_app?log=9ef38f6d-629e-43c8-84f3-5af8311877

[2019-07-04 05:28] julianoes commented on #12385
Have you added any custom ppa's for things like `protoc` or `gazebo`?

[2019-07-04 05:30] julianoes commented on #11787
Sorry for the late response. Is this still an issue? And if yes, could you add link to a log?

[2019-07-04 06:13] julianoes commented on #12201
Hm, so you're saying it's the ordering. And where would it set the `_mavlink_channel`? I think we should fix this locking mechanism properly, it seems very ugly to me.

And for a 1.9 backport fix, I wonder if we can just revert https://github.com/PX4/Firmware/commit/e12acc4b282d26ae1b8c1e1cb4220b53ef54b097?

[2019-07-04 07:17] love-mj commented on #12392
An electrical reset can be done by either removing power or pushing the FMU reset button the side of Pixhawk next to the USB connector.
You can accomplish a firmware reset by using the CLI to reset the Pixhawk to factor parameters. You should save your existing parameters if you do not want them erased during a firmware reset.

QGC isn't in control of any of this.

[2019-07-04 11:11] davids5 commented on #12201
@julianoes @mcsauder Do we believe this is not OS related, or do you need me to look into it?

[2019-07-04 12:25] RomanBapst opened #12413 "VTOL: Add support for loiter before backtransition"
From discussions with @eyeam3 we concluded that it would be a good idea to enhance the VTOL mission logic for the back-transition.
The idea is for the user to define a loiter waypoint at which the vehicle would circle down to the required back-transition altitude. Furthermore, the vehicle would exit the circle at a predefined angle, e.g. the tangent to the next waypoint (landing or home).
Doing so

[2019-07-04 12:56] fabianschilling opened #12414 "Off-by-one error prevents FCU connection to uav0 in multi_uav_mavros_sitl.launch"
**Description**

An off-by-one error in the launch file `launch/multi_uav_mavros_sitl.launch` results in the FCU connection not being established properly. More specifically, the MAVROS `tgt_system` parameter should be initialized as `$(eval 1 + arg('ID'))`.

**To Reproduce**

Follow the devguide: https://dev.px4.io/en/simulation/multi-vehicle-simulation.html#build-and-test

Launch `roslaunch px4

[2019-07-04 15:02] #12391 closed

[2019-07-04 17:20] dagar commented on #12412
Interesting that it's only on the 2nd sensor (both gyro & accel). Is this reproducible?

![image](https://user-images.githubusercontent.com/84712/60681690-36804080-9e5e-11e9-9d1c-60331468ee39.png)

Also note that your baro cal looks completely bogus.

[2019-07-04 19:36] jbourne15 commented on #12412
Yes it is repeatable. Probably tried it 4-5 times now.

[2019-07-04 20:16] mcsauder commented on #12201
@julianoes , the easier backport is to move the `rc.mavlink` call down below the `rc.board_extras` call so that the USB mavlink stream is the last stream to be started.  I can submit that PR and create an issue to flag the mavlink problem.

@davids5 , I don't think it is an issue with the OS.

This is what the mavlink stream should look like when the ttyACM0 stream is started last and functions:
[

[2019-07-04 21:41] jbourne15 commented on #12412
Does the pixhawk accelerometer and gyro need to be previously calibrated before I thermally calibrate? I am wondering if CAL_ACC1_ID needs to be set up first.

[2019-07-04 21:47] mcsauder commented on #12201
If the USB device is unplugged, [`Mavlink::open_uart_port()` gets stuck here](https://github.com/PX4/Firmware/blob/72a449490a9ad05679dc6f3d2a91d0042eaac842/src/modules/mavlink/mavlink_main.cpp#L592) in an infinite while loop trying to open it until something gets plugged in.

[2019-07-04 21:59] mcsauder commented on #12201
@julianoes and @dagar , because the USB mavlink stream is a config stream, and because the infinite loop was designed this way intentionally to never give up, is the correct solution really just to make sure this config mavlink stream always gets called last in the rcS script?

An interesting note is that at present and for the solution I inquired about above, for every autopilot running without a

[2019-07-05 06:23] julianoes commented on #11789
Presumably fixed in #11821.

[2019-07-05 06:23] #11789 closed

[2019-07-05 06:41] bozkurthan commented on #12381
@dlwalter actually I have same radio. But how we can avoid from this issue. Failsafe test procedure is plausible. But after that there should be some structure for this issue.

@julianoes RC_FAILS THR for only unreliable PWM output. As @dlwalter mentioned we have valid signal from RFD900. Maybe we can add RC_FAILS_CH_THR (which means threshold for channels) to avoid this issue. Furthermore it shou

[2019-07-05 06:46] julianoes commented on #12381
Ok, so you're suggesting that we add a check like this?

If number of channels == 12 and all channels == 1000 PWM then RC lost -> failsafe?

[2019-07-05 10:13] FlavioTonelli commented on #11691
I can reproduce this behavior on my Pixhawk cube as well.
@julianoes just pinging to let you know here the stale bot is on my opinion wrong.

[2019-07-05 10:38] julianoes commented on #11691
I wonder if this is only on Cube or in general.

[2019-07-05 10:38] julianoes commented on #11691
@davids5 FYI

[2019-07-05 10:44] FlavioTonelli commented on #11691
It seems general. Just tested on a Pixhawk3 Pro.

[2019-07-05 11:59] davids5 commented on #11691
@bozkurthan @julianoes - the `test all` does a `tests parameters' and it is a destructive test on parameters.

[code]

@hamishwillee - do we need a warning is the docs?

[2019-07-05 11:59] #11691 closed

[2019-07-05 14:02] davids5 commented on #12201
@mcsauder
We could use
[code]
For disconnect we can use  POLLHUP

[2019-07-05 14:50] jbourne15 commented on #12412
I forgot to mention that I am performing the offboard calibration procedure.

[2019-07-05 19:40] #12338 closed

[2019-07-05 19:59] mcsauder commented on #12278
@ar1040 , I will put some time into this issue in the next week or so and report back here as I make progress.

[2019-07-06 00:04] sanderux commented on #12413
I thought i recently changed that behavior and it would indeed circle down before transitioning

[2019-07-06 00:08] sanderux commented on #12413
Although, in general, i think this could be a good idea i should note a few things:
1. when circling down you increase the speed which is not always optimal for back transitions
2. the circling behavior might not be clear to everyone, it could become dangerous when the vehicle flies unexpected paths at low altitude
3. how would this look if no decent (or hardly) would be required?

[2019-07-06 07:32] raph12345 opened #12422 "Unable to arm my drone"
Hello everyone
I recently mounted a drone based pixhawk 4 (holybro) but today my drone refuses to arm and I really do not understand why.
my drone was flying very well in 1.9.0 and it seems to me that the problem occurred following the update in 1.9.1 because I have not made a parameter change in-temp.
I do not know what it can come from yet I searched the forum if solutions had been found on this

[2019-07-06 08:03] raph12345 opened #12423 "preflight fail baro sensor 0 missing"
Hello,

recently I have this error message in QGC that appears when I try to arm my drone while it is connected with a USB cable to my PC.

what is this error message?

thank you

[2019-07-06 08:25] RomanBapst commented on #12413
@sanderux Thanks for you inputs:

Once you reach the desired transition altitude you can always reduce speed, in fact this was actually the plan. The vehicle should transition as soon as it's tangent to the next waypoint and has reduced it's speed. In the worst case this would mean that it will fly another circle.

The behavior will be indicated clearly in QGC. In fact the user needs to place the

[2019-07-06 14:04] davids5 commented on #12086
Just to close the loop on this
On HW with a px4io there will be 2 pwm devices `/dev/pwm_output0` and `/dev/pwm_output1`
Here are working test commands that I use to test withh (Used them this week)
[code]

[code]
The -m can b 1..128 in steps of 2: 1,2,4,8... and the will walk the pwm signal from ch1-ch7

Hope this helps.

I can not comment on weather QGC reports that PWM data back  - I use a oscil

[2019-07-06 16:19] bresch commented on #12423
Hello @raph12345 which autopilot hardware do you have? Some boards don't have a barometer. Can you open QGC, go to the MAVLink console and enter `sensors status'? You should directly see if there is a barometer connected and working or not.

[2019-07-06 17:31] bresch commented on #11420
Fixed by #12404

[2019-07-06 17:31] #11420 closed

[2019-07-06 19:57] mcsauder commented on #12201
This issue is reproducible on fmu-v5 and v1.9.2.  To reproduce, flash v1.9.2 on a system with power supplied other than over USB.  Boot with USB cable connected and with QGC running, QGC will successfully communicate.  Next, unplug the USB cable without removing external power, the system will reboot, then plug in the USB cable.  QGC will no longer be able to communicate with the system.

@sfalexr

[2019-07-06 20:28] #11643 closed

[2019-07-06 20:35] taileron commented on #12413
I´m currently doing experiments with momentary gliding periods in between fw and mc mode thats the most efficient way to descend consuming no battery at all

[2019-07-06 20:36] bozkurthan commented on #12381
Exactly this is what supposed to be. I can create PR for this. But should we restrict this for only type of RFD900 PPM connection. Is it valid solution?

[2019-07-06 23:51] sanderux opened #12429 "Param disabling parameter reset"
Several times we encountered clients that have, for whatever reason, reset their params to default from QGC. This makes them lose key configuration options such as mapping parameters (different models use different params), and some calibration parameters such as current/voltage sensor.

It would be nice to have a parameter disabling this functionality.
Ideas? @RomanBapst @dagar

If agreed i can i

[2019-07-07 09:46] DamDrone commented on #12375
@dagar Hi Daniel, something going on? I'm grounded and eventually need to downgrade...

[2019-07-07 10:03] weekly-digest[bot] opened #12430 "Weekly Digest (30 June, 2019 - 7 July, 2019)"
Here's the **Weekly Digest** for [*PX4/Firmware*](https://github.com/PX4/Firmware):

 - - -
# ISSUES
Last week 55 issues were created.
Of these, 28 issues have been closed and 27 issues are still open.
## OPEN ISSUES
:green_heart: #12429 [Param disabling parameter reset](https://github.com/PX4/Firmware/issues/12429), by [sanderux](https://github.com/sanderux)
:green_heart: #12428 [Fix mavlink conf

[2019-07-07 11:22] raph12345 commented on #12423
hi bresh,

I use a pixhawk 4 (holybro) and the latest version of firmware 1.9.1.

below the result of the command sensor status:
![sensor_status](https://user-images.githubusercontent.com/52594432/60767530-bbb36180-a0b9-11e9-9f11-3e0cba800085.PNG)

I turned off the barometer and restarted and I tried to arm the drone but without result ...
![chek](https://user-images.githubusercontent.com/52594432

[2019-07-07 14:52] mcsauder commented on #12375
Hi @DamDrone , can you report back what the value of your autopilot's `CBRK_AIRSPD_CHK` parameter is?

[2019-07-07 15:41] dagar commented on #12429
A system wide "parameter lock" (excluding volatile perhaps) or would it be better to explicitly lock a subset?

[2019-07-07 19:18] Antiheavy commented on #12429
I’ve used other systems in the past that had a global “configuration lock” feature. Any config/parameter changes at all, even things such as adjusting lost Comms timeout, required unlocking the config with an appropriate pop-up warning in the UI.   Configuration lock defaults to ON every boot. Global configuration lock like this works fairly well for those that want that sort of thing.

[2019-07-07 22:48] hamishwillee commented on #12423
https://docs.qgroundcontrol.com/en/SettingsView/General.html#miscellaneous

"Use preflight checklist" checkbox

[2019-07-08 07:56] julianoes commented on #12381
I think that would be great.

I don't know how we could do that.

I think it's safe because if we accidentally ignore 12 channels at 1000 we ignore "information" that really doesn't tell us anything anyway.

[2019-07-08 08:00] julianoes commented on #11691
@davids5 could we restore the params after the test?

[2019-07-08 08:01] #12430 closed

[2019-07-08 08:07] julianoes commented on #12422
Is there no message when it refuses to arm?

[2019-07-08 08:09] julianoes commented on #11801
Are you sure that your telemetry radios support flow control? Can you add a picture of your radios and the wiring?

[2019-07-08 08:11] julianoes commented on #11800
FYI @MaEtUgR

[2019-07-08 08:35] roseyangyu commented on #10813
@julianoes oh，thanks very much

[2019-07-08 11:29] rligocki commented on #12355
Yep, I read it a few times. It does not work. I found that in default.cmake of FMU3 is GPS2 label missing.

SERIAL_PORTS
		GPS1:/dev/ttyS3
		GPS2:/dev/ttyS4
		TEL1:/dev/ttyS1
		TEL2:/dev/ttyS2
		#TEL4:/dev/ttyS6

I added GPS2 label, now it starts after configuration of GPS2 interface. No need to use console.

[2019-07-08 11:40] julianoes commented on #12355
Could you point me to where in the code this is missing? Thanks.

[2019-07-08 11:43] garfieldG opened #12432 "Parameters being used after logging/arming"
The following parameters are being used only after arming :
COM_ARM_EKF_AB
COM_ARM_EKF_GB
COM_ARM_EKF_HGT
COM_ARM_EKF_POS
COM_ARM_EKF_VEL
COM_ARM_EKF_YAW

same goes to SDLOG_UUID param, being used only after log has started.

May cause issues if you try to go over your parameters and then not even being aware there are more parameters not shown just because you didn't arm/started new log.

[2019-07-08 11:53] rligocki commented on #12355
./px4rootFolder/boards/px4/fmu-v3/default.cmake. This is the missing label for GPS2 connector, but a setup for secondary GPS should work with TEL2 port. The problem still remains. I also tried to change primary and secondary GPS, but still, secondary GPS does not communicate.

[2019-07-08 11:57] julianoes commented on #12432
FYI @dagar

[2019-07-08 12:22] julianoes commented on #12355
@dagar do you understnd this?

[2019-07-08 12:27] davids5 commented on #11691
@julianoes we could and code size and exec time expenses. . But this is not a use case of the system as far as I know. @dagar may have an opinion.

[2019-07-08 13:31] dagar commented on #11691
We could split the destructive part into a standalone test that doesn't run by default. It could also print a huge warning about what's going to happen.

[2019-07-08 15:36] #11707 closed

[2019-07-08 17:37] #11076 closed

[2019-07-08 17:37] #11106 closed

[2019-07-08 17:37] #11107 closed

[2019-07-08 17:37] #11117 closed

[2019-07-08 17:37] #11121 closed

[2019-07-08 17:37] #11148 closed

[2019-07-08 17:37] #11151 closed

[2019-07-08 17:37] #11156 closed

[2019-07-08 17:37] #11158 closed

[2019-07-08 17:37] #11168 closed

[2019-07-08 17:40] dlarue commented on #11085
That's one way for it to go away....

[2019-07-08 18:37] #11478 closed

[2019-07-08 18:37] #11496 closed

[2019-07-08 18:37] #11509 closed

[2019-07-08 18:37] #11526 closed

[2019-07-08 18:37] #11530 closed

[2019-07-08 18:37] #11567 closed

[2019-07-08 18:37] #11558 closed

[2019-07-08 18:37] #11581 closed

[2019-07-08 18:37] #11584 closed

[2019-07-08 18:37] #11586 closed

[2019-07-08 18:37] #11589 closed

[2019-07-08 18:37] #11590 closed

[2019-07-08 18:37] #11613 closed

[2019-07-08 18:37] #11617 closed

[2019-07-08 18:57] dagar commented on #12429
I suppose we could do this quickly with a special parameter, but I think overall it would make more sense completely outside. Starting with something simple like `param lock` and `param unlock` on the command line plus mavlink command(s) to do the same and report locked status.

It also makes me wonder about additional levels of integrity check we could put in place, but I'll leave that for anothe

[2019-07-08 19:06] dagar commented on #12432
The COM_ARM_EKF* parameters are read slightly later in commander preflight check, but still only before arming. `SDLOG_UUID` is found and used at log creation.

@garfieldG have you verified this in current master or v1.9.0? As of https://github.com/PX4/Firmware/commit/f8519781011a6d0ca3114a8854b2b8f06832a283#diff-06bd9bf93c4b14e72b5518a112c266b7 I think it should be resolved for the commander para

[2019-07-08 19:37] #11279 closed

[2019-07-08 19:37] #11276 closed

[2019-07-08 19:37] #11285 closed

[2019-07-08 19:37] #11291 closed

[2019-07-08 19:37] #11331 closed

[2019-07-08 19:37] #11333 closed

[2019-07-08 19:37] #11339 closed

[2019-07-08 19:37] #11340 closed

[2019-07-08 19:37] #11346 closed

[2019-07-08 19:37] #11355 closed

[2019-07-08 19:37] #11356 closed

[2019-07-08 19:37] #11386 closed

[2019-07-08 19:37] #11387 closed

[2019-07-08 19:37] #11410 closed

[2019-07-08 19:37] #11451 closed

[2019-07-08 19:37] #11649 closed

[2019-07-08 20:07] bresch commented on #11822
fixed by #12382

[2019-07-08 20:07] #11822 closed

[2019-07-08 20:08] bresch commented on #12380
fixed by #12382

[2019-07-08 20:08] #12380 closed

[2019-07-08 20:36] #11137 closed

[2019-07-08 20:36] #11184 closed

[2019-07-08 20:37] #11185 closed

[2019-07-08 20:37] #11218 closed

[2019-07-08 20:37] #11222 closed

[2019-07-08 20:37] #11227 closed

[2019-07-08 20:37] #11255 closed

[2019-07-08 20:37] #11259 closed

[2019-07-08 21:36] #10571 closed

[2019-07-08 21:36] #10576 closed

[2019-07-08 21:36] #10581 closed

[2019-07-08 21:36] #10589 closed

[2019-07-08 21:36] #10592 closed

[2019-07-08 21:37] #10770 closed

[2019-07-08 21:37] #10850 closed

[2019-07-08 23:37] #9137 closed

[2019-07-08 23:37] #9138 closed

[2019-07-08 23:37] #9144 closed

[2019-07-08 23:37] #9160 closed

[2019-07-08 23:37] #9174 closed

[2019-07-08 23:37] #9185 closed

[2019-07-08 23:37] #9200 closed

[2019-07-08 23:37] #9241 closed

[2019-07-08 23:37] #9249 closed

[2019-07-08 23:37] #9252 closed

[2019-07-08 23:37] #9262 closed

[2019-07-08 23:37] #9266 closed

[2019-07-08 23:37] #9297 closed

[2019-07-08 23:37] #9515 closed, assigned to dagar

[2019-07-08 23:37] #9566 closed

[2019-07-08 23:46] hamishwillee commented on #10435
FYI, this is supported and docs should be going into user guide in the next couple of weeks.

[2019-07-09 00:37] #8751 closed

[2019-07-09 00:37] #8946 closed

[2019-07-09 00:37] #9110 closed

[2019-07-09 00:37] #9569 closed

[2019-07-09 00:37] #9585 closed

[2019-07-09 00:37] #9594 closed

[2019-07-09 00:37] #9790 closed

[2019-07-09 01:50] jbourne15 commented on #12412
After talking with Drotek, it seems they have some issues with the IMU and/or IMU temperature sensor on the pixhawk 3 so this may be just a hardware issue.

[2019-07-09 01:50] #12412 closed

[2019-07-09 02:38] FlyingToTheSpace opened #12438 "PX4 "Reject Auto hold" and "Reject Auto Mission""
Hello,
I'm using pixhawk4 mini with GPS.

I succeeded flying with manual and altitude flight mode.
However, with some reasons, I failed to change to "Hold mode" or "Mission mode" with error message "Reject Auto Hold" or "Reject Auto Mission"

I have
GPS count: 18
GPS Lock: 3D DGPS Lock
HDOP: 0.7
VDOP: 1.3

Please help me out.
Log file attached.

[log_140_2019-7-8-15-01-44.zip](https://github.com/P

[2019-07-09 02:49] mcsauder commented on #12438
@FlyingToTheSpace , could you upload your files to [PX4 Flight Review](https://review.px4.io/) and post the link?  This will make review very easy and might also gain you insight into what is going on!

[2019-07-09 02:51] FlyingToTheSpace commented on #12438
https://logs.px4.io/plot_app?plots=pid_analysis&log=e34d00f5-147c-4891-b947-8ebba8172b2e

Thank you

[2019-07-09 02:55] dagar commented on #12375
@DamDrone in the console can you try starting it manually?

`ms5525 start`
`listener differential_pressure`

[2019-07-09 05:25] mcsauder commented on #12438
Hi @FlyingToTheSpace , your log analysis is a good start, but it seems to be lacking in some details.  Could you try to repeat a flight and wait to hear the tone alarm enunciator coincide with a green flashing light on your GPS unit to demonstrate that you have GPS lock, then try to switch to altitude hold mode or position mode and post a new log?  This would be very helpful in analyzing.

[2019-07-09 05:27] mcsauder commented on #12375
Hi @DamDrone , find me on PX4 slack so I can help you out.

[2019-07-09 06:09] raph12345 commented on #12422
Hi
the only messages I have are those in the log file.
I activated the logs to be able to retrieve them on the sd card  because the drone is not connected in usb at this time.
the LED of my gps antenna is blue and when I try to arm via the switch the led flashes quickly in white and then turns blue again ... normally when the drone is armed the led is green.
is there a way to increase the log leve

[2019-07-09 06:15] hamishwillee commented on #12422
Blue means armed with no GPS lock: http://docs.px4.io/en/getting_started/led_meanings.html

I presume you have tried this outside where you know you have a great GPS signal.

You're best off connecting to QGC via USB or a telemetry module. I don't know much about the logs.

[2019-07-09 06:50] LorenzMeier commented on #12423
Your hardware is faulty. It should have a baro, but it isn't detected. Ask the vendor for a replacement.

[2019-07-09 06:50] #12423 closed

[2019-07-09 06:55] LorenzMeier opened #12439 "Auto-estimate hover throttle"
Setting the correct hover throttle seems to be a consistent issue for users and is a source of a common frustration. We need to implement an estimator that takes current vertical velocity and estimates hover throttle for a given system. Once it is estimated, the parameter should be set so that on next takeoff it is already correct.

This is also relevant for commercial models where people add/remo

[2019-07-09 07:33] julianoes commented on #11625
Thanks for raising this. So you are saying that lat/lon here are not populated here?

https://github.com/PX4/Firmware/blob/59c555aec36aa5b1c1edac8d0d09fb90a36a3722/src/modules/mavlink/mavlink_messages.cpp#L3141-L3150

[2019-07-09 07:35] julianoes commented on #11621
Thanks for raising this. My guess is that this is due to the fact that the simulator weirdly waits. I want to have a look at this at some point.

[2019-07-09 07:37] julianoes commented on #11619
FYI @RomanBapst @sfuhrer

[2019-07-09 07:39] julianoes commented on #10301
@mcsauder is this something you know about?

[2019-07-09 07:40] julianoes commented on #10405
@RomanBapst what's the state here?

[2019-07-09 07:41] julianoes commented on #10408
@mhkabir do you know what's up here?

[2019-07-09 07:41] julianoes commented on #10455
Seriously this bot is evil.

[2019-07-09 07:42] julianoes commented on #10518
@davids5 what's the status here?

[2019-07-09 07:44] julianoes commented on #11045
@Addy0265 is this still a problem with 1.9?

[2019-07-09 07:46] julianoes commented on #11041
Sorry that we missed this. @albert21martins did you find out what happened?

[2019-07-09 07:47] julianoes commented on #11049
@altshuler sorry for the late response. Has this been resolved in the meantime?

[2019-07-09 07:57] #10408 closed

[2019-07-09 07:58] LorenzMeier commented on #10408
Sorry, closing again. With this level of disinterest it’s not something we can afford tracking. We are supporting a number of known good setups.

[2019-07-09 08:06] julianoes commented on #11113
Sorry for the late answer. In what directory did you try to create the file? What is `filename` for your case?

[2019-07-09 08:09] sanderux commented on #12429
I would propose a multiple choice option:

- Lock reset (reset to defaults)
- Lock calibration ( sensor calibration)
- Lock safety ( rtl / geofence changes)
- Lock others ( tuning params)

For our use case we would only need lock-reset as we allow our users to make changes, but find they assume a reset would be a good place to start and this is costing us a lot of time.

[2019-07-09 08:36] AlexisTM commented on #9790
I had the High IMU accel bias problem. It was caused by the onboard computer fan that was too close of the Pixhawk and not dampened.

[2019-07-09 08:58] altshuler commented on #11049
The issue is solved.
Thanks !

[2019-07-09 10:09] julianoes commented on #11072
@dagar is this still an issue?

[2019-07-09 10:09] julianoes commented on #11061
Sorry for the late response here, we need to look into this.

[2019-07-09 10:10] julianoes commented on #11077
Thanks for the issue. We should check that. FYI @davids5

[2019-07-09 10:14] julianoes commented on #11107
Sorry, that's currently not possible.

[2019-07-09 10:15] julianoes commented on #11108
@RomanBapst would be good if you could have a look here.

[2019-07-09 12:04] mhkabir commented on #11072
Still an issue for me the last time I tried. Seems to be QGC side though.

[2019-07-09 12:17] davids5 commented on #10518
@julianoes - there was a recent change in nuttx that should be back ported. It fixes this.  It is it a super low priority and we will get it on the next uptake. So let's close this unless it is getting in someone else's way.

[2019-07-09 12:52] julianoes commented on #12412
@jbourne15 That's strange but thanks for the note.

[2019-07-09 12:54] julianoes commented on #12422
Note that you can't arm with USB attached unless you disable the circuit breaker:
https://dev.px4.io/en/advanced/parameter_reference.html#CBRK_USB_CHK

[2019-07-09 13:02] julianoes commented on #9569
I believe this is fixed, please re-open if it's still an issue.

[2019-07-09 13:04] julianoes commented on #9179
Looks like it's still relevant.

[2019-07-09 13:05] julianoes commented on #9185
@jingego @RomanBapst is this actually resolved or is there something to follow up with?

[2019-07-09 13:05] julianoes commented on #9200
@AlexisTM is there still work to do here?

[2019-07-09 13:10] #11049 closed

[2019-07-09 13:24] julianoes commented on #12438
Presumably that's the same as #12168.

[2019-07-09 13:26] LorenzMeier commented on #3309
I'm closing this for now as we're overall reworking the inputs and the current way of doing things seems to generally work - RC is quickly becoming a legacy thing and not connected in parallel.

[2019-07-09 13:29] julianoes commented on #12138
Can you check these params?
https://dev.px4.io/en/advanced/parameter_reference.html#RTL_RETURN_ALT
https://dev.px4.io/en/advanced/parameter_reference.html#RTL_DESCEND_ALT

[2019-07-09 13:49] AlexisTM commented on #9200
I implemented a safety check and changed the default setpoints in the application software and did not experience it ever since.

The safety check is sending a zero velocity setpoint until `local_position/pose` and `setpoint_raw/target_local` are close to eachother before arming.

On top of that, the default velocity setpoints sent are including the `local_position/pose` yaw ensuring a proper init

[2019-07-09 13:50] julianoes commented on #9965
@RomanBapst what's going on here?

[2019-07-09 13:53] #10518 closed

[2019-07-09 13:56] arnozeelmaekers opened #12444 "PX4 SITL Gazebo ROS multi-vehicle-simulation mission"
Hey all

So I have being working on running a project in which we will execute missions on multiple drones.
- Firmware v1.9.1
- ROS Melodic
- Ubuntu 18.04
- To launch the simulation I am using https://dev.px4.io/en/simulation/multi-vehicle-simulation.html

The issue I am having at the moment is that when I run a mission on uav2 it runs perfectly however if I run a mission on uav0 or uav1 it will n

[2019-07-09 14:07] #11952 closed

[2019-07-09 14:21] #10435 closed

[2019-07-09 14:29] dagar commented on #9539
A lot of this has been cleaned up gradually. Let's open new issues if we come across inconsistencies.

[2019-07-09 14:29] #9539 closed

[2019-07-09 14:31] dagar commented on #8570
This is somewhat relevant to the parameter lock idea. https://github.com/PX4/Firmware/issues/12429
If the vehicle generated data were stored somewhere else we could truly lock the parameter backend.

[2019-07-09 14:54] DanielePettenuzzo commented on #12361
SYS_FORCE_F7DC worries me a bit because the default is set to disable dcache. With dcache disabled we are very close to 100% cpu on fmu-v5 if we have a companion link, run uavcan or run the avoidance interface (many users could be hit by this). I just think that currently the risk of crashing due to a maxed out cpu is higher than actually hitting the dcache errata.

[2019-07-09 15:25] mcsauder commented on #10301
Hi @klecki98 , if you are still having this issue, ensure that `SENS_EN_SF1XX` is set to `1`, (default is 0), and make sure to follow the setup advice that @fi92 gave above. It's probably also worth double checking that your SDA and SCL lines are connected correctly.

The driver startup in `rc.sensors` is starting the driver on all busses, so it should start whether it's connected to I2C A or I2C

[2019-07-09 16:50] mcsauder commented on #11635
Hi @doraepon , in v1.8.2, (on fmu-v5 for me) I get an error at boot:
[code]

Upgrading to v1.9.2 solves this issue for me and the driver starts properly at boot.
[code]

Can you upgrade to v1.9.2 and let us know if this resolves your issue?

[2019-07-09 17:56] lamping7 commented on #12444
It sounds like this is your issue: https://github.com/PX4/Firmware/issues/9046

[2019-07-09 19:23] tuloski commented on #11072
Yeah, still an issue for me (last time I tried was a couple months ago).

[2019-07-09 19:54] kyumanlee84 opened #12447 "question about crash logs"
Hello,

I have a quick question about crash logs.
I did run mavros + VIO(vision_pose) + offboard control(setpoint_position) on Nvidia TX2.

I found one unexpected crash event.

1. Where can I get crash logs on microsd?
2. From ulog, I got below message by ulog_messages.
3. What did this problem come from?

ulog_messages log_74_2019-7-8-22-01-06.ulg
[code]

Thanks!

Edit by @julianoes to add ```.

[2019-07-09 21:08] dagar commented on #8570
Some of this has improved with volatile parameters, but I'd still like to consider storing this data differently.

[2019-07-10 02:06] FlyingToTheSpace commented on #12438
@mcsauder Hello, This is new log as you requested. Flight maintained 10sec for manual, 10sec for altitude, then 10sec for hold mode which was rejected. Thank you for you help.

https://review.px4.io/plot_app?log=9e026cd1-5568-40f8-9e16-89022971ce9c

[2019-07-10 04:06] mcsauder commented on #12438
Hi @FlyingToTheSpace , looking at your logs it looks like @julianoes' advice was spot on. Referencing #12204 it appears that a valid home position was not set:
![image](https://user-images.githubusercontent.com/2497951/60939644-b0b52880-a295-11e9-8f44-c4992709e65d.png)

Here is what those same values look like on a successful mission:
![image](https://user-images.githubusercontent.com/2497951/6093

[2019-07-10 05:12] FlyingToTheSpace commented on #12438
How can I set valid home position?

I'm using QGroundControl and I cannot find how to set home position from user guide.

This is the picture of my ground station.
THANK YOU

![image](https://user-images.githubusercontent.com/47386745/60942163-9ffbc580-a31c-11e9-8146-267bca7942cb.png)

[2019-07-10 05:12] mcsauder commented on #12278
@ar1040, my hardware is a V3HP and fortunately/unfortunately it works as expected with current PX4:master firmware flashed to a pixhawk 4 (fmu-v5). Where did you obtain your newer units and are they the V3 or V3HP?

[2019-07-10 05:40] mcsauder commented on #12438
Hi @FlyingToTheSpace, you need to allow the GPS to get a better position lock before arming your drone. The step in the plot above from your log shows that your system eventually acquired enough position certainty, but not until long after you had armed the system. You might have to try repositioning your GPS antenna differently on your airframe or make other adjustments to your setup to help get

[2019-07-10 07:00] julianoes commented on #12438
Ok so it looks the same as #12168, closing as duplicate. Thanks for reporting @FlyingToTheSpace.

[2019-07-10 07:00] #12438 closed

[2019-07-10 07:47] BazookaJoe1900 commented on #3309
@LorenzMeier @dagar
I don't agree that RC become legacy. And really waited to this feature.
There are few scenarios:
-	If the system is stable, and became full autonomous it doesn't need RC.
-	For test flight we get many drones saved because the auto modes had problems and we take control to RC.
-	On Fully deployed system, where there is no operator that know how to Fly RC. Or the system is beyond

[2019-07-10 07:49] arnozeelmaekers commented on #12444
Thanks for the quick response.

It sounds related but in my case uav0 and uav1 won't even takeoff. Does this have to do with issue #9046 or is it different. If it has to do with issue #9046 is there a fix for it?

[2019-07-10 07:57] ItsTimmy commented on #11262
I've started looking into this, and I have a question. `UTM_GLOBAL_POSITION` has `next_lat` and `next_lon` for the next waypoint the vehicle is going to, but `ADSB_VEHICLE` and the UOrb message `transponder_report` do not have this. I think I can fairly easily map `UTM_GLOBAL_POSITION` to `transponder_report` if I just ignore the next waypoint information. Should I do this for now, and treat using

[2019-07-10 08:02] ItsTimmy commented on #11262
Another question I have is how to map `UTM_GLOBAL_POSITION`'s `uas_id` to `transponder_target`'s `icao_address`. Should I change `transponder_target` to have a generic `vehicle_id` field, and also an enum indicating the type of ID (e.g., `UAS_ID`, `ITAO_address`, etc.)?

[2019-07-10 08:44] LorenzMeier commented on #3309
@BazookaJoe1900 That's all fine, but will you work on it? Otherwise I'm going to keep it closed because for us it is a "wontfix" issue. There are lots of good suggestions for PX4, but we need to prioritize the work of the core dev team and not have issues dangling around that we have no plan to address.

We need to get better at setting expectations, and part of that is saying no to things. If you

[2019-07-10 08:44] #3309 closed

[2019-07-10 08:45] CarlOlsson opened #12451 "Remove Euler angle rate names"
**Describe problem solved by the proposed feature**
Right now in vehicle_attitude we have rollspeed, pitchspeed and yawspeed. This is confusing since it is not the derivative of the Euler angles.

**Describe your preferred solution**
Rename
[code]

**Describe possible alternatives**
[code]

**Additional context**
I started to make a quick PR for this but then I realized that right now in vehicle_a

[2019-07-10 08:59] julianoes commented on #12451
@bkueng how bad is a change like this from a log tooling perspective?

[2019-07-10 08:59] julianoes commented on #12451
@CarlOlsson `angualar` -> `angular` :smile:

[2019-07-10 09:02] julianoes commented on #8927
@hansbonini and @Ahrovan could you answer to this:

And can you try latest master?

[2019-07-10 09:07] LorenzMeier commented on #12451
@CarlOlsson is your argument that we have an axis mix (which is btw typical usage in this industry) or are you referring to using sensor measurements of the derivative instead of the numerical derivative?

[2019-07-10 09:15] CarlOlsson commented on #12451
I am only talking about changing the naming convention, nothing else.
Not sure what you mean with axis mix but the issue is that for newcomers who are familiar with Euler angles it is confusing that the "rollspeed" is actually not the rate of change of the roll angle. For vehicles that don't experience large attitude changes during flight the difference is small, but for e.g. tailsitters it is com

[2019-07-10 09:55] bresch commented on #9114
@Stifael What's the status on that?

[2019-07-10 10:13] bkueng commented on #12451
It's doable.

[2019-07-10 10:17] bresch commented on #9741
@BazookaJoe1900 The roll error you see in that plot is an artefact due to the Euler attitude representation. For example: the shortest way to move from a 45° pitch, 0° yaw to -45° pitch, 180° yaw is to perform a pure rotation around the vehicle's Z axis, no pitch change is required. This is why you see large pitch/roll tracking errors during sudden yaw changes.

For the rest, the aggressive change

[2019-07-10 10:17] #9741 closed

[2019-07-10 11:07] lamping7 commented on #12444
#12415 then possibly

[2019-07-10 11:23] julianoes commented on #4893
@sanderux is this still something you're interested?

[2019-07-10 11:35] LorenzMeier commented on #4893
I think we need to change the style of discussions here a bit: Issues that represent not outright bugs bugs but robustify the system in certain environments (like wind) need an owner and a commitment from the owner. @RomanBapst are you taking that into the roadmap and if yes for when? Otherwise please close and we can reconsider later.

[2019-07-10 11:41] julianoes commented on #11824
Sorry for the late response here. Thanks for the issue, log, and video, that's helpful!

Now I'm really puzzled at the weird thrust values as well as the pitch and roll setpoints. It looks like there were conflicting setpoints published somewhere that interfered with the controllers setpoints.

Is it possible that offboard messages were sent or QGC sent setpoints from a joystick?

[2019-07-10 11:48] julianoes commented on #9137
I can't read the logfile but I assume that the auto-disarm was not set for the SITL model and therefore it would not auto-disarm. Leaving this closed.

[2019-07-10 11:52] julianoes commented on #9320
I'm not sure who could still support Intel Aero at this point, so I'm leaving this closed. Sorry about that.

[2019-07-10 11:55] julianoes commented on #9297
Please re-open if something needs to be done here.

[2019-07-10 11:56] julianoes commented on #9266
@dagar re-open if this is still going to happen.

[2019-07-10 12:03] julianoes commented on #11133
Thanks for the issue, sorry for the late response. I would vote "Or -1?" given the fact that it's unknown. Are you interested in making a pull request?

[2019-07-10 12:05] bresch commented on #12451
This is correct and we should double check that we are not mixing body yaw rate and Euler yaw rate in the controllers.

For the rest, I like the `angular_rate_p/q/r` naming

[2019-07-10 12:06] julianoes commented on #11148
Hi @Seeelefant has this been resolved in the meantime?

[2019-07-10 12:07] julianoes commented on #11151
@roseyangyu did you find a solution in the meantime?

[2019-07-10 12:07] julianoes commented on #11156
Did you have any success fixing this? As far as I know this should be working.

[2019-07-10 12:11] julianoes commented on #11158
@bresch this question is for you.

[2019-07-10 12:13] julianoes commented on #11168
I'm not sure who still can help you with the Intel Aero. Intel doesn't seem to be supporting it anymore and the product itself is discontinuied.

[2019-07-10 12:16] julianoes commented on #11085
Sorry for the late response here.

How do you check "is working"? Can you do `gps status` in Mavlink shell to check what's up?

And when you connect to the GPS via computer, can you use the uBlox tool to check the settings of the GPS? Maybe some setting is incompatible with what the PX4 driver tries to do.

[2019-07-10 12:17] julianoes commented on #11470
Good suggestion. @bkueng do you have an opinion?

[2019-07-10 12:18] julianoes commented on #11471
Connected to #12439

[2019-07-10 12:18] Seeelefant commented on #11148
Hi @julianoes,
this has been resolved. It was a (timing ?) problem with intermediate USB-hub. After connecting directly to my PC it was working.
Best
--Seeelefant

[2019-07-10 12:19] julianoes commented on #11472
@ktskt thanks for the issues and sorry for the late response. These are good suggestions. Would you consider making a pull request to address these issues?

[2019-07-10 12:22] julianoes commented on #11477
Sorry for the late response and thanks for the issue. I wouldn't know who of the core developers has bandwidth to debug what's going on with the irlock pixy. If you can do so and send a pull request with the fixes, that would be fantastic, otherwise we will just have to leave this issue open to track the issue.

[2019-07-10 12:31] julianoes commented on #11478
Sorry for the late response. The takeoff position does not necessarily equal the origin (0,0,0) position. The origin is created where the estimator initializes. Does this answer your question @cimbar ?

[2019-07-10 12:32] #11483 closed

[2019-07-10 12:35] julianoes commented on #11483
For the flight controller to react to a propeller/motor/ESC failure it first would have to detect it. This requires ESCs with feedback which are not very common yet. Once there is feedback appropriate action could be taken. This is currently not implemented yet and there is no active work towards that just yet.

One thing to cope better with failures like this e.g. with a hexacopter or octocopter

[2019-07-10 12:36] julianoes commented on #11496
Feel free to make a pull request to fix it.

[2019-07-10 12:39] julianoes commented on #11507
Sorry for the late response. Have you found the reason for the GPS problems in the meantime? What I find interesting is that the GPS module reports fix type  = 4 which would mean RTK (floating) instead of only 3 (3D fix).

[2019-07-10 12:42] RomanBapst commented on #11628
@melisab Please provide a log file.

[2019-07-10 12:46] julianoes commented on #11148
Good to know, thanks for the note @Seeelefant!

[2019-07-10 12:47] julianoes commented on #4893
@LorenzMeier that's exactly why I'm asking these kinds of questions. If I don't get an answer or commitment, I'll close it.

[2019-07-10 12:47] RomanBapst commented on #9965
We are not able to see the log as it's private and does not exist anymore.
Furthermore, we have been doing many airspeed calibrations and have never encountered this problem.

[2019-07-10 12:47] #9965 closed

[2019-07-10 12:49] #12414 closed

[2019-07-10 12:53] julianoes commented on #11198
There are not several reports of RC issues with v1.9. @davids5 do you see a common theme?

[2019-07-10 12:55] julianoes commented on #11218
This is not really an issue, so I suggest to ask that sort of question in https://discuss.px4.io. And the more background or description or photos you give the better the chance for a good response.

[2019-07-10 12:55] julianoes commented on #11220
@RomanBapst sounds like this is not resolved.

[2019-07-10 12:56] julianoes commented on #11221
@DanielePettenuzzo could you follow up?

@multimensch have you tried v1.9 in the meantime?

[2019-07-10 12:57] julianoes commented on #11222
I suspect that's a hardware or tuning issue.

[2019-07-10 12:58] w407022008 opened #12454 "New driver I2C not initialised on px4fum-v3"
Hi,

I was trying to create a new sensor driver with Pixhawk 2.1 (px4fmu-v3), which is mainly copied from sf1xx driver. I have already created the relative topic and added the name in default.cmake. Everything was prepared well, but some wrong and never varied data showed in the nsh console, when i called the command "sfm test" (sfm is the driver name.).

However, if I used Arduino to drive the se

[2019-07-10 12:58] julianoes commented on #11227
@60ericleal60 have you found a solution in the meantime?

[2019-07-10 13:00] jlecoeur commented on #12451
In `vehicle_local_position_setpoint`, yawspeed is fine (heading_rate would work too). In `vehicle_attitude` however, I agree that what is now called rollspeed, pitchspeed and yawspeed are not the time derivatives of roll, pitch and yaw.

This has to be addressed for sake of correctness, but is not critical in my opinion, especially so as it involves a lot of name churn throughout the firmware and

[2019-07-10 13:00] julianoes commented on #11255
Sorry for the late response.
@tuloski you would have to share the code that sends these commands for us to help.

[2019-07-10 13:10] RomanBapst opened #12455 "VTOL front transition direction"
Currently the user has two possibilities to plan a front transition:

1) Use VTOL Takeoff waypoint: This is a combined takeoff and transition waypoint. The vehicle can transition in arbitrary directions, e.g. it does not align with the next waypoint. The idea is to use this type of waypoint with the weathervane feature such that the vehicle will automatically turn and transition into the wind.

2)

[2019-07-10 13:22] davids5 commented on #11198
On FMUv5 SUMD is processed by the PX4IO, there was a restructuring in the code to the RC lib. There was also a concern about parity errors not propagating from Nuttx to the app.  We should also check, that the PPM interrupts (on FMU and PX4IO) are off when the scanner has selected a serial protocol.

I would need to get a Graupner MZ-12 and a Falcon 12 receiver to test this.

[2019-07-10 13:32] dagar commented on #12439
What about the voltage drop over a flight?

[2019-07-10 13:55] lamping7 commented on #12444
https://github.com/PX4/Firmware/pull/12415 was just merged in. Try master and report back.

[2019-07-10 14:02] jasonbeach commented on #11070
My apologies for not responding sooner.  Here's the output of `ver all`

[code]
and the contents of `etc/extras.txt`
[code]
and finally what you asked for, the result of `mavlink status`
[code]
and the rates I see:
![mavlinkrates1](https://user-images.githubusercontent.com/2664807/60975290-be03fe80-a2f9-11e9-9042-abbcb7af614d.png)
This is on a vehicle that has an orginal pixhawk autopilot, but I'v

[2019-07-10 14:46] sanderux commented on #4893
Protection against failure of a component seems to me to be part of the core of the flight control system. Andreas had put it maybe a bit strange referring to wind, but the pusher assist method can -and should- be failsafed just like a sensor failsafe. The pusher could malfunction, or not function at all. The vehicle is more than capable to failover to regular quadcopter flight, and i think it sho

[2019-07-10 15:25] billiepratama commented on #11156
What is your problem? Maybe i can help you.
In my case, i tried to upgrade my ubuntu version to 18.04 and install ROS
Melodic. After that, everything works fine.

Le mer. 10 juil. 2019 à 19:08, Julian Oes <notifications@github.com> a
écrit :

[2019-07-10 15:38] CarlOlsson commented on #12451
From @dagar on slack

[2019-07-10 15:41] jlecoeur opened #12457 "Add option to force disarmed values when CBRK_IO_SAFETY is set"
**Describe problem solved by the proposed feature**
It is sometimes desired to lock all outputs to the disarmed values when disarmed. This is not possible when the safety switch is disabled (by setting CBRK_IO_SAFETY). In this case, the system is either in prearmed or in armed mode, and the servos are always free to move.

**Describe your preferred solution**
Add an option to lock all outputs to t

[2019-07-10 16:24] lgh5054 commented on #10146
@Doodle1106 Have you solved this problem?

[2019-07-10 16:25] sanderux commented on #12429
As discussed in the dev call: mavlink param to disable mavlink param reset

[2019-07-10 16:44] zhanghaijason opened #12458 "Parameter questions"
Sorry, I found the reason. Please delete, thanks.

[2019-07-10 17:09] DamDrone commented on #12375
@mcsauder CBRK_AIRSPD_CHK is set to 0
@dagar it say “command not found”

[2019-07-10 18:40] tuloski commented on #11133
Yes I can make a pull request.
Probably in a few days.

[2019-07-10 19:33] mcsauder commented on #12375
@dagar and @DamDrone , I dusted off my pixhawk (fmu-v2), loaded v1.8.1 firmware, set the airframe type to standard fixed wing, and verified that the ms4525 sensor I have started automatically, which it did.  I then upgraded to v1.9.2 via QGC and re-validated.  (I did need to calibrate my airspeed sensor, but the driver started appropriately.)

@DamDrone , I do not have an fmu-v3 or an ms5525 to te

[2019-07-10 22:26] dagar commented on #12361
@DanielePettenuzzo I'm pushing for a proper fix. https://github.com/PX4/Firmware/pull/12435

[2019-07-10 22:44] manotroll commented on #11085
so I bought another GPS and solved it but the same GPS still works on the pc

[2019-07-10 22:48] dlarue commented on #11085
what got me was how the GPS i had connected worked in Betaflight but would not work in PX4... This was on an omnibus

[2019-07-10 23:08] #12216 closed

[2019-07-10 23:13] #12458 closed

[2019-07-11 01:39] lgh5054 opened #12459 "vision fusion + ekf2"
hello

And ekf2_aid_mask 8
sys_companion (921600)
ekf2_eva_Noise 0.20
ekf2_evp_Noise 0.20
ekf2_ev_delay 175.0ms
I watched the paramedics

When viewing the mavros/local_position/pose value, Even if you stay still, you lose your position.
Is this a s problem  a connection speed problem with the pixhawk2 and tx2 board?

position value x y 0
![60888461-caed0780-a291-11e9-8f52-fbb9b8cc6aab](https://use

[2019-07-11 01:44] hamishwillee commented on #11262
@ItsTimmy When this is done, can you please let me know so we can create docs - along the lines of http://docs.px4.io/master/en/advanced_features/traffic_avoidance_adsb.html

FWIW (I'm not in charge) If it were me I would make transponder_target into a generic message - ie with next_lat, next_lon, and renamed vehicle_id so it can be used for both purposes. I'd proceed with the naive implementation

[2019-07-11 03:11] tecnic08 commented on #11220
I think I've found the root cause and how to fix.

Throttle drop are due to the TECS recognizing that the aircraft has higher altitude than the target altitude and TECS checks that the aircraft has enough airspeed for gliding. So TECS module commanded the aircraft to drop the thrust to glide down to the target altitude. If this was a fixed-wing aircraft, I think it should be fine although it sound

[2019-07-11 03:52] mhkabir commented on #12459
Please follow the issue template.

[2019-07-11 03:52] #12459 closed

[2019-07-11 06:56] arnozeelmaekers commented on #12444
Oke so I've tested a few scenarios:
- uav0 running a mission when no other drones are flying: works
- uav1 running a mission when no other drones are flying: does not work, does not take-off
- uav2 running a mission when no other drones are flying: works

- uav0 running a mission when there are other drones flying: does not work, does not take-off
- uav1 running a mission when there are other dron

[2019-07-11 07:35] ToppingXu opened #12460 "mission_state won't change after call save_mission_state"
https://github.com/PX4/Firmware/blob/master/src/modules/navigator/mission.cpp#L1541

should here need to add one line like:
mission_state.current_seq = _current_mission_index;

[2019-07-11 07:48] dk7xe commented on #11262
@ItsTimmy hi Timothy
- `next_lat` and `next_lon` can be ignored for the mapping for now.
- i would do a generic vehicle id as proposed by you because also regulation discussions are not yet final on this topic.

[2019-07-11 08:06] bkueng commented on #11470
I don't think this is valid, as you can make the system unstable with a specific set of tuning parameters that work perfectly well on another system. TPA is among those parameters.

[2019-07-11 08:06] #11470 closed

[2019-07-11 08:42] lgh5054 opened #12463 "ekf2 + vision error"
**Describe the bug**

When viewing the mavros/local_position/pose value, Even if you stay still, you lose your position.

Is this a slam problem or a connection speed problem with the pixhawk and tx2 board?

At first, it shows the correct position value, but after a while, x y is fixed at zero

There are many of these questions, but all of them have not been solved.

I installed the firmware versi

[2019-07-11 09:58] julianoes commented on #11468
@bresch is this still an issue?

[2019-07-11 10:01] julianoes commented on #10621
Is this still an issue?

[2019-07-11 10:01] julianoes commented on #10625
@tecdee can you check again?

[2019-07-11 10:02] julianoes commented on #10638
@davids5 is there still work to do here?

[2019-07-11 10:17] davids5 commented on #10638
@julianoes - yes but with UAVCAN 1.0 pending there will be a lot to do, including redoing all the bootloaders.

@pavel-kirienko can we get a larger UUID in the 1.0 spec?

[2019-07-11 11:18] lamping7 commented on #12444
What does "does not takeoff" mean? What's the error produced?

[2019-07-11 11:37] arnozeelmaekers commented on #12444
Trying to send uav1 on a mission results in :
Note the mission that get's send works on uav0 and uav2
[code]
Trying to let uav0 take-off when uav2 is already flying returns:
[code]

But uav0 never takes-off a bit later in the console log it returns this:
[code]
*Full log of uav0 trying to take of after uav2: https://pastebin.com/XwcZ6jAP*

[2019-07-11 11:43] #11743 closed

[2019-07-11 12:24] RavWin commented on #10621
Yes, cause my patch wasn't applied

[2019-07-11 13:23] lgh5054 commented on #12463
https://logs.px4.io/plot_app?log=3875fcb0-1798-4973-8213-e9a74f420a3e#Nav-Sampling-Regularity-of-Sensor-Data

booting log

[2019-07-11 13:39] #11956 closed

[2019-07-11 15:10] ar1040 commented on #12278
@mcsauder, my hardware is a V3. I bought these units from robotshop.com, but they are original Garmins. I can use the PWM protocol and it works, but it only reads 12 meters max, versus 17 meters using I2C so I would prefer to have the extra 5 meters of distance.

I think it is also worth mentioning I am using a Pixhawk Cube and not the Pixhawk 4. I am also using the 1.8.2 f13bbac firmware version.

[2019-07-11 15:46] #11053 closed

[2019-07-11 16:03] dagar commented on #12361
@RomanBapst more updates coming or should we start making these changes (for v1.9.3 at this point)?

[2019-07-11 16:58] bresch commented on #12439
@cmic0 Can you give links to you dev branch, prototype script and ref papers of your hover throttle estimator please?

[2019-07-11 17:04] dagar commented on #12460
Hi @ToppingXu, could you open a pull request with the change? https://help.github.com/en/articles/creating-a-pull-request

[2019-07-11 17:04] bresch commented on #12439
@dagar Voltage drop compensation only works if you have it calibrated (feedforward compensation). Here we want an estimator that basically learns the hover thrust such that the user doesn't even need to specify the hover thrust via a parameter and that self-adjusts during flight.

[2019-07-11 18:48] pavel-kirienko commented on #10638
The argument seems too PX4-specific. Rest of the world [uses 128-bit UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier) so I would prefer to stay with the existing standard.

[2019-07-11 18:52] lamping7 commented on #12444
You're not giving me enough info here. I just ran master. They all go, however they all perform the same mission because of #9046.
![Screenshot from 2019-07-11 14-50-29](https://user-images.githubusercontent.com/10533707/61076976-7067be80-a3eb-11e9-833a-8767b3aacf8b.png)

[2019-07-11 18:55] lamping7 commented on #12444
It wouldn't hurt to read https://github.com/PX4/Firmware/pull/12306#issuecomment-503809590

[2019-07-11 19:10] lamping7 commented on #9046
@dagar Do we consider a change like this to address the problem? lamping7@15325ff

[2019-07-11 19:42] dagar commented on #12439
I'm talking about the hover thrust changing over the course of a flight as a result of the battery discharge (on typical hobby ESCs). The estimated (and committed) hover thrust by the end of a flight will then be off on the next flight with a fresh battery. Yes it will be adjusted again, but it might not be correct at takeoff. Mainly just curious if that's a consideration.

![Screen Shot 2019-07-1